/* BK 20210830 have moved this out of cms_header.txt  */

h3 { font-size:140%; margin-top:20px; }
/* remove underline from links... */
a { text-decoration:none !important; font-weight:bold; }
/* prevent long lines of code from widening the table */
/* pre { word-wrap:break-word; white-space:pre-wrap; } */
/* following creates a scrollbar: */
/* pre { overflow:auto; width:auto; } */
/* following causes text to flow out of right side: */
pre { background-color:#f0f0f0; overflow:visible; }
/* simple test to display on a phone screen... */
/* margin-left and margin-right achieves same as align="center" in table tag... */
 @media only screen and (max-resolution: 132dpi) {
  table.maintable { table-layout:fixed; width:620px; margin-left:auto; margin-right:auto; }
  p { font-size:110% }
 }
 @media only screen and (min-resolution: 133dpi) {
  table.maintable { table-layout:fixed; width:100%; }
 }
/* support for syntax-highlighted code exported by Geany */
.style_2 { color:#d00000; }
.style_3 { color:#007f00; }
.style_4 { color:#00007f; font-weight:bold; }
.style_5 { color:#ff8000; }
.style_6 { color:#ff8000; }
.style_7 { color:#301010; }
.style_8 { color:#000000; }
.style_9 { color:#000000; }
.style_10 { color:#000080; }
.style_11 { color: #008000; }

