[Desktop Entry]
Encoding=UTF-8
Name[af]=LibreOffice Draw vektorredigeerder
Name[am]=LibreOffice Draw የቬክተር አርታዒ
Name[ar]=LibreOffice ﺕﺎﻬﺠﺘﻤﻟﺍ ﻢﺳﺭ ﺭﺮﺤﻣ
Name[as]=LibreOffice ভেক্টৰ সম্পাদক আঁকক
Name[ay]=LibreOffice Uñacht’ayaña vector editor
Name[az]=LibreOffice Draw vektor redaktoru
Name[ba]=LibreOffice Draw векторы мөхәррире
Name[be]=Вектарны рэдактар LibreOffice Draw
Name[bg]=Векторен редактор LibreOffice Draw
Name[bm]=LibreOffice Ja vektɔri sɛgɛsɛgɛlikɛlan
Name[bn]=LibreOffice ড্র ভেক্টর সম্পাদক
Name[bo]=ལི་པུ་ལི་ཧྥེ་སི་རི་མོ་འབྲི་བའི་ཕྱོགས་སྟོན་རྩོམ་སྒྲིག་པ།
Name[bs]=LibreOffice Draw vektorski uređivač
Name[ca]=Editor de vectors de LibreOffice Draw
Name[co]=Editor di vettori di LibreOffice Draw
Name[cs]=Vektorový editor LibreOffice Draw
Name[cy]=Golygydd fector LibreOffice Draw
Name[da]=LibreOffice Draw vektor editor
Name[de]=LibreOffice Draw-Vektoreditor
Name[dv]=ރޓަޑިއެ ރޓަކްވެ ރޯޑް ސްފީއޮރޭބްލި
Name[ee]=LibreOffice Ta vektor nuŋlɔla
Name[el]=Διανυσματικό πρόγραμμα επεξεργασίας LibreOffice Draw
Name[en]=LibreOffice Draw vector editor
Name[eo]=LibreOffice Draw vektora redaktilo
Name[es]=Editor de vectores de dibujo de LibreOffice
Name[et]=LibreOffice Draw vektorredaktor
Name[eu]=LibreOffice Draw bektorial editorea
Name[fa]=LibreOffice Draw ﯼﺭﺍﺩﺮﺑ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=LibreOffice Draw -vektorieditori
Name[fj]=LibreOffice Droini vector Edita
Name[fo]=LibreOffice Draw vector editor
Name[fr]=Éditeur vectoriel LibreOffice Draw
Name[fy]=LibreOffice Draw vector editor
Name[ga]=Eagarthóir veicteoir LibreOffice
Name[gd]=Deasaiche vector LibreOffice
Name[gl]=Editor de vectores de LibreOffice Draw
Name[gn]=LibreOffice Edibuja editor vectorial rehegua
Name[gu]=લીબરઓફીસ ડ્રો વેક્ટર એડિટર
Name[ha]=LibreOffice Zana vector editan
Name[he]=LibreOffice Draw ךרוע רוטקו
Name[hi]=लिबरऑफिस ड्रा वेक्टर संपादक
Name[hr]=LibreOffice Draw vektorski uređivač
Name[ht]=Editè vektè LibreOffice Draw
Name[hu]=LibreOffice Draw vektorszerkesztő
Name[hy]=LibreOffice Draw վեկտորի խմբագիր
Name[id]=Editor vektor Gambar LibreOffice
Name[ig]=LibreOffice Draw vector editọ
Name[is]=LibreOffice Draw vektor ritstjóri
Name[it]=Editor di vettori LibreOffice Draw
Name[iu]=LibreOffice Draw vector−ᒧᑦ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=LibreOffice Draw ベクター エディター
Name[jv]=Editor vektor LibreOffice Draw
Name[ka]=LibreOffice Draw ვექტორული რედაქტორი
Name[kk]=LibreOffice Draw векторлық редакторы
Name[km]=កម្មវិធីនិពន្ធវ៉ិចទ័រ LibreOffice Draw
Name[kn]=ಲಿಬ್ರೆ ಆಫೀಸ್ ಡ್ರಾ ವೆಕ್ಟರ್ ಎಡಿಟರ್
Name[ko]=LibreOffice Draw 벡터 편집기
Name[ku]=Edîtorê vektorê LibreOffice Draw
Name[ky]=LibreOffice Draw вектордук редактору
Name[la]=LibreOffice Contrahe vector editor
Name[lb]=LibreOffice Draw Vector Editor
Name[lg]=LibreOffice Draw omuwandiisi wa vector
Name[ln]=LibreOffice Draw mobongisi ya vecteur
Name[lo]=LibreOffice Draw vector editor
Name[lt]=LibreOffice Draw vektorinis redaktorius
Name[lv]=LibreOffice Draw vektoru redaktors
Name[mg]=LibreOffice Draw vector editor
Name[mi]=FreeOffice Draw ētita vector
Name[mk]=Векторски уредувач на LibreOffice Draw
Name[ml]=ലിബ്രെ ഓഫീസ് ഡ്രോ വെക്റ്റർ എഡിറ്റർ
Name[mn]=LibreOffice Draw вектор засварлагч
Name[mr]=लिबरऑफिस ड्रॉ वेक्टर संपादक
Name[ms]=Editor vektor LibreOffice Draw
Name[mt]=LibreOffice Draw editur tal-vettur
Name[my]=LibreOffice Draw vector တည်းဖြတ်သူ
Name[ne]=LibreOffice ड्र वेक्टर सम्पादक
Name[nl]=LibreOffice Draw-vectoreditor
Name[no]=LibreOffice Draw vektor editor
Name[ny]=LibreOffice Draw vekitala mkonzi
Name[om]=LibreOffice Gulaalaa veektarii kaasi
Name[or]=LibreOffice ଡ୍ର ଭେକ୍ଟର ଏଡିଟର୍ |
Name[pa]=ਲਿਬਰੇਆਫਿਸ ਡਰਾਅ ਵੈਕਟਰ ਸੰਪਾਦਕ
Name[pl]=Edytor wektorów LibreOffice Draw
Name[ps]=ﺮﯾﺪﻣ ﺭﻮﺘﮑﯾﻭ ﺍﺭډ ﺲﻓﺁ ﺮﺒﯿﻟ ﺩ
Name[pt]=Editor vetorial LibreOffice Draw
Name[qu]=LibreOffice Siqi vector allichaq
Name[ro]=Editor de vectori LibreOffice Draw
Name[ru]=Векторный редактор LibreOffice Draw
Name[rw]=LibreOffice Shushanya umwanditsi mukuru
Name[sa]=LibreOffice सदिश सम्पादकं आकर्षयन्तु
Name[sd]=LibreOffice Draw ﺮٽﻳڊﻳﺍ ﺮﭩﮑﯾﻭ
Name[si]=LibreOffice Draw දෛශික සංස්කාරකය
Name[sk]=vektorový editor LibreOffice Draw
Name[sl]=Vektorski urejevalnik LibreOffice Draw
Name[sm]=FreeOffice Draw vector editor
Name[sn]=LibreOffice Draw vector mupepeti
Name[so]=LibreOffice Draw tifaftiraha vector
Name[sq]=Redaktori i vektorit të LibreOffice Draw
Name[st]=LibreOffice Draw vector editor
Name[su]=Editor vektor LibreOffice Draw
Name[sv]=LibreOffice Draw vektorredigerare
Name[sw]=Kihariri cha vekta cha LibreOffice Chora
Name[ta]=LibreOffice டிரா வெக்டர் எடிட்டர்
Name[te]=లిబ్రేఆఫీస్ డ్రా వెక్టర్ ఎడిటర్
Name[tg]=Муҳаррири вектории LibreOffice Draw
Name[th]=โปรแกรมแก้ไขเวกเตอร์ LibreOffice Draw
Name[ti]=LibreOffice ስእሊ ቬክተር ኣርታዒ
Name[tk]=“LibreOffice Draw” wektor redaktory
Name[tl]=LibreOffice Draw vector editor
Name[to]=LibreOffice ta vector ʻetita
Name[tr]=LibreOffice Draw vektör düzenleyici
Name[ts]=LibreOffice Dirowa muhleri wa vector
Name[tt]=LibreOffice сызу вектор редакторы
Name[tw]=LibreOffice Twe vector editor no
Name[ty]=LibreOffice Draw vector editor
Name[ug]=LibreOffice ﻯﺮﯨﺮﮬەﺗ ﺭﻮﺘﻜﯦﯞ ﺶﯨﺰﯩﺳ
Name[uk]=Векторний редактор LibreOffice Draw
Name[ur]=LibreOffice ﺮﭩﯾﮉﯾﺍ ﺮﭩﮑﯾﻭ ﺍﺭﮈ
Name[uz]=LibreOffice Draw vektor muharriri
Name[vi]=Trình soạn thảo vector LibreOffice Draw
Name[xh]=LibreOffice Zoba umhleli wevektha
Name[yi]=LibreOffice Draw ראָטקאַדער ראָטקעוו
Name[yo]=LibreOffice Fa fekito olootu
Name[zh]=LibreOffice Draw 矢量编辑器
Name[zu]=Umhleli we-vector we-LibreOffice Draw
Name=LibreOffice Draw vector editor
Icon=libreoffice-draw.png
Comment[af]=LibreOffice Draw vektorredigeerder
Comment[am]=LibreOffice Draw የቬክተር አርታዒ
Comment[ar]=LibreOffice ﺕﺎﻬﺠﺘﻤﻟﺍ ﻢﺳﺭ ﺭﺮﺤﻣ
Comment[as]=LibreOffice ভেক্টৰ সম্পাদক আঁকক
Comment[ay]=LibreOffice Uñacht’ayaña vector editor
Comment[az]=LibreOffice Draw vektor redaktoru
Comment[ba]=LibreOffice Draw векторы мөхәррире
Comment[be]=Вектарны рэдактар LibreOffice Draw
Comment[bg]=Векторен редактор LibreOffice Draw
Comment[bm]=LibreOffice Ja vektɔri sɛgɛsɛgɛlikɛlan
Comment[bn]=LibreOffice ড্র ভেক্টর সম্পাদক
Comment[bo]=ལི་པུ་ལི་ཧྥེ་སི་རི་མོ་འབྲི་བའི་ཕྱོགས་སྟོན་རྩོམ་སྒྲིག་པ།
Comment[bs]=LibreOffice Draw vektorski uređivač
Comment[ca]=Editor de vectors de LibreOffice Draw
Comment[co]=Editor di vettori di LibreOffice Draw
Comment[cs]=Vektorový editor LibreOffice Draw
Comment[cy]=Golygydd fector LibreOffice Draw
Comment[da]=LibreOffice Draw vektor editor
Comment[de]=LibreOffice Draw-Vektoreditor
Comment[dv]=ރޓަޑިއެ ރޓަކްވެ ރޯޑް ސްފީއޮރޭބްލި
Comment[ee]=LibreOffice Ta vektor nuŋlɔla
Comment[el]=Διανυσματικό πρόγραμμα επεξεργασίας LibreOffice Draw
Comment[en]=LibreOffice Draw vector editor
Comment[eo]=LibreOffice Draw vektora redaktilo
Comment[es]=Editor de vectores de dibujo de LibreOffice
Comment[et]=LibreOffice Draw vektorredaktor
Comment[eu]=LibreOffice Draw bektorial editorea
Comment[fa]=LibreOffice Draw ﯼﺭﺍﺩﺮﺑ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=LibreOffice Draw -vektorieditori
Comment[fj]=LibreOffice Droini vector Edita
Comment[fo]=LibreOffice Draw vector editor
Comment[fr]=Éditeur vectoriel LibreOffice Draw
Comment[fy]=LibreOffice Draw vector editor
Comment[ga]=Eagarthóir veicteoir LibreOffice
Comment[gd]=Deasaiche vector LibreOffice
Comment[gl]=Editor de vectores de LibreOffice Draw
Comment[gn]=LibreOffice Edibuja editor vectorial rehegua
Comment[gu]=લીબરઓફીસ ડ્રો વેક્ટર એડિટર
Comment[ha]=LibreOffice Zana vector editan
Comment[he]=LibreOffice Draw ךרוע רוטקו
Comment[hi]=लिबरऑफिस ड्रा वेक्टर संपादक
Comment[hr]=LibreOffice Draw vektorski uređivač
Comment[ht]=Editè vektè LibreOffice Draw
Comment[hu]=LibreOffice Draw vektorszerkesztő
Comment[hy]=LibreOffice Draw վեկտորի խմբագիր
Comment[id]=Editor vektor Gambar LibreOffice
Comment[ig]=LibreOffice Draw vector editọ
Comment[is]=LibreOffice Draw vektor ritstjóri
Comment[it]=Editor di vettori LibreOffice Draw
Comment[iu]=LibreOffice Draw vector−ᒧᑦ ᐋᖅᑭᒃᓱᐃᔨ
Comment[ja]=LibreOffice Draw ベクター エディター
Comment[jv]=Editor vektor LibreOffice Draw
Comment[ka]=LibreOffice Draw ვექტორული რედაქტორი
Comment[kk]=LibreOffice Draw векторлық редакторы
Comment[km]=កម្មវិធីនិពន្ធវ៉ិចទ័រ LibreOffice Draw
Comment[kn]=ಲಿಬ್ರೆ ಆಫೀಸ್ ಡ್ರಾ ವೆಕ್ಟರ್ ಎಡಿಟರ್
Comment[ko]=LibreOffice Draw 벡터 편집기
Comment[ku]=Edîtorê vektorê LibreOffice Draw
Comment[ky]=LibreOffice Draw вектордук редактору
Comment[la]=LibreOffice Contrahe vector editor
Comment[lb]=LibreOffice Draw Vector Editor
Comment[lg]=LibreOffice Draw omuwandiisi wa vector
Comment[ln]=LibreOffice Draw mobongisi ya vecteur
Comment[lo]=LibreOffice Draw vector editor
Comment[lt]=LibreOffice Draw vektorinis redaktorius
Comment[lv]=LibreOffice Draw vektoru redaktors
Comment[mg]=LibreOffice Draw vector editor
Comment[mi]=FreeOffice Draw ētita vector
Comment[mk]=Векторски уредувач на LibreOffice Draw
Comment[ml]=ലിബ്രെ ഓഫീസ് ഡ്രോ വെക്റ്റർ എഡിറ്റർ
Comment[mn]=LibreOffice Draw вектор засварлагч
Comment[mr]=लिबरऑफिस ड्रॉ वेक्टर संपादक
Comment[ms]=Editor vektor LibreOffice Draw
Comment[mt]=LibreOffice Draw editur tal-vettur
Comment[my]=LibreOffice Draw vector တည်းဖြတ်သူ
Comment[ne]=LibreOffice ड्र वेक्टर सम्पादक
Comment[nl]=LibreOffice Draw-vectoreditor
Comment[no]=LibreOffice Draw vektor editor
Comment[ny]=LibreOffice Draw vekitala mkonzi
Comment[om]=LibreOffice Gulaalaa veektarii kaasi
Comment[or]=LibreOffice ଡ୍ର ଭେକ୍ଟର ଏଡିଟର୍ |
Comment[pa]=ਲਿਬਰੇਆਫਿਸ ਡਰਾਅ ਵੈਕਟਰ ਸੰਪਾਦਕ
Comment[pl]=Edytor wektorów LibreOffice Draw
Comment[ps]=ﺮﯾﺪﻣ ﺭﻮﺘﮑﯾﻭ ﺍﺭډ ﺲﻓﺁ ﺮﺒﯿﻟ ﺩ
Comment[pt]=Editor vetorial LibreOffice Draw
Comment[qu]=LibreOffice Siqi vector allichaq
Comment[ro]=Editor de vectori LibreOffice Draw
Comment[ru]=Векторный редактор LibreOffice Draw
Comment[rw]=LibreOffice Shushanya umwanditsi mukuru
Comment[sa]=LibreOffice सदिश सम्पादकं आकर्षयन्तु
Comment[sd]=LibreOffice Draw ﺮٽﻳڊﻳﺍ ﺮﭩﮑﯾﻭ
Comment[si]=LibreOffice Draw දෛශික සංස්කාරකය
Comment[sk]=vektorový editor LibreOffice Draw
Comment[sl]=Vektorski urejevalnik LibreOffice Draw
Comment[sm]=FreeOffice Draw vector editor
Comment[sn]=LibreOffice Draw vector mupepeti
Comment[so]=LibreOffice Draw tifaftiraha vector
Comment[sq]=Redaktori i vektorit të LibreOffice Draw
Comment[st]=LibreOffice Draw vector editor
Comment[su]=Editor vektor LibreOffice Draw
Comment[sv]=LibreOffice Draw vektorredigerare
Comment[sw]=Kihariri cha vekta cha LibreOffice Chora
Comment[ta]=LibreOffice டிரா வெக்டர் எடிட்டர்
Comment[te]=లిబ్రేఆఫీస్ డ్రా వెక్టర్ ఎడిటర్
Comment[tg]=Муҳаррири вектории LibreOffice Draw
Comment[th]=โปรแกรมแก้ไขเวกเตอร์ LibreOffice Draw
Comment[ti]=LibreOffice ስእሊ ቬክተር ኣርታዒ
Comment[tk]=“LibreOffice Draw” wektor redaktory
Comment[tl]=LibreOffice Draw vector editor
Comment[to]=LibreOffice ta vector ʻetita
Comment[tr]=LibreOffice Draw vektör düzenleyici
Comment[ts]=LibreOffice Dirowa muhleri wa vector
Comment[tt]=LibreOffice сызу вектор редакторы
Comment[tw]=LibreOffice Twe vector editor no
Comment[ty]=LibreOffice Draw vector editor
Comment[ug]=LibreOffice ﻯﺮﯨﺮﮬەﺗ ﺭﻮﺘﻜﯦﯞ ﺶﯨﺰﯩﺳ
Comment[uk]=Векторний редактор LibreOffice Draw
Comment[ur]=LibreOffice ﺮﭩﯾﮉﯾﺍ ﺮﭩﮑﯾﻭ ﺍﺭﮈ
Comment[uz]=LibreOffice Draw vektor muharriri
Comment[vi]=Trình soạn thảo vector LibreOffice Draw
Comment[xh]=LibreOffice Zoba umhleli wevektha
Comment[yi]=LibreOffice Draw ראָטקאַדער ראָטקעוו
Comment[yo]=LibreOffice Fa fekito olootu
Comment[zh]=LibreOffice Draw 矢量编辑器
Comment[zu]=Umhleli we-vector we-LibreOffice Draw
Comment=LibreOffice Draw vector editor
Exec=sdraw
Terminal=false
Type=Application
Categories=X-Graphic-draw
GenericName=Draw
