[Desktop Entry]
Encoding=UTF-8
Name[af]=Gvncviewer VNC kliënt
Name[am]=Gvncviewer VNC ደንበኛ
Name[ar]=Gvncviewer VNC ﻞﻴﻤﻋ
Name[as]=Gvncviewer VNC ক্লাএন্ট
Name[ay]=Gvncviewer VNC ukax mä cliente ukhamawa
Name[az]=Gvncviewer VNC müştəri
Name[ba]=Gvncviewer VNC клиенты
Name[be]=Кліент Gvncviewer VNC
Name[bg]=Gvncviewer VNC клиент
Name[bm]=Gvncviewer VNC ka kiliyan
Name[bn]=Gvncviewer VNC ক্লায়েন্ট
Name[bo]=Gvncviewer VNC 客户端
Name[bs]=Gvncviewer VNC klijent
Name[ca]=Client Gvncviewer VNC
Name[co]=Cliente Gvncviewer VNC
Name[cs]=Klient Gvncviewer VNC
Name[cy]=Gvncviewer VNC cleient
Name[da]=Gvncviewer VNC klient
Name[de]=Gvncviewer VNC-Client
Name[dv]=ވެޓެންއިލަކް ސީންއެވީ ރއައުވިސީންއެވީޖީ
Name[ee]=Gvncviewer VNC ƒe asitsalawo
Name[el]=Πελάτης Gvncviewer VNC
Name[en]=Gvncviewer VNC client
Name[eo]=Gvncviewer VNC-kliento
Name[es]=Cliente Gvncviewer VNC
Name[et]=Gvncviewer VNC klient
Name[eu]=Gvncviewer VNC bezeroa
Name[fa]=Gvncviewer VNC ﺖﻨﯾﻼ﻿ﮐ
Name[fi]=Gvncviewer VNC-asiakas
Name[fj]=Gvncviewer VNC client
Name[fo]=Gvncviewer VNC client
Name[fr]=Client VNC Gvncviewer
Name[fy]=Gvncviewer VNC kliïnt
Name[ga]=Gvncviewer cliant VNC
Name[gd]=Neach-dèiligidh Gvncviewer VNC
Name[gl]=Cliente Gvncviewer VNC
Name[gn]=Gvncviewer VNC cliente rehegua
Name[gu]=Gvncviewer VNC ક્લાયન્ટ
Name[ha]=Gvncviewer VNC abokin ciniki
Name[he]=Gvncviewer VNC חוקל
Name[hi]=Gvncviewer VNC क्लाइंट
Name[hr]=Gvncviewer VNC klijent
Name[ht]=Gvncviewer VNC kliyan
Name[hu]=Gvncviewer VNC kliens
Name[hy]=Gvncviewer VNC հաճախորդ
Name[id]=Klien VNC Gvncviewer
Name[ig]=Onye ahịa Gvncviewer VNC
Name[is]=Gvncviewer VNC viðskiptavinur
Name[it]=Client Gvncviewer VNC
Name[iu]=Gvncviewer VNC-ᒧᑦ ᐃᑲᔪᖅᑕᐅᔪᖅ
Name[ja]=Gvncviewer VNC クライアント
Name[jv]=Klien Gvncviewer VNC
Name[ka]=Gvncviewer VNC კლიენტი
Name[kk]=Gvncviewer VNC клиенті
Name[km]=ម៉ាស៊ីនភ្ញៀវ Gvncviewer VNC
Name[kn]=Gvncviewer VNC ಕ್ಲೈಂಟ್
Name[ko]=Gvncviewer VNC 클라이언트
Name[ku]=muwekîlê Gvncviewer VNC
Name[ky]=Gvncviewer VNC кардары
Name[la]=Gvncviewer VNC client
Name[lb]=Gvncviewer VNC Client
Name[lg]=Gvncviewer kasitoma wa VNC
Name[ln]=Gvncviewer Client ya VNC
Name[lo]=ລູກຄ້າ Gvnncviewer VNC
Name[lt]=Gvncviewer VNC klientas
Name[lv]=Gvncviewer VNC klients
Name[mg]=Gvncviewer VNC mpanjifa
Name[mi]=Kaihoko Gvncviewer VNC
Name[mk]=Клиент на Gvncviewer VNC
Name[ml]=Gvncviewer VNC ക്ലയന്റ്
Name[mn]=Gvncviewer VNC үйлчлүүлэгч
Name[mr]=Gvncviewer VNC क्लायंट
Name[ms]=Pelanggan VNC Gvncviewer
Name[mt]=Gvncviewer VNC klijent
Name[my]=Gvnncviewer VNC ကလိုင်းယင့်
Name[ne]=Gvncviewer VNC ग्राहक
Name[nl]=Gvncviewer VNC-client
Name[no]=Gvncviewer VNC-klient
Name[ny]=Gvncviewer VNC kasitomala
Name[om]=Gvncviewer maamila VNC
Name[or]=Gvncviewer VNC କ୍ଲାଏଣ୍ଟ |
Name[pa]=Gvncviewer VNC ਕਲਾਇੰਟ
Name[pl]=Klient Gvncviewer VNC
Name[ps]=ﻊﺟﺍﺮﻣ Gvncviewer VNC ﺩ
Name[pt]=Cliente VNC Gvncviewer
Name[qu]=Gvncviewer VNC nisqa rantiq
Name[ro]=Client Gvncviewer VNC
Name[ru]=Gvncviewer VNC-клиент
Name[rw]=Gvncviewer umukiriya wa VNC
Name[sa]=Gvncviewer VNC क्लायन्ट
Name[sd]=Gvncviewer VNC ٽﻨﺋﻼ﻿ڪ
Name[si]=Gvncviewer VNC සේවාදායකයා
Name[sk]=Klient Gvncviewer VNC
Name[sl]=Odjemalec Gvncviewer VNC
Name[sm]=Gvncviewer VNC client
Name[sn]=Gvncviewer VNC mutengi
Name[so]=Gvncviewer VNC macmiilka
Name[sq]=Klienti Gvncviewer VNC
Name[st]=Moreki oa Gvncviewer VNC
Name[su]=Gvncviewer VNC klien
Name[sv]=Gvncviewer VNC-klient
Name[sw]=Mteja wa VNC wa Gvncviewer
Name[ta]=Gvncviewer VNC கிளையன்ட்
Name[te]=Gvncviewer VNC క్లయింట్
Name[tg]=Мизоҷи Gvncviewer VNC
Name[th]=Gvncviewer ไคลเอนต์ VNC
Name[ti]=Gvncviewer VNC ዓሚል እዩ።
Name[tk]=Gvncviewer VNC müşderisi
Name[tl]=Gvncviewer VNC client
Name[to]=Gvncviewer VANC client
Name[tr]=Gvncviewer VNC istemcisi
Name[ts]=Gvncviewer Xitirhisiwa xa VNC
Name[tt]=Gvncviewer VNC клиенты
Name[tw]=Gvncviewer VNC afɛfoɔ
Name[ty]=Gvncviewer VNC client
Name[ug]=Gvncviewer VNC ﻯﺭﺍﺪﯨﺮﯧﺧ
Name[uk]=Клієнт Gvncviewer VNC
Name[ur]=Gvncviewer VNC ﭧﻨﺋﻼ﻿ﮐ
Name[uz]=Gvncviewer VNC mijozi
Name[vi]=Máy khách Gvncviewer VNC
Name[xh]=Umxhasi we-Gvncviewer VNC
Name[yi]=Gvncviewer VNC טנעילק
Name[yo]=Gvncviewer VNC onibara
Name[zh]=Gvncviewer VNC 客户端
Name[zu]=Iklayenti le-Gvncviewer VNC
Name=Gvncviewer VNC client
Icon=pc-2x.xpm
Comment[af]=Gvncviewer VNC kliënt
Comment[am]=Gvncviewer VNC ደንበኛ
Comment[ar]=Gvncviewer VNC ﻞﻴﻤﻋ
Comment[as]=Gvncviewer VNC ক্লাএন্ট
Comment[ay]=Gvncviewer VNC ukax mä cliente ukhamawa
Comment[az]=Gvncviewer VNC müştəri
Comment[ba]=Gvncviewer VNC клиенты
Comment[be]=Кліент Gvncviewer VNC
Comment[bg]=Gvncviewer VNC клиент
Comment[bm]=Gvncviewer VNC ka kiliyan
Comment[bn]=Gvncviewer VNC ক্লায়েন্ট
Comment[bo]=Gvncviewer VNC 客户端
Comment[bs]=Gvncviewer VNC klijent
Comment[ca]=Client Gvncviewer VNC
Comment[co]=Cliente Gvncviewer VNC
Comment[cs]=Klient Gvncviewer VNC
Comment[cy]=Gvncviewer VNC cleient
Comment[da]=Gvncviewer VNC klient
Comment[de]=Gvncviewer VNC-Client
Comment[dv]=ވެޓެންއިލަކް ސީންއެވީ ރއައުވިސީންއެވީޖީ
Comment[ee]=Gvncviewer VNC ƒe asitsalawo
Comment[el]=Πελάτης Gvncviewer VNC
Comment[en]=Gvncviewer VNC client
Comment[eo]=Gvncviewer VNC-kliento
Comment[es]=Cliente Gvncviewer VNC
Comment[et]=Gvncviewer VNC klient
Comment[eu]=Gvncviewer VNC bezeroa
Comment[fa]=Gvncviewer VNC ﺖﻨﯾﻼ﻿ﮐ
Comment[fi]=Gvncviewer VNC-asiakas
Comment[fj]=Gvncviewer VNC client
Comment[fo]=Gvncviewer VNC client
Comment[fr]=Client VNC Gvncviewer
Comment[fy]=Gvncviewer VNC kliïnt
Comment[ga]=Gvncviewer cliant VNC
Comment[gd]=Neach-dèiligidh Gvncviewer VNC
Comment[gl]=Cliente Gvncviewer VNC
Comment[gn]=Gvncviewer VNC cliente rehegua
Comment[gu]=Gvncviewer VNC ક્લાયન્ટ
Comment[ha]=Gvncviewer VNC abokin ciniki
Comment[he]=Gvncviewer VNC חוקל
Comment[hi]=Gvncviewer VNC क्लाइंट
Comment[hr]=Gvncviewer VNC klijent
Comment[ht]=Gvncviewer VNC kliyan
Comment[hu]=Gvncviewer VNC kliens
Comment[hy]=Gvncviewer VNC հաճախորդ
Comment[id]=Klien VNC Gvncviewer
Comment[ig]=Onye ahịa Gvncviewer VNC
Comment[is]=Gvncviewer VNC viðskiptavinur
Comment[it]=Client Gvncviewer VNC
Comment[iu]=Gvncviewer VNC-ᒧᑦ ᐃᑲᔪᖅᑕᐅᔪᖅ
Comment[ja]=Gvncviewer VNC クライアント
Comment[jv]=Klien Gvncviewer VNC
Comment[ka]=Gvncviewer VNC კლიენტი
Comment[kk]=Gvncviewer VNC клиенті
Comment[km]=ម៉ាស៊ីនភ្ញៀវ Gvncviewer VNC
Comment[kn]=Gvncviewer VNC ಕ್ಲೈಂಟ್
Comment[ko]=Gvncviewer VNC 클라이언트
Comment[ku]=muwekîlê Gvncviewer VNC
Comment[ky]=Gvncviewer VNC кардары
Comment[la]=Gvncviewer VNC client
Comment[lb]=Gvncviewer VNC Client
Comment[lg]=Gvncviewer kasitoma wa VNC
Comment[ln]=Gvncviewer Client ya VNC
Comment[lo]=ລູກຄ້າ Gvnncviewer VNC
Comment[lt]=Gvncviewer VNC klientas
Comment[lv]=Gvncviewer VNC klients
Comment[mg]=Gvncviewer VNC mpanjifa
Comment[mi]=Kaihoko Gvncviewer VNC
Comment[mk]=Клиент на Gvncviewer VNC
Comment[ml]=Gvncviewer VNC ക്ലയന്റ്
Comment[mn]=Gvncviewer VNC үйлчлүүлэгч
Comment[mr]=Gvncviewer VNC क्लायंट
Comment[ms]=Pelanggan VNC Gvncviewer
Comment[mt]=Gvncviewer VNC klijent
Comment[my]=Gvnncviewer VNC ကလိုင်းယင့်
Comment[ne]=Gvncviewer VNC ग्राहक
Comment[nl]=Gvncviewer VNC-client
Comment[no]=Gvncviewer VNC-klient
Comment[ny]=Gvncviewer VNC kasitomala
Comment[om]=Gvncviewer maamila VNC
Comment[or]=Gvncviewer VNC କ୍ଲାଏଣ୍ଟ |
Comment[pa]=Gvncviewer VNC ਕਲਾਇੰਟ
Comment[pl]=Klient Gvncviewer VNC
Comment[ps]=ﻊﺟﺍﺮﻣ Gvncviewer VNC ﺩ
Comment[pt]=Cliente VNC Gvncviewer
Comment[qu]=Gvncviewer VNC nisqa rantiq
Comment[ro]=Client Gvncviewer VNC
Comment[ru]=Gvncviewer VNC-клиент
Comment[rw]=Gvncviewer umukiriya wa VNC
Comment[sa]=Gvncviewer VNC क्लायन्ट
Comment[sd]=Gvncviewer VNC ٽﻨﺋﻼ﻿ڪ
Comment[si]=Gvncviewer VNC සේවාදායකයා
Comment[sk]=Klient Gvncviewer VNC
Comment[sl]=Odjemalec Gvncviewer VNC
Comment[sm]=Gvncviewer VNC client
Comment[sn]=Gvncviewer VNC mutengi
Comment[so]=Gvncviewer VNC macmiilka
Comment[sq]=Klienti Gvncviewer VNC
Comment[st]=Moreki oa Gvncviewer VNC
Comment[su]=Gvncviewer VNC klien
Comment[sv]=Gvncviewer VNC-klient
Comment[sw]=Mteja wa VNC wa Gvncviewer
Comment[ta]=Gvncviewer VNC கிளையன்ட்
Comment[te]=Gvncviewer VNC క్లయింట్
Comment[tg]=Мизоҷи Gvncviewer VNC
Comment[th]=Gvncviewer ไคลเอนต์ VNC
Comment[ti]=Gvncviewer VNC ዓሚል እዩ።
Comment[tk]=Gvncviewer VNC müşderisi
Comment[tl]=Gvncviewer VNC client
Comment[to]=Gvncviewer VANC client
Comment[tr]=Gvncviewer VNC istemcisi
Comment[ts]=Gvncviewer Xitirhisiwa xa VNC
Comment[tt]=Gvncviewer VNC клиенты
Comment[tw]=Gvncviewer VNC afɛfoɔ
Comment[ty]=Gvncviewer VNC client
Comment[ug]=Gvncviewer VNC ﻯﺭﺍﺪﯨﺮﯧﺧ
Comment[uk]=Клієнт Gvncviewer VNC
Comment[ur]=Gvncviewer VNC ﭧﻨﺋﻼ﻿ﮐ
Comment[uz]=Gvncviewer VNC mijozi
Comment[vi]=Máy khách Gvncviewer VNC
Comment[xh]=Umxhasi we-Gvncviewer VNC
Comment[yi]=Gvncviewer VNC טנעילק
Comment[yo]=Gvncviewer VNC onibara
Comment[zh]=Gvncviewer VNC 客户端
Comment[zu]=Iklayenti le-Gvncviewer VNC
Comment=Gvncviewer VNC client
Exec=gvncviewer.sh
Terminal=false
Type=Application
Categories=X-Internet-login
GenericName=gvncviewer
