[Desktop Entry]
Type=Application
Encoding=UTF-8
Name[af]=MPlayer mediaspeler
Name[am]=MPlayer ሚዲያ ማጫወቻ
Name[ar]=MPlayer ﻂﺋﺎﺳﻭ ﻞﻐﺸﻣ
Name[as]=MPlayer মিডিয়া প্লেয়াৰ
Name[ay]=MPlayer ukax medios de comunicación ukan uñt’ayatawa
Name[az]=MPlayer media player
Name[ba]=MPlayer медиаплейеры
Name[be]=MPlayer медыяплэер
Name[bg]=Медиен плейър MPlayer
Name[bm]=MPlayer ka kunnafonidilanw
Name[bn]=এমপিপ্লেয়ার মিডিয়া প্লেয়ার
Name[bo]=MPlayerསྨྱན་སྦྱོར་གྱི་བདམས་ཐོན་པ།
Name[bs]=MPlayer media player
Name[ca]=Reproductor multimèdia MPlayer
Name[co]=lettore multimediale MPlayer
Name[cs]=Přehrávač médií MPlayer
Name[cy]=Chwaraewr cyfryngau MPlayer
Name[da]=MPlayer medieafspiller
Name[de]=MPlayer-Mediaplayer
Name[dv]=ރޔަލޭޕް އާޑިމީ ރޔަލޭޕްމްއެ
Name[ee]=MPlayer nyadzɔdzɔgblɔmɔ̃
Name[el]=MPlayer media player
Name[eo]=MPlayer plurmedia ludilo
Name[es]=reproductor multimedia mplayer
Name[et]=MPlayeri meediumipleier
Name[eu]=MPlayer multimedia erreproduzitzailea
Name[fa]=MPlayer ﻪﻧﺎﺳﺭ ﻩﺪﻨﻨﮐ ﺶﺨﭘ
Name[fi]=MPlayer mediasoitin
Name[fj]=Misini ni vakauitukutuku raraba ni MPlayer
Name[fo]=MP breyt median spælari
Name[fr]=Lecteur multimédia MPlayer
Name[fy]=MPlayer mediaspieler
Name[ga]=Seinnteoir meáin MPlayer
Name[gd]=Cluicheadair mheadhanan MPlayer
Name[gl]=reprodutor multimedia MPlayer
Name[gn]=MPlayer reproductor de medios rehegua
Name[gu]=MPlayer મીડિયા પ્લેયર
Name[ha]=Mai kunnawa MPlayer
Name[he]=MPlayer הידמ ןגנ
Name[hi]=एमप्लेयर मीडिया प्लेयर
Name[hr]=MPlayer media player
Name[ht]=MPlayer medya jwè
Name[hu]=MPlayer médialejátszó
Name[hy]=MPlayer մեդիա նվագարկիչ
Name[id]=Pemutar media MPlayer
Name[ig]=Igwe mgbasa ozi MPlayer
Name[is]=MPlayer fjölmiðlaspilari
Name[it]=Lettore multimediale Mplayer
Name[iu]=MPlayer Media-ᒧᑦ ᐱᓕᕆᔨ
Name[ja]=MPlayer メディアプレーヤー
Name[jv]=Pamuter media MPlayer
Name[ka]=MPlayer მედია ფლეერი
Name[kk]=MPlayer медиа ойнатқышы
Name[km]=កម្មវិធីចាក់មេឌៀ MPlayer
Name[kn]=ಎಂಪಿ ಪ್ಲೇಯರ್ ಮೀಡಿಯಾ ಪ್ಲೇಯರ್
Name[ko]="MPlayer 미디어 플레이어"
Name[ku]=MPlayer media player
Name[ky]=MPlayer медиа ойноткуч
Name[la]=MPlayer media ludio
Name[lb]=MPlayer Media Player
Name[lg]=MPlayer omuzannyi w'emikutu gy'amawulire
Name[ln]=Lecteur ya media ya MPlayer
Name[lo]=ເຄື່ອງຫຼິ້ນສື່ MPlayer
Name[lt]=MPlayer medijos grotuvas
Name[lv]=MPlayer multivides atskaņotājs
Name[mg]=Mpilalao haino aman-jery MPlayer
Name[mi]=Kaipāho pāpāho MPlayer
Name[mk]=MPlayer медиа плеер
Name[ml]=MPplayer മീഡിയ പ്ലെയർ
Name[mn]=MPplayer медиа тоглуулагч
Name[mr]=MPlayer मीडिया प्लेयर
Name[ms]=Pemain media MPlayer
Name[mt]=MPlayer media player
Name[my]=MPlayer မီဒီယာပလေယာ
Name[ne]=MPlayer मिडिया प्लेयर
Name[nl]=MPlayer-mediaspeler
Name[no]=MPlayer mediespiller
Name[ny]=MPlayer media player
Name[om]=MPlayer miidiyaa taphattuu
Name[or]=MPlayer ମିଡିଆ ପ୍ଲେୟାର |
Name[pa]=MPlayer ਮੀਡੀਆ ਪਲੇਅਰ
Name[pl]=Odtwarzacz multimedialny MPlayera
Name[ps]=ﺮﯿﻠﭘ ﺎﯾډﯿﻣ MPlayer ﺩ
Name[pt]=Leitor multimédia MPlayer
Name[qu]=MPlayer willay mast'ariq pukllaq
Name[ro]=player media MPlayer
Name[ru]=медиаплеер MPlayer
Name[rw]=Umukinnyi w'itangazamakuru MPlayer
Name[sa]=MPlayer मीडिया प्लेयर
Name[sd]=MPlayer ﺮﺌﻴﻠﭘ ﺎﻳڊﻴﻣ
Name[si]=MPplayer මාධ්u200dය වාදකය
Name[sk]=Prehrávač médií MPlayer
Name[sl]=Predvajalnik MPlayer
Name[sm]=MPlayer media player
Name[sn]=MPlayer media player
Name[so]=Ciyaartoyga warbaahinta MPlayer
Name[sq]=Media player MPlayer
Name[st]=MPlayer media player
Name[su]=Pamuter média MPlayer
Name[sv]=MPlayer mediaspelare
Name[sw]=MPlayer media player
Name[ta]=எம்பி பிளேயர் மீடியா பிளேயர்
Name[te]=MPlayer మీడియా ప్లేయర్
Name[tg]=Плеери медиаи MPlayer
Name[th]=เครื่องเล่นสื่อ MPlayer
Name[ti]=MPlayer ሚድያ መጻወቲ
Name[tk]=MPleýer media pleýer
Name[tl]=MPlayer media player
Name[to]=MPlayer Media Player
Name[tr]=MPlayer medya oynatıcı
Name[ts]=MPlayer xichayachayani xa swihangalasamahungu
Name[tt]=MPlayer медиа-плеер
Name[tw]=MPlayer nsɛm ho amanneɛbɔ afiri
Name[ty]=Te mau rave'a haaparareraa a te ve'a
Name[ug]=MPlayer media player
Name[uk]=Медіаплеєр MPlayer
Name[ur]=ﺮﺌﯿﻠﭘ ﺎﯾﮉﯿﻣ ﺮﺌﯿﻠﭘ ﯽﭘ ﻢﯾﺍ
Name[uz]=MPlayer media player
Name[vi]=trình phát đa phương tiện MPlayer
Name[xh]=Umdlali wemidiya yeMPlayer
Name[yi]=MPlayer רעליפּש עידעמ
Name[yo]=MPlayer media player
Name[zh]=MPlayer 媒体播放器
Name[zu]=Isidlali semidiya seMPlayer
Name=MPlayer media player
GenericName=Multimedia player
Comment[af]=Multimedia speler
Comment[am]=የመልቲሚዲያ ማጫወቻ
Comment[ar]=ﺓﺩﺪﻌﺘﻤﻟﺍ ﻂﺋﺎﺳﻮﻟﺍ ﻞﻐﺸﻣ
Comment[as]=মাল্টিমিডিয়া প্লেয়াৰ
Comment[ay]=Multimedia ukax mä juk’a pachanakanwa
Comment[az]=Multimedia pleyer
Comment[ba]=Мультимедиа уйынсыһы
Comment[be]=Мультымедыйны прайгравальнік
Comment[bg]=Мултимедиен плейър
Comment[bm]=Multimedia fɔlikɛlan
Comment[bn]=মাল্টিমিডিয়া প্লেয়ার
Comment[bo]=སྨྱན་མང་གཟུགས་ཀྱི་བདམས་ཐོན
Comment[bs]=Multimedijalni plejer
Comment[ca]=Reproductor multimèdia
Comment[co]=lettore multimediale
Comment[cs]=Multimediální přehrávač
Comment[cy]=Chwaraewr amlgyfrwng
Comment[da]=Multimedieafspiller
Comment[de]=Multimedia-Player
Comment[dv]=އްރެޔަލޭޕް އާޑިމީޓިލްމަ
Comment[ee]=Multimedia ƒomɔ̃
Comment[el]=Συσκευή αναπαραγωγής πολυμέσων
Comment[eo]=Plurmedia ludanto
Comment[es]=Reproductor multimedia
Comment[et]=Multimeediumipleier
Comment[eu]=Multimedia erreproduzitzailea
Comment[fa]=ﯼﺍ ﻪﻧﺎﺳﺭ ﺪﻨﭼ ﻩﺪﻨﻨﮐ ﺶﺨﭘ
Comment[fi]=Multimediasoitin
Comment[fj]=Dauqito ni multimedia
Comment[fo]=Multimedia player
Comment[fr]=Lecteur multimédia
Comment[fy]=Multimedia spiler
Comment[ga]=Imreoir ilmheán
Comment[gd]=Cluicheadair ioma-mheadhain
Comment[gl]=Reproductor multimedia
Comment[gn]=Reproductor multimedia rehegua
Comment[gu]=મલ્ટીમીડિયા પ્લેયર
Comment[ha]=Multimedia player
Comment[he]=הידמיטלומ ןגנ
Comment[hi]=मल्टीमीडिया प्लेयर
Comment[hr]=Multimedijski player
Comment[ht]=Jwè miltimedya
Comment[hu]=Multimédia lejátszó
Comment[hy]=Մուլտիմեդիա նվագարկիչ
Comment[id]=Pemutar multimedia
Comment[ig]=Ihe ọkpụkpọ mgbasa ozi
Comment[is]=Margmiðlunarspilari
Comment[it]=Lettore multimediale
Comment[iu]=ᑐᓴᒐᒃᓴᖃᙱᑦᑐᓄᑦ ᐱᙳᐊᖅᑎ
Comment[ja]=マルチメディアプレーヤー
Comment[jv]=Pamuter multimedia
Comment[ka]=მულტიმედიური პლეერი
Comment[kk]=Мультимедиялық ойнатқыш
Comment[km]=អ្នកលេងពហុព័ត៌មាន
Comment[kn]=ಮಲ್ಟಿಮೀಡಿಯಾ ಪ್ಲೇಯರ್
Comment[ko]="멀티미디어 플레이어"
Comment[ku]=player Multimedia
Comment[ky]=Мультимедиа ойноткуч
Comment[la]=Multimedia ludio
Comment[lb]=Multimedia Spiller
Comment[lg]=Omuzannyi wa multimedia
Comment[ln]=Lecteur multimédia
Comment[lo]=ເຄື່ອງຫຼິ້ນມັນຕິມີເດຍ
Comment[lt]=Multimedijos grotuvas
Comment[lv]=Multivides atskaņotājs
Comment[mg]=Mpilalao multimedia
Comment[mi]=Kaipāho rongorau
Comment[mk]=Мултимедијален плеер
Comment[ml]=മൾട്ടിമീഡിയ പ്ലെയർ
Comment[mn]=Мультимедиа тоглуулагч
Comment[mr]=मल्टीमीडिया प्लेयर
Comment[ms]=Pemain multimedia
Comment[mt]=Multimedia player
Comment[my]=မာလ်တီမီဒီယာပလေယာ
Comment[ne]=मल्टिमिडिया प्लेयर
Comment[nl]=Multimediaspeler
Comment[no]=Multimediaspiller
Comment[ny]=Multimedia player
Comment[om]=Taphattuu maltimidiyaa
Comment[or]=ମଲ୍ଟିମିଡ଼ିଆ ପ୍ଲେୟାର
Comment[pa]=ਮਲਟੀਮੀਡੀਆ ਪਲੇਅਰ
Comment[pl]=Odtwarzacz multimedialny
Comment[ps]=ﺮﯿﻠﭘ ﺎﯾډﯿﻣ ﻲټﻠﻣ
Comment[pt]=Leitor multimédia
Comment[qu]=Multimedia nisqa pukllaq
Comment[ro]=Player multimedia
Comment[ru]=Мультимедийный проигрыватель
Comment[rw]=Umukinnyi wa Multimedi
Comment[sa]=बहुमाध्यम प्लेयर
Comment[sd]=ﺮﺌﻴﻠﭘ ﺎﻳڊﻴﻣ ﻲٽﻠﻣ
Comment[si]=බහුමාධ්u200dය වාදකය
Comment[sk]=Multimediálny prehrávač
Comment[sl]=Multimedijski predvajalnik
Comment[sm]=Mea fa'asalalau fa'asalalau
Comment[sn]=Multimedia mutambi
Comment[so]=Ciyaartoyga warbaahineed
Comment[sq]=Luajtësi multimedial
Comment[st]=Sebapali sa multimedia
Comment[su]=Pamuter multimedia
Comment[sv]=Multimediaspelare
Comment[sw]=Kicheza media titika
Comment[ta]=மல்டிமீடியா பிளேயர்
Comment[te]=మల్టీమీడియా ప్లేయర్
Comment[tg]=Плеери мултимедиявӣ
Comment[th]=เครื่องเล่นมัลติมีเดีย
Comment[ti]=ማልቲሚድያ መጻወቲ
Comment[tk]=Multimedia pleýer
Comment[tl]=Multimedia player
Comment[to]=Tokotaha vaʻinga mitia kehekehe
Comment[tr]=Multimedya oynatıcı
Comment[ts]=Xichayachayani xa multimedia
Comment[tt]=Мультимедиа плеер
Comment[tw]=Multimedia afiri a wɔde bɔ nneɛma
Comment[ty]=Multimedia player
Comment[ug]=Multimedia player
Comment[uk]=Мультимедійний плеєр
Comment[ur]=ﺮﺌﯿﻠﭘ ﺎﯾﮉﯿﻣ ﯽﭩﻠﻣ
Comment[uz]=Multimedia pleer
Comment[vi]=Máy nghe nhạc đa phương tiện
Comment[xh]=Umdlali wemultimedia
Comment[yi]=רעליפּש אַידעמיטלומ
Comment[yo]=Multimedia ẹrọ orin
Comment[zh]=多媒体播放器
Comment[zu]=Isidlali semultimedia
Comment=Multimedia player
Icon=mplayer.xpm
Exec=exec mplayershell
Terminal=false
Categories=X-Multimedia-mediaplayer
MimeType=application/ogg;application/x-ogg;application/sdp;application/smil;application/x-smil;application/streamingmedia;application/x-streamingmedia;application/vnd.rn-realmedia;application/vnd.rn-realmedia-vbr;audio/aac;audio/x-aac;audio/m4a;audio/x-m4a;audio/mp1;audio/x-mp1;audio/mp2;audio/x-mp2;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/mpegurl;audio/x-mpegurl;audio/mpg;audio/x-mpg;audio/rn-mpeg;audio/scpls;audio/x-scpls;audio/vnd.rn-realaudio;audio/wav;audio/x-pn-windows-pcm;audio/x-realaudio;audio/x-pn-realaudio;audio/x-ms-wma;audio/x-pls;audio/x-wav;video/mpeg;video/x-mpeg;video/x-mpeg2;video/msvideo;video/x-msvideo;video/quicktime;video/vnd.rn-realvideo;video/x-ms-afs;video/x-ms-asf;video/x-ms-wmv;video/x-ms-wmx;video/x-ms-wvxvideo;video/x-avi;video/x-fli;video/x-theora;video/x-matroska;
