[Desktop Entry]
Encoding=UTF-8
Name[af]=GtkLPQ drukker tou bestuurder
Name[am]=GtkLPQ አታሚ ወረፋ አስተዳዳሪ
Name[ar]=GtkLPQ ﺔﻌﺑﺎﻄﻟﺍ ﺭﺎﻈﺘﻧﺍ ﺔﻤﺋﺎﻗ ﺮﻳﺪﻣ
Name[as]=GtkLPQ প্ৰিন্টাৰ শাৰী ব্যৱস্থাপক
Name[ay]=GtkLPQ imprimir fila apnaqiri
Name[az]=GtkLPQ printer növbə meneceri
Name[ba]=GtkLPQ принтерҙар сираты менеджеры
Name[be]=Дыспетчар чаргі друкаркі GtkLPQ
Name[bg]=GtkLPQ мениджър на опашка за принтер
Name[bm]=GtkLPQ sɛbɛnnikɛlan ka layini ɲɛmɔgɔ
Name[bn]=GtkLPQ প্রিন্টার সারি ম্যানেজার
Name[bo]=gtkLPQདཔར་ཆས་ཀྱི་གྲལ་སྟར་དོ་དམ་པ།
Name[bs]=GtkLPQ upravitelj redova pisača
Name[ca]=Gestor de cues d'impressores GtkLPQ
Name[co]=GtkLPQ gestore di fila di stampante
Name[cs]=Správce tiskové fronty GtkLPQ
Name[cy]=Rheolwr ciw argraffydd GtkLPQ
Name[da]=GtkLPQ printer kø manager
Name[de]=GtkLPQ-Druckerwarteschlangenmanager
Name[dv]=ރޖަނޭމެ އުކި ރޓަންރިޕް ޔޫކިޕީލްއެކޭޓީޖީ
Name[ee]=GtkLPQ agbalẽtamɔ̃ ƒe flidzikpɔla
Name[el]=Διαχείριση ουράς εκτυπωτών GtkLPQ
Name[en]=GtkLPQ printer queue manager
Name[eo]=GtkLPQ presila vostomanaĝero
Name[es]=Administrador de colas de impresoras GtkLPQ
Name[et]=GtkLPQ printeri järjekorrahaldur
Name[eu]=GtkLPQ inprimagailu ilararen kudeatzailea
Name[fa]=GtkLPQ ﺮﮕﭘﺎﭼ ﻒﺻ ﺮﯾﺪﻣ
Name[fi]=GtkLPQ-tulostinjonojen hallinta
Name[fj]=Manidia ni queue ni misini ni gtkLPQ
Name[fo]=GtkLPQ prentara í bíðirøð.
Name[fr]=Gestionnaire de file d'attente d'impression GtkLPQ
Name[fy]=GtkLPQ printerwachtrige behearder
Name[ga]=Bainisteoir scuaine printéir gtkLPQ
Name[gd]=Manaidsear ciudha clò-bhualadair GtkLPQ
Name[gl]=Xestor de filas de impresoras GtkLPQ
Name[gn]=GtkLPQ impresora fila mohendaha
Name[gu]=GtkLPQ પ્રિન્ટર કતાર મેનેજર
Name[ha]=Manajan layi na Printer GtkLPQ
Name[he]=GtkLPQ תספדמ רות להנמ
Name[hi]=GtkLPQ प्रिंटर कतार प्रबंधक
Name[hr]=GtkLPQ upravitelj čekanja pisača
Name[ht]=Manadjè keu enprimant GtkLPQ
Name[hu]=GtkLPQ nyomtatósor-kezelő
Name[hy]=GtkLPQ տպիչի հերթի կառավարիչ
Name[id]=Manajer antrian printer GtkLPQ
Name[ig]=Onye njikwa kwụ n'ahịrị ngwa nbipute GtkLPQ
Name[is]=GtkLPQ prentara biðröð stjórnandi
Name[it]=Gestore code di stampa GtkLPQ
Name[iu]=GtkLPQ ᐊᒥᓱᓕᐅᕈᑎᓄᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=GtkLPQ プリンター キュー マネージャー
Name[jv]=Manajer antrian printer GtkLPQ
Name[ka]=GtkLPQ პრინტერის რიგის მენეჯერი
Name[kk]=GtkLPQ принтер кезегі менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងជួរម៉ាស៊ីនបោះពុម្ព GtkLPQ
Name[kn]=GtkLPQ ಪ್ರಿಂಟರ್ ಕ್ಯೂ ಮ್ಯಾನೇಜರ್
Name[ko]="GtkLPQ 프린터 큐 관리자"
Name[ku]=Rêvebirê rêza çaperê ya GtkLPQ
Name[ky]=GtkLPQ принтер кезеги менеджери
Name[la]=GtkLPQ printer queue procurator
Name[lb]=GtkLPQ Dréckerspäichermanager
Name[lg]=GtkLPQ omuddukanya ennyiriri za printer
Name[ln]=Mokambi ya molongo ya imprimante GtkLPQ
Name[lo]=ຜູ້ຈັດການຄິວເຄື່ອງພິມ GtkLPQ
Name[lt]=GtkLPQ spausdintuvo eilių tvarkyklė
Name[lv]=GtkLPQ printera rindu pārvaldnieks
Name[mg]=Mpitantana filaharana mpanonta GtkLPQ
Name[mi]=Kaiwhakahaere tūtira pūreretā GtkLPQ
Name[mk]=Управувач со редици за печатач GtkLPQ
Name[ml]=GtkLPQ പ്രിന്റർ ക്യൂ മാനേജർ
Name[mn]=GtkLPQ принтерийн дарааллын менежер
Name[mr]=GtkLPQ प्रिंटर रांग व्यवस्थापक
Name[ms]=Pengurus baris gilir pencetak GtkLPQ
Name[mt]=Maniġer tal-kju tal-printer GtkLPQ
Name[my]=GtkLPQ ပရင်တာတန်းစီခြင်းမန်နေဂျာ
Name[ne]=GtkLPQ मुद्रक लाम प्रबन्धक
Name[nl]=GtkLPQ printerwachtrijbeheer
Name[no]=GtkLPQ skriverkøbehandling
Name[ny]=Woyang'anira mzere wosindikiza wa GtkLPQ
Name[om]=Bulchaa tarree maxxansaa GtkLPQ
Name[or]=GtkLPQ ପ୍ରିଣ୍ଟର୍ କ୍ୟୁ ମ୍ୟାନେଜର୍ |
Name[pa]=GtkLPQ ਪ੍ਰਿੰਟਰ ਕਤਾਰ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer kolejek drukarki GtkLPQ
Name[ps]=ﺮﯾﺪﻣ ﺭﺎﻄﻗ ﺮټﻧﺮﭘ GtkLPQ ﺩ
Name[pt]=Gerenciador de filas de impressora GtkLPQ
Name[qu]=GtkLPQ impresora fila kamachiq
Name[ro]=Manager de cozi de imprimantă GtkLPQ
Name[ru]=Менеджер очередей принтеров GtkLPQ
Name[rw]=Umuyobozi wa printer ya GtkLPQ
Name[sa]=GtkLPQ मुद्रक कतार प्रबन्धक
Name[sd]=GtkLPQ ﺮﺠﻴﻨﺌﻣ ﺭﺎﻄﻗ ﺮٽﻧﺮﭘ
Name[si]=GtkLPQ මුද්u200dරණ පෝලිම් කළමනාකරු
Name[sk]=Správca frontu tlačiarne GtkLPQ
Name[sl]=Upravljalnik čakalne vrste tiskalnika GtkLPQ
Name[sm]=GtkLPQ lomitusi pule fa'asologa
Name[sn]=GtkLPQ printer queue maneja
Name[so]=Maareeyaha safka daabacaadda GtkLPQ
Name[sq]=Menaxheri i radhës së printerit GtkLPQ
Name[st]=Motsamaisi oa mokoloko oa khatiso oa GtkLPQ
Name[su]=Pangatur antrian printer GtkLPQ
Name[sv]=GtkLPQ skrivarköhanterare
Name[sw]=Kidhibiti cha foleni ya kichapishi cha GtkLPQ
Name[ta]=GtkLPQ பிரிண்டர் வரிசை மேலாளர்
Name[te]=GtkLPQ ప్రింటర్ క్యూ మేనేజర్
Name[tg]=Менеҷери навбати чопгари GtkLPQ
Name[th]=ตัวจัดการคิวเครื่องพิมพ์ GtkLPQ
Name[ti]=GtkLPQ መሕተሚ ሪጋ ኣካያዲ
Name[tk]=GtkLPQ printer nobatynyň dolandyryjysy
Name[tl]=GtkLPQ printer queue manager
Name[to]=GtkLPQ pule ʻo e misini paki
Name[tr]=GtkLPQ yazıcı sıra yöneticisi
Name[ts]=GtkLPQ mufambisi wa layini ya muchini wo gandlisa
Name[tt]=GtkLPQ принтер чират менеджеры
Name[tw]=GtkLPQ printa ntonto sohwɛfo
Name[ty]=GtkLPQ ti'a faatere no te mau matini nene'iraa
Name[ug]=GtkLPQ ﻰﺴﯩﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺮﭼﯚﺋ ﺮﯧﺘﻨﯨﺮﭘ
Name[uk]=Диспетчер черги принтера GtkLPQ
Name[ur]=GtkLPQ ﺮﺠﯿﻨﯿﻣ ﺭﺎﻄﻗ ﺮﭩﻧﺮﭘ
Name[uz]=GtkLPQ printer navbat menejeri
Name[vi]=Trình quản lý hàng đợi máy in GtkLPQ
Name[xh]=GtkLPQ umphathi womgca womshicileli
Name[yi]=GtkLPQ רעטלאַווראַפ ייר רעקורד
Name[yo]=Oluṣakoso isinyi itẹwe GtkLPQ
Name[zh]=GtkLPQ 打印机队列管理器
Name[zu]=Umphathi womugqa wephrinta ye-GtkLPQ
Name=GtkLPQ printer queue manager
GenericName=GtkLPQ
Comment[af]=GtkLPQ drukker tou bestuurder
Comment[am]=GtkLPQ አታሚ ወረፋ አስተዳዳሪ
Comment[ar]=GtkLPQ ﺔﻌﺑﺎﻄﻟﺍ ﺭﺎﻈﺘﻧﺍ ﺔﻤﺋﺎﻗ ﺮﻳﺪﻣ
Comment[as]=GtkLPQ প্ৰিন্টাৰ শাৰী ব্যৱস্থাপক
Comment[ay]=GtkLPQ imprimir fila apnaqiri
Comment[az]=GtkLPQ printer növbə meneceri
Comment[ba]=GtkLPQ принтерҙар сираты менеджеры
Comment[be]=Дыспетчар чаргі друкаркі GtkLPQ
Comment[bg]=GtkLPQ мениджър на опашка за принтер
Comment[bm]=GtkLPQ sɛbɛnnikɛlan ka layini ɲɛmɔgɔ
Comment[bn]=GtkLPQ প্রিন্টার সারি ম্যানেজার
Comment[bo]=gtkLPQདཔར་ཆས་ཀྱི་གྲལ་སྟར་དོ་དམ་པ།
Comment[bs]=GtkLPQ upravitelj redova pisača
Comment[ca]=Gestor de cues d'impressores GtkLPQ
Comment[co]=GtkLPQ gestore di fila di stampante
Comment[cs]=Správce tiskové fronty GtkLPQ
Comment[cy]=Rheolwr ciw argraffydd GtkLPQ
Comment[da]=GtkLPQ printer kø manager
Comment[de]=GtkLPQ-Druckerwarteschlangenmanager
Comment[dv]=ރޖަނޭމެ އުކި ރޓަންރިޕް ޔޫކިޕީލްއެކޭޓީޖީ
Comment[ee]=GtkLPQ agbalẽtamɔ̃ ƒe flidzikpɔla
Comment[el]=Διαχείριση ουράς εκτυπωτών GtkLPQ
Comment[en]=GtkLPQ printer queue manager
Comment[eo]=GtkLPQ presila vostomanaĝero
Comment[es]=Administrador de colas de impresoras GtkLPQ
Comment[et]=GtkLPQ printeri järjekorrahaldur
Comment[eu]=GtkLPQ inprimagailu ilararen kudeatzailea
Comment[fa]=GtkLPQ ﺮﮕﭘﺎﭼ ﻒﺻ ﺮﯾﺪﻣ
Comment[fi]=GtkLPQ-tulostinjonojen hallinta
Comment[fj]=Manidia ni queue ni misini ni gtkLPQ
Comment[fo]=GtkLPQ prentara í bíðirøð.
Comment[fr]=Gestionnaire de file d'attente d'impression GtkLPQ
Comment[fy]=GtkLPQ printerwachtrige behearder
Comment[ga]=Bainisteoir scuaine printéir gtkLPQ
Comment[gd]=Manaidsear ciudha clò-bhualadair GtkLPQ
Comment[gl]=Xestor de filas de impresoras GtkLPQ
Comment[gn]=GtkLPQ impresora fila mohendaha
Comment[gu]=GtkLPQ પ્રિન્ટર કતાર મેનેજર
Comment[ha]=Manajan layi na Printer GtkLPQ
Comment[he]=GtkLPQ תספדמ רות להנמ
Comment[hi]=GtkLPQ प्रिंटर कतार प्रबंधक
Comment[hr]=GtkLPQ upravitelj čekanja pisača
Comment[ht]=Manadjè keu enprimant GtkLPQ
Comment[hu]=GtkLPQ nyomtatósor-kezelő
Comment[hy]=GtkLPQ տպիչի հերթի կառավարիչ
Comment[id]=Manajer antrian printer GtkLPQ
Comment[ig]=Onye njikwa kwụ n'ahịrị ngwa nbipute GtkLPQ
Comment[is]=GtkLPQ prentara biðröð stjórnandi
Comment[it]=Gestore code di stampa GtkLPQ
Comment[iu]=GtkLPQ ᐊᒥᓱᓕᐅᕈᑎᓄᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=GtkLPQ プリンター キュー マネージャー
Comment[jv]=Manajer antrian printer GtkLPQ
Comment[ka]=GtkLPQ პრინტერის რიგის მენეჯერი
Comment[kk]=GtkLPQ принтер кезегі менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងជួរម៉ាស៊ីនបោះពុម្ព GtkLPQ
Comment[kn]=GtkLPQ ಪ್ರಿಂಟರ್ ಕ್ಯೂ ಮ್ಯಾನೇಜರ್
Comment[ko]="GtkLPQ 프린터 큐 관리자"
Comment[ku]=Rêvebirê rêza çaperê ya GtkLPQ
Comment[ky]=GtkLPQ принтер кезеги менеджери
Comment[la]=GtkLPQ printer queue procurator
Comment[lb]=GtkLPQ Dréckerspäichermanager
Comment[lg]=GtkLPQ omuddukanya ennyiriri za printer
Comment[ln]=Mokambi ya molongo ya imprimante GtkLPQ
Comment[lo]=ຜູ້ຈັດການຄິວເຄື່ອງພິມ GtkLPQ
Comment[lt]=GtkLPQ spausdintuvo eilių tvarkyklė
Comment[lv]=GtkLPQ printera rindu pārvaldnieks
Comment[mg]=Mpitantana filaharana mpanonta GtkLPQ
Comment[mi]=Kaiwhakahaere tūtira pūreretā GtkLPQ
Comment[mk]=Управувач со редици за печатач GtkLPQ
Comment[ml]=GtkLPQ പ്രിന്റർ ക്യൂ മാനേജർ
Comment[mn]=GtkLPQ принтерийн дарааллын менежер
Comment[mr]=GtkLPQ प्रिंटर रांग व्यवस्थापक
Comment[ms]=Pengurus baris gilir pencetak GtkLPQ
Comment[mt]=Maniġer tal-kju tal-printer GtkLPQ
Comment[my]=GtkLPQ ပရင်တာတန်းစီခြင်းမန်နေဂျာ
Comment[ne]=GtkLPQ मुद्रक लाम प्रबन्धक
Comment[nl]=GtkLPQ printerwachtrijbeheer
Comment[no]=GtkLPQ skriverkøbehandling
Comment[ny]=Woyang'anira mzere wosindikiza wa GtkLPQ
Comment[om]=Bulchaa tarree maxxansaa GtkLPQ
Comment[or]=GtkLPQ ପ୍ରିଣ୍ଟର୍ କ୍ୟୁ ମ୍ୟାନେଜର୍ |
Comment[pa]=GtkLPQ ਪ੍ਰਿੰਟਰ ਕਤਾਰ ਪ੍ਰਬੰਧਕ
Comment[pl]=Menedżer kolejek drukarki GtkLPQ
Comment[ps]=ﺮﯾﺪﻣ ﺭﺎﻄﻗ ﺮټﻧﺮﭘ GtkLPQ ﺩ
Comment[pt]=Gerenciador de filas de impressora GtkLPQ
Comment[qu]=GtkLPQ impresora fila kamachiq
Comment[ro]=Manager de cozi de imprimantă GtkLPQ
Comment[ru]=Менеджер очередей принтеров GtkLPQ
Comment[rw]=Umuyobozi wa printer ya GtkLPQ
Comment[sa]=GtkLPQ मुद्रक कतार प्रबन्धक
Comment[sd]=GtkLPQ ﺮﺠﻴﻨﺌﻣ ﺭﺎﻄﻗ ﺮٽﻧﺮﭘ
Comment[si]=GtkLPQ මුද්u200dරණ පෝලිම් කළමනාකරු
Comment[sk]=Správca frontu tlačiarne GtkLPQ
Comment[sl]=Upravljalnik čakalne vrste tiskalnika GtkLPQ
Comment[sm]=GtkLPQ lomitusi pule fa'asologa
Comment[sn]=GtkLPQ printer queue maneja
Comment[so]=Maareeyaha safka daabacaadda GtkLPQ
Comment[sq]=Menaxheri i radhës së printerit GtkLPQ
Comment[st]=Motsamaisi oa mokoloko oa khatiso oa GtkLPQ
Comment[su]=Pangatur antrian printer GtkLPQ
Comment[sv]=GtkLPQ skrivarköhanterare
Comment[sw]=Kidhibiti cha foleni ya kichapishi cha GtkLPQ
Comment[ta]=GtkLPQ பிரிண்டர் வரிசை மேலாளர்
Comment[te]=GtkLPQ ప్రింటర్ క్యూ మేనేజర్
Comment[tg]=Менеҷери навбати чопгари GtkLPQ
Comment[th]=ตัวจัดการคิวเครื่องพิมพ์ GtkLPQ
Comment[ti]=GtkLPQ መሕተሚ ሪጋ ኣካያዲ
Comment[tk]=GtkLPQ printer nobatynyň dolandyryjysy
Comment[tl]=GtkLPQ printer queue manager
Comment[to]=GtkLPQ pule ʻo e misini paki
Comment[tr]=GtkLPQ yazıcı sıra yöneticisi
Comment[ts]=GtkLPQ mufambisi wa layini ya muchini wo gandlisa
Comment[tt]=GtkLPQ принтер чират менеджеры
Comment[tw]=GtkLPQ printa ntonto sohwɛfo
Comment[ty]=GtkLPQ ti'a faatere no te mau matini nene'iraa
Comment[ug]=GtkLPQ ﻰﺴﯩﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺮﭼﯚﺋ ﺮﯧﺘﻨﯨﺮﭘ
Comment[uk]=Диспетчер черги принтера GtkLPQ
Comment[ur]=GtkLPQ ﺮﺠﯿﻨﯿﻣ ﺭﺎﻄﻗ ﺮﭩﻧﺮﭘ
Comment[uz]=GtkLPQ printer navbat menejeri
Comment[vi]=Trình quản lý hàng đợi máy in GtkLPQ
Comment[xh]=GtkLPQ umphathi womgca womshicileli
Comment[yi]=GtkLPQ רעטלאַווראַפ ייר רעקורד
Comment[yo]=Oluṣakoso isinyi itẹwe GtkLPQ
Comment[zh]=GtkLPQ 打印机队列管理器
Comment[zu]=Umphathi womugqa wephrinta ye-GtkLPQ
Comment=GtkLPQ printer queue manager
Exec=gtklpq
Icon=tb_print.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=X-System-print
