[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey IRC chat client
Icon=seamonkey16.xpm
Comment=SeaMonkey IRC chat client
Exec=mozchat
Terminal=false
Type=Application
Categories=X-Internet-chat
GenericName=SeaMonkey IRC chat client
