[Desktop Entry]
Encoding=UTF-8
Name[af]=SeaMonkey IRC kletskliënt
Name[am]=SeaMonkey IRC ውይይት ደንበኛ
Name[ar]=SeaMonkey IRC ﺔﺷﺩﺭﺩ ﻞﻴﻤﻋ
Name[as]=SeaMonkey IRC আড্ডা ক্লায়েন্ট
Name[ay]=SeaMonkey IRC ukax mä cliente ukhamawa
Name[az]=SeaMonkey IRC söhbət müştərisi
Name[ba]=SeaMonkey IRC чат-клиенты
Name[be]=Чат-кліент SeaMonkey IRC
Name[bg]=SeaMonkey IRC чат клиент
Name[bm]=SeaMonkey IRC ka kumaɲɔgɔnya kliyan
Name[bn]=SeaMonkey IRC চ্যাট ক্লায়েন্ট
Name[bo]=རྒྱ་མཚོའི་བོང་བུའི་IRCཡི་ཁ་བརྡའི་མངགས་བཅོལ་བྱེད་མཁན།
Name[bs]=SeaMonkey IRC chat klijent
Name[ca]=Client de xat IRC SeaMonkey
Name[co]=Cliente di chat IRC SeaMonkey
Name[cs]=IRC chatovací klient SeaMonkey
Name[cy]=Cleient sgwrsio SeaMonkey IRC
Name[da]=SeaMonkey IRC chatklient
Name[de]=SeaMonkey IRC-Chat-Client
Name[dv]=ވެޓެންއިލަކް ޓްޗެ ސީރުއާއިއަ ކީންމަސީ
Name[ee]=SeaMonkey IRC ƒe dzeɖoɖo ƒe asisi
Name[el]=Πελάτης συνομιλίας SeaMonkey IRC
Name[eo]=SeaMonkey IRC-babilkliento
Name[es]=Cliente de chat IRC de SeaMonkey
Name[et]=SeaMonkey IRC vestlusklient
Name[eu]=SeaMonkey IRC txat-bezeroa
Name[fa]=SeaMonkey IRC ﺖﭼ ﯼﺮﺘﺸﻣ
Name[fi]=SeaMonkey IRC-chat-ohjelma
Name[fj]=SeaMonkey IRC veitalanoa
Name[fo]=SeaMonkey IRC chat client
Name[fr]=Client de discussion IRC SeaMonkey
Name[fy]=SeaMonkey IRC chat client
Name[ga]=Cliant comhrá SeaMonkey IRC
Name[gd]=Neach-dèiligidh cabadaich SeaMonkey IRC
Name[gl]=Cliente de chat IRC SeaMonkey
Name[gn]=SeaMonkey IRC ñe’ẽñemi cliente
Name[gu]=SeaMonkey IRC ચેટ ક્લાયંટ
Name[ha]=SeaMonkey IRC hira abokin ciniki
Name[he]=SeaMonkey IRC לש טא'צ חוקל
Name[hi]=SeaMonkey IRC चैट क्लाइंट
Name[hr]=SeaMonkey IRC chat klijent
Name[ht]=SeaMonkey IRC chat kliyan
Name[hu]=SeaMonkey IRC chat kliens
Name[hy]=SeaMonkey IRC զրույցի հաճախորդ
Name[id]=Klien obrolan SeaMonkey IRC
Name[ig]=SeaMonkey IRC nkata ahịa
Name[is]=SeaMonkey IRC spjallviðskiptavinur
Name[it]=Client di chat SeaMonkey IRC
Name[iu]=SeaMonkey IRC−ᑯᑦ ᐅᖃᖃᑎᖃᖅᑐᑦ
Name[ja]=SeaMonkey IRC チャット クライアント
Name[jv]=Klien obrolan IRC SeaMonkey
Name[ka]=SeaMonkey IRC ჩატის კლიენტი
Name[kk]=SeaMonkey IRC чат клиенті
Name[km]=កម្មវិធីជជែកកំសាន្ត SeaMonkey IRC
Name[kn]=ಸೀಮಂಕಿ IRC ಚಾಟ್ ಕ್ಲೈಂಟ್
Name[ko]=SeaMonkey IRC 채팅 클라이언트
Name[ku]=muwekîlê chatê SeaMonkey IRC
Name[ky]=SeaMonkey IRC чат кардары
Name[la]=SeaMonkey IRC chat clientis
Name[lb]=SeaMonkey IRC Chat Client
Name[lg]=SeaMonkey IRC kasitoma w'emboozi
Name[ln]=SeaMonkey IRC client ya kosolola
Name[lo]=ລູກຄ້າສົນທະນາ SeaMonkey IRC
Name[lt]=SeaMonkey IRC pokalbių klientas
Name[lv]=SeaMonkey IRC tērzēšanas klients
Name[mg]=SeaMonkey IRC mpanjifa chat
Name[mi]=Kaitono korerorero a SeaMonkey IRC
Name[mk]=Клиент за разговор SeaMonkey IRC
Name[ml]=SeaMonkey IRC ചാറ്റ് ക്ലയന്റ്
Name[mn]=SeaMonkey IRC чат үйлчлүүлэгч
Name[mr]=SeaMonkey IRC चॅट क्लायंट
Name[ms]=Pelanggan sembang SeaMonkey IRC
Name[mt]=SeaMonkey IRC chat klijent
Name[my]=SeaMonkey IRC ချတ်ဖောက်သည်
Name[ne]=SeaMonkey IRC च्याट ग्राहक
Name[nl]=SeaMonkey IRC-chatclient
Name[no]=SeaMonkey IRC chat-klient
Name[ny]=SeaMonkey IRC chat kasitomala
Name[om]=Maamila marii IRC SeaMonkey
Name[or]=SeaMonkey IRC ଚାଟ୍ କ୍ଲାଏଣ୍ଟ |
Name[pa]=SeaMonkey IRC ਚੈਟ ਕਲਾਇੰਟ
Name[pl]=Klient czatu SeaMonkey IRC
Name[ps]=ﻲﮑﻧﻭﺩﻭﺮﯿﭘ ﭧﯿﭼ SeaMonkey IRC ﺩ
Name[pt]=Cliente de bate-papo IRC SeaMonkey
Name[qu]=SeaMonkey IRC rimanakuy cliente
Name[ro]=Client de chat IRC SeaMonkey
Name[ru]=Клиент IRC-чата SeaMonkey
Name[rw]=InyanjaMonkey IRC umukiriya
Name[sa]=SeaMonkey IRC गपशप ग्राहक
Name[sd]=SeaMonkey IRC ٽﻨﺋﻼ﻿ڪ ٽﻴﭼ
Name[si]=SeaMonkey IRC කතාබස් සේවාදායකයා
Name[sk]=IRC chatovací klient SeaMonkey
Name[sl]=Odjemalec klepeta SeaMonkey IRC
Name[sm]=SeaMonkey IRC talatalanoaga tagata fa'atau
Name[sn]=SeaMonkey IRC chat mutengi
Name[so]=SeaMonkey IRC chat macmiilka
Name[sq]=Klient i bisedës SeaMonkey IRC
Name[st]=SeaMonkey IRC moreki oa moqoqo
Name[su]=SeaMonkey IRC obrolan klien
Name[sv]=SeaMonkey IRC chattklient
Name[sw]=Mteja wa gumzo wa SeaMonkey IRC
Name[ta]=SeaMonkey IRC அரட்டை கிளையன்ட்
Name[te]=SeaMonkey IRC చాట్ క్లయింట్
Name[tg]=Мизоҷи сӯҳбати SeaMonkey IRC
Name[th]=โปรแกรมแชท SeaMonkey IRC
Name[ti]=SeaMonkey IRC ናይ ዕላል ዓሚል
Name[tk]=SeaMonkey IRC söhbetdeşlik müşderisi
Name[tl]=SeaMonkey IRC chat client
Name[to]=SeaMonkey IRC chat client
Name[tr]=SeaMonkey IRC sohbet istemcisi
Name[ts]=SeaMonkey IRC xitirhisiwa xa mbulavurisano
Name[tt]=SeaMonkey IRC чат клиенты
Name[tw]=SeaMonkey IRC nkɔmmɔbɔ afɛfo
Name[ty]=SeaMonkey IRC
Name[ug]=SeaMonkey IRC ﻯﺭﺍﺪﯨﺮﯧﺧ ﺶﯩﺸﯩﻠﯕﺍﺭﺎﭘ
Name[uk]=Клієнт чату SeaMonkey IRC
Name[ur]=SeaMonkey IRC ﭧﻨﺋﻼ﻿ﮐ ﭧﯿﭼ
Name[uz]=SeaMonkey IRC chat mijozi
Name[vi]=Ứng dụng trò chuyện SeaMonkey IRC
Name[xh]=SeaMonkey IRC chat client
Name[yi]=SeaMonkey IRC טנעילק סעומש
Name[yo]=SeaMonkey IRC iwiregbe ibara
Name[zh]=SeaMonkey IRC 聊天客户端
Name[zu]=Iklayenti lengxoxo le-SeaMonkey IRC
Name=SeaMonkey IRC chat client
Icon=seamonkey16.xpm
Comment[af]=SeaMonkey IRC kletskliënt
Comment[am]=SeaMonkey IRC ውይይት ደንበኛ
Comment[ar]=SeaMonkey IRC ﺔﺷﺩﺭﺩ ﻞﻴﻤﻋ
Comment[as]=SeaMonkey IRC আড্ডা ক্লায়েন্ট
Comment[ay]=SeaMonkey IRC ukax mä cliente ukhamawa
Comment[az]=SeaMonkey IRC söhbət müştərisi
Comment[ba]=SeaMonkey IRC чат-клиенты
Comment[be]=Чат-кліент SeaMonkey IRC
Comment[bg]=SeaMonkey IRC чат клиент
Comment[bm]=SeaMonkey IRC ka kumaɲɔgɔnya kliyan
Comment[bn]=SeaMonkey IRC চ্যাট ক্লায়েন্ট
Comment[bo]=རྒྱ་མཚོའི་བོང་བུའི་IRCཡི་ཁ་བརྡའི་མངགས་བཅོལ་བྱེད་མཁན།
Comment[bs]=SeaMonkey IRC chat klijent
Comment[ca]=Client de xat IRC SeaMonkey
Comment[co]=Cliente di chat IRC SeaMonkey
Comment[cs]=IRC chatovací klient SeaMonkey
Comment[cy]=Cleient sgwrsio SeaMonkey IRC
Comment[da]=SeaMonkey IRC chatklient
Comment[de]=SeaMonkey IRC-Chat-Client
Comment[dv]=ވެޓެންއިލަކް ޓްޗެ ސީރުއާއިއަ ކީންމަސީ
Comment[ee]=SeaMonkey IRC ƒe dzeɖoɖo ƒe asisi
Comment[el]=Πελάτης συνομιλίας SeaMonkey IRC
Comment[eo]=SeaMonkey IRC-babilkliento
Comment[es]=Cliente de chat IRC de SeaMonkey
Comment[et]=SeaMonkey IRC vestlusklient
Comment[eu]=SeaMonkey IRC txat-bezeroa
Comment[fa]=SeaMonkey IRC ﺖﭼ ﯼﺮﺘﺸﻣ
Comment[fi]=SeaMonkey IRC-chat-ohjelma
Comment[fj]=SeaMonkey IRC veitalanoa
Comment[fo]=SeaMonkey IRC chat client
Comment[fr]=Client de discussion IRC SeaMonkey
Comment[fy]=SeaMonkey IRC chat client
Comment[ga]=Cliant comhrá SeaMonkey IRC
Comment[gd]=Neach-dèiligidh cabadaich SeaMonkey IRC
Comment[gl]=Cliente de chat IRC SeaMonkey
Comment[gn]=SeaMonkey IRC ñe’ẽñemi cliente
Comment[gu]=SeaMonkey IRC ચેટ ક્લાયંટ
Comment[ha]=SeaMonkey IRC hira abokin ciniki
Comment[he]=SeaMonkey IRC לש טא'צ חוקל
Comment[hi]=SeaMonkey IRC चैट क्लाइंट
Comment[hr]=SeaMonkey IRC chat klijent
Comment[ht]=SeaMonkey IRC chat kliyan
Comment[hu]=SeaMonkey IRC chat kliens
Comment[hy]=SeaMonkey IRC զրույցի հաճախորդ
Comment[id]=Klien obrolan SeaMonkey IRC
Comment[ig]=SeaMonkey IRC nkata ahịa
Comment[is]=SeaMonkey IRC spjallviðskiptavinur
Comment[it]=Client di chat SeaMonkey IRC
Comment[iu]=SeaMonkey IRC−ᑯᑦ ᐅᖃᖃᑎᖃᖅᑐᑦ
Comment[ja]=SeaMonkey IRC チャット クライアント
Comment[jv]=Klien obrolan IRC SeaMonkey
Comment[ka]=SeaMonkey IRC ჩატის კლიენტი
Comment[kk]=SeaMonkey IRC чат клиенті
Comment[km]=កម្មវិធីជជែកកំសាន្ត SeaMonkey IRC
Comment[kn]=ಸೀಮಂಕಿ IRC ಚಾಟ್ ಕ್ಲೈಂಟ್
Comment[ko]=SeaMonkey IRC 채팅 클라이언트
Comment[ku]=muwekîlê chatê SeaMonkey IRC
Comment[ky]=SeaMonkey IRC чат кардары
Comment[la]=SeaMonkey IRC chat clientis
Comment[lb]=SeaMonkey IRC Chat Client
Comment[lg]=SeaMonkey IRC kasitoma w'emboozi
Comment[ln]=SeaMonkey IRC client ya kosolola
Comment[lo]=ລູກຄ້າສົນທະນາ SeaMonkey IRC
Comment[lt]=SeaMonkey IRC pokalbių klientas
Comment[lv]=SeaMonkey IRC tērzēšanas klients
Comment[mg]=SeaMonkey IRC mpanjifa chat
Comment[mi]=Kaihoko korero a SeaMonkey IRC
Comment[mk]=Клиент за разговор SeaMonkey IRC
Comment[ml]=SeaMonkey IRC ചാറ്റ് ക്ലയന്റ്
Comment[mn]=SeaMonkey IRC чат үйлчлүүлэгч
Comment[mr]=SeaMonkey IRC चॅट क्लायंट
Comment[ms]=Pelanggan sembang SeaMonkey IRC
Comment[mt]=SeaMonkey IRC chat klijent
Comment[my]=SeaMonkey IRC ချတ်ဖောက်သည်
Comment[ne]=SeaMonkey IRC च्याट ग्राहक
Comment[nl]=SeaMonkey IRC-chatclient
Comment[no]=SeaMonkey IRC chat-klient
Comment[ny]=SeaMonkey IRC chat kasitomala
Comment[om]=Maamila marii IRC SeaMonkey
Comment[or]=SeaMonkey IRC ଚାଟ୍ କ୍ଲାଏଣ୍ଟ |
Comment[pa]=SeaMonkey IRC ਚੈਟ ਕਲਾਇੰਟ
Comment[pl]=Klient czatu SeaMonkey IRC
Comment[ps]=ﻲﮑﻧﻭﺩﻭﺮﯿﭘ ﭧﯿﭼ SeaMonkey IRC ﺩ
Comment[pt]=Cliente de bate-papo IRC SeaMonkey
Comment[qu]=SeaMonkey IRC rimanakuy cliente
Comment[ro]=Client de chat IRC SeaMonkey
Comment[ru]=Клиент IRC-чата SeaMonkey
Comment[rw]=InyanjaMonkey IRC umukiriya
Comment[sa]=SeaMonkey IRC गपशप ग्राहक
Comment[sd]=SeaMonkey IRC ٽﻨﺋﻼ﻿ڪ ٽﻴﭼ
Comment[si]=SeaMonkey IRC කතාබස් සේවාදායකයා
Comment[sk]=IRC chatovací klient SeaMonkey
Comment[sl]=Odjemalec klepeta SeaMonkey IRC
Comment[sm]=SeaMonkey IRC talatalanoaga tagata fa'atau
Comment[sn]=SeaMonkey IRC chat mutengi
Comment[so]=SeaMonkey IRC chat macmiilka
Comment[sq]=Klient i bisedës SeaMonkey IRC
Comment[st]=SeaMonkey IRC moreki oa moqoqo
Comment[su]=SeaMonkey IRC obrolan klien
Comment[sv]=SeaMonkey IRC chattklient
Comment[sw]=Mteja wa gumzo wa SeaMonkey IRC
Comment[ta]=SeaMonkey IRC அரட்டை கிளையன்ட்
Comment[te]=SeaMonkey IRC చాట్ క్లయింట్
Comment[tg]=Мизоҷи сӯҳбати SeaMonkey IRC
Comment[th]=โปรแกรมแชท SeaMonkey IRC
Comment[ti]=SeaMonkey IRC ናይ ዕላል ዓሚል
Comment[tk]=SeaMonkey IRC söhbetdeşlik müşderisi
Comment[tl]=SeaMonkey IRC chat client
Comment[to]=SeaMonkey IRC chat client
Comment[tr]=SeaMonkey IRC sohbet istemcisi
Comment[ts]=SeaMonkey IRC xitirhisiwa xa mbulavurisano
Comment[tt]=SeaMonkey IRC чат клиенты
Comment[tw]=SeaMonkey IRC nkɔmmɔbɔ afɛfo
Comment[ty]=SeaMonkey IRC
Comment[ug]=SeaMonkey IRC ﻯﺭﺍﺪﯨﺮﯧﺧ ﺶﯩﺸﯩﻠﯕﺍﺭﺎﭘ
Comment[uk]=Клієнт чату SeaMonkey IRC
Comment[ur]=SeaMonkey IRC ﭧﻨﺋﻼ﻿ﮐ ﭧﯿﭼ
Comment[uz]=SeaMonkey IRC chat mijozi
Comment[vi]=Ứng dụng trò chuyện SeaMonkey IRC
Comment[xh]=SeaMonkey IRC chat client
Comment[yi]=SeaMonkey IRC טנעילק סעומש
Comment[yo]=SeaMonkey IRC iwiregbe ibara
Comment[zh]=SeaMonkey IRC 聊天客户端
Comment[zu]=Iklayenti lengxoxo le-SeaMonkey IRC
Comment=SeaMonkey IRC chat client
Exec=mozchat
Terminal=false
Type=Application
Categories=X-Internet-chat
GenericName=SeaMonkey IRC chat client
