[Desktop Entry]
Encoding=UTF-8
Name[af]=HardInfo hardeware inligting
Name[am]=የሃርድ ኢንፎ ሃርድዌር መረጃ
Name[ar]=HardInfo ﺓﺰﻬﺟﻷ﻿ﺍ ﺕﺎﻣﻮﻠﻌﻣ
Name[as]=HardInfo হাৰ্ডৱেৰ তথ্য
Name[ay]=HardInfo hardware ukan yatiyawipa
Name[az]=HardInfo aparat məlumatı
Name[ba]=HardInfo аппарат мәғлүмәте
Name[be]=Інфармацыя аб апаратным забеспячэнні HardInfo
Name[bg]=HardInfo информация за хардуера
Name[bm]=HardInfo ka kunnafonidilanw kunnafoni
Name[bn]=হার্ডইনফো হার্ডওয়্যার তথ্য
Name[bo]=སྲ་མཁྲེགས་ཅན་གྱི་མཁྲེགས་ཆས་ཆ་འཕྲིན།
Name[bs]=HardInfo informacije o hardveru
Name[ca]=Informació de maquinari HardInfo
Name[co]=HardInfo infurmazione hardware
Name[cs]=HardInfo informace o hardwaru
Name[cy]=Gwybodaeth caledwedd HardInfo
Name[da]=HardInfo hardwareoplysninger
Name[de]=HardInfo-Hardwareinformationen
Name[dv]=ތުމާލޫއުމަ އާވެޑްހާ ފޯންއިޑްހާ
Name[ee]=HardInfo ƒe xɔtunuwo ŋuti nyatakakawo
Name[el]=Πληροφορίες υλικού HardInfo
Name[en]=HardInfo hardware information
Name[eo]=HardInfo-aparataj informoj
Name[es]=Información de hardware HardInfo
Name[et]=HardInfo riistvarateave
Name[eu]=HardInfo hardwarearen informazioa
Name[fa]=HardInfo ﯼﺭﺍﺰﻓﺍ ﺖﺨﺳ ﺕﺎﻋﻼ﻿ﻃﺍ
Name[fi]=HardInfo laitteistotiedot
Name[fj]=iTukutuku ni hardInfo hardware
Name[fo]=HardInfo hardware information
Name[fr]=Informations sur le matériel HardInfo
Name[fy]=HardInfo hardware ynformaasje
Name[ga]=Faisnéis crua-earraí HardInfo
Name[gd]=Fiosrachadh bathar-cruaidh HardInfo
Name[gl]=Información de hardware HardInfo
Name[gn]=HardInfo marandu hardware rehegua
Name[gu]=હાર્ડઇન્ફો હાર્ડવેર માહિતી
Name[ha]=HardInfo bayanan hardware
Name[he]=HardInfo לש הרמוחה לע עדימ
Name[hi]=हार्डइन्फो हार्डवेयर जानकारी
Name[hr]=HardInfo informacije o hardveru
Name[ht]=HardInfo enfòmasyon pyès ki nan konpitè
Name[hu]=HardInfo hardverinformáció
Name[hy]=HardInfo ապարատային տեղեկատվություն
Name[id]=Informasi perangkat keras HardInfo
Name[ig]=Ozi ngwaike HardInfo
Name[is]=HardInfo vélbúnaðarupplýsingar
Name[it]=Informazioni sull'hardware HardInfo
Name[iu]=ᖃᕋᓴᐅᔭᕐᒧᑦ ᑐᑭᓯᒋᐊᕈᑎᑦ
Name[ja]=HardInfo ハードウェア情報
Name[jv]=Informasi hardware HardInfo
Name[ka]=HardInfo ტექნიკის ინფორმაცია
Name[kk]=HardInfo аппараттық ақпарат
Name[km]=ព័ត៌មានផ្នែករឹង HardInfo
Name[kn]=HardInfo ಯಂತ್ರಾಂಶ ಮಾಹಿತಿ
Name[ko]="HardInfo 하드웨어 정보"
Name[ku]=Agahdariya hardware ya HardInfo
Name[ky]=HardInfo аппараттык маалымат
Name[la]=HardInfo hardware notitia
Name[lb]=HardInfo Hardware Informatiounen
Name[lg]=Ebikwata ku byuma bya HardInfo
Name[ln]=Ba informations ya matériel ya HardInfo
Name[lo]=ຂໍ້ມູນຮາດແວ HardInfo
Name[lt]=„HardInfo“ techninės įrangos informacija
Name[lv]=HardInfo aparatūras informācija
Name[mg]=HardInfo hardware information
Name[mi]=Nga korero mo nga taputapu HardInfo
Name[mk]=HardInfo информации за хардверот
Name[ml]=HardInfo ഹാർഡ്u200cവെയർ വിവരങ്ങൾ
Name[mn]=HardInfo техник хангамжийн мэдээлэл
Name[mr]=हार्डइन्फो हार्डवेअर माहिती
Name[ms]=Maklumat perkakasan HardInfo
Name[mt]=Informazzjoni dwar il-ħardwer HardInfo
Name[my]=HardInfo ဟာ့ဒ်ဝဲအချက်အလက်
Name[ne]=HardInfo हार्डवेयर जानकारी
Name[nl]=HardInfo-hardware-informatie
Name[no]=HardInfo maskinvareinformasjon
Name[ny]=Zambiri za HardInfo Hardware
Name[om]=Odeeffannoo haardwaara HardInfo
Name[or]=ହାର୍ଡଇନଫୋ ହାର୍ଡୱେର୍ ସୂଚନା |
Name[pa]=HardInfo ਹਾਰਡਵੇਅਰ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o sprzęcie HardInfo
Name[ps]=ﺕﺎﻣﻮﻠﻌﻣ ﺮﯾﻭډﺭﺎﻫ ﻮﻔﻧﺍ ډﺭﺎﻫ ﺩ
Name[pt]=Informações de hardware HardInfo
Name[qu]=HardInfo hardware willakuy
Name[ro]=HardInfo informații hardware
Name[ru]=Информация об оборудовании HardInfo
Name[rw]=Ibisobanuro bya HardInfo
Name[sa]=HardInfo हार्डवेयर सूचना
Name[sd]=HardInfo ﮠﺎﭴ ﺮﺌﻳﻭڊﺭﺎﻫ
Name[si]=HardInfo දෘඪාංග තොරතුරු
Name[sk]=HardInfo hardvérové informácie
Name[sl]=Informacije o strojni opremi HardInfo
Name[sm]=HardInfo fa'amatalaga meafaigaluega
Name[sn]=HardInfo Hardware ruzivo
Name[so]=Macluumaadka qalabka HardInfo
Name[sq]=Informacioni i harduerit HardInfo
Name[st]=Boitsebiso ba HardInfo hardware
Name[su]=Inpo hardware HardInfo
Name[sv]=HardInfo hårdvaruinformation
Name[sw]=Maelezo ya vifaa vya HardInfo
Name[ta]=HardInfo வன்பொருள் தகவல்
Name[te]=HardInfo హార్డ్u200cవేర్ సమాచారం
Name[tg]=Маълумот дар бораи сахтафзор HardInfo
Name[th]=ข้อมูลฮาร์ดแวร์ HardInfo
Name[ti]=ሓበሬታ ሃርድዌር ሃርድኢንፎ
Name[tk]=HardInfo enjam maglumatlary
Name[tl]=Impormasyon sa hardware ng HardInfo
Name[to]=Fakamatala ki he hardInfo
Name[tr]=HardInfo donanım bilgisi
Name[ts]=Vuxokoxoko bya hardware ya HardInfo
Name[tt]=HardInfo аппарат турында мәгълүмат
Name[tw]=HardInfo hardware ho nsɛm
Name[ty]=Te mau haamaramaramaraa no ni'a i te mau matini roro uira
Name[ug]=HardInfo ﻯﺭﯘﭼﯘﺋ ﻝﺎﺘﯦﺩ ﻖﯩﺘﺗﺎﻗ
Name[uk]=Інформація про обладнання HardInfo
Name[ur]=ﺕﺎﻣﻮﻠﻌﻣ ﯽﮐ ﺮﺌﯾﻭﮈﺭﺎﮨ ﻮﻔﻧﺍ ﮈﺭﺎﮨ
Name[uz]=HardInfo apparat ma'lumotlari
Name[vi]=Thông tin phần cứng HardInfo
Name[xh]=HardInfo ulwazi lwehardware
Name[yi]=עיצאַמראָפֿניא גראַוונזיַי אָפנידראַה
Name[yo]=HardInfo hardware alaye
Name[zh]=HardInfo硬件信息
Name[zu]=Ulwazi lwehadiwe ye-HardInfo
Name=HardInfo hardware information
Exec=hardinfo
Icon=hardinfo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System
GenericName=HardInfo
