[Desktop Entry]
Encoding=UTF-8
Name=Xlock lock screen
Icon=mini-lock.xpm
Comment=Xlock lock screen
Exec=/usr/local/apps/Xlock/AppRun -locknow
Terminal=false
Type=Application
Categories=X-System-security
GenericName=Xlock
