[Desktop Entry]
Version=1.0
Type=Application
Name[fr]=Lecteur audio : Audacious 
Name[de]=Audacious Musikplayer
Name[es]=Audacious: reproductor de música
Name[ru]=музыкальный проигрыватель Audacious
Name[af]=Gewaagde musiekspeler
Name[am]=ደፋር የሙዚቃ ማጫወቻ
Name[ar]=ءﻱﺮﺟ ﻰﻘﻴﺳﻮﻣ ﻞﻐﺸﻣ
Name[as]=সাহসী সংগীত প্লেয়াৰ
Name[ay]=Jan axsart’as musica phust’iri
Name[az]=Cəsarətli musiqi pleyeri
Name[ba]=Ауйлы музыка уйынсыһы
Name[be]=Адважны музычны плэер
Name[bg]=Смел музикален плейър
Name[bm]=Musique player jagɛlɛn
Name[bn]=সাহসী মিউজিক প্লেয়ার
Name[bo]=ཡ་རབས་ཀྱི་རོལ་མོའི་ལུས་རྩལ་པ།
Name[bs]=Odvažan muzički plejer
Name[ca]=Reproductor de música audaç
Name[co]=Un lettore di musica audace
Name[cs]=Odvážný hudební přehrávač
Name[cy]=Chwaraewr cerddoriaeth beiddgar
Name[da]=En dristig musikafspiller
Name[dv]=ވެކެރެޔަލޭޕް ކްޒިއުމި ދަގަރުވަތްހި
Name[ee]=Haƒomɔ̃ dzinɔameƒotɔe
Name[el]=Τολμηρή συσκευή αναπαραγωγής μουσικής
Name[eo]=Aŭdaca muzikludanto
Name[et]=Julge muusikapleier
Name[eu]=Musika erreproduzitzaile ausarta
Name[fa]=ﻪﻧﺍﺭﻮﺴﺟ ﯽﻘﯿﺳﻮﻣ ﻩﺪﻨﻨﮐ ﺶﺨﭘ
Name[fi]=Rohkea musiikkisoitin
Name[fj]=Misini ni ivakatagi e vakatagitaka na vakatagi
Name[fo]=Audacious tónleikspælari
Name[fy]=Audacious muzykspiler
Name[ga]=Seinnteoir ceoil greannmhar
Name[gd]=Cluicheadair ciùil sgoinneil
Name[gl]=Reproductor de música audaz
Name[gn]=Reproductor de música audaz rehegua
Name[gu]=બહાદુર મ્યુઝિક પ્લેયર
Name[ha]=Mai kunna kiɗan kida
Name[he]=זעונ הקיזומ ןגנ
Name[hi]=साहसी संगीत वादक
Name[hr]=Odvažan glazbeni player
Name[ht]=Odasye jwè mizik
Name[hu]=Merész zenelejátszó
Name[hy]=Համարձակ երաժշտական նվագարկիչ
Name[id]=Pemutar musik yang berani
Name[ig]=Igwe egwu egwu egwu
Name[is]=Djarfur tónlistarspilari
Name[it]=Audace lettore musicale
Name[iu]=ᓂᔾᔭᐅᓯᔭᖅᑎ
Name[ja]=大胆な音楽プレーヤー
Name[jv]=Pamuter musik audacious
Name[ka]=გაბედული მუსიკალური პლეერი
Name[kk]=Әдемі музыка ойнатқышы
Name[km]=អ្នកលេងភ្លេងដ៏ក្លាហាន
Name[kn]=ಧೈರ್ಯಶಾಲಿ ಮ್ಯೂಸಿಕ್ ಪ್ಲೇಯರ್
Name[ko]=대담한 음악 플레이어
Name[ku]=Lîstikvana muzîkê ya wêrek
Name[ky]=Адал музыка ойноткуч
Name[la]=Audax musicorum lusor
Name[lb]=Audacious Museksspiller
Name[lg]=Omukubi w’ennyimba ow’obuvumu
Name[ln]=Lecteur ya miziki ya mpiko
Name[lo]=ເຄື່ອງຫຼີ້ນດົນຕີທີ່ກ້າຫານ
Name[lt]=Įžūlus muzikos grotuvas
Name[lv]=Drosmīgs mūzikas atskaņotājs
Name[mg]=Mpilalao mozika mazoto
Name[mi]=Kaitangi puoro puoro
Name[mk]=Смел музички плеер
Name[ml]=ധീരമായ മ്യൂസിക് പ്ലെയർ
Name[mn]=Зоригтой хөгжим тоглуулагч
Name[mr]=साहसी संगीत प्लेयर
Name[ms]=Pemain muzik yang berani
Name[mt]=Plejer tal-mużika audacious
Name[my]=ရဲတင်းသောဂီတဖွင့်စက်
Name[ne]=साहसी संगीत प्लेयर
Name[nl]=Gedurfde muziekspeler
Name[no]=En dristig musikkspiller
Name[ny]=Woyimba nyimbo momveka bwino
Name[om]=Taphattuu muuziqaa ija jabina qabu
Name[or]=ଅଡିସି ମ୍ୟୁଜିକ୍ ପ୍ଲେୟାର୍ |
Name[pa]=ਦਲੇਰ ਸੰਗੀਤ ਪਲੇਅਰ
Name[pl]=Odważny odtwarzacz muzyki
Name[ps]=ﺮﯿﻠﭘ ﮏﯾﺯﻮﯿﻣ ﯼﺭﻮﭘ ﻩړﺯ ﻪﭘ
Name[pt]=Leitor de música audacioso
Name[qu]=Audacioso takikuna tocaq
Name[ro]=Player de muzică îndrăzneț
Name[rw]=Umucuraranzi wumuziki
Name[sa]=साहसी संगीतवादकः
Name[sd]=ﺮﺌﻴﻠﭘ ڪﺯﻮﻴﻣ ﺖﺳﺩﺮﺑﺯ
Name[si]=නිර්භීත සංගීත වාදකය
Name[sk]=Odvážny hudobný prehrávač
Name[sl]=Drzen predvajalnik glasbe
Name[sm]=Taalo musika matautia
Name[sn]=Inoridza mimhanzi inoridza
Name[so]=Ciyaartoyga muusiga dhiirranaanta leh
Name[sq]=Lojtar muzikor i guximshëm
Name[st]=Sebapadi sa mmino se utlwahalang
Name[su]=Pamuter musik Audacious
Name[sv]=Djärv musikspelare
Name[sw]=Kicheza muziki cha sauti
Name[ta]=துணிச்சலான மியூசிக் பிளேயர்
Name[te]=సాహసోపేతమైన మ్యూజిక్ ప్లేయర్
Name[tg]=Плеери мусиқии аҷиб
Name[th]=เครื่องเล่นเพลงที่กล้าหาญ
Name[ti]=ደፋር መጻወቲ ሙዚቃ
Name[tk]=Ajaýyp aýdymçy
Name[tl]=Mapangahas na music player
Name[to]=Audacious player hiva
Name[tr]=Cesur müzik çalar
Name[ts]=Xichayachayani xa vuyimbeleri lexi nga ni xivindzi
Name[tt]=Тавышлы музыка уйнаучы
Name[tw]=Nnwom a wɔbɔ no akokoduru
Name[ty]=Te hoê taata faatai upaupa aravihi
Name[ug]=ﻰﭼﯘﻐﻳﻮﻗ ﺎﻜﯨﺯﯘﻣ ﺭﺍﺪﯨﺪﻧﯜﺋ
Name[uk]=Сміливий музичний плеєр
Name[ur]=ﺮﺌﯿﻠﭘ ﮎﺯﻮﯿﻣ ﮎﺎﺑ ﮯﺑ
Name[uz]=Dadil musiqa pleyeri
Name[vi]=Máy nghe nhạc táo bạo
Name[xh]=Isidlali somculo esivakalayo
Name[yi]=רעליפּש קיזומ סאַידואַ
Name[yo]=Audacious music player
Name[zh]=大胆的音乐播放器
Name[zu]=Isidlali somculo esizwakalayo
Name=Audacious music player
GenericName=Audacious
Comment[fr]=Lecteur audio Audacious
Comment[de]=Musik hören
Comment[es]=Audacious: reproductor de música
Comment[ru]=музыкальный проигрыватель Audacious
Comment[af]=Luister na musiek
Comment[am]=ሙዚቃ ማዳመጥ
Comment[ar]=ﻰﻘﻴﺳﻮﻤﻟﺍ ﻰﻟﺇ ﻊﻤﺘﺳﺍ
Comment[as]=গান শুনক
Comment[ay]=Musicanak istʼañamawa
Comment[az]=Musiqi dinləmək
Comment[ba]=Музыка тыңлау
Comment[be]=Слухаць музыку
Comment[bg]=Слушам музика
Comment[bm]=Aw ye dɔnkiliw lamɛn
Comment[bn]=গান শোনো
Comment[bo]=གླུ་དབྱངས་ལ་ཉན་པ།
Comment[bs]=Slusati muziku
Comment[ca]=Escoltar música
Comment[co]=Ascultà musica
Comment[cs]=Poslouchat hudbu
Comment[cy]=Gwrandewch ar gerddoriaeth
Comment[da]=Høre musik
Comment[dv]=ވެށެހާއަޑުއަ ކްޒިއުމި
Comment[ee]=Se haƒoƒo
Comment[el]=Ακούω μουσική
Comment[eo]=Aŭskulti muzikon
Comment[et]=Kuula muusikat
Comment[eu]=Musika entzun
Comment[fa]=ﻦﮐ ﺵﻮﮔ ﯽﻘﯿﺳﻮﻣ
Comment[fi]=Kuunnella musiikkia
Comment[fj]=Vakarorogo ki na ivakatagi
Comment[fo]=Lurta/Lurtið eftir tónleiki.
Comment[fy]=Nei musyk lústerje
Comment[ga]=Éíst le ceoil
Comment[gd]=Èisd ri ceòl
Comment[gl]=Escoita música
Comment[gn]=Ehendu músika
Comment[gu]=સંગીત સાંભળો
Comment[ha]=Saurare kida
Comment[he]=הקיסומל בשקה
Comment[hi]=संगीत सुनें
Comment[hr]=Slušati glazbu
Comment[ht]=Tande mizik
Comment[hu]=Zenét hallgat
Comment[hy]=Լսել երաժշտություն
Comment[id]=Mendengarkan musik
Comment[ig]=Gee egwu
Comment[is]=Hlusta á tónlist
Comment[it]=Ascoltare la musica
Comment[iu]=ᑐᓴᕐᓈᕐᓗᑎᑦ
Comment[ja]=音楽を聴く
Comment[jv]=Ngrungokake musik
Comment[ka]=Მუსიკის მოსმენა
Comment[kk]=Музыканы тыңдау
Comment[km]=ស្តាប់តន្ត្រី
Comment[kn]=ಸಂಗೀತವನ್ನು ಆಲಿಸಿ
Comment[ko]=음악 듣기
Comment[ku]=Cejna qiyametê pîroz be
Comment[ky]=Музыка угуу
Comment[la]=Musicam audi
Comment[lb]=Musek lauschteren
Comment[lg]=Wuliriza emiziki
Comment[ln]=Yoka miziki
Comment[lo]=ຟັງເພງ
Comment[lt]=Klausytis muzikos
Comment[lv]=Klausīties mūziku
Comment[mg]=Mihaino mozika
Comment[mi]=Whakarongo ki te waiata
Comment[mk]=Слушам музика
Comment[ml]=പാട്ട് കേൾക്കുക
Comment[mn]=Хөгжим сонсох
Comment[mr]=संगीत ऐका
Comment[ms]=Dengar muzik
Comment[mt]=Nisma l-mużika
Comment[my]=သီချင်းနားထောင်သည်
Comment[ne]=संगीतलाई सुन
Comment[nl]=Luisteren naar muziek
Comment[no]=Høre på musikk
Comment[ny]=Mverani nyimbo
Comment[om]=Muuziqaa dhaggeeffadhaa
Comment[or]=ସଙ୍ଗୀତ ଶୁଣ
Comment[pa]=ਸੰਗੀਤ ਸੁਨੋ
Comment[pl]=Posłuchać muzyki
Comment[ps]=ﯽﺷ ږﻮﻏ ﻪﺗ ﺭﻮﮑټ ګﻨټ
Comment[pt]=Ouvir música
Comment[qu]=Takikunata uyariy
Comment[ro]=Ascultă muzică
Comment[rw]=Umva umuziki
Comment[sa]=संगीतं शृणुत
Comment[sd]=ﻭﮅﭔ ﻲﻘﻴﺳﻮﻣ
Comment[si]=සංගීතයට සවන් දෙන්න
Comment[sk]=Počúvať hudbu
Comment[sl]=Poslušati glasbo
Comment[sm]=Faalogo i le musika
Comment[sn]=Kuteerera mumhanzi
Comment[so]=Dhageyso muusig
Comment[sq]=Dëgjo Muzikë
Comment[st]=Mamela mino
Comment[su]=Ngadangukeun musik
Comment[sv]=Lyssna på musik
Comment[sw]=Sikiliza muziki
Comment[ta]=இசையைக் கேளுங்கள்
Comment[te]=సంగీతం వినండి
Comment[tg]=Мусиқӣ гӯш кардан
Comment[th]=ฟังเพลง
Comment[ti]=ሙዚቃ ስምዑ
Comment[tk]=Sazy diňläň
Comment[tl]=Makinig sa musika
Comment[to]=Fanongo ki he mūsiká
Comment[tr]=Müzik dinlemek
Comment[ts]=Yingisela vuyimbeleri
Comment[tt]=Музыка тыңлау
Comment[tw]=Tie nnwom
Comment[ty]=Faaroo i te pehe
Comment[ug]=ﯓﻼ﻿ﯕﺎﺋ ﺎﻜﯨﺯﯘﻣ
Comment[uk]=Слухати музику
Comment[ur]=ﮯﺌﻨﺳ ﯽﻘﯿﺳﻮﻣ
Comment[uz]=Musiqa tinglash
Comment[vi]=Nghe nhạc
Comment[xh]=Mamela umculo
Comment[yi]=קיזומ וצ ןרעהוצ
Comment[yo]=Gbọ orin
Comment[zh]=听音乐
Comment[zu]=Lalela umculo
Comment=Listen to music
Icon=audacious.png
Categories=Audio
Exec=audacious
StartupNotify=true
Terminal=false
MimeType=application/ogg;application/x-cue;application/x-ogg;application/xspf+xml;audio/*
