[Desktop Entry]
Version=1.0
Type=Application
Name[fr]=Lecteur audio : Audacious 
Name[de]=Audacious Musikplayer
Name[es]=Audacious: reproductor de música
Name[ru]=музыкальный проигрыватель Audacious
Name=Audacious music player
GenericName=Audacious
Comment[fr]=Lecteur audio Audacious
Comment[de]=Musik hören
Comment[es]=Audacious: reproductor de música
Comment[ru]=музыкальный проигрыватель Audacious
Comment=Listen to music
Icon=audacious.png
Categories=Audio
Exec=audacious
StartupNotify=true
Terminal=false
MimeType=application/ogg;application/x-cue;application/x-ogg;application/xspf+xml;audio/*
