[Desktop Entry]
Name[fr]=Usine de widget AWF gtk3
Name[de]=AWF gtk3 Widget Factory
Name[es]=AWF: vista previa de temas para gtk3
Name[ru]=Фабрика виджетов AWF gtk3
Name[tr]=AWF gtk3 Widget Fabrikası
Name=AWF gtk3 widget factory
Comment[fr]=Usine de widget - une application d'aperçu de thème pour gtk3
Comment[de]=Eine Widget-Factory - eine Theme-Vorschauanwendung für gtk3
Comment[es]=AWF: vista previa de temas para gtk3
Comment[ru]=Фабрика виджетов - приложение для предварительного просмотра темы для gtk3
Comment[tr]=AWF widget fabrikası - gtk3 için bir tema önizleme uygulaması
Comment=A widget factory - a theme preview application for gtk3
Exec=awf-gtk3
Icon=awf.png
Terminal=false
Type=Application
Categories=X-Utility-development
StartupNotify=true
