[Desktop Entry]
Name[fr]=Usine de widget AWF gtk2
Name[de]=AWF gtk2 Widget Factory
Name[es]=AWF: vista previa de temas para gtk2
Name[ru]=Фабрика виджетов AWF gtk2
Name=AWF gtk2 widget factory
Comment[fr]=Usine de widget - une application d'aperçu de thème pour gtk2
Comment[de]=Eine Widget-Factory - eine Theme-Vorschauanwendung für gtk2
Comment[es]=AWF: vista previa de temas para gtk2
Comment[ru]=Фабрика виджетов - приложение для предварительного просмотра темы для gtk2
Comment=A widget factory - a theme preview application for gtk2
Exec=awf-gtk2
Icon=awf.png
Terminal=false
Type=Application
Categories=X-Utility-development
StartupNotify=true
