[Desktop Entry]
Name=AWF gtk2 widget factory
Name[fr]=Usine de widget AWF gtk2
Comment=A widget factory - a theme preview application for gtk2
Comment[fr]=Usine de widget - une application d'aperçu de thème pour gtk2
Exec=awf-gtk2
Icon=awf.png
Terminal=false
Type=Application
Categories=X-Utility-development
StartupNotify=true
