[Desktop Entry]
Encoding=UTF-8
Name=BlueGriffon WYSIWYG HTML editor
Name[fr]=Éditeur WYSIWYG HTML : BlueGriffon
Icon=bluegriffon.png
Comment=BlueGriffon WYSIWYG HTML editorbrowser
Comment[fr]=BlueGriffon Éditeur WYSIWYG HTML 
Exec=bluegriffon
Terminal=false
Type=Application
Categories=X-Document-layout
GenericName=BlueGriffon
