[Desktop Entry]
Encoding=UTF-8
Name[bg]=Изтеглете най-новия Chrome
Name[cs]=Stáhněte si nejnovější Chrome
Name[da]=Download den seneste Chrome
Name[nl]=Download de nieuwste Chrome
Name[fi]=Lataa uusin Chrome
Name[fr]=Télécharger le dernier Chrome
Name[de]=Laden Sie die neueste Version von Chrome
Name[el]=Κατεβάστε το τελευταίο Chrome
Name[hu]=Töltse le a legújabb Chrome
Name[it]=Scarica l'ultimo Chrome
Name[pl]=Pobierz najnowszego Chrome
Name[pt]=Baixar Chrome mais recente
Name[ru]=Скачать последнюю версию Chrome
Name[es]=Descarga la última versión de Chrome
Name[sv]=Ladda ner senaste Chrome
Name[tr]=Chrome son sürümü indirin
Name=Download latest Chrome
Icon=cc-dl-latest.png
Comment[tr]=En son Chrome tarayıcısını indirin
Comment=Download latest Chrome browser
Exec=cc-dl-latest
Terminal=false
Type=Application
Categories=X-Internet
GenericName=CCDL
