[Desktop Entry]
Encoding=UTF-8
Name[fr]=Nombres complexes : Cgtkcalc 
Name[de]=Cgtkcalc komplexe Zahlen
Name=Cgtkcalc complex numbers
Icon=mini-calc.xpm
Comment[de]=Cgtkcalc komplexe Zahlen
Comment=Cgtkcalc complex numbers
Exec=cgtkcalc
Terminal=false
Type=Application
Categories=Calculator
GenericName=Cgtkcalc
