[Desktop Entry]
Version=1.0
Name=Chromium web browser
Name[fr]=Navigateur Web : Chromium
GenericName=Chromium
Comment=Chromium web browser
Comment[fr]=Navigateur Web Chromium
Exec=chromium
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium.png
Categories=X-Internet-browser
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Chromium-browser
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser
