[Desktop Entry]
Encoding=UTF-8
Name[de]=Display-Steuerung
Name=Display Control
Name[fr]=Contrôle de l'affichage
Icon=/usr/local/dcontrol/icons/monitor.svg
Comment[de]=Einstellen von Bildschirmtönung und Helligkeit
Comment=Set screen tint and brightness
Comment[fr]=Définir la teinte d'écran et la luminosité
Exec=/usr/local/dcontrol/dcontrol
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=Display manager
