[Desktop Entry]
Encoding=UTF-8
Name[fr]=Applications par défaut
Name[de]=Standardanwendungsauswahl
Name[es]=Elegir apps predeterminadas
Name[ru]=Выбор приложений по умолчанию
Name=Default Applications Chooser
Icon=Executable.xpm
Comment[fr]=Sélecteur d'applications par défaut
Comment[de]=Standardanwendungsauswahl
Comment[es]=Selector de aplicaciones predeterminadas
Comment[ru]=Выбор приложений по умолчанию
Comment=Default Applications Chooser
Exec=defaults-chooser
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=Default-Applications-Chooser
