[Desktop Entry]
Name[fr]=Webcam de téléphone : DroidCam
Name[de]=DroidCam Telefon Webcam
Name[es]=DroidCam: usar teléfono como webcam
Name[ru]=Веб-камера телефона DroidCam
Name=DroidCam phone webcam
GenericName=DroidCam
Comment[fr]=DroidCam téléphone Android et iPhone comme webcam
Comment[de]=DroidCam Android Handy und iPhone als Webcam
Comment[es]=DroidCam: usar teléfono Android / iPhone como webcam
Comment[ru]=Android-телефон DroidCam и iPhone в качестве веб-камеры
Comment=DroidCam Android phone and iPhone as webcam
Exec=droidcam
Icon=droidcam.png
Terminal=false
Type=Application
Categories=X-Multimedia-video
