[Desktop Entry]
Name[de]=DroidCam Telefon Webcam
Name=DroidCam phone webcam
Name[fr]=Webcam de téléphone : DroidCam
GenericName=DroidCam
Comment[de]=DroidCam Android Handy und iPhone als Webcam
Comment=DroidCam Android phone and iPhone as webcam
Comment[fr]=DroidCam téléphone Android et iPhone comme webcam
Exec=droidcam
Icon=droidcam.png
Terminal=false
Type=Application
Categories=X-Multimedia-video
