
[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=dropbox_gui
GenericName=DropboxGUI
Icon=dropbox.png
MimeType=
Name[fr]=Gestionnaire de fichiers : DropboxGUI
Name=DropboxGUI file manager
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=X-Internet-transfer
