
[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=dropbox_gui
GenericName=DropboxGUI
Icon=dropbox.png
MimeType=
Name[fr]=Gestionnaire de fichiers : DropboxGUI
Name[de]=DropboxGUI-Dateimanager
Name[es]=DropboxGUI: explorador para Dropbox
Name[ru]=Файловый менеджер DropboxGUI
Name[af]=DropboxGUI lêer bestuurder
Name[am]=DropboxGUI ፋይል አቀናባሪ
Name[ar]=DropboxGUI ﺕﺎﻔﻠﻤﻟﺍ ﺮﻳﺪﻣ
Name[as]=DropboxGUI নথিপত্ৰ ব্যৱস্থাপক
Name[ay]=DropboxGUI qillqata apnaqiri
Name[az]=DropboxGUI fayl meneceri
Name[ba]=DropboxGUI файл менеджеры
Name[be]=Файлавы менеджэр DropboxGUI
Name[bg]=DropboxGUI файлов мениджър
Name[bm]=DropboxGUI filenw ɲɛnabɔbaga
Name[bn]=ড্রপবক্সজিইউআই ফাইল ম্যানেজার
Name[bo]=DropboxGUI ཡིག་ཚགས་དོ་དམ་པ།
Name[bs]=DropboxGUI menadžer datoteka
Name[ca]=Gestor de fitxers DropboxGUI
Name[co]=Gestore di file DropboxGUI
Name[cs]=Správce souborů DropboxGUI
Name[cy]=Rheolwr ffeiliau DropboxGUI
Name[da]=DropboxGUI filhåndtering
Name[dv]=ވެއެ ރޖަނޭމެ ލްއިފަ އިއައިއަޖީސްކްބޮޕްރޮޑް
Name[ee]=DropboxGUI ƒe faɛl dzikpɔla
Name[el]=Διαχείριση αρχείων DropboxGUI
Name[eo]=DropboxGUI dosiermanaĝero
Name[et]=DropboxGUI failihaldur
Name[eu]=DropboxGUI fitxategi-kudeatzailea
Name[fa]=DropboxGUI ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Name[fi]=DropboxGUI-tiedostonhallinta
Name[fj]=Manidia ni faile ni DropboxGUI
Name[fo]=DropboxGUI file manager
Name[fy]=DropboxGUI triembehearder
Name[ga]=Bainisteoir comhad DropboxGUI
Name[gd]=Manaidsear faidhle DropboxGUI
Name[gl]=Xestor de ficheiros DropboxGUI
Name[gn]=DropboxGUI vore mohendaha
Name[gu]=DropboxGUI ફાઇલ મેનેજર
Name[ha]=DropboxGUI mai sarrafa fayil
Name[he]=DropboxGUI לש םיצבק להנמ
Name[hi]=ड्रॉपबॉक्सजीयूआई फ़ाइल प्रबंधक
Name[hr]=DropboxGUI upravitelj datoteka
Name[ht]=Manadjè dosye DropboxGUI
Name[hu]=DropboxGUI fájlkezelő
Name[hy]=DropboxGUI ֆայլերի կառավարիչ
Name[id]=Manajer file DropboxGUI
Name[ig]=Onye njikwa faili DropboxGUI
Name[is]=DropboxGUI skráarstjóri
Name[it]=Gestore di file DropboxGUI
Name[iu]=ᐃᓯᕆᐊᕐᕕᒃ (ᐃᓯᕐᕕᒃ)
Name[ja]=DropboxGUIファイルマネージャー
Name[jv]=Pangatur file DropboxGUI
Name[ka]=DropboxGUI ფაილის მენეჯერი
Name[kk]=DropboxGUI файл менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងឯកសារ DropboxGUI
Name[kn]=DropboxGUI ಫೈಲ್ ಮ್ಯಾನೇಜರ್
Name[ko]=DropboxGUI 파일 관리자
Name[ku]=Rêvebirê pelê DropboxGUI
Name[ky]=DropboxGUI файл менеджери
Name[la]=DropboxGUI lima procurator
Name[lb]=DropboxGUI Datei Manager
Name[lg]=Omuddukanya fayiro ya DropboxGUI
Name[ln]=Mokambi ya fisyé DropboxGUI
Name[lo]=ຕົວຈັດການໄຟລ໌ DropboxGUI
Name[lt]=DropboxGUI failų tvarkyklė
Name[lv]=DropboxGUI failu pārvaldnieks
Name[mg]=DropboxGUI file manager
Name[mi]=Kaiwhakahaere kōnae DropboxGUI
Name[mk]=Управувач со датотеки DropboxGUI
Name[ml]=DropboxGUI ഫയൽ മാനേജർ
Name[mn]=DropboxGUI файлын менежер
Name[mr]=ड्रॉपबॉक्सजीयूआय फाइल व्यवस्थापक
Name[ms]=Pengurus fail DropboxGUI
Name[mt]=Maniġer tal-fajl DropboxGUI
Name[my]=DropboxGUI ဖိုင်မန်နေဂျာ
Name[ne]=DropboxGUI फाइल प्रबन्धक
Name[nl]=DropboxGUI-bestandsbeheer
Name[no]=DropboxGUI filbehandler
Name[ny]=Woyanganira fayilo wa DropboxGUI
Name[om]=Bulchaa faayilii DropboxGUI
Name[or]=ଡ୍ରପବକ୍ସ GUI ଫାଇଲ ପରିଚାଳକ |
Name[pa]=DropboxGUI ਫਾਈਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików DropboxGUI
Name[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ DropboxGUI ﺩ
Name[pt]=Gerenciador de arquivos DropboxGUI
Name[qu]=DropboxGUI willañiqi kamachiq
Name[ro]=Manager de fișiere DropboxGUI
Name[rw]=Umuyobozi wa dosiye ya DropboxGUI
Name[sa]=DropboxGUI सञ्चिकाप्रबन्धकः
Name[sd]=DropboxGUI ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ
Name[si]=DropboxGUI ගොනු කළමනාකරු
Name[sk]=Správca súborov DropboxGUI
Name[sl]=DropboxGUI upravitelj datotek
Name[sm]=DropboxGUI faila faila
Name[sn]=DropboxGUI faira maneja
Name[so]=DropboxGUI maareeyaha faylka
Name[sq]=Menaxheri i skedarëve DropboxGUI
Name[st]=Motsamaisi oa faele oa DropboxGUI
Name[su]=Pangatur file DropboxGUI
Name[sv]=DropboxGUI filhanterare
Name[sw]=Kidhibiti faili cha DropboxGUI
Name[ta]=DropboxGUI கோப்பு மேலாளர்
Name[te]=DropboxGUI ఫైల్ మేనేజర్
Name[tg]=Менеҷери файли DropboxGUI
Name[th]=ตัวจัดการไฟล์ DropboxGUI
Name[ti]=DropboxGUI ፋይል ማናጀር
Name[tk]=DropboxGUI faýl dolandyryjysy
Name[tl]=DropboxGUI file manager
Name[to]=Pule ʻo e faile DropboxGUI
Name[tr]=DropboxGUI dosya yöneticisi
Name[ts]=DropboxGUI mufambisi wa fayili
Name[tt]=DropboxGUI файл менеджеры
Name[tw]=DropboxGUI fael sohwɛfo
Name[ty]=DropboxGUI tia faatere no te putuite
Name[ug]=DropboxGUI ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺠﺟﯚﮬ
Name[uk]=Файловий менеджер DropboxGUI
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ ﯽﺋﺁ ﻮﯾ ﯽﺟ ﺲﮐﺎﺑ ﭖﺍﺭﮈ
Name[uz]=DropboxGUI fayl menejeri
Name[vi]=Trình quản lý tệp DropboxGUI
Name[xh]=Umphathi wefayile yeDropboxGUI
Name[yi]=DropboxGUI רעטלאַווראַפ עקעט
Name[yo]=DropboxGUI oluṣakoso faili
Name[zh]=DropboxGUI 文件管理器
Name[zu]=Umphathi wefayela le-DropboxGUI
Name=DropboxGUI file manager
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=X-Internet-transfer
