[Desktop Entry]
Encoding=UTF-8
Name[fr]=Lancer vos applications préférées : EasyApps
Name=EasyApps launch favorite apps
Icon=/usr/local/PupApps/icons/applications48.png
Comment[fr]=Lancer les applications préférées
Comment=Launch favorite applications
Exec=PupApps
Terminal=false
Type=Application
Categories=Utility;
GenericName=EasyApps launch favorite apps
