[Desktop Entry]
Type=Application
Encoding=UTF-8
Name[de]=EasyCast Bildschirmschreiber
Name=EasyCast screen recorder
Name[fr]=Enregistreur d'écran Easycast
GenericName=EasyCast
Comment[de]=EasyCast Bildschirmschreiber
Comment=EasyCast screen recorder
Comment[fr]=Enregistreur d'écran Easycast
Icon=easycast.png
Exec=easycast
Terminal=false
Categories=X-Multimedia-utility

