[Desktop Entry]
Type=Application
Encoding=UTF-8
Name[fr]=Enregistreur d'écran Easycast
Name[de]=EasyCast Bildschirmschreiber
Name[es]=EasyCast: grabar la pantalla
Name[ru]=EasyCast запись экрана
Name[af]=EasyCast skermopnemer
Name[am]=EasyCast ስክሪን መቅጃ
Name[ar]=EasyCast ﺔﺷﺎﺷ ﻞﺠﺴﻣ
Name[as]=EasyCast স্ক্ৰীণ ৰেকৰ্ডাৰ
Name[ay]=EasyCast pantalla grabadora
Name[az]=EasyCast ekran yazıcısı
Name[ba]=EasyCast сценаристы
Name[be]=Дыктафон экрана EasyCast
Name[bg]=EasyCast записващо устройство за екран
Name[bm]=EasyCast ekran sɛbɛnnikɛlan
Name[bn]=ইজিকাস্ট স্ক্রিন রেকর্ডার
Name[bo]=སྟབས་བདེའི་རྒྱང་བསྒྲགས་བརྙན་ཤེལ་གྱི་སྒྲ་ཕབ་
Name[bs]=EasyCast snimač ekrana
Name[ca]=Gravador de pantalla EasyCast
Name[co]=Registratore di schermu EasyCast
Name[cs]=Záznamník obrazovky EasyCast
Name[cy]=Recordydd sgrin EasyCast
Name[da]=EasyCast skærmoptager
Name[dv]=ވެރެޑަކޯރެ ންރީކްސް ޓްސްކާޒީއީ
Name[ee]=EasyCast ƒe screen recorder
Name[el]=Εγγραφή οθόνης EasyCast
Name[eo]=Ekranregistrilo EasyCast
Name[et]=EasyCasti ekraanisalvesti
Name[eu]=EasyCast pantaila grabagailua
Name[fa]=EasyCast ﻪﺤﻔﺻ ﻩﺪﻨﻨﮐ ﻂﺒﺿ
Name[fi]=EasyCast näytön tallennin
Name[fj]=Vunivola ni sikirini ni EasyCast
Name[fo]=EasyCast screen recorder
Name[fy]=EasyCast skermrecorder
Name[ga]=Taifeadán scáileáin EasyCast
Name[gd]=Neach-clàraidh sgrion EasyCast
Name[gl]=Gravador de pantalla EasyCast
Name[gn]=EasyCast pantalla grabadora rehegua
Name[gu]=EasyCast સ્ક્રીન રેકોર્ડર
Name[ha]=EasyCast mai rikodin allo
Name[he]=EasyCast ךסמ טילקמ
Name[hi]=ईज़ीकास्ट स्क्रीन रिकॉर्डर
Name[hr]=EasyCast snimač zaslona
Name[ht]=EasyCast ekran anrejistrè
Name[hu]=EasyCast képernyőrögzítő
Name[hy]=EasyCast էկրանի ձայնագրիչ
Name[id]=Perekam layar EasyCast
Name[ig]=Ihe ndekọ ihuenyo EasyCast
Name[is]=EasyCast skjáupptökutæki
Name[it]=Registratore dello schermo EasyCast
Name[iu]=EasyCast ᓴᖅᑭᔮᖅᑐᖅ ᑎᑎᕋᖅᑎ
Name[ja]=EasyCast スクリーンレコーダー
Name[jv]=Perekam layar EasyCast
Name[ka]=EasyCast ეკრანის ჩამწერი
Name[kk]=EasyCast экран жазу құрылғысы
Name[km]=ឧបករណ៍ថតអេក្រង់ EasyCast
Name[kn]=EasyCast ಸ್ಕ್ರೀನ್ ರೆಕಾರ್ಡರ್
Name[ko]=EasyCast 스크린 레코더
Name[ku]=Tomara ekranê EasyCast
Name[ky]=EasyCast экран жазгыч
Name[la]=EasyCast screen commentariis
Name[lb]=EasyCast Écran Recorder
Name[lg]=Ekyuma ekikwata ku ssirini ekya EasyCast
Name[ln]=Enregistreur ya écran ya EasyCast
Name[lo]=ບັນທຶກຫນ້າຈໍ EasyCast
Name[lt]=EasyCast ekrano įrašymo įrenginys
Name[lv]=EasyCast ekrāna ierakstītājs
Name[mg]=EasyCast firaketana efijery
Name[mi]=EasyCast kaiwhakamahara mata
Name[mk]=EasyCast рекордер на екранот
Name[ml]=EasyCast സ്ക്രീൻ റെക്കോർഡർ
Name[mn]=EasyCast дэлгэц бичигч
Name[mr]=EasyCast स्क्रीन रेकॉर्डर
Name[ms]=Perakam skrin EasyCast
Name[mt]=Reġistratur tal-iskrin EasyCast
Name[my]=EasyCast မျက်နှာပြင်အသံဖမ်းစက်
Name[ne]=EasyCast स्क्रिन रेकर्डर
Name[nl]=EasyCast-schermrecorder
Name[no]=EasyCast skjermopptaker
Name[ny]=EasyCast chophimba chojambulira
Name[om]=Warraaqsa iskiriinii EasyCast
Name[or]=EasyCast ସ୍କ୍ରିନ୍ ରେକର୍ଡର୍ |
Name[pa]=EasyCast ਸਕਰੀਨ ਰਿਕਾਰਡਰ
Name[pl]=Rejestrator ekranu EasyCast
Name[ps]=EasyCast ﺭډﺭﺎﮑﯾﺭ ﻦﯾﺮﮑﺳ
Name[pt]=Gravador de tela EasyCast
Name[qu]=EasyCast pantalla grabadora
Name[ro]=Înregistrator de ecran EasyCast
Name[rw]=Icyuma cyerekana amashusho
Name[sa]=EasyCast स्क्रीन रिकॉर्डर
Name[sd]=EasyCast ﺭڊﺭﺎڪﺭ ﻦﻳﺮڪﺳﺍ
Name[si]=EasyCast තිර රෙකෝඩරය
Name[sk]=Rekordér obrazovky EasyCast
Name[sl]=Snemalnik zaslona EasyCast
Name[sm]=EasyCast faamaumauga mata
Name[sn]=EasyCast skrini rekodhi
Name[so]=duubista shaashadda EasyCast
Name[sq]=Regjistrues i ekranit EasyCast
Name[st]=EasyCast skrine rekota
Name[su]=Pangrékam layar EasyCast
Name[sv]=EasyCast skärminspelare
Name[sw]=Kinasa skrini cha EasyCast
Name[ta]=EasyCast திரை ரெக்கார்டர்
Name[te]=EasyCast స్క్రీన్ రికార్డర్
Name[tg]=Сабткунандаи экрани EasyCast
Name[th]=บันทึกหน้าจอ EasyCast
Name[ti]=EasyCast ስክሪን መቕረጺ
Name[tk]=“EasyCast” ekran ýazgysy
Name[tl]=EasyCast screen recorder
Name[to]=EasyCast screen tauhi lekooti
Name[tr]=EasyCast ekran kaydedici
Name[ts]=EasyCast xikirini xo rhekhoda
Name[tt]=EasyCast экран магнитофоны
Name[tw]=EasyCast screen recorder a wɔde kyere nsɛm gu kasɛt so
Name[ty]=Te mau ravea ohie no te pata i te hohoa
Name[ug]=EasyCast ﭺﯜﮕﯩﻠﯨﺮﯩﺗﺎﺧ ﻥﺍﺮﻜﯧﺋ
Name[uk]=Записувач екрана EasyCast
Name[ur]=ﺭﮈﺭﺎﮑﯾﺭ ﻦﯾﺮﮑﺳﺍ ﭧﺳﺎﮐ ﯼﺰﯾﺍ
Name[uz]=EasyCast ekran yozuvchisi
Name[vi]=Trình ghi màn hình EasyCast
Name[xh]=Irekhoda yesikrini ye-EasyCast
Name[yi]=ןאָפאָטענגאַמ ןלעטשראַפ טסאַקיסאַע
Name[yo]=EasyCast iboju agbohunsilẹ
Name[zh]=EasyCast 屏幕录像机
Name[zu]=EasyCast screen rekhoda
Name=EasyCast screen recorder
GenericName=EasyCast
Comment[fr]=Enregistreur d'écran Easycast
Comment[de]=EasyCast Bildschirmschreiber
Comment[es]=Grabador de pantalla EasyCast
Comment[ru]=Устройство записи экрана EasyCast
Comment[af]=EasyCast skermopnemer
Comment[am]=EasyCast ስክሪን መቅጃ
Comment[ar]=EasyCast ﺔﺷﺎﺷ ﻞﺠﺴﻣ
Comment[as]=EasyCast স্ক্ৰীণ ৰেকৰ্ডাৰ
Comment[ay]=EasyCast pantalla grabadora
Comment[az]=EasyCast ekran yazıcısı
Comment[ba]=EasyCast сценаристы
Comment[be]=Дыктафон экрана EasyCast
Comment[bg]=EasyCast записващо устройство за екран
Comment[bm]=EasyCast ekran sɛbɛnnikɛlan
Comment[bn]=ইজিকাস্ট স্ক্রিন রেকর্ডার
Comment[bo]=སྟབས་བདེའི་རྒྱང་བསྒྲགས་བརྙན་ཤེལ་གྱི་སྒྲ་ཕབ་
Comment[bs]=EasyCast snimač ekrana
Comment[ca]=Gravador de pantalla EasyCast
Comment[co]=Registratore di schermu EasyCast
Comment[cs]=Záznamník obrazovky EasyCast
Comment[cy]=Recordydd sgrin EasyCast
Comment[da]=EasyCast skærmoptager
Comment[dv]=ވެރެޑަކޯރެ ންރީކްސް ޓްސްކާޒީއީ
Comment[ee]=EasyCast ƒe screen recorder
Comment[el]=Εγγραφή οθόνης EasyCast
Comment[eo]=Ekranregistrilo EasyCast
Comment[et]=EasyCasti ekraanisalvesti
Comment[eu]=EasyCast pantaila grabagailua
Comment[fa]=EasyCast ﻪﺤﻔﺻ ﻂﺒﺿ
Comment[fi]=EasyCast näytön tallennin
Comment[fj]=Vunivola ni sikirini ni EasyCast
Comment[fo]=EasyCast screen recorder
Comment[fy]=EasyCast skermrecorder
Comment[ga]=Taifeadán scáileáin EasyCast
Comment[gd]=Neach-clàraidh sgrion EasyCast
Comment[gl]=Gravador de pantalla EasyCast
Comment[gn]=EasyCast pantalla grabadora rehegua
Comment[gu]=EasyCast સ્ક્રીન રેકોર્ડર
Comment[ha]=EasyCast mai rikodin allo
Comment[he]=EasyCast ךסמ טילקמ
Comment[hi]=ईज़ीकास्ट स्क्रीन रिकॉर्डर
Comment[hr]=EasyCast snimač zaslona
Comment[ht]=EasyCast ekran anrejistrè
Comment[hu]=EasyCast képernyőrögzítő
Comment[hy]=EasyCast էկրանի ձայնագրիչ
Comment[id]=Perekam layar EasyCast
Comment[ig]=Ihe ndekọ ihuenyo EasyCast
Comment[is]=EasyCast skjáupptökutæki
Comment[it]=Registratore dello schermo EasyCast
Comment[iu]=EasyCast ᓴᖅᑭᔮᖅᑐᖅ ᑎᑎᕋᖅᑎ
Comment[ja]=EasyCast スクリーンレコーダー
Comment[jv]=Perekam layar EasyCast
Comment[ka]=EasyCast ეკრანის ჩამწერი
Comment[kk]=EasyCast экран жазу құрылғысы
Comment[km]=ឧបករណ៍ថតអេក្រង់ EasyCast
Comment[kn]=EasyCast ಸ್ಕ್ರೀನ್ ರೆಕಾರ್ಡರ್
Comment[ko]=EasyCast 스크린 레코더
Comment[ku]=Tomara ekranê EasyCast
Comment[ky]=EasyCast экран жазгыч
Comment[la]=EasyCast screen commentariis
Comment[lb]=EasyCast Écran Recorder
Comment[lg]=Ekyuma ekikwata ku ssirini ekya EasyCast
Comment[ln]=Enregistreur ya écran ya EasyCast
Comment[lo]=ບັນທຶກຫນ້າຈໍ EasyCast
Comment[lt]=EasyCast ekrano įrašymo įrenginys
Comment[lv]=EasyCast ekrāna ierakstītājs
Comment[mg]=EasyCast firaketana efijery
Comment[mi]=EasyCast kaiwhakamahara mata
Comment[mk]=EasyCast рекордер на екранот
Comment[ml]=EasyCast സ്ക്രീൻ റെക്കോർഡർ
Comment[mn]=EasyCast дэлгэц бичигч
Comment[mr]=EasyCast स्क्रीन रेकॉर्डर
Comment[ms]=Perakam skrin EasyCast
Comment[mt]=Reġistratur tal-iskrin EasyCast
Comment[my]=EasyCast မျက်နှာပြင်အသံဖမ်းစက်
Comment[ne]=EasyCast स्क्रिन रेकर्डर
Comment[nl]=EasyCast-schermrecorder
Comment[no]=EasyCast skjermopptaker
Comment[ny]=EasyCast chophimba chojambulira
Comment[om]=Warraaqsa iskiriinii EasyCast
Comment[or]=EasyCast ସ୍କ୍ରିନ୍ ରେକର୍ଡର୍ |
Comment[pa]=EasyCast ਸਕਰੀਨ ਰਿਕਾਰਡਰ
Comment[pl]=Rejestrator ekranu EasyCast
Comment[ps]=EasyCast ﺭډﺭﺎﮑﯾﺭ ﻦﯾﺮﮑﺳ
Comment[pt]=Gravador de tela EasyCast
Comment[qu]=EasyCast pantalla grabadora
Comment[ro]=Înregistrator de ecran EasyCast
Comment[rw]=Icyuma cyerekana amashusho
Comment[sa]=EasyCast स्क्रीन रिकॉर्डर
Comment[sd]=EasyCast ﺭڊﺭﺎڪﺭ ﻦﻳﺮڪﺳﺍ
Comment[si]=EasyCast තිර රෙකෝඩරය
Comment[sk]=Rekordér obrazovky EasyCast
Comment[sl]=Snemalnik zaslona EasyCast
Comment[sm]=EasyCast faamaumauga mata
Comment[sn]=EasyCast skrini rekodhi
Comment[so]=duubista shaashadda EasyCast
Comment[sq]=Regjistrues i ekranit EasyCast
Comment[st]=EasyCast skrine rekota
Comment[su]=Pangrékam layar EasyCast
Comment[sv]=EasyCast skärminspelare
Comment[sw]=Kinasa skrini cha EasyCast
Comment[ta]=EasyCast திரை ரெக்கார்டர்
Comment[te]=EasyCast స్క్రీన్ రికార్డర్
Comment[tg]=Сабткунандаи экрани EasyCast
Comment[th]=บันทึกหน้าจอ EasyCast
Comment[ti]=EasyCast ስክሪን መቕረጺ
Comment[tk]=“EasyCast” ekran ýazgysy
Comment[tl]=EasyCast screen recorder
Comment[to]=EasyCast screen tauhi lekooti
Comment[tr]=EasyCast ekran kaydedici
Comment[ts]=EasyCast xikirini xo rhekhoda
Comment[tt]=EasyCast экран магнитофоны
Comment[tw]=EasyCast screen recorder a wɔde kyere nsɛm gu kasɛt so
Comment[ty]=Te mau ravea ohie no te pata i te hohoa
Comment[ug]=EasyCast ﭺﯜﮕﯩﻠﯨﺮﯩﺗﺎﺧ ﻥﺍﺮﻜﯧﺋ
Comment[uk]=Записувач екрана EasyCast
Comment[ur]=ﺭﮈﺭﺎﮑﯾﺭ ﻦﯾﺮﮑﺳﺍ ﭧﺳﺎﮐ ﯼﺰﯾﺍ
Comment[uz]=EasyCast ekran yozuvchisi
Comment[vi]=Trình ghi màn hình EasyCast
Comment[xh]=Irekhoda yesikrini ye-EasyCast
Comment[yi]=ןאָפאָטענגאַמ ןלעטשראַפ טסאַקיסאַע
Comment[yo]=EasyCast iboju agbohunsilẹ
Comment[zh]=EasyCast 屏幕录像机
Comment[zu]=EasyCast screen rekhoda
Comment=EasyCast screen recorder
Icon=easycast.png
Exec=easycast
Terminal=false
Categories=X-Multimedia-utility

