[Desktop Entry]
Type=Application
Encoding=UTF-8
Name[fr]=Enregistreur d'écran Easycast
Name[de]=EasyCast Bildschirmschreiber
Name[es]=EasyCast: grabar la pantalla
Name[ru]=Устройство записи экрана EasyCast
Name=EasyCast screen recorder
GenericName=EasyCast
Comment[fr]=Enregistreur d'écran Easycast
Comment[de]=EasyCast Bildschirmschreiber
Comment[es]=Grabador de pantalla EasyCast
Comment[ru]=Устройство записи экрана EasyCast
Comment=EasyCast screen recorder
Icon=easycast.png
Exec=easycast
Terminal=false
Categories=X-Multimedia-utility

