[Desktop Entry]
Encoding=UTF-8
Name=Download latest Firefox
Name[fr]=Télécharger le dernier Firefox
Icon=ff-dl-latest.png
Comment=Download latest Firefox
Comment[fr]=Télécharger le dernier Firefox
Exec=ff-dl-latest
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=FFDL
