[Desktop Entry]
Type=Application
Name[fr]=Convertisseur multimédia : FFConvert
Name[de]=FFConvert Multimedia-Konverter
Name[ja]=FFConvert マルチメディア変換
Name[es]=FFConvert: conversor multimedia
Name[ru]=FFConvert Конвертер мультимедиа
Name[af]=FFConvert multimedia-omskakelaar
Name[am]=FFConvert መልቲሚዲያ መቀየሪያ
Name[ar]=FFConvert ﺓﺩﺪﻌﺘﻤﻟﺍ ﻂﺋﺎﺳﻮﻟﺍ ﻝﻮﺤﻣ
Name[as]=FFConvert মাল্টিমিডিয়া ৰূপান্তৰক
Name[ay]=FFConvert ukax multimedia ukar jaqukipatawa
Name[az]=FFConvert multimedia çeviricisi
Name[ba]=FFConvert мультимедиа конвертеры
Name[be]=Мультымедыйны канвэртар FFConvert
Name[bg]=FFConvert мултимедиен конвертор
Name[bm]=FFConvert multimedia bεε bε bεn
Name[bn]=FFCconvert মাল্টিমিডিয়া কনভার্টার
Name[bo]=FFConvert 多媒体 བསྒྱུར་བཀོད་འཕྲུལ་ཆས།
Name[bs]=FFConvert multimedijalni pretvarač
Name[ca]=Convertidor multimèdia FFConvert
Name[co]=FFConvert cunvertitore multimediale
Name[cs]=Multimediální konvertor FFConvert
Name[cy]=FFConvert trawsnewidydd amlgyfrwng
Name[da]=FFConvert multimediekonverter
Name[dv]=ރޓަރވަންކޮ އާޑިމީޓިލްމަ ޓްރވަންކޮފްއެފްއެ
Name[ee]=FFConvert multimedia ƒe tɔtrɔla
Name[el]=Μετατροπέας πολυμέσων FFConvert
Name[eo]=FFConvert plurmedia konvertilo
Name[et]=FFConvert multimeediumimuundur
Name[eu]=FFConvert multimedia bihurgailua
Name[fa]=FFConvert ﯼﺍ ﻪﻧﺎﺳﺭ ﺪﻨﭼ ﻝﺪﺒﻣ
Name[fi]=FFConvert multimediamuunnin
Name[fj]=FFConvert multimedia converter
Name[fo]=FFConvert multimedia converter
Name[fy]=FFConvert multimedia converter
Name[ga]=FFConvert tiontaire ilmheán
Name[gd]=FFConvert inneal-tionndaidh ioma-mheadhain
Name[gl]=Conversor multimedia FFConvert
Name[gn]=FFConvert multimedia ñembohasaha
Name[gu]=FFCconvert મલ્ટીમીડિયા કન્વર્ટર
Name[ha]=FFConvert multimedia Converter
Name[he]=FFConvert הידמיטלומ ריממ
Name[hi]=FFConvert मल्टीमीडिया कनवर्टर
Name[hr]=FFConvert multimedijski pretvarač
Name[ht]=FFConvert konvètisè miltimedya
Name[hu]=FFConvert multimédia konverter
Name[hy]=FFConvert մուլտիմեդիա փոխարկիչ
Name[id]=Konverter multimedia FFConvert
Name[ig]=FFConvert multimedia Ntụgharị
Name[is]=FFConvert margmiðlunarbreytir
Name[it]=Convertitore multimediale FFConvert
Name[iu]=FFᖃᐅᔨᓴᕐᓂᖅ ᐱᕙᓪᓕᐊᔪᓄᑦ ᐊᓯᔾᔨᖅᑎᕆᔾᔪᑎ
Name[jv]=Konverter multimedia FFConvert
Name[ka]=FFConvert მულტიმედიური გადამყვანი
Name[kk]=FFConvert мультимедиялық түрлендіргіш
Name[km]=FFConvert កម្មវិធីបំលែងពហុព័ត៌មាន
Name[kn]=FFCconvert ಮಲ್ಟಿಮೀಡಿಯಾ ಪರಿವರ್ತಕ
Name[ko]=FFConvert 멀티미디어 변환기
Name[ku]=FFConvert converter multimedia
Name[ky]=FFConvert мультимедиялык конвертер
Name[la]=FFConvert multimedia converter
Name[lb]=FFConvert Multimedia Converter
Name[lg]=FFConvert ekikyusa emikutu mingi
Name[ln]=FFConvertir mobongoli ya multimédia
Name[lo]=FFConvert ຕົວປ່ຽນມັນຕິມີເດຍ
Name[lt]=FFConvert multimedijos keitiklis
Name[lv]=FFConvert multivides pārveidotājs
Name[mg]=FFConvert multimedia mpanova
Name[mi]=FFConvert kaitahuri rongorau
Name[mk]=FFConvert мултимедијален конвертор
Name[ml]=FFCconvert മൾട്ടിമീഡിയ കൺവെർട്ടർ
Name[mn]=FFConvert мультимедиа хөрвүүлэгч
Name[mr]=FFCconvert मल्टीमीडिया कनवर्टर
Name[ms]=FFConvert penukar multimedia
Name[mt]=Konvertitur multimedjali FFConvert
Name[my]=FFConvert မာလ်တီမီဒီယာ converter
Name[ne]=FFCconvert मल्टिमिडिया कनवर्टर
Name[nl]=FFConvert multimedia-omzetter
Name[no]=FFConvert multimediekonverter
Name[ny]=FFConvert multimedia converter
Name[om]=FFConvert jijjiiramaa maltimidiyaa
Name[or]=FFConvert ମଲ୍ଟିମିଡ଼ିଆ କନଭର୍ଟର |
Name[pa]=FFCconvert ਮਲਟੀਮੀਡੀਆ ਕਨਵਰਟਰ
Name[pl]=Konwerter multimediów FFConvert
Name[ps]=FFCconvert ﺮټﺭﻮﻨﮐ ﺎﯾډﯿﻣ ﻲټﻠﻣ
Name[pt]=FFConvert conversor multimídia
Name[qu]=FFAchka willaykunata tikraq tikray
Name[ro]=Convertor multimedia FFConvert
Name[rw]=FFConvert multimedia ihindura
Name[sa]=FFConvert बहुमाध्यम परिवर्तक
Name[sd]=FFCconvert ﺮٽﺭﻮﻨڪ ﺎﻳڊﻴﻣ ﻲٽﻠﻣ
Name[si]=FFCconvert බහුමාධ්u200dය පරිවර්තකය
Name[sk]=Multimediálny konvertor FFConvert
Name[sl]=Večpredstavnostni pretvornik FFConvert
Name[sm]=FFConvert multimedia converter
Name[sn]=FFShandura multimedia inoshandura
Name[so]=Beddelka warbaahinta badan ee FFConvert
Name[sq]=Konvertuesi multimedial FFConvert
Name[st]=FFConvert multimedia converter
Name[su]=FFConvert konverter multimédia
Name[sv]=FFConvert multimediakonverterare
Name[sw]=FFConvert kigeuzi cha media titika
Name[ta]=FFCconvert மல்டிமீடியா மாற்றி
Name[te]=FFCconvert మల్టీమీడియా కన్వర్టర్
Name[tg]=Табдилдиҳандаи мултимедиявии FFConvert
Name[th]=FFConvert ตัวแปลงมัลติมีเดีย
Name[ti]=FFConvert ማልቲሚድያ ቀያሪ
Name[tk]=FFConvert multimediýa öwrüjisi
Name[tl]=FFConvert multimedia converter
Name[to]=FFConvert e ngaahi mitia kehekehe
Name[tr]=FFConvert multimedya dönüştürücü
Name[ts]=FFConvert xihundzuluxi xa multimedia
Name[tt]=FFConvert мультимедиа конвертер
Name[tw]=FFConvert multimedia nsakraeɛfoɔ
Name[ty]=FFConvert multimedia converter
Name[ug]=FFConvert ﭺﯘﻏﺭﯗﺪﻧﻼ﻿ﻳﺎﺋ ﻚﯩﻠﯩﺘﯩﺳﺍﯞ ﭖﯚﻛ
Name[uk]=Мультимедійний конвертер FFConvert
Name[ur]=FFCconvert ﺮﭨﺭﻮﻨﮐ ﺎﯾﮉﯿﻣ ﯽﭩﻠﻣ
Name[uz]=FFConvert multimedia konvertori
Name[vi]=Bộ chuyển đổi đa phương tiện FFConvert
Name[xh]=FFConvert isiguquli semultimedia
Name[yi]=FFConvert רעטרעוונאַק אַידעמיטלומ
Name[yo]=FFConvert multimedia oluyipada
Name[zh]=FFConvert 多媒体转换器
Name[zu]=FFConvert isiguquli semultimedia
Name=FFConvert multimedia converter
Exec=ffconvert
Icon=ffconvert.png
Categories=AudioVideo
MimeType=application/vnd.ms-asf;application/vnd.rn-realmedia;application/x-annodex;application/x-mplayer2;application/x-quicktimeplayer;application/x-shockwave-flash;application/x-dvi;video/ogg;video/mpeg;video/x-mpeg;video/mp4;video/anim;video/x-anim;video/mkv;video/mng;video/x-mng;video/msvideo;video/quicktime;video/x-quicktime;video/x-flic;video/x-flv;video/x-ms-asf;video/x-ms-asf-plugin;video/x-ms-wax;video/x-ms-wmv;video/x-ms-wvx;video/x-msvideo;
