[Desktop Entry]
Encoding=UTF-8
Name[de]=fftag-Metadaten, Cue-Editor, CD-Ripper
Name[fr]=Métadonnées, éditeur de cue, extracteur de CD : fftag
Name[es]=fftag: editor de metadatos multimedia
Name[ru]=fftag метаданные, редактор CUE, CD-риппер
Name[af]=fftag-metadata, cue-redigeerder, CD-ripper
Name[am]=fftag ሜታዳታ፣ ኪዩ አርታዒ፣ ሲዲ መቅጃ
Name[ar]=ﻁﻮﻐﻀﻣ ﺹﺮﻗ ، cue ﺭﺮﺤﻣ ، fftag ﺔﻴﻔﺻﻮﻟﺍ ﺕﺎﻧﺎﻴﺒﻟﺍ
Name[as]=fftag মেটাডাটা, ক্যু সম্পাদক, চিডি ৰিপাৰ
Name[ay]=fftag metadatos, cue editor, CD ripper ukanak uñt’ayaña
Name[az]=fftag metadata, replika redaktoru, CD ripper
Name[ba]=fftag metadata, cue мөхәррире, CD-риппер
Name[be]=метаданыя fftag, рэдактар кіяў, праграма для капіравання кампакт-дыскаў
Name[bg]=fftag метаданни, cue редактор, CD ripper
Name[bm]=fftag metadata, cue labɛnbaga, CD ripper
Name[bn]=fftag মেটাডেটা, কিউ এডিটর, সিডি রিপার
Name[bo]=fftag metadata, ཁུངས་སྣེའི་རྩོམ་སྒྲིག་པ། CDའཕྲུལ་ཆས།
Name[bs]=fftag metapodaci, cue editor, CD riper
Name[ca]=metadades fftag, editor de taques, extracció de CD
Name[co]=metadati fftag, cue editor, CD ripper
Name[cs]=fftag metadata, cue editor, CD ripper
Name[cy]=metadata fftag, golygydd ciw, rhwygwr CD
Name[da]=fftag-metadata, cue-editor, cd-ripper
Name[dv]=fftag ރޕަރި ޑީސީ ،ރޓަޑިއެ އުކި ،ޓާޑޭޓަމެ
Name[ee]=fftag metadata, cue ƒe nuŋlɔla, CD ʋuʋula
Name[el]=Μεταδεδομένα fftag, επεξεργασία συνθηκών, CD ripper
Name[eo]=fftag-metadatenoj, signalredaktilo, KD-ripper
Name[et]=fftag metaandmed, näpunäidete redaktor, CD rippija
Name[eu]=fftag metadatuak, cue editorea, CD deskribatzailea
Name[fa]=ﺮﭙﯾﺭ ﯼﺩ ﯽﺳ ،ﻪﻧﺎﺸﻧ ﺮﮕﺸﯾﺍﺮﯾﻭ ،fftag ﻩﺩﺍﺩﺮﺑﺍ
Name[fi]=fftag-metatiedot, vihjeeditori, CD-ripperi
Name[fj]=fftag metadata, Edita ni ivakatakilakila, CD ripper
Name[fo]=fftag metadata, cue editor, CD ripper
Name[fy]=fftag metadata, cue editor, CD ripper
Name[ga]=meiteashonraí fftag, eagarthóir cue, sracaire CD
Name[gd]=meata-dàta fftag, neach-deasachaidh cue, ripper CD
Name[gl]=metadatos de fftag, editor de cue, extractor de CD
Name[gn]=fftag metadato, cue editor, CD ripper rehegua
Name[gu]=fftag મેટાડેટા, ક્યુ એડિટર, સીડી રિપર
Name[ha]=fftag metadata, editan rubutu, CD ripper
Name[he]=CD שטרמ ,םיזמר ךרוע ,fftag לש םינותנ אטמ
Name[hi]=एफएफटीएजी मेटाडेटा, क्यू एडिटर, सीडी रिपर
Name[hr]=fftag metapodaci, uređivač znakova, CD riper
Name[ht]=fftag metadata, editè siyal, CD ripper
Name[hu]=fftag metaadatok, cue-szerkesztő, CD-ripper
Name[hy]=fftag մետատվյալներ, թելադրանքի խմբագիր, CD ripper
Name[id]=metadata fftag, editor isyarat, ripper CD
Name[ig]=fftag metadata, onye nchịkọta akụkọ, CD ripper
Name[is]=fftag lýsigögn, cue editor, CD ripper
Name[it]=metadati fftag, editor di cue, CD ripper
Name[iu]=fftag Metadata, cue editor, CD ripper
Name[ja]=fftag メタデータ、キューエディター、CD リッパー
Name[jv]=metadata fftag, editor isyarat, ripper CD
Name[ka]=fftag მეტამონაცემები, cue რედაქტორი, CD ripper
Name[kk]=fftag метадеректері, редактор, CD рипер
Name[km]=ទិន្នន័យមេតា fftag, កម្មវិធីនិពន្ធអក្សរ, អ្នកច្រៀកស៊ីឌី
Name[kn]=fftag ಮೆಟಾಡೇಟಾ, ಕ್ಯೂ ಎಡಿಟರ್, ಸಿಡಿ ರಿಪ್ಪರ್
Name[ko]=fftag 메타데이터, 큐 편집기, CD 리퍼
Name[ku]=metadata fftag, edîtorê cue, ripper CD
Name[ky]=fftag метадайындары, редактор, CD рипер
Name[la]=fftag metadata, cue editor, CD ripper
Name[lb]=fftag Metadaten, Cue Editor, CD Ripper
Name[lg]=fftag metadata, omuwandiisi wa cue, CD ripper
Name[ln]=ba métadonnées ya fftag, éditeur ya cue, ripper ya CD
Name[lo]=fftag metadata, ບັນນາທິການ cue, CD ripper
Name[lt]=fftag metaduomenys, užuominų rengyklė, kompaktinių diskų kopijavimo programa
Name[lv]=fftag metadati, cue redaktors, CD kaut kas lielisks
Name[mg]=fftag metadata, tonian-dahatsoratra, CD ripper
Name[mi]=fftag metadata, ētita tohu, ripper CD
Name[mk]=fftag метаподатоци, уредувач на знаци, CD ripper
Name[ml]=fftag മെറ്റാഡാറ്റ, ക്യൂ എഡിറ്റർ, സിഡി റിപ്പർ
Name[mn]=fftag мета өгөгдөл, cue editor, CD ripper
Name[mr]=fftag मेटाडेटा, क्यू एडिटर, सीडी रिपर
Name[ms]=metadata fftag, editor kiu, ripper CD
Name[mt]=metadata fftag, editur cue, ripper CD
Name[my]=fftag metadata၊ cue editor၊ CD ripper
Name[ne]=fftag मेटाडेटा, क्यू सम्पादक, सीडी रिपर
Name[nl]=fftag metadata, cue-editor, cd-ripper
Name[no]=fftag-metadata, cue-editor, CD-ripper
Name[ny]=fftag metadata, cue editor, CD ripper
Name[om]=meetadaataa fftag, gulaalaa cue, CD ripper
Name[or]=fftag ମେଟାଡାଟା, କ୍ୟୁ ଏଡିଟର୍, ସିଡି ରିପର୍ |
Name[pa]=fftag ਮੈਟਾਡੇਟਾ, ਕਯੂ ਐਡੀਟਰ, ਸੀਡੀ ਰਿਪਰ
Name[pl]=Metadane fftag, edytor cue, ripper CD
Name[ps]=ﺮﭙﯾﺭ CD ،ﺮﯾﺪﻣ ﻮﯿﮐ ،ﺎټﺍډﺎټﯿﻣ fftag ﺩ
Name[pt]=fftag metadados, cue editor, CD ripper
Name[qu]=fftag metadatos, cue allichaq, CD ripper
Name[ro]=metadate fftag, editor cue, CD ripper
Name[rw]=fftag metadata, cue editor, CD ripper
Name[sa]=fftag मेटाडाटा, संकेत सम्पादक, सीडी रिपर
Name[sd]=fftag ﺮﭙﻳﺭ ﻱڊ ﻲﺳ ،ﺮٽﻳڊﻳﺍ ﻮﻴڪ ،ﺎٽﺍﺩﺎٽﻴﻣ
Name[si]=fftag පාරදත්ත, කියු සංස්කාරකය, සීඩී රිපර්
Name[sk]=fftag metaúdaje, cue editor, CD ripper
Name[sl]=metapodatki fftag, urejevalnik iztočnic, kopiranje CD-jev
Name[sm]=fftag metadata, faʻatonu faʻailoga, CD ripper
Name[sn]=fftag metadata, cue edhita, CD ripper
Name[so]=fftag metadata, cue editor, CD ripper
Name[sq]=metadata fftag, redaktues sugjerimesh, riprodhues CD
Name[st]=fftag metadata, mohlophisi oa cue, CD ripper
Name[su]=fftag metadata, redaktur cue, CD ripper
Name[sv]=fftag metadata, cue editor, CD ripper
Name[sw]=fftag metadata, kihariri cha cue, kifuta CD
Name[ta]=fftag மெட்டாடேட்டா, கியூ எடிட்டர், சிடி ரிப்பர்
Name[te]=fftag మెటాడేటా, క్యూ ఎడిటర్, CD రిప్పర్
Name[tg]=метамаълумоти fftag, муҳаррири cue, CD ripper
Name[th]=ข้อมูลเมตา fftag, โปรแกรมแก้ไขคิว, โปรแกรมริปเปอร์ซีดี
Name[ti]=fftag metadata, ምልክት ኣርታዒ, ሲዲ ሪፐር
Name[tk]=fftag metadata, ýazgy redaktory, CD ripper
Name[tl]=fftag metadata, cue editor, CD ripper
Name[to]=fftag metadata, cue ʻetita, CD ripper
Name[tr]=fftag meta verileri, işaret düzenleyici, CD kopyalayıcı
Name[ts]=fftag metadata, muhleri wa cue, CD ripper
Name[tt]=fftag мета-мәгълүматлары, редактор, CD рипперы
Name[tw]=fftag metadata, cue samufo, CD ripper
Name[ty]=fftag metadata, cue editor, CD ripper
Name[ug]=fftag metadata ، cue ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ، CD ripper
Name[uk]=метадані fftag, редактор cue, програма для копіювання CD
Name[ur]=fftag ﺮﭙﯾﺭ ﯼﮈ ﯽﺳ ،ﺮﭩﯾﮉﯾﺍ ﻮﯿﮐ ،ﺎﭩﯾﮈ ﺎﭩﯿﻣ
Name[uz]=fftag metadata, cue muharriri, CD ripper
Name[vi]=siêu dữ liệu fftag, trình chỉnh sửa cue, trình trích xuất CD
Name[xh]=fftag imetadata, umhleli we-cue, i-CD ripper
Name[yi]=fftag רעפּיר יס ,ראָטקאַדער ויק ,אַטאַדאַטעמ
Name[yo]=fftag metadata, olootu ero, CD ripper
Name[zh]=fftag 元数据、提示编辑器、CD 抓取工具
Name[zu]=fftag imethadatha, umhleli we-cue, i-CD ripper
Name=fftag metadata, cue editor, CD ripper 
Icon=fftag.svg
Comment[de]=Meta-Tagger für Audio- und Videodateien
Comment[fr]=Métadonnées, éditeur de cue, extracteur de CD : fftag
Comment[es]=Metaetiquetador de archivos de audio y vídeo
Comment[ru]=метаданные fftag, редактор cue, CD-риппер
Comment[af]=meta-merker
Comment[am]=ሜታ መለያ
Comment[ar]=meta tagger
Comment[as]=মেটা টেগাৰ
Comment[ay]=meta uñt’ayaña
Comment[az]=meta tagger
Comment[ba]=мета-таггер
Comment[be]=мета-тэггер
Comment[bg]=мета маркер
Comment[bm]=meta tagger (taama) ye
Comment[bn]=মেটা ট্যাগার
Comment[bo]=meta tagger
Comment[bs]=meta tagger
Comment[ca]=meta etiquetador
Comment[co]=meta tagger
Comment[cs]=meta tagger
Comment[cy]=tagiwr meta
Comment[da]=metatagger
Comment[dv]=ވެއެ ރގަޓެ ޓާމެ
Comment[ee]=meta ƒe dzesidenu
Comment[el]=μετα-ετικέτα
Comment[eo]=meta markilo
Comment[et]=metasildistaja
Comment[eu]=meta etiketatzailea
Comment[fa]=ﺮﮕﺗ ﺎﺘﻣ
Comment[fi]=metatunniste
Comment[fj]=meta tagger
Comment[fo]=meta tagger
Comment[fy]=meta tagger
Comment[ga]=meta tagger
Comment[gd]=meta tagger
Comment[gl]=meta etiquetador
Comment[gn]=meta etiquetador rehegua
Comment[gu]=મેટા ટેગર
Comment[ha]=meta tagger
Comment[he]=גת אטמ
Comment[hi]=मेटा टैगर
Comment[hr]=meta označivač
Comment[ht]=meta tagger
Comment[hu]=meta tagger
Comment[hy]=մետա հատկորոշիչ
Comment[id]=penanda meta
Comment[ig]=meta tagger
Comment[is]=metamerki
Comment[it]=metatagger
Comment[iu]=ᒥᑕ ᓂᕕᖓᑖᖅ
Comment[ja]=メタタガー
Comment[jv]=meta tagger
Comment[ka]=მეტა ტეგერი
Comment[kk]=мета теггер
Comment[km]=ស្លាកមេតា
Comment[kn]=ಮೆಟಾ ಟ್ಯಾಗರ್
Comment[ko]=메타 태거
Comment[ku]=meta tagger
Comment[ky]=мета теггер
Comment[la]=meta tagger
Comment[lb]=meta tagger
Comment[lg]=meta tagger
Comment[ln]=meta tagger
Comment[lo]=meta tagger
Comment[lt]=meta žymeklis
Comment[lv]=meta tagu devējs
Comment[mg]=meta tagger
Comment[mi]=tohu tohu meta
Comment[mk]=мета-тагер
Comment[ml]=മെറ്റാ ടാഗർ
Comment[mn]=мета шошгологч
Comment[mr]=मेटा टॅगर
Comment[ms]=penanda meta
Comment[mt]=meta tagger
Comment[my]=meta tagger
Comment[ne]=मेटा ट्यागर
Comment[nl]=meta tagger
Comment[no]=metatagger
Comment[ny]=meta tagger
Comment[om]=meta tagger jedhamuun beekama
Comment[or]=ମେଟା ଟ୍ୟାଗର୍ |
Comment[pa]=ਮੈਟਾ ਟੈਗਰ
Comment[pl]=tagowanie meta
Comment[ps]=meta tagger
Comment[pt]=meta tagger
Comment[qu]=meta etiquetador
Comment[ro]=meta etichetator
Comment[rw]=meta tagger
Comment[sa]=मेटा टैगर
Comment[sd]=ﺮﮕﻴٽ ﺎٽﻴﻣ
Comment[si]=මෙටා ටැගර්
Comment[sk]=meta tagger
Comment[sl]=meta označevalnik
Comment[sm]=meta tagger
Comment[sn]=meta tagger
Comment[so]=meta tagger
Comment[sq]=meta etiketuesi
Comment[st]=meta tagger
Comment[su]=meta tagger
Comment[sv]=metataggare
Comment[sw]=meta tagger
Comment[ta]=மெட்டா டேக்கர்
Comment[te]=మెటా టాగర్
Comment[tg]=мета теггер
Comment[th]=เมตาแท็กเกอร์
Comment[ti]=ሜታ ታገር
Comment[tk]=meta belligi
Comment[tl]=meta tagger
Comment[to]=Fakaamatala tagger
Comment[tr]=meta etiketleyici
Comment[ts]=meta tagger
Comment[tt]=мета тагер
Comment[tw]=meta tagger a wɔde di dwuma
Comment[ty]=meta tagger
Comment[ug]=meta tagger
Comment[uk]=мета-теггер
Comment[ur]=ﺮﮕﯿﭨ ﺎﭩﯿﻣ
Comment[uz]=meta tegger
Comment[vi]=trình gắn thẻ meta
Comment[xh]=meta tagger
Comment[yi]=רעגאַט אַטעמ
Comment[yo]=meta tagger
Comment[zh]=元标记器
Comment[zu]=meta tagger
Comment=meta tagger
Exec=fftag
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=fftag
