[Desktop Entry]
Encoding=UTF-8
Name[de]=fftag-Metadaten, Cue-Editor, CD-Ripper
Name=fftag metadata, cue editor, CD ripper 
Name[fr]=Métadonnées, éditeur de cue, extracteur de CD : fftag
Icon=fftag.svg
Comment[de]=Meta-Tagger für Audio- und Videodateien
Comment=meta tagger
Exec=fftag
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=fftag
