[Desktop Entry]
Encoding=UTF-8
Name=fftag metadata, cue editor, CD ripper 
Name[fr]=Métadonnées, éditeur de cue, extracteur de CD : fftag
Icon=fftag.svg
Comment=meta tagger
Exec=fftag
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=fftag
