[Desktop Entry]
Encoding=UTF-8
Name[de]=Firefox-Webbrowser
Name[fr]=Navigateur Internet : Firefox
Name[ru]=Веб-браузер Firefox
Name[es]=Firefox: navegador web
Name=Firefox web browser
Icon=firefox.png
Comment[de]=Firefox-Webbrowser
Comment[fr]=Navigateur Internet Firefox
Comment[ru]=Веб-браузер Firefox
Comment[es]=Navegador web Firefox
Comment=Firefox web browser
Exec=firefox
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=Firefox
