[Desktop Entry]
Encoding=UTF-8
Name[de]=Firefox-Webbrowser
Name=Firefox web browser
Name[fr]=Navigateur Internet : Firefox
Icon=firefox.png
Comment[de]=Firefox-Webbrowser
Comment=Firefox web browser
Comment[fr]=Navigateur Internet Firefox
Exec=firefox
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=Firefox
