[Desktop Entry]
Encoding=UTF-8
Name[fr]=Formater une disquette : Floppy-Formatter
Name[de]=Diskette im FloppyFormat-Format
Name=FloppyFormat format floppy disk
Icon=mini-diskette.xpm
Comment[de]=Floppys formatieren
Comment=Format Floppys
Exec=Floppy_Formatter
Terminal=false
Type=Application
Categories=X-System-storage
GenericName=FloppyFormat
