[Desktop Entry]
Encoding=UTF-8
Name[fr]=Formater une disquette : Floppy-Formatter
Name[de]=Diskette im FloppyFormat-Format
Name[es]=FloppyFormat: formatear disquetes
Name[ru]=FloppyFormat отформатировать дискету
Name=FloppyFormat format floppy disk
Icon=mini-diskette.xpm
Comment[fr]=Formater une disquette
Comment[de]=Floppys formatieren
Comment[es]=Formatear disquetes
Comment[ru]=FloppyFormat отформатировать дискету
Comment=Format Floppys
Exec=Floppy_Formatter
Terminal=false
Type=Application
Categories=X-System-storage
GenericName=FloppyFormat
