[Desktop Entry]
Encoding=UTF-8
Name[fr]=Formater une disquette : Floppy-Formatter
Name[de]=Diskette im FloppyFormat-Format
Name[es]=FloppyFormat: formatear disquetes
Name[ru]=FloppyFormat форматирование дискеты
Name[af]=FloppyFormat-formaat diskette
Name[am]=የፍሎፒ ቅርጸት ፍሎፒ ዲስክ
Name[ar]=FloppyFormat ﻖﻴﺴﻨﺘﺑ ﻥﺮﻣ ﺹﺮﻗ
Name[as]=FloppyFormat বিন্যাস ফ্লপি ডিষ্ক
Name[ay]=FloppyFormat formato ukax mä disquete ukankiwa
Name[az]=FloppyFormat disket formatı
Name[ba]=FloppyFormat форматында флоппи диск
Name[be]=Дыскета ў фармаце FloppyFormat
Name[bg]=Флопи диск във формат FloppyFormat
Name[bm]=FloppyFormat cogoya disquette
Name[bn]=ফ্লপি ফরম্যাট ফরম্যাট ফ্লপি ডিস্ক
Name[bo]=FloppyFormat 格式་ཀྱི་ཁབ་ལེན་སྡེར་མ།
Name[bs]=FloppyFormat format disketa
Name[ca]=Disquet amb format FloppyFormat
Name[co]=Disquettu in furmatu FloppyFormat
Name[cs]=Disketa formátu FloppyFormat
Name[cy]=Disg hyblyg fformat floppyFormat
Name[da]=FloppyFormat formater diskette
Name[dv]=އްކެސްޑި ޕީލޮފް ޓްމެފޯ ޓްމެފޯޕީލޮފް
Name[ee]=FloppyFormat ƒe nɔnɔme si nye floppy disk
Name[el]=Δισκέτα μορφής FloppyFormat
Name[eo]=Disketo en formato FloppyFormat
Name[et]=FloppyFormat vormingus diskett
Name[eu]=FloppyFormat formatuko disketea
Name[fa]=FloppyFormat ﺖﻣﺮﻓ ﺎﺑ ﮏﺴﯾﺩ ﯽﭘﻼ﻿ﻓ
Name[fi]=FloppyFormat-muotoinen levyke
Name[fj]=FloppyFormat format floppy disk
Name[fo]=FloppyFormat format floppy disk
Name[fy]=FloppyFormat opmaak floppy disk
Name[ga]=Formáid flapach diosca
Name[gd]=An cruth floppy an diosg floppy
Name[gl]=Disquete en formato FloppyFormat
Name[gn]=Disquete formato FloppyFormat rehegua
Name[gu]=FloppyFormat ફોર્મેટ ફ્લોપી ડિસ્ક
Name[ha]=Tsarin floppy faifai
Name[he]=FloppyFormat טמרופב ןוטילקת
Name[hi]=फ्लॉपीफॉर्मेट प्रारूप फ्लॉपी डिस्क
Name[hr]=FloppyFormat format diskete
Name[ht]=Diskèt pou fòma FloppyFormat
Name[hu]=FloppyFormat formátumú hajlékonylemez
Name[hy]=FloppyFormat ձևաչափի անգործունյա սկավառակ
Name[id]=Floppy Format floppy disk
Name[ig]=FloppyFormat Ọkpụkpọ floppy diski
Name[is]=FloppyFormat snið á disklingi
Name[it]=Disco floppy in formato FloppyFormat
Name[iu]=ᐳᓪᓚᓕᒃᐃᒪᐃᑦᑑᓂᖓ ᓂᖀᑦ
Name[ja]=FloppyFormat 形式のフロッピー ディスク
Name[jv]=FloppyFormat format floppy disk
Name[ka]=FloppyFormat ფორმატის ფლოპი დისკი
Name[kk]=FloppyFormat иілгіш дискінің пішімі
Name[km]=ថាសទន់ទ្រង់ទ្រាយ FloppyFormat
Name[kn]=FloppyFormat ಫಾರ್ಮ್ಯಾಟ್ ಫ್ಲಾಪಿ ಡಿಸ್ಕ್
Name[ko]=FloppyFormat 포맷 플로피 디스크
Name[ku]=FloppyFormat formata dîska dîskê
Name[ky]=FloppyFormat дискета форматы
Name[la]=FloppyFormat forma floppy orbis
Name[lb]=FloppyFormat Format Diskett
Name[lg]=FloppyFormat ensengeka ya disiki ya floppy
Name[ln]=Disquette ya format ya FloppyFormat
Name[lo]=FloppyFormat ຮູບແບບ floppy disk
Name[lt]=FloppyFormat formato diskelis
Name[lv]=FloppyFormat formāta diskete
Name[mg]=FloppyFormat endrika kapila floppy
Name[mi]=Whakahōputu FloppyFormat kōpae pīngore
Name[mk]=Флопи диск со формат на флопи формат
Name[ml]=FloppyFormat ഫോർമാറ്റ് ഫ്ലോപ്പി ഡിസ്ക്
Name[mn]=FloppyFormat уян дискний формат
Name[mr]=फ्लॉपी फॉरमॅट फॉरमॅट फ्लॉपी डिस्क
Name[ms]=FloppyFormat format cakera liut
Name[mt]=Disk tal-format FloppyFormat
Name[my]=FloppyFormat ဖော်မတ် ဖလော်ပီဒစ်
Name[ne]=FloppyFormat ढाँचा फ्लपी डिस्क
Name[nl]=FloppyFormat formaat diskette
Name[no]=FloppyFormat formater diskett
Name[ny]=FloppyFormat mtundu wa floppy disk
Name[om]=FloppyFormat bifa floppii diskiin
Name[or]=ଫ୍ଲପି ଫର୍ମାଟ୍ ଫର୍ମାଟି ଡିସ୍କ |
Name[pa]=ਫਲਾਪੀ ਫਾਰਮੈਟ ਫਲਾਪੀ ਡਿਸਕ
Name[pl]=Floppy Formatuj dyskietkę
Name[ps]=ﮏﺴﯾډ ﻲﭘﻼ﻿ﻓ ټﯿﻣﺭﺎﻓ ټﯿﻣﺭﺎﻓ ﻲﭘﻼ﻿ﻓ ﺩ
Name[pt]=Disquete de formato FloppyFormat
Name[qu]=FloppyFormat nisqa disquete nisqa
Name[ro]=Dischetă în format FloppyFormat
Name[rw]=Imiterere ya FloppyFormat
Name[sa]=FloppyFormat प्रारूपं फ्लॉपी डिस्क
Name[sd]=ڪﺳڊ ﻲﭘﻼ﻿ﻓ ٽﻴﻣﺭﺎﻓ ٽﻴﻣﺭﺎﻓ ﻲﭘﻼ﻿ﻓ
Name[si]=FloppyFormat ආකෘතිය නම්ය තැටිය
Name[sk]=FloppyFormat formátovanie diskety
Name[sl]=Disketa formata FloppyFormat
Name[sm]=FloppyFormat faapipii floppy disk
Name[sn]=FloppyFormat fomati floppy disk
Name[so]=Habka FloppyFormat floppy disk
Name[sq]=Disketa e formatit FloppyFormat
Name[st]=FloppyFormat sebopeho sa floppy disk
Name[su]=FloppyFormat formatna floppy disk
Name[sv]=FloppyFormat formaterar diskett
Name[sw]=FloppyFormat umbizo la diski ya floppy
Name[ta]=FloppyFormat வடிவம் நெகிழ் வட்டு
Name[te]=FloppyFormat ఫార్మాట్ ఫ్లాపీ డిస్క్
Name[tg]=Диски нарми формати FloppyFormat
Name[th]=FloppyFormat รูปแบบฟล็อปปี้ดิสก์
Name[ti]=ፍሎፒፎርማት ቅርጺ ፍሎፒ ዲስክ
Name[tk]=FloppyFormat format diski
Name[tl]=FloppyFormat na format ng floppy disk
Name[to]=FloppyFormat format floppy Tisi
Name[tr]=FloppyFormat biçimli disket
Name[ts]=FloppyFormat xivumbeko xa floppy disk
Name[tt]=FloppyFormat форматы диски
Name[tw]=FloppyFormat format a wɔde yɛ floppy disk
Name[ty]=FloppyFormat format floppy disk
Name[ug]=FloppyFormat ﺎﻜﺴﯦﺩ ﻕﺎﺸﻣﯘﻳ ﻰﺗﺎﻣﺭﻮﻓ
Name[uk]=Дискета у форматі FloppyFormat
Name[ur]=ﮏﺳﮈ ﯽﭘﻼ﻿ﻓ ﭧﯿﻣﺭﺎﻓ ﭧﯿﻣﺭﺎﻓ ﯽﭘﻼ﻿ﻓ
Name[uz]=FloppyFormat floppi disk formati
Name[vi]=FloppyFormat định dạng đĩa mềm
Name[xh]=FloppyFormat ifomathi yefloppy disk
Name[yi]=FloppyFormat קסיד יפּאַלפ טאַמראָפֿ
Name[yo]=FloppyFormat kika floppy disk
Name[zh]=FloppyFormat 格式化软盘
Name[zu]=I-FloppyFormat ifomethi ye-floppy disk
Name=FloppyFormat format floppy disk
Icon=mini-diskette.xpm
Comment[fr]=Formater une disquette
Comment[de]=Floppys formatieren
Comment[es]=Formatear disquetes
Comment[ru]=FloppyFormat отформатировать дискету
Comment[af]=Formateer Floppys
Comment[am]=ፍሎፒዎችን ይቅረጹ
Comment[ar]=Floppys ﻖﻴﺴﻨﺗ
Comment[as]=ফ্লপিসমূহ বিন্যাস কৰক
Comment[ay]=Formato ukax Disquetes satawa
Comment[az]=Floppy formatı
Comment[ba]=Флоппыс форматы
Comment[be]=Фарматаваць дыскеты
Comment[bg]=Форматиране на дискети
Comment[bm]=Format Disquettes (Disquettes) ye
Comment[bn]=ফ্লপি ফরম্যাট করুন
Comment[bo]=རྣམ་པ་འདྲ་མིན་གྱི་བྱ་སྤྱོད།
Comment[bs]=Formatirajte diskete
Comment[ca]=Format Floppys
Comment[co]=Format Floppys
Comment[cs]=Formátovat diskety
Comment[cy]=Fformat Blodau
Comment[da]=Formater disketter
Comment[dv]=ސްޕީލޮފް ޓްމެފޯ
Comment[ee]=Format Floppys ƒe nɔnɔme
Comment[el]=Μορφοποιήστε τις δισκέτες
Comment[eo]=Formato Disketoj
Comment[et]=Vorminda flopisid
Comment[eu]=Disketeak formatua
Comment[fa]=ﺪﯿﻨﮐ ﺖﻣﺮﻓ ﺍﺭ ﯽﭘﻼ﻿ﻓ
Comment[fi]=Muotoile levykkeet
Comment[fj]=Tuva na Floppys
Comment[fo]=Format Floppys
Comment[fy]=Format Floppys
Comment[ga]=Formáid Flapaí
Comment[gd]=Cruth floppys
Comment[gl]=Formato de disquetes
Comment[gn]=Formato Disquete rehegua
Comment[gu]=ફોર્મેટ ફ્લોપી
Comment[ha]=Tsarin Floppys
Comment[he]=םינוטילקת טמרופ
Comment[hi]=फ़्लॉपी को प्रारूपित करें
Comment[hr]=Formatirajte diskete
Comment[ht]=Fòma Diskèt
Comment[hu]=Floppys formátum
Comment[hy]=Ձևաչափեք Floppys-ը
Comment[id]=Memformat Floppy
Comment[ig]=Hazie Floppys
Comment[is]=Snið disklinga
Comment[it]=Formatta i floppy
Comment[iu]=ᐋᖅᑭᒃᓯᒪᓗᓂ ᐳᓪᓚᐃᑦ
Comment[ja]=フロッピーをフォーマットする
Comment[jv]=Format Floppys
Comment[ka]=ფლოპის ფორმატირება
Comment[kk]=Floppys пішімі
Comment[km]=ធ្វើទ្រង់ទ្រាយ Floppys
Comment[kn]=ಫ್ಲಾಪಿಗಳನ್ನು ಫಾರ್ಮ್ಯಾಟ್ ಮಾಡಿ
Comment[ko]=플로피 포맷
Comment[ku]=Format Floppys
Comment[ky]=Формат Floppy
Comment[la]=Forma Floppys
Comment[lb]=Format Floppys
Comment[lg]=Enkola ya Floppys
Comment[ln]=Format Ba Disquettes
Comment[lo]=Format Floppys
Comment[lt]=Formatuokite diskelius
Comment[lv]=Formatēt disketes
Comment[mg]=Format Floppys
Comment[mi]=Whakahōputu Pingore
Comment[mk]=Форматирајте ги флопите
Comment[ml]=ഫ്ലോപ്പികൾ ഫോർമാറ്റ് ചെയ്യുക
Comment[mn]=Floppys форматлах
Comment[mr]=फ्लॉपी फॉरमॅट करा
Comment[ms]=Format Floppys
Comment[mt]=Format Floppys
Comment[my]=Floppys ကို ဖော်မတ်ပါ။
Comment[ne]=ढाँचा फ्लपी
Comment[nl]=Formatteer floppys
Comment[no]=Formater disketter
Comment[ny]=Ma Floppy a Format
Comment[om]=Floppiiwwan Foormaatii
Comment[or]=ଫ୍ଲପିସ୍ ଫର୍ମାଟ୍ କରନ୍ତୁ |
Comment[pa]=ਫਲਾਪੀਆਂ ਨੂੰ ਫਾਰਮੈਟ ਕਰੋ
Comment[pl]=Sformatuj dyskietki
Comment[ps]=ﻪڼﺑ ﻲﭘﻼ﻿ﻓ ﺩ
Comment[pt]=Disquetes de formato
Comment[qu]=Formato Disquetes nisqakuna
Comment[ro]=Formatați dischete
Comment[rw]=Imiterere ya Floppys
Comment[sa]=प्रारूप फ्लॉपी
Comment[sd]=ﻲﭘﻼ﻿ﻓ ٽﻴﻣﺭﺎﻓ
Comment[si]=Floppys ආකෘතිය
Comment[sk]=Formátovať diskety
Comment[sl]=Formatirajte diskete
Comment[sm]=Faatonu Floppys
Comment[sn]=Fomati Floppys
Comment[so]=Qaabka Floppys
Comment[sq]=Formatoni Floppys
Comment[st]=Format Floppys
Comment[su]=Format Floppys
Comment[sv]=Formatera disketter
Comment[sw]=Fomati za Fomati
Comment[ta]=வடிவமைப்பு Floppys
Comment[te]=ఫ్లాపీలను ఫార్మాట్ చేయండి
Comment[tg]=Формат Floppys
Comment[th]=จัดรูปแบบฟล็อปปี้ดิสก์
Comment[ti]=ፎርማት ፍሎፒስ
Comment[tk]=Floppyslary formatlaň
Comment[tl]=I-format ang Floppys
Comment[to]=Founga Floppys
Comment[tr]=Disketleri Biçimlendir
Comment[ts]=Fomati ya Ti-Floppy
Comment[tt]=Флотларны форматлагыз
Comment[tw]=Format Floppys a Wɔde Di Dwuma
Comment[ty]=Faaî i te mau api parau
Comment[ug]=Floppys ﯓﻼ﻿ﺗﺎﻣﺭﻮﻓ ﻰﻧ
Comment[uk]=Форматувати дискети
Comment[ur]=۔ﯽﭘﻼ﻿ﻓ ﭧﯿﻣﺭﺎﻓ
Comment[uz]=Floppys formati
Comment[vi]=định dạng đĩa mềm
Comment[xh]=IiFloppy zeFomathi
Comment[yi]=Floppys טאַמראָפֿ
Comment[yo]=Awọn ọna kika Floppys
Comment[zh]=格式化软盘
Comment[zu]=Fometha ama-Floppy
Comment=Format Floppys
Exec=Floppy_Formatter
Terminal=false
Type=Application
Categories=X-System-storage
GenericName=FloppyFormat
