[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le pavé tactile : FlSynclient
Name[de]=FlSynclient konfigurieren Sie Ihr Touchpad 
Name=FlSynclient configure your touchpad 
Icon=flsynclient.png
Comment[de]=Konfigurieren des Synaptics-Touchpads
Comment=Configure your synaptics touchpad
Exec=flsynclient
Terminal=false
NoDisplay=false
Type=Application
Categories=X-Desktop-settings
GenericName=FlSynclient
