[Desktop Entry]
Name[fr]=Concepteur d'interface graphique : FLUID
Name=FLUID
Comment[fr]=FLUID, Concepteur d'interface graphique FLTK
Comment=FLTK GUI Designer
TryExec=fluid
Exec=fluid %F
Icon=fluid.png
Terminal=false
Type=Application
MimeType=application/x-fluid;
Categories=GUIDesigner
