[Desktop Entry]
Name[fr]=Calculette scientifique : Galculator
Name[de]=Galculator wissenschaftlicher Taschenrechner
Name[es]=Galculator: calculadora científica
Name[ru]=научный калькулятор Galculator
Name=Galculator scientific calculator
Comment[fr]=Effectuer des calculs simples et scientifiques
Comment[de]=Führen Sie einfache und wissenschaftliche Berechnungen durch
Comment[es]=Realizar cálculos sencillos y científicos
Comment[ru]=Выполняйте простые и научные расчеты
Comment=Perform simple and scientific calculations
Exec=galculator
Icon=galculator.png
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Galculator
