[Desktop Entry]
Name[fr]=Calculette scientifique : Galculator
Name[de]=Galculator wissenschaftlicher Taschenrechner
Name[es]=Galculator: calculadora científica
Name[ru]=Galculator научный калькулятор
Name[af]=Galculator wetenskaplike sakrekenaar
Name[am]=ጋልኩሌተር ሳይንሳዊ ካልኩሌተር
Name[ar]=ﺔﻴﻤﻠﻋ ﺔﺒﺳﺎﺣ ﺔﻟﺁ
Name[as]=গেলকুলেটৰ বৈজ্ঞানিক কেলকুলেটৰ
Name[ay]=Galculadora ukaxa calculadora científica sata uñt’atawa
Name[az]=Galculator elmi kalkulyator
Name[ba]=Галкулятор фәнни калькулятор
Name[be]=Galculator навуковы калькулятар
Name[bg]=Galculator научен калкулатор
Name[bm]=Galculator dɔnniya jatebɔlan
Name[bn]=গ্যালকুলেটর বৈজ্ঞানিক ক্যালকুলেটর
Name[bo]=སྐར་རྩིས་འཕྲུལ་ཆས་ཀྱི་ཚན་རིག་རྩིས་རྒྱག་འཕྲུལ་ཆས།
Name[bs]=Galculator naučni kalkulator
Name[ca]=Calculadora científica Galculator
Name[co]=Calculatrice scientifica Galculator
Name[cs]=Vědecká kalkulačka Galculator
Name[cy]=Cyfrifiannell gwyddonol galculator
Name[da]=Galculator videnskabelig lommeregner
Name[dv]=ރޓަލޭއުކިލްކެ ކްފިޓިންއިސަ ރޓަލޭއުކިލްގަ
Name[ee]=Galculator dzɔdzɔmeŋutinunya ƒe akɔntabubumɔ̃
Name[el]=Επιστημονική αριθμομηχανή Galculator
Name[eo]=Scienca kalkulilo de Galculator
Name[et]=Galculator teaduslik kalkulaator
Name[eu]=Galculator kalkulagailu zientifikoa
Name[fa]=Galculator ﯽﻤﻠﻋ ﺏﺎﺴﺣ ﻦﯿﺷﺎﻣ
Name[fi]=Galculator tieteellinen laskin
Name[fj]=Kalculator vakasaenisi calculator
Name[fo]=Galculator vísindaliga roknimaskinu
Name[fy]=Galculator wittenskiplike rekkenmasine
Name[ga]=Áireamhán eolaíochta áireamhán
Name[gd]=àireamhair saidheansail galculator
Name[gl]=Calculadora científica Galculator
Name[gn]=Galculadora calculadora científica rehegua
Name[gu]=ગેલ્ક્યુલેટર વૈજ્ઞાનિક કેલ્ક્યુલેટર
Name[ha]=Kalkuleta kimiyyar lissafi
Name[he]=רוטלוקלג לש יעדמ ןובשחמ
Name[hi]=गैलक्यूलेटर वैज्ञानिक कैलकुलेटर
Name[hr]=Galculator znanstveni kalkulator
Name[ht]=Galculator syantifik kalkilatris
Name[hu]=Galculator tudományos számológép
Name[hy]=Galculator գիտական հաշվիչ
Name[id]=Kalkulator ilmiah kalkulator
Name[ig]=Ihe mgbako sayensi Galculator
Name[is]=Galculator vísindareiknivél
Name[it]=Calcolatrice scientifica Galculator
Name[iu]=Galculator ᖃᐅᔨᓴᕐᓂᕐᒧᑦ ᓈᓴᐅᓯᕆᔾᔪᑎ
Name[ja]=電卓 関数電卓
Name[jv]=Kalkulator ilmiah kalkulator
Name[ka]=გალკულატორი სამეცნიერო კალკულატორი
Name[kk]=Галкулятор ғылыми калькулятор
Name[km]=Galculator ម៉ាស៊ីនគិតលេខវិទ្យាសាស្ត្រ
Name[kn]=ಗ್ಯಾಲ್ಕುಲೇಟರ್ ವೈಜ್ಞಾನಿಕ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Name[ko]=계산기 공학용 계산기
Name[ku]=Calculator calculator zanistî
Name[ky]=Галкулятор илимий эсептегич
Name[la]=calculator scientificus
Name[lb]=Galculator wëssenschaftleche Rechner
Name[lg]=Galculator ekibalirizi kya ssaayansi
Name[ln]=Galculator calculateur ya siansi
Name[lo]=ເຄື່ອງຄິດເລກວິທະຍາສາດ Galculator
Name[lt]=Galculator mokslinis skaičiuotuvas
Name[lv]=Galculator zinātniskais kalkulators
Name[mg]=Galculator siantifika kajy
Name[mi]=Te tātaitai pūtaiao
Name[mk]=Галкулатор научен калкулатор
Name[ml]=ഗാൽക്കുലേറ്റർ സയന്റിഫിക് കാൽക്കുലേറ്റർ
Name[mn]=Галкулятор шинжлэх ухааны тооцоолуур
Name[mr]=गॅल्क्युलेटर वैज्ञानिक कॅल्क्युलेटर
Name[ms]=Kalkulator saintifik kalkulator
Name[mt]=Kalkulatur xjentifiku Galculator
Name[my]=Galculator သိပ္ပံနည်းကျဂဏန်းပေါင်းစက်
Name[ne]=Galculator वैज्ञानिक क्याल्कुलेटर
Name[nl]=Galculator wetenschappelijke rekenmachine
Name[no]=Galculator vitenskapelig kalkulator
Name[ny]=Calculator yasayansi yowerengera
Name[om]=Galculator shallaggii saayinsii
Name[or]=ଗାଲ୍କୁଲେଟର ବ scientific ଜ୍ scientific ାନିକ କାଲକୁଲେଟର |
Name[pa]=ਗੈਲਕੂਲੇਟਰ ਵਿਗਿਆਨਕ ਕੈਲਕੁਲੇਟਰ
Name[pl]=Kalkulator naukowy Galculator
Name[ps]=ﻪﺒﺳﺎﺤﻣ ﻲﺴﻨﯾﺎﺳ ﺮټﯿﻟﻮﮑﯿﻟﺎګ
Name[pt]=Calculadora científica Galculator
Name[qu]=Galculador científico nisqa yupay
Name[ro]=Calculator științific Galculator
Name[rw]=Ibara rya siyansi
Name[sa]=गैल्क्युलेटर वैज्ञानिक गणक
Name[sd]=Galculator ﺮڪﻮﻴﭙﮣﮘ ﻲﺴﻨﺋﺎﺳ
Name[si]=ගැල්කියුලේටරය විද්u200dයාත්මක කැල්කියුලේටරය
Name[sk]=Galculator vedecká kalkulačka
Name[sl]=Znanstveni kalkulator Galculator
Name[sm]=Galculator calculator faasaienisi
Name[sn]=Galculator yesayenzi Calculator
Name[so]=Xisaabiyaha sayniska ee Galculator
Name[sq]=Llogaritësi shkencor galkulator
Name[st]=Sebali sa mahlale sa galculator
Name[su]=Galculator kalkulator ilmiah
Name[sv]=Galculator vetenskaplig kalkylator
Name[sw]=Kikokotoo cha kisayansi cha galata
Name[ta]=கால்குலேட்டர் அறிவியல் கால்குலேட்டர்
Name[te]=గాల్క్యులేటర్ సైంటిఫిక్ కాలిక్యులేటర్
Name[tg]=Ҳисобкунаки илмии Galculator
Name[th]=เครื่องคิดเลขวิทยาศาสตร์ Galculator
Name[ti]=ጋልኩሌተር ሳይንሳዊ ካልኩሌተር
Name[tk]=Galkulýator ylmy kalkulýator
Name[tl]=Galculator siyentipikong calculator
Name[to]=Galculator fakasaienisi anga kalakuleita
Name[tr]=Galculator bilimsel hesap makinesi
Name[ts]=Galculator xikalo xa sayense
Name[tt]=Галькулятор фәнни калькулятор
Name[tw]=Galculator nyansahu mu akontaabu afiri
Name[ty]=Taata tuatapapa i te parau no te ite aivanaa i te pae no te ite aravihi
Name[ug]=Galculator ﭺﯘﻐﯩﻠﺑﺎﺴﯧﮬ ﻲﯩﻤﻠﯩﺋ
Name[uk]=Науковий калькулятор Galculator
Name[ur]=Galculator ﺮﭩﯿﻟﻮﮑﻠﯿﮐ ﯽﺴﻨﺋﺎﺳ
Name[uz]=Galkulyator ilmiy kalkulyator
Name[vi]=Máy tính khoa học Galculator
Name[xh]=Ikhatyhuleyitha yenzululwazi yokubala
Name[yi]=ראָטאַלוקלאַק עכעלטפאשנסיוו ראָטאַלוקלאַג
Name[yo]=Galculator ijinle sayensi isiro
Name[zh]=Galculator 科学计算器
Name[zu]=I-Galculator yokubala yesayensi
Name=Galculator scientific calculator
Comment[fr]=Effectuer des calculs simples et scientifiques
Comment[de]=Führen Sie einfache und wissenschaftliche Berechnungen durch
Comment[es]=Realizar cálculos sencillos y científicos
Comment[ru]=Выполняйте простые и научные расчеты
Comment[af]=Voer eenvoudige en wetenskaplike berekeninge uit
Comment[am]=ቀላል እና ሳይንሳዊ ስሌቶችን ያከናውኑ
Comment[ar]=ﺔﻴﻤﻠﻋﻭ ﺔﻄﻴﺴﺑ ﺔﻴﺑﺎﺴﺣ ﺕﺎﻴﻠﻤﻋ ءﺍﺮﺟﺈﺑ ﻢﻗ
Comment[as]=সহজ আৰু বৈজ্ঞানিক হিচাপ কৰা
Comment[ay]=Sapuru ukhamaraki cientificonakan jakhüwinakap luraña
Comment[az]=Sadə və elmi hesablamalar aparın
Comment[ba]=Ябай һәм фәнни иҫәпләүҙәр башҡарыу
Comment[be]=Выконвайце простыя і навуковыя разлікі
Comment[bg]=Извършвайте прости и научни изчисления
Comment[bm]=Jateminɛ nɔgɔmanw ni dɔnniya siratigɛ la
Comment[bn]=সহজ এবং বৈজ্ঞানিক গণনা সম্পাদন করুন
Comment[bo]=སྟབས་བདེ་ཞིང་ཚན་རིག་དང་མཐུན་པའི་སྒོ་ནས་རྩིས་
Comment[bs]=Izvršite jednostavne i naučne proračune
Comment[ca]=Realitzar càlculs senzills i científics
Comment[co]=Eseguite calculi simplici è scientifichi
Comment[cs]=Provádějte jednoduché a vědecké výpočty
Comment[cy]=Perfformio cyfrifiadau syml a gwyddonol
Comment[da]=Udfør enkle og videnskabelige beregninger
Comment[dv]=ންރުކު އްތަބުސާހި މީލްޢި ދިއަ ދާސާ
Comment[ee]=Wɔ akɔntabubu bɔbɔe siwo sɔ ɖe dzɔdzɔmeŋutinunya nu
Comment[el]=Εκτελέστε απλούς και επιστημονικούς υπολογισμούς
Comment[eo]=Faru simplajn kaj sciencajn kalkulojn
Comment[et]=Tehke lihtsaid ja teaduslikke arvutusi
Comment[eu]=Kalkulu errazak eta zientifikoak egitea
Comment[fa]=ﯽﻤﻠﻋ ﻭ ﻩﺩﺎﺳ ﺕﺎﺒﺳﺎﺤﻣ ﻡﺎﺠﻧﺍ
Comment[fi]=Suorita yksinkertaisia ja tieteellisiä laskelmia
Comment[fj]=Vakayacora na cakacaka rawarawa ka vakasaenisi
Comment[fo]=Perform simple og vísindaligar út.
Comment[fy]=Útfiere ienfâldige en wittenskiplike berekkeningen
Comment[ga]=Déan ríomhaireachtaí simplí agus eolaíocha
Comment[gd]=Dèan àireamhachadh sìmplidh agus saidheansail
Comment[gl]=Realiza cálculos sinxelos e científicos
Comment[gn]=Ojapo cálculo simple ha científico
Comment[gu]=સરળ અને વૈજ્ઞાનિક ગણતરીઓ કરો
Comment[ha]=Yi lissafi mai sauƙi da na kimiyya
Comment[he]=םייעדמו םיטושפ םיבושיח עצב
Comment[hi]=सरल एवं वैज्ञानिक गणनाएँ करें
Comment[hr]=Izvedite jednostavne i znanstvene izračune
Comment[ht]=Fè kalkil senp ak syantifik
Comment[hu]=Végezzen egyszerű és tudományos számításokat
Comment[hy]=Կատարել պարզ և գիտական հաշվարկներ
Comment[id]=Melakukan perhitungan sederhana dan ilmiah
Comment[ig]=Mee mfe na nkà mmụta sayensị mgbako
Comment[is]=Framkvæma einfalda og vísindalega útreikninga
Comment[it]=Eseguire calcoli semplici e scientifici
Comment[iu]=ᐱᓕᕆᕙᒡᓗᓂ ᐊᔪᕐᓇᙱᑦᑐᓂᒃ ᖃᐅᔨᓴᖅᑐᓕᕆᓂᕐᒧᓪᓗ ᖃᔅᓯᐅᓂᕋᖅᑕᐅᔪᓂᒃ
Comment[ja]=単純で科学的な計算を実行する
Comment[jv]=Nindakake petungan prasaja lan ilmiah
Comment[ka]=შეასრულეთ მარტივი და მეცნიერული გამოთვლები
Comment[kk]=Қарапайым және ғылыми есептеулерді орындаңыз
Comment[km]=អនុវត្តការគណនាសាមញ្ញនិងវិទ្យាសាស្ត្រ
Comment[kn]=ಸರಳ ಮತ್ತು ವೈಜ್ಞಾನಿಕ ಲೆಕ್ಕಾಚಾರಗಳನ್ನು ಮಾಡಿ
Comment[ko]=간단하고 과학적인 계산 수행
Comment[ku]=Hesabên sade û zanistî bikin
Comment[ky]=Жөнөкөй жана илимий эсептөөлөрдү жүргүзүү
Comment[la]=Praestare simplices et scientificas rationes
Comment[lb]=Maacht einfach a wëssenschaftlech Berechnungen
Comment[lg]=Kola okubalirira okwangu era okwa ssaayansi
Comment[ln]=Salá ba calculs ya pɛtɛɛ mpe ya siansi
Comment[lo]=ປະຕິບັດການຄິດໄລ່ງ່າຍດາຍແລະວິທະຍາສາດ
Comment[lt]=Atlikite paprastus ir mokslinius skaičiavimus
Comment[lv]=Veikt vienkāršus un zinātniskus aprēķinus
Comment[mg]=Manaova kajy tsotra sy siantifika
Comment[mi]=Te mahi i nga tatauranga ngawari me nga tikanga pūtaiao
Comment[mk]=Изведете едноставни и научни пресметки
Comment[ml]=ലളിതവും ശാസ്ത്രീയവുമായ കണക്കുകൂട്ടലുകൾ നടത്തുക
Comment[mn]=Энгийн бөгөөд шинжлэх ухааны тооцоолол хийх
Comment[mr]=साधी आणि वैज्ञानिक गणना करा
Comment[ms]=Lakukan pengiraan yang mudah dan saintifik
Comment[mt]=Wettaq kalkoli sempliċi u xjentifiċi
Comment[my]=ရိုးရှင်းပြီး သိပ္ပံနည်းကျ တွက်ချက်မှုများကို လုပ်ဆောင်ပါ။
Comment[ne]=सरल र वैज्ञानिक गणनाहरू प्रदर्शन गर्नुहोस्
Comment[nl]=Voer eenvoudige en wetenschappelijke berekeningen uit
Comment[no]=Utfør enkle og vitenskapelige beregninger
Comment[ny]=Chitani mawerengedwe osavuta komanso asayansi
Comment[om]=Shallaggii salphaa fi saayinsaawaa ta’e raawwachuu
Comment[or]=ସରଳ ଏବଂ ବ scientific ଜ୍ଞାନିକ ଗଣନା କର |
Comment[pa]=ਸਧਾਰਨ ਅਤੇ ਵਿਗਿਆਨਕ ਗਣਨਾਵਾਂ ਕਰੋ
Comment[pl]=Wykonuj proste i naukowe obliczenia
Comment[ps]=ﺉړﮐ ﻩﺮﺳﺮﺗ ﯥﺒﺳﺎﺤﻣ ﻲﺴﻨﯾﺎﺳ ﻭﺍ ﻩﺩﺎﺳ
Comment[pt]=Realizar cálculos simples e científicos
Comment[qu]=Sasa hinaspa cientifico nisqa yupaykunata ruway
Comment[ro]=Efectuați calcule simple și științifice
Comment[rw]=Kora imibare yoroshye kandi yubumenyi
Comment[sa]=सरलं वैज्ञानिकं च गणनां कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ﺏﺎﺘڪ ﺏﺎﺴﺣ ﻲﺴﻨﺋﺎﺳ ۽ ﻱﺩﺎﺳ
Comment[si]=සරල හා විද්යාත්මක ගණනය කිරීම් සිදු කරන්න
Comment[sk]=Vykonajte jednoduché a vedecké výpočty
Comment[sl]=Izvedite preproste in znanstvene izračune
Comment[sm]=Fai faatatau faigofie ma faasaienisi
Comment[sn]=Ita masvomhu akareruka uye esainzi
Comment[so]=Samee xisaabin fudud oo cilmiyaysan
Comment[sq]=Kryen llogaritje të thjeshta dhe shkencore
Comment[st]=Etsa lipalo tse bonolo le tsa saense
Comment[su]=Ngalakukeun itungan basajan tur ilmiah
Comment[sv]=Utför enkla och vetenskapliga beräkningar
Comment[sw]=Fanya mahesabu rahisi na ya kisayansi
Comment[ta]=எளிய மற்றும் அறிவியல் கணக்கீடுகளைச் செய்யவும்
Comment[te]=సాధారణ మరియు శాస్త్రీయ గణనలను నిర్వహించండి
Comment[tg]=Ҳисобҳои оддӣ ва илмӣ иҷро кунед
Comment[th]=ทำการคำนวณอย่างง่ายและเป็นวิทยาศาสตร์
Comment[ti]=ቀሊልን ሳይንሳውን ስሌታት ምፍጻም
Comment[tk]=Simpleönekeý we ylmy hasaplamalary ýerine ýetiriň
Comment[tl]=Magsagawa ng simple at siyentipikong mga kalkulasyon
Comment[to]=Fakahoko ha ngaahi fikaʻi faingofua mo fakasaienisi
Comment[tr]=Basit ve bilimsel hesaplamalar yapın
Comment[ts]=Endla swibalo swo olova ni swa sayense
Comment[tt]=Гади һәм фәнни исәпләүләрне башкар
Comment[tw]=Yɛ akontaabu a ɛnyɛ den na ɛyɛ nyansahu mu de
Comment[ty]=A rave i te mau numeraraa ohie e te aivanaa
Comment[ug]=ﯔﯨﺮﯧﺑ ﭗﯩﻠﯧﺋ ﺵﻼ﻿ﺑﺎﺴﯧﮬ ﻲﯩﻤﻠﯩﺋ ەﯞ ﻲﯨﺩﺩﺎﺋ
Comment[uk]=Виконуйте прості та наукові розрахунки
Comment[ur]=۔ﮟﯾﺮﮐ ﺏﺎﺘﮐ ﺏﺎﺴﺣ ﯽﺴﻨﺋﺎﺳ ﺭﻭﺍ ﮦﺩﺎﺳ
Comment[uz]=Oddiy va ilmiy hisob-kitoblarni bajaring
Comment[vi]=Thực hiện các phép tính đơn giản và khoa học
Comment[xh]=Yenza izibalo ezilula nezenzululwazi
Comment[yi]=תונובשח עכעלטפאשנסיוו ןוא טושפּ ןריפכרוד
Comment[yo]=Ṣe awọn iṣiro ti o rọrun ati imọ-jinlẹ
Comment[zh]=进行简单而科学的计算
Comment[zu]=Yenza izibalo ezilula nezesayensi
Comment=Perform simple and scientific calculations
Exec=galculator
Icon=galculator.png
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Galculator
