[Desktop Entry]
Name[fr]=Calculette scientifique : Galculator
Name[de]=Galculator wissenschaftlicher Taschenrechner
Name=Galculator scientific calculator
Comment[de]=Führen Sie einfache und wissenschaftliche Berechnungen durch
Comment=Perform simple and scientific calculations
Exec=galculator
Icon=galculator.png
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Galculator
