[Desktop Entry]
Encoding=UTF-8
Name[fr]=Utilisation du disque graphique : Gdmap
Name[de]=Verwendung grafischer Gdmap-Festplatten
Name[es]=Gdmap: graficar uso del disco
Name[ru]=Использование графического диска Gdmap
Name=Gdmap graphical disk usage
Icon=gdmap.xpm
Comment[fr]=Utilisation du disque graphique : Gdmap
Comment[de]=Verwendung grafischer Gdmap-Festplatten
Comment[es]=Muestra el uso del disco de forma gráfica
Comment[ru]=Использование графического диска Gdmap
Comment=Gdmap graphical disk usage
Exec=gdmap
Terminal=false
Type=Application
Categories=X-Filesystem-storage
GenericName=Gdmap
