[Desktop Entry]
Encoding=UTF-8
Name[fr]=Utilisation du disque graphique : Gdmap
Name[de]=Verwendung grafischer Gdmap-Festplatten
Name[es]=Gdmap: graficar uso del disco
Name[ru]=Gdmap использование дискового пространства
Name[af]=Gdmap grafiese skyf gebruik
Name[am]=Gdmap ግራፊክ ዲስክ አጠቃቀም
Name[ar]=Gdmap ﻲﻣﻮﺳﺮﻟﺍ ﺹﺮﻘﻟﺍ ﻡﺍﺪﺨﺘﺳﺍ
Name[as]=Gdmap চিত্ৰাঙ্কিত ডিষ্ক ব্যৱহাৰ
Name[ay]=Gdmap gráfico disco apnaqaña
Name[az]=Gdmap qrafik diskdən istifadə
Name[ba]=Гдмап дискыһын график ҡулланыу
Name[be]=Выкарыстанне графічнага дыска Gdmap
Name[bg]=Използване на графичен диск Gdmap
Name[bm]=Gdmap graphique disiki baarakɛcogo
Name[bn]=Gdmap গ্রাফিকাল ডিস্ক ব্যবহার
Name[bo]=Gdmap 图形图形
Name[bs]=Upotreba Gdmap grafičkog diska
Name[ca]=Ús del disc gràfic Gdmap
Name[co]=Gdmap usu di discu gràficu
Name[cs]=Využití grafického disku Gdmap
Name[cy]=Defnydd disg graffigol Gdmap
Name[da]=Gdmap brug af grafisk disk
Name[dv]=ންރުކުންނުބޭ ކްސްޑި ލްކަފިރެގް ޕްމެޑީޖީ
Name[ee]=Gdmap nɔnɔmetata disk zazã
Name[el]=Χρήση γραφικού δίσκου Gdmap
Name[eo]=Gdmap grafika diskuzado
Name[et]=Gdmap graafilise ketta kasutamine
Name[eu]=Gdmap disko grafikoaren erabilera
Name[fa]=Gdmap ﯽﮑﯿﻓﺍﺮﮔ ﮏﺴﯾﺩ ﺯﺍ ﻩﺩﺎﻔﺘﺳﺍ
Name[fi]=Gdmap-graafisen levyn käyttö
Name[fj]=Gdmap graphical disk vakayagataki
Name[fo]=Gdmap graphical disk usage
Name[fy]=Gdmap grafysk skiif gebrûk
Name[ga]=Gdmap úsáid diosca grafach
Name[gd]=Cleachdadh diosc grafaigeach gdmap
Name[gl]=Uso do disco gráfico Gdmap
Name[gn]=Gdmap disco gráfico jepuru
Name[gu]=Gdmap ગ્રાફિકલ ડિસ્ક વપરાશ
Name[ha]=Amfanin faifai na Gdmap
Name[he]=Gdmap לש יפרג קסידב שומיש
Name[hi]=Gdmap ग्राफ़िकल डिस्क उपयोग
Name[hr]=Upotreba Gdmap grafičkog diska
Name[ht]=Itilizasyon disk grafik Gdmap
Name[hu]=Gdmap grafikus lemezhasználat
Name[hy]=Gdmap գրաֆիկական սկավառակի օգտագործումը
Name[id]=Penggunaan disk grafis Gdmap
Name[ig]=Ojiji diski eserese Gdmap
Name[is]=Gdmap notkun á grafískum diski
Name[it]=Utilizzo del disco grafico Gdmap
Name[iu]=Gdmap−ᒧᑦ ᑎᑎᕋᐅᔭᖅᓯᒪᔪᒥᒃ ᐊᑐᕐᓂᖅ
Name[ja]=Gdmap グラフィック ディスク使用量
Name[jv]=Panggunaan disk grafis Gdmap
Name[ka]=Gdmap გრაფიკული დისკის გამოყენება
Name[kk]=Gdmap графикалық дискіні пайдалану
Name[km]=ការប្រើប្រាស់ថាសក្រាហ្វិក Gdmap
Name[kn]=Gdmap ಗ್ರಾಫಿಕಲ್ ಡಿಸ್ಕ್ ಬಳಕೆ
Name[ko]=Gdmap 그래픽 디스크 사용량
Name[ku]=Bikaranîna dîska grafîkî ya Gdmap
Name[ky]=Gdmap графикалык дискти колдонуу
Name[la]=Gdmap graphice orbis usus
Name[lb]=Gdmap grafesch Scheif Benotzung
Name[lg]=Enkozesa ya disiki eyebifaananyi eya Gdmap
Name[ln]=Gdmap bosaleli ya disque graphique
Name[lo]=ການນໍາໃຊ້ແຜ່ນກາຟິກ Gdmap
Name[lt]=Gdmap grafinio disko naudojimas
Name[lv]=Gdmap grafiskā diska lietojums
Name[mg]=Gdmap fampiasana kapila grafika
Name[mi]=Mahere Gdmap te whakamahinga kōpae whakairoiro
Name[mk]=Користење на графички диск Gdmap
Name[ml]=Gdmap ഗ്രാഫിക്കൽ ഡിസ്ക് ഉപയോഗം
Name[mn]=Gdmap график дискний хэрэглээ
Name[mr]=Gdmap ग्राफिकल डिस्क वापर
Name[ms]=Penggunaan cakera grafik Gdmap
Name[mt]=Gdmap użu tad-disk grafiku
Name[my]=Gdmap ဂရပ်ဖစ်ဒစ်အသုံးပြုမှု
Name[ne]=Gdmap ग्राफिकल डिस्क प्रयोग
Name[nl]=Gdmap grafisch schijfgebruik
Name[no]=Gdmap grafisk diskbruk
Name[ny]=Gdmap graphical disk ntchito
Name[om]=Fayyadama diskiin giraafikii Gdmap
Name[or]=Gdmap ଆଲେଖୀକ ଡିସ୍କ ବ୍ୟବହାର |
Name[pa]=Gdmap ਗ੍ਰਾਫਿਕਲ ਡਿਸਕ ਵਰਤੋਂ
Name[pl]=Użycie dysku graficznego Gdmap
Name[ps]=ﻝﻭﺭﺎﮐ ﮏﺴﯾډ ﮏﯿﻓﺍﺮګ Gdmap ﺩ
Name[pt]=Utilização do disco gráfico Gdmap
Name[qu]=Gdmap siqi disku llamkachiyta
Name[ro]=Utilizarea discului grafic Gdmap
Name[rw]=Gdmap ikoreshwa rya disiki ikoreshwa
Name[sa]=Gdmap चित्रात्मक डिस्क उपयोग
Name[sd]=Gdmap ﻝﺎﻤﻌﺘﺳﺍ ڪﺳڊ ڪﻓﺍﺮﮔ
Name[si]=Gdmap චිත්රක තැටි භාවිතය
Name[sk]=Využitie grafického disku Gdmap
Name[sl]=Uporaba grafičnega diska Gdmap
Name[sm]=Gdmap faaoga faakalafi tisiki
Name[sn]=Gdmap graphical disk kushandiswa
Name[so]=Isticmaalka diskka garaafka ee Gdmap
Name[sq]=Përdorimi i diskut grafik Gdmap
Name[st]=Tšebeliso ea graphical disk ea Gdmap
Name[su]=Pamakean disk grafis Gdmap
Name[sv]=Gdmap grafisk diskanvändning
Name[sw]=Matumizi ya diski ya picha ya Gdmap
Name[ta]=Gdmap வரைகலை வட்டு பயன்பாடு
Name[te]=Gdmap గ్రాఫికల్ డిస్క్ వినియోగం
Name[tg]=Истифодаи диски графикии Gdmap
Name[th]=การใช้ดิสก์แบบกราฟิก Gdmap
Name[ti]=ኣጠቓቕማ ስእላዊ ዲስክ Gdmap
Name[tk]=Gdmap grafiki disk ulanylyşy
Name[tl]=Gdmap graphical na paggamit ng disk
Name[to]=Gdmap graphic hono fakaʻaongaʻi ʻo e Tisi
Name[tr]=Gdmap grafik disk kullanımı
Name[ts]=Ku tirhisiwa ka disk ya xifaniso xa Gdmap
Name[tt]=Gdmap график диск куллану
Name[tw]=Gdmap mfonini disk a wɔde di dwuma
Name[ty]=Gdmap graphical disk
Name[ug]=Gdmap ﺶﯩﺘﯩﻠﺸﯩﺋ ﺎﻜﺴﯨﺩ ﻖﯩﻠﻜﯩﻓﺍﺮﮔ
Name[uk]=Використання графічного диска Gdmap
Name[ur]=Gdmap ﻝﺎﻤﻌﺘﺳﺍ ﺎﮐ ﮏﺳﮈ ﻞﮑﯿﻓﺍﺮﮔ
Name[uz]=Gdmap grafik diskidan foydalanish
Name[vi]=Sử dụng đĩa đồ họa Gdmap
Name[xh]=Ukusetyenziswa kwediski yomzobo yeGdmap
Name[yi]=קסיד קיפאַרג Gdmap ןופ ץינאַב
Name[yo]=Lilo disk ayaworan Gdmap
Name[zh]=Gdmap图形磁盘使用情况
Name[zu]=Ukusetshenziswa kwediski yesithombe se-Gdmap
Name=Gdmap graphical disk usage
Icon=gdmap.xpm
Comment[fr]=Utilisation du disque graphique : Gdmap
Comment[de]=Verwendung grafischer Gdmap-Festplatten
Comment[es]=Muestra el uso del disco de forma gráfica
Comment[ru]=Использование графического диска Gdmap
Comment[af]=Gdmap grafiese skyf gebruik
Comment[am]=Gdmap ግራፊክ ዲስክ አጠቃቀም
Comment[ar]=Gdmap ﻲﻣﻮﺳﺮﻟﺍ ﺹﺮﻘﻟﺍ ﻡﺍﺪﺨﺘﺳﺍ
Comment[as]=Gdmap চিত্ৰাঙ্কিত ডিষ্ক ব্যৱহাৰ
Comment[ay]=Gdmap gráfico disco apnaqaña
Comment[az]=Gdmap qrafik diskdən istifadə
Comment[ba]=Гдмап дискыһын график ҡулланыу
Comment[be]=Выкарыстанне графічнага дыска Gdmap
Comment[bg]=Използване на графичен диск Gdmap
Comment[bm]=Gdmap graphique disiki baarakɛcogo
Comment[bn]=Gdmap গ্রাফিকাল ডিস্ক ব্যবহার
Comment[bo]=Gdmap 图形图形
Comment[bs]=Upotreba Gdmap grafičkog diska
Comment[ca]=Ús del disc gràfic Gdmap
Comment[co]=Gdmap usu di discu gràficu
Comment[cs]=Využití grafického disku Gdmap
Comment[cy]=Defnydd disg graffigol Gdmap
Comment[da]=Gdmap brug af grafisk disk
Comment[dv]=ންރުކުންނުބޭ ކްސްޑި ލްކަފިރެގް ޕްމެޑީޖީ
Comment[ee]=Gdmap nɔnɔmetata disk zazã
Comment[el]=Χρήση γραφικού δίσκου Gdmap
Comment[eo]=Gdmap grafika diskuzado
Comment[et]=Gdmap graafilise ketta kasutamine
Comment[eu]=Gdmap disko grafikoaren erabilera
Comment[fa]=Gdmap ﯽﮑﯿﻓﺍﺮﮔ ﮏﺴﯾﺩ ﺯﺍ ﻩﺩﺎﻔﺘﺳﺍ
Comment[fi]=Gdmap-graafisen levyn käyttö
Comment[fj]=Gdmap graphical disk vakayagataki
Comment[fo]=Gdmap graphical disk usage
Comment[fy]=Gdmap grafysk skiif gebrûk
Comment[ga]=Gdmap úsáid diosca grafach
Comment[gd]=Cleachdadh diosc grafaigeach gdmap
Comment[gl]=Uso do disco gráfico Gdmap
Comment[gn]=Gdmap disco gráfico jepuru
Comment[gu]=Gdmap ગ્રાફિકલ ડિસ્ક વપરાશ
Comment[ha]=Amfanin faifai na Gdmap
Comment[he]=Gdmap לש יפרג קסידב שומיש
Comment[hi]=Gdmap ग्राफ़िकल डिस्क उपयोग
Comment[hr]=Upotreba Gdmap grafičkog diska
Comment[ht]=Itilizasyon disk grafik Gdmap
Comment[hu]=Gdmap grafikus lemezhasználat
Comment[hy]=Gdmap գրաֆիկական սկավառակի օգտագործումը
Comment[id]=Penggunaan disk grafis Gdmap
Comment[ig]=Ojiji diski eserese Gdmap
Comment[is]=Gdmap notkun á grafískum diski
Comment[it]=Utilizzo del disco grafico Gdmap
Comment[iu]=Gdmap−ᒧᑦ ᑎᑎᕋᐅᔭᖅᓯᒪᔪᒥᒃ ᐊᑐᕐᓂᖅ
Comment[ja]=Gdmap グラフィック ディスク使用量
Comment[jv]=Panggunaan disk grafis Gdmap
Comment[ka]=Gdmap გრაფიკული დისკის გამოყენება
Comment[kk]=Gdmap графикалық дискіні пайдалану
Comment[km]=ការប្រើប្រាស់ថាសក្រាហ្វិក Gdmap
Comment[kn]=Gdmap ಗ್ರಾಫಿಕಲ್ ಡಿಸ್ಕ್ ಬಳಕೆ
Comment[ko]=Gdmap 그래픽 디스크 사용량
Comment[ku]=Bikaranîna dîska grafîkî ya Gdmap
Comment[ky]=Gdmap графикалык дискти колдонуу
Comment[la]=Gdmap graphice orbis usus
Comment[lb]=Gdmap grafesch Scheif Benotzung
Comment[lg]=Enkozesa ya disiki eyebifaananyi eya Gdmap
Comment[ln]=Gdmap bosaleli ya disque graphique
Comment[lo]=ການນໍາໃຊ້ແຜ່ນກາຟິກ Gdmap
Comment[lt]=Gdmap grafinio disko naudojimas
Comment[lv]=Gdmap grafiskā diska lietojums
Comment[mg]=Gdmap fampiasana kapila grafika
Comment[mi]=Gdmap te whakamahi kōpae whakairoiro
Comment[mk]=Користење на графички диск Gdmap
Comment[ml]=Gdmap ഗ്രാഫിക്കൽ ഡിസ്ക് ഉപയോഗം
Comment[mn]=Gdmap график дискний хэрэглээ
Comment[mr]=Gdmap ग्राफिकल डिस्क वापर
Comment[ms]=Penggunaan cakera grafik Gdmap
Comment[mt]=Gdmap użu tad-disk grafiku
Comment[my]=Gdmap ဂရပ်ဖစ်ဒစ်အသုံးပြုမှု
Comment[ne]=Gdmap ग्राफिकल डिस्क प्रयोग
Comment[nl]=Gdmap grafisch schijfgebruik
Comment[no]=Gdmap grafisk diskbruk
Comment[ny]=Gdmap graphical disk ntchito
Comment[om]=Fayyadama diskiin giraafikii Gdmap
Comment[or]=Gdmap ଆଲେଖୀକ ଡିସ୍କ ବ୍ୟବହାର |
Comment[pa]=Gdmap ਗ੍ਰਾਫਿਕਲ ਡਿਸਕ ਵਰਤੋਂ
Comment[pl]=Użycie dysku graficznego Gdmap
Comment[ps]=ﻝﻭﺭﺎﮐ ﮏﺴﯾډ ﮏﯿﻓﺍﺮګ Gdmap ﺩ
Comment[pt]=Utilização do disco gráfico Gdmap
Comment[qu]=Gdmap siqi disku llamkachiyta
Comment[ro]=Utilizarea discului grafic Gdmap
Comment[rw]=Gdmap ikoreshwa rya disiki ikoreshwa
Comment[sa]=Gdmap चित्रात्मक डिस्क उपयोग
Comment[sd]=Gdmap ﻝﺎﻤﻌﺘﺳﺍ ڪﺳڊ ڪﻓﺍﺮﮔ
Comment[si]=Gdmap චිත්රක තැටි භාවිතය
Comment[sk]=Využitie grafického disku Gdmap
Comment[sl]=Uporaba grafičnega diska Gdmap
Comment[sm]=Gdmap faaoga faakalafi tisiki
Comment[sn]=Gdmap graphical disk kushandiswa
Comment[so]=Isticmaalka diskka garaafka ee Gdmap
Comment[sq]=Përdorimi i diskut grafik Gdmap
Comment[st]=Tšebeliso ea graphical disk ea Gdmap
Comment[su]=Pamakean disk grafis Gdmap
Comment[sv]=Gdmap grafisk diskanvändning
Comment[sw]=Matumizi ya diski ya picha ya Gdmap
Comment[ta]=Gdmap வரைகலை வட்டு பயன்பாடு
Comment[te]=Gdmap గ్రాఫికల్ డిస్క్ వినియోగం
Comment[tg]=Истифодаи диски графикии Gdmap
Comment[th]=การใช้ดิสก์แบบกราฟิก Gdmap
Comment[ti]=ኣጠቓቕማ ስእላዊ ዲስክ Gdmap
Comment[tk]=Gdmap grafiki disk ulanylyşy
Comment[tl]=Gdmap graphical na paggamit ng disk
Comment[to]=Gdmap graphic hono fakaʻaongaʻi ʻo e Tisi
Comment[tr]=Gdmap grafik disk kullanımı
Comment[ts]=Ku tirhisiwa ka disk ya xifaniso xa Gdmap
Comment[tt]=Gdmap график диск куллану
Comment[tw]=Gdmap mfonini disk a wɔde di dwuma
Comment[ty]=Gdmap graphical disk
Comment[ug]=Gdmap ﺶﯩﺘﯩﻠﺸﯩﺋ ﺎﻜﺴﯨﺩ ﻖﯩﻠﻜﯩﻓﺍﺮﮔ
Comment[uk]=Використання графічного диска Gdmap
Comment[ur]=Gdmap ﻝﺎﻤﻌﺘﺳﺍ ﺎﮐ ﮏﺳﮈ ﻞﮑﯿﻓﺍﺮﮔ
Comment[uz]=Gdmap grafik diskidan foydalanish
Comment[vi]=Sử dụng đĩa đồ họa Gdmap
Comment[xh]=Ukusetyenziswa kwediski yomzobo yeGdmap
Comment[yi]=קסיד קיפאַרג Gdmap ןופ ץינאַב
Comment[yo]=Lilo disk ayaworan Gdmap
Comment[zh]=Gdmap图形磁盘使用情况
Comment[zu]=Ukusetshenziswa kwediski yesithombe se-Gdmap
Comment=Gdmap graphical disk usage
Exec=gdmap
Terminal=false
Type=Application
Categories=X-Filesystem-storage
GenericName=Gdmap
