[Desktop Entry]
Encoding=UTF-8
Name[fr]=Utilisation du disque graphique : Gdmap
Name[de]=Verwendung grafischer Gdmap-Festplatten
Name=Gdmap graphical disk usage
Icon=gdmap.xpm
Comment[de]=Verwendung grafischer Gdmap-Festplatten
Comment=Gdmap graphical disk usage
Exec=gdmap
Terminal=false
Type=Application
Categories=X-Filesystem-storage
GenericName=Gdmap
