[Desktop Entry]
Encoding=UTF-8
Name[fr]=Editeur de textes : Geany
Name[de]=Geany Texteditor
Name[es]=Geany: editor de texto
Name[ru]=текстовый редактор Geany
Name[af]=Geany teksredigeerder
Name[am]=Geany ጽሑፍ አርታዒ
Name[ar]=ﻲﻨﻴﺟ ﺹﻮﺼﻧ ﺭﺮﺤﻣ
Name[as]=Geany টেক্সট সম্পাদক
Name[ay]=Geany qillqat uñt’ayir
Name[az]=Geany mətn redaktoru
Name[ba]=Гейни текст мөхәррире
Name[be]=Тэкставы рэдактар geany
Name[bg]=Текстов редактор Geany
Name[bm]=Geany sɛbɛnni ɲɛnabɔbaga
Name[bn]=জিনি পাঠ্য সম্পাদক
Name[bo]=སྐལ་བཟང་ཡི་གེའི་རྩོམ་སྒྲིག་པ།
Name[bs]=Geany uređivač teksta
Name[ca]=Editor de text Geany
Name[co]=Editore di testu Geany
Name[cs]=Textový editor Geany
Name[cy]=Golygydd testun geany
Name[da]=Geany tekst editor
Name[dv]=ވެރެޓަޑިއެ ޓްސްކްޓެ ނީގީ
Name[ee]=Geany nuŋɔŋlɔwo ɖɔlila
Name[el]=Geany πρόγραμμα επεξεργασίας κειμένου
Name[eo]=Geany tekstredaktilo
Name[et]=Hea tekstiredaktor
Name[eu]=Geany testu editorea
Name[fa]=Geany ﻦﺘﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=Hyvä tekstieditori
Name[fj]=YDn edita ni itukutuku ni Esyny
Name[fo]=Geany text editor
Name[fy]=Geany tekstbewurker
Name[ga]=Eagarthóir téacs geany saor in aisce,
Name[gd]=Deasaiche teacsa geany
Name[gl]=Editor de texto Geany
Name[gn]=Geany jehaipyre mohendaha
Name[gu]=જીની ટેક્સ્ટ એડિટર
Name[ha]=Geany rubutu editan
Name[he]=Geany טסקט ךרוע
Name[hi]=गेनी पाठ संपादक
Name[hr]=Geany uređivač teksta
Name[ht]=Editè tèks Geany
Name[hu]=Geany szövegszerkesztő
Name[hy]=Geany տեքստային խմբագիր
Name[id]=Editor teks Geany
Name[ig]=Geany ederede nchịkọta akụkọ
Name[is]=Geany textaritill
Name[it]=Geany editor di testo
Name[iu]=ᔩᓂ ᑎᑎᕋᐅᒐᓕᐅᖅᑎ
Name[ja]=Geany テキストエディタ
Name[jv]=Editor teks Geany
Name[ka]=Geany ტექსტის რედაქტორი
Name[kk]=Geany мәтіндік редакторы
Name[km]=កម្មវិធីនិពន្ធអត្ថបទ Geany
Name[kn]=ಜೀನಿ ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko]=Geany 텍스트 편집기
Name[ku]=Edîtorê nivîsê Geany
Name[ky]=Geany текст редактору
Name[la]=Geany text editor
Name[lb]=Geany Text Editor
Name[lg]=Geany omuwandiisi webiwandiiko
Name[ln]=Mobongisi ya makomi ya Geany
Name[lo]=ຕົວແກ້ໄຂຂໍ້ຄວາມ Geany
Name[lt]=Geany teksto redaktorius
Name[lv]=Geany teksta redaktors
Name[mg]=Geany text editor
Name[mi]=Geany ētita kuputuhi
Name[mk]=Geany уредувач на текст
Name[ml]=ജീനി ടെക്സ്റ്റ് എഡിറ്റർ
Name[mn]=Geany текст засварлагч
Name[mr]=जीनी मजकूर संपादक
Name[ms]=Penyunting teks Geany
Name[mt]=Editur tat-test Geany
Name[my]=Geany စာသားတည်းဖြတ်သူ
Name[ne]=Geany पाठ सम्पादक
Name[nl]=Geany teksteditor
Name[no]=Geany tekstredigerer
Name[ny]=Geany text editor
Name[om]=Gulaalaa barruu Geany
Name[or]=ଗାନି ପାଠ୍ୟ ସମ୍ପାଦକ |
Name[pa]=ਜੀਨੀ ਟੈਕਸਟ ਐਡੀਟਰ
Name[pl]=Edytor tekstu Geany
Name[ps]=ﺮﯾﺪﻣ ﻦﺘﻣ ﻲﻨﯿﺟ ﺩ
Name[pt]=Geany editor de texto
Name[qu]=Geany qillqa allichaq
Name[ro]=Editor de text Geany
Name[rw]=Umwanditsi wa Geany
Name[sa]=Geany पाठ सम्पादक
Name[sd]=ﺮٽﻳڊﻳﺍ ٽﺴڪﻴٽ ﻲﻨﻴﺟ
Name[si]=Geany text editor
Name[sk]=Textový editor Geany
Name[sl]=Geany urejevalnik besedil
Name[sm]=Faatonu tusitusiga a Geany
Name[sn]=Geany text editor
Name[so]=Tafatiraha qoraalka Geany
Name[sq]=Redaktues teksti i shkëlqyeshëm
Name[st]=Mohlophisi oa mongolo oa Geany
Name[su]=Éditor téks Geany
Name[sv]=Geany textredigerare
Name[sw]=Mhariri wa maandishi ya Geany
Name[ta]=ஜீனி டெக்ஸ்ட் எடிட்டர்
Name[te]=జీనీ టెక్స్ట్ ఎడిటర్
Name[tg]=Муҳаррири матнии Geany
Name[th]=โปรแกรมแก้ไขข้อความ Geany
Name[ti]=ጂኒ ጽሑፍ ኣርታዒ
Name[tk]=Geany tekst redaktory
Name[tl]=Geany text editor
Name[to]=Geany ʻetita text
Name[tr]=Geany metin editörü
Name[ts]=Muhleri wa matsalwa ya Geany
Name[tt]=Гани текст редакторы
Name[tw]=Geany nkyerɛwee samufo
Name[ty]=Geany papai vea faatere
Name[ug]=Geany ﻯﺮﯨﺮﮬەﺗ ﺖﺴﯩﻜﯧﺗ
Name[uk]=Текстовий редактор Geany
Name[ur]=ﺮﭩﯾﮉﯾﺍ ﭧﺴﮑﯿﭨ ﯽﻨﯿﺟ
Name[uz]=Geany matn muharriri
Name[vi]=Trình soạn thảo văn bản Geany
Name[xh]=Umhleli wombhalo we-Geany
Name[yi]=ראָטקאַדער טסקעט ינאַעג
Name[yo]=Olootu ọrọ Geany
Name[zh]=Geany 文本编辑器
Name[zu]=Umhleli wombhalo we-Geany
Name=Geany text editor
Icon=geany.png
Comment[fr]=Editeur de textes Geany
Comment[de]=Geany Texteditor
Comment[es]=Editor de texto Geany
Comment[ru]=текстовый редактор Geany
Comment[af]=Geany teksredigeerder
Comment[am]=Geany ጽሑፍ አርታዒ
Comment[ar]=ﻲﻨﻴﺟ ﺹﻮﺼﻧ ﺭﺮﺤﻣ
Comment[as]=Geany টেক্সট সম্পাদক
Comment[ay]=Geany qillqat uñt’ayir
Comment[az]=Geany mətn redaktoru
Comment[ba]=Гейни текст мөхәррире
Comment[be]=Тэкставы рэдактар geany
Comment[bg]=Текстов редактор Geany
Comment[bm]=Geany sɛbɛnni ɲɛnabɔbaga
Comment[bn]=জিনি টেক্সট এডিটর
Comment[bo]=སྐལ་བཟང་ཡི་གེའི་རྩོམ་སྒྲིག་པ།
Comment[bs]=Geany uređivač teksta
Comment[ca]=Editor de text Geany
Comment[co]=Editore di testu Geany
Comment[cs]=Textový editor Geany
Comment[cy]=Golygydd testun geany
Comment[da]=Geany tekst editor
Comment[dv]=ވެރެޓަޑިއެ ޓްސްކްޓެ ނީގީ
Comment[ee]=Geany nuŋɔŋlɔwo ɖɔlila
Comment[el]=Geany πρόγραμμα επεξεργασίας κειμένου
Comment[eo]=Geany tekstredaktilo
Comment[et]=Hea tekstiredaktor
Comment[eu]=Geany testu editorea
Comment[fa]=Geany ﻦﺘﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=Hyvä tekstieditori
Comment[fj]=YDn edita ni itukutuku ni Esyny
Comment[fo]=Geany text editor
Comment[fy]=Geany tekstbewurker
Comment[ga]=Eagarthóir téacs geany saor in aisce,
Comment[gd]=Deasaiche teacsa geany
Comment[gl]=Editor de texto Geany
Comment[gn]=Geany jehaipyre mohendaha
Comment[gu]=જીની ટેક્સ્ટ એડિટર
Comment[ha]=Geany rubutu editan
Comment[he]=Geany טסקט ךרוע
Comment[hi]=गेनी पाठ संपादक
Comment[hr]=Geany uređivač teksta
Comment[ht]=Editè tèks Geany
Comment[hu]=Geany szövegszerkesztő
Comment[hy]=Geany տեքստային խմբագիր
Comment[id]=Editor teks Geany
Comment[ig]=Geany ederede nchịkọta akụkọ
Comment[is]=Geany textaritill
Comment[it]=Geany editor di testo
Comment[iu]=ᔩᓂ ᑎᑎᕋᐅᒐᓕᐅᖅᑎ
Comment[ja]=Geany テキストエディタ
Comment[jv]=Editor teks Geany
Comment[ka]=Geany ტექსტის რედაქტორი
Comment[kk]=Geany мәтіндік редакторы
Comment[km]=កម្មវិធីនិពន្ធអត្ថបទ Geany
Comment[kn]=ಜೀನಿ ಪಠ್ಯ ಸಂಪಾದಕ
Comment[ko]=Geany 텍스트 편집기
Comment[ku]=Edîtorê nivîsê Geany
Comment[ky]=Geany текст редактору
Comment[la]=Geany text editor
Comment[lb]=Geany Text Editor
Comment[lg]=Geany omuwandiisi webiwandiiko
Comment[ln]=Mobongisi ya makomi ya Geany
Comment[lo]=ຕົວແກ້ໄຂຂໍ້ຄວາມ Geany
Comment[lt]=Geany teksto redaktorius
Comment[lv]=Geany teksta redaktors
Comment[mg]=Geany text editor
Comment[mi]=Geany ētita kuputuhi
Comment[mk]=Geany уредувач на текст
Comment[ml]=ജീനി ടെക്സ്റ്റ് എഡിറ്റർ
Comment[mn]=Geany текст засварлагч
Comment[mr]=जीनी मजकूर संपादक
Comment[ms]=Penyunting teks Geany
Comment[mt]=Editur tat-test Geany
Comment[my]=Geany စာသားတည်းဖြတ်သူ
Comment[ne]=Geany पाठ सम्पादक
Comment[nl]=Geany teksteditor
Comment[no]=Geany tekstredigerer
Comment[ny]=Geany text editor
Comment[om]=Gulaalaa barruu Geany
Comment[or]=ଗାନି ପାଠ୍ୟ ସମ୍ପାଦକ |
Comment[pa]=ਜੀਨੀ ਟੈਕਸਟ ਐਡੀਟਰ
Comment[pl]=Edytor tekstu Geany
Comment[ps]=ﺮﯾﺪﻣ ﻦﺘﻣ ﻲﻨﯿﺟ ﺩ
Comment[pt]=Geany editor de texto
Comment[qu]=Geany qillqa allichaq
Comment[ro]=Editor de text Geany
Comment[rw]=Umwanditsi wa Geany
Comment[sa]=Geany पाठ सम्पादक
Comment[sd]=ﺮٽﻳڊﻳﺍ ٽﺴڪﻴٽ ﻲﻨﻴﺟ
Comment[si]=Geany text editor
Comment[sk]=Textový editor Geany
Comment[sl]=Geany urejevalnik besedil
Comment[sm]=Faatonu tusitusiga a Geany
Comment[sn]=Geany text editor
Comment[so]=Tafatiraha qoraalka Geany
Comment[sq]=Redaktues teksti i shkëlqyeshëm
Comment[st]=Mohlophisi oa mongolo oa Geany
Comment[su]=Éditor téks Geany
Comment[sv]=Geany textredigerare
Comment[sw]=Mhariri wa maandishi ya Geany
Comment[ta]=ஜீனி டெக்ஸ்ட் எடிட்டர்
Comment[te]=జీనీ టెక్స్ట్ ఎడిటర్
Comment[tg]=Муҳаррири матнии Geany
Comment[th]=โปรแกรมแก้ไขข้อความ Geany
Comment[ti]=ጂኒ ጽሑፍ ኣርታዒ
Comment[tk]=Geany tekst redaktory
Comment[tl]=Geany text editor
Comment[to]=Geany ʻetita text
Comment[tr]=Geany metin editörü
Comment[ts]=Muhleri wa matsalwa ya Geany
Comment[tt]=Гани текст редакторы
Comment[tw]=Geany nkyerɛwee samufo
Comment[ty]=Geany papai vea faatere
Comment[ug]=Geany ﻯﺮﯨﺮﮬەﺗ ﺖﺴﯩﻜﯧﺗ
Comment[uk]=Текстовий редактор Geany
Comment[ur]=ﺮﭩﯾﮉﯾﺍ ﭧﺴﮑﯿﭨ ﯽﻨﯿﺟ
Comment[uz]=Geany matn muharriri
Comment[vi]=Trình soạn thảo văn bản Geany
Comment[xh]=Umhleli wombhalo we-Geany
Comment[yi]=ראָטקאַדער טסקעט ינאַעג
Comment[yo]=Olootu ọrọ Geany
Comment[zh]=Geany 文本编辑器
Comment[zu]=Umhleli wombhalo we-Geany
Comment=Geany text editor
Exec=geany
Terminal=false
Type=Application
Categories=TextEditor
GenericName=Geany
