[Desktop Entry]
Encoding=UTF-8
Name[fr]=Renommer un fichier : gFnRename
Name[de]=gFnUmbenennen der Batchdatei Umbenenner
Name[es]=gFnRename: renombrar archivos por lotes
Name[ru]=gFnRename пакетный переименовщик файлов
Name=gFnRename batch file renamer
Icon=gfnrename.png
Comment[fr]=Renommer un fichier : gFnRename
Comment[de]=gFnUmbenennen der Batchdatei Umbenenner
Comment[es]=gFnRename: renombrar archivos por lotes
Comment[ru]=gFnRename пакетный переименовщик файлов
Comment=gFnRename batch file renamer
Exec=gfnrename
Terminal=false
Type=Application
Categories=X-FilesystemUtility
GenericName=gFnRename
