[Desktop Entry]
Encoding=UTF-8
Name[fr]=Client FTP : gFTP
Name[de]=gFTP ftp Client
Name[es]=gFTP: cliente FTP
Name[ru]=gFTP FTP-клиент
Name=gFTP ftp client
Icon=mini-ftp.xpm
Comment[fr]=Client FTP : gFTP
Comment[de]=gFTP ftp Client
Comment[es]=gFTP: cliente ftp
Comment[ru]=gFTP FTP-клиент
Comment=gFTP ftp client
Exec=gftp
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=gFTP
