[Desktop Entry]
Encoding=UTF-8
Name[fr]=Client FTP : gFTP
Name[de]=gFTP ftp Client
Name=gFTP ftp client
Icon=mini-ftp.xpm
Comment[de]=gFTP ftp Client
Comment=gFTP ftp client
Exec=gftp
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=gFTP
