[Desktop Entry]
Encoding=UTF-8
Name[fr]=Client FTP : gFTP
Name[de]=gFTP ftp Client
Name[es]=gFTP: cliente FTP
Name[ru]=gFTP FTP-клиент
Name[af]=gFTP ftp kliënt
Name[am]=gFTP ftp ደንበኛ
Name[ar]=gFTP ftp ﻞﻴﻤﻋ
Name[as]=gFTP ftp ক্লাএন্ট
Name[ay]=gFTP ftp ukax mä cliente ukhamawa
Name[az]=gFTP ftp müştəri
Name[ba]=GFTP ftp клиенты
Name[be]=FTP-кліент gFTP
Name[bg]=gFTP ftp клиент
Name[bm]=gFTP ftp kliyan ye
Name[bn]=জিএফটিপি এফটিপি ক্লায়েন্ট
Name[bo]=gFTP ftp མངགས་བཅོལ་བྱེད་མཁན།
Name[bs]=gFTP ftp klijent
Name[ca]=client ftp gFTP
Name[co]=Client ftp gFTP
Name[cs]=ftp klient gFTP
Name[cy]=cleient ftp gFTP
Name[da]=gFTP ftp-klient
Name[dv]=ވެޓެންއިލަކް ޕީޓީފްއެ ޕީޓީފްއެޖީ
Name[ee]=gFTP ftp ƒe asitsalawo
Name[el]=GFTP ftp-πελάτης
Name[eo]=gFTP-ftp-kliento
Name[et]=gFTP ftp klient
Name[eu]=gFTP ftp bezeroa
Name[fa]=ftp gFTP ﻩﺪﻧﺮﯿﮔ ﺲﯾﻭﺮﺳ
Name[fi]=gFTP ftp asiakas
Name[fj]=gFTP ftp client
Name[fo]=gFTP ftp client
Name[fy]=gFTP ftp client
Name[ga]=GFTP cliant ftp
Name[gd]=GFTP ftp neach-dèiligidh
Name[gl]=Cliente ftp gFTP
Name[gn]=gFTP ftp cliente rehegua
Name[gu]=gFTP ftp ક્લાયંટ
Name[ha]=abokin ciniki ftp gFTP
Name[he]=ftp gFTP חוקל
Name[hi]=जीएफटीपी एफ़टीपी क्लाइंट
Name[hr]=gFTP ftp klijent
Name[ht]=gFTP ftp kliyan
Name[hu]=gFTP ftp kliens
Name[hy]=gFTP ftp հաճախորդ
Name[id]=klien ftp gFTP
Name[ig]=onye ahịa gFTP ftp
Name[is]=gFTP ftp viðskiptavinur
Name[it]=client ftp gFTP
Name[iu]=GFTP−ᒧᑦ ᐃᓯᒐᐅᔭᕐᒥᒃ ᐱᓕᕆᔾᔪᔾᔭᐅᕙᒃᑐᖅ
Name[ja]=gFTP FTP クライアント
Name[jv]=klien ftp gFTP
Name[ka]=gFTP ftp კლიენტი
Name[kk]=gFTP ftp клиенті
Name[km]=ម៉ាស៊ីនភ្ញៀវ gFTP ftp
Name[kn]=gFTP ftp ಕ್ಲೈಂಟ್
Name[ko]=gFTP FTP 클라이언트
Name[ku]=muwekîlê gFTP ftp
Name[ky]=gFTP ftp кардары
Name[la]=gFTP ftp client
Name[lb]=gFTP ftp Client
Name[lg]=gFTP ftp kasitoma
Name[ln]=Client ya gFTP ftp
Name[lo]=ລູກຄ້າ gFTP ftp
Name[lt]=gFTP ftp klientas
Name[lv]=gFTP ftp klients
Name[mg]=gFTP ftp mpanjifa
Name[mi]=kiritaki gFTP ftp
Name[mk]=gFTP ftp клиент
Name[ml]=gFTP ftp ക്ലയന്റ്
Name[mn]=gFTP ftp үйлчлүүлэгч
Name[mr]=gFTP ftp क्लायंट
Name[ms]=pelanggan ftp gFTP
Name[mt]=gFTP klijent ftp
Name[my]=gFTP ftp ကလိုင်းယင့်
Name[ne]=gFTP ftp ग्राहक
Name[nl]=gFTP ftp-client
Name[no]=gFTP ftp-klient
Name[ny]=gFTP ftp kasitomala
Name[om]=maamila ftp gFTP
Name[or]=gFTP ftp କ୍ଲାଏଣ୍ଟ |
Name[pa]=gFTP ftp ਕਲਾਇੰਟ
Name[pl]=Klient ftp gFTP
Name[ps]=gFTP ftp ﻲﮑﻧﻭﺩﻭﺮﯿﭘ
Name[pt]=Cliente ftp gFTP
Name[qu]=gFTP ftp nisqa rantiq
Name[ro]=client ftp gFTP
Name[rw]=umukiriya wa gFTP
Name[sa]=gFTP ftp क्लायन्ट
Name[sd]=gFTP ftp ٽﻨﺋﻼ﻿ڪ
Name[si]=gFTP ftp සේවාදායකයා
Name[sk]=ftp klient gFTP
Name[sl]=gFTP ftp odjemalec
Name[sm]=gFTP ftp tagata faatau
Name[sn]=gFTP ftp mutengi
Name[so]=gFTP macmiilka ftp
Name[sq]=Klienti ftp gFTP
Name[st]=gFTP ftp moreki
Name[su]=klien ftp gFTP
Name[sv]=gFTP ftp-klient
Name[sw]=mteja wa gFTP ftp
Name[ta]=gFTP ftp கிளையன்ட்
Name[te]=gFTP ftp క్లయింట్
Name[tg]=муштарии gFTP ftp
Name[th]=gFTP ไคลเอนต์ ftp
Name[ti]=gFTP ftp ዓሚል እዩ።
Name[tk]=gFTP ftp müşderisi
Name[tl]=gFTP ftp client
Name[to]=gFTP ʻa e client
Name[tr]=gFTP ftp istemcisi
Name[ts]=gFTP ftp xitirhisiwa xa xitirhisiwa
Name[tt]=gFTP ftp клиенты
Name[tw]=gFTP ftp afɛfoɔ
Name[ty]=gFTP ftp client
Name[ug]=gFTP ftp ﺭﺍﺪﯨﺮﯧﺧ
Name[uk]=FTP-клієнт gFTP
Name[ur]=ﭧﻨﺋﻼ﻿ﮐ ﯽﭘ ﯽﭨ ﻒﯾﺍ ﯽﭘ ﯽﭨ ﻒﯾﺍ ﯽﺟ
Name[uz]=gFTP ftp mijozi
Name[vi]=ứng dụng khách gFTP ftp
Name[xh]=gFTP ftp umxhasi
Name[yi]=gFTP ftp טנעילק
Name[yo]=gFTP ftp onibara
Name[zh]=gFTP FTP 客户端
Name[zu]=gFTP ftp iklayenti
Name=gFTP ftp client
Icon=mini-ftp.xpm
Comment[fr]=Client FTP : gFTP
Comment[de]=gFTP ftp Client
Comment[es]=gFTP: cliente ftp
Comment[ru]=gFTP FTP-клиент
Comment[af]=gFTP ftp kliënt
Comment[am]=gFTP ftp ደንበኛ
Comment[ar]=gFTP ftp ﻞﻴﻤﻋ
Comment[as]=gFTP ftp ক্লাএন্ট
Comment[ay]=gFTP ftp ukax mä cliente ukhamawa
Comment[az]=gFTP ftp müştəri
Comment[ba]=GFTP ftp клиенты
Comment[be]=FTP-кліент gFTP
Comment[bg]=gFTP ftp клиент
Comment[bm]=gFTP ftp kliyan ye
Comment[bn]=জিএফটিপি এফটিপি ক্লায়েন্ট
Comment[bo]=gFTP ftp མངགས་བཅོལ་བྱེད་མཁན།
Comment[bs]=gFTP ftp klijent
Comment[ca]=client ftp gFTP
Comment[co]=Client ftp gFTP
Comment[cs]=ftp klient gFTP
Comment[cy]=cleient ftp gFTP
Comment[da]=gFTP ftp-klient
Comment[dv]=ވެޓެންއިލަކް ޕީޓީފްއެ ޕީޓީފްއެޖީ
Comment[ee]=gFTP ftp ƒe asitsalawo
Comment[el]=GFTP ftp-πελάτης
Comment[eo]=gFTP-ftp-kliento
Comment[et]=gFTP ftp klient
Comment[eu]=gFTP ftp bezeroa
Comment[fa]=ftp gFTP ﻩﺪﻧﺮﯿﮔ ﺲﯾﻭﺮﺳ
Comment[fi]=gFTP ftp asiakas
Comment[fj]=gFTP ftp client
Comment[fo]=gFTP ftp client
Comment[fy]=gFTP ftp client
Comment[ga]=GFTP cliant ftp
Comment[gd]=GFTP ftp neach-dèiligidh
Comment[gl]=Cliente ftp gFTP
Comment[gn]=gFTP ftp cliente rehegua
Comment[gu]=gFTP ftp ક્લાયંટ
Comment[ha]=abokin ciniki ftp gFTP
Comment[he]=ftp gFTP חוקל
Comment[hi]=जीएफटीपी एफ़टीपी क्लाइंट
Comment[hr]=gFTP ftp klijent
Comment[ht]=gFTP ftp kliyan
Comment[hu]=gFTP ftp kliens
Comment[hy]=gFTP ftp հաճախորդ
Comment[id]=klien ftp gFTP
Comment[ig]=onye ahịa gFTP ftp
Comment[is]=gFTP ftp viðskiptavinur
Comment[it]=client ftp gFTP
Comment[iu]=GFTP−ᒧᑦ ᐃᓯᒐᐅᔭᕐᒥᒃ ᐱᓕᕆᔾᔪᔾᔭᐅᕙᒃᑐᖅ
Comment[ja]=gFTP FTP クライアント
Comment[jv]=klien ftp gFTP
Comment[ka]=gFTP ftp კლიენტი
Comment[kk]=gFTP ftp клиенті
Comment[km]=ម៉ាស៊ីនភ្ញៀវ gFTP ftp
Comment[kn]=gFTP ftp ಕ್ಲೈಂಟ್
Comment[ko]=gFTP FTP 클라이언트
Comment[ku]=muwekîlê gFTP ftp
Comment[ky]=gFTP ftp кардары
Comment[la]=gFTP ftp client
Comment[lb]=gFTP ftp Client
Comment[lg]=gFTP ftp kasitoma
Comment[ln]=Client ya gFTP ftp
Comment[lo]=ລູກຄ້າ gFTP ftp
Comment[lt]=gFTP ftp klientas
Comment[lv]=gFTP ftp klients
Comment[mg]=gFTP ftp mpanjifa
Comment[mi]=kiritaki gFTP ftp
Comment[mk]=gFTP ftp клиент
Comment[ml]=gFTP ftp ക്ലയന്റ്
Comment[mn]=gFTP ftp үйлчлүүлэгч
Comment[mr]=gFTP ftp क्लायंट
Comment[ms]=pelanggan ftp gFTP
Comment[mt]=gFTP klijent ftp
Comment[my]=gFTP ftp ကလိုင်းယင့်
Comment[ne]=gFTP ftp ग्राहक
Comment[nl]=gFTP ftp-client
Comment[no]=gFTP ftp-klient
Comment[ny]=gFTP ftp kasitomala
Comment[om]=maamila ftp gFTP
Comment[or]=gFTP ftp କ୍ଲାଏଣ୍ଟ |
Comment[pa]=gFTP ftp ਕਲਾਇੰਟ
Comment[pl]=Klient ftp gFTP
Comment[ps]=gFTP ftp ﻲﮑﻧﻭﺩﻭﺮﯿﭘ
Comment[pt]=Cliente ftp gFTP
Comment[qu]=gFTP ftp nisqa rantiq
Comment[ro]=client ftp gFTP
Comment[rw]=umukiriya wa gFTP
Comment[sa]=gFTP ftp क्लायन्ट
Comment[sd]=gFTP ftp ٽﻨﺋﻼ﻿ڪ
Comment[si]=gFTP ftp සේවාදායකයා
Comment[sk]=ftp klient gFTP
Comment[sl]=gFTP ftp odjemalec
Comment[sm]=gFTP ftp tagata faatau
Comment[sn]=gFTP ftp mutengi
Comment[so]=gFTP macmiilka ftp
Comment[sq]=klient ftp gFTP
Comment[st]=gFTP ftp moreki
Comment[su]=klien ftp gFTP
Comment[sv]=gFTP ftp-klient
Comment[sw]=mteja wa gFTP ftp
Comment[ta]=gFTP ftp கிளையன்ட்
Comment[te]=gFTP ftp క్లయింట్
Comment[tg]=муштарии gFTP ftp
Comment[th]=gFTP ไคลเอนต์ ftp
Comment[ti]=gFTP ftp ዓሚል እዩ።
Comment[tk]=gFTP ftp müşderisi
Comment[tl]=gFTP ftp client
Comment[to]=gFTP ʻa e client
Comment[tr]=gFTP ftp istemcisi
Comment[ts]=gFTP ftp xitirhisiwa xa xitirhisiwa
Comment[tt]=gFTP ftp клиенты
Comment[tw]=gFTP ftp afɛfoɔ
Comment[ty]=gFTP ftp client
Comment[ug]=gFTP ftp ﺭﺍﺪﯨﺮﯧﺧ
Comment[uk]=FTP-клієнт gFTP
Comment[ur]=ﭧﻨﺋﻼ﻿ﮐ ﯽﭘ ﯽﭨ ﻒﯾﺍ ﯽﭘ ﯽﭨ ﻒﯾﺍ ﯽﺟ
Comment[uz]=gFTP ftp mijozi
Comment[vi]=ứng dụng khách gFTP ftp
Comment[xh]=gFTP ftp umxhasi
Comment[yi]=gFTP ftp טנעילק
Comment[yo]=gFTP ftp onibara
Comment[zh]=gFTP FTP 客户端
Comment[zu]=gFTP ftp iklayenti
Comment=gFTP ftp client
Exec=gftp
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=gFTP
