[Desktop Entry]
Encoding=UTF-8
Name[tr]=Gittyup
Name=Gittyup
Comment[tr]=Windows, Linux ve macOS için grafiksel Git istemcisi
Comment=Graphical Git client for Windows, Linux and macOS
Exec=gittyup
StartupWMClass=com.github.Murmele.Gittyup
Icon=gittyup.svg
Terminal=false
Type=Application
Categories=Development
X-Desktop-File-Install-Version=0.1
