[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion du presse-papier : Glipper
Name[de]=Glipper Zwischenablage-Manager
Name[es]=Glipper: gestor del portapapeles
Name[ru]=Менеджер буфера обмена Glipper
Name=Glipper clipboard manager
Icon=mini-clipboard.xpm
Comment[fr]=Gestion du presse-papier : Glipper
Comment[de]=Glipper Zwischenablage-Manager
Comment[es]=Administrador de portapapeles Glipper
Comment[ru]=Менеджер буфера обмена Glipper
Comment=Glipper clipboard manager
Exec=glipper_shell
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Glipper
