[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion du presse-papier : Glipper
Name[de]=Glipper Zwischenablage-Manager
Name[es]=Glipper: gestor del portapapeles
Name[ru]=Glipper Менеджер буфера обмена
Name[tr]=Glipper pano yöneticisi
Name[af]=Klipper-knipbordbestuurder
Name[am]=ግሊፐር ቅንጥብ ሰሌዳ አስተዳዳሪ
Name[ar]=Glipper ﺔﻈﻓﺎﺤﻟﺍ ﺮﻳﺪﻣ
Name[as]=গ্লিপাৰ ক্লিপবোৰ্ড ব্যৱস্থাপক
Name[ay]=Glipper portapapeles ukan apnaqiri
Name[az]=Glipper bufer meneceri
Name[ba]=Глиппер клипборд менеджеры
Name[be]=Дыспетчар буфера абмену Glipper
Name[bg]=Мениджър на клипборда Glipper
Name[bm]=Glipper clipboard ɲɛmɔgɔ
Name[bn]=গ্লিপার ক্লিপবোর্ড ম্যানেজার
Name[bo]=འདྲུད་འཐེན་པང་ལེབ་ཀྱི་སྤྱི་གཉེར་བ།
Name[bs]=Glipper menadžer međuspremnika
Name[ca]=Gestor de porta-retalls Glipper
Name[co]=Gestore di clipboard Glipper
Name[cs]=Správce schránky Glipper
Name[cy]=Rheolwr clipfwrdd glipper
Name[da]=Glipper udklipsholder
Name[dv]=ރޖަނޭމެ ޑްބޯޕްލިކް ރޕަލިގް
Name[ee]=Glipper clipboard dzikpɔla
Name[el]=Διαχείριση προχείρου Glipper
Name[eo]=Glipper-tondujo-administranto
Name[et]=Glipper lõikelaua haldur
Name[eu]=Glipper arbel kudeatzailea
Name[fa]=ﺮﭙﯿﻠﮔ ﺩﺭﻮﺑ ﭗﯿﻠﮐ ﺮﯾﺪﻣ
Name[fi]=Glipper leikepöydän hallinta
Name[fj]=Manidia ni clipboard ni Glipper
Name[fo]=Glipper clipboard manager
Name[fy]=Glipper klamboerdbehearder
Name[ga]=Bainisteoir gearrthaisce glipper
Name[gd]=Manaidsear clipboard glipper
Name[gl]=Xestor de portapapeis Glipper
Name[gn]=Glipper portapapeles mohendaha
Name[gu]=ગ્લિપર ક્લિપબોર્ડ મેનેજર
Name[ha]=Manajan allo na Glipper
Name[he]=רפילג לש חולה להנמ
Name[hi]=ग्लिपर क्लिपबोर्ड प्रबंधक
Name[hr]=Glipper upravitelj međuspremnika
Name[ht]=Manadjè clipboard Glipper
Name[hu]=Glipper vágólapkezelő
Name[hy]=Glipper clipboard-ի կառավարիչ
Name[id]=Manajer papan klip Glipper
Name[ig]=Onye njikwa klipbọọdụ Glipper
Name[is]=Klipper klippiborðsstjóri
Name[it]=Gestore degli appunti di Glipper
Name[iu]=Glipper clipperboard-ᒧᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=Glipper クリップボード マネージャー
Name[jv]=Glipper clipboard manager
Name[ka]=Glipper ბუფერში მენეჯერი
Name[kk]=Glipper алмасу буферінің менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងក្តារតម្បៀតខ្ទាស់ Glipper
Name[kn]=ಗ್ಲಿಪ್ಪರ್ ಕ್ಲಿಪ್u200cಬೋರ್ಡ್ ಮ್ಯಾನೇಜರ್
Name[ko]=글리퍼 클립보드 관리자
Name[ku]=Rêvebirê clipboard Glipper
Name[ky]=Glipper алмашуу буферинин менеджери
Name[la]=Glipper clipboard procurator
Name[lb]=Glipper Clipboard Manager
Name[lg]=Omuddukanya clipboard ya Glipper
Name[ln]=Mokambi ya tableau de bord ya glipper
Name[lo]=ຜູ້ຈັດການ clipboard Glipper
Name[lt]=Glipper iškarpinės tvarkyklė
Name[lv]=Glipper starpliktuves pārvaldnieks
Name[mg]=Glipper clipboard manager
Name[mi]=Kaiwhakahaere papatopenga Glipper
Name[mk]=Управувач со таблата со исечоци Glipper
Name[ml]=ഗ്ലിപ്പർ ക്ലിപ്പ്ബോർഡ് മാനേജർ
Name[mn]=Glipper санах ойн менежер
Name[mr]=ग्लिपर क्लिपबोर्ड व्यवस्थापक
Name[ms]=Pengurus papan keratan Glipper
Name[mt]=Glipper clipboard manager
Name[my]=Glipper ကလစ်ဘုတ်မန်နေဂျာ
Name[ne]=ग्लिपर क्लिपबोर्ड प्रबन्धक
Name[nl]=Glipper klembordmanager
Name[no]=Glipper utklippstavle manager
Name[ny]=Glipper clipboard manager
Name[om]=Hogganaa gabatee kiliippii glipper
Name[or]=ଗ୍ଲିପର୍ କ୍ଲିପବୋର୍ଡ୍ ମ୍ୟାନେଜର୍ |
Name[pa]=ਗਲੀਪਰ ਕਲਿੱਪਬੋਰਡ ਮੈਨੇਜਰ
Name[pl]=Menedżer schowka Glipper
Name[ps]=ﺮﯾﺪﻣ ډﺭﻮﺑ ﭗﻠﮐ ﺮﭙﯿﻠګ ﺩ
Name[pt]=Gestor da área de transferência Glipper
Name[qu]=Glipper portapapeles nisqa kamachiq
Name[ro]=Manager clipboard Glipper
Name[rw]=Umuyobozi wa clip clip
Name[sa]=ग्लिपर क्लिपबोर्ड प्रबन्धक
Name[sd]=ﺮﺠﻴﻨﺌﻣ ڊﺭﻮﺑ ﭗﻠڪ ﺮﭙﻠﮔ
Name[si]=Glipper clipboard manager
Name[sk]=Správca schránky Glipper
Name[sl]=Upravljalnik odložišča Glipper
Name[sm]=Pule o le laupapa kilipa Glipper
Name[sn]=Glipper clipboard maneja
Name[so]=Maamulaha kilibka ee Glipper
Name[sq]=Menaxheri i kujtesës së kujtesës Glipper
Name[st]=Motsamaisi oa li-clipboard tsa Glipper
Name[su]=Pangatur papan klip Glipper
Name[sv]=Glipper urklippshanterare
Name[sw]=Kidhibiti cha ubao wa kunakili wa Glipper
Name[ta]=கிளிப்பர் கிளிப்போர்டு மேலாளர்
Name[te]=గ్లిప్పర్ క్లిప్u200cబోర్డ్ మేనేజర్
Name[tg]=Менеҷери буфери Glipper
Name[th]=ผู้จัดการคลิปบอร์ดของกลิปเปอร์
Name[ti]=ግሊፐር ቅንጥብጣብ ሰሌዳ ኣካያዲ
Name[tk]=Glipper paneli dolandyryjysy
Name[tl]=Tagapamahala ng clipboard ng Glipper
Name[to]=Pule Glipper Papafakamaʻu
Name[ts]=Mufambisi wa clipboard ya glipper
Name[tt]=Глипер тактасы менеджеры
Name[tw]=Glipper clipboard sohwɛfo
Name[ty]=Taata faatere i te mau hohoa
Name[ug]=Glipper ﻯﺭﻮﺘﻜﯨﺮﯦﺩ ﻰﺴﯩﺘﺧﺎﺗ ﺵﻼ﻿ﭘﺎﭼ
Name[uk]=Менеджер буфера обміну Glipper
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﮈﺭﻮﺑ ﭗﻠﮐ ﺮﭙﻠﮔ
Name[uz]=Glipper clipboard menejeri
Name[vi]=Trình quản lý khay nhớ tạm Glipper
Name[xh]=Umphathi webhodi eqhotyoshwayo
Name[yi]=רעטלאַווראַפ דראָבפּילק רעפּילג
Name[yo]=Oluṣakoso agekuru agekuru Glipper
Name[zh]=Glipper 剪贴板管理器
Name[zu]=Umphathi webhodi lokunamathisela elicwebezelayo
Name=Glipper clipboard manager
Icon=mini-clipboard.xpm
Comment[fr]=Gestion du presse-papier : Glipper
Comment[de]=Glipper Zwischenablage-Manager
Comment[es]=Administrador de portapapeles Glipper
Comment[ru]=Менеджер буфера обмена Glipper
Comment[tr]=Glipper pano yöneticisi
Comment[af]=Klipper-knipbordbestuurder
Comment[am]=ግሊፐር ቅንጥብ ሰሌዳ አስተዳዳሪ
Comment[ar]=Glipper ﺔﻈﻓﺎﺤﻟﺍ ﺮﻳﺪﻣ
Comment[as]=গ্লিপাৰ ক্লিপবোৰ্ড ব্যৱস্থাপক
Comment[ay]=Glipper portapapeles ukan apnaqiri
Comment[az]=Glipper bufer meneceri
Comment[ba]=Глиппер клипборд менеджеры
Comment[be]=Дыспетчар буфера абмену Glipper
Comment[bg]=Мениджър на клипборда Glipper
Comment[bm]=Glipper clipboard ɲɛmɔgɔ
Comment[bn]=গ্লিপার ক্লিপবোর্ড ম্যানেজার
Comment[bo]=འདྲུད་འཐེན་པང་ལེབ་ཀྱི་སྤྱི་གཉེར་བ།
Comment[bs]=Glipper menadžer međuspremnika
Comment[ca]=Gestor de porta-retalls Glipper
Comment[co]=Gestore di clipboard Glipper
Comment[cs]=Správce schránky Glipper
Comment[cy]=Rheolwr clipfwrdd glipper
Comment[da]=Glipper udklipsholder
Comment[dv]=ރޖަނޭމެ ޑްބޯޕްލިކް ރޕަލިގް
Comment[ee]=Glipper clipboard dzikpɔla
Comment[el]=Διαχείριση προχείρου Glipper
Comment[eo]=Administranto de la tondujo Glipper
Comment[et]=Glipper lõikelaua haldur
Comment[eu]=Glipper arbel kudeatzailea
Comment[fa]=ﺮﭙﯿﻠﮔ ﺩﺭﻮﺑ ﭗﯿﻠﮐ ﺮﯾﺪﻣ
Comment[fi]=Glipper leikepöydän hallinta
Comment[fj]=Manidia ni clipboard ni Glipper
Comment[fo]=Glipper clipboard manager
Comment[fy]=Glipper klamboerdbehearder
Comment[ga]=Bainisteoir gearrthaisce glipper
Comment[gd]=Manaidsear clipboard glipper
Comment[gl]=Xestor de portapapeis Glipper
Comment[gn]=Glipper portapapeles mohendaha
Comment[gu]=ગ્લિપર ક્લિપબોર્ડ મેનેજર
Comment[ha]=Manajan allo na Glipper
Comment[he]=רפילג לש חולה להנמ
Comment[hi]=ग्लिपर क्लिपबोर्ड प्रबंधक
Comment[hr]=Glipper upravitelj međuspremnika
Comment[ht]=Manadjè clipboard Glipper
Comment[hu]=Glipper vágólapkezelő
Comment[hy]=Glipper clipboard-ի կառավարիչ
Comment[id]=Manajer papan klip Glipper
Comment[ig]=Onye njikwa klipbọọdụ Glipper
Comment[is]=Klipper klippiborðsstjóri
Comment[it]=Gestore degli appunti di Glipper
Comment[iu]=Glipper clipperboard-ᒧᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=Glipper クリップボード マネージャー
Comment[jv]=Glipper clipboard manager
Comment[ka]=Glipper ბუფერში მენეჯერი
Comment[kk]=Glipper алмасу буферінің менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងក្តារតម្បៀតខ្ទាស់ Glipper
Comment[kn]=ಗ್ಲಿಪ್ಪರ್ ಕ್ಲಿಪ್u200cಬೋರ್ಡ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=글리퍼 클립보드 관리자
Comment[ku]=Rêvebirê clipboard Glipper
Comment[ky]=Glipper алмашуу буферинин менеджери
Comment[la]=Glipper clipboard procurator
Comment[lb]=Glipper Clipboard Manager
Comment[lg]=Omuddukanya clipboard ya Glipper
Comment[ln]=Mokambi ya tableau de bord ya glipper
Comment[lo]=ຜູ້ຈັດການ clipboard Glipper
Comment[lt]=Glipper iškarpinės tvarkyklė
Comment[lv]=Glipper starpliktuves pārvaldnieks
Comment[mg]=Glipper clipboard manager
Comment[mi]=Kaiwhakahaere papatopenga Glipper
Comment[mk]=Управувач со таблата со исечоци Glipper
Comment[ml]=ഗ്ലിപ്പർ ക്ലിപ്പ്ബോർഡ് മാനേജർ
Comment[mn]=Glipper санах ойн менежер
Comment[mr]=ग्लिपर क्लिपबोर्ड व्यवस्थापक
Comment[ms]=Pengurus papan keratan Glipper
Comment[mt]=Glipper clipboard manager
Comment[my]=Glipper ကလစ်ဘုတ်မန်နေဂျာ
Comment[ne]=ग्लिपर क्लिपबोर्ड प्रबन्धक
Comment[nl]=Glipper klembordmanager
Comment[no]=Glipper utklippstavle manager
Comment[ny]=Glipper clipboard manager
Comment[om]=Hogganaa gabatee kiliippii glipper
Comment[or]=ଗ୍ଲିପର୍ କ୍ଲିପବୋର୍ଡ୍ ମ୍ୟାନେଜର୍ |
Comment[pa]=ਗਲੀਪਰ ਕਲਿੱਪਬੋਰਡ ਮੈਨੇਜਰ
Comment[pl]=Menedżer schowka Glipper
Comment[ps]=ﺮﯾﺪﻣ ډﺭﻮﺑ ﭗﻠﮐ ﺮﭙﯿﻠګ ﺩ
Comment[pt]=Gestor da área de transferência Glipper
Comment[qu]=Glipper portapapeles nisqa kamachiq
Comment[ro]=Manager clipboard Glipper
Comment[rw]=Umuyobozi wa clip clip
Comment[sa]=ग्लिपर क्लिपबोर्ड प्रबन्धक
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ڊﺭﻮﺑ ﭗﻠڪ ﺮﭙﻠﮔ
Comment[si]=Glipper clipboard manager
Comment[sk]=Správca schránky Glipper
Comment[sl]=Upravljalnik odložišča Glipper
Comment[sm]=Pule o le laupapa kilipa Glipper
Comment[sn]=Glipper clipboard maneja
Comment[so]=Maamulaha kilibka ee Glipper
Comment[sq]=Menaxheri i kujtesës së kujtesës Glipper
Comment[st]=Motsamaisi oa li-clipboard tsa Glipper
Comment[su]=Pangatur papan klip Glipper
Comment[sv]=Glipper urklippshanterare
Comment[sw]=Kidhibiti cha ubao wa kunakili wa Glipper
Comment[ta]=கிளிப்பர் கிளிப்போர்டு மேலாளர்
Comment[te]=గ్లిప్పర్ క్లిప్u200cబోర్డ్ మేనేజర్
Comment[tg]=Менеҷери буфери Glipper
Comment[th]=ผู้จัดการคลิปบอร์ดของกลิปเปอร์
Comment[ti]=ግሊፐር ቅንጥብጣብ ሰሌዳ ኣካያዲ
Comment[tk]=Glipper paneli dolandyryjysy
Comment[tl]=Tagapamahala ng clipboard ng Glipper
Comment[to]=Pule Glipper Papafakamaʻu
Comment[ts]=Mufambisi wa clipboard ya glipper
Comment[tt]=Глипер тактасы менеджеры
Comment[tw]=Glipper clipboard sohwɛfo
Comment[ty]=Taata faatere i te mau hohoa
Comment[ug]=Glipper ﻯﺭﻮﺘﻜﯨﺮﯦﺩ ﻰﺴﯩﺘﺧﺎﺗ ﺵﻼ﻿ﭘﺎﭼ
Comment[uk]=Менеджер буфера обміну Glipper
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﮈﺭﻮﺑ ﭗﻠﮐ ﺮﭙﻠﮔ
Comment[uz]=Glipper clipboard menejeri
Comment[vi]=Trình quản lý khay nhớ tạm Glipper
Comment[xh]=Umphathi webhodi eqhotyoshwayo
Comment[yi]=רעטלאַווראַפ דראָבפּילק רעפּילג
Comment[yo]=Oluṣakoso agekuru agekuru Glipper
Comment[zh]=Glipper 剪贴板管理器
Comment[zu]=Umphathi webhodi lokunamathisela elicwebezelayo
Comment=Glipper clipboard manager
Exec=glipper_shell
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Glipper
