[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion du presse-papier : Glipper
Name=Glipper clipboard manager
Icon=mini-clipboard.xpm
Comment=Glipper clipboard manager
Exec=glipper_shell
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Glipper
