[Desktop Entry]
Name[fr]=Convertisseur d'unités : Gmeasures
Name[de]=Umrechner für Gmeasures-Einheiten
Name[es]=Gmeasures: conversor de unidades
Name[ru]=Конвертер единиц Gmeasures
Name=Gmeasures units converter
Comment[fr]=Convertisseur d'unités : Gmeasures
Comment[de]=Umrechner für Maße und Gewichte
Comment[es]=Gmeasures: conversor de unidades
Comment[ru]=Конвертер единиц Gmeasures
Comment=weights and measures converter
Exec=gmeasures
Icon=gmeasures.xpm
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Gmeasures
