[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des partitions : Gparted
Name[de]=GParted Partitionsmanager
Name[es]=GParted: gestor de particiones
Name[ru]=Менеджер разделов GParted
Name=GParted partition manager
Icon=gparted.png
Comment[fr]=GParted Gestionnaire des partitions
Comment[de]=GParted Partitionsmanager
Comment[es]=GParted: gestor de particiones
Comment[ru]=Менеджер разделов GParted
Comment=GParted partition manager
Exec=gparted_shell
Terminal=false
Type=Application
Categories=X-FilesystemUtility
GenericName=GParted
