[Desktop Entry]
Name[fr]=Visionneuse d'images : Gpicview
Name[de]=Gpicview Bildbetrachter
Name[es]=Gpicview: visor de imágenes
Name[ru]=Просмотрщик изображений Gpicview
Name=Gpicview image viewer
Comment[fr]=Visionneuse d'images : Gpicview
Comment[de]=Gpicview Bildbetrachter
Comment[es]=Visor de imágenes Gpicview
Comment[ru]=Просмотрщик изображений Gpicview
Comment=Gpicview image viewer
Exec=gpicview
Icon=gpicview.png
Terminal=false
Type=Application
Categories=X-Graphic-viewer
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-tga;image/x-portable-pixmap;image/x-portable-bitmap;image/x-targa;image/x-portable-greymap;application/pcx;image/svg+xml;image/svg-xml;
