[Desktop Entry]
Encoding=UTF-8
Name[fr]=Client PPTP VPN : Gpptp
Name[de]=Gpptp PPTP VPN-Client
Name=Gpptp PPTP VPN client
Icon=gpptp.png
Comment[de]=Gpptp v2.0 PPTP VPN-Client
Comment=Gpptp v2.0 PPTP VPN client
Exec=gpptp
Terminal=false
Type=Application
Categories=X-Network-phone
GenericName=Gpptp
