[Desktop Entry]
Name[fr]=Fabrique de Widget gtk3
Name[de]=Widget-Factory
Name=Widget Factory
Comment[de]=Ein Schaufenster für GTK+-Widgets, das zum Testen von Themen entwickelt wurde.
Comment=A showcase for GTK+ widgets, designed for testing themes.
Exec=gtk3-widget-factory
Icon=gtk3-widget-factory.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development
NoDisplay=true
