[Desktop Entry]
Name[fr]=Démo GTK+
Name[de]=GTK+ Demo
Name=GTK+ Demo
Comment[de]=GTK+ Codebeispiele und Demonstrationen
Comment=GTK+ code examples and demonstrations
Exec=gtk3-demo
Icon=gtk3-demo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development
NoDisplay=true
