[Desktop Entry]
Encoding=UTF-8
Name[fr]=Intégrité des fichiers : GtkHash
Name[de]=GtkHash Prüfsummenrechner
Name=GtkHash checksum utility
Icon=gtkhash.xpm
Comment[de]=Berechnen von Nachrichtendigests oder Prüfsummen
Comment=GtkHash checksum utility
Exec=/usr/bin/gtkhash
Terminal=false
Type=Application
Categories=Utility
GenericName=GtkHash
