[Desktop Entry]
Encoding=UTF-8
Name[fr]=Intégrité des fichiers : GtkHash
Name[de]=GtkHash Prüfsummenrechner
Name[es]=GtkHash: comprobar sumas de verificación
Name[ru]=Утилита контрольной суммы GtkHash
Name=GtkHash checksum utility
Icon=gtkhash.xpm
Comment[fr]=Intégrité des fichiers : GtkHash
Comment[de]=Berechnen von Nachrichtendigests oder Prüfsummen
Comment[es]=GtkHash: comprobar sumas de verificación
Commnet[ru]=Утилита контрольной суммы GtkHash
Comment=GtkHash checksum utility
Exec=/usr/bin/gtkhash
Terminal=false
Type=Application
Categories=Utility
GenericName=GtkHash
