[Desktop Entry]
Encoding=UTF-8
Name[fr]=Intégrité des fichiers : GtkHash
Name[de]=GtkHash Prüfsummenrechner
Name[es]=GtkHash: comprobar sumas de verificación
Name[ru]=Утилита контрольной суммы GtkHash
Name[af]=GtkHash kontrolesom nut
Name[am]=GtkHash checksum መገልገያ
Name[ar]=GtkHash ﺔﻳﺭﺎﺒﺘﺧﺍ ﺓﺪﺋﺎﻓ
Name[as]=GtkHash চেকছাম সঁজুলি
Name[ay]=GtkHash ukax mä juk’a uñakipt’atawa
Name[az]=GtkHash yoxlama məbləği yardım proqramı
Name[ba]=ГткХаш чексум утилитаһы
Name[be]=Утыліта кантрольнай сумы GtkHash
Name[bg]=Помощна програма за контролна сума GtkHash
Name[bm]=GtkHash checksum nafamafɛn
Name[bn]=GtkHash চেকসাম ইউটিলিটি
Name[bo]=gtkHash ཞིབ་བཤེར་གྱི་སྤྱི་སྤྱོད་རླངས་འཁོར།
Name[bs]=GtkHash uslužni program za kontrolnu sumu
Name[ca]=Utilitat de suma de comprovació GtkHash
Name[co]=Utilità di checksum GtkHash
Name[cs]=Nástroj kontrolního součtu GtkHash
Name[cy]=Cyfleustodau checksum GtkHash
Name[da]=GtkHash kontrolsum-værktøj
Name[dv]=ޓީލިޓިޔު މްސަކްޗެ ޝްހެކޭޓީޖީ
Name[ee]=GtkHash checksum ƒe dɔwɔnu
Name[el]=Βοηθητικό πρόγραμμα αθροίσματος ελέγχου GtkHash
Name[eo]=GtkHash-kontrolsumo ilo
Name[et]=GtkHash kontrollsumma utiliit
Name[eu]=GtkHash checksum utilitatea
Name[fa]=GtkHash checksum ﺭﺍﺰﺑﺍ
Name[fi]=GtkHash tarkistussumma-apuohjelma
Name[fj]=GtkHash checksum iyaya ni veiqaravi
Name[fo]=GtkHash checksum utility
Name[fy]=GtkHash kontrôlesum utility
Name[ga]=Fóntais sheiceála GtkHash
Name[gd]=GtkHash checksum goireasachd
Name[gl]=Utilidade de suma de verificación GtkHash
Name[gn]=GtkHash utilidad checksum rehegua
Name[gu]=GtkHash ચેકસમ ઉપયોગિતા
Name[ha]=GtkHash checksum utility
Name[he]=GtkHash Checksum תורישה תינכות
Name[hi]=GtkHash चेकसम उपयोगिता
Name[hr]=Uslužni program GtkHash checksum
Name[ht]=GtkHash chèk sòm sèvis piblik
Name[hu]=GtkHash ellenőrzőösszeg segédprogram
Name[hy]=GtkHash checksum կոմունալ
Name[id]=Utilitas checksum GtkHash
Name[ig]=GtkHash checksum uru
Name[is]=GtkHash checksum gagnsemi
Name[it]=Utilità di checksum GtkHash
Name[iu]=GtkHash−ᒧᑦ ᖃᐅᔨᓴᕈᑎ
Name[ja]=GtkHash チェックサム ユーティリティ
Name[jv]=Utilitas checksum GtkHash
Name[ka]=GtkHash checksum უტილიტა
Name[kk]=GtkHash бақылау сомасының утилитасы
Name[km]=ឧបករណ៍ប្រើប្រាស់ពិនិត្យផលបូក GtkHash
Name[kn]=GtkHash ಚೆಕ್ಸಮ್ ಉಪಯುಕ್ತತೆ
Name[ko]=GtkHash 체크섬 유틸리티
Name[ku]=Karanîna GtkHash checksum
Name[ky]=GtkHash текшерүү суммасы
Name[la]=GtkHash checksum utilitatem
Name[lb]=GtkHash Checksum Utility
Name[lg]=GtkHash ekikozesebwa mu kukebera
Name[ln]=Utilitaire ya checksum ya GtkHash
Name[lo]=ຜົນປະໂຫຍດການກວດສອບ GtkHash
Name[lt]=„GtkHash“ kontrolinės sumos įrankis
Name[lv]=GtkHash kontrolsummas utilīta
Name[mg]=GtkHash checksum utility
Name[mi]=GtkHash arowhai whaipainga
Name[mk]=GtkHash алатка за проверка на сумата
Name[ml]=GtkHash ചെക്ക്സം യൂട്ടിലിറ്റി
Name[mn]=GtkHash шалгах нийлбэр хэрэгсэл
Name[mr]=GtkHash चेकसम युटिलिटी
Name[ms]=Utiliti checksum GtkHash
Name[mt]=Utilità ta checksum GtkHash
Name[my]=GtkHash checksum utility
Name[ne]=GtkHash चेकसम उपयोगिता
Name[nl]=GtkHash checksum-hulpprogramma
Name[no]=GtkHash kontrollsum-verktøy
Name[ny]=GtkHash checksum utility
Name[om]=Faayidaa checksum GtkHash
Name[or]=GtkHash ଚେକସମ୍ ଉପଯୋଗିତା |
Name[pa]=GtkHash ਚੈੱਕਸਮ ਸਹੂਲਤ
Name[pl]=Narzędzie sumy kontrolnej GtkHash
Name[ps]=ﺖﯾﺩﺎﻓﺍ ﻢﺴﮑﯿﭼ GtkHash ﺩ
Name[pt]=Utilitário de soma de verificação GtkHash
Name[qu]=GtkHash checksum yanapakuy
Name[ro]=Utilitarul de sumă de control GtkHash
Name[rw]=GtkHash igenzura ryingirakamaro
Name[sa]=GtkHash चेकसम उपयोगिता
Name[sd]=GtkHash ﻲٽﻠﻴٽﻮﻳ ﻢﺴڪﻴﭼ
Name[si]=GtkHash චෙක්සම් උපයෝගීතාව
Name[sk]=Pomôcka kontrolného súčtu GtkHash
Name[sl]=Pripomoček za kontrolno vsoto GtkHash
Name[sm]=GtkHash siaki tupe aoga
Name[sn]=GtkHash checksum utility
Name[so]=GtkHash checksum utility
Name[sq]=Shërbimi GtkHash checksum
Name[st]=GtkHash checksum utility
Name[su]=GtkHash checksum utiliti
Name[sv]=GtkHash kontrollsummaverktyg
Name[sw]=GtkHash checksum matumizi
Name[ta]=GtkHash செக்சம் பயன்பாடு
Name[te]=GtkHash చెక్సమ్ యుటిలిటీ
Name[tg]=Утилитаи санҷиши GtkHash
Name[th]=ยูทิลิตี้การตรวจสอบ GtkHash
Name[ti]=GtkHash checksum ዩቲሊቲ
Name[tk]=GtkHash barlag serişdesi
Name[tl]=GtkHash checksum utility
Name[to]=GtkHash checksum ʻuhila
Name[tr]=GtkHash sağlama toplamı yardımcı programı
Name[ts]=Xitirhisiwa xa checksum xa GtkHash
Name[tt]=GtkHash тикшерү ярдәме
Name[tw]=GtkHash checksum mfasoɔ
Name[ty]=GtkHash checksum
Name[ug]=GtkHash ﻰﺑﺍﯟﺳەﺋ ﺵﯛﺭﯜﺸﻛەﺗ
Name[uk]=Утиліта контрольної суми GtkHash
Name[ur]=GtkHash ﯽﭩﯿﻠﯿﭨﻮﯾ ﻢﺴﮑﯿﭼ
Name[uz]=GtkHash nazorat summasi yordam dasturi
Name[vi]=Tiện ích tổng kiểm tra GtkHash
Name[xh]=GtkHash checksum eluncedo
Name[yi]=GtkHash ןצונ םוסקעשט
Name[yo]=GtkHash checksum IwUlO
Name[zh]=GtkHash 校验和实用程序
Name[zu]=GtkHash checksum utility
Name=GtkHash checksum utility
Icon=gtkhash.xpm
Comment[fr]=Intégrité des fichiers : GtkHash
Comment[de]=Berechnen von Nachrichtendigests oder Prüfsummen
Comment[es]=GtkHash: comprobar sumas de verificación
Commnet[ru]=Утилита контрольной суммы GtkHash
Comment[af]=GtkHash kontrolesom nut
Comment[am]=GtkHash checksum መገልገያ
Comment[ar]=GtkHash ﺔﻳﺭﺎﺒﺘﺧﺍ ﺓﺪﺋﺎﻓ
Comment[as]=GtkHash চেকছাম সঁজুলি
Comment[ay]=GtkHash ukax mä juk’a uñakipt’atawa
Comment[az]=GtkHash yoxlama məbləği yardım proqramı
Comment[ba]=ГткХаш чексум утилитаһы
Comment[be]=Утыліта кантрольнай сумы GtkHash
Comment[bg]=Помощна програма за контролна сума GtkHash
Comment[bm]=GtkHash checksum nafamafɛn
Comment[bn]=GtkHash চেকসাম ইউটিলিটি
Comment[bo]=gtkHash ཞིབ་བཤེར་གྱི་སྤྱི་སྤྱོད་རླངས་འཁོར།
Comment[bs]=GtkHash uslužni program za kontrolnu sumu
Comment[ca]=Utilitat de suma de comprovació GtkHash
Comment[co]=Utilità di checksum GtkHash
Comment[cs]=Nástroj kontrolního součtu GtkHash
Comment[cy]=Cyfleustodau checksum GtkHash
Comment[da]=GtkHash kontrolsum-værktøj
Comment[dv]=ޓީލިޓިޔު މްސަކްޗެ ޝްހެކޭޓީޖީ
Comment[ee]=GtkHash checksum ƒe dɔwɔnu
Comment[el]=Βοηθητικό πρόγραμμα αθροίσματος ελέγχου GtkHash
Comment[eo]=GtkHash-kontrolsumo ilo
Comment[et]=GtkHash kontrollsumma utiliit
Comment[eu]=GtkHash checksum utilitatea
Comment[fa]=GtkHash checksum ﺭﺍﺰﺑﺍ
Comment[fi]=GtkHash tarkistussumma-apuohjelma
Comment[fj]=GtkHash checksum iyaya ni veiqaravi
Comment[fo]=GtkHash checksum utility
Comment[fy]=GtkHash kontrôlesum utility
Comment[ga]=Fóntais sheiceála GtkHash
Comment[gd]=GtkHash checksum goireasachd
Comment[gl]=Utilidade de suma de verificación GtkHash
Comment[gn]=GtkHash utilidad checksum rehegua
Comment[gu]=GtkHash ચેકસમ ઉપયોગિતા
Comment[ha]=GtkHash checksum utility
Comment[he]=GtkHash Checksum תורישה תינכות
Comment[hi]=GtkHash चेकसम उपयोगिता
Comment[hr]=Uslužni program GtkHash checksum
Comment[ht]=GtkHash chèk sòm sèvis piblik
Comment[hu]=GtkHash ellenőrzőösszeg segédprogram
Comment[hy]=GtkHash checksum կոմունալ
Comment[id]=Utilitas checksum GtkHash
Comment[ig]=GtkHash checksum uru
Comment[is]=GtkHash checksum gagnsemi
Comment[it]=Utilità di checksum GtkHash
Comment[iu]=GtkHash−ᒧᑦ ᖃᐅᔨᓴᕈᑎ
Comment[ja]=GtkHash チェックサム ユーティリティ
Comment[jv]=Utilitas checksum GtkHash
Comment[ka]=GtkHash checksum უტილიტა
Comment[kk]=GtkHash бақылау сомасының утилитасы
Comment[km]=ឧបករណ៍ប្រើប្រាស់ពិនិត្យផលបូក GtkHash
Comment[kn]=GtkHash ಚೆಕ್ಸಮ್ ಉಪಯುಕ್ತತೆ
Comment[ko]=GtkHash 체크섬 유틸리티
Comment[ku]=Karanîna GtkHash checksum
Comment[ky]=GtkHash текшерүү суммасы
Comment[la]=GtkHash checksum utilitatem
Comment[lb]=GtkHash Checksum Utility
Comment[lg]=GtkHash ekikozesebwa mu kukebera
Comment[ln]=Utilitaire ya checksum ya GtkHash
Comment[lo]=ຜົນປະໂຫຍດການກວດສອບ GtkHash
Comment[lt]=„GtkHash“ kontrolinės sumos įrankis
Comment[lv]=GtkHash kontrolsummas utilīta
Comment[mg]=GtkHash checksum utility
Comment[mi]=GtkHash arowhai whaipainga
Comment[mk]=GtkHash алатка за проверка на сумата
Comment[ml]=GtkHash ചെക്ക്സം യൂട്ടിലിറ്റി
Comment[mn]=GtkHash шалгах нийлбэр хэрэгсэл
Comment[mr]=GtkHash चेकसम युटिलिटी
Comment[ms]=Utiliti checksum GtkHash
Comment[mt]=Utilità ta checksum GtkHash
Comment[my]=GtkHash checksum utility
Comment[ne]=GtkHash चेकसम उपयोगिता
Comment[nl]=GtkHash checksum-hulpprogramma
Comment[no]=GtkHash kontrollsum-verktøy
Comment[ny]=GtkHash checksum utility
Comment[om]=Faayidaa checksum GtkHash
Comment[or]=GtkHash ଚେକସମ୍ ଉପଯୋଗିତା |
Comment[pa]=GtkHash ਚੈੱਕਸਮ ਸਹੂਲਤ
Comment[pl]=Narzędzie sumy kontrolnej GtkHash
Comment[ps]=ﺖﯾﺩﺎﻓﺍ ﻢﺴﮑﯿﭼ GtkHash ﺩ
Comment[pt]=Utilitário de soma de verificação GtkHash
Comment[qu]=GtkHash checksum yanapakuy
Comment[ro]=Utilitarul de sumă de control GtkHash
Comment[ru]=Утилита контрольной суммы GtkHash
Comment[rw]=GtkHash igenzura ryingirakamaro
Comment[sa]=GtkHash चेकसम उपयोगिता
Comment[sd]=GtkHash ﻲٽﻠﻴٽﻮﻳ ﻢﺴڪﻴﭼ
Comment[si]=GtkHash චෙක්සම් උපයෝගීතාව
Comment[sk]=Pomôcka kontrolného súčtu GtkHash
Comment[sl]=Pripomoček za kontrolno vsoto GtkHash
Comment[sm]=GtkHash siaki tupe aoga
Comment[sn]=GtkHash checksum utility
Comment[so]=GtkHash checksum utility
Comment[sq]=Shërbimi GtkHash checksum
Comment[st]=GtkHash checksum utility
Comment[su]=GtkHash checksum utiliti
Comment[sv]=GtkHash kontrollsummaverktyg
Comment[sw]=GtkHash checksum matumizi
Comment[ta]=GtkHash செக்சம் பயன்பாடு
Comment[te]=GtkHash చెక్సమ్ యుటిలిటీ
Comment[tg]=Утилитаи санҷиши GtkHash
Comment[th]=ยูทิลิตี้การตรวจสอบ GtkHash
Comment[ti]=GtkHash checksum ዩቲሊቲ
Comment[tk]=GtkHash barlag serişdesi
Comment[tl]=GtkHash checksum utility
Comment[to]=GtkHash checksum ʻuhila
Comment[tr]=GtkHash sağlama toplamı yardımcı programı
Comment[ts]=Xitirhisiwa xa checksum xa GtkHash
Comment[tt]=GtkHash тикшерү ярдәме
Comment[tw]=GtkHash checksum mfasoɔ
Comment[ty]=GtkHash checksum
Comment[ug]=GtkHash ﻰﺑﺍﯟﺳەﺋ ﺵﯛﺭﯜﺸﻛەﺗ
Comment[uk]=Утиліта контрольної суми GtkHash
Comment[ur]=GtkHash ﯽﭩﯿﻠﯿﭨﻮﯾ ﻢﺴﮑﯿﭼ
Comment[uz]=GtkHash nazorat summasi yordam dasturi
Comment[vi]=Tiện ích tổng kiểm tra GtkHash
Comment[xh]=GtkHash checksum eluncedo
Comment[yi]=GtkHash ןצונ םוסקעשט
Comment[yo]=GtkHash checksum IwUlO
Comment[zh]=GtkHash 校验和实用程序
Comment[zu]=GtkHash checksum utility
Comment=GtkHash checksum utility
Exec=/usr/bin/gtkhash
Terminal=false
Type=Application
Categories=Utility
GenericName=GtkHash
