[Desktop Entry]
Encoding=UTF-8
Name[fr]=Impression de fichiers : GtkLP
Name[de]=GtkLP-Dateidruck
Name[es]=GtkLP: imprimir archivos
Name[ru]=Печать файла GtkLP
Name=GtkLP file printing
GenericName=GtkLP
Comment[fr]=Impression de fichiers : GtkLP
Comment[de]=GtkLP-Dateidruck
Comment[es]=GtkLP: imprimir archivos
Comment[ru]=Печать файла GtkLP
Comment=GtkLP file printing
Exec=gtklp
Icon=tb_print.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=X-System-print
