[Desktop Entry]
Encoding=UTF-8
Name[fr]=Impression de fichiers : GtkLP
Name[de]=GtkLP-Dateidruck
Name=GtkLP file printing
GenericName=GtkLP
Comment[de]=GtkLP-Dateidruck
Comment=GtkLP file printing
Exec=gtklp
Icon=tb_print.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=X-System-print
