[Desktop Entry]
Type=Application
Name[de]=gWaveEdit bearbeitet Sounddateien
Name[fr]=Éditeur de fichier audio : gWaveEdit
Name[ru]=gWaveEdit редактирует звуковые файлы
Name=gWaveEdit edit sound files
GenericName=gWaveEdit
Comment[de]=Nehmen Sie Sounddateien auf, spielen Sie sie ab, bearbeiten Sie sie und konvertieren Sie sie
Comment[fr]=Enregistre, joue, édite et convertit des fichiers audio
Comment[ru]=Записывайте, воспроизводите, редактируйте и конвертируйте звуковые файлы
Comment=Record, play, edit and convert sound files
Icon=gwaveedit.png
Exec=gwaveedit
Terminal=false
Categories=X-Multimedia-sound
