[Desktop Entry]
Type=Application
Name[de]=gWaveEdit bearbeitet Sounddateien
Name[fr]=Éditeur de fichier audio : gWaveEdit
Name[ru]=gWaveEdit редактор звуковых файлов
Name[es]=gWaveEdit: editor de audio
Name[ru]=gWaveEdit редактор звуковых файлов
Name[af]=gWaveEdit wysig klanklêers
Name[am]=gWaveEdit የድምጽ ፋይሎችን ያርትዑ
Name[ar]=gWaveEdit ﺕﻮﺼﻟﺍ ﺕﺎﻔﻠﻣ ﺭﺮﺤﻳ
Name[as]=gWaveEdit শব্দ ফাইলসমূহ সম্পাদনা কৰক
Name[ay]=gWaveEdit ukax sonido archivonaka chiqañchañawa
Name[az]=gWaveEdit səs fayllarını redaktə edin
Name[ba]=GWaveEdit тауыш файлдарын төҙәтә
Name[be]=gWaveEdit рэдагаваць гукавыя файлы
Name[bg]=gWaveEdit редактиране на звукови файлове
Name[bm]=gWaveEdit bɛ mankan filenw ladilan
Name[bn]=gWaveEdit সাউন্ড ফাইল সম্পাদনা করুন
Name[bo]=gWaveEditརྩིས་སྒྲིག་སྒྲའི་ཡིག་ཆ།
Name[bs]=gWaveEdit uređivati zvučne datoteke
Name[ca]=gWaveEdit editar fitxers de so
Name[co]=gWaveEdit edità i fugliali di sonu
Name[cs]=gWaveEdit upravuje zvukové soubory
Name[cy]=gWaveEdit golygu ffeiliau sain
Name[da]=gWaveEdit rediger lydfiler
Name[dv]=gWaveEdit ންރުކުޓްޑިއެ އްތަލްއިފަ ޑުއަ
Name[ee]=gWaveEdit trɔ asi le gbeɖiɖi ƒe faɛlwo ŋu
Name[el]=gWaveEdit επεξεργασία αρχείων ήχου
Name[eo]=gWaveEdit redakti sondosierojn
Name[et]=gWaveEdit redigeeri helifaile
Name[eu]=gWaveEdit editatu soinu-fitxategiak
Name[fa]=gWaveEdit ﺪﯿﻨﮐ ﺶﯾﺍﺮﯾﻭ ﺍﺭ ﯽﺗﻮﺻ ﯼﺎﻫ ﻞﯾﺎﻓ
Name[fi]=gWaveEdit muokkaa äänitiedostoja
Name[fj]=gWaveEdit vakataucokotaka na faile ni rorogo
Name[fo]=gWaveEdit edit ljóða files
Name[fy]=gWaveEdit bewurkje lûdbestannen
Name[ga]=Cuir comhaid fuaime in eagar gWaveEdit
Name[gd]=deasaich gWaveEdit faidhlichean fuaim
Name[gl]=gWaveEdit editar ficheiros de son
Name[gn]=gWaveEdit omohenda umi vore tyapu rehegua
Name[gu]=gWaveEdit સાઉન્ડ ફાઇલોને સંપાદિત કરો
Name[ha]=gWaveEdit gyara fayilolin sauti
Name[he]=gWaveEdit לוק יצבק ךורע
Name[hi]=gWaveEdit ध्वनि फ़ाइलें संपादित करें
Name[hr]=gWaveEdit uređivanje zvučnih datoteka
Name[ht]=gWaveEdit edite fichye son yo
Name[hu]=gWaveEdit hangfájlok szerkesztése
Name[hy]=gWaveEdit խմբագրել ձայնային ֆայլերը
Name[id]=gWaveEdit mengedit file suara
Name[ig]=gWaveEdit dezie faịlụ ụda
Name[is]=gWaveEdit breyta hljóðskrám
Name[it]=gWaveEdit modifica i file audio
Name[iu]=gWaveᐃᒪᓐᓇᐃᑦ ᓂᐱᖏᑦ
Name[ja]=gWaveEdit サウンド ファイルを編集する
Name[jv]=gWaveEdit sunting file swara
Name[ka]=gWaveEdit ხმის ფაილების რედაქტირება
Name[kk]=gWaveEdit дыбыс файлдарын өңдеу
Name[km]=gWaveEdit កែសម្រួលឯកសារសំឡេង
Name[kn]=gWaveEdit ಧ್ವನಿ ಫೈಲ್u200cಗಳನ್ನು ಸಂಪಾದಿಸಿ
Name[ko]=gWaveEdit 사운드 파일 편집
Name[ku]=gWaveEdit pelên deng biguherîne
Name[ky]=gWaveEdit үн файлдарын түзөтүү
Name[la]=gWaveEdit edit soni
Name[lb]=gWaveEdit änneren Toundateien
Name[lg]=gWaveEdit okulongoosa fayiro zamaloboozi
Name[ln]=gWaveEdit kobongisa ba fichiers ya son
Name[lo]=gWaveEdit ແກ້ໄຂໄຟລ໌ສຽງ
Name[lt]=gWaveEdit redaguoti garso failus
Name[lv]=gWaveEdit rediģēt skaņas failus
Name[mg]=gWaveEdit manova rakitra feo
Name[mi]=gWaveEdit whakatika kōnae oro
Name[mk]=gWaveEdit уредува звучни датотеки
Name[ml]=gWaveEdit ശബ്ദ ഫയലുകൾ എഡിറ്റ് ചെയ്യുക
Name[mn]=gWaveEdit дууны файлуудыг засварлах
Name[mr]=gWaveEdit ध्वनी फाइल्स संपादित करा
Name[ms]=gWaveEdit mengedit fail bunyi
Name[mt]=gWaveEdit editja fajls tal-ħoss
Name[my]=gWaveEdit အသံဖိုင်များကို တည်းဖြတ်ပါ။
Name[ne]=gWaveEdit ध्वनि फाइलहरू सम्पादन गर्नुहोस्
Name[nl]=gWaveEdit bewerk geluidsbestanden
Name[no]=gWaveEdit redigere lydfiler
Name[ny]=gWaveEdit sinthani mafayilo amawu
Name[om]=gWaveEdit faayilii sagalee gulaaluu
Name[or]=gWaveEdit ଧ୍ୱନି ଫାଇଲଗୁଡ଼ିକୁ ସଂପାଦନ କରନ୍ତୁ |
Name[pa]=gWaveEdit ਧੁਨੀ ਫਾਈਲਾਂ ਨੂੰ ਸੰਪਾਦਿਤ ਕਰੋ
Name[pl]=gWaveEdit edytuj pliki dźwiękowe
Name[ps]=gWaveEdit ﻝﻮﮐ ټﯾډﯾﺍ ﻮﻧﻮﻠﯾﺎﻓ ږﻏ ﺩ
Name[pt]=gWaveEdit editar arquivos de som
Name[qu]=gWaveEdit tuqyay willañiqikunata llamkapuy
Name[ro]=gWaveEdit editați fișiere de sunet
Name[rw]=gWaveEdit guhindura dosiye yijwi
Name[sa]=gWaveEdit ध्वनिसञ्चिकाः सम्पादयति
Name[sd]=gWaveEdit ﻮﻳﺮڪ ٽڊﻳﺍ ﻥﻮﻠﺋﺎﻓ ڊﻧﻮﺋﺎﺳ
Name[si]=gWaveEdit ශබ්ද ගොනු සංස්කරණය කරන්න
Name[sk]=gWaveEdit upravuje zvukové súbory
Name[sl]=gWaveEdit urejanje zvočnih datotek
Name[sm]=gWaveEdit faasao faila leo
Name[sn]=gWaveEdit gadzirisa mafaera ekurira
Name[so]=gWaveEdit wax ka beddel faylalka codka
Name[sq]=gWaveEdit modifikoni skedarët e zërit
Name[st]=gWaveEdit hlophisa lifaele tsa molumo
Name[su]=gWaveEdit ngédit file sora
Name[sv]=gWaveEdit redigera ljudfiler
Name[sw]=gWaveEdit hariri faili za sauti
Name[ta]=gWaveEdit ஒலி கோப்புகளைத் திருத்தவும்
Name[te]=gWaveEdit సౌండ్ ఫైల్u200cలను సవరించండి
Name[tg]=gWaveEdit файлҳои садоиро таҳрир кунед
Name[th]=gWaveEdit แก้ไขไฟล์เสียง
Name[ti]=gWaveEdit ናይ ድምጺ ፋይላት ኣርትዕ
Name[tk]=gWaveEdit ses faýllaryny redaktirläň
Name[tl]=gWaveEdit i-edit ang mga sound file
Name[to]=gWaveEdit fakatonutonu e ngaahi faile ʻo e ongo
Name[tr]=gWaveEdit ses dosyalarını düzenleme
Name[ts]=gWaveEdit hlela tifayela ta mpfumawulo
Name[tt]=gWaveEdit тавыш файлларын үзгәртү
Name[tw]=gWaveEdit sesa nnyigyei fael ahorow
Name[ty]=GWaveEdit edit sound files
Name[ug]=gWaveEdit ﺵەﻟﺮﯨﺮﮬەﺗ ﻰﻨﯩﺘﯩﺠﺟﯚﮬ ﺯﺍﯞﺎﺋ
Name[uk]=gWaveEdit редагувати звукові файли
Name[ur]=gWaveEdit ۔ﮟﯾﺮﮐ ﻢﯿﻣﺮﺗ ﮟﯿﻣ ﮞﻮﻠﺋﺎﻓ ﮉﻧﺅﺎﺳ
Name[uz]=gWaveEdit ovoz fayllarini tahrirlash
Name[vi]=gWaveEdit chỉnh sửa tập tin âm thanh
Name[xh]=gWaveEdit hlela iifayile zesandi
Name[yi]=סעקעט טנוזעג ןריגאַדער טידעעוואַווג
Name[yo]=gWaveEdit ṣatunkọ awọn faili ohun
Name[zh]=gWaveEdit 编辑声音文件
Name[zu]=I-gWaveEdit hlela amafayela omsindo
Name=gWaveEdit edit sound files
GenericName=gWaveEdit
Comment[de]=Nehmen Sie Sounddateien auf, spielen Sie sie ab, bearbeiten Sie sie und konvertieren Sie sie
Comment[fr]=Enregistre, joue, édite et convertit des fichiers audio
Comment[ru]=Записывайте, воспроизводите, редактируйте и конвертируйте звуковые файлы
Comment[es]=Grabar, reproducir, editar y convertir archivos de sonido
Comment[ru]=gWaveEdit редактирует звуковые файлы
Comment[af]=Teken op, speel, redigeer en omskep klanklêers
Comment[am]=የድምጽ ፋይሎችን ይቅዱ፣ ያጫውቱ፣ ያርትዑ እና ይቀይሩ
Comment[ar]=ﺕﻮﺼﻟﺍ ﺕﺎﻔﻠﻣ ﻞﻳﻮﺤﺗﻭ ﺮﻳﺮﺤﺗﻭ ﻞﻴﻐﺸﺗﻭ ﻞﻴﺠﺴﺗ
Comment[as]=শব্দ ফাইলসমূহ ৰেকৰ্ড, প্লে, সম্পাদনা আৰু ৰূপান্তৰ কৰা
Comment[ay]=Sonido archivonaka grabaña, anataña, chiqañchaña ukat jaqukipaña
Comment[az]=Səs fayllarını yazın, çalın, redaktə edin və çevirin
Comment[ba]=Тауыш файлдарын яҙып алыу, уйнау, төҙәтеп, үҙгәртеп
Comment[be]=Запісвайце, прайгравайце, рэдагуйце і канвертуйце гукавыя файлы
Comment[bg]=Записвайте, възпроизвеждайте, редактирайте и конвертирайте звукови файлове
Comment[bm]=Mankan filenw sɛbɛn, k’u fɔ, k’u ladilan ani k’u sɛmɛntiya
Comment[bn]=সাউন্ড ফাইল রেকর্ড, প্লে, সম্পাদনা এবং রূপান্তর করুন
Comment[bo]=སྒྲའི་ཡིག་ཆ་ཟིན་ཐོར་འགོད་པ་དང་། རྩེད་འཇོར་རོལ་བ། རྩོམ་སྒྲིག
Comment[bs]=Snimanje, reprodukcija, uređivanje i pretvaranje zvučnih datoteka
Comment[ca]=Gravar, reproduir, editar i convertir fitxers de so
Comment[co]=Registra, ghjucà, edità è cunvertisce i fugliali di sonu
Comment[cs]=Nahrávejte, přehrávejte, upravujte a převádějte zvukové soubory
Comment[cy]=Recordio, chwarae, golygu a throsi ffeiliau sain
Comment[da]=Optag, afspil, rediger og konverter lydfiler
Comment[dv]=ންރުކުލުދަބަ ،ށްކޮޓްޑިއެ ،ށްކޮލޭޕް ،ށްކޮޑްކޯރެ އްތަލްއިފަ ޑުއަ
Comment[ee]=Lé gbeɖiɖi ƒe faɛlwo ɖe mɔ̃ dzi, ƒo wo, trɔ asi le wo ŋu eye nàtrɔ wo
Comment[el]=Εγγραφή, αναπαραγωγή, επεξεργασία και μετατροπή αρχείων ήχου
Comment[eo]=Registri, ludi, redakti kaj konverti sondosierojn
Comment[et]=Salvestage, esitage, redigeerige ja teisendage helifaile
Comment[eu]=Grabatu, erreproduzitu, editatu eta bihurtu soinu-fitxategiak
Comment[fa]=ﯽﺗﻮﺻ ﯼﺎﻫ ﻞﯾﺎﻓ ﻞﯾﺪﺒﺗ ﻭ ﺶﯾﺍﺮﯾﻭ ،ﺶﺨﭘ ،ﻂﺒﺿ
Comment[fi]=Tallenna, toista, muokkaa ja muunna äänitiedostoja
Comment[fj]=Vola, qito, veisautaka ka saumaki mai na faile ni rorogo
Comment[fo]=Record, spæl, edit og convert ljóða files
Comment[fy]=Lûdbestannen opnimme, spielje, bewurkje en konvertearje
Comment[ga]=Taifead, seinn, cuir in eagar agus tiontaigh comhaid fuaime
Comment[gd]=Clàraich, cluich, deasaich agus tionndaidh faidhlichean fuaim
Comment[gl]=Gravar, reproducir, editar e converter ficheiros de son
Comment[gn]=Ehai, embopu, emohenda ha emoambue umi archivo sonido rehegua
Comment[gu]=ધ્વનિ ફાઇલોને રેકોર્ડ કરો, ચલાવો, સંપાદિત કરો અને કન્વર્ટ કરો
Comment[ha]=Yi rikodin, kunna, shirya da canza fayilolin sauti
Comment[he]=לוק יצבק רמהו ךורע ,ןגנ ,טלקה
Comment[hi]=ध्वनि फ़ाइलें रिकॉर्ड करें, चलाएं, संपादित करें और परिवर्तित करें
Comment[hr]=Snimajte, reproducirajte, uređujte i pretvarajte zvučne datoteke
Comment[ht]=Anrejistre, jwe, edite ak konvèti dosye son
Comment[hu]=Hangfájlok rögzítése, lejátszása, szerkesztése és konvertálása
Comment[hy]=Ձայնագրեք, նվագարկեք, խմբագրեք և փոխարկեք ձայնային ֆայլեր
Comment[id]=Rekam, putar, edit, dan konversi file suara
Comment[ig]=Dekọọ, kpọọ, dezie ma tụgharịa faịlụ ụda
Comment[is]=Taktu upp, spilaðu, breyttu og umbreyttu hljóðskrám
Comment[it]=Registra, riproduci, modifica e converti file audio
Comment[iu]=ᑎᑎᕋᖅᐸᓪᓕᐊᓗᒋᑦ, ᐱᙳᐊᕐᓗᒋᑦ, ᐋᖅᑭᒋᐊᖅᑕᐅᓗᑎᒃ ᐊᒻᒪ ᐊᓯᔾᔨᕐᓗᒋᑦ ᓂᐱᓄᑦ ᑐᖅᑯᖅᓯᒪᔪᑦ
Comment[ja]=サウンドファイルの録音、再生、編集、変換
Comment[jv]=Rekam, muter, ngowahi lan ngowahi file swara
Comment[ka]=ხმის ფაილების ჩაწერა, დაკვრა, რედაქტირება და კონვერტირება
Comment[kk]=Дыбыстық файлдарды жазу, ойнату, өңдеу және түрлендіру
Comment[km]=ថត លេង កែសម្រួល និងបំប្លែងឯកសារសំឡេង
Comment[kn]=ಧ್ವನಿ ಫೈಲ್u200cಗಳನ್ನು ರೆಕಾರ್ಡ್ ಮಾಡಿ, ಪ್ಲೇ ಮಾಡಿ, ಸಂಪಾದಿಸಿ ಮತ್ತು ಪರಿವರ್ತಿಸಿ
Comment[ko]=사운드 파일 녹음, 재생, 편집 및 변환
Comment[ku]=Pelên deng tomar bikin, bilîzin, biguherînin û biguherînin
Comment[ky]=Үн файлдарын жазыңыз, ойнотуңуз, түзөтүңүз жана өзгөртүңүз
Comment[la]=Record, fabula, recensere et converte files sonos
Comment[lb]=Recordt, spillt, editéiert a konvertéiert Toundateien
Comment[lg]=Okukwata, okuzannya, okulongoosa n’okukyusa fayiro z’amaloboozi
Comment[ln]=Enregistrer, kobeta, kobongisa mpe kobongola ba fichiers ya son
Comment[lo]=ບັນທຶກ, ຫຼິ້ນ, ແກ້ໄຂ ແລະປ່ຽນໄຟລ໌ສຽງ
Comment[lt]=Įrašykite, leiskite, redaguokite ir konvertuokite garso failus
Comment[lv]=Ierakstiet, atskaņojiet, rediģējiet un konvertējiet skaņas failus
Comment[mg]=Raketo, milalao, manova ary manova ny rakitra feo
Comment[mi]=Tuhia, purei, whakatika me te huri i nga konae oro
Comment[mk]=Снимајте, репродуцирајте, уредувајте и конвертирате звучни датотеки
Comment[ml]=ശബ്ദ ഫയലുകൾ റെക്കോർഡ് ചെയ്യുക, പ്ലേ ചെയ്യുക, എഡിറ്റ് ചെയ്യുക, പരിവർത്തനം ചെയ്യുക
Comment[mn]=Дууны файлуудыг бичих, тоглуулах, засварлах, хөрвүүлэх
Comment[mr]=ध्वनी फायली रेकॉर्ड करा, प्ले करा, संपादित करा आणि रूपांतरित करा
Comment[ms]=Rakam, mainkan, edit dan tukar fail bunyi
Comment[mt]=Irrekordja, tilgħab, teditja u tikkonverti fajls tal-ħoss
Comment[my]=အသံဖိုင်များကို အသံသွင်းခြင်း၊ ဖွင့်ခြင်း၊ တည်းဖြတ်ခြင်းနှင့် ပြောင်းပါ။
Comment[ne]=ध्वनि फाइलहरू रेकर्ड, प्ले, सम्पादन र रूपान्तरण गर्नुहोस्
Comment[nl]=Geluidsbestanden opnemen, afspelen, bewerken en converteren
Comment[no]=Ta opp, spill av, rediger og konverter lydfiler
Comment[ny]=Jambulani, sewera, sinthani ndikusintha mafayilo amawu
Comment[om]=Faayilota sagalee waraabuu, taphachiisuu, gulaaluu fi jijjiiruu
Comment[or]=ଧ୍ୱନି ଫାଇଲଗୁଡ଼ିକୁ ରେକର୍ଡ, ଖେଳ, ସଂପାଦନ ଏବଂ ରୂପାନ୍ତର କର |
Comment[pa]=ਧੁਨੀ ਫਾਈਲਾਂ ਨੂੰ ਰਿਕਾਰਡ ਕਰੋ, ਚਲਾਓ, ਸੰਪਾਦਿਤ ਕਰੋ ਅਤੇ ਕਨਵਰਟ ਕਰੋ
Comment[pl]=Nagrywaj, odtwarzaj, edytuj i konwertuj pliki dźwiękowe
Comment[ps]=ﺉړﮐ ﻝﺪﺑ ﻭﺍ ﺉړﮐ ټﯾډﯾﺍ ، ﺉړﮐ ﯽﻠﭘ ، ﺉړﮐ ﺖﺒﺛ ﻪﻧﻮﻠﯾﺎﻓ ږﻏ ﺩ
Comment[pt]=Grave, reproduza, edite e converta ficheiros de som
Comment[qu]=T’uqyay archivokunata grabay, tocay, allichay hinaspa tikray
Comment[ro]=Înregistrați, redați, editați și convertiți fișiere de sunet
Comment[rw]=Andika, ukine, uhindure kandi uhindure dosiye zijwi
Comment[sa]=ध्वनिसञ्चिकानां अभिलेखनं, वादनं, सम्पादनं, परिवर्तनं च कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ﻞﻳﺪﺒﺗ ۽ ٽڊﻳﺍ ،ﺪﻧﺍﺭ ،ڊﺭﺎڪﺭ ﻲﮐ ﻦﻠﺋﺎﻓ ﺯﺍﻭﺁ
Comment[si]=ශබ්ද ගොනු පටිගත කරන්න, වාදනය කරන්න, සංස්කරණය කරන්න සහ පරිවර්තනය කරන්න
Comment[sk]=Nahrávajte, prehrávajte, upravujte a konvertujte zvukové súbory
Comment[sl]=Snemajte, predvajajte, urejajte in pretvarjajte zvočne datoteke
Comment[sm]=Faamau, taalo, faasao ma faaliliu faila leo
Comment[sn]=Rekodha, tamba, gadzirisa uye shandura mafaera ekurira
Comment[so]=Qor, ciyaar, wax ka beddel oo beddel faylalka dhawaaqa
Comment[sq]=Regjistroni, luani, modifikoni dhe konvertoni skedarët e zërit
Comment[st]=Rekota, bapala, fetola le ho fetolela lifaele tsa molumo
Comment[su]=Rékam, maén, ngédit sareng ngarobih file sora
Comment[sv]=Spela in, spela upp, redigera och konvertera ljudfiler
Comment[sw]=Rekodi, cheza, hariri na ubadilishe faili za sauti
Comment[ta]=ஒலி கோப்புகளை பதிவு செய்யவும், இயக்கவும், திருத்தவும் மற்றும் மாற்றவும்
Comment[te]=ధ్వని ఫైళ్లను రికార్డ్ చేయండి, ప్లే చేయండి, సవరించండి మరియు మార్చండి
Comment[tg]=Файлҳои садоиро сабт кунед, бозӣ кунед, таҳрир кунед ва табдил диҳед
Comment[th]=บันทึก เล่น แก้ไข และแปลงไฟล์เสียง
Comment[ti]=ናይ ድምጺ ፋይላት ምቕራጽ፣ ምጽዋት፣ ምእራምን ምቕያርን።
Comment[tk]=Ses faýllaryny ýazga alyň, oýnaň, redaktirläň we öwüriň
Comment[tl]=I-record, i-play, i-edit at i-convert ang mga sound file
Comment[to]=Lekooti, vaʻinga, ʻetitaʻi mo liliu e ngaahi faile ʻo e ongo
Comment[tr]=Ses dosyalarını kaydedin, oynatın, düzenleyin ve dönüştürün
Comment[ts]=Rekhoda, tlanga, hlela na ku hundzuluxa tifayela ta mpfumawulo
Comment[tt]=Тавыш файлларын яздырыгыз, уйнагыз, редакцияләгез һәм үзгәртегез
Comment[tw]=Kyerɛw, bɔ, siesie na dannan nnyigyei fael ahorow
Comment[ty]=Tapaopao, hauti, nenei e taui i te mau putuite
Comment[ug]=ﺶﯩﺗﺭەﮔﺯﯚﺋ ەﯞ ﺵەﻟﺮﯨﺮﮬەﺗ ، ﺵﯘﻳﻮﻗ ، ﺵەﻠﯨﺮﯩﺗﺎﺧ ﻰﻨﯩﺘﯩﺠﺟﯚﮬ ﺯﺍﯞﺎﺋ
Comment[uk]=Записуйте, відтворюйте, редагуйте та конвертуйте звукові файли
Comment[ur]=۔ﮟﯾﺮﮐ ﻞﯾﺪﺒﺗ ﺭﻭﺍ ﮟﯾﺮﮐ ﻢﯿﻣﺮﺗ ،ﮟﯿﺋﻼ﻿ﭼ ،ﮟﯾﺮﮐ ﮈﺭﺎﮑﯾﺭ ﻮﮐ ﮞﻮﻠﺋﺎﻓ ﯽﺗﻮﺻ
Comment[uz]=Ovozli fayllarni yozib oling, ijro eting, tahrirlang va ozgartiring
Comment[vi]=Ghi, phát, chỉnh sửa và chuyển đổi các tệp âm thanh
Comment[xh]=Rekhoda, dlala, hlela kwaye uguqule iifayile zesandi
Comment[yi]=סעקעט טנוזעג רעג ןוא ןריגאַדער ,ליפּש ,ןרידראָקער
Comment[yo]=Gba silẹ, mu ṣiṣẹ, ṣatunkọ ati yi awọn faili ohun pada
Comment[zh]=录制、播放、编辑和转换声音文件
Comment[zu]=Rekhoda, dlala, hlela futhi uguqule amafayela omsindo
Comment=Record, play, edit and convert sound files
Icon=gwaveedit.png
Exec=gwaveedit
Terminal=false
Categories=X-Multimedia-sound
