[Desktop Entry]
Type=Application
Terminal=false
Exec=gxlat
Icon=/usr/share/pixmaps/gxlat.svg
Name[fr]=Traducteur : Gxlat
Name[de]=Gxlat Sprachübersetzer
Name[es]=Gxlat: traductor
Name[ru]=Gxlat переводчик языка
Name[af]=Gxlat-taalvertaler
Name[am]=Gxlat ቋንቋ ተርጓሚ
Name[ar]=Gxlat ﺔﻐﻟ ﻢﺟﺮﺘﻣ
Name[as]=Gxlat ভাষা অনুবাদক
Name[ay]=Gxlat aru jaqukipiri
Name[az]=Gxlat dil tərcüməçisi
Name[ba]=Гкслат теле тәржемәсеһе
Name[be]=Перакладчык мовы gxlat
Name[bg]=Преводач на език Gxlat
Name[bm]=Gxlat kan bamanankan bamanankan na
Name[bn]=Gxlat ভাষা অনুবাদক
Name[bo]=Gxlat སྐད་ཡིག་ལོ་ཙཱ་བ།
Name[bs]=Gxlat jezik prevodilac
Name[ca]=Traductor didiomes Gxlat
Name[co]=Traduttore di lingua Gxlat
Name[cs]=Překladač jazyka gxlat
Name[cy]=Cyfieithydd iaith Gxlat
Name[da]=Gxlat sprog oversætter
Name[dv]=ވެނެމާޖަރުތަ ގެހުބަ ޓްލެސްކްގް
Name[ee]=Gxlat gbegɔmeɖela
Name[el]=Μεταφραστής γλώσσας Gxlat
Name[eo]=Gxlat-lingva tradukilo
Name[et]=Gxlat keele tõlkija
Name[eu]=Gxlat hizkuntza-itzultzailea
Name[fa]=Gxlat ﻥﺎﺑﺯ ﻢﺟﺮﺘﻣ
Name[fi]=Gxlat kielen kääntäjä
Name[fj]=Dauvakadewa ni vosa vaka-Gxlat
Name[fo]=Gxlat mál týðari
Name[fy]=Gxlat taal oersetter
Name[ga]=Aistritheoir teanga gxlat
Name[gd]=Eadar-theangair cànain gxlat
Name[gl]=Tradutor de idiomas gxlat
Name[gn]=Gxlat ñe’ẽ ñembohasa
Name[gu]=Gxlat ભાષા અનુવાદક
Name[ha]=Gxlat mai fassarar harshe
Name[he]=Gxlat תפשל םגרתמ
Name[hi]=Gxlat भाषा अनुवादक
Name[hr]=Prevoditelj jezika Gxlat
Name[ht]=Gxlat lang tradiktè
Name[hu]=Gxlat nyelvi fordító
Name[hy]=Gxlat լեզվի թարգմանիչ
Name[id]=Penerjemah bahasa Gxlat
Name[ig]=Onye ntụgharị asụsụ Gxlat
Name[is]=Gxlat tungumálaþýðandi
Name[it]=Traduttore di lingua gxlat
Name[iu]=Gxlat ᐅᖃᐅᓯᕐᒧᑦ ᑐᑭᓕᐅᕆᔨ
Name[ja]=Gxlat言語翻訳者
Name[jv]=Penerjemah basa Gxlat
Name[ka]=Gxlat ენის მთარგმნელი
Name[kk]=Gxlat тілінің аудармашысы
Name[km]=អ្នកបកប្រែភាសា Gxlat
Name[kn]=Gxlat ಭಾಷಾ ಅನುವಾದಕ
Name[ko]=Gxlat 언어 번역기
Name[ku]=wergêrê zimanê Gxlat
Name[ky]=Gxlat тил котормочу
Name[la]=Gxlat interpres linguae
Name[lb]=Gxlat Sprooch Iwwersetzer
Name[lg]=Gxlat omuvvuunuzi wolulimi
Name[ln]=Gxlat mobongoli ya monoko
Name[lo]=ນັກແປພາສາ Gxlat
Name[lt]=Gxlat kalbos vertėjas
Name[lv]=Gxlat valodas tulkotājs
Name[mg]=Mpandika teny gxlat
Name[mi]=Kaiwhakamaori reo Gxlat
Name[mk]=Gxlat јазичен преведувач
Name[ml]=Gxlat ഭാഷാ വിവർത്തകൻ
Name[mn]=Gxlat хэлний орчуулагч
Name[mr]=Gxlat भाषा अनुवादक
Name[ms]=Penterjemah bahasa Gxlat
Name[mt]=Traduttur tal-lingwa Gxlat
Name[my]=Gxlat ဘာသာစကားဘာသာပြန်ဆိုသူ
Name[ne]=Gxlat भाषा अनुवादक
Name[nl]=Gxlat-taalvertaler
Name[no]=Gxlat språkoversetter
Name[ny]=Womasulira chinenero cha Gxlat
Name[om]=Gxlat afaan hiikaa
Name[or]=Gxlat ଭାଷା ଅନୁବାଦକ |
Name[pa]=Gxlat ਭਾਸ਼ਾ ਅਨੁਵਾਦਕ
Name[pl]=Tłumacz języka Gxlat
Name[ps]=ﯽﮑﻧﻭړﺎﺑﮊ ﯥﺑﮊ Gxlat ﺩ
Name[pt]=Tradutor de idiomas Gxlat
Name[qu]=Gxlat simi tikraq
Name[ro]=Traducător de limbă Gxlat
Name[rw]=Umusemuzi wa Gxlat
Name[sa]=Gxlat भाषा अनुवादक
Name[sd]=Gxlat ﻢﺟﺮﺘﻣ ﻲﻟﻮﭔ
Name[si]=Gxlat භාෂා පරිවර්තකය
Name[sk]=Prekladač jazyka Gxlat
Name[sl]=Prevajalec jezika Gxlat
Name[sm]=Faaliliu gagana Gxlat
Name[sn]=Mushanduri wemutauro weGxlat
Name[so]=Turjubaanka luqadda Gxlat
Name[sq]=Përkthyes i gjuhës Gxlat
Name[st]=Mofetoleli oa puo ea Gxlat
Name[su]=Panarjamah basa Gxlat
Name[sv]=Gxlat språköversättare
Name[sw]=Mtafsiri wa lugha ya Gxlat
Name[ta]=Gxlat மொழி மொழிபெயர்ப்பாளர்
Name[te]=Gxlat భాషా అనువాదకుడు
Name[tg]=Тарҷумони забони Gxlat
Name[th]=ตัวแปลภาษา Gxlat
Name[ti]=ግክስላት ቋንቋ ተርጓሚ
Name[tk]=Gxlat diliniň terjimeçisi
Name[tl]=Tagasalin ng wikang Gxlat
Name[to]=Tokotaha liliu lea Gxlat
Name[tr]=Gxlat dil çevirmeni
Name[ts]=Gxlat muhundzuluxeri wa ririmi
Name[tt]=Gxlat тел тәрҗемәчесе
Name[tw]=Gxlat kasa asekyerɛfo
Name[ty]=Te taata huri reo Gxlat
Name[ug]=Gxlat ﻰﻧﺎﻤﯩﺟﺭەﺗ ﻞﯩﺗ
Name[uk]=Перекладач мови Gxlat
Name[ur]=Gxlat ﻢﺟﺮﺘﻣ ﺎﮐ ﻥﺎﺑﺯ
Name[uz]=Gxlat tili tarjimon
Name[vi]=Trình dịch ngôn ngữ Gxlat
Name[xh]=Umguquleli wolwimi lwe-Gxlat
Name[yi]=Gxlat רעצעזרעביא ךאַרפּש
Name[yo]=Onitumọ ede Gxlat
Name[zh]=Gxlat语言翻译器
Name[zu]=Umhumushi wolimi lwe-Gxlat
Name=Gxlat language translator
Comment[fr]=Traducteur : Gxlat
Comment[de]=Gxlat Sprachübersetzer
Comment[es]=Gxlat: traductor
Comment[ru]=Gxlat переводчик языка
Comment[af]=Gxlat-taalvertaler
Comment[am]=Gxlat ቋንቋ ተርጓሚ
Comment[ar]=Gxlat ﺔﻐﻟ ﻢﺟﺮﺘﻣ
Comment[as]=Gxlat ভাষা অনুবাদক
Comment[ay]=Gxlat aru jaqukipiri
Comment[az]=Gxlat dil tərcüməçisi
Comment[ba]=Гкслат теле тәржемәсеһе
Comment[be]=Перакладчык мовы gxlat
Comment[bg]=Преводач на език Gxlat
Comment[bm]=Gxlat kan bamanankan bamanankan na
Comment[bn]=Gxlat ভাষা অনুবাদক
Comment[bo]=Gxlat སྐད་ཡིག་ལོ་ཙཱ་བ།
Comment[bs]=Gxlat jezik prevodilac
Comment[ca]=Traductor didiomes Gxlat
Comment[co]=Traduttore di lingua Gxlat
Comment[cs]=Překladač jazyka gxlat
Comment[cy]=Cyfieithydd iaith Gxlat
Comment[da]=Gxlat sprog oversætter
Comment[dv]=ވެނެމާޖަރުތަ ގެހުބަ ޓްލެސްކްގް
Comment[ee]=Gxlat gbegɔmeɖela
Comment[el]=Μεταφραστής γλώσσας Gxlat
Comment[eo]=Gxlat-lingva tradukilo
Comment[et]=Gxlat keele tõlkija
Comment[eu]=Gxlat hizkuntza-itzultzailea
Comment[fa]=Gxlat ﻥﺎﺑﺯ ﻢﺟﺮﺘﻣ
Comment[fi]=Gxlat kielen kääntäjä
Comment[fj]=Dauvakadewa ni vosa vaka-Gxlat
Comment[fo]=Gxlat mál týðari
Comment[fy]=Gxlat taal oersetter
Comment[ga]=Aistritheoir teanga gxlat
Comment[gd]=Eadar-theangair cànain gxlat
Comment[gl]=Tradutor de idiomas gxlat
Comment[gn]=Gxlat ñe’ẽ ñembohasa
Comment[gu]=Gxlat ભાષા અનુવાદક
Comment[ha]=Gxlat mai fassarar harshe
Comment[he]=Gxlat תפשל םגרתמ
Comment[hi]=Gxlat भाषा अनुवादक
Comment[hr]=Prevoditelj jezika Gxlat
Comment[ht]=Gxlat lang tradiktè
Comment[hu]=Gxlat nyelvi fordító
Comment[hy]=Gxlat լեզվի թարգմանիչ
Comment[id]=Penerjemah bahasa Gxlat
Comment[ig]=Onye ntụgharị asụsụ Gxlat
Comment[is]=Gxlat tungumálaþýðandi
Comment[it]=Traduttore di lingua gxlat
Comment[iu]=Gxlat ᐅᖃᐅᓯᕐᒧᑦ ᑐᑭᓕᐅᕆᔨ
Comment[ja]=Gxlat言語翻訳者
Comment[jv]=Penerjemah basa Gxlat
Comment[ka]=Gxlat ენის მთარგმნელი
Comment[kk]=Gxlat тілінің аудармашысы
Comment[km]=អ្នកបកប្រែភាសា Gxlat
Comment[kn]=Gxlat ಭಾಷಾ ಅನುವಾದಕ
Comment[ko]=Gxlat 언어 번역기
Comment[ku]=wergêrê zimanê Gxlat
Comment[ky]=Gxlat тил котормочу
Comment[la]=Gxlat interpres linguae
Comment[lb]=Gxlat Sprooch Iwwersetzer
Comment[lg]=Gxlat omuvvuunuzi wolulimi
Comment[ln]=Gxlat mobongoli ya monoko
Comment[lo]=ນັກແປພາສາ Gxlat
Comment[lt]=Gxlat kalbos vertėjas
Comment[lv]=Gxlat valodas tulkotājs
Comment[mg]=Mpandika teny gxlat
Comment[mi]=Kaiwhakamaori reo Gxlat
Comment[mk]=Gxlat јазичен преведувач
Comment[ml]=Gxlat ഭാഷാ വിവർത്തകൻ
Comment[mn]=Gxlat хэлний орчуулагч
Comment[mr]=Gxlat भाषा अनुवादक
Comment[ms]=Penterjemah bahasa Gxlat
Comment[mt]=Traduttur tal-lingwa Gxlat
Comment[my]=Gxlat ဘာသာစကားဘာသာပြန်ဆိုသူ
Comment[ne]=Gxlat भाषा अनुवादक
Comment[nl]=Gxlat-taalvertaler
Comment[no]=Gxlat språkoversetter
Comment[ny]=Womasulira chinenero cha Gxlat
Comment[om]=Gxlat afaan hiikaa
Comment[or]=Gxlat ଭାଷା ଅନୁବାଦକ |
Comment[pa]=Gxlat ਭਾਸ਼ਾ ਅਨੁਵਾਦਕ
Comment[pl]=Tłumacz języka Gxlat
Comment[ps]=ﯽﮑﻧﻭړﺎﺑﮊ ﯥﺑﮊ Gxlat ﺩ
Comment[pt]=Tradutor de idiomas Gxlat
Comment[qu]=Gxlat simi tikraq
Comment[ro]=Traducător de limbă Gxlat
Comment[rw]=Umusemuzi wa Gxlat
Comment[sa]=Gxlat भाषा अनुवादक
Comment[sd]=Gxlat ﻢﺟﺮﺘﻣ ﻲﻟﻮﭔ
Comment[si]=Gxlat භාෂා පරිවර්තකය
Comment[sk]=Prekladač jazyka Gxlat
Comment[sl]=Prevajalec jezika Gxlat
Comment[sm]=Faaliliu gagana Gxlat
Comment[sn]=Mushanduri wemutauro weGxlat
Comment[so]=Turjubaanka luqadda Gxlat
Comment[sq]=Përkthyes i gjuhës Gxlat
Comment[st]=Mofetoleli oa puo ea Gxlat
Comment[su]=Panarjamah basa Gxlat
Comment[sv]=Gxlat språköversättare
Comment[sw]=Mtafsiri wa lugha ya Gxlat
Comment[ta]=Gxlat மொழி மொழிபெயர்ப்பாளர்
Comment[te]=Gxlat భాషా అనువాదకుడు
Comment[tg]=Тарҷумони забони Gxlat
Comment[th]=ตัวแปลภาษา Gxlat
Comment[ti]=ግክስላት ቋንቋ ተርጓሚ
Comment[tk]=Gxlat diliniň terjimeçisi
Comment[tl]=Tagasalin ng wikang Gxlat
Comment[to]=Tokotaha liliu lea Gxlat
Comment[tr]=Gxlat dil çevirmeni
Comment[ts]=Gxlat muhundzuluxeri wa ririmi
Comment[tt]=Gxlat тел тәрҗемәчесе
Comment[tw]=Gxlat kasa asekyerɛfo
Comment[ty]=Te taata huri reo Gxlat
Comment[ug]=Gxlat ﻰﻧﺎﻤﯩﺟﺭەﺗ ﻞﯩﺗ
Comment[uk]=Перекладач мови Gxlat
Comment[ur]=Gxlat ﻢﺟﺮﺘﻣ ﺎﮐ ﻥﺎﺑﺯ
Comment[uz]=Gxlat tili tarjimon
Comment[vi]=Trình dịch ngôn ngữ Gxlat
Comment[xh]=Umguquleli wolwimi lwe-Gxlat
Comment[yi]=Gxlat רעצעזרעביא ךאַרפּש
Comment[yo]=Onitumọ ede Gxlat
Comment[zh]=Gxlat语言翻译器
Comment[zu]=Umhumushi wolimi lwe-Gxlat
Comment=Gxlat language translator
Categories=X-Document-utility
X-GNOME-Autostart-enabled=False
Encoding=UTF-8
GenericName=Gxlat
MimeType=
StartupNotify=false
NoDisplay=false
