[Desktop Entry]
Type=Application
Terminal=false
Exec=gxlat
Icon=/usr/share/pixmaps/gxlat.svg
Name[fr]=Traducteur : Gxlat
Name[de]=Gxlat Sprachübersetzer
Name[es]=Gxlat: traductor
Name[ru]=Gxlat переводчик языка
Name=Gxlat language translator
Comment[fr]=Traducteur : Gxlat
Comment[de]=Gxlat Sprachübersetzer
Comment[es]=Gxlat: traductor
Comment[ru]=Gxlat переводчик языка
Comment=Gxlat language translator
Categories=X-Document-utility
X-GNOME-Autostart-enabled=False
Encoding=UTF-8
GenericName=Gxlat
MimeType=
StartupNotify=false
NoDisplay=false
