[Desktop Entry]
Type=Application
Terminal=false
Exec=gxlat
Icon=/usr/share/pixmaps/gxlat.svg
Name[fr]=Traducteur : Gxlat
Name[de]=Gxlat Sprachübersetzer
Name=Gxlat language translator
Comment[de]=Gxlat Sprachübersetzer
Comment=Gxlat language translator
Categories=X-Document-utility
X-GNOME-Autostart-enabled=False
Encoding=UTF-8
GenericName=Gxlat
MimeType=
StartupNotify=false
NoDisplay=false
