[Desktop Entry]
Encoding=UTF-8
Name[fr]=Informations du matériel : HardInfo
Name[de]=HardInfo Hardware-Informationen
Name[es]=HardInfo: información del hardware
Name[ru]=Информация об оборудовании HardInfo
Name=HardInfo hardware information
Exec=hardinfo
Icon=hardinfo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System
GenericName=HardInfo
