[Desktop Entry]
Name[fr]=Client IRC HexChat
Name[de]=HexChat IRC-Client
Name[es]=HexChat: cliente IRC
Name[ru]=IRC-клиент HexChat
Name[af]=HexChat IRC kliënt
Name[am]=የሄክስቻት IRC ደንበኛ
Name[ar]=HexChat IRC ﻞﻴﻤﻋ
Name[as]=HexChat IRC ক্লায়েন্ট
Name[ay]=HexChat IRC ukax mä cliente ukhamawa
Name[az]=HexChat IRC müştərisi
Name[ba]=ХексЧат IRC клиенты
Name[be]=IRC-кліент HexChat
Name[bg]=HexChat IRC клиент
Name[bm]=HexChat IRC ka kiliyan
Name[bn]=HexChat IRC ক্লায়েন্ট
Name[bo]=རྒྱལ་ཁྲལ་དོ་དམ་ཨུ་ཡོན་ལྷན་ཁང་གི་མངགས་བཅོལ་བྱེད་མཁན
Name[bs]=HexChat IRC klijent
Name[ca]=Client IRC HexChat
Name[co]=Cliente IRC HexChat
Name[cs]=HexChat IRC klient
Name[cy]=Cleient IRC HexChat
Name[da]=HexChat IRC-klient
Name[dv]=ވެޓެންއިލަކް ސީރުއާއިއަ ޓްޗެސްކްހެ
Name[ee]=HexChat IRC ƒe asisi
Name[el]=Πελάτης HexChat IRC
Name[eo]=HexChat IRC-kliento
Name[et]=HexChat IRC klient
Name[eu]=HexChat IRC bezeroa
Name[fa]=HexChat IRC ﯼﺮﺘﺸﻣ
Name[fi]=HexChat IRC-asiakas
Name[fj]=HexChat IRC client
Name[fo]=HexChat IRC client
Name[fy]=HexChat IRC client
Name[ga]=Cliant HexChat IRC
Name[gd]=Neach-dèiligidh HexChat IRC
Name[gl]=Cliente IRC de HexChat
Name[gn]=HexChat IRC cliente rehegua
Name[gu]=HexChat IRC ક્લાયંટ
Name[ha]=Abokin ciniki na HexChat IRC
Name[he]=HexChat IRC חוקל
Name[hi]=हेक्सचैट आईआरसी क्लाइंट
Name[hr]=HexChat IRC klijent
Name[ht]=HexChat IRC kliyan
Name[hu]=HexChat IRC kliens
Name[hy]=HexChat IRC հաճախորդ
Name[id]=Klien HexChat IRC
Name[ig]=Onye ahịa HexChat IRC
Name[is]=HexChat IRC viðskiptavinur
Name[it]=Cliente HexChat IRC
Name[iu]=HexChat IRC−ᑯᓐᓂ ᐃᑲᔪᖅᑕᐅᔪᖅ
Name[ja]=HexChat IRC クライアント
Name[jv]=Klien HexChat IRC
Name[ka]=HexChat IRC კლიენტი
Name[kk]=HexChat IRC клиенті
Name[km]=ម៉ាស៊ីនភ្ញៀវ HexChat IRC
Name[kn]=HexChat IRC ಕ್ಲೈಂಟ್
Name[ko]=HexChat IRC 클라이언트
Name[ku]=muwekîlê HexChat IRC
Name[ky]=HexChat IRC кардары
Name[la]=HexChat IRC clientis
Name[lb]=HexChat IRC Client
Name[lg]=Kasitoma wa HexChat IRC
Name[ln]=Client ya IRC ya HexChat
Name[lo]=ລູກຄ້າ HexChat IRC
Name[lt]=HexChat IRC klientas
Name[lv]=HexChat IRC klients
Name[mg]=HexChat IRC mpanjifa
Name[mi]=HexChat IRC kiritaki
Name[mk]=HexChat IRC клиент
Name[ml]=HexChat IRC ക്ലയന്റ്
Name[mn]=HexChat IRC үйлчлүүлэгч
Name[mr]=HexChat IRC क्लायंट
Name[ms]=Pelanggan IRC HexChat
Name[mt]=Klijent IRC HexChat
Name[my]=HexChat IRC သုံးစွဲသူ
Name[ne]=HexChat IRC ग्राहक
Name[nl]=HexChat IRC-client
Name[no]=HexChat IRC-klient
Name[ny]=HexChat IRC kasitomala
Name[om]=Maamila IRC HexChat
Name[or]=HexChat IRC କ୍ଲାଏଣ୍ଟ |
Name[pa]=HexChat IRC ਕਲਾਇੰਟ
Name[pl]=Klient IRC HexChat
Name[ps]=ﻲﮑﻧﻭﺩﻭﺮﯿﭘ HexChat IRC ﺩ
Name[pt]=Cliente IRC HexChat
Name[qu]=HexChat IRC nisqamanta rantiq
Name[ro]=Client IRC HexChat
Name[rw]=HexChat umukiriya wa IRC
Name[sa]=HexChat IRC क्लायन्ट्
Name[sd]=HexChat IRC ٽﻨﺋﻼ﻿ڪ
Name[si]=HexChat IRC සේවාදායකයා
Name[sk]=HexChat IRC klient
Name[sl]=HexChat IRC odjemalec
Name[sm]=HexChat IRC client
Name[sn]=HexChat IRC mutengi
Name[so]=Macmiilka HexChat IRC
Name[sq]=Klient i HexChat IRC
Name[st]=HexChat IRC moreki
Name[su]=klien HexChat IRC
Name[sv]=HexChat IRC-klient
Name[sw]=HexChat IRC mteja
Name[ta]=HexChat IRC கிளையண்ட்
Name[te]=HexChat IRC క్లయింట్
Name[tg]=Мизоҷи HexChat IRC
Name[th]=ลูกค้า HexChat IRC
Name[ti]=ሄክስቻት IRC ዓሚል
Name[tk]=HexChat IRC müşderisi
Name[tl]=Kliyente ng HexChat IRC
Name[to]=HexChat IRC client
Name[tr]=HexChat IRC istemcisi
Name[ts]=Xitirhisiwa xa HexChat IRC
Name[tt]=HexChat IRC клиенты
Name[tw]=HexChat IRC afɛfoɔ
Name[ty]=HexChat IRC client
Name[ug]=HexChat IRC ﻯﺭﺍﺪﯨﺮﯧﺧ
Name[uk]=IRC-клієнт HexChat
Name[ur]=HexChat IRC ﭧﻨﺋﻼ﻿ﮐ
Name[uz]=HexChat IRC mijozi
Name[vi]=Máy khách HexChat IRC
Name[xh]=Umxhasi we-IRC we-HexChat
Name[yi]=טנעילק קרי טאַשטסקעה
Name[yo]=HexChat IRC onibara
Name[zh]=HexChat IRC 客户端
Name[zu]=Iklayenti le-HexChat IRC
Name=HexChat IRC client
GenericName=HexChat
Comment[fr]=Client IRC HexChat
Comment[de]=HexChat IRC-Client
Comment[es]=HexChat: cliente IRC
Comment[ru]=IRC-клиент HexChat
Comment[af]=IRC kliënt
Comment[am]=የአይአርሲ ደንበኛ
Comment[ar]=IRC ﻞﻴﻤﻋ
Comment[as]=আই আৰ চি ক্লায়েণ্ট
Comment[ay]=IRC ukax mä cliente ukhamawa
Comment[az]=IRC müştəri
Comment[ba]=IRC клиенты
Comment[be]=IRC кліент
Comment[bg]=IRC клиент
Comment[bm]=IRC ka kiliyan
Comment[bn]=আইআরসি ক্লায়েন্ট
Comment[bo]=རྒྱལ་ཁྲལ་ལས་དོན་ཨུ་ཡོན་ལྷན
Comment[bs]=IRC klijent
Comment[ca]=Client IRC
Comment[co]=Client IRC
Comment[cs]=IRC klient
Comment[cy]=cleient IRC
Comment[da]=IRC klient
Comment[dv]=ވެޓެންއިލަކް ގެސީރުއާއިއަ
Comment[ee]=IRC ƒe asisi
Comment[el]=πελάτης IRC
Comment[eo]=IRC-kliento
Comment[et]=IRC klient
Comment[eu]=IRC bezeroa
Comment[fa]=IRC ﯼﺮﺘﺸﻣ
Comment[fi]=IRC asiakas
Comment[fj]=Dauveiqaravi ni IRC
Comment[fo]=IRC client
Comment[fy]=IRC kliïnt
Comment[ga]=Cliant IRC
Comment[gd]=Neach-dèiligidh IRC
Comment[gl]=Cliente IRC
Comment[gn]=Cliente IRC rehegua
Comment[gu]=IRC ક્લાયંટ
Comment[ha]=IRC abokin ciniki
Comment[he]=IRC חוקל
Comment[hi]=आईआरसी ग्राहक
Comment[hr]=IRC klijent
Comment[ht]=Kliyan IRC
Comment[hu]=IRC kliens
Comment[hy]=IRC հաճախորդ
Comment[id]=klien IRC
Comment[ig]=Onye ahịa IRC
Comment[is]=IRC viðskiptavinur
Comment[it]=cliente IRC
Comment[iu]=IRC−ᒧᑦ ᐱᓕᕆᕝᕕᒋᔭᐅᕙᒃᑐᖅ
Comment[ja]=IRCクライアント
Comment[jv]=klien IRC
Comment[ka]=IRC კლიენტი
Comment[kk]=IRC клиенті
Comment[km]=ម៉ាស៊ីនភ្ញៀវ IRC
Comment[kn]=IRC ಕ್ಲೈಂಟ್
Comment[ko]=IRC 클라이언트
Comment[ku]=muwekîlê IRC
Comment[ky]=IRC кардары
Comment[la]=IRC clientis
Comment[lb]=IRC Client
Comment[lg]=Kasitoma wa IRC
Comment[ln]=Client ya IRC
Comment[lo]=ລູກຄ້າ IRC
Comment[lt]=IRC klientas
Comment[lv]=IRC klients
Comment[mg]=mpanjifa IRC
Comment[mi]=Kiritaki IRC
Comment[mk]=IRC клиент
Comment[ml]=IRC ക്ലയന്റ്
Comment[mn]=IRC үйлчлүүлэгч
Comment[mr]=IRC क्लायंट
Comment[ms]=Pelanggan IRC
Comment[mt]=Klijent IRC
Comment[my]=IRC ဖောက်သည်
Comment[ne]=IRC ग्राहक
Comment[nl]=IRC-client
Comment[no]=IRC-klient
Comment[ny]=IRC kasitomala
Comment[om]=Maamila IRC
Comment[or]=IRC କ୍ଲାଏଣ୍ଟ |
Comment[pa]=IRC ਕਲਾਇੰਟ
Comment[pl]=klient IRCa
Comment[ps]=ﻲﮑﻧﻭﺩﻭﺮﯿﭘ IRC ﺩ
Comment[pt]=Cliente IRC
Comment[qu]=IRC nisqapa clienten
Comment[ro]=Client IRC
Comment[rw]=Umukiriya wa IRC
Comment[sa]=IRC ग्राहक
Comment[sd]=IRC ٽﻨﺋﻼ﻿ڪ
Comment[si]=IRC සේවාදායකයා
Comment[sk]=IRC klient
Comment[sl]=odjemalec IRC
Comment[sm]=IRC client
Comment[sn]=IRC mutengi
Comment[so]=Macmiilka IRC
Comment[sq]=klient IRC
Comment[st]=Moreki oa IRC
Comment[su]=klien IRC
Comment[sv]=IRC-klient
Comment[sw]=Mteja wa IRC
Comment[ta]=ஐஆர்சி கிளையன்ட்
Comment[te]=IRC క్లయింట్
Comment[tg]=Мизоҷи IRC
Comment[th]=ลูกค้าไออาร์ซี
Comment[ti]=ዓሚል IRC
Comment[tk]=IRC müşderisi
Comment[tl]=Kliyente ng IRC
Comment[to]=IRC client
Comment[tr]=IRC istemcisi
Comment[ts]=Xitirhisiwa xa IRC
Comment[tt]=IRC клиенты
Comment[tw]=IRC afɛfoɔ
Comment[ty]=IRC client
Comment[ug]=IRC ﻯﺭﺍﺪﯨﺮﯧﺧ
Comment[uk]=Клієнт IRC
Comment[ur]=IRC ﭧﻨﺋﻼ﻿ﮐ
Comment[uz]=IRC mijozi
Comment[vi]=khách hàng IRC
Comment[xh]=Umxhasi we-IRC
Comment[yi]=IRC טנעילק
Comment[yo]=IRC onibara
Comment[zh]=IRC客户端
Comment[zu]=Iklayenti le-IRC
Comment=IRC client
Keywords=IM;Chat;
Exec=hexchat
Icon=hexchat.png
Terminal=false
Type=Application
Categories=X-Internet-chat
StartupNotify=true
StartupWMClass=Hexchat
X-GNOME-UsesNotifications=true
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;

