[Desktop Entry]
Encoding=UTF-8
Name[fr]=Recherche des icônes du système
Name[de]=Icon Finder
Name[es]=Buscador de íconos
Name[ru]=Поиск иконок
Name[tr]=Simge Bulucu
Name=Icon Finder
Icon=/usr/share/icons/hicolor/48x48/apps/iconfinder.png
Comment[fr]=Rechercher des icônes dans votre système
Comment[de]=Suchen von Symbolen in Ihrem System
Comment[es]=Buscar iconos en el sistema
Comment[ru]=Найдите значки в вашей системе
Comment[tr]=Sisteminizdeki simgeleri bulur
Comment=Find icons in your system
Exec=iconfinder
Terminal=false
Type=Application
Categories=X-Personal
