[Desktop Entry]
Encoding=UTF-8
Name[de]=JWMdesk Theme-Manager
Name=JWMdesk Theme Manager
Name[fr]=Gestionnaire de thème : JWMDESK
Icon=/usr/local/jwmdesk/icons/jwm_themes.svg
Comment[de]=Ändern der Farben des JWM-Desktops
Comment=Change colors of JWM desktop
Comment[fr]=Changer les couleurs du bureau de JWM
Exec=/usr/local/jwmdesk/jcc
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=JWM theme manager
