[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion du bureau : JWMdesk
Name[de]=JWMdesk
Name=JWMDesk Manager
Icon=/usr/local/jwmdesk/icons/jwmdesk64.png
Comment[de]=Verwalten des JWM-Desktops
Comment=JWM desk manager
Exec=jwmdesk
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=JWM desk manager
