[Desktop Entry]
Encoding=UTF-8
Name[de]=JWM Theme Maker
Name[fr]=Créateur de thèmes pour JWM : JWM Theme Maker
Name[ru]=Создатель темы JWM
Name=JWM Theme Maker
Icon=mini.window3d.xpm
Comment[de]=JWM Theme Maker
Comment[fr]=Créateur de thèmes pour JWM
Comment[ru]=Создатель темы JWM
Comment=JWM Theme Maker
Exec=jwmthememaker
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=JWM Theme Maker
