[Desktop Entry]
Encoding=UTF-8
Name[fr]=Editeur de textes : Leafpad
Name[de]=Leafpad-Texteditor
Name[es]=Leafpad: editor de texto
Name[ru]=Текстовый редактор Leafpad
Name[tr]=Leafpad metin editörü
Name=Leafpad text editor
Icon=leafpad.png
Comment[fr]=Editeur de textes : Leafpad
Comment[de]=Leafpad-Texteditor
Comment[es]=Editor de texto Leafpad
Comment[ru]=Текстовый редактор Leafpad
Comment[tr]=Leafpad metin editörü
Comment=Leafpad text editor
Exec=leafpad
Terminal=false
Type=Application
Categories=TextEditor
GenericName=Leafpad
