[Desktop Entry]
Encoding=UTF-8
Name[fr]=Editeur de textes : Leafpad
Name[de]=Leafpad-Texteditor
Name=Leafpad text editor
Icon=leafpad.png
Comment[de]=Leafpad-Texteditor
Comment=Leafpad text editor
Exec=leafpad
Terminal=false
Type=Application
Categories=TextEditor
GenericName=Leafpad
