[Desktop Entry]
Encoding=UTF-8
Name[fr]=Jeu de puzzle : LMarbles
Name=LMarbles puzzle game
Comment=Atomix-like enhanced puzzle game.
Exec=lmarbles
Icon=/usr/share/icons/lmarbles48.png
Type=Application
Categories=X-Fun-puzzle
Terminal=false
GenericName=LMarbles
