[Desktop Entry]
Encoding=UTF-8
Name[fr]=Jeu de puzzle : LMarbles
Name[de]=LMarbles Puzzlespiel
Name[es]=LMarbles: juego de rompecabezas
Name[ru]=Игра-головоломка LMarbles
Name=LMarbles puzzle game
Comment[fr]=Jeu de puzzle : LMarbles
Comment[de]=Atomix-ähnliches verbessertes Puzzlespiel.
Comment[es]=Juego de rompecabezas mejorado tipo Atomix.
Comment[ru]=Игра-головоломка LMarbles
Comment=Atomix-like enhanced puzzle game.
Exec=lmarbles
Icon=/usr/share/icons/lmarbles48.png
Type=Application
Categories=X-Fun-puzzle
Terminal=false
GenericName=LMarbles
