[Desktop Entry]
Encoding=UTF-8
Name[fr]=Créer un GIF animé : MAAG
Name[de]=MAAG erstellt ein animiertes GIF
Name=MAAG make an animated GIF
Icon=gcolorsel.png
Comment[de]=Erstellen eines animierten GIF
Comment=Make an Animated GIF
Exec=maag
Terminal=false
Type=Application
Categories=X-Graphic-utility
GenericName=MAAG
