[Desktop Entry]
Encoding=UTF-8
Name[fr]=Créer un GIF animé : MAAG
Name[de]=MAAG erstellt ein animiertes GIF
Name[es]=MAAG: crear GIF animados
Name[ru]=MAAG сделать анимированный GIF
Name=MAAG make an animated GIF
Icon=gcolorsel.png
Comment[fr]=Créer un GIF animé : MAAG
Comment[de]=Erstellen eines animierten GIF
Comment[es]=MAAG: crear GIF animados
Comment[ru]=MAAG сделать анимированный GIF
Comment=Make an Animated GIF
Exec=maag
Terminal=false
Type=Application
Categories=X-Graphic-utility
GenericName=MAAG
