[Desktop Entry]
Encoding=UTF-8
Name[de]=Midnight Commander Dateimanager
Name[fr]=Gestion des fichiers : Midnight Commander
Name[es]=Administrador de archivos Midnight Commander
Name=Midnight Commander file manager
Icon=mini-filemgr.xpm
Comment[de]=Midnight Commander Dateimanager
Comment[fr]=Gestionnaire fichiers Midnight Commander
Comment[es]=Administrador de archivos Midnight Commander
Comment=Midnight Commander file manager
Exec=sakura -c 110 -r 30 -e mc /files /files
Terminal=false
Type=Application
Categories=X-Filesystem-filemanager
GenericName=Midnight-Commander
