[Desktop Entry]
Encoding=UTF-8
Name[de]=Midnight Commander Dateimanager
Name[fr]=Gestion des fichiers : Midnight Commander
Name[es]=Administrador de archivos Midnight Commander
Name[af]=Midnight Commander-lêerbestuurder
Name[am]=የእኩለ ሌሊት አዛዥ ፋይል አቀናባሪ
Name[ar]=ﻞﻴﻠﻟﺍ ﻒﺼﺘﻨﻣ ﺪﺋﺎﻗ ﺕﺎﻔﻠﻣ ﺮﻳﺪﻣ
Name[as]=Midnight Commander ফাইল ব্যৱস্থাপক
Name[ay]=Chika aruma Comandante qillqata apnaqiri
Name[az]=Midnight Commander fayl meneceri
Name[ba]=«Төн уртаһы командующийы» картотекаһы идарасыһы
Name[be]=Файлавы менеджэр Midnight Commander
Name[bg]=Файлов мениджър на Midnight Commander
Name[bm]=Midnight Commander ka dosiye ɲɛnabɔbaga
Name[bn]=মিডনাইট কমান্ডার ফাইল ম্যানেজার
Name[bo]=མཚན་གུང་གི་བཀོད་འདོམས་ཡིག་ཚགས་
Name[bs]=Upravljač datotekama Midnight Commander
Name[ca]=Gestor de fitxers Midnight Commander
Name[co]=Manager di file Midnight Commander
Name[cs]=Správce souborů Midnight Commander
Name[cy]=Rheolwr ffeiliau Midnight Commander
Name[da]=Midnight Commander filhåndtering
Name[dv]=ރޖަނޭމެ ލްއިފަ ރޑަންމާކޮ ޓްއިނަޑްމި
Name[ee]=Midnight Commander ƒe faɛl dzikpɔla
Name[el]=Διαχείριση αρχείων Midnight Commander
Name[eo]=Midnight Commander dosiermanaĝero
Name[et]=Midnight Commanderi failihaldur
Name[eu]=Midnight Commander fitxategi kudeatzailea
Name[fa]=Midnight Commander ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Name[fi]=Midnight Commander -tiedostonhallinta
Name[fj]=Manidia ni faile ni Komada ni Bogilevu
Name[fo]=Midnátt Commander file manager
Name[fy]=Midnight Commander triembehearder
Name[ga]=Bainisteoir comhad ceannasaí meán oíche
Name[gd]=Manaidsear faidhle midnight Commander
Name[gl]=Xestor de ficheiros Midnight Commander
Name[gn]=Pyharepyte Comandante rembiapokue mohendaha
Name[gu]=મિડનાઇટ કમાન્ડર ફાઇલ મેનેજર
Name[ha]=Manajan fayil kwamandan Tsakar dare
Name[he]=תוצח דקפמ לש םיצבק להנמ
Name[hi]=मिडनाइट कमांडर फ़ाइल प्रबंधक
Name[hr]=Upravitelj datoteka Midnight Commander
Name[ht]=Manadjè dosye Midnight Commander
Name[hu]=Midnight Commander fájlkezelő
Name[hy]=Midnight Commander ֆայլերի կառավարիչ
Name[id]=Manajer file Komandan Tengah Malam
Name[ig]=Onye njikwa faili Midnight Commander
Name[is]=Midnight Commander skráarstjóri
Name[it]=Gestore di file di Midnight Commander
Name[iu]=12:00-ᒧᐊᖅᐸᑦ ᐅᓐᓄᐊᒃᑯᑦ ᐊᖓᔪᖅᑳᕆᔭᖅ ᑐᖅᑯᖅᓯᒪᔪᓄᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=ミッドナイトコマンダーファイルマネージャー
Name[jv]=Pangatur file Midnight Commander
Name[ka]=Midnight Commander ფაილის მენეჯერი
Name[kk]=Midnight Commander файл менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងឯកសារ Midnight Commander
Name[kn]=ಮಿಡ್ನೈಟ್ ಕಮಾಂಡರ್ ಫೈಲ್ ಮ್ಯಾನೇಜರ್
Name[ko]=Midnight Commander 파일 관리자
Name[ku]=Midnight Fermandarê pelan
Name[ky]=Midnight Commander файл менеджери
Name[la]=Mediae praefectus file procurator
Name[lb]=Mëtternuecht Commander Datei Manager
Name[lg]=Omuddukanya fayiro ya Midnight Commander
Name[ln]=Mokambi ya ba fichiers Commander ya Midnight
Name[lo]=ຜູ້ຈັດການໄຟລ໌ Midnight Commander
Name[lt]=Midnight Commander failų tvarkyklė
Name[lv]=Midnight Commander failu pārvaldnieks
Name[mg]=Mpitantana rakitra Midnight Commander
Name[mi]=Kaiwhakahaere kōnae o Midnight Commander
Name[mk]=Управувач со датотеки Midnight Commander
Name[ml]=മിഡ്നൈറ്റ് കമാൻഡർ ഫയൽ മാനേജർ
Name[mn]=Midnight Commander файлын менежер
Name[mr]=मिडनाइट कमांडर फाइल व्यवस्थापक
Name[ms]=Pengurus fail Midnight Commander
Name[mt]=Maniġer tal-fajls Midnight Commander
Name[my]=Midnight Commander ဖိုင်မန်နေဂျာ
Name[ne]=मिडनाइट कमाण्डर फाइल प्रबन्धक
Name[nl]=Midnight Commander-bestandsbeheerder
Name[no]=Midnight Commander filbehandler
Name[ny]=Woyanganira fayilo wa Midnight Commander
Name[om]=Hogganaa faayilii Ajajaa Halkan Walakkaa
Name[or]=ମିଡନାଇଟ୍ କମାଣ୍ଡର ଫାଇଲ୍ ମ୍ୟାନେଜର୍ |
Name[pa]=ਮਿਡਨਾਈਟ ਕਮਾਂਡਰ ਫਾਈਲ ਮੈਨੇਜਰ
Name[pl]=Menadżer plików Midnight Commandera
Name[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ﺭډﻧﺎﻤﮐ ﯥﭙﺷ ﯥﻤﯿﻧ ﺩ
Name[pt]=Gerenciador de arquivos Midnight Commander
Name[qu]=Chawpi tuta Kamachiq willañiqi kamachiq
Name[ro]=Manager de fișiere Midnight Commander
Name[ru]=Файловый менеджер Midnight Commander
Name[rw]=Umuyobozi wa dosiye ya saa sita zijoro
Name[sa]=Midnight Commander सञ्चिकाप्रबन्धकः
Name[sd]=ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ ﺭڊﻧﺎﻤڪ ﻮﺟ ﺕﺍﺭ ﮄﺍ
Name[si]=Midnight Commander ගොනු කළමනාකරු
Name[sk]=Správca súborov Midnight Commander
Name[sl]=Upravitelj datotek Midnight Commander
Name[sm]=Pule o faila o le Midnight Commander
Name[sn]=Pakati pehusiku Commander faira maneja
Name[so]=Maamulaha faylka Taliyaha Saqda dhexe
Name[sq]=Menaxheri i skedarëve Midnight Commander
Name[st]=Motsamaisi oa faele oa Midnight Commander
Name[su]=Pangatur file Panglima Tengah wengi
Name[sv]=Midnight Commander filhanterare
Name[sw]=Meneja wa faili wa Kamanda wa Usiku wa manane
Name[ta]=மிட்நைட் கமாண்டர் கோப்பு மேலாளர்
Name[te]=మిడ్నైట్ కమాండర్ ఫైల్ మేనేజర్
Name[tg]=Менеҷери файли Midnight Commander
Name[th]=ตัวจัดการไฟล์ Midnight Commander
Name[ti]=ፍርቂ ለይቲ ኣዛዚ ፋይል ማናጀር
Name[tk]=“Midnight Commander” faýl dolandyryjysy
Name[tl]=Tagapamahala ng file ng Midnight Commander
Name[to]=Pule ʻo e faile ʻa e ʻEikitau tuʻuapoo
Name[tr]=Midnight Commander dosya yöneticisi
Name[ts]=Mufambisi wa fayili ya Midnight Commander
Name[tt]=Төн уртасы командиры файл менеджеры
Name[tw]=Midnight Commander fael sohwɛfo
Name[ty]=Tia faatere no te putuite
Name[ug]=ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺠﺟﯚﮬ ﻥﺍﺪﻧﺎﻣﻮﻗ ەﺪﯩﭽﯧﻛ ﻢﯨﺮﯧﻳ
Name[uk]=Файловий менеджер Midnight Commander
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ ﺭﮉﻧﺎﻤﮐ ﺎﮐ ﺕﺍﺭ ﯽﮬﺩﺁ
Name[uz]=Midnight Commander fayl menejeri
Name[vi]=Trình quản lý tập tin Midnight Commander
Name[xh]=Umphathi wefayile ezinzulwini zobusuku
Name[yi]=רעטלאַווראַפ עקעט רעדנאַמאַק טיינדימ
Name[yo]=Ọganjọ Alakoso faili faili
Name[zh]=午夜指挥官文件管理器
Name[zu]=Umphathi wefayela le-Midnight Commander
Name=Midnight Commander file manager
Icon=mini-filemgr.xpm
Comment[de]=Midnight Commander Dateimanager
Comment[fr]=Gestionnaire fichiers Midnight Commander
Comment[es]=Administrador de archivos Midnight Commander
Comment[af]=Midnight Commander-lêerbestuurder
Comment[am]=የእኩለ ሌሊት አዛዥ ፋይል አቀናባሪ
Comment[ar]=ﻞﻴﻠﻟﺍ ﻒﺼﺘﻨﻣ ﺪﺋﺎﻗ ﺕﺎﻔﻠﻣ ﺮﻳﺪﻣ
Comment[as]=Midnight Commander ফাইল ব্যৱস্থাপক
Comment[ay]=Chika aruma Comandante qillqata apnaqiri
Comment[az]=Midnight Commander fayl meneceri
Comment[ba]=«Төн уртаһы командующийы» картотекаһы идарасыһы
Comment[be]=Файлавы менеджэр Midnight Commander
Comment[bg]=Файлов мениджър на Midnight Commander
Comment[bm]=Midnight Commander ka dosiye ɲɛnabɔbaga
Comment[bn]=মিডনাইট কমান্ডার ফাইল ম্যানেজার
Comment[bo]=མཚན་གུང་གི་བཀོད་འདོམས་ཡིག་ཚགས་
Comment[bs]=Upravljač datotekama Midnight Commander
Comment[ca]=Gestor de fitxers Midnight Commander
Comment[co]=Manager di file Midnight Commander
Comment[cs]=Správce souborů Midnight Commander
Comment[cy]=Rheolwr ffeiliau Midnight Commander
Comment[da]=Midnight Commander filhåndtering
Comment[dv]=ރޖަނޭމެ ލްއިފަ ރޑަންމާކޮ ޓްއިނަޑްމި
Comment[ee]=Midnight Commander ƒe faɛl dzikpɔla
Comment[el]=Διαχείριση αρχείων Midnight Commander
Comment[eo]=Midnight Commander dosiermanaĝero
Comment[et]=Midnight Commanderi failihaldur
Comment[eu]=Midnight Commander fitxategi-kudeatzailea
Comment[fa]=Midnight Commander ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Comment[fi]=Midnight Commander -tiedostonhallinta
Comment[fj]=Manidia ni faile ni Komada ni Bogilevu
Comment[fo]=Midnátt Commander file manager
Comment[fy]=Midnight Commander triembehearder
Comment[ga]=Bainisteoir comhad ceannasaí meán oíche
Comment[gd]=Manaidsear faidhle midnight Commander
Comment[gl]=Xestor de ficheiros Midnight Commander
Comment[gn]=Pyharepyte Comandante rembiapokue mohendaha
Comment[gu]=મિડનાઇટ કમાન્ડર ફાઇલ મેનેજર
Comment[ha]=Manajan fayil kwamandan Tsakar dare
Comment[he]=תוצח דקפמ לש םיצבק להנמ
Comment[hi]=मिडनाइट कमांडर फ़ाइल प्रबंधक
Comment[hr]=Upravitelj datoteka Midnight Commander
Comment[ht]=Manadjè dosye Midnight Commander
Comment[hu]=Midnight Commander fájlkezelő
Comment[hy]=Midnight Commander ֆայլերի կառավարիչ
Comment[id]=Manajer file Komandan Tengah Malam
Comment[ig]=Onye njikwa faili Midnight Commander
Comment[is]=Midnight Commander skráarstjóri
Comment[it]=Gestore di file di Midnight Commander
Comment[iu]=12:00-ᒧᐊᖅᐸᑦ ᐅᓐᓄᐊᒃᑯᑦ ᐊᖓᔪᖅᑳᕆᔭᖅ ᑐᖅᑯᖅᓯᒪᔪᓄᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=ミッドナイトコマンダーファイルマネージャー
Comment[jv]=Pangatur file Midnight Commander
Comment[ka]=Midnight Commander ფაილის მენეჯერი
Comment[kk]=Midnight Commander файл менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងឯកសារ Midnight Commander
Comment[kn]=ಮಿಡ್ನೈಟ್ ಕಮಾಂಡರ್ ಫೈಲ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=Midnight Commander 파일 관리자
Comment[ku]=Midnight Fermandarê pelan
Comment[ky]=Midnight Commander файл менеджери
Comment[la]=Mediae praefectus file procurator
Comment[lb]=Mëtternuecht Commander Datei Manager
Comment[lg]=Omuddukanya fayiro ya Midnight Commander
Comment[ln]=Mokambi ya ba fichiers Commander ya Midnight
Comment[lo]=ຜູ້ຈັດການໄຟລ໌ Midnight Commander
Comment[lt]=Midnight Commander failų tvarkyklė
Comment[lv]=Midnight Commander failu pārvaldnieks
Comment[mg]=Mpitantana rakitra Midnight Commander
Comment[mi]=Kaiwhakahaere kōnae o Midnight Commander
Comment[mk]=Управувач со датотеки Midnight Commander
Comment[ml]=മിഡ്നൈറ്റ് കമാൻഡർ ഫയൽ മാനേജർ
Comment[mn]=Midnight Commander файлын менежер
Comment[mr]=मिडनाइट कमांडर फाइल व्यवस्थापक
Comment[ms]=Pengurus fail Midnight Commander
Comment[mt]=Maniġer tal-fajls Midnight Commander
Comment[my]=Midnight Commander ဖိုင်မန်နေဂျာ
Comment[ne]=मिडनाइट कमाण्डर फाइल प्रबन्धक
Comment[nl]=Midnight Commander-bestandsbeheerder
Comment[no]=Midnight Commander filbehandler
Comment[ny]=Woyanganira fayilo wa Midnight Commander
Comment[om]=Hogganaa faayilii Ajajaa Halkan Walakkaa
Comment[or]=ମିଡନାଇଟ୍ କମାଣ୍ଡର ଫାଇଲ୍ ମ୍ୟାନେଜର୍ |
Comment[pa]=ਮਿਡਨਾਈਟ ਕਮਾਂਡਰ ਫਾਈਲ ਮੈਨੇਜਰ
Comment[pl]=Menadżer plików Midnight Commandera
Comment[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ﺭډﻧﺎﻤﮐ ﯥﭙﺷ ﯥﻤﯿﻧ ﺩ
Comment[pt]=Gerenciador de arquivos Midnight Commander
Comment[qu]=Chawpi tuta Kamachiq willañiqi kamachiq
Comment[ro]=Manager de fișiere Midnight Commander
Comment[ru]=Файловый менеджер Midnight Commander
Comment[rw]=Umuyobozi wa dosiye ya saa sita zijoro
Comment[sa]=Midnight Commander सञ्चिकाप्रबन्धकः
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ ﺭڊﻧﺎﻤڪ ﻮﺟ ﺕﺍﺭ ﮄﺍ
Comment[si]=Midnight Commander ගොනු කළමනාකරු
Comment[sk]=Správca súborov Midnight Commander
Comment[sl]=Upravitelj datotek Midnight Commander
Comment[sm]=Pule o faila o le Midnight Commander
Comment[sn]=Pakati pehusiku Commander faira maneja
Comment[so]=Maamulaha faylka Taliyaha Saqda dhexe
Comment[sq]=Menaxheri i skedarëve Midnight Commander
Comment[st]=Motsamaisi oa faele oa Midnight Commander
Comment[su]=Pangatur file Panglima Tengah wengi
Comment[sv]=Midnight Commander filhanterare
Comment[sw]=Meneja wa faili wa Kamanda wa Usiku wa manane
Comment[ta]=மிட்நைட் கமாண்டர் கோப்பு மேலாளர்
Comment[te]=మిడ్నైట్ కమాండర్ ఫైల్ మేనేజర్
Comment[tg]=Менеҷери файли Midnight Commander
Comment[th]=ตัวจัดการไฟล์ Midnight Commander
Comment[ti]=ፍርቂ ለይቲ ኣዛዚ ፋይል ማናጀር
Comment[tk]=“Midnight Commander” faýl dolandyryjysy
Comment[tl]=Tagapamahala ng file ng Midnight Commander
Comment[to]=Pule ʻo e faile ʻa e ʻEikitau tuʻuapoo
Comment[tr]=Midnight Commander dosya yöneticisi
Comment[ts]=Mufambisi wa fayili ya Midnight Commander
Comment[tt]=Төн уртасы командиры файл менеджеры
Comment[tw]=Midnight Commander fael sohwɛfo
Comment[ty]=Tia faatere no te putuite
Comment[ug]=ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺠﺟﯚﮬ ﻥﺍﺪﻧﺎﻣﻮﻗ ەﺪﯩﭽﯧﻛ ﻢﯨﺮﯧﻳ
Comment[uk]=Файловий менеджер Midnight Commander
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ ﺭﮉﻧﺎﻤﮐ ﺎﮐ ﺕﺍﺭ ﯽﮬﺩﺁ
Comment[uz]=Midnight Commander fayl menejeri
Comment[vi]=Trình quản lý tập tin Midnight Commander
Comment[xh]=Umphathi wefayile ezinzulwini zobusuku
Comment[yi]=רעטלאַווראַפ עקעט רעדנאַמאַק טיינדימ
Comment[yo]=Ọganjọ Alakoso faili faili
Comment[zh]=午夜指挥官文件管理器
Comment[zu]=Umphathi wefayela le-Midnight Commander
Comment=Midnight Commander file manager
Exec=sakura -c 110 -r 30 -e mc /files /files
Terminal=false
Type=Application
Categories=X-Filesystem-filemanager
GenericName=Midnight-Commander
