[Desktop Entry]
Encoding=UTF-8
Name[fr]=Enregistreur/éditeur audio : mhWaveEdit
Name[de]=mhWaveEdit Audiorecorder/Editor
Name[af]=mhWaveEdit klankopnemer/redigeerder
Name[am]=mhWaveEdit የድምጽ መቅጃ/አርታዒ
Name[ar]=mhWaveEdit ﺕﻮﺼﻟﺍ ﺭﺮﺤﻣ / ﻞﺠﺴﻣ
Name[as]=mhWaveEdit অডিঅ ৰেকৰ্ডাৰ/সম্পাদক
Name[ay]=mhWaveEdit ukax audio grabadora/editor ukawa
Name[az]=mhWaveEdit audio yazıcı/redaktoru
Name[ba]=mhWaveEdit аудиомагнитофон/мөхәррир
Name[be]=Праграма для запісу/рэдактара аўдыё mhWaveEdit
Name[bg]=mhWaveEdit аудио рекордер/редактор
Name[bm]=mhWaveEdit lamɛnnikɛlan/labɛnbaga
Name[bn]=mhWaveEdit অডিও রেকর্ডার/সম্পাদক
Name[bo]=mhWaveEdit སྒྲ་ཕབ་འཕྲུལ་ཆས་དང་རྩོམ་སྒྲིག་པ།
Name[bs]=mhWaveEdit audio snimač/uređivač
Name[ca]=gravador/editor dàudio mhWaveEdit
Name[co]=mhWaveEdit registratore / editore audio
Name[cs]=mhWaveEdit audio rekordér/editor
Name[cy]=mWaveEdit recordydd sain/golygydd
Name[da]=mhWaveEdit lydoptager/editor
Name[dv]=mhWaveEdit ރޓަޑިއެ/ރޑަކޯރެ އޯޑިއޯ
Name[ee]=mhWaveEdit odio-mɔ̃/nuŋlɔla
Name[el]=mhWaveEdit συσκευή εγγραφής/επεξεργαστή ήχου
Name[eo]=mhWaveEdit sonregistrilo/redaktilo
Name[es]=mhWaveEdit grabador/editor de audio
Name[et]=mhWaveEdit helisalvesti/redaktor
Name[eu]=mhWaveEdit audio grabagailua/editorea
Name[fa]=mhWaveEdit ﯽﺗﻮﺻ ﺮﮕﺸﯾﺍﺮﯾﻭ/ﻂﺒﺿ
Name[fi]=mhWaveEdit-äänitallennin/editori
Name[fj]=mhWaveEdit vakarorogo vunivola/Edita
Name[fo]=mhWaveEdit audio recorder/editor
Name[fy]=mhWaveEdit audiorecorder / bewurker
Name[ga]=taifeadán/eagarthóir fuaime mhWaveEdit
Name[gd]=Neach-clàraidh / neach-deasachaidh claisneachd mhWaveEdit
Name[gl]=gravador/editor de audio mhWaveEdit
Name[gn]=mhWaveEdit audio grabadora/editor rehegua
Name[gu]=mhWaveEdit ઓડિયો રેકોર્ડર/એડિટર
Name[ha]=mhWaveEdit mai rikodin sauti / edita
Name[he]=mhWaveEdit עמש ךרוע/טילקמ
Name[hi]=mhWaveEdit ऑडियो रिकॉर्डर/संपादक
Name[hr]=mhWaveEdit audio snimač/uređivač
Name[ht]=mhWaveEdit achiv/editè odyo
Name[hu]=mhWaveEdit hangrögzítő/szerkesztő
Name[hy]=mhWaveEdit աուդիո ձայնագրիչ/խմբագիր
Name[id]=mhWaveEdit perekam/editor audio
Name[ig]=mhWaveEdit ihe ndekọ ọnụnụ/onye nchịkọta akụkọ
Name[is]=mhWaveEdit hljóðupptökutæki/ritstjóri
Name[it]=mhWaveEdit registratore/editor audio
Name[iu]=mhWaveᐃᒪᐃᑦ ᓂᐱᓕᐅᕆᔨ/ᑎᑎᕋᖅᑎ
Name[ja]=mhWaveEdit オーディオレコーダー/エディター
Name[jv]=mhWaveEdit audio recorder/editor
Name[ka]=mhWaveEdit აუდიო ჩამწერი/რედაქტორი
Name[kk]=mhWaveEdit аудио жазғыш/редакторы
Name[km]=mhWaveEdit ឧបករណ៍ថតសំឡេង / កម្មវិធីនិពន្ធ
Name[kn]=mhWaveEdit ಆಡಿಯೋ ರೆಕಾರ್ಡರ್/ಸಂಪಾದಕ
Name[ko]=mhWaveEdit 오디오 레코더/편집기
Name[ku]=Tomar / edîtorê dengî mhWaveEdit
Name[ky]=mhWaveEdit аудио жазгыч/редактору
Name[la]=mhWaveEdit audio commentariis/editor
Name[lb]=mhWaveEdit Audio Recorder / Editor
Name[lg]=mhWaveEdit ekyuma ekikwata amaloboozi/omulongoosa
Name[ln]=mhWaveEdit enregistreur/éditeur ya audio
Name[lo]=mhWaveEdit ບັນທຶກສຽງ/ບັນນາທິການ
Name[lt]=mhWaveEdit garso įrašymo / redaktoriaus
Name[lv]=mhWaveEdit audio ierakstītājs/redaktors
Name[mg]=mhWaveEdit mpitam-peo/mpanora-peo
Name[mi]=mhWaveEdit kaiwhakamahara/kaiwhakatika
Name[mk]=mhWaveEdit аудио рекордер/уредник
Name[ml]=mhWaveEdit ഓഡിയോ റെക്കോർഡർ/എഡിറ്റർ
Name[mn]=mhWaveEdit аудио бичигч/редактор
Name[mr]=mhWaveEdit ऑडिओ रेकॉर्डर/संपादक
Name[ms]=perakam/editor audio mhWaveEdit
Name[mt]=mhWaveEdit rekorder/editur tal-awdjo
Name[my]=mhWaveEdit အသံဖမ်းစက်/တည်းဖြတ်သူ
Name[ne]=mhWaveEdit अडियो रेकर्डर/सम्पादक
Name[nl]=mhWaveEdit audiorecorder/-editor
Name[no]=mhWaveEdit lydopptaker/redigerer
Name[ny]=mhWaveEdit chojambulira / chowongolera
Name[om]=mhWaveEdit waraabbii/gulaala sagalee
Name[or]=mhWaveEdit ଅଡିଓ ରେକର୍ଡର୍ / ସମ୍ପାଦକ |
Name[pa]=mhWaveEdit ਆਡੀਓ ਰਿਕਾਰਡਰ/ਸੰਪਾਦਕ
Name[pl]=Rejestrator/edytor dźwięku mhWaveEdit
Name[ps]=mhWaveEdit ﺮټﯾډﺍ/ﺭډﺭﺎﮑﯾﺭ ﻮﯾډﺁ
Name[pt]=mhWaveEdit gravador/editor de áudio
Name[qu]=mhWaveEdit uyarinapaq grabadora/editor
Name[ro]=recorder/editor audio mhWaveEdit
Name[ru]=mhWaveEdit аудио рекордер/редактор
Name[rw]=mhWaveEdit yafata amajwi / umwanditsi
Name[sa]=mhWaveEdit श्रव्य रिकार्डर/सम्पादक
Name[sd]=mhWaveEdit ﺮٽﻳڊﻳﺍ/ﺭڊﺭﺎڪﺭ ﻮﻳڊﺁ
Name[si]=mhWaveEdit ශ්u200dරව්u200dය පටිගත කරන්නා/සංස්කාරකය
Name[sk]=mhWaveEdit audio rekordér/editor
Name[sl]=snemalnik/urejevalnik zvoka mhWaveEdit
Name[sm]=mhWaveEdit leo pueina/faatonu
Name[sn]=mhWaveEdit odhiyo rekodhi/editor
Name[so]=mhWaveEdit cod duube/tafatire
Name[sq]=mhWaveEdit regjistrues/redaktor audio
Name[st]=mhWaveEdit audio recorder/editor
Name[su]=mhWaveEdit pangrékam / editor audio
Name[sv]=mhWaveEdit ljudinspelare/redigerare
Name[sw]=mhWaveEdit kinasa sauti/mhariri
Name[ta]=mhWaveEdit ஆடியோ ரெக்கார்டர்/எடிட்டர்
Name[te]=mhWaveEdit ఆడియో రికార్డర్/ఎడిటర్
Name[tg]=Сабткунандаи аудио/муҳаррири mhWaveEdit
Name[th]=mhWaveEdit เครื่องบันทึกเสียง/ตัวแก้ไข
Name[ti]=mhWaveEdit ድምጺ መቕረጺ/ኣርታዒ
Name[tk]=mhWaveEdit ses ýazgysy / redaktor
Name[tl]=mhWaveEdit audio recorder/editor
Name[to]=mhWaveEdit e tauhi lekooti ʻo e ongo/ʻetita
Name[tr]=mhWaveEdit ses kaydedici/düzenleyici
Name[ts]=mhWaveEdit xitirhisiwa xo rhekhoda/muhleri wa mpfumawulo
Name[tt]=mhWaveEdit аудиоязма / редактор
Name[tw]=mhWaveEdit ɔdio a wɔkyere gu kasɛt so/ɔkyerɛwfo
Name[ty]=mhWaveEdit audio recorder/editor
Name[ug]=mhWaveEdit ﭺﯜﮕﯩﻟﺮﯨﺮﮬەﺗ / ﭺﯜﮕﯩﻠﯨﺮﯩﺗﺎﺧ ﺯﺍﯞﺎﺋ
Name[uk]=Записувач/редактор звуку mhWaveEdit
Name[ur]=mhWaveEdit ﺮﭩﯾﮉﯾﺍ/ﺭﮈﺭﺎﮑﯾﺭ ﻮﯾﮈﺁ
Name[uz]=mhWaveEdit audio yozuvchisi/muharriri
Name[vi]=mhWaveEdit ghi/biên tập âm thanh
Name[xh]=mhWaveEdit irekhoda/umhleli
Name[yi]=mhWaveEdit ראָטקאַדער / רעדראָקער אָידואַ
Name[yo]=mhWaveEdit agbohunsilẹ / olootu
Name[zh]=mhWaveEdit 录音机/编辑器
Name[zu]=mhWaveEdit rekhoda/umhleli
Name=mhWaveEdit audio recorder/editor
Icon=mhwaveedit.xpm
Comment[de]=Audiorecorder/Editor
Comment[af]=Oudio-opnemer/redigeerder
Comment[am]=የድምጽ መቅጃ / አርታዒ
Comment[ar]=ﺕﻮﺼﻟﺍ ﺭﺮﺤﻣ / ﻞﺠﺴﻣ
Comment[as]=অডিঅ ৰেকৰ্ডাৰ/সম্পাদক
Comment[ay]=Audio grabadora/editor ukax mä jach’a uñacht’äwiwa
Comment[az]=Audio yazıcı/redaktor
Comment[ba]=Аудиоматер/мөхәррир
Comment[be]=Аўдыёзапіс/рэдактар
Comment[bg]=Аудио рекордер/редактор
Comment[bm]=Lamɛnnikɛlan/sɛbɛnnikɛlan
Comment[bn]=অডিও রেকর্ডার/সম্পাদক
Comment[bo]=སྒྲ་ཕབ་འཕྲུལ་ཆས་དང་རྩོམ་སྒྲིག་པ།
Comment[bs]=Audio snimač/uređivač
Comment[ca]=Gravador/editor dàudio
Comment[co]=Registratore audio / editore
Comment[cs]=Audio rekordér/editor
Comment[cy]=Recordydd sain/golygydd
Comment[da]=Lydoptager/redaktør
Comment[dv]=ރޓަޑިއެ/ރޑަކޯރެ އޯޑިއޯ
Comment[ee]=Odio-mɔ̃/nuŋlɔla
Comment[el]=Ηχογράφηση/επεξεργαστής ήχου
Comment[eo]=Sonregistrilo/redaktilo
Comment[es]=Grabador/editor de audio
Comment[et]=Helisalvestaja/redaktor
Comment[eu]=Audio grabagailua/editorea
Comment[fa]=ﺍﺪﺻ ﺮﮕﺸﯾﺍﺮﯾﻭ / ﻂﺒﺿ
Comment[fi]=Äänitallennin/editori
Comment[fj]=Vunivola/Edita ni vakarorogo
Comment[fo]=Audio recorder/editor
Comment[fr]=Enregistreur/monteur audio
Comment[fy]=Audio recorder / bewurker
Comment[ga]=Taifeadán fuaime/eagarthóir
Comment[gd]=Neach-clàraidh / neach-deasachaidh claisneachd
Comment[gl]=Gravadora/editor de audio
Comment[gn]=Grabadora/editor de audio rehegua
Comment[gu]=ઓડિયો રેકોર્ડર/સંપાદક
Comment[ha]=Mai rikodin sauti / edita
Comment[he]=וידוא ךרוע/טילקמ
Comment[hi]=ऑडियो रिकॉर्डर/संपादक
Comment[hr]=Audio snimač/uređivač
Comment[ht]=Anrejistrè odyo/editè
Comment[hu]=Hangrögzítő/szerkesztő
Comment[hy]=Աուդիո ձայնագրիչ/խմբագիր
Comment[id]=Perekam/editor audio
Comment[ig]=Onye na-edekọ ihe / onye ndezi
Comment[is]=Hljóðupptökutæki/ritstjóri
Comment[it]=Registratore/editore audio
Comment[iu]=ᓂᐱᓕᐅᕆᔨ/ᑎᑎᕋᖅᑎ
Comment[ja]=オーディオレコーダー/エディター
Comment[jv]=Perekam audio / editor
Comment[ka]=აუდიო ჩამწერი/რედაქტორი
Comment[kk]=Аудио жазғыш/редактор
Comment[km]=ឧបករណ៍ថតសំឡេង / កម្មវិធីនិពន្ធ
Comment[kn]=ಆಡಿಯೋ ರೆಕಾರ್ಡರ್/ಸಂಪಾದಕ
Comment[ko]=오디오 레코더/편집기
Comment[ku]=Tomar / edîtorê deng
Comment[ky]=Аудио жазгыч/редактору
Comment[la]=Audio commentariis
Comment[lb]=Audio Recorder / Editor
Comment[lg]=Ekyuma ekikwata amaloboozi/omuwandiisi w’amaloboozi
Comment[ln]=Enregistreur/éditeur ya audio
Comment[lo]=ເຄື່ອງບັນທຶກສຽງ/ບັນນາທິການ
Comment[lt]=Garso įrašymo / redaktoriaus
Comment[lv]=Audio ierakstītājs/redaktors
Comment[mg]=Mpanoratra feo / mpanonta
Comment[mi]=Kaituhi ororongo/kaiwhakatika
Comment[mk]=Аудио рекордер/уредник
Comment[ml]=ഓഡിയോ റെക്കോർഡർ/എഡിറ്റർ
Comment[mn]=Аудио бичигч/редактор
Comment[mr]=ऑडिओ रेकॉर्डर/संपादक
Comment[ms]=Perakam/editor audio
Comment[mt]=Reġistratur/editur tal-awdjo
Comment[my]=အသံဖမ်းစက်/တည်းဖြတ်သူ
Comment[ne]=अडियो रेकर्डर/सम्पादक
Comment[nl]=Audiorecorder/-editor
Comment[no]=Lydopptaker/redaktør
Comment[ny]=Audio Recorder/editor
Comment[om]=Sagalee waraabduu/gulaala
Comment[or]=ଅଡିଓ ରେକର୍ଡର୍ / ସମ୍ପାଦକ |
Comment[pa]=ਆਡੀਓ ਰਿਕਾਰਡਰ/ਸੰਪਾਦਕ
Comment[pl]=Rejestrator/edytor dźwięku
Comment[ps]=ﺮﯾﺪﻣ / ﺭډﺭﺎﮑﯾﺭ ﻮﯾډﺁ
Comment[pt]=Gravador/editor de áudio
Comment[qu]=Uyarinapaq grabadora/editor
Comment[ro]=Recorder/editor audio
Comment[ru]=Аудио рекордер/редактор
Comment[rw]=Icyuma gifata amajwi / umwanditsi
Comment[sa]=श्रव्य रिकार्डर/सम्पादक
Comment[sd]=ﺮٽﻳڊﻳﺍ / ﺭڊﺭﺎڪﺭ ﻮﻳڊﺁ
Comment[si]=ශ්රව්ය පටිගත කරන්නා / සංස්කාරකය
Comment[sk]=Audio rekordér/editor
Comment[sl]=Snemalnik/urejevalnik zvoka
Comment[sm]=Leo pue/faatonu
Comment[sn]=Audio rekodhi / mupepeti
Comment[so]=Rikoor/tafatire maqal ah
Comment[sq]=Regjistrues/redaktor audio
Comment[st]=Mohatisi/mohlophisi
Comment[su]=Pangrékam / redaktur audio
Comment[sv]=Ljudinspelare/redigerare
Comment[sw]=Kinasa sauti/mhariri
Comment[ta]=ஆடியோ ரெக்கார்டர்/எடிட்டர்
Comment[te]=ఆడియో రికార్డర్/ఎడిటర్
Comment[tg]=Сабткунандаи аудио/муҳаррир
Comment[th]=เครื่องบันทึกเสียง/บรรณาธิการ
Comment[ti]=ድምጺ መቕረጺ/ኣዳላዊ
Comment[tk]=Ses ýazgysy / redaktor
Comment[tl]=Audio recorder/editor
Comment[to]=Tauhi lekooti ʻo e ongo/ʻetita
Comment[tr]=Ses kaydedici/düzenleyici
Comment[ts]=Xi rhekhodi/muhleri wa mpfumawulo
Comment[tt]=Аудиоязма / редактор
Comment[tw]=Audio recorder/editor a wɔde kyere nsɛm gu kasɛt so
Comment[ty]=Papai parau faaroo/editor
Comment[ug]=ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ / ﻰﭼﯜﮕﯩﻠﯨﺮﯩﺗﺎﺧ ﺯﺍﯞﺎﺋ
Comment[uk]=Аудіозапис/редактор
Comment[ur]=ﺮﭩﯾﮉﯾﺍ /ﺭﮈﺭﺎﮑﯾﺭ ﻮﯾﮈﺁ
Comment[uz]=Audio yozuvchisi / muharriri
Comment[vi]=Máy ghi/biên tập âm thanh
Comment[xh]=Irekhoda yomsindo/umhleli
Comment[yi]=ראָטקאַדער / רעדראָקער אָידואַ
Comment[yo]=Agbohunsile / olootu
Comment[zh]=录音机/编辑器
Comment[zu]=Isirekhoda/umhleli
Comment=Audio recorder/editor
Exec=mhwaveedit
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=mhWaveEdit
