[Desktop Entry]
Encoding=UTF-8
Name[fr]=Enregistreur/éditeur audio : mhWaveEdit
Name=mhWaveEdit audio recorder/editor
Icon=mhwaveedit.xpm
Comment=Audio recorder/editor
Exec=mhwaveedit
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=mhWaveEdit
