[Desktop Entry]
Categories=X-Utility-shell
Comment[de]=Serielles Kommunikationsprogramm
Comment=serial communication program
Exec=sakura -e minicom
Name[fr]=Terminal série : Minicom
Name[de]=Serielles Minicom-Terminal
Name=Minicom serial terminal
NoDisplay=false
Terminal=true
Type=Application
Icon=mini-term.xpm
