[Desktop Entry]
Categories=X-Utility-shell
Comment[fr]=
Comment[de]=Serielles Kommunikationsprogramm
Comment[es]=Minicom: terminal serie
Comment[ru]=Последовательный терминал Minicom
Comment=serial communication program
Exec=sakura -e minicom
Name[fr]=Terminal série : Minicom
Name[de]=Serielles Minicom-Terminal
Name[es]=Terminal serie Minicom
Name[ru]=Последовательный терминал Minicom
Name=Minicom serial terminal
NoDisplay=false
Terminal=true
Type=Application
Icon=mini-term.xpm
