[Desktop Entry]
Encoding=UTF-8
Name[fr]=Éditeur d'image : mtPaint
Name[de]=mtPaint-Bildbearbeitungsprogramm
Name[es]=mtPaint: editor de imágenes
Name[ru]=редактор изображений mtPaint
Name=mtPaint image editor
Icon=mini-palette.xpm
Comment[fr]=Éditeur d'image : mtPaint
Comment[de]=mtPaint-Bildbearbeitungsprogramm
Comment[es]=mtPaint: editor de imágenes
Comment[ru]=редактор изображений mtPaint
Comment=mtPaint image editor
Exec=mtpaint
Terminal=false
Type=Application
Categories=RasterGraphics
GenericName=mtPaint image editor
