[Desktop Entry]
Encoding=UTF-8
Name[fr]=Traceur réseau : MTR
Name=MTR network trace route
Icon=/usr/share/pixmaps/peasyport.png
Comment=Network trace route
Exec=mtr
Terminal=false
Type=Application
Categories=X-Network-utility
GenericName=MTR
