[Desktop Entry]
Encoding=UTF-8
Name[fr]=Traceur réseau : MTR
Name[de]=MTR-Netzwerk-Trace-Route
Name[es]=MTR: diagnóstico de red
Name[ru]=Маршрут трассировки сети MTR
Name=MTR network trace route
Icon=/usr/share/pixmaps/peasyport.png
Comment[fr]=Traceur réseau : MTR
Comment[de]=Netzwerk-Trace-Route
Comment[es]=MTR: diagnóstico de red
Comment[ru]=Маршрут трассировки сети MTR
Comment=Network trace route
Exec=mtr
Terminal=false
Type=Application
Categories=X-Network-utility
GenericName=MTR
