[Desktop Entry]
Name[fr]=Configuration de connexion du Gestionnaire de réseau
Name[de]=NetworkManager-Setup-Verbindung
Name[es]=NetworkManager: configurar conexiones de red
Name[ru]=Подключение для настройки NetworkManager
Name=NetworkManager setup connection
Comment[fr]=Configuration de connexion du Gestionnaire de réseau
Comment[de]=Einrichten der Netzwerkverbindungen
Comment[es]=Configurar las conexiones de red
Comment[ru]=Подключение для настройки NetworkManager
Comment=Setup your network connections
Icon=/usr/share/pixmaps/puppy/network.svg
Exec=nm-setup
Terminal=false
Type=Application
NoDisplay=false
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=nm-applet
X-GNOME-UsesNotifications=true
Categories=X-Network-connect
