[Desktop Entry]
Name[fr]=Éditeur de connexions du Gestionnaire de réseau
Name=NetworkManager edit connections
Comment=Manage and change your network connection settings
Icon=/usr/share/pixmaps/puppy/network.svg
Exec=nm-edit
Terminal=false
StartupNotify=true
Type=Application
NoDisplay=false
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=nm-connection-editor
Categories=X-Network-connect
