[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configuration du gestionnaire de réseau : Nmtui
Name[de]=Nmtui NetworkManager-Konfiguration
Name[es]=Nmtui: configurar red en modo texto
Name[ru]=Конфигурация Nmtui NetworkManager
Name=Nmtui NetworkManager configuration
Icon=/usr/share/pixmaps/puppy/network.svg
Comment[fr]=Configuration du gestionnaire de réseau : Nmtui
Comment[de]=NetworkManager-Konfiguration
Comment[es]=Nmtui: configurar red en modo texto
Comment[ru]=Конфигурация Nmtui NetworkManager
Comment=NetworkManager configuration
Exec=urxvt -e nmtui
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=Nmtui
