[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configuration du gestionnaire de réseau : Nmtui
Name[de]=Nmtui NetworkManager-Konfiguration
Name[es]=Nmtui: configurar red en modo texto
Name[ru]=Nmtui настройка NetworkManager
Name[af]=Nmtui NetworkManager-konfigurasie
Name[am]=Nmtui NetworkManager ውቅር
Name[ar]=Nmtui NetworkManager ﻦﻳﻮﻜﺗ
Name[as]=Nmtui NetworkManager বিন্যাস
Name[ay]=Nmtui NetworkManager ukax mä configuración ukaniwa
Name[az]=Nmtui NetworkManager konfiqurasiyası
Name[ba]=Nmtui NetworkManager конфигурацияһы
Name[be]=Канфігурацыя Nmtui NetworkManager
Name[bg]=Конфигурация на Nmtui NetworkManager
Name[bm]=Nmtui NetworkManager ka baarakɛcogo
Name[bn]=Nmtui নেটওয়ার্ক ম্যানেজার কনফিগারেশন
Name[bo]=Nmtui NetworkManager བཀོད་སྒྲིག
Name[bs]=Nmtui NetworkManager konfiguracija
Name[ca]=Configuració de Nmtui NetworkManager
Name[co]=Cunfigurazione Nmtui NetworkManager
Name[cs]=Konfigurace Nmtui NetworkManager
Name[cy]=Ffurfweddiad Nmtui NetworkManager
Name[da]=Nmtui NetworkManager-konfiguration
Name[dv]=ންޝަރޭގްފިންކޮ ރޖަނޭމެކްވޯޓްނެ އީޓޫމްއެންއެ
Name[ee]=Nmtui NetworkManager ƒe ɖoɖowɔwɔ
Name[el]=Διαμόρφωση Nmtui NetworkManager
Name[eo]=Nmtui NetworkManager-agordo
Name[et]=Nmtui NetworkManageri konfiguratsioon
Name[eu]=Nmtui NetworkManager konfigurazioa
Name[fa]=Nmtui NetworkManager ﯼﺪﻨﺑﺮﮑﯿﭘ
Name[fi]=Nmtui NetworkManager-kokoonpano
Name[fj]=Nmtui NetworkManager configuration
Name[fo]=Nmtui NetworkManager configuration
Name[fy]=Nmtui NetworkManager konfiguraasje
Name[ga]=Cumraíocht Nmtui NetworkManager
Name[gd]=Nmtui NetworkManager rèiteachadh
Name[gl]=Configuración de Nmtui NetworkManager
Name[gn]=Nmtui NetworkManager ñemboheko
Name[gu]=Nmtui નેટવર્ક મેનેજર રૂપરેખાંકન
Name[ha]=Nmtui NetworkManager sanyi
Name[he]=Nmtui NetworkManager תרוצת
Name[hi]=Nmtui नेटवर्क प्रबंधक कॉन्फ़िगरेशन
Name[hr]=Nmtui NetworkManager konfiguracija
Name[ht]=Nmtui NetworkManager konfigirasyon
Name[hu]=Nmtui NetworkManager konfiguráció
Name[hy]=Nmtui NetworkManager-ի կազմաձևում
Name[id]=Konfigurasi Nmtui NetworkManager
Name[ig]=Nmtui NetworkManager nhazi
Name[is]=Nmtui NetworkManager stillingar
Name[it]=Configurazione di Nmtui Network Manager
Name[iu]=Nmtui ᐱᓕᕆᔨᓄᑦ ᑐᓴᐅᒪᖃᑦᑕᐅᑎᖃᑎᒌᒍᑎᓂᒃᐊᐅᓚᑦᑎᔨ ᐋᖅᑭᒃᓯᒪᓂᖓᓄᑦ
Name[ja]=Nmtui NetworkManager の構成
Name[jv]=Nmtui NetworkManager konfigurasi
Name[ka]=Nmtui NetworkManager-ის კონფიგურაცია
Name[kk]=Nmtui NetworkManager конфигурациясы
Name[km]=ការកំណត់រចនាសម្ព័ន្ធ Nmtui NetworkManager
Name[kn]=Nmtui ನೆಟ್u200cವರ್ಕ್ ಮ್ಯಾನೇಜರ್ ಕಾನ್ಫಿಗರೇಶನ್
Name[ko]=Nmtui NetworkManager 구성
Name[ku]=Veavakirina Nmtui NetworkManager
Name[ky]=Nmtui NetworkManager конфигурациясы
Name[la]=Nmtui NetworkManager configuratione
Name[lb]=Nmtui NetworkManager Konfiguratioun
Name[lg]=Ensengeka ya Nmtui NetworkManager
Name[ln]=Bobongisi ya Nmtui NetworkManager
Name[lo]=ການຕັ້ງຄ່າ Nmtui NetworkManager
Name[lt]=Nmtui NetworkManager konfigūracija
Name[lv]=Nmtui NetworkManager konfigurācija
Name[mg]=Nmtui NetworkManager configuration
Name[mi]=Nmtui NetworkManager whirihoranga
Name[mk]=Конфигурација на Nmtui NetworkManager
Name[ml]=Nmtui NetworkManager കോൺഫിഗറേഷൻ
Name[mn]=Nmtui NetworkManager тохиргоо
Name[mr]=Nmtui नेटवर्क मॅनेजर कॉन्फिगरेशन
Name[ms]=Nmtui NetworkManager konfigurasi
Name[mt]=Konfigurazzjoni Nmtui NetworkManager
Name[my]=Nmtui NetworkManager ဖွဲ့စည်းမှု
Name[ne]=Nmtui नेटवर्क प्रबन्धक कन्फिगरेसन
Name[nl]=Nmtui NetworkManager-configuratie
Name[no]=Nmtui NetworkManager-konfigurasjon
Name[ny]=Kusintha kwa Nmtui NetworkManager
Name[om]=Qindaaina NetworkManager Nmtui
Name[or]=Nmtui NetworkManager ସଂରଚନା |
Name[pa]=Nmtui ਨੈੱਟਵਰਕ ਮੈਨੇਜਰ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja Nmtui NetworkManager
Name[ps]=ﺐﯿﺗﺮﺗ ﺮﯾﺪﻣ ﯥﮑﺒﺷ Nmtui ﺩ
Name[pt]=Configuração do Nmtui NetworkManager
Name[qu]=Nmtui Llika kamachiqpa wakichiynin
Name[ro]=Configurarea Nmtui NetworkManager
Name[rw]=Nmtui NetworkManager iboneza
Name[sa]=Nmtui NetworkManager विन्यासः
Name[sd]=Nmtui ﺐﻴﺗﺮﺗ ﺮﺠﻴﻨﺌﻣ ڪﺭﻮٽﻴﻧ
Name[si]=Nmtui NetworkManager වින්u200dයාසය
Name[sk]=Konfigurácia Nmtui NetworkManager
Name[sl]=Konfiguracija Nmtui NetworkManager
Name[sm]=Nmtui NetworkManager configuration
Name[sn]=Nmtui NetworkManager kumisikidza
Name[so]=Nmtui NetworkManager qaabeynta
Name[sq]=Konfigurimi i Nmtui NetworkManager
Name[st]=Tlhophiso ea Nmtui NetworkManager
Name[su]=Konfigurasi NetworkManager Nmtui
Name[sv]=Nmtui NetworkManager-konfiguration
Name[sw]=Usanidi wa Meneja wa Mtandao wa Nmtui
Name[ta]=Nmtui NetworkManager கட்டமைப்பு
Name[te]=Nmtui నెట్u200cవర్క్u200cమేనేజర్ కాన్ఫిగరేషన్
Name[tg]=Конфигуратсияи Nmtui NetworkManager
Name[th]=การกำหนดค่า Nmtui NetworkManager
Name[ti]=Nmtui NetworkManager ውቅር
Name[tk]=Nmtui NetworkManager konfigurasiýasy
Name[tl]=Nmtui NetworkManager configuration
Name[to]=Nmtui NetworkManager fokotuʻutuʻu
Name[tr]=Nmtui Ağ Yöneticisi yapılandırması
Name[ts]=Nmtui NetworkManager vukorhokeri bya vukorhokeri
Name[tt]=Nmtui NetworkManager конфигурациясе
Name[tw]=Nmtui NetworkManager nhyehyeɛ
Name[ty]=Nmtui NetworkManager configuration
Name[ug]=Nmtui NetworkManager ﻰﺴﯩﻤﯩﻠﭘەﺳ
Name[uk]=Конфігурація Nmtui NetworkManager
Name[ur]=Nmtui ﻦﺸﯾﺮﮕﯿﻔﻨﮐ ﺮﺠﯿﻨﯿﻣ ﮎﺭﻭ ﭧﯿﻧ
Name[uz]=Nmtui NetworkManager konfiguratsiyasi
Name[vi]=Cấu hình trình quản lý mạng Nmtui
Name[xh]=Nmtui NetworkManager uqwalaselo
Name[yi]=Nmtui NetworkManager ןאַשיירעיגיפנאַק
Name[yo]=Nmtui NetworkManager iṣeto ni
Name[zh]=Nmtui网络管理器配置
Name[zu]=Ukucushwa kwe-Nmtui NetworkManager
Name=Nmtui NetworkManager configuration
Icon=/usr/share/pixmaps/puppy/network.svg
Comment[fr]=Configuration du gestionnaire de réseau : Nmtui
Comment[de]=NetworkManager-Konfiguration
Comment[es]=Nmtui: configurar red en modo texto
Comment[ru]=Конфигурация Nmtui NetworkManager
Comment[af]=NetworkManager-konfigurasie
Comment[am]=የአውታረ መረብ አስተዳዳሪ ውቅር
Comment[ar]=NetworkManager ﻦﻳﻮﻜﺗ
Comment[as]=NetworkManager বিন্যাস
Comment[ay]=NetworkManager ukax mä configuración ukaniwa
Comment[az]=NetworkManager konfiqurasiyası
Comment[ba]=NetworkManager конфигурацияһы
Comment[be]=Канфігурацыя NetworkManager
Comment[bg]=Конфигурация на NetworkManager
Comment[bm]=NetworkManager ka baarakɛcogo
Comment[bn]=নেটওয়ার্ক ম্যানেজার কনফিগারেশন
Comment[bo]=དྲ་རྒྱའི་མ་ལག་གི་བཀོད་སྒྲིག
Comment[bs]=NetworkManager konfiguracija
Comment[ca]=Configuració de NetworkManager
Comment[co]=Cunfigurazione NetworkManager
Comment[cs]=Konfigurace NetworkManageru
Comment[cy]=Cyfluniad NetworkManager
Comment[da]=NetworkManager konfiguration
Comment[dv]=ންޝަރޭގްފިންކޮ ރޖަނޭމެކްވޯޓްނެ
Comment[ee]=NetworkManager ƒe ɖoɖowɔwɔ
Comment[el]=Διαμόρφωση NetworkManager
Comment[eo]=NetworkManager-agordo
Comment[et]=NetworkManageri konfiguratsioon
Comment[eu]=Network Manager konfigurazioa
Comment[fa]=NetworkManager ﯼﺪﻨﺑﺮﮑﯿﭘ
Comment[fi]=NetworkManager-määritykset
Comment[fj]=Configuration ni NetworkManager
Comment[fo]=NetworkManager configuration
Comment[fy]=NetworkManager konfiguraasje
Comment[ga]=Cumraíocht NetworkManager
Comment[gd]=rèiteachadh NetworkManager
Comment[gl]=Configuración de NetworkManager
Comment[gn]=NetworkManager ñemboheko
Comment[gu]=નેટવર્ક મેનેજર રૂપરેખાંકન
Comment[ha]=Tsarin NetworkManager
Comment[he]=NetworkManager תרוצת
Comment[hi]=नेटवर्कमैनेजर कॉन्फ़िगरेशन
Comment[hr]=NetworkManager konfiguracija
Comment[ht]=NetworkManager konfigirasyon
Comment[hu]=NetworkManager konfiguráció
Comment[hy]=NetworkManager-ի կազմաձևում
Comment[id]=konfigurasi Manajer Jaringan
Comment[ig]=Nhazi NetworkManager
Comment[is]=NetworkManager stillingar
Comment[it]=Configurazione di NetworkManager
Comment[iu]=ᐱᓕᕆᔨᓄᑦ ᑐᓴᐅᒪᖃᑦᑕᐅᑎᖃᑎᒌᒍᑎᓂᒃᐊᐅᓚᑦᑎᔨ ᐋᖅᑭᒃᓯᒪᓂᖓ
Comment[ja]=NetworkManagerの構成
Comment[jv]=Konfigurasi NetworkManager
Comment[ka]=NetworkManager-ის კონფიგურაცია
Comment[kk]=NetworkManager конфигурациясы
Comment[km]=ការកំណត់រចនាសម្ព័ន្ធ NetworkManager
Comment[kn]=ನೆಟ್u200cವರ್ಕ್ ಮ್ಯಾನೇಜರ್ ಕಾನ್ಫಿಗರೇಶನ್
Comment[ko]=NetworkManager 구성
Comment[ku]=Veavakirina NetworkManager
Comment[ky]=NetworkManager конфигурациясы
Comment[la]=Configuratione NetworkManager
Comment[lb]=NetworkManager Konfiguratioun
Comment[lg]=Ensengeka ya NetworkManager
Comment[ln]=Bobongisi ya NetworkManager
Comment[lo]=ການຕັ້ງຄ່າ NetworkManager
Comment[lt]=NetworkManager konfigūracija
Comment[lv]=NetworkManager konfigurācija
Comment[mg]=NetworkManager configuration
Comment[mi]=whirihoranga NetworkManager
Comment[mk]=Конфигурација на NetworkManager
Comment[ml]=NetworkManager കോൺഫിഗറേഷൻ
Comment[mn]=NetworkManager тохиргоо
Comment[mr]=नेटवर्क मॅनेजर कॉन्फिगरेशन
Comment[ms]=Konfigurasi NetworkManager
Comment[mt]=Konfigurazzjoni NetworkManager
Comment[my]=NetworkManager ဖွဲ့စည်းမှုပုံစံ
Comment[ne]=नेटवर्क प्रबन्धक कन्फिगरेसन
Comment[nl]=NetworkManager-configuratie
Comment[no]=NetworkManager-konfigurasjon
Comment[ny]=Kusintha kwa NetworkManager
Comment[om]=Qindaaina NetworkManager
Comment[or]=NetworkManager ବିନ୍ୟାସ
Comment[pa]=ਨੈੱਟਵਰਕਮੈਨੇਜਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja Network Managera
Comment[ps]=ﺕﻼ﻿ﯿﮑﺸﺗ ﺮﯾﺪﻣ ﯥﮑﺒﺷ ﺩ
Comment[pt]=Configuração do NetworkManager
Comment[qu]=NetworkManager nisqa wakichiy
Comment[ro]=Configurare NetworkManager
Comment[rw]=Ibikoresho bya NetworkManager
Comment[sa]=NetworkManager विन्यासः
Comment[sd]=ﺐﻴﺗﺮﺗ ﻲﺟ ﺮﺠﻴﻨﺌﻣ ڪﺭﻮٽﻴﻧ
Comment[si]=NetworkManager වින්u200dයාසය
Comment[sk]=Konfigurácia NetworkManagera
Comment[sl]=Konfiguracija NetworkManager
Comment[sm]=NetworkManager fetuutuunaiga
Comment[sn]=NetworkManager kumisikidza
Comment[so]=Qaabeynta NetworkManager
Comment[sq]=Konfigurimi i NetworkManager
Comment[st]=Sebopeho sa NetworkManager
Comment[su]=Konfigurasi NetworkManager
Comment[sv]=NetworkManager-konfiguration
Comment[sw]=Mipangilio ya NetworkManager
Comment[ta]=NetworkManager கட்டமைப்பு
Comment[te]=NetworkManager కాన్ఫిగరేషన్
Comment[tg]=Танзимоти NetworkManager
Comment[th]=การกำหนดค่า NetworkManager
Comment[ti]=NetworkManager ውቅር
Comment[tk]=NetworkManager konfigurasiýasy
Comment[tl]=NetworkManager configuration
Comment[to]=NetworkManager fokotuʻutuʻu
Comment[tr]=Ağ Yöneticisi yapılandırması
Comment[ts]=Ku lulamisiwa ka NetworkManager
Comment[tt]=NetworkManager конфигурациясе
Comment[tw]=NetworkManager nhyehyeɛ
Comment[ty]=NetworkManager configuration
Comment[ug]=NetworkManager ﻰﺴﯩﻤﯩﻠﭘەﺳ
Comment[uk]=Конфігурація NetworkManager
Comment[ur]=ﺐﯿﺗﺮﺗ ﯽﮐ ﺮﺠﯿﻨﯿﻣ ﮎﺭﻭ ﭧﯿﻧ
Comment[uz]=NetworkManager konfiguratsiyasi
Comment[vi]=Cấu hình Trình quản lý mạng
Comment[xh]=Uqwalaselo loMphathi weNethiwekhi
Comment[yi]=ןאַשיירעיגיפנאַק רעגאַנאַמקראָווטענ
Comment[yo]=NetworkManager iṣeto ni
Comment[zh]=网络管理器配置
Comment[zu]=Ukucushwa kwe-NetworkManager
Comment=NetworkManager configuration
Exec=urxvt -e nmtui
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=Nmtui
