[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion de notes : NoteCase
Name[de]=NoteCase Notizen-Manager
Name[es]=NoteCase: gestor de notas
Name[ru]=Менеджер заметок NoteCase
Name[af]=NoteCase notas bestuurder
Name[am]=Notecase ማስታወሻዎች አስተዳዳሪ
Name[ar]=NoteCase ﺮﻳﺪﻣ ﺕﺎﻈﺣﻼ﻿ﻤﻟﺍ
Name[as]=NoteCase টোকা ব্যৱস্থাপক
Name[ay]=NoteCase ukax mä juk’a pachanakanwa
Name[az]=NoteCase qeyd meneceri
Name[ba]=NoteCase иҫкәрмәләр менеджеры
Name[be]=Менеджэр нататак NoteCase
Name[bg]=Мениджър на бележки NoteCase
Name[bm]=NoteCase sɛbɛnniw ɲɛnabɔbaga
Name[bn]=নোটকেস নোট ম্যানেজার
Name[bo]=ཟིན་བྲིས་དོ་དམ་མི་སྣ།
Name[bs]=NoteCase menadžer bilješki
Name[ca]=Gestor de notes de NoteCase
Name[co]=Gestore di note NoteCase
Name[cs]=Správce poznámek NoteCase
Name[cy]=Rheolwr nodiadau NoteCase
Name[da]=NoteCase note manager
Name[dv]=ރޖަނޭމެ ސްޓްނޯ ސްކޭޓްނޯ
Name[ee]=NoteCase ƒe nuŋlɔɖiwo dzikpɔla
Name[el]=Διαχειριστής σημειώσεων NoteCase
Name[eo]=Administranto de notoj de NoteCase
Name[et]=NoteCase märkmete haldur
Name[eu]=NoteCase oharren kudeatzailea
Name[fa]=NoteCase ﯼﺎﻫ ﺖﺷﺍﺩﺩﺎﯾ ﺮﯾﺪﻣ
Name[fi]=NoteCase muistiinpanojen hallinta
Name[fj]=Manidia ni iVakamacala
Name[fo]=IkkiCase viðmerkingar manager
Name[fy]=NoteCase notysjebehearder
Name[ga]=Bainisteoir nótaí NoteCase
Name[gd]=Manaidsear notaichean NoteCase
Name[gl]=Xestor de notas NoteCase
Name[gn]=NotaCase notakuéra mohendaha
Name[gu]=નોટકેસ નોટ મેનેજર
Name[ha]=Manajan bayanin kula da Case
Name[he]=NoteCase תורעה להנמ
Name[hi]=नोटकेस नोट्स प्रबंधक
Name[hr]=NoteCase upravitelj bilješki
Name[ht]=Manadjè nòt NoteCase
Name[hu]=NoteCase jegyzetkezelő
Name[hy]=NoteCase նշումների կառավարիչ
Name[id]=Manajer catatan NoteCase
Name[ig]=NoteCase njikwa ndetu
Name[is]=NoteCase minnisstjóri
Name[it]=Gestore note NoteCase
Name[iu]=ᑎᑎᖅᑲᖅᐱᓕᕆᐊᓂᒃ ᐊᐅᓚᑦᑎᔨ
Name[ja]=NoteCase メモ マネージャー
Name[jv]=Manajer cathetan NoteCase
Name[ka]=NoteCase შენიშვნების მენეჯერი
Name[kk]=NoteCase жазбалар менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងកំណត់ចំណាំ NoteCase
Name[kn]=NoteCase ಟಿಪ್ಪಣಿಗಳ ನಿರ್ವಾಹಕ
Name[ko]=NoteCase 메모 관리자
Name[ku]=Rêvebirê notên NoteCase
Name[ky]=NoteCase белгилер менеджери
Name[la]=NoteCase notas procurator
Name[lb]=NoteCase Notiz Manager
Name[lg]=NoteCase omuddukanya ebiwandiiko
Name[ln]=NoteCase mokambi ya ba notes
Name[lo]=ຜູ້ຈັດການບັນທຶກ NoteCase
Name[lt]=NoteCase užrašų tvarkyklė
Name[lv]=NoteCase piezīmju pārvaldnieks
Name[mg]=NoteCase note manager
Name[mi]=Kaiwhakahaere tuhipoka NoteCase
Name[mk]=Менаџер за белешки NoteCase
Name[ml]=നോട്ട്കേസ് നോട്ട്സ് മാനേജർ
Name[mn]=NoteCase тэмдэглэлийн менежер
Name[mr]=NoteCase नोट्स व्यवस्थापक
Name[ms]=Pengurus nota NoteCase
Name[mt]=NoteCase maniġer noti
Name[my]=NoteCase မှတ်စုမန်နေဂျာ
Name[ne]=NoteCase नोट प्रबन्धक
Name[nl]=NoteCase-notitiesbeheerder
Name[no]=NoteCase-behandler
Name[ny]=Woyanganira zolemba za NoteCase
Name[om]=NoteCase bulchaa yaadannoo
Name[or]=ଟିପ୍ପଣୀ କେସ୍ ନୋଟ୍ ମ୍ୟାନେଜର୍ |
Name[pa]=ਨੋਟਕੇਸ ਨੋਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer notatek NoteCase
Name[ps]=ﺮﯾﺪﻣ ﻮﻧﻮټﻮﻧ ﺲﯿﮐ ټﻮﻧ ﺩ
Name[pt]=ObservaçãoGerenciador de anotações do caso
Name[qu]=NoteCase notakuna kamachiq
Name[ro]=Manager de note NoteCase
Name[rw]=IcyitonderwaCase inoti
Name[sa]=NoteCase notes manager इति
Name[sd]=NoteCase ﺮﺠﻴﻨﻴﻣ ﺲٽﻮﻧ
Name[si]=NoteCase සටහන් කළමනාකරු
Name[sk]=Správca poznámok NoteCase
Name[sl]=Upravitelj zapiskov NoteCase
Name[sm]=Pule faamatalaga NoteCase
Name[sn]=NoteCase manotsi maneja
Name[so]=Maamulaha Notecase
Name[sq]=Menaxheri i shënimeve të NoteCase
Name[st]=Motsamaisi oa lintlha tsa NoteCase
Name[su]=Manajer catetan NoteCase
Name[sv]=NoteCase-anteckningshanteraren
Name[sw]=Kidhibiti cha madokezo ya NoteCase
Name[ta]=நோட்கேஸ் குறிப்புகள் மேலாளர்
Name[te]=నోట్u200cకేస్ నోట్స్ మేనేజర్
Name[tg]=Менеҷери қайдҳои NoteCase
Name[th]=ผู้จัดการบันทึก NoteCase
Name[ti]=NoteCase መዘኻኸሪታት ኣካያዲ
Name[tk]=“NoteCase” bellikler dolandyryjysy
Name[tl]=Tagapamahala ng mga tala ng NoteCase
Name[to]=Pule ʻo e ngaahi nota NoteCase
Name[tr]=NoteCase not yöneticisi
Name[ts]=NoteCase mufambisi wa tinotsi
Name[tt]=NoteCase искәрмәләр менеджеры
Name[tw]=NoteCase nsɛm a wɔakyerɛw sohwɛfo
Name[ty]=Te mau nota
Name[ug]=NoteCase ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ەﺮﯩﺗﺎﺧ
Name[uk]=Менеджер нотаток NoteCase
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﺲﭨﻮﻧ ﺲﯿﮐ ﭦﻮﻧ
Name[uz]=NoteCase qaydlar menejeri
Name[vi]=Trình quản lý ghi chú NoteCase
Name[xh]=NoteCase amanqaku umphathi
Name[yi]=רעטלאַווראַפ סעטאָנ עסאַקעטאָנ
Name[yo]=Oluṣakoso akọsilẹ NoteCase
Name[zh]=NoteCase 注释管理器
Name[zu]=Umphathi wamanothi e-NoteCase
Name=NoteCase notes manager
Type=Application
Comment[fr]=Gestion de notes : NoteCase
Comment[de]=Hierarchischer Notizen-Manager
Comment[es]=NoteCase: gestor de notas
Comment[ru]=Менеджер заметок NoteCase
Comment[af]=Notas Bestuurder
Comment[am]=ማስታወሻዎች አስተዳዳሪ
Comment[ar]=ﺕﺎﻈﺣﻼ﻿ﻤﻟﺍ ﺮﻳﺪﻣ
Comment[as]=টোকাসমূহ ব্যৱস্থাপক
Comment[ay]=Notas Gestor
Comment[az]=Qeydlər meneceri
Comment[ba]=Иҫкәрмәләр менән идара итеүсе
Comment[be]=Менеджэр нататак
Comment[bg]=Мениджър на бележки
Comment[bm]=Kɔlɔsiliw ɲɛnabɔbaga
Comment[bn]=নোট ম্যানেজার
Comment[bo]=འཛིན་ཤོག་དོ་དམ་པ།
Comment[bs]=Notes Manager
Comment[ca]=Gestor de notes
Comment[co]=Note Manager
Comment[cs]=Správce poznámek
Comment[cy]=Rheolwr Nodiadau
Comment[da]=Notes Manager
Comment[dv]=ވެއެ ރޖަނޭމެ ސްޓްނޯ
Comment[ee]=Nuŋlɔɖiwo Dzikpɔla
Comment[el]=Υπεύθυνος Σημειώσεων
Comment[eo]=Notoj Administranto
Comment[et]=Märkmete haldur
Comment[eu]=Oharren kudeatzailea
Comment[fa]=ﺎﻫ ﺖﺷﺍﺩﺩﺎﯾ ﺮﯾﺪﻣ
Comment[fi]=Notes Manager
Comment[fj]=Manidia ni iVakamacala
Comment[fo]=Notes Manager
Comment[fy]=Notes Manager
Comment[ga]=Bainisteoir Nótaí
Comment[gd]=Manaidsear notaichean
Comment[gl]=Xestor de notas
Comment[gn]=Notas Moakãhára
Comment[gu]=નોંધ મેનેજર
Comment[ha]=Manajan Bayanan kula
Comment[he]=תורעה להנמ
Comment[hi]=नोट्स प्रबंधक
Comment[hr]=Upravitelj bilješki
Comment[ht]=Manadjè Nòt
Comment[hu]=Jegyzetkezelő
Comment[hy]=Նշումների կառավարիչ
Comment[id]=Manajer Catatan
Comment[ig]=Ihe njikwa ndetu
Comment[is]=Skýringarstjóri
Comment[it]=Responsabile Note
Comment[iu]=ᑎᑎᕋᖅᑎ
Comment[ja]=メモマネージャー
Comment[jv]=Manager Cathetan
Comment[ka]=შენიშვნების მენეჯერი
Comment[kk]=Жазбалар менеджері
Comment[km]=អ្នកគ្រប់គ្រងចំណាំ
Comment[kn]=ಟಿಪ್ಪಣಿಗಳ ನಿರ್ವಾಹಕ
Comment[ko]=메모 관리자
Comment[ku]=Notes Manager
Comment[ky]=Notes Manager
Comment[la]=Praecipua Manager
Comment[lb]=Notes Manager
Comment[lg]=Notes Manager
Comment[ln]=Mokambi ya ba Notes
Comment[lo]=ຜູ້ຈັດການບັນທຶກ
Comment[lt]=Užrašų tvarkyklė
Comment[lv]=Piezīmju pārvaldnieks
Comment[mg]=Notes Manager
Comment[mi]=Kaiwhakahaere Notes
Comment[mk]=Менаџер за белешки
Comment[ml]=നോട്ട്സ് മാനേജർ
Comment[mn]=Тэмдэглэл менежер
Comment[mr]=नोट्स व्यवस्थापक
Comment[ms]=Pengurus Nota
Comment[mt]=Maniġer tan-Noti
Comment[my]=မှတ်စုမန်နေဂျာ
Comment[ne]=नोट्स प्रबन्धक
Comment[nl]=Notes-beheerder
Comment[no]=Notes Manager
Comment[ny]=Notes Manager
Comment[om]=Bulchaa Yaadannoowwanii
Comment[or]=ଟିପ୍ପଣୀ ପରିଚାଳକ |
Comment[pa]=ਨੋਟਸ ਮੈਨੇਜਰ
Comment[pl]=Menedżer notatek
Comment[ps]=ﺮﯾﺪﻣ ﻮﻧﻮﺘښﺩﺎﯾ ﺩ
Comment[pt]=Gestor de Notas
Comment[qu]=Notas kamachiq
Comment[ro]=Manager de note
Comment[rw]=Icyitonderwa Umuyobozi
Comment[sa]=नोट्स् प्रबन्धकः
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ﺲٽﻮﻧ
Comment[si]=සටහන් කළමනාකරු
Comment[sk]=Správca poznámok
Comment[sl]=Upravitelj opomb
Comment[sm]=Pule o Faamatalaga
Comment[sn]=Notes Manager
Comment[so]=Maamulaha Notes
Comment[sq]=Menaxheri i shënimeve
Comment[st]=Motsamaisi oa Lintlha
Comment[su]=Manajer Catetan
Comment[sv]=Anteckningshanterare
Comment[sw]=Meneja wa Vidokezo
Comment[ta]=குறிப்புகள் மேலாளர்
Comment[te]=నోట్స్ మేనేజర్
Comment[tg]=Менеҷери қайдҳо
Comment[th]=ผู้จัดการบันทึก
Comment[ti]=መዘኻኸሪታት ኣካያዲ
Comment[tk]=Bellikler dolandyryjysy
Comment[tl]=Tagapamahala ng Tala
Comment[to]=Pule ki he Ngaahi Fakamatalá
Comment[tr]=Not Yöneticisi
Comment[ts]=Mufambisi wa Tinhlamuselo
Comment[tt]=Искәрмәләр менеджеры
Comment[tw]=Nsɛm a Wɔahyɛ no Nsow sohwɛfo
Comment[ty]=Te mau nota
Comment[ug]=ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕﺎﮬﺍﺰﯩﺋ
Comment[uk]=Менеджер нотаток
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﺲﭨﻮﻧ
Comment[uz]=Eslatmalar menejeri
Comment[vi]=Trình quản lý ghi chú
Comment[xh]=Umphathi wamanqaku
Comment[yi]=רעגאַנאַמ סעטאָנ
Comment[yo]=Awọn akọsilẹ Manager
Comment[zh]=笔记管理器
Comment[zu]=Umphathi wamanothi
Comment=Notes Manager
Icon=notecase16.xpm
TryExec=notecase
Exec=notecase
Terminal=false
Categories=X-Personal
MimeType=application/notecase-plain;application/notecase-enc;
GenericName=Hierarchical Note Manager
