[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion de notes : NoteCase
Name[de]=NoteCase Notizen-Manager
Name[es]=NoteCase: gestor de notas
Name[ru]=Менеджер заметок NoteCase
Name=NoteCase notes manager
Type=Application
Comment[fr]=Gestion de notes : NoteCase
Comment[de]=Hierarchischer Notizen-Manager
Comment[es]=NoteCase: gestor de notas
Comment[ru]=Менеджер заметок NoteCase
Comment=Notes Manager
Icon=notecase16.xpm
TryExec=notecase
Exec=notecase
Terminal=false
Categories=X-Personal
MimeType=application/notecase-plain;application/notecase-enc;
GenericName=Hierarchical Note Manager
