[Desktop Entry]
Encoding=UTF-8
Name[ar]=Opera ﻦﻣ ﺭﺍﺪﺻﺇ ﺙﺪﺣﺃ ﻞﻴﻤﺤﺗ
Name[bg]=Изтеглете най-новия Opera
Name[cs]=Stáhněte si nejnovější Opera
Name[da]=Download den seneste Opera
Name[nl]=Download de nieuwste Opera
Name[fi]=Lataa uusin Opera
Name[fr]=Télécharger le dernier Opera
Name[de]=Laden Sie die neueste Version von Opera
Name[el]=Κατεβάστε το τελευταίο Opera
Name[hu]=Töltse le a legújabb Opera
Name[it]=Scarica l'ultimo Opera
Name[ja]=最新の Opera をダウンロード
Name[pl]=Pobierz najnowszego Opera
Name[pt]=Baixar Opera mais recente
Name[ru]=Скачать последнюю версию Opera
Name[es]=Descarga la última versión de Opera
Name[sv]=Ladda ner senaste Opera
Name[tr]=Opera son sürümü indirin
Name[zh-CN]=下载最新的 Opera
Name[zh-TW]=下載最新的 Opera
Name=Download latest Opera
Icon=ob-dl-latest.png
Comment=Download latest Opera
Exec=ob-dl-latest
Terminal=false
Type=Application
Categories=X-Internet
GenericName=OBDL
