[Desktop Entry]
Encoding=UTF-8
Name[fr]=Extracteur de fichiers CD audio : Pcdripper
Name[de]=Pcdripper CD Song Ripper
Name[es]=Pcdripper: extractor de canciones de CD
Name[ru]=Pcdripper CD риппер песен
Name=Pcdripper CD song ripper
Icon=mini-cdlabel.xpm
Comment[fr]=Extracteur de fichiers CD audio
Comment[de]=Pcdripper CD Song Ripper
Comment[es]=Pcdripper: extractor de canciones de CD
Comment[ru]=Pcdripper CD риппер песен
Comment=Pcdripper CD song ripper
Exec=/usr/sbin/pcdripper
Terminal=false
Type=Application
Categories=Audio
GenericName=Pcdripper CD song ripper
