[Desktop Entry]
Encoding=UTF-8
Name[fr]=Extracteur de fichiers CD audio : Pcdripper
Name=Pcdripper CD song ripper
Icon=mini-cdlabel.xpm
Comment=Pcdripper CD song ripper
Exec=/usr/sbin/pcdripper
Terminal=false
Type=Application
Categories=Audio
GenericName=Pcdripper CD song ripper
