[Desktop Entry]
Encoding=UTF-8
Name[fr]=Extracteur de fichiers CD audio : Pcdripper
Name[de]=Pcdripper CD Song Ripper
Name=Pcdripper CD song ripper
Icon=mini-cdlabel.xpm
Comment[de]=Pcdripper CD Song Ripper
Comment=Pcdripper CD song ripper
Exec=/usr/sbin/pcdripper
Terminal=false
Type=Application
Categories=Audio
GenericName=Pcdripper CD song ripper
