[Desktop Entry]
Encoding=UTF-8
Name[fr]=Outils horaires : Pclock
Name[de]=pClock-Zeit-Tools
Name[es]=pClock: reloj, cronómetro, cuenta regresiva y alarma
Name[ru]=инструменты времени pClock
Name=pClock time tools
Icon=/usr/share/pixmaps/puppy/clock.svg
Comment[fr]=Outils horaires : Pclock
Comment[de]=pClock-Zeit-Tools
Comment[es]=pClock: reloj, cronómetro, cuenta atrás y alarma
Comment[ru]=инструменты времени pClock
Comment=pClock time tools
Exec=pclock
Terminal=false
Type=Application
Categories=X-Personal-timing
GenericName=pClock
