[Desktop Entry]
Encoding=UTF-8
Name[fr]=Créateur de torrent : Pcreatetorrent
Name=Pcreatetorrent torrent creator
Icon=mini-ftp.xpm
Comment=Pcreatetorrent torrent creator
Exec=/usr/sbin/pcreatetorrent
Terminal=false
Type=Application
Categories=P2P
GenericName=Pcreatetorrent torrent creator
