[Desktop Entry]
Encoding=UTF-8
Name[fr]=Créateur de torrent : Pcreatetorrent
Name[de]=Pcreatetorrent Torrent Ersteller
Name[es]=Pcreatetorrent: crear torrents
Name[ru]=Pcreatetorrent создатель торрентов
Name[tr]=Pcreatetorrent torrent oluşturucu
Name[af]=Pcreatetorrent-torrentskepper
Name[am]=የጅረት ጅረት ፈጣሪ
Name[ar]=Pcreatetorrent torrent ﺞﻣﺎﻧﺮﺑ
Name[as]=Pcreatetorrent টৰেণ্ট সৃষ্টিকৰ্তা
Name[ay]=Pcreatetorrent ukax mä jach’a uñacht’äwiwa
Name[az]=Pcreatetorrent torrent yaradıcısı
Name[ba]=Пкреатторентлы ағымды барлыҡҡа килтереүсе
Name[be]=Стваральнік торэнтаў pcreatetorrent
Name[bg]=Pcreatetorrent създател на торент
Name[bm]=Pcreatetorrent torrent dabɔbaa
Name[bn]=পিক্রিয়েটরেন্ট টরেন্ট স্রষ্টা
Name[bo]=གློག་བརྐོས་གློག་རྒྱུན་གྱི་གློག་རྒྱུན་གསར་གཏོད་བྱེད་མཁན།
Name[bs]=Pcreatetorrent kreator torrenta
Name[ca]=Creador de torrents Pcreatetorrent
Name[co]=Creatore di torrent Pcreatetorrent
Name[cs]=Pcreatetorrent tvůrce torrentu
Name[cy]=Crëwr torrent Pcreatetorrent
Name[da]=Pcreatetorrent torrent skaber
Name[dv]=ރޓައޭރިކް ޓްންރެޓޮ ޓްންރެޓޮޓްއޭރިކްޕީ
Name[ee]=Pcreatetorrent tɔsisi wɔla
Name[el]=Pcreatetorrent δημιουργός torrent
Name[eo]=Pcreatetorrent torento kreinto
Name[et]=Pcreatetorrent torrenti looja
Name[eu]=Pcreatetorrent torrent sortzailea
Name[fa]=Pcreatetorrent ﺖﻧﺭﻮﺗ ﻖﻟﺎﺧ
Name[fi]=Pcreatetorrent torrent-luoja
Name[fj]=Pcreatetorrent torrent Dauveibuli
Name[fo]=Pcreatetorrent torrent skapar
Name[fy]=Pcreatetorrent torrent skepper
Name[ga]=Pcreatetorrent cruthaitheoir torrent
Name[gd]=Pcreatetorrent dealbhadair torrent
Name[gl]=Creador de torrent pcreatetorrent
Name[gn]=Pcreatetorrent torrent apohare
Name[gu]=Pcreatetorrent ટોરેન્ટ સર્જક
Name[ha]=Pcreatetorrent torrent mahalicci
Name[he]=Pcreatetorrent טנרוט רצוי
Name[hi]=Pcreatetorrent टोरेंट क्रिएटर
Name[hr]=Pcreatetorrent kreator torrenta
Name[ht]=Pcreatetorrent kreyatè torrent
Name[hu]=Pcreatetorrent torrent készítő
Name[hy]=Pcreatetorrent torrent ստեղծող
Name[id]=Pembuat torrent pccreatetorrent
Name[ig]=Pcreatetorrent onye okike
Name[is]=Pcreatetorrent straumur skapari
Name[it]=Pcreatetorrent creatore di torrent
Name[iu]=ᕿᓕᖅᓯᓇᐅᔭᖅ
Name[ja]=Pcreatetorrent トレント クリエイター
Name[jv]=Pencipta torrent Pcreatetorrent
Name[ka]=Pcreatetorrent ტორენტის შემქმნელი
Name[kk]=Pcreatetorrent торрент жасаушысы
Name[km]=អ្នកបង្កើត torrent របស់ Pcreatetorrent
Name[kn]=Pcreatetorrent ಟೊರೆಂಟ್ ಸೃಷ್ಟಿಕರ್ತ
Name[ko]=Pcreatetorrent 토렌트 크리에이터
Name[ku]=Pcreatetorrent afirînerê torrent
Name[ky]=Pcreatetorrent торрент жаратуучусу
Name[la]=Pcreatetorrent torrent creator
Name[lb]=Pcreatetorrent Torrent Creator
Name[lg]=Pcreatetorrent omutonzi womugga
Name[ln]=Pcreatetorrent mokeli ya torrent
Name[lo]=ຜູ້ສ້າງ torrent Pcreatetorrent
Name[lt]=Pcreatetorrent torrent kūrėjas
Name[lv]=Pcreatetorrent torrentu veidotājs
Name[mg]=Pcreatetorrent mpamorona torrent
Name[mi]=Pcreatetorrent kaihanga awa
Name[mk]=Создавач на торент на торенти
Name[ml]=Pcreatetorrent ടോറന്റ് സ്രഷ്ടാവ്
Name[mn]=Pcreatetorrent torrent бүтээгч
Name[mr]=Pcreatetorrent torrent creator
Name[ms]=Pencipta torrent Pcreatetorrent
Name[mt]=Pcreatetorrent kreatur tat-torrent
Name[my]=Pcreatetorrent torrent ဖန်တီးသူ
Name[ne]=Pcreatetorrent टोरेन्ट निर्माता
Name[nl]=Pcreatetorrent torrent-maker
Name[no]=Pcreatetorrent torrent-skaper
Name[ny]=Wopanga Pcreatetorrent torrent
Name[om]=Pcreatetorrent uumaa torrent
Name[or]=Pcreatetorrent torrent ସୃଷ୍ଟିକର୍ତ୍ତା |
Name[pa]=Pcreatetorrent torrent ਸਿਰਜਣਹਾਰ
Name[pl]=Kreator torrentów Pcreatetorrent
Name[ps]=Pcreatetorrent torrent creator
Name[pt]=Pcreatetorrent criador de torrent
Name[qu]=Pcreatetorrent torrent kamaq
Name[ro]=Creator de torrent Pcreatetorrent
Name[rw]=Pcreatetorrent torrent irema
Name[sa]=Pcreatetorrent धारा निर्माता
Name[sd]=Pcreatetorrent torrent ﻖﻟﺎﺧ
Name[si]=Pcreatetorrent ටොරන්ට් නිර්මාපකයා
Name[sk]=Pcreatetorrent tvorca torrentu
Name[sl]=Pcreatetorrent ustvarjalec torrentov
Name[sm]=Pcreatetorrent torrent foafoa
Name[sn]=Pcreatetorrent torrent mugadziri
Name[so]=Abuuriyaha torrent
Name[sq]=Krijuesi i torrentit Pcreatetorrent
Name[st]=Moetsi oa torrent ea Pcreatetorrent
Name[su]=Pcreatetorrent panyipta torrent
Name[sv]=Pcreatetorrent torrent skapare
Name[sw]=Muundaji wa mkondo wa Pcreatetorrent
Name[ta]=Pcreatetorrent டொரண்ட் கிரியேட்டர்
Name[te]=Pcreatetorrent టొరెంట్ సృష్టికర్త
Name[tg]=Созандаи торрент барои Torrent
Name[th]=ผู้สร้างฝนตกหนัก Pcreatetorrent
Name[ti]=Pcreatetorrent ፈጣሪ ቶረንት።
Name[tk]=Pcreatetorrent torrent döredijisi
Name[tl]=Pcreatetorrent torrent creator
Name[to]=Pcreatetorrent torrent tupuʻanga
Name[ts]=Pcreatetorrent muvumbi wa xihlovo xa mati
Name[tt]=Pcreatetorrent торрент ясаучы
Name[tw]=Pcreatetorrent asubɔnten abɔfo
Name[ty]=Te mau manao tauturu no te tuatapaparaa e te haapiiraa
Name[ug]=Pcreatetorrent torrent ﻰﺴﯩﭼﺩﺎﺠﯩﺋ
Name[uk]=Pcreatetorrent творець торрентів
Name[ur]=Pcreatetorrent torrent creator
Name[uz]=Pcreatetorrent torrent yaratuvchisi
Name[vi]=Trình tạo torrent Pcreatetorrent
Name[xh]=Umdali we-Pcreatetorrent
Name[yi]=זרעטייירק לבאַמ טנערראָטעטאַערקפּ
Name[yo]=Pcreatetorrent odò Eleda
Name[zh]=Pcreatetorrent 洪流创建者
Name[zu]=Umdali wesifufula se-Pcreatetorrent
Name=Pcreatetorrent torrent creator
Icon=mini-ftp.xpm
Comment[fr]=Créateur de torrent : Pcreatetorrent
Comment[de]=Pcreatetorrent Torrent Ersteller
Comment[es]=Crear torrents
Comment[ru]=Pcreatetorrent создатель торрентов
Comment[tr]=Pcreatetorrent torrent oluşturucu
Comment[af]=Pcreatetorrent-torrentskepper
Comment[am]=የጅረት ጅረት ፈጣሪ
Comment[ar]=Pcreatetorrent torrent ﺞﻣﺎﻧﺮﺑ
Comment[as]=Pcreatetorrent টৰেণ্ট সৃষ্টিকৰ্তা
Comment[ay]=Pcreatetorrent ukax mä jach’a uñacht’äwiwa
Comment[az]=Pcreatetorrent torrent yaradıcısı
Comment[ba]=Пкреатторентлы ағымды барлыҡҡа килтереүсе
Comment[be]=Стваральнік торэнтаў pcreatetorrent
Comment[bg]=Pcreatetorrent създател на торент
Comment[bm]=Pcreatetorrent torrent dabɔbaa
Comment[bn]=পিক্রিয়েটরেন্ট টরেন্ট স্রষ্টা
Comment[bo]=གློག་བརྐོས་གློག་རྒྱུན་གྱི་གློག་རྒྱུན་གསར་གཏོད་བྱེད་མཁན།
Comment[bs]=Pcreatetorrent kreator torrenta
Comment[ca]=Creador de torrents Pcreatetorrent
Comment[co]=Creatore di torrent Pcreatetorrent
Comment[cs]=Pcreatetorrent tvůrce torrentu
Comment[cy]=Crëwr torrent Pcreatetorrent
Comment[da]=Pcreatetorrent torrent skaber
Comment[dv]=ރޓައޭރިކް ޓްންރެޓޮ ޓްންރެޓޮޓްއޭރިކްޕީ
Comment[ee]=Pcreatetorrent tɔsisi wɔla
Comment[el]=Pcreatetorrent δημιουργός torrent
Comment[eo]=Pcreatetorrent torento kreinto
Comment[et]=Pcreatetorrent torrenti looja
Comment[eu]=Pcreatetorrent torrent sortzailea
Comment[fa]=Pcreatetorrent ﺖﻧﺭﻮﺗ ﻖﻟﺎﺧ
Comment[fi]=Pcreatetorrent torrent-luoja
Comment[fj]=Pcreatetorrent torrent Dauveibuli
Comment[fo]=Pcreatetorrent torrent skapar
Comment[fy]=Pcreatetorrent torrent skepper
Comment[ga]=Pcreatetorrent cruthaitheoir torrent
Comment[gd]=Pcreatetorrent dealbhadair torrent
Comment[gl]=Creador de torrent pcreatetorrent
Comment[gn]=Pcreatetorrent torrent apohare
Comment[gu]=Pcreatetorrent ટોરેન્ટ સર્જક
Comment[ha]=Pcreatetorrent torrent mahalicci
Comment[he]=Pcreatetorrent טנרוט רצוי
Comment[hi]=Pcreatetorrent टोरेंट क्रिएटर
Comment[hr]=Pcreatetorrent kreator torrenta
Comment[ht]=Pcreatetorrent kreyatè torrent
Comment[hu]=Pcreatetorrent torrent készítő
Comment[hy]=Pcreatetorrent torrent ստեղծող
Comment[id]=Pembuat torrent pccreatetorrent
Comment[ig]=Pcreatetorrent onye okike
Comment[is]=Pcreatetorrent straumur skapari
Comment[it]=Pcreatetorrent creatore di torrent
Comment[iu]=ᕿᓕᖅᓯᓇᐅᔭᖅ
Comment[ja]=Pcreatetorrent トレント クリエイター
Comment[jv]=Pencipta torrent Pcreatetorrent
Comment[ka]=Pcreatetorrent ტორენტის შემქმნელი
Comment[kk]=Pcreatetorrent торрент жасаушысы
Comment[km]=អ្នកបង្កើត torrent របស់ Pcreatetorrent
Comment[kn]=Pcreatetorrent ಟೊರೆಂಟ್ ಸೃಷ್ಟಿಕರ್ತ
Comment[ko]=Pcreatetorrent 토렌트 크리에이터
Comment[ku]=Pcreatetorrent afirînerê torrent
Comment[ky]=Pcreatetorrent торрент жаратуучусу
Comment[la]=Pcreatetorrent torrent creator
Comment[lb]=Pcreatetorrent Torrent Creator
Comment[lg]=Pcreatetorrent omutonzi womugga
Comment[ln]=Pcreatetorrent mokeli ya torrent
Comment[lo]=ຜູ້ສ້າງ torrent Pcreatetorrent
Comment[lt]=Pcreatetorrent torrent kūrėjas
Comment[lv]=Pcreatetorrent torrentu veidotājs
Comment[mg]=Pcreatetorrent mpamorona torrent
Comment[mi]=Pcreatetorrent kaihanga awa
Comment[mk]=Создавач на торент на торенти
Comment[ml]=Pcreatetorrent ടോറന്റ് സ്രഷ്ടാവ്
Comment[mn]=Pcreatetorrent torrent бүтээгч
Comment[mr]=Pcreatetorrent torrent creator
Comment[ms]=Pencipta torrent Pcreatetorrent
Comment[mt]=Pcreatetorrent kreatur tat-torrent
Comment[my]=Pcreatetorrent torrent ဖန်တီးသူ
Comment[ne]=Pcreatetorrent टोरेन्ट निर्माता
Comment[nl]=Pcreatetorrent torrent-maker
Comment[no]=Pcreatetorrent torrent-skaper
Comment[ny]=Wopanga Pcreatetorrent torrent
Comment[om]=Pcreatetorrent uumaa torrent
Comment[or]=Pcreatetorrent torrent ସୃଷ୍ଟିକର୍ତ୍ତା |
Comment[pa]=Pcreatetorrent torrent ਸਿਰਜਣਹਾਰ
Comment[pl]=Kreator torrentów Pcreatetorrent
Comment[ps]=Pcreatetorrent torrent creator
Comment[pt]=Pcreatetorrent criador de torrent
Comment[qu]=Pcreatetorrent torrent kamaq
Comment[ro]=Creator de torrent Pcreatetorrent
Comment[rw]=Pcreatetorrent torrent irema
Comment[sa]=Pcreatetorrent धारा निर्माता
Comment[sd]=Pcreatetorrent torrent ﻖﻟﺎﺧ
Comment[si]=Pcreatetorrent ටොරන්ට් නිර්මාපකයා
Comment[sk]=Pcreatetorrent tvorca torrentu
Comment[sl]=Pcreatetorrent ustvarjalec torrentov
Comment[sm]=Pcreatetorrent torrent foafoa
Comment[sn]=Pcreatetorrent torrent mugadziri
Comment[so]=Abuuriyaha torrent
Comment[sq]=Krijuesi i torrentit Pcreatetorrent
Comment[st]=Moetsi oa torrent ea Pcreatetorrent
Comment[su]=Pcreatetorrent panyipta torrent
Comment[sv]=Pcreatetorrent torrent skapare
Comment[sw]=Muundaji wa mkondo wa Pcreatetorrent
Comment[ta]=Pcreatetorrent டொரண்ட் கிரியேட்டர்
Comment[te]=Pcreatetorrent టొరెంట్ సృష్టికర్త
Comment[tg]=Созандаи торрент барои Torrent
Comment[th]=ผู้สร้างฝนตกหนัก Pcreatetorrent
Comment[ti]=Pcreatetorrent ፈጣሪ ቶረንት።
Comment[tk]=Pcreatetorrent torrent döredijisi
Comment[tl]=Pcreatetorrent torrent creator
Comment[to]=Pcreatetorrent torrent tupuʻanga
Comment[ts]=Pcreatetorrent muvumbi wa xihlovo xa mati
Comment[tt]=Pcreatetorrent торрент ясаучы
Comment[tw]=Pcreatetorrent asubɔnten abɔfo
Comment[ty]=Te mau manao tauturu no te tuatapaparaa e te haapiiraa
Comment[ug]=Pcreatetorrent torrent ﻰﺴﯩﭼﺩﺎﺠﯩﺋ
Comment[uk]=Pcreatetorrent творець торрентів
Comment[ur]=Pcreatetorrent torrent creator
Comment[uz]=Pcreatetorrent torrent yaratuvchisi
Comment[vi]=Trình tạo torrent Pcreatetorrent
Comment[xh]=Umdali we-Pcreatetorrent
Comment[yi]=זרעטייירק לבאַמ טנערראָטעטאַערקפּ
Comment[yo]=Pcreatetorrent odò Eleda
Comment[zh]=Pcreatetorrent 洪流创建者
Comment[zu]=Umdali wesifufula se-Pcreatetorrent
Comment=Pcreatetorrent torrent creator
Exec=/usr/sbin/pcreatetorrent
Terminal=false
Type=Application
Categories=P2P
GenericName=Pcreatetorrent torrent creator
