[Desktop Entry]
Encoding=UTF-8
Name[fr]=Télécharger un torrent : Pctorrent
Name[de]=Pctorrent torrent herunterladen
Name[es]=Pctorrent: descargar torrents
Name[ru]=Pctorrent скачивание торрентов
Name[tr]=Pctorrent torrent indirici
Name[af]=Pctorrent torrent aflaai
Name[am]=Pctorren torrent ማውረድ
Name[ar]=Pctorrent torrent ﻞﻴﻤﺤﺗ
Name[as]=Pctorrent টৰেণ্ট ডাউনলোড
Name[ay]=Pctorrent torrent ukax mä juk’a pachanakanwa
Name[az]=Pctorrent torrent vasitəsilə download
Name[ba]=Пкторрант ағымын йөкләү
Name[be]=Спампаваць праз торэнт pctorrent
Name[bg]=Pctorrent изтегляне на торент
Name[bm]=Pctorrent torrent ka telesarse
Name[bn]=পিক্টরেন্ট টরেন্ট ডাউনলোড
Name[bo]=Pctorrent torrent ཕབ་ལེན་བྱས་པ།
Name[bs]=Ptorrent preuzimanje torrenta
Name[ca]=Baixa torrent de Pctorrent
Name[co]=Scarica torrent pctorrent
Name[cs]=Pctorrent ke stažení torrent
Name[cy]=Pctorrent lawrlwytho torrent
Name[da]=Pctorrent torrent download
Name[dv]=ޑްލޯންއުޑަ ޓްންރެޓޮ ޓްންރެޓޯކްޕީ
Name[ee]=Pctorrent tɔsisi ƒe kɔpi
Name[el]=Λήψη pctorrent torrent
Name[eo]=Pctorrent elŝuto de torento
Name[et]=Pctorrent torrent allalaadimine
Name[eu]=Pctorrent torrent deskarga
Name[fa]=pctorrent ﺖﻧﺭﻮﺗ ﺩﻮﻠﻧﺍﺩ
Name[fi]=Pctorrent torrent lataus
Name[fj]=Pctorrent torrent lavetaki
Name[fo]=Pctorrent torrent download
Name[fy]=Pctorrent torrent download
Name[ga]=Pctorrent íosluchtaigh torrent
Name[gd]=Pctorrent torrent luchdadh a-nuas
Name[gl]=Pctorrent descargar torrent
Name[gn]=Pctorrent torrent ñemboguejy
Name[gu]=Pctorrent ટોરેન્ટ ડાઉનલોડ
Name[ha]=Pctorren torrent download
Name[he]=Pctorrent טנרוט תדרוה
Name[hi]=Pctorrent टोरेंट डाउनलोड
Name[hr]=Pctorrent preuzimanje torrenta
Name[ht]=Pctorrent telechaje torrent
Name[hu]=Pctorrent torrent letöltés
Name[hy]=Pctorrent torrent ներբեռնում
Name[id]=Unduh torrent torrent
Name[ig]=Pctorrent iyi nbudata
Name[is]=Pctorrent til að sækja
Name[it]=Scarica pctorrent tramite torrent
Name[iu]=Pctorrent torrent ᒥᓇᕆᓗᒍ
Name[ja]=Pctorrent トレント ダウンロード
Name[jv]=Unduh torrent pctorrent
Name[ka]=Pctorrent ტორენტის ჩამოტვირთვა
Name[kk]=Pctorrent торрент арқылы жүктеп алу
Name[km]=ទាញយក Pctorrent torrent
Name[kn]=Pctorrent ಟೊರೆಂಟ್ ಡೌನ್u200cಲೋಡ್
Name[ko]=Ptorrent 토렌트 다운로드
Name[ku]=Pctorrent torrent dakêşin
Name[ky]=Pctorrent torrent аркылуу жүктөө
Name[la]=Pctorrent torrent download
Name[lb]=Pctorrent torrent download
Name[lg]=Pctorrent omugga okuwanula
Name[ln]=Pctorrent torrent ya kozwa
Name[lo]=ດາວໂຫຼດ torrent Pctorrent
Name[lt]=Pctorrent torrent parsisiųsti
Name[lv]=Pctorrent torrent lejupielāde
Name[mg]=Pctorrent torrent download
Name[mi]=Ptorrent torrent download
Name[mk]=Pctorrent torrent преземање
Name[ml]=Pctorrent ടോറന്റ് ഡൗൺലോഡ്
Name[mn]=Pctorrent torrent татаж авах
Name[mr]=Pctorrent टोरेंट डाउनलोड
Name[ms]=Muat turun torrent pctorrent
Name[mt]=Niżżel it-torrent Pctorrent
Name[my]=Pctorrent torrent ဒေါင်းလုဒ်လုပ်ပါ။
Name[ne]=Pctorrent टोरेन्ट डाउनलोड
Name[nl]=Ptorrent torrent download
Name[no]=Last ned Pctorrent torrent
Name[ny]=Pctorrent torrent download
Name[om]=Pctorrent torrent buufachuu
Name[or]=Pctorrent torrent ଡାଉନଲୋଡ୍ |
Name[pa]=Pctorrent torrent ਡਾਊਨਲੋਡ ਕਰੋ
Name[pl]=Pctorrent do pobrania przez torrent
Name[ps]=ﺩﻮﻠﻧﺍﺩ Pctorrent torrent ﺩ
Name[pt]=Pctorrent torrent baixar
Name[qu]=Pctorrent torrent nisqamanta hurquy
Name[ro]=Pctorrent descărcare torrent
Name[rw]=Pctorrent torrent
Name[sa]=Pctorrent धारा डाउनलोड
Name[sd]=Pctorrent torrent ڊﻮﻟ ﻥﻮﺋﺍڊ
Name[si]=Pctorrent ටොරන්ට් බාගත කිරීම
Name[sk]=sťahovanie torrent pctorrent
Name[sl]=Pctorrent prenos torrenta
Name[sm]=Pctorrent torrent download
Name[sn]=Pctorrent torrent download
Name[so]=Soo dejiso torrent
Name[sq]=Shkarkim pctorrent torrent
Name[st]=Pctorrent torrent download
Name[su]=Unduh torrent torrent
Name[sv]=Ladda ner Pctorrent torrent
Name[sw]=Pakua mkondo wa Pctorrent
Name[ta]=Pctorrent டொரண்ட் பதிவிறக்கம்
Name[te]=Pctorrent టొరెంట్ డౌన్u200cలోడ్
Name[tg]=Pctorrent torrent зеркашӣ
Name[th]=ดาวน์โหลดทอร์เรนต์ pctorrent
Name[ti]=Pctorrent ቶረንት ምውራድ
Name[tk]=Pctorrent torrent göçürip almak
Name[tl]=Pctorrent torrent download
Name[to]=Pctorrent torrent download
Name[ts]=Pctorrent xitombo xa xirhendzevutani
Name[tt]=Pctorrent торрент йөкләү
Name[tw]=Pctorrent torrent a wɔde bɛtwe
Name[ty]=Te mau manao tauturu no te haapiiraa e te avatea
Name[ug]=Pctorrent torrent download
Name[uk]=Pctorrent завантажити через торрент
Name[ur]=Pctorrent ﮈﻮﻟ ﻥﺅﺍﮈ ﭧﻨﯾﺭﻮﭨ
Name[uz]=Pctorrent torrent orqali yuklab olish
Name[vi]=tải torrent pctorrent
Name[xh]=Ukhuphelo lwePctorrent torrent
Name[yi]=עיפאקפארא לבאַמ טנעררוטקפּ
Name[yo]=Pctorrent odò download
Name[zh]=Pctorrent 洪流下载
Name[zu]=Landa i-Pctorrent torrent
Name=Pctorrent torrent download
Icon=mini-ftp.xpm
Comment[fr]=Télécharger un torrent : Pctorrent
Comment[de]=Pctorrent torrent herunterladen
Comment[es]=Descargar torrents
Comment[ru]=скачать торрент через Ptorrent
Comment[tr]=Pctorrent torrent indirici
Comment[af]=Pctorrent torrent aflaai
Comment[am]=Pctorren torrent ማውረድ
Comment[ar]=Pctorrent torrent ﻞﻴﻤﺤﺗ
Comment[as]=Pctorrent টৰেণ্ট ডাউনলোড
Comment[ay]=Pctorrent torrent ukax mä juk’a pachanakanwa
Comment[az]=Pctorrent torrent vasitəsilə download
Comment[ba]=Пкторрант ағымын йөкләү
Comment[be]=Спампаваць праз торэнт pctorrent
Comment[bg]=Pctorrent изтегляне на торент
Comment[bm]=Pctorrent torrent ka telesarse
Comment[bn]=পিক্টরেন্ট টরেন্ট ডাউনলোড
Comment[bo]=Pctorrent torrent ཕབ་ལེན་བྱས་པ།
Comment[bs]=Ptorrent preuzimanje torrenta
Comment[ca]=Baixa torrent de Pctorrent
Comment[co]=Scarica torrent pctorrent
Comment[cs]=Pctorrent ke stažení torrent
Comment[cy]=Pctorrent lawrlwytho torrent
Comment[da]=Pctorrent torrent download
Comment[dv]=ޑްލޯންއުޑަ ޓްންރެޓޮ ޓްންރެޓޯކްޕީ
Comment[ee]=Pctorrent tɔsisi ƒe kɔpi
Comment[el]=Λήψη pctorrent torrent
Comment[eo]=Pctorrent elŝuto de torento
Comment[et]=Pctorrent torrent allalaadimine
Comment[eu]=Pctorrent torrent deskarga
Comment[fa]=pctorrent ﺖﻧﺭﻮﺗ ﺩﻮﻠﻧﺍﺩ
Comment[fi]=Pctorrent torrent lataus
Comment[fj]=Pctorrent torrent lavetaki
Comment[fo]=Pctorrent torrent download
Comment[fy]=Pctorrent torrent download
Comment[ga]=Pctorrent íosluchtaigh torrent
Comment[gd]=Pctorrent torrent luchdadh a-nuas
Comment[gl]=Pctorrent descargar torrent
Comment[gn]=Pctorrent torrent ñemboguejy
Comment[gu]=Pctorrent ટોરેન્ટ ડાઉનલોડ
Comment[ha]=Pctorren torrent download
Comment[he]=Pctorrent טנרוט תדרוה
Comment[hi]=Pctorrent टोरेंट डाउनलोड
Comment[hr]=Pctorrent preuzimanje torrenta
Comment[ht]=Pctorrent telechaje torrent
Comment[hu]=Pctorrent torrent letöltés
Comment[hy]=Pctorrent torrent ներբեռնում
Comment[id]=Unduh torrent torrent
Comment[ig]=Pctorrent iyi nbudata
Comment[is]=Pctorrent til að sækja
Comment[it]=Scarica pctorrent tramite torrent
Comment[iu]=Pctorrent torrent ᒥᓇᕆᓗᒍ
Comment[ja]=Pctorrent トレント ダウンロード
Comment[jv]=Unduh torrent pctorrent
Comment[ka]=Pctorrent ტორენტის ჩამოტვირთვა
Comment[kk]=Pctorrent торрент арқылы жүктеп алу
Comment[km]=ទាញយក Pctorrent torrent
Comment[kn]=Pctorrent ಟೊರೆಂಟ್ ಡೌನ್u200cಲೋಡ್
Comment[ko]=Ptorrent 토렌트 다운로드
Comment[ku]=Pctorrent torrent dakêşin
Comment[ky]=Pctorrent torrent аркылуу жүктөө
Comment[la]=Pctorrent torrent download
Comment[lb]=Pctorrent torrent download
Comment[lg]=Pctorrent omugga okuwanula
Comment[ln]=Pctorrent torrent ya kozwa
Comment[lo]=ດາວໂຫຼດ torrent Pctorrent
Comment[lt]=Pctorrent torrent parsisiųsti
Comment[lv]=Pctorrent torrent lejupielāde
Comment[mg]=Pctorrent torrent download
Comment[mi]=Ptorrent torrent download
Comment[mk]=Pctorrent torrent преземање
Comment[ml]=Pctorrent ടോറന്റ് ഡൗൺലോഡ്
Comment[mn]=Pctorrent torrent татаж авах
Comment[mr]=Pctorrent टोरेंट डाउनलोड
Comment[ms]=Muat turun torrent pctorrent
Comment[mt]=Niżżel it-torrent Pctorrent
Comment[my]=Pctorrent torrent ဒေါင်းလုဒ်လုပ်ပါ။
Comment[ne]=Pctorrent टोरेन्ट डाउनलोड
Comment[nl]=Ptorrent torrent download
Comment[no]=Last ned Pctorrent torrent
Comment[ny]=Pctorrent torrent download
Comment[om]=Pctorrent torrent buufachuu
Comment[or]=Pctorrent torrent ଡାଉନଲୋଡ୍ |
Comment[pa]=Pctorrent torrent ਡਾਊਨਲੋਡ ਕਰੋ
Comment[pl]=Pctorrent do pobrania przez torrent
Comment[ps]=ﺩﻮﻠﻧﺍﺩ Pctorrent torrent ﺩ
Comment[pt]=Pctorrent torrent baixar
Comment[qu]=Pctorrent torrent nisqamanta hurquy
Comment[ro]=Pctorrent descărcare torrent
Comment[rw]=Pctorrent torrent
Comment[sa]=Pctorrent धारा डाउनलोड
Comment[sd]=Pctorrent torrent ڊﻮﻟ ﻥﻮﺋﺍڊ
Comment[si]=Pctorrent ටොරන්ට් බාගත කිරීම
Comment[sk]=sťahovanie torrent pctorrent
Comment[sl]=Pctorrent prenos torrenta
Comment[sm]=Pctorrent torrent download
Comment[sn]=Pctorrent torrent download
Comment[so]=Soo dejiso torrent
Comment[sq]=Shkarkim pctorrent torrent
Comment[st]=Pctorrent torrent download
Comment[su]=Unduh torrent torrent
Comment[sv]=Ladda ner Pctorrent torrent
Comment[sw]=Pakua mkondo wa Pctorrent
Comment[ta]=Pctorrent டொரண்ட் பதிவிறக்கம்
Comment[te]=Pctorrent టొరెంట్ డౌన్u200cలోడ్
Comment[tg]=Pctorrent torrent зеркашӣ
Comment[th]=ดาวน์โหลดทอร์เรนต์ pctorrent
Comment[ti]=Pctorrent ቶረንት ምውራድ
Comment[tk]=Pctorrent torrent göçürip almak
Comment[tl]=Pctorrent torrent download
Comment[to]=Pctorrent torrent download
Comment[ts]=Pctorrent xitombo xa xirhendzevutani
Comment[tt]=Pctorrent торрент йөкләү
Comment[tw]=Pctorrent torrent a wɔde bɛtwe
Comment[ty]=Te mau manao tauturu no te haapiiraa e te avatea
Comment[ug]=Pctorrent torrent download
Comment[uk]=Pctorrent завантажити через торрент
Comment[ur]=Pctorrent ﮈﻮﻟ ﻥﺅﺍﮈ ﭧﻨﯾﺭﻮﭨ
Comment[uz]=Pctorrent torrent orqali yuklab olish
Comment[vi]=tải torrent pctorrent
Comment[xh]=Ukhuphelo lwePctorrent torrent
Comment[yi]=עיפאקפארא לבאַמ טנעררוטקפּ
Comment[yo]=Pctorrent odò download
Comment[zh]=Pctorrent 洪流下载
Comment[zu]=Landa i-Pctorrent torrent
Comment=Pctorrent torrent download
Exec=/usr/sbin/pctorrent
Terminal=false
Type=Application
Categories=P2P
GenericName=Pctorrent
