[Desktop Entry]
Encoding=UTF-8
Name[fr]=Télécharger un torrent : Pctorrent
Name[de]=Pctorrent torrent herunterladen
Name[es]=Pctorrent: descargar torrents
Name[ru]=скачать торрент через Ptorrent
Name[tr]=Pctorrent torrent indirici
Name=Pctorrent torrent download
Icon=mini-ftp.xpm
Comment[fr]=Télécharger un torrent : Pctorrent
Comment[de]=Pctorrent torrent herunterladen
Comment[es]=Descargar torrents
Comment[ru]=скачать торрент через Ptorrent
Comment[tr]=Pctorrent torrent indirici
Comment=Pctorrent torrent download
Exec=/usr/sbin/pctorrent
Terminal=false
Type=Application
Categories=P2P
GenericName=Pctorrent
