[Desktop Entry]
Encoding=UTF-8
Name[fr]=Télécharger un torrent : Pctorrent
Name=Pctorrent torrent download
Icon=mini-ftp.xpm
Comment=Pctorrent torrent download
Exec=/usr/sbin/pctorrent
Terminal=false
Type=Application
Categories=P2P
GenericName=Pctorrent
