[Desktop Entry]
Encoding=UTF-8
Name[de]=Pdvdrip DVD-Ripper und MKV-Encoder
Name[fr]=Extracteur DVD et encodeur MKV : Pdvdrip
Name[es]=Pdvdrip: extractor de DVD y codificador MKV
Name=Pdvdrip DVD ripper and MKV encoder
Icon=/usr/share/pixmaps/puppy/cd_rip.svg
Comment[de]=Pdvdrip DVD-Ripper und MKV-Encoder
Comment[fr]=Pdvdrip Extracteur de DVD et encodeur MKV
Comment[es]=Pdvdrip: extractor de DVD y codificador MKV
Comment=Pdvdrip DVD ripper and MKV encoder
Exec=pdvdrip
Terminal=false
Type=Application
Categories=X-Multimedia-optical
GenericName=Pdvdrip
