[Desktop Entry]
Encoding=UTF-8
Name=Pdvdrip DVD ripper and MKV encoder
Name[fr]=Extracteur DVD et encodeur MKV : Pdvdrip
Icon=/usr/share/pixmaps/puppy/cd_rip.svg
Comment=Pdvdrip DVD ripper and MKV encoder
Comment[fr]=Pdvdrip Extracteur de DVD et encodeur MKV
Exec=pdvdrip
Terminal=false
Type=Application
Categories=X-Multimedia-optical
GenericName=Pdvdrip
