[Desktop Entry]
Encoding=UTF-8
Name[fr]=Redimensionner des images : PeasyScale
Name=PeasyScale JPEG resizer
Icon=mini-BuildingBlock.xpm
Icon=mini-BuildingBlock.xpm
Comment=JPEG image resizer
Exec=peasyscale
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=PeasyScale
