[Desktop Entry]
Encoding=UTF-8
Name[de]=Software zur Analyse von PeasyPort LAN
Name[fr]=Rechercher un réseau local : PeasyPort
Name[es]=PeasyPort: escanear puertos de red local 
Name=PeasyPort LAN scanner
Icon=/usr/share/pixmaps/peasyport.png
Comment[de]=Netzwerk-Port-Scanner
Comment[es]=PeasyPort: escanear puertos de red local
Comment=Network port scanner
Exec=peasyport
Terminal=false
Type=Application
Categories=X-Network-utility
GenericName=PeasyPort
