[Desktop Entry]
Encoding=UTF-8
Name[fr]=Convertir/créer/extraire des PDF : PeasyPDF
Name=PeasyPDF convert/join/extract
Icon=mini-BuildingBlock.xpm
Icon=mini-BuildingBlock.xpm
Comment=Manipulate PDF documents
Exec=peasypdf
Terminal=false
Type=Application
Categories=X-DocumentUtility
GenericName=PeasyPDF
