[Desktop Entry]
Encoding=UTF-8
Name[de]=Software zur Analyse von PeasyPort LAN
Name[fr]=Rechercher un réseau local : PeasyPort
Name[es]=PeasyPort: escanear puertos de red local 
Name[af]=PeasyPort LAN-skandeerder
Name[am]=PeasyPort LAN ስካነር
Name[ar]=PeasyPort LAN ﻲﺋﻮﻀﻟﺍ ﺢﺳﺎﻤﻟﺍ
Name[as]=PeasyPort LAN স্ক্যানাৰ
Name[ay]=PeasyPort LAN ukax mä escáner ukhamawa
Name[az]=PeasyPort LAN skaneri
Name[ba]=PeasyPort LAN сканеры
Name[be]=Сканер PeasyPort LAN
Name[bg]=PeasyPort LAN скенер
Name[bm]=PeasyPort LAN sɛgɛsɛgɛlikɛlan
Name[bn]=PeasyPort LAN স্ক্যানার
Name[bo]=སྲན་མའི་སྤོ་ལོ་LANབརྟག་དཔྱད་ཡོ་བྱད།
Name[bs]=PeasyPort LAN skener
Name[ca]=Escàner LAN PeasyPort
Name[co]=Scanner PeasyPort LAN
Name[cs]=PeasyPort LAN skener
Name[cy]=Sganiwr LAN PeasyPort
Name[da]=PeasyPort LAN scanner
Name[dv]=ވެރެނަކޭސް ންލޭ ޓްޕޯޒީޕީ
Name[ee]=PeasyPort LAN ƒe nukpɔkpɔmɔ̃
Name[el]=Σαρωτής LAN PeasyPort
Name[eo]=PeasyPort LAN-skanilo
Name[et]=PeasyPort LAN-skanner
Name[eu]=PeasyPort LAN eskanerra
Name[fa]=LAN PeasyPort ﺮﻨﮑﺳﺍ
Name[fi]=PeasyPort LAN-skanneri
Name[fj]=Sikena LAN ni PeasyPort
Name[fo]=PeasyPort LAN scanner
Name[fy]=PeasyPort LAN scanner
Name[ga]=Peasyport scanóir LAN
Name[gd]=Luchdaich a-nuas scanner LAN Peasyport
Name[gl]=Escáner LAN PeasyPort
Name[gn]=PeasyPort LAN rehegua
Name[gu]=પીસીપોર્ટ લેન સ્કેનર
Name[ha]=PeasyPort LAN naurar daukar hotan takardu
Name[he]=PeasyPort לש LAN קרוס
Name[hi]=पेसीपोर्ट लैन स्कैनर
Name[hr]=PeasyPort LAN skener
Name[ht]=PeasyPort LAN eskanè
Name[hu]=PeasyPort LAN szkenner
Name[hy]=PeasyPort LAN սկաներ
Name[id]=Pemindai LAN PeasyPort
Name[ig]=PeasyPort LAN nyocha
Name[is]=PeasyPort LAN skanni
Name[it]=Scanner LAN PeasyPort
Name[iu]=ᐲᓯᒥᑎᕚᒃ LAN ᐊᔾᔨᓕᐅᕈᑎ
Name[ja]=PeasyPort LANスキャナ
Name[jv]=Pemindai LAN PeasyPort
Name[ka]=PeasyPort LAN სკანერი
Name[kk]=PeasyPort LAN сканері
Name[km]=ម៉ាស៊ីនស្កេន PeasyPort LAN
Name[kn]=PeasyPort LAN ಸ್ಕ್ಯಾನರ್
Name[ko]=PeasyPort LAN 스캐너
Name[ku]=Skanera LAN PeasyPort
Name[ky]=PeasyPort LAN сканери
Name[la]=PeasyPort LAN scanner
Name[lb]=PeasyPort LAN Scanner
Name[lg]=Sikaani ya LAN eya PeasyPort
Name[ln]=Scanner LAN ya PeasyPort
Name[lo]=ເຄື່ອງສະແກນ PeasyPort LAN
Name[lt]=PeasyPort LAN skaitytuvas
Name[lv]=PeasyPort LAN skeneris
Name[mg]=PeasyPort LAN scanner
Name[mi]=PeasyPort LAN matawai
Name[mk]=PeasyPort LAN скенер
Name[ml]=PeasyPort LAN സ്കാനർ
Name[mn]=PeasyPort LAN сканнер
Name[mr]=PeasyPort LAN स्कॅनर
Name[ms]=Pengimbas LAN PeasyPort
Name[mt]=PeasyPort LAN scanner
Name[my]=PeasyPort LAN စကင်နာ
Name[ne]=PeasyPort LAN स्क्यानर
Name[nl]=PeasyPort LAN-scanner
Name[no]=PeasyPort LAN-skanner
Name[ny]=PeasyPort LAN scanner
Name[om]=Iskaanara LAN PeasyPort
Name[or]=PeasyPort LAN ସ୍କାନର୍ |
Name[pa]=PeasyPort LAN ਸਕੈਨਰ
Name[pl]=Skaner sieci LAN PeasyPort
Name[ps]=ﺮﻨﯿﮑﺳ PeasyPort LAN ﺩ
Name[pt]=Scanner de LAN PeasyPort
Name[qu]=PeasyPort LAN nisqa escáner nisqa
Name[ro]=Scaner LAN PeasyPort
Name[ru]=Сканер локальной сети PeasyPort
Name[rw]=Scaneri ya PeasyPort
Name[sa]=PeasyPort LAN स्कैनर
Name[sd]=PeasyPort LAN ﺮﻨﻴڪﺳﺍ
Name[si]=PeasyPort LAN ස්කෑනරය
Name[sk]=LAN skener PeasyPort
Name[sl]=PeasyPort LAN skener
Name[sm]=PeasyPort LAN scanner
Name[sn]=PeasyPort LAN scanner
Name[so]=PeasyPort LAN scanner
Name[sq]=Skaneri LAN PeasyPort
Name[st]=PeasyPort LAN scanner
Name[su]=PeasyPort LAN scanner
Name[sv]=PeasyPort LAN-skanner
Name[sw]=Kichanganuzi cha LAN cha PeasyPort
Name[ta]=PeasyPort LAN ஸ்கேனர்
Name[te]=PeasyPort LAN స్కానర్
Name[tg]=Сканери LAN PeasyPort
Name[th]=สแกนเนอร์ PeasyPort LAN
Name[ti]=ፒዚፖርት ላን ስካነር
Name[tk]=PeasyPort LAN skaneri
Name[tl]=PeasyPort LAN scanner
Name[to]=PeasyPort LAN scanner
Name[tr]=PeasyPort LAN tarayıcı
Name[ts]=Xikeni xa LAN xa PeasyPort
Name[tt]=PeasyPort LAN сканеры
Name[tw]=PeasyPort LAN scanner a wɔde hwehwɛ nneɛma mu
Name[ty]=PeasyPort LAN scanner
Name[ug]=PeasyPort LAN ﭺﯘﻐﯩﻠﯩﻳﺎﺳ
Name[uk]=Сканер локальної мережі PeasyPort
Name[ur]=PeasyPort LAN ﺮﻨﯿﮑﺳ
Name[uz]=PeasyPort LAN skaneri
Name[vi]=Máy quét LAN PeasyPort
Name[xh]=PeasyPort LAN iskena
Name[yi]=PeasyPort רעננאַקס ןאַל
Name[yo]=PeasyPort LAN scanner
Name[zh]=PeasyPort 局域网扫描仪
Name[zu]=Iskena se-PeasyPort LAN
Name=PeasyPort LAN scanner
Icon=/usr/share/pixmaps/peasyport.png
Comment[de]=Netzwerk-Port-Scanner
Comment[es]=PeasyPort: escanear puertos de red local
Comment[af]=Netwerkpoort skandeerder
Comment[am]=የአውታረ መረብ ወደብ ስካነር
Comment[ar]=ﺔﻜﺒﺸﻟﺍ ﺬﻓﺎﻨﻤﻟ ﻲﺋﻮﻀﻟﺍ ﺢﺳﺎﻤﻟﺍ
Comment[as]=নেটৱৰ্ক পৰ্ট স্ক্যানাৰ
Comment[ay]=Red puerto ukax mä escáner ukhamawa
Comment[az]=Şəbəkə port skaneri
Comment[ba]=Селтәр портын сканерлаусы
Comment[be]=Сканер сеткавых партоў
Comment[bg]=Скенер за мрежови портове
Comment[bm]=Réseau port sɛgɛsɛgɛlikɛlan
Comment[bn]=নেটওয়ার্ক পোর্ট স্ক্যানার
Comment[bo]=དྲ་རྒྱའི་འགག་སྒོ་བརྟག་དཔྱད་ཡོ་ཆས།
Comment[bs]=Skener mrežnih portova
Comment[ca]=Escàner de ports de xarxa
Comment[co]=Scanner di portu di rete
Comment[cs]=Skener síťových portů
Comment[cy]=Sganiwr porthladd rhwydwaith
Comment[da]=Netværksport scanner
Comment[dv]=ރނަކޭސް ޓްޕޯ ކްވޯޓްނެ
Comment[ee]=Network melidzeƒea ƒe scanner
Comment[el]=Σαρωτής θύρας δικτύου
Comment[eo]=Reta havena skanilo
Comment[et]=Võrgupordi skanner
Comment[eu]=Sareko ataka eskanerra
Comment[fa]=ﻪﮑﺒﺷ ﺕﺭﻮﭘ ﺮﻨﮑﺳﺍ
Comment[fi]=Verkkoportin skanneri
Comment[fj]=iYaloyalo ni waqa ni ilawalawa vakacakacaka
Comment[fo]=Network port scanner
Comment[fr]=Analyseur de port réseau
Comment[fy]=Netwurk haven scanner
Comment[ga]=Scanóir port líonra
Comment[gd]=Luchdaich a-nuas an lìonra port scanner
Comment[gl]=Escáner de portos de rede
Comment[gn]=Escáner puerto red rehegua
Comment[gu]=નેટવર્ક પોર્ટ સ્કેનર
Comment[ha]=Naurar daukar hoto ta hanyar sadarwa
Comment[he]=תשר תואיצי קרוס
Comment[hi]=नेटवर्क पोर्ट स्कैनर
Comment[hr]=Skener mrežnih priključaka
Comment[ht]=Scanner pò rezo
Comment[hu]=Hálózati port szkenner
Comment[hy]=Ցանցային պորտի սկաներ
Comment[id]=Pemindai port jaringan
Comment[ig]=Ihe nyocha ọdụ ụgbọ mmiri netwọkụ
Comment[is]=Nettengisskanni
Comment[it]=Scanner delle porte di rete
Comment[iu]=ᐱᓕᕆᔨᓄᑦ ᑐᓴᐅᒪᖃᑦᑕᐅᑎᖃᑎᒌᒍᑎᓂᒃ ᐊᔾᔨᓕᐅᕆᔾᔪᑎ
Comment[ja]=ネットワークポートスキャナー
Comment[jv]=scanner port jaringan
Comment[ka]=ქსელის პორტის სკანერი
Comment[kk]=Желі портының сканері
Comment[km]=ម៉ាស៊ីនស្កេនច្រកបណ្តាញ
Comment[kn]=ನೆಟ್ವರ್ಕ್ ಪೋರ್ಟ್ ಸ್ಕ್ಯಾನರ್
Comment[ko]=네트워크 포트 스캐너
Comment[ku]=Skanera porta torê
Comment[ky]=Тармак портунун сканери
Comment[la]=Retiacula portum scanner
Comment[lb]=Network Port Scanner
Comment[lg]=Sikaani y’omwalo gw’omukutu
Comment[ln]=Scanner ya port ya réseau
Comment[lo]=ເຄື່ອງສະແກນຜອດເຄືອຂ່າຍ
Comment[lt]=Tinklo prievadų skaitytuvas
Comment[lv]=Tīkla portu skeneris
Comment[mg]=scanner seranan-tsambo
Comment[mi]=Matawai tauranga whatunga
Comment[mk]=Скенер за мрежни порти
Comment[ml]=നെറ്റ്u200cവർക്ക് പോർട്ട് സ്കാനർ
Comment[mn]=Сүлжээний порт сканнер
Comment[mr]=नेटवर्क पोर्ट स्कॅनर
Comment[ms]=Pengimbas port rangkaian
Comment[mt]=Skaner tal-port tan-netwerk
Comment[my]=ကွန်ရက်ပေါက်စကင်နာ
Comment[ne]=नेटवर्क पोर्ट स्क्यानर
Comment[nl]=Netwerkpoortscanner
Comment[no]=Nettverksportskanner
Comment[ny]=Network port scanner
Comment[om]=Iskaanara buufata neetworkii
Comment[or]=ନେଟୱର୍କ ପୋର୍ଟ ସ୍କାନର୍ |
Comment[pa]=ਨੈੱਟਵਰਕ ਪੋਰਟ ਸਕੈਨਰ
Comment[pl]=Skaner portów sieciowych
Comment[ps]=ﺮﻨﯿﮑﺳ ټﺭﻮﭘ ﯥﮑﺒﺷ ﺩ
Comment[pt]=Scanner de porta de rede
Comment[qu]=Llika puerto escáner nisqa
Comment[ro]=Scaner porturi de rețea
Comment[ru]=Сканер сетевых портов
Comment[rw]=Umuyoboro wicyambu
Comment[sa]=नेटवर्क पोर्ट स्कैनर
Comment[sd]=ﺮﻨﻴڪﺳﺍ ٽﺭﻮﭘ ڪﺭﻭ ٽﻴﻧ
Comment[si]=ජාල වරාය ස්කෑනරය
Comment[sk]=Skener sieťových portov
Comment[sl]=Skener omrežnih vrat
Comment[sm]=Sue tau fesootaiga
Comment[sn]=Network port scanner
Comment[so]=Sawir-qaade deked shabakadeed
Comment[sq]=Skaneri i portit të rrjetit
Comment[st]=Netweke port scanner
Comment[su]=scanner port jaringan
Comment[sv]=Nätverksportskanner
Comment[sw]=Kichanganuzi cha mlango wa mtandao
Comment[ta]=நெட்வொர்க் போர்ட் ஸ்கேனர்
Comment[te]=నెట్u200cవర్క్ పోర్ట్ స్కానర్
Comment[tg]=Сканери порти шабака
Comment[th]=เครื่องสแกนพอร์ตเครือข่าย
Comment[ti]=ኔትወርክ ፖርት ስካነር
Comment[tk]=Tor port skaneri
Comment[tl]=Scanner ng port ng network
Comment[to]=Sikena ki he netiueka port
Comment[tr]=Ağ bağlantı noktası tarayıcısı
Comment[ts]=Xikeni xa ribuwa ra netiweke
Comment[tt]=Челтәр порт сканеры
Comment[tw]=Network hyɛn gyinabea scanner
Comment[ty]=Faanahoraa no te mau tapaeraa pahi
Comment[ug]=ﭺﯘﻐﯩﻠﯩﻳﺎﺳ ﻯﺰﯩﻐﯧﺋ ﺭﻮﺗ
Comment[uk]=Сканер мережевих портів
Comment[ur]=ﺮﻨﯿﮑﺳ ﭦﺭﻮﭘ ﮎﺭﻭ ﭧﯿﻧ
Comment[uz]=Tarmoq port skaneri
Comment[vi]=Máy quét cổng mạng
Comment[xh]=Isikena sezibuko sothungelwano
Comment[yi]=רעננאַקס טראָפּ ץענ
Comment[yo]=scanner ibudo nẹtiwọki
Comment[zh]=网络端口扫描仪
Comment[zu]=Isithwebuli sembobo yenethiwekhi
Comment=Network port scanner
Exec=peasyport
Terminal=false
Type=Application
Categories=X-Network-utility
GenericName=PeasyPort
