[Desktop Entry]
Encoding=UTF-8
Name[de]=PeasyScan einfacher Bildscanner
Name[fr]=Scanner d'images simplifié : Peasyscan
Name[es]=PeasyScan: escanear imágenes
Name[af]=PeasyScan eenvoudige beeldskandeerder
Name[am]=PeasyScan ቀላል ምስል ስካነር
Name[ar]=ﻂﻴﺴﺑ PeasyScan ﺭﻮﺼﻠﻟ ﻲﺋﻮﻀﻟﺍ ﺢﺳﺎﻤﻟﺍ
Name[as]=PeasyScan সহজ ছবি স্ক্যানাৰ
Name[ay]=PeasyScan ukax mä sanu uñacht’äwiwa
Name[az]=PeasyScan sadə görüntü skaneri
Name[ba]=PeasyScan ябай һүрәт сканеры
Name[be]=Просты сканер малюнкаў PeasyScan
Name[bg]=PeasyScan прост скенер за изображения
Name[bm]=PeasyScan ja sɛgɛsɛgɛlikɛlan nɔgɔman
Name[bn]=PeasyScan সহজ ইমেজ স্ক্যানার
Name[bo]=སྲན་མའི་ཁན་གྱི་སྟབས་བདེའི་པར་རིས་བརྟག་དཔྱད་ཡོ་ཆས།
Name[bs]=PeasyScan jednostavan skener slika
Name[ca]=Escàner dimatges senzill PeasyScan
Name[co]=PeasyScan scanner dimaghjini simplice
Name[cs]=Jednoduchý skener obrázků PeasyScan
Name[cy]=Sganiwr delwedd syml PeasyScan
Name[da]=PeasyScan enkel billedscanner
Name[dv]=ވެއެ ރނަކޭސް ޖްމޭއި ލްޕަމްސި ންކޭސްޒީޕީ
Name[ee]=PeasyScan nɔnɔmetata bɔbɔe scanner
Name[el]=Απλός σαρωτής εικόνων PeasyScan
Name[eo]=PeasyScan simpla bildskanilo
Name[et]=PeasyScani lihtne pildiskanner
Name[eu]=PeasyScan irudi eskaner sinplea
Name[fa]=PeasyScan ﻩﺩﺎﺳ ﺮﯾﻮﺼﺗ ﺮﻨﮑﺳﺍ
Name[fi]=PeasyScan yksinkertainen kuvaskanneri
Name[fj]=PeasyScan na iyaloyalo rawarawa
Name[fo]=PeasyScan simple image scanner
Name[fy]=PeasyScan ienfâldige ôfbyldingsscanner
Name[ga]=Scanóir íomhá simplí PeasyScan
Name[gd]=Sganadair ìomhaigh sìmplidh PeasyScan
Name[gl]=Escáner de imaxes sinxelo PeasyScan
Name[gn]=PeasyScan taꞌãngamýi jehechaukaha isãsóva
Name[gu]=પીસીસ્કેન સરળ છબી સ્કેનર
Name[ha]=PeasyScan naurar daukar hoto mai sauƙi
Name[he]=PeasyScan לש טושפ תונומת קרוס
Name[hi]=PeasyScan सरल छवि स्कैनर
Name[hr]=PeasyScan jednostavan skener slika
Name[ht]=PeasyScan eskanè imaj senp
Name[hu]=PeasyScan egyszerű képszkenner
Name[hy]=PeasyScan պարզ պատկերի սկաներ
Name[id]=Pemindai gambar sederhana PeasyScan
Name[ig]=PeasyScan nyocha onyonyo dị mfe
Name[is]=PeasyScan einfaldur myndskanni
Name[it]=PeasyScan semplice scanner di immagini
Name[iu]=ᐲᓯᓯ ᐊᔾᔨᓕᐅᕆᔾᔪᑎ ᐊᔪᕐᓇᙱᑦᑐᖅ
Name[ja]=PeasyScan シンプルイメージスキャナー
Name[jv]=Pemindai gambar prasaja PeasyScan
Name[ka]=PeasyScan მარტივი გამოსახულების სკანერი
Name[kk]=PeasyScan қарапайым кескін сканері
Name[km]=ម៉ាស៊ីនស្កេនរូបភាពសាមញ្ញ PeasyScan
Name[kn]=PeasyScan ಸರಳ ಇಮೇಜ್ ಸ್ಕ್ಯಾನರ್
Name[ko]=PeasyScan 단순 이미지 스캐너
Name[ku]=PeasyScan skanera wêneya hêsan
Name[ky]=PeasyScan жөнөкөй сүрөт сканери
Name[la]=Simplex imago PeasyScan scanner
Name[lb]=PeasyScan einfache Bildscanner
Name[lg]=PeasyScan ekyokusika ebifaananyi ekyenjawulo
Name[ln]=PeasyScan scanner ya bilili ya pete
Name[lo]=PeasyScan ເຄື່ອງສະແກນຮູບພາບງ່າຍດາຍ
Name[lt]=PeasyScan paprastas vaizdo skaitytuvas
Name[lv]=PeasyScan vienkāršs attēlu skeneris
Name[mg]=PeasyScan scanner sary tsotra
Name[mi]=PeasyScan matawai atahanga ngawari
Name[mk]=Едноставен скенер за слики PeasyScan
Name[ml]=PeasyScan ലളിതമായ ഇമേജ് സ്കാനർ
Name[mn]=PeasyScan энгийн зураг сканнер
Name[mr]=PeasyScan साधे प्रतिमा स्कॅनर
Name[ms]=Pengimbas imej mudah PeasyScan
Name[mt]=PeasyScan skaner tal-immaġni sempliċi
Name[my]=PeasyScan ရိုးရှင်းသောရုပ်ပုံစကင်နာ
Name[ne]=PeasyScan सरल छवि स्क्यानर
Name[nl]=PeasyScan eenvoudige beeldscanner
Name[no]=PeasyScan enkel bildeskanner
Name[ny]=PeasyScan yosavuta kujambula chithunzi
Name[om]=PeasyScan suuraa salphaa skaanara
Name[or]=PeasyScan ସରଳ ପ୍ରତିଛବି ସ୍କାନର୍ |
Name[pa]=PeasyScan ਸਧਾਰਨ ਚਿੱਤਰ ਸਕੈਨਰ
Name[pl]=Prosty skaner obrazów PeasyScan
Name[ps]=ﺮﻨﯿﮑﺳ ﺲﮑﻋ ﻩﺩﺎﺳ PeasyScan ﺩ
Name[pt]=Scanner de imagem simples PeasyScan
Name[qu]=PeasyScan sanu siqikuna qhawaq
Name[ro]=Scaner de imagini simplu PeasyScan
Name[ru]=Простой сканер изображений PeasyScan
Name[rw]=PeasyScan yerekana amashusho yoroshye
Name[sa]=PeasyScan सरलं चित्रस्कैनरं
Name[sd]=PeasyScan ﺮﻨﻴڪﺳﺍ ﻱﺮﻳﻮﺼﺗ ﻱﺩﺎﺳ
Name[si]=PeasyScan සරල රූප ස්කෑනරය
Name[sk]=Jednoduchý skener obrázkov PeasyScan
Name[sl]=PeasyScan preprost skener slik
Name[sm]=PeasyScan sue ata faigofie
Name[sn]=PeasyScan iri nyore mufananidzo scanner
Name[so]=PeasyScan sawir sawir fudud
Name[sq]=Skaner i thjeshtë i imazhit PeasyScan
Name[st]=PeasyScan sehatisi sa litšoantšo se bonolo
Name[su]=PeasyScan scanner gambar basajan
Name[sv]=PeasyScan enkel bildskanner
Name[sw]=PeasyScan skana rahisi ya picha
Name[ta]=PeasyScan எளிய பட ஸ்கேனர்
Name[te]=PeasyScan సాధారణ ఇమేజ్ స్కానర్
Name[tg]=Сканери оддии тасвири PeasyScan
Name[th]=PeasyScan เครื่องสแกนภาพอย่างง่าย
Name[ti]=PeasyScan ቀሊል ምስሊ ስካነር
Name[tk]=PeasyScan ýönekeý surat skaneri
Name[tl]=PeasyScan simpleng scanner ng imahe
Name[to]=PeasyScan e sikena ki he ʻimisi faingofua
Name[tr]=PeasyScan basit görüntü tarayıcı
Name[ts]=PeasyScan xikeni xo olova xa swifaniso
Name[tt]=PeasyScan гади рәсем сканеры
Name[tw]=PeasyScan mfonini scanner a ɛnyɛ den
Name[ty]=Hohoa patahia e PeasyScan
Name[ug]=PeasyScan ﭺﯘﻐﯩﻠﯩﻳﺎﺳ ﻢﯩﺳەﺭ ﻲﯨﺩﺩﺎﺋ
Name[uk]=Простий сканер зображень PeasyScan
Name[ur]=PeasyScan ﺮﻨﯿﮑﺳﺍ ﺞﯿﻣﺍ ﮦﺩﺎﺳ
Name[uz]=PeasyScan oddiy tasvir skaneri
Name[vi]=Máy quét hình ảnh đơn giản PeasyScan
Name[xh]=I-PeasyScan isiskena somfanekiso esilula
Name[yi]=רעננאַקס דליב טושפּ ןאַקסיסאַעפּ
Name[yo]=PeasyScan aworan ti o rọrun
Name[zh]=PeasyScan 简易图像扫描仪
Name[zu]=I-PeasyScan isithwebuli sesithombe esilula
Name=PeasyScan simple image scanner
Icon=/usr/share/pixmaps/peasyscan.png
Comment[de]=PeasyScan einfacher Bildscanner
Comment[es]=PeasyScan: escanear imágenes
Comment[af]=PeasyScan eenvoudige beeldskandeerder
Comment[am]=PeasyScan ቀላል ምስል ስካነር
Comment[ar]=PeasyScan ﻂﻴﺴﺒﻟﺍ ﺭﻮﺼﻟﺍ ﺢﺳﺎﻣ
Comment[as]=PeasyScan সহজ ছবি স্ক্যানাৰ
Comment[ay]=PeasyScan ukax mä sanu uñacht’äwiwa
Comment[az]=PeasyScan sadə görüntü skaneri
Comment[ba]=PeasyScan ябай һүрәт сканеры
Comment[be]=Просты сканер малюнкаў PeasyScan
Comment[bg]=PeasyScan прост скенер за изображения
Comment[bm]=PeasyScan ja sɛgɛsɛgɛlikɛlan nɔgɔman
Comment[bn]=PeasyScan সহজ ইমেজ স্ক্যানার
Comment[bo]=སྲན་མའི་ཁན་གྱི་སྟབས་བདེའི་པར་རིས་བརྟག་དཔྱད་ཡོ་ཆས།
Comment[bs]=PeasyScan jednostavan skener slika
Comment[ca]=Escàner dimatges senzill PeasyScan
Comment[co]=PeasyScan scanner dimaghjini simplice
Comment[cs]=Jednoduchý skener obrázků PeasyScan
Comment[cy]=Sganiwr delwedd syml PeasyScan
Comment[da]=PeasyScan enkel billedscanner
Comment[dv]=ވެއެ ރނަކޭސް ޖްމޭއި ލްޕަމްސި ންކޭސްޒީޕީ
Comment[ee]=PeasyScan nɔnɔmetata bɔbɔe scanner
Comment[el]=Απλός σαρωτής εικόνων PeasyScan
Comment[eo]=PeasyScan simpla bildskanilo
Comment[et]=PeasyScani lihtne pildiskanner
Comment[eu]=PeasyScan irudi eskaner sinplea
Comment[fa]=PeasyScan ﻩﺩﺎﺳ ﺮﯾﻮﺼﺗ ﺮﻨﮑﺳﺍ
Comment[fi]=PeasyScan yksinkertainen kuvaskanneri
Comment[fj]=PeasyScan na iyaloyalo rawarawa
Comment[fo]=PeasyScan simple image scanner
Comment[fr]=Scanner dimages simple PeasyScan
Comment[fy]=PeasyScan ienfâldige ôfbyldingsscanner
Comment[ga]=Scanóir íomhá simplí PeasyScan
Comment[gd]=Sganadair ìomhaigh sìmplidh PeasyScan
Comment[gl]=Escáner de imaxes sinxelo PeasyScan
Comment[gn]=PeasyScan taꞌãngamýi jehechaukaha isãsóva
Comment[gu]=પીસીસ્કેન સરળ છબી સ્કેનર
Comment[ha]=PeasyScan naurar daukar hoto mai sauƙi
Comment[he]=PeasyScan לש טושפ תונומת קרוס
Comment[hi]=PeasyScan सरल छवि स्कैनर
Comment[hr]=PeasyScan jednostavan skener slika
Comment[ht]=PeasyScan eskanè imaj senp
Comment[hu]=PeasyScan egyszerű képszkenner
Comment[hy]=PeasyScan պարզ պատկերի սկաներ
Comment[id]=Pemindai gambar sederhana PeasyScan
Comment[ig]=PeasyScan nyocha onyonyo dị mfe
Comment[is]=PeasyScan einfaldur myndskanni
Comment[it]=PeasyScan semplice scanner di immagini
Comment[iu]=ᐲᓯᓯ ᐊᔾᔨᓕᐅᕆᔾᔪᑎ ᐊᔪᕐᓇᙱᑦᑐᖅ
Comment[ja]=PeasyScan シンプルイメージスキャナー
Comment[jv]=Pemindai gambar prasaja PeasyScan
Comment[ka]=PeasyScan მარტივი გამოსახულების სკანერი
Comment[kk]=PeasyScan қарапайым кескін сканері
Comment[km]=ម៉ាស៊ីនស្កេនរូបភាពសាមញ្ញ PeasyScan
Comment[kn]=PeasyScan ಸರಳ ಇಮೇಜ್ ಸ್ಕ್ಯಾನರ್
Comment[ko]=PeasyScan 단순 이미지 스캐너
Comment[ku]=PeasyScan skanera wêneya hêsan
Comment[ky]=PeasyScan жөнөкөй сүрөт сканери
Comment[la]=Simplex imago PeasyScan scanner
Comment[lb]=PeasyScan einfache Bildscanner
Comment[lg]=PeasyScan ekyokusika ebifaananyi ekyenjawulo
Comment[ln]=PeasyScan scanner ya bilili ya pete
Comment[lo]=PeasyScan ເຄື່ອງສະແກນຮູບພາບງ່າຍດາຍ
Comment[lt]=PeasyScan paprastas vaizdo skaitytuvas
Comment[lv]=PeasyScan vienkāršs attēlu skeneris
Comment[mg]=PeasyScan scanner sary tsotra
Comment[mi]=PeasyScan matawai atahanga ngawari
Comment[mk]=Едноставен скенер за слики PeasyScan
Comment[ml]=PeasyScan ലളിതമായ ഇമേജ് സ്കാനർ
Comment[mn]=PeasyScan энгийн зураг сканнер
Comment[mr]=PeasyScan साधे प्रतिमा स्कॅनर
Comment[ms]=Pengimbas imej mudah PeasyScan
Comment[mt]=PeasyScan skaner tal-immaġni sempliċi
Comment[my]=PeasyScan ရိုးရှင်းသောရုပ်ပုံစကင်နာ
Comment[ne]=PeasyScan सरल छवि स्क्यानर
Comment[nl]=PeasyScan eenvoudige beeldscanner
Comment[no]=PeasyScan enkel bildeskanner
Comment[ny]=PeasyScan yosavuta kujambula chithunzi
Comment[om]=PeasyScan suuraa salphaa skaanara
Comment[or]=PeasyScan ସରଳ ପ୍ରତିଛବି ସ୍କାନର୍ |
Comment[pa]=PeasyScan ਸਧਾਰਨ ਚਿੱਤਰ ਸਕੈਨਰ
Comment[pl]=Prosty skaner obrazów PeasyScan
Comment[ps]=ﺮﻨﯿﮑﺳ ﺲﮑﻋ ﻩﺩﺎﺳ PeasyScan ﺩ
Comment[pt]=Scanner de imagem simples PeasyScan
Comment[qu]=PeasyScan sanu siqikuna qhawaq
Comment[ro]=Scaner de imagini simplu PeasyScan
Comment[ru]=Простой сканер изображений PeasyScan
Comment[rw]=PeasyScan yerekana amashusho yoroshye
Comment[sa]=PeasyScan सरलं चित्रस्कैनरं
Comment[sd]=PeasyScan ﺮﻨﻴڪﺳﺍ ﻱﺮﻳﻮﺼﺗ ﻱﺩﺎﺳ
Comment[si]=PeasyScan සරල රූප ස්කෑනරය
Comment[sk]=Jednoduchý skener obrázkov PeasyScan
Comment[sl]=PeasyScan preprost skener slik
Comment[sm]=PeasyScan sue ata faigofie
Comment[sn]=PeasyScan iri nyore mufananidzo scanner
Comment[so]=PeasyScan sawir sawir fudud
Comment[sq]=Skaner i thjeshtë i imazhit PeasyScan
Comment[st]=PeasyScan sehatisi sa litšoantšo se bonolo
Comment[su]=PeasyScan scanner gambar basajan
Comment[sv]=PeasyScan enkel bildskanner
Comment[sw]=PeasyScan skana rahisi ya picha
Comment[ta]=PeasyScan எளிய பட ஸ்கேனர்
Comment[te]=PeasyScan సాధారణ ఇమేజ్ స్కానర్
Comment[tg]=Сканери оддии тасвири PeasyScan
Comment[th]=PeasyScan เครื่องสแกนภาพอย่างง่าย
Comment[ti]=PeasyScan ቀሊል ምስሊ ስካነር
Comment[tk]=PeasyScan ýönekeý surat skaneri
Comment[tl]=PeasyScan simpleng scanner ng imahe
Comment[to]=PeasyScan e sikena ki he ʻimisi faingofua
Comment[tr]=PeasyScan basit görüntü tarayıcı
Comment[ts]=PeasyScan xikeni xo olova xa swifaniso
Comment[tt]=PeasyScan гади рәсем сканеры
Comment[tw]=PeasyScan mfonini scanner a ɛnyɛ den
Comment[ty]=Hohoa patahia e PeasyScan
Comment[ug]=PeasyScan ﭺﯘﻐﯩﻠﯩﻳﺎﺳ ﻢﯩﺳەﺭ ﻲﯨﺩﺩﺎﺋ
Comment[uk]=Простий сканер зображень PeasyScan
Comment[ur]=PeasyScan ﺮﻨﯿﮑﺳﺍ ﺞﯿﻣﺍ ﮦﺩﺎﺳ
Comment[uz]=PeasyScan oddiy tasvir skaneri
Comment[vi]=Máy quét hình ảnh đơn giản PeasyScan
Comment[xh]=I-PeasyScan isiskena somfanekiso esilula
Comment[yi]=רעננאַקס דליב טושפּ ןאַקסיסאַעפּ
Comment[yo]=PeasyScan aworan ti o rọrun
Comment[zh]=PeasyScan 简易图像扫描仪
Comment[zu]=I-PeasyScan isithwebuli sesithombe esilula
Comment=PeasyScan simple image scanner
Exec=/usr/local/peasyscan/peasyscan
Terminal=false
Type=Application
Categories=X-Graphic-scanner
GenericName=PeasyScan
