[Desktop Entry]
Encoding=UTF-8
Name[de]=PeasyScale JPEG-Resizer
Name[fr]=Redimensionner des images : PeasyScale
Name[es]=PeasyScale: redimensionar imágenes
Name[af]=PeasyScale JPEG resizer
Name[am]=PeasyScale JPEG መጠን ማስተካከያ
Name[ar]=PeasyScale JPEG ﻢﺠﺣ ﺮﻴﻐﻣ
Name[as]=PeasyScale JPEG ৰিচাইজাৰ
Name[ay]=PeasyScale JPEG ukax mä jach’a uñacht’äwiwa
Name[az]=PeasyScale JPEG ölçüsünü dəyişdirən
Name[ba]=PeasyScale JPEG резизаторы
Name[be]=Праграма змены памеру JPEG PeasyScale
Name[bg]=PeasyScale JPEG преоразмерител
Name[bm]=PeasyScale JPEG sɛgɛsɛgɛlikɛlan
Name[bn]=PeasyScale JPEG রিসাইজার
Name[bo]=སྲན་མའི་གཞི་ཁྱོན་ལྡན་པའི་JPEG Resizer
Name[bs]=PeasyScale JPEG resizer
Name[ca]=Redimensionador de PeasyScale JPEG
Name[co]=Ridimensionatore JPEG PeasyScale
Name[cs]=Změna velikosti JPEG PeasyScale
Name[cy]=Newidydd JPEG PeasyScale
Name[da]=PeasyScale JPEG resizer
Name[dv]=ވެއެ ރޒައިސަރި ޖީއީޕީޖޭ ލްކޭސްޒީޕީ
Name[ee]=PeasyScale JPEG ƒe lolome ƒe tɔtrɔ
Name[el]=Αλλαγή μεγέθους JPEG PeasyScale
Name[eo]=PeasyScale JPEG regrandigilo
Name[et]=PeasyScale JPEG suuruse muutja
Name[eu]=PeasyScale JPEG tamaina aldatzea
Name[fa]=JPEG PeasyScale ﻩﺯﺍﺪﻧﺍ ﺮﯿﯿﻐﺗ
Name[fi]=PeasyScale JPEG-koon muuttaja
Name[fj]=iVakadewa tale ni Peasyscale JPEG
Name[fo]=PeasyScale JPEG resizer
Name[fy]=PeasyScale JPEG resizer
Name[ga]=Athchóiritheoir JPEG PeasyScale
Name[gd]=Ath-mheudachadh JPEG PeasyScale
Name[gl]=Redimensionador JPEG PeasyScale
Name[gn]=PeasyScale JPEG ñemoambueha
Name[gu]=PeasyScale JPEG રીસાઈઝર
Name[ha]=PeasyScale JPEG resizer
Name[he]=Resizer לש PeasyScale JPEG
Name[hi]=PeasyScale JPEG रिसाइज़र
Name[hr]=PeasyScale JPEG alat za promjenu veličine
Name[ht]=PeasyScale JPEG resizer
Name[hu]=PeasyScale JPEG átméretező
Name[hy]=PeasyScale JPEG չափափոխիչ
Name[id]=Pengubah ukuran JPEG PeasyScale
Name[ig]=PeasyScale JPEG resizer
Name[is]=PeasyScale JPEG resizer
Name[it]=Ridimensionatore JPEG PeasyScale
Name[iu]=ᐲᓯᓯᓯᐅᓪ JPEG-ᒥᒃ ᓴᓕᒎᑎ
Name[ja]=PeasyScale JPEGリサイザ
Name[jv]=Resizer JPEG PeasyScale
Name[ka]=PeasyScale JPEG resizer
Name[kk]=PeasyScale JPEG өлшемін өзгертуші
Name[km]=PeasyScale JPEG resizer
Name[kn]=PeasyScale JPEG resizer
Name[ko]=PeasyScale JPEG 리사이저
Name[ku]=Resizer PeasyScale JPEG
Name[ky]=PeasyScale JPEG размери
Name[la]=PeasyScale JPEG resizer
Name[lb]=PeasyScale JPEG resizer
Name[lg]=PeasyScale JPEG ekikyusa obunene
Name[ln]=PeasyScale JPEG mobongoli bonene
Name[lo]=PeasyScale JPEG resizer
Name[lt]=PeasyScale JPEG dydžio keitiklis
Name[lv]=PeasyScale JPEG izmēra mainītājs
Name[mg]=PeasyScale JPEG resizer
Name[mi]=PeasyScale JPEG resizer
Name[mk]=PeasyScale JPEG менувач
Name[ml]=PeasyScale JPEG റീസൈസർ
Name[mn]=PeasyScale JPEG хэмжигч
Name[mr]=PeasyScale JPEG रीसाइझर
Name[ms]=Penyusun semula JPEG PeasyScale
Name[mt]=PeasyScale JPEG resizer
Name[my]=PeasyScale JPEG ပြန်လည်ပြင်ဆင်ခြင်း
Name[ne]=PeasyScale JPEG रिसाइजर
Name[nl]=PeasyScale JPEG-resizer
Name[no]=PeasyScale JPEG resizer
Name[ny]=PeasyScale JPEG resizer
Name[om]=PeasyScale JPEG saayizarii
Name[or]=PeasyScale JPEG ରିଜାଇଜର |
Name[pa]=PeasyScale JPEG ਰੀਸਾਈਜ਼ਰ
Name[pl]=Zmiana rozmiaru PeasyScale JPEG
Name[ps]=ﺭﺰﺋﺎﺴﯾﺭ PeasyScale JPEG ﺩ
Name[pt]=Redimensionador JPEG PeasyScale
Name[qu]=PeasyScale JPEG nisqa hatun sayayniyuq
Name[ro]=Redimensionare JPEG PeasyScale
Name[ru]=PeasyScale Изменение размера JPEG
Name[rw]=PeasyScale JPEG resizer
Name[sa]=PeasyScale JPEG आकारान्तरक
Name[sd]=PeasyScale JPEG ﺭﺰﻳﺰﻳﺭ
Name[si]=PeasyScale JPEG resizer
Name[sk]=PeasyScale zmena veľkosti JPEG
Name[sl]=Sprememba velikosti JPEG PeasyScale
Name[sm]=PeasyScale JPEG resizer
Name[sn]=PeasyScale JPEG resizer
Name[so]=Cabbirka PeasyScale JPEG
Name[sq]=Ndryshimi i madhësisë JPEG PeasyScale
Name[st]=PeasyScale JPEG resizer
Name[su]=Pengubah ukuran JPEG PeasyScale
Name[sv]=PeasyScale JPEG resizer
Name[sw]=PeasyScale JPEG resizer
Name[ta]=PeasyScale JPEG மறுஅளவிடி
Name[te]=PeasyScale JPEG రీసైజర్
Name[tg]=Тағйирдиҳандаи PeasyScale JPEG
Name[th]=ตัวปรับขนาด JPEG PeasyScale
Name[ti]=PeasyScale JPEG ሪሳይዘር
Name[tk]=PeasyScale JPEG ölçeýjisi
Name[tl]=PeasyScale JPEG resizer
Name[to]=PeasyScale JPEG resizer
Name[tr]=PeasyScale JPEG yeniden boyutlandırıcı
Name[ts]=Xihundzuluxi xa JPEG xa PeasyScale
Name[tt]=PeasyScale JPEG резизаторы
Name[tw]=PeasyScale JPEG a ɛsakra ne kɛse
Name[ty]=PeasyScale JPEG resizer
Name[ug]=PeasyScale JPEG ﭺﯜﮕﯩﺸﯕەﺗ
Name[uk]=Зміна розміру PeasyScale JPEG
Name[ur]=PeasyScale JPEG ﺭﺰﺋﺎﺴﯾﺭ
Name[uz]=PeasyScale JPEG resizer
Name[vi]=Trình thay đổi kích thước JPEG PeasyScale
Name[xh]=PeasyScale JPEG resizer
Name[yi]=PeasyScale JPEG רעזיסער
Name[yo]=PeasyScale JPEG resizer
Name[zh]=PeasyScale JPEG 缩放器
Name[zu]=I-PeasyScale JPEG resizer
Name=PeasyScale JPEG resizer
Icon=/usr/share/pixmaps/peasyscale.png
Comment[de]=JPEG-Bild-Resizer
Comment[es]=PeasyScale: redimensionar imágenes
Comment[af]=JPEG-beeldveranderaar
Comment[am]=የ JPEG ምስል ማስተካከያ
Comment[ar]=JPEG ﺓﺭﻮﺻ ﻢﺠﺣ ﺮﻴﻴﻐﺗ ﺓﺍﺩﺃ
Comment[as]=JPEG ইমেজ ৰিচাইজাৰ
Comment[ay]=JPEG uñacht’awinak mayjt’ayir
Comment[az]=JPEG şəkil ölçüsünü dəyişdirən
Comment[ba]=JPEG һүрәттәр резизаторы
Comment[be]=Праграма змены памеру выявы JPEG
Comment[bg]=Преоразмеряване на JPEG изображения
Comment[bm]=JPEG ja bonyalan
Comment[bn]=JPEG ইমেজ রিসাইজার
Comment[bo]=JPEGཔར་རིས་ཆེ་ཆུང་།
Comment[bs]=Promena veličine JPEG slike
Comment[ca]=Redimensionador dimatges JPEG
Comment[co]=Ridimensionatore di limaghjini JPEG
Comment[cs]=Změna velikosti obrázků JPEG
Comment[cy]=Newidydd delwedd JPEG
Comment[da]=JPEG billedresizer
Comment[dv]=ވެއެ ރޒައިސަރި ޖްމޭއި ޖީއީޕީޖޭ
Comment[ee]=JPEG nɔnɔmetata ƒe lolome tɔtrɔ
Comment[el]=Αλλαγή μεγέθους εικόνας JPEG
Comment[eo]=Regrandigilo de bildoj JPEG
Comment[et]=JPEG-pildi suuruse muutja
Comment[eu]=JPEG irudien tamaina aldatzea
Comment[fa]=JPEG ﺮﯾﻮﺼﺗ ﻩﺯﺍﺪﻧﺍ ﺮﯿﯿﻐﺗ
Comment[fi]=JPEG-kuvan koon muuttaja
Comment[fj]=JPEG resizer ni iyaloyalo
Comment[fo]=JPEG image resizer
Comment[fr]=Redimensionneur dimage JPEG
Comment[fy]=JPEG ôfbylding resizer
Comment[ga]=Athchóirigh íomhá JPEG
Comment[gd]=Luchdaich a-nuas JPEG image resizer
Comment[gl]=Redimensionador de imaxes JPEG
Comment[gn]=JPEG taꞌãngamýi tuichakue
Comment[gu]=JPEG ઈમેજ રીસાઈઝર
Comment[ha]=Mai canza hoton JPEG
Comment[he]=JPEG הנומת לדוג יוניש
Comment[hi]=जेपीईजी छवि पुनर्विक्रेता
Comment[hr]=Promjena veličine JPEG slike
Comment[ht]=Resizer imaj JPEG
Comment[hu]=JPEG képátméretező
Comment[hy]=JPEG պատկերի չափափոխիչ
Comment[id]=Pengubah ukuran gambar JPEG
Comment[ig]=Ihe ngbanwe onyonyo JPEG
Comment[is]=JPEG myndbreyting
Comment[it]=Ridimensionatore di immagini JPEG
Comment[iu]=JPEG ᐊᔾᔨᙳᐊᓂᒃ ᓴᓕᒎᑎ
Comment[ja]=JPEG画像リサイザ
Comment[jv]=Pengubah ukuran gambar JPEG
Comment[ka]=JPEG გამოსახულების ზომის შეცვლა
Comment[kk]=JPEG кескін өлшемін өзгертуші
Comment[km]=ការផ្លាស់ប្តូររូបភាព JPEG
Comment[kn]=JPEG ಇಮೇಜ್ ರಿಸೈಜರ್
Comment[ko]=JPEG 이미지 리사이저
Comment[ku]=JPEG veguherîner wêneyê
Comment[ky]=JPEG сүрөттүн өлчөмүн өзгөртүүчү
Comment[la]=JPEG imago resiszer
Comment[lb]=JPEG Bild Resizer
Comment[lg]=JPEG ekifaananyi ekikyusa obunene
Comment[ln]=Mobongoli ya bilili ya JPEG
Comment[lo]=ຕົວປ່ຽນຮູບ JPEG
Comment[lt]=JPEG vaizdo dydžio keitiklis
Comment[lv]=JPEG attēla izmēra mainītājs
Comment[mg]=JPEG resizer sary
Comment[mi]=JPEG whakaahua huritao
Comment[mk]=JPEG менувач на големината на сликата
Comment[ml]=JPEG ഇമേജ് റീസൈസർ
Comment[mn]=JPEG зургийн хэмжээг өөрчлөх
Comment[mr]=JPEG प्रतिमा आकार बदलणारा
Comment[ms]=Pengubah suai imej JPEG
Comment[mt]=Resizer tal-immaġni JPEG
Comment[my]=JPEG ရုပ်ပုံပြန်လည်ပြင်ဆင်ခြင်း
Comment[ne]=JPEG छवि रिसाइजर
Comment[nl]=JPEG-beeldformaat wijzigen
Comment[no]=JPEG image resizer
Comment[ny]=JPEG resizer chithunzi
Comment[om]=JPEG fakkii jijjiirraa
Comment[or]=JPEG ପ୍ରତିଛବି ରିଜାଇଜର |
Comment[pa]=JPEG ਚਿੱਤਰ ਰੀਸਾਈਜ਼ਰ
Comment[pl]=Zmiana rozmiaru obrazu JPEG
Comment[ps]=ﺭﺰﺋﺎﺴﯾﺭ ﺲﮑﻋ JPEG ﺩ
Comment[pt]=Redimensionador de imagem JPEG
Comment[qu]=JPEG siqikunata tikraq
Comment[ro]=Redimensionarea imaginii JPEG
Comment[ru]=Изменение размера изображения JPEG
Comment[rw]=Ishusho ya JPEG
Comment[sa]=JPEG इमेज रिसाइजर
Comment[sd]=JPEG ﺭﺰﻳﺰﻳﺭ ﺮﻳﻮﺼﺗ
Comment[si]=JPEG රූප ප්u200dරතිප්u200dරමාණකය
Comment[sk]=Zmena veľkosti obrázkov JPEG
Comment[sl]=Sprememba velikosti slike JPEG
Comment[sm]=JPEG resizer ata
Comment[sn]=JPEG mufananidzo resizer
Comment[so]=Sawirka beddelka JPEG
Comment[sq]=Ndryshimi i madhësisë së imazhit JPEG
Comment[st]=JPEG resize setšoantšo
Comment[su]=Pangubah ukuran gambar JPEG
Comment[sv]=JPEG image resizer
Comment[sw]=Kirekebisha ukubwa wa picha ya JPEG
Comment[ta]=JPEG பட மறுஅளவி
Comment[te]=JPEG ఇమేజ్ రీసైజర్
Comment[tg]=Андозаи тасвири JPEG
Comment[th]=ตัวปรับขนาดภาพ JPEG
Comment[ti]=JPEG ምስሊ ሪሳይዘር
Comment[tk]=JPEG şekil üýtgediji
Comment[tl]=JPEG image resizer
Comment[to]=JPEG Image resizer
Comment[tr]=JPEG resim boyutlandırıcı
Comment[ts]=JPEG xifaniso lexi cinca-cincaka
Comment[tt]=JPEG рәсем үзгәртүчесе
Comment[tw]=JPEG mfonini resizer
Comment[ty]=JPEG image resizer
Comment[ug]=JPEG ﭺﯜﮕﯩﺸﯕەﺗ ﻢﯩﺳەﺭ
Comment[uk]=Зміна розміру зображення JPEG
Comment[ur]=JPEG ﺭﺰﺋﺎﺴﯾﺭ ﺞﯿﻣﺍ
Comment[uz]=JPEG tasvir hajmini ozgartirish
Comment[vi]=Trình thay đổi kích thước hình ảnh JPEG
Comment[xh]=JPEG ukubuyisela ubungakanani bomfanekiso
Comment[yi]=JPEG רעזיסער דליב
Comment[yo]=JPEG image resizer
Comment[zh]=JPEG 图像缩放器
Comment[zu]=Ukushintsha usayizi wesithombe se-JPEG
Comment=JPEG image resizer
Exec=peasyscale
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=PeasyScale
