[Desktop Entry]
Encoding=UTF-8
Name[fr]=Convertir/créer/extraire des PDF : PeasyPDF
Name[de]=PeasyPDF konvertieren/verbinden/extrahieren
Name[es]=PeasyPDF: extraer/convertir/unir PDFs
Name[ru]=PeasyPDF конвертировать/соединять/извлекать
Name[tr]=PeasyPDF değiştirme uygulaması
Name[af]=PeasyPDF omskep / sluit aan / onttrek
Name[am]=PeasyPDF መቀየር/መቀላቀል/ማውጣት
Name[ar]=PeasyPDF ﺝﺍﺮﺨﺘﺳﺍ / ﻡﺎﻤﻀﻧﻻ﻿ﺍ / ﻞﻳﻮﺤﺗ
Name[as]=PeasyPDF ৰূপান্তৰ/যোগদান/নিষ্কাশন
Name[ay]=PeasyPDF ukax jaqukipaña/uñt’ayaña/ apsuña
Name[az]=PeasyPDF çevirmək/qoşmaq/çıxarmaq
Name[ba]=PeasyPDF convert/join/sact
Name[be]=PeasyPDF канвертаванне/далучэнне/распакаванне
Name[bg]=PeasyPDF конвертиране/присъединяване/извличане
Name[bm]=PeasyPDF bɛ fɛn caman tigɛli/join/extract
Name[bn]=PeasyPDF রূপান্তর/যোগদান/এক্সট্রাক্ট
Name[bo]=PeasyPDF convert/join/extract
Name[bs]=PeasyPDF pretvoriti/pridružiti/izvući
Name[ca]=PeasyPDF convertir/unir/extreure
Name[co]=PeasyPDF cunvertisce / unisce / estrae
Name[cs]=PeasyPDF převést / připojit / extrahovat
Name[cy]=PeasyPDF trosi / ymuno / echdynnu
Name[da]=PeasyPDF konverter/deltag/udtræk
Name[dv]=ޓްކްރެޓްކްއެ/ންއިޖޮ/ޓްރވަންކޮ ފްއެޑީޕީޒީޕީ
Name[ee]=PeasyPDF trɔ/wɔ ɖeka/ɖee ɖa
Name[el]=Μετατροπή/συμμετοχή/εξαγωγή PeasyPDF
Name[eo]=PeasyPDF konverti/kunigi/ĉerpi
Name[et]=PeasyPDF teisendada/liituda/ekstraktida
Name[eu]=PeasyPDF bihurtu/juntatu/atera
Name[fa]=PeasyPDF ﺝﺍﺮﺨﺘﺳﺍ/ﻦﺘﺳﻮﯿﭘ/ﻞﯾﺪﺒﺗ
Name[fi]=PeasyPDF muuntaa/liittää/purkaa
Name[fj]=PeasyPDF saumaki mai/curu/tauri
Name[fo]=PeasyPDF convert/join/extract
Name[fy]=PeasyPDF konvertearje / meidwaan / útpakke
Name[ga]=PeasyPDF tiontú / páirt a ghlacadh / asbhaint
Name[gd]=Tionndadh PeasyPDF / Thig còmhla / Earrann
Name[gl]=PeasyPDF converter/unir/extraer
Name[gn]=PeasyPDF ombohasa/ombojoaju/oguenohẽ
Name[gu]=PeasyPDF કન્વર્ટ/જોડા/અર્ક
Name[ha]=PeasyPDF yana jujjuya/haɗa/ cire
Name[he]=PeasyPDF ץלח/ףרטצה/רמה
Name[hi]=PeasyPDF कन्वर्ट/जुड़ें/निकालें
Name[hr]=PeasyPDF pretvaranje/pridruživanje/ekstrahiranje
Name[ht]=PeasyPDF konvèti / rantre nan / ekstrè
Name[hu]=PeasyPDF konvertálás/csatlakozás/kibontás
Name[hy]=PeasyPDF փոխակերպում/միացում/քաղվածք
Name[id]=PeasyPDF mengonversi/bergabung/mengekstrak
Name[ig]=PeasyPDF tụgharịa/jikọọ/wepụta
Name[is]=PeasyPDF umbreyta / taka þátt / draga út
Name[it]=PeasyPDF convertire/unire/estrarre
Name[iu]=ᐲᓯPDF ᐊᓯᔾᔨᖅᑐᖅ/ᑲᑎᙵᓂᖓ/ᐲᖅᓯᓂᖅ
Name[ja]=PeasyPDF 変換/結合/抽出
Name[jv]=Ngonversi / gabung / ekstrak PeasyPDF
Name[ka]=PeasyPDF კონვერტირება/შეერთება/ექსტრაქტი
Name[kk]=PeasyPDF түрлендіру/қосу/шығару
Name[km]=PeasyPDF បម្លែង/ចូលរួម/ស្រង់ចេញ
Name[kn]=PeasyPDF ಪರಿವರ್ತಿಸಿ / ಸೇರಲು / ಸಾರ
Name[ko]=PeasyPDF 변환/결합/추출
Name[ku]=PeasyPDF veguherîn / tevlî / derxînin
Name[ky]=PeasyPDF айландыруу/кошулуу/экстракт
Name[la]=PeasyPDF converti/iungere/extract
Name[lb]=PeasyPDF konvertéieren/join/extraktéieren
Name[lg]=PeasyPDF okukyusa/okwegatta/okuggyamu
Name[ln]=PeasyPDF kobongola/kosangana/kolongola
Name[lo]=PeasyPDF ແປງ/ເຂົ້າຮ່ວມ/ສະກັດ
Name[lt]=PeasyPDF konvertuoti / prisijungti / išskleisti
Name[lv]=PeasyPDF konvertēt/pievienoties/izvilkt
Name[mg]=PeasyPDF convert/join/extract
Name[mi]=PeasyPDF tahuri / hono / tango
Name[mk]=PeasyPDF конвертира/приклучи/извади
Name[ml]=PeasyPDF പരിവർത്തനം / ചേരുക / എക്സ്ട്രാക്റ്റ്
Name[mn]=PeasyPDF хөрвүүлэх / нэгдэх / задлах
Name[mr]=PeasyPDF रूपांतरित/सामील/अर्क
Name[ms]=PeasyPDF menukar/menyertai/mengekstrak
Name[mt]=PeasyPDF jikkonverti/jingħaqad/estratt
Name[my]=PeasyPDF convert/join/extract
Name[ne]=PeasyPDF रूपान्तरण/जोइन/निकाल्नुहोस्
Name[nl]=PeasyPDF converteren/samenvoegen/uitpakken
Name[no]=PeasyPDF konvertere/bli med/trekk ut
Name[ny]=PeasyPDF kusintha / kujowina / kuchotsa
Name[om]=PeasyPDF jijjiiru/walitti makamuu/baasu
Name[or]=PeasyPDF ରୂପାନ୍ତର / ଯୋଗଦାନ / ବାହାର କରିବା |
Name[pa]=PeasyPDF ਕਨਵਰਟ/ਜੁਆਇਨ/ਐਬਸਟਰੈਕਟ
Name[pl]=PeasyPDF konwertuje/dołącza/wyodrębnia
Name[ps]=PeasyPDF ﻝﻮﮐ ﺝﺍﺮﺨﺘﺳﺍ / ﻝﺪﯿﮐ ﯼﺎځﻮﯾ / ﻝﻮﻟﺪﺑ
Name[pt]=PeasyPDF convert/juntar/extrair
Name[qu]=PeasyPDF tikray/hukllay/qichuy
Name[ro]=PeasyPDF conversie/alăturare/extragere
Name[rw]=PeasyPDF guhindura / gufatanya / gukuramo
Name[sa]=PeasyPDF परिवर्तन / सम्मिलित / निष्कर्षण
Name[sd]=PeasyPDF ﻭﮃڪ /ﻞﻣﺎﺷ/ٽﺭﻮﻨڪ
Name[si]=PeasyPDF පරිවර්තනය/එකතු වීම/උපුටා ගැනීම
Name[sk]=PeasyPDF previesť / pripojiť / extrahovať
Name[sl]=PeasyPDF pretvori/združi/izvleči
Name[sm]=PeasyPDF liliu / auai / aveese
Name[sn]=PeasyPDF shandura/join/bvisa
Name[so]=PeasyPDF beddelo/ku biir/saarid
Name[sq]=PeasyPDF konvertohet/bashkohet/ekstrakt
Name[st]=PeasyPDF e fetolela / kopanya / ntša
Name[su]=PeasyPDF ngarobah / gabung / ekstrak
Name[sv]=PeasyPDF konvertera / gå med / extrahera
Name[sw]=PeasyPDF kubadilisha/kujiunga/kutoa
Name[ta]=PeasyPDF மாற்றவும்/சேர்க்கவும் / பிரித்தெடுக்கவும்
Name[te]=PeasyPDF మార్పిడి/చేరండి/సారం
Name[tg]=PeasyPDF табдил / ҳамроҳ / истихроҷ
Name[th]=PeasyPDF แปลง/รวม/แยกไฟล์
Name[ti]=PeasyPDF ምቕያር/ምጽንባር/ምውጻእ
Name[tk]=PeasyPDF öwürmek / goşulmak / çykarmak
Name[tl]=PeasyPDF convert/join/extract
Name[to]=PeasyPDF papi ului/kau/toʻo
Name[ts]=PeasyPDF hundzuluxa/hlanganisa/ku humesa
Name[tt]=PeasyPDF әйләндерү / кушылу / чыгару
Name[tw]=PeasyPDF dane/ka ho/yi fi mu
Name[ty]=PeasyPDF convert/join/extract
Name[ug]=PeasyPDF ﺶﯨﺮﯩﻘﯩﭼ / ﺵﯘﺷﻮﻗ / ﺵﯗﺭﯗﺪﻧﻼ﻿ﻳﺎﺋ
Name[uk]=PeasyPDF конвертувати/приєднати/розпакувати
Name[ur]=PeasyPDF ﭧﮑﯾﺮﭩﺴﮑﯾﺍ/ﻦﺋﺍﻮﺟ/ﭦﺭﻮﻨﮐ
Name[uz]=PeasyPDF aylantirish/qoshilish/kochirma
Name[vi]=PeasyPDF chuyển đổi/tham gia/trích xuất
Name[xh]=I-PeasyPDF iguqula / dibanisa / ikhuphe
Name[yi]=PeasyPDF טקאַרטסקע / ןדניבראַפ / רעג
Name[yo]=PeasyPDF iyipada/darapọ/fa jade
Name[zh]=PeasyPDF 转换/合并/提取
Name[zu]=I-PeasyPDF iguqula/hlanganisa/khipha
Name=PeasyPDF convert/join/extract
Icon=mini-BuildingBlock.xpm
Icon=mini-BuildingBlock.xpm
Comment[fr]=Manipuler des documents PDF
Comment[de]=PDF-Dokumente bearbeiten
Comment[es]=Manipular documentos PDF
Comment[ru]=Работа с PDF-документами
Comment[tr]=PDF belgelerini değiştirme dönüştürme/birleştirme/ayıklama yapar
Comment[af]=Manipuleer PDF-dokumente
Comment[am]=ፒዲኤፍ ሰነዶችን ይቆጣጠሩ
Comment[ar]=PDF ﺕﺍﺪﻨﺘﺴﻣ ﺔﺠﻟﺎﻌﻣ
Comment[as]=PDF নথিপত্ৰসমূহ হেঁচা মাৰি ধৰিব
Comment[ay]=PDF qillqatanaka apnaqaña
Comment[az]=PDF sənədlərini manipulyasiya edin
Comment[ba]=ПДФ документтарын манипуляциялау
Comment[be]=Маніпуляваць дакументамі PDF
Comment[bg]=Манипулирайте PDF документи
Comment[bm]=PDF sɛbɛnw sɛgɛsɛgɛ
Comment[bn]=পিডিএফ ডকুমেন্ট ম্যানিপুলেট করুন
Comment[bo]=PDFཡིག་ཆ་ཁ་ལོ་སྒྱུར་བ།
Comment[bs]=Manipulirajte PDF dokumentima
Comment[ca]=Manipular documents PDF
Comment[co]=Manipulate documenti PDF
Comment[cs]=Manipulujte s dokumenty PDF
Comment[cy]=Trin dogfennau PDF
Comment[da]=Manipulere PDF-dokumenter
Comment[dv]=ންރުކު ޓްލޭޕުނިމެ އްތަޓްންމައުކިޑޮ ފްއެޑީޕީ
Comment[ee]=Trɔ asi le PDF nuŋlɔɖiwo ŋu
Comment[el]=Χειριστείτε έγγραφα PDF
Comment[eo]=Manipulu PDF-dokumentojn
Comment[et]=PDF-dokumentidega manipuleerimine
Comment[eu]=Manipulatu PDF dokumentuak
Comment[fa]=ﺪﯿﻨﮐ ﯼﺭﺎﮑﺘﺳﺩ ﺍﺭ PDF ﺩﺎﻨﺳﺍ
Comment[fi]=Käsittele PDF-dokumentteja
Comment[fj]=Vakayagataka vakasausau na ivolatukutuku NI PDF
Comment[fo]=Manipulate PDF documents
Comment[fy]=Manipulearje PDF-dokuminten
Comment[ga]=Láimhseáil doiciméid PDF
Comment[gd]=Làimhseachadh sgrìobhainnean PDF
Comment[gl]=Manipular documentos PDF
Comment[gn]=Omanipula kuatia PDF rehegua
Comment[gu]=પીડીએફ દસ્તાવેજોની હેરફેર કરો
Comment[ha]=Gudanar da takaddun PDF
Comment[he]=PDF יכמסמ לש היצלופינמ
Comment[hi]=पीडीएफ दस्तावेज़ों में हेरफेर करें
Comment[hr]=Manipulirajte PDF dokumentima
Comment[ht]=Manipile dokiman PDF yo
Comment[hu]=PDF dokumentumok kezelése
Comment[hy]=Ձեռնարկեք PDF փաստաթղթերը
Comment[id]=Memanipulasi dokumen PDF
Comment[ig]=Megharịa akwụkwọ PDF
Comment[is]=Vinna með PDF skjöl
Comment[it]=Manipolare documenti PDF
Comment[iu]=ᐊᐅᓚᑦᑎᓗᓂ PDF−ᒧᑦ ᑎᑎᕋᖅᓯᒪᔪᓂᒃ
Comment[ja]=PDF ドキュメントを操作する
Comment[jv]=Manipulasi dokumen PDF
Comment[ka]=PDF დოკუმენტების მანიპულირება
Comment[kk]=PDF құжаттарын өңдеу
Comment[km]=រៀបចំឯកសារ PDF
Comment[kn]=PDF ದಾಖಲೆಗಳನ್ನು ಕುಶಲತೆಯಿಂದ ನಿರ್ವಹಿಸಿ
Comment[ko]=PDF 문서 조작
Comment[ku]=Belgeyên PDF-ê manîpule bikin
Comment[ky]=PDF документтерин башкаруу
Comment[la]=Documenta manipulare PDF
Comment[lb]=PDF Dokumenter manipuléieren
Comment[lg]=Kozesa ebiwandiiko bya PDF
Comment[ln]=Manipuler mikanda ya PDF
Comment[lo]=ຈັດການເອກະສານ PDF
Comment[lt]=Manipuliuoti PDF dokumentais
Comment[lv]=Manipulēt PDF dokumentus
Comment[mg]=Manipulate antontan-taratasy PDF
Comment[mi]=Raweke tuhinga PDF
Comment[mk]=Манипулирајте со PDF документи
Comment[ml]=PDF പ്രമാണങ്ങൾ കൈകാര്യം ചെയ്യുക
Comment[mn]=PDF баримт бичгийг удирдах
Comment[mr]=पीडीएफ दस्तऐवज हाताळा
Comment[ms]=Memanipulasi dokumen PDF
Comment[mt]=Manipula dokumenti PDF
Comment[my]=PDF စာရွက်စာတမ်းများကို စီမံခန့်ခွဲပါ။
Comment[ne]=PDF कागजातहरू हेरफेर गर्नुहोस्
Comment[nl]=Bewerk PDF-documenten
Comment[no]=Manipulere PDF-dokumenter
Comment[ny]=Sinthani zolemba za PDF
Comment[om]=Sanadoota PDF tooachuu
Comment[or]=ପିଡିଏଫ୍ ଡକ୍ୟୁମେଣ୍ଟ୍ ମାନିପୁଲ୍ କରନ୍ତୁ |
Comment[pa]=PDF ਦਸਤਾਵੇਜ਼ਾਂ ਨੂੰ ਹੇਰਾਫੇਰੀ ਕਰੋ
Comment[pl]=Manipuluj dokumentami PDF
Comment[ps]=ﻝﻮﻟﺎﺒﻤﺳ ﻭﺩﺎﻨﺳﺍ PDF ﺩ
Comment[pt]=Manipular documentos PDF
Comment[qu]=PDF qillqakunata manipulay
Comment[ro]=Manipulați documente PDF
Comment[rw]=Koresha inyandiko za PDF
Comment[sa]=PDF दस्तावेजेषु हेरफेरः कुर्वन्तु
Comment[sd]=PDF ﻮﻳڏ ﺐﻴﺗﺮﺗ ﻲﮐ ﻥﺰﻳﻭﺎﺘﺳﺩ
Comment[si]=PDF ලේඛන හසුරුවන්න
Comment[sk]=Manipulujte s dokumentmi PDF
Comment[sl]=Manipulirajte dokumente PDF
Comment[sm]=Faatonu pepa PDF
Comment[sn]=Shandisa mapepa ePDF
Comment[so]=Ku maamul dukumentiyada PDF
Comment[sq]=Manipuloni dokumentet PDF
Comment[st]=Sebelisa litokomane tsa PDF
Comment[su]=Manipulasi dokumén PDF
Comment[sv]=Manipulera PDF-dokument
Comment[sw]=Kudhibiti hati za PDF
Comment[ta]=PDF ஆவணங்களைக் கையாளவும்
Comment[te]=PDF పత్రాలను మార్చండి
Comment[tg]=Ҳуҷҷатҳои PDF-ро идора кунед
Comment[th]=จัดการเอกสาร PDF
Comment[ti]=ፒዲኤፍ ሰነዳት ምትዕጽጻፍ
Comment[tk]=PDF resminamalaryny dolandyrmak
Comment[tl]=Manipulate ng mga PDF na dokumento
Comment[to]=Puleʻi e ngaahi fakamatala fakapepa PDF
Comment[ts]=Ku cinca-cinca matsalwa ya PDF
Comment[tt]=PDF документларын эшкәртү
Comment[tw]=Di nsakrae wɔ PDF nkrataa mu
Comment[ty]=Haru i te mau parau PDF
Comment[ug]=PDF ﯔﯩﻠﯩﻗ ﻝﻭﺮﺘﻧﻮﻛ ﻰﻨﯨﺮﯩﻠﺗەﺠﺟﯚﮬ
Comment[uk]=Маніпулювати документами PDF
Comment[ur]=۔ﮟﯾﺮﮐ ﯼﺮﯿﮭﭘ ﺍﺮﯿﮨ ﮟﯿﻣ ﺕﺍﺰﯾﻭﺎﺘﺳﺩ ﻒﯾﺍ ﯼﮈ ﯽﭘ
Comment[uz]=PDF hujjatlarini manipulyatsiya qilish
Comment[vi]=Thao tác tài liệu PDF
Comment[xh]=Sebenzisa amaxwebhu ePDF
Comment[yi]=ןטנעמוקאָד ףדפּ ןרילופּינאַמ
Comment[yo]=Ṣe afọwọyi awọn iwe aṣẹ PDF
Comment[zh]=操作 PDF 文档
Comment[zu]=Lawula amadokhumenti e-PDF
Comment=Manipulate PDF documents
Exec=peasypdf
Terminal=false
Type=Application
Categories=X-DocumentUtility
GenericName=PeasyPDF
