[Desktop Entry]
Encoding=UTF-8
Name[de]=PeasyPrint Grafik-/Fotodruck
Name[fr]=Impression de photos/graphismes : PeasyPrint
Name[es]=PeasyPrint: impresión gráfica/fotográfica
Name[af]=PeasyPrint grafiese/foto drukwerk
Name[am]=PeasyPrint ግራፊክ/ፎቶ ማተም
Name[ar]=PeasyPrint ﺭﻮﺼﻟﺍ / ﺕﺎﻣﻮﺳﺮﻟﺍ ﺔﻋﺎﺒﻃ
Name[as]=PeasyPrint গ্রাফিক/ফটো প্ৰিন্টিং
Name[ay]=PeasyPrint ukax gráfico/foto imprimir ukawa
Name[az]=PeasyPrint qrafik/foto çap
Name[ba]=PeasyPrint график/фото баҫмаһы
Name[be]=Графічны/фотадрук PeasyPrint
Name[bg]=PeasyPrint графичен/фото печат
Name[bm]=PeasyPrint ja/foto sɛbɛnni
Name[bn]=PeasyPrint গ্রাফিক/ফটো প্রিন্টিং
Name[bo]=སྲན་མའི་པར་རིས་རི་མོ་དང་འདྲ་པར་པར་སྐྲུན་ཡིག་རིགས།
Name[bs]=PeasyPrint štampanje grafika/fotografija
Name[ca]=Impressió gràfica/fotogràfica PeasyPrint
Name[co]=Stampa grafica / foto PeasyPrint
Name[cs]=Tisk grafiky/fotografií PeasyPrint
Name[cy]=Argraffu graffeg/ffotograffau PeasyPrint
Name[da]=PeasyPrint grafik/foto print
Name[dv]=ގންޓިންރިޕް ޓޯފޮ/ކްފިރެގް ޓްންރިޕްޒީޕީ
Name[ee]=PeasyPrint nɔnɔmetata/foto tata
Name[el]=Εκτύπωση γραφικών/φωτογραφιών PeasyPrint
Name[eo]=PeasyPrint grafika/foto presado
Name[et]=PeasyPrint graafika/fotode printimine
Name[eu]=PeasyPrint grafiko/argazki inprimaketa
Name[fa]=PeasyPrint ﺲﮑﻋ/ﯽﮑﯿﻓﺍﺮﮔ ﭖﺎﭼ
Name[fi]=PeasyPrint grafiikan/valokuvien tulostus
Name[fj]=PeasyPrint droini/tabaki ni itaba
Name[fo]=PeasyPrint graphic/photo printing
Name[fy]=PeasyPrint grafyske/fotoprintsje
Name[ga]=PeasyPrint priontáil grafach/grianghraf
Name[gd]=Clò-bhualadh grafaigeach / dealbh PeasyPrint
Name[gl]=Impresión gráfica/fotográfica PeasyPrint
Name[gn]=PeasyPrint impresión gráfica/ta’ãngamýi rehegua
Name[gu]=PeasyPrint ગ્રાફિક/ફોટો પ્રિન્ટીંગ
Name[ha]=PeasyPrint mai hoto/buga hoto
Name[he]=PeasyPrint תונומת/תיפרג הספדה
Name[hi]=पीज़ीप्रिंट ग्राफ़िक/फ़ोटो प्रिंटिंग
Name[hr]=PeasyPrint ispis grafike/fotografija
Name[ht]=Enpresyon grafik / foto PeasyPrint
Name[hu]=PeasyPrint grafika/fotó nyomtatás
Name[hy]=PeasyPrint գրաֆիկական/ֆոտո տպագրություն
Name[id]=Pencetakan grafis/foto PeasyPrint
Name[ig]=PeasyPrint eserese/ mbipụta foto
Name[is]=PeasyPrint grafík/ljósmyndaprentun
Name[it]=PeasyPrint stampa grafica/fotografica
Name[iu]=ᑎᑎᖅᑐᒐᐅᔭᖅᓯᒪᔪᖅ/ᐊᔾᔨᙳᐊᓕᐅᕐᓂᖅ
Name[ja]=PeasyPrint グラフィック/写真印刷
Name[jv]=Cetak grafis/foto PeasyPrint
Name[ka]=PeasyPrint გრაფიკული/ფოტო ბეჭდვა
Name[kk]=PeasyPrint графикалық/фото басып шығару
Name[km]=PeasyPrint ក្រាហ្វិក/ការបោះពុម្ពរូបថត
Name[kn]=PeasyPrint ಗ್ರಾಫಿಕ್/ಫೋಟೋ ಮುದ್ರಣ
Name[ko]=PeasyPrint 그래픽/사진 인쇄
Name[ku]=Çapkirina grafîk/wêne PeasyPrint
Name[ky]=PeasyPrint графикалык/сүрөт басып чыгаруу
Name[la]=PeasyPrint graphic / photo printing
Name[lb]=PeasyPrint Grafik / Foto Dréckerei
Name[lg]=PeasyPrint okukuba ebifaananyi/ebifaananyi
Name[ln]=PeasyPrint imprimerie graphique/foto
Name[lo]=PeasyPrint ກາຟິກ/ການພິມຮູບ
Name[lt]=PeasyPrint grafikos/nuotraukų spausdinimas
Name[lv]=PeasyPrint grafikas/foto drukāšana
Name[mg]=PeasyPrint fanontana sary/sary
Name[mi]=PeasyPrint tā whakairoiro/whakaahua
Name[mk]=Графичко/фото печатење на PeasyPrint
Name[ml]=PeasyPrint ഗ്രാഫിക്/ഫോട്ടോ പ്രിന്റിംഗ്
Name[mn]=PeasyPrint график/зураг хэвлэх
Name[mr]=PeasyPrint ग्राफिक/फोटो प्रिंटिंग
Name[ms]=Percetakan grafik/foto PeasyPrint
Name[mt]=Stampar grafiku/ritratt PeasyPrint
Name[my]=PeasyPrint ဂရပ်ဖစ်/ဓာတ်ပုံပုံနှိပ်ခြင်း။
Name[ne]=PeasyPrint ग्राफिक/फोटो मुद्रण
Name[nl]=PeasyPrint grafisch/foto printen
Name[no]=PeasyPrint grafikk/fotoutskrift
Name[ny]=Zithunzi za PeasyPrint / kusindikiza zithunzi
Name[om]=Maxxansa giraafikii/suuraa PeasyPrint
Name[or]=PeasyPrint ଗ୍ରାଫିକ୍ / ଫଟୋ ପ୍ରିଣ୍ଟିଙ୍ଗ୍ |
Name[pa]=PeasyPrint ਗ੍ਰਾਫਿਕ/ਫੋਟੋ ਪ੍ਰਿੰਟਿੰਗ
Name[pl]=Drukowanie grafiki/zdjęć PeasyPrint
Name[ps]=ﻝﻮﭘﺎﭼ ﺲﮑﻋ/ﮏﯿﻓﺍﺮګ PeasyPrint ﺩ
Name[pt]=Impressão gráfica/fotográfica PeasyPrint
Name[qu]=PeasyPrint grafico/foto imprimiy
Name[ro]=Imprimare grafică/foto PeasyPrint
Name[ru]=PeasyPrint графика/фото печать
Name[rw]=PeasyPrint igishushanyo / icapiro ryamafoto
Name[sa]=PeasyPrint ग्राफिक/फोटो मुद्रण
Name[sd]=PeasyPrint ﮓﻨٽﻧﺮﭘ ﻮٽﻮﻓ/ڪﻓﺍﺮﮔ
Name[si]=PeasyPrint ග්u200dරැෆික්/ඡායාරූප මුද්u200dරණය
Name[sk]=Tlač grafiky/fotografií PeasyPrint
Name[sl]=Tiskanje grafike/fotografije PeasyPrint
Name[sm]=PeasyPrint lolomi ata/kalafi
Name[sn]=PeasyPrint graphic/photo kudhinda
Name[so]=PeasyPrint garaaf / sawir daabacid
Name[sq]=Printim grafik/foto PeasyPrint
Name[st]=PeasyPrint graphic/photo printing
Name[su]=Percetakan grafik/poto PeasyPrint
Name[sv]=PeasyPrint grafik/fotoutskrift
Name[sw]=Uchapishaji wa picha/picha ya PeasyPrint
Name[ta]=PeasyPrint கிராஃபிக்/புகைப்பட அச்சிடுதல்
Name[te]=PeasyPrint గ్రాఫిక్/ఫోటో ప్రింటింగ్
Name[tg]=PeasyPrint графикӣ / чопи акс
Name[th]=PeasyPrint การพิมพ์กราฟิก/ภาพถ่าย
Name[ti]=PeasyPrint ግራፊክ/ፎቶ ሕትመት
Name[tk]=PeasyPrint grafiki / surat çap etmek
Name[tl]=PeasyPrint graphic/photo printing
Name[to]=PeasyPrint graphic/taa
Name[tr]=PeasyPrint grafik/fotoğraf baskısı
Name[ts]=Ku kandziyisiwa ka swifaniso/swifaniso swa PeasyPrint
Name[tt]=PeasyPrint график / фото бастыру
Name[tw]=PeasyPrint mfonini/mfonini a wɔde tintim
Name[ty]=PeasyPrint graphic/photo printing
Name[ug]=PeasyPrint ﺶﯩﺴﯧﺑ ﻢﯩﺳەﺭ / ﻚﯩﻓﺍﺮﮔ
Name[uk]=Друк графіки/фото PeasyPrint
Name[ur]=PeasyPrint ﮓﻨﭩﻧﺮﭘ ﻮﭨﻮﻓ/ﮏﻓﺍﺮﮔ
Name[uz]=PeasyPrint grafik/foto chop etish
Name[vi]=In ảnh/đồ họa PeasyPrint
Name[xh]=I-PeasyPrint umzobo/ushicilelo lweefoto
Name[yi]=PeasyPrint ןקורד אָטאָפ / קיפאַרג
Name[yo]=PeasyPrint ayaworan/titẹ fọto
Name[zh]=PeasyPrint 图形/照片打印
Name[zu]=Ukuphrinta kwesithombe/isithombe se-PeasyPrint
Name=PeasyPrint graphic/photo printing
GenericName=PeasyPrint
Comment[de]=PeasyPrint Grafik-/Fotodruck
Comment[es]=PeasyPrint: impresión gráfica/fotográfica
Comment[af]=PeasyPrint grafiese/foto drukwerk
Comment[am]=PeasyPrint ግራፊክ/ፎቶ ማተም
Comment[ar]=PeasyPrint ﺭﻮﺼﻟﺍ / ﺕﺎﻣﻮﺳﺮﻟﺍ ﺔﻋﺎﺒﻃ
Comment[as]=PeasyPrint গ্রাফিক/ফটো প্ৰিন্টিং
Comment[ay]=PeasyPrint ukax gráfico/foto imprimir ukawa
Comment[az]=PeasyPrint qrafik/foto çap
Comment[ba]=PeasyPrint график/фото баҫмаһы
Comment[be]=Графічны/фотадрук PeasyPrint
Comment[bg]=PeasyPrint графичен/фото печат
Comment[bm]=PeasyPrint ja/foto sɛbɛnni
Comment[bn]=PeasyPrint গ্রাফিক/ফটো প্রিন্টিং
Comment[bo]=སྲན་མའི་པར་རིས་རི་མོ་དང་འདྲ་པར་པར་སྐྲུན་ཡིག་རིགས།
Comment[bs]=PeasyPrint štampanje grafika/fotografija
Comment[ca]=Impressió gràfica/fotogràfica PeasyPrint
Comment[co]=Stampa grafica / foto PeasyPrint
Comment[cs]=Tisk grafiky/fotografií PeasyPrint
Comment[cy]=Argraffu graffeg/ffotograffau PeasyPrint
Comment[da]=PeasyPrint grafik/foto print
Comment[dv]=ގންޓިންރިޕް ޓޯފޮ/ކްފިރެގް ޓްންރިޕްޒީޕީ
Comment[ee]=PeasyPrint nɔnɔmetata/foto tata
Comment[el]=Εκτύπωση γραφικών/φωτογραφιών PeasyPrint
Comment[eo]=PeasyPrint grafika/foto presado
Comment[et]=PeasyPrint graafika/fotode printimine
Comment[eu]=PeasyPrint grafiko/argazki inprimaketa
Comment[fa]=PeasyPrint ﺲﮑﻋ/ﯽﮑﯿﻓﺍﺮﮔ ﭖﺎﭼ
Comment[fi]=PeasyPrint grafiikan/valokuvien tulostus
Comment[fj]=PeasyPrint droini/tabaki ni itaba
Comment[fo]=PeasyPrint graphic/photo printing
Comment[fr]=Impression graphique/photo PeasyPrint
Comment[fy]=PeasyPrint grafyske/fotoprintsje
Comment[ga]=PeasyPrint priontáil grafach/grianghraf
Comment[gd]=Clò-bhualadh grafaigeach / dealbh PeasyPrint
Comment[gl]=Impresión gráfica/fotográfica PeasyPrint
Comment[gn]=PeasyPrint impresión gráfica/ta’ãngamýi rehegua
Comment[gu]=PeasyPrint ગ્રાફિક/ફોટો પ્રિન્ટીંગ
Comment[ha]=PeasyPrint mai hoto/buga hoto
Comment[he]=PeasyPrint תונומת/תיפרג הספדה
Comment[hi]=पीज़ीप्रिंट ग्राफ़िक/फ़ोटो प्रिंटिंग
Comment[hr]=PeasyPrint ispis grafike/fotografija
Comment[ht]=Enpresyon grafik / foto PeasyPrint
Comment[hu]=PeasyPrint grafika/fotó nyomtatás
Comment[hy]=PeasyPrint գրաֆիկական/ֆոտո տպագրություն
Comment[id]=Pencetakan grafis/foto PeasyPrint
Comment[ig]=PeasyPrint eserese/ mbipụta foto
Comment[is]=PeasyPrint grafík/ljósmyndaprentun
Comment[it]=PeasyPrint stampa grafica/fotografica
Comment[iu]=ᑎᑎᖅᑐᒐᐅᔭᖅᓯᒪᔪᖅ/ᐊᔾᔨᙳᐊᓕᐅᕐᓂᖅ
Comment[ja]=PeasyPrint グラフィック/写真印刷
Comment[jv]=Cetakan grafis/foto PeasyPrint
Comment[ka]=PeasyPrint გრაფიკული/ფოტო ბეჭდვა
Comment[kk]=PeasyPrint графикалық/фото басып шығару
Comment[km]=PeasyPrint ក្រាហ្វិក/ការបោះពុម្ពរូបថត
Comment[kn]=PeasyPrint ಗ್ರಾಫಿಕ್/ಫೋಟೋ ಮುದ್ರಣ
Comment[ko]=PeasyPrint 그래픽/사진 인쇄
Comment[ku]=Çapkirina grafîk/wêne PeasyPrint
Comment[ky]=PeasyPrint графикалык/сүрөт басып чыгаруу
Comment[la]=PeasyPrint graphic / photo printing
Comment[lb]=PeasyPrint Grafik / Foto Dréckerei
Comment[lg]=PeasyPrint okukuba ebifaananyi/ebifaananyi
Comment[ln]=PeasyPrint imprimerie graphique/foto
Comment[lo]=PeasyPrint ກາຟິກ/ການພິມຮູບ
Comment[lt]=PeasyPrint grafikos/nuotraukų spausdinimas
Comment[lv]=PeasyPrint grafikas/foto drukāšana
Comment[mg]=PeasyPrint fanontana sary/sary
Comment[mi]=PeasyPrint tā whakairoiro/whakaahua
Comment[mk]=Графичко/фото печатење на PeasyPrint
Comment[ml]=PeasyPrint ഗ്രാഫിക്/ഫോട്ടോ പ്രിന്റിംഗ്
Comment[mn]=PeasyPrint график/зураг хэвлэх
Comment[mr]=PeasyPrint ग्राफिक/फोटो प्रिंटिंग
Comment[ms]=Percetakan grafik/foto PeasyPrint
Comment[mt]=Stampar grafiku/ritratt PeasyPrint
Comment[my]=PeasyPrint ဂရပ်ဖစ်/ဓာတ်ပုံပုံနှိပ်ခြင်း။
Comment[ne]=PeasyPrint ग्राफिक/फोटो मुद्रण
Comment[nl]=PeasyPrint grafisch/foto printen
Comment[no]=PeasyPrint grafikk/fotoutskrift
Comment[ny]=Zithunzi za PeasyPrint / kusindikiza zithunzi
Comment[om]=Maxxansa giraafikii/suuraa PeasyPrint
Comment[or]=PeasyPrint ଗ୍ରାଫିକ୍ / ଫଟୋ ପ୍ରିଣ୍ଟିଙ୍ଗ୍ |
Comment[pa]=PeasyPrint ਗ੍ਰਾਫਿਕ/ਫੋਟੋ ਪ੍ਰਿੰਟਿੰਗ
Comment[pl]=Drukowanie grafiki/zdjęć PeasyPrint
Comment[ps]=ﻝﻮﭘﺎﭼ ﺲﮑﻋ/ﮏﯿﻓﺍﺮګ PeasyPrint ﺩ
Comment[pt]=Impressão gráfica/fotográfica PeasyPrint
Comment[qu]=PeasyPrint grafico/foto imprimiy
Comment[ro]=Imprimare grafică/foto PeasyPrint
Comment[ru]=PeasyPrint графика/фото печать
Comment[rw]=PeasyPrint igishushanyo / icapiro ryamafoto
Comment[sa]=PeasyPrint ग्राफिक/फोटो मुद्रण
Comment[sd]=PeasyPrint ﮓﻨٽﻧﺮﭘ ﻮٽﻮﻓ/ڪﻓﺍﺮﮔ
Comment[si]=PeasyPrint ග්u200dරැෆික්/ඡායාරූප මුද්u200dරණය
Comment[sk]=Tlač grafiky/fotografií PeasyPrint
Comment[sl]=Tiskanje grafike/fotografije PeasyPrint
Comment[sm]=PeasyPrint lolomi ata/kalafi
Comment[sn]=PeasyPrint graphic/photo kudhinda
Comment[so]=PeasyPrint garaaf / sawir daabacid
Comment[sq]=Printim grafik/foto PeasyPrint
Comment[st]=PeasyPrint graphic/photo printing
Comment[su]=Percetakan grafik/poto PeasyPrint
Comment[sv]=PeasyPrint grafik/fotoutskrift
Comment[sw]=Uchapishaji wa picha/picha ya PeasyPrint
Comment[ta]=PeasyPrint கிராஃபிக்/புகைப்பட அச்சிடுதல்
Comment[te]=PeasyPrint గ్రాఫిక్/ఫోటో ప్రింటింగ్
Comment[tg]=PeasyPrint графикӣ / чопи акс
Comment[th]=PeasyPrint การพิมพ์กราฟิก/ภาพถ่าย
Comment[ti]=PeasyPrint ግራፊክ/ፎቶ ሕትመት
Comment[tk]=PeasyPrint grafiki / surat çap etmek
Comment[tl]=PeasyPrint graphic/photo printing
Comment[to]=PeasyPrint graphic/taa
Comment[tr]=PeasyPrint grafik/fotoğraf baskısı
Comment[ts]=Ku kandziyisiwa ka swifaniso/swifaniso swa PeasyPrint
Comment[tt]=PeasyPrint график / фото бастыру
Comment[tw]=PeasyPrint mfonini/mfonini a wɔde tintim
Comment[ty]=PeasyPrint graphic/photo printing
Comment[ug]=PeasyPrint ﺶﯩﺴﯧﺑ ﻢﯩﺳەﺭ / ﻚﯩﻓﺍﺮﮔ
Comment[uk]=Друк графіки/фото PeasyPrint
Comment[ur]=PeasyPrint ﮓﻨﭩﻧﺮﭘ ﻮﭨﻮﻓ/ﮏﻓﺍﺮﮔ
Comment[uz]=PeasyPrint grafik/foto chop etish
Comment[vi]=In ảnh/đồ họa PeasyPrint
Comment[xh]=I-PeasyPrint umzobo/ushicilelo lweefoto
Comment[yi]=PeasyPrint ןקורד אָטאָפ / קיפאַרג
Comment[yo]=PeasyPrint ayaworan/titẹ fọto
Comment[zh]=PeasyPrint 图形/照片打印
Comment[zu]=Ukuphrinta kwesithombe/isithombe se-PeasyPrint
Comment=PeasyPrint graphic/photo printing
Exec=/usr/sbin/peasyprint
Icon=/usr/share/pixmaps/peasyprint.png
Terminal=false
Type=Application
StartupNotify=false
Categories=X-Graphic-print
