[Desktop Entry]
Encoding=UTF-8
Name[de]=PeasyScan einfacher Bildscanner
Name[fr]=Scanner d'images simplifié : Peasyscan
Name[es]=PeasyScan: escanear imágenes
Name=PeasyScan simple image scanner
Icon=/usr/share/pixmaps/peasyscan.png
Comment[de]=PeasyScan einfacher Bildscanner
Comment[es]=PeasyScan: escanear imágenes
Comment=PeasyScan simple image scanner
Exec=/usr/local/peasyscan/peasyscan
Terminal=false
Type=Application
Categories=X-Graphic-scanner
GenericName=PeasyScan
