[Desktop Entry]
Encoding=UTF-8
Name[fr]=Convertir/créer/extraire des PDF : PeasyPDF
Name[de]=PeasyPDF konvertieren/verbinden/extrahieren
Name[es]=PeasyPDF: extraer/convertir/unir PDFs
Name[ru]=PeasyPDF конвертировать/соединять/извлекать
Name[tr]=PeasyPDF değiştirme uygulaması
Name=PeasyPDF convert/join/extract
Icon=mini-BuildingBlock.xpm
Icon=mini-BuildingBlock.xpm
Comment[fr]=Manipuler des documents PDF
Comment[de]=PDF-Dokumente bearbeiten
Comment[es]=Manipular documentos PDF
Comment[ru]=Работа с PDF-документами
Comment[tr]=PDF belgelerini değiştirme dönüştürme/birleştirme/ayıklama yapar
Comment=Manipulate PDF documents
Exec=peasypdf
Terminal=false
Type=Application
Categories=X-DocumentUtility
GenericName=PeasyPDF
