[Desktop Entry]
Encoding=UTF-8
Name[fr]=Outils pour disque optique : PeasyDisc
Name=PeasyDisc optical disc tools
Icon=/usr/share/pixmaps/peasydisc.png
Comment=PeasyDisc
Comment[fr]=PeasyDisc Utilitaires pour disque optique
Exec=peasydisc
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=PeasyDisc
