[Desktop Entry]
Encoding=UTF-8
Name[fr]=Impression de photos/graphismes : PeasyPrint
Name=PeasyPrint graphic/photo printing
GenericName=PeasyPrint
Comment=PeasyPrint graphic/photo printing
Exec=/usr/sbin/peasyprint
Icon=/usr/share/pixmaps/peasyprint.png
Terminal=false
Type=Application
StartupNotify=false
Categories=X-Graphic-print
