[Desktop Entry]
Encoding=UTF-8
Name[de]=pFind Dateifinder
Name[fr]=Rechercher des fichiers : Pfind
Name[es]=pFind: buscar archivos
Name=pFind file finder
Icon=/usr/share/pixmaps/puppy/find.svg
Comment[de]=pFind Dateifinder
Comment[es]=pFind: buscar archivos
Comment=pFind file finder
Exec=pfind
Terminal=false
Type=Application
Categories=X-Filesystem-find
GenericName=Pfind file finder
