[Desktop Entry]
Encoding=UTF-8
Name[fr]=Jeu de Puzzle : PicPuz
Name=PicPuz jigsaw puzzle
Icon=picpuz.png
Comment=jigsaw puzzle
Exec=picpuz-wrapper
Terminal=false
Type=Application
Categories=X-Fun-puzzle
GenericName=PicPuz
