[Desktop Entry]
Encoding=UTF-8
Name[de]=Pidgin-Multiprotokoll-Chat-Client
Name[fr]=Client de chat multiprotocole Pidgin
Name[ru]=Pidgin Многопротокольный чат-клиент
Name[af]=Pidgin multi-protokol kletskliënt
Name[am]=የፒድጂን ባለብዙ ፕሮቶኮል ውይይት ደንበኛ
Name[ar]=ﺕﻻ﻿ﻮﻛﻮﺗﻭﺮﺒﻟﺍ ﺩﺪﻌﺘﻣ Pidgin ﺔﺷﺩﺭﺩ ﻞﻴﻤﻋ
Name[as]=পিডজিন মাল্টি-প্ৰটকল চেট ক্লায়েণ্ট
Name[ay]=Pidgin walja protocolos ukan aruskipt’añ cliente
Name[az]=Pidgin çox protokollu söhbət müştərisi
Name[ba]=Пидгин күп протоколлы чат клиенты
Name[be]=Шматпратакольны чат-кліент Pidgin
Name[bg]=Многопротоколен чат клиент на Pidgin
Name[bm]=Pidgin multi-protocol chat kliyan
Name[bn]=পিজিন মাল্টি-প্রটোকল চ্যাট ক্লায়েন্ট
Name[bo]=Pidgin multi protocol ཁ་བརྡའི་མངགས་བཅོལ་བྱེད་མཁན།
Name[bs]=Pidgin multi-protocol chat klijent
Name[ca]=Client de xat multiprotocol Pidgin
Name[co]=Cliente di chat multiprotocolu Pidgin
Name[cs]=Pidgin multiprotokolový chatovací klient
Name[cy]=Cleient sgwrsio aml-brotocol Pidgin
Name[da]=Pidgin multi-protokol chat-klient
Name[dv]=ވެޓެންއިލަކް ޓްޗެ ލްކޯޓޮރޮޕް ޓިލްމަ ންޖިޕި
Name[ee]=Pidgin multi-protocol dzeɖoɖo asisi
Name[el]=Πελάτης συνομιλίας πολλαπλών πρωτοκόλλων Pidgin
Name[eo]=Pidgin-multprotokola babilkliento
Name[es]=Cliente de chat multiprotocolo Pidgin
Name[et]=Pidgini mitme protokolliga vestlusklient
Name[eu]=Pidgin protokolo anitzeko txat-bezeroa
Name[fa]=Pidgin ﯽﻠﮑﺗﻭﺮﭘ ﺪﻨﭼ ﺖﭼ ﺖﻨﯾﻼ﻿ﮐ
Name[fi]=Pidgin usean protokollan chat-asiakas
Name[fj]=Pidgin multi-protocol chat client
Name[fo]=Pidgin multi-protocol chat client
Name[fy]=Pidgin multi-protokol chat client
Name[ga]=Cliant comhrá ilphrótacal Pidgin
Name[gd]=Cliant cabadaich ioma-phròtacal Pidgin
Name[gl]=Cliente de chat multiprotocolo Pidgin
Name[gn]=Pidgin cliente ñemongeta heta protocolo rehegua
Name[gu]=પિજિન મલ્ટિ-પ્રોટોકોલ ચેટ ક્લાયંટ
Name[ha]=Pidgin Multi-protocol chat abokin ciniki
Name[he]=Pidgin לוקוטורפ הבורמ טאצ חוקל
Name[hi]=पिजिन मल्टी-प्रोटोकॉल चैट क्लाइंट
Name[hr]=Pidgin klijent za chat s više protokola
Name[ht]=Pidgin milti-pwotokòl chat kliyan
Name[hu]=Pidgin több protokollos chat kliens
Name[hy]=Pidgin բազմապրոտոկոլի զրույցի հաճախորդ
Name[id]=Klien obrolan multi-protokol Pidgin
Name[ig]=Onye ahịa nkata ọtụtụ protocol Pidgin
Name[is]=Pidgin spjallviðskiptavinur með mörgum samskiptareglum
Name[it]=Client di chat multiprotocollo Pidgin
Name[iu]=ᐱᑦᔨᓐ ᐊᒥᓱᐃᖅᓱᕐᓗᓂ−ᐱᔨᑦᓯᕋᕐᓂᖅ ᐅᖃᖃᑎᖃᕐᓂᕐᒧᑦ ᐱᔨᑦᓯᕋᖅᑕᖅ
Name[ja]=Pidgin マルチプロトコル チャット クライアント
Name[jv]=Klien obrolan multi-protokol Pidgin
Name[ka]=Pidgin მრავალპროტოკოლიანი ჩატის კლიენტი
Name[kk]=Pidgin көп протоколды чат клиенті
Name[km]=កម្មវិធីជជែកពហុពិធីការ Pidgin
Name[kn]=ಪಿಡ್ಜಿನ್ ಬಹು-ಪ್ರೋಟೋಕಾಲ್ ಚಾಟ್ ಕ್ಲೈಂಟ್
Name[ko]=Pidgin 다중 프로토콜 채팅 클라이언트
Name[ku]=Muwekîlê chatê pir-protokola Pidgin
Name[ky]=Pidgin көп протоколдук чат кардары
Name[la]=Pidgin multi-protocol chat client
Name[lb]=Pidgin Multi-Protokoll Chat Client
Name[lg]=Pidgin multi-protocol omuteesa kasitoma
Name[ln]=Client ya kosolola na ba protocoles ebele ya pidgin
Name[lo]=Pidgin ລູກຄ້າສົນທະນາຫຼາຍໂປຣໂຕຄໍ
Name[lt]=Pidgin kelių protokolų pokalbių klientas
Name[lv]=Pidgin vairāku protokolu tērzēšanas klients
Name[mg]=Pidgin multi-protocol chat client
Name[mi]=Pidgin maha-kawa kiritaki korerorero
Name[mk]=Мулти-протоколен клиент за разговор Pidgin
Name[ml]=പിജിൻ മൾട്ടി-പ്രോട്ടോക്കോൾ ചാറ്റ് ക്ലയന്റ്
Name[mn]=Pidgin олон протоколын чат клиент
Name[mr]=पिडगिन मल्टी-प्रोटोकॉल चॅट क्लायंट
Name[ms]=Pelanggan sembang berbilang protokol Pidgin
Name[mt]=Klijent ta chat multiprotokoll Pidgin
Name[my]=Pidgin multi-protocol ချတ်ကလိုင်းယင့်
Name[ne]=Pidgin बहु-प्रोटोकल च्याट ग्राहक
Name[nl]=Pidgin-chatclient met meerdere protocollen
Name[no]=Pidgin multi-protokoll chat-klient
Name[ny]=Pidgin multi-protocol chat client
Name[om]=Maamila marii pirootokoolii hedduu pidgin
Name[or]=ପିଜିନ୍ ମଲ୍ଟି-ପ୍ରୋଟୋକଲ୍ ଚାଟ୍ କ୍ଲାଏଣ୍ଟ |
Name[pa]=ਪਿਡਗਿਨ ਮਲਟੀ-ਪ੍ਰੋਟੋਕੋਲ ਚੈਟ ਕਲਾਇੰਟ
Name[pl]=Wieloprotokołowy klient czatu Pidgin
Name[ps]=ﻲﮑﻧﻭﺩﻭﺮﯿﭘ ﭧﯿﭼ ﻝﻮﮐﻮﺗﻭﺮﭘ ﻲټﻠﻣ ﻦﯾډﯿﭘ ﺩ
Name[pt]=Cliente de chat multiprotocolo Pidgin
Name[qu]=Pidgin achka protocoloyuq rimanakuy cliente
Name[ro]=Client de chat multi-protocol Pidgin
Name[rw]=Pidgin menshi-protocole yumukiriya
Name[sa]=Pidgin बहु-प्रोटोकॉल गपशप क्लायन्ट
Name[sd]=Pidgin ٽﻨﺋﻼ﻿ڪ ٽﻴﭼ ﻝﻮڪﻮٽﻭﺮﭘ ﻲٽﻠﻣ
Name[si]=Pidgin බහු-ප්u200dරොටෝකෝල කතාබස් සේවාදායකයා
Name[sk]=Pidgin multiprotokolový chatovací klient
Name[sl]=Odjemalec klepeta z več protokoli Pidgin
Name[sm]=Pidgin tele-protocol chat client
Name[sn]=Pidgin multi-protocol chat client
Name[so]=macmiilka wada sheekaysiga borotokoolka badan ee Pidgin
Name[sq]=Klient i bisedës me shumë protokolla Pidgin
Name[st]=Pidgin multi-protocol chat client
Name[su]=Pidgin multi-protokol obrolan klien
Name[sv]=Pidgin multi-protokoll chattklient
Name[sw]=Pidgin mteja wa gumzo wa itifaki nyingi
Name[ta]=Pidgin மல்டி புரோட்டோகால் அரட்டை கிளையன்ட்
Name[te]=Pidgin మల్టీ-ప్రోటోకాల్ చాట్ క్లయింట్
Name[tg]=Мизоҷи сӯҳбати бисёрпротоколии Pidgin
Name[th]=ไคลเอนต์แชทหลายโปรโตคอล Pidgin
Name[ti]=ፒድጂን ብዙሕ ፕሮቶኮላት ዘለዎ ቻት ዓሚል
Name[tk]=Pidgin köp protokolly söhbetdeşlik müşderisi
Name[tl]=Pidgin multi-protocol chat client
Name[to]=Faka-Pitiseni fakavahaʻa-Protocol chat
Name[tr]=Pidgin çok protokollü sohbet istemcisi
Name[ts]=Pidgin xitirhisiwa xo burisana xa tiphurothokholo to tala
Name[tt]=Пиджин күп протоколлы чат клиенты
Name[tw]=Pidgin multi-protocol nkɔmmɔbɔ afɛfo
Name[ty]=Pidgin multi-protocol client
Name[ug]=Pidgin ﻯﺭﺍﺪﯨﺮﯧﺧ ﺶﯩﺸﯩﻠﯕﺍﺭﺎﭘ ﻚﯩﻠﻤﯩﺸﯩﻠﯧﻛ ﭖﯚﻛ
Name[uk]=Багатопротокольний клієнт чату Pidgin
Name[ur]=Pidgin ﭧﻨﺋﻼ﻿ﮐ ﭧﯿﭼ ﻝﻮﮐﻮﭨﻭﺮﭘ ﯽﭩﻠﻣ
Name[uz]=Pidgin kop protokolli chat mijozi
Name[vi]=Ứng dụng trò chuyện đa giao thức Pidgin
Name[xh]=Pidgin multi-protocol ingxoxo umxhasi
Name[yi]=טנעילק סעומש לאָקאָטאָרפּ-יטלומ ןיגדיפּ
Name[yo]=Pidgin olona-protocol iwiregbe ose
Name[zh]=Pidgin 多协议聊天客户端
Name[zu]=Iklayenti lengxoxo le-Pidgin multi-protocol
Name=Pidgin multi-protocol chat client
GenericName=Pidgin
Comment[de]=Pidgin-Multiprotokoll-Chat-Client
Comment[fr]=Client de chat multiprotocole Pidgin
Comment[ru]=Многопротокольный чат-клиент Pidgin
Comment[af]=Pidgin multi-protokol kletskliënt
Comment[am]=የፒድጂን ባለብዙ ፕሮቶኮል ውይይት ደንበኛ
Comment[ar]=ﺕﻻ﻿ﻮﻛﻮﺗﻭﺮﺒﻟﺍ ﺩﺪﻌﺘﻣ Pidgin ﺔﺷﺩﺭﺩ ﻞﻴﻤﻋ
Comment[as]=পিডজিন মাল্টি-প্ৰটকল চেট ক্লায়েণ্ট
Comment[ay]=Pidgin walja protocolos ukan aruskipt’añ cliente
Comment[az]=Pidgin çox protokollu söhbət müştərisi
Comment[ba]=Пидгин күп протоколлы чат клиенты
Comment[be]=Шматпратакольны чат-кліент Pidgin
Comment[bg]=Многопротоколен чат клиент на Pidgin
Comment[bm]=Pidgin multi-protocol chat kliyan
Comment[bn]=পিজিন মাল্টি-প্রটোকল চ্যাট ক্লায়েন্ট
Comment[bo]=Pidgin multi protocol ཁ་བརྡའི་མངགས་བཅོལ་བྱེད་མཁན།
Comment[bs]=Pidgin multi-protocol chat klijent
Comment[ca]=Client de xat multiprotocol Pidgin
Comment[co]=Cliente di chat multiprotocolu Pidgin
Comment[cs]=Pidgin multiprotokolový chatovací klient
Comment[cy]=Cleient sgwrsio aml-brotocol Pidgin
Comment[da]=Pidgin multi-protokol chat-klient
Comment[dv]=ވެޓެންއިލަކް ޓްޗެ ލްކޯޓޮރޮޕް ޓިލްމަ ންޖިޕި
Comment[ee]=Pidgin multi-protocol dzeɖoɖo ƒe asisi
Comment[el]=Πελάτης συνομιλίας πολλαπλών πρωτοκόλλων Pidgin
Comment[eo]=Pidgin-multprotokola babilkliento
Comment[es]=Cliente de chat multiprotocolo Pidgin
Comment[et]=Pidgini mitme protokolliga vestlusklient
Comment[eu]=Pidgin protokolo anitzeko txat-bezeroa
Comment[fa]=Pidgin ﯽﻠﮑﺗﻭﺮﭘ ﺪﻨﭼ ﺖﭼ ﺖﻨﯾﻼ﻿ﮐ
Comment[fi]=Pidgin usean protokollan chat-asiakas
Comment[fj]=Pidgin multi-protocol chat client
Comment[fo]=Pidgin multi-protocol chat client
Comment[fy]=Pidgin multi-protokol chat client
Comment[ga]=Cliant comhrá ilphrótacal Pidgin
Comment[gd]=Cliant cabadaich ioma-phròtacal Pidgin
Comment[gl]=Cliente de chat multiprotocolo Pidgin
Comment[gn]=Pidgin cliente ñemongeta heta protocolo rehegua
Comment[gu]=પિજિન મલ્ટિ-પ્રોટોકોલ ચેટ ક્લાયંટ
Comment[ha]=Pidgin Multi-protocol chat abokin ciniki
Comment[he]=Pidgin לוקוטורפ הבורמ טאצ חוקל
Comment[hi]=पिजिन मल्टी-प्रोटोकॉल चैट क्लाइंट
Comment[hr]=Pidgin klijent za chat s više protokola
Comment[ht]=Pidgin milti-pwotokòl chat kliyan
Comment[hu]=Pidgin több protokollos chat kliens
Comment[hy]=Pidgin բազմապրոտոկոլի զրույցի հաճախորդ
Comment[id]=Klien obrolan multi-protokol Pidgin
Comment[ig]=Onye ahịa nkata ọtụtụ protocol Pidgin
Comment[is]=Pidgin spjallviðskiptavinur með mörgum samskiptareglum
Comment[it]=Client di chat multiprotocollo Pidgin
Comment[iu]=ᐱᑦᔨᓐ ᐊᒥᓱᐃᖅᓱᕐᓗᓂ−ᐱᔨᑦᓯᕋᕐᓂᖅ ᐅᖃᖃᑎᖃᕐᓂᕐᒧᑦ ᐱᔨᑦᓯᕋᖅᑕᖅ
Comment[ja]=Pidgin マルチプロトコル チャット クライアント
Comment[jv]=Klien obrolan multi-protokol Pidgin
Comment[ka]=Pidgin მრავალპროტოკოლიანი ჩატის კლიენტი
Comment[kk]=Pidgin көп протоколды чат клиенті
Comment[km]=កម្មវិធីជជែកពហុពិធីការ Pidgin
Comment[kn]=ಪಿಡ್ಜಿನ್ ಬಹು-ಪ್ರೋಟೋಕಾಲ್ ಚಾಟ್ ಕ್ಲೈಂಟ್
Comment[ko]=Pidgin 다중 프로토콜 채팅 클라이언트
Comment[ku]=Muwekîlê chatê pir-protokola Pidgin
Comment[ky]=Pidgin көп протоколдук чат кардары
Comment[la]=Pidgin multi-protocol chat client
Comment[lb]=Pidgin Multi-Protokoll Chat Client
Comment[lg]=Pidgin multi-protocol omuteesa kasitoma
Comment[ln]=Client ya kosolola na ba protocoles ebele ya pidgin
Comment[lo]=Pidgin ລູກຄ້າສົນທະນາຫຼາຍໂປຣໂຕຄໍ
Comment[lt]=Pidgin kelių protokolų pokalbių klientas
Comment[lv]=Pidgin vairāku protokolu tērzēšanas klients
Comment[mg]=Pidgin multi-protocol chat client
Comment[mi]=Pidgin maha-kawa kiritaki korerorero
Comment[mk]=Мулти-протоколен клиент за разговор Pidgin
Comment[ml]=പിജിൻ മൾട്ടി-പ്രോട്ടോക്കോൾ ചാറ്റ് ക്ലയന്റ്
Comment[mn]=Pidgin олон протоколын чат клиент
Comment[mr]=पिडगिन मल्टी-प्रोटोकॉल चॅट क्लायंट
Comment[ms]=Pelanggan sembang berbilang protokol Pidgin
Comment[mt]=Klijent ta chat multiprotokoll Pidgin
Comment[my]=Pidgin multi-protocol ချတ်ကလိုင်းယင့်
Comment[ne]=Pidgin बहु-प्रोटोकल च्याट ग्राहक
Comment[nl]=Pidgin-chatclient met meerdere protocollen
Comment[no]=Pidgin multi-protokoll chat-klient
Comment[ny]=Pidgin multi-protocol chat client
Comment[om]=Maamila marii pirootokoolii hedduu pidgin
Comment[or]=ପିଜିନ୍ ମଲ୍ଟି-ପ୍ରୋଟୋକଲ୍ ଚାଟ୍ କ୍ଲାଏଣ୍ଟ |
Comment[pa]=ਪਿਡਗਿਨ ਮਲਟੀ-ਪ੍ਰੋਟੋਕੋਲ ਚੈਟ ਕਲਾਇੰਟ
Comment[pl]=Wieloprotokołowy klient czatu Pidgin
Comment[ps]=ﻲﮑﻧﻭﺩﻭﺮﯿﭘ ﭧﯿﭼ ﻝﻮﮐﻮﺗﻭﺮﭘ ﻲټﻠﻣ ﻦﯾډﯿﭘ ﺩ
Comment[pt]=Cliente de chat multiprotocolo Pidgin
Comment[qu]=Pidgin achka protocoloyuq rimanakuy cliente
Comment[ro]=Client de chat multi-protocol Pidgin
Comment[rw]=Pidgin menshi-protocole yumukiriya
Comment[sa]=Pidgin बहु-प्रोटोकॉल गपशप क्लायन्ट
Comment[sd]=Pidgin ٽﻨﺋﻼ﻿ڪ ٽﻴﭼ ﻝﻮڪﻮٽﻭﺮﭘ ﻲٽﻠﻣ
Comment[si]=Pidgin බහු-ප්u200dරොටෝකෝල කතාබස් සේවාදායකයා
Comment[sk]=Pidgin multiprotokolový chatovací klient
Comment[sl]=Odjemalec klepeta z več protokoli Pidgin
Comment[sm]=Pidgin tele-protocol chat client
Comment[sn]=Pidgin multi-protocol chat client
Comment[so]=macmiilka wada sheekaysiga borotokoolka badan ee Pidgin
Comment[sq]=Klient i bisedës me shumë protokolla Pidgin
Comment[st]=Pidgin multi-protocol chat client
Comment[su]=Pidgin multi-protokol obrolan klien
Comment[sv]=Pidgin multi-protokoll chattklient
Comment[sw]=Pidgin mteja wa gumzo wa itifaki nyingi
Comment[ta]=Pidgin மல்டி புரோட்டோகால் அரட்டை கிளையன்ட்
Comment[te]=Pidgin మల్టీ-ప్రోటోకాల్ చాట్ క్లయింట్
Comment[tg]=Мизоҷи сӯҳбати бисёрпротоколии Pidgin
Comment[th]=ไคลเอนต์แชทหลายโปรโตคอล Pidgin
Comment[ti]=ፒድጂን ብዙሕ ፕሮቶኮላት ዘለዎ ቻት ዓሚል
Comment[tk]=Pidgin köp protokolly söhbetdeşlik müşderisi
Comment[tl]=Pidgin multi-protocol chat client
Comment[to]=Faka-Pitiseni fakavahaʻa-Protocol chat
Comment[tr]=Pidgin çok protokollü sohbet istemcisi
Comment[ts]=Pidgin xitirhisiwa xo burisana xa tiphurothokholo to tala
Comment[tt]=Пиджин күп протоколлы чат клиенты
Comment[tw]=Pidgin multi-protocol nkɔmmɔbɔ afɛfo
Comment[ty]=Pidgin multi-protocol client
Comment[ug]=Pidgin ﻯﺭﺍﺪﯨﺮﯧﺧ ﺶﯩﺸﯩﻠﯕﺍﺭﺎﭘ ﻚﯩﻠﻤﯩﺸﯩﻠﯧﻛ ﭖﯚﻛ
Comment[uk]=Багатопротокольний клієнт чату Pidgin
Comment[ur]=Pidgin ﭧﻨﺋﻼ﻿ﮐ ﭧﯿﭼ ﻝﻮﮐﻮﭨﻭﺮﭘ ﯽﭩﻠﻣ
Comment[uz]=Pidgin kop protokolli chat mijozi
Comment[vi]=Ứng dụng trò chuyện đa giao thức Pidgin
Comment[xh]=Pidgin multi-protocol ingxoxo umxhasi
Comment[yi]=טנעילק סעומש לאָקאָטאָרפּ-יטלומ ןיגדיפּ
Comment[yo]=Pidgin olona-protocol iwiregbe ose
Comment[zh]=Pidgin 多协议聊天客户端
Comment[zu]=Iklayenti lengxoxo le-Pidgin multi-protocol
Comment=Pidgin multi-protocol chat client
Exec=pidginshell
Icon=pidgin.png
StartupNotify=true
Terminal=false
Type=Application
Categories=X-Internet-chat
