[Desktop Entry]
Encoding=UTF-8
Name[de]=Pidgin-Multiprotokoll-Chat-Client
Name[fr]=Client de chat multiprotocole Pidgin
Name[ru]=Многопротокольный чат-клиент Pidgin
Name=Pidgin multi-protocol chat client
GenericName=Pidgin
Comment[de]=Pidgin-Multiprotokoll-Chat-Client
Comment[fr]=Client de chat multiprotocole Pidgin
Comment[ru]=Многопротокольный чат-клиент Pidgin
Comment=Pidgin multi-protocol chat client
Exec=pidginshell
Icon=pidgin.png
StartupNotify=true
Terminal=false
Type=Application
Categories=X-Internet-chat
