[Desktop Entry]
Encoding=UTF-8
Name[de]=Pmirror sichert ein Verzeichnis
Name[fr]=Sauvegarde de répertoire : Pmirror
Name[es]=Pmirror: copia de seguridad de un directorio
Name[af]=Pmirror rugsteun n gids
Name[am]=የPmirror ምትኬ ማውጫ
Name[ar]=ﻞﻴﻟﺩ Pmirror ﻲﻃﺎﻴﺘﺣﻻ﻿ﺍ ﺦﺴﻨﻟﺍ
Name[as]=Pmirror এটা ডাইৰেকটৰি বেকআপ লওক
Name[ay]=Pmirror ukax mä directorio ukan copia de seguridad ukankiwa
Name[az]=Pmirror kataloqun ehtiyat nüsxəsini çıxarır
Name[ba]=«Премьеррор» белешмәһенең резервы
Name[be]=Pmirror рэзервовае капіраванне каталога
Name[bg]=Pmirror архивиране на директория
Name[bm]=Pmirror backup a ɲɛbilasɛbɛn dɔ
Name[bn]=Pmirror ব্যাকআপ একটি ডিরেক্টরি
Name[bo]=ཕྱི་རྒྱལ་གྱི་ཚོང་པས་དཀར་ཆག་ཅིག་ལ་རྗེས་གྲབས་བྱས་ཡོད།
Name[bs]=Pmirror sigurnosna kopija direktorija
Name[ca]=Realitza una còpia de seguretat dun directori
Name[co]=Fate una copia di salvezza di un cartulare
Name[cs]=Pmirror zálohujte adresář
Name[cy]=Pmirror gwneud copi wrth gefn o gyfeiriadur
Name[da]=Pmirror backup af en mappe
Name[dv]=އްއެރީޓަކްރެއިޑަ ޕްކަބެ ރރޯމިޕީ
Name[ee]=Pmirror backup a agbalẽdzraɖoƒe
Name[el]=Δημιουργία αντιγράφων ασφαλείας καταλόγου Pmirror
Name[eo]=Spegulu sekurkopion de dosierujo
Name[et]=Pmirror varundage kataloog
Name[eu]=Egin ispilu direktorio baten babeskopia
Name[fa]=Pmirror ﺪﯿﻨﮐ ﻪﯿﻬﺗ ﻥﺎﺒﯿﺘﺸﭘ ﻪﺨﺴﻧ ﯼﺭﻮﺘﮐﺮﯾﺍﺩ ﮏﯾ ﺯﺍ
Name[fi]=Pmirror varmuuskopioi hakemisto
Name[fj]=Pmirror tokona e dua na dairekitori
Name[fo]=Pmirror backup a directory
Name[fy]=Pmirror reservekopy in triemtafel
Name[ga]=Pmirror cúltaca eolaire
Name[gd]=Pmirror lethbhreac glèidhidh a-eòlaire
Name[gl]=Facer unha copia de seguridade dun directorio
Name[gn]=Pmirror eñongatu peteĩ kundaha
Name[gu]=Pmirror બેકઅપ ડિરેક્ટરી
Name[ha]=Pmirror madadin directory
Name[he]=Pmirror היירפס יוביג
Name[hi]=Pmirror एक निर्देशिका का बैकअप लेता है
Name[hr]=Pmirror sigurnosna kopija imenika
Name[ht]=Pmirror backup yon anyè
Name[hu]=Pmirror készítsen biztonsági másolatot egy könyvtárról
Name[hy]=Pmirror-ով կրկնօրինակեք գրացուցակը
Name[id]=Pmirror mencadangkan direktori
Name[ig]=Pmirror ndabere ndekọ
Name[is]=Pmirror öryggisafrit af möppu
Name[it]=Pmirror esegue il backup di una directory
Name[iu]=Pmirror-ᒧᑦ ᑭᖑᕝᕕᐅᑎᔪᒃᓴᖅ
Name[ja]=ディレクトリのバックアップをミラーリングする
Name[jv]=Pmirror gawe serep direktori
Name[ka]=Pmirror-ის სარეზერვო დირექტორია
Name[kk]=Pmirror каталогтың сақтық көшірмесін жасайды
Name[km]=Pmirror បម្រុងទុកថតមួយ។
Name[kn]=ಪಿಮಿರರ್ ಡೈರೆಕ್ಟರಿಯನ್ನು ಬ್ಯಾಕಪ್ ಮಾಡಿ
Name[ko]=디렉터리 백업 Pmirror
Name[ku]=Pmirror pelrêçek hilanînê
Name[ky]=Pmirror каталогдун камдык көчүрмөсүн сактоо
Name[la]=Pmirror tergum directorium
Name[lb]=Pmirror Backupsatellit engem Verzeechnes
Name[lg]=Pmirror backup a dayirekita
Name[ln]=Pmirror sauvegarde ya répertoire moko
Name[lo]=Pmirror ສໍາຮອງຂໍ້ມູນໄດເລກະທໍລີ
Name[lt]=Pmirror atsarginė katalogo kopija
Name[lv]=Pmirror dublējiet direktoriju
Name[mg]=Pmirror backup lahatahiry
Name[mi]=Pmirror tārua he whaiaronga
Name[mk]=Pmirror направи резервна копија од директориум
Name[ml]=Pmirror ഒരു ഡയറക്ടറി ബാക്കപ്പ് ചെയ്യുക
Name[mn]=Pmirror лавлах нөөцлөлт
Name[mr]=Pmirror बॅकअप निर्देशिका
Name[ms]=Pmirror membuat sandaran direktori
Name[mt]=Ipmirror backup direttorju
Name[my]=Pmirror သည် လမ်းညွှန်တစ်ခုကို အရန်ကူးပါ။
Name[ne]=Pmirror ब्याकअप निर्देशिका
Name[nl]=Pmirror maakt een back-up van een map
Name[no]=Pmirror sikkerhetskopiere en katalog
Name[ny]=Pmirror sungani chikwatu
Name[om]=Pmirror galmee tokko duwwaa godhi
Name[or]=Pmirror ଏକ ଡିରେକ୍ଟୋରୀକୁ ବ୍ୟାକଅପ୍ କରନ୍ତୁ |
Name[pa]=Pmirror ਬੈਕਅੱਪ ਇੱਕ ਡਾਇਰੈਕਟਰੀ
Name[pl]=Pmirror wykonaj kopię zapasową katalogu
Name[ps]=Pmirror ﭖﺍ ﮏﯿﺑ ﺩﻮښﺭﻻ﻿ ﺩ
Name[pt]=Pmirror backup de um diretório
Name[qu]=Pmirror huk directoriomanta waqaychasqa
Name[ro]=Faceți o copie de rezervă a unui director
Name[ru]=Pmirror резервное копирование каталога
Name[rw]=Pmirror ibika ububiko
Name[sa]=Pmirror एकस्य निर्देशिकायाः बैकअपं कुर्वन्तु
Name[sd]=Pmirror ﻱﺮٽڪﻳﺭﺍڊ ﭖﺍ ڪﻴﺑ
Name[si]=නාමාවලියක් Pmirror උපස්ථ කරන්න
Name[sk]=Pmirror zálohujte adresár
Name[sl]=Pmirror varnostno kopirajte imenik
Name[sm]=Pmirror faaleoleo se lisi
Name[sn]=Pmirror chengetedza dhairekitori
Name[so]=Pmirror dib u habee hagaha
Name[sq]=Pmirror rezervoni një drejtori
Name[st]=Pmirror bekapo lethathamo
Name[su]=Pmirror nyadangkeun diréktori
Name[sv]=Pmirror säkerhetskopiera en katalog
Name[sw]=Pmirror chelezo saraka
Name[ta]=Pmirror ஒரு கோப்பகத்தை காப்புப் பிரதி எடுக்கவும்
Name[te]=Pmirror ఒక డైరెక్టరీని బ్యాకప్ చేయండి
Name[tg]=Pmirror директорияро захира кунед
Name[th]=Pmirror สำรองไดเร็กทอรี
Name[ti]=Pmirror ንሓደ ማህደር ምትሕብባር
Name[tk]=Pmirror bukjanyň ätiýaçlyk nusgasy
Name[tl]=Pmirror backup ng isang direktoryo
Name[to]=Pmirror talifaki ha tohi tuʻasila
Name[tr]=Pmirror bir dizini yedekle
Name[ts]=Pmirror backup ya xikombo
Name[tt]=Pmirror каталогны резервлау
Name[tw]=Pmirror backup a ɛyɛ kyerɛwtohɔ
Name[ty]=Pmirror backup a directory
Name[ug]=Pmirror ﯗﺪﻳﻼ﻿ﺳﺎﭘﺍﺯ ﻰﻨﯩﺠﯨﺭەﺪﻧﯘﻣ
Name[uk]=Pmirror резервне копіювання каталогу
Name[ur]=Pmirr ﯼﺮﭩﮐﺮﺋﺍﮈ ﮏﯿﺑ
Name[uz]=Pmirror katalogni zaxiralash
Name[vi]=Pmirror sao lưu một thư mục
Name[xh]=Pmirror backup uvimba weefayili
Name[yi]=Pmirror רעזיַיווגעוו אַ פּאַקאַב
Name[yo]=Pmirror afẹyinti a liana
Name[zh]=Pmirror 备份目录
Name[zu]=I-Pmirror yenza isipele uhla lwemibhalo
Name=Pmirror backup a directory
Icon=mini-folder.xpm
Comment[de]=Pmirror sichert ein Verzeichnis
Comment[es]=Pmirror: copia de seguridad de un directorio
Comment[af]=Pmirror rugsteun n gids
Comment[am]=የPmirror ምትኬ ማውጫ
Comment[ar]=ﻞﻴﻟﺩ Pmirror ﻲﻃﺎﻴﺘﺣﻻ﻿ﺍ ﺦﺴﻨﻟﺍ
Comment[as]=Pmirror এটা ডাইৰেকটৰি বেকআপ লওক
Comment[ay]=Pmirror ukax mä directorio ukan copia de seguridad ukankiwa
Comment[az]=Pmirror kataloqun ehtiyat nüsxəsini çıxarır
Comment[ba]=«Премьеррор» белешмәһенең резервы
Comment[be]=Pmirror рэзервовае капіраванне каталога
Comment[bg]=Pmirror архивиране на директория
Comment[bm]=Pmirror backup a ɲɛbilasɛbɛn dɔ
Comment[bn]=Pmirror ব্যাকআপ একটি ডিরেক্টরি
Comment[bo]=ཕྱི་རྒྱལ་གྱི་ཚོང་པས་དཀར་ཆག་ཅིག་ལ་རྗེས་གྲབས་བྱས་ཡོད།
Comment[bs]=Pmirror sigurnosna kopija direktorija
Comment[ca]=Realitza una còpia de seguretat dun directori
Comment[co]=Fate una copia di salvezza di un cartulare
Comment[cs]=Pmirror zálohujte adresář
Comment[cy]=Pmirror gwneud copi wrth gefn o gyfeiriadur
Comment[da]=Pmirror backup af en mappe
Comment[dv]=އްއެރީޓަކްރެއިޑަ ޕްކަބެ ރރޯމިޕީ
Comment[ee]=Pmirror backup a agbalẽdzraɖoƒe
Comment[el]=Δημιουργία αντιγράφων ασφαλείας καταλόγου Pmirror
Comment[eo]=Spegulu sekurkopion de dosierujo
Comment[et]=Pmirror varundage kataloog
Comment[eu]=Egin ispilu direktorio baten babeskopia
Comment[fa]=Pmirror ﺪﯿﻨﮐ ﻪﯿﻬﺗ ﻥﺎﺒﯿﺘﺸﭘ ﻪﺨﺴﻧ ﯼﺭﻮﺘﮐﺮﯾﺍﺩ ﮏﯾ ﺯﺍ
Comment[fi]=Pmirror varmuuskopioi hakemisto
Comment[fj]=Pmirror tokona e dua na dairekitori
Comment[fo]=Pmirror backup a directory
Comment[fr]=Sauvegarder un répertoire en miroir
Comment[fy]=Pmirror reservekopy in triemtafel
Comment[ga]=Pmirror cúltaca eolaire
Comment[gd]=Pmirror lethbhreac glèidhidh a-eòlaire
Comment[gl]=Facer unha copia de seguridade dun directorio
Comment[gn]=Pmirror eñongatu peteĩ kundaha
Comment[gu]=Pmirror બેકઅપ ડિરેક્ટરી
Comment[ha]=Pmirror madadin directory
Comment[he]=Pmirror היירפס יוביג
Comment[hi]=Pmirror एक निर्देशिका का बैकअप लेता है
Comment[hr]=Pmirror sigurnosna kopija imenika
Comment[ht]=Pmirror backup yon anyè
Comment[hu]=Pmirror készítsen biztonsági másolatot egy könyvtárról
Comment[hy]=Pmirror-ով կրկնօրինակեք գրացուցակը
Comment[id]=Pmirror mencadangkan direktori
Comment[ig]=Pmirror ndabere ndekọ
Comment[is]=Pmirror öryggisafrit af möppu
Comment[it]=Pmirror esegue il backup di una directory
Comment[iu]=Pmirror-ᒧᑦ ᑭᖑᕝᕕᐅᑎᔪᒃᓴᖅ
Comment[ja]=ディレクトリのバックアップをミラーリングする
Comment[jv]=Pmirror gawe serep direktori
Comment[ka]=Pmirror-ის სარეზერვო დირექტორია
Comment[kk]=Pmirror каталогтың сақтық көшірмесін жасайды
Comment[km]=Pmirror បម្រុងទុកថតមួយ។
Comment[kn]=ಪಿಮಿರರ್ ಡೈರೆಕ್ಟರಿಯನ್ನು ಬ್ಯಾಕಪ್ ಮಾಡಿ
Comment[ko]=디렉터리 백업 Pmirror
Comment[ku]=Pmirror pelrêçek hilanînê
Comment[ky]=Pmirror каталогдун камдык көчүрмөсүн сактоо
Comment[la]=Pmirror tergum directorium
Comment[lb]=Pmirror Backupsatellit engem Verzeechnes
Comment[lg]=Pmirror backup a dayirekita
Comment[ln]=Pmirror sauvegarde ya répertoire moko
Comment[lo]=Pmirror ສໍາຮອງຂໍ້ມູນໄດເລກະທໍລີ
Comment[lt]=Pmirror atsarginė katalogo kopija
Comment[lv]=Pmirror dublējiet direktoriju
Comment[mg]=Pmirror backup lahatahiry
Comment[mi]=Pmirror tārua he whaiaronga
Comment[mk]=Pmirror направи резервна копија од директориум
Comment[ml]=Pmirror ഒരു ഡയറക്ടറി ബാക്കപ്പ് ചെയ്യുക
Comment[mn]=Pmirror лавлах нөөцлөлт
Comment[mr]=Pmirror बॅकअप निर्देशिका
Comment[ms]=Pmirror membuat sandaran direktori
Comment[mt]=Agħmel backup ta direttorju
Comment[my]=Pmirror သည် လမ်းညွှန်တစ်ခုကို အရန်ကူးပါ။
Comment[ne]=Pmirror ब्याकअप निर्देशिका
Comment[nl]=Pmirror maakt een back-up van een map
Comment[no]=Pmirror sikkerhetskopiere en katalog
Comment[ny]=Pmirror sungani chikwatu
Comment[om]=Pmirror galmee tokko duwwaa godhi
Comment[or]=Pmirror ଏକ ଡିରେକ୍ଟୋରୀକୁ ବ୍ୟାକଅପ୍ କରନ୍ତୁ |
Comment[pa]=Pmirror ਬੈਕਅੱਪ ਇੱਕ ਡਾਇਰੈਕਟਰੀ
Comment[pl]=Pmirror wykonaj kopię zapasową katalogu
Comment[ps]=Pmirror ﭖﺍ ﮏﯿﺑ ﺩﻮښﺭﻻ﻿ ﺩ
Comment[pt]=Pmirror backup de um diretório
Comment[qu]=Pmirror huk directoriomanta waqaychasqa
Comment[ro]=Faceți o copie de rezervă a unui director
Comment[ru]=Pmirror резервное копирование каталога
Comment[rw]=Pmirror ibika ububiko
Comment[sa]=Pmirror एकस्य निर्देशिकायाः बैकअपं कुर्वन्तु
Comment[sd]=Pmirror ﻱﺮٽڪﻳﺭﺍڊ ﭖﺍ ڪﻴﺑ
Comment[si]=නාමාවලියක් Pmirror උපස්ථ කරන්න
Comment[sk]=Pmirror zálohujte adresár
Comment[sl]=Pmirror varnostno kopirajte imenik
Comment[sm]=Pmirror faaleoleo se lisi
Comment[sn]=Pmirror chengetedza dhairekitori
Comment[so]=Pmirror dib u habee hagaha
Comment[sq]=Pmirror rezervoni një drejtori
Comment[st]=Pmirror bekapo lethathamo
Comment[su]=Pmirror nyadangkeun diréktori
Comment[sv]=Pmirror säkerhetskopiera en katalog
Comment[sw]=Pmirror chelezo saraka
Comment[ta]=Pmirror ஒரு கோப்பகத்தை காப்புப் பிரதி எடுக்கவும்
Comment[te]=Pmirror ఒక డైరెక్టరీని బ్యాకప్ చేయండి
Comment[tg]=Pmirror директорияро захира кунед
Comment[th]=Pmirror สำรองไดเร็กทอรี
Comment[ti]=Pmirror ንሓደ ማህደር ምትሕብባር
Comment[tk]=Pmirror bukjanyň ätiýaçlyk nusgasy
Comment[tl]=Pmirror backup ng isang direktoryo
Comment[to]=Pmirror talifaki ha tohi tuʻasila
Comment[tr]=Pmirror bir dizini yedekle
Comment[ts]=Pmirror backup ya xikombo
Comment[tt]=Pmirror каталогны резервлау
Comment[tw]=Pmirror backup a ɛyɛ kyerɛwtohɔ
Comment[ty]=Pmirror backup a directory
Comment[ug]=Pmirror ﯗﺪﻳﻼ﻿ﺳﺎﭘﺍﺯ ﻰﻨﯩﺠﯨﺭەﺪﻧﯘﻣ
Comment[uk]=Pmirror резервне копіювання каталогу
Comment[ur]=Pmirr ﯼﺮﭩﮐﺮﺋﺍﮈ ﮏﯿﺑ
Comment[uz]=Pmirror katalogni zaxiralash
Comment[vi]=Pmirror sao lưu một thư mục
Comment[xh]=Pmirror backup uvimba weefayili
Comment[yi]=Pmirror רעזיַיווגעוו אַ פּאַקאַב
Comment[yo]=Pmirror afẹyinti a liana
Comment[zh]=Pmirror 备份目录
Comment[zu]=I-Pmirror yenza isipele uhla lwemibhalo
Comment=Pmirror backup a directory
Exec=/usr/local/pmirror/pmirror
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pmirror backup a directory
