[Desktop Entry]
Encoding=UTF-8
Name[de]=Pmirror sichert ein Verzeichnis
Name[fr]=Sauvegarde de répertoire : Pmirror
Name[es]=Pmirror: copia de seguridad de un directorio
Name=Pmirror backup a directory
Icon=mini-folder.xpm
Comment[de]=Pmirror sichert ein Verzeichnis
Comment[es]=Pmirror: copia de seguridad de un directorio
Comment=Pmirror backup a directory
Exec=/usr/local/pmirror/pmirror
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pmirror backup a directory
