[Desktop Entry]
Encoding=UTF-8
Name[de]=PMirrorget Website-Downloader
Name[fr]=Téléchargement de sites Ouèb : PMirrorget
Name[es]=PMirrorget: descargar sitios web
Name=PMirrorget website downloader
Icon=mini-lower.xpm
Comment[de]=Website-Datei-Grabber
Comment[es]=PMirrorget: descargar sitios web
Comment=Website File Grabber
Exec=pmwget
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=PMirrorget
