[Desktop Entry]
Encoding=UTF-8
Name[de]=PMirrorget Website-Downloader
Name[fr]=Téléchargement de sites Ouèb : PMirrorget
Name[es]=PMirrorget: descargar sitios web
Name[af]=PMirrorget webwerf aflaaier
Name[am]=PMirrorget ድር ጣቢያ አውራጅ
Name[ar]=ﺐﻳﻮﻟﺍ ﻊﻗﻮﻣ ﻞﻳﺰﻨﺘﻟ PMirrorget ﺞﻣﺎﻧﺮﺑ
Name[as]=PMirrorget ৱেবছাইট ডাউনলোডাৰ
Name[ay]=PMirrorget ukax sitio web ukan apkatatawa
Name[az]=PMirrorget veb sayt yükləyicisi
Name[ba]=Сайт йөкләүсе PMirrorget
Name[be]=Загрузнік вэб-сайтаў PMirrorget
Name[bg]=Програма за изтегляне на уебсайтове PMirrorget
Name[bm]=PMirrorget ka siti in telesarsebaga
Name[bn]=PMirrorget ওয়েবসাইট ডাউনলোডার
Name[bo]=PMirorgetདྲ་ཚིགས་ཕབ་ལེན་བྱེད་མཁན།
Name[bs]=PMirrorget program za preuzimanje web stranice
Name[ca]=Descàrrega de llocs web PMirrget
Name[co]=Scaricatore di u situ PMirrget
Name[cs]=Stahovač webových stránek PMirorget
Name[cy]=Dadlwythwr gwefan PMirrorget
Name[da]=Pmirrorget hjemmeside downloader
Name[dv]=ވެކެޗެއްއެ ރާކު ޑްލޯންއުޑަ ޓްއިސަބްވެ ޓްރެރޮމިޕީ
Name[ee]=PMirrorget nyatakakadzraɖoƒe ƒe kɔpiwɔla
Name[el]=Πρόγραμμα λήψης ιστότοπου PMirrorget
Name[eo]=PMirrget retejo elŝutilo
Name[et]=PMirrrget veebisaidi allalaadija
Name[eu]=PMirrget webgunearen deskargatzailea
Name[fa]=PMirrorget ﺖﯾﺎﺳ ﺏﻭ ﻩﺪﻨﻨﮐ ﺩﻮﻠﻧﺍﺩ
Name[fi]=PMirrorget-sivuston latausohjelma
Name[fj]=PMirrorget mataveilawa downloader
Name[fo]=PMirrorget website downloader
Name[fy]=PMirrorget webside downloader
Name[ga]=PMirrorget íosluchtaigh láithreán gréasáin
Name[gd]=PMirrorget làrach-lìn a luchdadh a-nuas
Name[gl]=Descargador de sitios web PMirrget
Name[gn]=PMirrorget página web ñemboguejyha
Name[gu]=PMirrorget વેબસાઇટ ડાઉનલોડર
Name[ha]=PMirrorget mai saukar da gidan yanar gizo
Name[he]=Pmirrorget רתא תדרוה
Name[hi]=PMirrorget वेबसाइट डाउनलोडर
Name[hr]=Program za preuzimanje web stranica PMirrorget
Name[ht]=PMirrget sit entènèt telechaje
Name[hu]=PMirrrget weboldal letöltő
Name[hy]=PMirrorget կայքի ներբեռնիչ
Name[id]=Pengunduh situs web PMirrorget
Name[ig]=PMirrorget ihe nbudata webụsaịtị
Name[is]=Pmirrorget vefsíðu til að hlaða niður forriti
Name[it]=Downloader del sito Web PMirrorget
Name[iu]=PMirrorget ᐃᑭᐊᖅᑭᕕᒃ ᒥᓇᕆᔾᔪᑎ
Name[ja]=PMirrorget Web サイトダウンローダー
Name[jv]=Pengunduh situs web PMirrorget
Name[ka]=PMirrorget ვებსაიტის ჩამოტვირთვა
Name[kk]=PMirrorget веб-сайт жүктеушісі
Name[km]=កម្មវិធីទាញយកគេហទំព័រ PMirrget
Name[kn]=PMirrorget ವೆಬ್u200cಸೈಟ್ ಡೌನ್u200cಲೋಡರ್
Name[ko]=PMirrorget 웹사이트 다운로더
Name[ku]=Daxistina malpera PMirrorget
Name[ky]=PMirrorget веб-сайт жүктөөчүсү
Name[la]=PMirrorget website download
Name[lb]=PMirrorget Websäit Downloader
Name[lg]=PMirrorget omukutu gwa yintaneeti oguwanula
Name[ln]=PMirrorget téléchargeur ya site internet
Name[lo]=ຕົວດາວໂຫລດເວັບໄຊທ໌ PMirorget
Name[lt]=„PMirrrget“ svetainių atsisiuntimo programa
Name[lv]=PMirrrget vietņu lejupielādētājs
Name[mg]=Pirrorget tranonkala downloader
Name[mi]=PMirrorget paetukutuku downloader
Name[mk]=Преземач на веб-локација PMirrorget
Name[ml]=PMirrorget വെബ്സൈറ്റ് ഡൗൺലോഡർ
Name[mn]=PMirrorget вэбсайт татагч
Name[mr]=PMirrorget वेबसाइट डाउनलोडर
Name[ms]=PMirrorget pemuat turun tapak web
Name[mt]=PMirrget downloader tal-websajt
Name[my]=PMirrorget ဝဘ်ဆိုဒ်ဒေါင်းလုပ်လုပ်သူ
Name[ne]=PMirrorget वेबसाइट डाउनलोडर
Name[nl]=PMirrorget website-downloader
Name[no]=Pmirrorget nettsted nedlasting
Name[ny]=PMirrorget wotsitsa tsamba lawebusayiti
Name[om]=PMirrorget marsariitii buufachuu
Name[or]=PMirrorget ୱେବସାଇଟ୍ ଡାଉନଲୋଡର୍ |
Name[pa]=PMirrorget ਵੈੱਬਸਾਈਟ ਡਾਊਨਲੋਡਰ
Name[pl]=Program do pobierania stron internetowych PMirrorget
Name[ps]=ﺭډﻮﻠﻧﻭﺍډ ﯥڼﺎﭘ ﺐﯾﻭ PMirrorget ﺩ
Name[pt]=PMirrorget website downloader
Name[qu]=PMirrorget web kitita uraykachiq
Name[ro]=Program de descărcare a site-ului PMirrget
Name[ru]=PMirrorget Загрузчик веб-сайтов
Name[rw]=Gukuramo urubuga rwa PMirrorget
Name[sa]=PMirrorget वेबसाइट डाउनलोडर
Name[sd]=PMirrorget ڙﺪﻨڪ ڊﻮﻟ ﻥﻮﺋﺍڊ ٽﻴﺋﺎﺳ ﺐﻳﻭ
Name[si]=PMirrorget වෙබ් අඩවිය බාගත කරන්නා
Name[sk]=Sťahovanie webových stránok PMirrorget
Name[sl]=Prenosnik spletnih strani PMirrorget
Name[sm]=PMirrorget upega tafaʻilagi downloader
Name[sn]=PMirrorget webhusaiti downloader
Name[so]=PMirrorget soo dejiyaha degelka
Name[sq]=Shkarkues i faqes në internet PMirrorget
Name[st]=PMirrorget downloader ea sebaka sa marang-rang
Name[su]=Downloader ramatloka PMirrorget
Name[sv]=Ladda ner PMirrorget webbplats
Name[sw]=PMirrorget upakuaji wa tovuti
Name[ta]=PMirrorget இணையதளப் பதிவிறக்கம் செய்பவர்
Name[te]=PMirrorget వెబ్u200cసైట్ డౌన్u200cలోడ్
Name[tg]=Зеркашии вебсайти PMirrorget
Name[th]=เครื่องมือดาวน์โหลดเว็บไซต์ PMirrorget
Name[ti]=PMirrorget ዌብሳይት ዳውንሎደር
Name[tk]=PMirrorget web sahypasyny göçürip alyjy
Name[tl]=PMirrorget website downloader
Name[to]=Uepisaiti PMirrorget downloader
Name[tr]=PMirrorget web sitesi indiricisi
Name[ts]=PMirrorget xitirhisiwa xo dawuniloda webusayiti
Name[tt]=PMirrorget сайтын йөкләүче
Name[tw]=PMirrorget wɛbsaet a wɔde twe nneɛma
Name[ty]=PMirrorget website downloader
Name[ug]=PMirrorget ﻰﭼﯜﮔﺭﯜﺷﯜﭼ ﻰﻨﯩﺘﯧﺑ ﺭﻮﺗ
Name[uk]=Завантажувач веб-сайтів PMirrorget
Name[ur]=PMirrorget ﺭﮈﻮﻠﻧﺅﺍﮈ ﭧﺋﺎﺳ ﺐﯾﻭ
Name[uz]=PMirrorget veb-sayt yuklab olish dasturi
Name[vi]=Trình tải xuống trang web PMirrorget
Name[xh]=PMirrorget website downloader
Name[yi]=Pmirrorget רעדאַאָלנוואָד לטייזבעוו
Name[yo]=PMirrorget aaye ayelujara downloader
Name[zh]=PMirrorget 网站下载器
Name[zu]=PMirrorget website downloader
Name=PMirrorget website downloader
Icon=mini-lower.xpm
Comment[de]=Website-Datei-Grabber
Comment[es]=PMirrorget: descargar sitios web
Comment[af]=Webwerf File Grabber
Comment[am]=የድር ጣቢያ ፋይል Grabber
Comment[ar]=ﻉﺰﺘﻨﻤﻟﺍ ﻒﻠﻣ ﻊﻗﻮﻣ
Comment[as]=ৱেবছাইট ফাইল গ্ৰেবাৰ
Comment[ay]=Sitio Web ukan Archivo Grabber
Comment[az]=Veb sayt Fayl Grabber
Comment[ba]=Сайт Файл глабпер
Comment[be]=Граббер файлаў сайта
Comment[bg]=Уебсайт Файл Граббер
Comment[bm]=Site web File minɛbaga
Comment[bn]=ওয়েবসাইট ফাইল গ্র্যাবার
Comment[bo]=དྲ་ཚིགས་ཀྱི་ཡིག་ཆ་འཕྲོག་མཁན།
Comment[bs]=Website File Grabber
Comment[ca]=Capturador de fitxers de llocs web
Comment[co]=Site Web File Grabber
Comment[cs]=Webová stránka Soubor Grabber
Comment[cy]=Graber Ffeil Gwefan
Comment[da]=Webstedsfilgrabber
Comment[dv]=ރބަރޭގް ލްއިފަ ޓްއިސަބްވެ
Comment[ee]=Nyatakakadzraɖoƒe ƒe Faɛl Xɔla
Comment[el]=Ιστοσελίδα File Grabber
Comment[eo]=Reteja File Grabber
Comment[et]=Website File Grabber
Comment[eu]=Webguneko Fitxategi Hartzailea
Comment[fa]=ﺖﯾﺎﺳ ﺏﻭ ﺮﯿﮔ ﻞﯾﺎﻓ
Comment[fi]=Website File Grabber
Comment[fj]=Veivakacurumi ni Faile ni Mataveilawa
Comment[fo]=Website File Grabber
Comment[fr]=Saisie de fichiers de site Web
Comment[fy]=Website File Grabber
Comment[ga]=Graber Comhad Láithreán Gréasáin
Comment[gd]=Làrach-lìn File Graber
Comment[gl]=Captador de ficheiros do sitio web
Comment[gn]=Página Web Archivo Grabber rehegua
Comment[gu]=વેબસાઇટ ફાઇલ ગ્રેબર
Comment[ha]=Fayil na Yanar Gizo
Comment[he]=רתאב םיצבק ספות
Comment[hi]=वेबसाइट फ़ाइल ग्रैबर
Comment[hr]=Website File Grabber
Comment[ht]=Sit entènèt File Grabber
Comment[hu]=Weboldal File Grabber
Comment[hy]=Կայքի ֆայլերի գրավիչ
Comment[id]=Pengambil File Situs Web
Comment[ig]=Webụsaịtị faịlụ Grabber
Comment[is]=Vefsíðu File Grabber
Comment[it]=Grabber di file del sito web
Comment[iu]=ᐃᑭᐊᖅᑭᕕᖕᒧᑦ ᑐᖅᑯᐃᕕᒃ
Comment[ja]=ウェブサイトファイルグラバー
Comment[jv]=Situs web File Grabber
Comment[ka]=ვებსაიტის ფაილების დამჭერი
Comment[kk]=Веб-сайт файлдарын ұстаушы
Comment[km]=គេហទំព័រឯកសារ Grabber
Comment[kn]=ವೆಬ್u200cಸೈಟ್ ಫೈಲ್ ಗ್ರಾಬರ್
Comment[ko]=웹사이트 파일 그래버
Comment[ku]=Malpera Pelê Grabber
Comment[ky]=Website File Grabber
Comment[la]=Tabularium website Grabber
Comment[lb]=Websäit Datei Grabber
Comment[lg]=Omukwasi wa Fayiro z’Omukutu
Comment[ln]=Mokangami ya ba fichiers ya site internet
Comment[lo]=ເວັບໄຊທ໌ File Grabber
Comment[lt]=Svetainės failų griebtuvas
Comment[lv]=Vietnes failu sagrābējs
Comment[mg]=Website File Grabber
Comment[mi]=Paetukutuku File Grabber
Comment[mk]=Граббер на датотеки на веб-страница
Comment[ml]=വെബ്u200cസൈറ്റ് ഫയൽ ഗ്രാബർ
Comment[mn]=Вэб сайтын файл хураагч
Comment[mr]=वेबसाइट फाइल ग्रॅबर
Comment[ms]=Perebut Fail Laman Web
Comment[mt]=Websajt File Grabber
Comment[my]=Website File Grabber
Comment[ne]=वेबसाइट फाइल ग्राबर
Comment[nl]=Bestandengrabber voor websites
Comment[no]=Nettstedfilgrabber
Comment[ny]=Tsamba la Fayilo la Webusayiti
Comment[om]=Faayila Weebsaayitii Qabduu
Comment[or]=ୱେବସାଇଟ୍ ଫାଇଲ୍ ଗ୍ରାବର୍ |
Comment[pa]=ਵੈੱਬਸਾਈਟ ਫਾਈਲ ਗ੍ਰੈਬਰ
Comment[pl]=Przechwytywanie plików na stronie internetowej
Comment[ps]=ﺮﺒﯾﺮګ ﻞﯾﺎﻓ ﯥڼﺎﭘ ﺐﯾﻭ ﺩ
Comment[pt]=Agarrador de arquivos do site
Comment[qu]=Web nisqapi Archivokuna hapiq
Comment[ro]=Site File Grabber
Comment[ru]=Захват файлов веб-сайтов
Comment[rw]=Urubuga File Grabber
Comment[sa]=वेबसाइट सञ्चिकाग्राबर
Comment[sd]=ﺮﺑﺍﺮﮔ ﻞﺋﺎﻓ ٽﻴﺋﺎﺳ ﺐﻳﻭ
Comment[si]=වෙබ් අඩවි ගොනු ග්u200dරැබර්
Comment[sk]=Webová stránka File Grabber
Comment[sl]=Zajemalnik datotek spletnega mesta
Comment[sm]=Upega Tafailagi File Grabber
Comment[sn]=Webhusaiti Faira Grabber
Comment[so]=Websaydhka File Grabber
Comment[sq]=Grabber i skedarëve të faqes në internet
Comment[st]=Websaete ea Faele ea Grabber
Comment[su]=Situs Web File Grabber
Comment[sv]=Webbplats File Grabber
Comment[sw]=Faili ya Wavuti ya Grabber
Comment[ta]=இணையதள கோப்பு கிராப்பர்
Comment[te]=వెబ్u200cసైట్ ఫైల్ గ్రాబెర్
Comment[tg]=Граббери файли вебсайт
Comment[th]=ไฟล์ Grabber เว็บไซต์
Comment[ti]=ዌብሳይት ፋይል ግራበር
Comment[tk]=Sahypa faýly Grabber
Comment[tl]=Website File Grabber
Comment[to]=Faile ʻo e uepisaiti Grabber
Comment[tr]=Web Sitesi Dosya Yakalayıcı
Comment[ts]=Mukhomi wa Fayili ya Website
Comment[tt]=Вебсайт файллары
Comment[tw]=Wɛbsaet Fael Grabber
Comment[ty]=Tahua Itenati File Grabber
Comment[ug]=ﻰﺘﯩﺠﺟﯚﮬ ﺕەﻜﯧﺑ ﺭﻮﺗ
Comment[uk]=Захоплювач файлів веб-сайту
Comment[ur]=ﺮﺑﺍﺮﮔ ﻞﺋﺎﻓ ﭧﺋﺎﺳ ﺐﯾﻭ
Comment[uz]=Veb-sayt fayllarini tortib oluvchi
Comment[vi]=Trình lấy tệp trang web
Comment[xh]=IFayile yeWebhusayithi iGrabber
Comment[yi]=רעבאַרג עקעט לטיַיזבעוו
Comment[yo]=Aaye Faili Grabber
Comment[zh]=网站文件抓取器
Comment[zu]=I-Website File Grabber
Comment=Website File Grabber
Exec=pmwget
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=PMirrorget
