[Desktop Entry]
Encoding=UTF-8
Name[de]=Precord mp3, ogg, wav recorder/player
Name[fr]=Magnétophone mp3,ogg,wav : Precord
Name[es]=Precord: grabar / reproducir mp3, ogg y wav
Name[af]=Precord mp3,ogg,wav-opnemer/speler
Name[am]=Precord mp3፣ogg፣wav recorder/ተጫዋች
Name[ar]=ﻞﻐﺸﻣ / ﻞﺠﺴﻣ mp3 ، ogg ، wav ﺩﺭﻮﻜﻳﺮﺑ
Name[as]=Precord mp3,ogg,wav ৰেকৰ্ডাৰ/প্লেয়াৰ
Name[ay]=Precord mp3,ogg,wav grabadora/reproductor ukax mä juk’a pachanakanwa
Name[az]=Precord mp3, ogg, wav yazıcı/pleyer
Name[ba]=Precord mp3,ogg,wav рекордсыһы/уйынсыһы
Name[be]=Папярэдне запісаны запіс/прайгравальнік mp3, ogg, wav
Name[bg]=Предварителен запис на mp3, ogg, wav рекордер/плейър
Name[bm]=Precord mp3,ogg,wav sɛbɛnnikɛlan/fɔlikɛlan
Name[bn]=প্রিকর্ড mp3, ogg, wav রেকর্ডার/প্লেয়ার
Name[bo]=Precord mp3,ogg,wav recorder/player
Name[bs]=Snimi mp3,ogg,wav snimač/plejer
Name[ca]=Gravador/reproductor de preenregistrament mp3, ogg, wav
Name[co]=Precord mp3, ogg, wav recorder / player
Name[cs]=Precord mp3,ogg,wav rekordér/přehrávač
Name[cy]=Precord mp3, ogg, recordydd tonnau / chwaraewr
Name[da]=Foroptag mp3,ogg,wav-optager/afspiller
Name[dv]=ރޔަލޭޕް/ރޑަކޯރެ mp3,ogg,wav ޑްކޯރީޕް
Name[ee]=Precord mp3,ogg,wav nuŋɔŋlɔ/ƒomɔ̃
Name[el]=Προεγγραφή mp3, ogg, wav recorder/player
Name[eo]=Preregistru mp3, ogg, wav registrilon/ludilon
Name[et]=Eelsalvesta mp3, ogg, wav salvesti/mängija
Name[eu]=Aurrez grabatu mp3, ogg, wav grabagailu/erreproduzitzailea
Name[fa]=ﺪﯿﻨﮐ ﻂﺒﺿ ﻞﺒﻗ ﺯﺍ ﺍﺭ mp3، ogg، wav ﻩﺪﻨﻨﮐ ﺶﺨﭘ / ﻂﺒﺿ
Name[fi]=Precord mp3,ogg,wav-tallennin/soitin
Name[fj]=iTukutuku taumada mp3, ogg, wav vunivola/misini
Name[fo]=Precord mp3,ogg,wav recorder/player
Name[fy]=Precord mp3,ogg,wav-recorder/spieler
Name[ga]=Réamhthaifeadadh mp3, ogg, taifeadán tonn/imreoir
Name[gd]=Clàraich mp3, ogg, inneal-clàraidh tonn / cluicheadair
Name[gl]=Grabadora/reproductor de pregrabación de mp3, ogg, wav
Name[gn]=Precord mp3,ogg,onda grabadora/reproductor
Name[gu]=પ્રીકોર્ડ mp3,ogg,wav રેકોર્ડર/પ્લેયર
Name[ha]=Precord mp3,ogg,wav recorder/player
Name[he]=ןגנ/טילקמ mp3,ogg,Wav טילקמ
Name[hi]=प्रीकॉर्ड एमपी3, ओजीजी, वेव रिकॉर्डर/प्लेयर
Name[hr]=Prethodno snimite mp3, ogg, wav snimač/player
Name[ht]=Precord mp3, ogg, wav achiv/jwè
Name[hu]=Előzetes mp3, ogg, wav felvevő/lejátszó
Name[hy]=Precord mp3, ogg, wav ձայնագրիչ/նվագարկիչ
Name[id]=Prerecord mp3,ogg,wav recorder/player
Name[ig]=Precord mp3,ogg,wav recorder/player
Name[is]=Forupptaka mp3,ogg,wav upptökutæki/spilari
Name[it]=Preregistrare mp3, ogg, registratore/riproduttore wav
Name[iu]=Precord mp3,ogg, wav ᑎᑎᕋᖅᑎ/player
Name[ja]=プリレコードmp3、ogg、wavレコーダー/プレーヤー
Name[jv]=Rekam mp3,ogg,wav recorder/player
Name[ka]=წინასწარ ჩაწერეთ mp3, ogg, wav ჩამწერი/პლეერი
Name[kk]=Алдын ала mp3, ogg, wav жазғыш/ойнатқыш
Name[km]=Precord mp3, ogg, wav recorder/player
Name[kn]=ಪ್ರಿಕಾರ್ಡ್ mp3,ogg,wav ರೆಕಾರ್ಡರ್/ಪ್ಲೇಯರ್
Name[ko]=Precord mp3, ogg, wav 레코더/플레이어
Name[ku]=Pêşkêşkirina mp3, ogg, tomarker/lîstikvana wav
Name[ky]=Precord mp3,ogg,wav жазгыч/плеер
Name[la]=Precord mp3, ogg, wav commentariis/player
Name[lb]=Precord mp3,ogg,wav Recorder/Player
Name[lg]=Precord mp3,ogg,ekyuma ekikwata amayengo/omuzannyi
Name[ln]=Precord mp3,ogg,enregistreur/lecteur ya mbonge
Name[lo]=Precord mp3,ogg,wav recorder/player
Name[lt]=Iš anksto įrašyti mp3, ogg, wav grotuvą / grotuvą
Name[lv]=Ierakstiet mp3, ogg, wav ierakstītāju/atskaņotāju
Name[mg]=Precord mp3,ogg,wav recorder/player
Name[mi]=Precord mp3,ogg,wav kaiwhakamahara/kaitakaro
Name[mk]=Снимајте mp3, ogg, wav рекордер/плеер
Name[ml]=Precord mp3,ogg,wav റെക്കോർഡർ/പ്ലെയർ
Name[mn]=Precord mp3,ogg,wav бичигч/тоглогч
Name[mr]=प्रीकॉर्ड mp3,ogg,wav रेकॉर्डर/प्लेअर
Name[ms]=Prarakam mp3, ogg, perakam/pemain wav
Name[mt]=Precord mp3, ogg, wav recorder/player
Name[my]=mp3၊ ogg၊ wav အသံဖမ်းစက်/ပလေယာကို ကြိုတင်မှတ်ထားပါ။
Name[ne]=Precord mp3,ogg,wav रेकर्डर/प्लेयर
Name[nl]=Precord mp3,ogg,wav recorder/speler
Name[no]=Forhåndsopptak mp3,ogg,wav-opptaker/spiller
Name[ny]=Precord mp3, ogg, wav recorder/player
Name[om]=Precord mp3,ogg,wav waraabduu/taphattuu
Name[or]=Precord mp3, ogg, wav ରେକର୍ଡର୍ / ପ୍ଲେୟାର୍ |
Name[pa]=ਪ੍ਰੀਕਾਰਡ mp3,ogg,wav ਰਿਕਾਰਡਰ/ਪਲੇਅਰ
Name[pl]=Precord mp3, ogg, nagrywarka/odtwarzacz wav
Name[ps]=ﺮﯿﻠﭘ/ﺭډﺭﺎﮑﯾﺭ mp3،ogg،wav ډﺭﺎﮐ ﯼﺮﭘ
Name[pt]=Precord mp3, ogg, wav gravador / player
Name[qu]=Precord mp3,ogg,wav grabadora/reproductor
Name[ro]=Precordare mp3, ogg, wav recorder/player
Name[ru]=Precord mp3, ogg, wav рекордер/плеер
Name[rw]=Precord mp3, ogg, wav yandika / umukinnyi
Name[sa]=Precord mp3,ogg,wav रिकॉर्डर/प्लेयर
Name[sd]=Precord mp3,ogg,wav recorder/player
Name[si]=Precord mp3,ogg,wav රෙකෝඩරය/ප්ලේයරය
Name[sk]=Precord mp3,ogg,wav rekordér/prehrávač
Name[sl]=Snemalnik/predvajalnik mp3, ogg, wav
Name[sm]=Faamaumau mp3,ogg,wav puefaamau/taalo
Name[sn]=Precord mp3, ogg, wav rekodhi / mutambi
Name[so]=Precord mp3,ogg,wav recorder/player
Name[sq]=Regjistroni paraprakisht regjistrues/player mp3, ogg, wav
Name[st]=Precord mp3, ogg, wav rekota / sebapali
Name[su]=Precord mp3,ogg,wav recorder/pamuter
Name[sv]=Spela in mp3,ogg,wav-inspelare/spelare
Name[sw]=Precord mp3,ogg,wav rekoda/kichezaji
Name[ta]=முன்பதிவு mp3,ogg,wav ரெக்கார்டர்/பிளேயர்
Name[te]=ప్రీకార్డ్ mp3,ogg,wav రికార్డర్/ప్లేయర్
Name[tg]=Precord mp3, ogg, сабткунандаи wav/плеер
Name[th]=พรีคอร์ด mp3,ogg,wav recorder/player
Name[ti]=Precord mp3,ogg,wav መቕረጺ/መጻወቲ
Name[tk]=Prekord mp3, ogg, waw ýazgysy / pleýer
Name[tl]=I-precord ang mp3, ogg, wav recorder/player
Name[to]=ʻOsi lekooti MP3, ogg, wav tauhi lekooti/Player
Name[tr]=Precord mp3, ogg, wav kaydedici/oynatıcı
Name[ts]=Precord mp3,ogg,xi rhekhodi/xichayachayani xa wav
Name[tt]=Precord mp3, ogg, wav магнитофон / плеер
Name[tw]=Precord mp3,ogg,wav afiri a wɔde kyere nsɛm/bɔ
Name[ty]=Precord mp3, ygg, wav recorder/player
Name[ug]=Precord mp3, ogg, wav ﭺﯘﻐﻳﻮﻗ / ﭺﯜﮕﯩﻠﯨﺮﯩﺗﺎﺧ
Name[uk]=Попередній запис mp3, ogg, wav рекордер/плеєр
Name[ur]=ﺮﺌﯿﻠﭘ/ﺭﮈﺭﺎﮑﯾﺭ ﻮﯾﻭ ،ﯽﺟ ﯽﺟ ﻭﺍ ،mp3 ﮈﺭﺎﮑﯾﺭ ﯼﺮﭘ
Name[uz]=Precord mp3, ogg, wav yozuvchisi/pleyer
Name[vi]=Precord mp3, ogg, wav máy ghi/máy nghe nhạc
Name[xh]=Precord mp3,ogg,wav irekhoda/umdlali
Name[yi]=רעליפּש / ןאָפאָטענגאַמ וואַוו ,גגאָ ,mp3 דראָקערפּ
Name[yo]=Precord mp3,ogg,wav recorder/player
Name[zh]=Precord mp3、ogg、wav 录音机/播放器
Name[zu]=Qopha i-mp3, i-ogg, i-wav rekhoda/isidlali
Name=Precord mp3,ogg,wav recorder/player
Icon=mini-record.xpm
Comment[de]=Precord mp3, ogg, wav recorder/player
Comment[es]=Precord: grabar / reproducir mp3, ogg y wav
Comment[af]=Precord mp3,ogg,wav-opnemer/speler
Comment[am]=Precord mp3፣ogg፣wav recorder/ተጫዋች
Comment[ar]=ﻞﻐﺸﻣ / ﻞﺠﺴﻣ mp3 ، ogg ، wav ﺩﺭﻮﻜﻳﺮﺑ
Comment[as]=Precord mp3,ogg,wav ৰেকৰ্ডাৰ/প্লেয়াৰ
Comment[ay]=Precord mp3,ogg,wav grabadora/reproductor ukax mä juk’a pachanakanwa
Comment[az]=Precord mp3, ogg, wav yazıcı/pleyer
Comment[ba]=Precord mp3,ogg,wav рекордсыһы/уйынсыһы
Comment[be]=Папярэдне запісаны запіс/прайгравальнік mp3, ogg, wav
Comment[bg]=Предварителен запис на mp3, ogg, wav рекордер/плейър
Comment[bm]=Precord mp3,ogg,wav sɛbɛnnikɛlan/fɔlikɛlan
Comment[bn]=প্রিকর্ড mp3, ogg, wav রেকর্ডার/প্লেয়ার
Comment[bo]=Precord mp3,ogg,wav recorder/player
Comment[bs]=Snimi mp3,ogg,wav snimač/plejer
Comment[ca]=Gravador/reproductor de preenregistrament mp3, ogg, wav
Comment[co]=Precord mp3, ogg, wav recorder / player
Comment[cs]=Precord mp3,ogg,wav rekordér/přehrávač
Comment[cy]=Precord mp3, ogg, recordydd tonnau / chwaraewr
Comment[da]=Foroptag mp3,ogg,wav-optager/afspiller
Comment[dv]=ރޔަލޭޕް/ރޑަކޯރެ mp3,ogg,wav ޑްކޯރީޕް
Comment[ee]=Precord mp3,ogg,wav nuŋɔŋlɔ/ƒomɔ̃
Comment[el]=Προεγγραφή mp3, ogg, wav recorder/player
Comment[eo]=Preregistru mp3, ogg, wav registrilon/ludilon
Comment[et]=Eelsalvesta mp3, ogg, wav salvesti/mängija
Comment[eu]=Aurrez grabatu mp3, ogg, wav grabagailu/erreproduzitzailea
Comment[fa]=ﺪﯿﻨﮐ ﻂﺒﺿ ﻞﺒﻗ ﺯﺍ ﺍﺭ mp3، ogg، wav ﻩﺪﻨﻨﮐ ﺶﺨﭘ / ﻂﺒﺿ
Comment[fi]=Precord mp3,ogg,wav-tallennin/soitin
Comment[fj]=iTukutuku taumada mp3, ogg, wav vunivola/misini
Comment[fo]=Precord mp3,ogg,wav recorder/player
Comment[fr]=Precord mp3, ogg, enregistreur/lecteur wav
Comment[fy]=Precord mp3,ogg,wav-recorder/spieler
Comment[ga]=Réamhthaifeadadh mp3, ogg, taifeadán tonn/imreoir
Comment[gd]=Clàraich mp3, ogg, inneal-clàraidh tonn / cluicheadair
Comment[gl]=Grabadora/reproductor de pregrabación de mp3, ogg, wav
Comment[gn]=Precord mp3,ogg,onda grabadora / reproductor
Comment[gu]=પ્રીકોર્ડ mp3,ogg,wav રેકોર્ડર/પ્લેયર
Comment[ha]=Precord mp3,ogg,wav recorder/player
Comment[he]=ןגנ/טילקמ mp3,ogg,Wav טילקמ
Comment[hi]=प्रीकॉर्ड एमपी3, ओजीजी, वेव रिकॉर्डर/प्लेयर
Comment[hr]=Prethodno snimite mp3, ogg, wav snimač/player
Comment[ht]=Precord mp3, ogg, wav achiv/jwè
Comment[hu]=Előzetes mp3, ogg, wav felvevő/lejátszó
Comment[hy]=Precord mp3, ogg, wav ձայնագրիչ/նվագարկիչ
Comment[id]=Prerecord mp3,ogg,wav recorder/player
Comment[ig]=Precord mp3,ogg,wav recorder/player
Comment[is]=Forupptaka mp3,ogg,wav upptökutæki/spilari
Comment[it]=Preregistrare mp3, ogg, registratore/riproduttore wav
Comment[iu]=Precord mp3,ogg, wav ᑎᑎᕋᖅᑎ/player
Comment[ja]=プリレコードmp3、ogg、wavレコーダー/プレーヤー
Comment[jv]=Rekam mp3,ogg,wav recorder/player
Comment[ka]=წინასწარ ჩაწერეთ mp3, ogg, wav ჩამწერი/პლეერი
Comment[kk]=Алдын ала mp3, ogg, wav жазғыш/ойнатқыш
Comment[km]=Precord mp3, ogg, wav recorder/player
Comment[kn]=ಪ್ರಿಕಾರ್ಡ್ mp3,ogg,wav ರೆಕಾರ್ಡರ್/ಪ್ಲೇಯರ್
Comment[ko]=Precord mp3, ogg, wav 레코더/플레이어
Comment[ku]=Pêşkêşkirina mp3, ogg, tomarker/lîstikvana wav
Comment[ky]=Precord mp3,ogg,wav жазгыч/плеер
Comment[la]=Precord mp3, ogg, wav commentariis/player
Comment[lb]=Precord mp3,ogg,wav Recorder/Player
Comment[lg]=Precord mp3,ogg,ekyuma ekikwata amayengo/omuzannyi
Comment[ln]=Precord mp3,ogg,enregistreur/lecteur ya mbonge
Comment[lo]=Precord mp3,ogg,wav recorder/player
Comment[lt]=Iš anksto įrašyti mp3, ogg, wav grotuvą / grotuvą
Comment[lv]=Ierakstiet mp3, ogg, wav ierakstītāju/atskaņotāju
Comment[mg]=Precord mp3,ogg,wav recorder/player
Comment[mi]=Precord mp3,ogg,wav kaiwhakamahara/kaitakaro
Comment[mk]=Снимајте mp3, ogg, wav рекордер/плеер
Comment[ml]=Precord mp3,ogg,wav റെക്കോർഡർ/പ്ലെയർ
Comment[mn]=Precord mp3,ogg,wav бичигч/тоглогч
Comment[mr]=प्रीकॉर्ड mp3,ogg,wav रेकॉर्डर/प्लेअर
Comment[ms]=Prarakam mp3, ogg, perakam/pemain wav
Comment[mt]=Precord mp3, ogg, wav recorder/player
Comment[my]=mp3၊ ogg၊ wav အသံဖမ်းစက်/ပလေယာကို ကြိုတင်မှတ်ထားပါ။
Comment[ne]=Precord mp3,ogg,wav रेकर्डर/प्लेयर
Comment[nl]=Precord mp3,ogg,wav recorder/speler
Comment[no]=Forhåndsopptak mp3,ogg,wav-opptaker/spiller
Comment[ny]=Precord mp3, ogg, wav recorder/player
Comment[om]=Precord mp3,ogg,wav waraabduu/taphattuu
Comment[or]=Precord mp3, ogg, wav ରେକର୍ଡର୍ / ପ୍ଲେୟାର୍ |
Comment[pa]=ਪ੍ਰੀਕਾਰਡ mp3,ogg,wav ਰਿਕਾਰਡਰ/ਪਲੇਅਰ
Comment[pl]=Precord mp3, ogg, nagrywarka/odtwarzacz wav
Comment[ps]=ﺮﯿﻠﭘ/ﺭډﺭﺎﮑﯾﺭ mp3،ogg،wav ډﺭﺎﮐ ﯼﺮﭘ
Comment[pt]=Precord mp3, ogg, wav gravador / player
Comment[qu]=Precord mp3,ogg,wav grabadora/reproductor
Comment[ro]=Precordare mp3, ogg, wav recorder/player
Comment[ru]=Precord mp3, ogg, wav рекордер/плеер
Comment[rw]=Precord mp3, ogg, wav yandika / umukinnyi
Comment[sa]=Precord mp3,ogg,wav रिकॉर्डर/प्लेयर
Comment[sd]=Precord mp3,ogg,wav recorder/player
Comment[si]=Precord mp3,ogg,wav රෙකෝඩරය/ප්ලේයරය
Comment[sk]=Precord mp3,ogg,wav rekordér/prehrávač
Comment[sl]=Snemalnik/predvajalnik mp3, ogg, wav
Comment[sm]=Faamaumau mp3,ogg,wav puepue/taalo
Comment[sn]=Precord mp3, ogg, wav rekodhi / mutambi
Comment[so]=Precord mp3,ogg,wav recorder/player
Comment[sq]=Regjistroni paraprakisht regjistrues/player mp3, ogg, wav
Comment[st]=Precord mp3, ogg, wav rekota / sebapali
Comment[su]=Precord mp3,ogg,wav recorder/pamuter
Comment[sv]=Spela in mp3,ogg,wav-inspelare/spelare
Comment[sw]=Precord mp3,ogg,wav rekoda/kichezaji
Comment[ta]=முன்பதிவு mp3,ogg,wav ரெக்கார்டர்/பிளேயர்
Comment[te]=ప్రీకార్డ్ mp3,ogg,wav రికార్డర్/ప్లేయర్
Comment[tg]=Precord mp3, ogg, сабткунандаи wav/плеер
Comment[th]=พรีคอร์ด mp3,ogg,wav recorder/player
Comment[ti]=Precord mp3,ogg,wav መቕረጺ/መጻወቲ
Comment[tk]=Prekord mp3, ogg, waw ýazgysy / pleýer
Comment[tl]=I-precord ang mp3, ogg, wav recorder/player
Comment[to]=ʻOsi lekooti MP3, ogg, wav tauhi lekooti/Player
Comment[tr]=Precord mp3, ogg, wav kaydedici/oynatıcı
Comment[ts]=Precord mp3,ogg,xi rhekhodi/xichayachayani xa wav
Comment[tt]=Precord mp3, ogg, wav магнитофон / плеер
Comment[tw]=Precord mp3,ogg,wav afiri a wɔde kyere nsɛm/bɔ
Comment[ty]=Precord mp3, ygg, wav recorder/player
Comment[ug]=Precord mp3, ogg, wav ﭺﯘﻐﻳﻮﻗ / ﭺﯜﮕﯩﻠﯨﺮﯩﺗﺎﺧ
Comment[uk]=Попередній запис mp3, ogg, wav рекордер/плеєр
Comment[ur]=ﺮﺌﯿﻠﭘ/ﺭﮈﺭﺎﮑﯾﺭ ﻮﯾﻭ ،ﯽﺟ ﯽﺟ ﻭﺍ ،mp3 ﮈﺭﺎﮑﯾﺭ ﯼﺮﭘ
Comment[uz]=Precord mp3, ogg, wav yozuvchisi/pleyer
Comment[vi]=Precord mp3, ogg, wav máy ghi/máy nghe nhạc
Comment[xh]=Precord mp3,ogg,wav irekhoda/umdlali
Comment[yi]=רעליפּש / ןאָפאָטענגאַמ וואַוו ,גגאָ ,mp3 דראָקערפּ
Comment[yo]=Precord mp3,ogg,wav recorder/player
Comment[zh]=Precord mp3、ogg、wav 录音机/播放器
Comment[zu]=Qopha i-mp3, i-ogg, i-wav rekhoda/isidlali
Comment=Precord mp3,ogg,wav recorder/player
Exec=precord
Terminal=false
Type=Application
Categories=Audio
GenericName=Precord
