[Desktop Entry]
Encoding=UTF-8
Name[fr]=Magnétophone mp3,ogg,wav : Precord
Name[de]=Precord mp3, ogg, wav recorder/player
Name=Precord mp3,ogg,wav recorder/player
Icon=mini-record.xpm
Comment[de]=Precord mp3, ogg, wav recorder/player
Comment=Precord mp3,ogg,wav recorder/player
Exec=precord
Terminal=false
Type=Application
Categories=Audio
GenericName=Precord
