[Desktop Entry]
Encoding=UTF-8
Name[de]=Precord mp3, ogg, wav recorder/player
Name[fr]=Magnétophone mp3,ogg,wav : Precord
Name[es]=Precord: grabar / reproducir mp3, ogg y wav
Name=Precord mp3,ogg,wav recorder/player
Icon=mini-record.xpm
Comment[de]=Precord mp3, ogg, wav recorder/player
Comment[es]=Precord: grabar / reproducir mp3, ogg y wav
Comment=Precord mp3,ogg,wav recorder/player
Exec=precord
Terminal=false
Type=Application
Categories=Audio
GenericName=Precord
