[Desktop Entry]
Encoding=UTF-8
Name[fr]=Renommer un fichier (simple) : PRename
Name[de]=PRename Batch-Dateiumbenenner, einfach
Name[es]=PRename: renombrar archivos por lotes
Name[ru]=PRename пакетный переименовщик файлов, простой
Name[tr]=PRename basit dosya adlandırıcı
Name=PRename batch file renamer, simple
Icon=prename.png
Comment[fr]=Renommer un fichier (simple) : PRename
Comment[de]=PRename Batch-Dateiumbenenner, einfach
Comment[es]=Renombrador de archivos por lotes PRename
Comment[ru]=PRename пакетный переименовщик файлов, простой
Comment[tr]=PRename dosyaları topluca yeniden adlandırır
Comment=PRename batch file renamer, simple
Exec=prename
Terminal=false
Type=Application
Categories=X-FilesystemUtility
GenericName=PRename
