[Desktop Entry]
Encoding=UTF-8
Name[fr]=Lanceur d'application : pRun
Name[de]=pRun-Anwendungsstarter
Name=pRun application launcher
Icon=/usr/local/prun/icons/prun48.png
Comment[de]=Dienstprogramm zum Ausführen des Dialogfelds
Comment=Run dialog utility
Exec=/usr/local/prun/prun
Terminal=false
Type=Application
Categories=X-Utility-shell
GenericName=Application launcher
