[Desktop Entry]
Encoding=UTF-8
Name[de]=pRun-Anwendungsstarter
Name[fr]=Lanceur d'application : pRun
Name[es]=pRun: lanzador de aplicaciones
Name[af]=pRun aansoeklanseerder
Name[am]=pRun መተግበሪያ አስጀማሪ
Name[ar]=pRun ﻖﻴﺒﻄﺗ ﻞﻐﺸﻣ
Name[as]=pRun এপ্লিকেচন লঞ্চাৰ
Name[ay]=pRun ukax mä juk’a pachanakanwa
Name[az]=pRun proqram başlatıcısı
Name[ba]=PRun ҡушымтаһын эшләтеп ебәреүсе
Name[be]=Праграма запуску прыкладанняў pRun
Name[bg]=Стартер на приложения pRun
Name[bm]=pRun baarakɛminɛnw daminɛbaga
Name[bn]=pRun অ্যাপ্লিকেশন লঞ্চার
Name[bo]=pRun ཉེར་སྤྱོད་སྐུལ་སློང་འཕྲུལ་ཆས།
Name[bs]=pPokreni pokretač aplikacija
Name[ca]=pRun llançador daplicacions
Name[co]=pRun lanciatore di applicazioni
Name[cs]=Spouštěč aplikací pRun
Name[cy]=pRun lansiwr cais
Name[da]=pRun applikationsstarter
Name[dv]=pރޗަންލޯ ންޝަކޭލިޕްއެ ންރަ
Name[ee]=pRun dɔwɔɖoɖo ƒe gɔmedzedze
Name[el]=Εκκίνηση εφαρμογών pRun
Name[eo]=pRun lanĉilon de aplikaĵo
Name[et]=pRun rakenduse käivitaja
Name[eu]=p Exekutatu aplikazioen abiarazlea
Name[fa]=pRun ﻪﻣﺎﻧﺮﺑ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ
Name[fi]=pRun-sovellusten käynnistysohjelma
Name[fj]=pRun na launcher ni ivolakerekere
Name[fo]=pRun application launcher
Name[fy]=pRun applikaasje launcher
Name[ga]=Tosaitheoir feidhmchlár prun
Name[gd]=pRun launcher app
Name[gl]=pRun iniciador de aplicacións
Name[gn]=pEmboguata purupyrã ñepyrũha
Name[gu]=pRun એપ્લિકેશન લોન્ચર
Name[ha]=Mai ƙaddamar da aikace-aikacen pRun
Name[he]=pRun תויצקילפא רגשמ
Name[hi]=pRun एप्लिकेशन लॉन्चर
Name[hr]=pRun pokretač aplikacija
Name[ht]=pRun lans aplikasyon an
Name[hu]=pRun alkalmazásindító
Name[hy]=pRun հավելվածի գործարկիչ
Name[id]=pRun peluncur aplikasi
Name[ig]=ngwa mmalite pRun
Name[is]=pRun forritaforrit
Name[it]=pEsegui il programma di avvio dellapplicazione
Name[iu]=pRun−ᒧᑦ ᐱᓇᔫᑎᒥᒃ ᓴᖅᑭᑎᑦᑎᔨ
Name[ja]=pRun アプリケーションランチャー
Name[jv]=Peluncur aplikasi pRun
Name[ka]=pRun აპლიკაციის გამშვები
Name[kk]=pRun қолданбасын іске қосу құралы
Name[km]=កម្មវិធីបើកដំណើរការកម្មវិធី pRun
Name[kn]=pRun ಅಪ್ಲಿಕೇಶನ್ ಲಾಂಚರ್
Name[ko]=pRun 애플리케이션 런처
Name[ku]=Pêşkêşkera serîlêdanê pRun
Name[ky]=pRun тиркемесин ишке киргизгич
Name[la]=pRun applicationem launcher
Name[lb]=pRun Applikatioun Launcher
Name[lg]=pRun omutongozi wenkola
Name[ln]=pRun lanceur ya application
Name[lo]=ຕົວເປີດແອັບພລິເຄຊັນ pRun
Name[lt]=„pRun“ programų paleidimo priemonė
Name[lv]=pRun lietojumprogrammu palaidējs
Name[mg]=pRun fampiharana launcher
Name[mi]=pRun kaiwhakarewa tono
Name[mk]=pRun стартувач на апликации
Name[ml]=pRun ആപ്ലിക്കേഷൻ ലോഞ്ചർ
Name[mn]=pRun програм эхлүүлэгч
Name[mr]=pRun ऍप्लिकेशन लाँचर
Name[ms]=pelancar aplikasi pRun
Name[mt]=pRun llanċjar tal-applikazzjoni
Name[my]=pRun application launcher
Name[ne]=pRun आवेदन लन्चर
Name[nl]=pRun applicatiestarter
Name[no]=pRun programstarter
Name[ny]=Woyambitsa pulogalamu ya pRun
Name[om]=pRun application launcher
Name[or]=pRun ଆପ୍ଲିକେସନ୍ ଲଞ୍ଚର୍ |
Name[pa]=pRun ਐਪਲੀਕੇਸ਼ਨ ਲਾਂਚਰ
Name[pl]=Program uruchamiający aplikację pRun
Name[ps]=ﺮﭽﻧﻻ﻿ ﮏﯿﻠﻨﺘښﻮﻏ pRun ﺩ
Name[pt]=Iniciador de aplicativos pRun
Name[qu]=pRun ruwana qallarichiq
Name[ro]=pRun lansatorul de aplicații
Name[ru]=средство запуска приложений pRun
Name[rw]=pRun
Name[sa]=pRun अनुप्रयोग प्रक्षेपक
Name[sd]=pRun ﺮﭽﻧﻻ﻿ ﻦﺸﻴڪﻴﻠﭙﻳﺍ
Name[si]=pRun යෙදුම් දියත් කිරීම
Name[sk]=Spúšťač aplikácií pRun
Name[sl]=Zaganjalnik aplikacij pRun
Name[sm]=pRun faalauiloa talosaga
Name[sn]=pRun application yekuvhura
Name[so]=Furaha codsiga pRun
Name[sq]=lëshuesi i aplikacionit pRun
Name[st]=Sesebelisoa sa pRun se qala
Name[su]=launcher aplikasi pRun
Name[sv]=pRun programstartare
Name[sw]=Kizindua programu cha pRun
Name[ta]=pRun பயன்பாட்டு துவக்கி
Name[te]=pRun అప్లికేషన్ లాంచర్
Name[tg]=Оғози барнома pRun
Name[th]=ตัวเรียกใช้แอปพลิเคชัน pRun
Name[ti]=pRun መተግበሪ ላንቸር
Name[tk]=pRun amaly başlaýjy
Name[tl]=pRun application launcher
Name[to]=ko hono fakaʻaongaʻi ʻo e launcher
Name[tr]=pRun uygulama başlatıcısı
Name[ts]=pRun xisunguri xa xitirhisiwa
Name[tt]=pRun кушымтасы
Name[tw]=pRun aplikeshɔn a wɔde fi ase
Name[ty]=Te mau manao tauturu no te tuatapaparaa e te haapiiraa
Name[ug]=pRun ﺎﻤﻣﺍﺮﮔﻭﺮﭘ ﻥﺎﭽﺸﯩﻨﯩﻠﻟﻮﻗ
Name[uk]=Засіб запуску програм pRun
Name[ur]=pRun ﺮﭽﻧﻻ﻿ ﻦﺸﯿﮑﯿﻠﭙﯾﺍ
Name[uz]=pRun ilovasini ishga tushirish
Name[vi]=trình khởi chạy ứng dụng pRun
Name[xh]=pRun isicelo sokuqalisa
Name[yi]=pRun רעשטנאָל ןאַשייקאַלפּאַ
Name[yo]=ifilọlẹ ohun elo pRun
Name[zh]=pRun 应用程序启动器
Name[zu]=Isiqalisi sohlelo lokusebenza lwe-pRun
Name=pRun application launcher
Icon=/usr/local/prun/icons/prun48.png
Comment[de]=Dienstprogramm zum Ausführen des Dialogfelds
Comment[es]=pRun: lanzador de aplicaciones
Comment[af]=Begin dialooghulpmiddel
Comment[am]=የንግግር መገልገያ አሂድ
Comment[ar]=ﺭﺍﻮﺤﻟﺍ ﺓﺍﺩﺃ ﻞﻴﻐﺸﺗ
Comment[as]=সংলাপ সঁজুলি চলাওক
Comment[ay]=Utilidad de diálogo uka apnaqaña
Comment[az]=Dialoq yardım proqramını işə salın
Comment[ba]=Рун диалогы файҙалылығы
Comment[be]=Утыліта запуску дыялогу
Comment[bg]=Стартирайте помощната програма за диалог
Comment[bm]=Baara kɛ ni dialogue utilité ye
Comment[bn]=ডায়ালগ ইউটিলিটি চালান
Comment[bo]=གླེང་མོལ་གྱི་སྤྱི་སྤྱོད་སྒྲིག་ཆས་འཁོར་སྐྱོད
Comment[bs]=Pokrenite uslužni program za dijalog
Comment[ca]=Executeu la utilitat de diàleg
Comment[co]=Eseguite lutilità di dialogu
Comment[cs]=Spusťte nástroj pro dialog
Comment[cy]=Rhedeg cyfleustodau deialog
Comment[da]=Kør dialogværktøjet
Comment[dv]=ވެށެގާންހި ޓީލިޓިޔު ގްލޮއިޑަ
Comment[ee]=Ƒu du dialog dɔwɔnu
Comment[el]=Εκτέλεση του βοηθητικού προγράμματος διαλόγου
Comment[eo]=Rulu dialogan ilon
Comment[et]=Käivitage dialoogiutiliit
Comment[eu]=Exekutatu elkarrizketa-erabilgarritasuna
Comment[fa]=ﺪﯿﻨﮐ ﺍﺮﺟﺍ ﺍﺭ ﻮﮕﺘﻔﮔ ﺭﺍﺰﺑﺍ
Comment[fi]=Suorita dialogiapuohjelma
Comment[fj]=Cicivaka na itukutuku ni veiqaravi
Comment[fo]=Renn/rennið til veity
Comment[fr]=Exécuter lutilitaire de dialogue
Comment[fy]=Run dialoochprogramma
Comment[ga]=Rith fóntais dialóg
Comment[gd]=Ruith goireas còmhradh
Comment[gl]=Executar a utilidade de diálogo
Comment[gn]=Emongu’e utilidad ñe’ẽñemi rehegua
Comment[gu]=સંવાદ ઉપયોગિતા ચલાવો
Comment[ha]=Gudanar da amfani da maganganu
Comment[he]=חישה ילכ תא לעפה
Comment[hi]=संवाद उपयोगिता चलाएँ
Comment[hr]=Pokreni uslužni program za dijalog
Comment[ht]=Kouri sèvis piblik dyalòg
Comment[hu]=Futtassa a párbeszédablak segédprogramot
Comment[hy]=Գործարկել երկխոսության կոմունալ ծրագիրը
Comment[id]=Jalankan utilitas dialog
Comment[ig]=Gbaa ngwa mkparịta ụka
Comment[is]=Keyra valmyndaforrit
Comment[it]=Esegui utilità di dialogo
Comment[iu]=ᑰᓪᒎᑎ ᑰᓪᒎᑎ
Comment[ja]=ダイアログユーティリティを実行
Comment[jv]=Mbukak utilitas dialog
Comment[ka]=დიალოგის პროგრამის გაშვება
Comment[kk]=Диалогтық қызметтік бағдарламаны іске қосыңыз
Comment[km]=ដំណើរការឧបករណ៍ប្រើប្រាស់ប្រអប់
Comment[kn]=ಡೈಲಾಗ್ ಉಪಯುಕ್ತತೆಯನ್ನು ರನ್ ಮಾಡಿ
Comment[ko]=대화 유틸리티 실행
Comment[ku]=Alîkariya diyalogê bixebitîne
Comment[ky]=Диалогдун утилитасын иштетүү
Comment[la]=Currere alternis utilitatem
Comment[lb]=Run Dialog Utility
Comment[lg]=Dduka omugaso gwokukubaganya ebirowoozo
Comment[ln]=Tambwisa utilitaire ya dialogue
Comment[lo]=ເປີດໃຊ້ປະໂຫຍດຂອງກ່ອງໂຕ້ຕອບ
Comment[lt]=Paleiskite dialogo programą
Comment[lv]=Palaist dialoga utilītu
Comment[mg]=Alefaso ny utility dialog
Comment[mi]=Whakahaerehia te whaipainga korero
Comment[mk]=Извршете ја алатката за дијалог
Comment[ml]=ഡയലോഗ് യൂട്ടിലിറ്റി പ്രവർത്തിപ്പിക്കുക
Comment[mn]=Харилцах цонхны хэрэгслийг ажиллуул
Comment[mr]=डायलॉग युटिलिटी चालवा
Comment[ms]=Jalankan utiliti dialog
Comment[mt]=Mexxi l-utilità tad-djalogu
Comment[my]=dialog utility ကိုဖွင့်ပါ။
Comment[ne]=संवाद उपयोगिता चलाउनुहोस्
Comment[nl]=Voer het dialoogvensterhulpprogramma uit
Comment[no]=Kjør dialogverktøyet
Comment[ny]=Yendetsani chida cha dialog
Comment[om]=Faayidaa qaaqa hojjedhu
Comment[or]=ଡାୟଲଗ୍ ଉପଯୋଗିତା ଚଲାନ୍ତୁ |
Comment[pa]=ਡਾਇਲਾਗ ਸਹੂਲਤ ਚਲਾਓ
Comment[pl]=Uruchom narzędzie dialogowe
Comment[ps]=ﻝﻮﻠﭼ ﯥﻧﻭﺭﺎﮐ ګﻮﻟﺎﯾډ ﺩ
Comment[pt]=Executar utilitário de diálogo
Comment[qu]=Rimanakuy yanapakuyta purichiy
Comment[ro]=Rulați utilitarul de dialog
Comment[ru]=Запустить диалоговую утилиту
Comment[rw]=Koresha ibiganiro byingirakamaro
Comment[sa]=संवाद उपयोगिता चालयन्तु
Comment[sd]=dialog utility ﻲﺋﻼ﻿ﻫ
Comment[si]=සංවාද උපයෝගීතාව ධාවනය කරන්න
Comment[sk]=Spustite dialógový nástroj
Comment[sl]=Zaženi pripomoček za pogovorno okno
Comment[sm]=Faatino le faaogaina o talanoaga
Comment[sn]=Mhanya dialog utility
Comment[so]=Ku socodsii utility wada hadal
Comment[sq]=Ekzekutoni programin e dialogut
Comment[st]=Sebelisa lisebelisoa tsa puisano
Comment[su]=Jalankeun utiliti dialog
Comment[sv]=Kör dialogverktyget
Comment[sw]=Endesha matumizi ya mazungumzo
Comment[ta]=உரையாடல் பயன்பாட்டை இயக்கவும்
Comment[te]=డైలాగ్ యుటిలిటీని అమలు చేయండి
Comment[tg]=Утилитаи муколамаро иҷро кунед
Comment[th]=เรียกใช้ยูทิลิตีไดอะล็อก
Comment[ti]=ናይ ዝርርብ ዩቲሊቲ ምዝዋር
Comment[tk]=Dialog kömekçi programmasyny işlediň
Comment[tl]=Patakbuhin ang dialog utility
Comment[to]=Leleʻi e ʻuhila
Comment[tr]=Diyalog yardımcı programını çalıştır
Comment[ts]=Tirhisa xitirhisiwa xa mbulavurisano
Comment[tt]=Диалог ярдәмендә эшләгез
Comment[tw]=Run nkɔmmɔbɔ mfaso
Comment[ty]=Te mau manao tauturu no te haapiiraa
Comment[ug]=ﯔﯩﻠﯩﻗ ﺍﺮﺠﯩﺋ ﻰﻨﯩﻟﺍﺭﻮﻗ ﮒﻮﻟﺎﺌﯨﺩ
Comment[uk]=Запуск утиліти діалогу
Comment[ur]=۔ﮟﯿﺋﻼ﻿ﭼ ﯽﭩﯿﻠﯿﭨﻮﯾ ﮒﻼ﻿ﯿﺋﺍﮈ
Comment[uz]=Dialog yordam dasturini ishga tushiring
Comment[vi]=Chạy tiện ích hộp thoại
Comment[xh]=Qhuba usetyenziso lwencoko yababini
Comment[yi]=ןצונ גאָלאַיד ןפיול
Comment[yo]=Ṣiṣe IwUlO ibaraẹnisọrọ
Comment[zh]=运行对话框实用程序
Comment[zu]=Qalisa insiza yengxoxo
Comment=Run dialog utility
Exec=/usr/local/prun/prun
Terminal=false
Type=Application
Categories=X-Utility-shell
GenericName=Application launcher
