[Desktop Entry]
Encoding=UTF-8
Name[de]=Aufgabe pünktlich planen
Name[fr]=Planificateur des tâches : Pschedule
Name[es]=Pschedule: programador de tareas
Name=Pschedule task on time
Icon=mini-clock.xpm
Comment[de]=Aufgabe pünktlich planen
Comment[es]=Pschedule: programador de tareas
Comment=Pschedule task on time
Exec=/usr/local/bin/pschedule
Terminal=false
Type=Application
Categories=X-System-process
GenericName=Pschedule
