[Desktop Entry]
Encoding=UTF-8
Name[fr]=Planificateur des tâches : Pschedule
Name=Pschedule task on time
Icon=mini-clock.xpm
Comment=Pschedule task on time
Exec=/usr/local/bin/pschedule
Terminal=false
Type=Application
Categories=X-System-process
GenericName=Pschedule
