[Desktop Entry]
Encoding=UTF-8
Name[de]=Aufgabe pünktlich planen
Name[fr]=Planificateur des tâches : Pschedule
Name[es]=Pschedule: programador de tareas
Name[af]=Skeduleer taak betyds
Name[am]=ስራውን በሰዓቱ ያቅዱ
Name[ar]=ﺩﺪﺤﻤﻟﺍ ﺖﻗﻮﻟﺍ ﻲﻓ ﺔﻤﻬﻤﻟﺍ ﺔﻟﻭﺪﺠﺑ ﻢﻗ
Name[as]=সময়মতে কামটো Pschedule কৰক
Name[ay]=Pschedule lurawi pachaparu
Name[az]=Tapşırığı vaxtında planlaşdırın
Name[ba]=Псхедула заданиеһы ваҡытында
Name[be]=Складзіце заданне на час
Name[bg]=Планирайте задачата навреме
Name[bm]=Pschedule baara kɛ waati la
Name[bn]=সময়মতো কাজ নির্ধারণ করুন
Name[bo]=དུས་ཐོག་ཏུ་སེམས་ཁམས་ཀྱི་ལས་འགན།
Name[bs]=Planirajte zadatak na vrijeme
Name[ca]=Programar la tasca a temps
Name[co]=Pschedule task à tempu
Name[cs]=Naplánujte si úkol včas
Name[cy]=Trefnu tasg ar amser
Name[da]=Pplanlæg opgave til tiden
Name[dv]=ންތުގުވަ ކްސްޓާ ލްއުޑިޝެޕީ
Name[ee]=Pschedule dɔa ɖe game dzi
Name[el]=Προγραμματίστε έγκαιρα την εργασία
Name[eo]=Pskedulu taskon ĝustatempe
Name[et]=Planeerige ülesanne õigeaegselt
Name[eu]=Programatu zeregina garaiz
Name[fa]=ﺪﯿﻨﮐ ﯼﺰﯾﺭ ﻪﻣﺎﻧﺮﺑ ﺍﺭ ﺭﺎﮐ ﻊﻗﻮﻣ ﻪﺑ
Name[fi]=Suunnittele tehtävä ajoissa
Name[fj]=Cakacaka ni Pschedule ena kena gauna
Name[fo]=Pschedule task on time
Name[fy]=Skema taak op tiid
Name[ga]=Pschedul tasc in am
Name[gd]=Ps clàr-obrach ann an àm
Name[gl]=Programar tarefas a tempo
Name[gn]=Pprograma tembiaporã itiempoitépe
Name[gu]=સમયસર કાર્ય શેડ્યૂલ કરો
Name[ha]=Tsara jadawalin aiki akan lokaci
Name[he]=ןמזב המישמה תא ןמזת
Name[hi]=समय पर कार्य निर्धारित करें
Name[hr]=Zakažite zadatak na vrijeme
Name[ht]=Pwograme travay alè
Name[hu]=Időben ütemezze be a feladatot
Name[hy]=Պլանավորեք առաջադրանքը ժամանակին
Name[id]=Jadwalkan tugas tepat waktu
Name[ig]=Tinyegharịa ọrụ noge
Name[is]=Skipuleggðu verkefni á réttum tíma
Name[it]=Attività Pschedule in tempo
Name[iu]=ᐱᓕᕆᐊᒃᓴᖅ ᑭᖑᕙᙱᓪᓗᓂ
Name[ja]=タスクを時間どおりにスケジュール設定する
Name[jv]=Pschedule tugas ing wektu
Name[ka]=დროულად დაგეგმეთ დავალება
Name[kk]=Тапсырманы уақытында жоспарлаңыз
Name[km]=កំណត់កាលវិភាគការងារទាន់ពេល
Name[kn]=ಸಮಯಕ್ಕೆ ಸರಿಯಾಗಿ ಕಾರ್ಯವನ್ನು ನಿಗದಿಪಡಿಸಿ
Name[ko]=정시에 작업 예약
Name[ku]=Karê di wextê xwe de destnîşan bikin
Name[ky]=Тапшырманы өз убагында аткарыңыз
Name[la]=Pschedule opus in tempore
Name[lb]=Zäitplang Aufgab op Zäit
Name[lg]=Pschedule omulimu mu budde
Name[ln]=Pschedule mosala na ngonga
Name[lo]=ຈັດຕາຕະລາງວຽກໃຫ້ທັນເວລາ
Name[lt]=Suplanuokite užduotį laiku
Name[lv]=Plānojiet uzdevumu savlaicīgi
Name[mg]=Pschedule asa ara-potoana
Name[mi]=Whakaritea te mahi i runga i te waa
Name[mk]=Закажете ја задачата на време
Name[ml]=കൃത്യസമയത്ത് ടാസ്u200cക് ഷെഡ്യൂൾ ചെയ്യുക
Name[mn]=Даалгавраа цагт нь товлох
Name[mr]=वेळेवर कार्य शेड्यूल करा
Name[ms]=Jadualkan tugas tepat pada masanya
Name[mt]=Pschedule kompitu fil-ħin
Name[my]=အလုပ်အား အချိန်မှန်စီစဉ်ပါ။
Name[ne]=समयमै कार्य तय गर्नुहोस्
Name[nl]=Plan taak op tijd in
Name[no]=Pplanlegg oppgave i tide
Name[ny]=Pschedule ntchito pa nthawi
Name[om]=Hojii yeroon saganteessuu
Name[or]=Pschedule କାର୍ଯ୍ୟ ଠିକ୍ ସମୟରେ |
Name[pa]=ਕੰਮ ਨੂੰ ਸਮੇਂ ਸਿਰ ਨਿਯਤ ਕਰੋ
Name[pl]=Zaplanuj zadanie na czas
Name[ps]=ﺶﯾﻮﻟﺎﻬﻣ ﯤﺪﻧﺩ ﺩ ﺖﺧﻭ ﻞﭙﺧ ﻪﭘ
Name[pt]=Pré-agendar tarefa na hora certa
Name[qu]=Pprograma tarea tiempollanpi
Name[ro]=Pprogramați sarcina la timp
Name[ru]=Pschedule планирование задач
Name[rw]=Gahunda yibikorwa ku gihe
Name[sa]=समये कार्यस्य समयनिर्धारणं कुर्वन्तु
Name[sd]=ﻮﻳڏ ﺐﻴﺗﺮﺗ ﻲﺗ ﺖﻗﻭ ﻲﮐ ﻢڪ
Name[si]=නියමිත වේලාවට කාර්ය සටහන් කරන්න
Name[sk]=Naplánujte si úlohu včas
Name[sl]=Načrtujte nalogo pravočasno
Name[sm]=Faatulaga galuega ile taimi
Name[sn]=Pschedule basa nenguva
Name[so]=Jadwal u samee hawsha waqtigeeda
Name[sq]=Programoni detyrën në kohë
Name[st]=Kemiso ea mosebetsi ka nako
Name[su]=Pschedule tugas on waktos
Name[sv]=Pschemalägg uppgiften i tid
Name[sw]=Ratiba kazi kwa wakati
Name[ta]=சரியான நேரத்தில் பணியை திட்டமிடுங்கள்
Name[te]=పనిని సమయానికి షెడ్యూల్ చేయండి
Name[tg]=Супоришро сари вақт ба нақша гиред
Name[th]=จัดตารางงานให้ตรงเวลา
Name[ti]=Pschedule ዕማም ኣብ ግዚኡ
Name[tk]=Pschedule meselesi wagtynda
Name[tl]=Pschedule gawain sa oras
Name[to]=Ngaue Pschedule taimi totonu
Name[tr]=Görevi zamanında planlayın
Name[ts]=Pschedule ntirho hi nkarhi
Name[tt]=Псхедул бирем вакытында
Name[tw]=Pschedule adwuma no wɔ bere ano
Name[ty]=Te hoê ohipa faanaho - maitai - hia i te taime tano
Name[ug]=ﺵﯗﺭﯘﺘﺷﻼ﻿ﻧﯗﺭﻮﺋ ﺍﺪﯩﺘﻗﺍﯞ ﻰﻨﯩﭙﯨﺯەﯞ
Name[uk]=Скласти завдання вчасно
Name[ur]=۔ﮟﯾﺮﮐ ﮯﻃ ﺮﭘ ﺖﻗﻭ ﻮﮐ ﻡﺎﮐ
Name[uz]=Vazifani oz vaqtida rejalashtirish
Name[vi]=Lên lịch công việc đúng giờ
Name[xh]=Umsebenzi weshedyuli ngexesha
Name[yi]=טייצ ןיא טעבראַ לושזדעקס
Name[yo]=Pschedule iṣẹ-ṣiṣe lori akoko
Name[zh]=P按时安排任务
Name[zu]=Hlela umsebenzi ngesikhathi
Name=Pschedule task on time
Icon=mini-clock.xpm
Comment[de]=Aufgabe pünktlich planen
Comment[es]=Pschedule: programador de tareas
Comment[af]=Skeduleer taak betyds
Comment[am]=ስራውን በሰዓቱ ያቅዱ
Comment[ar]=ﺩﺪﺤﻤﻟﺍ ﺖﻗﻮﻟﺍ ﻲﻓ ﺔﻤﻬﻤﻟﺍ ﺔﻟﻭﺪﺠﺑ ﻢﻗ
Comment[as]=সময়মতে কামটো Pschedule কৰক
Comment[ay]=Pschedule lurawi pachaparu
Comment[az]=Tapşırığı vaxtında planlaşdırın
Comment[ba]=Псхедула заданиеһы ваҡытында
Comment[be]=Складзіце заданне на час
Comment[bg]=Планирайте задачата навреме
Comment[bm]=Pschedule baara kɛ waati la
Comment[bn]=সময়মতো কাজ নির্ধারণ করুন
Comment[bo]=དུས་ཐོག་ཏུ་སེམས་ཁམས་ཀྱི་ལས་འགན།
Comment[bs]=Planirajte zadatak na vrijeme
Comment[ca]=Programar la tasca a temps
Comment[co]=Pschedule task à tempu
Comment[cs]=Naplánujte si úkol včas
Comment[cy]=Trefnu tasg ar amser
Comment[da]=Pplanlæg opgave til tiden
Comment[dv]=ންތުގުވަ ކްސްޓާ ލްއުޑިޝެޕީ
Comment[ee]=Pschedule dɔa ɖe game dzi
Comment[el]=Προγραμματίστε έγκαιρα την εργασία
Comment[eo]=Pskedulu taskon ĝustatempe
Comment[et]=Planeerige ülesanne õigeaegselt
Comment[eu]=Programatu zeregina garaiz
Comment[fa]=ﺪﯿﻨﮐ ﯼﺰﯾﺭ ﻪﻣﺎﻧﺮﺑ ﺍﺭ ﺭﺎﮐ ﻊﻗﻮﻣ ﻪﺑ
Comment[fi]=Suunnittele tehtävä ajoissa
Comment[fj]=Cakacaka ni Pschedule ena kena gauna
Comment[fo]=Pschedule task on time
Comment[fr]=Planifier la tâche à temps
Comment[fy]=Skema taak op tiid
Comment[ga]=Pschedul tasc in am
Comment[gd]=Ps clàr-obrach ann an àm
Comment[gl]=Programar tarefas a tempo
Comment[gn]=Pprograma tembiaporã itiempoitépe
Comment[gu]=સમયસર કાર્ય શેડ્યૂલ કરો
Comment[ha]=Tsara jadawalin aiki akan lokaci
Comment[he]=ןמזב המישמה תא ןמזת
Comment[hi]=समय पर कार्य निर्धारित करें
Comment[hr]=Zakažite zadatak na vrijeme
Comment[ht]=Pwograme travay alè
Comment[hu]=Időben ütemezze be a feladatot
Comment[hy]=Պլանավորեք առաջադրանքը ժամանակին
Comment[id]=Jadwalkan tugas tepat waktu
Comment[ig]=Tinyegharịa ọrụ noge
Comment[is]=Skipuleggðu verkefni á réttum tíma
Comment[it]=Attività Pschedule in tempo
Comment[iu]=ᐱᓕᕆᐊᒃᓴᖅ ᑭᖑᕙᙱᓪᓗᓂ
Comment[ja]=タスクを時間どおりにスケジュール設定する
Comment[jv]=Pschedule tugas ing wektu
Comment[ka]=დროულად დაგეგმეთ დავალება
Comment[kk]=Тапсырманы уақытында жоспарлаңыз
Comment[km]=កំណត់កាលវិភាគការងារទាន់ពេល
Comment[kn]=ಸಮಯಕ್ಕೆ ಸರಿಯಾಗಿ ಕಾರ್ಯವನ್ನು ನಿಗದಿಪಡಿಸಿ
Comment[ko]=정시에 작업 예약
Comment[ku]=Karê di wextê xwe de destnîşan bikin
Comment[ky]=Тапшырманы өз убагында аткарыңыз
Comment[la]=Pschedule opus in tempore
Comment[lb]=Zäitplang Aufgab op Zäit
Comment[lg]=Pschedule omulimu mu budde
Comment[ln]=Pschedule mosala na ngonga
Comment[lo]=ຈັດຕາຕະລາງວຽກໃຫ້ທັນເວລາ
Comment[lt]=Suplanuokite užduotį laiku
Comment[lv]=Plānojiet uzdevumu savlaicīgi
Comment[mg]=Pschedule asa ara-potoana
Comment[mi]=Whakaritea te mahi i runga i te waa
Comment[mk]=Закажете ја задачата на време
Comment[ml]=കൃത്യസമയത്ത് ടാസ്u200cക് ഷെഡ്യൂൾ ചെയ്യുക
Comment[mn]=Даалгавраа цагт нь товлох
Comment[mr]=वेळेवर कार्य शेड्यूल करा
Comment[ms]=Jadualkan tugas tepat pada masanya
Comment[mt]=Pschedule kompitu fil-ħin
Comment[my]=အလုပ်အား အချိန်မှန်စီစဉ်ပါ။
Comment[ne]=समयमै कार्य तय गर्नुहोस्
Comment[nl]=Plan taak op tijd in
Comment[no]=Pplanlegg oppgave i tide
Comment[ny]=Pschedule ntchito pa nthawi
Comment[om]=Hojii yeroon saganteessuu
Comment[or]=Pschedule କାର୍ଯ୍ୟ ଠିକ୍ ସମୟରେ |
Comment[pa]=ਕੰਮ ਨੂੰ ਸਮੇਂ ਸਿਰ ਨਿਯਤ ਕਰੋ
Comment[pl]=Zaplanuj zadanie na czas
Comment[ps]=ﺶﯾﻮﻟﺎﻬﻣ ﯤﺪﻧﺩ ﺩ ﺖﺧﻭ ﻞﭙﺧ ﻪﭘ
Comment[pt]=Pré-agendar tarefa na hora certa
Comment[qu]=Pprograma tarea tiempollanpi
Comment[ro]=Pprogramați sarcina la timp
Comment[ru]=Планируйте задачу вовремя
Comment[rw]=Gahunda yakazi ku gihe
Comment[sa]=समये कार्यस्य समयनिर्धारणं कुर्वन्तु
Comment[sd]=ﻮﻳڏ ﺐﻴﺗﺮﺗ ﻲﺗ ﺖﻗﻭ ﻲﮐ ﻢڪ
Comment[si]=නියමිත වේලාවට කාර්ය සටහන් කරන්න
Comment[sk]=Naplánujte si úlohu včas
Comment[sl]=Načrtujte nalogo pravočasno
Comment[sm]=Faatulaga galuega ile taimi
Comment[sn]=Pschedule basa nenguva
Comment[so]=Jadwal u samee hawsha waqtigeeda
Comment[sq]=Programoni detyrën në kohë
Comment[st]=Kemiso ea mosebetsi ka nako
Comment[su]=Pschedule tugas on waktos
Comment[sv]=Pschemalägg uppgiften i tid
Comment[sw]=Ratiba kazi kwa wakati
Comment[ta]=சரியான நேரத்தில் பணியை திட்டமிடுங்கள்
Comment[te]=పనిని సమయానికి షెడ్యూల్ చేయండి
Comment[tg]=Супоришро сари вақт ба нақша гиред
Comment[th]=จัดตารางงานให้ตรงเวลา
Comment[ti]=Pschedule ዕማም ኣብ ግዚኡ
Comment[tk]=Pschedule meselesi wagtynda
Comment[tl]=Pschedule gawain sa oras
Comment[to]=Ngaue Pschedule taimi totonu
Comment[tr]=Görevi zamanında planlayın
Comment[ts]=Pschedule ntirho hi nkarhi
Comment[tt]=Псхедул бирем вакытында
Comment[tw]=Pschedule adwuma no wɔ bere ano
Comment[ty]=Te hoê ohipa faanaho - maitai - hia i te taime tano
Comment[ug]=ﺵﯗﺭﯘﺘﺷﻼ﻿ﻧﯗﺭﻮﺋ ﺍﺪﯩﺘﻗﺍﯞ ﻰﻨﯩﭙﯨﺯەﯞ
Comment[uk]=Скласти завдання вчасно
Comment[ur]=۔ﮟﯾﺮﮐ ﮯﻃ ﺮﭘ ﺖﻗﻭ ﻮﮐ ﻡﺎﮐ
Comment[uz]=Vazifani oz vaqtida rejalashtirish
Comment[vi]=Lên lịch công việc đúng giờ
Comment[xh]=Umsebenzi weshedyuli ngexesha
Comment[yi]=טייצ ןיא טעבראַ לושזדעקס
Comment[yo]=Pschedule iṣẹ-ṣiṣe lori akoko
Comment[zh]=P按时安排任务
Comment[zu]=Hlela umsebenzi ngesikhathi
Comment=Pschedule task on time
Exec=/usr/local/bin/pschedule
Terminal=false
Type=Application
Categories=X-System-process
GenericName=Pschedule
