[Desktop Entry]
Encoding=UTF-8
Name[fr]=Informations système : Pup-SysInfo
Name=Pup-SysInfo system information
Icon=/usr/local/Pup-SysInfo/icons/Pup-SysInfo48.png
Comment[fr]=Utilitaires pour les informations du système Pup-SysInfo
Comment=System information utility
Exec=Pup-SysInfo
Terminal=false
Type=Application
Categories=System
GenericName=System information utility
