[Desktop Entry]
Encoding=UTF-8
Name=PupControl
Name[es]=PupControl | centro de control
Name[fr]=PupControl : centre de contrôle
Icon=/usr/local/PupControl/icons/control-panel_48.png
Comment=Control panel
Exec=PupControl
Terminal=false
Type=Application
Categories=X-Setup-puppy;
GenericName=Control panel
