[Desktop Entry]
Encoding=UTF-8
Name[fr]=Récupérateur de Webcasts : PPG
Name[de]=Welpen-Podcast-Grabber
Name[es]=Capturador de podcasts de Puppy
Name[ru]=Puppy-Podcast-Grabber
Name[tr]=Puppy-Podcast-Yakalayıcı
Name=Puppy-Podcast-Grabber
Icon=/usr/share/icons/ppg.xpm
Comment[fr]=PPG
Comment[de]=PPG
Comment[es]=PPG
Comment[ru]=PPG
Comment[tr]=PPG
Comment=ppg
Exec=/usr/local/bin/ppg-gui.sh
Terminal=false
Type=Application
Categories=FileTransfer
GenericName=ppg
