[Desktop Entry]
Encoding=UTF-8
Name[de]=pupRadio Streaming Audio
Name[fr]=Accès aux flux multimédia : pupRadio/pupTelly
Name[es]=pupRadio: sintonizar radios online
Name[af]=pupRadio streaming klank
Name[am]=pupRadio ዥረት ኦዲዮ
Name[ar]=pupRadio ﺕﻮﺼﻟﺍ ﻖﻓﺪﺗ
Name[as]=pupRadio ষ্ট্ৰীমিং অডিঅ
Name[ay]=pupRadio ukan uñt’ayasiñapataki
Name[az]=pupRadio axın audio
Name[ba]=pupRadio ағымлы аудио
Name[be]=струменевае аўдыё pupRadio
Name[bg]=pupRadio поточно аудио
Name[bm]=pupRadio ka fɔlikan
Name[bn]=pupRadio স্ট্রিমিং অডিও
Name[bo]=pupRadio ཁུ་བསྡུའི་སྒྲ་ཕབ།
Name[bs]=pupRadio streaming audio
Name[ca]=pupRadio streaming dàudio
Name[co]=pupRadio streaming audio
Name[cs]=pupRadio streamování zvuku
Name[cy]=pupRadio sain ffrydio
Name[da]=pupRadio streaming af lyd
Name[dv]=pupއޯޑިއޯ ގންމިރީޓްސް އޯޑިރޭ
Name[ee]=pupRadio dzi odio si woɖena ɖe go
Name[el]=pupRadio ροή ήχου
Name[eo]=pupRadio streaming audio
Name[et]=pupRadio voogesituse heli
Name[eu]=pupRadio streaming audioa
Name[fa]=pupRadio ﯼﺍﺪﺻ ﺶﺨﭘ
Name[fi]=pupRadio streaming audio
Name[fj]=vakarorogo ni pupRadio
Name[fo]=pupRadio streaming audio
Name[fy]=pupRadio streamt audio
Name[ga]=pupRadio sruthú fuaime
Name[gd]=pupRadio a’ sruthadh claisneachd
Name[gl]=streaming de audio pupRadio
Name[gn]=pupRadio ñembohasa audio rehegua
Name[gu]=pupRadio સ્ટ્રીમિંગ ઓડિયો
Name[ha]=pupRadio mai yawo audio
Name[he]=pupRadio וידוא תמרזה
Name[hi]=pupRadio स्ट्रीमिंग ऑडियो
Name[hr]=pupRadio strujanje zvuka
Name[ht]=pupRadio difizyon odyo
Name[hu]=pupRadio streaming audio
Name[hy]=pupRadio հոսքային աուդիո
Name[id]=audio streaming pupRadio
Name[ig]=pupRadio gụgharia ọdịyo
Name[is]=pupRadio streymir hljóð
Name[it]=pupRadio streaming audio
Name[iu]=ᓂᐱᒧᑦ ᐃᖏᕐᕋᓂᖅ
Name[ja]=pupRadio ストリーミング オーディオ
Name[jv]=pupRadio streaming audio
Name[ka]=pupRadio ნაკადი აუდიო
Name[kk]=pupRadio ағынды аудио
Name[km]=pupRadio ស្ទ្រីមអូឌីយ៉ូ
Name[kn]=pupRadio ಸ್ಟ್ರೀಮಿಂಗ್ ಆಡಿಯೋ
Name[ko]=pupRadio 스트리밍 오디오
Name[ku]=pupRadio weşana deng
Name[ky]=pupRadio агымдык аудио
Name[la]=pupRadio effusis audio
Name[lb]=pupRadio Streaming Audio
Name[lg]=pupRadio okutambuza amaloboozi
Name[ln]=pupAudio ya koleka na radio
Name[lo]=pupRadio streaming ສຽງ
Name[lt]=„PupRadio“ garso transliacija
Name[lv]=pupRadio straumēšanas audio
Name[mg]=PupRadio streaming audio
Name[mi]=pupRadio tarere ororongo
Name[mk]=pupRadio стриминг аудио
Name[ml]=pupRadio സ്ട്രീമിംഗ് ഓഡിയോ
Name[mn]=pupRadio урсгал аудио
Name[mr]=pupRadio स्ट्रीमिंग ऑडिओ
Name[ms]=audio penstriman radio pup
Name[mt]=pupRadio streaming awdjo
Name[my]=pupRadio တိုက်ရိုက်ထုတ်လွှင့်သောအသံ
Name[ne]=pupRadio स्ट्रिमिङ अडियो
Name[nl]=pupRadio streaming audio
Name[no]=pupRadio streaming av lyd
Name[ny]=pupRadio akukhamukira audio
Name[om]=pupSagalee tamsaasa raadiyoo
Name[or]=pupRadio ଷ୍ଟ୍ରିମିଂ ଅଡିଓ |
Name[pa]=pupRadio ਸਟ੍ਰੀਮਿੰਗ ਆਡੀਓ
Name[pl]=pupRadio strumieniowe przesyłanie dźwięku
Name[ps]=pupRadio ﻮﯾډﺁ ګﻨﯾﺮټﺳ
Name[pt]=pupRadio streaming de áudio
Name[qu]=pupRadio nisqapi uyarinapaq
Name[ro]=pupRadio streaming audio
Name[ru]=потоковое аудио pupRadio
Name[rw]=pupRadio yerekana amajwi
Name[sa]=pupरेडियो स्ट्रीमिंग ऑडियो
Name[sd]=pupRadio ﻮﻳڊﺁ ﮓﻨﻤﻳﺮٽﺳﺍ
Name[si]=pupRadio ප්u200dරවාහ ශ්u200dරව්u200dය
Name[sk]=pupRadio streamovanie zvuku
Name[sl]=pupRadio pretakanje zvoka
Name[sm]=pupRadio tafe leo
Name[sn]=pupRadio inoyerera odhiyo
Name[so]=pupRadio streaming audio
Name[sq]=audio streaming pupRadio
Name[st]=PupRadio e phallela molumo
Name[su]=pupRadio streaming audio
Name[sv]=pupRadio strömmande ljud
Name[sw]=sauti ya utiririshaji wa pupRadio
Name[ta]=pupRadio ஸ்ட்ரீமிங் ஆடியோ
Name[te]=pupRadio స్ట్రీమింగ్ ఆడియో
Name[tg]=pupRadio ҷараёнро аудио
Name[th]=pupRadio สตรีมมิ่งเสียง
Name[ti]=pupRadio ስትሪሚንግ ድምጺ
Name[tk]=gurjak radiosy
Name[tl]=pupRadio streaming audio
Name[to]=pupRadio stream e ongo
Name[tr]=pupRadio ses akışı
Name[ts]=pupRadio ku khuluka ka mpfumawulo
Name[tt]=pupRadio агымдагы аудио
Name[tw]=pupRadio so ɔdio a wɔde fa so
Name[ty]=Te mau haruharuraa o te mau matini roro uira
Name[ug]=pupRadio streaming audio
Name[uk]=pupRadio потокове аудіо
Name[ur]=pupRadio ﻮﯾﮈﺁ ﮓﻨﻤﯾﺮﭩﺳ
Name[uz]=pupRadio oqimli audio
Name[vi]=pupRadio phát trực tuyến âm thanh
Name[xh]=i-pupRadio yokusasaza iaudio
Name[yi]=pupRadio אָידואַ גנימירטס
Name[yo]=pupRadio sisanwọle iwe
Name[zh]=pupRadio 流媒体音频
Name[zu]=i-pupRadio yokusakaza umsindo
Name=pupRadio streaming audio
Icon=mini-Multimedia.xpm
Comment[de]=pupRadio Streaming-Medien
Comment[fr]=pupRadio/pupTelly accès aux flux multimédia
Comment[es]=pupRadio: sintonizar radios online
Comment[af]=pupRadio streaming klank
Comment[am]=pupRadio ዥረት ኦዲዮ
Comment[ar]=pupRadio ﺕﻮﺼﻟﺍ ﻖﻓﺪﺗ
Comment[as]=pupRadio ষ্ট্ৰীমিং অডিঅ
Comment[ay]=pupRadio ukan uñt’ayasiñapataki
Comment[az]=pupRadio axın audio
Comment[ba]=pupRadio ағымлы аудио
Comment[be]=струменевае аўдыё pupRadio
Comment[bg]=pupRadio поточно аудио
Comment[bm]=pupRadio ka fɔlikan
Comment[bn]=pupRadio স্ট্রিমিং অডিও
Comment[bo]=pupRadio ཁུ་བསྡུའི་སྒྲ་ཕབ།
Comment[bs]=pupRadio streaming audio
Comment[ca]=pupRadio streaming dàudio
Comment[co]=pupRadio streaming audio
Comment[cs]=pupRadio streamování zvuku
Comment[cy]=pupRadio sain ffrydio
Comment[da]=pupRadio streaming af lyd
Comment[dv]=pupއޯޑިއޯ ގންމިރީޓްސް އޯޑިރޭ
Comment[ee]=pupRadio dzi odio si woɖena ɖe go
Comment[el]=pupRadio ροή ήχου
Comment[eo]=pupRadio streaming audio
Comment[et]=pupRadio voogesituse heli
Comment[eu]=pupRadio streaming audioa
Comment[fa]=pupRadio ﯼﺍﺪﺻ ﺶﺨﭘ
Comment[fi]=pupRadio streaming audio
Comment[fj]=vakarorogo ni pupRadio
Comment[fo]=pupRadio streaming audio
Comment[fy]=pupRadio streamt audio
Comment[ga]=pupRadio sruthú fuaime
Comment[gd]=pupRadio a’ sruthadh claisneachd
Comment[gl]=streaming de audio pupRadio
Comment[gn]=pupRadio ñembohasa audio rehegua
Comment[gu]=pupRadio સ્ટ્રીમિંગ ઓડિયો
Comment[ha]=pupRadio mai yawo audio
Comment[he]=pupRadio וידוא תמרזה
Comment[hi]=pupRadio स्ट्रीमिंग ऑडियो
Comment[hr]=pupRadio strujanje zvuka
Comment[ht]=pupRadio difizyon odyo
Comment[hu]=pupRadio streaming audio
Comment[hy]=pupRadio հոսքային աուդիո
Comment[id]=audio streaming pupRadio
Comment[ig]=pupRadio gụgharia ọdịyo
Comment[is]=pupRadio streymir hljóð
Comment[it]=pupRadio streaming audio
Comment[iu]=ᓂᐱᒧᑦ ᐃᖏᕐᕋᓂᖅ
Comment[ja]=pupRadio ストリーミング オーディオ
Comment[jv]=pupRadio streaming audio
Comment[ka]=pupRadio ნაკადი აუდიო
Comment[kk]=pupRadio ағынды аудио
Comment[km]=pupRadio ស្ទ្រីមអូឌីយ៉ូ
Comment[kn]=pupRadio ಸ್ಟ್ರೀಮಿಂಗ್ ಆಡಿಯೋ
Comment[ko]=pupRadio 스트리밍 오디오
Comment[ku]=pupRadio weşana deng
Comment[ky]=pupRadio агымдык аудио
Comment[la]=pupRadio effusis audio
Comment[lb]=pupRadio Streaming Audio
Comment[lg]=pupRadio okutambuza amaloboozi
Comment[ln]=pupAudio ya koleka na radio
Comment[lo]=pupRadio streaming ສຽງ
Comment[lt]=„PupRadio“ garso transliacija
Comment[lv]=pupRadio straumēšanas audio
Comment[mg]=PupRadio streaming audio
Comment[mi]=pupRadio tarere ororongo
Comment[mk]=pupRadio стриминг аудио
Comment[ml]=pupRadio സ്ട്രീമിംഗ് ഓഡിയോ
Comment[mn]=pupRadio урсгал аудио
Comment[mr]=pupRadio स्ट्रीमिंग ऑडिओ
Comment[ms]=audio penstriman radio pup
Comment[mt]=pupRadio streaming awdjo
Comment[my]=pupRadio တိုက်ရိုက်ထုတ်လွှင့်သောအသံ
Comment[ne]=pupRadio स्ट्रिमिङ अडियो
Comment[nl]=pupRadio streaming audio
Comment[no]=pupRadio streaming av lyd
Comment[ny]=pupRadio akukhamukira audio
Comment[om]=pupSagalee tamsaasa raadiyoo
Comment[or]=pupRadio ଷ୍ଟ୍ରିମିଂ ଅଡିଓ |
Comment[pa]=pupRadio ਸਟ੍ਰੀਮਿੰਗ ਆਡੀਓ
Comment[pl]=pupRadio strumieniowe przesyłanie dźwięku
Comment[ps]=pupRadio ﻮﯾډﺁ ګﻨﯾﺮټﺳ
Comment[pt]=pupRadio streaming de áudio
Comment[qu]=pupRadio nisqapi uyarinapaq
Comment[ro]=pupRadio streaming audio
Comment[ru]=потоковое аудио pupRadio
Comment[rw]=pupRadio yerekana amajwi
Comment[sa]=pupरेडियो स्ट्रीमिंग ऑडियो
Comment[sd]=pupRadio ﻮﻳڊﺁ ﮓﻨﻤﻳﺮٽﺳﺍ
Comment[si]=pupRadio ප්u200dරවාහ ශ්u200dරව්u200dය
Comment[sk]=pupRadio streamovanie zvuku
Comment[sl]=pupRadio pretakanje zvoka
Comment[sm]=pupRadio tafe leo
Comment[sn]=pupRadio inoyerera odhiyo
Comment[so]=pupRadio streaming audio
Comment[sq]=audio streaming pupRadio
Comment[st]=PupRadio e phallela molumo
Comment[su]=pupRadio streaming audio
Comment[sv]=pupRadio strömmande ljud
Comment[sw]=sauti ya utiririshaji wa pupRadio
Comment[ta]=pupRadio ஸ்ட்ரீமிங் ஆடியோ
Comment[te]=pupRadio స్ట్రీమింగ్ ఆడియో
Comment[tg]=pupRadio ҷараёнро аудио
Comment[th]=pupRadio สตรีมมิ่งเสียง
Comment[ti]=pupRadio ስትሪሚንግ ድምጺ
Comment[tk]=gurjak radiosy
Comment[tl]=pupRadio streaming audio
Comment[to]=pupRadio stream e ongo
Comment[tr]=pupRadio ses akışı
Comment[ts]=pupRadio ku khuluka ka mpfumawulo
Comment[tt]=pupRadio агымдагы аудио
Comment[tw]=pupRadio so ɔdio a wɔde fa so
Comment[ty]=Te mau haruharuraa o te mau matini roro uira
Comment[ug]=pupRadio streaming audio
Comment[uk]=pupRadio потокове аудіо
Comment[ur]=pupRadio ﻮﯾﮈﺁ ﮓﻨﻤﯾﺮﭩﺳ
Comment[uz]=pupRadio oqimli audio
Comment[vi]=pupRadio phát trực tuyến âm thanh
Comment[xh]=i-pupRadio yokusasaza iaudio
Comment[yi]=pupRadio אָידואַ גנימירטס
Comment[yo]=pupRadio sisanwọle iwe
Comment[zh]=pupRadio 流媒体音频
Comment[zu]=i-pupRadio yokusakaza umsindo
Comment=pupRadio streaming audio
Exec=pupradio
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=pupRadio
