[Desktop Entry]
Encoding=UTF-8
Name[de]=pupRadio Streaming Audio
Name[fr]=Accès aux flux multimédia : pupRadio/pupTelly
Name[es]=pupRadio: sintonizar radios online
Name=pupRadio streaming audio
Icon=mini-Multimedia.xpm
Comment[de]=pupRadio Streaming-Medien
Comment[fr]=pupRadio/pupTelly accès aux flux multimédia
Comment[es]=pupRadio: sintonizar radios online
Comment=pupRadio streaming audio
Exec=pupradio
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=pupRadio
