[Desktop Entry]
Encoding=UTF-8
Name[fr]=Recherche de domaine : PupWhoIs
Name[de]=PupWhoIs-Domain-Suche
Name=PupWhoIs domain lookup
Icon=mini-world-question.xpm
Comment[de]=PupWhoIs-Domain-Suche
Comment=PupWhoIs domain lookup
Exec=pupwhois
Terminal=false
Type=Application
Categories=X-Network-utility
GenericName=PupWhoIs
