[Desktop Entry]
Encoding=UTF-8
Name[de]=PupWhoIs-Domain-Suche
Name[fr]=Recherche de domaine : PupWhoIs
Name[es]=PupWhoIs: búsqueda de dominio
Name=PupWhoIs domain lookup
Icon=mini-world-question.xpm
Comment[de]=PupWhoIs-Domain-Suche
Comment[es]=PupWhoIs: búsqueda de dominio
Comment=PupWhoIs domain lookup
Exec=pupwhois
Terminal=false
Type=Application
Categories=X-Network-utility
GenericName=PupWhoIs
