[Desktop Entry]
Encoding=UTF-8
Name[de]=pupX Set-Eigenschaften von X
Name[fr]=Souris, Clavier, Écran de veille : Pupx
Name[es]=pupX: teclado, ratón y salvapantallas
Name=pupX set properties of X
Icon=mini-Desktop-settings.xpm
Comment[de]=pupX X Einstellungen
Comment[es]=pupX: teclado, ratón y salvapantallas
Comment=pupX X settings
Exec=pupx
Terminal=false
Type=Application
Categories=X-Desktop-settings
GenericName=pupX
