[Desktop Entry]
Encoding=UTF-8
Name[fr]=Télécharger des fichiers en sécurité : Pwsget
Name[de]=Pwsget sicherer Datei-Downloader
Name[es]=Pwsget: descarga segura de archivos
Name[ru]=Безопасный загрузчик файлов Pwsget
Name[tr]=Pwsget güvenli dosya indirici
Name=Pwsget secure file downloader
Icon=pwget.png
Comment[fr]=Télécharger des fichiers en sécurité : Pwsget
Comment[de]=Pwsget sicherer Datei-Downloader
Comment[es]=Pwsget: descarga segura de archivos
Comment[ru]=Безопасный загрузчик файлов Pwsget
Comment[tr]=Pwsget güvenli dosya indirici
Comment=Pwsget secure file downloader
Exec=pwsget
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=Pwsget
