[Desktop Entry]
Encoding=UTF-8
Name[de]=ROX-Filer Dateimanager
Name[fr]=Gestion des fichiers : ROX-Filer
Name[es]=ROX-Filer: explorador de archivos
Name[ru]=Файловый менеджер ROX-Filer
Name[tr]=ROX-Filer dosya yöneticisi
Name[af]=ROX-Filer lêer bestuurder
Name[am]=ROX-ፋይለር ፋይል አቀናባሪ
Name[ar]=ROX-Filer ﺕﺎﻔﻠﻤﻟﺍ ﺮﻳﺪﻣ
Name[as]=ROX-Filer ফাইল ব্যৱস্থাপক
Name[ay]=ROX-Filer ukax mä archivo apnaqañapawa
Name[az]=ROX-Filer fayl meneceri
Name[ba]=ROX-Filer файл менеджеры
Name[be]=Файлавы менеджэр ROX-Filer
Name[bg]=Файлов мениджър ROX-Filer
Name[bm]=ROX-Filer ka dosiyew ɲɛnabɔbaga
Name[bn]=ROX-Filer ফাইল ম্যানেজার
Name[bo]=ROX-Filer ཡིག་ཚགས་དོ་དམ་པ།
Name[bs]=ROX-Filer menadžer datoteka
Name[ca]=Gestor de fitxers ROX-Filer
Name[co]=Gestore di file ROX-Filer
Name[cs]=Správce souborů ROX-Filer
Name[cy]=Rheolwr ffeiliau ROX-Filer
Name[da]=ROX-Filer filhåndtering
Name[dv]=ރޖަނޭމެ ލްއިފަ ރލައިފަ-ސްކްރޯ
Name[ee]=ROX-Filer ƒe faɛlwo dzikpɔla
Name[el]=Διαχείριση αρχείων ROX-Filer
Name[eo]=ROX-Filer dosieradministranto
Name[et]=ROX-Fileri failihaldur
Name[eu]=ROX-Filer fitxategi kudeatzailea
Name[fa]=ROX-Filer ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Name[fi]=ROX-Filer tiedostonhallinta
Name[fj]=ROX-Filer manidia ni faile
Name[fo]=ROX-Filer file manager
Name[fy]=ROX-Filer triembehearder
Name[ga]=Bainisteoir comhad ROX-Comhad
Name[gd]=Manaidsear faidhle ROX-Filer
Name[gl]=Xestor de ficheiros ROX-Filer
Name[gn]=ROX-Filer rembiapokue mohendaha
Name[gu]=ROX-Filer ફાઇલ મેનેજર
Name[ha]=ROX-Filer mai sarrafa fayil
Name[he]=ROX-Filer םיצבק להנמ
Name[hi]=ROX-फ़ाइलर फ़ाइल प्रबंधक
Name[hr]=Upravitelj datoteka ROX-Filer
Name[ht]=Manadjè dosye ROX-Filer
Name[hu]=ROX-Filer fájlkezelő
Name[hy]=ROX-Filer ֆայլերի կառավարիչ
Name[id]=Pengelola file ROX-Filer
Name[ig]=Onye njikwa faili ROX-Filer
Name[is]=ROX-Filer skráastjóri
Name[it]=File manager ROX-Filer
Name[iu]=ROX-Filer File Manager
Name[ja]=ROX-Filer ファイルマネージャー
Name[jv]=Pangatur file ROX-Filer
Name[ka]=ROX-Filer ფაილის მენეჯერი
Name[kk]=ROX-Filer файл менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងឯកសារ ROX-Filer
Name[kn]=ROX-ಫೈಲರ್ ಫೈಲ್ ಮ್ಯಾನೇಜರ್
Name[ko]=ROX-Filer 파일 관리자
Name[ku]=Rêvebirê pelê ROX-Filer
Name[ky]=ROX-Filer файл менеджери
Name[la]=ROX-File procurator lima
Name[lb]=ROX-Filer Datei Manager
Name[lg]=Omuddukanya fayiro ya ROX-Filer
Name[ln]=Mokambi ya ba fichiers ROX-Filer
Name[lo]=ຕົວຈັດການໄຟລ໌ ROX-Filer
Name[lt]=ROX-Filer failų tvarkyklė
Name[lv]=ROX-Filer failu pārvaldnieks
Name[mg]=ROX-Filer file manager
Name[mi]=Kaiwhakahaere kōnae ROX-Filer
Name[mk]=Управувач со датотеки ROX-Filer
Name[ml]=ROX-Filer ഫയൽ മാനേജർ
Name[mn]=ROX-Filer файлын менежер
Name[mr]=ROX-Filer फाइल व्यवस्थापक
Name[ms]=Pengurus fail ROX-Filer
Name[mt]=Maniġer tal-fajls ROX-Filer
Name[my]=ROX-Filer ဖိုင်မန်နေဂျာ
Name[ne]=ROX-Filer फाइल प्रबन्धक
Name[nl]=ROX-Filer bestandsbeheerder
Name[no]=ROX-Filer filbehandler
Name[ny]=Woyanganira fayilo wa ROX-Filer
Name[om]=Bulchaa faayilii ROX-Filer
Name[or]=ROX-Filer ଫାଇଲ୍ ପରିଚାଳକ |
Name[pa]=ROX-ਫਾਈਲਰ ਫਾਈਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików ROX-Filer
Name[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ROX-Filer ﺩ
Name[pt]=Gerenciador de arquivos ROX-Filer
Name[qu]=ROX-Filer willañiqi kamachiq
Name[ro]=Manager de fișiere ROX-Filer
Name[rw]=Umuyobozi wa dosiye ya ROX-Filer
Name[sa]=ROX-Filer सञ्चिकाप्रबन्धकः
Name[sd]=ROX-Filer ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ
Name[si]=ROX-Filer ගොනු කළමනාකරු
Name[sk]=Správca súborov ROX-Filer
Name[sl]=Upravljalnik datotek ROX-Filer
Name[sm]=ROX-Filer faila pule
Name[sn]=ROX-Filer faira maneja
Name[so]=ROX-Filer maamulaha faylka
Name[sq]=Menaxheri i skedarëve ROX-Filer
Name[st]=Motsamaisi oa faele oa ROX-Filer
Name[su]=Pangatur file ROX-Filer
Name[sv]=ROX-Filer filhanterare
Name[sw]=Kidhibiti faili cha ROX-Faili
Name[ta]=ROX-Filer கோப்பு மேலாளர்
Name[te]=ROX-ఫైలర్ ఫైల్ మేనేజర్
Name[tg]=Менеҷери файли ROX-Filer
Name[th]=ตัวจัดการไฟล์ ROX-Filer
Name[ti]=ROX-Filer ፋይል ማናጀር
Name[tk]=ROX-Faýl faýl dolandyryjysy
Name[tl]=ROX-Filer file manager
Name[to]=Pule ʻo e faile ROX-Filer
Name[ts]=Mufambisi wa fayili ya ROX-Filer
Name[tt]=ROX-Filer файл менеджеры
Name[tw]=ROX-Filer fael sohwɛfo
Name[ty]=ROX-Filer file manager
Name[ug]=ROX-Filer ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺠﺟﯚﮬ
Name[uk]=Файловий менеджер ROX-Filer
Name[ur]=ROX-Filer ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ
Name[uz]=ROX-Filer fayl menejeri
Name[vi]=Trình quản lý tệp ROX-Filer
Name[xh]=ROX-Umphathi wefayile yefayile
Name[yi]=ROX-Filer רעטלאַווראַפ עקעט
Name[yo]=ROX-Filer oluṣakoso faili
Name[zh]=ROX-Filer 文件管理器
Name[zu]=Umphathi wefayela le-ROX-Filer
Name=ROX-Filer file manager
Icon=mini-filemgr.xpm
Comment[de]=ROX-Filer Dateimanager
Comment[fr]=Gestionnaire fichiers ROX-Filer
Comment[es]=ROX-Filer: explorador de archivos
Comment[ru]=Файловый менеджер ROX-Filer
Comment[tr]=ROX-Filer dosya yöneticisi
Comment[af]=ROX-Filer lêer bestuurder
Comment[am]=ROX-ፋይለር ፋይል አቀናባሪ
Comment[ar]=ROX-Filer ﺕﺎﻔﻠﻤﻟﺍ ﺮﻳﺪﻣ
Comment[as]=ROX-Filer ফাইল ব্যৱস্থাপক
Comment[ay]=ROX-Filer ukax mä archivo apnaqañapawa
Comment[az]=ROX-Filer fayl meneceri
Comment[ba]=ROX-Filer файл менеджеры
Comment[be]=Файлавы менеджэр ROX-Filer
Comment[bg]=Файлов мениджър ROX-Filer
Comment[bm]=ROX-Filer ka dosiyew ɲɛnabɔbaga
Comment[bn]=ROX-Filer ফাইল ম্যানেজার
Comment[bo]=ROX-Filer ཡིག་ཚགས་དོ་དམ་པ།
Comment[bs]=ROX-Filer menadžer datoteka
Comment[ca]=Gestor de fitxers ROX-Filer
Comment[co]=Gestore di file ROX-Filer
Comment[cs]=Správce souborů ROX-Filer
Comment[cy]=Rheolwr ffeiliau ROX-Filer
Comment[da]=ROX-Filer filhåndtering
Comment[dv]=ރޖަނޭމެ ލްއިފަ ރލައިފަ-ސްކްރޯ
Comment[ee]=ROX-Filer ƒe faɛlwo dzikpɔla
Comment[el]=Διαχείριση αρχείων ROX-Filer
Comment[eo]=ROX-Filer dosieradministranto
Comment[et]=ROX-Fileri failihaldur
Comment[eu]=ROX-Filer fitxategi kudeatzailea
Comment[fa]=ROX-Filer ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Comment[fi]=ROX-Filer tiedostonhallinta
Comment[fj]=ROX-Filer manidia ni faile
Comment[fo]=ROX-Filer file manager
Comment[fy]=ROX-Filer triembehearder
Comment[ga]=Bainisteoir comhad ROX-Comhad
Comment[gd]=Manaidsear faidhle ROX-Filer
Comment[gl]=Xestor de ficheiros ROX-Filer
Comment[gn]=ROX-Filer rembiapokue mohendaha
Comment[gu]=ROX-Filer ફાઇલ મેનેજર
Comment[ha]=ROX-Filer mai sarrafa fayil
Comment[he]=ROX-Filer םיצבק להנמ
Comment[hi]=ROX-फ़ाइलर फ़ाइल प्रबंधक
Comment[hr]=Upravitelj datoteka ROX-Filer
Comment[ht]=Manadjè dosye ROX-Filer
Comment[hu]=ROX-Filer fájlkezelő
Comment[hy]=ROX-Filer ֆայլերի կառավարիչ
Comment[id]=Pengelola file ROX-Filer
Comment[ig]=Onye njikwa faili ROX-Filer
Comment[is]=ROX-Filer skráastjóri
Comment[it]=File manager ROX-Filer
Comment[iu]=ROX-Filer File Manager
Comment[ja]=ROX-Filer ファイルマネージャー
Comment[jv]=Pangatur file ROX-Filer
Comment[ka]=ROX-Filer ფაილის მენეჯერი
Comment[kk]=ROX-Filer файл менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងឯកសារ ROX-Filer
Comment[kn]=ROX-ಫೈಲರ್ ಫೈಲ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=ROX-Filer 파일 관리자
Comment[ku]=Rêvebirê pelê ROX-Filer
Comment[ky]=ROX-Filer файл менеджери
Comment[la]=ROX-File procurator lima
Comment[lb]=ROX-Filer Datei Manager
Comment[lg]=Omuddukanya fayiro ya ROX-Filer
Comment[ln]=Mokambi ya ba fichiers ROX-Filer
Comment[lo]=ຕົວຈັດການໄຟລ໌ ROX-Filer
Comment[lt]=ROX-Filer failų tvarkyklė
Comment[lv]=ROX-Filer failu pārvaldnieks
Comment[mg]=ROX-Filer file manager
Comment[mi]=Kaiwhakahaere kōnae ROX-Filer
Comment[mk]=Управувач со датотеки ROX-Filer
Comment[ml]=ROX-Filer ഫയൽ മാനേജർ
Comment[mn]=ROX-Filer файлын менежер
Comment[mr]=ROX-Filer फाइल व्यवस्थापक
Comment[ms]=Pengurus fail ROX-Filer
Comment[mt]=Maniġer tal-fajls ROX-Filer
Comment[my]=ROX-Filer ဖိုင်မန်နေဂျာ
Comment[ne]=ROX-Filer फाइल प्रबन्धक
Comment[nl]=ROX-Filer bestandsbeheerder
Comment[no]=ROX-Filer filbehandler
Comment[ny]=Woyanganira fayilo wa ROX-Filer
Comment[om]=Bulchaa faayilii ROX-Filer
Comment[or]=ROX-Filer ଫାଇଲ୍ ପରିଚାଳକ |
Comment[pa]=ROX-ਫਾਈਲਰ ਫਾਈਲ ਮੈਨੇਜਰ
Comment[pl]=Menedżer plików ROX-Filer
Comment[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ROX-Filer ﺩ
Comment[pt]=Gerenciador de arquivos ROX-Filer
Comment[qu]=ROX-Filer willañiqi kamachiq
Comment[ro]=Manager de fișiere ROX-Filer
Comment[rw]=Umuyobozi wa dosiye ya ROX-Filer
Comment[sa]=ROX-Filer सञ्चिकाप्रबन्धकः
Comment[sd]=ROX-Filer ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ
Comment[si]=ROX-Filer ගොනු කළමනාකරු
Comment[sk]=Správca súborov ROX-Filer
Comment[sl]=Upravljalnik datotek ROX-Filer
Comment[sm]=ROX-Filer faila pule
Comment[sn]=ROX-Filer faira maneja
Comment[so]=ROX-Filer maamulaha faylka
Comment[sq]=Menaxheri i skedarëve ROX-Filer
Comment[st]=Motsamaisi oa faele oa ROX-Filer
Comment[su]=Pangatur file ROX-Filer
Comment[sv]=ROX-Filer filhanterare
Comment[sw]=Kidhibiti faili cha ROX-Faili
Comment[ta]=ROX-Filer கோப்பு மேலாளர்
Comment[te]=ROX-ఫైలర్ ఫైల్ మేనేజర్
Comment[tg]=Менеҷери файли ROX-Filer
Comment[th]=ตัวจัดการไฟล์ ROX-Filer
Comment[ti]=ROX-Filer ፋይል ማናጀር
Comment[tk]=ROX-Faýl faýl dolandyryjysy
Comment[tl]=ROX-Filer file manager
Comment[to]=Pule ʻo e faile ROX-Filer
Comment[ts]=Mufambisi wa fayili ya ROX-Filer
Comment[tt]=ROX-Filer файл менеджеры
Comment[tw]=ROX-Filer fael sohwɛfo
Comment[ty]=ROX-Filer file manager
Comment[ug]=ROX-Filer ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺠﺟﯚﮬ
Comment[uk]=Файловий менеджер ROX-Filer
Comment[ur]=ROX-Filer ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ
Comment[uz]=ROX-Filer fayl menejeri
Comment[vi]=Trình quản lý tệp ROX-Filer
Comment[xh]=ROX-Umphathi wefayile yefayile
Comment[yi]=ROX-Filer רעטלאַווראַפ עקעט
Comment[yo]=ROX-Filer oluṣakoso faili
Comment[zh]=ROX-Filer 文件管理器
Comment[zu]=Umphathi wefayela le-ROX-Filer
Comment=ROX-Filer file manager
Exec=rox
Terminal=false
Type=Application
Categories=X-Filesystem-filemanager
GenericName=ROX-Filer
