[Desktop Entry]
Encoding=UTF-8
Name[de]=Rubix-Würfel
Name[fr]=Jeu du Rubix cube
Name[es]=Rubix: cubo de Rubix
Name[af]=Rubix kubus
Name[am]=Rubix cube
Name[ar]=rubix ﺐﻌﻜﻤﻟﺍ
Name[as]=ৰুবিক্স ঘনক
Name[ay]=Rubix ukax mä cubo satawa
Name[az]=Rubix kubu
Name[ba]=Рубикс кубы
Name[be]=Рубікс куб
Name[bg]=Рубикс куб
Name[bm]=Rubix kubɛ
Name[bn]=রুবিক্স কিউব
Name[bo]=འགྱིག་གི་གྲུ་བཞི་ནར་མོ།
Name[bs]=Rubix kocka
Name[ca]=Cub Rubix
Name[co]=Cube Rubix
Name[cs]=Rubixová kostka
Name[cy]=Ciwb Rubix
Name[da]=Rubix terning
Name[dv]=ވެއެ ބްއުކި ސްކްބިރޫ
Name[ee]=Rubix ƒe kubi
Name[el]=Κύβος Rubix
Name[eo]=Rubix-kubo
Name[et]=Rubixi kuubik
Name[eu]=Rubix kuboa
Name[fa]=ﺲﮑﯿﺑﻭﺭ ﺐﻌﮑﻣ
Name[fi]=Rubix-kuutio
Name[fj]=Rubix kiube
Name[fo]=Rubix terning
Name[fy]=Rubix kubus
Name[ga]=Ciúb Rubix
Name[gd]=Ciùb Rubix
Name[gl]=Cubo Rubix
Name[gn]=Kubo rubix rehegua
Name[gu]=રુબિક્સ ક્યુબ
Name[ha]=Rubix cube
Name[he]=תירגנוה הייבוק
Name[hi]=रूबिक्स घन
Name[hr]=Rubixova kocka
Name[ht]=Rubix kib
Name[hu]=Rubix kocka
Name[hy]=Rubix խորանարդ
Name[id]=kubus rubiks
Name[ig]=Rubix cube
Name[is]=Rubix teningur
Name[it]=Cubo di Rubix
Name[iu]=ᕉᐱᔅ ᑯᓘᑉ
Name[ja]=ルービックキューブ
Name[jv]=Rubix cube
Name[ka]=რუბიქსის კუბი
Name[kk]=Рубикс текшесі
Name[km]=គូប Rubix
Name[kn]=ರೂಬಿಕ್ಸ್ ಕ್ಯೂಬ್
Name[ko]=루빅스 큐브
Name[ku]=Kuba Rubix
Name[ky]=Рубикс кубу
Name[la]=Rubix cubus
Name[lb]=Rubix Cube
Name[lg]=Cube ya Rubix
Name[ln]=Cube ya rubix
Name[lo]=Rubix cube
Name[lt]=Rubikso kubas
Name[lv]=Rubiksa kubs
Name[mg]=Rubix cube
Name[mi]=Rubix poraka
Name[mk]=Рубикс коцка
Name[ml]=റൂബിക്സ് ക്യൂബ്
Name[mn]=Рубикс шоо
Name[mr]=रुबिक्स क्यूब
Name[ms]=Kiub Rubix
Name[mt]=Kubu Rubix
Name[my]=Rubix တုံး
Name[ne]=रुबिक्स क्यूब
Name[nl]=Rubix kubus
Name[no]=Rubix terning
Name[ny]=Rubix cube
Name[om]=Kiyuubii Ruubiiksii
Name[or]=ରୁବିକ୍ସ କ୍ୟୁବ୍ |
Name[pa]=Rubix ਘਣ
Name[pl]=Kostka Rubika
Name[ps]=ﺐﻌﮑﻣ ﺲﮑﺑﻭﺭ ﺩ
Name[pt]=Cubo Rubix
Name[qu]=Rubix kubo
Name[ro]=Cub rubic
Name[ru]=Rubix Кубик Рубика
Name[rw]=Rubix cube
Name[sa]=रुबिक्स घन
Name[sd]=ﺐﻌڪ ﺲڪﺑﻭﺭ
Name[si]=රුබික්ස් කියුබ්
Name[sk]=Rubixová kocka
Name[sl]=Rubixova kocka
Name[sm]=Rubix cube
Name[sn]=Rubix cube
Name[so]=Rubix cube
Name[sq]=Kubi Rubix
Name[st]=Rubix cube
Name[su]=Rubix kubus
Name[sv]=Rubikskub
Name[sw]=Mchemraba wa Rubix
Name[ta]=ரூபிக்ஸ் கன சதுரம்
Name[te]=రూబిక్స్ క్యూబ్
Name[tg]=куби рубикс
Name[th]=ลูกบาศก์รูบิกซ์
Name[ti]=ሩቢክስ ኩብ
Name[tk]=Rubix kub
Name[tl]=Rubix cube
Name[to]=Rubix kiupi
Name[tr]=Rubik Küpü
Name[ts]=Xikhubiki xa rubix
Name[tt]=Рубикс куб
Name[tw]=Rubix kuruwa a wɔde yɛ kuruwa
Name[ty]=Rubix cube
Name[ug]=Rubix cube
Name[uk]=Кубик Рубікс
Name[ur]=ﺏﻮﯿﮐ ﺲﮑﺑﻭﺭ
Name[uz]=Rubix kubi
Name[vi]=khối Rubix
Name[xh]=Rubix cube
Name[yi]=בוק סקיבור
Name[yo]=Rubix cube
Name[zh]=魔方
Name[zu]=I-Rubix cube
Name=Rubix cube
Icon=cube16.xpm
Comment[de]=Rubix-Würfel
Comment[es]=Rubix: cubo de Rubix
Comment[af]=Rubix kubus
Comment[am]=Rubix cube
Comment[ar]=rubix ﺐﻌﻜﻤﻟﺍ
Comment[as]=ৰুবিক্স ঘনক
Comment[ay]=Rubix ukax mä cubo satawa
Comment[az]=Rubix kubu
Comment[ba]=Рубикс кубы
Comment[be]=Рубікс куб
Comment[bg]=Рубикс куб
Comment[bm]=Rubix kubɛ
Comment[bn]=রুবিক্স কিউব
Comment[bo]=འགྱིག་གི་གྲུ་བཞི་ནར་མོ།
Comment[bs]=Rubix kocka
Comment[ca]=Cub Rubix
Comment[co]=Cube Rubix
Comment[cs]=Rubixová kostka
Comment[cy]=Ciwb Rubix
Comment[da]=Rubix terning
Comment[dv]=ވެއެ ބްއުކި ސްކްބިރޫ
Comment[ee]=Rubix ƒe kubi
Comment[el]=Κύβος Rubix
Comment[eo]=Rubix-kubo
Comment[et]=Rubixi kuubik
Comment[eu]=Rubix kuboa
Comment[fa]=ﺲﮑﯿﺑﻭﺭ ﺐﻌﮑﻣ
Comment[fi]=Rubix-kuutio
Comment[fj]=Rubix kiube
Comment[fo]=Rubix terning
Comment[fr]=Cube Rubix
Comment[fy]=Rubix kubus
Comment[ga]=Ciúb Rubix
Comment[gd]=Ciùb Rubix
Comment[gl]=Cubo Rubix
Comment[gn]=Kubo rubix rehegua
Comment[gu]=રુબિક્સ ક્યુબ
Comment[ha]=Rubix cube
Comment[he]=תירגנוה הייבוק
Comment[hi]=रूबिक्स घन
Comment[hr]=Rubixova kocka
Comment[ht]=Rubix kib
Comment[hu]=Rubix kocka
Comment[hy]=Rubix խորանարդ
Comment[id]=kubus rubiks
Comment[ig]=Rubix cube
Comment[is]=Rubix teningur
Comment[it]=Cubo di Rubix
Comment[iu]=ᕉᐱᔅ ᑯᓘᑉ
Comment[ja]=ルービックキューブ
Comment[jv]=Rubix cube
Comment[ka]=რუბიქსის კუბი
Comment[kk]=Рубикс текшесі
Comment[km]=គូប Rubix
Comment[kn]=ರೂಬಿಕ್ಸ್ ಕ್ಯೂಬ್
Comment[ko]=루빅스 큐브
Comment[ku]=Kuba Rubix
Comment[ky]=Рубикс кубу
Comment[la]=Rubix cubus
Comment[lb]=Rubix Cube
Comment[lg]=Cube ya Rubix
Comment[ln]=Cube ya rubix
Comment[lo]=Rubix cube
Comment[lt]=Rubikso kubas
Comment[lv]=Rubiksa kubs
Comment[mg]=Rubix cube
Comment[mi]=Rubix poraka
Comment[mk]=Рубикс коцка
Comment[ml]=റൂബിക്സ് ക്യൂബ്
Comment[mn]=Рубикс шоо
Comment[mr]=रुबिक्स क्यूब
Comment[ms]=Kiub Rubix
Comment[mt]=Kubu Rubix
Comment[my]=Rubix တုံး
Comment[ne]=रुबिक्स क्यूब
Comment[nl]=Rubix kubus
Comment[no]=Rubix terning
Comment[ny]=Rubix cube
Comment[om]=Kiyuubii Ruubiiksii
Comment[or]=ରୁବିକ୍ସ କ୍ୟୁବ୍ |
Comment[pa]=Rubix ਘਣ
Comment[pl]=Kostka Rubika
Comment[ps]=ﺐﻌﮑﻣ ﺲﮑﺑﻭﺭ ﺩ
Comment[pt]=Cubo Rubix
Comment[qu]=Rubix kubo
Comment[ro]=Cub rubic
Comment[ru]=Кубик Рубика
Comment[rw]=Rubix cube
Comment[sa]=रुबिक्स घन
Comment[sd]=ﺐﻌڪ ﺲڪﺑﻭﺭ
Comment[si]=රුබික්ස් කියුබ්
Comment[sk]=Rubixová kocka
Comment[sl]=Rubixova kocka
Comment[sm]=Rubix cube
Comment[sn]=Rubix cube
Comment[so]=Rubix cube
Comment[sq]=Kubi Rubix
Comment[st]=Rubix cube
Comment[su]=Rubix kubus
Comment[sv]=Rubikskub
Comment[sw]=Mchemraba wa Rubix
Comment[ta]=ரூபிக்ஸ் கன சதுரம்
Comment[te]=రూబిక్స్ క్యూబ్
Comment[tg]=куби рубикс
Comment[th]=ลูกบาศก์รูบิกซ์
Comment[ti]=ሩቢክስ ኩብ
Comment[tk]=Rubix kub
Comment[tl]=Rubix cube
Comment[to]=Rubix kiupi
Comment[tr]=Rubik Küpü
Comment[ts]=Xikhubiki xa rubix
Comment[tt]=Рубикс куб
Comment[tw]=Rubix kuruwa a wɔde yɛ kuruwa
Comment[ty]=Rubix cube
Comment[ug]=Rubix cube
Comment[uk]=Кубик Рубікс
Comment[ur]=ﺏﻮﯿﮐ ﺲﮑﺑﻭﺭ
Comment[uz]=Rubix kubi
Comment[vi]=khối Rubix
Comment[xh]=Rubix cube
Comment[yi]=בוק סקיבור
Comment[yo]=Rubix cube
Comment[zh]=魔方
Comment[zu]=I-Rubix cube
Comment=Rubix cube
Exec=rubix
Terminal=false
Type=Application
Categories=X-Fun-puzzle
GenericName=Rubix
