[Desktop Entry]
Encoding=UTF-8
Name[fr]=Jeu du Rubix cube
Name[de]=Rubix-Würfel
Name=Rubix cube
Icon=cube16.xpm
Comment[de]=Rubix-Würfel
Comment=Rubix cube
Exec=rubix
Terminal=false
Type=Application
Categories=X-Fun-puzzle
GenericName=Rubix
