[Desktop Entry]
Name[de]=Sakura Terminal Emulator
Name[fr]=Émulateur de terminal : Sakura
Name[es]=Sakura: emulador de terminal
Name=Sakura terminal emulator
Comment[de]=Verwenden der Befehlszeile
Comment[es]=Sakura: emulador de terminal
Comment=Use the command line
TryExec=sakura
Exec=sakura
Icon=mini-sh.xpm
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Sakura
