[Desktop Entry]
Name[fr]=Émulateur de terminal : Sakura
Name[de]=Sakura Terminal Emulator
Name=Sakura terminal emulator
Comment[de]=Verwenden der Befehlszeile
Comment=Use the command line
TryExec=sakura
Exec=sakura
Icon=mini-sh.xpm
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Sakura
