[Desktop Entry]
Encoding=UTF-8
Name[de]=Libreoffice Base-Datenbank
Name[fr]=Base de données : Libreoffice Base
Name[es]=Libreoffice Base: base de datos
Name=Libreoffice Base database
Icon=libreoffice-base.png
Comment[de]=Basisdatenbank
Comment[es]=Libreoffice Base: base de datos
Comment=Base database
Exec=sbase
Terminal=false
Type=Application
Categories=Database
GenericName=Base
