[Desktop Entry]
Encoding=UTF-8
Name[de]=Libreoffice Base-Datenbank
Name[fr]=Base de données : Libreoffice Base
Name[es]=Libreoffice Base: base de datos
Name[af]=Libreoffice Base databasis
Name[am]=Libreoffice Base ዳታቤዝ
Name[ar]=Libreoffice Base ﺕﺎﻧﺎﻴﺑ ﺓﺪﻋﺎﻗ
Name[as]=লিবাৰঅফিচ ভিত্তি ডাটাবেছ
Name[ay]=Libreoffice Base ukan yatiyawipa
Name[az]=Libreoffice bazası verilənlər bazası
Name[ba]=Libreoffice Base мәғлүмәт базаһы
Name[be]=База дадзеных Libreoffice
Name[bg]=База данни на Libreoffice
Name[bm]=Libreoffice Base ka kunnafonidilan
Name[bn]=Libreoffice বেস ডাটাবেস
Name[bo]=ལི་པུ་ལི་ཧྥེ་སི་རྟེན་གཞིའི་གཞི་གྲངས་མཛོད།
Name[bs]=Baza podataka Libreoffice Base
Name[ca]=Base de dades de Libreoffice Base
Name[co]=Base di basa di basa di Libreoffice
Name[cs]=Databáze Libreoffice Base
Name[cy]=Cronfa ddata sail Libreoffice
Name[da]=Libreoffice Base database
Name[dv]=ސްބޭޓާޑޭ ސްބޭ ސްފީއޮރޭބްލި
Name[ee]=Libreoffice Base ƒe nyatakakadzraɖoƒe
Name[el]=Βάση δεδομένων Libreoffice Base
Name[eo]=Libreoffice Baza datumbazo
Name[et]=Libreoffice Basei andmebaas
Name[eu]=Libreoffice Base datu-basea
Name[fa]=Libreoffice Base ﻩﺩﺍﺩ ﻩﺎﮕﯾﺎﭘ
Name[fi]=Libreoffice Base -tietokanta
Name[fj]=Kato ni itukutuku ni Libreoffice
Name[fo]=Libreoffice Base database
Name[fy]=Libreoffice Base databank
Name[ga]=Bunachar sonraí Libreoffice saor in aisce,
Name[gd]=Stòr-dàta Libreoffice
Name[gl]=Base de datos base de Libreoffice
Name[gn]=Libreoffice Base mba’ekuaarã ryru
Name[gu]=લિબરઓફિસ બેઝ ડેટાબેઝ
Name[ha]=Libreoffice Base database
Name[he]=Libreoffice Base לש םינותנה דסמ
Name[hi]=लिब्रेऑफिस बेस डेटाबेस
Name[hr]=Libreoffice Base baza podataka
Name[ht]=Baz done Libreoffice Base
Name[hu]=Libreoffice Base adatbázis
Name[hy]=Libreoffice Base տվյալների բազա
Name[id]=Basis data Basis Libreoffice
Name[ig]=Ebe nchekwa data Libreoffice
Name[is]=Libreoffice Base gagnagrunnur
Name[it]=Base di dati di LibreOffice
Name[iu]=ᓕᐳᕇᔅ ᑐᖅᑯᐃᕕᒃ ᖃᕆᑕᐅᔭᒃᑯᑦ
Name[ja]=Libreofficeベースデータベース
Name[jv]=Pangkalan data Libreoffice
Name[ka]=Libreoffice Base მონაცემთა ბაზა
Name[kk]=Libreoffice базасының дерекқоры
Name[km]=មូលដ្ឋានទិន្នន័យ Libreoffice
Name[kn]=Libreoffice ಬೇಸ್ ಡೇಟಾಬೇಸ್
Name[ko]=Libreoffice 기본 데이터베이스
Name[ku]=Database Libreoffice Base
Name[ky]=Libreoffice базасы
Name[la]=Libreoffice Base database
Name[lb]=Libreoffice Base Datebank
Name[lg]=Ekitabo kyamawulire ekya Libreoffice Base
Name[ln]=Base ya ba données ya Base ya Libreoffice
Name[lo]=ຖານຂໍ້ມູນ Libreoffice Base
Name[lt]=Libreoffice bazės duomenų bazė
Name[lv]=Libreoffice bāzes datu bāze
Name[mg]=Database Libreoffice Base
Name[mi]=Patengi raraunga Freeoffice Base
Name[mk]=База на Libreoffice Base
Name[ml]=Libreoffice ബേസ് ഡാറ്റാബേസ്
Name[mn]=Libreoffice мэдээллийн бааз
Name[mr]=लिबरऑफिस बेस डेटाबेस
Name[ms]=Pangkalan data Pangkalan Libreoffice
Name[mt]=Bażi tad-database tal-Libreoffice
Name[my]=Libreoffice Base ဒေတာဘေ့စ်
Name[ne]=Libreoffice बेस डाटाबेस
Name[nl]=Libreoffice Base-database
Name[no]=Libreoffice Base-database
Name[ny]=Libreoffice Base database
Name[om]=Kuusdeetaa Buuuraa Libreoffice
Name[or]=ଲିବ୍ରେଫିସ୍ ବେସ୍ ଡାଟାବେସ୍ |
Name[pa]=ਲਿਬਰੇਆਫਿਸ ਬੇਸ ਡੇਟਾਬੇਸ
Name[pl]=Baza danych pakietu Libreoffice
Name[ps]=ﺲﯿﺑﺎټﯾډ ﺲﯿﺑ ﺲﻓﺁ ﺮﺒﯿﻟ ﺩ
Name[pt]=Base de dados Libreoffice Base
Name[qu]=Libreoffice Base nisqa willay tantana
Name[ro]=Baza de date Libreoffice
Name[ru]=База данных Libreoffice
Name[rw]=Ububiko bwibanze
Name[sa]=Libreoffice आधारदत्तांशकोशः
Name[sd]=Libreoffice ﺲﻴﺑﺎٽﻳڊ ﺲﻴﺑ
Name[si]=Libreoffice Base දත්ත සමුදාය
Name[sk]=Databáza Libreoffice Base
Name[sl]=Baza podatkov Libreoffice Base
Name[sm]=Freeoffice Base database
Name[sn]=Libreoffice Base database
Name[so]=Macluumaadka Saldhigga Libreoffice
Name[sq]=Baza e të dhënave Libreoffice
Name[st]=Libreoffice Base database
Name[su]=Pangkalan data Libreoffice
Name[sv]=Libreoffice Base-databas
Name[sw]=Libreoffice Base database
Name[ta]=Libreoffice அடிப்படை தரவுத்தளம்
Name[te]=Libreoffice బేస్ డేటాబేస్
Name[tg]=Пойгоҳи Libreoffice
Name[th]=ฐานข้อมูล Libreoffice Base
Name[ti]=ሊብሬኦፊስ መሰረት ዳታቤዝ
Name[tk]=Libreoffice Base maglumat bazasy
Name[tl]=Database ng Libreoffice Base
Name[to]=Libreoffice Base database
Name[tr]=Libreoffice Temel veritabanı
Name[ts]=Dathabeyisi ya Libreoffice Base
Name[tt]=Libreoffice Base базасы
Name[tw]=Libreoffice Base databea a ɛwɔ hɔ
Name[ty]=Libreoffice Base database
Name[ug]=Libreoffice Base ﻰﻧﺍﺪﻧﺎﺳ
Name[uk]=База даних Libreoffice
Name[ur]=ﺲﯿﺑ ﺎﭩﯾﮈ ﺲﯿﺑ ﺲﻓﺁ ﺮﺒﯿﻟ
Name[uz]=Libreoffice bazasi malumotlar bazasi
Name[vi]=Cơ sở dữ liệu cơ sở Libreoffice
Name[xh]=Libreoffice Base database
Name[yi]=Libreoffice Base סייבאַטאַד
Name[yo]=Libreoffice Base database
Name[zh]=Libreoffice 基础数据库
Name[zu]=Libreoffice Base database
Name=Libreoffice Base database
Icon=libreoffice-base.png
Comment[de]=Basisdatenbank
Comment[es]=Libreoffice Base: base de datos
Comment[af]=Basis databasis
Comment[am]=የመሠረት ዳታቤዝ
Comment[ar]=ﺔﻴﺳﺎﺳﻷ﻿ﺍ ﺕﺎﻧﺎﻴﺒﻟﺍ ﺓﺪﻋﺎﻗ
Comment[as]=ভিত্তি ডাটাবেছ
Comment[ay]=Base de datos ukax mä base de datos ukankiwa
Comment[az]=Baza verilənlər bazası
Comment[ba]=База базаһы
Comment[be]=База даных
Comment[bg]=База база данни
Comment[bm]=Base database (daɲɛgafe basigilen).
Comment[bn]=বেস ডাটাবেস
Comment[bo]=གཞི་རྩའི་གཞི་གྲངས་མཛོད།
Comment[bs]=Baza podataka
Comment[ca]=Base de dades base
Comment[co]=basa di dati di basa
Comment[cs]=Základní databáze
Comment[cy]=Cronfa ddata sylfaenol
Comment[da]=Base database
Comment[dv]=ސްބޭޓާޑޭ ސްބޭ
Comment[ee]=Base database
Comment[el]=Βάση δεδομένων βάσης
Comment[eo]=Baza datumbazo
Comment[et]=Baasandmebaas
Comment[eu]=Oinarrizko datu-basea
Comment[fa]=ﻪﯾﺎﭘ ﻩﺩﺍﺩ ﻩﺎﮕﯾﺎﭘ
Comment[fi]=Perustietokanta
Comment[fj]=Kato ni itukutuku e ra
Comment[fo]=Base database
Comment[fr]=Base de données de base
Comment[fy]=Basis databank
Comment[ga]=Bunachar sonraí bonn
Comment[gd]=Stòr-dàta bunaiteach
Comment[gl]=Base de datos base
Comment[gn]=Base de datos base rehegua
Comment[gu]=આધાર ડેટાબેઝ
Comment[ha]=Tushen bayanai
Comment[he]=יסיסב םינותנ דסמ
Comment[hi]=बेस डेटाबेस
Comment[hr]=Baza podataka
Comment[ht]=Baz done baz
Comment[hu]=Alap adatbázis
Comment[hy]=Բազային տվյալների բազա
Comment[id]=Basis data dasar
Comment[ig]=Ebe nchekwa data
Comment[is]=Grunngagnagrunnur
Comment[it]=Banca dati di base
Comment[iu]=ᑐᖅᑯᐃᕕᓪᓗᐊᑕᖓ
Comment[ja]=ベースデータベース
Comment[jv]=Basis database
Comment[ka]=ბაზის მონაცემთა ბაზა
Comment[kk]=Базалық мәліметтер базасы
Comment[km]=មូលដ្ឋានទិន្នន័យ
Comment[kn]=ಮೂಲ ಡೇಟಾಬೇಸ್
Comment[ko]=기본 데이터베이스
Comment[ku]=Databasa bingehîn
Comment[ky]=База базасы
Comment[la]=Basis database
Comment[lb]=Basis Datebank
Comment[lg]=Base database
Comment[ln]=Base ya ba données ya base
Comment[lo]=ຖານຂໍ້ມູນ
Comment[lt]=Bazinė duomenų bazė
Comment[lv]=Bāzes datu bāze
Comment[mg]=Base database
Comment[mi]=Papanga raraunga turanga
Comment[mk]=База на база на податоци
Comment[ml]=അടിസ്ഥാന ഡാറ്റാബേസ്
Comment[mn]=Суурь мэдээллийн сан
Comment[mr]=बेस डेटाबेस
Comment[ms]=Pangkalan data asas
Comment[mt]=database bażi
Comment[my]=ဒေတာဘေ့စ်အခြေခံ
Comment[ne]=आधार डाटाबेस
Comment[nl]=Basis database
Comment[no]=Base database
Comment[ny]=Base database
Comment[om]=Kuusaa deetaa buuuraa
Comment[or]=ଆଧାର ଡାଟାବେସ୍ |
Comment[pa]=ਅਧਾਰ ਡਾਟਾਬੇਸ
Comment[pl]=Baza danych
Comment[ps]=ﺲﯿﺑﺎټﯾډ ﺲﯿﺑ
Comment[pt]=Base de dados de base
Comment[qu]=Base nisqa willay tantana
Comment[ro]=Baza de date de bază
Comment[ru]=База данных
Comment[rw]=Ububikoshingiro
Comment[sa]=आधारदत्तांशकोशः
Comment[sd]=ﺲﻴﺑﺎٽﻳڊ ﻱﺩﺎﻴﻨﺑ
Comment[si]=මූලික දත්ත සමුදාය
Comment[sk]=Základná databáza
Comment[sl]=Osnovna baza podatkov
Comment[sm]=Faamaumauga faavae
Comment[sn]=Base database
Comment[so]=Xogta aasaasiga ah
Comment[sq]=Baza e të dhënave
Comment[st]=Base database
Comment[su]=Pangkalan data dasar
Comment[sv]=Basdatabas
Comment[sw]=Msingi wa hifadhidata
Comment[ta]=அடிப்படை தரவுத்தளம்
Comment[te]=బేస్ డేటాబేస్
Comment[tg]=Пойгоҳи базавӣ
Comment[th]=ฐานข้อมูลฐาน
Comment[ti]=መሰረት ዳታቤዝ
Comment[tk]=Esasy maglumat bazasy
Comment[tl]=Base database
Comment[to]=Fakamatala ki he fakavaʻe
Comment[tr]=Temel veritabanı
Comment[ts]=Dathabeyisi ya xisekelo
Comment[tt]=Төп мәгълүмат базасы
Comment[tw]=Base database
Comment[ty]=Base database
Comment[ug]=ﻥﺍﺪﻧﺎﺳ ﻰﺳﺎﺳﺎﺋ
Comment[uk]=База даних
Comment[ur]=ﺲﯿﺑ ﺎﭩﯾﮈ ﺲﯿﺑ
Comment[uz]=Baza bazasi
Comment[vi]=cơ sở dữ liệu cơ sở
Comment[xh]=Isiseko sesiseko sedatha
Comment[yi]=סייבאַטאַד עזאַב
Comment[yo]=database mimọ
Comment[zh]=基础数据库
Comment[zu]=Isizinda semininingwane
Comment=Base database
Exec=sbase
Terminal=false
Type=Application
Categories=Database
GenericName=Base
