[Desktop Entry]
Encoding=UTF-8
Name[fr]=Éditeur de feuille de calcul : Libreoffice Calc
Name[de]=Libreoffice Calc Tabellenkalkulationseditor
Name=Libreoffice Calc spreadsheet editor
Icon=libreoffice-calc.png
Comment[de]=Calc-Tabellenkalkulationseditor
Comment=Calc spreadsheet editor
Exec=scalc
Terminal=false
Type=Application
Categories=X-Business-spreadsheet
GenericName=Calc
