[Desktop Entry]
Encoding=UTF-8
Name[de]=Libreoffice Calc Tabellenkalkulationseditor
Name[fr]=Éditeur de feuille de calcul : Libreoffice Calc
Name[es]=Libreoffice Calc: hoja de cálculo
Name[af]=Libreoffice Calc sigbladredigeerder
Name[am]=Libreoffice Calc የተመን ሉህ አርታዒ
Name[ar]=Libreoffice Calc ﺕﺎﻧﺎﻴﺒﻟﺍ ﻝﻭﺍﺪﺟ ﺭﺮﺤﻣ
Name[as]=Libreoffice Calc স্প্ৰেডশ্বীট সম্পাদক
Name[ay]=Libreoffice Calc ukax mä jach’a uñacht’äwiwa
Name[az]=Libreoffice Calc elektron cədvəl redaktoru
Name[ba]=Libreoffice Calc электрон таблицаһы мөхәррире
Name[be]=Таблічны рэдактар Libreoffice Calc
Name[bg]=Libreoffice Calc редактор на електронни таблици
Name[bm]=Libreoffice Calc ka jatebɔsɛbɛnw ɲɛnabɔbaga
Name[bn]=Libreoffice Calc স্প্রেডশীট সম্পাদক
Name[bo]=ལི་པུ་ལི་ཧྥེ་སི་·ཅ་ལེ་ཁེ་ཡིས་རེའུ་མིག་གི་རྩོམ་སྒྲིག་པ།
Name[bs]=Libreoffice Calc uređivač tabela
Name[ca]=Editor de fulls de càlcul de Libreoffice Calc
Name[co]=Editore di fogli di calcolo Libreoffice Calc
Name[cs]=Tabulkový editor Libreoffice Calc
Name[cy]=Golygydd taenlen Libreoffice Calc
Name[da]=Libreoffice Calc regnearkseditor
Name[dv]=ރޓަޑިއެ ޓްޝީޑްރެޕްސް ކްލްކެ ސްފީއޮރޭބްލި
Name[ee]=Libreoffice Calc ƒe agbalẽvi ƒe nuŋlɔla
Name[el]=Επεξεργαστής υπολογιστικών φύλλων Libreoffice Calc
Name[eo]=Libreoffice Calc kalkultabelredaktilo
Name[et]=Libreoffice Calc tabeliredaktor
Name[eu]=Libreoffice Calc kalkulu-orrien editorea
Name[fa]=Libreoffice Calc ﻩﺩﺮﺘﺴﮔ ﻪﺤﻔﺻ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=Libreoffice Calc -laskentataulukkoeditori
Name[fj]=Edita ni spreadsheet ni Libreoffice Calc
Name[fo]=Libreoffice Calc spreadsheet editor
Name[fy]=Libreoffice Calc spreadsheet bewurker
Name[ga]=Eagarthóir scarbhileog Libreoffice Calc
Name[gd]=Deasaiche spreadsheet Libreoffice Calc
Name[gl]=Editor de follas de cálculo de Libreoffice Calc
Name[gn]=Libreoffice Calc kuatiañe’ẽ mohendaha
Name[gu]=લિબરઓફિસ કેલ્ક સ્પ્રેડશીટ એડિટર
Name[ha]=Libreoffice Calc editan falle
Name[he]=Libreoffice Calc לש םיינורטקלא תונויליג ךרוע
Name[hi]=लिब्रेऑफ़िस कैल्क स्प्रेडशीट संपादक
Name[hr]=Libreoffice Calc uređivač proračunskih tablica
Name[ht]=Libreoffice Calc editè calcul
Name[hu]=Libreoffice Calc táblázatszerkesztő
Name[hy]=Libreoffice Calc աղյուսակների խմբագիր
Name[id]=Editor spreadsheet Libreoffice Calc
Name[ig]=Libreoffice Calc nchịkọta akụkọ
Name[is]=Libreoffice Calc töflureikni ritstjóri
Name[it]=Editor di fogli di calcolo di Libreoffice Calc
Name[iu]=Libreoffice Calc spreadsheet ᑎᑎᕋᖅᑎ
Name[ja]=Libreoffice Calc スプレッドシート エディター
Name[jv]=Editor spreadsheet Libreoffice Calc
Name[ka]=Libreoffice Calc ცხრილების რედაქტორი
Name[kk]=Libreoffice Calc электрондық кесте редакторы
Name[km]=កម្មវិធីនិពន្ធសៀវភៅបញ្ជី Libreoffice Calc
Name[kn]=Libreoffice Calc ಸ್ಪ್ರೆಡ್u200cಶೀಟ್ ಸಂಪಾದಕ
Name[ko]=Libreoffice Calc 스프레드시트 편집기
Name[ku]=Edîtorê pelgeya pelgeya Libreoffice Calc
Name[ky]=Libreoffice Calc электрондук жадыбал редактору
Name[la]=Libreoffice Calc spreadsheet editor
Name[lb]=Libreoffice Calc Spreadsheet Editor
Name[lg]=Libreoffice Calc omuwandiisi wempapula zebiwandiiko
Name[ln]=Libreoffice Calc mobongisi ya feuille de calcul
Name[lo]=ບັນນາທິການຕາຕະລາງ Libreoffice Calc
Name[lt]=Libreoffice Calc skaičiuoklių rengyklė
Name[lv]=Libreoffice Calc izklājlapu redaktors
Name[mg]=Tonian-dahatsoratry ny takelaka Libreoffice Calc
Name[mi]=Freeoffice Calc ētita ripanga
Name[mk]=Уредувач на табеларни пресметки Libreoffice Calc
Name[ml]=Libreoffice Calc സ്u200cപ്രെഡ്u200cഷീറ്റ് എഡിറ്റർ
Name[mn]=Libreoffice Calc хүснэгт засварлагч
Name[mr]=लिबरऑफिस कॅल्क स्प्रेडशीट संपादक
Name[ms]=Editor hamparan Calc Libreoffice
Name[mt]=Editur tal-ispreadsheet ta Libreoffice Calc
Name[my]=Libreoffice Calc စာရင်းဇယားတည်းဖြတ်သူ
Name[ne]=Libreoffice Calc स्प्रेडसिट सम्पादक
Name[nl]=Libreoffice Calc-spreadsheet-editor
Name[no]=Libreoffice Calc regnearkredigerer
Name[ny]=Libreoffice Calc spreadsheet editor
Name[om]=Gulaalaa gabatee Libreoffice Calc
Name[or]=ଲିବ୍ରେଫିସ୍ କାଲ୍ ସ୍ପ୍ରେଡସିଟ୍ ଏଡିଟର୍ |
Name[pa]=ਲਿਬਰੇਆਫਿਸ ਕੈਲਕ ਸਪ੍ਰੈਡਸ਼ੀਟ ਸੰਪਾਦਕ
Name[pl]=Edytor arkuszy kalkulacyjnych Libreoffice Calc
Name[ps]=ﺮټﯾډﯾﺍ ټﯿﺷ ډﯾﺮﭙﺳ ﮏﻟﺎﮐ ﺲﻓﺁ ﺮﺒﯿﻟ ﺩ
Name[pt]=Editor de planilhas Libreoffice Calc
Name[qu]=Libreoffice Calc yupay raphi allichaq
Name[ro]=Editor de foi de calcul Libreoffice Calc
Name[ru]=Редактор электронных таблиц Libreoffice Calc
Name[rw]=Libreoffice Kubara urupapuro rwabanditsi
Name[sa]=Libreoffice Calc स्प्रेडशीट् सम्पादकः
Name[sd]=Libreoffice Calc ﺮٽﻳڊﻳﺍ ٽﻴﺷ ڊﻳﺮﭙﺳﺍ
Name[si]=Libreoffice Calc පැතුරුම්පත් සංස්කාරකය
Name[sk]=Tabuľkový editor Libreoffice Calc
Name[sl]=Urejevalnik preglednic Libreoffice Calc
Name[sm]=Freeoffice Calc faatonu pepa faasalalau
Name[sn]=Libreoffice Calc spreadsheet mupepeti
Name[so]=Libreoffice Calc tifaftiraha xaashida
Name[sq]=Redaktori i fletëllogaritjes Libreoffice Calc
Name[st]=Libreoffice Calc spreadsheet editor
Name[su]=Éditor spreadsheet Libreoffice Calc
Name[sv]=Libreoffice Calc kalkylbladsredigerare
Name[sw]=Mhariri wa lahajedwali wa Libreoffice Calc
Name[ta]=Libreoffice Calc விரிதாள் எடிட்டர்
Name[te]=Libreoffice Calc స్ప్రెడ్u200cషీట్ ఎడిటర్
Name[tg]=Муҳаррири ҷадвали электронии Libreoffice Calc
Name[th]=โปรแกรมแก้ไขสเปรดชีต Libreoffice Calc
Name[ti]=ሊብሬኦፊስ ካልክ ስፕረድሺት ኤዲተር
Name[tk]=Libreoffice Calc elektron tablisasynyň redaktory
Name[tl]=Libreoffice Calc spreadsheet editor
Name[to]=Libreoffice Calc ʻetita spreadsheet
Name[tr]=Libreoffice Calc hesap tablosu düzenleyicisi
Name[ts]=Muhleri wa xiphephana xa xiphephana xa Libreoffice Calc
Name[tt]=Libreoffice Calc электрон таблицасы редакторы
Name[tw]=Libreoffice Calc nkyerɛwde krataa samufo
Name[ty]=Libreoffice Calc editor
Name[ug]=Libreoffice Calc ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻝەﯞﺩەﺟ ﻕﯘﻠﻧﻭﺮﺘﻜﯧﻠﯧﺋ
Name[uk]=Редактор електронних таблиць Libreoffice Calc
Name[ur]=Libreoffice Calc ﺮﭩﯾﮉﯾﺍ ﭧﯿﺷﮉﯾﺮﭙﺳﺍ
Name[uz]=Libreoffice Calc elektron jadval muharriri
Name[vi]=Trình chỉnh sửa bảng tính Libreoffice Calc
Name[xh]=Libreoffice Calc spreadsheet umhleli
Name[yi]=Libreoffice Calc ראָטקאַדער טישדערפּס
Name[yo]=Libreoffice Calc olootu iwe kaunti
Name[zh]=Libreoffice Calc 电子表格编辑器
Name[zu]=Umhleli wespredishithi we-Libreoffice Calc
Name=Libreoffice Calc spreadsheet editor
Icon=libreoffice-calc.png
Comment[de]=Calc-Tabellenkalkulationseditor
Comment[es]=Libreoffice Calc: hoja de cálculo
Comment[af]=Calc sigbladredigeerder
Comment[am]=ካልክ የተመን ሉህ አርታዒ
Comment[ar]=ﺕﺎﻧﺎﻴﺒﻟﺍ ﻝﻭﺍﺪﺟ ﺭﺮﺤﻣ ﺐﺴﺣﺍ
Comment[as]=Calc স্প্ৰেডশ্বীট সম্পাদক
Comment[ay]=Calc ukax mä editor de hoja de cálculo ukawa
Comment[az]=Calc elektron cədvəl redaktoru
Comment[ba]=Кальк электрон таблицаһы мөхәррире
Comment[be]=Рэдактар электронных табліц Calc
Comment[bg]=Calc редактор на електронни таблици
Comment[bm]=Calc jatebɔsɛbɛnw ɲɛnabɔbaga
Comment[bn]=ক্যালক স্প্রেডশীট সম্পাদক
Comment[bo]=ཅ་ལེ་ཁེ་ཡིས་རེའུ་མིག་གི་རྩོམ་སྒྲིག་པ།
Comment[bs]=Calc uređivač tabela
Comment[ca]=Editor de fulls de càlcul Calc
Comment[co]=Calc editore di fogli di calculu
Comment[cs]=Tabulkový editor Calc
Comment[cy]=Golygydd taenlen Calc
Comment[da]=Calc regneark editor
Comment[dv]=ރޓަޑިއެ ޓްޝީޑްރެޕްސް ކްލްކެ
Comment[ee]=Calc ƒe agbalẽvi ƒe nuŋlɔla
Comment[el]=Πρόγραμμα επεξεργασίας υπολογιστικών φύλλων Calc
Comment[eo]=Calc kalkultabelredaktilo
Comment[et]=Calc tabeliredaktor
Comment[eu]=Calc kalkulu-orrien editorea
Comment[fa]=ﮏﻟﺎﮐ ﻩﺩﺮﺘﺴﮔ ﻪﺤﻔﺻ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=Calc-laskentataulukkoeditori
Comment[fj]=Edita ni spreadsheet ni Calc
Comment[fo]=Calc spreadsheet editor
Comment[fr]=Éditeur de tableur Calc
Comment[fy]=Calc spreadsheet bewurker
Comment[ga]=Eagarthóir scarbhileog Calc
Comment[gd]=Deasaiche clàr calc
Comment[gl]=Editor de follas de cálculo Calc
Comment[gn]=Calc hoja de cálculo editor rehegua
Comment[gu]=કેલ્ક સ્પ્રેડશીટ સંપાદક
Comment[ha]=Editan maƙunsar ƙira
Comment[he]=Calc לש םיינורטקלא תונויליג ךרוע
Comment[hi]=कैल्क स्प्रेडशीट संपादक
Comment[hr]=Calc uređivač proračunskih tablica
Comment[ht]=Calc editè calcul
Comment[hu]=Calc táblázatszerkesztő
Comment[hy]=Calc աղյուսակների խմբագիր
Comment[id]=Editor spreadsheet Calc
Comment[ig]=Ihe ndezi akwụkwọ mpịakọta Calc
Comment[is]=Calc töflureikni ritstjóri
Comment[it]=Editor di fogli di calcolo Calc
Comment[iu]=ᓈᓴᐅᓯᕆᔾᔪᑎᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Comment[ja]=Calc スプレッドシート エディター
Comment[jv]=Editor spreadsheet Calc
Comment[ka]=Calc ცხრილების რედაქტორი
Comment[kk]=Calc электрондық кесте редакторы
Comment[km]=កម្មវិធីនិពន្ធសៀវភៅបញ្ជី Calc
Comment[kn]=ಕ್ಯಾಲ್ಕ್ ಸ್ಪ್ರೆಡ್u200cಶೀಟ್ ಸಂಪಾದಕ
Comment[ko]=Calc 스프레드시트 편집기
Comment[ku]=Edîtorê pelgeya calc
Comment[ky]=Calc электрондук жадыбал редактору
Comment[la]=Calc spreadsheet editor
Comment[lb]=Calc Spreadsheet Editor
Comment[lg]=Calc omuwandiisi w’empapula z’ebiwandiiko
Comment[ln]=Calc éditeur ya feuille de calcul
Comment[lo]=ຕົວແກ້ໄຂຕາຕະລາງ Calc
Comment[lt]=Calc skaičiuoklių rengyklė
Comment[lv]=Calc izklājlapu redaktors
Comment[mg]=Tonian-dahatsoratra Calc
Comment[mi]=Etita ripanga Calc
Comment[mk]=Уредувач на табеларни пресметки
Comment[ml]=കാൽക് സ്പ്രെഡ്ഷീറ്റ് എഡിറ്റർ
Comment[mn]=Calc хүснэгт засварлагч
Comment[mr]=कॅल्क स्प्रेडशीट संपादक
Comment[ms]=Editor hamparan Calc
Comment[mt]=Editur tal-ispreadsheet Calc
Comment[my]=Calc စာရင်းဇယားတည်းဖြတ်သူ
Comment[ne]=क्याल्क स्प्रेडसिट सम्पादक
Comment[nl]=Calc-spreadsheet-editor
Comment[no]=Calc regnearkredigerer
Comment[ny]=Calc spreadsheet editor
Comment[om]=Gulaalaa gabatee Calc
Comment[or]=କାଲ୍ ସ୍ପ୍ରେଡସିଟ୍ ଏଡିଟର୍ |
Comment[pa]=ਕੈਲਕ ਸਪ੍ਰੈਡਸ਼ੀਟ ਸੰਪਾਦਕ
Comment[pl]=Edytor arkusza kalkulacyjnego Calc
Comment[ps]=ﺮﯾﺪﻣ ټﯿﺷ ډﯾﺮﭙﺳ ﮏﻟﺎﮐ ﺩ
Comment[pt]=Editor de planilhas Calc
Comment[qu]=Calc nisqa hoja de cálculo nisqa allichaq
Comment[ro]=Editor de foi de calcul Calc
Comment[ru]=Редактор электронных таблиц Calc
Comment[rw]=Kubara urupapuro rwabigenewe
Comment[sa]=Calc स्प्रेडशीट सम्पादक
Comment[sd]=Calc ﺮٽﻳڊﻳﺍ ٽﻴﺷ ڊﻳﺮﭙﺳﺍ
Comment[si]=Calc පැතුරුම්පත් සංස්කාරකය
Comment[sk]=Tabuľkový editor Calc
Comment[sl]=Calc urejevalnik preglednic
Comment[sm]=Faatonu pepa faafuainumera
Comment[sn]=Calc spreadsheet mupepeti
Comment[so]=Tifaftiraha xaashida xisaabaadka
Comment[sq]=Redaktori i fletëllogaritjes Calc
Comment[st]=Calc spreadsheet mohlophisi
Comment[su]=Éditor spreadsheet Calc
Comment[sv]=Calc kalkylbladsredigerare
Comment[sw]=Mhariri wa lahajedwali ya Calc
Comment[ta]=கால்க் விரிதாள் திருத்தி
Comment[te]=కాల్క్ స్ప్రెడ్u200cషీట్ ఎడిటర్
Comment[tg]=Муҳаррири ҷадвали Calc
Comment[th]=โปรแกรมแก้ไขสเปรดชีต Calc
Comment[ti]=Calc ስፕረድሺት ኤዲተር
Comment[tk]=Elektron tablisasynyň redaktory
Comment[tl]=Calc spreadsheet editor
Comment[to]=Calc ʻetita spreadsheet
Comment[tr]=Calc hesap tablosu düzenleyicisi
Comment[ts]=Muhleri wa xiphephana xa Calc
Comment[tt]=Электрон таблицаны редакцияләү
Comment[tw]=Calc spreadsheet editor a wɔde kyerɛw nsɛm
Comment[ty]=Calc spreadsheet editor
Comment[ug]=ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻝەﯞﺩەﺟ ﻕﯘﻠﻧﻭﺮﺘﻜﯧﻠﯧﺋ
Comment[uk]=Редактор електронних таблиць Calc
Comment[ur]=ﺮﭩﯾﮉﯾﺍ ﭧﯿﺷﮉﯾﺮﭙﺳﺍ ﮏﻠﯿﮐ
Comment[uz]=Calc elektron jadval muharriri
Comment[vi]=Trình chỉnh sửa bảng tính Calc
Comment[xh]=Calc umhleli wespredishithi
Comment[yi]=Calc ראָטקאַדער טישדערפּס
Comment[yo]=Olootu iwe kaakiri Calc
Comment[zh]=Calc 电子表格编辑器
Comment[zu]=Calc umhleli wespredishithi
Comment=Calc spreadsheet editor
Exec=scalc
Terminal=false
Type=Application
Categories=X-Business-spreadsheet
GenericName=Calc
