[Desktop Entry]
Encoding=UTF-8
Name[de]=Libreoffice Draw Vektoreditor
Name[fr]=Éditeur dessins/images : Libreoffice Draw
Name[es]=Libreoffice Draw: editor vectorial
Name[af]=Libreoffice Draw vektorredigeerder
Name[am]=Libreoffice የቬክተር አርታዒ ይሳሉ
Name[ar]=Libreoffice Draw ﺕﺎﻬﺠﺘﻤﻟﺍ ﺭﺮﺤﻣ
Name[as]=Libreoffice ভেক্টৰ সম্পাদক আঁকক
Name[ay]=Libreoffice Uñacht’ayaña vector editor
Name[az]=Libreoffice Draw vektor redaktoru
Name[ba]=Libreoffice Draw векторы мөхәррире
Name[be]=Вектарны рэдактар Libreoffice Draw
Name[bg]=Векторен редактор Libreoffice Draw
Name[bm]=Libreoffice Ja min bɛ wele ko vecteur editeur
Name[bn]=Libreoffice ড্র ভেক্টর সম্পাদক
Name[bo]=ལི་པུ་ལི་ཧྥེ་སི་རི་མོ་འབྲི་བའི་ཕྱོགས་སྟོན་རྩོམ་སྒྲིག་པ།
Name[bs]=Libreoffice Draw vektorski uređivač
Name[ca]=Editor de vectors de Libreoffice Draw
Name[co]=Editor di vettori di Libreoffice Draw
Name[cs]=Vektorový editor Libreoffice Draw
Name[cy]=Golygydd fector Libreoffice Draw
Name[da]=Libreoffice Draw vektor editor
Name[dv]=ރޓަޑިއެ ރޓަކްވެ ރޯޑް ސްފީއޮރޭބްލި
Name[ee]=Libreoffice Ta vektor nuŋlɔla
Name[el]=Διανυσματικό πρόγραμμα επεξεργασίας Libreoffice Draw
Name[eo]=Libreoffice Draw-vektorredaktilo
Name[et]=Libreoffice Draw vektorredaktor
Name[eu]=Libreoffice Draw bektorial editorea
Name[fa]=Libreoffice Draw ﯼﺭﺍﺩﺮﺑ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=Libreoffice Draw -vektorieditori
Name[fj]=Libreoffice Edita ni Droini
Name[fo]=Libreoffice Draw vector editor
Name[fy]=Libreoffice Draw vector editor
Name[ga]=Eagarthóir veicteoir líníocht Libreoffice
Name[gd]=Dealbh neach-deasachaidh Libreoffice
Name[gl]=Editor de vectores de Libreoffice Draw
Name[gn]=Libreoffice Edibuja editor vectorial rehegua
Name[gu]=લિબરઓફિસ ડ્રો વેક્ટર એડિટર
Name[ha]=Libreoffice Zana vector editan
Name[he]=Libreoffice Draw ךרוע רוטקו
Name[hi]=लिब्रेऑफ़िस ड्रा वेक्टर संपादक
Name[hr]=Libreoffice Draw vektorski uređivač
Name[ht]=Editè vektè Libreoffice Draw
Name[hu]=Libreoffice Draw vektorszerkesztő
Name[hy]=Libreoffice Draw վեկտորի խմբագիր
Name[id]=Editor vektor Gambar Libreoffice
Name[ig]=Libreoffice Dọrọ onye nchịkọta akụkọ vector
Name[is]=Libreoffice Draw vektor ritstjóri
Name[it]=Editor di vettori LibreOffice Draw
Name[iu]=Libreoffice Draw vector−ᒧᑦ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=Libreoffice Draw ベクター エディター
Name[jv]=Editor vektor Gambar LibreOffice
Name[ka]=Libreoffice Draw ვექტორული რედაქტორი
Name[kk]=Libreoffice Draw векторлық редакторы
Name[km]=កម្មវិធីនិពន្ធវ៉ិចទ័រ Libreoffice Draw
Name[kn]=Libreoffice ಡ್ರಾ ವೆಕ್ಟರ್ ಸಂಪಾದಕ
Name[ko]=Libreoffice 그리기 벡터 편집기
Name[ku]=Edîtorê vektorê Libreoffice Draw
Name[ky]=Libreoffice Draw вектордук редактору
Name[la]=Libreoffice Contrahe vector editor
Name[lb]=Libreoffice Draw Vector Editor
Name[lg]=Libreoffice Kuba ekifaananyi kyomuwandiisi wa vector
Name[ln]=Libreoffice Kosala mobongisi ya vecteur
Name[lo]=Libreoffice ແຕ້ມ vector editor
Name[lt]=Libreoffice Draw vektorinis redaktorius
Name[lv]=Libreoffice Draw vektoru redaktors
Name[mg]=Libreoffice Draw vector editor
Name[mi]=Freeoffice Draw ētita vector
Name[mk]=Векторски уредник на Libreoffice Draw
Name[ml]=Libreoffice ഡ്രോ വെക്റ്റർ എഡിറ്റർ
Name[mn]=Libreoffice Draw вектор засварлагч
Name[mr]=लिबरऑफिस ड्रॉ वेक्टर संपादक
Name[ms]=Editor vektor Draw Libreoffice
Name[mt]=Libreoffice Iġbed editur tal-vettur
Name[my]=Libreoffice Draw vector တည်းဖြတ်သူ
Name[ne]=Libreoffice ड्र वेक्टर सम्पादक
Name[nl]=Libreoffice Draw vector-editor
Name[no]=Libreoffice Draw vektor editor
Name[ny]=Libreoffice Draw vekitala mkonzi
Name[om]=Libreoffice Gulaalaa veektarii kaasi
Name[or]=ଲିବ୍ରେଫାଇସ୍ ଡ୍ର ଭେକ୍ଟର ଏଡିଟର୍ |
Name[pa]=ਲਿਬਰੇਆਫਿਸ ਡਰਾਅ ਵੈਕਟਰ ਸੰਪਾਦਕ
Name[pl]=Edytor wektorów Libreoffice Draw
Name[ps]=ﺮﯾﺪﻣ ﺭﻮﺘﮑﯾﻭ ﺍﺭډ ﺲﻓﺁ ﺮﺒﯿﻟ ﺩ
Name[pt]=Editor vetorial Libreoffice Draw
Name[qu]=Libreoffice Siqi vector editor
Name[ro]=Editor de vectori Libreoffice Draw
Name[ru]=Libreoffice Draw Векторный редактор
Name[rw]=Libreoffice Shushanya umwanditsi mukuru
Name[sa]=Libreoffice सदिश सम्पादक आकर्षित करें
Name[sd]=ﺮٽﻳڊﻳﺍ ﺮﭩﮑﯾﻭ ﺍﺭڊ ﺲﻴﻓﺁ ﺮﺒﻴﻟ
Name[si]=Libreoffice Draw vector editor
Name[sk]=vektorový editor Libreoffice Draw
Name[sl]=Vektorski urejevalnik Libreoffice Draw
Name[sm]=Freeoffice Draw vector editor
Name[sn]=Libreoffice Dhirowa vector mupepeti
Name[so]=Libreoffice Sawir sawir tifaftiraha
Name[sq]=Redaktori i vektorit të Libreoffice Draw
Name[st]=Libreoffice Draw vector editor
Name[su]=Editor vektor Libreoffice Draw
Name[sv]=Libreoffice Draw vektorredigerare
Name[sw]=Libreoffice Chora kihariri cha vekta
Name[ta]=Libreoffice டிரா வெக்டர் எடிட்டர்
Name[te]=లిబ్రేఆఫీస్ డ్రా వెక్టర్ ఎడిటర్
Name[tg]=Муҳаррири вектории Libreoffice Draw
Name[th]=โปรแกรมแก้ไขเวกเตอร์ Libreoffice Draw
Name[ti]=Libreoffice ስእሊ ቬክተር ኣርታዒ
Name[tk]=“Libreoffice Draw” wektor redaktory
Name[tl]=Libreoffice Draw vector editor
Name[to]=Libreoffice ta vector ʻetita
Name[tr]=Libreoffice Draw vektör düzenleyici
Name[ts]=Libreoffice Dirowa muhleri wa vector
Name[tt]=Libreoffice сызу вектор редакторы
Name[tw]=Libreoffice Twe vector editor a ɛyɛ fɛ
Name[ty]=Libreoffice Draw vector editor
Name[ug]=Libreoffice ﻯﺮﯨﺮﮬەﺗ ﺭﻮﺘﻜﯦﯞ ﺶﯨﺰﯩﺳ
Name[uk]=Векторний редактор Libreoffice Draw
Name[ur]=ﺮﭩﯾﮉﯾﺍ ﺮﭩﮑﯾﻭ ﺍﺭﮈ ﺲﻓﺁ ﺮﺒﺋﻻ﻿
Name[uz]=Libreoffice Draw vektor muharriri
Name[vi]=Trình chỉnh sửa vector Libreoffice Draw
Name[xh]=Libreoffice Zoba umhleli wevektha
Name[yi]=Libreoffice Draw ראָטקאַדער ראָטקעוו
Name[yo]=Libreoffice Fa fekito olootu
Name[zh]=Libreoffice Draw 矢量编辑器
Name[zu]=Libreoffice Dweba umhleli we-vector
Name=Libreoffice Draw vector editor
Icon=libreoffice-draw.png
Comment[de]=Vektor-Editor zeichnen
Comment[fr]=Draw Éditeur vectoriel
Comment[es]=Libreoffice Draw: editor vectorial
Comment[af]=Teken vektorredigeerder
Comment[am]=የቬክተር አርታዒን ይሳሉ
Comment[ar]=ﻪﺠﺘﻣ ﺭﺮﺤﻣ ﻢﺳﺭ
Comment[as]=ভেক্টৰ সম্পাদক আঁকক
Comment[ay]=Ukax vector editor ukan uñacht’ayatawa
Comment[az]=Çəkmə vektor redaktoru
Comment[ba]=Һыҙғыртыу векторы мөхәррире
Comment[be]=Вектарны рэдактар малявання
Comment[bg]=Рисувайте векторен редактор
Comment[bm]=Ja vecteur editeur ja
Comment[bn]=ভেক্টর সম্পাদক আঁকুন
Comment[bo]=རི་མོ་འབྲི་མཁན་གྱི་རྩོམ་སྒྲིག་པ།
Comment[bs]=Crtanje vektora
Comment[ca]=Editor de dibuixos vectorials
Comment[co]=Disegnu editore vettoriali
Comment[cs]=Kreslit vektorový editor
Comment[cy]=Llunio golygydd fector
Comment[da]=Tegn vektor editor
Comment[dv]=ވެށެހާރަކު ރޓަޑިއެ ރޓަކްވެ
Comment[ee]=Ta vektor nuŋlɔla
Comment[el]=Επεξεργαστής διάνυσμα σχεδίασης
Comment[eo]=Desegnu vektoran redaktilon
Comment[et]=Joonistamise vektorredaktor
Comment[eu]=Marraztu bektore-editorea
Comment[fa]=ﺪﯿﻨﮐ ﻢﺳﺭ ﯼﺭﺍﺩﺮﺑ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=Piirrä vektorieditori
Comment[fj]=Droinitaka na Edita ni vector
Comment[fo]=Tekna vector editor
Comment[fy]=Draw vector editor
Comment[ga]=Tarraing veicteoir eagarthóir
Comment[gd]=Dealbh neach-deasachaidh vector
Comment[gl]=Editor de vectores de debuxo
Comment[gn]=Dibuja editor vectorial rehegua
Comment[gu]=વેક્ટર એડિટર દોરો
Comment[ha]=Zana editan vector
Comment[he]=רויצ רוטקו ךרוע
Comment[hi]=वेक्टर संपादक बनाएं
Comment[hr]=Uređivač crtanja vektora
Comment[ht]=Desine editè vektè
Comment[hu]=Rajz vektor szerkesztő
Comment[hy]=Նկարել վեկտորի խմբագիր
Comment[id]=Menggambar editor vektor
Comment[ig]=See ihe ndezi vector
Comment[is]=Teikna vektor ritstjóri
Comment[it]=Disegna editor vettoriale
Comment[iu]=ᑎᑎᕋᐅᔭᒐᓕᐅᖅᑎ
Comment[ja]=描画ベクトルエディター
Comment[jv]=Gambar editor vektor
Comment[ka]=დახაზეთ ვექტორული რედაქტორი
Comment[kk]=Сурет салу векторы
Comment[km]=គូរកម្មវិធីនិពន្ធវ៉ិចទ័រ
Comment[kn]=ವೆಕ್ಟರ್ ಸಂಪಾದಕವನ್ನು ಎಳೆಯಿರಿ
Comment[ko]=그리기 벡터 편집기
Comment[ku]=Edîtorê vektorê xêz bike
Comment[ky]=Тартуу вектордук редактору
Comment[la]=Trahunt vector editor
Comment[lb]=Zeechnen Vektor Editor
Comment[lg]=Kuba ekifaananyi kyomuwandiisi wa vector
Comment[ln]=Dessin éditeur ya vecteur
Comment[lo]=ແຕ້ມ vector editor
Comment[lt]=Piešimo vektorių redaktorius
Comment[lv]=Zīmēšanas vektoru redaktors
Comment[mg]=Manaova sary vector editor
Comment[mi]=Tuhia te ētita vector
Comment[mk]=Нацртајте векторски уредник
Comment[ml]=വെക്റ്റർ എഡിറ്റർ വരയ്ക്കുക
Comment[mn]=Зурах вектор засварлагч
Comment[mr]=वेक्टर संपादक काढा
Comment[ms]=Lukis editor vektor
Comment[mt]=Iġbed editur tal-vettur
Comment[my]=vector editor ကိုဆွဲပါ။
Comment[ne]=भेक्टर सम्पादक कोर्नुहोस्
Comment[nl]=Teken vectoreditor
Comment[no]=Tegn vektor editor
Comment[ny]=Jambulani vekitala mkonzi
Comment[om]=Gulaalaa veektarii kaasi
Comment[or]=ଭେକ୍ଟର ଏଡିଟର୍ ଅଙ୍କନ କରନ୍ତୁ |
Comment[pa]=ਵੈਕਟਰ ਸੰਪਾਦਕ ਖਿੱਚੋ
Comment[pl]=Edytor wektorów rysunkowych
Comment[ps]=ﺉړﮐ ﻢﺳﺭ ﺮﯾﺪﻣ ﺭﻮﺘﮑﯾﻭ ﺩ
Comment[pt]=Desenhar editor de vetores
Comment[qu]=Vector editorta siqiy
Comment[ro]=Desenați editor de vectori
Comment[ru]=Редактор векторных рисунков
Comment[rw]=Shushanya umwanditsi mukuru
Comment[sa]=सदिश सम्पादक आकर्षित करें
Comment[sd]=ﻮﻴﮬﺎﭠ ﺮٽﻳڊﻳﺍ ﺮﭩﮑﯾﻭ
Comment[si]=දෛශික සංස්කාරකය ඇඳීම
Comment[sk]=Kresliť vektorový editor
Comment[sl]=Urejevalnik vektorjev za risanje
Comment[sm]=Tusi le faatonu vector
Comment[sn]=Dhirowa vector mupepeti
Comment[so]=Sawir tifaftiraha vector
Comment[sq]=Vizatoni redaktuesin e vektorit
Comment[st]=Thala mohlophisi oa vector
Comment[su]=Ngagambar éditor vektor
Comment[sv]=Rita vektor editor
Comment[sw]=Chora kihariri cha vekta
Comment[ta]=திசையன் எடிட்டரை வரையவும்
Comment[te]=వెక్టర్ ఎడిటర్u200cని గీయండి
Comment[tg]=Муҳаррири векториро кашед
Comment[th]=วาดโปรแกรมแก้ไขเวกเตอร์
Comment[ti]=ቬክተር ኤዲተር ስኣል
Comment[tk]=Wektor redaktoryny çyzyň
Comment[tl]=Gumuhit ng vector editor
Comment[to]=Ta vector ʻetita
Comment[tr]=Vektör düzenleyici çizin
Comment[ts]=Dirowa muhleri wa vector
Comment[tt]=Вектор редакторын сызыгыз
Comment[tw]=Twe vector editor no ho mfonini
Comment[ty]=Taata ao ia au i te anairaa piapa
Comment[ug]=ﯔﯨﺰﯩﺳ ﭺﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﺭﻮﺘﻜﯦﯞ
Comment[uk]=Векторний редактор малювання
Comment[ur]=ﺮﭩﯾﮉﯾﺍ ﺮﭩﮑﯾﻭ ﺍﺭﮈ
Comment[uz]=Chizish vektor muharriri
Comment[vi]=Vẽ trình chỉnh sửa vector
Comment[xh]=Zoba umhleli wevektha
Comment[yi]=ראָטקאַדער ראָטקעוו ןעיצ
Comment[yo]=Fa fekito olootu
Comment[zh]=绘制矢量编辑器
Comment[zu]=Dweba umhleli we-vector
Comment=Draw vector editor
Exec=sdraw
Terminal=false
Type=Application
Categories=X-Graphic-draw
GenericName=Draw
