[Desktop Entry]
Encoding=UTF-8
Name[fr]=Éditeur dessins/images : Libreoffice Draw
Name[de]=Libreoffice Draw Vektoreditor
Name=Libreoffice Draw vector editor
Icon=libreoffice-draw.png
Comment[de]=Vektor-Editor zeichnen
Comment=Draw vector editor
Comment[fr]=Draw Éditeur vectoriel
Exec=sdraw
Terminal=false
Type=Application
Categories=X-Graphic-draw
GenericName=Draw
