[Desktop Entry]
Encoding=UTF-8
Name[fr]=Présentations : Libreoffice Impress
Name=Libreoffice Impress presentations
Icon=libreoffice-impress.png
Comment=Impress presentations
Exec=simpress
Terminal=false
Type=Application
Categories=Presentation
GenericName=Impress
