[Desktop Entry]
Encoding=UTF-8
Name[de]=LibreOffice Impress Präsentationen
Name[fr]=Présentations : LibreOffice Impress
Name[es]=LibreOffice Impress: presentaciones
Name[af]=LibreOffice Impress-aanbiedings
Name[am]=LibreOffice Impress አቀራረቦች
Name[ar]=LibreOffice Impress ـﻟ ﺔﻴﻤﻳﺪﻘﺘﻟﺍ ﺽﻭﺮﻌﻟﺍ
Name[as]=লিবাৰঅফিচ ইম্প্ৰেছ উপস্থাপনসমূহ
Name[ay]=LibreOffice Uñacht’awinakax wali muspharkañawa
Name[az]=LibreOffice Impress təqdimatları
Name[ba]=LibreOffice Ref-ref-refere презентациялары
Name[be]=Прэзентацыі libreoffice impress
Name[bg]=Презентации на LibreOffice Impress
Name[bm]=LibreOffice Ɲɛjirali minnu bɛ mɔgɔ kabakoya
Name[bn]=LibreOffice ইমপ্রেস উপস্থাপনা
Name[bo]=ལི་པུ་ལི་ཧྥེ་སི་ཡིས་མི་རྣམས་ལ་བག་ཆགས་ཟབ་མོ་
Name[bs]=LibreOffice Impress prezentacije
Name[ca]=Presentacions de LibreOffice Impress
Name[co]=Presentazioni di LibreOffice Impress
Name[cs]=Prezentace LibreOffice Impress
Name[cy]=Cyflwyniadau LibreOffice Impress
Name[da]=LibreOffice Impress præsentationer
Name[dv]=ސްންޝަޓޭންޒެރެޕް ސްރެޕްމްއި ސްފީއޮރޭބްލި
Name[ee]=LibreOffice Nukpɔkpɔ siwo wɔa dɔ ɖe ame dzi
Name[el]=Παρουσιάσεις LibreOffice Impress
Name[eo]=Prezentaĵoj de LibreOffice Impress
Name[et]=LibreOffice Impressi esitlused
Name[eu]=LibreOffice Impress aurkezpenak
Name[fa]=LibreOffice Impress ﯼﺎﻫ ﻪﺋﺍﺭﺍ
Name[fi]=LibreOffice Impress -esityksiä
Name[fj]=LibreOffice Impress presentations
Name[fo]=LibreOffice Impress framløgus
Name[fy]=LibreOffice Impress presintaasjes
Name[ga]=Cur i láthair ar libreoffice impress saor in aisce,
Name[gd]=LibreOffice impress taisbeanaidhean a
Name[gl]=Presentacións de LibreOffice Impress
Name[gn]=LibreOffice Oimpresiona umi presentación
Name[gu]=લિબરઓફિસ પ્રભાવિત પ્રસ્તુતિઓ
Name[ha]=LibreOffice Impress gabatarwa
Name[he]=LibreOffice Impress לש תוגצמ
Name[hi]=लिब्रेऑफ़िस प्रस्तुतियों को प्रभावित करता है
Name[hr]=LibreOffice Impress prezentacije
Name[ht]=Prezantasyon LibreOffice Impress
Name[hu]=LibreOffice Impress prezentációk
Name[hy]=LibreOffice Impress շնորհանդեսներ
Name[id]=Presentasi LibreOffice Impress
Name[ig]=Ihe ngosi LibreOffice Impress
Name[is]=LibreOffice Impress kynningar
Name[it]=Presentazioni LibreOffice Impress
Name[iu]=LibreOffice Impress-ᒧᑦ ᐅᓂᒃᑲᐅᓯᐅᔪᑦ
Name[ja]=LibreOffice Impress プレゼンテーション
Name[jv]=Presentasi LibreOffice Impress
Name[ka]=LibreOffice Impress პრეზენტაციები
Name[kk]=LibreOffice Impress презентациялары
Name[km]=ការបង្ហាញ LibreOffice Impress
Name[kn]=LibreOffice ಪ್ರಸ್ತುತಿಗಳನ್ನು ಇಂಪ್ರೆಸ್ ಮಾಡಿ
Name[ko]=리브레오피스 임프레스 프레젠테이션
Name[ku]=Pêşniyarên LibreOffice Impress
Name[ky]=LibreOffice Impress презентациялары
Name[la]=Impressum LibreOffice presentations
Name[lb]=LibreOffice Impress Presentatiounen
Name[lg]=LibreOffice Ennyanjula ezisikiriza
Name[ln]=LibreOffice Ba présentations ya impression
Name[lo]=ການນໍາສະເຫນີ LibreOffice ປະທັບໃຈ
Name[lt]=LibreOffice Impress pristatymai
Name[lv]=LibreOffice Impress prezentācijas
Name[mg]=Fampisehoana LibreOffice Impress
Name[mi]=Nga whakaaturanga LibreOffice Impress
Name[mk]=Презентации на LibreOffice Impress
Name[ml]=LibreOffice ഇംപ്രസ് അവതരണങ്ങൾ
Name[mn]=LibreOffice Impress танилцуулга
Name[mr]=लिबरऑफिस इंप्रेस सादरीकरणे
Name[ms]=Persembahan LibreOffice Impress
Name[mt]=LibreOffice Impress preżentazzjonijiet
Name[my]=LibreOffice Impress တင်ပြချက်များ
Name[ne]=LibreOffice प्रभाव प्रस्तुतीकरणहरू
Name[nl]=LibreOffice Impress-presentaties
Name[no]=LibreOffice Impress-presentasjoner
Name[ny]=LibreOffice Impress zowonetsera
Name[om]=LibreOffice Dhiyeessii dinqisiisaa
Name[or]=LibreOffice ଉପସ୍ଥାପନାକୁ ପ୍ରଭାବିତ କରେ |
Name[pa]=ਲਿਬਰੇਆਫਿਸ ਇਮਪ੍ਰੈਸ ਪੇਸ਼ਕਾਰੀਆਂ
Name[pl]=Prezentacje LibreOffice Impress
Name[ps]=ﻪﻧﻮﻨﺸټﻧﺰﯾﺮﭘ LibreOffice Impress ﺩ
Name[pt]=Apresentações do LibreOffice Impress
Name[qu]=LibreOffice Impresión nisqa rikuchiykuna
Name[ro]=Prezentări LibreOffice Impress
Name[ru]=LibreOffice Impress Презентации
Name[rw]=LibreOffice Tanga ibitekerezo
Name[sa]=LibreOffice प्रस्तुतीकरणानि प्रभावितानि
Name[sd]=LibreOffice Impress ﻥﻮﻴٽﻧﻮﻴﺸﻴﭘ
Name[si]=LibreOffice Impress ඉදිරිපත් කිරීම්
Name[sk]=Prezentácie LibreOffice Impress
Name[sl]=Predstavitve LibreOffice Impress
Name[sm]=Freeoffice Impress faaaliga
Name[sn]=LibreOffice Impress mharidzo
Name[so]=LibreOffice Impress bandhigyada
Name[sq]=Prezantimet e LibreOffice Impress
Name[st]=LibreOffice Impress linehelano
Name[su]=LibreOffice Impress presentasi
Name[sv]=LibreOffice Impress-presentationer
Name[sw]=LibreOffice Impress maonyesho
Name[ta]=LibreOffice விளக்கக்காட்சிகளை ஈர்க்கிறது
Name[te]=లిబ్రేఆఫీస్ ఇంప్రెస్ ప్రెజెంటేషన్లు
Name[tg]=Презентатсияҳои LibreOffice Impress
Name[th]=การนำเสนอ LibreOffice สร้างความประทับใจ
Name[ti]=ሊብሬኦፊስ ኢምፕረስ ኣቀራርባታት
Name[tk]=LibreOffice Tanyşdyryşlary täsir ediň
Name[tl]=Mga presentasyon ng LibreOffice Impress
Name[to]=LibreOffice e ngaahi fakamatala fakaʻofoʻofa
Name[tr]=LibreOffice Impress sunumları
Name[ts]=LibreOffice Swikombiso swo hlamarisa
Name[tt]=LibreOffice презентацияләр
Name[tw]=LibreOffice Nsɛm a wɔka kyerɛ a ɛyɛ nwonwa
Name[ty]=LibreOffice Impress presentations
Name[ug]=LibreOffice ﺵﯗﺭﯘﺘﺷﯘﻧﻮﺗ ﺕﺍﺮﯩﺳەﺗ
Name[uk]=Презентації LibreOffice Impress
Name[ur]=LibreOffice Impress ﺰﻨﺸﯿﭩﻧﺰﯾﺮﭘ
Name[uz]=LibreOffice Impress taqdimotlari
Name[vi]=Bản trình bày LibreOffice Impress
Name[xh]=LibreOffice Impress iintetho
Name[yi]=LibreOffice זנאַשייטנאַזערפּ ססערפּמי
Name[yo]=Awọn ifarahan LibreOffice Impress
Name[zh]=LibreOffice Impress 演示文稿
Name[zu]=Izethulo ze-LibreOffice Impress
Name=LibreOffice Impress presentations
Icon=libreoffice-impress.png
Comment[de]=Impressum Präsentationen
Comment[es]=LibreOffice Impress: presentaciones
Comment[af]=Beïndruk aanbiedings
Comment[am]=አቀራረቦችን ያስደምሙ
Comment[ar]=ﺔﻴﻤﻳﺪﻘﺘﻟﺍ ﺽﻭﺮﻌﻟﺍ ﺏﺎﺠﻋﺍ
Comment[as]=উপস্থাপনসমূহ আপ্লুত কৰক
Comment[ay]=Uñacht’äwinakax wali muspharkañawa
Comment[az]=Təqdimatları təəssüratlandırın
Comment[ba]=Һоҡландырғыс презентациялар
Comment[be]=Прэзентацыі Impress
Comment[bg]=Впечатлете презентации
Comment[bm]=Ɲɛjiraliw bɛ mɔgɔ kabakoya
Comment[bn]=উপস্থাপনা প্রভাবিত
Comment[bo]=བག་ཆགས་ཟབ་མོ་འཇོག་པའི་ངོ
Comment[bs]=Impresionirajte prezentacije
Comment[ca]=Impressiona les presentacions
Comment[co]=Impressà e presentazioni
Comment[cs]=Zapůsobte na prezentace
Comment[cy]=Gwneud argraff ar y cyflwyniadau
Comment[da]=Imponer præsentationer
Comment[dv]=އްތަންޝަޓޭންޒެރެޕް ސްރެޕްމްއި
Comment[ee]=Nuƒo siwo wɔa dɔ ɖe ame dzi
Comment[el]=Παρουσιάσεις εντυπωσιασμού
Comment[eo]=Impresu prezentojn
Comment[et]=Esitlused avaldavad muljet
Comment[eu]=Harritu aurkezpenak
Comment[fa]=ﺪﯿﻫﺩ ﺭﺍﺮﻗ ﺮﯿﺛﺎﺗ ﺖﺤﺗ ﺍﺭ ﺎﻫ ﻪﺋﺍﺭﺍ
Comment[fi]=Tee vaikutuksen esitykset
Comment[fj]=iVakamacala vakauqeti
Comment[fo]=Impress framløgur
Comment[fr]=Impressionnez les présentations
Comment[fy]=Impress presintaasjes
Comment[ga]=Impress cur i láthair
Comment[gd]=Impress taisbeanaidhean
Comment[gl]=Impresiona as presentacións
Comment[gn]=Impresiona umi presentación
Comment[gu]=પ્રભાવિત પ્રસ્તુતિઓ
Comment[ha]=Buga gabatarwa
Comment[he]=תוגצמ םשור
Comment[hi]=प्रस्तुतियों को प्रभावित करें
Comment[hr]=Impress prezentacije
Comment[ht]=Enpresyone prezantasyon yo
Comment[hu]=Nyűgözz le prezentációkat
Comment[hy]=Տպավորել շնորհանդեսները
Comment[id]=Presentasi yang mengesankan
Comment[ig]=Mmasị ngosi
Comment[is]=Heilla kynningar
Comment[it]=Impressiona le presentazioni
Comment[iu]=ᖁᕕᐊᓇᖅᑐᖅ ᐅᓂᒃᑳᕐᓂᖅ
Comment[ja]=プレゼンテーションを印象付ける
Comment[jv]=Impress presentations
Comment[ka]=შთაბეჭდილება მოახდინე პრეზენტაციებზე
Comment[kk]=Презентацияларды әсерлендіріңіз
Comment[km]=បទបង្ហាញគួរឱ្យចាប់អារម្មណ៍
Comment[kn]=ಪ್ರಸ್ತುತಿಗಳನ್ನು ಆಕರ್ಷಿಸಿ
Comment[ko]=인상적인 프레젠테이션
Comment[ku]=Pêşniyarên bandor bike
Comment[ky]=Презентацияларды таасирлентүү
Comment[la]=Impressionem presentations
Comment[lb]=Impressioun Presentatiounen
Comment[lg]=Ennyanjula eziwuniikiriza
Comment[ln]=Ba présentations ya kokamwisa
Comment[lo]=ປະທັບໃຈການນໍາສະເຫນີ
Comment[lt]=Sužavėti pristatymai
Comment[lv]=Pārsteidz prezentācijas
Comment[mg]=Manaitra famelabelarana
Comment[mi]=Whakamīharo whakaaturanga
Comment[mk]=Импресионирајте презентации
Comment[ml]=അവതരണങ്ങൾ ആകർഷിക്കുക
Comment[mn]=Танилцуулгад сэтгэгдэл төрүүлэх
Comment[mr]=प्रभावी सादरीकरणे
Comment[ms]=Mengagumkan persembahan
Comment[mt]=Impressjona l-preżentazzjonijiet
Comment[my]=တင်ဆက်မှုများကို အထင်ကြီးစေသည်။
Comment[ne]=प्रस्तुतीकरणहरू प्रभावित गर्नुहोस्
Comment[nl]=Maak indruk op presentaties
Comment[no]=Imponer presentasjoner
Comment[ny]=Chidwi maulaliki
Comment[om]=Dhiyeessiin nama dinqisiisu
Comment[or]=ଉପସ୍ଥାପନାକୁ ପ୍ରଭାବିତ କରନ୍ତୁ |
Comment[pa]=ਪੇਸ਼ਕਾਰੀਆਂ ਨੂੰ ਪ੍ਰਭਾਵਿਤ ਕਰੋ
Comment[pl]=Imponujące prezentacje
Comment[ps]=ﺉړﮐ ﻩﺮﺛﺎﺘﻣ ﻪﻧﻮﻨﺸټﻧﺰﯾﺮﭘ
Comment[pt]=Impressione as apresentações
Comment[qu]=Presentacionkunata admirachiy
Comment[ro]=Impresionează prezentările
Comment[ru]=Впечатляющие презентации
Comment[rw]=Shimangira ibiganiro
Comment[sa]=प्रस्तुतिः प्रभावितं कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ﺮﺛﺎﺘﻣ ﻲﮐ ﺶڪﺸﻴﭘ
Comment[si]=ඉදිරිපත් කිරීම් විශ්මයට පත් කරන්න
Comment[sk]=Zapôsobte na prezentácie
Comment[sl]=Impress predstavitve
Comment[sm]=Faafiafiaga taulimaga
Comment[sn]=fadza mharidzo
Comment[so]=Soo bandhigida wanagsan
Comment[sq]=Bëj përshtypje prezantimet
Comment[st]=Khahlisa linehelano
Comment[su]=Impress presentasi
Comment[sv]=Imponera på presentationer
Comment[sw]=Boresha mawasilisho
Comment[ta]=விளக்கக்காட்சிகளை ஈர்க்கவும்
Comment[te]=ప్రదర్శనలను ఆకట్టుకోండి
Comment[tg]=Ба презентатсияҳо таассурот диҳед
Comment[th]=ประทับใจการนำเสนอ
Comment[ti]=ኣቀራርባታት ዝድነቑ
Comment[tk]=Tanyşdyryşlary täsir ediň
Comment[tl]=I-impress ang mga presentasyon
Comment[to]=Ngaahi fakamatala fakaʻofoʻofa
Comment[tr]=Etkileyici sunumlar
Comment[ts]=Swingheniso leswi hlamarisaka
Comment[tt]=Презентацияләр
Comment[tw]=Nsɛm a wɔka kyerɛ a ɛyɛ nwonwa
Comment[ty]=Te mau faaiteraa no nia i te mau hohoa
Comment[ug]=ﺵﯛﺭﯛﺪﻧەﻟﺮﯩﺳەﺗ ﻰﻨﺷﯗﺭﯘﺘﺷﯘﻧﻮﺗ
Comment[uk]=Презентації Impress
Comment[ur]=۔ﮟﯾﺮﮐ ﺮﺛﺎﺘﻣ ﻮﮐ ﺰﻨﺸﯿﭩﻧﺰﯾﺮﭘ
Comment[uz]=Taqdimotlarni hayratda qoldiring
Comment[vi]=thuyết trình ấn tượng
Comment[xh]=Zichukumise iintetho
Comment[yi]=זנאַשייטנאַזערפּ ןרינאָפּמי
Comment[yo]=Iwunilori awọn ifarahan
Comment[zh]=令人印象深刻的演示
Comment[zu]=Misa izethulo
Comment=Impress presentations
Exec=simpress
Terminal=false
Type=Application
Categories=Presentation
GenericName=Impress
