[Desktop Entry]
Encoding=UTF-8
Name[fr]=Présentations : Libreoffice Impress
Name[de]=Libreoffice Impress Präsentationen
Name=Libreoffice Impress presentations
Icon=libreoffice-impress.png
Comment[de]=Impressum Präsentationen
Comment=Impress presentations
Exec=simpress
Terminal=false
Type=Application
Categories=Presentation
GenericName=Impress
