[Desktop Entry]
Version=1.0
Name[fr]=Dessins 2D/3D : SolveSpace
Name=SolveSpace parametric 3D CAD
Comment=A parametric 2d/3d CAD
Exec=solvespace
MimeType=application/x-solvespace
Icon=solvespace.png
Type=Application
Categories=X-Graphic-draw
Keywords=parametric;cad;2d;3d;
