[Desktop Entry]
Encoding=UTF-8
Name[de]=Sichere Remote-Anmeldung mit ssh-gui
Name[fr]=Connexion à distance sécurisée : Ssh-gui
Name[es]=Ssh-gui: inicio de sesión remoto seguro 
Name[af]=Ssh-gui veilige afstandaanmelding
Name[am]=Ssh-gui ደህንነቱ የተጠበቀ የርቀት መግቢያ
Name[ar]=ssh-gui ﺪﻌﺑ ﻦﻋ ﻦﻣﻵ﻿ﺍ ﻝﻮﺧﺪﻟﺍ ﻞﻴﺠﺴﺗ
Name[as]=Ssh-gui সুৰক্ষিত দূৰৱৰ্তী প্ৰৱেশ
Name[ay]=Ssh-gui ukax seguro jaya chiqat mantañapawa
Name[az]=Ssh-gui təhlükəsiz uzaqdan giriş
Name[ba]=Sh-gui хәүефһеҙ дистанцион логин
Name[be]=Ssh-gui бяспечны аддалены ўваход
Name[bg]=Ssh-gui защитено дистанционно влизане
Name[bm]=Ssh-gui lakanani yɔrɔjan doncogo
Name[bn]=Ssh-gui নিরাপদ দূরবর্তী লগইন
Name[bo]=Ssh-guiབདེ་འཇགས་ཀྱི་རྒྱང་རིང་ཐོ་འགོད་
Name[bs]=Ssh-gui sigurna daljinska prijava
Name[ca]=Inici de sessió remot segur Ssh-gui
Name[co]=Connessione remota sicura Ssh-gui
Name[cs]=Ssh-gui bezpečné vzdálené přihlášení
Name[cy]=Mewngofnodi diogel o bell Ssh-gui
Name[da]=Ssh-gui sikker fjernlogin
Name[dv]=Ssh-gui ންގިލޮ ޓްމޯރި ޓީރިއުކިސެ
Name[ee]=Ssh-gui dedie adzɔge ʋĩ ƒe gege ɖe eme
Name[el]=Ssh-gui ασφαλής απομακρυσμένη σύνδεση
Name[eo]=Ssh-gui sekura fora ensaluto
Name[et]=Ssh-gui turvaline kaugsisselogimine
Name[eu]=Ssh-gui urruneko saio-hasiera segurua
Name[fa]=Ssh-gui ﻦﻣﺍ ﺭﻭﺩ ﻩﺍﺭ ﺯﺍ ﺩﻭﺭﻭ
Name[fi]=Ssh-gui suojattu etäkirjautuminen
Name[fj]=Ssh-gui na curu yawa
Name[fo]=Ssh-gui trygt remote login
Name[fy]=Ssh-gui feilige oanmelding op ôfstân
Name[ga]=Ssh-gui logáil isteach iargúlta slán
Name[gd]=Ssh-gui logadh a-steach tèarainte iomallach
Name[gl]=Inicio de sesión remoto seguro Ssh-gui
Name[gn]=Ssh-gui jeike mombyrygua seguro
Name[gu]=Ssh-gui સુરક્ષિત રિમોટ લોગિન
Name[ha]=Ssh-gui amintaccen shiga mai nisa
Name[he]=Ssh-gui לש תחטבואמ קוחרמ הסינכ
Name[hi]=Ssh-gui सुरक्षित रिमोट लॉगिन
Name[hr]=Ssh-gui sigurna daljinska prijava
Name[ht]=Ssh-gui sekirize koneksyon aleka
Name[hu]=Ssh-gui biztonságos távoli bejelentkezés
Name[hy]=Ssh-gui անվտանգ հեռավոր մուտք
Name[id]=Login jarak jauh aman ssh-gui
Name[ig]=Nbanye echekwabara Ssh-gui
Name[is]=Ssh-gui örugg fjarinnskráning
Name[it]=Accesso remoto sicuro Ssh-gui
Name[iu]=Ssh-gui ᐱᔭᐅᔾᔭᐃᖅᓯᒪᔪᑦ ᐅᖓᓯᒃᑐᒥᑦ ᐃᓯᕐᕖᑦ
Name[ja]=Ssh-gui の安全なリモート ログイン
Name[jv]=Ssh-gui login remot aman
Name[ka]=Ssh-gui უსაფრთხო დისტანციური შესვლა
Name[kk]=Ssh-gui қауіпсіз қашықтан кіру
Name[km]=Ssh-gui ធានាការចូលពីចម្ងាយ
Name[kn]=Ssh-gui ಸುರಕ್ಷಿತ ರಿಮೋಟ್ ಲಾಗಿನ್
Name[ko]=Ssh-gui 보안 원격 로그인
Name[ku]=Ssh-gui têketina ji dûr ve ewledar
Name[ky]=Ssh-gui коопсуз алыстан кирүү
Name[la]=Ssh-gui secure remotis login
Name[lb]=Ssh-gui sécher Remote Login
Name[lg]=Ssh-gui okuyingira okuva ewala okukuuma
Name[ln]=Ssh-gui ya securité ya login ya mosika
Name[lo]=Ssh-gui ການເຂົ້າສູ່ລະບົບທາງໄກທີ່ປອດໄພ
Name[lt]=Ssh-gui saugus nuotolinis prisijungimas
Name[lv]=Ssh-gui droša attālā pieteikšanās
Name[mg]=Ssh-gui azo antoka ny fidirana lavitra
Name[mi]=Ssh-gui takiuru mamao haumaru
Name[mk]=Ssh-gui безбедно далечинско најавување
Name[ml]=Ssh-gui സുരക്ഷിത വിദൂര ലോഗിൻ
Name[mn]=Ssh-gui аюулгүй алсаас нэвтрэх
Name[mr]=Ssh-gui सुरक्षित रिमोट लॉगिन
Name[ms]=Ssh-gui log masuk jauh selamat
Name[mt]=Ssh-gui login remot sikur
Name[my]=Ssh-gui လုံခြုံသော အဝေးထိန်း အကောင့်ဝင်ပါ။
Name[ne]=Ssh-gui सुरक्षित रिमोट लगइन
Name[nl]=Ssh-gui beveiligde login op afstand
Name[no]=Ssh-gui sikker ekstern pålogging
Name[ny]=Ssh-gui malo otetezedwa akutali
Name[om]=Ssh-gui seensa fagoo irraa eegumsa qabu
Name[or]=Ssh-gui ସୁରକ୍ଷିତ ରିମୋଟ ଲଗଇନ୍ |
Name[pa]=Ssh-gui ਸੁਰੱਖਿਅਤ ਰਿਮੋਟ ਲੌਗਇਨ
Name[pl]=Bezpieczne zdalne logowanie Ssh-gui
Name[ps]=Ssh-gui ﻞﺗﻮﻨﻧ ټﻮﻤﯾﺭ ﻱﺪﻧﻮﺧ
Name[pt]=Login remoto seguro Ssh-gui
Name[qu]=Ssh-gui waqaychasqa karu yaykuy
Name[ro]=Conectare la distanță securizată Ssh-gui
Name[ru]=Ssh-gui Безопасный удаленный вход
Name[rw]=Ssh-gui umutekano winjira kure
Name[sa]=Ssh-gui सुरक्षित दूरस्थ प्रवेश
Name[sd]=Ssh-gui ﻥﺍ ﮒﻻ﻿ ٽﻮﻤﻳﺭ ﻅﻮﻔﺤﻣ
Name[si]=Ssh-gui ආරක්ෂිත දුරස්ථ පිවිසුම
Name[sk]=Ssh-gui bezpečné vzdialené prihlásenie
Name[sl]=Ssh-gui varna oddaljena prijava
Name[sm]=Ssh-gui faamautu le saini mamao
Name[sn]=Ssh-gui chengetedza kure login
Name[so]=Ssh-gui aamin gal meel fog laga galo
Name[sq]=Ssh-gui hyrje e sigurt në distancë
Name[st]=Ssh-gui e sireletsehileng ea ho kena hole
Name[su]=Ssh-gui login jauh aman
Name[sv]=Ssh-gui säker fjärrinloggning
Name[sw]=Ssh-gui kuingia kwa mbali kwa usalama
Name[ta]=Ssh-gui பாதுகாப்பான தொலை உள்நுழைவு
Name[te]=Ssh-gui సురక్షిత రిమోట్ లాగిన్
Name[tg]=Ssh-gui вуруди дурдасти бехатар
Name[th]=Ssh-gui การเข้าสู่ระบบระยะไกลที่ปลอดภัย
Name[ti]=Ssh-gui ውሑስ ርሑቕ መእተዊ
Name[tk]=Ssh-gui uzakdan giriş
Name[tl]=Ssh-gui secure remote login
Name[to]=Ssh-gui malu ʻa e login mamaʻo
Name[tr]=Ssh-gui güvenli uzaktan oturum açma
Name[ts]=Ssh-gui ku nghena ka le kule loku sirhelelekeke
Name[tt]=Ssh-gui куркынычсыз дистанцион логин
Name[tw]=Ssh-gui ahobammɔ akyirikyiri login
Name[ty]=Ssh-gui secure remote login
Name[ug]=Ssh-gui ﺶﯨﺮﯩﻛ ﻦﯩﺘﻗﺍﺮﯩﻳ ﺭەﺗەﺨﯩﺑ
Name[uk]=Ssh-gui безпечний віддалений вхід
Name[ur]=Ssh-gui ﻥﺍ ﮒﻻ﻿ ﭦﻮﻤﯾﺭ ﻅﻮﻔﺤﻣ
Name[uz]=Ssh-gui xavfsiz masofaviy kirish
Name[vi]=Ssh-gui đăng nhập từ xa an toàn
Name[xh]=Ssh-gui ekhuselekileyo yokungena ekude
Name[yi]=Ssh-gui ןיגאָל טיַיוו רעכיז
Name[yo]=Ssh-gui ni aabo wiwọle latọna jijin
Name[zh]=ssh-gui安全远程登录
Name[zu]=Ukungena ngemvume okukude okuvikelekile kwe-Ssh-gui
Name=Ssh-gui secure remote login
Icon=mini-sh1.xpm
Comment[de]=Sichere Remote-Anmeldung mit ssh-gui
Comment[es]=Ssh-gui: inicio de sesión remoto seguro
Comment[af]=Ssh-gui veilige afstandaanmelding
Comment[am]=Ssh-gui ደህንነቱ የተጠበቀ የርቀት መግቢያ
Comment[ar]=ssh-gui ﺪﻌﺑ ﻦﻋ ﻦﻣﻵ﻿ﺍ ﻝﻮﺧﺪﻟﺍ ﻞﻴﺠﺴﺗ
Comment[as]=Ssh-gui সুৰক্ষিত দূৰৱৰ্তী প্ৰৱেশ
Comment[ay]=Ssh-gui ukax seguro jaya chiqat mantañapawa
Comment[az]=Ssh-gui təhlükəsiz uzaqdan giriş
Comment[ba]=Sh-gui хәүефһеҙ дистанцион логин
Comment[be]=Ssh-gui бяспечны аддалены ўваход
Comment[bg]=Ssh-gui защитено дистанционно влизане
Comment[bm]=Ssh-gui lakanani yɔrɔjan doncogo
Comment[bn]=Ssh-gui নিরাপদ দূরবর্তী লগইন
Comment[bo]=Ssh-guiབདེ་འཇགས་ཀྱི་རྒྱང་རིང་ཐོ་འགོད་
Comment[bs]=Ssh-gui sigurna daljinska prijava
Comment[ca]=Inici de sessió remot segur Ssh-gui
Comment[co]=Connessione remota sicura Ssh-gui
Comment[cs]=Ssh-gui bezpečné vzdálené přihlášení
Comment[cy]=Mewngofnodi diogel o bell Ssh-gui
Comment[da]=Ssh-gui sikker fjernlogin
Comment[dv]=Ssh-gui ންގިލޮ ޓްމޯރި ޓީރިއުކިސެ
Comment[ee]=Ssh-gui dedie adzɔge ʋĩ ƒe gege ɖe eme
Comment[el]=Ssh-gui ασφαλής απομακρυσμένη σύνδεση
Comment[eo]=Ssh-gui sekura fora ensaluto
Comment[et]=Ssh-gui turvaline kaugsisselogimine
Comment[eu]=Ssh-gui urruneko saio-hasiera segurua
Comment[fa]=Ssh-gui ﻦﻣﺍ ﺭﻭﺩ ﻩﺍﺭ ﺯﺍ ﺩﻭﺭﻭ
Comment[fi]=Ssh-gui suojattu etäkirjautuminen
Comment[fj]=Ssh-gui na curu yawa
Comment[fo]=Ssh-gui trygt remote login
Comment[fr]=Connexion distante sécurisée Ssh-gui
Comment[fy]=Ssh-gui feilige oanmelding op ôfstân
Comment[ga]=Ssh-gui logáil isteach iargúlta slán
Comment[gd]=Ssh-gui logadh a-steach tèarainte iomallach
Comment[gl]=Inicio de sesión remoto seguro Ssh-gui
Comment[gn]=Ssh-gui jeike mombyrygua seguro
Comment[gu]=Ssh-gui સુરક્ષિત રિમોટ લોગિન
Comment[ha]=Ssh-gui amintaccen shiga mai nisa
Comment[he]=Ssh-gui לש תחטבואמ קוחרמ הסינכ
Comment[hi]=Ssh-gui सुरक्षित रिमोट लॉगिन
Comment[hr]=Ssh-gui sigurna daljinska prijava
Comment[ht]=Ssh-gui sekirize koneksyon aleka
Comment[hu]=Ssh-gui biztonságos távoli bejelentkezés
Comment[hy]=Ssh-gui անվտանգ հեռավոր մուտք
Comment[id]=Login jarak jauh aman ssh-gui
Comment[ig]=Nbanye echekwabara Ssh-gui
Comment[is]=Ssh-gui örugg fjarinnskráning
Comment[it]=Accesso remoto sicuro Ssh-gui
Comment[iu]=Ssh-gui ᐱᔭᐅᔾᔭᐃᖅᓯᒪᔪᑦ ᐅᖓᓯᒃᑐᒥᑦ ᐃᓯᕐᕖᑦ
Comment[ja]=Ssh-gui の安全なリモート ログイン
Comment[jv]=Ssh-gui login remot aman
Comment[ka]=Ssh-gui უსაფრთხო დისტანციური შესვლა
Comment[kk]=Ssh-gui қауіпсіз қашықтан кіру
Comment[km]=Ssh-gui ធានាការចូលពីចម្ងាយ
Comment[kn]=Ssh-gui ಸುರಕ್ಷಿತ ರಿಮೋಟ್ ಲಾಗಿನ್
Comment[ko]=Ssh-gui 보안 원격 로그인
Comment[ku]=Ssh-gui têketina ji dûr ve ewledar
Comment[ky]=Ssh-gui коопсуз алыстан кирүү
Comment[la]=Ssh-gui secure remotis login
Comment[lb]=Ssh-gui sécher Remote Login
Comment[lg]=Ssh-gui okuyingira okuva ewala okukuuma
Comment[ln]=Ssh-gui ya securité ya login ya mosika
Comment[lo]=Ssh-gui ການເຂົ້າສູ່ລະບົບທາງໄກທີ່ປອດໄພ
Comment[lt]=Ssh-gui saugus nuotolinis prisijungimas
Comment[lv]=Ssh-gui droša attālā pieteikšanās
Comment[mg]=Ssh-gui azo antoka ny fidirana lavitra
Comment[mi]=Ssh-gui takiuru mamao haumaru
Comment[mk]=Ssh-gui безбедно далечинско најавување
Comment[ml]=Ssh-gui സുരക്ഷിത വിദൂര ലോഗിൻ
Comment[mn]=Ssh-gui аюулгүй алсаас нэвтрэх
Comment[mr]=Ssh-gui सुरक्षित रिमोट लॉगिन
Comment[ms]=Ssh-gui log masuk jauh selamat
Comment[mt]=Ssh-gui login remot sikur
Comment[my]=Ssh-gui လုံခြုံသော အဝေးထိန်း အကောင့်ဝင်ပါ။
Comment[ne]=Ssh-gui सुरक्षित रिमोट लगइन
Comment[nl]=Ssh-gui beveiligde login op afstand
Comment[no]=Ssh-gui sikker ekstern pålogging
Comment[ny]=Ssh-gui malo otetezedwa akutali
Comment[om]=Ssh-gui seensa fagoo irraa eegumsa qabu
Comment[or]=Ssh-gui ସୁରକ୍ଷିତ ରିମୋଟ ଲଗଇନ୍ |
Comment[pa]=Ssh-gui ਸੁਰੱਖਿਅਤ ਰਿਮੋਟ ਲੌਗਇਨ
Comment[pl]=Bezpieczne zdalne logowanie Ssh-gui
Comment[ps]=Ssh-gui ﻞﺗﻮﻨﻧ ټﻮﻤﯾﺭ ﻱﺪﻧﻮﺧ
Comment[pt]=Login remoto seguro Ssh-gui
Comment[qu]=Ssh-gui waqaychasqa karu yaykuy
Comment[ro]=Conectare la distanță securizată Ssh-gui
Comment[ru]=Безопасный удаленный вход через Ssh-gui
Comment[rw]=Ssh-gui umutekano winjira kure
Comment[sa]=Ssh-gui सुरक्षित दूरस्थ प्रवेश
Comment[sd]=Ssh-gui ﻥﺍ ﮒﻻ﻿ ٽﻮﻤﻳﺭ ﻅﻮﻔﺤﻣ
Comment[si]=Ssh-gui ආරක්ෂිත දුරස්ථ පිවිසුම
Comment[sk]=Ssh-gui bezpečné vzdialené prihlásenie
Comment[sl]=Ssh-gui varna oddaljena prijava
Comment[sm]=Ssh-gui faamautu le saini mamao
Comment[sn]=Ssh-gui chengetedza kure login
Comment[so]=Ssh-gui aamin gal meel fog laga galo
Comment[sq]=Ssh-gui hyrje e sigurt në distancë
Comment[st]=Ssh-gui e sireletsehileng ea ho kena hole
Comment[su]=Ssh-gui login jauh aman
Comment[sv]=Ssh-gui säker fjärrinloggning
Comment[sw]=Ssh-gui kuingia kwa mbali kwa usalama
Comment[ta]=Ssh-gui பாதுகாப்பான தொலை உள்நுழைவு
Comment[te]=Ssh-gui సురక్షిత రిమోట్ లాగిన్
Comment[tg]=Ssh-gui вуруди дурдасти бехатар
Comment[th]=Ssh-gui การเข้าสู่ระบบระยะไกลที่ปลอดภัย
Comment[ti]=Ssh-gui ውሑስ ርሑቕ መእተዊ
Comment[tk]=Ssh-gui uzakdan giriş
Comment[tl]=Ssh-gui secure remote login
Comment[to]=Ssh-gui malu ʻa e login mamaʻo
Comment[tr]=Ssh-gui güvenli uzaktan oturum açma
Comment[ts]=Ssh-gui ku nghena ka le kule loku sirhelelekeke
Comment[tt]=Ssh-gui куркынычсыз дистанцион логин
Comment[tw]=Ssh-gui ahobammɔ akyirikyiri login
Comment[ty]=Ssh-gui secure remote login
Comment[ug]=Ssh-gui ﺶﯨﺮﯩﻛ ﻦﯩﺘﻗﺍﺮﯩﻳ ﺭەﺗەﺨﯩﺑ
Comment[uk]=Ssh-gui безпечний віддалений вхід
Comment[ur]=Ssh-gui ﻥﺍ ﮒﻻ﻿ ﭦﻮﻤﯾﺭ ﻅﻮﻔﺤﻣ
Comment[uz]=Ssh-gui xavfsiz masofaviy kirish
Comment[vi]=Ssh-gui đăng nhập từ xa an toàn
Comment[xh]=Ssh-gui ekhuselekileyo yokungena ekude
Comment[yi]=Ssh-gui ןיגאָל טיַיוו רעכיז
Comment[yo]=Ssh-gui ni aabo wiwọle latọna jijin
Comment[zh]=ssh-gui安全远程登录
Comment[zu]=Ukungena ngemvume okukude okuvikelekile kwe-Ssh-gui
Comment=Ssh-gui secure remote login
Exec=ssh-gui
Terminal=false
Type=Application
Categories=X-Internet-login
GenericName=Ssh-gui
