[Desktop Entry]
Encoding=UTF-8
Name[fr]=Connexion à distance sécurisée : Ssh-gui
Name[de]=Sichere Remote-Anmeldung mit ssh-gui
Name=Ssh-gui secure remote login
Icon=mini-sh1.xpm
Comment[de]=Sichere Remote-Anmeldung mit ssh-gui
Comment=Ssh-gui secure remote login
Exec=ssh-gui
Terminal=false
Type=Application
Categories=X-Internet-login
GenericName=Ssh-gui
