[Desktop Entry]
Encoding=UTF-8
Name[fr]=Traitement de texte : Libreoffice Writer
Name[de]=Libreoffice Writer Textverarbeitung
Name=Libreoffice Writer word processor
Icon=libreoffice-writer.png
Comment[de]=Textverarbeitung für Schriftsteller
Comment=Writer word processor
Exec=swriter
Terminal=false
Type=Application
Categories=WordProcessor
GenericName=Writer
