[Desktop Entry]
Encoding=UTF-8
Name[de]=Libreoffice Writer Textverarbeitung
Name[fr]=Traitement de texte : Libreoffice Writer
Name[es]=Libreoffice Writer: procesador de textos
Name=Libreoffice Writer word processor
Icon=libreoffice-writer.png
Comment[de]=Textverarbeitung für Schriftsteller
Comment[es]=Libreoffice Writer: procesador de textos
Comment=Writer word processor
Exec=swriter
Terminal=false
Type=Application
Categories=WordProcessor
GenericName=Writer
