[Desktop Entry]
Encoding=UTF-8
Name[fr]=Capture d'écran : Take a Shot!
Name=Take a Shot!
Icon=/usr/local/lib/X11/mini-icons/mini-camera.xpm
Comment=Screenshot utility
Exec=tas
Terminal=false
Type=Application
Categories=X-GraphicUtility
