[Desktop Entry]
Encoding=UTF-8
Name[bg]=ТВ панел
Name[da]=TV panel
Name[de]=TV-Panel
Name[el]=Πάνελ τηλεόρασης
Name[es]=panel de televisión
Name[fi]=TV-paneeli
Name[fr]=Panneau TV
Name[hu]=TV panel
Name[is]=Sjónvarpsborð
Name[it]=Pannello televisivo
Name[nl]=Tv-paneel
Name[pl]=Panel telewizyjny
Name[pt]=painel de tv
Name[ru]=ТВ-панель
Name[sv]=TV-panel
Name=TV Panel
Icon=tv.png
Comment[de]=nichts
Comment[fr]=vide
Comment=none
Exec=/root/noob/noob128_front_end
Terminal=false
Type=Application
Categories=X-Multimedia
GenericName=tvpanel
