[Desktop Entry]
Encoding=UTF-8
Name[bg]=Изтеглете най-новия Ungoogled Chromium
Name[cs]=Stáhněte si nejnovější Ungoogled Chromium
Name[da]=Download den seneste Ungoogled Chromium
Name[nl]=Download de nieuwste Ungoogled Chromium
Name[fi]=Lataa uusin Ungoogled Chromium
Name[fr]=Télécharger le dernier Ungoogled Chromium
Name[de]=Laden Sie die neueste Version von Ungoogled Chromium
Name[el]=Κατεβάστε το τελευταίο Ungoogled Chromium
Name[hu]=Töltse le a legújabb Ungoogled Chromium
Name[is]=Sækja nýjasta Ungoogled Chromium
Name[it]=Scarica l'ultimo Ungoogled Chromium
Name[lt]=Atsisiųskite naujausią „Ungoogled Chromium“
Name[lv]=Lejupielādējiet jaunāko Ungoogled Chromium
Name[mk]=Преземете го најновиот Ungoogled Chromium
Name[no]=Last ned siste Ungoogled Chromium
Name[pl]=Pobierz najnowszego Ungoogled Chromium
Name[pt]=Baixar Ungoogled Chromium mais recente
Name[ro]=Descărcați cel mai recent Ungoogled Chromium
Name[ru]=Скачать последнюю версию Ungoogled Chromium
Name[es]=Descarga la última versión de Ungoogled Chromium
Name[sl]=Prenesite najnovejši Ungoogled Chromium
Name[sr]=Преузмите најновији Цхромиум Ungoogled
Name[sv]=Ladda ner senaste Ungoogled Chromium
Name[tr]=Ungoogled Chromiumu son sürümü indirin
Name[uk]=Завантажте останню версію Ungoogled Chromium
Name=Download latest Ungoogled Chromium
Icon=uc-dl-latest.png
Comment=Download latest Ungoogled Chromium browser
Exec=uc-dl-latest
Terminal=false
Type=Application
Categories=X-Internet
GenericName=UCDL
