[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestionnaire de téléchargement : Uget
Name=Uget download manager
Comment=Uget download manager
Exec=uget-gtk
Icon=uget-gtk.png
Terminal=false
Type=Application
Categories=FileTransfer
