[Desktop Entry]
Encoding=UTF-8
Name[bg]=Уеб браузър Vivaldi
Name[hr]=Vivaldi web preglednik
Name[cs]=Webový prohlížeč Vivaldi
Name[da]=Vivaldi webbrowser
Name[nl]=Vivaldi-webbrowser
Name[et]=Vivaldi veebibrauser
Name[fi]=Vivaldi-selain
Name[fr]=Navigateur Web Vivaldi
Name[de]=Vivaldi-Webbrowser
Name[el]=Το πρόγραμμα περιήγησης ιστού Vivaldi
Name[hu]=Vivaldi webböngésző
Name[is]=Vivaldi vefvafri
Name[it]=Navigatore Vivaldi
Name[pl]=Przeglądarka internetowa Vivaldi
Name[pt]=navegador Vivaldi
Name[ru]=Веб-браузер Vivaldi
Name[es]=Vivaldi: Navegador web
Name=Vivaldi web browser
Icon=vivaldi.png
Comment=Vivaldi web browser
Exec=vivaldi
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=Vivaldi
NoDisplay=true
