[Desktop Entry]
Encoding=UTF-8
Name[bg]=Изтеглете най-новия Vivaldi
Name[cs]=Stáhněte si nejnovější Vivaldi
Name[da]=Download den seneste Vivaldi
Name[nl]=Download de nieuwste Vivaldi
Name[fi]=Lataa uusin Vivaldi
Name[fr]=Télécharger le dernier Vivaldi
Name[de]=Laden Sie die neueste Version von Vivaldi
Name[el]=Κατεβάστε το τελευταίο Vivaldi
Name[hu]=Töltse le a legújabb Vivaldi
Name[it]=Scarica l'ultimo Vivaldi
Name[pl]=Pobierz najnowszego Vivaldi
Name[pt]=Baixar Vivaldi mais recente
Name[ru]=Скачать последнюю версию Vivaldi
Name[es]=Descarga la última versión de Vivaldi
Name[sv]=Ladda ner senaste Vivaldi
Name=Download latest Vivaldi
Icon=vv-dl-latest.png
Comment=Download latest Vivaldi
Exec=vv-dl-latest
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=VVDL
