[Desktop Entry]
Encoding=UTF-8
Name[fr]=Ajuster la fréquence du CPU : Wcpufreq
Name[de]=Wcpufreq CPU-Frequenz-Skalierungstool
Name=Wcpufreq CPU frequency scaling tool
Icon=/usr/share/icons/devices/cpu.png
Comment[de]=Tool zur Skalierung der CPU-Frequenz
Comment=CPU Frequency Scaling Tool
Exec=wcpufreq
Terminal=false
NoDisplay=true
Type=Application
Categories=System
GenericName=Wcpufreq
