[Desktop Entry]
Encoding=UTF-8
Name[de]=Wcpufreq CPU-Frequenz-Skalierungstool
Name[fr]=Ajuster la fréquence du CPU : Wcpufreq
Name[es]=Wcpufreq: ajustar la frecuencia de la CPU
Name=Wcpufreq CPU frequency scaling tool
Icon=/usr/share/icons/devices/cpu.png
Comment[de]=Tool zur Skalierung der CPU-Frequenz
Comment[es]=Wcpufreq: ajustar la frecuencia de la CPU
Comment=CPU Frequency Scaling Tool
Exec=wcpufreq
Terminal=false
Type=Application
Categories=System
GenericName=Wcpufreq
