[Desktop Entry]
Encoding=UTF-8
Name[fr]=Calculette scientifique : Xcalc
Name[de]=Xcalc wissenschaftlicher Taschenrechner
Name[es]=Xcalc: calculadora científica
Name[ru]=научный калькулятор Xcalc
Name=Xcalc scientific calculator
Icon=mini-calc.xpm
Comment[fr]=Calculette scientifique : Xcalc
Comment[de]=Xcalc wissenschaftlicher Taschenrechner
Comment[es]=Calculadora científica Xcalc
Comment[ru]=научный калькулятор Xcalc
Comment=Xcalc scientific calculator
Exec=xcalc
Terminal=false
Type=Application
Categories=Calculator
GenericName=Xcalc scientific calculator
