[Desktop Entry]
Encoding=UTF-8
Name[fr]=Calculette scientifique : Xcalc
Name[de]=Xcalc wissenschaftlicher Taschenrechner
Name[es]=Xcalc: calculadora científica
Name[ru]=Xcalc научный калькулятор
Name[tr]=Xcalc bilimsel hesap makinesi
Name[af]=Xcalc wetenskaplike sakrekenaar
Name[am]=Xcalc ሳይንሳዊ ካልኩሌተር
Name[ar]=Xcalc ﺔﻴﻤﻠﻋ ﺔﺒﺳﺎﺣ ﺔﻟﺁ
Name[as]=Xcalc বৈজ্ঞানিক কেলকুলেটৰ
Name[ay]=Xcalc ukaxa calculadora científica ukampi luratawa
Name[az]=Xcalc elmi kalkulyator
Name[ba]=Xcalc фәнни калькуляторы
Name[be]=Навуковы калькулятар Xcalc
Name[bg]=Научен калкулатор Xcalc
Name[bm]=Xcalc dɔnniya jatebɔlan
Name[bn]=Xcalc বৈজ্ঞানিক ক্যালকুলেটর
Name[bo]=Xcalc ཚན་རིག་རྩིས་རྒྱག་འཕྲུལ་ཆས།
Name[bs]=Naučni kalkulator Xcalc
Name[ca]=Calculadora científica Xcalc
Name[co]=Calculatrice scientifica Xcalc
Name[cs]=Xcalc vědecká kalkulačka
Name[cy]=Cyfrifiannell wyddonol Xcalc
Name[da]=Xcalc videnskabelig lommeregner
Name[dv]=ރޓަލޭއުކިލްކެ ކްފިޓިންއިސަ ކްލްކެސްކްއެ
Name[ee]=Xcalc dzɔdzɔmeŋutinunya ƒe akɔntabubumɔ̃
Name[el]=Επιστημονική αριθμομηχανή Xcalc
Name[eo]=Xcalc scienca kalkulilo
Name[et]=Xcalc teaduslik kalkulaator
Name[eu]=Xcalc kalkulagailu zientifikoa
Name[fa]=Xcalc ﯽﻤﻠﻋ ﺏﺎﺴﺣ ﻦﯿﺷﺎﻣ
Name[fi]=Xcalc tieteellinen laskin
Name[fj]=Xcalc calculator vakasaenisi
Name[fo]=Xcalc vísindaliga roknimaskinu
Name[fy]=Xcalc wittenskiplike rekkenmasine
Name[ga]=Xcalc áireamhán eolaíoch
Name[gd]=Àireamhair saidheansail Xcalc
Name[gl]=Calculadora científica Xcalc
Name[gn]=Xcalc calculadora científica rehegua
Name[gu]=Xcalc વૈજ્ઞાનિક કેલ્ક્યુલેટર
Name[ha]=Kalkuleta kimiyyar Xcalc
Name[he]=Xcalc יעדמ ןובשחמ
Name[hi]=Xcalc वैज्ञानिक कैलकुलेटर
Name[hr]=Znanstveni kalkulator Xcalc
Name[ht]=Xcalc kalkilatris syantifik
Name[hu]=Xcalc tudományos számológép
Name[hy]=Xcalc գիտական հաշվիչ
Name[id]=Kalkulator ilmiah Xcalc
Name[ig]=Ihe mgbako sayensị Xcalc
Name[is]=Xcalc vísindareiknivél
Name[it]=Calcolatrice scientifica xcalc
Name[iu]=Xcalc ᖃᐅᔨᓴᖅᑎᓄᑦ ᓈᓴᐅᓯᕆᔾᔪᑎ
Name[ja]=Xcalc関数電卓
Name[jv]=Kalkulator ilmiah Xcalc
Name[ka]=Xcalc სამეცნიერო კალკულატორი
Name[kk]=Xcalc ғылыми калькуляторы
Name[km]=ការគណនាវិទ្យាសាស្ត្រ Xcalc
Name[kn]=Xcalc ವೈಜ್ಞಾನಿಕ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Name[ko]=Xcalc 공학용 계산기
Name[ku]=Hesabgira zanistî ya Xcalc
Name[ky]=Xcalc илимий эсептегич
Name[la]=Xcalc calculator scientificus
Name[lb]=Xcalc wëssenschaftleche Rechner
Name[lg]=Xcalc ekibalirizi kya ssaayansi
Name[ln]=Xcalc calculateur ya siansi
Name[lo]=ເຄື່ອງຄິດເລກວິທະຍາສາດ Xcalc
Name[lt]=Xcalc mokslinė skaičiuoklė
Name[lv]=Xcalc zinātniskais kalkulators
Name[mg]=Xcalc kajy siantifika
Name[mi]=Xcalc tātai pūtaiao
Name[mk]=Научен калкулатор Xcalc
Name[ml]=Xcalc സയന്റിഫിക് കാൽക്കുലേറ്റർ
Name[mn]=Xcalc шинжлэх ухааны тооцоолуур
Name[mr]=Xcalc वैज्ञानिक कॅल्क्युलेटर
Name[ms]=Kalkulator saintifik Xcalc
Name[mt]=Kalkulatur xjentifiku Xcalc
Name[my]=Xcalc သိပ္ပံနည်းကျဂဏန်းတွက်စက်
Name[ne]=Xcalc वैज्ञानिक क्यालकुलेटर
Name[nl]=Xcalc wetenschappelijke rekenmachine
Name[no]=Xcalc vitenskapelig kalkulator
Name[ny]=Chowerengera cha sayansi cha Xcalc
Name[om]=Xcalc shallaggii saayinsii
Name[or]=Xcalc ବ scientific ଜ୍ଞାନିକ କାଲକୁଲେଟର |
Name[pa]=Xcalc ਵਿਗਿਆਨਕ ਕੈਲਕੁਲੇਟਰ
Name[pl]=Kalkulator naukowy Xcalc
Name[ps]=ﺮټﯿﻟﻮﮑﻠﯿﮐ ﻲﺴﻨﯾﺎﺳ Xcalc ﺩ
Name[pt]=Calculadora científica Xcalc
Name[qu]=Xcalc cientifico yupay
Name[ro]=Calculator științific Xcalc
Name[rw]=Ibara rya Xcalc
Name[sa]=Xcalc वैज्ञानिक गणकयंत्र
Name[sd]=Xcalc ﺏﺎﺘڪ ﺏﺎﺴﺣ ﻲﺴﻨﺋﺎﺳ
Name[si]=Xcalc විද්u200dයාත්මක කැල්කියුලේටරය
Name[sk]=Vedecká kalkulačka Xcalc
Name[sl]=Znanstveni kalkulator Xcalc
Name[sm]=Xcalc calculator faasaienisi
Name[sn]=Xcalc sainzi Calculator
Name[so]=Xisaabiyaha sayniska ee Xcalc
Name[sq]=Llogaritësi shkencor Xcalc
Name[st]=Sebali sa mahlale sa Xcalc
Name[su]=Xcalc kalkulator ilmiah
Name[sv]=Xcalc vetenskaplig kalkylator
Name[sw]=Kikokotoo cha kisayansi cha Xcalc
Name[ta]=Xcalc அறிவியல் கால்குலேட்டர்
Name[te]=Xcalc సైంటిఫిక్ కాలిక్యులేటర్
Name[tg]=Ҳисобкунаки илмии Xcalc
Name[th]=Xcalc เครื่องคิดเลขวิทยาศาสตร์
Name[ti]=Xcalc ሳይንሳዊ ካልኩሌተር
Name[tk]=Xcalc ylmy kalkulýator
Name[tl]=Xcalc siyentipikong calculator
Name[to]=Xcalc fakasaienisi anga kalakuleita
Name[ts]=Xcalc xikalo xa sayense
Name[tt]=Xcalc фәнни калькулятор
Name[tw]=Xcalc nyansahu mu akontaabu afiri
Name[ty]=Xcalc aivanaa
Name[ug]=Xcalc ﭺﯘﻐﯩﻠﺑﺎﺴﯧﮬ ﻲﯩﻤﻠﯩﺋ
Name[uk]=Науковий калькулятор Xcalc
Name[ur]=Xcalc ﺮﭩﯿﻟﻮﮑﻠﯿﮐ ﯽﺴﻨﺋﺎﺳ
Name[uz]=Xcalc ilmiy kalkulyator
Name[vi]=Máy tính khoa học Xcalc
Name[xh]=Isibali senzululwazi seXcalc
Name[yi]=Xcalc ראָטאַלוקלאַק עכעלטפאשנסיוו
Name[yo]=Xcalc ijinle sayensi isiro
Name[zh]=Xcalc科学计算器
Name[zu]=I-Xcalc yokubala yesayensi
Name=Xcalc scientific calculator
Icon=mini-calc.xpm
Comment[fr]=Calculette scientifique : Xcalc
Comment[de]=Xcalc wissenschaftlicher Taschenrechner
Comment[es]=Calculadora científica Xcalc
Comment[ru]=научный калькулятор Xcalc
Comment[tr]=Xcalc bilimsel hesap makinesi
Comment[af]=Xcalc wetenskaplike sakrekenaar
Comment[am]=Xcalc ሳይንሳዊ ካልኩሌተር
Comment[ar]=Xcalc ﺔﻴﻤﻠﻋ ﺔﺒﺳﺎﺣ ﺔﻟﺁ
Comment[as]=Xcalc বৈজ্ঞানিক কেলকুলেটৰ
Comment[ay]=Xcalc ukaxa calculadora científica ukampi luratawa
Comment[az]=Xcalc elmi kalkulyator
Comment[ba]=Xcalc фәнни калькуляторы
Comment[be]=Навуковы калькулятар Xcalc
Comment[bg]=Научен калкулатор Xcalc
Comment[bm]=Xcalc dɔnniya jatebɔlan
Comment[bn]=Xcalc বৈজ্ঞানিক ক্যালকুলেটর
Comment[bo]=Xcalc ཚན་རིག་རྩིས་རྒྱག་འཕྲུལ་ཆས།
Comment[bs]=Naučni kalkulator Xcalc
Comment[ca]=Calculadora científica Xcalc
Comment[co]=Calculatrice scientifica Xcalc
Comment[cs]=Xcalc vědecká kalkulačka
Comment[cy]=Cyfrifiannell wyddonol Xcalc
Comment[da]=Xcalc videnskabelig lommeregner
Comment[dv]=ރޓަލޭއުކިލްކެ ކްފިޓިންއިސަ ކްލްކެސްކްއެ
Comment[ee]=Xcalc dzɔdzɔmeŋutinunya ƒe akɔntabubumɔ̃
Comment[el]=Επιστημονική αριθμομηχανή Xcalc
Comment[eo]=Xcalc scienca kalkulilo
Comment[et]=Xcalc teaduslik kalkulaator
Comment[eu]=Xcalc kalkulagailu zientifikoa
Comment[fa]=Xcalc ﯽﻤﻠﻋ ﺏﺎﺴﺣ ﻦﯿﺷﺎﻣ
Comment[fi]=Xcalc tieteellinen laskin
Comment[fj]=Xcalc calculator vakasaenisi
Comment[fo]=Xcalc vísindaliga roknimaskinu
Comment[fy]=Xcalc wittenskiplike rekkenmasine
Comment[ga]=Xcalc áireamhán eolaíoch
Comment[gd]=Àireamhair saidheansail Xcalc
Comment[gl]=Calculadora científica Xcalc
Comment[gn]=Xcalc calculadora científica rehegua
Comment[gu]=Xcalc વૈજ્ઞાનિક કેલ્ક્યુલેટર
Comment[ha]=Kalkuleta kimiyyar Xcalc
Comment[he]=Xcalc יעדמ ןובשחמ
Comment[hi]=Xcalc वैज्ञानिक कैलकुलेटर
Comment[hr]=Znanstveni kalkulator Xcalc
Comment[ht]=Xcalc kalkilatris syantifik
Comment[hu]=Xcalc tudományos számológép
Comment[hy]=Xcalc գիտական հաշվիչ
Comment[id]=Kalkulator ilmiah Xcalc
Comment[ig]=Ihe mgbako sayensị Xcalc
Comment[is]=Xcalc vísindareiknivél
Comment[it]=Calcolatrice scientifica xcalc
Comment[iu]=Xcalc ᖃᐅᔨᓴᖅᑎᓄᑦ ᓈᓴᐅᓯᕆᔾᔪᑎ
Comment[ja]=Xcalc関数電卓
Comment[jv]=Kalkulator ilmiah Xcalc
Comment[ka]=Xcalc სამეცნიერო კალკულატორი
Comment[kk]=Xcalc ғылыми калькуляторы
Comment[km]=ការគណនាវិទ្យាសាស្ត្រ Xcalc
Comment[kn]=Xcalc ವೈಜ್ಞಾನಿಕ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Comment[ko]=Xcalc 공학용 계산기
Comment[ku]=Hesabgira zanistî ya Xcalc
Comment[ky]=Xcalc илимий эсептегич
Comment[la]=Xcalc calculator scientificus
Comment[lb]=Xcalc wëssenschaftleche Rechner
Comment[lg]=Xcalc ekibalirizi kya ssaayansi
Comment[ln]=Xcalc calculateur ya siansi
Comment[lo]=ເຄື່ອງຄິດເລກວິທະຍາສາດ Xcalc
Comment[lt]=Xcalc mokslinė skaičiuoklė
Comment[lv]=Xcalc zinātniskais kalkulators
Comment[mg]=Xcalc kajy siantifika
Comment[mi]=Xcalc tātaitai pūtaiao
Comment[mk]=Научен калкулатор Xcalc
Comment[ml]=Xcalc സയന്റിഫിക് കാൽക്കുലേറ്റർ
Comment[mn]=Xcalc шинжлэх ухааны тооцоолуур
Comment[mr]=Xcalc वैज्ञानिक कॅल्क्युलेटर
Comment[ms]=Kalkulator saintifik Xcalc
Comment[mt]=Kalkulatur xjentifiku Xcalc
Comment[my]=Xcalc သိပ္ပံနည်းကျဂဏန်းတွက်စက်
Comment[ne]=Xcalc वैज्ञानिक क्यालकुलेटर
Comment[nl]=Xcalc wetenschappelijke rekenmachine
Comment[no]=Xcalc vitenskapelig kalkulator
Comment[ny]=Chowerengera cha sayansi cha Xcalc
Comment[om]=Xcalc shallaggii saayinsii
Comment[or]=Xcalc ବ scientific ଜ୍ଞାନିକ କାଲକୁଲେଟର |
Comment[pa]=Xcalc ਵਿਗਿਆਨਕ ਕੈਲਕੁਲੇਟਰ
Comment[pl]=Kalkulator naukowy Xcalc
Comment[ps]=ﺮټﯿﻟﻮﮑﻠﯿﮐ ﻲﺴﻨﯾﺎﺳ Xcalc ﺩ
Comment[pt]=Calculadora científica Xcalc
Comment[qu]=Xcalc cientifico yupay
Comment[ro]=Calculator științific Xcalc
Comment[rw]=Ibara rya Xcalc
Comment[sa]=Xcalc वैज्ञानिक गणकयंत्र
Comment[sd]=Xcalc ﺏﺎﺘڪ ﺏﺎﺴﺣ ﻲﺴﻨﺋﺎﺳ
Comment[si]=Xcalc විද්u200dයාත්මක කැල්කියුලේටරය
Comment[sk]=Vedecká kalkulačka Xcalc
Comment[sl]=Znanstveni kalkulator Xcalc
Comment[sm]=Xcalc calculator faasaienisi
Comment[sn]=Xcalc sainzi Calculator
Comment[so]=Xisaabiyaha sayniska ee Xcalc
Comment[sq]=Llogaritësi shkencor Xcalc
Comment[st]=Sebali sa mahlale sa Xcalc
Comment[su]=Xcalc kalkulator ilmiah
Comment[sv]=Xcalc vetenskaplig kalkylator
Comment[sw]=Kikokotoo cha kisayansi cha Xcalc
Comment[ta]=Xcalc அறிவியல் கால்குலேட்டர்
Comment[te]=Xcalc సైంటిఫిక్ కాలిక్యులేటర్
Comment[tg]=Ҳисобкунаки илмии Xcalc
Comment[th]=Xcalc เครื่องคิดเลขวิทยาศาสตร์
Comment[ti]=Xcalc ሳይንሳዊ ካልኩሌተር
Comment[tk]=Xcalc ylmy kalkulýator
Comment[tl]=Xcalc siyentipikong calculator
Comment[to]=Xcalc fakasaienisi anga kalakuleita
Comment[ts]=Xcalc xikalo xa sayense
Comment[tt]=Xcalc фәнни калькулятор
Comment[tw]=Xcalc nyansahu mu akontaabu afiri
Comment[ty]=Xcalc aivanaa
Comment[ug]=Xcalc ﭺﯘﻐﯩﻠﺑﺎﺴﯧﮬ ﻲﯩﻤﻠﯩﺋ
Comment[uk]=Науковий калькулятор Xcalc
Comment[ur]=Xcalc ﺮﭩﯿﻟﻮﮑﻠﯿﮐ ﯽﺴﻨﺋﺎﺳ
Comment[uz]=Xcalc ilmiy kalkulyator
Comment[vi]=Máy tính khoa học Xcalc
Comment[xh]=Isibali senzululwazi seXcalc
Comment[yi]=Xcalc ראָטאַלוקלאַק עכעלטפאשנסיוו
Comment[yo]=Xcalc ijinle sayensi isiro
Comment[zh]=Xcalc科学计算器
Comment[zu]=I-Xcalc yokubala yesayensi
Comment=Xcalc scientific calculator
Exec=xcalc
Terminal=false
Type=Application
Categories=Calculator
GenericName=Xcalc scientific calculator
