[Desktop Entry]
Encoding=UTF-8
Name[fr]=Presse-papiers : Xclipboard
Name[de]=Zwischenablage
Name[es]=Xclipboard: portapapeles
Name[ru]=Xclipboard буфер обмена
Name[tr]=Xclipboard
Name[af]=Xclipboard
Name[am]=Xክሊፕቦርድ
Name[ar]=Xclipboard
Name[as]=Xclipboard
Name[ay]=Xclipboard ukax mä juk’a pachanakanwa
Name[az]=Xclipboard
Name[ba]=Xclipboard
Name[be]=Xclipboard
Name[bg]=Xclipboard
Name[bm]=Xclipboard (kalan) ye
Name[bn]=এক্সক্লিপবোর্ড
Name[bo]=Xclipboard
Name[bs]=Xclipboard
Name[ca]=Xclipboard
Name[co]=Xclipboard
Name[cs]=Xschránka
Name[cy]=Xclipfwrdd
Name[da]=Xclipboard
Name[dv]=ވެއެ ޑްބޯޕްލިކްސްކްއެ
Name[ee]=Xclipboard ƒe ʋuƒo
Name[el]=Xclipboard
Name[eo]=Xclipboard
Name[et]=X-lõikelaud
Name[eu]=Xclipboard
Name[fa]=Xclipboard
Name[fi]=Xclipboard
Name[fj]=Xclipboard
Name[fo]=Xclipboard
Name[fy]=Xclipboard
Name[ga]=Clár xclip
Name[gd]=Xclipboard
Name[gl]=Xclipboard
Name[gn]=Xclipboard rehegua
Name[gu]=Xclipboard
Name[ha]=Xclipboard
Name[he]=Xclipboard
Name[hi]=एक्सक्लिपबोर्ड
Name[hr]=X međuspremnik
Name[ht]=Xclipboard
Name[hu]=Xclipboard
Name[hy]=Xclipboard
Name[id]=Xclipboard
Name[ig]=Klipbọọdụ
Name[is]=Xclipboard
Name[it]=Xclipboard
Name[iu]=ᕿᑐᑦᑐᒐᐅᔭᙳᐊᖅ
Name[ja]=クリップボード
Name[jv]=Xclipboard
Name[ka]=Xclipboard
Name[kk]=Xclipboard
Name[km]=Xclipboard
Name[kn]=ಎಕ್ಸ್ ಕ್ಲಿಪ್ಬೋರ್ಡ್
Name[ko]=엑스클립보드
Name[ku]=Xclipboard
Name[ky]=Xclipboard
Name[la]=Xclipboard
Name[lb]=Xclipboard
Name[lg]=Xclipboard ku kipande kya Xclipboard
Name[ln]=Xclipboard ya kosala
Name[lo]=Xclipboard
Name[lt]=Xclipboard
Name[lv]=Xclipboard
Name[mg]=Xclipboard
Name[mi]=Papatopenga
Name[mk]=Xclipboard
Name[ml]=എക്സ്ക്ലിപ്പ്ബോർഡ്
Name[mn]=Xclipboard
Name[mr]=Xclipboard
Name[ms]=Xclipboard
Name[mt]=Xclipboard
Name[my]=Xclipboard
Name[ne]=Xclipboard
Name[nl]=Xklembord
Name[no]=Xclipboard
Name[ny]=Xclipboard
Name[om]=Xclipboard jedhu
Name[or]=Xclipboard
Name[pa]=Xclipboard
Name[pl]=Xclipboard
Name[ps]=Xclipboard
Name[pt]=Xclipboard
Name[qu]=Xclipboard nisqa
Name[ro]=Xclipboard
Name[rw]=Xclipboard
Name[sa]=Xclipboard इति
Name[sd]=ڊﺭﻮﺑ ﭗﻠڪ ﺲڪﻳﺍ
Name[si]=Xclipboard
Name[sk]=Xclipboard
Name[sl]=Xclipboard
Name[sm]=Xclipboard
Name[sn]=Xclipboard
Name[so]=Xclipboard
Name[sq]=Xclipboard
Name[st]=Xclipboard
Name[su]=Xclipboard
Name[sv]=Xclipboard
Name[sw]=Ubao wa Xclip
Name[ta]=எக்ஸ் கிளிப்போர்டு
Name[te]=Xclipboard
Name[tg]=Xclipboard
Name[th]=คลิปบอร์ด
Name[ti]=Xclipboard ዝብል ጽሑፍ ኣሎ።
Name[tk]=Xclipboard
Name[tl]=Xclipboard
Name[to]=Xclipboard
Name[ts]=Xclipboard ya xifaniso
Name[tt]=Xclipboard
Name[tw]=Xclipboard a wɔde kyerɛw nsɛm
Name[ty]=Xclipboard
Name[ug]=Xclipboard
Name[uk]=Xclipboard
Name[ur]=ﮈﺭﻮﺑ ﭗﻠﮐ ﺲﮑﯾﺍ
Name[uz]=Xclipboard
Name[vi]=Xclipboard
Name[xh]=Xclipboard
Name[yi]=Xclipboard
Name[yo]=Xclipboard
Name[zh]=X剪贴板
Name[zu]=I-Xclipboard
Name=Xclipboard
Icon=mini-clipboard.xpm
Comment[fr]=Xclipboard
Comment[de]=Zwischenablage
Comment[es]=Portapapeles Xclipboard
Comment[ru]=Xclipboard
Comment[tr]=Xclipboard
Comment[af]=Xclipboard
Comment[am]=Xክሊፕቦርድ
Comment[ar]=Xclipboard
Comment[as]=Xclipboard
Comment[ay]=Xclipboard ukax mä juk’a pachanakanwa
Comment[az]=Xclipboard
Comment[ba]=Xclipboard
Comment[be]=Xclipboard
Comment[bg]=Xclipboard
Comment[bm]=Xclipboard (kalan) ye
Comment[bn]=এক্সক্লিপবোর্ড
Comment[bo]=Xclipboard
Comment[bs]=Xclipboard
Comment[ca]=Xclipboard
Comment[co]=Xclipboard
Comment[cs]=Xschránka
Comment[cy]=Xclipfwrdd
Comment[da]=Xclipboard
Comment[dv]=ވެއެ ޑްބޯޕްލިކްސްކްއެ
Comment[ee]=Xclipboard ƒe ʋuƒo
Comment[el]=Xclipboard
Comment[eo]=Xclipboard
Comment[et]=X-lõikelaud
Comment[eu]=Xclipboard
Comment[fa]=Xclipboard
Comment[fi]=Xclipboard
Comment[fj]=Xclipboard
Comment[fo]=Xclipboard
Comment[fy]=Xclipboard
Comment[ga]=Clár xclip
Comment[gd]=Xclipboard
Comment[gl]=Xclipboard
Comment[gn]=Xclipboard rehegua
Comment[gu]=Xclipboard
Comment[ha]=Xclipboard
Comment[he]=Xclipboard
Comment[hi]=एक्सक्लिपबोर्ड
Comment[hr]=X međuspremnik
Comment[ht]=Xclipboard
Comment[hu]=Xclipboard
Comment[hy]=Xclipboard
Comment[id]=Xclipboard
Comment[ig]=Klipbọọdụ
Comment[is]=Xclipboard
Comment[it]=Xclipboard
Comment[iu]=ᕿᑐᑦᑐᒐᐅᔭᙳᐊᖅ
Comment[ja]=クリップボード
Comment[jv]=Xclipboard
Comment[ka]=Xclipboard
Comment[kk]=Xclipboard
Comment[km]=Xclipboard
Comment[kn]=ಎಕ್ಸ್ ಕ್ಲಿಪ್ಬೋರ್ಡ್
Comment[ko]=엑스클립보드
Comment[ku]=Xclipboard
Comment[ky]=Xclipboard
Comment[la]=Xclipboard
Comment[lb]=Xclipboard
Comment[lg]=Xclipboard ku kipande kya Xclipboard
Comment[ln]=Xclipboard ya kosala
Comment[lo]=Xclipboard
Comment[lt]=Xclipboard
Comment[lv]=Xclipboard
Comment[mg]=Xclipboard
Comment[mi]=Papatopenga
Comment[mk]=Xclipboard
Comment[ml]=എക്സ്ക്ലിപ്പ്ബോർഡ്
Comment[mn]=Xclipboard
Comment[mr]=Xclipboard
Comment[ms]=Xclipboard
Comment[mt]=Xclipboard
Comment[my]=Xclipboard
Comment[ne]=Xclipboard
Comment[nl]=Xklembord
Comment[no]=Xclipboard
Comment[ny]=Xclipboard
Comment[om]=Xclipboard jedhu
Comment[or]=Xclipboard
Comment[pa]=Xclipboard
Comment[pl]=Xclipboard
Comment[ps]=Xclipboard
Comment[pt]=Xclipboard
Comment[qu]=Xclipboard nisqa
Comment[ro]=Xclipboard
Comment[rw]=Xclipboard
Comment[sa]=Xclipboard इति
Comment[sd]=ڊﺭﻮﺑ ﭗﻠڪ ﺲڪﻳﺍ
Comment[si]=Xclipboard
Comment[sk]=Xclipboard
Comment[sl]=Xclipboard
Comment[sm]=Xclipboard
Comment[sn]=Xclipboard
Comment[so]=Xclipboard
Comment[sq]=Xclipboard
Comment[st]=Xclipboard
Comment[su]=Xclipboard
Comment[sv]=Xclipboard
Comment[sw]=Ubao wa Xclip
Comment[ta]=எக்ஸ் கிளிப்போர்டு
Comment[te]=Xclipboard
Comment[tg]=Xclipboard
Comment[th]=คลิปบอร์ด
Comment[ti]=Xclipboard ዝብል ጽሑፍ ኣሎ።
Comment[tk]=Xclipboard
Comment[tl]=Xclipboard
Comment[to]=Xclipboard
Comment[ts]=Xclipboard ya xifaniso
Comment[tt]=Xclipboard
Comment[tw]=Xclipboard a wɔde kyerɛw nsɛm
Comment[ty]=Xclipboard
Comment[ug]=Xclipboard
Comment[uk]=Xclipboard
Comment[ur]=ﮈﺭﻮﺑ ﭗﻠﮐ ﺲﮑﯾﺍ
Comment[uz]=Xclipboard
Comment[vi]=Xclipboard
Comment[xh]=Xclipboard
Comment[yi]=Xclipboard
Comment[yo]=Xclipboard
Comment[zh]=X剪贴板
Comment[zu]=I-Xclipboard
Comment=Xclipboard
Exec=xclipboard 
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Xclipboard
