[Desktop Entry]
Encoding=UTF-8
Name[fr]=Presse-papiers : Xclipboard
Name[de]=Zwischenablage
Name[es]=Xclipboard: portapapeles
Name[ru]=Xclipboard
Name=Xclipboard
Icon=mini-clipboard.xpm
Comment[fr]=Xclipboard
Comment[de]=Zwischenablage
Comment[es]=Portapapeles Xclipboard
Comment[ru]=Xclipboard
Comment=Xclipboard
Exec=xclipboard 
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Xclipboard
