[Desktop Entry]
Encoding=UTF-8
Name[de]=Xconsole-Monitorkonsole
Name[fr]=Console : Xconsole
Name[es]=Xconsole: mostrar mensajes de /dev/console
Name=Xconsole monitor console
Icon=mini-sh1.xpm
Comment[de]=Xconsole Monitorkonsole /dev/console
Comment[es]=Xconsole: mostrar mensajes de /dev/console
Comment=Xconsole monitor console /dev/console
Exec=xconsole
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Xconsole
NoDisplay=true
