[Desktop Entry]
Encoding=UTF-8
Name[de]=Xfdiff-cut vergleicht zwei Dateien
Name[fr]=Comparer deux fichiers : Xfdiff-cut
Name[es]=Xfdiff-cut: comparar dos archivos
Name=Xfdiff-cut compare two files
Icon=xfdiff.png
Comment[de]=Xfdiff-cut vergleicht zwei Dateien
Comment[es]=Xfdiff-cut: comparar dos archivos
Comment=Xfdiff-cut compare two files
Exec=xfdiff-cut
Terminal=false
Type=Application
Categories=X-Utility-development
GenericName=Xfdiff-cut
