[Desktop Entry]
Encoding=UTF-8
Name[de]=Xfdiff-cut vergleicht zwei Dateien
Name[fr]=Comparer deux fichiers : Xfdiff-cut
Name[es]=Xfdiff-cut: comparar dos archivos
Name[af]=Xfdiff-cut vergelyk twee lêers
Name[am]=Xfdiff-cut ሁለት ፋይሎችን ያወዳድሩ
Name[ar]=Xfdiff-cut ﻦﻴﻔﻠﻣ ﻦﻴﺑ ﻥﺭﺎﻗ
Name[as]=Xfdiff-cut দুটা ফাইল তুলনা কৰক
Name[ay]=Xfdiff-cut ukax pä archivo ukar uñtasitawa
Name[az]=Xfdiff-cut iki faylı müqayisə edin
Name[ba]=Xfdiff-cut ике файлды сағыштыра
Name[be]=Xfdiff-cut параўнаць два файлы
Name[bg]=Xfdiff-cut сравнява два файла
Name[bm]=Xfdiff-cut bɛ filen fila suma ɲɔgɔn na
Name[bn]=Xfdiff-কাট দুটি ফাইল তুলনা করুন
Name[bo]=Xfdiff-cutཡིས་ཡིག་ཆ་གཉིས་ཞིབ་བསྡུར་བྱས།
Name[bs]=Xfdiff-cut uporedi dva fajla
Name[ca]=Xfdiff-cut compara dos fitxers
Name[co]=Xfdiff-cut paragunà dui schedari
Name[cs]=Xfdiff-cut porovná dva soubory
Name[cy]=Xfdiff-toriad cymharu dwy ffeil
Name[da]=Xfdiff-cut sammenligne to filer
Name[dv]=Xfdiff-cut ންޔުކިޅާއަ ލްއިފަ ދެ
Name[ee]=Xfdiff-cut tsɔ faɛl eve sɔ kple wo nɔewo
Name[el]=Xfdiff-cut συγκρίνετε δύο αρχεία
Name[eo]=Xfdiff-cut komparu du dosierojn
Name[et]=Xfdiff-cut võrrelge kahte faili
Name[eu]=Xfdiff-cut bi fitxategi alderatu
Name[fa]=Xfdiff-cut ﺪﯿﻨﮐ ﻪﺴﯾﺎﻘﻣ ﺍﺭ ﻞﯾﺎﻓ ﻭﺩ
Name[fi]=Xfdiff-cut vertaa kahta tiedostoa
Name[fj]=Xfdiff-kotiva vakatautauvatataka e rua na faile
Name[fo]=Xfdiff-cut samanborið tvær files
Name[fy]=Xfdiff-cut fergelykje twa bestannen
Name[ga]=Xfdiff-gearrtha dhá chomhad a chur i gcomparáid
Name[gd]=Dèan coimeas eadar dà fhaidhle le gearradh xfdiff
Name[gl]=Xfdiff-cut compara dous ficheiros
Name[gn]=Xfdiff-cut ombojoja mokõi vore
Name[gu]=Xfdiff-કટ બે ફાઇલોની તુલના કરો
Name[ha]=Xfdiff-cut kwatanta fayiloli biyu
Name[he]=Xfdiff-cut םיצבק ינש ןיב הוושה
Name[hi]=Xfdiff-कट दो फ़ाइलों की तुलना करें
Name[hr]=Xfdiff-cut usporedi dvije datoteke
Name[ht]=Xfdiff-cut konpare de dosye
Name[hu]=Az Xfdiff-cut két fájl összehasonlítása
Name[hy]=Xfdiff-cut համեմատել երկու ֆայլ
Name[id]=Xfdiff-cut membandingkan dua file
Name[ig]=Xfdiff-cut tụnyere faịlụ abụọ
Name[is]=Xfdiff-cut bera saman tvær skrár
Name[it]=Xfdiff-cut confronta due file
Name[iu]=Xfdiff-cut−ᒧᑦ ᐊᔾᔨᒌᙱᓐᓂᖏᑦ ᒪᕐᕉᒃ ᑐᖅᑯᖅᓯᒪᔫᒃ
Name[ja]=Xfdiff-cut 2 つのファイルを比較する
Name[jv]=Xfdiff-cut mbandhingake rong file
Name[ka]=Xfdiff-cut შეადარეთ ორი ფაილი
Name[kk]=Xfdiff - екі файлды салыстыру
Name[km]=Xfdiff-cut ប្រៀបធៀបឯកសារពីរ
Name[kn]=Xfdiff-cut ಎರಡು ಫೈಲ್u200cಗಳನ್ನು ಹೋಲಿಕೆ ಮಾಡಿ
Name[ko]=Xfdiff-cut 두 파일 비교
Name[ku]=Xfdiff-cut du pelan bidin ber hev
Name[ky]=Xfdiff-кесип эки файлды салыштырыңыз
Name[la]=Xfdiff-cut duo files comparare
Name[lb]=Xfdiff-cut vergläicht zwee Dateien
Name[lg]=Xfdiff-cut geraageranya fayiro bbiri
Name[ln]=Xfdiff-cut kokokanisa ba fichiers mibale
Name[lo]=Xfdiff-cut ປຽບທຽບສອງໄຟລ໌
Name[lt]=„Xfdiff-cut“ palyginkite du failus
Name[lv]=Xfdiff-cut salīdziniet divus failus
Name[mg]=Xfdiff-cut mampitaha rakitra roa
Name[mi]=Xfdiff-cut whakatairite i nga konae e rua
Name[mk]=Xfdiff-cut споредете две датотеки
Name[ml]=Xfdiff-cut രണ്ട് ഫയലുകൾ താരതമ്യം ചെയ്യുക
Name[mn]=Xfdiff-cut хоёр файлыг харьцуул
Name[mr]=Xfdiff-कट दोन फाइल्सची तुलना करा
Name[ms]=Xfdiff-cut bandingkan dua fail
Name[mt]=Xfdiff-cut tqabbel żewġ fajls
Name[my]=Xfdiff-cut ဖိုင်နှစ်ခုကို နှိုင်းယှဉ်ပါ။
Name[ne]=Xfdiff-कट दुई फाइलहरू तुलना गर्नुहोस्
Name[nl]=Xfdiff-cut vergelijkt twee bestanden
Name[no]=Xfdiff-cut sammenligne to filer
Name[ny]=Xfdiff-cut yerekezerani mafayilo awiri
Name[om]=Xfdiff-cut faayilii lama wal bira qabi
Name[or]=Xfdiff-cut ଦୁଇଟି ଫାଇଲ୍ ତୁଳନା କରନ୍ତୁ |
Name[pa]=Xfdiff-ਕੱਟ ਦੋ ਫਾਈਲਾਂ ਦੀ ਤੁਲਨਾ ਕਰੋ
Name[pl]=Xfdiff-cut porównuje dwa pliki
Name[ps]=Xfdiff-cut ﺉړﮐ ﻪﻠﺗﺮﭘ ﻪﻧﻮﻠﯾﺎﻓ ﻩﻭﺩ
Name[pt]=Xfdiff-cut comparar dois arquivos
Name[qu]=Xfdiff-cut iskay willañiqikunata tupachiy
Name[ro]=Xfdiff-cut compara două fișiere
Name[ru]=Xfdiff-cut сравнение двух файлов
Name[rw]=Xfdiff-gabanya gereranya dosiye ebyiri
Name[sa]=Xfdiff-cut द्वयोः सञ्चिकायोः तुलनां कुर्वन्तु
Name[sd]=Xfdiff-ﻮﻳﺮڪ ﻮﻠﺑﺎﻘﻣ ﻮﺟ ﻦﻠﺋﺎﻓ ﻦﭔ ٽڪ
Name[si]=Xfdiff-cut ගොනු දෙකක් සංසන්දනය කරන්න
Name[sk]=Xfdiff-cut porovnajte dva súbory
Name[sl]=Xfdiff-cut primerja dve datoteki
Name[sm]=Xfdiff-cut faatusatusa faila e lua
Name[sn]=Xfdiff-cheka enzanisa mafaira maviri
Name[so]=Xfdiff-cut is barbar dhig laba fayl
Name[sq]=Xfdiff-cut krahasoni dy skedarë
Name[st]=Xfdiff-cut bapisa lifaele tse peli
Name[su]=Xfdiff-cut ngabandingkeun dua file
Name[sv]=Xfdiff-cut jämför två filer
Name[sw]=Xfdiff-kata kulinganisha faili mbili
Name[ta]=Xfdiff-cut இரண்டு கோப்புகளை ஒப்பிடுக
Name[te]=Xfdiff-cut రెండు ఫైళ్లను సరిపోల్చండి
Name[tg]=Xfdiff-бури ду файлро муқоиса кунед
Name[th]=Xfdiff-cut เปรียบเทียบสองไฟล์
Name[ti]=Xfdiff-cut ክልተ ፋይላት ኣነጻጽር
Name[tk]=Xfdiff-cut iki faýly deňeşdiriň
Name[tl]=Xfdiff-cut ihambing ang dalawang file
Name[to]=Xfdiff-kosi ʻo fakafehoanaki ha faile ʻe ua
Name[tr]=Xfdiff-cut iki dosyayı karşılaştırır
Name[ts]=Xfdiff-cut pimanisa tifayela timbirhi
Name[tt]=Xfdiff-cut ике файлны чагыштырыгыз
Name[tw]=Xfdiff-cut fa fael abien toto ho
Name[ty]=Xfdiff-cut e piti pue parau
Name[ug]=Xfdiff-cut ﻯﺩﺭﯘﺘﺸﯩﻠﯧﺳ ﻰﻨﺗەﺠﺟﯚﮬ ﻰﻜﻜﯩﺋ
Name[uk]=Xfdiff-cut порівнює два файли
Name[ur]=Xfdiff-cut ۔ﮟﯾﺮﮐ ﮧﻧﺯﺍﻮﻣ ﺎﮐ ﮞﻮﻠﺋﺎﻓ ﻭﺩ
Name[uz]=Xfdiff-cut ikkita faylni solishtiring
Name[vi]=Xfdiff-cut so sánh hai tệp
Name[xh]=Xfdiff-cut thelekisa iifayile ezimbini
Name[yi]=Xfdiff-cut סעקעט ייווצ ןכיַילגראַפ
Name[yo]=Xfdiff-ge ṣe afiwe awọn faili meji
Name[zh]=Xfdiff-cut 比较两个文件
Name[zu]=I-Xfdiff-cut qhathanisa amafayela amabili
Name=Xfdiff-cut compare two files
Icon=xfdiff.png
Comment[de]=Xfdiff-cut vergleicht zwei Dateien
Comment[es]=Xfdiff-cut: comparar dos archivos
Comment[af]=Xfdiff-cut vergelyk twee lêers
Comment[am]=Xfdiff-cut ሁለት ፋይሎችን ያወዳድሩ
Comment[ar]=Xfdiff-cut ﻦﻴﻔﻠﻣ ﻦﻴﺑ ﻥﺭﺎﻗ
Comment[as]=Xfdiff-cut দুটা ফাইল তুলনা কৰক
Comment[ay]=Xfdiff-cut ukax pä archivo ukar uñtasitawa
Comment[az]=Xfdiff-cut iki faylı müqayisə edin
Comment[ba]=Xfdiff-cut ике файлды сағыштыра
Comment[be]=Xfdiff-cut параўнаць два файлы
Comment[bg]=Xfdiff-cut сравнява два файла
Comment[bm]=Xfdiff-cut bɛ filen fila suma ɲɔgɔn na
Comment[bn]=Xfdiff-কাট দুটি ফাইল তুলনা করুন
Comment[bo]=Xfdiff-cutཡིས་ཡིག་ཆ་གཉིས་ཞིབ་བསྡུར་བྱས།
Comment[bs]=Xfdiff-cut uporedi dva fajla
Comment[ca]=Xfdiff-cut compara dos fitxers
Comment[co]=Xfdiff-cut paragunà dui schedari
Comment[cs]=Xfdiff-cut porovná dva soubory
Comment[cy]=Xfdiff-toriad cymharu dwy ffeil
Comment[da]=Xfdiff-cut sammenligne to filer
Comment[dv]=Xfdiff-cut ންޔުކިޅާއަ ލްއިފަ ދެ
Comment[ee]=Xfdiff-cut tsɔ faɛl eve sɔ kple wo nɔewo
Comment[el]=Xfdiff-cut συγκρίνετε δύο αρχεία
Comment[eo]=Xfdiff-cut komparu du dosierojn
Comment[et]=Xfdiff-cut võrrelge kahte faili
Comment[eu]=Xfdiff-cut bi fitxategi alderatu
Comment[fa]=Xfdiff-cut ﺪﯿﻨﮐ ﻪﺴﯾﺎﻘﻣ ﺍﺭ ﻞﯾﺎﻓ ﻭﺩ
Comment[fi]=Xfdiff-cut vertaa kahta tiedostoa
Comment[fj]=Xfdiff-kotiva vakatautauvatataka e rua na faile
Comment[fo]=Xfdiff-cut samanborið tvær files
Comment[fr]=Xfdiff-cut compare deux fichiers
Comment[fy]=Xfdiff-cut fergelykje twa bestannen
Comment[ga]=Xfdiff-gearrtha dhá chomhad a chur i gcomparáid
Comment[gd]=Dèan coimeas eadar dà fhaidhle le gearradh xfdiff
Comment[gl]=Xfdiff-cut compara dous ficheiros
Comment[gn]=Xfdiff-cut ombojoja mokõi vore
Comment[gu]=Xfdiff-કટ બે ફાઇલોની તુલના કરો
Comment[ha]=Xfdiff-cut kwatanta fayiloli biyu
Comment[he]=Xfdiff-cut םיצבק ינש ןיב הוושה
Comment[hi]=Xfdiff-कट दो फ़ाइलों की तुलना करें
Comment[hr]=Xfdiff-cut usporedi dvije datoteke
Comment[ht]=Xfdiff-cut konpare de dosye
Comment[hu]=Az Xfdiff-cut két fájl összehasonlítása
Comment[hy]=Xfdiff-cut համեմատել երկու ֆայլ
Comment[id]=Xfdiff-cut membandingkan dua file
Comment[ig]=Xfdiff-cut tụnyere faịlụ abụọ
Comment[is]=Xfdiff-cut bera saman tvær skrár
Comment[it]=Xfdiff-cut confronta due file
Comment[iu]=Xfdiff-cut−ᒧᑦ ᐊᔾᔨᒌᙱᓐᓂᖏᑦ ᒪᕐᕉᒃ ᑐᖅᑯᖅᓯᒪᔫᒃ
Comment[ja]=Xfdiff-cut 2 つのファイルを比較する
Comment[jv]=Xfdiff-cut mbandhingake rong file
Comment[ka]=Xfdiff-cut შეადარეთ ორი ფაილი
Comment[kk]=Xfdiff - екі файлды салыстыру
Comment[km]=Xfdiff-cut ប្រៀបធៀបឯកសារពីរ
Comment[kn]=Xfdiff-cut ಎರಡು ಫೈಲ್u200cಗಳನ್ನು ಹೋಲಿಕೆ ಮಾಡಿ
Comment[ko]=Xfdiff-cut 두 파일 비교
Comment[ku]=Xfdiff-cut du pelan bidin ber hev
Comment[ky]=Xfdiff-кесип эки файлды салыштырыңыз
Comment[la]=Xfdiff-cut duo files comparare
Comment[lb]=Xfdiff-cut vergläicht zwee Dateien
Comment[lg]=Xfdiff-cut geraageranya fayiro bbiri
Comment[ln]=Xfdiff-cut kokokanisa ba fichiers mibale
Comment[lo]=Xfdiff-cut ປຽບທຽບສອງໄຟລ໌
Comment[lt]=„Xfdiff-cut“ palyginkite du failus
Comment[lv]=Xfdiff-cut salīdziniet divus failus
Comment[mg]=Xfdiff-cut mampitaha rakitra roa
Comment[mi]=Xfdiff-cut whakatairite i nga konae e rua
Comment[mk]=Xfdiff-cut споредете две датотеки
Comment[ml]=Xfdiff-cut രണ്ട് ഫയലുകൾ താരതമ്യം ചെയ്യുക
Comment[mn]=Xfdiff-cut хоёр файлыг харьцуул
Comment[mr]=Xfdiff-कट दोन फाइल्सची तुलना करा
Comment[ms]=Xfdiff-cut bandingkan dua fail
Comment[mt]=Xfdiff-cut tqabbel żewġ fajls
Comment[my]=Xfdiff-cut ဖိုင်နှစ်ခုကို နှိုင်းယှဉ်ပါ။
Comment[ne]=Xfdiff-कट दुई फाइलहरू तुलना गर्नुहोस्
Comment[nl]=Xfdiff-cut vergelijkt twee bestanden
Comment[no]=Xfdiff-cut sammenligne to filer
Comment[ny]=Xfdiff-cut yerekezerani mafayilo awiri
Comment[om]=Xfdiff-cut faayilii lama wal bira qabi
Comment[or]=Xfdiff-cut ଦୁଇଟି ଫାଇଲ୍ ତୁଳନା କରନ୍ତୁ |
Comment[pa]=Xfdiff-ਕੱਟ ਦੋ ਫਾਈਲਾਂ ਦੀ ਤੁਲਨਾ ਕਰੋ
Comment[pl]=Xfdiff-cut porównuje dwa pliki
Comment[ps]=Xfdiff-cut ﺉړﮐ ﻪﻠﺗﺮﭘ ﻪﻧﻮﻠﯾﺎﻓ ﻩﻭﺩ
Comment[pt]=Xfdiff-cut comparar dois arquivos
Comment[qu]=Xfdiff-cut iskay willañiqikunata tupachiy
Comment[ro]=Xfdiff-cut compara două fișiere
Comment[ru]=Xfdiff-cut сравнить два файла
Comment[rw]=Xfdiff-gabanya gereranya dosiye ebyiri
Comment[sa]=Xfdiff-cut द्वयोः सञ्चिकायोः तुलनां कुर्वन्तु
Comment[sd]=Xfdiff-ﻮﻳﺮڪ ﻮﻠﺑﺎﻘﻣ ﻮﺟ ﻦﻠﺋﺎﻓ ﻦﭔ ٽڪ
Comment[si]=Xfdiff-cut ගොනු දෙකක් සංසන්දනය කරන්න
Comment[sk]=Xfdiff-cut porovnajte dva súbory
Comment[sl]=Xfdiff-cut primerja dve datoteki
Comment[sm]=Xfdiff-cut faatusatusa faila e lua
Comment[sn]=Xfdiff-cheka enzanisa mafaira maviri
Comment[so]=Xfdiff-cut is barbar dhig laba fayl
Comment[sq]=Xfdiff-cut krahasoni dy skedarë
Comment[st]=Xfdiff-cut bapisa lifaele tse peli
Comment[su]=Xfdiff-cut ngabandingkeun dua file
Comment[sv]=Xfdiff-cut jämför två filer
Comment[sw]=Xfdiff-kata kulinganisha faili mbili
Comment[ta]=Xfdiff-cut இரண்டு கோப்புகளை ஒப்பிடுக
Comment[te]=Xfdiff-cut రెండు ఫైళ్లను సరిపోల్చండి
Comment[tg]=Xfdiff-бури ду файлро муқоиса кунед
Comment[th]=Xfdiff-cut เปรียบเทียบสองไฟล์
Comment[ti]=Xfdiff-cut ክልተ ፋይላት ኣነጻጽር
Comment[tk]=Xfdiff-cut iki faýly deňeşdiriň
Comment[tl]=Xfdiff-cut ihambing ang dalawang file
Comment[to]=Xfdiff-kosi ʻo fakafehoanaki ha faile ʻe ua
Comment[tr]=Xfdiff-cut iki dosyayı karşılaştırır
Comment[ts]=Xfdiff-cut pimanisa tifayela timbirhi
Comment[tt]=Xfdiff-cut ике файлны чагыштырыгыз
Comment[tw]=Xfdiff-cut fa fael abien toto ho
Comment[ty]=Xfdiff-cut e piti pue parau
Comment[ug]=Xfdiff-cut ﻯﺩﺭﯘﺘﺸﯩﻠﯧﺳ ﻰﻨﺗەﺠﺟﯚﮬ ﻰﻜﻜﯩﺋ
Comment[uk]=Xfdiff-cut порівнює два файли
Comment[ur]=Xfdiff-cut ۔ﮟﯾﺮﮐ ﮧﻧﺯﺍﻮﻣ ﺎﮐ ﮞﻮﻠﺋﺎﻓ ﻭﺩ
Comment[uz]=Xfdiff-cut ikkita faylni solishtiring
Comment[vi]=Xfdiff-cut so sánh hai tệp
Comment[xh]=Xfdiff-cut thelekisa iifayile ezimbini
Comment[yi]=Xfdiff-cut סעקעט ייווצ ןכיַילגראַפ
Comment[yo]=Xfdiff-ge ṣe afiwe awọn faili meji
Comment[zh]=Xfdiff-cut 比较两个文件
Comment[zu]=I-Xfdiff-cut qhathanisa amafayela amabili
Comment=Xfdiff-cut compare two files
Exec=xfdiff-cut
Terminal=false
Type=Application
Categories=X-Utility-development
GenericName=Xfdiff-cut
