[Desktop Entry]
Encoding=UTF-8
Name[fr]=Comparer deux fichiers : Xfdiff-cut
Name=Xfdiff-cut compare two files
Icon=xfdiff.png
Comment=Xfdiff-cut compare two files
Exec=xfdiff-cut
Terminal=false
Type=Application
Categories=X-Utility-development
GenericName=Xfdiff-cut
