[Desktop Entry]
Encoding=UTF-8
Name[fr]=Visualiseur de polices : Xfontsel
Name[de]=Xfontsel Font Viewer
Name[es]=Xfontsel: visor de fuentes
Name[ru]=просмотрщик шрифтов Xfontsel
Name[tr]=Xfontsel yazı tipi görüntüleyici
Name=Xfontsel font viewer
Icon=mini-font.xpm
Comment[fr]=Visualiseur de polices : Xfontsel
Comment[de]=Xfontsel Font Viewer
Comment[es]=Visor de fuentes Xfontsel
Comment[ru]=просмотрщик шрифтов Xfontsel
Comment[tr]=Xfontsel yazı tipi görüntüleyici
Comment=Xfontsel font viewer
Exec=xfontsel -bg "#e0ffe0"
Terminal=false
NoDisplay=true
Type=Application
Categories=X-DesktopApplets
GenericName=Xfontsel font viewer
