[Desktop Entry]
Name[fr]=Calibrer l'écran tactile
Name=Calibrate Touchscreen
Comment=Run the calibration tool for touchscreens
Exec=/bin/sh -c "xinput_calibrator; cat"
Terminal=true
NoDisplay=true
Type=Application
Icon=xinput_calibrator.xpm
StartupNotify=true
Categories=System
