[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le verrou d'écran : Xlock
Name[de]=Konfigurieren der Xlock-Bildschirmsperre
Name[es]=Configuración de Xlock
Name[ru]=Настроить блокировку экрана Xlock
Name[tr]=Xlock ekran kilitlemeyi yapılandır
Name[af]=Stel Xlock-skermsluiting op
Name[am]=የXlock ማያ ገጽ መቆለፍን ያዋቅሩ
Name[ar]=Xlock ﺔﺷﺎﺸﻟﺍ ﻞﻔﻗ ﻦﻳﻮﻜﺗ
Name[as]=Xlock পৰ্দা লক বিন্যাস কৰক
Name[ay]=Xlock pantalla bloqueo ukar uñt’ayaña
Name[az]=Xlock ekran kilidini konfiqurasiya edin
Name[ba]=Configure Xlock экранын бикләү
Name[be]=Наладзьце блакіроўку экрана Xlock
Name[bg]=Конфигуриране на Xlock заключване на екрана
Name[bm]=Xlock ekran datugucogo labɛn
Name[bn]=Xlock স্ক্রিন লকিং কনফিগার করুন
Name[bo]=Xlock བརྙན་ཤེལ་གྱི་ཟྭ་རྒྱག་སྟངས་བཀོད་སྒྲིག་བྱེད་པ།
Name[bs]=Konfigurišite zaključavanje ekrana Xlock
Name[ca]=Configura el bloqueig de pantalla Xlock
Name[co]=Configurate u bloccu di u screnu Xlock
Name[cs]=Nakonfigurujte zamykání obrazovky Xlock
Name[cy]=Ffurfweddu cloi sgrin Xlock
Name[da]=Konfigurer Xlock-skærmlåsning
Name[dv]=ންރުކު ޓްރޭގްފިންކޮ ގންކިލޮ ންރީކްސް ކްލޮސްކްއެ
Name[ee]=Trɔ asi le Xlock screen ƒe ʋuʋu ŋu
Name[el]=Διαμόρφωση κλειδώματος οθόνης Xlock
Name[eo]=Agordu Xlock-ekranŝlosadon
Name[et]=Xlocki ekraaniluku konfigureerimine
Name[eu]=Konfiguratu Xlock pantailaren blokeoa
Name[fa]=ﺪﯿﻨﮐ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ Xlock ﻪﺤﻔﺻ ﻞﻔﻗ
Name[fi]=Määritä Xlock-näytön lukitus
Name[fj]=Tuvanaka na loka ni sikirini Xlock
Name[fo]=Configure Xlock screen lásið
Name[fy]=Konfigurearje Xlock skermbeskoatteljen
Name[ga]=Cumraigh glasáil scáileáin Xlock
Name[gd]=Dèan rèiteachadh air glasadh sgrion Xlock
Name[gl]=Configura o bloqueo da pantalla Xlock
Name[gn]=Emohenda Xlock pantalla ñemboty
Name[gu]=Xlock સ્ક્રીન લોકીંગને ગોઠવો
Name[ha]=Sanya kulle allo na Xlock
Name[he]=Xlock ךסמ תליענ תא רדגה
Name[hi]=एक्सलॉक स्क्रीन लॉकिंग कॉन्फ़िगर करें
Name[hr]=Konfigurirajte Xlock zaključavanje zaslona
Name[ht]=Konfigure Xlock ekran bloke
Name[hu]=Konfigurálja az Xlock képernyőzárat
Name[hy]=Կարգավորեք Xlock էկրանի կողպումը
Name[id]=Konfigurasikan penguncian layar Xlock
Name[ig]=Hazie mkpọchi ihuenyo Xlock
Name[is]=Stilltu Xlock skjálæsingu
Name[it]=Configura il blocco dello schermo Xlock
Name[iu]=ᐋᖅᑭᒃᓯᒪᓂᖓ Xlock ᐃᒐᓚᐅᔭᕐᒧᑦ ᑮᒃᑕᐅᑎ
Name[ja]=Xlock 画面ロックを構成する
Name[jv]=Konfigurasi ngunci layar Xlock
Name[ka]=Xlock ეკრანის დაბლოკვის კონფიგურაცია
Name[kk]=Xlock экранын құлыптауды конфигурациялаңыз
Name[km]=កំណត់រចនាសម្ព័ន្ធការចាក់សោអេក្រង់ Xlock
Name[kn]=Xlock ಸ್ಕ್ರೀನ್ ಲಾಕ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡಿ
Name[ko]=Xlock 화면 잠금 구성
Name[ku]=Girtina ekrana Xlockê mîheng bike
Name[ky]=Xlock экранын кулпулоону конфигурациялаңыз
Name[la]=Configurare Xlock screen obfirmatis sera
Name[lb]=Xlock Écran Sperrung konfiguréieren
Name[lg]=Tegeka okusiba screen ya Xlock
Name[ln]=Configurer blocage ya écran ya Xlock
Name[lo]=ຕັ້ງຄ່າການລັອກໜ້າຈໍ Xlock
Name[lt]=Konfigūruokite „Xlock“ ekrano užraktą
Name[lv]=Konfigurējiet Xlock ekrāna bloķēšanu
Name[mg]=Ampifanaraho ny fanidiana efijery Xlock
Name[mi]=Whirihorahia te maukati mata Xlock
Name[mk]=Конфигурирајте го заклучувањето на екранот Xlock
Name[ml]=Xlock സ്ക്രീൻ ലോക്കിംഗ് കോൺഫിഗർ ചെയ്യുക
Name[mn]=Xlock дэлгэцийн түгжээг тохируулах
Name[mr]=Xlock स्क्रीन लॉकिंग कॉन्फिगर करा
Name[ms]=Konfigurasikan penguncian skrin Xlock
Name[mt]=Ikkonfigura l-illokkjar tal-iskrin Xlock
Name[my]=Xlock မျက်နှာပြင်လော့ခ်ချခြင်းကို စီစဉ်သတ်မှတ်ပါ။
Name[ne]=Xlock स्क्रिन लक कन्फिगर गर्नुहोस्
Name[nl]=Configureer Xlock-schermvergrendeling
Name[no]=Konfigurer Xlock-skjermlåsing
Name[ny]=Konzani kutseka kwa skrini ya Xlock
Name[om]=Qulfii iskiriinii Xlock qindeessuu
Name[or]=Xlock ସ୍କ୍ରିନ୍ ଲକିଂକୁ ବିନ୍ୟାସ କରନ୍ତୁ |
Name[pa]=Xlock ਸਕ੍ਰੀਨ ਲੌਕਿੰਗ ਨੂੰ ਕੌਂਫਿਗਰ ਕਰੋ
Name[pl]=Skonfiguruj blokowanie ekranu Xlock
Name[ps]=ﺉړﮐ ﻢﯿﻈﻨﺗ ﻝﻮﮐ ﮎﻻ﻿ ﻦﯾﺮﮑﺳ ﮎﻻ﻿ ﺲﮑﯾﺍ ﺩ
Name[pt]=Configurar o bloqueio de tela do Xlock
Name[qu]=Xlock pantalla wichqayta ruway
Name[ro]=Configurați blocarea ecranului Xlock
Name[rw]=Hindura Xlock ya ecran
Name[sa]=Xlock स्क्रीन लॉकिंग विन्यस्तं कुर्वन्तु
Name[sd]=Xlock ﻮﻳڏ ﺐﻴﺗﺮﺗ ﻲﮐ ﮓﻨڪﻻ﻿ ﻦﻳﺮڪﺳﺍ
Name[si]=Xlock තිර අගුලු දැමීම වින්u200dයාස කරන්න
Name[sk]=Nakonfigurujte uzamknutie obrazovky Xlock
Name[sl]=Konfigurirajte zaklepanje zaslona Xlock
Name[sm]=Faatonu le lokaina o le mata Xlock
Name[sn]=Gadzirisa Xlock skrini yekukiya
Name[so]=Habee qufulka shaashadda Xlock
Name[sq]=Konfiguro kyçjen e ekranit Xlock
Name[st]=Lokisa ho notlela skrineng sa Xlock
Name[su]=Konpigurasikeun konci layar Xlock
Name[sv]=Konfigurera Xlock-skärmlåsning
Name[sw]=Sanidi kufunga skrini ya Xlock
Name[ta]=Xlock திரை பூட்டுதலை உள்ளமைக்கவும்
Name[te]=Xlock స్క్రీన్ లాకింగ్u200cను కాన్ఫిగర్ చేయండి
Name[tg]=Қулфи экрани Xlock-ро танзим кунед
Name[th]=กำหนดค่าการล็อกหน้าจอ Xlock
Name[ti]=Xlock ስክሪን ምዕጻው ምውቃር
Name[tk]=“Xlock” ekrany gulplamak
Name[tl]=I-configure ang Xlock screen lock
Name[to]=Configure Xlock screen ʻoku lokaʻi
Name[ts]=Hlela ku pfala ka xikirini xa Xlock
Name[tt]=Xlock экранын бикләү
Name[tw]=Hyehyɛ Xlock screen lock no
Name[ty]=Configure Xlock screen ponao
Name[ug]=Xlock ﯓەﻠﭘەﺳ ﻰﻨﯩﭘﯘﻟﯘﻗ ﻥﺍﺮﻜﯧﺋ
Name[uk]=Налаштуйте блокування екрана Xlock
Name[ur]=Xlock ۔ﮟﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ ﮓﻨﮐﻻ﻿ ﻦﯾﺮﮑﺳﺍ
Name[uz]=Xlock ekran qulfini sozlang
Name[vi]=Định cấu hình khóa màn hình Xlock
Name[xh]=Qwalasela ukutshixa isikrini seXlock
Name[yi]=גניקאַל ןלעטשראַפ Xlock רעיגיפנאַק
Name[yo]=Ṣe atunto titiipa iboju Xlock
Name[zh]=配置Xlock屏幕锁定
Name[zu]=Lungiselela ukukhiya isikrini kwe-Xlock
Name=Configure Xlock screen locking
Icon=mini-lock.xpm
Comment[fr]=Configurer le verrou d'écran : Xlock
Comment[de]=Xlock-Einrichtung
Comment[es]=Configurar el bloqueo de pantalla de Xlock
Comment[ru]=Настроить блокировку экрана Xlock
Comment[tr]=Xlock kurulumu
Comment[af]=Stel Xlock-skermsluiting op
Comment[am]=የXlock ማያ ገጽ መቆለፍን ያዋቅሩ
Comment[ar]=Xlock ﺔﺷﺎﺸﻟﺍ ﻞﻔﻗ ﻦﻳﻮﻜﺗ
Comment[as]=Xlock পৰ্দা লক বিন্যাস কৰক
Comment[ay]=Xlock pantalla bloqueo ukar uñt’ayaña
Comment[az]=Xlock ekran kilidini konfiqurasiya edin
Comment[ba]=Configure Xlock экранын бикләү
Comment[be]=Наладзьце блакіроўку экрана Xlock
Comment[bg]=Конфигуриране на Xlock заключване на екрана
Comment[bm]=Xlock ekran datugucogo labɛn
Comment[bn]=Xlock স্ক্রিন লকিং কনফিগার করুন
Comment[bo]=Xlock བརྙན་ཤེལ་གྱི་ཟྭ་རྒྱག་སྟངས་བཀོད་སྒྲིག་བྱེད་པ།
Comment[bs]=Konfigurišite zaključavanje ekrana Xlock
Comment[ca]=Configura el bloqueig de pantalla Xlock
Comment[co]=Configurate u bloccu di u screnu Xlock
Comment[cs]=Nakonfigurujte zamykání obrazovky Xlock
Comment[cy]=Ffurfweddu cloi sgrin Xlock
Comment[da]=Konfigurer Xlock-skærmlåsning
Comment[dv]=ންރުކު ޓްރޭގްފިންކޮ ގންކިލޮ ންރީކްސް ކްލޮސްކްއެ
Comment[ee]=Trɔ asi le Xlock screen ƒe ʋuʋu ŋu
Comment[el]=Διαμόρφωση κλειδώματος οθόνης Xlock
Comment[eo]=Agordu Xlock-ekranŝlosadon
Comment[et]=Xlocki ekraaniluku konfigureerimine
Comment[eu]=Konfiguratu Xlock pantailaren blokeoa
Comment[fa]=ﺪﯿﻨﮐ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ Xlock ﻪﺤﻔﺻ ﻞﻔﻗ
Comment[fi]=Määritä Xlock-näytön lukitus
Comment[fj]=Tuvanaka na loka ni sikirini Xlock
Comment[fo]=Configure Xlock screen lásið
Comment[fy]=Konfigurearje Xlock skermbeskoatteljen
Comment[ga]=Cumraigh glasáil scáileáin Xlock
Comment[gd]=Dèan rèiteachadh air glasadh sgrion Xlock
Comment[gl]=Configura o bloqueo da pantalla Xlock
Comment[gn]=Emohenda Xlock pantalla ñemboty
Comment[gu]=Xlock સ્ક્રીન લોકીંગને ગોઠવો
Comment[ha]=Sanya kulle allo na Xlock
Comment[he]=Xlock ךסמ תליענ תא רדגה
Comment[hi]=एक्सलॉक स्क्रीन लॉकिंग कॉन्फ़िगर करें
Comment[hr]=Konfigurirajte Xlock zaključavanje zaslona
Comment[ht]=Konfigure Xlock ekran bloke
Comment[hu]=Konfigurálja az Xlock képernyőzárat
Comment[hy]=Կարգավորեք Xlock էկրանի կողպումը
Comment[id]=Konfigurasikan penguncian layar Xlock
Comment[ig]=Hazie mkpọchi ihuenyo Xlock
Comment[is]=Stilltu Xlock skjálæsingu
Comment[it]=Configura il blocco dello schermo Xlock
Comment[iu]=ᐋᖅᑭᒃᓯᒪᓂᖓ Xlock ᐃᒐᓚᐅᔭᕐᒧᑦ ᑮᒃᑕᐅᑎ
Comment[ja]=Xlock 画面ロックを構成する
Comment[jv]=Konfigurasi ngunci layar Xlock
Comment[ka]=Xlock ეკრანის დაბლოკვის კონფიგურაცია
Comment[kk]=Xlock экранын құлыптауды конфигурациялаңыз
Comment[km]=កំណត់រចនាសម្ព័ន្ធការចាក់សោអេក្រង់ Xlock
Comment[kn]=Xlock ಸ್ಕ್ರೀನ್ ಲಾಕ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡಿ
Comment[ko]=Xlock 화면 잠금 구성
Comment[ku]=Girtina ekrana Xlockê mîheng bike
Comment[ky]=Xlock экранын кулпулоону конфигурациялаңыз
Comment[la]=Configurare Xlock screen obfirmatis sera
Comment[lb]=Xlock Écran Sperrung konfiguréieren
Comment[lg]=Tegeka okusiba screen ya Xlock
Comment[ln]=Configurer blocage ya écran ya Xlock
Comment[lo]=ຕັ້ງຄ່າການລັອກໜ້າຈໍ Xlock
Comment[lt]=Konfigūruokite Xlock ekrano užraktą
Comment[lv]=Konfigurējiet Xlock ekrāna bloķēšanu
Comment[mg]=Ampifanaraho ny fanidiana efijery Xlock
Comment[mi]=Whirihorahia te maukati mata Xlock
Comment[mk]=Конфигурирајте го заклучувањето на екранот Xlock
Comment[ml]=Xlock സ്ക്രീൻ ലോക്കിംഗ് കോൺഫിഗർ ചെയ്യുക
Comment[mn]=Xlock дэлгэцийн түгжээг тохируулах
Comment[mr]=Xlock स्क्रीन लॉकिंग कॉन्फिगर करा
Comment[ms]=Konfigurasikan penguncian skrin Xlock
Comment[mt]=Ikkonfigura l-illokkjar tal-iskrin Xlock
Comment[my]=Xlock မျက်နှာပြင်လော့ခ်ချခြင်းကို စီစဉ်သတ်မှတ်ပါ။
Comment[ne]=Xlock स्क्रिन लक कन्फिगर गर्नुहोस्
Comment[nl]=Configureer Xlock-schermvergrendeling
Comment[no]=Konfigurer Xlock-skjermlåsing
Comment[ny]=Konzani kutseka kwa skrini ya Xlock
Comment[om]=Qulfii iskiriinii Xlock qindeessuu
Comment[or]=Xlock ସ୍କ୍ରିନ୍ ଲକିଂକୁ ବିନ୍ୟାସ କରନ୍ତୁ |
Comment[pa]=Xlock ਸਕ੍ਰੀਨ ਲੌਕਿੰਗ ਨੂੰ ਕੌਂਫਿਗਰ ਕਰੋ
Comment[pl]=Skonfiguruj blokowanie ekranu Xlock
Comment[ps]=ﺉړﮐ ﻢﯿﻈﻨﺗ ﻝﻮﮐ ﮎﻻ﻿ ﻦﯾﺮﮑﺳ ﮎﻻ﻿ ﺲﮑﯾﺍ ﺩ
Comment[pt]=Configurar o bloqueio de tela do Xlock
Comment[qu]=Xlock pantalla wichqayta ruway
Comment[ro]=Configurați blocarea ecranului Xlock
Comment[rw]=Hindura Xlock ya ecran
Comment[sa]=Xlock स्क्रीन लॉकिंग विन्यस्तं कुर्वन्तु
Comment[sd]=Xlock ﻮﻳڏ ﺐﻴﺗﺮﺗ ﻲﮐ ﮓﻨڪﻻ﻿ ﻦﻳﺮڪﺳﺍ
Comment[si]=Xlock තිර අගුලු දැමීම වින්u200dයාස කරන්න
Comment[sk]=Nakonfigurujte uzamknutie obrazovky Xlock
Comment[sl]=Konfigurirajte zaklepanje zaslona Xlock
Comment[sm]=Faatonu le lokaina o le mata Xlock
Comment[sn]=Gadzirisa Xlock skrini yekukiya
Comment[so]=Habee qufulka shaashadda Xlock
Comment[sq]=Konfiguro kyçjen e ekranit Xlock
Comment[st]=Lokisa ho notlela skrineng sa Xlock
Comment[su]=Konpigurasikeun konci layar Xlock
Comment[sv]=Konfigurera Xlock-skärmlåsning
Comment[sw]=Sanidi kufunga skrini ya Xlock
Comment[ta]=Xlock திரை பூட்டுதலை உள்ளமைக்கவும்
Comment[te]=Xlock స్క్రీన్ లాకింగ్u200cను కాన్ఫిగర్ చేయండి
Comment[tg]=Қулфи экрани Xlock-ро танзим кунед
Comment[th]=กำหนดค่าการล็อกหน้าจอ Xlock
Comment[ti]=Xlock ስክሪን ምዕጻው ምውቃር
Comment[tk]=“Xlock” ekrany gulplamak
Comment[tl]=I-configure ang Xlock screen lock
Comment[to]=Configure Xlock screen ʻoku lokaʻi
Comment[ts]=Hlela ku pfala ka xikirini xa Xlock
Comment[tt]=Xlock экранын бикләү
Comment[tw]=Hyehyɛ Xlock screen lock no
Comment[ty]=Configure Xlock screen ponao
Comment[ug]=Xlock ﯓەﻠﭘەﺳ ﻰﻨﯩﭘﯘﻟﯘﻗ ﻥﺍﺮﻜﯧﺋ
Comment[uk]=Налаштуйте блокування екрана Xlock
Comment[ur]=Xlock ۔ﮟﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ ﮓﻨﮐﻻ﻿ ﻦﯾﺮﮑﺳﺍ
Comment[uz]=Xlock ekran qulfini sozlang
Comment[vi]=Định cấu hình khóa màn hình Xlock
Comment[xh]=Qwalasela ukutshixa isikrini seXlock
Comment[yi]=גניקאַל ןלעטשראַפ Xlock רעיגיפנאַק
Comment[yo]=Ṣe atunto titiipa iboju Xlock
Comment[zh]=配置Xlock屏幕锁定
Comment[zu]=Lungiselela ukukhiya isikrini kwe-Xlock
Comment=Configure Xlock screen locking
Exec=/usr/local/apps/Xlock/AppRun -configure
Terminal=false
Type=Application
Categories=X-Desktop-sleep
GenericName=Xlock
