[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le verrou d'écran : Xlock
Name[de]=Konfigurieren der Xlock-Bildschirmsperre
Name[es]=Configuración de Xlock
Name[ru]=Настроить блокировку экрана Xlock
Name=Configure Xlock screen locking
Icon=mini-lock.xpm
Comment[fr]=Configurer le verrou d'écran : Xlock
Comment[de]=Xlock-Einrichtung
Comment[es]=Configurar el bloqueo de pantalla de Xlock
Comment[ru]=Настроить блокировку экрана Xlock
Comment=Configure Xlock screen locking
Exec=/usr/local/apps/Xlock/AppRun -configure
Terminal=false
Type=Application
Categories=X-Desktop-sleep
GenericName=Xlock
