[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le verrou d'écran : Xlock
Name=Configure Xlock screen locking
Icon=mini-lock.xpm
Comment=Xlock setup
Exec=/usr/local/apps/Xlock/AppRun -configure
Terminal=false
Type=Application
Categories=X-Desktop-sleep
GenericName=Xlock
