[Desktop Entry]
Encoding=UTF-8
Name[fr]=Verrou d'écran : Xlock
Name[de]=Xlock-Sperrbildschirm
Name[es]=Xlock: bloquear pantalla
Name[ru]=Экран блокировки XLock
Name=Xlock lock screen
Icon=mini-lock.xpm
Comment[fr]=Verrou d'écran : Xlock
Comment[de]=Xlock-Sperrbildschirm
Comment[es]=Bloquear pantalla
Comment[ru]=Экран блокировки XLock
Comment=Xlock lock screen
Exec=/usr/local/apps/Xlock/AppRun -locknow
Terminal=false
Type=Application
Categories=X-System-security
GenericName=Xlock
