[Desktop Entry]
Encoding=UTF-8
Name[fr]=Assistant vidéo : Xorg
Name[de]=Xorg-Video-Assistent
Name=Xorg Video Wizard
Icon=wizard16.xpm
Comment[de]=Xorg-Video-Assistent
Comment=Xorg Video Wizard
Exec=xorgwizard
Terminal=false
NoDisplay=true
Type=Application
Categories=X-SetupWizard
GenericName=Xorg Video Wizard
