[Desktop Entry]
Encoding=UTF-8
Name[fr]=Assistant vidéo : Xorg
Name[de]=Xorg-Video-Assistent
Name[es]=Asistente de video de Xorg
Name[ru]=Мастер настройки Xorg
Name[tr]=Xorg Video Sihirbazı
Name=Xorg Video Wizard
Icon=wizard16.xpm
Comment[fr]=Assistant vidéo : Xorg
Comment[de]=Xorg-Video-Assistent
Comment[es]=Asistente de video de Xorg
Comment[ru]=Мастер видео Xorg
Comment[tr]=Xorg Video Sihirbazı
Comment=Xorg Video Wizard
Exec=xorgwizard
Terminal=false
NoDisplay=true
Type=Application
Categories=X-SetupWizard
GenericName=Xorg Video Wizard
