[Desktop Entry]
Encoding=UTF-8
Name[fr]=Jeu de guerre spatiale : Xsoldier
Name[de]=Xsoldier Weltraumkrieg
Name=Xsoldier - space arcade
Icon=xsoldier.xpm
Comment[de]=Xsoldier Weltraumkrieg
Comment=Xsoldier space war
Exec=xsoldier
Terminal=false
Type=Application
Categories=Game
GenericName=Xsoldier
