[Desktop Entry]
Encoding=UTF-8
Name[fr]=Jeu de guerre spatiale : Xsoldier
Name[de]=Xsoldier Weltraumkrieg
Name[es]=Xsoldier: guerra espacial
Name[ru]=Xsoldier космическая аркада
Name[tr]=Xsoldier uzay savaşı
Name[af]=Xsoldier - ruimte arcade
Name[am]=Xsoldier - የጠፈር ማዕከል
Name[ar]=Xsoldier - ءﺎﻀﻔﻟﺍ ﺮﻤﻣ
Name[as]=Xsoldier - মহাকাশ আর্কেড
Name[ay]=Xsoldier - arcade espacial ukax mä jach’a uñacht’äwiwa
Name[az]=Xsoldier - kosmik arcade
Name[ba]=Хсольдье — космос аркадаһы
Name[be]=Xsoldier - касмічная аркада
Name[bg]=Xsoldier - космическа аркада
Name[bm]=Xsoldier - yɔrɔ la arcade
Name[bn]=এক্সসোল্ডার - স্পেস আর্কেড
Name[bo]=Xsoldier - བར་སྣང་གི་གཞུ་དབྱིབས་
Name[bs]=Xsoldier - svemirska igra
Name[ca]=Xsoldat - arcade espacial
Name[co]=Xsoldier - arcade spaziale
Name[cs]=Xsoldier - vesmírná arkáda
Name[cy]=Xsoldier - arcêd gofod
Name[da]=Xsoldier - rumarkade
Name[dv]=ޑްކޭރއާ ސްޕޭސް - ރޖަލްސޮސްކްއެ
Name[ee]=Xsoldier - yamenutome fefewɔƒe
Name[el]=Xsoldier - διαστημική στοά
Name[eo]=Xsoldato - spaca arkado
Name[et]=Xsoldier - kosmosearkaad
Name[eu]=Xsoldat - arcade espaziala
Name[fa]=Xsoldier - ﯽﯾﺎﻀﻓ ﯼﺯﺎﺑ
Name[fi]=Xsoldier - avaruushalli
Name[fj]=Xsoldier - space arcade
Name[fo]=Xsoldier - space arcade
Name[fy]=Xsoldier - romte arcade
Name[ga]=Xsoldier - stua spás
Name[gd]=Xsoldier - arcade fànais
Name[gl]=Xsoldado - arcade espacial
Name[gn]=Xsoldier - arcada espacial rehegua
Name[gu]=Xsoldier - જગ્યા આર્કેડ
Name[ha]=Xsoja - filin ajiye motoci
Name[he]=Xsoldier - ללח דייקרא
Name[hi]=एक्ससोल्जर - अंतरिक्ष आर्केड
Name[hr]=Xsoldier - svemirska arkada
Name[ht]=Xsoldier - espas arcade
Name[hu]=Xsoldier - űr arcade
Name[hy]=Xsoldier - տիեզերական արկադ
Name[id]=Xsoldier - ruang arcade
Name[ig]=Xsolder - oghere oghere
Name[is]=Xsoldier - spilasalur í geimnum
Name[it]=Xsoldato - sala giochi spaziale
Name[iu]=Xsoldier - ᐃᓂᐅᔪᖅ
Name[ja]=XSoldier - スペースアーケード
Name[jv]=Xsoldier - papan arcade
Name[ka]=Xsoldier - კოსმოსური არკადი
Name[kk]=Xsoldier - ғарыштық аркада
Name[km]=Xsoldier - ល្បែងអវកាស
Name[kn]=Xsoldier - ಸ್ಪೇಸ್ ಆರ್ಕೇಡ್
Name[ko]=Xsoldier - 우주 아케이드
Name[ku]=Xsoldier - arcade cîhê
Name[ky]=Xsoldier - космостук аркада
Name[la]=Xsoldier - spatium cryptoporticus
Name[lb]=Xsoldier - Space Arkad
Name[lg]=Xsoldier - ekifo ekyokuzannyiramu mu bwengula
Name[ln]=Xsoldier - arcade ya espace
Name[lo]=Xsoldier - ອາເຂດອາກາດ
Name[lt]=Xsoldier – kosminė arkada
Name[lv]=Xsoldier - kosmosa pasāža
Name[mg]=Xsoldier - toerana arcade
Name[mi]=Xsoldier - waahi waahi
Name[mk]=Xsoldier - вселенска аркада
Name[ml]=Xsoldier - സ്പേസ് ആർക്കേഡ്
Name[mn]=Xsoldier - сансрын аркад
Name[mr]=Xsolier - अंतराळ आर्केड
Name[ms]=Xsoldier - arked angkasa
Name[mt]=Xsoldat - arcade spazjali
Name[my]=Xsoldier - အာကာသဂိမ်း
Name[ne]=Xsoldier - अन्तरिक्ष आर्केड
Name[nl]=Xsoldier - ruimte-arcade
Name[no]=Xsoldier - romarkade
Name[ny]=Xsoldier - malo ochitira masewera
Name[om]=Xloltuu - arcade hawaa
Name[or]=Xsoldier - ସ୍ପେସ୍ ଆର୍କେଡ୍ |
Name[pa]=ਐਕਸਸੋਲਜਰ - ਸਪੇਸ ਆਰਕੇਡ
Name[pl]=Xsoldier - kosmiczna gra zręcznościowa
Name[ps]=Xsoldier - ډﯿﮐﺭﺁ ﺎﻀﻓ ﺩ
Name[pt]=Xsoldier - arcade espacial
Name[qu]=Xsoldier - arcade espacial
Name[ro]=Xsoldat - arcade spațială
Name[rw]=Xsoldier - umwanya arcade
Name[sa]=Xsoldier - अन्तरिक्ष आर्केड
Name[sd]=Xsoldier - ڊﻴڪﺭﺁ ﻲﺋﻼ﻿ﺧ
Name[si]=Xsoldier - අභ්u200dයවකාශ ආකේඩ්
Name[sk]=Xsoldier - vesmírna arkáda
Name[sl]=Xsoldier - vesoljska arkada
Name[sm]=Xsoldier - avanoa avanoa
Name[sn]=Xsoldier - nzvimbo arcade
Name[so]=Askariga - meel arcade
Name[sq]=Xsoldier - arkadë hapësinore
Name[st]=Xsoldier - sebaka sa papali ea boithabiso
Name[su]=Xsoldier - arcade spasi
Name[sv]=Xsoldier - rymdspel
Name[sw]=Xsoldier - nafasi ya Arcade
Name[ta]=Xsoldier - விண்வெளி ஆர்கேட்
Name[te]=Xsoldier - స్పేస్ ఆర్కేడ్
Name[tg]=Xsoldier - аркадаи кайҳонӣ
Name[th]=Xsoldier - อาเขตอวกาศ
Name[ti]=Xsoldier - ናይ ህዋ ኣርኬድ
Name[tk]=Xsoldier - kosmos arkasy
Name[tl]=Xsoldier - space arcade
Name[to]=Xsoldier-space arcade
Name[ts]=Xsoldier - xivandla xa le xibakabakeni
Name[tt]=Xsoldier - космик аркада
Name[tw]=Xsoldier - ahunmu agoprama
Name[ty]=Xsoldier - space arcade
Name[ug]=Xsoldier - ﻰﻧﺍﺪﻳەﻣ ﻕﯘﻠﺷﻮﺑ
Name[uk]=Xsoldier - космічна аркада
Name[ur]=Xsoldier - ﮉﯿﮐﺭﺁ ﯽﺋﻼ﻿ﺧ
Name[uz]=Xsoldier - kosmik arkada
Name[vi]=Xsoldier - trò chơi điện tử không gian
Name[xh]=Xsoldier - indawo ye-arcade
Name[yi]=Xsoldier - דייקראַ ץאַלפּ
Name[yo]=Xsoldier - Olobiri aaye
Name[zh]=Xsoldier - 太空街机
Name[zu]=I-Xsoldier - indawo yokudlala yesikhala
Name=Xsoldier - space arcade
Icon=xsoldier.xpm
Comment[fr]=Jeu de guerre spatiale : Xsoldier
Comment[de]=Xsoldier Weltraumkrieg
Comment[es]=Xsoldier: guerra espacial
Comment[ru]=Xsoldier - космическая аркада
Comment[tr]=Xsoldier uzay savaşı
Comment[af]=Xsoldier ruimte oorlog
Comment[am]=ወታደር የጠፈር ጦርነት
Comment[ar]=Xsoldier ءﺎﻀﻔﻟﺍ ﺏﺮﺣ
Comment[as]=Xsoldier মহাকাশ যুদ্ধ
Comment[ay]=Xsoldado espacial ch’axwäwi
Comment[az]=Xsoldier kosmik müharibə
Comment[ba]=Хсольдье космос һуғышы
Comment[be]=Xsoldier касмічная вайна
Comment[bg]=Xsoldier космическа война
Comment[bm]=Xsoldier sanfɛla kɛlɛ
Comment[bn]=এক্সসোল্ডার মহাকাশ যুদ্ধ
Comment[bo]=ཞི་ཨར་ཏི་ཡི་འཇིག་རྟེན་འཕུར་སྐྱོད་དམག་འཁྲུག
Comment[bs]=Xsoldier svemirski rat
Comment[ca]=Guerra espacial Xsoldat
Comment[co]=Xsoldat guerra spaziale
Comment[cs]=Xsoldier vesmírná válka
Comment[cy]=Rhyfel gofod Xsoldier
Comment[da]=Xsoldier rumkrig
Comment[dv]=ރވާ ސްޕޭސް ރޖަލްސޮސްކްއެ
Comment[ee]=Xasrafo yamenutomeʋa
Comment[el]=Xsoldier διαστημικός πόλεμος
Comment[eo]=Xsoldato spaca milito
Comment[et]=Xsoldieri kosmosesõda
Comment[eu]=Xsoldadu espazio gerra
Comment[fa]=Xsoldier ﯽﯾﺎﻀﻓ ﮓﻨﺟ
Comment[fi]=Xsoldier avaruussota
Comment[fj]=Xsoldier ni vanua ni ivalu
Comment[fo]=Xsoldier space war
Comment[fy]=Xsoldier romte oarloch
Comment[ga]=Cogadh spás xsoldier
Comment[gd]=Cogadh fànais xsoldier
Comment[gl]=Xsoldado guerra espacial
Comment[gn]=Xsoldado ñorairõ espacial rehegua
Comment[gu]=એક્સ સોલ્જર સ્પેસ વોર
Comment[ha]=Yakin sararin samaniya
Comment[he]=Xsoldier ללחה תמחלמ
Comment[hi]=एक्ससोल्जर अंतरिक्ष युद्ध
Comment[hr]=Xsoldier svemirski rat
Comment[ht]=Xsolder espas lagè
Comment[hu]=Xsoldier űrháború
Comment[hy]=Xsoldier տիեզերական պատերազմ
Comment[id]=*Soldier space war
Comment[ig]=Xagha oghere agha
Comment[is]=Xsoldier geimstríð
Comment[it]=Xsoldato guerra spaziale
Comment[iu]=X ᓯᕐᓗᐊᖅ ᐅᓇᑕᖅᑐᖅ
Comment[ja]=エクスソルジャー宇宙戦争
Comment[jv]=Perang angkasa Xsoldier
Comment[ka]=Xsoldier კოსმოსური ომი
Comment[kk]=Xsoldier ғарыш соғысы
Comment[km]=សង្គ្រាមអវកាស Xsoldier
Comment[kn]=Xsoldier ಬಾಹ್ಯಾಕಾಶ ಯುದ್ಧ
Comment[ko]=Xsoldier 우주 전쟁
Comment[ku]=Şerê fezayê Xsoldier
Comment[ky]=Xsoldier космос согушу
Comment[la]=Xsoldier spatium bellum
Comment[lb]=Xsoldier Weltraum Krich
Comment[lg]=Xsoldier olutalo lwomu bwengula
Comment[ln]=Xsoda bitumba ya espace
Comment[lo]=ສົງຄາມອະວະກາດ Xsoldier
Comment[lt]=Xsoldier kosminis karas
Comment[lv]=X karavīru kosmosa karš
Comment[mg]=Xsoldier space war
Comment[mi]=Xsoldier space war
Comment[mk]=Xsoldier вселенска војна
Comment[ml]=Xsoldier ബഹിരാകാശ യുദ്ധം
Comment[mn]=Xsoldier сансрын дайн
Comment[mr]=एक्ससोल्जर स्पेस वॉर
Comment[ms]=Perang angkasa Xaskar
Comment[mt]=Xsuldat gwerra spazjali
Comment[my]=Xsoldier အာကာသစစ်ပွဲ
Comment[ne]=Xsoldier अन्तरिक्ष युद्ध
Comment[nl]=Xsoldier ruimteoorlog
Comment[no]=Xsoldier romkrig
Comment[ny]=Nkhondo ya mmlengalenga ya Xsoldier
Comment[om]=Xloltuu waraana hawaa
Comment[or]=Xsoldier ସ୍ପେସ୍ ଯୁଦ୍ଧ |
Comment[pa]=ਐਕਸਸੋਲਡਰ ਸਪੇਸ ਯੁੱਧ
Comment[pl]=Wojna kosmiczna X żołnierza
Comment[ps]=Xsoldier ﻩړګﺟ ﺎﻀﻓ
Comment[pt]=Guerra espacial Xsoldier
Comment[qu]=Xsoldado espacio guerra
Comment[ro]=Xsoldat război spațial
Comment[rw]=Intambara yo mu kirere Xsoldier
Comment[sa]=Xsoldier अन्तरिक्ष युद्ध
Comment[sd]=Xsoldier ﮓﻨﺟ ﻲﺋﻼ﻿ﺧ
Comment[si]=Xsoldier අභ්u200dයවකාශ යුද්ධය
Comment[sk]=Xsoldier vesmírna vojna
Comment[sl]=Xsoldier vesoljska vojna
Comment[sm]=Xsoldier space taua
Comment[sn]=Xsoldier space war
Comment[so]=Xaska dagaalka cirka
Comment[sq]=Lufta hapësinore Xsoldier
Comment[st]=Ntoa ea sebaka sa Xsoldier
Comment[su]=Perang angkasa Xsoldier
Comment[sv]=Xsoldier rymdkrig
Comment[sw]=Vita vya nafasi ya Xsoldier
Comment[ta]=Xsoldier விண்வெளிப் போர்
Comment[te]=Xsoldier అంతరిక్ష యుద్ధం
Comment[tg]=Ҷанги кайҳонии Xsoldier
Comment[th]=Xsoldier สงครามอวกาศ
Comment[ti]=Xsoldier ኲናት ህዋ
Comment[tk]=Ksoldier kosmos söweşi
Comment[tl]=Xsoldier space war
Comment[to]=Xsoldier tau vavaa
Comment[ts]=Xsocha nyimpi ya le xibakabakeni
Comment[tt]=Ксольдиер космик сугыш
Comment[tw]=Xsoldier ahunmu akodi
Comment[ty]=Te tamai i roto i te reva teitei
Comment[ug]=Xsoldier ﻰﺷﯗﺭﯘﺋ ﻡەﻟﺎﺋ
Comment[uk]=Космічна війна Xsoldier
Comment[ur]=ﮓﻨﺟ ﯽﺋﻼ﻿ﺧ ﺮﺠﻟﻮﺳ ﺲﮑﯾﺍ
Comment[uz]=Xsoldier kosmik urushi
Comment[vi]=Chiến tranh không gian Xsoldier
Comment[xh]=Xsoldier isithuba imfazwe
Comment[yi]=Xsoldier המחלמ ץאַלפּ
Comment[yo]=Xologun aaye ogun
Comment[zh]=X士兵太空战争
Comment[zu]=Impi yasemkhathini yeXsoldier
Comment=Xsoldier space war
Exec=xsoldier
Terminal=false
Type=Application
Categories=Game
GenericName=Xsoldier
