[Desktop Entry]
Encoding=UTF-8
Name[fr]=Clavier virtuel : XVkbd
Name[de]=Virtuelle XVkbd-Tastatur
Name=XVkbd virtual keyboard
Icon=mini-keyboard.xpm
Comment[fr]=Afficher un clavier virtuel XVkbd
Comment[de]=Virtuelle XVkbd-Tastatur
Comment=XVkbd virtual keyboard
Exec=xvkbd-wrapper
Terminal=false
Type=Application
Categories=X-Desktop-applet
GenericName=XVkbd
