[Desktop Entry]
Encoding=UTF-8
Name[de]=Ycalc TI-59 wissenschaftlicher Taschenrechner
Name[fr]=Calculatrice scientifique : Ycalc TI-59
Name[es]=Ycalc: calculadora científica TI-59
Name=Ycalc TI-59 scientific calculator
Icon=mini-calc.xpm
Comment[de]=Ycalc TI-59 wissenschaftlicher Taschenrechner
Comment[es]=Ycalc: calculadora científica TI-59
Comment=Ycalc TI-59 scientific calculator
Exec=ycalc
Terminal=false
Type=Application
Categories=X-Business-calc
GenericName=Ycalc
