[Desktop Entry]
Encoding=UTF-8
Name[fr]=Télecharger sur YouTube : YouTubeDL
Name=YouTubeDL YouTube downloader
Icon=youtubedl.png
Comment[fr]=Télécharger des vidéo Youtube
Comment=YouTubeDL YouTube downloader
Exec=/usr/local/youtubedl/youtubedl
Terminal=false
Type=Application
Categories=FileTransfer
GenericName=YouTubeDL
