[Desktop Entry]
Encoding=UTF-8
Name[de]=Zarfy verwaltet mehrere Monitore
Name[fr]=Gérer plusieurs moniteurs : Zarfy
Name[es]=Zarfy: gestiona monitores múltiples
Name[tr]=Zarfy çoklu monitör yönetimi
Name=Zarfy manage multiple monitors
Icon=zarfy.png
Comment[de]=Zarfy verwaltet mehrere Monitore
Comment[fr]=Gérer de plusieurs moniteurs Zarfy
Comment[es]=Zarfy: gestiona monitores múltiples
Comment[tr]=Zarfy birden fazla monitörü yönetir
Comment=Zarfy manage multiple monitors
Exec=zarfywrapper
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Zarfy
