[Desktop Entry]
Encoding=UTF-8
Name[af]=Gnumeriese sigbladredigeerder
Name[am]=Gnumeric የተመን ሉህ አርታዒ
Name[ar]=ﺔﻴﻤﻗﺮﻟﺍ ﺕﺎﻧﺎﻴﺒﻟﺍ ﻝﻭﺍﺪﺟ ﺭﺮﺤﻣ
Name[as]=Gnumeric স্প্ৰেডশ্বীট সম্পাদক
Name[ay]=Gnumérico ukax mä editor de hoja de cálculo ukankiwa
Name[az]=Gnumeric cədvəl redaktoru
Name[ba]=Гнумерик электрон таблица мөхәррире
Name[be]=Рэдактар электронных табліц Gnumeric
Name[bg]=Gnumeric редактор на електронни таблици
Name[bm]=Gnumeric jatebɔsɛbɛnw ɲɛnabɔbaga
Name[bn]=জিনিউমেরিক স্প্রেডশীট সম্পাদক
Name[bo]=གྲངས་ཀའི་རེའུ་མིག་གི་རྩོམ་སྒྲིག་པ།
Name[bs]=Gnumerički uređivač tabela
Name[ca]=Editor de fulls de càlcul Gnumeric
Name[co]=Editore di fogli di calcolo Gnumeric
Name[cs]=Tabulkový editor Gnumeric
Name[cy]=Golygydd taenlen gnumeric
Name[da]=Gnumerisk regnearkseditor
Name[de]=Gnumerischer Tabellenkalkulationseditor
Name[dv]=ރޓަޑިއެ ޓްޝީޑްރެޕްސް ކްރިމެއުނިގް
Name[ee]=Gnumeric ƒe agbalẽvi ƒe nuŋlɔla
Name[el]=Επεξεργαστής υπολογιστικών φύλλων Gnumeric
Name[en]=Gnumeric spreadsheet editor
Name[eo]=Gnumera kalkultabelredaktilo
Name[es]=Editor de hojas de cálculo numérico
Name[et]=Gnumeric arvutustabeli redaktor
Name[eu]=Gnumeric kalkulu-orrien editorea
Name[fa]=ﯼﺩﺪﻋ ﻩﺩﺮﺘﺴﮔ ﻪﺤﻔﺻ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=Gnumeric laskentataulukkoeditori
Name[fj]=Edita ni spreadsheet ni Gnumeric
Name[fo]=Gnumeric spreadsheet editor
Name[fr]=Éditeur de feuille de calcul gnumérique
Name[fy]=Gnumerike spreadsheet bewurker
Name[ga]=Eagarthóir scarbhileog gnumeric
Name[gd]=Deasaiche spreadsheet gnumeric
Name[gl]=Editor de follas de cálculo Gnumeric
Name[gn]=Editor hoja de cálculo gnumérica rehegua
Name[gu]=જીન્યુમેરિક સ્પ્રેડશીટ એડિટર
Name[ha]=Gnumeric maɓalli editan
Name[he]=םיירמונג םיינורטקלא תונויליג ךרוע
Name[hi]=ग्नुमेरिक स्प्रेडशीट संपादक
Name[hr]=Gnumeric proračunske tablice editor
Name[ht]=Gnumeric editè calcul
Name[hu]=Gnumeric táblázatszerkesztő
Name[hy]=Թվային աղյուսակների խմբագիր
Name[id]=Editor spreadsheet Gnumeric
Name[ig]=Gnumeric spreadsheet nchịkọta akụkọ
Name[is]=Gnumeric töflureikni ritstjóri
Name[it]=Editor di fogli di calcolo Gnumeric
Name[iu]=Gnumeric spreadsheet
Name[ja]=Gnumeric スプレッドシート エディター
Name[jv]=Editor spreadsheet Gnumeric
Name[ka]=გნუმერული ცხრილების რედაქტორი
Name[kk]=Gnumeric электрондық кесте редакторы
Name[km]=កម្មវិធីនិពន្ធសៀវភៅបញ្ជី
Name[kn]=ಗ್ನ್ಯೂಮರಿಕ್ ಸ್ಪ್ರೆಡ್u200cಶೀಟ್ ಸಂಪಾದಕ
Name[ko]="Gnumeric 스프레드시트 편집기"
Name[ku]=Edîtorê tabloya gnumerîk
Name[ky]=Gnumeric электрондук жадыбал редактору
Name[la]=Gnumeric spreadsheet editor
Name[lb]=Gnumeresch Spreadsheet Editor
Name[lg]=Omulongoosa w'empapula z'ebiwandiiko eza Gnumeric
Name[ln]=Mobongisi ya feuille de calcul gnumérique
Name[lo]=ຕົວແກ້ໄຂສະເປຣດຊີດຕົວເລກ
Name[lt]=Gnumeric skaičiuoklės redaktorius
Name[lv]=Gnumeric izklājlapu redaktors
Name[mg]=Tonian-dahatsoratry ny takelaka Gnumeric
Name[mi]=ētita ripanga Gnumeric
Name[mk]=Гнумерички уредник на табеларни пресметки
Name[ml]=ഗ്ന്യൂമെറിക് സ്പ്രെഡ്ഷീറ്റ് എഡിറ്റർ
Name[mn]=Gnumeric хүснэгт засварлагч
Name[mr]=ग्न्यूमेरिक स्प्रेडशीट संपादक
Name[ms]=Editor hamparan gnumerik
Name[mt]=Editur tal-ispreadsheet Gnumeric
Name[my]=Gnumeric spreadsheet တည်းဖြတ်သူ
Name[ne]=Gnumeric स्प्रेडसिट सम्पादक
Name[nl]=Gnumerieke spreadsheet-editor
Name[no]=Gnumerisk regnearkredigerer
Name[ny]=Gnumeric spreadsheet editor
Name[om]=Gulaalaa gabatee gnumeric
Name[or]=ଗ୍ନୁମେରିକ୍ ସ୍ପ୍ରେଡସିଟ୍ ଏଡିଟର୍ |
Name[pa]=ਗਨੁਮੇਰਿਕ ਸਪ੍ਰੈਡਸ਼ੀਟ ਸੰਪਾਦਕ
Name[pl]=Edytor arkuszy kalkulacyjnych Gnumeric
Name[ps]=ﺮﯾﺪﻣ ټﯿﺷ ډﯾﺮﭙﺳ ﮏﯾﺮﻣﻮﻨګ ﺩ
Name[pt]=Editor de planilhas numéricas
Name[qu]=Gnumérico nisqa yupay raphi allichaq
Name[ro]=Editor de foi de calcul Gnumeric
Name[ru]=Редактор электронных таблиц Gnumeric
Name[rw]=Gnumeric urupapuro rwerekana urupapuro
Name[sa]=Gnumeric स्प्रेडशीट सम्पादक
Name[sd]=Gnumeric ﺮٽﻳڊﻳﺍ ٽﻴﺷ ڊﻳﺮﭙﺳﺍ
Name[si]=Gnumeric පැතුරුම්පත් සංස්කාරකය
Name[sk]=Tabuľkový editor Gnumeric
Name[sl]=Gnumeric urejevalnik preglednic
Name[sm]=Fa'atonu pepa fa'asologa o Gnumeric
Name[sn]=Gnumeric spreadsheet editor
Name[so]=Tifaftiraha xaashida Gnumeric
Name[sq]=Redaktori i fletëllogaritjes gnomerik
Name[st]=Gnumeric spreadsheet editor
Name[su]=Éditor spreadsheet Gnumeric
Name[sv]=Gnumerisk kalkylbladsredigerare
Name[sw]=Kihariri lahajedwali cha Gnumeric
Name[ta]=க்யூமெரிக் விரிதாள் எடிட்டர்
Name[te]=గ్న్యూమరిక్ స్ప్రెడ్u200cషీట్ ఎడిటర్
Name[tg]=Муҳаррири ҷадвали Gnumeric
Name[th]=โปรแกรมแก้ไขสเปรดชีต Gnumeric
Name[ti]=ግኑሜሪክ ስፕረድሺት ኤዲተር
Name[tk]=Gnumer elektron tablisasynyň redaktory
Name[tl]=Gnumeric spreadsheet editor
Name[to]=Gnumeric ʻetita spreadsheet
Name[tr]=Gnumeric elektronik tablo düzenleyicisi
Name[ts]=Muhleri wa xiphephana xa Gnumeric
Name[tt]=Гнумерик электрон таблица редакторы
Name[tw]=Gnumeric spreadsheet samufoɔ
Name[ty]=Gnumeric spreadsheet editor
Name[ug]=Gnumeric ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻝەﯞﺩەﺟ ﻕﯘﻠﻧﻭﺮﺘﻜﯧﻠﯧﺋ
Name[uk]=Редактор електронних таблиць Gnumeric
Name[ur]=ﺮﭩﯾﮉﯾﺍ ﭧﯿﺷﮉﯾﺮﭙﺳﺍ ﮎﺮﯿﻣﻮﻨﮔ
Name[uz]=Gnumeric elektron jadval muharriri
Name[vi]=Trình chỉnh sửa bảng tính Gnumeric
Name[xh]=Gnumeric spreadsheet umhleli
Name[yi]=ראָטקאַדער טישדערפּס קירעמונג
Name[yo]=Olootu lẹja Gnumeric
Name[zh]=Gnumeric 电子表格编辑器
Name[zu]=Umhleli wespredishithi we-Gnumeric
Name=Gnumeric spreadsheet editor
Icon=gnumeric.xpm
Comment[af]=Gnumeriese sigbladredigeerder
Comment[am]=Gnumeric የተመን ሉህ አርታዒ
Comment[ar]=ﺔﻴﻤﻗﺮﻟﺍ ﺕﺎﻧﺎﻴﺒﻟﺍ ﻝﻭﺍﺪﺟ ﺭﺮﺤﻣ
Comment[as]=Gnumeric স্প্ৰেডশ্বীট সম্পাদক
Comment[ay]=Gnumérico ukax mä editor de hoja de cálculo ukankiwa
Comment[az]=Gnumeric cədvəl redaktoru
Comment[ba]=Гнумерик электрон таблица мөхәррире
Comment[be]=Рэдактар электронных табліц Gnumeric
Comment[bg]=Gnumeric редактор на електронни таблици
Comment[bm]=Gnumeric jatebɔsɛbɛnw ɲɛnabɔbaga
Comment[bn]=জিনিউমেরিক স্প্রেডশীট সম্পাদক
Comment[bo]=གྲངས་ཀའི་རེའུ་མིག་གི་རྩོམ་སྒྲིག་པ།
Comment[bs]=Gnumerički uređivač tabela
Comment[ca]=Editor de fulls de càlcul Gnumeric
Comment[co]=Editore di fogli di calcolo Gnumeric
Comment[cs]=Tabulkový editor Gnumeric
Comment[cy]=Golygydd taenlen gnumeric
Comment[da]=Gnumerisk regnearkseditor
Comment[de]=Gnumerischer Tabellenkalkulationseditor
Comment[dv]=ރޓަޑިއެ ޓްޝީޑްރެޕްސް ކްރިމެއުނިގް
Comment[ee]=Gnumeric ƒe agbalẽvi ƒe nuŋlɔla
Comment[el]=Επεξεργαστής υπολογιστικών φύλλων Gnumeric
Comment[en]=Gnumeric spreadsheet editor
Comment[eo]=Gnumera kalkultabelredaktilo
Comment[es]=Editor de hojas de cálculo numérico
Comment[et]=Gnumeric arvutustabeli redaktor
Comment[eu]=Gnumeric kalkulu-orrien editorea
Comment[fa]=ﯼﺩﺪﻋ ﻩﺩﺮﺘﺴﮔ ﻪﺤﻔﺻ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=Gnumeric laskentataulukkoeditori
Comment[fj]=Edita ni spreadsheet ni Gnumeric
Comment[fo]=Gnumeric spreadsheet editor
Comment[fr]=Éditeur de feuille de calcul gnumérique
Comment[fy]=Gnumerike spreadsheet bewurker
Comment[ga]=Eagarthóir scarbhileog gnumeric
Comment[gd]=Deasaiche spreadsheet gnumeric
Comment[gl]=Editor de follas de cálculo Gnumeric
Comment[gn]=Editor hoja de cálculo gnumérica rehegua
Comment[gu]=જીન્યુમેરિક સ્પ્રેડશીટ એડિટર
Comment[ha]=Gnumeric maɓalli editan
Comment[he]=םיירמונג םיינורטקלא תונויליג ךרוע
Comment[hi]=ग्नुमेरिक स्प्रेडशीट संपादक
Comment[hr]=Gnumeric proračunske tablice editor
Comment[ht]=Gnumeric editè calcul
Comment[hu]=Gnumeric táblázatszerkesztő
Comment[hy]=Թվային աղյուսակների խմբագիր
Comment[id]=Editor spreadsheet Gnumeric
Comment[ig]=Gnumeric spreadsheet nchịkọta akụkọ
Comment[is]=Gnumeric töflureikni ritstjóri
Comment[it]=Editor di fogli di calcolo Gnumeric
Comment[iu]=Gnumeric spreadsheet
Comment[ja]=Gnumeric スプレッドシート エディター
Comment[jv]=Editor spreadsheet Gnumeric
Comment[ka]=გნუმერული ცხრილების რედაქტორი
Comment[kk]=Gnumeric электрондық кесте редакторы
Comment[km]=កម្មវិធីនិពន្ធសៀវភៅបញ្ជី
Comment[kn]=ಗ್ನ್ಯೂಮರಿಕ್ ಸ್ಪ್ರೆಡ್u200cಶೀಟ್ ಸಂಪಾದಕ
Comment[ko]="Gnumeric 스프레드시트 편집기"
Comment[ku]=Edîtorê tabloya gnumerîk
Comment[ky]=Gnumeric электрондук жадыбал редактору
Comment[la]=Gnumeric spreadsheet editor
Comment[lb]=Gnumeresch Spreadsheet Editor
Comment[lg]=Omulongoosa w'empapula z'ebiwandiiko eza Gnumeric
Comment[ln]=Mobongisi ya feuille de calcul gnumérique
Comment[lo]=ຕົວແກ້ໄຂສະເປຣດຊີດຕົວເລກ
Comment[lt]=Gnumeric skaičiuoklės redaktorius
Comment[lv]=Gnumeric izklājlapu redaktors
Comment[mg]=Tonian-dahatsoratry ny takelaka Gnumeric
Comment[mi]=ētita ripanga Gnumeric
Comment[mk]=Гнумерички уредник на табеларни пресметки
Comment[ml]=ഗ്ന്യൂമെറിക് സ്പ്രെഡ്ഷീറ്റ് എഡിറ്റർ
Comment[mn]=Gnumeric хүснэгт засварлагч
Comment[mr]=ग्न्यूमेरिक स्प्रेडशीट संपादक
Comment[ms]=Editor hamparan gnumerik
Comment[mt]=Editur tal-ispreadsheet Gnumeric
Comment[my]=Gnumeric spreadsheet တည်းဖြတ်သူ
Comment[ne]=Gnumeric स्प्रेडसिट सम्पादक
Comment[nl]=Gnumerieke spreadsheet-editor
Comment[no]=Gnumerisk regnearkredigerer
Comment[ny]=Gnumeric spreadsheet editor
Comment[om]=Gulaalaa gabatee gnumeric
Comment[or]=ଗ୍ନୁମେରିକ୍ ସ୍ପ୍ରେଡସିଟ୍ ଏଡିଟର୍ |
Comment[pa]=ਗਨੁਮੇਰਿਕ ਸਪ੍ਰੈਡਸ਼ੀਟ ਸੰਪਾਦਕ
Comment[pl]=Edytor arkuszy kalkulacyjnych Gnumeric
Comment[ps]=ﺮﯾﺪﻣ ټﯿﺷ ډﯾﺮﭙﺳ ﮏﯾﺮﻣﻮﻨګ ﺩ
Comment[pt]=Editor de planilhas numéricas
Comment[qu]=Gnumérico nisqa yupay raphi allichaq
Comment[ro]=Editor de foi de calcul Gnumeric
Comment[ru]=Редактор электронных таблиц Gnumeric
Comment[rw]=Gnumeric urupapuro rwerekana urupapuro
Comment[sa]=Gnumeric स्प्रेडशीट सम्पादक
Comment[sd]=Gnumeric ﺮٽﻳڊﻳﺍ ٽﻴﺷ ڊﻳﺮﭙﺳﺍ
Comment[si]=Gnumeric පැතුරුම්පත් සංස්කාරකය
Comment[sk]=Tabuľkový editor Gnumeric
Comment[sl]=Gnumeric urejevalnik preglednic
Comment[sm]=Fa'atonu pepa fa'asologa o Gnumeric
Comment[sn]=Gnumeric spreadsheet editor
Comment[so]=Tifaftiraha xaashida Gnumeric
Comment[sq]=Redaktori i fletëllogaritjes gnomerik
Comment[st]=Gnumeric spreadsheet editor
Comment[su]=Éditor spreadsheet Gnumeric
Comment[sv]=Gnumerisk kalkylbladsredigerare
Comment[sw]=Kihariri lahajedwali cha Gnumeric
Comment[ta]=க்யூமெரிக் விரிதாள் எடிட்டர்
Comment[te]=గ్న్యూమరిక్ స్ప్రెడ్u200cషీట్ ఎడిటర్
Comment[tg]=Муҳаррири ҷадвали Gnumeric
Comment[th]=โปรแกรมแก้ไขสเปรดชีต Gnumeric
Comment[ti]=ግኑሜሪክ ስፕረድሺት ኤዲተር
Comment[tk]=Gnumer elektron tablisasynyň redaktory
Comment[tl]=Gnumeric spreadsheet editor
Comment[to]=Gnumeric ʻetita spreadsheet
Comment[tr]=Gnumeric elektronik tablo düzenleyicisi
Comment[ts]=Muhleri wa xiphephana xa Gnumeric
Comment[tt]=Гнумерик электрон таблица редакторы
Comment[tw]=Gnumeric spreadsheet samufoɔ
Comment[ty]=Gnumeric spreadsheet editor
Comment[ug]=Gnumeric ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻝەﯞﺩەﺟ ﻕﯘﻠﻧﻭﺮﺘﻜﯧﻠﯧﺋ
Comment[uk]=Редактор електронних таблиць Gnumeric
Comment[ur]=ﺮﭩﯾﮉﯾﺍ ﭧﯿﺷﮉﯾﺮﭙﺳﺍ ﮎﺮﯿﻣﻮﻨﮔ
Comment[uz]=Gnumeric elektron jadval muharriri
Comment[vi]=Trình chỉnh sửa bảng tính Gnumeric
Comment[xh]=Gnumeric spreadsheet umhleli
Comment[yi]=ראָטקאַדער טישדערפּס קירעמונג
Comment[yo]=Olootu lẹja Gnumeric
Comment[zh]=Gnumeric 电子表格编辑器
Comment[zu]=Umhleli wespredishithi we-Gnumeric
Comment=Gnumeric spreadsheet editor
Exec=gnumeric
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=Gnumeric spreadsheet editor
