[Desktop Entry]
Name=Scribus desktop publishing
Type=Application
Icon=scribus.png
Comment=Page Layout and Publication
GenericName=Scribus
TryExec=scribus
Exec=scribus
Terminal=false
#MimeType=application/vnd.scribus;
Categories=Publishing
StartupWMClass=scribus
StartupNotify=false
X-AppInstall-Package=scribus
X-AppInstall-Section=main
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Desktop-File-Install-Version=0.22

[X-Property::X-KDE-NativeExtension]
Type=QString
Value=.sla
DocPath=scribus
