[Desktop Entry]
Encoding=UTF-8
Name[af]=gHasher bereken lêer hashes
Name[am]=gHasher የፋይል hashes ያሰላል
Name[ar]=gHasher ﻒﻠﻤﻟﺍ ﺕﺎﺋﺰﺠﺗ ﺏﺎﺴﺣ
Name[as]=gHasher ফাইল হেচ গণনা কৰে
Name[ay]=gHasher ukax fichero hashes ukanakat jakthapi
Name[az]=gHasher fayl hashlərini hesablayır
Name[ba]=GHasher калькулятор файлы хештары
Name[be]=gHasher разлічвае хэшы файлаў
Name[bg]=gHasher изчислява файлови хешове
Name[bm]=gHasher jatebɔ filen hashes
Name[bn]=gHasher ফাইল হ্যাশ গণনা করে
Name[bo]=gHasherརྩིས་རྒྱག་པའི་ཡིག་ཆའི་ཧྭ་ཧྲི།
Name[bs]=gHasher izračunava hešove datoteke
Name[ca]=gHasher calcula els hash de fitxers
Name[co]=gHasher calcula l'hash di u schedariu
Name[cs]=gHasher vypočítá hodnoty hash souborů
Name[cy]=gHasher cyfrifo hashes ffeil
Name[da]=gHasher beregne fil-hash
Name[de]=gHasher berechnet Datei-Hashes
Name[dv]=gHasher ންރުކުބުސާހި އްތަޝްހެ ލްއިފަ
Name[ee]=gHasher bu akɔnta le faɛl ƒe hashes ŋu
Name[el]=Το gHasher υπολογίζει τους κατακερματισμούς αρχείων
Name[en]=gHasher calculate file hashes
Name[eo]=gHasher kalkulas dosierhaŝojn
Name[es]=gHasher calcular hashes de archivos
Name[et]=gHasher arvutab failiräsi
Name[eu]=gHasherrek fitxategien hashak kalkulatzen ditu
Name[fa]=gHasher ﺪﻨﮐ ﯽﻣ ﻪﺒﺳﺎﺤﻣ ﺍﺭ ﻞﯾﺎﻓ ﺶﻫ
Name[fi]=gHasher laskea tiedostojen tiivisteet
Name[fj]=gHasher cakacakataka na faile hashes
Name[fo]=gHasher rokna file hashes
Name[fr]=gHasher calcule les hachages de fichiers
Name[fy]=gHasher berekkenje triem hashes
Name[ga]=gHasher ríomh hashes comhad
Name[gd]=gHasher obraich a-mach hashes faidhle
Name[gl]=gHasher calcula hash de ficheiros
Name[gn]=gHasher okalkula umi hash vore rehegua
Name[gu]=gHasher ફાઇલ હેશની ગણતરી કરે છે
Name[ha]=gHasher lissafta hashes fayil
Name[he]=gHasher םיצבק לש בוביג בשחל
Name[hi]=gHasher फ़ाइल हैश की गणना करता है
Name[hr]=gHasher izračunava hash datoteke
Name[ht]=gHasher kalkile hash fichye yo
Name[hu]=A gHasher kiszámítja a fájlkivonatokat
Name[hy]=gHasher-ը հաշվարկում է ֆայլի հեշերը
Name[id]=gHasher menghitung hash file
Name[ig]=gHasher gbakọọ hashes faịlụ
Name[is]=gHasher reiknar út skráarhass
Name[it]=gHasher calcola gli hash dei file
Name[iu]=GHasher−ᒧᑦ ᓈᓴᐅᓯᕆᓂᕐᒧᑦ ᑎᑎᖅᑲᖁᑎᒋᔭᐅᔪᑦ
Name[ja]=gHasher はファイルのハッシュを計算します
Name[jv]=gHasher ngitung file hash
Name[ka]=gHasher ფაილის ჰეშების გამოთვლა
Name[kk]=gHasher файл хэштерін есептейді
Name[km]=gHasher គណនា hashes ឯកសារ
Name[kn]=gHasher ಫೈಲ್ ಹ್ಯಾಶ್u200cಗಳನ್ನು ಲೆಕ್ಕಾಚಾರ ಮಾಡುತ್ತದೆ
Name[ko]="gHasher 파일 해시 계산"
Name[ku]=gHasher haşeyên pelan hesab dike
Name[ky]=gHasher файл хэштерин эсептейт
Name[la]=gHasher calculate file hashes
Name[lb]=gHasher berechent Dateihashen
Name[lg]=gHasher okubala hashes za fayiro
Name[ln]=gHasher kosala calcul ya ba hashes ya fichier
Name[lo]=gHasher ຄິດໄລ່ໄຟລ໌ hashes
Name[lt]=„gHasher“ apskaičiuoja failų maišą
Name[lv]=gHasher aprēķina failu jaucējvērtības
Name[mg]=gHasher kajy ny rakitra hash
Name[mi]=gHasher tātaihia nga konae hashes
Name[mk]=gHasher пресмета хашови на датотеки
Name[ml]=gHasher ഫയൽ ഹാഷുകൾ കണക്കാക്കുന്നു
Name[mn]=gHasher файлын хэшийг тооцоолох
Name[mr]=gHasher गणना फाइल हॅश
Name[ms]=gHasher mengira cincang fail
Name[mt]=gHasher jikkalkula l-hashes tal-fajl
Name[my]=gHasher သည် ဖိုင် hashe များကို တွက်ချက်သည်။
Name[ne]=gHasher फाइल ह्यास गणना गर्नुहोस्
Name[nl]=gHasher berekent bestandshashes
Name[no]=gHasher beregne fil-hasher
Name[ny]=gHasher kuwerengera mafayilo amafayilo
Name[om]=gHasher haashes faayilii shallaguu
Name[or]=gHasher ଫାଇଲ୍ ହ୍ୟାସ୍ ଗଣନା କରନ୍ତୁ |
Name[pa]=gHasher ਫਾਈਲ ਹੈਸ਼ ਦੀ ਗਣਨਾ ਕਰਦਾ ਹੈ
Name[pl]=gHasher oblicza skróty plików
Name[ps]=gHasher ﻱﻮﮐ ﻪﺒﺳﺎﺤﻣ ﻮﻧﻮﺸﻫ ﻞﯾﺎﻓ ﺩ
Name[pt]=gHasher calcular hashes de arquivo
Name[qu]=gHasher willañiqi hashes nisqakunata yupay
Name[ro]=gHasher calculează hash-urile fișierelor
Name[ru]=gHasher вычисляет хэши файлов
Name[rw]=gHasher kubara dosiye hashes
Name[sa]=gHasher सञ्चिका-हैश-गणना करोति
Name[sd]=gHasher ﻲﺟ ﺏﺎﺘڪ ﺏﺎﺴﺣ hashes
Name[si]=gHasher ගොනු හැෂ් ගණනය කරයි
Name[sk]=gHasher vypočíta hodnoty hash súborov
Name[sl]=gHasher izračuna zgoščene datoteke
Name[sm]=gHasher fuafua faila faila
Name[sn]=gHasher kuverenga faira hashes
Name[so]=gHasher xisaabi hashes faylka
Name[sq]=gHasher llogarit hash-et e skedarëve
Name[st]=gHasher bala li-hashes tsa faele
Name[su]=gHasher ngitung file hash
Name[sv]=gHasher beräkna filhashar
Name[sw]=gHasher hesabu heshi za faili
Name[ta]=gHasher கோப்பு ஹாஷ்களைக் கணக்கிடுகிறது
Name[te]=gHasher ఫైల్ హ్యాష్u200cలను లెక్కించండి
Name[tg]=gHasher хэшҳои файлро ҳисоб мекунад
Name[th]=gHasher คำนวณแฮชของไฟล์
Name[ti]=gHasher ፋይል ሃሽ ምሕሳብ
Name[tk]=gHasher faýl haslaryny hasaplaň
Name[tl]=Kinakalkula ng gHasher ang mga hash ng file
Name[to]=gHasher fikaʻi ʻa e faile hashes
Name[tr]=gHasher dosya karmalarını hesaplar
Name[ts]=gHasher hlayela ti-hash ta fayili
Name[tt]=gHasher файл хэшләрен исәпли
Name[tw]=gHasher bu fael hashes ho akontaa
Name[ty]=Te mau putu'ite no te mau hoho'a
Name[ug]=gHasher ﯗﺪﻳﻼ﻿ﺑﺎﺴﯧﮬ ﻰﻨﯨﺮﯩﻠﺷەﮬ ﺕەﺠﺟﯚﮬ
Name[uk]=gHasher обчислює хеші файлів
Name[ur]=gHasher ۔ﮯﮨ ﺎﺗﺎﮕﻟ ﺏﺎﺴﺣ ﺎﮐ ﺶﯿﮨ ﻞﺋﺎﻓ
Name[uz]=gHasher fayl xeshlarini hisoblash
Name[vi]=gHasher tính toán giá trị băm của tệp
Name[xh]=I-gHasher ibala i-hashes yeefayile
Name[yi]=gHasher סעשאַה עקעט ןענעכער
Name[yo]=gHasher ṣe iṣiro awọn hashes faili
Name[zh]=gHasher 计算文件哈希值
Name[zu]=I-gHasher ibala ama-hashes wefayela
Name=gHasher calculate file hashes
Comment[af]=gHasher bereken lêer hashes
Comment[am]=gHasher የፋይል hashes ያሰላል
Comment[ar]=gHasher ﻒﻠﻤﻟﺍ ﺕﺎﺋﺰﺠﺗ ﺏﺎﺴﺣ
Comment[as]=gHasher ফাইল হেচ গণনা কৰে
Comment[ay]=gHasher ukax fichero hashes ukanakat jakthapi
Comment[az]=gHasher fayl hashlərini hesablayır
Comment[ba]=GHasher калькулятор файлы хештары
Comment[be]=gHasher разлічвае хэшы файлаў
Comment[bg]=gHasher изчислява файлови хешове
Comment[bm]=gHasher jatebɔ filen hashes
Comment[bn]=gHasher ফাইল হ্যাশ গণনা করে
Comment[bo]=gHasherརྩིས་རྒྱག་པའི་ཡིག་ཆའི་ཧྭ་ཧྲི།
Comment[bs]=gHasher izračunava hešove datoteke
Comment[ca]=gHasher calcula els hash de fitxers
Comment[co]=gHasher calcula l'hash di u schedariu
Comment[cs]=gHasher vypočítá hodnoty hash souborů
Comment[cy]=gHasher cyfrifo hashes ffeil
Comment[da]=gHasher beregne fil-hash
Comment[de]=gHasher berechnet Datei-Hashes
Comment[dv]=gHasher ންރުކުބުސާހި އްތަޝްހެ ލްއިފަ
Comment[ee]=gHasher bu akɔnta le faɛl ƒe hashes ŋu
Comment[el]=Το gHasher υπολογίζει τους κατακερματισμούς αρχείων
Comment[en]=gHasher calculate file hashes
Comment[eo]=gHasher kalkulas dosierhaŝojn
Comment[es]=gHasher calcular hashes de archivos
Comment[et]=gHasher arvutab failiräsi
Comment[eu]=gHasherrek fitxategien hashak kalkulatzen ditu
Comment[fa]=gHasher ﺪﻨﮐ ﯽﻣ ﻪﺒﺳﺎﺤﻣ ﺍﺭ ﻞﯾﺎﻓ ﺶﻫ
Comment[fi]=gHasher laskea tiedostojen tiivisteet
Comment[fj]=gHasher cakacakataka na faile hashes
Comment[fo]=gHasher rokna file hashes
Comment[fr]=gHasher calcule les hachages de fichiers
Comment[fy]=gHasher berekkenje triem hashes
Comment[ga]=gHasher ríomh hashes comhad
Comment[gd]=gHasher obraich a-mach hashes faidhle
Comment[gl]=gHasher calcula hash de ficheiros
Comment[gn]=gHasher okalkula umi hash vore rehegua
Comment[gu]=gHasher ફાઇલ હેશની ગણતરી કરે છે
Comment[ha]=gHasher lissafta hashes fayil
Comment[he]=gHasher םיצבק לש בוביג בשחל
Comment[hi]=gHasher फ़ाइल हैश की गणना करता है
Comment[hr]=gHasher izračunava hash datoteke
Comment[ht]=gHasher kalkile hash fichye yo
Comment[hu]=A gHasher kiszámítja a fájlkivonatokat
Comment[hy]=gHasher-ը հաշվարկում է ֆայլի հեշերը
Comment[id]=gHasher menghitung hash file
Comment[ig]=gHasher gbakọọ hashes faịlụ
Comment[is]=gHasher reiknar út skráarhass
Comment[it]=gHasher calcola gli hash dei file
Comment[iu]=GHasher−ᒧᑦ ᓈᓴᐅᓯᕆᓂᕐᒧᑦ ᑎᑎᖅᑲᖁᑎᒋᔭᐅᔪᑦ
Comment[ja]=gHasher はファイルのハッシュを計算します
Comment[jv]=gHasher ngitung file hash
Comment[ka]=gHasher ფაილის ჰეშების გამოთვლა
Comment[kk]=gHasher файл хэштерін есептейді
Comment[km]=gHasher គណនា hashes ឯកសារ
Comment[kn]=gHasher ಫೈಲ್ ಹ್ಯಾಶ್u200cಗಳನ್ನು ಲೆಕ್ಕಾಚಾರ ಮಾಡುತ್ತದೆ
Comment[ko]="gHasher 파일 해시 계산"
Comment[ku]=gHasher haşeyên pelan hesab dike
Comment[ky]=gHasher файл хэштерин эсептейт
Comment[la]=gHasher calculate file hashes
Comment[lb]=gHasher berechent Dateihashen
Comment[lg]=gHasher okubala hashes za fayiro
Comment[ln]=gHasher kosala calcul ya ba hashes ya fichier
Comment[lo]=gHasher ຄິດໄລ່ໄຟລ໌ hashes
Comment[lt]=„gHasher“ apskaičiuoja failų maišą
Comment[lv]=gHasher aprēķina failu jaucējvērtības
Comment[mg]=gHasher kajy ny rakitra hash
Comment[mi]=gHasher tātaihia nga konae hashes
Comment[mk]=gHasher пресмета хашови на датотеки
Comment[ml]=gHasher ഫയൽ ഹാഷുകൾ കണക്കാക്കുന്നു
Comment[mn]=gHasher файлын хэшийг тооцоолох
Comment[mr]=gHasher गणना फाइल हॅश
Comment[ms]=gHasher mengira cincang fail
Comment[mt]=gHasher jikkalkula l-hashes tal-fajl
Comment[my]=gHasher သည် ဖိုင် hashe များကို တွက်ချက်သည်။
Comment[ne]=gHasher फाइल ह्यास गणना गर्नुहोस्
Comment[nl]=gHasher berekent bestandshashes
Comment[no]=gHasher beregne fil-hasher
Comment[ny]=gHasher kuwerengera mafayilo amafayilo
Comment[om]=gHasher haashes faayilii shallaguu
Comment[or]=gHasher ଫାଇଲ୍ ହ୍ୟାସ୍ ଗଣନା କରନ୍ତୁ |
Comment[pa]=gHasher ਫਾਈਲ ਹੈਸ਼ ਦੀ ਗਣਨਾ ਕਰਦਾ ਹੈ
Comment[pl]=gHasher oblicza skróty plików
Comment[ps]=gHasher ﻱﻮﮐ ﻪﺒﺳﺎﺤﻣ ﻮﻧﻮﺸﻫ ﻞﯾﺎﻓ ﺩ
Comment[pt]=gHasher calcular hashes de arquivo
Comment[qu]=gHasher willañiqi hashes nisqakunata yupay
Comment[ro]=gHasher calculează hash-urile fișierelor
Comment[ru]=gHasher вычисляет хэши файлов
Comment[rw]=gHasher kubara dosiye hashes
Comment[sa]=gHasher सञ्चिका-हैश-गणना करोति
Comment[sd]=gHasher ﻲﺟ ﺏﺎﺘڪ ﺏﺎﺴﺣ hashes
Comment[si]=gHasher ගොනු හැෂ් ගණනය කරයි
Comment[sk]=gHasher vypočíta hodnoty hash súborov
Comment[sl]=gHasher izračuna zgoščene datoteke
Comment[sm]=gHasher fuafua faila faila
Comment[sn]=gHasher kuverenga faira hashes
Comment[so]=gHasher xisaabi hashes faylka
Comment[sq]=gHasher llogarit hash-et e skedarëve
Comment[st]=gHasher bala li-hashes tsa faele
Comment[su]=gHasher ngitung file hash
Comment[sv]=gHasher beräkna filhashar
Comment[sw]=gHasher hesabu heshi za faili
Comment[ta]=gHasher கோப்பு ஹாஷ்களைக் கணக்கிடுகிறது
Comment[te]=gHasher ఫైల్ హ్యాష్u200cలను లెక్కించండి
Comment[tg]=gHasher хэшҳои файлро ҳисоб мекунад
Comment[th]=gHasher คำนวณแฮชของไฟล์
Comment[ti]=gHasher ፋይል ሃሽ ምሕሳብ
Comment[tk]=gHasher faýl haslaryny hasaplaň
Comment[tl]=Kinakalkula ng gHasher ang mga hash ng file
Comment[to]=gHasher fikaʻi ʻa e faile hashes
Comment[tr]=gHasher dosya karmalarını hesaplar
Comment[ts]=gHasher hlayela ti-hash ta fayili
Comment[tt]=gHasher файл хэшләрен исәпли
Comment[tw]=gHasher bu fael hashes ho akontaa
Comment[ty]=Te mau putu'ite no te mau hoho'a
Comment[ug]=gHasher ﯗﺪﻳﻼ﻿ﺑﺎﺴﯧﮬ ﻰﻨﯨﺮﯩﻠﺷەﮬ ﺕەﺠﺟﯚﮬ
Comment[uk]=gHasher обчислює хеші файлів
Comment[ur]=gHasher ۔ﮯﮨ ﺎﺗﺎﮕﻟ ﺏﺎﺴﺣ ﺎﮐ ﺶﯿﮨ ﻞﺋﺎﻓ
Comment[uz]=gHasher fayl xeshlarini hisoblash
Comment[vi]=gHasher tính toán giá trị băm của tệp
Comment[xh]=I-gHasher ibala i-hashes yeefayile
Comment[yi]=gHasher סעשאַה עקעט ןענעכער
Comment[yo]=gHasher ṣe iṣiro awọn hashes faili
Comment[zh]=gHasher 计算文件哈希值
Comment[zu]=I-gHasher ibala ama-hashes wefayela
Comment=gHasher calculate file hashes
Exec=ghasher 
Terminal=false
Type=Application
Icon=hash.xpm
Categories=Utility
