[Desktop Entry]
Encoding=UTF-8
Name=gHasher calculate file hashes
Comment=Calculate the md5 sum of a file
Exec=ghasher 
Terminal=false
Type=Application
Icon=hash.xpm
Categories=Utility
