[Desktop Entry]
Name[af]=Asunder klank CD ripper
Name[am]=Asunder ኦዲዮ ሲዲ መቅጃ
Name[ar]=Asunder ﻕﺰﻤﻤﻟﺍ ﺔﻃﻮﻐﻀﻤﻟﺍ ﺕﻮﺼﻟﺍ
Name[as]=অডিঅ' চিডি ৰিপাৰৰ মাজত
Name[ay]=Asunder audio CD ripper ukax mä juk’a pachanakanwa
Name[az]=Asunder audio cd ripper
Name[ba]=Asunder аудио компакт-диск рипперы
Name[be]=Праграма для капіравання аўдыёдыскаў Asunder
Name[bg]=Разделяне на аудио CD рипър
Name[bm]=Asunder CD lamɛntaw ripper
Name[bn]=Asunder অডিও সিডি রিপার
Name[bo]=སྒྲ་ཕབ་འོད་སྡེར་གྱི་འཐེན་ཆས།
Name[bs]=Asunder audio CD ripper
Name[ca]=Ripper Asunder de CD d'àudio
Name[co]=Ripper di CD audio Asunder
Name[cs]=Asunder audio CD ripper
Name[cy]=Asunder rhwygwr CD sain
Name[da]=Asunder lyd-cd-ripper
Name[de]=Asunder Audio-CD-Ripper
Name[dv]=ރޕަރި ޑީސީ އޯޑިއޯ ރޑަންސުއަ
Name[ee]=Asunder odio CD ripper
Name[el]=Asunder audio ripper CD
Name[en]=Asunder audio CD ripper
Name[eo]=Asunder audio KD-ripper
Name[es]=Destripador de CD de audio Asunder
Name[et]=Asunderi heli-CD rippija
Name[eu]=Asunder audio CD deskribatzailea
Name[fa]=Asunder ﯽﺗﻮﺻ ﯼﺩ ﯽﺳ ﺮﭙﯾﺭ
Name[fi]=Asunder audio-CD-ripperi
Name[fj]=iYau ni CD ni vakarorogo ripper
Name[fo]=Asunder audio CD ripper
Name[fr]=Extracteur de CD audio Asunder
Name[fy]=Asunder audio CD ripper
Name[ga]=Asunder sracaire CD fuaime
Name[gd]=Asunder audio CD ripper
Name[gl]=Extractor de CD de audio Asunder
Name[gn]=Asunder audio CD ripper rehegua
Name[gu]=Asunder ઓડિયો સીડી રિપર
Name[ha]=Asunder audio CD ripper
Name[he]=Asunder עמש ירוטילקת שטרמ
Name[hi]=असंडर ऑडियो सीडी रिपर
Name[hr]=Razdvojite audio CD riper
Name[ht]=Asunder odyo CD ripper
Name[hu]=Asunder audio CD ripper
Name[hy]=Asunder աուդիո CD ripper
Name[id]=Membongkar ripper CD audio
Name[ig]=Asunder audio CD ripper
Name[is]=Asunder hljóðdisk ripper
Name[it]=Asunder ripper di CD audio
Name[iu]=ᓂᐱᓕᐅᖅᓯᒪᔪᖅ ᓂᐱᓕᐅᖅᓯᒪᔪᖅ
Name[ja]=Asunder オーディオ CD リッパー
Name[jv]=Asunder audio CD ripper
Name[ka]=Asunder აუდიო CD ripper
Name[kk]=Asunder аудио CD рипер
Name[km]=Asunder audio ripper ស៊ីឌី
Name[kn]=ಅಸುಂಡರ್ ಆಡಿಯೋ ಸಿಡಿ ರಿಪ್ಪರ್
Name[ko]=Asunder 오디오 CD 리퍼
Name[ku]=Asunder ripper CD ya dengî
Name[ky]=Asunder аудио CD рипер
Name[la]=Disjunge audio CD ripper
Name[lb]=Asunder Audio CD Ripper
Name[lg]=Asunder ekyuma ekikuba CD eky’amaloboozi
Name[ln]=Asunder ripper ya CD ya audio
Name[lo]=Asunder ສຽງ ripper CD
Name[lt]=„Asunder“ garso kompaktinių diskų perrašytojas
Name[lv]=Asunder audio CD kaut kas lielisks
Name[mg]=Asunder audio CD ripper
Name[mi]=Wehe i te ripper CD ororongo
Name[mk]=Asunder аудио CD ripper
Name[ml]=അസുന്ദർ ഓഡിയോ സിഡി റിപ്പർ
Name[mn]=Asunder аудио CD rippper
Name[mr]=Asunder ऑडिओ सीडी रिपर
Name[ms]=Ripper CD audio Asunder
Name[mt]=Asunder awdjo CD ripper
Name[my]=တဖြန်းဖြန်းအော်ဒီယို CD ripper
Name[ne]=Asunder अडियो सीडी रिपर
Name[nl]=Asunder audio-cd-ripper
Name[no]=Asunder lyd-CD-ripper
Name[ny]=Asunder audio CD ripper
Name[om]=Asunder sagalee CD ripper
Name[or]=ଅଡିଓ ସିଡି ରିପର୍ ଅଲଗା କରନ୍ତୁ |
Name[pa]=ਅਸੰਡਰ ਆਡੀਓ ਸੀਡੀ ਰਿਪਰ
Name[pl]=Program do ripowania płyt audio Asunder
Name[ps]=ﺮﭙﯾﺭ ﯼډ ﯽﺳ ﻮﯾډﺁ ﺭﺪﻨﺳﺍ
Name[pt]=Asunder ripper de CD de áudio
Name[qu]=Asunder uyarinapaq CD ripper
Name[ro]=Asunder audio CD ripper
Name[ru]=Риппер аудио компакт-дисков Asunder
Name[rw]=Gutandukanya CD ripper amajwi
Name[sa]=Asunder ऑडियो सीडी रिपर
Name[sd]=ﺮﭙﻳﺭ ﻱڊ ﻲﺳ ﻮﻳڊﺁ ﺭﺪﻨﺳﺍ
Name[si]=Asunder ශ්u200dරව්u200dය CD ripper
Name[sk]=Asunder audio CD ripper
Name[sl]=Raztrgavalec avdio CD-jev
Name[sm]=Asunder leo CD ripper
Name[sn]=Asunder audio CD ripper
Name[so]=Asunder audio CD ripper
Name[sq]=Ripper CD audio i ndarë
Name[st]=Asunder audio CD ripper
Name[su]=Asunder audio CD ripper
Name[sv]=Asunder ljud CD ripper
Name[sw]=Asunder audio CD ripper
Name[ta]=அசுண்டர் ஆடியோ சிடி ரிப்பர்
Name[te]=అసుండర్ ఆడియో CD రిప్పర్
Name[tg]=Asunder CD ripper аудио
Name[th]=Asunder ริปเปอร์ซีดีเพลง
Name[ti]=ኣሱንደር ኦድዮ ሲዲ ሪፐር
Name[tk]=Ses CD ripperini bölüň
Name[tl]=Asunder audio CD ripper
Name[to]=ʻOku ripper ʻa e CD ʻo e ongo
Name[tr]=Asunder ses CD'si kopyalayıcı
Name[ts]=Asunder ripper ya CD ya mpfumawulo
Name[tt]=Аудио CD рипперы
Name[tw]=Asunder ɔdio CD ripper no
Name[ty]=Te mau pehe faaroo CD ripper
Name[ug]=ﻰﺴﯩﻜﻨﯩﺘﺳﻼ﻿ﯩﭘ CD ﻖﯩﻟﺯﺍﯞﺎﺋ
Name[uk]=Розкопувач аудіо компакт-дисків
Name[ur]=ﺮﭙﯾﺭ ﯼﮈ ﯽﺳ ﻮﯾﮈﺁ ﺭﮉﻨﺳﺍ
Name[uz]=Asunder audio CD ripper
Name[vi]=Trình trích xuất CD âm thanh Asunder
Name[xh]=Asunder audio CD ripper
Name[yi]=רעפּיר קסידטקאַפּמאָק אָידואַ רעדנאַסאַ
Name[yo]=Asunder iwe CD ripper
Name[zh]=Asunder 音频 CD 抓取工具
Name[zu]=I-Asunder audio CD ripper
Name=Asunder audio CD ripper
GenericName=Audio CD Ripper
Comment[af]=Asunder klank CD ripper
Comment[am]=Asunder ኦዲዮ ሲዲ መቅጃ
Comment[ar]=Asunder ﻕﺰﻤﻤﻟﺍ ﺔﻃﻮﻐﻀﻤﻟﺍ ﺕﻮﺼﻟﺍ
Comment[as]=অডিঅ' চিডি ৰিপাৰৰ মাজত
Comment[ay]=Asunder audio CD ripper ukax mä juk’a pachanakanwa
Comment[az]=Asunder audio cd ripper
Comment[ba]=Asunder аудио компакт-диск рипперы
Comment[be]=Праграма для капіравання аўдыёдыскаў Asunder
Comment[bg]=Разделяне на аудио CD рипър
Comment[bm]=Asunder CD lamɛntaw ripper
Comment[bn]=Asunder অডিও সিডি রিপার
Comment[bo]=སྒྲ་ཕབ་འོད་སྡེར་གྱི་འཐེན་ཆས།
Comment[bs]=Asunder audio CD ripper
Comment[ca]=Ripper Asunder de CD d'àudio
Comment[co]=Ripper di CD audio Asunder
Comment[cs]=Asunder audio CD ripper
Comment[cy]=Asunder rhwygwr CD sain
Comment[da]=Asunder lyd-cd-ripper
Comment[de]=Asunder Audio-CD-Ripper
Comment[dv]=ރޕަރި ޑީސީ އޯޑިއޯ ރޑަންސުއަ
Comment[ee]=Asunder odio CD ripper
Comment[el]=Asunder audio ripper CD
Comment[en]=Asunder audio CD ripper
Comment[eo]=Asunder audio KD-ripper
Comment[es]=Destripador de CD de audio Asunder
Comment[et]=Asunderi heli-CD rippija
Comment[eu]=Asunder audio CD deskribatzailea
Comment[fa]=Asunder ﯽﺗﻮﺻ ﯼﺩ ﯽﺳ ﺮﭙﯾﺭ
Comment[fi]=Asunder audio-CD-ripperi
Comment[fj]=iYau ni CD ni vakarorogo ripper
Comment[fo]=Asunder audio CD ripper
Comment[fr]=Extracteur de CD audio Asunder
Comment[fy]=Asunder audio CD ripper
Comment[ga]=Asunder sracaire CD fuaime
Comment[gd]=Asunder audio CD ripper
Comment[gl]=Extractor de CD de audio Asunder
Comment[gn]=Asunder audio CD ripper rehegua
Comment[gu]=Asunder ઓડિયો સીડી રિપર
Comment[ha]=Asunder audio CD ripper
Comment[he]=Asunder עמש ירוטילקת שטרמ
Comment[hi]=असंडर ऑडियो सीडी रिपर
Comment[hr]=Razdvojite audio CD riper
Comment[ht]=Asunder odyo CD ripper
Comment[hu]=Asunder audio CD ripper
Comment[hy]=Asunder աուդիո CD ripper
Comment[id]=Membongkar ripper CD audio
Comment[ig]=Asunder audio CD ripper
Comment[is]=Asunder hljóðdisk ripper
Comment[it]=Asunder ripper di CD audio
Comment[iu]=ᓂᐱᓕᐅᖅᓯᒪᔪᖅ ᓂᐱᓕᐅᖅᓯᒪᔪᖅ
Comment[ja]=Asunder オーディオ CD リッパー
Comment[jv]=Asunder audio CD ripper
Comment[ka]=Asunder აუდიო CD ripper
Comment[kk]=Asunder аудио CD рипер
Comment[km]=Asunder audio ripper ស៊ីឌី
Comment[kn]=ಅಸುಂಡರ್ ಆಡಿಯೋ ಸಿಡಿ ರಿಪ್ಪರ್
Comment[ko]=Asunder 오디오 CD 리퍼
Comment[ku]=Asunder ripper CD ya dengî
Comment[ky]=Asunder аудио CD рипер
Comment[la]=Disjunge audio CD ripper
Comment[lb]=Asunder Audio CD Ripper
Comment[lg]=Asunder ekyuma ekikuba CD eky’amaloboozi
Comment[ln]=Asunder ripper ya CD ya audio
Comment[lo]=Asunder ສຽງ ripper CD
Comment[lt]=„Asunder“ garso kompaktinių diskų perrašytojas
Comment[lv]=Asunder audio CD kaut kas lielisks
Comment[mg]=Asunder audio CD ripper
Comment[mi]=Wehe i te ripper CD ororongo
Comment[mk]=Asunder аудио CD ripper
Comment[ml]=അസുന്ദർ ഓഡിയോ സിഡി റിപ്പർ
Comment[mn]=Asunder аудио CD rippper
Comment[mr]=Asunder ऑडिओ सीडी रिपर
Comment[ms]=Ripper CD audio Asunder
Comment[mt]=Asunder awdjo CD ripper
Comment[my]=တဖြန်းဖြန်းအော်ဒီယို CD ripper
Comment[ne]=Asunder अडियो सीडी रिपर
Comment[nl]=Asunder audio-cd-ripper
Comment[no]=Asunder lyd-CD-ripper
Comment[ny]=Asunder audio CD ripper
Comment[om]=Asunder sagalee CD ripper
Comment[or]=ଅଡିଓ ସିଡି ରିପର୍ ଅଲଗା କରନ୍ତୁ |
Comment[pa]=ਅਸੰਡਰ ਆਡੀਓ ਸੀਡੀ ਰਿਪਰ
Comment[pl]=Program do ripowania płyt audio Asunder
Comment[ps]=ﺮﭙﯾﺭ ﯼډ ﯽﺳ ﻮﯾډﺁ ﺭﺪﻨﺳﺍ
Comment[pt]=Asunder ripper de CD de áudio
Comment[qu]=Asunder uyarinapaq CD ripper
Comment[ro]=Asunder audio CD ripper
Comment[ru]=Риппер аудио компакт-дисков Asunder
Comment[rw]=Gutandukanya CD ripper amajwi
Comment[sa]=Asunder ऑडियो सीडी रिपर
Comment[sd]=ﺮﭙﻳﺭ ﻱڊ ﻲﺳ ﻮﻳڊﺁ ﺭﺪﻨﺳﺍ
Comment[si]=Asunder ශ්u200dරව්u200dය CD ripper
Comment[sk]=Asunder audio CD ripper
Comment[sl]=Raztrgavalec avdio CD-jev
Comment[sm]=Asunder leo CD ripper
Comment[sn]=Asunder audio CD ripper
Comment[so]=Asunder audio CD ripper
Comment[sq]=Ripper CD audio i ndarë
Comment[st]=Asunder audio CD ripper
Comment[su]=Asunder audio CD ripper
Comment[sv]=Asunder ljud CD ripper
Comment[sw]=Asunder audio CD ripper
Comment[ta]=அசுண்டர் ஆடியோ சிடி ரிப்பர்
Comment[te]=అసుండర్ ఆడియో CD రిప్పర్
Comment[tg]=Asunder CD ripper аудио
Comment[th]=Asunder ริปเปอร์ซีดีเพลง
Comment[ti]=ኣሱንደር ኦድዮ ሲዲ ሪፐር
Comment[tk]=Ses CD ripperini bölüň
Comment[tl]=Asunder audio CD ripper
Comment[to]=ʻOku ripper ʻa e CD ʻo e ongo
Comment[tr]=Asunder ses CD'si kopyalayıcı
Comment[ts]=Asunder ripper ya CD ya mpfumawulo
Comment[tt]=Аудио CD рипперы
Comment[tw]=Asunder ɔdio CD ripper no
Comment[ty]=Te mau pehe faaroo CD ripper
Comment[ug]=ﻰﺴﯩﻜﻨﯩﺘﺳﻼ﻿ﯩﭘ CD ﻖﯩﻟﺯﺍﯞﺎﺋ
Comment[uk]=Розкопувач аудіо компакт-дисків
Comment[ur]=ﺮﭙﯾﺭ ﯼﮈ ﯽﺳ ﻮﯾﮈﺁ ﺭﮉﻨﺳﺍ
Comment[uz]=Asunder audio CD ripper
Comment[vi]=Trình trích xuất CD âm thanh Asunder
Comment[xh]=Asunder audio CD ripper
Comment[yi]=רעפּיר קסידטקאַפּמאָק אָידואַ רעדנאַסאַ
Comment[yo]=Asunder iwe CD ripper
Comment[zh]=Asunder 音频 CD 抓取工具
Comment[zu]=I-Asunder audio CD ripper
Comment=Asunder audio CD ripper
Exec=asunder
Encoding=UTF-8
Terminal=false
StartupNotify=true
Type=Application
Categories=X-Multimedia-sound
Icon=asunder2.png
