[Desktop Entry]
Encoding=UTF-8
Name[af]=PlayMusic klank speler
Name[am]=ፕሌይሙዚክ ኦዲዮ ማጫወቻ
Name[ar]=PlayMusic ﺕﻮﺼﻟﺍ ﻞﻐﺸﻣ
Name[as]=PlayMusic অডিঅ' প্লেয়াৰ
Name[ay]=PlayMusic audio reproductor ukax mä jach’a uñacht’äwiwa
Name[az]=PlayMusic audio player
Name[ba]=PlayMusic аудиоплеры
Name[be]=Аўдыёплэер PlayMusic
Name[bg]=Аудио плейър PlayMusic
Name[bm]=PlayMusic lamɛntaw fɔbaga
Name[bn]=প্লে মিউজিক অডিও প্লেয়ার
Name[bo]=རྩེད་འཇོར་རོལ་བའི་སྒྲ་ཕབ་འཕྲུལ་ཆས།
Name[bs]=PlayMusic audio plejer
Name[ca]=Reproductor d'àudio PlayMusic
Name[co]=lettore audio PlayMusic
Name[cs]=Přehrávač zvuku PlayMusic
Name[cy]=Chwaraewr sain PlayMusic
Name[da]=PlayMusic lydafspiller
Name[de]=PlayMusic-Audioplayer
Name[dv]=ރޔަލޭޕް އޯޑިއޯ ކްޒިއުމިލޭޕް
Name[ee]=ƑoHadzidzi odio ƒomɔ̃
Name[el]=Αναπαραγωγή ήχου PlayMusic
Name[eo]=PlayMusic sonludanto
Name[es]=Reproductor de audio Play Music
Name[et]=PlayMusic helipleier
Name[eu]=PlayMusic audio erreproduzitzailea
Name[fa]=PlayMusic ﯽﺗﻮﺻ ﻩﺪﻨﻨﮐ ﺶﺨﭘ
Name[fi]=PlayMusic-äänisoitin
Name[fj]=PlayMusic ni vakarorogo
Name[fo]=Spæl/SpæliðMusic ljóðspælari
Name[fr]=Lecteur audio Play Music
Name[fy]=PlayMusic audiospieler
Name[ga]=Seinnteoir ceoil playmusic
Name[gd]=Cluicheadair fuaim PlayMusic
Name[gl]=Reproductor de audio PlayMusic
Name[gn]=PlayMúsica audio reproductor rehegua
Name[gu]=પ્લે મ્યુઝિક ઓડિયો પ્લેયર
Name[ha]=Mai kunna sauti na PlayMusic
Name[he]=PlayMusic לש וידוא ןגנ
Name[hi]=प्लेम्यूजिक ऑडियो प्लेयर
Name[hr]=PlayMusic audio player
Name[ht]=PlayMusic jwè odyo
Name[hu]=PlayMusic audiolejátszó
Name[hy]=PlayMusic աուդիո նվագարկիչ
Name[id]=Mainkan pemutar audio musik
Name[ig]=Ngwa egwu egwu egwu
Name[is]=PlayMusic hljóðspilari
Name[it]=Lettore audio PlayMusic
Name[iu]=ᐱᙳᐊᕐᓂᖅᒪᓕᒐᓕᕆᔨ
Name[ja]=PlayMusicオーディオプレーヤー
Name[jv]=Pamuter audio PlayMusic
Name[ka]=PlayMusic აუდიო პლეერი
Name[kk]=PlayMusic аудио ойнатқышы
Name[km]=កម្មវិធីចាក់អូឌីយ៉ូ PlayMusic
Name[kn]=ಪ್ಲೇ ಮ್ಯೂಸಿಕ್ ಆಡಿಯೊ ಪ್ಲೇಯರ್
Name[ko]="플레이뮤직 오디오 플레이어"
Name[ku]=PlayMusic audio player
Name[ky]=PlayMusic аудио ойноткуч
Name[la]=PlayMusic audio ludio
Name[lb]=PlayMusic Audio Player
Name[lg]=PlayMusic omuzannyi w'amaloboozi
Name[ln]=PlayLecteur audio ya miziki
Name[lo]=ເຄື່ອງຫຼິ້ນສຽງ PlayMusic
Name[lt]=PlayMusic garso grotuvas
Name[lv]=PlayMusic audio atskaņotājs
Name[mg]=PlayMusic mpilalao audio
Name[mi]=PlayMusic kaitākaro ororongo
Name[mk]=PlayMusic аудио плеер
Name[ml]=പ്ലേ മ്യൂസിക് ഓഡിയോ പ്ലെയർ
Name[mn]=PlayMusic аудио тоглуулагч
Name[mr]=प्ले म्युझिक ऑडिओ प्लेयर
Name[ms]=Pemain audio PlayMusic
Name[mt]=PlayMusic awdjo player
Name[my]=PlayMusic အသံဖွင့်စက်
Name[ne]=PlayMusic अडियो प्लेयर
Name[nl]=PlayMusic-audiospeler
Name[no]=PlayMusic lydspiller
Name[ny]=PlayMusic Audio player
Name[om]=PlayMusic taphattuu sagalee
Name[or]=ପ୍ଲେ ମ୍ୟୁଜିକ୍ ଅଡିଓ ପ୍ଲେୟାର୍ |
Name[pa]=ਪਲੇਮਿਊਜ਼ਿਕ ਆਡੀਓ ਪਲੇਅਰ
Name[pl]=Odtwarzacz audio PlayMusic
Name[ps]=ﺉړﮐ ﯽﻠﭘ ﺮﯿﻠﭘ ﻮﯾډﺁ ﮏﯾﺯﻮﯿﻣ ﺩ
Name[pt]=Leitor de áudio PlayMusic
Name[qu]=PlayMusic uyarinapaq pukllaq
Name[ro]=Player audio PlayMusic
Name[ru]=Аудиоплеер PlayMusic
Name[rw]=Gukina amajwi
Name[sa]=प्लेसंगीत श्रव्य प्लेयर
Name[sd]=PlayMusic ﺮﺌﻴﻠﭘ ﻮﻳڊﺁ
Name[si]=PlayMusic ඕඩියෝ ප්ලේයරය
Name[sk]=Prehrávač zvuku PlayMusic
Name[sl]=Avdio predvajalnik PlayMusic
Name[sm]=PlayMusic leo leo
Name[sn]=PlayMusic odhiyo inoridza
Name[so]=PlayMusic audio player
Name[sq]=PlayMusic audio Player
Name[st]=Sebapali sa audio sa PlayMusic
Name[su]=Pamuter audio PlayMusic
Name[sv]=PlayMusic ljudspelare
Name[sw]=Kicheza sauti cha PlayMuziki
Name[ta]=ப்ளே மியூசிக் ஆடியோ பிளேயர்
Name[te]=PlayMusic ఆడియో ప్లేయర్
Name[tg]=Плеери аудиоии PlayMusic
Name[th]=เครื่องเล่นเพลง PlayMusic
Name[ti]=PlayMusic ድምጺ መጻወቲ
Name[tk]=PlayMusic ses pleýer
Name[tl]=PlayMusic audio player
Name[to]=PlayMusic audio Player
Name[tr]=PlayMusic müzik çalar
Name[ts]=PlayMusic xichayachayani xa mpfumawulo
Name[tt]=PlayMusic аудио плеер
Name[tw]=PlayMusic ɔdio afiri a wɔde bɔ nnwom
Name[ty]=Ha'utiMusic audio
Name[ug]=PlayMusic ﭺﯘﻐﻳﻮﻗ ﻖﯩﻟﺯﺍﯞﺎﺋ
Name[uk]=Аудіоплеєр PlayMusic
Name[ur]=ﺮﺌﯿﻠﭘ ﻮﯾﮈﺁ ﮎﺯﻮﯿﻣ ﮯﻠﭘ
Name[uz]=PlayMusic audio pleer
Name[vi]=Trình phát âm thanh PlayMusic
Name[xh]=Isidlali somculo sokudlala uMculo
Name[yi]=רעליפּש אָידואַ קיזומיַילפּ
Name[yo]=Erọ ohun afetigbọ PlayMusic
Name[zh]=PlayMusic 音频播放器
Name[zu]=Isidlali somsindo se-PlayMusic
Name=PlayMusic audio player
Icon=playmusic.png
Comment[af]='n Eenvoudige liggewig GUI vir klankspelers
Comment[am]=ለድምጽ ማጫወቻዎች ቀላል ክብደት ያለው GUI
Comment[ar]=ﺕﻮﺼﻟﺍ ﺕﻼ﻿ﻐﺸﻤﻟ ﻥﺯﻮﻟﺍ ﺔﻔﻴﻔﺧﻭ ﺔﻄﻴﺴﺑ ﺔﻴﻣﻮﺳﺭ ﻡﺪﺨﺘﺴﻣ ﺔﻬﺟﺍﻭ
Comment[as]=অডিঅ' প্লেয়াৰৰ বাবে এটা সৰল লঘু GUI
Comment[ay]=Mä sanu GUI k’achachata audio anatirinakataki
Comment[az]=Audio pleyerlər üçün sadə yüngül GUI
Comment[ba]=Аудиоуйындар өсөн ябай еңел ГИ
Comment[be]=Просты лёгкі графічны інтэрфейс для аўдыяплэераў
Comment[bg]=Опростен лек GUI за аудио плейъри
Comment[bm]=GUI nɔgɔman nɔgɔman dɔ ye min bɛ kɛ ka fɔlifɛnw fɔ
Comment[bn]=অডিও প্লেয়ারের জন্য একটি সাধারণ লাইটওয়েট GUI
Comment[bo]=སྒྲ་ཕབ་འཕྲུལ་ཆས་ཀྱི་སྟབས་བདེའི་ཡང་བའི་GUI
Comment[bs]=Jednostavan lagani GUI za audio plejere
Comment[ca]=Una GUI senzilla i lleugera per a reproductors d'àudio
Comment[co]=Una GUI ligera simplice per i lettori audio
Comment[cs]=Jednoduché lehké GUI pro audio přehrávače
Comment[cy]=GUI ysgafn syml ar gyfer chwaraewyr sain
Comment[da]=En simpel letvægts GUI til lydafspillere
Comment[de]=Eine einfache, leichte GUI für Audioplayer
Comment[dv]=ވެކެއެއިއަޖީ އިލު ދާސާ ޞައްޚާ ށްކަތަރޔަލޭޕް އޯޑިއޯ
Comment[ee]=GUI bɔbɔe aɖe si ƒe kpekpeme le bɔbɔe na odioƒomɔ̃wo
Comment[el]=Ένα απλό ελαφρύ GUI για συσκευές αναπαραγωγής ήχου
Comment[eo]=Simpla malpeza GUI por sonludantoj
Comment[es]=Una interfaz gráfica de usuario sencilla y ligera para reproductores de audio
Comment[et]=Lihtne kerge GUI helipleieritele
Comment[eu]=Audio erreproduzitzaileentzako GUI arin soil bat
Comment[fa]=ﯽﺗﻮﺻ ﯼﺎﻫ ﻩﺪﻨﻨﮐ ﺶﺨﭘ ﯼﺍﺮﺑ ﻩﺩﺎﺳ ﻭ ﮏﺒﺳ ﯽﮑﯿﻓﺍﺮﮔ ﯼﺮﺑﺭﺎﮐ ﻂﺑﺍﺭ
Comment[fi]=Yksinkertainen kevyt GUI soittimille
Comment[fj]=E dua na GUI rawarawa ni vakarorogo vei ira na dauqito
Comment[fo]=Ein einfalt ljóst GUI for ljóð players
Comment[fr]=Une interface graphique simple et légère pour les lecteurs audio
Comment[fy]=In ienfâldige lichtgewicht GUI foar audiospilers
Comment[ga]=GUI éadrom simplí le haghaidh seinnteoirí fuaime
Comment[gd]=GUI sìmplidh aotrom airson cluicheadairean claisneachd
Comment[gl]=Unha GUI sinxela e lixeira para reprodutores de audio
Comment[gn]=Peteĩ GUI ligero simple umi audio reproductor-pe g̃uarã
Comment[gu]=ઑડિઓ પ્લેયર્સ માટે એક સરળ હળવા GUI
Comment[ha]=GUI mai sauƙi mai sauƙi don masu kunna sauti
Comment[he]=עמש ינגנ רובע לקשמ לק טושפ שמתשמ קשממ
Comment[hi]=ऑडियो प्लेयर्स के लिए एक सरल हल्का GUI
Comment[hr]=Jednostavno lagano GUI za audio playere
Comment[ht]=Yon senp entèfas ki lejè pou jwè odyo
Comment[hu]=Egyszerű, könnyű GUI audiolejátszókhoz
Comment[hy]=Պարզ թեթև GUI աուդիո նվագարկիչների համար
Comment[id]=GUI ringan sederhana untuk pemutar audio
Comment[ig]=GUI dị fechaa dị mfe maka ndị na-egwu ọdịyo
Comment[is]=Einfalt létt GUI fyrir hljóðspilara
Comment[it]=Una GUI semplice e leggera per lettori audio
Comment[iu]=ᐅᕿᑦᑐᑯᓘᓪᓗᓂ GUI ᓂᐱᓕᐅᖅᑎᓄᑦ
Comment[ja]=オーディオプレーヤー用のシンプルで軽量なGUI
Comment[jv]=GUI entheng prasaja kanggo pemain audio
Comment[ka]=მარტივი მსუბუქი GUI აუდიო ფლეერებისთვის
Comment[kk]=Аудио ойнатқыштарға арналған қарапайым жеңіл графикалық интерфейс
Comment[km]=GUI ស្រាលសាមញ្ញសម្រាប់អ្នកលេងអូឌីយ៉ូ
Comment[kn]=ಆಡಿಯೊ ಪ್ಲೇಯರ್u200cಗಳಿಗಾಗಿ ಸರಳವಾದ ಹಗುರವಾದ GUI
Comment[ko]="오디오 플레이어를 위한 단순하고 가벼운 GUI"
Comment[ku]=GUI-ya sivik a hêsan ji bo lîstikvanên deng
Comment[ky]=Аудио ойноткучтар үчүн жөнөкөй жеңил GUI
Comment[la]=Innocens leve GUI pro audio histriones
Comment[lb]=Eng einfach liicht GUI fir Audiospiller
Comment[lg]=GUI ennyangu etali ya maanyi eri abazannyi b’amaloboozi
Comment[ln]=GUI moko ya pete ya pete pona ba lecteurs audio
Comment[lo]=GUI ນ້ຳໜັກເບົາງ່າຍໆສຳລັບເຄື່ອງຫຼິ້ນສຽງ
Comment[lt]=Paprasta lengva GUI garso grotuvams
Comment[lv]=Vienkāršs viegls GUI audio atskaņotājiem
Comment[mg]=GUI maivana tsotra ho an'ny mpilalao audio
Comment[mi]=He GUI mama ngawari mo nga kaitoro oro
Comment[mk]=Едноставен лесен GUI за аудио плеери
Comment[ml]=ഓഡിയോ പ്ലെയറുകൾക്കായുള്ള ഒരു ലളിതമായ ഭാരം കുറഞ്ഞ ജിയുഐ
Comment[mn]=Аудио тоглуулагчдад зориулсан энгийн хөнгөн GUI
Comment[mr]=ऑडिओ प्लेअरसाठी एक साधा हलका GUI
Comment[ms]=GUI ringan ringkas untuk pemain audio
Comment[mt]=GUI ħafifa sempliċi għal plejers tal-awdjo
Comment[my]=အသံဖွင့်သူများအတွက် ရိုးရှင်းပေါ့ပါးသော GUI
Comment[ne]=अडियो प्लेयरहरूको लागि एक साधारण हल्का GUI
Comment[nl]=Een eenvoudige lichtgewicht GUI voor audiospelers
Comment[no]=En enkel lett GUI for lydspillere
Comment[ny]=GUI yosavuta yopepuka ya osewera omvera
Comment[om]=GUI salphaa salphaa taphattoota sagalee
Comment[or]=ଅଡିଓ ପ୍ଲେୟାର ପାଇଁ ଏକ ସରଳ ହାଲୁକା GUI |
Comment[pa]=ਆਡੀਓ ਪਲੇਅਰਾਂ ਲਈ ਇੱਕ ਸਧਾਰਨ ਹਲਕਾ GUI
Comment[pl]=Prosty, lekki GUI dla odtwarzaczy audio
Comment[ps]=GUI ﻥﺯﻭ ﮏﭙﺳ ﻩﺩﺎﺳ ﻮﯾ ﻩﺭﺎﭙﻟ ﻭړﺎﻐﺑﻮﻟ ﻮﯾډﺁ ﺩ
Comment[pt]=Uma GUI simples e leve para leitores de áudio
Comment[qu]=Huk sanu llañu GUI uyarina pukllaqkunapaq
Comment[ro]=O GUI simplă și ușoară pentru playere audio
Comment[ru]=Простой легкий графический интерфейс для аудиоплееров
Comment[rw]=GUI yoroshye yoroheje ya GUI kubakina amajwi
Comment[sa]=श्रव्यप्लेयरस्य कृते सरलः लघुः GUI
Comment[sd]=GUI ﻭﺭﺍﻭ ﻥﺯﻭ ﻮڪﻠﮬ ﻭﺩﺎﺳ ﻭڙڪﮬ ءِﻻ﻿ ﺯﺮﺌﻴﻠﭘ ﻮﻳڊﺁ
Comment[si]=ඕඩියෝ ප්ලේයර් සඳහා සරල සැහැල්ලු GUI එකක්
Comment[sk]=Jednoduché ľahké GUI pre audio prehrávače
Comment[sl]=Preprost lahek grafični vmesnik za avdio predvajalnike
Comment[sm]=O se GUI mama mama mo tagata ta'alo leo
Comment[sn]=A simple lightweight GUI yevatambi vekuteerera
Comment[so]=GUI fudud oo fudud oo loogu talagalay ciyaartoyda maqalka ah
Comment[sq]=Një GUI i thjeshtë i lehtë për luajtës audio
Comment[st]=GUI e bonolo e bobebe bakeng sa libapali tsa audio
Comment[su]=A GUI lightweight basajan pikeun pamaén audio
Comment[sv]=Ett enkelt lätt GUI för ljudspelare
Comment[sw]=GUI rahisi nyepesi kwa vicheza sauti
Comment[ta]=ஆடியோ பிளேயர்களுக்கான எளிய இலகுரக GUI
Comment[te]=ఆడియో ప్లేయర్u200cల కోసం ఒక సాధారణ తేలికైన GUI
Comment[tg]=GUI оддии сабук барои плеерҳои аудио
Comment[th]=GUI ที่เรียบง่ายน้ำหนักเบาสำหรับเครื่องเล่นเสียง
Comment[ti]=ንመጻወቲ ድምጺ ዝኸውን ቀሊል ቀሊል GUI
Comment[tk]=Ses pleýerleri üçin ýönekeý ýeňil GUI
Comment[tl]=Isang simpleng magaan na GUI para sa mga audio player
Comment[to]=Ko ha GUI manifi ki he kau vaʻinga ongo
Comment[tr]=Müzik çalarlar için basit, hafif bir GUI
Comment[ts]=GUI yo olova yo olova ya swichayachayani swa mpfumawulo
Comment[tt]=Аудио плейерлар өчен гади җиңел GUI
Comment[tw]=GUI a emu yɛ hare a ɛnyɛ den ma audio players
Comment[ty]=Te hoê mori hinu ohie no te feia ha'uti faaroo
Comment[ug]=GUI ﻚﯩﻨﯧﻳ ﻲﯨﺩﺩﺎﺋ ﻥﯜﭼﯜﺋ ﭺﯘﻐﻳﻮﻗ ﺯﺍﯞﺎﺋ
Comment[uk]=Простий легкий графічний інтерфейс для аудіоплеєрів
Comment[ur]=GUI ﺎﮑﻠﮭﭘ ﺎﮑﻠﮨ ﮦﺩﺎﺳ ﮏﯾﺍ ﮯﯿﻟ ﮯﮐ ﺯﺮﺌﯿﻠﭘ ﻮﯾﮈﺁ
Comment[uz]=Audio pleyerlar uchun oddiy engil grafik interfeys
Comment[vi]=GUI nhẹ đơn giản cho trình phát âm thanh
Comment[xh]=I-GUI elula elula yabadlali abalalelwayo
Comment[yi]=סרעיַילפּ אָידואַ ראַפֿ GUI טייווטייל טושפּ א
Comment[yo]=GUI iwuwo fẹẹrẹ rọrun fun awọn oṣere ohun
Comment[zh]=一个简单的轻量级音频播放器 GUI
Comment[zu]=I-GUI elula engasindi yabadlali abalalelwayo
Comment=A simple lightweight GUI for audio players
Exec=playmusic
Terminal=false
Type=Application
Categories=Audio
GenericName=Audio player
