[Desktop Entry]
Encoding=UTF-8
Name=Glipper clipboard manager
Icon=mini-clipboard.xpm
Comment=Glipper clipboard manager
Exec=glipper_shell
Terminal=false
Type=Application
Categories=X-Desktop-applet
GenericName=Glipper
