[Desktop Entry]
Encoding=UTF-8
Name[af]=Rxvt terminale emulator
Name[am]=Rxvt ተርሚናል emulator
Name[ar]=Rxvt ﺔﻄﺤﻣ ﻲﻛﺎﺤﻣ
Name[as]=Rxvt টাৰ্মিনেল ইমুলেটৰ
Name[ay]=Rxvt terminal ukax mä emulador ukhamawa
Name[az]=Rxvt terminal emulyatoru
Name[ba]=Рксвт терминалы эмуляторы
Name[be]=Эмулятар тэрмінала rxvt
Name[bg]=Rxvt терминален емулатор
Name[bm]=Rxvt terminal emulatɛri
Name[bn]=Rxvt টার্মিনাল এমুলেটর
Name[bo]=Rxvt མཐའ་སྣེའི་ལད་མོ་བྱེད་མཁན།
Name[bs]=Rxvt terminalski emulator
Name[ca]=Emulador de terminal Rxvt
Name[co]=Emulatore di terminal Rxvt
Name[cs]=Emulátor terminálu Rxvt
Name[cy]=Efelychydd terfynell rxvt
Name[da]=Rxvt terminal emulator
Name[de]=Rxvt-Terminalemulator
Name[dv]=ވެއެ ރޓަލޭއުމިއެ ލްނަމިރޓާ ޓީވީސްކްއެރްއާ
Name[ee]=Rxvt ƒe nuwuƒe ƒe nɔnɔmetata
Name[el]=Εξομοιωτής τερματικού Rxvt
Name[eo]=Rxvt fina emulilo
Name[es]=emulador de terminal rxvt
Name[et]=Rxvt terminali emulaator
Name[eu]=Rxvt terminal emuladorea
Name[fa]=Rxvt ﻝﺎﻨﯿﻣﺮﺗ ﺯﺎﺳ ﻪﯿﺒﺷ
Name[fi]=Rxvt-pääteemulaattori
Name[fj]=Rxvt terminal emulator
Name[fo]=Rxvt terminal emulator
Name[fr]=Émulateur de terminal Rxvt
Name[fy]=Rxvt terminal emulator
Name[ga]=Rxvt aithriseoir críochfort
Name[gd]=Luchdaich a-nuas rxvt terminal emulator
Name[gl]=Emulador de terminal rxvt
Name[gn]=Emulador terminal Rxvt rehegua
Name[gu]=Rxvt ટર્મિનલ ઇમ્યુલેટર
Name[ha]=Rxvt m emulator
Name[he]=Rxvt ףוסמ רוטלומא
Name[hi]=Rxvt टर्मिनल एमुलेटर
Name[hr]=Rxvt emulator terminala
Name[ht]=Emulation tèminal Rxvt
Name[hu]=Rxvt terminál emulátor
Name[hy]=Rxvt տերմինալի էմուլյատոր
Name[id]=Emulator terminal Rxvt
Name[ig]=Rxvt ọnụ emulator
Name[is]=Rxvt terminal keppinautur
Name[it]=Emulatore di terminale Rxvt
Name[iu]=Rxvt terminal Emulator
Name[ja]=Rxvt ターミナル エミュレーター
Name[jv]=Rxvt terminal emulator
Name[ka]=Rxvt ტერმინალის ემულატორი
Name[kk]=Rxvt терминал эмуляторы
Name[km]=កម្មវិធីត្រាប់តាមស្ថានីយ Rxvt
Name[kn]=Rxvt ಟರ್ಮಿನಲ್ ಎಮ್ಯುಲೇಟರ್
Name[ko]=Rxvt 터미널 에뮬레이터
Name[ku]=Emûlatora termînalê Rxvt
Name[ky]=Rxvt терминалдык эмулятору
Name[la]=Rxvt terminatio aemulator
Name[lb]=Rxvt Terminal Emulator
Name[lg]=Rxvt terminal emulator
Name[ln]=Emulateur ya terminal ya Rxvt
Name[lo]=Rxvt terminal emulator
Name[lt]=Rxvt terminalo emuliatorius
Name[lv]=Rxvt termināļa emulators
Name[mg]=Rxvt terminal emulator
Name[mi]=Rxvt emulator kāpeka
Name[mk]=Rxvt терминален емулатор
Name[ml]=Rxvt ടെർമിനൽ എമുലേറ്റർ
Name[mn]=Rxvt терминал эмулятор
Name[mr]=Rxvt टर्मिनल एमुलेटर
Name[ms]=Emulator terminal Rxvt
Name[mt]=Emulatur terminali Rxvt
Name[my]=Rxvt terminal emulator
Name[ne]=Rxvt टर्मिनल इमुलेटर
Name[nl]=Rxvt-terminalemulator
Name[no]=Rxvt terminal emulator
Name[ny]=Rxvt terminal emulator
Name[om]=Fakkeessaa tarminaalii Rxvt
Name[or]=Rxvt ଟର୍ମିନାଲ୍ ଏମୁଲେଟର |
Name[pa]=Rxvt ਟਰਮੀਨਲ ਇਮੂਲੇਟਰ
Name[pl]=Emulator terminala Rxvt
Name[ps]=ﺮټﯿﻟﻮﻤﯾﺍ ﻞﻨﯿﻣﺮﺗ Rxvt ﺩ
Name[pt]=Emulador de terminal Rxvt
Name[qu]=Rxvt terminal emulador nisqa
Name[ro]=Emulator terminal Rxvt
Name[ru]=Эмулятор терминала Rxvt
Name[rw]=Rxvt yigana
Name[sa]=Rxvt टर्मिनल एमुलेटर
Name[sd]=Rxvt ﺮٽﻴﻟﻮﻤﻳﺍ ﻞﻨﻴﻣﺮٽ
Name[si]=Rxvt පර්යන්ත ඉමුලේටරය
Name[sk]=Emulátor terminálu Rxvt
Name[sl]=Emulator terminala Rxvt
Name[sm]=Rxvt terminal emulator
Name[sn]=Rxvt terminal emulator
Name[so]=Emulator terminal Rxvt
Name[sq]=Emulatori i terminalit Rxvt
Name[st]=Rxvt terminal emulator
Name[su]=Rxvt terminal émulator
Name[sv]=Rxvt terminal emulator
Name[sw]=Emulator ya mwisho ya Rxvt
Name[ta]=Rxvt டெர்மினல் எமுலேட்டர்
Name[te]=Rxvt టెర్మినల్ ఎమ్యులేటర్
Name[tg]=Эмулятори терминали Rxvt
Name[th]=โปรแกรมจำลองเทอร์มินัล Rxvt
Name[ti]=Rxvt ተርሚናል ኤሙለተር
Name[tk]=Rxvt terminal emulýatory
Name[tl]=Rxvt terminal emulator
Name[to]=Rxvt ʻikai ke ʻi ai ha emulator
Name[tr]=Rxvt terminal emülatörü
Name[ts]=Rxvt xitirhisiwa xo tekelela theminali
Name[tt]=Rxvt терминал эмуляторы
Name[tw]=Rxvt terminal emulator a wɔde yɛ nneɛma
Name[ty]=Rxvt terminal emulator
Name[ug]=Rxvt ﻰﺴﯩﭼﯜﮕﯩﻟﺪﯩﻠﻗەﺗ ﻝﺎﻨﯩﻣﺮﯧﺗ
Name[uk]=Емулятор терміналу Rxvt
Name[ur]=Rxvt ﺮﭩﯿﻟﻮﻤﯾﺍ ﻞﻨﯿﻣﺮﭨ
Name[uz]=Rxvt terminal emulyatori
Name[vi]=Trình giả lập thiết bị đầu cuối Rxvt
Name[xh]=I-emulator ye-terminal ye-Rxvt
Name[yi]=Rxvt ראָטאַלומע לאַזקאָוו
Name[yo]=emulator ebute Rxvt
Name[zh]=Rxvt 终端仿真器
Name[zu]=I-emulator yetheminali ye-Rxvt
Name=Rxvt terminal emulator
Icon=mini-sh.xpm
Comment[af]=Rxvt terminale emulator
Comment[am]=Rxvt ተርሚናል emulator
Comment[ar]=Rxvt ﺔﻄﺤﻣ ﻲﻛﺎﺤﻣ
Comment[as]=Rxvt টাৰ্মিনেল ইমুলেটৰ
Comment[ay]=Rxvt terminal ukax mä emulador ukhamawa
Comment[az]=Rxvt terminal emulyatoru
Comment[ba]=Рксвт терминалы эмуляторы
Comment[be]=Эмулятар тэрмінала rxvt
Comment[bg]=Rxvt терминален емулатор
Comment[bm]=Rxvt terminal emulatɛri
Comment[bn]=Rxvt টার্মিনাল এমুলেটর
Comment[bo]=Rxvt མཐའ་སྣེའི་ལད་མོ་བྱེད་མཁན།
Comment[bs]=Rxvt terminalski emulator
Comment[ca]=Emulador de terminal Rxvt
Comment[co]=Emulatore di terminal Rxvt
Comment[cs]=Emulátor terminálu Rxvt
Comment[cy]=Efelychydd terfynell rxvt
Comment[da]=Rxvt terminal emulator
Comment[de]=Rxvt-Terminalemulator
Comment[dv]=ވެއެ ރޓަލޭއުމިއެ ލްނަމިރޓާ ޓީވީސްކްއެރްއާ
Comment[ee]=Rxvt ƒe nuwuƒe ƒe nɔnɔmetata
Comment[el]=Εξομοιωτής τερματικού Rxvt
Comment[eo]=Rxvt fina emulilo
Comment[es]=emulador de terminal rxvt
Comment[et]=Rxvt terminali emulaator
Comment[eu]=Rxvt terminal emuladorea
Comment[fa]=Rxvt ﻝﺎﻨﯿﻣﺮﺗ ﺯﺎﺳ ﻪﯿﺒﺷ
Comment[fi]=Rxvt-pääteemulaattori
Comment[fj]=Rxvt terminal emulator
Comment[fo]=Rxvt terminal emulator
Comment[fr]=Émulateur de terminal Rxvt
Comment[fy]=Rxvt terminal emulator
Comment[ga]=Rxvt aithriseoir críochfort
Comment[gd]=Luchdaich a-nuas rxvt terminal emulator
Comment[gl]=Emulador de terminal rxvt
Comment[gn]=Emulador terminal Rxvt rehegua
Comment[gu]=Rxvt ટર્મિનલ ઇમ્યુલેટર
Comment[ha]=Rxvt m emulator
Comment[he]=Rxvt ףוסמ רוטלומא
Comment[hi]=Rxvt टर्मिनल एमुलेटर
Comment[hr]=Rxvt emulator terminala
Comment[ht]=Emulation tèminal Rxvt
Comment[hu]=Rxvt terminál emulátor
Comment[hy]=Rxvt տերմինալի էմուլյատոր
Comment[id]=Emulator terminal Rxvt
Comment[ig]=Rxvt ọnụ emulator
Comment[is]=Rxvt terminal keppinautur
Comment[it]=Emulatore di terminale Rxvt
Comment[iu]=Rxvt terminal Emulator
Comment[ja]=Rxvt ターミナル エミュレーター
Comment[jv]=Rxvt terminal emulator
Comment[ka]=Rxvt ტერმინალის ემულატორი
Comment[kk]=Rxvt терминал эмуляторы
Comment[km]=កម្មវិធីត្រាប់តាមស្ថានីយ Rxvt
Comment[kn]=Rxvt ಟರ್ಮಿನಲ್ ಎಮ್ಯುಲೇಟರ್
Comment[ko]=Rxvt 터미널 에뮬레이터
Comment[ku]=Emûlatora termînalê Rxvt
Comment[ky]=Rxvt терминалдык эмулятору
Comment[la]=Rxvt terminatio aemulator
Comment[lb]=Rxvt Terminal Emulator
Comment[lg]=Rxvt terminal emulator
Comment[ln]=Emulateur ya terminal ya Rxvt
Comment[lo]=Rxvt terminal emulator
Comment[lt]=Rxvt terminalo emuliatorius
Comment[lv]=Rxvt termināļa emulators
Comment[mg]=Rxvt terminal emulator
Comment[mi]=Rxvt emulator kāpeka
Comment[mk]=Rxvt терминален емулатор
Comment[ml]=Rxvt ടെർമിനൽ എമുലേറ്റർ
Comment[mn]=Rxvt терминал эмулятор
Comment[mr]=Rxvt टर्मिनल एमुलेटर
Comment[ms]=Emulator terminal Rxvt
Comment[mt]=Emulatur terminali Rxvt
Comment[my]=Rxvt terminal emulator
Comment[ne]=Rxvt टर्मिनल इमुलेटर
Comment[nl]=Rxvt-terminalemulator
Comment[no]=Rxvt terminal emulator
Comment[ny]=Rxvt terminal emulator
Comment[om]=Fakkeessaa tarminaalii Rxvt
Comment[or]=Rxvt ଟର୍ମିନାଲ୍ ଏମୁଲେଟର |
Comment[pa]=Rxvt ਟਰਮੀਨਲ ਇਮੂਲੇਟਰ
Comment[pl]=Emulator terminala Rxvt
Comment[ps]=ﺮټﯿﻟﻮﻤﯾﺍ ﻞﻨﯿﻣﺮﺗ Rxvt ﺩ
Comment[pt]=Emulador de terminal Rxvt
Comment[qu]=Rxvt terminal emulador nisqa
Comment[ro]=Emulator terminal Rxvt
Comment[ru]=Эмулятор терминала Rxvt
Comment[rw]=Rxvt yigana
Comment[sa]=Rxvt टर्मिनल एमुलेटर
Comment[sd]=Rxvt ﺮٽﻴﻟﻮﻤﻳﺍ ﻞﻨﻴﻣﺮٽ
Comment[si]=Rxvt පර්යන්ත ඉමුලේටරය
Comment[sk]=Emulátor terminálu Rxvt
Comment[sl]=Emulator terminala Rxvt
Comment[sm]=Rxvt terminal emulator
Comment[sn]=Rxvt terminal emulator
Comment[so]=Emulator terminal Rxvt
Comment[sq]=Emulatori i terminalit Rxvt
Comment[st]=Rxvt terminal emulator
Comment[su]=Rxvt terminal émulator
Comment[sv]=Rxvt terminal emulator
Comment[sw]=Emulator ya mwisho ya Rxvt
Comment[ta]=Rxvt டெர்மினல் எமுலேட்டர்
Comment[te]=Rxvt టెర్మినల్ ఎమ్యులేటర్
Comment[tg]=Эмулятори терминали Rxvt
Comment[th]=โปรแกรมจำลองเทอร์มินัล Rxvt
Comment[ti]=Rxvt ተርሚናል ኤሙለተር
Comment[tk]=Rxvt terminal emulýatory
Comment[tl]=Rxvt terminal emulator
Comment[to]=Rxvt ʻikai ke ʻi ai ha emulator
Comment[tr]=Rxvt terminal emülatörü
Comment[ts]=Rxvt xitirhisiwa xo tekelela theminali
Comment[tt]=Rxvt терминал эмуляторы
Comment[tw]=Rxvt terminal emulator a wɔde yɛ nneɛma
Comment[ty]=Rxvt terminal emulator
Comment[ug]=Rxvt ﻰﻟﺎﻨﯩﻣﺮﯧﺗ
Comment[uk]=Емулятор терміналу Rxvt
Comment[ur]=Rxvt ﺮﭩﯿﻟﻮﻤﯾﺍ ﻞﻨﯿﻣﺮﭨ
Comment[uz]=Rxvt terminal emulyatori
Comment[vi]=Trình giả lập thiết bị đầu cuối Rxvt
Comment[xh]=I-emulator ye-terminal ye-Rxvt
Comment[yi]=Rxvt ראָטאַלומע לאַזקאָוו
Comment[yo]=emulator ebute Rxvt
Comment[zh]=Rxvt 终端仿真器
Comment[zu]=I-emulator yetheminali ye-Rxvt
Comment=Rxvt terminal emulator
Exec=rxvt
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Rxvt terminal emulator
