[Desktop Entry]
Version=1.0
Name=Kodi multimedia player
GenericName=Kodi
Comment=Kodi multimedia player
Exec=kodi --standalone
Icon=kodi.png
Terminal=false
Type=Application
Categories=X-Multimedia-mediaplayer

Actions=Fullscreen;Standalone;

[Desktop Action Fullscreen]
Name=Open in fullscreen
Exec=kodi -fs

[Desktop Action Standalone]
Name=Open in standalone mode
Exec=kodi --standalone
