[Desktop Entry]
Version=1.0
Name[af]=Kodi multimedia speler
Name[am]=ኮዲ መልቲሚዲያ ማጫወቻ
Name[ar]=Kodi ﺓﺩﺪﻌﺘﻤﻟﺍ ﻂﺋﺎﺳﻮﻟﺍ ﻞﻐﺸﻣ
Name[as]=কোডি মাল্টিমিডিয়া প্লেয়াৰ
Name[ay]=Kodi multimedia ukax mä jach’a uñacht’äwiwa
Name[az]=Kodi multimedia pleyeri
Name[ba]=Коди мультимедиа уйынсыһы
Name[be]=Мультымедыйны прайгравальнік kodi
Name[bg]=Kodi мултимедиен плейър
Name[bm]=Kodi multimedia fɔlikɛlan
Name[bn]=কোডি মাল্টিমিডিয়া প্লেয়ার
Name[bo]=ཁི་ཏི་སྨྱན་མང་གཟུགས་ཀྱི་བདམས་ཐོན་
Name[bs]=Kodi multimedijalni plejer
Name[ca]=Reproductor multimèdia Kodi
Name[co]=lettore multimediale Kodi
Name[cs]=Multimediální přehrávač Kodi
Name[cy]=Chwaraewr amlgyfrwng Kodi
Name[da]=Kodi multimedieafspiller
Name[de]=Kodi-Multimedia-Player
Name[dv]=ވެރެޔަލޭޕް އާޑިމީޓިލްމަ ޑީކޯ
Name[ee]=Kodi multimedia ƒomɔ̃
Name[el]=Πρόγραμμα αναπαραγωγής πολυμέσων Kodi
Name[en]=Kodi multimedia player
Name[eo]=Kodi plurmedia ludilo
Name[es]=reproductor multimedia kodi
Name[et]=Kodi multimeediumipleier
Name[eu]=Kodi multimedia erreproduzitzailea
Name[fa]=Kodi ﯼﺍ ﻪﻧﺎﺳﺭ ﺪﻨﭼ ﻩﺪﻨﻨﮐ ﺶﺨﭘ
Name[fi]=Kodi multimediasoitin
Name[fj]=Kodi ni misini ni multimedia
Name[fo]=Kodi multimedia player
Name[fr]=Lecteur multimédia Kodi
Name[fy]=Kodi multimediaspieler
Name[ga]=Kodi imreoir ilmheán
Name[gd]=Kodi cluicheadair ioma-mheadhain
Name[gl]=reprodutor multimedia Kodi
Name[gn]=Reproductor multimedia Kodi rehegua
Name[gu]=કોડી મલ્ટીમીડિયા પ્લેયર
Name[ha]=Kodi multimedia player
Name[he]=ידוק לש הידמיטלומ ןגנ
Name[hi]=कोडी मल्टीमीडिया प्लेयर
Name[hr]=Kodi multimedijski player
Name[ht]=Kodi miltimedya jwè
Name[hu]=Kodi multimédiás lejátszó
Name[hy]=Kodi մուլտիմեդիա նվագարկիչ
Name[id]=Pemutar multimedia Kodi
Name[ig]=Onye ọkpụkpọ mgbasa ozi Kodi
Name[is]=Kodi margmiðlunarspilari
Name[it]=Lettore multimediale Kodi
Name[iu]=ᑰᑎ ᑐᓴᒐᒃᓴᓕᕆᔨ
Name[ja]=Kodiマルチメディアプレーヤー
Name[jv]=Pamuter multimedia Kodi
Name[ka]=Kodi მულტიმედიური პლეერი
Name[kk]=Kodi мультимедиялық ойнатқышы
Name[km]=កម្មវិធីចាក់ពហុមេឌៀ Kodi
Name[kn]=ಕೋಡಿ ಮಲ್ಟಿಮೀಡಿಯಾ ಪ್ಲೇಯರ್
Name[ko]="코디 멀티미디어 플레이어"
Name[ku]=Player multimedia ya Kodi
Name[ky]=Kodi мультимедиа ойноткуч
Name[la]=Kodi multimedia ludio
Name[lb]=Kodi Multimedia Player
Name[lg]=Kodi omuzannyi wa multimedia
Name[ln]=Lecteur multimédia ya Kodi
Name[lo]=Kodi ເຄື່ອງຫຼິ້ນມັນຕິມີເດຍ
Name[lt]=Kodi multimedijos grotuvas
Name[lv]=Kodi multivides atskaņotājs
Name[mg]=Mpilalao multimedia Kodi
Name[mi]=Kodi rongorau kaitākaro
Name[mk]=Мултимедијален плеер Kodi
Name[ml]=കോടി മൾട്ടിമീഡിയ പ്ലെയർ
Name[mn]=Kodi мультимедиа тоглуулагч
Name[mr]=कोडी मल्टीमीडिया प्लेयर
Name[ms]=Pemain multimedia Kodi
Name[mt]=Plejer multimedjali Kodi
Name[my]=Kodi မာလ်တီမီဒီယာပလေယာ
Name[ne]=कोडी मल्टिमिडिया प्लेयर
Name[nl]=Kodi-multimediaspeler
Name[no]=Kodi multimediaspiller
Name[ny]=Kodi multimedia player
Name[om]=Kodi maltimidiyaa taphattuu
Name[or]=କୋଡି ମଲ୍ଟିମିଡିଆ ପ୍ଲେୟାର |
Name[pa]=ਕੋਡੀ ਮਲਟੀਮੀਡੀਆ ਪਲੇਅਰ
Name[pl]=Odtwarzacz multimedialny Kodi
Name[ps]=ﺮﯿﻠﭘ ﺎﯾډﯿﻣ ﻲټﻠﻣ ﻱډﻮﮐ
Name[pt]=Leitor multimédia Kodi
Name[qu]=Kodi multimedia nisqa pukllaq
Name[ro]=player multimedia Kodi
Name[ru]=Коди мультимедийный плеер
Name[rw]=Umukinnyi wa Kodi
Name[sa]=कोडी मल्टीमीडिया प्लेयर
Name[sd]=ﺮﺌﻴﻠﭘ ﺎﻳڊﻴﻣ ﻲٽﻠﻣ ﻱڊﻮڪ
Name[si]=කොඩි බහුමාධ්u200dය වාදකය
Name[sk]=Multimediálny prehrávač Kodi
Name[sl]=Multimedijski predvajalnik Kodi
Name[sm]=Kodi multimedia player
Name[sn]=Kodi multimedia player
Name[so]=Kodi multimedia player
Name[sq]=Luajtësi multimedial Kodi
Name[st]=Sebapali sa multimedia sa Kodi
Name[su]=Pamuter multimédia Kodi
Name[sv]=Kodi multimediaspelare
Name[sw]=Mchezaji wa media ya Kodi
Name[ta]=கோடி மல்டிமீடியா பிளேயர்
Name[te]=కోడి మల్టీమీడియా ప్లేయర్
Name[tg]=Плеери мултимедиявии Kodi
Name[th]=เครื่องเล่นมัลติมีเดีย Kodi
Name[ti]=ኮዲ ማልቲሚድያ መጻወቲ
Name[tk]=Kodi multimediýa pleýeri
Name[tl]=Kodi multimedia player
Name[to]=Kodi ʻo e ngaahi mitia kehekehe
Name[tr]=Kodi multimedya oynatıcı
Name[ts]=Xichayachayani xa multimedia xa Kodi
Name[tt]=Коди мультимедиа плеер
Name[tw]=Kodi multimedia afiri a wɔde bɔ nneɛma
Name[ty]=Kodi multimedia player
Name[ug]=ﭺﯘﻐﻳﻮﻗ ەﺘﯩﺳﺍﯞ ﭖﯚﻛ ﻯﺩﻮﻛ
Name[uk]=Мультимедійний плеєр Kodi
Name[ur]=ﺮﺌﯿﻠﭘ ﺎﯾﮉﯿﻣ ﯽﭩﻠﻣ ﯼﮈﻮﮐ
Name[uz]=Kodi multimedia pleer
Name[vi]=Trình phát đa phương tiện Kodi
Name[xh]=Umdlali wemultimedia we-Kodi
Name[yi]=רעליפּש אַידעמיטלומ ידאָק
Name[yo]=Kodi multimedia ẹrọ orin
Name[zh]=Kodi多媒体播放器
Name[zu]=Isidlali semultimedia se-Kodi
Name=Kodi multimedia player
GenericName=Kodi
Comment[af]=Kodi multimedia speler
Comment[am]=ኮዲ መልቲሚዲያ ማጫወቻ
Comment[ar]=Kodi ﺓﺩﺪﻌﺘﻤﻟﺍ ﻂﺋﺎﺳﻮﻟﺍ ﻞﻐﺸﻣ
Comment[as]=কোডি মাল্টিমিডিয়া প্লেয়াৰ
Comment[ay]=Kodi multimedia ukax mä jach’a uñacht’äwiwa
Comment[az]=Kodi multimedia pleyeri
Comment[ba]=Коди мультимедиа уйынсыһы
Comment[be]=Мультымедыйны прайгравальнік kodi
Comment[bg]=Kodi мултимедиен плейър
Comment[bm]=Kodi multimedia fɔlikɛlan
Comment[bn]=কোডি মাল্টিমিডিয়া প্লেয়ার
Comment[bo]=ཁི་ཏི་སྨྱན་མང་གཟུགས་ཀྱི་བདམས་ཐོན་
Comment[bs]=Kodi multimedijalni plejer
Comment[ca]=Reproductor multimèdia Kodi
Comment[co]=lettore multimediale Kodi
Comment[cs]=Multimediální přehrávač Kodi
Comment[cy]=Chwaraewr amlgyfrwng Kodi
Comment[da]=Kodi multimedieafspiller
Comment[de]=Kodi-Multimedia-Player
Comment[dv]=ވެރެޔަލޭޕް އާޑިމީޓިލްމަ ޑީކޯ
Comment[ee]=Kodi multimedia ƒomɔ̃
Comment[el]=Πρόγραμμα αναπαραγωγής πολυμέσων Kodi
Comment[en]=Kodi multimedia player
Comment[eo]=Kodi plurmedia ludilo
Comment[es]=reproductor multimedia kodi
Comment[et]=Kodi multimeediumipleier
Comment[eu]=Kodi multimedia erreproduzitzailea
Comment[fa]=Kodi ﯼﺍ ﻪﻧﺎﺳﺭ ﺪﻨﭼ ﻩﺪﻨﻨﮐ ﺶﺨﭘ
Comment[fi]=Kodi multimediasoitin
Comment[fj]=Kodi ni misini ni multimedia
Comment[fo]=Kodi multimedia player
Comment[fr]=Lecteur multimédia Kodi
Comment[fy]=Kodi multimediaspieler
Comment[ga]=Kodi imreoir ilmheán
Comment[gd]=Kodi cluicheadair ioma-mheadhain
Comment[gl]=reprodutor multimedia Kodi
Comment[gn]=Reproductor multimedia Kodi rehegua
Comment[gu]=કોડી મલ્ટીમીડિયા પ્લેયર
Comment[ha]=Kodi multimedia player
Comment[he]=ידוק לש הידמיטלומ ןגנ
Comment[hi]=कोडी मल्टीमीडिया प्लेयर
Comment[hr]=Kodi multimedijski player
Comment[ht]=Kodi miltimedya jwè
Comment[hu]=Kodi multimédiás lejátszó
Comment[hy]=Kodi մուլտիմեդիա նվագարկիչ
Comment[id]=Pemutar multimedia Kodi
Comment[ig]=Onye ọkpụkpọ mgbasa ozi Kodi
Comment[is]=Kodi margmiðlunarspilari
Comment[it]=Lettore multimediale Kodi
Comment[iu]=ᑰᑎ ᑐᓴᒐᒃᓴᓕᕆᔨ
Comment[ja]=Kodiマルチメディアプレーヤー
Comment[jv]=Pamuter multimedia Kodi
Comment[ka]=Kodi მულტიმედიური პლეერი
Comment[kk]=Kodi мультимедиялық ойнатқышы
Comment[km]=កម្មវិធីចាក់ពហុមេឌៀ Kodi
Comment[kn]=ಕೋಡಿ ಮಲ್ಟಿಮೀಡಿಯಾ ಪ್ಲೇಯರ್
Comment[ko]="코디 멀티미디어 플레이어"
Comment[ku]=Player multimedia ya Kodi
Comment[ky]=Kodi мультимедиа ойноткуч
Comment[la]=Kodi multimedia ludio
Comment[lb]=Kodi Multimedia Player
Comment[lg]=Kodi omuzannyi wa multimedia
Comment[ln]=Lecteur multimédia ya Kodi
Comment[lo]=Kodi ເຄື່ອງຫຼິ້ນມັນຕິມີເດຍ
Comment[lt]=Kodi multimedijos grotuvas
Comment[lv]=Kodi multivides atskaņotājs
Comment[mg]=Mpilalao multimedia Kodi
Comment[mi]=Kodi rongorau kaitākaro
Comment[mk]=Мултимедијален плеер Kodi
Comment[ml]=കോടി മൾട്ടിമീഡിയ പ്ലെയർ
Comment[mn]=Kodi мультимедиа тоглуулагч
Comment[mr]=कोडी मल्टीमीडिया प्लेयर
Comment[ms]=Pemain multimedia Kodi
Comment[mt]=Plejer multimedjali Kodi
Comment[my]=Kodi မာလ်တီမီဒီယာပလေယာ
Comment[ne]=कोडी मल्टिमिडिया प्लेयर
Comment[nl]=Kodi-multimediaspeler
Comment[no]=Kodi multimediaspiller
Comment[ny]=Kodi multimedia player
Comment[om]=Kodi maltimidiyaa taphattuu
Comment[or]=କୋଡି ମଲ୍ଟିମିଡିଆ ପ୍ଲେୟାର |
Comment[pa]=ਕੋਡੀ ਮਲਟੀਮੀਡੀਆ ਪਲੇਅਰ
Comment[pl]=Odtwarzacz multimedialny Kodi
Comment[ps]=ﺮﯿﻠﭘ ﺎﯾډﯿﻣ ﻲټﻠﻣ ﻱډﻮﮐ
Comment[pt]=Leitor multimédia Kodi
Comment[qu]=Kodi multimedia nisqa pukllaq
Comment[ro]=player multimedia Kodi
Comment[ru]=Коди мультимедийный плеер
Comment[rw]=Umukinnyi wa Kodi
Comment[sa]=कोडी मल्टीमीडिया प्लेयर
Comment[sd]=ﺮﺌﻴﻠﭘ ﺎﻳڊﻴﻣ ﻲٽﻠﻣ ﻱڊﻮڪ
Comment[si]=කොඩි බහුමාධ්u200dය වාදකය
Comment[sk]=Multimediálny prehrávač Kodi
Comment[sl]=Multimedijski predvajalnik Kodi
Comment[sm]=Kodi multimedia player
Comment[sn]=Kodi multimedia player
Comment[so]=Kodi multimedia player
Comment[sq]=Luajtësi multimedial Kodi
Comment[st]=Sebapali sa multimedia sa Kodi
Comment[su]=Pamuter multimédia Kodi
Comment[sv]=Kodi multimediaspelare
Comment[sw]=Mchezaji wa media ya Kodi
Comment[ta]=கோடி மல்டிமீடியா பிளேயர்
Comment[te]=కోడి మల్టీమీడియా ప్లేయర్
Comment[tg]=Плеери мултимедиявии Kodi
Comment[th]=เครื่องเล่นมัลติมีเดีย Kodi
Comment[ti]=ኮዲ ማልቲሚድያ መጻወቲ
Comment[tk]=Kodi multimediýa pleýeri
Comment[tl]=Kodi multimedia player
Comment[to]=Kodi ʻo e ngaahi mitia kehekehe
Comment[tr]=Kodi multimedya oynatıcı
Comment[ts]=Xichayachayani xa multimedia xa Kodi
Comment[tt]=Коди мультимедиа плеер
Comment[tw]=Kodi multimedia afiri a wɔde bɔ nneɛma
Comment[ty]=Kodi multimedia player
Comment[ug]=ﭺﯘﻐﻳﻮﻗ ەﺘﯩﺳﺍﯞ ﭖﯚﻛ ﻯﺩﻮﻛ
Comment[uk]=Мультимедійний плеєр Kodi
Comment[ur]=ﺮﺌﯿﻠﭘ ﺎﯾﮉﯿﻣ ﯽﭩﻠﻣ ﯼﮈﻮﮐ
Comment[uz]=Kodi multimedia pleer
Comment[vi]=Trình phát đa phương tiện Kodi
Comment[xh]=Umdlali wemultimedia we-Kodi
Comment[yi]=רעליפּש אַידעמיטלומ ידאָק
Comment[yo]=Kodi multimedia ẹrọ orin
Comment[zh]=Kodi多媒体播放器
Comment[zu]=Isidlali semultimedia se-Kodi
Comment=Kodi multimedia player
Exec=kodi --standalone
Icon=kodi.png
Terminal=false
Type=Application
Categories=X-Multimedia-mediaplayer

Actions=Fullscreen;Standalone;

[Desktop Action Fullscreen]
Name=Open in fullscreen
Exec=kodi -fs

[Desktop Action Standalone]
Name=Open in standalone mode
Exec=kodi --standalone
