[Desktop Entry]
Encoding=UTF-8
Name[af]=Gcolorsel kleurkieser
Name[am]=Gcolorsel ቀለም መራጭ
Name[ar]=Gcolorsel ﻥﺍﻮﻟﻷ﻿ﺍ ﻲﻘﺘﻨﻣ
Name[as]=Gcolorsel ৰং নিৰ্বাচক
Name[ay]=Gcolorsel saminakan ajllitapa
Name[az]=Gcolorsel rəng seçicisi
Name[ba]=Глорель төҫөн һайлаусы
Name[be]=Праграма выбару колеру Gcolorsel
Name[bg]=Избор на цвят Gcolorsel
Name[bm]=Gcolorsel kulɛri sugandibaga
Name[bn]=Gcolorsel রঙ চয়নকারী
Name[bo]=ཚོན་མདོག་གི་གདམ་གསེས་ཡོ་ཆས།
Name[bs]=Gcolorsel birač boja
Name[ca]=Selector de colors Gcolorsel
Name[co]=Gcolorsel selettore di culore
Name[cs]=Výběr barvy Gcolorsel
Name[cy]=Dewisydd lliw Gcolorsel
Name[da]=Gcolorsel farvevælger
Name[de]=Gcolorsel-Farbauswahl
Name[dv]=ވެކެޗެއްއެ ވާހޮ ލަކު ލްސެރލަކަގް
Name[ee]=Gcolorsel amadede tiatia
Name[el]=Επιλογέας χρώματος Gcolorsel
Name[en]=Gcolorsel color chooser
Name[eo]=Gcolorsel kolorelektilo
Name[es]=Selector de color Gcolorsel
Name[et]=Gcolorseli värvivalija
Name[eu]=Gcolorsel kolore-hautatzailea
Name[fa]=Gcolorsel ﮓﻧﺭ ﺮﮕﺑﺎﺨﺘﻧﺍ
Name[fi]=Gcolorsel-värin valitsin
Name[fj]=iYaya ni roka ni Gcolorsel
Name[fo]=Gcolorsel color veljar
Name[fr]=Sélecteur de couleurs Gcolorsel
Name[fy]=Gcolorsel kleur kiezer
Name[ga]=Roghnóir dath Gcolorsel
Name[gd]=Taghadair dath Gcolorsel
Name[gl]=Selector de cores Gcolorsel
Name[gn]=Gcolorsel sa'y oiporavóva
Name[gu]=Gcolorsel રંગ પસંદકર્તા
Name[ha]=Gcolorsel mai zabar launi
Name[he]=Gcolorsel לש םיעבצ רחוב
Name[hi]=Gcolorsel रंग चयनकर्ता
Name[hr]=Gcolorsel birač boja
Name[ht]=Gcolorsel seleksyon koulè
Name[hu]=Gcolorsel színválasztó
Name[hy]=Gcolorsel գույնի ընտրիչ
Name[id]=Pemilih warna Gcolorsel
Name[ig]=Onye na-ahọrọ agba Gcolorsel
Name[is]=Gcolorsel litavali
Name[it]=Selettore di colori Gcolorsel
Name[iu]=Gcolorsel ᑕᖅᓴᖓ ᓂᕈᐊᕈᑦ
Name[ja]=Gcolorsel カラーチューザー
Name[jv]=Pemilih warna Gcolorsel
Name[ka]=Gcolorsel ფერის ამომრჩევი
Name[kk]=Gcolorsel түс таңдаушысы
Name[km]=ឧបករណ៍ជ្រើសរើសពណ៌ Gcolorsel
Name[kn]=Gcolorsel ಬಣ್ಣ ಆಯ್ಕೆಗಾರ
Name[ko]=Gcolorsel 색상 선택기
Name[ku]=Hilbijêrê rengê Gcolorsel
Name[ky]=Gcolorsel түс тандагыч
Name[la]=Gcolorsel color eligentis
Name[lb]=Gcolorsel Faarfwieler
Name[lg]=Gcolorsel omulonda langi
Name[ln]=Gcolorsel moponi ya langi
Name[lo]=ຕົວເລືອກສີ Gcolorsel
Name[lt]=Gcolorsel spalvų parinkiklis
Name[lv]=Gcolorsel krāsu izvēle
Name[mg]=Mpifidy loko Gcolorsel
Name[mi]=Kaiwhiri tae Gcolorsel
Name[mk]=Избирач на боја на Gcolorsel
Name[ml]=Gcolorsel വർണ്ണ തിരഞ്ഞെടുക്കൽ
Name[mn]=Gcolorsel өнгө сонгогч
Name[mr]=Gcolorsel रंग निवडक
Name[ms]=Pemilih warna Gcolorsel
Name[mt]=Gcolorsel li jagħżel il-kulur
Name[my]=Gcolorsel အရောင်ရွေးချယ်မှု
Name[ne]=Gcolorsel रंग चयनकर्ता
Name[nl]=Gcolorsel kleurkiezer
Name[no]=Gcolorsel fargevelger
Name[ny]=Chosankha chamtundu wa Gcolorsel
Name[om]=Filataa halluu Gcolorsel
Name[or]=Gcolorsel ରଙ୍ଗ ଚୟନକାରୀ |
Name[pa]=Gcolorsel ਰੰਗ ਚੋਣਕਾਰ
Name[pl]=Selektor kolorów Gcolorsel
Name[ps]=Gcolorsel ﯽﮑﻧﻮﮐﺎټ ګﻧﺭ
Name[pt]=Seletor de cores Gcolorsel
Name[qu]=Gcolorsel llimp’i akllaq
Name[ro]=Selector de culori Gcolorsel
Name[ru]=Выбор цвета Gcolorsel
Name[rw]=Guhitamo amabara ya Gcolorsel
Name[sa]=Gcolorsel वर्ण चयनकर्ता
Name[sd]=Gcolorsel ڙﺪﻨﻳڊﻧﻮﭼ ﮓﻧﺭ
Name[si]=Gcolorsel වර්ණ තේරීම
Name[sk]=Výber farieb Gcolorsel
Name[sl]=Izbirnik barv Gcolorsel
Name[sm]=Gcolorsel filifili lanu
Name[sn]=Gcolorsel color chooser
Name[so]=Midabka doorta Gcolorsel
Name[sq]=Zgjedhës ngjyrash Gcolorsel
Name[st]=Khetho ea mebala ea Gcolorsel
Name[su]=Pamilih warna Gcolorsel
Name[sv]=Gcolorsel färgväljare
Name[sw]=Chaguo la rangi ya Gcolorsel
Name[ta]=Gcolorsel வண்ண தேர்வு
Name[te]=Gcolorsel రంగు ఎంపిక
Name[tg]=Интихобкунандаи ранги Gcolorsel
Name[th]=ตัวเลือกสี Gcolorsel
Name[ti]=Gcolorsel ሕብሪ መምረጺ
Name[tk]=Gcolorsel reňk saýlaýjy
Name[tl]=Tagapili ng kulay ng Gcolorsel
Name[to]=Gcolorsel lanu chooser
Name[tr]=Gcolorsel renk seçici
Name[ts]=Gcolorsel muhlawuri wa mihlovo
Name[tt]=Гкорорсель төс сайлау
Name[tw]=Gcolorsel kɔla a wɔpaw
Name[ty]=Gcolorsel
Name[ug]=Gcolorsel ﭺﯘﻐﯩﻠﻟﺎﺗ ﯓەﺭ
Name[uk]=Вибір кольору Gcolorsel
Name[ur]=Gcolorsel ﮦﺪﻨﻨﮐ ﺐﺨﺘﻨﻣ ﮓﻧﺭ
Name[uz]=Gcolorsel rang tanlash
Name[vi]=Bộ chọn màu Gcolorsel
Name[xh]=Isikhethi sombala weGcolorsel
Name[yi]=רעסיושט רילאָק לעסראָלאָקג
Name[yo]=Gcolorsel awọ yiyan
Name[zh]=Gcolorsel 颜色选择器
Name[zu]=Isikhethi sombala we-Gcolorsel
Name=Gcolorsel color chooser
Icon=gcolorsel.png
Comment[af]=Gcolorsel kleurkieser
Comment[am]=Gcolorsel ቀለም መራጭ
Comment[ar]=Gcolorsel ﻥﺍﻮﻟﻷ﻿ﺍ ﻲﻘﺘﻨﻣ
Comment[as]=Gcolorsel ৰং নিৰ্বাচক
Comment[ay]=Gcolorsel saminakan ajllitapa
Comment[az]=Gcolorsel rəng seçicisi
Comment[ba]=Глорель төҫөн һайлаусы
Comment[be]=Праграма выбару колеру Gcolorsel
Comment[bg]=Избор на цвят Gcolorsel
Comment[bm]=Gcolorsel kulɛri sugandibaga
Comment[bn]=Gcolorsel রঙ চয়নকারী
Comment[bo]=ཚོན་མདོག་གི་གདམ་གསེས་ཡོ་ཆས།
Comment[bs]=Gcolorsel birač boja
Comment[ca]=Selector de colors Gcolorsel
Comment[co]=Gcolorsel selettore di culore
Comment[cs]=Výběr barvy Gcolorsel
Comment[cy]=Dewisydd lliw Gcolorsel
Comment[da]=Gcolorsel farvevælger
Comment[de]=Gcolorsel-Farbauswahl
Comment[dv]=ވެކެޗެއްއެ ވާހޮ ލަކު ލްސެރލަކަގް
Comment[ee]=Gcolorsel amadede tiatia
Comment[el]=Επιλογέας χρώματος Gcolorsel
Comment[en]=Gcolorsel color chooser
Comment[eo]=Gcolorsel kolorelektilo
Comment[es]=Selector de color Gcolorsel
Comment[et]=Gcolorseli värvivalija
Comment[eu]=Gcolorsel kolore-hautatzailea
Comment[fa]=Gcolorsel ﮓﻧﺭ ﺮﮕﺑﺎﺨﺘﻧﺍ
Comment[fi]=Gcolorsel-värin valitsin
Comment[fj]=iYaya ni roka ni Gcolorsel
Comment[fo]=Gcolorsel color veljar
Comment[fr]=Sélecteur de couleurs Gcolorsel
Comment[fy]=Gcolorsel kleur kiezer
Comment[ga]=Roghnóir dath Gcolorsel
Comment[gd]=Taghadair dath Gcolorsel
Comment[gl]=Selector de cores Gcolorsel
Comment[gn]=Gcolorsel sa'y oiporavóva
Comment[gu]=Gcolorsel રંગ પસંદકર્તા
Comment[ha]=Gcolorsel mai zabar launi
Comment[he]=Gcolorsel לש םיעבצ רחוב
Comment[hi]=Gcolorsel रंग चयनकर्ता
Comment[hr]=Gcolorsel birač boja
Comment[ht]=Gcolorsel seleksyon koulè
Comment[hu]=Gcolorsel színválasztó
Comment[hy]=Gcolorsel գույնի ընտրիչ
Comment[id]=Pemilih warna Gcolorsel
Comment[ig]=Onye na-ahọrọ agba Gcolorsel
Comment[is]=Gcolorsel litavali
Comment[it]=Selettore di colori Gcolorsel
Comment[iu]=Gcolorsel ᑕᖅᓴᖓ ᓂᕈᐊᕈᑦ
Comment[ja]=Gcolorsel カラーチューザー
Comment[jv]=Pemilih warna Gcolorsel
Comment[ka]=Gcolorsel ფერის ამომრჩევი
Comment[kk]=Gcolorsel түс таңдаушысы
Comment[km]=ឧបករណ៍ជ្រើសរើសពណ៌ Gcolorsel
Comment[kn]=Gcolorsel ಬಣ್ಣ ಆಯ್ಕೆಗಾರ
Comment[ko]=Gcolorsel 색상 선택기
Comment[ku]=Hilbijêrê rengê Gcolorsel
Comment[ky]=Gcolorsel түс тандагыч
Comment[la]=Gcolorsel color eligentis
Comment[lb]=Gcolorsel Faarfwieler
Comment[lg]=Gcolorsel omulonda langi
Comment[ln]=Gcolorsel moponi ya langi
Comment[lo]=ຕົວເລືອກສີ Gcolorsel
Comment[lt]=Gcolorsel spalvų parinkiklis
Comment[lv]=Gcolorsel krāsu izvēle
Comment[mg]=Mpifidy loko Gcolorsel
Comment[mi]=Kaiwhiri tae Gcolorsel
Comment[mk]=Избирач на боја на Gcolorsel
Comment[ml]=Gcolorsel വർണ്ണ തിരഞ്ഞെടുക്കൽ
Comment[mn]=Gcolorsel өнгө сонгогч
Comment[mr]=Gcolorsel रंग निवडक
Comment[ms]=Pemilih warna Gcolorsel
Comment[mt]=Gcolorsel li jagħżel il-kulur
Comment[my]=Gcolorsel အရောင်ရွေးချယ်မှု
Comment[ne]=Gcolorsel रंग चयनकर्ता
Comment[nl]=Gcolorsel kleurkiezer
Comment[no]=Gcolorsel fargevelger
Comment[ny]=Chosankha chamtundu wa Gcolorsel
Comment[om]=Filataa halluu Gcolorsel
Comment[or]=Gcolorsel ରଙ୍ଗ ଚୟନକାରୀ |
Comment[pa]=Gcolorsel ਰੰਗ ਚੋਣਕਾਰ
Comment[pl]=Selektor kolorów Gcolorsel
Comment[ps]=Gcolorsel ﯽﮑﻧﻮﮐﺎټ ګﻧﺭ
Comment[pt]=Seletor de cores Gcolorsel
Comment[qu]=Gcolorsel llimp’i akllaq
Comment[ro]=Selector de culori Gcolorsel
Comment[ru]=Выбор цвета Gcolorsel
Comment[rw]=Guhitamo amabara ya Gcolorsel
Comment[sa]=Gcolorsel वर्ण चयनकर्ता
Comment[sd]=Gcolorsel ڙﺪﻨﻳڊﻧﻮﭼ ﮓﻧﺭ
Comment[si]=Gcolorsel වර්ණ තේරීම
Comment[sk]=Výber farieb Gcolorsel
Comment[sl]=Izbirnik barv Gcolorsel
Comment[sm]=Gcolorsel filifili lanu
Comment[sn]=Gcolorsel color chooser
Comment[so]=Midabka doorta Gcolorsel
Comment[sq]=Zgjedhës ngjyrash Gcolorsel
Comment[st]=Khetho ea mebala ea Gcolorsel
Comment[su]=Pamilih warna Gcolorsel
Comment[sv]=Gcolorsel färgväljare
Comment[sw]=Chaguo la rangi ya Gcolorsel
Comment[ta]=Gcolorsel வண்ண தேர்வு
Comment[te]=Gcolorsel రంగు ఎంపిక
Comment[tg]=Интихобкунандаи ранги Gcolorsel
Comment[th]=ตัวเลือกสี Gcolorsel
Comment[ti]=Gcolorsel ሕብሪ መምረጺ
Comment[tk]=Gcolorsel reňk saýlaýjy
Comment[tl]=Tagapili ng kulay ng Gcolorsel
Comment[to]=Gcolorsel lanu chooser
Comment[tr]=Gcolorsel renk seçici
Comment[ts]=Gcolorsel muhlawuri wa mihlovo
Comment[tt]=Гкорорсель төс сайлау
Comment[tw]=Gcolorsel kɔla a wɔpaw
Comment[ty]=Gcolorsel
Comment[ug]=Gcolorsel ﭺﯘﻐﯩﻠﻟﺎﺗ ﯓەﺭ
Comment[uk]=Вибір кольору Gcolorsel
Comment[ur]=Gcolorsel ﮦﺪﻨﻨﮐ ﺐﺨﺘﻨﻣ ﮓﻧﺭ
Comment[uz]=Gcolorsel rang tanlash
Comment[vi]=Bộ chọn màu Gcolorsel
Comment[xh]=Isikhethi sombala weGcolorsel
Comment[yi]=רעסיושט רילאָק לעסראָלאָקג
Comment[yo]=Gcolorsel awọ yiyan
Comment[zh]=Gcolorsel 颜色选择器
Comment[zu]=Isikhethi sombala we-Gcolorsel
Comment=Gcolorsel color chooser
Exec=gcolorsel
Terminal=false
Type=Application
Categories=X-Graphic-utility
GenericName=Gcolorsel
