[Desktop Entry]
Encoding=UTF-8
Name=Gcolorsel color chooser
Icon=gcolorsel.png
Comment=color chooser and picker
Exec=gcolorsel
Terminal=false
Type=Application
Categories=X-Graphic-utility
GenericName=Gcolorsel
