[Desktop Entry]
Encoding=UTF-8
Name[af]=Xfontsel font kyker
Name[am]=Xfonsel ቅርጸ-ቁምፊ መመልከቻ
Name[ar]=Xfontsel ﻂﺧ ﺽﺭﺎﻋ
Name[as]=Xfontsel ফন্ট দৰ্শক
Name[ay]=Xfontsel ukax mä jamuqawa
Name[az]=Xfontsel şrift görüntüləyicisi
Name[ba]=Xfontsel шрифты тамашасыһы
Name[be]=Праграма прагляду шрыфтоў Xfontsel
Name[bg]=Преглед на шрифтове Xfontsel
Name[bm]=Xfontsel sɛbɛnnibolo lajɛbaga
Name[bn]=Xfontsel ফন্ট ভিউয়ার
Name[bo]=Xfontsel ཡིག་གཟུགས་ལྟ་མཁན།
Name[bs]=Xfontsel preglednik fontova
Name[ca]=Visor de fonts Xfontsel
Name[co]=Visualizzatore di font Xfontsel
Name[cs]=Prohlížeč písem Xfontsel
Name[cy]=Gwyliwr ffontiau Xfontsel
Name[da]=Xfontsel skrifttypefremviser
Name[de]=Xfontsel-Schriftbetrachter
Name[dv]=ވެއެ ރއައުވި ޓްންފޮ ލްސެޓްންފޮސްކްއެ
Name[ee]=Xfontsel ŋɔŋlɔdzesiwo ƒe nukpɔla
Name[el]=Πρόγραμμα προβολής γραμματοσειρών Xfontsel
Name[eo]=Xfontsel tiparo-spektilo
Name[es]=Visor de fuentes Xfontsel
Name[et]=Xfontsel fondivaatur
Name[eu]=Xfontsel letra-tipoen ikuslea
Name[fa]=Xfontsel ﺖﻧﻮﻓ ﺮﮕﺸﯾﺎﻤﻧ
Name[fi]=Xfontsel fontin katseluohjelma
Name[fj]=Sarasara ni tobu ni Xfontsel
Name[fo]=Xfontsel font viewer
Name[fr]=Visionneuse de polices Xfontsel
Name[fy]=Xfontsel lettertype werjouwer
Name[ga]=Breathnóir cló xfontsel
Name[gd]=Sealladair cruth-clò xfontsel
Name[gl]=Visor de fontes Xfontsel
Name[gn]=Xfontsel ñanduti renda jehechaukaha
Name[gu]=Xfontsel ફોન્ટ વ્યૂઅર
Name[ha]=Mai duba font Xfonsel
Name[he]=Xfontsel לש םינפוג גיצמ
Name[hi]=Xfontsel फ़ॉन्ट दर्शक
Name[hr]=Xfontsel preglednik fontova
Name[ht]=Xfontsel font viewer
Name[hu]=Xfontsel betűtípus-nézegető
Name[hy]=Xfontsel տառատեսակ դիտող
Name[id]=Penampil font Xfontsel
Name[ig]=Ihe nlele mkpụrụedemede Xfonsel
Name[is]=Xfontsel leturskoðari
Name[it]=Visualizzatore di caratteri Xfontsel
Name[iu]=Xfontsel font−ᒥᒃ ᑕᐅᑐᒃᑎ
Name[ja]=Xfontsel フォント ビューア
Name[jv]=Tampilan font Xfontsel
Name[ka]=Xfontsel შრიფტის მაყურებელი
Name[kk]=Xfontsel қаріп қарау құралы
Name[km]=កម្មវិធីមើលពុម្ពអក្សរ Xfontsel
Name[kn]=Xfontsel ಫಾಂಟ್ ವೀಕ್ಷಕ
Name[ko]=Xfontsel 글꼴 뷰어
Name[ku]=Dîmenderê tîpên Xfontsel
Name[ky]=Xfontsel шрифт көрүүчү
Name[la]=Xfontsel font videntium
Name[lb]=Xfontsel Font Viewer
Name[lg]=Omulabi w'empandiika ya Xfontsel
Name[ln]=Motali ya makomi ya Xfontsel
Name[lo]=ຕົວເບິ່ງຕົວອັກສອນ Xfontsel
Name[lt]=Xfontsel šriftų peržiūros programa
Name[lv]=Xfontsel fontu skatītājs
Name[mg]=Mpijery endritsoratra Xfontsel
Name[mi]=Kaitiro momotuhi Xfontsel
Name[mk]=Прегледувач на фонтови Xfontsel
Name[ml]=Xfontsel ഫോണ്ട് വ്യൂവർ
Name[mn]=Xfontsel фонт харагч
Name[mr]=Xfontsel फॉन्ट दर्शक
Name[ms]=Pemapar fon Xfontsel
Name[mt]=Telespettatur tat-tipa Xfontsel
Name[my]=Xfontsel ဖောင့်ကြည့်ရှုသူ
Name[ne]=Xfontsel फन्ट दर्शक
Name[nl]=Xfontsel-lettertypeviewer
Name[no]=Xfontsel fontviser
Name[ny]=Xfontsel font viewer
Name[om]=Ilaaltuu qubee Xfontsel
Name[or]=Xfontsel ଫଣ୍ଟ ଦର୍ଶକ |
Name[pa]=Xfontsel ਫੌਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka czcionek Xfontsel
Name[ps]=ﯽﮑﻧﻭﺪﯿﻟ ټﻧﻮﻓ Xfontsel ﺩ
Name[pt]=Visualizador de fontes Xfontsel
Name[qu]=Xfontsel qillqakuna qhawaq
Name[ro]=Vizualizator de fonturi Xfontsel
Name[ru]=просмотрщик шрифтов Xfontsel
Name[rw]=Imyandikire ya Xfontsel
Name[sa]=Xfontsel फ़ॉन्ट दर्शक
Name[sd]=Xfontsel ﻭﺭﺍﻭ ﮡﺳڏ ٽﻧﻮﻓ
Name[si]=Xfontsel අකුරු නරඹන්නා
Name[sk]=Prehliadač písiem Xfontsel
Name[sl]=Pregledovalnik pisav Xfontsel
Name[sm]=Xfontsel mata'itusi matamata
Name[sn]=Xfontsel font muoni
Name[so]=Daawade farta Xfonsel
Name[sq]=Shikuesi i shkronjave Xfontsel
Name[st]=Xfontsel font viewer
Name[su]=Panempo font Xfontsel
Name[sv]=Xfontsel teckensnittsvisare
Name[sw]=Kitazamaji cha fonti cha Xfontsel
Name[ta]=Xfontsel எழுத்துரு பார்வையாளர்
Name[te]=Xfontsel ఫాంట్ వ్యూయర్
Name[tg]=Намоишгари шрифти Xfontsel
Name[th]=โปรแกรมดูแบบอักษร Xfontsel
Name[ti]=Xfontsel ቅርጺ ፊደላት ዝርኢ
Name[tk]=Xfontsel şrift görkezijisi
Name[tl]=Xfontsel font viewer
Name[to]=Xfontsel faiʻanga papitaiso
Name[tr]=Xfontsel yazı tipi görüntüleyici
Name[ts]=Xilanguti xa fonto xa Xfontsel
Name[tt]=Xfontsel шрифты караучы
Name[tw]=Xfontsel font hwɛfoɔ
Name[ty]=Xfontsel font viewer
Name[ug]=Xfontsel ﻰﭼﯜﮔﺭﯚﻛ ﻰﻨﯩﺴﯩﺨﺳﯘﻧ ﺕەﺧ
Name[uk]=Переглядач шрифтів Xfontsel
Name[ur]=Xfontsel ﻻ﻿ﺍﻭ ﮯﻨﮭﮑﯾﺩ ﭧﻧﻮﻓ
Name[uz]=Xfontsel shrift ko'rish dasturi
Name[vi]=Trình xem phông chữ Xfontsel
Name[xh]=Isibonisi sefonti yeXfontsel
Name[yi]=Xfontsel רעקוקוצ טפֿירש
Name[yo]=Xfonsel font wiwo
Name[zh]=Xfontsel 字体查看器
Name[zu]=Isibukeli sefonti ye-Xfontsel
Name=Xfontsel font viewer
Icon=mini-font.xpm
Comment[af]=Xfontsel font kyker
Comment[am]=Xfonsel ቅርጸ-ቁምፊ መመልከቻ
Comment[ar]=Xfontsel ﻂﺧ ﺽﺭﺎﻋ
Comment[as]=Xfontsel ফন্ট দৰ্শক
Comment[ay]=Xfontsel ukax mä jamuqawa
Comment[az]=Xfontsel şrift görüntüləyicisi
Comment[ba]=Xfontsel шрифты тамашасыһы
Comment[be]=Праграма прагляду шрыфтоў Xfontsel
Comment[bg]=Преглед на шрифтове Xfontsel
Comment[bm]=Xfontsel sɛbɛnnibolo lajɛbaga
Comment[bn]=Xfontsel ফন্ট ভিউয়ার
Comment[bo]=Xfontsel ཡིག་གཟུགས་ལྟ་མཁན།
Comment[bs]=Xfontsel preglednik fontova
Comment[ca]=Visor de fonts Xfontsel
Comment[co]=Visualizzatore di font Xfontsel
Comment[cs]=Prohlížeč písem Xfontsel
Comment[cy]=Gwyliwr ffontiau Xfontsel
Comment[da]=Xfontsel skrifttypefremviser
Comment[de]=Xfontsel-Schriftbetrachter
Comment[dv]=ވެއެ ރއައުވި ޓްންފޮ ލްސެޓްންފޮސްކްއެ
Comment[ee]=Xfontsel ŋɔŋlɔdzesiwo ƒe nukpɔla
Comment[el]=Πρόγραμμα προβολής γραμματοσειρών Xfontsel
Comment[eo]=Xfontsel tiparo-spektilo
Comment[es]=Visor de fuentes Xfontsel
Comment[et]=Xfontsel fondivaatur
Comment[eu]=Xfontsel letra-tipoen ikuslea
Comment[fa]=Xfontsel ﺖﻧﻮﻓ ﺮﮕﺸﯾﺎﻤﻧ
Comment[fi]=Xfontsel fontin katseluohjelma
Comment[fj]=Sarasara ni tobu ni Xfontsel
Comment[fo]=Xfontsel font viewer
Comment[fr]=Visionneuse de polices Xfontsel
Comment[fy]=Xfontsel lettertype werjouwer
Comment[ga]=Breathnóir cló xfontsel
Comment[gd]=Sealladair cruth-clò xfontsel
Comment[gl]=Visor de fontes Xfontsel
Comment[gn]=Xfontsel ñanduti renda jehechaukaha
Comment[gu]=Xfontsel ફોન્ટ વ્યૂઅર
Comment[ha]=Mai duba font Xfonsel
Comment[he]=Xfontsel לש םינפוג גיצמ
Comment[hi]=Xfontsel फ़ॉन्ट दर्शक
Comment[hr]=Xfontsel preglednik fontova
Comment[ht]=Xfontsel font viewer
Comment[hu]=Xfontsel betűtípus-nézegető
Comment[hy]=Xfontsel տառատեսակ դիտող
Comment[id]=Penampil font Xfontsel
Comment[ig]=Ihe nlele mkpụrụedemede Xfonsel
Comment[is]=Xfontsel leturskoðari
Comment[it]=Visualizzatore di caratteri Xfontsel
Comment[iu]=Xfontsel font−ᒥᒃ ᑕᐅᑐᒃᑎ
Comment[ja]=Xfontsel フォント ビューア
Comment[jv]=Tampilan font Xfontsel
Comment[ka]=Xfontsel შრიფტის მაყურებელი
Comment[kk]=Xfontsel қаріп қарау құралы
Comment[km]=កម្មវិធីមើលពុម្ពអក្សរ Xfontsel
Comment[kn]=Xfontsel ಫಾಂಟ್ ವೀಕ್ಷಕ
Comment[ko]=Xfontsel 글꼴 뷰어
Comment[ku]=Dîmenderê tîpên Xfontsel
Comment[ky]=Xfontsel шрифт көрүүчү
Comment[la]=Xfontsel font videntium
Comment[lb]=Xfontsel Font Viewer
Comment[lg]=Omulabi w'empandiika ya Xfontsel
Comment[ln]=Motali ya makomi ya Xfontsel
Comment[lo]=ຕົວເບິ່ງຕົວອັກສອນ Xfontsel
Comment[lt]=Xfontsel šriftų peržiūros programa
Comment[lv]=Xfontsel fontu skatītājs
Comment[mg]=Mpijery endritsoratra Xfontsel
Comment[mi]=Kaitiro momotuhi Xfontsel
Comment[mk]=Прегледувач на фонтови Xfontsel
Comment[ml]=Xfontsel ഫോണ്ട് വ്യൂവർ
Comment[mn]=Xfontsel фонт харагч
Comment[mr]=Xfontsel फॉन्ट दर्शक
Comment[ms]=Pemapar fon Xfontsel
Comment[mt]=Telespettatur tat-tipa Xfontsel
Comment[my]=Xfontsel ဖောင့်ကြည့်ရှုသူ
Comment[ne]=Xfontsel फन्ट दर्शक
Comment[nl]=Xfontsel-lettertypeviewer
Comment[no]=Xfontsel fontviser
Comment[ny]=Xfontsel font viewer
Comment[om]=Ilaaltuu qubee Xfontsel
Comment[or]=Xfontsel ଫଣ୍ଟ ଦର୍ଶକ |
Comment[pa]=Xfontsel ਫੌਂਟ ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka czcionek Xfontsel
Comment[ps]=ﯽﮑﻧﻭﺪﯿﻟ ټﻧﻮﻓ Xfontsel ﺩ
Comment[pt]=Visualizador de fontes Xfontsel
Comment[qu]=Xfontsel qillqakuna qhawaq
Comment[ro]=Vizualizator de fonturi Xfontsel
Comment[ru]=просмотрщик шрифтов Xfontsel
Comment[rw]=Imyandikire ya Xfontsel
Comment[sa]=Xfontsel फ़ॉन्ट दर्शक
Comment[sd]=Xfontsel ﻭﺭﺍﻭ ﮡﺳڏ ٽﻧﻮﻓ
Comment[si]=Xfontsel අකුරු නරඹන්නා
Comment[sk]=Prehliadač písiem Xfontsel
Comment[sl]=Pregledovalnik pisav Xfontsel
Comment[sm]=Xfontsel mata'itusi matamata
Comment[sn]=Xfontsel font muoni
Comment[so]=Daawade farta Xfonsel
Comment[sq]=Shikuesi i shkronjave Xfontsel
Comment[st]=Xfontsel font viewer
Comment[su]=Panempo font Xfontsel
Comment[sv]=Xfontsel teckensnittsvisare
Comment[sw]=Kitazamaji cha fonti cha Xfontsel
Comment[ta]=Xfontsel எழுத்துரு பார்வையாளர்
Comment[te]=Xfontsel ఫాంట్ వ్యూయర్
Comment[tg]=Намоишгари шрифти Xfontsel
Comment[th]=โปรแกรมดูแบบอักษร Xfontsel
Comment[ti]=Xfontsel ቅርጺ ፊደላት ዝርኢ
Comment[tk]=Xfontsel şrift görkezijisi
Comment[tl]=Xfontsel font viewer
Comment[to]=Xfontsel faiʻanga papitaiso
Comment[tr]=Xfontsel yazı tipi görüntüleyici
Comment[ts]=Xilanguti xa fonto xa Xfontsel
Comment[tt]=Xfontsel шрифты караучы
Comment[tw]=Xfontsel font hwɛfoɔ
Comment[ty]=Xfontsel font viewer
Comment[ug]=Xfontsel ﻰﭼﯜﮔﺭﯚﻛ ﻰﻨﯩﺴﯩﺨﺳﯘﻧ ﺕەﺧ
Comment[uk]=Переглядач шрифтів Xfontsel
Comment[ur]=Xfontsel ﻻ﻿ﺍﻭ ﮯﻨﮭﮑﯾﺩ ﭧﻧﻮﻓ
Comment[uz]=Xfontsel shrift ko'rish dasturi
Comment[vi]=Trình xem phông chữ Xfontsel
Comment[xh]=Isibonisi sefonti yeXfontsel
Comment[yi]=Xfontsel רעקוקוצ טפֿירש
Comment[yo]=Xfonsel font wiwo
Comment[zh]=Xfontsel 字体查看器
Comment[zu]=Isibukeli sefonti ye-Xfontsel
Comment=Xfontsel font viewer
Exec=xfontsel -bg "#e0ffe0"
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Xfontsel font viewer
