[Desktop Entry]
Encoding=UTF-8
Name=Quirky Childproof Setup
Icon=mini-Filesystem-audit.xpm
Comment=Child-proof Quirky
Exec=childproof
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Childproof
