[Desktop Entry]
Encoding=UTF-8
Name=Firewall Setup Wizard
Icon=wizard16.xpm
Comment=Firewall Setup
Exec=firewall_ng
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Firewall Setup
