[Desktop Entry]
Encoding=UTF-8
Name=PETget Package Manager
Icon=pet16.xpm
Comment=PETget Package Manager
Exec=/usr/local/petget/ppm
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=PETget Package Manager
