[Desktop Entry]
Encoding=UTF-8
Name=Screeny Capture Windows and Fullscreen
Icon=mini-display.xpm
Comment=Screeny Capture Windows and Fullscreen
Exec=screeny
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Screeny Capture Windows and Fullscreen
