[Desktop Entry]
Encoding=UTF-8
Name=Snapshot Manager save/restore partition
Icon=mini-Filesystem-audit.xpm
Comment=Snapshot Manager save/restore partition
Exec=snapshot-manager
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Quirky Snapshot Manager
