[Desktop Entry]
Encoding=UTF-8
Name=Quirky Version Upgrade Manager
Icon=mini-Filesystem-audit.xpm
Comment=Quirky Version Upgrade Manager
Exec=upgrade-manager
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Version Upgrade Manager
