[Desktop Entry]
Encoding=UTF-8
Name[af]=LibreOffice Base databasis
Name[am]=LibreOffice Base ዳታቤዝ
Name[ar]=LibreOffice Base ﺕﺎﻧﺎﻴﺑ ﺓﺪﻋﺎﻗ
Name[as]=লিবাৰঅফিচ ভিত্তি ডাটাবেছ
Name[ay]=LibreOffice Base ukan yatiyawipa
Name[az]=LibreOffice bazası verilənlər bazası
Name[ba]=LibreOffice Base мәғлүмәт базаһы
Name[be]=База дадзеных LibreOffice
Name[bg]=База данни на LibreOffice
Name[bm]=LibreOffice Base ka kunnafonidilan
Name[bn]=LibreOffice বেস ডাটাবেস
Name[bo]=ལི་པུ་ལི་ཧྥེ་སི་རྟེན་གཞིའི་གཞི་གྲངས་མཛོད།
Name[bs]=Baza podataka LibreOffice Base
Name[ca]=Base de dades de LibreOffice Base
Name[co]=Base di basa di basa di LibreOffice
Name[cs]=Databáze LibreOffice Base
Name[cy]=Cronfa ddata sail LibreOffice
Name[da]=LibreOffice Base database
Name[de]=LibreOffice-Basisdatenbank
Name[dv]=ސްބޭޓާޑޭ ސްބޭ ސްފީއޮރޭބްލި
Name[ee]=LibreOffice Base ƒe nyatakakadzraɖoƒe
Name[el]=Βάση δεδομένων LibreOffice Base
Name[en]=LibreOffice Base database
Name[eo]=LibreOffice Baza datumbazo
Name[es]=Base de datos base de LibreOffice
Name[et]=LibreOffice Base'i andmebaas
Name[eu]=LibreOffice Base datu-basea
Name[fa]=LibreOffice Base ﻩﺩﺍﺩ ﻩﺎﮕﯾﺎﭘ
Name[fi]=LibreOffice Base -tietokanta
Name[fj]=Kato ni itukutuku ni LibreOffice
Name[fo]=LibreOffice Base database
Name[fr]=Base de données LibreOffice Base
Name[fy]=LibreOffice Base databank
Name[ga]=Bunachar sonraí LibreOffice saor in aisce,
Name[gd]=Stòr-dàta LibreOffice
Name[gl]=Base de datos base de LibreOffice
Name[gn]=LibreOffice Base mba’ekuaarã ryru
Name[gu]=લિબરઓફિસ બેઝ ડેટાબેઝ
Name[ha]=LibreOffice Base database
Name[he]=LibreOffice Base לש םינותנה דסמ
Name[hi]=लिब्रेऑफिस बेस डेटाबेस
Name[hr]=LibreOffice Base baza podataka
Name[ht]=Baz done LibreOffice Base
Name[hu]=LibreOffice Base adatbázis
Name[hy]=LibreOffice Base տվյալների բազա
Name[id]=Basis data Basis LibreOffice
Name[ig]=Ebe nchekwa data LibreOffice
Name[is]=LibreOffice Base gagnagrunnur
Name[it]=Base di dati di LibreOffice
Name[iu]=ᓕᐳᕇᔅ ᑐᖅᑯᐃᕕᒃ ᖃᕆᑕᐅᔭᒃᑯᑦ
Name[ja]=LibreOfficeベースデータベース
Name[jv]=Pangkalan data LibreOffice
Name[ka]=LibreOffice Base მონაცემთა ბაზა
Name[kk]=LibreOffice базасының дерекқоры
Name[km]=មូលដ្ឋានទិន្នន័យ LibreOffice
Name[kn]=LibreOffice ಬೇಸ್ ಡೇಟಾಬೇಸ್
Name[ko]=LibreOffice 기본 데이터베이스
Name[ku]=Database LibreOffice Base
Name[ky]=LibreOffice базасы
Name[la]=LibreOffice Base database
Name[lb]=LibreOffice Base Datebank
Name[lg]=Ekitabo ky'amawulire ekya LibreOffice Base
Name[ln]=Base ya ba données ya Base ya LibreOffice
Name[lo]=ຖານຂໍ້ມູນ LibreOffice Base
Name[lt]=LibreOffice bazės duomenų bazė
Name[lv]=LibreOffice bāzes datu bāze
Name[mg]=Database LibreOffice Base
Name[mi]=Patengi raraunga Freeoffice
Name[mk]=База на LibreOffice Base
Name[ml]=LibreOffice ബേസ് ഡാറ്റാബേസ്
Name[mn]=LibreOffice мэдээллийн бааз
Name[mr]=लिबरऑफिस बेस डेटाबेस
Name[ms]=Pangkalan data Pangkalan LibreOffice
Name[mt]=Bażi tad-database tal-LibreOffice
Name[my]=LibreOffice Base ဒေတာဘေ့စ်
Name[ne]=LibreOffice बेस डाटाबेस
Name[nl]=LibreOffice Base-database
Name[no]=LibreOffice Base-database
Name[ny]=LibreOffice Base database
Name[om]=Kuusdeetaa Bu'uuraa LibreOffice
Name[or]=ଲିବ୍ରେଫିସ୍ ବେସ୍ ଡାଟାବେସ୍ |
Name[pa]=ਲਿਬਰੇਆਫਿਸ ਬੇਸ ਡੇਟਾਬੇਸ
Name[pl]=Baza danych pakietu LibreOffice
Name[ps]=ﺲﯿﺑﺎټﯾډ ﺲﯿﺑ ﺲﻓﺁ ﺮﺒﯿﻟ ﺩ
Name[pt]=Base de dados LibreOffice Base
Name[qu]=LibreOffice Base nisqa willay tantana
Name[ro]=Baza de date LibreOffice
Name[ru]=База данных LibreOffice
Name[rw]=Ububiko bwibanze
Name[sa]=LibreOffice आधारदत्तांशकोशः
Name[sd]=LibreOffice ﺲﻴﺑﺎٽﻳڊ ﺲﻴﺑ
Name[si]=LibreOffice Base දත්ත සමුදාය
Name[sk]=Databáza LibreOffice Base
Name[sl]=Baza podatkov LibreOffice Base
Name[sm]=Freeoffice Base database
Name[sn]=LibreOffice Base database
Name[so]=Macluumaadka Saldhigga LibreOffice
Name[sq]=Baza e të dhënave LibreOffice
Name[st]=LibreOffice Base database
Name[su]=Pangkalan data LibreOffice
Name[sv]=LibreOffice Base-databas
Name[sw]=LibreOffice Base database
Name[ta]=LibreOffice அடிப்படை தரவுத்தளம்
Name[te]=LibreOffice బేస్ డేటాబేస్
Name[tg]=Пойгоҳи LibreOffice
Name[th]=ฐานข้อมูล LibreOffice Base
Name[ti]=ሊብሬኦፊስ መሰረት ዳታቤዝ
Name[tk]=LibreOffice Base maglumat bazasy
Name[tl]=Database ng LibreOffice Base
Name[to]=LibreOffice Base database
Name[tr]=LibreOffice Temel veritabanı
Name[ts]=Dathabeyisi ya LibreOffice Base
Name[tt]=LibreOffice Base базасы
Name[tw]=LibreOffice Base databea a ɛwɔ hɔ
Name[ty]=LibreOffice Base database
Name[ug]=LibreOffice Base ﻰﻧﺍﺪﻧﺎﺳ
Name[uk]=База даних LibreOffice
Name[ur]=ﺲﯿﺑ ﺎﭩﯾﮈ ﺲﯿﺑ ﺲﻓﺁ ﺮﺒﯿﻟ
Name[uz]=LibreOffice bazasi ma'lumotlar bazasi
Name[vi]=Cơ sở dữ liệu cơ sở LibreOffice
Name[xh]=LibreOffice Base database
Name[yi]=LibreOffice Base סייבאַטאַד
Name[yo]=LibreOffice Base database
Name[zh]=LibreOffice 基础数据库
Name[zu]=Isizindalwazi se-LibreOffice Base
Name=LibreOffice Base database
Icon=libreoffice-base.png
Comment[af]=LibreOffice Base databasis
Comment[am]=LibreOffice Base ዳታቤዝ
Comment[ar]=LibreOffice Base ﺕﺎﻧﺎﻴﺑ ﺓﺪﻋﺎﻗ
Comment[as]=লিবাৰঅফিচ ভিত্তি ডাটাবেছ
Comment[ay]=LibreOffice Base ukan yatiyawipa
Comment[az]=LibreOffice bazası verilənlər bazası
Comment[ba]=LibreOffice Base мәғлүмәт базаһы
Comment[be]=База дадзеных LibreOffice
Comment[bg]=База данни на LibreOffice
Comment[bm]=LibreOffice Base ka kunnafonidilan
Comment[bn]=LibreOffice বেস ডাটাবেস
Comment[bo]=ལི་པུ་ལི་ཧྥེ་སི་རྟེན་གཞིའི་གཞི་གྲངས་མཛོད།
Comment[bs]=Baza podataka LibreOffice Base
Comment[ca]=Base de dades de LibreOffice Base
Comment[co]=Base di basa di basa di LibreOffice
Comment[cs]=Databáze LibreOffice Base
Comment[cy]=Cronfa ddata sail LibreOffice
Comment[da]=LibreOffice Base database
Comment[de]=LibreOffice-Basisdatenbank
Comment[dv]=ސްބޭޓާޑޭ ސްބޭ ސްފީއޮރޭބްލި
Comment[ee]=LibreOffice Base ƒe nyatakakadzraɖoƒe
Comment[el]=Βάση δεδομένων LibreOffice Base
Comment[en]=LibreOffice Base database
Comment[eo]=LibreOffice Baza datumbazo
Comment[es]=Base de datos base de LibreOffice
Comment[et]=LibreOffice Base'i andmebaas
Comment[eu]=LibreOffice Base datu-basea
Comment[fa]=LibreOffice Base ﻩﺩﺍﺩ ﻩﺎﮕﯾﺎﭘ
Comment[fi]=LibreOffice Base -tietokanta
Comment[fj]=Kato ni itukutuku ni LibreOffice
Comment[fo]=LibreOffice Base database
Comment[fr]=Base de données LibreOffice Base
Comment[fy]=LibreOffice Base databank
Comment[ga]=Bunachar sonraí LibreOffice saor in aisce,
Comment[gd]=Stòr-dàta LibreOffice
Comment[gl]=Base de datos base de LibreOffice
Comment[gn]=LibreOffice Base mba’ekuaarã ryru
Comment[gu]=લિબરઓફિસ બેઝ ડેટાબેઝ
Comment[ha]=LibreOffice Base database
Comment[he]=LibreOffice Base לש םינותנה דסמ
Comment[hi]=लिब्रेऑफिस बेस डेटाबेस
Comment[hr]=LibreOffice Base baza podataka
Comment[ht]=Baz done LibreOffice Base
Comment[hu]=LibreOffice Base adatbázis
Comment[hy]=LibreOffice Base տվյալների բազա
Comment[id]=Basis data Basis LibreOffice
Comment[ig]=Ebe nchekwa data LibreOffice
Comment[is]=LibreOffice Base gagnagrunnur
Comment[it]=Base di dati di LibreOffice
Comment[iu]=ᓕᐳᕇᔅ ᑐᖅᑯᐃᕕᒃ ᖃᕆᑕᐅᔭᒃᑯᑦ
Comment[ja]=LibreOfficeベースデータベース
Comment[jv]=Pangkalan data LibreOffice
Comment[ka]=LibreOffice Base მონაცემთა ბაზა
Comment[kk]=LibreOffice базасының дерекқоры
Comment[km]=មូលដ្ឋានទិន្នន័យ LibreOffice
Comment[kn]=LibreOffice ಬೇಸ್ ಡೇಟಾಬೇಸ್
Comment[ko]=LibreOffice 기본 데이터베이스
Comment[ku]=Database LibreOffice Base
Comment[ky]=LibreOffice базасы
Comment[la]=LibreOffice Base database
Comment[lb]=LibreOffice Base Datebank
Comment[lg]=Ekitabo ky'amawulire ekya LibreOffice Base
Comment[ln]=Base ya ba données ya Base ya LibreOffice
Comment[lo]=ຖານຂໍ້ມູນ LibreOffice Base
Comment[lt]=LibreOffice bazės duomenų bazė
Comment[lv]=LibreOffice bāzes datu bāze
Comment[mg]=Database LibreOffice Base
Comment[mi]=Patengi raraunga Freeoffice
Comment[mk]=База на LibreOffice Base
Comment[ml]=LibreOffice ബേസ് ഡാറ്റാബേസ്
Comment[mn]=LibreOffice мэдээллийн бааз
Comment[mr]=लिबरऑफिस बेस डेटाबेस
Comment[ms]=Pangkalan data Pangkalan LibreOffice
Comment[mt]=Bażi tad-database tal-LibreOffice
Comment[my]=LibreOffice Base ဒေတာဘေ့စ်
Comment[ne]=LibreOffice बेस डाटाबेस
Comment[nl]=LibreOffice Base-database
Comment[no]=LibreOffice Base-database
Comment[ny]=LibreOffice Base database
Comment[om]=Kuusdeetaa Bu'uuraa LibreOffice
Comment[or]=ଲିବ୍ରେଫିସ୍ ବେସ୍ ଡାଟାବେସ୍ |
Comment[pa]=ਲਿਬਰੇਆਫਿਸ ਬੇਸ ਡੇਟਾਬੇਸ
Comment[pl]=Baza danych pakietu LibreOffice
Comment[ps]=ﺲﯿﺑﺎټﯾډ ﺲﯿﺑ ﺲﻓﺁ ﺮﺒﯿﻟ ﺩ
Comment[pt]=Base de dados LibreOffice Base
Comment[qu]=LibreOffice Base nisqa willay tantana
Comment[ro]=Baza de date LibreOffice
Comment[ru]=База данных LibreOffice
Comment[rw]=Ububiko bwibanze
Comment[sa]=LibreOffice आधारदत्तांशकोशः
Comment[sd]=LibreOffice ﺲﻴﺑﺎٽﻳڊ ﺲﻴﺑ
Comment[si]=LibreOffice Base දත්ත සමුදාය
Comment[sk]=Databáza LibreOffice Base
Comment[sl]=Baza podatkov LibreOffice Base
Comment[sm]=Freeoffice Base database
Comment[sn]=LibreOffice Base database
Comment[so]=Macluumaadka Saldhigga LibreOffice
Comment[sq]=Baza e të dhënave LibreOffice
Comment[st]=LibreOffice Base database
Comment[su]=Pangkalan data LibreOffice
Comment[sv]=LibreOffice Base-databas
Comment[sw]=LibreOffice Base database
Comment[ta]=LibreOffice அடிப்படை தரவுத்தளம்
Comment[te]=LibreOffice బేస్ డేటాబేస్
Comment[tg]=Пойгоҳи LibreOffice
Comment[th]=ฐานข้อมูล LibreOffice Base
Comment[ti]=ሊብሬኦፊስ መሰረት ዳታቤዝ
Comment[tk]=LibreOffice Base maglumat bazasy
Comment[tl]=Database ng LibreOffice Base
Comment[to]=LibreOffice Base database
Comment[tr]=LibreOffice Temel veritabanı
Comment[ts]=Dathabeyisi ya LibreOffice Base
Comment[tt]=LibreOffice Base базасы
Comment[tw]=LibreOffice Base databea a ɛwɔ hɔ
Comment[ty]=LibreOffice Base database
Comment[ug]=LibreOffice Base ﻰﻧﺍﺪﻧﺎﺳ
Comment[uk]=База даних LibreOffice
Comment[ur]=ﺲﯿﺑ ﺎﭩﯾﮈ ﺲﯿﺑ ﺲﻓﺁ ﺮﺒﯿﻟ
Comment[uz]=LibreOffice bazasi ma'lumotlar bazasi
Comment[vi]=Cơ sở dữ liệu cơ sở LibreOffice
Comment[xh]=LibreOffice Base database
Comment[yi]=LibreOffice Base סייבאַטאַד
Comment[yo]=LibreOffice Base database
Comment[zh]=LibreOffice 基础数据库
Comment[zu]=Isizindalwazi se-LibreOffice Base
Comment=LibreOffice Base database
Exec=sbase
Terminal=false
Type=Application
Categories=Database
GenericName=Base
