[Desktop Entry]
Encoding=UTF-8
Name[af]=NoteCase notas bestuurder
Name[am]=Notecase ማስታወሻዎች አስተዳዳሪ
Name[ar]=NoteCase ﺮﻳﺪﻣ ﺕﺎﻈﺣﻼ﻿ﻤﻟﺍ
Name[as]=NoteCase টোকা ব্যৱস্থাপক
Name[ay]=NoteCase ukax mä juk’a pachanakanwa
Name[az]=NoteCase qeyd meneceri
Name[ba]=NoteCase иҫкәрмәләр менеджеры
Name[be]=Менеджэр нататак NoteCase
Name[bg]=Мениджър на бележки NoteCase
Name[bm]=NoteCase sɛbɛnniw ɲɛnabɔbaga
Name[bn]=নোটকেস নোট ম্যানেজার
Name[bo]=ཟིན་བྲིས་དོ་དམ་མི་སྣ།
Name[bs]=NoteCase menadžer bilješki
Name[ca]=Gestor de notes de NoteCase
Name[co]=Gestore di note NoteCase
Name[cs]=Správce poznámek NoteCase
Name[cy]=Rheolwr nodiadau NoteCase
Name[da]=NoteCase note manager
Name[de]=NoteCase-Notizenmanager
Name[dv]=ރޖަނޭމެ ސްޓްނޯ ސްކޭޓްނޯ
Name[ee]=NoteCase ƒe nuŋlɔɖiwo dzikpɔla
Name[el]=Διαχειριστής σημειώσεων NoteCase
Name[eo]=Administranto de notoj de NoteCase
Name[es]=Administrador de notas de NoteCase
Name[et]=NoteCase märkmete haldur
Name[eu]=NoteCase oharren kudeatzailea
Name[fa]=NoteCase ﯼﺎﻫ ﺖﺷﺍﺩﺩﺎﯾ ﺮﯾﺪﻣ
Name[fi]=NoteCase muistiinpanojen hallinta
Name[fj]=Manidia ni iVakamacala
Name[fo]=IkkiCase viðmerkingar manager
Name[fr]=NoteGestionnaire de notes de cas
Name[fy]=NoteCase notysjebehearder
Name[ga]=Bainisteoir nótaí NoteCase
Name[gd]=Manaidsear notaichean NoteCase
Name[gl]=Xestor de notas NoteCase
Name[gn]=NotaCase notakuéra mohendaha
Name[gu]=નોટકેસ નોટ મેનેજર
Name[ha]=Manajan bayanin kula da Case
Name[he]=NoteCase תורעה להנמ
Name[hi]=नोटकेस नोट्स प्रबंधक
Name[hr]=NoteCase upravitelj bilješki
Name[ht]=Manadjè nòt NoteCase
Name[hu]=NoteCase jegyzetkezelő
Name[hy]=NoteCase նշումների կառավարիչ
Name[id]=Manajer catatan NoteCase
Name[ig]=NoteCase njikwa ndetu
Name[is]=NoteCase minnisstjóri
Name[it]=Gestore note NoteCase
Name[iu]=ᑎᑎᖅᑲᖅᐱᓕᕆᐊᓂᒃ ᐊᐅᓚᑦᑎᔨ
Name[ja]=NoteCase メモ マネージャー
Name[jv]=Manajer cathetan NoteCase
Name[ka]=NoteCase შენიშვნების მენეჯერი
Name[kk]=NoteCase жазбалар менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងកំណត់ចំណាំ NoteCase
Name[kn]=NoteCase ಟಿಪ್ಪಣಿಗಳ ನಿರ್ವಾಹಕ
Name[ko]=NoteCase 메모 관리자
Name[ku]=Rêvebirê notên NoteCase
Name[ky]=NoteCase белгилер менеджери
Name[la]=NoteCase notas procurator
Name[lb]=NoteCase Notiz Manager
Name[lg]=NoteCase omuddukanya ebiwandiiko
Name[ln]=NoteCase mokambi ya ba notes
Name[lo]=ຜູ້ຈັດການບັນທຶກ NoteCase
Name[lt]=NoteCase užrašų tvarkyklė
Name[lv]=NoteCase piezīmju pārvaldnieks
Name[mg]=NoteCase note manager
Name[mi]=Kaiwhakahaere tuhipoka NoteCase
Name[mk]=Менаџер за белешки NoteCase
Name[ml]=നോട്ട്കേസ് നോട്ട്സ് മാനേജർ
Name[mn]=NoteCase тэмдэглэлийн менежер
Name[mr]=NoteCase नोट्स व्यवस्थापक
Name[ms]=Pengurus nota NoteCase
Name[mt]=NoteCase maniġer noti
Name[my]=NoteCase မှတ်စုမန်နေဂျာ
Name[ne]=NoteCase नोट प्रबन्धक
Name[nl]=NoteCase-notitiesbeheerder
Name[no]=NoteCase-behandler
Name[ny]=Woyang'anira zolemba za NoteCase
Name[om]=NoteCase bulchaa yaadannoo
Name[or]=ଟିପ୍ପଣୀ କେସ୍ ନୋଟ୍ ମ୍ୟାନେଜର୍ |
Name[pa]=ਨੋਟਕੇਸ ਨੋਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer notatek NoteCase
Name[ps]=ﺮﯾﺪﻣ ﻮﻧﻮټﻮﻧ ﺲﯿﮐ ټﻮﻧ ﺩ
Name[pt]=ObservaçãoGerenciador de anotações do caso
Name[qu]=NoteCase notakuna kamachiq
Name[ro]=Manager de note NoteCase
Name[ru]=Менеджер заметок NoteCase
Name[rw]=IcyitonderwaCase inoti
Name[sa]=NoteCase notes manager इति
Name[sd]=NoteCase ﺮﺠﻴﻨﻴﻣ ﺲٽﻮﻧ
Name[si]=NoteCase සටහන් කළමනාකරු
Name[sk]=Správca poznámok NoteCase
Name[sl]=Upravitelj zapiskov NoteCase
Name[sm]=Pule fa'amatalaga NoteCase
Name[sn]=NoteCase manotsi maneja
Name[so]=Maamulaha Notecase
Name[sq]=Menaxheri i shënimeve të NoteCase
Name[st]=Motsamaisi oa lintlha tsa NoteCase
Name[su]=Manajer catetan NoteCase
Name[sv]=NoteCase-anteckningshanteraren
Name[sw]=Kidhibiti cha madokezo ya NoteCase
Name[ta]=நோட்கேஸ் குறிப்புகள் மேலாளர்
Name[te]=నోట్u200cకేస్ నోట్స్ మేనేజర్
Name[tg]=Менеҷери қайдҳои NoteCase
Name[th]=ผู้จัดการบันทึก NoteCase
Name[ti]=NoteCase መዘኻኸሪታት ኣካያዲ
Name[tk]=“NoteCase” bellikler dolandyryjysy
Name[tl]=Tagapamahala ng mga tala ng NoteCase
Name[to]=Pule ʻo e ngaahi nota NoteCase
Name[tr]=NoteCase not yöneticisi
Name[ts]=NoteCase mufambisi wa tinotsi
Name[tt]=NoteCase искәрмәләр менеджеры
Name[tw]=NoteCase nsɛm a wɔakyerɛw sohwɛfo
Name[ty]=Te mau nota
Name[ug]=NoteCase ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ەﺮﯩﺗﺎﺧ
Name[uk]=Менеджер нотаток NoteCase
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﺲﭨﻮﻧ ﺲﯿﮐ ﭦﻮﻧ
Name[uz]=NoteCase qaydlar menejeri
Name[vi]=Trình quản lý ghi chú NoteCase
Name[xh]=NoteCase amanqaku umphathi
Name[yi]=רעטלאַווראַפ סעטאָנ עסאַקעטאָנ
Name[yo]=Oluṣakoso akọsilẹ NoteCase
Name[zh]=NoteCase 注释管理器
Name[zu]=Umphathi wamanothi e-NoteCase
Name=NoteCase notes manager
Type=Application
Comment[af]=Hiërargiese notas bestuurder
Comment[am]=ተዋረዳዊ ማስታወሻዎች አስተዳዳሪ
Comment[ar]=ﺔﻴﻣﺮﻬﻟﺍ ﺕﺎﻈﺣﻼ﻿ﻤﻟﺍ ﺮﻳﺪﻣ
Comment[as]=স্তৰভিত্তিক টোকা পৰিচালক
Comment[ay]=Notas jerárquicas ukanaka apnaqiri
Comment[az]=İyerarxik qeydlər meneceri
Comment[ba]=Иерархик иҫкәрмәләр менеджеры
Comment[be]=Менеджэр іерархічных нататак
Comment[bg]=Мениджър на йерархични бележки
Comment[bm]=Notes hierarchiques ɲɛmɔgɔ
Comment[bn]=হায়ারার্কিক্যাল নোট ম্যানেজার
Comment[bo]=རིམ་པའི་ཟིན་བྲིས་དོ་དམ་པ།
Comment[bs]=Menadžer hijerarhijskih bilješki
Comment[ca]=Gestor de notes jeràrquiques
Comment[co]=Gestore di note gerarchiche
Comment[cs]=Správce hierarchických poznámek
Comment[cy]=Rheolwr nodiadau hierarchaidd
Comment[da]=Hierarkisk note manager
Comment[de]=Hierarchischer Notizenmanager
Comment[dv]=ރޖަނޭމެ ސްޓްނޯ ލްކަކިރރާއިހަ
Comment[ee]=Hierarchical nuŋlɔɖiwo dzikpɔla
Comment[el]=Υπεύθυνος ιεραρχικών σημειώσεων
Comment[eo]=Administranto de hierarkiaj notoj
Comment[es]=Administrador de notas jerárquicas
Comment[et]=Hierarhiliste märkmete haldur
Comment[eu]=Ohar hierarkikoak kudeatzailea
Comment[fa]=ﯽﺒﺗﺍﺮﻣ ﻪﻠﺴﻠﺳ ﯼﺎﻫ ﺖﺷﺍﺩﺩﺎﯾ ﺮﯾﺪﻣ
Comment[fi]=Hierarkkisten muistiinpanojen hallinta
Comment[fj]=Manidia ni ivakamacala vakamatanitu
Comment[fo]=Hierarchical viðmerkingar manager
Comment[fr]=Gestionnaire de notes hiérarchiques
Comment[fy]=Hierarchyske notysjes manager
Comment[ga]=Bainisteoir nótaí ordlathach
Comment[gd]=Manaidsear notaichean hierarchical
Comment[gl]=Xestor de notas xerárquicas
Comment[gn]=Nota jerárquica rehegua mohendaha
Comment[gu]=હાયરાર્કિકલ નોટ્સ મેનેજર
Comment[ha]=Manajan bayanin kula
Comment[he]=תויכרריה תורעה להנמ
Comment[hi]=श्रेणीबद्ध नोट्स प्रबंधक
Comment[hr]=Upravitelj hijerarhijskih bilješki
Comment[ht]=Manadjè nòt yerachik
Comment[hu]=Hierarchikus jegyzetkezelő
Comment[hy]=Հիերարխիկ նշումների կառավարիչ
Comment[id]=Manajer catatan hierarkis
Comment[ig]=Onye njikwa ndetu ọkwa ọkwa
Comment[is]=Stigveldisstjóri
Comment[it]=Gestore delle note gerarchiche
Comment[iu]=ᖁᑦᑎᓕᕇᓄᑦ ᑎᑎᕋᖅᑎ
Comment[ja]=階層型メモマネージャー
Comment[jv]=Manajer cathetan hirarkis
Comment[ka]=იერარქიული შენიშვნების მენეჯერი
Comment[kk]=Иерархиялық жазбалар менеджері
Comment[km]=អ្នកគ្រប់គ្រងចំណាំតាមឋានានុក្រម
Comment[kn]=ಕ್ರಮಾನುಗತ ಟಿಪ್ಪಣಿಗಳ ನಿರ್ವಾಹಕ
Comment[ko]=계층 메모 관리자
Comment[ku]=Rêveberê notên hiyerarşîk
Comment[ky]=Иерархиялык жазууларды башкаруучу
Comment[la]=Notae hierarchicae procurator
Comment[lb]=Hierarchesch Notiz Manager
Comment[lg]=Omuddukanya ebiwandiiko mu nsengeka
Comment[ln]=Mokambi ya ba notes hiérarchiques
Comment[lo]=ຜູ້ຈັດການບັນທຶກລໍາດັບຊັ້ນ
Comment[lt]=Hierarchinių užrašų tvarkyklė
Comment[lv]=Hierarhisko piezīmju pārvaldnieks
Comment[mg]=Mpitantana fanamarihana hierarchical
Comment[mi]=Kaiwhakahaere tuhipoka aroākapa
Comment[mk]=Менаџер со хиерархиски белешки
Comment[ml]=ഹൈറാർക്കിക്കൽ നോട്ട്സ് മാനേജർ
Comment[mn]=Шаталсан тэмдэглэлийн менежер
Comment[mr]=श्रेणीबद्ध नोट्स व्यवस्थापक
Comment[ms]=Pengurus nota hierarki
Comment[mt]=Maniġer tan-noti ġerarkiċi
Comment[my]=အထက်အောက် မှတ်စုမန်နေဂျာ
Comment[ne]=श्रेणीबद्ध नोट्स प्रबन्धक
Comment[nl]=Hiërarchische notitiebeheerder
Comment[no]=Hierarkisk notatbehandler
Comment[ny]=Woyang'anira zolemba za Hierarchical
Comment[om]=Hogganaa yaadannoo sadarkaa
Comment[or]=ହାଇରାର୍କିକାଲ୍ ନୋଟ୍ ମ୍ୟାନେଜର୍ |
Comment[pa]=ਲੜੀਵਾਰ ਨੋਟਸ ਮੈਨੇਜਰ
Comment[pl]=Menedżer notatek hierarchicznych
Comment[ps]=ﺮﯾﺪﻣ ﻮﻧﻮټﻮﻧ ﻱﺪﻨﺑ ﻪﺟﺭﺩ ﺩ
Comment[pt]=Gestor de notas hierárquicas
Comment[qu]=Notas jerárquicas nisqa kamachiq
Comment[ro]=Manager de note ierarhice
Comment[ru]=Менеджер иерархических заметок
Comment[rw]=Umuyobozi w'inoti
Comment[sa]=श्रेणीबद्ध टिप्पणी प्रबन्धक
Comment[sd]=ﺮﺠﻴﻨﻴﻣ ﺲٽﻮﻧ ﻱﺪﻨﺑ ﻪﺟﺭﺩ
Comment[si]=ධූරාවලි සටහන් කළමනාකරු
Comment[sk]=Správca hierarchických poznámok
Comment[sl]=Hierarhični upravitelj zapiskov
Comment[sm]=Pule o fa'amatalaga fa'akomepiuta
Comment[sn]=Hierarchical manotsi maneja
Comment[so]=Maamulaha qoraalada kala sareynta
Comment[sq]=Menaxher i shënimeve hierarkike
Comment[st]=Motsamaisi oa lintlha tsa hierarchical
Comment[su]=Manajer catetan hirarki
Comment[sv]=Hierarkisk anteckningshanterare
Comment[sw]=Meneja wa madokezo ya kihierarkia
Comment[ta]=படிநிலை குறிப்புகள் மேலாளர்
Comment[te]=క్రమానుగత గమనికల నిర్వాహకుడు
Comment[tg]=Менеҷери ёддоштҳои иерархӣ
Comment[th]=ผู้จัดการบันทึกลำดับชั้น
Comment[ti]=ስርዓተ-መሰረት ዘለዎ መዘኻኸሪታት ኣካያዲ
Comment[tk]=Iýerarhiki bellikler dolandyryjysy
Comment[tl]=Tagapamahala ng hierarchical na tala
Comment[to]=Pule ʻo e ngaahi nota Hierarchical
Comment[tr]=Hiyerarşik not yöneticisi
Comment[ts]=Mufambisi wa tinotsi ta xiyimo xa le henhla
Comment[tt]=Иерархик язмалар менеджеры
Comment[tw]=Hierarchical nsɛm a wɔakyerɛw sohwɛfo
Comment[ty]=Ti'a faatere no te mau nota
Comment[ug]=ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ەﺮﯩﺗﺎﺧ ﻖﯩﻠﻣﻼ﻿ﺗﺎﻗ
Comment[uk]=Менеджер ієрархічних нотаток
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﺲﭨﻮﻧ ﮯﮐ ﯼﺪﻨﺑ ﮧﺟﺭﺩ
Comment[uz]=Ierarxik qaydlar menejeri
Comment[vi]=Trình quản lý ghi chú phân cấp
Comment[xh]=Umphathi wamanqaku eHierarchical
Comment[yi]=רעטלאַווראַפ תורעה לאַקיקראַרעייכ
Comment[yo]=Alakoso awọn akọsilẹ logalomomoise
Comment[zh]=分层笔记管理器
Comment[zu]=Umphathi wamanothi e-Hierarchical
Comment=Hierarchical notes manager
Icon=notecase16.xpm
TryExec=notecase
Exec=notecase
Terminal=false
Categories=X-Personal-organizer
MimeType=application/notecase-plain;application/notecase-enc;
GenericName=NoteCase
