[Desktop Entry]
Encoding=UTF-8
Name[af]=Xfce-instellingsbestuurder
Name[am]=Xfce ቅንብሮች አስተዳዳሪ
Name[ar]=Xfce ﺕﺍﺩﺍﺪﻋﺇ ﺮﻳﺪﻣ
Name[as]=Xfce সংহতিসমূহ ব্যৱস্থাপক
Name[ay]=Xfce Configuración ukax mä juk’a pachanakanwa
Name[az]=Xfce Parametrlər Meneceri
Name[ba]=Xfce Көйләүҙәр менеджеры
Name[be]=Менеджэр налад Xfce
Name[bg]=Мениджър на настройките на Xfce
Name[bm]=Xfce Settings ɲɛmɔgɔ
Name[bn]=Xfce সেটিংস ম্যানেজার
Name[bo]=Xfceསྡེབ་སྒྲིག་དོ་དམ་པ།
Name[bs]=Xfce Menadžer postavki
Name[ca]=Gestor de configuració Xfce
Name[co]=Xfce Settings Manager
Name[cs]=Správce nastavení Xfce
Name[cy]=Rheolwr Gosodiadau Xfce
Name[da]=Xfce Settings Manager
Name[de]=Xfce-Einstellungsmanager
Name[dv]=ރޖަނޭމެ ސްގންޓިސެ އީސީފްއެސްކްއެ
Name[ee]=Xfce ƒe Ðoɖowo Dzikpɔla
Name[el]=Διαχείριση ρυθμίσεων Xfce
Name[eo]=Xfce Agorda Administranto
Name[es]=Administrador de configuración de Xfce
Name[et]=Xfce seadete haldur
Name[eu]=Xfce ezarpenen kudeatzailea
Name[fa]=Xfce ﺕﺎﻤﯿﻈﻨﺗ ﺮﯾﺪﻣ
Name[fi]=Xfce-asetusten hallinta
Name[fj]=Manidia ni iTuvatuva ni XFCE
Name[fo]=Xfce Settings Manager
Name[fr]=Gestionnaire de paramètres Xfce
Name[fy]=Xfce Settings Manager
Name[ga]=Xfce Bainisteoir Socruithe
Name[gd]=Xfce manaidsear roghainnean a
Name[gl]=Xestor de configuración de Xfce
Name[gn]=Xfce Ñemboheko mohendaha
Name[gu]=Xfce સેટિંગ્સ મેનેજર
Name[ha]=Manajan Saitunan Xfce
Name[he]=Xfce תורדגה להנמ
Name[hi]=Xfce सेटिंग्स मैनेजर
Name[hr]=Xfce upravitelj postavki
Name[ht]=Manadjè Anviwònman Xfce
Name[hu]=Xfce beállításkezelő
Name[hy]=Xfce Կարգավորումների կառավարիչ
Name[id]=Manajer Pengaturan Xfce
Name[ig]=Onye njikwa ntọala Xfce
Name[is]=Xfce stillingastjóri
Name[it]=Gestore delle impostazioni di Xfce
Name[iu]=Xfce−ᒧᑦ ᐋᖅᑭᒃᓱᖅᑕᐅᔪᓄᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=Xfce 設定マネージャー
Name[jv]=Pangatur Setelan Xfce
Name[ka]=Xfce პარამეტრების მენეჯერი
Name[kk]=Xfce параметрлер менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងការកំណត់ Xfce
Name[kn]=Xfce ಸೆಟ್ಟಿಂಗ್ಸ್ ಮ್ಯಾನೇಜರ್
Name[ko]=Xfce 설정 관리자
Name[ku]=Rêvebirê Mîhengên Xfce
Name[ky]=Xfce Орнотуулар менеджери
Name[la]=Xfce Occasus Manager
Name[lb]=Xfce Settings Manager
Name[lg]=Xfce Omuddukanya Ensengeka
Name[ln]=Mokambi ya ba paramètres ya Xfce
Name[lo]=ຕົວຈັດການການຕັ້ງຄ່າ Xfce
Name[lt]=Xfce nustatymų tvarkyklė
Name[lv]=Xfce iestatījumu pārvaldnieks
Name[mg]=Xfce Settings Manager
Name[mi]=Kaiwhakahaere Tautuhinga Xfce
Name[mk]=Менаџер за поставки на Xfce
Name[ml]=Xfce ക്രമീകരണ മാനേജർ
Name[mn]=Xfce тохиргооны менежер
Name[mr]=Xfce सेटिंग्ज व्यवस्थापक
Name[ms]=Pengurus Tetapan Xfce
Name[mt]=Xfce Settings Manager
Name[my]=Xfce ဆက်တင်များမန်နေဂျာ
Name[ne]=Xfce सेटिङ प्रबन्धक
Name[nl]=Xfce-instellingenbeheer
Name[no]=Xfce Settings Manager
Name[ny]=Xfce Settings Manager
Name[om]=Geggeessaa Sajoo Xfce
Name[or]=Xfce ସେଟିଂସମୂହ ପରିଚାଳକ |
Name[pa]=Xfce ਸੈਟਿੰਗ ਮੈਨੇਜਰ
Name[pl]=Menedżer ustawień Xfce
Name[ps]=ﺮﯾﺪﻣ ﻮﺗﺎﺒﯿﺗﺮﺗ Xfce ﺩ
Name[pt]=Gerenciador de configurações do Xfce
Name[qu]=Xfce Ajustes kamachiq
Name[ro]=Manager de setări Xfce
Name[ru]=Менеджер настроек Xfce
Name[rw]=Xfce Igenamiterere
Name[sa]=Xfce सेटिंग्स् प्रबन्धक
Name[sd]=Xfce ﺮﺠﻴﻨﺌﻣ ﻥﻮﮕﻨٽﻴﺳ
Name[si]=Xfce සැකසුම් කළමනාකරු
Name[sk]=Správca nastavení Xfce
Name[sl]=Upravitelj nastavitev Xfce
Name[sm]=Pule Fa'atonu Xfce
Name[sn]=Xfce Settings Maneja
Name[so]=Maareeyaha Dejinta Xfce
Name[sq]=Menaxheri i cilësimeve të Xfce
Name[st]=Motsamaisi oa Litlhophiso tsa Xfce
Name[su]=Pangatur Setélan Xfce
Name[sv]=Xfce Settings Manager
Name[sw]=Meneja wa Mipangilio ya Xfce
Name[ta]=Xfce அமைப்புகள் மேலாளர்
Name[te]=Xfce సెట్టింగ్u200cల మేనేజర్
Name[tg]=Менеҷери танзимоти Xfce
Name[th]=ตัวจัดการการตั้งค่า Xfce
Name[ti]=Xfce ቅጥዕታት ኣካያዲ
Name[tk]=Xfce sazlamalary dolandyryjysy
Name[tl]=Tagapamahala ng Mga Setting ng Xfce
Name[to]=Pule Xfce settings
Name[tr]=Xfce Ayarlar Yöneticisi
Name[ts]=Mufambisi wa Switirhisiwa swa Xfce
Name[tt]=Xfce көйләүләр менеджеры
Name[tw]=Xfce Nsiesiei sohwɛfo
Name[ty]=Ti'a faatere no te mau faanahoraa Xfce
Name[ug]=Xfce ﻰﺴﯩﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻙەﺸﯕەﺗ
Name[uk]=Менеджер налаштувань Xfce
Name[ur]=Xfce ﺮﺠﯿﻨﯿﻣ ﺰﮕﻨﭩﯿﺳ
Name[uz]=Xfce sozlamalari menejeri
Name[vi]=Trình quản lý cài đặt Xfce
Name[xh]=Xfce Umphathi Woseto
Name[yi]=Xfce רעגאַנאַמ סגניטטעס
Name[yo]=Oluṣakoso Eto Xfce
Name[zh]=Xfce 设置管理器
Name[zu]=Umphathi Wezilungiselelo ze-Xfce
Name=Xfce Settings Manager
Comment[af]=Grafiese instellingsbestuurder vir Xfce
Comment[am]=ለ Xfce ግራፊክ ቅንጅቶች አስተዳዳሪ
Comment[ar]=Xfce ـﻟ ﺔﻴﻣﻮﺳﺮﻟﺍ ﺕﺍﺩﺍﺪﻋﻹ﻿ﺍ ﺮﻳﺪﻣ
Comment[as]=Xfce ৰ বাবে গ্ৰাফিকেল সংহতিসমূহ ব্যৱস্থাপক
Comment[ay]=Xfce ukatakix Configuración Gráfica ukan apnaqiripawa
Comment[az]=Xfce üçün Qrafik Parametrlər Meneceri
Comment[ba]=График көйләүҙәр буйынса менеджер Xfce
Comment[be]=Дыспетчар графічных налад для Xfce
Comment[bg]=Мениджър на графични настройки за Xfce
Comment[bm]=Graphique Settings Manager ka ɲɛsin Xfce ma
Comment[bn]=Xfce এর জন্য গ্রাফিকাল সেটিংস ম্যানেজার
Comment[bo]=Xfceཡི་རི་མོའི་སྒྲིག་བཀོད་དོ་དམ་པ།
Comment[bs]=Upravitelj grafičkih postavki za Xfce
Comment[ca]=Gestor de configuració gràfica per a Xfce
Comment[co]=Manager di paràmetri grafici per Xfce
Comment[cs]=Správce grafických nastavení pro Xfce
Comment[cy]=Rheolwr Gosodiadau Graffigol ar gyfer Xfce
Comment[da]=Graphical Settings Manager til Xfce
Comment[de]=Grafischer Einstellungsmanager für Xfce
Comment[dv]=ރޖަނޭމެ ސްގންޓިސެ ލްކަފިރެގް ށްއަ އީސީފްއެސްކްއެ
Comment[ee]=Nɔnɔmetata ƒe Ðoɖowo Dzikpɔla na Xfce
Comment[el]=Διαχειριστής γραφικών ρυθμίσεων για Xfce
Comment[eo]=Administranto de Grafikaj Agordoj por Xfce
Comment[es]=Administrador de configuración gráfica para Xfce
Comment[et]=Xfce graafiliste sätete haldur
Comment[eu]=Xfce-ren ezarpen grafikoen kudeatzailea
Comment[fa]=Xfce ﯼﺍﺮﺑ ﯽﮑﯿﻓﺍﺮﮔ ﺕﺎﻤﯿﻈﻨﺗ ﺮﯾﺪﻣ
Comment[fi]=Graafisten asetusten hallinta Xfce:lle
Comment[fj]=Manidia ni iTuvatuva ni Droini ni Xfce
Comment[fo]=Graphical Settings Manager for Xfce
Comment[fr]=Gestionnaire de paramètres graphiques pour Xfce
Comment[fy]=Grafyske ynstellingsbehearder foar Xfce
Comment[ga]=Bainisteoir Socruithe Grafach do Xfce
Comment[gd]=Manaidsear Roghainnean Grafaigeach airson Xfce
Comment[gl]=Xestor de configuración gráfica para Xfce
Comment[gn]=Ñemboheko Gráfico Mohendaha Xfce-pe g̃uarã
Comment[gu]=Xfce માટે ગ્રાફિકલ સેટિંગ્સ મેનેજર
Comment[ha]=Manajan Saitunan Zane na Xfce
Comment[he]=Xfce רובע יפרג תורדגה להנמ
Comment[hi]=Xfce के लिए ग्राफिकल सेटिंग्स मैनेजर
Comment[hr]=Upravitelj grafičkih postavki za Xfce
Comment[ht]=Manadjè Anviwònman Grafik pou Xfce
Comment[hu]=Grafikus beállítások kezelője Xfce-hez
Comment[hy]=Գրաֆիկական կարգավորումների կառավարիչ Xfce-ի համար
Comment[id]=Manajer Pengaturan Grafis untuk Xfce
Comment[ig]=Onye njikwa ntọala eserese maka Xfce
Comment[is]=Myndræn stillingastjóri fyrir Xfce
Comment[it]=Gestore delle impostazioni grafiche per Xfce
Comment[iu]=ᑎᑎᖅᑐᒐᕐᓂᕐᒧᑦ ᐋᖅᑭᑦᓱᐃᓂᕐᒧᑦ ᐊᐅᓚᑦᓯᔨ Xfce-ᒧᑦ
Comment[ja]=Xfce のグラフィカル設定マネージャー
Comment[jv]=Pangatur Setelan Grafis kanggo Xfce
Comment[ka]=გრაფიკული პარამეტრების მენეჯერი Xfce-სთვის
Comment[kk]=Xfce үшін графикалық параметрлер менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងការកំណត់ក្រាហ្វិកសម្រាប់ Xfce
Comment[kn]=Xfce ಗಾಗಿ ಚಿತ್ರಾತ್ಮಕ ಸೆಟ್ಟಿಂಗ್u200cಗಳ ನಿರ್ವಾಹಕ
Comment[ko]="Xfce용 그래픽 설정 관리자"
Comment[ku]=Rêvebirê Mîhengên Grafikî yên ji bo Xfce
Comment[ky]=Xfce үчүн графикалык орнотуулар менеджери
Comment[la]=Graphic Occasus Procurator ad Xfce
Comment[lb]=Graphical Settings Manager fir Xfce
Comment[lg]=Omuddukanya Ensengeka z'Ebifaananyi ku Xfce
Comment[ln]=Mokambi ya ba paramètres graphiques mpo na Xfce
Comment[lo]=ຕົວຈັດການການຕັ້ງຄ່າກາຟິກສຳລັບ Xfce
Comment[lt]=„Xfce“ grafinių nustatymų tvarkyklė
Comment[lv]=Xfce grafisko iestatījumu pārvaldnieks
Comment[mg]=Mpitantana fikandrana sary ho an'ny Xfce
Comment[mi]=Kaiwhakahaere Tautuhinga Whakairoiro mo Xfce
Comment[mk]=Менаџер со графички поставки за Xfce
Comment[ml]=Xfce-നുള്ള ഗ്രാഫിക്കൽ ക്രമീകരണ മാനേജർ
Comment[mn]=Xfce-д зориулсан график тохиргооны менежер
Comment[mr]=Xfce साठी ग्राफिकल सेटिंग्ज व्यवस्थापक
Comment[ms]=Pengurus Tetapan Grafik untuk Xfce
Comment[mt]=Maniġer tas-Settings Grafiċi għal Xfce
Comment[my]=Xfce အတွက် ဂရပ်ဖစ် ဆက်တင်များ မန်နေဂျာ
Comment[ne]=Xfce को लागि ग्राफिकल सेटिङ प्रबन्धक
Comment[nl]=Grafische Instellingen Manager voor Xfce
Comment[no]=Graphical Settings Manager for Xfce
Comment[ny]=Woyang'anira Zosintha Zazithunzi za Xfce
Comment[om]=Geggeessaa Sajoo Giraafiksii Xfce tiif
Comment[or]=Xfce ପାଇଁ ଗ୍ରାଫିକାଲ୍ ସେଟିଂସମୂହ ପରିଚାଳକ |
Comment[pa]=Xfce ਲਈ ਗ੍ਰਾਫਿਕਲ ਸੈਟਿੰਗ ਮੈਨੇਜਰ
Comment[pl]=Menedżer ustawień graficznych dla Xfce
Comment[ps]=ﺮﯾﺪﻣ ﻮﺗﺎﺒﯿﺗﺮﺗ ﻲﮑﯿﻓﺍﺮګ ﺩ ﻩﺭﺎﭙﻟ Xfce ﺩ
Comment[pt]=Gerenciador de configurações gráficas para Xfce
Comment[qu]=Xfce kaqpaq Gráfico Ajustes kamachiq
Comment[ro]=Manager de setări grafice pentru Xfce
Comment[ru]=Диспетчер графических настроек для Xfce
Comment[rw]=Igishushanyo mbonera cya Xfce
Comment[sa]=Xfce कृते ग्राफिकल सेटिंग्स् प्रबन्धकः
Comment[sd]=Xfce ﺮﺠﻴﻨﺌﻣ ﮓﻨٽﻴﺳ ڪﻓﺍﺮﮔ ءِﻻ﻿
Comment[si]=Xfce සඳහා චිත්u200dරක සැකසුම් කළමනාකරු
Comment[sk]=Správca grafických nastavení pre Xfce
Comment[sl]=Grafični upravitelj nastavitev za Xfce
Comment[sm]=Pule Fa'atonu Fa'ata mo Xfce
Comment[sn]=Graphical Settings Maneja weXfce
Comment[so]=Maamulaha Dejinta Sawirka ee Xfce
Comment[sq]=Menaxheri i cilësimeve grafike për Xfce
Comment[st]=Motsamaisi oa Litlhophiso tsa Graphical bakeng sa Xfce
Comment[su]=Pangatur Setélan Grafis pikeun Xfce
Comment[sv]=Grafisk inställningshanterare för Xfce
Comment[sw]=Meneja wa Mipangilio ya Picha ya Xfce
Comment[ta]=Xfce க்கான வரைகலை அமைப்புகள் மேலாளர்
Comment[te]=Xfce కోసం గ్రాఫికల్ సెట్టింగ్u200cల మేనేజర్
Comment[tg]=Менеҷери танзимоти графикӣ барои Xfce
Comment[th]=ตัวจัดการการตั้งค่ากราฟิกสำหรับ Xfce
Comment[ti]=ግራፊካዊ ቅጥዕታት ኣካያዲ ን Xfce
Comment[tk]=Xfce üçin grafiki sazlamalar dolandyryjysy
Comment[tl]=Graphical Settings Manager para sa Xfce
Comment[to]=Pule fokotuʻutuʻu graphic ki he Xfce
Comment[tr]=Xfce için Grafik Ayarları Yöneticisi
Comment[ts]=Mufambisi wa Switirhisiwa swa Swifaniso swa Xfce
Comment[tt]=Xfce өчен график көйләүләр менеджеры
Comment[tw]=Graphical Nsiesiei sohwɛfo ma Xfce
Comment[ty]=Te mau faanahoraa no te mau hoho'a no te Xfce
Comment[ug]=Xfce ﻰﺴﯩﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻙەﺸﯕەﺗ ﻖﯩﻠﻜﯩﻓﺍﺮﮔ ﯔﯩﻧ
Comment[uk]=Графічний менеджер налаштувань для Xfce
Comment[ur]=Xfce ﺮﺠﯿﻨﯿﻣ ﺰﮕﻨﭩﯿﺳ ﻞﮑﯿﻓﺍﺮﮔ ﮯﯿﻟ ﮯﮐ
Comment[uz]=Xfce uchun grafik sozlamalar menejeri
Comment[vi]=Trình quản lý cài đặt đồ họa cho Xfce
Comment[xh]=Umphathi weSetingi zoMzobo weXfce
Comment[yi]=Xfce ראַפֿ רעטלאַווראַפ סגניטטעס לאַקיפאַרג
Comment[yo]=Oluṣakoso Eto ayaworan fun Xfce
Comment[zh]=Xfce 图形设置管理器
Comment[zu]=Umphathi Wezilungiselelo Zezithombe ze-Xfce
Comment=Graphical Settings Manager for Xfce
Exec=xfce-setting-show
Icon=xfce4-settings
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Settings Manager
