[Desktop Entry]
Name[af]=Sakura terminale emulator
Name[am]=Sakura ተርሚናል emulator
Name[ar]=ﺍﺭﻮﻛﺎﺳ ﺔﻄﺤﻣ ﻲﻛﺎﺤﻣ
Name[as]=ছাকুৰা টাৰ্মিনেল ইমুলেটৰ
Name[ay]=Sakura terminal emulador ukax mä emulador ukhamawa
Name[az]=Sakura terminal emulator
Name[ba]=Сакура терминалы эмуляторы
Name[be]=Эмулятар тэрмінала sakura
Name[bg]=Терминален емулатор Sakura
Name[bm]=Sakura terminal emulateur
Name[bn]=সাকুরা টার্মিনাল এমুলেটর
Name[bo]=སུའུ་ཁི་ལ་མཐའ་སྣེའི་ལད་མོ་བྱེད་མཁན།
Name[bs]=Sakura terminal emulator
Name[ca]=Emulador de terminal Sakura
Name[co]=Emulatore di terminal Sakura
Name[cs]=Emulátor terminálu Sakura
Name[cy]=Efelychydd terfynell Sakura
Name[da]=Sakura terminal emulator
Name[de]=Sakura-Terminalemulator
Name[dv]=ވެއެ ރޓަލޭއުމިއެ ލްނަމިޓާ ރާކޫސަ
Name[ee]=Sakura ƒe nuwuƒe ƒe nɔnɔmetata
Name[el]=Εξομοιωτής τερματικού Sakura
Name[eo]=Sakura fina emulilo
Name[es]=emulador de terminal sakura
Name[et]=Sakura terminali emulaator
Name[eu]=Sakura terminal emuladorea
Name[fa]=ﺍﺭﻮﮐﺎﺳ ﻝﺎﻨﯿﻣﺮﺗ ﺯﺎﺳ ﻪﯿﺒﺷ
Name[fi]=Sakura terminaali emulaattori
Name[fj]=Sakura terminal emulator
Name[fo]=Sakura terminal emulator
Name[fr]=Émulateur de terminal Sakura
Name[fy]=Sakura terminal emulator
Name[ga]=Insamhlóir críochfort Sakura
Name[gd]=Sakura terminal emulator
Name[gl]=Emulador de terminal Sakura
Name[gn]=Sakura terminal emulador rehegua
Name[gu]=સાકુરા ટર્મિનલ ઇમ્યુલેટર
Name[ha]=Sakura Terminal emulator
Name[he]=הרוקאס לש ףוסמ רוטלומא
Name[hi]=सकुरा टर्मिनल एमुलेटर
Name[hr]=Emulator Sakura terminala
Name[ht]=Emulation tèminal Sakura
Name[hu]=Sakura terminál emulátor
Name[hy]=Sakura տերմինալի էմուլյատոր
Name[id]=Emulator terminal Sakura
Name[ig]=Sakura ọnụ emulator
Name[is]=Sakura terminal keppinautur
Name[it]=Emulatore di terminale Sakura
Name[iu]=ᓴᑯᕋ ᒥᕝᕕᒃ
Name[ja]=さくらターミナルエミュレータ
Name[jv]=Sakura terminal emulator
Name[ka]=საკურას ტერმინალის ემულატორი
Name[kk]=Сакура терминалының эмуляторы
Name[km]=កម្មវិធីត្រាប់តាមស្ថានីយ Sakura
Name[kn]=ಸಕುರಾ ಟರ್ಮಿನಲ್ ಎಮ್ಯುಲೇಟರ್
Name[ko]=사쿠라 터미널 에뮬레이터
Name[ku]=Emûlatora termînalê Sakura
Name[ky]=Сакура терминалдык эмулятору
Name[la]=Sakura aemulus terminalis
Name[lb]=Sakura Terminal Emulator
Name[lg]=Sakura terminal emulator
Name[ln]=Emulateur ya terminal ya Sakura
Name[lo]=Sakura terminal emulator
Name[lt]=Sakura terminalo emuliatorius
Name[lv]=Sakura termināļa emulators
Name[mg]=Sakura terminal emulator
Name[mi]=Sakura terminal emulator
Name[mk]=Сакура терминален емулатор
Name[ml]=സകുറ ടെർമിനൽ എമുലേറ്റർ
Name[mn]=Сакура терминал эмулятор
Name[mr]=साकुरा टर्मिनल एमुलेटर
Name[ms]=Emulator terminal Sakura
Name[mt]=Emulatur tat-terminal Sakura
Name[my]=Sakura terminal emulator
Name[ne]=Sakura टर्मिनल इमुलेटर
Name[nl]=Sakura-terminalemulator
Name[no]=Sakura terminal emulator
Name[ny]=Sakura terminal emulator
Name[om]=Fakkeessaa tarminaalii Sakura
Name[or]=ସାକୁରା ଟର୍ମିନାଲ୍ ଏମୁଲେଟର |
Name[pa]=ਸਾਕੁਰਾ ਟਰਮੀਨਲ ਇਮੂਲੇਟਰ
Name[pl]=Emulator terminala Sakura
Name[ps]=ﺮټﯿﻟﻮﻤﯾﺍ ﻞﻨﯿﻣﺮټ ﺍﺭﻮﮐﺎﺳ
Name[pt]=Emulador de terminal Sakura
Name[qu]=Sakura terminal emulador
Name[ro]=Emulator de terminal Sakura
Name[ru]=Эмулятор терминала Сакуры
Name[rw]=Sakura
Name[sa]=सकुरा टर्मिनल एमुलेटर
Name[sd]=Sakura ﺮٽﻴﻟﻮﻤﻳﺍ ﻞﻨﻴﻣﺮٽ
Name[si]=සකුරා පර්යන්ත ඉමුලේටරය
Name[sk]=Emulátor terminálu Sakura
Name[sl]=Emulator terminala Sakura
Name[sm]=Sakura terminal emulator
Name[sn]=Sakura terminal emulator
Name[so]=Sakura terminal emulator
Name[sq]=Emulatori i terminalit Sakura
Name[st]=Sakura terminal emulator
Name[su]=Sakura terminal émulator
Name[sv]=Sakura terminal emulator
Name[sw]=Emulator ya terminal ya Sakura
Name[ta]=சகுரா டெர்மினல் எமுலேட்டர்
Name[te]=సాకురా టెర్మినల్ ఎమ్యులేటర్
Name[tg]=Эмулятори терминали Сакура
Name[th]=โปรแกรมจำลองเทอร์มินัลซากุระ
Name[ti]=ሳኩራ ተርሚናል ኤሙለተር
Name[tk]=Sakura terminaly emulýatory
Name[tl]=Sakura terminal emulator
Name[to]=Sakura ʻoku ʻikai ke ʻi ai ha emulator
Name[tr]=Sakura terminal emülatörü
Name[ts]=Xifaniso xa theminali ya Sakura
Name[tt]=Сакура терминалы эмуляторы
Name[tw]=Sakura terminal emulator a wɔde yɛ nneɛma
Name[ty]=Te mau mana'o tauturu no te tuatapaparaa e te haapiiraa
Name[ug]=Sakura ﻰﻟﺎﻨﯩﻣﺮﯧﺗ
Name[uk]=Емулятор терміналу Sakura
Name[ur]=ﺮﭩﯿﻟﻮﻤﯾﺍ ﻞﻨﯿﻣﺮﭨ ﺍﺭﻮﮐﺎﺳ
Name[uz]=Sakura terminal emulyatori
Name[vi]=Trình giả lập thiết bị đầu cuối Sakura
Name[xh]=Sakura terminal emulator
Name[yi]=ראָטאַלומע לאַזקאָוו אַרוקאַס
Name[yo]=Sakura ebute emulator
Name[zh]=樱花终端模拟器
Name[zu]=I-Sakura terminal emulator
Name=Sakura terminal emulator
Comment[af]=Gebruik die opdragreël
Comment[am]=የትእዛዝ መስመሩን ተጠቀም
Comment[ar]=ﺮﻣﺍﻭﻷ﻿ﺍ ﺮﻄﺳ ﻡﺪﺨﺘﺳﺍ
Comment[as]=আদেশ শাৰী ব্যৱহাৰ কৰক
Comment[ay]=Kamachi chimpumpi apnaqaña
Comment[az]=Komanda xəttindən istifadə edin
Comment[ba]=Команда һыҙығын ҡулланыу
Comment[be]=Выкарыстоўвайце камандны радок
Comment[bg]=Използвайте командния ред
Comment[bm]=Baara kɛ ni cikanw ye
Comment[bn]=কমান্ড লাইন ব্যবহার করুন
Comment[bo]=བཀོད་འདོམས་སྐུད་ལམ་བཀོལ་སྤྱོད་བྱེད་པ
Comment[bs]=Koristite komandnu liniju
Comment[ca]=Utilitzeu la línia d'ordres
Comment[co]=Aduprate a linea di cumanda
Comment[cs]=Použijte příkazový řádek
Comment[cy]=Defnyddiwch y llinell orchymyn
Comment[da]=Brug kommandolinjen
Comment[de]=Verwenden Sie die Befehlszeile
Comment[dv]=ވެށެރާކު ންނުބޭ ންއިލަ ޑްންމާކޮ
Comment[ee]=Zã sedede ƒe fli
Comment[el]=Χρησιμοποιήστε τη γραμμή εντολών
Comment[eo]=Uzu la komandlinion
Comment[es]=Usa la línea de comando
Comment[et]=Kasutage käsurida
Comment[eu]=Erabili komando-lerroa
Comment[fa]=ﺪﯿﻨﮐ ﻩﺩﺎﻔﺘﺳﺍ ﻥﺎﻣﺮﻓ ﻂﺧ ﺯﺍ
Comment[fi]=Käytä komentoriviä
Comment[fj]=Vakayagataka na laini ni ivakaro
Comment[fo]=Nýt/Nýtið commandin.
Comment[fr]=Utilisez la ligne de commande
Comment[fy]=Brûk de kommandorigel
Comment[ga]=Bain úsáid as an líne ordaithe
Comment[gd]=Cleachd an loidhne-àithne
Comment[gl]=Use a liña de comandos
Comment[gn]=Eipuru ñe’ẽmondo rape
Comment[gu]=આદેશ વાક્યનો ઉપયોગ કરો
Comment[ha]=Yi amfani da layin umarni
Comment[he]=הדוקפה תרושב שמתשה
Comment[hi]=कमांड लाइन का प्रयोग करें
Comment[hr]=Koristite naredbeni redak
Comment[ht]=Sèvi ak liy lòd la
Comment[hu]=Használja a parancssort
Comment[hy]=Օգտագործեք հրամանի տողը
Comment[id]=Gunakan baris perintah
Comment[ig]=Jiri ahịrị iwu
Comment[is]=Notaðu skipanalínuna
Comment[it]=Usa la riga di comando
Comment[iu]=ᐊᑐᕐᓗᒍᑦ ᐊᖅᑯᑎᓪᓗᐊᑕᖓ
Comment[ja]=コマンドラインを使用する
Comment[jv]=Gunakake baris printah
Comment[ka]=გამოიყენეთ ბრძანების ხაზი
Comment[kk]=Пәрмен жолын пайдаланыңыз
Comment[km]=ប្រើបន្ទាត់ពាក្យបញ្ជា
Comment[kn]=ಆಜ್ಞಾ ಸಾಲಿನ ಬಳಸಿ
Comment[ko]=명령줄 사용
Comment[ku]=Rêza fermanê bikar bînin
Comment[ky]=Буйрук сабын колдонуңуз
Comment[la]=Utere order versus
Comment[lb]=Benotzt d'Kommandozeil
Comment[lg]=Kozesa layini y’ekiragiro
Comment[ln]=Salelá molɔngɔ ya komande
Comment[lo]=ໃຊ້ເສັ້ນຄໍາສັ່ງ
Comment[lt]=Naudokite komandinę eilutę
Comment[lv]=Izmantojiet komandrindu
Comment[mg]=Ampiasao ny andalana baiko
Comment[mi]=Whakamahia te raina whakahau
Comment[mk]=Користете ја командната линија
Comment[ml]=കമാൻഡ് ലൈൻ ഉപയോഗിക്കുക
Comment[mn]=Тушаалын мөрийг ашиглана уу
Comment[mr]=कमांड लाइन वापरा
Comment[ms]=Gunakan baris arahan
Comment[mt]=Uża l-linja tal-kmand
Comment[my]=command line ကိုသုံးပါ။
Comment[ne]=कमांड लाइन प्रयोग गर्नुहोस्
Comment[nl]=Gebruik de opdrachtregel
Comment[no]=Bruk kommandolinjen
Comment[ny]=Gwiritsani ntchito mzere wolamula
Comment[om]=Sarara ajaja fayyadami
Comment[or]=କମାଣ୍ଡ୍ ଲାଇନ୍ ବ୍ୟବହାର କରନ୍ତୁ |
Comment[pa]=ਕਮਾਂਡ ਲਾਈਨ ਦੀ ਵਰਤੋਂ ਕਰੋ
Comment[pl]=Użyj wiersza poleceń
Comment[ps]=ﺉﻭﺭﺎﮐﻭ ﻦﯾﻻ﻿ ډﻧﺎﻤﮐ ﺩ
Comment[pt]=Usar a linha de comando
Comment[qu]=Kamachiy chiruwan yanapachikuy
Comment[ro]=Utilizați linia de comandă
Comment[ru]=Используйте командную строку
Comment[rw]=Koresha umurongo
Comment[sa]=आदेशपङ्क्तिं उपयुज्यताम्
Comment[sd]=ﻮﻳﺮڪ ﻝﺎﻤﻌﺘﺳﺍ ﻦﺋﻻ﻿ ڊﻧﺎﻤڪ
Comment[si]=විධාන රේඛාව භාවිතා කරන්න
Comment[sk]=Použite príkazový riadok
Comment[sl]=Uporabite ukazno vrstico
Comment[sm]=Fa'aaoga le laina fa'atonu
Comment[sn]=Shandisa mutsara wekuraira
Comment[so]=Isticmaal khadka amarka
Comment[sq]=Përdorni vijën e komandës
Comment[st]=Sebelisa mola oa taelo
Comment[su]=Paké garis paréntah
Comment[sv]=Använd kommandoraden
Comment[sw]=Tumia mstari wa amri
Comment[ta]=கட்டளை வரியைப் பயன்படுத்தவும்
Comment[te]=కమాండ్ లైన్ ఉపయోగించండి
Comment[tg]=Сатри фармонро истифода баред
Comment[th]=ใช้บรรทัดคำสั่ง
Comment[ti]=መስመር ትእዛዝ ተጠቐም
Comment[tk]=Buýruk setirini ulanyň
Comment[tl]=Gamitin ang command line
Comment[to]=Fakaʻaongaʻi e laine ʻo e fekau
Comment[tr]=Komut satırını kullanın
Comment[ts]=Tirhisa layini ya swileriso
Comment[tt]=Команда сызыгын кулланыгыз
Comment[tw]=Fa ahyɛde kwan no di dwuma
Comment[ty]=A faaohipa i te reni faaueraa
Comment[ug]=ﯔﯩﺘﯩﻠﺸﯩﺋ ﻰﻨﯨﺭﯘﻗ ﻕﯗﺮﻳﯘﺑ
Comment[uk]=Використовуйте командний рядок
Comment[ur]=۔ﮟﯾﺮﮐ ﻝﺎﻤﻌﺘﺳﺍ ﻦﺋﻻ﻿ ﮉﻧﺎﻤﮐ
Comment[uz]=Buyruqlar qatoridan foydalaning
Comment[vi]=Sử dụng dòng lệnh
Comment[xh]=Sebenzisa umgca womyalelo
Comment[yi]=הרוש ןלעפֿאַב יד ןצינ
Comment[yo]=Lo laini aṣẹ
Comment[zh]=使用命令行
Comment[zu]=Sebenzisa umugqa womyalo
Comment=Use the command line
TryExec=sakura
Exec=sakura
Icon=mini-sh.xpm
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Sakura
