[Desktop Entry]
Encoding=UTF-8
Name[af]=Xcalc wetenskaplike sakrekenaar
Name[am]=Xcalc ሳይንሳዊ ካልኩሌተር
Name[ar]=Xcalc ﺔﻴﻤﻠﻋ ﺔﺒﺳﺎﺣ ﺔﻟﺁ
Name[as]=Xcalc বৈজ্ঞানিক কেলকুলেটৰ
Name[ay]=Xcalc ukax calculadora científica ukampiw lurasi
Name[az]=Xcalc elmi kalkulyator
Name[ba]=Xcalc фәнни калькуляторы
Name[be]=Навуковы калькулятар Xcalc
Name[bg]=Научен калкулатор Xcalc
Name[bm]=Xcalc dɔnniya jatebɔlan
Name[bn]=Xcalc বৈজ্ঞানিক ক্যালকুলেটর
Name[bo]=Xcalc ཚན་རིག་རྩིས་རྒྱག་འཕྲུལ་ཆས།
Name[bs]=Naučni kalkulator Xcalc
Name[ca]=Calculadora científica Xcalc
Name[co]=Calculatrice scientifica Xcalc
Name[cs]=Xcalc vědecká kalkulačka
Name[cy]=Cyfrifiannell wyddonol Xcalc
Name[da]=Xcalc videnskabelig lommeregner
Name[de]=Wissenschaftlicher Xcalc-Rechner
Name[dv]=ރޓަލޭއުކިލްކެ ކްފިޓިންއިސަ ކްލްކެސްކްއެ
Name[ee]=Xcalc dzɔdzɔmeŋutinunya ƒe akɔntabubumɔ̃
Name[el]=Επιστημονική αριθμομηχανή Xcalc
Name[eo]=Xcalc scienca kalkulilo
Name[es]=calculadora cientifica xcalc
Name[et]=Xcalc teaduslik kalkulaator
Name[eu]=Xcalc kalkulagailu zientifikoa
Name[fa]=Xcalc ﯽﻤﻠﻋ ﺏﺎﺴﺣ ﻦﯿﺷﺎﻣ
Name[fi]=Xcalc tieteellinen laskin
Name[fj]=Xcalc calculator vakasaenisi
Name[fo]=Xcalc vísindaliga roknimaskinu
Name[fr]=Calculatrice scientifique Xcalc
Name[fy]=Xcalc wittenskiplike rekkenmasine
Name[ga]=Xcalc áireamhán eolaíoch
Name[gd]=Àireamhair saidheansail Xcalc
Name[gl]=Calculadora científica Xcalc
Name[gn]=Xcalc calculadora científica rehegua
Name[gu]=Xcalc વૈજ્ઞાનિક કેલ્ક્યુલેટર
Name[ha]=Kalkuleta kimiyyar Xcalc
Name[he]=Xcalc יעדמ ןובשחמ
Name[hi]=Xcalc वैज्ञानिक कैलकुलेटर
Name[hr]=Znanstveni kalkulator Xcalc
Name[ht]=Xcalc kalkilatris syantifik
Name[hu]=Xcalc tudományos számológép
Name[hy]=Xcalc գիտական հաշվիչ
Name[id]=Kalkulator ilmiah Xcalc
Name[ig]=Ihe mgbako sayensị Xcalc
Name[is]=Xcalc vísindareiknivél
Name[it]=Calcolatrice scientifica xcalc
Name[iu]=Xcalc ᖃᐅᔨᓴᖅᑎᓄᑦ ᓈᓴᐅᓯᕆᔾᔪᑎ
Name[ja]=Xcalc関数電卓
Name[jv]=Kalkulator ilmiah Xcalc
Name[ka]=Xcalc სამეცნიერო კალკულატორი
Name[kk]=Xcalc ғылыми калькуляторы
Name[km]=ការគណនាវិទ្យាសាស្ត្រ Xcalc
Name[kn]=Xcalc ವೈಜ್ಞಾನಿಕ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Name[ko]="Xcalc 공학용 계산기"
Name[ku]=Hesabgira zanistî ya Xcalc
Name[ky]=Xcalc илимий эсептегич
Name[la]=Xcalc calculator scientificus
Name[lb]=Xcalc wëssenschaftleche Rechner
Name[lg]=Xcalc ekibalirizi kya ssaayansi
Name[ln]=Xcalc calculateur ya siansi
Name[lo]=ເຄື່ອງຄິດເລກວິທະຍາສາດ Xcalc
Name[lt]=Xcalc mokslinė skaičiuoklė
Name[lv]=Xcalc zinātniskais kalkulators
Name[mg]=Xcalc kajy siantifika
Name[mi]=Xcalc tātai pūtaiao
Name[mk]=Научен калкулатор Xcalc
Name[ml]=Xcalc സയന്റിഫിക് കാൽക്കുലേറ്റർ
Name[mn]=Xcalc шинжлэх ухааны тооцоолуур
Name[mr]=Xcalc वैज्ञानिक कॅल्क्युलेटर
Name[ms]=Kalkulator saintifik Xcalc
Name[mt]=Kalkulatur xjentifiku Xcalc
Name[my]=Xcalc သိပ္ပံနည်းကျဂဏန်းတွက်စက်
Name[ne]=Xcalc वैज्ञानिक क्यालकुलेटर
Name[nl]=Xcalc wetenschappelijke rekenmachine
Name[no]=Xcalc vitenskapelig kalkulator
Name[ny]=Chowerengera cha sayansi cha Xcalc
Name[om]=Xcalc shallaggii saayinsii
Name[or]=Xcalc ବ scientific ଜ୍ଞାନିକ କାଲକୁଲେଟର |
Name[pa]=Xcalc ਵਿਗਿਆਨਕ ਕੈਲਕੁਲੇਟਰ
Name[pl]=Kalkulator naukowy Xcalc
Name[ps]=ﺮټﯿﻟﻮﮑﻠﯿﮐ ﻲﺴﻨﯾﺎﺳ Xcalc ﺩ
Name[pt]=Calculadora científica Xcalc
Name[qu]=Xcalc cientifico yupay
Name[ro]=Calculator științific Xcalc
Name[ru]=научный калькулятор Xcalc
Name[rw]=Ibara rya Xcalc
Name[sa]=Xcalc वैज्ञानिक गणकयंत्र
Name[sd]=Xcalc ﺏﺎﺘڪ ﺏﺎﺴﺣ ﻲﺴﻨﺋﺎﺳ
Name[si]=Xcalc විද්u200dයාත්මක කැල්කියුලේටරය
Name[sk]=Vedecká kalkulačka Xcalc
Name[sl]=Znanstveni kalkulator Xcalc
Name[sm]=Xcalc calculator faasaienisi
Name[sn]=Xcalc sainzi Calculator
Name[so]=Xisaabiyaha sayniska ee Xcalc
Name[sq]=Llogaritësi shkencor Xcalc
Name[st]=Sebali sa mahlale sa Xcalc
Name[su]=Xcalc kalkulator ilmiah
Name[sv]=Xcalc vetenskaplig kalkylator
Name[sw]=Kikokotoo cha kisayansi cha Xcalc
Name[ta]=Xcalc அறிவியல் கால்குலேட்டர்
Name[te]=Xcalc సైంటిఫిక్ కాలిక్యులేటర్
Name[tg]=Ҳисобкунаки илмии Xcalc
Name[th]=Xcalc เครื่องคิดเลขวิทยาศาสตร์
Name[ti]=Xcalc ሳይንሳዊ ካልኩሌተር
Name[tk]=Xcalc ylmy kalkulýator
Name[tl]=Xcalc siyentipikong calculator
Name[to]=Xcalc fakasaienisi anga kalakuleita
Name[tr]=Xcalc bilimsel hesap makinesi
Name[ts]=Xcalc xikalo xa sayense
Name[tt]=Xcalc фәнни калькулятор
Name[tw]=Xcalc nyansahu mu akontaabu afiri
Name[ty]=Xcalc aivanaa
Name[ug]=Xcalc ﭺﯘﻐﯩﻠﺑﺎﺴﯧﮬ ﻲﯩﻤﻠﯩﺋ
Name[uk]=Науковий калькулятор Xcalc
Name[ur]=Xcalc ﺮﭩﯿﻟﻮﮑﻠﯿﮐ ﯽﺴﻨﺋﺎﺳ
Name[uz]=Xcalc ilmiy kalkulyator
Name[vi]=Máy tính khoa học Xcalc
Name[xh]=Isibali senzululwazi seXcalc
Name[yi]=Xcalc ראָטאַלוקלאַק עכעלטפאשנסיוו
Name[yo]=Xcalc ijinle sayensi isiro
Name[zh]=Xcalc科学计算器
Name[zu]=I-Xcalc yokubala yesayensi
Name=Xcalc scientific calculator
Icon=mini-calc.xpm
Comment=Xcalc scientific calculator
Exec=xcalc
Terminal=false
Type=Application
Categories=Calculator
GenericName=Xcalc scientific calculator
