[Desktop Entry]
Type=Application
Encoding=UTF-8
Name[af]=Xfce-paneelbestuurder
Name[am]=Xfce ፓነል አስተዳዳሪ
Name[ar]=Xfce ﺔﺣﻮﻟ ﺮﻳﺪﻣ
Name[as]=Xfce পেনেল ব্যৱস্থাপক
Name[ay]=Xfce Panel ukan irpiripa
Name[az]=Xfce Panel Meneceri
Name[ba]=Xfce Panel Manager
Name[be]=Менеджэр панэлі Xfce
Name[bg]=Xfce Panel Manager
Name[bm]=Xfce Panɛli ɲɛmɔgɔ
Name[bn]=Xfce প্যানেল ম্যানেজার
Name[bo]=Xfce Panel Manager
Name[bs]=Xfce Panel Manager
Name[ca]=Gestor de panells Xfce
Name[co]=Xfce Panel Manager
Name[cs]=Správce panelů Xfce
Name[cy]=Rheolwr Panel Xfce
Name[da]=Xfce Panel Manager
Name[de]=Xfce-Panel-Manager
Name[dv]=ވެރެޖަނޭމެ ލްނަޕެ އީސީފްއެސްކްއެ
Name[ee]=Xfce Panel ƒe Dɔdzikpɔla
Name[el]=Διαχειριστής πίνακα Xfce
Name[eo]=Xfce Panela Administranto
Name[es]=Administrador de paneles Xfce
Name[et]=Xfce paneelihaldur
Name[eu]=Xfce Panel Kudeatzailea
Name[fa]=Xfce ﻞﻨﭘ ﺮﯾﺪﻣ
Name[fi]=Xfce Panel Manager
Name[fj]=Manidia ni Mataveivosaki ni XFCE
Name[fo]=Xfce Panel Manager
Name[fr]=Gestionnaire de panneaux Xfce
Name[fy]=Xfce Panel Manager
Name[ga]=Bainisteoir painéal xfce
Name[gd]=Manaidsear pannal xfce
Name[gl]=Xfce Panel Manager
Name[gn]=Xfce Panel Moakãha
Name[gu]=Xfce પેનલ મેનેજર
Name[ha]=Manajan Panel Xfce
Name[he]=Xfce לנאפ להנמ
Name[hi]=Xfce पैनल प्रबंधक
Name[hr]=Xfce Panel Manager
Name[ht]=Manadjè Panel Xfce
Name[hu]=Xfce Panel Manager
Name[hy]=Xfce վահանակի կառավարիչ
Name[id]=Manajer Panel Xfce
Name[ig]=Onye njikwa Xfce Panel
Name[is]=Xfce Panel Manager
Name[it]=Gestore del pannello Xfce
Name[iu]=Xfce-ᒧᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=Xfce パネルマネージャー
Name[jv]=Manajer Panel Xfce
Name[ka]=Xfce პანელის მენეჯერი
Name[kk]=Xfce панелінің менеджері
Name[km]=អ្នកគ្រប់គ្រងបន្ទះ Xfce
Name[kn]=Xfce ಪ್ಯಾನಲ್ ಮ್ಯಾನೇಜರ್
Name[ko]=Xfce 패널 관리자
Name[ku]=Rêvebirê Panela Xfce
Name[ky]=Xfce панелинин менеджери
Name[la]=Xfce Panel Manager
Name[lb]=Xfce Panel Manager
Name[lg]=Xfce Omuddukanya Panel
Name[ln]=Mokambi ya Panneau Xfce
Name[lo]=ຜູ້ຈັດການກະດານ Xfce
Name[lt]=Xfce Panel Manager
Name[lv]=Xfce paneļa pārvaldnieks
Name[mg]=Mpitantana Panel Xfce
Name[mi]=Kaiwhakahaere Paewhiri Xfce
Name[mk]=Менаџер на панели Xfce
Name[ml]=Xfce പാനൽ മാനേജർ
Name[mn]=Xfce самбарын менежер
Name[mr]=Xfce पॅनेल व्यवस्थापक
Name[ms]=Pengurus Panel Xfce
Name[mt]=Xfce Panel Manager
Name[my]=Xfce Panel မန်နေဂျာ
Name[ne]=Xfce प्यानल प्रबन्धक
Name[nl]=Xfce-paneelbeheer
Name[no]=Xfce Panel Manager
Name[ny]=Xfce Panel Manager
Name[om]=Hogganaa Paanaalii Xfce
Name[or]=Xfce ପ୍ୟାନେଲ୍ ପରିଚାଳକ |
Name[pa]=Xfce ਪੈਨਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer paneli Xfce
Name[ps]=ﺮﯾﺪﻣ ﻞﻨﯿﭘ Xfce ﺩ
Name[pt]=Gestor de Painel Xfce
Name[qu]=Xfce Panel kamachiq
Name[ro]=Xfce Panel Manager
Name[ru]=Менеджер панели Xfce
Name[rw]=Umuyobozi wa Xfce
Name[sa]=Xfce पैनल प्रबन्धक
Name[sd]=Xfce ﺮﺠﻴﻨﺌﻣ ﻞﻨﻴﭘ
Name[si]=Xfce පැනල් කළමනාකරු
Name[sk]=Správca panelov Xfce
Name[sl]=Xfce Panel Manager
Name[sm]=Pule o le Xfce Panel
Name[sn]=Xfce Panel Manager
Name[so]=Maareeyaha Gudida Xfce
Name[sq]=Menaxheri i panelit Xfce
Name[st]=Motsamaisi oa Panel oa Xfce
Name[su]=Pangatur Panel Xfce
Name[sv]=Xfce Panel Manager
Name[sw]=Meneja wa Jopo la Xfce
Name[ta]=Xfce பேனல் மேலாளர்
Name[te]=Xfce ప్యానెల్ మేనేజర్
Name[tg]=Менеҷери панели Xfce
Name[th]=Xfce ผู้จัดการแผง
Name[ti]=Xfce ፓነል ማናጀር
Name[tk]=Xfce Panel dolandyryjysy
Name[tl]=Xfce Panel Manager
Name[to]=Pule ʻo e penolo Xfce
Name[tr]=Xfce Panel Yöneticisi
Name[ts]=Mufambisi wa Phanele ya Xfce
Name[tt]=Xfce панель менеджеры
Name[tw]=Xfce Panel sohwɛfoɔ
Name[ty]=Xfce Panel Manager
Name[ug]=Xfce ﻯﺭﻮﺘﻜﯨﺮﯦﺩ ﺎﭙﭘﯗﺭﯘﮔ
Name[uk]=Менеджер панелей Xfce
Name[ur]=Xfce ﺮﺠﯿﻨﯿﻣ ﻞﻨﯿﭘ
Name[uz]=Xfce paneli menejeri
Name[vi]=Trình quản lý bảng điều khiển Xfce
Name[xh]=Umphathi wePaneli yeXfce
Name[yi]=Xfce רעגאַנאַמ לענאַפּ
Name[yo]=Xfce Panel Manager
Name[zh]=Xfce 面板管理器
Name[zu]=I-Xfce Panel Manager
Name=Xfce Panel Manager
GenericName=Panel Manager
Comment[af]=Pas paneel aan
Comment[am]=ፓነልን አብጅ
Comment[ar]=ﺔﺣﻮﻠﻟﺍ ﺺﻴﺼﺨﺗ
Comment[as]=পেনেল কাষ্টমাইজ কৰক
Comment[ay]=Panel de Personalización ukax mä juk’a pachanakanwa
Comment[az]=Paneli fərdiləşdirin
Comment[ba]=Көйләү панелдәре
Comment[be]=Наладзіць панэль
Comment[bg]=Персонализиране на панела
Comment[bm]=Panneau de personnaliser
Comment[bn]=প্যানেল কাস্টমাইজ করুন
Comment[bo]=གཏན་འཁེལ་བྱས་པའི་ཚོ་ཆུང་།
Comment[bs]=Prilagodi panel
Comment[ca]=Personalitza el panell
Comment[co]=Customize Panel
Comment[cs]=Přizpůsobit panel
Comment[cy]=Customize Panel
Comment[da]=Tilpas panel
Comment[de]=Panel anpassen
Comment[dv]=ލްނަޕެ ޒްއިމަޓަސްކަ
Comment[ee]=Trɔ asi le Panel ŋu
Comment[el]=Προσαρμογή πίνακα
Comment[eo]=Agordu Panelon
Comment[es]=Panel personalizado
Comment[et]=Kohandage paneeli
Comment[eu]=Pertsonalizatu panela
Comment[fa]=ﻞﻨﭘ ﻥﺩﺮﮐ ﯽﺷﺭﺎﻔﺳ
Comment[fi]=Mukauta paneelia
Comment[fj]=Vakacuruma na Mataveivosaki
Comment[fo]=Customize Panel
Comment[fr]=Personnaliser le panneau
Comment[fy]=Panel oanpasse
Comment[ga]=Saincheap Painéal
Comment[gd]=Gnàthaich Pannal
Comment[gl]=Personalizar o panel
Comment[gn]=Panel Personalizar rehegua
Comment[gu]=પેનલ કસ્ટમાઇઝ કરો
Comment[ha]=Keɓance Panel
Comment[he]=חול לש תישיא המאתה
Comment[hi]=पैनल अनुकूलित करें
Comment[hr]=Prilagodite ploču
Comment[ht]=Customize Panel
Comment[hu]=Panel testreszabása
Comment[hy]=Անհատականացրեք վահանակը
Comment[id]=Sesuaikan Panel
Comment[ig]=Hazie panel
Comment[is]=Sérsníða pallborð
Comment[it]=Personalizza pannello
Comment[iu]=ᓵᑦᑐᐱᐊᑦ ᐋᖅᑭᒃᓱᕐᓗᒋᑦ
Comment[ja]=カスタマイズパネル
Comment[jv]=Kustomisasi Panel
Comment[ka]=პანელის მორგება
Comment[kk]=Панельді теңшеу
Comment[km]=ប្ដូរបន្ទះតាមបំណង
Comment[kn]=ಫಲಕವನ್ನು ಕಸ್ಟಮೈಸ್ ಮಾಡಿ
Comment[ko]=사용자 정의 패널
Comment[ku]=Panelê xweş bikin
Comment[ky]=Панелди ыңгайлаштыруу
Comment[la]=Customize Panel
Comment[lb]=Panel personaliséieren
Comment[lg]=Customize Panel
Comment[ln]=Panneau personnaliser
Comment[lo]=ປັບແຕ່ງແຜງ
Comment[lt]=Tinkinti skydelį
Comment[lv]=Pielāgot paneli
Comment[mg]=Customize Panel
Comment[mi]=Whakaritea te Paewhiri
Comment[mk]=Приспособете го панелот
Comment[ml]=പാനൽ ഇഷ്ടാനുസൃതമാക്കുക
Comment[mn]=Самбарыг тохируулах
Comment[mr]=पॅनेल सानुकूलित करा
Comment[ms]=Sesuaikan Panel
Comment[mt]=Customize Panel
Comment[my]=Panel ကို စိတ်ကြိုက်လုပ်ပါ။
Comment[ne]=प्यानल अनुकूलन गर्नुहोस्
Comment[nl]=Paneel aanpassen
Comment[no]=Tilpass panel
Comment[ny]=Sinthani Mwamakonda Anu gulu
Comment[om]=Paanaalii Dhuunfachiisuun
Comment[or]=ପ୍ୟାନେଲ୍ କଷ୍ଟୋମାଇଜ୍ କରନ୍ତୁ |
Comment[pa]=ਪੈਨਲ ਨੂੰ ਅਨੁਕੂਲਿਤ ਕਰੋ
Comment[pl]=Dostosuj panel
Comment[ps]=ﺉړﮐ ﺺﯿﺼﺨﺗ ﻞﻨﯿﭘ
Comment[pt]=Personalizar painel
Comment[qu]=Panel personalizay
Comment[ro]=Personalizați panoul
Comment[ru]=Настроить панель
Comment[rw]=Hindura akanama
Comment[sa]=पटल अनुकूलित करें
Comment[sd]=ﻞﻨﻴﭘ ﺰﻴﺋﺎﻤٽﺴڪ
Comment[si]=පැනලය අභිරුචිකරණය කරන්න
Comment[sk]=Prispôsobiť panel
Comment[sl]=Prilagodite ploščo
Comment[sm]=Fa'asinomaga Panel
Comment[sn]=Customize Panel
Comment[so]=Habbee Gudida
Comment[sq]=Personalizo panelin
Comment[st]=Customize Panel
Comment[su]=Sesuaikeun Panel
Comment[sv]=Anpassa panelen
Comment[sw]=Customize Paneli
Comment[ta]=பேனலைத் தனிப்பயனாக்கு
Comment[te]=ప్యానెల్ అనుకూలీకరించండి
Comment[tg]=Панели фармоишӣ
Comment[th]=ปรับแต่งแผง
Comment[ti]=ፓነል ንዓኻ ዝምጥን ምግባር
Comment[tk]=Paneli özleşdiriň
Comment[tl]=I-customize ang Panel
Comment[to]=Fakafeʻungaʻi ʻa e penolo
Comment[tr]=Paneli Özelleştir
Comment[ts]=Phanele ya ku Endla hi ku landza swilaveko swa wena
Comment[tt]=Панельне көйләгез
Comment[tw]=Panel no yɛ nea wopɛ
Comment[ty]=Customize Panel
Comment[ug]=ﯔﯩﻠﯩﻗ ﻲﯨﺭﺎﻴﯩﺘﺨﯩﺋ ﻰﻨﻳﺎﺘﺧﺎﺗ
Comment[uk]=Налаштувати панель
Comment[ur]=ﮟﯿﺋﺎﻨﺑ ﺕﺭﻭﺮﺿ ﺐﺴﺣ ﻮﮐ ﻞﻨﯿﭘ
Comment[uz]=Panelni sozlash
Comment[vi]=Tùy chỉnh bảng điều khiển
Comment[xh]=Iphaneli yokulungelelanisa
Comment[yi]=לענאַפּ זיימאַטסאַק
Comment[yo]=Ṣe akanṣe Igbimọ
Comment[zh]=自定义面板
Comment[zu]=Yenza Iphaneli ngendlela oyifisayo
Comment=Customize Panel
Exec=xfce4-panel -c
Icon=xfce4-panel
Terminal=false
Categories=DesktopSettings
