[Desktop Entry]
Encoding=UTF-8
Name[af]=PicPuz legkaart
Name[am]=PicPuz jigsaw እንቆቅልሽ
Name[ar]=PicPuz ﺰﻐﻠﻟﺍ
Name[as]=PicPuz জিগছ পাজল
Name[ay]=PicPuz ukax mä rompecabezas ukankiwa
Name[az]=PicPuz bulmacası
Name[ba]=PicPuz jigsaw пуицистикаһы
Name[be]=Пазл PicPuz
Name[bg]=PicPuz пъзел
Name[bm]=PicPuz jigsaw puzzle
Name[bn]=PicPuz জিগস পাজল
Name[bo]=PicPuz jigsaw གབ་ཚིག
Name[bs]=PicPuz slagalica
Name[ca]=Trencaclosques PicPuz
Name[co]=Puzzle PicPuz
Name[cs]=Skládačka PicPuz
Name[cy]=Pos jig-so PicPuz
Name[da]=PicPuz puslespil
Name[de]=PicPuz-Puzzle
Name[dv]=ވެއެ ލްޒްޕަ ސޯގްޖި ޒްޕަކްޕި
Name[ee]=PicPuz ƒe ʋuʋudedi
Name[el]=Παζλ PicPuz
Name[eo]=PicPuz puzlo
Name[es]=Rompecabezas PicPuz
Name[et]=PicPuz pusle
Name[eu]=PicPuz puzzlea
Name[fa]=PicPuz ﻝﺯﺎﭘ
Name[fi]=PicPuz palapeli
Name[fj]=PicPuz jigsaw
Name[fo]=PicPuz jigsaw puzzle
Name[fr]=Puzzle PicPuz
Name[fy]=PicPuz puzzel
Name[ga]=Míreanna mearaí PicPuz
Name[gd]=Tòimhseachan jigsaw PicPuz
Name[gl]=Crebacabezas PicPuz
Name[gn]=PicPuz rompecabezas rehegua
Name[gu]=PicPuz જીગ્સૉ પઝલ
Name[ha]=PicPuz jigsaw wasa
Name[he]=PicPuz לש לזאפ
Name[hi]=PicPuz पहेली
Name[hr]=PicPuz slagalica
Name[ht]=PicPuz devinèt tèt
Name[hu]=PicPuz kirakós játék
Name[hy]=PicPuz ոլորահատ սղոց հանելուկ
Name[id]=Teka-teki gambar PicPuz
Name[ig]=Egwuregwu jigsaw PicPuz
Name[is]=PicPuz púsluspil
Name[it]=Puzzle di PicPuz
Name[iu]=PicPuz jigsaw ᐋᖅᑭᒃᓱᒐᖅ
Name[ja]=PicPuz ジグソーパズル
Name[jv]=PicPuz teka-teki jigsaw
Name[ka]=PicPuz თავსატეხი
Name[kk]=PicPuz пазлы
Name[km]=ល្បែងផ្គុំរូប PicPuz
Name[kn]=PicPuz ಜಿಗ್ಸಾ ಪಜಲ್
Name[ko]=PicPuz 직소 퍼즐
Name[ku]=PicPuz jigsaw puzzle
Name[ky]=PicPuz баш катырма
Name[la]=PicPuz jigsaw puzzle
Name[lb]=PicPuz Puzzel
Name[lg]=PicPuz ekintu ekiyitibwa jigsaw puzzle
Name[ln]=PicPuz puzzle ya kosala
Name[lo]=ເກມປິດສະໜາ PicPuz
Name[lt]=PicPuz dėlionė
Name[lv]=PicPuz puzle
Name[mg]=Puzzles PicPuz
Name[mi]=PicPuz puzzle
Name[mk]=PicPuz сложувалка
Name[ml]=PicPuz ജിഗ്u200cസോ പസിൽ
Name[mn]=PicPuz эвлүүлдэг тоглоом
Name[mr]=PicPuz जिगसॉ पझल
Name[ms]=Teka-teki gambar PicPuz
Name[mt]=PicPuz jigsaw puzzle
Name[my]=PicPuz ဂျစ်ဆော့ပဟေဠိ
Name[ne]=PicPuz जिगस पजल
Name[nl]=PicPuz legpuzzel
Name[no]=PicPuz puslespill
Name[ny]=PicPuz jigsaw puzzle
Name[om]=PicPuz jigsaw puzzle
Name[or]=PicPuz ଜିଗ୍ସ ପଜଲ୍ |
Name[pa]=ਪਿਕਪੁਜ਼ ਜਿਗਸਾ ਪਹੇਲੀ
Name[pl]=Układanka PicPuz
Name[ps]=ﻝﺰﭘ ﺲګﯿﺟ PicPuz ﺩ
Name[pt]=PicPuz quebra-cabeça
Name[qu]=PicPuz rompecabezas
Name[ro]=Puzzle PicPuz
Name[ru]=Пазл PicPuz
Name[rw]=PicPuz jigsaw puzzle
Name[sa]=PicPuz आरा पहेली
Name[sd]=PicPuz jigsaw puzzle
Name[si]=PicPuz ජිග්සෝ ප්u200dරහේලිකාව
Name[sk]=Skladačka PicPuz
Name[sl]=PicPuz sestavljanka
Name[sm]=PicPuz jigsaw paso
Name[sn]=PicPuz jigsaw puzzle
Name[so]=Halxiraalaha jigsaw ee PicPuz
Name[sq]=PicPuz me bashkim pjesësh figure
Name[st]=PicPuz jigsaw puzzle
Name[su]=PicPuz teka-teki jigsaw
Name[sv]=PicPuz pussel
Name[sw]=Picha ya jigsaw ya PicPuz
Name[ta]=PicPuz ஜிக்சா புதிர்
Name[te]=PicPuz జా పజిల్
Name[tg]=Пазл PicPuz
Name[th]=จิ๊กซอว์ PicPuz
Name[ti]=ፒክፑዝ ጂግሳው ፓዝል
Name[tk]=“PicPuz” jübüt tapmasy
Name[tl]=PicPuz jigsaw puzzle
Name[to]=PicPuz ha pasolo
Name[tr]=PicPuz yapbozu
Name[ts]=PicPuz xifaniso xa xirhendzevutani
Name[tt]=ПикПуз табышмаклары
Name[tw]=PicPuz jigsaw ahodwiriwde a ɛyɛ nwonwa
Name[ty]=PicPuz jigsaw puzzle
Name[ug]=PicPuz jigsaw puzzle
Name[uk]=Головоломка PicPuz
Name[ur]=PicPuz jigsaw ﯽﻠﯿﮩﭘ
Name[uz]=PicPuz jumboq
Name[vi]=trò chơi ghép hình PicPuz
Name[xh]=IPicPuz iphazili yejigsaw
Name[yi]=שינעטער זופּקיפּ
Name[yo]=PicPuz Aruniloju adojuru
Name[zh]=PicPuz 拼图游戏
Name[zu]=I-PicPuz i-jigsaw puzzle
Name=PicPuz jigsaw puzzle
Icon=picpuz.png
Comment[af]=legkaart
Comment[am]=jigsaw እንቆቅልሽ
Comment[ar]=ﻮﺴﻘﺟ ﺔﻴﺠﺣﺃ
Comment[as]=জিগছ পাজল
Comment[ay]=jigsaw puzzle ukax mä juk’a pachanakanwa
Comment[az]=Yapboz puzzle
Comment[ba]=джиг-пуицистика
Comment[be]=галаваломкі
Comment[bg]=пъзел
Comment[bm]=jigsaw puzzle (jigsaw) ye
Comment[bn]=জিগস পাজল
Comment[bo]=jigsaw གབ་ཚིག
Comment[bs]=slagalica
Comment[ca]=trencaclosques
Comment[co]=puzzle
Comment[cs]=skládačka
Comment[cy]=jig-so
Comment[da]=puslespil
Comment[de]=Puzzle
Comment[dv]=ވެއެ ލްޒްޕަ ސޯގްޖި
Comment[ee]=jigsaw ƒe nɔnɔmetata
Comment[el]=παζλ
Comment[eo]=puzlo
Comment[es]=rompecabezas
Comment[et]=puzzle
Comment[eu]=puzzle
Comment[fa]=ﻝﺯﺎﭘ
Comment[fi]=palapeli
Comment[fj]=jigsaw
Comment[fo]=jigsaw putlispælið
Comment[fr]=puzzle
Comment[fy]=lispuzel
Comment[ga]=míreanna mearaí
Comment[gd]=jigsaw puzzle
Comment[gl]=crebacabezas
Comment[gn]=rompecabezas rehegua
Comment[gu]=જીગ્સૉ પઝલ
Comment[ha]=jigsaw wuyar warwarewa
Comment[he]=לזאפ
Comment[hi]=आरा पहेली
Comment[hr]=Slagalica
Comment[ht]=devinèt tèt
Comment[hu]=kirakós
Comment[hy]=նկարախաղ
Comment[id]=teka-teki gambar
Comment[ig]=jigsaw mgbagwoju anya
Comment[is]=púsluspil
Comment[it]=puzzle
Comment[iu]=ᔮᒡᒑ ᐋᖅᑭᒃᓱᒐᖅ
Comment[ja]=ジグソーパズル
Comment[jv]=teka-teki Jigsaw
Comment[ka]=ფიგურებიანი თავსატეხი
Comment[kk]=басқатырғыш
Comment[km]=រូបផ្គុំ
Comment[kn]=ಜಿಗ್ಸಾ ಪಜಲ್
Comment[ko]=직소 퍼즐
Comment[ku]=jigsaw puzzle
Comment[ky]=паззл
Comment[la]=aenigma sinuosi cursus
Comment[lb]=Puzzle
Comment[lg]=jigsaw puzzle
Comment[ln]=puzzle ya jigsaw
Comment[lo]=jigsaw ປິດ
Comment[lt]=dėlionė
Comment[lv]=mozaīkmīklas
Comment[mg]=piozila
Comment[mi]=panga
Comment[mk]=сложувалка
Comment[ml]=ജിഗ്u200cസോ പസിൽ
Comment[mn]=эвлүүлдэг тоглоом
Comment[mr]=जिगसॉ कोडे
Comment[ms]=jigsaw puzzle
Comment[mt]=jigsaw puzzle
Comment[my]=ဂျစ်ဆာပဟေဠိ
Comment[ne]=जिगस पजल
Comment[nl]=legpuzzel
Comment[no]=puslespill
Comment[ny]=jigsaw puzzle
Comment[om]=jigsaw puzzle jedhamuun beekama
Comment[or]=ଜିଗ୍ ପଜଲ୍ |
Comment[pa]=ਜਿਗਸਾ ਬੁਝਾਰਤ
Comment[pl]=układanka
Comment[ps]=jigsaw puzzle
Comment[pt]=quebra-cabeça
Comment[qu]=rompecabezas nisqa
Comment[ro]=puzzle
Comment[ru]=пазл
Comment[rw]=jigsaw puzzle
Comment[sa]=आरा पहेली
Comment[sd]=jigsaw puzzle
Comment[si]=ජිග්සෝ ප්u200dරහේලිකාව
Comment[sk]=skladačka
Comment[sl]=sestavljanka
Comment[sm]=paso jigsaw
Comment[sn]=jigsaw puzzle
Comment[so]=halxiraalaha jigsaw
Comment[sq]=lojë me bashkim pjesësh figure
Comment[st]=jigsaw puzzle
Comment[su]=teka-teki jigsaw
Comment[sv]=pussel
Comment[sw]=jigsaw puzzle
Comment[ta]=ஜிக்சா புதிர்
Comment[te]=జిగ్సా పజిల్
Comment[tg]=пазл
Comment[th]=ตัวต่อจิ๊กซอว์
Comment[ti]=ጂግሳው ፓዝል
Comment[tk]=jübüt tapmasy
Comment[tl]=jigsaw puzzle
Comment[to]=ha pasolo
Comment[tr]=yapboz
Comment[ts]=xihlekiso xa jigsaw
Comment[tt]=табышмак
Comment[tw]=jigsaw puzzle a ɛyɛ nwonwa
Comment[ty]=ha'uti no te ma'iti
Comment[ug]=jigsaw puzzle
Comment[uk]=головоломка
Comment[ur]=Jigsaw ﯽﻠﯿﮩﭘ
Comment[uz]=TOPISHMOQ
Comment[vi]=trò chơi lắp hình
Comment[xh]=iphazile yejigsaw
Comment[yi]=שינעטער
Comment[yo]=Aruniloju adojuru
Comment[zh]=拼图游戏
Comment[zu]=I-jigsaw puzzle
Comment=jigsaw puzzle
Exec=picpuz
Terminal=false
Type=Application
Categories=X-Fun-puzzle
GenericName=PicPuz
