[Desktop Entry]
Encoding=UTF-8
Name[fr]=Assistant CD/DVD
Name[bg]=Съветник за CD/DVD устройство
Name[de]=Assistent für CD/DVD-Laufwerke
Name[es]=Asistente para unidades de CD/DVD
Name[ru]=Мастер дисковода CD/DVD
Name[tr]=CD/DVD Sürücüsü Sihirbazı
Name[af]=CD/DVD-stasie Wizard
Name[am]=የሲዲ/ዲቪዲ ድራይቭ አዋቂ
Name[ar]=DVD ﺹﺍﺮﻗﺃ / ﺔﻃﻮﻐﻀﻤﻟﺍ ﺹﺍﺮﻗﻷ﻿ﺍ ﻙﺮﺤﻣ ﺞﻟﺎﻌﻣ
Name[as]=চিডি/ডিভিডি ড্ৰাইভ উইজাৰ্ড
Name[ay]=CD/DVD apnaqañ Asistente
Name[az]=CD/DVD sürücü ustası
Name[ba]=CD/DVD-диск Сихырсы
Name[be]=Майстар прывада CD/DVD
Name[bm]=CD/DVD bolifɛn Wizard
Name[bn]=সিডি/ডিভিডি ড্রাইভ উইজার্ড
Name[bo]=CD/DVD drive Wizard
Name[bs]=Čarobnjak za CD/DVD drajv
Name[ca]=Assistent de la unitat de CD/DVD
Name[co]=Assistente di unità CD/DVD
Name[cs]=Průvodce CD/DVD mechanikou
Name[cy]=Dewin gyriant CD/DVD
Name[da]=CD/DVD-drev guiden
Name[dv]=ޑްރޒަވި ވްއިރަޑް ޑީވީޑީ/ޑީސީ
Name[ee]=CD/DVD ʋu ƒe Dɔwɔla
Name[el]=Οδηγός μονάδας CD/DVD
Name[eo]=Sorĉisto de KD/DVD-disko
Name[et]=CD/DVD-draivi viisard
Name[eu]=CD/DVD unitatearen morroia
Name[fa]=CD/DVD ﻮﯾﺍﺭﺩ ﺮﮔﻭﺩﺎﺟ
Name[fi]=CD/DVD-aseman ohjattu toiminto
Name[fj]=Wizard ni draiva ni CD/DVD
Name[fo]=CD/DVD koyra Wizard
Name[fy]=CD/DVD drive Wizard
Name[ga]=Treoraí tiomántán CD/DVD
Name[gd]=Draoidh CD/DVD
Name[gl]=Asistente para unidades de CD/DVD
Name[gn]=CD/DVD ryru Asistente
Name[gu]=સીડી/ડીવીડી ડ્રાઇવ વિઝાર્ડ
Name[ha]=CD/DVD Driver Wizard
Name[he]=CD/DVD ןנוכ ףשא
Name[hi]=सीडी/डीवीडी ड्राइव विज़ार्ड
Name[hr]=Čarobnjak za CD/DVD pogon
Name[ht]=CD/DVD kondwi Sòsye
Name[hu]=CD/DVD-meghajtó varázsló
Name[hy]=CD/DVD drive Wizard
Name[id]=Panduan drive CD/DVD
Name[ig]=Ọkachamara mbanye CD/DVD
Name[is]=Wizard CD/DVD drif
Name[it]=Procedura guidata unità CD/DVD
Name[iu]=ᕿᓪᓕᖅᑐᖅ/ᕿᓪᓕᖅᑐᖅ ᐊᖁᑦᑕᕐᕕᒃ
Name[ja]=CD/DVD ドライブ ウィザード
Name[jv]=Wisaya drive CD/DVD
Name[ka]=CD/DVD დისკის ოსტატი
Name[kk]=CD/DVD дискінің шебері
Name[km]=អ្នកជំនួយការដ្រាយស៊ីឌី / ឌីវីឌី
Name[kn]=CD/DVD ಡ್ರೈವ್ ವಿಝಾರ್ಡ್
Name[ko]=CD/DVD 드라이브 마법사
Name[ku]=CD/DVD drive Wizard
Name[ky]=CD/DVD диск устасы
Name[la]=CD/DVD coegi Veneficus
Name[lb]=CD/DVD Drive Wizard
Name[lg]=Omugezi wa CD/DVD drive
Name[ln]=Assistant ya lecteur CD/DVD
Name[lo]=CD/DVD Drive Wizard
Name[lt]=CD / DVD įrenginio vedlys
Name[lv]=CD/DVD diskdziņa vednis
Name[mg]=CD/DVD drive Wizard
Name[mi]=Ruānuku puku CD/DVD
Name[mk]=Волшебник за погон за ЦД/ДВД
Name[ml]=സിഡി/ഡിവിഡി ഡ്രൈവ് വിസാർഡ്
Name[mn]=CD/DVD хөтчийн шидтэн
Name[mr]=सीडी/डीव्हीडी ड्राइव्ह विझार्ड
Name[ms]=Wizard pemacu CD/DVD
Name[mt]=Wizard tas-CD/DVD drive
Name[my]=CD/DVD Drive Wizard
Name[ne]=CD/DVD ड्राइव विजार्ड
Name[nl]=Wizard cd/dvd-station
Name[no]=Veiviser for CD/DVD-stasjon
Name[ny]=CD/DVD drive Wizard
Name[om]=Gargaaraa CD/DVD drive
Name[or]=CD / DVD ଡ୍ରାଇଭ୍ ୱିଜାର୍ଡ |
Name[pa]=CD/DVD ਡਰਾਈਵ ਸਹਾਇਕ
Name[pl]=Kreator napędu CD/DVD
Name[ps]=ډﺭﺯﻭ ﻮﯾﺍﺭډ CD/DVD ﺩ
Name[pt]=Assistente de unidade de CD/DVD
Name[qu]=CD/DVD unidad Asistente
Name[ro]=Expert unitate CD/DVD
Name[rw]=Ububiko bwa CD / DVD
Name[sa]=CD/DVD ड्राइव विजार्ड
Name[sd]=ﺭﺎﮔﺩﺪﻣ ﻮﻴﺋﺍﺭڊ ﻱڊ ﻱﻭ ﻱڊ / ﻱڊ ﻲﺳ
Name[si]=CD/DVD Drive Wizard
Name[sk]=Sprievodca CD/DVD mechanikou
Name[sl]=Čarovnik za pogon CD/DVD
Name[sm]=Wizard ta'avale CD/DVD
Name[sn]=CD/DVD drive Wizard
Name[so]=Wizard Drive-ka CD/DVD
Name[sq]=Wizard i diskut CD/DVD
Name[st]=CD/DVD drive Wizard
Name[su]=CD / DVD drive Wizard
Name[sv]=CD/DVD-enhetsguide
Name[sw]=Mchawi wa kiendeshi cha CD/DVD
Name[ta]=சிடி/டிவிடி டிரைவ் வழிகாட்டி
Name[te]=CD/DVD డ్రైవ్ విజార్డ్
Name[tg]=Ёвари диски CD/DVD
Name[th]=ตัวช่วยสร้างไดรฟ์ซีดี / ดีวีดี
Name[ti]=ሲዲ/ዲቪዲ ድራይቭ ዊዛርድ
Name[tk]=CD / DVD sürüjisi
Name[tl]=CD/DVD drive Wizard
Name[to]=CD/DVD drive Wizard
Name[ts]=Xitirhisiwa xa CD/DVD drive
Name[tt]=CD / DVD диск остасы
Name[tw]=CD/DVD draibɛ Wizard
Name[ty]=CD/DVD drive Wizard
Name[ug]=CD / DVD ﭺﯘﻘﺗﺎﻏﺯﻮﻗ
Name[uk]=Майстер приводу CD/DVD
Name[ur]=CD/DVD ﮈﺭﺯﻭ ﻮﯿﺋﺍﺭﮈ
Name[uz]=CD/DVD haydovchi ustasi
Name[vi]=Trình hướng dẫn ổ đĩa CD/DVD
Name[xh]=CD/DVD drive Wizard
Name[yi]=דרעזיוו ראָפ ידיוויד / קסידטקאַפּמאָק
Name[yo]=CD/DVD wakọ oso
Name[zh]=CD/DVD 驱动器向导
Name[zu]=Iseluleki se-CD/DVD drive
Name=CD/DVD drive Wizard
Icon=wizard16.xpm
Comment[fr]=Assistant du lecteur/graveur de CD/DVD
Comment[bg]=Съветник за CD/DVD устройство
Comment[de]=Assistent für CD/DVD-Laufwerke
Comment[es]=Asistente para unidades de CD/DVD
Comment[ru]=Мастер дисковода CD/DVD
Comment[tr]=CD/DVD Sürücüsü Sihirbazı
Comment[af]=CD/DVD-stasie Wizard
Comment[am]=የሲዲ/ዲቪዲ ድራይቭ አዋቂ
Comment[ar]=DVD ﺹﺍﺮﻗﺃ / ﺔﻃﻮﻐﻀﻤﻟﺍ ﺹﺍﺮﻗﻷ﻿ﺍ ﻙﺮﺤﻣ ﺞﻟﺎﻌﻣ
Comment[as]=চিডি/ডিভিডি ড্ৰাইভ উইজাৰ্ড
Comment[ay]=CD/DVD apnaqañ Asistente
Comment[az]=CD/DVD sürücü ustası
Comment[ba]=CD/DVD-диск Сихырсы
Comment[be]=Майстар прывада CD/DVD
Comment[bm]=CD/DVD bolifɛn Wizard
Comment[bn]=সিডি/ডিভিডি ড্রাইভ উইজার্ড
Comment[bo]=CD/DVD drive Wizard
Comment[bs]=Čarobnjak za CD/DVD drajv
Comment[ca]=Assistent de la unitat de CD/DVD
Comment[co]=Assistente di unità CD/DVD
Comment[cs]=Průvodce CD/DVD mechanikou
Comment[cy]=Dewin gyriant CD/DVD
Comment[da]=CD/DVD-drev guiden
Comment[dv]=ޑްރޒަވި ވްއިރަޑް ޑީވީޑީ/ޑީސީ
Comment[ee]=CD/DVD ʋu ƒe Dɔwɔla
Comment[el]=Οδηγός μονάδας CD/DVD
Comment[eo]=Sorĉisto de KD/DVD-disko
Comment[et]=CD/DVD-draivi viisard
Comment[eu]=CD/DVD unitatearen morroia
Comment[fa]=CD/DVD ﻮﯾﺍﺭﺩ ﺮﮔﻭﺩﺎﺟ
Comment[fi]=CD/DVD-aseman ohjattu toiminto
Comment[fj]=Wizard ni draiva ni CD/DVD
Comment[fo]=CD/DVD koyra Wizard
Comment[fy]=CD/DVD drive Wizard
Comment[ga]=Treoraí tiomántán CD/DVD
Comment[gd]=Draoidh CD/DVD
Comment[gl]=Asistente para unidades de CD/DVD
Comment[gn]=CD/DVD ryru Asistente
Comment[gu]=સીડી/ડીવીડી ડ્રાઇવ વિઝાર્ડ
Comment[ha]=CD/DVD Driver Wizard
Comment[he]=CD/DVD ןנוכ ףשא
Comment[hi]=सीडी/डीवीडी ड्राइव विज़ार्ड
Comment[hr]=Čarobnjak za CD/DVD pogon
Comment[ht]=CD/DVD kondwi Sòsye
Comment[hu]=CD/DVD-meghajtó varázsló
Comment[hy]=CD/DVD drive Wizard
Comment[id]=Panduan drive CD/DVD
Comment[ig]=Ọkachamara mbanye CD/DVD
Comment[is]=Wizard CD/DVD drif
Comment[it]=Procedura guidata unità CD/DVD
Comment[iu]=ᕿᓪᓕᖅᑐᖅ/ᕿᓪᓕᖅᑐᖅ ᐊᖁᑦᑕᕐᕕᒃ
Comment[ja]=CD/DVD ドライブ ウィザード
Comment[jv]=Wisaya drive CD/DVD
Comment[ka]=CD/DVD დისკის ოსტატი
Comment[kk]=CD/DVD дискінің шебері
Comment[km]=អ្នកជំនួយការដ្រាយស៊ីឌី / ឌីវីឌី
Comment[kn]=CD/DVD ಡ್ರೈವ್ ವಿಝಾರ್ಡ್
Comment[ko]=CD/DVD 드라이브 마법사
Comment[ku]=CD/DVD drive Wizard
Comment[ky]=CD/DVD диск устасы
Comment[la]=CD/DVD coegi Veneficus
Comment[lb]=CD/DVD Drive Wizard
Comment[lg]=Omugezi wa CD/DVD drive
Comment[ln]=Assistant ya lecteur CD/DVD
Comment[lo]=CD/DVD Drive Wizard
Comment[lt]=CD / DVD įrenginio vedlys
Comment[lv]=CD/DVD diskdziņa vednis
Comment[mg]=CD/DVD drive Wizard
Comment[mi]=Ruānuku puku CD/DVD
Comment[mk]=Волшебник за погон за ЦД/ДВД
Comment[ml]=സിഡി/ഡിവിഡി ഡ്രൈവ് വിസാർഡ്
Comment[mn]=CD/DVD хөтчийн шидтэн
Comment[mr]=सीडी/डीव्हीडी ड्राइव्ह विझार्ड
Comment[ms]=Wizard pemacu CD/DVD
Comment[mt]=Wizard tas-CD/DVD drive
Comment[my]=CD/DVD Drive Wizard
Comment[ne]=CD/DVD ड्राइव विजार्ड
Comment[nl]=Wizard cd/dvd-station
Comment[no]=Veiviser for CD/DVD-stasjon
Comment[ny]=CD/DVD drive Wizard
Comment[om]=Gargaaraa CD/DVD drive
Comment[or]=CD / DVD ଡ୍ରାଇଭ୍ ୱିଜାର୍ଡ |
Comment[pa]=CD/DVD ਡਰਾਈਵ ਸਹਾਇਕ
Comment[pl]=Kreator napędu CD/DVD
Comment[ps]=ډﺭﺯﻭ ﻮﯾﺍﺭډ CD/DVD ﺩ
Comment[pt]=Assistente de unidade de CD/DVD
Comment[qu]=CD/DVD unidad Asistente
Comment[ro]=Expert unitate CD/DVD
Comment[rw]=Ububiko bwa CD / DVD
Comment[sa]=CD/DVD ड्राइव विजार्ड
Comment[sd]=ﺭﺎﮔﺩﺪﻣ ﻮﻴﺋﺍﺭڊ ﻱڊ ﻱﻭ ﻱڊ / ﻱڊ ﻲﺳ
Comment[si]=CD/DVD Drive Wizard
Comment[sk]=Sprievodca CD/DVD mechanikou
Comment[sl]=Čarovnik za pogon CD/DVD
Comment[sm]=Wizard ta'avale CD/DVD
Comment[sn]=CD/DVD drive Wizard
Comment[so]=Wizard Drive-ka CD/DVD
Comment[sq]=Wizard i diskut CD/DVD
Comment[st]=CD/DVD drive Wizard
Comment[su]=CD / DVD drive Wizard
Comment[sv]=CD/DVD-enhetsguide
Comment[sw]=Mchawi wa kiendeshi cha CD/DVD
Comment[ta]=சிடி/டிவிடி டிரைவ் வழிகாட்டி
Comment[te]=CD/DVD డ్రైవ్ విజార్డ్
Comment[tg]=Ёвари диски CD/DVD
Comment[th]=ตัวช่วยสร้างไดรฟ์ซีดี / ดีวีดี
Comment[ti]=ሲዲ/ዲቪዲ ድራይቭ ዊዛርድ
Comment[tk]=CD / DVD sürüjisi
Comment[tl]=CD/DVD drive Wizard
Comment[to]=CD/DVD drive Wizard
Comment[ts]=Xitirhisiwa xa CD/DVD drive
Comment[tt]=CD / DVD диск остасы
Comment[tw]=CD/DVD draibɛ Wizard
Comment[ty]=CD/DVD drive Wizard
Comment[ug]=CD / DVD ﭺﯘﻘﺗﺎﻏﺯﻮﻗ
Comment[uk]=Майстер приводу CD/DVD
Comment[ur]=CD/DVD ﮈﺭﺯﻭ ﻮﯿﺋﺍﺭﮈ
Comment[uz]=CD/DVD haydovchi ustasi
Comment[vi]=Trình hướng dẫn ổ đĩa CD/DVD
Comment[xh]=CD/DVD drive Wizard
Comment[yi]=דרעזיוו ראָפ ידיוויד / קסידטקאַפּמאָק
Comment[yo]=CD/DVD wakọ oso
Comment[zh]=CD/DVD 驱动器向导
Comment[zu]=Iseluleki se-CD/DVD drive
Comment=CD/DVD drive Wizard
Exec=cdburner-wizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=CD/DVD drive Wizard
