[Desktop Entry]
Encoding=UTF-8
Exec=cups_shell
GenericName=
Icon=tb_print.xpm
MimeType=
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Name[fr]=Gestion des imprimantes : CUPS
Name[bg]=CUPS управляват печата
Name[de]=CUPS verwalten das Drucken
Name[es]=CUPS: gestor de impresoras
Name[ru]=CUPS управляет печатью
Name[tr]=CUPS Yazıcı Yönetimi
Name[af]=CUPS bestuur drukwerk
Name[am]=CUPS ማተምን ያስተዳድራል።
Name[ar]=ﺔﻋﺎﺒﻄﻟﺍ ﺓﺭﺍﺩﺈﺑ CUPS ﻡﻮﻘﺗ
Name[as]=CUPS এ প্ৰিন্টিং পৰিচালনা কৰে
Name[ay]=CUPS ukax imprenta apnaqañapawa
Name[az]=CUPS çapı idarə edir
Name[ba]=КУБОКтар баҫма менән идара итә
Name[be]=CUPS кіруе друкам
Name[bm]=CUPS bɛ sɛbɛnniko ɲɛnabɔ
Name[bn]=CUPS প্রিন্টিং পরিচালনা করে
Name[bo]=CUPཡིས་པར་སྐྲུན་དོ་དམ་བྱེད་པ།
Name[bs]=CUPS upravlja štampanjem
Name[ca]=CUPS gestiona la impressió
Name[co]=CUPS gestisce a stampa
Name[cs]=CUPS řídí tisk
Name[cy]=Mae CUPS yn rheoli argraffu
Name[da]=CUPS styrer udskrivning
Name[dv]=ވެއެރެކު ޖްނޭމެ ންޓިންރިޕް ންއި ސްއެޕީޔޫސީ
Name[ee]=CUPS kpɔa agbalẽtata dzi
Name[el]=Τα CUPS διαχειρίζονται την εκτύπωση
Name[eo]=TASoj administras presadon
Name[et]=CUPS haldab printimist
Name[eu]=CUPS-ek inprimaketa kudeatzen du
Name[fa]=CUPS ﺪﻨﮐ ﯽﻣ ﺖﯾﺮﯾﺪﻣ ﺍﺭ ﭖﺎﭼ
Name[fi]=CUPS hallitsee tulostusta
Name[fj]=Qarava na tabaki ni CUPS
Name[fo]=CUPS manage printing
Name[fy]=CUPS beheare printsjen
Name[ga]=Bainistíonn CUPS priontáil
Name[gd]=Bidh CUPS a’ riaghladh clò-bhualadh
Name[gl]=CUPS xestiona a impresión
Name[gn]=CUPS omaneha impresión
Name[gu]=CUPS પ્રિન્ટીંગનું સંચાલન કરે છે
Name[ha]=CUPS suna sarrafa bugu
Name[he]=CUPS הספדה להנמ
Name[hi]=सीयूपीएस मुद्रण का प्रबंधन करता है
Name[hr]=CUPS upravlja ispisom
Name[ht]=TAS jere enprime
Name[hu]=A CUPS kezeli a nyomtatást
Name[hy]=CUPS-ը կառավարում է տպագրությունը
Name[id]=CUPS mengelola pencetakan
Name[ig]=CUPS jikwaa mbipụta
Name[is]=CUPS stjórnar prentun
Name[it]=CUPS gestisce la stampa
Name[iu]=CUPS ᐊᐅᓚᑦᑎᔪᑦ ᐅᓄᖅᑐᓕᐅᕈᑎᓂᒃ
Name[ja]=CUPS による印刷の管理
Name[jv]=CUPS ngatur printing
Name[ka]=CUPS მართავს ბეჭდვას
Name[kk]=CUPS басып шығаруды басқарады
Name[km]=CUPS គ្រប់គ្រងការបោះពុម្ព
Name[kn]=CUPS ಮುದ್ರಣವನ್ನು ನಿರ್ವಹಿಸುತ್ತದೆ
Name[ko]=CUPS 인쇄 관리
Name[ku]=CUPS çapkirinê birêve dibe
Name[ky]=CUPS басып чыгарууну башкарат
Name[la]=CUPS administrare excudendi
Name[lb]=CUPS verwalten Dréckerei
Name[lg]=CUPS ziddukanya okukuba ebitabo
Name[ln]=CUPS e gérer imprimerie
Name[lo]=CUPS ຈັດການການພິມ
Name[lt]=CUPS valdo spausdinimą
Name[lv]=CUPS pārvalda drukāšanu
Name[mg]=CUPS mitantana ny fanontana
Name[mi]=CUPS whakahaere tā
Name[mk]=CUPS управува со печатење
Name[ml]=CUPS പ്രിന്റിംഗ് നിയന്ത്രിക്കുന്നു
Name[mn]=CUPS нь хэвлэлтийг удирддаг
Name[mr]=CUPS मुद्रण व्यवस्थापित करते
Name[ms]=CUPS menguruskan percetakan
Name[mt]=CUPS jimmaniġġjaw l-istampar
Name[my]=CUPS သည် ပုံနှိပ်ခြင်းကို စီမံသည်။
Name[ne]=CUPS प्रिन्टिङ प्रबन्ध गर्नुहोस्
Name[nl]=CUPS beheert het printen
Name[no]=CUPS administrerer utskrift
Name[ny]=CUPS imayendetsa kusindikiza
Name[om]=CUPS maxxansaa bulcha
Name[or]=CUPS ମୁଦ୍ରଣ ପରିଚାଳନା କରେ |
Name[pa]=CUPS ਪ੍ਰਿੰਟਿੰਗ ਦਾ ਪ੍ਰਬੰਧਨ ਕਰਦਾ ਹੈ
Name[pl]=CUPS zarządza drukowaniem
Name[ps]=CUPS ﻱﻮﮐ ﻩﺭﺍﺩﺍ ﭖﺎﭼ ﺩ
Name[pt]=CUPS gerenciar impressão
Name[qu]=CUPS nisqakunaqa imprenta nisqatam kamachinku
Name[ro]=CUPS gestionează imprimarea
Name[rw]=CUPS icunga icapiro
Name[sa]=CUPS मुद्रणं प्रबन्धयन्ति
Name[sd]=CUPS ﻮﻳﺮڪ ﻡﺎﻈﺘﻧﺍ ﻮﺟ ﻲﺋﺎﭙﮀ
Name[si]=CUPS මුද්u200dරණය කළමනාකරණය කරයි
Name[sk]=CUPS riadi tlač
Name[sl]=CUPS upravlja tiskanje
Name[sm]=CUPS pulea lomitusi
Name[sn]=CUPS inokwanisa kudhinda
Name[so]=CUPS waxay maamulaan daabacaadda
Name[sq]=CUPS menaxhon printimin
Name[st]=CUPS e laola khatiso
Name[su]=CUPS ngatur percetakan
Name[sv]=CUPS hanterar utskrifter
Name[sw]=CUPS inasimamia uchapishaji
Name[ta]=CUPS அச்சிடலை நிர்வகிக்கிறது
Name[te]=CUPS ప్రింటింగ్u200cని నిర్వహిస్తుంది
Name[tg]=CUPS чопро идора мекунад
Name[th]=CUPS จัดการพิมพ์
Name[ti]=CUPS ንሕትመት የመሓድር
Name[tk]=CUPS çap etmegi dolandyrýar
Name[tl]=Pinamamahalaan ng CUPS ang pag-print
Name[to]=ʻOku tokangaʻi ʻe he ngaahi IPU ʻa e
Name[ts]=CUPS yi lawula ku kandziyisa
Name[tt]=CUPS басма белән идарә итә
Name[tw]=CUPS na ɛhwɛ nhoma tintim so
Name[ty]=TE MAU PARAU APÎ O TE EKALESIA
Name[ug]=CUPS ﯗﺪﯨﺭﯘﻘﺷﺎﺑ ﻰﻨﺸﯩﺴﯧﺑ
Name[uk]=CUPS керує друком
Name[ur]=CUPS ۔ﮯﮨ ﺎﺗﺮﮐ ﻡﺎﻈﺘﻧﺍ ﺎﮐ ﮓﻨﭩﻧﺮﭘ
Name[uz]=CUPS bosib chiqarishni boshqaradi
Name[vi]=CUPS quản lý in ấn
Name[xh]=CUPS ilawula ushicilelo
Name[yi]=ןקורד ןריפ ספּוק
Name[yo]=CUPS ṣakoso titẹ sita
Name[zh]=CUPS 管理打印
Name[zu]=I-CUPS iphatha ukuphrinta
Name=CUPS manage printing
Comment[fr]=Interface Web CUPS
Comment[bg]=CUPS уеб интерфейс
Comment[de]=CUPS-Weboberfläche
Comment[es]=CUPS: gestor de impresoras
Comment[ru]=Веб-интерфейс CUPS
Comment[tr]=CUPS Web Arayüzü
Comment[af]=CUPS-webkoppelvlak
Comment[am]=CUPS የድር በይነገጽ
Comment[ar]=CUPS ﺐﻳﻭ ﺔﻬﺟﺍﻭ
Comment[as]=CUPS ৱেব আন্তঃপৃষ্ঠ
Comment[ay]=CUPS ukax Interfaz Web ukan uñt’ayatawa
Comment[az]=CUPS veb interfeysi
Comment[ba]=CUPS Web Interface
Comment[be]=Вэб-інтэрфейс CUPS
Comment[bm]=CUPS ka Ɛntɛrinɛti kan
Comment[bn]=CUPS ওয়েব ইন্টারফেস
Comment[bo]=CUPSདྲ་རྒྱའི་འབྲེལ་མཐུད།
Comment[bs]=CUPS web interfejs
Comment[ca]=Interfície web CUPS
Comment[co]=Interfaccia Web CUPS
Comment[cs]=Webové rozhraní CUPS
Comment[cy]=Rhyngwyneb Gwe CUPS
Comment[da]=CUPS webgrænseflade
Comment[dv]=ވެއެ ސްފޭޓަންއި ބްވެ ސްއެޕީޔޫސީ
Comment[ee]=CUPS ƒe Nyatakakadzraɖoƒe ƒe Dɔwɔƒe
Comment[el]=CUPS Web Interface
Comment[eo]=CUPS Reteja Interfaco
Comment[et]=CUPSi veebiliides
Comment[eu]=CUPS Web Interfazea
Comment[fa]=CUPS ﺏﻭ ﻂﺑﺍﺭ
Comment[fi]=CUPS-verkkoliittymä
Comment[fj]=Veiyaya ni Mataveilawa ni CUPS
Comment[fo]=CUPS Web Interface
Comment[fy]=CUPS Web Ynterface
Comment[ga]=Comhéadan Gréasáin CUPS
Comment[gd]=Eadar-aghaidh lìn CUPS
Comment[gl]=Interface web CUPS
Comment[gn]=CUPS Ñe’ẽmondo Web rehegua
Comment[gu]=CUPS વેબ ઈન્ટરફેસ
Comment[ha]=Interface Yanar Gizo na CUPS
Comment[he]=CUPS לש טנרטניא קשממ
Comment[hi]=सीयूपीएस वेब इंटरफ़ेस
Comment[hr]=CUPS web sučelje
Comment[ht]=Entèfas Web CUPS
Comment[hu]=CUPS webes felület
Comment[hy]=CUPS վեբ ինտերֆեյս
Comment[id]=Antarmuka Web CUPS
Comment[ig]=CUPS Web Interface
Comment[is]=CUPS vefviðmót
Comment[it]=Interfaccia Web CUPS
Comment[iu]=CUPS ᐃᑭᐊᖅᑭᕕᐅᑉ ᓴᖅᑭᔮᕐᓂᖓ
Comment[ja]=CUPS Web インターフェイス
Comment[jv]=Antarmuka Web CUPS
Comment[ka]=CUPS ვებ ინტერფეისი
Comment[kk]=CUPS веб-интерфейсі
Comment[km]=ចំណុចប្រទាក់បណ្ដាញ CUPS
Comment[kn]=CUPS ವೆಬ್ ಇಂಟರ್ಫೇಸ್
Comment[ko]=CUPS 웹 인터페이스
Comment[ku]=CUPS Web Interface
Comment[ky]=CUPS веб интерфейси
Comment[la]=CUPS Web Interface
Comment[lb]=CUPS Web Interface
Comment[lg]=Enkolagana ya CUPS Web Interface
Comment[ln]=Interface Web ya CUPS
Comment[lo]=CUPS Web Interface
Comment[lt]=CUPS žiniatinklio sąsaja
Comment[lv]=CUPS tīmekļa saskarne
Comment[mg]=CUPS Web Interface
Comment[mi]=Atanga Tukutuku CUPS
Comment[mk]=Веб интерфејс CUPS
Comment[ml]=CUPS വെബ് ഇന്റർഫേസ്
Comment[mn]=CUPS вэб интерфэйс
Comment[mr]=CUPS वेब इंटरफेस
Comment[ms]=Antara Muka Web CUPS
Comment[mt]=CUPS Web Interface
Comment[my]=CUPS ဝဘ်အင်တာဖေ့စ်
Comment[ne]=CUPS वेब इन्टरफेस
Comment[nl]=CUPS-webinterface
Comment[no]=CUPS webgrensesnitt
Comment[ny]=CUPS Web Interface
Comment[om]=Walqunnamtii Weebii CUPS
Comment[or]=CUPS ୱେବ୍ ଇଣ୍ଟରଫେସ୍ |
Comment[pa]=CUPS ਵੈੱਬ ਇੰਟਰਫੇਸ
Comment[pl]=Interfejs sieciowy CUPS
Comment[ps]=ﺲﯿﻓﺮﭩﻧﺍ ﺐﯾﻭ CUPS ﺩ
Comment[pt]=CUPS Web Interface
Comment[qu]=CUPS Web Interfaz nisqa
Comment[ro]=Interfață web CUPS
Comment[rw]=CUPS Urubuga Imigaragarire
Comment[sa]=CUPS Web Interface इति
Comment[sd]=CUPS ﺲﻴﻓﺮٽﻧﺍ ﺐﻳﻭ
Comment[si]=CUPS වෙබ් අතුරු මුහුණත
Comment[sk]=Webové rozhranie CUPS
Comment[sl]=Spletni vmesnik CUPS
Comment[sm]=CUPS Web Interface
Comment[sn]=CUPS Web Interface
Comment[so]=Interface Web CUPS
Comment[sq]=Ndërfaqja në internet CUPS
Comment[st]=CUPS Web Interface
Comment[su]=CUPS Web Interface
Comment[sv]=CUPS webbgränssnitt
Comment[sw]=Kiolesura cha Wavuti cha CUPS
Comment[ta]=CUPS இணைய இடைமுகம்
Comment[te]=CUPS వెబ్ ఇంటర్u200cఫేస్
Comment[tg]=Интерфейси веби CUPS
Comment[th]=เว็บอินเตอร์เฟส CUPS
Comment[ti]=CUPS ዌብ ኢንተርፌስ
Comment[tk]=CUPS web interfeýsi
Comment[tl]=CUPS Web Interface
Comment[to]=Web Interface ʻo e ngaahi IPU
Comment[ts]=Xihlanganisi xa Webu xa CUPS
Comment[tt]=CUPS веб интерфейсы
Comment[tw]=CUPS Wɛbsaet Nkitahodi
Comment[ty]=CUPS Web Interface
Comment[ug]=CUPS ﻯﺯﯜﻳ ﺭﻮﺗ
Comment[uk]=Веб-інтерфейс CUPS
Comment[ur]=CUPS ﺲﯿﻓﺮﭩﻧﺍ ﺐﯾﻭ
Comment[uz]=CUPS veb-interfeysi
Comment[vi]=Giao diện web CUPS
Comment[xh]=CUPS Web Interface
Comment[yi]=CUPS דניבוצ בעוו
Comment[yo]=CUPS Web Interface
Comment[zh]=CUPS 网页界面
Comment[zu]=CUPS Web Interface
Comment=CUPS Web Interface
Categories=X-System-print
