[Desktop Entry]
Encoding=UTF-8
Name[fr]=Installation facile : Easy OS Installer
Name[bg]=Лесен инсталатор на ОС
Name[de]=Installationsprogramm für einfaches Betriebssystem
Name[es]=Easy OS Installer: instalador de EasyOS
Name[ru]=Легкий установщик ОC
Name[af]=Maklike OS-installeerder
Name[am]=ቀላል ስርዓተ ክወና ጫኝ
Name[ar]=ﻞﻬﺴﻟﺍ ﻞﻴﻐﺸﺘﻟﺍ ﻡﺎﻈﻧ ﺖﺒﺜﻣ
Name[as]=সহজ অপাৰেটিং ছিষ্টেম ইনষ্টলাৰ
Name[ay]=Jasakiw OS Instalador ukax utji
Name[az]=Asan OS quraşdırıcısı
Name[ba]=Easy OS Монтажлаусы
Name[be]=Лёгкі ўсталёўшчык АС
Name[bm]=OS Installer nɔgɔman
Name[bn]=সহজ ওএস ইনস্টলার
Name[bo]=སྟབས་བདེའི་ཡོ་རོབ་དང་ཡོ་རོབ་ཀྱི་
Name[bs]=Jednostavan OS Installer
Name[ca]=Instal·lador de sistema operatiu fàcil
Name[co]=Easy OS Installer
Name[cs]=Snadná instalace OS
Name[cy]=Gosodwr OS Hawdd
Name[da]=Nem OS Installer
Name[dv]=އްރެލަޓޯސްންއި ސްއެއޮ ހަސޭފަ
Name[ee]=OS Installer si le bɔbɔe
Name[el]=Easy OS Installer
Name[eo]=Facila OS Instalilo
Name[et]=Lihtne OS-i installija
Name[eu]=OS instalatzaile erraza
Name[fa]=Easy OS Installer
Name[fi]=Helppo käyttöjärjestelmän asennus
Name[fj]=Dauvakacurumi Rawarawa ni OS
Name[fo]=Easy OS Installer
Name[fy]=Maklike OS-ynstallearder
Name[ga]=Suiteálaí OS Éasca
Name[gd]=Stàlaichear OS furasta
Name[gl]=Easy OS Installer
Name[gn]=Instalador SO ndahasýiva
Name[gu]=સરળ OS ઇન્સ્ટોલર
Name[ha]=Mai Sauƙi OS
Name[he]=לק הלעפה תכרעמ ןיקתמ
Name[hi]=आसान ओएस इंस्टालर
Name[hr]=Jednostavna instalacija OS-a
Name[ht]=Enstalatè OS fasil
Name[hu]=Egyszerű operációs rendszer telepítő
Name[hy]=Հեշտ OS տեղադրող
Name[id]=Penginstal OS Mudah
Name[ig]=Ihe nwụnye OS dị mfe
Name[is]=Auðvelt OS uppsetningarforrit
Name[it]=Facile programma di installazione del sistema operativo
Name[iu]=ᐱᔭᕆᐊᑭᑦᑐᑦ OS-ᒧᑦ ᐃᓕᓯᔨ
Name[ja]=簡単なOSインストーラー
Name[jv]=Instal OS Gampang
Name[ka]=მარტივი OS ინსტალერი
Name[kk]=Оңай ОЖ орнатушысы
Name[km]=កម្មវិធីដំឡើងប្រព័ន្ធប្រតិបត្តិការងាយស្រួល
Name[kn]=ಸುಲಭ OS ಅನುಸ್ಥಾಪಕ
Name[ko]=쉬운 OS 설치 프로그램
Name[ku]=Sazkerê OS-ê hêsan
Name[ky]=Easy OS орнотуучусу
Name[la]=Securus OS Installer
Name[lb]=Einfach OS Installer
Name[lg]=Easy OS Installer
Name[ln]=Installateur ya OS ya pete
Name[lo]=ຕິດຕັ້ງ OS ງ່າຍ
Name[lt]=Lengva OS diegimo programa
Name[lv]=Vienkāršs OS instalētājs
Name[mg]=Easy OS Installer
Name[mi]=Kaiwhakarato OS ngawari
Name[mk]=Лесен оперативен систем за инсталирање
Name[ml]=എളുപ്പമുള്ള OS ഇൻസ്റ്റാളർ
Name[mn]=Хялбар үйлдлийн систем суулгагч
Name[mr]=सोपे OS इंस्टॉलर
Name[ms]=Pemasang OS Mudah
Name[mt]=Installatur OS faċli
Name[my]=လွယ်ကူသော OS Installer
Name[ne]=सजिलो OS स्थापनाकर्ता
Name[nl]=Eenvoudig OS-installatieprogramma
Name[no]=Enkel OS Installer
Name[ny]=Easy OS Installer
Name[om]=OS Installer salphaa tae
Name[or]=ସହଜ OS ସଂସ୍ଥାପକ |
Name[pa]=ਆਸਾਨ OS ਇੰਸਟਾਲਰ
Name[pl]=Łatwy instalator systemu operacyjnego
Name[ps]=ﺮﻟﺎټﺴﻧﺍ OS ﻪﻧﺎﺳﺍ
Name[pt]=Instalador fácil do sistema operacional
Name[qu]=Facil OS Instalador nisqa
Name[ro]=Instalator ușor de sistem de operare
Name[rw]=Gushyira OS byoroshye
Name[sa]=सुलभः ओएस संस्थापकः
Name[sd]=ﺮﻟﺎٽﺴﻧﺍ ﺲﻳﺍ ﻭﺍ ﻥﺎﺳﺁ
Name[si]=පහසු OS ස්ථාපකය
Name[sk]=Jednoduchý inštalátor OS
Name[sl]=Enostaven namestitveni program OS
Name[sm]=Faigofie OS faapipii
Name[sn]=Easy OS Installer
Name[so]=Soo dejiyaha OS fudud
Name[sq]=Instalues i lehtë i OS
Name[st]=Easy OS Installer
Name[su]=Gampang OS Installer
Name[sv]=Enkel OS Installer
Name[sw]=Kisakinishi rahisi cha OS
Name[ta]=எளிதான OS நிறுவி
Name[te]=సులభమైన OS ఇన్u200cస్టాలర్
Name[tg]=Насбкунандаи осони OS
Name[th]=ตัวติดตั้งระบบปฏิบัติการอย่างง่าย
Name[ti]=ቀሊል ኦኤስ ኢንስታለር
Name[tk]=Aňsat OS gurnaýjy
Name[tl]=Madaling OS Installer
Name[to]=Tokotaha fola kapeti faingofua
Name[tr]=Kolay İşletim Sistemi Yükleyici
Name[ts]=Xitirhisiwa xo olova xa OS
Name[tt]=OSиңел OS урнаштыручы
Name[tw]=OS Installer a ɛnyɛ den
Name[ty]=Te mau manao tauturu no te haapiiraa
Name[ug]=ﭺﯘﻐﯩﻠﯩﭼﺎﻗ OS ﻥﺎﺳﺎﺋ
Name[uk]=Простий інсталятор ОС
Name[ur]=ﺮﻟﺎﭩﺴﻧﺍ OS ﻥﺎﺳﺁ
Name[uz]=Oson OS ornatuvchi
Name[vi]=Trình cài đặt hệ điều hành dễ dàng
Name[xh]=Easy OS Installer
Name[yi]=רעללאַטסני סאַ גנירג
Name[yo]=Easy OS insitola
Name[zh]=简易操作系统安装程序
Name[zu]=Easy OS Installer
Name=Easy OS Installer
Icon=mini-ray.xpm
Comment[fr]=Installation facile du système d'exploitation
Comment[bg]=Лесен инсталатор на ОС
Comment[de]=Installationsprogramm für einfaches Betriebssystem
Comment[es]=Easy OS Installer: instalador de EasyOS
Comment[ru]=Легкий установщик ОC
Comment[af]=Maklike OS-installeerder
Comment[am]=ቀላል ስርዓተ ክወና ጫኝ
Comment[ar]=ﻞﻬﺴﻟﺍ ﻞﻴﻐﺸﺘﻟﺍ ﻡﺎﻈﻧ ﺖﺒﺜﻣ
Comment[as]=সহজ অপাৰেটিং ছিষ্টেম ইনষ্টলাৰ
Comment[ay]=Jasakiw OS Instalador ukax utji
Comment[az]=Asan OS quraşdırıcısı
Comment[ba]=Easy OS Монтажлаусы
Comment[be]=Лёгкі ўсталёўшчык АС
Comment[bm]=OS Installer nɔgɔman
Comment[bn]=সহজ ওএস ইনস্টলার
Comment[bo]=སྟབས་བདེའི་ཡོ་རོབ་དང་ཡོ་རོབ་ཀྱི་
Comment[bs]=Jednostavan OS Installer
Comment[ca]=Instal·lador de sistema operatiu fàcil
Comment[co]=Easy OS Installer
Comment[cs]=Snadná instalace OS
Comment[cy]=Gosodwr OS Hawdd
Comment[da]=Nem OS Installer
Comment[dv]=އްރެލަޓޯސްންއި ސްއެއޮ ހަސޭފަ
Comment[ee]=OS Installer si le bɔbɔe
Comment[el]=Easy OS Installer
Comment[eo]=Facila OS Instalilo
Comment[et]=Lihtne OS-i installija
Comment[eu]=OS instalatzaile erraza
Comment[fa]=Easy OS Installer
Comment[fi]=Helppo käyttöjärjestelmän asennus
Comment[fj]=Dauvakacurumi Rawarawa ni OS
Comment[fo]=Easy OS Installer
Comment[fy]=Maklike OS-ynstallearder
Comment[ga]=Suiteálaí OS Éasca
Comment[gd]=Stàlaichear OS furasta
Comment[gl]=Easy OS Installer
Comment[gn]=Instalador SO ndahasýiva
Comment[gu]=સરળ OS ઇન્સ્ટોલર
Comment[ha]=Mai Sauƙi OS
Comment[he]=לק הלעפה תכרעמ ןיקתמ
Comment[hi]=आसान ओएस इंस्टालर
Comment[hr]=Jednostavna instalacija OS-a
Comment[ht]=Enstalatè OS fasil
Comment[hu]=Egyszerű operációs rendszer telepítő
Comment[hy]=Հեշտ OS տեղադրող
Comment[id]=Penginstal OS Mudah
Comment[ig]=Ihe nwụnye OS dị mfe
Comment[is]=Auðvelt OS uppsetningarforrit
Comment[it]=Facile programma di installazione del sistema operativo
Comment[iu]=ᐱᔭᕆᐊᑭᑦᑐᑦ OS-ᒧᑦ ᐃᓕᓯᔨ
Comment[ja]=簡単なOSインストーラー
Comment[jv]=Instal OS Gampang
Comment[ka]=მარტივი OS ინსტალერი
Comment[kk]=Оңай ОЖ орнатушысы
Comment[km]=កម្មវិធីដំឡើងប្រព័ន្ធប្រតិបត្តិការងាយស្រួល
Comment[kn]=ಸುಲಭ OS ಅನುಸ್ಥಾಪಕ
Comment[ko]=쉬운 OS 설치 프로그램
Comment[ku]=Sazkerê OS-ê hêsan
Comment[ky]=Easy OS орнотуучусу
Comment[la]=Securus OS Installer
Comment[lb]=Einfach OS Installer
Comment[lg]=Easy OS Installer
Comment[ln]=Installateur ya OS ya pete
Comment[lo]=ຕິດຕັ້ງ OS ງ່າຍ
Comment[lt]=Lengva OS diegimo programa
Comment[lv]=Vienkāršs OS instalētājs
Comment[mg]=Easy OS Installer
Comment[mi]=Kaiwhakarato OS ngawari
Comment[mk]=Лесен оперативен систем за инсталирање
Comment[ml]=എളുപ്പമുള്ള OS ഇൻസ്റ്റാളർ
Comment[mn]=Хялбар үйлдлийн систем суулгагч
Comment[mr]=सोपे OS इंस्टॉलर
Comment[ms]=Pemasang OS Mudah
Comment[mt]=Installatur OS faċli
Comment[my]=လွယ်ကူသော OS Installer
Comment[ne]=सजिलो OS स्थापनाकर्ता
Comment[nl]=Eenvoudig OS-installatieprogramma
Comment[no]=Enkel OS Installer
Comment[ny]=Easy OS Installer
Comment[om]=OS Installer salphaa tae
Comment[or]=ସହଜ OS ସଂସ୍ଥାପକ |
Comment[pa]=ਆਸਾਨ OS ਇੰਸਟਾਲਰ
Comment[pl]=Łatwy instalator systemu operacyjnego
Comment[ps]=ﺮﻟﺎټﺴﻧﺍ OS ﻪﻧﺎﺳﺍ
Comment[pt]=Instalador fácil do sistema operacional
Comment[qu]=Facil OS Instalador nisqa
Comment[ro]=Instalator ușor de sistem de operare
Comment[rw]=Gushyira OS byoroshye
Comment[sa]=सुलभः ओएस संस्थापकः
Comment[sd]=ﺮﻟﺎٽﺴﻧﺍ ﺲﻳﺍ ﻭﺍ ﻥﺎﺳﺁ
Comment[si]=පහසු OS ස්ථාපකය
Comment[sk]=Jednoduchý inštalátor OS
Comment[sl]=Enostaven namestitveni program OS
Comment[sm]=Faigofie OS faapipii
Comment[sn]=Easy OS Installer
Comment[so]=Soo dejiyaha OS fudud
Comment[sq]=Instalues i lehtë i OS
Comment[st]=Easy OS Installer
Comment[su]=Gampang OS Installer
Comment[sv]=Enkel OS Installer
Comment[sw]=Kisakinishi rahisi cha OS
Comment[ta]=எளிதான OS நிறுவி
Comment[te]=సులభమైన OS ఇన్u200cస్టాలర్
Comment[tg]=Насбкунандаи осони OS
Comment[th]=ตัวติดตั้งระบบปฏิบัติการอย่างง่าย
Comment[ti]=ቀሊል ኦኤስ ኢንስታለር
Comment[tk]=Aňsat OS gurnaýjy
Comment[tl]=Madaling OS Installer
Comment[to]=Tokotaha fola kapeti faingofua
Comment[tr]=Kolay İşletim Sistemi Yükleyici
Comment[ts]=Xitirhisiwa xo olova xa OS
Comment[tt]=OSиңел OS урнаштыручы
Comment[tw]=OS Installer a ɛnyɛ den
Comment[ty]=Te mau manao tauturu no te haapiiraa
Comment[ug]=ﭺﯘﻐﯩﻠﯩﭼﺎﻗ OS ﻥﺎﺳﺎﺋ
Comment[uk]=Простий інсталятор ОС
Comment[ur]=ﺮﻟﺎﭩﺴﻧﺍ OS ﻥﺎﺳﺁ
Comment[uz]=Oson OS ornatuvchi
Comment[vi]=Trình cài đặt hệ điều hành dễ dàng
Comment[xh]=Easy OS Installer
Comment[yi]=רעללאַטסני סאַ גנירג
Comment[yo]=Easy OS insitola
Comment[zh]=简易操作系统安装程序
Comment[zu]=Easy OS Installer
Comment=Easy OS Installer
Exec=easy-installer
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Easy Installer
