[Desktop Entry]
Encoding=UTF-8
Name[fr]=Bureau EasyOS dans un conteneur
Name[bg]=EasyOS десктоп в контейнер
Name[de]=EasyOS Desktop im Container
Name[es]=Escritorio EasyOS en un contenedor
Name[ru]=Рабочий стол EasyOS в контейнере
Name[af]=EasyOS-lessenaar in houer
Name[am]=EasyOS ዴስክቶፕ በመያዣ ውስጥ
Name[ar]=ﺔﻳﻭﺎﺣ ﻲﻓ EasyOS ﺐﺘﻜﻣ ﺢﻄﺳ
Name[as]=পাত্ৰত EasyOS ডেস্কটপ
Name[ay]=EasyOS escritorio ukax contenedor ukankiwa
Name[az]=Konteynerdə EasyOS masa üstü
Name[ba]=Контейнерҙа EasyOS эш өҫтәле
Name[be]=Працоўны стол EasyOS у кантэйнеры
Name[bm]=EasyOS tabali min bɛ minɛn kɔnɔ
Name[bn]=পাত্রে EasyOS ডেস্কটপ
Name[bo]=སྣོད་ཆས་ནང་གི་EasyOS desktop
Name[bs]=EasyOS desktop u kontejneru
Name[ca]=Escriptori EasyOS al contenidor
Name[co]=Desktop EasyOS in cuntainer
Name[cs]=Pracovní plocha EasyOS v kontejneru
Name[cy]=Bwrdd gwaith EasyOS mewn cynhwysydd
Name[da]=EasyOS desktop i container
Name[dv]=ޕްޓޮކްސްޑެ ސްއެއޯޒީއީ އިގަރުނައިޓެންކޮ
Name[ee]=EasyOS kplɔ̃dzivɔ le nugoe me
Name[el]=Επιτραπέζιος υπολογιστής EasyOS σε κοντέινερ
Name[eo]=EasyOS labortablo en ujo
Name[et]=EasyOS-i töölaud konteineris
Name[eu]=EasyOS mahaigaina edukiontzian
Name[fa]=ﻑﺮﻇ ﺭﺩ EasyOS ﭖﺎﺘﮑﺳﺩ
Name[fi]=EasyOS-työpöytä säilössä
Name[fj]=Delanidesi ni EasyOS ena koniteina
Name[fo]=EasyOS desktop in container
Name[fy]=EasyOS buroblêd yn kontener
Name[ga]=Deasc EasyOS i gcoimeádán
Name[gd]=Deasg EasyOS ann an soitheach
Name[gl]=Escritorio EasyOS en contenedor
Name[gn]=EasyOS escritorio mba’yrúpe
Name[gu]=કન્ટેનરમાં EasyOS ડેસ્કટોપ
Name[ha]=EasyOS tebur a cikin akwati
Name[he]=לכימב EasyOS לש הדובעה ןחלוש
Name[hi]=कंटेनर में EasyOS डेस्कटॉप
Name[hr]=EasyOS radna površina u spremniku
Name[ht]=Desktop EasyOS nan veso
Name[hu]=EasyOS asztali konténerben
Name[hy]=EasyOS աշխատասեղան կոնտեյներով
Name[id]=Desktop EasyOS dalam wadah
Name[ig]=EasyOS desktọpụ na akpa
Name[is]=EasyOS skjáborð í íláti
Name[it]=Desktop EasyOS nel contenitore
Name[iu]=ᐱᔭᕆᐊᑭᑦᑐᖅ ᖃᕆᑕᐅᔭᕐᒥ ᐴᕐᒥ
Name[ja]=コンテナ内の EasyOS デスクトップ
Name[jv]=Desktop EasyOS ing wadhah
Name[ka]=EasyOS დესკტოპი კონტეინერში
Name[kk]=Контейнердегі EasyOS жұмыс үстелі
Name[km]=កុំព្យូទ័រលើតុ EasyOS នៅក្នុងកុងតឺន័រ
Name[kn]=ಕಂಟೇನರ್u200cನಲ್ಲಿ EasyOS ಡೆಸ್ಕ್u200cಟಾಪ್
Name[ko]=컨테이너의 EasyOS 데스크탑
Name[ku]=Sermaseya EasyOS di konteynerê de
Name[ky]=Контейнердеги EasyOS иш тактасы
Name[la]=EasyOS desktop in vas
Name[lb]=EasyOS Desktop am Container
Name[lg]=EasyOS desktop mu konteyina
Name[ln]=Bureau ya EasyOS na kati ya récipient
Name[lo]=EasyOS desktop ໃນ container
Name[lt]=EasyOS darbalaukis konteineryje
Name[lv]=EasyOS darbvirsma konteinerā
Name[mg]=EasyOS desktop ao anaty container
Name[mi]=Papamahi EasyOS i roto i te ipu
Name[mk]=Десктоп EasyOS во контејнер
Name[ml]=കണ്ടെയ്നറിൽ EasyOS ഡെസ്ക്ടോപ്പ്
Name[mn]=Контейнер доторх EasyOS ширээний компьютер
Name[mr]=कंटेनरमध्ये EasyOS डेस्कटॉप
Name[ms]=Desktop EasyOS dalam bekas
Name[mt]=Desktop EasyOS fil-kontenitur
Name[my]=ကွန်တိန်နာထဲတွင် EasyOS ဒက်စ်တော့
Name[ne]=कन्टेनरमा EasyOS डेस्कटप
Name[nl]=EasyOS-bureaublad in container
Name[no]=EasyOS skrivebord i container
Name[ny]=EasyOS desktop mu chidebe
Name[om]=Deeskitooppii EasyOS qabduu keessa
Name[or]=ପାତ୍ରରେ EasyOS ଡେସ୍କଟପ୍ |
Name[pa]=ਕੰਟੇਨਰ ਵਿੱਚ EasyOS ਡੈਸਕਟਾਪ
Name[pl]=Pulpit EasyOS w kontenerze
Name[ps]=ﭖﺎټﺴﯾډ EasyOS ﯥﮐ ﺮﻨﯿټﻧﺎﮐ ﻪﭘ
Name[pt]=Ambiente de trabalho EasyOS no contentor
Name[qu]=EasyOS escritorio waqaychanapi
Name[ro]=Desktop EasyOS în container
Name[rw]=Ibiro bya EasyOS muri kontineri
Name[sa]=पात्रे EasyOS डेस्कटॉप्
Name[sd]=EasyOS ۾ ﺮﻨﻴٽﻨڪ ﭖﺎٽ ڪﺴﻳڊ
Name[si]=බහාලුම් තුළ EasyOS ඩෙස්ක්ටොප්
Name[sk]=Pracovná plocha EasyOS v kontajneri
Name[sl]=Namizje EasyOS v vsebniku
Name[sm]=EasyOS desktop ile koneteina
Name[sn]=EasyOS desktop mumudziyo
Name[so]=EasyOS desktop ku jira weel
Name[sq]=Desktop EasyOS në kontejner
Name[st]=EasyOS desktop ka setshelo
Name[su]=Desktop EasyOS dina wadahna
Name[sv]=EasyOS skrivbord i behållare
Name[sw]=EasyOS desktop kwenye chombo
Name[ta]=கொள்கலனில் EasyOS டெஸ்க்டாப்
Name[te]=కంటైనర్u200cలో EasyOS డెస్క్u200cటాప్
Name[tg]=Мизи кории EasyOS дар контейнер
Name[th]=เดสก์ท็อป EasyOS ในคอนเทนเนอร์
Name[ti]=EasyOS ዴስክቶፕ ኣብ ኮንተይነር
Name[tk]=Konteýnerdäki “EasyOS” iş stoly
Name[tl]=EasyOS desktop sa lalagyan
Name[to]=EasyOS desktop ʻi he faʻoʻanga meʻa
Name[tr]=Kapsayıcıda EasyOS masaüstü
Name[ts]=EasyOS desktop eka xigwitsirisi
Name[tt]=Контейнерда EasyOS өстәле
Name[tw]=EasyOS desktop wɔ adekorabea
Name[ty]=EasyOS desktop in container
Name[ug]=ﻯﺯﯜﻳ ﻝەﺘﺳﯜﺋ EasyOS ﻰﻜﯨﺪﯩﭼﺎﻗ
Name[uk]=Робочий стіл EasyOS у контейнері
Name[ur]=ﭖﺎﭨ ﮏﺴﯾﮈ EasyOS ﮟﯿﻣ ﺮﻨﯿﭩﻨﮐ
Name[uz]=Konteynerdagi EasyOS ish stoli
Name[vi]=Máy tính để bàn EasyOS trong vùng chứa
Name[xh]=EasyOS desktop kwisikhongozeli
Name[yi]=EasyOS רענייטנאַק ןיא פּאַטקסעד
Name[yo]=EasyOS tabili ni eiyan
Name[zh]=容器中的 EasyOS 桌面
Name[zu]=Ideskithophu ye-EasyOS esitsheni
Name=EasyOS desktop in container
Icon=container48.png
Comment[fr]=Bureau EasyOS dans un conteneur
Comment[bg]=EasyOS десктоп, в контейнер
Comment[de]=EasyOS Desktop, im Container
Comment[es]=Escritorio EasyOS en un contenedor
Comment[ru]=Рабочий стол EasyOS в контейнере
Comment[af]=EasyOS-lessenaar, in houer
Comment[am]=EasyOS ዴስክቶፕ፣ በመያዣ ውስጥ
Comment[ar]=ﺔﻳﻭﺎﺣ ﻲﻓ ، EasyOS ﺐﺘﻜﻣ ﺢﻄﺳ
Comment[as]=EasyOS ডেস্কটপ, পাত্ৰত
Comment[ay]=EasyOS escritorio, ukax contenedor ukankiwa
Comment[az]=EasyOS masaüstü, konteynerdə
Comment[ba]=EasyOS эш өҫтәле, контейнерҙа
Comment[be]=Працоўны стол EasyOS, у кантэйнеры
Comment[bm]=EasyOS tabali, min bɛ minɛn kɔnɔ
Comment[bn]=EasyOS ডেস্কটপ, পাত্রে
Comment[bo]=EasyOS desktop, སྣོད་ཆས་ནང་དུ།
Comment[bs]=EasyOS desktop, u kontejneru
Comment[ca]=Escriptori EasyOS, en contenidor
Comment[co]=Desktop EasyOS, in cuntainer
Comment[cs]=Desktop EasyOS, v kontejneru
Comment[cy]=bwrdd gwaith EasyOS, mewn cynhwysydd
Comment[da]=EasyOS desktop, i container
Comment[dv]=އިގަރުނައިޓެންކޮ ،ޕްޓޮކްސްޑެ ސްއެއޯޒީއީ
Comment[ee]=EasyOS kplɔ̃dzivɔ, le nugoe me
Comment[el]=Επιτραπέζιος υπολογιστής EasyOS, σε κοντέινερ
Comment[eo]=EasyOS labortablo, en ujo
Comment[et]=EasyOS-i töölaud, konteineris
Comment[eu]=EasyOS mahaigaina, edukiontzian
Comment[fa]=ﻑﺮﻇ ﺭﺩ ،EasyOS ﭖﺎﺘﮑﺳﺩ
Comment[fi]=EasyOS-työpöytä, säiliössä
Comment[fj]=EasyOS delanidesi, ena koniteina
Comment[fo]=EasyOS desktop, í container
Comment[fy]=EasyOS buroblêd, yn kontener
Comment[ga]=Deasc EasyOS, i gcoimeádán
Comment[gd]=Deasg EasyOS, ann an soitheach
Comment[gl]=Escritorio EasyOS, en contenedor
Comment[gn]=EasyOS escritorio, mba’yrúpe
Comment[gu]=EasyOS ડેસ્કટોપ, કન્ટેનરમાં
Comment[ha]=EasyOS tebur, a cikin akwati
Comment[he]=לכימב ,EasyOS לש הדובעה ןחלוש
Comment[hi]=EasyOS डेस्कटॉप, कंटेनर में
Comment[hr]=EasyOS desktop, u spremniku
Comment[ht]=Desktop EasyOS, nan veso
Comment[hu]=EasyOS asztali, konténerben
Comment[hy]=EasyOS աշխատասեղան, կոնտեյներով
Comment[id]=Desktop EasyOS, dalam wadah
Comment[ig]=EasyOS desktọpụ, na akpa
Comment[is]=EasyOS skjáborð, í íláti
Comment[it]=Desktop EasyOS, in contenitore
Comment[iu]=ᐊᔪᕐᓇᙱᑦᑐᖅOS ᖃᕆᑕᐅᔭᖅ, ᐴᖅ
Comment[ja]=EasyOS デスクトップ、コンテナ内
Comment[jv]=Desktop EasyOS, ing wadhah
Comment[ka]=EasyOS დესკტოპი, კონტეინერში
Comment[kk]=EasyOS жұмыс үстелі, контейнерде
Comment[km]=កុំព្យូទ័រលើតុ EasyOS នៅក្នុងកុងតឺន័រ
Comment[kn]=EasyOS ಡೆಸ್ಕ್u200cಟಾಪ್, ಕಂಟೇನರ್u200cನಲ್ಲಿ
Comment[ko]=EasyOS 데스크탑, 컨테이너
Comment[ku]=Sermaseya EasyOS, di konteynerê de
Comment[ky]=EasyOS иш тактасы, контейнерде
Comment[la]=EasyOS desktop, in vas
Comment[lb]=EasyOS Desktop, am Container
Comment[lg]=EasyOS desktop, mu konteyina
Comment[ln]=Bureau ya EasyOS, na kati ya récipient
Comment[lo]=EasyOS desktop, ໃນຖັງ
Comment[lt]=EasyOS darbalaukis, konteineryje
Comment[lv]=EasyOS darbvirsma, konteinerā
Comment[mg]=Desktop EasyOS, ao anaty container
Comment[mi]=Papamahi EasyOS, kei roto i te ipu
Comment[mk]=Десктоп EasyOS, во контејнер
Comment[ml]=EasyOS ഡെസ്ക്ടോപ്പ്, കണ്ടെയ്നറിൽ
Comment[mn]=EasyOS ширээний компьютер, чингэлэгт
Comment[mr]=EasyOS डेस्कटॉप, कंटेनरमध्ये
Comment[ms]=Desktop EasyOS, dalam bekas
Comment[mt]=Desktop EasyOS, fil-kontenitur
Comment[my]=ကွန်တိန်နာထဲတွင် EasyOS ဒက်စ်တော့
Comment[ne]=EasyOS डेस्कटप, कन्टेनरमा
Comment[nl]=EasyOS-desktop, in container
Comment[no]=EasyOS skrivebord, i container
Comment[ny]=EasyOS desktop, mu chidebe
Comment[om]=Deeskitooppii EasyOS, qabduu keessatti
Comment[or]=ପାତ୍ରରେ EasyOS ଡେସ୍କଟପ୍ |
Comment[pa]=EasyOS ਡੈਸਕਟਾਪ, ਕੰਟੇਨਰ ਵਿੱਚ
Comment[pl]=Pulpit EasyOS w kontenerze
Comment[ps]=EasyOS ﯥﮐ ﺮﻨﯿټﻧﺎﮐ ﻪﭘ ،ﭖﺎټﺴﯾډ
Comment[pt]=Ambiente de trabalho EasyOS, em contentor
Comment[qu]=EasyOS escritorio, waqaychanapi
Comment[ro]=Desktop EasyOS, în container
Comment[rw]=Ibiro bya EasyOS, mubikoresho
Comment[sa]=EasyOS डेस्कटॉप्, पात्रे
Comment[sd]=EasyOS ۾ ﺮﻨﻴٽﻨڪ ،ﭖﺎٽ ڪﺴﻳڊ
Comment[si]=EasyOS ඩෙස්ක්ටොප්, බහාලුම් තුළ
Comment[sk]=Pracovná plocha EasyOS v kontajneri
Comment[sl]=Namizje EasyOS, v vsebniku
Comment[sm]=EasyOS desktop, i totonu o pusa
Comment[sn]=EasyOS desktop, mumudziyo
Comment[so]=EasyOS desktop, weel ku jira
Comment[sq]=Desktop EasyOS, në kontejner
Comment[st]=EasyOS desktop, ka setshelo
Comment[su]=Desktop EasyOS, dina wadahna
Comment[sv]=EasyOS skrivbord, i behållare
Comment[sw]=EasyOS desktop, katika chombo
Comment[ta]=EasyOS டெஸ்க்டாப், கொள்கலனில்
Comment[te]=EasyOS డెస్క్u200cటాప్, కంటైనర్u200cలో
Comment[tg]=Мизи кории EasyOS, дар контейнер
Comment[th]=เดสก์ท็อป EasyOS ในคอนเทนเนอร์
Comment[ti]=EasyOS ዴስክቶፕ፣ ኣብ ኮንተይነር
Comment[tk]=Konteýnerde “EasyOS” iş stoly
Comment[tl]=EasyOS desktop, sa lalagyan
Comment[to]=EasyOS desktop, ʻi he faʻoʻanga meʻa
Comment[tr]=EasyOS masaüstü, kapsayıcıda
Comment[ts]=EasyOS desktop, eka xigwitsirisi
Comment[tt]=EasyOS өстәле, контейнерда
Comment[tw]=EasyOS desktop, wɔ adekorabea mu
Comment[ty]=EasyOS desktop, i roto i te faarii
Comment[ug]=EasyOS ﺍﺪﯩﭼﺎﻗ ، ﻯﺯﯜﻳ ﻝەﺘﺳﯜﺋ
Comment[uk]=Робочий стіл EasyOS, у контейнері
Comment[ur]=EasyOS ﮟﯿﻣ ﺮﻨﯿﭩﻨﮐ ،ﭖﺎﭨ ﮏﺴﯾﮈ
Comment[uz]=EasyOS ish stoli, konteynerda
Comment[vi]=Máy tính để bàn EasyOS, trong thùng chứa
Comment[xh]=EasyOS desktop, kwisikhongozeli
Comment[yi]=EasyOS רענייטנאַק ןיא ,פּאַטקסעד
Comment[yo]=EasyOS tabili, ninu eiyan
Comment[zh]=EasyOS 桌面，位于容器中
Comment[zu]=Ideskithophu ye-EasyOS, esitsheni
Comment=EasyOS desktop, in container
Exec=ec-chroot-kirkstone
Terminal=false
Type=Application
Categories=X-Filesystem
GenericName=ec-kirkstone
