[Desktop Entry]
Encoding=UTF-8
Name[fr]=Chromium en conteneur
Name[bg]=Chromium в контейнер
Name[cs]=Chromium v nádobě
Name[da]=Chromium i beholder
Name[de]=Chromium im Behälter
Name[el]=Chromium σε δοχείο
Name[es]=Chromium en contenedor
Name[fi]=Chromium säiliössä
Name[hu]=Chromium a tartályban
Name[is]=Chromium í ílát
Name[it]=Chromium in contenitore
Name[mk]=Chromium во контејнер
Name[nl]=Chromium in houder
Name[pl]=Chromium w pojemniku
Name[pt]=Chromium no recipiente
Name[ro]=Chromium în recipient
Name[ru]=Chromium в контейнере
Name[sr]=Chromium у контејнеру
Name[sv]=Chromium i behållare
Name[tr]=kap içinde Chromium
Name[uk]=Chromium в контейнері
Name[af]=Chroom in houer
Name[am]=ክሮሚየም በመያዣ ውስጥ
Name[ar]=ﺔﻳﻭﺎﺤﻟﺍ ﻲﻓ ﻡﻭﺮﻜﻟﺍ
Name[as]=পাত্ৰত ক্ৰমিয়াম
Name[ay]=Cromo ukaxa mä phukuruwa
Name[az]=Konteynerdə xrom
Name[ba]=Һауытта хром
Name[be]=Хром у кантэйнеры
Name[bm]=Chrome bɛ sɔrɔ minɛn kɔnɔ
Name[bn]=পাত্রে ক্রোমিয়াম
Name[bo]=སྣོད་ཆས་ནང་གི་铬།
Name[bs]=Krom u kontejneru
Name[ca]=Crom en recipient
Name[co]=Chromium in cuntainer
Name[cy]=Cromiwm mewn cynhwysydd
Name[dv]=މްއަމިރޯކް ނަންހު އިގަރުނައިޓެންކޮ
Name[ee]=Chromium le nugoe me
Name[eo]=Kromo en ujo
Name[et]=Kroom konteineris
Name[eu]=Kromoa edukiontzian
Name[fa]=ﻑﺮﻇ ﺭﺩ ﻡﻭﺮﮐ
Name[fj]=Chromium ena koniteina
Name[fo]=Chromium in container
Name[fy]=Chromium yn kontener
Name[ga]=Cróimiam i gcoimeádán
Name[gd]=Chromium ann an soitheach
Name[gl]=Cromo en recipiente
Name[gn]=Cromo mba’yrúpe
Name[gu]=કન્ટેનરમાં ક્રોમિયમ
Name[ha]=Chromium a cikin akwati
Name[he]=לכימב םורכ
Name[hi]=कंटेनर में क्रोमियम
Name[hr]=Krom u spremniku
Name[ht]=Kwòm nan veso
Name[hy]=Քրոմը տարայի մեջ
Name[id]=Kromium dalam wadah
Name[ig]=Chromium nime akpa
Name[iu]=ᕿᓕᖅᓯᓇᐅᔭᕐᓗᑯᐃᑦ ᐴᕐᒦᓪᓗᑎᒃ
Name[ja]=容器内のクロム
Name[jv]=Kromium ing wadhah
Name[ka]=ქრომი კონტეინერში
Name[kk]=Контейнердегі хром
Name[km]=Chromium នៅក្នុងធុង
Name[kn]=ಧಾರಕದಲ್ಲಿ ಕ್ರೋಮಿಯಂ
Name[ko]=용기 내 크롬
Name[ku]=Krom di konteynerê de
Name[ky]=Контейнердеги хром
Name[la]=Chromium in vas
Name[lb]=Chrom am Container
Name[lg]=Chromium mu kibya
Name[ln]=Chrome na kati ya récipient
Name[lo]=Chromium ໃນຖັງ
Name[lt]=Chromas konteineryje
Name[lv]=Hroms konteinerā
Name[mg]=Chromium ao anaty container
Name[mi]=Chromium i roto i te ipu
Name[ml]=കണ്ടെയ്നറിൽ ക്രോമിയം
Name[mn]=Саванд байгаа хром
Name[mr]=कंटेनरमध्ये क्रोमियम
Name[ms]=Kromium dalam bekas
Name[mt]=Kromju fil-kontenitur
Name[my]=ကွန်တိန်နာထဲတွင် Chromium
Name[ne]=कन्टेनरमा क्रोमियम
Name[no]=Krom i beholder
Name[ny]=Chromium mu chidebe
Name[om]=Kiroomiyeemii qabduu keessa jiru
Name[or]=ପାତ୍ରରେ କ୍ରୋମିୟମ୍ |
Name[pa]=ਕੰਟੇਨਰ ਵਿੱਚ ਕਰੋਮੀਅਮ
Name[ps]=ﯥﮐ ﺮﻨﯿﺘﻧﺎﮐ ﻪﭘ ﻢﯿﻣﻭﺮﮐ
Name[qu]=Cromo nisqa waqaychanapi
Name[rw]=Chromium muri kontineri
Name[sa]=पात्रे क्रोमियमः
Name[sd]=Chromium ۾ ﺮﻨﻴٽﻨڪ
Name[si]=කන්ටේනරයේ ක්u200dරෝමියම්
Name[sk]=Chróm v nádobe
Name[sl]=Krom v posodi
Name[sm]=Chromium i totonu o pusa
Name[sn]=Chromium mumudziyo
Name[so]=Chromium weel ku jira
Name[sq]=Krom në enë
Name[st]=Chromium ka hara setshelo
Name[su]=Kromium dina wadahna
Name[sw]=Chromium kwenye chombo
Name[ta]=கொள்கலனில் குரோமியம்
Name[te]=కంటైనర్u200cలో క్రోమియం
Name[tg]=Хром дар контейнер
Name[th]=โครเมียมในภาชนะ
Name[ti]=ክሮሚየም ኣብ መትሓዚ
Name[tk]=Konteýnerdäki hrom
Name[tl]=Chromium sa lalagyan
Name[to]=Chromium ʻi he faʻoʻanga meʻa
Name[ts]=Chromium eka xigwitsirisi
Name[tt]=Контейнерда хром
Name[tw]=Chromium a ɛwɔ ade a wɔde gu mu mu
Name[ty]=Chromium i roto i te faarii
Name[ug]=ﻡﻭﺮﯩﺧ ﻰﻜﯨﺪﯩﭼﺎﻗ
Name[ur]=ﻢﯿﻣﻭﺮﮐ ﮟﯿﻣ ﺮﻨﯿﭩﻨﮐ
Name[uz]=Idishdagi xrom
Name[vi]=crom trong thùng chứa
Name[xh]=Chromium kwisikhongozeli
Name[yi]=רענייטנאַק אַ ןיא םאַימואָרק
Name[yo]=Chromium ninu apo eiyan
Name[zh]=容器中的铬
Name[zu]=I-Chromium esitsheni
Name=Chromium in container
Icon=container48.png
Comment[bg]=Уеб браузър Chromium, в контейнер
Comment[de]=Chromium-Webbrowser, im Container
Comment[es]=Navegador Chromium, en un contenedor
Comment[af]=Chromium webblaaier, in houer
Comment[am]=Chromium ድር አሳሽ፣ በመያዣ ውስጥ
Comment[ar]=ﺔﻳﻭﺎﺤﻟﺍ ﻲﻓ ، Chromium ﺐﻳﻮﻟﺍ ﺢﻔﺼﺘﻣ
Comment[as]=ক্ৰমিয়াম ৱেব ব্ৰাউজাৰ, পাত্ৰত
Comment[ay]=Chromo web uñakipiri, ukax mä phukhunkiwa
Comment[az]=Chromium veb brauzeri, konteynerdə
Comment[ba]=Хром веб-браузер, контейнерҙа
Comment[be]=Вэб-браўзер Chromium, у кантэйнеры
Comment[bm]=Chrome web navigateur, min bɛ minɛn kɔnɔ
Comment[bn]=ক্রোমিয়াম ওয়েব ব্রাউজার, পাত্রে
Comment[bo]=སྣོད་ཆས་ནང་གི་铬་དྲ་རྒྱའི་བལྟ་ཆས།
Comment[bs]=Chromium web preglednik, u kontejneru
Comment[ca]=Navegador web Chromium, al contenidor
Comment[co]=Navigatore web Chromium, in cuntainer
Comment[cs]=Webový prohlížeč Chromium v kontejneru
Comment[cy]=Porwr gwe Chromium, mewn cynhwysydd
Comment[da]=Chromium webbrowser, i container
Comment[dv]=އިގަރުނައިޓެންކޮ ،ޒާއުރަބް ބްވެ މްއަމިރޯކް
Comment[ee]=Chromium web browser, le nugoe me
Comment[el]=Πρόγραμμα περιήγησης ιστού Chromium, σε κοντέινερ
Comment[eo]=Chromium-retumilo, en ujo
Comment[et]=Chromiumi veebibrauser, konteineris
Comment[eu]=Chromium web arakatzailea, edukiontzian
Comment[fa]=ﻑﺮﻇ ﺭﺩ ،Chromium ﺏﻭ ﺮﮔﺭﻭﺮﻣ
Comment[fi]=Chromium-verkkoselain, säilössä
Comment[fj]=Barausa ni mataveilawa ni Chromium, ena koniteina
Comment[fo]=Chromium web browser, in container
Comment[fr]=Navigateur Web Chromium, dans un conteneur
Comment[fy]=Chromium webblêder, yn kontener
Comment[ga]=Brabhsálaí gréasáin cróimiam, i gcoimeádán
Comment[gd]=Brabhsair lìn Chromium, ann an soitheach
Comment[gl]=Navegador web Chromium, no contedor
Comment[gn]=Cromo web kundahára, mba’yrúpe
Comment[gu]=ક્રોમિયમ વેબ બ્રાઉઝર, કન્ટેનરમાં
Comment[ha]=Mai binciken gidan yanar gizon Chromium, a cikin akwati
Comment[he]=לכימב ,Chromium טנרטניא ןפדפד
Comment[hi]=क्रोमियम वेब ब्राउज़र, कंटेनर में
Comment[hr]=Chromium web preglednik, u spremniku
Comment[ht]=Chromium navigatè entènèt, nan veso
Comment[hu]=Chromium webböngésző, tárolóban
Comment[hy]=Chromium վեբ դիտարկիչ, կոնտեյներով
Comment[id]=Peramban web Chromium, dalam wadah
Comment[ig]=Ihe nchọgharị weebụ Chromium, nime akpa
Comment[is]=Chromium vefvafri, í íláti
Comment[it]=Browser web Chromium, in contenitore
Comment[iu]=Chromium ᐃᑭᐊᖅᑭᕕᒃᑯᑦ ᕿᓂᕈᑎ, ᐴᕐᒥ
Comment[ja]=Chromium Web ブラウザ、コンテナ内
Comment[jv]=Browser web Chromium, ing wadhah
Comment[ka]=Chromium ვებ ბრაუზერი, კონტეინერში
Comment[kk]=Chromium веб-шолғышы, контейнерде
Comment[km]=កម្មវិធីរុករកតាមអ៊ីនធឺណិត Chromium នៅក្នុងកុងតឺន័រ
Comment[kn]=Chromium ವೆಬ್ ಬ್ರೌಸರ್, ಕಂಟೇನರ್u200cನಲ್ಲಿದೆ
Comment[ko]=컨테이너의 Chromium 웹 브라우저
Comment[ku]=Geroka webê ya Chromium, di konteynerê de
Comment[ky]=Chromium веб серепчиси, контейнерде
Comment[la]=Chromium interretialem interretialem, in vase
Comment[lb]=Chromium Webbrowser, am Container
Comment[lg]=Chromium web browser, mu kibya
Comment[ln]=Navigateur web ya chrome, na kati ya récipient
Comment[lo]=ໂປຣແກຣມທ່ອງເວັບ Chromium, ໃນບັນຈຸ
Comment[lt]=„Chromium“ žiniatinklio naršyklė konteineryje
Comment[lv]=Chromium tīmekļa pārlūkprogramma konteinerā
Comment[mg]=mpitety tranonkala Chromium, ao anaty container
Comment[mi]=Pūtirotiro paetukutuku Chromium, kei roto i te ipu
Comment[mk]=Веб-прелистувач Chromium, во контејнер
Comment[ml]=Chromium വെബ് ബ്രൗസർ, കണ്ടെയ്u200cനറിൽ
Comment[mn]=Chromium вэб хөтөч, контейнер дотор
Comment[mr]=क्रोमियम वेब ब्राउझर, कंटेनरमध्ये
Comment[ms]=Penyemak imbas web Chromium, dalam bekas
Comment[mt]=Chrome web browser, fil-kontenitur
Comment[my]=ကွန်တိန်နာထဲတွင် Chromium ဝဘ်ဘရောက်ဆာ
Comment[ne]=क्रोमियम वेब ब्राउजर, कन्टेनरमा
Comment[nl]=Chromium-webbrowser, in container
Comment[no]=Chromium nettleser, i beholder
Comment[ny]=Msakatuli wa Chromium, ali mchidebe
Comment[om]=Weeb biraawzari kiroomiyeemii, qabduu keessatti
Comment[or]=ପାତ୍ରରେ କ୍ରୋମିୟମ୍ ୱେବ୍ ବ୍ରାଉଜର୍ |
Comment[pa]=Chromium ਵੈੱਬ ਬ੍ਰਾਊਜ਼ਰ, ਕੰਟੇਨਰ ਵਿੱਚ
Comment[pl]=Przeglądarka internetowa Chromium w kontenerze
Comment[ps]=ﯥﮐ ﺮﻨﯿټﻧﺎﮐ ﻪﭘ ،ﺭﺯﻭﺍﺮﺑ ﺐﯾﻭ ﻢﯿﻣﻭﺮﮐ ﺩ
Comment[pt]=Navegador da Web Chromium, em contêiner
Comment[qu]=Cromo web maskaq, waqaychanapi
Comment[ro]=Browser web Chromium, în container
Comment[ru]=Веб-браузер Chromium в контейнере
Comment[rw]=Urubuga rwa Chromium, muri kontineri
Comment[sa]=क्रोमियम जालपुटं, पात्रे
Comment[sd]=Chromium ۾ ﺮﻨﻴٽﻨڪ ،ﺭﺯﻮﺋﺍﺮﺑ ﺐﻳﻭ
Comment[si]=Chromium වෙබ් බ්u200dරව්සරය, බහාලුම්වල
Comment[sk]=Webový prehliadač Chromium v kontajneri
Comment[sl]=Spletni brskalnik Chromium, v vsebniku
Comment[sm]=Chromium web browser, i totonu o pusa
Comment[sn]=Chromium web browser, mumudziyo
Comment[so]=browserka shabakada Chromium, weel ku jira
Comment[sq]=Shfletuesi i uebit Chromium, në kontejner
Comment[st]=Sebatli sa marang-rang sa Chromium, se ka hara setsoantso
Comment[su]=Pangotektak wéb Chromium, dina wadahna
Comment[sv]=Chromium webbläsare, i behållare
Comment[sw]=Kivinjari cha wavuti cha Chromium, kwenye chombo
Comment[ta]=Chromium இணைய உலாவி, கொள்கலனில்
Comment[te]=Chromium వెబ్ బ్రౌజర్, కంటైనర్u200cలో
Comment[tg]=Веб-браузери Chromium, дар контейнер
Comment[th]=เว็บเบราว์เซอร์ Chromium ในคอนเทนเนอร์
Comment[ti]=ክሮሚየም መርበብ ሓበሬታ መርበብ ሓበሬታ፣ ኣብ መትሓዚ
Comment[tk]=Konteýnerde hrom web brauzeri
Comment[tl]=Chromium web browser, sa lalagyan
Comment[to]=Chromium web browser, ʻi he faʻoʻanga meʻa
Comment[tr]=Chromium web tarayıcısı, kapsayıcıda
Comment[ts]=Xihlamusela-marito xa webu xa chromium, eka xigwitsirisi
Comment[tt]=Хром веб-браузер, контейнерда
Comment[tw]=Chromium wɛb brawsa, wɔ ahina mu
Comment[ty]=Chromium web browser, i roto i te faarii
Comment[ug]=ﯜﮔﺭﯚﻛﺭﻮﺗ ﻡﻭﺮﯩﺧ ﺍﺪﯩﭼﺎﻗ
Comment[uk]=Веб-браузер Chromium, у контейнері
Comment[ur]=ﮟﯿﻣ ﺮﻨﯿﭩﻨﮐ ،ﺭﺯﺅﺍﺮﺑ ﺐﯾﻭ ﻢﯿﻣﻭﺮﮐ
Comment[uz]=Chromium veb-brauzer, konteynerda
Comment[vi]=Trình duyệt web Chromium, trong vùng chứa
Comment[xh]=Isikhangeli sewebhu seChromium, kwisingxobo
Comment[yi]=רענייטנאַק ןיא רערעטעלב בעוו םאַימואָרק
Comment[yo]=Ẹrọ aṣawakiri wẹẹbu Chromium, ninu apoti
Comment[zh]=Chromium 网络浏览器，位于容器中
Comment[zu]=Isiphequluli sewebhu se-Chromium, esitsheni
Comment=Chromium web browser, in container
Exec=ec-chroot-www
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=ec-www
