[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer un parefeu
Name[bg]=Настройка на защитната стена
Name[de]=Firewall-Einrichtung
Name[es]=Firewall Setup: configurar el cortafuegos
Name[ru]=Настройка на защитната стена
Name[af]=Firewall-opstelling
Name[am]=ፋየርዎል ማዋቀር
Name[ar]=ﺔﻳﺎﻤﺤﻟﺍ ﺭﺍﺪﺟ ﺩﺍﺪﻋﺇ
Name[as]=ফায়াৰৱাল ছেটআপ
Name[ay]=Firewall ukan utt’ayata
Name[az]=Firewall Quraşdırma
Name[ba]=Брандмауэр ҡоролошо
Name[be]=Налада брандмаўэра
Name[bm]=Firewall Setup (Tasuma-fanga-minɛnw sigicogo).
Name[bn]=ফায়ারওয়াল সেটআপ
Name[bo]=མེ་འགོག་གྱང་སྒྲིག་ཆས།
Name[bs]=Podešavanje zaštitnog zida
Name[ca]=Configuració del tallafoc
Name[co]=Configurazione di u firewall
Name[cs]=Nastavení brány firewall
Name[cy]=Gosod Mur Tân
Name[da]=Firewall opsætning
Name[dv]=ޕްޓަސެ ލްވޯރޔަފަ
Name[ee]=Dzodoƒe ƒe Ðoɖowɔwɔ
Name[el]=Ρύθμιση τείχους προστασίας
Name[eo]=Agordo de fajroŝirmilo
Name[et]=Tulemüüri seadistamine
Name[eu]=Firewall konfigurazioa
Name[fa]=ﻝﺍﻭﺮﯾﺎﻓ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ
Name[fi]=Palomuurin asetukset
Name[fj]=Tuvanaki ni Firewall
Name[fo]=Firewall Setup
Name[fy]=Firewall Setup
Name[ga]=Socrú Balla Dóiteáin
Name[gd]=Suidheachadh balla-teine
Name[gl]=Configuración do firewall
Name[gn]=Firewall Ñemohenda
Name[gu]=ફાયરવોલ સેટઅપ
Name[ha]=Saitin Firewall
Name[he]=שא תמוח תרדגה
Name[hi]=फ़ायरवॉल सेटअप
Name[hr]=Postavljanje vatrozida
Name[ht]=Enstalasyon firewall
Name[hu]=Tűzfal beállítása
Name[hy]=Firewall-ի կարգավորում
Name[id]=Pengaturan Firewall
Name[ig]=Ntọala Firewall
Name[is]=Uppsetning eldveggs
Name[it]=Configurazione firewall
Name[iu]=ᓴᐴᓗᑕᖅ
Name[ja]=ファイアウォールのセットアップ
Name[jv]=Setelan Firewall
Name[ka]=Firewall-ის დაყენება
Name[kk]=Брандмауэр орнату
Name[km]=ការដំឡើងជញ្ជាំងភ្លើង
Name[kn]=ಫೈರ್ವಾಲ್ ಸೆಟಪ್
Name[ko]=방화벽 설정
Name[ku]=Setup Firewall
Name[ky]=Firewall орнотуу
Name[la]=Firewall Setup
Name[lb]=Firewall Setup
Name[lg]=Okuteekawo Firewall
Name[ln]=Bobongisi ya mur ya moto
Name[lo]=ການຕິດຕັ້ງ Firewall
Name[lt]=Ugniasienės sąranka
Name[lv]=Ugunsmūra iestatīšana
Name[mg]=Firewall Setup
Name[mi]=Tatūnga Pātūahi
Name[mk]=Поставување заштитен ѕид
Name[ml]=ഫയർവാൾ സജ്ജീകരണം
Name[mn]=Галт ханын тохиргоо
Name[mr]=फायरवॉल सेटअप
Name[ms]=Persediaan Firewall
Name[mt]=Setup tal-Firewall
Name[my]=Firewall စနစ်ထည့်သွင်းခြင်း။
Name[ne]=फायरवाल सेटअप
Name[nl]=Firewall instellen
Name[no]=Brannmuroppsett
Name[ny]=Kupanga Firewall
Name[om]=Saagi Firewall
Name[or]=ଫାୟାରୱାଲ ସେଟଅପ୍ |
Name[pa]=ਫਾਇਰਵਾਲ ਸੈੱਟਅੱਪ
Name[pl]=Konfiguracja zapory
Name[ps]=ﻝﻮﮐ ﻢﯿﻈﻨﺗ ﻝﺍﻭﺮﯾﺎﻓ ﺩ
Name[pt]=Configuração de firewall
Name[qu]=Firewall nisqa churay
Name[ro]=Configurare firewall
Name[rw]=Gushiraho Firewall
Name[sa]=फायरवाल सेटअप
Name[sd]=ﭖﺍ ٽﻴﺳ ﻝﺍﻭ ﺮﺋﺎﻓ
Name[si]=ෆයර්වෝල් සැකසුම
Name[sk]=Nastavenie brány firewall
Name[sl]=Nastavitev požarnega zidu
Name[sm]=Seti Pafi
Name[sn]=Firewall Setup
Name[so]=Dejinta Firewall
Name[sq]=Konfigurimi i murit të zjarrit
Name[st]=Setupo sa Firewall
Name[su]=Setélan firewall
Name[sv]=Brandväggsinstallation
Name[sw]=Usanidi wa Firewall
Name[ta]=ஃபயர்வால் அமைப்பு
Name[te]=ఫైర్u200cవాల్ సెటప్
Name[tg]=Танзими девори девор
Name[th]=การตั้งค่าไฟร์วอลล์
Name[ti]=ፋየርዎል ሴትኣፕ
Name[tk]=Gorag diwaryny gurmak
Name[tl]=Pag-setup ng Firewall
Name[to]=Fokotuʻutuʻu ʻo e firewall
Name[tr]=Güvenlik Duvarı Kurulumu
Name[ts]=Ku lulamisiwa ka Firewall
Name[tt]=Firewall урнаштыру
Name[tw]=Firewall Nhyehyɛe
Name[ty]=Te faanahoraa no te tupoheraa auahi
Name[ug]=ﺵەﺸﯕەﺗ ﻰﻨﻣﺎﺗ ەﺌﯩﭘﺍﺩﯘﻣ
Name[uk]=Налаштування брандмауера
Name[ur]=ﭖﺍ ﭧﯿﺳ ﻝﺍﻭ ﺮﺋﺎﻓ
Name[uz]=Xavfsizlik devorini sozlash
Name[vi]=Thiết lập tường lửa
Name[xh]=Ukuseta iFirewall
Name[yi]=פּאַטעס ללאַוועריפ
Name[yo]=Eto ogiriina
Name[zh]=防火墙设置
Name[zu]=Ukusethwa kwe-Firewall
Name=Firewall Setup
Icon=/usr/share/pixmaps/puppy/firewall.svg
Comment[fr]=Configurer un parefeu
Comment[bg]=Настройка на защитната стена
Comment[de]=Firewall-Einrichtung
Comment[es]=Firewall Setup: configurar el cortafuegos
Comment[ru]=Настройка на защитната стена
Comment[af]=Firewall-opstelling
Comment[am]=ፋየርዎል ማዋቀር
Comment[ar]=ﺔﻳﺎﻤﺤﻟﺍ ﺭﺍﺪﺟ ﺩﺍﺪﻋﺇ
Comment[as]=ফায়াৰৱাল ছেটআপ
Comment[ay]=Firewall ukan utt’ayata
Comment[az]=Firewall Quraşdırma
Comment[ba]=Брандмауэр ҡоролошо
Comment[be]=Налада брандмаўэра
Comment[bm]=Firewall Setup (Tasuma-fanga-minɛnw sigicogo).
Comment[bn]=ফায়ারওয়াল সেটআপ
Comment[bo]=མེ་འགོག་གྱང་སྒྲིག་ཆས།
Comment[bs]=Podešavanje zaštitnog zida
Comment[ca]=Configuració del tallafoc
Comment[co]=Configurazione di u firewall
Comment[cs]=Nastavení brány firewall
Comment[cy]=Gosod Mur Tân
Comment[da]=Firewall opsætning
Comment[dv]=ޕްޓަސެ ލްވޯރޔަފަ
Comment[ee]=Dzodoƒe ƒe Ðoɖowɔwɔ
Comment[el]=Ρύθμιση τείχους προστασίας
Comment[eo]=Agordo de fajroŝirmilo
Comment[et]=Tulemüüri seadistamine
Comment[eu]=Firewall konfigurazioa
Comment[fa]=ﻝﺍﻭﺮﯾﺎﻓ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ
Comment[fi]=Palomuurin asetukset
Comment[fj]=Tuvanaki ni Firewall
Comment[fo]=Firewall Setup
Comment[fy]=Firewall Setup
Comment[ga]=Socrú Balla Dóiteáin
Comment[gd]=Suidheachadh balla-teine
Comment[gl]=Configuración do firewall
Comment[gn]=Firewall Ñemohenda
Comment[gu]=ફાયરવોલ સેટઅપ
Comment[ha]=Saitin Firewall
Comment[he]=שא תמוח תרדגה
Comment[hi]=फ़ायरवॉल सेटअप
Comment[hr]=Postavljanje vatrozida
Comment[ht]=Enstalasyon firewall
Comment[hu]=Tűzfal beállítása
Comment[hy]=Firewall-ի կարգավորում
Comment[id]=Pengaturan Firewall
Comment[ig]=Ntọala Firewall
Comment[is]=Uppsetning eldveggs
Comment[it]=Configurazione firewall
Comment[iu]=ᓴᐴᓗᑕᖅ
Comment[ja]=ファイアウォールのセットアップ
Comment[jv]=Setelan Firewall
Comment[ka]=Firewall-ის დაყენება
Comment[kk]=Брандмауэр орнату
Comment[km]=ការដំឡើងជញ្ជាំងភ្លើង
Comment[kn]=ಫೈರ್ವಾಲ್ ಸೆಟಪ್
Comment[ko]=방화벽 설정
Comment[ku]=Setup Firewall
Comment[ky]=Firewall орнотуу
Comment[la]=Firewall Setup
Comment[lb]=Firewall Setup
Comment[lg]=Okuteekawo Firewall
Comment[ln]=Bobongisi ya mur ya moto
Comment[lo]=ການຕິດຕັ້ງ Firewall
Comment[lt]=Ugniasienės sąranka
Comment[lv]=Ugunsmūra iestatīšana
Comment[mg]=Firewall Setup
Comment[mi]=Tatūnga Pātūahi
Comment[mk]=Поставување заштитен ѕид
Comment[ml]=ഫയർവാൾ സജ്ജീകരണം
Comment[mn]=Галт ханын тохиргоо
Comment[mr]=फायरवॉल सेटअप
Comment[ms]=Persediaan Firewall
Comment[mt]=Setup tal-Firewall
Comment[my]=Firewall စနစ်ထည့်သွင်းခြင်း။
Comment[ne]=फायरवाल सेटअप
Comment[nl]=Firewall instellen
Comment[no]=Brannmuroppsett
Comment[ny]=Kupanga Firewall
Comment[om]=Saagi Firewall
Comment[or]=ଫାୟାରୱାଲ ସେଟଅପ୍ |
Comment[pa]=ਫਾਇਰਵਾਲ ਸੈੱਟਅੱਪ
Comment[pl]=Konfiguracja zapory
Comment[ps]=ﻝﻮﮐ ﻢﯿﻈﻨﺗ ﻝﺍﻭﺮﯾﺎﻓ ﺩ
Comment[pt]=Configuração de firewall
Comment[qu]=Firewall nisqa churay
Comment[ro]=Configurare firewall
Comment[rw]=Gushiraho Firewall
Comment[sa]=फायरवाल सेटअप
Comment[sd]=ﭖﺍ ٽﻴﺳ ﻝﺍﻭ ﺮﺋﺎﻓ
Comment[si]=ෆයර්වෝල් සැකසුම
Comment[sk]=Nastavenie brány firewall
Comment[sl]=Nastavitev požarnega zidu
Comment[sm]=Seti Pafi
Comment[sn]=Firewall Setup
Comment[so]=Dejinta Firewall
Comment[sq]=Konfigurimi i murit të zjarrit
Comment[st]=Setupo sa Firewall
Comment[su]=Setélan firewall
Comment[sv]=Brandväggsinstallation
Comment[sw]=Usanidi wa Firewall
Comment[ta]=ஃபயர்வால் அமைப்பு
Comment[te]=ఫైర్u200cవాల్ సెటప్
Comment[tg]=Танзими девори девор
Comment[th]=การตั้งค่าไฟร์วอลล์
Comment[ti]=ፋየርዎል ሴትኣፕ
Comment[tk]=Gorag diwaryny gurmak
Comment[tl]=Pag-setup ng Firewall
Comment[to]=Fokotuʻutuʻu ʻo e firewall
Comment[tr]=Güvenlik Duvarı Kurulumu
Comment[ts]=Ku lulamisiwa ka Firewall
Comment[tt]=Firewall урнаштыру
Comment[tw]=Firewall Nhyehyɛe
Comment[ty]=Te faanahoraa no te tupoheraa auahi
Comment[ug]=ﺵەﺸﯕەﺗ ﻰﻨﻣﺎﺗ ەﺌﯩﭘﺍﺩﯘﻣ
Comment[uk]=Налаштування брандмауера
Comment[ur]=ﭖﺍ ﭧﯿﺳ ﻝﺍﻭ ﺮﺋﺎﻓ
Comment[uz]=Xavfsizlik devorini sozlash
Comment[vi]=Thiết lập tường lửa
Comment[xh]=Ukuseta iFirewall
Comment[yi]=פּאַטעס ללאַוועריפ
Comment[yo]=Eto ogiriina
Comment[zh]=防火墙设置
Comment[zu]=Ukusethwa kwe-Firewall
Comment=Firewall Setup
Exec=firewall_ng
Terminal=false
Type=Application
Categories=X-Network-firewall
GenericName=Firewall Setup
