[Desktop Entry]
Encoding=UTF-8
Name[fr]=Formater une disquette : Floppy-Formatter
Name[de]=Diskette formatieren
Name[af]=Formateer disket
Name[am]=የፍሎፒ ዲስክን ይቅረጹ
Name[ar]=ﻥﺮﻤﻟﺍ ﺹﺮﻘﻟﺍ ﻖﻴﺴﻨﺗ
Name[as]=ফ্লপি ডিস্ক ফৰ্মেট কৰক
Name[ay]=Disquete ukar formato uñt’ayaña
Name[az]=Floppy diski formatlayın
Name[ba]=Форматлы флоппи диск
Name[be]=Адфарматаваць дыскету
Name[bg]=Форматирайте дискета
Name[bm]=Disquette (disquette) cogoya
Name[bn]=ফ্লপি ডিস্ক ফরম্যাট করুন
Name[bo]=རྣམ་པ་འདྲ་མིན་སྣ་ཚོགས་ཀྱི་ཁབ་ལེན་སྡེར་མ།
Name[bs]=Formatirajte disketu
Name[ca]=Formateu el disquet
Name[co]=Formate un dischettu
Name[cs]=Naformátujte disketu
Name[cy]=Fformat disg hyblyg
Name[da]=Formater diskette
Name[dv]=ންރުކުޓްމެފޯ ކްސްޑި ޕީލޮފް
Name[ee]=Trɔ asi le floppy disk ŋu
Name[el]=Μορφοποίηση δισκέτας
Name[eo]=Formatu disketon
Name[es]=Formatear disquete
Name[et]=Vormindage diskett
Name[eu]=Formateatu disketea
Name[fa]=ﺪﯿﻨﮐ ﺖﻣﺮﻓ ﺍﺭ ﯽﭘﻼ﻿ﻓ ﮏﺴﯾﺩ
Name[fi]=Alusta levyke
Name[fj]=Tuvanaka na floppy disk
Name[fo]=Format floppy disk
Name[fy]=Opmaak diskette
Name[ga]=Formáid diosca flapach
Name[gd]=Fòrmat an diosg floppy
Name[gl]=Formatear disquete
Name[gn]=Emohenda disquete
Name[gu]=ફ્લોપી ડિસ્કને ફોર્મેટ કરો
Name[ha]=Tsarin floppy disk
Name[he]=ןוטילקת טמרפ
Name[hi]=फ्लॉपी डिस्क को फॉर्मेट करें
Name[hr]=Formatirajte disketu
Name[ht]=Fòma diskèt la
Name[hu]=Hajlékonylemez formázása
Name[hy]=Ձևաչափեք անգործունյա սկավառակը
Name[id]=Memformat disket
Name[ig]=Hazie floppy diski
Name[is]=Forsníða diskling
Name[it]=Formattare il dischetto
Name[iu]=ᐋᖅᑭᒃᓯᒪᓗᓂ ᓂᕈᒥᒃᑐᒧᑦ ᓂᕈᒻᒫᒃᑯᑎ
Name[ja]=フロッピーディスクをフォーマットする
Name[jv]=Format floppy disk
Name[ka]=ფლოპი დისკის ფორმატირება
Name[kk]=Иілгіш дискіні пішімдеу
Name[km]=ធ្វើទ្រង់ទ្រាយថាសទន់
Name[kn]=ಫ್ಲಾಪಿ ಡಿಸ್ಕ್ ಅನ್ನು ಫಾರ್ಮ್ಯಾಟ್ ಮಾಡಿ
Name[ko]=플로피 디스크 포맷
Name[ku]=Floppy dîskê format bikin
Name[ky]=Формат дискета
Name[la]=Forma floppy orbis
Name[lb]=Formatéiert Diskett
Name[lg]=Fomatika disiki ya floppy
Name[ln]=Format disquette ya kosala
Name[lo]=Format floppy disk
Name[lt]=Suformatuoti diskelį
Name[lv]=Formatējiet disketi
Name[mg]=Format kapila floppy
Name[mi]=Whakahōputu kōpae pīngore
Name[mk]=Форматирајте флопи диск
Name[ml]=ഫ്ലോപ്പി ഡിസ്ക് ഫോർമാറ്റ് ചെയ്യുക
Name[mn]=Уян дискийг форматлах
Name[mr]=फ्लॉपी डिस्कचे स्वरूपन करा
Name[ms]=Format cakera liut
Name[mt]=Format floppy disk
Name[my]=ဖလော်ပီဒစ်ကို ဖော်မတ်လုပ်ပါ။
Name[ne]=फ्लपी डिस्क ढाँचा गर्नुहोस्
Name[nl]=Formatteer de diskette
Name[no]=Formater diskett
Name[ny]=Sinthani floppy disk
Name[om]=Floppii diskiin foormaatii gochuu
Name[or]=ଫ୍ଲପି ଡିସ୍କ ଫର୍ମାଟ୍ କରନ୍ତୁ |
Name[pa]=ਫਲਾਪੀ ਡਿਸਕ ਨੂੰ ਫਾਰਮੈਟ ਕਰੋ
Name[pl]=Sformatuj dyskietkę
Name[ps]=ﻪڼﺑ ﮏﺴﯾډ ﻲﭘﻼ﻿ﻓ ﺩ
Name[pt]=Formatar disquete
Name[qu]=Disquete nisqa formato ruway
Name[ro]=Formatați discheta
Name[ru]=Отформатировать дискету
Name[rw]=Fata disiki
Name[sa]=फ्लॉपी डिस्क प्रारूपं कुर्वन्तु
Name[sd]=ڪﺳڊ ﻲﭘﻼ﻿ﻓ ٽﻴﻣﺭﺎﻓ
Name[si]=floppy disk ආකෘතිකරණය කරන්න
Name[sk]=Naformátujte disketu
Name[sl]=Formatirajte disketo
Name[sm]=Fausia tisiki floppy
Name[sn]=Fomati floppy disk
Name[so]=U qaabeeya diskka
Name[sq]=Formatoni disketën
Name[st]=Fomata floppy disk
Name[su]=Format floppy disk
Name[sv]=Formatera diskett
Name[sw]=Fomati diski ya floppy
Name[ta]=நெகிழ் வட்டை வடிவமைக்கவும்
Name[te]=ఫ్లాపీ డిస్క్u200cను ఫార్మాట్ చేయండి
Name[tg]=Диски нармиро формат кунед
Name[th]=ฟอร์แมตฟล็อปปี้ดิสก์
Name[ti]=ፍሎፒ ዲስክ ፎርማት ምግባር
Name[tk]=Disketi formatlaň
Name[tl]=I-format ang floppy disk
Name[to]=Founga floppy Tisi
Name[tr]=Disketi biçimlendir
Name[ts]=Fometa flopi ya disk
Name[tt]=Диски форматы
Name[tw]=Fa floppy disk no hyehyɛ mu
Name[ty]=Faito i te disk
Name[ug]=ﯓﻼ﻿ﺗﺎﻣﺭﻮﻓ ﻰﻨﯩﻜﺴﯨﺩ ﻕﺎﺸﻣﯘﻳ
Name[uk]=Відформатувати дискету
Name[ur]=۔ﮟﯾﺮﮐ ﭧﯿﻣﺭﺎﻓ ﻮﮐ ﮏﺳﮈ ﯽﭘﻼ﻿ﻓ
Name[uz]=Floppy diskni formatlash
Name[vi]=Định dạng đĩa mềm
Name[xh]=Fomata ifloppy disk
Name[yi]=קסיד יפּאַלפ טאַמראָפֿ
Name[yo]=Kika floppy disk
Name[zh]=格式化软盘
Name[zu]=Fometha i-floppy disk
Name=Format floppy disk
Icon=mini-diskette.xpm
Comment[de]=Diskette formatieren
Comment[af]=Formateer disket
Comment[am]=የፍሎፒ ዲስክን ይቅረጹ
Comment[ar]=ﻥﺮﻤﻟﺍ ﺹﺮﻘﻟﺍ ﻖﻴﺴﻨﺗ
Comment[as]=ফ্লপি ডিস্ক ফৰ্মেট কৰক
Comment[ay]=Disquete ukar formato uñt’ayaña
Comment[az]=Floppy diski formatlayın
Comment[ba]=Форматлы флоппи диск
Comment[be]=Адфарматаваць дыскету
Comment[bg]=Форматиране на флопи диск
Comment[bm]=Disquette (disquette) cogoya
Comment[bn]=ফ্লপি ডিস্ক ফরম্যাট করুন
Comment[bo]=རྣམ་པ་འདྲ་མིན་སྣ་ཚོགས་ཀྱི་ཁབ་ལེན་སྡེར་མ།
Comment[bs]=Formatirajte disketu
Comment[ca]=Formateu el disquet
Comment[co]=Formate un dischettu
Comment[cs]=Naformátujte disketu
Comment[cy]=Fformat disg hyblyg
Comment[da]=Formater diskette
Comment[dv]=ންރުކުޓްމެފޯ ކްސްޑި ޕީލޮފް
Comment[ee]=Trɔ asi le floppy disk ŋu
Comment[el]=Μορφοποίηση δισκέτας
Comment[eo]=Formatu disketon
Comment[es]=Formatear disquete
Comment[et]=Vormindage diskett
Comment[eu]=Formateatu disketea
Comment[fa]=ﺪﯿﻨﮐ ﺖﻣﺮﻓ ﺍﺭ ﯽﭘﻼ﻿ﻓ ﮏﺴﯾﺩ
Comment[fi]=Alusta levyke
Comment[fj]=Tuvanaka na floppy disk
Comment[fo]=Format floppy disk
Comment[fr]=Formater une disquette
Comment[fy]=Opmaak diskette
Comment[ga]=Formáid diosca flapach
Comment[gd]=Fòrmat an diosg floppy
Comment[gl]=Formatear disquete
Comment[gn]=Emohenda disquete
Comment[gu]=ફ્લોપી ડિસ્કને ફોર્મેટ કરો
Comment[ha]=Tsarin floppy disk
Comment[he]=ןוטילקתה תא טמרפ
Comment[hi]=फ्लॉपी डिस्क को फॉर्मेट करें
Comment[hr]=Formatirajte disketu
Comment[ht]=Fòma diskèt la
Comment[hu]=Hajlékonylemez formázása
Comment[hy]=Ձևաչափեք անգործունյա սկավառակը
Comment[id]=Memformat disket
Comment[ig]=Hazie floppy diski
Comment[is]=Forsníða diskling
Comment[it]=Formattare il dischetto
Comment[iu]=ᐋᖅᑭᒃᓯᒪᓗᓂ ᓂᕈᒥᒃᑐᒧᑦ ᓂᕈᒻᒫᒃᑯᑎ
Comment[ja]=フロッピーディスクをフォーマットする
Comment[jv]=Format floppy disk
Comment[ka]=ფლოპი დისკის ფორმატირება
Comment[kk]=Иілгіш дискіні пішімдеу
Comment[km]=ធ្វើទ្រង់ទ្រាយថាសទន់
Comment[kn]=ಫ್ಲಾಪಿ ಡಿಸ್ಕ್ ಅನ್ನು ಫಾರ್ಮ್ಯಾಟ್ ಮಾಡಿ
Comment[ko]=플로피 디스크 포맷
Comment[ku]=Floppy dîskê format bikin
Comment[ky]=Формат дискета
Comment[la]=Forma floppy orbis
Comment[lb]=Formatéiert Diskett
Comment[lg]=Fomatika disiki ya floppy
Comment[ln]=Format disquette ya kosala
Comment[lo]=Format floppy disk
Comment[lt]=Suformatuoti diskelį
Comment[lv]=Formatējiet disketi
Comment[mg]=Format kapila floppy
Comment[mi]=Whakahōputu kōpae pīngore
Comment[mk]=Форматирајте флопи диск
Comment[ml]=ഫ്ലോപ്പി ഡിസ്ക് ഫോർമാറ്റ് ചെയ്യുക
Comment[mn]=Уян дискийг форматлах
Comment[mr]=फ्लॉपी डिस्कचे स्वरूपन करा
Comment[ms]=Format cakera liut
Comment[mt]=Format floppy disk
Comment[my]=ဖလော်ပီဒစ်ကို ဖော်မတ်လုပ်ပါ။
Comment[ne]=फ्लपी डिस्क ढाँचा गर्नुहोस्
Comment[nl]=Formatteer de diskette
Comment[no]=Formater diskett
Comment[ny]=Sinthani floppy disk
Comment[om]=Floppii diskiin foormaatii gochuu
Comment[or]=ଫ୍ଲପି ଡିସ୍କ ଫର୍ମାଟ୍ କରନ୍ତୁ |
Comment[pa]=ਫਲਾਪੀ ਡਿਸਕ ਨੂੰ ਫਾਰਮੈਟ ਕਰੋ
Comment[pl]=Sformatuj dyskietkę
Comment[ps]=ﻪڼﺑ ﮏﺴﯾډ ﻲﭘﻼ﻿ﻓ ﺩ
Comment[pt]=Formatar disquete
Comment[qu]=Disquete nisqa formato ruway
Comment[ro]=Formatați discheta
Comment[ru]=Отформатировать дискету
Comment[rw]=Fata disiki
Comment[sa]=फ्लॉपी डिस्क प्रारूपं कुर्वन्तु
Comment[sd]=ڪﺳڊ ﻲﭘﻼ﻿ﻓ ٽﻴﻣﺭﺎﻓ
Comment[si]=floppy disk ආකෘතිකරණය කරන්න
Comment[sk]=Naformátujte disketu
Comment[sl]=Formatirajte disketo
Comment[sm]=Fausia tisiki floppy
Comment[sn]=Fomati floppy disk
Comment[so]=U qaabeeya diskka
Comment[sq]=Formatoni disketën
Comment[st]=Fomata floppy disk
Comment[su]=Format floppy disk
Comment[sv]=Formatera diskett
Comment[sw]=Fomati diski ya floppy
Comment[ta]=நெகிழ் வட்டை வடிவமைக்கவும்
Comment[te]=ఫ్లాపీ డిస్క్u200cను ఫార్మాట్ చేయండి
Comment[tg]=Диски нармиро формат кунед
Comment[th]=ฟอร์แมตฟล็อปปี้ดิสก์
Comment[ti]=ፍሎፒ ዲስክ ፎርማት ምግባር
Comment[tk]=Disketi formatlaň
Comment[tl]=I-format ang floppy disk
Comment[to]=Founga floppy Tisi
Comment[tr]=Disketi biçimlendir
Comment[ts]=Fometa flopi ya disk
Comment[tt]=Диски форматы
Comment[tw]=Fa floppy disk no hyehyɛ mu
Comment[ty]=Faito i te disk
Comment[ug]=ﯓﻼ﻿ﺗﺎﻣﺭﻮﻓ ﻰﻨﯩﻜﺴﯨﺩ ﻕﺎﺸﻣﯘﻳ
Comment[uk]=Відформатувати дискету
Comment[ur]=۔ﮟﯾﺮﮐ ﭧﯿﻣﺭﺎﻓ ﻮﮐ ﮏﺳﮈ ﯽﭘﻼ﻿ﻓ
Comment[uz]=Floppy diskni formatlash
Comment[vi]=Định dạng đĩa mềm
Comment[xh]=Fomata ifloppy disk
Comment[yi]=קסיד יפּאַלפ טאַמראָפֿ
Comment[yo]=Kika floppy disk
Comment[zh]=格式化软盘
Comment[zu]=Fometha i-floppy disk
Comment=Format floppy disk
Exec=floppy-format.sh
Terminal=false
Type=Application
Categories=X-System-storage
GenericName=Format floppy disk
