[Desktop Entry]
Encoding=UTF-8
Name[fr]=Définir le nom d'hôte de ce PC
Name[bg]=Задаване на име на хост на този компютър
Name[de]=Hostnamen dieses Computers festlegen
Name[es]=Hostname-set: definir el nombre de host del equipo
Name[ru]=Задаване на име на хост на този компютър
Name[af]=Stel gasheernaam van hierdie rekenaar
Name[am]=የዚህን ኮምፒውተር አስተናጋጅ ስም አዘጋጅ
Name[ar]=ﺮﺗﻮﻴﺒﻤﻜﻟﺍ ﺍﺬﻬﻟ ﻒﻴﻀﻣ ﻢﺳﺍ ﻦﻴﻴﻌﺗ
Name[as]=এই কমপিউটাৰৰ গৃহস্থৰ নাম নিৰ্ধাৰণ কৰক
Name[ay]=Aka computadora ukan hostname ukar uñt’ayaña
Name[az]=Bu kompüterin host adını təyin edin
Name[ba]=Был компьютерҙың хостнамаһын ҡуйығыҙ
Name[be]=Усталюйце імя хоста гэтага кампутара
Name[bm]=Ɔridinatɛri in jatigila tɔgɔ sigi
Name[bn]=এই কম্পিউটারের হোস্টনেম সেট করুন
Name[bo]=རྩིས་འཁོར་འདིའི་བདག་པོའི་མིང་གཏན་འཁེལ་བྱས།
Name[bs]=Postavite ime hosta ovog računara
Name[ca]=Estableix el nom damfitrió daquest ordinador
Name[co]=Stabilite u nome dospite di stu computer
Name[cs]=Nastavte název hostitele tohoto počítače
Name[cy]=Gosod enw gwesteiwr y cyfrifiadur hwn
Name[da]=Indstil værtsnavnet på denne computer
Name[dv]=ންރުކުޓްސެ ންނަޓްސްހޯ ގެރުޓައުޕިމްކޮ މި
Name[ee]=Ðo kɔmpiuta sia ƒe hostname
Name[el]=Ορισμός ονόματος κεντρικού υπολογιστή αυτού του υπολογιστή
Name[eo]=Agordu gastigan nomon de ĉi tiu komputilo
Name[et]=Määra selle arvuti hostinimi
Name[eu]=Ezarri ordenagailu honen ostalari-izena
Name[fa]=ﺪﯿﻨﮐ ﻢﯿﻈﻨﺗ ﺍﺭ ﻪﻧﺎﯾﺍﺭ ﻦﯾﺍ ﻥﺎﺑﺰﯿﻣ ﻡﺎﻧ
Name[fi]=Aseta tämän tietokoneen isäntänimi
Name[fj]=Tuvanaka na yaca ni itaukei ni kompiuta oqo
Name[fo]=Set hostname av hesi telduni.
Name[fy]=Stel hostnamme fan dizze kompjûter yn
Name[ga]=Socraigh óstainm an ríomhaire seo
Name[gd]=Suidhich ainm òstair a choimpiutair seo
Name[gl]=Establece o nome de host deste ordenador
Name[gn]=Emohenda ko komputadóra karameg̃ua réra
Name[gu]=આ કમ્પ્યુટરનું હોસ્ટનામ સેટ કરો
Name[ha]=Saita sunan mai masaukin wannan kwamfutar
Name[he]=הז בשחמ לש חראמה םש תא רדגה
Name[hi]=इस कंप्यूटर का होस्टनाम सेट करें
Name[hr]=Postavite naziv glavnog računala
Name[ht]=Mete non host nan òdinatè sa a
Name[hu]=Állítsa be a számítógép gazdagépnevét
Name[hy]=Սահմանեք այս համակարգչի հոսթի անունը
Name[id]=Tetapkan nama host komputer ini
Name[ig]=Tọọ aha nnabata nke kọmpụta a
Name[is]=Stilltu hýsingarheiti þessarar tölvu
Name[it]=Imposta il nome host di questo computer
Name[iu]=ᖃᕆᓴᐅᔭᐅᑉ ᐊᑎᖓᓂᒃ ᐋᖅᑭᒃᓯᓗᑎᑦ
Name[ja]=このコンピュータのホスト名を設定する
Name[jv]=Setel jeneng host komputer iki
Name[ka]=დააყენეთ ამ კომპიუტერის ჰოსტის სახელი
Name[kk]=Осы компьютердің хост атауын орнатыңыз
Name[km]=កំណត់ឈ្មោះម៉ាស៊ីនរបស់កុំព្យូទ័រនេះ។
Name[kn]=ಈ ಕಂಪ್ಯೂಟರ್u200cನ ಹೋಸ್ಟ್ ಹೆಸರನ್ನು ಹೊಂದಿಸಿ
Name[ko]=이 컴퓨터의 호스트 이름 설정
Name[ku]=Navê mêvandarê vê komputerê saz bike
Name[ky]=Бул компьютердин хост атын коюңуз
Name[la]=Set hostname huius computatrum
Name[lb]=Setzt den Hostnumm vun dësem Computer
Name[lg]=Teeka erinnya lyomukozi wa kompyuta eno
Name[ln]=Set kombo ya hôte ya ordinateur oyo
Name[lo]=ຕັ້ງຊື່ໂຮດຂອງຄອມພິວເຕີເຄື່ອງນີ້
Name[lt]=Nustatyti šio kompiuterio pagrindinio kompiuterio pavadinimą
Name[lv]=Iestatiet šī datora resursdatora nosaukumu
Name[mg]=Mametraha anaranny mpampiantrano anity solosaina ity
Name[mi]=Tautuhi ingoa kaihautu o tenei rorohiko
Name[mk]=Поставете име на домаќин на овој компјутер
Name[ml]=ഈ കമ്പ്യൂട്ടറിന്റെ ഹോസ്റ്റ്നാമം സജ്ജമാക്കുക
Name[mn]=Энэ компьютерийн хост нэрийг тохируулна уу
Name[mr]=या संगणकाचे होस्टनाव सेट करा
Name[ms]=Tetapkan nama hos komputer ini
Name[mt]=Issettja l-hostname ta dan il-kompjuter
Name[my]=ဤကွန်ပျူတာ၏ hostname ကိုသတ်မှတ်ပါ။
Name[ne]=यो कम्प्युटरको होस्टनाम सेट गर्नुहोस्
Name[nl]=Stel de hostnaam van deze computer in
Name[no]=Angi vertsnavnet til denne datamaskinen
Name[ny]=Khazikitsani dzina lapakompyutayi
Name[om]=Maqaa keessummeessituu kompitara kanaa saagi
Name[or]=ଏହି କମ୍ପ୍ୟୁଟରର ହୋଷ୍ଟନାମ ସେଟ୍ କରନ୍ତୁ |
Name[pa]=ਇਸ ਕੰਪਿਊਟਰ ਦਾ ਹੋਸਟ ਨਾਂ ਸੈੱਟ ਕਰੋ
Name[pl]=Ustaw nazwę hosta tego komputera
Name[ps]=ﺉړﮐ ﻢﯿﻈﻨﺗ ﻡﻮﻧ ﻪﺑﺭﻮﮐ ﺮټﻮﯿﭙﻤﮐ ﯤﺩ ﺩ
Name[pt]=Definir nome de host deste computador
Name[qu]=Kay computadorap hostname nisqa sutinta churay
Name[ro]=Setați numele de gazdă pentru acest computer
Name[rw]=Shiraho izina ryakiriwe rya mudasobwa
Name[sa]=अस्य सङ्गणकस्य होस्ट्नाम सेट् कुर्वन्तु
Name[sd]=ﻮﻳﺮڪ ﺭﺮﻘﻣ ﻮﻟﺎﻧ ﻥﺎﺑﺰﻴﻣ ﻮﺟ ﺮٽﻮﻴﭙﻤڪ ﻦﻫ
Name[si]=මෙම පරිගණකයේ සත්කාරක නාමය සකසන්න
Name[sk]=Nastavte názov hostiteľa tohto počítača
Name[sl]=Nastavite ime gostitelja tega računalnika
Name[sm]=Seti le igoa talimalo o lenei komepiuta
Name[sn]=Seta zita remugadziri wekombuta iyi
Name[so]=Deji magaca martida ee kombiyuutarkan
Name[sq]=Cakto emrin e hostit të këtij kompjuteri
Name[st]=Beha lebitso la moamoheli komporong ena
Name[su]=Setel hostname komputer ieu
Name[sv]=Ange värdnamn för den här datorn
Name[sw]=Weka jina la mpangishi wa kompyuta hii
Name[ta]=இந்த கணினியின் ஹோஸ்ட்பெயரை அமைக்கவும்
Name[te]=ఈ కంప్యూటర్ యొక్క హోస్ట్ పేరుని సెట్ చేయండి
Name[tg]=Номи мизбони ин компютерро таъин кунед
Name[th]=ตั้งชื่อโฮสต์ของคอมพิวเตอร์เครื่องนี้
Name[ti]=ናይዛ ኮምፒተር ስም ኣአንጋዲ ኣቐምጥ
Name[tk]=Bu kompýuteriň host adyny düzüň
Name[tl]=Itakda ang hostname ng computer na ito
Name[to]=Fokotuʻu e hostname ʻo e komipiuta ko ʻeni
Name[tr]=Bu bilgisayarın ana bilgisayar adını ayarla
Name[ts]=Seta vito ra host ya khompyuta leyi
Name[tt]=Бу санакның хост исемен куегыз
Name[tw]=Set hostname a ɛwɔ kɔmputa yi so
Name[ty]=Tuu i te ioa o teie matini roro uira
Name[ug]=ﯓەﻠﯩﮕﻟەﺑ ﻰﻨﯩﻣﺎﻧ ﺵﺎﺑ ﯔﯩﻧﺮﯧﺗﯘﻴﭙﻣﻮﻛ ﯘﺑ
Name[uk]=Встановіть імя хоста цього компютера
Name[ur]=۔ﮟﯾﺮﮐ ﭧﯿﺳ ﻡﺎﻧ ﻥﺎﺑﺰﯿﻣ ﺎﮐ ﺮﭨﻮﯿﭙﻤﮐ ﺱﺍ
Name[uz]=Ushbu kompyuterning xost nomini ornating
Name[vi]=Đặt tên máy chủ của máy tính này
Name[xh]=Cwangcisa igama lenginginya yale khompyutha
Name[yi]=רעטויפּמאָק םעד ןופ עמאַנטסאָה ןלעטש
Name[yo]=Ṣeto orukọ olupin ti kọnputa yii
Name[zh]=设置这台计算机的主机名
Name[zu]=Setha igama lomethuleli wale khompyutha
Name=Set hostname of this computer
Icon=mini-hostname.xpm
Comment[fr]=Définir le nom d'hôte de ce PC
Comment[bg]=Задаване на име на хост на този компютър
Comment[de]=Hostnamen dieses Computers festlegen
Comment[es]=Hostname-set: definir el nombre de host del equipo
Comment[ru]=Задаване на име на хост на този компютър
Comment[af]=Stel gasheernaam van hierdie rekenaar
Comment[am]=የዚህን ኮምፒውተር አስተናጋጅ ስም አዘጋጅ
Comment[ar]=ﺮﺗﻮﻴﺒﻤﻜﻟﺍ ﺍﺬﻬﻟ ﻒﻴﻀﻣ ﻢﺳﺍ ﻦﻴﻴﻌﺗ
Comment[as]=এই কমপিউটাৰৰ গৃহস্থৰ নাম নিৰ্ধাৰণ কৰক
Comment[ay]=Aka computadora ukan hostname ukar uñt’ayaña
Comment[az]=Bu kompüterin host adını təyin edin
Comment[ba]=Был компьютерҙың хостнамаһын ҡуйығыҙ
Comment[be]=Усталюйце імя хоста гэтага кампутара
Comment[bm]=Ɔridinatɛri in jatigila tɔgɔ sigi
Comment[bn]=এই কম্পিউটারের হোস্টনেম সেট করুন
Comment[bo]=རྩིས་འཁོར་འདིའི་བདག་པོའི་མིང་གཏན་འཁེལ་བྱས།
Comment[bs]=Postavite ime hosta ovog računara
Comment[ca]=Estableix el nom damfitrió daquest ordinador
Comment[co]=Stabilite u nome dospite di stu computer
Comment[cs]=Nastavte název hostitele tohoto počítače
Comment[cy]=Gosod enw gwesteiwr y cyfrifiadur hwn
Comment[da]=Indstil værtsnavnet på denne computer
Comment[dv]=ންރުކުޓްސެ ންނަޓްސްހޯ ގެރުޓައުޕިމްކޮ މި
Comment[ee]=Ðo kɔmpiuta sia ƒe hostname
Comment[el]=Ορισμός ονόματος κεντρικού υπολογιστή αυτού του υπολογιστή
Comment[eo]=Agordu gastigan nomon de ĉi tiu komputilo
Comment[et]=Määra selle arvuti hostinimi
Comment[eu]=Ezarri ordenagailu honen ostalari-izena
Comment[fa]=ﺪﯿﻨﮐ ﻢﯿﻈﻨﺗ ﺍﺭ ﻪﻧﺎﯾﺍﺭ ﻦﯾﺍ ﻥﺎﺑﺰﯿﻣ ﻡﺎﻧ
Comment[fi]=Aseta tämän tietokoneen isäntänimi
Comment[fj]=Tuvanaka na yaca ni itaukei ni kompiuta oqo
Comment[fo]=Set hostname av hesi telduni.
Comment[fy]=Stel hostnamme fan dizze kompjûter yn
Comment[ga]=Socraigh óstainm an ríomhaire seo
Comment[gd]=Suidhich ainm òstair a choimpiutair seo
Comment[gl]=Establece o nome de host deste ordenador
Comment[gn]=Emohenda ko komputadóra karameg̃ua réra
Comment[gu]=આ કમ્પ્યુટરનું હોસ્ટનામ સેટ કરો
Comment[ha]=Saita sunan mai masaukin wannan kwamfutar
Comment[he]=הזה בשחמה לש חראמה םש תא רדגה
Comment[hi]=इस कंप्यूटर का होस्टनाम सेट करें
Comment[hr]=Postavite naziv glavnog računala
Comment[ht]=Mete non host nan òdinatè sa a
Comment[hu]=Állítsa be a számítógép gazdagépnevét
Comment[hy]=Սահմանեք այս համակարգչի հոսթի անունը
Comment[id]=Tetapkan nama host komputer ini
Comment[ig]=Tọọ aha nnabata nke kọmpụta a
Comment[is]=Stilltu hýsingarheiti þessarar tölvu
Comment[it]=Imposta il nome host di questo computer
Comment[iu]=ᖃᕆᓴᐅᔭᐅᑉ ᐊᑎᖓᓂᒃ ᐋᖅᑭᒃᓯᓗᑎᑦ
Comment[ja]=このコンピュータのホスト名を設定する
Comment[jv]=Setel jeneng host komputer iki
Comment[ka]=დააყენეთ ამ კომპიუტერის ჰოსტის სახელი
Comment[kk]=Осы компьютердің хост атауын орнатыңыз
Comment[km]=កំណត់ឈ្មោះម៉ាស៊ីនរបស់កុំព្យូទ័រនេះ។
Comment[kn]=ಈ ಕಂಪ್ಯೂಟರ್u200cನ ಹೋಸ್ಟ್ ಹೆಸರನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=이 컴퓨터의 호스트 이름 설정
Comment[ku]=Navê mêvandarê vê komputerê saz bike
Comment[ky]=Бул компьютердин хост атын коюңуз
Comment[la]=Set hostname huius computatrum
Comment[lb]=Setzt den Hostnumm vun dësem Computer
Comment[lg]=Teeka erinnya lyomukozi wa kompyuta eno
Comment[ln]=Set kombo ya hôte ya ordinateur oyo
Comment[lo]=ຕັ້ງຊື່ໂຮດຂອງຄອມພິວເຕີເຄື່ອງນີ້
Comment[lt]=Nustatyti šio kompiuterio pagrindinio kompiuterio pavadinimą
Comment[lv]=Iestatiet šī datora resursdatora nosaukumu
Comment[mg]=Mametraha anaranny mpampiantrano anity solosaina ity
Comment[mi]=Tautuhi ingoa kaihautu o tenei rorohiko
Comment[mk]=Поставете име на домаќин на овој компјутер
Comment[ml]=ഈ കമ്പ്യൂട്ടറിന്റെ ഹോസ്റ്റ്നാമം സജ്ജമാക്കുക
Comment[mn]=Энэ компьютерийн хост нэрийг тохируулна уу
Comment[mr]=या संगणकाचे होस्टनाव सेट करा
Comment[ms]=Tetapkan nama hos komputer ini
Comment[mt]=Issettja l-hostname ta dan il-kompjuter
Comment[my]=ဤကွန်ပျူတာ၏ hostname ကိုသတ်မှတ်ပါ။
Comment[ne]=यो कम्प्युटरको होस्टनाम सेट गर्नुहोस्
Comment[nl]=Stel de hostnaam van deze computer in
Comment[no]=Angi vertsnavnet til denne datamaskinen
Comment[ny]=Khazikitsani dzina lapakompyutayi
Comment[om]=Maqaa keessummeessituu kompitara kanaa saagi
Comment[or]=ଏହି କମ୍ପ୍ୟୁଟରର ହୋଷ୍ଟନାମ ସେଟ୍ କରନ୍ତୁ |
Comment[pa]=ਇਸ ਕੰਪਿਊਟਰ ਦਾ ਹੋਸਟ ਨਾਂ ਸੈੱਟ ਕਰੋ
Comment[pl]=Ustaw nazwę hosta tego komputera
Comment[ps]=ﺉړﮐ ﻢﯿﻈﻨﺗ ﻡﻮﻧ ﻪﺑﺭﻮﮐ ﺮټﻮﯿﭙﻤﮐ ﯤﺩ ﺩ
Comment[pt]=Definir nome de host deste computador
Comment[qu]=Kay computadorap hostname nisqa sutinta churay
Comment[ro]=Setați numele de gazdă pentru acest computer
Comment[rw]=Shiraho izina ryakiriwe rya mudasobwa
Comment[sa]=अस्य सङ्गणकस्य होस्ट्नाम सेट् कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ﺭﺮﻘﻣ ﻮﻟﺎﻧ ﻥﺎﺑﺰﻴﻣ ﻮﺟ ﺮٽﻮﻴﭙﻤڪ ﻦﻫ
Comment[si]=මෙම පරිගණකයේ සත්කාරක නාමය සකසන්න
Comment[sk]=Nastavte názov hostiteľa tohto počítača
Comment[sl]=Nastavite ime gostitelja tega računalnika
Comment[sm]=Seti le igoa talimalo o lenei komepiuta
Comment[sn]=Seta zita remugadziri wekombuta iyi
Comment[so]=Deji magaca martida ee kombiyuutarkan
Comment[sq]=Cakto emrin e hostit të këtij kompjuteri
Comment[st]=Beha lebitso la moamoheli komporong ena
Comment[su]=Setel hostname komputer ieu
Comment[sv]=Ange värdnamn för den här datorn
Comment[sw]=Weka jina la mpangishi wa kompyuta hii
Comment[ta]=இந்த கணினியின் ஹோஸ்ட்பெயரை அமைக்கவும்
Comment[te]=ఈ కంప్యూటర్ యొక్క హోస్ట్ పేరుని సెట్ చేయండి
Comment[tg]=Номи мизбони ин компютерро таъин кунед
Comment[th]=ตั้งชื่อโฮสต์ของคอมพิวเตอร์เครื่องนี้
Comment[ti]=ናይዛ ኮምፒተር ስም ኣአንጋዲ ኣቐምጥ
Comment[tk]=Bu kompýuteriň host adyny düzüň
Comment[tl]=Itakda ang hostname ng computer na ito
Comment[to]=Fokotuʻu e hostname ʻo e komipiuta ko ʻeni
Comment[tr]=Bu bilgisayarın ana bilgisayar adını ayarla
Comment[ts]=Seta vito ra host ya khompyuta leyi
Comment[tt]=Бу санакның хост исемен куегыз
Comment[tw]=Set hostname a ɛwɔ kɔmputa yi so
Comment[ty]=Tuu i te ioa o teie matini roro uira
Comment[ug]=ﯓەﻠﯩﮕﻟەﺑ ﻰﻨﯩﻣﺎﻧ ﺵﺎﺑ ﯔﯩﻧﺮﯧﺗﯘﻴﭙﻣﻮﻛ ﯘﺑ
Comment[uk]=Встановіть імя хоста цього компютера
Comment[ur]=۔ﮟﯾﺮﮐ ﭧﯿﺳ ﻡﺎﻧ ﻥﺎﺑﺰﯿﻣ ﺎﮐ ﺮﭨﻮﯿﭙﻤﮐ ﺱﺍ
Comment[uz]=Ushbu kompyuterning xost nomini ornating
Comment[vi]=Đặt tên máy chủ của máy tính này
Comment[xh]=Cwangcisa igama lenginginya yale khompyutha
Comment[yi]=רעטויפּמאָק םעד ןופ עמאַנטסאָה ןלעטש
Comment[yo]=Ṣeto orukọ olupin ti kọnputa yii
Comment[zh]=设置这台计算机的主机名
Comment[zu]=Setha igama lomethuleli wale khompyutha
Comment=Set hostname of this computer
Exec=hostname-set
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=hostname-set
