[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer votre identifiant
Name[bg]=Мениджър за влизане и защита
Name[de]=Anmelde- und Sicherheitsmanager
Name[es]=LoginManager: configurar sesión y seguridad
Name[ru]=Мениджър за влизане и защита
Name[af]=Aanmelding en sekuriteitsbestuurder
Name[am]=የመግቢያ እና የደህንነት አስተዳዳሪ
Name[ar]=ﻥﺎﻣﻷ﻿ﺍﻭ ﻝﻮﺧﺪﻟﺍ ﻞﻴﺠﺴﺗ ﺮﻳﺪﻣ
Name[as]=লগইন আৰু সুৰক্ষা ব্যৱস্থাপক
Name[ay]=Uñt’ayañataki ukhamaraki Seguridad Gestor
Name[az]=Giriş və Təhlükəsizlik Meneceri
Name[ba]=Логин һәм хәүефһеҙлек буйынса идарасы
Name[be]=Менеджэр ўваходу і бяспекі
Name[bm]=Donni ni Lakanali ɲɛmɔgɔ
Name[bn]=লগইন এবং নিরাপত্তা ব্যবস্থাপক
Name[bo]=ཐོ་འགོད་དང་བདེ་འཇགས་དོ་དམ་མི་སྣ།
Name[bs]=Upravitelj prijave i sigurnosti
Name[ca]=Gestor dinici de sessió i seguretat
Name[co]=Login è Manager di Sicurezza
Name[cs]=Správce přihlášení a zabezpečení
Name[cy]=Rheolwr Mewngofnodi a Diogelwch
Name[da]=Login og sikkerhedsmanager
Name[dv]=ރޖަނޭމެ ޓީރިއުކިސެ ޑްންއެ ންގިލޮ
Name[ee]=Geɖe Kple Dedienɔnɔ Dzikpɔla
Name[el]=Διαχειριστής σύνδεσης και ασφάλειας
Name[eo]=Ensalutu kaj Sekureca Administranto
Name[et]=Sisselogimine ja turvahaldur
Name[eu]=Saioa hasteko eta segurtasun kudeatzailea
Name[fa]=ﺖﯿﻨﻣﺍ ﻭ ﺩﻭﺭﻭ ﺮﯾﺪﻣ
Name[fi]=Kirjautuminen ja suojauspäällikkö
Name[fj]=Manidia ni Curu kei na Veitaqomaki
Name[fo]=Login og Security Manager
Name[fy]=Oanmelde en Feiligens Manager
Name[ga]=Bainisteoir Logáil Isteach agus Slándála
Name[gd]=Log a-steach agus manaidsear tèarainteachd
Name[gl]=Xestor de inicio de sesión e seguridade
Name[gn]=Oike ha Seguridad Moakãhára
Name[gu]=લૉગિન અને સુરક્ષા વ્યવસ્થાપક
Name[ha]=Login da Tsaro Manager
Name[he]=החטבאו הסינכ להנמ
Name[hi]=लॉगिन और सुरक्षा प्रबंधक
Name[hr]=Upravitelj prijave i sigurnosti
Name[ht]=Login ak Manadjè Sekirite
Name[hu]=Bejelentkezés és biztonsági menedzser
Name[hy]=Մուտք և անվտանգության կառավարիչ
Name[id]=Login dan Manajer Keamanan
Name[ig]=Nbanye na nchekwa njikwa
Name[is]=Innskráningar- og öryggisstjóri
Name[it]=Login e responsabile della sicurezza
Name[iu]=ᐃᓯᕈᑎᓄᑦ ᐊᑦᑕᕐᓇᖅᑐᒦᑎᑦᑕᐃᓕᓂᕐᒧᓪᓗ ᐊᐅᓚᑦᑎᔨ
Name[ja]=ログインおよびセキュリティマネージャー
Name[jv]=Login lan Manager Keamanan
Name[ka]=შესვლა და უსაფრთხოების მენეჯერი
Name[kk]=Кіру және қауіпсіздік менеджері
Name[km]=ចូល និងអ្នកគ្រប់គ្រងសុវត្ថិភាព
Name[kn]=ಲಾಗಿನ್ ಮತ್ತು ಭದ್ರತಾ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=로그인 및 보안 관리자
Name[ku]=Têketin û Rêveberê Ewlekariyê
Name[ky]=Кирүү жана коопсуздук менеджери
Name[la]=Login and Security Manager
Name[lb]=Login a Sécherheet Manager
Name[lg]=Omuddukanya Okuyingira nObukuumi
Name[ln]=Mokambi ya Bokɔti mpe ya Bobateli
Name[lo]=ເຂົ້າສູ່ລະບົບແລະຜູ້ຈັດການຄວາມປອດໄພ
Name[lt]=Prisijungimo ir saugos vadybininkas
Name[lv]=Pieteikšanās un drošības pārvaldnieks
Name[mg]=Login sy Security Manager
Name[mi]=Takiuru me te Kaiwhakahaere Haumarutanga
Name[mk]=Менаџер за најавување и безбедност
Name[ml]=ലോഗിൻ, സെക്യൂരിറ്റി മാനേജർ
Name[mn]=Нэвтрэх ба аюулгүй байдлын менежер
Name[mr]=लॉगिन आणि सुरक्षा व्यवस्थापक
Name[ms]=Log Masuk dan Pengurus Keselamatan
Name[mt]=Login u Maniġer tas-Sigurtà
Name[my]=အကောင့်ဝင်ခြင်းနှင့် လုံခြုံရေးမန်နေဂျာ
Name[ne]=लगइन र सुरक्षा प्रबन्धक
Name[nl]=Inloggen en Beveiligingsbeheer
Name[no]=Innloggings- og sikkerhetsansvarlig
Name[ny]=Login ndi Security Manager
Name[om]=Hogganaa Galmee fi Nageenyaa
Name[or]=ଲଗଇନ୍ ଏବଂ ସୁରକ୍ଷା ପରିଚାଳକ |
Name[pa]=ਲੌਗਇਨ ਅਤੇ ਸੁਰੱਖਿਆ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer logowania i bezpieczeństwa
Name[ps]=ﺮﯾﺪﻣ ﺖﯿﻨﻣﺍ ﻭﺍ ﻮﻠﺗﻮﻨﻧ ﺩ
Name[pt]=Login e Gestor de Segurança
Name[qu]=Yaykuna chaymanta Seguridad kamachiq
Name[ro]=Logare și Manager de securitate
Name[rw]=Injira nUmuyobozi ushinzwe umutekano
Name[sa]=प्रवेशः सुरक्षाप्रबन्धकः च
Name[sd]=ﺮﺠﻴﻨﺌﻣ ﻲٽﺭﻮﻴڪﻴﺳ ۽ ﻥﺍ ﮒﻻ﻿
Name[si]=පුරනය වීම සහ ආරක්ෂක කළමනාකරු
Name[sk]=Správca prihlásenia a zabezpečenia
Name[sl]=Upravitelj prijave in varnosti
Name[sm]=Ulufale ma Pule Puipui
Name[sn]=Login uye Security Manager
Name[so]=Login and Security Manager
Name[sq]=Menaxheri i hyrjes dhe sigurisë
Name[st]=Motsamaisi oa Kena le Tsireletso
Name[su]=Login sareng Manajer Kaamanan
Name[sv]=Inloggnings- och säkerhetsansvarig
Name[sw]=Kidhibiti cha Kuingia na Usalama
Name[ta]=உள்நுழைவு மற்றும் பாதுகாப்பு மேலாளர்
Name[te]=లాగిన్ మరియు సెక్యూరిటీ మేనేజర్
Name[tg]=Воридшавӣ ва менеҷери амният
Name[th]=เข้าสู่ระบบและตัวจัดการความปลอดภัย
Name[ti]=ናይ ምእታውን ድሕነትን ኣካያዲ
Name[tk]=Giriş we Howpsuzlyk Dolandyryjysy
Name[tl]=Login at Security Manager
Name[to]=Pule login mo e maluʻi
Name[tr]=Oturum Açma ve Güvenlik Yöneticisi
Name[ts]=Mufambisi wa ku Nghena na Vuhlayiseki
Name[tt]=Керү һәм куркынычсызлык менеджеры
Name[tw]=Login ne Ahobammɔ sohwɛfo
Name[ty]=Tia faatere no te mau ohipa haaparareraa parau e no te parururaa
Name[ug]=ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻚﯩﻟﺭەﺗەﺨﯩﺑ ەﯞ ﺶﯨﺮﯩﻛ
Name[uk]=Менеджер входу та безпеки
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﯽﭨﺭﻮﯿﮑﯿﺳ ﺭﻭﺍ ﻥﺍ ﮒﻻ﻿
Name[uz]=Kirish va xavfsizlik menejeri
Name[vi]=Trình quản lý đăng nhập và bảo mật
Name[xh]=Ukungena kunye noMphathi woKhuseleko
Name[yi]=רעגאַנאַמ טיַיהרעכיז ןוא ןיגאָל
Name[yo]=Buwolu wọle ati Aabo Manager
Name[zh]=登录和安全管理器
Name[zu]=Umphathi Wokungena Nokuphepha
Name=Login and Security Manager
Icon=mini-System-security.xpm
Comment[fr]=Configurer votre identifiant
Comment[bg]=LoginManager конфигуриране на вход и сигурност
Comment[de]=LoginManager konfigurieren Anmeldung und Sicherheit
Comment[es]=LoginManager: configurar sesión y seguridad
Comment[ru]=LoginManager конфигуриране на вход и сигурност
Comment[af]=LoginManager stel aanmelding en sekuriteit in
Comment[am]=LoginManager መግቢያ እና ደህንነትን ያዋቅራል።
Comment[ar]=LoginManager ﻥﺎﻣﻷ﻿ﺍﻭ ﻝﻮﺧﺪﻟﺍ ﻞﻴﺠﺴﺗ ﻦﻳﻮﻜﺗ
Comment[as]=LoginManager এ প্ৰৱেশ আৰু সুৰক্ষা বিন্যাস কৰে
Comment[ay]=LoginManager ukax mantañ ukat seguridad ukanak wakicht’i
Comment[az]=LoginManager giriş və təhlükəsizliyi konfiqurasiya edir
Comment[ba]=LoginManager конфигурацияһы логин һәм хәүефһеҙлек
Comment[be]=LoginManager наладжвае ўваход і бяспеку
Comment[bm]=LoginManager bɛ doncogo ni lakana labɛn
Comment[bn]=লগইন ম্যানেজার লগইন এবং নিরাপত্তা কনফিগার করে
Comment[bo]=LoginManager 配置 ཐོ་འགོད་དང་བདེ་འཇགས་ལ་བཀོད་སྒྲིག་བྱས།
Comment[bs]=LoginManager konfiguriše prijavu i sigurnost
Comment[ca]=LoginManager configura linici de sessió i la seguretat
Comment[co]=LoginManager cunfigurà u login è a sicurità
Comment[cs]=LoginManager konfiguruje přihlášení a zabezpečení
Comment[cy]=LoginManager ffurfweddu mewngofnodi a diogelwch
Comment[da]=LoginManager konfigurere login og sikkerhed
Comment[dv]=ންރުކު ޓްރޭގްފިންކޮ ޓީރިއުކިސެ ދިއަ ންގިލޮ ރޖަނޭމެންގިލޮ
Comment[ee]=LoginManager ɖoa gege ɖe eme kple dedienɔnɔ
Comment[el]=Το LoginManager διαμορφώνει τη σύνδεση και την ασφάλεια
Comment[eo]=LoginManager agordu ensaluton kaj sekurecon
Comment[et]=LoginManager konfigureerib sisselogimise ja turvalisuse
Comment[eu]=LoginManager saio-hasiera eta segurtasuna konfiguratu
Comment[fa]=LoginManager ﺪﻨﮐ ﯽﻣ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ ﺖﯿﻨﻣﺍ ﻭ ﻦﯿﮔﻻ﻿
Comment[fi]=LoginManager määrittää kirjautumisen ja suojauksen
Comment[fj]=CuruManager tuvanaka na curu kei na tataqomaki
Comment[fo]=LoginManager configure login and security
Comment[fy]=LoginManager konfigurearje oanmelding en feiligens
Comment[ga]=Cumraigh LoginManager logáil isteach agus slándáil
Comment[gd]=LoginManager rèiteachadh logadh a-steach agus tèarainteachd
Comment[gl]=LoginManager configura o inicio de sesión e a seguridade
Comment[gn]=LoginManager omohenda jeike ha seguridad
Comment[gu]=LoginManager લૉગિન અને સુરક્ષા ગોઠવે છે
Comment[ha]=LoginManager yana saita shiga da tsaro
Comment[he]=LoginManager החטבאו הסינכ רידגהל
Comment[hi]=LoginManager लॉगिन और सुरक्षा को कॉन्फ़िगर करता है
Comment[hr]=LoginManager konfigurira prijavu i sigurnost
Comment[ht]=LoginManager konfigirasyon login ak sekirite
Comment[hu]=A LoginManager konfigurálja a bejelentkezést és a biztonságot
Comment[hy]=LoginManager-ը կարգավորում է մուտքն ու անվտանգությունը
Comment[id]=LoginManager mengonfigurasi login dan keamanan
Comment[ig]=LoginManager na-ahazi nbanye na nchekwa
Comment[is]=LoginManager stilla innskráningu og öryggi
Comment[it]=LoginManager configura laccesso e la sicurezza
Comment[iu]=ᐃᓯᕈᑎᐊᐅᓚᑦᑎᔨ ᐋᖅᑭᒃᓱᐃᔪᖅ ᐃᓯᕈᑎᒧᑦ ᐊᒻᒪ ᐊᑦᑕᕐᓇᖅᑐᒦᑎᑦᑕᐃᓕᓂᕐᒧᑦ
Comment[ja]=LoginManager ログインとセキュリティを構成する
Comment[jv]=LoginManager ngatur login lan keamanan
Comment[ka]=LoginManager დააკონფიგურიროთ შესვლა და უსაფრთხოება
Comment[kk]=LoginManager логин мен қауіпсіздікті конфигурациялау
Comment[km]=LoginManager កំណត់រចនាសម្ព័ន្ធការចូល និងសុវត្ថិភាព
Comment[kn]=LoginManager ಲಾಗಿನ್ ಮತ್ತು ಭದ್ರತೆಯನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡುತ್ತದೆ
Comment[ko]=LoginManager 로그인 및 보안 구성
Comment[ku]=LoginManager têketin û ewlehiyê mîheng bike
Comment[ky]=LoginManager логинди жана коопсуздукту конфигурациялайт
Comment[la]=LoginManager configurare login et securitas
Comment[lb]=LoginManager konfiguréieren Login a Sécherheet
Comment[lg]=LoginManager okutegeka okuyingira nobukuumi
Comment[ln]=LoginManager ebongisi bokɔti mpe bokengi
Comment[lo]=LoginManager ຕັ້ງຄ່າການເຂົ້າສູ່ລະບົບ ແລະຄວາມປອດໄພ
Comment[lt]=LoginManager konfigūruoti prisijungimą ir saugumą
Comment[lv]=LoginManager konfigurējiet pieteikšanos un drošību
Comment[mg]=LoginManager amboary ny fidirana sy ny fiarovana
Comment[mi]=TakiuruManager whirihora takiuru me te haumarutanga
Comment[mk]=LoginManager ги конфигурира најавувањето и безбедноста
Comment[ml]=LoginManager ലോഗിനും സുരക്ഷയും ക്രമീകരിക്കുന്നു
Comment[mn]=LoginManager нь нэвтрэх болон аюулгүй байдлыг тохируулна
Comment[mr]=लॉगिन मॅनेजर लॉगिन आणि सुरक्षा कॉन्फिगर करते
Comment[ms]=LoginManager mengkonfigurasi log masuk dan keselamatan
Comment[mt]=LoginManager kkonfigurat login u sigurtà
Comment[my]=LoginManager သည် အကောင့်ဝင်ခြင်းနှင့် လုံခြုံရေးကို စီစဉ်သတ်မှတ်ပေးသည်။
Comment[ne]=लगइन प्रबन्धक कन्फिगर लगइन र सुरक्षा
Comment[nl]=LoginManager configureert login en beveiliging
Comment[no]=LoginManager konfigurere pålogging og sikkerhet
Comment[ny]=LoginManager sinthani malowedwe ndi chitetezo
Comment[om]=LoginManager galmee fi nageenya qindeessa
Comment[or]=ଲଗଇନ୍ ମ୍ୟାନେଜର୍ ଲଗଇନ୍ ଏବଂ ସୁରକ୍ଷା ବିନ୍ୟାସ କରେ |
Comment[pa]=LoginManager ਲਾਗਇਨ ਅਤੇ ਸੁਰੱਖਿਆ ਨੂੰ ਸੰਰਚਿਤ ਕਰਦਾ ਹੈ
Comment[pl]=LoginManager konfiguruje logowanie i zabezpieczenia
Comment[ps]=LoginManager ﻝﻮﮐ ﻢﯿﻈﻨﺗ ﺖﯿﻨﻣﺍ ﻭﺍ ﻮﻠﺗﻮﻨﻧ ﺩ
Comment[pt]=LoginManager configurar login e segurança
Comment[qu]=LoginManager yaykuy chaymanta waqaychasqa wakichiy
Comment[ro]=LoginManager configura autentificarea și securitatea
Comment[rw]=InjiraManager igena kwinjira numutekano
Comment[sa]=LoginManager प्रवेशं सुरक्षां च विन्यस्यति
Comment[sd]=LoginManager ﻮﻳڏ ﺐﻴﺗﺮﺗ ﻲﮐ ﻲٽﺭﻮﻴڪﻴﺳ ۽ ﻥﺍ ﮒﻻ﻿
Comment[si]=LoginManager පිවිසුම් සහ ආරක්ෂාව වින්u200dයාස කරයි
Comment[sk]=LoginManager konfiguruje prihlásenie a zabezpečenie
Comment[sl]=LoginManager konfigurira prijavo in varnost
Comment[sm]=LoginManager configure login ma saogalemu
Comment[sn]=LoginManager gadzirisa login uye chengetedzo
Comment[so]=LoginManager wuxuu habeeyaa gelitaanka iyo amniga
Comment[sq]=LoginManager konfiguron hyrjen dhe sigurinë
Comment[st]=LoginManager e lokisa ho kena le tsireletso
Comment[su]=LoginManager ngonpigurasikeun login sareng kaamanan
Comment[sv]=LoginManager konfigurera inloggning och säkerhet
Comment[sw]=LoginManager sanidi kuingia na usalama
Comment[ta]=LoginManager உள்நுழைவு மற்றும் பாதுகாப்பை உள்ளமைக்கிறது
Comment[te]=LoginManager లాగిన్ మరియు భద్రతను కాన్ఫిగర్ చేస్తుంది
Comment[tg]=LoginManager воридшавӣ ва амниятро танзим мекунад
Comment[th]=LoginManager กำหนดค่าการเข้าสู่ระบบและความปลอดภัย
Comment[ti]=LoginManager መእተዊን ድሕነትን ይውቅሮ
Comment[tk]=LoginManager giriş we howpsuzlygy düzýär
Comment[tl]=I-configure ng LoginManager ang pag-login at seguridad
Comment[to]=LoginManager configure login mo e maluʻi
Comment[tr]=LoginManager, oturum açma ve güvenliği yapılandırma
Comment[ts]=LoginManager lulamisa ku nghena na vuhlayiseki
Comment[tt]=LoginManager логин һәм куркынычсызлыкны конфигурацияли
Comment[tw]=LoginManager hyehyɛ login ne ahobammɔ
Comment[ty]=LoginManager configure login and security
Comment[ug]=LoginManager ﯗﺪﻳەﺸﯕەﺗ ﻰﻨﻜﯩﻟﺭەﺗەﺨﯩﺑ ەﯞ ﺶﯨﺮﯩﻛ
Comment[uk]=LoginManager налаштовує вхід і безпеку
Comment[ur]=۔ﮯﮨ ﺎﺘﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ ﯽﭨﺭﻮﯿﮑﯿﺳ ﺭﻭﺍ ﻥﺍ ﮒﻻ﻿ ﺮﺠﻨﯿﻣ ﻥﺍ ﮒﻻ﻿
Comment[uz]=LoginManager login va xavfsizlikni sozlang
Comment[vi]=LoginManager cấu hình đăng nhập và bảo mật
Comment[xh]=LoginManager qwalasela ukungena kunye nokhuseleko
Comment[yi]=LoginManager טיַיהרעכיז ןוא ןיגאָל רעיגיפנאַק
Comment[yo]=LoginManager tunto wiwọle ati aabo
Comment[zh]=LoginManager 配置登录和安全
Comment[zu]=I-LoginManager ilungiselela ukungena nokuvikeleka
Comment=LoginManager configure login and security
Exec=loginmanager
Terminal=false
Type=Application
Categories=X-System-security
GenericName=loginmanager
