[Desktop Entry]
Encoding=UTF-8
Name[fr]=Taille des partitions : Partview
Name[bg]=Partview свободно пространство в дискове
Name[de]=Partview-freier Speicherplatz in Laufwerken
Name[es]=Partview: ver espacio libre en las unidades
Name[ru]=Partview свободного места на дисках
Name[tr]=Partview sürücülerdeki boş alan
Name[af]=Deelbekyk vrye spasie in dryf
Name[am]=በአሽከርካሪዎች ውስጥ የክፍል እይታ ነፃ ቦታ
Name[ar]=Partview ﺹﺍﺮﻗﻷ﻿ﺍ ﺕﺎﻛﺮﺤﻣ ﻲﻓ ﺔﻴﻟﺎﺧ ﺔﺣﺎﺴﻣ
Name[as]=ড্ৰাইভসমূহত পাৰ্টভিউ মুক্ত স্থান
Name[ay]=Partview libre espacio ukax unidades ukankiwa
Name[az]=Disklərdə boş yerə hissə baxın
Name[ba]=Драйвтарҙа партневрлы буш урын
Name[be]=Partview вольнага месца на дысках
Name[bm]=Partview yɔrɔ hɔrɔnyalen in drives
Name[bn]=ড্রাইভে পার্টভিউ মুক্ত স্থান
Name[bo]=སྒུལ་ཤུགས་ཁྲོད་ཀྱི་ཆ་ཤས་ཀྱི་རང་དབང་གི་བར་སྟོང
Name[bs]=Partview slobodan prostor u pogonima
Name[ca]=Vista parcial despai lliure a les unitats
Name[co]=Partview spaziu liberu in unità
Name[cs]=Partview volné místo na jednotkách
Name[cy]=Lle rhydd Partview mewn gyriannau
Name[da]=Delvis ledig plads i drev
Name[dv]=ސްޕޭސް ރީފް އުވިޓްޕާ އިގަކުތަވްއިރަޑް
Name[ee]=Partview teƒe si le ablɔɖe me le ʋuwo me
Name[el]=Ελεύθερος χώρος Partview σε μονάδες δίσκου
Name[eo]=Partview libera spaco en diskoj
Name[et]=Osavaate vaba ruumi draivides
Name[eu]=Partview espazio librea unitateetan
Name[fa]=ﺎﻫﻮﯾﺍﺭﺩ ﺭﺩ Partview ﺩﺍﺯﺁ ﯼﺎﻀﻓ
Name[fi]=Partview vapaata tilaa asemissa
Name[fj]=Vanua ni vakatikina ena draiva
Name[fo]=Partview ókeypis pláss í koyrir.
Name[fy]=Partview frije romte yn stasjons
Name[ga]=Partview spás saor in aisce i thiomáineann
Name[gd]=Partview àite an-asgaidh ann an draibhean
Name[gl]=Espazo libre de Partview nas unidades
Name[gn]=Partview espacio libre umi unidad-pe
Name[gu]=ડ્રાઇવ્સમાં પાર્ટવ્યૂ ફ્રી સ્પેસ
Name[ha]=Rarraba sarari kyauta a cikin tutoci
Name[he]=םיננוכב יונפ קלח גצה
Name[hi]=ड्राइव में पार्टव्यू मुक्त स्थान
Name[hr]=Partview slobodnog prostora u pogonima
Name[ht]=Partview espas gratis nan kondui
Name[hu]=Partview szabad terület a meghajtókban
Name[hy]=Partview ազատ տարածություն կրիչներում
Name[id]=Partview ruang kosong di drive
Name[ig]=Partview ohere efu na draịva
Name[is]=Skoðaðu laust pláss í drifum að hluta
Name[it]=Partview dello spazio libero nelle unità
Name[iu]=ᐃᓚᖓ ᕿᒥᕐᕈᓂᖅ ᐊᑭᖃᙱᑦᑐᒥᒃ ᐃᓂᒥᒃ ᐊᖁᕝᕕᖕᓂ
Name[ja]=Partview ドライブの空き容量
Name[jv]=Ruang bebas partview ing drive
Name[ka]=Partview თავისუფალი ადგილი დისკებში
Name[kk]=Дискілердегі бос орынды қараңыз
Name[km]=Partview ទំហំទំនេរនៅក្នុងដ្រាយ
Name[kn]=ಡ್ರೈವ್u200cಗಳಲ್ಲಿ ಪಾರ್ಟ್u200cವ್ಯೂ ಮುಕ್ತ ಸ್ಥಳ
Name[ko]=드라이브의 Partview 여유 공간
Name[ku]=Cihê belaş Partview di ajokeran de
Name[ky]=Дисктерде бош мейкиндикти бөлүңүз
Name[la]=Partview liberum spatium in agitet
Name[lb]=Partview fräi Plaz an fiert
Name[lg]=Partview ekifo ekyobwereere mu drives
Name[ln]=Partview esika ya ofele na ba lecteurs
Name[lo]=Partview ພື້ນທີ່ຫວ່າງໃນໄດ
Name[lt]=Partview laisvos vietos diskuose
Name[lv]=Partview brīvā vieta diskos
Name[mg]=Mizara toerana malalaka aminny fiara
Name[mi]=Tirohia te mokowā waatea i roto i nga puku
Name[mk]=Слободен простор во погоните со Partview
Name[ml]=ഡ്രൈവുകളിൽ പാർട്u200cവ്യൂ ശൂന്യമായ ഇടം
Name[mn]=Драйвер дээрх сул зайг хэсэгчлэн харна уу
Name[mr]=ड्राइव्हस् मध्ये पार्टव्यू मोकळी जागा
Name[ms]=Partview ruang kosong dalam pemacu
Name[mt]=Spazju liberu tal-Partview fid-drives
Name[my]=Drives များတွင် Partview နေရာလွတ်
Name[ne]=पार्टभ्यू ड्राइभमा खाली ठाउँ
Name[nl]=Partview vrije ruimte in schijven
Name[no]=Delvis ledig plass i stasjoner
Name[ny]=Partview malo aulere mumagalimoto
Name[om]=Partview iddoo bilisaa diraayiviiwwan keessatti
Name[or]=ଡ୍ରାଇଭଗୁଡ଼ିକରେ ପାର୍ଟଭ୍ୟୁ ଖାଲି ସ୍ଥାନ |
Name[pa]=ਡਰਾਈਵ ਵਿੱਚ ਪਾਰਟਵਿਊ ਖਾਲੀ ਥਾਂ
Name[pl]=Partview wolnego miejsca na dyskach
Name[ps]=ﯼﺎځ ﺎﯾړﻭ ﺪﯿﻟ ﯥﺧﺮﺑ ﺩ ﯥﮐ ﻮﯾﺍﺭډ ﻪﭘ
Name[pt]=Espaço livre em partview nas unidades
Name[qu]=Partview mana qullqiyuq espacio unidadkunapi
Name[ro]=Vizualizare parțială spațiu liber în unități
Name[rw]=Reba umwanya wubusa muri drives
Name[sa]=ड्राइव्स् मध्ये पार्टव्यू मुक्तस्थानं
Name[sd]=ءِﺎﺟ ﻲﻟﺎﺧ ﻮﻳﻭ ٽﺭﺎﭘ ۾ ﻮﻴﺋﺍﺭڊ
Name[si]=Drive වල Partview නිදහස් ඉඩ
Name[sk]=Partview voľné miesto na jednotkách
Name[sl]=Partview prosti prostor v pogonih
Name[sm]=Vaai vaaiga avanoa avanoa i taavale
Name[sn]=Partview yemahara nzvimbo mumadhiraivha
Name[so]=Partview meel bannaan oo ka mid ah darawallada
Name[sq]=Hapësirë e lirë Partview në disqe
Name[st]=Partview sebaka sa mahala ho li-drive
Name[su]=Partview rohangan bébas dina drive
Name[sv]=Delvisa ledigt utrymme i enheter
Name[sw]=Onyesha nafasi ya bure katika hifadhi
Name[ta]=டிரைவ்களில் பார்ட்வியூ இலவச இடம்
Name[te]=డ్రైవ్u200cలలో పార్ట్u200cవ్యూ ఖాళీ స్థలం
Name[tg]=Фазои холиро дар дискҳо қисмат кунед
Name[th]=Partview พื้นที่ว่างในไดรฟ์
Name[ti]=ፓርትቪው ነጻ ቦታ ኣብ ድራይቭ
Name[tk]=Sürüjilerdäki boş ýerleri görüň
Name[tl]=Ibahagi ang libreng espasyo sa mga drive
Name[to]=Partview feituʻu ʻataʻata ʻi he drive
Name[ts]=Partview ndhawu ya mahala eka ti drive
Name[tt]=Драйверларда буш урынны карау
Name[tw]=Partview free space wɔ drive ahorow mu
Name[ty]=Te hoê vahi tamoni ore i roto i te mau pereoo uira
Name[ug]=ﺵﯛﺭﯚﻛ ﻰﻨﻗﯘﻠﺷﻮﺑ ﻰﻜﯩﺘﭼﯘﻘﺗﺎﻏﺯﻮﻗ
Name[uk]=Partview вільного місця на дисках
Name[ur]=ﮧﮕﺟ ﯽﻟﺎﺧ ﻮﯾﻭ ﭦﺭﺎﭘ ﮟﯿﻣ ﺯﻮﯿﺋﺍﺭﮈ
Name[uz]=Drayvlardagi bosh joyni qisman koring
Name[vi]=Partview dung lượng trống trong ổ đĩa
Name[xh]=I-Partview indawo yasimahla kwiidrive
Name[yi]=Partview זוויירד ןיא ץאַלפּ יירפ
Name[yo]=Partview free aaye ninu drives
Name[zh]=Partview 驱动器中的可用空间
Name[zu]=Bheka isikhala samahhala kumadrayivu
Name=Partview free space in drives
Icon=mini-hdisk.xpm
Comment[bg]=Partview свободно пространство в дискове
Comment[de]=Partview-freier Speicherplatz in Laufwerken
Comment[es]=Ver espacio libre en las unidades
Comment[ru]=Partview свободного места на дисках
Comment[tr]=Partview sürücülerdeki boş alanı görüntüler
Comment[af]=Deelbekyk vrye spasie in dryf
Comment[am]=በአሽከርካሪዎች ውስጥ የክፍል እይታ ነፃ ቦታ
Comment[ar]=Partview ﺹﺍﺮﻗﻷ﻿ﺍ ﺕﺎﻛﺮﺤﻣ ﻲﻓ ﺔﻴﻟﺎﺧ ﺔﺣﺎﺴﻣ
Comment[as]=ড্ৰাইভসমূহত পাৰ্টভিউ মুক্ত স্থান
Comment[ay]=Partview libre espacio ukax unidades ukankiwa
Comment[az]=Disklərdə boş yerə hissə baxın
Comment[ba]=Драйвтарҙа партневрлы буш урын
Comment[be]=Partview вольнага месца на дысках
Comment[bm]=Partview yɔrɔ hɔrɔnyalen in drives
Comment[bn]=ড্রাইভে পার্টভিউ মুক্ত স্থান
Comment[bo]=སྒུལ་ཤུགས་ཁྲོད་ཀྱི་ཆ་ཤས་ཀྱི་རང་དབང་གི་བར་སྟོང
Comment[bs]=Partview slobodan prostor u pogonima
Comment[ca]=Vista parcial despai lliure a les unitats
Comment[co]=Partview spaziu liberu in unità
Comment[cs]=Partview volné místo na jednotkách
Comment[cy]=Lle rhydd Partview mewn gyriannau
Comment[da]=Delvis ledig plads i drev
Comment[dv]=ސްޕޭސް ރީފް އުވިޓްޕާ އިގަކުތަވްއިރަޑް
Comment[ee]=Partview teƒe si le ablɔɖe me le ʋuwo me
Comment[el]=Ελεύθερος χώρος Partview σε μονάδες δίσκου
Comment[eo]=Partview libera spaco en diskoj
Comment[et]=Osavaate vaba ruumi draivides
Comment[eu]=Partview espazio librea unitateetan
Comment[fa]=ﺎﻫﻮﯾﺍﺭﺩ ﺭﺩ Partview ﺩﺍﺯﺁ ﯼﺎﻀﻓ
Comment[fi]=Partview vapaata tilaa asemissa
Comment[fj]=Vanua ni vakatikina ena draiva
Comment[fo]=Partview ókeypis pláss í koyrir.
Comment[fr]=Espace libre Partview dans les lecteurs
Comment[fy]=Partview frije romte yn stasjons
Comment[ga]=Partview spás saor in aisce i thiomáineann
Comment[gd]=Partview àite an-asgaidh ann an draibhean
Comment[gl]=Espazo libre de Partview nas unidades
Comment[gn]=Partview espacio libre umi unidad-pe
Comment[gu]=ડ્રાઇવ્સમાં પાર્ટવ્યૂ ફ્રી સ્પેસ
Comment[ha]=Rarraba sarari kyauta a cikin tutoci
Comment[he]=םיננוכב יונפ קלח גצה
Comment[hi]=ड्राइव में पार्टव्यू मुक्त स्थान
Comment[hr]=Partview slobodnog prostora u pogonima
Comment[ht]=Partview espas gratis nan kondui
Comment[hu]=Partview szabad terület a meghajtókban
Comment[hy]=Partview ազատ տարածություն կրիչներում
Comment[id]=Partview ruang kosong di drive
Comment[ig]=Partview ohere efu na draịva
Comment[is]=Skoðaðu laust pláss í drifum að hluta
Comment[it]=Partview dello spazio libero nelle unità
Comment[iu]=ᐃᓚᖓ ᕿᒥᕐᕈᓂᖅ ᐊᑭᖃᙱᑦᑐᒥᒃ ᐃᓂᒥᒃ ᐊᖁᕝᕕᖕᓂ
Comment[ja]=Partview ドライブの空き容量
Comment[jv]=Ruang bebas partview ing drive
Comment[ka]=Partview თავისუფალი ადგილი დისკებში
Comment[kk]=Дискілердегі бос орынды қараңыз
Comment[km]=Partview ទំហំទំនេរនៅក្នុងដ្រាយ
Comment[kn]=ಡ್ರೈವ್u200cಗಳಲ್ಲಿ ಪಾರ್ಟ್u200cವ್ಯೂ ಮುಕ್ತ ಸ್ಥಳ
Comment[ko]=드라이브의 Partview 여유 공간
Comment[ku]=Di ajokeran de cîhê belaş Partview
Comment[ky]=Дисктерде бош мейкиндикти бөлүңүз
Comment[la]=Partview liberum spatium in agitet
Comment[lb]=Partview fräi Plaz an fiert
Comment[lg]=Partview ekifo ekyobwereere mu drives
Comment[ln]=Partview esika ya ofele na ba lecteurs
Comment[lo]=Partview ພື້ນທີ່ຫວ່າງໃນໄດ
Comment[lt]=Partview laisvos vietos diskuose
Comment[lv]=Partview brīvā vieta diskos
Comment[mg]=Mizara toerana malalaka aminny fiara
Comment[mi]=Tirohia te mokowā waatea i roto i nga puku
Comment[mk]=Слободен простор во погоните со Partview
Comment[ml]=ഡ്രൈവുകളിൽ പാർട്u200cവ്യൂ ശൂന്യമായ ഇടം
Comment[mn]=Драйвер дээрх сул зайг хэсэгчлэн харна уу
Comment[mr]=ड्राइव्हस् मध्ये पार्टव्यू मोकळी जागा
Comment[ms]=Partview ruang kosong dalam pemacu
Comment[mt]=Spazju liberu tal-Partview fid-drives
Comment[my]=Drives များတွင် Partview နေရာလွတ်
Comment[ne]=पार्टभ्यू ड्राइभमा खाली ठाउँ
Comment[nl]=Partview vrije ruimte in schijven
Comment[no]=Delvis ledig plass i stasjoner
Comment[ny]=Partview malo aulere mumagalimoto
Comment[om]=Partview iddoo bilisaa diraayiviiwwan keessatti
Comment[or]=ଡ୍ରାଇଭଗୁଡ଼ିକରେ ପାର୍ଟଭ୍ୟୁ ଖାଲି ସ୍ଥାନ |
Comment[pa]=ਡਰਾਈਵ ਵਿੱਚ ਪਾਰਟਵਿਊ ਖਾਲੀ ਥਾਂ
Comment[pl]=Partview wolnego miejsca na dyskach
Comment[ps]=ﯼﺎځ ﺎﯾړﻭ ﺪﯿﻟ ﯥﺧﺮﺑ ﺩ ﯥﮐ ﻮﯾﺍﺭډ ﻪﭘ
Comment[pt]=Espaço livre em partview nas unidades
Comment[qu]=Partview mana qullqiyuq espacio unidadkunapi
Comment[ro]=Vizualizare parțială spațiu liber în unități
Comment[rw]=Reba umwanya wubusa muri drives
Comment[sa]=ड्राइव्स् मध्ये पार्टव्यू मुक्तस्थानं
Comment[sd]=ءِﺎﺟ ﻲﻟﺎﺧ ﻮﻳﻭ ٽﺭﺎﭘ ۾ ﻮﻴﺋﺍﺭڊ
Comment[si]=Drive වල Partview නිදහස් ඉඩ
Comment[sk]=Partview voľné miesto na jednotkách
Comment[sl]=Partview prosti prostor v pogonih
Comment[sm]=Vaai vaaiga avanoa avanoa i taavale
Comment[sn]=Partview yemahara nzvimbo mumadhiraivha
Comment[so]=Partview meel bannaan oo ka mid ah darawallada
Comment[sq]=Hapësirë e lirë Partview në disqe
Comment[st]=Partview sebaka sa mahala ho li-drive
Comment[su]=Partview rohangan bébas dina drive
Comment[sv]=Delvisa ledigt utrymme i enheter
Comment[sw]=Onyesha nafasi ya bure katika hifadhi
Comment[ta]=டிரைவ்களில் பார்ட்வியூ இலவச இடம்
Comment[te]=డ్రైవ్u200cలలో పార్ట్u200cవ్యూ ఖాళీ స్థలం
Comment[tg]=Фазои холиро дар дискҳо қисмат кунед
Comment[th]=Partview พื้นที่ว่างในไดรฟ์
Comment[ti]=ፓርትቪው ነጻ ቦታ ኣብ ድራይቭ
Comment[tk]=Sürüjilerdäki boş ýerleri görüň
Comment[tl]=Ibahagi ang libreng espasyo sa mga drive
Comment[to]=Partview feituʻu ʻataʻata ʻi he drive
Comment[ts]=Partview ndhawu ya mahala eka ti drive
Comment[tt]=Драйверларда буш урынны карау
Comment[tw]=Partview free space wɔ drive ahorow mu
Comment[ty]=Te hoê vahi tamoni ore i roto i te mau pereoo uira
Comment[ug]=ﺵﯛﺭﯚﻛ ﻰﻨﻗﯘﻠﺷﻮﺑ ﻰﻜﯩﺘﭼﯘﻘﺗﺎﻏﺯﻮﻗ
Comment[uk]=Partview вільного місця на дисках
Comment[ur]=ﮧﮕﺟ ﯽﻟﺎﺧ ﻮﯾﻭ ﭦﺭﺎﭘ ﮟﯿﻣ ﺯﻮﯿﺋﺍﺭﮈ
Comment[uz]=Drayvlardagi bosh joyni qisman koring
Comment[vi]=Partview dung lượng trống trong ổ đĩa
Comment[xh]=I-Partview indawo yasimahla kwiidrive
Comment[yi]=Partview זוויירד ןיא ץאַלפּ יירפ
Comment[yo]=Partview free aaye ninu drives
Comment[zh]=Partview 驱动器中的可用空间
Comment[zu]=Bheka isikhala samahhala kumadrayivu
Comment=Partview free space in drives
Exec=partview
Terminal=false
Type=Application
Categories=X-Filesystem-storage
GenericName=Partview
