[Desktop Entry]
Encoding=UTF-8
Name[fr]=Dictionnaire en ligne : Pdict
Name[bg]=Pdict онлайн речник
Name[de]=Pdict Online-Wörterbuch
Name[es]=Pdict: diccionario online
Name[ru]=Онлайн-словарь Pdict
Name[tr]=Pdict çevrimiçi sözlük
Name[af]=Pdict aanlyn woordeboek
Name[am]=Pdict የመስመር ላይ መዝገበ ቃላት
Name[ar]=Pdict ﺖﻧﺮﺘﻧﻻ﻿ﺍ ﻰﻠﻋ ﺱﻮﻣﺎﻘﻟﺍ
Name[as]=Pdict অনলাইন অভিধান
Name[ay]=Pdict ukax diccionario online ukankiwa
Name[az]=Pdict online lüğət
Name[ba]=Пдикт онлайн-һүҙлек
Name[be]=Інтэрнэт-слоўнік Pdict
Name[bm]=Pdict intɛrinɛti daɲɛgafe
Name[bn]=Pdict অনলাইন অভিধান
Name[bo]=Pdict དྲ་ཐོག་ཚིག་མཛོད།
Name[bs]=Pdict online rječnik
Name[ca]=Diccionari en línia Pdict
Name[co]=Dizziunariu Pdict in linea
Name[cs]=Pdict online slovník
Name[cy]=Geiriadur Pdict ar-lein
Name[da]=Pdict online ordbog
Name[dv]=ރީނަޝަކްޑި ންއިލަންއޮ ޓްކްޑިޕީ
Name[ee]=Pdict nyagɔmeɖegbalẽ si le Internet dzi
Name[el]=Διαδικτυακό λεξικό Pdict
Name[eo]=Pdict reta vortaro
Name[et]=Pdicti veebisõnastik
Name[eu]=Pdict online dictionary
Name[fa]=Pdict ﻦﯾﻼ﻿ﻧﺁ ﯼﺮﻨﺸﮑﯾﺩ
Name[fi]=Pdict online-sanakirja
Name[fj]=iVolavosa ni YDE ena initaneti
Name[fo]=Pdict online orðabók
Name[fy]=Pdict online wurdboek
Name[ga]=Pdict foclóir ar líne
Name[gd]=Pdict faclair air loidhne an
Name[gl]=Dicionario en liña Pdict
Name[gn]=Pdict ñe’ẽryru en línea
Name[gu]=Pdict ઓનલાઇન શબ્દકોશ
Name[ha]=Kamus na kan layi
Name[he]=Pdict ןווקמ ןולימ
Name[hi]=पीडिक्ट ऑनलाइन शब्दकोश
Name[hr]=Pdict online rječnik
Name[ht]=diksyonè sou entènèt Pdict
Name[hu]=Pdict online szótár
Name[hy]=Pdict առցանց բառարան
Name[id]=Kamus online Pdict
Name[ig]=Akwụkwọ ọkọwa okwu dị nịntanetị
Name[is]=Pdict orðabók á netinu
Name[it]=Dizionario online Pdict
Name[iu]=ᖃᕆᑕᐅᔭᒃᑯᑦ ᐅᖃᐅᓰᑦ ᑐᑭᖏᑦ
Name[ja]=Pdictオンライン辞書
Name[jv]=Pdict kamus online
Name[ka]=Pdict ონლაინ ლექსიკონი
Name[kk]=Pdict онлайн сөздігі
Name[km]=វចនានុក្រម Pdict តាមអ៊ីនធឺណិត
Name[kn]=Pdict ಆನ್ಲೈನ್ ನಿಘಂಟು
Name[ko]=Pdict 온라인 사전
Name[ku]=Ferhenga serhêl Pdict
Name[ky]=Pdict онлайн сөздүк
Name[la]=Pdict online dictionary
Name[lb]=Pdict Online Wierderbuch
Name[lg]=Pdict nkuluze ya yintaneeti
Name[ln]=Pdict dictionnaire en ligne
Name[lo]=ວັດຈະນານຸກົມ Pdict ອອນໄລນ໌
Name[lt]=Pdict internetinis žodynas
Name[lv]=Pdict tiešsaistes vārdnīca
Name[mg]=Pdict online dictionary
Name[mi]=Pdict papakupu ipurangi
Name[mk]=Pdict онлајн речник
Name[ml]=ഓൺലൈൻ നിഘണ്ടു പിഡിക്റ്റ് ചെയ്യുക
Name[mn]=Pdict онлайн толь бичиг
Name[mr]=Pdict ऑनलाइन शब्दकोश
Name[ms]=Pdict kamus dalam talian
Name[mt]=dizzjunarju online Pdict
Name[my]=Pdict အွန်လိုင်းအဘိဓာန်
Name[ne]=Pdict अनलाइन शब्दकोश
Name[nl]=Pdict online woordenboek
Name[no]=Pdict online ordbok
Name[ny]=Mtanthauzira mawu wa Pdict pa intaneti
Name[om]=Galmee jechootaa toora interneetii Pdict
Name[or]=ଅନଲାଇନ୍ ଅଭିଧାନ |
Name[pa]=Pdict ਆਨਲਾਈਨ ਸ਼ਬਦਕੋਸ਼
Name[pl]=Słownik online Pdict
Name[ps]=ﺱﻮﻣﺎﻗ ﻦﯾﻼ﻿ﻧﺁ Pdict ﺩ
Name[pt]=Dicionário online Pdict
Name[qu]=Pdict internetpi simi pirwa
Name[ro]=Dicționar online Pdict
Name[rw]=Itegure inkoranyamagambo
Name[sa]=Pdict ऑनलाइन शब्दकोश
Name[sd]=Pdict ﻱﺮﻨﺸڪڊ ﻦﺋﻻ﻿ ﻥﺁ
Name[si]=ඔන්ලයින් ශබ්දකෝෂය Pdict
Name[sk]=Pdict online slovník
Name[sl]=Pdict spletni slovar
Name[sm]=Pdict lomifefiloi lugalaina
Name[sn]=Pdict online duramazwi
Name[so]=Qaamuuska khadka tooska ah ee Pdict
Name[sq]=Pdict fjalor online
Name[st]=Pdict online dictionary
Name[su]=Pdict kamus online
Name[sv]=Pdict online ordbok
Name[sw]=Kamusi ya mtandaoni ya Pdict
Name[ta]=பிடிக் ஆன்லைன் அகராதி
Name[te]=Pdict ఆన్లైన్ నిఘంటువు
Name[tg]=Луғати онлайни Pdict
Name[th]=Pdict พจนานุกรมออนไลน์
Name[ti]=Pdict ኣብ ኢንተርነት መዝገበ ቃላት
Name[tk]=Onlaýn sözlük
Name[tl]=Pdict online na diksyunaryo
Name[to]=Pdict tikisinale ʻi he ʻInitaneti
Name[ts]=Pdict xihlamusela-marito xa le ka inthanete
Name[tt]=Онлайн сүзлек
Name[tw]=Pdict intanɛt so nsɛm asekyerɛ nhoma
Name[ty]=Titionare i nia i te itenati
Name[ug]=ﻰﺘﯩﻏﯘﻟ ﺭﻮﺗ
Name[uk]=Онлайн-словник Pdict
Name[ur]=Pdict ﯼﺮﻨﺸﮐﮈ ﻦﺋﻻ﻿ ﻥﺁ
Name[uz]=Pdict onlayn lugat
Name[vi]=Từ điển trực tuyến Pdict
Name[xh]=Pdict online isichazi-magama
Name[yi]=Pdict ךוברעטרעוו ןיילנאָ
Name[yo]=Pdict online dictionary
Name[zh]=Pdict在线词典
Name[zu]=Isichazamazwi se-Pdict esiku-inthanethi
Name=Pdict online dictionary
Icon=mini-book1.xpm
Comment[bg]=Pdict онлайн речник
Comment[de]=Pdict Online-Wörterbuch
Comment[es]=Diccionario online Pdict
Comment[ru]=Онлайн-словарь Pdict
Comment[tr]=Pdict çevrimiçi sözlük
Comment[af]=Pdict aanlyn woordeboek
Comment[am]=Pdict የመስመር ላይ መዝገበ ቃላት
Comment[ar]=Pdict ﺖﻧﺮﺘﻧﻻ﻿ﺍ ﻰﻠﻋ ﺱﻮﻣﺎﻘﻟﺍ
Comment[as]=Pdict অনলাইন অভিধান
Comment[ay]=Pdict ukax diccionario online ukankiwa
Comment[az]=Pdict online lüğət
Comment[ba]=Пдикт онлайн-һүҙлек
Comment[be]=Інтэрнэт-слоўнік Pdict
Comment[bm]=Pdict intɛrinɛti daɲɛgafe
Comment[bn]=Pdict অনলাইন অভিধান
Comment[bo]=Pdict དྲ་ཐོག་ཚིག་མཛོད།
Comment[bs]=Pdict online rječnik
Comment[ca]=Diccionari en línia Pdict
Comment[co]=Dizziunariu Pdict in linea
Comment[cs]=Pdict online slovník
Comment[cy]=Geiriadur Pdict ar-lein
Comment[da]=Pdict online ordbog
Comment[dv]=ރީނަޝަކްޑި ންއިލަންއޮ ޓްކްޑިޕީ
Comment[ee]=Pdict nyagɔmeɖegbalẽ si le Internet dzi
Comment[el]=Διαδικτυακό λεξικό Pdict
Comment[eo]=Pdict reta vortaro
Comment[et]=Pdicti veebisõnastik
Comment[eu]=Pdict online dictionary
Comment[fa]=Pdict ﻦﯾﻼ﻿ﻧﺁ ﯼﺮﻨﺸﮑﯾﺩ
Comment[fi]=Pdict online-sanakirja
Comment[fj]=iVolavosa ni YDE ena initaneti
Comment[fo]=Pdict online orðabók
Comment[fr]=Dictionnaire en ligne Pdict
Comment[fy]=Pdict online wurdboek
Comment[ga]=Pdict foclóir ar líne
Comment[gd]=Pdict faclair air loidhne an
Comment[gl]=Dicionario en liña Pdict
Comment[gn]=Pdict ñe’ẽryru en línea
Comment[gu]=Pdict ઓનલાઇન શબ્દકોશ
Comment[ha]=Kamus na kan layi
Comment[he]=Pdict ןווקמ ןולימ
Comment[hi]=पीडिक्ट ऑनलाइन शब्दकोश
Comment[hr]=Pdict online rječnik
Comment[ht]=diksyonè sou entènèt Pdict
Comment[hu]=Pdict online szótár
Comment[hy]=Pdict առցանց բառարան
Comment[id]=Kamus online Pdict
Comment[ig]=Akwụkwọ ọkọwa okwu dị nịntanetị
Comment[is]=Pdict orðabók á netinu
Comment[it]=Dizionario online Pdict
Comment[iu]=ᖃᕆᑕᐅᔭᒃᑯᑦ ᐅᖃᐅᓰᑦ ᑐᑭᖏᑦ
Comment[ja]=Pdictオンライン辞書
Comment[jv]=Pdict kamus online
Comment[ka]=Pdict ონლაინ ლექსიკონი
Comment[kk]=Pdict онлайн сөздігі
Comment[km]=វចនានុក្រម Pdict តាមអ៊ីនធឺណិត
Comment[kn]=Pdict ಆನ್ಲೈನ್ ನಿಘಂಟು
Comment[ko]=Pdict 온라인 사전
Comment[ku]=Ferhenga serhêl Pdict
Comment[ky]=Pdict онлайн сөздүк
Comment[la]=Pdict online dictionary
Comment[lb]=Pdict Online Wierderbuch
Comment[lg]=Pdict nkuluze ya yintaneeti
Comment[ln]=Pdict dictionnaire en ligne
Comment[lo]=ວັດຈະນານຸກົມ Pdict ອອນໄລນ໌
Comment[lt]=Pdict internetinis žodynas
Comment[lv]=Pdict tiešsaistes vārdnīca
Comment[mg]=Pdict online dictionary
Comment[mi]=Pdict papakupu ipurangi
Comment[mk]=Pdict онлајн речник
Comment[ml]=ഓൺലൈൻ നിഘണ്ടു ചിത്രീകരിക്കുക
Comment[mn]=Pdict онлайн толь бичиг
Comment[mr]=Pdict ऑनलाइन शब्दकोश
Comment[ms]=Pdict kamus dalam talian
Comment[mt]=dizzjunarju online Pdict
Comment[my]=Pdict အွန်လိုင်းအဘိဓာန်
Comment[ne]=Pdict अनलाइन शब्दकोश
Comment[nl]=Pdict online woordenboek
Comment[no]=Pdict online ordbok
Comment[ny]=Mtanthauzira mawu wa Pdict pa intaneti
Comment[om]=Galmee jechootaa toora interneetii Pdict
Comment[or]=ଅନଲାଇନ୍ ଅଭିଧାନ |
Comment[pa]=Pdict ਆਨਲਾਈਨ ਸ਼ਬਦਕੋਸ਼
Comment[pl]=Słownik online Pdict
Comment[ps]=ﺱﻮﻣﺎﻗ ﻦﯾﻼ﻿ﻧﺁ Pdict ﺩ
Comment[pt]=Dicionário online Pdict
Comment[qu]=Pdict internetpi simi pirwa
Comment[ro]=Dicționar online Pdict
Comment[rw]=Itegure inkoranyamagambo kumurongo
Comment[sa]=Pdict ऑनलाइन शब्दकोश
Comment[sd]=Pdict ﻱﺮﻨﺸڪڊ ﻦﺋﻻ﻿ ﻥﺁ
Comment[si]=ඔන්ලයින් ශබ්දකෝෂය Pdict
Comment[sk]=Pdict online slovník
Comment[sl]=Pdict spletni slovar
Comment[sm]=Pdict lomifefiloi lugalaina
Comment[sn]=Pdict online duramazwi
Comment[so]=Qaamuuska khadka tooska ah ee Pdict
Comment[sq]=Pdict fjalor online
Comment[st]=Pdict online dictionary
Comment[su]=Pdict kamus online
Comment[sv]=Pdict online ordbok
Comment[sw]=Kamusi ya mtandaoni ya Pdict
Comment[ta]=பிடிக் ஆன்லைன் அகராதி
Comment[te]=Pdict ఆన్లైన్ నిఘంటువు
Comment[tg]=Луғати онлайни Pdict
Comment[th]=Pdict พจนานุกรมออนไลน์
Comment[ti]=Pdict ኣብ ኢንተርነት መዝገበ ቃላት
Comment[tk]=Onlaýn sözlük
Comment[tl]=Pdict online na diksyunaryo
Comment[to]=Pdict tikisinale ʻi he ʻInitaneti
Comment[ts]=Pdict xihlamusela-marito xa le ka inthanete
Comment[tt]=Онлайн сүзлек
Comment[tw]=Pdict intanɛt so nsɛm asekyerɛ nhoma
Comment[ty]=Titionare i nia i te itenati
Comment[ug]=ﻰﺘﯩﻏﯘﻟ ﺭﻮﺗ
Comment[uk]=Онлайн-словник Pdict
Comment[ur]=Pdict ﯼﺮﻨﺸﮐﮈ ﻦﺋﻻ﻿ ﻥﺁ
Comment[uz]=Pdict onlayn lugat
Comment[vi]=Từ điển trực tuyến Pdict
Comment[xh]=Pdict online isichazi-magama
Comment[yi]=Pdict ךוברעטרעוו ןיילנאָ
Comment[yo]=Pdict online dictionary
Comment[zh]=Pdict在线词典
Comment[zu]=Isichazamazwi se-Pdict esiku-inthanethi
Comment=Pdict online dictionary
Exec=pdict
Terminal=false
Type=Application
Categories=X-Document-utility
GenericName=Pdict
