[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des partitions : Pdisk
Name[bg]=Pdisk дял мениджър
Name[de]=Pdisk-Partitionsmanager
Name[es]=Pdisk: gestor de particiones
Name[ru]=Менеджер разделов Pdisk
Name[tr]=Pdisk bölümleme yöneticisi
Name[af]=Pdisk partisie bestuurder
Name[am]=Pdisk ክፍልፍል አስተዳዳሪ
Name[ar]=ﻚﺴﻳﺩ ﻲﺑ ﻢﺴﻗ ﺮﻳﺪﻣ
Name[as]=Pdisk বিভাজন ব্যৱস্থাপক
Name[ay]=Pdisk ukan jaljawi apnaqiri
Name[az]=Pdisk bölmə meneceri
Name[ba]=Пдиск бүлеү буйынса идарасы
Name[be]=Дыспетчар падзелаў pdisk
Name[bm]=Pdisk tila-tilacogo ɲɛnabɔbaga
Name[bn]=পিডিস্ক পার্টিশন ম্যানেজার
Name[bo]=Pdisk ཁ་གྱེས་པའི་སྤྱི་གཉེར་བ།
Name[bs]=Upravitelj particija Pdisk
Name[ca]=Gestor de particions Pdisk
Name[co]=Manager di partizioni Pdisk
Name[cs]=Správce oddílů Pdisk
Name[cy]=Rheolwr rhaniad Pdisk
Name[da]=Pdisk partitionshåndtering
Name[dv]=ރޖަނޭމެ ންޝަޓީރޕާ ކްސްޑިޕީ
Name[ee]=Pdisk ƒe mama dzikpɔla
Name[el]=Διαχείριση κατατμήσεων pdisk
Name[eo]=Pdisk diskadministranto
Name[et]=Pdiski partitsioonihaldur
Name[eu]=Pdisk partizio kudeatzailea
Name[fa]=Pdisk ﻦﺸﯿﺗﺭﺎﭘ ﺮﯾﺪﻣ
Name[fi]=Pdisk-osionhallinta
Name[fj]=Manidia ni veivakacesau ni wasewasea o Isikeli
Name[fo]=Pdisk partition manager
Name[fy]=Pdisk partition manager
Name[ga]=Bainisteoir deighiltí pdisk
Name[gd]=Manaidsear sgaradh pdisk
Name[gl]=Xestor de particións pdisk
Name[gn]=Pdisk partición mohendaha
Name[gu]=Pdisk પાર્ટીશન મેનેજર
Name[ha]=Pdisk partition Manager
Name[he]=Pdisk תוציחמ להנמ
Name[hi]=पीडिस्क विभाजन प्रबंधक
Name[hr]=Pdisk upravitelj particija
Name[ht]=Manadjè patisyon Pdisk
Name[hu]=Pdisk partíciókezelő
Name[hy]=Pdisk բաժանման կառավարիչ
Name[id]=Manajer partisi Pdisk
Name[ig]=Onye njikwa nkebi Pdisk
Name[is]=Pdisk skiptingarstjóri
Name[it]=Gestore delle partizioni Pdisk
Name[iu]=ᐱᑦᔪᑕᕐᓂᕐᒧᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=Pdiskパーティションマネージャー
Name[jv]=Manajer partisi Pdisk
Name[ka]=Pdisk დანაყოფის მენეჯერი
Name[kk]=Pdisk бөлім менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងភាគថាស Pdisk
Name[kn]=ಪಿಡಿಸ್ಕ್ ವಿಭಜನಾ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=Pdisk 파티션 관리자
Name[ku]=Rêveberê dabeşkirina Pdisk
Name[ky]=Pdisk бөлүм менеджери
Name[la]=Pdisk partitio procurator
Name[lb]=Pdisk Partition Manager
Name[lg]=Omuddukanya okugabanya kwa Pdisk
Name[ln]=Mokambi ya bokaboli ya Pdisk
Name[lo]=ຜູ້ຈັດການການແບ່ງປັນ Pdisk
Name[lt]=Pdisk skaidinio tvarkyklė
Name[lv]=Pdisk nodalījumu pārvaldnieks
Name[mg]=Pdisk partition manager
Name[mi]=Kaiwhakahaere wehewehe Pdisk
Name[mk]=Управувач со партиции на Pdisk
Name[ml]=Pdisk പാർട്ടീഷൻ മാനേജർ
Name[mn]=Pdisk хуваалтын менежер
Name[mr]=Pdisk विभाजन व्यवस्थापक
Name[ms]=Pengurus partition Pdisk
Name[mt]=Maniġer tal-partizzjoni Pdisk
Name[my]=Pdisk partition မန်နေဂျာ
Name[ne]=Pdisk विभाजन प्रबन्धक
Name[nl]=Pdisk partitiemanager
Name[no]=Pdisk partisjonsbehandling
Name[ny]=Woyanganira magawo a Pdisk
Name[om]=Hogganaa qoqqoodinsa Pdisk
Name[or]=Pdisk ବିଭାଜନ ପରିଚାଳକ |
Name[pa]=Pdisk ਭਾਗ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer partycji Pdisk
Name[ps]=ﺮﯾﺪﻣ ﺶﯾﻭ Pdisk ﺩ
Name[pt]=Gerenciador de partições Pdisk
Name[qu]=Pdisk rakina kamachiq
Name[ro]=Manager de partiții Pdisk
Name[rw]=Umuyobozi wa pdisk
Name[sa]=Pdisk विभाजनप्रबन्धकः
Name[sd]=Pdisk ﺮﺠﻴﻨﻴﻣ ﻲﮜﺎﻫﺭﻭ
Name[si]=Pdisk කොටස් කළමනාකරු
Name[sk]=Správca oddielov Pdisk
Name[sl]=Upravljalnik particij Pdisk
Name[sm]=Pule vaeluaga Pdisk
Name[sn]=Pdisk partition maneja
Name[so]=Maamulaha qaybta Pdisk
Name[sq]=Menaxheri i ndarjeve në Pdisk
Name[st]=Motsamaisi oa karohano ea Pdisk
Name[su]=Pangatur partisi Pdisk
Name[sv]=Pdisk partitionshanterare
Name[sw]=Meneja wa kizigeu cha Pdisk
Name[ta]=Pdisk பகிர்வு மேலாளர்
Name[te]=Pdisk విభజన మేనేజర్
Name[tg]=Менеҷери қисмҳои Pdisk
Name[th]=ตัวจัดการพาร์ติชัน Pdisk
Name[ti]=ኣመሓዳሪ ምክፍፋል ፒዲስክ
Name[tk]=Pdisk bölüm bölüminiň dolandyryjysy
Name[tl]=Tagapamahala ng partisyon ng Pdisk
Name[to]=Pule ʻoku ne veuveuki ʻa e Pdisk
Name[ts]=Mufambisi wa xiphemu xa Pdisk
Name[tt]=Pdisk бүлек менеджеры
Name[tw]=Pdisk mpaepaemu sohwɛfo
Name[ty]=Tia faatere no te Pdisk
Name[ug]=Pdisk ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻥﻮﻳﺍﺭ
Name[uk]=Менеджер розділів Pdisk
Name[ur]=Pdisk ﺮﺠﯿﻨﯿﻣ ﻦﺸﯿﭨﺭﺎﭘ
Name[uz]=Pdisk bolim menejeri
Name[vi]=Trình quản lý phân vùng Pdisk
Name[xh]=Umphathi wesahlulo sePdisk
Name[yi]=Pdisk רעטלאַווראַפ גנולייטעצ
Name[yo]=Alakoso ipin Pdisk
Name[zh]=Pdisk分区管理器
Name[zu]=Umphathi wokuhlukanisa we-Pdisk
Name=Pdisk partition manager
Icon=Pdisk.xpm
Comment[bg]=Pdisk дял мениджър
Comment[de]=Pdisk-Partitionsmanager
Comment[es]=Gestor de particiones Pdisk
Comment[ru]=Менеджер разделов Pdisk
Comment[tr]=Pdisk bölümleme yöneticisi
Comment[af]=Pdisk partisie bestuurder
Comment[am]=Pdisk ክፍልፍል አስተዳዳሪ
Comment[ar]=ﻚﺴﻳﺩ ﻲﺑ ﻢﺴﻗ ﺮﻳﺪﻣ
Comment[as]=Pdisk বিভাজন ব্যৱস্থাপক
Comment[ay]=Pdisk ukan jaljawi apnaqiri
Comment[az]=Pdisk bölmə meneceri
Comment[ba]=Пдиск бүлеү буйынса идарасы
Comment[be]=Дыспетчар падзелаў pdisk
Comment[bm]=Pdisk tila-tilacogo ɲɛnabɔbaga
Comment[bn]=পিডিস্ক পার্টিশন ম্যানেজার
Comment[bo]=Pdisk ཁ་གྱེས་པའི་སྤྱི་གཉེར་བ།
Comment[bs]=Upravitelj particija Pdisk
Comment[ca]=Gestor de particions Pdisk
Comment[co]=Manager di partizioni Pdisk
Comment[cs]=Správce oddílů Pdisk
Comment[cy]=Rheolwr rhaniad Pdisk
Comment[da]=Pdisk partitionshåndtering
Comment[dv]=ރޖަނޭމެ ންޝަޓީރޕާ ކްސްޑިޕީ
Comment[ee]=Pdisk ƒe mama dzikpɔla
Comment[el]=Διαχείριση κατατμήσεων pdisk
Comment[eo]=Pdisk diskadministranto
Comment[et]=Pdiski partitsioonihaldur
Comment[eu]=Pdisk partizio kudeatzailea
Comment[fa]=Pdisk ﻦﺸﯿﺗﺭﺎﭘ ﺮﯾﺪﻣ
Comment[fi]=Pdisk-osionhallinta
Comment[fj]=Manidia ni veivakacesau ni wasewasea o Isikeli
Comment[fo]=Pdisk partition manager
Comment[fr]=Gestionnaire de partitions Pdisk
Comment[fy]=Pdisk partition manager
Comment[ga]=Bainisteoir deighiltí pdisk
Comment[gd]=Manaidsear sgaradh pdisk
Comment[gl]=Xestor de particións pdisk
Comment[gn]=Pdisk partición mohendaha
Comment[gu]=Pdisk પાર્ટીશન મેનેજર
Comment[ha]=Pdisk partition Manager
Comment[he]=Pdisk תוציחמ להנמ
Comment[hi]=पीडिस्क विभाजन प्रबंधक
Comment[hr]=Pdisk upravitelj particija
Comment[ht]=Manadjè patisyon Pdisk
Comment[hu]=Pdisk partíciókezelő
Comment[hy]=Pdisk բաժանման կառավարիչ
Comment[id]=Manajer partisi Pdisk
Comment[ig]=Onye njikwa nkebi Pdisk
Comment[is]=Pdisk skiptingarstjóri
Comment[it]=Gestore delle partizioni Pdisk
Comment[iu]=ᐱᑦᔪᑕᕐᓂᕐᒧᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=Pdiskパーティションマネージャー
Comment[jv]=Manajer partisi Pdisk
Comment[ka]=Pdisk დანაყოფის მენეჯერი
Comment[kk]=Pdisk бөлім менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងភាគថាស Pdisk
Comment[kn]=ಪಿಡಿಸ್ಕ್ ವಿಭಜನಾ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=Pdisk 파티션 관리자
Comment[ku]=Rêveberê dabeşkirina Pdisk
Comment[ky]=Pdisk бөлүм менеджери
Comment[la]=Pdisk partitio procurator
Comment[lb]=Pdisk Partition Manager
Comment[lg]=Omuddukanya okugabanya kwa Pdisk
Comment[ln]=Mokambi ya bokaboli ya Pdisk
Comment[lo]=ຜູ້ຈັດການການແບ່ງປັນ Pdisk
Comment[lt]=Pdisk skaidinio tvarkyklė
Comment[lv]=Pdisk nodalījumu pārvaldnieks
Comment[mg]=Pdisk partition manager
Comment[mi]=Kaiwhakahaere wehewehe Pdisk
Comment[mk]=Управувач со партиции на Pdisk
Comment[ml]=Pdisk പാർട്ടീഷൻ മാനേജർ
Comment[mn]=Pdisk хуваалтын менежер
Comment[mr]=Pdisk विभाजन व्यवस्थापक
Comment[ms]=Pengurus partition Pdisk
Comment[mt]=Maniġer tal-partizzjoni Pdisk
Comment[my]=Pdisk partition မန်နေဂျာ
Comment[ne]=Pdisk विभाजन प्रबन्धक
Comment[nl]=Pdisk partitiemanager
Comment[no]=Pdisk partisjonsbehandling
Comment[ny]=Woyanganira magawo a Pdisk
Comment[om]=Hogganaa qoqqoodinsa Pdisk
Comment[or]=Pdisk ବିଭାଜନ ପରିଚାଳକ |
Comment[pa]=Pdisk ਭਾਗ ਪ੍ਰਬੰਧਕ
Comment[pl]=Menedżer partycji Pdisk
Comment[ps]=ﺮﯾﺪﻣ ﺶﯾﻭ Pdisk ﺩ
Comment[pt]=Gerenciador de partições Pdisk
Comment[qu]=Pdisk rakina kamachiq
Comment[ro]=Manager de partiții Pdisk
Comment[rw]=Umuyobozi wa pdisk
Comment[sa]=Pdisk विभाजनप्रबन्धकः
Comment[sd]=Pdisk ﺮﺠﻴﻨﻴﻣ ﻲﮜﺎﻫﺭﻭ
Comment[si]=Pdisk කොටස් කළමනාකරු
Comment[sk]=Správca oddielov Pdisk
Comment[sl]=Upravljalnik particij Pdisk
Comment[sm]=Pule vaeluaga Pdisk
Comment[sn]=Pdisk partition maneja
Comment[so]=Maamulaha qaybta Pdisk
Comment[sq]=Menaxheri i ndarjeve në Pdisk
Comment[st]=Motsamaisi oa karohano ea Pdisk
Comment[su]=Pangatur partisi Pdisk
Comment[sv]=Pdisk partitionshanterare
Comment[sw]=Meneja wa kizigeu cha Pdisk
Comment[ta]=Pdisk பகிர்வு மேலாளர்
Comment[te]=Pdisk విభజన మేనేజర్
Comment[tg]=Менеҷери қисмҳои Pdisk
Comment[th]=ตัวจัดการพาร์ติชัน Pdisk
Comment[ti]=ኣመሓዳሪ ምክፍፋል ፒዲስክ
Comment[tk]=Pdisk bölüm bölüminiň dolandyryjysy
Comment[tl]=Tagapamahala ng partisyon ng Pdisk
Comment[to]=Pule ʻoku ne veuveuki ʻa e Pdisk
Comment[ts]=Mufambisi wa xiphemu xa Pdisk
Comment[tt]=Pdisk бүлек менеджеры
Comment[tw]=Pdisk mpaepaemu sohwɛfo
Comment[ty]=Tia faatere no te Pdisk
Comment[ug]=Pdisk ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻥﻮﻳﺍﺭ
Comment[uk]=Менеджер розділів Pdisk
Comment[ur]=Pdisk ﺮﺠﯿﻨﯿﻣ ﻦﺸﯿﭨﺭﺎﭘ
Comment[uz]=Pdisk bolim menejeri
Comment[vi]=Trình quản lý phân vùng Pdisk
Comment[xh]=Umphathi wesahlulo sePdisk
Comment[yi]=Pdisk רעטלאַווראַפ גנולייטעצ
Comment[yo]=Alakoso ipin Pdisk
Comment[zh]=Pdisk分区管理器
Comment[zu]=Umphathi wokuhlukanisa we-Pdisk
Comment=Pdisk partition manager
Exec=Pdisk
Terminal=false
Type=Application
Categories=X-System-storage
GenericName=Pdisk partition manager
