[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des paquets : PKGget 
Name[bg]=PKGget мениджър на пакети
Name[de]=PKGget-Paket-Manager
Name[es]=PKGget: gestor de paquetes
Name[ru]=Менеджер пакетов PKGget
Name[af]=PKGget Pakketbestuurder
Name[am]=የPKGget ጥቅል አስተዳዳሪ
Name[ar]=PKGget ﻡﺰﺤﻟﺍ ﺮﻳﺪﻣ
Name[as]=PKGget পেকেইজ ব্যৱস্থাপক
Name[ay]=PKGget Paquete ukan irpiripa
Name[az]=PKGget Paket Meneceri
Name[ba]=ПКГгет пакеттары менән идара итеүсе
Name[be]=Менеджэр пакетаў PKGget
Name[bm]=PKGget Pake ɲɛmɔgɔ
Name[bn]=PKG প্যাকেজ ম্যানেজার
Name[bo]=PKGget Package Manager
Name[bs]=PKGget menadžer paketa
Name[ca]=Gestor de paquets PKGget
Name[co]=Manager di pacchetti PKGget
Name[cs]=Správce balíčků PKGget
Name[cy]=Rheolwr Pecyn PKGget
Name[da]=PKGget Package Manager
Name[dv]=ވެރެޖަނޭމެ ޖްކޭޕެ ޓްގެޖީކޭޕީ
Name[ee]=PKGget Package Dzikpɔla
Name[el]=PKGget Package Manager
Name[eo]=PKGget Paka Administranto
Name[et]=PKGgeti paketihaldur
Name[eu]=PKGget paketeen kudeatzailea
Name[fa]=PKGget ﻪﺘﺴﺑ ﺮﯾﺪﻣ
Name[fi]=PKGget Package Manager
Name[fj]=Manidia ni pakete ni PKGget
Name[fo]=PKGget Package Manager
Name[fy]=PKGget Package Manager
Name[ga]=Bainisteoir Pacáiste Pkgget
Name[gd]=Manaidsear pacaid PKGget
Name[gl]=Xestor de paquetes PKGget
Name[gn]=PKGget Paquete Moakãha
Name[gu]=PKGગેટ પેકેજ મેનેજર
Name[ha]=Manajan Kunshin PKGget
Name[he]=PKGget לש תוליבחה להנמ
Name[hi]=PKGget पैकेज मैनेजर
Name[hr]=Upravitelj paketa PKGget
Name[ht]=Manadjè pake PKGget
Name[hu]=PKGget csomagkezelő
Name[hy]=PKGget փաթեթի կառավարիչ
Name[id]=Manajer Paket PKGget
Name[ig]=Onye njikwa ngwugwu PKGget
Name[is]=PKGget pakkastjóri
Name[it]=Gestore pacchetti PKGget
Name[iu]=PKGet ᐴᖅᑲᖅᓯᒪᔪᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=PKGget パッケージマネージャー
Name[jv]=Manajer Paket PKGget
Name[ka]=PKGget პაკეტის მენეჯერი
Name[kk]=PKGget пакет менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងកញ្ចប់ PKGget
Name[kn]=PKGget ಪ್ಯಾಕೇಜ್ ಮ್ಯಾನೇಜರ್
Name[ko]=PKGget 패키지 관리자
Name[ku]=Rêvebirê Pakêtê PKGget
Name[ky]=PKGget пакет менеджери
Name[la]=PKGget Package Manager
Name[lb]=PKGget Package Manager
Name[lg]=PKGget Omuddukanya Package
Name[ln]=PKGget Mokambi ya Paquet
Name[lo]=PKGget ຜູ້ຈັດການຊຸດ
Name[lt]=PKGget paketų tvarkyklė
Name[lv]=PKGget pakotņu pārvaldnieks
Name[mg]=PKGget Package Manager
Name[mi]=Kaiwhakahaere PKGget Package
Name[mk]=PKGget менаџер на пакети
Name[ml]=PKGget പാക്കേജ് മാനേജർ
Name[mn]=PKGget багц менежер
Name[mr]=PKG गेट पॅकेज मॅनेजर
Name[ms]=Pengurus Pakej PKGget
Name[mt]=Maniġer tal-Pakketti PKGget
Name[my]=PKGget Package Manager
Name[ne]=PKG प्याकेज प्रबन्धक प्राप्त गर्नुहोस्
Name[nl]=PKGget-pakketbeheer
Name[no]=PKGget Package Manager
Name[ny]=PKGget Package Manager
Name[om]=Hogganaa Paakeejii PKGget
Name[or]=PKGget ପ୍ୟାକେଜ୍ ପରିଚାଳକ |
Name[pa]=ਪੀਕੇਜੀਗੇਟ ਪੈਕੇਜ ਮੈਨੇਜਰ
Name[pl]=Menedżer pakietów PKGget
Name[ps]=PKG ﺮﯾﺪﻣ ۍﺪﻨﺑ ﻪﺘﺴﺑ ﺩ
Name[pt]=Gerenciador de pacotes PKGget
Name[qu]=PKGget Paquete kamachiq
Name[ro]=Manager de pachete PKGget
Name[rw]=Umuyobozi wa PackGget
Name[sa]=PKGget संकुल प्रबन्धक
Name[sd]=PKG ﺮﺠﻴﻨﺌﻣ ﺞﻴڪﻴﭘ ﻮﻳﺮڪ ﻞﺻﺎﺣ
Name[si]=PKGget පැකේජ කළමනාකරු
Name[sk]=Správca balíkov PKGget
Name[sl]=Upravitelj paketov PKGget
Name[sm]=PKGget Package Manager
Name[sn]=PKGget Package Maneja
Name[so]=Maamulaha Xidhmada PKGget
Name[sq]=Menaxheri i paketave PKGget
Name[st]=Motsamaisi oa Sephutheloana oa PKGget
Name[su]=Manajer Paket PKGget
Name[sv]=PKGget Package Manager
Name[sw]=Kidhibiti cha Kifurushi cha PKGget
Name[ta]=PKGget தொகுப்பு மேலாளர்
Name[te]=PKGget ప్యాకేజీ మేనేజర్
Name[tg]=Менеҷери бастаи PKGget
Name[th]=PKGget ผู้จัดการแพ็คเกจ
Name[ti]=PKGget ፓኬጅ ማናጀር
Name[tk]=PKGget paket dolandyryjysy
Name[tl]=Tagapamahala ng PKGget Package
Name[to]=Pule PKGget peketi
Name[tr]=PKGget Paket Yöneticisi
Name[ts]=PKGget Mufambisi wa Phasela
Name[tt]=PKGget пакет менеджеры
Name[tw]=PKGget Package no sohwɛfo
Name[ty]=PKGget Package Manager
Name[ug]=PKGget Package Manager
Name[uk]=Менеджер пакетів PKGget
Name[ur]=۔ﮟﯾﺮﮐ ﻞﺻﺎﺣ ﻮﮐ ﺮﺠﯿﻨﯿﻣ ﺞﮑﯿﭘ ﯽﺟ ﮯﮐ ﯽﭘ
Name[uz]=PKGget paket menejeri
Name[vi]=Trình quản lý gói PKGget
Name[xh]=PKGget Umphathi wePhakeji
Name[yi]=PKGget רעגאַנאַמ עגאַקקאַפּ
Name[yo]=PKGget Package Manager
Name[zh]=PKGget 包管理器
Name[zu]=Umphathi Wephakheji we-PKGget
Name=PKGget Package Manager
Icon=pet16.xpm
Comment[fr]=Gestion des paquets : PKGget
Comment[bg]=PKGget мениджър на пакети
Comment[de]=PKGget-Paket-Manager
Comment[es]=Gestor de paquetes PKGget
Comment[ru]=Менеджер пакетов PKGget
Comment[af]=PKGget Pakketbestuurder
Comment[am]=PKGget ጥቅል አስተዳዳሪ
Comment[ar]=PKGget ﻡﺰﺤﻟﺍ ﺮﻳﺪﻣ
Comment[as]=PKGget পেকেইজ ব্যৱস্থাপক
Comment[ay]=PKGget Paquete ukan irpiripa
Comment[az]=PKGget Paket Meneceri
Comment[ba]=ПКГгет пакеттары менән идара итеүсе
Comment[be]=Менеджэр пакетаў PKGget
Comment[bm]=PKGget Pake ɲɛmɔgɔ
Comment[bn]=PKG প্যাকেজ ম্যানেজার
Comment[bo]=PKGget Package Manager
Comment[bs]=PKGget menadžer paketa
Comment[ca]=Gestor de paquets PKGget
Comment[co]=Manager di pacchetti PKGget
Comment[cs]=Správce balíčků PKGget
Comment[cy]=Rheolwr Pecyn PKGget
Comment[da]=PKGget Package Manager
Comment[dv]=ވެރެޖަނޭމެ ޖްކޭޕެ ޓްގެޖީކޭޕީ
Comment[ee]=PKGget Package Dzikpɔla
Comment[el]=PKGget Package Manager
Comment[eo]=PKGget Paka Administranto
Comment[et]=PKGgeti paketihaldur
Comment[eu]=PKGget paketeen kudeatzailea
Comment[fa]=PKGget ﻪﺘﺴﺑ ﺮﯾﺪﻣ
Comment[fi]=PKGget Package Manager
Comment[fj]=Manidia ni pakete ni PKGget
Comment[fo]=PKGget Package Manager
Comment[fy]=PKGget Package Manager
Comment[ga]=Bainisteoir Pacáiste Pkgget
Comment[gd]=Manaidsear pacaid PKGget
Comment[gl]=Xestor de paquetes PKGget
Comment[gn]=PKGget Paquete Moakãha
Comment[gu]=PKGગેટ પેકેજ મેનેજર
Comment[ha]=Manajan Kunshin PKGget
Comment[he]=PKGget לש תוליבחה להנמ
Comment[hi]=PKGget पैकेज मैनेजर
Comment[hr]=Upravitelj paketa PKGget
Comment[ht]=Manadjè pake PKGget
Comment[hu]=PKGget csomagkezelő
Comment[hy]=PKGget փաթեթի կառավարիչ
Comment[id]=Manajer Paket PKGget
Comment[ig]=Onye njikwa ngwugwu PKGget
Comment[is]=PKGget pakkastjóri
Comment[it]=Gestore pacchetti PKGget
Comment[iu]=PKGet ᐴᖅᑲᖅᓯᒪᔪᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=PKGget パッケージマネージャー
Comment[jv]=Manajer Paket PKGget
Comment[ka]=PKGget პაკეტის მენეჯერი
Comment[kk]=PKGget пакет менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងកញ្ចប់ PKGget
Comment[kn]=PKGget ಪ್ಯಾಕೇಜ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=PKGget 패키지 관리자
Comment[ku]=Rêvebirê Pakêtê PKGget
Comment[ky]=PKGget пакет менеджери
Comment[la]=PKGget Package Manager
Comment[lb]=PKGget Package Manager
Comment[lg]=PKGget Omuddukanya Package
Comment[ln]=PKGget Mokambi ya Paquet
Comment[lo]=PKGget ຜູ້ຈັດການຊຸດ
Comment[lt]=PKGget paketų tvarkyklė
Comment[lv]=PKGget pakotņu pārvaldnieks
Comment[mg]=PKGget Package Manager
Comment[mi]=Kaiwhakahaere PKGget Package
Comment[mk]=PKGget менаџер на пакети
Comment[ml]=PKGget പാക്കേജ് മാനേജർ
Comment[mn]=PKGget багц менежер
Comment[mr]=PKG गेट पॅकेज मॅनेजर
Comment[ms]=Pengurus Pakej PKGget
Comment[mt]=Maniġer tal-Pakketti PKGget
Comment[my]=PKGget Package Manager
Comment[ne]=PKG प्याकेज प्रबन्धक प्राप्त गर्नुहोस्
Comment[nl]=PKGget-pakketbeheer
Comment[no]=PKGget Package Manager
Comment[ny]=PKGget Package Manager
Comment[om]=Hogganaa Paakeejii PKGget
Comment[or]=PKGget ପ୍ୟାକେଜ୍ ପରିଚାଳକ |
Comment[pa]=ਪੀਕੇਜੀਗੇਟ ਪੈਕੇਜ ਮੈਨੇਜਰ
Comment[pl]=Menedżer pakietów PKGget
Comment[ps]=PKG ﺮﯾﺪﻣ ۍﺪﻨﺑ ﻪﺘﺴﺑ ﺩ
Comment[pt]=Gerenciador de pacotes PKGget
Comment[qu]=PKGget Paquete kamachiq
Comment[ro]=Manager de pachete PKGget
Comment[rw]=Umuyobozi wa PackGget
Comment[sa]=PKGget संकुल प्रबन्धक
Comment[sd]=PKG ﺮﺠﻴﻨﺌﻣ ﺞﻴڪﻴﭘ ﻮﻳﺮڪ ﻞﺻﺎﺣ
Comment[si]=PKGget පැකේජ කළමනාකරු
Comment[sk]=Správca balíkov PKGget
Comment[sl]=Upravitelj paketov PKGget
Comment[sm]=PKGget Package Manager
Comment[sn]=PKGget Package Maneja
Comment[so]=Maamulaha Xidhmada PKGget
Comment[sq]=Menaxheri i paketave PKGget
Comment[st]=Motsamaisi oa Sephutheloana oa PKGget
Comment[su]=Manajer Paket PKGget
Comment[sv]=PKGget Package Manager
Comment[sw]=Kidhibiti cha Kifurushi cha PKGget
Comment[ta]=PKGget தொகுப்பு மேலாளர்
Comment[te]=PKGget ప్యాకేజీ మేనేజర్
Comment[tg]=Менеҷери бастаи PKGget
Comment[th]=PKGget ผู้จัดการแพ็คเกจ
Comment[ti]=PKGget ፓኬጅ ማናጀር
Comment[tk]=PKGget paket dolandyryjysy
Comment[tl]=Tagapamahala ng PKGget Package
Comment[to]=Pule PKGget peketi
Comment[tr]=PKGget Paket Yöneticisi
Comment[ts]=PKGget Mufambisi wa Phasela
Comment[tt]=PKGget пакет менеджеры
Comment[tw]=PKGget Package no sohwɛfo
Comment[ty]=PKGget Package Manager
Comment[ug]=PKGget Package Manager
Comment[uk]=Менеджер пакетів PKGget
Comment[ur]=۔ﮟﯾﺮﮐ ﻞﺻﺎﺣ ﻮﮐ ﺮﺠﯿﻨﯿﻣ ﺞﮑﯿﭘ ﯽﺟ ﮯﮐ ﯽﭘ
Comment[uz]=PKGget paket menejeri
Comment[vi]=Trình quản lý gói PKGget
Comment[xh]=PKGget Umphathi wePhakeji
Comment[yi]=PKGget רעגאַנאַמ עגאַקקאַפּ
Comment[yo]=PKGget Package Manager
Comment[zh]=PKGget 包管理器
Comment[zu]=Umphathi Wephakheji we-PKGget
Comment=PKGget Package Manager
Exec=pkgget
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=PKGget
MimeType=application/pet;application/x-xbps;application/x-pkg;application/x-deb;application/vnd.debian.binary-package;application/x-rpm;application/x-tgz
