[Desktop Entry]
Encoding=UTF-8
Name[fr]=Bloqueur des publicités en ligne : Pup-Advert-Blocker
Name[bg]=Pup-Advert-Blocker блокира онлайн реклами
Name[de]=Pup-Werbeblocker blockieren Online-Werbung
Name[es]=Pup-Advert-Blocker: bloquear anuncios
Name[ru]=Pup-Advert-Blocker блокира онлайн реклами
Name[af]=Pup-Advert-Blocker blokkeer aanlynadvertensies
Name[am]=Pup-Advert-Blocker የመስመር ላይ ማስታወቂያዎችን አግድ
Name[ar]=Pup-Advert-Blocker ﺖﻧﺮﺘﻧﻹ﻿ﺍ ﺮﺒﻋ ﺕﺎﻧﻼ﻿ﻋﻹ﻿ﺍ ﻊﻨﻣ
Name[as]=Pup-Advert-Blocker অনলাইন বিজ্ঞাপন ব্লক কৰে
Name[ay]=Pup-Advert-Blocker ukax internet tuqin yatiyawinak jark’aqi
Name[az]=Pup-Advert-Blocker onlayn reklamları bloklayır
Name[ba]=Pup-Advert-Blocker онлайн-иғландар блогы
Name[be]=Pup-Advert-Blocker блакуе інтэрнэт-рэкламу
Name[bm]=Pup-Advert-Blocker bɛ ɛntɛrinɛti kan piblisitew bali
Name[bn]=Pup-Advert-Blocker ব্লক অনলাইন বিজ্ঞাপন
Name[bo]=Pup-Advert-Blockerཡིས་དྲ་ཐོག་གི་མཚམས་སྦྱོར་བརྡ་ཁྱབ་ལ་བཀག་འགོག་བྱས།
Name[bs]=Pup-Advert-Blocker blokira online oglase
Name[ca]=Pup-Advert-Blocker bloqueja els anuncis en línia
Name[co]=Pup-Advert-Blocker blucca annunzii nanu
Name[cs]=Pup-Advert-Blocker blokuje online reklamy
Name[cy]=Mae Pup-Advert-Blocker yn rhwystro hysbysebion ar-lein
Name[da]=Pup-Advert-Blocker blokerer onlineannoncer
Name[dv]=ވެއެރެކު ކްލޮބް އްތަރުހާތިޝްއި ންއިލަންއޮ ރކަލޮބް-ޓްރވަޑްއެ-ޕްޕަ
Name[ee]=Pup-Advert-Blocker xea mɔ na boblododo siwo le Internet dzi
Name[el]=Pup-Advert-Blocker μπλοκάρει τις διαδικτυακές διαφημίσεις
Name[eo]=Pup-Advert-Blocker blokas interretajn reklamojn
Name[et]=Pup-Advert-Blocker blokeerida veebireklaamid
Name[eu]=Pup-Advert-Blocker lineako iragarkiak blokeatu
Name[fa]=Pup-Advert-Blocker ﺪﻨﮐ ﯽﻣ ﺩﻭﺪﺴﻣ ﺍﺭ ﻦﯾﻼ﻿ﻧﺁ ﺕﺎﻐﯿﻠﺒﺗ
Name[fi]=Pup-Advert-Blocker estää online-mainokset
Name[fj]=Pup-Advert-Blocker buloko ni ads ena initaneti
Name[fo]=Pup-Advert-Blocker block online ads
Name[fy]=Pup-Advert-Blocker blokkearje online advertinsjes
Name[ga]=Cuireann Pup-Advert-Blocker bac ar fhógraí ar líne
Name[gd]=Bidh Pup-Advert-Blocker a’ cuir casg air sanasan air-loidhne
Name[gl]=Pup-Advert-Blocker bloquea anuncios en liña
Name[gn]=Pup-Advert-Blocker omboty umi marandu en línea
Name[gu]=પપ-એડવર્ટ-બ્લૉકર ઑનલાઇન જાહેરાતોને અવરોધિત કરો
Name[ha]=Pup-Advert-Blocker toshe tallace-tallacen kan layi
Name[he]=Pup-Advert-Blocker תונווקמ תועדומ םסוח
Name[hi]=पप-विज्ञापन-अवरोधक ऑनलाइन विज्ञापनों को ब्लॉक करता है
Name[hr]=Pup-Advert-Blocker blokira online oglase
Name[ht]=Pup-Advert-Blocker bloke anons sou entènèt
Name[hu]=Pup-Advert-Blocker blokkolja az online hirdetéseket
Name[hy]=Pup-Advert-Blocker արգելափակում է առցանց գովազդը
Name[id]=Pup-Advert-Blocker memblokir iklan online
Name[ig]=Pup- Advert-blocker na-egbochi mgbasa ozi ịntanetị
Name[is]=Pup-Advert-Blocker loka fyrir auglýsingar á netinu
Name[it]=Pup-Advert-Blocker blocca gli annunci online
Name[iu]=Pup-Advert-Blocker block ᖃᕆᑕᐅᔭᒃᑯᑦ ᒪᓂᓴᐅᑎᑦ
Name[ja]=Pup-Advert-Blocker はオンライン広告をブロックします
Name[jv]=Pup-Advert-Blocker mblokir iklan online
Name[ka]=Pup-Advert-Blocker დაბლოკოს ონლაინ რეკლამები
Name[kk]=Pup-Advert-Blocker онлайн жарнамаларды блоктайды
Name[km]=Pup-Advert-Blocker រារាំងការផ្សាយពាណិជ្ជកម្មតាមអ៊ីនធឺណិត
Name[kn]=ಪಪ್-ಜಾಹೀರಾತು-ಬ್ಲಾಕರ್ ಆನ್u200cಲೈನ್ ಜಾಹೀರಾತುಗಳನ್ನು ನಿರ್ಬಂಧಿಸುತ್ತದೆ
Name[ko]=Pup-Advert-Blocker 온라인 광고 차단
Name[ku]=Pup-Advert-Blocker reklamên serhêl asteng dike
Name[ky]=Pup-Advert-Blocker онлайн жарнамаларды бөгөттөө
Name[la]=Pup-Advert-Blocker obstructionum online ads
Name[lb]=Pup-Advert-Blocker blockéiert Online Annoncen
Name[lg]=Pup-Advert-Blocker okuziyiza ebirango ku yintaneeti
Name[ln]=Pup-Advert-Blocker kopekisa ba piblisite ya internet
Name[lo]=Pup-Advert-Blocker ຕັນການໂຄສະນາອອນໄລນ໌
Name[lt]=„Pup-Advert-Blocker“ blokuoja internetinius skelbimus
Name[lv]=Pup-Advert-Blocker bloķēt tiešsaistes reklāmas
Name[mg]=Pup-Advert-Blocker manakana doka an-tserasera
Name[mi]=Pup-Advert-Blocker poraka nga panui ipurangi
Name[mk]=Pup-Advert-Blocker блокира онлајн реклами
Name[ml]=Pup-Advert-Blocker ഓൺലൈൻ പരസ്യങ്ങൾ തടയുന്നു
Name[mn]=Pup-Advert-Blocker онлайн зарыг блокло
Name[mr]=Pup-Advert-Blocker ऑनलाइन जाहिराती ब्लॉक करा
Name[ms]=Pup-Advert-Blocker menyekat iklan dalam talian
Name[mt]=Pup-Advert-Blocker jimblokka reklami onlajn
Name[my]=Pup-Advert-Blocker သည် အွန်လိုင်းကြော်ငြာများကို ပိတ်ဆို့သည်။
Name[ne]=Pup-Advert-Blocker ब्लक अनलाइन विज्ञापन
Name[nl]=Pup-Advert-Blocker blokkeert online advertenties
Name[no]=Pup-Advert-Blocker blokkerer nettannonser
Name[ny]=Pup-Advert-Blocker amaletsa zotsatsa pa intaneti
Name[om]=Pup-Advert-Blocker beeksisa toora interneetii ugguruu
Name[or]=ପପ୍-ବିଜ୍ଞାପନ-ବ୍ଲକର୍ ଅନଲାଇନ୍ ବିଜ୍ଞାପନଗୁଡିକୁ ଅବରୋଧ କରେ |
Name[pa]=Pup-Advert-Blocker ਬਲਾਕ ਔਨਲਾਈਨ ਵਿਗਿਆਪਨ
Name[pl]=Pup-Advert-Blocker blokuje reklamy online
Name[ps]=Pup-Advert-Blocker ﻱﻭﺪﻨﺑ ﻪﻧﻮﻧﻼ﻿ﻋﺍ ﻦﯾﻼ﻿ﻧﺁ
Name[pt]=Pup-Advert-Blocker bloquear anúncios online
Name[qu]=Pup-Advert-Blocker internetpi willakuykunata harkan
Name[ro]=Pup-Advert-Blocker blochează reclamele online
Name[rw]=Igipupe-Kwamamaza-Guhagarika kwamamaza kumurongo
Name[sa]=Pup-Advert-Blocker ऑनलाइन विज्ञापनं अवरुद्धयति
Name[sd]=Pup-Advert-Blocker ﺭﺎﻬﺘﺷﺍ ﻦﺋﻻ﻿ ﻥﺁ ڪﻼ﻿ﺑ
Name[si]=Pup-Advert-Blocker මාර්ගගත දැන්වීම් අවහිර කරයි
Name[sk]=Pup-Advert-Blocker blokuje online reklamy
Name[sl]=Pup-Advert-Blocker blokira spletne oglase
Name[sm]=Pup-Advert-Blocker poloka faʻasalalauga i luga ole laiga
Name[sn]=Pup-Advert-Blocker block online ads
Name[so]=Xayeysiiska-Xayeysiinta-Blocker-ka-hortagga xayaysiisyada onlaynka ah
Name[sq]=Pup-Advert-Blocker bllokon reklamat në internet
Name[st]=Pup-Advert-Blocker thibela lipapatso tsa inthaneteng
Name[su]=Pup-Advert-Blocker meungpeuk iklan online
Name[sv]=Pup-Advert-Blocker blockerar onlineannonser
Name[sw]=Pup-Advert-Blocker huzuia matangazo ya mtandaoni
Name[ta]=Pup-Advert-Blocker ஆன்லைன் விளம்பரங்களைத் தடுக்கிறது
Name[te]=పప్-అడ్వర్ట్-బ్లాకర్ ఆన్u200cలైన్ ప్రకటనలను బ్లాక్ చేస్తుంది
Name[tg]=Pup-Advert-Blocker таблиғоти онлайнро маҳкам мекунад
Name[th]=Pup-Advert-Blocker บล็อกโฆษณาออนไลน์
Name[ti]=Pup-Advert-Blocker ንናይ ኦንላይን መወዓውዒታት ይዓግት።
Name[tk]=Gurjak-mahabat-bloklaýjy onlaýn mahabatlary bloklaýar
Name[tl]=Hinaharang ng Pup-Advert-Blocker ang mga online na ad
Name[to]=Pup-Advert-Blocker ngaahi tuʻuaki ʻi he ʻInitaneti
Name[tr]=Pup-Advert-Blocker çevrimiçi reklamları engeller
Name[ts]=Pup-Advert-Blocker yi sivela swinavetiso swa le ka inthanete
Name[tt]=Кукла-реклама-блокер онлайн рекламаны блоклый
Name[tw]=Pup-Advert-Blocker siw intanɛt so dawurubɔ ahorow ano
Name[ty]=Pup-Advert-Blocker block online ads
Name[ug]=Pup-Advert-Blocker ﯗﺪﯩﺳﻮﺗ ﻰﻨﯩﻧﻼ﻿ﯧﺋ ﺭﻮﺗ
Name[uk]=Pup-Advert-Blocker блокує онлайн-рекламу
Name[ur]=Pup-Advert-Blocker ۔ﮯﮨ ﺎﺘﮐﻭﺭ ﻮﮐ ﺕﺍﺭﺎﮩﺘﺷﺍ ﻦﺋﻻ﻿ ﻥﺁ
Name[uz]=Pup-Advert-Blocker onlayn reklamalarni bloklaydi
Name[vi]=Pup-Advert-Blocker chặn quảng cáo trực tuyến
Name[xh]=IPup-Advert-Blocker ibhloka iintengiso ezikwi-intanethi
Name[yi]=Pup-Advert-Blocker סדאַ ןיילנאָ ןראַפּשראַפ
Name[yo]=Pup-Ipolowo-Dina awọn ipolowo ori ayelujara
Name[zh]=Pup-Advert-Blocker 阻止在线广告
Name[zu]=I-Pup-Advert-Blocker ivimba izikhangiso eziku-inthanethi
Name=Pup-Advert-Blocker block online ads
Icon=adblock.xpm
Comment[fr]=Bloqueur des publicités en ligne
Comment[bg]=Блокира много онлайн реклами
Comment[de]=Blockiert viele Online-Anzeigen
Comment[es]=Pup-Advert-Blocker: bloquear anuncios
Comment[ru]=Блокира много онлайн реклами
Comment[af]=Blokkeer baie aanlyn advertensies
Comment[am]=ብዙ የመስመር ላይ ማስታወቂያዎችን ያግዳል።
Comment[ar]=ﺖﻧﺮﺘﻧﻹ﻿ﺍ ﺮﺒﻋ ﺕﺎﻧﻼ﻿ﻋﻹ﻿ﺍ ﻦﻣ ﺪﻳﺪﻌﻟﺍ ﻊﻨﻤﻳ
Comment[as]=বহুতো অনলাইন বিজ্ঞাপন ব্লক কৰে
Comment[ay]=Walja anuncios en línea ukanakar jark’aqaraki
Comment[az]=Bir çox onlayn reklamları bloklayır
Comment[ba]=Күп кенә онлайн-иғландарҙы ҡамасаулай
Comment[be]=Блакуе шмат інтэрнэт-рэкламы
Comment[bm]=A bɛ ɛntɛrinɛti kan piblisite caman bali
Comment[bn]=অনেক অনলাইন বিজ্ঞাপন ব্লক করে
Comment[bo]=དྲ་ཐོག་གི་མཚམས་སྦྱོར་བརྡ་ཁྱབ་མང་པོ་བཀག་
Comment[bs]=Blokira mnoge online reklame
Comment[ca]=Bloqueja molts anuncis en línia
Comment[co]=Blocca parechji publicità in linea
Comment[cs]=Blokuje mnoho online reklam
Comment[cy]=Yn rhwystro llawer o hysbysebion ar-lein
Comment[da]=Blokerer mange online annoncer
Comment[dv]=ވެއެރެކު ކްލޮބް އްތަރުހާތިޝްއި ންއިލަންއޮ ނަގި
Comment[ee]=Exea mɔ na boblododo geɖe siwo dona le Internet dzi
Comment[el]=Αποκλείει πολλές διαδικτυακές διαφημίσεις
Comment[eo]=Blokas multajn retajn reklamojn
Comment[et]=Blokeerib paljud veebireklaamid
Comment[eu]=Lineako iragarki asko blokeatzen ditu
Comment[fa]=ﺪﻨﮐ ﯽﻣ ﺩﻭﺪﺴﻣ ﺍﺭ ﻦﯾﻼ﻿ﻧﺁ ﺕﺎﻐﯿﻠﺒﺗ ﺯﺍ ﯼﺭﺎﯿﺴﺑ
Comment[fi]=Estää monet online-mainokset
Comment[fj]=Sarava e vuqa na itukutuku ena initaneti
Comment[fo]=Blocks nógvar online adverts
Comment[fy]=Blokkeart in protte online advertinsjes
Comment[ga]=Cuir bac ar go leor fógraí ar líne
Comment[gd]=A’ bacadh mòran shanasan air-loidhne
Comment[gl]=Bloquea moitos anuncios en liña
Comment[gn]=Ojoko heta anuncio en línea
Comment[gu]=ઘણી ઓનલાઈન જાહેરાતોને બ્લોક કરે છે
Comment[ha]=Yana toshe tallace-tallacen kan layi da yawa
Comment[he]=תובר תונווקמ תומוסרפ םסוח
Comment[hi]=कई ऑनलाइन विज्ञापनों को ब्लॉक करता है
Comment[hr]=Blokira mnoge online oglase
Comment[ht]=Bloke anpil piblisite sou entènèt
Comment[hu]=Sok online hirdetést blokkol
Comment[hy]=Արգելափակում է բազմաթիվ առցանց գովազդներ
Comment[id]=Memblokir banyak iklan online
Comment[ig]=Na-egbochi ọtụtụ mgbasa ozi ịntanetị
Comment[is]=Lokar á margar auglýsingar á netinu
Comment[it]=Blocca molti annunci online
Comment[iu]=ᖃᕋᓴᐅᔭᒃᑯᑦ ᒪᓂᓴᐅᑎᑦ ᐅᓄᖅᑐᑦ
Comment[ja]=多くのオンライン広告をブロックします
Comment[jv]=Pamblokiran akeh iklan online
Comment[ka]=ბლოკავს ბევრ ონლაინ რეკლამას
Comment[kk]=Көптеген онлайн жарнамаларды блоктайды
Comment[km]=រារាំងការផ្សាយពាណិជ្ជកម្មតាមអ៊ីនធឺណិតជាច្រើន។
Comment[kn]=ಅನೇಕ ಆನ್u200cಲೈನ್ ಜಾಹೀರಾತುಗಳನ್ನು ನಿರ್ಬಂಧಿಸುತ್ತದೆ
Comment[ko]=많은 온라인 광고 차단
Comment[ku]=Gelek reklamên serhêl asteng dike
Comment[ky]=Көптөгөн онлайн жарнамаларды бөгөттөйт
Comment[la]=Cuneos multos online advertit
Comment[lb]=Blockéiert vill Online Annoncen
Comment[lg]=Aziyiza ebirango bingi ebiri ku yintaneeti
Comment[ln]=E bloquer ba publicités ebele na internet
Comment[lo]=ຂັດຂວາງການໂຄສະນາອອນໄລນ໌ຈໍານວນຫຼາຍ
Comment[lt]=Blokuoja daugybę internetinių skelbimų
Comment[lv]=Bloķē daudzas tiešsaistes reklāmas
Comment[mg]=Manakana doka an-tserasera maro
Comment[mi]=Ka aukati i te maha o nga panui ipurangi
Comment[mk]=Блокира многу онлајн огласи
Comment[ml]=നിരവധി ഓൺലൈൻ പരസ്യങ്ങൾ തടയുന്നു
Comment[mn]=Олон тооны онлайн зар сурталчилгааг блоклодог
Comment[mr]=अनेक ऑनलाइन जाहिराती अवरोधित करते
Comment[ms]=Menyekat banyak iklan dalam talian
Comment[mt]=Jimblokka ħafna reklami onlajn
Comment[my]=အွန်လိုင်းကြော်ငြာများစွာကို ပိတ်ဆို့သည်။
Comment[ne]=धेरै अनलाइन विज्ञापनहरू रोक्छ
Comment[nl]=Blokkeert veel online advertenties
Comment[no]=Blokkerer mange nettannonser
Comment[ny]=Imaletsa zotsatsa zambiri pa intaneti
Comment[om]=Beeksisa onlaayinii hedduu ni uggura
Comment[or]=ଅନେକ ଅନଲାଇନ୍ ବିଜ୍ଞାପନକୁ ଅବରୋଧ କରେ |
Comment[pa]=ਬਹੁਤ ਸਾਰੇ ਔਨਲਾਈਨ ਇਸ਼ਤਿਹਾਰਾਂ ਨੂੰ ਰੋਕਦਾ ਹੈ
Comment[pl]=Blokuje wiele reklam online
Comment[ps]=ﻱﻭﺪﻨﺑ ﻪﻧﻮﻧﻼ﻿ﻋﺍ ﻦﯾﻼ﻿ﻧﺁ ﯼﺮﯾډ
Comment[pt]=Bloqueia muitos anúncios online
Comment[qu]=Achka internetpi willakuykunata harkan
Comment[ro]=Blochează multe reclame online
Comment[rw]=Hagarika amatangazo menshi kumurongo
Comment[sa]=अनेकानाम् ऑनलाइनविज्ञापनानाम् अवरोधं करोति
Comment[sd]=ﻮﭤ ﻱﺮڪ ڪﻼ﻿ﺑ ﻲﮐ ﻥﺭﺎﻬﺘﺷﺍ ﻦﺋﻻ﻿ ﻥﺁ ﻲﺋ ﻥﺮﺘﻴڪ
Comment[si]=බොහෝ මාර්ගගත දැන්වීම් අවහිර කරයි
Comment[sk]=Blokuje veľa online reklám
Comment[sl]=Blokira veliko spletnih oglasov
Comment[sm]=poloka le tele o faasalalauga i luga ole laiga
Comment[sn]=Inovhara kushambadzira kwakawanda kwepamhepo
Comment[so]=Wuxuu xannibaa xayeysiisyo badan oo onlayn ah
Comment[sq]=Bllokon shumë reklama në internet
Comment[st]=E thibela lipapatso tse ngata tsa Marang-rang
Comment[su]=Blok seueur iklan online
Comment[sv]=Blockerar många onlineannonser
Comment[sw]=Huzuia matangazo mengi ya mtandaoni
Comment[ta]=பல ஆன்லைன் விளம்பரங்களைத் தடுக்கிறது
Comment[te]=అనేక ఆన్u200cలైన్ ప్రకటనలను బ్లాక్ చేస్తుంది
Comment[tg]=Бисёр таблиғоти онлайнро блок мекунад
Comment[th]=บล็อกโฆษณาออนไลน์จำนวนมาก
Comment[ti]=ብዙሓት ናይ ኦንላይን መወዓውዒታት ይዓግት።
Comment[tk]=Köp onlaýn mahabatlary bloklaýar
Comment[tl]=Hinaharang ang maraming mga online na ad
Comment[to]=Ngaahi konga lahi ʻi he ʻInitaneti adverts
Comment[tr]=Birçok çevrimiçi reklamı engeller
Comment[ts]=Ku sivela swinavetiso swo tala swa le ka Internet
Comment[tt]=Күпчелек онлайн рекламаны блоклый
Comment[tw]=Siw Intanɛt so dawurubɔ pii ano
Comment[ty]=Te mau raau e rave rahi i nia i te itenati
Comment[ug]=ﯗﺪﯩﺳﻮﺗ ﻰﻨﯨﺮﯩﻠﻧﻼ﻿ﯧﺋ ﺭﻮﺗ ﻥﯘﻏﺭﯘﻧ
Comment[uk]=Блокує багато онлайн-реклами
Comment[ur]=۔ﮯﮨ ﺎﺘﮐﻭﺭ ﻮﮐ ﺕﺍﺭﺎﮩﺘﺷﺍ ﻦﺋﻻ﻿ ﻥﺁ ﮯﺳ ﺖﮩﺑ
Comment[uz]=Kopgina onlayn reklamalarni bloklaydi
Comment[vi]=Chặn nhiều quảng cáo trực tuyến
Comment[xh]=Iibhloko ezininzi zeentengiso ze-intanethi
Comment[yi]=סדאַ ןיילנאָ עליפ סקאַלב
Comment[yo]=Dina fun ọpọlọpọ awọn ipolowo ori ayelujara
Comment[zh]=阻止许多在线广告
Comment[zu]=Ivimba izikhangiso eziningi eziku-inthanethi
Comment=Blocks many online adverts
Exec=pup-advert-blocker
Terminal=false
Type=Application
Categories=X-Internet-block
GenericName=Pup-Advert-Blocker
