[Desktop Entry]
Encoding=UTF-8
Name[fr]=Informations des interfaces : PupScan
Name[bg]=Информация за интерфейса на PupScan
Name[de]=Informationen zur PupScan-Benutzeroberfläche
Name[es]=PupScan: gestor de interfaces y dispositivos
Name[ru]=Информация об интерфейсе PupScan
Name[tr]=PupScan arayüz bilgileri
Name[af]=PupScan koppelvlak inligting
Name[am]=የፑፕስካን በይነገጽ መረጃ
Name[ar]=PupScan ﺔﻬﺟﺍﻭ ﺕﺎﻣﻮﻠﻌﻣ
Name[as]=PupScan আন্তঃপৃষ্ঠৰ তথ্য
Name[ay]=PupScan ukan interfaz ukan yatiyawipa
Name[az]=PupScan interfeys məlumatı
Name[ba]=PupScan интерфейсы тураһында мәғлүмәт
Name[be]=Інфармацыя пра інтэрфейс PupScan
Name[bm]=PupScan interface kunnafoniw
Name[bn]=PupScan ইন্টারফেস তথ্য
Name[bo]=PupScan接口信息
Name[bs]=Informacije o PupScan interfejsu
Name[ca]=Informació de la interfície PupScan
Name[co]=Linfurmazione di linterfaccia PupScan
Name[cs]=Informace o rozhraní PupScan
Name[cy]=Gwybodaeth rhyngwyneb PupScan
Name[da]=PupScan interface information
Name[dv]=ތުމާލޫއުމަ ސްފޭޓަންއި ންކޭސްޕްޕަ
Name[ee]=PupScan ƒe ŋgɔdonya ŋuti nyatakakawo
Name[el]=Πληροφορίες διασύνδεσης PupScan
Name[eo]=Informoj pri la interfaco de PupScan
Name[et]=PupScani liidese teave
Name[eu]=PupScan interfazearen informazioa
Name[fa]=PupScan ﻂﺑﺍﺭ ﺕﺎﻋﻼ﻿ﻃﺍ
Name[fi]=PupScan-käyttöliittymän tiedot
Name[fj]=iTukutuku ni veisemati ni PupScan
Name[fo]=PupScan interface information
Name[fy]=PupScan ynterface ynformaasje
Name[ga]=Faisnéis comhéadan PupScan
Name[gd]=Fiosrachadh eadar-aghaidh PupScan
Name[gl]=Información da interface de PupScan
Name[gn]=Marandu interfaz PupScan rehegua
Name[gu]=પપસ્કેન ઇન્ટરફેસ માહિતી
Name[ha]=Bayanin dubawar PupScan
Name[he]=PupScan קשממ לע עדימ
Name[hi]=पपस्कैन इंटरफ़ेस जानकारी
Name[hr]=Informacije o sučelju PupScan
Name[ht]=Enfòmasyon sou koòdone PupScan
Name[hu]=PupScan interfész információ
Name[hy]=PupScan ինտերֆեյսի տեղեկատվությունը
Name[id]=Informasi antarmuka PupScan
Name[ig]=Ozi interface PupScan
Name[is]=PupScan tengi upplýsingar
Name[it]=Informazioni sullinterfaccia PupScan
Name[iu]=PupScan-ᒧᑦ ᐊᑕᖐᔪᑦ ᑐᓴᖅᑕᐅᔪᒃᓴᐃᑦ
Name[ja]=PupScan インターフェース情報
Name[jv]=Informasi antarmuka PupScan
Name[ka]=PupScan ინტერფეისის ინფორმაცია
Name[kk]=PupScan интерфейс ақпараты
Name[km]=ព័ត៌មានចំណុចប្រទាក់ PupScan
Name[kn]=PupScan ಇಂಟರ್ಫೇಸ್ ಮಾಹಿತಿ
Name[ko]=PupScan 인터페이스 정보
Name[ku]=Agahdariya pêwendiya PupScan
Name[ky]=PupScan интерфейси маалыматы
Name[la]=PupScan interface informationes
Name[lb]=PupScan Interface Informatiounen
Name[lg]=Amawulire agakwata ku nkolagana ya PupScan
Name[ln]=Ba sango ya interface ya PupScan
Name[lo]=ຂໍ້ມູນການໂຕ້ຕອບ PupScan
Name[lt]=„PupScan“ sąsajos informacija
Name[lv]=PupScan interfeisa informācija
Name[mg]=PupScan interface tsara
Name[mi]=PupScan nga korero atanga
Name[mk]=Информации за интерфејсот на PupScan
Name[ml]=PupScan ഇന്റർഫേസ് വിവരങ്ങൾ
Name[mn]=PupScan интерфейсийн мэдээлэл
Name[mr]=PupScan इंटरफेस माहिती
Name[ms]=Maklumat antara muka PupScan
Name[mt]=Informazzjoni dwar l-interface PupScan
Name[my]=PupScan အင်တာဖေ့စ်အချက်အလက်
Name[ne]=PupScan इन्टरफेस जानकारी
Name[nl]=PupScan-interface-informatie
Name[no]=PupScan-grensesnittinformasjon
Name[ny]=Zambiri za mawonekedwe a PupScan
Name[om]=Odeeffannoo walqunnamtii PupScan
Name[or]=PupScan ଇଣ୍ଟରଫେସ୍ ସୂଚନା |
Name[pa]=PupScan ਇੰਟਰਫੇਸ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o interfejsie PupScan
Name[ps]=ﺕﺎﻣﻮﻠﻌﻣ ﺲﯿﻓﺮﭩﻧﺍ PupScan ﺩ
Name[pt]=Informações da interface do PupScan
Name[qu]=PupScan interfazmanta willakuy
Name[ro]=Informații despre interfața PupScan
Name[rw]=PupScan Imigaragarire yamakuru
Name[sa]=PupScan अन्तरफलकसूचना
Name[sd]=PupScan ﮠﺎﭴ ﺲﻴﻓﺮٽﻧﺍ
Name[si]=PupScan අතුරුමුහුණත් තොරතුරු
Name[sk]=Informácie o rozhraní PupScan
Name[sl]=Informacije o vmesniku PupScan
Name[sm]=PupScan faamatalaga faaoga
Name[sn]=PupScan interface ruzivo
Name[so]=Macluumaadka Interface-ka PupScan
Name[sq]=Informacioni i ndërfaqes PupScan
Name[st]=Lintlha tsa sebopeho sa PupScan
Name[su]=Inpo panganteur PupScan
Name[sv]=PupScan-gränssnittsinformation
Name[sw]=Maelezo ya kiolesura cha PupScan
Name[ta]=PupScan இடைமுகத் தகவல்
Name[te]=PupScan ఇంటర్u200cఫేస్ సమాచారం
Name[tg]=Маълумоти интерфейси PupScan
Name[th]=ข้อมูลอินเทอร์เฟซ PupScan
Name[ti]=ናይ ፓፕስካን መተሓላለፊ ሓበሬታ
Name[tk]=PupScan interfeýsi barada maglumat
Name[tl]=Impormasyon sa interface ng PupScan
Name[to]=PupScan Interface e fakamatala
Name[ts]=Vuxokoxoko bya vuhlanganisi bya PupScan
Name[tt]=PupScan интерфейсы турында мәгълүмат
Name[tw]=PupScan interface ho nsɛm
Name[ty]=PuScan interface haamaramaramaraa
Name[ug]=PupScan ﻯﺭﯘﭼﯘﺋ ﻯﺯﯜﻳ ەﻤﻧﯛﺭﯚﻛ
Name[uk]=Інформація про інтерфейс PupScan
Name[ur]=ﺕﺎﻣﻮﻠﻌﻣ ﯽﮐ ﺲﯿﻓﺮﭩﻧﺍ ﻦﯿﮑﺳﺍ ﭗﭘ
Name[uz]=PupScan interfeysi haqida malumot
Name[vi]=Thông tin giao diện PupScan
Name[xh]=Ulwazi lojongano lwePupScan
Name[yi]=PupScan עיצאַמראָפֿניא דניבוצ
Name[yo]=PupScan ni wiwo alaye
Name[zh]=PupScan接口信息
Name[zu]=Ulwazi lwesixhumi esibonakalayo se-PupScan
Name=PupScan interface information
Icon=Card.xpm
Comment[fr]=Informations des interfaces : PupScan
Comment[bg]=Информация за интерфейса на PupScan
Comment[de]=Informationen zur PupScan-Benutzeroberfläche
Comment[es]=Gestor de interfaces y dispositivos
Comment[ru]=Информация об интерфейсе PupScan
Comment[tr]=PupScan arayüz bilgileri
Comment[af]=PupScan koppelvlak inligting
Comment[am]=የፑፕስካን በይነገጽ መረጃ
Comment[ar]=PupScan ﺔﻬﺟﺍﻭ ﺕﺎﻣﻮﻠﻌﻣ
Comment[as]=PupScan আন্তঃপৃষ্ঠৰ তথ্য
Comment[ay]=PupScan ukan interfaz ukan yatiyawipa
Comment[az]=PupScan interfeys məlumatı
Comment[ba]=PupScan интерфейсы тураһында мәғлүмәт
Comment[be]=Інфармацыя пра інтэрфейс PupScan
Comment[bm]=PupScan interface kunnafoniw
Comment[bn]=PupScan ইন্টারফেস তথ্য
Comment[bo]=PupScan接口信息
Comment[bs]=Informacije o PupScan interfejsu
Comment[ca]=Informació de la interfície PupScan
Comment[co]=Linfurmazione di linterfaccia PupScan
Comment[cs]=Informace o rozhraní PupScan
Comment[cy]=Gwybodaeth rhyngwyneb PupScan
Comment[da]=PupScan interface information
Comment[dv]=ތުމާލޫއުމަ ސްފޭޓަންއި ންކޭސްޕްޕަ
Comment[ee]=PupScan ƒe ŋgɔdonya ŋuti nyatakakawo
Comment[el]=Πληροφορίες διασύνδεσης PupScan
Comment[eo]=Informoj pri la interfaco de PupScan
Comment[et]=PupScani liidese teave
Comment[eu]=PupScan interfazearen informazioa
Comment[fa]=PupScan ﻂﺑﺍﺭ ﺕﺎﻋﻼ﻿ﻃﺍ
Comment[fi]=PupScan-käyttöliittymän tiedot
Comment[fj]=iTukutuku ni veisemati ni PupScan
Comment[fo]=PupScan interface information
Comment[fy]=PupScan ynterface ynformaasje
Comment[ga]=Faisnéis comhéadan PupScan
Comment[gd]=Fiosrachadh eadar-aghaidh PupScan
Comment[gl]=Información da interface de PupScan
Comment[gn]=Marandu interfaz PupScan rehegua
Comment[gu]=પપસ્કેન ઇન્ટરફેસ માહિતી
Comment[ha]=Bayanin dubawar PupScan
Comment[he]=PupScan קשממ לע עדימ
Comment[hi]=पपस्कैन इंटरफ़ेस जानकारी
Comment[hr]=Informacije o sučelju PupScan
Comment[ht]=Enfòmasyon sou koòdone PupScan
Comment[hu]=PupScan interfész információ
Comment[hy]=PupScan ինտերֆեյսի տեղեկատվությունը
Comment[id]=Informasi antarmuka PupScan
Comment[ig]=Ozi interface PupScan
Comment[is]=PupScan tengi upplýsingar
Comment[it]=Informazioni sullinterfaccia PupScan
Comment[iu]=PupScan-ᒧᑦ ᐊᑕᖐᔪᑦ ᑐᓴᖅᑕᐅᔪᒃᓴᐃᑦ
Comment[ja]=PupScan インターフェース情報
Comment[jv]=Informasi antarmuka PupScan
Comment[ka]=PupScan ინტერფეისის ინფორმაცია
Comment[kk]=PupScan интерфейс ақпараты
Comment[km]=ព័ត៌មានចំណុចប្រទាក់ PupScan
Comment[kn]=PupScan ಇಂಟರ್ಫೇಸ್ ಮಾಹಿತಿ
Comment[ko]=PupScan 인터페이스 정보
Comment[ku]=Agahdariya pêwendiya PupScan
Comment[ky]=PupScan интерфейси маалыматы
Comment[la]=PupScan interface informationes
Comment[lb]=PupScan Interface Informatiounen
Comment[lg]=Amawulire agakwata ku nkolagana ya PupScan
Comment[ln]=Ba sango ya interface ya PupScan
Comment[lo]=ຂໍ້ມູນການໂຕ້ຕອບ PupScan
Comment[lt]=„PupScan“ sąsajos informacija
Comment[lv]=PupScan interfeisa informācija
Comment[mg]=PupScan interface tsara
Comment[mi]=PupScan nga korero atanga
Comment[mk]=Информации за интерфејсот на PupScan
Comment[ml]=PupScan ഇന്റർഫേസ് വിവരങ്ങൾ
Comment[mn]=PupScan интерфейсийн мэдээлэл
Comment[mr]=PupScan इंटरफेस माहिती
Comment[ms]=Maklumat antara muka PupScan
Comment[mt]=Informazzjoni dwar l-interface PupScan
Comment[my]=PupScan အင်တာဖေ့စ်အချက်အလက်
Comment[ne]=PupScan इन्टरफेस जानकारी
Comment[nl]=PupScan-interface-informatie
Comment[no]=PupScan-grensesnittinformasjon
Comment[ny]=Zambiri za mawonekedwe a PupScan
Comment[om]=Odeeffannoo walqunnamtii PupScan
Comment[or]=PupScan ଇଣ୍ଟରଫେସ୍ ସୂଚନା |
Comment[pa]=PupScan ਇੰਟਰਫੇਸ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o interfejsie PupScan
Comment[ps]=ﺕﺎﻣﻮﻠﻌﻣ ﺲﯿﻓﺮﭩﻧﺍ PupScan ﺩ
Comment[pt]=Informações da interface do PupScan
Comment[qu]=PupScan interfazmanta willakuy
Comment[ro]=Informații despre interfața PupScan
Comment[rw]=Ibisobanuro bya PupScan
Comment[sa]=PupScan अन्तरफलकसूचना
Comment[sd]=PupScan ﮠﺎﭴ ﺲﻴﻓﺮٽﻧﺍ
Comment[si]=PupScan අතුරුමුහුණත් තොරතුරු
Comment[sk]=Informácie o rozhraní PupScan
Comment[sl]=Informacije o vmesniku PupScan
Comment[sm]=PupScan faamatalaga faaoga
Comment[sn]=PupScan interface ruzivo
Comment[so]=Macluumaadka Interface-ka PupScan
Comment[sq]=Informacioni i ndërfaqes PupScan
Comment[st]=Lintlha tsa sebopeho sa PupScan
Comment[su]=Inpo panganteur PupScan
Comment[sv]=PupScan-gränssnittsinformation
Comment[sw]=Maelezo ya kiolesura cha PupScan
Comment[ta]=PupScan இடைமுகத் தகவல்
Comment[te]=PupScan ఇంటర్u200cఫేస్ సమాచారం
Comment[tg]=Маълумоти интерфейси PupScan
Comment[th]=ข้อมูลอินเทอร์เฟซ PupScan
Comment[ti]=ናይ ፓፕስካን መተሓላለፊ ሓበሬታ
Comment[tk]=PupScan interfeýsi barada maglumat
Comment[tl]=Impormasyon sa interface ng PupScan
Comment[to]=PupScan Interface e fakamatala
Comment[ts]=Vuxokoxoko bya vuhlanganisi bya PupScan
Comment[tt]=PupScan интерфейсы турында мәгълүмат
Comment[tw]=PupScan interface ho nsɛm
Comment[ty]=PuScan interface haamaramaramaraa
Comment[ug]=PupScan ﻯﺭﯘﭼﯘﺋ ﻯﺯﯜﻳ ەﻤﻧﯛﺭﯚﻛ
Comment[uk]=Інформація про інтерфейс PupScan
Comment[ur]=ﺕﺎﻣﻮﻠﻌﻣ ﯽﮐ ﺲﯿﻓﺮﭩﻧﺍ ﻦﯿﮑﺳﺍ ﭗﭘ
Comment[uz]=PupScan interfeysi haqida malumot
Comment[vi]=Thông tin giao diện PupScan
Comment[xh]=Ulwazi lojongano lwePupScan
Comment[yi]=PupScan עיצאַמראָפֿניא דניבוצ
Comment[yo]=PupScan ni wiwo alaye
Comment[zh]=PupScan接口信息
Comment[zu]=Ulwazi lwesixhumi esibonakalayo se-PupScan
Comment=PupScan interface information
Exec=pupscan
Terminal=false
Type=Application
Categories=X-System
GenericName=PupScan interface information
