[Desktop Entry]
Encoding=UTF-8
Name[fr]=Retirer les paquets d'origine
Name[bg]=Премахване на вградени пакети
Name[de]=Integrierte Pakete entfernen
Name[es]=Quitar paquetes incorporados
Name[ru]=Премахване на вградени пакети
Name[af]=Verwyder ingeboude pakkette
Name[am]=አብሮ የተሰሩ ጥቅሎችን ያስወግዱ
Name[ar]=ﺔﺠﻣﺪﻤﻟﺍ ﻡﺰﺤﻟﺍ ﺔﻟﺍﺯﺈﺑ ﻢﻗ
Name[as]=অন্তৰ্নিৰ্মিত সৰঞ্জামসমূহ আঁতৰাওক
Name[ay]=Ukaxa builtin packages ukanaka apsuña
Name[az]=Daxili paketləri çıxarın
Name[ba]=Строин пакеттарын алып ташлау
Name[be]=Выдаліць убудаваныя пакеты
Name[bm]=Aw bɛ pakew bɔ minnu kɔnɔ
Name[bn]=অন্তর্নির্মিত প্যাকেজগুলি সরান
Name[bo]=འཛུགས་སྐྲུན་དངོས་པོའི་ཐུམ་སྒྲིལ་མེད་པར་བཟོ་དགོས།
Name[bs]=Uklonite ugrađene pakete
Name[ca]=Elimina els paquets integrats
Name[co]=Eliminate i pacchetti integrati
Name[cs]=Odstraňte vestavěné balíčky
Name[cy]=Dileu pecynnau adeiledig
Name[da]=Fjern indbyggede pakker
Name[dv]=ންލުތާއްނަ އްތަޖްކޭޕެ ންޓިލްބި
Name[ee]=Ðe builtin packages ɖa
Name[el]=Αφαιρέστε τα ενσωματωμένα πακέτα
Name[eo]=Forigi enkonstruitajn pakaĵojn
Name[et]=Eemaldage sisseehitatud paketid
Name[eu]=Kendu barneko paketeak
Name[fa]=ﺪﯿﻨﮐ ﻑﺬﺣ ﺍﺭ ﯽﻠﺧﺍﺩ ﯼﺎﻫ ﻪﺘﺴﺑ
Name[fi]=Poista sisäänrakennetut paketit
Name[fj]=Kauta laivi na pakete builtin
Name[fo]=Remove bygdiin packages
Name[fy]=Fuortsmite ynboude pakketten
Name[ga]=Bain pacáistí ionsuite
Name[gd]=Thoir air falbh pacaidean togte
Name[gl]=Eliminar paquetes integrados
Name[gn]=Eipe’a umi paquete incorporado
Name[gu]=બિલ્ટઇન પેકેજો દૂર કરો
Name[ha]=Cire fakitin da aka gina a ciki
Name[he]=תונבומ תוליבח רסה
Name[hi]=बिल्टइन पैकेज हटाएँ
Name[hr]=Uklonite ugrađene pakete
Name[ht]=Retire pakè entegre yo
Name[hu]=Távolítsa el a beépített csomagokat
Name[hy]=Հեռացրեք ներկառուցված փաթեթները
Name[id]=Hapus paket bawaan
Name[ig]=Wepu ngwugwu wuru nime
Name[is]=Fjarlægðu innbyggða pakka
Name[it]=Rimuovi i pacchetti integrati
Name[iu]=ᐲᔭᕐᓗᒋᑦ ᓴᓇᓯᒪᔪᑦ ᐴᑦ
Name[ja]=組み込みパッケージを削除する
Name[jv]=Mbusak paket builtin
Name[ka]=ამოიღეთ ჩაშენებული პაკეტები
Name[kk]=Кірістірілген бумаларды алып тастаңыз
Name[km]=យកកញ្ចប់ដែលមានស្រាប់ចេញ
Name[kn]=ಅಂತರ್ನಿರ್ಮಿತ ಪ್ಯಾಕೇಜುಗಳನ್ನು ತೆಗೆದುಹಾಕಿ
Name[ko]=내장 패키지 제거
Name[ku]=Pakêtên çêkirî rakin
Name[ky]=Камтылган пакеттерди алып салуу
Name[la]=Remove builtin packages
Name[lb]=Ewechzehuelen agebaute Packagen
Name[lg]=Ggyawo ebipapula ebizimbibwa
Name[ln]=Longola ba paquets intégrés
Name[lo]=ເອົາແພັກເກັດທີ່ຢູ່ໃນຕົວອອກ
Name[lt]=Pašalinkite įmontuotus paketus
Name[lv]=Noņemiet iebūvētās pakotnes
Name[mg]=Esory ny fonosana naorina
Name[mi]=Tango i nga kohinga whakauru
Name[mk]=Отстранете ги вградените пакети
Name[ml]=അന്തർനിർമ്മിത പാക്കേജുകൾ നീക്കം ചെയ്യുക
Name[mn]=Суулгасан багцуудыг устгана уу
Name[mr]=अंगभूत पॅकेजेस काढा
Name[ms]=Alih keluar pakej terbina
Name[mt]=Neħħi l-pakketti builtin
Name[my]=builtin packages များကို ဖယ်ရှားပါ။
Name[ne]=निर्मित प्याकेजहरू हटाउनुहोस्
Name[nl]=Verwijder ingebouwde pakketten
Name[no]=Fjern innebygde pakker
Name[ny]=Chotsani phukusi la buildin
Name[om]=Paakeejiiwwan ijaaraman haqi
Name[or]=ବିଲ୍ଟିନ ପ୍ୟାକେଜଗୁଡ଼ିକୁ ହଟାନ୍ତୁ |
Name[pa]=ਬਿਲਟ-ਇਨ ਪੈਕੇਜ ਹਟਾਓ
Name[pl]=Usuń wbudowane pakiety
Name[ps]=ﺉړﮐ ﯤﺮﻟ ﯤړﻮڅﮐ ﻱﻮﺷ ړﻮﺟ
Name[pt]=Remover pacotes incorporados
Name[qu]=Wasichasqa paquetekunata hurquy
Name[ro]=Eliminați pachetele încorporate
Name[rw]=Kuraho ibipapuro byubatswe
Name[sa]=बिल्टिन् संकुलं निष्कासयन्तु
Name[sd]=ﻮﻳﺎٽﻫ ﻲﮐ ﺰﺠﻴڪﻴﭘ ﻞﻴﭤ ﺮﻴﻤﻌﺗ
Name[si]=බිල්ට් පැකේජ ඉවත් කරන්න
Name[sk]=Odstráňte vstavané balíky
Name[sl]=Odstranite vgrajene pakete
Name[sm]=Aveese afifi ua fausia
Name[sn]=Bvisa mabuiltin package
Name[so]=Ka saar baakadaha la dhisay
Name[sq]=Hiq paketat e integruara
Name[st]=Tlosa liphutheloana tse hahiloeng
Name[su]=Leupaskeun bungkusan builtin
Name[sv]=Ta bort inbyggda paket
Name[sw]=Ondoa vifurushi vilivyojengwa
Name[ta]=உள்ளமைக்கப்பட்ட தொகுப்புகளை அகற்று
Name[te]=అంతర్నిర్మిత ప్యాకేజీలను తీసివేయండి
Name[tg]=Бастаҳои сохташударо хориҷ кунед
Name[th]=ลบแพ็คเกจในตัว
Name[ti]=ኣብ ውሽጢ ዝርከቡ ፓኬጃት ኣወግድ
Name[tk]=Gurlan paketleri aýyryň
Name[tl]=Alisin ang mga builtin na pakete
Name[to]=Toʻo ʻa e ngaahi kofukofu builtin
Name[tr]=Yerleşik paketleri kaldır
Name[ts]=Susa tiphasela leti akiweke
Name[tt]=Билл пакетларын бетерегез
Name[tw]=Yi builtin packages no fi hɔ
Name[ty]=Tatara i te mau puohu i hamanihia
Name[ug]=ﯔﯩﺘﯦﯟﯩﻠﯧﺋ ﻰﻧﺭﻼ﻿ﯩﻤﻟﺍﺭﻮﺋ ﻥﺎﻏﺭﯘﻗ
Name[uk]=Видаліть вбудовані пакети
Name[ur]=۔ﮟﯾﺩ ﺎﭩﮨ ﻮﮐ ﺰﺠﯿﮑﯿﭘ ﻥﺍ ﭧﻠﺑ
Name[uz]=Ornatilgan paketlarni olib tashlang
Name[vi]=Xóa các gói dựng sẵn
Name[xh]=Susa iipakethe ze-buildin
Name[yi]=זאַשזדאַקאַפּ ןיא-טיובעג ןעמענפּאָראַ
Name[yo]=Yọ awọn akojọpọ ti a ṣe sinu rẹ kuro
Name[zh]=删除内置包
Name[zu]=Susa amaphakheji e-buildin
Name=Remove builtin packages
Icon=mini-ray.xpm
Comment[fr]=Retirer les paquets d'origine
Comment[bg]=Премахване на вградени пакети
Comment[de]=Integrierte Pakete entfernen
Comment[es]=Quitar paquetes incorporados
Comment[ru]=Премахване на вградени пакети
Comment[af]=Verwyder ingeboude pakkette
Comment[am]=አብሮ የተሰሩ ጥቅሎችን ያስወግዱ
Comment[ar]=ﺔﺠﻣﺪﻤﻟﺍ ﻡﺰﺤﻟﺍ ﺔﻟﺍﺯﺈﺑ ﻢﻗ
Comment[as]=অন্তৰ্নিৰ্মিত সৰঞ্জামসমূহ আঁতৰাওক
Comment[ay]=Ukaxa builtin packages ukanaka apsuña
Comment[az]=Daxili paketləri çıxarın
Comment[ba]=Строин пакеттарын алып ташлау
Comment[be]=Выдаліць убудаваныя пакеты
Comment[bm]=Aw bɛ pakew bɔ minnu kɔnɔ
Comment[bn]=অন্তর্নির্মিত প্যাকেজগুলি সরান
Comment[bo]=འཛུགས་སྐྲུན་དངོས་པོའི་ཐུམ་སྒྲིལ་མེད་པར་བཟོ་དགོས།
Comment[bs]=Uklonite ugrađene pakete
Comment[ca]=Elimina els paquets integrats
Comment[co]=Eliminate i pacchetti integrati
Comment[cs]=Odstraňte vestavěné balíčky
Comment[cy]=Dileu pecynnau adeiledig
Comment[da]=Fjern indbyggede pakker
Comment[dv]=ންލުތާއްނަ އްތަޖްކޭޕެ ންޓިލްބި
Comment[ee]=Ðe builtin packages ɖa
Comment[el]=Αφαιρέστε τα ενσωματωμένα πακέτα
Comment[eo]=Forigi enkonstruitajn pakaĵojn
Comment[et]=Eemaldage sisseehitatud paketid
Comment[eu]=Kendu barneko paketeak
Comment[fa]=ﺪﯿﻨﮐ ﻑﺬﺣ ﺍﺭ ﯽﻠﺧﺍﺩ ﯼﺎﻫ ﻪﺘﺴﺑ
Comment[fi]=Poista sisäänrakennetut paketit
Comment[fj]=Kauta laivi na pakete builtin
Comment[fo]=Remove bygdiin packages
Comment[fy]=Fuortsmite ynboude pakketten
Comment[ga]=Bain pacáistí ionsuite
Comment[gd]=Thoir air falbh pacaidean togte
Comment[gl]=Eliminar paquetes integrados
Comment[gn]=Eipe’a umi paquete incorporado
Comment[gu]=બિલ્ટઇન પેકેજો દૂર કરો
Comment[ha]=Cire fakitin da aka gina a ciki
Comment[he]=תונבומ תוליבח רסה
Comment[hi]=बिल्टइन पैकेज हटाएँ
Comment[hr]=Uklonite ugrađene pakete
Comment[ht]=Retire pakè entegre yo
Comment[hu]=Távolítsa el a beépített csomagokat
Comment[hy]=Հեռացրեք ներկառուցված փաթեթները
Comment[id]=Hapus paket bawaan
Comment[ig]=Wepu ngwugwu wuru nime
Comment[is]=Fjarlægðu innbyggða pakka
Comment[it]=Rimuovi i pacchetti integrati
Comment[iu]=ᐲᔭᕐᓗᒋᑦ ᓴᓇᓯᒪᔪᑦ ᐴᑦ
Comment[ja]=組み込みパッケージを削除する
Comment[jv]=Mbusak paket builtin
Comment[ka]=ამოიღეთ ჩაშენებული პაკეტები
Comment[kk]=Кірістірілген бумаларды алып тастаңыз
Comment[km]=យកកញ្ចប់ដែលមានស្រាប់ចេញ
Comment[kn]=ಅಂತರ್ನಿರ್ಮಿತ ಪ್ಯಾಕೇಜುಗಳನ್ನು ತೆಗೆದುಹಾಕಿ
Comment[ko]=내장 패키지 제거
Comment[ku]=Pakêtên çêkirî rakin
Comment[ky]=Камтылган пакеттерди алып салуу
Comment[la]=Remove builtin packages
Comment[lb]=Ewechzehuelen agebaute Packagen
Comment[lg]=Ggyawo ebipapula ebizimbibwa
Comment[ln]=Longola ba paquets intégrés
Comment[lo]=ເອົາແພັກເກັດທີ່ຢູ່ໃນຕົວອອກ
Comment[lt]=Pašalinkite įmontuotus paketus
Comment[lv]=Noņemiet iebūvētās pakotnes
Comment[mg]=Esory ny fonosana naorina
Comment[mi]=Tango i nga kohinga whakauru
Comment[mk]=Отстранете ги вградените пакети
Comment[ml]=അന്തർനിർമ്മിത പാക്കേജുകൾ നീക്കം ചെയ്യുക
Comment[mn]=Суулгасан багцуудыг устгана уу
Comment[mr]=अंगभूत पॅकेजेस काढा
Comment[ms]=Alih keluar pakej terbina
Comment[mt]=Neħħi l-pakketti builtin
Comment[my]=builtin packages များကို ဖယ်ရှားပါ။
Comment[ne]=निर्मित प्याकेजहरू हटाउनुहोस्
Comment[nl]=Verwijder ingebouwde pakketten
Comment[no]=Fjern innebygde pakker
Comment[ny]=Chotsani phukusi la buildin
Comment[om]=Paakeejiiwwan ijaaraman haqi
Comment[or]=ବିଲ୍ଟିନ ପ୍ୟାକେଜଗୁଡ଼ିକୁ ହଟାନ୍ତୁ |
Comment[pa]=ਬਿਲਟ-ਇਨ ਪੈਕੇਜ ਹਟਾਓ
Comment[pl]=Usuń wbudowane pakiety
Comment[ps]=ﺉړﮐ ﯤﺮﻟ ﯤړﻮڅﮐ ﻱﻮﺷ ړﻮﺟ
Comment[pt]=Remover pacotes incorporados
Comment[qu]=Wasichasqa paquetekunata hurquy
Comment[ro]=Eliminați pachetele încorporate
Comment[rw]=Kuraho ibipapuro byubatswe
Comment[sa]=बिल्टिन् संकुलं निष्कासयन्तु
Comment[sd]=ﻮﻳﺎٽﻫ ﻲﮐ ﺰﺠﻴڪﻴﭘ ﻞﻴﭤ ﺮﻴﻤﻌﺗ
Comment[si]=බිල්ට් පැකේජ ඉවත් කරන්න
Comment[sk]=Odstráňte vstavané balíky
Comment[sl]=Odstranite vgrajene pakete
Comment[sm]=Aveese afifi ua fausia
Comment[sn]=Bvisa mabuiltin package
Comment[so]=Ka saar baakadaha la dhisay
Comment[sq]=Hiq paketat e integruara
Comment[st]=Tlosa liphutheloana tse hahiloeng
Comment[su]=Leupaskeun bungkusan builtin
Comment[sv]=Ta bort inbyggda paket
Comment[sw]=Ondoa vifurushi vilivyojengwa
Comment[ta]=உள்ளமைக்கப்பட்ட தொகுப்புகளை அகற்று
Comment[te]=అంతర్నిర్మిత ప్యాకేజీలను తీసివేయండి
Comment[tg]=Бастаҳои сохташударо хориҷ кунед
Comment[th]=ลบแพ็คเกจในตัว
Comment[ti]=ኣብ ውሽጢ ዝርከቡ ፓኬጃት ኣወግድ
Comment[tk]=Gurlan paketleri aýyryň
Comment[tl]=Alisin ang mga builtin na pakete
Comment[to]=Toʻo ʻa e ngaahi kofukofu builtin
Comment[tr]=Yerleşik paketleri kaldır
Comment[ts]=Susa tiphasela leti akiweke
Comment[tt]=Билл пакетларын бетерегез
Comment[tw]=Yi builtin packages no fi hɔ
Comment[ty]=Tatara i te mau puohu i hamanihia
Comment[ug]=ﯔﯩﺘﯦﯟﯩﻠﯧﺋ ﻰﻧﺭﻼ﻿ﯩﻤﻟﺍﺭﻮﺋ ﻥﺎﻏﺭﯘﻗ
Comment[uk]=Видаліть вбудовані пакети
Comment[ur]=۔ﮟﯾﺩ ﺎﭩﮨ ﻮﮐ ﺰﺠﯿﮑﯿﭘ ﻥﺍ ﭧﻠﺑ
Comment[uz]=Ornatilgan paketlarni olib tashlang
Comment[vi]=Xóa các gói dựng sẵn
Comment[xh]=Susa iipakethe ze-buildin
Comment[yi]=זאַשזדאַקאַפּ ןיא-טיובעג ןעמענפּאָראַ
Comment[yo]=Yọ awọn akojọpọ ti a ṣe sinu rẹ kuro
Comment[zh]=删除内置包
Comment[zu]=Susa amaphakheji e-buildin
Comment=Remove builtin packages
Exec=/usr/sbin/remove_builtin
Terminal=false
Type=Application
Categories=X-SetupUtility
GenericName=remove_builtin
