[Desktop Entry]
Encoding=UTF-8
Name[fr]=Taille générale des polices
Name[bg]=Задаване на глобален размер на шрифта
Name[de]=Globale Schriftgröße festlegen
Name[es]=Establecer tamaño de las fuentes
Name[ru]=Установить глобальный размер шрифта
Name[tr]=Genel yazı boyutunu ayarla
Name[af]=Stel globale lettergrootte in
Name[am]=ዓለም አቀፍ የቅርጸ-ቁምፊ መጠን ያዘጋጁ
Name[ar]=ﻡﺎﻌﻟﺍ ﻂﺨﻟﺍ ﻢﺠﺣ ﻦﻴﻴﻌﺗ
Name[as]=গোলকীয় আখৰৰ আকাৰ নিৰ্ধাৰণ কৰক
Name[ay]=Uraqpachan qillqt’at tamanak utt’ayaña
Name[az]=Qlobal şrift ölçüsünü təyin edin
Name[ba]=Шрифттың глобаль күләмен билдәләү
Name[be]=Задаць агульны памер шрыфта
Name[bm]=Duniya bɛɛ ka sɛbɛnnibolo hakɛ sigi
Name[bn]=গ্লোবাল ফন্ট সাইজ সেট করুন
Name[bo]=སའི་གོ་ལ་ཧྲིལ་པོའི་ཡིག་གཟུགས་
Name[bs]=Postavite globalnu veličinu fonta
Name[ca]=Estableix la mida global del tipus de lletra
Name[co]=Stabilite a dimensione di fonti globale
Name[cs]=Nastavte globální velikost písma
Name[cy]=Gosod maint ffont byd-eang
Name[da]=Indstil global skriftstørrelse
Name[dv]=ންރުކުޓްސެ ޒްއިސަ ޓްންފޮ ލްބަލޯގް
Name[ee]=Ðo xexeame katã ƒe nuŋɔŋlɔ ƒe lolome
Name[el]=Ορισμός καθολικού μεγέθους γραμματοσειράς
Name[eo]=Agordu tutmondan tiparon
Name[et]=Globaalse fondi suuruse määramine
Name[eu]=Ezarri letra-tipoaren tamaina globala
Name[fa]=ﺪﯿﻨﮐ ﻢﯿﻈﻨﺗ ﺍﺭ ﯽﻧﺎﻬﺟ ﻢﻠﻗ ﻩﺯﺍﺪﻧﺍ
Name[fi]=Aseta yleinen fonttikoko
Name[fj]=Vakarautaka na levu ni tobu e vuravura raraba
Name[fo]=Set global font size
Name[fy]=Stel globale lettertypegrutte yn
Name[ga]=Socraigh clómhéid domhanda
Name[gd]=Suidhich meud cruth-clò cruinne
Name[gl]=Establece o tamaño global da fonte
Name[gn]=Emohenda letra tuichakue atyguasu
Name[gu]=વૈશ્વિક ફોન્ટ કદ સેટ કરો
Name[ha]=Saita girman font na duniya
Name[he]=ילבולג ןפוג לדוג רדגה
Name[hi]=वैश्विक फ़ॉन्ट आकार सेट करें
Name[hr]=Postavite globalnu veličinu fonta
Name[ht]=Mete gwosè font mondyal
Name[hu]=Állítsa be a globális betűméretet
Name[hy]=Սահմանեք գլոբալ տառաչափը
Name[id]=Tetapkan ukuran font global
Name[ig]=Tọọ nha mkpụrụedemede zuru ụwa ọnụ
Name[is]=Stilltu alþjóðlega leturstærð
Name[it]=Imposta la dimensione del carattere globale
Name[iu]=ᐋᖅᑭᒃᓯᓗᑎᑦ ᓄᓇᕐᔪᐊᑉ ᑕᖏᖃᖓᑕ ᐊᖏᓂᖓᓂᒃ
Name[ja]=グローバルフォントサイズを設定する
Name[jv]=Setel ukuran font global
Name[ka]=დააყენეთ გლობალური შრიფტის ზომა
Name[kk]=Ғаламдық қаріп өлшемін орнатыңыз
Name[km]=កំណត់ទំហំពុម្ពអក្សរសកល
Name[kn]=ಜಾಗತಿಕ ಫಾಂಟ್ ಗಾತ್ರವನ್ನು ಹೊಂದಿಸಿ
Name[ko]=전역 글꼴 크기 설정
Name[ku]=Mezinahiya tîpên gerdûnî bicîh bikin
Name[ky]=Глобалдык шрифт өлчөмүн коюңуз
Name[la]=Set global font size
Name[lb]=Set global Schrëftgréisst
Name[lg]=Teeka obunene bwempandiika eyensi yonna
Name[ln]=Botia bonene ya makomi ya mokili mobimba
Name[lo]=ກໍານົດຂະຫນາດຕົວອັກສອນທົ່ວໂລກ
Name[lt]=Nustatykite visuotinį šrifto dydį
Name[lv]=Iestatiet globālo fonta lielumu
Name[mg]=Mametraha habenny endritsoratra manerantany
Name[mi]=Tautuhi te rahi momotuhi o te ao
Name[mk]=Поставете глобална големина на фонтот
Name[ml]=ആഗോള ഫോണ്ട് വലുപ്പം സജ്ജമാക്കുക
Name[mn]=Глобал үсгийн хэмжээг тохируулах
Name[mr]=जागतिक फॉन्ट आकार सेट करा
Name[ms]=Tetapkan saiz fon global
Name[mt]=Issettja d-daqs tat-tipa globali
Name[my]=ကမ္ဘာလုံးဆိုင်ရာ ဖောင့်အရွယ်အစားကို သတ်မှတ်ပါ။
Name[ne]=विश्वव्यापी फन्ट साइज सेट गर्नुहोस्
Name[nl]=Stel de algemene lettergrootte in
Name[no]=Angi global skriftstørrelse
Name[ny]=Khazikitsani kukula kwa zilembo zapadziko lonse lapansi
Name[om]=Hammangaa qubee waliigalaa saagi
Name[or]=ଗ୍ଲୋବାଲ୍ ଫଣ୍ଟ୍ ସାଇଜ୍ ସେଟ୍ କରନ୍ତୁ |
Name[pa]=ਗਲੋਬਲ ਫੌਂਟ ਆਕਾਰ ਸੈੱਟ ਕਰੋ
Name[pl]=Ustaw globalny rozmiar czcionki
Name[ps]=ﺉړﮐ ﻢﯿﻈﻨﺗ ﻩﺯﺍﺪﻧﺍ ټﻧﻮﻓ ﻝﺍﻮﯾړﻧ ﺩ
Name[pt]=Definir o tamanho global da fonte
Name[qu]=Tukuy pacha qillqap sayayninta churay
Name[ro]=Setați dimensiunea globală a fontului
Name[rw]=Shiraho ingano yimyandikire yisi
Name[sa]=वैश्विकं फ़ॉन्ट् आकारं सेट् कुर्वन्तु
Name[sd]=ﻮﻳﺮڪ ﺭﺮﻘﻣ ﺰﻴﺋﺎﺳ ٽﻧﻮﻓ ﻞﺑﻮﻠﮔ
Name[si]=ගෝලීය අකුරු ප්u200dරමාණය සකසන්න
Name[sk]=Nastavte globálnu veľkosť písma
Name[sl]=Nastavite globalno velikost pisave
Name[sm]=Seti le tele o le faamaufaailoga lalolagi
Name[sn]=Seta saizi yefonti yepasi rose
Name[so]=Deji cabbirka farta caalamiga ah
Name[sq]=Cakto madhësinë globale të shkronjave
Name[st]=Beha boholo ba fonte ea lefatše lohle
Name[su]=Setel ukuran font global
Name[sv]=Ställ in global teckenstorlek
Name[sw]=Weka ukubwa wa fonti wa kimataifa
Name[ta]=உலகளாவிய எழுத்துரு அளவை அமைக்கவும்
Name[te]=ప్రపంచ ఫాంట్ పరిమాణాన్ని సెట్ చేయండి
Name[tg]=Андозаи глобалии шрифтро таъин кунед
Name[th]=กำหนดขนาดตัวอักษรส่วนกลาง
Name[ti]=ዓለምለኻዊ ዓቐን ቅርጺ ፊደላት ኣቐምጥ
Name[tk]=Global şrift ölçegini düzüň
Name[tl]=Itakda ang pandaigdigang laki ng font
Name[to]=Fokotuʻu ʻa e lahi ʻo e mataʻitohi fakamamani lahi
Name[ts]=Seta sayizi ya fonto ya misava hinkwayo
Name[tt]=Глобаль шрифт зурлыгын куегыз
Name[tw]=Set wiase nyinaa font kɛse
Name[ty]=A haamau i te faito o te mau hohoa i nia i te
Name[ug]=ﯓەﻠﯩﮕﻟەﺑ ﻰﻨﯩﺴﯩﺨﺳﯘﻧ ﺕەﺧ ﻯﺭﺎﺷ ﺭەﻳ
Name[uk]=Встановити глобальний розмір шрифту
Name[ur]=۔ﮟﯾﺮﮐ ﭧﯿﺳ ﺰﺋﺎﺳ ﺎﮐ ﭧﻧﻮﻓ ﯽﻤﻟﺎﻋ
Name[uz]=Global shrift hajmini ornating
Name[vi]=Đặt kích thước phông chữ chung
Name[xh]=Seta ubungakanani befonti yehlabathi
Name[yi]=סיירג טפֿירש עלאבאלג קיטעטשאַב
Name[yo]=Ṣeto iwọn font agbaye
Name[zh]=设置全局字体大小
Name[zu]=Setha usayizi wefonti yomhlaba wonke
Name=Set global font size
Icon=mini-x.xpm
Comment[fr]=Taille générale des polices
Comment[bg]=Задаване на глобален размер на шрифта
Comment[de]=Globale Schriftgröße festlegen
Comment[es]=Establecer tamaño de las fuentes
Comment[ru]=Установить глобальный размер шрифта
Comment[tr]=Genel yazı tipi boyutunu ayarla
Comment[af]=Stel globale lettergrootte in
Comment[am]=ዓለም አቀፍ የቅርጸ-ቁምፊ መጠን ያዘጋጁ
Comment[ar]=ﻡﺎﻌﻟﺍ ﻂﺨﻟﺍ ﻢﺠﺣ ﻦﻴﻴﻌﺗ
Comment[as]=গোলকীয় আখৰৰ আকাৰ নিৰ্ধাৰণ কৰক
Comment[ay]=Uraqpachan qillqt’at tamanak utt’ayaña
Comment[az]=Qlobal şrift ölçüsünü təyin edin
Comment[ba]=Шрифттың глобаль күләмен билдәләү
Comment[be]=Задаць агульны памер шрыфта
Comment[bm]=Duniya bɛɛ ka sɛbɛnnibolo hakɛ sigi
Comment[bn]=গ্লোবাল ফন্ট সাইজ সেট করুন
Comment[bo]=སའི་གོ་ལ་ཧྲིལ་པོའི་ཡིག་གཟུགས་
Comment[bs]=Postavite globalnu veličinu fonta
Comment[ca]=Estableix la mida global del tipus de lletra
Comment[co]=Stabilite a dimensione di fonti globale
Comment[cs]=Nastavte globální velikost písma
Comment[cy]=Gosod maint ffont byd-eang
Comment[da]=Indstil global skriftstørrelse
Comment[dv]=ންރުކުޓްސެ ޒްއިސަ ޓްންފޮ ލްބަލޯގް
Comment[ee]=Ðo xexeame katã ƒe nuŋɔŋlɔ ƒe lolome
Comment[el]=Ορισμός καθολικού μεγέθους γραμματοσειράς
Comment[eo]=Agordu tutmondan tiparon
Comment[et]=Globaalse fondi suuruse määramine
Comment[eu]=Ezarri letra-tipoaren tamaina globala
Comment[fa]=ﺪﯿﻨﮐ ﻢﯿﻈﻨﺗ ﺍﺭ ﯽﻧﺎﻬﺟ ﻢﻠﻗ ﻩﺯﺍﺪﻧﺍ
Comment[fi]=Aseta yleinen fonttikoko
Comment[fj]=Vakarautaka na levu ni tobu e vuravura raraba
Comment[fo]=Set global font size
Comment[fy]=Stel globale lettertypegrutte yn
Comment[ga]=Socraigh clómhéid domhanda
Comment[gd]=Suidhich meud cruth-clò cruinne
Comment[gl]=Establece o tamaño global da fonte
Comment[gn]=Emohenda letra tuichakue atyguasu
Comment[gu]=વૈશ્વિક ફોન્ટ કદ સેટ કરો
Comment[ha]=Saita girman font na duniya
Comment[he]=ילבולג ןפוג לדוג רדגה
Comment[hi]=वैश्विक फ़ॉन्ट आकार सेट करें
Comment[hr]=Postavite globalnu veličinu fonta
Comment[ht]=Mete gwosè font mondyal
Comment[hu]=Állítsa be a globális betűméretet
Comment[hy]=Սահմանեք գլոբալ տառաչափը
Comment[id]=Tetapkan ukuran font global
Comment[ig]=Tọọ nha mkpụrụedemede zuru ụwa ọnụ
Comment[is]=Stilltu alþjóðlega leturstærð
Comment[it]=Imposta la dimensione del carattere globale
Comment[iu]=ᐋᖅᑭᒃᓯᓗᑎᑦ ᓄᓇᕐᔪᐊᑉ ᑕᖏᖃᖓᑕ ᐊᖏᓂᖓᓂᒃ
Comment[ja]=グローバルフォントサイズを設定する
Comment[jv]=Setel ukuran font global
Comment[ka]=დააყენეთ გლობალური შრიფტის ზომა
Comment[kk]=Ғаламдық қаріп өлшемін орнатыңыз
Comment[km]=កំណត់ទំហំពុម្ពអក្សរសកល
Comment[kn]=ಜಾಗತಿಕ ಫಾಂಟ್ ಗಾತ್ರವನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=전역 글꼴 크기 설정
Comment[ku]=Mezinahiya tîpên gerdûnî bicîh bikin
Comment[ky]=Глобалдык шрифт өлчөмүн коюңуз
Comment[la]=Set global font size
Comment[lb]=Set global Schrëftgréisst
Comment[lg]=Teeka obunene bwempandiika eyensi yonna
Comment[ln]=Botia bonene ya makomi ya mokili mobimba
Comment[lo]=ກໍານົດຂະຫນາດຕົວອັກສອນທົ່ວໂລກ
Comment[lt]=Nustatykite visuotinį šrifto dydį
Comment[lv]=Iestatiet globālo fonta lielumu
Comment[mg]=Mametraha habenny endritsoratra manerantany
Comment[mi]=Tautuhi te rahi momotuhi o te ao
Comment[mk]=Поставете глобална големина на фонтот
Comment[ml]=ആഗോള ഫോണ്ട് വലുപ്പം സജ്ജമാക്കുക
Comment[mn]=Глобал үсгийн хэмжээг тохируулах
Comment[mr]=जागतिक फॉन्ट आकार सेट करा
Comment[ms]=Tetapkan saiz fon global
Comment[mt]=Issettja d-daqs tat-tipa globali
Comment[my]=ကမ္ဘာလုံးဆိုင်ရာ ဖောင့်အရွယ်အစားကို သတ်မှတ်ပါ။
Comment[ne]=विश्वव्यापी फन्ट साइज सेट गर्नुहोस्
Comment[nl]=Stel de algemene lettergrootte in
Comment[no]=Angi global skriftstørrelse
Comment[ny]=Khazikitsani kukula kwa zilembo zapadziko lonse lapansi
Comment[om]=Hammangaa qubee waliigalaa saagi
Comment[or]=ଗ୍ଲୋବାଲ୍ ଫଣ୍ଟ୍ ସାଇଜ୍ ସେଟ୍ କରନ୍ତୁ |
Comment[pa]=ਗਲੋਬਲ ਫੌਂਟ ਆਕਾਰ ਸੈੱਟ ਕਰੋ
Comment[pl]=Ustaw globalny rozmiar czcionki
Comment[ps]=ﺉړﮐ ﻢﯿﻈﻨﺗ ﻩﺯﺍﺪﻧﺍ ټﻧﻮﻓ ﻝﺍﻮﯾړﻧ ﺩ
Comment[pt]=Definir o tamanho global da fonte
Comment[qu]=Tukuy pacha qillqap sayayninta churay
Comment[ro]=Setați dimensiunea globală a fontului
Comment[rw]=Shiraho ingano yimyandikire yisi
Comment[sa]=वैश्विकं फ़ॉन्ट् आकारं सेट् कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ﺭﺮﻘﻣ ﺰﻴﺋﺎﺳ ٽﻧﻮﻓ ﻞﺑﻮﻠﮔ
Comment[si]=ගෝලීය අකුරු ප්u200dරමාණය සකසන්න
Comment[sk]=Nastavte globálnu veľkosť písma
Comment[sl]=Nastavite globalno velikost pisave
Comment[sm]=Seti le tele o le faamaufaailoga lalolagi
Comment[sn]=Seta saizi yefonti yepasi rose
Comment[so]=Deji cabbirka farta caalamiga ah
Comment[sq]=Cakto madhësinë globale të shkronjave
Comment[st]=Beha boholo ba fonte ea lefatše lohle
Comment[su]=Setel ukuran font global
Comment[sv]=Ställ in global teckenstorlek
Comment[sw]=Weka ukubwa wa fonti wa kimataifa
Comment[ta]=உலகளாவிய எழுத்துரு அளவை அமைக்கவும்
Comment[te]=ప్రపంచ ఫాంట్ పరిమాణాన్ని సెట్ చేయండి
Comment[tg]=Андозаи глобалии шрифтро таъин кунед
Comment[th]=กำหนดขนาดตัวอักษรส่วนกลาง
Comment[ti]=ዓለምለኻዊ ዓቐን ቅርጺ ፊደላት ኣቐምጥ
Comment[tk]=Global şrift ölçegini düzüň
Comment[tl]=Itakda ang pandaigdigang laki ng font
Comment[to]=Fokotuʻu ʻa e lahi ʻo e mataʻitohi fakamamani lahi
Comment[ts]=Seta sayizi ya fonto ya misava hinkwayo
Comment[tt]=Глобаль шрифт зурлыгын куегыз
Comment[tw]=Set wiase nyinaa font kɛse
Comment[ty]=A haamau i te faito o te mau hohoa i nia i te
Comment[ug]=ﯓەﻠﯩﮕﻟەﺑ ﻰﻨﯩﺴﯩﺨﺳﯘﻧ ﺕەﺧ ﻯﺭﺎﺷ ﺭەﻳ
Comment[uk]=Встановити глобальний розмір шрифту
Comment[ur]=۔ﮟﯾﺮﮐ ﭧﯿﺳ ﺰﺋﺎﺳ ﺎﮐ ﭧﻧﻮﻓ ﯽﻤﻟﺎﻋ
Comment[uz]=Global shrift hajmini ornating
Comment[vi]=Đặt kích thước phông chữ chung
Comment[xh]=Seta ubungakanani befonti yehlabathi
Comment[yi]=סיירג טפֿירש עלאבאלג קיטעטשאַב
Comment[yo]=Ṣeto iwọn font agbaye
Comment[zh]=设置全局字体大小
Comment[zu]=Setha usayizi wefonti yomhlaba wonke
Comment=Set global font size
Exec=set-xftdpi
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Set global font size
