[Desktop Entry]
Encoding=UTF-8
Name[fr]=Télécharger des paquets SFS : SFSget
Name[bg]=SFSget изтегляне SFS комбо-пакети
Name[de]=SFSget Download SFS Combo-Pakete
Name[es]=SFSget: descargar paquetes SFS
Name[ru]=SFSget изтегляне SFS комбо-пакети
Name[af]=SFSget laai SFS-kombinasiepakkette af
Name[am]=SFSget የኤስኤፍኤስ ጥምር-ጥቅሎችን አውርድ
Name[ar]=SFSget ﺩﺮﺴﻟﺍﻭ ﺮﻳﺮﺤﺘﻟﺍ ﻡﺰﺣ ﻞﻳﺰﻨﺗ SFS
Name[as]=SFSget SFS কম্বো-পেকেজসমূহ ডাউনলোড কৰক
Name[ay]=SFSget ukax SFS combo-packages ukanakaw utji
Name[az]=SFSget SFS kombo paketlərini endir
Name[ba]=SFSget йөкләү SFS комбо-пакеттары
Name[be]=SFSget спампаваць камбінаваныя пакеты SFS
Name[bm]=SFSget telesarse SFS combo-pakew
Name[bn]=SFS SFS কম্বো-প্যাকেজ ডাউনলোড করুন
Name[bo]=SFSget ཕབ་ལེན་བྱས་པའི་SFS combo-packages
Name[bs]=SFSget preuzmite SFS kombinovane pakete
Name[ca]=SFSget descarregar paquets combinats SFS
Name[co]=SFSget scaricate i pacchetti combo SFS
Name[cs]=SFSget ke stažení kombinovaných balíčků SFS
Name[cy]=SFSget lawrlwytho pecynnau combo SFS
Name[da]=SFSget download SFS combo-pakker
Name[dv]=ސްޖްކޭޕެ-ބޯމްކޮ ސްއެފްއެސްއެ ޑްލޯންއުޑަ ޓްގެސްއެފްއެސްއެ
Name[ee]=SFSget ƒe kɔpi SFS combo-packages
Name[el]=SFSget κατεβάστε σύνθετα πακέτα SFS
Name[eo]=SFSget elŝutu SFS-kombinpakaĵojn
Name[et]=SFSget laadige alla SFS-i kombineeritud paketid
Name[eu]=SFSget deskargatu SFS pakete konbinatuak
Name[fa]=SFSget ﯽﺒﯿﮐﺮﺗ ﯼﺎﻫ ﻪﺘﺴﺑ SFS ﺪﯿﻨﮐ ﺩﻮﻠﻧﺍﺩ ﺍﺭ
Name[fi]=SFSget lataa SFS-yhdistelmäpaketit
Name[fj]=SFSget lavetaka na SFS combo-pakete
Name[fo]=SFSget download SFS combo-packages
Name[fy]=SFSget download SFS combo-pakketten
Name[ga]=SFSget íoslódáil pacáistí teaglama SFS
Name[gd]=SFSget luchdaich sìos pacaidean combo SFS
Name[gl]=Descarga SFSget paquetes combinados SFS
Name[gn]=SFSget omboguejy SFS combo-paquete-kuéra
Name[gu]=SFS મેળવો SFS કોમ્બો-પેકેજ ડાઉનલોડ કરો
Name[ha]=SFSsamu zazzage fakitin haɗin gwiwar SFS
Name[he]=SFSget תובלושמ תוליבח תדרוה SFS
Name[hi]=एसएफएसगेट डाउनलोड एसएफएस कॉम्बो-पैकेज
Name[hr]=SFSget preuzimanje SFS kombiniranih paketa
Name[ht]=SFSget telechaje SFS combo-pakè yo
Name[hu]=SFSget SFS kombinált csomagok letöltése
Name[hy]=SFSget ներբեռնեք SFS համակցված փաթեթներ
Name[id]=SFSdapatkan unduh paket kombo SFS
Name[ig]=SFS nweta nbudata ngwungwu SFS
Name[is]=SFSget sækja SFS samsetta pakka
Name[it]=SFS scarica i pacchetti combinati SFS
Name[iu]=SFSget ᒥᓇᕆᓗᒍ SFS combo-packages
Name[ja]=SFSget SFS コンボ パッケージをダウンロードする
Name[jv]=SFSget download SFS combo-paket
Name[ka]=SFSget ჩამოტვირთეთ SFS კომბინირებული პაკეტები
Name[kk]=SFSget SFS құрама пакеттерін жүктеп алыңыз
Name[km]=SFSget ទាញយក SFS combo-packages
Name[kn]=SFSget SFS ಕಾಂಬೊ-ಪ್ಯಾಕೇಜ್u200cಗಳನ್ನು ಡೌನ್u200cಲೋಡ್ ಮಾಡಿ
Name[ko]=SFSget SFS 콤보 패키지 다운로드
Name[ku]=SFSget SFS-pakêtên hevgirtî dakêşin
Name[ky]=SFSget жүктөө SFS айкалыштыруу пакеттерин
Name[la]=SFSget download SFS combo-packages
Name[lb]=SFSget download SFS Combo-Packagen
Name[lg]=SFSget okuwanula SFS combo-packages
Name[ln]=SFSget télécharger ba combo-packages ya SFS
Name[lo]=SFSget ດາວໂຫຼດ SFS combo-packages
Name[lt]=SFSget atsisiųskite SFS kombinuotus paketus
Name[lv]=SFSget lejupielādēt SFS kombinētās pakotnes
Name[mg]=SFSget misintona SFS combo-packages
Name[mi]=SFSget tango SFS paheko-paeke
Name[mk]=SFSget преземете SFS комбо-пакети
Name[ml]=SFSget ഡൗൺലോഡ് SFS കോംബോ-പാക്കേജുകൾ
Name[mn]=SFSget SFS комбо багцуудыг татаж авах
Name[mr]=SFS SFS कॉम्बो-पॅकेज डाउनलोड करा
Name[ms]=SFSget muat turun pakej kombo SFS
Name[mt]=SFSget niżżel il-pakketti kombinati SFS
Name[my]=SFSget SFS ပေါင်းစပ်-ပက်ကေ့ခ်ျများကို ဒေါင်းလုဒ်လုပ်ပါ။
Name[ne]=SFS डाउनलोड SFS कम्बो-प्याकेजहरू प्राप्त गर्नुहोस्
Name[nl]=SFSget download SFS combo-pakketten
Name[no]=SFSget last ned SFS combo-pakker
Name[ny]=SFSPezani kutsitsa SFS combo-packages
Name[om]=SFSget buufachuu SFS kombo-paakeejii
Name[or]=SFSget SFS କମ୍ବୋ-ପ୍ୟାକେଜଗୁଡ଼ିକୁ ଡାଉନଲୋଡ୍ କରନ୍ତୁ |
Name[pa]=SFS ਪ੍ਰਾਪਤ ਕਰੋ SFS ਕੰਬੋ-ਪੈਕੇਜਾਂ ਨੂੰ ਡਾਊਨਲੋਡ ਕਰੋ
Name[pl]=SFSget pobierz pakiety kombi SFS
Name[ps]=SFS ﺩ SFS ﺉړﮐ ډﻮﻠﻧﻭﺍډ ﯤړﻮڅﮐ ﻮﺒﻣﻮﮐ
Name[pt]=SFSget download SFS combo-pacotes
Name[qu]=SFSget SFS combo-paquetes nisqakunata uraykachiy
Name[ro]=SFSget descărca pachete combinate SFS
Name[rw]=SFSget gukuramo SFS combo-paki
Name[sa]=SFSget SFS संयोजन-संकुलं डाउनलोड् कुर्वन्तु
Name[sd]=SFS ﻮﻳﺮڪ ڊﻮﻟ ﻥﻮﺋﺍڊ SFS ﺰﺠﻴڪﻴﭘ ﻮﺒﻤڪ
Name[si]=SFSget SFS සංයුක්ත පැකේජ බාගන්න
Name[sk]=SFSget stiahnite si kombinované balíčky SFS
Name[sl]=SFSget prenesite kombinirane pakete SFS
Name[sm]=SFSget download SFS combo-packages
Name[sn]=SFSwana kurodha SFS combo-mapakeji
Name[so]=SFShel soo deji baakadaha isku-darka ah ee SFS
Name[sq]=Shkarkoni SFS paketat e kombinuara SFS
Name[st]=SFS fumana khoasolla SFS combo-packages
Name[su]=SFSget ngundeur SFS combo-pakét
Name[sv]=SFSget ladda ner SFS combo-paket
Name[sw]=SFSpata pakua vifurushi vya mchanganyiko vya SFS
Name[ta]=SFSget SFS காம்போ-பேக்கேஜ்களைப் பதிவிறக்கவும்
Name[te]=SFSget SFS కాంబో-ప్యాకేజీలను డౌన్u200cలోడ్ చేయండి
Name[tg]=SFSget бастаҳои маҷмӯии SFS-ро зеркашӣ кунед
Name[th]=SFSดาวน์โหลด SFS combo-packages
Name[ti]=SFSget ምውራድ SFS ኮምቦ-ፓኬጃት።
Name[tk]=SFSget SFS kombinasiýalaryny göçürip alyň
Name[tl]=I-download ng SFSget ang mga combo-package ng SFS
Name[to]=SFSget download SFS ngaahi kofukofu fakafuopotopoto
Name[tr]=SFSget SFS kombo paketlerini indir
Name[ts]=SFSget ku kopa ti-combo-package ta SFS
Name[tt]=SFSget SFS комбо-пакетларын йөкләү
Name[tw]=SFSget twe SFS combo-package ahorow no
Name[ty]=SFSget download SFS combo-packages
Name[ug]=SFSget SFS combo-pack ﯓﯛﺭﯜﺷﯜﭼ ﻰﻧ
Name[uk]=SFSget завантажити комбіновані пакети SFS
Name[ur]=SFS ﮟﯾﺮﮐ ﻞﺻﺎﺣ SFS ۔ﮟﯾﺮﮐ ﮈﻮﻟ ﻥﺅﺍﮈ ﺰﺠﮑﯿﭘ ﻮﺒﻣﻮﮐ
Name[uz]=SFSget SFS kombinatsiyalangan paketlarini yuklab oling
Name[vi]=SFStải xuống các gói kết hợp SFS
Name[xh]=SFSfumana ukhuphelo lwe-SFS combo-packages
Name[yi]=SFSget עיפאקפארא SFS זישזדיקאַפּ אָבמאָק
Name[yo]=SFSget gba awọn akopọ SFS konbo
Name[zh]=SFSget 下载 SFS 组合包
Name[zu]=SFSThola ukulanda amaphakheji we-SFS combo
Name=SFSget download SFS combo-packages
Icon=/usr/local/apps/ROX-Filer/ROX/MIME/application-x-squashfs-image.png
Comment[fr]=Télécharger des paquets SFS : SFSget
Comment[bg]=SFSget изтегляне SFSs
Comment[de]=SFSget herunterladen SFSs
Comment[es]=SFSget: descargar paquetes SFS
Comment[ru]=SFSget изтегляне SFSs
Comment[af]=SFSget aflaai SFSe
Comment[am]=SFS ያግኙ SFSs አውርድ
Comment[ar]=SFSget ﻞﻳﺰﻨﺗ SFSs
Comment[as]=SFSget SFS সমূহ ডাউনলোড কৰক
Comment[ay]=SFSget ukax SFSs ukar apkatatawa
Comment[az]=SFSget SFS-ləri yükləyin
Comment[ba]=SFSget йөкләү SFS
Comment[be]=SFSget спампаваць SFSs
Comment[bm]=SFSget ka SFSw telesarse
Comment[bn]=SFS ডাউনলোড করুন SFSs
Comment[bo]=SFSget ཕབ་ལེན་བྱས་པའི་SFSs
Comment[bs]=SFSget preuzimanje SFS-ova
Comment[ca]=SFSget descarregar SFS
Comment[co]=SFSget scaricate SFS
Comment[cs]=SFSget ke stažení SFS
Comment[cy]=SFSget lawrlwytho SFSs
Comment[da]=SFSget download SFSer
Comment[dv]=ސްއެފްއެސްއެ ޑްލޯންއުޑަ ޓްގެސްއެފްއެސްއެ
Comment[ee]=SFSget SFSwo ƒe kɔpi
Comment[el]=SFSget κατεβάστε SFS
Comment[eo]=SFSget elŝutu SFSojn
Comment[et]=SFSget laadige alla SFS-id
Comment[eu]=SFSget deskargatu SFSak
Comment[fa]=SFSget ﺩﻮﻠﻧﺍﺩ SFS ﺎﻫ
Comment[fi]=SFSget lataa SFS:t
Comment[fj]=SFSget lavetaka na SFSs
Comment[fo]=SFSget download SFSs
Comment[fy]=SFSget download SFSs
Comment[ga]=Íosluchtaigh SFS le haghaidh saor in aisce
Comment[gd]=SFSget luchdadh a-nuas airson SFS
Comment[gl]=Descarga de SFSget SFS
Comment[gn]=SFSget ñemboguejy SFS-kuéra
Comment[gu]=SFS ડાઉનલોડ SFS મેળવો
Comment[ha]=SFSsamu zazzage SFSs
Comment[he]=SFSget תדרוה SFSs
Comment[hi]=एसएफएसगेट डाउनलोड एसएफएस
Comment[hr]=SFSget preuzimanje SFS-ova
Comment[ht]=SFSget telechaje SFS yo
Comment[hu]=SFSget letöltés SFS-ek
Comment[hy]=SFSget ներբեռնեք SFS-ները
Comment[id]=SFSdapatkan unduh SFS
Comment[ig]=SFS nweta nbudata SFS
Comment[is]=SFSget sækja SFSs
Comment[it]=SFS scarica SFS
Comment[iu]=SFSget ᒥᓇᕆᓗᒍ SFSs
Comment[ja]=SFSSFS をダウンロードする
Comment[jv]=SFSget download SFSs
Comment[ka]=SFSget ჩამოტვირთეთ SFS
Comment[kk]=SFSget SFS файлдарын жүктеп алу
Comment[km]=SFSget ទាញយក SFSs
Comment[kn]=SFSget SFS ಗಳನ್ನು ಡೌನ್u200cಲೋಡ್ ಮಾಡಿ
Comment[ko]=SFS 다운로드 받기 SFS
Comment[ku]=SFSget SFS dakêşin
Comment[ky]=SFSget жүктөө SFSs
Comment[la]=SFSget download SFSs
Comment[lb]=SFSget download SFSs
Comment[lg]=SFSget okuwanula SFSs
Comment[ln]=SFSget téléchargement ya ba SFS
Comment[lo]=SFSget ດາວໂຫຼດ SFSs
Comment[lt]=SFSget atsisiųskite SFS
Comment[lv]=SFSget lejupielādēt SFS
Comment[mg]=SFSget misintona SFSs
Comment[mi]=SFSget tiki SFSs
Comment[mk]=SFSget преземете SFS
Comment[ml]=SFSget ഡൗൺലോഡ് SFSs
Comment[mn]=SFSget SFSs татаж авах
Comment[mr]=SFS SFSs डाउनलोड करा
Comment[ms]=SFSget muat turun SFSs
Comment[mt]=SFSget niżżel SFSs
Comment[my]=SFSget SFSs ကို ဒေါင်းလုဒ်လုပ်ပါ။
Comment[ne]=SFS डाउनलोड SFS प्राप्त गर्नुहोस्
Comment[nl]=SFSget download SFSs
Comment[no]=SFSget last ned SFS-er
Comment[ny]=SFSPezani kutsitsa ma SFS
Comment[om]=SFSget SFSs buufachuu
Comment[or]=SFSget ଡାଉନଲୋଡ୍ SFSs |
Comment[pa]=SFS ਪ੍ਰਾਪਤ ਕਰੋ SFSs ਨੂੰ ਡਾਊਨਲੋਡ ਕਰੋ
Comment[pl]=SFSpobierz pliki SFS
Comment[ps]=SFS ﺉړﮐ ﻪﺳﻻ﻿ﺮﺗ SFSs ﺉړﮐ ډﻮﻠﻧﻭﺍډ
Comment[pt]=SFSget baixar SFSs
Comment[qu]=SFSget SFSs nisqakunata uraykachinapaq
Comment[ro]=SFSget descărcați SFS-uri
Comment[rw]=SFSget gukuramo SFS
Comment[sa]=SFSget SFSs डाउनलोड् कुर्वन्तु
Comment[sd]=SFS SFSs ﻮﻳﺮڪ ڊﻮﻟ ﻥﻮﺋﺍڊ
Comment[si]=SFSget බාගත SFSs
Comment[sk]=SFSget stiahnuť SFS
Comment[sl]=SFSget prenos SFS-jev
Comment[sm]=SFSget download SFSs
Comment[sn]=SFSwana kurodha maSFS
Comment[so]=SFS soo dejiso SFSs
Comment[sq]=Shkarkoni SFS SFS
Comment[st]=SFS fumana khoasolla SFSs
Comment[su]=SFSget ngundeur SFSs
Comment[sv]=SFSget ladda ner SFS:er
Comment[sw]=SFPata pakua SFS
Comment[ta]=SFSget பதிவிறக்கம் SFSs
Comment[te]=SFSget SFSలను డౌన్u200cలోడ్ చేయండి
Comment[tg]=SFSget зеркашӣ кардани SFSs
Comment[th]=SFSดาวน์โหลด SFS
Comment[ti]=SFSget ምውራድ SFSs
Comment[tk]=SFSget SFS-leri göçürip alyň
Comment[tl]=SFSget i-download ang mga SFS
Comment[to]=SFSget download SFSs
Comment[tr]=SFSget SFSleri indir
Comment[ts]=SFSku kuma ti-SFS to dawuniloda
Comment[tt]=SFSget йөкләү SFS
Comment[tw]=SFSget download SFS ahorow no
Comment[ty]=SFSget download SFSs
Comment[ug]=SFSget ﺵﯛﺭﯜﺷﯜﭼ SFSs
Comment[uk]=SFSget завантажити SFS
Comment[ur]=SFS ﮈﻮﻟ ﻥﺅﺍﮈ SFSs ۔ﮟﯾﺮﮐ ﻞﺻﺎﺣ
Comment[uz]=SFSget yuklab olish SFS
Comment[vi]=SFStải xuống SFS
Comment[xh]=SFSfumana ukukhuphela ii-SFSs
Comment[yi]=SFSget עיפאקפארא SFSs
Comment[yo]=SFS gba awọn SFSs lati ayelujara
Comment[zh]=SFSget 下载 SFS
Comment[zu]=SFSThola ukulanda ama-SFS
Comment=SFSget download SFSs
Exec=/usr/sbin/sfsget
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=SFSget
