[Desktop Entry]
Type=Application
Name[fr]=Différences dans les fichiers : Xdelta
Name[bg]=Диспечер на файлови разлики в Xdelta
Name[de]=Xdelta Dateidifferenz-Manager
Name[es]=Xdelta: administrador de diferencias de archivos
Name[ru]=Диспетчер различий файлов Xdelta
Name[tr]=Xdelta dosya farkı yöneticisi
Name[af]=Xdelta lêer verskil bestuurder
Name[am]=Xdelta ፋይል ልዩነት አስተዳዳሪ
Name[ar]=Xdelta ﺕﺎﻔﻠﻤﻟﺍ ﻕﺮﻓ ﺮﻳﺪﻣ
Name[as]=Xdelta ফাইল পাৰ্থক্য ব্যৱস্থাপক
Name[ay]=Xdelta qillqata mayjt’awi apnaqiri
Name[az]=Xdelta fayl fərq meneceri
Name[ba]=Xdelta файл айырмаһы буйынса менеджер
Name[be]=Менеджэр адрозненняў файлаў Xdelta
Name[bm]=Xdelta file danfara ɲɛnabɔbaga
Name[bn]=Xdelta ফাইল পার্থক্য ম্যানেজার
Name[bo]=Xdelta ཡིག་ཆའི་ཁྱད་པར་དོ་དམ་པ།
Name[bs]=Xdelta menadžer razlika u datotekama
Name[ca]=Gestor de diferències de fitxers Xdelta
Name[co]=Manager di differenza di file Xdelta
Name[cs]=Správce rozdílů souborů Xdelta
Name[cy]=Rheolwr gwahaniaeth ffeil Xdelta
Name[da]=Xdelta file difference manager
Name[dv]=ރޖަނޭމެ ސްންރެފެޑި ލްއިފަ ޓާލްޑެސްކްއެ
Name[ee]=Xdelta faɛl ƒe vovototodzikpɔla
Name[el]=Διαχείριση διαφορών αρχείων Xdelta
Name[eo]=Xdelta dosiera diferenco-administranto
Name[et]=Xdelta failierinevuste haldur
Name[eu]=Xdelta fitxategien desberdintasunen kudeatzailea
Name[fa]=Xdelta ﻞﯾﺎﻓ ﺕﻭﺎﻔﺗ ﺮﯾﺪﻣ
Name[fi]=Xdelta tiedostojen erojen hallinta
Name[fj]=Manidia duidui ni faile Xdelta
Name[fo]=Xdelta file mun manager
Name[fy]=Xdelta triem ferskil manager
Name[ga]=Bainisteoir difríocht comhad xdelta
Name[gd]=Manaidsear eadar-dhealachadh faidhle xdelta
Name[gl]=Xestor de diferenzas de ficheiros Xdelta
Name[gn]=Xdelta vore joavy mohendaha
Name[gu]=Xdelta ફાઇલ તફાવત મેનેજર
Name[ha]=Mai sarrafa bambancin fayil Xdelta
Name[he]=Xdelta יצבק לש םילדבה להנמ
Name[hi]=Xdelta फ़ाइल अंतर प्रबंधक
Name[hr]=Xdelta upravitelj razlika u datotekama
Name[ht]=Manadjè diferans dosye Xdelta
Name[hu]=Xdelta fájlkülönbség-kezelő
Name[hy]=Xdelta ֆայլերի տարբերությունների կառավարիչ
Name[id]=Manajer perbedaan file Xdelta
Name[ig]=Njikwa iche faịlụ Xdelta
Name[is]=Xdelta skrá mismunastjóri
Name[it]=Gestore delle differenze di file Xdelta
Name[iu]=Xdelta−ᒧᑦ ᑐᖅᑯᖅᑕᐅᓯᒪᔪᓄᑦ ᐊᔾᔨᒌᙱᓐᓂᖏᓐᓄᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=Xdelta ファイル差分マネージャー
Name[jv]=Pangatur prabédan file Xdelta
Name[ka]=Xdelta ფაილების განსხვავების მენეჯერი
Name[kk]=Xdelta файл айырмашылығы менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងភាពខុសគ្នាឯកសារ Xdelta
Name[kn]=Xdelta ಫೈಲ್ ವ್ಯತ್ಯಾಸ ನಿರ್ವಾಹಕ
Name[ko]=Xdelta 파일 차이 관리자
Name[ku]=Rêvebirê cûdahiya pelê Xdelta
Name[ky]=Xdelta файл айырмачылык менеджери
Name[la]=Xdelta file differentia procurator
Name[lb]=Xdelta Fichier Ënnerscheed Manager
Name[lg]=Xdelta omuddukanya enjawulo ya fayiro
Name[ln]=Mokambi ya bokeseni ya fisyé Xdelta
Name[lo]=ຜູ້ຈັດການຄວາມແຕກຕ່າງຂອງໄຟລ໌ Xdelta
Name[lt]=Xdelta failų skirtumų tvarkyklė
Name[lv]=Xdelta failu atšķirību pārvaldnieks
Name[mg]=Xdelta file difference manager
Name[mi]=Kaiwhakahaere rereke o te konae Xdelta
Name[mk]=Менаџер за разлика на датотеки Xdelta
Name[ml]=Xdelta ഫയൽ വ്യത്യാസ മാനേജർ
Name[mn]=Xdelta файлын ялгаа менежер
Name[mr]=Xdelta फाइल फरक व्यवस्थापक
Name[ms]=Pengurus perbezaan fail Xdelta
Name[mt]=Maniġer tad-differenza tal-fajl Xdelta
Name[my]=Xdelta ဖိုင်ကွာခြားချက်မန်နေဂျာ
Name[ne]=Xdelta फाइल भिन्नता प्रबन्धक
Name[nl]=Xdelta-bestandsverschilmanager
Name[no]=Xdelta filforskjellsbehandler
Name[ny]=Woyanganira kusiyana kwa mafayilo a Xdelta
Name[om]=Xdelta garaagarummaa faayilii bulchaa
Name[or]=Xdelta ଫାଇଲ୍ ପାର୍ଥକ୍ୟ ପରିଚାଳକ |
Name[pa]=Xdelta ਫਾਈਲ ਫਰਕ ਮੈਨੇਜਰ
Name[pl]=Menedżer różnic plików Xdelta
Name[ps]=ﺮﯾﺪﻣ ﺮﯿﭘﻮﺗ ﻞﯾﺎﻓ Xdelta ﺩ
Name[pt]=Gerenciador de diferenças de arquivos Xdelta
Name[qu]=Xdelta willañiqi chiqanchay kamachiq
Name[ro]=Manager de diferențe de fișiere Xdelta
Name[rw]=Umuyobozi wa dosiye ya Xdelta
Name[sa]=Xdelta सञ्चिकाभेदप्रबन्धकः
Name[sd]=Xdelta ﺮﺠﻴﻨﺌﻣ ﻕﺮﻓ ﻞﺋﺎﻓ
Name[si]=Xdelta ගොනු වෙනස කළමනාකරු
Name[sk]=Správca rozdielov súborov Xdelta
Name[sl]=Upravljalnik razlik datotek Xdelta
Name[sm]=Xdelta faila eseesega pule
Name[sn]=Xdelta faira musiyano maneja
Name[so]=Maamulaha kala duwanaanshaha faylka Xdelta
Name[sq]=Menaxheri i ndryshimit të skedarëve Xdelta
Name[st]=Motsamaisi oa phapang ea faele ea Xdelta
Name[su]=Pangatur bédana file Xdelta
Name[sv]=Xdelta filskillnadshanterare
Name[sw]=Meneja wa tofauti za faili za Xdelta
Name[ta]=Xdelta கோப்பு வேறுபாடு மேலாளர்
Name[te]=Xdelta ఫైల్ తేడా మేనేజర్
Name[tg]=Менеҷери фарқияти файлҳои Xdelta
Name[th]=ตัวจัดการความแตกต่างของไฟล์ Xdelta
Name[ti]=Xdelta ፋይል ፍልልይ ኣካያዲ
Name[tk]=Xdelta faýl tapawudy dolandyryjysy
Name[tl]=Xdelta file difference manager
Name[to]=Xdelta e pule ki he faikehekehe ʻo e faile
Name[ts]=Xdelta mufambisi wa ku hambana ka fayili
Name[tt]=Xdelta файл аермасы менеджеры
Name[tw]=Xdelta fael nsonsonoeɛ sohwɛfoɔ
Name[ty]=Xdelta file
Name[ug]=Xdelta ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻰﻗﺭەﭘ ﺕەﺠﺟﯚﮬ
Name[uk]=Менеджер відмінностей файлів Xdelta
Name[ur]=Xdelta ﺮﺠﯿﻨﯿﻣ ﻕﺮﻓ ﻞﺋﺎﻓ
Name[uz]=Xdelta fayl farq menejeri
Name[vi]=Trình quản lý chênh lệch tệp Xdelta
Name[xh]=Xdelta ifayile umahluko umphathi
Name[yi]=Xdelta רעטלאַווראַפ קוליח עקעט
Name[yo]=Oluṣakoso iyatọ faili Xdelta
Name[zh]=Xdelta 文件差异管理器
Name[zu]=Umphathi womehluko wefayela le-Xdelta
Name=Xdelta file difference manager
Exec=xdelta_gui
Icon=gz.xpm
Categories=X-Utility
GenericName=Xdelta
