[Desktop Entry]
Encoding=UTF-8
Name[af]=e3 konsole redakteur
Name[am]=e3 ኮንሶል አርታዒ
Name[ar]=e3 ﻢﻜﺤﺘﻟﺍ ﺓﺪﺣﻭ ﺭﺮﺤﻣ
Name[as]=e3 কনছ'ল সম্পাদক
Name[ay]=e3 consola ukan editorapa
Name[az]=e3 konsol redaktoru
Name[ba]=e3 консоль мөхәррире
Name[be]=Кансольны рэдактар e3
Name[bg]=e3 конзолен редактор
Name[bm]=e3 konsolɛ ɲɛnabɔbaga
Name[bn]=e3 কনসোল সম্পাদক
Name[bo]=e3 console རྩོམ་སྒྲིག་པ།
Name[bs]=e3 uređivač konzole
Name[ca]=Editor de la consola e3
Name[co]=editore di cunsola e3
Name[cs]=editor konzole e3
Name[cy]=golygydd consol e3
Name[da]=e3 konsol editor
Name[de]=e3-Konsoleneditor
Name[dv]=e3 ވެރެޓަޑިއެ ލްސޯންކޮ
Name[ee]=e3 console ƒe nuŋlɔla
Name[el]=Πρόγραμμα επεξεργασίας κονσόλας e3
Name[en]=e3 console editor
Name[eo]=e3-konzola redaktilo
Name[es]=editor de consola e3
Name[et]=e3 konsooliredaktor
Name[eu]=e3 kontsolaren editorea
Name[fa]=e3 ﻝﻮﺴﻨﮐ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=e3 konsolieditori
Name[fj]=e3 Edita ni ivakavakacegu
Name[fo]=e3 console editor
Name[fr]=éditeur de console e3
Name[fy]=e3 konsole bewurker
Name[ga]=Eagarthóir console e3
Name[gd]=Deasaiche console e3
Name[gl]=Editor de consola e3
Name[gn]=e3 consola editor rehegua
Name[gu]=e3 કન્સોલ એડિટર
Name[ha]=e3 console edita
Name[he]=e3 תלוסנוק ךרוע
Name[hi]=e3 कंसोल संपादक
Name[hr]=uređivač e3 konzole
Name[ht]=editè konsole e3
Name[hu]=e3 konzolszerkesztő
Name[hy]=e3 կոնսոլի խմբագիր
Name[id]=editor konsol e3
Name[ig]=e3 console nchịkọta akụkọ
Name[is]=e3 stjórnborðs ritstjóri
Name[it]=editor della console e3
Name[iu]=e3 ᑎᑎᕋᖅᑎ
Name[ja]=e3コンソールエディタ
Name[jv]=editor konsol e3
Name[ka]=e3 კონსოლის რედაქტორი
Name[kk]=e3 консоль редакторы
Name[km]=កម្មវិធីកែសម្រួលកុងសូល e3
Name[kn]=e3 ಕನ್ಸೋಲ್ ಸಂಪಾದಕ
Name[ko]=e3 콘솔 에디터
Name[ku]=e3 edîtorê konsolê
Name[ky]=e3 консолунун редактору
Name[la]=e3 consolatorium editor
Name[lb]=e3 Konsol Editor
Name[lg]=e3 omuwandiisi wa console
Name[ln]=e3 mobongisi ya console
Name[lo]=e3 console ບັນນາທິການ
Name[lt]=e3 konsolės redaktorius
Name[lv]=e3 konsoles redaktors
Name[mg]=e3 console editor
Name[mi]=ētita papatohu e3
Name[mk]=Уредувач на конзола e3
Name[ml]=e3 കൺസോൾ എഡിറ്റർ
Name[mn]=e3 консол засварлагч
Name[mr]=e3 कन्सोल संपादक
Name[ms]=editor konsol e3
Name[mt]=editur tal-console e3
Name[my]=e3 ကွန်ဆိုးလ်တည်းဖြတ်သူ
Name[ne]=e3 कन्सोल सम्पादक
Name[nl]=e3 console-editor
Name[no]=e3 konsoll editor
Name[ny]=e3 console editor
Name[om]=Gulaalaa konsolii e3
Name[or]=e3 କୋନସୋଲ୍ ଏଡିଟର୍ |
Name[pa]=e3 ਕੰਸੋਲ ਸੰਪਾਦਕ
Name[pl]=edytor konsoli e3
Name[ps]=ﺮﯾﺪﻣ ﻝﻮﺴﻨﮐ e3 ﺩ
Name[pt]=Editor de console E3
Name[qu]=e3 consola allichaq
Name[ro]=editor de consolă e3
Name[ru]=консольный редактор e3
Name[rw]=e3 umwanditsi mukuru
Name[sa]=e3 कन्सोल सम्पादक
Name[sd]=e3 ﺮٽﻳڊﻳﺍ ﻝﻮﺴﻨڪ
Name[si]=e3 කොන්සෝල සංස්කාරකය
Name[sk]=editor konzoly e3
Name[sl]=urejevalnik konzole e3
Name[sm]=e3 faatonu faamafanafana
Name[sn]=e3 console editor
Name[so]=e3 console editor
Name[sq]=Redaktori i konsolës e3
Name[st]=e3 console mohlophisi
Name[su]=redaktur konsol e3
Name[sv]=e3 konsolredigerare
Name[sw]=e3 console mhariri
Name[ta]=e3 கன்சோல் எடிட்டர்
Name[te]=e3 కన్సోల్ ఎడిటర్
Name[tg]=Муҳаррири консолҳои e3
Name[th]=ตัวแก้ไขคอนโซล e3
Name[ti]=e3 ኮንሶል ኤዲተር
Name[tk]=e3 konsol redaktory
Name[tl]=e3 console editor
Name[to]=e3 ʻetita fakafiemalieʻi
Name[tr]=e3 konsol editörü
Name[ts]=e3 muhleri wa console
Name[tt]=e3 консол редакторы
Name[tw]=e3 console editor a wɔde yɛ adwuma
Name[ty]=E3 taata papa'i ve'a faatere
Name[ug]=e3 console ﭺﯜﮕﯩﻟﺮﯨﺮﮬەﺗ
Name[uk]=Консольний редактор e3
Name[ur]=e3 ﺮﭩﯾﮉﯾﺍ ﻝﻮﺴﻨﮐ
Name[uz]=e3 konsol muharriri
Name[vi]=trình chỉnh sửa bảng điều khiển e3
Name[xh]=e3 console umhleli
Name[yi]=e3 ראָטקאַדער לואָסנאַק
Name[yo]=e3 console olootu
Name[zh]=e3 控制台编辑器
Name[zu]=e3 console editor
Name=e3 console editor
Icon=mini-edit.xpm
Comment[af]=e3 konsole redakteur
Comment[am]=e3 ኮንሶል አርታዒ
Comment[ar]=e3 ﻢﻜﺤﺘﻟﺍ ﺓﺪﺣﻭ ﺭﺮﺤﻣ
Comment[as]=e3 কনছ'ল সম্পাদক
Comment[ay]=e3 consola ukan editorapa
Comment[az]=e3 konsol redaktoru
Comment[ba]=e3 консоль мөхәррире
Comment[be]=Кансольны рэдактар e3
Comment[bg]=e3 конзолен редактор
Comment[bm]=e3 konsolɛ ɲɛnabɔbaga
Comment[bn]=e3 কনসোল সম্পাদক
Comment[bo]=e3 console རྩོམ་སྒྲིག་པ།
Comment[bs]=e3 uređivač konzole
Comment[ca]=Editor de la consola e3
Comment[co]=editore di cunsola e3
Comment[cs]=editor konzole e3
Comment[cy]=golygydd consol e3
Comment[da]=e3 konsol editor
Comment[de]=e3-Konsoleneditor
Comment[dv]=e3 ވެރެޓަޑިއެ ލްސޯންކޮ
Comment[ee]=e3 console ƒe nuŋlɔla
Comment[el]=Πρόγραμμα επεξεργασίας κονσόλας e3
Comment[en]=e3 console editor
Comment[eo]=e3-konzola redaktilo
Comment[es]=editor de consola e3
Comment[et]=e3 konsooliredaktor
Comment[eu]=e3 kontsolaren editorea
Comment[fa]=e3 ﻝﻮﺴﻨﮐ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=e3 konsolieditori
Comment[fj]=e3 Edita ni ivakavakacegu
Comment[fo]=e3 console editor
Comment[fr]=éditeur de console e3
Comment[fy]=e3 konsole bewurker
Comment[ga]=Eagarthóir console e3
Comment[gd]=Deasaiche console e3
Comment[gl]=Editor de consola e3
Comment[gn]=e3 consola editor rehegua
Comment[gu]=e3 કન્સોલ એડિટર
Comment[ha]=e3 console edita
Comment[he]=e3 תלוסנוק ךרוע
Comment[hi]=e3 कंसोल संपादक
Comment[hr]=uređivač e3 konzole
Comment[ht]=editè konsole e3
Comment[hu]=e3 konzolszerkesztő
Comment[hy]=e3 կոնսոլի խմբագիր
Comment[id]=editor konsol e3
Comment[ig]=e3 console nchịkọta akụkọ
Comment[is]=e3 stjórnborðs ritstjóri
Comment[it]=editor della console e3
Comment[iu]=e3 ᑎᑎᕋᖅᑎ
Comment[ja]=e3コンソールエディタ
Comment[jv]=editor konsol e3
Comment[ka]=e3 კონსოლის რედაქტორი
Comment[kk]=e3 консоль редакторы
Comment[km]=កម្មវិធីកែសម្រួលកុងសូល e3
Comment[kn]=e3 ಕನ್ಸೋಲ್ ಸಂಪಾದಕ
Comment[ko]=e3 콘솔 에디터
Comment[ku]=e3 edîtorê konsolê
Comment[ky]=e3 консолунун редактору
Comment[la]=e3 consolatorium editor
Comment[lb]=e3 Konsol Editor
Comment[lg]=e3 omuwandiisi wa console
Comment[ln]=e3 mobongisi ya console
Comment[lo]=e3 console ບັນນາທິການ
Comment[lt]=e3 konsolės redaktorius
Comment[lv]=e3 konsoles redaktors
Comment[mg]=e3 console editor
Comment[mi]=ētita papatohu e3
Comment[mk]=Уредувач на конзола e3
Comment[ml]=e3 കൺസോൾ എഡിറ്റർ
Comment[mn]=e3 консол засварлагч
Comment[mr]=e3 कन्सोल संपादक
Comment[ms]=editor konsol e3
Comment[mt]=editur tal-console e3
Comment[my]=e3 ကွန်ဆိုးလ်တည်းဖြတ်သူ
Comment[ne]=e3 कन्सोल सम्पादक
Comment[nl]=e3 console-editor
Comment[no]=e3 konsoll editor
Comment[ny]=e3 console editor
Comment[om]=Gulaalaa konsolii e3
Comment[or]=e3 କୋନସୋଲ୍ ଏଡିଟର୍ |
Comment[pa]=e3 ਕੰਸੋਲ ਸੰਪਾਦਕ
Comment[pl]=edytor konsoli e3
Comment[ps]=ﺮﯾﺪﻣ ﻝﻮﺴﻨﮐ e3 ﺩ
Comment[pt]=Editor de console E3
Comment[qu]=e3 consola allichaq
Comment[ro]=editor de consolă e3
Comment[ru]=консольный редактор e3
Comment[rw]=e3 umwanditsi mukuru
Comment[sa]=e3 कन्सोल सम्पादक
Comment[sd]=e3 ﺮٽﻳڊﻳﺍ ﻝﻮﺴﻨڪ
Comment[si]=e3 කොන්සෝල සංස්කාරකය
Comment[sk]=editor konzoly e3
Comment[sl]=urejevalnik konzole e3
Comment[sm]=e3 faatonu faamafanafana
Comment[sn]=e3 console editor
Comment[so]=e3 console editor
Comment[sq]=Redaktori i konsolës e3
Comment[st]=e3 console mohlophisi
Comment[su]=redaktur konsol e3
Comment[sv]=e3 konsolredigerare
Comment[sw]=e3 console mhariri
Comment[ta]=e3 கன்சோல் எடிட்டர்
Comment[te]=e3 కన్సోల్ ఎడిటర్
Comment[tg]=Муҳаррири консолҳои e3
Comment[th]=ตัวแก้ไขคอนโซล e3
Comment[ti]=e3 ኮንሶል ኤዲተር
Comment[tk]=e3 konsol redaktory
Comment[tl]=e3 console editor
Comment[to]=e3 ʻetita fakafiemalieʻi
Comment[tr]=e3 konsol editörü
Comment[ts]=e3 muhleri wa console
Comment[tt]=e3 консол редакторы
Comment[tw]=e3 console editor a wɔde yɛ adwuma
Comment[ty]=E3 taata papa'i ve'a faatere
Comment[ug]=e3 console ﭺﯜﮕﯩﻟﺮﯨﺮﮬەﺗ
Comment[uk]=Консольний редактор e3
Comment[ur]=e3 ﺮﭩﯾﮉﯾﺍ ﻝﻮﺴﻨﮐ
Comment[uz]=e3 konsol muharriri
Comment[vi]=trình chỉnh sửa bảng điều khiển e3
Comment[xh]=e3 console umhleli
Comment[yi]=e3 ראָטקאַדער לואָסנאַק
Comment[yo]=e3 console olootu
Comment[zh]=e3 控制台编辑器
Comment[zu]=e3 console editor
Comment=e3 console editor
Exec=rxvt -geometry 80x25 -e e3ne
Terminal=false
Type=Application
Categories=TextEditor
GenericName=e3 console editor
