[Desktop Entry]
Encoding=UTF-8
Name[af]=Pfeme veelvuldige emulator front-end
Name[am]=Pfeme ባለብዙ emulator የፊት-መጨረሻ
Name[ar]=Pfeme ﺔﻴﻣﺎﻣﻷ﻿ﺍ ﺔﻬﺟﺍﻮﻟﺍ ﺩﺪﻌﺘﻣ ﻲﻛﺎﺤﻣ
Name[as]=Pfeme একাধিক ইমুলেটৰ ফ্ৰন্ট-এণ্ড
Name[ay]=Pfeme walja emulador nayraqata
Name[az]=Pfeme çoxlu emulyatorun ön hissəsi
Name[ba]=Пфеме күп тапҡыр эмулятор фронт-осо
Name[be]=Інтэрнет для некалькіх эмулятараў Pfeme
Name[bg]=Преден край на множество емулатори на Pfeme
Name[bm]=Pfeme caman emulateur ɲɛfɛ-dakun
Name[bn]=Pfeme একাধিক এমুলেটর ফ্রন্ট-এন্ড
Name[bo]=སྣ་མང་ལད་མོ་བྱེད་པའི་ལད་མོ་བྱེད་མཁན་གྱི་མདུན་གྲལ་དུ་སླེབས་ཡོད།
Name[bs]=Pfeme višestruki emulator front-end
Name[ca]=Front-end d'emulador múltiple de Pfeme
Name[co]=Pfeme multiple emulator front-end
Name[cs]=Front-end vícenásobného emulátoru Pfeme
Name[cy]=Pen blaen efelychydd lluosog Pfeme
Name[da]=Pfeme multiple emulator front-end
Name[de]=Pfeme-Multiple-Emulator-Frontend
Name[dv]=Pfeme ޑްންއެ-ޓްންރަފް ރޓަލޭއުމިއެ ލްޕަޓިލްމަ
Name[ee]=Pfeme geɖe emulator ŋgɔgbe-nuwuwu
Name[el]=Μπροστινό μέρος πολλαπλών εξομοιωτών Pfeme
Name[eo]=Pfeme multobla emulilo front-end
Name[es]=Front-end de emulador múltiple Pfeme
Name[et]=Pfeme mitme emulaatori esiosa
Name[eu]=Pfeme emuladore anitzeko frontend-a
Name[fa]=Pfeme ﻪﻧﺎﮔﺪﻨﭼ ﺯﺎﺳ ﻪﯿﺒﺷ ﯽﯾﻮﻠﺟ
Name[fi]=Pfeme usean emulaattorin käyttöliittymä
Name[fj]=PFEME emulator e liu
Name[fo]=Pfeme multiple emulator front-end
Name[fr]=Front-end d'émulateur multiple Pfeme
Name[fy]=Pfeme meardere emulator front-end
Name[ga]=Pfeme ceann tosaigh aithriseoir iolrach
Name[gd]=Ceann aghaidh emulator ioma-pfeme
Name[gl]=Front-end do emulador múltiple de Pfeme
Name[gn]=Pfeme múltiple emulador tenondegua
Name[gu]=Pfeme બહુવિધ ઇમ્યુલેટર ફ્રન્ટ-એન્ડ
Name[ha]=Pfeme mahara emulator gaban-karshen
Name[he]=Pfeme לש הבורמ רוטלומא תיזח
Name[hi]=Pfeme मल्टीपल एमुलेटर फ्रंट-एंड
Name[hr]=Sučelje Pfeme višestrukog emulatora
Name[ht]=Pfeme miltip Emulation front-end
Name[hu]=Pfeme többszörös emulátor előtér
Name[hy]=Pfeme բազմակի էմուլյատոր ճակատային մասում
Name[id]=Pfeme multiple emulator front-end
Name[ig]=Pfeme otutu emulator n'ihu-ọgwụgwụ
Name[is]=Framhlið Pfeme multiple emulator
Name[it]=Pfeme emulatore multiplo front-end
Name[iu]=ᐊᒥᓱᐃᖅᓱᕐᓗᓂ
Name[ja]=Pfeme マルチエミュレータ フロントエンド
Name[jv]=Pfeme kaping emulator ngarep-mburi
Name[ka]=Pfeme მრავალჯერადი ემულატორის წინა ნაწილი
Name[kk]=Pfeme бірнеше эмуляторының алдыңғы бөлігі
Name[km]=Pfeme កម្មវិធីត្រាប់តាមច្រើនមុខ
Name[kn]=Pfeme ಬಹು ಎಮ್ಯುಲೇಟರ್ ಫ್ರಂಟ್-ಎಂಡ್
Name[ko]="Pfeme 다중 에뮬레이터 프런트 엔드"
Name[ku]=Pfeme emulatora pirjimar a pêş-end
Name[ky]=Pfeme көп эмуляторунун алдыңкы бөлүгү
Name[la]=Pfeme multiplex aemulator ante-finem
Name[lb]=Pfeme Multiple Emulator Front-End
Name[lg]=Pfeme emulator eziwera mu maaso-enkomerero
Name[ln]=Pfeme ebele ya émulateur front-end
Name[lo]=Pfeme multiple emulator front-end
Name[lt]=Pfeme kelių emuliatorių priekinė dalis
Name[lv]=Pfeme vairāku emulatoru priekšgals
Name[mg]=Pfeme emulator maromaro eo anoloana
Name[mi]=Pfeme maha emulator mua-mutunga
Name[mk]=Преден дел на повеќекратен емулатор на Pfeme
Name[ml]=Pfeme ഒന്നിലധികം എമുലേറ്റർ ഫ്രണ്ട്-എൻഡ്
Name[mn]=Pfeme олон эмуляторын урд хэсэг
Name[mr]=Pfeme एकाधिक एमुलेटर फ्रंट-एंड
Name[ms]=Bahagian hadapan berbilang emulator Pfeme
Name[mt]=Pfeme emulatur multiplu front-end
Name[my]=Pfeme မျိုးစုံ emulator ရှေ့-ဆုံး
Name[ne]=Pfeme बहु इमुलेटर फ्रन्ट-एन्ड
Name[nl]=Pfeme front-end met meerdere emulators
Name[no]=Pfeme multiple emulator front-end
Name[ny]=Pfeme angapo emulator kutsogolo-mapeto
Name[om]=Pfeme dachaa emulator fuuldura-dhuma
Name[or]=Pfeme ଏକାଧିକ ଏମୁଲେଟର ଫ୍ରଣ୍ଟ-ଏଣ୍ଡ |
Name[pa]=Pfeme ਮਲਟੀਪਲ ਈਮੂਲੇਟਰ ਫਰੰਟ-ਐਂਡ
Name[pl]=Nakładka na wiele emulatorów Pfeme
Name[ps]=Pfeme ﯼﺎﭘ ۍﻨﯿﮑﺨﻣ ﺮټﯿﻟﻮﻤﯾﺍ ﻮڅ
Name[pt]=Pfeme emulador múltiplo front-end
Name[qu]=Pfeme achka emulador ñawpaq-tukuy
Name[ro]=Pfeme multiple emulator front-end
Name[ru]=Интерфейс нескольких эмуляторов Pfeme
Name[rw]=Pfeme abigana benshi imbere-impera
Name[sa]=Pfeme बहु अनुकरणकर्ता अग्र-अन्त
Name[sd]=Pfeme ڊﻨﻳﺍ-ٽﻧﺮﻓ ﺮٽﻴﻟﻮﻤﻳﺍ ﻦﮣﮭﮔ
Name[si]=Pfeme බහු ඉමුලේටර් ඉදිරිපස අන්තය
Name[sk]=Front-end viacnásobného emulátora Pfeme
Name[sl]=Sprednji del Pfeme večkratnega emulatorja
Name[sm]=Pfeme tele emulator pito i luma
Name[sn]=Pfeme akawanda emulator kumberi-kuguma
Name[so]=Pfeme dhowr emulator-ka hore
Name[sq]=Emulatori i shumëfishtë Pfeme në pjesën e përparme
Name[st]=Pfeme multiple emulator front-end
Name[su]=Pfeme sababaraha émulator hareup-tungtung
Name[sv]=Pfeme multiple emulator front-end
Name[sw]=Pfeme emulator nyingi mbele-mwisho
Name[ta]=Pfeme மல்டிபிள் எமுலேட்டர் ஃப்ரண்ட்-எண்ட்
Name[te]=Pfeme బహుళ ఎమ్యులేటర్ ఫ్రంట్-ఎండ్
Name[tg]=Пеш аз ҳама эмулятори сершумори Pfeme
Name[th]=ส่วนหน้าของโปรแกรมจำลอง Pfeme หลายตัว
Name[ti]=Pfeme ብዙሕ ኤሙለተር ቅድሚት-መወዳእታ
Name[tk]=Birnäçe emulýatoryň öň tarapy
Name[tl]=Pfeme multiple emulator front-end
Name[to]=Pfeme ha ngaahi emulator lahi ʻi muʻa
Name[tr]=Pfeme çoklu öykünücü ön ucu
Name[ts]=Pfeme emulator yo tala ya le mahlweni
Name[tt]=Pfeme берничә эмуляторның алгы өлеше
Name[tw]=Pfeme pii emulator anim-awiei
Name[ty]=Pfeme e rave rahi mau emulator front-end
Name[ug]=Pfeme ﭖەﺭەﺗ ﻯﺪﻟﺎﺋ ﻰﭼﯜﮔﺭﯜﺘﺷەﻟﺪﯩﻠﻗەﺗ ﭖﯚﻛ
Name[uk]=Інтерфейс мультиемулятора Pfeme
Name[ur]=Pfeme ﮉﻨﯾﺍ ﭧﻧﺮﻓ ﺮﭩﯿﻟﻮﻤﯾﺍ ﮦﺩﺎﯾﺯ ﮯﺳ ﮏﯾﺍ
Name[uz]=Pfeme bir nechta emulyatorning old tomoni
Name[vi]=Giao diện người dùng giả lập nhiều Pfeme
Name[xh]=I-Pfeme yee-emulator ezininzi ngaphambili
Name[yi]=Pfeme ףוס-טנאָרפ ראָטאַלומע לפייק
Name[yo]=Pfeme ọpọ emulator iwaju-opin
Name[zh]=Pfeme 多模拟器前端
Name[zu]=I-Pfeme ngaphambili kwe-emulator eminingi
Name=Pfeme multiple emulator front-end
Icon=pfeme.png
Comment[af]='N Voorkant vir veelvuldige emulators
Comment[am]=ለበርካታ emulators የሚሆን የፊት-መጨረሻ
Comment[ar]=ﺓﺩﺪﻌﺘﻣ ﺕﺎﻴﻛﺎﺤﻤﻟ ﺔﻴﻣﺎﻣﺃ ﺔﻬﺟﺍﻭ
Comment[as]=একাধিক ইমুলেটৰৰ বাবে এটা ফ্ৰন্ট-এণ্ড
Comment[ay]=Mä front-end walja emuladores ukanakataki
Comment[az]=Çoxsaylı emulyatorlar üçün ön hissə
Comment[ba]=Күп эмуляторҙар өсөн алғы осо
Comment[be]=Інтэрфейс для некалькіх эмулятараў
Comment[bg]=Преден край за множество емулатори
Comment[bm]=Front-end min bɛ kɛ emulateur caman kama
Comment[bn]=একাধিক এমুলেটরের জন্য একটি ফ্রন্ট-এন্ড
Comment[bo]=ལད་མོ་བྱེད་མཁན་མང་པོའི་མདུན་གྲལ་དུ་སླེབས་ཡོད།
Comment[bs]=Front-end za više emulatora
Comment[ca]=Un front-end per a diversos emuladors
Comment[co]=Un front-end per parechje emulatori
Comment[cs]=Front-end pro více emulátorů
Comment[cy]=Pen blaen ar gyfer efelychwyr lluosog
Comment[da]=En front-end til flere emulatorer
Comment[de]=Ein Frontend für mehrere Emulatoren
Comment[dv]=ވެކެޑެންއެ ޓްންރަފް ށްކަރަޓަލޭއުމިއެ އްތައެ
Comment[ee]=A ŋgɔgbe-nuwuwu na emulators geɖe
Comment[el]=Ένα front-end για πολλούς εξομοιωτές
Comment[eo]=Antaŭaĵo por multoblaj emuliloj
Comment[es]=Un front-end para múltiples emuladores
Comment[et]=Mitme emulaatori esiosa
Comment[eu]=Emuladore anitzeko frontend bat
Comment[fa]=ﺯﺎﺳ ﻪﯿﺒﺷ ﻦﯾﺪﻨﭼ ﯼﺍﺮﺑ ﯽﯾﻮﻠﺟ
Comment[fi]=Käyttöliittymä useille emulaattoreille
Comment[fj]=E dua na icavacava e liu me baleta e vuqa na emulators
Comment[fo]=A front-end for multiple emulators
Comment[fr]=Un frontal pour plusieurs émulateurs
Comment[fy]=In front-end foar meardere emulators
Comment[ga]=Ceann tosaigh le haghaidh il-aithriseoirí
Comment[gd]=Ceann aghaidh airson ioma emulators
Comment[gl]=Un front-end para varios emuladores
Comment[gn]=Peteĩ front-end heta emulador-pe g̃uarã
Comment[gu]=બહુવિધ એમ્યુલેટર માટે ફ્રન્ટ-એન્ડ
Comment[ha]=A gaban-karshen ga mahara emulators
Comment[he]=םיבורמ םירוטלומאל תיזח
Comment[hi]=एकाधिक अनुकरणकर्ताओं के लिए एक फ्रंट-एंड
Comment[hr]=Sučelje za više emulatora
Comment[ht]=Yon front-end pou plizyè Emulation
Comment[hu]=Előtér több emulátorhoz
Comment[hy]=Բազմաթիվ էմուլյատորների ճակատային հատված
Comment[id]=Sebuah front-end untuk beberapa emulator
Comment[ig]=A n'ihu-ọgwụgwụ maka otutu emulators
Comment[is]=Framhlið fyrir marga herma
Comment[it]=Un front-end per più emulatori
Comment[iu]=ᓯᕗᓂᐊᓃᑦᑐᑦ ᐊᒥᓱᓄᑦ ᑕᕐᕋᖅᑐᐃᔨᓄᑦ
Comment[ja]=複数のエミュレータ用のフロントエンド
Comment[jv]=A ngarep-mburi kanggo macem-macem emulator
Comment[ka]=წინა ნაწილი მრავალი ემულატორისთვის
Comment[kk]=Бірнеше эмуляторларға арналған интерфейс
Comment[km]=ផ្នែកខាងមុខសម្រាប់កម្មវិធីត្រាប់តាមច្រើន។
Comment[kn]=ಬಹು ಎಮ್ಯುಲೇಟರ್u200cಗಳಿಗೆ ಮುಂಭಾಗದ ತುದಿ
Comment[ko]="여러 에뮬레이터를 위한 프런트 엔드"
Comment[ku]=Pêşek ji bo gelek emulatoran
Comment[ky]=Бир нече эмуляторлор үчүн алдыңкы бөлүк
Comment[la]=A fronte-finem pro multis aemulatoribus
Comment[lb]=E Frontend fir verschidde Emulatoren
Comment[lg]=Front-end ya emulators eziwera
Comment[ln]=Front-end moko mpo na ba émulateurs ebele
Comment[lo]=A front-end ສໍາລັບ emulators ຫຼາຍ
Comment[lt]=Kelių emuliatorių priekinė dalis
Comment[lv]=Priekšgals vairākiem emulatoriem
Comment[mg]=Famaranana ho an'ny emulators maro
Comment[mi]=He pito-mua mo nga emulator maha
Comment[mk]=Преден дел за повеќе емулатори
Comment[ml]=ഒന്നിലധികം എമുലേറ്ററുകൾക്കുള്ള ഒരു മുൻഭാഗം
Comment[mn]=Олон эмуляторуудад зориулсан урд талын хэрэгсэл
Comment[mr]=एकाधिक एमुलेटरसाठी फ्रंट-एंड
Comment[ms]=Bahagian hadapan untuk berbilang emulator
Comment[mt]=A front-end għal emulaturi multipli
Comment[my]=များစွာသော emulators အတွက် ရှေ့ဆုံး
Comment[ne]=धेरै इमुलेटरहरूको लागि फ्रन्ट-एन्ड
Comment[nl]=Een front-end voor meerdere emulators
Comment[no]=En front-end for flere emulatorer
Comment[ny]=A kutsogolo kwa emulators angapo
Comment[om]=Fuulduraa emulators hedduudhaaf
Comment[or]=ଏକାଧିକ ଏମୁଲେଟର ପାଇଁ ଏକ ଆଗ-ଶେଷ |
Comment[pa]=ਮਲਟੀਪਲ ਇਮੂਲੇਟਰਾਂ ਲਈ ਇੱਕ ਫਰੰਟ-ਐਂਡ
Comment[pl]=Front-end dla wielu emulatorów
Comment[ps]=ﯼﺎﭘ ۍﻨﯿﮑﺨﻣ ﻩﺭﺎﭙﻟ ﻮﻧﻭﺮټﯿﻟﻮﻤﯾﺍ ﯼﺮﯾډ ﺩ
Comment[pt]=Um front-end para vários emuladores
Comment[qu]=Achka emuladorkunapaq ñawpaq kaq
Comment[ro]=Un front-end pentru mai mulți emulatori
Comment[ru]=Внешний интерфейс для нескольких эмуляторов
Comment[rw]=Imbere-impera kubantu benshi bigana
Comment[sa]=बहुविध-अनुकरणकानां कृते एकः अग्रभागः
Comment[sd]=ﺮﺧﺁ-ﻥﻮﻬﻣﺎﺳ ڪﻫ ءﻻ﻿ emulators ﻦﮣﮭﮔ
Comment[si]=බහු ඉමුලේටර් සඳහා ඉදිරිපස අන්තයක්
Comment[sk]=Front-end pre viacero emulátorov
Comment[sl]=Sprednji del za več emulatorjev
Comment[sm]=O se pito i luma mo le tele o emulators
Comment[sn]=Kumberi-kumagumo kune akawanda emulators
Comment[so]=Dhamaadka hore ee emulators badan
Comment[sq]=Një pjesë e përparme për emulatorë të shumtë
Comment[st]=E ka pele bakeng sa li-emulator tse ngata
Comment[su]=A hareup-tungtung pikeun sababaraha emulators
Comment[sv]=En front-end för flera emulatorer
Comment[sw]=Mwisho wa mbele kwa emulator nyingi
Comment[ta]=பல முன்மாதிரிகளுக்கான முன்-முனை
Comment[te]=బహుళ ఎమ్యులేటర్u200cల కోసం ఒక ఫ్రంట్ ఎండ్
Comment[tg]=Пешниҳод барои эмуляторҳои сершумор
Comment[th]=ส่วนหน้าสำหรับอีมูเลเตอร์หลายตัว
Comment[ti]=ንብዙሓት ኤሙለተራት ዝኸውን ቅድመ-መወዳእታ
Comment[tk]=Birnäçe emulýator üçin öň tarap
Comment[tl]=Isang front-end para sa maraming emulator
Comment[to]=Ko ha ngataʻanga ʻi muʻa ki ha ngaahi emulators kehekehe
Comment[tr]=Birden çok öykünücü için bir ön uç
Comment[ts]=A front-end ya ti emulators to tala
Comment[tt]=Берничә эмулятор өчен фронт
Comment[tw]=A front-end ma emulators pii
Comment[ty]=Te hoê hi'opo'araa no te mau taata e rave rahi
Comment[ug]=ﻰﭙﯨﺭەﺗ ﻯﺪﻟﺎﺋ ﯔﯩﻧﺭەﻠﯩﭼﯜﮕﯩﻟﺪﯩﻠﻗەﺗ ﭖﯚﻛ
Comment[uk]=Інтерфейс для кількох емуляторів
Comment[ur]=ﮉﻨﯾﺍ ﭧﻧﺮﻓ ﮏﯾﺍ ﮯﯿﻟ ﮯﮐ ﺯﺮﭩﯿﻟﻮﻤﯾﺍ ﮦﺩﺎﯾﺯ ﮯﺳ ﮏﯾﺍ
Comment[uz]=Bir nechta emulyatorlar uchun front-end
Comment[vi]=Giao diện người dùng cho nhiều trình giả lập
Comment[xh]=Isiphelo sangaphambili seemulators ezininzi
Comment[yi]=סראָטאַלומע לפייק ראַפֿ ףוס-טנאָרפ א
Comment[yo]=A iwaju-opin fun ọpọ emulators
Comment[zh]=多个模拟器的前端
Comment[zu]=Ingaphambili lama-emulators amaningi
Comment=A front-end for multiple emulators
Exec=pfeme
Terminal=false
Type=Application
Categories=Game
GenericName=Front-end
