[Desktop Entry]
Name[af]=GtkHash kontrolesom sakrekenaar
Name[am]=GtkHash ቼክሰም ማስያ
Name[ar]=GtkHash ﻱﺭﺎﺒﺘﺧﻻ﻿ﺍ ﻉﻮﻤﺠﻤﻟﺍ ﺔﺒﺳﺎﺣ
Name[as]=GtkHash চেকছাম কেলকুলেটৰ
Name[ay]=GtkHash ukax mä calculadora de checksum ukawa
Name[az]=GtkHash yoxlama məbləği kalkulyatoru
Name[ba]=ГткХаш чек калькуляторы
Name[be]=Калькулятар кантрольнай сумы GtkHash
Name[bg]=GtkHash калкулатор за контролна сума
Name[bm]=GtkHash jatebɔlan jatebɔlan
Name[bn]=GtkHash চেকসাম ক্যালকুলেটর
Name[bo]=gtkHashཞིབ་བཤེར་རྩིས་རྒྱག་འཕྲུལ་ཆས།
Name[bs]=GtkHash kalkulator kontrolne sume
Name[ca]=Calculadora de suma de comprovació GtkHash
Name[co]=Calculatrice GtkHash checksum
Name[cs]=Kalkulačka kontrolního součtu GtkHash
Name[cy]=Cyfrifiannell siec GtkHash
Name[da]=GtkHash checksum lommeregner
Name[de]=GtkHash-Prüfsummenrechner
Name[dv]=ރޓަލޭއުކިލްކެ މްސަކްޗެ ޝްހެކޭޓީޖީ
Name[ee]=GtkHash checksum akɔntabubumɔ̃
Name[el]=Υπολογιστής αθροίσματος ελέγχου GtkHash
Name[en]=GtkHash checksum calculator
Name[eo]=GtkHash-kontrolsumokalkulilo
Name[es]=Calculadora de suma de comprobación GtkHash
Name[et]=GtkHashi kontrollsumma kalkulaator
Name[eu]=GtkHash checksum kalkulagailua
Name[fa]=GtkHash ﻊﻤﺟ ﮏﭼ ﺏﺎﺴﺣ ﻦﯿﺷﺎﻣ
Name[fi]=GtkHash tarkistussummalaskin
Name[fj]=GtkHash checksum calculator
Name[fo]=GtkHash checksum roknimaskinu
Name[fr]=Calculateur de somme de contrôle GtkHash
Name[fy]=GtkHash kontrôlesum rekkenmasine
Name[ga]=Áireamhán seiceála GtkHash
Name[gd]=GtkHash checksum àireamhair
Name[gl]=Calculadora de suma de verificación GtkHash
Name[gn]=GtkHash jesarekoha jesarekoha
Name[gu]=GtkHash ચેકસમ કેલ્ક્યુલેટર
Name[ha]=GtkHash checksum kalkuleta
Name[he]=GtkHash לש הקידב םוכס ןובשחמ
Name[hi]=GtkHash चेकसम कैलकुलेटर
Name[hr]=GtkHash kalkulator kontrolne sume
Name[ht]=GtkHash kalkilatris sòm chèk
Name[hu]=GtkHash ellenőrzőösszeg kalkulátor
Name[hy]=GtkHash checksum հաշվիչ
Name[id]=Kalkulator checksum GtkHash
Name[ig]=GtkHash checksum mgbako
Name[is]=GtkHash checksum reiknivél
Name[it]=Calcolatore di checksum GtkHash
Name[iu]=GtkHash ᖃᐅᔨᓴᕈᑎ
Name[ja]=GtkHash チェックサム計算ツール
Name[jv]=GtkHash checksum kalkulator
Name[ka]=GtkHash გამშვები ჯამის კალკულატორი
Name[kk]=GtkHash бақылау сомасы калькуляторы
Name[km]=ម៉ាស៊ីនគណនាមូលប្បទានប័ត្រ GtkHash
Name[kn]=GtkHash ಚೆಕ್ಸಮ್ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Name[ko]=GtkHash 체크섬 계산기
Name[ku]=Hesabkera kontrolê ya GtkHash
Name[ky]=GtkHash текшерүү суммасы эсептегичи
Name[la]=GtkHash checksum calculator
Name[lb]=GtkHash Checksum Rechner
Name[lg]=GtkHash ekibalirizi ky'omuwendo gw'okukebera
Name[ln]=Calculateur ya checksum ya GtkHash
Name[lo]=ເຄື່ອງຄິດເລກ GtkHash checksum
Name[lt]=GtkHash kontrolinės sumos skaičiuoklė
Name[lv]=GtkHash kontrolsummas kalkulators
Name[mg]=GtkHash checksum calculator
Name[mi]=GtkHash tātaitai arowhai
Name[mk]=GtkHash калкулатор за проверка на сумата
Name[ml]=GtkHash ചെക്ക്സം കാൽക്കുലേറ്റർ
Name[mn]=GtkHash шалгах нийлбэр тооцоолуур
Name[mr]=GtkHash चेकसम कॅल्क्युलेटर
Name[ms]=Kalkulator semak GtkHash
Name[mt]=GtkHash kalkolatur tas-checksum
Name[my]=GtkHash checksum ဂဏန်းတွက်စက်
Name[ne]=GtkHash चेकसम क्याल्कुलेटर
Name[nl]=GtkHash checksum-calculator
Name[no]=GtkHash kontrollsum kalkulator
Name[ny]=GtkHash checksum calculator
Name[om]=Shallaggii checksum GtkHash
Name[or]=GtkHash ଚେକସମ୍ କାଲକୁଲେଟର |
Name[pa]=GtkHash ਚੈੱਕਸਮ ਕੈਲਕੁਲੇਟਰ
Name[pl]=Kalkulator sumy kontrolnej GtkHash
Name[ps]=ﺮټﯿﻟﻮﮑﻠﯿﮐ ﻢﺴﮑﯿﭼ GtkHash ﺩ
Name[pt]=Calculadora de soma de verificação GtkHash
Name[qu]=GtkHash yupay yupay yupay
Name[ro]=Calculator de sumă de control GtkHash
Name[ru]=Калькулятор контрольной суммы GtkHash
Name[rw]=Kubara GtkHash
Name[sa]=GtkHash चेकसम गणकयंत्र
Name[sd]=GtkHash ڙﺪﻨﻴﭙﮣﮘ ﻢﺴڪﻴﭼ
Name[si]=GtkHash චෙක්සම් කැල්ක්යුලේටරය
Name[sk]=Kalkulačka kontrolného súčtu GtkHash
Name[sl]=Kalkulator kontrolne vsote GtkHash
Name[sm]=GtkHash siaki siaki
Name[sn]=GtkHash checksum Calculator
Name[so]=Xisaabiyaha jeegagga GtkHash
Name[sq]=Llogaritësi i shumës së kontrollit GtkHash
Name[st]=GtkHash Checksum Calculator
Name[su]=GtkHash checksum kalkulator
Name[sv]=GtkHash checksummräknare
Name[sw]=Kikokotoo cha hundi cha GtkHash
Name[ta]=GtkHash செக்சம் கால்குலேட்டர்
Name[te]=GtkHash చెక్u200cసమ్ కాలిక్యులేటర్
Name[tg]=Ҳисобкунаки GtkHash
Name[th]=เครื่องคิดเลขเช็คซัม GtkHash
Name[ti]=GtkHash checksum ካልኩሌተር
Name[tk]=GtkHash barlag kalkulýatory
Name[tl]=GtkHash checksum calculator
Name[to]=GtkHash checksum anga kalakuleita
Name[tr]=GtkHash sağlama toplamı hesaplayıcısı
Name[ts]=GtkHash xikalo xa checksum
Name[tt]=GtkHash чексум калькуляторы
Name[tw]=GtkHash checksum akontaabu afiri
Name[ty]=GtkHash checksum calculator
Name[ug]=GtkHash ﭺﯘﻐﯩﻠﺑﺎﺴﯧﮬ ﺵﯛﺭﯜﺸﻛەﺗ
Name[uk]=Калькулятор контрольної суми GtkHash
Name[ur]=GtkHash ﺮﭩﯿﻟﻮﮑﻠﯿﮐ ﻢﺴﮑﯿﭼ
Name[uz]=GtkHash nazorat summasi kalkulyatori
Name[vi]=Máy tính tổng kiểm tra GtkHash
Name[xh]=Isibali seGtkHash sokutshekisha
Name[yi]=GtkHash ראָטאַלוקלאַק םוסקעשט
Name[yo]=GtkHash checksum iṣiro
Name[zh]=GtkHash 校验和计算器
Name[zu]=I-GtkHash checksum wokubala
Name=GtkHash checksum calculator
Comment[af]=GtkHash kontrolesom sakrekenaar
Comment[am]=GtkHash ቼክሰም ማስያ
Comment[ar]=GtkHash ﻱﺭﺎﺒﺘﺧﻻ﻿ﺍ ﻉﻮﻤﺠﻤﻟﺍ ﺔﺒﺳﺎﺣ
Comment[as]=GtkHash চেকছাম কেলকুলেটৰ
Comment[ay]=GtkHash ukax mä calculadora de checksum ukawa
Comment[az]=GtkHash yoxlama məbləği kalkulyatoru
Comment[ba]=ГткХаш чек калькуляторы
Comment[be]=Калькулятар кантрольнай сумы GtkHash
Comment[bg]=GtkHash калкулатор за контролна сума
Comment[bm]=GtkHash jatebɔlan jatebɔlan
Comment[bn]=GtkHash চেকসাম ক্যালকুলেটর
Comment[bo]=gtkHashཞིབ་བཤེར་རྩིས་རྒྱག་འཕྲུལ་ཆས།
Comment[bs]=GtkHash kalkulator kontrolne sume
Comment[ca]=Calculadora de suma de comprovació GtkHash
Comment[co]=Calculatrice GtkHash checksum
Comment[cs]=Kalkulačka kontrolního součtu GtkHash
Comment[cy]=Cyfrifiannell siec GtkHash
Comment[da]=GtkHash checksum lommeregner
Comment[de]=GtkHash-Prüfsummenrechner
Comment[dv]=ރޓަލޭއުކިލްކެ މްސަކްޗެ ޝްހެކޭޓީޖީ
Comment[ee]=GtkHash checksum akɔntabubumɔ̃
Comment[el]=Υπολογιστής αθροίσματος ελέγχου GtkHash
Comment[en]=GtkHash checksum calculator
Comment[eo]=GtkHash-kontrolsumokalkulilo
Comment[es]=Calculadora de suma de comprobación GtkHash
Comment[et]=GtkHashi kontrollsumma kalkulaator
Comment[eu]=GtkHash checksum kalkulagailua
Comment[fa]=GtkHash ﻊﻤﺟ ﮏﭼ ﺏﺎﺴﺣ ﻦﯿﺷﺎﻣ
Comment[fi]=GtkHash tarkistussummalaskin
Comment[fj]=GtkHash checksum calculator
Comment[fo]=GtkHash checksum roknimaskinu
Comment[fr]=Calculateur de somme de contrôle GtkHash
Comment[fy]=GtkHash kontrôlesum rekkenmasine
Comment[ga]=Áireamhán seiceála GtkHash
Comment[gd]=GtkHash checksum àireamhair
Comment[gl]=Calculadora de suma de verificación GtkHash
Comment[gn]=GtkHash jesarekoha jesarekoha
Comment[gu]=GtkHash ચેકસમ કેલ્ક્યુલેટર
Comment[ha]=GtkHash checksum kalkuleta
Comment[he]=GtkHash לש הקידב םוכס ןובשחמ
Comment[hi]=GtkHash चेकसम कैलकुलेटर
Comment[hr]=GtkHash kalkulator kontrolne sume
Comment[ht]=GtkHash kalkilatris sòm chèk
Comment[hu]=GtkHash ellenőrzőösszeg kalkulátor
Comment[hy]=GtkHash checksum հաշվիչ
Comment[id]=Kalkulator checksum GtkHash
Comment[ig]=GtkHash checksum mgbako
Comment[is]=GtkHash checksum reiknivél
Comment[it]=Calcolatore di checksum GtkHash
Comment[iu]=GtkHash ᖃᐅᔨᓴᕈᑎ
Comment[ja]=GtkHash チェックサム計算ツール
Comment[jv]=GtkHash checksum kalkulator
Comment[ka]=GtkHash გამშვები ჯამის კალკულატორი
Comment[kk]=GtkHash бақылау сомасы калькуляторы
Comment[km]=ម៉ាស៊ីនគណនាមូលប្បទានប័ត្រ GtkHash
Comment[kn]=GtkHash ಚೆಕ್ಸಮ್ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Comment[ko]=GtkHash 체크섬 계산기
Comment[ku]=Hesabkera kontrolê ya GtkHash
Comment[ky]=GtkHash текшерүү суммасы эсептегичи
Comment[la]=GtkHash checksum calculator
Comment[lb]=GtkHash Checksum Rechner
Comment[lg]=GtkHash ekibalirizi ky'omuwendo gw'okukebera
Comment[ln]=Calculateur ya checksum ya GtkHash
Comment[lo]=ເຄື່ອງຄິດເລກ GtkHash checksum
Comment[lt]=GtkHash kontrolinės sumos skaičiuoklė
Comment[lv]=GtkHash kontrolsummas kalkulators
Comment[mg]=GtkHash checksum calculator
Comment[mi]=GtkHash tātaitai arowhai
Comment[mk]=GtkHash калкулатор за проверка на сумата
Comment[ml]=GtkHash ചെക്ക്സം കാൽക്കുലേറ്റർ
Comment[mn]=GtkHash шалгах нийлбэр тооцоолуур
Comment[mr]=GtkHash चेकसम कॅल्क्युलेटर
Comment[ms]=Kalkulator semak GtkHash
Comment[mt]=GtkHash kalkolatur tas-checksum
Comment[my]=GtkHash checksum ဂဏန်းတွက်စက်
Comment[ne]=GtkHash चेकसम क्याल्कुलेटर
Comment[nl]=GtkHash checksum-calculator
Comment[no]=GtkHash kontrollsum kalkulator
Comment[ny]=GtkHash checksum calculator
Comment[om]=Shallaggii checksum GtkHash
Comment[or]=GtkHash ଚେକସମ୍ କାଲକୁଲେଟର |
Comment[pa]=GtkHash ਚੈੱਕਸਮ ਕੈਲਕੁਲੇਟਰ
Comment[pl]=Kalkulator sumy kontrolnej GtkHash
Comment[ps]=ﺮټﯿﻟﻮﮑﻠﯿﮐ ﻢﺴﮑﯿﭼ GtkHash ﺩ
Comment[pt]=Calculadora de soma de verificação GtkHash
Comment[qu]=GtkHash yupay yupay yupay
Comment[ro]=Calculator de sumă de control GtkHash
Comment[ru]=Калькулятор контрольной суммы GtkHash
Comment[rw]=Kubara GtkHash
Comment[sa]=GtkHash चेकसम गणकयंत्र
Comment[sd]=GtkHash ڙﺪﻨﻴﭙﮣﮘ ﻢﺴڪﻴﭼ
Comment[si]=GtkHash චෙක්සම් කැල්ක්යුලේටරය
Comment[sk]=Kalkulačka kontrolného súčtu GtkHash
Comment[sl]=Kalkulator kontrolne vsote GtkHash
Comment[sm]=GtkHash siaki siaki
Comment[sn]=GtkHash checksum Calculator
Comment[so]=Xisaabiyaha jeegagga GtkHash
Comment[sq]=Llogaritësi i shumës së kontrollit GtkHash
Comment[st]=GtkHash Checksum Calculator
Comment[su]=GtkHash checksum kalkulator
Comment[sv]=GtkHash checksummräknare
Comment[sw]=Kikokotoo cha hundi cha GtkHash
Comment[ta]=GtkHash செக்சம் கால்குலேட்டர்
Comment[te]=GtkHash చెక్u200cసమ్ కాలిక్యులేటర్
Comment[tg]=Ҳисобкунаки GtkHash
Comment[th]=เครื่องคิดเลขเช็คซัม GtkHash
Comment[ti]=GtkHash checksum ካልኩሌተር
Comment[tk]=GtkHash barlag kalkulýatory
Comment[tl]=GtkHash checksum calculator
Comment[to]=GtkHash checksum anga kalakuleita
Comment[tr]=GtkHash sağlama toplamı hesaplayıcısı
Comment[ts]=GtkHash xikalo xa checksum
Comment[tt]=GtkHash чексум калькуляторы
Comment[tw]=GtkHash checksum akontaabu afiri
Comment[ty]=GtkHash checksum calculator
Comment[ug]=GtkHash ﭺﯘﻐﯩﻠﺑﺎﺴﯧﮬ ﺵﯛﺭﯜﺸﻛەﺗ
Comment[uk]=Калькулятор контрольної суми GtkHash
Comment[ur]=GtkHash ﺮﭩﯿﻟﻮﮑﻠﯿﮐ ﻢﺴﮑﯿﭼ
Comment[uz]=GtkHash nazorat summasi kalkulyatori
Comment[vi]=Máy tính tổng kiểm tra GtkHash
Comment[xh]=Isibali seGtkHash sokutshekisha
Comment[yi]=GtkHash ראָטאַלוקלאַק םוסקעשט
Comment[yo]=GtkHash checksum iṣiro
Comment[zh]=GtkHash 校验和计算器
Comment[zu]=I-GtkHash checksum wokubala
Comment=GtkHash checksum calculator
GenericName=GtkHash
Keywords=hash;checksum;digest;md5;sha1;sha256;crc32;
TryExec=gtkhash
Exec=gtkhash
Icon=gtkhash.xpm
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility
