[Desktop Entry]
Name=GADMIN-SAMBA Samba administration
GenericName=GADMIN-SAMBA
Comment=SAMBA file, print and domain server administration
Exec=gadmin-samba
Icon=gadmin-samba.xpm
Terminal=false
Type=Application
Categories=X-Network-connect
