[Desktop Entry]
Name[af]=GADMIN-SAMBA Samba administrasie
Name[am]=GADMIN-SAMBA የሳምባ አስተዳደር
Name[ar]=GADMIN-Samba Samba ﺓﺭﺍﺩﺇ
Name[as]=GADMIN-SAMBA সাম্বা প্ৰশাসন
Name[ay]=GADMIN-SAMBA Samba ukax administración ukankiwa
Name[az]=GADMIN-SAMBA Samba administrasiyası
Name[ba]=Самба ГАДМИН-САМБА хакимиәте
Name[be]=GADMIN-SAMBA Кіраванне Samba
Name[bg]=GADMIN-SAMBA Администрация на Samba
Name[bm]=GADMIN-SAMBA Samba mara la
Name[bn]=গ্যাডমিন-সাম্বা সাম্বা প্রশাসন
Name[bo]=GADMIN-SAMBA Samba སྲིད་འཛིན་དོ་དམ།
Name[bs]=GADMIN-SAMBA Samba administracija
Name[ca]=GADMIN-SAMBA Administració de Samba
Name[co]=GADMIN-SAMBA Amministrazione di Samba
Name[cs]=GADMIN-SAMBA Správa Samby
Name[cy]=GADMIN-SAMBA gweinyddiaeth Samba
Name[da]=GADMIN-SAMBA Samba administration
Name[de]=GADMIN-SAMBA Samba-Administration
Name[dv]=އިގަމުކަރިވެ ގެބާމްސަ ބާމްސަ-ންމިޑްގަ
Name[ee]=GADMIN-SAMBA Samba ƒe dziɖuɖu
Name[el]=GADMIN-SAMBA διοίκηση Samba
Name[en]=GADMIN-SAMBA Samba administration
Name[eo]=GADMIN-SAMBA Samba administracio
Name[es]=GADMIN-SAMBA Administración Samba
Name[et]=GADMIN-SAMBA Samba haldus
Name[eu]=GADMIN-SAMBA Samba administrazioa
Name[fa]=GADMIN-SAMBA ﺎﺒﻣﺎﺳ ﺖﯾﺮﯾﺪﻣ
Name[fi]=GADMIN-SAMBA Samban hallinto
Name[fj]=GADMIN-SAMBA veiliutaki Samba
Name[fo]=GADMIN-SAMBA Samba administration
Name[fr]=GADMIN-SAMBA Administration de la samba
Name[fy]=GADMIN-SAMBA Samba administraasje
Name[ga]=GADMIN-SAMBA Riarachán Samba
Name[gd]=GADMIN-SAMBA rianachd Samba
Name[gl]=GADMIN-SAMBA Administración Samba
Name[gn]=GADMIN-SAMBA Samba ñesãmbyhy
Name[gu]=ગેડમિન-સામ્બા સામ્બા વહીવટ
Name[ha]=GADMIN-SAMBA Samba
Name[he]=GADMIN-SAMBA הבמס לוהינ
Name[hi]=गैडमिन-सांबा सांबा प्रशासन
Name[hr]=GADMIN-SAMBA Samba administracija
Name[ht]=Administrasyon Samba GADMIN-SAMBA
Name[hu]=GADMIN-SAMBA Samba adminisztráció
Name[hy]=ԳԱԴՄԻՆ-ՍԱՄԲԱ Սամբայի վարչակազմ
Name[id]=Administrasi GADMIN-SAMBA Samba
Name[ig]=GADMIN-SAMBA Samba nchịkwa
Name[is]=GADMIN-SAMBA Samba stjórnun
Name[it]=GADMIN-SAMBA Amministrazione di Samba
Name[iu]=GADMIN-SAMBA Samba−ᒥ ᐊᐅᓚᑦᑎᓂᖅ
Name[ja]=GADMIN-SAMBA Samba の管理
Name[jv]=GADMIN-SAMBA Samba administration
Name[ka]=GADMIN-SAMBA სამბას ადმინისტრაცია
Name[kk]=GADMIN-SAMBA Самба әкімшілігі
Name[km]=ការគ្រប់គ្រង GADMIN-SAMBA Samba
Name[kn]=GADMIN-SAMBA ಸಾಂಬಾ ಆಡಳಿತ
Name[ko]=GADMIN-SAMBA 삼바 관리
Name[ku]=GADMIN-SAMBA rêveberiya Samba
Name[ky]=GADMIN-SAMBA Самба администрациясы
Name[la]=GADMIN-SAMBA Samba administratio
Name[lb]=GADMIN-SAMBA Samba Administratioun
Name[lg]=GADMIN-SAMBA Enfuga ya Samba
Name[ln]=GADMIN-SAMBA Administration ya Samba
Name[lo]=ບໍລິຫານ GADMIN-SAMBA Samba
Name[lt]=GADMIN-SAMBA Samba administracija
Name[lv]=GADMIN-SAMBA Sambas administrācija
Name[mg]=GADMIN-SAMBA Samba administration
Name[mi]=GADMIN-SAMBA Samba whakahaere
Name[mk]=GADMIN-SAMBA Samba администрација
Name[ml]=ഗാഡ്മിൻ-സാംബ സാംബ ഭരണം
Name[mn]=ГАДМИН-САМБА Самба захиргаа
Name[mr]=GADMIN-SAMBA सांबा प्रशासन
Name[ms]=GADMIN-SAMBA Pentadbiran Samba
Name[mt]=GADMIN-SAMBA Samba amministrazzjoni
Name[my]=GADMIN-SAMBA Samba အုပ်ချုပ်ရေး
Name[ne]=गाडमिन-साम्बा साम्बा प्रशासन
Name[nl]=GADMIN-SAMBA Samba administratie
Name[no]=GADMIN-SAMBA Samba-administrasjon
Name[ny]=GADMIN-SAMBA Samba administration
Name[om]=GADMIN-SAMBA Bulchiinsa Saambaa
Name[or]=GADMIN-SAMBA Samba ପ୍ରଶାସନ |
Name[pa]=ਗਾਡਮਿਨ-ਸਾਂਬਾ ਸਾਂਬਾ ਪ੍ਰਸ਼ਾਸਨ
Name[pl]=GADMIN-SAMBA Administrowanie Sambą
Name[ps]=ﻩﺭﺍﺩﺍ ﺎﺒﻣﺎﺳ ﺎﺒﻣﺎﺳ-ﻦﯿﻣډﺎګ
Name[pt]=Administração do GADMIN-SAMBA Samba
Name[qu]=GADMIN-SAMBA Samba kamachiy
Name[ro]=Administratie GADMIN-SAMBA Samba
Name[ru]=ГАДМИН-САМБА Администрация самбы
Name[rw]=Ubuyobozi bwa GADMIN-SAMBA Samba
Name[sa]=गदमिन-साम्बा साम्बा प्रशासन
Name[sd]=ﻪﻴﻣﺎﻈﺘﻧﺍ ﺎﺒﻣﺎﺳ ﺎﺒﻣﺎﺳ-ﻦﻴﻣڊﮔ
Name[si]=GADMIN-SAMBA සම්බා පරිපාලනය
Name[sk]=GADMIN-SAMBA podávanie Samby
Name[sl]=GADMIN-SAMBA Samba administracija
Name[sm]=GADMIN-SAMBA Samba pulega
Name[sn]=GADMIN-SAMBA Samba administration
Name[so]=GADMIN-SAMBA maamulka Samba
Name[sq]=Administrata GADMIN-SAMBA Samba
Name[st]=GADMIN-SAMBA Samba tsamaiso
Name[su]=GADMIN-SAMBA Samba administrasi
Name[sv]=GADMIN-SAMBA Samba administration
Name[sw]=GADMIN-SAMBA utawala wa Samba
Name[ta]=GADMIN-SAMBA சம்பா நிர்வாகம்
Name[te]=GADMIN-SAMBA Samba పరిపాలన
Name[tg]=Маъмурияти Самба ГАДМИН-САМБА
Name[th]=GADMIN-SAMBA การบริหารแซมบ้า
Name[ti]=ጋድሚን-ሳምባ ምምሕዳር ሳምባ
Name[tk]=GADMIN-SAMBA Samba administrasiýasy
Name[tl]=GADMIN-SAMBA Samba administration
Name[to]=GADMIN-SAMBA Samba
Name[tr]=GADMIN-SAMBA Samba yönetimi
Name[ts]=GADMIN-SAMBA Vufambisi bya Samba
Name[tt]=ГАДМИН-САМБА Самба администрациясе
Name[tw]=GADMIN-SAMBA Samba adwumayɛkuw
Name[ty]=GADMIN-SAMBA Samba
Name[ug]=GADMIN-SAMBA Samba ﺵﯗﺭﯘﻘﺷﺎﺑ
Name[uk]=GADMIN-SAMBA Адміністрування Samba
Name[ur]=GADMIN-SAMBA ﮧﯿﻣﺎﻈﺘﻧﺍ ﺎﺒﻣﺎﺳ
Name[uz]=GADMIN-SAMBA Samba ma'muriyati
Name[vi]=GADMIN-SAMBA Quản trị Samba
Name[xh]=GADMIN-SAMBA ulawulo lweSamba
Name[yi]=GADMIN-SAMBA עיצאַרטסינימדאַ אַבמאַס
Name[yo]=GADMIN-SAMBA Samba isakoso
Name[zh]=GADMIN-SAMBA Samba 管理
Name[zu]=GADMIN-SAMBA Samba administration
Name=GADMIN-SAMBA Samba administration
GenericName=GADMIN-SAMBA
Comment[af]=GADMIN-SAMBA Samba administrasie
Comment[am]=GADMIN-SAMBA የሳምባ አስተዳደር
Comment[ar]=GADMIN-Samba Samba ﺓﺭﺍﺩﺇ
Comment[as]=GADMIN-SAMBA সাম্বা প্ৰশাসন
Comment[ay]=GADMIN-SAMBA Samba ukax administración ukankiwa
Comment[az]=GADMIN-SAMBA Samba administrasiyası
Comment[ba]=Самба ГАДМИН-САМБА хакимиәте
Comment[be]=GADMIN-SAMBA Кіраванне Samba
Comment[bg]=GADMIN-SAMBA Администрация на Samba
Comment[bm]=GADMIN-SAMBA Samba mara la
Comment[bn]=গ্যাডমিন-সাম্বা সাম্বা প্রশাসন
Comment[bo]=GADMIN-SAMBA Samba སྲིད་འཛིན་དོ་དམ།
Comment[bs]=GADMIN-SAMBA Samba administracija
Comment[ca]=GADMIN-SAMBA Administració de Samba
Comment[co]=GADMIN-SAMBA Amministrazione di Samba
Comment[cs]=GADMIN-SAMBA Správa Samby
Comment[cy]=GADMIN-SAMBA gweinyddiaeth Samba
Comment[da]=GADMIN-SAMBA Samba administration
Comment[de]=GADMIN-SAMBA Samba-Administration
Comment[dv]=އިގަމުކަރިވެ ގެބާމްސަ ބާމްސަ-ންމިޑްގަ
Comment[ee]=GADMIN-SAMBA Samba ƒe dziɖuɖu
Comment[el]=GADMIN-SAMBA διοίκηση Samba
Comment[en]=GADMIN-SAMBA Samba administration
Comment[eo]=GADMIN-SAMBA Samba administracio
Comment[es]=GADMIN-SAMBA Administración Samba
Comment[et]=GADMIN-SAMBA Samba haldus
Comment[eu]=GADMIN-SAMBA Samba administrazioa
Comment[fa]=GADMIN-SAMBA ﺎﺒﻣﺎﺳ ﺖﯾﺮﯾﺪﻣ
Comment[fi]=GADMIN-SAMBA Samban hallinto
Comment[fj]=GADMIN-SAMBA veiliutaki Samba
Comment[fo]=GADMIN-SAMBA Samba administration
Comment[fr]=GADMIN-SAMBA Administration de la samba
Comment[fy]=GADMIN-SAMBA Samba administraasje
Comment[ga]=GADMIN-SAMBA Riarachán Samba
Comment[gd]=GADMIN-SAMBA rianachd Samba
Comment[gl]=GADMIN-SAMBA Administración Samba
Comment[gn]=GADMIN-SAMBA Samba ñesãmbyhy
Comment[gu]=ગેડમિન-સામ્બા સામ્બા વહીવટ
Comment[ha]=GADMIN-SAMBA Samba
Comment[he]=GADMIN-SAMBA הבמס לוהינ
Comment[hi]=गैडमिन-सांबा सांबा प्रशासन
Comment[hr]=GADMIN-SAMBA Samba administracija
Comment[ht]=Administrasyon Samba GADMIN-SAMBA
Comment[hu]=GADMIN-SAMBA Samba adminisztráció
Comment[hy]=ԳԱԴՄԻՆ-ՍԱՄԲԱ Սամբայի վարչակազմ
Comment[id]=Administrasi GADMIN-SAMBA Samba
Comment[ig]=GADMIN-SAMBA Samba nchịkwa
Comment[is]=GADMIN-SAMBA Samba stjórnun
Comment[it]=GADMIN-SAMBA Amministrazione di Samba
Comment[iu]=GADMIN-SAMBA Samba−ᒥ ᐊᐅᓚᑦᑎᓂᖅ
Comment[ja]=GADMIN-SAMBA Samba の管理
Comment[jv]=GADMIN-SAMBA Samba administration
Comment[ka]=GADMIN-SAMBA სამბას ადმინისტრაცია
Comment[kk]=GADMIN-SAMBA Самба әкімшілігі
Comment[km]=ការគ្រប់គ្រង GADMIN-SAMBA Samba
Comment[kn]=GADMIN-SAMBA ಸಾಂಬಾ ಆಡಳಿತ
Comment[ko]=GADMIN-SAMBA 삼바 관리
Comment[ku]=GADMIN-SAMBA rêveberiya Samba
Comment[ky]=GADMIN-SAMBA Самба администрациясы
Comment[la]=GADMIN-SAMBA Samba administratio
Comment[lb]=GADMIN-SAMBA Samba Administratioun
Comment[lg]=GADMIN-SAMBA Enfuga ya Samba
Comment[ln]=GADMIN-SAMBA Administration ya Samba
Comment[lo]=ບໍລິຫານ GADMIN-SAMBA Samba
Comment[lt]=GADMIN-SAMBA Samba administracija
Comment[lv]=GADMIN-SAMBA Sambas administrācija
Comment[mg]=GADMIN-SAMBA Samba administration
Comment[mi]=GADMIN-SAMBA Samba whakahaere
Comment[mk]=GADMIN-SAMBA Samba администрација
Comment[ml]=ഗാഡ്മിൻ-സാംബ സാംബ ഭരണം
Comment[mn]=ГАДМИН-САМБА Самба захиргаа
Comment[mr]=GADMIN-SAMBA सांबा प्रशासन
Comment[ms]=GADMIN-SAMBA Pentadbiran Samba
Comment[mt]=GADMIN-SAMBA Samba amministrazzjoni
Comment[my]=GADMIN-SAMBA Samba အုပ်ချုပ်ရေး
Comment[ne]=गाडमिन-साम्बा साम्बा प्रशासन
Comment[nl]=GADMIN-SAMBA Samba administratie
Comment[no]=GADMIN-SAMBA Samba-administrasjon
Comment[ny]=GADMIN-SAMBA Samba administration
Comment[om]=GADMIN-SAMBA Bulchiinsa Saambaa
Comment[or]=GADMIN-SAMBA Samba ପ୍ରଶାସନ |
Comment[pa]=ਗਾਡਮਿਨ-ਸਾਂਬਾ ਸਾਂਬਾ ਪ੍ਰਸ਼ਾਸਨ
Comment[pl]=GADMIN-SAMBA Administrowanie Sambą
Comment[ps]=ﻩﺭﺍﺩﺍ ﺎﺒﻣﺎﺳ ﺎﺒﻣﺎﺳ-ﻦﯿﻣډﺎګ
Comment[pt]=Administração do GADMIN-SAMBA Samba
Comment[qu]=GADMIN-SAMBA Samba kamachiy
Comment[ro]=Administratie GADMIN-SAMBA Samba
Comment[ru]=ГАДМИН-САМБА Администрация самбы
Comment[rw]=Ubuyobozi bwa GADMIN-SAMBA Samba
Comment[sa]=गदमिन-साम्बा साम्बा प्रशासन
Comment[sd]=ﻪﻴﻣﺎﻈﺘﻧﺍ ﺎﺒﻣﺎﺳ ﺎﺒﻣﺎﺳ-ﻦﻴﻣڊﮔ
Comment[si]=GADMIN-SAMBA සම්බා පරිපාලනය
Comment[sk]=GADMIN-SAMBA podávanie Samby
Comment[sl]=GADMIN-SAMBA Samba administracija
Comment[sm]=GADMIN-SAMBA Samba pulega
Comment[sn]=GADMIN-SAMBA Samba administration
Comment[so]=GADMIN-SAMBA maamulka Samba
Comment[sq]=Administrata GADMIN-SAMBA Samba
Comment[st]=GADMIN-SAMBA Samba tsamaiso
Comment[su]=GADMIN-SAMBA Samba administrasi
Comment[sv]=GADMIN-SAMBA Samba administration
Comment[sw]=GADMIN-SAMBA utawala wa Samba
Comment[ta]=GADMIN-SAMBA சம்பா நிர்வாகம்
Comment[te]=GADMIN-SAMBA Samba పరిపాలన
Comment[tg]=Маъмурияти Самба ГАДМИН-САМБА
Comment[th]=GADMIN-SAMBA การบริหารแซมบ้า
Comment[ti]=ጋድሚን-ሳምባ ምምሕዳር ሳምባ
Comment[tk]=GADMIN-SAMBA Samba administrasiýasy
Comment[tl]=GADMIN-SAMBA Samba administration
Comment[to]=GADMIN-SAMBA Samba
Comment[tr]=GADMIN-SAMBA Samba yönetimi
Comment[ts]=GADMIN-SAMBA Vufambisi bya Samba
Comment[tt]=ГАДМИН-САМБА Самба администрациясе
Comment[tw]=GADMIN-SAMBA Samba adwumayɛkuw
Comment[ty]=GADMIN-SAMBA Samba
Comment[ug]=GADMIN-SAMBA Samba ﺵﯗﺭﯘﻘﺷﺎﺑ
Comment[uk]=GADMIN-SAMBA Адміністрування Samba
Comment[ur]=GADMIN-SAMBA ﮧﯿﻣﺎﻈﺘﻧﺍ ﺎﺒﻣﺎﺳ
Comment[uz]=GADMIN-SAMBA Samba ma'muriyati
Comment[vi]=GADMIN-SAMBA Quản trị Samba
Comment[xh]=GADMIN-SAMBA ulawulo lweSamba
Comment[yi]=GADMIN-SAMBA עיצאַרטסינימדאַ אַבמאַס
Comment[yo]=GADMIN-SAMBA Samba isakoso
Comment[zh]=GADMIN-SAMBA Samba 管理
Comment[zu]=GADMIN-SAMBA Samba administration
Comment=GADMIN-SAMBA Samba administration
Exec=gadmin-samba
Icon=gadmin-samba.xpm
Terminal=false
Type=Application
Categories=X-Network-connect
