[Desktop Entry]
Encoding=UTF-8
Name=PupWhoIs domain lookup
Icon=mini-world-question.xpm
Comment=PupWhoIs domain lookup
Exec=pupwhois
Terminal=false
Type=Application
Categories=X-Network-utility
GenericName=PupWhoIs
