[Desktop Entry]
Encoding=UTF-8
Name[af]=MTR netwerk spoor roete
Name[am]=MTR አውታረ መረብ መከታተያ መንገድ
Name[ar]=MTR ﺔﻜﺒﺷ ﻊﺒﺘﺗ ﺭﺎﺴﻣ
Name[as]=এমটিআৰ নেটৱৰ্ক ট্ৰেচ ৰুট
Name[ay]=MTR red ukan rastreo thakhipa
Name[az]=MTR şəbəkə izləmə marşrutu
Name[ba]=MTR селтәренең эҙ маршруты
Name[be]=Маршрут трасіроўкі сеткі MTR
Name[bg]=Маршрут за проследяване на MTR мрежа
Name[bm]=MTR réseau trace sira
Name[bn]=MTR নেটওয়ার্ক ট্রেস রুট
Name[bo]=MTRདྲ་རྒྱའི་རྗེས་ཤུལ་ལམ་ཐིག
Name[bs]=Trasiranje rute MTR mreže
Name[ca]=Ruta de traça de la xarxa MTR
Name[co]=Trace di a rete MTR
Name[cs]=Trasovací trasa sítě MTR
Name[cy]=Llwybr olrhain rhwydwaith MTR
Name[da]=MTR-netværkssporingsrute
Name[de]=MTR-Netzwerkverfolgungsroute
Name[dv]=ޓްރޫ ސްރޭޓް ކްވޯޓްނެ ރުއާޓީމްއެ
Name[ee]=MTR network trace mɔ dzi
Name[el]=Διαδρομή ίχνους δικτύου MTR
Name[eo]=MTR reto spuritinero
Name[es]=Ruta de rastreo de red MTR
Name[et]=MTR võrgu jälgimise marsruut
Name[eu]=MTR sarearen arrastoaren ibilbidea
Name[fa]=MTR ﻪﮑﺒﺷ ﯽﺑﺎﯾﺩﺭ ﺮﯿﺴﻣ
Name[fi]=MTR-verkon jäljitysreitti
Name[fj]=Sala ni ivakatakilakila ni ilawalawa vakacakacaka ni MTR
Name[fo]=MTR network trace route
Name[fr]=Route de trace du réseau MTR
Name[fy]=MTR netwurk trace rûte
Name[ga]=Bealach rian líonra MTR
Name[gd]=Slighe lìonra MTR
Name[gl]=Percorrido de rastrexo da rede MTR
Name[gn]=MTR red rastreo rape rehegua
Name[gu]=MTR નેટવર્ક ટ્રેસ રૂટ
Name[ha]=Hanyar hanyar sadarwa ta MTR
Name[he]=MTR תשר בקעמ ביתנ
Name[hi]=एमटीआर नेटवर्क ट्रेस रूट
Name[hr]=MTR mrežni trag rute
Name[ht]=MTR rezo tras wout
Name[hu]=MTR hálózat nyomkövetési útvonala
Name[hy]=MTR ցանցի հետքի երթուղի
Name[id]=Rute jejak jaringan MTR
Name[ig]=Ụzọ traktị netwọk MTR
Name[is]=MTR net rekja leið
Name[it]=Percorso di traccia della rete MTR
Name[iu]=MTR ᐱᓕᕆᔨᓄᑦ ᑐᓴᐅᒪᖃᑦᑕᐅᑎᖃᑎᒌᒍᑎᓂᒃ ᐊᖅᑯᑎ
Name[ja]=MTR ネットワーク トレース ルート
Name[jv]=Rute jaringan MTR
Name[ka]=MTR ქსელის კვალი მარშრუტი
Name[kk]=MTR желісін бақылау маршруты
Name[km]=ផ្លូវតាមដានបណ្តាញ MTR
Name[kn]=MTR ನೆಟ್ವರ್ಕ್ ಟ್ರೇಸ್ ಮಾರ್ಗ
Name[ko]=MTR 네트워크 추적 경로
Name[ku]=Rêya şopandina torê ya MTR
Name[ky]=MTR тармагын көзөмөлдөө маршруту
Name[la]=MTR network vestigium route
Name[lb]=MTR Reseau Streck Streck
Name[lg]=Ekkubo ly’okulondoola omukutu gwa MTR
Name[ln]=Nzela ya kolanda réseau ya MTR
Name[lo]=ເສັ້ນທາງການຕິດຕາມເຄືອຂ່າຍ MTR
Name[lt]=MTR tinklo sekimo maršrutas
Name[lv]=MTR tīkla izsekošanas maršruts
Name[mg]=MTR Network trace route
Name[mi]=ara whatunga MTR
Name[mk]=Траса на мрежата на MTR
Name[ml]=MTR നെറ്റ്u200cവർക്ക് ട്രെയ്സ് റൂട്ട്
Name[mn]=MTR сүлжээний зам мөр
Name[mr]=MTR नेटवर्क ट्रेस मार्ग
Name[ms]=Laluan jejak rangkaian MTR
Name[mt]=Rotta tat-traċċa tan-netwerk MTR
Name[my]=MTR ကွန်ရက် ခြေရာခံလမ်းကြောင်း
Name[ne]=MTR नेटवर्क ट्रेस मार्ग
Name[nl]=Traceerroute van het MTR-netwerk
Name[no]=MTR-nettverkssporingsrute
Name[ny]=MTR network trace njira
Name[om]=Karaa hordoffii networkii MTR
Name[or]=MTR ନେଟୱର୍କ ଟ୍ରେସ ମାର୍ଗ
Name[pa]=MTR ਨੈੱਟਵਰਕ ਟਰੇਸ ਰੂਟ
Name[pl]=Trasa śledzenia sieci MTR
Name[ps]=ﻩﺭﻻ﻿ ﺲﯾﺮټ ﯥﮑﺒﺷ MTR ﺩ
Name[pt]=Rota de rastreamento de rede MTR
Name[qu]=MTR llika qatiy ñan
Name[ro]=Traseul de urmărire a rețelei MTR
Name[ru]=Маршрут трассировки сети MTR
Name[rw]=Inzira ya MTR inzira
Name[sa]=एमटीआर नेटवर्क ट्रेस मार्ग
Name[sd]=MTR ﻮﺘﺳﺭ ﻮﺟ ڪﺭﻭ ٽﻴﻧ
Name[si]=MTR ජාල ලුහුබැඳීමේ මාර්ගය
Name[sk]=Trasa sledovania siete MTR
Name[sl]=Pot omrežja MTR sledi
Name[sm]=MTR feso'ota'iga ala su'ega
Name[sn]=MTR network trace nzira
Name[so]=Waddada raadraaca shabakadda MTR
Name[sq]=Rruga e gjurmimit të rrjetit MTR
Name[st]=Mokhoa oa ho latela marang-rang oa MTR
Name[su]=jalur renik jaringan MTR
Name[sv]=MTR-nätverksspårväg
Name[sw]=Njia ya kufuatilia mtandao wa MTR
Name[ta]=MTR நெட்வொர்க் டிரேஸ் ரூட்
Name[te]=MTR నెట్u200cవర్క్ ట్రేస్ రూట్
Name[tg]=Масири пайгирии шабакаи MTR
Name[th]=เส้นทางการติดตามเครือข่าย MTR
Name[ti]=MTR መርበብ ምክትታል መንገዲ
Name[tk]=MTR tor yz ýoly
Name[tl]=ruta ng pagsubaybay sa network ng MTR
Name[to]=MTR e halanga ʻo e netiueka
Name[tr]=MTR ağ izleme rotası
Name[ts]=Ndlela yo landzelerisa ya netiweke ya MTR
Name[tt]=MTR челтәр эзе
Name[tw]=MTR ntwamutam hwehwɛ kwan
Name[ty]=Tuhaa no te haapurororaa MTR
Name[ug]=MTR ﻰﻟﻮﻳ ﺰﯩﺋ ﺭﻮﺗ
Name[uk]=Трасування маршруту мережі MTR
Name[ur]=MTR ﭦﻭﺭ ﺲﯾﺮﭨ ﮎﺭﻭ ﭧﯿﻧ
Name[uz]=MTR tarmog'ini kuzatish marshruti
Name[vi]=Tuyến theo dõi mạng MTR
Name[xh]=Umzila womkhondo womnatha we-MTR
Name[yi]=MTR טורשראַמ רופּש ץענ
Name[yo]=MTR nẹtiwọki ipa ọna
Name[zh]=港铁网络追踪路线
Name[zu]=Umzila wokulandelela inethiwekhi ye-MTR
Name=MTR network trace route
Icon=/usr/share/pixmaps/peasyport.png
Comment[af]=Netwerkspoorroete
Comment[am]=የአውታረ መረብ መከታተያ መንገድ
Comment[ar]=ﺔﻜﺒﺸﻟﺍ ﻊﺒﺘﺗ ﺭﺎﺴﻣ
Comment[as]=নেটৱৰ্ক ট্ৰেচ পথ
Comment[ay]=Red ukan rastreo thakhipa
Comment[az]=Şəbəkə izləmə marşrutu
Comment[ba]=Селтәр эҙҙәре маршруты
Comment[be]=Маршрут трасіроўкі сеткі
Comment[bg]=Маршрут за проследяване на мрежата
Comment[bm]=Réseau trace sira
Comment[bn]=নেটওয়ার্ক ট্রেস রুট
Comment[bo]=དྲ་རྒྱའི་རྗེས་ཤུལ་ལམ་ཐིག
Comment[bs]=Ruta praćenja mreže
Comment[ca]=Traça de la ruta de la xarxa
Comment[co]=Percorsu di traccia di a rete
Comment[cs]=Trasování sítě
Comment[cy]=Llwybr olrhain rhwydwaith
Comment[da]=Netværkssporingsrute
Comment[de]=Netzwerk-Trace-Route
Comment[dv]=ޓްރޫ ސްރޭޓް ކްވޯޓްނެ
Comment[ee]=Network trace mɔ dzi
Comment[el]=Διαδρομή ανίχνευσης δικτύου
Comment[eo]=Reta spuritinero
Comment[es]=Ruta de rastreo de red
Comment[et]=Võrgu jälgimise marsruut
Comment[eu]=Sarearen arrastoaren ibilbidea
Comment[fa]=ﻪﮑﺒﺷ ﯽﺑﺎﯾﺩﺭ ﺮﯿﺴﻣ
Comment[fi]=Verkon jäljitysreitti
Comment[fj]=Sala ni ituvatuva ni ilawalawa vakacakacaka
Comment[fo]=Network trace route
Comment[fr]=Itinéraire de suivi du réseau
Comment[fy]=Netwurk trace rûte
Comment[ga]=Bealach rian líonra
Comment[gd]=Slighe lìonraidh
Comment[gl]=Percorrido de rastrexo da rede
Comment[gn]=Ruta rastreo red rehegua
Comment[gu]=નેટવર્ક ટ્રેસ રૂટ
Comment[ha]=Hanyar hanyar sadarwa
Comment[he]=תשר בקעמ ביתנ
Comment[hi]=नेटवर्क ट्रेस मार्ग
Comment[hr]=Ruta praćenja mreže
Comment[ht]=Rezo tras wout
Comment[hu]=Hálózati nyomkövetési útvonal
Comment[hy]=Ցանցի հետքի երթուղի
Comment[id]=Rute jejak jaringan
Comment[ig]=Ụzọ nchọta netwọkụ
Comment[is]=Rekja leið netkerfis
Comment[it]=Percorso di traccia della rete
Comment[iu]=ᐱᓕᕆᔨᓄᑦ ᑐᓴᐅᒪᖃᑦᑕᐅᑎᖃᑎᒌᒍᑎᓂᒃ ᐊᖅᑯᑎ
Comment[ja]=ネットワークトレースルート
Comment[jv]=Rute jejak jaringan
Comment[ka]=ქსელის კვალის მარშრუტი
Comment[kk]=Желіні бақылау маршруты
Comment[km]=បណ្តាញតាមដានផ្លូវ
Comment[kn]=ನೆಟ್u200cವರ್ಕ್ ಟ್ರೇಸ್ ಮಾರ್ಗ
Comment[ko]=네트워크 추적 경로
Comment[ku]=Rêya şopa torê
Comment[ky]=Тармакты көзөмөлдөө жолу
Comment[la]=Retiacula vestigium route
Comment[lb]=Reseau Streck Streck
Comment[lg]=Ekkubo ly’okulondoola omukutu
Comment[ln]=Nzela ya trace ya réseau
Comment[lo]=ເສັ້ນທາງການຕິດຕາມເຄືອຂ່າຍ
Comment[lt]=Tinklo sekimo maršrutas
Comment[lv]=Tīkla izsekošanas maršruts
Comment[mg]=Lalana fanaraha-maso tambajotra
Comment[mi]=Ko te huarahi rapu whatunga
Comment[mk]=Рута за следење на мрежата
Comment[ml]=നെറ്റ്u200cവർക്ക് ട്രെയ്സ് റൂട്ട്
Comment[mn]=Сүлжээний зам мөр
Comment[mr]=नेटवर्क ट्रेस मार्ग
Comment[ms]=Laluan jejak rangkaian
Comment[mt]=Netwerk traċċa rotta
Comment[my]=ကွန်ရက်ခြေရာခံလမ်းကြောင်း
Comment[ne]=नेटवर्क ट्रेस मार्ग
Comment[nl]=Netwerk traceerroute
Comment[no]=Nettverkssporingsrute
Comment[ny]=Njira yolumikizira intaneti
Comment[om]=Karaa hordoffii networkii
Comment[or]=ନେଟୱର୍କ ଟ୍ରେସ ମାର୍ଗ
Comment[pa]=ਨੈੱਟਵਰਕ ਟਰੇਸ ਰੂਟ
Comment[pl]=Trasa śledzenia sieci
Comment[ps]=ﻩﺭﻻ﻿ ﺐﯿﻘﻌﺗ ﯥﮑﺒﺷ ﺩ
Comment[pt]=Rota de rastreamento de rede
Comment[qu]=Llika qatiy ñan
Comment[ro]=Traseul de urmărire a rețelei
Comment[ru]=Маршрут сетевой трассировки
Comment[rw]=Inzira y'urusobe
Comment[sa]=नेटवर्क ट्रेस मार्ग
Comment[sd]=ﻮﺘﺳﺭ ﻮﺟ ڪﺭﻭ ٽﻴﻧ
Comment[si]=ජාල ලුහුබැඳීමේ මාර්ගය
Comment[sk]=Trasa sledovania siete
Comment[sl]=Pot omrežja za sledenje
Comment[sm]=Auala e su'e ai feso'otaiga
Comment[sn]=Network trace nzira
Comment[so]=Dariiqa raadraaca shabakada
Comment[sq]=Rruga e gjurmimit të rrjetit
Comment[st]=Mokhoa oa ho latela marang-rang
Comment[su]=Jalur ngalacak jaringan
Comment[sv]=Nätverksspårväg
Comment[sw]=Njia ya kufuatilia mtandao
Comment[ta]=நெட்வொர்க் டிரேஸ் பாதை
Comment[te]=నెట్u200cవర్క్ ట్రేస్ రూట్
Comment[tg]=Масири пайгирии шабака
Comment[th]=เส้นทางการติดตามเครือข่าย
Comment[ti]=መስመር ምክትታል መርበብ
Comment[tk]=Tor yz ýoly
Comment[tl]=Ruta ng pagsubaybay sa network
Comment[to]=Hala ʻo e netiueka
Comment[tr]=Ağ izleme yolu
Comment[ts]=Ndlela yo landzelerisa ya netiweke
Comment[tt]=Челтәр эзе
Comment[tw]=Network trace kwan no so
Comment[ty]=Te e'a o te pu'ereni
Comment[ug]=ﻰﻟﻮﻳ ﺰﯩﺋ ﺭﻮﺗ
Comment[uk]=Трасування мережі
Comment[ur]=ﭦﻭﺭ ﺲﯾﺮﭨ ﮎﺭﻭ ﭧﯿﻧ
Comment[uz]=Tarmoqni kuzatish marshruti
Comment[vi]=Tuyến theo dõi mạng
Comment[xh]=Umzila womkhondo womnatha
Comment[yi]=טורשראַמ רופּש ץענ
Comment[yo]=Nẹtiwọọki itopase ipa-
Comment[zh]=网络追踪路由
Comment[zu]=Umzila wokulandelela inethiwekhi
Comment=Network trace route
Exec=mtr
Terminal=false
Type=Application
Categories=X-Network-utility
GenericName=MTR
