[Desktop Entry]
Encoding=UTF-8
Name=Cgtkcalc complex numbers
Icon=mini-calc.xpm
Comment=Cgtkcalc complex numbers
Exec=cgtkcalc
Terminal=false
Type=Application
Categories=Calculator
GenericName=Cgtkcalc
