[Desktop Entry]
Encoding=UTF-8
Name[af]=Klipper-knipbordbestuurder
Name[am]=ግሊፐር ቅንጥብ ሰሌዳ አስተዳዳሪ
Name[ar]=Parcellite ﺔﻈﻓﺎﺤﻟﺍ ﺮﻳﺪﻣ
Name[as]=গ্লিপাৰ ক্লিপবোৰ্ড ব্যৱস্থাপক
Name[ay]=Parcellite portapapeles ukan apnaqiri
Name[az]=Parcellite bufer meneceri
Name[ba]=Глиппер клипборд менеджеры
Name[be]=Дыспетчар буфера абмену Parcellite
Name[bg]=Мениджър на клипборда Parcellite
Name[bm]=Parcellite clipboard ɲɛmɔgɔ
Name[bn]=গ্লিপার ক্লিপবোর্ড ম্যানেজার
Name[bo]=འདྲུད་འཐེན་པང་ལེབ་ཀྱི་སྤྱི་གཉེར་བ།
Name[bs]=Parcellite menadžer međuspremnika
Name[ca]=Gestor de porta-retalls Parcellite
Name[co]=Gestore di clipboard Parcellite
Name[cs]=Správce schránky Parcellite
Name[cy]=Rheolwr clipfwrdd glipper
Name[da]=Parcellite clipboard manager
Name[de]=Parcellite-Zwischenablage-Manager
Name[dv]=ރޖަނޭމެ ޑްބޯޕްލިކް ރޕަލިގް
Name[ee]=Parcellite clipboard dzikpɔla
Name[el]=Διαχείριση προχείρου Parcellite
Name[en]=Parcellite clipboard manager
Name[eo]=Parcellite-tondujo-administranto
Name[es]=Administrador de portapapeles Parcellite
Name[et]=Parcellite lõikelaua haldur
Name[eu]=Parcellite arbel kudeatzailea
Name[fa]=ﺮﭙﯿﻠﮔ ﺩﺭﻮﺑ ﭗﯿﻠﮐ ﺮﯾﺪﻣ
Name[fi]=Parcellite leikepöydän hallinta
Name[fj]=Manidia ni clipboard ni Parcellite
Name[fo]=Parcellite clipboard manager
Name[fr]=Gestionnaire de presse-papiers Parcellite
Name[fy]=Parcellite klamboerdbehearder
Name[ga]=Bainisteoir gearrthaisce glipper
Name[gd]=Manaidsear clipboard glipper
Name[gl]=Xestor de portapapeis Parcellite
Name[gn]=Parcellite portapapeles mohendaha
Name[gu]=ગ્લિપર ક્લિપબોર્ડ મેનેજર
Name[ha]=Manajan allo na Parcellite
Name[he]=רפילג לש חולה להנמ
Name[hi]=ग्लिपर क्लिपबोर्ड प्रबंधक
Name[hr]=Parcellite upravitelj međuspremnika
Name[ht]=Manadjè clipboard Parcellite
Name[hu]=Parcellite vágólapkezelő
Name[hy]=Parcellite clipboard-ի կառավարիչ
Name[id]=Manajer papan klip Parcellite
Name[ig]=Onye njikwa klipbọọdụ Parcellite
Name[is]=Klipper klippiborðsstjóri
Name[it]=Gestore degli appunti di Parcellite
Name[iu]=Parcellite clipperboard-ᒧᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=Parcellite クリップボード マネージャー
Name[jv]=Parcellite clipboard manager
Name[ka]=Parcellite ბუფერში მენეჯერი
Name[kk]=Parcellite алмасу буферінің менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងក្តារតម្បៀតខ្ទាស់ Parcellite
Name[kn]=ಗ್ಲಿಪ್ಪರ್ ಕ್ಲಿಪ್u200cಬೋರ್ಡ್ ಮ್ಯಾನೇಜರ್
Name[ko]=글리퍼 클립보드 관리자
Name[ku]=Rêvebirê clipboard Parcellite
Name[ky]=Parcellite алмашуу буферинин менеджери
Name[la]=Parcellite clipboard procurator
Name[lb]=Parcellite Clipboard Manager
Name[lg]=Omuddukanya clipboard ya Parcellite
Name[ln]=Mokambi ya tableau de bord ya glipper
Name[lo]=ຜູ້ຈັດການ clipboard Parcellite
Name[lt]=Parcellite iškarpinės tvarkyklė
Name[lv]=Parcellite starpliktuves pārvaldnieks
Name[mg]=Parcellite clipboard manager
Name[mi]=Kaiwhakahaere papatopenga Parcellite
Name[mk]=Управувач со таблата со исечоци Parcellite
Name[ml]=ഗ്ലിപ്പർ ക്ലിപ്പ്ബോർഡ് മാനേജർ
Name[mn]=Parcellite санах ойн менежер
Name[mr]=ग्लिपर क्लिपबोर्ड व्यवस्थापक
Name[ms]=Pengurus papan keratan Parcellite
Name[mt]=Parcellite clipboard manager
Name[my]=Parcellite ကလစ်ဘုတ်မန်နေဂျာ
Name[ne]=ग्लिपर क्लिपबोर्ड प्रबन्धक
Name[nl]=Parcellite klembordmanager
Name[no]=Parcellite utklippstavle manager
Name[ny]=Parcellite clipboard manager
Name[om]=Hogganaa gabatee kiliippii glipper
Name[or]=ଗ୍ଲିପର୍ କ୍ଲିପବୋର୍ଡ୍ ମ୍ୟାନେଜର୍ |
Name[pa]=ਗਲੀਪਰ ਕਲਿੱਪਬੋਰਡ ਮੈਨੇਜਰ
Name[pl]=Menedżer schowka Parcellite
Name[ps]=ﺮﯾﺪﻣ ډﺭﻮﺑ ﭗﻠﮐ ﺮﭙﯿﻠګ ﺩ
Name[pt]=Gestor da área de transferência Parcellite
Name[qu]=Parcellite portapapeles nisqa kamachiq
Name[ro]=Manager clipboard Parcellite
Name[ru]=Менеджер буфера обмена Parcellite
Name[rw]=Umuyobozi wa clip clip
Name[sa]=ग्लिपर क्लिपबोर्ड प्रबन्धक
Name[sd]=ﺮﺠﻴﻨﺌﻣ ڊﺭﻮﺑ ﭗﻠڪ ﺮﭙﻠﮔ
Name[si]=Parcellite clipboard manager
Name[sk]=Správca schránky Parcellite
Name[sl]=Upravljalnik odložišča Parcellite
Name[sm]=Pule o le laupapa kilipi Parcellite
Name[sn]=Parcellite clipboard maneja
Name[so]=Maamulaha kilibka ee Parcellite
Name[sq]=Menaxheri i kujtesës së kujtesës Parcellite
Name[st]=Motsamaisi oa li-clipboard tsa Parcellite
Name[su]=Pangatur papan klip Parcellite
Name[sv]=Parcellite urklippshanterare
Name[sw]=Kidhibiti cha ubao wa kunakili wa Parcellite
Name[ta]=கிளிப்பர் கிளிப்போர்டு மேலாளர்
Name[te]=గ్లిప్పర్ క్లిప్u200cబోర్డ్ మేనేజర్
Name[tg]=Менеҷери буфери Parcellite
Name[th]=ผู้จัดการคลิปบอร์ดของกลิปเปอร์
Name[ti]=ግሊፐር ቅንጥብጣብ ሰሌዳ ኣካያዲ
Name[tk]=Parcellite paneli dolandyryjysy
Name[tl]=Tagapamahala ng clipboard ng Parcellite
Name[to]=Pule Parcellite Papafakamaʻu
Name[tr]=glipper pano yöneticisi
Name[ts]=Mufambisi wa clipboard ya glipper
Name[tt]=Глипер тактасы менеджеры
Name[tw]=Parcellite clipboard sohwɛfo
Name[ty]=Taata faatere i te mau hoho'a
Name[ug]=Parcellite ﻯﺭﻮﺘﻜﯨﺮﯦﺩ ﻰﺴﯩﺘﺧﺎﺗ ﺵﻼ﻿ﭘﺎﭼ
Name[uk]=Менеджер буфера обміну Parcellite
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﮈﺭﻮﺑ ﭗﻠﮐ ﺮﭙﻠﮔ
Name[uz]=Parcellite clipboard menejeri
Name[vi]=Trình quản lý khay nhớ tạm Parcellite
Name[xh]=Umphathi webhodi eqhotyoshwayo
Name[yi]=רעטלאַווראַפ דראָבפּילק רעפּילג
Name[yo]=Oluṣakoso agekuru agekuru Parcellite
Name[zh]=Parcellite 剪贴板管理器
Name[zu]=Umphathi webhodi lokunamathisela elicwebezelayo
Name=Parcellite clipboard manager
Icon=mini-clipboard.xpm
Comment[af]=Klipper-knipbordbestuurder
Comment[am]=ግሊፐር ቅንጥብ ሰሌዳ አስተዳዳሪ
Comment[ar]=Parcellite ﺔﻈﻓﺎﺤﻟﺍ ﺮﻳﺪﻣ
Comment[as]=গ্লিপাৰ ক্লিপবোৰ্ড ব্যৱস্থাপক
Comment[ay]=Parcellite portapapeles ukan apnaqiri
Comment[az]=Parcellite bufer meneceri
Comment[ba]=Глиппер клипборд менеджеры
Comment[be]=Дыспетчар буфера абмену Parcellite
Comment[bg]=Мениджър на клипборда Parcellite
Comment[bm]=Parcellite clipboard ɲɛmɔgɔ
Comment[bn]=গ্লিপার ক্লিপবোর্ড ম্যানেজার
Comment[bo]=འདྲུད་འཐེན་པང་ལེབ་ཀྱི་སྤྱི་གཉེར་བ།
Comment[bs]=Parcellite menadžer međuspremnika
Comment[ca]=Gestor de porta-retalls Parcellite
Comment[co]=Gestore di clipboard Parcellite
Comment[cs]=Správce schránky Parcellite
Comment[cy]=Rheolwr clipfwrdd glipper
Comment[da]=Parcellite clipboard manager
Comment[de]=Parcellite-Zwischenablage-Manager
Comment[dv]=ރޖަނޭމެ ޑްބޯޕްލިކް ރޕަލިގް
Comment[ee]=Parcellite clipboard dzikpɔla
Comment[el]=Διαχείριση προχείρου Parcellite
Comment[en]=Parcellite clipboard manager
Comment[eo]=Parcellite-tondujo-administranto
Comment[es]=Administrador de portapapeles Parcellite
Comment[et]=Parcellite lõikelaua haldur
Comment[eu]=Parcellite arbel kudeatzailea
Comment[fa]=ﺮﭙﯿﻠﮔ ﺩﺭﻮﺑ ﭗﯿﻠﮐ ﺮﯾﺪﻣ
Comment[fi]=Parcellite leikepöydän hallinta
Comment[fj]=Manidia ni clipboard ni Parcellite
Comment[fo]=Parcellite clipboard manager
Comment[fr]=Gestionnaire de presse-papiers Parcellite
Comment[fy]=Parcellite klamboerdbehearder
Comment[ga]=Bainisteoir gearrthaisce glipper
Comment[gd]=Manaidsear clipboard glipper
Comment[gl]=Xestor de portapapeis Parcellite
Comment[gn]=Parcellite portapapeles mohendaha
Comment[gu]=ગ્લિપર ક્લિપબોર્ડ મેનેજર
Comment[ha]=Manajan allo na Parcellite
Comment[he]=רפילג לש חולה להנמ
Comment[hi]=ग्लिपर क्लिपबोर्ड प्रबंधक
Comment[hr]=Parcellite upravitelj međuspremnika
Comment[ht]=Manadjè clipboard Parcellite
Comment[hu]=Parcellite vágólapkezelő
Comment[hy]=Parcellite clipboard-ի կառավարիչ
Comment[id]=Manajer papan klip Parcellite
Comment[ig]=Onye njikwa klipbọọdụ Parcellite
Comment[is]=Klipper klippiborðsstjóri
Comment[it]=Gestore degli appunti di Parcellite
Comment[iu]=Parcellite clipperboard-ᒧᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=Parcellite クリップボード マネージャー
Comment[jv]=Parcellite clipboard manager
Comment[ka]=Parcellite ბუფერში მენეჯერი
Comment[kk]=Parcellite алмасу буферінің менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងក្តារតម្បៀតខ្ទាស់ Parcellite
Comment[kn]=ಗ್ಲಿಪ್ಪರ್ ಕ್ಲಿಪ್u200cಬೋರ್ಡ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=글리퍼 클립보드 관리자
Comment[ku]=Rêvebirê clipboard Parcellite
Comment[ky]=Parcellite алмашуу буферинин менеджери
Comment[la]=Parcellite clipboard procurator
Comment[lb]=Parcellite Clipboard Manager
Comment[lg]=Omuddukanya clipboard ya Parcellite
Comment[ln]=Mokambi ya tableau de bord ya glipper
Comment[lo]=ຜູ້ຈັດການ clipboard Parcellite
Comment[lt]=Parcellite iškarpinės tvarkyklė
Comment[lv]=Parcellite starpliktuves pārvaldnieks
Comment[mg]=Parcellite clipboard manager
Comment[mi]=Kaiwhakahaere papatopenga Parcellite
Comment[mk]=Управувач со таблата со исечоци Parcellite
Comment[ml]=ഗ്ലിപ്പർ ക്ലിപ്പ്ബോർഡ് മാനേജർ
Comment[mn]=Parcellite санах ойн менежер
Comment[mr]=ग्लिपर क्लिपबोर्ड व्यवस्थापक
Comment[ms]=Pengurus papan keratan Parcellite
Comment[mt]=Parcellite clipboard manager
Comment[my]=Parcellite ကလစ်ဘုတ်မန်နေဂျာ
Comment[ne]=ग्लिपर क्लिपबोर्ड प्रबन्धक
Comment[nl]=Parcellite klembordmanager
Comment[no]=Parcellite utklippstavle manager
Comment[ny]=Parcellite clipboard manager
Comment[om]=Hogganaa gabatee kiliippii glipper
Comment[or]=ଗ୍ଲିପର୍ କ୍ଲିପବୋର୍ଡ୍ ମ୍ୟାନେଜର୍ |
Comment[pa]=ਗਲੀਪਰ ਕਲਿੱਪਬੋਰਡ ਮੈਨੇਜਰ
Comment[pl]=Menedżer schowka Parcellite
Comment[ps]=ﺮﯾﺪﻣ ډﺭﻮﺑ ﭗﻠﮐ ﺮﭙﯿﻠګ ﺩ
Comment[pt]=Gestor da área de transferência Parcellite
Comment[qu]=Parcellite portapapeles nisqa kamachiq
Comment[ro]=Manager clipboard Parcellite
Comment[ru]=Менеджер буфера обмена Parcellite
Comment[rw]=Umuyobozi wa clip clip
Comment[sa]=ग्लिपर क्लिपबोर्ड प्रबन्धक
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ڊﺭﻮﺑ ﭗﻠڪ ﺮﭙﻠﮔ
Comment[si]=Parcellite clipboard manager
Comment[sk]=Správca schránky Parcellite
Comment[sl]=Upravljalnik odložišča Parcellite
Comment[sm]=Pule o le laupapa kilipi Parcellite
Comment[sn]=Parcellite clipboard maneja
Comment[so]=Maamulaha kilibka ee Parcellite
Comment[sq]=Menaxheri i kujtesës së kujtesës Parcellite
Comment[st]=Motsamaisi oa li-clipboard tsa Parcellite
Comment[su]=Pangatur papan klip Parcellite
Comment[sv]=Parcellite urklippshanterare
Comment[sw]=Kidhibiti cha ubao wa kunakili wa Parcellite
Comment[ta]=கிளிப்பர் கிளிப்போர்டு மேலாளர்
Comment[te]=గ్లిప్పర్ క్లిప్u200cబోర్డ్ మేనేజర్
Comment[tg]=Менеҷери буфери Parcellite
Comment[th]=ผู้จัดการคลิปบอร์ดของกลิปเปอร์
Comment[ti]=ግሊፐር ቅንጥብጣብ ሰሌዳ ኣካያዲ
Comment[tk]=Parcellite paneli dolandyryjysy
Comment[tl]=Tagapamahala ng clipboard ng Parcellite
Comment[to]=Pule Parcellite Papafakamaʻu
Comment[tr]=glipper pano yöneticisi
Comment[ts]=Mufambisi wa clipboard ya glipper
Comment[tt]=Глипер тактасы менеджеры
Comment[tw]=Parcellite clipboard sohwɛfo
Comment[ty]=Taata faatere i te mau hoho'a
Comment[ug]=Parcellite ﻯﺭﻮﺘﻜﯨﺮﯦﺩ ﻰﺴﯩﺘﺧﺎﺗ ﺵﻼ﻿ﭘﺎﭼ
Comment[uk]=Менеджер буфера обміну Parcellite
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﮈﺭﻮﺑ ﭗﻠﮐ ﺮﭙﻠﮔ
Comment[uz]=Parcellite clipboard menejeri
Comment[vi]=Trình quản lý khay nhớ tạm Parcellite
Comment[xh]=Umphathi webhodi eqhotyoshwayo
Comment[yi]=רעטלאַווראַפ דראָבפּילק רעפּילג
Comment[yo]=Oluṣakoso agekuru agekuru Parcellite
Comment[zh]=Parcellite 剪贴板管理器
Comment[zu]=Umphathi webhodi lokunamathisela elicwebezelayo
Comment=Parcellite clipboard manager
Exec=parcellite_shell
Terminal=false
Type=Application
Categories=X-Desktop-applet
GenericName=Parcellite
