[Desktop Entry]
Encoding=UTF-8
Name[af]=ExpenseTracker volg uitgawes
Name[am]=ExpenseTracker ትራክ ወጪዎች
Name[ar]=ExpenseTracker ﺭﺎﺴﻤﻟﺍ ﺕﺎﻘﻔﻧ
Name[as]=ExpenseTracker খৰচ অনুসৰণ কৰে
Name[ay]=ExpenseTracker ukax qullqinak uñakipañapawa
Name[az]=ExpenseTracker xərcləri izləyir
Name[ba]=UcontTracker трек сығымдары
Name[be]=ExpenseTracker адсочвае выдаткі
Name[bg]=ExpenseTracker проследява разходите
Name[bm]=ExpenseTracker ka musakaw lajɛ
Name[bn]=ExpenseTracker খরচ ট্র্যাক
Name[bo]=འགྲོ་གྲོན་གཏོང་མཁན་གྱིས་འགྲོ་གྲོན་ལ་རྗེས་སྙེག་བྱེད་པ
Name[bs]=ExpenseTracker prati troškove
Name[ca]=ExpenseTracker fer un seguiment de les despeses
Name[co]=ExpenseTracker traccia e spese
Name[cs]=ExpenseTracker sleduje výdaje
Name[cy]=Treuliau trac ExpenseTracker
Name[da]=ExpenseTracker sporer udgifter
Name[de]=ExpenseTracker verfolgt Ausgaben
Name[dv]=އްތަދުރަހަ ކްރެޓް ރކަރެޓްސްންޕެސްކްއެ
Name[ee]=ExpenseTracker léa ŋku ɖe gazazãwo ŋu
Name[el]=Το ExpenseTracker παρακολουθεί τα έξοδα
Name[en]=ExpenseTracker track expenses
Name[eo]=ExpenseTracker spuri elspezojn
Name[es]=Gastos de seguimiento de ExpenseTracker
Name[et]=ExpenseTracker jälgib kulusid
Name[eu]=ExpenseTracker-ek gastuen jarraipena
Name[fa]=ExpenseTracker ﺪﻨﮐ ﯽﻣ ﯼﺮﯿﮕﯿﭘ ﺍﺭ ﺎﻫ ﻪﻨﯾﺰﻫ
Name[fi]=ExpenseTracker seuraa kuluja
Name[fj]=ExpenseTracker vakadikeva na vakayagataki ilavo
Name[fo]=ExpenseTracker track útreiðslur
Name[fr]=ExpenseTracker suivre les dépenses
Name[fy]=ExpenseTracker track útjeften
Name[ga]=Costais rian ExpenseTracker
Name[gd]=Bidh ExpenseTracker a’ cumail sùil air cosgaisean
Name[gl]=ExpenseTracker rastrexa os gastos
Name[gn]=ExpenseTracker ojesareko umi gasto rehe
Name[gu]=એક્સપેન્સટ્રેકર ટ્રૅક ખર્ચ
Name[ha]=Kudaden waƙa na ExpenseTracker
Name[he]=ExpenseTracker תואצוה רחא בוקע
Name[hi]=एक्सपेंसट्रैकर खर्चों को ट्रैक करता है
Name[hr]=ExpenseTracker prati troškove
Name[ht]=ExpenseTracker swiv depans yo
Name[hu]=Az ExpenseTracker nyomon követheti a költségeket
Name[hy]=ExpenseTracker-ը հետևում է ծախսերին
Name[id]=ExpenseTracker melacak pengeluaran
Name[ig]=Ọnụ ego egwu ExpenseTracker
Name[is]=ExpenseTracker fylgist með útgjöldum
Name[it]=ExpenseTracker tiene traccia delle spese
Name[iu]=ᐊᑭᓕᒐᒃᓴᑦᐅᓪᓗᕆᐊᓕᑦ
Name[ja]=ExpenseTracker 経費を追跡する
Name[jv]=expenses trek ExpenseTracker
Name[ka]=ExpenseTracker აკონტროლეთ ხარჯები
Name[kk]=ExpenseTracker шығындарды бақылайды
Name[km]=ExpenseTracker តាមដានការចំណាយ
Name[kn]=ExpenseTracker ಟ್ರ್ಯಾಕ್ ವೆಚ್ಚಗಳು
Name[ko]=ExpenseTracker 추적 비용
Name[ku]=ExpenseTracker lêçûnên bişopîne
Name[ky]=ExpenseTracker чыгымдарды көзөмөлдөйт
Name[la]=ExpenseTracker semita expensis
Name[lb]=ExpenseTracker verfollegen Ausgaben
Name[lg]=ExpenseTracker erondoola ensaasaanya
Name[ln]=ExpenseTracker elandaka ba dépenses
Name[lo]=ExpenseTracker ຕິດຕາມຄ່າໃຊ້ຈ່າຍ
Name[lt]=ExpenseTracker seka išlaidas
Name[lv]=ExpenseTracker izseko izdevumus
Name[mg]=ExpenseTracker manara-maso ny fandaniana
Name[mi]=ExpenseTracker aroturuki utu
Name[mk]=ExpenseTracker ги следи трошоците
Name[ml]=ExpenseTracker ട്രാക്ക് ചെലവുകൾ
Name[mn]=ExpenseTracker зардлыг хянадаг
Name[mr]=ExpenseTracker खर्चाचा मागोवा घेतो
Name[ms]=ExpenseTracker menjejaki perbelanjaan
Name[mt]=Spejjeż tal-binarji tal-ExpenseTracker
Name[my]=ExpenseTracker သည် အသုံးစရိတ်များကို ခြေရာခံသည်။
Name[ne]=ExpenseTracker ट्र्याक खर्च
Name[nl]=ExpenseTracker houdt uitgaven bij
Name[no]=ExpenseTracker sporer utgifter
Name[ny]=Mtengo wamtengo wapatali wa ExpenseTracker
Name[om]=ExpenseTracker baasii hordofu
Name[or]=ଖର୍ଚ୍ଚ ଟ୍ରାକର୍ ଟ୍ରାକ୍ ଖର୍ଚ୍ଚ |
Name[pa]=ExpenseTracker ਖਰਚਿਆਂ ਨੂੰ ਟਰੈਕ ਕਰਦਾ ਹੈ
Name[pl]=ExpenseTracker śledzi wydatki
Name[ps]=ExpenseTracker ﺐﯿﻘﻌﺗ ﻮﻧﻮﺘښګﻟ ﺩ
Name[pt]=ExpenseTracker rastreia despesas
Name[qu]=ExpenseTracker gastokunata qatipay
Name[ro]=ExpenseTracker urmăriți cheltuielile
Name[ru]=ExpenseTracker отслеживает расходы
Name[rw]=Amafaranga akurikirana
Name[sa]=ExpenseTracker व्ययस्य निरीक्षणं करोति
Name[sd]=ExpenseTracker ﭺﺮﺧ ڪﻳﺮٽ
Name[si]=ExpenseTracker වියදම් ලුහුබැඳීම
Name[sk]=ExpenseTracker sleduje výdavky
Name[sl]=ExpenseTracker spremlja stroške
Name[sm]=ExpenseTracker siaki tupe alu
Name[sn]=ExpenseTracker track mari
Name[so]=Kharashaadka raadraaca ExpenseTracker
Name[sq]=ExpenseTracker gjurmoni shpenzimet
Name[st]=Litsenyehelo tsa ho latela tsa ExpenseTracker
Name[su]=ExpenseTracker ngalacak expenses
Name[sv]=ExpenseTracker spåra utgifter
Name[sw]=Gharama za ufuatiliaji wa ExpenseTracker
Name[ta]=ExpenseTracker செலவுகளைக் கண்காணிக்கும்
Name[te]=ExpenseTracker ఖర్చులను ట్రాక్ చేస్తుంది
Name[tg]=ExpenseTracker хароҷотро пайгирӣ мекунад
Name[th]=ExpenseTracker ติดตามค่าใช้จ่าย
Name[ti]=ExpenseTracker ወጻኢታት ይከታተል
Name[tk]=“ExpenseTracker” çykdajylary
Name[tl]=ExpenseTracker subaybayan ang mga gastos
Name[to]=ExpenseTracker muimuiʻi e ngaahi fakamole
Name[tr]=ExpenseTracker harcamaları takip eder
Name[ts]=ExpenseTracker yi landzelela switirhisiwa
Name[tt]=ExpenseTracker трек чыгымнары
Name[tw]=ExpenseTracker di ɛka a wɔbɔ no akyi
Name[ty]=Te mau haamau'araa no te mau haamau'araa
Name[ug]=ﻰﺘﯩﺟﺍﺮﯩﺧ ﺵﻼ﻿ﻏﻮﻗ ﺰﯩﺋ ﺕەﺟﺍﺮﯩﺧ
Name[uk]=ExpenseTracker відстежує витрати
Name[ur]=ExpenseTracker ۔ﮯﮨ ﺎﺗﺮﮐ ﮏﯾﺮﭨ ﻮﮐ ﺕﺎﺟﺍﺮﺧﺍ
Name[uz]=ExpenseTracker xarajatlarni kuzatib boradi
Name[vi]=ExpenseTracker theo dõi chi phí
Name[xh]=Iindleko zokulandelela i-ExpenseTracker
Name[yi]=תואצוה רופּש רעקאַרטעסנעפּסקע
Name[yo]=Awọn inawo orin ExpenseTracker
Name[zh]=ExpenseTracker 跟踪费用
Name[zu]=Izindleko zethrekhi ye-ExpenseTracker
Name=ExpenseTracker track expenses
Icon=mini-dollar.xpm
Comment[af]=ExpenseTracker volg uitgawes
Comment[am]=ExpenseTracker ትራክ ወጪዎች
Comment[ar]=ExpenseTracker ﺭﺎﺴﻤﻟﺍ ﺕﺎﻘﻔﻧ
Comment[as]=ExpenseTracker খৰচ অনুসৰণ কৰে
Comment[ay]=ExpenseTracker ukax qullqinak uñakipañapawa
Comment[az]=ExpenseTracker xərcləri izləyir
Comment[ba]=UcontTracker трек сығымдары
Comment[be]=ExpenseTracker адсочвае выдаткі
Comment[bg]=ExpenseTracker проследява разходите
Comment[bm]=ExpenseTracker ka musakaw lajɛ
Comment[bn]=ExpenseTracker খরচ ট্র্যাক
Comment[bo]=འགྲོ་གྲོན་གཏོང་མཁན་གྱིས་འགྲོ་གྲོན་ལ་རྗེས་སྙེག་བྱེད་པ
Comment[bs]=ExpenseTracker prati troškove
Comment[ca]=ExpenseTracker fer un seguiment de les despeses
Comment[co]=ExpenseTracker traccia e spese
Comment[cs]=ExpenseTracker sleduje výdaje
Comment[cy]=Treuliau trac ExpenseTracker
Comment[da]=ExpenseTracker sporer udgifter
Comment[de]=ExpenseTracker verfolgt Ausgaben
Comment[dv]=އްތަދުރަހަ ކްރެޓް ރކަރެޓްސްންޕެސްކްއެ
Comment[ee]=ExpenseTracker léa ŋku ɖe gazazãwo ŋu
Comment[el]=Το ExpenseTracker παρακολουθεί τα έξοδα
Comment[en]=ExpenseTracker track expenses
Comment[eo]=ExpenseTracker spuri elspezojn
Comment[es]=Gastos de seguimiento de ExpenseTracker
Comment[et]=ExpenseTracker jälgib kulusid
Comment[eu]=ExpenseTracker-ek gastuen jarraipena
Comment[fa]=ExpenseTracker ﺪﻨﮐ ﯽﻣ ﯼﺮﯿﮕﯿﭘ ﺍﺭ ﺎﻫ ﻪﻨﯾﺰﻫ
Comment[fi]=ExpenseTracker seuraa kuluja
Comment[fj]=ExpenseTracker vakadikeva na vakayagataki ilavo
Comment[fo]=ExpenseTracker track útreiðslur
Comment[fr]=ExpenseTracker suivre les dépenses
Comment[fy]=ExpenseTracker track útjeften
Comment[ga]=Costais rian ExpenseTracker
Comment[gd]=Bidh ExpenseTracker a’ cumail sùil air cosgaisean
Comment[gl]=ExpenseTracker rastrexa os gastos
Comment[gn]=ExpenseTracker ojesareko umi gasto rehe
Comment[gu]=એક્સપેન્સટ્રેકર ટ્રૅક ખર્ચ
Comment[ha]=Kudaden waƙa na ExpenseTracker
Comment[he]=ExpenseTracker תואצוה רחא בוקע
Comment[hi]=एक्सपेंसट्रैकर खर्चों को ट्रैक करता है
Comment[hr]=ExpenseTracker prati troškove
Comment[ht]=ExpenseTracker swiv depans yo
Comment[hu]=Az ExpenseTracker nyomon követheti a költségeket
Comment[hy]=ExpenseTracker-ը հետևում է ծախսերին
Comment[id]=ExpenseTracker melacak pengeluaran
Comment[ig]=Ọnụ ego egwu ExpenseTracker
Comment[is]=ExpenseTracker fylgist með útgjöldum
Comment[it]=ExpenseTracker tiene traccia delle spese
Comment[iu]=ᐊᑭᓕᒐᒃᓴᑦᐅᓪᓗᕆᐊᓕᑦ
Comment[ja]=ExpenseTracker 経費を追跡する
Comment[jv]=expenses trek ExpenseTracker
Comment[ka]=ExpenseTracker აკონტროლეთ ხარჯები
Comment[kk]=ExpenseTracker шығындарды бақылайды
Comment[km]=ExpenseTracker តាមដានការចំណាយ
Comment[kn]=ExpenseTracker ಟ್ರ್ಯಾಕ್ ವೆಚ್ಚಗಳು
Comment[ko]=ExpenseTracker 추적 비용
Comment[ku]=ExpenseTracker lêçûnên bişopîne
Comment[ky]=ExpenseTracker чыгымдарды көзөмөлдөйт
Comment[la]=ExpenseTracker semita expensis
Comment[lb]=ExpenseTracker verfollegen Ausgaben
Comment[lg]=ExpenseTracker erondoola ensaasaanya
Comment[ln]=ExpenseTracker elandaka ba dépenses
Comment[lo]=ExpenseTracker ຕິດຕາມຄ່າໃຊ້ຈ່າຍ
Comment[lt]=ExpenseTracker seka išlaidas
Comment[lv]=ExpenseTracker izseko izdevumus
Comment[mg]=ExpenseTracker manara-maso ny fandaniana
Comment[mi]=ExpenseTracker aroturuki utu
Comment[mk]=ExpenseTracker ги следи трошоците
Comment[ml]=ExpenseTracker ട്രാക്ക് ചെലവുകൾ
Comment[mn]=ExpenseTracker зардлыг хянадаг
Comment[mr]=ExpenseTracker खर्चाचा मागोवा घेतो
Comment[ms]=ExpenseTracker menjejaki perbelanjaan
Comment[mt]=Spejjeż tal-binarji tal-ExpenseTracker
Comment[my]=ExpenseTracker သည် အသုံးစရိတ်များကို ခြေရာခံသည်။
Comment[ne]=ExpenseTracker ट्र्याक खर्च
Comment[nl]=ExpenseTracker houdt uitgaven bij
Comment[no]=ExpenseTracker sporer utgifter
Comment[ny]=Mtengo wamtengo wapatali wa ExpenseTracker
Comment[om]=ExpenseTracker baasii hordofu
Comment[or]=ଖର୍ଚ୍ଚ ଟ୍ରାକର୍ ଟ୍ରାକ୍ ଖର୍ଚ୍ଚ |
Comment[pa]=ExpenseTracker ਖਰਚਿਆਂ ਨੂੰ ਟਰੈਕ ਕਰਦਾ ਹੈ
Comment[pl]=ExpenseTracker śledzi wydatki
Comment[ps]=ExpenseTracker ﺐﯿﻘﻌﺗ ﻮﻧﻮﺘښګﻟ ﺩ
Comment[pt]=ExpenseTracker rastreia despesas
Comment[qu]=ExpenseTracker gastokunata qatipay
Comment[ro]=ExpenseTracker urmăriți cheltuielile
Comment[ru]=ExpenseTracker отслеживает расходы
Comment[rw]=Amafaranga akurikirana
Comment[sa]=ExpenseTracker व्ययस्य निरीक्षणं करोति
Comment[sd]=ExpenseTracker ﭺﺮﺧ ڪﻳﺮٽ
Comment[si]=ExpenseTracker වියදම් ලුහුබැඳීම
Comment[sk]=ExpenseTracker sleduje výdavky
Comment[sl]=ExpenseTracker spremlja stroške
Comment[sm]=ExpenseTracker siaki tupe alu
Comment[sn]=ExpenseTracker track mari
Comment[so]=Kharashaadka raadraaca ExpenseTracker
Comment[sq]=ExpenseTracker gjurmoni shpenzimet
Comment[st]=Litsenyehelo tsa ho latela tsa ExpenseTracker
Comment[su]=ExpenseTracker ngalacak expenses
Comment[sv]=ExpenseTracker spåra utgifter
Comment[sw]=Gharama za ufuatiliaji wa ExpenseTracker
Comment[ta]=ExpenseTracker செலவுகளைக் கண்காணிக்கும்
Comment[te]=ExpenseTracker ఖర్చులను ట్రాక్ చేస్తుంది
Comment[tg]=ExpenseTracker хароҷотро пайгирӣ мекунад
Comment[th]=ExpenseTracker ติดตามค่าใช้จ่าย
Comment[ti]=ExpenseTracker ወጻኢታት ይከታተል
Comment[tk]=“ExpenseTracker” çykdajylary
Comment[tl]=ExpenseTracker subaybayan ang mga gastos
Comment[to]=ExpenseTracker muimuiʻi e ngaahi fakamole
Comment[tr]=ExpenseTracker harcamaları takip eder
Comment[ts]=ExpenseTracker yi landzelela switirhisiwa
Comment[tt]=ExpenseTracker трек чыгымнары
Comment[tw]=ExpenseTracker di ɛka a wɔbɔ no akyi
Comment[ty]=Te mau haamau'araa no te mau haamau'araa
Comment[ug]=ﻰﺘﯩﺟﺍﺮﯩﺧ ﺵﻼ﻿ﻏﻮﻗ ﺰﯩﺋ ﺕەﺟﺍﺮﯩﺧ
Comment[uk]=ExpenseTracker відстежує витрати
Comment[ur]=ExpenseTracker ۔ﮯﮨ ﺎﺗﺮﮐ ﮏﯾﺮﭨ ﻮﮐ ﺕﺎﺟﺍﺮﺧﺍ
Comment[uz]=ExpenseTracker xarajatlarni kuzatib boradi
Comment[vi]=ExpenseTracker theo dõi chi phí
Comment[xh]=Iindleko zokulandelela i-ExpenseTracker
Comment[yi]=תואצוה רופּש רעקאַרטעסנעפּסקע
Comment[yo]=Awọn inawo orin ExpenseTracker
Comment[zh]=ExpenseTracker 跟踪费用
Comment[zu]=Izindleko zethrekhi ye-ExpenseTracker
Comment=ExpenseTracker track expenses
Exec=ExpenseTracker
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=ExpenseTracker
