[Desktop Entry]
Encoding=UTF-8
Name[af]=Cgtkcalc komplekse getalle
Name[am]=Cgtkcalc ውስብስብ ቁጥሮች
Name[ar]=Cgtkcalc ﺔﺒﻛﺮﻤﻟﺍ ﺩﺍﺪﻋﻷ﻿ﺍ
Name[as]=Cgtkcalc জটিল সংখ্যা
Name[ay]=Cgtkcalc complejo jakhunaka
Name[az]=Cgtkcalc kompleks ədədlər
Name[ba]=Cgtkcalc комплекс һандары
Name[be]=Cgtkcalc камплексныя лікі
Name[bg]=Cgtkcalc комплексни числа
Name[bm]=Cgtkcalc jatedenw ka gɛlɛn
Name[bn]=Cgtkcalc জটিল সংখ্যা
Name[bo]=Cgtkcalc རྙོག་འཛིང་ཆེ་བའི་གྲངས་ཀ
Name[bs]=Cgtkcalc kompleksni brojevi
Name[ca]=Cgtkcalc nombres complexos
Name[co]=Cgtkcalc numeri cumplessi
Name[cs]=Cgtkcalc komplexní čísla
Name[cy]=Cgtkcalc rhifau cymhlyg
Name[da]=Cgtkcalc komplekse tal
Name[de]=Cgtkcalc komplexe Zahlen
Name[dv]=ވެކެތަރުބަންނަ ސްކްލެޕްމްކޮ ކްލްކަކޭޓީޖީސީ
Name[ee]=Cgtkcalc xexlẽdzesi sesẽwo
Name[el]=Μιγαδικοί αριθμοί Cgtkcalc
Name[en]=Cgtkcalc complex numbers
Name[eo]=Cgtkcalc kompleksaj nombroj
Name[es]=Cgtkcalc números complejos
Name[et]=Cgtkcalc kompleksarvud
Name[eu]=Cgtkcalc zenbaki konplexuak
Name[fa]=Cgtkcalc ﻂﻠﺘﺨﻣ ﺩﺍﺪﻋﺍ
Name[fi]=Cgtkcalc kompleksiluvut
Name[fj]=Naba vereverea ni Cgtkcalc
Name[fo]=Cgtkcalc complex tøl
Name[fr]=Nombres complexes Cgtkcalc
Name[fy]=Cgtkcalc komplekse getallen
Name[ga]=Uimhreacha casta cgtkcalc
Name[gd]=Cgtkcalc àireamhan iom-fhillte
Name[gl]=Cgtkcalc números complexos
Name[gn]=Cgtkcalc papapy complejo rehegua
Name[gu]=Cgtkcalc જટિલ સંખ્યાઓ
Name[ha]=Cgtkcalc hadaddun lambobi
Name[he]=Cgtkcalc םיבכורמ םירפסמ
Name[hi]=Cgtkcalc सम्मिश्र संख्याएँ
Name[hr]=Cgtkcalc kompleksni brojevi
Name[ht]=Cgtkcalc nimewo konplèks
Name[hu]=Cgtkcalc komplex számok
Name[hy]=Cgtkcalc համալիր թվեր
Name[id]=Bilangan kompleks CGtkcalc
Name[ig]=Cgtkcalc ọnụọgụgụ
Name[is]=Cgtkcalc flóknar tölur
Name[it]=Cgtkcalc numeri complessi
Name[iu]=Cgtkcalc ᓇᓗᓈᕿᔪᑦ ᓈᓴᐅᑎᑦ
Name[ja]=Cgtkcalc 複素数
Name[jv]=Cgtkcalc bilangan kompleks
Name[ka]=Cgtkcalc რთული რიცხვები
Name[kk]=Cgtkcalc күрделі сандар
Name[km]=លេខស្មុគស្មាញ Cgtkcalc
Name[kn]=Cgtkcalc ಸಂಕೀರ್ಣ ಸಂಖ್ಯೆಗಳು
Name[ko]=Cgtkcalc 복소수
Name[ku]=Cgtkcalc hejmarên tevlihev
Name[ky]=Cgtkcalc комплекстүү сандар
Name[la]=Cgtkcalc numeri complexi
Name[lb]=Cgtkcalc komplex Zuelen
Name[lg]=Cgtkcalc namba enzibu
Name[ln]=Cgtkcalc mituya ya mindondo
Name[lo]=ຕົວເລກຊັບຊ້ອນ Cgtkcalc
Name[lt]=Cgtkcalc kompleksiniai skaičiai
Name[lv]=Cgtkcalc kompleksie skaitļi
Name[mg]=Cgtkcalc isa complex
Name[mi]=Cgtkcalc tau matatini
Name[mk]=Cgtkcalc комплексни броеви
Name[ml]=Cgtkcalc കോംപ്ലക്സ് നമ്പറുകൾ
Name[mn]=Cgtkcalc комплекс тоо
Name[mr]=Cgtkcalc जटिल संख्या
Name[ms]=Cgtkcalc nombor kompleks
Name[mt]=Cgtkcalc numri kumplessi
Name[my]=Cgtkcalc ရှုပ်ထွေးသောနံပါတ်များ
Name[ne]=Cgtkcalc जटिल संख्याहरू
Name[nl]=Cgtkcalc complexe getallen
Name[no]=Cgtkcalc komplekse tall
Name[ny]=Nambala zovuta za Cgtkcalc
Name[om]=Cgtkcalc lakkoofsota walxaxaa
Name[or]=Cgtkcalc ଜଟିଳ ସଂଖ୍ୟା |
Name[pa]=Cgtkcalc ਕੰਪਲੈਕਸ ਨੰਬਰ
Name[pl]=Liczby zespolone Cgtkcalc
Name[ps]=Cgtkcalc ﯤﺮﯿﻤﺷ ﯥﻠﭽﯿﭘ
Name[pt]=Números do complexo Cgtkcalc
Name[qu]=Cgtkcalc complejo yupaykuna
Name[ro]=Cgtkcalc numere complexe
Name[ru]=Cgtkcalc комплексные числа
Name[rw]=Imibare igoye ya Cgtkcalc
Name[sa]=Cgtkcalc जटिल संख्याएँ
Name[sd]=Cgtkcalc ﺮﺒﻤﻧ ﻩﺪﻴﭽﻴﭘ
Name[si]=Cgtkcalc සංකීර්ණ සංඛ්u200dයා
Name[sk]=Cgtkcalc komplexné čísla
Name[sl]=Cgtkcalc kompleksna števila
Name[sm]=Cgtkcalc numera lavelave
Name[sn]=Cgtkcalc yakaoma manhamba
Name[so]=Cgtkcalc tirooyinka adag
Name[sq]=Numrat kompleksë Cgtkcalc
Name[st]=Linomoro tse rarahaneng tsa Cgtkcalc
Name[su]=Cgtkcalc wilangan kompléks
Name[sv]=Cgtkcalc komplexa tal
Name[sw]=Nambari changamano za Cgtkcalc
Name[ta]=Cgtkcalc சிக்கலான எண்கள்
Name[te]=Cgtkcalc సంక్లిష్ట సంఖ్యలు
Name[tg]=Рақамҳои мураккаби Cgtkcalc
Name[th]=Cgtkcalc จำนวนเชิงซ้อน
Name[ti]=Cgtkcalc ዝተሓላለኹ ቁጽርታት
Name[tk]=Cgtkcalc çylşyrymly sanlar
Name[tl]=Cgtkcalc kumplikadong mga numero
Name[to]=Cgtkcalc ngaahi fika faingataʻa
Name[tr]=Cgtkcalc karmaşık sayılar
Name[ts]=Cgtkcalc tinomboro leti rharhanganeke
Name[tt]=Cgtkcalc катлаулы саннар
Name[tw]=Cgtkcalc akontaahyɛde ahorow a ɛyɛ den
Name[ty]=Te mau numera fifi roa ' ' e
Name[ug]=Cgtkcalc ﺭﻼ﻿ﻧﺎﺳ ﭖەﻜﻛەﺭﯘﻣ
Name[uk]=Комплексні числа Cgtkcalc
Name[ur]=Cgtkcalc ﺯﺮﺒﻤﻧ ﺲﮑﯿﻠﭙﻤﮐ
Name[uz]=Cgtkcalc kompleks raqamlari
Name[vi]=Số phức Cgtkcalc
Name[xh]=Cgtkcalc amanani anzima
Name[yi]=ןרעמונ סקעלפּמאָק קלאַקקטגק
Name[yo]=Awọn nọmba eka Cgtkcalc
Name[zh]=Cgtkcalc 复数
Name[zu]=Izinombolo eziyinkimbinkimbi ze-Cgtkcalc
Name=Cgtkcalc complex numbers
Icon=mini-calc.xpm
Comment[af]=Cgtkcalc komplekse getalle
Comment[am]=Cgtkcalc ውስብስብ ቁጥሮች
Comment[ar]=Cgtkcalc ﺔﺒﻛﺮﻤﻟﺍ ﺩﺍﺪﻋﻷ﻿ﺍ
Comment[as]=Cgtkcalc জটিল সংখ্যা
Comment[ay]=Cgtkcalc complejo jakhunaka
Comment[az]=Cgtkcalc kompleks ədədlər
Comment[ba]=Cgtkcalc комплекс һандары
Comment[be]=Cgtkcalc камплексныя лікі
Comment[bg]=Cgtkcalc комплексни числа
Comment[bm]=Cgtkcalc jatedenw ka gɛlɛn
Comment[bn]=Cgtkcalc জটিল সংখ্যা
Comment[bo]=Cgtkcalc རྙོག་འཛིང་ཆེ་བའི་གྲངས་ཀ
Comment[bs]=Cgtkcalc kompleksni brojevi
Comment[ca]=Cgtkcalc nombres complexos
Comment[co]=Cgtkcalc numeri cumplessi
Comment[cs]=Cgtkcalc komplexní čísla
Comment[cy]=Cgtkcalc rhifau cymhlyg
Comment[da]=Cgtkcalc komplekse tal
Comment[de]=Cgtkcalc komplexe Zahlen
Comment[dv]=ވެކެތަރުބަންނަ ސްކްލެޕްމްކޮ ކްލްކަކޭޓީޖީސީ
Comment[ee]=Cgtkcalc xexlẽdzesi sesẽwo
Comment[el]=Μιγαδικοί αριθμοί Cgtkcalc
Comment[en]=Cgtkcalc complex numbers
Comment[eo]=Cgtkcalc kompleksaj nombroj
Comment[es]=Cgtkcalc números complejos
Comment[et]=Cgtkcalc kompleksarvud
Comment[eu]=Cgtkcalc zenbaki konplexuak
Comment[fa]=Cgtkcalc ﻂﻠﺘﺨﻣ ﺩﺍﺪﻋﺍ
Comment[fi]=Cgtkcalc kompleksiluvut
Comment[fj]=Naba vereverea ni Cgtkcalc
Comment[fo]=Cgtkcalc complex tøl
Comment[fr]=Nombres complexes Cgtkcalc
Comment[fy]=Cgtkcalc komplekse getallen
Comment[ga]=Uimhreacha casta cgtkcalc
Comment[gd]=Cgtkcalc àireamhan iom-fhillte
Comment[gl]=Cgtkcalc números complexos
Comment[gn]=Cgtkcalc papapy complejo rehegua
Comment[gu]=Cgtkcalc જટિલ સંખ્યાઓ
Comment[ha]=Cgtkcalc hadaddun lambobi
Comment[he]=Cgtkcalc םיבכורמ םירפסמ
Comment[hi]=Cgtkcalc सम्मिश्र संख्याएँ
Comment[hr]=Cgtkcalc kompleksni brojevi
Comment[ht]=Cgtkcalc nimewo konplèks
Comment[hu]=Cgtkcalc komplex számok
Comment[hy]=Cgtkcalc համալիր թվեր
Comment[id]=Bilangan kompleks CGtkcalc
Comment[ig]=Cgtkcalc ọnụọgụgụ
Comment[is]=Cgtkcalc flóknar tölur
Comment[it]=Cgtkcalc numeri complessi
Comment[iu]=Cgtkcalc ᓇᓗᓈᕿᔪᑦ ᓈᓴᐅᑎᑦ
Comment[ja]=Cgtkcalc 複素数
Comment[jv]=Cgtkcalc bilangan kompleks
Comment[ka]=Cgtkcalc რთული რიცხვები
Comment[kk]=Cgtkcalc күрделі сандар
Comment[km]=លេខស្មុគស្មាញ Cgtkcalc
Comment[kn]=Cgtkcalc ಸಂಕೀರ್ಣ ಸಂಖ್ಯೆಗಳು
Comment[ko]=Cgtkcalc 복소수
Comment[ku]=Cgtkcalc hejmarên tevlihev
Comment[ky]=Cgtkcalc комплекстүү сандар
Comment[la]=Cgtkcalc numeri complexi
Comment[lb]=Cgtkcalc komplex Zuelen
Comment[lg]=Cgtkcalc namba enzibu
Comment[ln]=Cgtkcalc mituya ya mindondo
Comment[lo]=ຕົວເລກຊັບຊ້ອນ Cgtkcalc
Comment[lt]=Cgtkcalc kompleksiniai skaičiai
Comment[lv]=Cgtkcalc kompleksie skaitļi
Comment[mg]=Cgtkcalc isa complex
Comment[mi]=Cgtkcalc tau matatini
Comment[mk]=Cgtkcalc комплексни броеви
Comment[ml]=Cgtkcalc കോംപ്ലക്സ് നമ്പറുകൾ
Comment[mn]=Cgtkcalc комплекс тоо
Comment[mr]=Cgtkcalc जटिल संख्या
Comment[ms]=Cgtkcalc nombor kompleks
Comment[mt]=Cgtkcalc numri kumplessi
Comment[my]=Cgtkcalc ရှုပ်ထွေးသောနံပါတ်များ
Comment[ne]=Cgtkcalc जटिल संख्याहरू
Comment[nl]=Cgtkcalc complexe getallen
Comment[no]=Cgtkcalc komplekse tall
Comment[ny]=Nambala zovuta za Cgtkcalc
Comment[om]=Cgtkcalc lakkoofsota walxaxaa
Comment[or]=Cgtkcalc ଜଟିଳ ସଂଖ୍ୟା |
Comment[pa]=Cgtkcalc ਕੰਪਲੈਕਸ ਨੰਬਰ
Comment[pl]=Liczby zespolone Cgtkcalc
Comment[ps]=Cgtkcalc ﯤﺮﯿﻤﺷ ﯥﻠﭽﯿﭘ
Comment[pt]=Números do complexo Cgtkcalc
Comment[qu]=Cgtkcalc complejo yupaykuna
Comment[ro]=Cgtkcalc numere complexe
Comment[ru]=Cgtkcalc комплексные числа
Comment[rw]=Imibare igoye ya Cgtkcalc
Comment[sa]=Cgtkcalc जटिल संख्याएँ
Comment[sd]=Cgtkcalc ﺮﺒﻤﻧ ﻩﺪﻴﭽﻴﭘ
Comment[si]=Cgtkcalc සංකීර්ණ සංඛ්u200dයා
Comment[sk]=Cgtkcalc komplexné čísla
Comment[sl]=Cgtkcalc kompleksna števila
Comment[sm]=Cgtkcalc numera lavelave
Comment[sn]=Cgtkcalc yakaoma manhamba
Comment[so]=Cgtkcalc tirooyinka adag
Comment[sq]=Numrat kompleksë Cgtkcalc
Comment[st]=Linomoro tse rarahaneng tsa Cgtkcalc
Comment[su]=Cgtkcalc wilangan kompléks
Comment[sv]=Cgtkcalc komplexa tal
Comment[sw]=Nambari changamano za Cgtkcalc
Comment[ta]=Cgtkcalc சிக்கலான எண்கள்
Comment[te]=Cgtkcalc సంక్లిష్ట సంఖ్యలు
Comment[tg]=Рақамҳои мураккаби Cgtkcalc
Comment[th]=Cgtkcalc จำนวนเชิงซ้อน
Comment[ti]=Cgtkcalc ዝተሓላለኹ ቁጽርታት
Comment[tk]=Cgtkcalc çylşyrymly sanlar
Comment[tl]=Cgtkcalc kumplikadong mga numero
Comment[to]=Cgtkcalc ngaahi fika faingataʻa
Comment[tr]=Cgtkcalc karmaşık sayılar
Comment[ts]=Cgtkcalc tinomboro leti rharhanganeke
Comment[tt]=Cgtkcalc катлаулы саннар
Comment[tw]=Cgtkcalc akontaahyɛde ahorow a ɛyɛ den
Comment[ty]=Te mau numera fifi roa ' ' e
Comment[ug]=Cgtkcalc ﺭﻼ﻿ﻧﺎﺳ ﭖەﻜﻛەﺭﯘﻣ
Comment[uk]=Комплексні числа Cgtkcalc
Comment[ur]=Cgtkcalc ﺯﺮﺒﻤﻧ ﺲﮑﯿﻠﭙﻤﮐ
Comment[uz]=Cgtkcalc kompleks raqamlari
Comment[vi]=Số phức Cgtkcalc
Comment[xh]=Cgtkcalc amanani anzima
Comment[yi]=ןרעמונ סקעלפּמאָק קלאַקקטגק
Comment[yo]=Awọn nọmba eka Cgtkcalc
Comment[zh]=Cgtkcalc 复数
Comment[zu]=Izinombolo eziyinkimbinkimbi ze-Cgtkcalc
Comment=Cgtkcalc complex numbers
Exec=cgtkcalc
Terminal=false
Type=Application
Categories=Calculator
GenericName=Cgtkcalc
