[Desktop Entry]
Encoding=UTF-8
Name[af]=SeaMonkey pos en nuus
Name[am]=SeaMonkey ደብዳቤ እና ዜና
Name[ar]=ﺭﺎﺒﺧﻷ﻿ﺍﻭ SeaMonkey ﺪﻳﺮﺑ
Name[as]=SeaMonkey মেইল আৰু বাতৰি
Name[ay]=SeaMonkey correo ukat yatiyäwinaka
Name[az]=SeaMonkey poçtu və xəbərləri
Name[ba]=SeaMonkey почтаһы һәм яңылыҡтары
Name[be]=Пошта і навіны SeaMonkey
Name[bg]=Поща и новини на SeaMonkey
Name[bm]=SeaMonkey ka batakiw ni kibaruyaw
Name[bn]=SeaMonkey মেল এবং খবর
Name[bo]=མཚོ་ཐོག་གི་སྦྲག་རྫས་དང་གསར་འགྱུར།
Name[bs]=SeaMonkey pošta i vijesti
Name[ca]=Correu i notícies de SeaMonkey
Name[co]=SeaMonkey mail è nutizie
Name[cs]=SeaMonkey pošta a zprávy
Name[cy]=Post SeaMonkey a newyddion
Name[da]=SeaMonkey mail og nyheder
Name[de]=SeaMonkey-Mail und Neuigkeiten
Name[dv]=ވެކެތަރުބަޚަ އިއާ ލްއިމެ ކީންމަސީ
Name[ee]=SeaMonkey ƒe posu kple nyadzɔdzɔwo
Name[el]=SeaMonkey αλληλογραφία και νέα
Name[en]=SeaMonkey mail and news
Name[eo]=SeaMonkey-poŝto kaj novaĵoj
Name[es]=Correo y noticias de SeaMonkey
Name[et]=SeaMonkey kirjad ja uudised
Name[eu]=SeaMonkey posta eta albisteak
Name[fa]=SeaMonkey ﺭﺎﺒﺧﺍ ﻭ ﺖﺴﭘ
Name[fi]=SeaMonkey-postia ja uutisia
Name[fj]=Meli kei na itukutuku ni SeaMonkey
Name[fo]=SeaMonkey post og tíðindi.
Name[fr]=Messagerie et actualités de SeaMonkey
Name[fy]=SeaMonkey mail en nijs
Name[ga]=Ríomhphost agus nuacht SeaMonkey
Name[gd]=Post SeaMonkey agus naidheachdan
Name[gl]=Correo e noticias de SeaMonkey
Name[gn]=SeaMonkey correo ha marandu
Name[gu]=SeaMonkey મેઇલ અને સમાચાર
Name[ha]=SeaMonkey mail da labarai
Name[he]=SeaMonkey לש תושדחו ראוד
Name[hi]=सीमंकी मेल और समाचार
Name[hr]=SeaMonkey pošta i vijesti
Name[ht]=SeaMonkey lapòs ak nouvèl
Name[hu]=SeaMonkey levelek és hírek
Name[hy]=SeaMonkey փոստ և նորություններ
Name[id]=Surat dan berita SeaMonkey
Name[ig]=SeaMonkey ozi na ozi
Name[is]=SeaMonkey póstur og fréttir
Name[it]=Posta e notizie di SeaMonkey
Name[iu]=SeaMonkey Mail ᐊᒻᒪ News
Name[ja]=SeaMonkey のメールとニュース
Name[jv]=mail SeaMonkey lan warta
Name[ka]=SeaMonkey ფოსტა და სიახლეები
Name[kk]=SeaMonkey поштасы және жаңалықтары
Name[km]=សំបុត្រនិងព័ត៌មាន SeaMonkey
Name[kn]=ಸೀಮಂಕಿ ಮೇಲ್ ಮತ್ತು ಸುದ್ದಿ
Name[ko]=SeaMonkey 메일 및 뉴스
Name[ku]=mail û nûçe SeaMonkey
Name[ky]=SeaMonkey почтасы жана жаңылыктары
Name[la]=SeaMonkey mail et nuntium
Name[lb]=SeaMonkey Mail an Neiegkeeten
Name[lg]=SeaMonkey mail n'amawulire
Name[ln]=SeaMonkey mail mpe sango
Name[lo]=SeaMonkey mail ແລະຂ່າວ
Name[lt]=SeaMonkey paštas ir naujienos
Name[lv]=SeaMonkey pasts un ziņas
Name[mg]=SeaMonkey mailaka sy vaovao
Name[mi]=mēra SeaMonkey me nga korero
Name[mk]=SeaMonkey пошта и вести
Name[ml]=സീമങ്കി മെയിലും വാർത്തയും
Name[mn]=SeaMonkey шуудан ба мэдээ
Name[mr]=SeaMonkey मेल आणि बातम्या
Name[ms]=Mel dan berita SeaMonkey
Name[mt]=posta SeaMonkey u aħbarijiet
Name[my]=SeaMonkey မေးလ်နှင့်သတင်း
Name[ne]=SeaMonkey मेल र समाचार
Name[nl]=SeaMonkey mail en nieuws
Name[no]=SeaMonkey-post og nyheter
Name[ny]=SeaMonkey makalata ndi nkhani
Name[om]=SeaMonkey poostaa fi oduu
Name[or]=SeaMonkey ମେଲ୍ ଏବଂ ସମ୍ବାଦ |
Name[pa]=SeaMonkey ਮੇਲ ਅਤੇ ਖ਼ਬਰਾਂ
Name[pl]=Poczta i aktualności SeaMonkey
Name[ps]=ﻪﻧﻭﺮﺒﺧ ﻭﺍ ﻞﯿﻣ SeaMonkey ﺩ
Name[pt]=Correio e notícias do SeaMonkey
Name[qu]=SeaMonkey correo y noticias
Name[ro]=E-mail și știri SeaMonkey
Name[ru]=Почта и новости SeaMonkey
Name[rw]=InyanjaMonkey amabaruwa namakuru
Name[sa]=SeaMonkey मेल तथा वार्ता
Name[sd]=SeaMonkey ﻥﻭﺮﺒﺧ ۽ ﻞﻴﻣ
Name[si]=SeaMonkey තැපෑල සහ පුවත්
Name[sk]=SeaMonkey mail a novinky
Name[sl]=Pošta in novice SeaMonkey
Name[sm]=SeaMonkey meli ma tala fou
Name[sn]=SeaMonkey tsamba uye nhau
Name[so]=SeaMonkey mail iyo warar
Name[sq]=Posta dhe lajme SeaMonkey
Name[st]=SeaMonkey mangolo le litaba
Name[su]=mail SeaMonkey jeung warta
Name[sv]=SeaMonkey mail och nyheter
Name[sw]=Barua ya SeaMonkey na habari
Name[ta]=SeaMonkey அஞ்சல் மற்றும் செய்தி
Name[te]=SeaMonkey మెయిల్ మరియు వార్తలు
Name[tg]=Почтаи SeaMonkey ва ахбор
Name[th]=จดหมายและข่าวสารของ SeaMonkey
Name[ti]=ሲሞንኪ ፖስታን ዜናን
Name[tk]=SeaMonkey poçta we habarlar
Name[tl]=SeaMonkey mail at balita
Name[to]=SeaMonkey meili mo e ongoongo
Name[tr]=SeaMonkey postası ve haberleri
Name[ts]=SeaMonkey poso na mahungu
Name[tt]=SeaMonkey почта һәм яңалыклар
Name[tw]=SeaMonkey mail ne nsɛm ho amanneɛbɔ
Name[ty]=Te mau parau apî e te mau parau apî
Name[ug]=SeaMonkey ﺭەﯞەﺧ ەﯞ ﺕەﺧ
Name[uk]=Пошта та новини SeaMonkey
Name[ur]=SeaMonkey ۔ﮟﯾﺮﺒﺧ ﺭﻭﺍ ﻞﯿﻣ
Name[uz]=SeaMonkey pochta va yangiliklar
Name[vi]=Thư và tin tức SeaMonkey
Name[xh]=SeaMonkey imeyile kunye neendaba
Name[yi]=SeaMonkey סעיַינ ןוא טסאָפּ
Name[yo]=SeaMonkey mail ati awọn iroyin
Name[zh]=SeaMonkey 邮件和新闻
Name[zu]=Imeyili ye-SeaMonkey nezindaba
Name=SeaMonkey mail and news
Icon=seamonkey16.xpm
Comment[af]=SeaMonkey pos en nuus
Comment[am]=SeaMonkey ደብዳቤ እና ዜና
Comment[ar]=ﺭﺎﺒﺧﻷ﻿ﺍﻭ SeaMonkey ﺪﻳﺮﺑ
Comment[as]=SeaMonkey মেইল আৰু বাতৰি
Comment[ay]=SeaMonkey correo ukat yatiyäwinaka
Comment[az]=SeaMonkey poçtu və xəbərləri
Comment[ba]=SeaMonkey почтаһы һәм яңылыҡтары
Comment[be]=Пошта і навіны SeaMonkey
Comment[bg]=Поща и новини на SeaMonkey
Comment[bm]=SeaMonkey ka batakiw ni kibaruyaw
Comment[bn]=SeaMonkey মেল এবং খবর
Comment[bo]=མཚོ་ཐོག་གི་སྦྲག་རྫས་དང་གསར་འགྱུར།
Comment[bs]=SeaMonkey pošta i vijesti
Comment[ca]=Correu i notícies de SeaMonkey
Comment[co]=SeaMonkey mail è nutizie
Comment[cs]=SeaMonkey pošta a zprávy
Comment[cy]=Post SeaMonkey a newyddion
Comment[da]=SeaMonkey mail og nyheder
Comment[de]=SeaMonkey-Mail und Neuigkeiten
Comment[dv]=ވެކެތަރުބަޚަ އިއާ ލްއިމެ ކީންމަސީ
Comment[ee]=SeaMonkey ƒe posu kple nyadzɔdzɔwo
Comment[el]=SeaMonkey αλληλογραφία και νέα
Comment[en]=SeaMonkey mail and news
Comment[eo]=SeaMonkey-poŝto kaj novaĵoj
Comment[es]=Correo y noticias de SeaMonkey
Comment[et]=SeaMonkey kirjad ja uudised
Comment[eu]=SeaMonkey posta eta albisteak
Comment[fa]=SeaMonkey ﺭﺎﺒﺧﺍ ﻭ ﺖﺴﭘ
Comment[fi]=SeaMonkey-postia ja uutisia
Comment[fj]=Meli kei na itukutuku ni SeaMonkey
Comment[fo]=SeaMonkey post og tíðindi.
Comment[fr]=Messagerie et actualités de SeaMonkey
Comment[fy]=SeaMonkey mail en nijs
Comment[ga]=Ríomhphost agus nuacht SeaMonkey
Comment[gd]=Post SeaMonkey agus naidheachdan
Comment[gl]=Correo e noticias de SeaMonkey
Comment[gn]=SeaMonkey correo ha marandu
Comment[gu]=SeaMonkey મેઇલ અને સમાચાર
Comment[ha]=SeaMonkey mail da labarai
Comment[he]=SeaMonkey לש תושדחו ראוד
Comment[hi]=सीमंकी मेल और समाचार
Comment[hr]=SeaMonkey pošta i vijesti
Comment[ht]=SeaMonkey lapòs ak nouvèl
Comment[hu]=SeaMonkey levelek és hírek
Comment[hy]=SeaMonkey փոստ և նորություններ
Comment[id]=Surat dan berita SeaMonkey
Comment[ig]=SeaMonkey ozi na ozi
Comment[is]=SeaMonkey póstur og fréttir
Comment[it]=Posta e notizie di SeaMonkey
Comment[iu]=SeaMonkey Mail ᐊᒻᒪ News
Comment[ja]=SeaMonkey のメールとニュース
Comment[jv]=mail SeaMonkey lan warta
Comment[ka]=SeaMonkey ფოსტა და სიახლეები
Comment[kk]=SeaMonkey поштасы және жаңалықтары
Comment[km]=សំបុត្រនិងព័ត៌មាន SeaMonkey
Comment[kn]=ಸೀಮಂಕಿ ಮೇಲ್ ಮತ್ತು ಸುದ್ದಿ
Comment[ko]=SeaMonkey 메일 및 뉴스
Comment[ku]=mail û nûçe SeaMonkey
Comment[ky]=SeaMonkey почтасы жана жаңылыктары
Comment[la]=SeaMonkey mail et nuntium
Comment[lb]=SeaMonkey Mail an Neiegkeeten
Comment[lg]=SeaMonkey mail n'amawulire
Comment[ln]=SeaMonkey mail mpe sango
Comment[lo]=SeaMonkey mail ແລະຂ່າວ
Comment[lt]=SeaMonkey paštas ir naujienos
Comment[lv]=SeaMonkey pasts un ziņas
Comment[mg]=SeaMonkey mailaka sy vaovao
Comment[mi]=mēra SeaMonkey me nga korero
Comment[mk]=SeaMonkey пошта и вести
Comment[ml]=സീമങ്കി മെയിലും വാർത്തയും
Comment[mn]=SeaMonkey шуудан ба мэдээ
Comment[mr]=SeaMonkey मेल आणि बातम्या
Comment[ms]=Mel dan berita SeaMonkey
Comment[mt]=posta SeaMonkey u aħbarijiet
Comment[my]=SeaMonkey မေးလ်နှင့်သတင်း
Comment[ne]=SeaMonkey मेल र समाचार
Comment[nl]=SeaMonkey mail en nieuws
Comment[no]=SeaMonkey-post og nyheter
Comment[ny]=SeaMonkey makalata ndi nkhani
Comment[om]=SeaMonkey poostaa fi oduu
Comment[or]=SeaMonkey ମେଲ୍ ଏବଂ ସମ୍ବାଦ |
Comment[pa]=SeaMonkey ਮੇਲ ਅਤੇ ਖ਼ਬਰਾਂ
Comment[pl]=Poczta i aktualności SeaMonkey
Comment[ps]=ﻪﻧﻭﺮﺒﺧ ﻭﺍ ﻞﯿﻣ SeaMonkey ﺩ
Comment[pt]=Correio e notícias do SeaMonkey
Comment[qu]=SeaMonkey correo y noticias
Comment[ro]=E-mail și știri SeaMonkey
Comment[ru]=Почта и новости SeaMonkey
Comment[rw]=InyanjaMonkey amabaruwa namakuru
Comment[sa]=SeaMonkey मेल तथा वार्ता
Comment[sd]=SeaMonkey ﻥﻭﺮﺒﺧ ۽ ﻞﻴﻣ
Comment[si]=SeaMonkey තැපෑල සහ පුවත්
Comment[sk]=SeaMonkey mail a novinky
Comment[sl]=Pošta in novice SeaMonkey
Comment[sm]=SeaMonkey meli ma tala fou
Comment[sn]=SeaMonkey tsamba uye nhau
Comment[so]=SeaMonkey mail iyo warar
Comment[sq]=Posta dhe lajme SeaMonkey
Comment[st]=SeaMonkey mangolo le litaba
Comment[su]=mail SeaMonkey jeung warta
Comment[sv]=SeaMonkey mail och nyheter
Comment[sw]=Barua ya SeaMonkey na habari
Comment[ta]=SeaMonkey அஞ்சல் மற்றும் செய்தி
Comment[te]=SeaMonkey మెయిల్ మరియు వార్తలు
Comment[tg]=Почтаи SeaMonkey ва ахбор
Comment[th]=จดหมายและข่าวสารของ SeaMonkey
Comment[ti]=ሲሞንኪ ፖስታን ዜናን
Comment[tk]=SeaMonkey poçta we habarlar
Comment[tl]=SeaMonkey mail at balita
Comment[to]=SeaMonkey meili mo e ongoongo
Comment[tr]=SeaMonkey postası ve haberleri
Comment[ts]=SeaMonkey poso na mahungu
Comment[tt]=SeaMonkey почта һәм яңалыклар
Comment[tw]=SeaMonkey mail ne nsɛm ho amanneɛbɔ
Comment[ty]=Te mau parau apî e te mau parau apî
Comment[ug]=SeaMonkey ﺭەﯞەﺧ ەﯞ ﺕەﺧ
Comment[uk]=Пошта та новини SeaMonkey
Comment[ur]=SeaMonkey ۔ﮟﯾﺮﺒﺧ ﺭﻭﺍ ﻞﯿﻣ
Comment[uz]=SeaMonkey pochta va yangiliklar
Comment[vi]=Thư và tin tức SeaMonkey
Comment[xh]=SeaMonkey imeyile kunye neendaba
Comment[yi]=SeaMonkey סעיַינ ןוא טסאָפּ
Comment[yo]=SeaMonkey mail ati awọn iroyin
Comment[zh]=SeaMonkey 邮件和新闻
Comment[zu]=Imeyili ye-SeaMonkey nezindaba
Comment=SeaMonkey mail and news
Exec=mozmail
Terminal=false
Type=Application
Categories=X-Internet
GenericName=SeaMonkey mail and news
