[Desktop Entry]
Encoding=UTF-8
Name[af]=SeaMonkey webblaaier
Name[am]=SeaMonkey የድር አሳሽ
Name[ar]=SeaMonkey ﺐﻳﻮﻟﺍ ﺢﻔﺼﺘﻣ
Name[as]=SeaMonkey ৱেব ব্ৰাউজাৰ
Name[ay]=SeaMonkey ukax mä web ukan uñt’ayatawa
Name[az]=SeaMonkey veb brauzeri
Name[ba]=SeaMonkey веб-браузеры
Name[be]=Вэб-браўзэр SeaMonkey
Name[bg]=Уеб браузър SeaMonkey
Name[bm]=SeaMonkey ka ɛntɛrinɛti yɔrɔ lajɛ
Name[bn]=SeaMonkey ওয়েব ব্রাউজার
Name[bo]=རྒྱ་མཚོའི་བོང་བུའི་དྲ་རྒྱའི་བལྟ་ཆས།
Name[bs]=SeaMonkey web pretraživač
Name[ca]=Navegador web SeaMonkey
Name[co]=navigatore web SeaMonkey
Name[cs]=Webový prohlížeč SeaMonkey
Name[cy]=Porwr gwe SeaMonkey
Name[da]=SeaMonkey webbrowser
Name[de]=SeaMonkey-Webbrowser
Name[dv]=ވެއެ ޒާއުރަބް ބްވެ ކީންމަސީ
Name[ee]=SeaMonkey ƒe nyatakakadzraɖoƒe
Name[el]=Το πρόγραμμα περιήγησης ιστού SeaMonkey
Name[en]=SeaMonkey web browser
Name[eo]=TTT-legilo SeaMonkey
Name[es]=Navegador web SeaMonkey
Name[et]=SeaMonkey veebibrauser
Name[eu]=SeaMonkey web arakatzailea
Name[fa]=SeaMonkey ﺏﻭ ﺮﮔﺭﻭﺮﻣ
Name[fi]=SeaMonkey verkkoselain
Name[fj]=Barausa ni mataveilawa ni SeaMonkey
Name[fo]=SeaMonkey web browser
Name[fr]=Navigateur Web SeaMonkey
Name[fy]=SeaMonkey webbrowser
Name[ga]=Brabhsálaí Gréasáin SeaMonkey
Name[gd]=Brabhsair lìn SeaMonkey
Name[gl]=Navegador web SeaMonkey
Name[gn]=SeaMonkey kundahára web rehegua
Name[gu]=SeaMonkey વેબ બ્રાઉઝર
Name[ha]=SeaMonkey web browser
Name[he]=SeaMonkey לש טנרטניא ןפדפד
Name[hi]=SeaMonkey वेब ब्राउज़र
Name[hr]=SeaMonkey web preglednik
Name[ht]=navigatè entènèt SeaMonkey
Name[hu]=SeaMonkey webböngésző
Name[hy]=SeaMonkey վեբ զննարկիչ
Name[id]=Peramban web SeaMonkey
Name[ig]=SeaMonkey ihe nchọgharị weebụ
Name[is]=SeaMonkey vefvafri
Name[it]=Browser Web SeaMonkey
Name[iu]=SeaMonkey web browser
Name[ja]=SeaMonkey Web ブラウザ
Name[jv]=Browser web SeaMonkey
Name[ka]=SeaMonkey ვებ ბრაუზერი
Name[kk]=SeaMonkey веб-шолғышы
Name[km]=កម្មវិធីរុករកបណ្ដាញ SeaMonkey
Name[kn]=ಸೀಮಂಕಿ ವೆಬ್ ಬ್ರೌಸರ್
Name[ko]=SeaMonkey 웹 브라우저
Name[ku]=Geroka webê ya SeaMonkey
Name[ky]=SeaMonkey веб-браузери
Name[la]=SeaMonkey web browser
Name[lb]=SeaMonkey Webbrowser
Name[lg]=SeaMonkey omukutu gwa yintaneeti
Name[ln]=Navigateur web ya SeaMonkey
Name[lo]=ຕົວທ່ອງເວັບຂອງ SeaMonkey
Name[lt]=SeaMonkey interneto naršyklė
Name[lv]=SeaMonkey tīmekļa pārlūkprogramma
Name[mg]=SeaMonkey tranonkala navigateur
Name[mi]=Kaitirotiro paetukutuku SeaMonkey
Name[mk]=Веб прелистувач SeaMonkey
Name[ml]=സീമങ്കി വെബ് ബ്രൗസർ
Name[mn]=SeaMonkey вэб хөтөч
Name[mr]=SeaMonkey वेब ब्राउझर
Name[ms]=pelayar web SeaMonkey
Name[mt]=Web browser SeaMonkey
Name[my]=SeaMonkey ဝဘ်ဘရောက်ဆာ
Name[ne]=SeaMonkey वेब ब्राउजर
Name[nl]=SeaMonkey-webbrowser
Name[no]=SeaMonkey nettleser
Name[ny]=Msakatuli wa SeaMonkey
Name[om]=Weeb biraawzari SeaMonkey
Name[or]=SeaMonkey ୱେବ୍ ବ୍ରାଉଜର୍ |
Name[pa]=SeaMonkey ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa SeaMonkey
Name[ps]=SeaMonkey ﺭﺯﻭﺍﺮﺑ ﺐﯾﻭ
Name[pt]=Navegador SeaMonkey
Name[qu]=SeaMonkey web maskaq
Name[ro]=Browser web SeaMonkey
Name[ru]=Веб-браузер SeaMonkey
Name[rw]=Urubuga rwa SeaMonkey
Name[sa]=SeaMonkey जालपुटम्
Name[sd]=SeaMonkey ﺭﺯﻮﺋﺍﺮﺑ ﺐﻳﻭ
Name[si]=SeaMonkey වෙබ් බ්u200dරව්සරය
Name[sk]=Webový prehliadač SeaMonkey
Name[sl]=Spletni brskalnik SeaMonkey
Name[sm]=SeaMonkey 'upega tafaʻilagi
Name[sn]=SeaMonkey web browser
Name[so]=SeaMonkey browser
Name[sq]=Shfletuesi i internetit SeaMonkey
Name[st]=SeaMonkey sebatli sa marang-rang
Name[su]=browser wéb SeaMonkey
Name[sv]=SeaMonkey webbläsare
Name[sw]=Kivinjari cha wavuti cha SeaMonkey
Name[ta]=SeaMonkey இணைய உலாவி
Name[te]=SeaMonkey వెబ్ బ్రౌజర్
Name[tg]=Браузери веб SeaMonkey
Name[th]=เว็บเบราว์เซอร์ SeaMonkey
Name[ti]=ሲሞንኪ መርበብ ሓበሬታ መርበብ ሓበሬታ
Name[tk]=SeaMonkey web brauzeri
Name[tl]=Web browser ng SeaMonkey
Name[to]=SeaMonkey web browser
Name[tr]=SeaMonkey web tarayıcısı
Name[ts]=Xihlamusela-marito xa webu xa SeaMonkey
Name[tt]=SeaMonkey веб-браузеры
Name[tw]=SeaMonkey wɛb brawsa
Name[ty]=SeaMonkey web browser
Name[ug]=SeaMonkey ﯜﮔﺭﯚﻛﺭﻮﺗ
Name[uk]=Веб-браузер SeaMonkey
Name[ur]=SeaMonkey ﺭﺯﺅﺍﺮﺑ ﺐﯾﻭ
Name[uz]=SeaMonkey veb-brauzer
Name[vi]=Trình duyệt web SeaMonkey
Name[xh]=Isikhangeli sewebhu seSeaMonkey
Name[yi]=SeaMonkey רערעטעלב בעוו
Name[yo]=SeaMonkey kiri lori ayelujara
Name[zh]=SeaMonkey 网络浏览器
Name[zu]=Isiphequluli sewebhu se-SeaMonkey
Name=SeaMonkey web browser
Icon=seamonkey16.xpm
Comment[af]=SeaMonkey webblaaier
Comment[am]=SeaMonkey የድር አሳሽ
Comment[ar]=SeaMonkey ﺐﻳﻮﻟﺍ ﺢﻔﺼﺘﻣ
Comment[as]=SeaMonkey ৱেব ব্ৰাউজাৰ
Comment[ay]=SeaMonkey ukax mä web ukan uñt’ayatawa
Comment[az]=SeaMonkey veb brauzeri
Comment[ba]=SeaMonkey веб-браузеры
Comment[be]=Вэб-браўзэр SeaMonkey
Comment[bg]=Уеб браузър SeaMonkey
Comment[bm]=SeaMonkey ka ɛntɛrinɛti yɔrɔ lajɛ
Comment[bn]=SeaMonkey ওয়েব ব্রাউজার
Comment[bo]=རྒྱ་མཚོའི་བོང་བུའི་དྲ་རྒྱའི་བལྟ་ཆས།
Comment[bs]=SeaMonkey web pretraživač
Comment[ca]=Navegador web SeaMonkey
Comment[co]=navigatore web SeaMonkey
Comment[cs]=Webový prohlížeč SeaMonkey
Comment[cy]=Porwr gwe SeaMonkey
Comment[da]=SeaMonkey webbrowser
Comment[de]=SeaMonkey-Webbrowser
Comment[dv]=ވެއެ ޒާއުރަބް ބްވެ ކީންމަސީ
Comment[ee]=SeaMonkey ƒe nyatakakadzraɖoƒe
Comment[el]=Το πρόγραμμα περιήγησης ιστού SeaMonkey
Comment[en]=SeaMonkey web browser
Comment[eo]=TTT-legilo SeaMonkey
Comment[es]=Navegador web SeaMonkey
Comment[et]=SeaMonkey veebibrauser
Comment[eu]=SeaMonkey web arakatzailea
Comment[fa]=SeaMonkey ﺏﻭ ﺮﮔﺭﻭﺮﻣ
Comment[fi]=SeaMonkey verkkoselain
Comment[fj]=Barausa ni mataveilawa ni SeaMonkey
Comment[fo]=SeaMonkey web browser
Comment[fr]=Navigateur Web SeaMonkey
Comment[fy]=SeaMonkey webbrowser
Comment[ga]=Brabhsálaí Gréasáin SeaMonkey
Comment[gd]=Brabhsair lìn SeaMonkey
Comment[gl]=Navegador web SeaMonkey
Comment[gn]=SeaMonkey kundahára web rehegua
Comment[gu]=SeaMonkey વેબ બ્રાઉઝર
Comment[ha]=SeaMonkey web browser
Comment[he]=SeaMonkey לש טנרטניא ןפדפד
Comment[hi]=SeaMonkey वेब ब्राउज़र
Comment[hr]=SeaMonkey web preglednik
Comment[ht]=navigatè entènèt SeaMonkey
Comment[hu]=SeaMonkey webböngésző
Comment[hy]=SeaMonkey վեբ զննարկիչ
Comment[id]=Peramban web SeaMonkey
Comment[ig]=SeaMonkey ihe nchọgharị weebụ
Comment[is]=SeaMonkey vefvafri
Comment[it]=Browser Web SeaMonkey
Comment[iu]=SeaMonkey web browser
Comment[ja]=SeaMonkey Web ブラウザ
Comment[jv]=Browser web SeaMonkey
Comment[ka]=SeaMonkey ვებ ბრაუზერი
Comment[kk]=SeaMonkey веб-шолғышы
Comment[km]=កម្មវិធីរុករកបណ្ដាញ SeaMonkey
Comment[kn]=ಸೀಮಂಕಿ ವೆಬ್ ಬ್ರೌಸರ್
Comment[ko]=SeaMonkey 웹 브라우저
Comment[ku]=Geroka webê ya SeaMonkey
Comment[ky]=SeaMonkey веб-браузери
Comment[la]=SeaMonkey web browser
Comment[lb]=SeaMonkey Webbrowser
Comment[lg]=SeaMonkey omukutu gwa yintaneeti
Comment[ln]=Navigateur web ya SeaMonkey
Comment[lo]=ຕົວທ່ອງເວັບຂອງ SeaMonkey
Comment[lt]=SeaMonkey interneto naršyklė
Comment[lv]=SeaMonkey tīmekļa pārlūkprogramma
Comment[mg]=SeaMonkey tranonkala navigateur
Comment[mi]=Kaitirotiro paetukutuku SeaMonkey
Comment[mk]=Веб прелистувач SeaMonkey
Comment[ml]=സീമങ്കി വെബ് ബ്രൗസർ
Comment[mn]=SeaMonkey вэб хөтөч
Comment[mr]=SeaMonkey वेब ब्राउझर
Comment[ms]=pelayar web SeaMonkey
Comment[mt]=Web browser SeaMonkey
Comment[my]=SeaMonkey ဝဘ်ဘရောက်ဆာ
Comment[ne]=SeaMonkey वेब ब्राउजर
Comment[nl]=SeaMonkey-webbrowser
Comment[no]=SeaMonkey nettleser
Comment[ny]=Msakatuli wa SeaMonkey
Comment[om]=Weeb biraawzari SeaMonkey
Comment[or]=SeaMonkey ୱେବ୍ ବ୍ରାଉଜର୍ |
Comment[pa]=SeaMonkey ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Comment[pl]=Przeglądarka internetowa SeaMonkey
Comment[ps]=SeaMonkey ﺭﺯﻭﺍﺮﺑ ﺐﯾﻭ
Comment[pt]=Navegador SeaMonkey
Comment[qu]=SeaMonkey web maskaq
Comment[ro]=Browser web SeaMonkey
Comment[ru]=Веб-браузер SeaMonkey
Comment[rw]=Urubuga rwa SeaMonkey
Comment[sa]=SeaMonkey जालपुटम्
Comment[sd]=SeaMonkey ﺭﺯﻮﺋﺍﺮﺑ ﺐﻳﻭ
Comment[si]=SeaMonkey වෙබ් බ්u200dරව්සරය
Comment[sk]=Webový prehliadač SeaMonkey
Comment[sl]=Spletni brskalnik SeaMonkey
Comment[sm]=SeaMonkey 'upega tafaʻilagi
Comment[sn]=SeaMonkey web browser
Comment[so]=SeaMonkey browser
Comment[sq]=Shfletuesi i internetit SeaMonkey
Comment[st]=SeaMonkey sebatli sa marang-rang
Comment[su]=browser wéb SeaMonkey
Comment[sv]=SeaMonkey webbläsare
Comment[sw]=Kivinjari cha wavuti cha SeaMonkey
Comment[ta]=SeaMonkey இணைய உலாவி
Comment[te]=SeaMonkey వెబ్ బ్రౌజర్
Comment[tg]=Браузери веб SeaMonkey
Comment[th]=เว็บเบราว์เซอร์ SeaMonkey
Comment[ti]=ሲሞንኪ መርበብ ሓበሬታ መርበብ ሓበሬታ
Comment[tk]=SeaMonkey web brauzeri
Comment[tl]=Web browser ng SeaMonkey
Comment[to]=SeaMonkey web browser
Comment[tr]=SeaMonkey web tarayıcısı
Comment[ts]=Xihlamusela-marito xa webu xa SeaMonkey
Comment[tt]=SeaMonkey веб-браузеры
Comment[tw]=SeaMonkey wɛb brawsa
Comment[ty]=SeaMonkey web browser
Comment[ug]=SeaMonkey ﯜﮔﺭﯚﻛﺭﻮﺗ
Comment[uk]=Веб-браузер SeaMonkey
Comment[ur]=SeaMonkey ﺭﺯﺅﺍﺮﺑ ﺐﯾﻭ
Comment[uz]=SeaMonkey veb-brauzer
Comment[vi]=Trình duyệt web SeaMonkey
Comment[xh]=Isikhangeli sewebhu seSeaMonkey
Comment[yi]=SeaMonkey רערעטעלב בעוו
Comment[yo]=SeaMonkey kiri lori ayelujara
Comment[zh]=SeaMonkey 网络浏览器
Comment[zu]=Isiphequluli sewebhu se-SeaMonkey
Comment=SeaMonkey web browser
Exec=mozilla
Terminal=false
Type=Application
Categories=X-Internet
GenericName=SeaMonkey web browser
