[Desktop Entry]
Encoding=UTF-8
Name[af]=SeaMonkey Composer html-redigeerder
Name[am]=SeaMonkey አቀናባሪ html አርታዒ
Name[ar]=HTML SeaMonkey Composer ﺭﺮﺤﻣ
Name[as]=SeaMonkey সুৰকাৰ html সম্পাদক
Name[ay]=SeaMonkey Composer ukax html ukan uñt’ayatawa
Name[az]=SeaMonkey Composer html redaktoru
Name[ba]=SeaMonkey Composer html мөхәррире
Name[be]=Рэдактар html SeaMonkey Composer
Name[bg]=SeaMonkey Composer html редактор
Name[bm]=SeaMonkey Composer html sɛbɛnnikɛlan
Name[bn]=SeaMonkey কম্পোজার html সম্পাদক
Name[bo]=SeaMonkey Composer html རྩོམ་སྒྲིག་པ།
Name[bs]=SeaMonkey Composer html editor
Name[ca]=Editor html de SeaMonkey Composer
Name[co]=Editore html di SeaMonkey Composer
Name[cs]=HTML editor SeaMonkey Composer
Name[cy]=Golygydd html SeaMonkey Composer
Name[da]=SeaMonkey Composer html editor
Name[de]=SeaMonkey Composer HTML-Editor
Name[dv]=ރޓަޑިއެ html ރސަޕޯމްކޮ ކީންމަސީ
Name[ee]=SeaMonkey Hakpanyaŋlɔla html nuŋlɔla
Name[el]=Επεξεργαστής html SeaMonkey Composer
Name[en]=SeaMonkey Composer html editor
Name[eo]=SeaMonkey Composer html-redaktilo
Name[es]=Editor html SeaMonkey Composer
Name[et]=SeaMonkey Composeri html-redaktor
Name[eu]=SeaMonkey Composer html editorea
Name[fa]=html SeaMonkey Composer ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=SeaMonkey Composer html-editori
Name[fj]=SeaMonkey Vulica html Edita
Name[fo]=SeaMonkey Composer html editor
Name[fr]=Éditeur HTML SeaMonkey Composer
Name[fy]=SeaMonkey Composer HTML-bewurker
Name[ga]=Eagarthóir html SeaMonkey Composer
Name[gd]=Deasaiche html SeaMonkey Composer
Name[gl]=Editor html de SeaMonkey Composer
Name[gn]=SeaMonkey Composer html mohendaha
Name[gu]=SeaMonkey રચયિતા html સંપાદક
Name[ha]=Mawakin SeaMonkey html editan
Name[he]=SeaMonkey Composer לש html ךרוע
Name[hi]=SeaMonkey संगीतकार html संपादक
Name[hr]=SeaMonkey Composer html uređivač
Name[ht]=Editè html SeaMonkey Composer
Name[hu]=SeaMonkey Composer html szerkesztő
Name[hy]=SeaMonkey Composer html խմբագիր
Name[id]=Editor html Komposer SeaMonkey
Name[ig]=SeaMonkey Composer HTML nchịkọta akụkọ
Name[is]=SeaMonkey Composer HTML ritstjóri
Name[it]=Editor html di SeaMonkey Composer
Name[iu]=ᓵᒨᓂ ᑳᒻᐳ Html ᑎᑎᕋᖅᑎ
Name[ja]=SeaMonkey Composer HTML エディター
Name[jv]=SeaMonkey Composer html editor
Name[ka]=SeaMonkey Composer html რედაქტორი
Name[kk]=SeaMonkey Composer html редакторы
Name[km]=កម្មវិធីនិពន្ធ html របស់ SeaMonkey Composer
Name[kn]=ಸೀಮಂಕಿ ಸಂಯೋಜಕ html ಸಂಪಾದಕ
Name[ko]=SeaMonkey Composer HTML 편집기
Name[ku]=edîtorê html SeaMonkey Composer
Name[ky]=SeaMonkey Composer html редактору
Name[la]=SeaMonkey Composer HTML editor
Name[lb]=SeaMonkey Composer HTML Editor
Name[lg]=SeaMonkey Omuyimbi omuwandiisi wa html
Name[ln]=SeaMonkey Composer html mobongisi ya html
Name[lo]=SeaMonkey Composer html ບັນນາທິການ
Name[lt]=SeaMonkey Composer html redaktorius
Name[lv]=SeaMonkey Composer html redaktors
Name[mg]=SeaMonkey Composer html editor
Name[mi]=SeaMonkey Composer html ētita
Name[mk]=SeaMonkey Composer HTML уредник
Name[ml]=സീമങ്കി കമ്പോസർ html എഡിറ്റർ
Name[mn]=SeaMonkey Composer html засварлагч
Name[mr]=SeaMonkey संगीतकार html संपादक
Name[ms]=Editor html Komposer SeaMonkey
Name[mt]=Editur html tal-Kompożitur SeaMonkey
Name[my]=SeaMonkey Composer html တည်းဖြတ်သူ
Name[ne]=SeaMonkey कम्पोजर html सम्पादक
Name[nl]=SeaMonkey Composer html-editor
Name[no]=SeaMonkey Composer html editor
Name[ny]=SeaMonkey Composer html mkonzi
Name[om]=Gulaalaa html Qindeessituu SeaMonkey
Name[or]=SeaMonkey ରଚନା html ସମ୍ପାଦକ |
Name[pa]=SeaMonkey ਕੰਪੋਜ਼ਰ html ਸੰਪਾਦਕ
Name[pl]=Edytor html SeaMonkey Composer
Name[ps]=ﺮﯾﺪﻣ html ﺭﺯﻮﭙﻤﮐ SeaMonkey ﺩ
Name[pt]=Editor html do SeaMonkey Composer
Name[qu]=SeaMonkey Composer html allichaq
Name[ro]=Editor html SeaMonkey Composer
Name[ru]=HTML-редактор SeaMonkey Composer
Name[rw]=InyanjaMonkey Composer html umwanditsi
Name[sa]=SeaMonkey Composer html सम्पादक
Name[sd]=SeaMonkey ﺭﺯﻮﭙﻤڪ html ﺮٽﻳڊﻳﺍ
Name[si]=SeaMonkey Composer html සංස්කාරකය
Name[sk]=HTML editor SeaMonkey Composer
Name[sl]=Urejevalnik html SeaMonkey Composer
Name[sm]=SeaMonkey Composer html faatonu
Name[sn]=SeaMonkey Composer html mupepeti
Name[so]=Laxanka SeaMonkey html tifaftiraha
Name[sq]=Redaktori html SeaMonkey Composer
Name[st]=SeaMonkey Composer html mohlophisi
Name[su]=Redaktur html SeaMonkey Composer
Name[sv]=SeaMonkey Composer html-redigerare
Name[sw]=Mhariri wa html ya Mtunzi wa SeaMonkey
Name[ta]=SeaMonkey இசையமைப்பாளர் html எடிட்டர்
Name[te]=సీమంకీ కంపోజర్ html ఎడిటర్
Name[tg]=Муҳаррири html SeaMonkey Composer
Name[th]=ตัวแก้ไข html ของ SeaMonkey Composer
Name[ti]=ሲሞንኪ ኮምፖዘር html ኤዲተር
Name[tk]=SeaMonkey Composer html redaktory
Name[tl]=SeaMonkey Composer html editor
Name[to]=SeaMonkey ʻetita html
Name[tr]=SeaMonkey Composer html düzenleyicisi
Name[ts]=SeaMonkey Muqambhi wa html muhleri
Name[tt]=SeaMonkey Composer html редакторы
Name[tw]=SeaMonkey Ɔhyehyɛfo html samufo
Name[ty]=SeaMonkey Composer html editor
Name[ug]=SeaMonkey Composer html ﻯﺮﯨﺮﮬەﺗ
Name[uk]=Редактор html SeaMonkey Composer
Name[ur]=SeaMonkey ﺭﺯﻮﭙﻤﮐ html ﺮﭩﯾﮉﯾﺍ
Name[uz]=SeaMonkey Composer html muharriri
Name[vi]=Trình soạn thảo html SeaMonkey Composer
Name[xh]=SeaMonkey Umqambi html umhleli
Name[yi]=HTML ןופ ראָטקאַדער SeaMonkey Composer
Name[yo]=SeaMonkey Olupilẹṣẹ html olootu
Name[zh]=SeaMonkey Composer html 编辑器
Name[zu]=SeaMonkey Composer html umhleli
Name=SeaMonkey Composer html editor
Icon=seamonkey16.xpm
Comment[af]=SeaMonkey Composer html-redigeerder
Comment[am]=SeaMonkey አቀናባሪ html አርታዒ
Comment[ar]=HTML SeaMonkey Composer ﺭﺮﺤﻣ
Comment[as]=SeaMonkey সুৰকাৰ html সম্পাদক
Comment[ay]=SeaMonkey Composer ukax html ukan uñt’ayatawa
Comment[az]=SeaMonkey Composer html redaktoru
Comment[ba]=SeaMonkey Composer html мөхәррире
Comment[be]=Рэдактар html SeaMonkey Composer
Comment[bg]=SeaMonkey Composer html редактор
Comment[bm]=SeaMonkey Composer html sɛbɛnnikɛlan
Comment[bn]=SeaMonkey কম্পোজার html সম্পাদক
Comment[bo]=SeaMonkey Composer html རྩོམ་སྒྲིག་པ།
Comment[bs]=SeaMonkey Composer html editor
Comment[ca]=Editor html de SeaMonkey Composer
Comment[co]=Editore html di SeaMonkey Composer
Comment[cs]=HTML editor SeaMonkey Composer
Comment[cy]=Golygydd html SeaMonkey Composer
Comment[da]=SeaMonkey Composer html editor
Comment[de]=SeaMonkey Composer HTML-Editor
Comment[dv]=ރޓަޑިއެ html ރސަޕޯމްކޮ ކީންމަސީ
Comment[ee]=SeaMonkey Hakpanyaŋlɔla html nuŋlɔla
Comment[el]=Επεξεργαστής html SeaMonkey Composer
Comment[en]=SeaMonkey Composer html editor
Comment[eo]=SeaMonkey Composer html-redaktilo
Comment[es]=Editor html SeaMonkey Composer
Comment[et]=SeaMonkey Composeri html-redaktor
Comment[eu]=SeaMonkey Composer html editorea
Comment[fa]=html SeaMonkey Composer ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=SeaMonkey Composer html-editori
Comment[fj]=SeaMonkey Vulica html Edita
Comment[fo]=SeaMonkey Composer html editor
Comment[fr]=Éditeur HTML SeaMonkey Composer
Comment[fy]=SeaMonkey Composer HTML-bewurker
Comment[ga]=Eagarthóir html SeaMonkey Composer
Comment[gd]=Deasaiche html SeaMonkey Composer
Comment[gl]=Editor html de SeaMonkey Composer
Comment[gn]=SeaMonkey Composer html mohendaha
Comment[gu]=SeaMonkey રચયિતા html સંપાદક
Comment[ha]=Mawakin SeaMonkey html editan
Comment[he]=SeaMonkey Composer לש html ךרוע
Comment[hi]=SeaMonkey संगीतकार html संपादक
Comment[hr]=SeaMonkey Composer html uređivač
Comment[ht]=Editè html SeaMonkey Composer
Comment[hu]=SeaMonkey Composer html szerkesztő
Comment[hy]=SeaMonkey Composer html խմբագիր
Comment[id]=Editor html Komposer SeaMonkey
Comment[ig]=SeaMonkey Composer HTML nchịkọta akụkọ
Comment[is]=SeaMonkey Composer HTML ritstjóri
Comment[it]=Editor html di SeaMonkey Composer
Comment[iu]=ᓵᒨᓂ ᑳᒻᐳ Html ᑎᑎᕋᖅᑎ
Comment[ja]=SeaMonkey Composer HTML エディター
Comment[jv]=SeaMonkey Composer html editor
Comment[ka]=SeaMonkey Composer html რედაქტორი
Comment[kk]=SeaMonkey Composer html редакторы
Comment[km]=កម្មវិធីនិពន្ធ html របស់ SeaMonkey Composer
Comment[kn]=ಸೀಮಂಕಿ ಸಂಯೋಜಕ html ಸಂಪಾದಕ
Comment[ko]=SeaMonkey Composer HTML 편집기
Comment[ku]=edîtorê html SeaMonkey Composer
Comment[ky]=SeaMonkey Composer html редактору
Comment[la]=SeaMonkey Composer HTML editor
Comment[lb]=SeaMonkey Composer HTML Editor
Comment[lg]=SeaMonkey Omuyimbi omuwandiisi wa html
Comment[ln]=SeaMonkey Composer html mobongisi ya html
Comment[lo]=SeaMonkey Composer html ບັນນາທິການ
Comment[lt]=SeaMonkey Composer html redaktorius
Comment[lv]=SeaMonkey Composer html redaktors
Comment[mg]=SeaMonkey Composer html editor
Comment[mi]=SeaMonkey Composer html ētita
Comment[mk]=SeaMonkey Composer HTML уредник
Comment[ml]=സീമങ്കി കമ്പോസർ html എഡിറ്റർ
Comment[mn]=SeaMonkey Composer html засварлагч
Comment[mr]=SeaMonkey संगीतकार html संपादक
Comment[ms]=Editor html Komposer SeaMonkey
Comment[mt]=Editur html tal-Kompożitur SeaMonkey
Comment[my]=SeaMonkey Composer html တည်းဖြတ်သူ
Comment[ne]=SeaMonkey कम्पोजर html सम्पादक
Comment[nl]=SeaMonkey Composer html-editor
Comment[no]=SeaMonkey Composer html editor
Comment[ny]=SeaMonkey Composer html mkonzi
Comment[om]=Gulaalaa html Qindeessituu SeaMonkey
Comment[or]=SeaMonkey ରଚନା html ସମ୍ପାଦକ |
Comment[pa]=SeaMonkey ਕੰਪੋਜ਼ਰ html ਸੰਪਾਦਕ
Comment[pl]=Edytor html SeaMonkey Composer
Comment[ps]=ﺮﯾﺪﻣ html ﺭﺯﻮﭙﻤﮐ SeaMonkey ﺩ
Comment[pt]=Editor html do SeaMonkey Composer
Comment[qu]=SeaMonkey Composer html allichaq
Comment[ro]=Editor html SeaMonkey Composer
Comment[ru]=HTML-редактор SeaMonkey Composer
Comment[rw]=InyanjaMonkey Composer html umwanditsi
Comment[sa]=SeaMonkey Composer html सम्पादक
Comment[sd]=SeaMonkey ﺭﺯﻮﭙﻤڪ html ﺮٽﻳڊﻳﺍ
Comment[si]=SeaMonkey Composer html සංස්කාරකය
Comment[sk]=HTML editor SeaMonkey Composer
Comment[sl]=Urejevalnik html SeaMonkey Composer
Comment[sm]=SeaMonkey Composer html faatonu
Comment[sn]=SeaMonkey Composer html mupepeti
Comment[so]=Laxanka SeaMonkey html tifaftiraha
Comment[sq]=Redaktori html SeaMonkey Composer
Comment[st]=SeaMonkey Composer html mohlophisi
Comment[su]=Redaktur html SeaMonkey Composer
Comment[sv]=SeaMonkey Composer html-redigerare
Comment[sw]=Mhariri wa html ya Mtunzi wa SeaMonkey
Comment[ta]=SeaMonkey இசையமைப்பாளர் html எடிட்டர்
Comment[te]=సీమంకీ కంపోజర్ html ఎడిటర్
Comment[tg]=Муҳаррири html SeaMonkey Composer
Comment[th]=ตัวแก้ไข html ของ SeaMonkey Composer
Comment[ti]=ሲሞንኪ ኮምፖዘር html ኤዲተር
Comment[tk]=SeaMonkey Composer html redaktory
Comment[tl]=SeaMonkey Composer html editor
Comment[to]=SeaMonkey ʻetita html
Comment[tr]=SeaMonkey Composer html düzenleyicisi
Comment[ts]=SeaMonkey Muqambhi wa html muhleri
Comment[tt]=SeaMonkey Composer html редакторы
Comment[tw]=SeaMonkey Ɔhyehyɛfo html samufo
Comment[ty]=SeaMonkey Composer html editor
Comment[ug]=SeaMonkey Composer html ﻯﺮﯨﺮﮬەﺗ
Comment[uk]=Редактор html SeaMonkey Composer
Comment[ur]=SeaMonkey ﺭﺯﻮﭙﻤﮐ html ﺮﭩﯾﮉﯾﺍ
Comment[uz]=SeaMonkey Composer html muharriri
Comment[vi]=Trình soạn thảo html SeaMonkey Composer
Comment[xh]=SeaMonkey Umqambi html umhleli
Comment[yi]=HTML ןופ ראָטקאַדער SeaMonkey Composer
Comment[yo]=SeaMonkey Olupilẹṣẹ html olootu
Comment[zh]=SeaMonkey Composer html 编辑器
Comment[zu]=SeaMonkey Composer html umhleli
Comment=SeaMonkey Composer html editor
Exec=mozedit
Terminal=false
Type=Application
Categories=X-Document
GenericName=SeaMonkey Composer html editor
