[Desktop Entry]
Encoding=UTF-8
Name[af]=SeaMonkey-adresboek
Name[am]=SeaMonkey አድራሻ ደብተር
Name[ar]=SeaMonkey ﻦﻳﻭﺎﻨﻋ ﺮﺘﻓﺩ
Name[as]=SeaMonkey ঠিকনা পুথি
Name[ay]=SeaMonkey ukax mä qillqat uñt’ayatawa
Name[az]=SeaMonkey Ünvan Kitabı
Name[ba]=SeaMonkey Адрес китабы
Name[be]=Адрасная кніга SeaMonkey
Name[bg]=Адресна книга на SeaMonkey
Name[bm]=SeaMonkey ka ladɛrɛsi gafe
Name[bn]=সীমঙ্কি অ্যাড্রেসবুক
Name[bo]=མཚོ་འགྲུལ་བོང་བུའི་སྡོད་གནས་དཔེ་དེབ།
Name[bs]=SeaMonkey adresar
Name[ca]=Llibreta d'adreces de SeaMonkey
Name[co]=SeaMonkey Addressbook
Name[cs]=Adresář SeaMonkey
Name[cy]=Llyfr Cyfeiriadau SeaMonkey
Name[da]=SeaMonkey adressebog
Name[de]=SeaMonkey-Adressbuch
Name[dv]=ތްފޮސްރެޑްއެ ކީންމަސީ
Name[ee]=SeaMonkey ƒe Adrɛsgbalẽ
Name[el]=Βιβλίο διευθύνσεων SeaMonkey
Name[en]=SeaMonkey Addressbook
Name[eo]=SeaMonkey Adreslibro
Name[es]=Libreta de direcciones de SeaMonkey
Name[et]=SeaMonkey aadressiraamat
Name[eu]=SeaMonkey helbide-liburua
Name[fa]=SeaMonkey ﺱﺭﺩﺁ ﻪﭼﺮﺘﻓﺩ
Name[fi]=SeaMonkey-osoitekirja
Name[fj]=SeaMonkey Addressbook
Name[fo]=SeaMonkey Addressbook
Name[fr]=Carnet d'adresses SeaMonkey
Name[fy]=SeaMonkey adresboek
Name[ga]=Leabhar Seoltaí SeaMonkey
Name[gd]=Leabhar seòlaidhean SeaMonkey
Name[gl]=Axenda de enderezos SeaMonkey
Name[gn]=SeaMonkey Ñe’ẽryru
Name[gu]=સીમંકી એડ્રેસબુક
Name[ha]=Littafin adireshi na SeaMonkey
Name[he]=SeaMonkey לש תובותכה רפס
Name[hi]=सीमंकी एड्रेसबुक
Name[hr]=SeaMonkey adresar
Name[ht]=Liv adrès SeaMonkey
Name[hu]=SeaMonkey címjegyzék
Name[hy]=SeaMonkey Հասցեագիրք
Name[id]=Buku Alamat SeaMonkey
Name[ig]=Akwụkwọ adreesị SeaMonkey
Name[is]=SeaMonkey heimilisfangabók
Name[it]=Rubrica SeaMonkey
Name[iu]=SeaMonkey Addressbook
Name[ja]=SeaMonkey アドレス帳
Name[jv]=SeaMonkey Addressbook
Name[ka]=SeaMonkey მისამართების წიგნი
Name[kk]=SeaMonkey мекенжай кітабы
Name[km]=សៀវភៅអាសយដ្ឋាន SeaMonkey
Name[kn]=ಸೀಮಂಕಿ ವಿಳಾಸ ಪುಸ್ತಕ
Name[ko]=씨몽키 주소록
Name[ku]=Navnîşana SeaMonkey
Name[ky]=SeaMonkey дарек китеби
Name[la]=SeaMonkey Addressbook
Name[lb]=SeaMonkey Adressbuch
Name[lg]=SeaMonkey Ekitabo ky'Endagiriro
Name[ln]=Buku ya ba adresse ya SeaMonkey
Name[lo]=ປື້ມທີ່ຢູ່ SeaMonkey
Name[lt]=SeaMonkey adresų knyga
Name[lv]=SeaMonkey adrešu grāmata
Name[mg]=SeaMonkey Addressbook
Name[mi]=Puka korero a SeaMonkey
Name[mk]=Адресар на SeaMonkey
Name[ml]=സീമങ്കി വിലാസ പുസ്തകം
Name[mn]=SeaMonkey хаягийн дэвтэр
Name[mr]=सीमँकी अॅड्रेसबुक
Name[ms]=Buku Alamat SeaMonkey
Name[mt]=Ktieb tal-Indirizzi SeaMonkey
Name[my]=SeaMonkey လိပ်စာစာအုပ်
Name[ne]=SeaMonkey ठेगाना पुस्तिका
Name[nl]=SeaMonkey-adresboek
Name[no]=SeaMonkey adressebok
Name[ny]=SeaMonkey Addressbook
Name[om]=Kitaaba Teessoo SeaMonkey
Name[or]=SeaMonkey ଠିକଣା ପୁସ୍ତକ |
Name[pa]=SeaMonkey ਐਡਰੈੱਸਬੁੱਕ
Name[pl]=Książka adresowa SeaMonkey
Name[ps]=ﺏﺎﺘﮐ ﻪﺘﭘ SeaMonkey ﺩ
Name[pt]=Livro de endereços do SeaMonkey
Name[qu]=SeaMonkey Dirección nisqa qillqa
Name[ro]=Agenda SeaMonkey
Name[ru]=Адресная книга SeaMonkey
Name[rw]=Igitabo cyandikirwa mu nyanja
Name[sa]=SeaMonkey पतापुस्तिका
Name[sd]=SeaMonkey ڪﺑ ﺲﻳﺭڊﻳﺍ
Name[si]=SeaMonkey ලිපින පොත
Name[sk]=Adresár SeaMonkey
Name[sl]=Imenik SeaMonkey
Name[sm]=SeaMonkey Tusitala
Name[sn]=SeaMonkey Addressbook
Name[so]=SeaMonkey Cinwaanka
Name[sq]=Libri i adresave SeaMonkey
Name[st]=Buka ea liaterese ea SeaMonkey
Name[su]=Buku Alamat SeaMonkey
Name[sv]=SeaMonkey adressbok
Name[sw]=Kitabu cha Anwani za SeaMonkey
Name[ta]=SeaMonkey முகவரி புத்தகம்
Name[te]=SeaMonkey చిరునామా పుస్తకం
Name[tg]=Китобчаи суроғаи SeaMonkey
Name[th]=สมุดที่อยู่ SeaMonkey
Name[ti]=መጽሓፍ ኣድራሻታት ሲሞንኪ
Name[tk]=SeaMonkey Salgy kitaby
Name[tl]=Addressbook ng SeaMonkey
Name[to]=SeaMonkey Addressbook
Name[tr]=SeaMonkey Adres Defteri
Name[ts]=Buku ya Tiadirese ya SeaMonkey
Name[tt]=SeaMonkey адрес китабы
Name[tw]=SeaMonkey Address Nhoma a Wɔde Di Dwuma
Name[ty]=SeaMonkey Addressbook
Name[ug]=SeaMonkey ﻯﺮﯩﺘﭘەﺩ ﺲﯦﺭﺩﺎﺋ
Name[uk]=Адресна книга SeaMonkey
Name[ur]=SeaMonkey ﮏﺑ ﺲﯾﺭﮉﯾﺍ
Name[uz]=SeaMonkey manzillar kitobi
Name[vi]=Sổ địa chỉ SeaMonkey
Name[xh]=Incwadi yeedilesi zeSeaMonkey
Name[yi]=SeaMonkey קאָאָבסערדאַ
Name[yo]=SeaMonkey Addressbook
Name[zh]=海猴地址簿
Name[zu]=Incwadi Yekheli Ye-SeaMonkey
Name=SeaMonkey Addressbook
Icon=seamonkey16.xpm
Comment[af]=SeaMonkey-adresboek
Comment[am]=SeaMonkey አድራሻ ደብተር
Comment[ar]=SeaMonkey ﻦﻳﻭﺎﻨﻋ ﺮﺘﻓﺩ
Comment[as]=SeaMonkey ঠিকনা পুথি
Comment[ay]=SeaMonkey ukax mä qillqat uñt’ayatawa
Comment[az]=SeaMonkey Ünvan Kitabı
Comment[ba]=SeaMonkey Адрес китабы
Comment[be]=Адрасная кніга SeaMonkey
Comment[bg]=Адресна книга на SeaMonkey
Comment[bm]=SeaMonkey ka ladɛrɛsi gafe
Comment[bn]=সীমঙ্কি অ্যাড্রেসবুক
Comment[bo]=མཚོ་འགྲུལ་བོང་བུའི་སྡོད་གནས་དཔེ་དེབ།
Comment[bs]=SeaMonkey adresar
Comment[ca]=Llibreta d'adreces de SeaMonkey
Comment[co]=SeaMonkey Addressbook
Comment[cs]=Adresář SeaMonkey
Comment[cy]=Llyfr Cyfeiriadau SeaMonkey
Comment[da]=SeaMonkey adressebog
Comment[de]=SeaMonkey-Adressbuch
Comment[dv]=ތްފޮސްރެޑްއެ ކީންމަސީ
Comment[ee]=SeaMonkey ƒe Adrɛsgbalẽ
Comment[el]=Βιβλίο διευθύνσεων SeaMonkey
Comment[en]=SeaMonkey Addressbook
Comment[eo]=SeaMonkey Adreslibro
Comment[es]=Libreta de direcciones de SeaMonkey
Comment[et]=SeaMonkey aadressiraamat
Comment[eu]=SeaMonkey helbide-liburua
Comment[fa]=SeaMonkey ﺱﺭﺩﺁ ﻪﭼﺮﺘﻓﺩ
Comment[fi]=SeaMonkey-osoitekirja
Comment[fj]=SeaMonkey Addressbook
Comment[fo]=SeaMonkey Addressbook
Comment[fr]=Carnet d'adresses SeaMonkey
Comment[fy]=SeaMonkey adresboek
Comment[ga]=Leabhar Seoltaí SeaMonkey
Comment[gd]=Leabhar seòlaidhean SeaMonkey
Comment[gl]=Axenda de enderezos SeaMonkey
Comment[gn]=SeaMonkey Ñe’ẽryru
Comment[gu]=સીમંકી એડ્રેસબુક
Comment[ha]=Littafin adireshi na SeaMonkey
Comment[he]=SeaMonkey לש תובותכה רפס
Comment[hi]=सीमंकी एड्रेसबुक
Comment[hr]=SeaMonkey adresar
Comment[ht]=Liv adrès SeaMonkey
Comment[hu]=SeaMonkey címjegyzék
Comment[hy]=SeaMonkey Հասցեագիրք
Comment[id]=Buku Alamat SeaMonkey
Comment[ig]=Akwụkwọ adreesị SeaMonkey
Comment[is]=SeaMonkey heimilisfangabók
Comment[it]=Rubrica SeaMonkey
Comment[iu]=SeaMonkey Addressbook
Comment[ja]=SeaMonkey アドレス帳
Comment[jv]=SeaMonkey Addressbook
Comment[ka]=SeaMonkey მისამართების წიგნი
Comment[kk]=SeaMonkey мекенжай кітабы
Comment[km]=សៀវភៅអាសយដ្ឋាន SeaMonkey
Comment[kn]=ಸೀಮಂಕಿ ವಿಳಾಸ ಪುಸ್ತಕ
Comment[ko]=씨몽키 주소록
Comment[ku]=Navnîşana SeaMonkey
Comment[ky]=SeaMonkey дарек китеби
Comment[la]=SeaMonkey Addressbook
Comment[lb]=SeaMonkey Adressbuch
Comment[lg]=SeaMonkey Ekitabo ky'Endagiriro
Comment[ln]=Buku ya ba adresse ya SeaMonkey
Comment[lo]=ປື້ມທີ່ຢູ່ SeaMonkey
Comment[lt]=SeaMonkey adresų knyga
Comment[lv]=SeaMonkey adrešu grāmata
Comment[mg]=SeaMonkey Addressbook
Comment[mi]=Puka korero a SeaMonkey
Comment[mk]=Адресар на SeaMonkey
Comment[ml]=സീമങ്കി വിലാസ പുസ്തകം
Comment[mn]=SeaMonkey хаягийн дэвтэр
Comment[mr]=सीमँकी अॅड्रेसबुक
Comment[ms]=Buku Alamat SeaMonkey
Comment[mt]=Ktieb tal-Indirizzi SeaMonkey
Comment[my]=SeaMonkey လိပ်စာစာအုပ်
Comment[ne]=SeaMonkey ठेगाना पुस्तिका
Comment[nl]=SeaMonkey-adresboek
Comment[no]=SeaMonkey adressebok
Comment[ny]=SeaMonkey Addressbook
Comment[om]=Kitaaba Teessoo SeaMonkey
Comment[or]=SeaMonkey ଠିକଣା ପୁସ୍ତକ |
Comment[pa]=SeaMonkey ਐਡਰੈੱਸਬੁੱਕ
Comment[pl]=Książka adresowa SeaMonkey
Comment[ps]=ﺏﺎﺘﮐ ﻪﺘﭘ SeaMonkey ﺩ
Comment[pt]=Livro de endereços do SeaMonkey
Comment[qu]=SeaMonkey Dirección nisqa qillqa
Comment[ro]=Agenda SeaMonkey
Comment[ru]=Адресная книга SeaMonkey
Comment[rw]=Igitabo cyandikirwa mu nyanja
Comment[sa]=SeaMonkey पतापुस्तिका
Comment[sd]=SeaMonkey ڪﺑ ﺲﻳﺭڊﻳﺍ
Comment[si]=SeaMonkey ලිපින පොත
Comment[sk]=Adresár SeaMonkey
Comment[sl]=Imenik SeaMonkey
Comment[sm]=SeaMonkey Tusitala
Comment[sn]=SeaMonkey Addressbook
Comment[so]=SeaMonkey Cinwaanka
Comment[sq]=Libri i adresave SeaMonkey
Comment[st]=Buka ea liaterese ea SeaMonkey
Comment[su]=Buku Alamat SeaMonkey
Comment[sv]=SeaMonkey adressbok
Comment[sw]=Kitabu cha Anwani za SeaMonkey
Comment[ta]=SeaMonkey முகவரி புத்தகம்
Comment[te]=SeaMonkey చిరునామా పుస్తకం
Comment[tg]=Китобчаи суроғаи SeaMonkey
Comment[th]=สมุดที่อยู่ SeaMonkey
Comment[ti]=መጽሓፍ ኣድራሻታት ሲሞንኪ
Comment[tk]=SeaMonkey Salgy kitaby
Comment[tl]=Addressbook ng SeaMonkey
Comment[to]=SeaMonkey Addressbook
Comment[tr]=SeaMonkey Adres Defteri
Comment[ts]=Buku ya Tiadirese ya SeaMonkey
Comment[tt]=SeaMonkey адрес китабы
Comment[tw]=SeaMonkey Address Nhoma a Wɔde Di Dwuma
Comment[ty]=SeaMonkey Addressbook
Comment[ug]=SeaMonkey ﻯﺮﯩﺘﭘەﺩ ﺲﯦﺭﺩﺎﺋ
Comment[uk]=Адресна книга SeaMonkey
Comment[ur]=SeaMonkey ﮏﺑ ﺲﯾﺭﮉﯾﺍ
Comment[uz]=SeaMonkey manzillar kitobi
Comment[vi]=Sổ địa chỉ SeaMonkey
Comment[xh]=Incwadi yeedilesi zeSeaMonkey
Comment[yi]=SeaMonkey קאָאָבסערדאַ
Comment[yo]=SeaMonkey Addressbook
Comment[zh]=海猴地址簿
Comment[zu]=Incwadi Yekheli Ye-SeaMonkey
Comment=SeaMonkey Addressbook
Exec=mozaddressbook
Terminal=false
Type=Application
Categories=X-Personal
GenericName=SeaMonkey Addressbook
