[Desktop Entry]
Encoding=UTF-8
Name[af]=mtPaint-kiekie skermopname
Name[am]=mtPaint-snapshot ስክሪን ቀረጻ
Name[ar]=mtPaint ﺔﺷﺎﺷ ﺔﻄﻘﻟ
Name[as]=mtPaint-স্নেপশ্বট পৰ্দা কেপচাৰ
Name[ay]=mtPaint-snapshot pantalla uñacht’ayaña
Name[az]=mtPaint-snapshot ekran görüntüsü
Name[ba]=mtPaint-snapshot экранға төшөрөү
Name[be]=Здымак экрана mtPaint-snapshot
Name[bg]=mtPaint-моментна снимка на екрана
Name[bm]=mtPaint-snapshot ekran minɛcogo
Name[bn]=mtPaint-স্ন্যাপশট স্ক্রিন ক্যাপচার
Name[bo]=mtPaint-snapshot screen capture
Name[bs]=mtPaint-snapshot screen capture
Name[ca]=captura de pantalla mtPaint-snapshot
Name[co]=cattura di schermu mtPaint-snapshot
Name[cs]=mtPaint-snímek obrazovky
Name[cy]=mtPaint-ciplun cipio sgrin
Name[da]=mtPaint-snapshot skærmbillede
Name[de]=mtPaint-Snapshot-Bildschirmaufnahme
Name[dv]=mtPaint-ރޗާޕްކެ ންރީކްސް ޓްޝޮޕްނެސް
Name[ee]=mtPaint-snapshot ƒe screen léle
Name[el]=Λήψη οθόνης mtPaint-snapshot
Name[eo]=mtPaint-snapshot ekrankapto
Name[es]=captura de pantalla mtPaint-snapshot
Name[et]=mtPaint-hetktõmmise ekraani jäädvustamine
Name[eu]=mtPaint-snapshot pantaila-harrapaketa
Name[fa]=mtPaint-snapshot ﻪﺤﻔﺻ ﻂﺒﺿ
Name[fi]=mtPaint-snapshot-kuvakaappaus
Name[fj]=mtPaint-iyaloyalo ni sikirini toboka
Name[fo]=mtPaint-snapshot screen capture
Name[fr]=Capture d'écran mtPaint-instantané
Name[fy]=mtPaint-snapshot skerm opname
Name[ga]=mtPaint-gabháil scáileáin seat
Name[gd]=glacadh-sgrìn mtPaint-snapshot
Name[gl]=Captura de pantalla mtPaint-snapshot
Name[gn]=mtPaint-snapshot pantalla jegueraha
Name[gu]=mtPaint-સ્નેપશોટ સ્ક્રીન કેપ્ચર
Name[ha]=mtPaint-snapshot allon kama
Name[he]=mtPaint-ךסמ םוליצ
Name[hi]=एमटीपेंट-स्नैपशॉट स्क्रीन कैप्चर
Name[hr]=mtPaint-snimak zaslona
Name[ht]=mtPaint-snapshot kaptire ekran
Name[hu]=mtPaint-pillanatfelvétel képernyőfelvétel
Name[hy]=mtPaint-snapshot էկրանի նկարահանում
Name[id]=tangkapan layar mtPaint-snapshot
Name[ig]=mtPaint-snapshot ihuenyo weghara
Name[is]=mtPaint-snapshot skjámyndataka
Name[it]=cattura dello schermo mtPaint-snapshot
Name[iu]=mtPaint-snapshot ᐃᒐᓚᐅᔭᕐᒥ ᐱᔭᐅᓂᖅ
Name[ja]=mtPaint-スナップショットのスクリーン キャプチャ
Name[jv]=motret layar mtPaint-snapshot
Name[ka]=mtPaint-snapshot ეკრანის გადაღება
Name[kk]=mtPaint-скриншотты түсіру
Name[km]=ការចាប់យកអេក្រង់ mtPaint-snapshot
Name[kn]=mtPaint-ಸ್ನ್ಯಾಪ್u200cಶಾಟ್ ಸ್ಕ್ರೀನ್ ಕ್ಯಾಪ್ಚರ್
Name[ko]="mtPaint-스냅샷 화면 캡처"
Name[ku]=Girtina dîmendera mtPaint-snapshot
Name[ky]=mtPaint-снапшот экранга түшүрүү
Name[la]=mtPaint-snapshot screen captis
Name[lb]=mtPaint-Snapshot Écran Capture
Name[lg]=mtPaint-okukwata ekifaananyi ku screen
Name[ln]=mtPaint-kanga ya écran ya instantané
Name[lo]=ການຈັບພາບຫນ້າຈໍ mtPaint-snapshot
Name[lt]=„mtPaint“ momentinės nuotraukos ekrano fiksavimas
Name[lv]=mtPaint momentuzņēmuma ekrāna tveršana
Name[mg]=mtPaint-snapshot sary fakana sary
Name[mi]=mtPaint-snapshot hopu mata
Name[mk]=mtPaint-снимање на екранот
Name[ml]=mtPaint-snapshot സ്u200cക്രീൻ ക്യാപ്u200cചർ
Name[mn]=mtPaint-snapshot дэлгэцийн зураг авах
Name[mr]=mtPaint-स्नॅपशॉट स्क्रीन कॅप्चर
Name[ms]=tangkapan skrin mtPaint-snapshot
Name[mt]=qbid tal-iskrin mtPaint-snapshot
Name[my]=mtPaint-snapshot မျက်နှာပြင် ဖမ်းယူမှု
Name[ne]=mtPaint-स्न्यापसट स्क्रिन क्याप्चर
Name[nl]=mtPaint-snapshot schermopname
Name[no]=mtPaint-snapshot skjermbilde
Name[ny]=mtPaint-snapshot skrini yojambula
Name[om]=mtPaint-snapshot qabachuu iskiriinii
Name[or]=mtPaint-snapshot ସ୍କ୍ରିନ୍ କ୍ୟାପଚର୍ |
Name[pa]=mtPaint-ਸਨੈਪਸ਼ਾਟ ਸਕ੍ਰੀਨ ਕੈਪਚਰ
Name[pl]=Przechwytywanie ekranu migawki mtPaint
Name[ps]=mtPaint-snapshot ﻝﻮﯿﻧ ﻦﯾﺮﮑﺳ
Name[pt]=Captura de tela mtPaint-snapshot
Name[qu]=mtPaint-instantánea pantalla hap'iy
Name[ro]=Captură de ecran mtPaint-snapshot
Name[ru]=mtPaint-снимок экрана
Name[rw]=mtIshusho-ifotora ya ecran
Name[sa]=mtPaint-स्नैपशॉट स्क्रीन कैप्चर
Name[sd]=mtPaint-ﺮﭽﭙﻴڪ ﻦﻳﺮڪﺳﺍ ٽﺎﺷ ﭗﻴﻨﺳﺍ
Name[si]=mtPaint-snapshot තිර ග්u200dරහණය
Name[sk]=mtPaint-snímka obrazovky
Name[sl]=mtPaint-snapshot zajem zaslona
Name[sm]=mtPaint-snapshot pu'e ata
Name[sn]=mtPaint-snapshot skrini yekutora
Name[so]=Qabashada shaashadda mtPaint-snapshot
Name[sq]=Regjistrimi i ekranit të fotografisë mtPaint
Name[st]=mtPaint-snapshot skrineng
Name[su]=motret layar mtPaint-snapshot
Name[sv]=mtPaint-snapshot skärmdump
Name[sw]=kunasa skrini ya mtPaint-snapshot
Name[ta]=mtPaint-snapshot திரைப் பிடிப்பு
Name[te]=mtPaint-స్నాప్u200cషాట్ స్క్రీన్ క్యాప్చర్
Name[tg]=Гирифтани экрани mtPaint-snapshot
Name[th]=การจับภาพหน้าจอ mtPaint-snapshot
Name[ti]=mtPaint-ቅጽበታዊ ስእሊ ስክሪን ምቕራጽ
Name[tk]=mtPaint-snapshot ekrany
Name[tl]=mtPaint-snapshot screen capture
Name[to]=mtPaint-laʻita ʻo e screen
Name[tr]=mtPaint-anlık ekran görüntüsü yakalama
Name[ts]=mtPaint-xifaniso xa xifaniso xa xikirini
Name[tt]=mtPaint-snapshot экранга төшерү
Name[tw]=mtPaint-snapshot a wɔde kyere screen
Name[ty]=mtPaint-snapshot screen capture
Name[ug]=mtPaint-snapshot ﻥﺍﺮﻜﯧﺋ
Name[uk]=Знімок екрана mtPaint-snapshot
Name[ur]=mtPaint-ﺮﭽﭙﯿﮐ ﻦﯾﺮﮑﺳﺍ ﭦﺎﺷ ﭗﯿﻨﺳﺍ
Name[uz]=mtPaint-snapshot ekran tasvirini olish
Name[vi]=mtPaint-chụp ảnh chụp màn hình
Name[xh]=mtPaint-snapshot screen capture
Name[yi]=mtPaint-Snapshot ןפּאַכ ןלעטשראַפ
Name[yo]=Yaworan iboju aworan mtPaint
Name[zh]=mtPaint-快照屏幕截图
Name[zu]=mtPaint-snapshot ukuthwebula isikrini
Name=mtPaint-snapshot screen capture
Icon=mini-camera.xpm
Comment[af]=mtPaint-kiekie skermopname
Comment[am]=mtPaint-snapshot ስክሪን ቀረጻ
Comment[ar]=mtPaint ﺔﺷﺎﺷ ﺔﻄﻘﻟ
Comment[as]=mtPaint-স্নেপশ্বট পৰ্দা কেপচাৰ
Comment[ay]=mtPaint-snapshot pantalla uñacht’ayaña
Comment[az]=mtPaint-snapshot ekran görüntüsü
Comment[ba]=mtPaint-snapshot экранға төшөрөү
Comment[be]=Здымак экрана mtPaint-snapshot
Comment[bg]=mtPaint-моментна снимка на екрана
Comment[bm]=mtPaint-snapshot ekran minɛcogo
Comment[bn]=mtPaint-স্ন্যাপশট স্ক্রিন ক্যাপচার
Comment[bo]=mtPaint-snapshot screen capture
Comment[bs]=mtPaint-snapshot screen capture
Comment[ca]=captura de pantalla mtPaint-snapshot
Comment[co]=cattura di schermu mtPaint-snapshot
Comment[cs]=mtPaint-snímek obrazovky
Comment[cy]=mtPaint-ciplun cipio sgrin
Comment[da]=mtPaint-snapshot skærmbillede
Comment[de]=mtPaint-Snapshot-Bildschirmaufnahme
Comment[dv]=mtPaint-ރޗާޕްކެ ންރީކްސް ޓްޝޮޕްނެސް
Comment[ee]=mtPaint-snapshot ƒe screen léle
Comment[el]=Λήψη οθόνης mtPaint-snapshot
Comment[eo]=mtPaint-snapshot ekrankapto
Comment[es]=captura de pantalla mtPaint-snapshot
Comment[et]=mtPaint-hetktõmmise ekraani jäädvustamine
Comment[eu]=mtPaint-snapshot pantaila-harrapaketa
Comment[fa]=mtPaint-snapshot ﻪﺤﻔﺻ ﻂﺒﺿ
Comment[fi]=mtPaint-snapshot-kuvakaappaus
Comment[fj]=mtPaint-iyaloyalo ni sikirini toboka
Comment[fo]=mtPaint-snapshot screen capture
Comment[fr]=Capture d'écran mtPaint-instantané
Comment[fy]=mtPaint-snapshot skerm opname
Comment[ga]=mtPaint-gabháil scáileáin seat
Comment[gd]=glacadh-sgrìn mtPaint-snapshot
Comment[gl]=Captura de pantalla mtPaint-snapshot
Comment[gn]=mtPaint-snapshot pantalla jegueraha
Comment[gu]=mtPaint-સ્નેપશોટ સ્ક્રીન કેપ્ચર
Comment[ha]=mtPaint-snapshot allon kama
Comment[he]=mtPaint-ךסמ םוליצ
Comment[hi]=एमटीपेंट-स्नैपशॉट स्क्रीन कैप्चर
Comment[hr]=mtPaint-snapshot snimak zaslona
Comment[ht]=mtPaint-snapshot kaptire ekran
Comment[hu]=mtPaint-pillanatfelvétel képernyőfelvétel
Comment[hy]=mtPaint-snapshot էկրանի նկարահանում
Comment[id]=tangkapan layar mtPaint-snapshot
Comment[ig]=mtPaint-snapshot ihuenyo weghara
Comment[is]=mtPaint-snapshot skjámyndataka
Comment[it]=cattura dello schermo mtPaint-snapshot
Comment[iu]=mtPaint-snapshot ᐃᒐᓚᐅᔭᕐᒥ ᐱᔭᐅᓂᖅ
Comment[ja]=mtPaint-スナップショットのスクリーン キャプチャ
Comment[jv]=motret layar mtPaint-snapshot
Comment[ka]=mtPaint-snapshot ეკრანის გადაღება
Comment[kk]=mtPaint-скриншотты түсіру
Comment[km]=ការចាប់យកអេក្រង់ mtPaint-snapshot
Comment[kn]=mtPaint-ಸ್ನ್ಯಾಪ್u200cಶಾಟ್ ಸ್ಕ್ರೀನ್ ಕ್ಯಾಪ್ಚರ್
Comment[ko]="mtPaint-스냅샷 화면 캡처"
Comment[ku]=Girtina dîmendera mtPaint-snapshot
Comment[ky]=mtPaint-снапшот экранга түшүрүү
Comment[la]=mtPaint-snapshot screen captis
Comment[lb]=mtPaint-Snapshot Écran Capture
Comment[lg]=mtPaint-okukwata ekifaananyi ku screen
Comment[ln]=mtPaint-kanga ya écran ya instantané
Comment[lo]=ການຈັບພາບຫນ້າຈໍ mtPaint-snapshot
Comment[lt]=„mtPaint“ momentinės nuotraukos ekrano fiksavimas
Comment[lv]=mtPaint momentuzņēmuma ekrāna tveršana
Comment[mg]=mtPaint-snapshot sary fakana sary
Comment[mi]=mtPaint-snapshot hopu mata
Comment[mk]=mtPaint-снимање на екранот
Comment[ml]=mtPaint-snapshot സ്u200cക്രീൻ ക്യാപ്u200cചർ
Comment[mn]=mtPaint-snapshot дэлгэцийн зураг авах
Comment[mr]=mtPaint-स्नॅपशॉट स्क्रीन कॅप्चर
Comment[ms]=tangkapan skrin mtPaint-snapshot
Comment[mt]=qbid tal-iskrin mtPaint-snapshot
Comment[my]=mtPaint-snapshot မျက်နှာပြင် ဖမ်းယူမှု
Comment[ne]=mtPaint-स्न्यापसट स्क्रिन क्याप्चर
Comment[nl]=mtPaint-snapshot schermopname
Comment[no]=mtPaint-snapshot skjermbilde
Comment[ny]=mtPaint-snapshot skrini yojambula
Comment[om]=mtPaint-snapshot qabachuu iskiriinii
Comment[or]=mtPaint-snapshot ସ୍କ୍ରିନ୍ କ୍ୟାପଚର୍ |
Comment[pa]=mtPaint-ਸਨੈਪਸ਼ਾਟ ਸਕ੍ਰੀਨ ਕੈਪਚਰ
Comment[pl]=Przechwytywanie ekranu migawki mtPaint
Comment[ps]=mtPaint-snapshot ﻝﻮﯿﻧ ﻦﯾﺮﮑﺳ
Comment[pt]=Captura de tela mtPaint-snapshot
Comment[qu]=mtPaint-instantánea pantalla hap'iy
Comment[ro]=Captură de ecran mtPaint-snapshot
Comment[ru]=mtPaint-снимок экрана
Comment[rw]=mtIshusho-ifotora ya ecran
Comment[sa]=mtPaint-स्नैपशॉट स्क्रीन कैप्चर
Comment[sd]=mtPaint-ﺮﭽﭙﻴڪ ﻦﻳﺮڪﺳﺍ ٽﺎﺷ ﭗﻴﻨﺳﺍ
Comment[si]=mtPaint-snapshot තිර ග්u200dරහණය
Comment[sk]=mtPaint-snímka obrazovky
Comment[sl]=mtPaint-snapshot zajem zaslona
Comment[sm]=mtPaint-snapshot pu'e ata
Comment[sn]=mtPaint-snapshot skrini yekutora
Comment[so]=Qabashada shaashadda mtPaint-snapshot
Comment[sq]=Regjistrimi i ekranit të fotografisë mtPaint
Comment[st]=mtPaint-snapshot skrineng
Comment[su]=motret layar mtPaint-snapshot
Comment[sv]=mtPaint-snapshot skärmdump
Comment[sw]=kunasa skrini ya mtPaint-snapshot
Comment[ta]=mtPaint-snapshot திரைப் பிடிப்பு
Comment[te]=mtPaint-స్నాప్u200cషాట్ స్క్రీన్ క్యాప్చర్
Comment[tg]=Гирифтани экрани mtPaint-snapshot
Comment[th]=การจับภาพหน้าจอ mtPaint-snapshot
Comment[ti]=mtPaint-ቅጽበታዊ ስእሊ ስክሪን ምቕራጽ
Comment[tk]=mtPaint-snapshot ekrany
Comment[tl]=mtPaint-snapshot screen capture
Comment[to]=mtPaint-laʻita ʻo e screen
Comment[tr]=mtPaint-anlık ekran görüntüsü yakalama
Comment[ts]=mtPaint-xifaniso xa xifaniso xa xikirini
Comment[tt]=mtPaint-snapshot экранга төшерү
Comment[tw]=mtPaint-snapshot a wɔde kyere screen
Comment[ty]=mtPaint-snapshot screen capture
Comment[ug]=mtPaint-snapshot ﻥﺍﺮﻜﯧﺋ
Comment[uk]=Знімок екрана mtPaint-snapshot
Comment[ur]=mtPaint-ﺮﭽﭙﯿﮐ ﻦﯾﺮﮑﺳﺍ ﭦﺎﺷ ﭗﯿﻨﺳﺍ
Comment[uz]=mtPaint-snapshot ekran tasvirini olish
Comment[vi]=mtPaint-chụp ảnh chụp màn hình
Comment[xh]=mtPaint-snapshot screen capture
Comment[yi]=mtPaint-Snapshot ןפּאַכ ןלעטשראַפ
Comment[yo]=Yaworan iboju aworan mtPaint
Comment[zh]=mtPaint-快照屏幕截图
Comment[zu]=mtPaint-snapshot ukuthwebula isikrini
Comment=mtPaint-snapshot screen capture
Exec=mtpaintsnapshot.sh
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=mtPaint-snapshot screen capture
