[Desktop Entry]
Encoding=UTF-8
Name[af]=mtPaint-beeldredigeerder
Name[am]=mtPaint ምስል አርታዒ
Name[ar]=mtPaint ﺭﻮﺼﻟﺍ ﺭﺮﺤﻣ
Name[as]=mtPaint ছবি সম্পাদক
Name[ay]=mtPaint uñacht’äwinak editor
Name[az]=mtPaint şəkil redaktoru
Name[ba]=mtPaint һүрәт мөхәррире
Name[be]=Рэдактар малюнкаў mtPaint
Name[bg]=mtPaint редактор на изображения
Name[bm]=mtPaint ja labɛnbaga
Name[bn]=mtPaint ইমেজ এডিটর
Name[bo]=mtPaint Image Editor
Name[bs]=mtPaint editor slika
Name[ca]=Editor d'imatges mtPaint
Name[co]=Editore di immagini mtPaint
Name[cs]=editor obrázků mtPaint
Name[cy]=golygydd delwedd mtPaint
Name[da]=mtPaint billedredigeringsprogram
Name[de]=mtPaint-Bildeditor
Name[dv]=mtPaint ރޓަޑިއެ ޖްމޭއި
Name[ee]=mtPaint nɔnɔmetatawo ɖɔlila
Name[el]=Επεξεργαστής εικόνας mtPaint
Name[eo]=mtPaint-bildredaktilo
Name[es]=editor de imágenes mtPaint
Name[et]=mtPaint pildiredaktor
Name[eu]=mtPaint irudi editorea
Name[fa]=mtPaint ﺮﯾﻮﺼﺗ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=mtPaint kuvankäsittelyohjelma
Name[fj]=mtPaint Edita ni iyaloyalo
Name[fo]=mtPaint image editor
Name[fr]=Éditeur d'images mtPaint
Name[fy]=mtPaint byldbewurker
Name[ga]=Eagarthóir íomhá mtpaint saor in aisce,
Name[gd]=Deasaiche ìomhaigh mtPaint
Name[gl]=Editor de imaxes mtPaint
Name[gn]=mtPaint taꞌãngamýi mohendaha
Name[gu]=mtPaint ઇમેજ એડિટર
Name[ha]=mtPaint hoto editan
Name[he]=mtPaint תונומת ךרוע
Name[hi]=एमटीपेंट छवि संपादक
Name[hr]=mtPaint uređivač slika
Name[ht]=editè imaj mtPaint
Name[hu]=mtPaint képszerkesztő
Name[hy]=mtPaint պատկերի խմբագիր
Name[id]=editor gambar mtPaint
Name[ig]=mtPaint nchịkọta akụkọ
Name[is]=mtPaint mynd ritstjóri
Name[it]=Editor di immagini mtPaint
Name[iu]=mtPaint ᐊᔾᔨᖁᑎᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=mtPaint 画像エディター
Name[jv]=editor gambar mtPaint
Name[ka]=mtPaint გამოსახულების რედაქტორი
Name[kk]=mtPaint кескін өңдегіші
Name[km]=កម្មវិធីនិពន្ធរូបភាព mtPaint
Name[kn]=mtPaint ಇಮೇಜ್ ಎಡಿಟರ್
Name[ko]=mtPaint 이미지 편집기
Name[ku]=edîtorê wêneyê mtPaint
Name[ky]=mtPaint сүрөт редактору
Name[la]=imago mtPaint editor
Name[lb]=mtPaint Bildeditor
Name[lg]=mtPaint omulongoosa ebifaananyi
Name[ln]=mtPaint mobongisi ya bilili
Name[lo]=ບັນນາທິການຮູບພາບ mtPaint
Name[lt]=mtPaint vaizdo redaktorius
Name[lv]=mtPaint attēlu redaktors
Name[mg]=mtPaint mpamoaka sary
Name[mi]=ētita whakaahua mtPaint
Name[mk]=mtPaint уредувач на слики
Name[ml]=mtPaint ഇമേജ് എഡിറ്റർ
Name[mn]=mtPaint зураг засварлагч
Name[mr]=mtPaint प्रतिमा संपादक
Name[ms]=editor imej mtPaint
Name[mt]=Editur tal-immaġni mtPaint
Name[my]=mtPaint ရုပ်ပုံတည်းဖြတ်သူ
Name[ne]=mtPaint छवि सम्पादक
Name[nl]=mtPaint-afbeeldingseditor
Name[no]=mtPaint bilderedigerer
Name[ny]=mtPaint chithunzi mkonzi
Name[om]=Gulaalaa fakkii mtPaint
Name[or]=mtPaint ପ୍ରତିଛବି ସମ୍ପାଦକ |
Name[pa]=mtPaint ਚਿੱਤਰ ਸੰਪਾਦਕ
Name[pl]=edytor obrazów mtPaint
Name[ps]=ﺮﯾﺪﻣ ﺭﻮځﻧﺍ mtPaint ﺩ
Name[pt]=Editor de imagens mtPaint
Name[qu]=mtPaint siq'i allichaq
Name[ro]=Editor de imagini mtPaint
Name[ru]=редактор изображений mtPaint
Name[rw]=mtIshusho yerekana amashusho
Name[sa]=mtPaint चित्र सम्पादक
Name[sd]=mtPaint ﺮٽﻳڊﻳﺍ ﻱﺮﻳﻮﺼﺗ
Name[si]=mtPaint රූප සංස්කාරකය
Name[sk]=editor obrázkov mtPaint
Name[sl]=urejevalnik slik mtPaint
Name[sm]=mtPaint fa'atonu ata
Name[sn]=mtPaint mufananidzo mupepeti
Name[so]=mtPaint sawirka tafatiraha
Name[sq]=Redaktori i imazhit mtPaint
Name[st]=mtPaint setšoantšo sa mohlophisi
Name[su]=Editor gambar mtPaint
Name[sv]=mtPaint bildredigerare
Name[sw]=mtPaint mhariri wa picha
Name[ta]=mtPaint பட எடிட்டர்
Name[te]=mtPaint ఇమేజ్ ఎడిటర్
Name[tg]=Муҳаррири тасвири mtPaint
Name[th]=โปรแกรมแก้ไขภาพ mtPaint
Name[ti]=mtPaint ምስሊ ኣርታዒ
Name[tk]=mtPaint surat redaktory
Name[tl]=editor ng larawan ng mtPaint
Name[to]=mtPaint ʻetita ʻo e ʻimisi
Name[tr]=mtPaint resim düzenleyici
Name[ts]=mtPaint muhleri wa swifaniso
Name[tt]=mtPaint рәсем редакторы
Name[tw]=mtPaint mfonini editor
Name[ty]=Taata a'o ia au i te ana'iraa piapa
Name[ug]=mtPaint ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻢﯩﺳەﺭ
Name[uk]=Редактор зображень mtPaint
Name[ur]=mtPaint ﺮﭩﯾﮉﯾﺍ ﺞﯿﻣﺍ
Name[uz]=mtPaint tasvir muharriri
Name[vi]=trình chỉnh sửa hình ảnh mtPaint
Name[xh]=mtPaint umhleli womfanekiso
Name[yi]=mtPaint ראָטקאַדער דליב
Name[yo]=mtPaint aworan olootu
Name[zh]=mtPaint图像编辑器
Name[zu]=umhleli wesithombe se-mtPaint
Name=mtPaint image editor
Icon=mini-palette.xpm
Comment[af]=mtPaint-beeldredigeerder
Comment[am]=mtPaint ምስል አርታዒ
Comment[ar]=mtPaint ﺭﻮﺼﻟﺍ ﺭﺮﺤﻣ
Comment[as]=mtPaint ছবি সম্পাদক
Comment[ay]=mtPaint uñacht’äwinak editor
Comment[az]=mtPaint şəkil redaktoru
Comment[ba]=mtPaint һүрәт мөхәррире
Comment[be]=Рэдактар малюнкаў mtPaint
Comment[bg]=mtPaint редактор на изображения
Comment[bm]=mtPaint ja labɛnbaga
Comment[bn]=mtPaint ইমেজ এডিটর
Comment[bo]=mtPaint Image Editor
Comment[bs]=mtPaint editor slika
Comment[ca]=Editor d'imatges mtPaint
Comment[co]=Editore di immagini mtPaint
Comment[cs]=editor obrázků mtPaint
Comment[cy]=golygydd delwedd mtPaint
Comment[da]=mtPaint billedredigeringsprogram
Comment[de]=mtPaint-Bildeditor
Comment[dv]=mtPaint ރޓަޑިއެ ޖްމޭއި
Comment[ee]=mtPaint nɔnɔmetatawo ɖɔlila
Comment[el]=Επεξεργαστής εικόνας mtPaint
Comment[eo]=mtPaint-bildredaktilo
Comment[es]=editor de imágenes mtPaint
Comment[et]=mtPaint pildiredaktor
Comment[eu]=mtPaint irudi editorea
Comment[fa]=mtPaint ﺮﯾﻮﺼﺗ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=mtPaint kuvankäsittelyohjelma
Comment[fj]=mtPaint Edita ni iyaloyalo
Comment[fo]=mtPaint image editor
Comment[fr]=Éditeur d'images mtPaint
Comment[fy]=mtPaint byldbewurker
Comment[ga]=Eagarthóir íomhá mtpaint saor in aisce,
Comment[gd]=Deasaiche ìomhaigh mtPaint
Comment[gl]=Editor de imaxes mtPaint
Comment[gn]=mtPaint taꞌãngamýi mohendaha
Comment[gu]=mtPaint ઇમેજ એડિટર
Comment[ha]=mtPaint hoto editan
Comment[he]=mtPaint תונומת ךרוע
Comment[hi]=एमटीपेंट छवि संपादक
Comment[hr]=mtPaint uređivač slika
Comment[ht]=editè imaj mtPaint
Comment[hu]=mtPaint képszerkesztő
Comment[hy]=mtPaint պատկերի խմբագիր
Comment[id]=editor gambar mtPaint
Comment[ig]=mtPaint nchịkọta akụkọ
Comment[is]=mtPaint mynd ritstjóri
Comment[it]=Editor di immagini mtPaint
Comment[iu]=mtPaint ᐊᔾᔨᖁᑎᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Comment[ja]=mtPaint 画像エディター
Comment[jv]=editor gambar mtPaint
Comment[ka]=mtPaint გამოსახულების რედაქტორი
Comment[kk]=mtPaint кескін өңдегіші
Comment[km]=កម្មវិធីនិពន្ធរូបភាព mtPaint
Comment[kn]=mtPaint ಇಮೇಜ್ ಎಡಿಟರ್
Comment[ko]=mtPaint 이미지 편집기
Comment[ku]=edîtorê wêneyê mtPaint
Comment[ky]=mtPaint сүрөт редактору
Comment[la]=imago mtPaint editor
Comment[lb]=mtPaint Bildeditor
Comment[lg]=mtPaint omulongoosa ebifaananyi
Comment[ln]=mtPaint mobongisi ya bilili
Comment[lo]=ບັນນາທິການຮູບພາບ mtPaint
Comment[lt]=mtPaint vaizdo redaktorius
Comment[lv]=mtPaint attēlu redaktors
Comment[mg]=mtPaint mpamoaka sary
Comment[mi]=ētita whakaahua mtPaint
Comment[mk]=mtPaint уредувач на слики
Comment[ml]=mtPaint ഇമേജ് എഡിറ്റർ
Comment[mn]=mtPaint зураг засварлагч
Comment[mr]=mtPaint प्रतिमा संपादक
Comment[ms]=editor imej mtPaint
Comment[mt]=Editur tal-immaġni mtPaint
Comment[my]=mtPaint ရုပ်ပုံတည်းဖြတ်သူ
Comment[ne]=mtPaint छवि सम्पादक
Comment[nl]=mtPaint-afbeeldingseditor
Comment[no]=mtPaint bilderedigerer
Comment[ny]=mtPaint chithunzi mkonzi
Comment[om]=Gulaalaa fakkii mtPaint
Comment[or]=mtPaint ପ୍ରତିଛବି ସମ୍ପାଦକ |
Comment[pa]=mtPaint ਚਿੱਤਰ ਸੰਪਾਦਕ
Comment[pl]=edytor obrazów mtPaint
Comment[ps]=ﺮﯾﺪﻣ ﺭﻮځﻧﺍ mtPaint ﺩ
Comment[pt]=Editor de imagens mtPaint
Comment[qu]=mtPaint siq'i allichaq
Comment[ro]=Editor de imagini mtPaint
Comment[ru]=редактор изображений mtPaint
Comment[rw]=mtIshusho yerekana amashusho
Comment[sa]=mtPaint चित्र सम्पादक
Comment[sd]=mtPaint ﺮٽﻳڊﻳﺍ ﻱﺮﻳﻮﺼﺗ
Comment[si]=mtPaint රූප සංස්කාරකය
Comment[sk]=editor obrázkov mtPaint
Comment[sl]=urejevalnik slik mtPaint
Comment[sm]=mtPaint fa'atonu ata
Comment[sn]=mtPaint mufananidzo mupepeti
Comment[so]=mtPaint sawirka tafatiraha
Comment[sq]=Redaktori i imazhit mtPaint
Comment[st]=mtPaint setšoantšo sa mohlophisi
Comment[su]=Editor gambar mtPaint
Comment[sv]=mtPaint bildredigerare
Comment[sw]=mtPaint mhariri wa picha
Comment[ta]=mtPaint பட எடிட்டர்
Comment[te]=mtPaint ఇమేజ్ ఎడిటర్
Comment[tg]=Муҳаррири тасвири mtPaint
Comment[th]=โปรแกรมแก้ไขภาพ mtPaint
Comment[ti]=mtPaint ምስሊ ኣርታዒ
Comment[tk]=mtPaint surat redaktory
Comment[tl]=editor ng larawan ng mtPaint
Comment[to]=mtPaint ʻetita ʻo e ʻimisi
Comment[tr]=mtPaint resim düzenleyici
Comment[ts]=mtPaint muhleri wa swifaniso
Comment[tt]=mtPaint рәсем редакторы
Comment[tw]=mtPaint mfonini editor
Comment[ty]=Taata a'o ia au i te ana'iraa piapa
Comment[ug]=mtPaint ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻢﯩﺳەﺭ
Comment[uk]=Редактор зображень mtPaint
Comment[ur]=mtPaint ﺮﭩﯾﮉﯾﺍ ﺞﯿﻣﺍ
Comment[uz]=mtPaint tasvir muharriri
Comment[vi]=trình chỉnh sửa hình ảnh mtPaint
Comment[xh]=mtPaint umhleli womfanekiso
Comment[yi]=mtPaint ראָטקאַדער דליב
Comment[yo]=mtPaint aworan olootu
Comment[zh]=mtPaint图像编辑器
Comment[zu]=umhleli wesithombe se-mtPaint
Comment=mtPaint image editor
Exec=mtpaint
Terminal=false
Type=Application
Categories=RasterGraphics
GenericName=mtPaint image editor
