[Desktop Entry]
Encoding=UTF-8
Name[af]=DidiWiki persoonlike wiki
Name[am]=DidiWiki የግል ዊኪ
Name[ar]=DidiWiki ـﻟ ﻲﺼﺨﺸﻟﺍ ﻲﻜﻳﻮﻟﺍ
Name[as]=DidiWiki ব্যক্তিগত ৱিকি
Name[ay]=DidiWiki ukax mä wiki personal ukhamawa
Name[az]=DidiWiki şəxsi viki
Name[ba]=ДидиВикиҙың шәхси викиһы
Name[be]=Персанальная вікі DidiWiki
Name[bg]=Лична уики DidiWiki
Name[bm]=DidiWiki mɔgɔ yɛrɛ ka wiki
Name[bn]=দিদিউইকি ব্যক্তিগত উইকি
Name[bo]=DidiWiki མི་སྒེར་གྱི་ཝེ་ཁེ་
Name[bs]=DidiWiki lični wiki
Name[ca]=Viqui personal de DidiWiki
Name[co]=DidiWiki wiki persunale
Name[cs]=DidiWiki osobní wiki
Name[cy]=Wici personol DidiWiki
Name[da]=DidiWiki personlig wiki
Name[de]=Persönliches DidiWiki-Wiki
Name[dv]=ކީވި ލްނަސަޕާ ކީވިޑިޑި
Name[ee]=DidiWiki ame ŋutɔ ƒe wiki
Name[el]=Προσωπικό wiki DidiWiki
Name[en]=DidiWiki personal wiki
Name[eo]=DidiWiki persona vikio
Name[es]=Wiki personal de DidiWiki
Name[et]=DidiWiki isiklik wiki
Name[eu]=DidiWiki wiki pertsonala
Name[fa]=DidiWiki ﯽﺼﺨﺷ ﯽﮑﯾﻭ
Name[fi]=DidiWikin henkilökohtainen wiki
Name[fj]=DidiWiki wiki vakaitaukei
Name[fo]=DidWiki personal wiki
Name[fr]=Wiki personnel DidiWiki
Name[fy]=DidiWiki persoanlike wiki
Name[ga]=Vicí pearsanta DidiWiki
Name[gd]=Uici pearsanta DidiWiki
Name[gl]=DidiWiki wiki persoal
Name[gn]=DidiWiki wiki personal rehegua
Name[gu]=DidiWiki વ્યક્તિગત વિકી
Name[ha]=DidiWiki sirri wiki
Name[he]=DidiWiki לש ישיא יקיו
Name[hi]=दीदीविकी व्यक्तिगत विकी
Name[hr]=DidiWiki osobni wiki
Name[ht]=DidiWiki pèsonèl wiki
Name[hu]=DidiWiki személyes wiki
Name[hy]=DidiWiki անձնական վիքի
Name[id]=DidiWiki wiki pribadi
Name[ig]=DidiWiki nkeonwe wiki
Name[is]=DidiWiki persónuleg wiki
Name[it]=DidiWiki wiki personale
Name[iu]=ᑎᐊᐱᑭ
Name[ja]=DidiWiki 個人ウィキ
Name[jv]=wiki pribadi DidiWiki
Name[ka]=DidiWiki პერსონალური ვიკი
Name[kk]=DidiWiki жеке вики
Name[km]=វីគីផ្ទាល់ខ្លួន DidiWiki
Name[kn]=ಡಿಡಿವಿಕಿ ವೈಯಕ್ತಿಕ ವಿಕಿ
Name[ko]=DidiWiki 개인 위키
Name[ku]=DidiWiki wiki şexsî
Name[ky]=DidiWiki жеке вики
Name[la]=DidiWiki personalis wiki
Name[lb]=DidiWiki perséinlech Wiki
Name[lg]=DidiWiki wiki ey'obuntu
Name[ln]=DidiWiki wiki ya moto ye moko
Name[lo]=DidiWiki wiki ສ່ວນຕົວ
Name[lt]=DidiWiki asmeninis wiki
Name[lv]=DidiWiki personīgā wiki
Name[mg]=DidiWiki wiki manokana
Name[mi]=DidiWiki wiki whaiaro
Name[mk]=Лично вики на DidiWiki
Name[ml]=ദിദിവിക്കി വ്യക്തിഗത വിക്കി
Name[mn]=DidiWiki хувийн вики
Name[mr]=DidiWiki वैयक्तिक विकी
Name[ms]=wiki peribadi DidiWiki
Name[mt]=DidiWiki wiki personali
Name[my]=DidiWiki ကိုယ်ပိုင်ဝီကီ
Name[ne]=DidiWiki व्यक्तिगत विकि
Name[nl]=DidiWiki persoonlijke wiki
Name[no]=DidiWiki personlig wiki
Name[ny]=DidiWiki Personal wiki
Name[om]=DidiWiki wikii dhuunfaa
Name[or]=DidiWiki ବ୍ୟକ୍ତିଗତ ୱିକି |
Name[pa]=DidiWiki ਨਿੱਜੀ ਵਿਕੀ
Name[pl]=Osobista wiki DidiWiki
Name[ps]=DidiWiki ﻲﮑﻳﻭ ﻲﺼﺨﺷ
Name[pt]=Wiki pessoal DidiWiki
Name[qu]=DidiWiki kikin wiki
Name[ro]=Wiki personal DidiWiki
Name[ru]=Личная вики DidiWiki
Name[rw]=DikiWiki wiki
Name[sa]=दिदिविकि व्यक्तिगत विकि
Name[sd]=DidiWiki ﻲڪﻭ ﻲﺗﺍﺫ
Name[si]=ඩිඩිවිකි පුද්ගලික විකිය
Name[sk]=Osobná wiki DidiWiki
Name[sl]=DidiWiki osebni wiki
Name[sm]=DidiWiki wiki patino
Name[sn]=DidiWiki personal wiki
Name[so]=DidiWiki wiki shaqsiyeed
Name[sq]=Wiki personal DidiWiki
Name[st]=DidiWiki tsa botho wiki
Name[su]=wiki pribadi DidiWiki
Name[sv]=DidiWiki personlig wiki
Name[sw]=Wiki ya kibinafsi ya DidiWiki
Name[ta]=தீடிவிக்கி தனிப்பட்ட விக்கி
Name[te]=దీదీవికీ వ్యక్తిగత వికీ
Name[tg]=Вики шахсии DidiWiki
Name[th]=วิกิส่วนบุคคล DidiWiki
Name[ti]=ዲዲዊኪ ውልቃዊ ዊኪ
Name[tk]=DidiWiki şahsy wiki
Name[tl]=DidiWiki personal na wiki
Name[to]=DidiWiki fakatautaha wiki
Name[tr]=DidiWiki kişisel wiki
Name[ts]=DidiWiki wiki ya munhu hi xiyexe
Name[tt]=DidiWiki шәхси вики
Name[tw]=DidiWiki ankasa wiki
Name[ty]=DidiWiki Personal Wiki
Name[ug]=DidiWiki ﻲﯩﺴﺧەﺷ wiki
Name[uk]=Персональна вікі DidiWiki
Name[ur]=DidiWiki ﯽﮑﯾﻭ ﯽﺗﺍﺫ
Name[uz]=DidiWiki shaxsiy wiki
Name[vi]=DidiWiki wiki cá nhân
Name[xh]=DidiWiki iwiki yobuqu
Name[yi]=יקיוו עכילנעזרעפ יקיווידיד
Name[yo]=DidiWiki ti ara ẹni wiki
Name[zh]=DidiWiki个人维基
Name[zu]=I-DidiWiki iwiki yomuntu siqu
Name=DidiWiki personal wiki
Icon=wiki_16.xpm
Comment[af]=DidiWiki persoonlike wiki
Comment[am]=DidiWiki የግል ዊኪ
Comment[ar]=DidiWiki ـﻟ ﻲﺼﺨﺸﻟﺍ ﻲﻜﻳﻮﻟﺍ
Comment[as]=DidiWiki ব্যক্তিগত ৱিকি
Comment[ay]=DidiWiki ukax mä wiki personal ukhamawa
Comment[az]=DidiWiki şəxsi viki
Comment[ba]=ДидиВикиҙың шәхси викиһы
Comment[be]=Персанальная вікі DidiWiki
Comment[bg]=Лична уики DidiWiki
Comment[bm]=DidiWiki mɔgɔ yɛrɛ ka wiki
Comment[bn]=দিদিউইকি ব্যক্তিগত উইকি
Comment[bo]=DidiWiki མི་སྒེར་གྱི་ཝེ་ཁེ་
Comment[bs]=DidiWiki lični wiki
Comment[ca]=Viqui personal de DidiWiki
Comment[co]=DidiWiki wiki persunale
Comment[cs]=DidiWiki osobní wiki
Comment[cy]=Wici personol DidiWiki
Comment[da]=DidiWiki personlig wiki
Comment[de]=Persönliches DidiWiki-Wiki
Comment[dv]=ކީވި ލްނަސަޕާ ކީވިޑިޑި
Comment[ee]=DidiWiki ame ŋutɔ ƒe wiki
Comment[el]=Προσωπικό wiki DidiWiki
Comment[en]=DidiWiki personal wiki
Comment[eo]=DidiWiki persona vikio
Comment[es]=Wiki personal de DidiWiki
Comment[et]=DidiWiki isiklik wiki
Comment[eu]=DidiWiki wiki pertsonala
Comment[fa]=DidiWiki ﯽﺼﺨﺷ ﯽﮑﯾﻭ
Comment[fi]=DidiWikin henkilökohtainen wiki
Comment[fj]=DidiWiki wiki vakaitaukei
Comment[fo]=DidWiki personal wiki
Comment[fr]=Wiki personnel DidiWiki
Comment[fy]=DidiWiki persoanlike wiki
Comment[ga]=Vicí pearsanta DidiWiki
Comment[gd]=Uici pearsanta DidiWiki
Comment[gl]=DidiWiki wiki persoal
Comment[gn]=DidiWiki wiki personal rehegua
Comment[gu]=DidiWiki વ્યક્તિગત વિકી
Comment[ha]=DidiWiki sirri wiki
Comment[he]=DidiWiki לש ישיא יקיו
Comment[hi]=दीदीविकी व्यक्तिगत विकी
Comment[hr]=DidiWiki osobni wiki
Comment[ht]=DidiWiki pèsonèl wiki
Comment[hu]=DidiWiki személyes wiki
Comment[hy]=DidiWiki անձնական վիքի
Comment[id]=DidiWiki wiki pribadi
Comment[ig]=DidiWiki nkeonwe wiki
Comment[is]=DidiWiki persónuleg wiki
Comment[it]=DidiWiki wiki personale
Comment[iu]=ᑎᐊᐱᑭ
Comment[ja]=DidiWiki 個人ウィキ
Comment[jv]=wiki pribadi DidiWiki
Comment[ka]=DidiWiki პერსონალური ვიკი
Comment[kk]=DidiWiki жеке вики
Comment[km]=វីគីផ្ទាល់ខ្លួន DidiWiki
Comment[kn]=ಡಿಡಿವಿಕಿ ವೈಯಕ್ತಿಕ ವಿಕಿ
Comment[ko]=DidiWiki 개인 위키
Comment[ku]=DidiWiki wiki şexsî
Comment[ky]=DidiWiki жеке вики
Comment[la]=DidiWiki personalis wiki
Comment[lb]=DidiWiki perséinlech Wiki
Comment[lg]=DidiWiki wiki ey'obuntu
Comment[ln]=DidiWiki wiki ya moto ye moko
Comment[lo]=DidiWiki wiki ສ່ວນຕົວ
Comment[lt]=DidiWiki asmeninis wiki
Comment[lv]=DidiWiki personīgā wiki
Comment[mg]=DidiWiki wiki manokana
Comment[mi]=DidiWiki wiki whaiaro
Comment[mk]=Лично вики на DidiWiki
Comment[ml]=ദിദിവിക്കി വ്യക്തിഗത വിക്കി
Comment[mn]=DidiWiki хувийн вики
Comment[mr]=DidiWiki वैयक्तिक विकी
Comment[ms]=wiki peribadi DidiWiki
Comment[mt]=DidiWiki wiki personali
Comment[my]=DidiWiki ကိုယ်ပိုင်ဝီကီ
Comment[ne]=DidiWiki व्यक्तिगत विकि
Comment[nl]=DidiWiki persoonlijke wiki
Comment[no]=DidiWiki personlig wiki
Comment[ny]=DidiWiki Personal wiki
Comment[om]=DidiWiki wikii dhuunfaa
Comment[or]=DidiWiki ବ୍ୟକ୍ତିଗତ ୱିକି |
Comment[pa]=DidiWiki ਨਿੱਜੀ ਵਿਕੀ
Comment[pl]=Osobista wiki DidiWiki
Comment[ps]=DidiWiki ﻲﮑﻳﻭ ﻲﺼﺨﺷ
Comment[pt]=Wiki pessoal DidiWiki
Comment[qu]=DidiWiki kikin wiki
Comment[ro]=Wiki personal DidiWiki
Comment[ru]=Личная вики DidiWiki
Comment[rw]=DikiWiki wiki
Comment[sa]=दिदिविकि व्यक्तिगत विकि
Comment[sd]=DidiWiki ﻲڪﻭ ﻲﺗﺍﺫ
Comment[si]=ඩිඩිවිකි පුද්ගලික විකිය
Comment[sk]=Osobná wiki DidiWiki
Comment[sl]=DidiWiki osebni wiki
Comment[sm]=DidiWiki wiki patino
Comment[sn]=DidiWiki personal wiki
Comment[so]=DidiWiki wiki shaqsiyeed
Comment[sq]=Wiki personal DidiWiki
Comment[st]=DidiWiki tsa botho wiki
Comment[su]=wiki pribadi DidiWiki
Comment[sv]=DidiWiki personlig wiki
Comment[sw]=Wiki ya kibinafsi ya DidiWiki
Comment[ta]=தீடிவிக்கி தனிப்பட்ட விக்கி
Comment[te]=దీదీవికీ వ్యక్తిగత వికీ
Comment[tg]=Вики шахсии DidiWiki
Comment[th]=วิกิส่วนบุคคล DidiWiki
Comment[ti]=ዲዲዊኪ ውልቃዊ ዊኪ
Comment[tk]=DidiWiki şahsy wiki
Comment[tl]=DidiWiki personal na wiki
Comment[to]=DidiWiki fakatautaha wiki
Comment[tr]=DidiWiki kişisel wiki
Comment[ts]=DidiWiki wiki ya munhu hi xiyexe
Comment[tt]=DidiWiki шәхси вики
Comment[tw]=DidiWiki ankasa wiki
Comment[ty]=DidiWiki Personal Wiki
Comment[ug]=DidiWiki ﻲﯩﺴﺧەﺷ wiki
Comment[uk]=Персональна вікі DidiWiki
Comment[ur]=DidiWiki ﯽﮑﯾﻭ ﯽﺗﺍﺫ
Comment[uz]=DidiWiki shaxsiy wiki
Comment[vi]=DidiWiki wiki cá nhân
Comment[xh]=DidiWiki iwiki yobuqu
Comment[yi]=יקיוו עכילנעזרעפ יקיווידיד
Comment[yo]=DidiWiki ti ara ẹni wiki
Comment[zh]=DidiWiki个人维基
Comment[zu]=I-DidiWiki iwiki yomuntu siqu
Comment=DidiWiki personal wiki
Exec=didiwiki-gui
Terminal=false
Type=Application
Categories=X-Personal-organizer
GenericName=DidiWiki
