[Desktop Entry]
Encoding=UTF-8
Name[af]=Htop system process viewer
Name[am]=የሆፕ ሲስተም ሂደት መመልከቻ
Name[ar]=ﺏﻮﺗﺃ ﻡﺎﻈﻧ ﺕﺎﻴﻠﻤﻋ ﺽﺭﺎﻋ
Name[as]=Htop চিস্টেম প্ৰক্ৰিয়া দৰ্শক
Name[ay]=Htop Sistema Proceso Uñakipaña
Name[az]=Htop Sistem Proses Baxıcısı
Name[ba]=Htop system process viewer
Name[be]=Праграма прагляду сістэмных працэсаў Htop
Name[bg]=Htop system process viewer
Name[bm]=Htop Sistɛmu taabolo lajɛbaga
Name[bn]=Htop সিস্টেম প্রসেস ভিউয়ার
Name[bo]=Htopམ་ལག་གི་གོ་རིམ་ལྟ་མཁན།
Name[bs]=Htop system process viewer
Name[ca]=Visualitzador de processos del sistema Htop
Name[co]=Htop system process viewer
Name[cs]=Htop system process viewer
Name[cy]=Gwyliwr Proses system Htop
Name[da]=Htop system process viewer
Name[de]=Htop system process viewer
Name[dv]=ރއައުވި ސްސެރޮޕް މްޓަސްސި ޕްޓޮޗްއެ
Name[ee]=Htop system Dɔwɔwɔ ƒe Nukpɔla
Name[el]=Htop system process viewer
Name[en]=Htop system process viewer
Name[eo]=Htop system process viewer
Name[es]=Visor de procesos del sistema Htop
Name[et]=Htop system process viewer
Name[eu]=Htop system process viewer
Name[fa]=Htop ﻢﺘﺴﯿﺳ ﺪﻨﯾﺁﺮﻓ ﺮﮕﺸﯾﺎﻤﻧ
Name[fi]=Htop system process viewer
Name[fj]=Dausarasara ena iVakarau ni Htop
Name[fo]=Htop system process viewer
Name[fr]=Visionneuse de processus système Htop
Name[fy]=Htop system process viewer
Name[ga]=Amharcóir Próiseas an Chórais Htop
Name[gd]=Sealladair pròiseas siostam Htop
Name[gl]=Visor de procesos do sistema Htop
Name[gn]=Htop Sistema Proceso rehegua jehechaukaha
Name[gu]=Htop સિસ્ટમ પ્રક્રિયા વ્યૂઅર
Name[ha]=Htop system process viewer
Name[he]=Htop system process viewer
Name[hi]=एचटॉप सिस्टम प्रोसेस व्यूअर
Name[hr]=Htop Preglednik procesa sustava
Name[ht]=Htop system pwosesis viewer
Name[hu]=Htop system process viewer
Name[hy]=Htop համակարգի գործընթացի դիտիչ
Name[id]=Penampil Proses Sistem Htop
Name[ig]=Htop system process viewer
Name[is]=Htop system process viewer
Name[it]=Visualizzatore di processi di sistema Htop
Name[iu]=Htop system process viewer
Name[ja]=Htop システム プロセス ビューア
Name[jv]=Tampilan Proses Sistem Htop
Name[ka]=Htop სისტემის პროცესის მაყურებელი
Name[kk]=Htop system process viewer
Name[km]=កម្មវិធីមើលដំណើរការប្រព័ន្ធ Htop
Name[kn]=Htop ಸಿಸ್ಟಮ್ ಪ್ರಕ್ರಿಯೆ ವೀಕ್ಷಕ
Name[ko]="Htop 시스템 프로세스 뷰어"
Name[ku]=Dîmendera Pêvajoya Pergala Htop
Name[ky]=Htop system process viewer
Name[la]=Htop Ratio Processus Visum
Name[lb]=Htop system prozess viewer
Name[lg]=Htop Enkola y'Enkola y'Omulabi
Name[ln]=Htop Motali ya Processus ya Système
Name[lo]=ຕົວເບິ່ງຂະບວນການລະບົບ Htop
Name[lt]=„Htop system process viewer“.
Name[lv]=Htop sistēmas procesu skatītājs
Name[mg]=Htop system process viewer
Name[mi]=Htop Pūnaha Tukatuka Tirohanga
Name[mk]=Прегледувач на процеси на системот Htop
Name[ml]=Htop സിസ്റ്റം പ്രോസസ്സ് വ്യൂവർ
Name[mn]=Htop system process viewer
Name[mr]=Htop सिस्टम प्रक्रिया दर्शक
Name[ms]=Pemapar Proses Sistem Htop
Name[mt]=Viewer tal-Proċess tas-Sistema Htop
Name[my]=Htop စနစ်လုပ်ငန်းစဉ်ကြည့်ရှုသူ
Name[ne]=Htop प्रणाली प्रक्रिया दर्शक
Name[nl]=Htop Systeemprocesviewer
Name[no]=Htop system process viewer
Name[ny]=Htop system process viewer
Name[om]=Ilaaltuu Adeemsa Sirna Htop
Name[or]=Htop ସିଷ୍ଟମ୍ ପ୍ରକ୍ରିୟା ଦର୍ଶକ |
Name[pa]=Htop ਸਿਸਟਮ ਪ੍ਰਕਿਰਿਆ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka procesów systemowych Htop
Name[ps]=ﯽﮑﻧﻭﺪﯿﻟ ﯥﺳﻭﺮﭘ ﻢټﺴﯿﺳ Htop ﺩ
Name[pt]=Visualizador de processos do sistema Htop
Name[qu]=Htop Sistema Ruway Qhawaq
Name[ro]=Htop system process viewer
Name[ru]=Средство просмотра системных процессов Htop
Name[rw]=Sisitemu ya Htop
Name[sa]=Htop प्रणाली प्रक्रिया दर्शक
Name[sd]=Htop ﺮﻇﺎﻧ ﺲﻴﺳﻭﺮﭘ ﻢٽﺴﺳ
Name[si]=Htop පද්ධති ක්u200dරියාවලි නරඹන්නා
Name[sk]=Htop system process viewer
Name[sl]=Pregledovalnik sistemskih procesov Htop
Name[sm]=Htop system process viewer
Name[sn]=Htop system process viewer
Name[so]=Htop Nidaamka Nidaamka Daawaha
Name[sq]=Shikuesi i procesit të sistemit Htop
Name[st]=Htop system process viewer
Name[su]=Htop system prosés viewer
Name[sv]=Htop system process viewer
Name[sw]=Kitazamaji cha Mchakato wa Mfumo wa Htop
Name[ta]=Htop கணினி செயல்முறை பார்வையாளர்
Name[te]=Htop సిస్టమ్ ప్రాసెస్ వ్యూయర్
Name[tg]=Намоишгари равандҳои системаи Htop
Name[th]=โปรแกรมดูกระบวนการระบบ Htop
Name[ti]=Htop ስርዓት መስርሕ ርአ
Name[tk]=Htop ulgam prosesi görkezijisi
Name[tl]=Htop system process viewer
Name[to]=Htop Founga ngaue ʻa e system viewer
Name[tr]=Htop Sistem İşlem Görüntüleyici
Name[ts]=Xilanguti xa Maendlelo ya Sisiteme ya Htop
Name[tt]=Htop системасы процесс тамашачысы
Name[tw]=Htop system Dwumadie Hwɛfoɔ
Name[ty]=Te taata hi'opoa i te faanahoraa Htop
Name[ug]=Htop ﭺﯘﻐﻠﯩﻗ ﭖەﺭەﺗ ﺮﯩﺑ ﺎﻤﯧﺘﺴﯩﺳ
Name[uk]=Перегляд системних процесів Htop
Name[ur]=Htop ﺭﻮﯾﻭ ﺲﯿﺳﻭﺮﭘ ﻢﭩﺴﺳ
Name[uz]=Htop tizim jarayonini ko'rish dasturi
Name[vi]=Trình xem quy trình hệ thống Htop
Name[xh]=Umjongi weNkqubo yeHtop
Name[yi]=רעויוו סעסאַרפּ םעטסיס פּאָטה
Name[yo]=Htop system Ilana wiwo
Name[zh]=Htop系统进程查看器
Name[zu]=I-Htop system process viewer
Name=Htop system process viewer
Icon=htop.png
Comment[af]=Htop System Process Viewer
Comment[am]=የሆፕ ሲስተም ሂደት መመልከቻ
Comment[ar]=ﺏﻮﺗﺃ ﻡﺎﻈﻧ ﺕﺎﻴﻠﻤﻋ ﺽﺭﺎﻋ
Comment[as]=Htop চিস্টেম প্ৰক্ৰিয়া দৰ্শক
Comment[ay]=Htop Sistema Proceso Uñakipaña
Comment[az]=Htop Sistem Proses Baxıcısı
Comment[ba]=Htop System Process Viewer
Comment[be]=Праграма прагляду сістэмных працэсаў Htop
Comment[bg]=Htop System Process Viewer
Comment[bm]=Htop Sistɛmu taabolo lajɛbaga
Comment[bn]=Htop সিস্টেম প্রসেস ভিউয়ার
Comment[bo]=Htopམ་ལག་གི་གོ་རིམ་ལྟ་མཁན།
Comment[bs]=Htop System Process Viewer
Comment[ca]=Visualitzador de processos del sistema Htop
Comment[co]=Htop System Process Viewer
Comment[cs]=Htop System Process Viewer
Comment[cy]=Gwyliwr Proses System Htop
Comment[da]=Htop System Process Viewer
Comment[de]=Htop System Process Viewer
Comment[dv]=ރއައުވި ސްސެރޮޕް މްޓަސްސި ޕްޓޮޗްއެ
Comment[ee]=Htop System Dɔwɔwɔ ƒe Nukpɔla
Comment[el]=Htop System Process Viewer
Comment[en]=Htop System Process Viewer
Comment[eo]=Htop System Process Viewer
Comment[es]=Visor de procesos del sistema Htop
Comment[et]=Htop System Process Viewer
Comment[eu]=Htop System Process Viewer
Comment[fa]=Htop ﻢﺘﺴﯿﺳ ﺪﻨﯾﺁﺮﻓ ﺮﮕﺸﯾﺎﻤﻧ
Comment[fi]=Htop System Process Viewer
Comment[fj]=Dausarasara ena iVakarau ni Htop
Comment[fo]=Htop System Process Viewer
Comment[fr]=Visionneuse de processus système Htop
Comment[fy]=Htop System Process Viewer
Comment[ga]=Amharcóir Próiseas an Chórais Htop
Comment[gd]=Sealladair pròiseas siostam Htop
Comment[gl]=Visor de procesos do sistema Htop
Comment[gn]=Htop Sistema Proceso rehegua jehechaukaha
Comment[gu]=Htop સિસ્ટમ પ્રક્રિયા વ્યૂઅર
Comment[ha]=Htop System Process Viewer
Comment[he]=Htop System Process Viewer
Comment[hi]=एचटॉप सिस्टम प्रोसेस व्यूअर
Comment[hr]=Htop Preglednik procesa sustava
Comment[ht]=Htop System Pwosesis Viewer
Comment[hu]=Htop System Process Viewer
Comment[hy]=Htop համակարգի գործընթացի դիտիչ
Comment[id]=Penampil Proses Sistem Htop
Comment[ig]=Htop System Process Viewer
Comment[is]=Htop System Process Viewer
Comment[it]=Visualizzatore di processi di sistema Htop
Comment[iu]=Htop System Process Viewer
Comment[ja]=Htop システム プロセス ビューア
Comment[jv]=Tampilan Proses Sistem Htop
Comment[ka]=Htop სისტემის პროცესის მაყურებელი
Comment[kk]=Htop System Process Viewer
Comment[km]=កម្មវិធីមើលដំណើរការប្រព័ន្ធ Htop
Comment[kn]=Htop ಸಿಸ್ಟಮ್ ಪ್ರಕ್ರಿಯೆ ವೀಕ್ಷಕ
Comment[ko]="Htop 시스템 프로세스 뷰어"
Comment[ku]=Dîmendera Pêvajoya Pergala Htop
Comment[ky]=Htop System Process Viewer
Comment[la]=Htop Ratio Processus Visum
Comment[lb]=Htop System Prozess Viewer
Comment[lg]=Htop Enkola y'Enkola y'Omulabi
Comment[ln]=Htop Motali ya Processus ya Système
Comment[lo]=ຕົວເບິ່ງຂະບວນການລະບົບ Htop
Comment[lt]=„Htop System Process Viewer“.
Comment[lv]=Htop sistēmas procesu skatītājs
Comment[mg]=Htop System Process Viewer
Comment[mi]=Htop Pūnaha Tukatuka Tirohanga
Comment[mk]=Прегледувач на процеси на системот Htop
Comment[ml]=Htop സിസ്റ്റം പ്രോസസ്സ് വ്യൂവർ
Comment[mn]=Htop System Process Viewer
Comment[mr]=Htop सिस्टम प्रक्रिया दर्शक
Comment[ms]=Pemapar Proses Sistem Htop
Comment[mt]=Viewer tal-Proċess tas-Sistema Htop
Comment[my]=Htop စနစ်လုပ်ငန်းစဉ်ကြည့်ရှုသူ
Comment[ne]=Htop प्रणाली प्रक्रिया दर्शक
Comment[nl]=Htop Systeemprocesviewer
Comment[no]=Htop System Process Viewer
Comment[ny]=Htop System Process Viewer
Comment[om]=Ilaaltuu Adeemsa Sirna Htop
Comment[or]=Htop ସିଷ୍ଟମ୍ ପ୍ରକ୍ରିୟା ଦର୍ଶକ |
Comment[pa]=Htop ਸਿਸਟਮ ਪ੍ਰਕਿਰਿਆ ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka procesów systemowych Htop
Comment[ps]=ﯽﮑﻧﻭﺪﯿﻟ ﯥﺳﻭﺮﭘ ﻢټﺴﯿﺳ Htop ﺩ
Comment[pt]=Visualizador de processos do sistema Htop
Comment[qu]=Htop Sistema Ruway Qhawaq
Comment[ro]=Htop System Process Viewer
Comment[ru]=Средство просмотра системных процессов Htop
Comment[rw]=Sisitemu ya Htop
Comment[sa]=Htop प्रणाली प्रक्रिया दर्शक
Comment[sd]=Htop ﺮﻇﺎﻧ ﺲﻴﺳﻭﺮﭘ ﻢٽﺴﺳ
Comment[si]=Htop පද්ධති ක්u200dරියාවලි නරඹන්නා
Comment[sk]=Htop System Process Viewer
Comment[sl]=Pregledovalnik sistemskih procesov Htop
Comment[sm]=Htop System Process Viewer
Comment[sn]=Htop System Process Viewer
Comment[so]=Htop Nidaamka Nidaamka Daawaha
Comment[sq]=Shikuesi i procesit të sistemit Htop
Comment[st]=Htop System Process Viewer
Comment[su]=Htop System Prosés Viewer
Comment[sv]=Htop System Process Viewer
Comment[sw]=Kitazamaji cha Mchakato wa Mfumo wa Htop
Comment[ta]=Htop கணினி செயல்முறை பார்வையாளர்
Comment[te]=Htop సిస్టమ్ ప్రాసెస్ వ్యూయర్
Comment[tg]=Намоишгари равандҳои системаи Htop
Comment[th]=โปรแกรมดูกระบวนการระบบ Htop
Comment[ti]=Htop ስርዓት መስርሕ ርአ
Comment[tk]=Htop ulgam prosesi görkezijisi
Comment[tl]=Htop System Process Viewer
Comment[to]=Htop Founga ngaue ʻa e System Viewer
Comment[tr]=Htop Sistem İşlem Görüntüleyici
Comment[ts]=Xilanguti xa Maendlelo ya Sisiteme ya Htop
Comment[tt]=Htop системасы процесс тамашачысы
Comment[tw]=Htop System Dwumadie Hwɛfoɔ
Comment[ty]=Te taata hi'opoa i te faanahoraa Htop
Comment[ug]=Htop ﭺﯘﻐﻠﯩﻗ ﭖەﺭەﺗ ﺮﯩﺑ ﺎﻤﯧﺘﺴﯩﺳ
Comment[uk]=Перегляд системних процесів Htop
Comment[ur]=Htop ﺭﻮﯾﻭ ﺲﯿﺳﻭﺮﭘ ﻢﭩﺴﺳ
Comment[uz]=Htop tizim jarayonini ko'rish dasturi
Comment[vi]=Trình xem quy trình hệ thống Htop
Comment[xh]=Umjongi weNkqubo yeHtop
Comment[yi]=רעויוו סעסאַרפּ םעטסיס פּאָטה
Comment[yo]=Htop System Ilana wiwo
Comment[zh]=Htop系统进程查看器
Comment[zu]=I-Htop System Process Viewer
Comment=Htop System Process Viewer
Exec=htop-wrapper
Terminal=false
Type=Application
Categories=X-System-process
GenericName=Htop
