[Desktop Entry]
Encoding=UTF-8
Name[af]=Grisbi finansiële bestuur
Name[am]=Grisbi ፋይናንስ አስተዳደር
Name[ar]=Grisbi ﻞﻳﻮﻤﺗ ﺓﺭﺍﺩﺇ
Name[as]=গ্ৰীছবি বিত্তীয় ব্যৱস্থাপনা
Name[ay]=Grisbi qullqi apnaqaña
Name[az]=Grisbi maliyyə menecmenti
Name[ba]=Грисби финанс менеджменты
Name[be]=Фінансавы менеджмент Grisbi
Name[bg]=Гризби управление на финансите
Name[bm]=Grisbi wariko ɲɛnabɔli
Name[bn]=গ্রিসবি ফাইন্যান্স ম্যানেজমেন্ট
Name[bo]=ཀི་ལི་ཧྲི་པིའི་ནོར་དོན་དོ་དམ།
Name[bs]=Grisbi upravljanje finansijama
Name[ca]=Gestió financera Grisbi
Name[co]=A gestione finanziaria di Grisbi
Name[cs]=Finanční správa Grisbi
Name[cy]=rheoli cyllid Grisbi
Name[da]=Grisbi økonomistyring
Name[de]=Grisbi Finanzmanagement
Name[dv]=ވެޓެންމަޖްނޭމެ ސްންނޭއިފަ ބީސްރިގް
Name[ee]=Grisbi ƒe ganyawo gbɔ kpɔkpɔ
Name[el]=Grisbi χρηματοοικονομική διαχείριση
Name[en]=Grisbi finance management
Name[eo]=Grisbi financa administrado
Name[es]=Gestión financiera de Grisbi
Name[et]=Grisbi finantsjuhtimine
Name[eu]=Grisbi finantza kudeaketa
Name[fa]=ﯽﺒﺴﯾﺮﮔ ﯽﻟﺎﻣ ﺖﯾﺮﯾﺪﻣ
Name[fi]=Grisbi taloushallinto
Name[fj]=lewai ni veika vakailavo ni Grisbi
Name[fo]=Grisbi finance management
Name[fr]=Gestion financière Grisbi
Name[fy]=Grisbi finance management
Name[ga]=Bainistíocht airgeadais Grisbi saor in aisce,
Name[gd]=Grisbi stiùireadh ionmhais
Name[gl]=Xestión financeira Grisbi
Name[gn]=Grisbi gestión financiera rehegua
Name[gu]=ગ્રીસ્બી ફાઇનાન્સ મેનેજમેન્ટ
Name[ha]=Grisbi Finance Management
Name[he]=Grisbi לש םיפסכ לוהינ
Name[hi]=ग्रिस्बी वित्त प्रबंधन
Name[hr]=Grisbi upravljanje financijama
Name[ht]=Grisbi jesyon finans
Name[hu]=Grisbi pénzügyi menedzsment
Name[hy]=Գրիսբիի ֆինանսական կառավարում
Name[id]=pengelolaan keuangan Grisbi
Name[ig]=Grisbi ego njikwa ego
Name[is]=Grisbi fjármálastjórn
Name[it]=Grisbi gestione finanziaria
Name[iu]=Grisbi ᑮᓇᐅᔭᓕᕆᓂᕐᒧᑦ ᐊᐅᓚᑦᑎᓂᖅ
Name[ja]=グリスビ財務管理
Name[jv]=Manajemen keuangan Grisbi
Name[ka]=გრისბის ფინანსების მართვა
Name[kk]=Grisbi қаржы менеджменті
Name[km]=ការគ្រប់គ្រងហិរញ្ញវត្ថុ Grisbi
Name[kn]=ಗ್ರಿಸ್ಬಿ ಹಣಕಾಸು ನಿರ್ವಹಣೆ
Name[ko]=그리스비 재무관리
Name[ku]=Rêveberiya darayî ya Grisbi
Name[ky]=Grisbi каржылык башкаруу
Name[la]=Grisbi administratione oeconomicis
Name[lb]=Grisbi Finanzmanagement
Name[lg]=Enzirukanya y’ebyensimbi mu Grisbi
Name[ln]=Grisbi gestion ya misolo
Name[lo]=ການຄຸ້ມຄອງການເງິນ Grisbi
Name[lt]=Grisbi finansų valdymas
Name[lv]=Grisbi finanšu vadība
Name[mg]=Grisbi finance management
Name[mi]=Whakahaerenga moni a Grisbi
Name[mk]=Гризби управување со финансии
Name[ml]=ഗ്രിസ്ബി ഫിനാൻസ് മാനേജ്മെന്റ്
Name[mn]=Грисбигийн санхүүгийн менежмент
Name[mr]=Grisbi वित्त व्यवस्थापन
Name[ms]=Pengurusan kewangan Grisbi
Name[mt]=Grisbi finance management
Name[my]=Grisbi ဘဏ္ဍာရေးစီမံခန့်ခွဲမှု
Name[ne]=Grisbi वित्त व्यवस्थापन
Name[nl]=Grisbi financieel beheer
Name[no]=Grisbi økonomistyring
Name[ny]=Grisbi Finance Management
Name[om]=Hoggansa faayinaansii Grisbi
Name[or]=ଗ୍ରିସବି ଫାଇନାନ୍ସ ମ୍ୟାନେଜମେଣ୍ଟ |
Name[pa]=ਗ੍ਰਿਸਬੀ ਵਿੱਤ ਪ੍ਰਬੰਧਨ
Name[pl]=Zarządzanie finansami Grisbi
Name[ps]=ﺖﯾﺮﯾﺪﻣ ﻲﻟﺎﻣ ﻲﺒﺴﯾﺮګ ﺩ
Name[pt]=Gestão financeira Grisbi
Name[qu]=Grisbi qullqi kamachiy
Name[ro]=management financiar Grisbi
Name[ru]=Финансовый менеджмент Grisbi
Name[rw]=Grisbi gucunga imari
Name[sa]=ग्रिस्बि वित्त प्रबन्धन
Name[sd]=Grisbi ٽﻨﻴﻤﺠﻴﻨﻴﻣ ﺲﻧﺎﻨﻓ
Name[si]=Grisbi මූල්ය කළමනාකරණය
Name[sk]=Finančný manažment Grisbi
Name[sl]=Grisbi upravljanje financ
Name[sm]=Grisbi pulega tau tupe
Name[sn]=Grisbi mari manejimendi
Name[so]=Maamulka maaliyadda Grisbi
Name[sq]=Menaxhimi i financave Grisbi
Name[st]=Tsamaiso ea lichelete ea Grisbi
Name[su]=manajemén keuangan Grisbi
Name[sv]=Grisbi finansförvaltning
Name[sw]=Grisbi usimamizi wa fedha
Name[ta]=கிரிஸ்பி நிதி மேலாண்மை
Name[te]=గ్రిస్బి ఫైనాన్స్ మేనేజ్u200cమెంట్
Name[tg]=Идоракунии молияи Grisbi
Name[th]=การจัดการการเงิน Grisbi
Name[ti]=ግሪስቢ ፋይናንስ ምሕደራ
Name[tk]=Grisbi maliýe dolandyryşy
Name[tl]=Pamamahala ng pananalapi ng Grisbi
Name[to]=Tokangaʻi ʻo e meʻa fakapaʻanga Grisbi
Name[tr]=Grisbi finans yönetimi
Name[ts]=Vufambisi bya timali bya Grisbi
Name[tt]=Грисби финанс менеджменты
Name[tw]=Grisbi sikasɛm ho nhyehyɛe
Name[ty]=Te faatereraa i te mau faufaa moni
Name[ug]=Grisbi ﺵﯗﺭﯘﻘﺷﺎﺑ ەﻴﯩﻟﺎﻣ
Name[uk]=Управління фінансами Grisbi
Name[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﺲﻧﺎﻨﻓ ﯽﺒﺴﯾﺮﮔ
Name[uz]=Grisbi moliya boshqaruvi
Name[vi]=Quản lý tài chính Grisbi
Name[xh]=Ulawulo lwemali yeGrisbi
Name[yi]=גנוטלאַווראַפ ןצנאַניפ יבסירג
Name[yo]=Grisbi inawo isakoso
Name[zh]=格里斯比财务管理
Name[zu]=Ukuphathwa kwezimali kweGrisbi
Name=Grisbi finance management
Comment[af]=Grisbi finansiële bestuur
Comment[am]=Grisbi ፋይናንስ አስተዳደር
Comment[ar]=Grisbi ﻞﻳﻮﻤﺗ ﺓﺭﺍﺩﺇ
Comment[as]=গ্ৰীছবি বিত্তীয় ব্যৱস্থাপনা
Comment[ay]=Grisbi qullqi apnaqaña
Comment[az]=Grisbi maliyyə menecmenti
Comment[ba]=Грисби финанс менеджменты
Comment[be]=Фінансавы менеджмент Grisbi
Comment[bg]=Гризби управление на финансите
Comment[bm]=Grisbi wariko ɲɛnabɔli
Comment[bn]=গ্রিসবি ফাইন্যান্স ম্যানেজমেন্ট
Comment[bo]=ཀི་ལི་ཧྲི་པིའི་ནོར་དོན་དོ་དམ།
Comment[bs]=Grisbi upravljanje finansijama
Comment[ca]=Gestió financera Grisbi
Comment[co]=A gestione finanziaria di Grisbi
Comment[cs]=Finanční správa Grisbi
Comment[cy]=rheoli cyllid Grisbi
Comment[da]=Grisbi økonomistyring
Comment[de]=Grisbi Finanzmanagement
Comment[dv]=ވެޓެންމަޖްނޭމެ ސްންނޭއިފަ ބީސްރިގް
Comment[ee]=Grisbi ƒe ganyawo gbɔ kpɔkpɔ
Comment[el]=Grisbi χρηματοοικονομική διαχείριση
Comment[en]=Grisbi finance management
Comment[eo]=Grisbi financa administrado
Comment[es]=Gestión financiera de Grisbi
Comment[et]=Grisbi finantsjuhtimine
Comment[eu]=Grisbi finantza kudeaketa
Comment[fa]=ﯽﺒﺴﯾﺮﮔ ﯽﻟﺎﻣ ﺖﯾﺮﯾﺪﻣ
Comment[fi]=Grisbi taloushallinto
Comment[fj]=lewai ni veika vakailavo ni Grisbi
Comment[fo]=Grisbi finance management
Comment[fr]=Gestion financière Grisbi
Comment[fy]=Grisbi finance management
Comment[ga]=Bainistíocht airgeadais Grisbi saor in aisce,
Comment[gd]=Grisbi stiùireadh ionmhais
Comment[gl]=Xestión financeira Grisbi
Comment[gn]=Grisbi gestión financiera rehegua
Comment[gu]=ગ્રીસ્બી ફાઇનાન્સ મેનેજમેન્ટ
Comment[ha]=Grisbi Finance Management
Comment[he]=Grisbi לש םיפסכ לוהינ
Comment[hi]=ग्रिस्बी वित्त प्रबंधन
Comment[hr]=Grisbi upravljanje financijama
Comment[ht]=Grisbi jesyon finans
Comment[hu]=Grisbi pénzügyi menedzsment
Comment[hy]=Գրիսբիի ֆինանսական կառավարում
Comment[id]=pengelolaan keuangan Grisbi
Comment[ig]=Grisbi ego njikwa ego
Comment[is]=Grisbi fjármálastjórn
Comment[it]=Grisbi gestione finanziaria
Comment[iu]=Grisbi ᑮᓇᐅᔭᓕᕆᓂᕐᒧᑦ ᐊᐅᓚᑦᑎᓂᖅ
Comment[ja]=グリスビ財務管理
Comment[jv]=Manajemen keuangan Grisbi
Comment[ka]=გრისბის ფინანსების მართვა
Comment[kk]=Grisbi қаржы менеджменті
Comment[km]=ការគ្រប់គ្រងហិរញ្ញវត្ថុ Grisbi
Comment[kn]=ಗ್ರಿಸ್ಬಿ ಹಣಕಾಸು ನಿರ್ವಹಣೆ
Comment[ko]=그리스비 재무관리
Comment[ku]=Rêveberiya darayî ya Grisbi
Comment[ky]=Grisbi каржылык башкаруу
Comment[la]=Grisbi administratione oeconomicis
Comment[lb]=Grisbi Finanzmanagement
Comment[lg]=Enzirukanya y’ebyensimbi mu Grisbi
Comment[ln]=Grisbi gestion ya misolo
Comment[lo]=ການຄຸ້ມຄອງການເງິນ Grisbi
Comment[lt]=Grisbi finansų valdymas
Comment[lv]=Grisbi finanšu vadība
Comment[mg]=Grisbi finance management
Comment[mi]=Whakahaerenga moni a Grisbi
Comment[mk]=Гризби управување со финансии
Comment[ml]=ഗ്രിസ്ബി ഫിനാൻസ് മാനേജ്മെന്റ്
Comment[mn]=Грисбигийн санхүүгийн менежмент
Comment[mr]=Grisbi वित्त व्यवस्थापन
Comment[ms]=Pengurusan kewangan Grisbi
Comment[mt]=Grisbi finance management
Comment[my]=Grisbi ဘဏ္ဍာရေးစီမံခန့်ခွဲမှု
Comment[ne]=Grisbi वित्त व्यवस्थापन
Comment[nl]=Grisbi financieel beheer
Comment[no]=Grisbi økonomistyring
Comment[ny]=Grisbi Finance Management
Comment[om]=Hoggansa faayinaansii Grisbi
Comment[or]=ଗ୍ରିସବି ଫାଇନାନ୍ସ ମ୍ୟାନେଜମେଣ୍ଟ |
Comment[pa]=ਗ੍ਰਿਸਬੀ ਵਿੱਤ ਪ੍ਰਬੰਧਨ
Comment[pl]=Zarządzanie finansami Grisbi
Comment[ps]=ﺖﯾﺮﯾﺪﻣ ﻲﻟﺎﻣ ﻲﺒﺴﯾﺮګ ﺩ
Comment[pt]=Gestão financeira Grisbi
Comment[qu]=Grisbi qullqi kamachiy
Comment[ro]=management financiar Grisbi
Comment[ru]=Финансовый менеджмент Grisbi
Comment[rw]=Grisbi gucunga imari
Comment[sa]=ग्रिस्बि वित्त प्रबन्धन
Comment[sd]=Grisbi ٽﻨﻴﻤﺠﻴﻨﻴﻣ ﺲﻧﺎﻨﻓ
Comment[si]=Grisbi මූල්ය කළමනාකරණය
Comment[sk]=Finančný manažment Grisbi
Comment[sl]=Grisbi upravljanje financ
Comment[sm]=Grisbi pulega tau tupe
Comment[sn]=Grisbi mari manejimendi
Comment[so]=Maamulka maaliyadda Grisbi
Comment[sq]=Menaxhimi i financave Grisbi
Comment[st]=Tsamaiso ea lichelete ea Grisbi
Comment[su]=manajemén keuangan Grisbi
Comment[sv]=Grisbi finansförvaltning
Comment[sw]=Grisbi usimamizi wa fedha
Comment[ta]=கிரிஸ்பி நிதி மேலாண்மை
Comment[te]=గ్రిస్బి ఫైనాన్స్ మేనేజ్u200cమెంట్
Comment[tg]=Идоракунии молияи Grisbi
Comment[th]=การจัดการการเงิน Grisbi
Comment[ti]=ግሪስቢ ፋይናንስ ምሕደራ
Comment[tk]=Grisbi maliýe dolandyryşy
Comment[tl]=Pamamahala ng pananalapi ng Grisbi
Comment[to]=Tokangaʻi ʻo e meʻa fakapaʻanga Grisbi
Comment[tr]=Grisbi finans yönetimi
Comment[ts]=Vufambisi bya timali bya Grisbi
Comment[tt]=Грисби финанс менеджменты
Comment[tw]=Grisbi sikasɛm ho nhyehyɛe
Comment[ty]=Te faatereraa i te mau faufaa moni
Comment[ug]=Grisbi ﺵﯗﺭﯘﻘﺷﺎﺑ ەﻴﯩﻟﺎﻣ
Comment[uk]=Управління фінансами Grisbi
Comment[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﺲﻧﺎﻨﻓ ﯽﺒﺴﯾﺮﮔ
Comment[uz]=Grisbi moliya boshqaruvi
Comment[vi]=Quản lý tài chính Grisbi
Comment[xh]=Ulawulo lwemali yeGrisbi
Comment[yi]=גנוטלאַווראַפ ןצנאַניפ יבסירג
Comment[yo]=Grisbi inawo isakoso
Comment[zh]=格里斯比财务管理
Comment[zu]=Ukuphathwa kwezimali kweGrisbi
Comment=Grisbi finance management
Exec=grisbi
Icon=grisbi.png
Terminal=false
MimeType=application/x-grisbi
Type=Application
Categories=X-Business-finance
GenericName=Grisbi
