[Desktop Entry]
Encoding=UTF-8
Name=Grisbi finance management
Comment=Personal finance manager
Exec=grisbi
Icon=grisbi.png
Terminal=false
MimeType=application/x-grisbi
Type=Application
Categories=X-Business-finance
GenericName=Grisbi
