[Desktop Entry]
Encoding=UTF-8
Name[af]=Gcolor2 kleur kieser
Name[am]=Gcolor2 ቀለም መራጭ
Name[ar]=Gcolor2 ﻥﺍﻮﻟﻷ﻿ﺍ ﻲﻘﺘﻨﻣ
Name[as]=Gcolor2 ৰং নিৰ্বাচক
Name[ay]=Gcolor2 saminakan ajllitapa
Name[az]=Gcolor2 rəng seçicisi
Name[ba]=Глор2 төҫөн һайлаусы
Name[be]=Выбар колеру Gcolor2
Name[bg]=Избор на цвят Gcolor2
Name[bm]=Gcolor2 kulɛri sugandibaga
Name[bn]=Gcolor2 রঙ চয়নকারী
Name[bo]=G color 2 color chooser
Name[bs]=Gcolor2 birač boja
Name[ca]=Selector de colors Gcolor2
Name[co]=Selettore di culore Gcolor2
Name[cs]=Výběr barvy Gcolor2
Name[cy]=Dewisydd lliw Gcolor2
Name[da]=Gcolor2 farvevælger
Name[de]=Gcolor2-Farbauswahl
Name[dv]=ވެކެޗެއްއެ ވާހޮ ލަކު 2ރލަކަޖީ
Name[ee]=Gcolor2 amadede tiatia
Name[el]=Επιλογέας χρώματος Gcolor2
Name[en]=Gcolor2 color chooser
Name[eo]=Gcolor2 kolorelektilo
Name[es]=Selector de color Gcolor2
Name[et]=Gcolor2 värvivalija
Name[eu]=Gcolor2 kolore-hautatzailea
Name[fa]=Gcolor2 ﮓﻧﺭ ﺮﮕﺑﺎﺨﺘﻧﺍ
Name[fi]=Gcolor2 värinvalitsin
Name[fj]=Gcolor2 color chooser
Name[fo]=Gcolor2 color veljar
Name[fr]=Sélecteur de couleurs Gcolor2
Name[fy]=Gcolor2 kleur kiezer
Name[ga]=Roghnóir dath gcolor2
Name[gd]=Taghadh dath gcolor2
Name[gl]=Selector de cores Gcolor2
Name[gn]=Gcolor2 sa’y oiporavóva
Name[gu]=Gcolor2 રંગ પસંદકર્તા
Name[ha]=Gcolor2 mai zabar launi
Name[he]=Gcolor2 םיעבצה רחוב
Name[hi]=Gcolor2 रंग चयनकर्ता
Name[hr]=Gcolor2 birač boja
Name[ht]=Gcolor2 koulè chwazi
Name[hu]=Gcolor2 színválasztó
Name[hy]=Gcolor2 գույնի ընտրիչ
Name[id]=Pemilih warna Gcolor2
Name[ig]=Gcolor2 na-ahọrọ agba
Name[is]=Gcolor2 litavali
Name[it]=Selettore colore Gcolor2
Name[iu]=Gcolor2 ᑕᖅᓴᖓ ᓂᕈᐊᕈᑦ
Name[ja]=Gcolor2 カラーセレクター
Name[jv]=Gcolor2 pamilih warna
Name[ka]=Gcolor2 ფერის ამომრჩევი
Name[kk]=Gcolor2 түс таңдау құралы
Name[km]=អ្នកជ្រើសរើសពណ៌ Gcolor2
Name[kn]=Gcolor2 ಬಣ್ಣ ಆಯ್ಕೆ
Name[ko]=Gcolor2 색상 선택기
Name[ku]=Hilbijêrê rengê Gcolor2
Name[ky]=Gcolor2 түс тандагыч
Name[la]=Gcolor2 color eligentis
Name[lb]=Gcolor2 Faarfwieler
Name[lg]=Gcolor2 omulonda langi
Name[ln]=Gcolor2 moponi ya langi
Name[lo]=ຕົວເລືອກສີ Gcolor2
Name[lt]=Gcolor2 spalvų parinkiklis
Name[lv]=Gcolor2 krāsu izvēle
Name[mg]=Mpifidy loko Gcolor2
Name[mi]=Kaiwhiri tae Gcolor2
Name[mk]=Избирач на бои Gcolor2
Name[ml]=Gcolor2 വർണ്ണ തിരഞ്ഞെടുക്കൽ
Name[mn]=Gcolor2 өнгө сонгогч
Name[mr]=Gcolor2 रंग निवडक
Name[ms]=Pemilih warna Gcolor2
Name[mt]=Gcolor2 li jagħżel il-kulur
Name[my]=Gcolor2 အရောင်ရွေးချယ်သူ
Name[ne]=Gcolor2 रङ चयनकर्ता
Name[nl]=Gcolor2 kleurkiezer
Name[no]=Gcolor2 fargevelger
Name[ny]=Gcolor2 mtundu wosankha
Name[om]=Filataa halluu Gcolor2
Name[or]=Gcolor2 ରଙ୍ଗ ଚୟନକାରୀ |
Name[pa]=Gcolor2 ਰੰਗ ਚੋਣਕਾਰ
Name[pl]=Selektor kolorów Gcolor2
Name[ps]=ﯽﮑﻧﻮﮐ ﻩﺭﻮﻏ ګﻧﺭ Gcolor2 ﺩ
Name[pt]=Seletor de cores Gcolor2
Name[qu]=Gcolor2 llimpi akllaq
Name[ro]=Selector de culoare Gcolor2
Name[ru]=Выбор цвета Gcolor2
Name[rw]=Guhitamo amabara ya Gcolor2
Name[sa]=Gcolor2 वर्ण चयनकर्ता
Name[sd]=Gcolor2 ڙﺪﻨﻳڊﻧﻮﭼ ﮓﻧﺭ
Name[si]=Gcolor2 වර්ණ තේරීම
Name[sk]=Výber farieb Gcolor2
Name[sl]=Izbirnik barv Gcolor2
Name[sm]=Gcolor2 filifili lanu
Name[sn]=Gcolor2 color chooser
Name[so]=midabka Gcolor2
Name[sq]=Zgjedhës ngjyrash Gcolor2
Name[st]=Khetho ea mebala ea Gcolor2
Name[su]=Pamilih warna Gcolor2
Name[sv]=Gcolor2 färgväljare
Name[sw]=Kichagua rangi cha Gcolor2
Name[ta]=Gcolor2 வண்ணத் தேர்வி
Name[te]=Gcolor2 రంగు ఎంపిక
Name[tg]=Gcolor2 интихобкунандаи ранг
Name[th]=ตัวเลือกสี Gcolor2
Name[ti]=Gcolor2 ሕብሪ መምረጺ
Name[tk]=Gcolor2 reňk saýlaýjy
Name[tl]=Tagapili ng kulay ng Gcolor2
Name[to]=Gcolor2 lanu chooser
Name[tr]=Gcolor2 renk seçici
Name[ts]=Gcolor2 muhlawuri wa mihlovo
Name[tt]=Gcolor2 төс сайлаучы
Name[tw]=Gcolor2 kɔla a wɔpaw
Name[ty]=Gcolor2 Ma'iti i te û
Name[ug]=Gcolor2 ﭺﯘﻐﯩﻠﻟﺎﺗ ﯓەﺭ
Name[uk]=Вибір кольору Gcolor2
Name[ur]=Gcolor2 ﮦﺪﻨﻨﮐ ﺐﺨﺘﻨﻣ ﮓﻧﺭ
Name[uz]=Gcolor2 rang tanlash
Name[vi]=Bộ chọn màu Gcolor2
Name[xh]=Gcolor2 isikhethi sombala
Name[yi]=Gcolor2 רעסיושט רילאָק
Name[yo]=Gcolor2 awọ yiyan
Name[zh]=Gcolor2 颜色选择器
Name[zu]=Isikhethi sombala we-Gcolor2
Name=Gcolor2 color chooser
Icon=gcolor2.png
Comment[af]=Gcolor2 kleur kieser
Comment[am]=Gcolor2 ቀለም መራጭ
Comment[ar]=Gcolor2 ﻥﺍﻮﻟﻷ﻿ﺍ ﻲﻘﺘﻨﻣ
Comment[as]=Gcolor2 ৰং নিৰ্বাচক
Comment[ay]=Gcolor2 saminakan ajllitapa
Comment[az]=Gcolor2 rəng seçicisi
Comment[ba]=Глор2 төҫөн һайлаусы
Comment[be]=Выбар колеру Gcolor2
Comment[bg]=Избор на цвят Gcolor2
Comment[bm]=Gcolor2 kulɛri sugandibaga
Comment[bn]=Gcolor2 রঙ চয়নকারী
Comment[bo]=G color 2 color chooser
Comment[bs]=Gcolor2 birač boja
Comment[ca]=Selector de colors Gcolor2
Comment[co]=Selettore di culore Gcolor2
Comment[cs]=Výběr barvy Gcolor2
Comment[cy]=Dewisydd lliw Gcolor2
Comment[da]=Gcolor2 farvevælger
Comment[de]=Gcolor2-Farbauswahl
Comment[dv]=ވެކެޗެއްއެ ވާހޮ ލަކު 2ރލަކަޖީ
Comment[ee]=Gcolor2 amadede tiatia
Comment[el]=Επιλογέας χρώματος Gcolor2
Comment[en]=Gcolor2 color chooser
Comment[eo]=Gcolor2 kolorelektilo
Comment[es]=Selector de color Gcolor2
Comment[et]=Gcolor2 värvivalija
Comment[eu]=Gcolor2 kolore-hautatzailea
Comment[fa]=Gcolor2 ﮓﻧﺭ ﺮﮕﺑﺎﺨﺘﻧﺍ
Comment[fi]=Gcolor2 värinvalitsin
Comment[fj]=Gcolor2 color chooser
Comment[fo]=Gcolor2 color veljar
Comment[fr]=Sélecteur de couleurs Gcolor2
Comment[fy]=Gcolor2 kleur kiezer
Comment[ga]=Roghnóir dath gcolor2
Comment[gd]=Taghadh dath gcolor2
Comment[gl]=Selector de cores Gcolor2
Comment[gn]=Gcolor2 sa’y oiporavóva
Comment[gu]=Gcolor2 રંગ પસંદકર્તા
Comment[ha]=Gcolor2 mai zabar launi
Comment[he]=Gcolor2 םיעבצה רחוב
Comment[hi]=Gcolor2 रंग चयनकर्ता
Comment[hr]=Gcolor2 birač boja
Comment[ht]=Gcolor2 koulè chwazi
Comment[hu]=Gcolor2 színválasztó
Comment[hy]=Gcolor2 գույնի ընտրիչ
Comment[id]=Pemilih warna Gcolor2
Comment[ig]=Gcolor2 na-ahọrọ agba
Comment[is]=Gcolor2 litavali
Comment[it]=Selettore colore Gcolor2
Comment[iu]=Gcolor2 ᑕᖅᓴᖓ ᓂᕈᐊᕈᑦ
Comment[ja]=Gcolor2 カラーセレクター
Comment[jv]=Gcolor2 pamilih warna
Comment[ka]=Gcolor2 ფერის ამომრჩევი
Comment[kk]=Gcolor2 түс таңдау құралы
Comment[km]=អ្នកជ្រើសរើសពណ៌ Gcolor2
Comment[kn]=Gcolor2 ಬಣ್ಣ ಆಯ್ಕೆ
Comment[ko]=Gcolor2 색상 선택기
Comment[ku]=Hilbijêrê rengê Gcolor2
Comment[ky]=Gcolor2 түс тандагыч
Comment[la]=Gcolor2 color eligentis
Comment[lb]=Gcolor2 Faarfwieler
Comment[lg]=Gcolor2 omulonda langi
Comment[ln]=Gcolor2 moponi ya langi
Comment[lo]=ຕົວເລືອກສີ Gcolor2
Comment[lt]=Gcolor2 spalvų parinkiklis
Comment[lv]=Gcolor2 krāsu izvēle
Comment[mg]=Mpifidy loko Gcolor2
Comment[mi]=Kaiwhiri tae Gcolor2
Comment[mk]=Избирач на бои Gcolor2
Comment[ml]=Gcolor2 വർണ്ണ തിരഞ്ഞെടുക്കൽ
Comment[mn]=Gcolor2 өнгө сонгогч
Comment[mr]=Gcolor2 रंग निवडक
Comment[ms]=Pemilih warna Gcolor2
Comment[mt]=Gcolor2 li jagħżel il-kulur
Comment[my]=Gcolor2 အရောင်ရွေးချယ်သူ
Comment[ne]=Gcolor2 रङ चयनकर्ता
Comment[nl]=Gcolor2 kleurkiezer
Comment[no]=Gcolor2 fargevelger
Comment[ny]=Gcolor2 mtundu wosankha
Comment[om]=Filataa halluu Gcolor2
Comment[or]=Gcolor2 ରଙ୍ଗ ଚୟନକାରୀ |
Comment[pa]=Gcolor2 ਰੰਗ ਚੋਣਕਾਰ
Comment[pl]=Selektor kolorów Gcolor2
Comment[ps]=ﯽﮑﻧﻮﮐ ﻩﺭﻮﻏ ګﻧﺭ Gcolor2 ﺩ
Comment[pt]=Seletor de cores Gcolor2
Comment[qu]=Gcolor2 llimpi akllaq
Comment[ro]=Selector de culoare Gcolor2
Comment[ru]=Выбор цвета Gcolor2
Comment[rw]=Guhitamo amabara ya Gcolor2
Comment[sa]=Gcolor2 वर्ण चयनकर्ता
Comment[sd]=Gcolor2 ڙﺪﻨﻳڊﻧﻮﭼ ﮓﻧﺭ
Comment[si]=Gcolor2 වර්ණ තේරීම
Comment[sk]=Výber farieb Gcolor2
Comment[sl]=Izbirnik barv Gcolor2
Comment[sm]=Gcolor2 filifili lanu
Comment[sn]=Gcolor2 color chooser
Comment[so]=midabka Gcolor2
Comment[sq]=Zgjedhës ngjyrash Gcolor2
Comment[st]=Khetho ea mebala ea Gcolor2
Comment[su]=Pamilih warna Gcolor2
Comment[sv]=Gcolor2 färgväljare
Comment[sw]=Kichagua rangi cha Gcolor2
Comment[ta]=Gcolor2 வண்ணத் தேர்வி
Comment[te]=Gcolor2 రంగు ఎంపిక
Comment[tg]=Gcolor2 интихобкунандаи ранг
Comment[th]=ตัวเลือกสี Gcolor2
Comment[ti]=Gcolor2 ሕብሪ መምረጺ
Comment[tk]=Gcolor2 reňk saýlaýjy
Comment[tl]=Tagapili ng kulay ng Gcolor2
Comment[to]=Gcolor2 lanu chooser
Comment[tr]=Gcolor2 renk seçici
Comment[ts]=Gcolor2 muhlawuri wa mihlovo
Comment[tt]=Gcolor2 төс сайлаучы
Comment[tw]=Gcolor2 kɔla a wɔpaw
Comment[ty]=Gcolor2 Ma'iti i te û
Comment[ug]=Gcolor2 ﭺﯘﻐﯩﻠﻟﺎﺗ ﯓەﺭ
Comment[uk]=Вибір кольору Gcolor2
Comment[ur]=Gcolor2 ﮦﺪﻨﻨﮐ ﺐﺨﺘﻨﻣ ﮓﻧﺭ
Comment[uz]=Gcolor2 rang tanlash
Comment[vi]=Bộ chọn màu Gcolor2
Comment[xh]=Gcolor2 isikhethi sombala
Comment[yi]=Gcolor2 רעסיושט רילאָק
Comment[yo]=Gcolor2 awọ yiyan
Comment[zh]=Gcolor2 颜色选择器
Comment[zu]=Isikhethi sombala we-Gcolor2
Comment=Gcolor2 color chooser
Exec=gcolor2
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Gcolor2
