[Desktop Entry]
Encoding=UTF-8
Name[af]=Gpccard PCMCIA monitor
Name[am]=Gpccard PCMCIA ማሳያ
Name[ar]=Gpccard PCMCIA ﺔﺷﺎﺷ
Name[as]=Gpccard PCMCIA মনিটৰ
Name[ay]=Gpccard PCMCIA ukan uñjiri
Name[az]=Gpccard PCMCIA monitor
Name[ba]=Gpccard PCMCIA мониторы
Name[be]=Манітор Gpccard PCMCIA
Name[bg]=Gpccard PCMCIA монитор
Name[bm]=Gpccard PCMCIA kɔlɔsilikɛla
Name[bn]=Gpccard PCMCIA মনিটর
Name[bo]=GPCcard PCMCIAལྟ་ཞིབ་ཚད་ལེན་འཕྲུལ་ཆས།
Name[bs]=Gpccard PCMCIA monitor
Name[ca]=Monitor PCMCIA Gpccard
Name[co]=Gpccard PCMCIA monitor
Name[cs]=Gpccard PCMCIA monitor
Name[cy]=Gpccard PCMCIA monitor
Name[da]=Gpccard PCMCIA skærm
Name[de]=Gpccard PCMCIA-Monitor
Name[dv]=ރޓަނިމޮ އޭއިއަސީމްއެސީޕީ ޑްކާޕީޖީ
Name[ee]=Gpccard PCMCIA ƒe ŋkuléleɖenuŋu
Name[el]=Οθόνη Gpccard PCMCIA
Name[eo]=Gpccard PCMCIA monitoro
Name[es]=Monitor PCMCIA tarjeta gpc
Name[et]=Gpccard PCMCIA monitor
Name[eu]=Gpccard PCMCIA monitorea
Name[fa]=Gpccard PCMCIA ﺭﻮﺘﯿﻧﺎﻣ
Name[fi]=Gpccard PCMCIA näyttö
Name[fj]=Misini ni Gpccard PCMCIA
Name[fo]=Gpccard PCMCIA monitor
Name[fr]=Moniteur Gpccard PCMCIA
Name[fy]=Gpccard PCMCIA monitor
Name[ga]=Monatóireacht a dhéanamh ar gpccard PCMCIA
Name[gd]=Gpcard sùil a chumail air PCMCIA
Name[gl]=Monitor PCMCIA Gpccard
Name[gn]=Gpccard PCMCIA jesarekoha
Name[gu]=Gpccard PCMCIA મોનિટર
Name[ha]=Gpccard PCMCIA Monitor
Name[he]=Gpccard PCMCIA גצ
Name[hi]=Gpccard PCMCIA मॉनिटर
Name[hr]=Gpccard PCMCIA monitor
Name[ht]=Gpccard PCMCIA pou kontwole
Name[hu]=Gpccard PCMCIA monitor
Name[hy]=Gpccard PCMCIA մոնիտոր
Name[id]=Monitor Gpccard PCMCIA
Name[ig]=Gpccard PCMCIA nyochaa
Name[is]=Gpccard PCMCIA skjár
Name[it]=Monitor Gpccard PCMCIA
Name[iu]=Gpccard PCMCIA−ᒧᑦ ᖃᐅᔨᓴᕈᑎ
Name[ja]=Gpccard PCMCIA モニター
Name[jv]=Gpccard PCMCIA monitor
Name[ka]=Gpccard PCMCIA მონიტორი
Name[kk]=Gpccard PCMCIA мониторы
Name[km]=ម៉ូនីទ័រ Gpccard PCMCIA
Name[kn]=Gpccard PCMCIA ಮಾನಿಟರ್
Name[ko]=Gpccard PCMCIA 모니터
Name[ku]=Gpccard PCMCIA monitor
Name[ky]=Gpccard PCMCIA монитор
Name[la]=Gpccard PCMCIA monitor
Name[lb]=Gpccard PCMCIA Monitor
Name[lg]=Gpccard PCMCIA omulondozi
Name[ln]=Gpccard PCMCIA monitor
Name[lo]=ຈໍ Gpccard PCMCIA
Name[lt]=Gpccard PCMCIA monitorius
Name[lv]=Gpccard PCMCIA monitors
Name[mg]=Gpccard PCMCIA monitor
Name[mi]=Gpccard PCMCIA aroturuki
Name[mk]=Gpccard PCMCIA монитор
Name[ml]=Gpccard PCMCIA മോണിറ്റർ
Name[mn]=Gpccard PCMCIA монитор
Name[mr]=Gpccard PCMCIA मॉनिटर
Name[ms]=Gpccard PCMCIA monitor
Name[mt]=Gpccard monitor PCMCIA
Name[my]=Gpccard PCMCIA မော်နီတာ
Name[ne]=Gpccard PCMCIA मनिटर
Name[nl]=Gpccard PCMCIA-monitor
Name[no]=Gpccard PCMCIA-skjerm
Name[ny]=Gpccard PCMCIA monitor
Name[om]=Gpccard hordoffii PCMCIA
Name[or]=Gpccard PCMCIA ମନିଟର |
Name[pa]=Gpccard PCMCIA ਮਾਨੀਟਰ
Name[pl]=Monitor Gpccard PCMCIA
Name[ps]=ﺮټﯿﻧﺎﻣ Gpccard PCMCIA ﺩ
Name[pt]=Monitor PCMCIA Gpccard
Name[qu]=Gpccard PCMCIA nisqa qhawaq
Name[ro]=Monitor PCMCIA Gpccard
Name[ru]=Монитор Gpccard PCMCIA
Name[rw]=Gpccard monitor ya PCMCIA
Name[sa]=Gpccard PCMCIA निरीक्षक
Name[sd]=Gpccard PCMCIA ﺮٽﻴﻧﺎﻣ
Name[si]=Gpccard PCMCIA මොනිටරය
Name[sk]=Gpccard PCMCIA monitor
Name[sl]=Gpccard PCMCIA monitor
Name[sm]=Gpccard PCMCIA mata'itu
Name[sn]=Gpccard PCMCIA monitor
Name[so]=Gpccard PCMCIA Monitor
Name[sq]=Gpccard PCMCIA monitor
Name[st]=Gpccard PCMCIA monitor
Name[su]=Gpccard PCMCIA monitor
Name[sv]=Gpccard PCMCIA-skärm
Name[sw]=Gpccard PCMCIA kufuatilia
Name[ta]=Gpccard PCMCIA மானிட்டர்
Name[te]=Gpccard PCMCIA మానిటర్
Name[tg]=Монитор Gpccard PCMCIA
Name[th]=มอนิเตอร์ Gpccard PCMCIA
Name[ti]=Gpccard PCMCIA ሞኒተር
Name[tk]=Gpccard PCMCIA monitory
Name[tl]=Gpccard PCMCIA monitor
Name[to]=Gpccard PCMCIA monitoa
Name[tr]=Gpccard PCMCIA monitörü
Name[ts]=Gpccard PCMCIA yo languta eka yona
Name[tt]=Gpccard PCMCIA мониторы
Name[tw]=Gpccard PCMCIA a wɔde hwɛ nneɛma so
Name[ty]=Gpccard PCMCIA
Name[ug]=Gpccard PCMCIA ﭺﯜﻜﺗەﺳﺭﯚﻛ
Name[uk]=Gpccard PCMCIA монітор
Name[ur]=Gpccard PCMCIA ﺮﭩﯿﻧﺎﻣ
Name[uz]=Gpccard PCMCIA monitor
Name[vi]=Màn hình Gpccard PCMCIA
Name[xh]=Gpccard PCMCIA esweni
Name[yi]=Gpccard PCMCIA ראָטינאָמ
Name[yo]=Gpccard PCMCIA atẹle
Name[zh]=Gpccard PCMCIA 监视器
Name[zu]=Gpccard PCMCIA qapha
Name=Gpccard PCMCIA monitor
Icon=gpccard.xpm
Comment[af]=Gpccard PCMCIA monitor
Comment[am]=Gpccard PCMCIA ማሳያ
Comment[ar]=Gpccard PCMCIA ﺔﺷﺎﺷ
Comment[as]=Gpccard PCMCIA মনিটৰ
Comment[ay]=Gpccard PCMCIA ukan uñjiri
Comment[az]=Gpccard PCMCIA monitor
Comment[ba]=Gpccard PCMCIA мониторы
Comment[be]=Манітор Gpccard PCMCIA
Comment[bg]=Gpccard PCMCIA монитор
Comment[bm]=Gpccard PCMCIA kɔlɔsilikɛla
Comment[bn]=Gpccard PCMCIA মনিটর
Comment[bo]=GPCcard PCMCIAལྟ་ཞིབ་ཚད་ལེན་འཕྲུལ་ཆས།
Comment[bs]=Gpccard PCMCIA monitor
Comment[ca]=Monitor PCMCIA Gpccard
Comment[co]=Gpccard PCMCIA monitor
Comment[cs]=Gpccard PCMCIA monitor
Comment[cy]=Gpccard PCMCIA monitor
Comment[da]=Gpccard PCMCIA skærm
Comment[de]=Gpccard PCMCIA-Monitor
Comment[dv]=ރޓަނިމޮ އޭއިއަސީމްއެސީޕީ ޑްކާޕީޖީ
Comment[ee]=Gpccard PCMCIA ƒe ŋkuléleɖenuŋu
Comment[el]=Οθόνη Gpccard PCMCIA
Comment[eo]=Gpccard PCMCIA monitoro
Comment[es]=Monitor PCMCIA tarjeta gpc
Comment[et]=Gpccard PCMCIA monitor
Comment[eu]=Gpccard PCMCIA monitorea
Comment[fa]=Gpccard PCMCIA ﺭﻮﺘﯿﻧﺎﻣ
Comment[fi]=Gpccard PCMCIA näyttö
Comment[fj]=Misini ni Gpccard PCMCIA
Comment[fo]=Gpccard PCMCIA monitor
Comment[fr]=Moniteur Gpccard PCMCIA
Comment[fy]=Gpccard PCMCIA monitor
Comment[ga]=Monatóireacht a dhéanamh ar gpccard PCMCIA
Comment[gd]=Gpcard sùil a chumail air PCMCIA
Comment[gl]=Monitor PCMCIA Gpccard
Comment[gn]=Gpccard PCMCIA jesarekoha
Comment[gu]=Gpccard PCMCIA મોનિટર
Comment[ha]=Gpccard PCMCIA Monitor
Comment[he]=Gpccard PCMCIA גצ
Comment[hi]=Gpccard PCMCIA मॉनिटर
Comment[hr]=Gpccard PCMCIA monitor
Comment[ht]=Gpccard PCMCIA pou kontwole
Comment[hu]=Gpccard PCMCIA monitor
Comment[hy]=Gpccard PCMCIA մոնիտոր
Comment[id]=Monitor Gpccard PCMCIA
Comment[ig]=Gpccard PCMCIA nyochaa
Comment[is]=Gpccard PCMCIA skjár
Comment[it]=Monitor Gpccard PCMCIA
Comment[iu]=Gpccard PCMCIA−ᒧᑦ ᖃᐅᔨᓴᕈᑎ
Comment[ja]=Gpccard PCMCIA モニター
Comment[jv]=Gpccard PCMCIA monitor
Comment[ka]=Gpccard PCMCIA მონიტორი
Comment[kk]=Gpccard PCMCIA мониторы
Comment[km]=ម៉ូនីទ័រ Gpccard PCMCIA
Comment[kn]=Gpccard PCMCIA ಮಾನಿಟರ್
Comment[ko]=Gpccard PCMCIA 모니터
Comment[ku]=Gpccard PCMCIA monitor
Comment[ky]=Gpccard PCMCIA монитор
Comment[la]=Gpccard PCMCIA monitor
Comment[lb]=Gpccard PCMCIA Monitor
Comment[lg]=Gpccard PCMCIA omulondozi
Comment[ln]=Gpccard PCMCIA monitor
Comment[lo]=ຈໍ Gpccard PCMCIA
Comment[lt]=Gpccard PCMCIA monitorius
Comment[lv]=Gpccard PCMCIA monitors
Comment[mg]=Gpccard PCMCIA monitor
Comment[mi]=Gpccard PCMCIA aroturuki
Comment[mk]=Gpccard PCMCIA монитор
Comment[ml]=Gpccard PCMCIA മോണിറ്റർ
Comment[mn]=Gpccard PCMCIA монитор
Comment[mr]=Gpccard PCMCIA मॉनिटर
Comment[ms]=Gpccard PCMCIA monitor
Comment[mt]=Gpccard monitor PCMCIA
Comment[my]=Gpccard PCMCIA မော်နီတာ
Comment[ne]=Gpccard PCMCIA मनिटर
Comment[nl]=Gpccard PCMCIA-monitor
Comment[no]=Gpccard PCMCIA-skjerm
Comment[ny]=Gpccard PCMCIA monitor
Comment[om]=Gpccard hordoffii PCMCIA
Comment[or]=Gpccard PCMCIA ମନିଟର |
Comment[pa]=Gpccard PCMCIA ਮਾਨੀਟਰ
Comment[pl]=Monitor Gpccard PCMCIA
Comment[ps]=ﺮټﯿﻧﺎﻣ Gpccard PCMCIA ﺩ
Comment[pt]=Monitor PCMCIA Gpccard
Comment[qu]=Gpccard PCMCIA nisqa qhawaq
Comment[ro]=Monitor PCMCIA Gpccard
Comment[ru]=Монитор Gpccard PCMCIA
Comment[rw]=Gpccard PCMCIA monitor
Comment[sa]=Gpccard PCMCIA निरीक्षक
Comment[sd]=Gpccard PCMCIA ﺮٽﻴﻧﺎﻣ
Comment[si]=Gpccard PCMCIA මොනිටරය
Comment[sk]=Gpccard PCMCIA monitor
Comment[sl]=Gpccard PCMCIA monitor
Comment[sm]=Gpccard PCMCIA mata'itu
Comment[sn]=Gpccard PCMCIA monitor
Comment[so]=Gpccard PCMCIA Monitor
Comment[sq]=Gpccard PCMCIA monitor
Comment[st]=Gpccard PCMCIA monitor
Comment[su]=Gpccard PCMCIA monitor
Comment[sv]=Gpccard PCMCIA-skärm
Comment[sw]=Gpccard PCMCIA kufuatilia
Comment[ta]=Gpccard PCMCIA மானிட்டர்
Comment[te]=Gpccard PCMCIA మానిటర్
Comment[tg]=Монитор Gpccard PCMCIA
Comment[th]=มอนิเตอร์ Gpccard PCMCIA
Comment[ti]=Gpccard PCMCIA ሞኒተር
Comment[tk]=Gpccard PCMCIA monitory
Comment[tl]=Gpccard PCMCIA monitor
Comment[to]=Gpccard PCMCIA monitoa
Comment[tr]=Gpccard PCMCIA monitörü
Comment[ts]=Gpccard PCMCIA yo languta eka yona
Comment[tt]=Gpccard PCMCIA мониторы
Comment[tw]=Gpccard PCMCIA a wɔde hwɛ nneɛma so
Comment[ty]=Gpccard PCMCIA
Comment[ug]=Gpccard PCMCIA ﭺﯜﻜﺗەﺳﺭﯚﻛ
Comment[uk]=Gpccard PCMCIA монітор
Comment[ur]=Gpccard PCMCIA ﺮﭩﯿﻧﺎﻣ
Comment[uz]=Gpccard PCMCIA monitor
Comment[vi]=Màn hình Gpccard PCMCIA
Comment[xh]=Gpccard PCMCIA esweni
Comment[yi]=Gpccard PCMCIA ראָטינאָמ
Comment[yo]=Gpccard PCMCIA atẹle
Comment[zh]=Gpccard PCMCIA 监视器
Comment[zu]=Gpccard PCMCIA qapha
Comment=Gpccard PCMCIA monitor
Exec=gpccardshell
Terminal=false
Type=Application
Categories=System
GenericName=Gpccard PCMCIA monitor
