[Desktop Entry]
Encoding=UTF-8
Name[af]=GAdmin-Rsync afgeleë rugsteun
Name[am]=GAdmin-Rsync የርቀት ምትኬ
Name[ar]=GAdmin-Rsync ﺪﻌﺑ ﻦﻋ ﻲﻃﺎﻴﺘﺣﻻ﻿ﺍ ﺦﺴﻨﻟﺍ
Name[as]=GAdmin-Rsync দূৰৱৰ্তী বেকআপ
Name[ay]=GAdmin-Rsync ukax jaya chiqat luratawa
Name[az]=GAdmin-Rsync uzaqdan ehtiyat nüsxəsi
Name[ba]=GAdmin-Rsync дистанцион резервы
Name[be]=Аддаленае рэзервовае капіраванне GAdmin-Rsync
Name[bg]=GAdmin-Rsync отдалечено архивиране
Name[bm]=GAdmin-Rsync yɔrɔjan kɔpi
Name[bn]=GAdmin-Rsync দূরবর্তী ব্যাকআপ
Name[bo]=GAdmin-Rsync རྒྱང་རིང་གི་རྗེས་གྲབས་དཔུང་ཁག
Name[bs]=GAdmin-Rsync daljinsko sigurnosno kopiranje
Name[ca]=Còpia de seguretat remota GAdmin-Rsync
Name[co]=GAdmin-Rsync copia di salvezza remota
Name[cs]=Vzdálená záloha GAdmin-Rsync
Name[cy]=Gadmin-Rsync wrth gefn o bell
Name[da]=GAdmin-Rsync fjernsikkerhedskopiering
Name[de]=GAdmin-Rsync-Remote-Backup
Name[dv]=ޕްކަބެ ޓްމޯރި ކްންސިރްއާ-ންމިޑްއޭޖީ
Name[ee]=GAdmin-Rsync didiƒe ʋĩ ƒe megbenyawo
Name[el]=Απομακρυσμένο αντίγραφο ασφαλείας GAdmin-Rsync
Name[en]=GAdmin-Rsync remote backup
Name[eo]=GAdmin-Rsync fora sekurkopio
Name[es]=Copia de seguridad remota de GAdmin-Rsync
Name[et]=GAdmin-Rsynci kaugvarukoopia
Name[eu]=GAdmin-Rsync urruneko babeskopia
Name[fa]=GAdmin-Rsync ﺭﻭﺩ ﻩﺍﺭ ﺯﺍ ﯼﺮﯿﮔ ﻥﺎﺒﯿﺘﺸﭘ
Name[fi]=GAdmin-Rsync etävarmuuskopiointi
Name[fj]=GAdmin-Rsync na veitokoni yawa
Name[fo]=GAdmin-Rsync remote backup
Name[fr]=Sauvegarde à distance GAdmin-Rsync
Name[fy]=GAdmin-Rsync backup op ôfstân
Name[ga]=Cúltaca cianda GAadmin-Rsync
Name[gd]=Cùl-taic iomallach GAadmin-Rsync
Name[gl]=Copia de seguridade remota de GAdmin-Rsync
Name[gn]=GAdmin-Rsync jekopytyjoja mombyrygua
Name[gu]=GAdmin-Rsync રિમોટ બેકઅપ
Name[ha]=GADmin-Rsync madadin nesa
Name[he]=GAdmin-Rsync קוחרמ יוביג
Name[hi]=GAdmin-Rsync रिमोट बैकअप
Name[hr]=GAdmin-Rsync daljinsko sigurnosno kopiranje
Name[ht]=GAdmin-Rsync backup aleka
Name[hu]=GAdmin-Rsync távoli biztonsági mentés
Name[hy]=GAdmin-Rsync հեռակառավարման պահուստավորում
Name[id]=Pencadangan jarak jauh GAdmin-Rsync
Name[ig]=Ndabere anya GAdmin-Rsync
Name[is]=GAdmin-Rsync fjarlægur öryggisafrit
Name[it]=Backup remoto GAdmin-Rsync
Name[iu]=GAdmin-Rsync ᐅᖓᓯᒋᔭᐅᔪᒦᑦᑐᑦ ᓇᓪᓕᐅᒃᑯᒫᑦ
Name[ja]=GAdmin-Rsync リモート バックアップ
Name[jv]=GAdmin-Rsync remot serep
Name[ka]=GAdmin-Rsync დისტანციური სარეზერვო ასლი
Name[kk]=GAdmin-Rsync қашықтан сақтық көшірме жасау
Name[km]=ការបម្រុងទុកពីចម្ងាយ GAAdmin-Rsync
Name[kn]=GAdmin-Rsync ರಿಮೋಟ್ ಬ್ಯಾಕಪ್
Name[ko]=GAdmin-Rsync 원격 백업
Name[ku]=Piştgiriya dûr a GAdmin-Rsync
Name[ky]=GAdmin-Rsync алыстан камдык көчүрмөсү
Name[la]=GAdmin-Rsync remoti tergum
Name[lb]=GAdmin-Rsync Fernbackup
Name[lg]=GAdmin-Rsync okutereka okuva ewala
Name[ln]=GAdmin-Rsync sauvegarde à distance
Name[lo]=ການສໍາຮອງຂໍ້ມູນທາງໄກ GAdmin-Rsync
Name[lt]=„GAdmin-Rsync“ nuotolinė atsarginė kopija
Name[lv]=GAdmin-Rsync attālā dublēšana
Name[mg]=GAdmin-Rsync backup lavitra
Name[mi]=GAdmin-Rsync tārua mamao
Name[mk]=Далечинска резервна копија GAdmin-Rsync
Name[ml]=GAdmin-Rsync റിമോട്ട് ബാക്കപ്പ്
Name[mn]=GAdmin-Rsync алсаас нөөцлөх
Name[mr]=GAdmin-Rsync रिमोट बॅकअप
Name[ms]=Sandaran jauh GAdmin-Rsync
Name[mt]=GAdmin-Rsync backup remot
Name[my]=GAdmin-Rsync အဝေးထိန်း အရန်ကူးခြင်း။
Name[ne]=GAdmin-Rsync रिमोट ब्याकअप
Name[nl]=GAdmin-Rsync externe back-up
Name[no]=GAdmin-Rsync ekstern sikkerhetskopiering
Name[ny]=GAdmin-Rsync zosunga zobwezeretsera kutali
Name[om]=GAdmin-Rsync fageenya irraa duwwaa
Name[or]=GAdmin-Rsync ରିମୋଟ ବ୍ୟାକଅପ୍ |
Name[pa]=GAdmin-Rsync ਰਿਮੋਟ ਬੈਕਅੱਪ
Name[pl]=Zdalna kopia zapasowa GAdmin-Rsync
Name[ps]=GAdmin-Rsync ﭖﺍ ﮏﯿﺑ ټﻮﻤﯾﺭ
Name[pt]=Backup remoto GAdmin-Rsync
Name[qu]=GAdmin-Rsync karumanta waqaychasqa
Name[ro]=GAdmin-Rsync backup la distanță
Name[ru]=Удаленное резервное копирование GAdmin-Rsync
Name[rw]=GAdmin-Rsync kure yinyuma
Name[sa]=GAdmin-Rsync दूरस्थ बैकअप
Name[sd]=GAdmin-Rsync ﭖﺍ ڪﻴﺑ ٽﻮﻤﻳﺭ
Name[si]=GAdmin-Rsync දුරස්ථ උපස්ථය
Name[sk]=Vzdialená záloha GAdmin-Rsync
Name[sl]=GAdmin-Rsync varnostno kopiranje na daljavo
Name[sm]=GAdmin-Rsync faaleoleo mamao
Name[sn]=GAdmin-Rsync kure backup
Name[so]=Gadmin-Rsync kaabta fog
Name[sq]=Rezervimi në distancë GAdmin-Rsync
Name[st]=GAdmin-Rsync bekapo e hole
Name[su]=Cadangan jauh GAdmin-Rsync
Name[sv]=GAdmin-Rsync fjärrsäkerhetskopiering
Name[sw]=Hifadhi rudufu ya mbali ya GAdmin-Rsync
Name[ta]=GAdmin-Rsync ரிமோட் காப்புப்பிரதி
Name[te]=GAdmin-Rsync రిమోట్ బ్యాకప్
Name[tg]=Нусхаи эҳтиётии дурдасти GAdmin-Rsync
Name[th]=การสำรองข้อมูลระยะไกล GAdmin-Rsync
Name[ti]=GAdmin-Rsync ሪሞት ባክኣፕ
Name[tk]=GAdmin-Rsync uzakdan ätiýaçlyk
Name[tl]=Remote backup ng GAdmin-Rsync
Name[to]=GAdmin-Rsync talifaki
Name[tr]=GAdmin-Rsync uzaktan yedekleme
Name[ts]=GAdmin-Rsync vuhlayiselo bya le kule
Name[tt]=GAdmin-Rsync дистанцион резерв
Name[tw]=GAdmin-Rsync akyirikyiri backup
Name[ty]=GAdmin-Rsync
Name[ug]=GAdmin-Rsync ﺵﻼ﻿ﺳﺎﭘﺍﺯ ﻦﯩﺘﻗﺍﺮﯩﻳ
Name[uk]=Віддалене резервне копіювання GAdmin-Rsync
Name[ur]=GAdmin-Rsync ﭖﺍ ﮏﯿﺑ ﭦﻮﻤﯾﺭ
Name[uz]=GAdmin-Rsync masofaviy zaxiralash
Name[vi]=GAdmin-Rsync sao lưu từ xa
Name[xh]=GAdmin-Rsync yogcino olukude
Name[yi]=GAdmin-Rsync פּאַקאַב טיַיוו
Name[yo]=GADmin-Rsync afẹyinti latọna jijin
Name[zh]=GAdmin-Rsync远程备份
Name[zu]=Isipele sesilawuli kude se-GAdmin-Rsync
Name=GAdmin-Rsync remote backup
GenericName=GAdmin-Rsync
Comment[af]=GAdmin-Rsync afgeleë rugsteun
Comment[am]=GAdmin-Rsync የርቀት ምትኬ
Comment[ar]=GAdmin-Rsync ﺪﻌﺑ ﻦﻋ ﻲﻃﺎﻴﺘﺣﻻ﻿ﺍ ﺦﺴﻨﻟﺍ
Comment[as]=GAdmin-Rsync দূৰৱৰ্তী বেকআপ
Comment[ay]=GAdmin-Rsync ukax jaya chiqat luratawa
Comment[az]=GAdmin-Rsync uzaqdan ehtiyat nüsxəsi
Comment[ba]=GAdmin-Rsync дистанцион резервы
Comment[be]=Аддаленае рэзервовае капіраванне GAdmin-Rsync
Comment[bg]=GAdmin-Rsync отдалечено архивиране
Comment[bm]=GAdmin-Rsync yɔrɔjan kɔpi
Comment[bn]=GAdmin-Rsync দূরবর্তী ব্যাকআপ
Comment[bo]=GAdmin-Rsync རྒྱང་རིང་གི་རྗེས་གྲབས་དཔུང་ཁག
Comment[bs]=GAdmin-Rsync daljinsko sigurnosno kopiranje
Comment[ca]=Còpia de seguretat remota GAdmin-Rsync
Comment[co]=GAdmin-Rsync copia di salvezza remota
Comment[cs]=Vzdálená záloha GAdmin-Rsync
Comment[cy]=Gadmin-Rsync wrth gefn o bell
Comment[da]=GAdmin-Rsync fjernsikkerhedskopiering
Comment[de]=GAdmin-Rsync-Remote-Backup
Comment[dv]=ޕްކަބެ ޓްމޯރި ކްންސިރްއާ-ންމިޑްއޭޖީ
Comment[ee]=GAdmin-Rsync didiƒe ʋĩ ƒe megbenyawo
Comment[el]=Απομακρυσμένο αντίγραφο ασφαλείας GAdmin-Rsync
Comment[en]=GAdmin-Rsync remote backup
Comment[eo]=GAdmin-Rsync fora sekurkopio
Comment[es]=Copia de seguridad remota de GAdmin-Rsync
Comment[et]=GAdmin-Rsynci kaugvarukoopia
Comment[eu]=GAdmin-Rsync urruneko babeskopia
Comment[fa]=GAdmin-Rsync ﺭﻭﺩ ﻩﺍﺭ ﺯﺍ ﯼﺮﯿﮔ ﻥﺎﺒﯿﺘﺸﭘ
Comment[fi]=GAdmin-Rsync etävarmuuskopiointi
Comment[fj]=GAdmin-Rsync na veitokoni yawa
Comment[fo]=GAdmin-Rsync remote backup
Comment[fr]=Sauvegarde à distance GAdmin-Rsync
Comment[fy]=GAdmin-Rsync backup op ôfstân
Comment[ga]=Cúltaca cianda GAadmin-Rsync
Comment[gd]=Cùl-taic iomallach GAadmin-Rsync
Comment[gl]=Copia de seguridade remota de GAdmin-Rsync
Comment[gn]=GAdmin-Rsync jekopytyjoja mombyrygua
Comment[gu]=GAdmin-Rsync રિમોટ બેકઅપ
Comment[ha]=GADmin-Rsync madadin nesa
Comment[he]=GAdmin-Rsync קוחרמ יוביג
Comment[hi]=GAdmin-Rsync रिमोट बैकअप
Comment[hr]=GAdmin-Rsync daljinsko sigurnosno kopiranje
Comment[ht]=GAdmin-Rsync backup aleka
Comment[hu]=GAdmin-Rsync távoli biztonsági mentés
Comment[hy]=GAdmin-Rsync հեռակառավարման պահուստավորում
Comment[id]=Pencadangan jarak jauh GAdmin-Rsync
Comment[ig]=Ndabere anya GAdmin-Rsync
Comment[is]=GAdmin-Rsync fjarlægur öryggisafrit
Comment[it]=Backup remoto GAdmin-Rsync
Comment[iu]=GAdmin-Rsync ᐅᖓᓯᒋᔭᐅᔪᒦᑦᑐᑦ ᓇᓪᓕᐅᒃᑯᒫᑦ
Comment[ja]=GAdmin-Rsync リモート バックアップ
Comment[jv]=GAdmin-Rsync remot serep
Comment[ka]=GAdmin-Rsync დისტანციური სარეზერვო ასლი
Comment[kk]=GAdmin-Rsync қашықтан сақтық көшірме жасау
Comment[km]=ការបម្រុងទុកពីចម្ងាយ GAAdmin-Rsync
Comment[kn]=GAdmin-Rsync ರಿಮೋಟ್ ಬ್ಯಾಕಪ್
Comment[ko]=GAdmin-Rsync 원격 백업
Comment[ku]=Piştgiriya dûr a GAdmin-Rsync
Comment[ky]=GAdmin-Rsync алыстан камдык көчүрмөсү
Comment[la]=GAdmin-Rsync remoti tergum
Comment[lb]=GAdmin-Rsync Fernbackup
Comment[lg]=GAdmin-Rsync okutereka okuva ewala
Comment[ln]=GAdmin-Rsync sauvegarde à distance
Comment[lo]=ການສໍາຮອງຂໍ້ມູນທາງໄກ GAdmin-Rsync
Comment[lt]=„GAdmin-Rsync“ nuotolinė atsarginė kopija
Comment[lv]=GAdmin-Rsync attālā dublēšana
Comment[mg]=GAdmin-Rsync backup lavitra
Comment[mi]=GAdmin-Rsync tārua mamao
Comment[mk]=Далечинска резервна копија GAdmin-Rsync
Comment[ml]=GAdmin-Rsync റിമോട്ട് ബാക്കപ്പ്
Comment[mn]=GAdmin-Rsync алсаас нөөцлөх
Comment[mr]=GAdmin-Rsync रिमोट बॅकअप
Comment[ms]=Sandaran jauh GAdmin-Rsync
Comment[mt]=GAdmin-Rsync backup remot
Comment[my]=GAdmin-Rsync အဝေးထိန်း အရန်ကူးခြင်း။
Comment[ne]=GAdmin-Rsync रिमोट ब्याकअप
Comment[nl]=GAdmin-Rsync externe back-up
Comment[no]=GAdmin-Rsync ekstern sikkerhetskopiering
Comment[ny]=GAdmin-Rsync zosunga zobwezeretsera kutali
Comment[om]=GAdmin-Rsync fageenya irraa duwwaa
Comment[or]=GAdmin-Rsync ରିମୋଟ ବ୍ୟାକଅପ୍ |
Comment[pa]=GAdmin-Rsync ਰਿਮੋਟ ਬੈਕਅੱਪ
Comment[pl]=Zdalna kopia zapasowa GAdmin-Rsync
Comment[ps]=GAdmin-Rsync ﭖﺍ ﮏﯿﺑ ټﻮﻤﯾﺭ
Comment[pt]=Backup remoto GAdmin-Rsync
Comment[qu]=GAdmin-Rsync karumanta waqaychasqa
Comment[ro]=GAdmin-Rsync backup la distanță
Comment[ru]=Удаленное резервное копирование GAdmin-Rsync
Comment[rw]=GAdmin-Rsync kure yinyuma
Comment[sa]=GAdmin-Rsync दूरस्थ बैकअप
Comment[sd]=GAdmin-Rsync ﭖﺍ ڪﻴﺑ ٽﻮﻤﻳﺭ
Comment[si]=GAdmin-Rsync දුරස්ථ උපස්ථය
Comment[sk]=Vzdialená záloha GAdmin-Rsync
Comment[sl]=GAdmin-Rsync varnostno kopiranje na daljavo
Comment[sm]=GAdmin-Rsync faaleoleo mamao
Comment[sn]=GAdmin-Rsync kure backup
Comment[so]=Gadmin-Rsync kaabta fog
Comment[sq]=Rezervimi në distancë GAdmin-Rsync
Comment[st]=GAdmin-Rsync bekapo e hole
Comment[su]=Cadangan jauh GAdmin-Rsync
Comment[sv]=GAdmin-Rsync fjärrsäkerhetskopiering
Comment[sw]=Hifadhi rudufu ya mbali ya GAdmin-Rsync
Comment[ta]=GAdmin-Rsync ரிமோட் காப்புப்பிரதி
Comment[te]=GAdmin-Rsync రిమోట్ బ్యాకప్
Comment[tg]=Нусхаи эҳтиётии дурдасти GAdmin-Rsync
Comment[th]=การสำรองข้อมูลระยะไกล GAdmin-Rsync
Comment[ti]=GAdmin-Rsync ሪሞት ባክኣፕ
Comment[tk]=GAdmin-Rsync uzakdan ätiýaçlyk
Comment[tl]=Remote backup ng GAdmin-Rsync
Comment[to]=GAdmin-Rsync talifaki
Comment[tr]=GAdmin-Rsync uzaktan yedekleme
Comment[ts]=GAdmin-Rsync vuhlayiselo bya le kule
Comment[tt]=GAdmin-Rsync дистанцион резерв
Comment[tw]=GAdmin-Rsync akyirikyiri backup
Comment[ty]=GAdmin-Rsync
Comment[ug]=GAdmin-Rsync ﺵﻼ﻿ﺳﺎﭘﺍﺯ ﻦﯩﺘﻗﺍﺮﯩﻳ
Comment[uk]=Віддалене резервне копіювання GAdmin-Rsync
Comment[ur]=GAdmin-Rsync ﭖﺍ ﮏﯿﺑ ﭦﻮﻤﯾﺭ
Comment[uz]=GAdmin-Rsync masofaviy zaxiralash
Comment[vi]=GAdmin-Rsync sao lưu từ xa
Comment[xh]=GAdmin-Rsync yogcino olukude
Comment[yi]=GAdmin-Rsync פּאַקאַב טיַיוו
Comment[yo]=GADmin-Rsync afẹyinti latọna jijin
Comment[zh]=GAdmin-Rsync远程备份
Comment[zu]=Isipele sesilawuli kude se-GAdmin-Rsync
Comment=GAdmin-Rsync remote backup
Exec=gadmin-rsync
Icon=gadmin-rsync.png
Terminal=false
Type=Application
Categories=Archiving
