[Desktop Entry]
Encoding=UTF-8
Name[af]=Abiword-woordverwerker
Name[am]=አቢወርድ የቃል ፕሮሰሰር
Name[ar]=Abiword ﺕﺎﻤﻠﻜﻟﺍ ﺞﻟﺎﻌﻣ
Name[as]=Abiword ৱাৰ্ড প্ৰচেছৰ
Name[ay]=Abiword ukax arunak lurañ amtampiw lurasi
Name[az]=Abiword mətn prosessoru
Name[ba]=Абиворд һүҙен эшкәртеүсе
Name[be]=Тэкставы працэсар abiword
Name[bg]=Текстов процесор Abiword
Name[bm]=Abiword daɲɛw labɛncogo
Name[bn]=অ্যাবিওয়ার্ড ওয়ার্ড প্রসেসর
Name[bo]=ཡི་གེ་ཡི་གེ་ཐག་གཅོད་བྱེད་མཁན།
Name[bs]=Abiword program za obradu teksta
Name[ca]=Processador de textos Abiword
Name[co]=U processatore di testi Abiword
Name[cs]=Textový procesor Abiword
Name[cy]=Prosesydd geiriau Abiword
Name[da]=Abiword tekstbehandlingsprogram
Name[de]=Abiword-Textverarbeitung
Name[dv]=ވެރެސަސެރޮޕް ޑްވޯ ޑްވޯބީއަ
Name[ee]=Abiword nyawo ɖɔliɖɔli
Name[el]=Επεξεργαστής κειμένου Abiword
Name[en]=Abiword word processor
Name[eo]=Abivorta tekstprilaborilo
Name[es]=procesador de textos abiword
Name[et]=Abiword tekstitöötlusprogramm
Name[eu]=Abiword testu prozesadorea
Name[fa]=Abiword ﺯﺍﺩﺮﭘ ﻩﮊﺍﻭ
Name[fi]=Abiword tekstinkäsittelyohjelma
Name[fj]=Vosa ni Abiword processor
Name[fo]=Abiword word processor
Name[fr]=Traitement de texte Abiword
Name[fy]=Abiword tekstferwurker
Name[ga]=Abiword próiseálaí focal
Name[gd]=Luchdaich a-nuas am pròiseas facal abiword
Name[gl]=Procesador de textos Abiword
Name[gn]=Ñe’ẽryru Abiword rehegua
Name[gu]=એબીવર્ડ વર્ડ પ્રોસેસર
Name[ha]=Abuword processor
Name[he]=Abiword םילילמת דבעמ
Name[hi]=एबिवर्ड वर्ड प्रोसेसर
Name[hr]=Abiword program za obradu teksta
Name[ht]=Pwosesè tèks Abiword
Name[hu]=Abiword szövegszerkesztő
Name[hy]=Abiword բառի պրոցեսոր
Name[id]=Pengolah kata Abiword
Name[ig]=Ihe nhazi okwu Abiword
Name[is]=Abiword ritvinnsluforrit
Name[it]=Elaboratore di testi Abiword
Name[iu]=Abiword word processor
Name[ja]=アビワードワードプロセッサ
Name[jv]=Pangolah tembung Abiword
Name[ka]=Abiword ტექსტური პროცესორი
Name[kk]=Abiword мәтіндік процессоры
Name[km]=កម្មវិធីវាយអត្ថបទ Abiword
Name[kn]=ಅಬಿವರ್ಡ್ ವರ್ಡ್ ಪ್ರೊಸೆಸರ್
Name[ko]="아비워드 워드 프로세서"
Name[ku]=Pêvajoya peyva Abiword
Name[ky]=Abiword тексттик процессору
Name[la]=Abiword processus verbi
Name[lb]=Abiword Wuertveraarbechter
Name[lg]=Abiword ekyuma ekikola ebigambo
Name[ln]=Mobongisi ya maloba ya Abiword
Name[lo]=ໂຮງງານຜະລິດຄໍາ Abiword
Name[lt]=Abiword tekstų rengyklė
Name[lv]=Abiword vārdu procesors
Name[mg]=Mpanamboatra teny Abiword
Name[mi]=Tukatuka kupu Abiword
Name[mk]=Abiword процесор на текст
Name[ml]=അബിവേഡ് വേഡ് പ്രോസസർ
Name[mn]=Abiword текст боловсруулагч
Name[mr]=अबीवर्ड वर्ड प्रोसेसर
Name[ms]=Pemproses perkataan Abiword
Name[mt]=Word processor Abiword
Name[my]=Abiword စကားလုံးပရိုဆက်ဆာ
Name[ne]=Abiword शब्द प्रोसेसर
Name[nl]=Abiword tekstverwerker
Name[no]=Abiword tekstbehandler
Name[ny]=Abiword word processor
Name[om]=Abiword jechoota qopheessaa
Name[or]=ଆବିୱାର୍ଡ ୱାର୍ଡ ପ୍ରୋସେସର୍ |
Name[pa]=ਅਬੀਵਰਡ ਵਰਡ ਪ੍ਰੋਸੈਸਰ
Name[pl]=edytor tekstu Abiword
Name[ps]=ﺮﺴﯿﺳﻭﺮﭘ ﻪﻤﻠﮐ ډﺭﻭ ﯽﺑﺍ ﺩ
Name[pt]=Processador de texto Abiword
Name[qu]=Abiword simikunata ruwaq
Name[ro]=Procesor de text Abiword
Name[ru]=Текстовый процессор Abiword
Name[rw]=Abiword ijambo gutunganya
Name[sa]=अबिवर्ड शब्दसंसाधक
Name[sd]=Abiword ﺮﺴﻴﺳﻭﺮﭘ ﻆﻔﻟ
Name[si]=Abiword වචන සකසනය
Name[sk]=Textový procesor Abiword
Name[sl]=Urejevalnik besedil Abiword
Name[sm]=Apiword word processor
Name[sn]=Abiword word processor
Name[so]=Abword Processor
Name[sq]=Përpunues teksti Abiword
Name[st]=Abiword word processor
Name[su]=Pangolah kecap Abiword
Name[sv]=Abiword ordbehandlare
Name[sw]=Kichakataji neno la Abiword
Name[ta]=அபிவேர்ட் சொல் செயலி
Name[te]=అబివర్డ్ వర్డ్ ప్రాసెసర్
Name[tg]=Протсессори калимаи Abiword
Name[th]=โปรแกรมประมวลผลคำ Abiword
Name[ti]=ኣቢዎርድ ዎርድ ፕሮሰሰር
Name[tk]=Abiword söz prosessory
Name[tl]=Abiword word processor
Name[to]=Abiword foʻi lea processor
Name[tr]=Abiword kelime işlemci
Name[ts]=Muendli wa marito wa Abiword
Name[tt]=Абиворд сүз процессоры
Name[tw]=Abiword nsɛmfua nhyehyɛe
Name[ty]=Te ta'o Abiword processor
Name[ug]=Abiword ﭺﯘﻐﻠﯩﻗ ﭖەﺭەﺗ ﺮﯩﺑ ﺯﯚﺳ
Name[uk]=Текстовий процесор Abiword
Name[ur]=ﺮﺴﯿﺳﻭﺮﭘ ﮈﺭﻭ ﮈﺭﻭ ﯽﺑﺍ
Name[uz]=Abiword so'z protsessor
Name[vi]=Trình xử lý văn bản Abiword
Name[xh]=Iprosesa yamagama ye-Abiword
Name[yi]=רעסעסאַרפּ טראָוו דראָוויבאַ
Name[yo]=Abiword ọrọ isise
Name[zh]=Abiword 文字处理器
Name[zu]=Iphrosesa yamagama ye-Abiword
Name=Abiword word processor
Icon=abiword_16.xpm
Comment[af]=Abiword-woordverwerker
Comment[am]=አቢወርድ የቃል ፕሮሰሰር
Comment[ar]=Abiword ﺕﺎﻤﻠﻜﻟﺍ ﺞﻟﺎﻌﻣ
Comment[as]=Abiword ৱাৰ্ড প্ৰচেছৰ
Comment[ay]=Abiword ukax arunak lurañ amtampiw lurasi
Comment[az]=Abiword mətn prosessoru
Comment[ba]=Абиворд һүҙен эшкәртеүсе
Comment[be]=Тэкставы працэсар abiword
Comment[bg]=Текстов процесор Abiword
Comment[bm]=Abiword daɲɛw labɛncogo
Comment[bn]=অ্যাবিওয়ার্ড ওয়ার্ড প্রসেসর
Comment[bo]=ཡི་གེ་ཡི་གེ་ཐག་གཅོད་བྱེད་མཁན།
Comment[bs]=Abiword program za obradu teksta
Comment[ca]=Processador de textos Abiword
Comment[co]=U processatore di testi Abiword
Comment[cs]=Textový procesor Abiword
Comment[cy]=Prosesydd geiriau Abiword
Comment[da]=Abiword tekstbehandlingsprogram
Comment[de]=Abiword-Textverarbeitung
Comment[dv]=ވެރެސަސެރޮޕް ޑްވޯ ޑްވޯބީއަ
Comment[ee]=Abiword nyawo ɖɔliɖɔli
Comment[el]=Επεξεργαστής κειμένου Abiword
Comment[en]=Abiword word processor
Comment[eo]=Abivorta tekstprilaborilo
Comment[es]=procesador de textos abiword
Comment[et]=Abiword tekstitöötlusprogramm
Comment[eu]=Abiword testu prozesadorea
Comment[fa]=Abiword ﺯﺍﺩﺮﭘ ﻩﮊﺍﻭ
Comment[fi]=Abiword tekstinkäsittelyohjelma
Comment[fj]=Vosa ni Abiword processor
Comment[fo]=Abiword word processor
Comment[fr]=Traitement de texte Abiword
Comment[fy]=Abiword tekstferwurker
Comment[ga]=Abiword próiseálaí focal
Comment[gd]=Luchdaich a-nuas am pròiseas facal abiword
Comment[gl]=Procesador de textos Abiword
Comment[gn]=Ñe’ẽryru Abiword rehegua
Comment[gu]=એબીવર્ડ વર્ડ પ્રોસેસર
Comment[ha]=Abuword processor
Comment[he]=Abiword םילילמת דבעמ
Comment[hi]=एबिवर्ड वर्ड प्रोसेसर
Comment[hr]=Abiword program za obradu teksta
Comment[ht]=Pwosesè tèks Abiword
Comment[hu]=Abiword szövegszerkesztő
Comment[hy]=Abiword բառի պրոցեսոր
Comment[id]=Pengolah kata Abiword
Comment[ig]=Ihe nhazi okwu Abiword
Comment[is]=Abiword ritvinnsluforrit
Comment[it]=Elaboratore di testi Abiword
Comment[iu]=Abiword word processor
Comment[ja]=アビワードワードプロセッサ
Comment[jv]=Pangolah tembung Abiword
Comment[ka]=Abiword ტექსტური პროცესორი
Comment[kk]=Abiword мәтіндік процессоры
Comment[km]=កម្មវិធីវាយអត្ថបទ Abiword
Comment[kn]=ಅಬಿವರ್ಡ್ ವರ್ಡ್ ಪ್ರೊಸೆಸರ್
Comment[ko]="아비워드 워드 프로세서"
Comment[ku]=Pêvajoya peyva Abiword
Comment[ky]=Abiword тексттик процессору
Comment[la]=Abiword processus verbi
Comment[lb]=Abiword Wuertveraarbechter
Comment[lg]=Abiword ekyuma ekikola ebigambo
Comment[ln]=Mobongisi ya maloba ya Abiword
Comment[lo]=ໂຮງງານຜະລິດຄໍາ Abiword
Comment[lt]=Abiword tekstų rengyklė
Comment[lv]=Abiword vārdu procesors
Comment[mg]=Mpanamboatra teny Abiword
Comment[mi]=Tukatuka kupu Abiword
Comment[mk]=Abiword процесор на текст
Comment[ml]=അബിവേഡ് വേഡ് പ്രോസസർ
Comment[mn]=Abiword текст боловсруулагч
Comment[mr]=अबीवर्ड वर्ड प्रोसेसर
Comment[ms]=Pemproses perkataan Abiword
Comment[mt]=Word processor Abiword
Comment[my]=Abiword စကားလုံးပရိုဆက်ဆာ
Comment[ne]=Abiword शब्द प्रोसेसर
Comment[nl]=Abiword tekstverwerker
Comment[no]=Abiword tekstbehandler
Comment[ny]=Abiword word processor
Comment[om]=Abiword jechoota qopheessaa
Comment[or]=ଆବିୱାର୍ଡ ୱାର୍ଡ ପ୍ରୋସେସର୍ |
Comment[pa]=ਅਬੀਵਰਡ ਵਰਡ ਪ੍ਰੋਸੈਸਰ
Comment[pl]=edytor tekstu Abiword
Comment[ps]=ﺮﺴﯿﺳﻭﺮﭘ ﻪﻤﻠﮐ ډﺭﻭ ﯽﺑﺍ ﺩ
Comment[pt]=Processador de texto Abiword
Comment[qu]=Abiword simikunata ruwaq
Comment[ro]=Procesor de text Abiword
Comment[ru]=Текстовый процессор Abiword
Comment[rw]=Abiword ijambo gutunganya
Comment[sa]=अबिवर्ड शब्दसंसाधक
Comment[sd]=Abiword ﺮﺴﻴﺳﻭﺮﭘ ﻆﻔﻟ
Comment[si]=Abiword වචන සකසනය
Comment[sk]=Textový procesor Abiword
Comment[sl]=Urejevalnik besedil Abiword
Comment[sm]=Apiword word processor
Comment[sn]=Abiword word processor
Comment[so]=Abword Processor
Comment[sq]=Përpunues teksti Abiword
Comment[st]=Abiword word processor
Comment[su]=Pangolah kecap Abiword
Comment[sv]=Abiword ordbehandlare
Comment[sw]=Kichakataji neno la Abiword
Comment[ta]=அபிவேர்ட் சொல் செயலி
Comment[te]=అబివర్డ్ వర్డ్ ప్రాసెసర్
Comment[tg]=Протсессори калимаи Abiword
Comment[th]=โปรแกรมประมวลผลคำ Abiword
Comment[ti]=ኣቢዎርድ ዎርድ ፕሮሰሰር
Comment[tk]=Abiword söz prosessory
Comment[tl]=Abiword word processor
Comment[to]=Abiword foʻi lea processor
Comment[tr]=Abiword kelime işlemci
Comment[ts]=Muendli wa marito wa Abiword
Comment[tt]=Абиворд сүз процессоры
Comment[tw]=Abiword nsɛmfua nhyehyɛe
Comment[ty]=Te ta'o Abiword processor
Comment[ug]=Abiword ﭺﯘﻐﻠﯩﻗ ﭖەﺭەﺗ ﺮﯩﺑ ﺯﯚﺳ
Comment[uk]=Текстовий процесор Abiword
Comment[ur]=ﺮﺴﯿﺳﻭﺮﭘ ﮈﺭﻭ ﮈﺭﻭ ﯽﺑﺍ
Comment[uz]=Abiword so'z protsessor
Comment[vi]=Trình xử lý văn bản Abiword
Comment[xh]=Iprosesa yamagama ye-Abiword
Comment[yi]=רעסעסאַרפּ טראָוו דראָוויבאַ
Comment[yo]=Abiword ọrọ isise
Comment[zh]=Abiword 文字处理器
Comment[zu]=Iphrosesa yamagama ye-Abiword
Comment=Abiword word processor
Exec=abiword
Terminal=false
Type=Application
Categories=WordProcessor
GenericName=Abiword word processor
