[Desktop Entry]
Name[af]=Viewnior beeld kyker
Name[am]=የእይታ ምስል መመልከቻ
Name[ar]=Viewnior ﺭﻮﺼﻟﺍ ﺽﺭﺎﻋ
Name[as]=ভিউনিয়ৰ ইমেজ ভিউয়াৰ
Name[ay]=Viewnior uñacht’awi uñakipiri
Name[az]=Viewnior şəkil görüntüləyicisi
Name[ba]=Viewnior һынлы сәнғәт тамашасыһы
Name[be]=Сродак прагляду малюнкаў Viewnior
Name[bg]=Viewnior програма за преглед на изображения
Name[bm]=Viewnior ja lajɛbaga
Name[bn]=ভিউনিয়ার ইমেজ ভিউয়ার
Name[bo]=ལྟ་ཀློག་པར་རིས་ལྟ་མཁན།
Name[bs]=Viewnior preglednik slika
Name[ca]=Visualitzador d'imatges Viewnior
Name[co]=Viewnior visor d'imaghjini
Name[cs]=Viewnior prohlížeč obrázků
Name[cy]=Gwyliwr delwedd Viewnior
Name[da]=Viewnior billedfremviser
Name[de]=Viewnior-Bildbetrachter
Name[dv]=ރއައުވި ޖްމޭއި ރއަނިއުވި
Name[ee]=Viewnior nɔnɔmetata kpɔkpɔ
Name[el]=Προβολή προβολής εικόνων
Name[eo]=Viewnior bildspektilo
Name[es]=visor de imágenes viewnior
Name[et]=Viewnior pildivaatur
Name[eu]=Viewnior irudi-ikuslea
Name[fa]=ﺮﯾﻮﺼﺗ ﺮﮕﺸﯾﺎﻤﻧ
Name[fi]=Viewnior-kuvankatseluohjelma
Name[fj]=Sarasara ni iyaloyalo ni viewnior
Name[fo]=Viewnior image viewer
Name[fr]=Visionneuse d'images Viewnior
Name[fy]=Viewnior ôfbylding werjouwer
Name[ga]=Viewnor íomhá breathnóir
Name[gd]=Sealladair dealbh sealladair
Name[gl]=Visor de imaxes Viewnior
Name[gn]=Viewnior ta’ãngamýi jehechaukaha
Name[gu]=વ્યુનિયર ઇમેજ દર્શક
Name[ha]=Mai duba hoto
Name[he]=Viewnior תונומת גיצמ
Name[hi]=दृश्य छवि दर्शक
Name[hr]=Viewnior preglednik slika
Name[ht]=Viewnior imaj visualiseur
Name[hu]=Viewnior képnézegető
Name[hy]=Նկարների դիտում
Name[id]=Lihat penampil gambar yang lebih baik
Name[ig]=Ihe nlere onyonyo
Name[is]=Viewnior myndskoðari
Name[it]=Viewnior visualizzatore di immagini
Name[iu]=ᑕᐅᑐᕋᓐᓈᖅᑐᖅ ᐊᔾᔨᙳᐊᖅ
Name[ja]=Viewni 画像ビューア
Name[jv]=Viewnior gambar viewer
Name[ka]=ხედვის სურათების მაყურებელი
Name[kk]=Viewnior кескінді қарау құралы
Name[km]=កម្មវិធីមើលរូបភាពទិដ្ឋភាព
Name[kn]=ವೀಕ್ಷಕ ಚಿತ್ರ ವೀಕ್ಷಕ
Name[ko]=뷰니어 이미지 뷰어
Name[ku]=Dîmenderê wêneyê Dîmenê
Name[ky]=Viewnior сүрөт көрүүчү
Name[la]=Viewnior imago videntium
Name[lb]=Viewnior Image Viewer
Name[lg]=Viewnior ekifaananyi ekitunula
Name[ln]=Motali ya bilili ya Viewnior
Name[lo]=Viewnior ຮູບພາບ
Name[lt]=Viewnior vaizdų peržiūros programa
Name[lv]=Viewnior attēlu skatītājs
Name[mg]=Viewnior mpijery sary
Name[mi]=Tirohanga ahua tirohanga
Name[mk]=Гледач на слики
Name[ml]=വ്യൂനിയർ ഇമേജ് വ്യൂവർ
Name[mn]=Viewnior зураг харагч
Name[mr]=व्ह्यूनियर प्रतिमा दर्शक
Name[ms]=Viewnior imej pemapar
Name[mt]=Viewnior image viewer
Name[my]=Viewnior image viewer
Name[ne]=दर्शक छवि दर्शक
Name[nl]=Viewnior afbeeldingsviewer
Name[no]=Viewnior bildeviser
Name[ny]=Wowonera zithunzi
Name[om]=Ilaaltuu fakkii Viewnior
Name[or]=ଭ୍ୟୁନିୟର୍ ପ୍ରତିଛବି ଦର୍ଶକ |
Name[pa]=ਵਿਊਨੀਅਰ ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazów
Name[ps]=ﻲﮑﻧﻭﺪﯿﻟ ﺭﻮځﻧﺍ ﻲﮑﻧﻭﺪﯿﻟ ﺩ
Name[pt]=Visualizador de imagens Viewnior
Name[qu]=Viewnior siq'i qhawaq
Name[ro]=Viewnior vizualizator de imagini
Name[ru]=Viewnior просмотрщик изображений
Name[rw]=Reba amashusho
Name[sa]=Viewnior चित्र दर्शक
Name[sd]=ﻭﺭﺍﻭ ﮡﺳڏ ﺮﻳﻮﺼﺗ ﻭﺭﺎﻈﻧ
Name[si]=නරඹන්නා රූප නරඹන්නා
Name[sk]=Viewnior prehliadač obrázkov
Name[sl]=Viewnior pregledovalnik slik
Name[sm]=Va'aiga ata va'ai
Name[sn]=Viewnior mufananidzo muoni
Name[so]=Muuqaalka muuqaalka
Name[sq]=Shikuesi i imazhit të parë
Name[st]=Seshebelli sa litšoantšo se shebelletseng
Name[su]=Viewnior gambar viewer
Name[sv]=Viewnior bildvisare
Name[sw]=Mtazamaji wa picha ya juu
Name[ta]=பார்வையாளர் பட பார்வையாளர்
Name[te]=వీక్షకుడు చిత్ర వీక్షకుడు
Name[tg]=Намоишгари тасвири Viewnior
Name[th]=โปรแกรมดูภาพ Viewnior
Name[ti]=ቪውኒየር ምስሊ ረኣዪ
Name[tk]=Görkezijiniň suraty
Name[tl]=Viewnior image viewer
Name[to]=Viewnior Image Viewer
Name[tr]=Viewnior resim görüntüleyici
Name[ts]=Xivoni xa xifaniso xa Viewnior
Name[tt]=Viewnior рәсем караучы
Name[tw]=Viewnior mfonini hwɛfo
Name[ty]=Viewnior image viewer
Name[ug]=Viewnior ﻰﭼﯜﮔﺭﯚﻛ ﻢﯩﺳەﺭ
Name[uk]=Перегляд зображень Viewnior
Name[ur]=ﻻ﻿ﺍﻭ ﮯﻨﮭﮑﯾﺩ ﺮﯾﻮﺼﺗ ﻦﯾﺮﻇﺎﻧ
Name[uz]=Viewnior tasvirni ko'rish dasturi
Name[vi]=Trình xem ảnh Viewnior
Name[xh]=Umjongi womfanekiso ophakamileyo
Name[yi]=Viewnior רעקוקוצ דליב
Name[yo]=Oluwo aworan wiwo
Name[zh]=Viewnior 图像查看器
Name[zu]=Isibukeli sesithombe esiphezulu
Name=Viewnior image viewer
Comment[af]=Elegante Image Viewer
Comment[am]=የሚያምር ምስል መመልከቻ
Comment[ar]=ﻖﻴﻧﻷ﻿ﺍ ﺭﻮﺼﻟﺍ ﺽﺭﺎﻋ
Comment[as]=মাৰ্জিত ইমেজ ভিউয়াৰ
Comment[ay]=Elegante Imagen Uñch’ukiña
Comment[az]=Elegant Image Viewer
Comment[ba]=Элегант образ ҡараусы
Comment[be]=Элегантны праглядальнік малюнкаў
Comment[bg]=Елегантен преглед на изображения
Comment[bm]=Jaa Lajɛbaga cɛɲi
Comment[bn]=মার্জিত ইমেজ ভিউয়ার
Comment[bo]=མཛེས་ཤིང་ལྟ་ན་སྡུག་པའི་གཟུགས་བརྙན་ལྟ་མཁན།
Comment[bs]=Elegantan preglednik slika
Comment[ca]=Visor d'imatges elegant
Comment[co]=Elegante visor d'imaghjini
Comment[cs]=Elegantní prohlížeč obrázků
Comment[cy]=Gwyliwr Delwedd Cain
Comment[da]=Elegant billedfremviser
Comment[de]=Eleganter Bildbetrachter
Comment[dv]=ރއައުވި ޖްމޭއި ޓްންގަލިއެ
Comment[ee]=Nɔnɔmetatawo Kpɔla Dzeani aɖe
Comment[el]=Κομψό πρόγραμμα προβολής εικόνων
Comment[eo]=Eleganta Bildo-Vidilo
Comment[es]=Visor de imágenes elegante
Comment[et]=Elegantne pildivaatur
Comment[eu]=Irudien ikusle dotorea
Comment[fa]=ﺎﺒﯾﺯ ﺮﯾﻮﺼﺗ ﺮﮕﺸﯾﺎﻤﻧ
Comment[fi]=Tyylikäs kuvankatseluohjelma
Comment[fj]=Dausarasara ni iYaloyalo Totoka
Comment[fo]=Elegant Image Viewer
Comment[fr]=Visionneuse d'images élégante
Comment[fy]=Elegant Image Viewer
Comment[ga]=Breathnóir Íomhá Galánta
Comment[gd]=Sealladair Ìomhaigh eireachdail
Comment[gl]=Visor de imaxes elegante
Comment[gn]=Ta’ãngamýi Rehegua Elegante
Comment[gu]=ભવ્ય છબી દર્શક
Comment[ha]=Kyawawan Kallon Hoto
Comment[he]=יטנגלא תונומת גיצמ
Comment[hi]=सुंदर छवि दर्शक
Comment[hr]=Elegantan preglednik slika
Comment[ht]=Elegant Imaj Viewer
Comment[hu]=Elegáns képnézegető
Comment[hy]=Նրբագեղ պատկերի դիտիչ
Comment[id]=Penampil Gambar Elegan
Comment[ig]=Ihe nlere onyonyo mara mma
Comment[is]=Glæsilegur myndskoðari
Comment[it]=Elegante visualizzatore di immagini
Comment[iu]=ᑭᒡᒐᖅᑐᐃᔪᖅ ᐊᔾᔨᙳᐊᒥᒃ ᑕᐅᑐᒃᑎ
Comment[ja]=エレガントな画像ビューア
Comment[jv]=Viewer Gambar Elegan
Comment[ka]=ელეგანტური გამოსახულების მაყურებელი
Comment[kk]=Elegant Image Viewer
Comment[km]=កម្មវិធីមើលរូបភាពឆើតឆាយ
Comment[kn]=ಸೊಗಸಾದ ಚಿತ್ರ ವೀಕ್ಷಕ
Comment[ko]="우아한 이미지 뷰어"
Comment[ku]=Viewer Wêne Elegant
Comment[ky]=Elegant Image Viewer
Comment[la]=Elegans Imago Visum
Comment[lb]=Elegante Image Viewer
Comment[lg]=Omulabi w'Ebifaananyi Omulungi
Comment[ln]=Motali ya Bilili ya Elegant
Comment[lo]=ຜູ້ເບິ່ງຮູບພາບທີ່ສະຫງ່າງາມ
Comment[lt]=Elegantiška vaizdų peržiūros priemonė
Comment[lv]=Elegants attēlu skatītājs
Comment[mg]=Mijery sary kanto
Comment[mi]=Tirohanga Atahanga Huatau
Comment[mk]=Елегантен прегледувач на слики
Comment[ml]=ഗംഭീരമായ ഇമേജ് വ്യൂവർ
Comment[mn]=Гоёмсог зураг харагч
Comment[mr]=मोहक प्रतिमा दर्शक
Comment[ms]=Pemapar Imej Elegan
Comment[mt]=Eleganti Image Viewer
Comment[my]=အံဝင်ခွင်ကျပုံရိပ်ကြည့်ရှုသူ
Comment[ne]=सुरुचिपूर्ण छवि दर्शक
Comment[nl]=Elegante afbeeldingsviewer
Comment[no]=Elegant bildeviser
Comment[ny]=Elegant Image Viewer
Comment[om]=Ilaaltuu Fakkii Bareedaa
Comment[or]=ସୁନ୍ଦର ଚିତ୍ର ଦର୍ଶକ |
Comment[pa]=ਸ਼ਾਨਦਾਰ ਚਿੱਤਰ ਦਰਸ਼ਕ
Comment[pl]=Elegancka przeglądarka obrazów
Comment[ps]=ﯽﮑﻧﻭﺪﯿﻟ ﺭﻮځﻧﺍ ﯽﻠﮑښ
Comment[pt]=Visualizador de imagens elegante
Comment[qu]=Elegante Imahina Qhawaq
Comment[ro]=Vizualizator de imagini elegant
Comment[ru]=Элегантный просмотрщик изображений
Comment[rw]=Amashusho meza
Comment[sa]=सुरुचिपूर्णः चित्रदर्शकः
Comment[sd]=ڙﺪﻨﺳڏ ﺮﻳﻮﺼﺗ ﺕﺭﻮﺼﺑﻮﺧ
Comment[si]=අලංකාර රූප නරඹන්නා
Comment[sk]=Elegantný prehliadač obrázkov
Comment[sl]=Eleganten pregledovalnik slik
Comment[sm]=Matagofie Ata Va'ai
Comment[sn]=Elegant Image Viewer
Comment[so]=Daawaha Sawirka Quruxda Badan
Comment[sq]=Shikues elegant i imazheve
Comment[st]=Sebono se Khabane sa Litšoantšo
Comment[su]=Panempoan Gambar Elegan
Comment[sv]=Elegant bildvisare
Comment[sw]=Kitazamaji Kifahari cha Picha
Comment[ta]=நேர்த்தியான பட பார்வையாளர்
Comment[te]=సొగసైన చిత్ర వీక్షకుడు
Comment[tg]=Намоишгари тасвирҳои шево
Comment[th]=โปรแกรมดูภาพที่สง่างาม
Comment[ti]=ውቁብ ምስሊ ተዓዛቢ
Comment[tk]=Elegant Surat Görkeziji
Comment[tl]=Elegant na Viewer ng Larawan
Comment[to]=ʻImisi fakaʻeiʻeiki Viewer
Comment[tr]=Zarif Resim Görüntüleyici
Comment[ts]=Xivoni xa Swifaniso xo saseka
Comment[tt]=Элегант рәсем тамашачысы
Comment[tw]=Mfonini Hwɛfo a Ɛyɛ Fɛ
Comment[ty]=Hoho'a no te taata mata'ita'i hoho'
Comment[ug]=ﻰﭼﯜﮔﺭﯚﻛ ﻢﯩﺳەﺭ ﺲﯩﭘەﻧ
Comment[uk]=Елегантний переглядач зображень
Comment[ur]=ﻻ﻿ﺍﻭ ﮯﻨﮭﮑﯾﺩ ﺮﯾﻮﺼﺗ ﺕﺭﻮﺼﺑﻮﺧ
Comment[uz]=Elegant Image Viewer
Comment[vi]=Trình xem ảnh thanh lịch
Comment[xh]=Umjongi woMfanekiso Omhle
Comment[yi]=רעויוו דליב טנאַגעלע
Comment[yo]=Yangan Aworan wiwo
Comment[zh]=优雅的图像查看器
Comment[zu]=Isibukeli Sesithombe Esinhle
Comment=Elegant Image Viewer
Exec=viewnior
Icon=viewnior.png
Terminal=false
Type=Application
Categories=X-Graphic-viewer
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
