[Desktop Entry]
Name[af]=Galculator wetenskaplike sakrekenaar
Name[am]=ጋልኩሌተር ሳይንሳዊ ካልኩሌተር
Name[ar]=ﺔﻴﻤﻠﻋ ﺔﺒﺳﺎﺣ ﺔﻟﺁ
Name[as]=গেলকুলেটৰ বৈজ্ঞানিক কেলকুলেটৰ
Name[ay]=Galculadora ukaxa calculadora científica sata uñt’atawa
Name[az]=Galculator elmi kalkulyator
Name[ba]=Галкулятор фәнни калькулятор
Name[be]=Galculator навуковы калькулятар
Name[bg]=Galculator научен калкулатор
Name[bm]=Galculator dɔnniya jatebɔlan
Name[bn]=গ্যালকুলেটর বৈজ্ঞানিক ক্যালকুলেটর
Name[bo]=སྐར་རྩིས་འཕྲུལ་ཆས་ཀྱི་ཚན་རིག་རྩིས་རྒྱག་འཕྲུལ་ཆས།
Name[bs]=Naučni kalkulator Galculator
Name[ca]=Calculadora científica Galculator
Name[co]=Calculatrice scientifica Galculator
Name[cs]=Vědecká kalkulačka Galculator
Name[cy]=Cyfrifiannell gwyddonol galculator
Name[da]=Galculator videnskabelig lommeregner
Name[de]=Wissenschaftlicher Taschenrechner
Name[dv]=ރޓަލޭއުކިލްކެ ކްފިޓިންއިސަ ރޓަލޭއުކިލްގަ
Name[ee]=Galculator dzɔdzɔmeŋutinunya ƒe akɔntabubumɔ̃
Name[el]=Επιστημονική αριθμομηχανή Galculator
Name[en]=Galculator scientific calculator
Name[eo]=Scienca kalkulilo de Galculator
Name[es]=calculadora cientifica galculator
Name[et]=Galculator teaduslik kalkulaator
Name[eu]=Galculator kalkulagailu zientifikoa
Name[fa]=Galculator ﯽﻤﻠﻋ ﺏﺎﺴﺣ ﻦﯿﺷﺎﻣ
Name[fi]=Galculator tieteellinen laskin
Name[fj]=Kalculator vakasaenisi calculator
Name[fo]=Galculator vísindaliga roknimaskinu
Name[fr]=Calculatrice scientifique Galculator
Name[fy]=Galculator wittenskiplike rekkenmasine
Name[ga]=Áireamhán eolaíochta áireamhán
Name[gd]=àireamhair saidheansail galculator
Name[gl]=Calculadora científica Galculator
Name[gn]=Galculadora calculadora científica rehegua
Name[gu]=ગેલ્ક્યુલેટર વૈજ્ઞાનિક કેલ્ક્યુલેટર
Name[ha]=Kalkuleta kimiyyar lissafi
Name[he]=רוטלוקלג לש יעדמ ןובשחמ
Name[hi]=गैलक्यूलेटर वैज्ञानिक कैलकुलेटर
Name[hr]=Galculator znanstveni kalkulator
Name[ht]=Galculator syantifik kalkilatris
Name[hu]=Galculator tudományos számológép
Name[hy]=Galculator գիտական հաշվիչ
Name[id]=Kalkulator ilmiah kalkulator
Name[ig]=Ihe mgbako sayensi Galculator
Name[is]=Galculator vísindareiknivél
Name[it]=Calcolatrice scientifica Galculator
Name[iu]=Galculator ᖃᐅᔨᓴᕐᓂᕐᒧᑦ ᓈᓴᐅᓯᕆᔾᔪᑎ
Name[ja]=電卓 関数電卓
Name[jv]=Kalkulator ilmiah kalkulator
Name[ka]=გალკულატორი სამეცნიერო კალკულატორი
Name[kk]=Галкулятор ғылыми калькулятор
Name[km]=Galculator ម៉ាស៊ីនគិតលេខវិទ្យាសាស្ត្រ
Name[kn]=ಗ್ಯಾಲ್ಕುಲೇಟರ್ ವೈಜ್ಞಾನಿಕ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Name[ko]="계산기 공학용 계산기"
Name[ku]=Calculator calculator zanistî
Name[ky]=Галкулятор илимий эсептегич
Name[la]=calculator scientificus
Name[lb]=Galculator wëssenschaftleche Rechner
Name[lg]=Galculator ekibalirizi kya ssaayansi
Name[ln]=Galculator calculateur ya siansi
Name[lo]=ເຄື່ອງຄິດເລກວິທະຍາສາດ Galculator
Name[lt]=Galculator mokslinis skaičiuotuvas
Name[lv]=Galculator zinātniskais kalkulators
Name[mg]=Galculator siantifika kajy
Name[mi]=Te tātaitai pūtaiao
Name[mk]=Галкулатор научен калкулатор
Name[ml]=ഗാൽക്കുലേറ്റർ സയന്റിഫിക് കാൽക്കുലേറ്റർ
Name[mn]=Галкулятор шинжлэх ухааны тооцоолуур
Name[mr]=गॅल्क्युलेटर वैज्ञानिक कॅल्क्युलेटर
Name[ms]=Kalkulator saintifik kalkulator
Name[mt]=Kalkulatur xjentifiku Galculator
Name[my]=Galculator သိပ္ပံနည်းကျဂဏန်းပေါင်းစက်
Name[ne]=Galculator वैज्ञानिक क्याल्कुलेटर
Name[nl]=Galculator wetenschappelijke rekenmachine
Name[no]=Galculator vitenskapelig kalkulator
Name[ny]=Calculator yasayansi yowerengera
Name[om]=Galculator shallaggii saayinsii
Name[or]=ଗାଲ୍କୁଲେଟର ବ scientific ଜ୍ scientific ାନିକ କାଲକୁଲେଟର |
Name[pa]=ਗੈਲਕੂਲੇਟਰ ਵਿਗਿਆਨਕ ਕੈਲਕੁਲੇਟਰ
Name[pl]=Kalkulator naukowy Galculator
Name[ps]=ﻪﺒﺳﺎﺤﻣ ﻲﺴﻨﯾﺎﺳ ﺮټﯿﻟﻮﮑﯿﻟﺎګ
Name[pt]=Calculadora científica Galculator
Name[qu]=Galculador científico nisqa yupay
Name[ro]=Calculator științific Galculator
Name[ru]=Галькулятор научный калькулятор
Name[rw]=Ibara rya siyansi
Name[sa]=गैल्क्युलेटर वैज्ञानिक गणक
Name[sd]=Galculator ﺮڪﻮﻴﭙﮣﮘ ﻲﺴﻨﺋﺎﺳ
Name[si]=ගැල්කියුලේටරය විද්u200dයාත්මක කැල්කියුලේටරය
Name[sk]=Galculator vedecká kalkulačka
Name[sl]=Znanstveni kalkulator Galculator
Name[sm]=Galculator calculator faasaienisi
Name[sn]=Galculator yesayenzi Calculator
Name[so]=Xisaabiyaha sayniska ee Galculator
Name[sq]=Llogaritësi shkencor galkulator
Name[st]=Sebali sa mahlale sa galculator
Name[su]=Galculator kalkulator ilmiah
Name[sv]=Galculator vetenskaplig kalkylator
Name[sw]=Kikokotoo cha kisayansi cha galata
Name[ta]=கால்குலேட்டர் அறிவியல் கால்குலேட்டர்
Name[te]=గాల్క్యులేటర్ సైంటిఫిక్ కాలిక్యులేటర్
Name[tg]=Ҳисобкунаки илмии Galculator
Name[th]=เครื่องคิดเลขวิทยาศาสตร์ Galculator
Name[ti]=ጋልኩሌተር ሳይንሳዊ ካልኩሌተር
Name[tk]=Galkulýator ylmy kalkulýator
Name[tl]=Galculator siyentipikong calculator
Name[to]=Galculator fakasaienisi anga kalakuleita
Name[tr]=Galculator bilimsel hesap makinesi
Name[ts]=Galculator xikalo xa sayense
Name[tt]=Галькулятор фәнни калькулятор
Name[tw]=Galculator nyansahu mu akontaabu afiri
Name[ty]=Taata tuatapapa i te parau no te ite aivanaa i te pae no te ite aravihi
Name[ug]=Galculator ﭺﯘﻐﯩﻠﺑﺎﺴﯧﮬ ﻲﯩﻤﻠﯩﺋ
Name[uk]=Науковий калькулятор Galculator
Name[ur]=Galculator ﺮﭩﯿﻟﻮﮑﻠﯿﮐ ﯽﺴﻨﺋﺎﺳ
Name[uz]=Galkulyator ilmiy kalkulyator
Name[vi]=Máy tính khoa học Galculator
Name[xh]=Ikhatyhuleyitha yenzululwazi yokubala
Name[yi]=ראָטאַלוקלאַק עכעלטפאשנסיוו ראָטאַלוקלאַג
Name[yo]=Galculator ijinle sayensi isiro
Name[zh]=Galculator 科学计算器
Name[zu]=I-Galculator yokubala yesayensi
Name=Galculator scientific calculator
Comment[af]=Galculator wetenskaplike sakrekenaar
Comment[am]=ጋልኩሌተር ሳይንሳዊ ካልኩሌተር
Comment[ar]=ﺔﻴﻤﻠﻋ ﺔﺒﺳﺎﺣ ﺔﻟﺁ
Comment[as]=গেলকুলেটৰ বৈজ্ঞানিক কেলকুলেটৰ
Comment[ay]=Galculadora ukaxa calculadora científica sata uñt’atawa
Comment[az]=Galculator elmi kalkulyator
Comment[ba]=Галкулятор фәнни калькулятор
Comment[be]=Galculator навуковы калькулятар
Comment[bg]=Galculator научен калкулатор
Comment[bm]=Galculator dɔnniya jatebɔlan
Comment[bn]=গ্যালকুলেটর বৈজ্ঞানিক ক্যালকুলেটর
Comment[bo]=སྐར་རྩིས་འཕྲུལ་ཆས་ཀྱི་ཚན་རིག་རྩིས་རྒྱག་འཕྲུལ་ཆས།
Comment[bs]=Naučni kalkulator Galculator
Comment[ca]=Calculadora científica Galculator
Comment[co]=Calculatrice scientifica Galculator
Comment[cs]=Vědecká kalkulačka Galculator
Comment[cy]=Cyfrifiannell gwyddonol galculator
Comment[da]=Galculator videnskabelig lommeregner
Comment[de]=Wissenschaftlicher Taschenrechner
Comment[dv]=ރޓަލޭއުކިލްކެ ކްފިޓިންއިސަ ރޓަލޭއުކިލްގަ
Comment[ee]=Galculator dzɔdzɔmeŋutinunya ƒe akɔntabubumɔ̃
Comment[el]=Επιστημονική αριθμομηχανή Galculator
Comment[en]=Galculator scientific calculator
Comment[eo]=Scienca kalkulilo de Galculator
Comment[es]=calculadora cientifica galculator
Comment[et]=Galculator teaduslik kalkulaator
Comment[eu]=Galculator kalkulagailu zientifikoa
Comment[fa]=Galculator ﯽﻤﻠﻋ ﺏﺎﺴﺣ ﻦﯿﺷﺎﻣ
Comment[fi]=Galculator tieteellinen laskin
Comment[fj]=Kalculator vakasaenisi calculator
Comment[fo]=Galculator vísindaliga roknimaskinu
Comment[fr]=Calculatrice scientifique Galculator
Comment[fy]=Galculator wittenskiplike rekkenmasine
Comment[ga]=Áireamhán eolaíochta áireamhán
Comment[gd]=àireamhair saidheansail galculator
Comment[gl]=Calculadora científica Galculator
Comment[gn]=Galculadora calculadora científica rehegua
Comment[gu]=ગેલ્ક્યુલેટર વૈજ્ઞાનિક કેલ્ક્યુલેટર
Comment[ha]=Kalkuleta kimiyyar lissafi
Comment[he]=רוטלוקלג לש יעדמ ןובשחמ
Comment[hi]=गैलक्यूलेटर वैज्ञानिक कैलकुलेटर
Comment[hr]=Galculator znanstveni kalkulator
Comment[ht]=Galculator syantifik kalkilatris
Comment[hu]=Galculator tudományos számológép
Comment[hy]=Galculator գիտական հաշվիչ
Comment[id]=Kalkulator ilmiah kalkulator
Comment[ig]=Ihe mgbako sayensi Galculator
Comment[is]=Galculator vísindareiknivél
Comment[it]=Calcolatrice scientifica Galculator
Comment[iu]=Galculator ᖃᐅᔨᓴᕐᓂᕐᒧᑦ ᓈᓴᐅᓯᕆᔾᔪᑎ
Comment[ja]=電卓 関数電卓
Comment[jv]=Kalkulator ilmiah kalkulator
Comment[ka]=გალკულატორი სამეცნიერო კალკულატორი
Comment[kk]=Галкулятор ғылыми калькулятор
Comment[km]=Galculator ម៉ាស៊ីនគិតលេខវិទ្យាសាស្ត្រ
Comment[kn]=ಗ್ಯಾಲ್ಕುಲೇಟರ್ ವೈಜ್ಞಾನಿಕ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Comment[ko]="계산기 공학용 계산기"
Comment[ku]=Calculator calculator zanistî
Comment[ky]=Галкулятор илимий эсептегич
Comment[la]=calculator scientificus
Comment[lb]=Galculator wëssenschaftleche Rechner
Comment[lg]=Galculator ekibalirizi kya ssaayansi
Comment[ln]=Galculator calculateur ya siansi
Comment[lo]=ເຄື່ອງຄິດເລກວິທະຍາສາດ Galculator
Comment[lt]=Galculator mokslinis skaičiuotuvas
Comment[lv]=Galculator zinātniskais kalkulators
Comment[mg]=Galculator siantifika kajy
Comment[mi]=Te tātaitai pūtaiao
Comment[mk]=Галкулатор научен калкулатор
Comment[ml]=ഗാൽക്കുലേറ്റർ സയന്റിഫിക് കാൽക്കുലേറ്റർ
Comment[mn]=Галкулятор шинжлэх ухааны тооцоолуур
Comment[mr]=गॅल्क्युलेटर वैज्ञानिक कॅल्क्युलेटर
Comment[ms]=Kalkulator saintifik kalkulator
Comment[mt]=Kalkulatur xjentifiku Galculator
Comment[my]=Galculator သိပ္ပံနည်းကျဂဏန်းပေါင်းစက်
Comment[ne]=Galculator वैज्ञानिक क्याल्कुलेटर
Comment[nl]=Galculator wetenschappelijke rekenmachine
Comment[no]=Galculator vitenskapelig kalkulator
Comment[ny]=Calculator yasayansi yowerengera
Comment[om]=Galculator shallaggii saayinsii
Comment[or]=ଗାଲ୍କୁଲେଟର ବ scientific ଜ୍ scientific ାନିକ କାଲକୁଲେଟର |
Comment[pa]=ਗੈਲਕੂਲੇਟਰ ਵਿਗਿਆਨਕ ਕੈਲਕੁਲੇਟਰ
Comment[pl]=Kalkulator naukowy Galculator
Comment[ps]=ﻪﺒﺳﺎﺤﻣ ﻲﺴﻨﯾﺎﺳ ﺮټﯿﻟﻮﮑﯿﻟﺎګ
Comment[pt]=Calculadora científica Galculator
Comment[qu]=Galculador científico nisqa yupay
Comment[ro]=Calculator științific Galculator
Comment[ru]=Галькулятор научный калькулятор
Comment[rw]=Ibara rya siyansi
Comment[sa]=गैल्क्युलेटर वैज्ञानिक गणक
Comment[sd]=Galculator ﺮڪﻮﻴﭙﮣﮘ ﻲﺴﻨﺋﺎﺳ
Comment[si]=ගැල්කියුලේටරය විද්u200dයාත්මක කැල්කියුලේටරය
Comment[sk]=Galculator vedecká kalkulačka
Comment[sl]=Znanstveni kalkulator Galculator
Comment[sm]=Galculator calculator faasaienisi
Comment[sn]=Galculator yesayenzi Calculator
Comment[so]=Xisaabiyaha sayniska ee Galculator
Comment[sq]=Llogaritësi shkencor galkulator
Comment[st]=Sebali sa mahlale sa galculator
Comment[su]=Galculator kalkulator ilmiah
Comment[sv]=Galculator vetenskaplig kalkylator
Comment[sw]=Kikokotoo cha kisayansi cha galata
Comment[ta]=கால்குலேட்டர் அறிவியல் கால்குலேட்டர்
Comment[te]=గాల్క్యులేటర్ సైంటిఫిక్ కాలిక్యులేటర్
Comment[tg]=Ҳисобкунаки илмии Galculator
Comment[th]=เครื่องคิดเลขวิทยาศาสตร์ Galculator
Comment[ti]=ጋልኩሌተር ሳይንሳዊ ካልኩሌተር
Comment[tk]=Galkulýator ylmy kalkulýator
Comment[tl]=Galculator siyentipikong calculator
Comment[to]=Galculator fakasaienisi anga kalakuleita
Comment[tr]=Galculator bilimsel hesap makinesi
Comment[ts]=Galculator xikalo xa sayense
Comment[tt]=Галькулятор фәнни калькулятор
Comment[tw]=Galculator nyansahu mu akontaabu afiri
Comment[ty]=Taata tuatapapa i te parau no te ite aivanaa i te pae no te ite aravihi
Comment[ug]=Galculator ﭺﯘﻐﯩﻠﺑﺎﺴﯧﮬ ﻲﯩﻤﻠﯩﺋ
Comment[uk]=Науковий калькулятор Galculator
Comment[ur]=Galculator ﺮﭩﯿﻟﻮﮑﻠﯿﮐ ﯽﺴﻨﺋﺎﺳ
Comment[uz]=Galkulyator ilmiy kalkulyator
Comment[vi]=Máy tính khoa học Galculator
Comment[xh]=Ikhatyhuleyitha yenzululwazi yokubala
Comment[yi]=ראָטאַלוקלאַק עכעלטפאשנסיוו ראָטאַלוקלאַג
Comment[yo]=Galculator ijinle sayensi isiro
Comment[zh]=Galculator 科学计算器
Comment[zu]=I-Galculator yokubala yesayensi
Comment=Galculator scientific calculator
Exec=galculator
Icon=galculator.png
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Galculator
