[Desktop Entry]
Name[af]=Evince PDF-kyker
Name[am]=ማስረጃ ፒዲኤፍ መመልከቻ
Name[ar]=PDF ﺽﺭﺎﻋ ﺕﺎﺒﺛﺇ
Name[as]=পিডিএফ দৰ্শক প্ৰমাণ কৰক
Name[ay]=PDF uñch’ukiñ uñacht’ayaña
Name[az]=Evince pdf görüntüleyici
Name[ba]=Evence PDF тамашасыһы
Name[be]=Праграма прагляду PDF Evince
Name[bg]=Evince PDF преглед
Name[bm]=Evince PDF filɛlikɛlan
Name[bn]=ইভিন্স পিডিএফ ভিউয়ার
Name[bo]=Evince PDFལྟ་མཁན།
Name[bs]=Evince PDF preglednik
Name[ca]=Visor de PDF Evince
Name[co]=Visualizzatore PDF Evince
Name[cs]=Evince prohlížeč PDF
Name[cy]=Gwyliwr PDF Evince
Name[da]=Evince PDF-fremviser
Name[de]=Evince PDF-Viewer
Name[dv]=ރއައުވި ފްއެޑީޕީ ސްންވިއެ
Name[ee]=Evince PDF-kpɔla
Name[el]=Evince πρόγραμμα προβολής PDF
Name[en]=Evince PDF viewer
Name[eo]=Evince PDF-spektilo
Name[es]=Evidencia visor de PDF
Name[et]=Evince PDF-i vaataja
Name[eu]=Evince PDF ikuslea
Name[fa]=PDF Evince ﺮﮕﺸﯾﺎﻤﻧ
Name[fi]=Evince PDF-katseluohjelma
Name[fj]=Evince PDF dausarasara
Name[fo]=Evince PDF viewer
Name[fr]=Visionneuse PDF Evince
Name[fy]=Evince PDF-werjouwer
Name[ga]=Evince lucht féachana pdf
Name[gd]=Evince sealladair pdf
Name[gl]=Visor de PDF Evince
Name[gn]=Evince PDF jehechaukaha
Name[gu]=એવિન્સ પીડીએફ વ્યૂઅર
Name[ha]=Shaida PDF Viewer
Name[he]=Evince לש PDF גיצמ
Name[hi]=एविंस पीडीएफ दर्शक
Name[hr]=Evince PDF preglednik
Name[ht]=Evince PDF visualiseur
Name[hu]=Evince PDF-nézegető
Name[hy]=Evince PDF դիտող
Name[id]=Penampil PDF yang jelas
Name[ig]=Ihe nlele PDF
Name[is]=Evince PDF skoðari
Name[it]=Evince visualizzatore di PDF
Name[iu]=Evince PDF−ᑯᑦ ᕿᒥᕐᕈᔨ
Name[ja]=Evince PDF ビューア
Name[jv]=Evince PDF viewer
Name[ka]=Evince PDF მაყურებელი
Name[kk]=Evince PDF қарау құралы
Name[km]=Evince កម្មវិធីមើល PDF
Name[kn]=ಎವಿನ್ಸ್ ಪಿಡಿಎಫ್ ವೀಕ್ಷಕ
Name[ko]=Evince PDF 뷰어
Name[ku]=Evince PDF viewer
Name[ky]=Evince PDF көрүүчү
Name[la]=Exhibere PDF inspectoris
Name[lb]=Evince PDF Viewer
Name[lg]=Evince omulabi wa PDF
Name[ln]=Evince motali ya PDF
Name[lo]=Evince PDF viewer
Name[lt]=Evince PDF peržiūros programa
Name[lv]=Evince PDF skatītājs
Name[mg]=Evince PDF viewer
Name[mi]=Kaitirotiro PDF Evince
Name[mk]=Evince PDF прегледувач
Name[ml]=Evince PDF വ്യൂവർ
Name[mn]=Evince PDF харагч
Name[mr]=Evince PDF दर्शक
Name[ms]=Evince PDF viewer
Name[mt]=Evince PDF viewer
Name[my]=Evince PDF ကြည့်ရှုသူ
Name[ne]=Evince PDF दर्शक
Name[nl]=Evince PDF-viewer
Name[no]=Evince PDF-leser
Name[ny]=Evince PDF viewer
Name[om]=Evince PDF ilaaltuu
Name[or]=PDF ଦର୍ଶକଙ୍କୁ ପ୍ରମାଣ କରନ୍ତୁ |
Name[pa]=Evince PDF ਦਰਸ਼ਕ
Name[pl]=Przeglądarka PDF Evince
Name[ps]=ﯽﮑﻧﻭﺪﯿﻟ ﻒﯾﺍ ﯼډ ﯽﭘ ﺩ
Name[pt]=Evince visualizador de PDF
Name[qu]=Evince PDF qhawaq
Name[ro]=Vizualizator PDF Evince
Name[ru]=Evince просмотрщик PDF
Name[rw]=Emeza abareba PDF
Name[sa]=Evince PDF दर्शकः
Name[sd]=Evince PDF viewer
Name[si]=Evince PDF නරඹන්නා
Name[sk]=Prehliadač PDF Evince
Name[sl]=Pregledovalnik PDF Evince
Name[sm]=Evince PDF viewer
Name[sn]=Evince PDF muoni
Name[so]=Evice PDF viewer
Name[sq]=Evince shikues PDF
Name[st]=Evince PDF viewer
Name[su]=Evince PDF viewer
Name[sv]=Evince PDF-läsare
Name[sw]=Evince PDF mtazamaji
Name[ta]=Evince PDF பார்வையாளர்
Name[te]=ఎవిన్స్ PDF వ్యూయర్
Name[tg]=Намоишгари PDF Evince
Name[th]=โปรแกรมดู PDF ที่ชัดเจน
Name[ti]=Evince PDF viewer ዝብል ጽሑፍ ኣሎ።
Name[tk]=PDF tomaşaçydan çykyň
Name[tl]=Evince PDF viewer
Name[to]=Evince PDF Viewer
Name[tr]=Evince PDF görüntüleyici
Name[ts]=Evince xihlaleri xa PDF
Name[tt]=PDF карау
Name[tw]=Evince PDF hwɛfo
Name[ty]=Evince PDF viewer
Name[ug]=PDF ﯓﻼ﻿ﺗﺎﭙﺴﯩﺋ ﻰﻨﯩﭼﯜﮔﺭﯚﻛ
Name[uk]=Переглядач PDF Evince
Name[ur]=Evince PDF ﺮﻇﺎﻧ
Name[uz]=Evince PDF ko'rish dasturi
Name[vi]=Hiển thị trình xem PDF
Name[xh]=Evince PDF umbukeli
Name[yi]=Evince PDF רעקוקוצ
Name[yo]=Evince PDF wiwo
Name[zh]=Evince PDF 查看器
Name[zu]=Isibukeli se-PDF sika-Evince
Name=Evince PDF viewer
Comment[af]=Evince PDF-kyker
Comment[am]=ማስረጃ ፒዲኤፍ መመልከቻ
Comment[ar]=PDF ﺽﺭﺎﻋ ﺕﺎﺒﺛﺇ
Comment[as]=পিডিএফ দৰ্শক প্ৰমাণ কৰক
Comment[ay]=PDF uñch’ukiñ uñacht’ayaña
Comment[az]=Evince pdf görüntüleyici
Comment[ba]=Evence PDF тамашасыһы
Comment[be]=Праграма прагляду PDF Evince
Comment[bg]=Evince PDF преглед
Comment[bm]=Evince PDF filɛlikɛlan
Comment[bn]=ইভিন্স পিডিএফ ভিউয়ার
Comment[bo]=Evince PDFལྟ་མཁན།
Comment[bs]=Evince PDF preglednik
Comment[ca]=Visor de PDF Evince
Comment[co]=Visualizzatore PDF Evince
Comment[cs]=Evince prohlížeč PDF
Comment[cy]=Gwyliwr PDF Evince
Comment[da]=Evince PDF-fremviser
Comment[de]=Evince PDF-Viewer
Comment[dv]=ރއައުވި ފްއެޑީޕީ ސްންވިއެ
Comment[ee]=Evince PDF-kpɔla
Comment[el]=Evince πρόγραμμα προβολής PDF
Comment[en]=Evince PDF viewer
Comment[eo]=Evince PDF-spektilo
Comment[es]=Evidencia visor de PDF
Comment[et]=Evince PDF-i vaataja
Comment[eu]=Evince PDF ikuslea
Comment[fa]=PDF Evince ﺮﮕﺸﯾﺎﻤﻧ
Comment[fi]=Evince PDF-katseluohjelma
Comment[fj]=Evince PDF dausarasara
Comment[fo]=Evince PDF viewer
Comment[fr]=Visionneuse PDF Evince
Comment[fy]=Evince PDF-werjouwer
Comment[ga]=Evince lucht féachana pdf
Comment[gd]=Evince sealladair pdf
Comment[gl]=Visor de PDF Evince
Comment[gn]=Evince PDF jehechaukaha
Comment[gu]=એવિન્સ પીડીએફ વ્યૂઅર
Comment[ha]=Shaida PDF Viewer
Comment[he]=Evince לש PDF גיצמ
Comment[hi]=एविंस पीडीएफ दर्शक
Comment[hr]=Evince PDF preglednik
Comment[ht]=Evince PDF visualiseur
Comment[hu]=Evince PDF-nézegető
Comment[hy]=Evince PDF դիտող
Comment[id]=Penampil PDF yang jelas
Comment[ig]=Ihe nlele PDF
Comment[is]=Evince PDF skoðari
Comment[it]=Evince visualizzatore di PDF
Comment[iu]=Evince PDF−ᑯᑦ ᕿᒥᕐᕈᔨ
Comment[ja]=Evince PDF ビューア
Comment[jv]=Evince PDF viewer
Comment[ka]=Evince PDF მაყურებელი
Comment[kk]=Evince PDF қарау құралы
Comment[km]=Evince កម្មវិធីមើល PDF
Comment[kn]=ಎವಿನ್ಸ್ ಪಿಡಿಎಫ್ ವೀಕ್ಷಕ
Comment[ko]=Evince PDF 뷰어
Comment[ku]=Evince PDF viewer
Comment[ky]=Evince PDF көрүүчү
Comment[la]=Exhibere PDF inspectoris
Comment[lb]=Evince PDF Viewer
Comment[lg]=Evince omulabi wa PDF
Comment[ln]=Evince motali ya PDF
Comment[lo]=Evince PDF viewer
Comment[lt]=Evince PDF peržiūros programa
Comment[lv]=Evince PDF skatītājs
Comment[mg]=Evince PDF viewer
Comment[mi]=Kaitirotiro PDF Evince
Comment[mk]=Evince PDF прегледувач
Comment[ml]=Evince PDF വ്യൂവർ
Comment[mn]=Evince PDF харагч
Comment[mr]=Evince PDF दर्शक
Comment[ms]=Evince PDF viewer
Comment[mt]=Evince PDF viewer
Comment[my]=Evince PDF ကြည့်ရှုသူ
Comment[ne]=Evince PDF दर्शक
Comment[nl]=Evince PDF-viewer
Comment[no]=Evince PDF-leser
Comment[ny]=Evince PDF viewer
Comment[om]=Evince PDF ilaaltuu
Comment[or]=PDF ଦର୍ଶକଙ୍କୁ ପ୍ରମାଣ କରନ୍ତୁ |
Comment[pa]=Evince PDF ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka PDF Evince
Comment[ps]=ﯽﮑﻧﻭﺪﯿﻟ ﻒﯾﺍ ﯼډ ﯽﭘ ﺩ
Comment[pt]=Evince visualizador de PDF
Comment[qu]=Evince PDF qhawaq
Comment[ro]=Vizualizator PDF Evince
Comment[ru]=Evince просмотрщик PDF
Comment[rw]=Emeza abareba PDF
Comment[sa]=Evince PDF दर्शकः
Comment[sd]=Evince PDF viewer
Comment[si]=Evince PDF නරඹන්නා
Comment[sk]=Prehliadač PDF Evince
Comment[sl]=Pregledovalnik PDF Evince
Comment[sm]=Evince PDF viewer
Comment[sn]=Evince PDF muoni
Comment[so]=Evice PDF viewer
Comment[sq]=Evince shikues PDF
Comment[st]=Evince PDF viewer
Comment[su]=Evince PDF viewer
Comment[sv]=Evince PDF-läsare
Comment[sw]=Evince PDF mtazamaji
Comment[ta]=Evince PDF பார்வையாளர்
Comment[te]=ఎవిన్స్ PDF వ్యూయర్
Comment[tg]=Намоишгари PDF Evince
Comment[th]=โปรแกรมดู PDF ที่ชัดเจน
Comment[ti]=Evince PDF viewer ዝብል ጽሑፍ ኣሎ።
Comment[tk]=PDF tomaşaçydan çykyň
Comment[tl]=Evince PDF viewer
Comment[to]=Evince PDF Viewer
Comment[tr]=Evince PDF görüntüleyici
Comment[ts]=Evince xihlaleri xa PDF
Comment[tt]=PDF карау
Comment[tw]=Evince PDF hwɛfo
Comment[ty]=Evince PDF viewer
Comment[ug]=PDF ﯓﻼ﻿ﺗﺎﭙﺴﯩﺋ ﻰﻨﯩﭼﯜﮔﺭﯚﻛ
Comment[uk]=Переглядач PDF Evince
Comment[ur]=Evince PDF ﺮﻇﺎﻧ
Comment[uz]=Evince PDF ko'rish dasturi
Comment[vi]=Hiển thị trình xem PDF
Comment[xh]=Evince PDF umbukeli
Comment[yi]=Evince PDF רעקוקוצ
Comment[yo]=Evince PDF wiwo
Comment[zh]=Evince PDF 查看器
Comment[zu]=Isibukeli se-PDF sika-Evince
Comment=Evince PDF viewer
TryExec=evince
Exec=evince
StartupNotify=true
Terminal=false
Type=Application
Icon=evince.png
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evince
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.32.0
Categories=X-Document-viewer
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;image/tiff;image/*;
