[Desktop Entry]
Encoding=UTF-8
Name=Ssh-gui secure remote login
Icon=mini-sh1.xpm
Comment=Ssh-gui secure remote login
Exec=ssh-gui
Terminal=false
Type=Application
Categories=X-Internet-login
GenericName=Ssh-gui
