[Desktop Entry]
Encoding=UTF-8
Name[af]=Xfce Menu Editor
Name[am]=Xfce ምናሌ አርታዒ
Name[ar]=Xfce ﺔﻤﺋﺎﻗ ﺭﺮﺤﻣ
Name[as]=Xfce মেনু সম্পাদক
Name[ay]=Xfce Menú Editor ukax mä juk’a pachanakanwa
Name[az]=Xfce Menyu Redaktoru
Name[ba]=Xfce Menu мөхәррире
Name[be]=Рэдактар меню Xfce
Name[bg]=Xfce редактор на менюта
Name[bm]=Xfce Menu Ɲɛfɔlikɛla
Name[bn]=Xfce মেনু সম্পাদক
Name[bo]=Xfce Menu རྩོམ་སྒྲིག་པ།
Name[bs]=Xfce Menu Editor
Name[ca]=Editor de menús Xfce
Name[co]=Xfce Menu Editor
Name[cs]=Editor menu Xfce
Name[cy]=Golygydd Dewislen Xfce
Name[da]=Xfce Menu Editor
Name[de]=Xfce-Menüeditor
Name[dv]=ވެރެޓަޑިއެ ނޫމެ އީސީފްއެސްކްއެ
Name[ee]=Xfce Menu ƒe Nuŋlɔla
Name[el]=Επεξεργαστής μενού Xfce
Name[eo]=Xfce Menu Editor
Name[es]=Editor de menú Xfce
Name[et]=Xfce menüüredaktor
Name[eu]=Xfce menu editorea
Name[fa]=Xfce ﻮﻨﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=Xfce-valikkoeditori
Name[fj]=Edita ni Menu ni XFce
Name[fo]=Xfce Menu Editor
Name[fr]=Éditeur de menus Xfce
Name[fy]=Xfce Menu Editor
Name[ga]=Xfce eagarthóir roghchlár
Name[gd]=Deasaiche clàr-taice xfce
Name[gl]=Editor de menús Xfce
Name[gn]=Xfce Menú Editor rehegua
Name[gu]=Xfce મેનુ એડિટર
Name[ha]=Editan Menu na Xfce
Name[he]=Xfce טירפת ךרוע
Name[hi]=Xfce मेनू संपादक
Name[hr]=Xfce uređivač izbornika
Name[ht]=Editè meni Xfce
Name[hu]=Xfce menüszerkesztő
Name[hy]=Xfce մենյուի խմբագիր
Name[id]=Editor Menu Xfce
Name[ig]=Xfce Menu Editor
Name[is]=Xfce valmyndaritill
Name[it]=Editor di menu Xfce
Name[iu]=Xfce ᓂᕆᔭᒃᓴᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=Xfceメニューエディタ
Name[jv]=Editor Menu Xfce
Name[ka]=Xfce მენიუს რედაქტორი
Name[kk]=Xfce мәзір редакторы
Name[km]=កម្មវិធីនិពន្ធម៉ឺនុយ Xfce
Name[kn]=Xfce ಮೆನು ಸಂಪಾದಕ
Name[ko]=Xfce 메뉴 편집기
Name[ku]=Edîtorê Pêşeka Xfce
Name[ky]=Xfce меню редактору
Name[la]=Xfce Menu Editor
Name[lb]=Xfce Menu Editor
Name[lg]=Xfce Omuwandiisi wa Menyu
Name[ln]=Xfce Mobongisi ya Menu
Name[lo]=ບັນນາທິການເມນູ Xfce
Name[lt]=Xfce meniu redaktorius
Name[lv]=Xfce izvēlnes redaktors
Name[mg]=Xfce Menu Editor
Name[mi]=Etita Tahua Xfce
Name[mk]=Уредник на менито Xfce
Name[ml]=Xfce മെനു എഡിറ്റർ
Name[mn]=Xfce цэс засварлагч
Name[mr]=Xfce मेनू संपादक
Name[ms]=Editor Menu Xfce
Name[mt]=Editur tal-Menu Xfce
Name[my]=Xfce Menu တည်းဖြတ်သူ
Name[ne]=Xfce मेनु सम्पादक
Name[nl]=Xfce-menu-editor
Name[no]=Xfce Meny Editor
Name[ny]=Xfce Menu Editor
Name[om]=Gulaalaa Menuu Xfce
Name[or]=Xfce ମେନୁ ସମ୍ପାଦକ |
Name[pa]=Xfce ਮੀਨੂ ਸੰਪਾਦਕ
Name[pl]=Edytor menu Xfce
Name[ps]=ﺮﯾﺪﻣ ﻮﻨﯿﻣ Xfce ﺩ
Name[pt]=Xfce Menu Editor
Name[qu]=Xfce Menú Editor nisqa
Name[ro]=Editor de meniu Xfce
Name[ru]=Редактор меню Xfce
Name[rw]=Xfce Ibikubiyemo
Name[sa]=Xfce मेनू सम्पादक
Name[sd]=Xfce ﺮٽﻳڊﻳﺍ ﻮﻴﻨﻴﻣ
Name[si]=Xfce මෙනු සංස්කාරකය
Name[sk]=Editor ponuky Xfce
Name[sl]=Urejevalnik menijev Xfce
Name[sm]=Xfce Fa'atonu Menu
Name[sn]=Xfce Menu Edhita
Name[so]=Tafatiraha Menu Xfce
Name[sq]=Redaktori i menysë Xfce
Name[st]=Xfce Menu Editor
Name[su]=Editor Menu Xfce
Name[sv]=Xfce Meny Editor
Name[sw]=Mhariri wa Menyu ya Xfce
Name[ta]=Xfce மெனு எடிட்டர்
Name[te]=Xfce మెనూ ఎడిటర్
Name[tg]=Муҳаррири менюи Xfce
Name[th]=โปรแกรมแก้ไขเมนู Xfce
Name[ti]=Xfce ናይ ምልክት ዝርዝር ኣርታዒ
Name[tk]=Xfce menýu redaktory
Name[tl]=Xfce Menu Editor
Name[to]=ʻEtita Xfce menu
Name[tr]=Xfce Menü Düzenleyici
Name[ts]=Xfce Muhleri wa Menyu
Name[tt]=Xfce меню редакторы
Name[tw]=Xfce Menu Nsɛmma Nhoma
Name[ty]=Xfce Menu Editor
Name[ug]=Xfce ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻚﯩﻠﻤﯨﺰﯩﺗ
Name[uk]=Редактор меню Xfce
Name[ur]=Xfce ﺮﭩﯾﮉﯾﺍ ﻮﻨﯿﻣ
Name[uz]=Xfce menyu muharriri
Name[vi]=Trình chỉnh sửa menu Xfce
Name[xh]=Xfce Umhleli weMenu
Name[yi]=Xfce ראָטידע וינעמ
Name[yo]=Xfce Akojọ Olootu
Name[zh]=Xfce 菜单编辑器
Name[zu]=I-Xfce Menu Editor
Name=Xfce Menu Editor
Comment[af]=Grafiese hulpmiddel om die Xfce 4-kieslys te wysig
Comment[am]=የ Xfce 4 ሜኑ ለማርትዕ ስዕላዊ መሳሪያ
Comment[ar]=Xfce 4 ﺔﻤﺋﺎﻗ ﺮﻳﺮﺤﺘﻟ ﺔﻴﻣﻮﺳﺭ ﺓﺍﺩﺃ
Comment[as]=Xfce 4 মেনু সম্পাদনা কৰাৰ বাবে গ্রাফিক সঁজুলি
Comment[ay]=Herramienta gráfica ukax Xfce 4 menú ukar editar lurañataki
Comment[az]=Xfce 4 menyusunu redaktə etmək üçün qrafik alət
Comment[ba]=Xfce 4 менюһын мөхәррирләүҙең график ҡоралы
Comment[be]=Графічны інструмент для рэдагавання меню Xfce 4
Comment[bg]=Графичен инструмент за редактиране на менюто Xfce 4
Comment[bm]=Jaa baarakɛminɛn min bɛ kɛ ka Xfce 4 menu sɛgɛsɛgɛ
Comment[bn]=Xfce 4 মেনু সম্পাদনা করার জন্য গ্রাফিকাল টুল
Comment[bo]=Xfce 4 菜单 རྩོམ་སྒྲིག་བྱེད་པའི་རི་མོའི་ཡོ་བྱད།
Comment[bs]=Grafički alat za uređivanje Xfce 4 menija
Comment[ca]=Eina gràfica per editar el menú Xfce 4
Comment[co]=Strumentu graficu per edità u menu Xfce 4
Comment[cs]=Grafický nástroj pro úpravu nabídky Xfce 4
Comment[cy]=Offeryn graffigol ar gyfer golygu dewislen Xfce 4
Comment[da]=Grafisk værktøj til redigering af Xfce 4-menuen
Comment[de]=Grafisches Tool zum Bearbeiten des Xfce 4-Menüs
Comment[dv]=ލްޓޫ ލްކަފިރެގް ރާކުންނުބޭ ށްމަރުކު ޓްޑިއެ ނޫމެ 4 އީސީފްއެސްކްއެ
Comment[ee]=Dɔwɔnu si wotsɔ wɔa nɔnɔmetatawo hena asitɔtrɔ le Xfce 4 ƒe nyawo ŋu
Comment[el]=Γραφικό εργαλείο για την επεξεργασία του μενού Xfce 4
Comment[eo]=Grafika ilo por redakti la menuon Xfce 4
Comment[es]=Herramienta gráfica para editar el menú Xfce 4
Comment[et]=Graafiline tööriist Xfce 4 menüü redigeerimiseks
Comment[eu]=Xfce 4 menua editatzeko tresna grafikoa
Comment[fa]=Xfce 4 ﯼﻮﻨﻣ ﺶﯾﺍﺮﯾﻭ ﯼﺍﺮﺑ ﯽﮑﯿﻓﺍﺮﮔ ﺭﺍﺰﺑﺍ
Comment[fi]=Graafinen työkalu Xfce 4 -valikon muokkaamiseen
Comment[fj]=Iyaya ni vakaiyaloyalo ni kena veisautaki na menu Xfce 4
Comment[fo]=Graphical amboð for editing Xfce 4 menu
Comment[fr]=Outil graphique pour éditer le menu Xfce 4
Comment[fy]=Grafysk ark foar it bewurkjen fan it Xfce 4-menu
Comment[ga]=Uirlis ghrafach chun roghchlár Xfce 4 a chur in eagar
Comment[gd]=Inneal grafaigeach airson clàr-taice Xfce 4 a dheasachadh
Comment[gl]=Ferramenta gráfica para editar o menú Xfce 4
Comment[gn]=Tembipuru gráfico oñemboheko hag̃ua Xfce 4 menú
Comment[gu]=Xfce 4 મેનુને સંપાદિત કરવા માટેનું ગ્રાફિકલ સાધન
Comment[ha]=Kayan aikin zane don gyara menu na Xfce 4
Comment[he]=Xfce 4 טירפת תכירעל יפרג ילכ
Comment[hi]=Xfce 4 मेनू को संपादित करने के लिए ग्राफ़िकल टूल
Comment[hr]=Grafički alat za uređivanje izbornika Xfce 4
Comment[ht]=Zouti grafik pou koreksyon meni Xfce 4 la
Comment[hu]=Grafikus eszköz az Xfce 4 menü szerkesztéséhez
Comment[hy]=Xfce 4 մենյուը խմբագրելու գրաֆիկական գործիք
Comment[id]=Alat grafis untuk mengedit menu Xfce 4
Comment[ig]=Ngwa eserese maka edezi menu Xfce 4
Comment[is]=Myndrænt tól til að breyta Xfce 4 valmyndinni
Comment[it]=Strumento grafico per modificare il menu di Xfce 4
Comment[iu]=ᑎᑎᕋᐅᔭᖅᓯᒪᔪᖅ ᐱᓕᕆᔾᔪᑎ ᐋᖅᑭᒃᓱᐃᓂᐊᕐᓗᓂ Xfce 4 menu
Comment[ja]=Xfce 4 メニューを編集するためのグラフィカル ツール
Comment[jv]=Alat grafis kanggo nyunting menu Xfce 4
Comment[ka]=გრაფიკული ინსტრუმენტი Xfce 4 მენიუს რედაქტირებისთვის
Comment[kk]=Xfce 4 мәзірін өңдеуге арналған графикалық құрал
Comment[km]=ឧបករណ៍ក្រាហ្វិកសម្រាប់កែសម្រួលម៉ឺនុយ Xfce 4
Comment[kn]=Xfce 4 ಮೆನುವನ್ನು ಸಂಪಾದಿಸಲು ಚಿತ್ರಾತ್ಮಕ ಸಾಧನ
Comment[ko]="Xfce 4 메뉴 편집을 위한 그래픽 도구"
Comment[ku]=Amûra grafîkî ya ji bo sererastkirina menuya Xfce 4
Comment[ky]=Xfce 4 менюсун түзөтүү үчүн графикалык курал
Comment[la]=Instrumentum graphicum ad Xfce 4 menu emendo
Comment[lb]=Grafescht Tool fir den Xfce 4 Menü z'änneren
Comment[lg]=Ekintu eky'ebifaananyi eky'okulongoosa menu ya Xfce 4
Comment[ln]=Outil graphique pona ko éditer menu Xfce 4
Comment[lo]=ເຄື່ອງມືກາຟິກເພື່ອແກ້ໄຂເມນູ Xfce 4
Comment[lt]=Grafinis įrankis, skirtas redaguoti Xfce 4 meniu
Comment[lv]=Grafisks rīks Xfce 4 izvēlnes rediģēšanai
Comment[mg]=Fitaovana sary ho an'ny fanitsiana ny menu Xfce 4
Comment[mi]=He taputapu whakairoiro hei whakatika i te tahua Xfce 4
Comment[mk]=Графичка алатка за уредување на менито Xfce 4
Comment[ml]=Xfce 4 മെനു എഡിറ്റ് ചെയ്യുന്നതിനുള്ള ഗ്രാഫിക്കൽ ടൂൾ
Comment[mn]=Xfce 4 цэсийг засварлах график хэрэгсэл
Comment[mr]=Xfce 4 मेनू संपादित करण्यासाठी ग्राफिकल साधन
Comment[ms]=Alat grafik untuk mengedit menu Xfce 4
Comment[mt]=Għodda grafika għall-editjar tal-menu Xfce 4
Comment[my]=Xfce 4 မီနူးကိုတည်းဖြတ်ရန် ဂရပ်ဖစ်ကိရိယာ
Comment[ne]=Xfce 4 मेनु सम्पादन गर्नको लागि ग्राफिकल उपकरण
Comment[nl]=Grafisch hulpmiddel voor het bewerken van het Xfce 4-menu
Comment[no]=Grafisk verktøy for redigering av Xfce 4-menyen
Comment[ny]=Chida chojambula chosinthira menyu ya Xfce 4
Comment[om]=Meeshaa giraafikii sajoo Xfce 4 gulaaluuf
Comment[or]=Xfce 4 ମେନୁ ଏଡିଟ୍ କରିବା ପାଇଁ ଆଲେଖୀକ ଉପକରଣ |
Comment[pa]=Xfce 4 ਮੀਨੂ ਨੂੰ ਸੰਪਾਦਿਤ ਕਰਨ ਲਈ ਗ੍ਰਾਫਿਕਲ ਟੂਲ
Comment[pl]=Graficzne narzędzie do edycji menu Xfce 4
Comment[ps]=ﻪﻠﯿﺳﻭ ﻲﮑﯿﻓﺍﺮګ ﻩﺭﺎﭙﻟ ﻢﯿﻣﺮﺗ ﻮﻨﯿﻣ Xfce 4 ﺩ
Comment[pt]=Ferramenta gráfica para editar o menu Xfce 4
Comment[qu]=Xfce 4 menú allichaypaq gráfico yanapakuy
Comment[ro]=Instrument grafic pentru editarea meniului Xfce 4
Comment[ru]=Графический инструмент для редактирования меню Xfce 4
Comment[rw]=Igishushanyo mbonera cyo guhindura menu ya Xfce 4
Comment[sa]=Xfce 4 मेन्यू सम्पादनार्थं ग्राफिकल टूल्
Comment[sd]=Xfce 4 ﺭﺍﺯﻭﺍ ڪﻓﺍﺮﮔ ءﻻ﻿ ﮠﺮڪ ﻞﻳﺪﺒﺗ ﻲﮐ ﻮﻴﻨﻴﻣ
Comment[si]=Xfce 4 මෙනුව සංස්කරණය කිරීම සඳහා චිත්u200dරක මෙවලම
Comment[sk]=Grafický nástroj na úpravu menu Xfce 4
Comment[sl]=Grafično orodje za urejanje menija Xfce 4
Comment[sm]=Meafaigaluega faʻataʻitaʻi mo le faʻasaʻoina o le lisi Xfce 4
Comment[sn]=Graphical chishandiso chekugadzirisa iyo Xfce 4 menyu
Comment[so]=Qalabka garaafyada ee loogu talagalay tafatirka menu Xfce 4
Comment[sq]=Mjet grafik për redaktimin e menysë Xfce 4
Comment[st]=Sesebelisoa sa litšoantšo sa ho hlophisa menu ea Xfce 4
Comment[su]=Alat grafis pikeun ngédit ménu Xfce 4
Comment[sv]=Grafiskt verktyg för att redigera Xfce 4-menyn
Comment[sw]=Chombo cha picha cha kuhariri menyu ya Xfce 4
Comment[ta]=Xfce 4 மெனுவைத் திருத்துவதற்கான வரைகலைக் கருவி
Comment[te]=Xfce 4 మెనుని సవరించడానికి గ్రాఫికల్ సాధనం
Comment[tg]=Воситаи графикӣ барои таҳрири менюи Xfce 4
Comment[th]=เครื่องมือกราฟิกสำหรับแก้ไขเมนู Xfce 4
Comment[ti]=ንXfce 4 menu ንምእራም ዝሕግዝ ግራፊካዊ መሳርሒ
Comment[tk]=Xfce 4 menýusyny redaktirlemek üçin grafiki gural
Comment[tl]=Graphical na tool para sa pag-edit ng Xfce 4 menu
Comment[to]=Meʻangaue graphic ki hono fakatonutonu ʻo e Xfce 4 menu
Comment[tr]=Xfce 4 menüsünü düzenlemek için grafiksel araç
Comment[ts]=Xitirhisiwa xa xifaniso xo hlela menyu ya Xfce 4
Comment[tt]=Xfce 4 менюсын редакцияләү өчен график корал
Comment[tw]=Graphical adwinnade a wɔde sesa Xfce 4 menu no
Comment[ty]=Mauhaa no te nenei i te Xfce 4 menu
Comment[ug]=Xfce 4 ﻝﺍﺭﻮﻗ ﻖﯩﻠﻜﯩﻓﺍﺮﮔ ﻥﺎﻐﯨﺪﻳەﻟﺮﯨﺮﮬەﺗ ﻰﻨﯩﻜﯩﻠﻤﯨﺰﯩﺗ
Comment[uk]=Графічний інструмент для редагування меню Xfce 4
Comment[ur]=Xfce 4 ﻝﻮﭨ ﻞﮑﯿﻓﺍﺮﮔ ﮯﯿﻟ ﮯﮐ ﮯﻧﺮﮐ ﻢﯿﻣﺮﺗ ﮟﯿﻣ ﻮﻨﯿﻣ
Comment[uz]=Xfce 4 menyusini tahrirlash uchun grafik vosita
Comment[vi]=Công cụ đồ họa để chỉnh sửa menu Xfce 4
Comment[xh]=Isixhobo somzobo sokuhlela imenyu ye-Xfce 4
Comment[yi]=וינעמ Xfce 4 יד גניטידע ראַפֿ גיַיצעג לאַקיפאַרג
Comment[yo]=Ọpa ayaworan fun ṣiṣatunṣe akojọ aṣayan Xfce 4
Comment[zh]=用于编辑 Xfce 4 菜单的图形工具
Comment[zu]=Ithuluzi lesithombe lokuhlela imenyu ye-Xfce 4
Comment=Graphical tool for editing the Xfce 4 menu
Exec=xfce4-menueditor
Icon=xfce4-menueditor
Terminal=false
Type=Application
Icon=xfce4-panel
Categories=DesktopSettings
GenericName=Menu Editor
