[Desktop Entry]
Version=1.0
Type=Application
Name[af]=GIMP-beeldredigeerder
Name[am]=GIMP ምስል አርታዒ
Name[ar]=GIMP ﺭﻮﺻ ﺭﺮﺤﻣ
Name[as]=GIMP ছবি সম্পাদক
Name[ay]=GIMP ukan uñacht’äwipa
Name[az]=GIMP şəkil redaktoru
Name[ba]=GIMP һүрәт мөхәррире
Name[be]=Рэдактар малюнкаў GIMP
Name[bg]=GIMP редактор на изображения
Name[bm]=GIMP ja labɛnbaga
Name[bn]=জিম্প ইমেজ এডিটর
Name[bo]=GIMPཔར་རིས་རྩོམ་སྒྲིག་པ།
Name[bs]=GIMP editor slika
Name[ca]=Editor d'imatges GIMP
Name[co]=Editor d'imaghjini GIMP
Name[cs]=GIMP editor obrázků
Name[cy]=Golygydd delwedd GIMP
Name[da]=GIMP billedredigeringsprogram
Name[de]=GIMP-Bildeditor
Name[dv]=ވެރެޓަޑިއެ ޖްމޭއި ޕްމްޖި
Name[ee]=GIMP nɔnɔmetatawo ɖɔlila
Name[el]=Επεξεργαστής εικόνας GIMP
Name[en]=GIMP image editor
Name[eo]=GIMP-bildredaktilo
Name[es]=Editor de imágenes GIMP
Name[et]=GIMP pildiredaktor
Name[eu]=GIMP irudi editorea
Name[fa]=GIMP ﺮﯾﻮﺼﺗ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=GIMP kuvankäsittelyohjelma
Name[fj]=Edita ni iyaloyalo ni GIMP
Name[fo]=GIMP image editor
Name[fr]=Éditeur d'images GIMP
Name[fy]=GIMP-ôfbyldingsbewurker
Name[ga]=Eagarthóir íomhá GIMP saor in aisce,
Name[gd]=Dealbh neach-deasachaidh GIMP saor an asgaidh
Name[gl]=Editor de imaxes GIMP
Name[gn]=GIMP taꞌãngamýi mohendaha
Name[gu]=GIMP ઇમેજ એડિટર
Name[ha]=GIMP editan hoto
Name[he]=GIMP תונומת ךרוע
Name[hi]=GIMP छवि संपादक
Name[hr]=GIMP uređivač slika
Name[ht]=editè imaj GIMP
Name[hu]=GIMP képszerkesztő
Name[hy]=GIMP պատկերի խմբագիր
Name[id]=Editor gambar GIMP
Name[ig]=Onye nchịkọta akụkọ ihe oyiyi GIMP
Name[is]=GIMP mynd ritstjóri
Name[it]=Editor di immagini GIMP
Name[iu]=GIMP−ᒧᑦ ᐊᔾᔨᙳᐊᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=GIMP画像エディター
Name[jv]=GIMP editor gambar
Name[ka]=GIMP გამოსახულების რედაქტორი
Name[kk]=GIMP кескін өңдегіші
Name[km]=កម្មវិធីកែរូបភាព GIMP
Name[kn]=GIMP ಇಮೇಜ್ ಎಡಿಟರ್
Name[ko]="김프 이미지 편집기"
Name[ku]=Edîtorê wêneyê GIMP
Name[ky]=GIMP сүрөт редактору
Name[la]=GIMP image editor
Name[lb]=GIMP Bild Editor
Name[lg]=GIMP omulongoosa ebifaananyi
Name[ln]=Mobongisi ya bilili ya GIMP
Name[lo]=ບັນນາທິການຮູບພາບ GIMP
Name[lt]=GIMP vaizdo redaktorius
Name[lv]=GIMP attēlu redaktors
Name[mg]=GIMP mpamoaka sary
Name[mi]=Kaiwhakatika whakaahua GIMP
Name[mk]=GIMP уредувач на слики
Name[ml]=GIMP ഇമേജ് എഡിറ്റർ
Name[mn]=GIMP зураг засварлагч
Name[mr]=GIMP प्रतिमा संपादक
Name[ms]=Editor imej GIMP
Name[mt]=Editur tal-immaġni GIMP
Name[my]=GIMP ရုပ်ပုံတည်းဖြတ်သူ
Name[ne]=GIMP छवि सम्पादक
Name[nl]=GIMP-afbeeldingseditor
Name[no]=GIMP bilderedigerer
Name[ny]=Chithunzi chojambula cha GIMP
Name[om]=Gulaalaa fakkii GIMP
Name[or]=GIMP ପ୍ରତିଛବି ସମ୍ପାଦକ |
Name[pa]=ਜੈਮਪ ਚਿੱਤਰ ਸੰਪਾਦਕ
Name[pl]=Edytor obrazów GIMP
Name[ps]=ﺮټﯾډﯾﺍ ﺲﮑﻋ GIMP ﺩ
Name[pt]=Editor de imagens do GIMP
Name[qu]=GIMP siq'i allichaq
Name[ro]=Editor de imagini GIMP
Name[ru]=Редактор изображений GIMP
Name[rw]=GIMP umwanditsi mukuru
Name[sa]=GIMP चित्र सम्पादक
Name[sd]=GIMP ﺮٽﻳڊﻳﺍ ﻱﺮﻳﻮﺼﺗ
Name[si]=GIMP රූප සංස්කාරකය
Name[sk]=Editor obrázkov GIMP
Name[sl]=Urejevalnik slik GIMP
Name[sm]=GIMP fa'atonu ata
Name[sn]=GIMP mufananidzo mupepeti
Name[so]=Tifaftiraha sawirka GIMP
Name[sq]=Redaktori i imazhit GIMP
Name[st]=Mohlophisi oa litšoantšo oa GIMP
Name[su]=Editor gambar GIMP
Name[sv]=GIMP-bildredigerare
Name[sw]=Mhariri wa picha wa GIMP
Name[ta]=GIMP பட எடிட்டர்
Name[te]=GIMP ఇమేజ్ ఎడిటర్
Name[tg]=Муҳаррири тасвири GIMP
Name[th]=โปรแกรมแก้ไขรูปภาพ GIMP
Name[ti]=GIMP ምስሊ ኣርታዒ
Name[tk]=GIMP surat redaktory
Name[tl]=Editor ng imahe ng GIMP
Name[to]=ʻEtita GIMP Image
Name[tr]=GIMP resim düzenleyici
Name[ts]=Muhleri wa swifaniso wa GIMP
Name[tt]=GIMP рәсем редакторы
Name[tw]=GIMP mfonini a wɔde hyɛ mu
Name[ty]=TAATA papa'i hoho'a GIMP
Name[ug]=GIMP ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻢﯩﺳەﺭ
Name[uk]=Редактор зображень GIMP
Name[ur]=GIMP ﺮﭩﯾﮉﯾﺍ ﺞﯿﻣﺍ
Name[uz]=GIMP tasvir muharriri
Name[vi]=Trình chỉnh sửa ảnh GIMP
Name[xh]=Umhleli womfanekiso we-GIMP
Name[yi]=GIMP ראָטקאַדער דליב
Name[yo]=Olootu aworan GIMP
Name[zh]=GIMP 图像编辑器
Name[zu]=Umhleli wesithombe se-GIMP
Name=GIMP image editor
GenericName=GIMP
Comment[af]=GIMP-beeldredigeerder
Comment[am]=GIMP ምስል አርታዒ
Comment[ar]=GIMP ﺭﻮﺻ ﺭﺮﺤﻣ
Comment[as]=GIMP ছবি সম্পাদক
Comment[ay]=GIMP ukan uñacht’äwipa
Comment[az]=GIMP şəkil redaktoru
Comment[ba]=GIMP һүрәт мөхәррире
Comment[be]=Рэдактар малюнкаў GIMP
Comment[bg]=GIMP редактор на изображения
Comment[bm]=GIMP ja labɛnbaga
Comment[bn]=জিম্প ইমেজ এডিটর
Comment[bo]=GIMPཔར་རིས་རྩོམ་སྒྲིག་པ།
Comment[bs]=GIMP editor slika
Comment[ca]=Editor d'imatges GIMP
Comment[co]=Editor d'imaghjini GIMP
Comment[cs]=GIMP editor obrázků
Comment[cy]=Golygydd delwedd GIMP
Comment[da]=GIMP billedredigeringsprogram
Comment[de]=GIMP-Bildeditor
Comment[dv]=ވެރެޓަޑިއެ ޖްމޭއި ޕްމްޖި
Comment[ee]=GIMP nɔnɔmetatawo ɖɔlila
Comment[el]=Επεξεργαστής εικόνας GIMP
Comment[en]=GIMP image editor
Comment[eo]=GIMP-bildredaktilo
Comment[es]=Editor de imágenes GIMP
Comment[et]=GIMP pildiredaktor
Comment[eu]=GIMP irudi editorea
Comment[fa]=GIMP ﺮﯾﻮﺼﺗ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=GIMP kuvankäsittelyohjelma
Comment[fj]=Edita ni iyaloyalo ni GIMP
Comment[fo]=GIMP image editor
Comment[fr]=Éditeur d'images GIMP
Comment[fy]=GIMP-ôfbyldingsbewurker
Comment[ga]=Eagarthóir íomhá GIMP saor in aisce,
Comment[gd]=Dealbh neach-deasachaidh GIMP saor an asgaidh
Comment[gl]=Editor de imaxes GIMP
Comment[gn]=GIMP taꞌãngamýi mohendaha
Comment[gu]=GIMP ઇમેજ એડિટર
Comment[ha]=GIMP editan hoto
Comment[he]=GIMP תונומת ךרוע
Comment[hi]=GIMP छवि संपादक
Comment[hr]=GIMP uređivač slika
Comment[ht]=editè imaj GIMP
Comment[hu]=GIMP képszerkesztő
Comment[hy]=GIMP պատկերի խմբագիր
Comment[id]=Editor gambar GIMP
Comment[ig]=Onye nchịkọta akụkọ ihe oyiyi GIMP
Comment[is]=GIMP mynd ritstjóri
Comment[it]=Editor di immagini GIMP
Comment[iu]=GIMP−ᒧᑦ ᐊᔾᔨᙳᐊᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Comment[ja]=GIMP画像エディター
Comment[jv]=GIMP editor gambar
Comment[ka]=GIMP გამოსახულების რედაქტორი
Comment[kk]=GIMP кескін өңдегіші
Comment[km]=កម្មវិធីកែរូបភាព GIMP
Comment[kn]=GIMP ಇಮೇಜ್ ಎಡಿಟರ್
Comment[ko]="김프 이미지 편집기"
Comment[ku]=Edîtorê wêneyê GIMP
Comment[ky]=GIMP сүрөт редактору
Comment[la]=GIMP image editor
Comment[lb]=GIMP Bild Editor
Comment[lg]=GIMP omulongoosa ebifaananyi
Comment[ln]=Mobongisi ya bilili ya GIMP
Comment[lo]=ບັນນາທິການຮູບພາບ GIMP
Comment[lt]=GIMP vaizdo redaktorius
Comment[lv]=GIMP attēlu redaktors
Comment[mg]=GIMP mpamoaka sary
Comment[mi]=Kaiwhakatika whakaahua GIMP
Comment[mk]=GIMP уредувач на слики
Comment[ml]=GIMP ഇമേജ് എഡിറ്റർ
Comment[mn]=GIMP зураг засварлагч
Comment[mr]=GIMP प्रतिमा संपादक
Comment[ms]=Editor imej GIMP
Comment[mt]=Editur tal-immaġni GIMP
Comment[my]=GIMP ရုပ်ပုံတည်းဖြတ်သူ
Comment[ne]=GIMP छवि सम्पादक
Comment[nl]=GIMP-afbeeldingseditor
Comment[no]=GIMP bilderedigerer
Comment[ny]=Chithunzi chojambula cha GIMP
Comment[om]=Gulaalaa fakkii GIMP
Comment[or]=GIMP ପ୍ରତିଛବି ସମ୍ପାଦକ |
Comment[pa]=ਜੈਮਪ ਚਿੱਤਰ ਸੰਪਾਦਕ
Comment[pl]=Edytor obrazów GIMP
Comment[ps]=ﺮټﯾډﯾﺍ ﺲﮑﻋ GIMP ﺩ
Comment[pt]=Editor de imagens do GIMP
Comment[qu]=GIMP siq'i allichaq
Comment[ro]=Editor de imagini GIMP
Comment[ru]=Редактор изображений GIMP
Comment[rw]=GIMP umwanditsi mukuru
Comment[sa]=GIMP चित्र सम्पादक
Comment[sd]=GIMP ﺮٽﻳڊﻳﺍ ﻱﺮﻳﻮﺼﺗ
Comment[si]=GIMP රූප සංස්කාරකය
Comment[sk]=Editor obrázkov GIMP
Comment[sl]=Urejevalnik slik GIMP
Comment[sm]=GIMP fa'atonu ata
Comment[sn]=GIMP mufananidzo mupepeti
Comment[so]=Tifaftiraha sawirka GIMP
Comment[sq]=Redaktori i imazhit GIMP
Comment[st]=Mohlophisi oa litšoantšo oa GIMP
Comment[su]=Editor gambar GIMP
Comment[sv]=GIMP-bildredigerare
Comment[sw]=Mhariri wa picha wa GIMP
Comment[ta]=GIMP பட எடிட்டர்
Comment[te]=GIMP ఇమేజ్ ఎడిటర్
Comment[tg]=Муҳаррири тасвири GIMP
Comment[th]=โปรแกรมแก้ไขรูปภาพ GIMP
Comment[ti]=GIMP ምስሊ ኣርታዒ
Comment[tk]=GIMP surat redaktory
Comment[tl]=Editor ng imahe ng GIMP
Comment[to]=ʻEtita GIMP Image
Comment[tr]=GIMP resim düzenleyici
Comment[ts]=Muhleri wa swifaniso wa GIMP
Comment[tt]=GIMP рәсем редакторы
Comment[tw]=GIMP mfonini a wɔde hyɛ mu
Comment[ty]=TAATA papa'i hoho'a GIMP
Comment[ug]=GIMP ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﻢﯩﺳەﺭ
Comment[uk]=Редактор зображень GIMP
Comment[ur]=GIMP ﺮﭩﯾﮉﯾﺍ ﺞﯿﻣﺍ
Comment[uz]=GIMP tasvir muharriri
Comment[vi]=Trình chỉnh sửa ảnh GIMP
Comment[xh]=Umhleli womfanekiso we-GIMP
Comment[yi]=GIMP ראָטקאַדער דליב
Comment[yo]=Olootu aworan GIMP
Comment[zh]=GIMP 图像编辑器
Comment[zu]=Umhleli wesithombe se-GIMP
Comment=GIMP image editor
Exec=gimp
Icon=gimp.png
Terminal=false
Categories=X-Graphic-paint
StartupNotify=true
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-pat;image/x-gimp-gih;image/tiff;image/jpeg;image/x-psp;image/png;image/x-icon;image/x-xpixmap;image/svg+xml;application/pdf;image/jp2;image/jpeg2000;image/jpx;image/x-xcursor;
