[Desktop Entry]
Encoding=UTF-8
Name=uGet download manager
Comment=uGet download manager
Exec=uget-gtk
Icon=uget-gtk.png
Terminal=false
Type=Application
Categories=X-Internet-transfer
