[Desktop Entry]
Encoding=UTF-8
Name[af]=CDW CD skrywer
Name[am]=CDW ሲዲ ጸሐፊ
Name[ar]=CDW ﺐﺗﺎﻛ
Name[as]=চিডিডব্লিউ চিডি ৰাইটাৰ
Name[ay]=CDW CD ukax mä qillqiri
Name[az]=CDW CD yazıcısı
Name[ba]=CDW CD яҙыусыһы
Name[be]=Праграма для запісу кампакт-дыскаў CDW
Name[bg]=CDW CD записващо устройство
Name[bm]=CDW CDW sɛbɛnnikɛla
Name[bn]=সিডিডব্লিউ সিডি রাইটার
Name[bo]=CDW CDརྩོམ་པ་པོ།
Name[bs]=CDW CD pisač
Name[ca]=Gravadora de CD CDW
Name[co]=CDW scrittore di CD
Name[cs]=CDW vypalovačka CD
Name[cy]=Awdur CD CDW
Name[da]=CDW CD brænder
Name[de]=CDW-CD-Brenner
Name[dv]=ވެރެޓައިރަ ޑީސީ އުލިބްޑަޑީސީ
Name[ee]=CDW CD ŋlɔla
Name[el]=CDW CD εγγραφής
Name[en]=CDW CD writer
Name[eo]=CDW KD-verkisto
Name[es]=Grabadora de CD CDW
Name[et]=CDW CD kirjutaja
Name[eu]=CDW CD idazlea
Name[fa]=CDW ﺲﯾﻮﻧ ﯼﺩ ﯽﺳ
Name[fi]=CDW CD-kirjoitin
Name[fj]=Dauvolaivola CDW
Name[fo]=CDW CD rithøvundur
Name[fr]=Graveur de CD CDW
Name[fy]=CDW CD skriuwer
Name[ga]=Scríbhneoir CDW CD
Name[gd]=Sgrìobhadair CDW CD
Name[gl]=Grabadora de CD CDW
Name[gn]=CDW CD haihára
Name[gu]=CDW સીડી લેખક
Name[ha]=CDW CD marubuci
Name[he]=CDW םירוטילקת בתוכ
Name[hi]=सीडीडब्ल्यू सीडी लेखक
Name[hr]=CDW pisač CD-a
Name[ht]=CDW ekriven CD
Name[hu]=CDW CD író
Name[hy]=CDW CD գրող
Name[id]=CDW penulis CD
Name[ig]=CDW CD onye edemede
Name[is]=CDW geisladiskaritari
Name[it]=Autore di CD CDW
Name[iu]=CDW CDW CD ᑎᑎᕋᖅᑎ
Name[ja]=CDW CDライター
Name[jv]=CDW panulis
Name[ka]=CDW CD დამწერი
Name[kk]=CDW CD жазушысы
Name[km]=អ្នកនិពន្ធ CDW
Name[kn]=CDW CD ರೈಟರ್
Name[ko]=CDW CD 라이터
Name[ku]=Nivîskarê CDW CD
Name[ky]=CDW CD жазуучу
Name[la]=CDW CD scriptor
Name[lb]=CDW CD Schrëftsteller
Name[lg]=Omuwandiisi wa CDW CDW
Name[ln]=Mokomi ya CDW
Name[lo]=CDW CD writer
Name[lt]=CDW CD rašiklis
Name[lv]=CDW CD rakstītājs
Name[mg]=Mpanoratra CDW CD
Name[mi]=CDW kaituhi CD
Name[mk]=CDW CD писател
Name[ml]=CDW CD റൈറ്റർ
Name[mn]=CDW CD бичигч
Name[mr]=CDW सीडी लेखक
Name[ms]=Penulis CD CDW
Name[mt]=CDW CD kittieb
Name[my]=CDW CD စာရေးဆရာ
Name[ne]=CDW सीडी लेखक
Name[nl]=CDW-cd-brander
Name[no]=CDW CD-brenner
Name[ny]=Wolemba CDW CD
Name[om]=Barreessaa CDW CDW
Name[or]=CDW CD ଲେଖକ |
Name[pa]=ਸੀਡੀਡਬਲਯੂ ਸੀਡੀ ਲੇਖਕ
Name[pl]=Nagrywarka CDW
Name[ps]=ﻝﺍﻮﮑﯿﻟ CDW CD ﺩ
Name[pt]=Gravador de CD CDW
Name[qu]=CDW CD nisqa qillqaq
Name[ro]=CDW CD writer
Name[ru]=CDW устройство для записи компакт-дисков
Name[rw]=CDW umwanditsi
Name[sa]=सीडीडब्ल्यू सीडी लेखक
Name[sd]=ڪﮑﻴﻟ ﻱڊ ﻲﺳ ﻮﻴﻠﺑڊ ﻱڊ ﻲﺳ
Name[si]=CDW CD ලේඛකයා
Name[sk]=CDW zapisovačka CD
Name[sl]=CDW zapisovalnik CD-jev
Name[sm]=CDW tusitala CD
Name[sn]=CDW munyori weCD
Name[so]=CDW CD qoraa
Name[sq]=Shkrimtar CDW CD
Name[st]=Sengoli sa CDW CD
Name[su]=CDW panulis CD
Name[sv]=CDW CD-brännare
Name[sw]=Mwandishi wa CDW
Name[ta]=CDW CD எழுத்தாளர்
Name[te]=CDW CD రచయిత
Name[tg]=Муаллифи CDW CD
Name[th]=CDW เครื่องเขียนซีดี
Name[ti]=ሲዲደብሊዩ ሲዲ ጸሓፊ
Name[tk]=CDW CD ýazyjysy
Name[tl]=CDW CD writer
Name[to]=Tokotaha faʻu tohi CDW CD
Name[tr]=CDW CD yazıcısı
Name[ts]=Mutsari wa CDW wa CD
Name[tt]=CDW CD язучысы
Name[tw]=CDW CD kyerɛwfo
Name[ty]=CDW CD
Name[ug]=CDW CD ﻰﭼﯘﻏﺯﺎﻳ
Name[uk]=CDW записувач компакт-дисків
Name[ur]=ﺮﭩﺋﺍﺭ ﯼﮈ ﯽﺳ ﻮﯿﻠﺑﮈ ﯼﮈ ﯽﺳ
Name[uz]=CDW CD yozuvchisi
Name[vi]=Trình ghi CD CDW
Name[xh]=Umbhali weCDW weCD
Name[yi]=CDW CD רעביַירש
Name[yo]=CDW CD onkqwe
Name[zh]=CDW CD 刻录机
Name[zu]=Umbhali weCDW CD
Name=CDW CD writer
Icon=mini-cd.xpm
Comment[af]=CDW CD skrywer
Comment[am]=CDW ሲዲ ጸሐፊ
Comment[ar]=CDW ﺐﺗﺎﻛ
Comment[as]=চিডিডব্লিউ চিডি ৰাইটাৰ
Comment[ay]=CDW CD ukax mä qillqiri
Comment[az]=CDW CD yazıcısı
Comment[ba]=CDW CD яҙыусыһы
Comment[be]=Праграма для запісу кампакт-дыскаў CDW
Comment[bg]=CDW CD записващо устройство
Comment[bm]=CDW CDW sɛbɛnnikɛla
Comment[bn]=সিডিডব্লিউ সিডি রাইটার
Comment[bo]=CDW CDརྩོམ་པ་པོ།
Comment[bs]=CDW CD pisač
Comment[ca]=Gravadora de CD CDW
Comment[co]=CDW scrittore di CD
Comment[cs]=CDW vypalovačka CD
Comment[cy]=Awdur CD CDW
Comment[da]=CDW CD brænder
Comment[de]=CDW-CD-Brenner
Comment[dv]=ވެރެޓައިރަ ޑީސީ އުލިބްޑަޑީސީ
Comment[ee]=CDW CD ŋlɔla
Comment[el]=CDW CD εγγραφής
Comment[en]=CDW CD writer
Comment[eo]=CDW KD-verkisto
Comment[es]=Grabadora de CD CDW
Comment[et]=CDW CD kirjutaja
Comment[eu]=CDW CD idazlea
Comment[fa]=CDW ﺲﯾﻮﻧ ﯼﺩ ﯽﺳ
Comment[fi]=CDW CD-kirjoitin
Comment[fj]=Dauvolaivola CDW
Comment[fo]=CDW CD rithøvundur
Comment[fr]=Graveur de CD CDW
Comment[fy]=CDW CD skriuwer
Comment[ga]=Scríbhneoir CDW CD
Comment[gd]=Sgrìobhadair CDW CD
Comment[gl]=Grabadora de CD CDW
Comment[gn]=CDW CD haihára
Comment[gu]=CDW સીડી લેખક
Comment[ha]=CDW CD marubuci
Comment[he]=CDW םירוטילקת בתוכ
Comment[hi]=सीडीडब्ल्यू सीडी लेखक
Comment[hr]=CDW pisač CD-a
Comment[ht]=CDW ekriven CD
Comment[hu]=CDW CD író
Comment[hy]=CDW CD գրող
Comment[id]=CDW penulis CD
Comment[ig]=CDW CD onye edemede
Comment[is]=CDW geisladiskaritari
Comment[it]=Autore di CD CDW
Comment[iu]=CDW CDW CD ᑎᑎᕋᖅᑎ
Comment[ja]=CDW CDライター
Comment[jv]=CDW panulis
Comment[ka]=CDW CD დამწერი
Comment[kk]=CDW CD жазушысы
Comment[km]=អ្នកនិពន្ធ CDW
Comment[kn]=CDW CD ರೈಟರ್
Comment[ko]=CDW CD 라이터
Comment[ku]=Nivîskarê CDW CD
Comment[ky]=CDW CD жазуучу
Comment[la]=CDW CD scriptor
Comment[lb]=CDW CD Schrëftsteller
Comment[lg]=Omuwandiisi wa CDW CDW
Comment[ln]=Mokomi ya CDW
Comment[lo]=CDW CD writer
Comment[lt]=CDW CD rašiklis
Comment[lv]=CDW CD rakstītājs
Comment[mg]=Mpanoratra CDW CD
Comment[mi]=CDW kaituhi CD
Comment[mk]=CDW CD писател
Comment[ml]=CDW CD റൈറ്റർ
Comment[mn]=CDW CD бичигч
Comment[mr]=CDW सीडी लेखक
Comment[ms]=Penulis CD CDW
Comment[mt]=CDW CD kittieb
Comment[my]=CDW CD စာရေးဆရာ
Comment[ne]=CDW सीडी लेखक
Comment[nl]=CDW-cd-brander
Comment[no]=CDW CD-brenner
Comment[ny]=Wolemba CDW CD
Comment[om]=Barreessaa CDW CDW
Comment[or]=CDW CD ଲେଖକ |
Comment[pa]=ਸੀਡੀਡਬਲਯੂ ਸੀਡੀ ਲੇਖਕ
Comment[pl]=Nagrywarka CDW
Comment[ps]=ﻝﺍﻮﮑﯿﻟ CDW CD ﺩ
Comment[pt]=Gravador de CD CDW
Comment[qu]=CDW CD nisqa qillqaq
Comment[ro]=CDW CD writer
Comment[ru]=CDW устройство для записи компакт-дисков
Comment[rw]=CDW umwanditsi
Comment[sa]=सीडीडब्ल्यू सीडी लेखक
Comment[sd]=ڪﮑﻴﻟ ﻱڊ ﻲﺳ ﻮﻴﻠﺑڊ ﻱڊ ﻲﺳ
Comment[si]=CDW CD ලේඛකයා
Comment[sk]=CDW zapisovačka CD
Comment[sl]=CDW zapisovalnik CD-jev
Comment[sm]=CDW tusitala CD
Comment[sn]=CDW munyori weCD
Comment[so]=CDW CD qoraa
Comment[sq]=Shkrimtar CDW CD
Comment[st]=Sengoli sa CDW CD
Comment[su]=CDW panulis CD
Comment[sv]=CDW CD-brännare
Comment[sw]=Mwandishi wa CDW
Comment[ta]=CDW CD எழுத்தாளர்
Comment[te]=CDW CD రచయిత
Comment[tg]=Муаллифи CDW CD
Comment[th]=CDW เครื่องเขียนซีดี
Comment[ti]=ሲዲደብሊዩ ሲዲ ጸሓፊ
Comment[tk]=CDW CD ýazyjysy
Comment[tl]=CDW CD writer
Comment[to]=Tokotaha faʻu tohi CDW CD
Comment[tr]=CDW CD yazıcısı
Comment[ts]=Mutsari wa CDW wa CD
Comment[tt]=CDW CD язучысы
Comment[tw]=CDW CD kyerɛwfo
Comment[ty]=CDW CD
Comment[ug]=CDW CD ﻰﭼﯘﻏﺯﺎﻳ
Comment[uk]=CDW записувач компакт-дисків
Comment[ur]=ﺮﭩﺋﺍﺭ ﯼﮈ ﯽﺳ ﻮﯿﻠﺑﮈ ﯼﮈ ﯽﺳ
Comment[uz]=CDW CD yozuvchisi
Comment[vi]=Trình ghi CD CDW
Comment[xh]=Umbhali weCDW weCD
Comment[yi]=CDW CD רעביַירש
Comment[yo]=CDW CD onkqwe
Comment[zh]=CDW CD 刻录机
Comment[zu]=Umbhali weCDW CD
Comment=CDW CD writer
Exec=cdw -g
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=CD Burner
Hidden=false
