[Desktop Entry]
Encoding=UTF-8
Name[af]=GParted partisie bestuurder
Name[am]=GPparted ክፍልፍል አስተዳዳሪ
Name[ar]=GParted ﻢﺴﻗ ﺮﻳﺪﻣ
Name[as]=GParted বিভাজন ব্যৱস্থাপক
Name[ay]=GParted ukax mä partición ukan apnaqatawa
Name[az]=GParted bölmə meneceri
Name[ba]=GParted бүлеү буйынса менеджер
Name[be]=Менеджэр раздзелаў GParted
Name[bg]=GParted мениджър на дялове
Name[bm]=GParted tila-tilacogo ɲɛnabɔbaga
Name[bn]=GParted পার্টিশন ম্যানেজার
Name[bo]=བགོ་བཤའ་བརྒྱབ་པའི་ཆ་ཤས་ཀྱི་སྤྱི་གཉེར་བ།
Name[bs]=GParted upravitelj particija
Name[ca]=Gestor de particions GParted
Name[co]=Manager di partizioni GParted
Name[cs]=Správce oddílů GParted
Name[cy]=Rheolwr rhaniad GParted
Name[da]=GParted partitionsmanager
Name[de]=GParted-Partitionsmanager
Name[dv]=ރޖަނޭމެ ންޝަޓީރޕާ ޑްޓެރޕާޖީ
Name[ee]=GParted mama ƒe dɔdzikpɔla
Name[el]=Διαχείριση κατατμήσεων GParted
Name[en]=GParted partition manager
Name[eo]=GParted-diskoadministranto
Name[es]=Administrador de particiones GParted
Name[et]=GParteeritud partitsioonihaldur
Name[eu]=GParted partizioen kudeatzailea
Name[fa]=GParted ﻦﺸﯿﺗﺭﺎﭘ ﺮﯾﺪﻣ
Name[fi]=GParted Partition Manager
Name[fj]=Manidia ni veiwasewase ni GParted
Name[fo]=GParted partition manager
Name[fr]=Gestionnaire de partition GParted
Name[fy]=GParted partition manager
Name[ga]=Bainisteoir críochdheighilte gparted
Name[gd]=Manaidsear sgaradh gparted
Name[gl]=Xestor de particións GParted
Name[gn]=GParted partición mohendaha
Name[gu]=GParted પાર્ટીશન મેનેજર
Name[ha]=Manajan bangare na GPparted
Name[he]=GParted תוציחמ להנמ
Name[hi]=GParted विभाजन प्रबंधक
Name[hr]=GParted upravitelj particija
Name[ht]=Manadjè patisyon GParted
Name[hu]=GParted partíciókezelő
Name[hy]=GParted բաժանման կառավարիչ
Name[id]=Manajer partisi GParted
Name[ig]=Onye njikwa nkebi GParted
Name[is]=GParted skiptingarstjóri
Name[it]=Gestore partizioni GParted
Name[iu]=ᐃᓚᐅᓂᕐᒧᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=GParted パーティション マネージャー
Name[jv]=Manajer partisi GParted
Name[ka]=GParted დანაყოფის მენეჯერი
Name[kk]=GParted бөлім менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងភាគថាស GParted
Name[kn]=GParted ವಿಭಜನಾ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=GParted 파티션 관리자
Name[ku]=Rêvebirê dabeşkirina GParted
Name[ky]=GParted бөлүм менеджери
Name[la]=GParted partitio procurator
Name[lb]=GParted Partition Manager
Name[lg]=GParted omuddukanya okugabanya
Name[ln]=GParted mokambi ya bokaboli
Name[lo]=GParted ຜູ້ຈັດການພາທິຊັນ
Name[lt]=GParted skaidinio tvarkyklė
Name[lv]=GParted partition manager
Name[mg]=Mpitantana partition GParted
Name[mi]=Kaiwhakahaere wehewehe GParted
Name[mk]=GParted менаџер на партиции
Name[ml]=GParted പാർട്ടീഷൻ മാനേജർ
Name[mn]=GParted хуваалтын менежер
Name[mr]=GParted विभाजन व्यवस्थापक
Name[ms]=Pengurus partition GParted
Name[mt]=Maniġer tal-partizzjoni GParted
Name[my]=GParted partition မန်နေဂျာ
Name[ne]=GParted विभाजन प्रबन्धक
Name[nl]=GParted partitiemanager
Name[no]=GPartert partisjonsbehandler
Name[ny]=Woyang'anira magawo a GParted
Name[om]=Geggeessaa qoqqoodinsa GParted
Name[or]=GParted ବିଭାଜନ ପରିଚାଳକ |
Name[pa]=GParted ਭਾਗ ਮੈਨੇਜਰ
Name[pl]=Menedżer partycji GParted
Name[ps]=ﺮﯾﺪﻣ ﯥﺧﺮﺑ GParted ﺩ
Name[pt]=Gerenciador de partições GParted
Name[qu]=GParted rakina kamachiq
Name[ro]=Manager de partiții GParted
Name[ru]=Менеджер разделов GParted
Name[rw]=Umuyobozi w'amacakubiri
Name[sa]=GParted विभाजनप्रबन्धकः
Name[sd]=GParted ﺮﺠﻴﻨﻴﻣ ﻲﮜﺎﻫﺭﻭ
Name[si]=GParted කොටස් කළමනාකරු
Name[sk]=GParted správca oddielov
Name[sl]=Upravljalnik particij GParted
Name[sm]=Pule vaeluaga GParted
Name[sn]=GParted partition maneja
Name[so]=Maamulaha qaybta GParted
Name[sq]=Menaxheri i ndarjes GParted
Name[st]=Motsamaisi oa karohano oa GPart
Name[su]=Pangatur partisi GParted
Name[sv]=GPartad partitionshanterare
Name[sw]=Meneja wa kizigeu cha GPart
Name[ta]=GParted பகிர்வு மேலாளர்
Name[te]=GParted విభజన మేనేజర్
Name[tg]=Менеҷери қисмҳои GParted
Name[th]=ตัวจัดการพาร์ติชัน GParted
Name[ti]=GParted ናይ ምክፍፋል ኣካያዲ
Name[tk]=GParted bölüm dolandyryjysy
Name[tl]=GParted partition manager
Name[to]=Pule ʻoku ne veuveuki ʻa e GParted
Name[tr]=GParted bölüm yöneticisi
Name[ts]=Mufambisi wa xiphemu xa GParted
Name[tt]=GParted бүлек менеджеры
Name[tw]=GParted mpaapaemu sohwɛfo
Name[ty]=Faatere no te mau hoho'a
Name[ug]=GParted ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻥﻮﻳﺍﺭ
Name[uk]=Менеджер розділів GParted
Name[ur]=GParted ﺮﺠﯿﻨﯿﻣ ﻦﺸﯿﭨﺭﺎﭘ
Name[uz]=GParted bo'lim menejeri
Name[vi]=Trình quản lý phân vùng GParted
Name[xh]=Umphathi wecandelo le-GPart
Name[yi]=רעטלאַווראַפ גנולייטעצ דעטראַפּג
Name[yo]=GParted ipin faili
Name[zh]=GParted 分区管理器
Name[zu]=Umphathi wokuhlukanisa we-GPart
Name=GParted partition manager
Icon=gparted.png
Comment[af]=GParted partisie bestuurder
Comment[am]=GPparted ክፍልፍል አስተዳዳሪ
Comment[ar]=GParted ﻢﺴﻗ ﺮﻳﺪﻣ
Comment[as]=GParted বিভাজন ব্যৱস্থাপক
Comment[ay]=GParted ukax mä partición ukan apnaqatawa
Comment[az]=GParted bölmə meneceri
Comment[ba]=GParted бүлеү буйынса менеджер
Comment[be]=Менеджэр раздзелаў GParted
Comment[bg]=GParted мениджър на дялове
Comment[bm]=GParted tila-tilacogo ɲɛnabɔbaga
Comment[bn]=GParted পার্টিশন ম্যানেজার
Comment[bo]=བགོ་བཤའ་བརྒྱབ་པའི་ཆ་ཤས་ཀྱི་སྤྱི་གཉེར་བ།
Comment[bs]=GParted upravitelj particija
Comment[ca]=Gestor de particions GParted
Comment[co]=Manager di partizioni GParted
Comment[cs]=Správce oddílů GParted
Comment[cy]=Rheolwr rhaniad GParted
Comment[da]=GParted partitionsmanager
Comment[de]=GParted-Partitionsmanager
Comment[dv]=ރޖަނޭމެ ންޝަޓީރޕާ ޑްޓެރޕާޖީ
Comment[ee]=GParted mama ƒe dɔdzikpɔla
Comment[el]=Διαχείριση κατατμήσεων GParted
Comment[en]=GParted partition manager
Comment[eo]=GParted-diskoadministranto
Comment[es]=Administrador de particiones GParted
Comment[et]=GParteeritud partitsioonihaldur
Comment[eu]=GParted partizioen kudeatzailea
Comment[fa]=GParted ﻦﺸﯿﺗﺭﺎﭘ ﺮﯾﺪﻣ
Comment[fi]=GParted Partition Manager
Comment[fj]=Manidia ni veiwasewase ni GParted
Comment[fo]=GParted partition manager
Comment[fr]=Gestionnaire de partition GParted
Comment[fy]=GParted partition manager
Comment[ga]=Bainisteoir críochdheighilte gparted
Comment[gd]=Manaidsear sgaradh gparted
Comment[gl]=Xestor de particións GParted
Comment[gn]=GParted partición mohendaha
Comment[gu]=GParted પાર્ટીશન મેનેજર
Comment[ha]=Manajan bangare na GPparted
Comment[he]=GParted תוציחמ להנמ
Comment[hi]=GParted विभाजन प्रबंधक
Comment[hr]=GParted upravitelj particija
Comment[ht]=Manadjè patisyon GParted
Comment[hu]=GParted partíciókezelő
Comment[hy]=GParted բաժանման կառավարիչ
Comment[id]=Manajer partisi GParted
Comment[ig]=Onye njikwa nkebi GParted
Comment[is]=GParted skiptingarstjóri
Comment[it]=Gestore partizioni GParted
Comment[iu]=ᐃᓚᐅᓂᕐᒧᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=GParted パーティション マネージャー
Comment[jv]=Manajer partisi GParted
Comment[ka]=GParted დანაყოფის მენეჯერი
Comment[kk]=GParted бөлім менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងភាគថាស GParted
Comment[kn]=GParted ವಿಭಜನಾ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=GParted 파티션 관리자
Comment[ku]=Rêvebirê dabeşkirina GParted
Comment[ky]=GParted бөлүм менеджери
Comment[la]=GParted partitio procurator
Comment[lb]=GParted Partition Manager
Comment[lg]=GParted omuddukanya okugabanya
Comment[ln]=GParted mokambi ya bokaboli
Comment[lo]=GParted ຜູ້ຈັດການພາທິຊັນ
Comment[lt]=GParted skaidinio tvarkyklė
Comment[lv]=GParted partition manager
Comment[mg]=Mpitantana partition GParted
Comment[mi]=Kaiwhakahaere wehewehe GParted
Comment[mk]=GParted менаџер на партиции
Comment[ml]=GParted പാർട്ടീഷൻ മാനേജർ
Comment[mn]=GParted хуваалтын менежер
Comment[mr]=GParted विभाजन व्यवस्थापक
Comment[ms]=Pengurus partition GParted
Comment[mt]=Maniġer tal-partizzjoni GParted
Comment[my]=GParted partition မန်နေဂျာ
Comment[ne]=GParted विभाजन प्रबन्धक
Comment[nl]=GParted partitiemanager
Comment[no]=GPartert partisjonsbehandler
Comment[ny]=Woyang'anira magawo a GParted
Comment[om]=Geggeessaa qoqqoodinsa GParted
Comment[or]=GParted ବିଭାଜନ ପରିଚାଳକ |
Comment[pa]=GParted ਭਾਗ ਮੈਨੇਜਰ
Comment[pl]=Menedżer partycji GParted
Comment[ps]=ﺮﯾﺪﻣ ﯥﺧﺮﺑ GParted ﺩ
Comment[pt]=Gerenciador de partições GParted
Comment[qu]=GParted rakina kamachiq
Comment[ro]=Manager de partiții GParted
Comment[ru]=Менеджер разделов GParted
Comment[rw]=Umuyobozi w'amacakubiri
Comment[sa]=GParted विभाजनप्रबन्धकः
Comment[sd]=GParted ﺮﺠﻴﻨﻴﻣ ﻲﮜﺎﻫﺭﻭ
Comment[si]=GParted කොටස් කළමනාකරු
Comment[sk]=GParted správca oddielov
Comment[sl]=Upravljalnik particij GParted
Comment[sm]=Pule vaeluaga GParted
Comment[sn]=GParted partition maneja
Comment[so]=Maamulaha qaybta GParted
Comment[sq]=Menaxheri i ndarjes GParted
Comment[st]=Motsamaisi oa karohano oa GPart
Comment[su]=Pangatur partisi GParted
Comment[sv]=GPartad partitionshanterare
Comment[sw]=Meneja wa kizigeu cha GPart
Comment[ta]=GParted பகிர்வு மேலாளர்
Comment[te]=GParted విభజన మేనేజర్
Comment[tg]=Менеҷери қисмҳои GParted
Comment[th]=ตัวจัดการพาร์ติชัน GParted
Comment[ti]=GParted ናይ ምክፍፋል ኣካያዲ
Comment[tk]=GParted bölüm dolandyryjysy
Comment[tl]=GParted partition manager
Comment[to]=Pule ʻoku ne veuveuki ʻa e GParted
Comment[tr]=GParted bölüm yöneticisi
Comment[ts]=Mufambisi wa xiphemu xa GParted
Comment[tt]=GParted бүлек менеджеры
Comment[tw]=GParted mpaapaemu sohwɛfo
Comment[ty]=Faatere no te mau hoho'a
Comment[ug]=GParted ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻥﻮﻳﺍﺭ
Comment[uk]=Менеджер розділів GParted
Comment[ur]=GParted ﺮﺠﯿﻨﯿﻣ ﻦﺸﯿﭨﺭﺎﭘ
Comment[uz]=GParted bo'lim menejeri
Comment[vi]=Trình quản lý phân vùng GParted
Comment[xh]=Umphathi wecandelo le-GPart
Comment[yi]=רעטלאַווראַפ גנולייטעצ דעטראַפּג
Comment[yo]=GParted ipin faili
Comment[zh]=GParted 分区管理器
Comment[zu]=Umphathi wokuhlukanisa we-GPart
Comment=GParted partition manager
Exec=gparted_shell
Terminal=false
Type=Application
Categories=X-FilesystemUtility
GenericName=GParted
