<?xml version="1.0"?>
<osmo_config>
  <general>
    <date_format>2</date_format>
    <time_format>0</time_format>
    <enable_systray>1</enable_systray>
    <start_minimised_in_systray>1</start_minimised_in_systray>
    <blink_on_events>1</blink_on_events>
    <override_locale_settings>1</override_locale_settings>
    <web_browser>defaultbrowser %s</web_browser>
    <email_client>defaultemail %s</email_client>
    <sound_player>aplay %s</sound_player>
  </general>
  <calendar>
    <di_show_current_day_distance>0</di_show_current_day_distance>
    <di_show_week_number>0</di_show_week_number>
    <di_show_weekend_days>0</di_show_weekend_days>
    <di_show_moon_phase>0</di_show_moon_phase>
  </calendar>
</osmo_config>
