[Desktop Entry]
Encoding=UTF-8
Name[af]=Xsoldier ruimte oorlog
Name[am]=ወታደር የጠፈር ጦርነት
Name[ar]=Xsoldier ءﺎﻀﻔﻟﺍ ﺏﺮﺣ
Name[as]=Xsoldier মহাকাশ যুদ্ধ
Name[ay]=Xsoldado espacial ch’axwäwi
Name[az]=Xsoldier kosmik müharibə
Name[ba]=Хсольдье космос һуғышы
Name[be]=Xsoldier касмічная вайна
Name[bg]=Xsoldier космическа война
Name[bm]=Xsoldier sanfɛla kɛlɛ
Name[bn]=এক্সসোল্ডার মহাকাশ যুদ্ধ
Name[bo]=ཞི་ཨར་ཏི་ཡི་འཇིག་རྟེན་འཕུར་སྐྱོད་དམག་འཁྲུག
Name[bs]=Xsoldier svemirski rat
Name[ca]=Guerra espacial Xsoldat
Name[co]=Xsoldat guerra spaziale
Name[cs]=Xsoldier vesmírná válka
Name[cy]=Rhyfel gofod Xsoldier
Name[da]=Xsoldier rumkrig
Name[de]=Xsoldier-Weltraumkrieg
Name[dv]=ރވާ ސްޕޭސް ރޖަލްސޮސްކްއެ
Name[ee]=Xasrafo yamenutomeʋa
Name[el]=Xsoldier διαστημικός πόλεμος
Name[eo]=Xsoldato spaca milito
Name[es]=guerra espacial Xsoldier
Name[et]=Xsoldieri kosmosesõda
Name[eu]=Xsoldadu espazio gerra
Name[fa]=Xsoldier ﯽﯾﺎﻀﻓ ﮓﻨﺟ
Name[fi]=Xsoldier avaruussota
Name[fj]=Xsoldier ni vanua ni ivalu
Name[fo]=Xsoldier space war
Name[fr]=Guerre spatiale Xsoldier
Name[fy]=Xsoldier romte oarloch
Name[ga]=Cogadh spás xsoldier
Name[gd]=Cogadh fànais xsoldier
Name[gl]=Xsoldado guerra espacial
Name[gn]=Xsoldado ñorairõ espacial rehegua
Name[gu]=એક્સ સોલ્જર સ્પેસ વોર
Name[ha]=Yakin sararin samaniya
Name[he]=Xsoldier ללחה תמחלמ
Name[hi]=एक्ससोल्जर अंतरिक्ष युद्ध
Name[hr]=Xsoldier svemirski rat
Name[ht]=Xsolder espas lagè
Name[hu]=Xsoldier űrháború
Name[hy]=Xsoldier տիեզերական պատերազմ
Name[id]=*Soldier space war
Name[ig]=Xagha oghere agha
Name[is]=Xsoldier geimstríð
Name[it]=Xsoldato guerra spaziale
Name[iu]=X ᓯᕐᓗᐊᖅ ᐅᓇᑕᖅᑐᖅ
Name[ja]=エクスソルジャー宇宙戦争
Name[jv]=Perang angkasa Xsoldier
Name[ka]=Xsoldier კოსმოსური ომი
Name[kk]=Xsoldier ғарыш соғысы
Name[km]=សង្គ្រាមអវកាស Xsoldier
Name[kn]=Xsoldier ಬಾಹ್ಯಾಕಾಶ ಯುದ್ಧ
Name[ko]=Xsoldier 우주 전쟁
Name[ku]=Şerê fezayê Xsoldier
Name[ky]=Xsoldier космос согушу
Name[la]=Xsoldier spatium bellum
Name[lb]=Xsoldier Weltraum Krich
Name[lg]=Xsoldier olutalo lw'omu bwengula
Name[ln]=Xsoda bitumba ya espace
Name[lo]=ສົງຄາມອະວະກາດ Xsoldier
Name[lt]=Xsoldier kosminis karas
Name[lv]=X karavīru kosmosa karš
Name[mg]=Xsoldier space war
Name[mi]=Xsoldier space war
Name[mk]=Xsoldier вселенска војна
Name[ml]=Xsoldier ബഹിരാകാശ യുദ്ധം
Name[mn]=Xsoldier сансрын дайн
Name[mr]=एक्ससोल्जर स्पेस वॉर
Name[ms]=Perang angkasa Xaskar
Name[mt]=Xsuldat gwerra spazjali
Name[my]=Xsoldier အာကာသစစ်ပွဲ
Name[ne]=Xsoldier अन्तरिक्ष युद्ध
Name[nl]=Xsoldier ruimteoorlog
Name[no]=Xsoldier romkrig
Name[ny]=Nkhondo ya m'mlengalenga ya Xsoldier
Name[om]=Xloltuu waraana hawaa
Name[or]=Xsoldier ସ୍ପେସ୍ ଯୁଦ୍ଧ |
Name[pa]=ਐਕਸਸੋਲਡਰ ਸਪੇਸ ਯੁੱਧ
Name[pl]=Wojna kosmiczna X żołnierza
Name[ps]=Xsoldier ﻩړګﺟ ﺎﻀﻓ
Name[pt]=Guerra espacial Xsoldier
Name[qu]=Xsoldado espacio guerra
Name[ro]=Xsoldat război spațial
Name[ru]=Солдат космической войны
Name[rw]=Intambara yo mu kirere Xsoldier
Name[sa]=Xsoldier अन्तरिक्ष युद्ध
Name[sd]=Xsoldier ﮓﻨﺟ ﻲﺋﻼ﻿ﺧ
Name[si]=Xsoldier අභ්u200dයවකාශ යුද්ධය
Name[sk]=Xsoldier vesmírna vojna
Name[sl]=Xsoldier vesoljska vojna
Name[sm]=Xsoldier space taua
Name[sn]=Xsoldier space war
Name[so]=Xaska dagaalka cirka
Name[sq]=Lufta hapësinore Xsoldier
Name[st]=Ntoa ea sebaka sa Xsoldier
Name[su]=Perang angkasa Xsoldier
Name[sv]=Xsoldier rymdkrig
Name[sw]=Vita vya nafasi ya Xsoldier
Name[ta]=Xsoldier விண்வெளிப் போர்
Name[te]=Xsoldier అంతరిక్ష యుద్ధం
Name[tg]=Ҷанги кайҳонии Xsoldier
Name[th]=Xsoldier สงครามอวกาศ
Name[ti]=Xsoldier ኲናት ህዋ
Name[tk]=Ksoldier kosmos söweşi
Name[tl]=Xsoldier space war
Name[to]=Xsoldier tau vavaa
Name[tr]=xsoldier uzay savaşı
Name[ts]=Xsocha nyimpi ya le xibakabakeni
Name[tt]=Ксольдиер космик сугыш
Name[tw]=Xsoldier ahunmu akodi
Name[ty]=Te tama'i i roto i te reva teitei
Name[ug]=Xsoldier ﻰﺷﯗﺭﯘﺋ ﻡەﻟﺎﺋ
Name[uk]=Космічна війна Xsoldier
Name[ur]=ﮓﻨﺟ ﯽﺋﻼ﻿ﺧ ﺮﺠﻟﻮﺳ ﺲﮑﯾﺍ
Name[uz]=Xsoldier kosmik urushi
Name[vi]=Chiến tranh không gian Xsoldier
Name[xh]=Xsoldier isithuba imfazwe
Name[yi]=Xsoldier המחלמ ץאַלפּ
Name[yo]=Xologun aaye ogun
Name[zh]=X士兵太空战争
Name[zu]=Impi yasemkhathini yeXsoldier
Name=Xsoldier space war
Icon=xsoldier.xpm
Comment[af]=Xsoldier ruimte oorlog
Comment[am]=ወታደር የጠፈር ጦርነት
Comment[ar]=Xsoldier ءﺎﻀﻔﻟﺍ ﺏﺮﺣ
Comment[as]=Xsoldier মহাকাশ যুদ্ধ
Comment[ay]=Xsoldado espacial ch’axwäwi
Comment[az]=Xsoldier kosmik müharibə
Comment[ba]=Хсольдье космос һуғышы
Comment[be]=Xsoldier касмічная вайна
Comment[bg]=Xsoldier космическа война
Comment[bm]=Xsoldier sanfɛla kɛlɛ
Comment[bn]=এক্সসোল্ডার মহাকাশ যুদ্ধ
Comment[bo]=ཞི་ཨར་ཏི་ཡི་འཇིག་རྟེན་འཕུར་སྐྱོད་དམག་འཁྲུག
Comment[bs]=Xsoldier svemirski rat
Comment[ca]=Guerra espacial Xsoldat
Comment[co]=Xsoldat guerra spaziale
Comment[cs]=Xsoldier vesmírná válka
Comment[cy]=Rhyfel gofod Xsoldier
Comment[da]=Xsoldier rumkrig
Comment[de]=Xsoldier-Weltraumkrieg
Comment[dv]=ރވާ ސްޕޭސް ރޖަލްސޮސްކްއެ
Comment[ee]=Xasrafo yamenutomeʋa
Comment[el]=Xsoldier διαστημικός πόλεμος
Comment[eo]=Xsoldato spaca milito
Comment[es]=guerra espacial Xsoldier
Comment[et]=Xsoldieri kosmosesõda
Comment[eu]=Xsoldadu espazio gerra
Comment[fa]=Xsoldier ﯽﯾﺎﻀﻓ ﮓﻨﺟ
Comment[fi]=Xsoldier avaruussota
Comment[fj]=Xsoldier ni vanua ni ivalu
Comment[fo]=Xsoldier space war
Comment[fr]=Guerre spatiale Xsoldier
Comment[fy]=Xsoldier romte oarloch
Comment[ga]=Cogadh spás xsoldier
Comment[gd]=Cogadh fànais xsoldier
Comment[gl]=Xsoldado guerra espacial
Comment[gn]=Xsoldado ñorairõ espacial rehegua
Comment[gu]=એક્સ સોલ્જર સ્પેસ વોર
Comment[ha]=Yakin sararin samaniya
Comment[he]=Xsoldier ללחה תמחלמ
Comment[hi]=एक्ससोल्जर अंतरिक्ष युद्ध
Comment[hr]=Xsoldier svemirski rat
Comment[ht]=Xsolder espas lagè
Comment[hu]=Xsoldier űrháború
Comment[hy]=Xsoldier տիեզերական պատերազմ
Comment[id]=*Soldier space war
Comment[ig]=Xagha oghere agha
Comment[is]=Xsoldier geimstríð
Comment[it]=Xsoldato guerra spaziale
Comment[iu]=X ᓯᕐᓗᐊᖅ ᐅᓇᑕᖅᑐᖅ
Comment[ja]=エクスソルジャー宇宙戦争
Comment[jv]=Perang angkasa Xsoldier
Comment[ka]=Xsoldier კოსმოსური ომი
Comment[kk]=Xsoldier ғарыш соғысы
Comment[km]=សង្គ្រាមអវកាស Xsoldier
Comment[kn]=Xsoldier ಬಾಹ್ಯಾಕಾಶ ಯುದ್ಧ
Comment[ko]=Xsoldier 우주 전쟁
Comment[ku]=Şerê fezayê Xsoldier
Comment[ky]=Xsoldier космос согушу
Comment[la]=Xsoldier spatium bellum
Comment[lb]=Xsoldier Weltraum Krich
Comment[lg]=Xsoldier olutalo lw'omu bwengula
Comment[ln]=Xsoda bitumba ya espace
Comment[lo]=ສົງຄາມອະວະກາດ Xsoldier
Comment[lt]=Xsoldier kosminis karas
Comment[lv]=X karavīru kosmosa karš
Comment[mg]=Xsoldier space war
Comment[mi]=Xsoldier space war
Comment[mk]=Xsoldier вселенска војна
Comment[ml]=Xsoldier ബഹിരാകാശ യുദ്ധം
Comment[mn]=Xsoldier сансрын дайн
Comment[mr]=एक्ससोल्जर स्पेस वॉर
Comment[ms]=Perang angkasa Xaskar
Comment[mt]=Xsuldat gwerra spazjali
Comment[my]=Xsoldier အာကာသစစ်ပွဲ
Comment[ne]=Xsoldier अन्तरिक्ष युद्ध
Comment[nl]=Xsoldier ruimteoorlog
Comment[no]=Xsoldier romkrig
Comment[ny]=Nkhondo ya m'mlengalenga ya Xsoldier
Comment[om]=Xloltuu waraana hawaa
Comment[or]=Xsoldier ସ୍ପେସ୍ ଯୁଦ୍ଧ |
Comment[pa]=ਐਕਸਸੋਲਡਰ ਸਪੇਸ ਯੁੱਧ
Comment[pl]=Wojna kosmiczna X żołnierza
Comment[ps]=Xsoldier ﻩړګﺟ ﺎﻀﻓ
Comment[pt]=Guerra espacial Xsoldier
Comment[qu]=Xsoldado espacio guerra
Comment[ro]=Xsoldat război spațial
Comment[ru]=Солдат космической войны
Comment[rw]=Intambara yo mu kirere Xsoldier
Comment[sa]=Xsoldier अन्तरिक्ष युद्ध
Comment[sd]=Xsoldier ﮓﻨﺟ ﻲﺋﻼ﻿ﺧ
Comment[si]=Xsoldier අභ්u200dයවකාශ යුද්ධය
Comment[sk]=Xsoldier vesmírna vojna
Comment[sl]=Xsoldier vesoljska vojna
Comment[sm]=Xsolier space taua
Comment[sn]=Xsoldier space war
Comment[so]=Xaska dagaalka cirka
Comment[sq]=Lufta hapësinore Xsoldier
Comment[st]=Ntoa ea sebaka sa Xsoldier
Comment[su]=Perang angkasa Xsoldier
Comment[sv]=Xsoldier rymdkrig
Comment[sw]=Vita vya nafasi ya Xsoldier
Comment[ta]=Xsoldier விண்வெளிப் போர்
Comment[te]=Xsoldier అంతరిక్ష యుద్ధం
Comment[tg]=Ҷанги кайҳонии Xsoldier
Comment[th]=Xsoldier สงครามอวกาศ
Comment[ti]=Xsoldier ኲናት ህዋ
Comment[tk]=Ksoldier kosmos söweşi
Comment[tl]=Xsoldier space war
Comment[to]=Xsoldier tau vavaa
Comment[tr]=xsoldier uzay savaşı
Comment[ts]=Xsocha nyimpi ya le xibakabakeni
Comment[tt]=Ксольдиер космик сугыш
Comment[tw]=Xsoldier ahunmu akodi
Comment[ty]=Te tama'i i roto i te reva teitei
Comment[ug]=Xsoldier ﻰﺷﯗﺭﯘﺋ ﻡەﻟﺎﺋ
Comment[uk]=Космічна війна Xsoldier
Comment[ur]=ﮓﻨﺟ ﯽﺋﻼ﻿ﺧ ﺮﺠﻟﻮﺳ ﺲﮑﯾﺍ
Comment[uz]=Xsoldier kosmik urushi
Comment[vi]=Chiến tranh không gian Xsoldier
Comment[xh]=Xsoldier isithuba imfazwe
Comment[yi]=Xsoldier המחלמ ץאַלפּ
Comment[yo]=Xologun aaye ogun
Comment[zh]=X士兵太空战争
Comment[zu]=Impi yasemkhathini yeXsoldier
Comment=Xsoldier space war
Exec=xsoldier
Terminal=false
Type=Application
Categories=X-Fun-arcade
GenericName=Xsoldier
