[Desktop Entry]
Encoding=UTF-8
Name=Xsoldier space war
Icon=xsoldier.xpm
Comment=Xsoldier space war
Exec=xsoldier
Terminal=false
Type=Application
Categories=X-Fun-arcade
GenericName=Xsoldier
