[Desktop Entry]
Name[af]=Transmissie BitTorrent kliënt
Name[am]=የማስተላለፍ BitTorrent ደንበኛ
Name[ar]=BitTorrent ﻞﻘﻧ ﻞﻴﻤﻋ
Name[as]=ট্ৰেন্সমিছন বিটটৰেণ্ট ক্লায়েণ্ট
Name[ay]=Transmisión BitTorrent ukax mä cliente ukhamawa
Name[az]=Transmissiya BitTorrent müştəri
Name[ba]=BitTorrent трансмиссия клиенты
Name[be]=Кліент перадачы BitTorrent
Name[bg]=Предаване BitTorrent клиент
Name[bm]=Transmission BitTorrent ka kiliyan
Name[bn]=ট্রান্সমিশন বিটটরেন্ট ক্লায়েন্ট
Name[bo]=བརྒྱུད་སྐྱེལ་BitTorrent མངགས་བཅོལ་བྱེད་མཁན།
Name[bs]=Prijenos BitTorrent klijent
Name[ca]=Client BitTorrent de transmissió
Name[co]=Cliente di trasmissione BitTorrent
Name[cs]=Přenosový BitTorrent klient
Name[cy]=Cleient BitTorrent Trosglwyddo
Name[da]=Transmission BitTorrent-klient
Name[de]=Übertragung BitTorrent-Client
Name[dv]=ވެޓެންއިލަކް ޓްންރެޓޮޓްބި ންޝަމިސްންރާޓް
Name[ee]=Gbeƒãɖeɖe BitTorrent asitsalawo
Name[el]=Πελάτης μετάδοσης BitTorrent
Name[eo]=Transdono BitTorento-kliento
Name[es]=Cliente BitTorrent de transmisión
Name[et]=Edastamise BitTorrent klient
Name[eu]=Transmisioa BitTorrent bezeroa
Name[fa]=BitTorrent ﯼﺮﺘﺸﻣ ﻝﺎﻘﺘﻧﺍ
Name[fi]=Lähetys BitTorrent-asiakas
Name[fj]=BitTorrent ni transmission
Name[fo]=Transmission BitTorrent client
Name[fr]=Transmission client BitTorrent
Name[fy]=Oerdracht BitTorrent client
Name[ga]=Tarchur cliant BitTorrent
Name[gd]=Transmission BitTorrent neach-dèiligidh
Name[gl]=Cliente BitTorrent de transmisión
Name[gn]=Ñembohasaha cliente BitTorrent rehegua
Name[gu]=ટ્રાન્સમિશન BitTorrent ક્લાયંટ
Name[ha]=Abokin ciniki na BitTorrent
Name[he]=BitTorrent חוקל רודיש
Name[hi]=ट्रांसमिशन बिटटोरेंट क्लाइंट
Name[hr]=Prijenos BitTorrent klijenta
Name[ht]=Transmisyon BitTorrent kliyan
Name[hu]=Átviteli BitTorrent kliens
Name[hy]=Փոխանցման BitTorrent հաճախորդ
Name[id]=Transmisikan klien BitTorrent
Name[ig]=Nbufe BitTorrent ahịa
Name[is]=Sending BitTorrent viðskiptavinur
Name[it]=Client di trasmissione BitTorrent
Name[iu]=ᐊᐃᑦᑐᐃᓂᖅ ᐱᑐᕋᓐᑦ
Name[ja]=送信 BitTorrent クライアント
Name[jv]=Transmisi klien BitTorrent
Name[ka]=გადაცემა BitTorrent კლიენტი
Name[kk]=Тасымалдау BitTorrent клиенті
Name[km]=ការបញ្ជូនអតិថិជន BitTorrent
Name[kn]=ಪ್ರಸರಣ ಬಿಟ್ಟೊರೆಂಟ್ ಕ್ಲೈಂಟ್
Name[ko]=전송 BitTorrent 클라이언트
Name[ku]=Muwekîlê Veguhastina BitTorrent
Name[ky]=Берүү BitTorrent кардары
Name[la]=Transmissio torrent clientis
Name[lb]=Iwwerdroung BitTorrent Client
Name[lg]=Okutambuza BitTorrent kasitoma
Name[ln]=Transmission Client ya BitTorrent
Name[lo]=ການສົ່ງຕໍ່ລູກຄ້າ BitTorrent
Name[lt]=Perdavimo BitTorrent klientas
Name[lv]=Pārraides BitTorrent klients
Name[mg]=Transmission BitTorrent mpanjifa
Name[mi]=Tukunga BitTorrent kiritaki
Name[mk]=Клиент за пренос на BitTorrent
Name[ml]=ട്രാൻസ്മിഷൻ ബിറ്റ്ടോറന്റ് ക്ലയന്റ്
Name[mn]=Дамжуулах BitTorrent клиент
Name[mr]=ट्रान्समिशन बिटटोरेंट क्लायंट
Name[ms]=Pelanggan BitTorrent penghantaran
Name[mt]=Trażmissjoni klijent BitTorrent
Name[my]=Transmission BitTorrent client
Name[ne]=प्रसारण BitTorrent ग्राहक
Name[nl]=Transmissie BitTorrent-client
Name[no]=Overføring BitTorrent-klient
Name[ny]=Kutumiza kwa BitTorrent kasitomala
Name[om]=Maamila BitTorrent dabarsuu
Name[or]=ଟ୍ରାନ୍ସମିସନ୍ BitTorrent କ୍ଲାଏଣ୍ଟ |
Name[pa]=ਟ੍ਰਾਂਸਮਿਸ਼ਨ ਬਿੱਟਟੋਰੈਂਟ ਕਲਾਇੰਟ
Name[pl]=Transmisyjny klient BitTorrent
Name[ps]=ﺩږﯿﻟ ﻲﮑﻧﻭﺩﻭﺮﯿﭘ BitTorrent ﺩ
Name[pt]=Cliente BitTorrent de transmissão
Name[qu]=Kachay BitTorrent cliente
Name[ro]=Transmitere client BitTorrent
Name[ru]=Передача BitTorrent клиента
Name[rw]=Kohereza BitTorrent umukiriya
Name[sa]=संचरण BitTorrent क्लायन्ट
Name[sd]=ٽﻨﺋﻼ﻿ڪ BitTorrent ﻦﺸﻴﻤﺴﻧﺍﺮٽ
Name[si]=සම්ප්u200dරේෂණ BitTorrent සේවාදායකයා
Name[sk]=Prenosový BitTorrent klient
Name[sl]=Prenos BitTorrent odjemalec
Name[sm]=Tuuina atu le tagata fa'atau BitTorrent
Name[sn]=Kuendesa BitTorrent mutengi
Name[so]=Gudbinta BitTorrent macmiilka
Name[sq]=Klienti i transmetimit BitTorrent
Name[st]=Phetiso ea bareki ba BitTorrent
Name[su]=Pangiriman klien BitTorrent
Name[sv]=Överföring BitTorrent-klient
Name[sw]=Usambazaji mteja wa BitTorrent
Name[ta]=டிரான்ஸ்மிஷன் BitTorrent கிளையன்ட்
Name[te]=ట్రాన్స్మిషన్ BitTorrent క్లయింట్
Name[tg]=Мизоҷи интиқоли BitTorrent
Name[th]=ส่งไคลเอนต์ BitTorrent
Name[ti]=ምትሕልላፍ ቢትቶረንት ዓሚል
Name[tk]=Geçiriş BitTorrent müşderisi
Name[tl]=Pagpapadala ng BitTorrent client
Name[to]=Feʻaveʻaki BitTorrent client
Name[tr]=İletim BitTorrent istemcisi
Name[ts]=Ku hundziseriwa ka xitirhisiwa xa BitTorrent
Name[tt]=BitTorrent клиенты тапшыру
Name[tw]=Nkrasɛm BitTorrent afɛfoɔ
Name[ty]=Transmission BitTorrent client
Name[ug]=ﻯﺭﺍﺪﯨﺮﯧﺧ BitTorrent ﺵﻼ﻿ﻟﻮﻳ
Name[uk]=Клієнт передачі BitTorrent
Name[ur]=ﭧﻨﺋﻼ﻿ﮐ ﭧﻧﺭﻮﭨ ﭧﺑ ﻦﺸﯿﻤﺴﻧﺍﺮﭨ
Name[uz]=BitTorrent mijozini uzatish
Name[vi]=Truyền khách hàng BitTorrent
Name[xh]=Ugqithiso lweBitTorrent client
Name[yi]=טנעילק טנערראָטטיב עיסימסנאַרט
Name[yo]=Onibara BitTorrent gbigbe
Name[zh]=传输 BitTorrent 客户端
Name[zu]=Transmission BitTorrent iklayenti
Name=Transmission BitTorrent client
GenericName=Transmission
Comment[af]=Laai en deel lêers oor BitTorrent
Comment[am]=በ BitTorrent ፋይሎችን ያውርዱ እና ያጋሩ
Comment[ar]=BitTorrent ﺮﺒﻋ ﺕﺎﻔﻠﻤﻟﺍ ﺔﻛﺭﺎﺸﻣﻭ ﻞﻳﺰﻨﺘﺑ ﻢﻗ
Comment[as]=BitTorrent ৰ জৰিয়তে ফাইলসমূহ ডাউনলোড আৰু শ্বেয়াৰ কৰক
Comment[ay]=BitTorrent tuqiw archivonakax apkatasi ukat uñt’ayasi
Comment[az]=BitTorrent vasitəsilə faylları yükləyin və paylaşın
Comment[ba]=Файлдарҙы BitTorrent аша йөкләү һәм уртаҡлашыу
Comment[be]=Загружайце і дзяліцеся файламі праз BitTorrent
Comment[bg]=Изтегляйте и споделяйте файлове през BitTorrent
Comment[bm]=Filenw telesarse ani k’u tila BitTorrent kan
Comment[bn]=BitTorrent এর মাধ্যমে ফাইল ডাউনলোড এবং শেয়ার করুন
Comment[bo]=BitTorrentལས་བརྒལ་ནས་ཡིག་ཆ་ཕབ་ལེན་དང་མཉམ་སྤྱོད་བྱ་དགོས།
Comment[bs]=Preuzmite i dijelite datoteke putem BitTorrent-a
Comment[ca]=Baixeu i compartiu fitxers a BitTorrent
Comment[co]=Scaricate è sparte i fugliali nantu à BitTorrent
Comment[cs]=Stahujte a sdílejte soubory přes BitTorrent
Comment[cy]=Dadlwythwch a rhannwch ffeiliau dros BitTorrent
Comment[da]=Download og del filer over BitTorrent
Comment[de]=Laden Sie Dateien über BitTorrent herunter und teilen Sie sie
Comment[dv]=ންރުކުސާއްހި ށްކޮޑްލޯންއުޑަ އްތަލްއިފަ ށްކޮރިވެދުމެ ޓްންރެޓޮޓްބި
Comment[ee]=Wɔ faɛlwo ƒe kɔpi eye nàma wo to BitTorrent dzi
Comment[el]=Λήψη και κοινή χρήση αρχείων μέσω BitTorrent
Comment[eo]=Elŝutu kaj dividu dosierojn per BitTorento
Comment[es]=Descarga y comparte archivos a través de BitTorrent
Comment[et]=Laadige alla ja jagage faile BitTorrenti kaudu
Comment[eu]=Deskargatu eta partekatu fitxategiak BitTorrent bidez
Comment[fa]=ﺪﯾﺭﺍﺬﮕﺑ ﮎﺍﺮﺘﺷﺍ ﻪﺑ ﻭ ﺩﻮﻠﻧﺍﺩ ﺖﻧﺭﻮﺗ ﺖﯿﺑ ﻖﯾﺮﻃ ﺯﺍ ﺍﺭ ﺎﻫ ﻞﯾﺎﻓ
Comment[fi]=Lataa ja jaa tiedostoja BitTorrentin kautta
Comment[fj]=Lavetaka ka wasea na faile ena BitTorrent
Comment[fo]=Download og deila files over BitTorrent
Comment[fr]=Téléchargez et partagez des fichiers via BitTorrent
Comment[fy]=Download en diel bestannen oer BitTorrent
Comment[ga]=Íoslódáil agus roinn comhaid thar BitTorrent
Comment[gd]=Luchdaich sìos agus roinn faidhlichean thairis air BitTorrent
Comment[gl]=Descarga e comparte ficheiros a través de BitTorrent
Comment[gn]=Emboguejy ha ekomparti archivo BitTorrent rupive
Comment[gu]=BitTorrent પર ફાઇલો ડાઉનલોડ કરો અને શેર કરો
Comment[ha]=Zazzage kuma raba fayiloli akan BitTorrent
Comment[he]=BitTorrent ךרד םיצבק ףתשו דרוה
Comment[hi]=बिटटोरेंट पर फ़ाइलें डाउनलोड करें और साझा करें
Comment[hr]=Preuzmite i dijelite datoteke putem BitTorrenta
Comment[ht]=Telechaje epi pataje fichye yo sou BitTorrent
Comment[hu]=Fájlok letöltése és megosztása BitTorrenten keresztül
Comment[hy]=Ներբեռնեք և տարածեք ֆայլերը BitTorrent-ի միջոցով
Comment[id]=Unduh dan bagikan file melalui BitTorrent
Comment[ig]=Budata ma kesaa faịlụ na BitTorrent
Comment[is]=Hladdu niður og deildu skrám í gegnum BitTorrent
Comment[it]=Scarica e condividi file su BitTorrent
Comment[iu]=ᒥᓇᕆᓗᒍ ᐊᒥᖅᑳᕈᑎᒋᓗᒍᓗ ᑎᑎᖅᑲᑦ BitTorrent−ᒧᑦ
Comment[ja]=BitTorrent 経由でファイルをダウンロードして共有する
Comment[jv]=Ngundhuh lan nuduhake file liwat BitTorrent
Comment[ka]=ჩამოტვირთეთ და გააზიარეთ ფაილები BitTorrent-ით
Comment[kk]=BitTorrent арқылы файлдарды жүктеп алыңыз және бөлісіңіз
Comment[km]=ទាញយក និងចែករំលែកឯកសារតាមរយៈ BitTorrent
Comment[kn]=BitTorrent ಮೂಲಕ ಫೈಲ್u200cಗಳನ್ನು ಡೌನ್u200cಲೋಡ್ ಮಾಡಿ ಮತ್ತು ಹಂಚಿಕೊಳ್ಳಿ
Comment[ko]="BitTorrent를 통해 파일 다운로드 및 공유"
Comment[ku]=Pelan li ser BitTorrent dakêşin û parve bikin
Comment[ky]=BitTorrent аркылуу файлдарды жүктөп алып, бөлүшүңүз
Comment[la]=Download and share files over BitTorrent
Comment[lb]=Download an deelt Dateien iwwer BitTorrent
Comment[lg]=Wano wefunire era ogabana fayiro ku BitTorrent
Comment[ln]=Télécharger mpe kabola ba fichiers na nzela ya BitTorrent
Comment[lo]=ດາວໂຫຼດ ແລະແບ່ງປັນໄຟລ໌ຜ່ານ BitTorrent
Comment[lt]=Atsisiųskite ir bendrinkite failus naudodami „BitTorrent“.
Comment[lv]=Lejupielādējiet un kopīgojiet failus, izmantojot BitTorrent
Comment[mg]=Misintona sy mizara rakitra amin'ny BitTorrent
Comment[mi]=Tikiake me te tiri i nga konae ma te BitTorrent
Comment[mk]=Преземете и споделувајте датотеки преку BitTorrent
Comment[ml]=ബിറ്റ്u200cടോറന്റിലൂടെ ഫയലുകൾ ഡൗൺലോഡ് ചെയ്യുകയും പങ്കിടുകയും ചെയ്യുക
Comment[mn]=BitTorrent ашиглан файлуудыг татаж аваад хуваалцаарай
Comment[mr]=BitTorrent वर फाइल्स डाउनलोड आणि शेअर करा
Comment[ms]=Muat turun dan kongsi fail melalui BitTorrent
Comment[mt]=Niżżel u aqsam fajls fuq BitTorrent
Comment[my]=BitTorrent မှတဆင့် ဖိုင်များကိုဒေါင်းလုဒ်လုပ်ပြီး မျှဝေပါ။
Comment[ne]=BitTorrent मा फाइलहरू डाउनलोड र साझेदारी गर्नुहोस्
Comment[nl]=Download en deel bestanden via BitTorrent
Comment[no]=Last ned og del filer over BitTorrent
Comment[ny]=Tsitsani ndikugawana mafayilo pa BitTorrent
Comment[om]=Faayilota BitTorrent irratti buufachuu fi qooduu
Comment[or]=BitTorrent ଉପରେ ଫାଇଲଗୁଡ଼ିକୁ ଡାଉନଲୋଡ୍ ଏବଂ ସେୟାର କରନ୍ତୁ |
Comment[pa]=BitTorrent ਉੱਤੇ ਫਾਈਲਾਂ ਨੂੰ ਡਾਊਨਲੋਡ ਅਤੇ ਸਾਂਝਾ ਕਰੋ
Comment[pl]=Pobieraj i udostępniaj pliki przez BitTorrent
Comment[ps]=ﺉړﮐ ﮏﯾﺮﺷ ﻭﺍ ډﻮﻠﻧﻭﺍډ ﻪﻧﻮﻠﯾﺎﻓ ﯤﺭﻻ﻿ ﻪﻟ BitTorrent ﺩ
Comment[pt]=Transfira e partilhe ficheiros através de BitTorrent
Comment[qu]=BitTorrent nisqawan archivokunata uraykachiy hinaspa rakinakuy
Comment[ro]=Descărcați și partajați fișiere prin BitTorrent
Comment[ru]=Скачивайте и делитесь файлами через BitTorrent
Comment[rw]=Kuramo kandi usangire dosiye hejuru ya BitTorrent
Comment[sa]=BitTorrent इत्यनेन सञ्चिकाः डाउनलोड् कृत्वा साझां कुर्वन्तु
Comment[sd]=BitTorrent ﻮﻳﺮڪ ﺮﺌﻴﺷ ۽ ڊﻮﻟ ﻥﻮﺋﺍڊ ﻥﻮﻠﺋﺎﻓ ﻲﺗ
Comment[si]=BitTorrent හරහා ගොනු බාගත කර බෙදා ගන්න
Comment[sk]=Sťahujte a zdieľajte súbory cez BitTorrent
Comment[sl]=Prenesite in delite datoteke prek BitTorrenta
Comment[sm]=La'u ma fa'asoa faila ile BitTorrent
Comment[sn]=Dhawunirodha uye ugovane mafaera pamusoro peBitTorrent
Comment[so]=Soo deji oo ku wadaag faylasha BitTorrent
Comment[sq]=Shkarkoni dhe shpërndani skedarët përmes BitTorrent
Comment[st]=Khoasolla le ho arolelana lifaele ka BitTorrent
Comment[su]=Unduh sareng bagikeun file dina BitTorrent
Comment[sv]=Ladda ner och dela filer över BitTorrent
Comment[sw]=Pakua na ushiriki faili kupitia BitTorrent
Comment[ta]=BitTorrent மூலம் கோப்புகளைப் பதிவிறக்கி பகிரவும்
Comment[te]=BitTorrent ద్వారా ఫైల్u200cలను డౌన్u200cలోడ్ చేయండి మరియు భాగస్వామ్యం చేయండి
Comment[tg]=Файлҳоро тавассути BitTorrent зеркашӣ ва мубодила кунед
Comment[th]=ดาวน์โหลดและแชร์ไฟล์ผ่าน BitTorrent
Comment[ti]=ፋይላት ብቢትቶረንት ኣውሪድካ ምክፋል
Comment[tk]=BitTorrent-den faýllary göçürip alyň we paýlaşyň
Comment[tl]=Mag-download at magbahagi ng mga file sa BitTorrent
Comment[to]=Download pea vahevahe ʻa e ngaahi faile ʻi he BitTorrent
Comment[tr]=Dosyaları BitTorrent üzerinden indirin ve paylaşın
Comment[ts]=Download na ku avelana tifayela hi ku tirhisa BitTorrent
Comment[tt]=BitTorrent аша файлларны йөкләү һәм бүлешү
Comment[tw]=Twe na kyɛ fael ahorow wɔ BitTorrent so
Comment[ty]=Faauta uira mai e opere i te mau putu'ite na ni'a i te BitTorrent
Comment[ug]=BitTorrent ﯓەﻟﺮﯩﮬەﺒﻣەﮬ ﭖﯛﺭﯜﺷﯜﭼ ﻰﻧﺭەﻠﺗەﺠﺟﯚﮬ ﻦﯨﺩ
Comment[uk]=Завантажуйте та діліться файлами через BitTorrent
Comment[ur]=۔ﮟﯾﺮﮐ ﺮﺌﯿﺷ ﺭﻭﺍ ﮈﻮﻟ ﻥﺅﺍﮈ ﮟﯿﻠﺋﺎﻓ ﺮﭘ ﭧﻧﺭﻮﭨ ﭧﺑ
Comment[uz]=BitTorrent orqali fayllarni yuklab oling va baham ko'ring
Comment[vi]=Tải xuống và chia sẻ tệp qua BitTorrent
Comment[xh]=Khuphela kwaye wabelane ngeefayile ngeBitTorrent
Comment[yi]=טנערראָטטיב רעביא סעקעט ןלייט ןוא עיפאקפארא
Comment[yo]=Ṣe igbasilẹ ati pin awọn faili lori BitTorrent
Comment[zh]=通过 BitTorrent 下载和共享文件
Comment[zu]=Landa futhi wabelane ngamafayela nge-BitTorrent
Comment=Download and share files over BitTorrent
Exec=transmission-gtk  
Icon=transmission.png
Terminal=false
TryExec=transmission-gtk
Type=Application
MimeType=application/x-bittorrent;
Categories=X-Internet-transfer
