[Desktop Entry]
Encoding=UTF-8
Name[af]=Gfontsel lettertipe kyker
Name[am]=Gfonsel ቅርጸ-ቁምፊ መመልከቻ
Name[ar]=Gfontsel ﻂﺧ ﺽﺭﺎﻋ
Name[as]=Gfontsel ফন্ট দৰ্শক
Name[ay]=Gfontsel ukax mä jamuqawa
Name[az]=Gfontsel şrift izləyicisi
Name[ba]=Гфонцель шрифты тамашасыһы
Name[be]=Праграма прагляду шрыфтоў Gfontsel
Name[bg]=Преглед на шрифт Gfontsel
Name[bm]=Gfontsel sɛbɛnnibolo lajɛbaga
Name[bn]=Gfontsel ফন্ট ভিউয়ার
Name[bo]=Gfontsel ཡིག་གཟུགས་ལྟ་མཁན།
Name[bs]=Gfontsel preglednik fontova
Name[ca]=Visor de fonts Gfontsel
Name[co]=Visualizzatore di font Gfontsel
Name[cs]=Prohlížeč písem gfontsel
Name[cy]=Gwyliwr ffont Gfontsel
Name[da]=Gfontsel skrifttypefremviser
Name[de]=Gfontsel-Schriftbetrachter
Name[dv]=ވެއެ ރއައުވި ޓްންފޮ ލްސެޓްންފޮޖީ
Name[ee]=Gfontsel ŋɔŋlɔdzesiwo ƒe nukpɔla
Name[el]=Προβολή γραμματοσειρών Gfontsel
Name[en]=Gfontsel font viewer
Name[eo]=Gfontsel tiparo-spektilo
Name[es]=Visor de fuentes Gfontsel
Name[et]=Gfontsel fondivaatur
Name[eu]=Gfontsel letra-tipoen ikuslea
Name[fa]=Gfontsel ﺖﻧﻮﻓ ﺮﮕﺸﯾﺎﻤﻧ
Name[fi]=Gfontsel fontin katseluohjelma
Name[fj]=Sarasara ni tobu ni Gfontsel
Name[fo]=Gfontsel font viewer
Name[fr]=Visionneuse de polices Gfontsel
Name[fy]=Gfontsel lettertype werjouwer
Name[ga]=Lucht féachana cló gfontsel
Name[gd]=Sealladair cruth-clò gfontsel
Name[gl]=Visor de fontes Gfontsel
Name[gn]=Gfontsel ñanduti renda jehechaukaha
Name[gu]=Gfontsel ફોન્ટ વ્યૂઅર
Name[ha]=Gfonsel mai duba font
Name[he]=Gfontsel לש םינפוג גיצמ
Name[hi]=Gfontsel फ़ॉन्ट दर्शक
Name[hr]=Gfontsel preglednik fontova
Name[ht]=Gfontsel font viewer
Name[hu]=Gfontsel betűtípus-nézegető
Name[hy]=Gfontsel տառատեսակ դիտող
Name[id]=Penampil font Gfontsel
Name[ig]=Ihe nlele font Gfonsel
Name[is]=Gfontsel leturskoðari
Name[it]=Visualizzatore di caratteri Gfontsel
Name[iu]=Gfontsel font viewer
Name[ja]=Gfontsel フォント ビューア
Name[jv]=Tampilan font Gfontsel
Name[ka]=Gfontsel შრიფტის მაყურებელი
Name[kk]=Gfontsel қаріп қарау құралы
Name[km]=កម្មវិធីមើលពុម្ពអក្សរ Gfontsel
Name[kn]=Gfontsel ಫಾಂಟ್ ವೀಕ್ಷಕ
Name[ko]=Gfontsel 글꼴 뷰어
Name[ku]=Dîmenderê tîpên Gfontsel
Name[ky]=Gfontsel шрифт көрүүчү
Name[la]=Gfontsel font inspectoris
Name[lb]=Gfontsel Font Viewer
Name[lg]=Omulabi w'empandiika ya Gfontsel
Name[ln]=Motali ya makomi ya Gfontsel
Name[lo]=ຕົວເບິ່ງຕົວອັກສອນ Gfontsel
Name[lt]=Gfontsel šriftų peržiūros programa
Name[lv]=Gfontsel fontu skatītājs
Name[mg]=Mpizaha endritsoratra Gfontsel
Name[mi]=Kaitiro momotuhi Gfontsel
Name[mk]=Прегледувач на фонтови Gfontsel
Name[ml]=Gfontsel ഫോണ്ട് വ്യൂവർ
Name[mn]=Gfontsel фонт харагч
Name[mr]=Gfontsel फॉन्ट दर्शक
Name[ms]=pemapar fon Gfontsel
Name[mt]=Gfontsel font viewer
Name[my]=Gfontsel ဖောင့်ကြည့်ရှုသူ
Name[ne]=Gfontsel फन्ट दर्शक
Name[nl]=Gfontsel-lettertypeviewer
Name[no]=Gfontsel fontviser
Name[ny]=Gfontsel font viewer
Name[om]=Ilaaltuu qubee Gfontsel
Name[or]=Gfontsel ଫଣ୍ଟ ଦର୍ଶକ |
Name[pa]=Gfontsel ਫੌਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka czcionek Gfontsel
Name[ps]=ﯽﮑﻧﻭﺪﯿﻟ ټﻧﻮﻓ Gfontsel ﺩ
Name[pt]=Visualizador de fontes Gfontsel
Name[qu]=Gfontsel letra qhawaq
Name[ro]=Vizualizator de fonturi Gfontsel
Name[ru]=Просмотрщик шрифтов Gfontsel
Name[rw]=Imyandikire ya Gfontsel
Name[sa]=Gfontsel font viewer इति
Name[sd]=Gfontsel ﻭﺭﺍﻭ ﮡﺳڏ ٽﻧﻮﻓ
Name[si]=Gfontsel අකුරු නරඹන්නා
Name[sk]=Prehliadač písiem Gfontsel
Name[sl]=Pregledovalnik pisav Gfontsel
Name[sm]=Mata'itusi Gfontsel
Name[sn]=Gfontsel font viewer
Name[so]=Gfonsel font viewer
Name[sq]=Shikuesi i shkronjave Gfontsel
Name[st]=Gfontsel font viewer
Name[su]=Panempo font Gfontsel
Name[sv]=Gfontsel teckensnittsvisare
Name[sw]=Kitazamaji cha fonti cha Gfontsel
Name[ta]=Gfontsel எழுத்துரு பார்வையாளர்
Name[te]=Gfontsel ఫాంట్ వ్యూయర్
Name[tg]=Намоишгари шрифти Gfontsel
Name[th]=โปรแกรมดูแบบอักษร Gfontsel
Name[ti]=Gfontsel ቅርጺ ፊደላት ዝርኢ
Name[tk]=Gfontsel şriftini görýän
Name[tl]=Gfontsel font viewer
Name[to]=Gfontsel faiʻanga papitaiso
Name[tr]=Gfontsel yazı tipi görüntüleyici
Name[ts]=Xilanguti xa fonto xa Gfontsel
Name[tt]=Gfontsel шрифты караучы
Name[tw]=Gfontsel font hwɛfoɔ
Name[ty]=Gfontsel font viewer
Name[ug]=Gfontsel ﻰﭼﯜﮔﺭﯚﻛ ﻰﻨﯩﺴﯩﺨﺳﯘﻧ ﺕەﺧ
Name[uk]=Переглядач шрифтів Gfontsel
Name[ur]=Gfontsel ﻻ﻿ﺍﻭ ﮯﻨﮭﮑﯾﺩ ﭧﻧﻮﻓ
Name[uz]=Gfontsel shrift ko'rish dasturi
Name[vi]=Trình xem phông chữ Gfontsel
Name[xh]=Isibonisi sefonti yeGfontsel
Name[yi]=Gfontsel רעקוקוצ טפֿירש
Name[yo]=Gfonsel font wiwo
Name[zh]=Gfontsel 字体查看器
Name[zu]=Isibukeli sefonti ye-Gfontsel
Name=Gfontsel font viewer
Icon=mini-font.xpm
Comment[af]=Gfontsel lettertipe kyker
Comment[am]=Gfonsel ቅርጸ-ቁምፊ መመልከቻ
Comment[ar]=Gfontsel ﻂﺧ ﺽﺭﺎﻋ
Comment[as]=Gfontsel ফন্ট দৰ্শক
Comment[ay]=Gfontsel ukax mä jamuqawa
Comment[az]=Gfontsel şrift izləyicisi
Comment[ba]=Гфонцель шрифты тамашасыһы
Comment[be]=Праграма прагляду шрыфтоў Gfontsel
Comment[bg]=Преглед на шрифт Gfontsel
Comment[bm]=Gfontsel sɛbɛnnibolo lajɛbaga
Comment[bn]=Gfontsel ফন্ট ভিউয়ার
Comment[bo]=Gfontsel ཡིག་གཟུགས་ལྟ་མཁན།
Comment[bs]=Gfontsel preglednik fontova
Comment[ca]=Visor de fonts Gfontsel
Comment[co]=Visualizzatore di font Gfontsel
Comment[cs]=Prohlížeč písem gfontsel
Comment[cy]=Gwyliwr ffont Gfontsel
Comment[da]=Gfontsel skrifttypefremviser
Comment[de]=Gfontsel-Schriftbetrachter
Comment[dv]=ވެއެ ރއައުވި ޓްންފޮ ލްސެޓްންފޮޖީ
Comment[ee]=Gfontsel ŋɔŋlɔdzesiwo ƒe nukpɔla
Comment[el]=Προβολή γραμματοσειρών Gfontsel
Comment[en]=Gfontsel font viewer
Comment[eo]=Gfontsel tiparo-spektilo
Comment[es]=Visor de fuentes Gfontsel
Comment[et]=Gfontsel fondivaatur
Comment[eu]=Gfontsel letra-tipoen ikuslea
Comment[fa]=Gfontsel ﺖﻧﻮﻓ ﺮﮕﺸﯾﺎﻤﻧ
Comment[fi]=Gfontsel fontin katseluohjelma
Comment[fj]=Sarasara ni tobu ni Gfontsel
Comment[fo]=Gfontsel font viewer
Comment[fr]=Visionneuse de polices Gfontsel
Comment[fy]=Gfontsel lettertype werjouwer
Comment[ga]=Lucht féachana cló gfontsel
Comment[gd]=Sealladair cruth-clò gfontsel
Comment[gl]=Visor de fontes Gfontsel
Comment[gn]=Gfontsel ñanduti renda jehechaukaha
Comment[gu]=Gfontsel ફોન્ટ વ્યૂઅર
Comment[ha]=Gfonsel mai duba font
Comment[he]=Gfontsel לש םינפוג גיצמ
Comment[hi]=Gfontsel फ़ॉन्ट दर्शक
Comment[hr]=Gfontsel preglednik fontova
Comment[ht]=Gfontsel font viewer
Comment[hu]=Gfontsel betűtípus-nézegető
Comment[hy]=Gfontsel տառատեսակ դիտող
Comment[id]=Penampil font Gfontsel
Comment[ig]=Ihe nlele font Gfonsel
Comment[is]=Gfontsel leturskoðari
Comment[it]=Visualizzatore di caratteri Gfontsel
Comment[iu]=Gfontsel font viewer
Comment[ja]=Gfontsel フォント ビューア
Comment[jv]=Tampilan font Gfontsel
Comment[ka]=Gfontsel შრიფტის მაყურებელი
Comment[kk]=Gfontsel қаріп қарау құралы
Comment[km]=កម្មវិធីមើលពុម្ពអក្សរ Gfontsel
Comment[kn]=Gfontsel ಫಾಂಟ್ ವೀಕ್ಷಕ
Comment[ko]=Gfontsel 글꼴 뷰어
Comment[ku]=Dîmenderê tîpên Gfontsel
Comment[ky]=Gfontsel шрифт көрүүчү
Comment[la]=Gfontsel font inspectoris
Comment[lb]=Gfontsel Font Viewer
Comment[lg]=Omulabi w'empandiika ya Gfontsel
Comment[ln]=Motali ya makomi ya Gfontsel
Comment[lo]=ຕົວເບິ່ງຕົວອັກສອນ Gfontsel
Comment[lt]=Gfontsel šriftų peržiūros programa
Comment[lv]=Gfontsel fontu skatītājs
Comment[mg]=Mpizaha endritsoratra Gfontsel
Comment[mi]=Kaitiro momotuhi Gfontsel
Comment[mk]=Прегледувач на фонтови Gfontsel
Comment[ml]=Gfontsel ഫോണ്ട് വ്യൂവർ
Comment[mn]=Gfontsel фонт харагч
Comment[mr]=Gfontsel फॉन्ट दर्शक
Comment[ms]=pemapar fon Gfontsel
Comment[mt]=Gfontsel font viewer
Comment[my]=Gfontsel ဖောင့်ကြည့်ရှုသူ
Comment[ne]=Gfontsel फन्ट दर्शक
Comment[nl]=Gfontsel-lettertypeviewer
Comment[no]=Gfontsel fontviser
Comment[ny]=Gfontsel font viewer
Comment[om]=Ilaaltuu qubee Gfontsel
Comment[or]=Gfontsel ଫଣ୍ଟ ଦର୍ଶକ |
Comment[pa]=Gfontsel ਫੌਂਟ ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka czcionek Gfontsel
Comment[ps]=ﯽﮑﻧﻭﺪﯿﻟ ټﻧﻮﻓ Gfontsel ﺩ
Comment[pt]=Visualizador de fontes Gfontsel
Comment[qu]=Gfontsel letra qhawaq
Comment[ro]=Vizualizator de fonturi Gfontsel
Comment[ru]=Просмотрщик шрифтов Gfontsel
Comment[rw]=Imyandikire ya Gfontsel
Comment[sa]=Gfontsel font viewer इति
Comment[sd]=Gfontsel ﻭﺭﺍﻭ ﮡﺳڏ ٽﻧﻮﻓ
Comment[si]=Gfontsel අකුරු නරඹන්නා
Comment[sk]=Prehliadač písiem Gfontsel
Comment[sl]=Pregledovalnik pisav Gfontsel
Comment[sm]=Mata'itusi Gfontsel
Comment[sn]=Gfontsel font viewer
Comment[so]=Gfonsel font viewer
Comment[sq]=Shikuesi i shkronjave Gfontsel
Comment[st]=Gfontsel font viewer
Comment[su]=Panempo font Gfontsel
Comment[sv]=Gfontsel teckensnittsvisare
Comment[sw]=Kitazamaji cha fonti cha Gfontsel
Comment[ta]=Gfontsel எழுத்துரு பார்வையாளர்
Comment[te]=Gfontsel ఫాంట్ వ్యూయర్
Comment[tg]=Намоишгари шрифти Gfontsel
Comment[th]=โปรแกรมดูแบบอักษร Gfontsel
Comment[ti]=Gfontsel ቅርጺ ፊደላት ዝርኢ
Comment[tk]=Gfontsel şriftini görýän
Comment[tl]=Gfontsel font viewer
Comment[to]=Gfontsel faiʻanga papitaiso
Comment[tr]=Gfontsel yazı tipi görüntüleyici
Comment[ts]=Xilanguti xa fonto xa Gfontsel
Comment[tt]=Gfontsel шрифты караучы
Comment[tw]=Gfontsel font hwɛfoɔ
Comment[ty]=Gfontsel font viewer
Comment[ug]=Gfontsel ﻰﭼﯜﮔﺭﯚﻛ ﻰﻨﯩﺴﯩﺨﺳﯘﻧ ﺕەﺧ
Comment[uk]=Переглядач шрифтів Gfontsel
Comment[ur]=Gfontsel ﻻ﻿ﺍﻭ ﮯﻨﮭﮑﯾﺩ ﭧﻧﻮﻓ
Comment[uz]=Gfontsel shrift ko'rish dasturi
Comment[vi]=Trình xem phông chữ Gfontsel
Comment[xh]=Isibonisi sefonti yeGfontsel
Comment[yi]=Gfontsel רעקוקוצ טפֿירש
Comment[yo]=Gfonsel font wiwo
Comment[zh]=Gfontsel 字体查看器
Comment[zu]=Isibukeli sefonti ye-Gfontsel
Comment=Gfontsel font viewer
Exec=gfontsel
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Gfontsel font viewer
