[Desktop Entry]
Encoding=UTF-8
Name=Pidgin multi-protocol chat client
GenericName=Pidgin
Comment=Chat over IM.  Supports Google Talk, IRC, MSN, MySpace, MXit, SIMPLE, Zephyr and more
Exec=pidginshell
Icon=pidgin.png
StartupNotify=true
Terminal=false
Type=Application
Categories=X-Internet-chat
