[Desktop Entry]
Name=Gmeasures units converter
Comment=weights and measures converter
Exec=gmeasures_wrapper
Icon=gmeasures.xpm
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Gmeasures
