[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name[af]=Xfce Window Manager-instellings
Name[am]=Xfce መስኮት አስተዳዳሪ ቅንብሮች
Name[ar]=Xfce ﺓﺬﻓﺎﻧ ﺮﻳﺪﻣ ﺕﺍﺩﺍﺪﻋﺇ
Name[as]=Xfce উইণ্ড' ব্যৱস্থাপক সংহতিসমূহ
Name[ay]=Xfce Ventana Gestor ukan utt’ayata
Name[az]=Xfce Pəncərə Meneceri Parametrləri
Name[ba]=Xfce Тәҙрә менеджеры көйләүҙәре
Name[be]=Налады дыспетчара вокнаў Xfce
Name[bg]=Настройки на Xfce Window Manager
Name[bm]=Xfce Fenɛtiri ɲɛnabɔbaga ka Labɛnw
Name[bn]=Xfce উইন্ডো ম্যানেজার সেটিংস
Name[bo]=Xfce སྒེའུ་ཁུང་གི་སྤྱི་གཉེར་བའི་སྒྲིག་བཀོད།
Name[bs]=Postavke Xfce Window Managera
Name[ca]=Configuració del gestor de finestres Xfce
Name[co]=Xfce Window Manager Settings
Name[cs]=Nastavení správce oken Xfce
Name[cy]=Gosodiadau Rheolwr Ffenestr Xfce
Name[da]=Xfce Window Manager-indstillinger
Name[de]=Einstellungen des Xfce-Fenstermanagers
Name[dv]=ސްގންޓިސެ ރޖަނޭމެ ޑޯންވި އީސީފްއެސްކްއެ
Name[ee]=Xfce Fesredzikpɔla ƒe Ðoɖowo
Name[el]=Ρυθμίσεις διαχείρισης παραθύρων Xfce
Name[eo]=Agordoj de Xfce Fenestra Administranto
Name[es]=Configuración del administrador de ventanas Xfce
Name[et]=Xfce aknahalduri sätted
Name[eu]=Xfce leiho-kudeatzailearen ezarpenak
Name[fa]=Xfce ﻩﺮﺠﻨﭘ ﺖﯾﺮﯾﺪﻣ ﺕﺎﻤﯿﻈﻨﺗ
Name[fi]=Xfce Window Managerin asetukset
Name[fj]=iTuvatuva ni Katubaleka ni XFCE
Name[fo]=Xfce Window Manager Settings
Name[fr]=Paramètres du gestionnaire de fenêtres Xfce
Name[fy]=Xfce Finsterbehearder Ynstellings
Name[ga]=Socruithe Bainisteoir Fuinneog Xfce
Name[gd]=Roghainnean Manaidsear Uinneag Xfce
Name[gl]=Configuración do xestor de fiestras de Xfce
Name[gn]=Xfce Ventana Mohendaha Ñemboheko
Name[gu]=Xfce વિન્ડો મેનેજર સેટિંગ્સ
Name[ha]=Saitunan Manajan Window Xfce
Name[he]=Xfce תונולח להנמ תורדגה
Name[hi]=Xfce विंडो मैनेजर सेटिंग्स
Name[hr]=Postavke upravitelja prozora Xfce
Name[ht]=Anviwònman Manadjè Fenèt Xfce
Name[hu]=Xfce Window Manager beállításai
Name[hy]=Xfce պատուհանների կառավարչի կարգավորումներ
Name[id]=Pengaturan Manajer Jendela Xfce
Name[ig]=Ntọala njikwa windo Xfce
Name[is]=Xfce Window Manager Stillingar
Name[it]=Impostazioni del gestore finestre di Xfce
Name[iu]=Xfce Window ᐊᐅᓚᑦᑎᔨᑦ ᐋᖅᑭᒃᓯᒪᓂᕆᔭᖏᑦ
Name[ja]=Xfce ウィンドウ マネージャーの設定
Name[jv]=Xfce Window Manager Setelan
Name[ka]=Xfce ფანჯრის მენეჯერის პარამეტრები
Name[kk]=Xfce Window Manager параметрлері
Name[km]=ការកំណត់កម្មវិធីគ្រប់គ្រងបង្អួច Xfce
Name[kn]=Xfce ವಿಂಡೋ ಮ್ಯಾನೇಜರ್ ಸೆಟ್ಟಿಂಗ್u200cಗಳು
Name[ko]=Xfce 창 관리자 설정
Name[ku]=Mîhengên Rêvebirê Pencereya Xfce
Name[ky]=Xfce терезе менеджеринин орнотуулары
Name[la]=Xfce Fenestra Procurator Occasus
Name[lb]=Xfce Window Manager Settings
Name[lg]=Enteekateeka za Xfce Window Manager
Name[ln]=Paramètres ya Mokambi ya Fenêtre ya Xfce
Name[lo]=ການຕັ້ງຄ່າຕົວຈັດການປ່ອງຢ້ຽມ Xfce
Name[lt]=„Xfce“ langų tvarkyklės nustatymai
Name[lv]=Xfce logu pārvaldnieka iestatījumi
Name[mg]=Xfce Window Manager Settings
Name[mi]=Tautuhinga Kaiwhakahaere Matapihi Xfce
Name[mk]=Поставки за менаџер на прозорци Xfce
Name[ml]=Xfce വിൻഡോ മാനേജർ ക്രമീകരണങ്ങൾ
Name[mn]=Xfce цонхны менежерийн тохиргоо
Name[mr]=Xfce विंडो व्यवस्थापक सेटिंग्ज
Name[ms]=Tetapan Pengurus Tetingkap Xfce
Name[mt]=Xfce Window Manager Settings
Name[my]=Xfce Window Manager ဆက်တင်များ
Name[ne]=Xfce विन्डो प्रबन्धक सेटिङहरू
Name[nl]=Xfce Window Manager-instellingen
Name[no]=Xfce Window Manager-innstillinger
Name[ny]=Zokonda pawindo la Xfce
Name[om]=Sajoo Bulchaa Foddaa Xfce
Name[or]=Xfce ୱିଣ୍ଡୋ ମ୍ୟାନେଜର୍ ସେଟିଂସମୂହ |
Name[pa]=Xfce ਵਿੰਡੋ ਮੈਨੇਜਰ ਸੈਟਿੰਗਾਂ
Name[pl]=Ustawienia Menedżera okien Xfce
Name[ps]=ﺕﺎﻤﯿﻈﻨﺗ ﺮﯾﺪﻣ ۍﮐړﮐ Xfce ﺩ
Name[pt]=Configurações do Xfce Window Manager
Name[qu]=Xfce Ventana kamachiqpa churanakuna
Name[ro]=Setări Xfce Window Manager
Name[ru]=Настройки диспетчера окон Xfce
Name[rw]=Xfce Idirishya Umuyobozi Igenamiterere
Name[sa]=Xfce विण्डो प्रबन्धक सेटिंग्स्
Name[sd]=Xfce ﻥﻮﮕﻨٽﻴﺳ ﺮﺠﻴﻨﺌﻣ ﻭڊﻧﻭ
Name[si]=Xfce කවුළු කළමනාකරු සැකසුම්
Name[sk]=Nastavenia správcu okien Xfce
Name[sl]=Nastavitve upravitelja oken Xfce
Name[sm]=Xfce Window Manager Seti
Name[sn]=Xfce Window Manager Settings
Name[so]=Dejinta Maareeyaha Daaqadda Xfce
Name[sq]=Cilësimet e menaxherit të dritares Xfce
Name[st]=Litlhophiso tsa Motsamaisi oa Window ea Xfce
Name[su]=Setélan Pangatur Jandela Xfce
Name[sv]=Xfce Window Manager-inställningar
Name[sw]=Mipangilio ya Kidhibiti cha Dirisha cha Xfce
Name[ta]=Xfce சாளர மேலாளர் அமைப்புகள்
Name[te]=Xfce విండో మేనేజర్ సెట్టింగ్u200cలు
Name[tg]=Танзимоти менеҷери Windows Xfce
Name[th]=การตั้งค่า Xfce Window Manager
Name[ti]=ቅጥዕታት ኣመሓዳሪ መስኮት Xfce
Name[tk]=Xfce penjire menejeri sazlamalary
Name[tl]=Mga Setting ng Xfce Window Manager
Name[to]=Fokotuʻutuʻu ʻo e pule ki he matapa sioʻata Xfce
Name[tr]=Xfce Pencere Yöneticisi Ayarları
Name[ts]=Switirhisiwa swa Mufambisi wa Fasitere ra Xfce
Name[tt]=Xfce тәрәзә менеджеры көйләүләре
Name[tw]=Xfce Mfɛnsere sohwɛfo Nsiesiei
Name[ty]=Te mau faanahoraa i te pae no te mau matini roro uira Xfce
Name[ug]=Xfce ﻰﻜﯩﺸﯕەﺗ ﭺﯘﻏﺭﯘﻘﺷﺎﺑ ﻙەﻧﺯﯚﻛ
Name[uk]=Параметри диспетчера вікон Xfce
Name[ur]=Xfce ﺕﺎﺒﯿﺗﺮﺗ ﯽﮐ ﺮﺠﯿﻨﯿﻣ ﻭﮉﻧﻭ
Name[uz]=Xfce oyna menejeri sozlamalari
Name[vi]=Cài đặt trình quản lý cửa sổ Xfce
Name[xh]=Xfce Izicwangciso zoMphathi wefestile
Name[yi]=Xfce סגניטטעס רעגאַנאַמ רעטצנעפֿ
Name[yo]=Awọn Eto Oluṣakoso Window Xfce
Name[zh]=Xfce 窗口管理器设置
Name[zu]=Izilungiselelo Zesiphathi Sewindi le-Xfce
Name=Xfce Window Manager Settings
Comment[af]=Vensterbestuurder-instellings
Comment[am]=የመስኮት አስተዳዳሪ ቅንብሮች
Comment[ar]=ﺬﻓﺍﻮﻨﻟﺍ ﺮﻳﺪﻣ ﺕﺍﺩﺍﺪﻋﺇ
Comment[as]=উইণ্ড' ব্যৱস্থাপক সংহতিসমূহ
Comment[ay]=Ventana Gestor ukan utt’ayatanakapa
Comment[az]=Pəncərə Meneceri Parametrləri
Comment[ba]=Тәҙрә менеджеры көйләүҙәре
Comment[be]=Налады дыспетчара вокнаў
Comment[bg]=Настройки на диспечера на прозорци
Comment[bm]=Fenɛtiri ɲɛmɔgɔ ka Labɛnw
Comment[bn]=উইন্ডো ম্যানেজার সেটিংস
Comment[bo]=སྒེའུ་ཁུང་གི་སྤྱི་གཉེར་བའི་སྒྲིག་བཀོད
Comment[bs]=Postavke upravitelja prozora
Comment[ca]=Configuració del gestor de finestres
Comment[co]=Settings Manager di a finestra
Comment[cs]=Nastavení správce oken
Comment[cy]=Gosodiadau Rheolwr Ffenestr
Comment[da]=Indstillinger for Window Manager
Comment[de]=Fenstermanager-Einstellungen
Comment[dv]=ސްގންޓިސެ ރޖަނޭމެ ޑޯންވި
Comment[ee]=Fesredzikpɔla ƒe Ðoɖowo
Comment[el]=Ρυθμίσεις διαχείρισης παραθύρων
Comment[eo]=Agordoj de Fenestra Administranto
Comment[es]=Configuración del administrador de ventanas
Comment[et]=Aknahalduri sätted
Comment[eu]=Leiho-kudeatzailearen ezarpenak
Comment[fa]=ﻩﺮﺠﻨﭘ ﺮﯾﺪﻣ ﺕﺎﻤﯿﻈﻨﺗ
Comment[fi]=Ikkunanhallinnan asetukset
Comment[fj]=iTuvatuva ni Manidia ni Katubaleka
Comment[fo]=Window Manager Settings
Comment[fr]=Paramètres du gestionnaire de fenêtres
Comment[fy]=Finsterbehearder Ynstellings
Comment[ga]=Socruithe Bainisteoir Fuinneog
Comment[gd]=Roghainnean Manaidsear na h-uinneige
Comment[gl]=Configuración do xestor de fiestras
Comment[gn]=Ventana Mohendaha Ñemboheko
Comment[gu]=વિન્ડો મેનેજર સેટિંગ્સ
Comment[ha]=Saitunan Manajan Taga
Comment[he]=תונולחה להנמ תורדגה
Comment[hi]=विंडो मैनेजर सेटिंग्स
Comment[hr]=Postavke upravitelja prozora
Comment[ht]=Anviwònman Manadjè Fenèt
Comment[hu]=Ablakkezelő beállításai
Comment[hy]=Պատուհանների կառավարչի կարգավորումներ
Comment[id]=Pengaturan Manajer Jendela
Comment[ig]=Ntọala njikwa windo
Comment[is]=Stillingar gluggastjóra
Comment[it]=Impostazioni del gestore finestre
Comment[iu]=ᐃᒐᓛᓄᑦ ᐊᐅᓚᑦᑎᔨ ᐋᖅᑭᒃᓯᒪᓂᖓ
Comment[ja]=ウィンドウマネージャーの設定
Comment[jv]=Setelan Window Manager
Comment[ka]=ფანჯრის მენეჯერის პარამეტრები
Comment[kk]=Терезе менеджерінің параметрлері
Comment[km]=ការកំណត់កម្មវិធីគ្រប់គ្រងបង្អួច
Comment[kn]=ವಿಂಡೋ ಮ್ಯಾನೇಜರ್ ಸೆಟ್ಟಿಂಗ್u200cಗಳು
Comment[ko]=창 관리자 설정
Comment[ku]=Mîhengên Rêveberê Pencere
Comment[ky]=Терезе менеджеринин орнотуулары
Comment[la]=Fenestra Manager Occasus
Comment[lb]=Fënster Manager Astellunge
Comment[lg]=Ensengeka z'Omuddukanya Eddirisa
Comment[ln]=Paramètres ya Mokambi ya Fenêtre
Comment[lo]=ການຕັ້ງຄ່າ Window Manager
Comment[lt]=Langų tvarkyklės nustatymai
Comment[lv]=Logu pārvaldnieka iestatījumi
Comment[mg]=Windows Manager Settings
Comment[mi]=Tautuhinga Kaiwhakahaere Matapihi
Comment[mk]=Поставки за менаџер на прозорци
Comment[ml]=വിൻഡോ മാനേജർ ക്രമീകരണങ്ങൾ
Comment[mn]=Цонхны менежерийн тохиргоо
Comment[mr]=विंडो व्यवस्थापक सेटिंग्ज
Comment[ms]=Tetapan Pengurus Tetingkap
Comment[mt]=Settings tal-Maniġer tat-Tieqa
Comment[my]=Window Manager ဆက်တင်များ
Comment[ne]=विन्डो प्रबन्धक सेटिङहरू
Comment[nl]=Window Manager-instellingen
Comment[no]=Innstillinger for Window Manager
Comment[ny]=Zokonda pa Window Manager
Comment[om]=Sajoo Bulchaa Foddaa
Comment[or]=ୱିଣ୍ଡୋ ମ୍ୟାନେଜର୍ ସେଟିଂସମୂହ |
Comment[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ ਸੈਟਿੰਗਾਂ
Comment[pl]=Ustawienia menedżera okien
Comment[ps]=ﺕﺎﺒﯿﺗﺮﺗ ﺮﯾﺪﻣ ۍﮐړﮐ ﺩ
Comment[pt]=Configurações do Gerenciador de Janelas
Comment[qu]=Ventana kamachiqpa churanakuna
Comment[ro]=Setări Manager de ferestre
Comment[ru]=Настройки оконного менеджера
Comment[rw]=Idirishya Umuyobozi Igenamiterere
Comment[sa]=विण्डो प्रबन्धक सेटिंग्स्
Comment[sd]=ﻥﻮﮕﻨٽﻴﺳ ﺮﺠﻴﻨﺌﻣ ﻭڊﻧﻭ
Comment[si]=කවුළු කළමනාකරු සැකසුම්
Comment[sk]=Nastavenia správcu okien
Comment[sl]=Nastavitve upravitelja oken
Comment[sm]=Fa'atonu Pule Fa'amalama
Comment[sn]=Window Manager Settings
Comment[so]=Dejinta Maareeyaha Daaqada
Comment[sq]=Cilësimet e menaxherit të dritareve
Comment[st]=Litlhophiso tsa Motsamaisi oa Fesetere
Comment[su]=Setélan Pangatur Jandéla
Comment[sv]=Window Manager-inställningar
Comment[sw]=Mipangilio ya Kidhibiti cha Dirisha
Comment[ta]=சாளர மேலாளர் அமைப்புகள்
Comment[te]=విండో మేనేజర్ సెట్టింగ్u200cలు
Comment[tg]=Танзимоти менеҷери тиреза
Comment[th]=การตั้งค่าตัวจัดการหน้าต่าง
Comment[ti]=ቅጥዕታት ኣመሓዳሪ መስኮት።
Comment[tk]=Penjire dolandyryjy sazlamalary
Comment[tl]=Mga Setting ng Window Manager
Comment[to]=Fokotuʻutuʻu ʻo e pule matapa sioʻata
Comment[tr]=Pencere Yöneticisi Ayarları
Comment[ts]=Switirhisiwa swa Mufambisi wa Fasitere
Comment[tt]=Тәрәзә менеджеры көйләүләре
Comment[tw]=Mfɛnsere sohwɛfo Nsiesiei
Comment[ty]=Te mau faanahoraa no te faatere i te mau hoho'a
Comment[ug]=ﻰﻜﯩﺸﯕەﺗ ﭺﯘﻏﺭﯘﻘﺷﺎﺑ ﻙەﻧﺯﯚﻛ
Comment[uk]=Параметри диспетчера вікон
Comment[ur]=ﺕﺎﺒﯿﺗﺮﺗ ﯽﮐ ﺮﺠﯿﻨﯿﻣ ﻭﮉﻧﻭ
Comment[uz]=Oyna menejeri sozlamalari
Comment[vi]=Cài đặt trình quản lý cửa sổ
Comment[xh]=Izicwangciso zoMphathi wefestile
Comment[yi]=סגניטטעס רעגאַנאַמ רעטצנעפֿ
Comment[yo]=Awọn eto Alakoso Window
Comment[zh]=窗口管理器设置
Comment[zu]=Izilungiselelo Zomphathi Wewindi
Comment=Window Manager Settings
Exec=xfce-setting-show xfwm4
Icon=xfwm4
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Window Manager Settings
