[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name[af]=Xfce Window Manager Tweaks
Name[am]=Xfce የመስኮት አቀናባሪ ማስተካከያዎች
Name[ar]=Xfce Window Manager ﺹﺮﻘﻟﺍ
Name[as]=Xfce উইণ্ড' ব্যৱস্থাপক টুইকসমূহ
Name[ay]=Xfce Ventana Gestor Tweaks ukax mä juk’a pachanakanwa
Name[az]=Xfce Pəncərə Meneceri Tweaks
Name[ba]=Xfce тәҙрә менеджеры Tweaks
Name[be]=Налады дыспетчара вокнаў Xfce
Name[bg]=Ощипвания на Xfce Window Manager
Name[bm]=Xfce Fenɛtiri ɲɛmɔgɔ ka Tweaks
Name[bn]=Xfce উইন্ডো ম্যানেজার Tweaks
Name[bo]=Xfce Window Manager Tweaks
Name[bs]=Xfce Window Manager podešavanja
Name[ca]=Ajustos del gestor de finestres Xfce
Name[co]=Xfce Window Manager Tweaks
Name[cs]=Vylepšení správce oken Xfce
Name[cy]=Tweaks Rheolwr Ffenestr Xfce
Name[da]=Xfce Window Manager Tweaks
Name[de]=Xfce-Fenstermanager-Optimierungen
Name[dv]=ސްކްވީޓް ރޖަނޭމެ ޑޯންވި އީސީފްއެސްކްއެ
Name[ee]=Xfce Fesredzikpɔla ƒe Tweaks
Name[el]=Tweaks του Xfce Window Manager
Name[eo]=Xfce Fenestra Administranto Tweaks
Name[es]=Ajustes del administrador de ventanas Xfce
Name[et]=Xfce Window Manager Tweaks
Name[eu]=Xfce Window Manager Tweaks
Name[fa]=Xfce ﻩﺮﺠﻨﭘ ﺖﯾﺮﯾﺪﻣ ﯼﺎﻫﺪﻨﻓﺮﺗ
Name[fi]=Xfce Window Manager Tweaks
Name[fj]=Manidia ni katubaleka XFce Tweaks
Name[fo]=Xfce Window Manager Tweaks
Name[fr]=Ajustements du gestionnaire de fenêtres Xfce
Name[fy]=Xfce Finsterbehearder Tweaks
Name[ga]=Tweaks Bainisteoir Fuinneog Xfce
Name[gd]=Manaidsear uinneig Xfce Tweaks
Name[gl]=Axustes do Xfce Window Manager
Name[gn]=Xfce Ventana Mohendaha Ñemoambue
Name[gu]=Xfce વિન્ડો મેનેજર ટ્વિક્સ
Name[ha]=Xfce Window Manager Tweaks
Name[he]=Tweaks לש Xfce Window Manager
Name[hi]=Xfce विंडो मैनेजर में बदलाव
Name[hr]=Podešavanje upravitelja prozora Xfce
Name[ht]=Tweaks Manadjè Fenèt Xfce
Name[hu]=Xfce Window Manager Tweaks
Name[hy]=Xfce պատուհանների մենեջերի ճշգրտումներ
Name[id]=Tweak Pengelola Jendela Xfce
Name[ig]=Onye njikwa windo Xfce Tweaks
Name[is]=Xfce Window Manager klip
Name[it]=Modifiche al gestore di finestre di Xfce
Name[iu]=Xfce Window Manager Tweaks
Name[ja]=Xfce ウィンドウ マネージャーの微調整
Name[jv]=Xfce Window Manager Tweaks
Name[ka]=Xfce ფანჯრის მენეჯერის შესწორებები
Name[kk]=Xfce Window Manager Tweaks
Name[km]=ការកែប្រែកម្មវិធីគ្រប់គ្រងបង្អួច Xfce
Name[kn]=Xfce ವಿಂಡೋ ಮ್ಯಾನೇಜರ್ ಟ್ವೀಕ್ಸ್
Name[ko]=Xfce 창 관리자 조정
Name[ku]=Rêvebirê Pencereya Xfce Tweaks
Name[ky]=Xfce терезе менеджери Tweaks
Name[la]=Xfce Fenestra Manager Tweaks
Name[lb]=Xfce Window Manager Tweaks
Name[lg]=Xfce Window Manager Enkyukakyuka mu
Name[ln]=Xfce Mokambi ya Fenêtre Tweaks
Name[lo]=Xfce Window Manager Tweaks
Name[lt]=„Xfce“ langų tvarkyklės patobulinimai
Name[lv]=Xfce logu pārvaldnieka uzlabojumi
Name[mg]=Xfce Window Manager Tweaks
Name[mi]=Kaiwhakahaere Matapihi Xfce Tweaks
Name[mk]=Дотерување на менаџерот на прозорци на Xfce
Name[ml]=Xfce വിൻഡോ മാനേജർ ട്വീക്കുകൾ
Name[mn]=Xfce цонхны менежерийн өөрчлөлтүүд
Name[mr]=Xfce विंडो मॅनेजर ट्वीक्स
Name[ms]=Tweak Pengurus Tetingkap Xfce
Name[mt]=Xfce Window Manager Tweaks
Name[my]=Xfce Window Manager Tweaks
Name[ne]=Xfce विन्डो प्रबन्धक ट्वीक्स
Name[nl]=Xfce Window Manager-tweaks
Name[no]=Xfce Window Manager Tweaks
Name[ny]=Xfce Window Manager Tweaks
Name[om]=Xfce Window Manager Tweaks
Name[or]=Xfce ୱିଣ୍ଡୋ ମ୍ୟାନେଜର୍ ଟ୍ୱିକ୍ସ |
Name[pa]=Xfce ਵਿੰਡੋ ਮੈਨੇਜਰ ਟਵੀਕਸ
Name[pl]=Usprawnienia Menedżera okien Xfce
Name[ps]=ﻪﻧﻮﮑﯿټ ﺮﯾﺪﻣ ۍﮐړﮐ Xfce ﺩ
Name[pt]=Xfce Window Manager Tweaks
Name[qu]=Xfce Ventana kamachiqpa Tweaks
Name[ro]=Modificări ale managerului de ferestre Xfce
Name[ru]=Настройки оконного менеджера Xfce
Name[rw]=Xfce Window Manager Tweaks
Name[sa]=Xfce विण्डो प्रबन्धक ट्वीक्स
Name[sd]=Xfce ﺲڪﻴﺋﺎٽ ﺮﺠﻴﻨﺌﻣ ﻭڊﻧﻭ
Name[si]=Xfce කවුළු කළමනාකරු වෙනස් කිරීම්
Name[sk]=Vylepšenia správcu okien Xfce
Name[sl]=Prilagoditve upravitelja oken Xfce
Name[sm]=Xfce Window Manager Tweaks
Name[sn]=Xfce Window Manager Tweaks
Name[so]=Maamulaha Daaqadda Xfce Tweaks
Name[sq]=Ndryshimet e menaxherit të dritares Xfce
Name[st]=Xfce Window Manager Tweaks
Name[su]=Xfce Jandela Manajer Tweaks
Name[sv]=Xfce Window Manager Tweaks
Name[sw]=Marekebisho ya Kidhibiti cha Dirisha cha Xfce
Name[ta]=Xfce சாளர மேலாளர் மாற்றங்கள்
Name[te]=Xfce విండో మేనేజర్ ట్వీక్స్
Name[tg]=Tweaks менеҷери тирезаҳои Xfce
Name[th]=การปรับแต่ง Xfce Window Manager
Name[ti]=Xfce መስኮት ኣመሓዳሪ ምትዕርራይ
Name[tk]=Xfce penjire menejeri Tweaks
Name[tl]=Xfce Window Manager Tweaks
Name[to]=Pule ʻo e matapa sioʻata Xfce Tweaks
Name[tr]=Xfce Pencere Yöneticisi İnce Ayarları
Name[ts]=Xfce Mufambisi wa Fasitere Tweaks
Name[tt]=Xfce тәрәзә менеджеры
Name[tw]=Xfce Mfɛnsere sohwɛfo Tweaks
Name[ty]=Xfce Window Manager Tweaks
Name[ug]=Xfce ﻰﺴﯩﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻙەﻧﺯﯚﻛ Tweaks
Name[uk]=Налаштування менеджера вікон Xfce
Name[ur]=Xfce ﺖﻘﻓﺍﻮﻣ ﮯﮐ ﺮﺠﯿﻨﯿﻣ ﻭﮉﻧﻭ
Name[uz]=Xfce oyna menejeri sozlamalari
Name[vi]=Tinh chỉnh Trình quản lý cửa sổ Xfce
Name[xh]=Xfce Window Manager Tweaks
Name[yi]=Xfce סקיווט רעגאַנאַמ רעטצנעפֿ
Name[yo]=Xfce Window Manager Tweaks
Name[zh]=Xfce 窗口管理器调整
Name[zu]=I-Xfce Window Manager Tweaks
Name=Xfce Window Manager Tweaks
Exec=xfce-setting-show wmtweaks
Icon=wmtweaks
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Window Manager Tweaks
