[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name[af]=Xfce Workspaces-instellings
Name[am]=Xfce የስራ ቦታዎች ቅንብሮች
Name[ar]=Xfce ﻞﻤﻋ ﺕﺎﺣﺎﺴﻣ ﺕﺍﺩﺍﺪﻋﺇ
Name[as]=Xfce কাৰ্য্যস্থানসমূহ সংহতিসমূহ
Name[ay]=Xfce Irnaqañ chiqanakan utt’ayata
Name[az]=Xfce Workspaces Parametrləri
Name[ba]=Xfce Workspace Көйләүҙәре
Name[be]=Налады працоўных прастор Xfce
Name[bg]=Настройки на работните пространства на Xfce
Name[bm]=Xfce Baarakɛyɔrɔw Labɛncogo
Name[bn]=Xfce ওয়ার্কস্পেস সেটিংস
Name[bo]=Xfce Workspaces 设置
Name[bs]=Xfce Workspaces Settings
Name[ca]=Configuració d'espais de treball Xfce
Name[co]=Impostazioni di Xfce Workspaces
Name[cs]=Nastavení pracovních prostorů Xfce
Name[cy]=Gosodiadau Gweithfannau Xfce
Name[da]=Xfce Workspaces-indstillinger
Name[de]=Xfce-Arbeitsbereichseinstellungen
Name[dv]=ސްގންޓިސެ ސްޕޭސްކްވޯ އީސީފްއެސްކްއެ
Name[ee]=Xfce Dɔwɔƒewo ƒe Ðoɖowo
Name[el]=Ρυθμίσεις Xfce Workspace
Name[eo]=Agordoj de Xfce Workspaces
Name[es]=Configuración de los espacios de trabajo de Xfce
Name[et]=Xfce tööruumide seaded
Name[eu]=Xfce Workspaces ezarpenak
Name[fa]=Xfce Workspaces ﺕﺎﻤﯿﻈﻨﺗ
Name[fi]=Xfce-työtilojen asetukset
Name[fj]=iTuvatuva ni Vaqara Cakacaka XFce
Name[fo]=Xfce Workspaces Settings
Name[fr]=Paramètres des espaces de travail Xfce
Name[fy]=Xfce Workspaces Ynstellings
Name[ga]=Socruithe Spásanna Oibre Xfce
Name[gd]=Roghainnean Àite-obrach Xfce
Name[gl]=Configuración de espazos de traballo Xfce
Name[gn]=Xfce Mba’apoha Renda Ñemboheko
Name[gu]=Xfce વર્કસ્પેસ સેટિંગ્સ
Name[ha]=Saitunan Wuraren Ayyuka na Xfce
Name[he]=Xfce Workspaces תורדגה
Name[hi]=Xfce कार्यस्थान सेटिंग्स
Name[hr]=Postavke radnih prostora Xfce
Name[ht]=Anviwònman espas travay Xfce
Name[hu]=Xfce munkaterületek beállításai
Name[hy]=Xfce Workspace-ի կարգավորումներ
Name[id]=Pengaturan Ruang Kerja Xfce
Name[ig]=Ntọala oghere ọrụ Xfce
Name[is]=Stillingar Xfce Workspaces
Name[it]=Impostazioni degli spazi di lavoro di Xfce
Name[iu]=Xfce ᐃᖅᑲᓇᐃᔭᕐᕕᒃ ᐋᖅᑭᒃᓯᒪᓂᖓ
Name[ja]=Xfce ワークスペースの設定
Name[jv]=Setelan Ruang Kerja Xfce
Name[ka]=Xfce Workspaces პარამეტრები
Name[kk]=Xfce Workspaces параметрлері
Name[km]=ការកំណត់កន្លែងធ្វើការ Xfce
Name[kn]=Xfce ಕಾರ್ಯಸ್ಥಳಗಳ ಸೆಟ್ಟಿಂಗ್u200cಗಳು
Name[ko]=Xfce 작업 공간 설정
Name[ku]=Mîhengên Xfce Workspaces
Name[ky]=Xfce Workspaces Орнотуулары
Name[la]=Xfce Workspaces Occasus
Name[lb]=Xfce Workspaces Astellungen
Name[lg]=Ensengeka z'ebifo eby'okukoleramu ebya Xfce
Name[ln]=Bobongisi ya bisika ya mosala ya Xfce
Name[lo]=ການຕັ້ງຄ່າ Xfce Workspaces
Name[lt]=„Xfce Workspaces“ nustatymai
Name[lv]=Xfce darbvietu iestatījumi
Name[mg]=Xfce Workspaces Settings
Name[mi]=Tautuhinga Mokowāmahi Xfce
Name[mk]=Поставки за Xfce Workspaces
Name[ml]=Xfce വർക്ക്u200cസ്u200cപെയ്u200cസ് ക്രമീകരണം
Name[mn]=Xfce Workspaces тохиргоо
Name[mr]=Xfce कार्यस्थान सेटिंग्ज
Name[ms]=Tetapan Ruang Kerja Xfce
Name[mt]=Settings tal-Ispazji tax-Xogħol Xfce
Name[my]=Xfce Workspaces ဆက်တင်များ
Name[ne]=Xfce कार्यस्थान सेटिङहरू
Name[nl]=Instellingen voor Xfce-werkruimten
Name[no]=Xfce Workspaces-innstillinger
Name[ny]=Zosintha za Xfce Workspaces
Name[om]=Sajoo Iddoowwan Hojii Xfce
Name[or]=Xfce କାର୍ଯ୍ୟକ୍ଷେତ୍ର ସେଟିଂସମୂହ |
Name[pa]=Xfce ਵਰਕਸਪੇਸ ਸੈਟਿੰਗਾਂ
Name[pl]=Ustawienia przestrzeni roboczych Xfce
Name[ps]=ﺕﺎﻤﯿﻈﻨﺗ ﻮﻧﻮﯾﺎځ ﻱﺭﺎﮐ Xfce ﺩ
Name[pt]=Configurações do Xfce Workspaces
Name[qu]=Xfce Llamkanakuna Ajustes
Name[ro]=Setări Xfce Workspaces
Name[ru]=Настройки рабочих областей Xfce
Name[rw]=Igenamiterere rya Xfce
Name[sa]=Xfce कार्यक्षेत्र सेटिंग्स्
Name[sd]=Xfce Workspace ﻥﻮﮕﻨٽﻴﺳ
Name[si]=Xfce වැඩබිම් සැකසීම්
Name[sk]=Nastavenia pracovných priestorov Xfce
Name[sl]=Nastavitve delovnih prostorov Xfce
Name[sm]=Xfce Workspaces Seti
Name[sn]=Xfce Nzvimbo dzekushanda Zvirongwa
Name[so]=Goobaha shaqada ee Xfce
Name[sq]=Cilësimet e hapësirave të punës Xfce
Name[st]=Litlhophiso tsa Libaka tsa Mosebetsi tsa Xfce
Name[su]=Xfce Workspaces Setélan
Name[sv]=Xfce Workspaces-inställningar
Name[sw]=Mipangilio ya Nafasi za Kazi za Xfce
Name[ta]=Xfce பணியிட அமைப்புகள்
Name[te]=Xfce వర్క్u200cస్పేసెస్ సెట్టింగ్u200cలు
Name[tg]=Танзимоти Xfce Workspaces
Name[th]=การตั้งค่าพื้นที่ทำงาน Xfce
Name[ti]=Xfce ናይ ስራሕ ቦታታት ቅጥዕታት
Name[tk]=Xfce iş ýerleri sazlamalary
Name[tl]=Mga Setting ng Xfce Workspaces
Name[to]=Xfce Workspaces Settings
Name[tr]=Xfce Çalışma Alanları Ayarları
Name[ts]=Switirhisiwa swa Tindhawu ta Ntirho ta Xfce
Name[tt]=Xfce эш урыннары көйләүләре
Name[tw]=Xfce Adwumayɛbea Nsiesiei
Name[ty]=Xfce Workspaces Settings
Name[ug]=Xfce ﻰﻜﯩﺸﯕەﺗ ﻰﻗﯘﻠﺷﻮﺑ ﺕەﻣﺰﯩﺧ
Name[uk]=Налаштування робочих просторів Xfce
Name[ur]=Xfce ﺕﺎﺒﯿﺗﺮﺗ ﯽﮐ ﺲﯿﭙﺳﺍ ﮎﺭﻭ
Name[uz]=Xfce Workspaces sozlamalari
Name[vi]=Cài đặt không gian làm việc Xfce
Name[xh]=Xfce Izicwangciso zeNdawo zokusebenza
Name[yi]=Xfce סגניטטעס סעסאַפּסקראָוו
Name[yo]=Awọn Eto Awọn aaye iṣẹ Xfce
Name[zh]=Xfce 工作区设置
Name[zu]=Izilungiselelo zezindawo zokusebenza ze-Xfce
Name=Xfce Workspaces Settings
Comment[af]=Werkspasies-instellings
Comment[am]=የስራ ቦታዎች ቅንብሮች
Comment[ar]=ﻞﻤﻌﻟﺍ ﺕﺎﺣﺎﺴﻣ ﺕﺍﺩﺍﺪﻋﺇ
Comment[as]=কাৰ্য্যস্থানসমূহৰ সংহতিসমূহ
Comment[ay]=Irnaqañ chiqanakax wakicht’atawa
Comment[az]=İş yerlərinin Parametrləri
Comment[ba]=Эш киңлеген көйләү
Comment[be]=Налады працоўных прастор
Comment[bg]=Настройки на работните пространства
Comment[bm]=Baarakɛyɔrɔw Labɛncogo
Comment[bn]=ওয়ার্কস্পেস সেটিংস
Comment[bo]=ལས་ཀའི་བར་སྟོང་གི་སྒྲིག་བཀོད།
Comment[bs]=Postavke radnog prostora
Comment[ca]=Configuració dels espais de treball
Comment[co]=Paràmetri di u spaziu di travagliu
Comment[cs]=Nastavení pracovních prostorů
Comment[cy]=Gosodiadau Gweithfannau
Comment[da]=Indstillinger for arbejdsområder
Comment[de]=Arbeitsbereichseinstellungen
Comment[dv]=ސްގންޓިސެ ސްޕޭސްކްވޯ
Comment[ee]=Dɔwɔƒewo ƒe Ðoɖowo
Comment[el]=Ρυθμίσεις χώρων εργασίας
Comment[eo]=Agordoj de Laborspacoj
Comment[es]=Configuración de espacios de trabajo
Comment[et]=Tööruumide seaded
Comment[eu]=Lan-eremuen ezarpenak
Comment[fa]=ﯼﺭﺎﮐ ﯼﺎﻫﺎﻀﻓ ﺕﺎﻤﯿﻈﻨﺗ
Comment[fi]=Työtilojen asetukset
Comment[fj]=iTuvatuva ni Vanua ni Cakacaka
Comment[fo]=Workspaces Settings
Comment[fr]=Paramètres des espaces de travail
Comment[fy]=Wurkromten ynstellings
Comment[ga]=Socruithe Spásanna Oibre
Comment[gd]=Roghainnean àite-obrach
Comment[gl]=Configuración de espazos de traballo
Comment[gn]=Mba’apoha renda Ñemboheko
Comment[gu]=વર્કસ્પેસ સેટિંગ્સ
Comment[ha]=Saitunan Wuraren aiki
Comment[he]=הדובע תוביבס תורדגה
Comment[hi]=कार्यस्थान सेटिंग्स
Comment[hr]=Postavke radnih prostora
Comment[ht]=Anviwònman espas travay yo
Comment[hu]=Munkaterületek beállításai
Comment[hy]=Աշխատանքային տարածքների կարգավորումներ
Comment[id]=Pengaturan Ruang Kerja
Comment[ig]=Ntọala oghere ọrụ
Comment[is]=Stillingar vinnusvæða
Comment[it]=Impostazioni aree di lavoro
Comment[iu]=ᐃᖅᑲᓇᐃᔭᕐᕕᒋᔭᐅᔪᑦ ᐋᖅᑭᒃᓯᒪᓂᕆᔭᖏᑦ
Comment[ja]=ワークスペースの設定
Comment[jv]=Setelan Workspaces
Comment[ka]=სამუშაო ადგილების პარამეტრები
Comment[kk]=Жұмыс кеңістігінің параметрлері
Comment[km]=ការកំណត់កន្លែងធ្វើការ
Comment[kn]=ಕಾರ್ಯಸ್ಥಳಗಳ ಸೆಟ್ಟಿಂಗ್u200cಗಳು
Comment[ko]=작업 공간 설정
Comment[ku]=Mîhengên qadên xebatê
Comment[ky]=Workspaces Орнотуулары
Comment[la]=Workspaces Occasus
Comment[lb]=Workspaces Astellungen
Comment[lg]=Enteekateeka z’ebifo eby’okukoleramu
Comment[ln]=Ba Paramètres ya bisika ya mosala
Comment[lo]=ການຕັ້ງຄ່າພື້ນທີ່ເຮັດວຽກ
Comment[lt]=Darbo sričių nustatymai
Comment[lv]=Darbvietu iestatījumi
Comment[mg]=Toeram-piasana
Comment[mi]=Tautuhinga Mokowāmahi
Comment[mk]=Поставки за работни простори
Comment[ml]=വർക്ക്u200cസ്u200cപെയ്u200cസ് ക്രമീകരണങ്ങൾ
Comment[mn]=Ажлын талбарын тохиргоо
Comment[mr]=कार्यस्थान सेटिंग्ज
Comment[ms]=Tetapan Ruang Kerja
Comment[mt]=Settings tal-Ispazji tax-Xogħol
Comment[my]=အလုပ်နေရာ ဆက်တင်များ
Comment[ne]=कार्यस्थान सेटिङहरू
Comment[nl]=Instellingen voor werkruimten
Comment[no]=Arbeidsområdeinnstillinger
Comment[ny]=Zokonda Malo Ogwirira Ntchito
Comment[om]=Sajoo Iddoowwan Hojii
Comment[or]=କାର୍ଯ୍ୟକ୍ଷେତ୍ର ସେଟିଂସମୂହ |
Comment[pa]=ਵਰਕਸਪੇਸ ਸੈਟਿੰਗਾਂ
Comment[pl]=Ustawienia obszarów roboczych
Comment[ps]=ﺕﺎﺒﯿﺗﺮﺗ ﻮﻧﻮﯾﺎځ ﻱﺭﺎﮐ ﺩ
Comment[pt]=Configurações do Workspaces
Comment[qu]=Llamkana pampakuna Ajustes
Comment[ro]=Setări spații de lucru
Comment[ru]=Настройки рабочих мест
Comment[rw]=Umwanya Umwanya Igenamiterere
Comment[sa]=कार्यक्षेत्र सेटिंग्स्
Comment[sd]=ﻥﻮﮕﻨٽﻴﺳ ﺲﻴﭙﺳﺍ ﻢڪ
Comment[si]=වැඩබිම් සැකසීම්
Comment[sk]=Nastavenia pracovných priestorov
Comment[sl]=Nastavitve delovnih prostorov
Comment[sm]=Fa'atonuga avanoa
Comment[sn]=Nzvimbo dzekushanda Settings
Comment[so]=Dejinta goobaha shaqada
Comment[sq]=Cilësimet e hapësirave të punës
Comment[st]=Litlhophiso tsa Libaka tsa Mosebetsi
Comment[su]=Setélan Workspaces
Comment[sv]=Inställningar för arbetsytor
Comment[sw]=Mipangilio ya Nafasi za Kazi
Comment[ta]=பணியிட அமைப்புகள்
Comment[te]=కార్యస్థలాల సెట్టింగ్u200cలు
Comment[tg]=Танзимоти ҷойҳои корӣ
Comment[th]=การตั้งค่าพื้นที่ทำงาน
Comment[ti]=ናይ ስራሕ ቦታታት ቅጥዕታት
Comment[tk]=Iş ýerleri sazlamalary
Comment[tl]=Mga Setting ng Workspaces
Comment[to]=Workspaces Settings
Comment[tr]=Çalışma Alanları Ayarları
Comment[ts]=Switirhisiwa swa Tindhawu to Tirha
Comment[tt]=Эш урыннары көйләүләре
Comment[tw]=Adwumayɛbea Nsiesiei
Comment[ty]=Te mau vahi raveraa ohipa
Comment[ug]=ﻰﻜﯩﺸﯕەﺗ ﻰﻗﯘﻠﺷﻮﺑ ﺕەﻣﺰﯩﺧ
Comment[uk]=Налаштування робочих областей
Comment[ur]=ﺕﺎﺒﯿﺗﺮﺗ ﯽﮐ ﺲﯿﭙﺳﺍ ﮎﺭﻭ
Comment[uz]=Ish joylari sozlamalari
Comment[vi]=Cài đặt không gian làm việc
Comment[xh]=Iisetingi zeendawo zokusebenza
Comment[yi]=סגניטטעס סעסאַפּסקראָוו
Comment[yo]=Eto Awọn aaye iṣẹ
Comment[zh]=工作区设置
Comment[zu]=Izilungiselelo Zezindawo zokusebenza
Comment=Workspaces Settings
Exec=xfce-setting-show workspaces
Icon=xfce4-workspaces
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Workspaces Settings
