[Desktop Entry]
Encoding=UTF-8
Name[be]=FTP-кліент gFTP
Name[bg]=gFTP ftp клиент
Name[da]=gFTP ftp-klient
Name[nl]=gFTP ftp-client
Name[fi]=gFTP ftp asiakas
Name[fr]=Client FTP gFTP
Name[de]=gFTP-FTP-Client
Name[el]=GFTP ftp-πελάτης
Name[hu]=gFTP ftp kliens
Name[is]=gFTP ftp viðskiptavinur
Name[it]=client ftp gFTP
Name[mk]=gFTP ftp клиент
Name[no]=gFTP ftp-klient
Name[pl]=Klient ftp gFTP
Name[pt]=cliente FTP gFTP
Name[ro]=client ftp gFTP
Name[ru]=gFTP FTP-клиент
Name[es]=cliente ftp gFTP
Name[sv]=gFTP ftp-klient
Name[tr]=gFTP ftp istemcisi
Name[uk]=FTP-клієнт gFTP
Name=gFTP ftp client
Icon=mini-ftp.xpm
Comment[be]=FTP-кліент gFTP
Comment[bg]=gFTP ftp клиент
Comment[da]=gFTP ftp-klient
Comment[nl]=gFTP ftp-client
Comment[fi]=gFTP ftp asiakas
Comment[fr]=Client FTP gFTP
Comment[de]=gFTP-FTP-Client
Comment[el]=GFTP ftp-πελάτης
Comment[hu]=gFTP ftp kliens
Comment[is]=gFTP ftp viðskiptavinur
Comment[it]=client ftp gFTP
Comment[mk]=gFTP ftp клиент
Comment[no]=gFTP ftp-klient
Comment[pl]=Klient ftp gFTP
Comment[pt]=cliente FTP gFTP
Comment[ro]=client ftp gFTP
Comment[ru]=gFTP FTP-клиент
Comment[es]=cliente ftp gFTP
Comment[sv]=gFTP ftp-klient
Comment[tr]=gFTP ftp istemcisi
Comment[uk]=FTP-клієнт gFTP
Comment=gFTP ftp client
Exec=gftp
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=gFTP
