[Desktop Entry]
Encoding=UTF-8
Name[af]=Retrovol klankmenger
Name[am]=Retrovol የድምጽ ቀላቃይ
Name[ar]=ﻝﻮﻓﻭﺮﺘﻳﺭ ﺕﻮﺻ ﻁﻼ﻿ﺧ
Name[as]=ৰেট্ৰ’ভল শব্দ মিক্সাৰ
Name[ay]=Retrovol ukax mä mezclador de sonido satawa
Name[az]=Retrovol səs qarışdırıcı
Name[ba]=Ретроволь тауыш ҡатнашмаһы
Name[be]=Гукавы мікшар Retrovol
Name[bg]=Звуков миксер Retrovol
Name[bm]=Retrovol mankan-minɛlan
Name[bn]=রেট্রোভল সাউন্ড মিক্সার
Name[bo]=སྒྲ་མཉམ་བསྲེས་འཕྲུལ་ཆས།
Name[bs]=Retrovol mikser zvuka
Name[ca]=Mesclador de so retrovol
Name[co]=Mixer di sonu retrovol
Name[cs]=Retrovol mixážní pult
Name[cy]=Cymysgydd sain Retrolol
Name[da]=Retrovol lydmixer
Name[de]=Retrovol-Soundmischer
Name[dv]=ވެރެސަކްމި ޑްންއުސަ ލްވޯރޯޓްރެ
Name[ee]=Retrovol gbeɖiɖi ƒe tsakatsaka
Name[el]=Μίκτης ήχου Retrovol
Name[eo]=Retrovol sonmiksilo
Name[es]=Mezclador de sonido retrovol
Name[et]=Retrovol helimikser
Name[eu]=Retrovol soinu nahasgailua
Name[fa]=Retrovol ﺍﺪﺻ ﺮﺴﮑﯿﻣ
Name[fi]=Retrovol äänimikseri
Name[fj]=Dauveiwaki ni rorogo retrovol
Name[fo]=Retrovol ljóða blandar
Name[fr]=Mixeur son retrovol
Name[fy]=Retrovol lûdmixer
Name[ga]=Retrovol meascthóir fuaime
Name[gd]=Retrovol measgachadh fuaim
Name[gl]=Mesturador de son retrovol
Name[gn]=Mezclador de sonido retrovol rehegua
Name[gu]=રેટ્રોવોલ સાઉન્ડ મિક્સર
Name[ha]=Mai haɗa sauti Retrovol
Name[he]=לובורטר דנואס לברעמ
Name[hi]=रेट्रोवोल ध्वनि मिक्सर
Name[hr]=Retrovol mikser zvuka
Name[ht]=Retrovol son mixer
Name[hu]=Retrovol hangkeverő
Name[hy]=Retrovol ձայնային խառնիչ
Name[id]=Pencampur suara retrovol
Name[ig]=Retrovol ụda igwekota
Name[is]=Retrovol hljóðblöndunartæki
Name[it]=Mixer audio retrovol
Name[iu]=ᓂᐱᒧᑦ ᐊᑯᑉᓕᖅᓯᔾᔪᑎ
Name[ja]=Retrovol サウンド ミキサー
Name[jv]=Mixer swara retrovol
Name[ka]=Retrovol ხმის მიქსერი
Name[kk]=Ретровол дыбыс араластырғышы
Name[km]=ឧបករណ៍លាយសំឡេង Retrovol
Name[kn]=ರೆಟ್ರೋವಾಲ್ ಸೌಂಡ್ ಮಿಕ್ಸರ್
Name[ko]=Retrovol 사운드 믹서
Name[ku]=Miksera dengê Retrovol
Name[ky]=Retrovol үн аралаштыргыч
Name[la]=Retrovol sonus mixer
Name[lb]=Retrovol Soundmixer
Name[lg]=Ekyuma ekitabula amaloboozi ekya Retrovol
Name[ln]=Mélangeur ya son retrovol
Name[lo]=ເຄື່ອງປະສົມສຽງ Retrovol
Name[lt]=Retrovol garso mikseris
Name[lv]=Retrovol skaņas mikseris
Name[mg]=Retrovol feo mixer
Name[mi]=Whakaranu tangi Retrovol
Name[mk]=Миксер за звук Retrovol
Name[ml]=റെട്രോവോൾ സൗണ്ട് മിക്സർ
Name[mn]=Retrovol дууны холигч
Name[mr]=रेट्रोव्होल साउंड मिक्सर
Name[ms]=Pengadun bunyi retrovol
Name[mt]=Mixer tal-ħoss retrovol
Name[my]=Retrovol အသံရောနှောစက်
Name[ne]=Retrovol ध्वनि मिक्सर
Name[nl]=Retrovol geluidsmixer
Name[no]=Retrovol lydmikser
Name[ny]=Retrovol sound mixer
Name[om]=Sagalee makaa retrovol
Name[or]=ରେଟ୍ରୋଭୋଲ୍ ସାଉଣ୍ଡ୍ ମିକ୍ସର୍ |
Name[pa]=Retrovol ਆਵਾਜ਼ ਮਿਕਸਰ
Name[pl]=Mikser dźwięku Retrovol
Name[ps]=Retrovol ﺮﺴﮑﻣ ږﻏ
Name[pt]=Misturador de som retrovol
Name[qu]=Retrovol nisqa t’uqyay mezclador
Name[ro]=Mixer de sunet retrovol
Name[ru]=Звуковой микшер Retrovol
Name[rw]=Retrovol amajwi avanga
Name[sa]=रेट्रोवोल् ध्वनिमिश्रकः
Name[sd]=Retrovol ﺮڪﻴﻣ ﺯﺍﻭﺁ
Name[si]=Retrovol ශබ්ද මිශ්රකය
Name[sk]=Retrovol zvukový mixpult
Name[sl]=Mešalnik zvoka Retrovol
Name[sm]=Retrovol fa'afefiloi leo
Name[sn]=Retrovol inzwi musanganisi
Name[so]=Isku-darka dhawaaqa Retrovol
Name[sq]=Mikser i zërit Retrovol
Name[st]=Motsoako oa molumo oa Retrovol
Name[su]=Retrovol sora mixer
Name[sv]=Retrovol ljudmixer
Name[sw]=Mchanganyiko wa sauti ya retrovol
Name[ta]=ரெட்ரோவால் ஒலி கலவை
Name[te]=రెట్రోవోల్ సౌండ్ మిక్సర్
Name[tg]=Миксери садои Retrovol
Name[th]=เครื่องผสมเสียง Retrovol
Name[ti]=ሬትሮቮል ድምጺ መሕወሲ
Name[tk]=Retrovol ses garyjy
Name[tl]=Retrovol sound mixer
Name[to]=Retrovol ongo mixer
Name[tr]=Retrovol ses karıştırıcı
Name[ts]=Xihlanganisi xa mpfumawulo xa retrovol
Name[tt]=Ретровол тавыш миксеры
Name[tw]=Retrovol nnyigyei a wɔde frafra
Name[ty]=Te mau mana'o tauturu no te haapiiraa
Name[ug]=Retrovol ﭺﯘﻏﺭﯘﺘﺷﻼ﻿ﯨﺭﺎﺋ ﺯﺍﯞﺎﺋ
Name[uk]=Звуковий мікшер Retrovol
Name[ur]=ﺮﺴﮑﻣ ﮉﻧﺅﺎﺳ ﻝﻭﻭﺮﭩﯾﺭ
Name[uz]=Retrovol ovoz mikser
Name[vi]=Bộ trộn âm thanh Retrovol
Name[xh]=Umxube wesandi we-Retrovol
Name[yi]=רעסקימ טנוזעג לאָוואָרטער
Name[yo]=Retrovol ohun aladapo
Name[zh]=Retrovol 混音器
Name[zu]=I-Retrovol sound mixer
Name=Retrovol sound mixer
Icon=mini-sound.xpm
Comment[af]=Retrovol klankmenger
Comment[am]=Retrovol የድምጽ ቀላቃይ
Comment[ar]=ﻝﻮﻓﻭﺮﺘﻳﺭ ﺕﻮﺻ ﻁﻼ﻿ﺧ
Comment[as]=ৰেট্ৰ’ভল শব্দ মিক্সাৰ
Comment[ay]=Retrovol ukax mä mezclador de sonido satawa
Comment[az]=Retrovol səs qarışdırıcı
Comment[ba]=Ретроволь тауыш ҡатнашмаһы
Comment[be]=Гукавы мікшар Retrovol
Comment[bg]=Звуков миксер Retrovol
Comment[bm]=Retrovol mankan-minɛlan
Comment[bn]=রেট্রোভল সাউন্ড মিক্সার
Comment[bo]=སྒྲ་མཉམ་བསྲེས་འཕྲུལ་ཆས།
Comment[bs]=Retrovol mikser zvuka
Comment[ca]=Mesclador de so retrovol
Comment[co]=Mixer di sonu retrovol
Comment[cs]=Retrovol mixážní pult
Comment[cy]=Cymysgydd sain Retrolol
Comment[da]=Retrovol lydmixer
Comment[de]=Retrovol-Soundmischer
Comment[dv]=ވެރެސަކްމި ޑްންއުސަ ލްވޯރޯޓްރެ
Comment[ee]=Retrovol gbeɖiɖi ƒe tsakatsaka
Comment[el]=Μίκτης ήχου Retrovol
Comment[eo]=Retrovol sonmiksilo
Comment[es]=Mezclador de sonido retrovol
Comment[et]=Retrovol helimikser
Comment[eu]=Retrovol soinu nahasgailua
Comment[fa]=Retrovol ﺍﺪﺻ ﺮﺴﮑﯿﻣ
Comment[fi]=Retrovol äänimikseri
Comment[fj]=Dauveiwaki ni rorogo retrovol
Comment[fo]=Retrovol ljóða blandar
Comment[fr]=Mixeur son retrovol
Comment[fy]=Retrovol lûdmixer
Comment[ga]=Retrovol meascthóir fuaime
Comment[gd]=Retrovol measgachadh fuaim
Comment[gl]=Mesturador de son retrovol
Comment[gn]=Mezclador de sonido retrovol rehegua
Comment[gu]=રેટ્રોવોલ સાઉન્ડ મિક્સર
Comment[ha]=Mai haɗa sauti Retrovol
Comment[he]=לובורטר דנואס לברעמ
Comment[hi]=रेट्रोवोल ध्वनि मिक्सर
Comment[hr]=Retrovol mikser zvuka
Comment[ht]=Retrovol son mixer
Comment[hu]=Retrovol hangkeverő
Comment[hy]=Retrovol ձայնային խառնիչ
Comment[id]=Pencampur suara retrovol
Comment[ig]=Retrovol ụda igwekota
Comment[is]=Retrovol hljóðblöndunartæki
Comment[it]=Mixer audio retrovol
Comment[iu]=ᓂᐱᒧᑦ ᐊᑯᑉᓕᖅᓯᔾᔪᑎ
Comment[ja]=Retrovol サウンド ミキサー
Comment[jv]=Mixer swara retrovol
Comment[ka]=Retrovol ხმის მიქსერი
Comment[kk]=Ретровол дыбыс араластырғышы
Comment[km]=ឧបករណ៍លាយសំឡេង Retrovol
Comment[kn]=ರೆಟ್ರೋವಾಲ್ ಸೌಂಡ್ ಮಿಕ್ಸರ್
Comment[ko]=Retrovol 사운드 믹서
Comment[ku]=Miksera dengê Retrovol
Comment[ky]=Retrovol үн аралаштыргыч
Comment[la]=Retrovol sonus mixer
Comment[lb]=Retrovol Soundmixer
Comment[lg]=Ekyuma ekitabula amaloboozi ekya Retrovol
Comment[ln]=Mélangeur ya son retrovol
Comment[lo]=ເຄື່ອງປະສົມສຽງ Retrovol
Comment[lt]=Retrovol garso mikseris
Comment[lv]=Retrovol skaņas mikseris
Comment[mg]=Retrovol feo mixer
Comment[mi]=Whakaranu tangi Retrovol
Comment[mk]=Миксер за звук Retrovol
Comment[ml]=റെട്രോവോൾ സൗണ്ട് മിക്സർ
Comment[mn]=Retrovol дууны холигч
Comment[mr]=रेट्रोव्होल साउंड मिक्सर
Comment[ms]=Pengadun bunyi retrovol
Comment[mt]=Mixer tal-ħoss retrovol
Comment[my]=Retrovol အသံရောနှောစက်
Comment[ne]=Retrovol ध्वनि मिक्सर
Comment[nl]=Retrovol geluidsmixer
Comment[no]=Retrovol lydmikser
Comment[ny]=Retrovol sound mixer
Comment[om]=Sagalee makaa retrovol
Comment[or]=ରେଟ୍ରୋଭୋଲ୍ ସାଉଣ୍ଡ୍ ମିକ୍ସର୍ |
Comment[pa]=Retrovol ਆਵਾਜ਼ ਮਿਕਸਰ
Comment[pl]=Mikser dźwięku Retrovol
Comment[ps]=Retrovol ﺮﺴﮑﻣ ږﻏ
Comment[pt]=Misturador de som retrovol
Comment[qu]=Retrovol nisqa t’uqyay mezclador
Comment[ro]=Mixer de sunet retrovol
Comment[ru]=Звуковой микшер Retrovol
Comment[rw]=Retrovol amajwi avanga
Comment[sa]=रेट्रोवोल् ध्वनिमिश्रकः
Comment[sd]=Retrovol ﺮڪﻴﻣ ﺯﺍﻭﺁ
Comment[si]=Retrovol ශබ්ද මිශ්රකය
Comment[sk]=Retrovol zvukový mixpult
Comment[sl]=Mešalnik zvoka Retrovol
Comment[sm]=Retrovol fa'afefiloi leo
Comment[sn]=Retrovol inzwi musanganisi
Comment[so]=Isku-darka dhawaaqa Retrovol
Comment[sq]=Mikser i zërit Retrovol
Comment[st]=Motsoako oa molumo oa Retrovol
Comment[su]=Retrovol sora mixer
Comment[sv]=Retrovol ljudmixer
Comment[sw]=Mchanganyiko wa sauti ya retrovol
Comment[ta]=ரெட்ரோவால் ஒலி கலவை
Comment[te]=రెట్రోవోల్ సౌండ్ మిక్సర్
Comment[tg]=Миксери садои Retrovol
Comment[th]=เครื่องผสมเสียง Retrovol
Comment[ti]=ሬትሮቮል ድምጺ መሕወሲ
Comment[tk]=Retrovol ses garyjy
Comment[tl]=Retrovol sound mixer
Comment[to]=Retrovol ongo mixer
Comment[tr]=Retrovol ses karıştırıcı
Comment[ts]=Xihlanganisi xa mpfumawulo xa retrovol
Comment[tt]=Ретровол тавыш миксеры
Comment[tw]=Retrovol nnyigyei a wɔde frafra
Comment[ty]=Te mau mana'o tauturu no te haapiiraa
Comment[ug]=Retrovol ﭺﯘﻏﺭﯘﺘﺷﻼ﻿ﯨﺭﺎﺋ ﺯﺍﯞﺎﺋ
Comment[uk]=Звуковий мікшер Retrovol
Comment[ur]=ﺮﺴﮑﻣ ﮉﻧﺅﺎﺳ ﻝﻭﻭﺮﭩﯾﺭ
Comment[uz]=Retrovol ovoz mikser
Comment[vi]=Bộ trộn âm thanh Retrovol
Comment[xh]=Umxube wesandi we-Retrovol
Comment[yi]=רעסקימ טנוזעג לאָוואָרטער
Comment[yo]=Retrovol ohun aladapo
Comment[zh]=Retrovol 混音器
Comment[zu]=I-Retrovol sound mixer
Comment=Retrovol sound mixer
Exec=retrovol
Terminal=false
Type=Application
Categories=X-Multimedia-sound
GenericName=Retrovol
