[Desktop Entry]
Encoding=UTF-8
Name[af]=XArchive argiefhouer
Name[am]=XArchive መዝገብ ቤት
Name[ar]=XArchive ﻲﻔﻴﺷﺭﺃ
Name[as]=XArchive আৰ্কাইভাৰ
Name[ay]=XArchive ukax mä archivador ukhamawa
Name[az]=XArchive arxivi
Name[ba]=XArchive архиверы
Name[be]=Архіватар XArchive
Name[bg]=Архиватор XArchive
Name[bm]=XArchive ka sɛbɛnmarayɔrɔ
Name[bn]=XArchive আর্কাইভার
Name[bo]=XArchive Archiver
Name[bs]=XArchive archiver
Name[ca]=Arxivador XArchive
Name[co]=XArchive archiver
Name[cs]=Archivátor XArchive
Name[cy]=Archifydd XArchive
Name[da]=XArchive arkiver
Name[de]=XArchive-Archiver
Name[dv]=ފްޝީރުއަ ވްއިކަރއާސްކްއެ
Name[ee]=XArchive ƒe nudzraɖoƒe
Name[el]=Αρχειοθέτηση XArchive
Name[eo]=XArchive-arkivisto
Name[es]=archivador XArchive
Name[et]=XArhiivi arhiveerija
Name[eu]=XArchive artxibatzailea
Name[fa]=XArchive ﯽﻧﺎﮕﯾﺎﺑ
Name[fi]=XArkiston arkistointi
Name[fj]=XArchive archiver
Name[fo]=XArchive archiver
Name[fr]=Archiveur XArchive
Name[fy]=XArchive argyf
Name[ga]=Cartlannaí XArchive
Name[gd]=Tasglann XArchive
Name[gl]=Arquivo XArchive
Name[gn]=XArchive archivador rehegua
Name[gu]=XArchive archiver
Name[ha]=XArchiver
Name[he]=XArchive ןויכרא
Name[hi]=एक्सआर्काइव संग्रहकर्ता
Name[hr]=XArchive arhiver
Name[ht]=XArchive achiv
Name[hu]=XArchive archiváló
Name[hy]=XArchive արխիվ
Name[id]=Pengarsip XArchive
Name[ig]=Ihe ndekọ nke XArchive
Name[is]=XArchive skjalavörður
Name[it]=Archiviatore XArchive
Name[iu]=Xᐃᑭᐊᖅᑭᐅᕐᕕᒥᓂᖅ
Name[ja]=XArchive アーカイバ
Name[jv]=Arsip XArsip
Name[ka]=XArchive არქივი
Name[kk]=XArchive мұрағатшысы
Name[km]=បណ្ណសារ XArchive
Name[kn]=ಎಕ್ಸ್ ಆರ್ಕೈವ್ ಆರ್ಕೈವರ್
Name[ko]=XArchive 아카이버
Name[ku]=Arşîva XArşîvê
Name[ky]=XArchive архиви
Name[la]=XArchive archiver
Name[lb]=XArchive Archiver
Name[lg]=XArchive omukuumi w'ebitabo
Name[ln]=XArchive ya archive
Name[lo]=ຄັງເກັບ XArchive
Name[lt]=XArchyvo archyvatorius
Name[lv]=XArhīva arhivētājs
Name[mg]=XArchive archiver
Name[mi]=XArchive pūranga
Name[mk]=Архиватор на XArchive
Name[ml]=എക്സ്ആർക്കൈവ് ആർക്കൈവർ
Name[mn]=XArchive архивлагч
Name[mr]=XArchive archiver
Name[ms]=XArkib arkib
Name[mt]=XArchive archiver
Name[my]=XArchive မော်ကွန်းတိုက်
Name[ne]=XArchive archiver
Name[nl]=XArchive-archiver
Name[no]=XArchive arkiver
Name[ny]=XArchiver archive
Name[om]=Kuusaa XArchive
Name[or]=XArchive archiver
Name[pa]=XArchive ਪੁਰਾਲੇਖ
Name[pl]=XArchiwizator
Name[ps]=XArchive ﻒﯿﺷﺭﺁ
Name[pt]=Arquivador XArchive
Name[qu]=XArchive waqaychaq
Name[ro]=Arhivatorul XArchive
Name[ru]=Архиватор XArchive
Name[rw]=Ububiko bwa XArchive
Name[sa]=XArchive संग्रहकर्ता
Name[sd]=XArchive ﻮﻴﺋﺎڪﺭﺁ
Name[si]=XArchive archiver
Name[sk]=Archivátor XArchive
Name[sl]=Arhivator XArchive
Name[sm]=XArchive faila
Name[sn]=XArchiver archive
Name[so]=Kaydka XArchive
Name[sq]=Arkivi i XArkivit
Name[st]=XArchive archiver
Name[su]=XArsip arsip
Name[sv]=XArchive arkiverare
Name[sw]=X Hifadhi ya kumbukumbu
Name[ta]=XArchive archiver
Name[te]=Xఆర్కైవ్ ఆర్కైవర్
Name[tg]=XArchive бойгонӣ
Name[th]=XArchive ผู้จัดเก็บ
Name[ti]=XArchive ማህደር
Name[tk]=XArhive arhiwi
Name[tl]=XArchive archiver
Name[to]=XArchive archiver
Name[tr]=XArchive arşivleyici
Name[ts]=XArchive ya vuhlayiselo bya swilo
Name[tt]=XArchive архивы
Name[tw]=XArchive akoraeɛ
Name[ty]=XArchive archiver
Name[ug]=XArchive ﻰﭙﯩﺧﺭﺎﺋ
Name[uk]=Архіватор XArchive
Name[ur]=ﺭﻮﯿﺋﺎﮐﺭﺁ ﻮﯿﺋﺎﮐﺭﺁ ﺲﮑﯾﺍ
Name[uz]=XArchive arxivi
Name[vi]=Trình lưu trữ XArchive
Name[xh]=XUgcino lovimba
Name[yi]=XArchive רעווישטראַ
Name[yo]=Apamọwọ XArchive
Name[zh]=XArchive归档器
Name[zu]=XFaka kungobo yomlando
Name=XArchive archiver
Icon=package.xpm
Comment[af]=XArchive argiefhouer
Comment[am]=XArchive መዝገብ ቤት
Comment[ar]=XArchive ﻲﻔﻴﺷﺭﺃ
Comment[as]=XArchive আৰ্কাইভাৰ
Comment[ay]=XArchive ukax mä archivador ukhamawa
Comment[az]=XArchive arxivi
Comment[ba]=XArchive архиверы
Comment[be]=Архіватар XArchive
Comment[bg]=Архиватор XArchive
Comment[bm]=XArchive ka sɛbɛnmarayɔrɔ
Comment[bn]=XArchive আর্কাইভার
Comment[bo]=XArchive Archiver
Comment[bs]=XArchive archiver
Comment[ca]=Arxivador XArchive
Comment[co]=XArchive archiver
Comment[cs]=Archivátor XArchive
Comment[cy]=Archifydd XArchive
Comment[da]=XArchive arkiver
Comment[de]=XArchive-Archiver
Comment[dv]=ފްޝީރުއަ ވްއިކަރއާސްކްއެ
Comment[ee]=XArchive ƒe nudzraɖoƒe
Comment[el]=Αρχειοθέτηση XArchive
Comment[eo]=XArchive-arkivisto
Comment[es]=archivador XArchive
Comment[et]=XArhiivi arhiveerija
Comment[eu]=XArchive artxibatzailea
Comment[fa]=XArchive ﯽﻧﺎﮕﯾﺎﺑ
Comment[fi]=XArkiston arkistointi
Comment[fj]=XArchive archiver
Comment[fo]=XArchive archiver
Comment[fr]=Archiveur XArchive
Comment[fy]=XArchive argyf
Comment[ga]=Cartlannaí XArchive
Comment[gd]=Tasglann XArchive
Comment[gl]=Arquivo XArchive
Comment[gn]=XArchive archivador rehegua
Comment[gu]=XArchive archiver
Comment[ha]=XArchiver
Comment[he]=XArchive ןויכרא
Comment[hi]=एक्सआर्काइव संग्रहकर्ता
Comment[hr]=XArchive arhiver
Comment[ht]=XArchive achiv
Comment[hu]=XArchive archiváló
Comment[hy]=XArchive արխիվ
Comment[id]=Pengarsip XArchive
Comment[ig]=Ihe ndekọ nke XArchive
Comment[is]=XArchive skjalavörður
Comment[it]=Archiviatore XArchive
Comment[iu]=Xᐃᑭᐊᖅᑭᐅᕐᕕᒥᓂᖅ
Comment[ja]=XArchive アーカイバ
Comment[jv]=Arsip XArsip
Comment[ka]=XArchive არქივი
Comment[kk]=XArchive мұрағатшысы
Comment[km]=បណ្ណសារ XArchive
Comment[kn]=ಎಕ್ಸ್ ಆರ್ಕೈವ್ ಆರ್ಕೈವರ್
Comment[ko]=XArchive 아카이버
Comment[ku]=Arşîva XArşîvê
Comment[ky]=XArchive архиви
Comment[la]=XArchive archiver
Comment[lb]=XArchive Archiver
Comment[lg]=XArchive omukuumi w'ebitabo
Comment[ln]=XArchive ya archive
Comment[lo]=ຄັງເກັບ XArchive
Comment[lt]=XArchyvo archyvatorius
Comment[lv]=XArhīva arhivētājs
Comment[mg]=XArchive archiver
Comment[mi]=XArchive pūranga
Comment[mk]=Архиватор на XArchive
Comment[ml]=എക്സ്ആർക്കൈവ് ആർക്കൈവർ
Comment[mn]=XArchive архивлагч
Comment[mr]=XArchive archiver
Comment[ms]=XArkib arkib
Comment[mt]=XArchive archiver
Comment[my]=XArchive မော်ကွန်းတိုက်
Comment[ne]=XArchive archiver
Comment[nl]=XArchive-archiver
Comment[no]=XArchive arkiver
Comment[ny]=XArchiver archive
Comment[om]=Kuusaa XArchive
Comment[or]=XArchive archiver
Comment[pa]=XArchive ਪੁਰਾਲੇਖ
Comment[pl]=XArchiwizator
Comment[ps]=XArchive ﻒﯿﺷﺭﺁ
Comment[pt]=Arquivador XArchive
Comment[qu]=XArchive waqaychaq
Comment[ro]=Arhivatorul XArchive
Comment[ru]=Архиватор XArchive
Comment[rw]=Ububiko bwa XArchive
Comment[sa]=XArchive संग्रहकर्ता
Comment[sd]=XArchive ﻮﻴﺋﺎڪﺭﺁ
Comment[si]=XArchive archiver
Comment[sk]=Archivátor XArchive
Comment[sl]=Arhivator XArchive
Comment[sm]=XArchive faila
Comment[sn]=XArchiver archive
Comment[so]=Kaydka XArchive
Comment[sq]=Arkivi i XArkivit
Comment[st]=XArchive archiver
Comment[su]=XArsip arsip
Comment[sv]=XArchive arkiverare
Comment[sw]=X Hifadhi ya kumbukumbu
Comment[ta]=XArchive archiver
Comment[te]=Xఆర్కైవ్ ఆర్కైవర్
Comment[tg]=XArchive бойгонӣ
Comment[th]=XArchive ผู้จัดเก็บ
Comment[ti]=XArchive ማህደር
Comment[tk]=XArhive arhiwi
Comment[tl]=XArchive archiver
Comment[to]=XArchive archiver
Comment[tr]=XArchive arşivleyici
Comment[ts]=XArchive ya vuhlayiselo bya swilo
Comment[tt]=XArchive архивы
Comment[tw]=XArchive akoraeɛ
Comment[ty]=XArchive archiver
Comment[ug]=XArchive ﻰﭙﯩﺧﺭﺎﺋ
Comment[uk]=Архіватор XArchive
Comment[ur]=ﺭﻮﯿﺋﺎﮐﺭﺁ ﻮﯿﺋﺎﮐﺭﺁ ﺲﮑﯾﺍ
Comment[uz]=XArchive arxivi
Comment[vi]=Trình lưu trữ XArchive
Comment[xh]=XUgcino lovimba
Comment[yi]=XArchive רעווישטראַ
Comment[yo]=Apamọwọ XArchive
Comment[zh]=XArchive归档器
Comment[zu]=XFaka kungobo yomlando
Comment=XArchive archiver
Exec=xarchive
Terminal=false
Type=Application
Categories=X-Utility-package
GenericName=XArchive
