[Desktop Entry]
Encoding=UTF-8
Name[af]=ISOMaster ISO-lêerredigeerder
Name[am]=ISOMaster ISO ፋይል አርታዒ
Name[ar]=ISOMaster ISO ﻒﻠﻣ ﺭﺮﺤﻣ
Name[as]=ISOMaster ISO নথিপত্ৰ সম্পাদক
Name[ay]=ISOMaster ISO qillqatanak uñakipiri
Name[az]=ISOMaster ISO fayl redaktoru
Name[ba]=ISOMaster ISO файл мөхәррире
Name[be]=Рэдактар файлаў ISOMaster ISO
Name[bg]=ISOMaster ISO файлов редактор
Name[bm]=ISOMaster ISO filenw ɲɛnabɔbaga
Name[bn]=ISOMaster ISO ফাইল সম্পাদক
Name[bo]=ISOMaster ISO ཡིག་ཆའི་རྩོམ་སྒྲིག་པ།
Name[bs]=ISOMaster ISO uređivač datoteka
Name[ca]=Editor de fitxers ISOMaster ISO
Name[co]=Editore di file ISO ISOMaster
Name[cs]=ISOMaster editor souborů ISO
Name[cy]=Golygydd ffeiliau ISOMaster ISO
Name[da]=ISOMaster ISO fil editor
Name[de]=ISOMaster ISO-Dateieditor
Name[dv]=ރޓަޑިއެ ލްއިފަ އޯސްއެއިއަ ރޓަސްމާއޯސްއެއިއަ
Name[ee]=ISOMaster ISO ƒe faɛl ɖɔlila
Name[el]=Πρόγραμμα επεξεργασίας αρχείων ISOMaster ISO
Name[en]=ISOMaster ISO file editor
Name[eo]=ISOMaster ISO-dosierredaktilo
Name[es]=Editor de archivos ISO ISOMaster
Name[et]=ISOMaster ISO-failide redaktor
Name[eu]=ISOMaster ISO fitxategien editorea
Name[fa]=ISOMaster ISO ﻞﯾﺎﻓ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=ISOMaster ISO-tiedostoeditori
Name[fj]=ISOMaster ISO Edita ni faile
Name[fo]=ISOMaster ISO file editor
Name[fr]=Éditeur de fichiers ISO ISOMaster
Name[fy]=ISOMaster ISO triem bewurker
Name[ga]=Eagarthóir comhaid ISOMaster ISO
Name[gd]=Deasaiche faidhle ISOMaster ISO
Name[gl]=Editor de ficheiros ISO ISOMaster
Name[gn]=ISOMaster ISO vore mohendaha
Name[gu]=ISOMaster ISO ફાઇલ સંપાદક
Name[ha]=ISOMaster ISO fayil editan
Name[he]=ISOMaster ISO יצבק ךרוע
Name[hi]=आईएसओमास्टर आईएसओ फ़ाइल संपादक
Name[hr]=ISOMaster ISO uređivač datoteka
Name[ht]=ISOMaster ISO editè dosye
Name[hu]=ISOMaster ISO fájlszerkesztő
Name[hy]=ISOMaster ISO ֆայլերի խմբագիր
Name[id]=Editor file ISO Master ISO
Name[ig]=ISOMaster ISO faịlụ nchịkọta akụkọ
Name[is]=ISOMaster ISO skrá ritstjóri
Name[it]=Editor di file ISO ISOMaster
Name[iu]=ISOMaster ISO−ᒧᑦ ᑐᖅᑯᖅᓯᓯᒪᓂᕐᒧᑦ ᑎᑎᕋᖅᑎ
Name[ja]=ISOMaster ISO ファイルエディター
Name[jv]=Editor file ISOMaster ISO
Name[ka]=ISOMaster ISO ფაილის რედაქტორი
Name[kk]=ISOMaster ISO файл редакторы
Name[km]=កម្មវិធីនិពន្ធឯកសារ ISOMaster ISO
Name[kn]=ISOMaster ISO ಫೈಲ್ ಎಡಿಟರ್
Name[ko]=ISOMaster ISO 파일 편집기
Name[ku]=Edîtorê pelê ISOMaster ISO
Name[ky]=ISOMaster ISO файл редактору
Name[la]=ISOMaster ISO lima editor
Name[lb]=ISOMaster ISO Datei Editor
Name[lg]=ISOMaster Omuwandiisi wa fayiro ya ISO
Name[ln]=ISOMaster Mobongisi ya fisyé ISO
Name[lo]=ບັນນາທິການໄຟລ໌ ISOMaster ISO
Name[lt]=ISOMaster ISO failų rengyklė
Name[lv]=ISOMaster ISO failu redaktors
Name[mg]=ISOMaster ISO file editor
Name[mi]=ISOMaster ISO ētita kōnae
Name[mk]=ISOMaster ISO уредувач на датотеки
Name[ml]=ISOMaster ISO ഫയൽ എഡിറ്റർ
Name[mn]=ISOMaster ISO файл засварлагч
Name[mr]=ISOMaster ISO फाइल संपादक
Name[ms]=Editor fail ISOMaster ISO
Name[mt]=Editur tal-fajl ISOMaster ISO
Name[my]=ISOMaster ISO ဖိုင်တည်းဖြတ်သူ
Name[ne]=ISOMaster ISO फाइल सम्पादक
Name[nl]=ISOMaster ISO-bestandseditor
Name[no]=ISOMaster ISO-filredigerer
Name[ny]=ISOMaster ISO wapamwamba mkonzi
Name[om]=ISOMaster Gulaalaa faayilii ISO
Name[or]=ISOMaster ISO ଫାଇଲ୍ ଏଡିଟର୍ |
Name[pa]=ISOMaster ISO ਫਾਈਲ ਸੰਪਾਦਕ
Name[pl]=ISOMaster edytor plików ISO
Name[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ISOMaster ISO ﺩ
Name[pt]=Editor de arquivos ISOMaster ISO
Name[qu]=ISOMaster ISO willañiqi allichaq
Name[ro]=Editor de fișiere ISOMaster ISO
Name[ru]=Редактор ISO-файлов ISOMaster
Name[rw]=ISOMaster ISO umwanditsi
Name[sa]=ISOMaster ISO सञ्चिका सम्पादकः
Name[sd]=ISOMaster ISO ﺮٽﻳڊﻳﺍ ﻞﺋﺎﻓ
Name[si]=ISOMaster ISO ගොනු සංස්කාරකය
Name[sk]=ISOMaster editor súborov ISO
Name[sl]=Urejevalnik datotek ISOMaster ISO
Name[sm]=ISOMaster ISO faila faila
Name[sn]=ISOMaster ISO faira mupepeti
Name[so]=ISOMaster file editor
Name[sq]=Redaktori i skedarëve ISOMaster ISO
Name[st]=Mohlophisi oa faele ea ISOMaster ISO
Name[su]=Editor file ISOMaster ISO
Name[sv]=ISOMaster ISO-filredigerare
Name[sw]=Mhariri wa faili wa ISOMaster ISO
Name[ta]=ISOMaster ISO கோப்பு திருத்தி
Name[te]=ISOMaster ISO ఫైల్ ఎడిటర్
Name[tg]=Муҳаррири файли ISOMaster ISO
Name[th]=โปรแกรมแก้ไขไฟล์ ISOMaster ISO
Name[ti]=ISOMaster ISO ፋይል ኤዲተር
Name[tk]=ISOMaster ISO faýl redaktory
Name[tl]=ISOMaster ISO file editor
Name[to]=ISOMaster ISO ʻetita ʻo e faile
Name[tr]=ISOMaster ISO dosya düzenleyicisi
Name[ts]=ISOMaster Muhleri wa fayili ya ISO
Name[tt]=ISOMaster ISO файл редакторы
Name[tw]=ISOMaster ISO fael editor
Name[ty]=ISOMaster ISO file editor
Name[ug]=ISOMaster ISO ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﺕەﺠﺟﯚﮬ
Name[uk]=Редактор ISO-файлів ISOMaster
Name[ur]=ISOMaster ISO ﺮﭩﯾﮉﯾﺍ ﻞﺋﺎﻓ
Name[uz]=ISOMaster ISO fayl muharriri
Name[vi]=Trình chỉnh sửa tệp ISO ISOMaster
Name[xh]=Umhleli wefayile ye-ISOMaster ISO
Name[yi]=ISOMaster ראָטקאַדער עקעט אָסי
Name[yo]=ISOMaster ISO faili olootu
Name[zh]=ISOMaster ISO 文件编辑器
Name[zu]=Umhleli wefayela le-ISOMaster ISO
Name=ISOMaster ISO file editor
Icon=isomaster.png
Comment[af]=ISOMaster ISO-lêerredigeerder
Comment[am]=ISOMaster ISO ፋይል አርታዒ
Comment[ar]=ISOMaster ISO ﻒﻠﻣ ﺭﺮﺤﻣ
Comment[as]=ISOMaster ISO নথিপত্ৰ সম্পাদক
Comment[ay]=ISOMaster ISO qillqatanak uñakipiri
Comment[az]=ISOMaster ISO fayl redaktoru
Comment[ba]=ISOMaster ISO файл мөхәррире
Comment[be]=Рэдактар файлаў ISOMaster ISO
Comment[bg]=ISOMaster ISO файлов редактор
Comment[bm]=ISOMaster ISO filenw ɲɛnabɔbaga
Comment[bn]=ISOMaster ISO ফাইল সম্পাদক
Comment[bo]=ISOMaster ISO ཡིག་ཆའི་རྩོམ་སྒྲིག་པ།
Comment[bs]=ISOMaster ISO uređivač datoteka
Comment[ca]=Editor de fitxers ISOMaster ISO
Comment[co]=Editore di file ISO ISOMaster
Comment[cs]=ISOMaster editor souborů ISO
Comment[cy]=Golygydd ffeiliau ISOMaster ISO
Comment[da]=ISOMaster ISO fil editor
Comment[de]=ISOMaster ISO-Dateieditor
Comment[dv]=ރޓަޑިއެ ލްއިފަ އޯސްއެއިއަ ރޓަސްމާއޯސްއެއިއަ
Comment[ee]=ISOMaster ISO ƒe faɛl ɖɔlila
Comment[el]=Πρόγραμμα επεξεργασίας αρχείων ISOMaster ISO
Comment[en]=ISOMaster ISO file editor
Comment[eo]=ISOMaster ISO-dosierredaktilo
Comment[es]=Editor de archivos ISO ISOMaster
Comment[et]=ISOMaster ISO-failide redaktor
Comment[eu]=ISOMaster ISO fitxategien editorea
Comment[fa]=ISOMaster ISO ﻞﯾﺎﻓ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=ISOMaster ISO-tiedostoeditori
Comment[fj]=ISOMaster ISO Edita ni faile
Comment[fo]=ISOMaster ISO file editor
Comment[fr]=Éditeur de fichiers ISO ISOMaster
Comment[fy]=ISOMaster ISO triem bewurker
Comment[ga]=Eagarthóir comhaid ISOMaster ISO
Comment[gd]=Deasaiche faidhle ISOMaster ISO
Comment[gl]=Editor de ficheiros ISO ISOMaster
Comment[gn]=ISOMaster ISO vore mohendaha
Comment[gu]=ISOMaster ISO ફાઇલ સંપાદક
Comment[ha]=ISOMaster ISO fayil editan
Comment[he]=ISOMaster ISO יצבק ךרוע
Comment[hi]=आईएसओमास्टर आईएसओ फ़ाइल संपादक
Comment[hr]=ISOMaster ISO uređivač datoteka
Comment[ht]=ISOMaster ISO editè dosye
Comment[hu]=ISOMaster ISO fájlszerkesztő
Comment[hy]=ISOMaster ISO ֆայլերի խմբագիր
Comment[id]=Editor file ISO Master ISO
Comment[ig]=ISOMaster ISO faịlụ nchịkọta akụkọ
Comment[is]=ISOMaster ISO skrá ritstjóri
Comment[it]=Editor di file ISO ISOMaster
Comment[iu]=ISOMaster ISO−ᒧᑦ ᑐᖅᑯᖅᓯᓯᒪᓂᕐᒧᑦ ᑎᑎᕋᖅᑎ
Comment[ja]=ISOMaster ISO ファイルエディター
Comment[jv]=Editor file ISOMaster ISO
Comment[ka]=ISOMaster ISO ფაილის რედაქტორი
Comment[kk]=ISOMaster ISO файл редакторы
Comment[km]=កម្មវិធីនិពន្ធឯកសារ ISOMaster ISO
Comment[kn]=ISOMaster ISO ಫೈಲ್ ಎಡಿಟರ್
Comment[ko]=ISOMaster ISO 파일 편집기
Comment[ku]=Edîtorê pelê ISOMaster ISO
Comment[ky]=ISOMaster ISO файл редактору
Comment[la]=ISOMaster ISO lima editor
Comment[lb]=ISOMaster ISO Datei Editor
Comment[lg]=ISOMaster Omuwandiisi wa fayiro ya ISO
Comment[ln]=ISOMaster Mobongisi ya fisyé ISO
Comment[lo]=ບັນນາທິການໄຟລ໌ ISOMaster ISO
Comment[lt]=ISOMaster ISO failų rengyklė
Comment[lv]=ISOMaster ISO failu redaktors
Comment[mg]=ISOMaster ISO file editor
Comment[mi]=ISOMaster ISO ētita kōnae
Comment[mk]=ISOMaster ISO уредувач на датотеки
Comment[ml]=ISOMaster ISO ഫയൽ എഡിറ്റർ
Comment[mn]=ISOMaster ISO файл засварлагч
Comment[mr]=ISOMaster ISO फाइल संपादक
Comment[ms]=Editor fail ISOMaster ISO
Comment[mt]=Editur tal-fajl ISOMaster ISO
Comment[my]=ISOMaster ISO ဖိုင်တည်းဖြတ်သူ
Comment[ne]=ISOMaster ISO फाइल सम्पादक
Comment[nl]=ISOMaster ISO-bestandseditor
Comment[no]=ISOMaster ISO-filredigerer
Comment[ny]=ISOMaster ISO wapamwamba mkonzi
Comment[om]=ISOMaster Gulaalaa faayilii ISO
Comment[or]=ISOMaster ISO ଫାଇଲ୍ ଏଡିଟର୍ |
Comment[pa]=ISOMaster ISO ਫਾਈਲ ਸੰਪਾਦਕ
Comment[pl]=ISOMaster edytor plików ISO
Comment[ps]=ﺮﯾﺪﻣ ﻞﯾﺎﻓ ISOMaster ISO ﺩ
Comment[pt]=Editor de arquivos ISOMaster ISO
Comment[qu]=ISOMaster ISO willañiqi allichaq
Comment[ro]=Editor de fișiere ISOMaster ISO
Comment[ru]=Редактор ISO-файлов ISOMaster
Comment[rw]=ISOMaster ISO umwanditsi
Comment[sa]=ISOMaster ISO सञ्चिका सम्पादकः
Comment[sd]=ISOMaster ISO ﺮٽﻳڊﻳﺍ ﻞﺋﺎﻓ
Comment[si]=ISOMaster ISO ගොනු සංස්කාරකය
Comment[sk]=ISOMaster editor súborov ISO
Comment[sl]=Urejevalnik datotek ISOMaster ISO
Comment[sm]=ISOMaster ISO faila faila
Comment[sn]=ISOMaster ISO faira mupepeti
Comment[so]=ISOMaster file editor
Comment[sq]=Redaktori i skedarëve ISOMaster ISO
Comment[st]=Mohlophisi oa faele ea ISOMaster ISO
Comment[su]=Editor file ISOMaster ISO
Comment[sv]=ISOMaster ISO-filredigerare
Comment[sw]=Mhariri wa faili wa ISOMaster ISO
Comment[ta]=ISOMaster ISO கோப்பு திருத்தி
Comment[te]=ISOMaster ISO ఫైల్ ఎడిటర్
Comment[tg]=Муҳаррири файли ISOMaster ISO
Comment[th]=โปรแกรมแก้ไขไฟล์ ISOMaster ISO
Comment[ti]=ISOMaster ISO ፋይል ኤዲተር
Comment[tk]=ISOMaster ISO faýl redaktory
Comment[tl]=ISOMaster ISO file editor
Comment[to]=ISOMaster ISO ʻetita ʻo e faile
Comment[tr]=ISOMaster ISO dosya düzenleyicisi
Comment[ts]=ISOMaster Muhleri wa fayili ya ISO
Comment[tt]=ISOMaster ISO файл редакторы
Comment[tw]=ISOMaster ISO fael editor
Comment[ty]=ISOMaster ISO file editor
Comment[ug]=ISOMaster ISO ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﺕەﺠﺟﯚﮬ
Comment[uk]=Редактор ISO-файлів ISOMaster
Comment[ur]=ISOMaster ISO ﺮﭩﯾﮉﯾﺍ ﻞﺋﺎﻓ
Comment[uz]=ISOMaster ISO fayl muharriri
Comment[vi]=Trình chỉnh sửa tệp ISO ISOMaster
Comment[xh]=Umhleli wefayile ye-ISOMaster ISO
Comment[yi]=ISOMaster ראָטקאַדער עקעט אָסי
Comment[yo]=ISOMaster ISO faili olootu
Comment[zh]=ISOMaster ISO 文件编辑器
Comment[zu]=Umhleli wefayela le-ISOMaster ISO
Comment=ISOMaster ISO file editor
Exec=isomaster
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=ISOMaster
