[Desktop Entry]
Name=Zoom video conference
Comment=Zoom Video Conference
Exec=zoom
Icon=zoom.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Network
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
