[Desktop Entry]
Version=1.0
Name=Chrome web browser
GenericName=Chrome
Comment=Access the Internet
Exec=chrome
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chrome48.png
Categories=X-Internet-browser
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Chrome
StartupNotify=true
