[Desktop Entry]
Encoding=UTF-8
Name=Axel download accelerator
Icon=mini-ftp.xpm
Comment=Axel download accelerator
Exec=puppydownload
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=Axel
