[Desktop Entry]
Name[af]=Epifanie webblaaier
Name[am]=Epiphany የድር አሳሽ
Name[ar]=ﺱﺎﻄﻐﻟﺍ ﺪﻴﻋ ﺐﻳﻮﻟﺍ ﺢﻔﺼﺘﻣ
Name[as]=এপিফেনি ৱেব ব্ৰাউজাৰ
Name[ay]=Epifanía ukax web ukan uñt’ayatawa
Name[az]=Epiphany veb brauzeri
Name[ba]=Epiphany веб-браузеры
Name[be]=Вэб-браўзэр Epiphany
Name[bg]=Уеб браузър Epiphany
Name[bm]=Epiphany web navigatɛri
Name[bn]=এপিফ্যানি ওয়েব ব্রাউজার
Name[bo]=Epiphany web browser
Name[bs]=Epiphany web pretraživač
Name[ca]=Navegador web Epiphany
Name[co]=U navigatore web Epiphany
Name[cs]=Webový prohlížeč Epiphany
Name[cy]=Porwr gwe Ystwyll
Name[da]=Epiphany webbrowser
Name[de]=Epiphany-Webbrowser
Name[dv]=ވެއެ ޒާއުރަބް ބްވެ ނީފަޕިއެ
Name[ee]=Epiphany ƒe nyatakakadzraɖoƒe
Name[el]=Το πρόγραμμα περιήγησης ιστού Epiphany
Name[en]=Epiphany web browser
Name[eo]=Epiphany TTT-legilo
Name[es]=Navegador web Epifanía
Name[et]=Epiphany veebibrauser
Name[eu]=Epiphany web arakatzailea
Name[fa]=Epiphany ﺏﻭ ﺮﮔﺭﻭﺮﻣ
Name[fi]=Epiphany verkkoselain
Name[fj]=Barausa ni mataveilawa ni Epiphany
Name[fo]=Epiphany web browser
Name[fr]=Navigateur Web Epiphany
Name[fy]=Epifany webblêder
Name[ga]=Epiphany brabhsálaí gréasáin
Name[gd]=Epiphany brabhsair-lìn a
Name[gl]=Navegador web epiphany
Name[gn]=Epifanía navegador web rehegua
Name[gu]=એપિફેની વેબ બ્રાઉઝર
Name[ha]=Epiphany web browser
Name[he]=Epiphany טנרטניא ןפדפד
Name[hi]=एपिफेनी वेब ब्राउज़र
Name[hr]=Epiphany web preglednik
Name[ht]=Epiphany navigatè entènèt
Name[hu]=Epiphany webböngésző
Name[hy]=Epiphany վեբ բրաուզեր
Name[id]=Peramban web Epiphany
Name[ig]=Epiphany ihe nchọgharị weebụ
Name[is]=Epiphany vefvafri
Name[it]=Browser web dell'Epifania
Name[iu]=Epiphany web ᕿᓂᕈᑎ
Name[ja]=Epiphany ウェブブラウザ
Name[jv]=browser web Epiphany
Name[ka]=Epiphany ვებ ბრაუზერი
Name[kk]=Epiphany веб-шолғышы
Name[km]=កម្មវិធីរុករកតាមអ៊ីនធឺណិត Epiphany
Name[kn]=ಎಪಿಫ್ಯಾನಿ ವೆಬ್ ಬ್ರೌಸರ್
Name[ko]=Epiphany 웹 브라우저
Name[ku]=geroka webê ya Epiphany
Name[ky]=Epiphany веб браузер
Name[la]=Epiphania interretialem pasco
Name[lb]=Epiphany Webbrowser
Name[lg]=Epiphany omukutu gwa yintaneeti
Name[ln]=Navigateur web ya Epiphany
Name[lo]=ຕົວທ່ອງເວັບຂອງ Epiphany
Name[lt]=Epiphany interneto naršyklė
Name[lv]=Epiphany tīmekļa pārlūkprogramma
Name[mg]=Epiphany tranonkala navigateur
Name[mi]=Tirotiro paetukutuku Epiphany
Name[mk]=Веб прелистувач на Богојавление
Name[ml]=എപ്പിഫാനി വെബ് ബ്രൗസർ
Name[mn]=Epiphany вэб хөтөч
Name[mr]=एपिफनी वेब ब्राउझर
Name[ms]=pelayar web Epiphany
Name[mt]=Web browser Epifanija
Name[my]=Epiphany ဝဘ်ဘရောက်ဆာ
Name[ne]=Epiphany वेब ब्राउजर
Name[nl]=Epiphany-webbrowser
Name[no]=Epiphany nettleser
Name[ny]=Msakatuli wa Epiphany
Name[om]=Epiphany weeb biraawzari
Name[or]=ଏପିଫାନି ୱେବ୍ ବ୍ରାଉଜର୍ |
Name[pa]=ਏਪੀਫਨੀ ਵੈੱਬ ਬ੍ਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa Epiphany
Name[ps]=Epiphany ﺭﺯﻭﺍﺮﺑ ﺐﯾﻭ
Name[pt]=Navegador web Epiphany
Name[qu]=Epifania web maskaq
Name[ro]=Browser web Epiphany
Name[ru]=Веб-браузер Epiphany
Name[rw]=Urubuga rwa Epiphany
Name[sa]=एपिफेनी जाल ब्राउज़र
Name[sd]=Epiphany ﺭﺯﻮﺋﺍﺮﺑ ﺐﻳﻭ
Name[si]=එපිෆනි වෙබ් බ්u200dරව්සරය
Name[sk]=Webový prehliadač Epiphany
Name[sl]=Spletni brskalnik Epiphany
Name[sm]=Epiphany web browser
Name[sn]=Epiphany web browser
Name[so]=Epiphany web browser
Name[sq]=Shfletuesi i internetit Epiphany
Name[st]=Epiphany web browser
Name[su]=browser wéb Epiphany
Name[sv]=Epiphany webbläsare
Name[sw]=Kivinjari cha wavuti cha Epiphany
Name[ta]=எபிபானி இணைய உலாவி
Name[te]=ఎపిఫనీ వెబ్ బ్రౌజర్
Name[tg]=Браузери веб Epiphany
Name[th]=เว็บเบราว์เซอร์ Epiphany
Name[ti]=ኤፒፋኒ መርበብ ሓበሬታ መርበብ ሓበሬታ
Name[tk]=Epiphany web brauzeri
Name[tl]=Epiphany web browser
Name[to]=Epiphany web browser
Name[tr]=Epifani web tarayıcısı
Name[ts]=Xihlamusela-marito xa webu xa Epiphany
Name[tt]=Epiphany веб-браузер
Name[tw]=Epiphany wɛbsaet sohwɛfo
Name[ty]=Epiphany web browser
Name[ug]=Epiphany ﯜﮔﺭﯚﻛﺭﻮﺗ
Name[uk]=Веб-браузер Epiphany
Name[ur]=ﺭﺯﺅﺍﺮﺑ ﺐﯾﻭ ﯽﻨﻔﯿﭙﯾﺍ
Name[uz]=Epiphany veb-brauzer
Name[vi]=Trình duyệt web Epiphany
Name[xh]=Isikhangeli sewebhu se-Epiphany
Name[yi]=רערעטעלב בעוו ינאַפיפּע
Name[yo]=Epiphany ẹrọ aṣawakiri wẹẹbu
Name[zh]=顿悟网络浏览器
Name[zu]=Isiphequluli sewebhu se-Epiphany
Name=Epiphany web browser
GenericName=Epiphany
Comment[af]=Epifanie webblaaier
Comment[am]=Epiphany የድር አሳሽ
Comment[ar]=ﺱﺎﻄﻐﻟﺍ ﺪﻴﻋ ﺐﻳﻮﻟﺍ ﺢﻔﺼﺘﻣ
Comment[as]=এপিফেনি ৱেব ব্ৰাউজাৰ
Comment[ay]=Epifanía ukax web ukan uñt’ayatawa
Comment[az]=Epiphany veb brauzeri
Comment[ba]=Epiphany веб-браузеры
Comment[be]=Вэб-браўзэр Epiphany
Comment[bg]=Уеб браузър Epiphany
Comment[bm]=Epiphany web navigatɛri
Comment[bn]=এপিফ্যানি ওয়েব ব্রাউজার
Comment[bo]=Epiphany web browser
Comment[bs]=Epiphany web pretraživač
Comment[ca]=Navegador web Epiphany
Comment[co]=U navigatore web Epiphany
Comment[cs]=Webový prohlížeč Epiphany
Comment[cy]=Porwr gwe Ystwyll
Comment[da]=Epiphany webbrowser
Comment[de]=Epiphany-Webbrowser
Comment[dv]=ވެއެ ޒާއުރަބް ބްވެ ނީފަޕިއެ
Comment[ee]=Epiphany ƒe nyatakakadzraɖoƒe
Comment[el]=Το πρόγραμμα περιήγησης ιστού Epiphany
Comment[en]=Epiphany web browser
Comment[eo]=Epiphany TTT-legilo
Comment[es]=Navegador web Epifanía
Comment[et]=Epiphany veebibrauser
Comment[eu]=Epiphany web arakatzailea
Comment[fa]=Epiphany ﺏﻭ ﺮﮔﺭﻭﺮﻣ
Comment[fi]=Epiphany verkkoselain
Comment[fj]=Barausa ni mataveilawa ni Epiphany
Comment[fo]=Epiphany web browser
Comment[fr]=Navigateur Web Epiphany
Comment[fy]=Epifany webblêder
Comment[ga]=Epiphany brabhsálaí gréasáin
Comment[gd]=Epiphany brabhsair-lìn a
Comment[gl]=Navegador web epiphany
Comment[gn]=Epifanía navegador web rehegua
Comment[gu]=એપિફેની વેબ બ્રાઉઝર
Comment[ha]=Epiphany web browser
Comment[he]=Epiphany טנרטניא ןפדפד
Comment[hi]=एपिफेनी वेब ब्राउज़र
Comment[hr]=Epiphany web preglednik
Comment[ht]=Epiphany navigatè entènèt
Comment[hu]=Epiphany webböngésző
Comment[hy]=Epiphany վեբ բրաուզեր
Comment[id]=Peramban web Epiphany
Comment[ig]=Epiphany ihe nchọgharị weebụ
Comment[is]=Epiphany vefvafri
Comment[it]=Browser web dell'Epifania
Comment[iu]=Epiphany web ᕿᓂᕈᑎ
Comment[ja]=Epiphany ウェブブラウザ
Comment[jv]=browser web Epiphany
Comment[ka]=Epiphany ვებ ბრაუზერი
Comment[kk]=Epiphany веб-шолғышы
Comment[km]=កម្មវិធីរុករកតាមអ៊ីនធឺណិត Epiphany
Comment[kn]=ಎಪಿಫ್ಯಾನಿ ವೆಬ್ ಬ್ರೌಸರ್
Comment[ko]=Epiphany 웹 브라우저
Comment[ku]=geroka webê ya Epiphany
Comment[ky]=Epiphany веб браузер
Comment[la]=Epiphania interretialem pasco
Comment[lb]=Epiphany Webbrowser
Comment[lg]=Epiphany omukutu gwa yintaneeti
Comment[ln]=Navigateur web ya Epiphany
Comment[lo]=ຕົວທ່ອງເວັບຂອງ Epiphany
Comment[lt]=Epiphany interneto naršyklė
Comment[lv]=Epiphany tīmekļa pārlūkprogramma
Comment[mg]=Epiphany tranonkala navigateur
Comment[mi]=Tirotiro paetukutuku Epiphany
Comment[mk]=Веб прелистувач на Богојавление
Comment[ml]=എപ്പിഫാനി വെബ് ബ്രൗസർ
Comment[mn]=Epiphany вэб хөтөч
Comment[mr]=एपिफनी वेब ब्राउझर
Comment[ms]=pelayar web Epiphany
Comment[mt]=Web browser Epifanija
Comment[my]=Epiphany ဝဘ်ဘရောက်ဆာ
Comment[ne]=Epiphany वेब ब्राउजर
Comment[nl]=Epiphany-webbrowser
Comment[no]=Epiphany nettleser
Comment[ny]=Msakatuli wa Epiphany
Comment[om]=Epiphany weeb biraawzari
Comment[or]=ଏପିଫାନି ୱେବ୍ ବ୍ରାଉଜର୍ |
Comment[pa]=ਏਪੀਫਨੀ ਵੈੱਬ ਬ੍ਰਾਊਜ਼ਰ
Comment[pl]=Przeglądarka internetowa Epiphany
Comment[ps]=Epiphany ﺭﺯﻭﺍﺮﺑ ﺐﯾﻭ
Comment[pt]=Navegador web Epiphany
Comment[qu]=Epifania web maskaq
Comment[ro]=Browser web Epiphany
Comment[ru]=Веб-браузер Epiphany
Comment[rw]=Urubuga rwa Epiphany
Comment[sa]=एपिफेनी जाल ब्राउज़र
Comment[sd]=Epiphany ﺭﺯﻮﺋﺍﺮﺑ ﺐﻳﻭ
Comment[si]=එපිෆනි වෙබ් බ්u200dරව්සරය
Comment[sk]=Webový prehliadač Epiphany
Comment[sl]=Spletni brskalnik Epiphany
Comment[sm]=Epiphany web browser
Comment[sn]=Epiphany web browser
Comment[so]=Epiphany web browser
Comment[sq]=Shfletuesi i internetit Epiphany
Comment[st]=Epiphany web browser
Comment[su]=browser wéb Epiphany
Comment[sv]=Epiphany webbläsare
Comment[sw]=Kivinjari cha wavuti cha Epiphany
Comment[ta]=எபிபானி இணைய உலாவி
Comment[te]=ఎపిఫనీ వెబ్ బ్రౌజర్
Comment[tg]=Браузери веб Epiphany
Comment[th]=เว็บเบราว์เซอร์ Epiphany
Comment[ti]=ኤፒፋኒ መርበብ ሓበሬታ መርበብ ሓበሬታ
Comment[tk]=Epiphany web brauzeri
Comment[tl]=Epiphany web browser
Comment[to]=Epiphany web browser
Comment[tr]=Epifani web tarayıcısı
Comment[ts]=Xihlamusela-marito xa webu xa Epiphany
Comment[tt]=Epiphany веб-браузер
Comment[tw]=Epiphany wɛbsaet sohwɛfo
Comment[ty]=Epiphany web browser
Comment[ug]=Epiphany ﯜﮔﺭﯚﻛﺭﻮﺗ
Comment[uk]=Веб-браузер Epiphany
Comment[ur]=ﺭﺯﺅﺍﺮﺑ ﺐﯾﻭ ﯽﻨﻔﯿﭙﯾﺍ
Comment[uz]=Epiphany veb-brauzer
Comment[vi]=Trình duyệt web Epiphany
Comment[xh]=Isikhangeli sewebhu se-Epiphany
Comment[yi]=רערעטעלב בעוו ינאַפיפּע
Comment[yo]=Epiphany ẹrọ aṣawakiri wẹẹbu
Comment[zh]=顿悟网络浏览器
Comment[zu]=Isiphequluli sewebhu se-Epiphany
Comment=Epiphany web browser
Keywords=web;browser;internet;
Exec=epiphany
StartupNotify=true
Terminal=false
Type=Application
Icon=epiphany.svg
Categories=WebBrowser
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;multipart/related;application/x-mimearchive;message/rfc822;
Actions=new-window;Incognito;

[Desktop Action new-window]
Name=New Window
Exec=epiphany --new-window

[Desktop Action Incognito]
Name=New Incognito Window
Exec=epiphany --incognito-mode
