[Desktop Entry]
Encoding=UTF-8
Name[af]=Beplanner projekbestuur
Name[am]=እቅድ አውጪ ፕሮጀክት አስተዳደር
Name[ar]=ﻉﻭﺮﺸﻤﻟﺍ ﺓﺭﺍﺩﺇ ﻂﻄﺨﻣ
Name[as]=পৰিকল্পনাকাৰী প্ৰকল্প পৰিচালনা
Name[ay]=Planificador proyecto apnaqaña
Name[az]=Planlayıcı layihənin idarə edilməsi
Name[ba]=Планер проекттары менән идара итеү
Name[be]=Планіроўшчык кіравання праектамі
Name[bg]=Планиращо управление на проекти
Name[bm]=Planner poroze ɲɛnabɔli
Name[bn]=পরিকল্পনাকারী প্রকল্প ব্যবস্থাপনা
Name[bo]=འཆར་འགོད་རྣམ་གྲངས་དོ་དམ།
Name[bs]=Planer projektno upravljanje
Name[ca]=Planificador de gestió de projectes
Name[co]=Gestione di u prughjettu di u pianificatore
Name[cs]=Řízení projektu Planner
Name[cy]=Rheoli prosiect cynllunydd
Name[da]=Planlægger projektledelse
Name[de]=Planer-Projektmanagement
Name[dv]=ޓްންމަޖްނޭމެ ޓްކްޖެރޮޕް ރނަލޭޕް
Name[ee]=Ðoɖowɔla ƒe dɔa dzikpɔkpɔ
Name[el]=Διαχείριση έργου Planner
Name[eo]=Planisto projekt-administrado
Name[es]=planificador de gestión de proyectos
Name[et]=Planeerija projektijuhtimine
Name[eu]=Planifikatzailea proiektuen kudeaketa
Name[fa]=ﺰﯾﺭ ﻪﻣﺎﻧﺮﺑ ﻩﮊﻭﺮﭘ ﺖﯾﺮﯾﺪﻣ
Name[fi]=Suunnittelija projektinhallinta
Name[fj]=Lewai ni cakacaka ni ituvatuva
Name[fo]=Planner project management
Name[fr]=Planificateur gestion de projet
Name[fy]=Planner projektbehear
Name[ga]=Bainistíocht tionscadail pleanálaí
Name[gd]=Planner stiùireadh pròiseact a
Name[gl]=Planificador de xestión de proxectos
Name[gn]=Planificador proyecto jesareko rehegua
Name[gu]=પ્લાનર પ્રોજેક્ટ મેનેજમેન્ટ
Name[ha]=Gudanar da aikin mai tsarawa
Name[he]=ןנכתמ טקיורפ לוהינ
Name[hi]=योजनाकार परियोजना प्रबंधन
Name[hr]=Planer upravljanje projektima
Name[ht]=Planifikatè jesyon pwojè
Name[hu]=Tervező projekt menedzsment
Name[hy]=Պլանավորող ծրագրի կառավարում
Name[id]=Manajemen proyek perencana
Name[ig]=Nlekọta ọrụ nhazi
Name[is]=Skipuleggjandi verkefnastjórnun
Name[it]=Gestione del progetto del pianificatore
Name[iu]=ᐱᕙᒌᔭᖅᑎ ᐱᓕᕆᐊᒃᓴᒧᑦ ᐊᐅᓚᑦᑎᓂᖅ
Name[ja]=プランナーのプロジェクト管理
Name[jv]=Manajemen proyek Planner
Name[ka]=დამგეგმავი პროექტის მენეჯმენტი
Name[kk]=Жоспарлаушы жобаны басқару
Name[km]=ការគ្រប់គ្រងគម្រោងអ្នករៀបចំផែនការ
Name[kn]=ಯೋಜಕ ಯೋಜನಾ ನಿರ್ವಹಣೆ
Name[ko]="플래너 프로젝트 관리"
Name[ku]=Rêveberiya projeya Planner
Name[ky]=Пландоочу долбоорду башкаруу
Name[la]=Consilium administratione consilium
Name[lb]=Planner Projet Gestioun
Name[lg]=Omutegesi okuddukanya pulojekiti
Name[ln]=Planificateur gestion ya projet
Name[lo]=ການຄຸ້ມຄອງໂຄງການຜູ້ວາງແຜນ
Name[lt]=Planuotojo projektų valdymas
Name[lv]=Plānotāju projektu vadība
Name[mg]=Fitantanana tetikasa planner
Name[mi]=Te whakahaere kaupapa mahere
Name[mk]=Планер проект менаџмент
Name[ml]=പ്ലാനർ പ്രോജക്റ്റ് മാനേജ്മെന്റ്
Name[mn]=Төлөвлөгч төслийн менежмент
Name[mr]=नियोजक प्रकल्प व्यवस्थापन
Name[ms]=Pengurusan projek perancang
Name[mt]=Ġestjoni tal-proġett Planner
Name[my]=Planner ပရောဂျက်စီမံခန့်ခွဲမှု
Name[ne]=योजनाकार परियोजना व्यवस्थापन
Name[nl]=Planner projectmanagement
Name[no]=Planlegger prosjektledelse
Name[ny]=Kasamalidwe ka polojekiti ya Planner
Name[om]=Karoorsituu bulchiinsa pirojektii
Name[or]=ଯୋଜନାକାରୀ ପ୍ରକଳ୍ପ ପରିଚାଳନା
Name[pa]=ਯੋਜਨਾਕਾਰ ਪ੍ਰੋਜੈਕਟ ਪ੍ਰਬੰਧਨ
Name[pl]=Planowanie zarządzania projektami
Name[ps]=ﺖﯾﺮﯾﺪﻣ ﯤﮊﻭﺮﭘ ﻲﮑﻧﻭړﻮﺟ ﻥﻼ﻿ﭘ ﺩ
Name[pt]=Gestão de projetos do Planner
Name[qu]=Planificador proyecto kamachiy
Name[ro]=Planificator management de proiect
Name[ru]=Планировщик управления проектами
Name[rw]=Gutegura umushinga
Name[sa]=योजनाकार परियोजना प्रबन्धन
Name[sd]=ﻡﺎﻈﺘﻧﺍ ﻮﺟ ٽڪﻴﺟﻭﺮﭘ ﺮﻧﻼ﻿ﭘ
Name[si]=සැලසුම්කරු ව්යාපෘති කළමනාකරණය
Name[sk]=Riadenie projektu Planner
Name[sl]=Projektno vodenje načrtovalca
Name[sm]=Fuafuaga o galuega faatino
Name[sn]=Planner project management
Name[so]=Maamulka mashruuca qorsheeye
Name[sq]=Menaxhimi i projektit të planifikuesit
Name[st]=Tsamaiso ea morero oa moralo
Name[su]=Manajemén proyék Nu Ngarencana
Name[sv]=Planerare projektledning
Name[sw]=Mpangaji usimamizi wa mradi
Name[ta]=திட்டமிடுபவர் திட்ட மேலாண்மை
Name[te]=ప్లానర్ ప్రాజెక్ట్ నిర్వహణ
Name[tg]=Идоракунии лоиҳаи банақшагир
Name[th]=การจัดการโครงการวางแผน
Name[ti]=ፕላነር ፕሮጀክት ምሕደራ
Name[tk]=Meýilleşdiriji taslamany dolandyrmak
Name[tl]=Pamamahala ng proyekto ng tagaplano
Name[to]=Tokangaʻi ʻo e ngaue ki he tohi palani
Name[tr]=Planlayıcı proje yönetimi
Name[ts]=Vufambisi bya phurojeke ya mupulani
Name[tt]=Планлаштыручы проект белән идарә итү
Name[tw]=Planner adwuma no sohwɛ
Name[ty]=Te faatereraa i te opuaraa
Name[ug]=ﺵﯗﺭﯘﻘﺷﺎﺑ ﺭﯜﺗ ﻰﭼﯘﻐﯩﻠﻧﻼ﻿ﯩﭘ
Name[uk]=Планувальник управління проектами
Name[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﭧﮑﯿﺟﺍﺮﭘ ﺯﺎﺳ ﮧﺑﻮﺼﻨﻣ
Name[uz]=Rejalashtiruvchi loyiha boshqaruvi
Name[vi]=Lập kế hoạch quản lý dự án
Name[xh]=Ulawulo lweprojekthi yoMcwangcisi
Name[yi]=גנוטלאַווראַפ טקעיורפּ רעננאַלפּ
Name[yo]=Alakoso ise agbese
Name[zh]=规划师项目管理
Name[zu]=Ukuphathwa kwephrojekthi yomhleli
Name=Planner project management
Comment[af]=Beplanner projekbestuur
Comment[am]=እቅድ አውጪ ፕሮጀክት አስተዳደር
Comment[ar]=ﻉﻭﺮﺸﻤﻟﺍ ﺓﺭﺍﺩﺇ ﻂﻄﺨﻣ
Comment[as]=পৰিকল্পনাকাৰী প্ৰকল্প পৰিচালনা
Comment[ay]=Planificador proyecto apnaqaña
Comment[az]=Planlayıcı layihənin idarə edilməsi
Comment[ba]=Планер проекттары менән идара итеү
Comment[be]=Планіроўшчык кіравання праектамі
Comment[bg]=Планиращо управление на проекти
Comment[bm]=Planner poroze ɲɛnabɔli
Comment[bn]=পরিকল্পনাকারী প্রকল্প ব্যবস্থাপনা
Comment[bo]=འཆར་འགོད་རྣམ་གྲངས་དོ་དམ།
Comment[bs]=Planer projektno upravljanje
Comment[ca]=Planificador de gestió de projectes
Comment[co]=Gestione di u prughjettu di u pianificatore
Comment[cs]=Řízení projektu Planner
Comment[cy]=Rheoli prosiect cynllunydd
Comment[da]=Planlægger projektledelse
Comment[de]=Planer-Projektmanagement
Comment[dv]=ޓްންމަޖްނޭމެ ޓްކްޖެރޮޕް ރނަލޭޕް
Comment[ee]=Ðoɖowɔla ƒe dɔa dzikpɔkpɔ
Comment[el]=Διαχείριση έργου Planner
Comment[eo]=Planisto projekt-administrado
Comment[es]=planificador de gestión de proyectos
Comment[et]=Planeerija projektijuhtimine
Comment[eu]=Planifikatzailea proiektuen kudeaketa
Comment[fa]=ﺰﯾﺭ ﻪﻣﺎﻧﺮﺑ ﻩﮊﻭﺮﭘ ﺖﯾﺮﯾﺪﻣ
Comment[fi]=Suunnittelija projektinhallinta
Comment[fj]=Lewai ni cakacaka ni ituvatuva
Comment[fo]=Planner project management
Comment[fr]=Planificateur gestion de projet
Comment[fy]=Planner projektbehear
Comment[ga]=Bainistíocht tionscadail pleanálaí
Comment[gd]=Planner stiùireadh pròiseact a
Comment[gl]=Planificador de xestión de proxectos
Comment[gn]=Planificador proyecto jesareko rehegua
Comment[gu]=પ્લાનર પ્રોજેક્ટ મેનેજમેન્ટ
Comment[ha]=Gudanar da aikin mai tsarawa
Comment[he]=ןנכתמ טקיורפ לוהינ
Comment[hi]=योजनाकार परियोजना प्रबंधन
Comment[hr]=Planer upravljanje projektima
Comment[ht]=Planifikatè jesyon pwojè
Comment[hu]=Tervező projekt menedzsment
Comment[hy]=Պլանավորող ծրագրի կառավարում
Comment[id]=Manajemen proyek perencana
Comment[ig]=Nlekọta ọrụ nhazi
Comment[is]=Skipuleggjandi verkefnastjórnun
Comment[it]=Gestione del progetto del pianificatore
Comment[iu]=ᐱᕙᒌᔭᖅᑎ ᐱᓕᕆᐊᒃᓴᒧᑦ ᐊᐅᓚᑦᑎᓂᖅ
Comment[ja]=プランナーのプロジェクト管理
Comment[jv]=Manajemen proyek Planner
Comment[ka]=დამგეგმავი პროექტის მენეჯმენტი
Comment[kk]=Жоспарлаушы жобаны басқару
Comment[km]=ការគ្រប់គ្រងគម្រោងអ្នករៀបចំផែនការ
Comment[kn]=ಯೋಜಕ ಯೋಜನಾ ನಿರ್ವಹಣೆ
Comment[ko]="플래너 프로젝트 관리"
Comment[ku]=Rêveberiya projeya Planner
Comment[ky]=Пландоочу долбоорду башкаруу
Comment[la]=Consilium administratione consilium
Comment[lb]=Planner Projet Gestioun
Comment[lg]=Omutegesi okuddukanya pulojekiti
Comment[ln]=Planificateur gestion ya projet
Comment[lo]=ການຄຸ້ມຄອງໂຄງການຜູ້ວາງແຜນ
Comment[lt]=Planuotojo projektų valdymas
Comment[lv]=Plānotāju projektu vadība
Comment[mg]=Fitantanana tetikasa planner
Comment[mi]=Te whakahaere kaupapa mahere
Comment[mk]=Планер проект менаџмент
Comment[ml]=പ്ലാനർ പ്രോജക്റ്റ് മാനേജ്മെന്റ്
Comment[mn]=Төлөвлөгч төслийн менежмент
Comment[mr]=नियोजक प्रकल्प व्यवस्थापन
Comment[ms]=Pengurusan projek perancang
Comment[mt]=Ġestjoni tal-proġett Planner
Comment[my]=Planner ပရောဂျက်စီမံခန့်ခွဲမှု
Comment[ne]=योजनाकार परियोजना व्यवस्थापन
Comment[nl]=Planner projectmanagement
Comment[no]=Planlegger prosjektledelse
Comment[ny]=Kasamalidwe ka polojekiti ya Planner
Comment[om]=Karoorsituu bulchiinsa pirojektii
Comment[or]=ଯୋଜନାକାରୀ ପ୍ରକଳ୍ପ ପରିଚାଳନା
Comment[pa]=ਯੋਜਨਾਕਾਰ ਪ੍ਰੋਜੈਕਟ ਪ੍ਰਬੰਧਨ
Comment[pl]=Planowanie zarządzania projektami
Comment[ps]=ﺖﯾﺮﯾﺪﻣ ﯤﮊﻭﺮﭘ ﻲﮑﻧﻭړﻮﺟ ﻥﻼ﻿ﭘ ﺩ
Comment[pt]=Gestão de projetos do Planner
Comment[qu]=Planificador proyecto kamachiy
Comment[ro]=Planificator management de proiect
Comment[ru]=Планировщик управления проектами
Comment[rw]=Gutegura umushinga
Comment[sa]=योजनाकार परियोजना प्रबन्धन
Comment[sd]=ﻡﺎﻈﺘﻧﺍ ﻮﺟ ٽڪﻴﺟﻭﺮﭘ ﺮﻧﻼ﻿ﭘ
Comment[si]=සැලසුම්කරු ව්යාපෘති කළමනාකරණය
Comment[sk]=Riadenie projektu Planner
Comment[sl]=Projektno vodenje načrtovalca
Comment[sm]=Fuafuaga o galuega faatino
Comment[sn]=Planner project management
Comment[so]=Maamulka mashruuca qorsheeye
Comment[sq]=Menaxhimi i projektit të planifikuesit
Comment[st]=Tsamaiso ea morero oa moralo
Comment[su]=Manajemén proyék Nu Ngarencana
Comment[sv]=Planerare projektledning
Comment[sw]=Mpangaji usimamizi wa mradi
Comment[ta]=திட்டமிடுபவர் திட்ட மேலாண்மை
Comment[te]=ప్లానర్ ప్రాజెక్ట్ నిర్వహణ
Comment[tg]=Идоракунии лоиҳаи банақшагир
Comment[th]=การจัดการโครงการวางแผน
Comment[ti]=ፕላነር ፕሮጀክት ምሕደራ
Comment[tk]=Meýilleşdiriji taslamany dolandyrmak
Comment[tl]=Pamamahala ng proyekto ng tagaplano
Comment[to]=Tokangaʻi ʻo e ngaue ki he tohi palani
Comment[tr]=Planlayıcı proje yönetimi
Comment[ts]=Vufambisi bya phurojeke ya mupulani
Comment[tt]=Планлаштыручы проект белән идарә итү
Comment[tw]=Planner adwuma no sohwɛ
Comment[ty]=Te faatereraa i te opuaraa
Comment[ug]=ﺵﯗﺭﯘﻘﺷﺎﺑ ﺭﯜﺗ ﻰﭼﯘﻐﯩﻠﻧﻼ﻿ﯩﭘ
Comment[uk]=Планувальник управління проектами
Comment[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﭧﮑﯿﺟﺍﺮﭘ ﺯﺎﺳ ﮧﺑﻮﺼﻨﻣ
Comment[uz]=Rejalashtiruvchi loyiha boshqaruvi
Comment[vi]=Lập kế hoạch quản lý dự án
Comment[xh]=Ulawulo lweprojekthi yoMcwangcisi
Comment[yi]=גנוטלאַווראַפ טקעיורפּ רעננאַלפּ
Comment[yo]=Alakoso ise agbese
Comment[zh]=规划师项目管理
Comment[zu]=Ukuphathwa kwephrojekthi yomhleli
Comment=Planner project management
Exec=planner
Icon=gnome-planner.png
Terminal=false
Type=Application
Categories=X-Business-planner
MimeType=application/x-planner;
GenericName=Planner
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=planner
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.14.6
