[Desktop Entry]
Encoding=UTF-8
Name[fr]=Mixeur audio : AlsaMixer
Name[bg]=AlsaMixer аудио миксер
Name[de]=AlsaMixer Audiomixer
Name[es]=AlsaMixer: mezclador de audio
Name[ru]=AlsaMixer звуковой микшер
Name[tr]=AlsaMixer ses karıştırıcı
Name[af]=AlsaMixer klankmenger
Name[am]=AlsaMixer የድምጽ ቀላቃይ
Name[ar]=AlsaMixer ﺕﻮﺼﻟﺍ ﻁﻼ﻿ﺧ
Name[as]=AlsaMixer অডিঅ' মিক্সাৰ
Name[ay]=AlsaMixer ukax mä audio mixer ukhamawa
Name[az]=AlsaMixer audio mikser
Name[ba]=AlsaMixer аудио миксеры
Name[be]=Аўдыямікшар AlsaMixer
Name[bm]=AlsaMixer ka fɔlifɛnw ɲagaminen
Name[bn]=আলসামিক্সার অডিও মিক্সার
Name[bo]=AlsaMixer སྒྲ་ཕབ་མཉམ་བསྲེས་འཕྲུལ་ཆས།
Name[bs]=AlsaMixer audio mikser
Name[ca]=Mesclador d'àudio AlsaMixer
Name[co]=Mixer audio AlsaMixer
Name[cs]=Audio mixer AlsaMixer
Name[cy]=Cymysgydd sain AlsaMixer
Name[da]=AlsaMixer lydmixer
Name[dv]=ވެރެސަކްމި އޯޑިއޯ ރސަކްމިސާލްއަ
Name[ee]=AlsaMixer odio ƒe tsakatsaka
Name[el]=Μίκτης ήχου AlsaMixer
Name[eo]=AlsaMixer sonmiksilo
Name[et]=AlsaMixer helimikser
Name[eu]=AlsaMixer audio nahasgailua
Name[fa]=AlsaMixer ﯽﺗﻮﺻ ﺮﺴﮑﯿﻣ
Name[fi]=AlsaMixer äänimikseri
Name[fj]=AlsaMixer vakarorogo mixer
Name[fo]=AlsaMixer audio mixer
Name[fy]=AlsaMixer audiomixer
Name[ga]=Alsamixer meascthóir fuaime
Name[gd]=Measgadair claisneachd AlsaMixer
Name[gl]=Mesturador de audio AlsaMixer
Name[gn]=AlsaMixer audio mezclador rehegua
Name[gu]=AlsaMixer ઓડિયો મિક્સર
Name[ha]=AlsaMixer audio mixer
Name[he]=AlsaMixer לש וידוא רסקימ
Name[hi]=AlsaMixer ऑडियो मिक्सर
Name[hr]=AlsaMixer audio mikser
Name[ht]=AlsaMixer mixer odyo
Name[hu]=AlsaMixer hangkeverő
Name[hy]=AlsaMixer աուդիո խառնիչ
Name[id]=Pencampur audio AlsaMixer
Name[ig]=Ngwakọta ọdịyo AlsaMixer
Name[is]=AlsaMixer hljóðblöndunartæki
Name[it]=Mixer audio AlsaMixer
Name[iu]=ᐊᓖᓴᒪᒃᓱ ᓂᐱᖃᐅᑎᒧᑦ ᐊᑯᑉᓕᖅᓯᔾᔪᑎ
Name[ja]=AlsaMixer オーディオ ミキサー
Name[jv]=AlsaMixer audio mixer
Name[ka]=AlsaMixer აუდიო მიქსერი
Name[kk]=AlsaMixer аудио араластырғышы
Name[km]=ឧបករណ៍លាយសំឡេង AlsaMixer
Name[kn]=ಅಲ್ಸಾಮಿಕ್ಸರ್ ಆಡಿಯೋ ಮಿಕ್ಸರ್
Name[ko]=AlsaMixer 오디오 믹서
Name[ku]=Miksera dengî AlsaMixer
Name[ky]=AlsaMixer аудио аралаштыргыч
Name[la]=AlsaMixer audio mixer
Name[lb]=AlsaMixer Audiomixer
Name[lg]=AlsaMixer ekyuma ekitabula amaloboozi
Name[ln]=AlsaMixer mélangeur ya audio
Name[lo]=ເຄື່ອງປະສົມສຽງ AlsaMixer
Name[lt]=AlsaMixer garso maišytuvas
Name[lv]=AlsaMixer audio mikseris
Name[mg]=AlsaMixer audio mixer
Name[mi]=AlsaMixer whakaranu ororongo
Name[mk]=Аудио миксер AlsaMixer
Name[ml]=AlsaMixer ഓഡിയോ മിക്സർ
Name[mn]=AlsaMixer аудио холигч
Name[mr]=AlsaMixer ऑडिओ मिक्सर
Name[ms]=Pengadun audio AlsaMixer
Name[mt]=Mixer tal-awdjo AlsaMixer
Name[my]=AlsaMixer အသံရောနှောစက်
Name[ne]=AlsaMixer अडियो मिक्सर
Name[nl]=AlsaMixer audiomixer
Name[no]=AlsaMixer lydmikser
Name[ny]=AlsaMixer audio chosakanizira
Name[om]=AlsaMixer sagalee makaa
Name[or]=ଆଲସା ମିକ୍ସର୍ ଅଡିଓ ମିକ୍ସର୍ |
Name[pa]=AlsaMixer ਆਡੀਓ ਮਿਕਸਰ
Name[pl]=Mikser audio AlsaMixer
Name[ps]=AlsaMixer ﺮﺴﮑﻣ ﻮﯾډﺁ
Name[pt]=Misturador de áudio AlsaMixer
Name[qu]=AlsaMixer uyarinapaq mezclador
Name[ro]=Mixer audio AlsaMixer
Name[rw]=AlsaMixer ivanga amajwi
Name[sa]=AlsaMixer श्रव्यमिश्रकः
Name[sd]=AlsaMixer ﺮڪﻴﻣ ﻮﻳڊﺁ
Name[si]=AlsaMixer ශ්රව්ය මිශ්රකය
Name[sk]=Zvukový mixér AlsaMixer
Name[sl]=AlsaMixer avdio mešalnik
Name[sm]=AlsaMixer fa'afefiloi leo
Name[sn]=AlsaMixer audio musanganiswa
Name[so]=Isku-darka maqalka ee AlsaMixer
Name[sq]=Mikser audio AlsaMixer
Name[st]=Motsoako oa molumo oa AlsaMixer
Name[su]=AlsaMixer audio mixer
Name[sv]=AlsaMixer ljudmixer
Name[sw]=Mchanganyiko wa sauti wa AlsaMixer
Name[ta]=AlsaMixer ஆடியோ கலவை
Name[te]=AlsaMixer ఆడియో మిక్సర్
Name[tg]=Миксер аудио AlsaMixer
Name[th]=เครื่องผสมเสียง AlsaMixer
Name[ti]=ኣልሳሚክሰር ድምጺ መሕወሲ
Name[tk]=AlsaMixer ses garyjy
Name[tl]=AlsaMixer audio mixer
Name[to]=AlsaMixer audio mixer
Name[ts]=Xihlanganisi xa mpfumawulo xa AlsaMixer
Name[tt]=AlsaMixer аудио миксеры
Name[tw]=AlsaMixer ɔdio a wɔde frafra
Name[ty]=AlsaMixer audio mixer
Name[ug]=AlsaMixer ﭺﯘﻏﺭﯘﺘﺷﻼ﻿ﯨﺭﺎﺋ ﺯﺍﯞﺎﺋ
Name[uk]=Аудіомікшер AlsaMixer
Name[ur]=AlsaMixer ﺮﺴﮑﻣ ﻮﯾﮈﺁ
Name[uz]=AlsaMixer audio mikser
Name[vi]=Bộ trộn âm thanh AlsaMixer
Name[xh]=Umxube womsindo weAlsaMixer
Name[yi]=AlsaMixer רעסקימ אָידואַ
Name[yo]=AlsaMixer iwe aladapo
Name[zh]=AlsaMixer 音频混合器
Name[zu]=Ingxube yomsindo ye-AlsaMixer
Name=AlsaMixer audio mixer
GenericName=AlsaMixer
Comment[fr]=Programme de contrôle simple du mélangeur
Comment[bg]=Проста програма за управление на миксера
Comment[de]=Einfaches Mischersteuerungsprogramm
Comment[es]=AlsaMixer: mezclador de audio
Comment[ru]=Простая программа управления миксером
Comment[tr]=AlsaMixer ses karıştırıcı
Comment[af]=Eenvoudige mengerbeheerprogram
Comment[am]=ቀላል ድብልቅ መቆጣጠሪያ ፕሮግራም
Comment[ar]=ﻁﻼ﻿ﺨﻟﺍ ﻲﻓ ﻢﻜﺤﺘﻠﻟ ﻂﻴﺴﺑ ﺞﻣﺎﻧﺮﺑ
Comment[as]=সৰল মিক্সাৰ নিয়ন্ত্ৰণ প্ৰগ্ৰেম
Comment[ay]=Programa de control de mezclador sapuru ukaxa
Comment[az]=Sadə qarışdırıcı nəzarət proqramı
Comment[ba]=Ябай миксер менән идара итеү программаһы
Comment[be]=Простая праграма для кіравання міксерам
Comment[bm]=Mixer control porogaramu nɔgɔman
Comment[bn]=সহজ মিশুক নিয়ন্ত্রণ প্রোগ্রাম
Comment[bo]=སྟབས་བདེའི་བསྲེས་མའི་ཚོད་འཛིན་འཆར་གཞི།
Comment[bs]=Jednostavan program za upravljanje mikserom
Comment[ca]=Programa de control de mesclador senzill
Comment[co]=Un prugramma simplice di cuntrollu di mixer
Comment[cs]=Jednoduchý program pro ovládání mixéru
Comment[cy]=Rhaglen rheoli cymysgydd syml
Comment[da]=Enkelt mixer kontrolprogram
Comment[dv]=އްމެރާގްރޮޕް ލްރޯޓްންކޮ ރސަކްމި ދާސާ
Comment[ee]=Mixer dziɖuɖu ƒe ɖoɖo bɔbɔe
Comment[el]=Απλό πρόγραμμα ελέγχου μείκτη
Comment[eo]=Simpla miksila kontrolprogramo
Comment[et]=Lihtne mikseri juhtimisprogramm
Comment[eu]=Nahastailea kontrolatzeko programa sinplea
Comment[fa]=ﻩﺩﺎﺳ ﺮﺴﮑﯿﻣ ﻝﺮﺘﻨﮐ ﻪﻣﺎﻧﺮﺑ
Comment[fi]=Yksinkertainen mikserin ohjausohjelma
Comment[fj]=Parokaramu rawarawa ni lewai ni mixer
Comment[fo]=Simple blandar control program
Comment[fy]=Ienfâldich programma foar mixerkontrôle
Comment[ga]=Clár rialaithe meascthóir simplí
Comment[gd]=Prògram smachd measgachadh sìmplidh
Comment[gl]=Programa sinxelo de control do mesturador
Comment[gn]=Programa de control mezclador rehegua simple
Comment[gu]=સરળ મિક્સર નિયંત્રણ કાર્યક્રમ
Comment[ha]=Sauƙaƙe shirin sarrafa mahaɗa
Comment[he]=רסקימב הטושפ הטילש תינכות
Comment[hi]=सरल मिक्सर नियंत्रण कार्यक्रम
Comment[hr]=Jednostavan program za kontrolu miksera
Comment[ht]=Senp pwogram kontwòl mixer
Comment[hu]=Egyszerű keverővezérlő program
Comment[hy]=Պարզ խառնիչի կառավարման ծրագիր
Comment[id]=Program kontrol mixer sederhana
Comment[ig]=Mmemme njikwa igwekota dị mfe
Comment[is]=Einfalt stjórnunarforrit fyrir hrærivél
Comment[it]=Semplice programma di controllo del mixer
Comment[iu]=ᐊᔪᕐᓇᙱᑦᑐᖅ ᑲᑎᓯᒪᔪᓄᑦ ᐊᐅᓚᑦᑎᓂᕐᒧᑦ ᐱᓕᕆᐊᖅ
Comment[ja]=簡単なミキサー制御プログラム
Comment[jv]=Program kontrol mixer prasaja
Comment[ka]=მარტივი მიქსერის კონტროლის პროგრამა
Comment[kk]=Миксерді басқарудың қарапайым бағдарламасы
Comment[km]=កម្មវិធីគ្រប់គ្រងឧបករណ៍លាយសាមញ្ញ
Comment[kn]=ಸರಳ ಮಿಕ್ಸರ್ ನಿಯಂತ್ರಣ ಪ್ರೋಗ್ರಾಂ
Comment[ko]=간단한 믹서 제어 프로그램
Comment[ku]=Bernameya kontrolkirina mîkserê hêsan
Comment[ky]=Жөнөкөй аралаштыргыч башкаруу программасы
Comment[la]=Simplex turpis imperium programma
Comment[lb]=Einfach Mixer Kontroll Programm
Comment[lg]=Enteekateeka ennyangu ey’okufuga mixer
Comment[ln]=Programme ya contrôle ya mélangeur simple
Comment[lo]=ໂຄງການຄວບຄຸມ mixer ງ່າຍດາຍ
Comment[lt]=Paprasta maišytuvo valdymo programa
Comment[lv]=Vienkārša miksera vadības programma
Comment[mg]=Programa fanaraha-maso mixer tsotra
Comment[mi]=He kaupapa whakahaere whakaranu ngawari
Comment[mk]=Едноставна програма за контрола на миксер
Comment[ml]=ലളിതമായ മിക്സർ നിയന്ത്രണ പ്രോഗ്രാം
Comment[mn]=Холигчийг удирдах энгийн програм
Comment[mr]=साधा मिक्सर नियंत्रण कार्यक्रम
Comment[ms]=Program kawalan pengadun mudah
Comment[mt]=Programm sempliċi ta 'kontroll tal-mixer
Comment[my]=ရိုးရှင်းသော mixer ထိန်းချုပ်မှုအစီအစဉ်
Comment[ne]=सरल मिक्सर नियन्त्रण कार्यक्रम
Comment[nl]=Eenvoudig mixerbesturingsprogramma
Comment[no]=Enkelt mikserkontrollprogram
Comment[ny]=Pulogalamu yowongolera yosakaniza
Comment[om]=Sagantaa to'annoo makaa salphaa
Comment[or]=ସରଳ ମିକ୍ସର୍ କଣ୍ଟ୍ରୋଲ୍ ପ୍ରୋଗ୍ରାମ୍ |
Comment[pa]=ਸਧਾਰਨ ਮਿਕਸਰ ਕੰਟਰੋਲ ਪ੍ਰੋਗਰਾਮ
Comment[pl]=Prosty program sterujący mikserem
Comment[ps]=ﻪﻣﺎﻧﺮﺑ ﻝﻭﺮټﻨﮐ ﺮﺴﮑﻣ ﻩﺩﺎﺳ
Comment[pt]=Programa de controlo simples do misturador
Comment[qu]=Programa de control de mezclador simple
Comment[ro]=Program simplu de control al mixerului
Comment[rw]=Gahunda yoroshye yo kugenzura gahunda
Comment[sa]=सरलः मिश्रकः नियन्त्रणकार्यक्रमः
Comment[sd]=ﻡﺍﺮﮔﻭﺮﭘ ﻝﻭﺮٽﻨڪ ﺮڪﻴﻣ ﻱﺩﺎﺳ
Comment[si]=සරල මික්සර් පාලන වැඩසටහන
Comment[sk]=Jednoduchý program na ovládanie mixéra
Comment[sl]=Preprost program za upravljanje mešalnika
Comment[sm]=Polokalama fa'atonutonu fa'afefiloi faigofie
Comment[sn]=Rakareruka musanganiswa kudzora chirongwa
Comment[so]=Barnaamijka xakamaynta qasaha fudud
Comment[sq]=Program i thjeshtë i kontrollit të mikserit
Comment[st]=Lenaneo le bonolo la ho laola motsoako
Comment[su]=Program kontrol mixer basajan
Comment[sv]=Enkelt styrprogram för mixer
Comment[sw]=Programu rahisi ya kudhibiti mchanganyiko
Comment[ta]=எளிய கலவை கட்டுப்பாட்டு திட்டம்
Comment[te]=సాధారణ మిక్సర్ నియంత్రణ ప్రోగ్రామ్
Comment[tg]=Барномаи оддии идоракунии миксер
Comment[th]=โปรแกรมควบคุมมิกเซอร์อย่างง่าย
Comment[ti]=ቀሊል ናይ ሚክሰር ምቁጽጻር ፕሮግራም
Comment[tk]=Mixönekeý mikser dolandyryş programmasy
Comment[tl]=Simpleng mixer control program
Comment[to]=Polokalama ki hono puleʻi ʻo e mixer faingofua
Comment[ts]=Nongonoko wo olova wa vulawuri bya mixer
Comment[tt]=Гади миксер белән идарә итү программасы
Comment[tw]=Mixer control nhyehyɛe a ɛnyɛ den
Comment[ty]=Faanahoraa ohie no te hi'opo'araa i te mau mea atoa
Comment[ug]=ﻰﺴﯩﻤﻣﺍﺮﮔﻭﺮﭘ ﻝﻭﺮﺘﻧﻮﻛ ﭺﯘﻏﺭﯘﺘﺷﻼ﻿ﯨﺭﺎﺋ ﻲﯨﺩﺩﺎﺋ
Comment[uk]=Проста програма управління міксером
Comment[ur]=ﻡﺍﺮﮔﻭﺮﭘ ﻝﻭﺮﭩﻨﮐ ﺮﺴﮑﻣ ﮦﺩﺎﺳ
Comment[uz]=Oddiy mikserni boshqarish dasturi
Comment[vi]=Chương trình điều khiển máy trộn đơn giản
Comment[xh]=Inkqubo yokulawula umxube olula
Comment[yi]=םאַרגאָרפּ לאָרטנאָק רעסקימ טושפּ
Comment[yo]=Eto iṣakoso alapọpo rọrun
Comment[zh]=简单的搅拌机控制程序
Comment[zu]=Uhlelo olulula lokulawula i-mixer
Comment=Simple mixer control program
Exec=urxvt -e alsamixer
Icon=mini-sound.xpm
Categories=X-Multimedia-sound
Terminal=false
Type=Application
