[Desktop Entry]
Encoding=UTF-8
Name[fr]=Mixeur audio : AlsaMixer
Name[bg]=AlsaMixer аудио миксер
Name[de]=AlsaMixer Audiomixer
Name[es]=AlsaMixer: mezclador de audio
Name[ru]=Аудио микшер AlsaMixer
Name[tr]=AlsaMixer ses karıştırıcı
Name=AlsaMixer audio mixer
GenericName=AlsaMixer
Comment[fr]=Programme de contrôle simple du mélangeur
Comment[bg]=Проста програма за управление на миксера
Comment[de]=Einfaches Mischersteuerungsprogramm
Comment[es]=AlsaMixer: mezclador de audio
Comment[ru]=Простая программа управления миксером
Comment[tr]=AlsaMixer ses karıştırıcı
Comment=Simple mixer control program
Exec=urxvt -e alsamixer
Icon=mini-sound.xpm
Categories=X-Multimedia-sound
Terminal=false
Type=Application
