[Desktop Entry]
Encoding=UTF-8
Name[ar]=AnyDesk ﺪﻌﺑ ﻦﻋ ﻝﻮﺻﻮﻟﺍ
Name[zh]=AnyDesk远程访问
Name[da]=AnyDesk fjernadgang
Name[nl]=AnyDesk-toegang op afstand
Name[fi]=AnyDesk-etäkäyttö
Name[fr]=Accès à distance AnyDesk
Name[de]=AnyDesk-Fernzugriff
Name[el]=Απομακρυσμένη πρόσβαση AnyDesk
Name[hu]=AnyDesk távoli hozzáférés
Name[is]=AnyDesk fjaraðgangur
Name[it]=Accesso remoto AnyDesk
Name[ja]=AnyDesk リモート アクセス
Name[mk]=Далечински пристап на AnyDesk
Name[no]=AnyDesk ekstern tilgang
Name[pl]=Zdalny dostęp AnyDesk
Name[pt]=Acesso remoto AnyDesk
Name[ru]=Удаленный доступ к AnyDesk
Name[sr]=AnyDesk даљински приступ
Name[es]=Acceso remoto a AnyDesk
Name[sv]=AnyDesk fjärråtkomst
Name[tr]=AnyDesk'e uzaktan erişim
Name[uk]=Віддалений доступ AnyDesk
Name=AnyDesk remote access
Type=Application
Exec=/usr/local/orange/orange.install anydesk
Icon=ballorange22.png
Terminal=false
Categories=X-Network-connect
