[Desktop Entry]
Encoding=UTF-8
Name[bg]=Инсталатор на AppImage
Name[cz]=Instalační program AppImage
Name[da]=AppImage installationsprogram
Name[nl]=AppImage-installatieprogramma
Name[et]=AppImage'i installija
Name[fi]=AppImage-asennusohjelma
Name[fr]=Programme d'installation d'AppImage
Name[de]=AppImage-Installationsprogramm
Name[el]=Πρόγραμμα εγκατάστασης AppImage
Name[hu]=AppImage telepítő
Name[is]=AppImage uppsetningarforrit
Name[it]=Programma di installazione di AppImage
Name[mk]=Инсталатор на AppImage
Name[pl]=Instalator AppImage
Name[pt]=Instalador do AppImage
Name[ro]=Programul de instalare AppImage
Name[ru]=Установщик AppImage
Name[es]=Instalador de AppImage
Name[sv]=AppImage installationsprogram
Name[uk]=Інсталятор AppImage
Name=AppImage Installer
Icon=appimage.png
Exec=appi
Categories=X-Setup-puppy
GenericName=Appi
Type=Application

