[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion Bluetooth : BluePup
Name[bg]=BluePup Bluetooth управление
Name[de]=BluePup Bluetooth-Verwaltung
Name[es]=BluePup: gestor de Bluetooth
Name[ru]=Bluetooth-управление BluePup
Name=BluePup Bluetooth management
Icon=bluepup.xpm
Comment[fr]=Gestion BluePup Bluetooth
Comment[bg]=BluePup Bluetooth управление
Comment[de]=BluePup Bluetooth-Verwaltung
Comment[es]=BluePup: gestor de Bluetooth
Comment[ru]=Bluetooth-управление BluePup
Comment=BluePup Bluetooth management
Exec=bluepup
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=BluePup
