[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion Bluetooth : BluePup
Name[bg]=BluePup Bluetooth управление
Name[de]=BluePup Bluetooth-Verwaltung
Name[es]=BluePup: gestor de Bluetooth
Name[ru]=Bluetooth-управление BluePup
Name[tr]=BluePup Bluetooth yönetimi
Name[af]=BluePup Bluetooth-bestuur
Name[am]=ብሉፑፕ የብሉቱዝ አስተዳደር
Name[ar]=BluePup ﺙﻮﺗﻮﻠﺒﻟﺍ ﺓﺭﺍﺩﺇ
Name[as]=BluePup ব্লুটুথ ব্যৱস্থাপনা
Name[ay]=BluePup Bluetooth ukax apnaqañapawa
Name[az]=BluePup Bluetooth idarəetməsi
Name[ba]=BluePup Bluetooth етәкселеге
Name[be]=Кіраванне Bluetooth BluePup
Name[bm]=BluePup Bluetooth ɲɛnabɔli
Name[bn]=BluePup ব্লুটুথ ব্যবস্থাপনা
Name[bo]=Bluepup Bluetoothདོ་དམ།
Name[bs]=BluePup Bluetooth upravljanje
Name[ca]=Gestió de Bluetooth BluePup
Name[co]=Gestione Bluetooth BluePup
Name[cs]=Správa Bluetooth BluePup
Name[cy]=BluePup rheoli Bluetooth
Name[da]=BluePup Bluetooth-styring
Name[dv]=ޓްންމަޖްނޭމެ ތުޓޫލޫބް ޕްޕަލޫބް
Name[ee]=BluePup Bluetooth dzikpɔkpɔ
Name[el]=Διαχείριση Bluetooth BluePup
Name[eo]=BluePup Bluetooth-administrado
Name[et]=BluePup Bluetoothi haldus
Name[eu]=BluePup Bluetooth kudeaketa
Name[fa]=BluePup ﺙﻮﺗﻮﻠﺑ ﺖﯾﺮﯾﺪﻣ
Name[fi]=BluePup Bluetooth-hallinta
Name[fj]=Lewai ni BluePup Bluetooth
Name[fo]=BluePup Bluetooth management
Name[fy]=BluePup Bluetooth behear
Name[ga]=Bainistíocht BluePup Bluetooth
Name[gd]=Stiùireadh BluePup Bluetooth
Name[gl]=Xestión Bluetooth BluePup
Name[gn]=BluePup Bluetooth jesarekorã
Name[gu]=બ્લુપપ બ્લૂટૂથ મેનેજમેન્ટ
Name[ha]=BluePup Gudanarwar Bluetooth
Name[he]=BluePup לש Bluetooth לוהינ
Name[hi]=ब्लूपप ब्लूटूथ प्रबंधन
Name[hr]=BluePup Bluetooth upravljanje
Name[ht]=BluePup jesyon Bluetooth
Name[hu]=BluePup Bluetooth kezelés
Name[hy]=BluePup Bluetooth կառավարում
Name[id]=Manajemen BluePup Bluetooth
Name[ig]=Njikwa Bluetooth BluePup
Name[is]=BluePup Bluetooth stjórnun
Name[it]=Gestione BluePup Bluetooth
Name[iu]=BluePup Bluetooth Management
Name[ja]=BluePup Bluetooth 管理
Name[jv]=Manajemen Bluetooth BluePup
Name[ka]=BluePup Bluetooth მენეჯმენტი
Name[kk]=BluePup Bluetooth басқару
Name[km]=ការគ្រប់គ្រងប៊្លូធូស BluePup
Name[kn]=ಬ್ಲೂಪಪ್ ಬ್ಲೂಟೂತ್ ನಿರ್ವಹಣೆ
Name[ko]=BluePup 블루투스 관리
Name[ku]=Rêveberiya Bluetooth BluePup
Name[ky]=BluePup Bluetooth башкаруу
Name[la]=BluePup Bluetooth procuratio
Name[lb]=BluePup Bluetooth Gestioun
Name[lg]=Enzirukanya ya Bluetooth eya BluePup
Name[ln]=Bokambami ya Bluetooth ya BluePup
Name[lo]=ການຄຸ້ມຄອງ Bluetooth BluePup
Name[lt]=BluePup Bluetooth valdymas
Name[lv]=BluePup Bluetooth pārvaldība
Name[mg]=BluePup Bluetooth fitantanana
Name[mi]=BluePup whakahaere Nihokikorangi
Name[mk]=Управување со Bluetooth со BluePup
Name[ml]=ബ്ലൂപപ്പ് ബ്ലൂടൂത്ത് മാനേജ്മെന്റ്
Name[mn]=BluePup Bluetooth удирдлага
Name[mr]=ब्लूपप ब्लूटूथ व्यवस्थापन
Name[ms]=Pengurusan Bluetooth BluePup
Name[mt]=Ġestjoni Bluetooth BluePup
Name[my]=BluePup ဘလူးတုသ်စီမံခန့်ခွဲမှု
Name[ne]=BluePup ब्लुटुथ व्यवस्थापन
Name[nl]=BluePup Bluetooth-beheer
Name[no]=BluePup Bluetooth-administrasjon
Name[ny]=Kuwongolera kwa BluePup Bluetooth
Name[om]=Bulchiinsa Biltuutii BluePup
Name[or]=ବ୍ଲୁପପ୍ ବ୍ଲୁଟୁଥ୍ ପରିଚାଳନା |
Name[pa]=ਬਲੂਪਪ ਬਲੂਟੁੱਥ ਪ੍ਰਬੰਧਨ
Name[pl]=Zarządzanie Bluetooth BluePup
Name[ps]=ﺖﯾﺮﯾﺪﻣ ټﻮﺗﻮﻠﺑ ﭗﭘﻮﯿﻠﺑ ﺩ
Name[pt]=BluePup Bluetooth gestão
Name[qu]=BluePup Bluetooth kamachiy
Name[ro]=Gestionarea Bluetooth BluePup
Name[rw]=Ubuyobozi bwa BluePup
Name[sa]=BluePup ब्लूटूथ प्रबन्धन
Name[sd]=BluePup ﻡﺎﻈﺘﻧﺍ ﺕﻮٽﻮﻠﺑ
Name[si]=BluePup බ්ලූටූත් කළමනාකරණය
Name[sk]=Správa Bluetooth BluePup
Name[sl]=BluePup Bluetooth upravljanje
Name[sm]=BluePup Bluetooth pulega
Name[sn]=BluePup Bluetooth manejimendi
Name[so]=Maaraynta BluePup Bluetooth
Name[sq]=Menaxhimi Bluetooth BluePup
Name[st]=Tsamaiso ea Bluetooth ea BluePup
Name[su]=manajemén Bluetooth BluePup
Name[sv]=BluePup Bluetooth-hantering
Name[sw]=Usimamizi wa Bluetooth wa BluePup
Name[ta]=BluePup புளூடூத் மேலாண்மை
Name[te]=బ్లూపప్ బ్లూటూత్ నిర్వహణ
Name[tg]=Идоракунии Bluetooth BluePup
Name[th]=การจัดการบลูทู ธ BluePup
Name[ti]=ምሕደራ ብሉቱዝ ብሉፑፕ
Name[tk]=BluePup Bluetooth dolandyryşy
Name[tl]=Pamamahala ng BluePup Bluetooth
Name[to]=BluePup Bluetooth Management
Name[ts]=Vulawuri bya Bluetooth bya BluePup
Name[tt]=BluePup Bluetooth белән идарә итү
Name[tw]=BluePup Bluetooth a wɔde di dwuma
Name[ty]=Te faatereraa BluePup Bluetooth
Name[ug]=BluePup ﺵﯗﺭﯘﻘﺷﺎﺑ ﺶﯩﭼ ﻙﯚﻛ
Name[uk]=Управління Bluetooth BluePup
Name[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﮫﺗﻮﭨﻮﻠﺑ ﭗﭘﻮﯿﻠﺑ
Name[uz]=BluePup Bluetooth boshqaruvi
Name[vi]=Quản lý Bluetooth BluePup
Name[xh]=Ulawulo lweBluetooth yeBluePup
Name[yi]=BluePup גנוטלאַווראַפ הטאָאָטעולב
Name[yo]=BluePup Bluetooth isakoso
Name[zh]=BluePup 蓝牙管理
Name[zu]=BluePup Bluetooth ukuphathwa
Name=BluePup Bluetooth management
Icon=bluepup.xpm
Comment[fr]=Gestion BluePup Bluetooth
Comment[bg]=BluePup Bluetooth управление
Comment[de]=BluePup Bluetooth-Verwaltung
Comment[es]=BluePup: gestor de Bluetooth
Comment[ru]=Bluetooth-управление BluePup
Comment[tr]=BluePup Bluetooth yönetimi
Comment[af]=BluePup Bluetooth-bestuur
Comment[am]=ብሉፑፕ የብሉቱዝ አስተዳደር
Comment[ar]=BluePup ﺙﻮﺗﻮﻠﺒﻟﺍ ﺓﺭﺍﺩﺇ
Comment[as]=BluePup ব্লুটুথ ব্যৱস্থাপনা
Comment[ay]=BluePup Bluetooth ukax apnaqañapawa
Comment[az]=BluePup Bluetooth idarəetməsi
Comment[ba]=BluePup Bluetooth етәкселеге
Comment[be]=Кіраванне Bluetooth BluePup
Comment[bm]=BluePup Bluetooth ɲɛnabɔli
Comment[bn]=BluePup ব্লুটুথ ব্যবস্থাপনা
Comment[bo]=Bluepup Bluetoothདོ་དམ།
Comment[bs]=BluePup Bluetooth upravljanje
Comment[ca]=Gestió de Bluetooth BluePup
Comment[co]=Gestione Bluetooth BluePup
Comment[cs]=Správa Bluetooth BluePup
Comment[cy]=BluePup rheoli Bluetooth
Comment[da]=BluePup Bluetooth-styring
Comment[dv]=ޓްންމަޖްނޭމެ ތުޓޫލޫބް ޕްޕަލޫބް
Comment[ee]=BluePup Bluetooth dzikpɔkpɔ
Comment[el]=Διαχείριση Bluetooth BluePup
Comment[eo]=BluePup Bluetooth-administrado
Comment[et]=BluePup Bluetoothi haldus
Comment[eu]=BluePup Bluetooth kudeaketa
Comment[fa]=BluePup ﺙﻮﺗﻮﻠﺑ ﺖﯾﺮﯾﺪﻣ
Comment[fi]=BluePup Bluetooth-hallinta
Comment[fj]=Lewai ni BluePup Bluetooth
Comment[fo]=BluePup Bluetooth management
Comment[fy]=BluePup Bluetooth behear
Comment[ga]=Bainistíocht BluePup Bluetooth
Comment[gd]=Stiùireadh BluePup Bluetooth
Comment[gl]=Xestión Bluetooth BluePup
Comment[gn]=BluePup Bluetooth jesarekorã
Comment[gu]=બ્લુપપ બ્લૂટૂથ મેનેજમેન્ટ
Comment[ha]=BluePup Gudanarwar Bluetooth
Comment[he]=BluePup לש Bluetooth לוהינ
Comment[hi]=ब्लूपप ब्लूटूथ प्रबंधन
Comment[hr]=BluePup Bluetooth upravljanje
Comment[ht]=BluePup jesyon Bluetooth
Comment[hu]=BluePup Bluetooth kezelés
Comment[hy]=BluePup Bluetooth կառավարում
Comment[id]=Manajemen BluePup Bluetooth
Comment[ig]=Njikwa Bluetooth BluePup
Comment[is]=BluePup Bluetooth stjórnun
Comment[it]=Gestione BluePup Bluetooth
Comment[iu]=BluePup Bluetooth Management
Comment[ja]=BluePup Bluetooth 管理
Comment[jv]=Manajemen Bluetooth BluePup
Comment[ka]=BluePup Bluetooth მენეჯმენტი
Comment[kk]=BluePup Bluetooth басқару
Comment[km]=ការគ្រប់គ្រងប៊្លូធូស BluePup
Comment[kn]=ಬ್ಲೂಪಪ್ ಬ್ಲೂಟೂತ್ ನಿರ್ವಹಣೆ
Comment[ko]=BluePup 블루투스 관리
Comment[ku]=Rêveberiya Bluetooth BluePup
Comment[ky]=BluePup Bluetooth башкаруу
Comment[la]=BluePup Bluetooth procuratio
Comment[lb]=BluePup Bluetooth Gestioun
Comment[lg]=Enzirukanya ya Bluetooth eya BluePup
Comment[ln]=Bokambami ya Bluetooth ya BluePup
Comment[lo]=ການຄຸ້ມຄອງ Bluetooth BluePup
Comment[lt]=BluePup Bluetooth valdymas
Comment[lv]=BluePup Bluetooth pārvaldība
Comment[mg]=BluePup Bluetooth fitantanana
Comment[mi]=BluePup whakahaere Nihokikorangi
Comment[mk]=Управување со Bluetooth со BluePup
Comment[ml]=ബ്ലൂപപ്പ് ബ്ലൂടൂത്ത് മാനേജ്മെന്റ്
Comment[mn]=BluePup Bluetooth удирдлага
Comment[mr]=ब्लूपप ब्लूटूथ व्यवस्थापन
Comment[ms]=Pengurusan Bluetooth BluePup
Comment[mt]=Ġestjoni Bluetooth BluePup
Comment[my]=BluePup ဘလူးတုသ်စီမံခန့်ခွဲမှု
Comment[ne]=BluePup ब्लुटुथ व्यवस्थापन
Comment[nl]=BluePup Bluetooth-beheer
Comment[no]=BluePup Bluetooth-administrasjon
Comment[ny]=Kuwongolera kwa BluePup Bluetooth
Comment[om]=Bulchiinsa Biltuutii BluePup
Comment[or]=ବ୍ଲୁପପ୍ ବ୍ଲୁଟୁଥ୍ ପରିଚାଳନା |
Comment[pa]=ਬਲੂਪਪ ਬਲੂਟੁੱਥ ਪ੍ਰਬੰਧਨ
Comment[pl]=Zarządzanie Bluetooth BluePup
Comment[ps]=ﺖﯾﺮﯾﺪﻣ ټﻮﺗﻮﻠﺑ ﭗﭘﻮﯿﻠﺑ ﺩ
Comment[pt]=BluePup Bluetooth gestão
Comment[qu]=BluePup Bluetooth kamachiy
Comment[ro]=Gestionarea Bluetooth BluePup
Comment[rw]=Ubuyobozi bwa BluePup
Comment[sa]=BluePup ब्लूटूथ प्रबन्धन
Comment[sd]=BluePup ﻡﺎﻈﺘﻧﺍ ﺕﻮٽﻮﻠﺑ
Comment[si]=BluePup බ්ලූටූත් කළමනාකරණය
Comment[sk]=Správa Bluetooth BluePup
Comment[sl]=BluePup Bluetooth upravljanje
Comment[sm]=BluePup Bluetooth pulega
Comment[sn]=BluePup Bluetooth manejimendi
Comment[so]=Maaraynta BluePup Bluetooth
Comment[sq]=Menaxhimi Bluetooth BluePup
Comment[st]=Tsamaiso ea Bluetooth ea BluePup
Comment[su]=manajemén Bluetooth BluePup
Comment[sv]=BluePup Bluetooth-hantering
Comment[sw]=Usimamizi wa Bluetooth wa BluePup
Comment[ta]=BluePup புளூடூத் மேலாண்மை
Comment[te]=బ్లూపప్ బ్లూటూత్ నిర్వహణ
Comment[tg]=Идоракунии Bluetooth BluePup
Comment[th]=การจัดการบลูทู ธ BluePup
Comment[ti]=ምሕደራ ብሉቱዝ ብሉፑፕ
Comment[tk]=BluePup Bluetooth dolandyryşy
Comment[tl]=Pamamahala ng BluePup Bluetooth
Comment[to]=BluePup Bluetooth Management
Comment[ts]=Vulawuri bya Bluetooth bya BluePup
Comment[tt]=BluePup Bluetooth белән идарә итү
Comment[tw]=BluePup Bluetooth a wɔde di dwuma
Comment[ty]=Te faatereraa BluePup Bluetooth
Comment[ug]=BluePup ﺵﯗﺭﯘﻘﺷﺎﺑ ﺶﯩﭼ ﻙﯚﻛ
Comment[uk]=Управління Bluetooth BluePup
Comment[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﮫﺗﻮﭨﻮﻠﺑ ﭗﭘﻮﯿﻠﺑ
Comment[uz]=BluePup Bluetooth boshqaruvi
Comment[vi]=Quản lý Bluetooth BluePup
Comment[xh]=Ulawulo lweBluetooth yeBluePup
Comment[yi]=BluePup גנוטלאַווראַפ הטאָאָטעולב
Comment[yo]=BluePup Bluetooth isakoso
Comment[zh]=BluePup 蓝牙管理
Comment[zu]=BluePup Bluetooth ukuphathwa
Comment=BluePup Bluetooth management
Exec=bluepup
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=BluePup
