[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le démarrage : BootManager
Name[bg]=BootManager конфигуриране на стартиране
Name[de]=BootManager Booten konfigurieren
Name[ru]=BootManager конфигуратор загрузки
Name[es]=BootManager configurar arranque
Name=BootManager configure bootup
Icon=so.xpm
Comment[fr]=BootManager Configurer le démarrage
Comment[bg]=BootManager конфигуриране на стартиране
Comment[de]=BootManager Booten konfigurieren
Comment[ru]=BootManager конфигуратор загрузки
Comment[es]=BootManager configurar arranque
Comment=BootManager configure bootup
Exec=bootmanager
Terminal=false
Type=Application
Categories=X-System
GenericName=BootManager
