[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le démarrage : BootManager
Name[bg]=BootManager конфигуриране на стартиране
Name=BootManager configure bootup
Icon=so.xpm
Comment[fr]=BootManager Configurer le démarrage
Comment[bg]=BootManager конфигуриране на стартиране
Comment=BootManager configure bootup
Exec=bootmanager
Terminal=false
Type=Application
Categories=X-System
GenericName=BootManager
