[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le démarrage : BootManager
Name[bg]=BootManager конфигуриране на стартиране
Name[de]=BootManager Booten konfigurieren
Name[ru]=BootManager конфигуратор загрузки
Name[es]=BootManager configurar arranque
Name[tr]=BootManager önyükleme ayarları
Name[af]=BootManager konfigureer opstart
Name[am]=BootManager ማስነሻን ያዋቅራል።
Name[ar]=BootManager ﺪﻴﻬﻤﺘﻟﺍ ﻦﻳﻮﻜﺗ
Name[as]=BootManager বুটআপ বিন্যাস কৰক
Name[ay]=BootManager ukax mä wakichäwiwa
Name[az]=BootManager açılışı konfiqurasiya edir
Name[ba]=BootManager configure bootup
Name[be]=BootManager наладзіць загрузку
Name[bm]=BootManager bɛ daminɛcogo labɛn
Name[bn]=BootManager বুটআপ কনফিগার করুন
Name[bo]=BootManager configure bootup
Name[bs]=BootManager konfiguriše pokretanje
Name[ca]=BootManager configura l'arrencada
Name[co]=BootManager cunfigurà u bootup
Name[cs]=BootManager konfiguruje spouštění
Name[cy]=BootManager ffurfweddu cychwyn
Name[da]=BootManager konfigurerer opstart
Name[dv]=ންރުކު ޓްރޭގްފިންކޮ ޕްއަޓްބޫ ރޖަނޭމެޓްބޫ
Name[ee]=BootManager ɖo ɖoɖo ɖe gɔmedzedze ŋu
Name[el]=BootManager διαμόρφωση εκκίνησης
Name[eo]=BootManager agordu ekfunkciigon
Name[et]=BootManager konfigureerib alglaadimise
Name[eu]=BootManager konfiguratu abioa
Name[fa]=BootManager ﺪﻨﮐ ﯽﻣ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ
Name[fi]=BootManager määrittää käynnistyksen
Name[fj]=BootManager configure bootup
Name[fo]=BootManager configure bootup
Name[fy]=BootManager konfigurearje bootup
Name[ga]=Cumraigh BootManager an tosaithe
Name[gd]=BootManager rèiteachadh bootup
Name[gl]=BootManager configura o arranque
Name[gn]=BootManager omohenda ñepyrũrã
Name[gu]=BootManager બુટઅપ ગોઠવે છે
Name[ha]=BootManager yana saita bootup
Name[he]=BootManager לוחתא רידגהל
Name[hi]=बूटमैनेजर बूटअप को कॉन्फ़िगर करता है
Name[hr]=BootManager konfigurira pokretanje
Name[ht]=BootManager konfigirasyon demaraj
Name[hu]=BootManager konfigurálja a rendszerindítást
Name[hy]=BootManager-ի կազմաձևման բեռնումը
Name[id]=BootManager mengkonfigurasi bootup
Name[ig]=BootManager na-ahazi bootup
Name[is]=BootManager stilla ræsingu
Name[it]=BootManager configura l'avvio
Name[iu]=ᐴᑦᐊᐅᓚᑦᑎᔨᐅᑉ ᑲᒫᓘᑉ
Name[ja]=BootManager によるブートアップの構成
Name[jv]=BootManager ngatur bootup
Name[ka]=BootManager-ის ჩატვირთვის კონფიგურაცია
Name[kk]=BootManager жүктеуді конфигурациялау
Name[km]=BootManager កំណត់រចនាសម្ព័ន្ធការចាប់ផ្ដើម
Name[kn]=BootManager ಬೂಟ್ಅಪ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡುತ್ತದೆ
Name[ko]=BootManager 구성 부팅
Name[ku]=BootManager bootupê mîheng bike
Name[ky]=BootManager жүктөөнү конфигурациялайт
Name[la]=BootManager configurare bootup
Name[lb]=BootManager konfiguréieren Bootup
Name[lg]=BootManager okutegeka okutandika
Name[ln]=BootManager ebongisi bobandi ya mosala
Name[lo]=BootManager ຕັ້ງຄ່າການເລີ່ມຕົ້ນ
Name[lt]=„BootManager“ sukonfigūruokite įkrovą
Name[lv]=BootManager konfigurējiet sāknēšanu
Name[mg]=BootManager configure bootup
Name[mi]=BootManager whirihora whakaohooho
Name[mk]=BootManager го конфигурира подигањето
Name[ml]=BootManager ബൂട്ട്അപ്പ് ക്രമീകരിക്കുന്നു
Name[mn]=BootManager ачаалах тохиргоог хийнэ
Name[mr]=BootManager बूटअप कॉन्फिगर करा
Name[ms]=BootManager mengkonfigurasi bootup
Name[mt]=BootManager kkonfigurat bootup
Name[my]=BootManager သည် bootup ကို configure လုပ်ပါ။
Name[ne]=BootManager कन्फिगर बुटअप
Name[nl]=BootManager configureert opstarten
Name[no]=BootManager konfigurerer oppstart
Name[ny]=BootManager sinthani zoyambira
Name[om]=BootManager jalqaba qindeessuu
Name[or]=ବୁଟ ମ୍ୟାନେଜର୍ ବୁଟଅପ୍ ବିନ୍ୟାସ କରନ୍ତୁ |
Name[pa]=BootManager ਬੂਟਅੱਪ ਕੌਂਫਿਗਰ ਕਰਦਾ ਹੈ
Name[pl]=BootManager konfiguruje bootowanie
Name[ps]=BootManager ﻝﻮﮐ ﻢﯿﻈﻨﺗ ﭖﺍ ټﻮﺑ ﺩ
Name[pt]=Configuração de inicialização do BootManager
Name[qu]=BootManager qallariyta wakichiy
Name[ro]=BootManager configura pornirea
Name[rw]=BootManager igena bootup
Name[sa]=BootManager बूटअप विन्यस्यताम्
Name[sd]=BootManager ﻮﻳڏ ﺐﻴﺗﺮﺗ ﭖﺍ ٽﻮﺑ
Name[si]=BootManager bootup වින්u200dයාස කරයි
Name[sk]=BootManager konfiguruje bootovanie
Name[sl]=BootManager konfigurira zagon
Name[sm]=BootManager configure bootup
Name[sn]=BootManager gadzirisa bootup
Name[so]=BootManager wuxuu habeeyaa bootup
Name[sq]=BootManager konfiguroni nisjen
Name[st]=BootManager e lokisa ho qala
Name[su]=BootManager ngonpigurasikeun bootup
Name[sv]=BootManager konfigurera uppstart
Name[sw]=BootManager sanidi uanzishaji
Name[ta]=பூட்மேனேஜர் துவக்கத்தை உள்ளமைக்கிறது
Name[te]=BootManager బూటప్u200cని కాన్ఫిగర్ చేస్తుంది
Name[tg]=BootManager танзимкунии пурборкуниро
Name[th]=BootManager กำหนดค่าการบูต
Name[ti]=BootManager ምጅማር ምውቃር
Name[tk]=“BootManager” ýüklemäni düzýär
Name[tl]=I-configure ng BootManager ang bootup
Name[to]=BootManager configure konokona
Name[ts]=BootManager ku lulamisa ku pfula
Name[tt]=BootManager йөкләү конфигурациясе
Name[tw]=BootManager hyehyɛ ahyɛnsode
Name[ty]=BootManager configure bootup
Name[ug]=BootManager ﯗﺪﻳەﻠﭘەﺳ ﻰﻨﺸﯩﺘﯩﻏﺯﻮﻗ
Name[uk]=BootManager налаштовує завантаження
Name[ur]=۔ﮯﮨ ﺎﺘﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ ﭖﺍ ﭦﻮﺑ ﺮﺠﻨﯿﻣ ﭦﻮﺑ
Name[uz]=BootManager yuklashni sozlash
Name[vi]=BootManager cấu hình khởi động
Name[xh]=Umphathi weBootManager qwalasela ukuqala
Name[yi]=פּוטאָאָב רעיגיפנאַק רעגאַנאַמטאָאָב
Name[yo]=BootManager tunto bootup
Name[zh]=BootManager 配置启动
Name[zu]=I-BootManager lungiselela ukuqalisa
Name=BootManager configure bootup
Icon=so.xpm
Comment[fr]=BootManager Configurer le démarrage
Comment[bg]=BootManager конфигуриране на стартиране
Comment[de]=BootManager Booten konfigurieren
Comment[ru]=BootManager конфигуратор загрузки
Comment[es]=BootManager configurar arranque
Comment[tr]=BootManager önyüklemeyi yapılandırır
Comment[af]=BootManager konfigureer opstart
Comment[am]=BootManager ማስነሻን ያዋቅራል።
Comment[ar]=BootManager ﺪﻴﻬﻤﺘﻟﺍ ﻦﻳﻮﻜﺗ
Comment[as]=BootManager বুটআপ বিন্যাস কৰক
Comment[ay]=BootManager ukax mä wakichäwiwa
Comment[az]=BootManager açılışı konfiqurasiya edir
Comment[ba]=BootManager configure bootup
Comment[be]=BootManager наладзіць загрузку
Comment[bm]=BootManager bɛ daminɛcogo labɛn
Comment[bn]=BootManager বুটআপ কনফিগার করুন
Comment[bo]=BootManager configure bootup
Comment[bs]=BootManager konfiguriše pokretanje
Comment[ca]=BootManager configura l'arrencada
Comment[co]=BootManager cunfigurà u bootup
Comment[cs]=BootManager konfiguruje spouštění
Comment[cy]=BootManager ffurfweddu cychwyn
Comment[da]=BootManager konfigurerer opstart
Comment[dv]=ންރުކު ޓްރޭގްފިންކޮ ޕްއަޓްބޫ ރޖަނޭމެޓްބޫ
Comment[ee]=BootManager ɖo ɖoɖo ɖe gɔmedzedze ŋu
Comment[el]=BootManager διαμόρφωση εκκίνησης
Comment[eo]=BootManager agordu ekfunkciigon
Comment[et]=BootManager konfigureerib alglaadimise
Comment[eu]=BootManager konfiguratu abioa
Comment[fa]=BootManager ﺪﻨﮐ ﯽﻣ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ
Comment[fi]=BootManager määrittää käynnistyksen
Comment[fj]=BootManager configure bootup
Comment[fo]=BootManager configure bootup
Comment[fy]=BootManager konfigurearje bootup
Comment[ga]=Cumraigh BootManager an tosaithe
Comment[gd]=BootManager rèiteachadh bootup
Comment[gl]=BootManager configura o arranque
Comment[gn]=BootManager omohenda ñepyrũrã
Comment[gu]=BootManager બુટઅપ ગોઠવે છે
Comment[ha]=BootManager yana saita bootup
Comment[he]=BootManager לוחתא רידגהל
Comment[hi]=बूटमैनेजर बूटअप को कॉन्फ़िगर करता है
Comment[hr]=BootManager konfigurira pokretanje
Comment[ht]=BootManager konfigirasyon demaraj
Comment[hu]=BootManager konfigurálja a rendszerindítást
Comment[hy]=BootManager-ի կազմաձևման բեռնումը
Comment[id]=BootManager mengkonfigurasi bootup
Comment[ig]=BootManager na-ahazi bootup
Comment[is]=BootManager stilla ræsingu
Comment[it]=BootManager configura l'avvio
Comment[iu]=ᐴᑦᐊᐅᓚᑦᑎᔨᐅᑉ ᑲᒫᓘᑉ
Comment[ja]=BootManager によるブートアップの構成
Comment[jv]=BootManager ngatur bootup
Comment[ka]=BootManager-ის ჩატვირთვის კონფიგურაცია
Comment[kk]=BootManager жүктеуді конфигурациялау
Comment[km]=BootManager កំណត់រចនាសម្ព័ន្ធការចាប់ផ្ដើម
Comment[kn]=BootManager ಬೂಟ್ಅಪ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡುತ್ತದೆ
Comment[ko]=BootManager 구성 부팅
Comment[ku]=BootManager bootupê mîheng bike
Comment[ky]=BootManager жүктөөнү конфигурациялайт
Comment[la]=BootManager configurare bootup
Comment[lb]=BootManager konfiguréieren Bootup
Comment[lg]=BootManager okutegeka okutandika
Comment[ln]=BootManager ebongisi bobandi ya mosala
Comment[lo]=BootManager ຕັ້ງຄ່າການເລີ່ມຕົ້ນ
Comment[lt]=„BootManager“ sukonfigūruokite įkrovą
Comment[lv]=BootManager konfigurējiet sāknēšanu
Comment[mg]=BootManager configure bootup
Comment[mi]=BootManager whirihora whakaohooho
Comment[mk]=BootManager го конфигурира подигањето
Comment[ml]=BootManager ബൂട്ട്അപ്പ് ക്രമീകരിക്കുന്നു
Comment[mn]=BootManager ачаалах тохиргоог хийнэ
Comment[mr]=BootManager बूटअप कॉन्फिगर करा
Comment[ms]=BootManager mengkonfigurasi bootup
Comment[mt]=BootManager kkonfigurat bootup
Comment[my]=BootManager သည် bootup ကို configure လုပ်ပါ။
Comment[ne]=BootManager कन्फिगर बुटअप
Comment[nl]=BootManager configureert opstarten
Comment[no]=BootManager konfigurerer oppstart
Comment[ny]=BootManager sinthani zoyambira
Comment[om]=BootManager jalqaba qindeessuu
Comment[or]=ବୁଟ ମ୍ୟାନେଜର୍ ବୁଟଅପ୍ ବିନ୍ୟାସ କରନ୍ତୁ |
Comment[pa]=BootManager ਬੂਟਅੱਪ ਕੌਂਫਿਗਰ ਕਰਦਾ ਹੈ
Comment[pl]=BootManager konfiguruje bootowanie
Comment[ps]=BootManager ﻝﻮﮐ ﻢﯿﻈﻨﺗ ﭖﺍ ټﻮﺑ ﺩ
Comment[pt]=Configuração de inicialização do BootManager
Comment[qu]=BootManager qallariyta wakichiy
Comment[ro]=BootManager configura pornirea
Comment[rw]=BootManager igena bootup
Comment[sa]=BootManager बूटअप विन्यस्यताम्
Comment[sd]=BootManager ﻮﻳڏ ﺐﻴﺗﺮﺗ ﭖﺍ ٽﻮﺑ
Comment[si]=BootManager bootup වින්u200dයාස කරයි
Comment[sk]=BootManager konfiguruje bootovanie
Comment[sl]=BootManager konfigurira zagon
Comment[sm]=BootManager configure bootup
Comment[sn]=BootManager gadzirisa bootup
Comment[so]=BootManager wuxuu habeeyaa bootup
Comment[sq]=BootManager konfiguroni nisjen
Comment[st]=BootManager e lokisa ho qala
Comment[su]=BootManager ngonpigurasikeun bootup
Comment[sv]=BootManager konfigurera uppstart
Comment[sw]=BootManager sanidi uanzishaji
Comment[ta]=பூட்மேனேஜர் துவக்கத்தை உள்ளமைக்கிறது
Comment[te]=BootManager బూటప్u200cని కాన్ఫిగర్ చేస్తుంది
Comment[tg]=BootManager танзимкунии пурборкуниро
Comment[th]=BootManager กำหนดค่าการบูต
Comment[ti]=BootManager ምጅማር ምውቃር
Comment[tk]=“BootManager” ýüklemäni düzýär
Comment[tl]=I-configure ng BootManager ang bootup
Comment[to]=BootManager configure konokona
Comment[ts]=BootManager ku lulamisa ku pfula
Comment[tt]=BootManager йөкләү конфигурациясе
Comment[tw]=BootManager hyehyɛ ahyɛnsode
Comment[ty]=BootManager configure bootup
Comment[ug]=BootManager ﯗﺪﻳەﻠﭘەﺳ ﻰﻨﺸﯩﺘﯩﻏﺯﻮﻗ
Comment[uk]=BootManager налаштовує завантаження
Comment[ur]=۔ﮯﮨ ﺎﺘﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ ﭖﺍ ﭦﻮﺑ ﺮﺠﻨﯿﻣ ﭦﻮﺑ
Comment[uz]=BootManager yuklashni sozlash
Comment[vi]=BootManager cấu hình khởi động
Comment[xh]=Umphathi weBootManager qwalasela ukuqala
Comment[yi]=פּוטאָאָב רעיגיפנאַק רעגאַנאַמטאָאָב
Comment[yo]=BootManager tunto bootup
Comment[zh]=BootManager 配置启动
Comment[zu]=I-BootManager lungiselela ukuqalisa
Comment=BootManager configure bootup
Exec=bootmanager
Terminal=false
Type=Application
Categories=X-System
GenericName=BootManager
