[Desktop Entry]
Encoding=UTF-8
Name[fr]=Graver ISO sur CD/DVD : Burniso2cd
Name[bg]=Burniso2cd запис iso файл на CD/DVD
Name=Burniso2cd burn iso file to CD/DVD
Icon=mini-cd.xpm
Comment[fr]=Burniso2cd Graver un fichier ISO sur un CD/DVD
Comment[bg]=Burniso2cd запис iso файл на CD/DVD
Comment=Burniso2cd burn iso file to CD/DVD
Exec=burniso2cd
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=Burniso2cd
