[Desktop Entry]
Encoding=UTF-8
Name[fr]=Graver ISO sur CD/DVD : Burniso2cd
Name[bg]=Burniso2cd запис iso файл на CD/DVD
Name[de]=Burniso2cd brennen ISO-Datei auf CD/DVD
Name[es]=Burniso2cd grabar archivo iso a CD / DVD
Name[tr]=Burniso2cd iso dosyasını CD/DVD'ye yazma
Name[af]=Burniso2cd brand iso-lêer na CD/DVD
Name[am]=Burniso2cd የኢሶ ፋይልን ወደ ሲዲ/ዲቪዲ ያቃጥላል
Name[ar]=Burniso2cd ﻒﻠﻣ ﺦﺴﻧ ISO ﺹﺮﻗ / ﻁﻮﻐﻀﻣ ﺹﺮﻗ ﻰﻠﻋ DVD
Name[as]=Burniso2cd এ iso ফাইলক CD/DVD লৈ বাৰ্ন কৰে
Name[ay]=Burniso2cd ukax iso archivo CD/DVD ukar phichhantatawa
Name[az]=Burniso2cd iso faylını CD/DVD-yə yazın
Name[ba]=Buriniso2cd burne iso файлы CD/DVD
Name[be]=Burniso2cd запісаць файл ISO на CD/DVD
Name[bm]=Burniso2cd bɛ iso file jeni ka kɛ CD/DVD ye
Name[bn]=Burniso2cd বার্ন আইএসও ফাইল সিডি/ডিভিডিতে
Name[bo]=Burniso2cd burn iso ཡིག་ཆ་དེ་CD/DVD
Name[bs]=Burniso2cd snima iso fajl na CD/DVD
Name[ca]=Burniso2cd grava un fitxer iso a CD/DVD
Name[co]=Burniso2cd masterize file iso à CD / DVD
Name[cs]=Burniso2cd vypálí iso soubor na CD/DVD
Name[cy]=Burniso2cd llosgi ffeil iso i CD/DVD
Name[da]=Burniso2cd brænd iso-fil til cd/dvd
Name[dv]=Burniso2cd ވެށެލާދާންއަ ށްއަ ޑީވީޑީ/ޑީސީ ލްއިފަ ސޯއިއަ ންއި
Name[ee]=Burniso2cd dzo iso faɛl ɖe CD/DVD me
Name[el]=Burniso2cd εγγραφή αρχείου iso σε CD/DVD
Name[eo]=Burniso2cd bruligu iso-dosieron al KD/DVD
Name[et]=Burniso2cd põletab iso faili CD/DVD-le
Name[eu]=Burniso2cd grabatu iso fitxategia CD/DVDra
Name[fa]=Burniso2cd ﻞﯾﺎﻓ iso ﯼﻭﺭ ﺍﺭ CD/DVD ﺪﯿﻨﮐ ﺖﯾﺍﺭ
Name[fi]=Burniso2cd polttaa iso-tiedoston CD/DVD:lle
Name[fj]=Burniso2cd kama iso faile ki na CD/DVD
Name[fo]=Burniso2cd brenna iso file to CD/DVD
Name[fy]=Burniso2cd burn iso triem nei CD / DVD
Name[ga]=Burniso2cd an comhad iso a dhó go CD/DVD
Name[gd]=Burniso2cd a’ losgadh faidhle iso gu CD/DVD
Name[gl]=Burniso2cd gravar ficheiros iso en CD/DVD
Name[gn]=Burniso2cd ohapy iso rembiapokue CD/DVD-pe
Name[gu]=Burniso2cd બર્ન આઇસો ફાઇલને CD/DVD પર
Name[ha]=Burniso2cd ƙona iso fayil zuwa CD/DVD
Name[he]=Burniso2cd ץבוק תבירצ ISO רוטילקתל/DVD
Name[hi]=बर्निसो2सीडी आईएसओ फाइल को सीडी/डीवीडी में बर्न करें
Name[hr]=Burniso2cd snimanje iso datoteke na CD/DVD
Name[ht]=Burniso2cd boule iso fichye sou CD/DVD
Name[hu]=Burniso2cd iso fájlt írhat CD-re/DVD-re
Name[hy]=Burniso2cd այրել iso ֆայլը CD/DVD-ում
Name[id]=Burniso2cd membakar file iso ke CD/DVD
Name[ig]=Burniso2cd gbaa iso faịlụ na CD/DVD
Name[is]=Burniso2cd brenna iso skrá á CD/DVD
Name[it]=Burniso2cd masterizza file iso su CD/DVD
Name[iu]=ᐴᓂ2cd burn iso file to CD/DVD
Name[ja]=Burniso2cd ISO ファイルを CD/DVD に書き込みます
Name[jv]=Burniso2cd ngobong file iso menyang CD/DVD
Name[ka]=Burniso2cd ISO ფაილის ჩაწერა CD/DVD-ზე
Name[kk]=Burniso2cd iso файлын CD/DVD дискісіне жазу
Name[km]=Burniso2cd ដុតឯកសារ iso ទៅស៊ីឌី/ឌីវីឌី
Name[kn]=Burniso2cd iso ಫೈಲ್ ಅನ್ನು CD/DVD ಗೆ ಬರ್ನ್ ಮಾಡಿ
Name[ko]=Burniso2cd iso 파일을 CD/DVD로 굽기
Name[ku]=Burniso2cd pelê iso li CD/DVD bişewitîne
Name[ky]=Burniso2cd iso файлын CD/DVDге жаздыруу
Name[la]=Burniso2cd iso file ad CD/DVD
Name[lb]=Burniso2cd brennt ISO Datei op CD / DVD
Name[lg]=Burniso2cd eyokya fayiro ya iso mu CD/DVD
Name[ln]=Burniso2cd kotumba fichier iso na CD/DVD
Name[lo]=Burniso2cd ໄຫມ້ໄຟລ໌ iso ໃສ່ CD/DVD
Name[lt]=Burniso2cd įrašyti iso failą į CD / DVD
Name[lv]=Burniso2cd ierakstīt ISO failu CD/DVD
Name[mg]=Burniso2cd mandoro rakitra iso amin'ny CD/DVD
Name[mi]=Burniso2cd tahu kōnae iso ki CD/DVD
Name[mk]=Burniso2cd снимајте ISO датотека на ЦД/ДВД
Name[ml]=Burniso2cd iso ഫയൽ CD/DVD-ലേക്ക് ബേൺ ചെയ്യുക
Name[mn]=Burniso2cd нь iso файлыг CD/DVD болгон бичнэ
Name[mr]=Burniso2cd आयएसओ फाइल सीडी/डीव्हीडीवर बर्न करा
Name[ms]=Burniso2cd membakar fail iso ke CD/DVD
Name[mt]=Burniso2cd burn iso file għal CD/DVD
Name[my]=Burniso2cd သည် iso ဖိုင်ကို CD/DVD သို့ လောင်ကျွမ်းစေပါသည်။
Name[ne]=Burniso2cd CD/DVD मा iso फाइल बर्न गर्नुहोस्
Name[nl]=Burniso2cd iso-bestand op cd/dvd branden
Name[no]=Burniso2cd brenn iso-fil til CD/DVD
Name[ny]=Burniso2cd kuwotcha fayilo ya iso kukhala CD/DVD
Name[om]=Burniso2cd faayilii iso gara CD/DVDtti gubuu
Name[or]=Burniso2cd CD / DVD କୁ iso ଫାଇଲ୍ ପୋଡିଦିଏ |
Name[pa]=Burniso2cd ਆਈਐਸਓ ਫਾਈਲ ਨੂੰ ਸੀਡੀ/ਡੀਵੀਡੀ ਵਿੱਚ ਬਰਨ ਕਰੋ
Name[pl]=Burniso2cd nagraj plik iso na CD/DVD
Name[ps]=Burniso2cd ﺩ ISO ﻞﯾﺎﻓ CD/DVD ﺉړﮐ ﻼ﻿ﺟ ﻪﺗ
Name[pt]=Burniso2cd gravar arquivo iso para CD / DVD
Name[qu]=Burniso2cd iso willañiqita CD/DVD nisqaman ruphachiy
Name[ro]=Burniso2cd arde fișierul ISO pe CD/DVD
Name[ru]=Burniso2cd запись ISO файла на CD/DVD
Name[rw]=Burniso2cd gutwika dosiye kuri CD / DVD
Name[sa]=Burniso2cd iso सञ्चिकां CD/DVD मध्ये दहनं करोति
Name[sd]=Burniso2cd iso ﻲﮐ ﻞﺋﺎﻓ CD/DVD ﻮﻳڙﺎﺳ ﻲﮐ
Name[si]=Burniso2cd iso ගොනුව CD/DVD බවට පත් කරන්න
Name[sk]=Burniso2cd napáli súbor iso na CD/DVD
Name[sl]=Burniso2cd zapiši iso datoteko na CD/DVD
Name[sm]=Burniso2cd susunu ISO faila ile CD/DVD
Name[sn]=Burniso2cd kupisa iso faira kuCD/DVD
Name[so]=Burniso2cd gubi iso file CD/DVD
Name[sq]=Burniso2cd djeg skedarin iso në CD/DVD
Name[st]=Burniso2cd chesa faele ea iso ho CD/DVD
Name[su]=Burniso2cd ngaduruk file iso kana CD/DVD
Name[sv]=Burniso2cd bränn iso-fil till CD/DVD
Name[sw]=Burniso2cd choma faili ya iso kwa CD/DVD
Name[ta]=Burniso2cd iso கோப்பை CD/DVD ஆக எரிக்கவும்
Name[te]=Burniso2cd iso ఫైల్u200cని CD/DVDకి బర్న్ చేయండి
Name[tg]=Burniso2cd файли iso-ро ба CD/DVD сабт мекунад
Name[th]=Burniso2cd เบิร์นไฟล์ iso ลงซีดี/ดีวีดี
Name[ti]=Burniso2cd iso ፋይል ናብ ሲዲ/ዲቪዲ የቃጽል
Name[tk]=Burniso2cd izo / faýly CD / DVD-e ýakýar
Name[tl]=Burniso2cd burn iso file sa CD/DVD
Name[to]=Burniso2cd vela iso faile ki he CD/DVD
Name[ts]=Burniso2cd hisa fayili ya iso eka CD/DVD
Name[tt]=Burniso2cd изо файлны CD / DVD яндыра
Name[tw]=Burniso2cd hyew iso fael no kɔ CD/DVD mu
Name[ty]='O Burniso2cd te hō'ē 'āpī nō te CD/DVD
Name[ug]=Burniso2cd CD / DVD ﺎﻏ iso ﯗﺪﯨﺭﯛﺪﻳﯚﻛ ﻰﻨﯩﺘﯩﺠﺟﯚﮬ
Name[uk]=Burniso2cd записує файл ISO на CD/DVD
Name[ur]=Burniso2cd iso ﻮﮐ ﻞﺋﺎﻓ CD/DVD ۔ﮟﯾﺮﮐ ﻥﺮﺑ ﮟﯿﻣ
Name[uz]=Burniso2cd iso faylni CD/DVDga yozish
Name[vi]=Burniso2cd ghi tập tin iso vào đĩa CD/DVD
Name[xh]=Burniso2cd tshisa ifayile ye-iso kwiCD/DVD
Name[yi]=Burniso2cd יוו / קסידטקאַפּמאָק וצ עקעט אָסי ןענערב
Name[yo]=Burniso2cd sun faili iso si CD/DVD
Name[zh]=Burniso2cd 将 iso 文件刻录到 CD/DVD
Name[zu]=Burniso2cd shisa ifayela le-iso ku-CD/DVD
Name=Burniso2cd burn iso file to CD/DVD
Icon=mini-cd.xpm
Comment[fr]=Burniso2cd Graver un fichier ISO sur un CD/DVD
Comment[bg]=Burniso2cd запис iso файл на CD/DVD
Comment[de]=Burniso2cd brennen ISO-Datei auf CD/DVD
Comment[es]=Burniso2cd grabar archivo iso a CD / DVD
Comment[tr]=Burniso2cd iso dosyasını CD / DVD'ye yazma
Comment[af]=Burniso2cd brand iso-lêer na CD/DVD
Comment[am]=Burniso2cd አይኤስኦ ፋይልን ወደ ሲዲ/ዲቪዲ ያቃጥላል
Comment[ar]=Burniso2cd ﻒﻠﻣ ﺦﺴﻧ ISO ﺹﺮﻗ / ﻁﻮﻐﻀﻣ ﺹﺮﻗ ﻰﻠﻋ DVD
Comment[as]=Burniso2cd এ iso ফাইলক CD/DVD লৈ বাৰ্ন কৰে
Comment[ay]=Burniso2cd ukax iso archivo CD/DVD ukar phichhantatawa
Comment[az]=Burniso2cd iso faylını CD/DVD-yə yazın
Comment[ba]=Buriniso2cd burne iso файлы CD/DVD
Comment[be]=Burniso2cd запісаць файл ISO на CD/DVD
Comment[bm]=Burniso2cd bɛ iso file jeni ka kɛ CD/DVD ye
Comment[bn]=Burniso2cd বার্ন আইএসও ফাইল সিডি/ডিভিডিতে
Comment[bo]=Burniso2cd burn iso ཡིག་ཆ་དེ་CD/DVD
Comment[bs]=Burniso2cd snima iso fajl na CD/DVD
Comment[ca]=Burniso2cd grava un fitxer iso a CD/DVD
Comment[co]=Burniso2cd masterize file iso à CD / DVD
Comment[cs]=Burniso2cd vypálí iso soubor na CD/DVD
Comment[cy]=Burniso2cd llosgi ffeil iso i CD/DVD
Comment[da]=Burniso2cd brænd iso-fil til cd/dvd
Comment[dv]=Burniso2cd ވެށެލާދާންއަ ށްއަ ޑީވީޑީ/ޑީސީ ލްއިފަ ސޯއިއަ ންއި
Comment[ee]=Burniso2cd dzo iso faɛl ɖe CD/DVD me
Comment[el]=Burniso2cd εγγραφή αρχείου iso σε CD/DVD
Comment[eo]=Burniso2cd bruligu iso-dosieron al KD/DVD
Comment[et]=Burniso2cd põletab iso faili CD/DVD-le
Comment[eu]=Burniso2cd grabatu iso fitxategia CD/DVDra
Comment[fa]=Burniso2cd ﻞﯾﺎﻓ iso ﯼﻭﺭ ﺍﺭ CD/DVD ﺪﯿﻨﮐ ﺖﯾﺍﺭ
Comment[fi]=Burniso2cd polttaa iso-tiedoston CD/DVD:lle
Comment[fj]=Burniso2cd kama iso faile ki na CD/DVD
Comment[fo]=Burniso2cd brenna iso file to CD/DVD
Comment[fy]=Burniso2cd burn iso triem nei CD / DVD
Comment[ga]=Burniso2cd an comhad iso a dhó go CD/DVD
Comment[gd]=Burniso2cd a’ losgadh faidhle iso gu CD/DVD
Comment[gl]=Burniso2cd gravar ficheiros iso en CD/DVD
Comment[gn]=Burniso2cd ohapy iso rembiapokue CD/DVD-pe
Comment[gu]=Burniso2cd બર્ન આઇસો ફાઇલને CD/DVD પર
Comment[ha]=Burniso2cd ƙona iso fayil zuwa CD/DVD
Comment[he]=Burniso2cd ץבוק תבירצ ISO רוטילקתל/DVD
Comment[hi]=बर्निसो2सीडी आईएसओ फाइल को सीडी/डीवीडी में बर्न करें
Comment[hr]=Burniso2cd snimanje iso datoteke na CD/DVD
Comment[ht]=Burniso2cd boule iso fichye sou CD/DVD
Comment[hu]=Burniso2cd iso fájlt írhat CD-re/DVD-re
Comment[hy]=Burniso2cd այրել iso ֆայլը CD/DVD-ում
Comment[id]=Burniso2cd membakar file iso ke CD/DVD
Comment[ig]=Burniso2cd gbaa iso faịlụ na CD/DVD
Comment[is]=Burniso2cd brenna iso skrá á CD/DVD
Comment[it]=Burniso2cd masterizza file iso su CD/DVD
Comment[iu]=ᐴᓂ2cd burn iso file to CD/DVD
Comment[ja]=Burniso2cd ISO ファイルを CD/DVD に書き込みます
Comment[jv]=Burniso2cd ngobong file iso menyang CD/DVD
Comment[ka]=Burniso2cd ISO ფაილის ჩაწერა CD/DVD-ზე
Comment[kk]=Burniso2cd iso файлын CD/DVD дискісіне жазу
Comment[km]=Burniso2cd ដុតឯកសារ iso ទៅស៊ីឌី/ឌីវីឌី
Comment[kn]=Burniso2cd iso ಫೈಲ್ ಅನ್ನು CD/DVD ಗೆ ಬರ್ನ್ ಮಾಡಿ
Comment[ko]=Burniso2cd iso 파일을 CD/DVD로 굽기
Comment[ku]=Burniso2cd pelê iso li CD/DVD bişewitîne
Comment[ky]=Burniso2cd iso файлын CD/DVDге жаздыруу
Comment[la]=Burniso2cd iso file ad CD/DVD
Comment[lb]=Burniso2cd brennt ISO Datei op CD / DVD
Comment[lg]=Burniso2cd eyokya fayiro ya iso mu CD/DVD
Comment[ln]=Burniso2cd kotumba fichier iso na CD/DVD
Comment[lo]=Burniso2cd ໄຫມ້ໄຟລ໌ iso ໃສ່ CD/DVD
Comment[lt]=Burniso2cd įrašyti iso failą į CD / DVD
Comment[lv]=Burniso2cd ierakstīt ISO failu CD/DVD
Comment[mg]=Burniso2cd mandoro rakitra iso amin'ny CD/DVD
Comment[mi]=Burniso2cd tahu kōnae iso ki CD/DVD
Comment[mk]=Burniso2cd снимајте iso датотека на CD/DVD
Comment[ml]=Burniso2cd iso ഫയൽ CD/DVD-ലേക്ക് ബേൺ ചെയ്യുക
Comment[mn]=Burniso2cd нь iso файлыг CD/DVD болгон бичнэ
Comment[mr]=Burniso2cd आयएसओ फाइल सीडी/डीव्हीडीवर बर्न करा
Comment[ms]=Burniso2cd membakar fail iso ke CD/DVD
Comment[mt]=Burniso2cd burn iso file għal CD/DVD
Comment[my]=Burniso2cd သည် iso ဖိုင်ကို CD/DVD သို့ လောင်ကျွမ်းစေပါသည်။
Comment[ne]=Burniso2cd CD/DVD मा iso फाइल बर्न गर्नुहोस्
Comment[nl]=Burniso2cd iso-bestand op cd/dvd branden
Comment[no]=Burniso2cd brenn iso-fil til CD/DVD
Comment[ny]=Burniso2cd kuwotcha fayilo ya iso kukhala CD/DVD
Comment[om]=Burniso2cd faayilii iso gara CD/DVDtti gubuu
Comment[or]=Burniso2cd CD / DVD କୁ iso ଫାଇଲ୍ ପୋଡିଦିଏ |
Comment[pa]=Burniso2cd ਆਈਐਸਓ ਫਾਈਲ ਨੂੰ ਸੀਡੀ/ਡੀਵੀਡੀ ਵਿੱਚ ਬਰਨ ਕਰੋ
Comment[pl]=Burniso2cd nagraj plik iso na CD/DVD
Comment[ps]=Burniso2cd ﺩ ISO ﻞﯾﺎﻓ CD/DVD ﺉړﮐ ﻼ﻿ﺟ ﻪﺗ
Comment[pt]=Burniso2cd gravar arquivo iso para CD / DVD
Comment[qu]=Burniso2cd iso willañiqita CD/DVD nisqaman ruphachiy
Comment[ro]=Burniso2cd arde fișierul ISO pe CD/DVD
Comment[ru]=Burniso2cd записывает iso-файл на CD/DVD
Comment[rw]=Burniso2cd gutwika dosiye kuri CD / DVD
Comment[sa]=Burniso2cd iso सञ्चिकां CD/DVD मध्ये दहनं करोति
Comment[sd]=Burniso2cd iso ﻲﮐ ﻞﺋﺎﻓ CD/DVD ﻮﻳڙﺎﺳ ﻲﮐ
Comment[si]=Burniso2cd iso ගොනුව CD/DVD බවට පත් කරන්න
Comment[sk]=Burniso2cd napáli súbor iso na CD/DVD
Comment[sl]=Burniso2cd zapiši iso datoteko na CD/DVD
Comment[sm]=Burniso2cd susunu ISO faila ile CD/DVD
Comment[sn]=Burniso2cd kupisa iso faira kuCD/DVD
Comment[so]=Burniso2cd gubi iso file CD/DVD
Comment[sq]=Burniso2cd djeg skedarin iso në CD/DVD
Comment[st]=Burniso2cd chesa faele ea iso ho CD/DVD
Comment[su]=Burniso2cd ngaduruk file iso kana CD/DVD
Comment[sv]=Burniso2cd bränn iso-fil till CD/DVD
Comment[sw]=Burniso2cd choma faili ya iso kwa CD/DVD
Comment[ta]=Burniso2cd iso கோப்பை CD/DVD ஆக எரிக்கவும்
Comment[te]=Burniso2cd iso ఫైల్u200cని CD/DVDకి బర్న్ చేయండి
Comment[tg]=Burniso2cd файли iso-ро ба CD/DVD сабт мекунад
Comment[th]=Burniso2cd เบิร์นไฟล์ iso ลงซีดี/ดีวีดี
Comment[ti]=Burniso2cd iso ፋይል ናብ ሲዲ/ዲቪዲ የቃጽል
Comment[tk]=Burniso2cd izo / faýly CD / DVD-e ýakýar
Comment[tl]=Burniso2cd burn iso file sa CD/DVD
Comment[to]=Burniso2cd vela iso faile ki he CD/DVD
Comment[ts]=Burniso2cd hisa fayili ya iso eka CD/DVD
Comment[tt]=Burniso2cd изо файлны CD / DVD яндыра
Comment[tw]=Burniso2cd hyew iso fael no kɔ CD/DVD mu
Comment[ty]='O Burniso2cd te hō'ē 'āpī nō te CD/DVD
Comment[ug]=Burniso2cd CD / DVD ﺎﻏ iso ﯗﺪﯨﺭﯛﺪﻳﯚﻛ ﻰﻨﯩﺘﯩﺠﺟﯚﮬ
Comment[uk]=Burniso2cd записує файл ISO на CD/DVD
Comment[ur]=Burniso2cd iso ﻮﮐ ﻞﺋﺎﻓ CD/DVD ۔ﮟﯾﺮﮐ ﻥﺮﺑ ﮟﯿﻣ
Comment[uz]=Burniso2cd iso faylni CD/DVDga yozish
Comment[vi]=Burniso2cd ghi tập tin iso vào đĩa CD/DVD
Comment[xh]=Burniso2cd tshisa ifayile ye-iso kwiCD/DVD
Comment[yi]=Burniso2cd יוו / קסידטקאַפּמאָק וצ עקעט אָסי ןענערב
Comment[yo]=Burniso2cd sun faili iso si CD/DVD
Comment[zh]=Burniso2cd 将 iso 文件刻录到 CD/DVD
Comment[zu]=Burniso2cd shisa ifayela le-iso ku-CD/DVD
Comment=Burniso2cd burn iso file to CD/DVD
Exec=burniso2cd
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=Burniso2cd
