[Desktop Entry]
Type=Application
Name[fr]=Cryptage de fichiers : Ccrypt
Name=Ccrypt file encryption
Exec=ccrypt_gui
Icon=mini-lock.xpm
Categories=X-Personal-security
