[Desktop Entry]
Type=Application
Name[fr]=Cryptage de fichiers : Ccrypt
Name[bg]=Ccrypt криптиране на файлове
Name[de]=Verschlüsselung von Ccrypt-Dateien
Name=Ccrypt file encryption
Exec=ccrypt_gui
Icon=mini-lock.xpm
Categories=X-Personal-security
