[Desktop Entry]
Type=Application
Name[fr]=Cryptage de fichiers : Ccrypt
Name[bg]=Ccrypt криптиране на файлове
Name[de]=Verschlüsselung von Ccrypt-Dateien
Name[es]=Ccrypt: cifrar archivos
Name[ru]=Ccrypt шифрование файлов
Name[tr]=Ccrypt dosya şifreleme
Name[af]=Ccrypt lêer enkripsie
Name[am]=የፋይል ምስጠራ
Name[ar]=ﺮﻴﻔﺸﺘﻟﺍ ﻒﻠﻣ ﺮﻴﻔﺸﺗ
Name[as]=ফাইল এনক্ৰিপচন চিক্ৰিপ্ট কৰক
Name[ay]=Ccrypt ukax mä archivo encriptación ukankiwa
Name[az]=Ccrypt fayl şifrələmə
Name[ba]=Файлдарҙы шифрлау
Name[be]=Шыфраванне файлаў Ccrypt
Name[bm]=Ccrypt file sirili
Name[bn]=Ccrypt ফাইল এনক্রিপশন
Name[bo]=Ccryptཡིག་ཆ་གསང་གྲངས་
Name[bs]=Šifriranje šifriranja datoteka
Name[ca]=Xifratge de fitxers Ccrypt
Name[co]=Criptazione di file Ccrypt
Name[cs]=Šifrování šifrování souborů
Name[cy]=Ccrypt amgryptio ffeil
Name[da]=Ccrypt fil kryptering
Name[dv]=ންރުކު ޓްޕްރިކްސި ންޝަޕްރިކްންއެ ލްއިފަ
Name[ee]=Ccrypt faɛl ƒe nya ɣaɣlawo
Name[el]=Κρυπτογράφηση αρχείου Ccrypt
Name[eo]=Ccrypt dosiero ĉifrado
Name[et]=Failide krüptimine
Name[eu]=Ccrypt fitxategia enkriptatzea
Name[fa]=ﻩﺪﺷ ﯼﺭﺍﺬﮔﺰﻣﺭ ﻞﯾﺎﻓ ﯼﺭﺍﺬﮔﺰﻣﺭ
Name[fi]=Salaa tiedostojen salaus
Name[fj]=Faile ni Ccrypt
Name[fo]=Ccrypt file encryption
Name[fy]=Ccrypt triem fersifering
Name[ga]=Criptithe comhad a chriptiú
Name[gd]=Crioptachadh faidhle ccrypt
Name[gl]=Cifrado de ficheiros Ccrypt
Name[gn]=Archivo cifrado cifrado rehegua
Name[gu]=Ccrypt ફાઇલ એન્ક્રિપ્શન
Name[ha]=Ccrypt boye-boye fayil
Name[he]=Ccrypt ץבוק תנפצה
Name[hi]=Ccrypt फ़ाइल एन्क्रिप्शन
Name[hr]=Ccrypt šifriranje datoteke
Name[ht]=Ccrypt fichye chifreman
Name[hu]=Fájltitkosítás titkosítása
Name[hy]=Ccrypt ֆայլի կոդավորումը
Name[id]=Enkripsi file ccrypt
Name[ig]=Izo ya ezo faịlụ Ccrypt
Name[is]=Dulkóðun skráar
Name[it]=Ccrypt crittografia dei file
Name[iu]=ᐊᔾᔨᓕᐊᕆᓯᒪᔪᑦ ᑎᑎᖅᑲᐃᑦ ᓇᒧᙵᕈᓘᔭᕆᐊᖃᙱᓐᓂᖏᑦ
Name[ja]=Ccrypt ファイルの暗号化
Name[jv]=Enkripsi file Ccrypt
Name[ka]=Ccrypt ფაილის დაშიფვრა
Name[kk]=Ccrypt файлды шифрлау
Name[km]=ការអ៊ិនគ្រីបឯកសារ Ccrypt
Name[kn]=ಕ್ರಿಪ್ಟ್ ಫೈಲ್ ಎನ್u200cಕ್ರಿಪ್ಶನ್
Name[ko]=Ccrypt 파일 암호화
Name[ku]=Şîfrekirina pelê Ccrypt
Name[ky]=Ccrypt файлды шифрлөө
Name[la]=Ccrypt lima encryption
Name[lb]=Ccrypt Datei Verschlësselung
Name[lg]=Ensirifu ya fayiro ya Ccrypt
Name[ln]=Chiffrement ya fichier na chiffrement
Name[lo]=ການເຂົ້າລະຫັດໄຟລ໌ Ccrypt
Name[lt]=Šifruoti failų šifravimą
Name[lv]=Šifrēt failu šifrēšanu
Name[mg]=Ccrypt rakitra encryption
Name[mi]=Whakamunatanga kōnae Ccrypt
Name[mk]=Криптирај шифрирање на датотека
Name[ml]=ക്രിപ്റ്റ് ഫയൽ എൻക്രിപ്ഷൻ
Name[mn]=Ccrypt файлын шифрлэлт
Name[mr]=Ccrypt फाइल एनक्रिप्शन
Name[ms]=Penyulitan fail Ccrypt
Name[mt]=Encryption tal-fajl Ccrypt
Name[my]=Ccrypt ဖိုင်ကို ကုဒ်ဝှက်ခြင်း။
Name[ne]=Ccrypt फाइल ईन्क्रिप्शन
Name[nl]=Ccrypt-bestandscodering
Name[no]=Krypter filkryptering
Name[ny]=Ccrypt file encryption
Name[om]=Icciitii faayilii icciitii gochuu
Name[or]=ଫାଇଲ ଏନକ୍ରିପସନ୍ କୁ କ୍ରିପ୍ଟ କରନ୍ତୁ |
Name[pa]=ਸੀਕ੍ਰਿਪਟ ਫਾਈਲ ਐਨਕ੍ਰਿਪਸ਼ਨ
Name[pl]=Szyfruj szyfrowanie plików
Name[ps]=ﻝﻮﮐ ډﻮﮐ ﻞﯾﺎﻓ Ccrypt ﺩ
Name[pt]=Encriptação de ficheiros Ccrypt
Name[qu]=Willañiqi chifray chifray
Name[ro]=Criptarea fișierelor Ccrypt
Name[rw]=Shishoza dosiye
Name[sa]=सञ्चिकागुप्तीकरणं Ccrypt कुर्वन्तु
Name[sd]=Ccrypt ﻦﺸﻳﺮڪﻧﺍ ﻞﺋﺎﻓ
Name[si]=Ccrypt ගොනු සංකේතනය
Name[sk]=Šifrovanie šifrovania súborov
Name[sl]=Šifriranje datotek Ccrypt
Name[sm]=Ccrypt faila faila
Name[sn]=Ccrypt file encryption
Name[so]=Sirta faylka Ccrypt
Name[sq]=Kriptimi i skedarit Ccrypt
Name[st]=Ccrypt file encryption
Name[su]=Énkripsi file Ccrypt
Name[sv]=Kryptera filkryptering
Name[sw]=Usimbaji fiche wa faili
Name[ta]=Ccrypt கோப்பு குறியாக்கம்
Name[te]=క్రిప్ట్ ఫైల్ ఎన్క్రిప్షన్
Name[tg]=Рамзгузории файли Ccrypt
Name[th]=การเข้ารหัสไฟล์ Ccrypt
Name[ti]=ፋይል ምስጢራዊ ምግባር (Ccrypt file encryption)
Name[tk]=Faýl şifrlemek
Name[tl]=Ccrypt file encryption
Name[to]=Ccrypt faile encryption
Name[ts]=Ku fihla ka fayili ya Ccrypt
Name[tt]=Файл шифрлау
Name[tw]=Ccrypt fael encryption a wɔde ahyɛ mu
Name[ty]=Ccrypt file encryption
Name[ug]=ﺵﻻ﻿ﺮﯩﻔﯩﺷ ﺕەﺠﺟﯚﮬ
Name[uk]=Шифрування файлів Ccrypt
Name[ur]=Ccrypt ﯼﺭﺎﮐ ﮧﯿﻔﺧ ﯽﮐ ﻞﺋﺎﻓ
Name[uz]=Ccrypt fayl shifrlash
Name[vi]=Mã hóa tập tin Ccrypt
Name[xh]=Uguqulelo oluntsonkothileyo lwefayile
Name[yi]=Ccrypt ןאַשפּירקנע עקעט
Name[yo]=Ccrypt faili ìsekóòdù
Name[zh]=Ccrypt 文件加密
Name[zu]=Ccrypt ukubethela kwefayela
Name=Ccrypt file encryption
Exec=ccrypt_gui
Icon=mini-lock.xpm
Categories=X-Personal-security
