[Desktop Entry]
Encoding=UTF-8
Name[fr]=Localisation : Chooselocale
Name[bg]=Изберете локализация на страната
Name[de]=Länderlokalisierung auswählen
Name[es]=Chooselocale: configuración regional
Name[ru]=Выберите местную локализацию страны
Name[tr]=Chooselocale ülke yerelleştirmesi
Name[af]=Kies plaaslike landlokalisering
Name[am]=የአካባቢ አገርን ምረጥ
Name[ar]=Chooselocale ﺪﻠﺒﻟﺍ ﻦﻴﻃﻮﺗ
Name[as]=দেশৰ স্থানীয়কৰণ বাছক
Name[ay]=Chooselocale markan localización ukax utjiwa
Name[az]=Yerli ölkə lokalizasiyasını seçin
Name[ba]=Скейтлокале илде локалләштереү
Name[be]=Выберыце лакалізацыю па краіне
Name[bm]=Chooselocale jamana sigiyɔrɔmako
Name[bn]=লোকেল দেশ স্থানীয়করণ নির্বাচন করুন
Name[bo]=ས་གནས་ཀྱི་རྒྱལ་ཁབ་ས་གནས་ཅན་དུ་འགྱུར་བར་བྱ་དགོས།
Name[bs]=Odaberite lokalizaciju zemlje
Name[ca]=Trieu la localització del país local
Name[co]=Sceglite a localizazione di u paese
Name[cs]=Vyberte místní zemi lokalizaci
Name[cy]=Lleoli gwlad Chooselocale
Name[da]=Vælg lokal lokalisering i landet
Name[dv]=ންޝަޒޭއިލަކަލޮ މުއުގަ ލްކޭލޯސެއިޗޮ
Name[ee]=Tia dukɔwo ƒe teƒeteƒewo ƒe ɖoɖo
Name[el]=Επιλέξτε τοπική προσαρμογή χώρας
Name[eo]=Elektu lokan lando-lokigon
Name[et]=Valige kohalik riigi lokaliseerimine
Name[eu]=Aukeratu tokiko herrialdearen kokapena
Name[fa]=ﺪﯿﻨﮐ ﺏﺎﺨﺘﻧﺍ ﺍﺭ ﯽﻠﺤﻣ ﺭﻮﺸﮐ ﯼﺯﺎﺳ ﯽﻠﺤﻣ
Name[fi]=Valitse paikallisen maan lokalisointi
Name[fj]=Veivakatorocaketaki ni matanitu
Name[fo]=Chooselocale country localisation
Name[fy]=Kies lokale lânlokalisaasje
Name[ga]=Logánú tír Chooselocale
Name[gd]=Tagh sgìreachadh dùthaich locale
Name[gl]=Escolla localización do país local
Name[gn]=Eiporavo cale tetã localización
Name[gu]=લોકેલ દેશ સ્થાનિકીકરણ પસંદ કરો
Name[ha]=Zaɓi yanki na yanki
Name[he]=תימוקמ הנידמ לש היצזילקול רחב
Name[hi]=स्थानीय देश स्थानीयकरण चुनें
Name[hr]=Odaberite lokalizaciju zemlje
Name[ht]=Chwazi lokalizasyon peyi a
Name[hu]=Válassza ki a helyi ország lokalizációját
Name[hy]=Ընտրեք տեղային երկրի տեղայնացումը
Name[id]=Pilih lokalisasi negara lokal
Name[ig]=Nhọrọ mpaghara mpaghara
Name[is]=Veldu staðbundið landsvæði
Name[it]=Scegli la localizzazione del paese locale
Name[iu]=ᓂᕈᐊᕐᓂᖅ ᓄᓇᑐᐃᓐᓇᕐᒥ
Name[ja]=国のローカリゼーションを選択してください
Name[jv]=Pilih lokalisasi negara lokal
Name[ka]=აირჩიეთ ლოკალური ქვეყნის ლოკალიზაცია
Name[kk]=Елді локализациялауды таңдаңыз
Name[km]=ការធ្វើមូលដ្ឋានីយកម្មប្រទេសជ្រើសរើសតំបន់
Name[kn]=ದೇಶದ ಸ್ಥಳೀಕರಣವನ್ನು ಆಯ್ಕೆ ಮಾಡಿ
Name[ko]=로케일 국가 현지화 선택
Name[ku]=Hilbijartina herêmîkirina welat
Name[ky]=Өлкөнүн локализациясын тандаңыз
Name[la]=Chooselocale regione localization
Name[lb]=Wielt lokal Land Lokalisatioun
Name[lg]=Chooselocale ensi localization
Name[ln]=Pona localisation ya mboka
Name[lo]=ເລືອກທ້ອງຖິ່ນເປັນທ້ອງຖິ່ນ
Name[lt]=Pasirinkite vietos šalies lokalizaciją
Name[lv]=Izvēlieties vietējās valsts lokalizāciju
Name[mg]=Fidio ny toerana misy ny firenena
Name[mi]=Whiriwhiria te waahi whenua rohe
Name[mk]=Изберете локација за локализација на земјата
Name[ml]=പ്രാദേശിക രാജ്യങ്ങളുടെ പ്രാദേശികവൽക്കരണം തിരഞ്ഞെടുക്കുക
Name[mn]=Орон нутгийн байршлыг сонгоно уу
Name[mr]=लोकेल देश स्थानिकीकरण निवडा
Name[ms]=Pilih penyetempatan negara setempat
Name[mt]=Agħżel il-lokalizzazzjoni tal-pajjiż lokali
Name[my]=Chooselocale နိုင်ငံကို ဒေသန္တရပြုခြင်း
Name[ne]=लोकेल देश स्थानीयकरण छनौट गर्नुहोस्
Name[nl]=Kies lokale landlokalisatie
Name[no]=Velg lokal lokalisering av land
Name[ny]=Selectlocale dziko kumasulira
Name[om]=Filannoocale biyyaa naannoo
Name[or]=Chooselocale ଦେଶ ଲୋକାଲାଇଜେସନ୍ |
Name[pa]=ਲੋਕੇਲ ਦੇਸ਼ ਸਥਾਨਕਕਰਨ ਚੁਣੋ
Name[pl]=Wybierz lokalną lokalizację kraju
Name[ps]=ﺉړﮐ ﻩﺭﻮﻏ ﻝﻮﮐ ﯽﯾﺎځ ﺩﺍﻮﯿﻫ ﺰﯾﺍ ﻪﻤﯿﺳ ﺩ
Name[pt]=Escolher localização de país de localidade
Name[qu]=Akllaykalla suyu localización
Name[ro]=Alegeți localizarea în țară
Name[rw]=Igihugu cya Chooselocale
Name[sa]=Chooselocale देशस्य स्थानीयकरणम्
Name[sd]=ﻦﺸﻳﺰﻴﺋﻼ﻿ڪﻮﻟ ڪﻠﻣ ﻲﻣﺎﻘﻣ ﻮﻳﺮڪ ﺐﺨﺘﻨﻣ
Name[si]=ප්u200dරදේශයේ රට ප්u200dරාදේශීයකරණය තෝරන්න
Name[sk]=Vyberte miestnu lokalizáciu krajiny
Name[sl]=Izberite lokalizacijo države
Name[sm]=Filifili nu'u nu'u nu'u nu'u
Name[sn]=Sarudza nharaunda yenyika
Name[so]=Meelayn dalka dooro
Name[sq]=Zgjidhni lokalizimin e vendit
Name[st]=Khetha sebaka sa sebaka sa naha
Name[su]=Pilih lokalisasi nagara lokal
Name[sv]=Välj lokal landlokalisering
Name[sw]=Chagua ujanibishaji wa nchi ya eneo
Name[ta]=நாட்டின் உள்ளூர்மயமாக்கலைத் தேர்ந்தெடுக்கவும்
Name[te]=దేశంలో స్థానికీకరణను ఎంచుకోండి
Name[tg]=Маҳаллисозии кишварро интихоб кунед
Name[th]=เลือกภาษาท้องถิ่นเป็นภาษาท้องถิ่น
Name[ti]=Chooselocale ሃገር ከባብያዊ ምትእስሳር
Name[tk]=“Chooselocale” ýurduň lokalizasiýasy
Name[tl]=Pumili ng lokal na lokalisasyon ng bansa
Name[to]=Chooselocale fonua localisation
Name[ts]=Hlawula ku vekiwa ka tiko ra ndhawu
Name[tt]=Chooselocale ил локализациясе
Name[tw]=Paw ɔman no mpɔtam hɔ
Name[ty]=Ma'iti i te vahi nohoraa
Name[ug]=Chooselocale country localization
Name[uk]=Виберіть локалізацію країни
Name[ur]=۔ﮟﯾﺮﮐ ﺏﺎﺨﺘﻧﺍ ﺎﮐ ﻦﺸﯾﺰﺋﻼ﻿ﮐﻮﻟ ﮏﻠﻣ ﻞﮐﻮﻟ
Name[uz]=Mahalliy mamlakatni mahalliylashtirishni tanlang
Name[vi]=Nội địa hóa quốc gia Chooselocale
Name[xh]=Khetha ilizwe lasekuhlaleni
Name[yi]=ןאַשייזאַלאַקואָל דנאַל עגיה ןביַילק
Name[yo]=Yan agbegbe agbegbe
Name[zh]=选择locale国家本地化
Name[zu]=Khetha ukwenziwa kwasendaweni kwezwe
Name=Chooselocale country localisation
Icon=mini-font.xpm
Comment[fr]=Chooselocale localisation de votre pays
Comment[bg]=Изберете локализация на страната
Comment[de]=Länderlokalisierung auswählen
Comment[es]=Elegir configuración regional
Comment[ru]=Выберите местную локализацию страны
Comment[tr]=Ülke ve yerelleştirme seçimi
Comment[af]=Kies plaaslike landlokalisering
Comment[am]=የአካባቢ አገርን ምረጥ
Comment[ar]=Chooselocale ﺪﻠﺒﻟﺍ ﻦﻴﻃﻮﺗ
Comment[as]=দেশৰ স্থানীয়কৰণ বাছক
Comment[ay]=Chooselocale markan localización ukax utjiwa
Comment[az]=Yerli ölkə lokalizasiyasını seçin
Comment[ba]=Скейтлокале илде локалләштереү
Comment[be]=Выберыце лакалізацыю па краіне
Comment[bm]=Chooselocale jamana sigiyɔrɔmako
Comment[bn]=লোকেল দেশ স্থানীয়করণ নির্বাচন করুন
Comment[bo]=ས་གནས་ཀྱི་རྒྱལ་ཁབ་ས་གནས་ཅན་དུ་འགྱུར་བར་བྱ་དགོས།
Comment[bs]=Odaberite lokalizaciju zemlje
Comment[ca]=Trieu la localització del país local
Comment[co]=Sceglite a localizazione di u paese
Comment[cs]=Vyberte místní zemi lokalizaci
Comment[cy]=Lleoli gwlad Chooselocale
Comment[da]=Vælg lokalisering af lokalt land
Comment[dv]=ންޝަޒޭއިލަކަލޮ މުއުގަ ލްކޭލޯސެއިޗޮ
Comment[ee]=Tia dukɔwo ƒe teƒeteƒewo ƒe ɖoɖo
Comment[el]=Επιλέξτε τοπική προσαρμογή χώρας
Comment[eo]=Elektu lokan lando-lokigon
Comment[et]=Valige kohalik riigi lokaliseerimine
Comment[eu]=Aukeratu tokiko herrialdearen kokapena
Comment[fa]=ﺪﯿﻨﮐ ﺏﺎﺨﺘﻧﺍ ﺍﺭ ﯽﻠﺤﻣ ﺭﻮﺸﮐ ﯼﺯﺎﺳ ﯽﻠﺤﻣ
Comment[fi]=Valitse paikallisen maan lokalisointi
Comment[fj]=Veivakatorocaketaki ni matanitu
Comment[fo]=Chooselocale country localisation
Comment[fy]=Kies lokale lânlokalisaasje
Comment[ga]=Logánú tír Chooselocale
Comment[gd]=Tagh sgìreachadh dùthaich locale
Comment[gl]=Escolla localización do país local
Comment[gn]=Eiporavo cale tetã localización
Comment[gu]=લોકેલ દેશ સ્થાનિકીકરણ પસંદ કરો
Comment[ha]=Zaɓi yanki na yanki
Comment[he]=תימוקמ הנידמ לש היצזילקול רחב
Comment[hi]=स्थानीय देश स्थानीयकरण चुनें
Comment[hr]=Odaberite lokalizaciju zemlje
Comment[ht]=Chwazi lokalizasyon peyi a
Comment[hu]=Válassza ki a helyi ország lokalizációját
Comment[hy]=Ընտրեք տեղային երկրի տեղայնացումը
Comment[id]=Pilih lokalisasi negara lokal
Comment[ig]=Nhọrọ mpaghara mpaghara
Comment[is]=Veldu staðbundið landsvæði
Comment[it]=Scegli la localizzazione del paese locale
Comment[iu]=ᓂᕈᐊᕐᓂᖅ ᓄᓇᑐᐃᓐᓇᕐᒥ
Comment[ja]=国のローカリゼーションを選択してください
Comment[jv]=Pilih lokalisasi negara lokal
Comment[ka]=აირჩიეთ ლოკალური ქვეყნის ლოკალიზაცია
Comment[kk]=Елді локализациялауды таңдаңыз
Comment[km]=ការធ្វើមូលដ្ឋានីយកម្មប្រទេសជ្រើសរើសតំបន់
Comment[kn]=ದೇಶದ ಸ್ಥಳೀಕರಣವನ್ನು ಆಯ್ಕೆ ಮಾಡಿ
Comment[ko]=로케일 국가 현지화 선택
Comment[ku]=Hilbijartina herêmîkirina welat
Comment[ky]=Өлкөнүн локализациясын тандаңыз
Comment[la]=Chooselocale regione localization
Comment[lb]=Wielt lokal Land Lokalisatioun
Comment[lg]=Chooselocale ensi localization
Comment[ln]=Pona localisation ya mboka
Comment[lo]=ເລືອກທ້ອງຖິ່ນເປັນທ້ອງຖິ່ນ
Comment[lt]=Pasirinkite vietos šalies lokalizaciją
Comment[lv]=Izvēlieties vietējās valsts lokalizāciju
Comment[mg]=Fidio ny toerana misy ny firenena
Comment[mi]=Whiriwhiria te waahi whenua rohe
Comment[mk]=Изберете локација за локализација на земјата
Comment[ml]=പ്രാദേശിക രാജ്യങ്ങളുടെ പ്രാദേശികവൽക്കരണം തിരഞ്ഞെടുക്കുക
Comment[mn]=Орон нутгийн байршлыг сонгоно уу
Comment[mr]=लोकेल देश स्थानिकीकरण निवडा
Comment[ms]=Pilih penyetempatan negara setempat
Comment[mt]=Agħżel il-lokalizzazzjoni tal-pajjiż lokali
Comment[my]=Chooselocale နိုင်ငံကို ဒေသန္တရပြုခြင်း
Comment[ne]=लोकेल देश स्थानीयकरण छनौट गर्नुहोस्
Comment[nl]=Kies lokale landlokalisatie
Comment[no]=Velg lokal lokalisering av land
Comment[ny]=Selectlocale dziko kumasulira
Comment[om]=Filannoocale biyyaa naannoo
Comment[or]=Chooselocale ଦେଶ ଲୋକାଲାଇଜେସନ୍ |
Comment[pa]=ਲੋਕੇਲ ਦੇਸ਼ ਸਥਾਨਕਕਰਨ ਚੁਣੋ
Comment[pl]=Wybierz lokalną lokalizację kraju
Comment[ps]=ﺉړﮐ ﻩﺭﻮﻏ ﻝﻮﮐ ﯽﯾﺎځ ﺩﺍﻮﯿﻫ ﺰﯾﺍ ﻪﻤﯿﺳ ﺩ
Comment[pt]=Escolher localização de país de localidade
Comment[qu]=Akllaykalla suyu localización
Comment[ro]=Alegeți localizarea în țară
Comment[rw]=Igihugu cya Chooselocale
Comment[sa]=Chooselocale देशस्य स्थानीयकरणम्
Comment[sd]=ﻦﺸﻳﺰﻴﺋﻼ﻿ڪﻮﻟ ڪﻠﻣ ﻲﻣﺎﻘﻣ ﻮﻳﺮڪ ﺐﺨﺘﻨﻣ
Comment[si]=ප්u200dරදේශයේ රට ප්u200dරාදේශීයකරණය තෝරන්න
Comment[sk]=Vyberte miestnu lokalizáciu krajiny
Comment[sl]=Izberite lokalizacijo države
Comment[sm]=Filifili nu'u nu'u nu'u nu'u
Comment[sn]=Sarudza nharaunda yenyika
Comment[so]=Meelayn dalka dooro
Comment[sq]=Zgjidhni lokalizimin e vendit
Comment[st]=Khetha sebaka sa sebaka sa naha
Comment[su]=Pilih lokalisasi nagara lokal
Comment[sv]=Välj lokal landlokalisering
Comment[sw]=Chagua ujanibishaji wa nchi ya eneo
Comment[ta]=நாட்டின் உள்ளூர்மயமாக்கலைத் தேர்ந்தெடுக்கவும்
Comment[te]=దేశంలో స్థానికీకరణను ఎంచుకోండి
Comment[tg]=Маҳаллисозии кишварро интихоб кунед
Comment[th]=เลือกภาษาท้องถิ่นเป็นภาษาท้องถิ่น
Comment[ti]=Chooselocale ሃገር ከባብያዊ ምትእስሳር
Comment[tk]=“Chooselocale” ýurduň lokalizasiýasy
Comment[tl]=Pumili ng lokal na lokalisasyon ng bansa
Comment[to]=Chooselocale fonua localisation
Comment[ts]=Hlawula ku vekiwa ka tiko ra ndhawu
Comment[tt]=Chooselocale ил локализациясе
Comment[tw]=Paw ɔman no mpɔtam hɔ
Comment[ty]=Ma'iti i te vahi nohoraa
Comment[ug]=Chooselocale country localization
Comment[uk]=Виберіть локалізацію країни
Comment[ur]=۔ﮟﯾﺮﮐ ﺏﺎﺨﺘﻧﺍ ﺎﮐ ﻦﺸﯾﺰﺋﻼ﻿ﮐﻮﻟ ﮏﻠﻣ ﻞﮐﻮﻟ
Comment[uz]=Mahalliy mamlakatni mahalliylashtirishni tanlang
Comment[vi]=Nội địa hóa quốc gia Chooselocale
Comment[xh]=Khetha ilizwe lasekuhlaleni
Comment[yi]=ןאַשייזאַלאַקואָל דנאַל עגיה ןביַילק
Comment[yo]=Yan agbegbe agbegbe
Comment[zh]=选择locale国家本地化
Comment[zu]=Khetha ukwenziwa kwasendaweni kwezwe
Comment=Chooselocale country localisation
Exec=chooselocale
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Chooselocale country localisation
