[Desktop Entry]
Encoding=UTF-8
Name[fr]=Localisation : Chooselocale
Name[bg]=Изберете локализация на страната
Name[de]=Länderlokalisierung auswählen
Name[es]=Chooselocale: configuración regional
Name[ru]=Выберите местную локализацию страны
Name=Chooselocale country localisation
Icon=mini-font.xpm
Comment[fr]=Chooselocale localisation de votre pays
Comment[bg]=Изберете локализация на страната
Comment[de]=Länderlokalisierung auswählen
Comment[es]=Elegir configuración regional
Comment[ru]=Выберите местную локализацию страны
Comment=Chooselocale country localisation
Exec=chooselocale
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Chooselocale country localisation
