[Desktop Entry]
Version=1.0
Name[be]=Кліент электроннай пошты Claws Mail
Name[bg]=Claws Mail клиент за електронна поща
Name[da]=Claws Mail e-mail-klient
Name[nl]=Claws Mail e-mailclient
Name[fi]=Claws Mail -sähköpostiohjelma
Name[fr]=Client de messagerie Claws Mail
Name[de]=Claws Mail E-Mail-Client
Name[el]=Claws Mail πρόγραμμα-πελάτης ηλεκτρονικού ταχυδρομείου
Name[hu]=Claws Mail e-mail kliens
Name[is]=Claws Mail tölvupóstforrit
Name[it]=Client di posta elettronica Claws Mail
Name[no]=Claws Mail e-postklient
Name[pl]=Klient poczty Claws Mail
Name[pt]=Cliente de e-mail Claws Mail
Name[ro]=Client de e-mail Claws Mail
Name[ru]=Почтовый клиент Claws Mail
Name[es]=Cliente de correo electrónico Claws Mail
Name[sv]=Claws Mail e-postklient
Name[tr]=Claws Mail e-posta istemcisi
Name[uk]=Клієнт електронної пошти Claws Mail
Name=Claws Mail e-mail client
GenericName=Claws Mail
Exec=claws.install
Icon=ballorange22.png
Categories=Email
Comment[be]=Кліент электроннай пошты Claws Mail
Comment[bg]=Claws Mail клиент за електронна поща
Comment[da]=Claws Mail e-mail-klient
Comment[nl]=Claws Mail e-mailclient
Comment[fi]=Claws Mail -sähköpostiohjelma
Comment[fr]=Client de messagerie Claws Mail
Comment[de]=Claws Mail E-Mail-Client
Comment[el]=Claws Mail πρόγραμμα-πελάτης ηλεκτρονικού ταχυδρομείου
Comment[hu]=Claws Mail e-mail kliens
Comment[is]=Claws Mail tölvupóstforrit
Comment[it]=Client di posta elettronica Claws Mail
Comment[no]=Claws Mail e-postklient
Comment[pl]=Klient poczty Claws Mail
Comment[pt]=Cliente de e-mail Claws Mail
Comment[ro]=Client de e-mail Claws Mail
Comment[ru]=Почтовый клиент Claws Mail
Comment[es]=Cliente de correo electrónico Claws Mail
Comment[sv]=Claws Mail e-postklient
Comment[tr]=Claws Mail e-posta istemcisi
Comment[uk]=Клієнт електронної пошти Claws Mail
Comment=Claws Mail e-mail client
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
X-Info=Claws Mail
