[Desktop Entry]
Version=1.0
Name[be]=Кліент электроннай пошты Claws Mail
Name[bg]=Claws Mail клиент за електронна поща
Name[da]=Claws Mail e-mail-klient
Name[nl]=Claws Mail e-mailclient
Name[fi]=Claws Mail -sähköpostiohjelma
Name[fr]=Client de messagerie Claws Mail
Name[de]=Claws Mail E-Mail-Client
Name[el]=Claws Mail πρόγραμμα-πελάτης ηλεκτρονικού ταχυδρομείου
Name[hu]=Claws Mail e-mail kliens
Name[is]=Claws Mail tölvupóstforrit
Name[it]=Client di posta elettronica Claws Mail
Name[no]=Claws Mail e-postklient
Name[pl]=Klient poczty Claws Mail
Name[pt]=Cliente de e-mail Claws Mail
Name[ro]=Client de e-mail Claws Mail
Name[ru]=Claws Mail Почтовый клиент
Name[es]=Cliente de correo electrónico Claws Mail
Name[sv]=Claws Mail e-postklient
Name[tr]=Claws Mail e-posta istemcisi
Name[uk]=Клієнт електронної пошти Claws Mail
Name[af]=Claws Mail e-pos kliënt
Name[am]=Claws ደብዳቤ የኢ-ሜይል ደንበኛ
Name[ar]=Claws Mail ﻲﻧﻭﺮﺘﻜﻟﻹ﻿ﺍ ﺪﻳﺮﺒﻟﺍ ﻞﻴﻤﻋ
Name[as]=নখ মেইল ই-মেইল ক্লায়েন্ট
Name[ay]=Claws Mail ukax mä cliente ukhamawa
Name[az]=Claws Mail e-poçt müştərisi
Name[ba]=Claws Mail электрон почта клиенты
Name[bm]=Claws Mail ka e-mail kliyan
Name[bn]=ক্লজ মেল ই-মেইল ক্লায়েন্ট
Name[bo]=སྡེར་མོ་སྦྲག་རྫས་སྐུར་སྐྱེལ་བྱེད་མཁན་
Name[bs]=Claws Mail klijent e-pošte
Name[ca]=Client de correu electrònic Claws Mail
Name[co]=Client di e-mail Claws Mail
Name[cs]=E-mailový klient Claws Mail
Name[cy]=Cleient e-bost Claws Mail
Name[dv]=ވެޓެންއިލަކް ލްއިމެއީ ލްއިމެ ސްލޯކް
Name[ee]=Claws Mail e-mail ƒe asisi
Name[eo]=Claws Mail retpoŝta kliento
Name[et]=Claws Maili e-posti klient
Name[eu]=Claws Mail posta-bezeroa
Name[fa]=Claws Mail ﯼﺮﺘﺸﻣ ﻞﯿﻤﯾﺍ
Name[fj]=i-meli ni Claws
Name[fo]=Claws Mail e-mail client
Name[fy]=Claws Mail e-postkliïnt
Name[ga]=Claws Mail cliant r-phoist
Name[gd]=Cliant post-d Claws Mail
Name[gl]=Cliente de correo electrónico Claws Mail
Name[gn]=Claws Mail cliente de correo electrónico rehegua
Name[gu]=પંજા મેલ ઈ-મેલ ક્લાયંટ
Name[ha]=Claws Mail abokin ciniki
Name[he]=Claws Mail ינורטקלא ראוד חוקל
Name[hi]=पंजे मेल ई-मेल क्लाइंट
Name[hr]=Claws Mail klijent e-pošte
Name[ht]=Claws Mail kliyan imel
Name[hy]=Claws Mail էլփոստի հաճախորդ
Name[id]=Klien email Claws Mail
Name[ig]=Claws Mail e-mail ahịa
Name[iu]=ᐃᕐᙲᓐᓈᖅᑕᐅᒃᑯᑦ ᑎᑎᕋᖃᑦᑕᐅᑎᕝᕕᒃᑯᑦ ᐱᔨᑦᑎᕋᖅᑕᐅᔪᖅ
Name[ja]=Claws Mail 電子メール クライアント
Name[jv]=Claws Mail klien e-mail
Name[ka]=Claws Mail ელფოსტის კლიენტი
Name[kk]=Claws Mail электрондық пошта клиенті
Name[km]=កម្មវិធីអ៊ីមែល Claws Mail
Name[kn]=ಕ್ಲಾಸ್ ಮೇಲ್ ಇಮೇಲ್ ಕ್ಲೈಂಟ್
Name[ko]=Claws 메일 이메일 클라이언트
Name[ku]=Claws Mail muwekîlê e-nameyê
Name[ky]=Claws Mail электрондук почта кардары
Name[la]=Unguibus Mail e-clientem
Name[lb]=Claws Mail E-Mail Client
Name[lg]=Claws Mail kasitoma wa e-mail
Name[ln]=Claws Mail client ya e-mail
Name[lo]=Claws Mail ລູກຄ້າອີເມລ໌
Name[lt]=Claws Mail el. pašto klientas
Name[lv]=Claws Mail e-pasta klients
Name[mg]=Claws Mail mpanjifa mailaka
Name[mi]=Kiritaki ī-mēra Claws Mail
Name[mk]=Клиент за е-пошта на Claws Mail
Name[ml]=Claws മെയിൽ ഇമെയിൽ ക്ലയന്റ്
Name[mn]=Claws Mail цахим шуудангийн үйлчлүүлэгч
Name[mr]=क्लॉज मेल ई-मेल क्लायंट
Name[ms]=Pelanggan e-mel Claws Mail
Name[mt]=Klijent tal-posta elettronika Claws Mail
Name[my]=Claws Mail အီးမေး လိုင်း
Name[ne]=Claws मेल ई-मेल ग्राहक
Name[ny]=Claws Mail kasitomala wa imelo
Name[om]=Maamila iimeelii Claws Mail
Name[or]=କ୍ଲାଉସ୍ ମେଲ୍ ଇ-ମେଲ୍ କ୍ଲାଏଣ୍ଟ |
Name[pa]=ਕਲੌਜ਼ ਮੇਲ ਈ-ਮੇਲ ਕਲਾਇੰਟ
Name[ps]=ﻲﮑﻧﻭﺩﻭﺮﯿﭘ ﮏﯿﻟﺎﻨښﯾﺮﺑ ﻞﯿﻣ ﺯﻼ﻿ﮐ ﺩ
Name[qu]=Garras Correo correo electrónico cliente
Name[rw]=Inzandiko Zohereza imeri umukiriya
Name[sa]=Claws Mail ई-मेल क्लायन्ट्
Name[sd]=ٽﻨﺋﻼ﻿ڪ ﻞﻴﻣ ﻱﺍ ﻞﻴﻣ ﺰﻠڪ
Name[si]=Claws තැපැල් ඊමේල් සේවාදායකයා
Name[sk]=E-mailový klient Claws Mail
Name[sl]=E-poštni odjemalec Claws Mail
Name[sm]=Claws Mail i-meli tagata fa'atau
Name[sn]=Claws Mail e-mail mutengi
Name[so]=Claws Mail e-mail macmiilka
Name[sq]=Klienti i postës elektronike Claws Mail
Name[st]=Moreki oa lengolo-tsoibila la Claws Mail
Name[su]=Claws Mail e-mail klien
Name[sw]=Mteja wa barua pepe ya makucha
Name[ta]=க்ளாஸ் மெயில் மின்னஞ்சல் கிளையன்ட்
Name[te]=క్లాస్ మెయిల్ ఇ-మెయిల్ క్లయింట్
Name[tg]=Муштарии почтаи электронии Claws Mail
Name[th]=ไคลเอนต์อีเมล Claws Mail
Name[ti]=ክላውስ መልእኽቲ ኢ-መይል ዓሚል
Name[tk]=Klawişler E-poçta müşderisi
Name[tl]=Claws Mail e-mail client
Name[to]=Claws meili ʻa e client
Name[ts]=Claws Mail xitirhisiwa xa imeyili
Name[tt]=Электрон почта клиенты
Name[tw]=Claws Mail e-mail a wɔde mena
Name[ty]=Claws Mail e-mail client
Name[ug]=Claws Mail ﻯﺭﺍﺪﯨﺮﯧﺧ ﺕەﺧ ﻕﯘﻠﻧﻭﺮﺘﻜﯧﻠﯧﺋ
Name[ur]=ﭧﻨﺋﻼ﻿ﮐ ﻞﯿﻣ ﯼﺍ ﻞﯿﻣ ﺯﻼ﻿ﮐ
Name[uz]=Claws Mail elektron pochta mijozi
Name[vi]=Ứng dụng thư điện tử Claws Mail
Name[xh]=Umxhasi we-imeyile we-Claws
Name[yi]=טנעילק טסאָפּ -E ליעמ זאָלק
Name[yo]=Claws Mail e-mail ni ose
Name[zh]=Claws Mail 电子邮件客户端
Name[zu]=Iklayenti le-imeyili le-Claws Mail
Name=Claws Mail e-mail client
GenericName=Claws Mail
Exec=/usr/local/orange/orange.install claws-mail
Icon=ballorange22.png
Categories=Email
Comment[be]=Кліент электроннай пошты Claws Mail
Comment[bg]=Claws Mail клиент за електронна поща
Comment[da]=Claws Mail e-mail-klient
Comment[nl]=Claws Mail e-mailclient
Comment[fi]=Claws Mail -sähköpostiohjelma
Comment[fr]=Client de messagerie Claws Mail
Comment[de]=Claws Mail E-Mail-Client
Comment[el]=Claws Mail πρόγραμμα-πελάτης ηλεκτρονικού ταχυδρομείου
Comment[hu]=Claws Mail e-mail kliens
Comment[is]=Claws Mail tölvupóstforrit
Comment[it]=Client di posta elettronica Claws Mail
Comment[no]=Claws Mail e-postklient
Comment[pl]=Klient poczty Claws Mail
Comment[pt]=Cliente de e-mail Claws Mail
Comment[ro]=Client de e-mail Claws Mail
Comment[ru]=Почтовый клиент Claws Mail
Comment[es]=Cliente de correo electrónico Claws Mail
Comment[sv]=Claws Mail e-postklient
Comment[tr]=Claws Mail e-posta istemcisi
Comment[uk]=Клієнт електронної пошти Claws Mail
Comment[af]=Claws Mail e-pos kliënt
Comment[am]=Claws ደብዳቤ የኢ-ሜይል ደንበኛ
Comment[ar]=Claws Mail ﻲﻧﻭﺮﺘﻜﻟﻹ﻿ﺍ ﺪﻳﺮﺒﻟﺍ ﻞﻴﻤﻋ
Comment[as]=নখ মেইল ই-মেইল ক্লায়েন্ট
Comment[ay]=Claws Mail ukax mä cliente ukhamawa
Comment[az]=Claws Mail e-poçt müştərisi
Comment[ba]=Claws Mail электрон почта клиенты
Comment[bm]=Claws Mail ka e-mail kliyan
Comment[bn]=ক্লজ মেল ই-মেইল ক্লায়েন্ট
Comment[bo]=སྡེར་མོ་སྦྲག་རྫས་སྐུར་སྐྱེལ་བྱེད་མཁན་
Comment[bs]=Claws Mail klijent e-pošte
Comment[ca]=Client de correu electrònic Claws Mail
Comment[co]=Client di e-mail Claws Mail
Comment[cs]=E-mailový klient Claws Mail
Comment[cy]=Cleient e-bost Claws Mail
Comment[dv]=ވެޓެންއިލަކް ލްއިމެއީ ލްއިމެ ސްލޯކް
Comment[ee]=Claws Mail e-mail ƒe asisi
Comment[eo]=Claws Mail retpoŝta kliento
Comment[et]=Claws Maili e-posti klient
Comment[eu]=Claws Mail posta-bezeroa
Comment[fa]=Claws Mail ﯼﺮﺘﺸﻣ ﻞﯿﻤﯾﺍ
Comment[fj]=i-meli ni Claws
Comment[fo]=Claws Mail e-mail client
Comment[fy]=Claws Mail e-postkliïnt
Comment[ga]=Claws Mail cliant r-phoist
Comment[gd]=Cliant post-d Claws Mail
Comment[gl]=Cliente de correo electrónico Claws Mail
Comment[gn]=Claws Mail cliente de correo electrónico rehegua
Comment[gu]=પંજા મેલ ઈ-મેલ ક્લાયંટ
Comment[ha]=Claws Mail abokin ciniki
Comment[he]=Claws Mail ינורטקלא ראוד חוקל
Comment[hi]=पंजे मेल ई-मेल क्लाइंट
Comment[hr]=Claws Mail klijent e-pošte
Comment[ht]=Claws Mail kliyan imel
Comment[hy]=Claws Mail էլփոստի հաճախորդ
Comment[id]=Klien email Claws Mail
Comment[ig]=Claws Mail e-mail ahịa
Comment[iu]=ᐃᕐᙲᓐᓈᖅᑕᐅᒃᑯᑦ ᑎᑎᕋᖃᑦᑕᐅᑎᕝᕕᒃᑯᑦ ᐱᔨᑦᑎᕋᖅᑕᐅᔪᖅ
Comment[ja]=Claws Mail 電子メール クライアント
Comment[jv]=Claws Mail klien e-mail
Comment[ka]=Claws Mail ელფოსტის კლიენტი
Comment[kk]=Claws Mail электрондық пошта клиенті
Comment[km]=កម្មវិធីអ៊ីមែល Claws Mail
Comment[kn]=ಕ್ಲಾಸ್ ಮೇಲ್ ಇಮೇಲ್ ಕ್ಲೈಂಟ್
Comment[ko]=Claws 메일 이메일 클라이언트
Comment[ku]=Claws Mail muwekîlê e-nameyê
Comment[ky]=Claws Mail электрондук почта кардары
Comment[la]=Unguibus Mail e-clientem
Comment[lb]=Claws Mail E-Mail Client
Comment[lg]=Claws Mail kasitoma wa e-mail
Comment[ln]=Claws Mail client ya e-mail
Comment[lo]=Claws Mail ລູກຄ້າອີເມລ໌
Comment[lt]=Claws Mail el. pašto klientas
Comment[lv]=Claws Mail e-pasta klients
Comment[mg]=Claws Mail mpanjifa mailaka
Comment[mi]=Kiritaki ī-mēra Claws Mail
Comment[mk]=Клиент за е-пошта на Claws Mail
Comment[ml]=Claws മെയിൽ ഇമെയിൽ ക്ലയന്റ്
Comment[mn]=Claws Mail цахим шуудангийн үйлчлүүлэгч
Comment[mr]=क्लॉज मेल ई-मेल क्लायंट
Comment[ms]=Pelanggan e-mel Claws Mail
Comment[mt]=Klijent tal-posta elettronika Claws Mail
Comment[my]=Claws Mail အီးမေး လိုင်း
Comment[ne]=Claws मेल ई-मेल ग्राहक
Comment[ny]=Claws Mail kasitomala wa imelo
Comment[om]=Maamila iimeelii Claws Mail
Comment[or]=କ୍ଲାଉସ୍ ମେଲ୍ ଇ-ମେଲ୍ କ୍ଲାଏଣ୍ଟ |
Comment[pa]=ਕਲੌਜ਼ ਮੇਲ ਈ-ਮੇਲ ਕਲਾਇੰਟ
Comment[ps]=ﻲﮑﻧﻭﺩﻭﺮﯿﭘ ﮏﯿﻟﺎﻨښﯾﺮﺑ ﻞﯿﻣ ﺯﻼ﻿ﮐ ﺩ
Comment[qu]=Garras Correo correo electrónico cliente
Comment[rw]=Inzandiko Zohereza imeri umukiriya
Comment[sa]=Claws Mail ई-मेल क्लायन्ट्
Comment[sd]=ٽﻨﺋﻼ﻿ڪ ﻞﻴﻣ ﻱﺍ ﻞﻴﻣ ﺰﻠڪ
Comment[si]=Claws තැපැල් ඊමේල් සේවාදායකයා
Comment[sk]=E-mailový klient Claws Mail
Comment[sl]=E-poštni odjemalec Claws Mail
Comment[sm]=Claws Mail i-meli tagata fa'atau
Comment[sn]=Claws Mail e-mail mutengi
Comment[so]=Claws Mail e-mail macmiilka
Comment[sq]=Klienti i postës elektronike Claws Mail
Comment[st]=Moreki oa lengolo-tsoibila la Claws Mail
Comment[su]=Claws Mail e-mail klien
Comment[sw]=Mteja wa barua pepe ya makucha
Comment[ta]=க்ளாஸ் மெயில் மின்னஞ்சல் கிளையன்ட்
Comment[te]=క్లాస్ మెయిల్ ఇ-మెయిల్ క్లయింట్
Comment[tg]=Муштарии почтаи электронии Claws Mail
Comment[th]=ไคลเอนต์อีเมล Claws Mail
Comment[ti]=ክላውስ መልእኽቲ ኢ-መይል ዓሚል
Comment[tk]=Klawişler E-poçta müşderisi
Comment[tl]=Claws Mail e-mail client
Comment[to]=Claws meili ʻa e client
Comment[ts]=Claws Mail xitirhisiwa xa imeyili
Comment[tt]=Электрон почта клиенты
Comment[tw]=Claws Mail e-mail a wɔde mena
Comment[ty]=Claws Mail e-mail client
Comment[ug]=Claws Mail ﻯﺭﺍﺪﯨﺮﯧﺧ ﺕەﺧ ﻕﯘﻠﻧﻭﺮﺘﻜﯧﻠﯧﺋ
Comment[ur]=ﭧﻨﺋﻼ﻿ﮐ ﻞﯿﻣ ﯼﺍ ﻞﯿﻣ ﺯﻼ﻿ﮐ
Comment[uz]=Claws Mail elektron pochta mijozi
Comment[vi]=Ứng dụng thư điện tử Claws Mail
Comment[xh]=Umxhasi we-imeyile we-Claws
Comment[yi]=טנעילק טסאָפּ -E ליעמ זאָלק
Comment[yo]=Claws Mail e-mail ni ose
Comment[zh]=Claws Mail 电子邮件客户端
Comment[zu]=Iklayenti le-imeyili le-Claws Mail
Comment=Claws Mail e-mail client
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
X-Info=Claws Mail
