[Desktop Entry]
Encoding=UTF-8
Exec=cups_shell
GenericName=
Icon=tb_print.xpm
MimeType=
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Name[fr]=Gestion des imprimantes : CUPS
Name[bg]=CUPS управляват печата
Name[de]=CUPS verwalten das Drucken
Name[es]=CUPS: gestor de impresoras
Name[ru]=CUPS управляет печатью
Name[tr]=CUPS Yazıcı Yönetimi
Name=CUPS manage printing
Comment[fr]=Interface Web CUPS
Comment[bg]=CUPS уеб интерфейс
Comment[de]=CUPS-Weboberfläche
Comment[es]=CUPS: gestor de impresoras
Comment[ru]=Веб-интерфейс CUPS
Comment[tr]=CUPS Web Arayüzü
Comment=CUPS Web Interface
Categories=X-System-print
