[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer la date et l'heure
Name[bg]=Настройка на дата и час
Name[de]=Einrichtung von Datum und Uhrzeit
Name[es]=Configurar fecha y hora
Name[ru]=Configuration de la date et de l'heure
Name=Date and Time Setup
Icon=mini-clock.xpm
Comment[fr]=Configuration de la date et de l'heure
Comment[bg]=Настройка на дата и час
Comment[de]=Einrichtung von Datum und Uhrzeit
Comment[es]=Configurar fecha y hora
Comment[ru]=Configuration de la date et de l'heure
Comment=Date and Time  Setup
Exec=date-time-wizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=date-time-wizard
