[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer la date et l'heure
Name=Date and Time Setup
Icon=mini-clock.xpm
Comment[fr]=Configuration de la date et de l'heure
Comment=Date and Time  Setup
Exec=date-time-wizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=date-time-wizard
