[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer la date et l'heure
Name[bg]=Настройка на дата и час
Name[de]=Einrichtung von Datum und Uhrzeit
Name[es]=Configurar fecha y hora
Name[ru]=Configuration de la date et de l'heure
Name[tr]=Tarih ve Saat Kurulumu
Name[af]=Datum en Tyd Opstelling
Name[am]=ቀን እና ሰዓት ማዋቀር
Name[ar]=ﺖﻗﻮﻟﺍﻭ ﺦﻳﺭﺎﺘﻟﺍ ﺩﺍﺪﻋﺇ
Name[as]=তাৰিখ আৰু সময় ছেটআপ
Name[ay]=Uraqi ukat pacha wakicht’aña
Name[az]=Tarix və Saat Quraşdırma
Name[ba]=Дата и времени
Name[be]=Налада даты і часу
Name[bm]=Don ni waati sigicogo
Name[bn]=তারিখ এবং সময় সেটআপ
Name[bo]=དུས་ཚོད་དང་དུས་ཚོད་བཀོད་སྒྲིག
Name[bs]=Podešavanje datuma i vremena
Name[ca]=Configuració de data i hora
Name[co]=Configurazione di data è ora
Name[cs]=Nastavení data a času
Name[cy]=Gosod Dyddiad ac Amser
Name[da]=Opsætning af dato og klokkeslæt
Name[dv]=ންރުކު ޕްޓަސެ ޑިގަ އިޚާރީތާ
Name[ee]=Ɣletiŋkeke Kple Ɣeyiɣi ƒe Ðoɖowɔwɔ
Name[el]=Ρύθμιση ημερομηνίας και ώρας
Name[eo]=Agordo de dato kaj horo
Name[et]=Kuupäeva ja kellaaja seadistus
Name[eu]=Data eta ordua konfiguratzea
Name[fa]=ﻥﺎﻣﺯ ﻭ ﺦﯾﺭﺎﺗ ﻢﯿﻈﻨﺗ
Name[fi]=Päivämäärän ja kellonajan asetukset
Name[fj]=Tuvanaki ni Tikinisiga kei na Gauna
Name[fo]=Date og Time Setup
Name[fy]=Datum en Tiid Setup
Name[ga]=Socrú Dáta agus Am
Name[gd]=Suidheachadh Ceann-latha agus Ùine
Name[gl]=Configuración de data e hora
Name[gn]=Ára ha Aravo Ñemohenda
Name[gu]=તારીખ અને સમય સેટઅપ
Name[ha]=Saita Kwanan Wata da Lokaci
Name[he]=העשו ךיראת תרדגה
Name[hi]=दिनांक और समय सेटअप
Name[hr]=Postavljanje datuma i vremena
Name[ht]=Dat ak Lè Enstalasyon
Name[hu]=Dátum és idő beállítása
Name[hy]=Ամսաթվի և ժամի կարգավորում
Name[id]=Pengaturan Tanggal dan Waktu
Name[ig]=Nhazi ụbọchị na oge
Name[is]=Uppsetning dagsetningar og tíma
Name[it]=Impostazione data e ora
Name[iu]=ᐅᓪᓗᖅ ᓯᕿᙳᔭᕐᓗ ᐋᖅᑭᒃᓱᖅᑕᐅᓂᖓ
Name[ja]=日付と時刻の設定
Name[jv]=Setup Tanggal lan Wektu
Name[ka]=თარიღი და დროის დაყენება
Name[kk]=Күн мен уақытты орнату
Name[km]=ការកំណត់កាលបរិច្ឆេទ និងពេលវេលា
Name[kn]=ದಿನಾಂಕ ಮತ್ತು ಸಮಯದ ಸೆಟಪ್
Name[ko]=날짜 및 시간 설정
Name[ku]=Setup Dîrok û Demjimêr
Name[ky]=Дата жана убакыт орнотуу
Name[la]=Date et tempus PRAEFIXUS
Name[lb]=Datum an Zäit Setup
Name[lg]=Okuteekawo Olunaku n'Essaawa
Name[ln]=Bobongisi ya Date mpe Ngonga
Name[lo]=ຕັ້ງຄ່າວັນທີ ແລະເວລາ
Name[lt]=Datos ir laiko nustatymas
Name[lv]=Datuma un laika iestatīšana
Name[mg]=Fametrahana Daty sy Ora
Name[mi]=Te Ra me te Wā Tatūnga
Name[mk]=Поставување датум и време
Name[ml]=തീയതിയും സമയ സജ്ജീകരണവും
Name[mn]=Огноо ба цагийн тохиргоо
Name[mr]=तारीख आणि वेळ सेटअप
Name[ms]=Persediaan Tarikh dan Masa
Name[mt]=Setup tad-Data u l-Ħin
Name[my]=ရက်စွဲနှင့် အချိန် သတ်မှတ်မှု
Name[ne]=मिति र समय सेटअप
Name[nl]=Datum en tijd instellen
Name[no]=Oppsett av dato og klokkeslett
Name[ny]=Kukhazikitsa Tsiku ndi Nthawi
Name[om]=Guyyaa fi Sa'aatii Saagi
Name[or]=ତାରିଖ ଏବଂ ସମୟ ସେଟଅପ୍ |
Name[pa]=ਮਿਤੀ ਅਤੇ ਸਮਾਂ ਸੈੱਟਅੱਪ
Name[pl]=Ustawienia daty i godziny
Name[ps]=ﻝﻮﮐ ﻢﯿﻈﻨﺗ ﺖﺧﻭ ﻭﺍ ﯥټﯿﻧ ﺩ
Name[pt]=Configuração de data e hora
Name[qu]=Punchaw hinaspa pacha churay
Name[ro]=Configurare dată și oră
Name[rw]=Itariki nigihe
Name[sa]=तिथिः समयः च सेटअपः
Name[sd]=ﭖﺍ ٽﻴﺳ ﺖﻗﻭ ۽ ﺦﻳﺭﺎﺗ
Name[si]=දිනය සහ වේලාව සැකසීම
Name[sk]=Nastavenie dátumu a času
Name[sl]=Nastavitev datuma in časa
Name[sm]=Seti Aso ma Taimi
Name[sn]=Zuva uye Nguva Setup
Name[so]=Dejinta Taariikhda iyo Waqtiga
Name[sq]=Konfigurimi i datës dhe orës
Name[st]=Ho Hlophisa Letsatsi le Nako
Name[su]=Setup Tanggal sareng Waktos
Name[sv]=Inställning av datum och tid
Name[sw]=Mpangilio wa Tarehe na Wakati
Name[ta]=தேதி மற்றும் நேர அமைப்பு
Name[te]=తేదీ మరియు సమయం సెటప్
Name[tg]=Танзими сана ва вақт
Name[th]=การตั้งค่าวันที่และเวลา
Name[ti]=ዕለትን ሰዓትን ምድላው
Name[tk]=Sene we wagt sazlamasy
Name[tl]=Setup ng Petsa at Oras
Name[to]=Fokotuʻutuʻu ʻo e ʻAhó mo e Taimí
Name[ts]=Ku Hlela Siku Ni Nkarhi
Name[tt]=Дата һәм Вакытны урнаштыру
Name[tw]=Date ne Bere a Wɔahyehyɛ
Name[ty]=Tai'o mahana e te taime i faataahia
Name[ug]=ﺵەﺸﯕەﺗ ﺖﯩﻗﺍﯞ ەﯞ ﻼ﻿ﺴﯧﭼ
Name[uk]=Налаштування дати та часу
Name[ur]=ﺐﯿﺗﺮﺗ ﯽﮐ ﺖﻗﻭ ﺭﻭﺍ ﺦﯾﺭﺎﺗ
Name[uz]=Sana va vaqtni sozlash
Name[vi]=Cài đặt ngày và giờ
Name[xh]=Umhla kunye nokuSeta ixesha
Name[yi]=טייצ ןוא עטאַד פּאַטעס
Name[yo]=Ọjọ ati Aago Oṣo
Name[zh]=日期和时间设置
Name[zu]=Ukusethwa Kwedethi Nesikhathi
Name=Date and Time Setup
Icon=mini-clock.xpm
Comment[fr]=Configuration de la date et de l'heure
Comment[bg]=Настройка на дата и час
Comment[de]=Einrichtung von Datum und Uhrzeit
Comment[es]=Configurar fecha y hora
Comment[ru]=Configuration de la date et de l'heure
Comment[tr]=Tarih ve Saat Kurulumu
Comment[af]=Datum en Tyd Opstelling
Comment[am]=ቀን እና ሰዓት ማዋቀር
Comment[ar]=ﺖﻗﻮﻟﺍﻭ ﺦﻳﺭﺎﺘﻟﺍ ﺩﺍﺪﻋﺇ
Comment[as]=তাৰিখ আৰু সময় ছেটআপ
Comment[ay]=Uraqi ukat pacha wakicht’aña
Comment[az]=Tarix və Saat Quraşdırma
Comment[ba]=Дата и времени
Comment[be]=Налада даты і часу
Comment[bm]=Don ni waati sigicogo
Comment[bn]=তারিখ এবং সময় সেটআপ
Comment[bo]=དུས་ཚོད་དང་དུས་ཚོད་བཀོད་སྒྲིག
Comment[bs]=Podešavanje datuma i vremena
Comment[ca]=Configuració de data i hora
Comment[co]=Configurazione di data è ora
Comment[cs]=Nastavení data a času
Comment[cy]=Gosod Dyddiad ac Amser
Comment[da]=Opsætning af dato og klokkeslæt
Comment[dv]=ންރުކު ޕްޓަސެ ޑިގަ އިޚާރީތާ
Comment[ee]=Ɣletiŋkeke Kple Ɣeyiɣi ƒe Ðoɖowɔwɔ
Comment[el]=Ρύθμιση ημερομηνίας και ώρας
Comment[eo]=Agordo de dato kaj horo
Comment[et]=Kuupäeva ja kellaaja seadistus
Comment[eu]=Data eta ordua konfiguratzea
Comment[fa]=ﻥﺎﻣﺯ ﻭ ﺦﯾﺭﺎﺗ ﻢﯿﻈﻨﺗ
Comment[fi]=Päivämäärän ja kellonajan asetukset
Comment[fj]=Tuvanaki ni Tikinisiga kei na Gauna
Comment[fo]=Date og Time Setup
Comment[fy]=Datum en Tiid Setup
Comment[ga]=Socrú Dáta agus Am
Comment[gd]=Suidheachadh Ceann-latha agus Ùine
Comment[gl]=Configuración de data e hora
Comment[gn]=Ára ha Aravo Ñemohenda
Comment[gu]=તારીખ અને સમય સેટઅપ
Comment[ha]=Saita Kwanan Wata da Lokaci
Comment[he]=העשו ךיראת תרדגה
Comment[hi]=दिनांक और समय सेटअप
Comment[hr]=Postavljanje datuma i vremena
Comment[ht]=Dat ak Lè Enstalasyon
Comment[hu]=Dátum és idő beállítása
Comment[hy]=Ամսաթվի և ժամի կարգավորում
Comment[id]=Pengaturan Tanggal dan Waktu
Comment[ig]=Nhazi ụbọchị na oge
Comment[is]=Uppsetning dagsetningar og tíma
Comment[it]=Impostazione data e ora
Comment[iu]=ᐅᓪᓗᖅ ᓯᕿᙳᔭᕐᓗ ᐋᖅᑭᒃᓱᖅᑕᐅᓂᖓ
Comment[ja]=日付と時刻の設定
Comment[jv]=Setup Tanggal lan Wektu
Comment[ka]=თარიღისა და დროის დაყენება
Comment[kk]=Күн мен уақытты орнату
Comment[km]=ការកំណត់កាលបរិច្ឆេទ និងពេលវេលា
Comment[kn]=ದಿನಾಂಕ ಮತ್ತು ಸಮಯದ ಸೆಟಪ್
Comment[ko]=날짜 및 시간 설정
Comment[ku]=Setup Dîrok û Demjimêr
Comment[ky]=Дата жана убакыт орнотуу
Comment[la]=Date et tempus PRAEFIXUS
Comment[lb]=Datum an Zäit Setup
Comment[lg]=Okuteekawo Olunaku n'Essaawa
Comment[ln]=Bobongisi ya Date mpe Ngonga
Comment[lo]=ຕັ້ງຄ່າວັນທີ ແລະເວລາ
Comment[lt]=Datos ir laiko nustatymas
Comment[lv]=Datuma un laika iestatīšana
Comment[mg]=Fametrahana daty sy ora
Comment[mi]=Te Ra me te Wā Tatūnga
Comment[mk]=Поставување датум и време
Comment[ml]=തീയതിയും സമയ സജ്ജീകരണവും
Comment[mn]=Огноо ба цагийн тохиргоо
Comment[mr]=तारीख आणि वेळ सेटअप
Comment[ms]=Persediaan Tarikh dan Masa
Comment[mt]=Setup tad-Data u l-Ħin
Comment[my]=ရက်စွဲနှင့် အချိန် သတ်မှတ်မှု
Comment[ne]=मिति र समय सेटअप
Comment[nl]=Datum en tijd instellen
Comment[no]=Oppsett av dato og klokkeslett
Comment[ny]=Kukhazikitsa Tsiku ndi Nthawi
Comment[om]=Guyyaa fi Sa'aatii Saagi
Comment[or]=ତାରିଖ ଏବଂ ସମୟ ସେଟଅପ୍ |
Comment[pa]=ਮਿਤੀ ਅਤੇ ਸਮਾਂ ਸੈੱਟਅੱਪ
Comment[pl]=Ustawienia daty i godziny
Comment[ps]=ﻝﻮﮐ ﻢﯿﻈﻨﺗ ﺖﺧﻭ ﻭﺍ ﯥټﯿﻧ ﺩ
Comment[pt]=Configuração de data e hora
Comment[qu]=Punchaw hinaspa pacha churay
Comment[ro]=Configurare dată și oră
Comment[rw]=Itariki nigihe
Comment[sa]=तिथिः समयः च सेटअपः
Comment[sd]=ﭖﺍ ٽﻴﺳ ﺖﻗﻭ ۽ ﺦﻳﺭﺎﺗ
Comment[si]=දිනය සහ වේලාව සැකසීම
Comment[sk]=Nastavenie dátumu a času
Comment[sl]=Nastavitev datuma in časa
Comment[sm]=Seti Aso ma Taimi
Comment[sn]=Zuva uye Nguva Setup
Comment[so]=Dejinta Taariikhda iyo Waqtiga
Comment[sq]=Konfigurimi i datës dhe orës
Comment[st]=Ho Hlophisa Letsatsi le Nako
Comment[su]=Setup Tanggal sareng Waktos
Comment[sv]=Inställning av datum och tid
Comment[sw]=Mpangilio wa Tarehe na Wakati
Comment[ta]=தேதி மற்றும் நேர அமைப்பு
Comment[te]=తేదీ మరియు సమయం సెటప్
Comment[tg]=Танзими сана ва вақт
Comment[th]=การตั้งค่าวันที่และเวลา
Comment[ti]=ዕለትን ሰዓትን ምድላው
Comment[tk]=Sene we wagt sazlamasy
Comment[tl]=Setup ng Petsa at Oras
Comment[to]=Fokotuʻutuʻu ʻo e ʻAhó mo e Taimí
Comment[ts]=Ku Hlela Siku Ni Nkarhi
Comment[tt]=Дата һәм Вакытны урнаштыру
Comment[tw]=Date ne Bere a Wɔahyehyɛ
Comment[ty]=Tai'o mahana e te taime i faataahia
Comment[ug]=ﺵەﺸﯕەﺗ ﺖﯩﻗﺍﯞ ەﯞ ﻼ﻿ﺴﯧﭼ
Comment[uk]=Налаштування дати та часу
Comment[ur]=ﺐﯿﺗﺮﺗ ﯽﮐ ﺖﻗﻭ ﺭﻭﺍ ﺦﯾﺭﺎﺗ
Comment[uz]=Sana va vaqtni sozlash
Comment[vi]=Cài đặt ngày và giờ
Comment[xh]=Umhla kunye nokuSeta ixesha
Comment[yi]=טייצ ןוא עטאַד פּאַטעס
Comment[yo]=Ọjọ ati Aago Oṣo
Comment[zh]=日期和时间设置
Comment[zu]=Ukusethwa Kwedethi Nesikhathi
Comment=Date and Time  Setup
Exec=date-time-wizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=date-time-wizard
