[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name[de]=defaultpdfviewer
Name=defaultpdfviewer
Exec=defaultpdfviewer
Icon=mini-pdf.xpm
