[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name[de]=defaultMediaPlayer
Name=defaultmediaplayer
Name[fr]=Lecteur multimédia par défaut
Exec=defaultmediaplayer
Icon=mini-sound.xpm

