[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name[de]=defaulttexteditor
Name=defaulttexteditor
Exec=defaulttexteditor
Icon=mini-edit.xpm
