[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name[de]=defaultMediaPlayer
Name=defaultmediaplayer
Exec=defaultmediaplayer
Icon=mini-mediaplayer.xpm
