[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name[de]=defaultbrowser
Name[fr]=defaultbrowser
Name[ru]=defaultbrowser
Name[tr]=defaultbrowser
Name=defaultbrowser
Exec=defaultbrowser
Icon=mini-world.xpm
