[Desktop Entry]
Encoding=UTF-8
Name[fr]=Icônes des disques du bureau
Name[bg]=Диспечер на иконите на настолното устройство
Name[de]=Symbol-Manager für Desktoplaufwerke
Name=Desktop drive icons manager
Icon=mini-hdisk.xpm
Comment[fr]=Gestion des icônes des disques du bureau
Comment[bg]=Диспечер на иконите на настолното устройство
Comment[de]=Symbol-Manager für Desktoplaufwerke
Comment=Desktop drive icons manager
Exec=eventmanager desktop
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=eventmanager
