[Desktop Entry]
Encoding=UTF-8
Name[be]=Рэдактар дыяграм
Name[bg]=Редактор на диаграми
Name[da]=Dia diagram editor
Name[nl]=Dia diagram-editor
Name[el]=Dia επεξεργαστής διαγράμματος
Name[et]=Dia diagrammi redaktor
Name[fi]=Dia diakaavion editori
Name[fr]=éditeur de diagramme Dia
Name[de]=Dia Diagrammeditor
Name[hu]=Dia diagramszerkesztő
Name[is]=Dia ritstjóri skýringarmynda
Name[it]=Dia editor di diagrammi
Name[no]=Dia diagram editor
Name[pl]=Dia edytor diagramów
Name[pt]=Dia editor de diagramas
Name[ro]=Dia editor de diagrame
Name[ru]=Dia редактор диаграмм
Name[es]=Dia editor de diagramas
Name[sv]=Dia diagramredigerare
Name[tr]=diyagram düzenleyici
Name[af]=Dia diagram redakteur
Name[am]=ዲያግራም አርታዒ
Name[ar]=ءﺎﻴﺿ ﻲﻄﻴﻄﺨﺘﻟﺍ ﻢﺳﺮﻟﺍ ﺭﺮﺤﻣ
Name[as]=ডায়া ডায়েগ্ৰাম সম্পাদক
Name[ay]=Dia diagrama ukaxa mä editor ukhamawa
Name[az]=Diaqram redaktoru
Name[ba]=Диаграмма мөхәррире
Name[bm]=Dia diagramme (jatebɔsɛbɛn) ɲɛnabɔbaga
Name[bn]=ডায়াগ্রাম সম্পাদক
Name[bo]=དཔེ་རིས་རྩོམ་སྒྲིག་པ།
Name[bs]=Editor dijagrama
Name[ca]=Editor de diagrames de dia
Name[co]=Editore di diagrammi di Dia
Name[cs]=Dia diagram editor
Name[cy]=Golygydd diagram Dia
Name[dv]=ވެރެޓަޑިއެ މްރާގްއިޑަ
Name[ee]=Dia diagram ƒe nuŋlɔla
Name[eo]=Diagramredaktilo
Name[eu]=Diagrama editorea
Name[fa]=ﻡﺍﺮﮔﺎﯾﺩ ﺭﺍﺩﻮﻤﻧ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fj]=Edita ni droini ni diagram
Name[fo]=Dia diagram editor
Name[fy]=Dia diagram bewurker
Name[ga]=Dia eagarthóir léaráidí
Name[gd]=Diagram deasaiche a
Name[gl]=Editor de diagramas de dia
Name[gn]=Dia diagrama editor rehegua
Name[gu]=દિયા ડાયાગ્રામ એડિટર
Name[ha]=Editan zane
Name[he]=תומרגאיד ךרוע
Name[hi]=दीया आरेख संपादक
Name[hr]=Uređivač dijagrama
Name[ht]=Diagram editè
Name[hy]=Դիագրամի խմբագիր
Name[id]=Editor diagram dia
Name[ig]=Onye nchịkọta akụkọ eserese
Name[iu]=ᑎᑎᕋᐅᔭᖅᓯᒪᔪᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=ダイヤグラムエディタ
Name[jv]=Diagram editor
Name[ka]=დიაგრამის რედაქტორი
Name[kk]=Диаграммалық редактор
Name[km]=កម្មវិធីកែសម្រួលដ្យាក្រាម
Name[kn]=ಡಯಾ ರೇಖಾಚಿತ್ರ ಸಂಪಾದಕ
Name[ko]=디아 다이어그램 편집기
Name[ku]=Edîtorê diagramê
Name[ky]=Диаграмма редактору
Name[la]=Diagramma editor
Name[lb]=Diagramm Editor
Name[lg]=Dia diagram editor omuwandiisi w’ebifaananyi
Name[ln]=Mobongisi ya diagramme ya dia
Name[lo]=ບັນນາທິການແຜນວາດ
Name[lt]=Dia diagramos redaktorius
Name[lv]=Diagrammu redaktors
Name[mg]=Diagram editor
Name[mi]=ētita hoahoa hoahoa
Name[mk]=Уредувач на дијаграми
Name[ml]=ഡയ ഡയഗ്രം എഡിറ്റർ
Name[mn]=Диаграмм засварлагч
Name[mr]=डाय आकृती संपादक
Name[ms]=Editor gambarajah dia
Name[mt]=Editur tad-dijagramma Dia
Name[my]=Diagram တည်းဖြတ်သူ
Name[ne]=Dia रेखाचित्र सम्पादक
Name[ny]=Chithunzi chojambula
Name[om]=Gulaalaa diyaagiraamii diyaagiraamii
Name[or]=ଡିଆ ଚିତ୍ର ସମ୍ପାଦକ |
Name[pa]=ਦਿਆ ਚਿੱਤਰ ਸੰਪਾਦਕ
Name[ps]=ﺮﯾﺪﻣ ﻡﺍﺮګﺎﯾډ ﺩ
Name[qu]=Dia diagrama nisqa allichaq
Name[rw]=Dia igishushanyo mbonera
Name[sa]=आरेख आरेख सम्पादक
Name[sd]=ﺮٽﻳڊﻳﺍ ﻡﺍﺮﮔﺍﺭڊ ﺎﻳڊ
Name[si]=Dia රූප සටහන් සංස්කාරකය
Name[sk]=Editor dia diagramov
Name[sl]=Urejevalnik diagramov
Name[sm]=Fa'atonu ata o ata
Name[sn]=Dhiyagiramu mupepeti
Name[so]=Tafatiraha jaantuska
Name[sq]=Redaktori i diagramit
Name[st]=Mohlophisi oa setšoantšo
Name[su]=Editor diagram diagram
Name[sw]=Mhariri wa mchoro
Name[ta]=டயா வரைபட எடிட்டர்
Name[te]=డయా రేఖాచిత్రం ఎడిటర్
Name[tg]=Муҳаррири диаграмма
Name[ti]=ስእላዊ ስእሊ ኣርታዒ
Name[tk]=Dia diagramma redaktory
Name[tl]=Diagram editor
Name[to]=ʻEtita Dia fakatataa
Name[ts]=Muhleri wa xifaniso xa xifaniso
Name[tt]=Диа схемасы редакторы
Name[tw]=Dia diagram editor a ɔyɛ mfonini
Name[ty]=Taata a'o ia au i te ana'iraa piapa
Name[ug]=ﻯﺮﯨﺮﮬەﺗ ﺎﻤﻣﺍﺮﮔﺎﺌﯨﺩ ﺎﺌﯨﺩ
Name[uk]=Редактор діаграм
Name[ur]=ﺮﭩﯾﮉﯾﺍ ﻡﺍﺮﮕﯿﺋﺍﮈ ﺎﯾﺩ
Name[uz]=Diagramma muharriri
Name[vi]=Trình chỉnh sửa sơ đồ dia
Name[xh]=Umhleli wedayagram
Name[yi]=ראָטקאַדער עמאַרגאַיד יד
Name[yo]=Olootu aworan atọka
Name[zh]=Dia 图表编辑器
Name[zu]=Umhleli womdwebo
Name=Dia diagram editor
Comment[be]=Рэдактар дыяграм
Comment[bg]=Редактор на диаграми
Comment[da]=Dia diagram editor
Comment[nl]=Dia diagram-editor
Comment[el]=Dia επεξεργαστής διαγράμματος
Comment[et]=Dia diagrammi redaktor
Comment[fi]=Dia diakaavion editori
Comment[fr]=éditeur de diagramme Dia
Comment[de]=Dia Diagrammeditor
Comment[hu]=Dia diagramszerkesztő
Comment[is]=Dia ritstjóri skýringarmynda
Comment[it]=Dia editor di diagrammi
Comment[no]=Dia diagram editor
Comment[pl]=Dia edytor diagramów
Comment[pt]=Dia editor de diagramas
Comment[ro]=Dia editor de diagrame
Comment[ru]=Dia редактор диаграмм
Comment[es]=Dia editor de diagramas
Comment[sv]=Dia diagramredigerare
Comment[tr]=diyagram düzenleyici
Comment[af]=Dia diagram redakteur
Comment[am]=ዲያግራም አርታዒ
Comment[ar]=ءﺎﻴﺿ ﻲﻄﻴﻄﺨﺘﻟﺍ ﻢﺳﺮﻟﺍ ﺭﺮﺤﻣ
Comment[as]=ডায়া ডায়েগ্ৰাম সম্পাদক
Comment[ay]=Dia diagrama ukaxa mä editor ukhamawa
Comment[az]=Diaqram redaktoru
Comment[ba]=Диаграмма мөхәррире
Comment[bm]=Dia diagramme (jatebɔsɛbɛn) ɲɛnabɔbaga
Comment[bn]=ডায়াগ্রাম সম্পাদক
Comment[bo]=དཔེ་རིས་རྩོམ་སྒྲིག་པ།
Comment[bs]=Editor dijagrama
Comment[ca]=Editor de diagrames de dia
Comment[co]=Editore di diagrammi di Dia
Comment[cs]=Dia diagram editor
Comment[cy]=Golygydd diagram Dia
Comment[dv]=ވެރެޓަޑިއެ މްރާގްއިޑަ
Comment[ee]=Dia diagram ƒe nuŋlɔla
Comment[eo]=Diagramredaktilo
Comment[eu]=Diagrama editorea
Comment[fa]=ﻡﺍﺮﮔﺎﯾﺩ ﺭﺍﺩﻮﻤﻧ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fj]=Edita ni droini ni diagram
Comment[fo]=Dia diagram editor
Comment[fy]=Dia diagram bewurker
Comment[ga]=Dia eagarthóir léaráidí
Comment[gd]=Diagram deasaiche a
Comment[gl]=Editor de diagramas de dia
Comment[gn]=Dia diagrama editor rehegua
Comment[gu]=દિયા ડાયાગ્રામ એડિટર
Comment[ha]=Editan zane
Comment[he]=תומרגאיד ךרוע
Comment[hi]=दीया आरेख संपादक
Comment[hr]=Uređivač dijagrama
Comment[ht]=Diagram editè
Comment[hy]=Դիագրամի խմբագիր
Comment[id]=Editor diagram dia
Comment[ig]=Onye nchịkọta akụkọ eserese
Comment[iu]=ᑎᑎᕋᐅᔭᖅᓯᒪᔪᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Comment[ja]=ダイヤグラムエディタ
Comment[jv]=Diagram editor
Comment[ka]=დიაგრამის რედაქტორი
Comment[kk]=Диаграммалық редактор
Comment[km]=កម្មវិធីកែសម្រួលដ្យាក្រាម
Comment[kn]=ಡಯಾ ರೇಖಾಚಿತ್ರ ಸಂಪಾದಕ
Comment[ko]=디아 다이어그램 편집기
Comment[ku]=Edîtorê diagramê
Comment[ky]=Диаграмма редактору
Comment[la]=Diagramma editor
Comment[lb]=Diagramm Editor
Comment[lg]=Dia diagram editor omuwandiisi w’ebifaananyi
Comment[ln]=Mobongisi ya diagramme ya dia
Comment[lo]=ບັນນາທິການແຜນວາດ
Comment[lt]=Dia diagramos redaktorius
Comment[lv]=Diagrammu redaktors
Comment[mg]=Diagram editor
Comment[mi]=ētita hoahoa hoahoa
Comment[mk]=Уредувач на дијаграми
Comment[ml]=ഡയ ഡയഗ്രം എഡിറ്റർ
Comment[mn]=Диаграмм засварлагч
Comment[mr]=डाय आकृती संपादक
Comment[ms]=Editor gambarajah dia
Comment[mt]=Editur tad-dijagramma Dia
Comment[my]=Diagram တည်းဖြတ်သူ
Comment[ne]=Dia रेखाचित्र सम्पादक
Comment[ny]=Chithunzi chojambula
Comment[om]=Gulaalaa diyaagiraamii diyaagiraamii
Comment[or]=ଡିଆ ଚିତ୍ର ସମ୍ପାଦକ |
Comment[pa]=ਦਿਆ ਚਿੱਤਰ ਸੰਪਾਦਕ
Comment[ps]=ﺮﯾﺪﻣ ﻡﺍﺮګﺎﯾډ ﺩ
Comment[qu]=Dia diagrama nisqa allichaq
Comment[rw]=Dia igishushanyo mbonera
Comment[sa]=आरेख आरेख सम्पादक
Comment[sd]=ﺮٽﻳڊﻳﺍ ﻡﺍﺮﮔﺍﺭڊ ﺎﻳڊ
Comment[si]=Dia රූප සටහන් සංස්කාරකය
Comment[sk]=Editor dia diagramov
Comment[sl]=Urejevalnik diagramov
Comment[sm]=Fa'atonu ata o ata
Comment[sn]=Dhiyagiramu mupepeti
Comment[so]=Tafatiraha jaantuska
Comment[sq]=Redaktori i diagramit
Comment[st]=Mohlophisi oa setšoantšo
Comment[su]=Editor diagram diagram
Comment[sw]=Mhariri wa mchoro
Comment[ta]=டயா வரைபட எடிட்டர்
Comment[te]=డయా రేఖాచిత్రం ఎడిటర్
Comment[tg]=Муҳаррири диаграмма
Comment[th]=โปรแกรมแก้ไขไดอะแกรม Dia
Comment[ti]=ስእላዊ ስእሊ ኣርታዒ
Comment[tk]=Dia diagramma redaktory
Comment[tl]=Diagram editor
Comment[to]=ʻEtita Dia fakatataa
Comment[ts]=Muhleri wa xifaniso xa xifaniso
Comment[tt]=Диа схемасы редакторы
Comment[tw]=Dia diagram editor a ɔyɛ mfonini
Comment[ty]=Taata a'o ia au i te ana'iraa piapa
Comment[ug]=ﻯﺮﯨﺮﮬەﺗ ﺎﻤﻣﺍﺮﮔﺎﺌﯨﺩ ﺎﺌﯨﺩ
Comment[uk]=Редактор діаграм
Comment[ur]=ﺮﭩﯾﮉﯾﺍ ﻡﺍﺮﮕﯿﺋﺍﮈ ﺎﯾﺩ
Comment[uz]=Diagramma muharriri
Comment[vi]=Trình chỉnh sửa sơ đồ dia
Comment[xh]=Umhleli wedayagram
Comment[yi]=ראָטקאַדער עמאַרגאַיד יד
Comment[yo]=Olootu aworan atọka
Comment[zh]=Dia 图表编辑器
Comment[zu]=Umhleli womdwebo
Comment=Dia diagram editor
Type=Application
Exec=dia.install
Icon=ballorange22.png
Terminal=false
Categories=X-Graphic-flow
StartupNotify=true
MimeType=application/x-dia-diagram;

