[Desktop Entry]
# WOOFQONLYMARKER
Encoding=UTF-8
Name[fr]=CLI Gestion des paquets : EasyAPT 
Name[bg]=EasyAPT CLI мениджър на пакети
Name[de]=EasyAPT-Paket-Manager
Name[es]=EasyAPT: CLI gestor de paquetes
Name[ru]=CLI Менеджер пакетов EasyAPT
Name[af]=EasyAPT CLI Pakketbestuurder
Name[ar]=EasyAPT CLI ﻡﺰﺤﻟﺍ ﺮﻳﺪﻣ
Name[ay]=EasyAPT CLI Paquete ukan irpiripa
Name[az]=EasyAPT CLI Paket Meneceri
Name[ba]=ПКГгет пакеттары менән идара итеүсе
Name[be]=CLI Менеджэр пакетаў EasyAPT
Name[bm]=EasyAPT CLI Pake ɲɛmɔgɔ
Name[bo]=EasyAPT CLI Package Manager
Name[bs]=EasyAPT CLI menadžer paketa
Name[ca]=CLI Gestor de paquets EasyAPT
Name[co]=CLI Manager di pacchetti EasyAPT
Name[cs]=CLI Správce balíčků EasyAPT
Name[cy]=CLI Rheolwr Pecyn EasyAPT
Name[da]=EasyAPT CLI Package Manager
Name[ee]=EasyAPT CLI Package Dzikpɔla
Name[el]=EasyAPT CLI Package Manager
Name[eo]=EasyAPT CLI Paka Administranto
Name[et]=EasyAPTi paketihaldur
Name[eu]=EasyAPT CLI paketeen kudeatzailea
Name[fa]=EasyAPT CLI ﻪﺘﺴﺑ ﺮﯾﺪﻣ
Name[fi]=EasyAPT CLI Package Manager
Name[fj]=CLI Manidia ni pakete ni EasyAPT
Name[fo]=EasyAPT CLI Package Manager
Name[fy]=EasyAPT CLI Package Manager
Name[ga]=CLI Bainisteoir Pacáiste EasyAPT
Name[gd]=CLI Manaidsear pacaid EasyAPT
Name[gl]=CLI Xestor de paquetes EasyAPT
Name[gn]=EasyAPT CLI Paquete Moakãha
Name[ha]=CLI Manajan Kunshin EasyAPT
Name[he]=EasyAPT CLI לש תוליבחה להנמ
Name[hr]=CLI Upravitelj paketa EasyAPT
Name[ht]=CLI Manadjè pake EasyAPT
Name[hu]=EasyAPT CLI csomagkezelő
Name[hy]=EasyAPT CLI փաթեթի կառավարիչ
Name[id]=CLI Manajer Paket EasyAPT
Name[ig]=CLI Onye njikwa ngwugwu EasyAPT
Name[is]=EasyAPT CLI pakkastjóri
Name[it]=CLI Gestore pacchetti EasyAPT
Name[iu]=EasyAPT CLI ᐴᖅᑲᖅᓯᒪᔪᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=EasyAPT CLI パッケージマネージャー
Name[jv]=CLI Manajer Paket EasyAPT
Name[ka]=EasyAPT CLI პაკეტის მენეჯერი
Name[kk]=EasyAPT CLI пакет менеджері
Name[ko]=EasyAPT CLI 패키지 관리자
Name[ku]=CLI Rêvebirê Pakêtê EasyAPT
Name[ky]=EasyAPT CLI пакет менеджери
Name[la]=EasyAPT CLI Package Manager
Name[lb]=EasyAPT CLI Package Manager
Name[lg]=EasyAPT CLI Omuddukanya Package
Name[ln]=EasyAPT CLI Mokambi ya Paquet
Name[lo]=EasyAPT CLI ຜູ້ຈັດການຊຸດ
Name[lt]=EasyAPT CLI paketų tvarkyklė
Name[lv]=EasyAPT CLI pakotņu pārvaldnieks
Name[mg]=EasyAPT CLI Package Manager
Name[mi]=Kaiwhakahaere EasyAPT CLI Package
Name[mk]=EasyAPT CLI менаџер на пакети
Name[mn]=EasyAPT CLI багц менежер
Name[ms]=CLI Pengurus Pakej EasyAPT
Name[mt]=CLI Maniġer tal-Pakketti EasyAPT
Name[my]=EasyAPT CLI Package Manager
Name[nl]=EasyAPT-pakketbeheer CLI
Name[no]=EasyAPT CLI Package Manager
Name[ny]=EasyAPT CLI Package Manager
Name[om]=CLI Hogganaa Paakeejii EasyAPT
Name[pl]=CLI Menedżer pakietów EasyAPT
Name[pt]=CLI Gerenciador de pacotes EasyAPT
Name[qu]=EasyAPT CLI Paquete kamachiq
Name[ro]=CLI Manager de pachete EasyAPT
Name[rw]=CLI Umuyobozi wa EasyAPT
Name[sd]=EasyAPT CLI ﺮﺠﻴﻨﺌﻣ ﺞﻴڪﻴﭘ ﻮﻳﺮڪ ﻞﺻﺎﺣ
Name[sk]=CLI Správca balíkov EasyAPT
Name[sl]=CLI Upravitelj paketov EasyAPT
Name[sm]=EasyAPT CLI Package Manager
Name[sn]=EasyAPT CLI Package Maneja
Name[so]=CLI Maamulaha Xidhmada EasyAPT
Name[sq]=CLI Menaxheri i paketave EasyAPT
Name[st]=CLI Motsamaisi oa Sephutheloana oa EasyAPT
Name[su]=CLI Manajer Paket EasyAPT
Name[sv]=EasyAPT CLI Package Manager
Name[sw]=CLI Kidhibiti cha Kifurushi cha EasyAPT
Name[tg]=CLI Менеҷери бастаи EasyAPT
Name[tk]=EasyAPT CLI paket dolandyryjysy
Name[tl]=Tagapamahala ng EasyAPT CLI Package
Name[to]=Pule EasyAPT CLI peketi
Name[tr]=EasyAPT CLI Paket Yöneticisi
Name[ts]=EasyAPT CLI Mufambisi wa Phasela
Name[tt]=EasyAPT CLI пакет менеджеры
Name[tw]=EasyAPT CLI Package no sohwɛfo
Name[ty]=EasyAPT CLI Package Manager
Name[ug]=EasyAPT CLI Package Manager
Name[uk]=CLI Менеджер пакетів EasyAPT
Name[uz]=EasyAPT CLI paket menejeri
Name[vi]=CLI Trình quản lý gói EasyAPT
Name[xh]=EasyAPT CLI Umphathi wePhakeji
Name[yi]=EasyAPT CLI רעגאַנאַמ עגאַקקאַפּ
Name[yo]=EasyAPT CLI Package Manager
Name[zh]=EasyAPT CLI 包管理器
Name[zu]=CLI Umphathi Wephakheji we-EasyAPT
Name=EasyAPT CLI Package Manager
Icon=pet16.xpm
Exec=/usr/local/easy-apt/apt-via-menu
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=EasyAPT
MimeType=application/pet;application/x-xbps;application/x-pkg;application/x-deb;application/vnd.debian.binary-package;application/x-rpm;application/x-tgz
