[Desktop Entry]
Encoding=UTF-8
Name[fr]=Partage de fichiers réseau/imprimantes : EasyShare
Name=EasyShare network file and printer sharing
Icon=/usr/share/pixmaps/easyshare/easyshare22.png
Comment[fr]=EasyShare Partage de fichiers réseau/imprimantes
Comment=EasyShare network file and printer sharing
Exec=/usr/local/EasyShare/easyshare
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=EasyShare
