[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des conteneurs : Easy Container
Name[bg]=Лесно управление на контейнери
Name[de]=Einfache Behälterverwaltung
Name[es]=Easy Container: gestor de contenedores
Name[ru]=Easy Containers управление контейнерами
Name[af]=Maklike houerbestuur
Name[am]=ቀላል መያዣ አስተዳደር
Name[ar]=ﺕﺎﻳﻭﺎﺤﻠﻟ ﺔﻠﻬﺳ ﺓﺭﺍﺩﺇ
Name[as]=সহজ পাত্ৰ ব্যৱস্থাপনা
Name[ay]=Jasaki Contenedor apnaqaña
Name[az]=Asan Konteyner İdarəetmə
Name[ba]=Контейнерҙар менән еңел идара итеү
Name[be]=Лёгкае кіраванне кантэйнерамі
Name[bm]=Minɛnw ɲɛnabɔli nɔgɔn
Name[bn]=সহজ কন্টেইনার ব্যবস্থাপনা
Name[bo]=སྟབས་བདེའི་སྣོད་ཆས་དོ་དམ།
Name[bs]=Jednostavno upravljanje kontejnerima
Name[ca]=Fàcil gestió de contenidors
Name[co]=Facile Gestione di Container
Name[cs]=Snadná správa kontejnerů
Name[cy]=Rheoli Cynhwysydd Hawdd
Name[da]=Nem containerstyring
Name[dv]=އްޓެންމަޖްނޭމެ ރނައިޓެންކޮ ހަސޭފަ
Name[ee]=Nugoewo Dzikpɔkpɔ Blɔɖe
Name[el]=Εύκολη διαχείριση εμπορευματοκιβωτίων
Name[eo]=Facila Uja Administrado
Name[et]=Lihtne konteinerihaldus
Name[eu]=Edukiontzien kudeaketa erraza
Name[fa]=ﺮﻨﯿﺘﻧﺎﮐ ﻥﺎﺳﺁ ﺖﯾﺮﯾﺪﻣ
Name[fi]=Helppo kontinhallinta
Name[fj]=Lewai ni koniteina Rawarawa
Name[fo]=Easy Container Management
Name[fy]=Maklik kontenerbehear
Name[ga]=Bainistíocht Coimeádán Éasca
Name[gd]=Stiùireadh container furasta
Name[gl]=Fácil xestión de contedores
Name[gn]=Mba’yru Ñemboguata ndahasýiva
Name[gu]=સરળ કન્ટેનર મેનેજમેન્ટ
Name[ha]=Sauƙaƙe Gudanar da Kwantena
Name[he]=לק תולוכמ לוהינ
Name[hi]=आसान कंटेनर प्रबंधन
Name[hr]=Jednostavno upravljanje spremnikom
Name[ht]=Jesyon veso fasil
Name[hu]=Egyszerű konténerkezelés
Name[hy]=Հեշտ կոնտեյների կառավարում
Name[id]=Manajemen Kontainer Mudah
Name[ig]=Njikwa ihe dị mfe
Name[is]=Auðveld gámastjórnun
Name[it]=Facile gestione dei contenitori
Name[iu]=ᐱᔭᕆᐊᑭᑦᑐᓂᒃ ᐴᓂᒃ ᐊᐅᓚᑦᑎᓂᖅ
Name[ja]=簡単なコンテナ管理
Name[jv]=Manajemen Wadhah Gampang
Name[ka]=მარტივი კონტეინერის მართვა
Name[kk]=Контейнерді оңай басқару
Name[km]=ការគ្រប់គ្រងកុងតឺន័រងាយស្រួល
Name[kn]=ಸುಲಭ ಕಂಟೈನರ್ ನಿರ್ವಹಣೆ
Name[ko]=손쉬운 컨테이너 관리
Name[ku]=Rêvebiriya konteynirê hêsan
Name[ky]=Жеңил контейнер башкаруу
Name[la]=Securus Continens Management
Name[lb]=Einfach Container Management
Name[lg]=Enzirukanya ya Konteyina Ennyangu
Name[ln]=Gestion ya ba Conteneurs na pete
Name[lo]=ການຈັດການຕູ້ຄອນເທນເນີງ່າຍ
Name[lt]=Lengvas konteinerių valdymas
Name[lv]=Vienkārša konteineru pārvaldība
Name[mg]=Easy Container Management
Name[mi]=Whakahaere Ipu Ngawari
Name[mk]=Лесно управување со контејнери
Name[ml]=എളുപ്പമുള്ള കണ്ടെയ്നർ മാനേജ്മെന്റ്
Name[mn]=Хялбар савны менежмент
Name[mr]=सोपे कंटेनर व्यवस्थापन
Name[ms]=Pengurusan Bekas Mudah
Name[mt]=Ġestjoni faċli tal-Kontenituri
Name[my]=လွယ်ကူသောကွန်တိန်နာစီမံခန့်ခွဲမှု
Name[ne]=सजिलो कन्टेनर व्यवस्थापन
Name[nl]=Eenvoudig containerbeheer
Name[no]=Enkel containeradministrasjon
Name[ny]=Easy Container Management
Name[om]=Bulchiinsa Konteenaraa Salphaa
Name[or]=ସହଜ କଣ୍ଟେନର ପରିଚାଳନା |
Name[pa]=ਆਸਾਨ ਕੰਟੇਨਰ ਪ੍ਰਬੰਧਨ
Name[pl]=Łatwe zarządzanie kontenerami
Name[ps]=ﺖﯾﺮﯾﺪﻣ ﻪﻧﺎﺳﺍ ﺮﻨﯿټﻧﺎﮐ ﺩ
Name[pt]=Fácil Gestão de Contentores
Name[qu]=Mana sasa Contenedorkuna kamachiy
Name[ro]=Gestionare ușoară a containerelor
Name[rw]=Ubuyobozi bworoshye
Name[sa]=सुलभं पात्रप्रबन्धनम्
Name[sd]=ﻡﺎﻈﺘﻧﺍ ﺮﻨﻴٽﻨڪ ﻥﺎﺳﺁ
Name[si]=පහසු බහාලුම් කළමනාකරණය
Name[sk]=Jednoduchá správa kontajnerov
Name[sl]=Enostavno upravljanje zabojnikov
Name[sm]=Fa'afaigofie le Pulea o Pusa
Name[sn]=Easy Container Management
Name[so]=Maaraynta weelasha fudud
Name[sq]=Menaxhimi i lehtë i kontejnerëve
Name[st]=Tsamaiso e bonolo ea setshelo
Name[su]=Manajemén Wadahna Gampang
Name[sv]=Enkel containerhantering
Name[sw]=Udhibiti Rahisi wa Kontena
Name[ta]=எளிதான கொள்கலன் மேலாண்மை
Name[te]=సులువు కంటైనర్ నిర్వహణ
Name[tg]=Идоракунии осони контейнер
Name[th]=การจัดการคอนเทนเนอร์อย่างง่าย
Name[ti]=ቀሊል ምሕደራ ኮንተይነር
Name[tk]=Konteýnerleri dolandyrmak aňsat
Name[tl]=Madaling Pamamahala ng Lalagyan
Name[to]=Tokangaʻi ʻo e faʻoʻanga meʻa
Name[tr]=Kolay Konteyner Yönetimi
Name[ts]=Vulawuri bya Swikhomela-ndhawu swo olova
Name[tt]=Контейнер белән идарә итү
Name[tw]=Nneɛma a Wɔde Di Dwuma a Ɛnyɛ Den
Name[ty]=Te faatereraa ohie i te mau mea atoa
Name[ug]=ﺵﯗﺭﯘﻘﺷﺎﺑ ﺎﭼﺎﻗ ﻥﺎﺳﺎﺋ
Name[uk]=Просте керування контейнерами
Name[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﺮﻨﯿﭩﻨﮐ ﻥﺎﺳﺁ
Name[uz]=Oson konteyner boshqaruvi
Name[vi]=Quản lý vùng chứa dễ dàng
Name[xh]=Ulawulo lwesikhongozeli olulula
Name[yi]=טנעמעגאַנאַמ רענייטנאַק גנירג
Name[yo]=Easy Eiyan Management
Name[zh]=轻松的容器管理
Name[zu]=Ukuphathwa Kwesitsha Esilula
Name=Easy Container Management
Icon=mini-Filesystem-audit.xpm
Comment[fr]=Gestion des conteneurs : Easy Container
Comment[bg]=Лесно управление на контейнери
Comment[de]=Einfache Behälterverwaltung
Comment[es]=Easy Container: gestor de contenedores
Comment[ru]=Простое управление контейнерами
Comment[af]=Maklike houerbestuur
Comment[am]=ቀላል መያዣ አስተዳደር
Comment[ar]=ﺕﺎﻳﻭﺎﺤﻠﻟ ﺔﻠﻬﺳ ﺓﺭﺍﺩﺇ
Comment[as]=সহজ পাত্ৰ ব্যৱস্থাপনা
Comment[ay]=Jasaki Contenedor apnaqaña
Comment[az]=Asan Konteyner İdarəetmə
Comment[ba]=Контейнерҙар менән еңел идара итеү
Comment[be]=Лёгкае кіраванне кантэйнерамі
Comment[bm]=Minɛnw ɲɛnabɔli nɔgɔn
Comment[bn]=সহজ কন্টেইনার ব্যবস্থাপনা
Comment[bo]=སྟབས་བདེའི་སྣོད་ཆས་དོ་དམ།
Comment[bs]=Jednostavno upravljanje kontejnerima
Comment[ca]=Fàcil gestió de contenidors
Comment[co]=Facile Gestione di Container
Comment[cs]=Snadná správa kontejnerů
Comment[cy]=Rheoli Cynhwysydd Hawdd
Comment[da]=Nem containerstyring
Comment[dv]=އްޓެންމަޖްނޭމެ ރނައިޓެންކޮ ހަސޭފަ
Comment[ee]=Nugoewo Dzikpɔkpɔ Blɔɖe
Comment[el]=Εύκολη διαχείριση εμπορευματοκιβωτίων
Comment[eo]=Facila Uja Administrado
Comment[et]=Lihtne konteinerihaldus
Comment[eu]=Edukiontzien kudeaketa erraza
Comment[fa]=ﺮﻨﯿﺘﻧﺎﮐ ﻥﺎﺳﺁ ﺖﯾﺮﯾﺪﻣ
Comment[fi]=Helppo kontinhallinta
Comment[fj]=Lewai ni koniteina Rawarawa
Comment[fo]=Easy Container Management
Comment[fy]=Maklik kontenerbehear
Comment[ga]=Bainistíocht Coimeádán Éasca
Comment[gd]=Stiùireadh container furasta
Comment[gl]=Fácil xestión de contedores
Comment[gn]=Mba’yru Ñemboguata ndahasýiva
Comment[gu]=સરળ કન્ટેનર મેનેજમેન્ટ
Comment[ha]=Sauƙaƙe Gudanar da Kwantena
Comment[he]=לק תולוכמ לוהינ
Comment[hi]=आसान कंटेनर प्रबंधन
Comment[hr]=Jednostavno upravljanje spremnikom
Comment[ht]=Jesyon veso fasil
Comment[hu]=Egyszerű konténerkezelés
Comment[hy]=Հեշտ կոնտեյների կառավարում
Comment[id]=Manajemen Kontainer Mudah
Comment[ig]=Njikwa ihe dị mfe
Comment[is]=Auðveld gámastjórnun
Comment[it]=Facile gestione dei contenitori
Comment[iu]=ᐱᔭᕆᐊᑭᑦᑐᓂᒃ ᐴᓂᒃ ᐊᐅᓚᑦᑎᓂᖅ
Comment[ja]=簡単なコンテナ管理
Comment[jv]=Manajemen Wadhah Gampang
Comment[ka]=მარტივი კონტეინერის მართვა
Comment[kk]=Контейнерді оңай басқару
Comment[km]=ការគ្រប់គ្រងកុងតឺន័រងាយស្រួល
Comment[kn]=ಸುಲಭ ಕಂಟೈನರ್ ನಿರ್ವಹಣೆ
Comment[ko]=손쉬운 컨테이너 관리
Comment[ku]=Rêvebiriya konteynirê hêsan
Comment[ky]=Жеңил контейнер башкаруу
Comment[la]=Securus Continens Management
Comment[lb]=Einfach Container Management
Comment[lg]=Enzirukanya ya Konteyina Ennyangu
Comment[ln]=Gestion ya ba Conteneurs na pete
Comment[lo]=ການຈັດການຕູ້ຄອນເທນເນີງ່າຍ
Comment[lt]=Lengvas konteinerių valdymas
Comment[lv]=Vienkārša konteineru pārvaldība
Comment[mg]=Easy Container Management
Comment[mi]=Whakahaere Ipu Ngawari
Comment[mk]=Лесно управување со контејнери
Comment[ml]=എളുപ്പമുള്ള കണ്ടെയ്നർ മാനേജ്മെന്റ്
Comment[mn]=Хялбар савны менежмент
Comment[mr]=सोपे कंटेनर व्यवस्थापन
Comment[ms]=Pengurusan Bekas Mudah
Comment[mt]=Ġestjoni faċli tal-Kontenituri
Comment[my]=လွယ်ကူသောကွန်တိန်နာစီမံခန့်ခွဲမှု
Comment[ne]=सजिलो कन्टेनर व्यवस्थापन
Comment[nl]=Eenvoudig containerbeheer
Comment[no]=Enkel containeradministrasjon
Comment[ny]=Easy Container Management
Comment[om]=Bulchiinsa Konteenaraa Salphaa
Comment[or]=ସହଜ କଣ୍ଟେନର ପରିଚାଳନା |
Comment[pa]=ਆਸਾਨ ਕੰਟੇਨਰ ਪ੍ਰਬੰਧਨ
Comment[pl]=Łatwe zarządzanie kontenerami
Comment[ps]=ﺖﯾﺮﯾﺪﻣ ﻪﻧﺎﺳﺍ ﺮﻨﯿټﻧﺎﮐ ﺩ
Comment[pt]=Fácil Gestão de Contentores
Comment[qu]=Mana sasa Contenedorkuna kamachiy
Comment[ro]=Gestionare ușoară a containerelor
Comment[rw]=Ubuyobozi bworoshye
Comment[sa]=सुलभं पात्रप्रबन्धनम्
Comment[sd]=ﻡﺎﻈﺘﻧﺍ ﺮﻨﻴٽﻨڪ ﻥﺎﺳﺁ
Comment[si]=පහසු බහාලුම් කළමනාකරණය
Comment[sk]=Jednoduchá správa kontajnerov
Comment[sl]=Enostavno upravljanje zabojnikov
Comment[sm]=Fa'afaigofie le Pulea o Pusa
Comment[sn]=Easy Container Management
Comment[so]=Maaraynta weelasha fudud
Comment[sq]=Menaxhimi i lehtë i kontejnerëve
Comment[st]=Tsamaiso e bonolo ea setshelo
Comment[su]=Manajemén Wadahna Gampang
Comment[sv]=Enkel containerhantering
Comment[sw]=Udhibiti Rahisi wa Kontena
Comment[ta]=எளிதான கொள்கலன் மேலாண்மை
Comment[te]=సులువు కంటైనర్ నిర్వహణ
Comment[tg]=Идоракунии осони контейнер
Comment[th]=การจัดการคอนเทนเนอร์อย่างง่าย
Comment[ti]=ቀሊል ምሕደራ ኮንተይነር
Comment[tk]=Konteýnerleri dolandyrmak aňsat
Comment[tl]=Madaling Pamamahala ng Lalagyan
Comment[to]=Tokangaʻi ʻo e faʻoʻanga meʻa
Comment[tr]=Kolay Konteyner Yönetimi
Comment[ts]=Vulawuri bya Swikhomela-ndhawu swo olova
Comment[tt]=Контейнер белән идарә итү
Comment[tw]=Nneɛma a Wɔde Di Dwuma a Ɛnyɛ Den
Comment[ty]=Te faatereraa ohie i te mau mea atoa
Comment[ug]=ﺵﯗﺭﯘﻘﺷﺎﺑ ﺎﭼﺎﻗ ﻥﺎﺳﺎﺋ
Comment[uk]=Просте керування контейнерами
Comment[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﺮﻨﯿﭩﻨﮐ ﻥﺎﺳﺁ
Comment[uz]=Oson konteyner boshqaruvi
Comment[vi]=Quản lý vùng chứa dễ dàng
Comment[xh]=Ulawulo lwesikhongozeli olulula
Comment[yi]=טנעמעגאַנאַמ רענייטנאַק גנירג
Comment[yo]=Easy Eiyan Management
Comment[zh]=轻松的容器管理
Comment[zu]=Ukuphathwa Kwesitsha Esilula
Comment=Easy Container Management
Exec=easy-containers
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Easy Containers
