[Desktop Entry]
Encoding=UTF-8
Name[fr]=Mise à jour vers la dernière version : EasyUpdate
Name=EasyUpdate update to latest version
Icon=update.png
Comment[fr]=Mise à jour vers la dernière version d'EasyOS
Comment=Update to latest version of EasyOS
Exec=easy-update
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=EasyUpdate
