[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le démarrage : Easy Boot Manager
Name[bg]=Лесно BootManager конфигуриране на зареждане
Name[de]=Einfacher BootManager Bootvorgang konfigurieren
Name[es]=Easy BootManager: configurar el arranque
Name[ru]=Easy Boot Manager настроить загрузку
Name=Easy BootManager configure bootup
Icon=mini-Filesystem-audit.xpm
Comment[fr]=Configurer le démarrage : Easy Boot Manager
Comment[bg]=Лесно BootManager конфигуриране на зареждане
Comment[de]=Einfacher BootManager Bootvorgang konfigurieren
Comment[es]=Easy BootManager: configurar el arranque
Comment[ru]=Easy Boot Manager настроить загрузку
Comment=Easy BootManager configure bootup
Exec=easy-bootmanager
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Easy BootManager
