[Desktop Entry]
Encoding=UTF-8
Name[de]=EasyApps starten Lieblings-Apps
Name[fr]=Lancer vos applications préférées : EasyApps
Name[no]=EasyApps lanserer favorittapper
Name[ru]=EasyApps запускает любимые приложения
Name=EasyApps launch favorite apps
Icon=apps48.png
Comment[de]=Starten Sie bevorzugte Anwendungen
Comment[fr]=Lancer les applications préférées
Comment=Launch favorite applications
Exec=easyapps
Terminal=false
Type=Application
Categories=Utility;
GenericName=EasyApps
