[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des conteneurs : Easy Container
Name[bg]=Лесно управление на контейнери
Name=Easy Container Management
Icon=mini-Filesystem-audit.xpm
Comment[bg]=Лесно управление на контейнери
Comment=Easy Container Management
Exec=easy-containers
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Easy Containers
