[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des paquets : EasyAPT 
Name[bg]=EasyAPT мениджър на пакети
Name[de]=EasyAPT-Paket-Manager
Name[es]=EasyAPT: gestor de paquetes
Name[ru]=Менеджер пакетов EasyAPT
Name[af]=EasyAPT Pakketbestuurder
Name[am]=የEasyAPT ጥቅል አስተዳዳሪ
Name[ar]=EasyAPT ﻡﺰﺤﻟﺍ ﺮﻳﺪﻣ
Name[as]=EasyAPT পেকেইজ ব্যৱস্থাপক
Name[ay]=EasyAPT Paquete ukan irpiripa
Name[az]=EasyAPT Paket Meneceri
Name[ba]=ПКГгет пакеттары менән идара итеүсе
Name[be]=Менеджэр пакетаў EasyAPT
Name[bm]=EasyAPT Pake ɲɛmɔgɔ
Name[bn]=PKG প্যাকেজ ম্যানেজার
Name[bo]=EasyAPT Package Manager
Name[bs]=EasyAPT menadžer paketa
Name[ca]=Gestor de paquets EasyAPT
Name[co]=Manager di pacchetti EasyAPT
Name[cs]=Správce balíčků EasyAPT
Name[cy]=Rheolwr Pecyn EasyAPT
Name[da]=EasyAPT Package Manager
Name[dv]=ވެރެޖަނޭމެ ޖްކޭޕެ ޓްގެޖީކޭޕީ
Name[ee]=EasyAPT Package Dzikpɔla
Name[el]=EasyAPT Package Manager
Name[eo]=EasyAPT Paka Administranto
Name[et]=EasyAPTi paketihaldur
Name[eu]=EasyAPT paketeen kudeatzailea
Name[fa]=EasyAPT ﻪﺘﺴﺑ ﺮﯾﺪﻣ
Name[fi]=EasyAPT Package Manager
Name[fj]=Manidia ni pakete ni EasyAPT
Name[fo]=EasyAPT Package Manager
Name[fy]=EasyAPT Package Manager
Name[ga]=Bainisteoir Pacáiste Pkgget
Name[gd]=Manaidsear pacaid EasyAPT
Name[gl]=Xestor de paquetes EasyAPT
Name[gn]=EasyAPT Paquete Moakãha
Name[gu]=PKGગેટ પેકેજ મેનેજર
Name[ha]=Manajan Kunshin EasyAPT
Name[he]=EasyAPT לש תוליבחה להנמ
Name[hi]=EasyAPT पैकेज मैनेजर
Name[hr]=Upravitelj paketa EasyAPT
Name[ht]=Manadjè pake EasyAPT
Name[hu]=EasyAPT csomagkezelő
Name[hy]=EasyAPT փաթեթի կառավարիչ
Name[id]=Manajer Paket EasyAPT
Name[ig]=Onye njikwa ngwugwu EasyAPT
Name[is]=EasyAPT pakkastjóri
Name[it]=Gestore pacchetti EasyAPT
Name[iu]=PKGet ᐴᖅᑲᖅᓯᒪᔪᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=EasyAPT パッケージマネージャー
Name[jv]=Manajer Paket EasyAPT
Name[ka]=EasyAPT პაკეტის მენეჯერი
Name[kk]=EasyAPT пакет менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងកញ្ចប់ EasyAPT
Name[kn]=EasyAPT ಪ್ಯಾಕೇಜ್ ಮ್ಯಾನೇಜರ್
Name[ko]=EasyAPT 패키지 관리자
Name[ku]=Rêvebirê Pakêtê EasyAPT
Name[ky]=EasyAPT пакет менеджери
Name[la]=EasyAPT Package Manager
Name[lb]=EasyAPT Package Manager
Name[lg]=EasyAPT Omuddukanya Package
Name[ln]=EasyAPT Mokambi ya Paquet
Name[lo]=EasyAPT ຜູ້ຈັດການຊຸດ
Name[lt]=EasyAPT paketų tvarkyklė
Name[lv]=EasyAPT pakotņu pārvaldnieks
Name[mg]=EasyAPT Package Manager
Name[mi]=Kaiwhakahaere EasyAPT Package
Name[mk]=EasyAPT менаџер на пакети
Name[ml]=EasyAPT പാക്കേജ് മാനേജർ
Name[mn]=EasyAPT багц менежер
Name[mr]=PKG गेट पॅकेज मॅनेजर
Name[ms]=Pengurus Pakej EasyAPT
Name[mt]=Maniġer tal-Pakketti EasyAPT
Name[my]=EasyAPT Package Manager
Name[ne]=PKG प्याकेज प्रबन्धक प्राप्त गर्नुहोस्
Name[nl]=EasyAPT-pakketbeheer
Name[no]=EasyAPT Package Manager
Name[ny]=EasyAPT Package Manager
Name[om]=Hogganaa Paakeejii EasyAPT
Name[or]=EasyAPT ପ୍ୟାକେଜ୍ ପରିଚାଳକ |
Name[pa]=ਪੀਕੇਜੀਗੇਟ ਪੈਕੇਜ ਮੈਨੇਜਰ
Name[pl]=Menedżer pakietów EasyAPT
Name[ps]=PKG ﺮﯾﺪﻣ ۍﺪﻨﺑ ﻪﺘﺴﺑ ﺩ
Name[pt]=Gerenciador de pacotes EasyAPT
Name[qu]=EasyAPT Paquete kamachiq
Name[ro]=Manager de pachete EasyAPT
Name[rw]=Umuyobozi wa PackGget
Name[sa]=EasyAPT संकुल प्रबन्धक
Name[sd]=PKG ﺮﺠﻴﻨﺌﻣ ﺞﻴڪﻴﭘ ﻮﻳﺮڪ ﻞﺻﺎﺣ
Name[si]=EasyAPT පැකේජ කළමනාකරු
Name[sk]=Správca balíkov EasyAPT
Name[sl]=Upravitelj paketov EasyAPT
Name[sm]=EasyAPT Package Manager
Name[sn]=EasyAPT Package Maneja
Name[so]=Maamulaha Xidhmada EasyAPT
Name[sq]=Menaxheri i paketave EasyAPT
Name[st]=Motsamaisi oa Sephutheloana oa EasyAPT
Name[su]=Manajer Paket EasyAPT
Name[sv]=EasyAPT Package Manager
Name[sw]=Kidhibiti cha Kifurushi cha EasyAPT
Name[ta]=EasyAPT தொகுப்பு மேலாளர்
Name[te]=EasyAPT ప్యాకేజీ మేనేజర్
Name[tg]=Менеҷери бастаи EasyAPT
Name[th]=EasyAPT ผู้จัดการแพ็คเกจ
Name[ti]=EasyAPT ፓኬጅ ማናጀር
Name[tk]=EasyAPT paket dolandyryjysy
Name[tl]=Tagapamahala ng EasyAPT Package
Name[to]=Pule EasyAPT peketi
Name[tr]=EasyAPT Paket Yöneticisi
Name[ts]=EasyAPT Mufambisi wa Phasela
Name[tt]=EasyAPT пакет менеджеры
Name[tw]=EasyAPT Package no sohwɛfo
Name[ty]=EasyAPT Package Manager
Name[ug]=EasyAPT Package Manager
Name[uk]=Менеджер пакетів EasyAPT
Name[ur]=۔ﮟﯾﺮﮐ ﻞﺻﺎﺣ ﻮﮐ ﺮﺠﯿﻨﯿﻣ ﺞﮑﯿﭘ ﯽﺟ ﮯﮐ ﯽﭘ
Name[uz]=EasyAPT paket menejeri
Name[vi]=Trình quản lý gói EasyAPT
Name[xh]=EasyAPT Umphathi wePhakeji
Name[yi]=EasyAPT רעגאַנאַמ עגאַקקאַפּ
Name[yo]=EasyAPT Package Manager
Name[zh]=EasyAPT 包管理器
Name[zu]=Umphathi Wephakheji we-EasyAPT
Name=EasyAPT Package Manager
Icon=pet16.xpm
Comment[fr]=Gestion des paquets : EasyAPT
Comment[bg]=EasyAPT мениджър на пакети
Comment[de]=EasyAPT-Paket-Manager
Comment[es]=Gestor de paquetes EasyAPT
Comment[ru]=Менеджер пакетов EasyAPT
Comment[af]=EasyAPT Pakketbestuurder
Comment[am]=EasyAPT ጥቅል አስተዳዳሪ
Comment[ar]=EasyAPT ﻡﺰﺤﻟﺍ ﺮﻳﺪﻣ
Comment[as]=EasyAPT পেকেইজ ব্যৱস্থাপক
Comment[ay]=EasyAPT Paquete ukan irpiripa
Comment[az]=EasyAPT Paket Meneceri
Comment[ba]=ПКГгет пакеттары менән идара итеүсе
Comment[be]=Менеджэр пакетаў EasyAPT
Comment[bm]=EasyAPT Pake ɲɛmɔgɔ
Comment[bn]=PKG প্যাকেজ ম্যানেজার
Comment[bo]=EasyAPT Package Manager
Comment[bs]=EasyAPT menadžer paketa
Comment[ca]=Gestor de paquets EasyAPT
Comment[co]=Manager di pacchetti EasyAPT
Comment[cs]=Správce balíčků EasyAPT
Comment[cy]=Rheolwr Pecyn EasyAPT
Comment[da]=EasyAPT Package Manager
Comment[dv]=ވެރެޖަނޭމެ ޖްކޭޕެ ޓްގެޖީކޭޕީ
Comment[ee]=EasyAPT Package Dzikpɔla
Comment[el]=EasyAPT Package Manager
Comment[eo]=EasyAPT Paka Administranto
Comment[et]=EasyAPTi paketihaldur
Comment[eu]=EasyAPT paketeen kudeatzailea
Comment[fa]=EasyAPT ﻪﺘﺴﺑ ﺮﯾﺪﻣ
Comment[fi]=EasyAPT Package Manager
Comment[fj]=Manidia ni pakete ni EasyAPT
Comment[fo]=EasyAPT Package Manager
Comment[fy]=EasyAPT Package Manager
Comment[ga]=Bainisteoir Pacáiste Pkgget
Comment[gd]=Manaidsear pacaid EasyAPT
Comment[gl]=Xestor de paquetes EasyAPT
Comment[gn]=EasyAPT Paquete Moakãha
Comment[gu]=PKGગેટ પેકેજ મેનેજર
Comment[ha]=Manajan Kunshin EasyAPT
Comment[he]=EasyAPT לש תוליבחה להנמ
Comment[hi]=EasyAPT पैकेज मैनेजर
Comment[hr]=Upravitelj paketa EasyAPT
Comment[ht]=Manadjè pake EasyAPT
Comment[hu]=EasyAPT csomagkezelő
Comment[hy]=EasyAPT փաթեթի կառավարիչ
Comment[id]=Manajer Paket EasyAPT
Comment[ig]=Onye njikwa ngwugwu EasyAPT
Comment[is]=EasyAPT pakkastjóri
Comment[it]=Gestore pacchetti EasyAPT
Comment[iu]=PKGet ᐴᖅᑲᖅᓯᒪᔪᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=EasyAPT パッケージマネージャー
Comment[jv]=Manajer Paket EasyAPT
Comment[ka]=EasyAPT პაკეტის მენეჯერი
Comment[kk]=EasyAPT пакет менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងកញ្ចប់ EasyAPT
Comment[kn]=EasyAPT ಪ್ಯಾಕೇಜ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=EasyAPT 패키지 관리자
Comment[ku]=Rêvebirê Pakêtê EasyAPT
Comment[ky]=EasyAPT пакет менеджери
Comment[la]=EasyAPT Package Manager
Comment[lb]=EasyAPT Package Manager
Comment[lg]=EasyAPT Omuddukanya Package
Comment[ln]=EasyAPT Mokambi ya Paquet
Comment[lo]=EasyAPT ຜູ້ຈັດການຊຸດ
Comment[lt]=EasyAPT paketų tvarkyklė
Comment[lv]=EasyAPT pakotņu pārvaldnieks
Comment[mg]=EasyAPT Package Manager
Comment[mi]=Kaiwhakahaere EasyAPT Package
Comment[mk]=EasyAPT менаџер на пакети
Comment[ml]=EasyAPT പാക്കേജ് മാനേജർ
Comment[mn]=EasyAPT багц менежер
Comment[mr]=PKG गेट पॅकेज मॅनेजर
Comment[ms]=Pengurus Pakej EasyAPT
Comment[mt]=Maniġer tal-Pakketti EasyAPT
Comment[my]=EasyAPT Package Manager
Comment[ne]=PKG प्याकेज प्रबन्धक प्राप्त गर्नुहोस्
Comment[nl]=EasyAPT-pakketbeheer
Comment[no]=EasyAPT Package Manager
Comment[ny]=EasyAPT Package Manager
Comment[om]=Hogganaa Paakeejii EasyAPT
Comment[or]=EasyAPT ପ୍ୟାକେଜ୍ ପରିଚାଳକ |
Comment[pa]=ਪੀਕੇਜੀਗੇਟ ਪੈਕੇਜ ਮੈਨੇਜਰ
Comment[pl]=Menedżer pakietów EasyAPT
Comment[ps]=PKG ﺮﯾﺪﻣ ۍﺪﻨﺑ ﻪﺘﺴﺑ ﺩ
Comment[pt]=Gerenciador de pacotes EasyAPT
Comment[qu]=EasyAPT Paquete kamachiq
Comment[ro]=Manager de pachete EasyAPT
Comment[rw]=Umuyobozi wa PackGget
Comment[sa]=EasyAPT संकुल प्रबन्धक
Comment[sd]=PKG ﺮﺠﻴﻨﺌﻣ ﺞﻴڪﻴﭘ ﻮﻳﺮڪ ﻞﺻﺎﺣ
Comment[si]=EasyAPT පැකේජ කළමනාකරු
Comment[sk]=Správca balíkov EasyAPT
Comment[sl]=Upravitelj paketov EasyAPT
Comment[sm]=EasyAPT Package Manager
Comment[sn]=EasyAPT Package Maneja
Comment[so]=Maamulaha Xidhmada EasyAPT
Comment[sq]=Menaxheri i paketave EasyAPT
Comment[st]=Motsamaisi oa Sephutheloana oa EasyAPT
Comment[su]=Manajer Paket EasyAPT
Comment[sv]=EasyAPT Package Manager
Comment[sw]=Kidhibiti cha Kifurushi cha EasyAPT
Comment[ta]=EasyAPT தொகுப்பு மேலாளர்
Comment[te]=EasyAPT ప్యాకేజీ మేనేజర్
Comment[tg]=Менеҷери бастаи EasyAPT
Comment[th]=EasyAPT ผู้จัดการแพ็คเกจ
Comment[ti]=EasyAPT ፓኬጅ ማናጀር
Comment[tk]=EasyAPT paket dolandyryjysy
Comment[tl]=Tagapamahala ng EasyAPT Package
Comment[to]=Pule EasyAPT peketi
Comment[tr]=EasyAPT Paket Yöneticisi
Comment[ts]=EasyAPT Mufambisi wa Phasela
Comment[tt]=EasyAPT пакет менеджеры
Comment[tw]=EasyAPT Package no sohwɛfo
Comment[ty]=EasyAPT Package Manager
Comment[ug]=EasyAPT Package Manager
Comment[uk]=Менеджер пакетів EasyAPT
Comment[ur]=۔ﮟﯾﺮﮐ ﻞﺻﺎﺣ ﻮﮐ ﺮﺠﯿﻨﯿﻣ ﺞﮑﯿﭘ ﯽﺟ ﮯﮐ ﯽﭘ
Comment[uz]=EasyAPT paket menejeri
Comment[vi]=Trình quản lý gói EasyAPT
Comment[xh]=EasyAPT Umphathi wePhakeji
Comment[yi]=EasyAPT רעגאַנאַמ עגאַקקאַפּ
Comment[yo]=EasyAPT Package Manager
Comment[zh]=EasyAPT 包管理器
Comment[zu]=Umphathi Wephakheji we-EasyAPT
Comment=EasyAPT Package Manager
Exec=/usr/local/easy-apt/apt-via-menu
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=EasyAPT
MimeType=application/pet;application/x-xbps;application/x-pkg;application/x-deb;application/vnd.debian.binary-package;application/x-rpm;application/x-tgz
