[Desktop Entry]
Encoding=UTF-8
Name=Easy OS Installer
Icon=mini-ray.xpm
Comment=Easy OS Installer
Exec=easy-installer
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Easy Installer
