[Desktop Entry]
Encoding=UTF-8
Name[fr]=Installation facile : Easy OS Installer
Name[bg]=Лесен инсталатор на ОС
Name=Easy OS Installer
Icon=mini-ray.xpm
Comment[fr]=Installation facile du système d'exploitation
Comment[bg]=Лесен инсталатор на ОС
Comment=Easy OS Installer
Exec=easy-installer
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Easy Installer
