[Desktop Entry]
Encoding=UTF-8
Name[de]=EasyJWM konfiguriert JWM
Name[fr]=Configurer JWM : EasyJWM
Name[ru]=EasyJWM настроить JWM
Name=EasyJWM configure JWM
Icon=easyjwm.png
Comment[de]=Verwalten Sie den JWM-Dateimanager
Comment[fr]=Configuration du gestionnaire de fichiers JWM
Comment[ru]=Управление файловым менеджером JWM
Comment=Manage JWM file manager
Exec=easyjwm
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=EasyJWM
