[Desktop Entry]
Encoding=UTF-8
Name[fr]=Reconstruire Easy Linux
Name[bg]=Remaster Лесно Linux
Name[de]=Remaster Easy Linux
Name[es]=Easy Remaster: remasterizar Easy Linux
Name=Remaster Easy Linux
Icon=mini-ray.xpm
Comment[fr]=Reconstruire Easy Linux
Comment[bg]=Remaster Лесно Linux
Comment[de]=Remaster Easy Linux
Comment[es]=Easy Remaster: remasterizar Easy Linux
Comment=Remaster Easy Linux
Exec=/usr/sbin/easy-remaster
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Easy Remaster
