[Desktop Entry]
Encoding=UTF-8
Name[fr]=Contrôle de version : Easy Version Control
Name[bg]=Лесен контрол на версиите
Name[de]=Einfache Versionskontrolle
Name[es]=Easy Version Control: control de versiones
Name[ru]=Лесен контрол на версиите
Name=Easy Version Control
Icon=mini-Filesystem-audit.xpm
Comment[fr]=Contrôle de version : Easy Version Control
Comment[bg]=Лесен мениджър за контрол на версиите
Comment[de]=Einfacher Versionskontroll-Manager
Comment[es]=Easy Version Control: control de versiones
Comment[ru]=Лесен мениджър за контрол на версиите
Comment=Easy Version Control Manager
Exec=easy-version-control
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Easy Version Control
