[Desktop Entry]
Encoding=UTF-8
Name=EasySetup setup frontend
Icon=configuration48.png
Comment=Setup frontend
Exec=easysetup
Terminal=false
Type=Application
Categories=X-Setup
GenericName=EasySetup
