[Desktop Entry]
Encoding=UTF-8
Name[fr]=Reconstruire Easy Linux
Name[bg]=Remaster Лесно Linux
Name[de]=Remaster Easy Linux
Name[es]=Easy Remaster: remasterizar Easy Linux
Name[af]=Remaster Easy Linux
Name[am]=ቀላል ሊኑክስን እንደገና ማስተር
Name[ar]=Remaster Easy Linux
Name[as]=সহজ লিনাক্স পুনৰনিৰ্মাণ কৰক
Name[ay]=Remaster Jasa Linux ukax mä juk’a pachanakanwa
Name[az]=Remaster Easy Linux
Name[ba]=Easy Linux ремастеры
Name[be]=Remaster Easy Linux
Name[bm]=Remaster Linux nɔgɔyalen
Name[bn]=রিমাস্টার ইজি লিনাক্স
Name[bo]=བསྐྱར་དུ་པར་ལེན་བྱེད་སླ་བའི་ལིན་ཞི་ཡིན།
Name[bs]=Remaster Easy Linux
Name[ca]=Remasteritza Easy Linux
Name[co]=Remaster Easy Linux
Name[cs]=Remaster Easy Linux
Name[cy]=Remaster Easy Linux
Name[da]=Remaster Easy Linux
Name[dv]=ސްކްނަލި ޒީއީ ރޓަސްމާރީ
Name[ee]=Gbugbɔ Wɔ Linux Blɔe
Name[el]=Remaster Easy Linux
Name[eo]=Remaster Facila Linukso
Name[et]=Remaster Easy Linux
Name[eu]=Berregituratu Erraza Linux
Name[fa]=ﺲﮐﻮﻨﯿﻟ ﻥﺎﺳﺁ ﺮﺘﺴﻤﯾﺭ
Name[fi]=Remaster Easy Linux
Name[fj]=Linux Rawarawa
Name[fo]=Remaster Easy Linux
Name[fy]=Remaster Easy Linux
Name[ga]=Remaster éasca Linux
Name[gd]=Remaster furasta Linux
Name[gl]=Remasterizar Easy Linux
Name[gn]=Remaster Linux ndahasýiva
Name[gu]=રીમાસ્ટર ઇઝી લિનક્સ
Name[ha]=Remaster Easy Linux
Name[he]=Remaster Easy Linux
Name[hi]=रीमास्टर ईज़ी लिनक्स
Name[hr]=Remaster Easy Linux
Name[ht]=Remaster Easy Linux
Name[hu]=Remaster Easy Linux
Name[hy]=Remaster Easy Linux
Name[id]=Remaster Linux Mudah
Name[ig]=Remaster Easy Linux
Name[is]=Remaster Easy Linux
Name[it]=Rimasterizza Easy Linux
Name[iu]=Remaster Easy Linux
Name[ja]=リマスター Easy Linux
Name[jv]=Remaster Gampang Linux
Name[ka]=მარტივი Linux-ის გადაკეთება
Name[kk]=Remaster Easy Linux
Name[km]=Remaster Easy Linux
Name[kn]=ಸುಲಭ ಲಿನಕ್ಸ್ ಅನ್ನು ಮರುಮಾದರಿಸು
Name[ko]=리마스터 이지 리눅스
Name[ku]=Remaster Easy Linux
Name[ky]=Remaster Easy Linux
Name[la]=Remaster Securus Linux
Name[lb]=Remaster Easy Linux
Name[lg]=Remaster Linux Ennyangu
Name[ln]=Remaster Linux ya pete
Name[lo]=Remaster Easy Linux
Name[lt]=Remaster Easy Linux
Name[lv]=Remaster Easy Linux
Name[mg]=Remaster Easy Linux
Name[mi]=Remaster Easy Linux
Name[mk]=Remaster Easy Linux
Name[ml]=ഈസി ലിനക്സ് റീമാസ്റ്റർ ചെയ്യുക
Name[mn]=Remaster Easy Linux
Name[mr]=रीमास्टर इझी लिनक्स
Name[ms]=Remaster Easy Linux
Name[mt]=Remaster Easy Linux
Name[my]=လွယ်ကူသော Linux ပြန်လည်မာစတာ
Name[ne]=रिमास्टर सजिलो लिनक्स
Name[nl]=Remaster Easy Linux
Name[no]=Remaster Easy Linux
Name[ny]=Remaster Easy Linux
Name[om]=Liinux Salphaa Remaster gochuu
Name[or]=ରିମାଷ୍ଟର ସହଜ ଲିନକ୍ସ |
Name[pa]=ਰੀਮਾਸਟਰ ਈਜ਼ੀ ਲੀਨਕਸ
Name[pl]=Zremasteruj Easy Linux
Name[ps]=ﺲﮑﻨﯿﻟ ﻪﻧﺎﺳﺍ ﺮټﺳﺎﻤﯾﺭ
Name[pt]=Remasterizar Easy Linux
Name[qu]=Remaster Linux Facil nisqa
Name[ro]=Remasterizat Easy Linux
Name[ru]=Ремастеринг Easy Linux
Name[rw]=Remaster yoroshye Linux
Name[sa]=Remaster Easy Linux
Name[sd]=Remaster Easy Linux
Name[si]=පහසු ලිනක්ස් නැවත සකස් කරන්න
Name[sk]=Remaster Easy Linux
Name[sl]=Remaster Easy Linux
Name[sm]=Remaster Easy Linux
Name[sn]=Remaster Easy Linux
Name[so]=Remaster Easy Linux
Name[sq]=Remaster Easy Linux
Name[st]=Remaster Easy Linux
Name[su]=Remaster Easy Linux
Name[sv]=Remaster Easy Linux
Name[sw]=Remaster Easy Linux
Name[ta]=ரீமாஸ்டர் ஈஸி லினக்ஸ்
Name[te]=ఈజీ లైనక్స్u200cని రీమాస్టర్ చేయండి
Name[tg]=Remaster Easy Linux
Name[th]=รีมาสเตอร์ Easy Linux
Name[ti]=ሪማስተር ቀሊል ሊኑክስ
Name[tk]=Remaster aňsat Linux
Name[tl]=Remaster Easy Linux
Name[to]=Remaster faingofua ʻa e lines ili x
Name[tr]=Kolay Linuxu Yeniden Düzenleyin
Name[ts]=Remaster Linux yo olova
Name[tt]=Remaster Easy Linux
Name[tw]=Remaster Linux a Ɛnyɛ Den
Name[ty]=Te mau manao tauturu no te tuatapaparaa e te haapiiraa
Name[ug]=Remaster Easy Linux
Name[uk]=Remaster Easy Linux
Name[ur]=Remaster Easy Linux
Name[uz]=Remaster Easy Linux
Name[vi]=Làm lại Linux dễ dàng
Name[xh]=I-Remaster Easy Linux
Name[yi]=סקוניל גנירג רעטסאַמער
Name[yo]=Remaster Easy Linux
Name[zh]=重制 Easy Linux
Name[zu]=I-Remaster Easy Linux
Name=Remaster Easy Linux
Icon=mini-ray.xpm
Comment[fr]=Reconstruire Easy Linux
Comment[bg]=Remaster Лесно Linux
Comment[de]=Remaster Easy Linux
Comment[es]=Easy Remaster: remasterizar Easy Linux
Comment[af]=Remaster Easy Linux
Comment[am]=ቀላል ሊኑክስን እንደገና ማስተር
Comment[ar]=Remaster Easy Linux
Comment[as]=সহজ লিনাক্স পুনৰনিৰ্মাণ কৰক
Comment[ay]=Remaster Jasa Linux ukax mä juk’a pachanakanwa
Comment[az]=Remaster Easy Linux
Comment[ba]=Easy Linux ремастеры
Comment[be]=Remaster Easy Linux
Comment[bm]=Remaster Linux nɔgɔyalen
Comment[bn]=রিমাস্টার ইজি লিনাক্স
Comment[bo]=བསྐྱར་དུ་པར་ལེན་བྱེད་སླ་བའི་ལིན་ཞི་ཡིན།
Comment[bs]=Remaster Easy Linux
Comment[ca]=Remasteritza Easy Linux
Comment[co]=Remaster Easy Linux
Comment[cs]=Remaster Easy Linux
Comment[cy]=Remaster Easy Linux
Comment[da]=Remaster Easy Linux
Comment[dv]=ސްކްނަލި ޒީއީ ރޓަސްމާރީ
Comment[ee]=Gbugbɔ Wɔ Linux Blɔe
Comment[el]=Remaster Easy Linux
Comment[eo]=Remaster Facila Linukso
Comment[et]=Remaster Easy Linux
Comment[eu]=Berregituratu Erraza Linux
Comment[fa]=ﺲﮐﻮﻨﯿﻟ ﻥﺎﺳﺁ ﺮﺘﺴﻤﯾﺭ
Comment[fi]=Remaster Easy Linux
Comment[fj]=Linux Rawarawa
Comment[fo]=Remaster Easy Linux
Comment[fy]=Remaster Easy Linux
Comment[ga]=Remaster éasca Linux
Comment[gd]=Remaster furasta Linux
Comment[gl]=Remasterizar Easy Linux
Comment[gn]=Remaster Linux ndahasýiva
Comment[gu]=રીમાસ્ટર ઇઝી લિનક્સ
Comment[ha]=Remaster Easy Linux
Comment[he]=Remaster Easy Linux
Comment[hi]=रीमास्टर ईज़ी लिनक्स
Comment[hr]=Remaster Easy Linux
Comment[ht]=Remaster Easy Linux
Comment[hu]=Remaster Easy Linux
Comment[hy]=Remaster Easy Linux
Comment[id]=Remaster Linux Mudah
Comment[ig]=Remaster Easy Linux
Comment[is]=Remaster Easy Linux
Comment[it]=Rimasterizza Easy Linux
Comment[iu]=Remaster Easy Linux
Comment[ja]=リマスター Easy Linux
Comment[jv]=Remaster Gampang Linux
Comment[ka]=მარტივი Linux-ის გადაკეთება
Comment[kk]=Remaster Easy Linux
Comment[km]=Remaster Easy Linux
Comment[kn]=ಸುಲಭ ಲಿನಕ್ಸ್ ಅನ್ನು ಮರುಮಾದರಿಸು
Comment[ko]=리마스터 이지 리눅스
Comment[ku]=Remaster Easy Linux
Comment[ky]=Remaster Easy Linux
Comment[la]=Remaster Securus Linux
Comment[lb]=Remaster Easy Linux
Comment[lg]=Remaster Linux Ennyangu
Comment[ln]=Remaster Linux ya pete
Comment[lo]=Remaster Easy Linux
Comment[lt]=Remaster Easy Linux
Comment[lv]=Remaster Easy Linux
Comment[mg]=Remaster Easy Linux
Comment[mi]=Remaster Easy Linux
Comment[mk]=Remaster Easy Linux
Comment[ml]=ഈസി ലിനക്സ് റീമാസ്റ്റർ ചെയ്യുക
Comment[mn]=Remaster Easy Linux
Comment[mr]=रीमास्टर इझी लिनक्स
Comment[ms]=Remaster Easy Linux
Comment[mt]=Remaster Easy Linux
Comment[my]=လွယ်ကူသော Linux ပြန်လည်မာစတာ
Comment[ne]=रिमास्टर सजिलो लिनक्स
Comment[nl]=Remaster Easy Linux
Comment[no]=Remaster Easy Linux
Comment[ny]=Remaster Easy Linux
Comment[om]=Liinux Salphaa Remaster gochuu
Comment[or]=ରିମାଷ୍ଟର ସହଜ ଲିନକ୍ସ |
Comment[pa]=ਰੀਮਾਸਟਰ ਈਜ਼ੀ ਲੀਨਕਸ
Comment[pl]=Zremasteruj Easy Linux
Comment[ps]=ﺲﮑﻨﯿﻟ ﻪﻧﺎﺳﺍ ﺮټﺳﺎﻤﯾﺭ
Comment[pt]=Remasterizar Easy Linux
Comment[qu]=Remaster Linux Facil nisqa
Comment[ro]=Remasterizat Easy Linux
Comment[ru]=Ремастер Easy Linux
Comment[rw]=Remaster yoroshye Linux
Comment[sa]=Remaster Easy Linux
Comment[sd]=Remaster Easy Linux
Comment[si]=පහසු ලිනක්ස් නැවත සකස් කරන්න
Comment[sk]=Remaster Easy Linux
Comment[sl]=Remaster Easy Linux
Comment[sm]=Remaster Easy Linux
Comment[sn]=Remaster Easy Linux
Comment[so]=Remaster Easy Linux
Comment[sq]=Remaster Easy Linux
Comment[st]=Remaster Easy Linux
Comment[su]=Remaster Easy Linux
Comment[sv]=Remaster Easy Linux
Comment[sw]=Remaster Easy Linux
Comment[ta]=ரீமாஸ்டர் ஈஸி லினக்ஸ்
Comment[te]=ఈజీ లైనక్స్u200cని రీమాస్టర్ చేయండి
Comment[tg]=Remaster Easy Linux
Comment[th]=รีมาสเตอร์ Easy Linux
Comment[ti]=ሪማስተር ቀሊል ሊኑክስ
Comment[tk]=Remaster aňsat Linux
Comment[tl]=Remaster Easy Linux
Comment[to]=Remaster faingofua ʻa e lines ili x
Comment[tr]=Kolay Linuxu Yeniden Düzenleyin
Comment[ts]=Remaster Linux yo olova
Comment[tt]=Remaster Easy Linux
Comment[tw]=Remaster Linux a Ɛnyɛ Den
Comment[ty]=Te mau manao tauturu no te tuatapaparaa e te haapiiraa
Comment[ug]=Linux ﺵﺎﺸﯕﻮﺋ ﻰﻧ
Comment[uk]=Remaster Easy Linux
Comment[ur]=Remaster Easy Linux
Comment[uz]=Remaster Easy Linux
Comment[vi]=Làm lại Linux dễ dàng
Comment[xh]=I-Remaster Easy Linux
Comment[yi]=סקוניל גנירג רעטסאַמיר
Comment[yo]=Remaster Easy Linux
Comment[zh]=重制 Easy Linux
Comment[zu]=I-Remaster Easy Linux
Comment=Remaster Easy Linux
Exec=/usr/sbin/easy-remaster
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Easy Remaster
