[Desktop Entry]
Encoding=UTF-8
Name=Easy Version Control
Icon=mini-Filesystem-audit.xpm
Comment=Easy Version Control Manager
Exec=easy-version-control
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Easy Version Control
