[Desktop Entry]
Encoding=UTF-8
Name[de]=EasySetup-Setup-Frontend
Name[fr]=Tableau de configuration : EasySetup
Name[ru]=Интерфейс настройки EasySetup
Name[es]=EasySetup: configurar los ajustes de EasyOS
Name=EasySetup setup frontend
Icon=configuration48.png
Comment[de]=Frontend einrichten
Comment[fr]=Configuration générale
Comment[ru]=Интерфейс настройки
Comment[es]=EasySetup: configurar los ajustes de EasyOS
Comment=Setup frontend
Exec=easysetup
Terminal=false
Type=Application
Categories=X-Setup
GenericName=EasySetup
