[Desktop Entry]
Encoding=UTF-8
Name[fr]=Interface EasyDD pour dd
Name[bg]=EasyDD интерфейс за dd
Name[de]=EasyDD Frontend für dd
Name[es]=EasyDD: interfaz gráfica para dd
Name[ru]=EasyDD Интерфейс для dd
Name[af]=EasyDD frontend vir dd
Name[am]=EasyDD የፊት ለ dd
Name[ar]=dd ـﻟ EasyDD ﺔﻴﻣﺎﻣﻷ﻿ﺍ ﺔﻬﺟﺍﻮﻟﺍ
Name[as]=dd ৰ বাবে EasyDD ফ্ৰন্টএণ্ড
Name[ay]=EasyDD frontend ukax dd ukatakiw
Name[az]=dd üçün EasyDD frontend
Name[ba]=Dd өсөн EasyDD фронтенды
Name[be]=Інтэрфейс EasyDD для dd
Name[bm]=EasyDD ɲɛfɛla ka ɲɛsin dd ma
Name[bn]=dd এর জন্য EasyDD ফ্রন্টএন্ড
Name[bo]=སྟབས་བདེའི་DDམདུན་ངོས་ཀྱི་dd
Name[bs]=EasyDD frontend za dd
Name[ca]=Interfaz EasyDD per a dd
Name[co]=EasyDD frontend per dd
Name[cs]=EasyDD frontend pro dd
Name[cy]=Ffryntiad EasyDD ar gyfer dd
Name[da]=EasyDD frontend til dd
Name[dv]=ޑްންއެޓްންރަފް ޑީޑީޒީއީ ށްއަ ޑީޑީ
Name[ee]=EasyDD ƒe ŋgɔgbekpa na dd
Name[el]=EasyDD frontend για dd
Name[eo]=EasyDD fasado por dd
Name[et]=EasyDD kasutajaliides dd jaoks
Name[eu]=EasyDD frontend-a dd-rako
Name[fa]=dd ﯼﺍﺮﺑ EasyDD ﯽﻠﺻﺍ ﻪﺤﻔﺻ
Name[fi]=EasyDD käyttöliittymä dd:lle
Name[fj]=iYaloyalo rawarawa ni DD
Name[fo]=EasyDD frontend for dd
Name[fy]=EasyDD frontend foar dd
Name[ga]=Aghaidh EasyDD do dd
Name[gd]=Aghaidh EasyDD airson dd
Name[gl]=EasyDD frontend para dd
Name[gn]=EasyDD frontend dd-pe g̃uarã
Name[gu]=dd માટે EasyDD ફ્રન્ટએન્ડ
Name[ha]=EasyDD gaba don dd
Name[he]=EasyDD frontend רובע dd
Name[hi]=डीडी के लिए ईज़ीडीडी फ्रंटएंड
Name[hr]=EasyDD sučelje za dd
Name[ht]=Interface EasyDD pou dd
Name[hu]=EasyDD frontend for dd
Name[hy]=EasyDD frontend dd-ի համար
Name[id]=Antarmuka EasyDD untuk dd
Name[ig]=EasyDD nihu maka dd
Name[is]=EasyDD framhlið fyrir dd
Name[it]=Interfaccia EasyDD per dd
Name[iu]=ᐊᔪᕐᓇᙱᑦᑐᖅDD ᓯᕗᓂᐊᓃᑦᑐᑦ ddd
Name[ja]=dd 用 EasyDD フロントエンド
Name[jv]=EasyDD frontend kanggo dd
Name[ka]=EasyDD frontend for dd
Name[kk]=dd үшін EasyDD интерфейсі
Name[km]=ផ្នែកខាងមុខ EasyDD សម្រាប់ dd
Name[kn]=dd ಗಾಗಿ EasyDD ಮುಂಭಾಗ
Name[ko]=dd용 EasyDD 프런트엔드
Name[ku]=Eniya EasyDD ji bo dd
Name[ky]=dd үчүн EasyDD алдыңкы бөлүгү
Name[la]=EasyDD frontend for dd
Name[lb]=EasyDD Frontend fir dd
Name[lg]=EasyDD frontend ya dd
Name[ln]=EasyDD frontend mpo na dd
Name[lo]=EasyDD frontend ສໍາລັບ dd
Name[lt]=EasyDD sąsaja, skirta dd
Name[lv]=EasyDD priekšgals priekš dd
Name[mg]=EasyDD frontend ho anny dd
Name[mi]=EasyDD mua mo te dd
Name[mk]=EasyDD преден дел за дд
Name[ml]=dd-യ്u200cക്കുള്ള EasyDD മുൻഭാഗം
Name[mn]=dd-д зориулсан EasyDD урд хэсэг
Name[mr]=dd साठी EasyDD फ्रंटएंड
Name[ms]=Bahagian hadapan EasyDD untuk dd
Name[mt]=EasyDD frontend għal dd
Name[my]=dd အတွက် EasyDD ရှေ့တန်း
Name[ne]=dd को लागि EasyDD फ्रन्टएन्ड
Name[nl]=EasyDD-frontend voor dd
Name[no]=EasyDD frontend for dd
Name[ny]=EasyDD kutsogolo kwa dd
Name[om]=EasyDD fuula duraa dd
Name[or]=Dd ପାଇଁ EasyDD ଫ୍ରଣ୍ଟେଣ୍ଡ୍ |
Name[pa]=dd ਲਈ EasyDD ਫਰੰਟਐਂਡ
Name[pl]=Nakładka EasyDD dla dd
Name[ps]=ډﻨﯾﺍ ټﻧﺮﻓ EasyDD ﻩﺭﺎﭙﻟ dd ﺩ
Name[pt]=Frontend EasyDD para dd
Name[qu]=EasyDD frontend para dd
Name[ro]=EasyDD frontend pentru dd
Name[rw]=ByoroshyeDD imbere ya dd
Name[sa]=dd कृते EasyDD frontend
Name[sd]=ڊﻨﻳﺍ ٽﻧﺮﻓ EasyDD ءِﻻ﻿ ﻱڊ ﻱڊ
Name[si]=dd සඳහා EasyDD ඉදිරිපස
Name[sk]=EasyDD frontend pre dd
Name[sl]=EasyDD vmesnik za dd
Name[sm]=EasyDD pito i luma mo dd
Name[sn]=EasyDD kumberi kwedd
Name[so]=EasyDD hore ee dd
Name[sq]=Frontend EasyDD për dd
Name[st]=EasyDD frontend bakeng sa dd
Name[su]=EasyDD frontend pikeun dd
Name[sv]=EasyDD frontend för dd
Name[sw]=EasyDD frontend kwa dd
Name[ta]=dd க்கான EasyDD முன்பக்கம்
Name[te]=dd కోసం EasyDD ఫ్రంటెండ్
Name[tg]=Frontend EasyDD барои dd
Name[th]=ส่วนหน้า EasyDD สำหรับ dd
Name[ti]=EasyDD frontend ን dd
Name[tk]=Dd üçin “EasyDD” öň tarapy
Name[tl]=EasyDD frontend para sa dd
Name[to]=EasyDD frontend ki he DD
Name[tr]=dd için EasyDD ön ucu
Name[ts]=EasyDD frontend ya dd
Name[tt]=Dd өчен EasyDD фронтовик
Name[tw]=EasyDD anim a ɛyɛ mmerɛw ma dd
Name[ty]=Te mau manao tauturu no te haapiiraa
Name[ug]=Dd ﻥﯜﭼﯜﺋ EasyDD ﭖەﺭەﺗ ﻯﺪﻟﺎﺋ
Name[uk]=Інтерфейс EasyDD для dd
Name[ur]=ﮉﻨﯾﺍ ﭧﻧﺮﻓ ﯼﮈ ﯼﮈ ﯼﺰﯾﺍ ﮯﯿﻟ ﮯﮐ ﯼﮈ ﯼﮈ
Name[uz]=dd uchun EasyDD frontend
Name[vi]=Giao diện EasyDD cho dd
Name[xh]=EasyDD frontend for dd
Name[yi]=EasyDD ראַפֿ דנעטנאָרפ dd
Name[yo]=EasyDD iwaju fun dd
Name[zh]=EasyDD dd 前端
Name[zu]=I-EasyDD frontend ye-dd
Name=EasyDD frontend for dd
Icon=mini-ray.xpm
Comment[fr]=Interface EasyDD pour dd
Comment[bg]=EasyDD интерфейс за dd
Comment[de]=EasyDD Frontend für dd
Comment[es]=EasyDD: interfaz gráfica para dd
Comment[ru]=Интерфейс EasyDD для dd
Comment[af]=EasyDD frontend vir dd
Comment[am]=EasyDD የፊት ለ dd
Comment[ar]=dd ـﻟ EasyDD ﺔﻴﻣﺎﻣﻷ﻿ﺍ ﺔﻬﺟﺍﻮﻟﺍ
Comment[as]=dd ৰ বাবে EasyDD ফ্ৰন্টএণ্ড
Comment[ay]=EasyDD frontend ukax dd ukatakiw
Comment[az]=dd üçün EasyDD frontend
Comment[ba]=Dd өсөн EasyDD фронтенды
Comment[be]=Інтэрфейс EasyDD для dd
Comment[bm]=EasyDD ɲɛfɛla ka ɲɛsin dd ma
Comment[bn]=dd এর জন্য EasyDD ফ্রন্টএন্ড
Comment[bo]=སྟབས་བདེའི་DDམདུན་ངོས་ཀྱི་dd
Comment[bs]=EasyDD frontend za dd
Comment[ca]=Interfaz EasyDD per a dd
Comment[co]=EasyDD frontend per dd
Comment[cs]=EasyDD frontend pro dd
Comment[cy]=Ffryntiad EasyDD ar gyfer dd
Comment[da]=EasyDD frontend til dd
Comment[dv]=ޑްންއެޓްންރަފް ޑީޑީޒީއީ ށްއަ ޑީޑީ
Comment[ee]=EasyDD ƒe ŋgɔgbekpa na dd
Comment[el]=EasyDD frontend για dd
Comment[eo]=EasyDD fasado por dd
Comment[et]=EasyDD kasutajaliides dd jaoks
Comment[eu]=EasyDD frontend-a dd-rako
Comment[fa]=dd ﯼﺍﺮﺑ EasyDD ﯽﻠﺻﺍ ﻪﺤﻔﺻ
Comment[fi]=EasyDD käyttöliittymä dd:lle
Comment[fj]=iYaloyalo rawarawa ni DD
Comment[fo]=EasyDD frontend for dd
Comment[fy]=EasyDD frontend foar dd
Comment[ga]=Aghaidh EasyDD do dd
Comment[gd]=Aghaidh EasyDD airson dd
Comment[gl]=EasyDD frontend para dd
Comment[gn]=EasyDD frontend dd-pe g̃uarã
Comment[gu]=dd માટે EasyDD ફ્રન્ટએન્ડ
Comment[ha]=EasyDD gaba don dd
Comment[he]=EasyDD frontend רובע dd
Comment[hi]=डीडी के लिए ईज़ीडीडी फ्रंटएंड
Comment[hr]=EasyDD sučelje za dd
Comment[ht]=Interface EasyDD pou dd
Comment[hu]=EasyDD frontend for dd
Comment[hy]=EasyDD frontend dd-ի համար
Comment[id]=Antarmuka EasyDD untuk dd
Comment[ig]=EasyDD nihu maka dd
Comment[is]=EasyDD framhlið fyrir dd
Comment[it]=Interfaccia EasyDD per dd
Comment[iu]=ᐊᔪᕐᓇᙱᑦᑐᖅDD ᓯᕗᓂᐊᓃᑦᑐᑦ ddd
Comment[ja]=dd 用 EasyDD フロントエンド
Comment[jv]=EasyDD frontend kanggo dd
Comment[ka]=EasyDD frontend for dd
Comment[kk]=dd үшін EasyDD интерфейсі
Comment[km]=ផ្នែកខាងមុខ EasyDD សម្រាប់ dd
Comment[kn]=dd ಗಾಗಿ EasyDD ಮುಂಭಾಗ
Comment[ko]=dd용 EasyDD 프런트엔드
Comment[ku]=Eniya EasyDD ji bo dd
Comment[ky]=dd үчүн EasyDD алдыңкы бөлүгү
Comment[la]=EasyDD frontend for dd
Comment[lb]=EasyDD Frontend fir dd
Comment[lg]=EasyDD frontend ya dd
Comment[ln]=EasyDD frontend mpo na dd
Comment[lo]=EasyDD frontend ສໍາລັບ dd
Comment[lt]=EasyDD sąsaja, skirta dd
Comment[lv]=EasyDD priekšgals priekš dd
Comment[mg]=EasyDD frontend ho anny dd
Comment[mi]=EasyDD mua mo te dd
Comment[mk]=EasyDD преден дел за дд
Comment[ml]=dd-യ്u200cക്കുള്ള EasyDD മുൻഭാഗം
Comment[mn]=dd-д зориулсан EasyDD урд хэсэг
Comment[mr]=dd साठी EasyDD फ्रंटएंड
Comment[ms]=Bahagian hadapan EasyDD untuk dd
Comment[mt]=EasyDD frontend għal dd
Comment[my]=dd အတွက် EasyDD ရှေ့တန်း
Comment[ne]=dd को लागि EasyDD फ्रन्टएन्ड
Comment[nl]=EasyDD-frontend voor dd
Comment[no]=EasyDD frontend for dd
Comment[ny]=EasyDD kutsogolo kwa dd
Comment[om]=EasyDD fuula duraa dd
Comment[or]=Dd ପାଇଁ EasyDD ଫ୍ରଣ୍ଟେଣ୍ଡ୍ |
Comment[pa]=dd ਲਈ EasyDD ਫਰੰਟਐਂਡ
Comment[pl]=Nakładka EasyDD dla dd
Comment[ps]=ډﻨﯾﺍ ټﻧﺮﻓ EasyDD ﻩﺭﺎﭙﻟ dd ﺩ
Comment[pt]=Frontend EasyDD para dd
Comment[qu]=EasyDD frontend para dd
Comment[ro]=EasyDD frontend pentru dd
Comment[rw]=ByoroshyeDD imbere ya dd
Comment[sa]=dd कृते EasyDD frontend
Comment[sd]=ڊﻨﻳﺍ ٽﻧﺮﻓ EasyDD ءِﻻ﻿ ﻱڊ ﻱڊ
Comment[si]=dd සඳහා EasyDD ඉදිරිපස
Comment[sk]=EasyDD frontend pre dd
Comment[sl]=EasyDD vmesnik za dd
Comment[sm]=EasyDD pito i luma mo dd
Comment[sn]=EasyDD kumberi kwedd
Comment[so]=EasyDD hore ee dd
Comment[sq]=Frontend EasyDD për dd
Comment[st]=EasyDD frontend bakeng sa dd
Comment[su]=EasyDD frontend pikeun dd
Comment[sv]=EasyDD frontend för dd
Comment[sw]=EasyDD frontend kwa dd
Comment[ta]=dd க்கான EasyDD முன்பக்கம்
Comment[te]=dd కోసం EasyDD ఫ్రంటెండ్
Comment[tg]=Frontend EasyDD барои dd
Comment[th]=ส่วนหน้า EasyDD สำหรับ dd
Comment[ti]=EasyDD frontend ን dd
Comment[tk]=Dd üçin “EasyDD” öň tarapy
Comment[tl]=EasyDD frontend para sa dd
Comment[to]=EasyDD frontend ki he DD
Comment[tr]=dd için EasyDD ön ucu
Comment[ts]=EasyDD frontend ya dd
Comment[tt]=Dd өчен EasyDD фронтовик
Comment[tw]=EasyDD anim a ɛyɛ mmerɛw ma dd
Comment[ty]=Te mau manao tauturu no te haapiiraa
Comment[ug]=Dd ﻥﯜﭼﯜﺋ EasyDD ﭖەﺭەﺗ ﻯﺪﻟﺎﺋ
Comment[uk]=Інтерфейс EasyDD для dd
Comment[ur]=ﮉﻨﯾﺍ ﭧﻧﺮﻓ ﯼﮈ ﯼﮈ ﯼﺰﯾﺍ ﮯﯿﻟ ﮯﮐ ﯼﮈ ﯼﮈ
Comment[uz]=dd uchun EasyDD frontend
Comment[vi]=Giao diện EasyDD cho dd
Comment[xh]=EasyDD frontend for dd
Comment[yi]=EasyDD ראַפֿ דנעטנאָרפ dd
Comment[yo]=EasyDD iwaju fun dd
Comment[zh]=EasyDD dd 前端
Comment[zu]=I-EasyDD frontend ye-dd
Comment=EasyDD frontend for dd
Exec=easydd
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=EasyDD
