[Desktop Entry]
Encoding=UTF-8
Name[fr]=Contrôle de version : Easy Version Control
Name[bg]=Лесен контрол на версиите
Name[de]=Einfache Versionskontrolle
Name[es]=Easy Version Control: control de versiones
Name[ru]=Easy Version Control
Name[af]=Maklike weergawebeheer
Name[am]=ቀላል ስሪት ቁጥጥር
Name[ar]=ﺭﺍﺪﺻﻹ﻿ﺍ ﻲﻓ ﻞﻬﺳ ﻢﻜﺤﺗ
Name[as]=সহজ সংস্কৰণ নিয়ন্ত্ৰণ
Name[ay]=Control de Versión ukax jasakiwa
Name[az]=Asan versiyaya nəzarət
Name[ba]=Easy Версия менән идара итеү
Name[be]=Лёгкі кантроль версій
Name[bm]=Version Contrôle nɔgɔman
Name[bn]=সহজ সংস্করণ নিয়ন্ত্রণ
Name[bo]=སྟབས་བདེའི་པར་གཞི་ཚོད་འཛིན
Name[bs]=Jednostavna kontrola verzija
Name[ca]=Control de versions fàcil
Name[co]=Easy Version Control
Name[cs]=Snadná kontrola verzí
Name[cy]=Rheoli Fersiwn Hawdd
Name[da]=Nem versionskontrol
Name[dv]=ލްރޯޓްންކޮ ންޝަރވަ ހަސޭފަ
Name[ee]=Gɔmeɖeɖe Blewu Dzi Kpɔkpɔ
Name[el]=Εύκολος έλεγχος έκδοσης
Name[eo]=Facila Versia Kontrolo
Name[et]=Lihtne versioonikontroll
Name[eu]=Bertsio-kontrol erraza
Name[fa]=ﻥﺎﺳﺁ ﻪﺨﺴﻧ ﻝﺮﺘﻨﮐ
Name[fi]=Helppo versionhallinta
Name[fj]=Lewai Rawarawa ni Kena iVakadewa
Name[fo]=Easy Version Control
Name[fy]=Easy Ferzje kontrôle
Name[ga]=Rialú Leagan Éasca
Name[gd]=Smachd Tionndadh furasta
Name[gl]=Control de versións sinxelo
Name[gn]=Control de Versión ndahasýiva
Name[gu]=સરળ સંસ્કરણ નિયંત્રણ
Name[ha]=Sarrafa Sigar Sauƙi
Name[he]=הלק תואסרג תרקב
Name[hi]=आसान संस्करण नियंत्रण
Name[hr]=Jednostavna kontrola verzije
Name[ht]=Kontwòl vèsyon fasil
Name[hu]=Egyszerű verzióvezérlés
Name[hy]=Հեշտ տարբերակի վերահսկում
Name[id]=Kontrol Versi Mudah
Name[ig]=Njikwa ụdịdị dị mfe
Name[is]=Auðveld útgáfustýring
Name[it]=Facile controllo della versione
Name[iu]=ᐱᔭᕆᐊᑭᑦᑐᒥᑦ ᐊᐅᓚᑦᓯᓂᖅ
Name[ja]=簡単なバージョン管理
Name[jv]=Kontrol Versi Gampang
Name[ka]=მარტივი ვერსიის კონტროლი
Name[kk]=Оңай нұсқаны басқару
Name[km]=ការគ្រប់គ្រងកំណែងាយស្រួល
Name[kn]=ಸುಲಭ ಆವೃತ್ತಿ ನಿಯಂತ್ರಣ
Name[ko]=쉬운 버전 관리
Name[ku]=Kontrola Versiyonek hêsan
Name[ky]=Easy Version Control
Name[la]=Securus Version Imperium
Name[lb]=Einfach Versioun Kontroll
Name[lg]=Okufuga Enkyusa Ennyangu
Name[ln]=Contrôle ya Version Facile
Name[lo]=ການຄວບຄຸມສະບັບງ່າຍ
Name[lt]=Lengvas versijos valdymas
Name[lv]=Vienkārša versijas kontrole
Name[mg]=Mora Version Control
Name[mi]=Mana Putanga ngawari
Name[mk]=Лесна контрола на верзијата
Name[ml]=എളുപ്പമുള്ള പതിപ്പ് നിയന്ത്രണം
Name[mn]=Хялбар хувилбарын хяналт
Name[mr]=सोपे आवृत्ती नियंत्रण
Name[ms]=Kawalan Versi Mudah
Name[mt]=Kontroll tal-Verżjoni Faċli
Name[my]=လွယ်ကူသောဗားရှင်းထိန်းချုပ်မှု
Name[ne]=सजिलो संस्करण नियन्त्रण
Name[nl]=Eenvoudig versiebeheer
Name[no]=Enkel versjonskontroll
Name[ny]=Easy Version Control
Name[om]=Toannoo Vershinii Salphaa
Name[or]=ସହଜ ସଂସ୍କରଣ ନିୟନ୍ତ୍ରଣ |
Name[pa]=ਆਸਾਨ ਸੰਸਕਰਣ ਨਿਯੰਤਰਣ
Name[pl]=Łatwa kontrola wersji
Name[ps]=ﻝﻭﺮټﻨﮐ ﻪﺨﺴﻧ ﻪﻧﺎﺳﺍ
Name[pt]=Controlo de Versão Fácil
Name[qu]=Control de Versión Facil nisqa
Name[ro]=Control ușor al versiunii
Name[rw]=Igenzura ryoroshye
Name[sa]=सुलभं संस्करणनियन्त्रणम्
Name[sd]=ﻝﻭﺮٽﻨڪ ﻮﺨﺴﻧ ﻥﺎﺳﺁ
Name[si]=පහසු අනුවාද පාලනය
Name[sk]=Jednoduchá kontrola verzií
Name[sl]=Enostaven nadzor različic
Name[sm]=Faatonu Faaliliuga Faigofie
Name[sn]=Easy Version Control
Name[so]=Xakamaynta Nooca Fudud
Name[sq]=Kontroll i lehtë i versionit
Name[st]=Easy Version Control
Name[su]=Gampang Vérsi Control
Name[sv]=Enkel versionskontroll
Name[sw]=Udhibiti wa Toleo Rahisi
Name[ta]=எளிதான பதிப்பு கட்டுப்பாடு
Name[te]=సులభమైన వెర్షన్ నియంత్రణ
Name[tg]=Назорати версияи осон
Name[th]=ควบคุมเวอร์ชันได้ง่าย
Name[ti]=ቀሊል ምቁጽጻር ስሪት።
Name[tk]=Easyönekeý wersiýa gözegçilik
Name[tl]=Madaling Pagkontrol sa Bersyon
Name[to]=Mapuleʻi faingofua ʻo e Version
Name[tr]=Kolay Sürüm Kontrolü
Name[ts]=Vulawuri bya Vuhundzuluxeri byo Olova
Name[tt]=Easyиңел версия белән идарә итү
Name[tw]=Version Control a Ɛnyɛ Den
Name[ty]=Hiopoaraa ohie
Name[ug]=ﺶﯩﻠﯩﻗ ﻝﻭﺮﺘﻧﻮﻛ ﻰﻨﯨﺮﺷەﻧ ﻥﺎﺳﺎﺋ
Name[uk]=Легкий контроль версій
Name[ur]=ﻝﻭﺮﭩﻨﮐ ﻥﮊﺭﻭ ﻥﺎﺳﺁ
Name[uz]=Oson versiyani boshqarish
Name[vi]=Kiểm soát phiên bản dễ dàng
Name[xh]=Easy Version Control
Name[yi]=לאָרטנאָק עיסרעוו גנירג
Name[yo]=Easy Version Iṣakoso
Name[zh]=简单的版本控制
Name[zu]=Easy Version Control
Name=Easy Version Control
Icon=mini-Filesystem-audit.xpm
Comment[fr]=Contrôle de version : Easy Version Control
Comment[bg]=Лесен мениджър за контрол на версиите
Comment[de]=Einfacher Versionskontroll-Manager
Comment[es]=Easy Version Control: control de versiones
Comment[ru]=Лесен мениджър за контрол на версиите
Comment[af]=Maklike weergawebeheerbestuurder
Comment[am]=ቀላል ስሪት መቆጣጠሪያ አስተዳዳሪ
Comment[ar]=ﻞﻬﺴﻟﺍ ﺭﺍﺪﺻﻹ﻿ﺍ ﻲﻓ ﻢﻜﺤﺘﻟﺍ ﺮﻳﺪﻣ
Comment[as]=সহজ সংস্কৰণ নিয়ন্ত্ৰণ ব্যৱস্থাপক
Comment[ay]=Jasaki Versión Control uka apnaqiri
Comment[az]=Asan versiyaya nəzarət meneceri
Comment[ba]=Easy Rogert Control Mana
Comment[be]=Easy Version Control Manager
Comment[bm]=Version Control Manager min ka nɔgɔn
Comment[bn]=সহজ সংস্করণ নিয়ন্ত্রণ ব্যবস্থাপক
Comment[bo]=སྟབས་བདེའི་པར་གཞི་ཚོད་འཛིན་སྤྱི་གཉེར
Comment[bs]=Easy Version Control Manager
Comment[ca]=Gestor de control de versions fàcil
Comment[co]=Easy Version Control Manager
Comment[cs]=Snadný správce verze
Comment[cy]=Rheolwr Rheoli Fersiwn Hawdd
Comment[da]=Nem versionskontrolstyring
Comment[dv]=ރޖަނޭމެ ލްރޯޓްންކޮ ންޝަރވަ ހަސޭފަ
Comment[ee]=Easy Version Control Manager
Comment[el]=Easy Version Control Manager
Comment[eo]=Facila Versia Kontrola Administranto
Comment[et]=Lihtne versioonikontrolli haldur
Comment[eu]=Bertsio Erraza Kontroleko Kudeatzailea
Comment[fa]=ﻥﺎﺳﺁ ﻪﺨﺴﻧ ﻝﺮﺘﻨﮐ ﺖﯾﺮﯾﺪﻣ
Comment[fi]=Easy Version Control Manager
Comment[fj]=Manidia ni Lewai ni iTuvatuva Rawarawa
Comment[fo]=Easy Version Control Manager
Comment[fy]=Maklike ferzje Control Manager
Comment[ga]=Bainisteoir Rialú Leagan Éasca
Comment[gd]=Manaidsear smachd tionndadh furasta
Comment[gl]=Xestor de control de versións sinxelo
Comment[gn]=Versión Control Mohendaha ndahasýiva
Comment[gu]=સરળ સંસ્કરણ નિયંત્રણ વ્યવસ્થાપક
Comment[ha]=Mai sarrafa Sigar Sauƙi
Comment[he]=לק תואסרג תרקב להנמ
Comment[hi]=आसान संस्करण नियंत्रण प्रबंधक
Comment[hr]=Easy Version Control Manager
Comment[ht]=Manadjè kontwòl vèsyon fasil
Comment[hu]=Easy Version Control Manager
Comment[hy]=Հեշտ տարբերակի վերահսկման կառավարիչ
Comment[id]=Manajer Kontrol Versi Mudah
Comment[ig]=Njikwa njikwa ụdị dị mfe
Comment[is]=Auðveldur útgáfustýringarstjóri
Comment[it]=Gestore di controllo della versione facile
Comment[iu]=ᐱᔭᕆᐊᑭᑦᑐᒥᑦ ᐊᐅᓚᑦᓯᓂᕐᒧᑦ ᐊᐅᓚᑦᓯᔨ
Comment[ja]=簡単なバージョン管理マネージャー
Comment[jv]=Pangatur Kontrol Versi Gampang
Comment[ka]=მარტივი ვერსიის კონტროლის მენეჯერი
Comment[kk]=Жеңіл нұсқаны басқару менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងកំណែងាយស្រួល
Comment[kn]=ಸುಲಭ ಆವೃತ್ತಿ ನಿಯಂತ್ರಣ ನಿರ್ವಾಹಕ
Comment[ko]=간편한 버전 관리 관리자
Comment[ku]=Rêvebirê Kontrola Guhertoya Hêsan
Comment[ky]=Easy Version Control Manager
Comment[la]=Securus Version Imperium Manager
Comment[lb]=Einfach Versioun Kontroll Manager
Comment[lg]=Omuddukanya Okufuga Enkyusa Ennyangu
Comment[ln]=Gestionnaire ya contrôle ya version facile
Comment[lo]=ຕົວຈັດການການຄວບຄຸມເວີຊັນງ່າຍ
Comment[lt]=Lengvas versijos valdymo tvarkyklė
Comment[lv]=Vienkāršs versiju kontroles pārvaldnieks
Comment[mg]=Easy Version Control Manager
Comment[mi]=Kaiwhakahaere Mana Putanga ngawari
Comment[mk]=Лесен менаџер за контрола на верзијата
Comment[ml]=ഈസി പതിപ്പ് കൺട്രോൾ മാനേജർ
Comment[mn]=Хялбар хувилбарын хяналтын менежер
Comment[mr]=सुलभ आवृत्ती नियंत्रण व्यवस्थापक
Comment[ms]=Pengurus Kawalan Versi Mudah
Comment[mt]=Maniġer tal-Kontroll tal-Verżjoni Faċli
Comment[my]=လွယ်ကူသောဗားရှင်းထိန်းချုပ်မှုမန်နေဂျာ
Comment[ne]=सजिलो संस्करण नियन्त्रण प्रबन्धक
Comment[nl]=Eenvoudige versiebeheerbeheerder
Comment[no]=Enkel versjonskontrollbehandling
Comment[ny]=Easy Version Control Manager
Comment[om]=Geggeessaa Toannoo Vershinii Salphaa
Comment[or]=ସହଜ ସଂସ୍କରଣ ନିୟନ୍ତ୍ରଣ ପରିଚାଳକ |
Comment[pa]=ਆਸਾਨ ਵਰਜਨ ਕੰਟਰੋਲ ਮੈਨੇਜਰ
Comment[pl]=Łatwy menedżer kontroli wersji
Comment[ps]=ﺮﯾﺪﻣ ﻝﻭﺮټﻨﮐ ﻪﺨﺴﻧ ﻪﻧﺎﺳﺍ ﺩ
Comment[pt]=Gestor de Controlo de Versão Fácil
Comment[qu]=Facil Versión Control kamachiq
Comment[ro]=Manager ușor de control al versiunilor
Comment[rw]=Umuyobozi woroshye wo kugenzura
Comment[sa]=सुलभं संस्करणनियन्त्रणप्रबन्धकम्
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ﻝﻭﺮٽﻨڪ ﻮﺨﺴﻧ ﻥﺎﺳﺁ
Comment[si]=පහසු අනුවාද පාලන කළමනාකරු
Comment[sk]=Jednoduchý správca správy verzií
Comment[sl]=Easy Version Control Manager
Comment[sm]=Faigofie Version Pule Pule
Comment[sn]=Easy Version Control Manager
Comment[so]=Maareeyaha Xakamaynta Nooca fudud
Comment[sq]=Menaxher i kontrollit të versionit të thjeshtë
Comment[st]=Easy Version Control Manager
Comment[su]=Pangatur Kontrol Vérsi Gampang
Comment[sv]=Enkel versionskontrollhanterare
Comment[sw]=Meneja wa Udhibiti wa Toleo Rahisi
Comment[ta]=எளிதான பதிப்பு கட்டுப்பாட்டு மேலாளர்
Comment[te]=సులభమైన వెర్షన్ కంట్రోల్ మేనేజర్
Comment[tg]=Менеҷери идоракунии версияи осон
Comment[th]=ตัวจัดการการควบคุมเวอร์ชันอย่างง่าย
Comment[ti]=ቀሊል ስሪት ቁጽጽር ኣካያዲ
Comment[tk]=Easyönekeý wersiýa dolandyryş dolandyryjysy
Comment[tl]=Easy Version Control Manager
Comment[to]=Pule ki hono puleʻi ʻo e Version faingofua
Comment[tr]=Kolay Sürüm Kontrol Yöneticisi
Comment[ts]=Mufambisi wa Vulawuri bya Vuhundzuluxeri byo Olova
Comment[tt]=Easyиңел версия белән идарә итү
Comment[tw]=Easy Version Control Manager a ɛyɛ mmerɛw
Comment[ty]=Tia faatere no te hiopoaraa ohie
Comment[ug]=ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻝﻭﺮﺘﻧﻮﻛ ﻰﻨﯨﺮﺷەﻧ ﻥﺎﺳﺎﺋ
Comment[uk]=Простий менеджер версій
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﻝﻭﺮﭩﻨﮐ ﻥﮊﺭﻭ ﻥﺎﺳﺁ
Comment[uz]=Oson versiya boshqaruv menejeri
Comment[vi]=Trình quản lý kiểm soát phiên bản dễ dàng
Comment[xh]=UMlawuli woLawulo lwenguqulelo elula
Comment[yi]=רעגאַנאַמ לאָרטנאָק עיסרעוו גנירג
Comment[yo]=Easy Version Iṣakoso Manager
Comment[zh]=简易版本控制管理器
Comment[zu]=Easy Version Control Manager
Comment=Easy Version Control Manager
Exec=easy-version-control
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Easy Version Control
