[Desktop Entry]
Encoding=UTF-8
Name[fr]=Partage de fichiers réseau/imprimantes : EasyShare
Name[bg]=Споделяне на мрежови файлове и принтери на EasyShare
Name[de]=EasyShare Netzwerkdatei- und Druckerfreigabe
Name[es]=EasyShare: compartir impresoras y archivos en red
Name[ru]=EasyShare сетевой шаринг файлов и принтеров
Name[af]=EasyShare-netwerklêer- en drukkerdeling
Name[am]=EasyShare አውታረ መረብ ፋይል እና አታሚ ማጋራት
Name[ar]=ﺔﻌﺑﺎﻄﻟﺍ ﺔﻛﺭﺎﺸﻣﻭ EasyShare ﺔﻜﺒﺷ ﻒﻠﻣ
Name[as]=EasyShare নেটৱৰ্ক ফাইল আৰু প্ৰিন্টাৰ অংশীদাৰী
Name[ay]=EasyShare red ukan archivo ukat impresora ukanakamp chikancht’asiña
Name[az]=EasyShare şəbəkə faylı və printer mübadiləsi
Name[ba]=EasyShare селтәре файлы һәм принтерҙар менән уртаҡлашыу
Name[be]=Абагульванне сеткавых файлаў і друкарак EasyShare
Name[bm]=EasyShare réseau file ani imprimante tila-tila
Name[bn]=EasyShare নেটওয়ার্ক ফাইল এবং প্রিন্টার শেয়ারিং
Name[bo]=EasyShareདྲ་རྒྱའི་ཡིག་ཆ་དང་པར་འདེབས་འཕྲུལ་འཁོར་མཉམ་སྤྱོད་
Name[bs]=EasyShare dijeljenje mrežnih datoteka i pisača
Name[ca]=Compartició dimpressores i fitxers de xarxa EasyShare
Name[co]=EasyShare file di rete è spartera di stampante
Name[cs]=Sdílení síťových souborů a tiskáren EasyShare
Name[cy]=Rhannu ffeiliau rhwydwaith ac argraffwyr EasyShare
Name[da]=EasyShare netværksfil og printerdeling
Name[dv]=ންރުކު ރއަޝެ ރޓަންރިޕް ދިއަ ލްއިފަ ކްވޯޓްނެ އާޝެޒީއީ
Name[ee]=EasyShare network file kple agbalẽtamɔ̃ ƒe mama
Name[el]=Κοινή χρήση αρχείων δικτύου και εκτυπωτή EasyShare
Name[eo]=EasyShare retdosiero kaj presilo kunhavigo
Name[et]=EasySharei võrgufailide ja printerite jagamine
Name[eu]=EasyShare sareko fitxategiak eta inprimagailuak partekatzea
Name[fa]=EasyShare ﺮﮕﭘﺎﭼ ﻭ ﻪﮑﺒﺷ ﻞﯾﺎﻓ ﯼﺭﺍﺬﮔ ﮎﺍﺮﺘﺷﺍ
Name[fi]=EasyShare-verkkotiedostojen ja tulostimen jakaminen
Name[fj]=Wasei ni faile ni ilawalawa vakacakacaka kei na misini ni misini
Name[fo]=EasyShare network file og prentara.
Name[fy]=EasyShare netwurkbestân en printer te dielen
Name[ga]=Comhad líonra EasyShare agus roinnt printéir
Name[gd]=Co-roinn faidhle lìonra EasyShare agus clò-bhualadair
Name[gl]=Compartir ficheiros de rede e impresoras EasyShare
Name[gn]=EasyShare rembiapokue red rehegua ha impresora ñembohasa
Name[gu]=EasyShare નેટવર્ક ફાઇલ અને પ્રિન્ટર શેરિંગ
Name[ha]=EasyShare fayil ɗin cibiyar sadarwa da raba firinta
Name[he]=EasyShare תשרב תוספדמו םיצבק ףותיש
Name[hi]=EasyShare नेटवर्क फ़ाइल और प्रिंटर साझाकरण
Name[hr]=EasyShare mrežno dijeljenje datoteka i pisača
Name[ht]=EasyShare rezo fichye ak enprimant pataje
Name[hu]=EasyShare hálózati fájl- és nyomtatómegosztás
Name[hy]=EasyShare ցանցային ֆայլերի և տպիչների փոխանակում
Name[id]=File jaringan EasyShare dan berbagi printer
Name[ig]=EasyShare faịlụ netwọkụ na nkesa ngwa nbipute
Name[is]=EasyShare samnýting netskráa og prentara
Name[it]=Condivisione di file e stampanti in rete EasyShare
Name[iu]=EasyShare Network File and printer ᐊᒥᖅᑳᕐᓂᖅ
Name[ja]=EasyShare ネットワーク ファイルとプリンターの共有
Name[jv]=File jaringan EasyShare lan enggo bareng printer
Name[ka]=EasyShare ქსელის ფაილების და პრინტერის გაზიარება
Name[kk]=EasyShare желілік файлы мен принтерді ортақ пайдалану
Name[km]=ឯកសារបណ្តាញ EasyShare និងការចែករំលែកម៉ាស៊ីនបោះពុម្ព
Name[kn]=EasyShare ನೆಟ್ವರ್ಕ್ ಫೈಲ್ ಮತ್ತು ಪ್ರಿಂಟರ್ ಹಂಚಿಕೆ
Name[ko]=EasyShare 네트워크 파일 및 프린터 공유
Name[ku]=Parvekirina pelê torê û çaperê EasyShare
Name[ky]=EasyShare тармак файлын жана принтерди бөлүшүү
Name[la]=EasyShare network file ac printer sharing
Name[lb]=EasyShare Netzwierk Datei an Dréckerdeelen
Name[lg]=EasyShare network file ne printer okugabana
Name[ln]=Fisyé ya réseau ya EasyShare mpe kokabola imprimante
Name[lo]=ໄຟລ໌ເຄືອຂ່າຍ EasyShare ແລະການແບ່ງປັນເຄື່ອງພິມ
Name[lt]=„EasyShare“ tinklo failų ir spausdintuvų bendrinimas
Name[lv]=EasyShare tīkla failu un printeru koplietošana
Name[mg]=EasyShare fichier network sy fizarana mpanonta
Name[mi]=EasyShare te konae whatunga me te tiritahi pūreretā
Name[mk]=Мрежна датотека EasyShare и споделување на печатач
Name[ml]=EasyShare നെറ്റ്u200cവർക്ക് ഫയലും പ്രിന്റർ പങ്കിടലും
Name[mn]=EasyShare сүлжээний файл болон принтер хуваалцах
Name[mr]=EasyShare नेटवर्क फाइल आणि प्रिंटर शेअरिंग
Name[ms]=Perkongsian fail rangkaian dan pencetak EasyShare
Name[mt]=Fajl tan-netwerk EasyShare u qsim tal-printer
Name[my]=EasyShare ကွန်ရက်ဖိုင်နှင့် ပရင်တာမျှဝေခြင်း။
Name[ne]=EasyShare नेटवर्क फाइल र प्रिन्टर साझेदारी
Name[nl]=EasyShare netwerkbestand en printer delen
Name[no]=EasyShare nettverksdeling av filer og skrivere
Name[ny]=Fayilo ya netiweki ya EasyShare ndi kugawana chosindikizira
Name[om]=Faayila networkii fi maxxansaa EasyShare qooduun
Name[or]=EasyShare ନେଟୱାର୍କ ଫାଇଲ୍ ଏବଂ ପ୍ରିଣ୍ଟର୍ ସେୟାର୍ |
Name[pa]=EasyShare ਨੈੱਟਵਰਕ ਫਾਈਲ ਅਤੇ ਪ੍ਰਿੰਟਰ ਸ਼ੇਅਰਿੰਗ
Name[pl]=Udostępnianie plików i drukarek w sieci EasyShare
Name[ps]=ﻝﻮﮑﯾﺮﺷ ﺮټﻧﺮﭘ ﻭﺍ ﻞﯾﺎﻓ ﯥﮑﺒﺷ EasyShare ﺩ
Name[pt]=Partilha de ficheiros e impressoras de rede EasyShare
Name[qu]=EasyShare llika willañiqi chaymanta impresora rakinakuy
Name[ro]=Partajarea fișierelor de rețea și a imprimantei EasyShare
Name[rw]=EasyShare yurusobe dosiye hamwe no kugabana printer
Name[sa]=EasyShare संजालसञ्चिका तथा मुद्रकसाझेदारी
Name[sd]=EasyShare ﮓﻧﺮﺌﻴﺷ ﺮٽﻧﺮﭘ ۽ ﻞﺋﺎﻓ ڪﺭﻭ ٽﻴﻧ
Name[si]=EasyShare ජාල ගොනු සහ මුද්u200dරණ යන්ත්u200dර බෙදාගැනීම
Name[sk]=Sieťové zdieľanie súborov a tlačiarní EasyShare
Name[sl]=Skupna raba omrežnih datotek in tiskalnikov EasyShare
Name[sm]=EasyShare faila fesootaiga ma faasoa lomitusi
Name[sn]=EasyShare network faira uye printer kugovera
Name[so]=EasyShare faylka shabakada iyo wadaagista daabacaha
Name[sq]=Ndarja e skedarëve të rrjetit dhe printerit EasyShare
Name[st]=EasyShare netweke faele le printa ho kopanela
Name[su]=file jaringan EasyShare jeung babagi printer
Name[sv]=EasyShare nätverksfil och skrivardelning
Name[sw]=EasyShare mtandao faili na kichapishi kushiriki
Name[ta]=EasyShare பிணைய கோப்பு மற்றும் பிரிண்டர் பகிர்வு
Name[te]=EasyShare నెట్u200cవర్క్ ఫైల్ మరియు ప్రింటర్ షేరింగ్
Name[tg]=EasyShare файли шабакавӣ ва мубодилаи чопгар
Name[th]=การแชร์ไฟล์เครือข่ายและเครื่องพิมพ์ EasyShare
Name[ti]=EasyShare መርበብ ፋይልን መሕተሚን ምክፋል
Name[tk]=“EasyShare” tor faýly we printer paýlaşmasy
Name[tl]=EasyShare network file at pagbabahagi ng printer
Name[to]=EasyShare e faile ʻo e netiueka mo e misini paki
Name[tr]=EasyShare ağ dosyası ve yazıcı paylaşımı
Name[ts]=Fayili ya netiweke ya EasyShare na ku avelana ka muchini wo gandlisa
Name[tt]=EasyShare челтәр файлы һәм принтер бүлешү
Name[tw]=EasyShare ntwamutam fael ne printa kyɛfa
Name[ty]=Faaohie i te opereraa i te puereni e te matini neneiraa
Name[ug]=EasyShare ﺶﯩﺸﯩﻠﻗﺎﺗﺭﻮﺋ ﻦﯨﺩﺮﯧﺘﻨﯨﺮﭘ ەﯞ ﻰﺘﯩﺠﺟﯚﮬ ﺭﻮﺗ
Name[uk]=Спільний доступ до файлів і принтерів у мережі EasyShare
Name[ur]=ﮓﻧﺮﺌﯿﺷ ﺮﭩﻧﺮﭘ ﺭﻭﺍ ﻞﺋﺎﻓ ﮎﺭﻭ ﭧﯿﻧ ﺮﺌﯿﺷ ﯼﺰﯾﺍ
Name[uz]=EasyShare tarmoq fayli va printerni almashish
Name[vi]=Chia sẻ tệp mạng và máy in EasyShare
Name[xh]=EasyShare ifayile yenethiwekhi kunye nokwabelana ngomshicileli
Name[yi]=גנולייטניַי רעקורד ןוא עקעט ץענ עראַשיסאַע
Name[yo]=EasyShare faili nẹtiwọki ati pinpin itẹwe
Name[zh]=EasyShare 网络文件和打印机共享
Name[zu]=Ifayela lenethiwekhi ye-EasyShare nokwabelana ngephrinta
Name=EasyShare network file and printer sharing
Icon=/usr/share/pixmaps/easyshare/easyshare22.png
Comment[fr]=EasyShare Partage de fichiers réseau/imprimantes
Comment[bg]=Споделяне на мрежови файлове и принтери на EasyShare
Comment[de]=EasyShare Netzwerkdatei- und Druckerfreigabe
Comment[es]=EasyShare: compartir impresoras y archivos en red
Comment[ru]=Споделяне на мрежови файлове и принтери на EasyShare
Comment[af]=EasyShare-netwerklêer- en drukkerdeling
Comment[am]=EasyShare አውታረ መረብ ፋይል እና አታሚ ማጋራት
Comment[ar]=ﺔﻌﺑﺎﻄﻟﺍ ﺔﻛﺭﺎﺸﻣﻭ EasyShare ﺔﻜﺒﺷ ﻒﻠﻣ
Comment[as]=EasyShare নেটৱৰ্ক ফাইল আৰু প্ৰিন্টাৰ অংশীদাৰী
Comment[ay]=EasyShare red ukan archivo ukat impresora ukanakamp chikancht’asiña
Comment[az]=EasyShare şəbəkə faylı və printer mübadiləsi
Comment[ba]=EasyShare селтәре файлы һәм принтерҙар менән уртаҡлашыу
Comment[be]=Абагульванне сеткавых файлаў і друкарак EasyShare
Comment[bm]=EasyShare réseau file ani imprimante tila-tila
Comment[bn]=EasyShare নেটওয়ার্ক ফাইল এবং প্রিন্টার শেয়ারিং
Comment[bo]=EasyShareདྲ་རྒྱའི་ཡིག་ཆ་དང་པར་འདེབས་འཕྲུལ་འཁོར་མཉམ་སྤྱོད་
Comment[bs]=EasyShare dijeljenje mrežnih datoteka i pisača
Comment[ca]=Compartició dimpressores i fitxers de xarxa EasyShare
Comment[co]=EasyShare file di rete è spartera di stampante
Comment[cs]=Sdílení síťových souborů a tiskáren EasyShare
Comment[cy]=Rhannu ffeiliau rhwydwaith ac argraffwyr EasyShare
Comment[da]=EasyShare netværksfil og printerdeling
Comment[dv]=ންރުކު ރއަޝެ ރޓަންރިޕް ދިއަ ލްއިފަ ކްވޯޓްނެ އާޝެޒީއީ
Comment[ee]=EasyShare network file kple agbalẽtamɔ̃ ƒe mama
Comment[el]=Κοινή χρήση αρχείων δικτύου και εκτυπωτή EasyShare
Comment[eo]=EasyShare retdosiero kaj presilo kunhavigo
Comment[et]=EasySharei võrgufailide ja printerite jagamine
Comment[eu]=EasyShare sareko fitxategiak eta inprimagailuak partekatzea
Comment[fa]=EasyShare ﺮﮕﭘﺎﭼ ﻭ ﻪﮑﺒﺷ ﻞﯾﺎﻓ ﯼﺭﺍﺬﮔ ﮎﺍﺮﺘﺷﺍ
Comment[fi]=EasyShare-verkkotiedostojen ja tulostimen jakaminen
Comment[fj]=Wasei ni faile ni ilawalawa vakacakacaka kei na misini ni misini
Comment[fo]=EasyShare network file og prentara.
Comment[fy]=EasyShare netwurkbestân en printer te dielen
Comment[ga]=Comhad líonra EasyShare agus roinnt printéir
Comment[gd]=Co-roinn faidhle lìonra EasyShare agus clò-bhualadair
Comment[gl]=Compartir ficheiros de rede e impresoras EasyShare
Comment[gn]=EasyShare rembiapokue red rehegua ha impresora ñembohasa
Comment[gu]=EasyShare નેટવર્ક ફાઇલ અને પ્રિન્ટર શેરિંગ
Comment[ha]=EasyShare fayil ɗin cibiyar sadarwa da raba firinta
Comment[he]=EasyShare תשרב תוספדמו םיצבק ףותיש
Comment[hi]=EasyShare नेटवर्क फ़ाइल और प्रिंटर साझाकरण
Comment[hr]=EasyShare mrežno dijeljenje datoteka i pisača
Comment[ht]=EasyShare rezo fichye ak enprimant pataje
Comment[hu]=EasyShare hálózati fájl- és nyomtatómegosztás
Comment[hy]=EasyShare ցանցային ֆայլերի և տպիչների փոխանակում
Comment[id]=File jaringan EasyShare dan berbagi printer
Comment[ig]=EasyShare faịlụ netwọkụ na nkesa ngwa nbipute
Comment[is]=EasyShare samnýting netskráa og prentara
Comment[it]=Condivisione di file e stampanti in rete EasyShare
Comment[iu]=EasyShare Network File and printer ᐊᒥᖅᑳᕐᓂᖅ
Comment[ja]=EasyShare ネットワーク ファイルとプリンターの共有
Comment[jv]=EasyShare file jaringan lan enggo bareng printer
Comment[ka]=EasyShare ქსელის ფაილების და პრინტერის გაზიარება
Comment[kk]=EasyShare желілік файлы мен принтерді ортақ пайдалану
Comment[km]=ឯកសារបណ្តាញ EasyShare និងការចែករំលែកម៉ាស៊ីនបោះពុម្ព
Comment[kn]=EasyShare ನೆಟ್ವರ್ಕ್ ಫೈಲ್ ಮತ್ತು ಪ್ರಿಂಟರ್ ಹಂಚಿಕೆ
Comment[ko]=EasyShare 네트워크 파일 및 프린터 공유
Comment[ku]=Parvekirina pelê torê û çaperê EasyShare
Comment[ky]=EasyShare тармак файлын жана принтерди бөлүшүү
Comment[la]=EasyShare network file ac printer sharing
Comment[lb]=EasyShare Netzwierk Datei an Dréckerdeelen
Comment[lg]=EasyShare network file ne printer okugabana
Comment[ln]=Fisyé ya réseau ya EasyShare mpe kokabola imprimante
Comment[lo]=ໄຟລ໌ເຄືອຂ່າຍ EasyShare ແລະການແບ່ງປັນເຄື່ອງພິມ
Comment[lt]=„EasyShare“ tinklo failų ir spausdintuvų bendrinimas
Comment[lv]=EasyShare tīkla failu un printeru koplietošana
Comment[mg]=EasyShare fichier network sy fizarana mpanonta
Comment[mi]=EasyShare kōnae whatunga me te tiritahi pūreretā
Comment[mk]=Мрежна датотека EasyShare и споделување на печатач
Comment[ml]=EasyShare നെറ്റ്u200cവർക്ക് ഫയലും പ്രിന്റർ പങ്കിടലും
Comment[mn]=EasyShare сүлжээний файл болон принтер хуваалцах
Comment[mr]=EasyShare नेटवर्क फाइल आणि प्रिंटर शेअरिंग
Comment[ms]=Perkongsian fail rangkaian dan pencetak EasyShare
Comment[mt]=Fajl tan-netwerk EasyShare u qsim tal-printer
Comment[my]=EasyShare ကွန်ရက်ဖိုင်နှင့် ပရင်တာမျှဝေခြင်း။
Comment[ne]=EasyShare नेटवर्क फाइल र प्रिन्टर साझेदारी
Comment[nl]=EasyShare netwerkbestand en printer delen
Comment[no]=EasyShare nettverksdeling av filer og skrivere
Comment[ny]=Fayilo ya netiweki ya EasyShare ndi kugawana chosindikizira
Comment[om]=Faayila networkii fi maxxansaa EasyShare qooduun
Comment[or]=EasyShare ନେଟୱାର୍କ ଫାଇଲ୍ ଏବଂ ପ୍ରିଣ୍ଟର୍ ସେୟାର୍ |
Comment[pa]=EasyShare ਨੈੱਟਵਰਕ ਫਾਈਲ ਅਤੇ ਪ੍ਰਿੰਟਰ ਸ਼ੇਅਰਿੰਗ
Comment[pl]=Udostępnianie plików i drukarek w sieci EasyShare
Comment[ps]=ﻝﻮﮑﯾﺮﺷ ﺮټﻧﺮﭘ ﻭﺍ ﻞﯾﺎﻓ ﯥﮑﺒﺷ EasyShare ﺩ
Comment[pt]=Partilha de ficheiros e impressoras de rede EasyShare
Comment[qu]=EasyShare llika willañiqi chaymanta impresora rakinakuy
Comment[ro]=Partajarea fișierelor de rețea și a imprimantei EasyShare
Comment[rw]=EasyShare yurusobe dosiye hamwe no kugabana printer
Comment[sa]=EasyShare संजालसञ्चिका तथा मुद्रकसाझेदारी
Comment[sd]=EasyShare ﮓﻧﺮﺌﻴﺷ ﺮٽﻧﺮﭘ ۽ ﻞﺋﺎﻓ ڪﺭﻭ ٽﻴﻧ
Comment[si]=EasyShare ජාල ගොනු සහ මුද්u200dරණ යන්ත්u200dර බෙදාගැනීම
Comment[sk]=Sieťové zdieľanie súborov a tlačiarní EasyShare
Comment[sl]=Skupna raba omrežnih datotek in tiskalnikov EasyShare
Comment[sm]=EasyShare faila fesootaiga ma faasoa lomitusi
Comment[sn]=EasyShare network faira uye printer kugovera
Comment[so]=EasyShare faylka shabakada iyo wadaagista daabacaha
Comment[sq]=Ndarja e skedarëve të rrjetit dhe printerit EasyShare
Comment[st]=EasyShare netweke faele le printa ho kopanela
Comment[su]=file jaringan EasyShare jeung babagi printer
Comment[sv]=EasyShare nätverksfil och skrivardelning
Comment[sw]=EasyShare mtandao faili na kichapishi kushiriki
Comment[ta]=EasyShare பிணைய கோப்பு மற்றும் பிரிண்டர் பகிர்வு
Comment[te]=EasyShare నెట్u200cవర్క్ ఫైల్ మరియు ప్రింటర్ షేరింగ్
Comment[tg]=EasyShare файли шабакавӣ ва мубодилаи чопгар
Comment[th]=การแชร์ไฟล์เครือข่ายและเครื่องพิมพ์ EasyShare
Comment[ti]=EasyShare መርበብ ፋይልን መሕተሚን ምክፋል
Comment[tk]=“EasyShare” tor faýly we printer paýlaşmasy
Comment[tl]=EasyShare network file at pagbabahagi ng printer
Comment[to]=EasyShare e faile ʻo e netiueka mo e misini paki
Comment[tr]=EasyShare ağ dosyası ve yazıcı paylaşımı
Comment[ts]=Fayili ya netiweke ya EasyShare na ku avelana ka muchini wo gandlisa
Comment[tt]=EasyShare челтәр файлы һәм принтер бүлешү
Comment[tw]=EasyShare ntwamutam fael ne printa kyɛfa
Comment[ty]=Faaohie i te opereraa i te puereni e te matini neneiraa
Comment[ug]=EasyShare ﺶﯩﺸﯩﻠﻗﺎﺗﺭﻮﺋ ﻦﯨﺩﺮﯧﺘﻨﯨﺮﭘ ەﯞ ﻰﺘﯩﺠﺟﯚﮬ ﺭﻮﺗ
Comment[uk]=Спільний доступ до файлів і принтерів у мережі EasyShare
Comment[ur]=ﮓﻧﺮﺌﯿﺷ ﺮﭩﻧﺮﭘ ﺭﻭﺍ ﻞﺋﺎﻓ ﮎﺭﻭ ﭧﯿﻧ ﺮﺌﯿﺷ ﯼﺰﯾﺍ
Comment[uz]=EasyShare tarmoq fayli va printerni almashish
Comment[vi]=Chia sẻ tệp mạng và máy in EasyShare
Comment[xh]=EasyShare ifayile yenethiwekhi kunye nokwabelana ngomshicileli
Comment[yi]=גנולייטניַי רעקורד ןוא עקעט ץענ עראַשיסאַע
Comment[yo]=EasyShare faili nẹtiwọki ati pinpin itẹwe
Comment[zh]=EasyShare 网络文件和打印机共享
Comment[zu]=Ifayela lenethiwekhi ye-EasyShare nokwabelana ngephrinta
Comment=EasyShare network file and printer sharing
Exec=/usr/local/EasyShare/easyshare
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=EasyShare
