[Desktop Entry]
Encoding=UTF-8
Name[fr]=Interface EasyDD pour dd
Name[bg]=EasyDD интерфейс за dd
Name[de]=EasyDD Frontend für dd
Name[es]=EasyDD: interfaz gráfica para dd
Name[ru]=Интерфейс EasyDD для dd
Name=EasyDD frontend for dd
Icon=mini-ray.xpm
Comment[fr]=Interface EasyDD pour dd
Comment[bg]=EasyDD интерфейс за dd
Comment[de]=EasyDD Frontend für dd
Comment[es]=EasyDD: interfaz gráfica para dd
Comment[ru]=Интерфейс EasyDD для dd
Comment=EasyDD frontend for dd
Exec=easydd
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=EasyDD
