[Desktop Entry]
Encoding=UTF-8
Name[fr]=Mise à jour vers la dernière version : EasyUpdate
Name[bg]=EasyUpdate актуализация до най-новата версия
Name[de]=EasyUpdate-Update auf die neueste Version
Name=EasyUpdate update to latest version
Icon=update.png
Comment[fr]=Mise à jour vers la dernière version d'EasyOS
Comment[bg]=Актуализация до най-новата версия на EasyOS
Comment[de]=Update auf die neueste Version von EasyOS
Comment=Update to latest version of EasyOS
Exec=easy-update
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=EasyUpdate
