[Desktop Entry]
Encoding=UTF-8
Name[de]=EasyJWM konfiguriert JWM
Name[fr]=Configurer JWM : EasyJWM
Name[ru]=EasyJWM настройка JWM
Name[es]=EasyJWM: personalizar la apariencia de JWM
Name[af]=EasyJWM stel JWM in
Name[am]=EasyJWM JWMን ያዋቅራል።
Name[ar]=EasyJWM JWM ﻦﻳﻮﻜﺗ
Name[as]=EasyJWM JWM বিন্যাস কৰক
Name[ay]=EasyJWM ukax JWM ukar uñt’ayi
Name[az]=EasyJWM JWM-i konfiqurasiya edir
Name[ba]=EasyJWM конфигуры JWM
Name[be]=EasyJWM наладзіць JWM
Name[bg]=EasyJWM конфигурирайте JWM
Name[bm]=EasyJWM bɛ JWM labɛn
Name[bn]=EasyJWM কনফিগার JWM
Name[bo]=སྟབས་བདེའི་JWMཡིས་JWMལ་བཀོད་སྒྲིག་བྱས།
Name[bs]=EasyJWM konfigurišite JWM
Name[ca]=EasyJWM configura JWM
Name[co]=EasyJWM cunfigurate JWM
Name[cs]=EasyJWM konfiguruje JWM
Name[cy]=EasyJWM ffurfweddu JWM
Name[da]=EasyJWM konfigurere JWM
Name[dv]=މްއެޔުލިބްޑަޖޭ ޓްރޭގްފިންކޮ މްއެޔުލިބްޑަޖޭޒީއީ
Name[ee]=EasyJWM ɖo JWM ɖe ɖoɖo nu
Name[el]=Το EasyJWM διαμορφώνει το JWM
Name[eo]=EasyJWM agordu JWM
Name[et]=EasyJWM konfigureerige JWM
Name[eu]=EasyJWM konfiguratu JWM
Name[fa]=EasyJWM ﯼﺪﻨﺑﺮﮑﯿﭘ JWM
Name[fi]=EasyJWM määritä JWM
Name[fj]=EasyJWM configure JWM
Name[fo]=EasyJWM configure JWM
Name[fy]=EasyJWM konfigurearje JWM
Name[ga]=EasyJWM cumraigh JWM
Name[gd]=EasyJWM rèiteachadh JWM
Name[gl]=EasyJWM configura JWM
Name[gn]=EasyJWM omohenda JWM
Name[gu]=EasyJWM રૂપરેખાંકિત JWM
Name[ha]=EasyJWM saita JWM
Name[he]=EasyJWM תא רידגהל JWM
Name[hi]=EasyJWM JWM को कॉन्फ़िगर करता है
Name[hr]=EasyJWM konfigurirajte JWM
Name[ht]=EasyJWM konfigirasyon JWM
Name[hu]=EasyJWM konfigurálja a JWM-et
Name[hy]=EasyJWM կարգավորել JWM-ը
Name[id]=EasyJWM mengkonfigurasi JWM
Name[ig]=EasyJWM hazie JWM
Name[is]=EasyJWM stilla JWM
Name[it]=EasyJWM configura JWM
Name[iu]=ᐊᔪᕐᓇᙱᑦᑐᖅJWM−ᒧᑦ ᐋᖅᑭᒃᓯᒪᓂᖓ JWM
Name[ja]=EasyJWM JWM を構成する
Name[jv]=EasyJWM ngatur JWM
Name[ka]=EasyJWM-ის კონფიგურაცია JWM
Name[kk]=EasyJWM JWM конфигурациялау
Name[km]=EasyJWM កំណត់រចនាសម្ព័ន្ធ JWM
Name[kn]=EasyJWM JWM ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡುತ್ತದೆ
Name[ko]=EasyJWM 구성 JWM
Name[ku]=EasyJWM JWM mîheng bike
Name[ky]=EasyJWM JWM конфигурациялоо
Name[la]=EasyJWM configurare JWM
Name[lb]=EasyJWM konfiguréieren JWM
Name[lg]=EasyJWM okutegeka JWM
Name[ln]=EasyJWM ko configurer JWM
Name[lo]=EasyJWM ຕັ້ງຄ່າ JWM
Name[lt]=EasyJWM konfigūruoti JWM
Name[lv]=EasyJWM konfigurējiet JWM
Name[mg]=EasyJWM configure JWM
Name[mi]=EasyJWM whirihora JWM
Name[mk]=EasyJWM конфигурирајте го JWM
Name[ml]=EasyJWM JWM കോൺഫിഗർ ചെയ്യുക
Name[mn]=EasyJWM нь JWM-г тохируулах
Name[mr]=EasyJWM कॉन्फिगर JWM
Name[ms]=EasyJWM mengkonfigurasi JWM
Name[mt]=EasyJWM kkonfigurat JWM
Name[my]=EasyJWM သည် JWM ကို စီစဉ်သတ်မှတ်သည်။
Name[ne]=EasyJWM कन्फिगर JWM
Name[nl]=EasyJWM configureert JWM
Name[no]=EasyJWM konfigurere JWM
Name[ny]=EasyJWM ikonza JWM
Name[om]=EasyJWM JWM qindeessuu
Name[or]=EasyJWM JWM କୁ ବିନ୍ୟାସ କରେ |
Name[pa]=EasyJWM ਸੰਰਚਨਾ JWM
Name[pl]=EasyJWM konfiguruje JWM
Name[ps]=EasyJWM ﺩ JWM ﻝﻮﮐ ﻢﯿﻈﻨﺗ
Name[pt]=EasyJWM configurar JWM
Name[qu]=EasyJWM JWM nisqa wakichiy
Name[ro]=EasyJWM configura JWM
Name[rw]=EasyJWM igena JWM
Name[sa]=EasyJWM JWM विन्यस्तं कुर्वन्तु
Name[sd]=EasyJWM ﻮﻳڏ ﺐﻴﺗﺮﺗ JWM
Name[si]=EasyJWM JWM වින්u200dයාස කරන්න
Name[sk]=EasyJWM nakonfigurujte JWM
Name[sl]=EasyJWM konfigurirajte JWM
Name[sm]=EasyJWM fetuutuunai JWM
Name[sn]=EasyJWM gadzirisa JWM
Name[so]=EasyJWM waxay dejisay JWM
Name[sq]=EasyJWM konfiguro JWM
Name[st]=EasyJWM e hlophisa JWM
Name[su]=EasyJWM ngonpigurasikeun JWM
Name[sv]=EasyJWM konfigurera JWM
Name[sw]=EasyJWM sanidi JWM
Name[ta]=EasyJWM JWM ஐ கட்டமைக்கிறது
Name[te]=EasyJWM JWMని కాన్ఫిగర్ చేస్తుంది
Name[tg]=EasyJWM JWM-ро танзим мекунад
Name[th]=EasyJWM กำหนดค่า JWM
Name[ti]=EasyJWM ንJWM ምውቃር
Name[tk]=EasyJWM JWM-i düzýär
Name[tl]=I-configure ng EasyJWM ang JWM
Name[to]=EasyJWM configure UAJM
Name[tr]=EasyJWM, JWMyi yapılandırır
Name[ts]=EasyJWM ku lulamisa JWM
Name[tt]=EasyJWM JWM конфигурациясе
Name[tw]=EasyJWM hyehyɛ JWM
Name[ty]=TE MAU NOTA
Name[ug]=EasyJWM JWM ﯗﺪﻳەﻠﭘەﺳ ﻰﻧ
Name[uk]=EasyJWM налаштувати JWM
Name[ur]=EasyJWM JWM ۔ﮟﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ
Name[uz]=EasyJWM JWM ni sozlash
Name[vi]=EasyJWM cấu hình JWM
Name[xh]=EasyJWM qwalasela iJWM
Name[yi]=EasyJWM רעיגיפנאַק JWM
Name[yo]=EasyJWM tunto JWM
Name[zh]=EasyJWM 配置 JWM
Name[zu]=I-EasyJWM ilungiselela i-JWM
Name=EasyJWM configure JWM
Icon=easyjwm.png
Comment[de]=Verwalten Sie den JWM-Dateimanager
Comment[fr]=Configuration du gestionnaire de fichiers JWM
Comment[ru]=Управление файловым менеджером JWM
Comment[es]=EasyJWM: personalizar la apariencia de JWM
Comment[af]=Bestuur JWM-lêerbestuurder
Comment[am]=JWM ፋይል አቀናባሪን ያስተዳድሩ
Comment[ar]=JWM ﺕﺎﻔﻠﻣ ﺮﻳﺪﻣ ﺓﺭﺍﺩﺇ
Comment[as]=JWM ফাইল ব্যৱস্থাপক ব্যৱস্থাপনা কৰক
Comment[ay]=JWM qillqat apnaqañ apnaqaña
Comment[az]=JWM fayl menecerini idarə edin
Comment[ba]=JWM файл менеджеры менән идара итеү
Comment[be]=Кіраванне файлавым мэнэджарам JWM
Comment[bg]=Управление на JWM файловия мениджър
Comment[bm]=JWM filenw ɲɛnabɔbaga ɲɛnabɔ
Comment[bn]=JWM ফাইল ম্যানেজার পরিচালনা করুন
Comment[bo]=JWM ཡིག་ཚགས་དོ་དམ་དོ་དམ་བྱེད་མཁན།
Comment[bs]=Upravljajte JWM upraviteljem datoteka
Comment[ca]=Gestioneu el gestor de fitxers JWM
Comment[co]=Gestisce u gestore di file JWM
Comment[cs]=Správa správce souborů JWM
Comment[cy]=Rheoli rheolwr ffeiliau JWM
Comment[da]=Administrer JWM filhåndtering
Comment[dv]=ންރުކުޖްނޭމެ ރޖަނޭމެ ލްއިފަ މްއެޔުލިބްޑަޖޭ
Comment[ee]=Dzra JWM ƒe faɛlwo dzikpɔla dzi
Comment[el]=Διαχείριση αρχείων JWM
Comment[eo]=Administri JWM-dosieradministranto
Comment[et]=Hallake JWM-failihaldurit
Comment[eu]=Kudeatu JWM fitxategi-kudeatzailea
Comment[fa]=JWM ﻞﯾﺎﻓ ﺖﯾﺮﯾﺪﻣ
Comment[fi]=Hallitse JWM-tiedostonhallintaa
Comment[fj]=Qarava na manidia ni faile ni JWM
Comment[fo]=Manage JWM file manager
Comment[fy]=Behear JWM triembehearder
Comment[ga]=Bainistigh bainisteoir comhad JWM
Comment[gd]=Stiùirich manaidsear faidhle JWM
Comment[gl]=Xestionar o xestor de ficheiros JWM
Comment[gn]=Emohenda JWM vore mohendaha
Comment[gu]=JWM ફાઇલ મેનેજર મેનેજ કરો
Comment[ha]=Sarrafa mai sarrafa fayil na JWM
Comment[he]=JWM לש םיצבקה להנמ תא להנ
Comment[hi]=JWM फ़ाइल प्रबंधक प्रबंधित करें
Comment[hr]=Upravljanje JWM upraviteljem datoteka
Comment[ht]=Jere manadjè dosye JWM
Comment[hu]=JWM fájlkezelő kezelése
Comment[hy]=Կառավարեք JWM ֆայլերի կառավարիչը
Comment[id]=Kelola pengelola file JWM
Comment[ig]=Jikwaa njikwa faili JWM
Comment[is]=Stjórna JWM skráarstjóra
Comment[it]=Gestisci il file manager JWM
Comment[iu]=ᐊᐅᓚᑦᑎᓂᖅ JWM ᑐᖅᑯᖅᓯᓯᒪᕝᕕᒃᑯᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=JWMファイルマネージャーを管理する
Comment[jv]=Ngatur file manager JWM
Comment[ka]=JWM ფაილ მენეჯერის მართვა
Comment[kk]=JWM файл менеджерін басқару
Comment[km]=គ្រប់គ្រងកម្មវិធីគ្រប់គ្រងឯកសារ JWM
Comment[kn]=JWM ಫೈಲ್ ಮ್ಯಾನೇಜರ್ ಅನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=JWM 파일 관리자 관리
Comment[ku]=Rêvebirê pelê JWM birêve bibin
Comment[ky]=JWM файл менеджерин башкаруу
Comment[la]=Curo JWM file procurator
Comment[lb]=Verwalten JWM Dateimanager
Comment[lg]=Dukanya omuddukanya fayiro ya JWM
Comment[ln]=Gérer gestionnaire ya ba fichiers JWM
Comment[lo]=ຈັດການຕົວຈັດການໄຟລ໌ JWM
Comment[lt]=Tvarkykite JWM failų tvarkyklę
Comment[lv]=Pārvaldiet JWM failu pārvaldnieku
Comment[mg]=Tantano ny mpitantana ny rakitra JWM
Comment[mi]=Whakahaerehia te kaiwhakahaere kōnae JWM
Comment[mk]=Управувајте со менаџерот на датотеки JWM
Comment[ml]=JWM ഫയൽ മാനേജർ കൈകാര്യം ചെയ്യുക
Comment[mn]=JWM файлын менежерийг удирдах
Comment[mr]=JWM फाइल व्यवस्थापक व्यवस्थापित करा
Comment[ms]=Urus pengurus fail JWM
Comment[mt]=Immaniġġja l-maniġer tal-fajls JWM
Comment[my]=JWM ဖိုင်မန်နေဂျာကို စီမံပါ။
Comment[ne]=JWM फाइल प्रबन्धक प्रबन्ध गर्नुहोस्
Comment[nl]=Beheer JWM-bestandsbeheer
Comment[no]=Administrer JWM-filbehandling
Comment[ny]=Sinthani woyanganira mafayilo a JWM
Comment[om]=Bulchaa faayilii JWM bulchi
Comment[or]=JWM ଫାଇଲ୍ ପରିଚାଳକ ପରିଚାଳନା କରନ୍ତୁ |
Comment[pa]=JWM ਫਾਈਲ ਮੈਨੇਜਰ ਦਾ ਪ੍ਰਬੰਧਨ ਕਰੋ
Comment[pl]=Zarządzaj menedżerem plików JWM
Comment[ps]=ﺉړﮐ ﻩﺭﺍﺩﺍ ﺮﯾﺪﻣ ﻞﯾﺎﻓ JWM ﺩ
Comment[pt]=Gerenciar gerenciador de arquivos JWM
Comment[qu]=JWM willañiqi kamachiqta kamachiy
Comment[ro]=Gestionați managerul de fișiere JWM
Comment[rw]=Gucunga dosiye ya JWM
Comment[sa]=JWM सञ्चिकाप्रबन्धकं प्रबन्धयन्तु
Comment[sd]=JWM ﻮﻳﺮڪ ﻢﻈﻨﻣ ﻲﮐ ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ
Comment[si]=JWM ගොනු කළමනාකරු කළමනාකරණය කරන්න
Comment[sk]=Spravujte správcu súborov JWM
Comment[sl]=Upravljanje upravitelja datotek JWM
Comment[sm]=Pulea le pule faila a le JWM
Comment[sn]=Tonga JWM faira maneja
Comment[so]=Maamul maamulaha faylka JWM
Comment[sq]=Menaxho menaxherin e skedarëve JWM
Comment[st]=Laola molaoli oa faele oa JWM
Comment[su]=Atur pangatur file JWM
Comment[sv]=Hantera JWM-filhanteraren
Comment[sw]=Dhibiti kidhibiti faili cha JWM
Comment[ta]=JWM கோப்பு மேலாளரை நிர்வகிக்கவும்
Comment[te]=JWM ఫైల్ మేనేజర్u200cని నిర్వహించండి
Comment[tg]=Менеҷери файли JWM-ро идора кунед
Comment[th]=จัดการตัวจัดการไฟล์ JWM
Comment[ti]=JWM ፋይል ማናጀር ኣመሓድር
Comment[tk]=JWM faýl dolandyryjysyny dolandyryň
Comment[tl]=Pamahalaan ang JWM file manager
Comment[to]=Tokangaʻi e pule ʻo e faile ʻa e MS
Comment[tr]=JWM dosya yöneticisini yönetin
Comment[ts]=Lawula mufambisi wa fayili ya JWM
Comment[tt]=JWM файл менеджеры белән идарә итү
Comment[tw]=Hwɛ JWM fael sohwɛfo so
Comment[ty]=Faanaho i te putuite JWM
Comment[ug]=JWM ﺵﯗﺭﯘﻘﺷﺎﺑ ﻰﻨﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺠﺟﯚﮬ
Comment[uk]=Керуйте файловим менеджером JWM
Comment[ur]=JWM ۔ﮟﯾﺮﮐ ﻢﻈﻧ ﺎﮐ ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ
Comment[uz]=JWM fayl menejerini boshqaring
Comment[vi]=Quản lý trình quản lý tệp JWM
Comment[xh]=Lawula umphathi wefayile yeJWM
Comment[yi]=רעטלאַווראַפ עקעט JWM ןריפ
Comment[yo]=Ṣakoso oluṣakoso faili JWM
Comment[zh]=管理 JWM 文件管理器
Comment[zu]=Phatha umphathi wefayela le-JWM
Comment=Manage JWM file manager
Exec=easyjwm
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=EasyJWM
