[Desktop Entry]
Encoding=UTF-8
Name=Remaster Easy Linux
Icon=mini-ray.xpm
Comment=Remaster Easy Linux
Exec=/usr/sbin/easy-remaster
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Easy Remaster
