[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer le démarrage : Easy Boot Manager
Name[bg]=Лесно BootManager конфигуриране на зареждане
Name[de]=Einfacher BootManager Bootvorgang konfigurieren
Name[es]=Easy BootManager: configurar el arranque
Name[ru]=Easy Boot Manager настройка загрузки
Name[af]=Maklik BootManager konfigureer opstart
Name[am]=ቀላል BootManager ማስነሻን ያዋቅራል።
Name[ar]=ﺪﻴﻬﻤﺘﻟﺍ ﻦﻳﻮﻜﺗ BootManager ﻞﻬﺴﻟﺍ ﻦﻣ
Name[as]=সহজ BootManager বুটআপ বিন্যাস কৰক
Name[ay]=Jasa BootManager ukax wakicht’atawa
Name[az]=Asan BootManager açılışı konfiqurasiya edir
Name[ba]=Easy BootManager конфигурация бутҡаһы
Name[be]=Easy BootManager наладзіць загрузку
Name[bm]=Easy BootManager ka daminɛcogo labɛn
Name[bn]=সহজ বুট ম্যানেজার বুটআপ কনফিগার করে
Name[bo]=སྟབས་བདེའི་BootManager configure bootup
Name[bs]=Easy BootManager konfiguriše pokretanje
Name[ca]=Easy BootManager configurar l'arrencada
Name[co]=Easy BootManager cunfigurà u bootup
Name[cs]=Snadná konfigurace bootování pomocí BootManager
Name[cy]=Hawdd BootManager ffurfweddu cychwyn
Name[da]=Nem BootManager konfigurere opstart
Name[dv]=ޕްޓަބޫ ޓްރޭގްފިންކޮ ރޖަނޭމެޓްބޫ ންއިހަސޭފަ
Name[ee]=Easy BootManager ɖoɖo gɔmedzedze
Name[el]=Εύκολη εκκίνηση ρύθμισης παραμέτρων του BootManager
Name[eo]=Facila BootManager agordi ekfunkciigon
Name[et]=Lihtne BootManager konfigureerida alglaadimist
Name[eu]=Easy BootManager konfiguratu abioa
Name[fa]=Easy BootManager ﺪﻨﮐ ﯽﻣ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ
Name[fi]=Helppo BootManager määrittää käynnistyksen
Name[fj]=BootManager rawarawa ni tuvanaka na bootup
Name[fo]=Easy BootManager configure bootup
Name[fy]=Easy BootManager konfigurearje bootup
Name[ga]=Éasca BootManager chumrú tosaithe
Name[gd]=Bidh Easy BootManager a’ rèiteachadh bootup
Name[gl]=Easy BootManager configurar o arranque
Name[gn]=BootManager ndahasýiva omohenda ñepyrũrã
Name[gu]=સરળ BootManager રૂપરેખાંકિત બુટઅપ
Name[ha]=Sauƙi BootManager yana saita bootup
Name[he]=Easy BootManager לוחתא רידגהל
Name[hi]=आसान बूटमैनेजर बूटअप को कॉन्फ़िगर करता है
Name[hr]=Easy BootManager konfigurira podizanje sustava
Name[ht]=Fasil BootManager konfigirasyon demaraj
Name[hu]=Egyszerű BootManager konfigurálja a rendszerindítást
Name[hy]=Հեշտ BootManager-ի կազմաձևման բեռնումը
Name[id]=BootManager mudah mengonfigurasi bootup
Name[ig]=Easy BootManager hazi bootup
Name[is]=Easy BootManager stilla ræsingu
Name[it]=Easy BootManager configura l'avvio
Name[iu]=ᐊᔪᕐᓇᙱᑦᑐᖅ ᐴᑦᐊᐅᓚᑦᑎᔨᐅᑉ ᑲᒫᓘᑉ
Name[ja]=簡単な BootManager による起動の設定
Name[jv]=Gampang BootManager ngatur bootup
Name[ka]=Easy BootManager-ის ჩატვირთვის კონფიგურაცია
Name[kk]=Easy BootManager жүктеуді конфигурациялау
Name[km]=ងាយស្រួល BootManager កំណត់រចនាសម្ព័ន្ធការចាប់ផ្ដើម
Name[kn]=ಸುಲಭ ಬೂಟ್u200cಮ್ಯಾನೇಜರ್ ಬೂಟ್u200cಅಪ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡುತ್ತದೆ
Name[ko]=간편한 BootManager 구성 부팅
Name[ku]=BootManager-a hêsan bootup mîheng dike
Name[ky]=Easy BootManager жүктөөнү конфигурациялайт
Name[la]=Securus BootManager configurare bootup
Name[lb]=Einfach BootManager konfiguréieren Bootup
Name[lg]=Easy BootManager okutegeka okutandika
Name[ln]=BootManager ya pete configurer démarrage
Name[lo]=Easy BootManager configure bootup
Name[lt]=Lengva „BootManager“ konfigūruoti įkrovą
Name[lv]=Vienkārša BootManager konfigurēšana sāknēšanai
Name[mg]=Easy BootManager configure bootup
Name[mi]=He ngawari te whirihora BootManager i te whakaohooho
Name[mk]=Лесно подигање за конфигурирање на BootManager
Name[ml]=എളുപ്പമുള്ള ബൂട്ട്മാനേജർ ബൂട്ട്അപ്പ് ക്രമീകരിക്കുന്നു
Name[mn]=Easy BootManager нь ачаалалтыг тохируулах
Name[mr]=सुलभ बूट मॅनेजर कॉन्फिगर बूटअप
Name[ms]=Mudah BootManager mengkonfigurasi bootup
Name[mt]=Easy BootManager kkonfigurat bootup
Name[my]=လွယ်ကူသော BootManager bootup ကို configure လုပ်ပါ။
Name[ne]=सजिलो BootManager कन्फिगर बुटअप
Name[nl]=Easy BootManager configureert het opstarten
Name[no]=Enkel BootManager-konfigurere oppstart
Name[ny]=Easy BootManager sinthani zoyambira
Name[om]=BootManager salphaa qindeessaa jalqabuu
Name[or]=ସହଜ ବୁଟ ମ୍ୟାନେଜର୍ ବୁଟଅପ୍ ବିନ୍ୟାସ କରେ |
Name[pa]=ਆਸਾਨ BootManager ਸੰਰਚਨਾ ਬੂਟਅੱਪ
Name[pl]=Łatwy BootManager konfiguruje bootowanie
Name[ps]=ﺮﺠﻨﯿﻣ ټﻮﺑ ﻪﻧﺎﺳﺍ ﻮﻟﻮﮐ ﻢﯿﻈﻨﺗ ﭖﺍ ټﻮﺑ ﺩ
Name[pt]=Configuração de inicialização do Easy BootManager
Name[qu]=Facil BootManager qallariyta wakichiy
Name[ro]=Easy BootManager configura pornirea
Name[rw]=Byoroshye BootManager igena bootup
Name[sa]=सुलभं BootManager बूटअप विन्यस्तं कुर्वन्तु
Name[sd]=ﻮﻳڏ ﺐﻴﺗﺮﺗ ﭖﺍ ٽﻮﺑ ﺮﺠﻴﻨﺌﻣ ٽﻮﺑ ﻥﺎﺳﺁ
Name[si]=පහසු BootManager bootup වින්u200dයාස කරන්න
Name[sk]=Jednoduchá konfigurácia spúšťania pomocou nástroja BootManager
Name[sl]=Easy BootManager konfigurira zagon
Name[sm]=Easy BootManager configure bootup
Name[sn]=Easy BootManager gadzirisa bootup
Name[so]=fudud BootManager habaynta bootup
Name[sq]=Bootup-i i konfigurimit të Easy BootManager
Name[st]=Easy BootManager configure bootup
Name[su]=Gampang BootManager ngonpigurasikeun bootup
Name[sv]=Enkel BootManager konfigurera uppstart
Name[sw]=Rahisi BootManager configure bootup
Name[ta]=எளிதான பூட்மேனேஜர் துவக்கத்தை உள்ளமைக்கிறது
Name[te]=సులభమైన బూట్u200cమేనేజర్ బూటప్u200cను కాన్ఫిగర్ చేస్తుంది
Name[tg]=Осон BootManager танзимкунии пурборкуниро
Name[th]=Easy BootManager กำหนดค่าการบูต
Name[ti]=ቀሊል BootManager ምውቃር ምጅማር
Name[tk]=“Easy BootManager” ýüklemäni düzýär
Name[tl]=Easy BootManager i-configure ang bootup
Name[to]=Faingofua BootManager configure bootup
Name[tr]=Easy BootManager önyüklemeyi yapılandırır
Name[ts]=Ku olova BootManager ku lulamisa ku pfula
Name[tt]=Easy BootManager bootup конфигурациясе
Name[tw]=Easy BootManager hyehyɛ ahyɛnsode
Name[ty]=Easy BootManager configure bootup
Name[ug]=Easy BootManager ﺵەﺸﯕەﺗ ﻰﻨﺸﯩﺘﯩﻏﺯﻮﻗ
Name[uk]=Easy BootManager налаштовує завантаження
Name[ur]=۔ﮯﮨ ﺎﺘﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ ﭖﺍ ﭦﻮﺑ ﺮﺠﻨﯿﻣ ﭦﻮﺑ ﻥﺎﺳﺁ
Name[uz]=Oson BootManager yuklashni sozlash
Name[vi]=Easy BootManager cấu hình khởi động
Name[xh]=Umphathi weBootManager olula qwalasela ukuqalisa
Name[yi]=פּוטאָאָב רעיגיפנאַק רעגאַנאַמטאָאָב גנירג
Name[yo]=Easy BootManager tunto bootup
Name[zh]=Easy BootManager 配置启动
Name[zu]=I-Easy BootManager lungiselela ukuqalisa
Name=Easy BootManager configure bootup
Icon=mini-Filesystem-audit.xpm
Comment[fr]=Configurer le démarrage : Easy Boot Manager
Comment[bg]=Лесно BootManager конфигуриране на зареждане
Comment[de]=Einfacher BootManager Bootvorgang konfigurieren
Comment[es]=Easy BootManager: configurar el arranque
Comment[ru]=Easy Boot Manager настроить загрузку
Comment[af]=Maklik BootManager konfigureer opstart
Comment[am]=ቀላል BootManager ማስነሻን ያዋቅራል።
Comment[ar]=ﺪﻴﻬﻤﺘﻟﺍ ﻦﻳﻮﻜﺗ BootManager ﻞﻬﺴﻟﺍ ﻦﻣ
Comment[as]=সহজ BootManager বুটআপ বিন্যাস কৰক
Comment[ay]=Jasa BootManager ukax wakicht’atawa
Comment[az]=Asan BootManager açılışı konfiqurasiya edir
Comment[ba]=Easy BootManager конфигурация бутҡаһы
Comment[be]=Easy BootManager наладзіць загрузку
Comment[bm]=Easy BootManager ka daminɛcogo labɛn
Comment[bn]=সহজ বুট ম্যানেজার বুটআপ কনফিগার করে
Comment[bo]=སྟབས་བདེའི་BootManager configure bootup
Comment[bs]=Easy BootManager konfiguriše pokretanje
Comment[ca]=Easy BootManager configurar l'arrencada
Comment[co]=Easy BootManager cunfigurà u bootup
Comment[cs]=Snadná konfigurace bootování pomocí BootManager
Comment[cy]=Hawdd BootManager ffurfweddu cychwyn
Comment[da]=Nem BootManager konfigurere opstart
Comment[dv]=ޕްޓަބޫ ޓްރޭގްފިންކޮ ރޖަނޭމެޓްބޫ ންއިހަސޭފަ
Comment[ee]=Easy BootManager ɖoɖo gɔmedzedze
Comment[el]=Εύκολη εκκίνηση ρύθμισης παραμέτρων του BootManager
Comment[eo]=Facila BootManager agordi ekfunkciigon
Comment[et]=Lihtne BootManager konfigureerida alglaadimist
Comment[eu]=Easy BootManager konfiguratu abioa
Comment[fa]=Easy BootManager ﺪﻨﮐ ﯽﻣ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ
Comment[fi]=Helppo BootManager määrittää käynnistyksen
Comment[fj]=BootManager rawarawa ni tuvanaka na bootup
Comment[fo]=Easy BootManager configure bootup
Comment[fy]=Easy BootManager konfigurearje bootup
Comment[ga]=Éasca BootManager chumrú tosaithe
Comment[gd]=Bidh Easy BootManager a’ rèiteachadh bootup
Comment[gl]=Easy BootManager configurar o arranque
Comment[gn]=BootManager ndahasýiva omohenda ñepyrũrã
Comment[gu]=સરળ BootManager રૂપરેખાંકિત બુટઅપ
Comment[ha]=Sauƙi BootManager yana saita bootup
Comment[he]=Easy BootManager לוחתא רידגהל
Comment[hi]=आसान बूटमैनेजर बूटअप को कॉन्फ़िगर करता है
Comment[hr]=Easy BootManager konfigurira podizanje sustava
Comment[ht]=Fasil BootManager konfigirasyon demaraj
Comment[hu]=Egyszerű BootManager konfigurálja a rendszerindítást
Comment[hy]=Հեշտ BootManager-ի կազմաձևման բեռնումը
Comment[id]=BootManager mudah mengonfigurasi bootup
Comment[ig]=Easy BootManager hazi bootup
Comment[is]=Easy BootManager stilla ræsingu
Comment[it]=Easy BootManager configura l'avvio
Comment[iu]=ᐊᔪᕐᓇᙱᑦᑐᖅ ᐴᑦᐊᐅᓚᑦᑎᔨᐅᑉ ᑲᒫᓘᑉ
Comment[ja]=簡単な BootManager による起動の設定
Comment[jv]=Gampang BootManager ngatur bootup
Comment[ka]=Easy BootManager-ის ჩატვირთვის კონფიგურაცია
Comment[kk]=Easy BootManager жүктеуді конфигурациялау
Comment[km]=ងាយស្រួល BootManager កំណត់រចនាសម្ព័ន្ធការចាប់ផ្ដើម
Comment[kn]=ಸುಲಭ ಬೂಟ್u200cಮ್ಯಾನೇಜರ್ ಬೂಟ್u200cಅಪ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡುತ್ತದೆ
Comment[ko]=간편한 BootManager 구성 부팅
Comment[ku]=BootManager-a hêsan bootup mîheng dike
Comment[ky]=Easy BootManager жүктөөнү конфигурациялайт
Comment[la]=Securus BootManager configurare bootup
Comment[lb]=Einfach BootManager konfiguréieren Bootup
Comment[lg]=Easy BootManager okutegeka okutandika
Comment[ln]=BootManager ya pete configurer démarrage
Comment[lo]=Easy BootManager configure bootup
Comment[lt]=Lengva „BootManager“ konfigūruoti įkrovą
Comment[lv]=Vienkārša BootManager konfigurēšana sāknēšanai
Comment[mg]=Easy BootManager configure bootup
Comment[mi]=He ngawari te whirihora BootManager i te whakaohooho
Comment[mk]=Лесно подигање за конфигурирање на BootManager
Comment[ml]=എളുപ്പമുള്ള ബൂട്ട്മാനേജർ ബൂട്ട്അപ്പ് ക്രമീകരിക്കുന്നു
Comment[mn]=Easy BootManager нь ачаалалтыг тохируулах
Comment[mr]=सुलभ बूट मॅनेजर कॉन्फिगर बूटअप
Comment[ms]=Mudah BootManager mengkonfigurasi bootup
Comment[mt]=Easy BootManager kkonfigurat bootup
Comment[my]=လွယ်ကူသော BootManager bootup ကို configure လုပ်ပါ။
Comment[ne]=सजिलो BootManager कन्फिगर बुटअप
Comment[nl]=Easy BootManager configureert het opstarten
Comment[no]=Enkel BootManager-konfigurere oppstart
Comment[ny]=Easy BootManager sinthani zoyambira
Comment[om]=BootManager salphaa qindeessaa jalqabuu
Comment[or]=ସହଜ ବୁଟ ମ୍ୟାନେଜର୍ ବୁଟଅପ୍ ବିନ୍ୟାସ କରେ |
Comment[pa]=ਆਸਾਨ BootManager ਸੰਰਚਨਾ ਬੂਟਅੱਪ
Comment[pl]=Łatwy BootManager konfiguruje bootowanie
Comment[ps]=ﺮﺠﻨﯿﻣ ټﻮﺑ ﻪﻧﺎﺳﺍ ﻮﻟﻮﮐ ﻢﯿﻈﻨﺗ ﭖﺍ ټﻮﺑ ﺩ
Comment[pt]=Configuração de inicialização do Easy BootManager
Comment[qu]=Facil BootManager qallariyta wakichiy
Comment[ro]=Easy BootManager configura pornirea
Comment[rw]=Byoroshye BootManager igena bootup
Comment[sa]=सुलभं BootManager बूटअप विन्यस्तं कुर्वन्तु
Comment[sd]=ﻮﻳڏ ﺐﻴﺗﺮﺗ ﭖﺍ ٽﻮﺑ ﺮﺠﻴﻨﺌﻣ ٽﻮﺑ ﻥﺎﺳﺁ
Comment[si]=පහසු BootManager bootup වින්u200dයාස කරන්න
Comment[sk]=Jednoduchá konfigurácia spúšťania pomocou nástroja BootManager
Comment[sl]=Easy BootManager konfigurira zagon
Comment[sm]=Easy BootManager configure bootup
Comment[sn]=Easy BootManager gadzirisa bootup
Comment[so]=fudud BootManager habaynta bootup
Comment[sq]=Bootup-i i konfigurimit të Easy BootManager
Comment[st]=Easy BootManager configure bootup
Comment[su]=Gampang BootManager ngonpigurasikeun bootup
Comment[sv]=Enkel BootManager konfigurera uppstart
Comment[sw]=Rahisi BootManager configure bootup
Comment[ta]=எளிதான பூட்மேனேஜர் துவக்கத்தை உள்ளமைக்கிறது
Comment[te]=సులభమైన బూట్u200cమేనేజర్ బూటప్u200cను కాన్ఫిగర్ చేస్తుంది
Comment[tg]=Осон BootManager танзимкунии пурборкуниро
Comment[th]=Easy BootManager กำหนดค่าการบูต
Comment[ti]=ቀሊል BootManager ምውቃር ምጅማር
Comment[tk]=“Easy BootManager” ýüklemäni düzýär
Comment[tl]=Easy BootManager i-configure ang bootup
Comment[to]=Faingofua BootManager configure bootup
Comment[tr]=Easy BootManager önyüklemeyi yapılandırır
Comment[ts]=Ku olova BootManager ku lulamisa ku pfula
Comment[tt]=Easy BootManager bootup конфигурациясе
Comment[tw]=Easy BootManager hyehyɛ ahyɛnsode
Comment[ty]=Easy BootManager configure bootup
Comment[ug]=Easy BootManager ﺵەﺸﯕەﺗ ﻰﻨﺸﯩﺘﯩﻏﺯﻮﻗ
Comment[uk]=Easy BootManager налаштовує завантаження
Comment[ur]=۔ﮯﮨ ﺎﺘﯾﺩ ﺐﯿﺗﺮﺗ ﻮﮐ ﭖﺍ ﭦﻮﺑ ﺮﺠﻨﯿﻣ ﭦﻮﺑ ﻥﺎﺳﺁ
Comment[uz]=Oson BootManager yuklashni sozlash
Comment[vi]=Easy BootManager cấu hình khởi động
Comment[xh]=Umphathi weBootManager olula qwalasela ukuqalisa
Comment[yi]=פּוטאָאָב רעיגיפנאַק רעגאַנאַמטאָאָב גנירג
Comment[yo]=Easy BootManager tunto bootup
Comment[zh]=Easy BootManager 配置启动
Comment[zu]=I-Easy BootManager lungiselela ukuqalisa
Comment=Easy BootManager configure bootup
Exec=easy-bootmanager
Terminal=false
Type=Application
Categories=X-Filesystem-audit
GenericName=Easy BootManager
