[Desktop Entry]
Encoding=UTF-8
Name[fr]=Console Sakura dans un conteneur
Name[bg]=Сакура в контейнер
Name[de]=Sakura im Behälter
Name[es]=Sakura en un contenedor
Name[ru]=Sakura в контейнере
Name[af]=Sakura in houer
Name[am]=በመያዣው ውስጥ Sakura
Name[ar]=ﺔﻳﻭﺎﺣ ﻲﻓ ﺍﺭﻮﻛﺎﺳ
Name[as]=পাত্ৰত ছাকুৰা
Name[ay]=Sakura ukax mä contenedor ukankiwa
Name[az]=Sakura konteynerdə
Name[ba]=Сакура һауытта
Name[be]=Сакура ў кантэйнеры
Name[bm]=Sakura bɛ minɛn kɔnɔ
Name[bn]=পাত্রে সাকুরা
Name[bo]=སྣོད་ཆས་ནང་གི་སུའུ་ཁི་ལ་
Name[bs]=Sakura u kontejneru
Name[ca]=Sakura al contenidor
Name[co]=Sakura in cuntainer
Name[cs]=Sakura v kontejneru
Name[cy]=Sakura mewn cynhwysydd
Name[da]=Sakura i container
Name[dv]=އިގަރުނައިޓެންކޮ ރާކޫސަ
Name[ee]=Sakura le nugoe me
Name[el]=Sakura σε δοχείο
Name[eo]=Sakura en ujo
Name[et]=Sakura konteineris
Name[eu]=Sakura edukiontzian
Name[fa]=ﻑﺮﻇ ﺭﺩ ﺍﺭﻮﮐﺎﺳ
Name[fi]=Sakura astiassa
Name[fj]=Sakura ena koniteina
Name[fo]=Sakura in container
Name[fy]=Sakura yn kontener
Name[ga]=Sakura i gcoimeádán
Name[gd]=Sakura ann an soitheach
Name[gl]=Sakura nun recipiente
Name[gn]=Sakura mbayrúpe
Name[gu]=કન્ટેનરમાં સાકુરા
Name[ha]=Sakura a cikin akwati
Name[he]=לכימב הרוקאס
Name[hi]=कंटेनर में सकुरा
Name[hr]=Sakura u kontejneru
Name[ht]=Sakura nan veso
Name[hu]=Sakura tartályban
Name[hy]=Սակուրա տարայի մեջ
Name[id]=Sakura dalam wadah
Name[ig]=Sakura na akpa
Name[is]=Sakura í gámi
Name[it]=Sakura in contenitore
Name[iu]=ᓴᑯᕋ ᐴᕐᒥ
Name[ja]=コンテナの中の桜
Name[jv]=Sakura ing wadhah
Name[ka]=საკურა კონტეინერში
Name[kk]=Контейнердегі сакура
Name[km]=សាគូរ៉ានៅក្នុងធុង
Name[kn]=ಧಾರಕದಲ್ಲಿ ಸಕುರಾ
Name[ko]=컨테이너에 사쿠라
Name[ku]=Sakura di konteynerê de
Name[ky]=Контейнердеги сакура
Name[la]=Sakura in vas
Name[lb]=Sakura am Container
Name[lg]=Sakura mu kibya
Name[ln]=Sakura na kati ya récipient
Name[lo]=Sakura ໃນຖັງ
Name[lt]=Sakura konteineryje
Name[lv]=Sakura konteinerā
Name[mg]=Sakura ao anaty container
Name[mi]=Sakura i roto i te ipu
Name[mk]=Сакура во контејнер
Name[ml]=കണ്ടെയ്നറിൽ സകുറ
Name[mn]=Сакура
Name[mr]=कंटेनर मध्ये Sakura
Name[ms]=Sakura dalam bekas
Name[mt]=Sakura fil-kontenitur
Name[my]=ဗူးထဲတွင် Sakura
Name[ne]=कन्टेनरमा Sakura
Name[nl]=Sakura in bak
Name[no]=Sakura i container
Name[ny]=Sakura mu chidebe
Name[om]=Sakura konteenara keessa jiru
Name[or]=ପାତ୍ରରେ ସାକୁରା |
Name[pa]=ਕੰਟੇਨਰ ਵਿੱਚ Sakura
Name[pl]=Sakura w pojemniku
Name[ps]=ﯥﮐ ﺮﻨﯿﺘﻧﺎﮐ ﻪﭘ ﺍﺭﻮﮐﺎﺳ
Name[pt]=Sakura no recipiente
Name[qu]=Sakura en contenedor
Name[ro]=Sakura în recipient
Name[rw]=Sakura muri kontineri
Name[sa]=पात्रे सकुरा
Name[sd]=Sakura ۾ ﺮﻨﻴٽﻨڪ
Name[si]=කන්ටේනරයේ සකුරා
Name[sk]=Sakura v kontajneri
Name[sl]=Sakura v posodi
Name[sm]=Sakura i totonu o pusa
Name[sn]=Sakura mumudziyo
Name[so]=Sakura weel ku jira
Name[sq]=Sakura në enë
Name[st]=Sakura ka setshelo
Name[su]=Sakura dina wadah
Name[sv]=Sakura i behållare
Name[sw]=Sakura kwenye chombo
Name[ta]=கொள்கலனில் சகுரா
Name[te]=కంటైనర్u200cలో సాకురా
Name[tg]=Сакура дар контейнер
Name[th]=ซากุระในภาชนะ
Name[ti]=ሳኩራ ኣብ ኮንተይነር
Name[tk]=Konteýnerdäki Sakura
Name[tl]=Sakura sa lalagyan
Name[to]=Sakura ʻi he faʻoʻanga meʻa
Name[tr]=kap içinde sakura
Name[ts]=Sakura eka xigwitsirisi
Name[tt]=Сакура контейнерда
Name[tw]=Sakura wɔ ade a wɔde gu mu mu
Name[ty]=Te mau manao tauturu no te tuatapaparaa e te haapiiraa
Name[ug]=ﺍﺭﯘﻛﺎﺳ ﻰﻜﯨﺪﯩﭼﺎﻗ
Name[uk]=Сакура в контейнері
Name[ur]=ﺍﺭﻮﮐﺎﺳ ﮟﯿﻣ ﺮﻨﯿﭩﻨﮐ
Name[uz]=Sakura konteynerda
Name[vi]=Sakura trong container
Name[xh]=Sakura kwisikhongozeli
Name[yi]=רענייטנאַק אַ ןיא אַרוקאַס
Name[yo]=Sakura ninu eiyan
Name[zh]=容器中的樱花
Name[zu]=I-Sakura esitsheni
Name=Sakura in container
Icon=container48.png
Comment[fr]=Console Sakura dans un conteneur
Comment[bg]=Терминален емулатор в контейнер
Comment[de]=Terminalemulator im Container
Comment[es]=Emulador de terminal en un contenedor
Comment[ru]=Терминален емулатор в контейнер
Comment[af]=Terminalemulator in houer
Comment[am]=በኮንቴይነር ውስጥ ተርሚናል emulator
Comment[ar]=ﺔﻳﻭﺎﺤﻟﺍ ﻲﻓ ﻲﻓﺮﻃ ﻲﻛﺎﺤﻣ
Comment[as]=পাত্ৰত টাৰ্মিনেল ইমুলেটৰ
Comment[ay]=Emulador terminal ukaxa mä contenedor ukankiwa
Comment[az]=Konteynerdə terminal emulyatoru
Comment[ba]=Контейнерҙағы терминал эмуляторы
Comment[be]=Эмулятар тэрмінала ў кантэйнеры
Comment[bm]=Terminal emulateur min bɛ minɛn kɔnɔ
Comment[bn]=পাত্রে টার্মিনাল এমুলেটর
Comment[bo]=སྣོད་ཆས་ནང་གི་མཐའ་སྣེའི་ལད་མོ་བྱེད་མཁན
Comment[bs]=Emulator terminala u kontejneru
Comment[ca]=Emulador de terminal al contenidor
Comment[co]=Emulatore di terminal in u containeru
Comment[cs]=Emulátor terminálu v kontejneru
Comment[cy]=Efelychydd terfynell yn y cynhwysydd
Comment[da]=Terminalemulator i container
Comment[dv]=ރޓަލޭއުމިއެ ލްނަމިޓާ އިގަރުނައިޓެންކޮ
Comment[ee]=Terminal emulator le nugoe me
Comment[el]=Τερματικός εξομοιωτής σε κοντέινερ
Comment[eo]=Fina emulilo en ujo
Comment[et]=Terminali emulaator konteineris
Comment[eu]=Terminal emuladorea edukiontzian
Comment[fa]=ﻑﺮﻇ ﺭﺩ ﻝﺎﻨﯿﻣﺮﺗ ﺯﺎﺳ ﻪﯿﺒﺷ
Comment[fi]=Terminaaliemulaattori säiliössä
Comment[fj]=emulator ni terminal ena koniteina
Comment[fo]=Terminal emulator in container
Comment[fy]=Terminal emulator yn kontener
Comment[ga]=Aithriseoir críochfoirt i gcoimeádán
Comment[gd]=Emulator terminal ann an container
Comment[gl]=Emulador de terminal en contenedor
Comment[gn]=Emulador terminal rehegua mba’yrúpe
Comment[gu]=કન્ટેનરમાં ટર્મિનલ ઇમ્યુલેટર
Comment[ha]=Terminal emulator a cikin akwati
Comment[he]=לכימב ףוסמ רוטלומא
Comment[hi]=कंटेनर में टर्मिनल एमुलेटर
Comment[hr]=Emulator terminala u spremniku
Comment[ht]=Emulateur tèminal nan veso
Comment[hu]=Terminál emulátor a tartályban
Comment[hy]=Տերմինալի էմուլյատոր կոնտեյներով
Comment[id]=Emulator terminal dalam wadah
Comment[ig]=Terminal emulator nime akpa
Comment[is]=Terminal emulator í íláti
Comment[it]=Emulatore di terminale nel contenitore
Comment[iu]=ᐊᓂᕐᓂᖃᓇᐅᑉ ᐊᐅᓚᔾᔪᑎᖓ ᐴᖓᓂ
Comment[ja]=コンテナ内のターミナルエミュレータ
Comment[jv]=Emulator terminal ing wadhah
Comment[ka]=ტერმინალის ემულატორი კონტეინერში
Comment[kk]=Контейнердегі терминал эмуляторы
Comment[km]=កម្មវិធីត្រាប់តាមស្ថានីយនៅក្នុងកុងតឺន័រ
Comment[kn]=ಕಂಟೇನರ್u200cನಲ್ಲಿ ಟರ್ಮಿನಲ್ ಎಮ್ಯುಲೇಟರ್
Comment[ko]=컨테이너의 터미널 에뮬레이터
Comment[ku]=Emûlatora Termînalê di konteynerê de
Comment[ky]=Контейнердеги терминалдык эмулятор
Comment[la]=Terminatio aemulator in vas
Comment[lb]=Terminal Emulator am Container
Comment[lg]=Terminal emulator mu konteyina
Comment[ln]=Emulateur ya terminal na kati ya récipient
Comment[lo]=Terminal emulator ໃນ container
Comment[lt]=Terminalo emuliatorius konteineryje
Comment[lv]=Termināļa emulators konteinerā
Comment[mg]=Terminal emulator ao anaty container
Comment[mi]=Emulator kāpeka i roto i te ipu
Comment[mk]=Терминален емулатор во контејнер
Comment[ml]=കണ്ടെയ്നറിലെ ടെർമിനൽ എമുലേറ്റർ
Comment[mn]=Контейнер дэх терминалын эмулятор
Comment[mr]=कंटेनरमध्ये टर्मिनल एमुलेटर
Comment[ms]=Emulator terminal dalam bekas
Comment[mt]=Emulatur tat-terminal fil-kontenitur
Comment[my]=ကွန်တိန်နာတွင် Terminal emulator
Comment[ne]=कन्टेनरमा टर्मिनल इमुलेटर
Comment[nl]=Terminalemulator in container
Comment[no]=Terminalemulator i container
Comment[ny]=Terminal emulator mu chidebe
Comment[om]=Fakkeessaa tarminaala qabduu keessatti
Comment[or]=ପାତ୍ରରେ ଟର୍ମିନାଲ୍ ଏମୁଲେଟର |
Comment[pa]=ਕੰਟੇਨਰ ਵਿੱਚ ਟਰਮੀਨਲ ਇਮੂਲੇਟਰ
Comment[pl]=Emulator terminala w kontenerze
Comment[ps]=ﺮټﯿﻟﻮﻤﯾﺍ ﻞﻨﯿﻣﺮﺗ ﯥﮐ ﺮﻨﯿټﻧﺎﮐ ﻪﭘ
Comment[pt]=Emulador de terminal no contêiner
Comment[qu]=Emulador terminal nisqa waqaychanapi
Comment[ro]=Emulator terminal în container
Comment[rw]=Imashini yigana muri kontineri
Comment[sa]=पात्रे टर्मिनल एमुलेटर
Comment[sd]=ﺮٽﻴﻟﻮﻤﻳﺍ ﻞﻨﻴﻣﺮٽ ۾ ﺮﻨﻴٽﻨڪ
Comment[si]=බහාලුම්වල ටර්මිනල් ඉමුලේටරය
Comment[sk]=Emulátor terminálu v kontajneri
Comment[sl]=Emulator terminala v vsebniku
Comment[sm]=Terminal emulator i totonu o pusa
Comment[sn]=Terminal emulator mumudziyo
Comment[so]=Eraytarka Terminalka ee weelka
Comment[sq]=Emulatori i terminalit në kontejner
Comment[st]=Terminal emulator ka setshelo
Comment[su]=Terminal émulator dina wadahna
Comment[sv]=Terminalemulator i behållare
Comment[sw]=Emulator ya terminal kwenye chombo
Comment[ta]=கொள்கலனில் டெர்மினல் எமுலேட்டர்
Comment[te]=కంటైనర్u200cలో టెర్మినల్ ఎమ్యులేటర్
Comment[tg]=Эмулятори терминал дар контейнер
Comment[th]=เครื่องจำลองเทอร์มินัลในคอนเทนเนอร์
Comment[ti]=ተርሚናል ኤሙለተር ኣብ ኮንተይነር
Comment[tk]=Konteýnerdäki terminal emulýatory
Comment[tl]=Terminal emulator sa lalagyan
Comment[to]=Emulator ʻi he faʻoʻanga meʻa
Comment[tr]=Kapsayıcıdaki terminal öykünücüsü
Comment[ts]=Emulator ya theminali eka xigwitsirisi
Comment[tt]=Контейнердагы терминал эмуляторы
Comment[tw]=Terminal emulator a ɛwɔ ahina mu
Comment[ty]=Te mau manao tauturu no te haapiiraa e te aporaa
Comment[ug]=ﻰﭼﯜﮕﯩﻟﺪﯩﻠﻗەﺗ ﻝﺎﻨﯩﻣﺮﯧﺗ ﻰﻜﯨﺪﯩﭼﺎﻗ
Comment[uk]=Емулятор терміналу в контейнері
Comment[ur]=ﺮﭩﯿﻟﻮﻤﯾﺍ ﻞﻨﯿﻣﺮﭨ ﮟﯿﻣ ﺮﻨﯿﭩﻨﮐ
Comment[uz]=Konteynerdagi terminal emulyatori
Comment[vi]=Trình giả lập thiết bị đầu cuối trong vùng chứa
Comment[xh]=I-emulator yetheminali kwisikhongozeli
Comment[yi]=רענייטנאַק ןיא ראָטאַלומע לאַנימרעט
Comment[yo]=Epo emulator ninu eiyan
Comment[zh]=容器中的终端模拟器
Comment[zu]=I-emulator yetheminali esitsheni
Comment=Terminal emulator in container
Exec=ec-chroot-console
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=ec-console
