[Desktop Entry]
Encoding=UTF-8
Name[fr]=Console Sakura dans un conteneur
Name[bg]=Сакура в контейнер
Name=Sakura in container
Icon=container48.png
Comment[bg]=Терминален емулатор в контейнер
Comment=Terminal emulator in container
Exec=ec-chroot-console
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=ec-console
