[Desktop Entry]
Encoding=UTF-8
Name[fr]=Bureau EasyOS dans un conteneur
Name=EasyOS desktop in container
Icon=container48.png
Comment=EasyOS desktop, in container
Exec=ec-chroot-easy
Terminal=false
Type=Application
Categories=X-Filesystem
GenericName=ec-easy
