[Desktop Entry]
Encoding=UTF-8
Name[fr]=Bureau EasyOS dans un conteneur
Name[bg]=EasyOS десктоп в контейнер
Name[de]=EasyOS Desktop im Container
Name[es]=Escritorio EasyOS en un contenedor
Name[ru]=Рабочий стол EasyOS в контейнере
Name=EasyOS desktop in container
Icon=container48.png
Comment[fr]=Bureau EasyOS dans un conteneur
Comment[bg]=EasyOS десктоп, в контейнер
Comment[de]=EasyOS Desktop, im Container
Comment[es]=Escritorio EasyOS en un contenedor
Comment[ru]=Рабочий стол EasyOS в контейнере
Comment=EasyOS desktop, in container
Exec=ec-chroot-kirkstone
Terminal=false
Type=Application
Categories=X-Filesystem
GenericName=ec-kirkstone
