[Desktop Entry]
Encoding=UTF-8
Name[fr]=Navigateur Internet Seamonkey dans un conteneur
Name=SeaMonkey in container
Icon=container48.png
Comment=SeaMonkey web browser, in container
Exec=ec-chroot-www
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=ec-www
