[Desktop Entry]
# WOOFQONLYMARKER
Encoding=UTF-8
Name[fr]=Chromium en conteneur
Name[bg]=Chromium в контейнер
Name[cs]=Chromium v nádobě
Name[da]=Chromium i beholder
Name[de]=Chromium im Behälter
Name[el]=Chromium σε δοχείο
Name[es]=Chromium en contenedor
Name[fi]=Chromium säiliössä
Name[hu]=Chromium a tartályban
Name[is]=Chromium í ílát
Name[it]=Chromium in contenitore
Name[mk]=Chromium во контејнер
Name[nl]=Chromium in houder
Name[pl]=Chromium w pojemniku
Name[pt]=Chromium no recipiente
Name[ro]=Chromium în recipient
Name[ru]=Chromium в контейнере
Name[sr]=Chromium у контејнеру
Name[sv]=Chromium i behållare
Name[tr]=kap içinde Chromium
Name[uk]=Chromium в контейнері
Name[af]=Chromium in houer
Name[ar]=Chromium ﺔﻳﻭﺎﺤﻟﺍ ﻲﻓ
Name[ay]=Chromium ukaxa mä phukuruwa
Name[bm]=Chromium bɛ sɔrɔ minɛn kɔnɔ
Name[bs]=Chromium u kontejneru
Name[ca]=Chromium en recipient
Name[co]=Chromium in cuntainer
Name[cy]=Chromium mewn cynhwysydd
Name[ee]=Chromium le nugoe me
Name[eo]=Chromium en ujo
Name[et]=Chromium konteineris
Name[eu]=Chromium edukiontzian
Name[fj]=Chromium ena koniteina
Name[fo]=Chromium in container
Name[fy]=Chromium yn kontener
Name[ga]=Chromiam i gcoimeádán
Name[gd]=Chromium ann an soitheach
Name[gl]=Chromium en recipiente
Name[gn]=Chromium mba’yrúpe
Name[ha]=Chromium a cikin akwati
Name[hr]=Chromium u spremniku
Name[ht]=Chromium nan veso
Name[hy]=Chromium տարայի մեջ
Name[id]=Chromium dalam wadah
Name[ig]=Chromium nime akpa
Name[jv]=Chromium ing wadhah
Name[ku]=Krom di konteynerê de
Name[ky]=Контейнердеги хром
Name[la]=Chromium in vas
Name[lb]=Chromium am Container
Name[lg]=Chromium mu kibya
Name[ln]=Chromium na kati ya récipient
Name[lo]=Chromium ໃນຖັງ
Name[lt]=Chromium konteineryje
Name[lv]=Chromium konteinerā
Name[mg]=Chromium ao anaty container
Name[mi]=Chromium i roto i te ipu
Name[mn]=Сhromium байгаа хром
Name[ms]=Chromium dalam bekas
Name[mt]=Chromium fil-kontenitur
Name[no]=Chromium i beholder
Name[ny]=Chromium mu chidebe
Name[om]=Chromium qabduu keessa jiru
Name[qu]=Chromium nisqa waqaychanapi
Name[rw]=Chromium muri kontineri
Name[sd]=Chromium ۾ ﺮﻨﻴٽﻨڪ
Name[sk]=Chromium v nádobe
Name[sl]=Chromium v posodi
Name[sm]=Chromium i totonu o pusa
Name[sn]=Chromium mumudziyo
Name[so]=Chromium weel ku jira
Name[sq]=Chromium në enë
Name[st]=Chromium ka hara setshelo
Name[su]=Chromium dina wadahna
Name[sw]=Chromium kwenye chombo
Name[tl]=Chromium sa lalagyan
Name[to]=Chromium ʻi he faʻoʻanga meʻa
Name[ts]=Chromium eka xigwitsirisi
Name[tw]=Chromium a ɛwɔ ade a wɔde gu mu mu
Name[ty]=Chromium i roto i te faarii
Name[vi]=Chromium trong thùng chứa
Name[xh]=Chromium kwisikhongozeli
Name[yo]=Chromium ninu apo eiyan
Name[zh]=容器中的 Chromium
Name[zu]=I-Chromium esitsheni
Name=Chromium in container
Icon=container48.png
Comment[fr]=Chromium en conteneur
Comment[bg]=Chromium в контейнер
Comment[cs]=Chromium v nádobě
Comment[da]=Chromium i beholder
Comment[de]=Chromium im Behälter
Comment[el]=Chromium σε δοχείο
Comment[es]=Chromium en contenedor
Comment[fi]=Chromium säiliössä
Comment[hu]=Chromium a tartályban
Comment[is]=Chromium í ílát
Comment[it]=Chromium in contenitore
Comment[mk]=Chromium во контејнер
Comment[nl]=Chromium in houder
Comment[pl]=Chromium w pojemniku
Comment[pt]=Chromium no recipiente
Comment[ro]=Chromium în recipient
Comment[ru]=Chromium в контейнере
Comment[sr]=Chromium у контејнеру
Comment[sv]=Chromium i behållare
Comment[tr]=kap içinde Chromium
Comment[uk]=Chromium в контейнері
Comment[af]=Chromium in houer
Comment[ar]=Chromium ﺔﻳﻭﺎﺤﻟﺍ ﻲﻓ
Comment[ay]=Chromium ukaxa mä phukuruwa
Comment[bm]=Chromium bɛ sɔrɔ minɛn kɔnɔ
Comment[bs]=Chromium u kontejneru
Comment[ca]=Chromium en recipient
Comment[co]=Chromium in cuntainer
Comment[cy]=Chromium mewn cynhwysydd
Comment[ee]=Chromium le nugoe me
Comment[eo]=Chromium en ujo
Comment[et]=Chromium konteineris
Comment[eu]=Chromium edukiontzian
Comment[fj]=Chromium ena koniteina
Comment[fo]=Chromium in container
Comment[fy]=Chromium yn kontener
Comment[ga]=Chromiam i gcoimeádán
Comment[gd]=Chromium ann an soitheach
Comment[gl]=Chromium en recipiente
Comment[gn]=Chromium mba’yrúpe
Comment[ha]=Chromium a cikin akwati
Comment[hr]=Chromium u spremniku
Comment[ht]=Chromium nan veso
Comment[hy]=Chromium տարայի մեջ
Comment[id]=Chromium dalam wadah
Comment[ig]=Chromium nime akpa
Comment[jv]=Chromium ing wadhah
Comment[ku]=Krom di konteynerê de
Comment[ky]=Контейнердеги хром
Comment[la]=Chromium in vas
Comment[lb]=Chromium am Container
Comment[lg]=Chromium mu kibya
Comment[ln]=Chromium na kati ya récipient
Comment[lo]=Chromium ໃນຖັງ
Comment[lt]=Chromium konteineryje
Comment[lv]=Chromium konteinerā
Comment[mg]=Chromium ao anaty container
Comment[mi]=Chromium i roto i te ipu
Comment[mn]=Сhromium байгаа хром
Comment[ms]=Chromium dalam bekas
Comment[mt]=Chromium fil-kontenitur
Comment[no]=Chromium i beholder
Comment[ny]=Chromium mu chidebe
Comment[om]=Chromium qabduu keessa jiru
Comment[qu]=Chromium nisqa waqaychanapi
Comment[rw]=Chromium muri kontineri
Comment[sd]=Chromium ۾ ﺮﻨﻴٽﻨڪ
Comment[sk]=Chromium v nádobe
Comment[sl]=Chromium v posodi
Comment[sm]=Chromium i totonu o pusa
Comment[sn]=Chromium mumudziyo
Comment[so]=Chromium weel ku jira
Comment[sq]=Chromium në enë
Comment[st]=Chromium ka hara setshelo
Comment[su]=Chromium dina wadahna
Comment[sw]=Chromium kwenye chombo
Comment[tl]=Chromium sa lalagyan
Comment[to]=Chromium ʻi he faʻoʻanga meʻa
Comment[ts]=Chromium eka xigwitsirisi
Comment[tw]=Chromium a ɛwɔ ade a wɔde gu mu mu
Comment[ty]=Chromium i roto i te faarii
Comment[vi]=Chromium trong thùng chứa
Comment[xh]=Chromium kwisikhongozeli
Comment[yo]=Chromium ninu apo eiyan
Comment[zh]=容器中的 Chromium
Comment[zu]=I-Chromium esitsheni
Comment=Chromium in container
Exec=ec-chroot-www
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=ec-www
