[Desktop Entry]
Encoding=UTF-8
Name[fr]=Chromium en conteneur
Name[bg]=Chromium в контейнер
Name[cs]=Chromium v nádobě
Name[da]=Chromium i beholder
Name[de]=Chromium im Behälter
Name[el]=Chromium σε δοχείο
Name[es]=Chromium en contenedor
Name[fi]=Chromium säiliössä
Name[hu]=Chromium a tartályban
Name[is]=Chromium í ílát
Name[it]=Chromium in contenitore
Name[mk]=Chromium во контејнер
Name[nl]=Chromium in houder
Name[pl]=Chromium w pojemniku
Name[pt]=Chromium no recipiente
Name[ro]=Chromium în recipient
Name[ru]=Chromium в контейнере
Name[sr]=Chromium у контејнеру
Name[sv]=Chromium i behållare
Name[tr]=kap içinde Chromium
Name[uk]=Chromium в контейнері
Name=Chromium in container
Icon=container48.png
Comment[bg]=Уеб браузър Chromium, в контейнер
Comment[de]=Chromium-Webbrowser, im Container
Comment[es]=Navegador Chromium, en un contenedor
Comment=Chromium web browser, in container
Exec=ec-chroot-www
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=ec-www
