[Desktop Entry]
Encoding=UTF-8
Name[af]=Laai die nuutste Firefox af
Name[am]=የቅርብ ጊዜውን ፋየርፎክስ ያውርዱ
Name[ar]=Firefox ﻦﻣ ﺭﺍﺪﺻﺇ ﺙﺪﺣﺃ ﻞﻳﺰﻨﺘﺑ ﻢﻗ
Name[as]=শেহতীয়া Firefox ডাউনলোড কৰক
Name[ay]=Qhipa Firefox ukar apkatañamawa
Name[az]=Ən son Firefox-u yükləyin
Name[ba]=Һуңғы Firefox йөкләгеҙ
Name[be]=Спампаваць апошнюю версію Firefox
Name[bg]=Изтеглете най-новия Firefox
Name[bm]=Firefox kura telesarse
Name[bn]=সর্বশেষ ফায়ারফক্স ডাউনলোড করুন
Name[bo]=ཉེ་ཆར་ཕབ་ལེན་བྱས་པའི་Firefox
Name[bs]=Preuzmite najnoviji Firefox
Name[ca]=Baixeu lúltim Firefox
Name[co]=Scaricate lultimu Firefox
Name[cs]=Stáhněte si nejnovější Firefox
Name[cy]=Lawrlwythwch y Firefox diweddaraf
Name[da]=Download den nyeste Firefox
Name[de]=Laden Sie den neuesten Firefox herunter
Name[dv]=ވެށެވާއްލަށްކޮ ޑްލޯންއުޑަ ސްކްފޮރޔަފަ ގެހުފަ މެންއެ
Name[ee]=Wɔ Firefox yeyetɔ ƒe kɔpi
Name[el]=Κατεβάστε το πιο πρόσφατο Firefox
Name[eo]=Elŝutu la plej novan Firefox
Name[es]=Descargar la última versión de Firefox
Name[et]=Laadige alla uusim Firefox
Name[eu]=Deskargatu azken Firefox
Name[fa]=ﺪﯿﻨﮐ ﺩﻮﻠﻧﺍﺩ ﺍﺭ ﺲﮐﺎﻓﺮﯾﺎﻓ ﻪﺨﺴﻧ ﻦﯾﺮﺧﺁ
Name[fi]=Lataa uusin Firefox
Name[fj]=Lavetaka na Firefox vou
Name[fo]=Download latest Firefox
Name[fr]=Télécharger le dernier Firefox
Name[fy]=Download lêste Firefox
Name[ga]=Íoslódáil an leagan is déanaí de firefox
Name[gd]=Luchdaich a-nuas firefox as ùire.
Name[gl]=Descarga o último Firefox
Name[gn]=Emboguejy Firefox ipyahuvéva
Name[gu]=નવીનતમ ફાયરફોક્સ ડાઉનલોડ કરો
Name[ha]=Zazzage sabuwar Firefox
Name[he]=רתויב ינכדעה Firefox תא דרוה
Name[hi]=नवीनतम फ़ायरफ़ॉक्स डाउनलोड करें
Name[hr]=Preuzmite najnoviji Firefox
Name[ht]=Telechaje dènye Firefox
Name[hu]=Töltse le a legújabb Firefoxot
Name[hy]=Ներբեռնեք Firefox-ի վերջին տարբերակը
Name[id]=Unduh Firefox terbaru
Name[ig]=Budata Firefox kacha ọhụrụ
Name[is]=Sækja nýjasta Firefox
Name[it]=Scarica lultima versione di Firefox
Name[iu]=ᒥᓇᕆᓗᒍ ᓄᑖᖑᓛᖅ ᖃᑦᑎᕆᔾᔪᑎ
Name[ja]=最新のFirefoxをダウンロード
Name[jv]=Download Firefox paling anyar
Name[ka]=ჩამოტვირთეთ უახლესი Firefox
Name[kk]=Соңғы Firefox нұсқасын жүктеп алыңыз
Name[km]=ទាញយក Firefox ចុងក្រោយបង្អស់
Name[kn]=ಇತ್ತೀಚಿನ Firefox ಅನ್ನು ಡೌನ್u200cಲೋಡ್ ಮಾಡಿ
Name[ko]=최신 파이어폭스 다운로드
Name[ku]=Firefoxa herî dawî dakêşin
Name[ky]=Акыркы Firefoxту жүктөп алыңыз
Name[la]=Download Firefox latest
Name[lb]=Download déi lescht Firefox
Name[lg]=Wano wefunire Firefox eyasembyeyo
Name[ln]=Télécharger Firefox ya sika
Name[lo]=ດາວໂຫລດ Firefox ຫຼ້າສຸດ
Name[lt]=Atsisiųskite naujausią „Firefox“.
Name[lv]=Lejupielādējiet jaunāko Firefox
Name[mg]=Ampidino ny Firefox farany
Name[mi]=Tikiake Firefox hou
Name[mk]=Преземете го најновиот Firefox
Name[ml]=ഏറ്റവും പുതിയ ഫയർഫോക്സ് ഡൗൺലോഡ് ചെയ്യുക
Name[mn]=Хамгийн сүүлийн үеийн Firefox татаж авах
Name[mr]=नवीनतम फायरफॉक्स डाउनलोड करा
Name[ms]=Muat turun Firefox terkini
Name[mt]=Niżżel l-aħħar Firefox
Name[my]=နောက်ဆုံးထွက် Firefox ကိုဒေါင်းလုဒ်လုပ်ပါ။
Name[ne]=नवीनतम फायरफक्स डाउनलोड गर्नुहोस्
Name[nl]=Laatste Firefox downloaden
Name[no]=Last ned nyeste Firefox
Name[ny]=Tsitsani Firefox yatsopano
Name[om]=Firefox isa haaraa buufadhaa
Name[or]=ସର୍ବଶେଷ ଫାୟାରଫକ୍ସ ଡାଉନଲୋଡ୍ କରନ୍ତୁ |
Name[pa]=ਨਵੀਨਤਮ ਫਾਇਰਫਾਕਸ ਡਾਊਨਲੋਡ ਕਰੋ
Name[pl]=Pobierz najnowszą wersję Firefoksa
Name[ps]=ﺉړﮐ ډﻮﻠﻧﻭﺍډ ﺲﮐﺎﻓﺮﯾﺎﻓ ﻩﺯﺎﺗ
Name[pt]=Baixe o Firefox mais recente
Name[qu]=Qhipa Firefox nisqamanta uraykachiy
Name[ro]=Descărcați cel mai recent Firefox
Name[ru]=Загрузить последнюю версию Firefox
Name[rw]=Kuramo Firefox iheruka
Name[sa]=नवीनतमं Firefox डाउनलोड् कुर्वन्तु
Name[sd]=ﻮﻳﺮڪ ڊﻮﻟ ﻥﻮﺋﺍڊ ﺲڪﺎﻓ ﺮﺋﺎﻓ ﺪﻳﺪﺟ
Name[si]=නවතම Firefox බාගන්න
Name[sk]=Stiahnite si najnovší Firefox
Name[sl]=Prenesite najnovejši Firefox
Name[sm]=Lau mai Firefox fou
Name[sn]=Dhawunirodha yazvino Firefox
Name[so]=Soo deji Firefox kii ugu dambeeyay
Name[sq]=Shkarkoni Firefox-in më të fundit
Name[st]=Khoasolla Firefox ea morao-rao
Name[su]=Unduh Firefox panganyarna
Name[sv]=Ladda ner senaste Firefox
Name[sw]=Pakua Firefox ya hivi punde
Name[ta]=சமீபத்திய பயர்பாக்ஸைப் பதிவிறக்கவும்
Name[te]=తాజా Firefoxని డౌన్u200cలోడ్ చేయండి
Name[tg]=Навтарин Firefox-ро зеркашӣ кунед
Name[th]=ดาวน์โหลด Firefox ล่าสุด
Name[ti]=ናይ መወዳእታ ፋየርፎክስ ኣውርድ
Name[tk]=Iň soňky Firefox-y göçürip alyň
Name[tl]=I-download ang pinakabagong Firefox
Name[to]=Download e Firefox fakamuimuitaha
Name[tr]=Firefox son sürümü indirin
Name[ts]=Download Firefox ya sweswinyana
Name[tt]=Соңгы Firefox-ны йөкләү
Name[tw]=Twe Firefox a aba foforo
Name[ty]=Faauta uira mai i te Firefox apî roa ae
Name[ug]=ﯓﯛﺭﯜﺷﯜﭼ ﻰﻧ Firefox ﻰﯖﯧﻳ ﯓەﺋ
Name[uk]=Завантажте останню версію Firefox
Name[ur]=۔ﮟﯾﺮﮐ ﮈﻮﻟ ﻥﺅﺍﮈ ﺲﮐﺎﻓ ﺮﺋﺎﻓ ﻦﯾﺮﺗ ﮦﺯﺎﺗ
Name[uz]=Firefox songgi versiyasini yuklab oling
Name[vi]=Tải Firefox mới nhất
Name[xh]=Khuphela iFirefox yamva nje
Name[yi]=סקאָפעריפ עטצעל יד עיפאקפארא
Name[yo]=Ṣe igbasilẹ Firefox tuntun
Name[zh]=下载最新的火狐浏览器
Name[zu]=Landa iFirefox yakamuva
Name=Download latest Firefox
Icon=ff-dl-latest.png
Comment[af]=Laai die nuutste Firefox af
Comment[am]=የቅርብ ጊዜውን ፋየርፎክስ ያውርዱ
Comment[ar]=Firefox ﻦﻣ ﺭﺍﺪﺻﺇ ﺙﺪﺣﺃ ﻞﻳﺰﻨﺘﺑ ﻢﻗ
Comment[as]=শেহতীয়া Firefox ডাউনলোড কৰক
Comment[ay]=Qhipa Firefox ukar apkatañamawa
Comment[az]=Ən son Firefox-u yükləyin
Comment[ba]=Һуңғы Firefox йөкләгеҙ
Comment[be]=Спампаваць апошнюю версію Firefox
Comment[bg]=Изтеглете най-новия Firefox
Comment[bm]=Firefox kura telesarse
Comment[bn]=সর্বশেষ ফায়ারফক্স ডাউনলোড করুন
Comment[bo]=ཉེ་ཆར་ཕབ་ལེན་བྱས་པའི་Firefox
Comment[bs]=Preuzmite najnoviji Firefox
Comment[ca]=Baixeu lúltim Firefox
Comment[co]=Scaricate lultimu Firefox
Comment[cs]=Stáhněte si nejnovější Firefox
Comment[cy]=Lawrlwythwch y Firefox diweddaraf
Comment[da]=Download den nyeste Firefox
Comment[de]=Laden Sie den neuesten Firefox herunter
Comment[dv]=ވެށެވާއްލަށްކޮ ޑްލޯންއުޑަ ސްކްފޮރޔަފަ ގެހުފަ މެންއެ
Comment[ee]=Wɔ Firefox yeyetɔ ƒe kɔpi
Comment[el]=Κατεβάστε το πιο πρόσφατο Firefox
Comment[eo]=Elŝutu la plej novan Firefox
Comment[es]=Descargar la última versión de Firefox
Comment[et]=Laadige alla uusim Firefox
Comment[eu]=Deskargatu azken Firefox
Comment[fa]=ﺪﯿﻨﮐ ﺩﻮﻠﻧﺍﺩ ﺍﺭ ﺲﮐﺎﻓﺮﯾﺎﻓ ﻪﺨﺴﻧ ﻦﯾﺮﺧﺁ
Comment[fi]=Lataa uusin Firefox
Comment[fj]=Lavetaka na Firefox vou
Comment[fo]=Download latest Firefox
Comment[fr]=Télécharger le dernier Firefox
Comment[fy]=Download lêste Firefox
Comment[ga]=Íoslódáil an leagan is déanaí de firefox
Comment[gd]=Luchdaich a-nuas firefox as ùire.
Comment[gl]=Descarga o último Firefox
Comment[gn]=Emboguejy Firefox ipyahuvéva
Comment[gu]=નવીનતમ ફાયરફોક્સ ડાઉનલોડ કરો
Comment[ha]=Zazzage sabuwar Firefox
Comment[he]=רתויב ינכדעה Firefox תא דרוה
Comment[hi]=नवीनतम फ़ायरफ़ॉक्स डाउनलोड करें
Comment[hr]=Preuzmite najnoviji Firefox
Comment[ht]=Telechaje dènye Firefox
Comment[hu]=Töltse le a legújabb Firefoxot
Comment[hy]=Ներբեռնեք Firefox-ի վերջին տարբերակը
Comment[id]=Unduh Firefox terbaru
Comment[ig]=Budata Firefox kacha ọhụrụ
Comment[is]=Sækja nýjasta Firefox
Comment[it]=Scarica lultima versione di Firefox
Comment[iu]=ᒥᓇᕆᓗᒍ ᓄᑖᖑᓛᖅ ᖃᑦᑎᕆᔾᔪᑎ
Comment[ja]=最新のFirefoxをダウンロード
Comment[jv]=Download Firefox paling anyar
Comment[ka]=ჩამოტვირთეთ უახლესი Firefox
Comment[kk]=Соңғы Firefox нұсқасын жүктеп алыңыз
Comment[km]=ទាញយក Firefox ចុងក្រោយបង្អស់
Comment[kn]=ಇತ್ತೀಚಿನ Firefox ಅನ್ನು ಡೌನ್u200cಲೋಡ್ ಮಾಡಿ
Comment[ko]=최신 파이어폭스 다운로드
Comment[ku]=Firefoxa herî dawî dakêşin
Comment[ky]=Акыркы Firefoxту жүктөп алыңыз
Comment[la]=Download Firefox latest
Comment[lb]=Download déi lescht Firefox
Comment[lg]=Wano wefunire Firefox eyasembyeyo
Comment[ln]=Télécharger Firefox ya sika
Comment[lo]=ດາວໂຫລດ Firefox ຫຼ້າສຸດ
Comment[lt]=Atsisiųskite naujausią „Firefox“.
Comment[lv]=Lejupielādējiet jaunāko Firefox
Comment[mg]=Ampidino ny Firefox farany
Comment[mi]=Tikiake Firefox hou
Comment[mk]=Преземете го најновиот Firefox
Comment[ml]=ഏറ്റവും പുതിയ ഫയർഫോക്സ് ഡൗൺലോഡ് ചെയ്യുക
Comment[mn]=Хамгийн сүүлийн үеийн Firefox татаж авах
Comment[mr]=नवीनतम फायरफॉक्स डाउनलोड करा
Comment[ms]=Muat turun Firefox terkini
Comment[mt]=Niżżel l-aħħar Firefox
Comment[my]=နောက်ဆုံးထွက် Firefox ကိုဒေါင်းလုဒ်လုပ်ပါ။
Comment[ne]=नवीनतम फायरफक्स डाउनलोड गर्नुहोस्
Comment[nl]=Laatste Firefox downloaden
Comment[no]=Last ned nyeste Firefox
Comment[ny]=Tsitsani Firefox yatsopano
Comment[om]=Firefox isa haaraa buufadhaa
Comment[or]=ସର୍ବଶେଷ ଫାୟାରଫକ୍ସ ଡାଉନଲୋଡ୍ କରନ୍ତୁ |
Comment[pa]=ਨਵੀਨਤਮ ਫਾਇਰਫਾਕਸ ਡਾਊਨਲੋਡ ਕਰੋ
Comment[pl]=Pobierz najnowszą wersję Firefoksa
Comment[ps]=ﺉړﮐ ډﻮﻠﻧﻭﺍډ ﺲﮐﺎﻓﺮﯾﺎﻓ ﻩﺯﺎﺗ
Comment[pt]=Baixe o Firefox mais recente
Comment[qu]=Qhipa Firefox nisqamanta uraykachiy
Comment[ro]=Descărcați cel mai recent Firefox
Comment[ru]=Загрузите последнюю версию Firefox
Comment[rw]=Kuramo Firefox iheruka
Comment[sa]=नवीनतमं Firefox डाउनलोड् कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ڊﻮﻟ ﻥﻮﺋﺍڊ ﺲڪﺎﻓ ﺮﺋﺎﻓ ﺪﻳﺪﺟ
Comment[si]=නවතම Firefox බාගන්න
Comment[sk]=Stiahnite si najnovší Firefox
Comment[sl]=Prenesite najnovejši Firefox
Comment[sm]=Lau mai Firefox fou
Comment[sn]=Dhawunirodha yazvino Firefox
Comment[so]=Soo deji Firefox kii ugu dambeeyay
Comment[sq]=Shkarkoni Firefox-in më të fundit
Comment[st]=Khoasolla Firefox ea morao-rao
Comment[su]=Unduh Firefox panganyarna
Comment[sv]=Ladda ner senaste Firefox
Comment[sw]=Pakua Firefox ya hivi punde
Comment[ta]=சமீபத்திய பயர்பாக்ஸைப் பதிவிறக்கவும்
Comment[te]=తాజా Firefoxని డౌన్u200cలోడ్ చేయండి
Comment[tg]=Навтарин Firefox-ро зеркашӣ кунед
Comment[th]=ดาวน์โหลด Firefox ล่าสุด
Comment[ti]=ናይ መወዳእታ ፋየርፎክስ ኣውርድ
Comment[tk]=Iň soňky Firefox-y göçürip alyň
Comment[tl]=I-download ang pinakabagong Firefox
Comment[to]=Download e Firefox fakamuimuitaha
Comment[tr]=En son Firefoxu indirin
Comment[ts]=Download Firefox ya sweswinyana
Comment[tt]=Соңгы Firefox-ны йөкләү
Comment[tw]=Twe Firefox a aba foforo
Comment[ty]=Faauta uira mai i te Firefox apî roa ae
Comment[ug]=ﯓﯛﺭﯜﺷﯜﭼ ﻰﻧ Firefox ﻰﯖﯧﻳ ﯓەﺋ
Comment[uk]=Завантажте останню версію Firefox
Comment[ur]=۔ﮟﯾﺮﮐ ﮈﻮﻟ ﻥﺅﺍﮈ ﺲﮐﺎﻓ ﺮﺋﺎﻓ ﻦﯾﺮﺗ ﮦﺯﺎﺗ
Comment[uz]=Firefox songgi versiyasini yuklab oling
Comment[vi]=Tải Firefox mới nhất
Comment[xh]=Khuphela iFirefox yamva nje
Comment[yi]=סקאָפעריפ עטצעל יד עיפאקפארא
Comment[yo]=Ṣe igbasilẹ Firefox tuntun
Comment[zh]=下载最新的火狐浏览器
Comment[zu]=Landa iFirefox yakamuva
Comment=Download latest Firefox
Exec=ff-dl-latest
Terminal=false
Type=Application
Categories=X-Internet
GenericName=FFDL
