[Desktop Entry]
Encoding=UTF-8
Name=Download latest Firefox
Icon=ff-dl-latest.png
Comment=Download latest Firefox
Exec=ff-dl-latest
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=FFDL
