[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer un parefeu
Name[bg]=Настройка на защитната стена
Name[de]=Firewall-Einrichtung
Name=Firewall Setup
Icon=/usr/share/pixmaps/puppy/firewall.svg
Comment[bg]=Настройка на защитната стена
Comment[de]=Firewall-Einrichtung
Comment=Firewall Setup
Exec=firewall_ng
Terminal=false
Type=Application
Categories=X-Network-firewall
GenericName=Firewall Setup
