[Desktop Entry]
Encoding=UTF-8
Name[fr]=Assistant d'installation de pare-feu
Name[bg]=Настройка на защитната стена
Name=Firewall Setup
Icon=mini-firewall.xpm
Comment[bg]=Настройка на защитната стена
Comment=Firewall Setup
Exec=firewall_ng
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Firewall Setup
