[Desktop Entry]
Encoding=UTF-8
Name[fr]=Définir le nom d'hôte de ce PC
Name[bg]=Задаване на име на хост на този компютър
Name[de]=Hostnamen dieses Computers festlegen
Name[es]=Hostname-set: definir el nombre de host del equipo
Name[ru]=Задаване на име на хост на този компютър
Name=Set hostname of this computer
Icon=mini-hostname.xpm
Comment[fr]=Définir le nom d'hôte de ce PC
Comment[bg]=Задаване на име на хост на този компютър
Comment[de]=Hostnamen dieses Computers festlegen
Comment[es]=Hostname-set: definir el nombre de host del equipo
Comment[ru]=Задаване на име на хост на този компютър
Comment=Set hostname of this computer
Exec=hostname-set
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=hostname-set
