[Desktop Entry]
Encoding=UTF-8
Name=Set hostname of this computer
Icon=mini-hostname.xpm
Comment=Set hostname of this computer
Exec=hostname-set
Terminal=false
Type=Application
Categories=X-Network-connect
GenericName=hostname-set
