[Desktop Entry]
Encoding=UTF-8
Name[fr]=Icônes du bureau : Icon switcher
Name[bg]=Превключвател на икони на работния плот
Name[de]=Desktop-Symbolumschalter
Name[es]=Icon Switcher: cambiar los íconos del escritorio
Name[ru]=Изменить иконки на рабочем столе и в меню
Name[af]=Werkskerm-ikoonwisselaar
Name[am]=የዴስክቶፕ አዶ መቀየሪያ
Name[ar]=ﺐﺘﻜﻤﻟﺍ ﺢﻄﺳ ﺰﻣﺭ ﺩﻼ﻿ﺠﻟﺍ
Name[as]=ডেস্কটপ আইকন চুইচাৰ
Name[ay]=Escritorio ukan chimpunakapax mayjt’ayatawa
Name[az]=İş masası ikon dəyişdiricisi
Name[ba]=Эш өҫтәле иконаһы коммутаторы
Name[be]=Пераключальнік значкоў працоўнага стала
Name[bm]=Bureau taamasiyɛn sɛgɛsɛgɛlikɛlan
Name[bn]=ডেস্কটপ আইকন সুইচার
Name[bo]=མདུན་ངོས་ཀྱི་མཚོན་རྟགས་བརྗེ་རེས་བྱེད་མཁན།
Name[bs]=Prebacivanje ikona na radnoj površini
Name[ca]=Canviador dicones descriptori
Name[co]=Cambia licona di u desktop
Name[cs]=Přepínač ikon na ploše
Name[cy]=Switsiwr eicon bwrdd gwaith
Name[da]=Skifter til skrivebordsikoner
Name[dv]=ވެއެ ރޗަވިސް ންކޮއިއަ ޕްޓޮކްސްޑެ
Name[ee]=Desktop ƒe dzesi ƒe tɔtrɔ
Name[el]=Εναλλαγή εικονιδίων επιφάνειας εργασίας
Name[eo]=Tabla ikonoŝanĝilo
Name[et]=Töölaua ikooni vahetaja
Name[eu]=Mahaigaineko ikonoen aldatzailea
Name[fa]=ﭖﺎﺘﮑﺳﺩ ﻥﻮﮑﯾﺁ ﺾﯾﻮﻌﺗ
Name[fi]=Työpöydän kuvakkeen vaihtaja
Name[fj]=Dauveisau ni ivakatakilakila ni delanidesi
Name[fo]=Desktop icon switcher
Name[fy]=Buroblêd ikoan switcher
Name[ga]=Malartóir deilbhín deisce
Name[gd]=Switcher ìomhaigh deasg
Name[gl]=Cambiador de iconas de escritorio
Name[gn]=Escritorio icono mboajepyréva
Name[gu]=ડેસ્કટૉપ આઇકન સ્વિચર
Name[ha]=Alamar Desktop switcher
Name[he]=הדובעה ןחלושב םילמס ףילחמ
Name[hi]=डेस्कटॉप आइकन स्विचर
Name[hr]=Izmjenjivač ikona na radnoj površini
Name[ht]=Desktop icon switcher
Name[hu]=Asztali ikonváltó
Name[hy]=Սեղանի պատկերակների փոխարկիչ
Name[id]=Pengalih ikon desktop
Name[ig]=akara ngosi desktọpụ
Name[is]=Skipti fyrir skjáborðstákn
Name[it]=Commutatore di icone sul desktop
Name[iu]=ᐃᒐᓚᐅᔭᙳᐊᒥ ᐃᑭᑦᑕᐅᑎ
Name[ja]=デスクトップアイコンスイッチャー
Name[jv]=Pengalih ikon desktop
Name[ka]=დესკტოპის ხატების გადამრთველი
Name[kk]=Жұмыс үстелінің белгішесін ауыстырғыш
Name[km]=ឧបករណ៍ប្តូររូបតំណាងផ្ទៃតុ
Name[kn]=ಡೆಸ್ಕ್u200cಟಾಪ್ ಐಕಾನ್ ಸ್ವಿಚರ್
Name[ko]=데스크탑 아이콘 스위처
Name[ku]=Guherkerê îkonê sermaseyê
Name[ky]=Иш тактасынын сөлөкөтүн алмаштыргыч
Name[la]=Desktop icon switcher
Name[lb]=Desktop Ikon Schalter
Name[lg]=Ekyuma ekikyusa obubonero ku mmeeza
Name[ln]=Commutateur ya icône ya bureau
Name[lo]=ຕົວປ່ຽນໄອຄອນເດັສທັອບ
Name[lt]=Darbalaukio piktogramų perjungiklis
Name[lv]=Darbvirsmas ikonu pārslēdzējs
Name[mg]=Mpitondra kisary Desktop
Name[mi]=Kaihuri tohu papamahi
Name[mk]=Преминувач на икони на работната површина
Name[ml]=ഡെസ്ക്ടോപ്പ് ഐക്കൺ സ്വിച്ചർ
Name[mn]=Ширээний дүрс шилжүүлэгч
Name[mr]=डेस्कटॉप चिन्ह स्विचर
Name[ms]=Penukar ikon desktop
Name[mt]=Switcher tal-ikona tad-desktop
Name[my]=ဒက်စ်တော့အိုင်ကွန်ပြောင်းကိရိယာ
Name[ne]=डेस्कटप आइकन स्विचर
Name[nl]=Schakelaar voor bureaubladpictogrammen
Name[no]=Bytter for skrivebordsikoner
Name[ny]=Chosinthira chithunzi cha desktop
Name[om]=Jijjiirraa mallattoo deeskitooppii
Name[or]=ଡେସ୍କଟପ୍ ଆଇକନ୍ ସୁଇଚର୍ |
Name[pa]=ਡੈਸਕਟਾਪ ਆਈਕਨ ਸਵਿੱਚਰ
Name[pl]=Przełącznik ikon na pulpicie
Name[ps]=ﯽﮑﻧﻮﻟﺪﺑ ﻥﻮﮑﯿﺋﺁ ﭖﺎټﺴﯾډ ﺩ
Name[pt]=Seletor de ícones da área de trabalho
Name[qu]=Escritorio icono cambiador
Name[ro]=Comutator de pictograme de pe desktop
Name[rw]=Ibishushanyo bya desktop
Name[sa]=डेस्कटॉप चिह्न स्विचर
Name[sd]=ﺮﭽﺋﻮﺳ ﻦڪﺋﺁ ﭖﺎٽ ڪﺴﻳڊ
Name[si]=ඩෙස්ක්ටොප් අයිකන ස්විචරය
Name[sk]=Prepínač ikon na pracovnej ploche
Name[sl]=Preklopnik ikon na namizju
Name[sm]=Sui ata o le Desktop
Name[sn]=Desktop icon switcher
Name[so]=Astaanta Desktop beddelka
Name[sq]=Ndërruesi i ikonave të desktopit
Name[st]=Switcher ea setšoantšo sa desktop
Name[su]=Switcher ikon desktop
Name[sv]=Bytare för skrivbordsikoner
Name[sw]=Swichi ya ikoni ya eneo-kazi
Name[ta]=டெஸ்க்டாப் ஐகான் மாற்றி
Name[te]=డెస్క్u200cటాప్ ఐకాన్ స్విచ్చర్
Name[tg]=Ивазкунандаи нишонаи мизи корӣ
Name[th]=ตัวสลับไอคอนเดสก์ท็อป
Name[ti]=ናይ ዴስክቶፕ ምልክት መቐያየሪ
Name[tk]=Iş stolunyň nyşany
Name[tl]=Tagalipat ng icon sa desktop
Name[to]=Fakaʻilonga ʻo e desktop switcher
Name[tr]=Masaüstü simge değiştirici
Name[ts]=Xicinci xa swifaniso swa desktop
Name[tt]=Эш өстәле иконасы
Name[tw]=Desktop ahyɛnsode a ɛsakra
Name[ty]=Desktop icon switcher
Name[ug]=ﻰﺴﯩﮕﻟەﺒﻨﯩﺳ ﻯﺯﯜﻳ ﻝەﺘﺳﯜﺋ
Name[uk]=Перемикач значків на робочому столі
Name[ur]=ﺮﭽﺋﻮﺳ ﻦﮑﯿﺋﺁ ﭖﺎﭨ ﮏﺴﯾﮈ
Name[uz]=Ish stoli piktogramma almashtirgich
Name[vi]=Trình chuyển đổi biểu tượng máy tính để bàn
Name[xh]=Isitshintshi somfanekiso weDesktop
Name[yi]=רעשטטיווס ןאַקיי פּאָטקסעד
Name[yo]=Ojú-iṣẹ icon switcher
Name[zh]=桌面图标切换器
Name[zu]=Isishintshi sesithonjana sedeskithophu
Name=Desktop icon switcher
Icon=mini-icons.xpm
Comment[fr]=Icônes du bureau : Icon switcher
Comment[bg]=Промяна на иконите на работния плот и менюто
Comment[de]=Ändern von Desktop- und Menüsymbolen
Comment[es]=Icon Switcher: cambiar los íconos del escritorio
Comment[ru]=Промяна на иконите на работния плот и менюто
Comment[af]=Verander lessenaar- en spyskaart-ikone
Comment[am]=የዴስክቶፕ እና የምናሌ አዶዎችን ይቀይሩ
Comment[ar]=ﺔﻤﺋﺎﻘﻟﺍﻭ ﺐﺘﻜﻤﻟﺍ ﺢﻄﺳ ﺕﺎﻧﻮﻘﻳﺃ ﺮﻴﻴﻐﺗ
Comment[as]=ডেস্কটপ আৰু মেনু আইকন সলনি কৰক
Comment[ay]=Escritorio ukat menú ukanakan chimpunakapar mayjt’ayaña
Comment[az]=İş masası və menyu nişanlarını dəyişdirin
Comment[ba]=Эш өҫтәлен һәм меню иконаларын алмаштырырға
Comment[be]=Змена значкоў працоўнага стала і меню
Comment[bm]=Tabali ni menu taamasiyɛnw Changer
Comment[bn]=ডেস্কটপ এবং মেনু আইকন পরিবর্তন করুন
Comment[bo]=ཅོག་ཙེ་དང་ཟས་ཐོའི་མཚོན་རྟགས་བརྗེ་དགོས།
Comment[bs]=Promijenite radnu površinu i ikone menija
Comment[ca]=Canvia les icones de lescriptori i del menú
Comment[co]=Cambia licona di u desktop è di u menu
Comment[cs]=Změňte ikony na ploše a v nabídce
Comment[cy]=Newid eiconau bwrdd gwaith a dewislen
Comment[da]=Skift skrivebords- og menuikoner
Comment[dv]=ންރުކުލުދަބަ ންކޮއިއަ ނޫމެ ދިއަ ޕްޓޮކްސްޑެ
Comment[ee]=Trɔ kplɔ̃dzi kple menu ƒe dzesiwo
Comment[el]=Αλλαγή εικονιδίων επιφάνειας εργασίας και μενού
Comment[eo]=Ŝanĝu labortablaj kaj menuaj ikonoj
Comment[et]=Muutke töölaua ja menüü ikoone
Comment[eu]=Aldatu mahaigaineko eta menuko ikonoak
Comment[fa]=ﺪﯿﻫﺩ ﺮﯿﯿﻐﺗ ﺍﺭ ﻮﻨﻣ ﻭ ﭖﺎﺘﮑﺳﺩ ﯼﺎﻫ ﻥﻮﮑﯾﺁ
Comment[fi]=Muuta työpöydän ja valikon kuvakkeita
Comment[fj]=Veisautaka na ivakatakilakila ni delanidesi kei na menu
Comment[fo]=Broyting og menu iconar.
Comment[fy]=Feroarje buroblêd en menu ikoanen
Comment[ga]=Athraigh deilbhíní deisce agus roghchláir
Comment[gd]=Atharraich ìomhaighean deasg agus clàr
Comment[gl]=Cambia as iconas do escritorio e do menú
Comment[gn]=Emoambue umi icono escritorio ha menú rehegua
Comment[gu]=ડેસ્કટોપ અને મેનુ ચિહ્નો બદલો
Comment[ha]=Canja gumakan tebur da menu
Comment[he]=טירפתהו הדובעה ןחלוש למס תא הנש
Comment[hi]=डेस्कटॉप और मेनू आइकन बदलें
Comment[hr]=Promijenite ikone na radnoj površini i izborniku
Comment[ht]=Chanje ikon Desktop ak meni yo
Comment[hu]=Az asztali és menüikonok módosítása
Comment[hy]=Փոխեք աշխատասեղանի և մենյուի պատկերակները
Comment[id]=Ubah ikon desktop dan menu
Comment[ig]=Gbanwee akara ngosi desktọpụ na menu
Comment[is]=Breyttu skjáborðs- og valmyndartáknum
Comment[it]=Cambia le icone del desktop e del menu
Comment[iu]=ᐊᓯᔾᔨᕐᓗᒍ ᖃᕆᑕᐅᔭᐅᑉ ᖄᖓ ᐊᒻᒪ ᓂᕆᔭᒃᓴᑦ
Comment[ja]=デスクトップとメニューのアイコンを変更する
Comment[jv]=Ngganti lambang desktop lan menu
Comment[ka]=შეცვალეთ დესკტოპის და მენიუს ხატები
Comment[kk]=Жұмыс үстелі мен мәзір белгішелерін өзгертіңіз
Comment[km]=ផ្លាស់ប្តូររូបតំណាងលើតុ និងម៉ឺនុយ
Comment[kn]=ಡೆಸ್ಕ್u200cಟಾಪ್ ಮತ್ತು ಮೆನು ಐಕಾನ್u200cಗಳನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=바탕 화면 및 메뉴 아이콘 변경
Comment[ku]=îkonên sermaseyê û menuyê biguherînin
Comment[ky]=Иш тактасынын жана менюнун сүрөтчөлөрүн өзгөртүү
Comment[la]=Mutatio desktop et menu iconum
Comment[lb]=Änneren Desktop a Menü Ikonen
Comment[lg]=Kyusa obubonero bwa desktop ne menu
Comment[ln]=Bobongola bilembo ya bureau mpe ya menu
Comment[lo]=ປ່ຽນໄອຄອນເດັສທັອບ ແລະເມນູ
Comment[lt]=Pakeiskite darbalaukio ir meniu piktogramas
Comment[lv]=Mainiet darbvirsmas un izvēlņu ikonas
Comment[mg]=Hanova ny kisary desktop sy sakafo
Comment[mi]=Hurihia nga tohu papamahi me te tahua
Comment[mk]=Променете ги иконите на работната површина и менито
Comment[ml]=ഡെസ്ക്ടോപ്പ്, മെനു ഐക്കണുകൾ മാറ്റുക
Comment[mn]=Ширээний болон цэсний дүрсийг өөрчлөх
Comment[mr]=डेस्कटॉप आणि मेनू चिन्ह बदला
Comment[ms]=Tukar ikon desktop dan menu
Comment[mt]=Ibdel l-ikoni tad-desktop u tal-menu
Comment[my]=ဒက်စ်တော့နှင့် မီနူးအိုင်ကွန်များကို ပြောင်းပါ။
Comment[ne]=डेस्कटप र मेनु आइकनहरू परिवर्तन गर्नुहोस्
Comment[nl]=Verander bureaublad- en menupictogrammen
Comment[no]=Endre skrivebords- og menyikoner
Comment[ny]=Sinthani zithunzi za desktop ndi menyu
Comment[om]=Sagaleewwan deeskitooppii fi menu jijjiiri
Comment[or]=ଡେସ୍କଟପ୍ ଏବଂ ମେନୁ ଆଇକନ୍ ଗୁଡିକ ପରିବର୍ତ୍ତନ କରନ୍ତୁ |
Comment[pa]=ਡੈਸਕਟਾਪ ਅਤੇ ਮੀਨੂ ਆਈਕਨ ਬਦਲੋ
Comment[pl]=Zmień ikony pulpitu i menu
Comment[ps]=ﺉړﮐ ﻝﺪﺑ ﻪﯿﺒﺷ ﻮﻨﯿﻣ ﻭﺍ ﭖﺎټﺴﯾډ ﺩ
Comment[pt]=Alterar ícones da área de trabalho e do menu
Comment[qu]=Escritorio chaymanta menú iconokunata tikray
Comment[ro]=Schimbați pictogramele de pe desktop și din meniu
Comment[rw]=Hindura desktop na menu ya menu
Comment[sa]=डेस्कटॉप् तथा मेनू चिह्नानि परिवर्तयन्तु
Comment[sd]=ﻮﻳﺮڪ ﻞﻳﺪﺒﺗ ﻲﮐ ﻦڪﺋﺁ ﻮﻴﻨﻴﻣ ۽ ﭖﺎٽ ڪﺴﻳڊ
Comment[si]=ඩෙස්ක්ටොප් සහ මෙනු අයිකන වෙනස් කරන්න
Comment[sk]=Zmeňte ikony pracovnej plochy a ponuky
Comment[sl]=Spremenite ikone namizja in menija
Comment[sm]=Suia le desktop ma le menu icons
Comment[sn]=Shandura desktop uye menyu icons
Comment[so]=Beddel desktop iyo icons-ka menu
Comment[sq]=Ndryshoni ikonat e desktopit dhe menusë
Comment[st]=Fetola li-icon tsa desktop le tsa menyu
Comment[su]=Robah desktop sareng ikon ménu
Comment[sv]=Ändra skrivbords- och menyikoner
Comment[sw]=Badilisha icons za desktop na menyu
Comment[ta]=டெஸ்க்டாப் மற்றும் மெனு ஐகான்களை மாற்றவும்
Comment[te]=డెస్క్u200cటాప్ మరియు మెను చిహ్నాలను మార్చండి
Comment[tg]=Нишонаҳои мизи корӣ ва менюро тағир диҳед
Comment[th]=เปลี่ยนไอคอนเดสก์ท็อปและเมนู
Comment[ti]=ናይ ዴስክቶፕን ምልክት ምልክትን ምልክታት ምቕያር
Comment[tk]=Iş stoly we menýu nyşanlaryny üýtgediň
Comment[tl]=Baguhin ang mga icon ng desktop at menu
Comment[to]=Liliu e ngaahi fakaʻilonga ki he desktop mo e menu
Comment[tr]=Masaüstü ve menü simgelerini değiştirin
Comment[ts]=Cinca swifaniso swa desktop na menu
Comment[tt]=Эш өстәле һәм меню иконаларын үзгәртү
Comment[tw]=Sesa desktop ne menu ahyɛnsode ahorow
Comment[ty]=Taui i te iri papairaa e te tabula ohipa
Comment[ug]=ﯔﯩﺗﺭەﮔﺯﯚﺋ ﻰﻨﯩﺴﯩﮕﻟەﺒﻨﯩﺳ ﻚﯩﻠﻤﯨﺰﯩﺗ ەﯞ ﻰﺘﺳﯜﺌﻟەﺘﺳﯜﺋ
Comment[uk]=Зміна значків робочого столу та меню
Comment[ur]=۔ﮟﯾﺮﮐ ﻞﯾﺪﺒﺗ ﻮﮐ ﺰﻨﮑﯿﺋﺁ ﻮﻨﯿﻣ ﺭﻭﺍ ﭖﺎﭨ ﮏﺴﯾﮈ
Comment[uz]=Ish stoli va menyu belgilarini ozgartiring
Comment[vi]=Thay đổi biểu tượng máy tính để bàn và menu
Comment[xh]=Guqula ii icon zedesktop kunye nemenyu
Comment[yi]=זנאַקיי וינעמ ןוא פּאַטקסעד ןשיוט
Comment[yo]=Yi tabili ati awọn aami akojọ aṣayan pada
Comment[zh]=更改桌面和菜单图标
Comment[zu]=Shintsha izithonjana zedeskithophu nezemenyu
Comment=Change desktop and menu icons
Exec=icon_switcher
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=PIS
