[Desktop Entry]
Encoding=UTF-8
Name[fr]=Icônes du bureau : Icon switcher
Name[bg]=Превключвател на икони на работния плот
Name[de]=Desktop-Symbolumschalter
Name=Desktop icon switcher
Icon=mini-icons.xpm
Comment[bg]=Промяна на иконите на работния плот и менюто
Comment[de]=Ändern von Desktop- und Menüsymbolen
Comment=Change desktop and menu icons
Exec=icon_switcher
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=PIS
