[Desktop Entry]
Encoding=UTF-8
Name[fr]=Informations Réseau : IPInfo
Name[bg]=IPInfo мрежова информация
Name[de]=IPInfo-Netzwerkinformationen
Name[es]=IPInfo: información de la red
Name[ru]=IPInfo информация о сети
Name[af]=IPInfo netwerk inligting
Name[am]=IPInfo አውታረ መረብ መረጃ
Name[ar]=IPInfo ﺔﻜﺒﺷ ﺕﺎﻣﻮﻠﻌﻣ
Name[as]=IPInfo নেটৱৰ্ক তথ্য
Name[ay]=IPInfo red ukan yatiyawipa
Name[az]=IPInfo şəbəkə məlumatı
Name[ba]=IPInfo селтәре тураһында мәғлүмәт
Name[be]=Інфармацыя пра сетку IPInfo
Name[bm]=IPInfo rezo kunnafoniw
Name[bn]=IPInfo নেটওয়ার্ক তথ্য
Name[bo]=IPInfoདྲ་རྒྱའི་ཆ་འཕྲིན།
Name[bs]=IPInfo mrežne informacije
Name[ca]=Informació de la xarxa IPInfo
Name[co]=Informazioni di rete IPInfo
Name[cs]=Informace o síti IPInfo
Name[cy]=Gwybodaeth rhwydwaith IPinfo
Name[da]=IPInfo netværksoplysninger
Name[dv]=ތުމާލޫއުމަ ގެކްވޯޓްނެ ފޯންއިޕީއިއަ
Name[ee]=IPInfo ƒe network ŋuti nyatakakawo
Name[el]=Πληροφορίες δικτύου IPInfo
Name[eo]=IPInfo-retaj informoj
Name[et]=IPInfo võrguteave
Name[eu]=IPInfo sareko informazioa
Name[fa]=IPInfo ﻪﮑﺒﺷ ﺕﺎﻋﻼ﻿ﻃﺍ
Name[fi]=IPInfo-verkon tiedot
Name[fj]=iTukutuku ni ilawalawa vakacakacaka ni IPInfo
Name[fo]=IPInfo network information
Name[fy]=IPInfo netwurk ynformaasje
Name[ga]=Faisnéise líonra IPinfo
Name[gd]=Fiosrachadh lìonraidh IPInfo
Name[gl]=Información da rede IPInfo
Name[gn]=IPInfo marandu red rehegua
Name[gu]=IPInfo નેટવર્ક માહિતી
Name[ha]=Bayanin hanyar sadarwa na IPInfo
Name[he]=IPInfo תשר לע עדימ
Name[hi]=IPInfo नेटवर्क जानकारी
Name[hr]=IPInfo informacije o mreži
Name[ht]=Enfòmasyon sou rezo IPInfo
Name[hu]=IPInfo hálózati információk
Name[hy]=IPInfo ցանցի տեղեկատվություն
Name[id]=Informasi jaringan IPInfo
Name[ig]=Ozi netwọk IPInfo
Name[is]=IPInfo netupplýsingar
Name[it]=Informazioni sulla rete IPInfo
Name[iu]=IPInfo Network ᒥᒃᓵᓄᑦ ᑐᑭᓯᐅᒪᔾᔪᑏᑦ
Name[ja]=IPInfo ネットワーク情報
Name[jv]=Informasi jaringan IPInfo
Name[ka]=IPInfo ქსელის ინფორმაცია
Name[kk]=IPInfo желісі туралы ақпарат
Name[km]=ព័ត៌មានបណ្តាញ IPInfo
Name[kn]=IPInfo ನೆಟ್u200cವರ್ಕ್ ಮಾಹಿತಿ
Name[ko]=IPInfo 네트워크 정보
Name[ku]=Agahdariya torê IPInfo
Name[ky]=IPInfo тармак маалыматы
Name[la]=IPInfo network notitia
Name[lb]=IPInfo Netzwierkinformatioun
Name[lg]=Ebikwata ku mutimbagano gwa IPInfo
Name[ln]=Ba sango ya réseau ya IPInfo
Name[lo]=ຂໍ້ມູນເຄືອຂ່າຍ IPInfo
Name[lt]=IPInfo tinklo informacija
Name[lv]=IPInfo tīkla informācija
Name[mg]=Ny fampahalalana momba ny tambajotra IPInfo
Name[mi]=IPInfo korero whatunga
Name[mk]=Информации за мрежата IPInfo
Name[ml]=IPInfo നെറ്റ്u200cവർക്ക് വിവരങ്ങൾ
Name[mn]=IPInfo сүлжээний мэдээлэл
Name[mr]=IPInfo नेटवर्क माहिती
Name[ms]=Maklumat rangkaian IPInfo
Name[mt]=Informazzjoni tan-netwerk IPInfo
Name[my]=IPInfo ကွန်ရက်အချက်အလက်
Name[ne]=IPInfo नेटवर्क जानकारी
Name[nl]=IPInfo-netwerkinformatie
Name[no]=IPInfo nettverksinformasjon
Name[ny]=IPInfo network zambiri
Name[om]=Odeeffannoo networkii IPInfo
Name[or]=IPInfo ନେଟୱାର୍କ ସୂଚନା |
Name[pa]=IPInfo ਨੈੱਟਵਰਕ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o sieci IPInfo
Name[ps]=ﺕﺎﻣﻮﻠﻌﻣ ﯥﮑﺒﺷ IPInfo ﺩ
Name[pt]=Informações da rede IPInfo
Name[qu]=IPInfo llika willakuy
Name[ro]=informații despre rețea IPInfo
Name[rw]=IPInfo amakuru yurusobe
Name[sa]=IPInfo संजालसूचना
Name[sd]=IPInfo ﮠﺎﭴ ڪﺭﻭ ٽﻴﻧ
Name[si]=IPInfo ජාල තොරතුරු
Name[sk]=Informácie o sieti IPInfo
Name[sl]=Informacije o omrežju IPInfo
Name[sm]=IPInfo faamatalaga fesootaiga
Name[sn]=IPInfo network ruzivo
Name[so]=Macluumaadka shabakada IPInfo
Name[sq]=Informacioni i rrjetit IPInfo
Name[st]=Lintlha tsa marang-rang tsa IPInfo
Name[su]=Inpo jaringan IPInfo
Name[sv]=IPInfo nätverksinformation
Name[sw]=Taarifa za mtandao wa IPInfo
Name[ta]=IPInfo நெட்வொர்க் தகவல்
Name[te]=IPInfo నెట్u200cవర్క్ సమాచారం
Name[tg]=Маълумот дар шабакаи IPInfo
Name[th]=ข้อมูลเครือข่าย IPInfo
Name[ti]=ሓበሬታ መርበብ ሓበሬታ IPInfo
Name[tk]=IPInfo tor maglumatlary
Name[tl]=Impormasyon sa network ng IPInfo
Name[to]=FAKAMATALA ki he netiueka IPInfo
Name[tr]=IPInfo ağ bilgisi
Name[ts]=Vuxokoxoko bya netiweke ya IPInfo
Name[tt]=IPInfo челтәре турында мәгълүмат
Name[tw]=IPInfo ntwamutam ho nsɛm
Name[ty]=Haamaramaramaraa no nia i te puereni IPInfo
Name[ug]=IPInfo ﻯﺭﯘﭼﯘﺋ ﺭﻮﺗ
Name[uk]=Інформація про мережу IPInfo
Name[ur]=IPInfo ﺕﺎﻣﻮﻠﻌﻣ ﯽﮐ ﮎﺭﻭ ﭧﯿﻧ
Name[uz]=IPInfo tarmoq malumotlari
Name[vi]=Thông tin mạng IPInfo
Name[xh]=Ulwazi lwenethiwekhi ye-IPInfo
Name[yi]=IPInfo עיצאַמראָפֿניא ץענ
Name[yo]=IPInfo nẹtiwọki alaye
Name[zh]=IPInfo网络信息
Name[zu]=Ulwazi lwenethiwekhi ye-IPInfo
Name=IPInfo network information
Icon=mini-telnet.xpm
Comment[fr]=Informations Réseau : IPInfo
Comment[bg]=IPInfo мрежова информация
Comment[de]=IPInfo-Netzwerkinformationen
Comment[es]=IPInfo: información de la red
Comment[ru]=IPInfo мрежова информация
Comment[af]=IPInfo netwerk inligting
Comment[am]=IPInfo አውታረ መረብ መረጃ
Comment[ar]=IPInfo ﺔﻜﺒﺷ ﺕﺎﻣﻮﻠﻌﻣ
Comment[as]=IPInfo নেটৱৰ্ক তথ্য
Comment[ay]=IPInfo red ukan yatiyawipa
Comment[az]=IPInfo şəbəkə məlumatı
Comment[ba]=IPInfo селтәре тураһында мәғлүмәт
Comment[be]=Інфармацыя пра сетку IPInfo
Comment[bm]=IPInfo rezo kunnafoniw
Comment[bn]=IPInfo নেটওয়ার্ক তথ্য
Comment[bo]=IPInfoདྲ་རྒྱའི་ཆ་འཕྲིན།
Comment[bs]=IPInfo mrežne informacije
Comment[ca]=Informació de la xarxa IPInfo
Comment[co]=Informazioni di rete IPInfo
Comment[cs]=Informace o síti IPInfo
Comment[cy]=Gwybodaeth rhwydwaith IPinfo
Comment[da]=IPInfo netværksoplysninger
Comment[dv]=ތުމާލޫއުމަ ގެކްވޯޓްނެ ފޯންއިޕީއިއަ
Comment[ee]=IPInfo ƒe network ŋuti nyatakakawo
Comment[el]=Πληροφορίες δικτύου IPInfo
Comment[eo]=IPInfo-retaj informoj
Comment[et]=IPInfo võrguteave
Comment[eu]=IPInfo sareko informazioa
Comment[fa]=IPInfo ﻪﮑﺒﺷ ﺕﺎﻋﻼ﻿ﻃﺍ
Comment[fi]=IPInfo-verkon tiedot
Comment[fj]=iTukutuku ni ilawalawa vakacakacaka ni IPInfo
Comment[fo]=IPInfo network information
Comment[fy]=IPInfo netwurk ynformaasje
Comment[ga]=Faisnéise líonra IPinfo
Comment[gd]=Fiosrachadh lìonraidh IPInfo
Comment[gl]=Información da rede IPInfo
Comment[gn]=IPInfo marandu red rehegua
Comment[gu]=IPInfo નેટવર્ક માહિતી
Comment[ha]=Bayanin hanyar sadarwa na IPInfo
Comment[he]=IPInfo תשר לע עדימ
Comment[hi]=IPInfo नेटवर्क जानकारी
Comment[hr]=IPInfo informacije o mreži
Comment[ht]=Enfòmasyon sou rezo IPInfo
Comment[hu]=IPInfo hálózati információk
Comment[hy]=IPInfo ցանցի տեղեկատվություն
Comment[id]=Informasi jaringan IPInfo
Comment[ig]=Ozi netwọk IPInfo
Comment[is]=IPInfo netupplýsingar
Comment[it]=Informazioni sulla rete IPInfo
Comment[iu]=IPInfo Network ᒥᒃᓵᓄᑦ ᑐᑭᓯᐅᒪᔾᔪᑏᑦ
Comment[ja]=IPInfo ネットワーク情報
Comment[jv]=Informasi jaringan IPInfo
Comment[ka]=IPInfo ქსელის ინფორმაცია
Comment[kk]=IPInfo желісі туралы ақпарат
Comment[km]=ព័ត៌មានបណ្តាញ IPInfo
Comment[kn]=IPInfo ನೆಟ್u200cವರ್ಕ್ ಮಾಹಿತಿ
Comment[ko]=IPInfo 네트워크 정보
Comment[ku]=Agahdariya torê IPInfo
Comment[ky]=IPInfo тармак маалыматы
Comment[la]=IPInfo network notitia
Comment[lb]=IPInfo Netzwierkinformatioun
Comment[lg]=Ebikwata ku mutimbagano gwa IPInfo
Comment[ln]=Ba sango ya réseau ya IPInfo
Comment[lo]=ຂໍ້ມູນເຄືອຂ່າຍ IPInfo
Comment[lt]=IPInfo tinklo informacija
Comment[lv]=IPInfo tīkla informācija
Comment[mg]=Ny fampahalalana momba ny tambajotra IPInfo
Comment[mi]=IPInfo korero whatunga
Comment[mk]=Информации за мрежата IPInfo
Comment[ml]=IPInfo നെറ്റ്u200cവർക്ക് വിവരങ്ങൾ
Comment[mn]=IPInfo сүлжээний мэдээлэл
Comment[mr]=IPInfo नेटवर्क माहिती
Comment[ms]=Maklumat rangkaian IPInfo
Comment[mt]=Informazzjoni tan-netwerk IPInfo
Comment[my]=IPInfo ကွန်ရက်အချက်အလက်
Comment[ne]=IPInfo नेटवर्क जानकारी
Comment[nl]=IPInfo-netwerkinformatie
Comment[no]=IPInfo nettverksinformasjon
Comment[ny]=IPInfo network zambiri
Comment[om]=Odeeffannoo networkii IPInfo
Comment[or]=IPInfo ନେଟୱାର୍କ ସୂଚନା |
Comment[pa]=IPInfo ਨੈੱਟਵਰਕ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o sieci IPInfo
Comment[ps]=ﺕﺎﻣﻮﻠﻌﻣ ﯥﮑﺒﺷ IPInfo ﺩ
Comment[pt]=Informações da rede IPInfo
Comment[qu]=IPInfo llika willakuy
Comment[ro]=informații despre rețea IPInfo
Comment[rw]=IPInfo amakuru yurusobe
Comment[sa]=IPInfo संजालसूचना
Comment[sd]=IPInfo ﮠﺎﭴ ڪﺭﻭ ٽﻴﻧ
Comment[si]=IPInfo ජාල තොරතුරු
Comment[sk]=Informácie o sieti IPInfo
Comment[sl]=Informacije o omrežju IPInfo
Comment[sm]=IPInfo faamatalaga fesootaiga
Comment[sn]=IPInfo network ruzivo
Comment[so]=Macluumaadka shabakada IPInfo
Comment[sq]=Informacioni i rrjetit IPInfo
Comment[st]=Lintlha tsa marang-rang tsa IPInfo
Comment[su]=Inpo jaringan IPInfo
Comment[sv]=IPInfo nätverksinformation
Comment[sw]=Taarifa za mtandao wa IPInfo
Comment[ta]=IPInfo நெட்வொர்க் தகவல்
Comment[te]=IPInfo నెట్u200cవర్క్ సమాచారం
Comment[tg]=Маълумот дар шабакаи IPInfo
Comment[th]=ข้อมูลเครือข่าย IPInfo
Comment[ti]=ሓበሬታ መርበብ ሓበሬታ IPInfo
Comment[tk]=IPInfo tor maglumatlary
Comment[tl]=Impormasyon sa network ng IPInfo
Comment[to]=FAKAMATALA ki he netiueka IPInfo
Comment[tr]=IPInfo ağ bilgisi
Comment[ts]=Vuxokoxoko bya netiweke ya IPInfo
Comment[tt]=IPInfo челтәре турында мәгълүмат
Comment[tw]=IPInfo ntwamutam ho nsɛm
Comment[ty]=Haamaramaramaraa no nia i te puereni IPInfo
Comment[ug]=IPInfo ﻯﺭﯘﭼﯘﺋ ﺭﻮﺗ
Comment[uk]=Інформація про мережу IPInfo
Comment[ur]=IPInfo ﺕﺎﻣﻮﻠﻌﻣ ﯽﮐ ﮎﺭﻭ ﭧﯿﻧ
Comment[uz]=IPInfo tarmoq malumotlari
Comment[vi]=Thông tin mạng IPInfo
Comment[xh]=Ulwazi lwenethiwekhi ye-IPInfo
Comment[yi]=IPInfo עיצאַמראָפֿניא ץענ
Comment[yo]=IPInfo nẹtiwọki alaye
Comment[zh]=IPInfo网络信息
Comment[zu]=Ulwazi lwenethiwekhi ye-IPInfo
Comment=IPInfo network information
Exec=ipinfo
Terminal=false
Type=Application
Categories=X-System
GenericName=IPInfo
