[Desktop Entry]
Encoding=UTF-8
Name[fr]=Informations Réseau : IPInfo
Name[bg]=IPInfo мрежова информация
Name[de]=IPInfo-Netzwerkinformationen
Name[es]=IPInfo: información de la red
Name[ru]=IPInfo мрежова информация
Name=IPInfo network information
Icon=mini-telnet.xpm
Comment[fr]=Informations Réseau : IPInfo
Comment[bg]=IPInfo мрежова информация
Comment[de]=IPInfo-Netzwerkinformationen
Comment[es]=IPInfo: información de la red
Comment[ru]=IPInfo мрежова информация
Comment=IPInfo network information
Exec=ipinfo
Terminal=false
Type=Application
Categories=X-System
GenericName=IPInfo
