[Desktop Entry]
Encoding=UTF-8
Name=Limine bootloader installer
Icon=limine-installer.png
Comment=Limine bootloader installer
Exec=limine-installer
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Limine Installer
