[Desktop Entry]
Encoding=UTF-8
Name[fr]=Installeur du chargeur d'amorçage Limine
Name[bg]=Limine буутлоудър инсталатор
Name=Limine bootloader installer
Icon=limine-installer.png
Comment[fr]=Installeur du chargeur d'amorçage Limine
Comment[bg]=Limine буутлоудър инсталатор
Comment=Limine bootloader installer
Exec=limine-installer
Terminal=false
Type=Application
Categories=X-Setup-installation
GenericName=Limine Installer
