[Desktop Entry]
Encoding=UTF-8
Name[fr]=Configurer votre identifiant
Name[bg]=Мениджър за влизане и защита
Name[de]=Anmelde- und Sicherheitsmanager
Name=Login and Security Manager
Icon=mini-System-security.xpm
Comment[bg]=LoginManager конфигуриране на вход и сигурност
Comment[de]=LoginManager konfigurieren Anmeldung und Sicherheit
Comment=LoginManager configure login and security
Exec=loginmanager
Terminal=false
Type=Application
Categories=X-System-security
GenericName=loginmanager
