[Desktop Entry]
Encoding=UTF-8
Name=MoManager translation manager, old version
Icon=chooselocale.xpm
Comment=MoManager create non-English translations
Exec=momanager0
Terminal=false
Type=Application
Categories=X-Utility-development
GenericName=MoManager
