[Desktop Entry]
Encoding=UTF-8
Name[fr]=Assistant souris/clavier
Name[bg]=Съветник за мишка/клавиатура
Name[de]=Maus-/Tastatur-Assistent
Name[es]=Asistente para ratón/teclado
Name[ru]=Мастер мыши/клавиатуры
Name=Mouse/keyboard Wizard
Icon=wizard16.xpm
Comment[bg]=Съветник за мишка/клавиатура
Comment[de]=Maus-/Tastatur-Assistent
Comment[es]=Asistente para configurar el ratón/teclado
Comment[ru]=Мастер мыши/клавиатуры
Comment=Mouse/keyboard Wizard
Exec=input-wizard
Terminal=false
Type=Application
Categories=X-Setup-wizard
GenericName=Mouse/keyboard Wizard
