[Desktop Entry]
Encoding=UTF-8
Name=MoveIcons tray or desktop
Comment=Move icons to tray or desktop
Icon=desktop-icons.png
Exec=moveicons
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=MoveIcons
