[Desktop Entry]
Encoding=UTF-8
Name[fr]=Assistant carte son multiples
Name=Multiple Sound Card Wizard
Icon=wizard16.xpm
Comment[fr]=Assistant carte son multiples
Comment=Multiple Sound Card Wizard
Exec=mscw
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=MSCW
