[Desktop Entry]
Version=1.0
Name[be]=Трансляцыя/запіс відэа OBS Studio
Name[bg]=OBS Studio видео стрийминг/запис
Name[zh-CN]=OBS Studio 视频流/录制
Name[da]=OBS Studio videostreaming/optagelse
Name[nl]=OBS Studio videostreaming/-opname
Name[et]=OBS Studio video voogesitus/salvestus
Name[tl]=OBS Studio video streaming/recording
Name[fi]=OBS Studion videon suoratoisto/tallennus
Name[fr]=Diffusion/enregistrement vidéo OBS Studio
Name[de]=OBS Studio-Videostreaming/-aufzeichnung
Name[el]=Ροή/εγγραφή βίντεο OBS Studio
Name[hu]=OBS Studio videó streamelés/rögzítés
Name[is]=OBS Studio straumspilun/upptaka
Name[it]=Streaming/registrazione video di OBS Studio
Name[no]=OBS Studio videostreaming/opptak
Name[pl]=Strumieniowe przesyłanie/nagrywanie wideo OBS Studio
Name[pt]=Streaming/gravação de vídeo OBS Studio
Name[ro]=streaming/înregistrare video OBS Studio
Name[ru]=OBS Studio Потоковая передача/запись видео
Name[es]=Transmisión/grabación de video OBS Studio
Name[sv]=OBS Studio videoströmning/inspelning
Name[tr]=OBS Studio video akışı/kaydı
Name[uk]=Потокове відео/запис OBS Studio
Name[af]=OBS Studio videostroom/opname
Name[am]=OBS ስቱዲዮ ቪዲዮ ዥረት / ቀረጻ
Name[ar]=OBS Studio ﻮﻳﺪﻴﻓ ﻞﻴﺠﺴﺗ / ﺚﺑ
Name[as]=OBS Studio ভিডিঅ ষ্ট্ৰীমিং/ৰেকৰ্ডিং
Name[ay]=OBS Studio ukan video uñt’ayaña/grabación
Name[az]=OBS Studio video axını/qeydiyyatı
Name[ba]=OBS Studio видеояҙма/recording
Name[bm]=OBS Studio ka wideyow lasecogo/sɛbɛnni
Name[bn]=OBS স্টুডিও ভিডিও স্ট্রিমিং/রেকর্ডিং
Name[bo]=OBS Studio བརྙན་འཕྲིན་ཁུ་བསྡུ་དང་སྒྲ་ཕབ།
Name[bs]=OBS Studio video streaming/snimanje
Name[ca]=Transmissió/enregistrament de vídeo OBS Studio
Name[co]=OBS Studio video streaming / registrazione
Name[cs]=Streamování/nahrávání videa OBS Studio
Name[cy]=Ffrydio/recordio fideo OBS Studio
Name[dv]=ގންޑިކޯރެ/ގންމިރީޓްސް އޯޑިވީ އޯޑިޓޫސް ސްއެބީއޯ
Name[ee]=OBS Studio ƒe videowo ɖeɖe/wo léle ɖe mɔ̃ dzi
Name[eo]=OBS Studio video streaming/registrado
Name[eu]=OBS Studio bideoaren streaming/grabaketa
Name[fa]=OBS Studio ﻮﺋﺪﯾﻭ ﻂﺒﺿ/ﺶﺨﭘ
Name[fj]=OBS ni vidio ni Valeniyaloyalo Yavala/katokatoni
Name[fo]=OBS Studio video streaming/recording
Name[fy]=OBS Studio fideo streaming / opname
Name[ga]=Sruthú/taifeadadh físeáin OBS Studio
Name[gd]=Sruth / clàradh bhidio OBS Studio
Name[gl]=Transmisión/gravación de vídeo de OBS Studio
Name[gn]=OBS Studio video streaming/grabación rehegua
Name[gu]=OBS સ્ટુડિયો વિડિયો સ્ટ્રીમિંગ/રેકોર્ડિંગ
Name[ha]=OBS Studio yana yawo / rikodi na bidiyo
Name[he]=OBS Studio לש ואדיו תטלקה/תמרזה
Name[hi]=ओबीएस स्टूडियो वीडियो स्ट्रीमिंग/रिकॉर्डिंग
Name[hr]=OBS Studio video streaming/snimanje
Name[ht]=OBS Studio videyo difizyon/anrejistreman
Name[hy]=OBS Studio վիդեո հոսք/ձայնագրում
Name[id]=Streaming/rekaman video OBS Studio
Name[ig]=OBS Studio nkwanye vidiyo / ndekọ
Name[iu]=OBS−ᑯᑦ ᑕᕐᕆᔭᐅᓯᐅᕐᓂᖅ/ᓂᐱᓕᐅᕆᓂᖅ
Name[ja]=OBS Studioビデオストリーミング/録画
Name[jv]=OBS Studio video streaming / ngrekam
Name[ka]=OBS Studio ვიდეოს სტრიმინგი/ჩაწერა
Name[kk]=OBS Studio бейне ағыны/жазбасы
Name[km]=OBS Studio ស្ទ្រីម/ថតវីដេអូ
Name[kn]=OBS ಸ್ಟುಡಿಯೋ ವೀಡಿಯೊ ಸ್ಟ್ರೀಮಿಂಗ್/ರೆಕಾರ್ಡಿಂಗ್
Name[ko]=OBS Studio 비디오 스트리밍/녹화
Name[ku]=Vîdyoya OBS Studio weşana / tomarkirinê
Name[ky]=OBS Studio видео агымы/жазуусу
Name[la]=OBS Studio video streaming/recording
Name[lb]=OBS Studio Video Streaming / Opnam
Name[lg]=OBS Studio okutambuza/okukwata vidiyo
Name[ln]=OBS Studio video ya streaming/enregistrement
Name[lo]=ການຖ່າຍທອດ/ບັນທຶກວິດີໂອ OBS Studio
Name[lt]=OBS Studio vaizdo transliacija / įrašymas
Name[lv]=OBS Studio video straumēšana/ierakstīšana
Name[mg]=OBS Studio fandefasana horonan-tsary / firaketana
Name[mi]=OBS Studio ataata roma / tuhi
Name[mk]=Видео стриминг/снимање на OBS Studio
Name[ml]=OBS സ്റ്റുഡിയോ വീഡിയോ സ്ട്രീമിംഗ്/റെക്കോർഡിംഗ്
Name[mn]=OBS Studio видео дамжуулалт/бичлэг
Name[mr]=ओबीएस स्टुडिओ व्हिडिओ स्ट्रीमिंग/रेकॉर्डिंग
Name[ms]=Penstriman/rakaman video OBS Studio
Name[mt]=OBS Studio video streaming/reġistrazzjoni
Name[my]=OBS Studio ဗီဒီယို တိုက်ရိုက်ကြည့်ရှုခြင်း/ရိုက်ကူးခြင်း။
Name[ne]=OBS स्टुडियो भिडियो स्ट्रिमिङ/रेकर्डिङ
Name[ny]=OBS Studio mavidiyo akukhamukira / kujambula
Name[om]=OBS Studio viidiyoo tamsaasuun/warrabsuu
Name[or]=OBS ଷ୍ଟୁଡିଓ ଭିଡିଓ ଷ୍ଟ୍ରିମିଂ / ରେକର୍ଡିଂ |
Name[pa]=OBS ਸਟੂਡੀਓ ਵੀਡੀਓ ਸਟ੍ਰੀਮਿੰਗ/ਰਿਕਾਰਡਿੰਗ
Name[ps]=ﻝﻮﮐ ﺖﺒﺛ / ګﻨﯿټﺳ ﻮﯾډﯾﻭ ﻮﯾډﻮټﺳ OBS ﺩ
Name[qu]=OBS Studio videokuna purichiy/grabacion
Name[rw]=OBS Studio yerekana amashusho / gufata amajwi
Name[sa]=OBS Studio विडियो स्ट्रीमिंग/रिकार्डिंग
Name[sd]=OBS ﮓﻧڊﺭﺎڪﻳﺭ/ﮓﻨﻤﻳﺮٽﺳﺍ ﻮﻳڊﻭ ﻮﻳڊﻮٽﺳﺍ
Name[si]=OBS Studio වීඩියෝ ප්u200dරවාහය/පටිගත කිරීම
Name[sk]=Streamovanie/nahrávanie videa OBS Studio
Name[sl]=OBS Studio video pretakanje/snemanje
Name[sm]=OBS Studio vitio faʻasalalau / puʻeina
Name[sn]=OBS Studio vhidhiyo kutenderera / kurekodha
Name[so]=OBS Studio streaming / duubista
Name[sq]=Transmetimi/regjistrimi i videos në OBS Studio
Name[st]=OBS Studio ho phallela/ho rekota video
Name[su]=OBS Studio video streaming / rekaman
Name[sw]=Utiririshaji/kurekodi video ya OBS Studio
Name[ta]=OBS ஸ்டுடியோ வீடியோ ஸ்ட்ரீமிங்/பதிவு
Name[te]=OBS స్టూడియో వీడియో స్ట్రీమింగ్/రికార్డింగ్
Name[tg]=Ҷараёни видео / сабти OBS Studio
Name[th]=การสตรีม/บันทึกวิดีโอ OBS Studio
Name[ti]=OBS Studio ቪድዮ ምዝርጋሕ/ምቕራጽ
Name[tk]=OBS Studio wideo akymy / ýazgy
Name[to]=OBS Studio video streaming/lekooti
Name[ts]=Ku khuluka/ku rhekhoda ka vhidiyo ya OBS Studio
Name[tt]=OBS студиясендә видео агым / язу
Name[tw]=OBS Studio video a wɔde fa so/wɔkyere gu kasɛt so
Name[ty]=OBS Studio video streaming/recording
Name[ug]=OBS ﺵەﻠﯨﺮﯩﺗﺎﺧ / ﻰﻤﯩﻘﯧﺋ ﻦﯩﺳ ﯔﯩﻨﯩﺴﯩﻴﯨﺩﯘﺘﺳ
Name[ur]=OBS ﮓﻧﮈﺭﺎﮑﯾﺭ/ﮓﻨﻤﯾﺮﭩﺳ ﻮﯾﮉﯾﻭ ﻮﯾﮈﻮﭩﺳﺍ
Name[uz]=OBS Studio video oqimi/yozib olish
Name[vi]=Truyền phát/ghi video OBS Studio
Name[xh]=Ukusasazwa/ukurekhodwa kwevidiyo ye-OBS Studio
Name[yi]=OBS גנידראָקער / גנימירטס אעדיוו אָידוטס
Name[yo]=OBS Studio fidio sisanwọle / gbigbasilẹ
Name[zu]=Ukusakazwa/ukuqoshwa kwevidiyo ye-OBS Studio
Name=OBS Studio video streaming/recording
GenericName=OBS Studio
Comment[be]=Трансляцыя/запіс відэа OBS Studio
Comment[bg]=OBS Studio видео стрийминг/запис
Comment[zh-CN]=OBS Studio 视频流/录制
Comment[da]=OBS Studio videostreaming/optagelse
Comment[nl]=OBS Studio videostreaming/-opname
Comment[et]=OBS Studio video voogesitus/salvestus
Comment[tl]=OBS Studio video streaming/recording
Comment[fi]=OBS Studion videon suoratoisto/tallennus
Comment[fr]=Diffusion/enregistrement vidéo OBS Studio
Comment[de]=OBS Studio-Videostreaming/-aufzeichnung
Comment[el]=Ροή/εγγραφή βίντεο OBS Studio
Comment[hu]=OBS Studio videó streamelés/rögzítés
Comment[is]=OBS Studio straumspilun/upptaka
Comment[it]=Streaming/registrazione video di OBS Studio
Comment[no]=OBS Studio videostreaming/opptak
Comment[pl]=Strumieniowe przesyłanie/nagrywanie wideo OBS Studio
Comment[pt]=Streaming/gravação de vídeo OBS Studio
Comment[ro]=streaming/înregistrare video OBS Studio
Comment[ru]=Потоковая передача/запись видео OBS Studio
Comment[es]=Transmisión/grabación de video OBS Studio
Comment[sv]=OBS Studio videoströmning/inspelning
Comment[tr]=OBS Studio video akışı/kaydı
Comment[uk]=Потокове відео/запис OBS Studio
Comment[af]=OBS Studio videostroom/opname
Comment[am]=OBS ስቱዲዮ ቪዲዮ ዥረት / ቀረጻ
Comment[ar]=OBS Studio ﻮﻳﺪﻴﻓ ﻞﻴﺠﺴﺗ / ﺚﺑ
Comment[as]=OBS Studio ভিডিঅ ষ্ট্ৰীমিং/ৰেকৰ্ডিং
Comment[ay]=OBS Studio ukan video uñt’ayaña/grabación
Comment[az]=OBS Studio video axını/qeydiyyatı
Comment[ba]=OBS Studio видеояҙма/recording
Comment[bm]=OBS Studio ka wideyow lasecogo/sɛbɛnni
Comment[bn]=OBS স্টুডিও ভিডিও স্ট্রিমিং/রেকর্ডিং
Comment[bo]=OBS Studio བརྙན་འཕྲིན་ཁུ་བསྡུ་དང་སྒྲ་ཕབ།
Comment[bs]=OBS Studio video streaming/snimanje
Comment[ca]=Transmissió/enregistrament de vídeo OBS Studio
Comment[co]=OBS Studio video streaming / registrazione
Comment[cs]=Streamování/nahrávání videa OBS Studio
Comment[cy]=Ffrydio/recordio fideo OBS Studio
Comment[dv]=ގންޑިކޯރެ/ގންމިރީޓްސް އޯޑިވީ އޯޑިޓޫސް ސްއެބީއޯ
Comment[ee]=OBS Studio ƒe videowo ɖeɖe/wo léle ɖe mɔ̃ dzi
Comment[eo]=OBS Studio video streaming/registrado
Comment[eu]=OBS Studio bideoaren streaming/grabaketa
Comment[fa]=OBS Studio ﻮﺋﺪﯾﻭ ﻂﺒﺿ/ﺶﺨﭘ
Comment[fj]=OBS ni vidio ni Valeniyaloyalo Yavala/katokatoni
Comment[fo]=OBS Studio video streaming/recording
Comment[fy]=OBS Studio fideo streaming / opname
Comment[ga]=Sruthú/taifeadadh físeáin OBS Studio
Comment[gd]=Sruth / clàradh bhidio OBS Studio
Comment[gl]=Transmisión/gravación de vídeo de OBS Studio
Comment[gn]=OBS Studio video streaming/grabación rehegua
Comment[gu]=OBS સ્ટુડિયો વિડિયો સ્ટ્રીમિંગ/રેકોર્ડિંગ
Comment[ha]=OBS Studio yana yawo / rikodi na bidiyo
Comment[he]=OBS Studio לש ואדיו תטלקה/תמרזה
Comment[hi]=ओबीएस स्टूडियो वीडियो स्ट्रीमिंग/रिकॉर्डिंग
Comment[hr]=OBS Studio video streaming/snimanje
Comment[ht]=OBS Studio videyo difizyon/anrejistreman
Comment[hy]=OBS Studio վիդեո հոսք/ձայնագրում
Comment[id]=Streaming/rekaman video OBS Studio
Comment[ig]=OBS Studio nkwanye vidiyo / ndekọ
Comment[iu]=OBS−ᑯᑦ ᑕᕐᕆᔭᐅᓯᐅᕐᓂᖅ/ᓂᐱᓕᐅᕆᓂᖅ
Comment[ja]=OBS Studioビデオストリーミング/録画
Comment[jv]=OBS Studio video streaming / ngrekam
Comment[ka]=OBS Studio ვიდეოს სტრიმინგი/ჩაწერა
Comment[kk]=OBS Studio бейне ағыны/жазбасы
Comment[km]=OBS Studio ស្ទ្រីម/ថតវីដេអូ
Comment[kn]=OBS ಸ್ಟುಡಿಯೋ ವೀಡಿಯೊ ಸ್ಟ್ರೀಮಿಂಗ್/ರೆಕಾರ್ಡಿಂಗ್
Comment[ko]=OBS Studio 비디오 스트리밍/녹화
Comment[ku]=Vîdyoya OBS Studio weşana / tomarkirinê
Comment[ky]=OBS Studio видео агымы/жазуусу
Comment[la]=OBS Studio video streaming/recording
Comment[lb]=OBS Studio Video Streaming / Opnam
Comment[lg]=OBS Studio okutambuza/okukwata vidiyo
Comment[ln]=OBS Studio video ya streaming/enregistrement
Comment[lo]=ການຖ່າຍທອດ/ບັນທຶກວິດີໂອ OBS Studio
Comment[lt]=OBS Studio vaizdo transliacija / įrašymas
Comment[lv]=OBS Studio video straumēšana/ierakstīšana
Comment[mg]=OBS Studio fandefasana horonan-tsary / firaketana
Comment[mi]=OBS Studio ataata roma / tuhi
Comment[mk]=Видео стриминг/снимање на OBS Studio
Comment[ml]=OBS സ്റ്റുഡിയോ വീഡിയോ സ്ട്രീമിംഗ്/റെക്കോർഡിംഗ്
Comment[mn]=OBS Studio видео дамжуулалт/бичлэг
Comment[mr]=ओबीएस स्टुडिओ व्हिडिओ स्ट्रीमिंग/रेकॉर्डिंग
Comment[ms]=Penstriman/rakaman video OBS Studio
Comment[mt]=OBS Studio video streaming/reġistrazzjoni
Comment[my]=OBS Studio ဗီဒီယို တိုက်ရိုက်ကြည့်ရှုခြင်း/ရိုက်ကူးခြင်း။
Comment[ne]=OBS स्टुडियो भिडियो स्ट्रिमिङ/रेकर्डिङ
Comment[ny]=OBS Studio mavidiyo akukhamukira / kujambula
Comment[om]=OBS Studio viidiyoo tamsaasuun/warrabsuu
Comment[or]=OBS ଷ୍ଟୁଡିଓ ଭିଡିଓ ଷ୍ଟ୍ରିମିଂ / ରେକର୍ଡିଂ |
Comment[pa]=OBS ਸਟੂਡੀਓ ਵੀਡੀਓ ਸਟ੍ਰੀਮਿੰਗ/ਰਿਕਾਰਡਿੰਗ
Comment[ps]=ﻝﻮﮐ ﺖﺒﺛ / ګﻨﯿټﺳ ﻮﯾډﯾﻭ ﻮﯾډﻮټﺳ OBS ﺩ
Comment[qu]=OBS Studio videokuna purichiy/grabacion
Comment[rw]=OBS Studio yerekana amashusho / gufata amajwi
Comment[sa]=OBS Studio विडियो स्ट्रीमिंग/रिकार्डिंग
Comment[sd]=OBS ﮓﻧڊﺭﺎڪﻳﺭ/ﮓﻨﻤﻳﺮٽﺳﺍ ﻮﻳڊﻭ ﻮﻳڊﻮٽﺳﺍ
Comment[si]=OBS Studio වීඩියෝ ප්u200dරවාහය/පටිගත කිරීම
Comment[sk]=Streamovanie/nahrávanie videa OBS Studio
Comment[sl]=OBS Studio video pretakanje/snemanje
Comment[sm]=OBS Studio vitio faʻasalalau / puʻeina
Comment[sn]=OBS Studio vhidhiyo kutenderera / kurekodha
Comment[so]=OBS Studio streaming / duubista
Comment[sq]=Transmetimi/regjistrimi i videos në OBS Studio
Comment[st]=OBS Studio ho phallela/ho rekota video
Comment[su]=OBS Studio video streaming / ngarékam
Comment[sw]=Utiririshaji/kurekodi video ya OBS Studio
Comment[ta]=OBS ஸ்டுடியோ வீடியோ ஸ்ட்ரீமிங்/பதிவு
Comment[te]=OBS స్టూడియో వీడియో స్ట్రీమింగ్/రికార్డింగ్
Comment[tg]=Ҷараёни видео / сабти OBS Studio
Comment[th]=การสตรีม/บันทึกวิดีโอ OBS Studio
Comment[ti]=OBS Studio ቪድዮ ምዝርጋሕ/ምቕራጽ
Comment[tk]=OBS Studio wideo akymy / ýazgy
Comment[to]=OBS Studio video streaming/lekooti
Comment[ts]=Ku khuluka/ku rhekhoda ka vhidiyo ya OBS Studio
Comment[tt]=OBS студиясендә видео агым / язу
Comment[tw]=OBS Studio video a wɔde fa so/wɔkyere gu kasɛt so
Comment[ty]=OBS Studio video streaming/recording
Comment[ug]=OBS ﺵەﻠﯨﺮﯩﺗﺎﺧ / ﻰﻤﯩﻘﯧﺋ ﻦﯩﺳ ﯔﯩﻨﯩﺴﯩﻴﯨﺩﯘﺘﺳ
Comment[ur]=OBS ﮓﻧﮈﺭﺎﮑﯾﺭ/ﮓﻨﻤﯾﺮﭩﺳ ﻮﯾﮉﯾﻭ ﻮﯾﮈﻮﭩﺳﺍ
Comment[uz]=OBS Studio video oqimi/yozib olish
Comment[vi]=Truyền phát/ghi video OBS Studio
Comment[xh]=Ukusasazwa/ukurekhodwa kwevidiyo ye-OBS Studio
Comment[yi]=OBS גנידראָקער / גנימירטס אעדיוו אָידוטס
Comment[yo]=OBS Studio fidio sisanwọle / gbigbasilẹ
Comment[zu]=Ukusakazwa/ukuqoshwa kwevidiyo ye-OBS Studio
Comment=OBS Studio video streaming/recording
Exec=/usr/local/orange/orange.install obs
Icon=ballorange22.png
Terminal=false
Type=Application
Categories=AudioVideoEditing
StartupNotify=true
StartupWMClass=obs
