[Desktop Entry]
Version=1.0
Name[be]=Трансляцыя/запіс відэа OBS Studio
Name[bg]=OBS Studio видео стрийминг/запис
Name[zh-CN]=OBS Studio 视频流/录制
Name[da]=OBS Studio videostreaming/optagelse
Name[nl]=OBS Studio videostreaming/-opname
Name[et]=OBS Studio video voogesitus/salvestus
Name[tl]=OBS Studio video streaming/recording
Name[fi]=OBS Studion videon suoratoisto/tallennus
Name[fr]=Diffusion/enregistrement vidéo OBS Studio
Name[de]=OBS Studio-Videostreaming/-aufzeichnung
Name[el]=Ροή/εγγραφή βίντεο OBS Studio
Name[hu]=OBS Studio videó streamelés/rögzítés
Name[is]=OBS Studio straumspilun/upptaka
Name[it]=Streaming/registrazione video di OBS Studio
Name[no]=OBS Studio videostreaming/opptak
Name[pl]=Strumieniowe przesyłanie/nagrywanie wideo OBS Studio
Name[pt]=Streaming/gravação de vídeo OBS Studio
Name[ro]=streaming/înregistrare video OBS Studio
Name[ru]=Потоковая передача/запись видео OBS Studio
Name[es]=Transmisión/grabación de video OBS Studio
Name[sv]=OBS Studio videoströmning/inspelning
Name[tr]=OBS Studio video akışı/kaydı
Name[uk]=Потокове відео/запис OBS Studio
Name=OBS Studio video streaming/recording
GenericName=OBS Studio
Comment[be]=Трансляцыя/запіс відэа OBS Studio
Comment[bg]=OBS Studio видео стрийминг/запис
Comment[zh-CN]=OBS Studio 视频流/录制
Comment[da]=OBS Studio videostreaming/optagelse
Comment[nl]=OBS Studio videostreaming/-opname
Comment[et]=OBS Studio video voogesitus/salvestus
Comment[tl]=OBS Studio video streaming/recording
Comment[fi]=OBS Studion videon suoratoisto/tallennus
Comment[fr]=Diffusion/enregistrement vidéo OBS Studio
Comment[de]=OBS Studio-Videostreaming/-aufzeichnung
Comment[el]=Ροή/εγγραφή βίντεο OBS Studio
Comment[hu]=OBS Studio videó streamelés/rögzítés
Comment[is]=OBS Studio straumspilun/upptaka
Comment[it]=Streaming/registrazione video di OBS Studio
Comment[no]=OBS Studio videostreaming/opptak
Comment[pl]=Strumieniowe przesyłanie/nagrywanie wideo OBS Studio
Comment[pt]=Streaming/gravação de vídeo OBS Studio
Comment[ro]=streaming/înregistrare video OBS Studio
Comment[ru]=Потоковая передача/запись видео OBS Studio
Comment[es]=Transmisión/grabación de video OBS Studio
Comment[sv]=OBS Studio videoströmning/inspelning
Comment[tr]=OBS Studio video akışı/kaydı
Comment[uk]=Потокове відео/запис OBS Studio
Comment=OBS Studio video streaming/recording
Exec=obs.install
Icon=ballorange22.png
Terminal=false
Type=Application
Categories=AudioVideoEditing
StartupNotify=true
StartupWMClass=obs
