[Desktop Entry]
Encoding=UTF-8
Name[fr]=Sélecteur de curseur : Pcur
Name[bg]=Селектор на курсора Pcur
Name[de]=Pcur-Cursor-Selektor
Name=Pcur cursor selector
Icon=default_left_ptr.png
Comment[bg]=Селектор на курсора на мишката
Comment[de]=Mauszeiger-Selektor
Comment=Mouse cursor selector
Exec=pcur
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Pcur
