[Desktop Entry]
Encoding=UTF-8
Name[fr]=Sélecteur de curseur : Pcur
Name[bg]=Селектор на курсора Pcur
Name[de]=Pcur-Cursor-Selektor
Name[es]=Pcur: cambiar la apariencia del puntero
Name[ru]=Pcur выбор курсора
Name[tr]=Pcur imleç seçici
Name=Pcur cursor selector
Icon=default_left_ptr.png
Comment[fr]=Sélecteur de curseur : Pcur
Comment[bg]=Селектор на курсора на мишката
Comment[de]=Mauszeiger-Selektor
Comment[es]=Pcur: cambiar la apariencia del puntero
Comment[ru]=Выбор курсора мыши
Comment[tr]=Fare imleci seçici
Comment=Mouse cursor selector
Exec=pcur
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Pcur
