[Desktop Entry]
Encoding=UTF-8
Name[fr]=Dictionnaire en ligne : Pdict
Name[bg]=Pdict онлайн речник
Name[de]=Pdict Online-Wörterbuch
Name=Pdict online dictionary
Icon=mini-book1.xpm
Comment[bg]=Pdict онлайн речник
Comment[de]=Pdict Online-Wörterbuch
Comment=Pdict online dictionary
Exec=pdict
Terminal=false
Type=Application
Categories=X-Document-utility
GenericName=Pdict
