[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des partitions : Pdisk
Name[bg]=Pdisk дял мениджър
Name[de]=Pdisk-Partitionsmanager
Name=Pdisk partition manager
Icon=Pdisk.xpm
Comment[bg]=Pdisk дял мениджър
Comment[de]=Pdisk-Partitionsmanager
Comment=Pdisk partition manager
Exec=Pdisk
Terminal=false
Type=Application
Categories=X-System-storage
GenericName=Pdisk partition manager
