[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=pet2dir
Exec=urxvt -hold -title pet2dir -e pet2dir
Icon=pet16.xpm
Path=/files
MimeType=application/pet
