[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=petget
Exec=petget
Icon=pet16.xpm
MimeType=application/pet;application/x-deb;application/x-bzip-compressed-tar;application/x-xz-compressed-tar
