[Desktop Entry]
Encoding=UTF-8
Name=PKGget Package Manager
Icon=pet16.xpm
Comment=PKGget Package Manager
Exec=/usr/local/petget/ppm
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=PKGget Package Manager
