[Desktop Entry]
Encoding=UTF-8
Name[fr]=Vérifier les dépendances installées
Name[bg]=Проверка на зависимостите, инсталирани pkg
Name[de]=Überprüfen der installierten Abhängigkeiten pkg
Name=Check dependencies installed pkg
Icon=pet16.xpm
Comment[fr]=gestionnaire des paquets, vérification des dépendances installées
Comment[bg]=PKGget мениджър на пакети
Comment[de]=PKGget-Paket-Manager
Comment=PKGget Package Manager
Exec=/usr/local/petget/check_deps.sh
Terminal=false
Type=Application
Categories=X-SetupEntry
GenericName=PKGget Package Manager
