[Desktop Entry]
Encoding=UTF-8
Name[fr]=Vérifier les dépendances installées
Name[bg]=Проверка на зависимостите, инсталирани pkg
Name[de]=Überprüfen der installierten Abhängigkeiten pkg
Name[es]=PKGget: gestor de dependencias
Name[ru]=Проверить установленные зависимости pkg
Name[tr]=Yüklü pkg bağımlılık denetleyici
Name[af]=Kontroleer afhanklikhede geïnstalleerde pkg
Name[am]=ፒኪጂ የተጫኑ ጥገኞችን ያረጋግጡ
Name[ar]=pkg ﺔﺘﺒﺜﻤﻟﺍ ﺕﺎﻴﻌﺒﺘﻟﺍ ﻦﻣ ﻖﻘﺤﺗ
Name[as]=সংস্থাপন কৰা নিৰ্ভৰশীলতাসমূহ পৰীক্ষা কৰক pkg
Name[ay]=Uñakipt’aña dependencias instaladas pkg
Name[az]=Quraşdırılmış pkg asılılıqlarını yoxlayın
Name[ba]=Пкг ҡуйылған тикшереү бойондороҡлолоғо
Name[be]=Праверце залежнасці, устаноўленыя pkg
Name[bm]=Aw ye dependencies installés pkg lajɛ
Name[bn]=পিকেজি ইনস্টল করা নির্ভরতা পরীক্ষা করুন
Name[bo]=སྒྲིག་སྦྱོར་བྱས་པའི་pkgལ་ཞིབ་བཤེར་བྱེད་པ།
Name[bs]=Provjerite zavisnosti instaliranog pkg
Name[ca]=Comproveu les dependències instal·lades pkg
Name[co]=Verificate e dipendenze installate pkg
Name[cs]=Zkontrolujte závislosti nainstalovaného pkg
Name[cy]=Gwirio dibyniaethau gosod pkg
Name[da]=Tjek afhængigheder installeret pkg
Name[dv]=ންރުކުކްޗެ ޖީކޭޕީ ވާއިފަށްކޮ ލްޓޯސްންއި ސްސީންޑެންޕެޑި
Name[ee]=Kpɔ nusiwo dzi woanɔ te ɖo siwo woda ɖe pkg
Name[el]=Ελέγξτε τις εγκατεστημένες εξαρτήσεις pkg
Name[eo]=Kontrolu dependecojn instalitajn pkg
Name[et]=Kontrollige installitud pkg sõltuvusi
Name[eu]=Egiaztatu instalatutako mendekotasunak pkg
Name[fa]=ﺪﯿﻨﮐ ﯽﺳﺭﺮﺑ ﺍﺭ pkg ﻩﺪﺷ ﺐﺼﻧ ﯼﺎﻫ ﯽﮕﺘﺴﺑﺍﻭ
Name[fi]=Tarkista asennetut riippuvuudet pkg
Name[fj]=Raica na dependencies vakacurumi pkg
Name[fo]=Check dependencies installed pkg
Name[fy]=Kontrolearje ôfhinklikens ynstallearre pkg
Name[ga]=Seiceáil spleáchais pkg suiteáilte
Name[gd]=Thoir sùil air eisimeileachd pkg air a stàladh
Name[gl]=Comprobe as dependencias instaladas pkg
Name[gn]=Ehecháke umi dependencia oñemboguapýva pkg
Name[gu]=pkg ઇન્સ્ટોલ કરેલી નિર્ભરતા તપાસો
Name[ha]=Duba abubuwan dogaro da aka shigar pkg
Name[he]=pkg תנקתומ תולת קודב
Name[hi]=pkg स्थापित निर्भरताएँ जाँचें
Name[hr]=Provjerite ovisnosti instaliranog pkg-a
Name[ht]=Tcheke depandans enstale pkg
Name[hu]=Ellenőrizze a függőségeket a telepített pkg
Name[hy]=Ստուգեք տեղադրված կախվածությունները pkg
Name[id]=Periksa dependensi yang diinstal pkg
Name[ig]=Lelee ndabara arụnyere pkg
Name[is]=Athugaðu ósjálfstæði uppsett pkg
Name[it]=Controlla le dipendenze installate pkg
Name[iu]=ᖃᐅᔨᒋᐊᕐᓗᒋᑦ ᑕᑎᖃᖅᑐᑦ ᐃᓕᔭᐅᓯᒪᔪᑦ pkg
Name[ja]=インストールされたパッケージの依存関係を確認する
Name[jv]=Priksa dependensi sing diinstal pkg
Name[ka]=შეამოწმეთ დამოკიდებულებები დაყენებული pkg
Name[kk]=Орнатылған pkg тәуелділіктерін тексеріңіз
Name[km]=ពិនិត្យមើលភាពអាស្រ័យដែលបានដំឡើង pkg
Name[kn]=ಸ್ಥಾಪಿಸಲಾದ pkg ಅವಲಂಬನೆಗಳನ್ನು ಪರಿಶೀಲಿಸಿ
Name[ko]=종속성 설치 패키지 확인
Name[ku]=Girêdanên pkg sazkirî kontrol bikin
Name[ky]=Pkg орнотулган көз карандылыкты текшерүү
Name[la]=Reprehendo clientes installed pkg
Name[lb]=Check Ofhängegkeeten installéiert pkg
Name[lg]=Kebera ebisinziirwako ebiteekeddwamu pkg
Name[ln]=Vérifier ba dépendances oyo etiamaki pkg
Name[lo]=ກວດສອບການຂຶ້ນກັບການຕິດຕັ້ງ pkg
Name[lt]=Patikrinkite įdiegtas priklausomybes pkg
Name[lv]=Pārbaudiet instalētās atkarības pkg
Name[mg]=Jereo ny dependencies napetraka pkg
Name[mi]=Tirohia nga whakawhirinakitanga kua whakauruhia te pkg
Name[mk]=Проверете ги инсталираните зависности pkg
Name[ml]=ഇൻസ്റ്റാൾ ചെയ്ത പികെജി ഡിപൻഡൻസികൾ പരിശോധിക്കുക
Name[mn]=pkg суулгасан хамаарлыг шалгана уу
Name[mr]=स्थापित pkg अवलंबित्व तपासा
Name[ms]=Semak kebergantungan yang dipasang pkg
Name[mt]=Iċċekkja d-dipendenzi installati pkg
Name[my]=pkg ထည့်သွင်းထားသည့် မှီခိုမှုကို စစ်ဆေးပါ။
Name[ne]=pkg स्थापित निर्भरताहरू जाँच गर्नुहोस्
Name[nl]=Controleer afhankelijkheden geïnstalleerd pkg
Name[no]=Sjekk avhengigheter installert pkg
Name[ny]=Chongani zodalira anaika pkg
Name[om]=Hirkatummaa pkg feame sakattai
Name[or]=Pkg ସ୍ଥାପିତ ନିର୍ଭରଶୀଳତା ଯାଞ୍ଚ କରନ୍ତୁ |
Name[pa]=ਸਥਾਪਤ ਪੀਕੇਜੀ ਨਿਰਭਰਤਾ ਦੀ ਜਾਂਚ ਕਰੋ
Name[pl]=Sprawdź zależności zainstalowane pkg
Name[ps]=ﺉړﮐ ﮏﯿﭼ ﺭﺎﺼﺤﻧﺍ ﻱﻮﺷ ﺐﺼﻧ pkg ﺩ
Name[pt]=Verificar dependências instaladas pkg
Name[qu]=Qhaway dependenciakuna churasqa pkg
Name[ro]=Verificați dependențele instalate pkg
Name[rw]=Reba ibishingirwaho byashyizweho pkg
Name[sa]=संस्थापितानि आश्रयाणि पश्यन्तु pkg
Name[sd]=pkg ﻮﻳﺮڪ ڪﻴﭼ ﺭﺎﺼﺤﻧﺍ ﻞﻴﭤ ﻝﺎٽﺴﻧﺍ
Name[si]=Pkg ස්ථාපනය කර ඇති පරායත්තතා පරීක්ෂා කරන්න
Name[sk]=Skontrolujte závislosti nainštalovaného balíka pkg
Name[sl]=Preverite odvisnosti nameščenega pkg
Name[sm]=Siaki faalagolago faapipii pkg
Name[sn]=Tarisa kutsamira kwakaiswa pkg
Name[so]=Hubi kuwa ku tiirsan ee lagu rakibay pkg
Name[sq]=Kontrolloni varësitë e instaluara pkg
Name[st]=Sheba litšepiso tse kentsoeng pkg
Name[su]=Pariksa dependensi dipasang pkg
Name[sv]=Kontrollera beroenden installerade pkg
Name[sw]=Angalia utegemezi uliosakinishwa pkg
Name[ta]=நிறுவப்பட்ட pkg சார்புகளை சரிபார்க்கவும்
Name[te]=ఇన్u200cస్టాల్ చేయబడిన pkg డిపెండెన్సీలను తనిఖీ చేయండి
Name[tg]=Вобастагии насбшударо санҷед pkg
Name[th]=ตรวจสอบการอ้างอิงที่ติดตั้ง pkg
Name[ti]=ጽግዕተኛታት ዝተተኽሉ pkg ምፍታሽ
Name[tk]=Gurlan pkg baglylyklary barlaň
Name[tl]=Suriin ang mga dependency na naka-install na pkg
Name[to]=Vakaiʻi dependencies e kilokalami ʻe
Name[ts]=Languta ku titshega loku nghenisiweke pkg
Name[tt]=Pkg урнаштырылган бәйләнешләрне тикшерегез
Name[tw]=Hwɛ dependencies a wɔde ahyɛ mu pkg
Name[ty]=A hiopoa i te mau mea i haamauhia i nia i te pkg
Name[ug]=ﯓﯛﺭﯜﺸﻛەﺗ ﻰﻨﺸﯩﻨﯩﻘﯧﺑ ﺎﻏ pkg ﻥﺎﻐﻧﻼ﻿ﯩﭼﺎﻗ
Name[uk]=Перевірте залежності встановленого пакета
Name[ur]=۔ﮟﯾﺮﮐ ﮏﯿﭼ ﺭﺎﺼﺤﻧﺍ ﮦﺪﺷ ﻝﺎﭩﺴﻧﺍ ﯽﺟ ﮯﮐ ﯽﭘ
Name[uz]=Ornatilgan pkg bogliqliklarini tekshiring
Name[vi]=Kiểm tra các phụ thuộc đã cài đặt pkg
Name[xh]=Jonga ukuxhomekeka kufakelweyo pkg
Name[yi]=pkg ןרילאַטסניא זיסנאַדנעפּיד יד קוק
Name[yo]=Ṣayẹwo awọn igbẹkẹle ti a fi sori ẹrọ pkg
Name[zh]=检查安装的pkg依赖项
Name[zu]=Hlola ukuncika kufakiwe pkg
Name=Check dependencies installed pkg
Icon=pet16.xpm
Comment[fr]=gestionnaire des paquets, vérification des dépendances installées
Comment[bg]=PKGget мениджър на пакети
Comment[de]=PKGget-Paket-Manager
Comment[es]=Verificar dependencias de paquetes instalados
Comment[ru]=Проверить установленные зависимости pkg
Comment[tr]=PKGget Paket Yöneticisi bağımlılıklarını denetler
Comment[af]=PKGget Pakketbestuurder kontroleer afhanklikhede
Comment[am]=የPKGget ጥቅል አስተዳዳሪ ጥገኞችን ያረጋግጡ
Comment[ar]=PKGget Package Manager ﺕﺎﻴﻌﺒﺘﻟﺍ ﻦﻣ ﻖﻘﺤﺗ
Comment[as]=PKGget সৰঞ্জাম ব্যৱস্থাপক নিৰ্ভৰশীলতাসমূহ পৰীক্ষা কৰক
Comment[ay]=PKGget Paquete Gestor uñakipaña dependencias ukanaka
Comment[az]=PKGget Paket Meneceri asılılıqları yoxlayın
Comment[ba]=PKGget Пакет менеджеры бойондороҡлолоҡто тикшерә
Comment[be]=Дыспетчар пакетаў PKGget правярае залежнасці
Comment[bm]=PKGget Package Manager ka dantigɛliw lajɛ
Comment[bn]=PKG প্যাকেজ ম্যানেজার নির্ভরতা পরীক্ষা করুন
Comment[bo]=PKGget Package Manager ཞིབ་བཤེར་གྱི་གཞན་རྟེན་རང་བཞིན་ལ་ཞིབ་བཤེར་བྱས།
Comment[bs]=PKGget Package Manager provjerava ovisnosti
Comment[ca]=PKGget Package Manager comproveu les dependències
Comment[co]=PKGget Package Manager verificate e dipendenze
Comment[cs]=Kontrola závislostí PKGget Package Manager
Comment[cy]=Rheolwr Pecyn PKGget gwirio dibyniaethau
Comment[da]=PKGget Package Manager kontrollerer afhængigheder
Comment[dv]=ސްސީންޑެންޕެޑި ކްޗެ ރޖަނޭމެ ޖްކޭޕެ ޓްޖެޖީކޭޕީ
Comment[ee]=PKGget Package Manager léa ŋku ɖe nusiwo dzi woanɔ te ɖo ŋu
Comment[el]=Ελέγξτε τις εξαρτήσεις του PKGget Package Manager
Comment[eo]=PKGget Package Manager kontrolu dependecojn
Comment[et]=PKGgeti paketihaldur kontrollib sõltuvusi
Comment[eu]=PKGget Package Manager egiaztatu mendekotasunak
Comment[fa]=PKGget Package Manager ﺪﻨﮐ ﯽﻣ ﯽﺳﺭﺮﺑ ﺍﺭ ﺎﻫ ﯽﮕﺘﺴﺑﺍﻭ
Comment[fi]=PKGget Package Manager tarkistaa riippuvuudet
Comment[fj]=PKGget paket manidia raica na dependencies
Comment[fo]=PKGget Package Manager check dependencies
Comment[fy]=PKGget Package Manager kontrolearje ôfhinklikens
Comment[ga]=Seiceálann Bainisteoir Pacáiste Pkgget spleáchais
Comment[gd]=Bidh Manaidsear Pacaid PPGget a’ sgrùdadh eisimeileachd
Comment[gl]=PKGget Package Manager verifica dependencias
Comment[gn]=PKGget Paquete Mohendaha ohecha umi dependencia
Comment[gu]=PKGગેટ પેકેજ મેનેજર નિર્ભરતા તપાસો
Comment[ha]=PKGget Package Manager duba abubuwan dogaro
Comment[he]=PKGget Package Manager תולת קודב
Comment[hi]=PKGget पैकेज मैनेजर निर्भरता की जाँच करता है
Comment[hr]=PKGget Package Manager provjerava ovisnosti
Comment[ht]=Manadjè pake PKGget tcheke depandans yo
Comment[hu]=A PKGget Package Manager ellenőrzi a függőségeket
Comment[hy]=PKGget Package Manager-ի կախվածությունը ստուգելու համար
Comment[id]=PKGget Package Manager memeriksa dependensi
Comment[ig]=Onye njikwa ngwugwu PKGget lelee ndabere
Comment[is]=PKGget pakkastjóri athuga ósjálfstæði
Comment[it]=PKGget Package Manager controlla le dipendenze
Comment[iu]=PKGget-ᒧᑦ ᐊᐅᓚᑦᑎᔨ ᖃᐅᔨᒋᐊᖅᐸᒡᓗᒋᑦ ᑕᑎᒋᔭᒃᓴᐅᔪᑦ
Comment[ja]=PKGget パッケージ マネージャーの依存関係のチェック
Comment[jv]=PKGget Package Manager mriksa dependensi
Comment[ka]=PKGget Package Manager-ის დამოკიდებულების შემოწმება
Comment[kk]=PKGget Package Manager тәуелділіктерін тексеру
Comment[km]=កម្មវិធីគ្រប់គ្រងកញ្ចប់ PKGget ពិនិត្យភាពអាស្រ័យ
Comment[kn]=PKGget ಪ್ಯಾಕೇಜ್ ಮ್ಯಾನೇಜರ್ ಅವಲಂಬನೆಗಳನ್ನು ಪರಿಶೀಲಿಸಿ
Comment[ko]=PKGget 패키지 관리자 종속성 확인
Comment[ku]=Rêvebirê Pakêtê PKGget girêdanên kontrol bikin
Comment[ky]=PKGget пакет менеджери көз карандылыкты текшерүү
Comment[la]=PKGget Package Manager reprehendo clientelae
Comment[lb]=PKGget Package Manager kontrolléieren Ofhängegkeeten
Comment[lg]=PKGget Package Manager kebera ebisinziirwako
Comment[ln]=PKGget Mokambi ya Paquet vérifier ba dépendances
Comment[lo]=PKGget Package Manager ກວດເບິ່ງຄວາມຂຶ້ນກັບ
Comment[lt]=„PKGget Package Manager“ patikrina priklausomybes
Comment[lv]=PKGget pakotņu pārvaldnieks pārbauda atkarības
Comment[mg]=PKGget Package Manager manamarina ny fiankinan-doha
Comment[mi]=Ko te Kaiwhakahaere PKGget Package tirohia nga whakawhirinakitanga
Comment[mk]=PKGget Package Manager ги проверува зависностите
Comment[ml]=PKGget പാക്കേജ് മാനേജർ ഡിപൻഡൻസികൾ പരിശോധിക്കുക
Comment[mn]=PKGget багц менежерийн хамаарлыг шалгах
Comment[mr]=PKG गेट पॅकेज मॅनेजर अवलंबित्व तपासा
Comment[ms]=Pengurus Pakej PKGget menyemak kebergantungan
Comment[mt]=PKGget Package Manager iċċekkja d-dipendenzi
Comment[my]=PKGget Package Manager သည် မှီခိုမှုကို စစ်ဆေးပါ။
Comment[ne]=PKG गेट प्याकेज प्रबन्धक निर्भरता जाँच गर्नुहोस्
Comment[nl]=PKGget Package Manager controleert afhankelijkheden
Comment[no]=PKGget Package Manager sjekke avhengigheter
Comment[ny]=PKGget Package Manager fufuzani kudalira
Comment[om]=PKGget Qajeelcha Paakeejii hirkattummaa sakattauu
Comment[or]=PKGget ପ୍ୟାକେଜ୍ ମ୍ୟାନେଜର୍ ନିର୍ଭରଶୀଳତା ଯାଞ୍ଚ କରନ୍ତୁ |
Comment[pa]=ਪੀਕੇਜੀਗੇਟ ਪੈਕੇਜ ਮੈਨੇਜਰ ਨਿਰਭਰਤਾ ਦੀ ਜਾਂਚ ਕਰੋ
Comment[pl]=Menedżer pakietów PKGget sprawdza zależności
Comment[ps]=PKG ﺉړﮐ ﮏﯿﭼ ﺭﺎﺼﺤﻧﺍ ﺩ ﺮﯾﺪﻣ ۍﺪﻨﺑ ﻪﺘﺴﺑ ﺩ
Comment[pt]=PKGget Package Manager verificar dependências
Comment[qu]=PKGget Paquete kamachiq qhaway dependenciakuna
Comment[ro]=PKGget Package Manager verifică dependențele
Comment[rw]=PKGget Package Manager kugenzura ibintu biterwa
Comment[sa]=PKGget संकुलप्रबन्धकः निर्भरतां जाँचयति
Comment[sd]=PKG ﻮﻳﺮڪ ڪﻴﭼ ﺭﺎﺼﺤﻧﺍ ﺮﺠﻴﻨﺌﻣ ﺞﻴڪﻴﭘ ﻮﻳﺮڪ ﻞﺻﺎﺣ
Comment[si]=PKGget පැකේජ කළමනාකරු පරායත්තතා පරීක්ෂා කරන්න
Comment[sk]=Kontrola závislostí PKGget Package Manager
Comment[sl]=PKGget Package Manager preveri odvisnosti
Comment[sm]=PKGget Package Manager siaki faalagolago
Comment[sn]=PKGget Package Manager tarisa zvinoenderana
Comment[so]=Maamulaha Xidhmada PKGget hubi ku tiirsanaanta
Comment[sq]=Kontrolloni varësitë e Menaxherit të Paketave PKGget
Comment[st]=Motsamaisi oa Pakete oa PKGget hlahloba litšepeho
Comment[su]=PKGget Paket Manajer pariksa kagumantungan
Comment[sv]=PKGget Package Manager kontrollera beroenden
Comment[sw]=Kidhibiti cha Kifurushi cha PKGget angalia utegemezi
Comment[ta]=PKGget தொகுப்பு மேலாளர் சார்புகளை சரிபார்க்கவும்
Comment[te]=PKGget ప్యాకేజీ మేనేజర్ డిపెండెన్సీలను తనిఖీ చేస్తుంది
Comment[tg]=Менеҷери бастаи PKGget вобастагиҳоро тафтиш кунед
Comment[th]=PKGget Package Manager ตรวจสอบการขึ้นต่อกัน
Comment[ti]=PKGget Package Manager ጽግዕተኛታት ምፍታሽ
Comment[tk]=PKGget Package Manager garaşlylygy barlaň
Comment[tl]=Sinusuri ng PKGget Package Manager ang mga dependencies
Comment[to]=PKGget pule ʻo e peketi dependencies
Comment[ts]=PKGget Package Manager ku kambela ku titshega
Comment[tt]=PKGget Package Manager бәйләнешләрне тикшерә
Comment[tw]=PKGget Package Manager hwɛ nneɛma a egyina so
Comment[ty]=PKGget Package Manager check dependencies
Comment[ug]=PKGget ﻯﺩﺭﯜﺸﻛەﺗ ﻰﻨﯩﻘﯩﻠﻧﺎﭽﺸﯩﻨﯩﻘﯧﺑ ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺎﭽﻏﻮﺑ
Comment[uk]=PKGget Package Manager перевіряє залежності
Comment[ur]=۔ﮟﯾﺮﮐ ﮏﯿﭼ ﺭﺎﺼﺤﻧﺍ ﺮﭘ ﺮﺠﯿﻨﯿﻣ ﺞﮑﯿﭘ ﯽﺟ ﮯﮐ ﯽﭘ
Comment[uz]=PKGget Package Manager bogliqlikni tekshirish
Comment[vi]=PKGget Trình quản lý gói kiểm tra các phụ thuộc
Comment[xh]=Umphathi wePakeji wePKGget jonga ukuxhomekeka
Comment[yi]=PKGget זיסנאַדנעפּיד קעשט רעגאַנאַמ עגאַקקאַפּ
Comment[yo]=Oluṣakoso Package PKGget ṣayẹwo awọn igbẹkẹle
Comment[zh]=PKGget 包管理器检查依赖关系
Comment[zu]=I-PKGget Package Manager hlola ukuncika
Comment=PKGget Package Manager check dependencies
Exec=/usr/local/petget/check_deps.sh
Terminal=false
Type=Application
Categories=X-SetupEntry
GenericName=PKGget Package Manager
