[Desktop Entry]
Encoding=UTF-8
Name[fr]=Outil de montage : Pmount
Name[bg]=Pmount монтиране/демонтиране задвижвания
Name[de]=Pmount mount/unmount Laufwerke
Name[es]=Pmount: montar/desmontar unidades
Name[ru]=Pmount монтировать/размонтировать диски
Name[tr]=Pmount Sürücüleri bağla/ayır
Name=Pmount mount/unmount drives
Icon=mini-diskette.xpm
Comment[fr]=Outil de montage : Pmount
Comment[bg]=Pmount монтиране/демонтиране задвижвания
Comment[de]=Pmount mount/unmount Laufwerke
Comment[es]=Montar y desmontar unidades
Comment[ru]=Pmount монтировать/размонтировать диски
Comment[tr]=Pmount Sürücüleri bağla/a
Comment=Pmount mount/unmount drives
Exec=pmount
Terminal=false
Type=Application
Categories=X-Filesystem-mount
GenericName=Pmount mount/unmount drives
