[Desktop Entry]
Encoding=UTF-8
Name[fr]=Outil de montage : Pmount
Name[bg]=Pmount монтиране/демонтиране задвижвания
Name[de]=Pmount mount/unmount Laufwerke
Name[es]=Pmount: montar/desmontar unidades
Name[ru]=Pmount монтировать/размонтировать диски
Name[tr]=Pmount Sürücüleri bağla/ayır
Name[af]=Monteer dryf/ontkoppel aandrywers
Name[am]=መንኮራኩሮችን ይጫኑ / ይንቀሉ
Name[ar]=unmount / ﻞﺒﺟ Pmount ﺕﺎﻛﺮﺤﻣ
Name[as]=Pmount মাউন্ট/আনমাউন্ট ড্ৰাইভসমূহ
Name[ay]=Pmount ukax mä juk’a pachanakanwa
Name[az]=Sürücüləri quraşdırın/sökün
Name[ba]=Плунт тауы/unount drive
Name[be]=Pmount мантаванне/адмантаванне дыскаў
Name[bm]=Pmount mount/unmount drivew ye
Name[bn]=Pmount মাউন্ট/আনমাউন্ট ড্রাইভ
Name[bo]=རི་བོ་ཆེ་དང་རླངས་འཁོར་གྱི་ཁ་ལོ་བསྒྱུར་མི་ཆོག
Name[bs]=Montirajte pogone za montiranje/demontažu
Name[ca]=Muntar/desmuntar unitats
Name[co]=Pmount mount/unmount drives
Name[cs]=Pmount připojení/odpojení disků
Name[cy]=Pmount mount/dad-osod gyriannau
Name[da]=Monter/afmonter drev
Name[dv]=ސްވްއިރަޑް ޓްންއުމަންއަ/ޓްންއުމަ ޓްންއުމަޕީ
Name[ee]=Pmount mount/unmount ʋuwo
Name[el]=Pmount mount/unmount drives
Name[eo]=Munti/malmunti diskojn
Name[et]=Paigaldage draivid / ühendage lahti
Name[eu]=Pmount muntatu/desmuntatu unitateak
Name[fa]=Pmount mount/unmount ﺎﻫﻮﯾﺍﺭﺩ
Name[fi]=Kiinnitä/irrota asemat
Name[fj]=Pmount mount/unmount draiva
Name[fo]=Pmount mount/unmount koyrir
Name[fy]=Pmount mount / unmount driuwfearren
Name[ga]=Tiomántáin pmount mount/dífheistigh
Name[gd]=Pmount mount / dì-stàlaich draibhearan
Name[gl]=Montar/desmontar unidades
Name[gn]=Pmount montaje/desmontaje umi unidad
Name[gu]=Pmount માઉન્ટ/અનમાઉન્ટ ડ્રાઈવો
Name[ha]=Pmount mount/cuɗe abubuwan tafiyarwa
Name[he]=םיננוכ רסה/ןקתה
Name[hi]=ड्राइव को माउंट/अनमाउंट करें
Name[hr]=Pmount montiranje/demontiranje pogona
Name[ht]=Pmount monte/demonte kondui
Name[hu]=Meghajtók csatlakoztatása/leválasztása
Name[hy]=Pmount mount/unmount drives
Name[id]=Pmount mount/unmount drive
Name[ig]=Pmount mount/ịkpọtu draịva
Name[is]=Settu upp/aftengja drif
Name[it]=Pmount monta/smonta unità
Name[iu]=ᐳᓪᓚᒨᖅᑐᑦ/ᐱᕈᕐᓇᖅᑐᑦ ᐃᖏᕐᕋᔪᑦ
Name[ja]=Pmount ドライブのマウント/アンマウント
Name[jv]=Pmount mount / unmount drive
Name[ka]=Pmount mount / unmount დისკები
Name[kk]=Дискілерді орнату/ажырату
Name[km]=Pmount ម៉ោន / អាន់ម៉ោនដ្រាយ
Name[kn]=Pmount ಮೌಂಟ್ / ಅನ್u200cಮೌಂಟ್ ಡ್ರೈವ್u200cಗಳು
Name[ko]=드라이브 마운트/마운트 해제
Name[ku]=Pmount mount / ajokarên rakirin
Name[ky]=Дисктерди орнотуу/ажыруу
Name[la]=Pmount montem / infletus agitet
Name[lb]=Pmount mount / unmount fiert
Name[lg]=Pmount okussa/okuggyawo drives
Name[ln]=Pmount ba lecteurs ya montage/unmount
Name[lo]=Pmount mount / unmount drives
Name[lt]=Prijunkite/atjunkite diskus
Name[lv]=Uzstādiet/atmontējiet diskus
Name[mg]=Pmount mount / unmount drives
Name[mi]=Pmount mount/unmount puku
Name[mk]=Pmount монтирање/одмонтирање на дискови
Name[ml]=Pmount മൗണ്ട്/അൺമൗണ്ട് ഡ്രൈവുകൾ
Name[mn]=Драйверуудыг холбох/салгах
Name[mr]=माउंट माउंट/अनमाउंट ड्राइव्हस्
Name[ms]=Pmount lekapkan/nyahlekap pemacu
Name[mt]=Immonta/unmount drives
Name[my]=Pmount mount/unmount drives
Name[ne]=Pmount माउन्ट/अनमाउन्ट ड्राइभहरू
Name[nl]=Pmount schijven koppelen/ontkoppelen
Name[no]=Monter på/av stasjoner
Name[ny]=Pmount phiri / tsitsani ma drive
Name[om]=Pmount diraayivoota feuu/hiikuu
Name[or]=Pmount ମାଉଣ୍ଟ / ଅନ୍ମାଉଣ୍ଟ୍ ଡ୍ରାଇଭ୍ |
Name[pa]=ਪਮਾਉਂਟ ਮਾਊਂਟ/ਅਨਮਾਊਂਟ ਡਰਾਈਵਾਂ
Name[pl]=Zamontuj/odmontuj dyski
Name[ps]=Pmount mount/unmount drives
Name[pt]=Unidades de montagem/desmontagem Pmount
Name[qu]=Pmount montaje/desmontaje unidadkuna
Name[ro]=Pmount montare/demontare unități
Name[rw]=Pmount mount / idasiba
Name[sa]=Pmount माउण्ट्/अनमाउण्ट् ड्राइव्
Name[sd]=Pmount mount/ unmount drives
Name[si]=Pmount mount/unmount drives
Name[sk]=Pmount pripojiť/odpojiť jednotky
Name[sl]=Pmount mount/unmount pogonov
Name[sm]=Pmount mount/unmount drives
Name[sn]=Pmount mount/unmount madhiraivha
Name[so]=Pmount mount / ka saar darawallada
Name[sq]=Pmount montoj/çmontoj disqet
Name[st]=Pmount mount/unmount drives
Name[su]=Pmount gunung / unmount drive
Name[sv]=Montera montera/avmontera enheter
Name[sw]=Pmount mount/unmount anatoa
Name[ta]=Pmount மவுண்ட்/அன்மவுண்ட் டிரைவ்கள்
Name[te]=Pmount మౌంట్/అన్u200cమౌంట్ డ్రైవ్u200cలు
Name[tg]=Дискҳоро васл кардан/ҷустан кардан
Name[th]=Pmount เมานต์ / ถอนเมาต์ไดรฟ์
Name[ti]=Pmount mount/unmount ድራይቭታት
Name[tk]=Pmount dakmak / aýyrmak diskleri
Name[tl]=Pmount mount/unmount drives
Name[to]=ʻOku drive ʻa e moʻunga/moʻunga ʻoku ʻikai ke ʻi ai ha moʻunga
Name[ts]=Pmount mount/unmount ti drive ta ku khandziya
Name[tt]=Pmount монтаж / чыгару дисклары
Name[tw]=Pmount mount/yi draibɛ ahorow no
Name[ty]=Te mau moua e tauma
Name[ug]=Pmount mount / unmount drives
Name[uk]=Pmount монтувати/відключати диски
Name[ur]=ﺯﻮﯿﺋﺍﺭﮈ ﭧﻧﺅﺎﻣ ﻥﺍ/ﭧﻧﺅﺎﻣ ﭧﻧﺅﺎﻣ
Name[uz]=Drayvlarni ornatish / ochirish
Name[vi]=Pmount mount/unmount ổ đĩa
Name[xh]=I-Pmount inyuka / yehlisa iidrives
Name[yi]=זוויירד טנואָמנאַ / ןריטנואָמ
Name[yo]=Pmount òke / unmount drives
Name[zh]=Pmount 安装/卸载驱动器
Name[zu]=I-Pmount mount/yehlisa amadrayivu
Name=Pmount mount/unmount drives
Icon=mini-diskette.xpm
Comment[fr]=Outil de montage : Pmount
Comment[bg]=Pmount монтиране/демонтиране задвижвания
Comment[de]=Pmount mount/unmount Laufwerke
Comment[es]=Montar y desmontar unidades
Comment[ru]=Pmount монтировать/размонтировать диски
Comment[tr]=Pmount Sürücüleri bağla/a
Comment[af]=Monteer dryf/ontkoppel aandrywers
Comment[am]=መንኮራኩሮችን ይጫኑ / ይንቀሉ
Comment[ar]=unmount / ﻞﺒﺟ Pmount ﺕﺎﻛﺮﺤﻣ
Comment[as]=Pmount মাউন্ট/আনমাউন্ট ড্ৰাইভসমূহ
Comment[ay]=Pmount ukax mä juk’a pachanakanwa
Comment[az]=Sürücüləri quraşdırın/sökün
Comment[ba]=Плунт тауы/unount drive
Comment[be]=Pmount мантаванне/адмантаванне дыскаў
Comment[bm]=Pmount mount/unmount drivew ye
Comment[bn]=Pmount মাউন্ট/আনমাউন্ট ড্রাইভ
Comment[bo]=རི་བོ་ཆེ་དང་རླངས་འཁོར་གྱི་ཁ་ལོ་བསྒྱུར་མི་ཆོག
Comment[bs]=Montirajte pogone za montiranje/demontažu
Comment[ca]=Muntar/desmuntar unitats
Comment[co]=Pmount mount/unmount drives
Comment[cs]=Pmount připojení/odpojení disků
Comment[cy]=Pmount mount/dad-osod gyriannau
Comment[da]=Monter/afmonter drev
Comment[dv]=ސްވްއިރަޑް ޓްންއުމަންއަ/ޓްންއުމަ ޓްންއުމަޕީ
Comment[ee]=Pmount mount/unmount ʋuwo
Comment[el]=Pmount mount/unmount drives
Comment[eo]=Munti/malmunti diskojn
Comment[et]=Paigaldage draivid / ühendage lahti
Comment[eu]=Pmount muntatu/desmuntatu unitateak
Comment[fa]=Pmount mount/unmount ﺎﻫﻮﯾﺍﺭﺩ
Comment[fi]=Kiinnitä/irrota asemat
Comment[fj]=Pmount mount/unmount draiva
Comment[fo]=Pmount mount/unmount koyrir
Comment[fy]=Pmount mount / unmount driuwfearren
Comment[ga]=Tiomántáin pmount mount/dífheistigh
Comment[gd]=Pmount mount / dì-stàlaich draibhearan
Comment[gl]=Montar/desmontar unidades
Comment[gn]=Pmount montaje/desmontaje umi unidad
Comment[gu]=Pmount માઉન્ટ/અનમાઉન્ટ ડ્રાઈવો
Comment[ha]=Pmount mount/cuɗe abubuwan tafiyarwa
Comment[he]=םיננוכ רסה/ןקתה
Comment[hi]=ड्राइव को माउंट/अनमाउंट करें
Comment[hr]=Pmount montiranje/demontiranje pogona
Comment[ht]=Pmount monte/demonte kondui
Comment[hu]=Meghajtók csatlakoztatása/leválasztása
Comment[hy]=Pmount mount/unmount drives
Comment[id]=Pmount mount/unmount drive
Comment[ig]=Pmount mount/ịkpọtu draịva
Comment[is]=Settu upp/aftengja drif
Comment[it]=Pmount monta/smonta unità
Comment[iu]=ᐳᓪᓚᒨᖅᑐᑦ/ᐱᕈᕐᓇᖅᑐᑦ ᐃᖏᕐᕋᔪᑦ
Comment[ja]=Pmount ドライブのマウント/アンマウント
Comment[jv]=Pmount mount / unmount drive
Comment[ka]=Pmount mount / unmount დისკები
Comment[kk]=Дискілерді орнату/ажырату
Comment[km]=Pmount ម៉ោន / អាន់ម៉ោនដ្រាយ
Comment[kn]=Pmount ಮೌಂಟ್ / ಅನ್u200cಮೌಂಟ್ ಡ್ರೈವ್u200cಗಳು
Comment[ko]=드라이브 마운트/마운트 해제
Comment[ku]=Pmount mount / ajokarên rakirin
Comment[ky]=Дисктерди орнотуу/ажыруу
Comment[la]=Pmount montem / infletus agitet
Comment[lb]=Pmount mount / unmount fiert
Comment[lg]=Pmount okussa/okuggyawo drives
Comment[ln]=Pmount ba lecteurs ya montage/unmount
Comment[lo]=Pmount mount / unmount drives
Comment[lt]=Prijunkite/atjunkite diskus
Comment[lv]=Uzstādiet/atmontējiet diskus
Comment[mg]=Pmount mount / unmount drives
Comment[mi]=Pmount mount/unmount puku
Comment[mk]=Pmount монтирање/одмонтирање на дискови
Comment[ml]=Pmount മൗണ്ട്/അൺമൗണ്ട് ഡ്രൈവുകൾ
Comment[mn]=Драйверуудыг холбох/салгах
Comment[mr]=माउंट माउंट/अनमाउंट ड्राइव्हस्
Comment[ms]=Pmount lekapkan/nyahlekap pemacu
Comment[mt]=Immonta/unmount drives
Comment[my]=Pmount mount/unmount drives
Comment[ne]=Pmount माउन्ट/अनमाउन्ट ड्राइभहरू
Comment[nl]=Pmount schijven koppelen/ontkoppelen
Comment[no]=Monter på/av stasjoner
Comment[ny]=Pmount phiri / tsitsani ma drive
Comment[om]=Pmount diraayivoota feuu/hiikuu
Comment[or]=Pmount ମାଉଣ୍ଟ / ଅନ୍ମାଉଣ୍ଟ୍ ଡ୍ରାଇଭ୍ |
Comment[pa]=ਪਮਾਉਂਟ ਮਾਊਂਟ/ਅਨਮਾਊਂਟ ਡਰਾਈਵਾਂ
Comment[pl]=Zamontuj/odmontuj dyski
Comment[ps]=Pmount mount/unmount drives
Comment[pt]=Unidades de montagem/desmontagem Pmount
Comment[qu]=Pmount montaje/desmontaje unidadkuna
Comment[ro]=Pmount montare/demontare unități
Comment[rw]=Pmount mount / idasiba
Comment[sa]=Pmount माउण्ट्/अनमाउण्ट् ड्राइव्
Comment[sd]=Pmount mount/ unmount drives
Comment[si]=Pmount mount/unmount drives
Comment[sk]=Pmount pripojiť/odpojiť jednotky
Comment[sl]=Pmount mount/unmount pogonov
Comment[sm]=Pmount mount/unmount drives
Comment[sn]=Pmount mount/unmount madhiraivha
Comment[so]=Pmount mount / ka saar darawallada
Comment[sq]=Pmount montoj/çmontoj disqet
Comment[st]=Pmount mount/unmount drives
Comment[su]=Pmount gunung / unmount drive
Comment[sv]=Montera montera/avmontera enheter
Comment[sw]=Pmount mount/unmount anatoa
Comment[ta]=Pmount மவுண்ட்/அன்மவுண்ட் டிரைவ்கள்
Comment[te]=Pmount మౌంట్/అన్u200cమౌంట్ డ్రైవ్u200cలు
Comment[tg]=Дискҳоро васл кардан/ҷустан кардан
Comment[th]=Pmount เมานต์ / ถอนเมาต์ไดรฟ์
Comment[ti]=Pmount mount/unmount ድራይቭታት
Comment[tk]=Pmount dakmak / aýyrmak diskleri
Comment[tl]=Pmount mount/unmount drives
Comment[to]=ʻOku drive ʻa e moʻunga/moʻunga ʻoku ʻikai ke ʻi ai ha moʻunga
Comment[ts]=Pmount mount/unmount ti drive ta ku khandziya
Comment[tt]=Pmount монтаж / чыгару дисклары
Comment[tw]=Pmount mount/yi draibɛ ahorow no
Comment[ty]=Te mau moua e tauma
Comment[ug]=Pmount mount / unmount drives
Comment[uk]=Pmount монтувати/відключати диски
Comment[ur]=ﺯﻮﯿﺋﺍﺭﮈ ﭧﻧﺅﺎﻣ ﻥﺍ/ﭧﻧﺅﺎﻣ ﭧﻧﺅﺎﻣ
Comment[uz]=Drayvlarni ornatish / ochirish
Comment[vi]=Pmount mount/unmount ổ đĩa
Comment[xh]=I-Pmount inyuka / yehlisa iidrives
Comment[yi]=זוויירד טנואָמנאַ / ןריטנואָמ
Comment[yo]=Pmount òke / unmount drives
Comment[zh]=Pmount 安装/卸载驱动器
Comment[zu]=I-Pmount mount/yehlisa amadrayivu
Comment=Pmount mount/unmount drives
Exec=pmount
Terminal=false
Type=Application
Categories=X-Filesystem-mount
GenericName=Pmount mount/unmount drives
