[Desktop Entry]
Encoding=UTF-8
Name[fr]=Copier un disque dur/partition : Pudd
Name[bg]=Pudd копие устройство/дял
Name[de]=Pudd kopieren Laufwerk/Partition
Name[es]=Pudd: copiar unidad / partición
Name[ru]=Pudd копировать диск/раздел
Name[tr]=Pudd sürücü/bölüm kopyalama
Name[af]=Pudd copy drive/partisie
Name[am]=Pudd ቅጂ ድራይቭ / ክፍልፍል
Name[ar]=ﻢﺴﻗ / Pudd ﺦﺴﻧ ﻙﺮﺤﻣ
Name[as]=Pudd কপি ড্ৰাইভ/বিভাজন
Name[ay]=Pudd copia unidad/partición ukampi
Name[az]=Pudd surəti sürücüsü/bölmə
Name[ba]=Пуд күсермәһенең йөрөшө/бүлеү
Name[be]=Дыск/падзел капіявання Pudd
Name[bm]=Pudd kopi drive/partition (yɔrɔ tilalen).
Name[bn]=পুড কপি ড্রাইভ/পার্টিশন
Name[bo]=Pudd copy drive/ཁ་གྱེས་པ།
Name[bs]=Pudd kopija pogon/particija
Name[ca]=Pudd còpia unitat/partició
Name[co]=Pudd copia unità / partizione
Name[cs]=Kopírovací jednotka/oddíl Pudd
Name[cy]=Gyriant copi pwd / rhaniad
Name[da]=Pudd kopi drev/partition
Name[dv]=ންޝަޓީރޕާ/ވްއިރަޑް ޕީކޮ ޑްޕު
Name[ee]=Pudd kɔpi ʋu/mamã
Name[el]=Μονάδα δίσκου/διαμέρισμα αντιγραφής Pudd
Name[eo]=Pudd kopia stirado/diskodo
Name[et]=Pudd kopeeri draiv/partitsioon
Name[eu]=Pudd kopia unitate/partizioa
Name[fa]=ﺩﻮﭘ ﯽﭙﮐ ﻦﺸﯿﺗﺭﺎﭘ/ﻮﯾﺍﺭﺩ
Name[fi]=Pudd-kopioasema/osio
Name[fj]=Pudd copy drive/partition
Name[fo]=Pudd copy drive/partition
Name[fy]=Pudd kopiearje drive / partition
Name[ga]=Tiomántán cóipe pud / críochdheighilte
Name[gd]=Dèan lethbhreac de dhràibhear / sgaradh pudd
Name[gl]=Pudd copia unidade/partición
Name[gn]=Pudd copia unidad/partición rehegua
Name[gu]=પુડ કોપી ડ્રાઈવ/પાર્ટીશન
Name[ha]=Pudd kwafin drive/bangare
Name[he]=Pudd תקתעהל הציחמ/ןנוכ
Name[hi]=पुड कॉपी ड्राइव/विभाजन
Name[hr]=Pudd kopirati disk/particiju
Name[ht]=Pudd kopi kondwi/patisyon
Name[hu]=Pudd másoló meghajtó/partíció
Name[hy]=Pudd copy drive/partition
Name[id]=Pudd menyalin drive/partisi
Name[ig]=Pudd oyiri mbanye/nkebi
Name[is]=Pudd afrita drif / skipting
Name[it]=Pudd copia unità/partizione
Name[iu]=Pudd ᐊᔾᔨᖓ ᑐᖅᑯᐃᕝᕕᒃ/ᐃᓚᖓ
Name[ja]=Pudd コピー ドライブ/パーティション
Name[jv]=Pudd salinan drive / partisi
Name[ka]=პუდის ასლის დრაივი/დანაყოფი
Name[kk]=Pudd көшірме дискі/бөлім
Name[km]=Pudd ចម្លងដ្រាយ / ភាគថាស
Name[kn]=ಪುಡ್ ಕಾಪಿ ಡ್ರೈವ್/ವಿಭಾಗ
Name[ko]=Pudd 복사 드라이브/파티션
Name[ku]=Pudd copy drive/partition
Name[ky]=Pudd көчүрмөсү диск/бөлүм
Name[la]=Pudd exemplum coegi / partitionem
Name[lb]=Pudd Kopie fueren / Partition
Name[lg]=Pudd copy drive/ekitundu
Name[ln]=Disque/partition ya kopi ya Pudd
Name[lo]=Pudd copy drive/ພາຕິຊັນ
Name[lt]=Pudd kopijavimo diskas / skaidinys
Name[lv]=Pudd kopēšanas disks/nodalījums
Name[mg]=Pudd copie drive/partition
Name[mi]=Pudd kape puku / wehewehe
Name[mk]=Погон/партиција за копирање на пуд
Name[ml]=പുഡ് കോപ്പി ഡ്രൈവ് / പാർട്ടീഷൻ
Name[mn]=Pudd хуулбар хөтөч / хуваалт
Name[mr]=पुड कॉपी ड्राइव्ह/विभाजन
Name[ms]=Pudd copy drive/partition
Name[mt]=Pudd kopja drajv/partizzjoni
Name[my]=Pudd မိတ္တူ drive / partition
Name[ne]=Pudd प्रतिलिपि ड्राइव / विभाजन
Name[nl]=Pudd kopieer schijf / partitie
Name[no]=Pudd kopi stasjon/partisjon
Name[ny]=Pudd copy drive/partition
Name[om]=Pudd waraabbii diraayivii/qoqqoodinsa
Name[or]=ପୁଡ୍ କପି ଡ୍ରାଇଭ୍ / ବିଭାଜନ |
Name[pa]=ਪੁਡ ਕਾਪੀ ਡਰਾਈਵ/ਭਾਗ
Name[pl]=Pudd kopiuje dysk/partycję
Name[ps]=ﻦﺷﺭﺎﭘ/ﻮﯾﺍﺭډ ﻲﭘﺎﮐ ډﻮﭘ ﺩ
Name[pt]=Pudd copiar unidade/partição
Name[qu]=Pudd copia unidad/partición
Name[ro]=Pudd copie unitatea/partiția
Name[rw]=Pudd ikopi ya disiki / ibice
Name[sa]=पुड् प्रतिलिपि ड्राइव/विभाजनम्
Name[sd]=ﻲﮜﺎﻫﺭﻭ / ﻮﻴﺋﺍﺭڊ ﻲﭘﺎڪ ڊﭘ
Name[si]=Pudd copy drive/partition
Name[sk]=Kopírovacia jednotka/oddiel Pudd
Name[sl]=Pudd kopirni pogon/particija
Name[sm]=Pudd kopi kopi / vaeluaga
Name[sn]=Pudd kopi drive/partition
Name[so]=Pudd koobi wadista/qaybinta
Name[sq]=Disku/ndarja e kopjimit të puddit
Name[st]=Pudd copy drive/partition
Name[su]=Pudd salinan drive / partisi
Name[sv]=Puddkopieringsenhet/partition
Name[sw]=Pudd nakala gari/kizigeu
Name[ta]=புட் நகல் இயக்கி/பகிர்வு
Name[te]=పుడ్ కాపీ డ్రైవ్/విభజన
Name[tg]=Диски нусхабардории Pudd / бахш
Name[th]=พุดคัดลอกไดรฟ์/พาร์ติชัน
Name[ti]=ፑድ ኮፒ ድራይቭ/ፓርቲሽን
Name[tk]=Pudd göçürme disk / bölüm
Name[tl]=Pudd copy drive/partition
Name[to]=Pudd tatau ʻo e drive/veuveuki
Name[ts]=Pudd kopi drive/xiphemu
Name[tt]=Пуд күчермә диск / бүлек
Name[tw]=Pudd kɔpi draibɛ/akyekyɛmu
Name[ty]=Puddd copy drive/partition
Name[ug]=Pudd ﻥﻮﻳﺍﺭ / ﭺﯘﻘﺗﺎﻏﺯﻮﻗ ﻥەﮕﻠﯩﺘﻳەﭘﯚﻛ
Name[uk]=Копіювальний диск/розділ Pudd
Name[ur]=ﻦﺸﯿﭨﺭﺎﭘ /ﻮﯿﺋﺍﺭﮈ ﯽﭘﺎﮐ ﮉﭘ
Name[uz]=Pudd nusxa kochirish diski/bolimi
Name[vi]=Pudd sao chép ổ đĩa/phân vùng
Name[xh]=Pudd ikopi drive/isahlulelo
Name[yi]=גנולייטעצ / ראָפ עיפּאָק דופּ
Name[yo]=Pudd daakọ wakọ / ipin
Name[zh]=Pudd 复制驱动器/分区
Name[zu]=Pudd copy drive/partition
Name=Pudd copy drive/partition
Icon=mini-diskette.xpm
Comment[fr]=Copier un disque dur/partition : Pudd
Comment[bg]=Pudd копие устройство/дял
Comment[de]=Pudd kopieren Laufwerk/Partition
Comment[es]=Copiar unidad / partición
Comment[ru]=Pudd копировать диск/раздел
Comment[tr]=Pudd disk sürücüsü/bölümü kopyalama
Comment[af]=Pudd copy drive/partisie
Comment[am]=Pudd ቅጂ ድራይቭ / ክፍልፍል
Comment[ar]=ﻢﺴﻗ / Pudd ﺦﺴﻧ ﻙﺮﺤﻣ
Comment[as]=Pudd কপি ড্ৰাইভ/বিভাজন
Comment[ay]=Pudd copia unidad/partición ukampi
Comment[az]=Pudd surəti sürücüsü/bölmə
Comment[ba]=Пуд күсермәһенең йөрөшө/бүлеү
Comment[be]=Дыск/падзел капіявання Pudd
Comment[bm]=Pudd kopi drive/partition (yɔrɔ tilalen).
Comment[bn]=পুড কপি ড্রাইভ/পার্টিশন
Comment[bo]=Pudd copy drive/ཁ་གྱེས་པ།
Comment[bs]=Pudd kopija pogon/particija
Comment[ca]=Pudd còpia unitat/partició
Comment[co]=Pudd copia unità / partizione
Comment[cs]=Kopírovací jednotka/oddíl Pudd
Comment[cy]=Gyriant copi pwd / rhaniad
Comment[da]=Pudd kopi drev/partition
Comment[dv]=ންޝަޓީރޕާ/ވްއިރަޑް ޕީކޮ ޑްޕު
Comment[ee]=Pudd kɔpi ʋu/mamã
Comment[el]=Μονάδα δίσκου/διαμέρισμα αντιγραφής Pudd
Comment[eo]=Pudd kopia stirado/diskodo
Comment[et]=Pudd kopeeri draiv/partitsioon
Comment[eu]=Pudd kopia unitate/partizioa
Comment[fa]=ﺩﻮﭘ ﯽﭙﮐ ﻦﺸﯿﺗﺭﺎﭘ/ﻮﯾﺍﺭﺩ
Comment[fi]=Pudd-kopioasema/osio
Comment[fj]=Pudd copy drive/partition
Comment[fo]=Pudd copy drive/partition
Comment[fy]=Pudd kopiearje drive / partition
Comment[ga]=Tiomántán cóipe pud / críochdheighilte
Comment[gd]=Dèan lethbhreac de dhràibhear / sgaradh pudd
Comment[gl]=Pudd copia unidade/partición
Comment[gn]=Pudd copia unidad/partición rehegua
Comment[gu]=પુડ કોપી ડ્રાઈવ/પાર્ટીશન
Comment[ha]=Pudd kwafin drive/bangare
Comment[he]=Pudd תקתעהל הציחמ/ןנוכ
Comment[hi]=पुड कॉपी ड्राइव/विभाजन
Comment[hr]=Pudd kopirati disk/particiju
Comment[ht]=Pudd kopi kondwi/patisyon
Comment[hu]=Pudd másoló meghajtó/partíció
Comment[hy]=Pudd copy drive/partition
Comment[id]=Pudd menyalin drive/partisi
Comment[ig]=Pudd oyiri mbanye/nkebi
Comment[is]=Pudd afrita drif / skipting
Comment[it]=Pudd copia unità/partizione
Comment[iu]=Pudd ᐊᔾᔨᖓ ᑐᖅᑯᐃᕝᕕᒃ/ᐃᓚᖓ
Comment[ja]=Pudd コピー ドライブ/パーティション
Comment[jv]=Pudd copy drive / partisi
Comment[ka]=პუდის ასლის დრაივი/დანაყოფი
Comment[kk]=Pudd көшірме дискі/бөлім
Comment[km]=Pudd ចម្លងដ្រាយ / ភាគថាស
Comment[kn]=ಪುಡ್ ಕಾಪಿ ಡ್ರೈವ್/ವಿಭಾಗ
Comment[ko]=Pudd 복사 드라이브/파티션
Comment[ku]=ajokera/partition kopî ya Pudd
Comment[ky]=Pudd көчүрмөсү диск/бөлүм
Comment[la]=Pudd exemplum coegi / partitionem
Comment[lb]=Pudd Kopie fueren / Partition
Comment[lg]=Pudd copy drive/ekitundu
Comment[ln]=Disque/partition ya kopi ya Pudd
Comment[lo]=Pudd copy drive/ພາຕິຊັນ
Comment[lt]=Pudd kopijavimo diskas / skaidinys
Comment[lv]=Pudd kopēšanas disks/nodalījums
Comment[mg]=Pudd copie drive/partition
Comment[mi]=Pudd kape puku / wehewehe
Comment[mk]=Погон/партиција за копирање на пуд
Comment[ml]=പുഡ് കോപ്പി ഡ്രൈവ് / പാർട്ടീഷൻ
Comment[mn]=Pudd хуулбар хөтөч / хуваалт
Comment[mr]=पुड कॉपी ड्राइव्ह/विभाजन
Comment[ms]=Pudd copy drive/partition
Comment[mt]=Pudd kopja drajv/partizzjoni
Comment[my]=Pudd မိတ္တူ drive / partition
Comment[ne]=Pudd प्रतिलिपि ड्राइव / विभाजन
Comment[nl]=Pudd kopieer schijf / partitie
Comment[no]=Pudd kopi stasjon/partisjon
Comment[ny]=Pudd copy drive/partition
Comment[om]=Pudd waraabbii diraayivii/qoqqoodinsa
Comment[or]=ପୁଡ୍ କପି ଡ୍ରାଇଭ୍ / ବିଭାଜନ |
Comment[pa]=ਪੁਡ ਕਾਪੀ ਡਰਾਈਵ/ਭਾਗ
Comment[pl]=Pudd kopiuje dysk/partycję
Comment[ps]=ﻦﺷﺭﺎﭘ/ﻮﯾﺍﺭډ ﻲﭘﺎﮐ ډﻮﭘ ﺩ
Comment[pt]=Pudd copiar unidade/partição
Comment[qu]=Pudd copia unidad/partición
Comment[ro]=Pudd copie unitatea/partiția
Comment[rw]=Pudd ikopi ya disiki / ibice
Comment[sa]=पुड् प्रतिलिपि ड्राइव/विभाजनम्
Comment[sd]=ﻲﮜﺎﻫﺭﻭ / ﻮﻴﺋﺍﺭڊ ﻲﭘﺎڪ ڊﭘ
Comment[si]=Pudd copy drive/partition
Comment[sk]=Kopírovacia jednotka/oddiel Pudd
Comment[sl]=Pudd kopirni pogon/particija
Comment[sm]=Pudd kopi taavale/vaega
Comment[sn]=Pudd kopi drive/partition
Comment[so]=Pudd koobi wadista/qaybinta
Comment[sq]=Disku/ndarja e kopjimit të puddit
Comment[st]=Pudd copy drive/partition
Comment[su]=Pudd salinan drive / partisi
Comment[sv]=Puddkopieringsenhet/partition
Comment[sw]=Pudd nakala gari/kizigeu
Comment[ta]=புட் நகல் இயக்கி/பகிர்வு
Comment[te]=పుడ్ కాపీ డ్రైవ్/విభజన
Comment[tg]=Диски нусхабардории Pudd / бахш
Comment[th]=พุดคัดลอกไดรฟ์/พาร์ติชัน
Comment[ti]=ፑድ ኮፒ ድራይቭ/ፓርቲሽን
Comment[tk]=Pudd göçürme disk / bölüm
Comment[tl]=Pudd copy drive/partition
Comment[to]=Pudd tatau ʻo e drive/veuveuki
Comment[ts]=Pudd kopi drive/xiphemu
Comment[tt]=Пуд күчермә диск / бүлек
Comment[tw]=Pudd kɔpi draibɛ/akyekyɛmu
Comment[ty]=Puddd copy drive/partition
Comment[ug]=Pudd ﻥﻮﻳﺍﺭ / ﭺﯘﻘﺗﺎﻏﺯﻮﻗ ﻥەﮕﻠﯩﺘﻳەﭘﯚﻛ
Comment[uk]=Копіювальний диск/розділ Pudd
Comment[ur]=ﻦﺸﯿﭨﺭﺎﭘ /ﻮﯿﺋﺍﺭﮈ ﯽﭘﺎﮐ ﮉﭘ
Comment[uz]=Pudd nusxa kochirish diski/bolimi
Comment[vi]=Pudd sao chép ổ đĩa/phân vùng
Comment[xh]=Pudd ikopi drive/isahlulelo
Comment[yi]=גנולייטעצ / ראָפ עיפּאָק דופּ
Comment[yo]=Pudd daakọ wakọ / ipin
Comment[zh]=Pudd 复制驱动器/分区
Comment[zu]=Pudd copy drive/partition
Comment=Pudd copy drive/partition
Exec=Pudd
Terminal=false
Type=Application
Categories=Archiving
GenericName=Pudd copy drive/partition
