[Desktop Entry]
Encoding=UTF-8
Name[fr]=Bloqueur des publicités en ligne : Pup-Advert-Blocker
Name[bg]=Pup-Advert-Blocker блокира онлайн реклами
Name[de]=Pup-Werbeblocker blockieren Online-Werbung
Name=Pup-Advert-Blocker block online ads
Icon=adblock.xpm
Comment[bg]=Блокира много онлайн реклами
Comment[de]=Blockiert viele Online-Anzeigen
Comment=Blocks many online adverts
Exec=pup-advert-blocker
Terminal=false
Type=Application
Categories=X-Internet-block
GenericName=Pup-Advert-Blocker
