[Desktop Entry]
Encoding=UTF-8
Name[fr]=Accès aux APN : PupCamera
Name[bg]=PupCamera цифров фотоапарат достъп
Name[de]=Zugriff auf die PupCamera Digitalkamera
Name[es]=PupCamera: explorador de cámaras digitales
Name[ru]=PupCamera цифров фотоапарат достъп
Name[af]=PupCamera digitale kamera toegang
Name[am]=PupCamera ዲጂታል ካሜራ መዳረሻ
Name[ar]=PupCamera ﺔﻴﻤﻗﺮﻟﺍ ﺍﺮﻴﻣﺎﻜﻟﺍ ﻰﻟﺇ ﻝﻮﺻﻮﻟﺍ
Name[as]=PupCamera ডিজিটেল কেমেৰাৰ প্ৰৱেশ
Name[ay]=PupCamera cámara digital ukar mantañataki
Name[az]=PupCamera rəqəmsal kameraya giriş
Name[ba]=PupCamera цифрлы фотоаппаратҡа инеү мөмкинлеге
Name[be]=Доступ да лічбавай камеры PupCamera
Name[bm]=PupCamera kamera numérique sɔrɔli
Name[bn]=PupCamera ডিজিটাল ক্যামেরা অ্যাক্সেস
Name[bo]=PupCamera digital camera access
Name[bs]=Pristup digitalnoj kameri PupCamera
Name[ca]=Accés a la càmera digital PupCamera
Name[co]=PupCamera accessu à a camera digitale
Name[cs]=Přístup k digitálnímu fotoaparátu PupCamera
Name[cy]=Mynediad camera digidol PupCamera
Name[da]=PupCamera digitalkamera adgang
Name[dv]=ސްސެކްއެ ރާމެކެ ލްޓަޖިޑި ރާމެކެޕްޕަ
Name[ee]=PupCamera dijitaal fotoɖemɔ̃ ƒe mɔɖeɖe
Name[el]=Πρόσβαση ψηφιακής κάμερας PupCamera
Name[eo]=PupCamera diĝita fotila aliro
Name[et]=PupCamera digikaamera juurdepääs
Name[eu]=PupCamera kamera digitalaren sarbidea
Name[fa]=PupCamera ﻝﺎﺘﯿﺠﯾﺩ ﻦﯿﺑﺭﻭﺩ ﻪﺑ ﯽﺳﺮﺘﺳﺩ
Name[fi]=PupCamera digitaalikamera pääsy
Name[fj]=PupCamera na itaba vakalivaliva
Name[fo]=PupCamera digital myndatól access
Name[fy]=PupCamera digitale kamera tagong
Name[ga]=Rochtain ceamara digiteach PupCamera
Name[gd]=Cothrom air camara didseatach PupCamera
Name[gl]=Acceso a cámara dixital PupCamera
Name[gn]=PupCamera cámara digital jeike
Name[gu]=PupCamera ડિજિટલ કેમેરા એક્સેસ
Name[ha]=Samun damar kyamarar dijital ta PupCamera
Name[he]=PupCamera לש תילטיגיד המלצמל השיג
Name[hi]=PupCamera डिजिटल कैमरा एक्सेस
Name[hr]=Pristup digitalnom fotoaparatu PupCamera
Name[ht]=PupCamera aksè kamera dijital
Name[hu]=PupCamera digitális fényképezőgép hozzáférés
Name[hy]=PupCamera թվային ֆոտոխցիկի հասանելիություն
Name[id]=Akses kamera digital PupCamera
Name[ig]=Nweta igwefoto dijitalụ PupCamera
Name[is]=PupCamera stafræn myndavél aðgangur
Name[it]=Accesso alla fotocamera digitale PupCamera
Name[iu]=PupCamera ᐊᔾᔨᓕᐅᕈᑎᓄᑦ ᐃᓯᕈᓐᓇᕐᓂᖅ
Name[ja]=PupCamera デジタル カメラへのアクセス
Name[jv]=Akses kamera digital PupCamera
Name[ka]=PupCamera ციფრული კამერის წვდომა
Name[kk]=PupCamera сандық камерасына қол жеткізу
Name[km]=ការចូលប្រើកាមេរ៉ាឌីជីថល PupCamera
Name[kn]=PupCamera ಡಿಜಿಟಲ್ ಕ್ಯಾಮೆರಾ ಪ್ರವೇಶ
Name[ko]=PupCamera 디지털 카메라 액세스
Name[ku]=PupCamera gihîştina kamera dîjîtal
Name[ky]=PupCamera санарип камерага кирүү
Name[la]=PupCamera digitale camera accessum
Name[lb]=PupCamera digital Kamera Zougang
Name[lg]=PupCamera okuyingira mu kkamera ya digito
Name[ln]=PupCamera accès na caméra numérique
Name[lo]=ການເຂົ້າເຖິງກ້ອງຖ່າຍຮູບດິຈິຕອນ PupCamera
Name[lt]=PupCamera skaitmeninės kameros prieiga
Name[lv]=PupCamera digitālā kamera piekļuve
Name[mg]=PupCamera fidirana fakantsary nomerika
Name[mi]=PupCamera urunga kamera matihiko
Name[mk]=Пристап до дигитална камера PupCamera
Name[ml]=PupCamera ഡിജിറ്റൽ ക്യാമറ ആക്സസ്
Name[mn]=PupCamera дижитал камер руу нэвтрэх
Name[mr]=PupCamera डिजिटल कॅमेरा प्रवेश
Name[ms]=Akses kamera digital PupCamera
Name[mt]=PupCamera aċċess għall-kamera diġitali
Name[my]=PupCamera ဒစ်ဂျစ်တယ်ကင်မရာဝင်ရောက်ခွင့်
Name[ne]=PupCamera डिजिटल क्यामेरा पहुँच
Name[nl]=PupCamera digitale camera toegang
Name[no]=PupCamera digitalkamera tilgang
Name[ny]=Kufikira kwa kamera ya digito ya PupCamera
Name[om]=PupCamera kaameeraa dijiitaalaa argachuu
Name[or]=ପପ୍ କ୍ୟାମେରା ଡିଜିଟାଲ୍ କ୍ୟାମେରା ଆକ୍ସେସ୍ |
Name[pa]=PupCamera ਡਿਜੀਟਲ ਕੈਮਰਾ ਪਹੁੰਚ
Name[pl]=Dostęp do aparatu cyfrowego PupCamera
Name[ps]=ﯽﺳﺮﺳﻻ﻿ ﯤﺮﻤﯿﮐ ﻞټﯿﺠﯾډ PupCamera ﺩ
Name[pt]=Acesso à câmera digital PupCamera
Name[qu]=PupCamera digital cámara nisqaman yaykuy
Name[ro]=Acces la camera digitală PupCamera
Name[rw]=PupCamera kamera yububiko
Name[sa]=PupCamera डिजिटल कैमरा अभिगम
Name[sd]=PupCamera ﻲﺋﺎﺳﺭ ﻦﻴﺋﺎﺗ ﺍﺮﻴﻤﺌڪ ﻞٽﻴﺟڊ
Name[si]=PupCamera ඩිජිටල් කැමරා ප්u200dරවේශය
Name[sk]=Prístup k digitálnemu fotoaparátu PupCamera
Name[sl]=Dostop do digitalne kamere PupCamera
Name[sm]=PupCamera avanoa meapueata numera
Name[sn]=PupCamera digitaalinen kamera kuwana
Name[so]=Helitaanka kamarada dhijitaalka ah ee PupCamera
Name[sq]=Qasja e kamerës dixhitale PupCamera
Name[st]=Ho fihlella khamera ea dijithale ea PupCamera
Name[su]=aksés kaméra digital PupCamera
Name[sv]=PupCamera digitalkamera tillgång
Name[sw]=Ufikiaji wa kamera ya dijiti ya PupCamera
Name[ta]=PupCamera டிஜிட்டல் கேமரா அணுகல்
Name[te]=PupCamera డిజిటల్ కెమెరా యాక్సెస్
Name[tg]=Дастрасии камераи рақамии PupCamera
Name[th]=การเข้าถึงกล้องดิจิตอล PupCamera
Name[ti]=ፓፕካሜራ ዲጂታል ካሜራ ምብጻሕ
Name[tk]=PupCamera sanly kamera girişi
Name[tl]=PupCamera digital camera access
Name[to]=PupCamera e meʻa faita fakaʻilekitulonika
Name[tr]=PupCamera dijital kamera erişimi
Name[ts]=PupCamera mfikelelo wa khamera ya xidijitali
Name[tt]=PupCamera санлы камерага керү
Name[tw]=PupCamera dijitaal mfoninitwa afiri a wɔde di dwuma
Name[ty]=PupCamera digital access
Name[ug]=PupCamera ﺶﯩﻠﯩﻗ ﺕەﺭﺎﻴﯨﺯ ﺍﺮﯧﻣﺎﻛ ﻚﯩﻠﻣەﻗەﺭ
Name[uk]=Доступ до цифрової камери PupCamera
Name[ur]=PupCamera ﯽﺋﺎﺳﺭ ﮏﺗ ﮮﺮﻤﯿﮐ ﻞﭩﯿﺠﯾﮈ
Name[uz]=PupCamera raqamli kameraga kirish
Name[vi]=Truy cập máy ảnh kỹ thuật số PupCamera
Name[xh]=Ukufikelela kwikhamera yedijithali yePupCamera
Name[yi]=PupCamera סעסקאַ טאַראַפּאַ לאַטיגיד
Name[yo]=Wiwọle kamẹra oni-nọmba PupCamera
Name[zh]=PupCamera数码相机访问
Name[zu]=Ukufinyelela kwekhamera yedijithali ye-PupCamera
Name=PupCamera digital camera access
Comment[fr]=Rechercher et télécharger des images d'un appareil photos numérique
Comment[bg]=Преглед и изтегляне на изображения от прикачен цифров фотоапарат
Comment[de]=Durchsuchen und Herunterladen von Bildern von einer angeschlossenen Digitalkamera
Comment[es]=PupCamera: explorador de cámaras digitales
Comment[ru]=Преглед и изтегляне на изображения от прикачен цифров фотоапарат
Comment[af]=Blaai deur en laai prente van n aangehegte digitale kamera af
Comment[am]=ከተያያዘው ዲጂታል ካሜራ ምስሎችን ያስሱ እና ያውርዱ
Comment[ar]=ﺔﻘﻓﺮﻤﻟﺍ ﺔﻴﻤﻗﺮﻟﺍ ﺍﺮﻴﻣﺎﻜﻟﺍ ﻦﻣ ﺭﻮﺼﻟﺍ ﻞﻴﻤﺤﺗﻭ ﺢﻔﺼﺗ
Comment[as]=এটা সংলগ্ন ডিজিটেল কেমেৰাৰ পৰা ছবি ব্ৰাউজ আৰু ডাউনলোড কৰক
Comment[ay]=Mä cámara digital ukamp chikt’at uñacht’awinak uñakipt’aña ukat apsuña
Comment[az]=Əlavə edilmiş rəqəmsal kameradan şəkillərə baxın və endirin
Comment[ba]=Беркетелгән цифрлы фотоаппараттан һүрәттәрҙе ҡарап сығыгеҙ һәм йөкләгеҙ
Comment[be]=Праглядайце і спампоўвайце выявы з падключанай лічбавай камеры
Comment[bm]=Jaw lajɛ ani k’u telesarse ka bɔ kamera numérique dɔ la min bɛ i nɔrɔ a la
Comment[bn]=একটি সংযুক্ত ডিজিটাল ক্যামেরা থেকে ছবি ব্রাউজ এবং ডাউনলোড করুন
Comment[bo]=ཟུར་བཀོད་བྱས་པའི་ཨང་ཀིའི་པར་ཆས་ནང་ནས་པར་རིས་ལ་ལྟ་ཀློག་དང་ཕབ་ལེན་བྱས།
Comment[bs]=Pretražujte i preuzimajte slike sa priključenog digitalnog fotoaparata
Comment[ca]=Exploreu i baixeu imatges des duna càmera digital connectada
Comment[co]=Sfoglia è scaricate limaghjini da una camera digitale attaccata
Comment[cs]=Procházejte a stahujte snímky z připojeného digitálního fotoaparátu
Comment[cy]=Pori a lawrlwytho delweddau o gamera digidol sydd ynghlwm
Comment[da]=Gennemse og download billeder fra et tilsluttet digitalkamera
Comment[dv]=ންރުކު ޑްލޯންއުޑަ ށްކޮޒްއުރަބް އްތަރުވީސްތަ ންކުއަރާމެކެ ލްޓަޖިޑި ވާއިފަށްކޮޗްޓޭއެ
Comment[ee]=Di nɔnɔmetatawo eye nàɖe wo tso fotoɖemɔ̃ si wotsɔ kpe ɖe eŋu me
Comment[el]=Περιηγηθείτε και κατεβάστε εικόνες από μια συνδεδεμένη ψηφιακή φωτογραφική μηχανή
Comment[eo]=Foliumu kaj elŝutu bildojn de kunligita diĝita fotilo
Comment[et]=Sirvige ja laadige alla ühendatud digitaalkaamerast pilte
Comment[eu]=Arakatu eta deskargatu irudiak erantsitako kamera digital batetik
Comment[fa]=ﺪﯿﻨﮐ ﺩﻮﻠﻧﺍﺩ ﻭ ﺭﻭﺮﻣ ﻩﺪﺷ ﻞﺼﺘﻣ ﻝﺎﺘﯿﺠﯾﺩ ﻦﯿﺑﺭﻭﺩ ﺯﺍ ﺍﺭ ﺮﯾﻭﺎﺼﺗ
Comment[fi]=Selaa ja lataa kuvia liitetystä digitaalikamerasta
Comment[fj]=Rai ka lavetaka na iyaloyalo mai na dua na itaba vakalivaliva sa vakacurumi tu
Comment[fo]=Browse og taka myndir av einum knýttum myndatóli.
Comment[fy]=Blêdzje en download ôfbyldings fan in taheakke digitale kamera
Comment[ga]=Brabhsáil agus íoslódáil íomhánna ó cheamara digiteach ceangailte
Comment[gd]=Dèan brobhsadh agus luchdaich sìos ìomhaighean bho chamara didseatach ceangailte
Comment[gl]=Navega e descarga imaxes desde unha cámara dixital adxunta
Comment[gn]=Eheka ha emboguejy taꞌãngamýi peteĩ cámara digital oñembojoajúvagui
Comment[gu]=જોડાયેલ ડિજિટલ કેમેરામાંથી છબીઓ બ્રાઉઝ કરો અને ડાઉનલોડ કરો
Comment[ha]=Bincika kuma zazzage hotuna daga kyamarar dijital da aka haɗe
Comment[he]=תפרוצמ תילטיגיד המלצממ תונומת דרוהו ןייע
Comment[hi]=संलग्न डिजिटल कैमरे से छवियाँ ब्राउज़ करें और डाउनलोड करें
Comment[hr]=Pregledajte i preuzmite slike s priključene digitalne kamere
Comment[ht]=Browse ak telechaje imaj ki sòti nan yon kamera dijital ki tache
Comment[hu]=Böngésszen és töltsön le képeket egy csatlakoztatott digitális fényképezőgépről
Comment[hy]=Զննեք և ներբեռնեք պատկերներ կցված թվային ֆոտոխցիկից
Comment[id]=Jelajahi dan unduh gambar dari kamera digital yang terpasang
Comment[ig]=Chọgharịa ma budata onyonyo site na igwefoto dijitalụ agbakwunyere
Comment[is]=Skoðaðu og halaðu niður myndum úr meðfylgjandi stafrænni myndavél
Comment[it]=Sfoglia e scarica le immagini da una fotocamera digitale collegata
Comment[iu]=ᕿᒥᕐᕈᓗᒋᑦ ᒥᓇᕆᓗᒋᓪᓗ ᐊᔾᔨᙳᐊᑦ ᐊᑕᔪᒥᑦ ᐊᔾᔨᓕᐅᕈᑎᒥᑦ
Comment[ja]=接続されたデジタル カメラから画像を参照してダウンロードする
Comment[jv]=Telusuri lan download gambar saka kamera digital sing dipasang
Comment[ka]=დაათვალიერეთ და ჩამოტვირთეთ სურათები თანდართული ციფრული კამერიდან
Comment[kk]=Бекітілген сандық камерадан кескіндерді шолыңыз және жүктеңіз
Comment[km]=រុករក និងទាញយករូបភាពពីកាមេរ៉ាឌីជីថលដែលភ្ជាប់មកជាមួយ
Comment[kn]=ಲಗತ್ತಿಸಲಾದ ಡಿಜಿಟಲ್ ಕ್ಯಾಮೆರಾದಿಂದ ಚಿತ್ರಗಳನ್ನು ಬ್ರೌಸ್ ಮಾಡಿ ಮತ್ತು ಡೌನ್u200cಲೋಡ್ ಮಾಡಿ
Comment[ko]=연결된 디지털 카메라에서 이미지 검색 및 다운로드
Comment[ku]=Wêneyên ji kamerayek dîjîtal a pêvekirî bigerin û dakêşin
Comment[ky]=Тиркелген санарип камерасынан сүрөттөрдү карап чыгып, жүктөп алыңыз
Comment[la]=Browse and download images from an attached digital camera
Comment[lb]=Browst a luet Biller vun enger angeschlosser Digitalkamera erof
Comment[lg]=Browse era owanule ebifaananyi okuva ku digital camera eyungiddwaako
Comment[ln]=Naviguer mpe télécharger bilili na caméra numérique oyo ekangami
Comment[lo]=ຊອກຫາ ແລະດາວໂຫຼດຮູບພາບຈາກກ້ອງດິຈິຕອລທີ່ຕິດຄັດມາ
Comment[lt]=Naršykite ir atsisiųskite vaizdus iš prijungto skaitmeninio fotoaparato
Comment[lv]=Pārlūkojiet un lejupielādējiet attēlus no pievienotās digitālās kameras
Comment[mg]=Mikaroka sy misintona sary avy aminny fakantsary nomerika mipetaka
Comment[mi]=Tirotiro me te tango whakaahua mai i te kaamera matihiko kua piri
Comment[mk]=Прелистувајте и преземајте слики од прикачен дигитален фотоапарат
Comment[ml]=ഘടിപ്പിച്ച ഡിജിറ്റൽ ക്യാമറയിൽ നിന്ന് ചിത്രങ്ങൾ ബ്രൗസ് ചെയ്ത് ഡൗൺലോഡ് ചെയ്യുക
Comment[mn]=Хавсаргасан дижитал камераас зураг үзэж, татаж аваарай
Comment[mr]=संलग्न डिजिटल कॅमेऱ्यावरून प्रतिमा ब्राउझ करा आणि डाउनलोड करा
Comment[ms]=Semak imbas dan muat turun imej daripada kamera digital yang dilampirkan
Comment[mt]=Fittex u tniżżel immaġini minn kamera diġitali mehmuża
Comment[my]=ပူးတွဲပါဒစ်ဂျစ်တယ်ကင်မရာမှ ပုံများကို ကြည့်ရှုပြီး ဒေါင်းလုဒ်လုပ်ပါ။
Comment[ne]=संलग्न डिजिटल क्यामेराबाट छविहरू ब्राउज र डाउनलोड गर्नुहोस्
Comment[nl]=Blader door en download afbeeldingen van een aangesloten digitale camera
Comment[no]=Bla gjennom og last ned bilder fra et vedlagt digitalkamera
Comment[ny]=Sakatulani ndikutsitsa zithunzi kuchokera pa kamera ya digito yolumikizidwa
Comment[om]=Suuraalee kaameraa dijitaalaa walitti qabe irraa daawwachuu fi buufachuu
Comment[or]=ସଂଲଗ୍ନ ଡିଜିଟାଲ କ୍ୟାମେରାରୁ ପ୍ରତିଛବି ବ୍ରାଉଜ୍ ଏବଂ ଡାଉନଲୋଡ୍ କରନ୍ତୁ |
Comment[pa]=ਅਟੈਚਡ ਡਿਜ਼ੀਟਲ ਕੈਮਰੇ ਤੋਂ ਤਸਵੀਰਾਂ ਬ੍ਰਾਊਜ਼ ਕਰੋ ਅਤੇ ਡਾਊਨਲੋਡ ਕਰੋ
Comment[pl]=Przeglądaj i pobieraj obrazy z podłączonego aparatu cyfrowego
Comment[ps]=ﺉړﮐ ډﻮﻠﻧﻭﺍډ ﻭﺍ ﺯﻭﺍﺮﺑ ﻪﻧﻮﺴﮑﻋ ﻪﺨڅ ﯤﺮﻤﯿﮐ ﻞټﯿﺠﯾډ ﻪﻤﯿﻤﺿ ﺩ
Comment[pt]=Navegue e baixe imagens de uma câmera digital anexada
Comment[qu]=Huk kaskasqa digital cámaramanta siqikunata maskay chaymanta uraykachiy
Comment[ro]=Răsfoiți și descărcați imagini de pe o cameră digitală atașată
Comment[rw]=Kurikirana no gukuramo amashusho muri kamera ifatanye
Comment[sa]=संलग्नस्य डिजिटलकैमरातः चित्राणि ब्राउज् कृत्वा डाउनलोड् कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ڊﻮﻟ ﻥﻮﺋﺍڊ ۽ ﺯﺅﺍﺮﺑ ﻥﻭﺮﻳﻮﺼﺗ ﻥﺎﻣ ﺍﺮﻴﻤﺌڪ ﻞٽﻴﺟڊ ڪﻠﺴﻨﻣ ڪﻫ
Comment[si]=අමුණා ඇති ඩිජිටල් කැමරාවකින් පින්තූර බ්u200dරවුස් කර බාගත කරන්න
Comment[sk]=Prehliadajte a sťahujte obrázky z pripojeného digitálneho fotoaparátu
Comment[sl]=Prebrskajte in prenesite slike iz priloženega digitalnega fotoaparata
Comment[sm]=Suesue ma lau mai ata mai se meapueata faapipii
Comment[sn]=Bhurawuza uye dhawunirodha mifananidzo kubva kune yakabatanidzwa digitaalinen kamera
Comment[so]=Ka baadho oo soo deji sawirada kamarada dhijitaalka ah ee ku xidhan
Comment[sq]=Shfletoni dhe shkarkoni imazhe nga një aparat fotografik dixhital i bashkangjitur
Comment[st]=Sheba le ho khoasolla litšoantšo ho tsoa khamera ea digital e khomaretsoeng
Comment[su]=Kotektak tur ngundeur gambar tina kaméra digital napel
Comment[sv]=Bläddra och ladda ner bilder från en ansluten digitalkamera
Comment[sw]=Vinjari na upakue picha kutoka kwa kamera ya dijiti iliyoambatishwa
Comment[ta]=இணைக்கப்பட்ட டிஜிட்டல் கேமராவிலிருந்து படங்களை உலாவவும் பதிவிறக்கவும்
Comment[te]=జోడించిన డిజిటల్ కెమెరా నుండి చిత్రాలను బ్రౌజ్ చేయండి మరియు డౌన్u200cలోడ్ చేయండి
Comment[tg]=Тасвирҳоро аз камераи рақамии замимашуда паймоиш ва зеркашӣ кунед
Comment[th]=เรียกดูและดาวน์โหลดรูปภาพจากกล้องดิจิทัลที่แนบมา
Comment[ti]=ካብ ዝተተሓሓዘት ዲጂታላዊ ካሜራ ምስልታት ምድህሳስን ምውራድን
Comment[tk]=Birikdirilen sanly kameradan suratlara göz aýlaň we göçürip alyň
Comment[tl]=Mag-browse at mag-download ng mga larawan mula sa isang naka-attach na digital camera
Comment[to]=Vakai takai holo mo download e ngaahi ʻata mei ha meʻa faita fakaʻilekitulonika ʻoku ʻoatu
Comment[tr]=Bağlı bir dijital kameradan görüntülere göz atın ve indirin
Comment[ts]=Languta ni ku kopa swifaniso eka khamera ya xidijitali leyi khomanisiweke
Comment[tt]=Беркетелгән санлы камерадан рәсемнәрне карау һәм йөкләү
Comment[tw]=Hwehwɛ mfonini ahorow mu na twe fi dijitaal mfoninitwa afiri a wɔde abata ho so
Comment[ty]=A pata e a faauta uira mai i te mau hohoa i nia i te matini roro uira i apitihiatu
Comment[ug]=ﯓﯛﺭﯜﺷﯜﭼ ەﯞ ﯓﯛﺭﯚﻛ ﻰﻧﺭەﻠﻤﯩﺳەﺭ ﻦﯨﺩﺍﺮﯧﻣﺎﻛ ﻚﯩﻠﻣەﻗەﺭ ﻥﺎﻐﻧﻻ﻿ﯘﺋ
Comment[uk]=Переглядайте та завантажуйте зображення з приєднаної цифрової камери
Comment[ur]=۔ﮟﯾﺮﮐ ﮈﻮﻟ ﻥﺅﺍﮈ ﺭﻭﺍ ﺯﺅﺍﺮﺑ ﺮﯾﻭﺎﺼﺗ ﮯﺳ ﮮﺮﻤﯿﮐ ﻞﭩﯿﺠﯾﮈ ﮏﻠﺴﻨﻣ
Comment[uz]=Ulangan raqamli kameradan rasmlarni korib chiqing va yuklab oling
Comment[vi]=Duyệt và tải xuống hình ảnh từ một máy ảnh kỹ thuật số đính kèm
Comment[xh]=Khangela kwaye ukhuphele imifanekiso kwikhamera yedijithali eqhotyoshelweyo
Comment[yi]=טאַראַפּאַ לאַטיגיד טשטאַטאַ ןאַ ןופֿ רעדליב עיפאקפארא ןוא רעטעלב
Comment[yo]=Ṣawakiri ati ṣe igbasilẹ awọn aworan lati kamẹra oni-nọmba ti o somọ
Comment[zh]=从连接的数码相机浏览和下载图像
Comment[zu]=Phequlula futhi ulande izithombe ekhamera yedijithali enamathiselwe
Comment=Browse and download images from an attached digital camera
Exec=pupcamera
Icon=mini-camera.xpm
Terminal=false
Type=Application
Categories=X-Graphic-camera
