[Desktop Entry]
Encoding=UTF-8
Name[fr]=Accès aux APN : PupCamera
Name[bg]=PupCamera цифров фотоапарат достъп
Name=PupCamera digital camera access
Comment[fr]=Rechercher et télécharger des images d'un appareil photos numérique
Comment[bg]=Преглед и изтегляне на изображения от прикачен цифров фотоапарат
Comment=Browse and download images from an attached digital camera
Exec=pupcamera
Icon=mini-camera.xpm
Terminal=false
Type=Application
Categories=X-Graphic-camera
