[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des évènements
Name[bg]=Puppy Event Manager
Name[de]=Welpen-Event-Manager
Name[es]=Gestos de eventos de Puppy
Name[ru]=Менеджер событий Puppy
Name[tr]=Puppy OlayYöneticisi
Name[af]=Puppy Event Manager
Name[am]=ቡችላ ክስተት አስተዳዳሪ
Name[ar]=ﻭﺮﺠﻟﺍ ﺙﺪﺣ ﺮﻳﺪﻣ
Name[as]=কুকুৰ পোৱালি ইভেন্ট মেনেজাৰ
Name[ay]=Puppy Evento ukan irpiripa
Name[az]=Puppy Tədbir Meneceri
Name[ba]=Ҡупшы ваҡиғалар менән идара итеүсе
Name[be]=Шчанюк Event Manager
Name[bm]=Puppy Kow ɲɛnabɔbaga
Name[bn]=পপি ইভেন্ট ম্যানেজার
Name[bo]=ཁྱི་ཕྲུག་གི་བྱ་འགུལ་སྤྱི་གཉེར་བ།
Name[bs]=Puppy Event Manager
Name[ca]=Gestor desdeveniments Puppy
Name[co]=Puppy Event Manager
Name[cs]=Správce akcí pro štěně
Name[cy]=Rheolwr Digwyddiad Cŵn Bach
Name[da]=Puppy Event Manager
Name[dv]=ވެރެޖަނޭމެ ޓްންވެއި ޕީޕަ
Name[ee]=Puppy Nudzɔdzɔwo Dzikpɔla
Name[el]=Puppy Event Manager
Name[eo]=Puppy Event Manager
Name[et]=Kutsikate ürituste juht
Name[eu]=Puppy Gertaeren kudeatzailea
Name[fa]=ﮓﺳ ﻪﻟﻮﺗ ﺩﺍﺪﯾﻭﺭ ﺮﯾﺪﻣ
Name[fi]=Pentutapahtuman johtaja
Name[fj]=Manidia ni Soqo ni Luvenikoli
Name[fo]=Puppy Event Manager
Name[fy]=Puppy Event Manager
Name[ga]=Bainisteoir Imeachtaí Puppy
Name[gd]=Manaidsear Tachartas Puppy
Name[gl]=Xestor de eventos Puppy
Name[gn]=Cachorro Evento Moakãhára
Name[gu]=પપી ઇવેન્ટ મેનેજર
Name[ha]=Manajan Event Puppy
Name[he]=רוג יעוריא להנמ
Name[hi]=पिल्ला इवेंट मैनेजर
Name[hr]=Puppy Event Manager
Name[ht]=Manadjè Evènman Puppy
Name[hu]=Kölyök Rendezvény Menedzser
Name[hy]=Puppy իրադարձությունների մենեջեր
Name[id]=Manajer Acara Anak Anjing
Name[ig]=Onye njikwa mmemme nwa nkịta
Name[is]=Hvolpaviðburðastjóri
Name[it]=Responsabile eventi cuccioli
Name[iu]=ᐱᙳᐊᖅᑐᓂᒃ ᐊᐅᓚᑦᑎᔨ
Name[ja]=パピーイベントマネージャー
Name[jv]=Manajer Acara Puppy
Name[ka]=Puppy Event Manager
Name[kk]=Puppy Event Manager
Name[km]=អ្នកគ្រប់គ្រងព្រឹត្តិការណ៍កូនឆ្កែ
Name[kn]=ಪಪ್ಪಿ ಇವೆಂಟ್ ಮ್ಯಾನೇಜರ್
Name[ko]=퍼피 이벤트 매니저
Name[ku]=Puppy Event Manager
Name[ky]=Puppy Event Manager
Name[la]=Catulus Vicis Manager
Name[lb]=Puppy Event Manager
Name[lg]=Omuddukanya emikolo gya Puppy
Name[ln]=Mokambi ya makambo ya mwana ya mbwa
Name[lo]=Puppy ຜູ້ຈັດການເຫດການ
Name[lt]=Šuniukų renginių vedėjas
Name[lv]=Kucēnu pasākumu vadītājs
Name[mg]=Puppy Event Manager
Name[mi]=Kaiwhakahaere Takahanga Puppy
Name[mk]=Менаџер на настани за кутре
Name[ml]=പപ്പി ഇവന്റ് മാനേജർ
Name[mn]=Гөлөгний үйл явдлын менежер
Name[mr]=पिल्लू इव्हेंट मॅनेजर
Name[ms]=Pengurus Acara Puppy
Name[mt]=Puppy Event Manager
Name[my]=Puppy Event Manager
Name[ne]=कुकुर घटना प्रबन्धक
Name[nl]=Evenementenmanager puppys
Name[no]=Valpebegivenhetsleder
Name[ny]=Puppy Event Manager
Name[om]=Hogganaa Taatee Puppy
Name[or]=ପପୁ ଇଭେଣ୍ଟ ମ୍ୟାନେଜର |
Name[pa]=ਪਪੀ ਇਵੈਂਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer imprez dla szczeniąt
Name[ps]=ﺮﯾﺪﻣ ﯥښﯿﭘ ۍګﺍډﻮګ ﺩ
Name[pt]=Gestor de Eventos para Cachorros
Name[qu]=Allqucha Evento kamachiq
Name[ro]=Manager de evenimente Puppy
Name[rw]=Umuyobozi wibibwana
Name[sa]=पिल्ला आयोजन प्रबन्धक
Name[sd]=ﺮﺠﻴﻨﺌﻣ ٽﻧﻮﻳﺍ ﻮﺘڪ
Name[si]=බලු පැටවුන් සිදුවීම් කළමනාකරු
Name[sk]=Manažér udalostí pre šteňatá
Name[sl]=Puppy Event Manager
Name[sm]=Puppy Event Manager
Name[sn]=Puppy Chiitiko Maneja
Name[so]=Maamulaha Dhacdada Puppy
Name[sq]=Menaxher i ngjarjeve të qenve
Name[st]=Motsamaisi oa Ketsahalo ea Puppy
Name[su]=Manajer Acara anak anjing
Name[sv]=Event Manager för valp
Name[sw]=Meneja wa Tukio la Puppy
Name[ta]=நாய்க்குட்டி நிகழ்வு மேலாளர்
Name[te]=కుక్కపిల్ల ఈవెంట్ మేనేజర్
Name[tg]=Менеҷери чорабиниҳои сагбача
Name[th]=ผู้จัดการเหตุการณ์ลูกสุนัข
Name[ti]=ናይ ቡችላ ፍጻመ ኣካያዲ
Name[tk]=Güýjük hadysasynyň dolandyryjysy
Name[tl]=Puppy Event Manager
Name[to]=Pule ʻo e meʻa naʻe hoko ʻi he
Name[ts]=Mufambisi wa Xiendlakalo xa Puppy
Name[tt]=Күчек вакыйга менеджеры
Name[tw]=Puppy Nsɛm a Esisii Sohwɛfo
Name[ty]=Puohuraa no te mau hohoa peni
Name[ug]=ﻯﺭﻮﺘﻜﯨﺮﯦﺩ ﺕەﻴﯩﻟﺎﺋﺎﭘ ﻙﯜﭼﯜﻛ
Name[uk]=Щеня Event Manager
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﭧﻧﻮﯾﺍ ﯽﭙﭘ
Name[uz]=Puppy Tadbir menejeri
Name[vi]=Người quản lý sự kiện dành cho chó con
Name[xh]=Umphathi woMnyhadala wePuppy
Name[yi]=רעגאַנאַמ טנעווע עלעטניה
Name[yo]=Puppy ti oyan Manager
Name[zh]=小狗活动经理
Name[zu]=Umphathi Womcimbi We-Puppy
Name=Puppy Event Manager
Icon=so.xpm
Comment[fr]=Gestion des évènements
Comment[bg]=Puppy Event Manager
Comment[de]=Welpen-Event-Manager
Comment[es]=Gestor de eventos de Puppy
Comment[ru]=Менеджер мероприятий для щенков
Comment[tr]=Puppy Olay Yöneticisi
Comment[af]=Puppy Event Manager
Comment[am]=ቡችላ ክስተት አስተዳዳሪ
Comment[ar]=ﻭﺮﺠﻟﺍ ﺙﺪﺣ ﺮﻳﺪﻣ
Comment[as]=কুকুৰ পোৱালি ইভেন্ট মেনেজাৰ
Comment[ay]=Puppy Evento ukan irpiripa
Comment[az]=Puppy Tədbir Meneceri
Comment[ba]=Ҡупшы ваҡиғалар менән идара итеүсе
Comment[be]=Шчанюк Event Manager
Comment[bm]=Puppy Kow ɲɛnabɔbaga
Comment[bn]=পপি ইভেন্ট ম্যানেজার
Comment[bo]=ཁྱི་ཕྲུག་གི་བྱ་འགུལ་སྤྱི་གཉེར་བ།
Comment[bs]=Puppy Event Manager
Comment[ca]=Gestor desdeveniments Puppy
Comment[co]=Puppy Event Manager
Comment[cs]=Správce akcí pro štěně
Comment[cy]=Rheolwr Digwyddiad Cŵn Bach
Comment[da]=Puppy Event Manager
Comment[dv]=ވެރެޖަނޭމެ ޓްންވެއި ޕީޕަ
Comment[ee]=Puppy Nudzɔdzɔwo Dzikpɔla
Comment[el]=Puppy Event Manager
Comment[eo]=Puppy Event Manager
Comment[et]=Kutsikate ürituste juht
Comment[eu]=Puppy Gertaeren kudeatzailea
Comment[fa]=ﮓﺳ ﻪﻟﻮﺗ ﺩﺍﺪﯾﻭﺭ ﺮﯾﺪﻣ
Comment[fi]=Pentutapahtuman johtaja
Comment[fj]=Manidia ni Soqo ni Luvenikoli
Comment[fo]=Puppy Event Manager
Comment[fy]=Puppy Event Manager
Comment[ga]=Bainisteoir Imeachtaí Puppy
Comment[gd]=Manaidsear Tachartas Puppy
Comment[gl]=Xestor de eventos Puppy
Comment[gn]=Cachorro Evento Moakãhára
Comment[gu]=પપી ઇવેન્ટ મેનેજર
Comment[ha]=Manajan Event Puppy
Comment[he]=רוג יעוריא להנמ
Comment[hi]=पिल्ला इवेंट मैनेजर
Comment[hr]=Puppy Event Manager
Comment[ht]=Manadjè Evènman Puppy
Comment[hu]=Kölyök Rendezvény Menedzser
Comment[hy]=Puppy իրադարձությունների մենեջեր
Comment[id]=Manajer Acara Anak Anjing
Comment[ig]=Onye njikwa mmemme nwa nkịta
Comment[is]=Hvolpaviðburðastjóri
Comment[it]=Responsabile eventi cuccioli
Comment[iu]=ᐱᙳᐊᖅᑐᓂᒃ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=パピーイベントマネージャー
Comment[jv]=Manajer Acara Puppy
Comment[ka]=Puppy Event Manager
Comment[kk]=Puppy Event Manager
Comment[km]=អ្នកគ្រប់គ្រងព្រឹត្តិការណ៍កូនឆ្កែ
Comment[kn]=ಪಪ್ಪಿ ಇವೆಂಟ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=퍼피 이벤트 매니저
Comment[ku]=Puppy Event Manager
Comment[ky]=Puppy Event Manager
Comment[la]=Catulus Vicis Manager
Comment[lb]=Puppy Event Manager
Comment[lg]=Omuddukanya emikolo gya Puppy
Comment[ln]=Mokambi ya makambo ya mwana ya mbwa
Comment[lo]=Puppy ຜູ້ຈັດການເຫດການ
Comment[lt]=Šuniukų renginių vedėjas
Comment[lv]=Kucēnu pasākumu vadītājs
Comment[mg]=Puppy Event Manager
Comment[mi]=Kaiwhakahaere Takahanga Puppy
Comment[mk]=Менаџер на настани за кутре
Comment[ml]=പപ്പി ഇവന്റ് മാനേജർ
Comment[mn]=Гөлөгний үйл явдлын менежер
Comment[mr]=पिल्लू इव्हेंट मॅनेजर
Comment[ms]=Pengurus Acara Puppy
Comment[mt]=Puppy Event Manager
Comment[my]=Puppy Event Manager
Comment[ne]=कुकुर घटना प्रबन्धक
Comment[nl]=Evenementenmanager puppys
Comment[no]=Valpebegivenhetsleder
Comment[ny]=Puppy Event Manager
Comment[om]=Hogganaa Taatee Puppy
Comment[or]=ପପୁ ଇଭେଣ୍ଟ ମ୍ୟାନେଜର |
Comment[pa]=ਪਪੀ ਇਵੈਂਟ ਮੈਨੇਜਰ
Comment[pl]=Menedżer imprez dla szczeniąt
Comment[ps]=ﺮﯾﺪﻣ ﯥښﯿﭘ ۍګﺍډﻮګ ﺩ
Comment[pt]=Gestor de Eventos para Cachorros
Comment[qu]=Allqucha Evento kamachiq
Comment[ro]=Manager de evenimente Puppy
Comment[rw]=Umuyobozi wibibwana
Comment[sa]=पिल्ला आयोजन प्रबन्धक
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ٽﻧﻮﻳﺍ ﻮﺘڪ
Comment[si]=බලු පැටවුන් සිදුවීම් කළමනාකරු
Comment[sk]=Manažér udalostí pre šteňatá
Comment[sl]=Puppy Event Manager
Comment[sm]=Puppy Event Manager
Comment[sn]=Puppy Chiitiko Maneja
Comment[so]=Maamulaha Dhacdada Puppy
Comment[sq]=Menaxher i ngjarjeve të qenve
Comment[st]=Motsamaisi oa Ketsahalo ea Puppy
Comment[su]=Manajer Acara anak anjing
Comment[sv]=Event Manager för valp
Comment[sw]=Meneja wa Tukio la Puppy
Comment[ta]=நாய்க்குட்டி நிகழ்வு மேலாளர்
Comment[te]=కుక్కపిల్ల ఈవెంట్ మేనేజర్
Comment[tg]=Менеҷери чорабиниҳои сагбача
Comment[th]=ผู้จัดการเหตุการณ์ลูกสุนัข
Comment[ti]=ናይ ቡችላ ፍጻመ ኣካያዲ
Comment[tk]=Güýjük hadysasynyň dolandyryjysy
Comment[tl]=Puppy Event Manager
Comment[to]=Pule ʻo e meʻa naʻe hoko ʻi he
Comment[ts]=Mufambisi wa Xiendlakalo xa Puppy
Comment[tt]=Күчек вакыйга менеджеры
Comment[tw]=Puppy Nsɛm a Esisii Sohwɛfo
Comment[ty]=Puohuraa no te mau hohoa peni
Comment[ug]=ﻯﺭﻮﺘﻜﯨﺮﯦﺩ ﺕەﻴﯩﻟﺎﺋﺎﭘ ﻙﯜﭼﯜﻛ
Comment[uk]=Щеня Event Manager
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﭧﻧﻮﯾﺍ ﯽﭙﭘ
Comment[uz]=Puppy Tadbir menejeri
Comment[vi]=Người quản lý sự kiện dành cho chó con
Comment[xh]=Umphathi woMnyhadala wePuppy
Comment[yi]=רעגאַנאַמ טנעווע עלעטניה
Comment[yo]=Puppy ti oyan Manager
Comment[zh]=小狗活动经理
Comment[zu]=Umphathi Womcimbi We-Puppy
Comment=Puppy Event Manager
Exec=eventmanager
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=eventmanager
