[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion des évènements
Name[bg]=Puppy Event Manager
Name[de]=Welpen-Event-Manager
Name=Puppy Event Manager
Icon=so.xpm
Comment[bg]=Puppy Event Manager
Comment[de]=Welpen-Event-Manager
Comment=Puppy Event Manager
Exec=eventmanager
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=eventmanager
