[Desktop Entry]
Encoding=UTF-8
Name[fr]=Informations des interfaces : PupScan
Name[bg]=Информация за интерфейса на PupScan
Name[de]=Informationen zur PupScan-Benutzeroberfläche
Name=PupScan interface information
Icon=Card.xpm
Comment[bg]=Информация за интерфейса на PupScan
Comment[de]=Informationen zur PupScan-Benutzeroberfläche
Comment=PupScan interface information
Exec=pupscan
Terminal=false
Type=Application
Categories=X-System
GenericName=PupScan interface information
