[Desktop Entry]
Encoding=UTF-8
Name=Qsync set time from Internet
Icon=mini-clock.xpm
Comment=Qsync time server synchronisation
Exec=qsync
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Qsync
NoDisplay=true
