[Desktop Entry]
Encoding=UTF-8
Name[fr]=Synchroniser l'heure : Qsync
Name[de]=Qsync-Einstellungszeit aus dem Internet
Name[es]=Qsync: establecer la hora desde Internet
Name[ru]=Qsync устанавливает время из Интернета
Name=Qsync set time from Internet
Icon=mini-clock.xpm
Comment[fr]=Synchroniser l'heure à partir de serveurs Internet avec Qsync
Comment[de]=Qsync-Zeitserver-Synchronisierung
Comment[es]=Qsync: establecer la hora desde Internet
Comment[ru]=Qsync устанавливает время из Интернета
Comment=Qsync time server synchronisation
Exec=qsync
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Qsync
NoDisplay=true
