[Desktop Entry]
Encoding=UTF-8
Name[fr]=Synchroniser l'heure : Qsync
Name=Qsync set time from Internet
Icon=mini-clock.xpm
Comment[fr]=Synchroniser l'heure à partir de serveurs Internet avec Qsync
Comment=Qsync time server synchronisation
Exec=qsync
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Qsync
NoDisplay=true
