[Desktop Entry]
Type=Application
Name[af]=QtEmu GUI vir QEMU
Name[am]=QtEmu GUI ለ QEMU
Name[ar]=QtEmu GUI ـﻟ QEMU
Name[as]=QEMU ৰ বাবে QtEmu GUI
Name[ay]=QtEmu GUI ukax QEMU ukatakiw
Name[az]=QEMU üçün QtEmu GUI
Name[ba]=QtEmu GUI for QEMU
Name[be]=Графічны інтэрфейс QtEmu для QEMU
Name[bg]=QtEmu GUI за QEMU
Name[bm]=QtEmu GUI ka ɲɛsin QEMU ma
Name[bn]=QEMU এর জন্য QtEmu GUI
Name[bo]=QEMUཡི་QtEmu GUI
Name[bs]=QtEmu GUI za QEMU
Name[ca]=GUI de QtEmu per a QEMU
Name[co]=QtEmu GUI per QEMU
Name[cs]=QtEmu GUI pro QEMU
Name[cy]=QtEmu GUI ar gyfer QEMU
Name[da]=QtEmu GUI til QEMU
Name[de]=QtEmu-GUI für QEMU
Name[dv]=އިއަޖީ ޔޫމްއެޓީއުކި ށްއަ ޔޫމްއެއީއުކި
Name[ee]=QtEmu GUI na QEMU
Name[el]=QtEmu GUI για QEMU
Name[eo]=QtEmu GUI por QEMU
Name[es]=GUI de QtEmu para QEMU
Name[et]=QtEmu GUI QEMU jaoks
Name[eu]=QtEmu QEMUrako GUI
Name[fa]=QtEmu GUI ﯼﺍﺮﺑ QEMU
Name[fi]=QtEmu GUI QEMU:lle
Name[fj]=QtEmu GUI ni QEMU
Name[fo]=QtEmu GUI for QEMU
Name[fr]=Interface graphique QtEmu pour QEMU
Name[fy]=QtEmu GUI foar QEMU
Name[ga]=GUI QtEmu do QEMU
Name[gd]=QtEmu GUI airson QEMU
Name[gl]=QtEmu GUI para QEMU
Name[gn]=QtEmu GUI QEMU-pe g̃uarã
Name[gu]=QEMU માટે QtEmu GUI
Name[ha]=QtEmu GUI don QEMU
Name[he]=QtEmu GUI רובע QEMU
Name[hi]=QEMU के लिए QtEmu GUI
Name[hr]=QtEmu GUI za QEMU
Name[ht]=QtEmu GUI pou QEMU
Name[hu]=QtEmu GUI a QEMU-hoz
Name[hy]=QtEmu GUI QEMU-ի համար
Name[id]=QtEmu GUI untuk QEMU
Name[ig]=QtEmu GUI maka QEMU
Name[is]=QtEmu GUI fyrir QEMU
Name[it]=GUI di QtEmu per QEMU
Name[iu]=QtEmu GUI QEMU-ᒧᑦ
Name[ja]=QEMU 用の QtEmu GUI
Name[jv]=QtEmu GUI kanggo QEMU
Name[ka]=QtEmu GUI QEMU-სთვის
Name[kk]=QEMU үшін QtEmu GUI
Name[km]=QtEmu GUI សម្រាប់ QEMU
Name[kn]=QEMU ಗಾಗಿ QtEmu GUI
Name[ko]=QEMU용 QtEmu GUI
Name[ku]=QtEmu GUI ji bo QEMU
Name[ky]=QEMU үчүн QtEmu GUI
Name[la]=QtEmu GUI ad QEMU
Name[lb]=QtEmu GUI fir QEMU
Name[lg]=QtEmu GUI ku QEMU
Name[ln]=QtEmu GUI mpo na QEMU
Name[lo]=QtEmu GUI ສໍາລັບ QEMU
Name[lt]=QtEmu GUI, skirta QEMU
Name[lv]=QtEmu GUI QEMU
Name[mg]=QtEmu GUI ho anny QEMU
Name[mi]=QtEmu GUI mo QEMU
Name[mk]=QtEmu GUI за QEMU
Name[ml]=QEMU-നുള്ള QtEmu GUI
Name[mn]=QEMU-д зориулсан QtEmu GUI
Name[mr]=QEMU साठी QtEmu GUI
Name[ms]=GUI QtEmu untuk QEMU
Name[mt]=QtEmu GUI għal QEMU
Name[my]=QEMU အတွက် QtEmu GUI
Name[ne]=QEMU को लागि QtEmu GUI
Name[nl]=QtEmu GUI voor QEMU
Name[no]=QtEmu GUI for QEMU
Name[ny]=QtEmu GUI ya QEMU
Name[om]=QtEmu GUI QEMU tiif
Name[or]=QEMU ପାଇଁ QtEmu GUI |
Name[pa]=QEMU ਲਈ QtEmu GUI
Name[pl]=GUI QtEmu dla QEMU
Name[ps]=QtEmu GUI ﻩﺭﺎﭙﻟ QEMU ﺩ
Name[pt]=QtEmu GUI para QEMU
Name[qu]=QtEmu GUI para QEMU
Name[ro]=QtEmu GUI pentru QEMU
Name[ru]=QtEmu Графический интерфейс для QEMU
Name[rw]=QtEmu GUI kuri QEMU
Name[sa]=QEMU कृते QtEmu GUI
Name[sd]=QtEmu GUI QEMU ءِﻻ﻿
Name[si]=QEMU සඳහා QtEmu GUI
Name[sk]=QtEmu GUI pre QEMU
Name[sl]=QtEmu GUI za QEMU
Name[sm]=QtEmu GUI mo QEMU
Name[sn]=QtEmu GUI yeQEMU
Name[so]=QtEmu GUI ee QEMU
Name[sq]=QtEmu GUI për QEMU
Name[st]=QtEmu GUI bakeng sa QEMU
Name[su]=QtEmu GUI pikeun QEMU
Name[sv]=QtEmu GUI för QEMU
Name[sw]=QtEmu GUI ya QEMU
Name[ta]=QEMU க்கான QtEmu GUI
Name[te]=QEMU కోసం QtEmu GUI
Name[tg]=GUI QtEmu барои QEMU
Name[th]=QtEmu GUI สำหรับ QEMU
Name[ti]=QtEmu GUI ን QEMU ዝኸውን
Name[tk]=QEMU üçin QtEmu GUI
Name[tl]=QtEmu GUI para sa QEMU
Name[to]=QtEmu GUI ki he QEMU
Name[tr]=QEMU için QtEmu GUI
Name[ts]=QtEmu GUI ya QEMU
Name[tt]=QEMU өчен QtEmu GUI
Name[tw]=QtEmu GUI ma QEMU
Name[ty]=QtEmu GUI for QEMU
Name[ug]=QEMU ﻥﯜﭼﯜﺋ QtEmu GUI
Name[uk]=QtEmu GUI для QEMU
Name[ur]=QtEmu GUI ﮯﺋﺍﺮﺑ QEMU
Name[uz]=QEMU uchun QtEmu GUI
Name[vi]=GUI QtEmu cho QEMU
Name[xh]=QtEmu GUI ye QEMU
Name[yi]=QtEmu GUI ראַפֿ QEMU
Name[yo]=QtEmu GUI fun QEMU
Name[zh]=QEMU 的 QtEmu GUI
Name[zu]=I-QtEmu GUI ye-QEMU
Name=QtEmu GUI for QEMU
GenericName=QtEmu
Comment[af]=n Voorkant geskryf in Qt vir die QEMU-emulator
Comment[am]=ለQEMU emulator በQt የተጻፈ የፊት-መጨረሻ
Comment[ar]=QEMU ﻲﻛﺎﺤﻤﻟ Qt ـﺑ ﺔﺑﻮﺘﻜﻣ ﺔﻴﻣﺎﻣﺃ ﺔﻬﺟﺍﻭ
Comment[as]=QEMU ইমুলেটৰৰ বাবে Qt ত লিখা এটা ফ্ৰন্ট-এণ্ড
Comment[ay]=Mä front-end Qt ukan qillqt’ata QEMU emulador ukataki
Comment[az]=QEMU emulyatoru üçün Qt dilində yazılmış ön hissə
Comment[ba]=QT-ла QEMU эмуляторы өсөн яҙылған фронтовик
Comment[be]=Інтэрфейс, напісаны на Qt для эмулятара QEMU
Comment[bg]=Преден край, написан на Qt за емулатора QEMU
Comment[bm]=Front-end min sɛbɛnnen bɛ Qt la QEMU emulator kama
Comment[bn]=QEMU এমুলেটরের জন্য Qt এ লেখা একটি ফ্রন্ট-এন্ড
Comment[bo]=QEMUལད་མོ་བྱེད་མཁན་གྱིས་Qtནང་དུ་བྲིས་པའི་མདུན་ངོས་
Comment[bs]=Front-end napisan u Qt-u za QEMU emulator
Comment[ca]=Un front-end escrit en Qt per a lemulador QEMU
Comment[co]=Un front-end scrittu in Qt per lemulatore QEMU
Comment[cs]=Front-end napsaný v Qt pro emulátor QEMU
Comment[cy]=Pen blaen wedii ysgrifennu yn Qt ar gyfer yr efelychydd QEMU
Comment[da]=En frontend skrevet i Qt til QEMU-emulatoren
Comment[de]=Ein in Qt geschriebenes Frontend für den QEMU-Emulator
Comment[dv]=ވެކެޑެންއެ ޓްންރަފް ވާއިފަޔެލި ންއި ޓީއުކި ށްރަޓަލޭއުމިއެ ޔޫމްއެއީއުކި
Comment[ee]=A ŋgɔgbe-nuwuwu si woŋlɔ ɖe Qt me na QEMU emulator
Comment[el]=Ένα front-end γραμμένο σε Qt για τον εξομοιωτή QEMU
Comment[eo]=Fronto skribita en Qt por la QEMU-emulilo
Comment[es]=Un front-end escrito en Qt para el emulador QEMU
Comment[et]=Qt keeles kirjutatud esiots QEMU emulaatori jaoks
Comment[eu]=QT-n idatzitako frontend bat QEMU emulatzailerako
Comment[fa]=ﺖﺳﺍ ﻩﺪﺷ ﻪﺘﺷﻮﻧ QEMU ﺯﺎﺳ ﻪﯿﺒﺷ ﯼﺍﺮﺑ Qt ﺎﺑ ﻪﮐ ﺪﻧﺍ ﺖﻧﺍﺮﻓ ﮏﯾ
Comment[fi]=Qt-kielellä kirjoitettu käyttöliittymä QEMU-emulaattorille
Comment[fj]=E dua na ivola e liu ena Qt me baleta na Emulator ni QEMU
Comment[fo]=Ein front-end skrivað í Qt for QEMU emulator
Comment[fr]=Un frontal écrit en Qt pour lémulateur QEMU
Comment[fy]=In front-end skreaun yn Qt foar de QEMU emulator
Comment[ga]=Ceann tosaigh scríofa i Qt don aithriseoir QEMU
Comment[gd]=Ceann aghaidh sgrìobhte ann an Qt airson an emuladair QEMU
Comment[gl]=Un front-end escrito en Qt para o emulador QEMU
Comment[gn]=Peteĩ front-end ojehaíva Qt-pe emulador QEMU-pe g̃uarã
Comment[gu]=QEMU ઇમ્યુલેટર માટે Qt માં લખાયેલ ફ્રન્ટ-એન્ડ
Comment[ha]=Ƙarshen gaba da aka rubuta a cikin Qt don mai kwaikwayon QEMU
Comment[he]=QEMU רוטלומא רובע Qt-ב הבתכנש תיזח
Comment[hi]=QEMU एम्यूलेटर के लिए Qt में लिखा गया फ्रंट-एंड
Comment[hr]=Sučelje napisano u Qt-u za QEMU emulator
Comment[ht]=Yon front-end ekri nan Qt pou Emulation QEMU la
Comment[hu]=Qt nyelven írt kezelőfelület a QEMU emulátorhoz
Comment[hy]=Առջևի վերջը գրված է Qt-ով QEMU էմուլյատորի համար
Comment[id]=Front-end yang ditulis dalam Qt untuk emulator QEMU
Comment[ig]=Nihu-njedebe edere na Qt maka emulator QEMU
Comment[is]=Framhlið skrifað í Qt fyrir QEMU keppinautinn
Comment[it]=Un front-end scritto in Qt per lemulatore QEMU
Comment[iu]=ᓯᕗᓂᐊᓃᑦᑐᑦ ᑎᑎᕋᖅᓯᒪᔪᑦ QEMU−ᒧᑦ
Comment[ja]=QEMU エミュレータ用に Qt で書かれたフロントエンド
Comment[jv]=A ngarep-mburi ditulis ing Qt kanggo emulator QEMU
Comment[ka]=QT-ში დაწერილი წინა ნაწილი QEMU ემულატორისთვის
Comment[kk]=QEMU эмуляторы үшін Qt тілінде жазылған интерфейс
Comment[km]=ផ្នែកខាងមុខសរសេរជា Qt សម្រាប់កម្មវិធីត្រាប់តាម QEMU
Comment[kn]=QEMU ಎಮ್ಯುಲೇಟರ್u200cಗಾಗಿ ಕ್ಯೂಟಿಯಲ್ಲಿ ಬರೆಯಲಾದ ಮುಂಭಾಗ
Comment[ko]="QEMU 에뮬레이터를 위해 Qt로 작성된 프런트 엔드"
Comment[ku]=Ji bo emulatora QEMU-ya pêşîn a ku bi Qt hatî nivîsandin
Comment[ky]=QEMU эмулятору үчүн Qt тилинде жазылган алдыңкы бөлүк
Comment[la]=Ante-finem scriptum in Qt pro QEMU aemulator
Comment[lb]=E Frontend geschriwwen am Qt fir den QEMU Emulator
Comment[lg]=Front-end ewandiikiddwa mu Qt ku QEMU emulator
Comment[ln]=Front-end moko oyo ekomami na Qt mpo na émulateur QEMU
Comment[lo]=A front-end ຂຽນໃນ Qt ສໍາລັບ emulator QEMU
Comment[lt]=Prietaisas, parašytas Qt, skirtas QEMU emuliatoriui
Comment[lv]=Priekšgals, kas rakstīts Qt valodā QEMU emulatoram
Comment[mg]=Eo anoloana voasoratra aminny Qt ho anny emulator QEMU
Comment[mi]=He pito-mua kua tuhia ki te Qt mo te emulator QEMU
Comment[mk]=Преден дел напишан во Qt за емулаторот QEMU
Comment[ml]=QEMU എമുലേറ്ററിനായി Qt-ൽ എഴുതിയ ഒരു ഫ്രണ്ട്-എൻഡ്
Comment[mn]=QEMU эмуляторт зориулж Qt хэлээр бичигдсэн урд талбар
Comment[mr]=QEMU एमुलेटरसाठी Qt मध्ये लिहिलेला फ्रंट-एंड
Comment[ms]=Bahagian hadapan yang ditulis dalam Qt untuk emulator QEMU
Comment[mt]=Front-end miktub fQt għall-emulatur QEMU
Comment[my]=QEMU emulator အတွက် Qt တွင် ရှေ့ဆုံးကရေးထားသည်။
Comment[ne]=QEMU इमुलेटरको लागि Qt मा लेखिएको फ्रन्ट-एन्ड
Comment[nl]=Een front-end geschreven in Qt voor de QEMU-emulator
Comment[no]=En frontend skrevet i Qt for QEMU-emulatoren
Comment[ny]=Kutsogolo kolembedwa mu Qt kwa emulator ya QEMU
Comment[om]=Fuulduraa kan Qtn barreeffame kan QEMU emulator
Comment[or]=QEMU ଏମୁଲେଟର ପାଇଁ Qt ରେ ଲେଖାଯାଇଥିବା ଏକ ଫ୍ରଣ୍ଟ-ଏଣ୍ଡ |
Comment[pa]=QEMU ਇਮੂਲੇਟਰ ਲਈ Qt ਵਿੱਚ ਲਿਖਿਆ ਇੱਕ ਫਰੰਟ-ਐਂਡ
Comment[pl]=Nakładka napisana w Qt dla emulatora QEMU
Comment[ps]=ﯼﺎﭘ ۍﻨﯿﮑﺨﻣ ﯼﻮﺷ ﻞﮑﯿﻟ ﯥﮐ Qt ﻪﭘ ﻩﺭﺎﭙﻟ ﺮټﯿﻟﻮﻤﯾﺍ QEMU ﺩ
Comment[pt]=Um front-end escrito em Qt para o emulador QEMU
Comment[qu]=QEMU emuladorpaq Qt nisqapi qillqasqa huk front-end
Comment[ro]=Un front-end scris în Qt pentru emulatorul QEMU
Comment[ru]=Внешний интерфейс, написанный на Qt для эмулятора QEMU.
Comment[rw]=Imbere-impera yanditse muri Qt kubigana QEMU
Comment[sa]=QEMU एमुलेटर् कृते Qt इत्यनेन लिखितः एकः अग्रभागः
Comment[sd]=QEMU ءِﻻ﻿ ﺮٽﻴﻟﻮﻤﻳﺍ Qt ﺮﺧﺁ ﻥﻮﻴﮘﺍ ڪﻫ ﻞﻴﮑﻟ ۾
Comment[si]=QEMU ඉමුලේටරය සඳහා Qt වලින් ලියා ඇති ඉදිරිපස අන්තයකි
Comment[sk]=Front-end napísaný v Qt pre emulátor QEMU
Comment[sl]=Sprednji del, napisan v Qt za emulator QEMU
Comment[sm]=O se pito pito i luma na tusia i le Qt mo le QEMU emulator
Comment[sn]=Iyo yekumberi yakanyorwa muQt yeQEMU emulator
Comment[so]=Dhamaadka hore oo ku qoran Qt oo loogu talagalay emulator-ka QEMU
Comment[sq]=Një pjesë e përparme e shkruar në Qt për emulatorin QEMU
Comment[st]=Qetello e ka pele e ngotsoeng ka Qt bakeng sa emulator ea QEMU
Comment[su]=A hareup-tungtung ditulis dina Qt pikeun émulator QEMU
Comment[sv]=En front-end skriven i Qt för QEMU-emulatorn
Comment[sw]=Mwisho wa mbele ulioandikwa kwa Qt kwa kiigaji cha QEMU
Comment[ta]=QEMU எமுலேட்டருக்காக Qt இல் எழுதப்பட்ட முன்-முனை
Comment[te]=QEMU ఎమ్యులేటర్ కోసం Qtలో వ్రాసిన ఫ్రంట్-ఎండ్
Comment[tg]=Пешниҳод бо Qt барои эмулятори QEMU навишта шудааст
Comment[th]=ส่วนหน้าเขียนด้วย Qt สำหรับโปรแกรมจำลอง QEMU
Comment[ti]=ንQEMU emulator ብQt ዝተጻሕፈ ቅድመ-መወዳእታ
Comment[tk]=QEMU emulýatory üçin Qt-da ýazylan öň tarap
Comment[tl]=Isang front-end na nakasulat sa Qt para sa QEMU emulator
Comment[to]=Ko ha tohi ʻi muʻa ʻi Qt ki he QEMU emulator
Comment[tr]=QEMU öykünücüsü için Qt dilinde yazılmış bir ön uç
Comment[ts]=Front-end leyi tsariweke hi Qt ya emulator ya QEMU
Comment[tt]=QEMU эмуляторы өчен Qt-та язылган фронт
Comment[tw]=Front-end a wɔakyerɛw wɔ Qt mu ama QEMU emulator no
Comment[ty]=Te hoê hohoa i papaihia i roto i te Qt no te QEMU emulator
Comment[ug]=QEMU ﻥﯜﭼﯜﺋ ﻰﺴﯩﭼﯜﮕﯩﻟﺪﯩﻠﻗەﺗ Qt ﭖەﺭەﺗ ﻯﺪﻟﺎﺋ ﻥﺎﻐﻠﯨﺰﯧﻳ ﺍﺩ
Comment[uk]=Інтерфейс, написаний на Qt для емулятора QEMU
Comment[ur]=QEMU ﮯﯿﻟ ﮯﮐ ﺮﭩﯿﻟﻮﻤﯾﺍ Qt ﮉﻨﯾﺍ ﭧﻧﺮﻓ ﺍﻮﮨ ﺎﮭﮑﻟ ﮟﯿﻣ
Comment[uz]=QEMU emulyatori uchun Qt tilida yozilgan front-end
Comment[vi]=Giao diện người dùng được viết bằng Qt cho trình giả lập QEMU
Comment[xh]=Isiphelo sangaphambili esibhalwe kwi-Qt somlinganisi we-QEMU
Comment[yi]=ראָטאַלומע QEMU יד ראַפֿ Qt ןיא ןבירשעג ףוס-טנאָרפ א
Comment[yo]=A iwaju-opin kọ ni Qt fun QEMU emulator
Comment[zh]=用 Qt 编写的 QEMU 模拟器前端
Comment[zu]=Isiphetho esibhalwe nge-Qt se-emulator ye-QEMU
Comment=A front-end written in Qt for QEMU
Icon=ballorange22.png
Exec=/usr/local/orange/orange.install qtemu
Terminal=false
StartupNotify=false
Categories=Emulator
Keywords=QEMU;emulator;
