[Desktop Entry]
Encoding=UTF-8
Name[fr]=Paramètres de démarrage : QuickSetup
Name[bg]=Настройки за първо изпълнение на QuickSetup
Name=QuickSetup first-run settings
Icon=/usr/local/video_upgrade/xsettings24.xpm
Comment[bg]=Първо изпълнение на разделителната способност на екрана и настройките за страната 
Comment=First-run screen resolution and country settings 
Exec=quicksetup
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=QuickSetup
