[Desktop Entry]
Encoding=UTF-8
Name[fr]=Paramètres de démarrage : QuickSetup
Name[bg]=Настройки за първо изпълнение на QuickSetup
Name[de]=QuickSetup-Einstellungen für die erste Ausführung
Name[es]=QuickSetup: ajustes rápidos
Name[ru]=Параметры первого запуска QuickSetup
Name[tr]=QuickSetup ilk çalıştırma ayarları
Name[af]=QuickSetup eerste-run instellings
Name[am]=QuickSetup የመጀመሪያ አሂድ ቅንብሮች
Name[ar]=ﺓﺮﻣ ﻝﻭﻷ﻿ ﺎﻬﻠﻴﻐﺸﺗ ﻢﺘﻳ ﻲﺘﻟﺍ QuickSetup ﺕﺍﺩﺍﺪﻋﺇ
Name[as]=QuickSetup প্ৰথম-চলন সংহতিসমূহ
Name[ay]=QuickSetup nayrïr lurawinak wakicht’aña
Name[az]=QuickSetup ilk işə salınma parametrləri
Name[ba]=QuickSetup беренсе йүгереү көйләүҙәре
Name[be]=Налады QuickSetup пры першым запуску
Name[bm]=QuickSetup fɔlɔ-fɔlɔ labɛnw
Name[bn]=QuickSetup প্রথম-চালিত সেটিংস
Name[bo]=མགྱོགས་མྱུར་ངང་སྔོན་ལ་འཁོར་སྐྱོད་བྱེད་པའི་སྒྲིག་བཀོད།
Name[bs]=QuickSetup postavke prvog pokretanja
Name[ca]=Configuració de primera execució de QuickSetup
Name[co]=Impostazioni di prima esecuzione di QuickSetup
Name[cs]=Nastavení při prvním spuštění QuickSetup
Name[cy]=Gosodiadau rhediad cyntaf QuickSetup
Name[da]=QuickSetup-indstillinger for første gang
Name[dv]=ސްގންޓިސެ ވާއްދު މަތަރަފު ޕްޓަސެކްއިކު
Name[ee]=QuickSetup gbãtɔ ƒe duƒuƒu ƒe ɖoɖowo
Name[el]=Ρυθμίσεις πρώτης εκτέλεσης QuickSetup
Name[eo]=QuickSetup unuarangaj agordoj
Name[et]=QuickSetupi esmakordsed sätted
Name[eu]=QuickSetup lehen exekuzio ezarpenak
Name[fa]=QuickSetup ﯼﺍﺮﺟﺍ ﻦﯿﻟﻭﺍ ﺕﺎﻤﯿﻈﻨﺗ
Name[fi]=QuickSetup-ensikäynnistysasetukset
Name[fj]=iTuvatuva ni cici taumada ni QuickSetup
Name[fo]=QuickSetup first-run settings
Name[fy]=QuickSetup earste-run ynstellings
Name[ga]=Socruithe céadrith QuickSetup
Name[gd]=Suidhichidhean a chiad ruith QuickSetup
Name[gl]=Configuración de primeira execución de QuickSetup
Name[gn]=QuickSetup ñemboguata peteĩha ñemboheko
Name[gu]=QuickSetup પ્રથમ-રન સેટિંગ્સ
Name[ha]=Saitunan farko na QuickSetup
Name[he]=QuickSetup לש הנושאר הלעפה תורדגה
Name[hi]=क्विकसेटअप प्रथम-रन सेटिंग्स
Name[hr]=QuickSetup postavke za prvo pokretanje
Name[ht]=QuickSetup paramèt premye kouri
Name[hu]=A QuickSetup első futtatási beállításai
Name[hy]=QuickSetup առաջին գործարկման կարգավորումներ
Name[id]=QuickSetup pengaturan yang dijalankan pertama kali
Name[ig]=QuickSetup ntọala nke mbụ
Name[is]=QuickSetup fyrstu keyrslu stillingar
Name[it]=Impostazioni di prima esecuzione di QuickSetup
Name[iu]=ᓱᒃᑲᔪᖅᑭᖑᓪᓕᖅ ᓯᕗᓪᓕᐅᑉ ᐋᖅᑭᒃᓯᒪᓂᖓ
Name[ja]=QuickSetup の初回実行設定
Name[jv]=Setelan QuickSetup pisanan mbukak
Name[ka]=QuickSetup პირველი გაშვების პარამეტრები
Name[kk]=QuickSetup бірінші іске қосу параметрлері
Name[km]=QuickSetup ការកំណត់ដំណើរការដំបូង
Name[kn]=QuickSetup ಮೊದಲ ರನ್ ಸೆಟ್ಟಿಂಗ್u200cಗಳು
Name[ko]=QuickSetup 첫 실행 설정
Name[ku]=Mîhengên gava yekem a QuickSetup
Name[ky]=QuickSetup биринчи иштетүү орнотуулары
Name[la]=QuickSetup primo-currunt occasus
Name[lb]=QuickSetup éischt-run Astellunge
Name[lg]=QuickSetup ensengeka ezisooka okudduka
Name[ln]=QuickSetup ba paramètres ya liboso ya kosala
Name[lo]=QuickSetup ການຕັ້ງຄ່າການດໍາເນີນການທໍາອິດ
Name[lt]=„QuickSetup“ pirmojo paleidimo nustatymai
Name[lv]=QuickSetup pirmās palaišanas iestatījumi
Name[mg]=QuickSetup fikandrana voalohany
Name[mi]=Tatūnga Tere i nga tautuhinga whakahaere tuatahi
Name[mk]=Поставки за прв пат на QuickSetup
Name[ml]=QuickSetup ആദ്യ റൺ ക്രമീകരണങ്ങൾ
Name[mn]=QuickSetup-ийн анхны тохиргоо
Name[mr]=QuickSetup फर्स्ट-रन सेटिंग्ज
Name[ms]=Tetapan larian pertama QuickSetup
Name[mt]=Issettjar tal-ewwel run QuickSetup
Name[my]=QuickSetup ပထမဦးစွာလုပ်ဆောင်သောဆက်တင်များ
Name[ne]=QuickSetup पहिलो रन सेटिङहरू
Name[nl]=QuickSetup-instellingen voor eerste uitvoering
Name[no]=QuickSetup førstegangsinnstillinger
Name[ny]=Zokonda pa QuickSetup zoyambira koyamba
Name[om]=Sajoo QuickSetup jalqaba-fiigicha
Name[or]=କୁଇକ୍ ସେଟ୍ଅପ୍ ପ୍ରଥମ-ଚାଲୁଥିବା ସେଟିଙ୍ଗ୍ |
Name[pa]=QuickSetup ਪਹਿਲੀ-ਰਨ ਸੈਟਿੰਗ
Name[pl]=Ustawienia pierwszego uruchomienia QuickSetup
Name[ps]=QuickSetup ﺕﺎﺒﯿﺗﺮﺗ ﻮﻟﻮﻠﭼ ﻱړﻣﻮﻟ ﺩ
Name[pt]=Configurações de primeira execução do QuickSetup
Name[qu]=QuickSetup ñawpaq purichiy churanakuna
Name[ro]=Setări pentru prima rulare QuickSetup
Name[rw]=Byihuse Setup yambere-igenamiterere
Name[sa]=QuickSetup प्रथम-चालनसेटिंग्स्
Name[sd]=QuickSetup ﻥﻮﮕﻨٽﻴﺳ ﻥﺭ-ﻥﻮﻳﺮﻬﭘ
Name[si]=QuickSetup පළමු ධාවන සැකසුම්
Name[sk]=Nastavenia pri prvom spustení QuickSetup
Name[sl]=QuickSetup nastavitve prvega zagona
Name[sm]=QuickSetup faasologa muamua
Name[sn]=QuickSetup yekutanga-kumhanyisa marongero
Name[so]=QuickSetup dejinta koowad
Name[sq]=Cilësimet e ekzekutimit të parë të QuickSetup
Name[st]=Litlhophiso tsa ho qala ka QuickSetup
Name[su]=QuickSetup setélan ngajalankeun munggaran
Name[sv]=QuickSetup-inställningar för första körning
Name[sw]=Mipangilio ya uanzishaji wa QuickSetup
Name[ta]=QuickSetup முதல்-ரன் அமைப்புகள்
Name[te]=QuickSetup మొదటి-పరుగు సెట్టింగ్u200cలు
Name[tg]=Танзимоти аввалини QuickSetup
Name[th]=การตั้งค่าเรียกใช้ครั้งแรก QuickSetup
Name[ti]=QuickSetup ናይ መጀመርታ ምዝዋር ቅጥዕታት
Name[tk]=“QuickSetup” ilkinji işleýän sazlamalar
Name[tl]=QuickSetup first-run na mga setting
Name[to]=QuickSetup e fokotuʻutuʻu ʻo e ʻuluaki lele
Name[ts]=QuickSetup swiyimiso swa ku sungula ku tirha
Name[tt]=QuickSetup беренче эшкәртү көйләүләре
Name[tw]=QuickSetup nhyehyɛe a edi kan a wɔde tu mmirika
Name[ty]=Te mau faanahoraa QuickSetup no te taime matamua
Name[ug]=QuickSetup ﺭەﻠﻛەﺸﯕەﺗ ﻥﺎﻐﯨﺪﯩﻨﯩﻠﯩﻗ ﺍﺮﺠﯩﺋ ﻰﺠﻧﯘﺗ
Name[uk]=Налаштування першого запуску QuickSetup
Name[ur]=QuickSetup ﺕﺎﺒﯿﺗﺮﺗ ﯽﻟﺍﻭ ﮯﻨﻠﭼ ﮯﻠﮩﭘ
Name[uz]=QuickSetup birinchi ishga tushirish sozlamalari
Name[vi]=Cài đặt QuickSetup trong lần chạy đầu tiên
Name[xh]=QuickSetup useto lokuqala
Name[yi]=QuickSetup סגניטטעס ןפיול-רעטשרע
Name[yo]=QuickSetup eto akọkọ-ṣiṣe
Name[zh]=QuickSetup 首次运行设置
Name[zu]=Izilungiselelo zokuqala ze-QuickSetup
Name=QuickSetup first-run settings
Icon=/usr/local/video_upgrade/xsettings24.xpm
Comment[fr]=Résolution d'écran de première exécution et paramètres de pays
Comment[bg]=Първо изпълнение на разделителната способност на екрана и настройките за страната
Comment[de]=Bildschirmauflösung und Ländereinstellungen für die erste Ausführung
Comment[es]=QuickSetup: ajustes rápidos
Comment[ru]=Разрешение экрана при первом запуске и настройки страны
Comment[tr]=QuickSetup İlk çalıştırma ekran çözünürlüğü ve ülke ayarları 
Comment[af]=Eerste gebruik skermresolusie en landinstellings
Comment[am]=በመጀመሪያ አሂድ የማያ ገጽ ጥራት እና የአገር ቅንብሮች
Comment[ar]=ﺔﻟﻭﺪﻟﺍ ﺕﺍﺩﺍﺪﻋﺇﻭ ﺓﺮﻣ ﻝﻭﻷ﻿ ﺎﻬﻠﻴﻐﺸﺗ ﻢﺘﻳ ﻲﺘﻟﺍ ﺔﺷﺎﺸﻟﺍ ﺔﻗﺩ
Comment[as]=প্ৰথম-চলন পৰ্দাৰ ৰিজলিউচন আৰু দেশৰ সংহতিসমূহ
Comment[ay]=Nayraqata pantalla resolución ukatxa markana utt’ayata
Comment[az]=İlk işə salınan ekran qətnaməsi və ölkə parametrləri
Comment[ba]=Экрандың беренсе сиселешен һәм ил көйләүҙәрен
Comment[be]=Раздзяленне экрана пры першым запуску і налады краіны
Comment[bm]=Fɔlɔ-fɔlɔ ɛkran ɲɛfɔli ani jamana sigicogo
Comment[bn]=প্রথম-চালিত স্ক্রিন রেজোলিউশন এবং দেশ সেটিংস
Comment[bo]=སྔོན་ལ་འཁོར་སྐྱོད་བྱེད་པའི་བརྙན་ཤེལ་གྱི་གྲོས་ཆོད་དང་རྒྱལ་ཁབ་ཀྱི་སྒྲིག
Comment[bs]=Rezolucija ekrana prvog pokretanja i postavke zemlje
Comment[ca]=Resolució de pantalla de primera execució i configuració del país
Comment[co]=Risoluzione di u screnu in prima corsa è paràmetri di u paese
Comment[cs]=Rozlišení obrazovky a nastavení země při prvním spuštění
Comment[cy]=Cydraniad sgrin rhediad cyntaf a gosodiadau gwlad
Comment[da]=Førstegangs skærmopløsning og landeindstillinger
Comment[dv]=ސްގްންޓިސެ މުއުގަ ދިއަ ންޝައުލިޒޮރި ންރީކްސް ވާއްދު މަތަރަފު
Comment[ee]=Screen resolution si wowɔna zi gbãtɔ kple dukɔ ƒe ɖoɖowo
Comment[el]=Ανάλυση οθόνης πρώτης εκτέλεσης και ρυθμίσεις χώρας
Comment[eo]=Ekranrezolucio unuafoje kaj landaj agordoj
Comment[et]=Ekraani esmakordse eraldusvõime ja riigi seaded
Comment[eu]=Lehen exekuzio pantailaren bereizmena eta herrialdearen ezarpenak
Comment[fa]=ﺍﺮﺟﺍ ﻦﯿﻟﻭﺍ ﺭﻮﺸﮐ ﺕﺎﻤﯿﻈﻨﺗ ﻭ ﺶﯾﺎﻤﻧ ﻪﺤﻔﺻ ﺡﻮﺿﻭ
Comment[fi]=Ensimmäisen kerran näytön tarkkuus ja maaasetukset
Comment[fj]=iWali ni sikirini kei na ituvatuva ni matanitu ena imatai ni gauna
Comment[fo]=Fyrsta skíggja og land seta seg upp.
Comment[fy]=Earste-run skerm resolúsje en lân ynstellings
Comment[ga]=Taifeach scáileáin den chéad rith agus socruithe tíre
Comment[gd]=Fuasgladh sgrion a’ chiad ruith agus suidheachaidhean dùthcha
Comment[gl]=Resolución de pantalla de primeira execución e configuración do país
Comment[gn]=Pantalla resolución peteĩha ha tetã ñemboheko
Comment[gu]=પ્રથમ-રન સ્ક્રીન રીઝોલ્યુશન અને દેશ સેટિંગ્સ
Comment[ha]=Ƙaddamarwar allo na farko da saitunan ƙasa
Comment[he]=הנידמ תורדגהו הנושאר הלעפהב ךסמ תייצולוזר
Comment[hi]=सबसे पहले स्क्रीन रिज़ॉल्यूशन और देश सेटिंग्स चलाएँ
Comment[hr]=Razlučivost zaslona pri prvom pokretanju i postavke zemlje
Comment[ht]=Premye-kouri rezolisyon ekran ak anviwònman peyi
Comment[hu]=Első futtatási képernyőfelbontás és országbeállítások
Comment[hy]=Առաջին գործարկվող էկրանի լուծաչափը և երկրի կարգավորումները
Comment[id]=Resolusi layar dan pengaturan negara yang dijalankan pertama kali
Comment[ig]=Mkpebi ihuenyo mbụ na ntọala obodo
Comment[is]=Fyrstu skjáupplausn og landsstillingar
Comment[it]=Risoluzione dello schermo e impostazioni del paese alla prima esecuzione
Comment[iu]=ᓯᕗᓪᓖᑦ−ᐊᐅᓚᑕᐅᔪᑦ ᑕᑯᒃᓴᐅᔪᑦ ᐋᖅᑭᒋᐊᕈᑎᑦ ᐊᒻᒪ ᑲᓇᑕᒥ ᐋᖅᑭᒃᓯᒪᓂᕆᔭᖏᑦ
Comment[ja]=初回実行時の画面解像度と国の設定
Comment[jv]=Résolusi layar lan setelan negara sing mbukak pisanan
Comment[ka]=პირველი გაშვების ეკრანის გარჩევადობა და ქვეყნის პარამეტრები
Comment[kk]=Бірінші іске қосылған экран ажыратымдылығы және ел параметрлері
Comment[km]=ដំណើរការគុណភាពអេក្រង់ និងការកំណត់ប្រទេសជាដំបូង
Comment[kn]=ಮೊದಲ ರನ್ ಸ್ಕ್ರೀನ್ ರೆಸಲ್ಯೂಶನ್ ಮತ್ತು ದೇಶದ ಸೆಟ್ಟಿಂಗ್ಗಳು
Comment[ko]=첫 실행 화면 해상도 및 국가 설정
Comment[ku]=Çareserkirina ekrana pêşîn û mîhengên welat
Comment[ky]=Биринчи иштетилген экрандын чечилиши жана өлкөнүн жөндөөлөрү
Comment[la]=Primo-currunt elit senatus et patriae occasus
Comment[lb]=Éischt lafen Écran Resolutioun a Land Astellunge
Comment[lg]=Okusooka okudduka screen resolution nensengeka zensi
Comment[ln]=Résolution ya écran ya liboso mpe ba paramètres ya mboka
Comment[lo]=ທໍາອິດດໍາເນີນການຄວາມລະອຽດຫນ້າຈໍແລະການຕັ້ງຄ່າປະເທດ
Comment[lt]=Pirmojo paleidimo ekrano skiriamoji geba ir šalies nustatymai
Comment[lv]=Pirmās palaišanas ekrāna izšķirtspēja un valsts iestatījumi
Comment[mg]=Famahana ny efijery mandeha voalohany sy ny firafitry ny firenena
Comment[mi]=Taumira mata whakahaere tuatahi me nga tautuhinga whenua
Comment[mk]=Резолуција на екранот за прв пат и поставки за земјата
Comment[ml]=സ്u200cക്രീൻ റെസല്യൂഷനും രാജ്യ ക്രമീകരണങ്ങളും ആദ്യം പ്രവർത്തിപ്പിക്കുക
Comment[mn]=Анхны дэлгэцийн нягтрал болон улсын тохиргоо
Comment[mr]=प्रथम-रन स्क्रीन रिझोल्यूशन आणि देश सेटिंग्ज
Comment[ms]=Peleraian skrin dan tetapan negara yang dijalankan pertama
Comment[mt]=Riżoluzzjoni tal-iskrin tal-ewwel run u settings tal-pajjiż
Comment[my]=မျက်နှာပြင် ရုပ်ထွက်နှင့် နိုင်ငံဆက်တင်များကို ဦးစွာလုပ်ဆောင်ပါ။
Comment[ne]=पहिलो रन स्क्रिन रिजोल्युसन र देश सेटिङहरू
Comment[nl]=Eerste schermresolutie en landinstellingen
Comment[no]=Førstegangs skjermoppløsning og landinnstillinger
Comment[ny]=Kuwongolera koyamba kwa skrini ndi zokonda za dziko
Comment[om]=Furmaata iskiriinii fi qindaaina biyyaa jalqabaa
Comment[or]=ପ୍ରଥମ ରନ୍ ସ୍କ୍ରିନ୍ ରେଜୋଲୁସନ ଏବଂ ଦେଶ ସେଟିଙ୍ଗ୍ |
Comment[pa]=ਪਹਿਲੀ-ਚਾਲਤ ਸਕ੍ਰੀਨ ਰੈਜ਼ੋਲਿਊਸ਼ਨ ਅਤੇ ਦੇਸ਼ ਸੈਟਿੰਗਾਂ
Comment[pl]=Rozdzielczość ekranu pierwszego uruchomienia i ustawienia kraju
Comment[ps]=ﺕﺎﻤﯿﻈﻨﺗ ﺩﺍﻮﯿﻫ ﺩ ﻭﺍ ﻦﺷﻮﻟﻭﺰﯾﺭ ﻦﯾﺮﮑﺳ ﻞځ ﻱړﻣﻮﻟ ﺩ
Comment[pt]=Resolução de tela de primeira execução e configurações de país
Comment[qu]=Ñawpaq kuti pantallapa resolucionnin chaymanta suyu churanakuna
Comment[ro]=Rezoluția ecranului la prima rulare și setările țării
Comment[rw]=Banza ukore ecran ya ecran hamwe nibisobanuro byigihugu
Comment[sa]=प्रथमं चालितं स्क्रीन-संकल्पं देश-सेटिंग्स् च
Comment[sd]=ﻥﻮﮕﻨٽﻴﺳ ڪﻠﻣ ۽ ﺩﺍﺩﺭﺍﺮﻗ ﻲﺟ ﻦﻳﺮڪﺳﺍ ﻭﺮﻴﭜ ﻥﻮﻳﺮﻬﭘ
Comment[si]=පළමුව ධාවනය වන තිර විභේදනය සහ රට සැකසීම්
Comment[sk]=Rozlíšenie obrazovky a nastavenia krajiny pri prvom spustení
Comment[sl]=Ločljivost zaslona ob prvem zagonu in nastavitve države
Comment[sm]=Fuafuaga matai muamua ma le faatulagaina o le atunuu
Comment[sn]=Chekutanga-run screen resolution uye nyika marongero
Comment[so]=xallinta shaashada ugu horraysa iyo dejinta dalka
Comment[sq]=Rezolucioni i ekranit të ekzekutimit të parë dhe cilësimet e vendit
Comment[st]=Qeto ea pele ea skrine le litlhophiso tsa naha
Comment[su]=Résolusi layar anu munggaran dijalankeun sareng setélan nagara
Comment[sv]=Första skärmupplösning och landsinställningar
Comment[sw]=Azimio la skrini inayoendeshwa kwa mara ya kwanza na mipangilio ya nchi
Comment[ta]=திரை தெளிவுத்திறன் மற்றும் நாட்டின் அமைப்புகளை முதலில் இயக்கவும்
Comment[te]=ముందుగా స్క్రీన్ రిజల్యూషన్ మరియు దేశం సెట్టింగ్u200cలను అమలు చేయండి
Comment[tg]=Ҳалномаи аввалини экран ва танзимоти кишвар
Comment[th]=การตั้งค่าความละเอียดหน้าจอและประเทศในครั้งแรก
Comment[ti]=ቀዳማይ ዝካየድ ርዝነት ስክሪንን ቅጥዕታት ሃገርን።
Comment[tk]=Ilki bilen işleýän ekran çözgüdi we ýurt sazlamalary
Comment[tl]=Unang-run na resolution ng screen at mga setting ng bansa
Comment[to]=Fakaleleiʻi ʻo e screen ʻuluaki mo e fokotuʻutuʻu ʻo e fonua
Comment[ts]=Xiboho xa xikirini xo sungula na swiyimiso swa tiko
Comment[tt]=Беренче эшләнгән экран резолюциясе һәм ил көйләүләре
Comment[tw]=Screen resolution ne ɔman nhyehyɛe a edi kan
Comment[ty]=Te faaotiraa matamua i nia i te paruai e te mau faanahoraa o te fenua
Comment[ug]=ﻰﻜﯩﺸﯕەﺗ ﺕەﻟﯙﺩ ەﯞ ﻰﺴﯩﺠﯨﺭەﺩ ﻖﯩﻠﻘﯩﻨﯧﺋ ﻥﺍﺮﻜﯧﺋ ﻥەﻠﯩﺑ ﻯﺪﻟﺎﺋ
Comment[uk]=Роздільна здатність екрана та налаштування країни при першому запуску
Comment[ur]=ﺕﺎﺒﯿﺗﺮﺗ ﯽﮐ ﮏﻠﻣ ﺭﻭﺍ ﻦﺷﻮﻟﻭﺰﯾﺭ ﻦﯾﺮﮑﺳﺍ ﯽﻟﺍﻭ ﮯﻨﻠﭼ ﺭﺎﺑ ﯽﻠﮩﭘ
Comment[uz]=Birinchi ishga tushirilgan ekran olchamlari va mamlakat sozlamalari
Comment[vi]=Cài đặt quốc gia và độ phân giải màn hình lần chạy đầu tiên
Comment[xh]=Isisombululo sesikrini sokuqala kunye noseto lwelizwe
Comment[yi]=סגניטטעס דנאַל ןוא עטאָלכאַה ןלעטשראַפ ןפיול-רעטשרע
Comment[yo]=Ipinnu iboju akọkọ-ṣiṣe ati awọn eto orilẹ-ede
Comment[zh]=首次运行屏幕分辨率和国家/地区设置
Comment[zu]=Ukulungiswa kwesikrini sokuqala nezilungiselelo zezwe
Comment=First-run screen resolution and country settings 
Exec=quicksetup
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=QuickSetup
