[Desktop Entry]
Encoding=UTF-8
Name[fr]=Paramètres de démarrage : QuickSetup
Name[bg]=Настройки за първо изпълнение на QuickSetup
Name[de]=QuickSetup-Einstellungen für die erste Ausführung
Name[es]=QuickSetup: ajustes rápidos
Name[ru]=Параметры первого запуска QuickSetup
Name=QuickSetup first-run settings
Icon=/usr/local/video_upgrade/xsettings24.xpm
Comment[fr]=Résolution d'écran de première exécution et paramètres de pays
Comment[bg]=Първо изпълнение на разделителната способност на екрана и настройките за страната
Comment[de]=Bildschirmauflösung und Ländereinstellungen für die erste Ausführung
Comment[es]=QuickSetup: ajustes rápidos
Comment[ru]=Разрешение экрана при первом запуске и настройки страны
Comment=First-run screen resolution and country settings 
Exec=quicksetup
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=QuickSetup
