[Desktop Entry]
Encoding=UTF-8
Name[fr]=Capture d'écran : Screeny
Name[bg]=Екранно заснемане на прозорци и цял екран
Name=Screeny Capture Windows and Fullscreen
Icon=mini-display.xpm
Comment[bg]=Екранно заснемане на прозорци и цял екран
Comment=Screeny Capture Windows and Fullscreen
Exec=screeny
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Screeny Capture Windows and Fullscreen
