[Desktop Entry]
Name[be]=Настольнае выдавецтва Scribus
Name[bg]=Scribus настолно публикуване
Name[zh-CN]=Scribus 桌面出版
Name[hr]=Scribus stolno izdavaštvo
Name[cs]=Scribus DTP
Name[da]=Scribus desktop publishing
Name[nl]=Scribus desktop publishing
Name[et]=Scribus lauaarvuti avaldamine
Name[tl]=Scribus desktop publishing
Name[fi]=Scribus-työpöytäjulkaisu
Name[fr]=Publication assistée par ordinateur Scribus
Name[de]=Scribus-Desktop-Publishing
Name[el]=Επιτραπέζια δημοσίευση Scribus
Name[iw]=Scribus תינחלוש רואל האצוה
Name[hi]=स्क्रिबस डेस्कटॉप प्रकाशन
Name[hu]=Scribus desktop publishing
Name[is]=Scribus skrifborðsútgáfa
Name[id]=Penerbitan desktop Scribus
Name[it]=Pubblicazione desktop di Scribus
Name[no]=Scribus desktop publishing
Name[pl]=Publikacja komputerowa Scribusa
Name[pt]=Editoração eletrônica do Scribus
Name[ro]=Scribus desktop publishing
Name[ru]=Настольная издательская система Scribus
Name[es]=Autoedición Scribus
Name[sv]=Scribus desktop publishing
Name[tr]=Scribus masaüstü yayıncılık
Name[uk]=Настільна видавнича система Scribus
Name=Scribus desktop publishing
Type=Application
Icon=ballorange22.png
Comment[be]=Макет старонкі і публікацыя
Comment[da]=Sidelayout og udgivelse
Comment[nl]=Pagina-indeling en publicatie
Comment[fi]=Sivun ulkoasu ja julkaisu
Comment[fr]=Mise en page et publication
Comment[de]=Seitenlayout und Veröffentlichung
Comment[el]=Διάταξη σελίδας και δημοσίευση
Comment[hu]=Oldalelrendezés és publikálás
Comment[it]=Impaginazione e pubblicazione
Comment[no]=Sidelayout og publisering
Comment[pl]=Układ strony i publikacja
Comment[pt]=Layout de página e publicação
Comment[ru]=Макет страницы и публикация
Comment[es]=Diseño de página y publicación.
Comment[tr]=Sayfa düzeni ve yayın
Comment[uk]=Макет сторінки та публікація
Comment=Page layout and publication
GenericName=Scribus
Exec=scribus.install
Terminal=false
MimeType=application/vnd.scribus;
Categories=Publishing
