[Desktop Entry]
Name[be]=Настольнае выдавецтва Scribus
Name[bg]=Scribus настолно публикуване
Name[zh-CN]=Scribus 桌面出版
Name[hr]=Scribus stolno izdavaštvo
Name[cs]=Scribus DTP
Name[da]=Scribus desktop publishing
Name[nl]=Scribus desktop publishing
Name[et]=Scribus lauaarvuti avaldamine
Name[tl]=Scribus desktop publishing
Name[fi]=Scribus-työpöytäjulkaisu
Name[fr]=Publication assistée par ordinateur Scribus
Name[de]=Scribus-Desktop-Publishing
Name[el]=Επιτραπέζια δημοσίευση Scribus
Name[iw]=Scribus תינחלוש רואל האצוה
Name[hi]=स्क्रिबस डेस्कटॉप प्रकाशन
Name[hu]=Scribus desktop publishing
Name[is]=Scribus skrifborðsútgáfa
Name[id]=Penerbitan desktop Scribus
Name[it]=Pubblicazione desktop di Scribus
Name[no]=Scribus desktop publishing
Name[pl]=Publikacja komputerowa Scribusa
Name[pt]=Editoração eletrônica do Scribus
Name[ro]=Scribus desktop publishing
Name[ru]=Настольная издательская система Scribus
Name[es]=Autoedición Scribus
Name[sv]=Scribus desktop publishing
Name[tr]=Scribus masaüstü yayıncılık
Name[uk]=Настільна видавнича система Scribus
Name[af]=Scribus desktop publisering
Name[am]=Scribus ዴስክቶፕ ህትመት
Name[ar]=ﻲﺒﺘﻜﻤﻟﺍ ﺮﺸﻨﻠﻟ ﺱﻮﺒﻳﺮﻜﺳ
Name[as]=Scribus ডেস্কটপ প্ৰকাশন
Name[ay]=Scribus ukax escritorio ukan uñt’ayatawa
Name[az]=Scribus desktop nəşri
Name[ba]=Scribus эш өҫтәле нәшриәте
Name[bm]=Scribus ka gafe bɔli tabali kan
Name[bn]=Scribus ডেস্কটপ প্রকাশনা
Name[bo]=ཡི་གེ་འབྲི་བའི་ཅོག་ཙེའི་སྟེང་གི་དཔེ་སྐྲུན།
Name[bs]=Scribus desktop izdavaštvo
Name[ca]=Scribus autoedició
Name[co]=Scribus desktop publishing
Name[cy]=Cyhoeddi bwrdd gwaith Scribus
Name[dv]=ގންޝިލިބްޕަ ޕްޓޮކްސްޑެ ސްބަރިކްސް
Name[ee]=Scribus ƒe agbalẽtata le kplɔ̃ dzi
Name[eo]=Scribus labortabla eldonado
Name[eu]=Scribus autoedizioa
Name[fa]=Scribus ﯼﺰﯿﻣﻭﺭ ﺭﺎﺸﺘﻧﺍ
Name[fj]=Tabaki ni delanidesi ni Scribus
Name[fo]=Scribus desktop forlaging
Name[fy]=Scribus desktop publishing
Name[ga]=Scribus foilsitheoireacht deisce
Name[gd]=Scribus foillseachadh desktop
Name[gl]=Autoedición Scribus
Name[gn]=Scribus ñemoherakuã escritorio rehegua
Name[gu]=સ્ક્રિબસ ડેસ્કટોપ પ્રકાશન
Name[ha]=Buga Desktop Scribus
Name[he]=Scribus תינחלוש רואל האצוה
Name[ht]=Scribus Desktop publishing
Name[hy]=Scribus աշխատասեղանի հրատարակում
Name[ig]=Edemede desktọpụ Scribus
Name[iu]=ᖃᕆᑕᐅᔭᒃᑯᑦ ᐅᖃᓕᒫᒐᓕᐅᕐᓂᖅ
Name[ja]=Scribus デスクトップ パブリッシング
Name[jv]=Scribus desktop publishing
Name[ka]=Scribus დესკტოპის გამოცემა
Name[kk]=Scribus жұмыс үстелі баспасы
Name[km]=ការបោះពុម្ពលើតុ Scribus
Name[kn]=ಸ್ಕ್ರಿಬಸ್ ಡೆಸ್ಕ್u200cಟಾಪ್ ಪಬ್ಲಿಷಿಂಗ್
Name[ko]=Scribus 데스크탑 출판
Name[ku]=Weşana sermaseyê ya Scribus
Name[ky]=Scribus десктоп басмасы
Name[la]=Scribus desktop libellorum
Name[lb]=Scribus Desktop Publishing
Name[lg]=Scribus okufulumya ebitabo ku mmeeza
Name[ln]=Scribus édition ya bureau
Name[lo]=ການເຜີຍແຜ່ Scribus desktop
Name[lt]=Scribus kompiuterinė leidyba
Name[lv]=Scribus desktop publishing
Name[mg]=Scribus desktop publishing
Name[mi]=Whakaputa papamahi Scribus
Name[mk]=Scribus десктоп објавување
Name[ml]=സ്ക്രൈബസ് ഡെസ്ക്ടോപ്പ് പബ്ലിഷിംഗ്
Name[mn]=Scribus ширээний хэвлэл
Name[mr]=स्क्रिबस डेस्कटॉप प्रकाशन
Name[ms]=Penerbitan desktop Scribus
Name[mt]=Scribus desktop publishing
Name[my]=Scribus ဒက်စ်တော့ ဖြန့်ချိခြင်း။
Name[ne]=Scribus डेस्कटप प्रकाशन
Name[ny]=Kusindikiza pa desktop ya Scribus
Name[om]=Maxxansa deeskitooppii Scribus
Name[or]=ସ୍କ୍ରିବସ୍ ଡେସ୍କଟପ୍ ପ୍ରକାଶନ |
Name[pa]=ਸਕ੍ਰਿਬਸ ਡੈਸਕਟਾਪ ਪਬਲਿਸ਼ਿੰਗ
Name[ps]=ﻪﻧﻭﺮﭙﺧ ﭖﺎټﺴﯾډ ﺲﺒﯾﺮﮑﺳ ﺩ
Name[qu]=Scribus escritoriopi qillqa lluqsichiy
Name[rw]=Gusohora desktop
Name[sa]=स्क्रबस डेस्कटॉप प्रकाशन
Name[sd]=Scribus ﮓﻨﺸﻠﺒﭘ ﭖﺎٽ ڪﺴﻳڊ
Name[si]=Scribus ඩෙස්ක්ටොප් ප්u200dරකාශනය
Name[sk]=Scribus DTP
Name[sl]=Namizno založništvo Scribus
Name[sm]=Scribus desktop lomitusi
Name[sn]=Scribus desktop publishing
Name[so]=Scribus daabacaadda desktop
Name[sq]=Publikimi desktop i Scribus
Name[st]=Phatlalatso ea komporo ea Scribus
Name[su]=Scribus desktop publishing
Name[sw]=Uchapishaji wa eneo-kazi la Scribus
Name[ta]=ஸ்க்ரைபஸ் டெஸ்க்டாப் பப்ளிஷிங்
Name[te]=స్క్రిబస్ డెస్క్u200cటాప్ పబ్లిషింగ్
Name[tg]=Нашри мизи кории Scribus
Name[th]=การเผยแพร่เดสก์ท็อป Scribus
Name[ti]=ስክሪባስ ናይ ዴስክቶፕ ሕትመት
Name[tk]=Scribus iş stoly neşir etmek
Name[to]=Scribus e desktop pulusi
Name[ts]=Scribus ku kandziyisa ka desktop
Name[tt]=Скрибус өстәле нәшер итү
Name[tw]=Scribus desktop so nhoma tintim
Name[ty]=Scribus desktop publishing
Name[ug]=Scribus ﻰﺗﺎﻴﯨﺮﺷەﻧ ﻯﺯﯜﻳ ﻝەﺘﺳﯜﺋ
Name[ur]=ﮓﻨﺸﻠﺒﭘ ﭖﺎﭨ ﮏﺴﯾﮈ ﺲﺒﯾﺮﮑﺳ
Name[uz]=Scribus ish stoli nashriyoti
Name[vi]=Xuất bản máy tính để bàn Scribus
Name[xh]=Upapasho lwedesktop yeScribus
Name[yi]=ןבעגסיורא פּאַטקסעד סובירקס
Name[yo]=Scribus tabili te
Name[zu]=Ukushicilela kwedeskithophu ye-Scribus
Name=Scribus desktop publishing
Type=Application
Icon=ballorange22.png
Comment[be]=Макет старонкі і публікацыя
Comment[da]=Sidelayout og udgivelse
Comment[nl]=Pagina-indeling en publicatie
Comment[fi]=Sivun ulkoasu ja julkaisu
Comment[fr]=Mise en page et publication
Comment[de]=Seitenlayout und Veröffentlichung
Comment[el]=Διάταξη σελίδας και δημοσίευση
Comment[hu]=Oldalelrendezés és publikálás
Comment[it]=Impaginazione e pubblicazione
Comment[no]=Sidelayout og publisering
Comment[pl]=Układ strony i publikacja
Comment[pt]=Layout de página e publicação
Comment[ru]=Макет страницы и публикация
Comment[es]=Diseño de página y publicación.
Comment[tr]=Sayfa düzeni ve yayın
Comment[uk]=Макет сторінки та публікація
Comment[af]=Bladuitleg en publikasie
Comment[am]=የገጽ አቀማመጥ እና ህትመት
Comment[ar]=ﺮﺸﻨﻟﺍﻭ ﺔﺤﻔﺼﻟﺍ ﻂﻴﻄﺨﺗ
Comment[as]=পৃষ্ঠাৰ বিন্যাস আৰু প্ৰকাশ
Comment[ay]=Panka uñstayaña ukat uñt’ayaña
Comment[az]=Səhifənin tərtibatı və nəşri
Comment[ba]=Биттәр планировкаһы һәм баҫылып сыҡҡаны
Comment[bg]=Оформление и публикуване на страницата
Comment[bm]=Ɲɛw labɛncogo ani u bɔli
Comment[bn]=পৃষ্ঠা বিন্যাস এবং প্রকাশনা
Comment[bo]=ཤོག་ངོས་ཀྱི་བཀོད་པ་དང་པར་སྐྲུན།
Comment[bs]=Izgled stranice i objavljivanje
Comment[ca]=Disseny de pàgina i publicació
Comment[co]=Disposizione di pagina è publicazione
Comment[cs]=Vzhled stránky a publikace
Comment[cy]=Cynllun a chyhoeddiad y dudalen
Comment[dv]=ންޝަކޭލިބްޕަ ދިއަ ޓްއުއަލޭ ޖްޕޭ
Comment[ee]=Axawo ƒe ɖoɖo kple wo tata
Comment[eo]=Paĝa aranĝo kaj publikigo
Comment[et]=Lehekülje paigutus ja avaldamine
Comment[eu]=Orriaren diseinua eta argitalpena
Comment[fa]=ﺭﺎﺸﺘﻧﺍ ﻭ ﯽﯾﺍﺭﺁ ﻪﺤﻔﺻ
Comment[fj]=Ituvatuva kei na tabaki ni tabana
Comment[fo]=Page layout og publication
Comment[fy]=Side yndieling en publikaasje
Comment[ga]=Leagan amach agus foilsiú na leathanach
Comment[gd]=Cruth na duilleige agus foillseachadh
Comment[gl]=Maquetación e publicación da páxina
Comment[gn]=Página ñemohenda ha ñemoherakuã
Comment[gu]=પૃષ્ઠ લેઆઉટ અને પ્રકાશન
Comment[ha]=Tsarin shafi da bugawa
Comment[he]=םוסרפו םידומע תסירפ
Comment[hi]=पेज लेआउट और प्रकाशन
Comment[hr]=Izgled stranice i objava
Comment[ht]=Layout paj ak piblikasyon
Comment[hy]=Էջի դասավորություն և հրապարակում
Comment[id]=Tata letak halaman dan publikasi
Comment[ig]=Nhazi ibe na mbipụta
Comment[is]=Síðuuppsetning og birting
Comment[iu]=ᒪᒃᐱᖅᑐᒐᖅ −ᖑᓪᓗᑎᒃ ᐊᒻᒪ ᑎᑎᕋᖅᑕᐅᒋᐊᓕᑦ
Comment[ja]=ページのレイアウトと発行
Comment[jv]=Tata letak lan publikasi kaca
Comment[ka]=გვერდის განლაგება და გამოქვეყნება
Comment[kk]=Беттің орналасуы және жариялануы
Comment[km]=ប្លង់ទំព័រ និងការបោះពុម្ពផ្សាយ
Comment[kn]=ಪುಟ ವಿನ್ಯಾಸ ಮತ್ತು ಪ್ರಕಟಣೆ
Comment[ko]=페이지 레이아웃 및 게시
Comment[ku]=Rûpel û weşandin
Comment[ky]=Барактын жайгашуусу жана жарыяланышы
Comment[la]=Page layout and publication
Comment[lb]=Säit Layout a Verëffentlechung
Comment[lg]=Ensengeka y’olupapula n’okufulumya
Comment[ln]=Ndenge ya kosala nkasa mpe kobimisa mikanda
Comment[lo]=ການຈັດວາງໜ້າ ແລະການຈັດພິມ
Comment[lt]=Puslapio maketavimas ir publikavimas
Comment[lv]=Lapas izkārtojums un publikācija
Comment[mg]=Fametrahana pejy sy famoahana
Comment[mi]=Te whakatakotoranga wharangi me te whakaputanga
Comment[mk]=Распоред и објавување на страницата
Comment[ml]=പേജ് ലേഔട്ടും പ്രസിദ്ധീകരണവും
Comment[mn]=Хуудасны зохион байгуулалт, хэвлэн нийтлэх
Comment[mr]=पृष्ठ लेआउट आणि प्रकाशन
Comment[ms]=Susun atur halaman dan penerbitan
Comment[mt]=Tqassim tal-paġna u pubblikazzjoni
Comment[my]=စာမျက်နှာအပြင်အဆင်နှင့်ထုတ်ဝေမှု
Comment[ne]=पृष्ठ लेआउट र प्रकाशन
Comment[ny]=Masanjidwe atsamba ndi kufalitsa
Comment[om]=Haala fuulaafi maxxansaa
Comment[or]=ପୃଷ୍ଠା ଲେଆଉଟ୍ ଏବଂ ପ୍ରକାଶନ |
Comment[pa]=ਪੰਨਾ ਲੇਆਉਟ ਅਤੇ ਪ੍ਰਕਾਸ਼ਨ
Comment[ps]=ﻪﻧﻭﺮﭙﺧ ﻭﺍ ﺐﯿﺗﺮﺗ ﯥڼﺎﭘ ﺩ
Comment[qu]=P’anqa churay hinaspa qillqa lluqsichiy
Comment[ro]=Aspectul paginii și publicare
Comment[rw]=Imiterere yurupapuro no gutangaza
Comment[sa]=पृष्ठ विन्यास एवं प्रकाशन
Comment[sd]=ﺖﻋﺎﺷﺍ ۽ ﺐﻴﺗﺮﺗ ﻲﺟ ﻲﺤﻔﺻ
Comment[si]=පිටු සැකැස්ම සහ ප්u200dරකාශනය
Comment[sk]=Rozloženie a publikácia stránky
Comment[sl]=Postavitev in objava strani
Comment[sm]=Faasologa o itulau ma faasalalauga
Comment[sn]=Kurongeka kwemapeji uye kudhindwa
Comment[so]=Qaabaynta bogga iyo daabacaadda
Comment[sq]=Paraqitja dhe publikimi i faqes
Comment[st]=Moralo oa leqephe le phatlalatso
Comment[su]=Perenah halaman sareng publikasi
Comment[sv]=Sidlayout och publicering
Comment[sw]=Mpangilio wa ukurasa na uchapishaji
Comment[ta]=பக்க அமைப்பு மற்றும் வெளியீடு
Comment[te]=పేజీ లేఅవుట్ మరియు ప్రచురణ
Comment[tg]=Тартиби саҳифа ва нашр
Comment[th]=เค้าโครงหน้าและสิ่งพิมพ์
Comment[ti]=ኣቀማምጣ ገጽን ሕትመትን።
Comment[tk]=Sahypanyň ýerleşişi we neşir edilmegi
Comment[tl]=Layout ng pahina at publikasyon
Comment[to]=Fokotuʻutuʻu ʻo e pesi mo hono pulusi
Comment[ts]=Ku vekiwa ka matluka na ku kandziyisiwa
Comment[tt]=Бит макеты һәм бастыру
Comment[tw]=Kratafa nhyehyɛe ne nhoma tintim
Comment[ty]=Api neneihia e te neneiraa
Comment[ug]=ﻰﺸﯩﻨﯩﻠﯩﻗ ﺮﺷەﻧ ەﯞ ﻰﺷﯗﺭﯘﺘﺷﻼ﻿ﻧﯗﺭﻮﺋ ﺕەﺑ
Comment[ur]=ﺖﻋﺎﺷﺍ ﺭﻭﺍ ﺐﯿﺗﺮﺗ ﯽﮐ ﮧﺤﻔﺻ
Comment[uz]=Sahifa tartibi va nashri
Comment[vi]=Bố cục trang và xuất bản
Comment[xh]=Uyilo lwephepha kunye nopapasho
Comment[yi]=עבאַגסיו ןוא גיילסיוא טאַלב
Comment[yo]=Ifilelẹ oju-iwe ati titẹjade
Comment[zh]=页面布局和发布
Comment[zu]=Isakhiwo nokushicilelwa kwekhasi
Comment=Page layout and publication
GenericName=Scribus
Exec=/usr/local/orange/orange.install scribus
Terminal=false
MimeType=application/vnd.scribus;
Categories=Publishing
