[Desktop Entry]
Encoding=UTF-8
Name[fr]=Connexion distante sécurisée ssh
Name[bg]=Защитено ssh дистанционно влизане
Name[de]=Sichere SSH-Remote-Anmeldung
Name[es]=Inicio de sesión remota con ssh
Name[ru]=Безопасный удаленный вход по ssh
Name[tr]=Uzaktan güvenli ssh oturumu
Name[af]=Veilige ssh-afstandaanmelding
Name[am]=ደህንነቱ የተጠበቀ የssh የርቀት መግቢያ
Name[ar]=ﺪﻌﺑ ﻦﻋ ssh ﻦﻣﻵ﻿ﺍ ﻝﻮﺧﺪﻟﺍ ﻦﻴﻣﺄﺗ
Name[as]=ssh দূৰৱৰ্তী প্ৰৱেশ সুৰক্ষিত কৰক
Name[ay]=Seguro ssh jaya chiqaru mantañataki
Name[az]=Təhlükəsiz ssh uzaqdan giriş
Name[ba]=Хәүефһеҙ щеткалы дистанцион логин
Name[be]=Бяспечны аддалены ўваход па ssh
Name[bm]=Secure ssh yɔrɔjan doncogo
Name[bn]=নিরাপদ ssh দূরবর্তী লগইন
Name[bo]=བདེ་འཇགས་ཀྱི་ssh རྒྱང་རིང་ཐོ་འགོད་བྱེད་པ།
Name[bs]=Sigurna ssh udaljena prijava
Name[ca]=Inici de sessió remot ssh segur
Name[co]=Secure ssh login remoto
Name[cs]=Zabezpečené vzdálené přihlášení ssh
Name[cy]=Mewngofnodi diogel ssh o bell
Name[da]=Sikkert ssh fjernlogin
Name[dv]=ންގިލޮ ޓްމޯރި ssh ޓީރިއުކިސެ
Name[ee]=Dedie ssh adzɔge ʋĩ ƒe gege ɖe eme
Name[el]=Ασφαλής απομακρυσμένη σύνδεση ssh
Name[eo]=Sekurigu ssh fora ensaluto
Name[et]=Turvaline ssh-kaugsisselogimine
Name[eu]=Ssh urruneko saioa segurua
Name[fa]=ssh ﺭﻭﺩ ﻩﺍﺭ ﺯﺍ ﻦﻤﯾﺍ ﺩﻭﺭﻭ
Name[fi]=Suojattu ssh-etäkirjautuminen
Name[fj]=Curu taqomaki ni ssh yawa
Name[fo]=Secure ssh remote login
Name[fy]=Feilige ssh remote login
Name[ga]=Logáil isteach cianda slán ssh
Name[gd]=Log a-steach tèarainte ssh iomallach
Name[gl]=Acceso remoto seguro ssh
Name[gn]=Seguro ssh jeike mombyrygua
Name[gu]=સુરક્ષિત ssh રિમોટ લોગિન
Name[ha]=Amintaccen shiga na nesa na ssh
Name[he]=תחטבואמ ssh קוחרמ הסינכ
Name[hi]=सुरक्षित एसएसएच रिमोट लॉगिन
Name[hr]=Sigurna ssh udaljena prijava
Name[ht]=Sekirize ssh koneksyon aleka
Name[hu]=Biztonságos ssh távoli bejelentkezés
Name[hy]=Ապահովեք ssh հեռակա մուտք
Name[id]=Login jarak jauh ssh aman
Name[ig]=Chekwaa nbanye ime ime ssh
Name[is]=Örugg ssh fjartenging
Name[it]=Accesso remoto ssh sicuro
Name[iu]=ᐃᖑᓚᕐᓗᒍ ᐃᓯᕈᑎᕋᓛᖅ
Name[ja]=安全な SSH リモート ログイン
Name[jv]=Login remot ssh aman
Name[ka]=უსაფრთხო ssh დისტანციური შესვლა
Name[kk]=Қауіпсіз ssh қашықтан кіру
Name[km]=ការចូលពីចម្ងាយ ssh មានសុវត្ថិភាព
Name[kn]=ಸುರಕ್ಷಿತ ssh ರಿಮೋಟ್ ಲಾಗಿನ್
Name[ko]=보안 ssh 원격 로그인
Name[ku]=Têketina ssh ji dûr ve ewle bikin
Name[ky]=Коопсуз ssh алыстан кирүү
Name[la]=Secure ssh remote login
Name[lb]=Séchert ssh Remote Login
Name[lg]=Secure ssh okuyingira okuva ewala
Name[ln]=Bobateli bokɔti ya mosika ya ssh
Name[lo]=ການເຂົ້າສູ່ລະບົບທາງໄກ ssh ທີ່ປອດໄພ
Name[lt]=Saugus nuotolinis ssh prisijungimas
Name[lv]=Droša ssh attālā pieteikšanās
Name[mg]=Fidirana lavitra ssh azo antoka
Name[mi]=Haumaru ssh takiuru mamao
Name[mk]=Безбедна ssh далечинско најавување
Name[ml]=ssh റിമോട്ട് ലോഗിൻ സുരക്ഷിതമാക്കുക
Name[mn]=ssh алсаас аюулгүй нэвтрэх
Name[mr]=सुरक्षित ssh रिमोट लॉगिन
Name[ms]=Log masuk jauh ssh selamat
Name[mt]=Login remot ssh sigur
Name[my]=ssh အဝေးထိန်း အကောင့်ဝင်ခြင်းကို လုံခြုံအောင်ပြုလုပ်ပါ။
Name[ne]=सुरक्षित ssh रिमोट लगइन
Name[nl]=Veilig inloggen op afstand via SSH
Name[no]=Sikker ssh ekstern pålogging
Name[ny]=Tetezani kulowa kwakutali kwa ssh
Name[om]=Galmee fagoo ssh nageenya qabu
Name[or]=ସୁରକ୍ଷିତ ssh ରିମୋଟ ଲଗଇନ୍ |
Name[pa]=ਸੁਰੱਖਿਅਤ ssh ਰਿਮੋਟ ਲਾਗਇਨ
Name[pl]=Bezpieczne zdalne logowanie ssh
Name[ps]=ﺉړﮐ ﻱﺪﻧﻮﺧ ﻞﺗﻮﻨﻧ ټﻮﻤﯾﺭ ssh ﺩ
Name[pt]=Login remoto ssh seguro
Name[qu]=Seguro ssh karu yaykuy
Name[ro]=Conectare securizată de la distanță ssh
Name[rw]=Umutekano ssh winjira
Name[sa]=ssh दूरस्थं प्रवेशं सुरक्षितं कुर्वन्तु
Name[sd]=ﻥﺍ ﮒﻻ﻿ ٽﻮﻤﻳﺭ ssh ﻅﻮﻔﺤﻣ
Name[si]=ආරක්ෂිත ssh දුරස්ථ පිවිසුම
Name[sk]=Bezpečné ssh vzdialené prihlásenie
Name[sl]=Varna oddaljena prijava ssh
Name[sm]=Saogalemu ssh login mamao
Name[sn]=Chengetedza ssh kure login
Name[so]=Sugan galitaanka fogaanta ssh
Name[sq]=Identifikimi i sigurt ssh në distancë
Name[st]=Sireletsa ssh ho kena hole
Name[su]=Login jauh ssh aman
Name[sv]=Säker ssh fjärrinloggning
Name[sw]=Salama kuingia kwa mbali kwa ssh
Name[ta]=பாதுகாப்பான ssh ரிமோட் உள்நுழைவு
Name[te]=సురక్షిత ssh రిమోట్ లాగిన్
Name[tg]=Воридшавии дурдасти ssh-ро бехатар кунед
Name[th]=การเข้าสู่ระบบระยะไกล ssh ที่ปลอดภัย
Name[ti]=ውሑስ ssh ርሑቕ መእተዊ
Name[tk]=Howpsuz ssh uzakdan giriş
Name[tl]=Secure na ssh remote login
Name[to]=Malu ssh login mamaʻo
Name[ts]=Ku nghena ka le kule ka ssh loku sirhelelekeke
Name[tt]=Куркынычсыз ssh дистанцион логин
Name[tw]=Secure ssh akyirikyiri login
Name[ty]=Te mau manao tauturu no te haapiiraa
Name[ug]=ﺶﯨﺮﯩﻛ ﻦﯩﺘﻗﺍﺮﯩﻳ ssh ﺭەﺗەﺨﯩﺑ
Name[uk]=Безпечний віддалений вхід через ssh
Name[ur]=ssh ۔ﮟﯾﺮﮐ ﻅﻮﻔﺤﻣ ﻮﮐ ﻥﺍ ﮒﻻ﻿ ﭦﻮﻤﯾﺭ
Name[uz]=Xavfsiz ssh masofaviy kirish
Name[vi]=Đăng nhập từ xa ssh an toàn
Name[xh]=Khusela ukungena kwe-ssh kude
Name[yi]=ןיגאָל טיַיוו ssh רעכיז
Name[yo]=Ni aabo ssh wiwọle latọna jijin
Name[zh]=安全 ssh 远程登录
Name[zu]=Vikela ukungena ngemvume okukude kwe-ssh
Name=Secure ssh remote login
Icon=mini-sh1.xpm
Comment[fr]=Connexion distante sécurisée ssh
Comment[bg]=Защитено ssh дистанционно влизане
Comment[de]=Sichere SSH-Remote-Anmeldung
Comment[es]=Inicio de sesión remota con ssh
Comment[ru]=Безопасный удаленный вход по ssh
Comment[tr]=Güvenli ssh uzaktan oturum açma
Comment[af]=Veilige ssh-afstandaanmelding
Comment[am]=ደህንነቱ የተጠበቀ የssh የርቀት መግቢያ
Comment[ar]=ﺪﻌﺑ ﻦﻋ ssh ﻦﻣﻵ﻿ﺍ ﻝﻮﺧﺪﻟﺍ ﻦﻴﻣﺄﺗ
Comment[as]=ssh দূৰৱৰ্তী প্ৰৱেশ সুৰক্ষিত কৰক
Comment[ay]=Seguro ssh jaya chiqaru mantañataki
Comment[az]=Təhlükəsiz ssh uzaqdan giriş
Comment[ba]=Хәүефһеҙ щеткалы дистанцион логин
Comment[be]=Бяспечны аддалены ўваход па ssh
Comment[bm]=Secure ssh yɔrɔjan doncogo
Comment[bn]=নিরাপদ ssh দূরবর্তী লগইন
Comment[bo]=བདེ་འཇགས་ཀྱི་ssh རྒྱང་རིང་ཐོ་འགོད་བྱེད་པ།
Comment[bs]=Sigurna ssh udaljena prijava
Comment[ca]=Inici de sessió remot ssh segur
Comment[co]=Secure ssh login remoto
Comment[cs]=Zabezpečené vzdálené přihlášení ssh
Comment[cy]=Mewngofnodi diogel ssh o bell
Comment[da]=Sikkert ssh fjernlogin
Comment[dv]=ންގިލޮ ޓްމޯރި ssh ޓީރިއުކިސެ
Comment[ee]=Dedie ssh adzɔge ʋĩ ƒe gege ɖe eme
Comment[el]=Ασφαλής απομακρυσμένη σύνδεση ssh
Comment[eo]=Sekurigu ssh fora ensaluto
Comment[et]=Turvaline ssh-kaugsisselogimine
Comment[eu]=Ssh urruneko saioa segurua
Comment[fa]=ssh ﺭﻭﺩ ﻩﺍﺭ ﺯﺍ ﻦﻤﯾﺍ ﺩﻭﺭﻭ
Comment[fi]=Suojattu ssh-etäkirjautuminen
Comment[fj]=Curu taqomaki ni ssh yawa
Comment[fo]=Secure ssh remote login
Comment[fy]=Feilige ssh remote login
Comment[ga]=Logáil isteach cianda slán ssh
Comment[gd]=Log a-steach tèarainte ssh iomallach
Comment[gl]=Acceso remoto seguro ssh
Comment[gn]=Seguro ssh jeike mombyrygua
Comment[gu]=સુરક્ષિત ssh રિમોટ લોગિન
Comment[ha]=Amintaccen shiga na nesa na ssh
Comment[he]=תחטבואמ ssh קוחרמ הסינכ
Comment[hi]=सुरक्षित एसएसएच रिमोट लॉगिन
Comment[hr]=Sigurna ssh udaljena prijava
Comment[ht]=Sekirize ssh koneksyon aleka
Comment[hu]=Biztonságos ssh távoli bejelentkezés
Comment[hy]=Ապահովեք ssh հեռակա մուտք
Comment[id]=Login jarak jauh ssh aman
Comment[ig]=Chekwaa nbanye ime ime ssh
Comment[is]=Örugg ssh fjartenging
Comment[it]=Accesso remoto ssh sicuro
Comment[iu]=ᐃᖑᓚᕐᓗᒍ ᐃᓯᕈᑎᕋᓛᖅ
Comment[ja]=安全な SSH リモート ログイン
Comment[jv]=Login remot ssh aman
Comment[ka]=უსაფრთხო ssh დისტანციური შესვლა
Comment[kk]=Қауіпсіз ssh қашықтан кіру
Comment[km]=ការចូលពីចម្ងាយ ssh មានសុវត្ថិភាព
Comment[kn]=ಸುರಕ್ಷಿತ ssh ರಿಮೋಟ್ ಲಾಗಿನ್
Comment[ko]=보안 ssh 원격 로그인
Comment[ku]=Têketina ssh ji dûr ve ewle bikin
Comment[ky]=Коопсуз ssh алыстан кирүү
Comment[la]=Secure ssh remote login
Comment[lb]=Séchert ssh Remote Login
Comment[lg]=Secure ssh okuyingira okuva ewala
Comment[ln]=Bobateli bokɔti ya mosika ya ssh
Comment[lo]=ການເຂົ້າສູ່ລະບົບທາງໄກ ssh ທີ່ປອດໄພ
Comment[lt]=Saugus nuotolinis ssh prisijungimas
Comment[lv]=Droša ssh attālā pieteikšanās
Comment[mg]=Fidirana lavitra ssh azo antoka
Comment[mi]=Haumaru ssh takiuru mamao
Comment[mk]=Безбедна ssh далечинско најавување
Comment[ml]=ssh റിമോട്ട് ലോഗിൻ സുരക്ഷിതമാക്കുക
Comment[mn]=ssh алсаас аюулгүй нэвтрэх
Comment[mr]=सुरक्षित ssh रिमोट लॉगिन
Comment[ms]=Log masuk jauh ssh selamat
Comment[mt]=Login remot ssh sigur
Comment[my]=ssh အဝေးထိန်း အကောင့်ဝင်ခြင်းကို လုံခြုံအောင်ပြုလုပ်ပါ။
Comment[ne]=सुरक्षित ssh रिमोट लगइन
Comment[nl]=Veilig inloggen op afstand via SSH
Comment[no]=Sikker ssh ekstern pålogging
Comment[ny]=Tetezani kulowa kwakutali kwa ssh
Comment[om]=Galmee fagoo ssh nageenya qabu
Comment[or]=ସୁରକ୍ଷିତ ssh ରିମୋଟ ଲଗଇନ୍ |
Comment[pa]=ਸੁਰੱਖਿਅਤ ssh ਰਿਮੋਟ ਲਾਗਇਨ
Comment[pl]=Bezpieczne zdalne logowanie ssh
Comment[ps]=ﺉړﮐ ﻱﺪﻧﻮﺧ ﻞﺗﻮﻨﻧ ټﻮﻤﯾﺭ ssh ﺩ
Comment[pt]=Login remoto ssh seguro
Comment[qu]=Seguro ssh karu yaykuy
Comment[ro]=Conectare securizată de la distanță ssh
Comment[rw]=Umutekano ssh winjira
Comment[sa]=ssh दूरस्थं प्रवेशं सुरक्षितं कुर्वन्तु
Comment[sd]=ﻥﺍ ﮒﻻ﻿ ٽﻮﻤﻳﺭ ssh ﻅﻮﻔﺤﻣ
Comment[si]=ආරක්ෂිත ssh දුරස්ථ පිවිසුම
Comment[sk]=Bezpečné ssh vzdialené prihlásenie
Comment[sl]=Varna oddaljena prijava ssh
Comment[sm]=Saogalemu ssh login mamao
Comment[sn]=Chengetedza ssh kure login
Comment[so]=Sugan galitaanka fogaanta ssh
Comment[sq]=Identifikimi i sigurt ssh në distancë
Comment[st]=Sireletsa ssh ho kena hole
Comment[su]=Login jauh ssh aman
Comment[sv]=Säker ssh fjärrinloggning
Comment[sw]=Salama kuingia kwa mbali kwa ssh
Comment[ta]=பாதுகாப்பான ssh ரிமோட் உள்நுழைவு
Comment[te]=సురక్షిత ssh రిమోట్ లాగిన్
Comment[tg]=Воридшавии дурдасти ssh-ро бехатар кунед
Comment[th]=การเข้าสู่ระบบระยะไกล ssh ที่ปลอดภัย
Comment[ti]=ውሑስ ssh ርሑቕ መእተዊ
Comment[tk]=Howpsuz ssh uzakdan giriş
Comment[tl]=Secure na ssh remote login
Comment[to]=Malu ssh login mamaʻo
Comment[ts]=Ku nghena ka le kule ka ssh loku sirhelelekeke
Comment[tt]=Куркынычсыз ssh дистанцион логин
Comment[tw]=Secure ssh akyirikyiri login
Comment[ty]=Te mau manao tauturu no te haapiiraa
Comment[ug]=ﺶﯨﺮﯩﻛ ﻦﯩﺘﻗﺍﺮﯩﻳ ssh ﺭەﺗەﺨﯩﺑ
Comment[uk]=Безпечний віддалений вхід через ssh
Comment[ur]=ssh ۔ﮟﯾﺮﮐ ﻅﻮﻔﺤﻣ ﻮﮐ ﻥﺍ ﮒﻻ﻿ ﭦﻮﻤﯾﺭ
Comment[uz]=Xavfsiz ssh masofaviy kirish
Comment[vi]=Đăng nhập từ xa ssh an toàn
Comment[xh]=Khusela ukungena kwe-ssh kude
Comment[yi]=ןיגאָל טיַיוו ssh רעכיז
Comment[yo]=Ni aabo ssh wiwọle latọna jijin
Comment[zh]=安全 ssh 远程登录
Comment[zu]=Vikela ukungena ngemvume okukude kwe-ssh
Comment=Secure ssh remote login
Exec=securetelnetshell
Terminal=false
Type=Application
Categories=X-Internet-login
GenericName=Secure ssh remote login
