[Desktop Entry]
Encoding=UTF-8
Name[fr]=Connexion distante sécurisée ssh
Name[bg]=Защитено ssh дистанционно влизане
Name[de]=Sichere SSH-Remote-Anmeldung
Name[es]=Inicio de sesión remota con ssh
Name[ru]=Безопасный удаленный вход по ssh
Name=Secure ssh remote login
Icon=mini-sh1.xpm
Comment[fr]=Connexion distante sécurisée ssh
Comment[bg]=Защитено ssh дистанционно влизане
Comment[de]=Sichere SSH-Remote-Anmeldung
Comment[es]=Inicio de sesión remota con ssh
Comment[ru]=Безопасный удаленный вход по ssh
Comment=Secure ssh remote login
Exec=securetelnetshell
Terminal=false
Type=Application
Categories=X-Internet-login
GenericName=Secure ssh remote login
