[Desktop Entry]
Encoding=UTF-8
Name[fr]=Taille générale des polices
Name[bg]=Задаване на глобален размер на шрифта
Name[de]=Globale Schriftgröße festlegen
Name[es]=Establecer tamaño de las fuentes
Name[ru]=Установить глобальный размер шрифта
Name=Set global font size
Icon=mini-x.xpm
Comment[fr]=Taille générale des polices
Comment[bg]=Задаване на глобален размер на шрифта
Comment[de]=Globale Schriftgröße festlegen
Comment[es]=Establecer tamaño de las fuentes
Comment[ru]=Установить глобальный размер шрифта
Comment=Set global font size
Exec=set-xftdpi
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Set global font size
