[Desktop Entry]
Encoding=UTF-8
Name[fr]=Définir le fuseau horaire
Name[bg]=Задаване на часова зона
Name[de]=Zeitzone einstellen
Name[es]=Establecer la zona horaria
Name[ru]=Установить часовой пояс
Name=Set timezone
Icon=mini-clock.xpm
Comment[fr]=Définir le fuseau horaire
Comment[bg]=Задаване на часова зона
Comment[de]=Zeitzone einstellen
Comment[es]=Establecer la zona horaria
Comment[ru]=Установить часовой пояс
Comment=Set timezone
Exec=timezone-set
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set timezone
NoDisplay=true
