[Desktop Entry]
Encoding=UTF-8
Name[fr]=Définir le type d'horloge matérielle
Name[bg]=Задаване на тип хардуерен часовник
Name[de]=Hardwaretakttyp festlegen
Name=Set hardware-clock type
Icon=mini-clock.xpm
Comment[bg]=Задаване на тип HW-часовник
Comment[de]=HW-Uhrtyp einstellen
Comment=Set HW-clock type
Exec=set_hwclock_type
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set HW-clock type
NoDisplay=true
