[Desktop Entry]
Encoding=UTF-8
Name[fr]=Définir le fuseau horaire
Name[bg]=Задаване на часова зона
Name[de]=Zeitzone einstellen
Name=Set timezone
Icon=mini-clock.xpm
Comment[bg]=Задаване на часова зона
Comment[de]=Zeitzone einstellen
Comment=Set timezone
Exec=timezone-set
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Set timezone
NoDisplay=true
