[Desktop Entry]
Encoding=UTF-8
Name[fr]=Télécharger des paquets SFS : SFSget
Name[bg]=SFSget изтегляне SFS комбо-пакети
Name[de]=SFSget Download SFS Combo-Pakete
Name[es]=SFSget: descargar paquetes SFS
Name[ru]=SFSget изтегляне SFS комбо-пакети
Name=SFSget download SFS combo-packages
Icon=/usr/local/apps/ROX-Filer/ROX/MIME/application-x-squashfs-image.png
Comment[fr]=Télécharger des paquets SFS : SFSget
Comment[bg]=SFSget изтегляне SFSs
Comment[de]=SFSget herunterladen SFSs
Comment[es]=SFSget: descargar paquetes SFS
Comment[ru]=SFSget изтегляне SFSs
Comment=SFSget download SFSs
Exec=/usr/sbin/sfsget
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=SFSget
