[Desktop Entry]
Encoding=UTF-8
Name=SimpleVP multimedia player
Icon=simplevp.png
Comment=SimpleVP audio video player
Exec=/usr/bin/simplevp
Terminal=false
Type=Application
Categories=X-Multimedia-mediaplayer
GenericName=SimpleVP
