[Desktop Entry]
Encoding=UTF-8
Name[fr]=Afficher les processus actifs : Top
Name[bg]=Горна част на изгледа на изпълняваните процеси
Name[de]=Draufsicht laufende Prozesse
Name[es]=Top: ver procesos en ejecución
Name[ru]=сверху запущенных процессов Top
Name[tr]=Top çalışan işlemleri görüntüle
Name=Top view running processes
Icon=mini-run.xpm
Comment[fr]=Afficher les processus actifs : Top
Comment[bg]=Горна част на изгледа на изпълняваните процеси
Comment[de]=Draufsicht laufende Prozesse
Comment[es]=Ver procesos en ejecución
Comment[ru]=сверху запущенных процессов Top
Comment[tr]=Top çalışan işlemleri görüntüle
Comment=Top view running processes
Exec=rxvt -font 7x14 -bg "#c0c0c0" -fg black -T Top -n Top -e top
Terminal=false
Type=Application
Categories=X-System-process
GenericName=Top view running processes
