[Desktop Entry]
Encoding=UTF-8
Name[fr]=Afficher les processus actifs : Top
Name[bg]=Горна част на изгледа на изпълняваните процеси
Name[de]=Draufsicht laufende Prozesse
Name[es]=Top: ver procesos en ejecución
Name[ru]=сверху запущенных процессов Top
Name[tr]=Top çalışan işlemleri görüntüle
Name[af]=Boaansig lopende prosesse
Name[am]=ከፍተኛ እይታ የማሄድ ሂደቶች
Name[ar]=ﺔﻳﺭﺎﺠﻟﺍ ﺕﺎﻴﻠﻤﻌﻟﺍ ﺽﺮﻋ ﻰﻠﻋﺃ
Name[as]=ওপৰৰ দৰ্শন চলি থকা প্ৰক্ৰিয়াসমূহ
Name[ay]=Pata uñtawi t’ijtawi lurawinakata
Name[az]=Üst görünüş çalışan proseslər
Name[ba]=Өҫкө күренештең йүгереү процестары
Name[be]=Выгляд зверху запушчаныя працэсы
Name[bm]=Sanfɛla lajɛ bolicogo taabolo
Name[bn]=টপ ভিউ চলমান প্রক্রিয়া
Name[bo]=ལྟ་ཚུལ་མཐོ་ཤོས་ཀྱི་འཁོར་སྐྱོད་བརྒྱུད་རིམ།
Name[bs]=Pogled odozgo pokrenuti procesi
Name[ca]=Vista superior dels processos en execució
Name[co]=I prucessi in esecuzione di vista superiore
Name[cs]=Pohled shora běžící procesy
Name[cy]=Golygfa uchaf prosesau rhedeg
Name[da]=Løbende processer ovenfra
Name[dv]=ސްސްސެރޮޕް ގންނިންރަ އުވި ޕްޓޮ
Name[ee]=Top view si le du dzi ƒe dɔwɔwɔwo
Name[el]=Κάτοψη εκτελούμενες διαδικασίες
Name[eo]=Supra vido kurantaj procezoj
Name[et]=Töötavad protsessid pealtvaates
Name[eu]=Goiko ikuspegia martxan dauden prozesuak
Name[fa]=ﺍﺮﺟﺍ ﻝﺎﺣ ﺭﺩ ﯼﺎﻫﺪﻨﯾﺁﺮﻓ ﻻ﻿ﺎﺑ ﯼﺎﻤﻧ
Name[fi]=Ylhäältä katsottuna käynnissä olevat prosessit
Name[fj]=iWalewale ni kena cicivaki na rai e cake
Name[fo]=Top útsýni renna processes
Name[fy]=Top werjefte rinnende prosessen
Name[ga]=Amharc barr próisis reatha
Name[gd]=Sealladh àrd air pròiseasan ruith
Name[gl]=Vista superior dos procesos en execución
Name[gn]=Yvategua jehecha umi proceso oñemboguatáva
Name[gu]=ટોચની દૃશ્ય ચાલી રહેલ પ્રક્રિયાઓ
Name[ha]=Babban duban tafiyar matakai
Name[he]=הלעמל טבמב םילעופ םיכילהת
Name[hi]=चल रही प्रक्रियाओं का शीर्ष दृश्य
Name[hr]=Pogled odozgo pokrenuti procesi
Name[ht]=Top View kouri pwosesis
Name[hu]=Futó folyamatok felülnézetben
Name[hy]=Վերևի դիտման գործարկման գործընթացները
Name[id]=Proses berjalan tampilan atas
Name[ig]=Usoro na-agba ọsọ ele elu
Name[is]=Ferlar í gangi fyrir ofan sýn
Name[it]=Vista dallalto dei processi in esecuzione
Name[iu]=ᖁᑦᑎᓛᒥᒃ ᑕᐅᑐᖕᓂᖅ ᐃᖏᕐᕋᑎᓪᓗᒍ ᐱᕙᓪᓕᐊᓂᖓ
Name[ja]=実行中のプロセスを上から見た図
Name[jv]=Ndhuwur tampilan mlaku pangolahan
Name[ka]=ზედა ხედვის გაშვებული პროცესები
Name[kk]=Орындалатын процестердің жоғарғы көрінісі
Name[km]=ទិដ្ឋភាពកំពូលដំណើរការដំណើរការ
Name[kn]=ಟಾಪ್ ವ್ಯೂ ಚಾಲನೆಯಲ್ಲಿರುವ ಪ್ರಕ್ರಿಯೆಗಳು
Name[ko]=상위 뷰 실행 중인 프로세스
Name[ku]=Pêvajoyên xebitandinê yên dîtina jorîn
Name[ky]=Жогорку көрүнүш иштеп жаткан процесстер
Name[la]=View currit top processuum
Name[lb]=Top Vue Lafen Prozesser
Name[lg]=Okulaba waggulu enkola ezitambula
Name[ln]=Top view oyo ezali kosala ba processus
Name[lo]=ຂັ້ນຕອນການແລ່ນເບິ່ງເທິງສຸດ
Name[lt]=Vykdomi procesai iš viršaus
Name[lv]=No augšas skats darbojas procesi
Name[mg]=Top view mandeha dingana
Name[mi]=Tirohanga runga nga tukanga whakahaere
Name[mk]=Процеси за извршување на горниот приказ
Name[ml]=ടോപ്പ് വ്യൂ പ്രവർത്തിക്കുന്ന പ്രക്രിയകൾ
Name[mn]=Ажиллаж буй процессуудыг дээд талаас нь харах
Name[mr]=शीर्ष दृश्य चालू प्रक्रिया
Name[ms]=Paparan atas menjalankan proses
Name[mt]=Veduta ta fuq proċessi ta tmexxija
Name[my]=ထိပ်တန်းကြည့်ရှုမှု လုပ်ငန်းစဉ်များ
Name[ne]=शीर्ष दृश्य चलिरहेको प्रक्रियाहरू
Name[nl]=Bovenaanzicht lopende processen
Name[no]=Kjørende prosesser ovenfra
Name[ny]=Top view kuthamanga ndondomeko
Name[om]=Adeemsa fiigichaa ilaalcha gubbaa
Name[or]=ଚାଲୁଥିବା ପ୍ରକ୍ରିୟାଗୁଡ଼ିକର ଶୀର୍ଷ ଦର୍ଶନ |
Name[pa]=ਚੱਲ ਰਹੀਆਂ ਪ੍ਰਕਿਰਿਆਵਾਂ ਦਾ ਸਿਖਰ ਦੇਖੋ
Name[pl]=Widok z góry uruchomionych procesów
Name[ps]=ﺪﯿﻟ ړﻮﻟ ﯥﺳﻭﺮﭘ ﻮﻟﻮﻠﭼ ﺩ
Name[pt]=Visualização superior dos processos em execução
Name[qu]=Pata qhaway purichiy ruwaykuna
Name[ro]=Vizualizarea de sus a proceselor care rulează
Name[rw]=Hejuru yo kureba inzira
Name[sa]=शीर्षदृश्यं चालयन्ति प्रक्रियाः
Name[sd]=ﻞﻤﻋ ڙﺪﻨﻠﻫ ﻮﺳڏ ﻲﭥﻣ
Name[si]=Top view ධාවන ක්u200dරියාවලි
Name[sk]=Pohľad zhora na bežiace procesy
Name[sl]=Pogled od zgoraj tečejo procesi
Name[sm]=Vaaiga pito i luga faagasolo faiga
Name[sn]=Pamusoro pekuona kumhanya maitiro
Name[so]=Habka socodsiinta aragtida sare
Name[sq]=Proceset e ekzekutimit të pamjes së sipërme
Name[st]=Mekhoa e metle ea ho shebella e holimo
Name[su]=Top view ngajalankeun prosés
Name[sv]=Pågående processer ovanifrån
Name[sw]=Mwonekano wa juu unaoendesha michakato
Name[ta]=மேல் பார்வை இயங்கும் செயல்முறைகள்
Name[te]=టాప్ వీక్షణ నడుస్తున్న ప్రక్రియలు
Name[tg]=Намоиши боло равандҳои иҷрошаванда
Name[th]=กระบวนการทำงานมุมมองด้านบน
Name[ti]=ላዕለዋይ ትርኢት ዝጎዩ መስርሓት
Name[tk]=Işleýiş prosesleriniň iň ýokarky görnüşi
Name[tl]=Top view na tumatakbo ang mga proseso
Name[to]=Vakai ki ʻolunga ki he founga lele
Name[ts]=Maendlelo yo tsutsuma ya xivono xa le henhla
Name[tt]=Йөгерү процессларының иң югары күренеше
Name[tw]=Top view mmirikatu nhyehyɛe ahorow
Name[ty]=Te mau hohoa i nia i te itenati
Name[ug]=ﺵﯛﺭﯚﻛ ﻰﻨﯩﻧﺎﻳﺭەﺟ ﺶﯩﻠﯩﻗ ﺍﺮﺠﯩﺋ
Name[uk]=Вигляд зверху запущених процесів
Name[ur]=ﻞﻤﻋ ﮯﮐ ﮯﻧﻼ﻿ﭼ ﻮﯾﻭ ﭖﺎﭨ
Name[uz]=Yuqori korinishda ishlaydigan jarayonlar
Name[vi]=Chế độ xem hàng đầu đang chạy
Name[xh]=Iinkqubo ezisebenzayo zokujonga okuphezulu
Name[yi]=זאַסעסאַרפּ קידנסילפ גנוניימ ץיפּש
Name[yo]=Top view nṣiṣẹ lakọkọ
Name[zh]=顶视图运行进程
Name[zu]=Izinqubo ezisebenzayo zokubuka okuphezulu
Name=Top view running processes
Icon=mini-run.xpm
Comment[fr]=Afficher les processus actifs : Top
Comment[bg]=Горна част на изгледа на изпълняваните процеси
Comment[de]=Draufsicht laufende Prozesse
Comment[es]=Ver procesos en ejecución
Comment[ru]=сверху запущенных процессов Top
Comment[tr]=Top çalışan işlemleri görüntüle
Comment[af]=Boaansig lopende prosesse
Comment[am]=ከፍተኛ እይታ የማሄድ ሂደቶች
Comment[ar]=ﺔﻳﺭﺎﺠﻟﺍ ﺕﺎﻴﻠﻤﻌﻟﺍ ﺽﺮﻋ ﻰﻠﻋﺃ
Comment[as]=ওপৰৰ দৰ্শন চলি থকা প্ৰক্ৰিয়াসমূহ
Comment[ay]=Pata uñtawi t’ijtawi lurawinakata
Comment[az]=Üst görünüş çalışan proseslər
Comment[ba]=Өҫкө күренештең йүгереү процестары
Comment[be]=Выгляд зверху запушчаныя працэсы
Comment[bm]=Sanfɛla lajɛ bolicogo taabolo
Comment[bn]=টপ ভিউ চলমান প্রক্রিয়া
Comment[bo]=ལྟ་ཚུལ་མཐོ་ཤོས་ཀྱི་འཁོར་སྐྱོད་བརྒྱུད་རིམ།
Comment[bs]=Pogled odozgo pokrenuti procesi
Comment[ca]=Vista superior dels processos en execució
Comment[co]=I prucessi in esecuzione di vista superiore
Comment[cs]=Pohled shora běžící procesy
Comment[cy]=Golygfa uchaf prosesau rhedeg
Comment[da]=Løbende processer ovenfra
Comment[dv]=ސްސްސެރޮޕް ގންނިންރަ އުވި ޕްޓޮ
Comment[ee]=Top view si le du dzi ƒe dɔwɔwɔwo
Comment[el]=Κάτοψη εκτελούμενες διαδικασίες
Comment[eo]=Supra vido kurantaj procezoj
Comment[et]=Töötavad protsessid pealtvaates
Comment[eu]=Goiko ikuspegia martxan dauden prozesuak
Comment[fa]=ﺍﺮﺟﺍ ﻝﺎﺣ ﺭﺩ ﯼﺎﻫﺪﻨﯾﺁﺮﻓ ﻻ﻿ﺎﺑ ﯼﺎﻤﻧ
Comment[fi]=Ylhäältä katsottuna käynnissä olevat prosessit
Comment[fj]=iWalewale ni kena cicivaki na rai e cake
Comment[fo]=Top útsýni renna processes
Comment[fy]=Top werjefte rinnende prosessen
Comment[ga]=Amharc barr próisis reatha
Comment[gd]=Sealladh àrd air pròiseasan ruith
Comment[gl]=Vista superior dos procesos en execución
Comment[gn]=Yvategua jehecha umi proceso oñemboguatáva
Comment[gu]=ટોચની દૃશ્ય ચાલી રહેલ પ્રક્રિયાઓ
Comment[ha]=Babban duban tafiyar matakai
Comment[he]=הלעמל טבמב םילעופ םיכילהת
Comment[hi]=चल रही प्रक्रियाओं का शीर्ष दृश्य
Comment[hr]=Pogled odozgo pokrenuti procesi
Comment[ht]=Top View kouri pwosesis
Comment[hu]=Futó folyamatok felülnézetben
Comment[hy]=Վերևի դիտման գործարկման գործընթացները
Comment[id]=Proses berjalan tampilan atas
Comment[ig]=Usoro na-agba ọsọ ele elu
Comment[is]=Ferlar í gangi fyrir ofan sýn
Comment[it]=Vista dallalto dei processi in esecuzione
Comment[iu]=ᖁᑦᑎᓛᒥᒃ ᑕᐅᑐᖕᓂᖅ ᐃᖏᕐᕋᑎᓪᓗᒍ ᐱᕙᓪᓕᐊᓂᖓ
Comment[ja]=実行中のプロセスを上から見た図
Comment[jv]=Ndhuwur tampilan mlaku pangolahan
Comment[ka]=ზედა ხედვის გაშვებული პროცესები
Comment[kk]=Орындалатын процестердің жоғарғы көрінісі
Comment[km]=ទិដ្ឋភាពកំពូលដំណើរការដំណើរការ
Comment[kn]=ಟಾಪ್ ವ್ಯೂ ಚಾಲನೆಯಲ್ಲಿರುವ ಪ್ರಕ್ರಿಯೆಗಳು
Comment[ko]=상위 뷰 실행 중인 프로세스
Comment[ku]=Pêvajoyên xebitandinê yên dîtina jorîn
Comment[ky]=Жогорку көрүнүш иштеп жаткан процесстер
Comment[la]=View currit top processuum
Comment[lb]=Top Vue Lafen Prozesser
Comment[lg]=Okulaba waggulu enkola ezitambula
Comment[ln]=Top view oyo ezali kosala ba processus
Comment[lo]=ຂັ້ນຕອນການແລ່ນເບິ່ງເທິງສຸດ
Comment[lt]=Vykdomi procesai iš viršaus
Comment[lv]=No augšas skats darbojas procesi
Comment[mg]=Top view mandeha dingana
Comment[mi]=Tirohanga runga nga tukanga whakahaere
Comment[mk]=Процеси за извршување на горниот приказ
Comment[ml]=ടോപ്പ് വ്യൂ പ്രവർത്തിക്കുന്ന പ്രക്രിയകൾ
Comment[mn]=Ажиллаж буй процессуудыг дээд талаас нь харах
Comment[mr]=शीर्ष दृश्य चालू प्रक्रिया
Comment[ms]=Paparan atas menjalankan proses
Comment[mt]=Veduta ta fuq proċessi ta tmexxija
Comment[my]=ထိပ်တန်းကြည့်ရှုမှု လုပ်ငန်းစဉ်များ
Comment[ne]=शीर्ष दृश्य चलिरहेको प्रक्रियाहरू
Comment[nl]=Bovenaanzicht lopende processen
Comment[no]=Kjørende prosesser ovenfra
Comment[ny]=Top view kuthamanga ndondomeko
Comment[om]=Adeemsa fiigichaa ilaalcha gubbaa
Comment[or]=ଚାଲୁଥିବା ପ୍ରକ୍ରିୟାଗୁଡ଼ିକର ଶୀର୍ଷ ଦର୍ଶନ |
Comment[pa]=ਚੱਲ ਰਹੀਆਂ ਪ੍ਰਕਿਰਿਆਵਾਂ ਦਾ ਸਿਖਰ ਦੇਖੋ
Comment[pl]=Widok z góry uruchomionych procesów
Comment[ps]=ﺪﯿﻟ ړﻮﻟ ﯥﺳﻭﺮﭘ ﻮﻟﻮﻠﭼ ﺩ
Comment[pt]=Visualização superior dos processos em execução
Comment[qu]=Pata qhaway purichiy ruwaykuna
Comment[ro]=Vizualizarea de sus a proceselor care rulează
Comment[rw]=Hejuru reba inzira ikora
Comment[sa]=शीर्षदृश्यं चालयन्ति प्रक्रियाः
Comment[sd]=ﻞﻤﻋ ڙﺪﻨﻠﻫ ﻮﺳڏ ﻲﭥﻣ
Comment[si]=Top view ධාවන ක්u200dරියාවලි
Comment[sk]=Pohľad zhora na bežiace procesy
Comment[sl]=Pogled od zgoraj tečejo procesi
Comment[sm]=Vaaiga pito i luga faagasolo faiga
Comment[sn]=Pamusoro pekuona kumhanya maitiro
Comment[so]=Habka socodsiinta aragtida sare
Comment[sq]=Proceset e ekzekutimit të pamjes së sipërme
Comment[st]=Mekhoa e metle ea ho shebella e holimo
Comment[su]=Top view ngajalankeun prosés
Comment[sv]=Pågående processer ovanifrån
Comment[sw]=Mwonekano wa juu unaoendesha michakato
Comment[ta]=மேல் பார்வை இயங்கும் செயல்முறைகள்
Comment[te]=టాప్ వీక్షణ నడుస్తున్న ప్రక్రియలు
Comment[tg]=Намоиши боло равандҳои иҷрошаванда
Comment[th]=กระบวนการทำงานมุมมองด้านบน
Comment[ti]=ላዕለዋይ ትርኢት ዝጎዩ መስርሓት
Comment[tk]=Işleýiş prosesleriniň iň ýokarky görnüşi
Comment[tl]=Top view na tumatakbo ang mga proseso
Comment[to]=Vakai ki ʻolunga ki he founga lele
Comment[ts]=Maendlelo yo tsutsuma ya xivono xa le henhla
Comment[tt]=Йөгерү процессларының иң югары күренеше
Comment[tw]=Top view mmirikatu nhyehyɛe ahorow
Comment[ty]=Te mau hohoa i nia i te itenati
Comment[ug]=ﺵﯛﺭﯚﻛ ﻰﻨﯩﻧﺎﻳﺭەﺟ ﺶﯩﻠﯩﻗ ﺍﺮﺠﯩﺋ
Comment[uk]=Вигляд зверху запущених процесів
Comment[ur]=ﻞﻤﻋ ﮯﮐ ﮯﻧﻼ﻿ﭼ ﻮﯾﻭ ﭖﺎﭨ
Comment[uz]=Yuqori korinishda ishlaydigan jarayonlar
Comment[vi]=Chế độ xem hàng đầu đang chạy
Comment[xh]=Iinkqubo ezisebenzayo zokujonga okuphezulu
Comment[yi]=זאַסעסאַרפּ קידנסילפ גנוניימ ץיפּש
Comment[yo]=Top view nṣiṣẹ lakọkọ
Comment[zh]=顶视图运行进程
Comment[zu]=Izinqubo ezisebenzayo zokubuka okuphezulu
Comment=Top view running processes
Exec=rxvt -font 7x14 -bg "#c0c0c0" -fg black -T Top -n Top -e top
Terminal=false
Type=Application
Categories=X-System-process
GenericName=Top view running processes
