[Desktop Entry]
Encoding=UTF-8
Name[fr]=Arrière plan du bureau : Qwallpaper
Name[bg]=Qwallpaper избор на фоново изображение
Name[de]=Qwallpaper Hintergrundbildauswahl
Name[es]=Qwallpaper: cambiar fondo de pantalla 
Name[ru]=Qwallpaper выбор фонового изображения
Name[af]=Wallpaper agtergrond beeld kieser
Name[am]=የግድግዳ ወረቀት ዳራ ምስል መራጭ
Name[ar]=ﻥﺍﺭﺪﺠﻠﻟ ﺔﻴﻔﻠﺨﻟﺍ ﺓﺭﻮﺻ ﻲﻘﺘﻨﻣ
Name[as]=ৱালপেপাৰ পটভূমি ছবি নিৰ্বাচক
Name[ay]=Wallpaper qhipa uñacht’awi ajlliri
Name[az]=Divar kağızı fon şəkli seçicisi
Name[ba]=Qwallpaper фонында һүрәт һайлаусы
Name[be]=Выбар фонавага малюнка для шпалер
Name[bm]=Wallpaper kɔkanna ja sugandibaga
Name[bn]=ওয়ালপেপার পটভূমি ছবি চয়নকারী
Name[bo]=Qwallpaper རྒྱབ་ལྗོངས་ཀྱི་པར་རིས་གདམ་གསེས་བྱེད་མཁན།
Name[bs]=Birač pozadine pozadine
Name[ca]=Selector dimatges de fons de fons de pantalla
Name[co]=Selettore di limagine di u wallpaper
Name[cs]=Výběr obrázku pozadí tapety
Name[cy]=Dewisydd delwedd cefndir papur wal
Name[da]=Baggrundsbilledvælger
Name[dv]=ރޒަޗޫ ޖްމޭއި ޑްންއުރަގްކްބެ ރޕަޕޭލްވޯ
Name[ee]=Wallpaper megbe nɔnɔmetata tiatia
Name[el]=Επιλογέας εικόνας φόντου ταπετσαρίας
Name[eo]=Fona bildo-elektilo
Name[et]=Taustapildi taustapildi valija
Name[eu]=Atzeko planoko irudien hautatzailea
Name[fa]=ﻪﻨﯿﻣﺯ ﺮﯾﻮﺼﺗ ﻪﻨﯿﻣﺯ ﺲﭘ ﺮﯾﻮﺼﺗ ﺮﮕﺑﺎﺨﺘﻧﺍ
Name[fi]=Taustakuvan taustakuvan valitsin
Name[fj]=Qwallpaper iYaloyalo ni iyaloyalo e muri
Name[fo]=Qwallpaper background image veljar
Name[fy]=Kiezer foar wallpaper eftergrûnôfbylding
Name[ga]=Roghnóir íomhá cúlra ballapháipéir
Name[gd]=Neach-taghaidh cùl-raon cùl-raon
Name[gl]=Selector de imaxes de fondo de fondo
Name[gn]=Fondo de pantalla fondo taanga poravohára
Name[gu]=વૉલપેપર પૃષ્ઠભૂમિ છબી પસંદકર્તા
Name[ha]=Zabar hoton bangon bangon waya
Name[he]=טפט לש עקר תנומת רחוב
Name[hi]=वॉलपेपर पृष्ठभूमि छवि चयनकर्ता
Name[hr]=Birač pozadinske slike za pozadinu
Name[ht]=Seleksyon imaj background wallpaper
Name[hu]=Háttérkép háttérkép választó
Name[hy]=Պաստառի ֆոնային պատկերի ընտրիչ
Name[id]=Pemilih gambar latar belakang wallpaper
Name[ig]=Onye na-ahọrọ onyonyo ndabere akwụkwọ ahụaja
Name[is]=Bakgrunnsmyndaval fyrir veggfóður
Name[it]=Selettore di immagini di sfondo per lo sfondo
Name[iu]=Qwallpaper−ᑯᑦ ᐊᔾᔨᙳᐊᓂᒃ ᓂᕈᐊᖅᑎᑦᑎᔨ
Name[ja]=壁紙背景画像セレクター
Name[jv]=Pamilih gambar latar mburi wallpaper
Name[ka]=ფონის ფონის სურათის ამომრჩეველი
Name[kk]=Түсқағаз фон суретін таңдау құралы
Name[km]=កម្មវិធីជ្រើសរើសរូបភាពផ្ទៃខាងក្រោយផ្ទាំងរូបភាព
Name[kn]=ವಾಲ್u200cಪೇಪರ್ ಹಿನ್ನೆಲೆ ಚಿತ್ರ ಆಯ್ಕೆಗಾರ
Name[ko]=바탕 화면 배경 이미지 선택기
Name[ku]=Hilbijêrê wêneya paşxaneya dîwarê
Name[ky]=Фон сүрөтүн тандагыч
Name[la]=Wallpaper background imaginem eligentis
Name[lb]=Wallpaper Hannergrond Bild Wieler
Name[lg]=Wallpaper background ekifaananyi ekilonda
Name[ln]=Fond décran fond ya image pona
Name[lo]=ຕົວເລືອກຮູບພື້ນຫຼັງຂອງວໍເປເປີ
Name[lt]=Fono paveikslėlio parinkiklis
Name[lv]=Tapetes fona attēla izvēle
Name[mg]=Mpifidy sary lafika wallpaper
Name[mi]=Kaiwhiri whakaahua papamuri pepapātū
Name[mk]=Избирач на слики во позадина за позадина
Name[ml]=വാൾപേപ്പർ പശ്ചാത്തല ഇമേജ് തിരഞ്ഞെടുക്കൽ
Name[mn]=Дэлгэцийн дэвсгэр зураг сонгогч
Name[mr]=वॉलपेपर पार्श्वभूमी प्रतिमा निवडकर्ता
Name[ms]=Pemilih imej latar belakang kertas dinding
Name[mt]=Selezzjoni tal-immaġni tal-isfond tal-wallpaper
Name[my]=နောက်ခံပုံနောက်ခံပုံရွေးချယ်မှု
Name[ne]=वालपेपर पृष्ठभूमि छवि चयनकर्ता
Name[nl]=Wallpaper achtergrond afbeelding kiezer
Name[no]=Bakgrunnsbildevelger
Name[ny]=Chosankha chithunzi chakumbuyo chakumbuyo
Name[om]=Filataa fakkii duubbee wallpaper
Name[or]=ୱାଲପେପର ପୃଷ୍ଠଭୂମି ଚିତ୍ର ଚୟନକାରୀ |
Name[pa]=ਵਾਲਪੇਪਰ ਬੈਕਗ੍ਰਾਊਂਡ ਚਿੱਤਰ ਚੋਣਕਾਰ
Name[pl]=Wybór obrazu tła tapety
Name[ps]=ﯽﮑﻧﻮﮐ ﻩﺭﻮﻏ ﺲﮑﻋ ﺪﯿﻟﺎﺷ ﺮﭙﯿﭘ ﻝﺍﻭ ﺩ
Name[pt]=Seletor de imagem de fundo Qwallpaper
Name[qu]=Wallpaper qhipa siqi akllaq
Name[ro]=Selector de imagine de fundal de fundal
Name[rw]=Urupapuro rwerekana amashusho uhitamo
Name[sa]=वॉलपेपर पृष्ठभूमि छवि चयनकर्ता
Name[sd]=ڙﺪﻨﻳڊﻧﻮﭼ ﺮﻳﻮﺼﺗ ﺮﻈﻨﻣ ﺲﭘ ﺮﭙﻴﭘ ﻝﺍﻭ
Name[si]=වෝල්පේපර පසුබිම් රූප තේරීම
Name[sk]=Výber obrázka pozadia tapety
Name[sl]=Izbira slike ozadja za ozadje
Name[sm]=Faailoga ata pito i tua
Name[sn]=Wallpaper yekumashure mufananidzo wekusarudza
Name[so]=Xulashada sawirka asalka ah ee warqadda
Name[sq]=Zgjedhësi i imazhit të sfondit të sfondit
Name[st]=Mokhethi oa setšoantšo sa bokamorao ba Wallpaper
Name[su]=Pamilih gambar latar tukang
Name[sv]=Bakgrundsbildväljare
Name[sw]=Kiteuzi cha picha ya mandharinyuma ya mandhari
Name[ta]=வால்பேப்பர் பின்னணி படத் தேர்வி
Name[te]=వాల్u200cపేపర్ నేపథ్య చిత్ర ఎంపిక
Name[tg]=Интихобкунандаи тасвири замина обои
Name[th]=ตัวเลือกภาพพื้นหลังวอลล์เปเปอร์
Name[ti]=ልጣፍ ድሕረ ባይታ ምስሊ መምረጺ
Name[tk]=Diwar kagyzynyň fon suratyny saýlaýjy
Name[tl]=Tagapili ng larawan sa background ng wallpaper
Name[to]=Qwallpaper ʻimisi ʻo e puipuituʻa chooser
Name[tr]=Duvar kağıdı arka plan resmi seçici
Name[ts]=Muhlawuri wa xifaniso xa le ndzhaku xa wallpaper
Name[tt]=Обои фон рәсемен сайлаучы
Name[tw]=Wallpaper akyi mfonini a wɔpaw
Name[ty]=Hohoa no te hoê hohoa i muri i te api
Name[ug]=ﭺﯘﻐﯩﻠﻟﺎﺗ ﻢﯩﺳەﺭ ﻚﯩﻠﮔەﺗ ﻯﺰﯩﻏەﻗ ﻡﺎﺗ
Name[uk]=Вибір фонового зображення шпалер
Name[ur]=ﮦﺪﻨﻨﮐ ﺏﺎﺨﺘﻧﺍ ﺎﮐ ﺮﯾﻮﺼﺗ ﯽﮐ ﺮﻈﻨﻣ ﺲﭘ ﺮﭙﯿﭘ ﻝﺍﻭ
Name[uz]=Fon rasmi fon rasmi tanlash
Name[vi]=Bộ chọn hình nền hình nền
Name[xh]=Umkhethi womfanekiso ongasemva wephepha lodonga
Name[yi]=רעלאָשט דליב טנורגרעטניה ןטעפּאַט
Name[yo]=Oluyan aworan isale ogiri
Name[zh]=壁纸背景图像选择器
Name[zu]=Isikhethi sesithombe sangemuva sangemuva
Name=Qwallpaper background image chooser
Icon=mini-cave.xpm
Comment[fr]=Définir l'image d'arrière plan du bureau
Comment[bg]=Задаване на фоново изображение
Comment[de]=Hintergrundbild festlegen
Comment[es]=Qwallpaper: cambiar fondo de pantalla
Comment[ru]=Задаване на фоново изображение
Comment[af]=Stel agtergrondprent
Comment[am]=የበስተጀርባ ምስል አዘጋጅ
Comment[ar]=ﺔﻴﻔﻠﺨﻟﺍ ﺓﺭﻮﺻ ﻦﻴﻴﻌﺗ
Comment[as]=পটভূমিৰ ছবি নিৰ্ধাৰণ কৰক
Comment[ay]=Uñstayaña qhipa uñacht’awi
Comment[az]=Fon şəklini təyin edin
Comment[ba]=Артҡы план һүрәте
Comment[be]=Задаць фонавы малюнак
Comment[bm]=Set kɔkanna ja
Comment[bn]=ব্যাকগ্রাউন্ড ইমেজ সেট করুন
Comment[bo]=རྒྱབ་ལྗོངས་ཀྱི་པར་རིས་གཏན་
Comment[bs]=Postavite sliku u pozadini
Comment[ca]=Estableix la imatge de fons
Comment[co]=Pone limmagine di fondo
Comment[cs]=Nastavit obrázek na pozadí
Comment[cy]=Gosod delwedd gefndir
Comment[da]=Indstil baggrundsbillede
Comment[dv]=ންރުކުޓްސެ ޖްމޭއި ޑްންއުރަގްކްބެ
Comment[ee]=Ðo megbe nɔnɔmetata
Comment[el]=Ορισμός εικόνας φόντου
Comment[eo]=Agordu fonbildon
Comment[et]=Määra taustpilt
Comment[eu]=Ezarri atzeko planoko irudia
Comment[fa]=ﻪﻨﯿﻣﺯ ﺲﭘ ﺮﯾﻮﺼﺗ ﻢﯿﻈﻨﺗ
Comment[fi]=Aseta taustakuva
Comment[fj]=Tuvanaka na iyaloyalo ni iyaloyalo
Comment[fo]=Set/setið teg/tykkum aftur.
Comment[fy]=Set eftergrûnôfbylding
Comment[ga]=Socraigh íomhá cúlra
Comment[gd]=Suidhich ìomhaigh cùl-fhiosrachaidh
Comment[gl]=Establecer imaxe de fondo
Comment[gn]=Oñemohenda taanga tenondegua
Comment[gu]=પૃષ્ઠભૂમિ છબી સેટ કરો
Comment[ha]=Saita hoton bango
Comment[he]=עקר תנומת רדגה
Comment[hi]=पृष्ठभूमि छवि सेट करें
Comment[hr]=Postavite pozadinsku sliku
Comment[ht]=Mete imaj background
Comment[hu]=Állítsa be a háttérképet
Comment[hy]=Սահմանել ֆոնային պատկեր
Comment[id]=Tetapkan gambar latar belakang
Comment[ig]=Tọọ foto ndabere
Comment[is]=Stilltu bakgrunnsmynd
Comment[it]=Imposta limmagine di sfondo
Comment[iu]=ᐋᖅᑭᒃᓯᓗᑎᑦ ᑐᓄᐊᓂ ᐊᔾᔨᙳᐊᒥᒃ
Comment[ja]=背景画像を設定する
Comment[jv]=Setel gambar latar mburi
Comment[ka]=ფონის სურათის დაყენება
Comment[kk]=Фондық суретті орнату
Comment[km]=កំណត់រូបភាពផ្ទៃខាងក្រោយ
Comment[kn]=ಹಿನ್ನೆಲೆ ಚಿತ್ರವನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=배경 이미지 설정
Comment[ku]=Wêneyê paşnavê saz bikin
Comment[ky]=Фон сүрөтүн коюу
Comment[la]=Set background image
Comment[lb]=Setzt Hannergrondbild
Comment[lg]=Teeka ekifaananyi eky’emabega
Comment[ln]=Set image ya fond
Comment[lo]=ຕັ້ງຮູບພື້ນຫຼັງ
Comment[lt]=Nustatyti fono paveikslėlį
Comment[lv]=Iestatiet fona attēlu
Comment[mg]=Mametraka sary ambadika
Comment[mi]=Tautuhi whakaahua papamuri
Comment[mk]=Поставете слика за позадина
Comment[ml]=പശ്ചാത്തല ചിത്രം സജ്ജമാക്കുക
Comment[mn]=Дэвсгэр зургийг тохируулах
Comment[mr]=पार्श्वभूमी प्रतिमा सेट करा
Comment[ms]=Tetapkan imej latar belakang
Comment[mt]=Issettja immaġni fl-isfond
Comment[my]=နောက်ခံပုံကို သတ်မှတ်ပါ။
Comment[ne]=पृष्ठभूमि छवि सेट गर्नुहोस्
Comment[nl]=Achtergrondafbeelding instellen
Comment[no]=Sett bakgrunnsbilde
Comment[ny]=Khazikitsani chithunzi chakumbuyo
Comment[om]=Fakkii duubaa saagi
Comment[or]=ପୃଷ୍ଠଭୂମି ପ୍ରତିଛବି ସେଟ୍ କରନ୍ତୁ |
Comment[pa]=ਪਿਛੋਕੜ ਚਿੱਤਰ ਸੈੱਟ ਕਰੋ
Comment[pl]=Ustaw obraz tła
Comment[ps]=ﺉړﮐ ﺐﯿﺗﺮﺗ ﺲﮑﻋ ﺪﻴﻟﺎﺷ ﺩ
Comment[pt]=Definir imagem de pano de fundo
Comment[qu]=Qhipa siq’ita churay
Comment[ro]=Setați imaginea de fundal
Comment[rw]=Shiraho ishusho yinyuma
Comment[sa]=पृष्ठभूमिप्रतिबिम्बं सेट् कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ٽﻴﺳ ﺮﻳﻮﺼﺗ ﻱﺭﺍﻭ ﺮﻈﻨﻣ ﺲﭘ
Comment[si]=පසුබිම් රූපය සකසන්න
Comment[sk]=Nastaviť obrázok na pozadí
Comment[sl]=Nastavite sliko ozadja
Comment[sm]=Seti ata i tua
Comment[sn]=Seta mufananidzo wekumashure
Comment[so]=Deji sawirka dambe
Comment[sq]=Vendos imazhin e sfondit
Comment[st]=Seta setšoantšo sa bokamorao
Comment[su]=Setel gambar latar
Comment[sv]=Ställ in bakgrundsbild
Comment[sw]=Weka picha ya usuli
Comment[ta]=பின்னணி படத்தை அமைக்கவும்
Comment[te]=నేపథ్య చిత్రాన్ని సెట్ చేయండి
Comment[tg]=Танзими тасвири замина
Comment[th]=ตั้งค่าภาพพื้นหลัง
Comment[ti]=ድሕረ ባይታ ምስሊ ኣቐምጥ
Comment[tk]=Fon suratyny düzüň
Comment[tl]=Itakda ang larawan sa background
Comment[to]=Fokotuʻu e ʻimisi ʻo e puipuituʻ
Comment[tr]=Arka plan resmini ayarla
Comment[ts]=Seta xifaniso xa le ndzhaku
Comment[tt]=Фон рәсемен куегыз
Comment[tw]=Set akyi mfonini
Comment[ty]=A tuu i te hohoa i nia i te hoho
Comment[ug]=ﯓەﻠﯩﮕﻟەﺑ ﻰﻨﯩﺘﯨﺭﯜﺳ ﻚﯩﻠﮔەﺗ
Comment[uk]=Установити фонове зображення
Comment[ur]=۔ﮟﯾﺮﮐ ﭧﯿﺳ ﺮﯾﻮﺼﺗ ﯽﮐ ﺮﻈﻨﻣ ﺲﭘ
Comment[uz]=Fon rasmini ornatish
Comment[vi]=Đặt hình nền
Comment[xh]=Seta umfanekiso ongasemva
Comment[yi]=דליב טנורגרעטניה ןלעטש
Comment[yo]=Ṣeto aworan abẹlẹ
Comment[zh]=设置背景图片
Comment[zu]=Setha isithombe sangemuva
Comment=Set backdrop image
Exec=qwallpaper
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Qwallpaper
