[Desktop Entry]
Encoding=UTF-8
Name[fr]=Arrière plan du bureau : Qwallpaper
Name[bg]=Qwallpaper избор на фоново изображение
Name[de]=Qwallpaper Hintergrundbildauswahl
Name=Qwallpaper background image chooser
Icon=mini-cave.xpm
Comment[fr]=Définir l'image d'arrière plan du bureau
Comment[bg]=Задаване на фоново изображение
Comment[de]=Hintergrundbild festlegen
Comment=Set backdrop image
Exec=qwallpaper
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Qwallpaper
