[Desktop Entry]
Encoding=UTF-8
Name=Qwallpaper background image chooser
Icon=mini-cave.xpm
Comment=Set backdrop image
Exec=qwallpaper
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Qwallpaper
