[Desktop Entry]
Encoding=UTF-8
Name[fr]=Assistant Général
Name[de]=Assistent des Assistenten
Name=Wizard Wizard
Icon=mini-dog.xpm
Comment[de]=Assistent des Assistenten
Comment=Wizard Wizard
Exec=wizardwizard
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=Wizard Wizard
