[Desktop Entry]
Type=Application
Name[fr]=Différences dans les fichiers : Xdelta
Name[bg]=Диспечер на файлови разлики в Xdelta
Name[de]=Xdelta Dateidifferenz-Manager
Name=Xdelta file difference manager
Exec=xdelta_gui
Icon=gz.xpm
Categories=X-Utility
GenericName=Xdelta
