[Desktop Entry]
Encoding=UTF-8
Name[af]=MMArchitect mind mapping
Name[am]=ኤምኤምኤአርቴክት የአእምሮ ካርታ ስራ
Name[ar]=MMArchitect ﻂﺋﺍﺮﺨﻟﺍ ﻢﺳﺭ ﻞﻘﻌﻟﺍ
Name[as]=এমএমআৰকিটেক্ট মাইণ্ড মেপিং
Name[ay]=MMArquitecto amuyunakax mapeo ukankiwa
Name[az]=MMArchitect ağıl xəritəsi
Name[ba]=MMArchitect аҡыл картографияһы
Name[be]=Інтэлект-карта MMArchitect
Name[bg]=MMArchitect мисловна карта
Name[bm]=MMArchitecte hakili karti
Name[bn]=MMAarchitect মাইন্ড ম্যাপিং
Name[bo]=MMArchitect བསམ་བློའི་ཐིག་ལེན་རིས་འབྲི།
Name[bs]=MMArchitect mapiranje uma
Name[ca]=MMArchitect mapes mentals
Name[co]=Mapping mentale MMArchitect
Name[cs]=MMArchitect myšlenkové mapy
Name[cy]=Mapio meddwl MMArchitect
Name[da]=MMArchitect mindmapping
Name[de]=MMArchitect-Mindmapping
Name[dv]=ންޕިމެ ޑްންއިމަ ޓްކްޓެކިއާމްއެމްއެ
Name[ee]=MMArchitect susu ƒe nɔnɔmetatawo wɔwɔ
Name[el]=Χαρτογράφηση μυαλού MMArchitect
Name[eo]=MMArchitect mensmapado
Name[es]=Mapeo mental de MMArchitect
Name[et]=MArchitect mõttekaardistamine
Name[eu]=MMArchitect buru-mapa
Name[fa]=MMArchitect ﯽﻨﻫﺫ ﻪﺸﻘﻧ
Name[fi]=MArchitect-mielikartoitus
Name[fj]=Mape ni vakasama ni MMArchitect
Name[fo]=MMArchitect mind mapping
Name[fr]=Cartographie mentale MMArchitect
Name[fy]=MMArchitect mind mapping
Name[ga]=MMAritect mapáil intinne
Name[gd]=MMArchitect mapadh inntinn
Name[gl]=Mapa mental de MMArchitect
Name[gn]=MMArquitecto apytu’ũ rehegua mapeo
Name[gu]=MMAarchitect માઇન્ડ મેપિંગ
Name[ha]=MMArchitect taswirar hankali
Name[he]=MMArchitect תובשחמ יופימ
Name[hi]=एमएमआर्किटेक्ट माइंड मैपिंग
Name[hr]=MMArchitect mapiranje uma
Name[ht]=MMArchitect mind mapping
Name[hu]=MArchitect gondolattérkép
Name[hy]=MMArchitect մտքի քարտեզագրում
Name[id]=Pemetaan pikiran MMArchitect
Name[ig]=MMArchitect nkewa uche
Name[is]=MMArchitect hugarkortlagning
Name[it]=Mappatura mentale MMArchitect
Name[iu]=MMᐃᒃᓯᕙᐅᑕᖅ ᐃᓱᒪᒥᒃ ᓄᓇᙳᐊᓕᐅᕐᓂᖅ
Name[ja]=MMArchitect マインド マッピング
Name[jv]=MMAarchitect mind mapping
Name[ka]=MMArchitect გონების რუქა
Name[kk]=MMArchitect ақыл-ой картасы
Name[km]=MMArchitect ផែនទីគំនិត
Name[kn]=ಎಂಎಂಆರ್ಕಿಟೆಕ್ಟ್ ಮೈಂಡ್ ಮ್ಯಾಪಿಂಗ್
Name[ko]="MMArchitect 마인드 매핑"
Name[ku]=Nexşeya hişê MMArchitect
Name[ky]=MMArchitect акыл картасы
Name[la]=MMArchitect mens mapping
Name[lb]=MMArchitect Mind Mapping
Name[lg]=MMArchitect okukola maapu y’ebirowoozo
Name[ln]=MMArchitecte mapping ya makanisi
Name[lo]=MMArchitect ແຜນທີ່ໃຈ
Name[lt]=MArchitect minčių žemėlapių sudarymas
Name[lv]=MArchitect domu kartēšana
Name[mg]=MMArchitect sarintany saina
Name[mi]=MMArchitect te mahere hinengaro
Name[mk]=MMArchitect мапирање на умот
Name[ml]=MMAarchitect മൈൻഡ് മാപ്പിംഗ്
Name[mn]=MMArchitect оюун ухааны зураглал
Name[mr]=MMAarchitect मन मॅपिंग
Name[ms]=MMArchitect pemetaan minda
Name[mt]=MMArchitect mind mapping
Name[my]=MMArchitect သည် စိတ်မြေပုံဆွဲခြင်း
Name[ne]=MMAarchitect माइंड म्यापिङ
Name[nl]=MMArchitec mindmapping
Name[no]=MMArchitect tankekartlegging
Name[ny]=Kupanga mapu amalingaliro a MMArchitect
Name[om]=MMAarkiteektii kaartaa sammuu
Name[or]=MMArchitect ମନ ମ୍ୟାପିଙ୍ଗ୍ |
Name[pa]=MMAarchitect ਮਨ ਮੈਪਿੰਗ
Name[pl]=Mapy myśli MMArchitect
Name[ps]=ﻝﻮﮐ ﻪﺸﻘﻧ ﻦﻫﺫ MMAarchitect ﺩ
Name[pt]=Mapeamento mental MMArchitect
Name[qu]=MMArquitecto yuyay mapa ruway
Name[ro]=MMArchitect hărți mentale
Name[ru]=Ментальные карты MMArchitect
Name[rw]=Ikarita yo gushushanya ibitekerezo
Name[sa]=MMArchitect मन मानचित्रण
Name[sd]=MMAarchitect ﻱﺯﺎﺳ ﻲﺸﻘﻧ ﻲﺟ ﻍﺎﻣﺩ
Name[si]=MMAarchitect මනස සිතියම්ගත කිරීම
Name[sk]=Mapovanie mysle MMArchitect
Name[sl]=MMArchitect miselni zemljevid
Name[sm]=MMArchitect mafaufau faafanua
Name[sn]=MMArchitect mind mapping
Name[so]=Khariidaynta maskaxda ee MMArchitect
Name[sq]=Harta e mendjes MMArchitect
Name[st]='Mapa oa kelello oa MMArchitect
Name[su]=MMArchitect mind mapping
Name[sv]=MMArchitect mindmapping
Name[sw]=Ramani ya mawazo ya MMArchitect
Name[ta]=MMArchitect மன வரைபடம்
Name[te]=MMAarchitect మైండ్ మ్యాపింగ్
Name[tg]=Харитаи фикрронии MMArchitect
Name[th]=การทำแผนที่ความคิดของ MMArchitect
Name[ti]=MMArchitect ኣእምሮ ካርታ ምግባር
Name[tk]=MMA arhitektura aň kartasy
Name[tl]=MMArchitect mind mapping
Name[to]=MMArchitect e mape ʻo e ʻatamai
Name[tr]=MMArchitect zihin haritalaması
Name[ts]=MMArchitect ku endla mepe wa miehleketo
Name[tt]=MMA архитектор акыл картасы
Name[tw]=MMArchitect adwene mu mfoniniyɛ
Name[ty]=MMArchitect mind mapping
Name[ug]=MMArchitect ﻰﺴﯩﺘﯨﺭەﺧ ﻞﯩﻗەﺋ
Name[uk]=Інтелект-карти MMArchitect
Name[ur]=MMAarchitect ﯼﺯﺎﺳ ﮧﺸﻘﻧ ﯽﻏﺎﻣﺩ
Name[uz]=MArchitect aql xaritasi
Name[vi]=Sơ đồ tư duy MMArchitect
Name[xh]=Imaphu yengqondo ye-MMArchitect
Name[yi]=MMArchitect גניפּאַמ גנוניימ
Name[yo]=MMArchitect okan maapu
Name[zh]=MMArchitect 思维导图
Name[zu]=Imephu yengqondo ye-MMArchitect
Name=MMArchitect mind mapping
Comment[af]=Breinkaartredigeerder
Comment[am]=የአእምሮ ካርታዎች አርታዒ
Comment[ar]=ﺔﻴﻨﻫﺬﻟﺍ ﻂﺋﺍﺮﺨﻟﺍ ﺭﺮﺤﻣ
Comment[as]=মাইণ্ড মেপ সম্পাদক
Comment[ay]=Amuyunakan mapanakapan editorapa
Comment[az]=Ağıl xəritələri redaktoru
Comment[ba]=Mind maps мөхәррире
Comment[be]=Рэдактар ментальных карт
Comment[bg]=Редактор на мисловни карти
Comment[bm]=Hakilila kartiw ɲɛnabɔbaga
Comment[bn]=মাইন্ড ম্যাপ এডিটর
Comment[bo]=བསམ་བློའི་ས་ཁྲའི་རྩོམ་སྒྲིག་པ།
Comment[bs]=Uređivač mapa uma
Comment[ca]=Editor de mapes mentals
Comment[co]=Editore di carte mentali
Comment[cs]=Editor myšlenkových map
Comment[cy]=Golygydd mapiau meddwl
Comment[da]=Mind maps editor
Comment[de]=Mindmap-Editor
Comment[dv]=ވެރެޓަޑިއެ ސްޕްމެ ޑްންއިމަ
Comment[ee]=Susu ƒe anyigbatatawo ƒe nuŋlɔla
Comment[el]=Πρόγραμμα επεξεργασίας χαρτών μυαλού
Comment[eo]=Redaktoro de mensmapoj
Comment[es]=Editor de mapas mentales
Comment[et]=Mõttekaartide redaktor
Comment[eu]=Buru-mapen editorea
Comment[fa]=ﯽﻨﻫﺫ ﯼﺎﻫ ﻪﺸﻘﻧ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=Mielikarttojen editori
Comment[fj]=Edita ni mape ni vakasama
Comment[fo]=Mind maps editor
Comment[fr]=Éditeur de cartes mentales
Comment[fy]=Mind maps bewurker
Comment[ga]=Eagarthóir léarscáileanna aigne
Comment[gd]=Deasaiche mapaichean inntinn
Comment[gl]=Editor de mapas mentais
Comment[gn]=Mapas de mente rehegua editor
Comment[gu]=મન નકશા સંપાદક
Comment[ha]=Editan taswirorin hankali
Comment[he]=הבישח תופמ ךרוע
Comment[hi]=माइंड मैप संपादक
Comment[hr]=Uređivač mentalnih mapa
Comment[ht]=Editè kat lide
Comment[hu]=Gondolattérkép-szerkesztő
Comment[hy]=Մտքի քարտեզների խմբագիր
Comment[id]=Editor peta pikiran
Comment[ig]=Onye nchịkọta akụkọ maapụ uche
Comment[is]=Ritstjóri hugarkorta
Comment[it]=Editor di mappe mentali
Comment[iu]=ᐃᓱᒪᒥᒃ ᓄᓇᙳᐊᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ
Comment[ja]=マインドマップエディター
Comment[jv]=Editor peta pikiran
Comment[ka]=გონების რუქების რედაქტორი
Comment[kk]=Ақыл картасының редакторы
Comment[km]=កម្មវិធីនិពន្ធផែនទីគំនិត
Comment[kn]=ಮೈಂಡ್ ಮ್ಯಾಪ್ಸ್ ಎಡಿಟರ್
Comment[ko]=마인드맵 에디터
Comment[ku]=Edîtorê nexşeyên hiş
Comment[ky]=Акыл карталарынын редактору
Comment[la]=Mentis maps editor
Comment[lb]=Mind Maps Editor
Comment[lg]=Omuwandiisi wa maapu z’ebirowoozo
Comment[ln]=Mobongisi ya ba cartes ya makanisi
Comment[lo]=ບັນນາທິການແຜນທີ່ໃຈ
Comment[lt]=Minčių žemėlapių redaktorius
Comment[lv]=Domu karšu redaktors
Comment[mg]=Mpanonta sarintany saina
Comment[mi]=Etita mapi hinengaro
Comment[mk]=Уредувач на умствени мапи
Comment[ml]=മൈൻഡ് മാപ്പ് എഡിറ്റർ
Comment[mn]=Оюун санааны газрын зураг засварлагч
Comment[mr]=मन नकाशे संपादक
Comment[ms]=Editor peta minda
Comment[mt]=Editur tal-mapep tal-moħħ
Comment[my]=စိတ်မြေပုံများ တည်းဖြတ်သူ
Comment[ne]=मन नक्सा सम्पादक
Comment[nl]=Mindmap-editor
Comment[no]=Redaktør for tankekart
Comment[ny]=Mkonzi wa mapu amalingaliro
Comment[om]=Gulaalaa kaartaa sammuu
Comment[or]=ମାନଚିତ୍ର ମାନଚିତ୍ର ସମ୍ପାଦକ |
Comment[pa]=ਮਨ ਨਕਸ਼ੇ ਸੰਪਾਦਕ
Comment[pl]=Edytor map myśli
Comment[ps]=ﺮﯾﺪﻣ ﯥﺸﻘﻧ ﻦﻫﺫ ﺩ
Comment[pt]=Editor de mapas mentais
Comment[qu]=Yuyay mapakuna allichaq
Comment[ro]=Editor de hărți mentale
Comment[ru]=Редактор ментальных карт
Comment[rw]=Tekereza ikarita
Comment[sa]=मन मानचित्र सम्पादक
Comment[sd]=ﺮٽﻳڊﻳﺍ ﺎﺸﻘﻧ ﻲﻏﺎﻣﺩ
Comment[si]=මනස සිතියම් සංස්කාරකය
Comment[sk]=Editor myšlienkových máp
Comment[sl]=Urejevalnik miselnih zemljevidov
Comment[sm]=Fa'atonu fa'afanua mafaufau
Comment[sn]=Mupepeti wemepu dzepfungwa
Comment[so]=Tifaftiraha khariidadaha maskaxda
Comment[sq]=Redaktori i hartave të mendjes
Comment[st]=Mohlophisi oa limmapa tsa kelello
Comment[su]=Éditor peta pikiran
Comment[sv]=Redaktör för tankekartor
Comment[sw]=Mhariri wa ramani za akili
Comment[ta]=மன வரைபட எடிட்டர்
Comment[te]=మైండ్ మ్యాప్స్ ఎడిటర్
Comment[tg]=Муҳаррири харитаҳои ақл
Comment[th]=โปรแกรมแก้ไขแผนที่ความคิด
Comment[ti]=ናይ ኣእምሮ ካርታታት ኣርታዒ
Comment[tk]=Kartalaryň redaktory
Comment[tl]=Editor ng mind maps
Comment[to]=ʻEtita ʻo e ngaahi mape ʻo e ʻatamai
Comment[tr]=Zihin haritaları düzenleyicisi
Comment[ts]=Muhleri wa mimepe ya miehleketo
Comment[tt]=Акыл карталары редакторы
Comment[tw]=Adwene mu asase mfonini ahorow samufo
Comment[ty]=Taata a'o ia au i te ana'iraa piapa
Comment[ug]=ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ەﺘﯨﺭەﺧ
Comment[uk]=Редактор розумових карт
Comment[ur]=ﺮﭩﯾﮉﯾﺍ ﺎﮐ ﮞﻮﺸﻘﻧ ﯽﻏﺎﻣﺩ
Comment[uz]=Aql xaritalari muharriri
Comment[vi]=Biên tập sơ đồ tư duy
Comment[xh]=Umhleli weemephu zengqondo
Comment[yi]=ראָטקאַדער ספּאַמ גנוניימ
Comment[yo]=Olootu maapu lokan
Comment[zh]=思维导图编辑器
Comment[zu]=Umhleli wamamephu engqondo
Comment=Mind maps editor
Exec=mmarchitect
Icon=mmarchitect.png
Terminal=false
Type=Application
MimeType=application/x-mmarchitect;application/x-freemind;
Categories=X-Personal-organizer
StartupNotify=true
GenericName=MMArchitect
