[Desktop Entry]
Encoding=UTF-8
Name[af]=MMArgitekt hulp
Name[am]=የኤምኤምኤአርኪቴክት እገዛ
Name[ar]=ﻱﺭﺎﻤﻌﻤﻟﺍ ﺱﺪﻨﻬﻤﻟﺍ ﺓﺪﻋﺎﺴﻣ
Name[as]=এমএমআৰকিটেক্টৰ সহায়
Name[ay]=MMArquitecto ukax yanapt’iwa
Name[az]=MMArchitect köməyi
Name[ba]=MMArchitect ярҙамы
Name[be]=Дапамога MMArchitect
Name[bg]=Помощ за MMArchitect
Name[bm]=MMArchitecte ka dɛmɛ
Name[bn]=MMARarchitect সাহায্য
Name[bo]=MMArchitectཡི་རོགས་རམ།
Name[bs]=MMArchitect pomoć
Name[ca]=Ajuda MMArchitect
Name[co]=MMArchitect aiutu
Name[cs]=Pomoc MMArchitect
Name[cy]=Cymorth MMA penseiri
Name[da]=MMArkitekthjælp
Name[de]=MMArchitect-Hilfe
Name[dv]=ވެއެދެވެރިތެހީއެ ޓްކްޓެކިއާމްއެމްއެ
Name[ee]=MMAarchitect ƒe kpekpeɖeŋu
Name[el]=Βοήθεια MMArchitect
Name[eo]=MMArchitect helpo
Name[es]=Ayuda de MArchitect
Name[et]=MArchitect abi
Name[eu]=MMArchitect laguntza
Name[fa]=MMArchitect ﮏﻤﮐ
Name[fi]=MArchitect apua
Name[fj]=Veivuke ni MMArchitect
Name[fo]=MMArchitect help
Name[fr]=Aide de MMArchitect
Name[fy]=MMArchitect help
Name[ga]=cabhair MMAritect
Name[gd]=Cuideachadh MMAritect
Name[gl]=Axuda de MMArchitect
Name[gn]=MMArquitecto pytyvõ
Name[gu]=MMAarchitect મદદ
Name[ha]=Taimakon MMA Architect
Name[he]=טקטיכרא.MM לש הרזע
Name[hi]=एमएमआर्किटेक्ट सहायता
Name[hr]=MMArchitect pomoć
Name[ht]=Èd MMArchitect
Name[hu]=MArchitect segítség
Name[hy]=MMArchitect օգնություն
Name[id]=Bantuan MMArchitect
Name[ig]=enyemaka MMArchitect
Name[is]=MMArchitect hjálp
Name[it]=Aiuto MMArchitect
Name[iu]=MMᐃᒥᖅᑕᖅᑎᒧᑦ ᐃᑲᔪᖅᑕᐅᓂᖅ
Name[ja]=MMArchitect ヘルプ
Name[jv]=bantuan MMArchitect
Name[ka]=MArchitect დახმარება
Name[kk]=MMArchitect көмегі
Name[km]=ជំនួយ MMArchitect
Name[kn]=ಎಂಎಂಆರ್ಕಿಟೆಕ್ಟ್ ಸಹಾಯ
Name[ko]=MMArchitect 도움말
Name[ku]=Alîkariya MMArchitect
Name[ky]=MMArchitect жардам
Name[la]=MMArchitect auxilium
Name[lb]=MMArchitekt Hëllef
Name[lg]=MMAarchitect okuyamba
Name[ln]=MMAarchitecte asalisaka
Name[lo]=ການຊ່ວຍເຫຼືອ MMArchitect
Name[lt]=MArchitect pagalba
Name[lv]=MArchitect palīdzība
Name[mg]=Fanampiana MMArchitect
Name[mi]=MMArchitect awhina
Name[mk]=MMArchitect помош
Name[ml]=MMAarchitect സഹായം
Name[mn]=MMArchitect тусламж
Name[mr]=MMAarchitect मदत
Name[ms]=bantuan MMArchitect
Name[mt]=MMArchitect għajnuna
Name[my]=MMArchitect အကူအညီ
Name[ne]=MMAarchitect मद्दत
Name[nl]=MMArchitecten helpen
Name[no]=MMArkitekthjelp
Name[ny]=MMArchitect thandizo
Name[om]=Gargaarsa MMAarkiteektii
Name[or]=MMArchitect ସହାୟତା
Name[pa]=MMAarchitect ਦੀ ਮਦਦ
Name[pl]=Pomoc MMArchitecta
Name[ps]=ﻪﺘﺳﺮﻣ MMAarchitect ﺩ
Name[pt]=Ajuda MMArchitect
Name[qu]=MMArquitecto yanapay
Name[ro]=MMArchitect ajutor
Name[ru]=Справка MMArchitect
Name[rw]=Ubufasha bwa MMA
Name[sa]=एमएमएआर्किटेक्ट सहायता
Name[sd]=MMA ﺩﺪﻣ ﺭﺎﻤﻌﻣ
Name[si]=MMAarchitect උදව්
Name[sk]=Pomocník MMArchitect
Name[sl]=Pomoč MMArchitect
Name[sm]=Fesoasoani MMArchitect
Name[sn]=MMArchitect rubatsiro
Name[so]=Caawinta MMArchitect
Name[sq]=Ndihmë MMArchitect
Name[st]=Thuso ea MMArchitect
Name[su]=bantuan MMArchitect
Name[sv]=MMArkitekthjälp
Name[sw]=Msaada wa MMArchitect
Name[ta]=MMArchitect உதவி
Name[te]=MMAarchitect సహాయం
Name[tg]=Кӯмаки MMArchitect
Name[th]=ความช่วยเหลือ MMArchitect
Name[ti]=ናይ MMArchitect ሓገዝ
Name[tk]=MMA arhitektura kömek
Name[tl]=tulong ng MMArchitect
Name[to]=MMArchitect tokoni
Name[tr]=MMArchitect yardımı
Name[ts]=MMAarchitect mpfuno
Name[tt]=MMA архитектор ярдәме
Name[tw]=MMArchitect mmoa
Name[ty]=TE MAU NOTA
Name[ug]=MMArchitect ﻡەﺩﺭﺎﻳ
Name[uk]=Допомога MMArchitect
Name[ur]=MMAarchitect ﺩﺪﻣ ﯽﮐ
Name[uz]=MMArchitect yordami
Name[vi]=Trợ giúp kiến trúc MMA
Name[xh]=Uncedo lwe-MMArchitect
Name[yi]=MMAarchitekt ףליה
Name[yo]=MMArchitect iranlọwọ
Name[zh]=MM架构师帮助
Name[zu]=Usizo lwe-MMArchitect
Name=MMArchitect help
Comment[af]=Hulp vir breinkaartredigeerder
Comment[am]=የአእምሮ ካርታዎች አርታዒ እገዛ
Comment[ar]=ﺔﻴﻨﻫﺬﻟﺍ ﻂﺋﺍﺮﺨﻟﺍ ﺭﺮﺤﻣ ﺓﺪﻋﺎﺴﻣ
Comment[as]=মাইণ্ড মেপ সম্পাদক সহায়
Comment[ay]=Amuyu mapas editor ukax yanapt’iwa
Comment[az]=Ağıl xəritələri redaktorunun köməyi
Comment[ba]=Аҡыл карталары мөхәррире ярҙам итә
Comment[be]=Дапаможнік для рэдактара ментальных карт
Comment[bg]=Помощ за редактор на мисловни карти
Comment[bm]=Hakilila kartiw ɲɛnabɔbaga dɛmɛ
Comment[bn]=মন মানচিত্র সম্পাদক সাহায্য
Comment[bo]=བསམ་བློའི་ས་ཁྲའི་རྩོམ་སྒྲིག་པས་རོགས་རམ་
Comment[bs]=Pomoć za uređivač mapa uma
Comment[ca]=Ajuda de l'editor de mapes mentals
Comment[co]=Aiutu di l'editore di carte mentali
Comment[cs]=Nápověda editoru myšlenkových map
Comment[cy]=Help gyda golygydd mapiau meddwl
Comment[da]=Hjælp til mind maps editor
Comment[de]=Hilfe zum Mindmap-Editor
Comment[dv]=ވެއެދެވެރިތެހީއެ ރޓަޑިއެ ސްޕްމެ ޑްންއިމަ
Comment[ee]=Susu ƒe anyigbatatawo ƒe nuŋlɔla kpena ɖe ame ŋu
Comment[el]=Βοήθεια επεξεργασίας χαρτών μυαλού
Comment[eo]=Helpo pri redaktilo de mensmapoj
Comment[es]=Ayuda editor de mapas mentales
Comment[et]=Mõttekaartide redaktori abi
Comment[eu]=Buru-mapen editorearen laguntza
Comment[fa]=ﯽﻨﻫﺫ ﯼﺎﻫ ﻪﺸﻘﻧ ﺮﮕﺸﯾﺍﺮﯾﻭ ﮏﻤﮐ
Comment[fi]=Mielikarttojen editorin apu
Comment[fj]=Veivuke ni Edita ni mape ni vakasama
Comment[fo]=Mind maps editor help
Comment[fr]=Aide de l'éditeur de cartes mentales
Comment[fy]=Mind maps bewurker help
Comment[ga]=Cabhrú le eagarthóir léarscáileanna aigne
Comment[gd]=Cuideachadh le deasaiche mapaichean inntinn
Comment[gl]=Axuda do editor de mapas mentais
Comment[gn]=Mapas apytu’ũ editor pytyvõ
Comment[gu]=માઇન્ડ મેપ્સ એડિટર મદદ
Comment[ha]=Taimakon editan taswirorin hankali
Comment[he]=הבישח תופמ ךרועב הרזע
Comment[hi]=माइंड मैप संपादक सहायता
Comment[hr]=Pomoć za uređivanje mentalnih mapa
Comment[ht]=Èd editè kat lide
Comment[hu]=Gondolattérkép-szerkesztő segítség
Comment[hy]=Մտքի քարտեզների խմբագրի օգնությունը
Comment[id]=Bantuan editor peta pikiran
Comment[ig]=Enyemaka onye ndezi maapụ uche
Comment[is]=Hjálp fyrir ritstjóra hugarkorta
Comment[it]=Guida all'editor di mappe mentali
Comment[iu]=ᐃᓱᒪᒧᑦ ᓄᓇᙳᐊᓂᒃ ᐋᖅᑭᒃᓱᐃᔨ ᐃᑲᔪᖅᑐᖅ
Comment[ja]=マインド マップ エディターのヘルプ
Comment[jv]=Bantuan editor peta pikiran
Comment[ka]=გონების რუქების რედაქტორის დახმარება
Comment[kk]=Мид карталары редакторының көмегі
Comment[km]=កម្មវិធីនិពន្ធផែនទីគំនិតជួយ
Comment[kn]=ಮೈಂಡ್ ಮ್ಯಾಪ್ಸ್ ಎಡಿಟರ್ ಸಹಾಯ
Comment[ko]=마인드맵 에디터 도움말
Comment[ku]=Alîkariya edîtorê nexşeyên hiş
Comment[ky]=Акыл карталары редакторунун жардамы
Comment[la]=Mens maps editor auxilium
Comment[lb]=Mind Maps Editor Hëllef
Comment[lg]=Mind maps omuwandiisi ayamba
Comment[ln]=Mind maps mobongisi lisalisi
Comment[lo]=ຊ່ວຍແກ້ໄຂແຜນທີ່ໃຈ
Comment[lt]=Minčių žemėlapių redaktoriaus pagalba
Comment[lv]=Domu karšu redaktora palīdzība
Comment[mg]=Fanampiana mpamoaka sari-tany
Comment[mi]=He awhina etita mapi hinengaro
Comment[mk]=Помош за уредувач на умствени карти
Comment[ml]=മൈൻഡ് മാപ്പ് എഡിറ്റർ സഹായം
Comment[mn]=Оюун санааны газрын зураг засварлагчийн тусламж
Comment[mr]=मन नकाशे संपादक मदत
Comment[ms]=Bantuan editor peta minda
Comment[mt]=Għajnuna għall-editur tal-mapep tal-moħħ
Comment[my]=Mind maps တည်းဖြတ်သူ အကူအညီ
Comment[ne]=दिमाग नक्सा सम्पादक मद्दत
Comment[nl]=Hulp bij de mindmap-editor
Comment[no]=Hjelp til tankekartredaktør
Comment[ny]=Thandizo la mapu amalingaliro
Comment[om]=Gargaarsa gulaalaa kaartaa sammuu
Comment[or]=ମନ ମାନଚିତ୍ର ସମ୍ପାଦକ ସାହାଯ୍ୟ କରନ୍ତୁ |
Comment[pa]=ਮਨ ਨਕਸ਼ੇ ਸੰਪਾਦਕ ਮਦਦ
Comment[pl]=Pomoc w edytorze map myśli
Comment[ps]=ﻪﺘﺳﺮﻣ ﺮﯾﺪﻣ ﯥﺸﻘﻧ ﻦﻫﺫ ﺩ
Comment[pt]=Ajuda do editor de mapas mentais
Comment[qu]=Yuyay mapakuna allichaq yanapakuy
Comment[ro]=Ajutor pentru editorul de hărți mentale
Comment[ru]=Справка по редактору ментальных карт
Comment[rw]=Tekereza ikarita umwanditsi ubufasha
Comment[sa]=मन मानचित्र सम्पादक सहायता
Comment[sd]=ﺩﺪﻣ ﺮٽﻳڊﻳﺍ ﺎﺸﻘﻧ ﻲﻏﺎﻣﺩ
Comment[si]=මනස සිතියම් සංස්කාරක උදවු
Comment[sk]=Pomocník editora myšlienkových máp
Comment[sl]=Pomoč za urejevalnik miselnih zemljevidov
Comment[sm]=Fesoasoani i le faatonu o faafanua o mafaufau
Comment[sn]=Mepu dzepfungwa mupepeti rubatsiro
Comment[so]=Caawinta tifaftiraha khariidadaha maskaxda
Comment[sq]=Ndihmë për redaktuesin e hartave mendore
Comment[st]=Thuso ea ho hlophisa limmapa tsa kelello
Comment[su]=Pikiran redaktur pitulung
Comment[sv]=Hjälp för redaktör för tankekartor
Comment[sw]=Usaidizi wa kihariri cha ramani za akili
Comment[ta]=மைண்ட் மேப்ஸ் எடிட்டர் உதவி
Comment[te]=మైండ్ మ్యాప్స్ ఎడిటర్ సహాయం
Comment[tg]=Муҳаррири харитаҳои ақл кӯмак мекунад
Comment[th]=ความช่วยเหลือในการแก้ไขแผนที่ความคิด
Comment[ti]=ናይ ኣእምሮ ካርታታት ኣርታዒ ሓገዝ
Comment[tk]=Akyl kartalary redaktory kömek edýär
Comment[tl]=Tulong sa editor ng mind maps
Comment[to]=Tokoni ʻa e ʻetita ʻo e ngaahi mape ʻo e ʻ
Comment[tr]=Zihin haritaları düzenleyicisi yardımı
Comment[ts]=Mind maps muhleri wa pfuna
Comment[tt]=Акыл карталары редакторы ярдәме
Comment[tw]=Adwene mu asase mfonini ahorow samufo boa
Comment[ty]=Tauturu papa'i ve'a faatere
Comment[ug]=ﻰﻤﯨﺩﺭﺎﻳ ﯔﯩﻨﯩﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ەﺘﯨﺭەﺧ
Comment[uk]=Довідка редактора розумових карт
Comment[ur]=ﺩﺪﻣ ﯽﮐ ﺮﭩﯾﮉﯾﺍ ﺲﭙﯿﻣ ﮉﻨﺋﺎﻣ
Comment[uz]=Aql xaritalari muharriri yordami
Comment[vi]=Trợ giúp chỉnh sửa sơ đồ tư duy
Comment[xh]=Uncedo lomhleli weemephu zengqondo
Comment[yi]=ףליה ראָטקאַדער ספּאַמ דניימ
Comment[yo]=Okan awọn maapu olootu iranlọwọ
Comment[zh]=思维导图编辑器帮助
Comment[zu]=Usizo lomhleli wamamephu engqondo
Comment=Mind maps editor help
Exec=mmarchitect-help
Icon=mmarchitect.png
Terminal=false
Type=Application
Categories=X-Personal-organizer
