[Desktop Entry]
Encoding=UTF-8
Name[af]=LibreOffice Impress-aanbiedings
Name[am]=LibreOffice Impress አቀራረቦች
Name[ar]=LibreOffice Impress ـﻟ ﺔﻴﻤﻳﺪﻘﺘﻟﺍ ﺽﻭﺮﻌﻟﺍ
Name[as]=LibreOffice ইম্প্ৰেছ উপস্থাপনসমূহ
Name[ay]=LibreOffice Impress uñacht’awinaka
Name[az]=LibreOffice Impress təqdimatları
Name[ba]=LibreOffice Ref-Ref-refere презентациялары
Name[be]=Прэзентацыі LibreOffice Impress
Name[bg]=Презентации на LibreOffice Impress
Name[bm]=LibreOffice Impress ɲɛjiraliw
Name[bn]=LibreOffice ইমপ্রেস উপস্থাপনা
Name[bo]=ལི་པུ་ལི་ཧྥེ་སི་ཡིས་མི་རྣམས་ལ་བག་ཆགས་ཟབ་མོ་
Name[bs]=LibreOffice Impress prezentacije
Name[ca]=Presentacions de LibreOffice Impress
Name[co]=Presentazioni di LibreOffice Impress
Name[cs]=Prezentace LibreOffice Impress
Name[cy]=Cyflwyniadau LibreOffice Impress
Name[da]=LibreOffice Impress-præsentationer
Name[de]=LibreOffice Impress-Präsentationen
Name[dv]=އްތަންޝަޓޭންޒެރެޕް ސްރެޕްމްއި ސްފީއޮރޭބްލި
Name[ee]=LibreOffice Impress ƒe nukpɔkpɔwo
Name[el]=Παρουσιάσεις LibreOffice Impress
Name[en]=LibreOffice Impress presentations
Name[eo]=Prezentaĵoj de LibreOffice Impress
Name[es]=Presentaciones de LibreOffice Impress
Name[et]=LibreOffice Impressi esitlused
Name[eu]=LibreOffice Impress aurkezpenak
Name[fa]=LibreOffice Impress ﯼﺎﻫ ﻪﺋﺍﺭﺍ
Name[fi]=LibreOffice Impress -esityksiä
Name[fj]=LibreOffice Impress ivakamacala
Name[fo]=LibreOffice Impress framløgus
Name[fr]=Présentations LibreOffice Impress
Name[fy]=LibreOffice Impress presintaasjes
Name[ga]=Cur i láthair LibreOffice Impress
Name[gd]=Taisbeanaidhean LibreOffice Impress
Name[gl]=Presentacións de LibreOffice Impress
Name[gn]=LibreOffice Impreso umi presentación
Name[gu]=લીબરઓફીસ પ્રભાવિત પ્રસ્તુતિઓ
Name[ha]=LibreOffice Impress gabatarwa
Name[he]=LibreOffice Impress לש תוגצמ
Name[hi]=लिब्रे ऑफिस प्रस्तुतियों को प्रभावित करें
Name[hr]=LibreOffice Impress prezentacije
Name[ht]=Prezantasyon LibreOffice Impress
Name[hu]=LibreOffice Impress prezentációk
Name[hy]=LibreOffice Impress շնորհանդեսներ
Name[id]=Presentasi LibreOffice Impress
Name[ig]=Ihe ngosi LibreOffice Impress
Name[is]=LibreOffice Impress kynningar
Name[it]=Presentazioni di LibreOffice Impress
Name[iu]=LibreOffice Impress-ᑯᑦ ᐅᓂᒃᑳᖅᑐᑦ
Name[ja]=LibreOffice Impress プレゼンテーション
Name[jv]=Presentasi LibreOffice Impress
Name[ka]=LibreOffice Impress პრეზენტაციები
Name[kk]=LibreOffice Impress презентациялары
Name[km]=បទបង្ហាញ LibreOffice Impress
Name[kn]=ಲಿಬ್ರೆ ಆಫೀಸ್ ಇಂಪ್ರೆಸ್ ಪ್ರಸ್ತುತಿಗಳು
Name[ko]="LibreOffice Impress 프레젠테이션"
Name[ku]=Pêşniyarên LibreOffice Impress
Name[ky]=LibreOffice Impress презентациялары
Name[la]=Impressiones LibreOffice
Name[lb]=LibreOffice Impress Presentatiounen
Name[lg]=LibreOffice Impress ennyanjula
Name[ln]=LibreOffice Impression ba présentations
Name[lo]=ການນຳສະເໜີ LibreOffice Impress
Name[lt]=LibreOffice Impress pristatymai
Name[lv]=LibreOffice Impress prezentācijas
Name[mg]=Fampisehoana LibreOffice Impress
Name[mi]=Nga whakaaturanga LibreOffice Impress
Name[mk]=Презентации на LibreOffice Impress
Name[ml]=LibreOffice ഇംപ്രസ് അവതരണങ്ങൾ
Name[mn]=LibreOffice Impress танилцуулга
Name[mr]=लिबरऑफिस इंप्रेस सादरीकरणे
Name[ms]=Persembahan LibreOffice Impress
Name[mt]=Preżentazzjonijiet ta' LibreOffice Impress
Name[my]=LibreOffice Impress တင်ပြမှုများ
Name[ne]=LibreOffice प्रभाव प्रस्तुतीकरणहरू
Name[nl]=LibreOffice Impress-presentaties
Name[no]=LibreOffice Impress-presentasjoner
Name[ny]=LibreOffice Impress zowonetsera
Name[om]=LibreOffice Dhiyeessitoota dinqisiifachuu
Name[or]=LibreOffice ଉପସ୍ଥାପନାକୁ ପ୍ରଭାବିତ କରେ |
Name[pa]=ਲਿਬਰੇਆਫਿਸ ਇਮਪ੍ਰੈਸ ਪੇਸ਼ਕਾਰੀਆਂ
Name[pl]=Prezentacje LibreOffice Impress
Name[ps]=ﻪﻧﻮﻨﺸټﻧﺰﯾﺮﭘ LibreOffice Impress ﺩ
Name[pt]=Apresentações do LibreOffice Impress
Name[qu]=LibreOffice Impress nisqa rikuchiykunata
Name[ro]=Prezentări LibreOffice Impress
Name[ru]=Презентации LibreOffice Impress
Name[rw]=LibreOffice Shimangira ibiganiro
Name[sa]=LibreOffice प्रस्तुतीकरणानि प्रभावितानि
Name[sd]=LibreOffice Impress ﻥﻮﻴٽﻧﻮﻴﺸﻴﭘ
Name[si]=LibreOffice Impress ඉදිරිපත් කිරීම්
Name[sk]=Prezentácie LibreOffice Impress
Name[sl]=Predstavitve LibreOffice Impress
Name[sm]=FreeOffice Impress fa'aaliga
Name[sn]=LibreOffice Impress mharidzo
Name[so]=LibreOffice Impress bandhigyada
Name[sq]=Prezantimet e LibreOffice Impress
Name[st]=LibreOffice Impress lipuo
Name[su]=LibreOffice Impress presentasi
Name[sv]=LibreOffice Imponera presentationer
Name[sw]=Mawasilisho ya LibreOffice Impress
Name[ta]=LibreOffice இம்ப்ரஸ் விளக்கக்காட்சிகள்
Name[te]=లిబ్రేఆఫీస్ ఇంప్రెస్ ప్రెజెంటేషన్లు
Name[tg]=Презентатсияҳои LibreOffice Impress
Name[th]=LibreOffice สร้างความประทับใจให้กับงานนำเสนอ
Name[ti]=ሊብሬኦፊስ ኢምፕረስ ኣቀራርባታት
Name[tk]=LibreOffice prezentasiýalary täsir ediň
Name[tl]=Mga presentasyon ng LibreOffice Impress
Name[to]=LibreOffice ngaahi fakamatala fakaʻofoʻofa
Name[tr]=LibreOffice Impress sunumları
Name[ts]=LibreOffice Swikombiso swa ku hlamarisa
Name[tt]=LibreOffice презентацияләрне тәэсир итегез
Name[tw]=LibreOffice Impress nkyerɛkyerɛmu ahorow
Name[ty]=LibreOffice Impress presentations
Name[ug]=LibreOffice ﯗﺪﯨﺭﯛﺪﻧەﻟﺮﯩﺳەﺗ ﻰﻨﺷﯗﺭﯘﺘﺷﯘﻧﻮﺗ
Name[uk]=Презентації LibreOffice Impress
Name[ur]=LibreOffice Impress ﺰﻨﺸﯿﭩﻧﺰﯾﺮﭘ
Name[uz]=LibreOffice Impress taqdimotlari
Name[vi]=Bản trình bày LibreOffice Impress
Name[xh]=LibreOffice Impress iintetho
Name[yi]=LibreOffice זנאַשייטנאַזערפּ ססערפּמי
Name[yo]=Awọn ifarahan LibreOffice Impress
Name[zh]=LibreOffice Impress 演示文稿
Name[zu]=Izethulo ze-LibreOffice Impress
Name=LibreOffice Impress presentations
Icon=libreoffice-impress.png
Comment[af]=LibreOffice Impress-aanbiedings
Comment[am]=LibreOffice Impress አቀራረቦች
Comment[ar]=LibreOffice Impress ـﻟ ﺔﻴﻤﻳﺪﻘﺘﻟﺍ ﺽﻭﺮﻌﻟﺍ
Comment[as]=LibreOffice ইম্প্ৰেছ উপস্থাপনসমূহ
Comment[ay]=LibreOffice Impress uñacht’awinaka
Comment[az]=LibreOffice Impress təqdimatları
Comment[ba]=LibreOffice Ref-Ref-refere презентациялары
Comment[be]=Прэзентацыі LibreOffice Impress
Comment[bg]=Презентации на LibreOffice Impress
Comment[bm]=LibreOffice Impress ɲɛjiraliw
Comment[bn]=LibreOffice ইমপ্রেস উপস্থাপনা
Comment[bo]=ལི་པུ་ལི་ཧྥེ་སི་ཡིས་མི་རྣམས་ལ་བག་ཆགས་ཟབ་མོ་
Comment[bs]=LibreOffice Impress prezentacije
Comment[ca]=Presentacions de LibreOffice Impress
Comment[co]=Presentazioni di LibreOffice Impress
Comment[cs]=Prezentace LibreOffice Impress
Comment[cy]=Cyflwyniadau LibreOffice Impress
Comment[da]=LibreOffice Impress-præsentationer
Comment[de]=LibreOffice Impress-Präsentationen
Comment[dv]=އްތަންޝަޓޭންޒެރެޕް ސްރެޕްމްއި ސްފީއޮރޭބްލި
Comment[ee]=LibreOffice Impress ƒe nukpɔkpɔwo
Comment[el]=Παρουσιάσεις LibreOffice Impress
Comment[en]=LibreOffice Impress presentations
Comment[eo]=Prezentaĵoj de LibreOffice Impress
Comment[es]=Presentaciones de LibreOffice Impress
Comment[et]=LibreOffice Impressi esitlused
Comment[eu]=LibreOffice Impress aurkezpenak
Comment[fa]=LibreOffice Impress ﯼﺎﻫ ﻪﺋﺍﺭﺍ
Comment[fi]=LibreOffice Impress -esityksiä
Comment[fj]=LibreOffice Impress ivakamacala
Comment[fo]=LibreOffice Impress framløgus
Comment[fr]=Présentations LibreOffice Impress
Comment[fy]=LibreOffice Impress presintaasjes
Comment[ga]=Cur i láthair LibreOffice Impress
Comment[gd]=Taisbeanaidhean LibreOffice Impress
Comment[gl]=Presentacións de LibreOffice Impress
Comment[gn]=LibreOffice Impreso umi presentación
Comment[gu]=લીબરઓફીસ પ્રભાવિત પ્રસ્તુતિઓ
Comment[ha]=LibreOffice Impress gabatarwa
Comment[he]=LibreOffice Impress לש תוגצמ
Comment[hi]=लिब्रे ऑफिस प्रस्तुतियों को प्रभावित करें
Comment[hr]=LibreOffice Impress prezentacije
Comment[ht]=Prezantasyon LibreOffice Impress
Comment[hu]=LibreOffice Impress prezentációk
Comment[hy]=LibreOffice Impress շնորհանդեսներ
Comment[id]=Presentasi LibreOffice Impress
Comment[ig]=Ihe ngosi LibreOffice Impress
Comment[is]=LibreOffice Impress kynningar
Comment[it]=Presentazioni di LibreOffice Impress
Comment[iu]=LibreOffice Impress-ᑯᑦ ᐅᓂᒃᑳᖅᑐᑦ
Comment[ja]=LibreOffice Impress プレゼンテーション
Comment[jv]=Presentasi LibreOffice Impress
Comment[ka]=LibreOffice Impress პრეზენტაციები
Comment[kk]=LibreOffice Impress презентациялары
Comment[km]=បទបង្ហាញ LibreOffice Impress
Comment[kn]=ಲಿಬ್ರೆ ಆಫೀಸ್ ಇಂಪ್ರೆಸ್ ಪ್ರಸ್ತುತಿಗಳು
Comment[ko]="LibreOffice Impress 프레젠테이션"
Comment[ku]=Pêşniyarên LibreOffice Impress
Comment[ky]=LibreOffice Impress презентациялары
Comment[la]=Impressiones LibreOffice
Comment[lb]=LibreOffice Impress Presentatiounen
Comment[lg]=LibreOffice Impress ennyanjula
Comment[ln]=LibreOffice Impression ba présentations
Comment[lo]=ການນຳສະເໜີ LibreOffice Impress
Comment[lt]=LibreOffice Impress pristatymai
Comment[lv]=LibreOffice Impress prezentācijas
Comment[mg]=Fampisehoana LibreOffice Impress
Comment[mi]=Nga whakaaturanga LibreOffice Impress
Comment[mk]=Презентации на LibreOffice Impress
Comment[ml]=LibreOffice ഇംപ്രസ് അവതരണങ്ങൾ
Comment[mn]=LibreOffice Impress танилцуулга
Comment[mr]=लिबरऑफिस इंप्रेस सादरीकरणे
Comment[ms]=Persembahan LibreOffice Impress
Comment[mt]=Preżentazzjonijiet ta' LibreOffice Impress
Comment[my]=LibreOffice Impress တင်ပြမှုများ
Comment[ne]=LibreOffice प्रभाव प्रस्तुतीकरणहरू
Comment[nl]=LibreOffice Impress-presentaties
Comment[no]=LibreOffice Impress-presentasjoner
Comment[ny]=LibreOffice Impress zowonetsera
Comment[om]=LibreOffice Dhiyeessitoota dinqisiifachuu
Comment[or]=LibreOffice ଉପସ୍ଥାପନାକୁ ପ୍ରଭାବିତ କରେ |
Comment[pa]=ਲਿਬਰੇਆਫਿਸ ਇਮਪ੍ਰੈਸ ਪੇਸ਼ਕਾਰੀਆਂ
Comment[pl]=Prezentacje LibreOffice Impress
Comment[ps]=ﻪﻧﻮﻨﺸټﻧﺰﯾﺮﭘ LibreOffice Impress ﺩ
Comment[pt]=Apresentações do LibreOffice Impress
Comment[qu]=LibreOffice Impress nisqa rikuchiykunata
Comment[ro]=Prezentări LibreOffice Impress
Comment[ru]=Презентации LibreOffice Impress
Comment[rw]=LibreOffice Shimangira ibiganiro
Comment[sa]=LibreOffice प्रस्तुतीकरणानि प्रभावितानि
Comment[sd]=LibreOffice Impress ﻥﻮﻴٽﻧﻮﻴﺸﻴﭘ
Comment[si]=LibreOffice Impress ඉදිරිපත් කිරීම්
Comment[sk]=Prezentácie LibreOffice Impress
Comment[sl]=Predstavitve LibreOffice Impress
Comment[sm]=FreeOffice Impress fa'aaliga
Comment[sn]=LibreOffice Impress mharidzo
Comment[so]=LibreOffice Impress bandhigyada
Comment[sq]=Prezantimet e LibreOffice Impress
Comment[st]=LibreOffice Impress lipuo
Comment[su]=LibreOffice Impress presentasi
Comment[sv]=LibreOffice Imponera presentationer
Comment[sw]=Mawasilisho ya LibreOffice Impress
Comment[ta]=LibreOffice இம்ப்ரஸ் விளக்கக்காட்சிகள்
Comment[te]=లిబ్రేఆఫీస్ ఇంప్రెస్ ప్రెజెంటేషన్లు
Comment[tg]=Презентатсияҳои LibreOffice Impress
Comment[th]=LibreOffice สร้างความประทับใจให้กับงานนำเสนอ
Comment[ti]=ሊብሬኦፊስ ኢምፕረስ ኣቀራርባታት
Comment[tk]=LibreOffice prezentasiýalary täsir ediň
Comment[tl]=Mga presentasyon ng LibreOffice Impress
Comment[to]=LibreOffice ngaahi fakamatala fakaʻofoʻofa
Comment[tr]=LibreOffice Impress sunumları
Comment[ts]=LibreOffice Swikombiso swa ku hlamarisa
Comment[tt]=LibreOffice презентацияләрне тәэсир итегез
Comment[tw]=LibreOffice Impress nkyerɛkyerɛmu ahorow
Comment[ty]=LibreOffice Impress presentations
Comment[ug]=LibreOffice ﯗﺪﯨﺭﯛﺪﻧەﻟﺮﯩﺳەﺗ ﻰﻨﺷﯗﺭﯘﺘﺷﯘﻧﻮﺗ
Comment[uk]=Презентації LibreOffice Impress
Comment[ur]=LibreOffice Impress ﺰﻨﺸﯿﭩﻧﺰﯾﺮﭘ
Comment[uz]=LibreOffice Impress taqdimotlari
Comment[vi]=Bản trình bày LibreOffice Impress
Comment[xh]=LibreOffice Impress iintetho
Comment[yi]=LibreOffice זנאַשייטנאַזערפּ ססערפּמי
Comment[yo]=Awọn ifarahan LibreOffice Impress
Comment[zh]=LibreOffice Impress 演示文稿
Comment[zu]=Izethulo ze-LibreOffice Impress
Comment=LibreOffice Impress presentations
Exec=simpress
Terminal=false
Type=Application
Categories=Presentation
GenericName=Impress
