[Desktop Entry]
Encoding=UTF-8
Name[af]=FlSynclient konfigureer raakpaneel
Name[am]=FlSynclient የመዳሰሻ ሰሌዳን ያዋቅራል።
Name[ar]=FlSynclient ﺲﻤﻠﻟﺍ ﺔﺣﻮﻟ ﻦﻳﻮﻜﺗ
Name[as]=FlSynclient টাচপেড বিন্যাস কৰক
Name[ay]=FlSynclient ukax touchpad ukar uñt’ayatawa
Name[az]=FlSynclient toxunma panelini konfiqurasiya edir
Name[ba]=FlSynclient configure сенсорлы майҙансығы
Name[be]=Канфігурацыя сэнсарнай панэлі FlSynclient
Name[bg]=FlSynclient конфигуриране на тъчпада
Name[bm]=FlSynclient ka touchpad labɛn
Name[bn]=FlSynclient কনফিগার টাচপ্যাড
Name[bo]=FlSynclient configure touchpad
Name[bs]=FlSynclient konfiguriše touchpad
Name[ca]=FlSynclient configura el touchpad
Name[co]=FlSynclient cunfigurate u touchpad
Name[cs]=Konfigurace touchpadu FlSynclient
Name[cy]=FlSynclient ffurfweddu pad cyffwrdd
Name[da]=FlSynclient konfigurere touchpad
Name[de]=FlSynclient konfiguriert das Touchpad
Name[dv]=FlSynclient ޑްޕެޗްޓާ ޓްރޭގްފިންކޮ
Name[ee]=FlSynclient ɖo asikakanu ŋu
Name[el]=FlSynclient ρυθμίστε την επιφάνεια αφής
Name[en]=FlSynclient configure touchpad
Name[eo]=FlSynclient agordu tuŝplaton
Name[es]=FlSynclient configurar el panel táctil
Name[et]=FlSynclient konfigureerib puuteplaadi
Name[eu]=FlSynclient konfiguratu ukipen-panela
Name[fa]=FlSynclient ﺪﻨﮐ ﯽﻣ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ ﯽﺴﻤﻟ ﻪﺤﻔﺻ
Name[fi]=FlSynclient määrittää kosketuslevyn
Name[fj]=FlSynclient configure touchpad
Name[fo]=FlSynclient configure touchpad
Name[fr]=FlSynclient configurer le pavé tactile
Name[fy]=FlSynclient konfigurearje touchpad
Name[ga]=FlSynclient cumraigh an touchpad
Name[gd]=FlSynclient rèiteachadh touchpad
Name[gl]=FlSynclient configurar touchpad
Name[gn]=FlSynclient omohenda touchpad
Name[gu]=FlSynclient રૂપરેખાંકિત ટચપેડ
Name[ha]=FlSynclient yana saita faifan taɓawa
Name[he]=FlSynclient עגמ חול תרוצת
Name[hi]=FlSynclient टचपैड कॉन्फ़िगर करें
Name[hr]=FlSynclient konfiguracija dodirne podloge
Name[ht]=FlSynclient konfigirasyon touchpad
Name[hu]=Az FlSynclient érintőpad konfigurálása
Name[hy]=FlSynclient կարգավորել touchpad-ը
Name[id]=FlSynclient mengkonfigurasi touchpad
Name[ig]=FlSynclient na-ahazi mpe mpe akwa
Name[is]=FlSynclient stilla snertiborð
Name[it]=FlSynclient configura il touchpad
Name[iu]=Flᐊᔾᔨᒌᙱᑦᑐᑦ ᐊᑦᑐᖅᓯᔾᔪᑏᑦ
Name[ja]=FlSynclient タッチパッドの設定
Name[jv]=FlSynclient ngatur touchpad
Name[ka]=FlSynclient-ის კონფიგურაციის სენსორული პანელი
Name[kk]=FlSynclient сенсорлық тақтаны конфигурациялау
Name[km]=FlSynclient កំណត់រចនាសម្ព័ន្ធ touchpad
Name[kn]=FlSynclient ಟಚ್u200cಪ್ಯಾಡ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡಿ
Name[ko]=FlSyncclient 구성 터치패드
Name[ku]=FlSynclient touchpad mîheng bike
Name[ky]=FlSynclient сенсордук тактаны конфигурациялайт
Name[la]=FlSynclient configure touchpad
Name[lb]=FlSynclient konfiguréieren Touchpad
Name[lg]=FlSynclient okutegeka touchpad
Name[ln]=FlSynclient ko configurer touchpad ya kosimba
Name[lo]=FlSynclient ຕັ້ງຄ່າ touchpad
Name[lt]=„FlSynclient“ konfigūruoja jutiklinę dalį
Name[lv]=FlSynclient konfigurēt skārienpaliktni
Name[mg]=FlSynclient configure touchpad
Name[mi]=FlSynclient whirihora papapa
Name[mk]=FlSynclient ја конфигурира подлогата за допир
Name[ml]=FlSynclient ടച്ച്പാഡ് കോൺഫിഗർ ചെയ്യുക
Name[mn]=FlSynclient мэдрэгчтэй самбарыг тохируулах
Name[mr]=FlSynclient कॉन्फिगर टचपॅड
Name[ms]=FlSynclient mengkonfigurasi pad sentuh
Name[mt]=FlSynclient kkonfigura t-touchpad
Name[my]=FlSynclient သည် touchpad ကို စီစဉ်သတ်မှတ်သည်။
Name[ne]=FlSynclient कन्फिगर टचप्याड
Name[nl]=FlSynclient configureert touchpad
Name[no]=FlSynclient konfigurere touchpad
Name[ny]=FlSynclient sinthani touchpad
Name[om]=FlSynclient tuqaalee qindeessuu
Name[or]=FlSynclient ଟଚପ୍ୟାଡ୍ ବିନ୍ୟାସ କରନ୍ତୁ |
Name[pa]=FlSynclient ਟੱਚਪੈਡ ਕੌਂਫਿਗਰ ਕਰੋ
Name[pl]=FlSynclient konfiguruje touchpad
Name[ps]=FlSynclient ﻝﻮﮐ ﻢﯿﻈﻨﺗ ډﯿﭘ ﭻټ ﺩ
Name[pt]=FlSynclient configurar touchpad
Name[qu]=FlSynclient touchpad nisqa wakichiy
Name[ro]=FlSynclient configura touchpad
Name[ru]=FlSynclient настроить тачпад
Name[rw]=FlSynclient igena touchpad
Name[sa]=FlSynclient टचपैड् विन्यस्तं कुर्वन्तु
Name[sd]=FlSynclient ﻮﻳڏ ﺐﻴﺗﺮﺗ ڊﻴﭘ ﭻٽ
Name[si]=FlSynclient ස්පර්ශක පෑඩ් වින්u200dයාස කරන්න
Name[sk]=Konfigurácia touchpadu FlSynclient
Name[sl]=FlSynclient konfiguracija sledilne ploščice
Name[sm]=FlSynclient configure touchpad
Name[sn]=FlSynclient gadzirisa touchpad
Name[so]=FlSynclient wuxuu habeeyaa taabashada taabashada
Name[sq]=FlSynclient konfiguroni tastierën me prekje
Name[st]=FlSynclient lokisa touchpad
Name[su]=FlSynclient ngonpigurasikeun touchpad
Name[sv]=FlSynclient konfigurera pekplattan
Name[sw]=FlSynclient sanidi padi ya kugusa
Name[ta]=FlSynclient டச்பேடை உள்ளமைக்கிறது
Name[te]=FlSynclient టచ్u200cప్యాడ్u200cను కాన్ఫిగర్ చేస్తుంది
Name[tg]=FlSynclient конфигуратсияи touchpad
Name[th]=FlSynclient กำหนดค่าทัชแพด
Name[ti]=FlSynclient ተንከስካሲ ፓድ ምውቃር
Name[tk]=FlSynclient sensor panelini düzüň
Name[tl]=FlSynclient i-configure ang touchpad
Name[to]=FlSynclient configure touchpad
Name[tr]=FlSynclient dokunmatik yüzeyi yapılandırın
Name[ts]=FlSynclient ku lulamisa touchpad
Name[tt]=FlSynclient сенсор тактасын конфигурацияли
Name[tw]=FlSynclient hyehyɛ touchpad no
Name[ty]=FlSynclient configure touchpad
Name[ug]=FlSynclient ﯗﺪﻳەﻠﭘەﺳ ﻰﻨﯩﺘﺧﺎﺗ ﻥﺎﭽﻤﯨﺰﯧﺳ
Name[uk]=FlSynclient налаштування сенсорної панелі
Name[ur]=FlSynclient ﮉﯿﭘ ﭻﭨ ﺮﮕﯿﻔﻨﮐ
Name[uz]=FlSynclient sensorli panelni sozlang
Name[vi]=Bàn di chuột cấu hình FlSynclient
Name[xh]=FlSynclient qwalasela iphedi yokuchukumisa
Name[yi]=דאַפּשטואָט רעיגיפנאַק טנעילקניסילפ
Name[yo]=FlSynclient tunto paadi ifọwọkan
Name[zh]=FlSynclient 配置触摸板
Name[zu]=I-FlSynclient lungiselela iphedi yokuthinta
Name=FlSynclient configure touchpad 
Icon=flsynclient.png
Comment[af]=FlSynclient konfigureer raakpaneel
Comment[am]=FlSynclient የመዳሰሻ ሰሌዳን ያዋቅራል።
Comment[ar]=FlSynclient ﺲﻤﻠﻟﺍ ﺔﺣﻮﻟ ﻦﻳﻮﻜﺗ
Comment[as]=FlSynclient টাচপেড বিন্যাস কৰক
Comment[ay]=FlSynclient ukax touchpad ukar uñt’ayatawa
Comment[az]=FlSynclient toxunma panelini konfiqurasiya edir
Comment[ba]=FlSynclient configure сенсорлы майҙансығы
Comment[be]=Канфігурацыя сэнсарнай панэлі FlSynclient
Comment[bg]=FlSynclient конфигуриране на тъчпада
Comment[bm]=FlSynclient ka touchpad labɛn
Comment[bn]=FlSynclient কনফিগার টাচপ্যাড
Comment[bo]=FlSynclient configure touchpad
Comment[bs]=FlSynclient konfiguriše touchpad
Comment[ca]=FlSynclient configura el touchpad
Comment[co]=FlSynclient cunfigurate u touchpad
Comment[cs]=Konfigurace touchpadu FlSynclient
Comment[cy]=FlSynclient ffurfweddu pad cyffwrdd
Comment[da]=FlSynclient konfigurere touchpad
Comment[de]=FlSynclient konfiguriert das Touchpad
Comment[dv]=FlSynclient ޑްޕެޗްޓާ ޓްރޭގްފިންކޮ
Comment[ee]=FlSynclient ɖo asikakanu ŋu
Comment[el]=FlSynclient ρυθμίστε την επιφάνεια αφής
Comment[en]=FlSynclient configure touchpad
Comment[eo]=FlSynclient agordu tuŝplaton
Comment[es]=FlSynclient configurar el panel táctil
Comment[et]=FlSynclient konfigureerib puuteplaadi
Comment[eu]=FlSynclient konfiguratu ukipen-panela
Comment[fa]=FlSynclient ﺪﻨﮐ ﯽﻣ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ ﯽﺴﻤﻟ ﻪﺤﻔﺻ
Comment[fi]=FlSynclient määrittää kosketuslevyn
Comment[fj]=FlSynclient configure touchpad
Comment[fo]=FlSynclient configure touchpad
Comment[fr]=FlSynclient configurer le pavé tactile
Comment[fy]=FlSynclient konfigurearje touchpad
Comment[ga]=FlSynclient cumraigh an touchpad
Comment[gd]=FlSynclient rèiteachadh touchpad
Comment[gl]=FlSynclient configurar touchpad
Comment[gn]=FlSynclient omohenda touchpad
Comment[gu]=FlSynclient રૂપરેખાંકિત ટચપેડ
Comment[ha]=FlSynclient yana saita faifan taɓawa
Comment[he]=FlSynclient עגמ חול תרוצת
Comment[hi]=FlSynclient टचपैड कॉन्फ़िगर करें
Comment[hr]=FlSynclient konfiguracija dodirne podloge
Comment[ht]=FlSynclient konfigirasyon touchpad
Comment[hu]=Az FlSynclient érintőpad konfigurálása
Comment[hy]=FlSynclient կարգավորել touchpad-ը
Comment[id]=FlSynclient mengkonfigurasi touchpad
Comment[ig]=FlSynclient na-ahazi mpe mpe akwa
Comment[is]=FlSynclient stilla snertiborð
Comment[it]=FlSynclient configura il touchpad
Comment[iu]=Flᐊᔾᔨᒌᙱᑦᑐᑦ ᐊᑦᑐᖅᓯᔾᔪᑏᑦ
Comment[ja]=FlSynclient タッチパッドの設定
Comment[jv]=FlSynclient ngatur touchpad
Comment[ka]=FlSynclient-ის კონფიგურაციის სენსორული პანელი
Comment[kk]=FlSynclient сенсорлық тақтаны конфигурациялау
Comment[km]=FlSynclient កំណត់រចនាសម្ព័ន្ធ touchpad
Comment[kn]=FlSynclient ಟಚ್u200cಪ್ಯಾಡ್ ಅನ್ನು ಕಾನ್ಫಿಗರ್ ಮಾಡಿ
Comment[ko]=FlSyncclient 구성 터치패드
Comment[ku]=FlSynclient touchpad mîheng bike
Comment[ky]=FlSynclient сенсордук тактаны конфигурациялайт
Comment[la]=FlSynclient configure touchpad
Comment[lb]=FlSynclient konfiguréieren Touchpad
Comment[lg]=FlSynclient okutegeka touchpad
Comment[ln]=FlSynclient ko configurer touchpad ya kosimba
Comment[lo]=FlSynclient ຕັ້ງຄ່າ touchpad
Comment[lt]=„FlSynclient“ konfigūruoja jutiklinę dalį
Comment[lv]=FlSynclient konfigurēt skārienpaliktni
Comment[mg]=FlSynclient configure touchpad
Comment[mi]=FlSynclient whirihora papapa
Comment[mk]=FlSynclient ја конфигурира подлогата за допир
Comment[ml]=FlSynclient ടച്ച്പാഡ് കോൺഫിഗർ ചെയ്യുക
Comment[mn]=FlSynclient мэдрэгчтэй самбарыг тохируулах
Comment[mr]=FlSynclient कॉन्फिगर टचपॅड
Comment[ms]=FlSynclient mengkonfigurasi pad sentuh
Comment[mt]=FlSynclient kkonfigura t-touchpad
Comment[my]=FlSynclient သည် touchpad ကို စီစဉ်သတ်မှတ်သည်။
Comment[ne]=FlSynclient कन्फिगर टचप्याड
Comment[nl]=FlSynclient configureert touchpad
Comment[no]=FlSynclient konfigurere touchpad
Comment[ny]=FlSynclient sinthani touchpad
Comment[om]=FlSynclient tuqaalee qindeessuu
Comment[or]=FlSynclient ଟଚପ୍ୟାଡ୍ ବିନ୍ୟାସ କରନ୍ତୁ |
Comment[pa]=FlSynclient ਟੱਚਪੈਡ ਕੌਂਫਿਗਰ ਕਰੋ
Comment[pl]=FlSynclient konfiguruje touchpad
Comment[ps]=FlSynclient ﻝﻮﮐ ﻢﯿﻈﻨﺗ ډﯿﭘ ﭻټ ﺩ
Comment[pt]=FlSynclient configurar touchpad
Comment[qu]=FlSynclient touchpad nisqa wakichiy
Comment[ro]=FlSynclient configura touchpad
Comment[ru]=FlSynclient настроить тачпад
Comment[rw]=FlSynclient igena touchpad
Comment[sa]=FlSynclient टचपैड् विन्यस्तं कुर्वन्तु
Comment[sd]=FlSynclient ﻮﻳڏ ﺐﻴﺗﺮﺗ ڊﻴﭘ ﭻٽ
Comment[si]=FlSynclient ස්පර්ශක පෑඩ් වින්u200dයාස කරන්න
Comment[sk]=Konfigurácia touchpadu FlSynclient
Comment[sl]=FlSynclient konfiguracija sledilne ploščice
Comment[sm]=FlSynclient configure touchpad
Comment[sn]=FlSynclient gadzirisa touchpad
Comment[so]=FlSynclient wuxuu habeeyaa taabashada taabashada
Comment[sq]=FlSynclient konfiguroni tastierën me prekje
Comment[st]=FlSynclient lokisa touchpad
Comment[su]=FlSynclient ngonpigurasikeun touchpad
Comment[sv]=FlSynclient konfigurera pekplattan
Comment[sw]=FlSynclient sanidi padi ya kugusa
Comment[ta]=FlSynclient டச்பேடை உள்ளமைக்கிறது
Comment[te]=FlSynclient టచ్u200cప్యాడ్u200cను కాన్ఫిగర్ చేస్తుంది
Comment[tg]=FlSynclient конфигуратсияи touchpad
Comment[th]=FlSynclient กำหนดค่าทัชแพด
Comment[ti]=FlSynclient ተንከስካሲ ፓድ ምውቃር
Comment[tk]=FlSynclient sensor panelini düzüň
Comment[tl]=FlSynclient i-configure ang touchpad
Comment[to]=FlSynclient configure touchpad
Comment[tr]=FlSynclient dokunmatik yüzeyi yapılandırın
Comment[ts]=FlSynclient ku lulamisa touchpad
Comment[tt]=FlSynclient сенсор тактасын конфигурацияли
Comment[tw]=FlSynclient hyehyɛ touchpad no
Comment[ty]=FlSynclient configure touchpad
Comment[ug]=FlSynclient ﯗﺪﻳەﻠﭘەﺳ ﻰﻨﯩﺘﺧﺎﺗ ﻥﺎﭽﻤﯨﺰﯧﺳ
Comment[uk]=FlSynclient налаштування сенсорної панелі
Comment[ur]=FlSynclient ﮉﯿﭘ ﭻﭨ ﺮﮕﯿﻔﻨﮐ
Comment[uz]=FlSynclient sensorli panelni sozlang
Comment[vi]=Bàn di chuột cấu hình FlSynclient
Comment[xh]=FlSynclient qwalasela iphedi yokuchukumisa
Comment[yi]=דאַפּשטואָט רעיגיפנאַק טנעילקניסילפ
Comment[yo]=FlSynclient tunto paadi ifọwọkan
Comment[zh]=FlSynclient 配置触摸板
Comment[zu]=I-FlSynclient lungiselela iphedi yokuthinta
Comment=FlSynclient configure touchpad 
Exec=flsynclient
Terminal=false
Type=Application
Categories=X-Desktop-settings
GenericName=FlSynclient
