[Desktop Entry]
Encoding=UTF-8
Name[af]=Gxine mediaspeler
Name[am]=Gxine ሚዲያ ማጫወቻ
Name[ar]=Gxine ﻂﺋﺎﺳﻭ ﻞﻐﺸﻣ
Name[as]=Gxine মিডিয়া প্লেয়াৰ
Name[ay]=Gxine medios de comunicación ukax mä jach’a uñacht’äwiwa
Name[az]=Gxine media pleyer
Name[ba]=Гксин медиаплееры
Name[be]=Медыяплэер gxine
Name[bg]=Gxine медиен плейър
Name[bm]=Gxine kunnafonidilaw ka fɔlikɛlan
Name[bn]=জিক্সাইন মিডিয়া প্লেয়ার
Name[bo]=Gxineསྨྱན་སྦྱོར་གྱི་བདམས་ཐོན་པ།
Name[bs]=Gxine media player
Name[ca]=Reproductor multimèdia Gxine
Name[co]=Gxine media player
Name[cs]=Přehrávač médií Gxine
Name[cy]=Chwaraewr cyfryngau gxine
Name[da]=Gxine medieafspiller
Name[de]=Gxine-Mediaplayer
Name[dv]=ވެއެ ރޔަލޭޕް އާޑިމީ ންއިސަކްޖީ
Name[ee]=Gxine nyadzɔdzɔgblɔmɔ̃
Name[el]=Gxine media player
Name[en]=Gxine media player
Name[eo]=Gxine plurmedia ludilo
Name[es]=reproductor multimedia gxine
Name[et]=Gxine meediumipleier
Name[eu]=Gxine multimedia erreproduzitzailea
Name[fa]=Gxine ﻪﻧﺎﺳﺭ ﻩﺪﻨﻨﮐ ﺶﺨﭘ
Name[fi]=Gxine mediasoitin
Name[fj]=Misini ni media ni Gxine
Name[fo]=Gxine media spælari
Name[fr]=Lecteur multimédia Gxine
Name[fy]=Gxine mediaspieler
Name[ga]=Seinnteoir meáin gxine
Name[gd]=Cluicheadair mheadhanan gxine
Name[gl]=Reproductor multimedia Gxine
Name[gn]=Gxine reproductor de medios rehegua
Name[gu]=Gxine મીડિયા પ્લેયર
Name[ha]=Gxine media player
Name[he]=Gxine הידמ ןגנ
Name[hi]=Gxine मीडिया प्लेयर
Name[hr]=Gxine media player
Name[ht]=Gxine medya jwè
Name[hu]=Gxine médialejátszó
Name[hy]=Gxine մեդիա նվագարկիչ
Name[id]=Pemutar media Gxine
Name[ig]=Onye ọkpụkpọ mgbasa ozi Gxine
Name[is]=Gxine fjölmiðlaspilari
Name[it]=Lettore multimediale Gxine
Name[iu]=Gxine Media-ᒧᑦ ᐱᙳᐊᖅᑎ
Name[ja]=Gxine メディア プレーヤー
Name[jv]=Pamuter media Gxine
Name[ka]=Gxine მედია ფლეერი
Name[kk]=Gxine медиа ойнатқышы
Name[km]=កម្មវិធីចាក់មេឌៀ Gxine
Name[kn]=ಜಿಕ್ಸಿನ್ ಮೀಡಿಯಾ ಪ್ಲೇಯರ್
Name[ko]="Gxine 미디어 플레이어"
Name[ku]=Gxine media player
Name[ky]=Gxine медиа ойноткуч
Name[la]=Gxine media ludio
Name[lb]=Gxine Media Player
Name[lg]=Gxine omuzannyi w'emikutu gy'amawulire
Name[ln]=Gxine lecteur ya media
Name[lo]=Gxine media player
Name[lt]=Gxine medijos grotuvas
Name[lv]=Gxine multivides atskaņotājs
Name[mg]=Gxine Media Player
Name[mi]=Gxine kaitākaro pāpāho
Name[mk]=Медиа плеер Gxine
Name[ml]=Gxine മീഡിയ പ്ലെയർ
Name[mn]=Gxine медиа тоглуулагч
Name[mr]=Gxine मीडिया प्लेयर
Name[ms]=Pemain media Gxine
Name[mt]=Gxine media player
Name[my]=Gxine မီဒီယာပလေယာ
Name[ne]=Gxine मिडिया प्लेयर
Name[nl]=Gxine mediaspeler
Name[no]=Gxine mediespiller
Name[ny]=Gxine media player
Name[om]=Gxine miidiyaa taphattuu
Name[or]=Gxine ମିଡିଆ ପ୍ଲେୟାର |
Name[pa]=Gxine ਮੀਡੀਆ ਪਲੇਅਰ
Name[pl]=Odtwarzacz multimedialny Gxine
Name[ps]=ﺮﯿﻠﭘ ﺎﯾډﯿﻣ Gxine ﺩ
Name[pt]=Leitor multimédia Gxine
Name[qu]=Gxine willay mast'ariq
Name[ro]=player media Gxine
Name[ru]=Медиаплеер Gxine
Name[rw]=Gxine itangazamakuru
Name[sa]=Gxine मीडिया प्लेयर
Name[sd]=Gxine ﺮﺌﻴﻠﭘ ﺎﻳڊﻴﻣ
Name[si]=Gxine මීඩියා ප්ලේයර්
Name[sk]=Prehrávač médií Gxine
Name[sl]=Medijski predvajalnik Gxine
Name[sm]=Gxine media player
Name[sn]=Gxine media player
Name[so]=Ciyaartoyga warbaahinta Gxine
Name[sq]=Media player Gxine
Name[st]=Sebapali sa media sa Gxine
Name[su]=Pamuter média Gxine
Name[sv]=Gxine mediaspelare
Name[sw]=Kicheza media cha Gxine
Name[ta]=Gxine மீடியா பிளேயர்
Name[te]=Gxine మీడియా ప్లేయర్
Name[tg]=Плеери медиа Gxine
Name[th]=เครื่องเล่นมีเดีย Gxine
Name[ti]=Gxine ሚድያ መጻወቲ
Name[tk]=Gxine media pleýer
Name[tl]=Gxine media player
Name[to]=Gxine Media Player
Name[tr]=Gxine medya oynatıcı
Name[ts]=Gxine xichayachayani xa vuhangalasi bya mahungu
Name[tt]=Gxine медиа-плеер
Name[tw]=Gxine nsɛm ho amanneɛbɔfo
Name[ty]=Gxine media player
Name[ug]=Gxine media player
Name[uk]=Медіаплеєр Gxine
Name[ur]=Gxine ﺮﺌﯿﻠﭘ ﺎﯾﮉﯿﻣ
Name[uz]=Gxine media pleer
Name[vi]=Trình phát đa phương tiện Gxine
Name[xh]=Umdlali weendaba weGxine
Name[yi]=Gxine רעליפּש עידעמ
Name[yo]=Gxine media ẹrọ orin
Name[zh]=Gxine 媒体播放器
Name[zu]=Isidlali semidiya ye-Gxine
Name=Gxine media player
Icon=Animation.xpm
Comment[af]=Gxine mediaspeler
Comment[am]=Gxine ሚዲያ ማጫወቻ
Comment[ar]=Gxine ﻂﺋﺎﺳﻭ ﻞﻐﺸﻣ
Comment[as]=Gxine মিডিয়া প্লেয়াৰ
Comment[ay]=Gxine medios de comunicación ukax mä jach’a uñacht’äwiwa
Comment[az]=Gxine media pleyer
Comment[ba]=Гксин медиаплееры
Comment[be]=Медыяплэер gxine
Comment[bg]=Gxine медиен плейър
Comment[bm]=Gxine kunnafonidilaw ka fɔlikɛlan
Comment[bn]=জিক্সাইন মিডিয়া প্লেয়ার
Comment[bo]=Gxineསྨྱན་སྦྱོར་གྱི་བདམས་ཐོན་པ།
Comment[bs]=Gxine media player
Comment[ca]=Reproductor multimèdia Gxine
Comment[co]=Gxine media player
Comment[cs]=Přehrávač médií Gxine
Comment[cy]=Chwaraewr cyfryngau gxine
Comment[da]=Gxine medieafspiller
Comment[de]=Gxine-Mediaplayer
Comment[dv]=ވެއެ ރޔަލޭޕް އާޑިމީ ންއިސަކްޖީ
Comment[ee]=Gxine nyadzɔdzɔgblɔmɔ̃
Comment[el]=Gxine media player
Comment[en]=Gxine media player
Comment[eo]=Gxine plurmedia ludilo
Comment[es]=reproductor multimedia gxine
Comment[et]=Gxine meediumipleier
Comment[eu]=Gxine multimedia erreproduzitzailea
Comment[fa]=Gxine ﻪﻧﺎﺳﺭ ﻩﺪﻨﻨﮐ ﺶﺨﭘ
Comment[fi]=Gxine mediasoitin
Comment[fj]=Misini ni media ni Gxine
Comment[fo]=Gxine media spælari
Comment[fr]=Lecteur multimédia Gxine
Comment[fy]=Gxine mediaspieler
Comment[ga]=Seinnteoir meáin gxine
Comment[gd]=Cluicheadair mheadhanan gxine
Comment[gl]=Reproductor multimedia Gxine
Comment[gn]=Gxine reproductor de medios rehegua
Comment[gu]=Gxine મીડિયા પ્લેયર
Comment[ha]=Gxine media player
Comment[he]=Gxine הידמ ןגנ
Comment[hi]=Gxine मीडिया प्लेयर
Comment[hr]=Gxine media player
Comment[ht]=Gxine medya jwè
Comment[hu]=Gxine médialejátszó
Comment[hy]=Gxine մեդիա նվագարկիչ
Comment[id]=Pemutar media Gxine
Comment[ig]=Onye ọkpụkpọ mgbasa ozi Gxine
Comment[is]=Gxine fjölmiðlaspilari
Comment[it]=Lettore multimediale Gxine
Comment[iu]=Gxine Media-ᒧᑦ ᐱᙳᐊᖅᑎ
Comment[ja]=Gxine メディア プレーヤー
Comment[jv]=Pamuter media Gxine
Comment[ka]=Gxine მედია ფლეერი
Comment[kk]=Gxine медиа ойнатқышы
Comment[km]=កម្មវិធីចាក់មេឌៀ Gxine
Comment[kn]=ಜಿಕ್ಸಿನ್ ಮೀಡಿಯಾ ಪ್ಲೇಯರ್
Comment[ko]="Gxine 미디어 플레이어"
Comment[ku]=Gxine media player
Comment[ky]=Gxine медиа ойноткуч
Comment[la]=Gxine media ludio
Comment[lb]=Gxine Media Player
Comment[lg]=Gxine omuzannyi w'emikutu gy'amawulire
Comment[ln]=Gxine lecteur ya media
Comment[lo]=Gxine media player
Comment[lt]=Gxine medijos grotuvas
Comment[lv]=Gxine multivides atskaņotājs
Comment[mg]=Gxine Media Player
Comment[mi]=Gxine kaitākaro pāpāho
Comment[mk]=Медиа плеер Gxine
Comment[ml]=Gxine മീഡിയ പ്ലെയർ
Comment[mn]=Gxine медиа тоглуулагч
Comment[mr]=Gxine मीडिया प्लेयर
Comment[ms]=Pemain media Gxine
Comment[mt]=Gxine media player
Comment[my]=Gxine မီဒီယာပလေယာ
Comment[ne]=Gxine मिडिया प्लेयर
Comment[nl]=Gxine mediaspeler
Comment[no]=Gxine mediespiller
Comment[ny]=Gxine media player
Comment[om]=Gxine miidiyaa taphattuu
Comment[or]=Gxine ମିଡିଆ ପ୍ଲେୟାର |
Comment[pa]=Gxine ਮੀਡੀਆ ਪਲੇਅਰ
Comment[pl]=Odtwarzacz multimedialny Gxine
Comment[ps]=ﺮﯿﻠﭘ ﺎﯾډﯿﻣ Gxine ﺩ
Comment[pt]=Leitor multimédia Gxine
Comment[qu]=Gxine willay mast'ariq
Comment[ro]=player media Gxine
Comment[ru]=Медиаплеер Gxine
Comment[rw]=Gxine itangazamakuru
Comment[sa]=Gxine मीडिया प्लेयर
Comment[sd]=Gxine ﺮﺌﻴﻠﭘ ﺎﻳڊﻴﻣ
Comment[si]=Gxine මීඩියා ප්ලේයර්
Comment[sk]=Prehrávač médií Gxine
Comment[sl]=Medijski predvajalnik Gxine
Comment[sm]=Gxine media player
Comment[sn]=Gxine media player
Comment[so]=Ciyaartoyga warbaahinta Gxine
Comment[sq]=Media player Gxine
Comment[st]=Sebapali sa media sa Gxine
Comment[su]=Pamuter média Gxine
Comment[sv]=Gxine mediaspelare
Comment[sw]=Kicheza media cha Gxine
Comment[ta]=Gxine மீடியா பிளேயர்
Comment[te]=Gxine మీడియా ప్లేయర్
Comment[tg]=Плеери медиа Gxine
Comment[th]=เครื่องเล่นมีเดีย Gxine
Comment[ti]=Gxine ሚድያ መጻወቲ
Comment[tk]=Gxine media pleýer
Comment[tl]=Gxine media player
Comment[to]=Gxine Media Player
Comment[tr]=Gxine medya oynatıcı
Comment[ts]=Gxine xichayachayani xa vuhangalasi bya mahungu
Comment[tt]=Gxine медиа-плеер
Comment[tw]=Gxine nsɛm ho amanneɛbɔfo
Comment[ty]=Gxine media player
Comment[ug]=Gxine media player
Comment[uk]=Медіаплеєр Gxine
Comment[ur]=Gxine ﺮﺌﯿﻠﭘ ﺎﯾﮉﯿﻣ
Comment[uz]=Gxine media pleer
Comment[vi]=Trình phát đa phương tiện Gxine
Comment[xh]=Umdlali weendaba weGxine
Comment[yi]=Gxine רעליפּש עידעמ
Comment[yo]=Gxine media ẹrọ orin
Comment[zh]=Gxine 媒体播放器
Comment[zu]=Isidlali semidiya ye-Gxine
Comment=Gxine media player
Exec=gxineshell
Terminal=false
Type=Application
Categories=AudioVideo
GenericName=Gxine media player
