[Desktop Entry]
Encoding=UTF-8
Name[af]=InkscapeLite vektorredigeerder
Name[am]=InkscapeLite የቬክተር አርታዒ
Name[ar]=InkscapeLite ﺕﺎﻬﺠﺘﻤﻟﺍ ﺭﺮﺤﻣ
Name[as]=InkscapeLite ভেক্টৰ সম্পাদক
Name[ay]=InkscapeLite ukax mä vector editor ukhamawa
Name[az]=InkscapeLite vektor redaktoru
Name[ba]=InkscapeLite векторы мөхәррире
Name[be]=Вектарны рэдактар InkscapeLite
Name[bg]=Векторен редактор InkscapeLite
Name[bm]=InkscapeLite vektɔri ɲɛnabɔbaga
Name[bn]=InkscapeLite ভেক্টর সম্পাদক
Name[bo]=སྣག་ཚའི་ལི་ཐི་ཡི་ཕྱོགས་སྟོན་རྩོམ་སྒྲིག་པ།
Name[bs]=InkscapeLite vektorski uređivač
Name[ca]=Editor de vectors InkscapeLite
Name[co]=Editor di vettori InkscapeLite
Name[cs]=Vektorový editor InkscapeLite
Name[cy]=Golygydd fector InkscapeLite
Name[da]=InkscapeLite vektor editor
Name[de]=InkscapeLite-Vektoreditor
Name[dv]=ރޓަޑިއެ ރޓަކްވެ ޓްއިލަޕްކޭސްކްންއި
Name[ee]=InkscapeLite vektor nuŋlɔla
Name[el]=Διανυσματικό πρόγραμμα επεξεργασίας InkscapeLite
Name[en]=InkscapeLite vector editor
Name[eo]=InkscapeLite vektora redaktilo
Name[es]=Editor de vectores InkscapeLite
Name[et]=InkscapeLite vektorredaktor
Name[eu]=InkscapeLite bektorial editorea
Name[fa]=InkscapeLite ﯼﺭﺍﺩﺮﺑ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=InkscapeLite vektorieditori
Name[fj]=Edita vector inkscapeLite
Name[fo]=InkscapeLite vector editor
Name[fr]=Éditeur vectoriel Inkscape Lite
Name[fy]=InkscapeLite vector bewurker
Name[ga]=InkscapeLite eagarthóir veicteoir
Name[gd]=Deasaiche inkscape lite vector
Name[gl]=Editor de vectores InkscapeLite
Name[gn]=InkscapeLite editor vectorial rehegua
Name[gu]=InkscapeLite વેક્ટર એડિટર
Name[ha]=InkscapeLite vector editan
Name[he]=InkscapeLite רוטקו ךרוע
Name[hi]=इंकस्केपलाइट वेक्टर संपादक
Name[hr]=InkscapeLite vektorski uređivač
Name[ht]=Editè vektè InkscapeLite
Name[hu]=InkscapeLite vektorszerkesztő
Name[hy]=InkscapeLite վեկտորի խմբագիր
Name[id]=Editor vektor InkscapeLite
Name[ig]=InkscapeLite vector nchịkọta akụkọ
Name[is]=InkscapeLite vektor ritstjóri
Name[it]=Editor vettoriale InkscapeLite
Name[iu]=InkscapeLite vector ᑎᑎᕋᖅᑎ
Name[ja]=InkscapeLite ベクター エディター
Name[jv]=Editor vektor InkscapeLite
Name[ka]=InkscapeLite ვექტორული რედაქტორი
Name[kk]=InkscapeLite векторлық редакторы
Name[km]=កម្មវិធីនិពន្ធវ៉ិចទ័រ InkscapeLite
Name[kn]=ಇಂಕ್u200cಸ್ಕೇಪ್u200cಲೈಟ್ ವೆಕ್ಟರ್ ಎಡಿಟರ್
Name[ko]=InkscapeLite 벡터 편집기
Name[ku]=Edîtorê vektorê InkscapeLite
Name[ky]=InkscapeLite вектордук редактору
Name[la]=InkscapeLite vector editor
Name[lb]=InkscapeLite Vektor Editor
Name[lg]=InkscapeLite omuwandiisi wa vector
Name[ln]=InkscapeLite mobongisi ya vecteur
Name[lo]=ບັນນາທິການ vector InkscapeLite
Name[lt]=„InkscapeLite“ vektorių rengyklė
Name[lv]=InkscapeLite vektoru redaktors
Name[mg]=InkscapeLite vector editor
Name[mi]=InkscapeLite ētita vector
Name[mk]=Векторски уредувач на InkscapeLite
Name[ml]=InkscapeLite വെക്റ്റർ എഡിറ്റർ
Name[mn]=InkscapeLite вектор засварлагч
Name[mr]=InkscapeLite वेक्टर संपादक
Name[ms]=Editor vektor InkscapeLite
Name[mt]=Editur tal-vettur InkscapeLite
Name[my]=InkscapeLite vector တည်းဖြတ်သူ
Name[ne]=InkscapeLite भेक्टर सम्पादक
Name[nl]=InkscapeLite vector-editor
Name[no]=InkscapeLite vektor editor
Name[ny]=InkscapeLite vector editor
Name[om]=Gulaalaa veektarii InkscapeLite
Name[or]=InkscapeLite ଭେକ୍ଟର ଏଡିଟର୍ |
Name[pa]=InkscapeLite ਵੈਕਟਰ ਸੰਪਾਦਕ
Name[pl]=Edytor wektorów InkscapeLite
Name[ps]=ﺮﯾﺪﻣ ﺭﻮﺘﮑﯾﻭ InkscapeLite ﺩ
Name[pt]=Editor vetorial InkscapeLite
Name[qu]=InkscapeLite vector nisqa allichaq
Name[ro]=Editor de vectori InkscapeLite
Name[ru]=Векторный редактор InkscapeLite
Name[rw]=InkscapeLite vector umwanditsi
Name[sa]=InkscapeLite सदिश सम्पादक
Name[sd]=InkscapeLite ﺮٽﻳڊﻳﺍ ﺮﭩﮑﯾﻭ
Name[si]=InkscapeLite දෛශික සංස්කාරකය
Name[sk]=Vektorový editor InkscapeLite
Name[sl]=Vektorski urejevalnik InkscapeLite
Name[sm]=InkscapeLite vector editor
Name[sn]=InkscapeLite vector mupepeti
Name[so]=InkscapeLite vector editor
Name[sq]=Redaktori i vektorit InkscapeLite
Name[st]=Mohlophisi oa vector oa InkscapeLite
Name[su]=Éditor vektor InkscapeLite
Name[sv]=InkscapeLite vektorredigerare
Name[sw]=Mhariri wa vekta wa InkscapeLite
Name[ta]=InkscapeLite வெக்டர் எடிட்டர்
Name[te]=InkscapeLite వెక్టర్ ఎడిటర్
Name[tg]=Муҳаррири вектори InkscapeLite
Name[th]=โปรแกรมแก้ไขเวกเตอร์ InkscapeLite
Name[ti]=ኢንክስኬፕላይት ቬክተር ኤዲተር
Name[tk]=InkscapeLite wektor redaktory
Name[tl]=InkscapeLite vector editor
Name[to]=InkscapeLite vector ʻetita
Name[tr]=InkscapeLite vektör düzenleyici
Name[ts]=Muhleri wa vector wa InkscapeLite
Name[tt]=InkscapeLite вектор редакторы
Name[tw]=InkscapeLite vector editor a ɛyɛ fɛ
Name[ty]=InkscapeLite vector editor
Name[ug]=InkscapeLite ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﺭﻮﺘﻜﯦﯞ
Name[uk]=Векторний редактор InkscapeLite
Name[ur]=InkscapeLite ﺮﭩﯾﮉﯾﺍ ﺮﭩﮑﯾﻭ
Name[uz]=InkscapeLite vektor muharriri
Name[vi]=Trình chỉnh sửa véc tơ InkscapeLite
Name[xh]=Umhleli weVector ye-InkscapeLite
Name[yi]=InkscapeLite ראָטקאַדער ראָטקעוו
Name[yo]=InkscapeLite olootu fekito
Name[zh]=InkscapeLite 矢量编辑器
Name[zu]=Umhleli we-vector we-InkscapeLite
Name=InkscapeLite vector editor
Icon=inkscapelite.png
Comment[af]=InkscapeLite vektorredigeerder
Comment[am]=InkscapeLite የቬክተር አርታዒ
Comment[ar]=InkscapeLite ﺕﺎﻬﺠﺘﻤﻟﺍ ﺭﺮﺤﻣ
Comment[as]=InkscapeLite ভেক্টৰ সম্পাদক
Comment[ay]=InkscapeLite ukax mä vector editor ukhamawa
Comment[az]=InkscapeLite vektor redaktoru
Comment[ba]=InkscapeLite векторы мөхәррире
Comment[be]=Вектарны рэдактар InkscapeLite
Comment[bg]=Векторен редактор InkscapeLite
Comment[bm]=InkscapeLite vektɔri ɲɛnabɔbaga
Comment[bn]=InkscapeLite ভেক্টর সম্পাদক
Comment[bo]=སྣག་ཚའི་ལི་ཐི་ཡི་ཕྱོགས་སྟོན་རྩོམ་སྒྲིག་པ།
Comment[bs]=InkscapeLite vektorski uređivač
Comment[ca]=Editor de vectors InkscapeLite
Comment[co]=Editor di vettori InkscapeLite
Comment[cs]=Vektorový editor InkscapeLite
Comment[cy]=Golygydd fector InkscapeLite
Comment[da]=InkscapeLite vektor editor
Comment[de]=InkscapeLite-Vektoreditor
Comment[dv]=ރޓަޑިއެ ރޓަކްވެ ޓްއިލަޕްކޭސްކްންއި
Comment[ee]=InkscapeLite vektor nuŋlɔla
Comment[el]=Διανυσματικό πρόγραμμα επεξεργασίας InkscapeLite
Comment[en]=InkscapeLite vector editor
Comment[eo]=InkscapeLite vektora redaktilo
Comment[es]=Editor de vectores InkscapeLite
Comment[et]=InkscapeLite vektorredaktor
Comment[eu]=InkscapeLite bektorial editorea
Comment[fa]=InkscapeLite ﯼﺭﺍﺩﺮﺑ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=InkscapeLite vektorieditori
Comment[fj]=Edita vector inkscapeLite
Comment[fo]=InkscapeLite vector editor
Comment[fr]=Éditeur vectoriel Inkscape Lite
Comment[fy]=InkscapeLite vector bewurker
Comment[ga]=InkscapeLite eagarthóir veicteoir
Comment[gd]=Deasaiche inkscape lite vector
Comment[gl]=Editor de vectores InkscapeLite
Comment[gn]=InkscapeLite editor vectorial rehegua
Comment[gu]=InkscapeLite વેક્ટર એડિટર
Comment[ha]=InkscapeLite vector editan
Comment[he]=InkscapeLite רוטקו ךרוע
Comment[hi]=इंकस्केपलाइट वेक्टर संपादक
Comment[hr]=InkscapeLite vektorski uređivač
Comment[ht]=Editè vektè InkscapeLite
Comment[hu]=InkscapeLite vektorszerkesztő
Comment[hy]=InkscapeLite վեկտորի խմբագիր
Comment[id]=Editor vektor InkscapeLite
Comment[ig]=InkscapeLite vector nchịkọta akụkọ
Comment[is]=InkscapeLite vektor ritstjóri
Comment[it]=Editor vettoriale InkscapeLite
Comment[iu]=InkscapeLite vector ᑎᑎᕋᖅᑎ
Comment[ja]=InkscapeLite ベクター エディター
Comment[jv]=Editor vektor InkscapeLite
Comment[ka]=InkscapeLite ვექტორული რედაქტორი
Comment[kk]=InkscapeLite векторлық редакторы
Comment[km]=កម្មវិធីនិពន្ធវ៉ិចទ័រ InkscapeLite
Comment[kn]=ಇಂಕ್u200cಸ್ಕೇಪ್u200cಲೈಟ್ ವೆಕ್ಟರ್ ಎಡಿಟರ್
Comment[ko]=InkscapeLite 벡터 편집기
Comment[ku]=Edîtorê vektorê InkscapeLite
Comment[ky]=InkscapeLite вектордук редактору
Comment[la]=InkscapeLite vector editor
Comment[lb]=InkscapeLite Vektor Editor
Comment[lg]=InkscapeLite omuwandiisi wa vector
Comment[ln]=InkscapeLite mobongisi ya vecteur
Comment[lo]=ບັນນາທິການ vector InkscapeLite
Comment[lt]=„InkscapeLite“ vektorių rengyklė
Comment[lv]=InkscapeLite vektoru redaktors
Comment[mg]=InkscapeLite vector editor
Comment[mi]=InkscapeLite ētita vector
Comment[mk]=Векторски уредувач на InkscapeLite
Comment[ml]=InkscapeLite വെക്റ്റർ എഡിറ്റർ
Comment[mn]=InkscapeLite вектор засварлагч
Comment[mr]=InkscapeLite वेक्टर संपादक
Comment[ms]=Editor vektor InkscapeLite
Comment[mt]=Editur tal-vettur InkscapeLite
Comment[my]=InkscapeLite vector တည်းဖြတ်သူ
Comment[ne]=InkscapeLite भेक्टर सम्पादक
Comment[nl]=InkscapeLite vector-editor
Comment[no]=InkscapeLite vektor editor
Comment[ny]=InkscapeLite vector editor
Comment[om]=Gulaalaa veektarii InkscapeLite
Comment[or]=InkscapeLite ଭେକ୍ଟର ଏଡିଟର୍ |
Comment[pa]=InkscapeLite ਵੈਕਟਰ ਸੰਪਾਦਕ
Comment[pl]=Edytor wektorów InkscapeLite
Comment[ps]=ﺮﯾﺪﻣ ﺭﻮﺘﮑﯾﻭ InkscapeLite ﺩ
Comment[pt]=Editor vetorial InkscapeLite
Comment[qu]=InkscapeLite vector nisqa allichaq
Comment[ro]=Editor de vectori InkscapeLite
Comment[ru]=Векторный редактор InkscapeLite
Comment[rw]=InkscapeLite vector umwanditsi
Comment[sa]=InkscapeLite सदिश सम्पादक
Comment[sd]=InkscapeLite ﺮٽﻳڊﻳﺍ ﺮﭩﮑﯾﻭ
Comment[si]=InkscapeLite දෛශික සංස්කාරකය
Comment[sk]=Vektorový editor InkscapeLite
Comment[sl]=Vektorski urejevalnik InkscapeLite
Comment[sm]=InkscapeLite vector editor
Comment[sn]=InkscapeLite vector mupepeti
Comment[so]=InkscapeLite vector editor
Comment[sq]=Redaktori i vektorit InkscapeLite
Comment[st]=Mohlophisi oa vector oa InkscapeLite
Comment[su]=Éditor vektor InkscapeLite
Comment[sv]=InkscapeLite vektorredigerare
Comment[sw]=Mhariri wa vekta wa InkscapeLite
Comment[ta]=InkscapeLite வெக்டர் எடிட்டர்
Comment[te]=InkscapeLite వెక్టర్ ఎడిటర్
Comment[tg]=Муҳаррири вектори InkscapeLite
Comment[th]=โปรแกรมแก้ไขเวกเตอร์ InkscapeLite
Comment[ti]=ኢንክስኬፕላይት ቬክተር ኤዲተር
Comment[tk]=InkscapeLite wektor redaktory
Comment[tl]=InkscapeLite vector editor
Comment[to]=InkscapeLite vector ʻetita
Comment[tr]=InkscapeLite vektör düzenleyici
Comment[ts]=Muhleri wa vector wa InkscapeLite
Comment[tt]=InkscapeLite вектор редакторы
Comment[tw]=InkscapeLite vector editor a ɛyɛ fɛ
Comment[ty]=InkscapeLite vector editor
Comment[ug]=InkscapeLite ﻰﭼﯜﮕﯩﻟﺮﯨﺮﮬەﺗ ﺭﻮﺘﻜﯦﯞ
Comment[uk]=Векторний редактор InkscapeLite
Comment[ur]=InkscapeLite ﺮﭩﯾﮉﯾﺍ ﺮﭩﮑﯾﻭ
Comment[uz]=InkscapeLite vektor muharriri
Comment[vi]=Trình chỉnh sửa véc tơ InkscapeLite
Comment[xh]=Umhleli weVector ye-InkscapeLite
Comment[yi]=InkscapeLite ראָטקאַדער ראָטקעוו
Comment[yo]=InkscapeLite olootu fekito
Comment[zh]=InkscapeLite 矢量编辑器
Comment[zu]=Umhleli we-vector we-InkscapeLite
Comment=InkscapeLite vector editor
Exec=inkscapelite
Terminal=false
Type=Application
Categories=VectorGraphics
GenericName=InkscapeLite
