#200107 pup_event bluetooth hardware detection.
#see /usr/local/pup_event/bluetoothhw

KERNEL=="hci[0-9]",SUBSYSTEM=="bluetooth",ACTION=="add",RUN+="/usr/local/pup_event/bluetoothhw"
KERNEL=="hci[0-9]",SUBSYSTEM=="bluetooth",ACTION=="remove",RUN+="/usr/local/pup_event/bluetoothhw"
