[Desktop Entry]
Name[af]=Bluefish webblad redakteur
Name[am]=የብሉፊሽ ድረ-ገጽ አርታዒ
Name[ar]=Bluefish ﺐﻳﻮﻟﺍ ﺕﺎﺤﻔﺻ ﺭﺮﺤﻣ
Name[as]=ব্লুফিছ ৱেবপেজ সম্পাদক
Name[ay]=Bluefish ukax web ukan editorapawa
Name[az]=Bluefish veb səhifə redaktoru
Name[ba]=Bluefish веб-бит мөхәррире
Name[be]=Рэдактар вэб-старонак Bluefish
Name[bg]=Редактор на уеб страница Bluefish
Name[bm]=Bluefish ka ɛntɛrinɛti yɔrɔ ɲɛnabɔbaga
Name[bn]=ব্লুফিশ ওয়েবপেজ সম্পাদক
Name[bo]=ཉ་སྔོན་པོའི་དྲ་ངོས་རྩོམ་སྒྲིག་པ།
Name[bs]=Bluefish uređivač web stranica
Name[ca]=Editor de pàgines web Bluefish
Name[co]=Editore di pagine web Bluefish
Name[cs]=Editor webových stránek Bluefish
Name[cy]=Golygydd tudalen we Bluefish
Name[da]=Bluefish webside editor
Name[de]=Bluefish-Webseiten-Editor
Name[dv]=ވެރެޓަޑިއެ ޖްޕޭބްވެ ޝްފިލޫބް
Name[ee]=Bluefish ƒe nyatakakadzraɖoƒe ƒe nuŋlɔla
Name[el]=Πρόγραμμα επεξεργασίας ιστοσελίδας Bluefish
Name[en]=Bluefish webpage editor
Name[eo]=Bluefish retpaĝa redaktilo
Name[es]=Editor de la página web de Bluefish
Name[et]=Bluefishi veebilehe redaktor
Name[eu]=Bluefish webgunearen editorea
Name[fa]=Bluefish ﺏﻭ ﻪﺤﻔﺻ ﺮﮕﺸﯾﺍﺮﯾﻭ
Name[fi]=Bluefishin verkkosivujen editori
Name[fj]=Edita ni mataveilawa ni Bluefish
Name[fo]=Bluefisk webpage editor
Name[fr]=Éditeur de pages Web Bluefish
Name[fy]=Bluefish webside bewurker
Name[ga]=Eagarthóir leathanach gréasáin bluefish
Name[gd]=Deasaiche duilleag-lìn bluefish
Name[gl]=Editor de páxinas web Bluefish
Name[gn]=Bluefish página web editor
Name[gu]=બ્લુફિશ વેબપેજ એડિટર
Name[ha]=Editan shafin yanar gizon Bluefish
Name[he]=Bluefish לש טנרטניא יפד ךרוע
Name[hi]=ब्लूफिश वेबपेज संपादक
Name[hr]=Bluefish uređivač web stranice
Name[ht]=Editè paj wèb Bluefish
Name[hu]=Bluefish weboldal szerkesztő
Name[hy]=Bluefish վեբ էջի խմբագիր
Name[id]=Editor halaman web Bluefish
Name[ig]=Ihe ndezi ibe weebụ Bluefish
Name[is]=Ritstjóri Bluefish vefsíðu
Name[it]=Editor di pagine web Bluefish
Name[iu]=Bluefish ᐃᑭᐊᖅᑭᕕᖕᒧᑦ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=Bluefish Webページエディター
Name[jv]=Editor kaca web Bluefish
Name[ka]=Bluefish ვებგვერდის რედაქტორი
Name[kk]=Bluefish веб-бетінің редакторы
Name[km]=កម្មវិធីនិពន្ធគេហទំព័រ Bluefish
Name[kn]=ಬ್ಲೂಫಿಶ್ ವೆಬ್u200cಪುಟ ಸಂಪಾದಕ
Name[ko]=Bluefish 웹페이지 편집기
Name[ku]=Edîtorê malpera Bluefish
Name[ky]=Bluefish веб-баракчасынын редактору
Name[la]=Bluefish webpage editor
Name[lb]=Bluefish Websäit Redakter
Name[lg]=Omuwandiisi w’olupapula lwa Bluefish
Name[ln]=Mobongisi ya lokasa ya Internet ya Bluefish
Name[lo]=ຕົວແກ້ໄຂຫນ້າເວັບ Bluefish
Name[lt]=Bluefish tinklalapio redaktorius
Name[lv]=Bluefish tīmekļa lapas redaktors
Name[mg]=Mpanonta pejy web Bluefish
Name[mi]=Kaiwhakatika wharangi paetukutuku Bluefish
Name[mk]=Уредувач на веб-страници Bluefish
Name[ml]=ബ്ലൂഫിഷ് വെബ്u200cപേജ് എഡിറ്റർ
Name[mn]=Bluefish вэб хуудасны засварлагч
Name[mr]=ब्लूफिश वेबपेज संपादक
Name[ms]=Editor halaman web Bluefish
Name[mt]=Editur tal-paġna web Bluefish
Name[my]=Bluefish ဝဘ်စာမျက်နှာတည်းဖြတ်သူ
Name[ne]=ब्लूफिश वेबपेज सम्पादक
Name[nl]=Bluefish webpagina-editor
Name[no]=Redaktør for Bluefish-nettsiden
Name[ny]=Bluefish tsamba lawebusayiti
Name[om]=Gulaalaa fuula marsariitii Bluefish
Name[or]=ବ୍ଲୁଫିସ୍ ୱେବପୃଷ୍ଠା ସମ୍ପାଦକ |
Name[pa]=ਬਲੂਫਿਸ਼ ਵੈੱਬਪੇਜ ਸੰਪਾਦਕ
Name[pl]=Edytor strony Bluefish
Name[ps]=ﺮﯾﺪﻣ ﯥڼﺎﭘ ﺐﯾﻭ ﺶﻓ ﻮﯿﻠﺑ ﺩ
Name[pt]=Editor da página Bluefish
Name[qu]=Bluefish web p'anqap allichaq
Name[ro]=Editor de pagini web Bluefish
Name[ru]=Редактор веб-страниц Bluefish
Name[rw]=Urubuga rwubururu
Name[sa]=Bluefish जालपुट सम्पादक
Name[sd]=Bluefish ﺮٽﻳڊﻳﺍ ﺞﻴﭘ ﺐﻳﻭ
Name[si]=Bluefish වෙබ් පිටු සංස්කාරකය
Name[sk]=Editor webovej stránky Bluefish
Name[sl]=Urejevalnik spletnih strani Bluefish
Name[sm]=Fa'atonu itulau itulau Bluefish
Name[sn]=Bluefish webpage editor
Name[so]=Tifaftiraha bogga Bluefish
Name[sq]=Redaktori i faqes në internet Bluefish
Name[st]=Mohlophisi oa leqephe la Bluefish
Name[su]=Editor halaman wéb Bluefish
Name[sv]=Bluefish webbsida redaktör
Name[sw]=Mhariri wa ukurasa wa wavuti wa Bluefish
Name[ta]=நீலமீன் வலைப்பக்க எடிட்டர்
Name[te]=బ్లూఫిష్ వెబ్u200cపేజీ ఎడిటర్
Name[tg]=Муҳаррири саҳифаи Bluefish
Name[th]=โปรแกรมแก้ไขหน้าเว็บ Bluefish
Name[ti]=ኣሰናዳኢ መርበብ ሓበሬታ ብሉፊሽ
Name[tk]=Gök balyk web sahypasynyň redaktory
Name[tl]=Editor ng webpage ng Bluefish
Name[to]=Bluefish ʻetita ʻasi
Name[tr]=Lüfer web sayfası düzenleyicisi
Name[ts]=Muhleri wa pheji ya webu ya Bluefish
Name[tt]=Зәңгәр балык веб-бит редакторы
Name[tw]=Bluefish wɛbsaet krataafa samufo
Name[ty]=Bluefish webpage editor
Name[ug]=Bluefish ﻯﺮﯨﺮﮬەﺗ ﺕەﺑ ﺭﻮﺗ
Name[uk]=Редактор веб-сторінок Bluefish
Name[ur]=ﺮﭩﯾﮉﯾﺍ ﺞﯿﭘ ﺐﯾﻭ ﺶﻓ ﻮﯿﻠﺑ
Name[uz]=Bluefish veb-sahifa muharriri
Name[vi]=Trình chỉnh sửa trang web Bluefish
Name[xh]=Umhleli wekhasi lewebhu leBluefish
Name[yi]=Bluefish ראָטקאַדער לטייזבעוו
Name[yo]=Olootu oju-iwe wẹẹbu Bluefish
Name[zh]=蓝鱼网页编辑器
Name[zu]=Umhleli wekhasi lewebhu le-Bluefish
Name=Bluefish webpage editor
Comment[af]=Bluefish webblad redakteur
Comment[am]=የብሉፊሽ ድረ-ገጽ አርታዒ
Comment[ar]=Bluefish ﺐﻳﻮﻟﺍ ﺕﺎﺤﻔﺻ ﺭﺮﺤﻣ
Comment[as]=ব্লুফিছ ৱেবপেজ সম্পাদক
Comment[ay]=Bluefish ukax web ukan editorapawa
Comment[az]=Bluefish veb səhifə redaktoru
Comment[ba]=Bluefish веб-бит мөхәррире
Comment[be]=Рэдактар вэб-старонак Bluefish
Comment[bg]=Редактор на уеб страница Bluefish
Comment[bm]=Bluefish ka ɛntɛrinɛti yɔrɔ ɲɛnabɔbaga
Comment[bn]=ব্লুফিশ ওয়েবপেজ সম্পাদক
Comment[bo]=ཉ་སྔོན་པོའི་དྲ་ངོས་རྩོམ་སྒྲིག་པ།
Comment[bs]=Bluefish uređivač web stranica
Comment[ca]=Editor de pàgines web Bluefish
Comment[co]=Editore di pagine web Bluefish
Comment[cs]=Editor webových stránek Bluefish
Comment[cy]=Golygydd tudalen we Bluefish
Comment[da]=Bluefish webside editor
Comment[de]=Bluefish-Webseiten-Editor
Comment[dv]=ވެރެޓަޑިއެ ޖްޕޭބްވެ ޝްފިލޫބް
Comment[ee]=Bluefish ƒe nyatakakadzraɖoƒe ƒe nuŋlɔla
Comment[el]=Πρόγραμμα επεξεργασίας ιστοσελίδας Bluefish
Comment[en]=Bluefish webpage editor
Comment[eo]=Bluefish retpaĝa redaktilo
Comment[es]=Editor de la página web de Bluefish
Comment[et]=Bluefishi veebilehe redaktor
Comment[eu]=Bluefish webgunearen editorea
Comment[fa]=Bluefish ﺏﻭ ﻪﺤﻔﺻ ﺮﮕﺸﯾﺍﺮﯾﻭ
Comment[fi]=Bluefishin verkkosivujen editori
Comment[fj]=Edita ni mataveilawa ni Bluefish
Comment[fo]=Bluefisk webpage editor
Comment[fr]=Éditeur de pages Web Bluefish
Comment[fy]=Bluefish webside bewurker
Comment[ga]=Eagarthóir leathanach gréasáin bluefish
Comment[gd]=Deasaiche duilleag-lìn bluefish
Comment[gl]=Editor de páxinas web Bluefish
Comment[gn]=Bluefish página web editor
Comment[gu]=બ્લુફિશ વેબપેજ એડિટર
Comment[ha]=Editan shafin yanar gizon Bluefish
Comment[he]=Bluefish לש טנרטניא יפד ךרוע
Comment[hi]=ब्लूफिश वेबपेज संपादक
Comment[hr]=Bluefish uređivač web stranice
Comment[ht]=Editè paj wèb Bluefish
Comment[hu]=Bluefish weboldal szerkesztő
Comment[hy]=Bluefish վեբ էջի խմբագիր
Comment[id]=Editor halaman web Bluefish
Comment[ig]=Ihe ndezi ibe weebụ Bluefish
Comment[is]=Ritstjóri Bluefish vefsíðu
Comment[it]=Editor di pagine web Bluefish
Comment[iu]=Bluefish ᐃᑭᐊᖅᑭᕕᖕᒧᑦ ᐋᖅᑭᒃᓱᐃᔨ
Comment[ja]=Bluefish Webページエディター
Comment[jv]=Editor kaca web Bluefish
Comment[ka]=Bluefish ვებგვერდის რედაქტორი
Comment[kk]=Bluefish веб-бетінің редакторы
Comment[km]=កម្មវិធីនិពន្ធគេហទំព័រ Bluefish
Comment[kn]=ಬ್ಲೂಫಿಶ್ ವೆಬ್u200cಪುಟ ಸಂಪಾದಕ
Comment[ko]=Bluefish 웹페이지 편집기
Comment[ku]=Edîtorê malpera Bluefish
Comment[ky]=Bluefish веб-баракчасынын редактору
Comment[la]=Bluefish webpage editor
Comment[lb]=Bluefish Websäit Redakter
Comment[lg]=Omuwandiisi w’olupapula lwa Bluefish
Comment[ln]=Mobongisi ya lokasa ya Internet ya Bluefish
Comment[lo]=ຕົວແກ້ໄຂຫນ້າເວັບ Bluefish
Comment[lt]=Bluefish tinklalapio redaktorius
Comment[lv]=Bluefish tīmekļa lapas redaktors
Comment[mg]=Mpanonta pejy web Bluefish
Comment[mi]=Kaiwhakatika wharangi paetukutuku Bluefish
Comment[mk]=Уредувач на веб-страници Bluefish
Comment[ml]=ബ്ലൂഫിഷ് വെബ്u200cപേജ് എഡിറ്റർ
Comment[mn]=Bluefish вэб хуудасны засварлагч
Comment[mr]=ब्लूफिश वेबपेज संपादक
Comment[ms]=Editor halaman web Bluefish
Comment[mt]=Editur tal-paġna web Bluefish
Comment[my]=Bluefish ဝဘ်စာမျက်နှာတည်းဖြတ်သူ
Comment[ne]=ब्लूफिश वेबपेज सम्पादक
Comment[nl]=Bluefish webpagina-editor
Comment[no]=Redaktør for Bluefish-nettsiden
Comment[ny]=Bluefish tsamba lawebusayiti
Comment[om]=Gulaalaa fuula marsariitii Bluefish
Comment[or]=ବ୍ଲୁଫିସ୍ ୱେବପୃଷ୍ଠା ସମ୍ପାଦକ |
Comment[pa]=ਬਲੂਫਿਸ਼ ਵੈੱਬਪੇਜ ਸੰਪਾਦਕ
Comment[pl]=Edytor strony Bluefish
Comment[ps]=ﺮﯾﺪﻣ ﯥڼﺎﭘ ﺐﯾﻭ ﺶﻓ ﻮﯿﻠﺑ ﺩ
Comment[pt]=Editor da página Bluefish
Comment[qu]=Bluefish web p'anqap allichaq
Comment[ro]=Editor de pagini web Bluefish
Comment[ru]=Редактор веб-страниц Bluefish
Comment[rw]=Urubuga rwubururu
Comment[sa]=Bluefish जालपुट सम्पादक
Comment[sd]=Bluefish ﺮٽﻳڊﻳﺍ ﺞﻴﭘ ﺐﻳﻭ
Comment[si]=Bluefish වෙබ් පිටු සංස්කාරකය
Comment[sk]=Editor webovej stránky Bluefish
Comment[sl]=Urejevalnik spletnih strani Bluefish
Comment[sm]=Fa'atonu itulau itulau Bluefish
Comment[sn]=Bluefish webpage editor
Comment[so]=Tifaftiraha bogga Bluefish
Comment[sq]=Redaktori i faqes në internet Bluefish
Comment[st]=Mohlophisi oa leqephe la Bluefish
Comment[su]=Editor halaman wéb Bluefish
Comment[sv]=Bluefish webbsida redaktör
Comment[sw]=Mhariri wa ukurasa wa wavuti wa Bluefish
Comment[ta]=நீலமீன் வலைப்பக்க எடிட்டர்
Comment[te]=బ్లూఫిష్ వెబ్u200cపేజీ ఎడిటర్
Comment[tg]=Муҳаррири саҳифаи Bluefish
Comment[th]=โปรแกรมแก้ไขหน้าเว็บ Bluefish
Comment[ti]=ኣሰናዳኢ መርበብ ሓበሬታ ብሉፊሽ
Comment[tk]=Gök balyk web sahypasynyň redaktory
Comment[tl]=Editor ng webpage ng Bluefish
Comment[to]=Bluefish ʻetita ʻasi
Comment[tr]=Lüfer web sayfası düzenleyicisi
Comment[ts]=Muhleri wa pheji ya webu ya Bluefish
Comment[tt]=Зәңгәр балык веб-бит редакторы
Comment[tw]=Bluefish wɛbsaet krataafa samufo
Comment[ty]=Bluefish webpage editor
Comment[ug]=Bluefish ﻯﺮﯨﺮﮬەﺗ ﺕەﺑ ﺭﻮﺗ
Comment[uk]=Редактор веб-сторінок Bluefish
Comment[ur]=ﺮﭩﯾﮉﯾﺍ ﺞﯿﭘ ﺐﯾﻭ ﺶﻓ ﻮﯿﻠﺑ
Comment[uz]=Bluefish veb-sahifa muharriri
Comment[vi]=Trình chỉnh sửa trang web Bluefish
Comment[xh]=Umhleli wekhasi lewebhu leBluefish
Comment[yi]=Bluefish ראָטקאַדער לטייזבעוו
Comment[yo]=Olootu oju-iwe wẹẹbu Bluefish
Comment[zh]=蓝鱼网页编辑器
Comment[zu]=Umhleli wekhasi lewebhu le-Bluefish
Comment=Bluefish webpage editor
Exec=bluefish
Icon=bluefish.png
Terminal=false
Type=Application
Categories=X-Document
Encoding=UTF-8
StartupNotify=true
MimeType=text/html;text/css;text/x-javascript;text/x-python;text/x-perl;application/x-php;text/x-java;text/javascript;text/x-php;application/x-cgi;application/x-javascript;application/x-perl;application/x-python;application/xhtml+xml;text/mathml;text/x-csrc;text/x-chdr;text/x-dtd;text/x-sql;text/xml;
