[Desktop Entry]
Name[af]=Gmate eenhede omskakelaar
Name[am]=የመለኪያ አሃዶች መቀየሪያ
Name[ar]=GMeasures ﺕﺍﺪﺣﻭ ﻝﻮﺤﻣ
Name[as]=Gmeasures ইউনিট ৰূপান্তৰক
Name[ay]=Gmeasures unidades ukax jaqukipatawa
Name[az]=Gmeasures vahidləri çeviricisi
Name[ba]=Gmeasuresures агрегаттары конвертер
Name[be]=Канвэртар адзінак G
Name[bg]=G конвертор на мерни единици
Name[bm]=Gmeasures units bεε bε bεn
Name[bn]=Gmeasures ইউনিট রূপান্তরকারী
Name[bo]=གཞི་རྒྱུ་སྒྱུར་བའི་སྡེ་ཚན་གྱི་འགྱུར་ལྡོག་འཕྲུལ་ཆས།
Name[bs]=Konvertor mjernih jedinica
Name[ca]=Convertidor d'unitats de Gmesures
Name[co]=Convertitore di unità di misura
Name[cs]=Převaděč jednotek GMeasures
Name[cy]=Trawsnewidydd unedau Gmeasures
Name[da]=Omregner for målenheder
Name[de]=Gmisst Einheitenumrechner
Name[dv]=ރޓަރވަންކޮ ސްޓްނިޔު ސްރސަމީޖީ
Name[ee]=Gmeasures units ƒe tɔtrɔla
Name[el]=Μετατροπέας μονάδων Gmeasures
Name[en]=Gmeasures units converter
Name[eo]=Gmeasure-unuoj konvertilo
Name[es]=Conversor de unidades de medida
Name[et]=Mõõtühikute konverter
Name[eu]=Gneurrien unitate bihurgailua
Name[fa]=Gmeasures ﯼﺎﻫﺪﺣﺍﻭ ﻝﺪﺒﻣ
Name[fi]=Mittayksiköiden muunnin
Name[fj]=Dauveiqaravi ni tabanilotu ni Gmeasures
Name[fo]=Gmeasures units converter
Name[fr]=Convertisseur d'unités Gmeasures
Name[fy]=Gmeasure units converter
Name[ga]=Gmeasures aonaid tiontaire
Name[gd]=Inneal-tionndaidh aonadan gmeasures
Name[gl]=Conversor de unidades de medidas
Name[gn]=Gmeasures unidades convertidor rehegua
Name[gu]=Gmeasures એકમો કન્વર્ટર
Name[ha]=Gmeasures raka'a Converter
Name[he]=תודימ תודיחי ריממ
Name[hi]=Gmeasures इकाइयाँ कनवर्टर
Name[hr]=G pretvarač mjernih jedinica
Name[ht]=Gmeasures inite konvètisè
Name[hu]=Mértékegység-átalakító
Name[hy]=Gmeasures միավորների փոխարկիչ
Name[id]=Pengonversi satuan gmeasures
Name[ig]=Ihe ntụgharị nkeji Gmeasures
Name[is]=Breytir fyrir mælieiningar
Name[it]=Convertitore di unità di misura G
Name[iu]=ᓂᖀᑦ ᓂᖀᑦ
Name[ja]=Gmeasure 単位コンバータ
Name[jv]=Konverter unit Gmeasures
Name[ka]=Gmeasures ერთეულების გადამყვანი
Name[kk]=Gmeasures бірлік түрлендіргіші
Name[km]=ឧបករណ៍បំលែងឯកតា Gmeasures
Name[kn]=Gmeasures ಘಟಕಗಳ ಪರಿವರ್ತಕ
Name[ko]="G측정 단위 변환기"
Name[ku]=Guherkera yekîneyên Gmeasures
Name[ky]=Gmeasures бирдиктерин конвертер
Name[la]=Gmeasures unitates converter
Name[lb]=Gmeasures Unitéiten Converter
Name[lg]=Gmeasures units ekikyusa
Name[ln]=Gmeasures unité convertisseur
Name[lo]=ຕົວແປງຫນ່ວຍ Gmeasures
Name[lt]=Matavimo vienetų keitiklis
Name[lv]=Mērvienību pārveidotājs
Name[mg]=Gmeasures unit converter
Name[mi]=Kaitahuri wae Gmeasures
Name[mk]=Конвертор на Gmeasures единици
Name[ml]=Gmeasures യൂണിറ്റ് കൺവെർട്ടർ
Name[mn]=Gmeasures нэгж хөрвүүлэгч
Name[mr]=Gmeasures युनिट कनवर्टर
Name[ms]=Gmeasures unit penukar
Name[mt]=Gmeasures unitajiet konvertitur
Name[my]=Gmeasures ယူနစ်ပြောင်းစက်
Name[ne]=Gmeasures एकाइ कनवर्टर
Name[nl]=Gmeasures eenheden converter
Name[no]=Omformer for målenheter
Name[ny]=Gmeasures unit Converter
Name[om]=Gmeasures yuunitii jijjiirraa
Name[or]=Gmeasure ୟୁନିଟ୍ କନଭର୍ଟର |
Name[pa]=Gmeasures ਯੂਨਿਟ ਕਨਵਰਟਰ
Name[pl]=Przelicznik jednostek Gmeasures
Name[ps]=ﺮټﺭﻮﻨﮐ ﻮﻧﻭﺪﺣﺍﻭ Gmeasures ﺩ
Name[pt]=Conversor de unidades Gmeasures
Name[qu]=Gmeasures unidades tikraq
Name[ro]=Convertor de unități de măsură
Name[ru]=Конвертер единиц Gмер
Name[rw]=Ibipimo byerekana ibipimo
Name[sa]=Gmeasures इकाइ परिवर्तक
Name[sd]=Gmeasures ﺮٽﺭﻮﻨڪ ٽﻧﻮﻳ
Name[si]=Gmeasures ඒකක පරිවර්තකය
Name[sk]=Prevodník jednotiek GMeasures
Name[sl]=Pretvornik Gmerskih enot
Name[sm]=Gmeasures iunite liliu
Name[sn]=Gmeasures zvikamu zvinoshandura
Name[so]=Gmeasures unugyada beddelka
Name[sq]=Konvertuesi i njësive Gmeasures
Name[st]=Gmeasures diyuniti converter
Name[su]=Konverter unit Gmeasures
Name[sv]=Omvandlare för mätenheter
Name[sw]=Kigeuzi cha vitengo vya Gmeasures
Name[ta]=Gmeasures அலகுகள் மாற்றி
Name[te]=Gmeasures యూనిట్ల కన్వర్టర్
Name[tg]=Табдилдиҳандаи воҳидҳои Gmeasures
Name[th]=ตัวแปลงหน่วย Gmeasures
Name[ti]=Gmeasures ኣሃዱታት ቀያሪ
Name[tk]=Ölçeg birlikleri öwrüji
Name[tl]=Gmeasures units converter
Name[to]=Gmeasures ngaahi ʻiuniti fakaului
Name[tr]=Gmeasures birim dönüştürücü
Name[ts]=Gmeasures tiyuniti xihundzuluxi
Name[tt]=Күчергеч берәмлекләр конвертер
Name[tw]=Gmeasures units a wɔde dannan nneɛma
Name[ty]=Gmeasures unit converter
Name[ug]=ﭺﯘﻏﺭﯗﺪﻧﻼ﻿ﻳﺎﺋ ﻰﻜﯩﻟﺮﯩﺑ ﻡەﭽﻟﯚﺋ
Name[uk]=G конвертер одиниць вимірювання
Name[ur]=Gmeasures ﺮﭨﺭﻮﻨﮐ ﭧﻧﻮﯾ
Name[uz]=Gmeasure birliklari konvertori
Name[vi]=Công cụ chuyển đổi đơn vị Gmeasures
Name[xh]=Isiguquli semilinganiselo yemilinganiselo
Name[yi]=Gmeasures רעטרעוונאַק ץינו
Name[yo]=Oluyipada awọn iwọn Gmeasures
Name[zh]=G 测量单位转换器
Name[zu]=Isiguquli samayunithi we-Gmeasures
Name=Gmeasures units converter
Comment[af]=Gmate eenhede omskakelaar
Comment[am]=የመለኪያ አሃዶች መቀየሪያ
Comment[ar]=GMeasures ﺕﺍﺪﺣﻭ ﻝﻮﺤﻣ
Comment[as]=Gmeasures ইউনিট ৰূপান্তৰক
Comment[ay]=Gmeasures unidades ukax jaqukipatawa
Comment[az]=Gmeasures vahidləri çeviricisi
Comment[ba]=Gmeasuresures агрегаттары конвертер
Comment[be]=Канвэртар адзінак G
Comment[bg]=G конвертор на мерни единици
Comment[bm]=Gmeasures units bεε bε bεn
Comment[bn]=Gmeasures ইউনিট রূপান্তরকারী
Comment[bo]=གཞི་རྒྱུ་སྒྱུར་བའི་སྡེ་ཚན་གྱི་འགྱུར་ལྡོག་འཕྲུལ་ཆས།
Comment[bs]=Konvertor mjernih jedinica
Comment[ca]=Convertidor d'unitats de Gmesures
Comment[co]=Convertitore di unità di misura
Comment[cs]=Převaděč jednotek GMeasures
Comment[cy]=Trawsnewidydd unedau Gmeasures
Comment[da]=Omregner for målenheder
Comment[de]=Gmisst Einheitenumrechner
Comment[dv]=ރޓަރވަންކޮ ސްޓްނިޔު ސްރސަމީޖީ
Comment[ee]=Gmeasures units ƒe tɔtrɔla
Comment[el]=Μετατροπέας μονάδων Gmeasures
Comment[en]=Gmeasures units converter
Comment[eo]=Gmeasure-unuoj konvertilo
Comment[es]=Conversor de unidades de medida
Comment[et]=Mõõtühikute konverter
Comment[eu]=Gneurrien unitate bihurgailua
Comment[fa]=Gmeasures ﯼﺎﻫﺪﺣﺍﻭ ﻝﺪﺒﻣ
Comment[fi]=Mittayksiköiden muunnin
Comment[fj]=Dauveiqaravi ni tabanilotu ni Gmeasures
Comment[fo]=Gmeasures units converter
Comment[fr]=Convertisseur d'unités Gmeasures
Comment[fy]=Gmeasure units converter
Comment[ga]=Gmeasures aonaid tiontaire
Comment[gd]=Inneal-tionndaidh aonadan gmeasures
Comment[gl]=Conversor de unidades de medidas
Comment[gn]=Gmeasures unidades convertidor rehegua
Comment[gu]=Gmeasures એકમો કન્વર્ટર
Comment[ha]=Gmeasures raka'a Converter
Comment[he]=תודימ תודיחי ריממ
Comment[hi]=Gmeasures इकाइयाँ कनवर्टर
Comment[hr]=G pretvarač mjernih jedinica
Comment[ht]=Gmeasures inite konvètisè
Comment[hu]=Mértékegység-átalakító
Comment[hy]=Gmeasures միավորների փոխարկիչ
Comment[id]=Pengonversi satuan gmeasures
Comment[ig]=Ihe ntụgharị nkeji Gmeasures
Comment[is]=Breytir fyrir mælieiningar
Comment[it]=Convertitore di unità di misura G
Comment[iu]=ᓂᖀᑦ ᓂᖀᑦ
Comment[ja]=Gmeasure 単位コンバータ
Comment[jv]=Konverter unit Gmeasures
Comment[ka]=Gmeasures ერთეულების გადამყვანი
Comment[kk]=Gmeasures бірлік түрлендіргіші
Comment[km]=ឧបករណ៍បំលែងឯកតា Gmeasures
Comment[kn]=Gmeasures ಘಟಕಗಳ ಪರಿವರ್ತಕ
Comment[ko]="G측정 단위 변환기"
Comment[ku]=Guherkera yekîneyên Gmeasures
Comment[ky]=Gmeasures бирдиктерин конвертер
Comment[la]=Gmeasures unitates converter
Comment[lb]=Gmeasures Unitéiten Converter
Comment[lg]=Gmeasures units ekikyusa
Comment[ln]=Gmeasures unité convertisseur
Comment[lo]=ຕົວແປງຫນ່ວຍ Gmeasures
Comment[lt]=Matavimo vienetų keitiklis
Comment[lv]=Mērvienību pārveidotājs
Comment[mg]=Gmeasures unit converter
Comment[mi]=Kaitahuri wae Gmeasures
Comment[mk]=Конвертор на Gmeasures единици
Comment[ml]=Gmeasures യൂണിറ്റ് കൺവെർട്ടർ
Comment[mn]=Gmeasures нэгж хөрвүүлэгч
Comment[mr]=Gmeasures युनिट कनवर्टर
Comment[ms]=Gmeasures unit penukar
Comment[mt]=Gmeasures unitajiet konvertitur
Comment[my]=Gmeasures ယူနစ်ပြောင်းစက်
Comment[ne]=Gmeasures एकाइ कनवर्टर
Comment[nl]=Gmeasures eenheden converter
Comment[no]=Omformer for målenheter
Comment[ny]=Gmeasures unit Converter
Comment[om]=Gmeasures yuunitii jijjiirraa
Comment[or]=Gmeasure ୟୁନିଟ୍ କନଭର୍ଟର |
Comment[pa]=Gmeasures ਯੂਨਿਟ ਕਨਵਰਟਰ
Comment[pl]=Przelicznik jednostek Gmeasures
Comment[ps]=ﺮټﺭﻮﻨﮐ ﻮﻧﻭﺪﺣﺍﻭ Gmeasures ﺩ
Comment[pt]=Conversor de unidades Gmeasures
Comment[qu]=Gmeasures unidades tikraq
Comment[ro]=Convertor de unități de măsură
Comment[ru]=Конвертер единиц Gмер
Comment[rw]=Ibipimo byerekana ibipimo
Comment[sa]=Gmeasures इकाइ परिवर्तक
Comment[sd]=Gmeasures ﺮٽﺭﻮﻨڪ ٽﻧﻮﻳ
Comment[si]=Gmeasures ඒකක පරිවර්තකය
Comment[sk]=Prevodník jednotiek GMeasures
Comment[sl]=Pretvornik Gmerskih enot
Comment[sm]=Gmeasures iunite liliu
Comment[sn]=Gmeasures zvikamu zvinoshandura
Comment[so]=Gmeasures unugyada beddelka
Comment[sq]=Konvertuesi i njësive Gmeasures
Comment[st]=Gmeasures diyuniti converter
Comment[su]=Konverter unit Gmeasures
Comment[sv]=Omvandlare för mätenheter
Comment[sw]=Kigeuzi cha vitengo vya Gmeasures
Comment[ta]=Gmeasures அலகுகள் மாற்றி
Comment[te]=Gmeasures యూనిట్ల కన్వర్టర్
Comment[tg]=Табдилдиҳандаи воҳидҳои Gmeasures
Comment[th]=ตัวแปลงหน่วย Gmeasures
Comment[ti]=Gmeasures ኣሃዱታት ቀያሪ
Comment[tk]=Ölçeg birlikleri öwrüji
Comment[tl]=Gmeasures units converter
Comment[to]=Gmeasures ngaahi ʻiuniti fakaului
Comment[tr]=Gmeasures birim dönüştürücü
Comment[ts]=Gmeasures tiyuniti xihundzuluxi
Comment[tt]=Күчергеч берәмлекләр конвертер
Comment[tw]=Gmeasures units a wɔde dannan nneɛma
Comment[ty]=Gmeasures unit converter
Comment[ug]=ﭺﯘﻏﺭﯗﺪﻧﻼ﻿ﻳﺎﺋ ﻰﻜﯩﻟﺮﯩﺑ ﻡەﭽﻟﯚﺋ
Comment[uk]=G конвертер одиниць вимірювання
Comment[ur]=Gmeasures ﺮﭨﺭﻮﻨﮐ ﭧﻧﻮﯾ
Comment[uz]=Gmeasure birliklari konvertori
Comment[vi]=Công cụ chuyển đổi đơn vị Gmeasures
Comment[xh]=Isiguquli semilinganiselo yemilinganiselo
Comment[yi]=Gmeasures רעטרעוונאַק ץינו
Comment[yo]=Oluyipada awọn iwọn Gmeasures
Comment[zh]=G 测量单位转换器
Comment[zu]=Isiguquli samayunithi we-Gmeasures
Comment=Gmeasures units converter
Exec=gmeasures_wrapper
Icon=gmeasures.xpm
Terminal=false
Type=Application
Categories=Calculator
StartupNotify=true
Encoding=UTF-8
GenericName=Gmeasures
