[Desktop Entry]
Encoding=UTF-8
Name[be]=Рэдактар дыяграм
Name[bg]=Редактор на диаграми
Name[da]=Dia diagram editor
Name[nl]=Dia diagram-editor
Name[el]=Dia επεξεργαστής διαγράμματος
Name[et]=Dia diagrammi redaktor
Name[fi]=Dia diakaavion editori
Name[fr]=éditeur de diagramme Dia
Name[de]=Dia Diagrammeditor
Name[hu]=Dia diagramszerkesztő
Name[is]=Dia ritstjóri skýringarmynda
Name[it]=Dia editor di diagrammi
Name[no]=Dia diagram editor
Name[pl]=Dia edytor diagramów
Name[pt]=Dia editor de diagramas
Name[ro]=Dia editor de diagrame
Name[ru]=Dia редактор диаграмм
Name[es]=Dia editor de diagramas
Name[sv]=Dia diagramredigerare
Name[tr]=diyagram düzenleyici
Name=Dia diagram editor
Comment[be]=Рэдактар дыяграм
Comment[bg]=Редактор на диаграми
Comment[da]=Dia diagram editor
Comment[nl]=Dia diagram-editor
Comment[el]=Dia επεξεργαστής διαγράμματος
Comment[et]=Dia diagrammi redaktor
Comment[fi]=Dia diakaavion editori
Comment[fr]=éditeur de diagramme Dia
Comment[de]=Dia Diagrammeditor
Comment[hu]=Dia diagramszerkesztő
Comment[is]=Dia ritstjóri skýringarmynda
Comment[it]=Dia editor di diagrammi
Comment[no]=Dia diagram editor
Comment[pl]=Dia edytor diagramów
Comment[pt]=Dia editor de diagramas
Comment[ro]=Dia editor de diagrame
Comment[ru]=Dia редактор диаграмм
Comment[es]=Dia editor de diagramas
Comment[sv]=Dia diagramredigerare
Comment[tr]=diyagram düzenleyici
Comment=Dia diagram editor
Type=Application
Exec=dia
Icon=dia.png
Terminal=false
Categories=X-Graphic-flow
StartupNotify=true
MimeType=application/x-dia-diagram;

