[Desktop Entry]
Encoding=UTF-8
Name=Dia diagram editor
Comment=Edit your diagrams
Type=Application
Exec=dia
Icon=dia.png
Terminal=false
Categories=X-Graphic-flow
StartupNotify=true
MimeType=application/x-dia-diagram;

