[Desktop Entry]
Name[fr]=Usine de widget AWF gtk3
Name[de]=AWF gtk3 Widget Factory
Name[es]=AWF: vista previa de temas para gtk3
Name[ru]=Фабрика виджетов AWF gtk3
Name[tr]=AWF gtk3 Widget Fabrikası
Name[af]=AWF gtk3 widget fabriek
Name[am]=AWF gtk3 መግብር ፋብሪካ
Name[ar]=AWF gtk3 ﺔﻌﻄﻘﻟﺍ ﻊﻨﺼﻣ
Name[as]=AWF gtk3 ৱিজেট কাৰখানা
Name[ay]=AWF gtk3 widget fabrica
Name[az]=AWF gtk3 vidjet fabriki
Name[ba]=AWF gtk3 виджет фабрикаһы
Name[be]=Фабрыка віджэтаў AWF gtk3
Name[bg]=Фабрика за джаджи AWF gtk3
Name[bm]=AWF gtk3 widget izini
Name[bn]=AWF gtk3 উইজেট কারখানা
Name[bo]=AWF gtk3 widgetབགོ་རིམ་བཟོ་གྲྭ།
Name[bs]=Fabrika AWF gtk3 widgeta
Name[ca]=Fàbrica de widgets AWF gtk3
Name[co]=Fabbrica di widget AWF gtk3
Name[cs]=Továrna na widgety AWF gtk3
Name[cy]=AWF gtk3 widget ffatri
Name[da]=AWF gtk3 widget fabrik
Name[dv]=ވެއެ ރީޓްކްފެ ޓްޖެވި 3ކޭޓީޖީ ފްއެއުލިބްޑައޭ
Name[ee]=AWF gtk3 widget dɔwɔƒe
Name[el]=Εργοστάσιο γραφικών στοιχείων AWF gtk3
Name[eo]=AWF gtk3 uzaĵfabriko
Name[et]=AWF gtk3 vidinatehas
Name[eu]=AWF gtk3 widget fabrika
Name[fa]=AWF gtk3 ﺖﺠﯾﻭ ﻪﻧﺎﺧﺭﺎﮐ
Name[fi]=AWF gtk3 widget-tehdas
Name[fj]=AWF gtk3 widget volau ni
Name[fo]=AWF gtk3 widget factory
Name[fy]=AWF gtk3 widget fabryk
Name[ga]=AWF gtk3 mhonarcha ghiuirléid
Name[gd]=AWF gtk3 widget factaraidh
Name[gl]=Fábrica de widgets AWF gtk3
Name[gn]=AWF gtk3 widget fábrica rehegua
Name[gu]=AWF gtk3 વિજેટ ફેક્ટરી
Name[ha]=AWF gtk3 widget factory
Name[he]=AWF gtk3 לש םינומושיי לעפמ
Name[hi]=AWF gtk3 विजेट फ़ैक्टरी
Name[hr]=AWF gtk3 tvornica widgeta
Name[ht]=AWF gtk3 widget faktori
Name[hu]=AWF gtk3 widget gyár
Name[hy]=AWF gtk3 վիդջեթների գործարան
Name[id]=Pabrik widget AWF gtk3
Name[ig]=Ụlọ ọrụ wijetị AWF gtk3
Name[is]=AWF gtk3 græjuverksmiðju
Name[it]=Fabbrica di widget AWF gtk3
Name[iu]=AWF gtk3 widget factory
Name[ja]=AWF gtk3 ウィジェット ファクトリ
Name[jv]=Pabrik widget AWF gtk3
Name[ka]=AWF gtk3 ვიჯეტის ქარხანა
Name[kk]=AWF gtk3 виджет зауыты
Name[km]=រោងចក្រធាតុក្រាហ្វិក AWF gtk3
Name[kn]=AWF gtk3 ವಿಜೆಟ್ ಕಾರ್ಖಾನೆ
Name[ko]=AWF gtk3 위젯 팩토리
Name[ku]=AWF gtk3 kargeha widget
Name[ky]=AWF gtk3 виджет фабрикасы
Name[la]=AWF gtk3 content officinas
Name[lb]=AWF gtk3 Widget Fabréck
Name[lg]=AWF gtk3 ekkolero lya widget
Name[ln]=Usine ya widget ya AWF gtk3
Name[lo]=ໂຮງງານຜະລິດ widget AWF gtk3
Name[lt]=AWF gtk3 valdiklių gamykla
Name[lv]=AWF gtk3 logrīku rūpnīca
Name[mg]=AWF gtk3 widget factory
Name[mi]=AWF gtk3 widget wheketere
Name[mk]=Фабрика за виџети AWF gtk3
Name[ml]=AWF gtk3 വിജറ്റ് ഫാക്ടറി
Name[mn]=AWF gtk3 виджетийн үйлдвэр
Name[mr]=AWF gtk3 विजेट कारखाना
Name[ms]=Kilang widget AWF gtk3
Name[mt]=Fabbrika tal-widget AWF gtk3
Name[my]=AWF gtk3 ဝစ်ဂျက်စက်ရုံ
Name[ne]=AWF gtk3 विजेट कारखाना
Name[nl]=AWF gtk3 widgetfabriek
Name[no]=AWF gtk3 widget fabrikk
Name[ny]=AWF gtk3 widget fakitale
Name[om]=Warshaa wiijetii AWF gtk3
Name[or]=AWF gtk3 ୱିଜେଟ୍ କାରଖାନା |
Name[pa]=AWF gtk3 ਵਿਜੇਟ ਫੈਕਟਰੀ
Name[pl]=Fabryka widżetów AWF gtk3
Name[ps]=ﻪﮑﯾﺮﺑﺎﻓ ټﺠﯾﻭ AWF gtk3 ﺩ
Name[pt]=AWF gtk3 fábrica de widgets
Name[qu]=AWF gtk3 widget fabrica
Name[ro]=Fabrica de widget-uri AWF gtk3
Name[rw]=AWF gtk3 uruganda rwa widget
Name[sa]=AWF gtk3 विजेट कारखाना
Name[sd]=AWF gtk3 ﻱﺮٽڪﻴﻓ ٽﻴﺟﻭ
Name[si]=AWF gtk3 widget කර්මාන්ත ශාලාව
Name[sk]=Továreň na widgety AWF gtk3
Name[sl]=Tovarna pripomočkov AWF gtk3
Name[sm]=AWF gtk3 widget falegaosimea
Name[sn]=AWF gtk3 widget fekitori
Name[so]=AWF gtk3 widget warshad
Name[sq]=Fabrika e miniaplikacioneve AWF gtk3
Name[st]=Feme ea widget ea AWF gtk3
Name[su]=Pabrik widget AWF gtk3
Name[sv]=AWF gtk3 widgetfabrik
Name[sw]=Kiwanda cha wijeti cha AWF gtk3
Name[ta]=AWF gtk3 விட்ஜெட் தொழிற்சாலை
Name[te]=AWF gtk3 విడ్జెట్ ఫ్యాక్టరీ
Name[tg]=Заводи виҷети AWF gtk3
Name[th]=โรงงานวิดเจ็ต AWF gtk3
Name[ti]=AWF gtk3 ዊጀት ፋብሪካ
Name[tk]=AWF gtk3 widjet zawody
Name[tl]=Pabrika ng widget ng AWF gtk3
Name[to]=AWF gtk3 widget falengaue
Name[ts]=AWF gtk3 fektri ya switirhisiwa
Name[tt]=AWF gtk3 виджет заводы
Name[tw]=AWF gtk3 widget adwumayɛbea
Name[ty]=AWF gtk3 widget
Name[ug]=AWF gtk3 ﻰﺗﯗﯞﺍﺯ ﻝﺍﺭﻮﻗ ﻚﯩﭽﯩﻛ
Name[uk]=Фабрика віджетів AWF gtk3
Name[ur]=AWF gtk3 ﯼﺮﭩﮑﯿﻓ ﭧﯿﺠﯾﻭ
Name[uz]=AWF gtk3 vidjet zavodi
Name[vi]=Nhà máy phụ tùng AWF gtk3
Name[xh]=Umzi-mveliso wewijethi ye-AWF gtk3
Name[yi]=AWF gtk3 קירבאַפ טישזדיוו
Name[yo]=AWF gtk3 ẹrọ ailorukọ factory
Name[zh]=AWF gtk3 小部件工厂
Name[zu]=Imboni yewijethi ye-AWF gtk3
Name=AWF gtk3 widget factory
Comment[fr]=Usine de widget - une application d'aperçu de thème pour gtk3
Comment[de]=Eine Widget-Factory - eine Theme-Vorschauanwendung für gtk3
Comment[es]=AWF: vista previa de temas para gtk3
Comment[ru]=Фабрика виджетов - приложение для предварительного просмотра темы для gtk3
Comment[tr]=AWF widget fabrikası - gtk3 için bir tema önizleme uygulaması
Comment[af]=n Legstukfabriek - n temavoorskoutoepassing vir gtk3
Comment[am]=መግብር ፋብሪካ - ለ gtk3 ገጽታ ቅድመ እይታ መተግበሪያ
Comment[ar]=gtk3 ـﻟ ﻉﻮﺿﻮﻣ ﺔﻨﻳﺎﻌﻣ ﻖﻴﺒﻄﺗ - ﺔﻌﻄﻘﻟﺍ ﻊﻨﺼﻣ
Comment[as]=এটা ৱিজেট কাৰখানা - gtk3 ৰ বাবে এটা থিম পূৰ্বদৰ্শন এপ্লিকেচন
Comment[ay]=Mä widget fabrica - mä tema preview aplicación gtk3 ukataki
Comment[az]=Widget fabriki - gtk3 üçün mövzuya baxış proqramı
Comment[ba]=Виджет фабрикаһы — gtk3 темаһына алдан күреү ҡушымтаһы
Comment[be]=Фабрыка віджэтаў - праграма папярэдняга прагляду тэмы для gtk3
Comment[bg]=Фабрика за джаджи - приложение за преглед на тема за gtk3
Comment[bm]=Widget izini dɔ - barokun ɲɛjirali baarakɛminɛn ye gtk3 kama
Comment[bn]=একটি উইজেট কারখানা - gtk3 এর জন্য একটি থিম প্রিভিউ অ্যাপ্লিকেশন
Comment[bo]=widget factory - gtk3 བརྗོད་བྱ་གཙོ་བོའི་སྔོན་བརྡའི་རེ་ཞུ།
Comment[bs]=Fabrika widgeta - aplikacija za pregled teme za gtk3
Comment[ca]=Una fàbrica de widgets: una aplicació de vista prèvia de temes per a gtk3
Comment[co]=Una fabbrica di widget - una applicazione di vista previa di tema per gtk3
Comment[cs]=Továrna na widgety – aplikace pro náhled tématu pro gtk3
Comment[cy]=Ffatri teclyn - rhaglen rhagolwg thema ar gyfer gtk3
Comment[da]=En widget-fabrik - en applikation til forhåndsvisning af tema til gtk3
Comment[dv]=އްނެޝަކޭލިޕްއެ އުވިރިޕް މްތީ ށްއަ gtk3 - އްއެރީޓްކްފެ ޓްޖެވި
Comment[ee]=Widget dɔwɔƒe aɖe - tanya ƒe ŋgɔdonya ƒe dɔwɔwɔ na gtk3
Comment[el]=Ένα εργοστάσιο γραφικών στοιχείων - μια εφαρμογή προεπισκόπησης θέματος για το gtk3
Comment[eo]=Fabriko de fenestraĵoj - temo antaŭprezenta aplikaĵo por gtk3
Comment[et]=Vidinatehas – gtk3 teema eelvaaterakendus
Comment[eu]=Widget fabrika bat - gtk3rako gaiaren aurrebista aplikazioa
Comment[fa]=gtk3 ﯼﺍﺮﺑ ﻢﺗ ﺶﯾﺎﻤﻧ ﺶﯿﭘ ﻪﻣﺎﻧﺮﺑ ﮏﯾ - ﺖﺠﯾﻭ ﻪﻧﺎﺧﺭﺎﮐ
Comment[fi]=Widget-tehdas - teeman esikatselusovellus gtk3:lle
Comment[fj]=Dua na widget factory-e dua na ivolakerekere ni ikau ni kena raici na gtk3
Comment[fo]=A widget factory - ame preview application for gtk3
Comment[fy]=In widgetfabryk - in temafoarbyldapplikaasje foar gtk3
Comment[ga]=Monarcha giuirléidí - feidhmchlár réamhamharc téama do gtk3
Comment[gd]=Factaraidh widget - tagradh ro-shealladh cuspair airson gtk3
Comment[gl]=Unha fábrica de widgets: unha aplicación de vista previa de temas para gtk3
Comment[gn]=Peteĩ fábrica widget - peteĩ aplicación tema jehechaukarã gtk3-pe g̃uarã
Comment[gu]=વિજેટ ફેક્ટરી - gtk3 માટે થીમ પૂર્વાવલોકન એપ્લિકેશન
Comment[ha]=Maaikatar widget - aikace-aikacen samfoti na jigo don gtk3
Comment[he]=gtk3 רובע אשונ לש המידקמ הגוצת תייצקילפא - םינומושיי לעפמ
Comment[hi]=एक विजेट फ़ैक्टरी - gtk3 के लिए एक थीम पूर्वावलोकन एप्लिकेशन
Comment[hr]=Tvornica widgeta - aplikacija za pregled teme za gtk3
Comment[ht]=Yon faktori widget - yon aplikasyon aperçu tèm pou gtk3
Comment[hu]=Widgetgyár – egy téma előnézeti alkalmazás a gtk3-hoz
Comment[hy]=Վիջեթների գործարան՝ gtk3-ի թեմայի նախադիտման հավելված
Comment[id]=Pabrik widget - aplikasi pratinjau tema untuk gtk3
Comment[ig]=Ụlọ ọrụ wijetị - ngwa nlele isiokwu maka gtk3
Comment[is]=Græjuverksmiðja - þemaforskoðunarforrit fyrir gtk3
Comment[it]=Una fabbrica di widget - unapplicazione di anteprima del tema per gtk3
Comment[iu]=ᐱᙱᔾᔪᑕᐅᔪᖅ − ᐱᔾᔪᑕᐅᔪᖅ ᕿᒥᕐᕈᔭᐅᕙᒌᖅᑐᖅ ᐱᓇᔫᑎᒧᑦ
Comment[ja]=ウィジェット ファクトリ - gtk3 用のテーマ プレビュー アプリケーション
Comment[jv]=Pabrik widget - aplikasi pratinjau tema kanggo gtk3
Comment[ka]=ვიჯეტის ქარხანა - თემის გადახედვის აპლიკაცია gtk3-სთვის
Comment[kk]=Виджет зауыты - gtk3 үшін тақырыпты алдын ала қарау қолданбасы
Comment[km]=រោងចក្រធាតុក្រាហ្វិក - កម្មវិធីមើលប្រធានបទសម្រាប់ gtk3
Comment[kn]=ವಿಜೆಟ್ ಫ್ಯಾಕ್ಟರಿ - gtk3 ಗಾಗಿ ಥೀಮ್ ಪೂರ್ವವೀಕ್ಷಣೆ ಅಪ್ಲಿಕೇಶನ್
Comment[ko]=위젯 팩토리 - gtk3용 테마 미리보기 애플리케이션
Comment[ku]=Fabrîkek widget - serîlêdana pêşdîtina mijarê ji bo gtk3
Comment[ky]=Виджет фабрикасы - gtk3 үчүн теманы алдын ала көрүү колдонмосу
Comment[la]=Widget Factory - thema preview application for gtk3
Comment[lb]=Eng Widget Fabréck - eng Thema Virschau Uwendung fir gtk3
Comment[lg]=Ekkolero lya widget - enkola yokusooka okulaba omulamwa ku gtk3
Comment[ln]=Usine ya widget - application ya aperçu ya thème pona gtk3
Comment[lo]=ໂຮງງານຜະລິດ widget - ຄໍາຮ້ອງສະຫມັກຕົວຢ່າງຫົວຂໍ້ສໍາລັບ gtk3
Comment[lt]=Valdiklių gamykla – gtk3 temos peržiūros programa
Comment[lv]=Logrīku rūpnīca — motīva priekšskatījuma lietojumprogramma gtk3
Comment[mg]=Orinasa widget - fampiharana fijerena lohahevitra ho anny gtk3
Comment[mi]=He wheketere widget - he tono arokite kaupapa mo te gtk3
Comment[mk]=Фабрика за виџети - апликација за преглед на тема за gtk3
Comment[ml]=ഒരു വിജറ്റ് ഫാക്ടറി - gtk3-നുള്ള ഒരു തീം പ്രിവ്യൂ ആപ്ലിക്കേഷൻ
Comment[mn]=Виджетийн үйлдвэр - gtk3-д зориулсан сэдвийг урьдчилан харах програм
Comment[mr]=विजेट फॅक्टरी - gtk3 साठी थीम पूर्वावलोकन अनुप्रयोग
Comment[ms]=Kilang widget - aplikasi pratonton tema untuk gtk3
Comment[mt]=Fabbrika ta widget - applikazzjoni ta preview tat-tema għal gtk3
Comment[my]=ဝစ်ဂျက်စက်ရုံ - gtk3 အတွက် အပြင်အဆင် အကြိုကြည့်ရှုခြင်း အက်ပ်
Comment[ne]=एक विजेट कारखाना - gtk3 को लागि एक विषय पूर्वावलोकन अनुप्रयोग
Comment[nl]=Een widgetfabriek - een themavoorbeeldtoepassing voor gtk3
Comment[no]=En widgetfabrikk - en forhåndsvisningsapplikasjon for tema for gtk3
Comment[ny]=Fakitale ya widget - pulogalamu yowoneratu mutu wa gtk3
Comment[om]=Warshaa wiijetii - aplikeeshinii durtii mata duree gtk3
Comment[or]=ଏକ ୱିଜେଟ୍ କାରଖାନା - gtk3 ପାଇଁ ଏକ ଥିମ୍ ପୂର୍ବାବଲୋକନ ପ୍ରୟୋଗ |
Comment[pa]=ਇੱਕ ਵਿਜੇਟ ਫੈਕਟਰੀ - gtk3 ਲਈ ਇੱਕ ਥੀਮ ਪ੍ਰੀਵਿਊ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Fabryka widżetów - aplikacja podglądu motywu dla gtk3
Comment[ps]=ﮏﯿﻠﻨﺘښﻮﻏ ﯥﻨﺘﮑﺨﻣ ﻉﻮﺿﻮﻣ ﺩ ﻩﺭﺎﭙﻟ gtk3 ﺩ - ﻪﮑﯾﺮﺑﺎﻓ ټﺠﯾﻭ ﺩ
Comment[pt]=Uma fábrica de widgets - um aplicativo de visualização de tema para gtk3
Comment[qu]=Huk widget fabrica - huk tema ñawpaq qhaway ruwana gtk3 kaqpaq
Comment[ro]=O fabrică de widgeturi - o aplicație de previzualizare a temei pentru gtk3
Comment[rw]=Uruganda rwa widget - insanganyamatsiko yo kureba kuri gtk3
Comment[sa]=एकः विजेट् कारखानः - gtk3 कृते एकः विषयपूर्वावलोकन-अनुप्रयोगः
Comment[sd]=ﻦﺸﻴڪﻴﻠﭙﻳﺍ ﻮﻳﻮﻳﺮﭘ ﻉﻮﺿﻮﻣ ڪﻫ ءِﻻ﻿ gtk3 - ﻮﻧﺎﺧﺭﺎڪ ٽﻴﺠﻳﻭ ڪﻫ
Comment[si]=විජට් කර්මාන්ත ශාලාවක් - gtk3 සඳහා තේමා පෙරදසුන් යෙදුමකි
Comment[sk]=Továreň na widgety – aplikácia na náhľad témy pre gtk3
Comment[sl]=Tovarna gradnikov - aplikacija za predogled teme za gtk3
Comment[sm]=O se falegaosimea widget - o se talosaga muai muai autu mo le gtk3
Comment[sn]=Fekitori yewidget - theme preview application yegtk3
Comment[so]=Warshad widget- codsi horudhac u ah mawduuca gtk3
Comment[sq]=Një fabrikë miniaplikacionesh - një aplikacion paraprak i temave për gtk3
Comment[st]=Feme ea widget - sesebelisoa sa tlhahlobo ea sehlooho bakeng sa gtk3
Comment[su]=Pabrik widget - aplikasi sawangan téma pikeun gtk3
Comment[sv]=En widgetfabrik - en temaförhandsgranskningsapplikation för gtk3
Comment[sw]=Kiwanda cha wijeti - programu ya onyesho la kukagua mandhari ya gtk3
Comment[ta]=ஒரு விட்ஜெட் தொழிற்சாலை - gtk3 க்கான தீம் முன்னோட்ட பயன்பாடு
Comment[te]=విడ్జెట్ ఫ్యాక్టరీ - gtk3 కోసం థీమ్ ప్రివ్యూ అప్లికేషన్
Comment[tg]=Фабрикаи виджет - барномаи пешнамоиши мавзӯъ барои gtk3
Comment[th]=โรงงานวิดเจ็ต - แอปพลิเคชันแสดงตัวอย่างธีมสำหรับ gtk3
Comment[ti]=ፋብሪካ ዊጀት - ንgtk3 ዝኸውን ቅድመ-ምርኢት ቴማ መተግበሪ
Comment[tk]=Widjet zawody - gtk3 üçin mowzuk deslapky syn
Comment[tl]=Isang pabrika ng widget - isang application ng preview ng tema para sa gtk3
Comment[to]=Ko ha tohi kole widget ki he fale ngaohiʻanga ʻo e kaveinga ki he gtk3
Comment[ts]=Feme ya switirhisiwa - xitirhisiwa xa ku languta ka le mahlweni ka nhlokomhaka ya gtk3
Comment[tt]=Виджет фабрикасы - gtk3 өчен теманы алдан карау кушымтасы
Comment[tw]=Widget factory - asɛmti preview application ma gtk3
Comment[ty]=Te hoê fare hamaniraa tauihaa widget - te hoê parau aniraa tumu no te gtk3
Comment[ug]=ﻰﺴﯩﻤﻣﺍﺮﮔﻭﺮﭘ ﺵﯛﺭﯚﻛ ﻦﯨﺪﻟﺎﺋ ﺎﻤﯧﺘﺷﺎﺑ ﯔﯩﻧ gtk3 - ﻰﺗﯗﯞﺍﺯ ﻝﺍﺭﻮﻗ ﻚﯩﭽﯩﻛ
Comment[uk]=Фабрика віджетів - додаток для попереднього перегляду теми для gtk3
Comment[ur]=ﻦﺸﯿﮐ ﯽﻠﭙﯾﺍ ﮦﺭﺎﻈﻧ ﺶﯿﭘ ﻢﯿﮭﺗ ﮏﯾﺍ ﮯﯿﻟ ﮯﮐ gtk3 - ﯼﺮﭩﮑﯿﻓ ﭧﯿﺠﯾﻭ ﮏﯾﺍ
Comment[uz]=Vidjet zavodi - gtk3 uchun mavzuni oldindan korish ilovasi
Comment[vi]=Nhà máy widget - ứng dụng xem trước chủ đề cho gtk3
Comment[xh]=Umzi-mveliso wewijethi-isicelo sokujonga umxholo wegtk3
Comment[yi]=gtk3 ראַפֿ ןאַשייקאַלפּאַ גנוזיַיוו עקיסיוראָפ עמעט אַ - קירבאַפ טישזדיוו א
Comment[yo]=Ile-iṣẹ ẹrọ ailorukọ kan - ohun elo awotẹlẹ akori fun gtk3
Comment[zh]=小部件工厂 - gtk3 的主题预览应用程序
Comment[zu]=Imboni yewijethi - uhlelo lokusebenza lokubuka kuqala itimu ye-gtk3
Comment=A widget factory - a theme preview application for gtk3
Exec=awf-gtk3
Icon=awf.png
Terminal=false
Type=Application
Categories=X-Utility-development
StartupNotify=true
