[Desktop Entry]
Version=1.0
Name[fr]=Navigateur Web : Chromium
Name[de]=Chromium-Webbrowser
Name[ru]=Chromium веб-браузер
Name[es]=Chromium: navegador web
Name[tr]=Chromium web tarayıcısı
Name[af]=Chromium webblaaier
Name[am]=Chromium ድር አሳሽ
Name[ar]=Chromium ﺐﻳﻮﻟﺍ ﺢﻔﺼﺘﻣ
Name[as]=ক্ৰমিয়াম ৱেব ব্ৰাউজাৰ
Name[ay]=Chromo ukax web ukan uñt’ayatawa
Name[az]=Chromium veb brauzeri
Name[ba]=Хром веб-браузер
Name[be]=Вэб-браўзэр Chromium
Name[bg]=Уеб браузър Chromium
Name[bm]=Chrome web navigatɛri
Name[bn]=ক্রোমিয়াম ওয়েব ব্রাউজার
Name[bo]=铬་དྲ་རྒྱའི་བལྟ་ཆས།
Name[bs]=Chromium web preglednik
Name[ca]=Navegador web Chromium
Name[co]=navigatore web Chromium
Name[cs]=Webový prohlížeč Chromium
Name[cy]=Porwr gwe Chromium
Name[da]=Chromium webbrowser
Name[dv]=ވެއެ ޒާއުރަބް ބްވެ މްއަމިރޯކް
Name[ee]=Chromium ƒe nyatakakadzraɖoƒe
Name[el]=Πρόγραμμα περιήγησης ιστού Chromium
Name[eo]=Chromium-retumilo
Name[et]=Chromiumi veebibrauser
Name[eu]=Chromium web arakatzailea
Name[fa]=ﻡﻮﯿﻣﻭﺮﮐ ﺏﻭ ﺮﮔﺭﻭﺮﻣ
Name[fi]=Chromium-verkkoselain
Name[fj]=Barausa ni mataveilawa ni Chromium
Name[fo]=Chromium web browser
Name[fy]=Chromium webbrowser
Name[ga]=Brabhsálaí gréasáin cróimiam
Name[gd]=Brabhsair lìn chrome
Name[gl]=Navegador web chromium
Name[gn]=Navegador web cromo rehegua
Name[gu]=ક્રોમિયમ વેબ બ્રાઉઝર
Name[ha]=Chromium web browser
Name[he]=Chromium טנרטניא ןפדפד
Name[hi]=क्रोमियम वेब ब्राउज़र
Name[hr]=Chromium web preglednik
Name[ht]=Chromium navigatè entènèt
Name[hu]=Chromium webböngésző
Name[hy]=Chromium վեբ դիտարկիչ
Name[id]=Peramban web Chromium
Name[ig]=Ihe nchọgharị weebụ Chromium
Name[is]=Chromium vefvafri
Name[it]=Browser Web Chromium
Name[iu]=Chromium ᐃᑭᐊᖅᑭᕕᒃᑯᑦ ᕿᓂᕈᑎ
Name[ja]=クロムウェブブラウザ
Name[jv]=Browser web Chromium
Name[ka]=Chromium ვებ ბრაუზერი
Name[kk]=Chromium веб-шолғышы
Name[km]=កម្មវិធីរុករកបណ្ដាញ Chromium
Name[kn]=Chromium ವೆಬ್ ಬ್ರೌಸರ್
Name[ko]=크롬 웹 브라우저
Name[ku]=Geroka webê ya Chromium
Name[ky]=Chromium веб серепчиси
Name[la]=Chromium web pasco
Name[lb]=Chromium Webbrowser
Name[lg]=Chromium omukutu gwa yintaneeti
Name[ln]=Navigateur web ya chrome
Name[lo]=ໂປຣແກຣມທ່ອງເວັບ Chromium
Name[lt]=Chromium žiniatinklio naršyklė
Name[lv]=Chromium tīmekļa pārlūkprogramma
Name[mg]=mpitety tranonkala Chromium
Name[mi]=Pūtirotiro paetukutuku Chromium
Name[mk]=Веб-прелистувач Chromium
Name[ml]=Chromium വെബ് ബ്രൗസർ
Name[mn]=Chromium вэб хөтөч
Name[mr]=क्रोमियम वेब ब्राउझर
Name[ms]=penyemak imbas web Chromium
Name[mt]=Chrome web browser
Name[my]=Chromium ဝဘ်ဘရောက်ဆာ
Name[ne]=क्रोमियम वेब ब्राउजर
Name[nl]=Chromium-webbrowser
Name[no]=Chromium nettleser
Name[ny]=Msakatuli wa Chromium
Name[om]=Weeb biraawzari Kiroomiyeemii
Name[or]=କ୍ରୋମିୟମ୍ ୱେବ୍ ବ୍ରାଉଜର୍ |
Name[pa]=Chromium ਵੈੱਬ ਬ੍ਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa Chromium
Name[ps]=ﺭﺯﻭﺍﺮﺑ ﺐﯾﻭ ﻢﯿﻣﻭﺮﮐ ﺩ
Name[pt]=Navegador da Web Chromium
Name[qu]=Chromo web maskaq
Name[ro]=Browser web Chromium
Name[rw]=Urubuga rwa Chromium
Name[sa]=क्रोमियम जालपुटम्
Name[sd]=Chromium ﺭﺯﻮﺋﺍﺮﺑ ﺐﻳﻭ
Name[si]=Chromium වෙබ් බ්u200dරව්සරය
Name[sk]=Webový prehliadač Chromium
Name[sl]=Spletni brskalnik Chromium
Name[sm]=Chromium web browser
Name[sn]=Chromium web browser
Name[so]=browserka shabakada Chromium
Name[sq]=Shfletuesi i internetit Chromium
Name[st]=Sebatli sa marang-rang sa Chromium
Name[su]=Pangotektak wéb Chromium
Name[sv]=Chromium webbläsare
Name[sw]=Kivinjari cha wavuti cha Chromium
Name[ta]=Chromium இணைய உலாவி
Name[te]=Chromium వెబ్ బ్రౌజర్
Name[tg]=Браузери веб Chromium
Name[th]=เว็บเบราว์เซอร์โครเมียม
Name[ti]=ክሮሚየም መርበብ ሓበሬታ መርበብ ሓበሬታ
Name[tk]=Hrom web brauzeri
Name[tl]=Chromium web browser
Name[to]=Chromium web browser
Name[ts]=Xihlamusela-marito xa webu xa chromium
Name[tt]=Хром веб-браузер
Name[tw]=Chromium wɛb brawsa
Name[ty]=Faanahoraa no te Itenati Chromium
Name[ug]=ﯜﮔﺭﯚﻛﺭﻮﺗ ﻡﻭﺮﯩﺧ
Name[uk]=Веб-браузер Chromium
Name[ur]=ﺭﺯﺅﺍﺮﺑ ﺐﯾﻭ ﻢﯿﻣﻭﺮﮐ
Name[uz]=Chromium veb-brauzer
Name[vi]=trình duyệt web crom
Name[xh]=Isikhangeli sewebhu seChromium
Name[yi]=רערעטעלב בעוו םאַימואָרק
Name[yo]=Ẹrọ aṣawakiri wẹẹbu Chromium
Name[zh]=铬网络浏览器
Name[zu]=Isiphequluli sewebhu seChromium
Name=Chromium web browser
GenericName=Chromium
Comment[fr]=Navigateur Web Chromium
Comment[de]=Chromium-Webbrowser
Comment[ru]=Chromium веб-браузер
Comment[es]=Chromium: navegador web
Comment[tr]=Chromium web tarayıcısı
Comment[af]=Chromium webblaaier
Comment[am]=Chromium ድር አሳሽ
Comment[ar]=Chromium ﺐﻳﻮﻟﺍ ﺢﻔﺼﺘﻣ
Comment[as]=ক্ৰমিয়াম ৱেব ব্ৰাউজাৰ
Comment[ay]=Chromo ukax web ukan uñt’ayatawa
Comment[az]=Chromium veb brauzeri
Comment[ba]=Хром веб-браузер
Comment[be]=Вэб-браўзер Chromium
Comment[bg]=Уеб браузър Chromium
Comment[bm]=Chrome web navigatɛri
Comment[bn]=ক্রোমিয়াম ওয়েব ব্রাউজার
Comment[bo]=铬་དྲ་རྒྱའི་བལྟ་ཆས།
Comment[bs]=Chromium web preglednik
Comment[ca]=Navegador web Chromium
Comment[co]=navigatore web Chromium
Comment[cs]=Webový prohlížeč Chromium
Comment[cy]=Porwr gwe Chromium
Comment[da]=Chromium webbrowser
Comment[dv]=ވެއެ ޒާއުރަބް ބްވެ މްއަމިރޯކް
Comment[ee]=Chromium ƒe nyatakakadzraɖoƒe
Comment[el]=Πρόγραμμα περιήγησης ιστού Chromium
Comment[eo]=Chromium-retumilo
Comment[et]=Chromiumi veebibrauser
Comment[eu]=Chromium web arakatzailea
Comment[fa]=ﻡﻮﯿﻣﻭﺮﮐ ﺏﻭ ﺮﮔﺭﻭﺮﻣ
Comment[fi]=Chromium-verkkoselain
Comment[fj]=Barausa ni mataveilawa ni Chromium
Comment[fo]=Chromium web browser
Comment[fy]=Chromium webbrowser
Comment[ga]=Brabhsálaí gréasáin cróimiam
Comment[gd]=Brabhsair lìn chrome
Comment[gl]=Navegador web chromium
Comment[gn]=Navegador web cromo rehegua
Comment[gu]=ક્રોમિયમ વેબ બ્રાઉઝર
Comment[ha]=Chromium web browser
Comment[he]=Chromium טנרטניא ןפדפד
Comment[hi]=क्रोमियम वेब ब्राउज़र
Comment[hr]=Chromium web preglednik
Comment[ht]=Chromium navigatè entènèt
Comment[hu]=Chromium webböngésző
Comment[hy]=Chromium վեբ դիտարկիչ
Comment[id]=Peramban web Chromium
Comment[ig]=Ihe nchọgharị weebụ Chromium
Comment[is]=Chromium vefvafri
Comment[it]=Browser Web Chromium
Comment[iu]=Chromium ᐃᑭᐊᖅᑭᕕᒃᑯᑦ ᕿᓂᕈᑎ
Comment[ja]=クロムウェブブラウザ
Comment[jv]=Browser web Chromium
Comment[ka]=Chromium ვებ ბრაუზერი
Comment[kk]=Chromium веб-шолғышы
Comment[km]=កម្មវិធីរុករកបណ្ដាញ Chromium
Comment[kn]=Chromium ವೆಬ್ ಬ್ರೌಸರ್
Comment[ko]=크롬 웹 브라우저
Comment[ku]=Geroka webê ya Chromium
Comment[ky]=Chromium веб серепчиси
Comment[la]=Chromium web pasco
Comment[lb]=Chromium Webbrowser
Comment[lg]=Chromium omukutu gwa yintaneeti
Comment[ln]=Navigateur web ya chrome
Comment[lo]=ໂປຣແກຣມທ່ອງເວັບ Chromium
Comment[lt]=Chromium žiniatinklio naršyklė
Comment[lv]=Chromium tīmekļa pārlūkprogramma
Comment[mg]=mpitety tranonkala Chromium
Comment[mi]=Pūtirotiro paetukutuku Chromium
Comment[mk]=Веб-прелистувач Chromium
Comment[ml]=Chromium വെബ് ബ്രൗസർ
Comment[mn]=Chromium вэб хөтөч
Comment[mr]=क्रोमियम वेब ब्राउझर
Comment[ms]=penyemak imbas web Chromium
Comment[mt]=Chrome web browser
Comment[my]=Chromium ဝဘ်ဘရောက်ဆာ
Comment[ne]=क्रोमियम वेब ब्राउजर
Comment[nl]=Chromium-webbrowser
Comment[no]=Chromium nettleser
Comment[ny]=Msakatuli wa Chromium
Comment[om]=Weeb biraawzari Kiroomiyeemii
Comment[or]=କ୍ରୋମିୟମ୍ ୱେବ୍ ବ୍ରାଉଜର୍ |
Comment[pa]=Chromium ਵੈੱਬ ਬ੍ਰਾਊਜ਼ਰ
Comment[pl]=Przeglądarka internetowa Chromium
Comment[ps]=ﺭﺯﻭﺍﺮﺑ ﺐﯾﻭ ﻢﯿﻣﻭﺮﮐ ﺩ
Comment[pt]=Navegador da Web Chromium
Comment[qu]=Chromo web maskaq
Comment[ro]=Browser web Chromium
Comment[rw]=Urubuga rwa Chromium
Comment[sa]=क्रोमियम जालपुटम्
Comment[sd]=Chromium ﺭﺯﻮﺋﺍﺮﺑ ﺐﻳﻭ
Comment[si]=Chromium වෙබ් බ්u200dරව්සරය
Comment[sk]=Webový prehliadač Chromium
Comment[sl]=Spletni brskalnik Chromium
Comment[sm]=Chromium web browser
Comment[sn]=Chromium web browser
Comment[so]=browserka shabakada Chromium
Comment[sq]=Shfletuesi i internetit Chromium
Comment[st]=Sebatli sa marang-rang sa Chromium
Comment[su]=Pangotektak wéb Chromium
Comment[sv]=Chromium webbläsare
Comment[sw]=Kivinjari cha wavuti cha Chromium
Comment[ta]=Chromium இணைய உலாவி
Comment[te]=Chromium వెబ్ బ్రౌజర్
Comment[tg]=Браузери веб Chromium
Comment[th]=เว็บเบราว์เซอร์โครเมียม
Comment[ti]=ክሮሚየም መርበብ ሓበሬታ መርበብ ሓበሬታ
Comment[tk]=Hrom web brauzeri
Comment[tl]=Chromium web browser
Comment[to]=Chromium web browser
Comment[ts]=Xihlamusela-marito xa webu xa chromium
Comment[tt]=Хром веб-браузер
Comment[tw]=Chromium wɛb brawsa
Comment[ty]=Faanahoraa no te Itenati Chromium
Comment[ug]=ﯜﮔﺭﯚﻛﺭﻮﺗ ﻡﻭﺮﯩﺧ
Comment[uk]=Веб-браузер Chromium
Comment[ur]=ﺭﺯﺅﺍﺮﺑ ﺐﯾﻭ ﻢﯿﻣﻭﺮﮐ
Comment[uz]=Chromium veb-brauzer
Comment[vi]=trình duyệt web crom
Comment[xh]=Isikhangeli sewebhu seChromium
Comment[yi]=רערעטעלב בעוו םאַימואָרק
Comment[yo]=Ẹrọ aṣawakiri wẹẹbu Chromium
Comment[zh]=铬网络浏览器
Comment[zu]=Isiphequluli sewebhu seChromium
Comment=Chromium web browser
Exec=chromium
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium.png
Categories=X-Internet-browser
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Chromium-browser
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser
