[Desktop Entry]
Encoding=UTF-8
Name[fr]=Applications par défaut
Name[de]=Standardanwendungsauswahl
Name[es]=Elegir apps predeterminadas
Name[ru]=Выбор приложений по умолчанию
Name[af]=Verstek toepassingskieser
Name[am]=ነባሪ መተግበሪያዎች መራጭ
Name[ar]=ﻲﺿﺍﺮﺘﻓﻻ﻿ﺍ ﺕﺎﻘﻴﺒﻄﺘﻟﺍ ﻲﻘﺘﻨﻣ
Name[as]=অবিকল্পিত এপ্লিকেচনসমূহ নিৰ্বাচক
Name[ay]=Nayraqata Aplicaciones Ajlliri
Name[az]=Defolt Tətbiq Seçicisi
Name[ba]=Дефолт ҡушымталарын һайлаусы
Name[be]=Выбар праграм па змаўчанні
Name[bg]=Избор на приложения по подразбиране
Name[bm]=Aplikasiw sugandili daminɛbaga
Name[bn]=ডিফল্ট অ্যাপ্লিকেশন চয়নকারী
Name[bo]=ཁ་ཆད་དང་འགལ་བའི་ཉེར་སྤྱོད་གོ་རིམ་
Name[bs]=Zadani birač aplikacija
Name[ca]=Selector daplicacions per defecte
Name[co]=Selettore di applicazioni predefinitu
Name[cs]=Výběr výchozích aplikací
Name[cy]=Dewisydd Cymwysiadau Rhagosodedig
Name[da]=Standard applikationsvælger
Name[dv]=ރޒަޗޫ ސްންޝަކޭލިޕްއެ ޓްލްފޯޑި
Name[ee]=Dɔdamɔnu Siwo Tiatia Gbãtɔ
Name[el]=Επιλογέας προεπιλεγμένων εφαρμογών
Name[eo]=Defaŭlta Aplika Elektilo
Name[et]=Vaikimisi rakenduste valija
Name[eu]=Aplikazio-hautatzaile lehenetsia
Name[fa]=ﺽﺮﻓ ﺶﯿﭘ ﯼﺎﻫ ﻪﻣﺎﻧﺮﺑ ﺮﮕﺑﺎﺨﺘﻧﺍ
Name[fi]=Oletussovellusten valitsin
Name[fj]=Dau digidigi ni iVolakerekere Sega ni Vakayagataki
Name[fo]=Default Applications Chooser
Name[fy]=Standert applikaasjes kiezer
Name[ga]=Roghnóir Feidhmchlár Réamhshocraithe
Name[gd]=Neach-taghaidh Tagraidhean bunaiteach
Name[gl]=Selector de aplicacións predeterminado
Name[gn]=Aplicaciones por defecto Jeporavorã
Name[gu]=ડિફૉલ્ટ એપ્લિકેશન્સ પસંદકર્તા
Name[ha]=Tsoffin Aikace-aikacen Zaɓa
Name[he]=לדחמ תרירבכ רדגומה םימושיי ררוב
Name[hi]=डिफ़ॉल्ट एप्लिकेशन चयनकर्ता
Name[hr]=Birač zadanih aplikacija
Name[ht]=Default Applications Chooser
Name[hu]=Alapértelmezett alkalmazásválasztó
Name[hy]=Կանխադրված հավելվածների ընտրիչ
Name[id]=Pemilih Aplikasi Default
Name[ig]=Nhọrọ Ngwa
Name[is]=Sjálfgefinn forritaval
Name[it]=Selettore di applicazioni predefinito
Name[iu]=ᐊᑐᕈᓐᓃᖅᑎᓪᓗᒋᑦ ᐱᓇᔫᑎᑦ ᓂᕈᐊᖅᑕᑦ
Name[ja]=デフォルトのアプリケーションセレクター
Name[jv]=Pamilih Aplikasi Default
Name[ka]=ნაგულისხმევი აპლიკაციების ამომრჩეველი
Name[kk]=Әдепкі қолданбаларды таңдау құралы
Name[km]=កម្មវិធីជ្រើសរើសកម្មវិធីលំនាំដើម
Name[kn]=ಡೀಫಾಲ್ಟ್ ಅಪ್ಲಿಕೇಶನ್u200cಗಳ ಆಯ್ಕೆ
Name[ko]=기본 애플리케이션 선택기
Name[ku]=Hilbijêra Serlêdanên Bingehîn
Name[ky]=Демейки колдонмолорду тандагыч
Name[la]=Default Applications Chooser
Name[lb]=Standard Uwendungswieler
Name[lg]=Omulonda wEnkozesa Esookerwako
Name[ln]=Moponi ya ba Applications ya default
Name[lo]=ຕົວເລືອກແອັບພລິເຄຊັນເລີ່ມຕົ້ນ
Name[lt]=Numatytasis programų parinkiklis
Name[lv]=Noklusējuma lietojumprogrammu izvēle
Name[mg]=Default Applications Chooser
Name[mi]=Kaiwhiri Taupānga Taunoa
Name[mk]=Стандарден избирач на апликации
Name[ml]=ഡിഫോൾട്ട് ആപ്ലിക്കേഷൻസ് ചൂസർ
Name[mn]=Өгөгдмөл програм сонгогч
Name[mr]=डीफॉल्ट अनुप्रयोग निवडकर्ता
Name[ms]=Pemilih Aplikasi Lalai
Name[mt]=Applikazzjonijiet Default Chooser
Name[my]=ပုံသေ အပလီကေးရှင်းများ ရွေးချယ်ပေးသူ
Name[ne]=पूर्वनिर्धारित अनुप्रयोग चयनकर्ता
Name[nl]=Standaard applicatiekiezer
Name[no]=Standard applikasjonsvelger
Name[ny]=Chisankho cha Mapulogalamu
Name[om]=Filataa Appilikeeshiniiwwan Durtii
Name[or]=ଡିଫଲ୍ଟ ଆପ୍ଲିକେସନ୍ ଚୟନକର୍ତ୍ତା |
Name[pa]=ਡਿਫਾਲਟ ਐਪਲੀਕੇਸ਼ਨ ਚੋਣਕਾਰ
Name[pl]=Domyślny wybór aplikacji
Name[ps]=ﯽﮑﻧﻮﮐ ﺏﺎﺨﺘﻧﺍ ﮏﯿﻠﻨﺘښﻮﻏ ټﻟﺎﻔﯾډ ﺩ
Name[pt]=Seletor de aplicativos padrão
Name[qu]=Ñawpaqmanta churasqa Yanapakuykuna Akllaq
Name[ro]=Selector de aplicații implicit
Name[rw]=Mburabuzi Porogaramu Guhitamo
Name[sa]=पूर्वनिर्धारित अनुप्रयोग चयनकर्ता
Name[sd]=ڙﺪﻨﻳڊﻧﻮﭼ ﻦﺸﻴڪﻴﻠﭙﻳﺍ ٽﻟﺎﻓڊ
Name[si]=පෙරනිමි යෙදුම් තේරීම
Name[sk]=Výber predvolených aplikácií
Name[sl]=Izbirnik privzetih aplikacij
Name[sm]=Filifiliga Talosaga masani
Name[sn]=Default Applications Sarudza
Name[so]=Xulashada Codsiyada Default
Name[sq]=Zgjedhësi i parazgjedhur i aplikacioneve
Name[st]=Mokhethi oa Likopo tse sa Feleng
Name[su]=Pamilih Aplikasi Default
Name[sv]=Standardprogramväljare
Name[sw]=Kiteuzi Chaguomsingi cha Programu
Name[ta]=இயல்புநிலை பயன்பாடுகள் தேர்வு
Name[te]=డిఫాల్ట్ అప్లికేషన్ల ఎంపిక
Name[tg]=Интихобкунандаи барномаҳои пешфарз
Name[th]=ตัวเลือกแอปพลิเคชันเริ่มต้น
Name[ti]=ነባሪ መተግበሪታት መምረጺ
Name[tk]=Bellenen programmalary saýlaýjy
Name[tl]=Default na Tagapili ng Application
Name[to]=Peesi tuʻumaʻu Chooser Applications
Name[tr]=Varsayılan Uygulama Seçici
Name[ts]=Muhlawuri wa Switirhisiwa swa Xihlawulekisi
Name[tt]=Килешү кушымталарын сайлау
Name[tw]=Default Applications Pawfo a Wɔde Di Dwuma
Name[ty]=Te mau faaohiparaa hape
Name[ug]=ﭺﯘﻐﯩﻠﻟﺎﺗ ﻰﻧﺭﻼ﻿ﯩﻤﻣﺍﺮﮔﻭﺮﭘ ﻰﻜﯩﺘﺗﯜﻛﯜﺳ
Name[uk]=Вибір програм за замовчуванням
Name[ur]=ﮦﺪﻨﻨﮐ ﺏﺎﺨﺘﻧﺍ ﺎﮐ ﺰﻨﺸﯿﮑﯿﻠﭙﯾﺍ ﭧﻟﺎﻔﯾﮈ
Name[uz]=Standart ilovalarni tanlash
Name[vi]=Trình chọn ứng dụng mặc định
Name[xh]=Umkhethi Wezicelo oMiselweyo
Name[yi]=ןביַילק סנאָיטאַקילפּפּאַ טיַיקילעפ
Name[yo]=Awọn ohun elo Aiyipada Yiyan
Name[zh]=默认应用程序选择器
Name[zu]=Isikhethi Sezinhlelo Zokusebenza
Name=Default Applications Chooser
Icon=Executable.xpm
Comment[fr]=Sélecteur d'applications par défaut
Comment[de]=Standardanwendungsauswahl
Comment[es]=Selector de aplicaciones predeterminadas
Comment[ru]=Выбор приложений по умолчанию
Comment[af]=Verstek toepassingskieser
Comment[am]=ነባሪ መተግበሪያዎች መራጭ
Comment[ar]=ﻲﺿﺍﺮﺘﻓﻻ﻿ﺍ ﺕﺎﻘﻴﺒﻄﺘﻟﺍ ﻲﻘﺘﻨﻣ
Comment[as]=অবিকল্পিত এপ্লিকেচনসমূহ নিৰ্বাচক
Comment[ay]=Nayraqata Aplicaciones Ajlliri
Comment[az]=Defolt Tətbiq Seçicisi
Comment[ba]=Дефолт ҡушымталарын һайлаусы
Comment[be]=Выбар праграм па змаўчанні
Comment[bg]=Избор на приложения по подразбиране
Comment[bm]=Aplikasiw sugandili daminɛbaga
Comment[bn]=ডিফল্ট অ্যাপ্লিকেশন চয়নকারী
Comment[bo]=ཁ་ཆད་དང་འགལ་བའི་ཉེར་སྤྱོད་གོ་རིམ་
Comment[bs]=Zadani birač aplikacija
Comment[ca]=Selector daplicacions per defecte
Comment[co]=Selettore di applicazioni predefinitu
Comment[cs]=Výběr výchozích aplikací
Comment[cy]=Dewisydd Cymwysiadau Rhagosodedig
Comment[da]=Standard applikationsvælger
Comment[dv]=ރޒަޗޫ ސްންޝަކޭލިޕްއެ ޓްލްފޯޑި
Comment[ee]=Dɔdamɔnu Siwo Tiatia Gbãtɔ
Comment[el]=Επιλογέας προεπιλεγμένων εφαρμογών
Comment[eo]=Defaŭlta Aplika Elektilo
Comment[et]=Vaikimisi rakenduste valija
Comment[eu]=Aplikazio-hautatzaile lehenetsia
Comment[fa]=ﺽﺮﻓ ﺶﯿﭘ ﯼﺎﻫ ﻪﻣﺎﻧﺮﺑ ﺮﮕﺑﺎﺨﺘﻧﺍ
Comment[fi]=Oletussovellusten valitsin
Comment[fj]=Dau digidigi ni iVolakerekere Sega ni Vakayagataki
Comment[fo]=Default Applications Chooser
Comment[fy]=Standert applikaasjes kiezer
Comment[ga]=Roghnóir Feidhmchlár Réamhshocraithe
Comment[gd]=Roghainn Tagraidhean bunaiteach
Comment[gl]=Selector de aplicacións predeterminado
Comment[gn]=Aplicaciones por defecto Jeporavorã
Comment[gu]=ડિફૉલ્ટ એપ્લિકેશન્સ પસંદકર્તા
Comment[ha]=Tsoffin Aikace-aikacen Zaɓa
Comment[he]=לדחמ תרירבכ רדגומה םימושיי ררוב
Comment[hi]=डिफ़ॉल्ट एप्लिकेशन चयनकर्ता
Comment[hr]=Birač zadanih aplikacija
Comment[ht]=Default Applications Chooser
Comment[hu]=Alapértelmezett alkalmazásválasztó
Comment[hy]=Կանխադրված հավելվածների ընտրիչ
Comment[id]=Pemilih Aplikasi Default
Comment[ig]=Nhọrọ Ngwa
Comment[is]=Sjálfgefinn forritaval
Comment[it]=Selettore di applicazioni predefinito
Comment[iu]=ᐊᑐᕈᓐᓃᖅᑎᓪᓗᒋᑦ ᐱᓇᔫᑎᑦ ᓂᕈᐊᖅᑕᑦ
Comment[ja]=デフォルトのアプリケーションセレクター
Comment[jv]=Pamilih Aplikasi Default
Comment[ka]=ნაგულისხმევი აპლიკაციების ამომრჩეველი
Comment[kk]=Әдепкі қолданбаларды таңдау құралы
Comment[km]=កម្មវិធីជ្រើសរើសកម្មវិធីលំនាំដើម
Comment[kn]=ಡೀಫಾಲ್ಟ್ ಅಪ್ಲಿಕೇಶನ್u200cಗಳ ಆಯ್ಕೆ
Comment[ko]=기본 애플리케이션 선택기
Comment[ku]=Hilbijêra Serlêdanên Bingehîn
Comment[ky]=Демейки колдонмолорду тандагыч
Comment[la]=Default Applications Chooser
Comment[lb]=Standard Uwendungswieler
Comment[lg]=Omulonda wEnkozesa Esookerwako
Comment[ln]=Moponi ya ba Applications ya default
Comment[lo]=ຕົວເລືອກແອັບພລິເຄຊັນເລີ່ມຕົ້ນ
Comment[lt]=Numatytasis programų parinkiklis
Comment[lv]=Noklusējuma lietojumprogrammu izvēle
Comment[mg]=Default Applications Chooser
Comment[mi]=Kaiwhiri Taupānga Taunoa
Comment[mk]=Стандарден избирач на апликации
Comment[ml]=ഡിഫോൾട്ട് ആപ്ലിക്കേഷൻസ് ചൂസർ
Comment[mn]=Өгөгдмөл програм сонгогч
Comment[mr]=डीफॉल्ट अनुप्रयोग निवडकर्ता
Comment[ms]=Pemilih Aplikasi Lalai
Comment[mt]=Applikazzjonijiet Default Chooser
Comment[my]=ပုံသေ အပလီကေးရှင်းများ ရွေးချယ်မှု
Comment[ne]=पूर्वनिर्धारित अनुप्रयोग चयनकर्ता
Comment[nl]=Standaard applicatiekiezer
Comment[no]=Standard applikasjonsvelger
Comment[ny]=Chisankho cha Mapulogalamu
Comment[om]=Filataa Appilikeeshiniiwwan Durtii
Comment[or]=ଡିଫଲ୍ଟ ଆପ୍ଲିକେସନ୍ ଚୟନକର୍ତ୍ତା |
Comment[pa]=ਡਿਫਾਲਟ ਐਪਲੀਕੇਸ਼ਨ ਚੋਣਕਾਰ
Comment[pl]=Domyślny wybór aplikacji
Comment[ps]=ﯽﮑﻧﻮﮐ ﺏﺎﺨﺘﻧﺍ ﮏﯿﻠﻨﺘښﻮﻏ ټﻟﺎﻔﯾډ ﺩ
Comment[pt]=Seletor de aplicativos padrão
Comment[qu]=Ñawpaqmanta churasqa Yanapakuykuna Akllaq
Comment[ro]=Selector de aplicații implicit
Comment[rw]=Mburabuzi Porogaramu Guhitamo
Comment[sa]=पूर्वनिर्धारित अनुप्रयोग चयनकर्ता
Comment[sd]=ڙﺪﻨﻳڊﻧﻮﭼ ﻦﺸﻴڪﻴﻠﭙﻳﺍ ٽﻟﺎﻓڊ
Comment[si]=පෙරනිමි යෙදුම් තේරීම
Comment[sk]=Výber predvolených aplikácií
Comment[sl]=Izbirnik privzetih aplikacij
Comment[sm]=Filifiliga Talosaga masani
Comment[sn]=Default Applications Sarudza
Comment[so]=Xulashada Codsiyada Default
Comment[sq]=Zgjedhësi i parazgjedhur i aplikacioneve
Comment[st]=Mokhethi oa Likopo tse sa Feleng
Comment[su]=Pamilih Aplikasi Default
Comment[sv]=Standardprogramväljare
Comment[sw]=Kiteuzi Chaguomsingi cha Programu
Comment[ta]=இயல்புநிலை பயன்பாடுகள் தேர்வு
Comment[te]=డిఫాల్ట్ అప్లికేషన్ల ఎంపిక
Comment[tg]=Интихобкунандаи барномаҳои пешфарз
Comment[th]=ตัวเลือกแอปพลิเคชันเริ่มต้น
Comment[ti]=ነባሪ መተግበሪታት መምረጺ
Comment[tk]=Bellenen programmalary saýlaýjy
Comment[tl]=Default na Tagapili ng Application
Comment[to]=Peesi tuʻumaʻu Chooser Applications
Comment[tr]=Varsayılan Uygulama Seçici
Comment[ts]=Muhlawuri wa Switirhisiwa swa Xihlawulekisi
Comment[tt]=Килешү кушымталарын сайлау
Comment[tw]=Default Applications Pawfo a Wɔde Di Dwuma
Comment[ty]=Te mau faaohiparaa hape
Comment[ug]=ﭺﯘﻐﯩﻠﻟﺎﺗ ﻰﻧﺭﻼ﻿ﯩﻤﻣﺍﺮﮔﻭﺮﭘ ﻰﻜﯩﺘﺗﯜﻛﯜﺳ
Comment[uk]=Вибір програм за замовчуванням
Comment[ur]=ﮦﺪﻨﻨﮐ ﺏﺎﺨﺘﻧﺍ ﺎﮐ ﺰﻨﺸﯿﮑﯿﻠﭙﯾﺍ ﭧﻟﺎﻔﯾﮈ
Comment[uz]=Standart ilovalarni tanlash
Comment[vi]=Trình chọn ứng dụng mặc định
Comment[xh]=Umkhethi Wezicelo oMiselweyo
Comment[yi]=ןביַילק סנאָיטאַקילפּפּאַ טיַיקילעפ
Comment[yo]=Awọn ohun elo Aiyipada Yiyan
Comment[zh]=默认应用程序选择器
Comment[zu]=Isikhethi Sezinhlelo Zokusebenza
Comment=Default Applications Chooser
Exec=defaults-chooser
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=Default-Applications-Chooser
