[Desktop Entry]
Name[fr]=Webcam de téléphone : DroidCam
Name[de]=DroidCam Telefon Webcam
Name[es]=DroidCam: usar teléfono como webcam
Name[ru]=Веб-камера телефона DroidCam
Name[tr]=Droidcam Telefon Kamerası
Name[af]=DroidCam-foonwebkamera
Name[am]=DroidCam ስልክ ድር ካሜራ
Name[ar]=DroidCam ﻒﺗﺎﻫ ﺍﺮﻴﻣﺎﻛ
Name[as]=DroidCam ফোন ৱেবকেম
Name[ay]=DroidCam ukax mä webcam ukhamawa
Name[az]=DroidCam telefon veb kamerası
Name[ba]=DroidCam телефон веб-камераһы
Name[be]=Вэб-камера тэлефона DroidCam
Name[bg]=DroidCam телефонна уеб камера
Name[bm]=DroidCam telefɔni webcam
Name[bn]=DroidCam ফোন ওয়েবক্যাম
Name[bo]=DroidCam ཁ་པར་གྱི་དྲ་ངོས་སུ་ཡོད།
Name[bs]=DroidCam telefonska web kamera
Name[ca]=Càmera web del telèfon DroidCam
Name[co]=webcam di u telefonu DroidCam
Name[cs]=Webová kamera telefonu DroidCam
Name[cy]=Gwegamera ffôn DroidCam
Name[da]=DroidCam telefon webcam
Name[dv]=މްކެބްވެ ނުފޯ މްކެޑްއިރޮޑް
Name[ee]=DroidCam telefon ƒe nyatakakadzraɖoƒe
Name[el]=Κάμερα τηλεφώνου DroidCam
Name[eo]=DroidCam telefona retkamerao
Name[et]=DroidCami telefoni veebikaamera
Name[eu]=DroidCam telefonoaren webcama
Name[fa]=DroidCam ﻦﻔﻠﺗ ﻢﮐ ﺏﻭ
Name[fi]=DroidCam puhelimen verkkokamera
Name[fj]=DroidCam talevoni webcam
Name[fo]=DroidCam telefon webcam
Name[fy]=DroidCam telefoan webcam
Name[ga]=Droidcam ceamara gréasáin ar do ghuthán
Name[gd]=Camara fòn DroidCam
Name[gl]=Cámara web do teléfono DroidCam
Name[gn]=DroidCam teléfono webcam rehegua
Name[gu]=DroidCam ફોન વેબકેમ
Name[ha]=DroidCam kyamarar gidan yanar gizo
Name[he]=DroidCam ןופלטל טנרטניא תמלצמ
Name[hi]=DroidCam फ़ोन वेबकैम
Name[hr]=DroidCam telefonska web kamera
Name[ht]=DroidCam telefòn webcam
Name[hu]=DroidCam telefon webkamera
Name[hy]=DroidCam հեռախոսի վեբ-տեսախցիկ
Name[id]=Kamera web ponsel DroidCam
Name[ig]=Igwefoto ekwentị DroidCam
Name[is]=DroidCam sími vefmyndavél
Name[it]=Webcam del telefono DroidCam
Name[iu]=DroidCam ᐅᖃᓘᑎᓄᑦ ᐃᑭᐊᖅᑭᕕᒃᑯᑦ
Name[ja]=DroidCam 電話のウェブカメラ
Name[jv]=Webcam telpon DroidCam
Name[ka]=DroidCam ტელეფონის ვებკამერა
Name[kk]=DroidCam телефонының веб-камерасы
Name[km]=កាមេរ៉ាបណ្ដាញទូរស័ព្ទ DroidCam
Name[kn]=DroidCam ಫೋನ್ ವೆಬ್u200cಕ್ಯಾಮ್
Name[ko]=DroidCam 전화 웹캠
Name[ku]=Webkamera têlefonê DroidCam
Name[ky]=DroidCam телефонунун веб-камерасы
Name[la]=Droidcam phone webcam
Name[lb]=DroidCam Telefon Webcam
Name[lg]=DroidCam essimu webcam
Name[ln]=Webcam ya telefone ya DroidCam
Name[lo]=webcam ໂທລະສັບ DroidCam
Name[lt]=DroidCam telefono internetinė kamera
Name[lv]=DroidCam tālruņa tīmekļa kamera
Name[mg]=DroidCam finday webcam
Name[mi]=DroidCam waea webcam
Name[mk]=Веб камера на телефон DroidCam
Name[ml]=DroidCam ഫോൺ വെബ്u200cക്യാം
Name[mn]=DroidCam утасны вэбкамер
Name[mr]=DroidCam फोन वेबकॅम
Name[ms]=Kamera web telefon DroidCam
Name[mt]=Webcam tat-telefon DroidCam
Name[my]=DroidCam ဖုန်း webcam
Name[ne]=DroidCam फोन वेबक्याम
Name[nl]=DroidCam-telefoonwebcam
Name[no]=DroidCam telefon webkamera
Name[ny]=DroidCam foni webcam
Name[om]=Kaameeraa bilbilaa DroidCam
Name[or]=DroidCam ଫୋନ୍ ୱେବକ୍ୟାମ୍ |
Name[pa]=DroidCam ਫ਼ੋਨ ਵੈਬਕੈਮ
Name[pl]=Kamera internetowa telefonu DroidCam
Name[ps]=ﻢﯿﮐ ﺐﯾﻭ ﻥﻮﻔﯿﻠﺗ DroidCam ﺩ
Name[pt]=Webcam do telefone DroidCam
Name[qu]=DroidCam telefono webcam nisqa
Name[ro]=Cameră web pentru telefon DroidCam
Name[rw]=Urubuga rwa terefone ya DroidCam
Name[sa]=DroidCam फ़ोन वेबकैम
Name[sd]=DroidCam ﻢﻴڪ ﺐﻳﻭ ﻥﻮﻓ
Name[si]=DroidCam දුරකථන වෙබ් කැමරාව
Name[sk]=Webová kamera telefónu DroidCam
Name[sl]=Spletna kamera telefona DroidCam
Name[sm]=DroidCam telefoni feaveaʻi
Name[sn]=DroidCam foni webcam
Name[so]=Kaamirada taleefanka ee DroidCam
Name[sq]=Uebkamera e telefonit DroidCam
Name[st]=DroidCam fono webcam
Name[su]=Webcam telepon DroidCam
Name[sv]=DroidCam mobil webbkamera
Name[sw]=Kamera ya wavuti ya simu ya DroidCam
Name[ta]=DroidCam தொலைபேசி வெப்கேம்
Name[te]=DroidCam ఫోన్ వెబ్u200cక్యామ్
Name[tg]=Веб-камераи телефони DroidCam
Name[th]=เว็บแคมของโทรศัพท์ DroidCam
Name[ti]=ድሮይድካም ስልኪ ዌብካም
Name[tk]=DroidCam telefon web kamerasy
Name[tl]=DroidCam na webcam ng telepono
Name[to]=DroidCam telefoni webcam
Name[ts]=Webcam ya riqingho ra DroidCam
Name[tt]=DroidCam телефон веб-камерасы
Name[tw]=DroidCam telefon so wɛbsaet kamera
Name[ty]=DroidCam phone webcam
Name[ug]=DroidCam ﻰﺳﺍﺮﯧﻣﺎﻛ ﺭﻮﺗ ﻥﻮﻔﯧﻠﯧﺗ
Name[uk]=Веб-камера телефону DroidCam
Name[ur]=DroidCam ﻢﯿﮐ ﺐﯾﻭ ﻥﻮﻓ
Name[uz]=DroidCam telefon veb-kamerasi
Name[vi]=Webcam điện thoại DroidCam
Name[xh]=Ikhamera yewebhu ye-DroidCam yefowuni
Name[yi]=DroidCam םאַקבעוו ןאָפעלעט
Name[yo]=DroidCam foonu webi
Name[zh]=DroidCam 手机网络摄像头
Name[zu]=Ikhamera yewebhu yefoni ye-DroidCam
Name=DroidCam phone webcam
GenericName=DroidCam
Comment[fr]=DroidCam téléphone Android et iPhone comme webcam
Comment[de]=DroidCam Android Handy und iPhone als Webcam
Comment[es]=DroidCam: usar teléfono Android / iPhone como webcam
Comment[ru]=Android-телефон DroidCam и iPhone в качестве веб-камеры
Comment[tr]=Droidcam Telefon Kamerası
Comment[af]=DroidCam Android-selfoon en iPhone as webcam
Comment[am]=DroidCam አንድሮይድ ስልክ እና አይፎን እንደ ድር ካሜራ
Comment[ar]=ﺐﻳﻭ ﺍﺮﻴﻣﺎﻜﻛ iPhone ﻭ DroidCam Android ﻒﺗﺎﻫ
Comment[as]=DroidCam ৱেবকেম হিচাপে এণ্ড্ৰইড ফোন আৰু আইফোন
Comment[ay]=DroidCam Android teléfono ukat iPhone ukax webcam ukhamawa
Comment[az]=DroidCam Android telefonu və veb-kamera kimi iPhone
Comment[ba]=Webcam сифатында DroidCam Android телефоны һәм iPhone
Comment[be]=Тэлефон DroidCam Android і iPhone у якасці вэб-камеры
Comment[bg]=DroidCam Android телефон и iPhone като уеб камера
Comment[bm]=DroidCam Android telefɔni ani iPhone i na fɔ webcam
Comment[bn]=DroidCam অ্যান্ড্রয়েড ফোন এবং আইফোন ওয়েবক্যাম হিসাবে
Comment[bo]=DroidCam Android ဖုန်း་དང་ལག་ཁྱེར་ཁ་པར་དེ་དྲ་རྒྱའི་ངོས་སུ་བྱས།
Comment[bs]=DroidCam Android telefon i iPhone kao web kamera
Comment[ca]=Telèfon Android DroidCam i iPhone com a càmera web
Comment[co]=DroidCam telefonu Android è iPhone cumè webcam
Comment[cs]=DroidCam Android telefon a iPhone jako webová kamera
Comment[cy]=DroidCam ffôn Android ac iPhone fel gwe-gamera
Comment[da]=DroidCam Android-telefon og iPhone som webcam
Comment[dv]=ވެއެގަތުގޮ ގެމްކެބްވެ ންފޯއިއަ އިނާފޯ ޑްއިރޮޑްންއެ މްކެޑްއިރޮޑް
Comment[ee]=DroidCam Android telefon kple iPhone abe webcam ene
Comment[el]=DroidCam τηλέφωνο Android και iPhone ως κάμερα web
Comment[eo]=DroidCam Android-telefono kaj iPhone kiel retkamerao
Comment[et]=DroidCam Android-telefon ja iPhone veebikaamerana
Comment[eu]=DroidCam Android telefonoa eta iPhone webcam gisa
Comment[fa]=DroidCam ﻢﮐ ﺏﻭ ﻥﺍﻮﻨﻋ ﻪﺑ ﻥﻮﻔﯾﺁ ﻭ ﺪﯾﻭﺭﺪﻧﺍ ﯽﺷﻮﮔ
Comment[fi]=DroidCam Android-puhelin ja iPhone verkkokamerana
Comment[fj]=DroidCam talevoni Android kei na iPhone me webcam
Comment[fo]=DroidCam Android telefon og iPhone sum webcam
Comment[fy]=DroidCam Android telefoan en iPhone as webcam
Comment[ga]=DroidCam fón Android agus iPhone mar cheamara gréasáin
Comment[gd]=DroidCam fòn Android agus iPhone mar chamara-lìn
Comment[gl]=Teléfono Android DroidCam e iPhone como cámara web
Comment[gn]=DroidCam Android teléfono ha iPhone webcam ramo
Comment[gu]=DroidCam Android ફોન અને iPhone વેબકેમ તરીકે
Comment[ha]=DroidCam wayar Android da iPhone azaman kyamarar gidan yanar gizo
Comment[he]=DroidCam טנרטניא תמלצמכ ןופייאו דיאורדנא ןופלט
Comment[hi]=DroidCam Android फ़ोन और iPhone वेबकैम के रूप में
Comment[hr]=DroidCam Android telefon i iPhone kao web kamera
Comment[ht]=DroidCam Android telefòn ak iPhone kòm webcam
Comment[hu]=DroidCam Android telefon és iPhone webkameraként
Comment[hy]=DroidCam Android հեռախոսը և iPhone-ը որպես վեբ-տեսախցիկ
Comment[id]=Ponsel Android DroidCam dan iPhone sebagai webcam
Comment[ig]=DroidCam gam akporo ekwentị na iPhone dị ka kamera weebụ
Comment[is]=DroidCam Android sími og iPhone sem vefmyndavél
Comment[it]=Telefono Android DroidCam e iPhone come webcam
Comment[iu]=DroidCam Android ᐅᖃᓘᑎ ᐊᒻᒪ iPhone ᐃᑭᐊᖅᑭᕕᒃᑯᑦ
Comment[ja]=DroidCam Android フォンおよび iPhone をウェブカメラとして使用
Comment[jv]=DroidCam telpon Android lan iPhone minangka webcam
Comment[ka]=DroidCam Android ტელეფონი და iPhone, როგორც ვებკამერა
Comment[kk]=DroidCam Android телефоны және веб-камера ретінде iPhone
Comment[km]=DroidCam ទូរស័ព្ទ Android និង iPhone ជា webcam
Comment[kn]=DroidCam Android ಫೋನ್ ಮತ್ತು ವೆಬ್u200cಕ್ಯಾಮ್u200cನಂತೆ ಐಫೋನ್
Comment[ko]=웹캠으로 DroidCam Android 전화 및 iPhone
Comment[ku]=DroidCam telefona Android û iPhone wekî webcam
Comment[ky]=DroidCam Android телефону жана веб-камера катары iPhone
Comment[la]=Droidcam Android phone et iPhone sicut webcam
Comment[lb]=DroidCam Android Telefon an iPhone als Webcam
Comment[lg]=DroidCam Essimu ya Android ne iPhone nga webcam
Comment[ln]=DroidCam Telephone Android mpe iPhone lokola webcam
Comment[lo]=DroidCam ໂທລະສັບ Android ແລະ iPhone ເປັນ webcam
Comment[lt]=DroidCam Android telefonas ir iPhone kaip internetinė kamera
Comment[lv]=DroidCam Android tālrunis un iPhone kā tīmekļa kamera
Comment[mg]=DroidCam finday Android sy iPhone ho webcam
Comment[mi]=DroidCam waea Android me te iPhone hei webcam
Comment[mk]=DroidCam Андроид телефон и iPhone како веб камера
Comment[ml]=DroidCam ആൻഡ്രോയിഡ് ഫോണും ഐഫോണും വെബ്u200cക്യാമായി
Comment[mn]=DroidCam Android утас болон iPhone-ыг вэбкамер болгон ашигладаг
Comment[mr]=DroidCam Android फोन आणि आयफोन वेबकॅम म्हणून
Comment[ms]=Telefon Android dan iPhone DroidCam sebagai kamera web
Comment[mt]=Telefon DroidCam Android u iPhone bħala webcam
Comment[my]=Webcam အဖြစ် DroidCam Android ဖုန်းနှင့် iPhone
Comment[ne]=DroidCam एन्ड्रोइड फोन र आईफोन वेबक्यामको रूपमा
Comment[nl]=DroidCam Android-telefoon en iPhone als webcam
Comment[no]=DroidCam Android-telefon og iPhone som webkamera
Comment[ny]=DroidCam Android foni ndi iPhone ngati webukamu
Comment[om]=DroidCam Bilbila Android fi iPhone akka webcam
Comment[or]=ୱେବକ୍ୟାମ ଭାବରେ DroidCam ଆଣ୍ଡ୍ରଏଡ୍ ଫୋନ୍ ଏବଂ ଆଇଫୋନ୍ |
Comment[pa]=DroidCam ਐਂਡਰਾਇਡ ਫੋਨ ਅਤੇ ਆਈਫੋਨ ਵੈਬਕੈਮ ਵਜੋਂ
Comment[pl]=Telefon DroidCam z Androidem i iPhone jako kamera internetowa
Comment[ps]=DroidCam Android ﻭﺍ ﻥﻮﻔﯿﻠﺗ iPhone ﻪګﻮﺗ ﻪﭘ ﻢﯿﮐ ﺐﯾﻭ ﺩ
Comment[pt]=DroidCam telefone Android e iPhone como webcam
Comment[qu]=DroidCam Android telefono chaymanta iPhone webcam hina
Comment[ro]=Telefon Android DroidCam și iPhone ca cameră web
Comment[rw]=DroidCam Terefone ya Android na iPhone nkurubuga
Comment[sa]=DroidCam Android फ़ोन तथा iPhone webcam रूपेण
Comment[sd]=DroidCam Android ﺭﻮﻃ ﻢﻴڪ ﺐﻳﻭ ﻥﻮﻓ ﻲﺋﺁ ۽ ﻥﻮﻓ
Comment[si]=DroidCam Android දුරකථනය සහ iPhone වෙබ් කැමරාව ලෙස
Comment[sk]=Telefón DroidCam Android a iPhone ako webová kamera
Comment[sl]=DroidCam Android telefon in iPhone kot spletna kamera
Comment[sm]=DroidCam Android telefoni ma iPhone o se webcam
Comment[sn]=DroidCam Android foni uye iPhone sewebhu kamera
Comment[so]=DroidCam Android phone iyo iPhone sida webcam
Comment[sq]=Telefon Android DroidCam dhe iPhone si kamera në internet
Comment[st]=DroidCam Android fono le iPhone e le webcam
Comment[su]=DroidCam telepon Android sarta iPhone salaku Webcam
Comment[sv]=DroidCam Android-telefon och iPhone som webbkamera
Comment[sw]=Simu ya DroidCam ya Android na iPhone kama kamera ya wavuti
Comment[ta]=DroidCam ஆண்ட்ராய்டு தொலைபேசி மற்றும் ஐபோன் வெப்கேமாக
Comment[te]=DroidCam Android ఫోన్ మరియు iPhone వెబ్u200cక్యామ్u200cగా
Comment[tg]=DroidCam телефони Android ва iPhone ҳамчун веб-камера
Comment[th]=โทรศัพท์ DroidCam Android และ iPhone เป็นเว็บแคม
Comment[ti]=DroidCam ኣንድሮይድ ስልክን ኣይፎንን ከም ዌብካም
Comment[tk]=DroidCam Android telefony we iPhone web kamerasy hökmünde
Comment[tl]=DroidCam Android phone at iPhone bilang webcam
Comment[to]=DroidCam Android telefoni mo e iPhone ko webcam
Comment[ts]=DroidCam Foni ya Android na iPhone tanihi webcam
Comment[tt]=DroidCam Android телефоны һәм iPhone веб-камера
Comment[tw]=DroidCam Android fon ne iPhone sɛ wɛbsaet kamera
Comment[ty]=DroidCam Android phone e iPhone as webcam
Comment[ug]=DroidCam ەﺪﯩﺘﯩﭘﯜﺳ ﺍﺮﯧﻣﺎﻛ ﻰﻨﻧﻮﻔﻳﺎﺋ ەﯞ ﻰﻧﻮﻔﯧﻠﯧﺗ ﺪﯩﻳﻭﺮﯨﺪﻧﺎﺋ
Comment[uk]=Телефон DroidCam Android і iPhone як веб-камера
Comment[ur]=DroidCam ﻢﯿﮐ ﺐﯾﻭ ﺭﻮﻄﺑ ﻥﻮﻓ ﯽﺋﺁ ﺭﻭﺍ ﻥﻮﻓ ﮉﯿﺋﺍﺭﮉﻨﯾﺍ
Comment[uz]=DroidCam Android telefoni va iPhone veb-kamera sifatida
Comment[vi]=DroidCam Điện thoại Android và iPhone làm webcam
Comment[xh]=Ifowuni ye-DroidCam ye-Android kunye ne-iPhone njengekhamera yewebhu
Comment[yi]=DroidCam ןוא ןאָפעלעט דיורדנאַ iPhone םאַקבעוו יוו
Comment[yo]=DroidCam Android foonu ati iPhone bi webi
Comment[zh]=DroidCam Android 手机和 iPhone 作为网络摄像头
Comment[zu]=Ifoni ye-DroidCam ye-Android ne-iPhone njengekhamera yewebhu
Comment=DroidCam Android phone and iPhone as webcam
Exec=droidcam
Icon=droidcam.png
Terminal=false
Type=Application
Categories=X-Multimedia-video
