[Desktop Entry]
Name[fr]=Afficheur PDF : Evince
Name[de]=Evince PDF-Viewer
Name[es]=Evince: lector de PDF
Name[ru]=Evince просмотрщик PDF
Name[af]=Evince PDF-kyker
Name[am]=ማስረጃ ፒዲኤፍ መመልከቻ
Name[ar]=PDF ﺽﺭﺎﻋ ﺕﺎﺒﺛﺇ
Name[as]=পিডিএফ দৰ্শক প্ৰমাণ কৰক
Name[ay]=Evince PDF uñakipiri
Name[az]=Evince pdf görüntüleyici
Name[ba]=Evence PDF тамашасыһы
Name[be]=Праграма прагляду PDF Evince
Name[bg]=Evince PDF преглед
Name[bm]=Evince PDF filɛlikɛlan
Name[bn]=ইভিন্স পিডিএফ ভিউয়ার
Name[bo]=Evince PDFལྟ་མཁན།
Name[bs]=Evince PDF preglednik
Name[ca]=Visor de PDF Evince
Name[co]=Visualizzatore PDF Evince
Name[cs]=Evince prohlížeč PDF
Name[cy]=Gwyliwr PDF Evince
Name[da]=Evince PDF-fremviser
Name[dv]=ރއައުވި ފްއެޑީޕީ ސްންވިއެ
Name[ee]=Evince PDF-kpɔla
Name[el]=Evince πρόγραμμα προβολής PDF
Name[eo]=Evince PDF-spektilo
Name[et]=Evince PDF-i vaataja
Name[eu]=Evince PDF ikuslea
Name[fa]=PDF Evince ﺮﮕﺸﯾﺎﻤﻧ
Name[fi]=Evince PDF-katseluohjelma
Name[fj]=Evince PDF dausarasara
Name[fo]=Evince PDF viewer
Name[fy]=Evince PDF-werjouwer
Name[ga]=Evince lucht féachana pdf
Name[gd]=Evince sealladair pdf
Name[gl]=Visor de PDF Evince
Name[gn]=Evince PDF jehechaukaha
Name[gu]=એવિન્સ પીડીએફ વ્યૂઅર
Name[ha]=Shaida PDF Viewer
Name[he]=Evince לש PDF גיצמ
Name[hi]=एविंस पीडीएफ दर्शक
Name[hr]=Evince PDF preglednik
Name[ht]=Evince PDF visualiseur
Name[hu]=Evince PDF-nézegető
Name[hy]=Evince PDF դիտող
Name[id]=Penampil PDF yang jelas
Name[ig]=Ihe nlele PDF
Name[is]=Evince PDF skoðari
Name[it]=Evince visualizzatore di PDF
Name[iu]=Evince PDF−ᑯᑦ ᕿᒥᕐᕈᔨ
Name[ja]=Evince PDF ビューア
Name[jv]=Evince PDF viewer
Name[ka]=Evince PDF მაყურებელი
Name[kk]=Evince PDF қарау құралы
Name[km]=Evince កម្មវិធីមើល PDF
Name[kn]=ಎವಿನ್ಸ್ ಪಿಡಿಎಫ್ ವೀಕ್ಷಕ
Name[ko]=Evince PDF 뷰어
Name[ku]=Evince PDF viewer
Name[ky]=Evince PDF көрүүчү
Name[la]=Exhibere PDF inspectoris
Name[lb]=Evince PDF Viewer
Name[lg]=Evince omulabi wa PDF
Name[ln]=Evince motali ya PDF
Name[lo]=Evince PDF viewer
Name[lt]=Evince PDF peržiūros programa
Name[lv]=Evince PDF skatītājs
Name[mg]=Evince PDF viewer
Name[mi]=Evince PDF viewer
Name[mk]=Evince PDF прегледувач
Name[ml]=Evince PDF വ്യൂവർ
Name[mn]=Evince PDF харагч
Name[mr]=Evince PDF दर्शक
Name[ms]=Evince PDF viewer
Name[mt]=Evince PDF viewer
Name[my]=Evince PDF ကြည့်ရှုသူ
Name[ne]=Evince PDF दर्शक
Name[nl]=Evince PDF-viewer
Name[no]=Evince PDF-leser
Name[ny]=Evince PDF viewer
Name[om]=Evince PDF ilaaltuu
Name[or]=PDF ଦର୍ଶକଙ୍କୁ ପ୍ରମାଣ କରନ୍ତୁ |
Name[pa]=Evince PDF ਦਰਸ਼ਕ
Name[pl]=Przeglądarka PDF Evince
Name[ps]=ﯽﮑﻧﻭﺪﯿﻟ ﻒﯾﺍ ﯼډ ﯽﭘ ﺩ
Name[pt]=Evince visualizador de PDF
Name[qu]=Evince PDF qhawaq
Name[ro]=Vizualizator PDF Evince
Name[rw]=Emeza abareba PDF
Name[sa]=Evince PDF दर्शकः
Name[sd]=Evince PDF viewer
Name[si]=Evince PDF නරඹන්නා
Name[sk]=Prehliadač PDF Evince
Name[sl]=Pregledovalnik PDF Evince
Name[sm]=Evince PDF viewer
Name[sn]=Evince PDF muoni
Name[so]=Evice PDF viewer
Name[sq]=Evince shikues PDF
Name[st]=Evince PDF viewer
Name[su]=Evince PDF viewer
Name[sv]=Evince PDF-läsare
Name[sw]=Evince PDF mtazamaji
Name[ta]=Evince PDF பார்வையாளர்
Name[te]=ఎవిన్స్ PDF వ్యూయర్
Name[tg]=Намоишгари PDF Evince
Name[th]=โปรแกรมดู PDF ที่ชัดเจน
Name[ti]=Evince PDF viewer ዝብል ጽሑፍ ኣሎ።
Name[tk]=PDF tomaşaçydan çykyň
Name[tl]=Evince PDF viewer
Name[to]=Evince PDF Viewer
Name[tr]=Evince PDF görüntüleyici
Name[ts]=Evince xihlaleri xa PDF
Name[tt]=PDF карау
Name[tw]=Evince PDF hwɛfo
Name[ty]=Evince PDF viewer
Name[ug]=PDF ﯓﻼ﻿ﺗﺎﭙﺴﯩﺋ ﻰﻨﯩﭼﯜﮔﺭﯚﻛ
Name[uk]=Переглядач PDF Evince
Name[ur]=Evince PDF ﺮﻇﺎﻧ
Name[uz]=Evince PDF korish dasturi
Name[vi]=Hiển thị trình xem PDF
Name[xh]=Evince umbukeli wePDF
Name[yi]=Evince PDF רעקוקוצ
Name[yo]=Evince PDF wiwo
Name[zh]=Evince PDF 查看器
Name[zu]=Isibukeli se-PDF sika-Evince
Name=Evince PDF viewer
Comment[fr]=Afficher les documents PDF
Comment[de]=PDF-Dokumente anzeigen
Comment[es]=Ver documentos PDF
Comment[ru]=Просмотр PDF-документов
Comment[af]=Bekyk PDF-dokumente
Comment[am]=ፒዲኤፍ ሰነዶችን ይመልከቱ
Comment[ar]=PDF ﺕﺍﺪﻨﺘﺴﻣ ﺽﺮﻋ
Comment[as]=পিডিএফ নথিপত্ৰসমূহ চাওক
Comment[ay]=PDF qillqatanaka uñakipt’aña
Comment[az]=PDF sənədlərinə baxın
Comment[ba]=ПДФ документтарын ҡарау
Comment[be]=Прагляд PDF-дакументаў
Comment[bg]=Преглед на PDF документи
Comment[bm]=PDF sɛbɛnw lajɛ
Comment[bn]=পিডিএফ ডকুমেন্ট দেখুন
Comment[bo]=PDFཡིག་ཆར་ལྟ་ཞིབ་བྱེད་པ།
Comment[bs]=Pogledajte PDF dokumente
Comment[ca]=Veure documents PDF
Comment[co]=Vede i documenti PDF
Comment[cs]=Zobrazení dokumentů PDF
Comment[cy]=Gweld dogfennau PDF
Comment[da]=Se PDF-dokumenter
Comment[dv]=ވެށެލާބަ އްތަންޔުކިޔެލި ފްއެޑީޕީ
Comment[ee]=Kpɔ PDF nuŋlɔɖiwo
Comment[el]=Προβολή εγγράφων PDF
Comment[eo]=Vidu PDF-dokumentojn
Comment[et]=Vaadake PDF-dokumente
Comment[eu]=Ikusi PDF dokumentuak
Comment[fa]=PDF ﺩﺎﻨﺳﺍ ﻩﺪﻫﺎﺸﻣ
Comment[fi]=Katso PDF-dokumentteja
Comment[fj]=Raica na ivolatukutuku ni PDF
Comment[fo]=View PDF documents
Comment[fy]=Besjoch PDF-dokuminten
Comment[ga]=Féach ar dhoiciméid PDF
Comment[gd]=Thoir sùil air sgrìobhainnean PDF
Comment[gl]=Ver documentos PDF
Comment[gn]=Ehecha kuatiakuéra PDF-pegua
Comment[gu]=પીડીએફ દસ્તાવેજો જુઓ
Comment[ha]=Duba takaddun PDF
Comment[he]=PDF יכמסמ גצה
Comment[hi]=पीडीएफ दस्तावेज़ देखें
Comment[hr]=Pogledajte PDF dokumente
Comment[ht]=Gade dokiman PDF yo
Comment[hu]=PDF dokumentumok megtekintése
Comment[hy]=Դիտեք PDF փաստաթղթերը
Comment[id]=Lihat dokumen PDF
Comment[ig]=Lelee akwụkwọ PDF
Comment[is]=Skoða PDF skjöl
Comment[it]=Visualizza documenti PDF
Comment[iu]=ᑕᑯᓗᒋᑦ PDF−ᒧᑦ ᑎᑎᕋᖅᓯᒪᔪᑦ
Comment[ja]=PDF ドキュメントを表示する
Comment[jv]=Deleng dokumen PDF
Comment[ka]=PDF დოკუმენტების ნახვა
Comment[kk]=PDF құжаттарын қарау
Comment[km]=មើលឯកសារ PDF
Comment[kn]=PDF ದಾಖಲೆಗಳನ್ನು ವೀಕ್ಷಿಸಿ
Comment[ko]=PDF 문서 보기
Comment[ku]=Belgeyên PDF-ê bibînin
Comment[ky]=PDF документтерди көрүү
Comment[la]=Visum PDF documenta
Comment[lb]=Kuckt PDF Dokumenter
Comment[lg]=Laba ebiwandiiko bya PDF
Comment[ln]=Tala mikanda ya PDF
Comment[lo]=ເບິ່ງເອກະສານ PDF
Comment[lt]=Peržiūrėkite PDF dokumentus
Comment[lv]=Skatīt PDF dokumentus
Comment[mg]=Jereo ny antontan-taratasy PDF
Comment[mi]=Tirohia nga tuhinga PDF
Comment[mk]=Погледнете PDF документи
Comment[ml]=PDF പ്രമാണങ്ങൾ കാണുക
Comment[mn]=PDF баримтуудыг үзэх
Comment[mr]=पीडीएफ दस्तऐवज पहा
Comment[ms]=Lihat dokumen PDF
Comment[mt]=Ara dokumenti PDF
Comment[my]=PDF စာရွက်စာတမ်းများကိုကြည့်ပါ။
Comment[ne]=PDF कागजातहरू हेर्नुहोस्
Comment[nl]=PDF-documenten bekijken
Comment[no]=Se PDF-dokumenter
Comment[ny]=Onani zolemba za PDF
Comment[om]=Sanadoota PDF ilaali
Comment[or]=PDF ଡକ୍ୟୁମେଣ୍ଟ୍ ଦେଖନ୍ତୁ |
Comment[pa]=PDF ਦਸਤਾਵੇਜ਼ ਵੇਖੋ
Comment[pl]=Przeglądaj dokumenty PDF
Comment[ps]=ﺉﺭﻮګﻭ ﺩﺎﻨﺳﺍ PDF ﺩ
Comment[pt]=Ver documentos PDF
Comment[qu]=PDF qillqakunata qhaway
Comment[ro]=Vizualizați documente PDF
Comment[rw]=Reba inyandiko za PDF
Comment[sa]=PDF दस्तावेजान् पश्यन्तु
Comment[sd]=PDF ﻮﺳڏ ﺰﻳﻭﺎﺘﺳﺩ
Comment[si]=PDF ලේඛන බලන්න
Comment[sk]=Zobraziť dokumenty PDF
Comment[sl]=Oglejte si dokumente PDF
Comment[sm]=Vaai pepa PDF
Comment[sn]=Ona magwaro ePDF
Comment[so]=Eeg dukumentiyada PDF
Comment[sq]=Shikoni dokumentet PDF
Comment[st]=Sheba litokomane tsa PDF
Comment[su]=Tingali dokumén PDF
Comment[sv]=Visa PDF-dokument
Comment[sw]=Tazama hati za PDF
Comment[ta]=PDF ஆவணங்களைப் பார்க்கவும்
Comment[te]=PDF పత్రాలను వీక్షించండి
Comment[tg]=Намоиши ҳуҷҷатҳои PDF
Comment[th]=ดูเอกสาร PDF
Comment[ti]=ሰነዳት ፒዲኤፍ ርአ
Comment[tk]=PDF resminamalaryny görüň
Comment[tl]=Tingnan ang mga dokumentong PDF
Comment[to]=Vakai ki he ngaahi fakamatala PDF
Comment[tr]=PDF belgelerini görüntüleyin
Comment[ts]=Languta matsalwa ya PDF
Comment[tt]=PDF документларын карау
Comment[tw]=Hwɛ PDF nkrataa ahorow
Comment[ty]=Hio i te mau parau PDF
Comment[ug]=PDF ﯓﯛﺭﯚﻛ ﻰﻨﯨﺮﯩﻠﺗەﺠﺟﯚﮬ
Comment[uk]=Перегляд документів PDF
Comment[ur]=ﮟﯿﮭﮑﯾﺩ ﺕﺍﺰﯾﻭﺎﺘﺳﺩ ﻒﯾﺍ ﯼﮈ ﯽﭘ
Comment[uz]=PDF hujjatlarini korish
Comment[vi]=Xem tài liệu PDF
Comment[xh]=Jonga amaxwebhu ePDF
Comment[yi]=View PDF ןטנעמוקאָד
Comment[yo]=Wo awọn iwe aṣẹ PDF
Comment[zh]=查看PDF文档
Comment[zu]=Buka amadokhumenti e-PDF
Comment=View PDF documents
TryExec=evince
Exec=evince
StartupNotify=true
Terminal=false
Type=Application
Icon=evince.png
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evince
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.32.0
Categories=X-Document-viewer
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;image/tiff;image/*;
