[Desktop Entry]
Name[fr]=Concepteur d'interface graphique : FLUID
Name[de]=FLÜSSIG
Name[es]=FLUID: diseñar interfaz gráfica FLTK
Name[ru]=FLUID FLTK конструктор
Name[af]=FLUID FLTK ontwerper
Name[am]=FLUID FLTK ዲዛይነር
Name[ar]=FLUID FLTK ﻢﻤﺼﻣ
Name[as]=FLUID FLTK ডিজাইনাৰ
Name[ay]=FLUID FLTK ukax mä diseñador ukhamawa
Name[az]=FLUID FLTK dizayneri
Name[ba]=ФЛТК-ның FLTK FLTK дизайнеры
Name[be]=Канструктар FLUID FLTK
Name[bg]=FLUID FLTK дизайнер
Name[bm]=FLUID FLTK dilanbaga
Name[bn]=ফ্লুইড FLTK ডিজাইনার
Name[bo]=གཤེར་གཟུགས་FLTK ཇུས་འགོད་པ།
Name[bs]=FLUID FLTK dizajner
Name[ca]=Dissenyador FLUID FLTK
Name[co]=FLUID FLTK designer
Name[cs]=Návrhář FLUID FLTK
Name[cy]=Dylunydd FLTK FLUID
Name[da]=FLUID FLTK designer
Name[dv]=ވެރެނައިޒަޑި ކޭޓީލްއެފްއެ ޑްލޫފް
Name[ee]=FLUID FLTK ƒe aɖaŋuwɔla
Name[el]=Σχεδιαστής FLUID FLTK
Name[eo]=FLUID FLTK dezajnisto
Name[et]=FLUID FLTK disainer
Name[eu]=FLUID FLTK diseinatzailea
Name[fa]=FLUID FLTK ﺡﺍﺮﻃ
Name[fi]=FLUID FLTK suunnittelija
Name[fj]=Daudroini ni VLTK ni FLUID
Name[fo]=FLUID FLTK designer
Name[fy]=FLUID FLTK ûntwerper
Name[ga]=Dearthóir FLUID FLTK
Name[gd]=Dealbhaiche FLUID FLTK
Name[gl]=Deseñador FLUID FLTK
Name[gn]=FLUID FLTK diseñador
Name[gu]=FLUID FLTK ડિઝાઇનર
Name[ha]=Mai tsara FLUID FLTK
Name[he]=FLUID FLTK בצעמ
Name[hi]=द्रव FLTK डिजाइनर
Name[hr]=FLUID FLTK dizajner
Name[ht]=FLUID FLTK designer
Name[hu]=FLUID FLTK tervező
Name[hy]=FLUID FLTK դիզայներ
Name[id]=Desainer FLTK CAIRAN
Name[ig]=FLUID FLTK mmebe
Name[is]=FLUID FLTK hönnuður
Name[it]=progettista FLUIDO FLTK
Name[iu]=FLUID FLTK−ᒧᑦ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=FLUID FLTK デザイナー
Name[jv]=Desainer FLUID FLTK
Name[ka]=FLUID FLTK დიზაინერი
Name[kk]=FLUID FLTK дизайнері
Name[km]=អ្នករចនា FLUID FLTK
Name[kn]=FLUID FLTK ಡಿಸೈನರ್
Name[ko]=FLUID FLTK 디자이너
Name[ku]=FLUID FLTK designer
Name[ky]=FLUID FLTK дизайнери
Name[la]=LIQUIDUM FLTK excogitatoris
Name[lb]=FLUID FLTK Designer
Name[lg]=FLUID FLTK omukugu mu kukola dizayini
Name[ln]=FLUID FLTK mosali ya mayele
Name[lo]=FLUID FLTK ຜູ້ອອກແບບ
Name[lt]=FLUID FLTK dizaineris
Name[lv]=FLUID FLTK dizainers
Name[mg]=FLUID FLTK mpamorona
Name[mi]=Kaihoahoa FLUID FLTK
Name[mk]=FLUID FLTK дизајнер
Name[ml]=FLUID FLTK ഡിസൈനർ
Name[mn]=FLUID FLTK дизайнер
Name[mr]=FLUID FLTK डिझायनर
Name[ms]=Pereka bentuk FLUID FLTK
Name[mt]=FLUID FLTK disinjatur
Name[my]=FLUID FLTK ဒီဇိုင်နာ
Name[ne]=FLUID FLTK डिजाइनर
Name[nl]=FLUID FLTK-ontwerper
Name[no]=FLUID FLTK designer
Name[ny]=FLUID FLTK wopanga
Name[om]=Dizaayinara FLUID FLTK
Name[or]=FLUID FLTK ଡିଜାଇନର୍ |
Name[pa]=FLUID FLTK ਡਿਜ਼ਾਈਨਰ
Name[pl]=Projektant FLUID FLTK
Name[ps]=FLUID FLTK ﺮﻨﯾﺍﺰﯾډ
Name[pt]=Designer FLUID FLTK
Name[qu]=FLUID FLTK nisqa diseñador
Name[ro]=Designer FLUID FLTK
Name[rw]=FLUID FLTK uwashushanyije
Name[sa]=FLUID FLTK डिजाइनर
Name[sd]=FLUID FLTK ﺮﻨﺋﺍﺰﻳڊ
Name[si]=FLUID FLTK නිර්මාණකරු
Name[sk]=Dizajnér FLUID FLTK
Name[sl]=FLUID FLTK oblikovalec
Name[sm]=FLUID FLTK mamanu
Name[sn]=FLUID FLTK mugadziri
Name[so]=Naqshadeeye FLUID FLTK
Name[sq]=Projektues FLUID FLTK
Name[st]=Moqapi oa FLUID FLTK
Name[su]=desainer FLTK cairan
Name[sv]=FLUID FLTK designer
Name[sw]=FLUID FLTK mbunifu
Name[ta]=FLUID FLTK வடிவமைப்பாளர்
Name[te]=FLUID FLTK డిజైనర్
Name[tg]=Дизайнер FLUID FLTK
Name[th]=นักออกแบบ FLUID FLTK
Name[ti]=FLUID FLTK ዲዛይነር
Name[tk]=FLUID FLTK dizaýneri
Name[tl]=FLUID FLTK designer
Name[to]=FLUID FLTK Designer
Name[tr]=FLUID FLTK tasarımcısı
Name[ts]=FLUID FLTK muendli wa swifaniso
Name[tt]=FLUID FLTK дизайнеры
Name[tw]=FLUID FLTK adwumfo
Name[ty]=FLUID FLTK designer
Name[ug]=FLUID FLTK ﻰﭼﯜﮕﯩﻟەﮭﯩﻳﻻ﻿
Name[uk]=Конструктор FLUID FLTK
Name[ur]=FLUID FLTK ﺮﻨﺋﺍﺰﯾﮈ
Name[uz]=FLUID FLTK dizayneri
Name[vi]=nhà thiết kế FLUID FLTK
Name[xh]=FLUID FLTK umyili
Name[yi]=FLUID FLTK רענייזיד
Name[yo]=FLUID FLTK onise
Name[zh]=FLUID FLTK 设计师
Name[zu]=FLUID FLTK umklami
Name=FLUID FLTK designer
Comment[fr]=FLUID, Concepteur d'interface graphique FLTK
Comment[de]=FLTK GUI Designer
Comment[es]=FLUID: diseñar interfaz gráfica FLTK
Comment[ru]=FLUID FLTK конструктор
Comment[af]=FLTK GUI-ontwerper
Comment[am]=FLTK GUI ዲዛይነር
Comment[ar]=FLTK GUI Designer
Comment[as]=FLTK GUI ডিজাইনাৰ
Comment[ay]=FLTK GUI ukax mä diseñador ukhamawa
Comment[az]=FLTK GUI Dizayneri
Comment[ba]=ФЛТК ГВИ дизайнеры
Comment[be]=Канструктар графічнага інтэрфейсу FLTK
Comment[bg]=FLTK GUI дизайнер
Comment[bm]=FLTK GUI Dilanbaga
Comment[bn]=FLTK GUI ডিজাইনার
Comment[bo]=FLTK GUI ཇུས་འགོད་པ།
Comment[bs]=FLTK GUI dizajner
Comment[ca]=Dissenyador de GUI FLTK
Comment[co]=FLTK GUI Designer
Comment[cs]=Návrhář grafického uživatelského rozhraní FLTK
Comment[cy]=Dylunydd GUI FLTK
Comment[da]=FLTK GUI Designer
Comment[dv]=ވެތެރާފަ ރާކު ންއިޒަޑި އިއަޖީ ކޭޓީލްއެފްއެ
Comment[ee]=FLTK GUI ƒe Aɖaŋuwɔla
Comment[el]=Σχεδιαστής GUI FLTK
Comment[eo]=FLTK GUI-Projektisto
Comment[et]=FLTK GUI disainer
Comment[eu]=FLTK GUI diseinatzailea
Comment[fa]=FLTK ﯽﮑﯿﻓﺍﺮﮔ ﯼﺮﺑﺭﺎﮐ ﻂﺑﺍﺭ ﺡﺍﺮﻃ
Comment[fi]=FLTK GUI-suunnittelija
Comment[fj]=Daudroini ni FLTK GUI
Comment[fo]=FLTK GUI Designer
Comment[fy]=FLTK GUI Designer
Comment[ga]=Dearthóir FLTK GUI
Comment[gd]=Dealbhadair GUI FLTK
Comment[gl]=Deseñador de GUI FLTK
Comment[gn]=FLTK GUI Diseñador
Comment[gu]=FLTK GUI ડિઝાઇનર
Comment[ha]=FLTK GUI Designer
Comment[he]=FLTK לש GUI בצעמ
Comment[hi]=एफएलटीके जीयूआई डिजाइनर
Comment[hr]=FLTK GUI dizajner
Comment[ht]=FLTK GUI Designer
Comment[hu]=FLTK GUI tervező
Comment[hy]=FLTK GUI դիզայներ
Comment[id]=Desainer GUI FLTK
Comment[ig]=Onye nrụpụta FLTK GUI
Comment[is]=FLTK GUI hönnuður
Comment[it]=Progettista GUI FLTK
Comment[iu]=FLTK GUI−ᒧᑦ ᑕᐅᑦᑐᒃᓴᓕᐅᖅᑎ
Comment[ja]=FLTK GUI デザイナー
Comment[jv]=FLTK GUI Designer
Comment[ka]=FLTK GUI დიზაინერი
Comment[kk]=FLTK GUI дизайнері
Comment[km]=អ្នករចនា FLTK GUI
Comment[kn]=FLTK GUI ಡಿಸೈನರ್
Comment[ko]=FLTK GUI 디자이너
Comment[ku]=FLTK GUI Designer
Comment[ky]=FLTK GUI дизайнери
Comment[la]=FLTK GUI Designer
Comment[lb]=FLTK GUI Designer
Comment[lg]=Omukugu mu kukola FLTK GUI
Comment[ln]=Mokeli ya GUI ya FLTK
Comment[lo]=ຜູ້ອອກແບບ FLTK GUI
Comment[lt]=FLTK GUI dizaineris
Comment[lv]=FLTK GUI dizaineris
Comment[mg]=FLTK GUI Designer
Comment[mi]=Kaihoahoa FLTK GUI
Comment[mk]=Дизајнер на FLTK GUI
Comment[ml]=FLTK GUI ഡിസൈനർ
Comment[mn]=FLTK GUI дизайнер
Comment[mr]=FLTK GUI डिझायनर
Comment[ms]=Pereka GUI FLTK
Comment[mt]=Disinjatur tal-GUI FLTK
Comment[my]=FLTK GUI ဒီဇိုင်နာ
Comment[ne]=FLTK GUI डिजाइनर
Comment[nl]=FLTK GUI-ontwerper
Comment[no]=FLTK GUI-designer
Comment[ny]=Wopanga FLTK GUI
Comment[om]=Dizaayinara GUI FLTK
Comment[or]=FLTK GUI ଡିଜାଇନର୍ |
Comment[pa]=FLTK GUI ਡਿਜ਼ਾਈਨਰ
Comment[pl]=Projektant GUI FLTK
Comment[ps]=ﺮﻨﯾﺍﺰﯾډ FLTK GUI ﺩ
Comment[pt]=FLTK GUI Designer
Comment[qu]=FLTK GUI Diseñador
Comment[ro]=FLTK GUI Designer
Comment[rw]=FLTK GUI
Comment[sa]=FLTK GUI डिजाइनर
Comment[sd]=FLTK GUI ﺮﻨﺋﺍﺰﻳڊ
Comment[si]=FLTK GUI නිර්මාණකරු
Comment[sk]=Návrhár GUI FLTK
Comment[sl]=FLTK GUI Designer
Comment[sm]=FLTK GUI Designer
Comment[sn]=FLTK GUI Mugadziri
Comment[so]=FLTK GUI Designer
Comment[sq]=FLTK GUI Designer
Comment[st]=Moqapi oa FLTK GUI
Comment[su]=FLTK GUI Desainer
Comment[sv]=FLTK GUI Designer
Comment[sw]=Mbunifu wa FLTK GUI
Comment[ta]=FLTK GUI வடிவமைப்பாளர்
Comment[te]=FLTK GUI డిజైనర్
Comment[tg]=Designer GUI FLTK
Comment[th]=ผู้ออกแบบ FLTK GUI
Comment[ti]=FLTK GUI ዲዛይነር
Comment[tk]=FLTK GUI dizaýneri
Comment[tl]=FLTK GUI Designer
Comment[to]=FLTK GUI Designer
Comment[tr]=FLTK GUI Tasarımcısı
Comment[ts]=FLTK GUI Muendli wa swifaniso
Comment[tt]=FLTK GUI дизайнеры
Comment[tw]=FLTK GUI Nsusuwiifo
Comment[ty]=FLTK GUI Designer
Comment[ug]=FLTK GUI ﻰﭼﯜﮕﯩﻠﯩﮭﯩﻳﻻ﻿
Comment[uk]=FLTK GUI Designer
Comment[ur]=FLTK GUI ﺮﻨﺋﺍﺰﯾﮈ
Comment[uz]=FLTK GUI dizayneri
Comment[vi]=Trình thiết kế GUI FLTK
Comment[xh]=FLTK GUI uMyili
Comment[yi]=FLTK GUI רענייזיד
Comment[yo]=FLTK GUI onise
Comment[zh]=FLTK GUI 设计器
Comment[zu]=Umklami we-FLTK GUI
Comment=FLTK GUI Designer
TryExec=fluid
Exec=fluid %F
Icon=fluid.png
Terminal=false
Type=Application
MimeType=application/x-fluid;
Categories=GUIDesigner
