[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name[fr]=ghostview
Name[de]=ghostview
Name=ghostview
Exec=ghostview
MimeType=application/postscript
Icon=mini-postscript.xpm
