[Desktop Entry]
Encoding=UTF-8
Name[fr]=Client PPTP VPN : Gpptp
Name[de]=Gpptp PPTP VPN-Client
Name[es]=Gpptp: Cliente VPN PPTP
Name[ru]=Gpptp VPN-клиент PPTP
Name[af]=Gpptp PPTP VPN-kliënt
Name[am]=Gpptp PPTP VPN ደንበኛ
Name[ar]=Gpptp PPTP VPN ﻞﻴﻤﻋ
Name[as]=Gpptp PPTP VPN ক্লাএন্ট
Name[ay]=Gpptp PPTP VPN ukax mä cliente ukhamawa
Name[az]=Gpptp PPTP VPN müştərisi
Name[ba]=Gpptp PPTP VPN клиенты
Name[be]=Gpptp PPTP VPN кліент
Name[bg]=Gpptp PPTP VPN клиент
Name[bm]=Gpptp PPTP VPN kliyan
Name[bn]=Gpptp PPTP VPN ক্লায়েন্ট
Name[bo]=GPPTP VPN 客户端
Name[bs]=Gpptp PPTP VPN klijent
Name[ca]=Client VPN PPTP Gpptp
Name[co]=Cliente VPN Gpptp PPTP
Name[cs]=Klient Gpptp PPTP VPN
Name[cy]=Gpptp PPTP VPN cleient
Name[da]=Gpptp PPTP VPN-klient
Name[dv]=ޓްންއިލަކް ންއެޕީވީ ޕީޓީޕީޕީ ޕީޓީޕީޕީޖީ
Name[ee]=Gpptp PPTP VPN ƒe asitsaha
Name[el]=Gpptp PPTP VPN-πελάτης
Name[eo]=Gpptp PPTP VPN-kliento
Name[et]=Gpptp PPTP VPN-klient
Name[eu]=Gpptp PPTP VPN bezeroa
Name[fa]=Gpptp PPTP VPN ﻩﺪﻧﺮﯿﮔ ﺲﯾﻭﺮﺳ
Name[fi]=Gpptp PPTP VPN -asiakas
Name[fj]=Gpptp PPTP VPN client
Name[fo]=Gpptp PPTP VPN client
Name[fy]=Gpptp PPTP VPN client
Name[ga]=Gpptp PPTP VPN cliant
Name[gd]=Gpptp PPTP VPN neach-dèiligidh
Name[gl]=Cliente VPN Gpptp PPTP
Name[gn]=Gpptp PPTP VPN cliente rehegua
Name[gu]=Gpptp PPTP VPN ક્લાયંટ
Name[ha]=Abokin ciniki na Gpptp PPTP VPN
Name[he]=Gpptp PPTP VPN חוקל
Name[hi]=जीपीटीपीपी पीपीटीपी वीपीएन क्लाइंट
Name[hr]=Gpptp PPTP VPN klijent
Name[ht]=Gpptp PPTP VPN kliyan
Name[hu]=Gpptp PPTP VPN kliens
Name[hy]=Gpptp PPTP VPN հաճախորդ
Name[id]=Klien VPN PPTP Gpptp
Name[ig]=Gpptp PPTP VPN ahịa
Name[is]=Gpptp PPTP VPN viðskiptavinur
Name[it]=Gpptp client VPN PPTP
Name[iu]=Gpptp PPTP VPN−ᒧᑦ ᐃᑲᔪᖅᑕᐅᔪᖅ
Name[ja]=Gpptp PPTP VPN クライアント
Name[jv]=Gpptp PPTP VPN klien
Name[ka]=Gpptp PPTP VPN კლიენტი
Name[kk]=Gpptp PPTP VPN клиенті
Name[km]=ម៉ាស៊ីនភ្ញៀវ Gpptp PPTP VPN
Name[kn]=Gpptp PPTP VPN ಕ್ಲೈಂಟ್
Name[ko]=Gpptp PPTP VPN 클라이언트
Name[ku]=Muwekîlê Gpptp PPTP VPN
Name[ky]=Gpptp PPTP VPN кардары
Name[la]=Gpptp PPTP VPN clientis
Name[lb]=Gpptp PPTP VPN Client
Name[lg]=Gpptp PPTP VPN kasitoma
Name[ln]=Gpptp Client ya VPN ya PPTP
Name[lo]=Gpptp PPTP VPN ລູກຄ້າ
Name[lt]=Gpptp PPTP VPN klientas
Name[lv]=Gpptp PPTP VPN klients
Name[mg]=Gpptp PPTP VPN mpanjifa
Name[mi]=Gpptp PPTP VPN kiritaki
Name[mk]=Gpptp PPTP VPN клиент
Name[ml]=Gpptp PPTP VPN ക്ലയന്റ്
Name[mn]=Gpptp PPTP VPN клиент
Name[mr]=Gpptp PPTP VPN क्लायंट
Name[ms]=Gpptp PPTP VPN klien
Name[mt]=Klijent VPN Gpptp PPTP
Name[my]=Gpptp PPTP VPN သုံးစွဲသူ
Name[ne]=Gpptp PPTP VPN ग्राहक
Name[nl]=Gpptp PPTP VPN-client
Name[no]=Gpptp PPTP VPN-klient
Name[ny]=Gpptp PPTP VPN kasitomala
Name[om]=Gpptp PPTP maamila VPN
Name[or]=Gpptp PPTP VPN କ୍ଲାଏଣ୍ଟ |
Name[pa]=Gpptp PPTP VPN ਕਲਾਇੰਟ
Name[pl]=Klient Gpptp PPTP VPN
Name[ps]=Gpptp PPTP VPN ﻲﮑﻧﻭﺩﻭﺮﯿﭘ
Name[pt]=Cliente VPN PPTP Gpptp
Name[qu]=Gpptp PPTP VPN nisqa rantiq
Name[ro]=Client VPN Gpptp PPTP
Name[rw]=Umukiriya wa Gpptp PPTP VPN
Name[sa]=Gpptp PPTP VPN क्लायन्ट
Name[sd]=Gpptp PPTP VPN ٽﻨﺋﻼ﻿ڪ
Name[si]=Gpptp PPTP VPN සේවාදායකයා
Name[sk]=Klient Gpptp PPTP VPN
Name[sl]=Gpptp PPTP VPN odjemalec
Name[sm]=Gpptp PPTP VPN tagata faatau
Name[sn]=Gpptp PPTP VPN mutengi
Name[so]=Gpptp PPTP macmiilka VPN
Name[sq]=Klienti Gpptp PPTP VPN
Name[st]=Gpptp PPTP VPN moreki
Name[su]=Gpptp PPTP VPN klien
Name[sv]=Gpptp PPTP VPN-klient
Name[sw]=Mteja wa VPN wa Gpptp PPTP
Name[ta]=Gpptp PPTP VPN கிளையன்ட்
Name[te]=Gpptp PPTP VPN క్లయింట్
Name[tg]=Мизоҷи Gpptp PPTP VPN
Name[th]=ไคลเอ็นต์ Gpptp PPTP VPN
Name[ti]=Gpptp PPTP VPN ዓሚል
Name[tk]=Gpptp PPTP VPN müşderisi
Name[tl]=Gpptp PPTP VPN client
Name[to]=Gpptp PPTP VPN client
Name[tr]=Gpptp PPTP VPN istemcisi
Name[ts]=Gpptp PPTP xitirhisiwa xa VPN
Name[tt]=Gpptp PPTP VPN клиенты
Name[tw]=Gpptp PPTP VPN afɛfoɔ
Name[ty]=Gpptp PPTP VPN client
Name[ug]=Gpptp PPTP VPN ﻯﺭﺍﺪﯨﺮﯧﺧ
Name[uk]=Gpptp PPTP VPN клієнт
Name[ur]=Gpptp PPTP VPN ﭧﻨﺋﻼ﻿ﮐ
Name[uz]=Gpptp PPTP VPN mijozi
Name[vi]=Máy khách Gpptp PPTP VPN
Name[xh]=Gpptp PPTP VPN umxhasi
Name[yi]=Gpptp PPTP VPN טנעילק
Name[yo]=Gpptp PPTP VPN onibara
Name[zh]=Gpptp PPTP VPN 客户端
Name[zu]=Gpptp PPTP VPN iklayenti
Name=Gpptp PPTP VPN client
Icon=gpptp.png
Comment[fr]=Client PPTP VPN : Gpptp
Comment[de]=Gpptp v2.0 PPTP VPN-Client
Comment[es]=Cliente VPN PPTP Gpptp v2.0
Comment[ru]=Gpptp VPN-клиент PPTP
Comment[af]=Gpptp v2.0 PPTP VPN-kliënt
Comment[am]=Gpptp v2.0 PPTP VPN ደንበኛ
Comment[ar]=Gpptp v2.0 PPTP VPN ﻞﻴﻤﻋ
Comment[as]=Gpptp v2.0 PPTP VPN ক্লাএন্ট
Comment[ay]=Gpptp v2.0 PPTP VPN ukax mä cliente ukhamawa
Comment[az]=Gpptp v2.0 PPTP VPN müştərisi
Comment[ba]=Gpptp v2.0 PPTP VPN клиенты
Comment[be]=Gpptp v2.0 PPTP VPN кліент
Comment[bg]=Gpptp v2.0 PPTP VPN клиент
Comment[bm]=Gpptp v2.0 PPTP VPN kliyan
Comment[bn]=Gpptp v2.0 PPTP VPN ক্লায়েন্ট
Comment[bo]=gpptp v2.0 PPTP VPN 客户端
Comment[bs]=Gpptp v2.0 PPTP VPN klijent
Comment[ca]=Client VPN PPTP Gpptp v2.0
Comment[co]=Cliente VPN Gpptp v2.0 PPTP
Comment[cs]=Gpptp v2.0 PPTP VPN klient
Comment[cy]=Cleient VPN Gpptp v2.0 PPTP
Comment[da]=Gpptp v2.0 PPTP VPN-klient
Comment[dv]=Gpptp v2.0 ޓްންއިލަކް ންއެޕީވީ ޕީޓީޕީޕީ
Comment[ee]=Gpptp v2.0 PPTP VPN ƒe asitsaha
Comment[el]=Gpptp v2.0 PPTP VPN client
Comment[eo]=Gpptp v2.0 PPTP VPN-kliento
Comment[et]=Gpptp v2.0 PPTP VPN-klient
Comment[eu]=Gpptp v2.0 PPTP VPN bezeroa
Comment[fa]=Gpptp v2.0 PPTP VPN ﻩﺪﻧﺮﯿﮔ ﺲﯾﻭﺮﺳ
Comment[fi]=Gpptp v2.0 PPTP VPN -asiakas
Comment[fj]=Gpptp v2.0 PPTP VPN client
Comment[fo]=Gpptp v2.0 PPTP VPN client
Comment[fy]=Gpptp v2.0 PPTP VPN kliïnt
Comment[ga]=Gpptp v2.0 PPTP VPN cliant
Comment[gd]=Neach-dèiligidh Gpptp v2.0 PPTP VPN
Comment[gl]=Cliente VPN PPTP Gpptp v2.0
Comment[gn]=Gpptp v2.0 PPTP VPN cliente rehegua
Comment[gu]=Gpptp v2.0 PPTP VPN ક્લાયંટ
Comment[ha]=Abokin ciniki na Gpptp v2.0 PPTP VPN abokin ciniki
Comment[he]=Gpptp v2.0 PPTP VPN חוקל
Comment[hi]=Gpptp v2.0 PPTP VPN क्लाइंट
Comment[hr]=Gpptp v2.0 PPTP VPN klijent
Comment[ht]=Gpptp v2.0 PPTP VPN kliyan
Comment[hu]=Gpptp v2.0 PPTP VPN kliens
Comment[hy]=Gpptp v2.0 PPTP VPN հաճախորդ
Comment[id]=Gpptp v2.0 klien PPTP VPN
Comment[ig]=Gpptp v2.0 PPTP VPN ahịa
Comment[is]=Gpptp v2.0 PPTP VPN viðskiptavinur
Comment[it]=Client VPN PPTP Gpptp v2.0
Comment[iu]=Gpptp v2.0 PPTP VPN−ᒧᑦ ᐱᔨᑦᑎᕋᖅᑕᐅᔪᖅ
Comment[ja]=Gpptp v2.0 PPTP VPN クライアント
Comment[jv]=Gpptp v2.0 PPTP VPN klien
Comment[ka]=Gpptp v2.0 PPTP VPN კლიენტი
Comment[kk]=Gpptp v2.0 PPTP VPN клиенті
Comment[km]=ម៉ាស៊ីនភ្ញៀវ Gpptp v2.0 PPTP VPN
Comment[kn]=Gpptp v2.0 PPTP VPN ಕ್ಲೈಂಟ್
Comment[ko]=Gpptp v2.0 PPTP VPN 클라이언트
Comment[ku]=Muwekîlê Gpptp v2.0 PPTP VPN
Comment[ky]=Gpptp v2.0 PPTP VPN кардары
Comment[la]=Gpptp v2.0 PPTP VPN client
Comment[lb]=Gpptp v2.0 PPTP VPN Client
Comment[lg]=Gpptp v2.0 PPTP VPN kasitoma
Comment[ln]=Gpptp v2.0 Client ya VPN ya PPTP
Comment[lo]=Gpptp v2.0 ລູກຄ້າ PPTP VPN
Comment[lt]=Gpptp v2.0 PPTP VPN klientas
Comment[lv]=Gpptp v2.0 PPTP VPN klients
Comment[mg]=Gpptp v2.0 PPTP VPN mpanjifa
Comment[mi]=Gpptp v2.0 PPTP VPN kiritaki
Comment[mk]=Gpptp v2.0 PPTP VPN клиент
Comment[ml]=Gpptp v2.0 PPTP VPN ക്ലയന്റ്
Comment[mn]=Gpptp v2.0 PPTP VPN клиент
Comment[mr]=Gpptp v2.0 PPTP VPN क्लायंट
Comment[ms]=Gpptp v2.0 PPTP VPN klien
Comment[mt]=Klijent VPN Gpptp v2.0 PPTP
Comment[my]=Gpptp v2.0 PPTP VPN သုံးစွဲသူ
Comment[ne]=Gpptp v2.0 PPTP VPN ग्राहक
Comment[nl]=Gpptp v2.0 PPTP VPN-client
Comment[no]=Gpptp v2.0 PPTP VPN-klient
Comment[ny]=Gpptp v2.0 PPTP VPN kasitomala
Comment[om]=Gpptp v2.0 Maamila VPN PPTP
Comment[or]=Gpptp v2.0 PPTP VPN କ୍ଲାଏଣ୍ଟ |
Comment[pa]=Gpptp v2.0 PPTP VPN ਕਲਾਇੰਟ
Comment[pl]=Gpptp v2.0 Klient PPTP VPN
Comment[ps]=Gpptp v2.0 PPTP VPN ﻲﮑﻧﻭﺩﻭﺮﯿﭘ
Comment[pt]=Gpptp v2.0 PPTP VPN cliente
Comment[qu]=Gpptp v2.0 PPTP VPN rantiq
Comment[ro]=Client VPN Gpptp v2.0 PPTP
Comment[rw]=Umukiriya wa Gpptp v2.0 PPTP VPN
Comment[sa]=Gpptp v2.0 PPTP VPN क्लायन्ट
Comment[sd]=Gpptp v2.0 PPTP VPN ٽﻨﺋﻼ﻿ڪ
Comment[si]=Gpptp v2.0 PPTP VPN සේවාදායකයා
Comment[sk]=Gpptp v2.0 PPTP VPN klient
Comment[sl]=Gpptp v2.0 PPTP VPN odjemalec
Comment[sm]=Gpptp v2.0 PPTP VPN client
Comment[sn]=Gpptp v2.0 PPTP VPN mutengi
Comment[so]=Gpptp v2.0 PPTP VPN macmiilka
Comment[sq]=Klienti Gpptp v2.0 PPTP VPN
Comment[st]=Gpptp v2.0 PPTP VPN moreki
Comment[su]=Gpptp v2.0 PPTP VPN klien
Comment[sv]=Gpptp v2.0 PPTP VPN-klient
Comment[sw]=Gpptp v2.0 mteja wa VPN wa PPTP
Comment[ta]=Gpptp v2.0 PPTP VPN கிளையன்ட்
Comment[te]=Gpptp v2.0 PPTP VPN క్లయింట్
Comment[tg]=Мизоҷи Gpptp v2.0 PPTP VPN
Comment[th]=Gpptp v2.0 ไคลเอ็นต์ PPTP VPN
Comment[ti]=Gpptp v2.0 ፒፒቲፒ ቪፒኤን ዓሚል
Comment[tk]=Gpptp v2.0 PPTP VPN müşderisi
Comment[tl]=Gpptp v2.0 PPTP VPN client
Comment[to]=Gpptp v 2.0 PPTP VPN client
Comment[tr]=Gpptp v2.0 PPTP VPN istemcisi
Comment[ts]=Gpptp v2.0 Xitirhisiwa xa VPN xa PPTP
Comment[tt]=Gpptp v2.0 PPTP VPN клиенты
Comment[tw]=Gpptp v2.0 PPTP VPN afɛfoɔ
Comment[ty]=Gpptp v2.0 PPTP VPN client
Comment[ug]=Gpptp v2.0 PPTP VPN ﻯﺭﺍﺪﯨﺮﯧﺧ
Comment[uk]=Gpptp v2.0 PPTP VPN клієнт
Comment[ur]=Gpptp v2.0 PPTP VPN ﭧﻨﺋﻼ﻿ﮐ
Comment[uz]=Gpptp v2.0 PPTP VPN mijozi
Comment[vi]=Máy khách VPN Gpptp v2.0 PPTP
Comment[xh]=Gpptp v2.0 PPTP VPN umxhasi
Comment[yi]=Gpptp v2.0 PPTP VPN טנעילק
Comment[yo]=Gpptp v2.0 PPTP VPN onibara
Comment[zh]=Gpptp v2.0 PPTP VPN 客户端
Comment[zu]=Gpptp v2.0 PPTP VPN iklayenti
Comment=Gpptp v2.0 PPTP VPN client
Exec=gpptp
Terminal=false
Type=Application
Categories=X-Network-phone
GenericName=Gpptp
