[Desktop Entry]
Name[fr]=Fabrique de Widget gtk3
Name[de]=Widget-Factory GTK3
Name[es]=Fábrica de widgets GTK3
Name[ru]=Фабрика виджетов GTK3
Name=GTK3 Widget Factory
Comment[fr]=Fabrique de Widget gtk3
Comment[de]=Ein Schaufenster für GTK+-Widgets, das zum Testen von Themen entwickelt wurde.
Comment[es]=Vista previa de temas gtk3
Comment[ru]=Фабрика виджетов GTK3
Comment=A showcase for GTK+ widgets, designed for testing themes.
Exec=gtk3-widget-factory
Icon=gtk3-widget-factory.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development
NoDisplay=true
