[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestionnaire de files d'impression : GtkLPQ
Name[de]=GtkLPQ-Druckerwarteschlangenmanager
Name[af]=GtkLPQ drukker tou bestuurder
Name[am]=GtkLPQ አታሚ ወረፋ አስተዳዳሪ
Name[ar]=GtkLPQ ﺔﻌﺑﺎﻄﻟﺍ ﺭﺎﻈﺘﻧﺍ ﺔﻤﺋﺎﻗ ﺮﻳﺪﻣ
Name[as]=GtkLPQ প্ৰিন্টাৰ শাৰী ব্যৱস্থাপক
Name[ay]=GtkLPQ imprimir fila apnaqiri
Name[az]=GtkLPQ printer növbə meneceri
Name[ba]=GtkLPQ принтерҙар сираты менеджеры
Name[be]=Дыспетчар чаргі друкаркі GtkLPQ
Name[bg]=GtkLPQ мениджър на опашка за принтер
Name[bm]=GtkLPQ sɛbɛnnikɛlan ka layini ɲɛmɔgɔ
Name[bn]=GtkLPQ প্রিন্টার সারি ম্যানেজার
Name[bo]=gtkLPQདཔར་ཆས་ཀྱི་གྲལ་སྟར་དོ་དམ་པ།
Name[bs]=GtkLPQ upravitelj redova pisača
Name[ca]=Gestor de cues dimpressores GtkLPQ
Name[co]=GtkLPQ gestore di fila di stampante
Name[cs]=Správce tiskové fronty GtkLPQ
Name[cy]=Rheolwr ciw argraffydd GtkLPQ
Name[da]=GtkLPQ printer kø manager
Name[dv]=ރޖަނޭމެ އުކި ރޓަންރިޕް ޔޫކިޕީލްއެކޭޓީޖީ
Name[ee]=GtkLPQ agbalẽtamɔ̃ ƒe flidzikpɔla
Name[el]=Διαχείριση ουράς εκτυπωτών GtkLPQ
Name[eo]=GtkLPQ presila vostomanaĝero
Name[es]=Administrador de colas de impresoras GtkLPQ
Name[et]=GtkLPQ printeri järjekorrahaldur
Name[eu]=GtkLPQ inprimagailu ilararen kudeatzailea
Name[fa]=GtkLPQ ﺮﮕﭘﺎﭼ ﻒﺻ ﺮﯾﺪﻣ
Name[fi]=GtkLPQ-tulostinjonojen hallinta
Name[fj]=Manidia ni queue ni misini ni gtkLPQ
Name[fo]=GtkLPQ prentara í bíðirøð.
Name[fy]=GtkLPQ printerwachtrige behearder
Name[ga]=Bainisteoir scuaine printéir gtkLPQ
Name[gd]=Manaidsear ciudha clò-bhualadair GtkLPQ
Name[gl]=Xestor de filas de impresoras GtkLPQ
Name[gn]=GtkLPQ impresora fila mohendaha
Name[gu]=GtkLPQ પ્રિન્ટર કતાર મેનેજર
Name[ha]=Manajan layi na Printer GtkLPQ
Name[he]=GtkLPQ תספדמ רות להנמ
Name[hi]=GtkLPQ प्रिंटर कतार प्रबंधक
Name[hr]=GtkLPQ upravitelj čekanja pisača
Name[ht]=Manadjè keu enprimant GtkLPQ
Name[hu]=GtkLPQ nyomtatósor-kezelő
Name[hy]=GtkLPQ տպիչի հերթի կառավարիչ
Name[id]=Manajer antrian printer GtkLPQ
Name[ig]=Onye njikwa kwụ nahịrị ngwa nbipute GtkLPQ
Name[is]=GtkLPQ prentara biðröð stjórnandi
Name[it]=Gestore code di stampa GtkLPQ
Name[iu]=GtkLPQ ᐊᒥᓱᓕᐅᕈᑎᓄᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=GtkLPQ プリンター キュー マネージャー
Name[jv]=Manajer antrian printer GtkLPQ
Name[ka]=GtkLPQ პრინტერის რიგის მენეჯერი
Name[kk]=GtkLPQ принтер кезегі менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងជួរម៉ាស៊ីនបោះពុម្ព GtkLPQ
Name[kn]=GtkLPQ ಪ್ರಿಂಟರ್ ಕ್ಯೂ ಮ್ಯಾನೇಜರ್
Name[ko]=GtkLPQ 프린터 큐 관리자
Name[ku]=Rêvebirê rêza çaperê ya GtkLPQ
Name[ky]=GtkLPQ принтер кезеги менеджери
Name[la]=GtkLPQ printer queue procurator
Name[lb]=GtkLPQ Dréckerschlaang Manager
Name[lg]=GtkLPQ omuddukanya ennyiriri za printer
Name[ln]=Mokambi ya molongo ya imprimante GtkLPQ
Name[lo]=ຜູ້ຈັດການຄິວເຄື່ອງພິມ GtkLPQ
Name[lt]=GtkLPQ spausdintuvo eilių tvarkyklė
Name[lv]=GtkLPQ printera rindu pārvaldnieks
Name[mg]=Mpitantana filaharana mpanonta GtkLPQ
Name[mi]=Kaiwhakahaere tūtira pūreretā GtkLPQ
Name[mk]=Управувач со редици за печатач GtkLPQ
Name[ml]=GtkLPQ പ്രിന്റർ ക്യൂ മാനേജർ
Name[mn]=GtkLPQ принтерийн дарааллын менежер
Name[mr]=GtkLPQ प्रिंटर रांग व्यवस्थापक
Name[ms]=Pengurus baris gilir pencetak GtkLPQ
Name[mt]=Maniġer tal-kju tal-printer GtkLPQ
Name[my]=GtkLPQ ပရင်တာတန်းစီခြင်းမန်နေဂျာ
Name[ne]=GtkLPQ मुद्रक लाम प्रबन्धक
Name[nl]=GtkLPQ printerwachtrijbeheer
Name[no]=GtkLPQ skriverkøbehandling
Name[ny]=Woyanganira mzere wosindikiza wa GtkLPQ
Name[om]=Bulchaa tarree maxxansaa GtkLPQ
Name[or]=GtkLPQ ପ୍ରିଣ୍ଟର୍ କ୍ୟୁ ମ୍ୟାନେଜର୍ |
Name[pa]=GtkLPQ ਪ੍ਰਿੰਟਰ ਕਤਾਰ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer kolejek drukarki GtkLPQ
Name[ps]=ﺮﯾﺪﻣ ﺭﺎﻄﻗ ﺮټﻧﺮﭘ GtkLPQ ﺩ
Name[pt]=Gerenciador de filas de impressora GtkLPQ
Name[qu]=GtkLPQ impresora fila kamachiq
Name[ro]=Manager de cozi de imprimantă GtkLPQ
Name[ru]=Менеджер очередей принтеров GtkLPQ
Name[rw]=Umuyobozi wa printer ya GtkLPQ
Name[sa]=GtkLPQ मुद्रक कतार प्रबन्धक
Name[sd]=GtkLPQ ﺮﺠﻴﻨﺌﻣ ﺭﺎﻄﻗ ﺮٽﻧﺮﭘ
Name[si]=GtkLPQ මුද්u200dරණ පෝලිම් කළමනාකරු
Name[sk]=Správca frontu tlačiarne GtkLPQ
Name[sl]=Upravljalnik čakalne vrste tiskalnika GtkLPQ
Name[sm]=Pule o le laina lomitusi GtkLPQ
Name[sn]=GtkLPQ printer queue maneja
Name[so]=Maareeyaha safka daabacaadda GtkLPQ
Name[sq]=Menaxheri i radhës së printerit GtkLPQ
Name[st]=Motsamaisi oa mokoloko oa khatiso oa GtkLPQ
Name[su]=Pangatur antrian printer GtkLPQ
Name[sv]=GtkLPQ skrivarköhanterare
Name[sw]=Kidhibiti cha foleni ya kichapishi cha GtkLPQ
Name[ta]=GtkLPQ பிரிண்டர் வரிசை மேலாளர்
Name[te]=GtkLPQ ప్రింటర్ క్యూ మేనేజర్
Name[tg]=Менеҷери навбати чопгари GtkLPQ
Name[th]=ตัวจัดการคิวเครื่องพิมพ์ GtkLPQ
Name[ti]=GtkLPQ መሕተሚ ሪጋ ኣካያዲ
Name[tk]=GtkLPQ printer nobatynyň dolandyryjysy
Name[tl]=GtkLPQ printer queue manager
Name[to]=GtkLPQ pule ʻo e misini paki
Name[tr]=GtkLPQ yazıcı sıra yöneticisi
Name[ts]=GtkLPQ mufambisi wa layini ya muchini wo gandlisa
Name[tt]=GtkLPQ принтер чират менеджеры
Name[tw]=GtkLPQ printa ntonto sohwɛfo
Name[ty]=GtkLPQ tia faatere no te mau matini neneiraa
Name[ug]=GtkLPQ ﻰﺴﯩﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺮﭼﯚﺋ ﺮﯧﺘﻨﯨﺮﭘ
Name[uk]=Диспетчер черги принтера GtkLPQ
Name[ur]=GtkLPQ ﺮﺠﯿﻨﯿﻣ ﺭﺎﻄﻗ ﺮﭩﻧﺮﭘ
Name[uz]=GtkLPQ printer navbat menejeri
Name[vi]=Trình quản lý hàng đợi máy in GtkLPQ
Name[xh]=GtkLPQ umphathi womgca womshicileli
Name[yi]=GtkLPQ רעטלאַווראַפ ייר רעקורד
Name[yo]=Oluṣakoso isinyi itẹwe GtkLPQ
Name[zh]=GtkLPQ 打印机队列管理器
Name[zu]=Umphathi womugqa wephrinta ye-GtkLPQ
Name=GtkLPQ printer queue manager
GenericName=GtkLPQ
Comment[de]=Druckerwarteschlangen-Conrol
Comment[af]=Drukker toubeheer
Comment[am]=የአታሚ ወረፋ መቆጣጠሪያ
Comment[ar]=ﺔﻌﺑﺎﻄﻟﺍ ﺭﺎﻈﺘﻧﺍ ﺔﻤﺋﺎﻗ ﻲﻓ ﻢﻜﺤﺘﻟﺍ
Comment[as]=প্ৰিন্টাৰ শাৰী নিয়ন্ত্ৰণ
Comment[ay]=Impresora Fila Control ukaxa
Comment[az]=Printer növbəsinə nəzarət
Comment[ba]=Принтер сираты Конроль
Comment[be]=Кантроль чаргі друкаркі
Comment[bg]=Контрол на опашката на принтера
Comment[bm]=Imprimante Layidu Kɔrɔsili
Comment[bn]=প্রিন্টার সারি নিয়ন্ত্রণ
Comment[bo]=པར་འདེབས་འཕྲུལ་འཁོར་གྱི་གྲལ་བསྒྲིགས་ནས་ཁུང་ལི།
Comment[bs]=Kontrola reda čekanja štampača
Comment[ca]=Control de la cua de la impressora
Comment[co]=Cuntrolla di a fila di stampante
Comment[cs]=Řízení tiskové fronty
Comment[cy]=Rheoli Ciw Argraffydd
Comment[da]=Kontrol af printerkø
Comment[dv]=ލްރޯޓްންކޮ އުކި ރޓަންރިޕް
Comment[ee]=Agbalẽtamɔ̃ ƒe Fli Dzi Kpɔkpɔ
Comment[el]=Έλεγχος ουράς εκτυπωτή
Comment[eo]=Kontrolo de Presilo
Comment[es]=Control de cola de impresión
Comment[et]=Printeri järjekorra juhtimine
Comment[eu]=Inprimagailuen ilararen kontrola
Comment[fa]=ﺮﮕﭘﺎﭼ ﻒﺻ ﻝﺮﺘﻨﮐ
Comment[fi]=Tulostinjonon hallinta
Comment[fj]=iTuvatuva ni Tabaivola Conrol
Comment[fo]=Printer Queue Conrol
Comment[fr]=Contrôle de la file dattente de limprimante
Comment[fy]=Printerwachtrige kontrôle
Comment[ga]=Rialú scuaine Printéir
Comment[gd]=Smachd ciudha clò-bhualadair
Comment[gl]=Control da cola da impresora
Comment[gn]=Impresora Fila Control rehegua
Comment[gu]=પ્રિન્ટર કતાર નિયંત્રણ
Comment[ha]=Sarrafa Queue Printer
Comment[he]=תספדמ רות תרקב
Comment[hi]=प्रिंटर कतार नियंत्रण
Comment[hr]=Kontrola čekanja pisača
Comment[ht]=Enprimant keu kontwòl
Comment[hu]=Nyomtatósor vezérlése
Comment[hy]=Տպիչի հերթի վերահսկում
Comment[id]=Kontrol Antrian Printer
Comment[ig]=Njikwa Queue ngwa nbipute
Comment[is]=Stýring prentara biðröð
Comment[it]=Controllo della coda di stampa
Comment[iu]=ᐊᒥᓱᓕᐅᕆᔨ ᑯᐊᐃᐅ ᑳᓄᓪ
Comment[ja]=プリンターキュー制御
Comment[jv]=Kontrol Antrian Printer
Comment[ka]=პრინტერის რიგის კონტროლი
Comment[kk]=Принтер кезегін басқару
Comment[km]=ការគ្រប់គ្រងជួរម៉ាស៊ីនបោះពុម្ព
Comment[kn]=ಪ್ರಿಂಟರ್ ಕ್ಯೂ ಕಂಟ್ರೋಲ್
Comment[ko]=프린터 대기열 제어
Comment[ku]=Kontrola Dora Çapkerê
Comment[ky]=Принтердин кезегин көзөмөлдөө
Comment[la]=Printer Queue Imperium
Comment[lb]=Dréckerspäicher Kontroll
Comment[lg]=Okufuga Ennyiriri za Printer
Comment[ln]=Contrôle ya molongo ya imprimante
Comment[lo]=ການຄວບຄຸມຄິວເຄື່ອງພິມ
Comment[lt]=Spausdintuvo eilės valdymas
Comment[lv]=Printera rindas kontrole
Comment[mg]=Fanaraha-maso ny filaharana mpanonta
Comment[mi]=Mana Tūtira Pūreretā
Comment[mk]=Контрола на редот за печатач
Comment[ml]=പ്രിന്റർ ക്യൂ നിയന്ത്രണം
Comment[mn]=Принтерийн дарааллын хяналт
Comment[mr]=प्रिंटर रांग नियंत्रण
Comment[ms]=Kawalan Gilir Pencetak
Comment[mt]=Kontroll tal-Kju tal-Printer
Comment[my]=ပရင်တာ တန်းစီ ထိန်းချုပ်ရေး
Comment[ne]=प्रिन्टर लाम नियन्त्रण
Comment[nl]=Beheer printerwachtrij
Comment[no]=Kontroll av skriverkø
Comment[ny]=Printer Queue Control
Comment[om]=Toannoo Tarree Maxxansaa
Comment[or]=ପ୍ରିଣ୍ଟର୍ କ୍ୟୁ କଣ୍ଟ୍ରୋଲ୍ |
Comment[pa]=ਪ੍ਰਿੰਟਰ ਕਤਾਰ ਕੰਟਰੋਲ
Comment[pl]=Kontrola kolejki drukarki
Comment[ps]=ﻝﻭﺮټﻨﮐ ﺭﺎﻄﻗ ﺮګﭘﺎﭼ ﺩ
Comment[pt]=Fila de impressão Conrol
Comment[qu]=Impresorapa Fila kamachiynin
Comment[ro]=Controlul cozii de imprimantă
Comment[ru]=Управление очередью печати
Comment[rw]=Igenzura ryumurongo
Comment[sa]=मुद्रकपङ्क्तिनियन्त्रणम्
Comment[sd]=ﻝﻭﺮٽﻨڪ ﺭﺎﻄﻗ ﺮٽﻧﺮﭘ
Comment[si]=මුද්u200dරණ පෝලිම් පාලනය
Comment[sk]=Riadenie frontu tlačiarne
Comment[sl]=Nadzor čakalne vrste tiskalnika
Comment[sm]=Pulea Tuli Lomitusi
Comment[sn]=Printer Queue Control
Comment[so]=Xakamaynta safka daabacaha
Comment[sq]=Kontrolli i radhës së printerit
Comment[st]=Taolo ea Mohala oa Mohatisi
Comment[su]=Kontrol antrian printer
Comment[sv]=Kontroll av skrivarkö
Comment[sw]=Udhibiti wa Foleni ya Kichapishaji
Comment[ta]=அச்சுப்பொறி வரிசை கட்டுப்பாடு
Comment[te]=ప్రింటర్ క్యూ నియంత్రణ
Comment[tg]=Назорати навбати чопгар
Comment[th]=การควบคุมคิวเครื่องพิมพ์
Comment[ti]=ምቁጽጻር ሪጋ መሕተሚ
Comment[tk]=Printer nobatyna gözegçilik
Comment[tl]=Printer Queue Control
Comment[to]=Laine loloa ʻo e misini paki Conrol
Comment[tr]=Yazıcı Kuyruğu Kontrolü
Comment[ts]=Vulawuri bya Fole ya Mukandziyisi
Comment[tt]=Принтер чират контроле
Comment[tw]=Printer Ntoatoaso a Wɔde Di Dwuma
Comment[ty]=Matini neneiraa
Comment[ug]=ﺶﯩﻠﯩﻗ ﻝﻭﺮﺘﻧﻮﻛ ﺕەﺮﭼﯚﺋ ﺮﯧﺘﻨﯨﺮﭘ
Comment[uk]=Контроль черги принтера
Comment[ur]=ﻝﻭﺮﭩﻨﮐ ﺭﺎﻄﻗ ﺮﭩﻧﺮﭘ
Comment[uz]=Printer navbatini boshqarish
Comment[vi]=Kiểm soát hàng đợi máy in
Comment[xh]=Ulawulo Lomgca Womshicileli
Comment[yi]=לאָרטנאָק ייר רעקורד
Comment[yo]=Itẹwe isinyi Iṣakoso
Comment[zh]=打印机队列控制
Comment[zu]=Ukulawula Komugqa Wephrinta
Comment=Printer Queue Conrol
Exec=gtklpq
Icon=tb_print.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=X-System-print
