[Desktop Entry]
Encoding=UTF-8
Name[fr]=Impression de fichiers : GtkLP
Name[de]=GtkLP-Dateidruck
Name[es]=GtkLP: imprimir archivos
Name[ru]=Печать файла GtkLP
Name[af]=GtkLP lêer druk
Name[am]=GtkLP ፋይል ማተም
Name[ar]=GtkLP ﻒﻠﻣ ﺔﻋﺎﺒﻃ
Name[as]=GtkLP ফাইল প্ৰিন্টিং
Name[ay]=GtkLP qillqatan imprimitapa
Name[az]=GtkLP faylının çapı
Name[ba]=GtkLP файлдарын баҫтырыу
Name[be]=Друк файла GtkLP
Name[bg]=Отпечатване на GtkLP файл
Name[bm]=GtkLP file sɛbɛnni
Name[bn]=GtkLP ফাইল প্রিন্টিং
Name[bo]=gtkLPཡིག་ཆ་པར་སྐྲུན་བྱེད་པ།
Name[bs]=Štampanje GtkLP datoteka
Name[ca]=Impressió de fitxers GtkLP
Name[co]=Stampa di file GtkLP
Name[cs]=Tisk souborů GtkLP
Name[cy]=Argraffu ffeiliau GtkLP
Name[da]=GtkLP fil udskrivning
Name[dv]=ގންޓިންރިޕް ލްއިފަ ޕީލްއެކޭޓީޖީ
Name[ee]=GtkLP faɛl tata
Name[el]=Εκτύπωση αρχείου GtkLP
Name[eo]=GtkLP-dosierpreso
Name[et]=GtkLP-faili printimine
Name[eu]=GtkLP fitxategien inprimaketa
Name[fa]=GtkLP ﻞﯾﺎﻓ ﭖﺎﭼ
Name[fi]=GtkLP-tiedoston tulostus
Name[fj]=Tabai ni faile ni GtkLP
Name[fo]=GtkLP file printing
Name[fy]=GtkLP triem printsjen
Name[ga]=GtkLP comhad a phriontáil
Name[gd]=Clò-bhualadh faidhle GtkLP
Name[gl]=Impresión de ficheiros GtkLP
Name[gn]=GtkLP rembiapokue ñembohasa
Name[gu]=GtkLP ફાઇલ પ્રિન્ટીંગ
Name[ha]=Buga fayil na GtkLP
Name[he]=GtkLP יצבק תספדה
Name[hi]=जीटीकेएलपी फ़ाइल मुद्रण
Name[hr]=GtkLP ispis datoteke
Name[ht]=GtkLP fichye enprime
Name[hu]=GtkLP fájl nyomtatás
Name[hy]=GtkLP ֆայլի տպագրություն
Name[id]=Pencetakan file GtkLP
Name[ig]=Mbipụta faịlụ GtkLP
Name[is]=GtkLP skrá prentun
Name[it]=Stampa di file GtkLP
Name[iu]=GtkLP−ᒧᑦ ᑎᑎᖅᑲᙳᖅᑎᑦᑎᓂᖅ
Name[ja]=GtkLP ファイルの印刷
Name[jv]=Printing file GtkLP
Name[ka]=GtkLP ფაილის ბეჭდვა
Name[kk]=GtkLP файлын басып шығару
Name[km]=ការបោះពុម្ពឯកសារ GtkLP
Name[kn]=GtkLP ಫೈಲ್ ಪ್ರಿಂಟಿಂಗ್
Name[ko]=GtkLP 파일 인쇄
Name[ku]=Çapkirina pelê GtkLP
Name[ky]=GtkLP файлды басып чыгаруу
Name[la]=GtkLP lima excudendi
Name[lb]=GtkLP Datei Dréckerei
Name[lg]=Okukuba fayiro za GtkLP
Name[ln]=Impression ya fichier GtkLP
Name[lo]=ການພິມໄຟລ໌ GtkLP
Name[lt]=GtkLP failo spausdinimas
Name[lv]=GtkLP failu drukāšana
Name[mg]=GtkLP fanontana rakitra
Name[mi]=Tānga kōnae GtkLP
Name[mk]=Печатење на датотеки GtkLP
Name[ml]=GtkLP ഫയൽ പ്രിന്റിംഗ്
Name[mn]=GtkLP файл хэвлэх
Name[mr]=GtkLP फाइल प्रिंटिंग
Name[ms]=Percetakan fail GtkLP
Name[mt]=Stampar tal-fajl GtkLP
Name[my]=GtkLP ဖိုင်ပုံနှိပ်ခြင်း။
Name[ne]=GtkLP फाइल मुद्रण
Name[nl]=GtkLP-bestand afdrukken
Name[no]=GtkLP filutskrift
Name[ny]=Kusindikiza kwa fayilo ya GtkLP
Name[om]=Maxxansa faayilii GtkLP
Name[or]=GtkLP ଫାଇଲ୍ ପ୍ରିଣ୍ଟିଙ୍ଗ୍ |
Name[pa]=GtkLP ਫਾਈਲ ਪ੍ਰਿੰਟਿੰਗ
Name[pl]=Drukowanie plików GtkLP
Name[ps]=ﻝﻮﮐ ﭖﺎﭼ ﻞﯾﺎﻓ GtkLP ﺩ
Name[pt]=Impressão de ficheiros GtkLP
Name[qu]=GtkLP willañiqi imprimiy
Name[ro]=Imprimare fișier GtkLP
Name[rw]=GtkLP icapiro rya dosiye
Name[sa]=GtkLP सञ्चिकामुद्रणम्
Name[sd]=GtkLP ﮓﻨٽﻧﺮﭘ ﻞﺋﺎﻓ
Name[si]=GtkLP ගොනු මුද්u200dරණය
Name[sk]=Tlač súboru GtkLP
Name[sl]=Tiskanje datoteke GtkLP
Name[sm]=GtkLP lolomi faila
Name[sn]=GtkLP kudhinda faira
Name[so]=Daabacaadda faylka GtkLP
Name[sq]=Printimi i skedarëve GtkLP
Name[st]=Khatiso ea faele ea GtkLP
Name[su]=Percetakan file GtkLP
Name[sv]=GtkLP-fil utskrift
Name[sw]=Uchapishaji wa faili ya GtkLP
Name[ta]=GtkLP கோப்பு அச்சிடுதல்
Name[te]=GtkLP ఫైల్ ప్రింటింగ్
Name[tg]=Чопи файли GtkLP
Name[th]=การพิมพ์ไฟล์ GtkLP
Name[ti]=GtkLP ፋይል ሕትመት
Name[tk]=GtkLP faýl çap etmek
Name[tl]=Pag-print ng GtkLP file
Name[to]=GtkLP hono paaki ʻo e faile
Name[tr]=GtkLP dosyası yazdırma
Name[ts]=Ku kandziyisiwa ka fayili ya GtkLP
Name[tt]=GtkLP файл бастыру
Name[tw]=GtkLP fael a wɔde tintim
Name[ty]=GtkLP putuite
Name[ug]=GtkLP ﺶﯩﺴﯧﺑ ﺕەﺠﺟﯚﮬ
Name[uk]=Друк файлу GtkLP
Name[ur]=GtkLP ﮓﻨﭩﻧﺮﭘ ﻞﺋﺎﻓ
Name[uz]=GtkLP faylni chop etish
Name[vi]=in tệp GtkLP
Name[xh]=Ushicilelo lwefayile yeGtkLP
Name[yi]=ןקורד עקעט פּלקטג
Name[yo]=GtkLP faili titẹ sita
Name[zh]=GtkLP 文件打印
Name[zu]=Ukuphrinta ifayela le-GtkLP
Name=GtkLP file printing
GenericName=GtkLP
Comment[fr]=Impression de fichiers : GtkLP
Comment[de]=GtkLP-Dateidruck
Comment[es]=GtkLP: imprimir archivos
Comment[ru]=Печать файла GtkLP
Comment[af]=GtkLP lêer druk
Comment[am]=GtkLP ፋይል ማተም
Comment[ar]=GtkLP ﻒﻠﻣ ﺔﻋﺎﺒﻃ
Comment[as]=GtkLP ফাইল প্ৰিন্টিং
Comment[ay]=GtkLP qillqatan imprimitapa
Comment[az]=GtkLP faylının çapı
Comment[ba]=GtkLP файлдарын баҫтырыу
Comment[be]=Друк файла GtkLP
Comment[bg]=Отпечатване на GtkLP файл
Comment[bm]=GtkLP file sɛbɛnni
Comment[bn]=GtkLP ফাইল প্রিন্টিং
Comment[bo]=gtkLPཡིག་ཆ་པར་སྐྲུན་བྱེད་པ།
Comment[bs]=Štampanje GtkLP datoteka
Comment[ca]=Impressió de fitxers GtkLP
Comment[co]=Stampa di file GtkLP
Comment[cs]=Tisk souborů GtkLP
Comment[cy]=Argraffu ffeiliau GtkLP
Comment[da]=GtkLP fil udskrivning
Comment[dv]=ގންޓިންރިޕް ލްއިފަ ޕީލްއެކޭޓީޖީ
Comment[ee]=GtkLP faɛl tata
Comment[el]=Εκτύπωση αρχείου GtkLP
Comment[eo]=GtkLP-dosierpreso
Comment[et]=GtkLP-faili printimine
Comment[eu]=GtkLP fitxategien inprimaketa
Comment[fa]=GtkLP ﻞﯾﺎﻓ ﭖﺎﭼ
Comment[fi]=GtkLP-tiedoston tulostus
Comment[fj]=Tabai ni faile ni GtkLP
Comment[fo]=GtkLP file printing
Comment[fy]=GtkLP triem printsjen
Comment[ga]=GtkLP comhad a phriontáil
Comment[gd]=Clò-bhualadh faidhle GtkLP
Comment[gl]=Impresión de ficheiros GtkLP
Comment[gn]=GtkLP rembiapokue ñembohasa
Comment[gu]=GtkLP ફાઇલ પ્રિન્ટીંગ
Comment[ha]=Buga fayil na GtkLP
Comment[he]=GtkLP יצבק תספדה
Comment[hi]=जीटीकेएलपी फ़ाइल मुद्रण
Comment[hr]=GtkLP ispis datoteke
Comment[ht]=GtkLP fichye enprime
Comment[hu]=GtkLP fájl nyomtatás
Comment[hy]=GtkLP ֆայլի տպագրություն
Comment[id]=Pencetakan file GtkLP
Comment[ig]=Mbipụta faịlụ GtkLP
Comment[is]=GtkLP skrá prentun
Comment[it]=Stampa di file GtkLP
Comment[iu]=GtkLP−ᒧᑦ ᑎᑎᖅᑲᙳᖅᑎᑦᑎᓂᖅ
Comment[ja]=GtkLP ファイルの印刷
Comment[jv]=Printing file GtkLP
Comment[ka]=GtkLP ფაილის ბეჭდვა
Comment[kk]=GtkLP файлын басып шығару
Comment[km]=ការបោះពុម្ពឯកសារ GtkLP
Comment[kn]=GtkLP ಫೈಲ್ ಪ್ರಿಂಟಿಂಗ್
Comment[ko]=GtkLP 파일 인쇄
Comment[ku]=Çapkirina pelê GtkLP
Comment[ky]=GtkLP файлды басып чыгаруу
Comment[la]=GtkLP lima excudendi
Comment[lb]=GtkLP Datei Dréckerei
Comment[lg]=Okukuba fayiro za GtkLP
Comment[ln]=Impression ya fichier GtkLP
Comment[lo]=ການພິມໄຟລ໌ GtkLP
Comment[lt]=GtkLP failo spausdinimas
Comment[lv]=GtkLP failu drukāšana
Comment[mg]=GtkLP fanontana rakitra
Comment[mi]=Tānga kōnae GtkLP
Comment[mk]=Печатење на датотеки GtkLP
Comment[ml]=GtkLP ഫയൽ പ്രിന്റിംഗ്
Comment[mn]=GtkLP файл хэвлэх
Comment[mr]=GtkLP फाइल प्रिंटिंग
Comment[ms]=Percetakan fail GtkLP
Comment[mt]=Stampar tal-fajl GtkLP
Comment[my]=GtkLP ဖိုင်ပုံနှိပ်ခြင်း။
Comment[ne]=GtkLP फाइल मुद्रण
Comment[nl]=GtkLP-bestand afdrukken
Comment[no]=GtkLP filutskrift
Comment[ny]=Kusindikiza kwa fayilo ya GtkLP
Comment[om]=Maxxansa faayilii GtkLP
Comment[or]=GtkLP ଫାଇଲ୍ ପ୍ରିଣ୍ଟିଙ୍ଗ୍ |
Comment[pa]=GtkLP ਫਾਈਲ ਪ੍ਰਿੰਟਿੰਗ
Comment[pl]=Drukowanie plików GtkLP
Comment[ps]=ﻝﻮﮐ ﭖﺎﭼ ﻞﯾﺎﻓ GtkLP ﺩ
Comment[pt]=Impressão de ficheiros GtkLP
Comment[qu]=GtkLP willañiqi imprimiy
Comment[ro]=Imprimare fișier GtkLP
Comment[rw]=GtkLP icapiro rya dosiye
Comment[sa]=GtkLP सञ्चिकामुद्रणम्
Comment[sd]=GtkLP ﮓﻨٽﻧﺮﭘ ﻞﺋﺎﻓ
Comment[si]=GtkLP ගොනු මුද්u200dරණය
Comment[sk]=Tlač súboru GtkLP
Comment[sl]=Tiskanje datoteke GtkLP
Comment[sm]=GtkLP lolomi faila
Comment[sn]=GtkLP kudhinda faira
Comment[so]=Daabacaadda faylka GtkLP
Comment[sq]=Printimi i skedarëve GtkLP
Comment[st]=Khatiso ea faele ea GtkLP
Comment[su]=Percetakan file GtkLP
Comment[sv]=GtkLP-fil utskrift
Comment[sw]=Uchapishaji wa faili ya GtkLP
Comment[ta]=GtkLP கோப்பு அச்சிடுதல்
Comment[te]=GtkLP ఫైల్ ప్రింటింగ్
Comment[tg]=Чопи файли GtkLP
Comment[th]=การพิมพ์ไฟล์ GtkLP
Comment[ti]=GtkLP ፋይል ሕትመት
Comment[tk]=GtkLP faýl çap etmek
Comment[tl]=Pag-print ng GtkLP file
Comment[to]=GtkLP hono paaki ʻo e faile
Comment[tr]=GtkLP dosyası yazdırma
Comment[ts]=Ku kandziyisiwa ka fayili ya GtkLP
Comment[tt]=GtkLP файл бастыру
Comment[tw]=GtkLP fael a wɔde tintim
Comment[ty]=GtkLP putuite
Comment[ug]=GtkLP ﺶﯩﺴﯧﺑ ﺕەﺠﺟﯚﮬ
Comment[uk]=Друк файлу GtkLP
Comment[ur]=GtkLP ﮓﻨﭩﻧﺮﭘ ﻞﺋﺎﻓ
Comment[uz]=GtkLP faylni chop etish
Comment[vi]=in tệp GtkLP
Comment[xh]=Ushicilelo lwefayile yeGtkLP
Comment[yi]=ןקורד עקעט פּלקטג
Comment[yo]=GtkLP faili titẹ sita
Comment[zh]=GtkLP 文件打印
Comment[zu]=Ukuphrinta ifayela le-GtkLP
Comment=GtkLP file printing
Exec=gtklp
Icon=tb_print.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=X-System-print
