[Desktop Entry]
Name[af]=guvcview
Name[am]=guvcview
Name[ar]=guvcview
Name[as]=guvcview
Name[ay]=guvcview ukax mä jach’a uñacht’äwiwa
Name[az]=guvcview
Name[ba]=гувквью
Name[be]=guvcview
Name[bg]=guvcview
Name[bm]=guvcview ye
Name[bn]=guvcview
Name[bo]=ཀུའུ་ཝེ་ཆི་ཝེ་ཆི།
Name[bs]=guvcview
Name[ca]=guvcview
Name[co]=guvcview
Name[cy]=guvcview
Name[da]=guvcview
Name[dv]=guvcview
Name[ee]=guvcview ƒe nukpɔkpɔ
Name[el]=guvcview
Name[eo]=guvcview
Name[et]=guvcview
Name[eu]=guvcview
Name[fa]=guvcview
Name[fi]=guvcview
Name[fj]=guvcview
Name[fo]=guvcview
Name[fy]=guvcview
Name[ga]=guvcview
Name[gd]=sealladh guvc
Name[gl]=guvcview
Name[gn]=guvcview rehegua
Name[gu]=guvcview
Name[ha]=guvcview
Name[he]=guvcview
Name[hi]=guvcview
Name[hr]=guvcview
Name[ht]=guvcview
Name[hu]=guvcview
Name[hy]=guvcview
Name[id]=guvcview
Name[ig]=guvcview
Name[is]=guvcview
Name[iu]=ᐃᒡᔪᕐᓂᖅ
Name[ja]=guvcview
Name[jv]=guvcview
Name[ka]=guvcview
Name[kk]=guvcview
Name[km]=guvcview
Name[kn]=guvcview
Name[ko]=구브뷰
Name[ku]=guvcview
Name[ky]=guvcview
Name[la]=guvcview
Name[lb]=guvcview
Name[lg]=guvcview
Name[ln]=guvcview na likambo yango
Name[lo]=guvcview
Name[lt]=guvcview
Name[mg]=guvcview
Name[mi]=tirohanga
Name[mk]=guvcview
Name[ml]=guvcview
Name[mn]=guvcview
Name[mr]=guvcview
Name[ms]=guvcview
Name[mt]=guvcview
Name[my]=guvcview
Name[ne]=guvcview
Name[no]=guvcview
Name[ny]=guvcview
Name[om]=guvcview jedhu
Name[or]=guvcview
Name[pa]=guvcview
Name[pl]=Guvcview
Name[ps]=guvcview
Name[qu]=guvcview nisqa
Name[ro]=guvcview
Name[rw]=Guvcview
Name[sa]=guvcview
Name[sd]=guvcview
Name[sk]=guvcview
Name[sl]=guvcview
Name[sm]=guvcview
Name[sn]=guvcview
Name[so]=guvcview
Name[sq]=guvcview
Name[st]=guvcview
Name[su]=guvcview
Name[sv]=guvcview
Name[sw]=guvcview
Name[ta]=guvcview
Name[te]=guvcview
Name[tg]=guvcview
Name[th]=กุฟซีวิว
Name[ti]=guvcview ዝብል ጽሑፍ ኣሎ።
Name[tk]=guvcview
Name[tl]=guvcview
Name[to]=guvcview
Name[ts]=guvcview
Name[tt]=guvcview
Name[tw]=guvcview a ɛwɔ hɔ
Name[ty]=Te mau nota
Name[ug]=guvcview
Name[uk]=guvcview
Name[ur]=guvcview
Name[uz]=guvcview
Name[vi]=guvcview
Name[xh]=iguvcview
Name[yi]=guvcview
Name[yo]=guvcview
Name[zh]=guvc视图
Name[zu]=guvcview
Name=guvcview
Name[cs]=guvcview
Name[de]=GUVCView
Name[en_AU]=guvcview
Name[es]=guvcview
Name[fr]=Visualisation de vidéo GTK : Guvcview
Name[it]=guvcview
Name[lv]=guvcview
Name[nl]=guvcview
Name[pt]=guvcview
Name[pt_BR]=guvcview
Name[ru]=guvcview
Name[si]=guvcview
Name[sr]=Камерица
Name[tr]=guvcview
GenericName=GTK UVC video viewer
GenericName[cs]=Prohlížeč videa GTK UVC
GenericName[de]=UVC-Video-Betrachter in GTK
GenericName[en_AU]=GTK UVC video viewer
GenericName[es]=Reproductor video GTK UVC
GenericName[fr]=Logiciel GTK de visualisation de vidéo UVC
GenericName[it]=GTK UVC visualizzatore video
GenericName[lv]=GTK UVC video skatītājs
GenericName[nl]=GTK UVC videokijker
GenericName[pt]=Visualizador de vídeo GTK UVC
GenericName[pt_BR]=Visualizador de vídeo GTK UVC
GenericName[ru]=GTK UVC видео обозреватель
GenericName[si]=GTK UVC වීඩියෝ දකින්නා
GenericName[sr]=ГТК УВЦ видео приказивач
GenericName[tr]=GTK UVC video görüntüleyici
X-GNOME-FullName=GTK UVC video viewer
X-GNOME-FullName[cs]=Prohlížeč videa GTK UVC
X-GNOME-FullName[de]=UVC-Video-Betrachter in GTK
X-GNOME-FullName[en_AU]=GTK UVC video viewer
X-GNOME-FullName[es]=Reproductor video GTK UVC
X-GNOME-FullName[fr]=Logiciel GTK de visualisation de vidéo UVC
X-GNOME-FullName[it]=GTK UVC visualizzatore video
X-GNOME-FullName[lv]=GTK UVC video skatītājs
X-GNOME-FullName[nl]=GTK UVC videokijker
X-GNOME-FullName[pt]=Visualizador de vídeo GTK UVC
X-GNOME-FullName[pt_BR]=Visualizador de vídeo GTK UVC
X-GNOME-FullName[ru]=GTK UVC видео обозреватель
X-GNOME-FullName[si]=GTK UVC වීඩියෝ දකින්නා
X-GNOME-FullName[sr]=ГТК УВЦ видео приказивач
X-GNOME-FullName[tr]=GTK UVC video görüntüleyici
Comment[af]=n Videokyker en vasvanger vir die linux uvc-bestuurder
Comment[am]=ለሊኑክስ uvc ሾፌር የቪዲዮ መመልከቻ እና መቅረጫ
Comment[ar]=linux uvc ﻞﻴﻐﺸﺗ ﺞﻣﺎﻧﺮﺒﻟ ﺮﺳﺁﻭ ﻮﻳﺪﻴﻓ ﺽﺭﺎﻋ
Comment[as]=linux uvc ড্ৰাইভাৰৰ বাবে এটা ভিডিঅ দৰ্শক আৰু কেপচাৰ
Comment[ay]=Mä video uñch’ukiña ukat capturar ukax linux uvc apnaqiritaki
Comment[az]=Linux uvc sürücüsü üçün video görüntüləyici və ələ keçirici
Comment[ba]=Linux uvc водителе өсөн видео ҡараусы һәм төшөрөүсе
Comment[be]=Праграма для прагляду і захопу відэа для драйвера linux uvc
Comment[bg]=Програма за преглед и заснемане на видео за драйвера uvc за linux
Comment[bm]=Wideyo filɛlikɛlan ni minɛbaga dɔ ye linux uvc bolibaga ye
Comment[bn]=লিনাক্স ইউভিসি ড্রাইভারের জন্য একটি ভিডিও ভিউয়ার এবং ক্যাপচারার
Comment[bo]=ལིན་ཞི་ཝུའུ་ཁི་ལན་གྱི་ཁ་ལོ་བའི་བརྙན་རིས་ལྟ་མཁན་དང་འཛིན་བཟུང་བྱེད་མཁན།
Comment[bs]=Video preglednik i snimač za linux uvc drajver
Comment[ca]=Un visor i capturador de vídeo per al controlador uvc de Linux
Comment[co]=Un video viewer è capturer per u driver Linux uvc
Comment[cy]=Gwyliwr fideo a daliwr ar gyfer y gyrrwr uvc linux
Comment[da]=En videofremviser og optager til linux uvc-driveren
Comment[dv]=އްއެ ރޗަޕްކެ ދިއަ ރއައުވި އޯޑިވީ ށްރަވައިރަޑް ސީވީޔޫ ސްކްނަލި
Comment[ee]=Videokpɔla kple fotoɖela na linux uvc ʋukula
Comment[el]=Ένα πρόγραμμα προβολής και λήψης βίντεο για το πρόγραμμα οδήγησης linux uvc
Comment[eo]=Videospektilo kaj kaptilo por la linuksa uvc-ŝoforo
Comment[et]=Linuxi uvc-draiveri videovaatur ja pildistaja
Comment[eu]=Linux uvc kontrolatzailerako bideo-ikuslea eta kaptatzailea
Comment[fa]=uvc ﺲﮐﻮﻨﯿﻟ ﺭﻮﯾﺍﺭﺩ ﯼﺍﺮﺑ ﻮﯾﺪﯾﻭ ﻩﺪﻨﻨﮐ ﻂﺒﺿ ﻭ ﺮﮕﺸﯾﺎﻤﻧ
Comment[fi]=Videon katseluohjelma ja sieppaaja linux uvc -ohjaimelle
Comment[fj]=E dua na sarasara ena vidio kei na capturer me baleta na draiva linux uvc
Comment[fo]=Ein video útsýni og capturer for linux uvc driver
Comment[fy]=In fideo-werjouwer en capturer foar de linux uvc-bestjoerder
Comment[ga]=Breathnóir físeán agus glacadóir le haghaidh an uvc tiománaí linux
Comment[gd]=Sealladair bhidio agus glacadair airson an linux uvc driver
Comment[gl]=Un visor e capturador de vídeo para o controlador uvc de Linux
Comment[gn]=Peteĩ video jehechaukaha ha capturador linux uvc mboguatahárape g̃uarã
Comment[gu]=linux uvc ડ્રાઇવર માટે વિડિઓ દર્શક અને કેપ્ચરર
Comment[ha]=Mai kallon bidiyo da mai ɗaukar hoto don direban linux uvc
Comment[he]=linux uvc לש ןקתהה להנמ רובע דכולו ואדיו גיצמ
Comment[hi]=लिनक्स यूवीसी ड्राइवर के लिए एक वीडियो व्यूअर और कैप्चरर
Comment[hr]=Video preglednik i snimač za linux uvc upravljački program
Comment[ht]=Yon visualiseur videyo ak kaptire pou chofè uvc linux
Comment[hu]=Videónézegető és rögzítő a linux uvc illesztőprogramhoz
Comment[hy]=Տեսանյութերի դիտող և գրավիչ linux uvc վարորդի համար
Comment[id]=Penampil dan penangkap video untuk driver linux uvc
Comment[ig]=Onye na-ekiri vidiyo na onye na-ese foto maka onye ọkwọ ụgbọ ala linux uvc
Comment[is]=Myndbandaskoðari og fangari fyrir linux uvc bílstjórinn
Comment[iu]=ᑕᕐᕆᔮᒃᓴᒥᒃ ᑕᐅᑐᒃᑎᒥᒃ ᑎᒍᓯᔨᒥᒃᓗ linux uvc−ᒧᑦ ᐊᖁᑎᒧᑦ
Comment[ja]=Linux uvc ドライバー用のビデオ ビューアーおよびキャプチャー
Comment[jv]=Penampil video lan panangkep kanggo driver uvc linux
Comment[ka]=ვიდეო მაყურებელი და გადამღები linux uvc დრაივერი
Comment[kk]=Linux uvc драйверіне арналған бейне қарау құралы және түсіру құралы
Comment[km]=កម្មវិធីមើលវីដេអូ និងអ្នកថតសម្រាប់កម្មវិធីបញ្ជា linux uvc
Comment[kn]=ಲಿನಕ್ಸ್ uvc ಡ್ರೈವರ್u200cಗಾಗಿ ವೀಡಿಯೊ ವೀಕ್ಷಕ ಮತ್ತು ಕ್ಯಾಪ್ಚರ್
Comment[ko]=Linux uvc 드라이버용 비디오 뷰어 및 캡처 프로그램
Comment[ku]=Ji bo ajokera uvc-ya linux temaşevanek vîdyoyê û girtina vîdyoyê
Comment[ky]=Linux uvc драйвери үчүн видео көрүүчү жана сүрөткө тартуучу
Comment[la]=Video videntium et captatorem pro Linux uvc exactoris
Comment[lb]=E Video Viewer an Capturer fir de Linux uvc Driver
Comment[lg]=Omulabi wa vidiyo nokukwata vidiyo ku ddereeva wa linux uvc
Comment[ln]=Motali mpe mokangami ya video mpo na pilote ya linux uvc
Comment[lo]=ຕົວເບິ່ງວິດີໂອ ແລະຕົວຈັບພາບສຳລັບໄດເວີ linux uvc
Comment[lt]=Vaizdo įrašų peržiūros priemonė ir fiksatorius, skirtas Linux uvc tvarkyklei
Comment[mg]=Mpijery horonan-tsary sy mpaka sary ho anny mpamily uvc linux
Comment[mi]=He kaitirotiro ataata me te hopu mo te taraiwa uvc linux
Comment[mk]=Прегледувач на видео и снимач за двигателот на Linux UVC
Comment[ml]=linux uvc ഡ്രൈവറിനായുള്ള ഒരു വീഡിയോ വ്യൂവറും ക്യാപ്u200cചറും
Comment[mn]=Линукс uvc драйверт зориулсан видео үзүүлэгч болон зураг авагч
Comment[mr]=लिनक्स यूव्हीसी ड्रायव्हरसाठी व्हिडिओ दर्शक आणि कॅप्चरर
Comment[ms]=Penonton dan penangkap video untuk pemacu uvc linux
Comment[mt]=Vidjow viewer u capturer għas-sewwieq Linux uvc
Comment[my]=linux uvc ဒရိုက်ဘာအတွက် ဗီဒီယိုကြည့်ရှုခြင်းနှင့် ဖမ်းယူကိရိယာ
Comment[ne]=लिनक्स uvc चालकको लागि भिडियो दर्शक र क्याप्चरर
Comment[no]=En videofremviser og fanger for linux uvc-driveren
Comment[ny]=Wowonera makanema ndi chojambula cha driver wa linux uvc
Comment[om]=Daawwataa fi qabattuu viidiyoo kan konkolaachisaa linux uvc
Comment[or]=ଲିନକ୍ସ uvc ଡ୍ରାଇଭର ପାଇଁ ଏକ ଭିଡିଓ ଦର୍ଶକ ଏବଂ କ୍ୟାପଚର |
Comment[pa]=linux uvc ਡਰਾਈਵਰ ਲਈ ਇੱਕ ਵੀਡੀਓ ਦਰਸ਼ਕ ਅਤੇ ਕੈਪਚਰਰ
Comment[pl]=Przeglądarka wideo i przechwytywacz dla sterownika uvc dla systemu Linux
Comment[ps]=ﯽﮑﻧﻮﮐ ﻝﻮﯿﻧ ﻭﺍ ﯽﮑﻧﻭﺪﯿﻟ ﻮﯾډﯾﻭ ﺩ ﻩﺭﺎﭙﻟ ﺭﻮﯾﺍﺭډ uvc ﺲﮑﻨﯿﻟ ﺩ
Comment[qu]=Huk video qhawaq chaymanta hapiq linux uvc purichiqpaq
Comment[ro]=Un vizualizator și un captor video pentru driverul Linux uvc
Comment[rw]=Kureba amashusho no gufata amashusho ya linux uvc
Comment[sa]=linux uvc चालकस्य कृते एकः विडियो दर्शकः, कैप्चररः च
Comment[sd]=ڙﺪﻨڪ ﻮﻀﺒﻗ ۽ ڙﺪﻨﺳڏ ﻮﻳڊﻭ ءِﻻ﻿ ﺭﻮﻴﺋﺍﺭڊ ﻲﺳ ﻱﻭ ﻮﻳ ﺲڪﻨﻴﻟ
Comment[sk]=Prehliadač a zachytávač videa pre ovládač linux uvc
Comment[sl]=Pregledovalnik in zajemalnik videa za gonilnik linux uvc
Comment[sm]=O se tagata matamata ata ma pue mo le avetaavale uvc linux
Comment[sn]=Vhidhiyo inoona uye inotora iyo linux uvc mutyairi
Comment[so]=Fiidiyow daawade iyo sawir qaade loogu talagalay darawalka linux uvc
Comment[sq]=Një shikues dhe kapës video për drejtuesin e linux uvc
Comment[st]=Sebali sa video le setsoantso sa mokhanni oa linux uvc
Comment[su]=Panempo pidéo sareng panangkep pikeun supir uvc linux
Comment[sv]=En videovisare och infångare för linux uvc-drivrutinen
Comment[sw]=Kitazamaji cha video na kinasaji cha kiendesha linux uvc
Comment[ta]=லினக்ஸ் யுவிசி டிரைவிற்கான வீடியோ வியூவர் மற்றும் கேப்சர்
Comment[te]=linux uvc డ్రైవర్ కోసం వీడియో వ్యూయర్ మరియు క్యాప్చర్
Comment[tg]=Намоишгари видео ва сабткунанда барои драйвери Linux uvc
Comment[th]=โปรแกรมดูวิดีโอและตัวจับภาพสำหรับไดรเวอร์ลินุกซ์ uvc
Comment[ti]=ን linux uvc ድራይቨር ዝኸውን ቪድዮ ቪውየርን ካፕቸርን።
Comment[tk]=Linux uvc sürüjisi üçin wideo tomaşaçy we surata düşüriji
Comment[tl]=Isang video viewer at capturer para sa linux uvc driver
Comment[to]=Ko ha foʻi vitio mo ha capturer ki he fakaʻuli ʻoku ʻi ai e ili x
Comment[ts]=Xilanguti xa vhidiyo na xikhomela xa muchayeri wa linux uvc
Comment[tt]=Линукс uvc драйверы өчен видео караучы һәм төшерүче
Comment[tw]=Video hwɛfo ne nea ɔkyere ma linux uvc draiver no
Comment[ty]=Te hoê taata mataitai video e te hoê taata pata hohoa no te taata faahoro pereoo linux uvc
Comment[ug]=Linux uvc ﻰﭼﯘﻘﺗﺭﺎﺗ ەﯞ ﻰﺴﯩﭼﯜﮔﺭﯚﻛ ﻦﯩﺳ ﯔﯩﻨﯩﺳﯘﻘﺗﺎﻏﺯﻮﻗ
Comment[uk]=Програма перегляду та захоплення відео для драйвера uvc для linux
Comment[ur]=ﺭﺮﭽﭙﯿﮐ ﺭﻭﺍ ﻻ﻿ﺍﻭ ﮯﻨﮭﮑﯾﺩ ﻮﯾﮉﯾﻭ ﮏﯾﺍ ﮯﯿﻟ ﮯﮐ ﺭﻮﯿﺋﺍﺭﮈ ﯽﺳ ﯼﻭ ﻮﯾ ﺲﮑﻨﯿﻟ
Comment[uz]=Linux uvc drayveri uchun video tomoshabin va suratga oluvchi
Comment[vi]=Trình xem và chụp video cho trình điều khiển uvc linux
Comment[xh]=Umbukeli wevidiyo kunye nomthathi we-linux uvc driver
Comment[yi]=רעוויירד קוו סקוניל יד ראַפֿ רעשטפּאַק ןוא רעקוקוצ אעדיוו א
Comment[yo]=Oluwo fidio ati oluyaworan fun awakọ linux uvc
Comment[zh]=适用于 Linux UVC 驱动程序的视频查看器和捕获器
Comment[zu]=Isibukeli sevidiyo nesithwebuli somshayeli we-linux uvc
Comment=A video viewer and capturer for the linux uvc driver
Comment[cs]=Prohlížení a zachytávání videa z linuxových uvc ovladačů
Comment[de]=Ein Video-Betrachter und Aufnahmewerkzeug für den Linux-UVC-Treiber
Comment[en_AU]=A video viewer and capturer for the linux uvc driver
Comment[es]=Un reproductor y capturador de vídeo para el controlador uvc de Linux
Comment[fr]=Logiciel de visualisation et de capture vidéo pour le pilote uvc Linux
Comment[it]=Un visualizzatore e catturatore video per il driver uvc di linux
Comment[lv]=Video skatītājs un uzņēmējs Linux UVC draiverim
Comment[nl]=Een programma voor het bekijken en opnemen van video, voor het Linuxstuurprogramma uvc
Comment[pt]=Um visualizador e capturador de de vídeo para o controlador linux uvc
Comment[pt_BR]=Um visualizador e capturador de de vídeo para o controlador linux uvc
Comment[ru]=Программа просмотра и записи видео для драйвера Linux UVC
Comment[si]=ලිනක්ස් uvc ඩ්‍රයිවරය සඳහා වීඩියෝ පෙන්වන්නා සහ ග්‍රහණය කරන්නා
Comment[sr]=Приказивач и снимач видеа за линуксов увц управљачки програм
Comment[tr]=Linux uvc sürücüsü için video görüntüleyici ve yakalayıcı
TryExec=guvcview
Exec=guvcview
Icon=/usr/share/pixmaps/guvcview/guvcview.png
Terminal=false
Type=Application
Categories=X-Multimedia-video
X-GNOME-Gettext-Domain=guvcview
StartupNotify=true
