[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name[fr]=Catalogueur des CD : GWhere
Name[de]=GWhere Disk Cataloger
Name[es]=GWhere: gestor de base de datos de CDs
Name[ru]=Каталогизатор дисков GWhere
Name[af]=GWhere skyf katalogiseerder
Name[am]=GWhere ዲስክ ማውጫ
Name[ar]=GWhere ﺱﺮﻬﻔﻤﻟﺍ ﺹﺮﻘﻟﺍ
Name[as]=GWhere ডিষ্ক কেটেলগাৰ
Name[ay]=GWhere disco catálogo ukax utji
Name[az]=GWhere disk kataloqu
Name[ba]=GWhere диск каталогы
Name[be]=Каталагізатар дыскаў GWhere
Name[bg]=GWhere дисков каталогизатор
Name[bm]=GWhere disiki katalogu
Name[bn]=GWhere ডিস্ক ক্যাটালগার
Name[bo]=ས་ཆ་གང་དུ་ཁབ་ལེན་སྡེར་མའི་དཀར་ཆག
Name[bs]=GWhere disk katalogizator
Name[ca]=Catalogador de discs GWhere
Name[co]=GWhere catalogu di discu
Name[cs]=GKde katalogizátor disků
Name[cy]=Gweithgatalydd disgiau
Name[da]=GWhere diskkataloger
Name[dv]=ރޖަލޮޓަކެ ކްސްޑި ވޭޖީ
Name[ee]=GAfisi disk ƒe agbalẽdzraɖoƒe
Name[el]=GWhere καταλόγου δίσκου
Name[eo]=GWhere disko-katalogilo
Name[et]=GWhere kettakataloogija
Name[eu]=GWhere disko katalogatzailea
Name[fa]=GWhere ﮏﺴﯾﺩ ﺲﯾﻮﻧ ﺖﺳﺮﻬﻓ
Name[fi]=GWhere-levyluettelointi
Name[fj]=GWhere disk cataloger
Name[fo]=GWhere disk cataloger
Name[fy]=GWhere skiif cataloger
Name[ga]=Cá háit a ndéanfaidh mé catalógóir diosca
Name[gd]=Càit a bheil an clàr diosga
Name[gl]=GWhere catalogador de discos
Name[gn]=GMoõpa catálogo disco rehegua
Name[gu]=GWhere ડિસ્ક કૅટેલોગર
Name[ha]=GW inda faifan kataloji
Name[he]=GWhere לש םיקסיד גלטקמ
Name[hi]=जीव्हेयर डिस्क कैटलॉगर
Name[hr]=GWhere disk katalogizator
Name[ht]=GWhere disk cataloger
Name[hu]=GWhere lemezkatalógus
Name[hy]=GWhere սկավառակի կատալոգ
Name[id]=katalog disk GWhere
Name[ig]=GWhere diski katalọgụ
Name[is]=GWhere diskur cataloger
Name[it]=Catalogatore di dischi GWhere
Name[iu]=Gᐃᑲᕐᕋᖅ ᓂᖀᑦ
Name[ja]=GWhere ディスク カタロガ
Name[jv]=Katalog disk GWhere
Name[ka]=GWhere დისკის კატალოგი
Name[kk]=GWhere диск каталогі
Name[km]=GWhere កាតាឡុកថាស
Name[kn]=GWhere ಡಿಸ್ಕ್ ಕ್ಯಾಟಲಾಜರ್
Name[ko]=GWhere 디스크 카탈로그
Name[ku]=GWhere kataloga dîskê
Name[ky]=GWhere диск каталогу
Name[la]=GWhere orbis catalogus
Name[lb]=GWhere Scheif cataloger
Name[lg]=GWhere katalogu wa disiki
Name[ln]=GWhere catalogue ya disque
Name[lo]=GWhere disk cataloger
Name[lt]=GWhere disko katalogavimo priemonė
Name[lv]=GWhere disku katalogs
Name[mg]=GWhere disk cataloger
Name[mi]=GWhere kōpae putumōhio
Name[mk]=GWhere диск каталог
Name[ml]=GWhere ഡിസ്ക് കാറ്റലോഗർ
Name[mn]=GWhere дискний каталоглогч
Name[mr]=GWhere डिस्क कॅटलॉगर
Name[ms]=GWhere pengkatalog cakera
Name[mt]=GWhere disk cataloger
Name[my]=GWhere disk cataloger
Name[ne]=GWhere डिस्क cataloger
Name[nl]=GWhere schijfcatalogus
Name[no]=GWhere diskkataloger
Name[ny]=GWhere disk cataloger
Name[om]=GWhere kataloogii diskiin
Name[or]=GW ଡିସ୍କ କାଟାଲଗ୍
Name[pa]=GWhere ਡਿਸਕ ਕੈਟਾਲਾਗਰ
Name[pl]=Katalogownik dysku GWhere
Name[ps]=GWhere ﺮګﻼ﻿ﺘﮐ ﮏﺴﯾډ ﺩ
Name[pt]=Catalogador de disco GWhere
Name[qu]=GMaypi disco catálogo nisqa
Name[ro]=Catalogul de discuri GWhere
Name[rw]=GWatondekanya disiki
Name[sa]=GWhere डिस्क सूचीकारः
Name[sd]=GWhere ڪﺳڊ cataloger
Name[si]=GWhere තැටි නාමාවලිය
Name[sk]=GKde katalogizátor diskov
Name[sl]=GWhere disk katalogizator
Name[sm]=GWhere tisiki faamaumauga
Name[sn]=GWhere disk cataloger
Name[so]=GWhere disk kataloger
Name[sq]=GWhere kataloguesi i diskut
Name[st]=GWhere disk cataloger
Name[su]=GWhere disk cataloger
Name[sv]=GWhere diskkatalogerare
Name[sw]=GWhere disk katalogi
Name[ta]=GWhere வட்டு அட்டவணை
Name[te]=GWhere డిస్క్ కేటలాజర్
Name[tg]=GWhere каталоги диск
Name[th]=GWhere แคตตาล็อกดิสก์
Name[ti]=GWhere ዲስክ ካታሎገር
Name[tk]=GW disk katalogy
Name[tl]=GWhere disk cataloger
Name[to]=GWhere Tisi cataloger
Name[tr]=GWhere disk kataloglayıcı
Name[ts]=GWhere xihlamusela-marito xa disk
Name[tt]=GW диск каталогеры
Name[tw]=GWhere disk kataloger a ɛwɔ hɔ
Name[ty]=GWhere disk cataloger
Name[ug]=GW ﻰﺴﯩﺠﯨﺭەﺪﻧﯘﻣ ﺎﻜﺴﯨﺩ
Name[uk]=Дисковий каталогізатор GWhere
Name[ur]=GWhere disk cataloger
Name[uz]=GWhere disk katalogi
Name[vi]=Trình biên mục đĩa GWhere
Name[xh]=GWhere disk ikhathalogu
Name[yi]=GWhere רעגאָלאַטאַק קסיד
Name[yo]=GWhere disk katalogi
Name[zh]=GWhere 磁盘编目器
Name[zu]=GWhere diskkhathalogu
Name=GWhere disk cataloger
Comment[fr]=Catalogueur des CD : GWhere
Comment[de]=GWhere ermöglicht es, eine Datenbank Ihrer CDs zu verwalten
Comment[es]=GWhere permite gestionar una base de datos de tus CDs
Comment[ru]=Каталогизатор дисков GWhere
Comment[af]=GWhere laat toe om n databasis van jou CDs te bestuur
Comment[am]=GWhere የሲዲዎችዎን ዳታቤዝ ለማስተዳደር ይፈቅዳል
Comment[ar]=ﻚﺑ ﺔﺻﺎﺨﻟﺍ ﺔﻃﻮﻐﻀﻤﻟﺍ ﺹﺍﺮﻗﻸ﻿ﻟ ﺕﺎﻧﺎﻴﺑ ﺓﺪﻋﺎﻗ ﺓﺭﺍﺩﺈﺑ GWhere ﺢﻤﺴﻳ
Comment[as]=GWhere এ আপোনাৰ CD সমূহৰ এটা ডাটাবেইচ ব্যৱস্থাপনা কৰাৰ অনুমতি দিয়ে
Comment[ay]=GWhere ukax CDs ukanakan mä base de datos ukar apnaqañapatakiw jayti
Comment[az]=GWhere CD-lərinizin verilənlər bazasını idarə etməyə imkan verir
Comment[ba]=GWhere компакт-дискыларығыҙҙың мәғлүмәт базаһы менән идара итергә мөмкинлек бирә
Comment[be]=GWhere дазваляе кіраваць базай дадзеных вашых кампакт-дыскаў
Comment[bg]=GWhere позволява да управлявате база данни от вашите компактдискове
Comment[bm]=GWhere bɛ sira Di ka i ka CDw ka kunnafonidilan dɔ ɲɛnabɔ
Comment[bn]=GWhere আপনার সিডিগুলির একটি ডাটাবেস পরিচালনা করার অনুমতি দেয়
Comment[bo]=ས་ཆ་གང་དུ་ཁྱེད་ཚོའི་འོད་སྡེར་གྱི་གཞི་གྲངས་མཛོད་ཅིག་དོ་དམ་བྱེད་ཆོག་པའི་ཆོག་མཆན
Comment[bs]=GWhere omogućava upravljanje bazom podataka vaših CD-ova
Comment[ca]=GWhere permet gestionar una base de dades dels teus CD
Comment[co]=GWhere permette di gestisce una basa di dati di i vostri CD
Comment[cs]=GWhere umožňuje spravovat databázi vašich CD
Comment[cy]=Mae GWhere yn caniatáu i chi reoli cronfa ddata och cryno ddisgiau
Comment[da]=GWhere gør det muligt at administrere en database med dine cder
Comment[dv]=ވެއެބެލި ތުސަރުފު ގެމުރުކު ޖްނޭމެ އްއެސްބޭޓާޑޭ ގެކުތަޑީސީ ގެބާތި ންއި ރއާވޭޖީ
Comment[ee]=GWhere ɖe mɔ be nàkpɔ wò CDwo ƒe nyatakakadzraɖoƒe dzi
Comment[el]=Το GWhere επιτρέπει τη διαχείριση μιας βάσης δεδομένων των CD σας
Comment[eo]=GWhere permesas administri datumbazon de viaj KD-oj
Comment[et]=GWhere võimaldab hallata teie CD-de andmebaasi
Comment[eu]=GWhere-k zure CDen datu-base bat kudeatzeko aukera ematen du
Comment[fa]=GWhere ﺪﯿﻨﮐ ﺖﯾﺮﯾﺪﻣ ﺍﺭ ﺩﻮﺧ ﯼﺎﻫ ﯼﺩ ﯽﺳ ﻩﺩﺍﺩ ﻩﺎﮕﯾﺎﭘ ﺎﺗ ﺪﻫﺩ ﯽﻣ ﻩﺯﺎﺟﺍ
Comment[fi]=GWhere mahdollistaa CD-levyjesi tietokannan hallinnan
Comment[fj]=GWhere vakatara me qarava e dua na kato ni itukutuku ni nomu CD
Comment[fo]=GWhere loyvir at klára eina database av tínum/tykkara fløgum.
Comment[fy]=GWhere lit in databank fan jo CDs beheare
Comment[ga]=Ceadaíonn GWhere bunachar sonraí de do dhlúthdhioscaí a bhainistiú
Comment[gd]=Leigidh GWhere leat stòr-dàta de na CDan agad a riaghladh
Comment[gl]=GWhere permite xestionar unha base de datos dos seus CD
Comment[gn]=GWhere oheja oñemboguata peteĩ base de datos nde CD-kuéra rehegua
Comment[gu]=GWhere તમારી સીડીના ડેટાબેઝનું સંચાલન કરવાની મંજૂરી આપે છે
Comment[ha]=GWhere yana ba da damar sarrafa bayanan CD ɗin ku
Comment[he]=GWhere ךלש םירוטילקתה לש םינותנ דסמ להנל רשפאמ
Comment[hi]=जीव्हेयर आपकी सीडी के डेटाबेस को प्रबंधित करने की अनुमति देता है
Comment[hr]=GWhere omogućuje upravljanje bazom podataka vaših CD-ova
Comment[ht]=GWhere pèmèt yo jere yon baz done nan CD ou yo
Comment[hu]=A GWhere lehetővé teszi a CD-k adatbázisának kezelését
Comment[hy]=GWhere-ն թույլ է տալիս կառավարել ձեր ձայնասկավառակների տվյալների բազան
Comment[id]=GWhere memungkinkan untuk mengelola database CD Anda
Comment[ig]=GWhere na-enye ohere ijikwa nchekwa data nke CD gị
Comment[is]=GWhere gerir þér kleift að stjórna gagnagrunni yfir geisladiskana þína
Comment[it]=GWhere permette di gestire un database dei tuoi CD
Comment[iu]=Gᓇᓚᐅᑦᑖᕐᕖᑦ ᐊᐅᓚᑦᑎᔪᓐᓇᖅᑎᑦᑎᕗᑦ ᖃᕆᓴᐅᔭᒃᑯᑦ ᑐᖅᑯᖅᑐᐃᕕᖕᒥ ᕿᓪᓕᖅᑐᓂᒃ
Comment[ja]=GWhere では CD のデータベースを管理できます
Comment[jv]=GWhere ngidini sampeyan ngatur basis data CD sampeyan
Comment[ka]=GWhere საშუალებას გაძლევთ მართოთ თქვენი CD-ების მონაცემთა ბაზა
Comment[kk]=GWhere ықшам дискілердің дерекқорын басқаруға мүмкіндік береді
Comment[km]=GWhere អនុញ្ញាតឱ្យគ្រប់គ្រងមូលដ្ឋានទិន្នន័យនៃស៊ីឌីរបស់អ្នក។
Comment[kn]=ನಿಮ್ಮ CD ಗಳ ಡೇಟಾಬೇಸ್ ಅನ್ನು ನಿರ್ವಹಿಸಲು GWhere ಅನುಮತಿಸುತ್ತದೆ
Comment[ko]=GWhere는 CD의 데이터베이스를 관리할 수 있습니다.
Comment[ku]=GWhere destûrê dide ku hûn databasek CD-yên xwe birêve bibin
Comment[ky]=GWhere компакт-дисктериңиздин маалымат базасын башкарууга мүмкүндүк берет
Comment[la]=Gwhere administrare database of vestri CDs permittit
Comment[lb]=GWhere erlaabt eng Datebank vun Ären CDen ze managen
Comment[lg]=GWhere ekkiriza okuddukanya database ya CD zo
Comment[ln]=GWhere epesaka nzela ya ko gérer base de données ya ba CD na yo
Comment[lo]=GWhere ອະນຸຍາດໃຫ້ຈັດການຖານຂໍ້ມູນຂອງ CDs ຂອງທ່ານ
Comment[lt]=GWhere leidžia valdyti jūsų kompaktinių diskų duomenų bazę
Comment[lv]=GWhere ļauj pārvaldīt jūsu kompaktdisku datu bāzi
Comment[mg]=GWhere dia mamela ny fitantanana ny angon-drakitra misy ny CD-nao
Comment[mi]=Ka taea e GWhere te whakahaere i te papaunga raraunga o o CD
Comment[mk]=GWhere овозможува управување со базата на податоци на вашите ЦД-а
Comment[ml]=നിങ്ങളുടെ സിഡികളുടെ ഒരു ഡാറ്റാബേസ് മാനേജ് ചെയ്യാൻ GWhere അനുവദിക്കുന്നു
Comment[mn]=GWhere нь таны CD-н мэдээллийн санг удирдах боломжийг олгодог
Comment[mr]=GWhere तुमच्या सीडीचा डेटाबेस व्यवस्थापित करण्यास अनुमती देते
Comment[ms]=GWhere membenarkan untuk mengurus pangkalan data CD anda
Comment[mt]=GWhere jippermetti li timmaniġġja database tas-CDs tiegħek
Comment[my]=GWhere သည် သင့် CDs များ၏ ဒေတာဘေ့စ်ကို စီမံခန့်ခွဲရန် ခွင့်ပြုသည်။
Comment[ne]=GWhere ले तपाइँको सीडीहरूको डाटाबेस व्यवस्थापन गर्न अनुमति दिन्छ
Comment[nl]=Met GWhere kunt u een database van uw cds beheren
Comment[no]=GWhere lar deg administrere en database med CD-ene dine
Comment[ny]=GWhere imalola kuyanganira nkhokwe ya ma CD anu
Comment[om]=GWhere kuusdeetaa CD kee bulchuuf hayyama
Comment[or]=GWhere ଆପଣଙ୍କ CD ର ଏକ ଡାଟାବେସ୍ ପରିଚାଳନା କରିବାକୁ ଅନୁମତି ଦିଏ |
Comment[pa]=GWhere ਤੁਹਾਡੀਆਂ ਸੀਡੀਜ਼ ਦੇ ਡੇਟਾਬੇਸ ਦਾ ਪ੍ਰਬੰਧਨ ਕਰਨ ਦੀ ਇਜਾਜ਼ਤ ਦਿੰਦਾ ਹੈ
Comment[pl]=GWhere pozwala zarządzać bazą danych Twoich płyt CD
Comment[ps]=GWhere ﻱړﮐ ﻩﺭﺍﺩﺍ ﺲﯿﺑﺎټﯾډ ﻱډ ﻲﺳ ﺩ ﻮﺳﺎﺘﺳ ﯥﭼ ﻱﻮﮐﺭﻭ ﻩﺯﺎﺟﺍ
Comment[pt]=GWhere permite gerenciar um banco de dados de seus CDs
Comment[qu]=GWhere CDykikunap willay tantana kamachiyta saqin
Comment[ro]=GWhere permite gestionarea unei baze de date a CD-urilor dvs
Comment[rw]=GWihe yemerera gucunga base ya CD yawe
Comment[sa]=GWhere भवतः CDs इत्यस्य दत्तांशकोशस्य प्रबन्धनं कर्तुं शक्नोति
Comment[sd]=GWhere ﻲﭤ ﻲﺋڏ ﺕﺯﺎﺟﺍ ﻲﺟ ﮠﺮڪ ﻢﻈﻨﻣ ﻲﮐ ﺲﻴﺑﺎٽﻳڊ ﻲﺟ ﻱڊ ﻲﺳ ﻲﺟ ﻥﺎﻫﻮﺗ
Comment[si]=ඔබගේ CD තැටි වල දත්ත ගබඩාවක් කළමනාකරණය කිරීමට GWhere ඉඩ දෙයි
Comment[sk]=GWhere umožňuje spravovať databázu vašich CD
Comment[sl]=GWhere omogoča upravljanje podatkovne baze vaših CD-jev
Comment[sm]=GWhere faataga e pulea se faamaumauga o au CD
Comment[sn]=GWhere inobvumira kubata dhatabhesi remaCD ako
Comment[so]=GWhere waxay ogolaataa in lagu maamulo xogta CD-yadaada
Comment[sq]=GWhere ju lejon të menaxhoni një bazë të dhënash të CD-ve tuaja
Comment[st]=GWhere e u lumella ho laola pokello ea li-CD tsa hau
Comment[su]=GWhere ngamungkinkeun pikeun ngatur pangkalan data CD anjeun
Comment[sv]=GWhere tillåter att hantera en databas med dina CD-skivor
Comment[sw]=GWhere inaruhusu kudhibiti hifadhidata ya CD zako
Comment[ta]=உங்கள் குறுந்தகடுகளின் தரவுத்தளத்தை நிர்வகிக்க GWhere அனுமதிக்கிறது
Comment[te]=మీ CDల డేటాబేస్u200cని నిర్వహించడానికి GWhere అనుమతిస్తుంది
Comment[tg]=GWhere имкон медиҳад, ки пойгоҳи додаҳои CD-ҳои шуморо идора кунед
Comment[th]=GWhere อนุญาตให้จัดการฐานข้อมูลซีดีของคุณ
Comment[ti]=GWhere ናይ ሲዲታትካ ዳታቤዝ ንምምሕዳር የኽእል
Comment[tk]=GWhere CD-leriň maglumat bazasyny dolandyrmaga mümkinçilik berýär
Comment[tl]=Pinapayagan ng GWhere na pamahalaan ang isang database ng iyong mga CD
Comment[to]=ʻOku fakaʻata ʻe he GWhere ke tokangaʻi ha faile fakakomipiuta ʻo hoʻo CD
Comment[tr]=GWhere, CDlerinizin veritabanını yönetmenizi sağlar
Comment[ts]=GWhere yi pfumelela ku lawula database ya ti CD ta wena
Comment[tt]=GWhere сезнең CD-лар базасы белән идарә итәргә мөмкинлек бирә
Comment[tw]=GWhere ma kwan ma wohwɛ wo CD ahorow no database so
Comment[ty]=G I te mau vahi atoa e nehenehe ta outou e faatere i te hoê pue itepiri o ta outou mau CD
Comment[ug]=GWhere ﯔﯩﻧﺰﯩﺳ CD ﯗﺪﯩﻳﻮﻗ ﻝﻮﻳ ﺎﻐﯩﺷﯗﺭﯘﻘﺷﺎﺑ ﻰﻨﻧﺍﺪﻧﺎﺳ ﯔﯩﻧﺰﯩﯖﯨﺮﯩﻟ
Comment[uk]=GWhere дозволяє керувати базою даних ваших компакт-дисків
Comment[ur]=GWhere ۔ﮯﮨ ﺎﺘﯾﺩ ﺕﺯﺎﺟﺍ ﯽﮐ ﮯﻧﺮﮐ ﻢﻈﻨﻣ ﻮﮐ ﺲﯿﺑ ﺎﭩﯾﮈ ﮯﮐ ﺰﯾﮈ ﯽﺳ ﯽﮐ ﭖﺁ
Comment[uz]=GWhere kompakt disklaringiz malumotlar bazasini boshqarish imkonini beradi
Comment[vi]=GWhere cho phép quản lý cơ sở dữ liệu về đĩa CD của bạn
Comment[xh]=I-GWhere ivumela ukulawula uvimba weenkcukacha weeCDs zakho
Comment[yi]=GWhere סדק ןייד ןופ סייבאַטאַד אַ ןריפ וצ זואַלאַ
Comment[yo]=GWhere ngbanilaaye lati ṣakoso data data ti awọn CD rẹ
Comment[zh]=GWhere 允许管理您的 CD 数据库
Comment[zu]=I-GWhere ivumela ukuphatha isizindalwazi sama-CD akho
Comment=GWhere allows to manage a database of your CDs
TryExec=gwhere
Exec=gwhere
Icon=gwhere.xpm
Terminal=false
Type=Application
Categories=X-FilesystemFind
GenericName=GWhere
