[Desktop Entry]
Encoding=UTF-8
Name[fr]=Gestion financière : HomeBank
Name[de]=HomeBank Finanzmanagement
Name[es]=HomeBank: contabilidad personal
Name[ru]=Управление финансами HomeBank
Name[af]=HomeBank finansiële bestuur
Name[am]=HomeBank ፋይናንስ አስተዳደር
Name[ar]=HomeBank ﻞﻳﻮﻤﺗ ﺓﺭﺍﺩﺇ
Name[as]=হোমবেংকৰ বিত্তীয় ব্যৱস্থাপনা
Name[ay]=HomeBank qullqi apnaqaña
Name[az]=HomeBank maliyyə menecmenti
Name[ba]=HomeBank финанс менеджменты
Name[be]=Кіраванне фінансамі HomeBank
Name[bg]=Управление на финансите на HomeBank
Name[bm]=HomeBank ka wariko ɲɛnabɔli
Name[bn]=HomeBank ফাইন্যান্স ম্যানেজমেন্ট
Name[bo]=ཁྱིམ་ཚང་དངུལ་ཁང་གི་དངུལ་རྩའི་དོ
Name[bs]=Upravljanje finansijama HomeBank
Name[ca]=Gestió financera de HomeBank
Name[co]=Gestione finanziaria di HomeBank
Name[cs]=Správa financí HomeBank
Name[cy]=Rheoli cyllid Banc Cartref
Name[da]=HomeBank økonomistyring
Name[dv]=ޓްންމަޖްނޭމެ ސްންނޭއިފަ ކްންބެމްހޯ
Name[ee]=HomeBank ƒe ganyawo dzikpɔkpɔ
Name[el]=Διαχείριση χρηματοδότησης HomeBank
Name[eo]=Financadministrado de HomeBank
Name[et]=HomeBank finantsjuhtimine
Name[eu]=HomeBank finantza kudeaketa
Name[fa]=HomeBank ﯽﻟﺎﻣ ﺖﯾﺮﯾﺪﻣ
Name[fi]=HomeBankin taloushallinto
Name[fj]=Lewai ni veika vakailavo ni HomeBank
Name[fo]=HomeBank finance management
Name[fy]=HomeBank finansjeel behear
Name[ga]=Bainistíocht airgeadais HomeBank
Name[gd]=Stiùireadh ionmhais Banca Dachaigh
Name[gl]=Xestión financeira de HomeBank
Name[gn]=HomeBank viru jeporu rehegua
Name[gu]=હોમબેંક ફાઇનાન્સ મેનેજમેન્ટ
Name[ha]=HomeBank kudi management
Name[he]=HomeBank לש םיפסכ לוהינ
Name[hi]=होमबैंक वित्त प्रबंधन
Name[hr]=HomeBank upravljanje financijama
Name[ht]=Jesyon finans HomeBank
Name[hu]=HomeBank pénzügyi menedzsment
Name[hy]=HomeBank ֆինանսական կառավարում
Name[id]=Manajemen keuangan HomeBank
Name[ig]=Nlekọta ego HomeBank
Name[is]=Fjármálastjórnun HomeBank
Name[it]=Gestione finanziaria di HomeBank
Name[iu]=ᐊᖏᕐᕋᒥᑮᓇᐅᐊᕿᔪᓄᑦ ᑮᓇᐅᔭᓕᕆᓂᕐᒧᑦ ᐊᐅᓚᑦᑎᓂᖅ
Name[ja]=ホームバンクの財務管理
Name[jv]=Manajemen keuangan HomeBank
Name[ka]=HomeBank ფინანსების მართვა
Name[kk]=HomeBank қаржысын басқару
Name[km]=ការគ្រប់គ្រងហិរញ្ញវត្ថុរបស់ HomeBank
Name[kn]=ಹೋಮ್ಬ್ಯಾಂಕ್ ಹಣಕಾಸು ನಿರ್ವಹಣೆ
Name[ko]=홈뱅크 재무 관리
Name[ku]=Rêveberiya darayî ya HomeBank
Name[ky]=HomeBank каржылык башкаруу
Name[la]=HomeBank administratione oeconomicis
Name[lb]=HomeBank Finanzmanagement
Name[lg]=Enzirukanya y’ebyensimbi mu HomeBank
Name[ln]=Bokambami ya mosolo ya HomeBank
Name[lo]=ການຄຸ້ມຄອງການເງິນ HomeBank
Name[lt]=HomeBank finansų valdymas
Name[lv]=HomeBank finanšu vadība
Name[mg]=Fitantanam-bola HomeBank
Name[mi]=Whakahaerenga putea HomeBank
Name[mk]=Управување со финансии на HomeBank
Name[ml]=ഹോംബാങ്ക് ഫിനാൻസ് മാനേജ്മെന്റ്
Name[mn]=HomeBank санхүүгийн менежмент
Name[mr]=होमबँक वित्त व्यवस्थापन
Name[ms]=Pengurusan kewangan HomeBank
Name[mt]=Ġestjoni tal-finanzi tal-HomeBank
Name[my]=HomeBank ဘဏ္ဍာရေးစီမံခန့်ခွဲမှု
Name[ne]=HomeBank वित्त व्यवस्थापन
Name[nl]=HomeBank financieel beheer
Name[no]=HomeBank økonomistyring
Name[ny]=HomeBank Finance Management
Name[om]=Hoggansa faayinaansii HomeBank
Name[or]=ହୋମବ୍ୟାଙ୍କ ଆର୍ଥିକ ପରିଚାଳନା
Name[pa]=ਹੋਮਬੈਂਕ ਵਿੱਤ ਪ੍ਰਬੰਧਨ
Name[pl]=Zarządzanie finansami HomeBanku
Name[ps]=ﺖﯾﺮﯾﺪﻣ ﻲﻟﺎﻣ ﮏﻧﺎﺑ ﺭﻮﮐ ﺩ
Name[pt]=Gestão financeira do HomeBank
Name[qu]=HomeBank qullqi kamachiy
Name[ro]=Management financiar HomeBank
Name[rw]=Imicungire yimari ya HomeBank
Name[sa]=HomeBank वित्त प्रबन्धन
Name[sd]=HomeBank ٽﻨﻴﻤﺠﻴﻨﺌﻣ ﺲﻧﺎﻨﻓ
Name[si]=HomeBank මුල්u200dය කළමනාකරණය
Name[sk]=Správa financií HomeBank
Name[sl]=Upravljanje financ HomeBank
Name[sm]=Pulega o tupe a le HomeBank
Name[sn]=HomeBank mari manejimendi
Name[so]=Maamulka maaliyadda ee HomeBank
Name[sq]=Menaxhimi i financave HomeBank
Name[st]=Tsamaiso ea lichelete ea HomeBank
Name[su]=manajemén keuangan HomeBank
Name[sv]=HomeBank finanshantering
Name[sw]=Usimamizi wa fedha wa Benki ya Nyumbani
Name[ta]=HomeBank நிதி மேலாண்மை
Name[te]=హోమ్u200cబ్యాంక్ ఫైనాన్స్ మేనేజ్u200cమెంట్
Name[tg]=Идоракунии молияи HomeBank
Name[th]=การจัดการการเงิน HomeBank
Name[ti]=ምሕደራ ፋይናንስ ሆምባንክ
Name[tk]=HomeBank maliýe dolandyryşy
Name[tl]=Pamamahala sa pananalapi ng HomeBank
Name[to]=Tokangaʻi ʻo e meʻa fakapaʻanga HomeBank
Name[tr]=HomeBank finans yönetimi
Name[ts]=Vufambisi bya timali bya HomeBank
Name[tt]=HomeBank финанс менеджменты
Name[tw]=HomeBank sikasɛm ho nhyehyɛe
Name[ty]=Te faatereraa i te faufaa moni i te fare
Name[ug]=HomeBank ﺵﯗﺭﯘﻘﺷﺎﺑ ەﻴﯩﻟﺎﻣ
Name[uk]=Управління фінансами HomeBank
Name[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﺲﻧﺎﻨﻓ ﮏﻨﯿﺑ ﻡﻮﮨ
Name[uz]=HomeBank moliya boshqaruvi
Name[vi]=Quản lý tài chính HomeBank
Name[xh]=Ulawulo lwezemali lweHomeBank
Name[yi]=גנוטלאַווראַפ ןצנאַניפ קנאַבעמאָה
Name[yo]=HomeBank isakoso inawo
Name[zh]=家庭银行财务管理
Name[zu]=Ukuphathwa kwezimali kwe-HomeBank
Name=HomeBank finance management
Icon=homebank.xpm
Comment[fr]=Gestion financière : HomeBank
Comment[de]=HomeBank Finanzmanagement
Comment[es]=HomeBank: contabilidad personal
Comment[ru]=Управление финансами HomeBank
Comment[af]=HomeBank finansiële bestuur
Comment[am]=HomeBank ፋይናንስ አስተዳደር
Comment[ar]=HomeBank ﻞﻳﻮﻤﺗ ﺓﺭﺍﺩﺇ
Comment[as]=হোমবেংকৰ বিত্তীয় ব্যৱস্থাপনা
Comment[ay]=HomeBank qullqi apnaqaña
Comment[az]=HomeBank maliyyə menecmenti
Comment[ba]=HomeBank финанс менеджменты
Comment[be]=Кіраванне фінансамі HomeBank
Comment[bg]=Управление на финансите на HomeBank
Comment[bm]=HomeBank ka wariko ɲɛnabɔli
Comment[bn]=HomeBank ফাইন্যান্স ম্যানেজমেন্ট
Comment[bo]=ཁྱིམ་ཚང་དངུལ་ཁང་གི་དངུལ་རྩའི་དོ
Comment[bs]=Upravljanje finansijama HomeBank
Comment[ca]=Gestió financera de HomeBank
Comment[co]=Gestione finanziaria di HomeBank
Comment[cs]=Správa financí HomeBank
Comment[cy]=Rheoli cyllid Banc Cartref
Comment[da]=HomeBank økonomistyring
Comment[dv]=ޓްންމަޖްނޭމެ ސްންނޭއިފަ ކްންބެމްހޯ
Comment[ee]=HomeBank ƒe ganyawo dzikpɔkpɔ
Comment[el]=Διαχείριση χρηματοδότησης HomeBank
Comment[eo]=Financadministrado de HomeBank
Comment[et]=HomeBank finantsjuhtimine
Comment[eu]=HomeBank finantza kudeaketa
Comment[fa]=HomeBank ﯽﻟﺎﻣ ﺖﯾﺮﯾﺪﻣ
Comment[fi]=HomeBankin taloushallinto
Comment[fj]=Lewai ni veika vakailavo ni HomeBank
Comment[fo]=HomeBank finance management
Comment[fy]=HomeBank finansjeel behear
Comment[ga]=Bainistíocht airgeadais HomeBank
Comment[gd]=Stiùireadh ionmhais Banca Dachaigh
Comment[gl]=Xestión financeira de HomeBank
Comment[gn]=HomeBank viru jeporu rehegua
Comment[gu]=હોમબેંક ફાઇનાન્સ મેનેજમેન્ટ
Comment[ha]=HomeBank kudi management
Comment[he]=HomeBank לש םיפסכ לוהינ
Comment[hi]=होमबैंक वित्त प्रबंधन
Comment[hr]=HomeBank upravljanje financijama
Comment[ht]=Jesyon finans HomeBank
Comment[hu]=HomeBank pénzügyi menedzsment
Comment[hy]=HomeBank ֆինանսական կառավարում
Comment[id]=Manajemen keuangan HomeBank
Comment[ig]=Nlekọta ego HomeBank
Comment[is]=Fjármálastjórnun HomeBank
Comment[it]=Gestione finanziaria di HomeBank
Comment[iu]=ᐊᖏᕐᕋᒥᑮᓇᐅᐊᕿᔪᓄᑦ ᑮᓇᐅᔭᓕᕆᓂᕐᒧᑦ ᐊᐅᓚᑦᑎᓂᖅ
Comment[ja]=ホームバンクの財務管理
Comment[jv]=Manajemen keuangan HomeBank
Comment[ka]=HomeBank ფინანსების მართვა
Comment[kk]=HomeBank қаржысын басқару
Comment[km]=ការគ្រប់គ្រងហិរញ្ញវត្ថុរបស់ HomeBank
Comment[kn]=ಹೋಮ್ಬ್ಯಾಂಕ್ ಹಣಕಾಸು ನಿರ್ವಹಣೆ
Comment[ko]=홈뱅크 재무 관리
Comment[ku]=Rêveberiya darayî ya HomeBank
Comment[ky]=HomeBank каржылык башкаруу
Comment[la]=HomeBank administratione oeconomicis
Comment[lb]=HomeBank Finanzmanagement
Comment[lg]=Enzirukanya y’ebyensimbi mu HomeBank
Comment[ln]=Bokambami ya mosolo ya HomeBank
Comment[lo]=ການຄຸ້ມຄອງການເງິນ HomeBank
Comment[lt]=HomeBank finansų valdymas
Comment[lv]=HomeBank finanšu vadība
Comment[mg]=Fitantanam-bola HomeBank
Comment[mi]=Whakahaerenga putea HomeBank
Comment[mk]=Управување со финансии на HomeBank
Comment[ml]=ഹോംബാങ്ക് ഫിനാൻസ് മാനേജ്മെന്റ്
Comment[mn]=HomeBank санхүүгийн менежмент
Comment[mr]=होमबँक वित्त व्यवस्थापन
Comment[ms]=Pengurusan kewangan HomeBank
Comment[mt]=Ġestjoni tal-finanzi tal-HomeBank
Comment[my]=HomeBank ဘဏ္ဍာရေးစီမံခန့်ခွဲမှု
Comment[ne]=HomeBank वित्त व्यवस्थापन
Comment[nl]=HomeBank financieel beheer
Comment[no]=HomeBank økonomistyring
Comment[ny]=HomeBank Finance Management
Comment[om]=Hoggansa faayinaansii HomeBank
Comment[or]=ହୋମବ୍ୟାଙ୍କ ଆର୍ଥିକ ପରିଚାଳନା
Comment[pa]=ਹੋਮਬੈਂਕ ਵਿੱਤ ਪ੍ਰਬੰਧਨ
Comment[pl]=Zarządzanie finansami HomeBanku
Comment[ps]=ﺖﯾﺮﯾﺪﻣ ﻲﻟﺎﻣ ﮏﻧﺎﺑ ﺭﻮﮐ ﺩ
Comment[pt]=Gestão financeira do HomeBank
Comment[qu]=HomeBank qullqi kamachiy
Comment[ro]=Management financiar HomeBank
Comment[rw]=Imicungire yimari ya HomeBank
Comment[sa]=HomeBank वित्त प्रबन्धन
Comment[sd]=HomeBank ٽﻨﻴﻤﺠﻴﻨﺌﻣ ﺲﻧﺎﻨﻓ
Comment[si]=HomeBank මුල්u200dය කළමනාකරණය
Comment[sk]=Správa financií HomeBank
Comment[sl]=Upravljanje financ HomeBank
Comment[sm]=Pulega o tupe a le HomeBank
Comment[sn]=HomeBank mari manejimendi
Comment[so]=Maamulka maaliyadda ee HomeBank
Comment[sq]=Menaxhimi i financave HomeBank
Comment[st]=Tsamaiso ea lichelete ea HomeBank
Comment[su]=manajemén keuangan HomeBank
Comment[sv]=HomeBank finanshantering
Comment[sw]=Usimamizi wa fedha wa Benki ya Nyumbani
Comment[ta]=HomeBank நிதி மேலாண்மை
Comment[te]=హోమ్u200cబ్యాంక్ ఫైనాన్స్ మేనేజ్u200cమెంట్
Comment[tg]=Идоракунии молияи HomeBank
Comment[th]=การจัดการการเงิน HomeBank
Comment[ti]=ምሕደራ ፋይናንስ ሆምባንክ
Comment[tk]=HomeBank maliýe dolandyryşy
Comment[tl]=Pamamahala sa pananalapi ng HomeBank
Comment[to]=Tokangaʻi ʻo e meʻa fakapaʻanga HomeBank
Comment[tr]=HomeBank finans yönetimi
Comment[ts]=Vufambisi bya timali bya HomeBank
Comment[tt]=HomeBank финанс менеджменты
Comment[tw]=HomeBank sikasɛm ho nhyehyɛe
Comment[ty]=Te faatereraa i te faufaa moni i te fare
Comment[ug]=HomeBank ﺵﯗﺭﯘﻘﺷﺎﺑ ەﻴﯩﻟﺎﻣ
Comment[uk]=Управління фінансами HomeBank
Comment[ur]=ﭧﻨﻤﺠﻨﯿﻣ ﺲﻧﺎﻨﻓ ﮏﻨﯿﺑ ﻡﻮﮨ
Comment[uz]=HomeBank moliya boshqaruvi
Comment[vi]=Quản lý tài chính HomeBank
Comment[xh]=Ulawulo lwezemali lweHomeBank
Comment[yi]=גנוטלאַווראַפ ןצנאַניפ קנאַבעמאָה
Comment[yo]=HomeBank isakoso inawo
Comment[zh]=家庭银行财务管理
Comment[zu]=Ukuphathwa kwezimali kwe-HomeBank
Comment=HomeBank finance management
Exec=homebank
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=HomeBank
