[Desktop Entry]
Encoding=UTF-8
Name[fr]=Organisateur personnel Osmo
Name[de]=Osmo persönlicher Organizer
Name[no]=Osmo personlig arrangør
Name[ru]=Osmo персональный органайзер
Name[es]=Osmo: organizador personal
Name[af]=Osmo persoonlike organiseerder
Name[am]=Osmo የግል አደራጅ
Name[ar]=Osmo ﻲﺼﺨﺷ ﻢﻈﻨﻣ
Name[as]=অছমো ব্যক্তিগত সংগঠক
Name[ay]=Osmo ukax organizador personal ukhamawa
Name[az]=Osmo şəxsi təşkilatçısı
Name[ba]=«Осмо» шәхси ойоштороусы
Name[be]=Osmo персанальны арганайзер
Name[bg]=Персонален органайзер Osmo
Name[bm]=Osmo yɛrɛ labɛnbaga
Name[bn]=ওসমো ব্যক্তিগত সংগঠক
Name[bo]=ཨོ་སི་མའོ་མི་སྒེར་གྱི་རྩ་འཛུགས་པ།
Name[bs]=Osmo lični organizator
Name[ca]=Organitzador personal Osmo
Name[co]=Osmo urganizatore persunale
Name[cs]=Osmo osobní organizér
Name[cy]=Trefnydd personol Osmo
Name[da]=Osmo personlig arrangør
Name[dv]=ވެއެ ޒާއިނަގައޯ ލްނަސަޕާ މޯސްއޮ
Name[ee]=Osmo ame ŋutɔ ƒe ɖoɖowɔla
Name[el]=προσωπικός διοργανωτής Osmo
Name[eo]=Persona organizanto de Osmo
Name[et]=Osmo isiklik korraldaja
Name[eu]=Osmo antolatzaile pertsonala
Name[fa]=Osmo ﯽﺼﺨﺷ ﻩﺪﻨﻫﺩ ﻥﺎﻣﺯﺎﺳ
Name[fi]=Osmo henkilökohtainen järjestäjä
Name[fj]=Osmo ni tuvatuva vakaitaukei
Name[fo]=Osmo personal skipar
Name[fy]=Osmo persoanlike organisator
Name[ga]=Osmo eagraí pearsanta
Name[gd]=Eagraiche pearsanta Osmo
Name[gl]=Organizador persoal Osmo
Name[gn]=Osmo organizador personal rehegua
Name[gu]=ઓસ્મો વ્યક્તિગત આયોજક
Name[ha]=Osmo na sirri mai shiryawa
Name[he]=Osmo לש ישיא ןגראמ
Name[hi]=ओस्मो निजी आयोजक
Name[hr]=Osmo osobni rokovnik
Name[ht]=Òganizatè pèsonèl Osmo
Name[hu]=Osmo személyi szervező
Name[hy]=Osmo անձնական կազմակերպիչ
Name[id]=Penyelenggara pribadi Osmo
Name[ig]=Osmo nhazi nkeonwe
Name[is]=Osmo persónulegur skipuleggjandi
Name[it]=Organizzatore personale Osmo
Name[iu]=Osmo ᓇᖕᒥᓂᖅ ᐋᖅᑭᒃᓱᐃᔨ
Name[ja]=Osmo システム手帳
Name[jv]=Organizer pribadi Osmo
Name[ka]=Osmo პირადი ორგანიზატორი
Name[kk]=Osmo жеке ұйымдастырушысы
Name[km]=Osmo អ្នករៀបចំផ្ទាល់ខ្លួន
Name[kn]=ಓಸ್ಮೋ ವೈಯಕ್ತಿಕ ಸಂಘಟಕರು
Name[ko]=오즈모 퍼스널 오거나이저
Name[ku]=Organîzatorê kesane Osmo
Name[ky]=Osmo жеке уюштуруучусу
Name[la]=Osmo auctor personale
Name[lb]=Osmo perséinlechen Organisateur
Name[lg]=Osmo omutegesi w’omuntu ku bubwe
Name[ln]=Osmo mobongisi ya moto ye moko
Name[lo]=Osmo ຜູ້ຈັດການສ່ວນບຸກຄົນ
Name[lt]=Osmo asmeninis organizatorius
Name[lv]=Osmo personīgais organizators
Name[mg]=Osmo mpikarakara manokana
Name[mi]=Osmo kaiwhakarite whaiaro
Name[mk]=Осмо личен организатор
Name[ml]=ഓസ്മോ വ്യക്തിഗത സംഘാടകൻ
Name[mn]=Осмо хувийн зохион байгуулагч
Name[mr]=Osmo वैयक्तिक संयोजक
Name[ms]=Penganjur peribadi Osmo
Name[mt]=organizzatur personali Osmo
Name[my]=Osmo ကိုယ်ရေးကိုယ်တာ စီစဉ်သူ
Name[ne]=Osmo व्यक्तिगत आयोजक
Name[nl]=Osmo persoonlijke organizer
Name[ny]=Osmo Personal organisation
Name[om]=Osmo qindeessaa dhuunfaa
Name[or]=ଓସମୋ ବ୍ୟକ୍ତିଗତ ସଂଗଠକ |
Name[pa]=ਓਸਮੋ ਨਿੱਜੀ ਪ੍ਰਬੰਧਕ
Name[pl]=Osobisty organizer Osmo
Name[ps]=ﯽﮑﻧﻮﮐ ﻢﯿﻈﻨﺗ ﻲﺼﺨﺷ ﻮﻤﺳﻭﺍ ﺩ
Name[pt]=Organizador pessoal Osmo
Name[qu]=Osmo organizador personal
Name[ro]=Organizator personal Osmo
Name[rw]=Osmo utegura wenyine
Name[sa]=ओस्मो व्यक्तिगत आयोजक
Name[sd]=Osmo ﺭﺰﻴﺋﺎﻨﮔﺭﺁ ﻲﺗﺍﺫ
Name[si]=ඔස්මෝ පුද්ගලික සංවිධායක
Name[sk]=Osmo osobný organizér
Name[sl]=Osmo osebni organizator
Name[sm]=Osmo faatulagaina patino
Name[sn]=Osmo personal organiser
Name[so]=Osmo qabanqaabiyaha gaarka ah
Name[sq]=Organizator personal Osmo
Name[st]=Osmo mohlophisi oa botho
Name[su]=Osmo pangatur pribadi
Name[sv]=Osmo personlig arrangör
Name[sw]=Osmo mratibu wa kibinafsi
Name[ta]=ஒஸ்மோ தனிப்பட்ட அமைப்பாளர்
Name[te]=ఓస్మో వ్యక్తిగత నిర్వాహకుడు
Name[tg]=Ташкилотчии шахсии Осмо
Name[th]=Osmo ออแกไนเซอร์ส่วนตัว
Name[ti]=ኦስሞ ውልቃዊ ኣዳላዊ
Name[tk]=Osmo şahsy guramaçy
Name[tl]=Osmo personal organizer
Name[to]=Osmo fokotuʻutuʻu fakatautaha
Name[tr]=Osmo kişisel ajanda
Name[ts]=Osmo muhleri wa munhu hi xiyexe
Name[tt]=Осмо шәхси оештыручы
Name[tw]=Osmo ankasa nhyehyɛefo
Name[ty]=Te mau manao tauturu no te haapiiraa
Name[ug]=ﻰﭼﯜﮕﯩﻠﻠﯩﻜﺷەﺗ ﻲﯩﺴﺧەﺷ ﻮﻤﺳﻮﺋ
Name[uk]=Особистий органайзер Osmo
Name[ur]=ﺭﺰﺋﺎﻨﮔﺭﺁ ﻞﻨﺳﺮﭘ ﻮﻤﺳﻭﺍ
Name[uz]=Osmo shaxsiy tashkilotchisi
Name[vi]=Nhà tổ chức cá nhân Osmo
Name[xh]=Osmo umququzeleli buqu
Name[yi]=ראָטאַזינאַגראָ ךעלנעזרעפּ אָמסאָ
Name[yo]=Osmo ti ara ẹni Ọganaisa
Name[zh]=Osmo 个人记事本
Name[zu]=U-Osmo umhleli womuntu siqu
Name=Osmo personal organizer
Icon=osmo.png
Comment[es]=Osmo: organizador personal
Comment[af]=Osmo persoonlike organiseerder
Comment[am]=Osmo የግል አደራጅ
Comment[ar]=Osmo ﻲﺼﺨﺷ ﻢﻈﻨﻣ
Comment[as]=অছমো ব্যক্তিগত সংগঠক
Comment[ay]=Osmo ukax organizador personal ukhamawa
Comment[az]=Osmo şəxsi təşkilatçısı
Comment[ba]=«Осмо» шәхси ойоштороусы
Comment[be]=Osmo персанальны арганайзер
Comment[bg]=Персонален органайзер Osmo
Comment[bm]=Osmo yɛrɛ labɛnbaga
Comment[bn]=ওসমো ব্যক্তিগত সংগঠক
Comment[bo]=ཨོ་སི་མའོ་མི་སྒེར་གྱི་རྩ་འཛུགས་པ།
Comment[bs]=Osmo lični organizator
Comment[ca]=Organitzador personal Osmo
Comment[co]=Osmo urganizatore persunale
Comment[cs]=Osmo osobní organizér
Comment[cy]=Trefnydd personol Osmo
Comment[da]=Osmo personlig arrangør
Comment[de]=Persönlicher Osmo-Organizer
Comment[dv]=ވެއެ ޒާއިނަގައޯ ލްނަސަޕާ މޯސްއޮ
Comment[ee]=Osmo ame ŋutɔ ƒe ɖoɖowɔla
Comment[el]=προσωπικός διοργανωτής Osmo
Comment[eo]=Persona organizanto de Osmo
Comment[et]=Osmo isiklik korraldaja
Comment[eu]=Osmo antolatzaile pertsonala
Comment[fa]=Osmo ﯽﺼﺨﺷ ﻩﺪﻨﻫﺩ ﻥﺎﻣﺯﺎﺳ
Comment[fi]=Osmo henkilökohtainen järjestäjä
Comment[fj]=Osmo ni tuvatuva vakaitaukei
Comment[fo]=Osmo personal skipar
Comment[fr]=Organisateur personnel Osmo
Comment[fy]=Osmo persoanlike organisator
Comment[ga]=Osmo eagraí pearsanta
Comment[gd]=Eagraiche pearsanta Osmo
Comment[gl]=Organizador persoal Osmo
Comment[gn]=Osmo organizador personal rehegua
Comment[gu]=ઓસ્મો વ્યક્તિગત આયોજક
Comment[ha]=Osmo na sirri mai shiryawa
Comment[he]=Osmo לש ישיא ןגראמ
Comment[hi]=ओस्मो निजी आयोजक
Comment[hr]=Osmo osobni rokovnik
Comment[ht]=Òganizatè pèsonèl Osmo
Comment[hu]=Osmo személyi szervező
Comment[hy]=Osmo անձնական կազմակերպիչ
Comment[id]=Penyelenggara pribadi Osmo
Comment[ig]=Osmo nhazi nkeonwe
Comment[is]=Osmo persónulegur skipuleggjandi
Comment[it]=Organizzatore personale Osmo
Comment[iu]=Osmo ᓇᖕᒥᓂᖅ ᐋᖅᑭᒃᓱᐃᔨ
Comment[ja]=Osmo システム手帳
Comment[jv]=Organizer pribadi Osmo
Comment[ka]=Osmo პირადი ორგანიზატორი
Comment[kk]=Osmo жеке ұйымдастырушысы
Comment[km]=Osmo អ្នករៀបចំផ្ទាល់ខ្លួន
Comment[kn]=ಓಸ್ಮೋ ವೈಯಕ್ತಿಕ ಸಂಘಟಕರು
Comment[ko]=오즈모 퍼스널 오거나이저
Comment[ku]=Organîzatorê kesane Osmo
Comment[ky]=Osmo жеке уюштуруучусу
Comment[la]=Osmo auctor personale
Comment[lb]=Osmo perséinlechen Organisateur
Comment[lg]=Osmo omutegesi w’omuntu ku bubwe
Comment[ln]=Osmo mobongisi ya moto ye moko
Comment[lo]=Osmo ຜູ້ຈັດການສ່ວນບຸກຄົນ
Comment[lt]=Osmo asmeninis organizatorius
Comment[lv]=Osmo personīgais organizators
Comment[mg]=Osmo mpikarakara manokana
Comment[mi]=Osmo kaiwhakarite whaiaro
Comment[mk]=Осмо личен организатор
Comment[ml]=ഓസ്മോ വ്യക്തിഗത സംഘാടകൻ
Comment[mn]=Осмо хувийн зохион байгуулагч
Comment[mr]=Osmo वैयक्तिक संयोजक
Comment[ms]=Penganjur peribadi Osmo
Comment[mt]=organizzatur personali Osmo
Comment[my]=Osmo ကိုယ်ရေးကိုယ်တာ စီစဉ်သူ
Comment[ne]=Osmo व्यक्तिगत आयोजक
Comment[nl]=Osmo persoonlijke organizer
Comment[no]=Osmo personlig arrangør
Comment[ny]=Osmo Personal organisation
Comment[om]=Osmo qindeessaa dhuunfaa
Comment[or]=ଓସମୋ ବ୍ୟକ୍ତିଗତ ସଂଗଠକ |
Comment[pa]=ਓਸਮੋ ਨਿੱਜੀ ਪ੍ਰਬੰਧਕ
Comment[pl]=Osobisty organizer Osmo
Comment[ps]=ﯽﮑﻧﻮﮐ ﻢﯿﻈﻨﺗ ﻲﺼﺨﺷ ﻮﻤﺳﻭﺍ ﺩ
Comment[pt]=Organizador pessoal Osmo
Comment[qu]=Osmo organizador personal
Comment[ro]=Organizator personal Osmo
Comment[ru]=Осмо персональный органайзер
Comment[rw]=Osmo utegura wenyine
Comment[sa]=ओस्मो व्यक्तिगत आयोजक
Comment[sd]=Osmo ﺭﺰﻴﺋﺎﻨﮔﺭﺁ ﻲﺗﺍﺫ
Comment[si]=ඔස්මෝ පුද්ගලික සංවිධායක
Comment[sk]=Osmo osobný organizér
Comment[sl]=Osmo osebni organizator
Comment[sm]=Osmo faatulagaina patino
Comment[sn]=Osmo personal organiser
Comment[so]=Osmo qabanqaabiyaha gaarka ah
Comment[sq]=Organizator personal Osmo
Comment[st]=Osmo mohlophisi oa botho
Comment[su]=Osmo pangatur pribadi
Comment[sv]=Osmo personlig arrangör
Comment[sw]=Osmo mratibu wa kibinafsi
Comment[ta]=ஒஸ்மோ தனிப்பட்ட அமைப்பாளர்
Comment[te]=ఓస్మో వ్యక్తిగత నిర్వాహకుడు
Comment[tg]=Ташкилотчии шахсии Осмо
Comment[th]=Osmo ออแกไนเซอร์ส่วนตัว
Comment[ti]=ኦስሞ ውልቃዊ ኣዳላዊ
Comment[tk]=Osmo şahsy guramaçy
Comment[tl]=Osmo personal organizer
Comment[to]=Osmo fokotuʻutuʻu fakatautaha
Comment[tr]=Osmo kişisel ajanda
Comment[ts]=Osmo muhleri wa munhu hi xiyexe
Comment[tt]=Осмо шәхси оештыручы
Comment[tw]=Osmo ankasa nhyehyɛefo
Comment[ty]=Te mau manao tauturu no te haapiiraa
Comment[ug]=ﻰﭼﯜﮕﯩﻠﻠﯩﻜﺷەﺗ ﻲﯩﺴﺧەﺷ ﻮﻤﺳﻮﺋ
Comment[uk]=Особистий органайзер Osmo
Comment[ur]=ﺭﺰﺋﺎﻨﮔﺭﺁ ﻞﻨﺳﺮﭘ ﻮﻤﺳﻭﺍ
Comment[uz]=Osmo shaxsiy tashkilotchisi
Comment[vi]=Nhà tổ chức cá nhân Osmo
Comment[xh]=Osmo umququzeleli buqu
Comment[yi]=ראָטאַזינאַגראָ ךעלנעזרעפּ אָמסאָ
Comment[yo]=Osmo ti ara ẹni Ọganaisa
Comment[zh]=Osmo 个人记事本
Comment[zu]=U-Osmo umhleli womuntu siqu
Comment=Osmo personal organizer
Exec=osmo-run
Terminal=false
Type=Application
Categories=X-Personal-date
GenericName=Osmo

