[Desktop Entry]
Version=1.0
Name[af]=PulseAudio Volumebeheer
Name[am]=PulseAudio የድምጽ መቆጣጠሪያ
Name[ar]=PulseAudio ﺕﻮﺼﻟﺍ ﻢﺠﺤﺑ ﻢﻜﺤﺘﻟﺍ
Name[ay]=PulseAudio ukax mä control de volumen ukawa
Name[az]=PulseAudio Səs səviyyəsinə nəzarət
Name[ba]=PulseAudio Күләм контроле
Name[be]=Рэгулятар гучнасці PulseAudio
Name[bg]=PulseAudio контрол на силата на звука
Name[bm]=PulseAudio ka fɔcogo ɲɛnabɔli
Name[bn]=পালসঅডিও ভলিউম কন্ট্রোল
Name[bo]=PulseAudio བོངས་ཚད་ཚོད་འཛིན་བྱེད་པ།
Name[bs]=PulseAudio kontrola jačine zvuka
Name[co]=Controlu di u voluminu PulseAudio
Name[cy]=Rheoli Cyfrol PulseAudio
Name[dv]=ލްރޯޓްންކޮ މްއުލިވޮ އޯޑިއޯސްލްޕަ
Name[ee]=PulseAudio ƒe Gbeɖiɖi Dzikpɔkpɔ
Name[eo]=PulseAudio Volumena Kontrolo
Name[et]=PulseAudio helitugevuse reguleerimine
Name[eu]=PulseAudio bolumen kontrola
Name[fa]=ﺲﻟﺎﭘ ﯼﺍﺪﺻ ﻝﺮﺘﻨﮐ
Name[fj]=PulseAudio iVakarau ni iWiliwili
Name[fo]=PulseAudio Volume Control
Name[fy]=PulseAudio Volume Control
Name[ga]=Rialú Imleabhar PulseAudio
Name[gd]=Smachd tomhas-lìonaidh PulseAudio
Name[gl]=Control de volume PulseAudio
Name[gn]=Control de Volumen PulseAudio rehegua
Name[ha]=PulseAudio Sarrafa ƙarar
Name[he]=PulseAudio לוק תמצוע תרקב
Name[ht]=PulseAudio Kontwòl Volim
Name[hy]=PulseAudio ձայնի վերահսկում
Name[id]=Kontrol Volume PulseAudio
Name[ig]=Njikwa olu olu PulseAudio
Name[is]=PulseAudio hljóðstyrkstýring
Name[iu]=PulseAudio-ᒥᒃ ᐊᐅᓚᑦᑎᓂᖅ
Name[jv]=Kontrol Volume PulseAudio
Name[ka]=PulseAudio ხმის კონტროლი
Name[kk]=PulseAudio дыбыс деңгейін басқару
Name[km]=ការគ្រប់គ្រងកម្រិតសំឡេង PulseAudio
Name[ku]=Kontrolkirina Volume ya PulseAudio
Name[ky]=PulseAudio үндү башкаруу
Name[la]=PulseAudio Volume Control
Name[lb]=PulseAudio Volumen Kontroll
Name[lg]=Okufuga eddoboozi lya PulseAudio
Name[ln]=Contrôle ya volume ya PulseAudio
Name[lo]=ການຄວບຄຸມລະດັບສຽງ PulseAudio
Name[lv]=PulseAudio skaļuma kontrole
Name[mg]=PulseAudio Volume Control
Name[mi]=Mana Rōrahi PulseAudio
Name[mk]=Контрола на јачината на звукот на PulseAudio
Name[mn]=PulseAudio дууны хяналт
Name[ms]=Kawalan Kelantangan PulseAudio
Name[mt]=Kontroll tal-Volum PulseAudio
Name[my]=PulseAudio Volume ထိန်းချုပ်မှု
Name[ne]=पल्स अडियो भोल्युम नियन्त्रण
Name[no]=PulseAudio Volumkontroll
Name[ny]=PulseAudio Volume Control
Name[om]=Toannoo Sagalee PulseAudio
Name[ps]=ﻝﻭﺮټﻨﮐ ﻢﺠﺣ ﻮﯾډﺁ ﺲﻠﭘ ﺩ
Name[qu]=PulseAudio Volumen nisqa kamachiy
Name[ro]=Controlul volumului PulseAudio
Name[rw]=Igenzura rya PulseAudio
Name[sa]=पल्सऑडियो वॉल्यूम कंट्रोल
Name[sd]=ﻝﻭﺮٽﻨڪ ﻢﺠﺣ ﻮﻳڊﺁ ﺲﻠﭘ
Name[si]=PulseAudio Volume Control
Name[sl]=Nadzor glasnosti PulseAudio
Name[sm]=PulseAudio Pulea leo
Name[sn]=PulseAudio Vhoriyamu Kudzora
Name[so]=PulseAudio Xakamaynta Mugga
Name[sq]=Kontrolli i volumit të PulseAudio
Name[st]=Taolo ea molumo oa PulseAudio
Name[su]=Kontrol Volume PulseAudio
Name[sw]=Udhibiti wa Sauti ya PulseAudio
Name[tg]=Назорати баландии овози PulseAudio
Name[ti]=PulseAudio ድምጺ ምቁጽጻር
Name[tk]=PulseAudio ses dolandyryşy
Name[tl]=Kontrol ng Dami ng PulseAudio
Name[to]=PulseAudio Volume Control
Name[ts]=Vulawuri bya Vholumo ya PulseAudio
Name[tt]=PulseAudio күләмен контрольдә тоту
Name[tw]=PulseAudio Nnyigyei a Wɔde Di Dwuma
Name[ty]=PulseAudio Volume Control
Name[ug]=PulseAudio ﺶﯩﻠﯩﻗ ﻝﻭﺮﺘﻧﻮﻛ ﺯﺍﯞﺎﺋ
Name[ur]=ﻝﻭﺮﭩﻨﮐ ﻡﻮﯿﻟﺍﻭ ﻮﯾﮈﺁ ﺲﻠﭘ
Name[uz]=PulseAudio ovoz balandligini boshqarish
Name[vi]=Điều khiển âm lượng PulseAudio
Name[xh]=Ulawulo lweVolyum yePulseAudio
Name[yi]=PulseAudio לאָרטנאָק דנאַב
Name[yo]=PulseAudio Iwọn didun Iṣakoso
Name[zh]=PulseAudio 音量控制
Name[zu]=I-PulseAudio Volume Control
Name=PulseAudio Volume Control
Name[as]=PulseAudio শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
Name[bn_IN]=PulseAudio শব্দের মাত্রা নিয়ন্ত্রণ ব্যবস্থা
Name[ca]=Control del volum del PulseAudio
Name[ca@valencia]=Control del volum del PulseAudio
Name[cs]=Ovládání hlasitosti PulseAudio
Name[da]=Lydstyrkekontrol for PulseAudio
Name[de]=PulseAudio-Lautstärkeregler
Name[el]=Έλεγχος έντασης ήχου PulseAudio
Name[es]=Control de Volumen de PulseAudio
Name[fi]=PulseAudion äänenvoimakkuuden hallinta
Name[fr]=Contrôle du volume PulseAudio
Name[gu]=PulseAudio વોલ્યુમ નિયંત્રણ
Name[hi]=पल्सऑडियो ध्वनि नियंत्रण
Name[hr]=PulseAudio upravitelj glasnoće zvuka
Name[hu]=PulseAudio hangerőszabályzó
Name[it]=Regolazione del volume PulseAudio
Name[ja]=PulseAudio 音量調節
Name[kn]=PulseAudio ಧ್ವನಿ ಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
Name[ko]=PulseAudio  볼륨 조절
Name[lt]=PulseAudio garsio reguliavimas
Name[ml]=പള്‍സ്ഓഡിയോ ശബ്ദ നിയന്ത്രണം
Name[mr]=PulseAudio आवाज नियंत्रण
Name[nl]=PulseAudio-volumeregeling
Name[nn]=Lydstyrkekontroll for PulseAudio
Name[or]=PulseAudio ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
Name[pa]=ਪਲੱਸਆਡੀਓ ਵਾਲੀਅਮ ਕੰਟਰੋਲ
Name[pl]=Sterowanie głośnością PulseAudio
Name[pt]=Controlo de Volume PulseAudio
Name[pt_BR]=Controle de volume do PulseAudio
Name[ru]=Регулятор громкости PulseAudio
Name[sk]=Ovládanie hlasitosti PulseAudio
Name[sr]=PulseAudio контрола јачине звука
Name[sr@latin]=PulseAudio kontrola jačine zvuka
Name[sv]=Volymkontroll för PulseAudio
Name[ta]=PulseAudio ஒலியளவு கட்டுப்பாடு
Name[te]=PulseAudio ధ్వని నియంత్రణ
Name[th]=ตัวควบคุมเสียง PulseAudio
Name[tr]=PulseAudio Ses Denetimi
Name[uk]=Керування гучністю PulseAudio
Name[zh_CN]=PulseAudio 音量控制
Name[zh_TW]=PulseAudio 音量控制
GenericName=Volume Control
GenericName[as]=শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
GenericName[bn_IN]=শব্দের মাত্রা নিয়ন্ত্রণ
GenericName[ca]=Control del volum
GenericName[ca@valencia]=Control del volum
GenericName[cs]=Ovládání hlasitosti
GenericName[da]=Lydstyrkekontrol
GenericName[de]=Lautstärkeregler
GenericName[el]=Έλεγχος έντασης ήχου
GenericName[es]=Control de Volumen
GenericName[fi]=Äänenvoimakkuus
GenericName[fr]=Contrôle du volume
GenericName[gu]=વોલ્યમ નિયંત્રણ
GenericName[hi]=आवाज निर्धारक
GenericName[hr]=Upravitelj glasnoće zvuka
GenericName[hu]=Hangerőszabályzó
GenericName[it]=Regolazione del volume
GenericName[ja]=音量調節
GenericName[kn]=ಧ್ವನಿಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
GenericName[ko]=볼륨 조절
GenericName[lt]=Garsio reguliavimas
GenericName[ml]=ശബ്ദ നിയന്ത്രണം
GenericName[mr]=आवाज नियंत्रण
GenericName[nl]=Volumeregeling
GenericName[nn]=Lydstyrkekontroll
GenericName[or]=ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
GenericName[pa]=ਵਾਲੀਅਮ ਕੰਟਰੋਲ
GenericName[pl]=Sterowanie głośnością
GenericName[pt]=Controlo de Volume
GenericName[pt_BR]=Controle de volume
GenericName[ru]=Громкость
GenericName[sk]=Ovládanie hlasitosti
GenericName[sr]=Контрола јачине звука
GenericName[sr@latin]=Kontrola jačine zvuka
GenericName[sv]=Volymkontroll
GenericName[ta]=ஒலியளவு கட்டுப்பாடு
GenericName[te]=ధ్వని నియంత్రణ
GenericName[th]=ตัวควบคุมเสียง
GenericName[tr]=Ses Denetimi
GenericName[uk]=Керування гучністю
GenericName[zh_CN]=音量控制
GenericName[zh_TW]=音量控制
Comment[af]=Pas die volumevlak aan
Comment[am]=የድምጽ ደረጃውን ያስተካክሉ
Comment[ar]=ﺕﻮﺼﻟﺍ ﻯﻮﺘﺴﻣ ﻂﺒﺿﺍ
Comment[ay]=Nivel de volumen ukar mayjt’ayaña
Comment[az]=Səs səviyyəsini tənzimləyin
Comment[ba]=Күләм кимәлен көйләү
Comment[be]=Адрэгулюйце ўзровень гучнасці
Comment[bg]=Регулирайте силата на звука
Comment[bm]=Aw bɛ kumakan hakɛ ladilan
Comment[bn]=ভলিউম স্তর সামঞ্জস্য করুন
Comment[bo]=སྒྲ་གདངས་ཀྱི་ཆུ་ཚད་ལེགས་སྒྲིག་
Comment[bs]=Podesite nivo jačine zvuka
Comment[co]=Aghjustate u livellu di u voluminu
Comment[cy]=Addaswch lefel y cyfaint
Comment[dv]=ވެށެރާކު ޓްސްޖެއެ ލްވެލެ މްއުލިވޮ
Comment[ee]=Trɔ asi le gbeɖiɖia ƒe sesẽme ŋu
Comment[eo]=Alĝustigu la volumenan nivelon
Comment[et]=Reguleerige helitugevust
Comment[eu]=Doitu bolumen-maila
Comment[fa]=ﺪﯿﻨﮐ ﻢﯿﻈﻨﺗ ﺍﺭ ﺍﺪﺻ ﺢﻄﺳ
Comment[fj]=Moica na ivakatagedegede ni ivola
Comment[fo]=Adjust ljóðið.
Comment[fy]=Pas it folumenivo oan
Comment[ga]=Coigeartaigh an leibhéal toirte
Comment[gd]=Atharraich an ìre fuaim
Comment[gl]=Axuste o nivel de volume
Comment[gn]=Emohenda pe nivel de volumen
Comment[ha]=Daidaita matakin ƙara
Comment[he]=לוקה תמצוע תא םאתה
Comment[ht]=Ajiste nivo volim
Comment[hy]=Կարգավորեք ձայնի մակարդակը
Comment[id]=Sesuaikan tingkat volume
Comment[ig]=Gbanwee ọkwa olu
Comment[is]=Stilltu hljóðstyrkinn
Comment[iu]=ᐋᖅᑭᒋᐊᕐᓗᒍ ᐊᖏᓂᖓ
Comment[jv]=Nyetel tingkat volume
Comment[ka]=დაარეგულირეთ ხმის დონე
Comment[kk]=Дыбыс деңгейін реттеңіз
Comment[km]=លៃតម្រូវកម្រិតសំឡេង
Comment[ku]=Asta dengdanê eyar bikin
Comment[ky]=Үн деңгээлин тууралаңыз
Comment[la]=Accommodare volumine gradu
Comment[lb]=Ajustéieren de Volume Niveau
Comment[lg]=Teekateeka eddoboozi ly’eddoboozi
Comment[ln]=Bongisá nivo ya mongongo
Comment[lo]=ປັບລະດັບສຽງ
Comment[lv]=Pielāgojiet skaļuma līmeni
Comment[mg]=Ahitsio ny haavonny feo
Comment[mi]=Whakaritehia te taumata oro
Comment[mk]=Прилагодете го нивото на јачина на звук
Comment[mn]=Дууны түвшинг тохируулна уу
Comment[ms]=Laraskan tahap kelantangan
Comment[mt]=Aġġusta l-livell tal-volum
Comment[my]=အသံအတိုးအကျယ်ကို ချိန်ညှိပါ။
Comment[ne]=भोल्युम स्तर समायोजन गर्नुहोस्
Comment[no]=Juster volumnivået
Comment[ny]=Sinthani kuchuluka kwa voliyumu
Comment[om]=Sadarkaa sagalee sirreessaa
Comment[ps]=ﺉړﮐ ﻢﯿﻈﻨﺗ ﻪﭽﮐ ﻢﺠﺣ ﺩ
Comment[qu]=Nivel de volumen nisqa allinchay
Comment[ro]=Reglați nivelul volumului
Comment[rw]=Hindura urwego rwijwi
Comment[sa]=मात्रास्तरं समायोजयन्तु
Comment[sd]=ﻮﻳڏ ﺐﻴﺗﺮﺗ ﻲﮐ ﺢﻄﺳ ﻲﺟ ﻢﺠﺣ
Comment[si]=ශබ්ද මට්ටම සකසන්න
Comment[sl]=Prilagodite glasnost
Comment[sm]=Fetuunai le maualuga o le leo
Comment[sn]=Rongedza chiyero chevhoriyamu
Comment[so]=Hagaajin heerka mugga
Comment[sq]=Rregulloni nivelin e volumit
Comment[st]=Fetola boemo ba molumo
Comment[su]=Saluyukeun tingkat polumeu
Comment[sw]=Rekebisha kiwango cha sauti
Comment[tg]=Сатҳи овозро танзим кунед
Comment[ti]=ደረጃ ድምጺ ኣስተኻኽል
Comment[tk]=Ses derejesini sazlaň
Comment[tl]=Ayusin ang antas ng lakas ng tunog
Comment[to]=Liliu ʻa e leʻo lahi
Comment[ts]=Lulamisa mpimo wa mpfumawulo
Comment[tt]=Тавыш дәрәҗәсен көйләгез
Comment[tw]=Yɛ nsakrae wɔ ɛnne no mu
Comment[ty]=A faatano i te faito o te puai
Comment[ug]=ﯓەﺸﯕەﺗ ﻰﻨﯩﺴﯩﺠﯨﺭەﺩ ﺯﺍﯞﺎﺋ
Comment[ur]=۔ﮟﯾﺮﮐ ﭧﺴﺟﮉﯾﺍ ﻮﮐ ﺢﻄﺳ ﯽﮐ ﻢﺠﺣ
Comment[uz]=Ovoz balandligini sozlang
Comment[vi]=Điều chỉnh mức âm lượng
Comment[xh]=Lungisa umgangatho wevolumu
Comment[yi]=הגרדמ דנאַב יד ןרעיורטס
Comment[yo]=Ṣatunṣe ipele iwọn didun
Comment[zh]=调节音量
Comment[zu]=Lungisa izinga levolumu
Comment=Adjust the volume level
Comment[as]=শব্দৰ মাত্ৰা ঠিক কৰক
Comment[bn_IN]=শব্দের মাত্রা পরিবর্তন করুন
Comment[ca]=Ajusta el volum
Comment[ca@valencia]=Ajusta el volum
Comment[cs]=Upravit úroveň hlasitosti
Comment[da]=Justér lydstyrkeniveau
Comment[de]=Lautstärke anpassen
Comment[el]=Ρύθμιση επιπέδου έντασης
Comment[es]=Ajustar el nivel de volumen
Comment[fi]=Säädä äänenvoimakkuutta
Comment[fr]=Régler le niveau du volume
Comment[gu]=વોલ્યુમ સ્તરને વ્યવસ્થિત કરો
Comment[hi]=आवाज़ स्तर निर्धारित करें
Comment[hr]=Prilagodite razinu glasnoće zvuka
Comment[hu]=Hangerő beállítása
Comment[it]=Regola il livello del volume
Comment[ja]=音量レベルを調整する
Comment[kn]=ಧ್ವನಿ ಪ್ರಮಾಣದ ಮಟ್ಟವನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=볼륨 레벨 조절
Comment[lt]=Reguliuoti garsio lygį
Comment[ml]=ശബ്ദ ലവല്‍ ഉ‍ചിതമാക്കുക
Comment[mr]=ध्वनिमान स्तर सुस्थित करा
Comment[nl]=Geluidsniveau aanpassen
Comment[nn]=Juster lydstyrke
Comment[or]=ଭଲ୍ୟୁମ ସ୍ତରକୁ ସଜାଡ଼ନ୍ତୁ
Comment[pa]=ਵਾਲੀਅਮ ਲੈਵਲ ਅਡਜੱਸਟ ਕਰੋ
Comment[pl]=Dostosowanie poziomu głośności
Comment[pt]=Ajustar o nível do volume
Comment[pt_BR]=Ajuste o nível do volume
Comment[ru]=Настройка уровня громкости
Comment[sk]=Upraviť úroveň hlasitosti
Comment[sr]=Подесите ниво јачине звука
Comment[sr@latin]=Podesite nivo jačine zvuka
Comment[sv]=Justera volymnivån
Comment[ta]=ஒலியளவு நிலையை சரிப்படுத்து
Comment[te]=ధ్వని స్థాయిను సర్దుము
Comment[th]=ปรับระดับเสียง
Comment[tr]=Ses şiddetini ayarla
Comment[uk]=Скоригуйте рівень гучності
Comment[zh_CN]=调节音量水平
Comment[zh_TW]=調整音量等級
Exec=pavucontrol
Icon=multimedia-volume-control.png
StartupNotify=true
Type=Application
Categories=X-Multimedia-sound
