[Desktop Entry]
Encoding=UTF-8
Name[af]=Pburn CD/DVD/Blu-ray-skrywer
Name[am]=Pburn ሲዲ/ዲቪዲ/ብሉ-ሬይ ጸሐፊ
Name[ar]=Pburn ﻦﻣ CD / DVD / Blu-ray ﺹﺍﺮﻗﺃ ﺐﺗﺎﻛ
Name[as]=পিবাৰ্ন চিডি/ডিভিডি/ব্লু-ৰে ৰাইটাৰ
Name[ay]=Pburn CD/DVD/Blu-ray qillqiri
Name[az]=Pburn CD/DVD/Blu-ray yazıcısı
Name[ba]=Pburn CD/DVD/Blu-ray яҙыусыһы
Name[be]=Прылада запісу CD/DVD/Blu-ray Pburn
Name[bg]=Pburn CD/DVD/Blu-ray записващо устройство
Name[bm]=Pburn CD/DVD/Blu-ray sɛbɛnnikɛla
Name[bn]=পিবার্ন সিডি/ডিভিডি/ব্লু-রে লেখক
Name[bo]=Pburn CD/DVD/Blu-ray རྩོམ་པ་པོ།
Name[bs]=Pburn CD/DVD/Blu-ray pisač
Name[ca]=Gravadora de CD/DVD/Blu-ray Pburn
Name[co]=Scrittore di CD/DVD/Blu-ray Pburn
Name[cs]=Pburn CD/DVD/Blu-ray vypalovačka
Name[cy]=Ysgrifennwr CD/DVD/Blu-ray Pburn
Name[da]=Pburn CD/DVD/Blu-ray brænder
Name[dv]=ރޓައިރަ ރޭލޫބް/ޑީވީޑީ/ޑީސީ ންރބަޕީ
Name[ee]=Pburn CD/DVD/Blu-ray ŋlɔla
Name[el]=Pburn CD/DVD/Blu-ray writer
Name[eo]=Pburn KD/DVD/Blu-radia verkisto
Name[et]=Pburn CD/DVD/Blu-ray kirjutaja
Name[eu]=Pburn CD/DVD/Blu-ray idazlea
Name[fa]=Pburn CD/DVD/Blu-ray writer
Name[fi]=Pburn CD/DVD/Blu-ray-kirjoitin
Name[fj]=Pburn CD/DVD/Blu-ray dauvolaivola
Name[fo]=Pburn CD/DVD/Blu-ray rithøvundur
Name[fy]=Pburn CD/DVD/Blu-ray-skriuwer
Name[ga]=Pburn CD/DVD/Blu-ray scríbhneoir
Name[gd]=Sgrìobhadair CD/DVD/Blu-ray Pburn
Name[gl]=Grabadora de CD/DVD/Blu-ray Pburn
Name[gn]=Pburn CD/DVD/Blu-ray haihára
Name[gu]=પબર્ન સીડી/ડીવીડી/બ્લુ-રે લેખક
Name[ha]=Pburn CD/DVD/Blu-ray marubuci
Name[he]=Pburn לש CD/DVD/Blu-ray רפוס
Name[hi]=पीबर्न सीडी/डीवीडी/ब्लू-रे लेखक
Name[hr]=Pburn CD/DVD/Blu-ray snimač
Name[ht]=Pburn CD/DVD/Blu-ray ekriven
Name[hu]=Pburn CD/DVD/Blu-ray író
Name[hy]=Pburn CD/DVD/Blu-ray գրող
Name[id]=Pburn CD/DVD/Blu-ray writer
Name[ig]=Pburn CD/DVD/Blu-ray odee
Name[is]=Pburn CD/DVD/Blu-ray skrifari
Name[it]=Masterizzatore CD/DVD/Blu-ray Pburn
Name[iu]=Pburn CD/DVD/Blu-ray ᑎᑎᕋᖅᑎ
Name[jv]=Penulis CD/DVD/Blu-ray Pburn
Name[ka]=Pburn CD/DVD/Blu-ray დამწერი
Name[kk]=Pburn CD/DVD/Blu-ray жазушысы
Name[km]=Pburn CD/DVD/Blu-ray អ្នកនិពន្ធ
Name[kn]=Pburn CD/DVD/Blu-ray ರೈಟರ್
Name[ko]=Pburn CD/DVD/블루레이 라이터
Name[ku]=Pburn CD/DVD/nivîskarê Blu-ray
Name[ky]=Pburn CD/DVD/Blu-ray жазуучу
Name[la]=Pburn CD/DVD/Blu-ray scriptor
Name[lb]=Pburn CD/DVD/Blu-Ray Schrëftsteller
Name[lg]=Pburn CD/DVD/Omuwandiisi wa Blu-ray
Name[ln]=Mokomi ya CD/DVD/Blu-ray ya Pburn
Name[lo]=Pburn CD/DVD/Blu-ray writer
Name[lt]=Pburn CD/DVD/Blu-ray rašiklis
Name[lv]=Pburn CD/DVD/Blu-ray rakstītājs
Name[mg]=Mpanoratra CD/DVD/Blu-ray Pburn
Name[mi]=Kaituhi CD/DVD/Blu-ray Pburn
Name[mk]=Pburn CD/DVD/Blu-ray писател
Name[ml]=Pburn CD/DVD/Blu-ray റൈറ്റർ
Name[mn]=Pburn CD/DVD/Blu-ray бичигч
Name[mr]=Pburn CD/DVD/Blu-ray लेखक
Name[ms]=Penulis CD/DVD/Blu-ray Pburn
Name[mt]=Pburn CD/DVD/Blu-ray kittieb
Name[my]=Pburn CD/DVD/Blu-ray စာရေးဆရာ
Name[ne]=Pburn CD/DVD/Blu-ray लेखक
Name[nl]=Pburn cd/dvd/Blu-ray-schrijver
Name[no]=Pburn CD/DVD/Blu-ray-brenner
Name[ny]=Pburn CD/DVD/Blu-ray wolemba
Name[om]=Barreessaa CD/DVD/Blu-ray Pburn
Name[or]=ପବର୍ନ ସିଡି / ଡିଭିଡି / ବ୍ଲୁ-ରେ ଲେଖକ |
Name[pa]=Pburn CD/DVD/Blu-Ray ਲੇਖਕ
Name[pl]=Nagrywarka CD/DVD/Blu-ray firmy Pburn
Name[ps]=Pburn CD/DVD/Blu-ray ﻝﺍﻮﮑﯿﻟ
Name[pt]=Gravador Pburn CD/DVD/Blu-ray
Name[qu]=Pburn CD/DVD/Blu-ray nisqa qillqaq
Name[ro]=Pburn CD/DVD/Blu-ray writer
Name[ru]=Pburn записывающее устройство для CD/DVD/Blu-ray
Name[rw]=Pburn CD / DVD / Blu-ray umwanditsi
Name[sa]=Pburn CD/DVD/Blu-ray लेखकः
Name[sd]=Pburn CD/DVD/Blu-ray ڪﮑﻴﻟ
Name[si]=Pburn CD/DVD/Blu-ray ලේඛකයා
Name[sk]=Pburn CD/DVD/Blu-ray napaľovačka
Name[sl]=Pburn zapisovalnik CD/DVD/Blu-ray
Name[sm]=Pburn CD/DVD/Blu-ray tusitala
Name[sn]=Pburn CD/DVD/Blu-ray munyori
Name[so]=Pburn CD/DVD/ Qoraa Blu-ray
Name[sq]=Shkrimtar Pburn CD/DVD/Blu-ray
Name[st]=Sengoli sa Pburn CD/DVD/Blu-ray
Name[su]=Pburn CD/DVD/Panulis Blu-ray
Name[sv]=Pburn CD/DVD/Blu-ray-brännare
Name[sw]=Mwandishi wa Pburn CD/DVD/Blu-ray
Name[ta]=Pburn CD/DVD/Blu-ray ரைட்டர்
Name[te]=Pburn CD/DVD/Blu-ray రైటర్
Name[tg]=Нависандаи CD/DVD/Blu-ray Pburn
Name[th]=Pburn เครื่องเขียนซีดี/ดีวีดี/บลูเรย์
Name[ti]=ፒበርን ሲዲ/ዲቪዲ/ብሉ-ራይ ጸሓፊ
Name[tk]=Pburn CD / DVD / Blu-ray ýazyjysy
Name[tl]=Pburn CD/DVD/Blu-ray na manunulat
Name[to]=Pburn CD/DVD/Blu-Lei
Name[tr]=Pburn CD/DVD/Blu-ray yazıcı
Name[ts]=Mutsari wa CD/DVD/Blu-ray wa Pburn
Name[tt]=Пберн CD / DVD / Блу-нур язучы
Name[tw]=Pburn CD/DVD/Blu-ray kyerɛwfo
Name[ty]=Pburn CD/DVD/Blu-ray taata papai
Name[ug]=Pburn CD / DVD / Blu-ray ﻰﭼﯘﻏﺯﺎﻳ
Name[uk]=Pburn CD/DVD/Blu-ray записувач
Name[ur]=Pburn CD/DVD/Blu-ray ﺮﭩﺋﺍﺭ
Name[uz]=Pburn CD/DVD/Blu-ray yozuvchisi
Name[vi]=Trình ghi đĩa CD/DVD/Blu-ray Pburn
Name[xh]=IPburn CD/DVD/Blu-ray umbhali
Name[yi]=Pburn CD/DVD/Blu-Ray רעביַירש
Name[yo]=Pburn CD/DVD/Blu-ray onkqwe
Name[zh]=Pburn CD/DVD/蓝光刻录机
Name[zu]=Umbhali we-Pburn CD/DVD/Blu-ray
Name=Pburn CD/DVD/Blu-ray writer
Name[de]=Pburn CD/DVD/Blu-ray Brenner
Name[es]=Pburn-Grabador de CD/DVD/Blu-ray
Name[fr]=Graveur CD/DVD/Blu-ray
Name[hu_HU]=Pburn CD/DVD/Blu-ray író
Name[ja]=Pburn CD/DVD/Blu-ray書き込み
Icon=/usr/local/pburn/pburn20.png
Comment[af]=Pburn CD/DVD/Blu-ray-skrywer
Comment[am]=Pburn ሲዲ/ዲቪዲ/ብሉ-ሬይ ጸሐፊ
Comment[ar]=Pburn ﻦﻣ CD / DVD / Blu-ray ﺹﺍﺮﻗﺃ ﺐﺗﺎﻛ
Comment[as]=পিবাৰ্ন চিডি/ডিভিডি/ব্লু-ৰে ৰাইটাৰ
Comment[ay]=Pburn CD/DVD/Blu-ray qillqiri
Comment[az]=Pburn CD/DVD/Blu-ray yazıcısı
Comment[ba]=Pburn CD/DVD/Blu-ray яҙыусыһы
Comment[be]=Прылада запісу CD/DVD/Blu-ray Pburn
Comment[bg]=Pburn CD/DVD/Blu-ray записващо устройство
Comment[bm]=Pburn CD/DVD/Blu-ray sɛbɛnnikɛla
Comment[bn]=পিবার্ন সিডি/ডিভিডি/ব্লু-রে লেখক
Comment[bo]=Pburn CD/DVD/Blu-ray རྩོམ་པ་པོ།
Comment[bs]=Pburn CD/DVD/Blu-ray pisač
Comment[ca]=Gravadora de CD/DVD/Blu-ray Pburn
Comment[co]=Scrittore di CD/DVD/Blu-ray Pburn
Comment[cs]=Pburn CD/DVD/Blu-ray vypalovačka
Comment[cy]=Ysgrifennwr CD/DVD/Blu-ray Pburn
Comment[da]=Pburn CD/DVD/Blu-ray brænder
Comment[de]=Pburn CD/DVD/Blu-ray-Brenner
Comment[dv]=ރޓައިރަ ރޭލޫބް/ޑީވީޑީ/ޑީސީ ންރބަޕީ
Comment[ee]=Pburn CD/DVD/Blu-ray ŋlɔla
Comment[el]=Pburn CD/DVD/Blu-ray writer
Comment[eo]=Pburn KD/DVD/Blu-radia verkisto
Comment[es]=Grabadora de CD/DVD/Blu-ray Pburn
Comment[et]=Pburn CD/DVD/Blu-ray kirjutaja
Comment[eu]=Pburn CD/DVD/Blu-ray idazlea
Comment[fa]=Pburn CD/DVD/Blu-ray writer
Comment[fi]=Pburn CD/DVD/Blu-ray-kirjoitin
Comment[fj]=Pburn CD/DVD/Blu-ray dauvolaivola
Comment[fo]=Pburn CD/DVD/Blu-ray rithøvundur
Comment[fr]=Graveur de CD/DVD/Blu-ray Pburn
Comment[fy]=Pburn CD/DVD/Blu-ray-skriuwer
Comment[ga]=Pburn CD/DVD/Blu-ray scríbhneoir
Comment[gd]=Sgrìobhadair CD/DVD/Blu-ray Pburn
Comment[gl]=Grabadora de CD/DVD/Blu-ray Pburn
Comment[gn]=Pburn CD/DVD/Blu-ray haihára
Comment[gu]=પબર્ન સીડી/ડીવીડી/બ્લુ-રે લેખક
Comment[ha]=Pburn CD/DVD/Blu-ray marubuci
Comment[he]=Pburn לש CD/DVD/Blu-ray רפוס
Comment[hi]=पीबर्न सीडी/डीवीडी/ब्लू-रे लेखक
Comment[hr]=Pburn CD/DVD/Blu-ray snimač
Comment[ht]=Pburn CD/DVD/Blu-ray ekriven
Comment[hu]=Pburn CD/DVD/Blu-ray író
Comment[hy]=Pburn CD/DVD/Blu-ray գրող
Comment[id]=Pburn CD/DVD/Blu-ray writer
Comment[ig]=Pburn CD/DVD/Blu-ray odee
Comment[is]=Pburn CD/DVD/Blu-ray skrifari
Comment[it]=Masterizzatore CD/DVD/Blu-ray Pburn
Comment[iu]=Pburn CD/DVD/Blu-ray ᑎᑎᕋᖅᑎ
Comment[ja]=Pburn CD/DVD/Blu-ray ライター
Comment[jv]=Penulis CD/DVD/Blu-ray Pburn
Comment[ka]=Pburn CD/DVD/Blu-ray დამწერი
Comment[kk]=Pburn CD/DVD/Blu-ray жазушысы
Comment[km]=Pburn CD/DVD/Blu-ray អ្នកនិពន្ធ
Comment[kn]=Pburn CD/DVD/Blu-ray ರೈಟರ್
Comment[ko]=Pburn CD/DVD/블루레이 라이터
Comment[ku]=Pburn CD/DVD/nivîskarê Blu-ray
Comment[ky]=Pburn CD/DVD/Blu-ray жазуучу
Comment[la]=Pburn CD/DVD/Blu-ray scriptor
Comment[lb]=Pburn CD/DVD/Blu-Ray Schrëftsteller
Comment[lg]=Pburn CD/DVD/Omuwandiisi wa Blu-ray
Comment[ln]=Mokomi ya CD/DVD/Blu-ray ya Pburn
Comment[lo]=Pburn CD/DVD/Blu-ray writer
Comment[lt]=Pburn CD/DVD/Blu-ray rašiklis
Comment[lv]=Pburn CD/DVD/Blu-ray rakstītājs
Comment[mg]=Mpanoratra CD/DVD/Blu-ray Pburn
Comment[mi]=Kaituhi CD/DVD/Blu-ray Pburn
Comment[mk]=Pburn CD/DVD/Blu-ray писател
Comment[ml]=Pburn CD/DVD/Blu-ray റൈറ്റർ
Comment[mn]=Pburn CD/DVD/Blu-ray бичигч
Comment[mr]=Pburn CD/DVD/Blu-ray लेखक
Comment[ms]=Penulis CD/DVD/Blu-ray Pburn
Comment[mt]=Pburn CD/DVD/Blu-ray kittieb
Comment[my]=Pburn CD/DVD/Blu-ray စာရေးဆရာ
Comment[ne]=Pburn CD/DVD/Blu-ray लेखक
Comment[nl]=Pburn cd/dvd/Blu-ray-schrijver
Comment[no]=Pburn CD/DVD/Blu-ray-brenner
Comment[ny]=Pburn CD/DVD/Blu-ray wolemba
Comment[om]=Barreessaa CD/DVD/Blu-ray Pburn
Comment[or]=ପବର୍ନ ସିଡି / ଡିଭିଡି / ବ୍ଲୁ-ରେ ଲେଖକ |
Comment[pa]=Pburn CD/DVD/Blu-Ray ਲੇਖਕ
Comment[pl]=Nagrywarka CD/DVD/Blu-ray firmy Pburn
Comment[ps]=Pburn CD/DVD/Blu-ray ﻝﺍﻮﮑﯿﻟ
Comment[pt]=Gravador Pburn CD/DVD/Blu-ray
Comment[qu]=Pburn CD/DVD/Blu-ray nisqa qillqaq
Comment[ro]=Pburn CD/DVD/Blu-ray writer
Comment[ru]=Pburn записывающее устройство для CD/DVD/Blu-ray
Comment[rw]=Pburn CD / DVD / Blu-ray umwanditsi
Comment[sa]=Pburn CD/DVD/Blu-ray लेखकः
Comment[sd]=Pburn CD/DVD/Blu-ray ڪﮑﻴﻟ
Comment[si]=Pburn CD/DVD/Blu-ray ලේඛකයා
Comment[sk]=Pburn CD/DVD/Blu-ray napaľovačka
Comment[sl]=Pburn zapisovalnik CD/DVD/Blu-ray
Comment[sm]=Pburn CD/DVD/Blu-ray tusitala
Comment[sn]=Pburn CD/DVD/Blu-ray munyori
Comment[so]=Pburn CD/DVD/ Qoraa Blu-ray
Comment[sq]=Shkrimtar Pburn CD/DVD/Blu-ray
Comment[st]=Sengoli sa Pburn CD/DVD/Blu-ray
Comment[su]=Pburn CD/DVD/Panulis Blu-ray
Comment[sv]=Pburn CD/DVD/Blu-ray-brännare
Comment[sw]=Mwandishi wa Pburn CD/DVD/Blu-ray
Comment[ta]=Pburn CD/DVD/Blu-ray ரைட்டர்
Comment[te]=Pburn CD/DVD/Blu-ray రైటర్
Comment[tg]=Нависандаи CD/DVD/Blu-ray Pburn
Comment[th]=Pburn เครื่องเขียนซีดี/ดีวีดี/บลูเรย์
Comment[ti]=ፒበርን ሲዲ/ዲቪዲ/ብሉ-ራይ ጸሓፊ
Comment[tk]=Pburn CD / DVD / Blu-ray ýazyjysy
Comment[tl]=Pburn CD/DVD/Blu-ray na manunulat
Comment[to]=Pburn CD/DVD/Blu-Lei
Comment[tr]=Pburn CD/DVD/Blu-ray yazıcı
Comment[ts]=Mutsari wa CD/DVD/Blu-ray wa Pburn
Comment[tt]=Пберн CD / DVD / Блу-нур язучы
Comment[tw]=Pburn CD/DVD/Blu-ray kyerɛwfo
Comment[ty]=Pburn CD/DVD/Blu-ray taata papai
Comment[ug]=Pburn CD / DVD / Blu-ray ﻰﭼﯘﻏﺯﺎﻳ
Comment[uk]=Pburn CD/DVD/Blu-ray записувач
Comment[ur]=Pburn CD/DVD/Blu-ray ﺮﭩﺋﺍﺭ
Comment[uz]=Pburn CD/DVD/Blu-ray yozuvchisi
Comment[vi]=Trình ghi đĩa CD/DVD/Blu-ray Pburn
Comment[xh]=IPburn CD/DVD/Blu-ray umbhali
Comment[yi]=Pburn CD/DVD/Blu-Ray רעביַירש
Comment[yo]=Pburn CD/DVD/Blu-ray onkqwe
Comment[zh]=Pburn CD/DVD/蓝光刻录机
Comment[zu]=Umbhali we-Pburn CD/DVD/Blu-ray
Comment=Pburn CD/DVD/Blu-ray writer
Exec=pburn
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=Pburn CD/DVD/Blu-ray writer
