[Desktop Entry]
Encoding=UTF-8
Name[de]=Pdvdrip DVD-Ripper und MKV-Encoder
Name[fr]=Extracteur DVD et encodeur MKV : Pdvdrip
Name[es]=Pdvdrip: extractor de DVD y codificador MKV
Name[af]=Pdvdrip DVD-ripper en MKV-enkodeerder
Name[am]=ፒዲቪድሪፕ ዲቪዲ መቅጃ እና MKV ኢንኮደር
Name[ar]=pdvdrip DVD ripper ﻭ MKV encoder
Name[as]=Pdvdrip DVD ৰিপাৰ আৰু MKV এনকোডাৰ
Name[ay]=Pdvdrip DVD ripper ukat MKV codificador ukanakaw utji
Name[az]=Pdvdrip DVD ripper və MKV kodlayıcısı
Name[ba]=Pdvdrip DVD-риппер һәм MKV анкодеры
Name[be]=Pdvdrip DVD-рыппер і кадавальнік MKV
Name[bg]=Pdvdrip DVD рипър и MKV енкодер
Name[bm]=Pdvdrip DVD ripper ani MKV encodeur
Name[bn]=Pdvdrip DVD রিপার এবং MKV এনকোডার
Name[bo]=Pdvdrip DVDའཕྲུལ་ཆས་དང་MKVཡི་ཨང་སྒྲིག་འཕྲུལ་ཆས།
Name[bs]=Pdvdrip DVD riper i MKV enkoder
Name[ca]=Ripper de DVD Pdvdrip i codificador MKV
Name[co]=Pdvdrip DVD ripper è codificatore MKV
Name[cs]=Pdvdrip DVD ripper a MKV kodér
Name[cy]=Pdvdrip DVD ripper a MKV encoder
Name[da]=Pdvdrip DVD-ripper og MKV-encoder
Name[dv]=ވެއެ ރޑަކޯންއެ ވީކޭމްއެ އިއާ ރޕަރި ޑީވީޑީ ޕްރިޑްވީޑީޕީ
Name[ee]=Pdvdrip DVD ripper kple MKV encoder
Name[el]=Pdvdrip DVD ripper και MKV encoder
Name[eo]=Pdvdrip DVD-ripper kaj MKV-kodilo
Name[et]=Pdvdrip DVD rippija ja MKV kodeerija
Name[eu]=Pdvdrip DVD deskribatzailea eta MKV kodetzailea
Name[fa]=Pdvdrip DVD Ripper ﺭﺍﺬﮔﺰﻣﺭ ﻭ MKV
Name[fi]=Pdvdrip DVD-ripperi ja MKV-kooderi
Name[fj]=Pdvdrip DVD ripper kei na MKV encoder
Name[fo]=Pdvdrip DVD ripper and MKV encoder
Name[fy]=Pdvdrip DVD-ripper en MKV-encoder
Name[ga]=Pdvdrip sracaire DVD agus ionchódóir MKV
Name[gd]=Ripper DVD Pdvdrip agus encoder MKV
Name[gl]=Ripper de DVD Pdvdrip e codificador MKV
Name[gn]=Pdvdrip DVD ripper ha codificador MKV
Name[gu]=Pdvdrip DVD રિપર અને MKV એન્કોડર
Name[ha]=Pdvdrip DVD ripper da MKV encoder
Name[he]=Pdvdrip DVD דדוקמו שטרמ MKV
Name[hi]=पीडीवीड्रिप डीवीडी रिपर और एमकेवी एनकोडर
Name[hr]=Pdvdrip DVD riper i MKV koder
Name[ht]=Pdvdrip DVD ripper ak ankode MKV
Name[hu]=Pdvdrip DVD ripper és MKV kódoló
Name[hy]=Pdvdrip DVD ripper և MKV կոդավորիչ
Name[id]=Pdvdrip DVD ripper dan encoder MKV
Name[ig]=Pdvdrip DVD ripper na MKV encoder
Name[is]=Pdvdrip DVD ripper og MKV kóðara
Name[it]=Pdvdrip DVD ripper e codificatore MKV
Name[iu]=Pdvdrip DVD ripper ᐊᒻᒪ MKV encoder
Name[ja]=Pdvdrip DVD リッパーおよび MKV エンコーダー
Name[jv]=Pdvdrip DVD ripper lan MKV encoder
Name[ka]=Pdvdrip DVD Ripper და MKV ენკოდერი
Name[kk]=Pdvdrip DVD рипері және MKV кодері
Name[km]=Pdvdrip DVD ripper និង MKV encoder
Name[kn]=Pdvdrip DVD ರಿಪ್ಪರ್ ಮತ್ತು MKV ಎನ್ಕೋಡರ್
Name[ko]=Pdvdrip DVD 리퍼 및 MKV 인코더
Name[ku]=Pdvdrip DVD ripper û encoder MKV
Name[ky]=Pdvdrip DVD рипер жана MKV коддору
Name[la]=Pdvdrip DVD ripper et MKV encoder
Name[lb]=Pdvdrip DVD Ripper an MKV Encoder
Name[lg]=Pdvdrip DVD ripper ne MKV enkoda
Name[ln]=Pdvdrip DVD ripper na encodeur MKV
Name[lo]=Pdvdrip DVD ripper ແລະຕົວເຂົ້າລະຫັດ MKV
Name[lt]=Pdvdrip DVD ripper ir MKV kodavimo įrenginys
Name[lv]=Pdvdrip DVD kaut kas lielisks un MKV kodētājs
Name[mg]=Pdvdrip DVD ripper sy MKV encoder
Name[mi]=Pdvdrip DVD ripper me MKV encoder
Name[mk]=Pdvdrip DVD ripper и MKV енкодер
Name[ml]=Pdvdrip ഡിവിഡി റിപ്പറും MKV എൻകോഡറും
Name[mn]=Pdvdrip DVD ripper болон MKV кодлогч
Name[mr]=Pdvdrip DVD रिपर आणि MKV एन्कोडर
Name[ms]=Ripper DVD Pdvdrip dan pengekod MKV
Name[mt]=Pdvdrip DVD ripper u encoder MKV
Name[my]=Pdvdrip DVD ripper နှင့် MKV ကုဒ်နံပါတ်
Name[ne]=Pdvdrip DVD रिपर र MKV एन्कोडर
Name[nl]=Pdvdrip dvd-ripper en MKV-encoder
Name[no]=Pdvdrip DVD-ripper og MKV-koder
Name[ny]=Pdvdrip DVD ripper ndi MKV encoder
Name[om]=Pdvdrip DVD ripper fi MKV encoder
Name[or]=Pdvdrip DVD ରିପର୍ ଏବଂ MKV ଏନକୋଡର୍ |
Name[pa]=Pdvdrip DVD ਰਿਪਰ ਅਤੇ MKV ਏਨਕੋਡਰ
Name[pl]=Pdvdrip DVD ripper i koder MKV
Name[ps]=ﺭډﻮﮑﻧﺍ MKV ﻭﺍ ﺮﭙﯾﺭ Pdvdrip DVD ﺩ
Name[pt]=Pdvdrip DVD ripper e codificador MKV
Name[qu]=Pdvdrip DVD ripper y MKV codificador
Name[ro]=Pdvdrip DVD ripper și codificator MKV
Name[ru]=Pdvdrip DVD риппер и кодировщик MKV
Name[rw]=Pdvdrip DVD ripper na MKV encoder
Name[sa]=Pdvdrip DVD ripper तथा MKV एन्कोडर
Name[sd]=Pdvdrip ۽ ﺮﭙﻳﺭ ﻱڊ ﻱﻭ ﻱڊ MKV ﺭڊﻮڪﻧﺍ
Name[si]=Pdvdrip DVD රිපර් සහ MKV කේතකය
Name[sk]=Pdvdrip DVD ripper a MKV kodér
Name[sl]=Pdvdrip DVD ripper in kodirnik MKV
Name[sm]=Pdvdrip DVD ripper ma MKV encoder
Name[sn]=Pdvdrip DVD ripper uye MKV encoder
Name[so]=Pdvdrip DVD ripper iyo MKV encoder
Name[sq]=Ripper DVD Pdvdrip dhe kodues MKV
Name[st]=Pdvdrip DVD ripper le MKV encoder
Name[su]=Pdvdrip DVD ripper jeung MKV encoder
Name[sv]=Pdvdrip DVD-ripper och MKV-kodare
Name[sw]=Pdvdrip DVD ripper na MKV encoder
Name[ta]=Pdvdrip DVD ripper மற்றும் MKV குறியாக்கி
Name[te]=Pdvdrip DVD రిప్పర్ మరియు MKV ఎన్కోడర్
Name[tg]=Pdvdrip DVD ripper ва рамзгузори MKV
Name[th]=Pdvdrip DVD ripper และตัวเข้ารหัส MKV
Name[ti]=Pdvdrip DVD ሪፐርን MKV ኢንኮደርን ዝበሃሉ ምዃኖም ይፍለጥ
Name[tk]=Pdvdrip DVD ripper we MKV kodlaýjy
Name[tl]=Pdvdrip DVD ripper at MKV encoder
Name[to]=Pdvdrip DVD ripper mo e MKV Encoder
Name[tr]=Pdvdrip DVD kopyalayıcı ve MKV kodlayıcı
Name[ts]=Pdvdrip DVD ripper na MKV encoder
Name[tt]=Pdvdrip DVD рипперы һәм MKV кодлаучы
Name[tw]=Pdvdrip DVD ripper ne MKV encoder
Name[ty]=Te mau DVD ripper e MKV encoder
Name[ug]=Pdvdrip DVD ripper ەﯞ MKV ﭺﯘﻏﺭﯘﺘﺷﻻ﻿ﺩﻮﻛ
Name[uk]=Pdvdrip DVD копіювач і кодувальник MKV
Name[ur]=Pdvdrip DVD ﺭﻭﺍ ﺮﭙﯾﺭ MKV ﺭﮈﻮﮑﻧﺍ
Name[uz]=Pdvdrip DVD ripper va MKV kodlovchi
Name[vi]=Trình trích xuất DVD Pdvdrip và bộ mã hóa MKV
Name[xh]=I-Pdvdrip DVD ripper kunye ne-MKV encoder
Name[yi]=Pdvdrip רעדאָקנע ווקמ ןוא רעפּיר יוו
Name[yo]=Pdvdrip DVD ripper ati mkv koodu
Name[zh]=Pdvdrip DVD 抓取器和 MKV 编码器
Name[zu]=I-Pdvdrip DVD ripper ne-MKV encoder
Name=Pdvdrip DVD ripper and MKV encoder
Icon=/usr/share/pixmaps/puppy/cd_rip.svg
Comment[de]=Pdvdrip DVD-Ripper und MKV-Encoder
Comment[fr]=Pdvdrip Extracteur de DVD et encodeur MKV
Comment[es]=Pdvdrip: extractor de DVD y codificador MKV
Comment[af]=Pdvdrip DVD-ripper en MKV-enkodeerder
Comment[am]=ፒዲቪድሪፕ ዲቪዲ መቅጃ እና MKV ኢንኮደር
Comment[ar]=pdvdrip DVD ripper ﻭ MKV encoder
Comment[as]=Pdvdrip DVD ৰিপাৰ আৰু MKV এনকোডাৰ
Comment[ay]=Pdvdrip DVD ripper ukat MKV codificador ukanakaw utji
Comment[az]=Pdvdrip DVD ripper və MKV kodlayıcısı
Comment[ba]=Pdvdrip DVD-риппер һәм MKV анкодеры
Comment[be]=Pdvdrip DVD-рыппер і кадавальнік MKV
Comment[bg]=Pdvdrip DVD рипър и MKV енкодер
Comment[bm]=Pdvdrip DVD ripper ani MKV encodeur
Comment[bn]=Pdvdrip DVD রিপার এবং MKV এনকোডার
Comment[bo]=Pdvdrip DVDའཕྲུལ་ཆས་དང་MKVཡི་ཨང་སྒྲིག་འཕྲུལ་ཆས།
Comment[bs]=Pdvdrip DVD riper i MKV enkoder
Comment[ca]=Ripper de DVD Pdvdrip i codificador MKV
Comment[co]=Pdvdrip DVD ripper è codificatore MKV
Comment[cs]=Pdvdrip DVD ripper a MKV kodér
Comment[cy]=Pdvdrip DVD ripper a MKV encoder
Comment[da]=Pdvdrip DVD-ripper og MKV-encoder
Comment[dv]=ވެއެ ރޑަކޯންއެ ވީކޭމްއެ އިއާ ރޕަރި ޑީވީޑީ ޕްރިޑްވީޑީޕީ
Comment[ee]=Pdvdrip DVD ripper kple MKV encoder
Comment[el]=Pdvdrip DVD ripper και MKV encoder
Comment[eo]=Pdvdrip DVD-ripper kaj MKV-kodilo
Comment[et]=Pdvdrip DVD rippija ja MKV kodeerija
Comment[eu]=Pdvdrip DVD deskribatzailea eta MKV kodetzailea
Comment[fa]=Pdvdrip DVD Ripper ﺭﺍﺬﮔﺰﻣﺭ ﻭ MKV
Comment[fi]=Pdvdrip DVD-ripperi ja MKV-kooderi
Comment[fj]=Pdvdrip DVD ripper kei na MKV encoder
Comment[fo]=Pdvdrip DVD ripper and MKV encoder
Comment[fy]=Pdvdrip DVD-ripper en MKV-encoder
Comment[ga]=Pdvdrip sracaire DVD agus ionchódóir MKV
Comment[gd]=Ripper DVD Pdvdrip agus encoder MKV
Comment[gl]=Ripper de DVD Pdvdrip e codificador MKV
Comment[gn]=Pdvdrip DVD ripper ha codificador MKV
Comment[gu]=Pdvdrip DVD રિપર અને MKV એન્કોડર
Comment[ha]=Pdvdrip DVD ripper da MKV encoder
Comment[he]=Pdvdrip DVD דדוקמו שטרמ MKV
Comment[hi]=पीडीवीड्रिप डीवीडी रिपर और एमकेवी एनकोडर
Comment[hr]=Pdvdrip DVD riper i MKV koder
Comment[ht]=Pdvdrip DVD ripper ak ankode MKV
Comment[hu]=Pdvdrip DVD ripper és MKV kódoló
Comment[hy]=Pdvdrip DVD ripper և MKV կոդավորիչ
Comment[id]=Pdvdrip DVD ripper dan encoder MKV
Comment[ig]=Pdvdrip DVD ripper na MKV encoder
Comment[is]=Pdvdrip DVD ripper og MKV kóðara
Comment[it]=Pdvdrip DVD ripper e codificatore MKV
Comment[iu]=Pdvdrip DVD ripper ᐊᒻᒪ MKV encoder
Comment[ja]=Pdvdrip DVD リッパーおよび MKV エンコーダー
Comment[jv]=Pdvdrip DVD ripper lan MKV encoder
Comment[ka]=Pdvdrip DVD Ripper და MKV ენკოდერი
Comment[kk]=Pdvdrip DVD рипері және MKV кодері
Comment[km]=Pdvdrip DVD ripper និង MKV encoder
Comment[kn]=Pdvdrip DVD ರಿಪ್ಪರ್ ಮತ್ತು MKV ಎನ್ಕೋಡರ್
Comment[ko]=Pdvdrip DVD 리퍼 및 MKV 인코더
Comment[ku]=Pdvdrip DVD ripper û encoder MKV
Comment[ky]=Pdvdrip DVD рипер жана MKV коддору
Comment[la]=Pdvdrip DVD ripper et MKV encoder
Comment[lb]=Pdvdrip DVD Ripper an MKV Encoder
Comment[lg]=Pdvdrip DVD ripper ne MKV enkoda
Comment[ln]=Pdvdrip DVD ripper na encodeur MKV
Comment[lo]=Pdvdrip DVD ripper ແລະຕົວເຂົ້າລະຫັດ MKV
Comment[lt]=Pdvdrip DVD ripper ir MKV kodavimo įrenginys
Comment[lv]=Pdvdrip DVD kaut kas lielisks un MKV kodētājs
Comment[mg]=Pdvdrip DVD ripper sy MKV encoder
Comment[mi]=Pdvdrip DVD ripper me MKV encoder
Comment[mk]=Pdvdrip DVD ripper и MKV енкодер
Comment[ml]=Pdvdrip ഡിവിഡി റിപ്പറും MKV എൻകോഡറും
Comment[mn]=Pdvdrip DVD ripper болон MKV кодлогч
Comment[mr]=Pdvdrip DVD रिपर आणि MKV एन्कोडर
Comment[ms]=Ripper DVD Pdvdrip dan pengekod MKV
Comment[mt]=Pdvdrip DVD ripper u encoder MKV
Comment[my]=Pdvdrip DVD ripper နှင့် MKV ကုဒ်နံပါတ်
Comment[ne]=Pdvdrip DVD रिपर र MKV एन्कोडर
Comment[nl]=Pdvdrip dvd-ripper en MKV-encoder
Comment[no]=Pdvdrip DVD-ripper og MKV-koder
Comment[ny]=Pdvdrip DVD ripper ndi MKV encoder
Comment[om]=Pdvdrip DVD ripper fi MKV encoder
Comment[or]=Pdvdrip DVD ରିପର୍ ଏବଂ MKV ଏନକୋଡର୍ |
Comment[pa]=Pdvdrip DVD ਰਿਪਰ ਅਤੇ MKV ਏਨਕੋਡਰ
Comment[pl]=Pdvdrip DVD ripper i koder MKV
Comment[ps]=ﺭډﻮﮑﻧﺍ MKV ﻭﺍ ﺮﭙﯾﺭ Pdvdrip DVD ﺩ
Comment[pt]=Pdvdrip DVD ripper e codificador MKV
Comment[qu]=Pdvdrip DVD ripper y MKV codificador
Comment[ro]=Pdvdrip DVD ripper și codificator MKV
Comment[ru]=Pdvdrip DVD риппер и кодировщик MKV
Comment[rw]=Pdvdrip DVD ripper na MKV encoder
Comment[sa]=Pdvdrip DVD ripper तथा MKV एन्कोडर
Comment[sd]=Pdvdrip ۽ ﺮﭙﻳﺭ ﻱڊ ﻱﻭ ﻱڊ MKV ﺭڊﻮڪﻧﺍ
Comment[si]=Pdvdrip DVD රිපර් සහ MKV කේතකය
Comment[sk]=Pdvdrip DVD ripper a MKV kodér
Comment[sl]=Pdvdrip DVD ripper in kodirnik MKV
Comment[sm]=Pdvdrip DVD ripper ma MKV encoder
Comment[sn]=Pdvdrip DVD ripper uye MKV encoder
Comment[so]=Pdvdrip DVD ripper iyo MKV encoder
Comment[sq]=Ripper DVD Pdvdrip dhe kodues MKV
Comment[st]=Pdvdrip DVD ripper le MKV encoder
Comment[su]=Pdvdrip DVD ripper jeung MKV encoder
Comment[sv]=Pdvdrip DVD-ripper och MKV-kodare
Comment[sw]=Pdvdrip DVD ripper na MKV encoder
Comment[ta]=Pdvdrip DVD ripper மற்றும் MKV குறியாக்கி
Comment[te]=Pdvdrip DVD రిప్పర్ మరియు MKV ఎన్కోడర్
Comment[tg]=Pdvdrip DVD ripper ва рамзгузори MKV
Comment[th]=Pdvdrip DVD ripper และตัวเข้ารหัส MKV
Comment[ti]=Pdvdrip DVD ሪፐርን MKV ኢንኮደርን ዝበሃሉ ምዃኖም ይፍለጥ
Comment[tk]=Pdvdrip DVD ripper we MKV kodlaýjy
Comment[tl]=Pdvdrip DVD ripper at MKV encoder
Comment[to]=Pdvdrip DVD ripper mo e MKV Encoder
Comment[tr]=Pdvdrip DVD kopyalayıcı ve MKV kodlayıcı
Comment[ts]=Pdvdrip DVD ripper na MKV encoder
Comment[tt]=Pdvdrip DVD рипперы һәм MKV кодлаучы
Comment[tw]=Pdvdrip DVD ripper ne MKV encoder
Comment[ty]=Te mau DVD ripper e MKV encoder
Comment[ug]=Pdvdrip DVD ripper ەﯞ MKV ﭺﯘﻏﺭﯘﺘﺷﻻ﻿ﺩﻮﻛ
Comment[uk]=Pdvdrip DVD копіювач і кодувальник MKV
Comment[ur]=Pdvdrip DVD ﺭﻭﺍ ﺮﭙﯾﺭ MKV ﺭﮈﻮﮑﻧﺍ
Comment[uz]=Pdvdrip DVD ripper va MKV kodlovchi
Comment[vi]=Trình trích xuất DVD Pdvdrip và bộ mã hóa MKV
Comment[xh]=I-Pdvdrip DVD ripper kunye ne-MKV encoder
Comment[yi]=Pdvdrip רעדאָקנע ווקמ ןוא רעפּיר יוו
Comment[yo]=Pdvdrip DVD ripper ati mkv koodu
Comment[zh]=Pdvdrip DVD 抓取器和 MKV 编码器
Comment[zu]=I-Pdvdrip DVD ripper ne-MKV encoder
Comment=Pdvdrip DVD ripper and MKV encoder
Exec=pdvdrip
Terminal=false
Type=Application
Categories=X-Multimedia-optical
GenericName=Pdvdrip
