[Desktop Entry]
Encoding=UTF-8
Name[de]=PeasyDisc optische Disc-Tools
Name[fr]=Outils pour disque optique : PeasyDisc
Name[es]=PeasyDisc: herramientas para discos ópticos
Name[af]=PeasyDisc optiese skyf gereedskap
Name[am]=PeasyDisc ኦፕቲካል ዲስክ መሳሪያዎች
Name[ar]=PeasyDisc ﻲﺋﻮﻀﻟﺍ ﺹﺮﻘﻟﺍ ﺕﺍﻭﺩﺃ
Name[as]=PeasyDisk অপটিকেল ডিস্ক সঁজুলিসমূহ
Name[ay]=PeasyDisc ukax disco óptico ukan yänakapawa
Name[az]=PeasyDisc optik disk alətləri
Name[ba]=PeasyDisc оптик диск ҡоралдары
Name[be]=Інструменты для аптычных дыскаў PeasyDisc
Name[bg]=Инструменти за оптичен диск PeasyDisc
Name[bm]=PeasyDis disiki optique baarakɛminɛnw
Name[bn]=PeasyDisc অপটিক্যাল ডিস্ক টুল
Name[bo]=སྲན་མའི་འོད་སྡེར་ཡོ་བྱད།
Name[bs]=PeasyDisc alati za optičke diskove
Name[ca]=Eines de disc òptic PeasyDisc
Name[co]=Strumenti di discu otticu PeasyDisc
Name[cs]=Nástroje pro optické disky PeasyDisc
Name[cy]=Offer disg optegol PeasyDisc
Name[da]=PeasyDisc optiske diskværktøjer
Name[dv]=ސްލްޓޫ ކްސްޑި ލްކަޓިޕްއޮ ކްސްޑިޒީޕީ
Name[ee]=PeasyDis optical disc dɔwɔnuwo
Name[el]=Εργαλεία οπτικού δίσκου PeasyDisc
Name[eo]=PeasyDisc-optikaj disko-iloj
Name[et]=PeasyDisci optiliste ketaste tööriistad
Name[eu]=PeasyDisc disko optikoko tresnak
Name[fa]=PeasyDisc ﯼﺭﻮﻧ ﮏﺴﯾﺩ ﯼﺎﻫﺭﺍﺰﺑﺍ
Name[fi]=PeasyDisc optiset levytyökalut
Name[fj]=iYaya ni disi ni PeasyDisc
Name[fo]=PeasyDisc optical disc amboð
Name[fy]=PeasyDisc optyske skiif ark
Name[ga]=Uirlisí diosca optúla PeasyDisc
Name[gd]=Innealan diosc optigeach PeasyDisc
Name[gl]=Ferramentas de disco óptico PeasyDisc
Name[gn]=PeasyDis tembipuru disco óptico rehegua
Name[gu]=PeasyDisc ઓપ્ટિકલ ડિસ્ક સાધનો
Name[ha]=PeasyDisc kayan aikin diski na gani
Name[he]=PeasyDisc לש יטפוא קסיד ילכ
Name[hi]=PeasyDisc ऑप्टिकल डिस्क उपकरण
Name[hr]=Alati za optičke diskove PeasyDisc
Name[ht]=Zouti disk optik PeasyDisc
Name[hu]=PeasyDisc optikai lemezes eszközök
Name[hy]=PeasyDisc օպտիկական սկավառակի գործիքներ
Name[id]=Alat cakram optik PeasyDisc
Name[ig]=Ngwa diski ngwa anya PeasyDisc
Name[is]=PeasyDisc sjóndiskaverkfæri
Name[it]=Strumenti per dischi ottici PeasyDisc
Name[iu]=ᐲᓯᑕᑭᐱᒃᑯᑦ ᕿᓪᓕᖅᑕᖅᑐᑦ
Name[ja]=PeasyDisc 光ディスク ツール
Name[jv]=Alat cakram optik PeasyDisc
Name[ka]=PeasyDisc ოპტიკური დისკის ხელსაწყოები
Name[kk]=PeasyDisc оптикалық диск құралдары
Name[km]=ឧបករណ៍ឌីសអុបទិក PeasyDisc
Name[kn]=PeasyDisc ಆಪ್ಟಿಕಲ್ ಡಿಸ್ಕ್ ಉಪಕರಣಗಳು
Name[ko]=PeasyDisc 광 디스크 도구
Name[ku]=Amûrên dîska optîkî ya PeasyDisc
Name[ky]=PeasyDisc оптикалык диск куралдары
Name[la]=PeasyDisc instrumenta optica discus
Name[lb]=PeasyDisc optesch Disc Tools
Name[lg]=Ebikozesebwa mu disiki ey’amaaso eya PeasyDis
Name[ln]=PeasyDisc bisaleli ya disque optique
Name[lo]=PeasyDisc ເຄື່ອງມື optical disc
Name[lt]=PeasyDisc optinių diskų įrankiai
Name[lv]=PeasyDisc optisko disku rīki
Name[mg]=Fitaovana kapila optika PeasyDisc
Name[mi]=PeasyDisc taputapu kōpae whatu
Name[mk]=Алатки за оптички диск PeasyDisc
Name[ml]=PeasyDisc ഒപ്റ്റിക്കൽ ഡിസ്ക് ടൂളുകൾ
Name[mn]=PeasyDisc оптик дискний хэрэгслүүд
Name[mr]=PeasyDisc ऑप्टिकल डिस्क साधने
Name[ms]=Alat cakera optik PeasyDisc
Name[mt]=Għodod tad-diska ottika PeasyDisc
Name[my]=PeasyDisc optical disc ကိရိယာများ
Name[ne]=PeasyDisc अप्टिकल डिस्क उपकरण
Name[nl]=PeasyDisc optische schijfhulpmiddelen
Name[no]=PeasyDisc optiske plateverktøy
Name[ny]=Zida za PeasyDisc Optical disc
Name[om]=Meeshaalee diskiin optikaalaa PeasyDis
Name[or]=PeasyDisc ଅପ୍ଟିକାଲ୍ ଡିସ୍କ ଉପକରଣଗୁଡ଼ିକ |
Name[pa]=PeasyDisc ਆਪਟੀਕਲ ਡਿਸਕ ਟੂਲ
Name[pl]=Narzędzia do dysków optycznych PeasyDisc
Name[ps]=ﺭﺍﺯﻭﺍ ﮏﺴﯾډ ﻞﮑﯿټﭘﺁ PeasyDisc ﺩ
Name[pt]=Ferramentas de disco ótico PeasyDisc
Name[qu]=PeasyDisc disco óptico nisqa llamkanakuna
Name[ro]=Instrumente de disc optice PeasyDisc
Name[ru]=Инструменты оптических дисков PeasyDisc
Name[rw]=Ibikoresho bya disiki ya PeasyDisc
Name[sa]=PeasyDisk ऑप्टिकल डिस्क उपकरण
Name[sd]=PeasyDisc ﺭﺍﺯﻭﺍ ﺎﺟ ڪﺳڊ ﻞڪﻴٽﭘﺁ
Name[si]=PeasyDisc දෘශ්u200dය තැටි මෙවලම්
Name[sk]=Nástroje optických diskov PeasyDisc
Name[sl]=Orodja za optične diske PeasyDisc
Name[sm]=PeasyDisc mea faigaluega tisiketi
Name[sn]=PeasyDisc optical disc zvishandiso
Name[so]=Qalabka saxanka indhaha ee PeasyDisc
Name[sq]=Veglat e diskut optik PeasyDisc
Name[st]=Lisebelisoa tsa PeasyDisc optical disc
Name[su]=Alat piringan optik PeasyDisc
Name[sv]=PeasyDisc verktyg för optiska skivor
Name[sw]=Zana za diski za macho za PeasyDisc
Name[ta]=PeasyDisc ஆப்டிகல் டிஸ்க் கருவிகள்
Name[te]=PeasyDisc ఆప్టికల్ డిస్క్ సాధనాలు
Name[tg]=Воситаҳои диски оптикии PeasyDisc
Name[th]=เครื่องมือออปติคัลดิสก์ PeasyDisc
Name[ti]=PeasyDisc ናይ ብርሃን ዲስክ መሳርሒታት
Name[tk]=PeasyDisc optiki disk gurallary
Name[tl]=Mga tool sa optical disc ng PeasyDisc
Name[to]=PeasyDisc e ngaahi meʻangaue ki he Tisi
Name[tr]=PeasyDisc optik disk araçları
Name[ts]=Switirhisiwa swa disiki ya mahlo ya PeasyDis
Name[tt]=PeasyDisc оптик диск кораллары
Name[tw]=PeasyDis optical disc nnwinnade
Name[ty]=PeasyDisc optical disc
Name[ug]=PeasyDisc ﻰﻟﺍﺭﻮﻗ ﺎﻜﺴﯦﺩ ﻚﯩﺘﭘﻮﺋ
Name[uk]=Інструменти для оптичних дисків PeasyDisc
Name[ur]=PeasyDisc ﺰﻟﻮﭨ ﮏﺳﮈ ﻞﮑﯿﭩﭘﺁ
Name[uz]=PeasyDisc optik disk vositalari
Name[vi]=Công cụ đĩa quang PeasyDisc
Name[xh]=Izixhobo zediski ze-PeasyDisc
Name[yi]=PeasyDisc םירישכמ קסיד שיטפּאָ
Name[yo]=PeasyDisc opitika disiki irinṣẹ
Name[zh]=PeasyDisc 光盘工具
Name[zu]=Amathuluzi e-PeasyDisc optical disc
Name=PeasyDisc optical disc tools
Icon=/usr/share/pixmaps/peasydisc.png
Comment[de]=PeasyDisc
Comment[fr]=PeasyDisc Utilitaires pour disque optique
Comment[es]=PeasyDisc: herramientas para discos ópticos
Comment[af]=PeasyDisc
Comment[am]=PeasyDisc
Comment[ar]=PeasyDisc
Comment[as]=PeasyDisc
Comment[ay]=PeasyDisc ukax mä juk’a pachanakanwa
Comment[az]=PeasyDisc
Comment[ba]=PeasyDisc
Comment[be]=PeasyDisc
Comment[bg]=PeasyDisc
Comment[bm]=PeasyDisc ka baara
Comment[bn]=PeasyDisc
Comment[bo]=PeasyDisc
Comment[bs]=PeasyDisc
Comment[ca]=PeasyDisc
Comment[co]=PeasyDisc
Comment[cs]=PeasyDisc
Comment[cy]=PeasyDisc
Comment[da]=PeasyDisc
Comment[dv]=ވެއެ ކްސްޑިސީޕީ
Comment[ee]=PeasyDisc ƒe agbalẽ
Comment[el]=PeasyDisc
Comment[eo]=PeasyDisc
Comment[et]=PeasyDisc
Comment[eu]=PeasyDisc
Comment[fa]=PeasyDisc
Comment[fi]=PeasyDisc
Comment[fj]=PeasyDisc
Comment[fo]=PeasyDisc
Comment[fy]=PeasyDisc
Comment[ga]=Diosca Piseanna
Comment[gd]=Diosca Peasaidh
Comment[gl]=PeasyDisc
Comment[gn]=PeasyDisc rehegua
Comment[gu]=PeasyDisc
Comment[ha]=PeasyDisc
Comment[he]=PeasyDisc
Comment[hi]=पीज़ीडिस्क
Comment[hr]=PeasyDisc
Comment[ht]=PeasyDisc
Comment[hu]=PeasyDisc
Comment[hy]=PeasyDisc
Comment[id]=PeasyDisc
Comment[ig]=PeasyDisc
Comment[is]=PeasyDisc
Comment[it]=PeasyDisc
Comment[iu]=ᐲᓯᑎ
Comment[ja]=ピージーディスク
Comment[jv]=PeasyDisc
Comment[ka]=PeasyDisc
Comment[kk]=PeasyDisc
Comment[km]=PeasyDisc
Comment[kn]=ಪೀಸಿ ಡಿಸ್ಕ್
Comment[ko]=피이지디스크
Comment[ku]=PeasyDisc
Comment[ky]=PeasyDisc
Comment[la]=PeasyDisc
Comment[lb]=PeasyDisc
Comment[lg]=PeasyDisc
Comment[ln]=PeasyDisc ya kosala
Comment[lo]=PeasyDisc
Comment[lt]=PeasyDisc
Comment[lv]=PeasyDisc
Comment[mg]=PeasyDisc
Comment[mi]=PeasyDisc
Comment[mk]=PeasyDisc
Comment[ml]=PeasyDisc
Comment[mn]=PeasyDisc
Comment[mr]=PeasyDisc
Comment[ms]=PeasyDisc
Comment[mt]=PeasyDisc
Comment[my]=PeasyDisc
Comment[ne]=PeasyDisc
Comment[nl]=PeasyDisc
Comment[no]=PeasyDisc
Comment[ny]=PeasyDisc
Comment[om]=PeasyDisc jedhamuun beekama
Comment[or]=PeasyDisc
Comment[pa]=PeasyDisc
Comment[pl]=PeasyDisc
Comment[ps]=PeasyDisc
Comment[pt]=PeasyDisc
Comment[qu]=PeasyDisc nisqa
Comment[ro]=PeasyDisc
Comment[ru]=PeasyDisc
Comment[rw]=Yamazaki
Comment[sa]=PeasyDisc
Comment[sd]=PeasyDisc
Comment[si]=PeasyDisc
Comment[sk]=PeasyDisc
Comment[sl]=PeasyDisc
Comment[sm]=PeasyDisc
Comment[sn]=PeasyDisc
Comment[so]=PeasyDisc
Comment[sq]=PeasyDisc
Comment[st]=PeasyDisc
Comment[su]=PeasyDisc
Comment[sv]=PeasyDisc
Comment[sw]=PeasyDisc
Comment[ta]=PeasyDisc
Comment[te]=PeasyDisc
Comment[tg]=PeasyDisc
Comment[th]=พีอีซี่ดิสก์
Comment[ti]=ፒሲዲስክ
Comment[tk]=PeasyDisc
Comment[tl]=PeasyDisc
Comment[to]=PeasyDisc
Comment[tr]=PeasyDisk
Comment[ts]=PeasyDisc ya Xitsonga
Comment[tt]=PeasyDisc
Comment[tw]=PeasyDisc na ɛyɛ adwuma
Comment[ty]=PeasyDisc
Comment[ug]=PeasyDisc
Comment[uk]=PeasyDisc
Comment[ur]=PeasyDisc
Comment[uz]=PeasyDisc
Comment[vi]=PeasyDisc
Comment[xh]=PeasyDisc
Comment[yi]=PeasyDisc
Comment[yo]=PeasyDisc
Comment[zh]=豌豆盘
Comment[zu]=I-PeasyDisc
Comment=PeasyDisc
Exec=peasydisc
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=PeasyDisc
