[Desktop Entry]
Encoding=UTF-8
Name[de]=PeasyGlue Image Joiner
Name[fr]=Colleur d'images : PeasyGlue
Name[es]=PeasyGlue: unir imágenes
Name[af]=PeasyGlue beeld aansluiter
Name[am]=PeasyGlue ምስል መጋጠሚያ
Name[ar]=PeasyGlue ﺓﺭﻮﺻ ﺭﺎﺠﻧ
Name[as]=PeasyGlue ইমেজ জইনাৰ
Name[ay]=PeasyGlue ukan uñacht’äwipa
Name[az]=PeasyGlue şəkil birləşdiricisi
Name[ba]=PeasyGlue һүрәтенә ҡушылыусы
Name[be]=Злучальнік малюнкаў PeasyGlue
Name[bg]=PeasyGlue съединител на изображения
Name[bm]=PeasyGlue ja faralen ɲɔgɔn kan
Name[bn]=PeasyGlue ইমেজ যোগদানকারী
Name[bo]=སྲན་མའི་སྤྱིན་ཆུ་ཡི་པར་རིས་མཉམ་འབྲེལ་བྱེད་མཁན།
Name[bs]=PeasyGlue slika stolar
Name[ca]=Fusionador dimatges PeasyGlue
Name[co]=PeasyGlue image joiner
Name[cs]=Truhlář obrázků PeasyGlue
Name[cy]=Asiedydd delwedd PeasyGlue
Name[da]=PeasyGlue billedsnedker
Name[dv]=ވެކެޗެއްއެ ރާކު ންއިޖޮ ޖްމޭއި ލޫގްޒީޕީ
Name[ee]=PeasyGlue nɔnɔmetata ƒe ƒuƒoƒo
Name[el]=Σύνδεσμος εικόνων PeasyGlue
Name[eo]=PeasyGlue bildkunigaĵo
Name[et]=PeasyGlue pilt tisler
Name[eu]=PeasyGlue irudien juntagailua
Name[fa]=PeasyGlue ﺮﯾﻮﺼﺗ ﻝﺎﺻﻭ
Name[fi]=PeasyGlue-kuvapuuseppä
Name[fj]=iYaloyalo ni PeasyGlue
Name[fo]=PeasyGlue image joiner
Name[fy]=PeasyGlue ôfbylding joiner
Name[ga]=Siúineoir íomhá PeasyGlue
Name[gd]=Ceangal ìomhaigh PeasyGlue
Name[gl]=Ensamblador de imaxes PeasyGlue
Name[gn]=PeasyGlue taꞌãngamýi joajuha
Name[gu]=PeasyGlue છબી જોડાનાર
Name[ha]=Hoton PeasyGlue
Name[he]=PeasyGlue לש הנומת ףרצמ
Name[hi]=PeasyGlue छवि योजक
Name[hr]=PeasyGlue spajanje slika
Name[ht]=PeasyGlue imaj joiner
Name[hu]=PeasyGlue kép asztalos
Name[hy]=PeasyGlue պատկերի միացնող սարք
Name[id]=Penggabung gambar PeasyGlue
Name[ig]=PeasyGlue oyiyi njikọ
Name[is]=PeasyGlue myndsmiður
Name[it]=Falegname di immagini PeasyGlue
Name[iu]=ᐲᓯᒋᓗ ᐊᔾᔩᑦ
Name[ja]=PeasyGlue 画像結合ツール
Name[jv]=Penyambung gambar PeasyGlue
Name[ka]=PeasyGlue გამოსახულების სადურგლო
Name[kk]=PeasyGlue кескінді біріктіргіш
Name[km]=ឧបករណ៍ភ្ជាប់រូបភាព PeasyGlue
Name[kn]=PeasyGlue ಇಮೇಜ್ ಸೇರಿಕೊಳ್ಳುವವರು
Name[ko]=PeasyGlue 이미지 조이너
Name[ku]=Hevkarê wêneyê PeasyGlue
Name[ky]=PeasyGlue сүрөтүн бириктиргич
Name[la]=PeasyGlue imaginem iungentis
Name[lb]=PeasyGlue Bildschneider
Name[lg]=PeasyGlue ekifaananyi ekigatta
Name[ln]=PeasyGlue mosangisi ya bilili
Name[lo]=ຕົວຕິດຮູບພາບ PeasyGlue
Name[lt]=PeasyGlue vaizdo stalius
Name[lv]=PeasyGlue attēlu galdnieks
Name[mg]=PeasyGlue image joiner
Name[mi]=Kaihono whakaahua PeasyGlue
Name[mk]=Здружувач на слики PeasyGlue
Name[ml]=PeasyGlue ഇമേജ് ജോയിനർ
Name[mn]=PeasyGlue зураг холбогч
Name[mr]=PeasyGlue प्रतिमा जॉइनर
Name[ms]=Penyambung imej PeasyGlue
Name[mt]=Jingħaqad immaġni PeasyGlue
Name[my]=PeasyGlue ဓါတ်ပုံ joiner
Name[ne]=PeasyGlue छवि योजक
Name[nl]=PeasyGlue afbeelding schrijnwerker
Name[no]=PeasyGlue bilde snekker
Name[ny]=Chithunzi cha PeasyGlue
Name[om]=Fakkii walitti hidhu PeasyGlue
Name[or]=PeasyGlue ପ୍ରତିଛବି ଯୋଗଦାନକାରୀ |
Name[pa]=PeasyGlue ਚਿੱਤਰ ਜੋੜਨ ਵਾਲਾ
Name[pl]=Łącznik obrazu PeasyGlue
Name[ps]=ﯽﮑﻧﻭﻮﮐ ﯼﺎځﻮﯾ ﺲﮑﻋ PeasyGlue ﺩ
Name[pt]=Marceneiro de imagem PeasyGlue
Name[qu]=PeasyGlue siqi huñuq
Name[ro]=Tamplar imagine PeasyGlue
Name[ru]=Соединитель изображений PeasyGlue
Name[rw]=PeasyGlue ishusho yifatanije
Name[sa]=PeasyGlue इमेज जोइनर
Name[sd]=PeasyGlue ﺮﻨﺋﺍﻮﺟ ﺮﻳﻮﺼﺗ
Name[si]=PeasyGlue රූප සම්බන්ධකය
Name[sk]=Stolár obrázkov PeasyGlue
Name[sl]=PeasyGlue povezovalnik slik
Name[sm]=PeasyGlue faapipii ata
Name[sn]=PeasyGlue mufananidzo joiner
Name[so]=Isku-xidhaha sawirka PeasyGlue
Name[sq]=Bashkues imazhi PeasyGlue
Name[st]=Sehokelo sa setšoantšo sa PeasyGlue
Name[su]=Penyambung gambar PeasyGlue
Name[sv]=PeasyGlue bildsnickare
Name[sw]=Kiunganishi cha picha ya PeasyGlue
Name[ta]=PeasyGlue பட இணைப்பான்
Name[te]=PeasyGlue ఇమేజ్ జాయినర్
Name[tg]=Пайвастгари тасвири PeasyGlue
Name[th]=ตัวเชื่อมรูปภาพ PeasyGlue
Name[ti]=PeasyGlue ምስሊ መተሓላለፊ
Name[tk]=PeasyGlue şekil birleşdirijisi
Name[tl]=PeasyGlue image joiner
Name[to]=PeasyGlue Image joiner
Name[tr]=PeasyGlue görüntü birleştirici
Name[ts]=Xihlanganisi xa swifaniso xa PeasyGlue
Name[tt]=PeasyGlue рәсем кушылучысы
Name[tw]=PeasyGlue mfonini a wɔde bom
Name[ty]=Hohoa no te mau hohoa Peni
Name[ug]=PeasyGlue ﭺﯘﻐﯩﻟﯘﺋ ﻢﯩﺳەﺭ
Name[uk]=Зєднувач зображень PeasyGlue
Name[ur]=PeasyGlue ﺮﻨﺋﺍﻮﺟ ﺞﯿﻣﺍ
Name[uz]=PeasyGlue tasvirni birlashtiruvchi
Name[vi]=Trình ghép ảnh PeasyGlue
Name[xh]=PeasyGlue umfanekiso joiner
Name[yi]=PeasyGlue רעניושזד דליב
Name[yo]=PeasyGlue aworan parapo
Name[zh]=PeasyGlue 图像连接器
Name[zu]=Isihlanganisi sesithombe se-PeasyGlue
Name=PeasyGlue image joiner
Icon=/usr/share/pixmaps/peasyglue48.png
Comment[de]=Bild-Joiner
Comment[es]=PeasyGlue: unir imágenes
Comment[af]=Beeld joiner
Comment[am]=የምስል መቀላቀል
Comment[ar]=ﺓﺭﻮﺼﻟﺍ ﺭﺎﺠﻧ
Comment[as]=ইমেজ জইনাৰ
Comment[ay]=Imagen joiner ukax mä jach’a uñacht’äwiwa
Comment[az]=Şəkil birləşdiricisi
Comment[ba]=Һүрәткә ҡушылыусы
Comment[be]=Злучальнік малюнкаў
Comment[bg]=Съединител на изображения
Comment[bm]=Jaw faralen ɲɔgɔn kan
Comment[bn]=ইমেজ যোগদানকারী
Comment[bo]=པར་རིས་མཉམ་འབྲེལ་བྱེད་མཁན།
Comment[bs]=Image joiner
Comment[ca]=Fusteria dimatge
Comment[co]=Cumpagnia di limaghjini
Comment[cs]=Truhlář obrázků
Comment[cy]=Saer delwedd
Comment[da]=Billedsnedker
Comment[dv]=ހާމީ ރާކު ންއިޖޮ ޖްމޭއި
Comment[ee]=Nɔnɔmetatawo ƒe ƒuƒoƒo
Comment[el]=Σύνδεσμος εικόνων
Comment[eo]=Bilda kunigilo
Comment[et]=Pildi tisler
Comment[eu]=Irudi juntagailua
Comment[fa]=ﺮﯾﻮﺼﺗ ﻝﺎﺻﻭ
Comment[fi]=Kuvapuuseppä
Comment[fj]=iSema ni iyaloyalo
Comment[fo]=Image joiner
Comment[fr]=Jointure dimages
Comment[fy]=Image joiner
Comment[ga]=Seangóir íomhá
Comment[gd]=Neach-togail dhealbhan
Comment[gl]=Carpinteiro de imaxes
Comment[gn]=Taꞌãngamýi joajuha
Comment[gu]=છબી જોડનાર
Comment[ha]=Mai haɗa hoto
Comment[he]=הנומת ףרצמ
Comment[hi]=छवि योजक
Comment[hr]=Spajanje slika
Comment[ht]=Image joiner
Comment[hu]=Kép asztalos
Comment[hy]=Պատկերի միացում
Comment[id]=Penyambung gambar
Comment[ig]=Ihe ntinye onyonyo
Comment[is]=Myndasmiður
Comment[it]=Falegname di immagini
Comment[iu]=ᐊᔾᔩᑦ
Comment[ja]=画像結合者
Comment[jv]=Penggabung gambar
Comment[ka]=გამოსახულების დამაკავშირებელი
Comment[kk]=Кескінді біріктіруші
Comment[km]=ឧបករណ៍ភ្ជាប់រូបភាព
Comment[kn]=ಚಿತ್ರ ಸೇರ್ಪಡೆ
Comment[ko]=이미지 조이너
Comment[ku]=Hevkarê wêneyê
Comment[ky]=Сүрөт бириктиргич
Comment[la]=Imago iungentis
Comment[lb]=Bild Joint
Comment[lg]=Ekifaananyi ekigatta
Comment[ln]=Mosangisi ya bilili
Comment[lo]=ຜູ້ປະກອບຮູບພາບ
Comment[lt]=Vaizdo stalius
Comment[lv]=Attēlu galdnieks
Comment[mg]=Mpakambana sary
Comment[mi]=Kaihono whakaahua
Comment[mk]=Спојувач на слики
Comment[ml]=ഇമേജ് ജോയിനർ
Comment[mn]=Зураг холбогч
Comment[mr]=प्रतिमा जोडणारा
Comment[ms]=Penyambung imej
Comment[mt]=Jingħaqad immaġni
Comment[my]=ပုံသဏ္ဍာန် ချိတ်ဆွဲသူ
Comment[ne]=छवि जोड्ने
Comment[nl]=Afbeelding schrijnwerker
Comment[no]=Bilde snekker
Comment[ny]=Chithunzi chojowina
Comment[om]=Fakkii walitti makuu
Comment[or]=ପ୍ରତିଛବି ଯୋଗଦାନକାରୀ |
Comment[pa]=ਚਿੱਤਰ ਜੋੜਨ ਵਾਲਾ
Comment[pl]=Łącznik obrazu
Comment[ps]=ﯽﮑﻧﻭﻮﮐ ﯼﺎځﻮﯾ ﺭﻮځﻧﺍ ﺩ
Comment[pt]=Marceneiro de imagem
Comment[qu]=Imahina huñuq
Comment[ro]=Tamplar imagine
Comment[ru]=Объединение изображений
Comment[rw]=Ishusho
Comment[sa]=बिम्बसंयोजकः
Comment[sd]=ڙﺪﻨﻳڙﻮﺟ ﺮﻳﻮﺼﺗ
Comment[si]=රූප සම්බන්ධකය
Comment[sk]=Spájač obrázkov
Comment[sl]=Spojilec slik
Comment[sm]=Faapipii ata
Comment[sn]=Image joiner
Comment[so]=Ku biiriyaha sawirka
Comment[sq]=Bashkues imazhi
Comment[st]=Sekopanyi sa setšoantšo
Comment[su]=Panyambung gambar
Comment[sv]=Bildsnickare
Comment[sw]=Kiunganishi cha picha
Comment[ta]=பட இணைப்பான்
Comment[te]=చిత్రం జాయినర్
Comment[tg]=Ҷойгиркунандаи тасвир
Comment[th]=ช่างเชื่อมภาพ
Comment[ti]=ምስሊ ምጽንባር
Comment[tk]=Surat birleşdiriji
Comment[tl]=Tagasama ng larawan
Comment[to]=ʻImisi joiner
Comment[tr]=görüntü birleştirici
Comment[ts]=Muhlanganisi wa swifaniso
Comment[tt]=Рәсем кушылучы
Comment[tw]=Mfonini joiner
Comment[ty]=Taata ao ia au i te anairaa piapa
Comment[ug]=ﻰﭼﯘﻘﺷﻮﻗ ﻢﯩﺳەﺭ
Comment[uk]=Зєднувач зображень
Comment[ur]=ﻻ﻿ﺍﻭ ﮯﻧﮌﻮﺟ ﺮﯾﻮﺼﺗ
Comment[uz]=Tasvirni birlashtiruvchi
Comment[vi]=nối hình ảnh
Comment[xh]=Isidibanisi somfanekiso
Comment[yi]=רעניושזד דליב
Comment[yo]=Aworan parapo
Comment[zh]=图像连接器
Comment[zu]=Isijoyini sesithombe
Comment=Image joiner
Exec=peasyglue
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=PeasyGlue
