[Desktop Entry]
Encoding=UTF-8
Name[de]=pFind Dateifinder
Name[fr]=Rechercher des fichiers : Pfind
Name[es]=pFind: buscar archivos
Name[af]=pFind lêer finder
Name[am]=pFind ፋይል ፈላጊ
Name[ar]=pFind ﻒﻠﻣ ﻦﻋ ﺚﺣﺎﺒﻟﺍ
Name[as]=pফাইণ্ড বিচাৰি উলিওৱা
Name[ay]=pArchivo thaqhiri jikxataña
Name[az]=pFind fayl tapıcı
Name[ba]=pFind файлын табыусы
Name[be]=Пошук файлаў pFind
Name[bg]=pFind търсач на файлове
Name[bm]=pFind filen ɲininikɛla
Name[bn]=পিফাইন্ড ফাইল ফাইন্ডার
Name[bo]=pFind ཡིག་ཆ་འཚོལ་མཁན།
Name[bs]=pFind file finder
Name[ca]=pFind cercador de fitxers
Name[co]=pFind finder file finder
Name[cs]=pFind vyhledávač souborů
Name[cy]=Darganfyddwr ffeil pFind
Name[da]=pFind filfinder
Name[dv]=pންދުހޯ ލްއިފަ ޑްންއިފަ
Name[ee]=pDi faɛl didi ƒe mɔ̃
Name[el]=pFind Εύρεση αρχείων
Name[eo]=pTrovu dosiero-trovilon
Name[et]=pFind failiotsija
Name[eu]=pAurkitu fitxategien bilatzailea
Name[fa]=pFind ﺏﺎﯾ ﻞﯾﺎﻓ
Name[fi]=pFind-tiedostojen etsijä
Name[fj]=pFind faile finder
Name[fo]=pFind file finder
Name[fy]=pFind triem finder
Name[ga]=Aimsitheoir comhaid pFind
Name[gd]=pFind lorgar faidhle
Name[gl]=pFind buscador de ficheiros
Name[gn]=pEheka archivo jehekaha
Name[gu]=pFind ફાઇલ શોધક
Name[ha]=pFind fayil manemin
Name[he]=pFind םיצבק רתאמ
Name[hi]=फ़ाइल खोजक ढूंढें
Name[hr]=pFind tražilica datoteka
Name[ht]=pFind jwenn dosye
Name[hu]=pFind fájlkereső
Name[hy]=pFind ֆայլի որոնիչ
Name[id]=pFind pencari file
Name[ig]=pFind faịlụ chọta
Name[is]=pFind skráaleitaraðila
Name[it]=pFind cercatore di file
Name[iu]=ᑎᑎᖅᑲᒃᑯᕕᐊᓂ ᓇᓂᓯᔾᔪᑎ
Name[ja]=pFind ファイルファインダー
Name[jv]=pFind file finder
Name[ka]=pFind ფაილის პოვნა
Name[kk]=pFind файл іздеу құралы
Name[km]=កម្មវិធីស្វែងរកឯកសារ pFind
Name[kn]=pFind ಫೈಲ್ ಫೈಂಡರ್
Name[ko]=pFind 파일 찾기
Name[ku]=pelê bibîne pFind
Name[ky]=pFind файл тапкыч
Name[la]=pFind file inventoris
Name[lb]=pFind Dateifinder
Name[lg]=pFuna omunoonya fayiro
Name[ln]=pBoluka moluki ya ba fichiers
Name[lo]=pFind ຊອກຫາໄຟລ໌
Name[lt]=pFind failų ieškiklis
Name[lv]=pFind failu meklētājs
Name[mg]=pFind fichier
Name[mi]=pKimihia te kairapu konae
Name[mk]=pFind Пронаоѓач на датотеки
Name[ml]=pFind ഫയൽ ഫൈൻഡർ
Name[mn]=pFind файл хайгч
Name[mr]=pFind फाइल शोधक
Name[ms]=pCari pencari fail
Name[mt]=pFind finder fajl
Name[my]=pFind ဖိုင်ရှာဖွေသူ
Name[ne]=pFind फाइल खोजकर्ता
Name[nl]=pFind bestandszoeker
Name[no]=pFind filsøker
Name[ny]=pFind file finder
Name[om]=pFaayilii barbaadi
Name[or]=ଫାଇଲ୍ ସନ୍ଧାନକାରୀ ଖୋଜ |
Name[pa]=pFind ਫਾਈਲ ਖੋਜਕ
Name[pl]=Wyszukiwarka plików pFind
Name[ps]=pFind ﯽﮑﻧﻭﺪﻧﻮﻣ ﻞﯾﺎﻓ
Name[pt]=Localizador de ficheiros pFind
Name[qu]=pWillakuy maskaq maskay
Name[ro]=pFind găsitor de fișiere
Name[ru]=поиск файлов pНайти
Name[rw]=Shakisha dosiye
Name[sa]=pसञ्चिका अन्वेषकं अन्वेष्टुम्
Name[sd]=pFind ڙﺪﻨﻴﻟﻮﮘ ﻞﺋﺎﻓ
Name[si]=pFind ගොනු සොයන්නා
Name[sk]=pFind vyhľadávač súborov
Name[sl]=pFind iskalnik datotek
Name[sm]=pSue faila faila
Name[sn]=pFind file finder
Name[so]=pFind faylka raadiyaha
Name[sq]=pFind gjetës skedari
Name[st]=pFind file finder
Name[su]=pFind file finder
Name[sv]=pFind filsökare
Name[sw]=pFind kitafuta faili
Name[ta]=pFind கோப்பு கண்டுபிடிப்பான்
Name[te]=pFind ఫైల్ ఫైండర్
Name[tg]=Пайдокунандаи файли pFind
Name[th]=โปรแกรมค้นหาไฟล์ pFind
Name[ti]=pፋይን ፋይንደር ረኸብ
Name[tk]=faýl tapyjy
Name[tl]=pFind file finder
Name[to]=pFind ʻo e faile
Name[tr]=pFind dosya bulucu
Name[ts]=pKu kuma xikumi xa fayili
Name[tt]=pFind файл табучы
Name[tw]=pHwehwɛ fael hwehwɛfo
Name[ty]=pFind file finder
Name[ug]=ﻰﭼﯜﮕﯨﺩﺰﯩﺋ ﺕەﺠﺟﯚﮬ
Name[uk]=Пошук файлів pFind
Name[ur]=pFind ﺭﮉﻨﺋﺎﻓ ﻞﺋﺎﻓ
Name[uz]=pFind fayl qidiruvi
Name[vi]=công cụ tìm tệp pFind
Name[xh]=pFumana umfumani wefayile
Name[yi]=pFind רעטסעמ עקעט
Name[yo]=pFind faili Oluwari
Name[zh]=pFind 文件查找器
Name[zu]=pThola isitholi sefayela
Name=pFind file finder
Icon=/usr/share/pixmaps/puppy/find.svg
Comment[de]=pFind Dateifinder
Comment[es]=pFind: buscar archivos
Comment[af]=pFind lêer finder
Comment[am]=pFind ፋይል ፈላጊ
Comment[ar]=pFind ﻒﻠﻣ ﻦﻋ ﺚﺣﺎﺒﻟﺍ
Comment[as]=pফাইণ্ড বিচাৰি উলিওৱা
Comment[ay]=pArchivo thaqhiri jikxataña
Comment[az]=pFind fayl tapıcı
Comment[ba]=pFind файлын табыусы
Comment[be]=Пошук файлаў pFind
Comment[bg]=pFind търсач на файлове
Comment[bm]=pFind filen ɲininikɛla
Comment[bn]=পিফাইন্ড ফাইল ফাইন্ডার
Comment[bo]=pFind ཡིག་ཆ་འཚོལ་མཁན།
Comment[bs]=pFind file finder
Comment[ca]=pFind cercador de fitxers
Comment[co]=pFind finder file finder
Comment[cs]=pFind vyhledávač souborů
Comment[cy]=Darganfyddwr ffeil pFind
Comment[da]=pFind filfinder
Comment[dv]=pންދުހޯ ލްއިފަ ޑްންއިފަ
Comment[ee]=pDi faɛl didi ƒe mɔ̃
Comment[el]=pFind Εύρεση αρχείων
Comment[eo]=pTrovu dosiero-trovilon
Comment[et]=pFind failiotsija
Comment[eu]=pAurkitu fitxategien bilatzailea
Comment[fa]=pFind ﺏﺎﯾ ﻞﯾﺎﻓ
Comment[fi]=pFind-tiedostojen etsijä
Comment[fj]=pFind faile finder
Comment[fo]=pFind file finder
Comment[fr]=pFind recherche de fichiers
Comment[fy]=pFind triem finder
Comment[ga]=Aimsitheoir comhaid pFind
Comment[gd]=pFind lorgar faidhle
Comment[gl]=pFind buscador de ficheiros
Comment[gn]=pEheka archivo jehekaha
Comment[gu]=pFind ફાઇલ શોધક
Comment[ha]=pFind fayil manemin
Comment[he]=pFind םיצבק רתאמ
Comment[hi]=फ़ाइल खोजक ढूंढें
Comment[hr]=pFind tražilica datoteka
Comment[ht]=pFind jwenn dosye
Comment[hu]=pFind fájlkereső
Comment[hy]=pFind ֆայլի որոնիչ
Comment[id]=pFind pencari file
Comment[ig]=pFind faịlụ chọta
Comment[is]=pFind skráaleitaraðila
Comment[it]=pFind cercatore di file
Comment[iu]=ᑎᑎᖅᑲᒃᑯᕕᐊᓂ ᓇᓂᓯᔾᔪᑎ
Comment[ja]=pFind ファイルファインダー
Comment[jv]=pFind file finder
Comment[ka]=pFind ფაილის პოვნა
Comment[kk]=pFind файл іздеу құралы
Comment[km]=កម្មវិធីស្វែងរកឯកសារ pFind
Comment[kn]=pFind ಫೈಲ್ ಫೈಂಡರ್
Comment[ko]=pFind 파일 찾기
Comment[ku]=pelê bibîne pFind
Comment[ky]=pFind файл тапкыч
Comment[la]=pFind file inventoris
Comment[lb]=pFind Dateifinder
Comment[lg]=pFuna omunoonya fayiro
Comment[ln]=pBoluka moluki ya ba fichiers
Comment[lo]=pFind ຊອກຫາໄຟລ໌
Comment[lt]=pFind failų ieškiklis
Comment[lv]=pFind failu meklētājs
Comment[mg]=pFind fichier
Comment[mi]=pKimihia te kairapu konae
Comment[mk]=pFind Пронаоѓач на датотеки
Comment[ml]=pFind ഫയൽ ഫൈൻഡർ
Comment[mn]=pFind файл хайгч
Comment[mr]=pFind फाइल शोधक
Comment[ms]=pCari pencari fail
Comment[mt]=pFind finder fajl
Comment[my]=pFind ဖိုင်ရှာဖွေသူ
Comment[ne]=pFind फाइल खोजकर्ता
Comment[nl]=pFind bestandszoeker
Comment[no]=pFind filsøker
Comment[ny]=pFind file finder
Comment[om]=pFaayilii barbaadi
Comment[or]=ଫାଇଲ୍ ସନ୍ଧାନକାରୀ ଖୋଜ |
Comment[pa]=pFind ਫਾਈਲ ਖੋਜਕ
Comment[pl]=Wyszukiwarka plików pFind
Comment[ps]=pFind ﯽﮑﻧﻭﺪﻧﻮﻣ ﻞﯾﺎﻓ
Comment[pt]=Localizador de ficheiros pFind
Comment[qu]=pWillakuy maskaq maskay
Comment[ro]=pFind găsitor de fișiere
Comment[ru]=поиск файлов pНайти
Comment[rw]=Shakisha dosiye
Comment[sa]=pसञ्चिका अन्वेषकं अन्वेष्टुम्
Comment[sd]=pFind ڙﺪﻨﻴﻟﻮﮘ ﻞﺋﺎﻓ
Comment[si]=pFind ගොනු සොයන්නා
Comment[sk]=pFind vyhľadávač súborov
Comment[sl]=pFind iskalnik datotek
Comment[sm]=pSue faila faila
Comment[sn]=pFind file finder
Comment[so]=pFind faylka raadiyaha
Comment[sq]=pFind gjetës skedari
Comment[st]=pFind file finder
Comment[su]=pFind file finder
Comment[sv]=pFind filsökare
Comment[sw]=pFind kitafuta faili
Comment[ta]=pFind கோப்பு கண்டுபிடிப்பான்
Comment[te]=pFind ఫైల్ ఫైండర్
Comment[tg]=Пайдокунандаи файли pFind
Comment[th]=โปรแกรมค้นหาไฟล์ pFind
Comment[ti]=pፋይን ፋይንደር ረኸብ
Comment[tk]=faýl tapyjy
Comment[tl]=pFind file finder
Comment[to]=pFind ʻo e faile
Comment[tr]=pFind dosya bulucu
Comment[ts]=pKu kuma xikumi xa fayili
Comment[tt]=pFind файл табучы
Comment[tw]=pHwehwɛ fael hwehwɛfo
Comment[ty]=pFind file finder
Comment[ug]=ﻰﭼﯜﮕﯨﺩﺰﯩﺋ ﺕەﺠﺟﯚﮬ
Comment[uk]=Пошук файлів pFind
Comment[ur]=pFind ﺭﮉﻨﺋﺎﻓ ﻞﺋﺎﻓ
Comment[uz]=pFind fayl qidiruvi
Comment[vi]=công cụ tìm tệp pFind
Comment[xh]=pFumana umfumani wefayile
Comment[yi]=pFind רעטסעמ עקעט
Comment[yo]=pFind faili Oluwari
Comment[zh]=pFind 文件查找器
Comment[zu]=pThola isitholi sefayela
Comment=pFind file finder
Exec=pfind
Terminal=false
Type=Application
Categories=X-Filesystem-find
GenericName=Pfind file finder
