[Desktop Entry]
Encoding=UTF-8
Name[de]=Pprocess-Prozessmanager
Name[af]=Pproses prosesbestuurder
Name[am]=የሂደቱ ሂደት አስተዳዳሪ
Name[ar]=Pprocess ﺕﺎﻴﻠﻤﻋ ﺮﻳﺪﻣ
Name[as]=Pprocess প্ৰক্ৰিয়া ব্যৱস্থাপক
Name[ay]=Pproceso lurawi apnaqiri
Name[az]=Proses meneceri
Name[ba]=Ппроцесс процесы менән идара итеүсе
Name[be]=Менеджэр працэсаў Pprocess
Name[bg]=Pprocess мениджър на процеси
Name[bm]=Pprocess taabolo ɲɛmɔgɔ
Name[bn]=প্রসেস প্রসেস ম্যানেজার
Name[bo]=ལས་སྣོན་བཟོ་རྩལ་སྤྱི་གཉེར་བ།
Name[bs]=Pprocesni menadžer
Name[ca]=Gestor de processos p
Name[co]=Pgestore di prucessu di prucessu
Name[cs]=Manažer procesu Pprocess
Name[cy]=Rheolwr proses Pprocess
Name[da]=Pprocess procesleder
Name[dv]=ރޖަނޭމެ ސްސެރޮޕް ސްސެރޮޕްޕީ
Name[ee]=Pprocess ƒe ɖoɖodzikpɔla
Name[el]=Διαχειριστής διαδικασίας
Name[eo]=Pproceza procezmanaĝero
Name[et]=Pprotsessi protsessijuht
Name[eu]=Pprozesuen prozesuen kudeatzailea
Name[fa]=ﺪﻨﯾﺁﺮﻓ ﺪﻨﯾﺁﺮﻓ ﺮﯾﺪﻣ
Name[fi]=Pprosessin prosessinhallinta
Name[fj]=Manidia ni iwalewale ni Pprocess
Name[fo]=Pprocess process manager
Name[fy]=Pprocess proses manager
Name[ga]=Bainisteoir próisis pprocess
Name[gd]=Manaidsear pròiseas pprocess
Name[gl]=Pxestor de procesos
Name[gn]=Pproceso proceso rehegua mohendaha
Name[gu]=પ્રોસેસ પ્રોસેસ મેનેજર
Name[ha]=Mai sarrafa tsari
Name[he]=Pprocess יכילהת להנמ
Name[hi]=पीप्रक्रिया प्रक्रिया प्रबंधक
Name[hr]=Pprocess upravitelj procesa
Name[ht]=Manadjè pwosesis pwosesis la
Name[hu]=Pprocess folyamatkezelő
Name[hy]=Գործընթացի կառավարիչ
Name[id]=Manajer proses pproses
Name[ig]=Onye njikwa usoro
Name[is]=Ferlastjóri Pprocess
Name[it]=Responsabile del processo Pprocess
Name[iu]=2013-2014
Name[jv]=Manajer proses P
Name[ka]=პროცესის მენეჯერი
Name[kk]=Pprocess процесс менеджері
Name[km]=កម្មវិធីគ្រប់គ្រងដំណើរការ
Name[kn]=ಪ್ರಕ್ರಿಯೆ ಪ್ರಕ್ರಿಯೆ ನಿರ್ವಾಹಕ
Name[ko]=Pprocess 프로세스 관리자
Name[ku]=Rêveberê pêvajoya pêvajoyê
Name[ky]=Процесс процессинин менеджери
Name[la]=Pprocess processus procurator
Name[lb]=Pprocess Prozess Manager
Name[lg]=Omuddukanya enkola ya Pprocess
Name[ln]=Mokambi ya mosala ya Pprocess
Name[lo]=ຜູ້ຈັດການຂະບວນການ
Name[lt]=Pproceso proceso vadovas
Name[lv]=Pprocess procesa vadītājs
Name[mg]=Mpitantana ny processeur
Name[mi]=Kaiwhakahaere tukanga Pprocess
Name[mk]=Процесен менаџер на процеси
Name[ml]=പ്രോസസ് പ്രോസസ് മാനേജർ
Name[mn]=Процессын менежер
Name[mr]=प्रक्रिया प्रक्रिया व्यवस्थापक
Name[ms]=Pengurus proses Pproses
Name[mt]=Maniġer tal-proċess tal-Pprocess
Name[my]=လုပ်ငန်းစဉ် လုပ်ငန်းစဉ်မန်နေဂျာ
Name[ne]=प्रक्रिया प्रक्रिया प्रबन्धक
Name[nl]=Pproces procesmanager
Name[no]=Pprosess prosessleder
Name[ny]=Njira woyanganira ndondomeko
Name[om]=Hogganaa adeemsa adeemsaa
Name[or]=ପ୍ରୋସେସ୍ ପ୍ରୋସେସ୍ ମ୍ୟାନେଜର୍ |
Name[pa]=ਪ੍ਰੋਸੈਸ ਪ੍ਰਕਿਰਿਆ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer procesów Pprocess
Name[ps]=ﺮﯾﺪﻣ ﯥﺳﻭﺮﭘ ﯥﺳﻭﺮﭘ ﺩ
Name[pt]=Gestor de processos Pprocess
Name[qu]=Pproceso ruway kamachiq
Name[ro]=P manager de proces
Name[ru]=Менеджер процессов Pprocess
Name[rw]=Umuyobozi wibikorwa
Name[sa]=Pprocess प्रक्रिया प्रबन्धक
Name[sd]=ﺮﺠﻴﻨﻴﻣ ﺲﻴﺳﻭﺮﭘ ﺲﻴﺳﻭﺮﭘ
Name[si]=ක්u200dරියාවලි ක්u200dරියාවලි කළමනාකරු
Name[sk]=Manažér procesov P
Name[sl]=Upravitelj procesa Pprocess
Name[sm]=Pprocess process manager
Name[sn]=Process process manager
Name[so]=Maamulaha habsocodka
Name[sq]=Menaxheri i procesit të procesit
Name[st]=Tsamaiso ea tsebetso ea tsebetso
Name[su]=Manajer prosés Pprosés
Name[sv]=Pprocess processledare
Name[sw]=Msimamizi wa mchakato wa mchakato
Name[ta]=செயல்முறை செயல்முறை மேலாளர்
Name[te]=ప్రాసెస్ ప్రాసెస్ మేనేజర్
Name[tg]=Менеҷери равандҳои Pprocess
Name[th]=ผู้จัดการกระบวนการ Pprocess
Name[ti]=Pprocess መስርሕ ኣካያዲ
Name[tk]=Proses prosesi dolandyryjysy
Name[tl]=Tagapamahala ng proseso ng proseso
Name[to]=Pule ki he founga ngaue ʻa e Pprocess
Name[tr]=Pprocess süreç yöneticisi
Name[ts]=Mufambisi wa phurosese ya Pprocess
Name[tt]=Процесс процессы менеджеры
Name[tw]=Pprocess nhyehyɛe sohwɛfo
Name[ty]=Taata faatere i te ohipa hamaniraa hohoa
Name[ug]=ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻰﻧﺎﻳﺭەﺟ ﺵەﻠﺸﯩﺋ ﭖﻼ﻿ﻘﯩﺸﺸﯩﭘ
Name[uk]=Pprocess менеджер процесів
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﺲﯿﺳﻭﺮﭘ ﺲﯿﺳﻭﺮﭘ
Name[uz]=Pprocess jarayoni menejeri
Name[vi]=Trình quản lý quy trình P process
Name[xh]=Inkqubo yomphathi wenkqubo
Name[yi]=רעטלאַווראַפ סעצאָרפּ סעסאָרפּפּ
Name[yo]=Alakoso ilana ilana
Name[zh]=Pprocess流程管理器
Name[zu]=Umphathi wenqubo yokucubungula
Name=Pprocess process manager
Name[es]=Pprocess-Administrador de Procesos
Name[fr]=Gestion des processus
Name[hu_HU]=Pprocess folyamatkezelő
Name[ja]=Pprocess プロセスの管理
Name[zh_CN]=Pprocess 进程管理器
Icon=mini-run.xpm
Comment[de]=Pprocess-Prozessmanager
Comment[af]=Pproses prosesbestuurder
Comment[am]=የሂደቱ ሂደት አስተዳዳሪ
Comment[ar]=Pprocess ﺕﺎﻴﻠﻤﻋ ﺮﻳﺪﻣ
Comment[as]=Pprocess প্ৰক্ৰিয়া ব্যৱস্থাপক
Comment[ay]=Pproceso lurawi apnaqiri
Comment[az]=Proses meneceri
Comment[ba]=Ппроцесс процесы менән идара итеүсе
Comment[be]=Менеджэр працэсаў Pprocess
Comment[bg]=Pprocess мениджър на процеси
Comment[bm]=Pprocess taabolo ɲɛmɔgɔ
Comment[bn]=প্রসেস প্রসেস ম্যানেজার
Comment[bo]=ལས་སྣོན་བཟོ་རྩལ་སྤྱི་གཉེར་བ།
Comment[bs]=Pprocesni menadžer
Comment[ca]=Gestor de processos p
Comment[co]=Pgestore di prucessu di prucessu
Comment[cs]=Manažer procesu Pprocess
Comment[cy]=Rheolwr proses Pprocess
Comment[da]=Pprocess procesleder
Comment[dv]=ރޖަނޭމެ ސްސެރޮޕް ސްސެރޮޕްޕީ
Comment[ee]=Pprocess ƒe ɖoɖodzikpɔla
Comment[el]=Διαχειριστής διαδικασίας
Comment[eo]=Pproceza procezmanaĝero
Comment[es]=gerente de procesos pprocess
Comment[et]=Pprotsessi protsessijuht
Comment[eu]=Pprozesuen prozesuen kudeatzailea
Comment[fa]=ﺪﻨﯾﺁﺮﻓ ﺪﻨﯾﺁﺮﻓ ﺮﯾﺪﻣ
Comment[fi]=Pprosessin prosessinhallinta
Comment[fj]=Manidia ni iwalewale ni Pprocess
Comment[fo]=Pprocess process manager
Comment[fr]=Responsable de processus Pprocess
Comment[fy]=Pprocess proses manager
Comment[ga]=Bainisteoir próisis pprocess
Comment[gd]=Manaidsear pròiseas pprocess
Comment[gl]=Pxestor de procesos
Comment[gn]=Pproceso proceso rehegua mohendaha
Comment[gu]=પ્રોસેસ પ્રોસેસ મેનેજર
Comment[ha]=Mai sarrafa tsari
Comment[he]=Pprocess יכילהת להנמ
Comment[hi]=पीप्रक्रिया प्रक्रिया प्रबंधक
Comment[hr]=Pprocess upravitelj procesa
Comment[ht]=Manadjè pwosesis pwosesis la
Comment[hu]=Pprocess folyamatkezelő
Comment[hy]=Գործընթացի կառավարիչ
Comment[id]=Manajer proses pproses
Comment[ig]=Onye njikwa usoro
Comment[is]=Ferlastjóri Pprocess
Comment[it]=Responsabile del processo Pprocess
Comment[iu]=2013-2014
Comment[ja]=Pprocessプロセスマネージャー
Comment[jv]=Manajer proses P
Comment[ka]=პროცესის მენეჯერი
Comment[kk]=Pprocess процесс менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងដំណើរការ
Comment[kn]=ಪ್ರಕ್ರಿಯೆ ಪ್ರಕ್ರಿಯೆ ನಿರ್ವಾಹಕ
Comment[ko]=Pprocess 프로세스 관리자
Comment[ku]=Rêveberê pêvajoya pêvajoyê
Comment[ky]=Процесс процессинин менеджери
Comment[la]=Pprocess processus procurator
Comment[lb]=Pprocess Prozess Manager
Comment[lg]=Omuddukanya enkola ya Pprocess
Comment[ln]=Mokambi ya mosala ya Pprocess
Comment[lo]=ຜູ້ຈັດການຂະບວນການ
Comment[lt]=Pproceso proceso vadovas
Comment[lv]=Pprocess procesa vadītājs
Comment[mg]=Mpitantana ny processeur
Comment[mi]=Kaiwhakahaere tukanga Pprocess
Comment[mk]=Процесен менаџер на процеси
Comment[ml]=പ്രോസസ് പ്രോസസ് മാനേജർ
Comment[mn]=Процессын менежер
Comment[mr]=प्रक्रिया प्रक्रिया व्यवस्थापक
Comment[ms]=Pengurus proses Pproses
Comment[mt]=Maniġer tal-proċess tal-Pprocess
Comment[my]=လုပ်ငန်းစဉ် လုပ်ငန်းစဉ်မန်နေဂျာ
Comment[ne]=प्रक्रिया प्रक्रिया प्रबन्धक
Comment[nl]=Pproces procesmanager
Comment[no]=Pprosess prosessleder
Comment[ny]=Njira woyanganira ndondomeko
Comment[om]=Hogganaa adeemsa adeemsaa
Comment[or]=ପ୍ରୋସେସ୍ ପ୍ରୋସେସ୍ ମ୍ୟାନେଜର୍ |
Comment[pa]=ਪ੍ਰੋਸੈਸ ਪ੍ਰਕਿਰਿਆ ਪ੍ਰਬੰਧਕ
Comment[pl]=Menedżer procesów Pprocess
Comment[ps]=ﺮﯾﺪﻣ ﯥﺳﻭﺮﭘ ﯥﺳﻭﺮﭘ ﺩ
Comment[pt]=Gestor de processos Pprocess
Comment[qu]=Pproceso ruway kamachiq
Comment[ro]=P manager de proces
Comment[ru]=Менеджер процессов Pprocess
Comment[rw]=Umuyobozi wibikorwa
Comment[sa]=Pprocess प्रक्रिया प्रबन्धक
Comment[sd]=ﺮﺠﻴﻨﻴﻣ ﺲﻴﺳﻭﺮﭘ ﺲﻴﺳﻭﺮﭘ
Comment[si]=ක්u200dරියාවලි ක්u200dරියාවලි කළමනාකරු
Comment[sk]=Manažér procesov P
Comment[sl]=Upravitelj procesa Pprocess
Comment[sm]=Pprocess process manager
Comment[sn]=Process process manager
Comment[so]=Maamulaha habsocodka
Comment[sq]=Menaxher i procesit të procesit
Comment[st]=Tsamaiso ea tsebetso ea tsebetso
Comment[su]=Manajer prosés Pprosés
Comment[sv]=Pprocess processledare
Comment[sw]=Msimamizi wa mchakato wa mchakato
Comment[ta]=செயல்முறை செயல்முறை மேலாளர்
Comment[te]=ప్రాసెస్ ప్రాసెస్ మేనేజర్
Comment[tg]=Менеҷери равандҳои Pprocess
Comment[th]=ผู้จัดการกระบวนการ Pprocess
Comment[ti]=Pprocess መስርሕ ኣካያዲ
Comment[tk]=Proses prosesi dolandyryjysy
Comment[tl]=Tagapamahala ng proseso ng proseso
Comment[to]=Pule ki he founga ngaue ʻa e Pprocess
Comment[tr]=Pprocess süreç yöneticisi
Comment[ts]=Mufambisi wa phurosese ya Pprocess
Comment[tt]=Процесс процессы менеджеры
Comment[tw]=Pprocess nhyehyɛe sohwɛfo
Comment[ty]=Taata faatere i te ohipa hamaniraa hohoa
Comment[ug]=ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﻰﻧﺎﻳﺭەﺟ ﺵەﻠﺸﯩﺋ ﭖﻼ﻿ﻘﯩﺸﺸﯩﭘ
Comment[uk]=Pprocess менеджер процесів
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﺲﯿﺳﻭﺮﭘ ﺲﯿﺳﻭﺮﭘ
Comment[uz]=Pprocess jarayoni menejeri
Comment[vi]=Trình quản lý quy trình P process
Comment[xh]=Inkqubo yomphathi wenkqubo
Comment[yi]=רעטלאַווראַפ סעצאָרפּ סעסאָרפּפּ
Comment[yo]=Alakoso ilana ilana
Comment[zh]=Pprocess流程管理器
Comment[zu]=Umphathi wenqubo yokucubungula
Comment=Pprocess process manager
Exec=pprocess
Terminal=false
Type=Application
Categories=System
GenericName=Pprocess process manager
