[Desktop Entry]
Encoding=UTF-8
Name[fr]=Renommer un fichier (simple) : PRename
Name[de]=PRename Batch-Dateiumbenenner, einfach
Name[es]=PRename: renombrar archivos por lotes
Name[ru]=PRename пакетный переименовщик файлов, простой
Name[tr]=PRename basit dosya adlandırıcı
Name[af]=Voornaam bondellêer hernoemer, eenvoudig
Name[am]=ባች ፋይልን ቀይር፣ ቀላል
Name[ar]=PRename ﻲﻌﻓﺩ ﻒﻠﻣ renamer ، ﻂﻴﺴﺑ
Name[as]=PRename বেচ ফাইল পুনৰনামকৰণ, সহজ
Name[ay]=PRename lote archivo suti mayjt’ayaña, sapuru
Name[az]=Toplu fayl adının dəyişdirilməsi, sadə
Name[ba]=PRename партия файлы ренамеры, ябай
Name[be]=Перайменаванне пакетнага файла PRename, проста
Name[bg]=Преименуване на партиден файл PRename, просто
Name[bm]=PRename batch file tɔgɔladonni, a nɔgɔn
Name[bn]=প্রি-নেম ব্যাচ ফাইল রিনেমার, সহজ
Name[bo]=PRename batch file renamer, སྟབས་བདེ།
Name[bs]=Preimenuj batch file preimenovanje, jednostavno
Name[ca]=Prenom del fitxer per lots, senzill
Name[co]=PRRename batch file renamer, simplice
Name[cs]=PREname, přejmenování dávkových souborů, jednoduché
Name[cy]=Prename ailenwir ffeil swp, syml
Name[da]=Fornavn batchfil omdøbning, enkel
Name[dv]=ދާސާ ،ރމަނޭރީ ލްއިފަ ޗްބެ މްނޭރީޕީ
Name[ee]=PRename batch faɛl ŋkɔ yeye, bɔbɔe
Name[el]=Μετονομασία αρχείου δέσμης, απλό
Name[eo]=PRENomu aran dosieron, simpla
Name[et]=PName partiifaili ümbernimetaja, lihtne
Name[eu]=PRRename batch fitxategien izena aldatzea, erraza
Name[fa]=ﻩﺩﺎﺳ ،ﻞﯾﺎﻓ ﯼﺍ ﻪﺘﺳﺩ ﻡﺎﻧ ﺮﯿﯿﻐﺗ
Name[fi]=PName erätiedoston uudelleennimeäjä, yksinkertainen
Name[fj]=PRename ni faile ni iwiliwili ni yaca, rawarawa
Name[fo]=PRename batch file renamer, simple
Name[fy]=PRename batchbestân omneamer, ienfâldich
Name[ga]=Réamhainm athainmnithe comhad baisc, simplí
Name[gd]=Ath-ainmich ath-ainmeachadh faidhle baidse, sìmplidh
Name[gl]=Renomear o nome do ficheiro por lotes, sinxelo
Name[gn]=PRename vore lote ñembopyahu, isãsóva
Name[gu]=બેચ ફાઇલનું નામ બદલનાર, સરળ
Name[ha]=Sanya sunan batch file mai canza suna, mai sauƙi
Name[he]=טושפ ,הווצא יצבק לש שדחמ םש
Name[hi]=बैच फ़ाइल का नाम बदलें, सरल
Name[hr]=PRename batch file preimenovanje, jednostavno
Name[ht]=PRRename pakèt dosye renamer, senp
Name[hu]=PName kötegfájl átnevezése, egyszerű
Name[hy]=Նախանվանել խմբաքանակի ֆայլի վերանվանող, պարզ
Name[id]=PRename file batch rename, sederhana
Name[ig]=Kpọgharịa aha batch faịlụ renamer, dị mfe
Name[is]=Endurnefna hópskrár endurnefna, einfalt
Name[it]=PRinominare il rinominatore di file batch, semplice
Name[iu]=PRename batch file renamer, ᐊᔪᕐᓇᙱᑦᑐᖅ
Name[ja]=PRename バッチ ファイル名変更ツール、シンプル
Name[jv]=Ganti jeneng file batch, prasaja
Name[ka]=გადარქმევა სერიული ფაილის renamer, მარტივი
Name[kk]=PRename бума файлының атын өзгерту, қарапайым
Name[km]=PreRename ការប្តូរឈ្មោះឯកសារបាច់ សាមញ្ញ
Name[kn]=ಪೂರ್ವಹೆಸರು ಬ್ಯಾಚ್ ಫೈಲ್ ಮರುನಾಮಕರಣ, ಸರಳ
Name[ko]=PRename 배치 파일 이름 바꾸기, 단순
Name[ku]=Navdêra pelê pelê PÊNavê, hêsan
Name[ky]=PRename пакеттик файлдын атын өзгөртүү, жөнөкөй
Name[la]=Prename batch file renamer, simple
Name[lb]=PRename Batch Datei Renamer, einfach
Name[lg]=PRename batch fayiro okukyusa erinnya, kyangu
Name[ln]=PRename batch fichier mobongoli nkombo, pete
Name[lo]=ການປ່ຽນຊື່ໄຟລ໌ batch prename, ງ່າຍດາຍ
Name[lt]=„PRaname“ paketinio failo pervardintojas, paprastas
Name[lv]=PRaname sērijveida faila pārdēvētājs, vienkāršs
Name[mg]=PRoname ny anaranny rakitra batch, tsotra
Name[mi]=Whakaingoa-whakaingoa ano te konae puranga, ngawari
Name[mk]=Преименувајте преименувач на сериски датотеки, едноставно
Name[ml]=ബാച്ച് ഫയൽ പുനർനാമകരണം, ലളിതം
Name[mn]=Багц файлын нэрийг өөрчлөх, энгийн
Name[mr]=बॅच फाइल पुनर्नामित प्रीनाम, सोपे
Name[ms]=PRename penama semula fail kelompok, mudah
Name[mt]=PRRename lott tal-fajl renamer, sempliċi
Name[my]=Prename batch file renamer၊ ရိုးရိုး
Name[ne]=ब्याच फाइल पुन: नामकरण, सरल
Name[nl]=PRename batchbestandshernoemer, eenvoudig
Name[no]=PREname batch-fil endre navn, enkel
Name[ny]=Prename batch file renamer, yosavuta
Name[om]=PRename maqaa faayilii tuuta maqaa jijjiiruu, salphaa
Name[or]=PRename ବ୍ୟାଚ୍ ଫାଇଲ୍ ନାମକରଣ, ସରଳ |
Name[pa]=ਬੈਚ ਫਾਈਲ ਰੀਨੇਮਰ, ਸਧਾਰਨ
Name[pl]=Zmiana nazwy pliku wsadowego PRename, prosta
Name[ps]=ﻩﺩﺎﺳ ،ﻝﻮﮐ ﻡﻮﻧ PR ﻩﺭﺎﭙﻟ ﻮﻟﻮﻟﺪﺑ ﻡﻮﻧ ﻞﯾﺎﻓ ﭻﯿﺑ ﺩ
Name[pt]=PRename batch file renamer, simples
Name[qu]=PRename huñu willañiqi musuq musuq, sasan
Name[ro]=PRename redenumire fișier batch, simplu
Name[rw]=PRename batch dosiye izina, byoroshye
Name[sa]=PRename batch file renamer, सरलम्
Name[sd]=ﻭﺩﺎﺳ ،ﻭﺭﺍﻭ ﮡﺋﺎٽﻣ ﻮﻟﺎﻧ ﻮﺟ ﻞﺋﺎﻓ ﭻﻴﺑ
Name[si]=පෙර නම් කරන්න කණ්ඩායම් ගොනු නැවත නම් කරන්න, සරලයි
Name[sk]=PRename premenovanie dávkových súborov, jednoduché
Name[sl]=PRename paketno preimenovanje datotek, preprosto
Name[sm]=Sui igoa faila faila faila, faigofie
Name[sn]=Prename batch faira renamer, nyore
Name[so]=Dib u magacaw beddelka faylka dufcadda, fudud
Name[sq]=Riemërtoni riemërtuesin e skedarit të grupit, i thjeshtë
Name[st]=Prename batch file renamer, e bonolo
Name[su]=PRename file bets renamer, basajan
Name[sv]=PRename batch-fil byta namn, enkelt
Name[sw]=Prename batch file renamer, rahisi
Name[ta]=தொகுதி கோப்பு மறுபெயரிடுதல், எளிமையானது
Name[te]=బ్యాచ్ ఫైల్ పేరుమార్పు పేరుమార్పు, సాధారణ
Name[tg]=PRename тағири номи файли партия, оддӣ
Name[th]=เปลี่ยนชื่อไฟล์แบทช์ PRename ง่ายๆ
Name[ti]=PRename batch file renamer, ቀሊል
Name[tk]=PRename partiýa faýlyň adyny üýtgetmek, ýönekeý
Name[tl]=PRename batch file renamer, simple
Name[to]=PRename e faile (batch) renamer, faingofua
Name[ts]=PRename ku cinca vito ra fayili ya ntlawa, yo olova
Name[tt]=PRename партия файлының исемен үзгәртү, гади
Name[tw]=PRename batch fael din foforo, ɛnyɛ den
Name[ty]=PRename batch file renamer, simple
Name[ug]=PRename ﻲﯨﺩﺩﺎﺋ ، ﻰﻤﺴﯩﺋ ﯔﯩﻨﺗەﺠﺟﯚﮬ ﻰﻜﯨﺪﻣﯜﻛﺭﯜﺗ
Name[uk]=Перейменування пакетного файлу PRename, просто
Name[ur]=ﮦﺩﺎﺳ ،ﻻ﻿ﺍﻭ ﮯﻧﺮﮐ ﻞﯾﺪﺒﺗ ﻡﺎﻧ ﺎﮐ ﻞﺋﺎﻓ ﭻﯿﺑ
Name[uz]=Ommaviy fayl nomini ozgartiruvchi, oddiy
Name[vi]=Prename đổi tên tập tin hàng loạt, đơn giản
Name[xh]=Qamba igama ngokutsha lefayile ye-batch, elula
Name[yi]=טושפּ ,עמאַנער עקעט לקעפּ עמאַנערפּ
Name[yo]=Tún lorukọ ìpele faili renamer, rọrun
Name[zh]=PRename批处理文件重命名器，简单
Name[zu]=Qamba kabusha igama lenqwaba yefayela, elula
Name=PRename batch file renamer, simple
Icon=prename.png
Comment[fr]=Renommer un fichier (simple) : PRename
Comment[de]=PRename Batch-Dateiumbenenner, einfach
Comment[es]=Renombrador de archivos por lotes PRename
Comment[ru]=PRename пакетный переименовщик файлов, простой
Comment[tr]=PRename dosyaları topluca yeniden adlandırır
Comment[af]=Voornaam bondellêer hernoemer, eenvoudig
Comment[am]=ባች ፋይልን ቀይር፣ ቀላል
Comment[ar]=PRename ﻲﻌﻓﺩ ﻒﻠﻣ renamer ، ﻂﻴﺴﺑ
Comment[as]=PRename বেচ ফাইল পুনৰনামকৰণ, সহজ
Comment[ay]=PRename lote archivo suti mayjt’ayaña, sapuru
Comment[az]=Toplu fayl adının dəyişdirilməsi, sadə
Comment[ba]=PRename партия файлы ренамеры, ябай
Comment[be]=Перайменаванне пакетнага файла PRename, проста
Comment[bg]=Преименуване на партиден файл PRename, просто
Comment[bm]=PRename batch file tɔgɔladonni, a nɔgɔn
Comment[bn]=প্রি-নেম ব্যাচ ফাইল রিনেমার, সহজ
Comment[bo]=PRename batch file renamer, སྟབས་བདེ།
Comment[bs]=Preimenuj batch file preimenovanje, jednostavno
Comment[ca]=Prenom del fitxer per lots, senzill
Comment[co]=PRRename batch file renamer, simplice
Comment[cs]=PREname, přejmenování dávkových souborů, jednoduché
Comment[cy]=Prename ailenwir ffeil swp, syml
Comment[da]=Fornavn batchfil omdøbning, enkel
Comment[dv]=ދާސާ ،ރމަނޭރީ ލްއިފަ ޗްބެ މްނޭރީޕީ
Comment[ee]=PRename batch faɛl ŋkɔ yeye, bɔbɔe
Comment[el]=Μετονομασία αρχείου δέσμης, απλό
Comment[eo]=PRENomu aran dosieron, simpla
Comment[et]=PName partiifaili ümbernimetaja, lihtne
Comment[eu]=PRRename batch fitxategien izena aldatzea, erraza
Comment[fa]=ﻩﺩﺎﺳ ،ﻞﯾﺎﻓ ﯼﺍ ﻪﺘﺳﺩ ﻡﺎﻧ ﺮﯿﯿﻐﺗ
Comment[fi]=PName erätiedoston uudelleennimeäjä, yksinkertainen
Comment[fj]=PRename ni faile ni iwiliwili ni yaca, rawarawa
Comment[fo]=PRename batch file renamer, simple
Comment[fy]=PRename batchbestân omneamer, ienfâldich
Comment[ga]=Réamhainm athainmnithe comhad baisc, simplí
Comment[gd]=Ath-ainmich ath-ainmeachadh faidhle baidse, sìmplidh
Comment[gl]=Renomear o nome do ficheiro por lotes, sinxelo
Comment[gn]=PRename vore lote ñembopyahu, isãsóva
Comment[gu]=બેચ ફાઇલનું નામ બદલનાર, સરળ
Comment[ha]=Sanya sunan batch file mai canza suna, mai sauƙi
Comment[he]=טושפ ,הווצא יצבק לש שדחמ םש
Comment[hi]=बैच फ़ाइल का नाम बदलें, सरल
Comment[hr]=PRename batch file preimenovanje, jednostavno
Comment[ht]=PRRename pakèt dosye renamer, senp
Comment[hu]=PName kötegfájl átnevezése, egyszerű
Comment[hy]=Նախանվանել խմբաքանակի ֆայլի վերանվանող, պարզ
Comment[id]=PRename file batch rename, sederhana
Comment[ig]=Kpọgharịa aha batch faịlụ renamer, dị mfe
Comment[is]=Endurnefna hópskrár endurnefna, einfalt
Comment[it]=PRinominare il rinominatore di file batch, semplice
Comment[iu]=PRename batch file renamer, ᐊᔪᕐᓇᙱᑦᑐᖅ
Comment[ja]=PRename バッチ ファイル名変更ツール、シンプル
Comment[jv]=Ganti jeneng file batch, prasaja
Comment[ka]=გადარქმევა სერიული ფაილის renamer, მარტივი
Comment[kk]=PRename бума файлының атын өзгерту, қарапайым
Comment[km]=PreRename ការប្តូរឈ្មោះឯកសារបាច់ សាមញ្ញ
Comment[kn]=ಪೂರ್ವಹೆಸರು ಬ್ಯಾಚ್ ಫೈಲ್ ಮರುನಾಮಕರಣ, ಸರಳ
Comment[ko]=PRename 배치 파일 이름 바꾸기, 단순
Comment[ku]=Navdêra pelê pelê PÊNavê, hêsan
Comment[ky]=PRename пакеттик файлдын атын өзгөртүү, жөнөкөй
Comment[la]=Prename batch file renamer, simple
Comment[lb]=PRename Batch Datei Renamer, einfach
Comment[lg]=PRename batch fayiro okukyusa erinnya, kyangu
Comment[ln]=PRename batch fichier mobongoli nkombo, pete
Comment[lo]=ການປ່ຽນຊື່ໄຟລ໌ batch prename, ງ່າຍດາຍ
Comment[lt]=„PRaname“ paketinio failo pervardintojas, paprastas
Comment[lv]=PRaname sērijveida faila pārdēvētājs, vienkāršs
Comment[mg]=PRoname ny anaranny rakitra batch, tsotra
Comment[mi]=Whakaingoa-whakaingoa ano te konae puranga, ngawari
Comment[mk]=Преименувајте преименувач на сериски датотеки, едноставно
Comment[ml]=ബാച്ച് ഫയൽ പുനർനാമകരണം, ലളിതം
Comment[mn]=Багц файлын нэрийг өөрчлөх, энгийн
Comment[mr]=बॅच फाइल पुनर्नामित प्रीनाम, सोपे
Comment[ms]=PRename penama semula fail kelompok, mudah
Comment[mt]=PRRename lott tal-fajl renamer, sempliċi
Comment[my]=Prename batch file renamer၊ ရိုးရိုး
Comment[ne]=ब्याच फाइल पुन: नामकरण, सरल
Comment[nl]=PRename batchbestandshernoemer, eenvoudig
Comment[no]=PREname batch-fil endre navn, enkel
Comment[ny]=Prename batch file renamer, yosavuta
Comment[om]=PRename maqaa faayilii tuuta maqaa jijjiiruu, salphaa
Comment[or]=PRename ବ୍ୟାଚ୍ ଫାଇଲ୍ ନାମକରଣ, ସରଳ |
Comment[pa]=ਬੈਚ ਫਾਈਲ ਰੀਨੇਮਰ, ਸਧਾਰਨ
Comment[pl]=Zmiana nazwy pliku wsadowego PRename, prosta
Comment[ps]=ﻩﺩﺎﺳ ،ﻝﻮﮐ ﻡﻮﻧ PR ﻩﺭﺎﭙﻟ ﻮﻟﻮﻟﺪﺑ ﻡﻮﻧ ﻞﯾﺎﻓ ﭻﯿﺑ ﺩ
Comment[pt]=PRename batch file renamer, simples
Comment[qu]=PRename huñu willañiqi musuq musuq, sasan
Comment[ro]=PRename redenumire fișier batch, simplu
Comment[rw]=PRename batch dosiye izina, byoroshye
Comment[sa]=PRename batch file renamer, सरलम्
Comment[sd]=ﻭﺩﺎﺳ ،ﻭﺭﺍﻭ ﮡﺋﺎٽﻣ ﻮﻟﺎﻧ ﻮﺟ ﻞﺋﺎﻓ ﭻﻴﺑ
Comment[si]=පෙර නම් කරන්න කණ්ඩායම් ගොනු නැවත නම් කරන්න, සරලයි
Comment[sk]=PRename premenovanie dávkových súborov, jednoduché
Comment[sl]=PRename paketno preimenovanje datotek, preprosto
Comment[sm]=Sui igoa faila faila faila, faigofie
Comment[sn]=Prename batch faira renamer, nyore
Comment[so]=Dib u magacaw beddelka faylka dufcadda, fudud
Comment[sq]=Riemërtoni riemërtuesin e skedarit të grupit, i thjeshtë
Comment[st]=Prename batch file renamer, e bonolo
Comment[su]=PRename file bets renamer, basajan
Comment[sv]=PRename batch-fil byta namn, enkelt
Comment[sw]=Prename batch file renamer, rahisi
Comment[ta]=தொகுதி கோப்பு மறுபெயரிடுதல், எளிமையானது
Comment[te]=బ్యాచ్ ఫైల్ పేరుమార్పు పేరుమార్పు, సాధారణ
Comment[tg]=PRename тағири номи файли партия, оддӣ
Comment[th]=เปลี่ยนชื่อไฟล์แบทช์ PRename ง่ายๆ
Comment[ti]=PRename batch file renamer, ቀሊል
Comment[tk]=PRename partiýa faýlyň adyny üýtgetmek, ýönekeý
Comment[tl]=PRename batch file renamer, simple
Comment[to]=PRename e faile (batch) renamer, faingofua
Comment[ts]=PRename ku cinca vito ra fayili ya ntlawa, yo olova
Comment[tt]=PRename партия файлының исемен үзгәртү, гади
Comment[tw]=PRename batch fael din foforo, ɛnyɛ den
Comment[ty]=PRename batch file renamer, simple
Comment[ug]=PRename ﻲﯨﺩﺩﺎﺋ ، ﻰﻤﺴﯩﺋ ﯔﯩﻨﺗەﺠﺟﯚﮬ ﻰﻜﯨﺪﻣﯜﻛﺭﯜﺗ
Comment[uk]=Перейменування пакетного файлу PRename, просто
Comment[ur]=ﮦﺩﺎﺳ ،ﻻ﻿ﺍﻭ ﮯﻧﺮﮐ ﻞﯾﺪﺒﺗ ﻡﺎﻧ ﺎﮐ ﻞﺋﺎﻓ ﭻﯿﺑ
Comment[uz]=Ommaviy fayl nomini ozgartiruvchi, oddiy
Comment[vi]=Prename đổi tên tập tin hàng loạt, đơn giản
Comment[xh]=Qamba igama ngokutsha lefayile ye-batch, elula
Comment[yi]=טושפּ ,עמאַנער עקעט לקעפּ עמאַנערפּ
Comment[yo]=Tún lorukọ ìpele faili renamer, rọrun
Comment[zh]=PRename批处理文件重命名器，简单
Comment[zu]=Qamba kabusha igama lenqwaba yefayela, elula
Comment=PRename batch file renamer, simple
Exec=prename
Terminal=false
Type=Application
Categories=X-FilesystemUtility
GenericName=PRename
