[Desktop Entry]
Encoding=UTF-8
Name[fr]=Récupérateur de Webcasts : PPG
Name[de]=Welpen-Podcast-Grabber
Name[es]=Capturador de podcasts de Puppy
Name[ru]=Puppy-Podcast-Grabber
Name[tr]=Puppy-Podcast-Yakalayıcı
Name[af]=Puppy-Podcast-Grabber
Name[am]=ቡችላ-ፖድካስት-ግራብበር
Name[ar]=ﻉﺰﺘﻨﻤﻟﺍ-ﺖﺳﺎﻛﺩﻮﺑ-ﻭﺮﺟ
Name[as]=কুকুৰ পোৱালি-পডকাষ্ট-গ্ৰেবাৰ
Name[ay]=Ukax mä juk’a pachanakanwa
Name[az]=Puppy-Podcast-Grabber
Name[ba]=Пуппи-Подкаст-Грабпер
Name[be]=Шчанюк-Падкаст-Граббер
Name[bg]=Puppy-Podcast-Grabber
Name[bm]=Puppy-Podcast-Minɛbaga
Name[bn]=কুকুরছানা-পডকাস্ট-গ্রাবার
Name[bo]=ཁྱི་ཆུང་ཆུང་ཞིག་གིས་རྒྱང་བསྒྲགས་བྱས་པ་རེད།
Name[bs]=Puppy-Podcast-Grabber
Name[ca]=Puppy-Podcast-Grabber
Name[co]=Puppy-Podcast-Grabber
Name[cs]=Puppy-Podcast-Grabber
Name[cy]=Puppy-Podlediad-Grabber
Name[da]=Hvalpe-Podcast-Grabber
Name[dv]=ރބަރެގް-ޓްސްކާޑްޕޮ-ޕީޕަ
Name[ee]=Avũvi-Podcast-Grabber
Name[el]=Puppy-Podcast-Grabber
Name[eo]=Hundido-Podkasto-Kaptilo
Name[et]=Kutsikas-podcast-haaraja
Name[eu]=Puppy-Podcast-Grabber
Name[fa]=ﺮﺑﺮﮔ-ﺖﺴﮐﺩﺎﭘ-ﮓﺳ ﻪﻟﻮﺗ
Name[fi]=Puppy-Podcast-Grabber
Name[fj]=Luvenikoli-Podcast-Grabber
Name[fo]=Puppy-Podcast-Grabber
Name[fy]=Puppy-Podcast-Grabber
Name[ga]=Puppy-Podchraoladh-Grabber
Name[gd]=Puppy-Podcast-Grabber
Name[gl]=Puppy-Podcast-Grabber
Name[gn]=Cachorro-Podcast-Agarrador
Name[gu]=કુરકુરિયું-પોડકાસ્ટ-ગ્રેબર
Name[ha]=Puppy-Podcast-Grabber
Name[he]=ספות-טסאקדופ-רוג
Name[hi]=पिल्ला-पॉडकास्ट-धरनेवाला
Name[hr]=Puppy-Podcast-Grabber
Name[ht]=Chyo-Podcast-Grabber
Name[hu]=Puppy-Podcast-Grabber
Name[hy]=Puppy-Podcast-Grabber
Name[id]=Puppy-Podcast-Grabber
Name[ig]=Puppy-Podcast-Grabber
Name[is]=Hvolpa-Podcast-Grabber
Name[it]=Puppy-Podcast-Grabber
Name[iu]=Puppy-Podcast-Graber
Name[ja]=パピーポッドキャストグラバー
Name[jv]=Kirik-Podcast-Grabber
Name[ka]=ლეკვი-პოდკასტი-გამტაცებელი
Name[kk]=Puppy-Podcast-Grabber
Name[km]=Puppy-Podcast-Grabber
Name[kn]=ಪಪ್ಪಿ-ಪಾಡ್u200cಕ್ಯಾಸ್ಟ್-ಹರ
Name[ko]=강아지-팟캐스트-그래버
Name[ku]=Puppy-Podcast-Grabber
Name[ky]=Puppy-Podcast-Grabber
Name[la]=Catulus Podcast-Grabber
Name[lb]=Puppy-Podcast-Grabber
Name[lg]=Puppy-Podcast-Omukwasi w’embwa
Name[ln]=Mwana ya mbwa-Podcast-Mokangami
Name[lo]=Puppy-Podcast-Grabber
Name[lt]=Puppy-Podcast-Grabber
Name[lv]=Kucēns-Podcast-Grabber
Name[mg]=Puppy-Podcast-Grabber
Name[mi]=Puppy-Podcast-Grabber
Name[mk]=Кутре-Подкаст-Грабител
Name[ml]=പപ്പി-പോഡ്കാസ്റ്റ്-ഗ്രാബർ
Name[mn]=Гөлөг-Подкаст-Граббер
Name[mr]=पिल्लू-पॉडकास्ट-ग्रॅबर
Name[ms]=Puppy-Podcast-Grabber
Name[mt]=Puppy-Podcast-Grabber
Name[my]=Puppy-Podcast-Grabber
Name[ne]=पप्पी-पोडकास्ट-ग्राबर
Name[nl]=Puppy-Podcast-Grabber
Name[no]=Valp-Podcast-Grabber
Name[ny]=Mwana-Podcast-Grabber
Name[om]=Puppy-Podcast-Grabber kan jedhu
Name[or]=ପପୁ-ପୋଡକାଷ୍ଟ-ଗ୍ରାବର୍ |
Name[pa]=ਕਤੂਰੇ-ਪੌਡਕਾਸਟ-ਗ੍ਰੈਬਰ
Name[pl]=Puppy-Podcast-Grabber
Name[ps]=ﺮﺑﺮګ-ټﺳﺎﮐډﻮﭘ-ﯽګﺍډﻮګ
Name[pt]=Filhote-Podcast-Grabber
Name[qu]=Allqucha-Podcast-Hap’iq
Name[ro]=Puppy-Podcast-Grabber
Name[rw]=Puppy-Podcast-Grabber
Name[sa]=पिल्ला-पॉडकास्ट-ग्राबर
Name[sd]=ﺮﺒﻳﺮﮔ -ٽﺳﺎڪ ڊﻮﭘ -ٽﭘﻮﭘ
Name[si]=Puppy-Podcast-Grabber
Name[sk]=Puppy-Podcast-Grabber
Name[sl]=Puppy-Podcast-Grabber
Name[sm]=Puppy-Podcast-Grabber
Name[sn]=Puppy-Podcast-Grabber
Name[so]=Puppy-Podcast-Grabber
Name[sq]=Puppy-Podcast-Grabber
Name[st]=Puppy-Podcast-Grabber
Name[su]=Anak anjing-Podcast-Grabber
Name[sv]=Valp-Podcast-Grabber
Name[sw]=Puppy-Podcast-Grabber
Name[ta]=நாய்க்குட்டி-பாட்காஸ்ட்-கிராப்பர்
Name[te]=కుక్కపిల్ల-పాడ్u200cకాస్ట్-గ్రాబెర్
Name[tg]=Puppy-Podcast-Grabber
Name[th]=Puppy-Podcast-Grabber
Name[ti]=ቡችላ-ፖድካስት-ግራበር
Name[tk]=Güýjük-podkast-grabber
Name[tl]=Puppy-Podcast-Grabber
Name[to]=Kuli-Podcast-Grabber
Name[ts]=Mbyana-Podcast-Mukhomi
Name[tt]=Күчек-Подкаст-Грабер
Name[tw]=Akraman-Podcast-Agyefo
Name[ty]=Puppy-Podcast-Grabber
Name[ug]=Puppy-Podcast-Grabber
Name[uk]=Puppy-Podcast-Grabber
Name[ur]=ﺮﺒﯾﺮﮔ-ﭧﺳﺎﮐ ﮈﻮﭘ-ﯽﭙﭘ
Name[uz]=Puppy-Podcast-Grabber
Name[vi]=Puppy-Podcast-Grabber
Name[xh]=Inja-iPodcast-Grabber
Name[yi]=רעבאַרג-טסאַקדאָפּ-עלעטניה
Name[yo]=Puppy-Podcast-Grabber
Name[zh]=小狗播客抓取者
Name[zu]=I-Puppy-Podcast-Grabber
Name=Puppy-Podcast-Grabber
Icon=/usr/share/icons/ppg.xpm
Comment[fr]=PPG
Comment[de]=PPG
Comment[es]=PPG
Comment[ru]=PPG
Comment[tr]=PPG
Comment[af]=ppg
Comment[am]=ፒ.ፒ.ጂ
Comment[ar]=ppg
Comment[as]=পিপিজি
Comment[ay]=ppg
Comment[az]=səh
Comment[ba]=Ппг
Comment[be]=ppg
Comment[bg]=ppg
Comment[bm]=ppg
Comment[bn]=পিপিজি
Comment[bo]=ppg
Comment[bs]=ppg
Comment[ca]=pàg
Comment[co]=ppg
Comment[cs]=str
Comment[cy]=ppg
Comment[da]=ppg
Comment[dv]=ޖީޕީޕީ
Comment[ee]=ppg
Comment[el]=σελ
Comment[eo]=ppg
Comment[et]=lk
Comment[eu]=orr
Comment[fa]=ﻪﺤﻔﺻ
Comment[fi]=ppg
Comment[fj]=ppg
Comment[fo]=ppg
Comment[fy]=ppg
Comment[ga]=ppg
Comment[gd]=ppg
Comment[gl]=páxs
Comment[gn]=ppg
Comment[gu]=પીપીજી
Comment[ha]=ppg
Comment[he]=ppg
Comment[hi]=पीपीजी
Comment[hr]=ppg
Comment[ht]=ppg
Comment[hu]=ppg
Comment[hy]=ppg
Comment[id]=ppg
Comment[ig]=ppg
Comment[is]=bls
Comment[it]=ppg
Comment[iu]=ppg
Comment[ja]=ppg
Comment[jv]=ppg
Comment[ka]=ppg
Comment[kk]=бет
Comment[km]=ppg
Comment[kn]=ppg
Comment[ko]=PPG
Comment[ku]=ppg
Comment[ky]=ppg
Comment[la]=ppg
Comment[lb]=ppg
Comment[lg]=ppg
Comment[ln]=ppg
Comment[lo]=ppg
Comment[lt]=ppg
Comment[lv]=lpp
Comment[mg]=ppg
Comment[mi]=ppg
Comment[mk]=стр
Comment[ml]=ppg
Comment[mn]=ppg
Comment[mr]=ppg
Comment[ms]=ppg
Comment[mt]=ppg
Comment[my]=ppg
Comment[ne]=ppg
Comment[nl]=ppg
Comment[no]=s.pg
Comment[ny]=ppg
Comment[om]=ppg
Comment[or]=ppg
Comment[pa]=ppg
Comment[pl]=ppg
Comment[ps]=ppg
Comment[pt]=PPG
Comment[qu]=ppg
Comment[ro]=ppg
Comment[rw]=ppg
Comment[sa]=ppg
Comment[sd]=ﻲﺟ ﻲﭘ ﻲﭘ
Comment[si]=ppg
Comment[sk]=str
Comment[sl]=ppg
Comment[sm]=ppg
Comment[sn]=pg
Comment[so]=ppg
Comment[sq]=fq
Comment[st]=maq
Comment[su]=ppg
Comment[sv]=ppg
Comment[sw]=uk
Comment[ta]=ppg
Comment[te]=ppg
Comment[tg]=саҳ
Comment[th]=หน้า
Comment[ti]=ገጽ 100
Comment[tk]=sah
Comment[tl]=ppg
Comment[to]=ppg
Comment[ts]=ppg
Comment[tt]=ppg
Comment[tw]=ppg
Comment[ty]=te mau
Comment[ug]=ppg
Comment[uk]=ppg
Comment[ur]=ﯽﺟ ﯽﭘ ﯽﭘ
Comment[uz]=ppg
Comment[vi]=ppg
Comment[xh]=ppg
Comment[yi]=ppg
Comment[yo]=ppg
Comment[zh]=PPG
Comment[zu]=pg
Comment=ppg
Exec=/usr/local/bin/ppg-gui.sh
Terminal=false
Type=Application
Categories=FileTransfer
GenericName=ppg
