[Desktop Entry]
Encoding=UTF-8
Name[fr]=Télécharger des fichiers en sécurité : Pwsget
Name[de]=Pwsget sicherer Datei-Downloader
Name[es]=Pwsget: descarga segura de archivos
Name[ru]=Безопасный загрузчик файлов Pwsget
Name[tr]=Pwsget güvenli dosya indirici
Name[af]=Pwsget veilige lêer aflaaier
Name[am]=Pwsget ደህንነቱ የተጠበቀ ፋይል ማውረጃ
Name[ar]=Pwsget ﻦﻣﺁ ﻒﻠﻣ ﻞﻳﺰﻨﺗ
Name[as]=Pwsget সুৰক্ষিত ফাইল ডাউনলোডাৰ
Name[ay]=Pwsget ukax seguro archivo descargar ukawa
Name[az]=Pwsget təhlükəsiz fayl yükləyicisi
Name[ba]=Pwsget хәүефһеҙ файл йөкләүсеһе
Name[be]=Бяспечны загрузнік файлаў pwsget
Name[bg]=Защитена програма за изтегляне на файлове Pwsget
Name[bm]=Pwsget lakanani filenw telesarsebaga
Name[bn]=Pwsget সুরক্ষিত ফাইল ডাউনলোডার
Name[bo]=Pwsgetབདེ་འཇགས་ཡིག་ཆ་ཕབ་ལེན་བྱེད་མཁན།
Name[bs]=Pwsget siguran program za preuzimanje datoteka
Name[ca]=Descàrrega segura de fitxers Pwsget
Name[co]=Pwsget secure file downloader
Name[cs]=Pwsget pro stahování bezpečných souborů
Name[cy]=Dadlwythwr ffeil diogel Pwsget
Name[da]=Pwsget sikker fil downloader
Name[dv]=ވެކެޗެއްއެ ރާކު ޑްލޯންއުޑަ ލްއިފަ ޓީރިއުކިސެ ޓްގެސްއެޔުލިބްޑަޕީ
Name[ee]=Pwsget dedie faɛl downloader
Name[el]=Pwsget ασφαλές πρόγραμμα λήψης αρχείων
Name[eo]=Pwsget sekura dosiero elŝutilo
Name[et]=Pwsgeti turvaline failide allalaadija
Name[eu]=Pwsget fitxategi deskargatzaile segurua
Name[fa]=Pwsget ﻦﻣﺍ ﻞﯾﺎﻓ ﻩﺪﻨﻨﮐ ﺩﻮﻠﻧﺍﺩ
Name[fi]=Pwsget suojattu tiedostojen latausohjelma
Name[fj]=Pwsget faile taqomaki
Name[fo]=Pwsget trygt file downloader
Name[fy]=Pwsget feilige triem downloader
Name[ga]=Pwsget íoslódálaí comhad slán
Name[gd]=Pwsget tèarainte luchdaich sìos faidhle
Name[gl]=Descarga segura de ficheiros pwsget
Name[gn]=Pwsget archivo ñemboguejyha seguro
Name[gu]=Pwsget સુરક્ષિત ફાઇલ ડાઉનલોડર
Name[ha]=Pwsget amintaccen mai saukar da fayil
Name[he]=Pwsget לש תחטבואמ םיצבק תדרוה
Name[hi]=Pwsget सुरक्षित फ़ाइल डाउनलोडर
Name[hr]=Pwsget siguran program za preuzimanje datoteka
Name[ht]=Pwsget telechaje dosye an sekirite
Name[hu]=Pwsget biztonságos fájl letöltő
Name[hy]=Pwsget անվտանգ ֆայլերի ներբեռնիչ
Name[id]=Pwsget pengunduh file aman
Name[ig]=Pwsget nbudata faịlụ echekwara
Name[is]=Pwsget öruggur skráarniðurhalari
Name[it]=Pwsget downloader di file sicuro
Name[iu]=Pwsget secure fileloader
Name[ja]=Pwsget 安全なファイル ダウンローダー
Name[jv]=Ngundhuh file aman Pwsget
Name[ka]=Pwsget უსაფრთხო ფაილის ჩამოტვირთვა
Name[kk]=Pwsget қауіпсіз файл жүктеушісі
Name[km]=កម្មវិធីទាញយកឯកសារសុវត្ថិភាព Pwsget
Name[kn]=Pwsget ಸುರಕ್ಷಿತ ಫೈಲ್ ಡೌನ್u200cಲೋಡರ್
Name[ko]=Pwsget 보안 파일 다운로더
Name[ku]=Pwsget dakêşana pelê ewledar
Name[ky]=Pwsget коопсуз файл жүктөөчүсү
Name[la]=Pwsget secure file downloader
Name[lb]=Pwsget sécher Datei Downloader
Name[lg]=Pwsget omuwanula fayiro owobukuumi
Name[ln]=Pwsget téléchargeur ya ba fichiers ya sécurité
Name[lo]=Pwsget ຕົວດາວໂຫລດໄຟລ໌ທີ່ປອດໄພ
Name[lt]=Pwsget saugus failų atsisiuntimo programa
Name[lv]=Pwsget drošs failu lejupielādētājs
Name[mg]=Pwsget mpisintona rakitra azo antoka
Name[mi]=Pwsget te tango kōnae haumaru
Name[mk]=Pwsget безбеден преземач на датотеки
Name[ml]=Pwsget സുരക്ഷിത ഫയൽ ഡൗൺലോഡർ
Name[mn]=Pwsget аюулгүй файл татагч
Name[mr]=Pwsget सुरक्षित फाइल डाउनलोडर
Name[ms]=Pwsget pemuat turun fail selamat
Name[mt]=Pwsget secure file downloader
Name[my]=Pwsget လုံခြုံသောဖိုင်ဒေါင်းလုပ်လုပ်သူ
Name[ne]=Pwsget सुरक्षित फाइल डाउनलोडर
Name[nl]=Pwsget veilige bestandsdownloader
Name[no]=Pwsget sikker filnedlasting
Name[ny]=Pwsget otetezedwa kutsitsa mafayilo
Name[om]=Pwsget faayilii nageenya qabu buufachuu
Name[or]=Pwsget ସୁରକ୍ଷିତ ଫାଇଲ୍ ଡାଉନଲୋଡର୍ |
Name[pa]=Pwsget ਸੁਰੱਖਿਅਤ ਫਾਈਲ ਡਾਊਨਲੋਡਰ
Name[pl]=Bezpieczny program do pobierania plików Pwsget
Name[ps]=Pwsget ﺭډﻮﻠﻧﻭﺍډ ﻞﯾﺎﻓ ﻱﺪﻧﻮﺧ
Name[pt]=Pwsget downloader arquivo seguro
Name[qu]=Pwsget waqaychasqa willañiqi uraykachiq
Name[ro]=Descărcător de fișiere securizat Pwsget
Name[rw]=Pwsget ikuramo dosiye itekanye
Name[sa]=Pwsget सुरक्षित सञ्चिका डाउनलोडर
Name[sd]=Pwsget ڙﺪﻨڪ ڊﻮﻟ ﻥﻮﺋﺍڊ ﻞﺋﺎﻓ ﻅﻮﻔﺤﻣ
Name[si]=Pwsget ආරක්ෂිත ගොනු බාගත කරන්නා
Name[sk]=Pwsget na sťahovanie bezpečných súborov
Name[sl]=Varen prenosnik datotek Pwsget
Name[sm]=Pwsget saogalemu faila faila
Name[sn]=Pwsget yakachengeteka faira kudhawunirodha
Name[so]=Pwsget soo dejiyaha fayl sugan
Name[sq]=Shkarkues i sigurt i skedarëve Pwsget
Name[st]=Pwsget sehatisi sa faele se sireletsehileng
Name[su]=Pwsget file downloader aman
Name[sv]=Pwsget säker filnedladdning
Name[sw]=Pwsget upakuaji wa faili salama
Name[ta]=Pwsget பாதுகாப்பான கோப்பு பதிவிறக்கி
Name[te]=Pwsget సురక్షిత ఫైల్ డౌన్u200cలోడ్
Name[tg]=Pwsget зеркашии файли бехатар
Name[th]=Pwsget โปรแกรมดาวน์โหลดไฟล์ที่ปลอดภัย
Name[ti]=Pwsget ውሑስ ፋይል ኣውርድ
Name[tk]=Pwsget ygtybarly faýl göçürip alyjy
Name[tl]=Pwsget secure na file downloader
Name[to]=Pwsget ʻa e faile ʻoku malu downloader
Name[ts]=Pwsget xisirhelelo xa fayili yo dawuniloda
Name[tt]=Pwsget куркынычсыз файл йөкләүче
Name[tw]=Pwsget ahobammɔ fael downloader
Name[ty]=Pwsget e faauta-uira-raa i te putuite
Name[ug]=ﻰﭼﯜﮔﺭﯜﺷﯜﭼ ﺕەﺠﺟﯚﮬ ﺭەﺗەﺨﯩﺑ
Name[uk]=Захищений завантажувач файлів Pwsget
Name[ur]=Pwsget ﺭﮈﻮﻠﻧﺅﺍﮈ ﻞﺋﺎﻓ ﻅﻮﻔﺤﻣ
Name[uz]=Pwsget xavfsiz fayl yuklab olish dasturi
Name[vi]=Trình tải xuống tệp an toàn Pwsget
Name[xh]=Pwsget ukhuphelo lwefayile ekhuselekileyo
Name[yi]=Pwsget רעדאַאָלנוואָד עקעט רעכיז
Name[yo]=Olugbasilẹ faili ti o ni aabo Pwsget
Name[zh]=Pwsget 安全文件下载器
Name[zu]=Pwsget isilandi sefayela esivikelekile
Name=Pwsget secure file downloader
Icon=pwget.png
Comment[fr]=Télécharger des fichiers en sécurité : Pwsget
Comment[de]=Pwsget sicherer Datei-Downloader
Comment[es]=Pwsget: descarga segura de archivos
Comment[ru]=Безопасный загрузчик файлов Pwsget
Comment[tr]=Pwsget güvenli dosya indirici
Comment[af]=Pwsget veilige lêer aflaaier
Comment[am]=Pwsget ደህንነቱ የተጠበቀ ፋይል ማውረጃ
Comment[ar]=Pwsget ﻦﻣﺁ ﻒﻠﻣ ﻞﻳﺰﻨﺗ
Comment[as]=Pwsget সুৰক্ষিত ফাইল ডাউনলোডাৰ
Comment[ay]=Pwsget ukax seguro archivo descargar ukawa
Comment[az]=Pwsget təhlükəsiz fayl yükləyicisi
Comment[ba]=Pwsget хәүефһеҙ файл йөкләүсеһе
Comment[be]=Бяспечны загрузнік файлаў pwsget
Comment[bg]=Защитена програма за изтегляне на файлове Pwsget
Comment[bm]=Pwsget lakanani filenw telesarsebaga
Comment[bn]=Pwsget সুরক্ষিত ফাইল ডাউনলোডার
Comment[bo]=Pwsgetབདེ་འཇགས་ཡིག་ཆ་ཕབ་ལེན་བྱེད་མཁན།
Comment[bs]=Pwsget siguran program za preuzimanje datoteka
Comment[ca]=Descàrrega segura de fitxers Pwsget
Comment[co]=Pwsget secure file downloader
Comment[cs]=Pwsget pro stahování bezpečných souborů
Comment[cy]=Dadlwythwr ffeil diogel Pwsget
Comment[da]=Pwsget sikker fil downloader
Comment[dv]=ވެކެޗެއްއެ ރާކު ޑްލޯންއުޑަ ލްއިފަ ޓީރިއުކިސެ ޓްގެސްއެޔުލިބްޑަޕީ
Comment[ee]=Pwsget dedie faɛl downloader
Comment[el]=Pwsget ασφαλές πρόγραμμα λήψης αρχείων
Comment[eo]=Pwsget sekura dosiero elŝutilo
Comment[et]=Pwsgeti turvaline failide allalaadija
Comment[eu]=Pwsget fitxategi deskargatzaile segurua
Comment[fa]=Pwsget ﻦﻣﺍ ﻞﯾﺎﻓ ﻩﺪﻨﻨﮐ ﺩﻮﻠﻧﺍﺩ
Comment[fi]=Pwsget suojattu tiedostojen latausohjelma
Comment[fj]=Pwsget faile taqomaki
Comment[fo]=Pwsget trygt file downloader
Comment[fy]=Pwsget feilige triem downloader
Comment[ga]=Pwsget íoslódálaí comhad slán
Comment[gd]=Pwsget tèarainte luchdaich sìos faidhle
Comment[gl]=Descarga segura de ficheiros pwsget
Comment[gn]=Pwsget archivo ñemboguejyha seguro
Comment[gu]=Pwsget સુરક્ષિત ફાઇલ ડાઉનલોડર
Comment[ha]=Pwsget amintaccen mai saukar da fayil
Comment[he]=Pwsget לש תחטבואמ םיצבק תדרוה
Comment[hi]=Pwsget सुरक्षित फ़ाइल डाउनलोडर
Comment[hr]=Pwsget siguran program za preuzimanje datoteka
Comment[ht]=Pwsget telechaje dosye an sekirite
Comment[hu]=Pwsget biztonságos fájl letöltő
Comment[hy]=Pwsget անվտանգ ֆայլերի ներբեռնիչ
Comment[id]=Pwsget pengunduh file aman
Comment[ig]=Pwsget nbudata faịlụ echekwara
Comment[is]=Pwsget öruggur skráarniðurhalari
Comment[it]=Pwsget downloader di file sicuro
Comment[iu]=Pwsget secure fileloader
Comment[ja]=Pwsget 安全なファイル ダウンローダー
Comment[jv]=Ngundhuh file aman Pwsget
Comment[ka]=Pwsget უსაფრთხო ფაილის ჩამოტვირთვა
Comment[kk]=Pwsget қауіпсіз файл жүктеушісі
Comment[km]=កម្មវិធីទាញយកឯកសារសុវត្ថិភាព Pwsget
Comment[kn]=Pwsget ಸುರಕ್ಷಿತ ಫೈಲ್ ಡೌನ್u200cಲೋಡರ್
Comment[ko]=Pwsget 보안 파일 다운로더
Comment[ku]=Pwsget dakêşana pelê ewledar
Comment[ky]=Pwsget коопсуз файл жүктөөчүсү
Comment[la]=Pwsget secure file downloader
Comment[lb]=Pwsget sécher Datei Downloader
Comment[lg]=Pwsget omuwanula fayiro owobukuumi
Comment[ln]=Pwsget téléchargeur ya ba fichiers ya sécurité
Comment[lo]=Pwsget ຕົວດາວໂຫລດໄຟລ໌ທີ່ປອດໄພ
Comment[lt]=Pwsget saugus failų atsisiuntimo programa
Comment[lv]=Pwsget drošs failu lejupielādētājs
Comment[mg]=Pwsget mpisintona rakitra azo antoka
Comment[mi]=Pwsget te tango kōnae haumaru
Comment[mk]=Pwsget безбеден преземач на датотеки
Comment[ml]=Pwsget സുരക്ഷിത ഫയൽ ഡൗൺലോഡർ
Comment[mn]=Pwsget аюулгүй файл татагч
Comment[mr]=Pwsget सुरक्षित फाइल डाउनलोडर
Comment[ms]=Pwsget pemuat turun fail selamat
Comment[mt]=Pwsget secure file downloader
Comment[my]=Pwsget လုံခြုံသောဖိုင်ဒေါင်းလုပ်လုပ်သူ
Comment[ne]=Pwsget सुरक्षित फाइल डाउनलोडर
Comment[nl]=Pwsget veilige bestandsdownloader
Comment[no]=Pwsget sikker filnedlasting
Comment[ny]=Pwsget otetezedwa kutsitsa mafayilo
Comment[om]=Pwsget faayilii nageenya qabu buufachuu
Comment[or]=Pwsget ସୁରକ୍ଷିତ ଫାଇଲ୍ ଡାଉନଲୋଡର୍ |
Comment[pa]=Pwsget ਸੁਰੱਖਿਅਤ ਫਾਈਲ ਡਾਊਨਲੋਡਰ
Comment[pl]=Bezpieczny program do pobierania plików Pwsget
Comment[ps]=Pwsget ﺭډﻮﻠﻧﻭﺍډ ﻞﯾﺎﻓ ﻱﺪﻧﻮﺧ
Comment[pt]=Pwsget downloader arquivo seguro
Comment[qu]=Pwsget waqaychasqa willañiqi uraykachiq
Comment[ro]=Descărcător de fișiere securizat Pwsget
Comment[rw]=Pwsget ikuramo dosiye itekanye
Comment[sa]=Pwsget सुरक्षित सञ्चिका डाउनलोडर
Comment[sd]=Pwsget ڙﺪﻨڪ ڊﻮﻟ ﻥﻮﺋﺍڊ ﻞﺋﺎﻓ ﻅﻮﻔﺤﻣ
Comment[si]=Pwsget ආරක්ෂිත ගොනු බාගත කරන්නා
Comment[sk]=Pwsget na sťahovanie bezpečných súborov
Comment[sl]=Varen prenosnik datotek Pwsget
Comment[sm]=Pwsget saogalemu faila faila
Comment[sn]=Pwsget yakachengeteka faira kudhawunirodha
Comment[so]=Pwsget soo dejiyaha fayl sugan
Comment[sq]=Shkarkues i sigurt i skedarëve Pwsget
Comment[st]=Pwsget sehatisi sa faele se sireletsehileng
Comment[su]=Pwsget file downloader aman
Comment[sv]=Pwsget säker filnedladdning
Comment[sw]=Pwsget upakuaji wa faili salama
Comment[ta]=Pwsget பாதுகாப்பான கோப்பு பதிவிறக்கி
Comment[te]=Pwsget సురక్షిత ఫైల్ డౌన్u200cలోడ్
Comment[tg]=Pwsget зеркашии файли бехатар
Comment[th]=Pwsget โปรแกรมดาวน์โหลดไฟล์ที่ปลอดภัย
Comment[ti]=Pwsget ውሑስ ፋይል ኣውርድ
Comment[tk]=Pwsget ygtybarly faýl göçürip alyjy
Comment[tl]=Pwsget secure na file downloader
Comment[to]=Pwsget ʻa e faile ʻoku malu downloader
Comment[ts]=Pwsget xisirhelelo xa fayili yo dawuniloda
Comment[tt]=Pwsget куркынычсыз файл йөкләүче
Comment[tw]=Pwsget ahobammɔ fael downloader
Comment[ty]=Pwsget e faauta-uira-raa i te putuite
Comment[ug]=ﻰﭼﯜﮔﺭﯜﺷﯜﭼ ﺕەﺠﺟﯚﮬ ﺭەﺗەﺨﯩﺑ
Comment[uk]=Захищений завантажувач файлів Pwsget
Comment[ur]=Pwsget ﺭﮈﻮﻠﻧﺅﺍﮈ ﻞﺋﺎﻓ ﻅﻮﻔﺤﻣ
Comment[uz]=Pwsget xavfsiz fayl yuklab olish dasturi
Comment[vi]=Trình tải xuống tệp an toàn Pwsget
Comment[xh]=Pwsget ukhuphelo lwefayile ekhuselekileyo
Comment[yi]=Pwsget רעדאַאָלנוואָד עקעט רעכיז
Comment[yo]=Olugbasilẹ faili ti o ni aabo Pwsget
Comment[zh]=Pwsget 安全文件下载器
Comment[zu]=Pwsget isilandi sefayela esivikelekile
Comment=Pwsget secure file downloader
Exec=pwsget
Terminal=false
Type=Application
Categories=X-Internet-transfer
GenericName=Pwsget
