[Desktop Entry]
Encoding=UTF-8
Name[de]=Libreoffice Writer Textverarbeitung
Name[fr]=Traitement de texte : Libreoffice Writer
Name[es]=Libreoffice Writer: procesador de textos
Name[af]=Libreoffice Writer-woordverwerker
Name[am]=Libreoffice Writer የቃላት አቀናባሪ
Name[ar]=Libreoffice Writer ﺹﻮﺼﻨﻟﺍ ﺞﻟﺎﻌﻣ
Name[as]=Libreoffice Writer ৱৰ্ড প্ৰচেছৰ
Name[ay]=Libreoffice Qillqirix arunak lurayiri
Name[az]=Libreoffice Writer mətn prosessoru
Name[ba]=Либреоффик Яҙыусы һүҙ эшкәртеүсе
Name[be]=Тэкставы працэсар Libreoffice Writer
Name[bg]=Текстов процесор Libreoffice Writer
Name[bm]=Libreoffice Sɛbɛnnikɛla daɲɛw labɛncogo
Name[bn]=Libreoffice রাইটার ওয়ার্ড প্রসেসর
Name[bo]=ལི་པུ་ལི་ཧྥེ་སི་རྩོམ་པ་པོའི་ཡི་གེ་ཐག་གཅོད་འཕྲུལ་ཆས།
Name[bs]=Libreoffice Writer procesor teksta
Name[ca]=Processador de textos Libreoffice Writer
Name[co]=Processore di testi Libreoffice Writer
Name[cs]=Textový procesor Libreoffice Writer
Name[cy]=Prosesydd geiriau Libreoffice Writer
Name[da]=Libreoffice Writer tekstbehandlingsprogram
Name[dv]=ރސަސެރޮޕް ޑްވޯ ރޓައިރަ ސްފީއޮރޭބްލި
Name[ee]=Libreoffice Nuŋlɔla ƒe nyawo ƒe dɔwɔwɔ
Name[el]=Επεξεργαστής κειμένου Libreoffice Writer
Name[eo]=Libreoffice Writer tekstprilaborilo
Name[et]=Libreoffice Writer tekstitöötlusprogramm
Name[eu]=Libreoffice Writer testu-prozesadorea
Name[fa]=Libreoffice Writer ﺯﺍﺩﺮﭘ ﻩﮊﺍﻭ
Name[fi]=Libreoffice Writer tekstinkäsittelyohjelma
Name[fj]=Libreoffice dauvolaivola ni processor
Name[fo]=Libreoffice skrivaer word processor
Name[fy]=Libreoffice Writer tekstferwurker
Name[ga]=Próiseálaí focal Libreoffice Writer
Name[gd]=Pròiseasar facal Libreoffice Writer
Name[gl]=Procesador de textos Libreoffice Writer
Name[gn]=Libreoffice Haihára ñe’ẽryru
Name[gu]=લીબરઓફીસ રાઈટર વર્ડ પ્રોસેસર
Name[ha]=Libreoffice Writer word processor
Name[he]=Libreoffice Writer לש םילילמת דבעמ
Name[hi]=लिबरऑफिस राइटर वर्ड प्रोसेसर
Name[hr]=Libreoffice Writer program za obradu teksta
Name[ht]=Pwosesè tèks Libreoffice Writer
Name[hu]=Libreoffice Writer szövegszerkesztő
Name[hy]=Libreoffice Writer բառային պրոցեսոր
Name[id]=Pengolah kata Libreoffice Writer
Name[ig]=Libreoffice Ode ihe nhazi okwu
Name[is]=Libreoffice Writer ritvinnsluforrit
Name[it]=Elaboratore di testi LibreOffice Writer
Name[iu]=ᓕᐳᕇᔅ ᑎᑎᕋᖅᑎ ᑎᑎᕋᖅᐸᓪᓕᐊᔾᔪᑎ
Name[ja]=Libreoffice Writer ワードプロセッサ
Name[jv]=Pangolah tembung Libreoffice Writer
Name[ka]=Libreoffice Writer ტექსტური პროცესორი
Name[kk]=Libreoffice Writer мәтіндік процессоры
Name[km]=កម្មវិធីវាយអត្ថបទ Libreoffice Writer
Name[kn]=ಲಿಬ್ರೆಆಫೀಸ್ ರೈಟರ್ ವರ್ಡ್ ಪ್ರೊಸೆಸರ್
Name[ko]=Libreoffice 작가 워드 프로세서
Name[ku]=Pêvajoya peyva Libreoffice Writer
Name[ky]=Libreoffice Writer текст процессору
Name[la]=Libreoffice Writer word processor
Name[lb]=Libreoffice Writer Wuertveraarbechter
Name[lg]=Libreoffice Omuwandiisi omukozi webigambo
Name[ln]=Libreoffice Mokomi mobongisi ya maloba
Name[lo]=ໂຮງງານຜະລິດຄໍາ Libreoffice Writer
Name[lt]=Libreoffice Writer tekstų rengyklė
Name[lv]=Libreoffice Writer tekstapstrādes programma
Name[mg]=Mpanoratra teny Libreoffice Mpanoratra
Name[mi]=Tukatuka kupu Kaituhi Libreoffice
Name[mk]=Libreoffice Writer процесор на текст
Name[ml]=ലിബ്രെഓഫീസ് റൈറ്റർ വേഡ് പ്രോസസർ
Name[mn]=Libreoffice Writer текст процессор
Name[mr]=लिबर ऑफिस रायटर वर्ड प्रोसेसर
Name[ms]=Pemproses perkataan Penulis Libreoffice
Name[mt]=Proċessur tal-kliem Libreoffice Writer
Name[my]=Libreoffice Writer စကားလုံး ပရိုဆက်ဆာ
Name[ne]=Libreoffice लेखक शब्द प्रोसेसर
Name[nl]=Libreoffice Writer-tekstverwerker
Name[no]=Libreoffice Writer tekstbehandler
Name[ny]=Libreoffice Wolemba mawu purosesa
Name[om]=Libreoffice Barreessaa jechoota adeemsiftuu
Name[or]=ଲିବ୍ରେଫିସ୍ ରାଇଟର୍ ୱାର୍ଡ ପ୍ରୋସେସର୍ |
Name[pa]=ਲਿਬਰੇਆਫਿਸ ਰਾਈਟਰ ਵਰਡ ਪ੍ਰੋਸੈਸਰ
Name[pl]=edytor tekstu Libreoffice Writer
Name[ps]=ﺮﺴﯿﺳﻭﺮﭘ ﻪﻤﻠﮐ ﻝﺍﻮﮑﯿﻟ Libreoffice ﺩ
Name[pt]=Processador de texto Libreoffice Writer
Name[qu]=Libreoffice Qillqaq simikuna ruwaq
Name[ro]=Procesor de text Libreoffice Writer
Name[ru]=Текстовый процессор Libreoffice Writer
Name[rw]=Libreoffice Umwanditsi ijambo gutunganya
Name[sa]=Libreoffice Writer शब्दसंसाधकः
Name[sd]=Libreoffice Writer ﺮﺴﻴﺳﻭﺮﭘ ﻆﻔﻟ
Name[si]=Libreoffice Writer වචන සකසනය
Name[sk]=Textový procesor Libreoffice Writer
Name[sl]=Urejevalnik besedil Libreoffice Writer
Name[sm]=Freeoffice Tusitala upu faiga
Name[sn]=Libreoffice Munyori izwi processor
Name[so]=Libreoffice Writer word processor
Name[sq]=Përpunues teksti Libreoffice Writer
Name[st]=Sesebelisoa sa mantsoe sa Libreoffice Mongoli
Name[su]=Libreoffice Writer prosesor kecap
Name[sv]=Libreoffice Writer ordbehandlare
Name[sw]=Kichakataji cha maneno cha Mwandishi wa Libreoffice
Name[ta]=Libreoffice Writer சொல் செயலி
Name[te]=లిబ్రేఆఫీస్ రైటర్ వర్డ్ ప్రాసెసర్
Name[tg]=Протсессори матнии Libreoffice Writer
Name[th]=โปรแกรมประมวลผลคำ Libreoffice Writer
Name[ti]=ሊብሬኦፊስ ጸሓፊ ቃላት መስርሒ
Name[tk]=Libreoffice iterazyjy söz prosessory
Name[tl]=Libreoffice Writer word processor
Name[to]=Libreoffice foʻi lea ʻa e tokotaha faʻu tohi processor
Name[tr]=Libreoffice Writer kelime işlemci
Name[ts]=Libreoffice Mutsari muendli wa marito
Name[tt]=Libreoffice Writer сүз процессоры
Name[tw]=Libreoffice Ɔkyerɛwfo nsɛmfua nhyehyɛe
Name[ty]=Libreoffice Taata papai parau
Name[ug]=Libreoffice ﭺﯘﻐﻠﯩﻗ ﭖەﺭەﺗ ﺮﯩﺑ ﺯﯚﺳ ﻰﭼﯘﻏﺯﺎﻳ
Name[uk]=Текстовий процесор Libreoffice Writer
Name[ur]=Libreoffice ﺮﺴﯿﺳﻭﺮﭘ ﮈﺭﻭ ﺮﭩﺋﺍﺭ
Name[uz]=Libreoffice Writer matn protsessori
Name[vi]=Trình xử lý văn bản Libreoffice Writer
Name[xh]=Iprosesa yegama loMbhali weLibreoffice
Name[yi]=Libreoffice Writer רעסעסאַרפּ טראָוו
Name[yo]=Libreoffice Onkọwe ọrọ isise
Name[zh]=Libreoffice Writer 文字处理器
Name[zu]=Iphrosesa yamagama ye-Libreoffice Writer
Name=Libreoffice Writer word processor
Icon=libreoffice-writer.png
Comment[de]=Textverarbeitung für Schriftsteller
Comment[es]=Libreoffice Writer: procesador de textos
Comment[af]=Skrywer woordverwerker
Comment[am]=የጽሑፍ ፕሮሰሰር
Comment[ar]=ﺹﻮﺼﻨﻟﺍ ﺞﻟﺎﻌﻣ ﺐﺗﺎﻛ
Comment[as]=লেখক ৱাৰ্ড প্ৰচেছৰ
Comment[ay]=Qillqirix arunak lurañ yati
Comment[az]=Yazıçı mətn prosessoru
Comment[ba]=Яҙыусы һүҙен эшкәртеүсе
Comment[be]=Тэкставы працэсар Writer
Comment[bg]=Текстов процесор Writer
Comment[bm]=Sɛbɛnnikɛla daɲɛw labɛncogo
Comment[bn]=লেখক ওয়ার্ড প্রসেসর
Comment[bo]=རྩོམ་པ་པོའི་ཡི་གེ་ཐག་གཅོད་འཕྲུལ་ཆས
Comment[bs]=Writer program za obradu teksta
Comment[ca]=Processador de textos Writer
Comment[co]=Prucessore di testi di scrittore
Comment[cs]=Textový procesor spisovatel
Comment[cy]=Ysgrifennwr prosesydd geiriau
Comment[da]=Forfatter tekstbehandling
Comment[dv]=ރސަސެރޮޕް ޑްވޯ ރޓައިރަ
Comment[ee]=Agbalẽŋlɔla ƒe nyawo ɖɔliɖɔli
Comment[el]=Επεξεργαστής κειμένου συγγραφέα
Comment[eo]=Verkisto tekstprilaborilo
Comment[et]=Kirjutaja tekstitöötlusprogramm
Comment[eu]=Writer testu prozesadorea
Comment[fa]=Writer ﺯﺍﺩﺮﭘ ﻩﮊﺍﻭ
Comment[fi]=Kirjoittaja tekstinkäsittelyohjelma
Comment[fj]=Vosa dauvolaivola processor
Comment[fo]=Skrivaer word processor
Comment[fr]=Traitement de texte écrivain
Comment[fy]=Skriuwer wurdferwurker
Comment[ga]=Próiseálaí focal scríbhneoir
Comment[gd]=Sgrìobhadair word processor
Comment[gl]=Procesador de textos Writer
Comment[gn]=Ñe’ẽryru haihára
Comment[gu]=લેખક વર્ડ પ્રોસેસર
Comment[ha]=Marubuci mai sarrafa kalma
Comment[he]=םילילמת רפוס
Comment[hi]=लेखक वर्ड प्रोसेसर
Comment[hr]=Program za obradu teksta Writer
Comment[ht]=Writer word processeur
Comment[hu]=Író szövegszerkesztő
Comment[hy]=Գրող բառ մշակող
Comment[id]=Pengolah kata penulis
Comment[ig]=Nhazi okwu odee
Comment[is]=Ritvinnsluforrit rithöfundur
Comment[it]=Scrittore word processor
Comment[iu]=ᑎᑎᕋᖅᑎᐅᑉ ᓇᕿᑦᑕᐅᓯᕆᔨᖓ
Comment[ja]=ライターワープロ
Comment[jv]=Pangolah tembung panulis
Comment[ka]=Writer word პროცესორი
Comment[kk]=Жазушы мәтіндік процессоры
Comment[km]=កម្មវិធីវាយអត្ថបទសរសេរ
Comment[kn]=ರೈಟರ್ ವರ್ಡ್ ಪ್ರೊಸೆಸರ್
Comment[ko]=작가 워드 프로세서
Comment[ku]=Pêvajoya peyva nivîskar
Comment[ky]=Жазуучу текст процессору
Comment[la]=Scriptor verbum processus
Comment[lb]=Schrëftsteller Wuert Prozessor
Comment[lg]=Omuwandiisi omukozi w’ebigambo
Comment[ln]=Mokomi mobongisi ya maloba
Comment[lo]=ໂຮງງານຜະລິດຄໍາຂອງນັກຂຽນ
Comment[lt]=Rašytojo tekstų rengyklė
Comment[lv]=Rakstīšanas tekstapstrādes programma
Comment[mg]=Mpanoratra teny processeur
Comment[mi]=Kaituhi kupu tukatuka
Comment[mk]=Писател процесор на текст
Comment[ml]=റൈറ്റർ വേഡ് പ്രോസസർ
Comment[mn]=Writer текст процессор
Comment[mr]=लेखक वर्ड प्रोसेसर
Comment[ms]=Pemproses perkataan penulis
Comment[mt]=Writer word processor
Comment[my]=စာရေးဆရာ စကားလုံး ပရိုဆက်ဆာ
Comment[ne]=लेखक शब्द प्रोसेसर
Comment[nl]=Schrijver tekstverwerker
Comment[no]=Forfatter tekstbehandler
Comment[ny]=Wolemba mawu purosesa
Comment[om]=Barreessaa jechoota qopheessaa
Comment[or]=ଲେଖକ ଶବ୍ଦ ସଞ୍ଚାଳକ |
Comment[pa]=ਰਾਈਟਰ ਵਰਡ ਪ੍ਰੋਸੈਸਰ
Comment[pl]=Procesor tekstu pisarza
Comment[ps]=ﺮﺴﯿﺳﻭﺮﭘ ﻪﻤﻠﮐ ﻝﺍﻮﮑﯿﻟ ﺩ
Comment[pt]=Processador de texto Writer
Comment[qu]=Qillqaq simikuna ruwaq
Comment[ro]=Procesor de text Writer
Comment[ru]=Текстовый процессор Writer
Comment[rw]=Umwanditsi utunganya ijambo
Comment[sa]=लेखक शब्दसंसाधक
Comment[sd]=ﺮﺴﻴﺳﻭﺮﭘ ﻆﻔﻟ ڪﮑﻴﻟ
Comment[si]=ලේඛක වචන සකසනය
Comment[sk]=Textový procesor spisovateľ
Comment[sl]=Urejevalnik besedil Writer
Comment[sm]=Tusitala upu gaosi
Comment[sn]=Munyori izwi processor
Comment[so]=Qoraaga kalmadaha
Comment[sq]=Përpunues teksti shkrimtar
Comment[st]=Moqapi oa mantsoe
Comment[su]=Pangolah kecap panulis
Comment[sv]=Författare ordbehandlare
Comment[sw]=Kichakataji maneno cha mwandishi
Comment[ta]=எழுத்தாளர் சொல் செயலி
Comment[te]=రైటర్ వర్డ్ ప్రాసెసర్
Comment[tg]=Протсессори матнии нависанда
Comment[th]=โปรแกรมประมวลผลคำตัวเขียน
Comment[ti]=ጸሓፊ ቃላት ዝሰርሕ
Comment[tk]=Writerazyjy söz prosessory
Comment[tl]=Tagaproseso ng salita ng manunulat
Comment[to]=Foʻi lea ʻa e tokotaha faʻu tohi processor
Comment[tr]=Yazar kelime işlemci
Comment[ts]=Mutsari wa muendli wa marito
Comment[tt]=Язучы сүз процессоры
Comment[tw]=Ɔkyerɛwfo nsɛmfua nhyehyɛe
Comment[ty]=Te taata papai i te mau parau
Comment[ug]=ﭺﯘﻐﻠﯩﻗ ﭖەﺭەﺗ ﺮﯩﺑ ﺯﯚﺳ ﻰﭼﯘﻏﺯﺎﻳ
Comment[uk]=Текстовий процесор Writer
Comment[ur]=ﺮﺴﯿﺳﻭﺮﭘ ﮈﺭﻭ ﺮﭩﺋﺍﺭ
Comment[uz]=Writer soz protsessor
Comment[vi]=Trình soạn thảo văn bản
Comment[xh]=Iprosesa yamagama yombhali
Comment[yi]=רעסעסאַרפּ טראָוו רעביירש
Comment[yo]=Onkọwe ọrọ isise
Comment[zh]=作家文字处理器
Comment[zu]=Iphrosesa yamagama yombhali
Comment=Writer word processor
Exec=swriter
Terminal=false
Type=Application
Categories=WordProcessor
GenericName=Writer
