[Desktop Entry]
Encoding=UTF-8
Name[de]=Take a Shot! Erfassungsfenster oder Bildschirm
Name[fr]=Capture d'écran : Take a Shot!
Name[es]=Take a Shot!: capturar ventana o pantalla
Name[af]=Vat n kans! vang venster of skerm
Name[am]=ተኩስ ውሰድ! ቀረጻ መስኮት ወይም ማያ
Name[ar]=ﺔﺷﺎﺸﻟﺍ ﻭﺃ ﺓﺬﻓﺎﻨﻟﺍ ﻁﺎﻘﺘﻟﺍ !ﺔﻄﻘﻟ ﺬﺧﺃ
Name[as]=এটা শ্বট লওক! কেপচাৰ উইণ্ড বা পৰ্দা
Name[ay]=¡Mä Tiru apsuña! katjañ ventana jan ukax pantalla
Name[az]=Çəkin! pəncərə və ya ekranı çəkin
Name[ba]=Төшөрөп алығыҙ! эләктереү тәҙрәһе йәки экран
Name[be]=Зрабіце стрэл! захоп акна або экрана
Name[bg]=Направете снимка! заснемете прозорец или екран
Name[bm]=Aw ye Shot ta! minɛni finɛtiri walima ekran
Name[bn]=একটি শট নাও! ক্যাপচার উইন্ডো বা পর্দা
Name[bo]=ཁབ་ཅིག་བརྒྱབ་ན་འགྲིག་གི་རེད། འཛིན་བཟུང་བྱས་པའི་སྒེའུ་ཁུང་ངམ་ཡང་
Name[bs]=Probajte! snimite prozor ili ekran
Name[ca]=Feu un tret! finestra o pantalla de captura
Name[co]=Fate un colpo! cattura finestra o schermu
Name[cs]=Střílejte! zachytit okno nebo obrazovku
Name[cy]=Cymerwch Ergyd! cipio ffenestr neu sgrin
Name[da]=Tag et skud! optag vindue eller skærm
Name[dv]=ންރީކްސް ތަވަނު ޑޯންވި ޗާޕްކެ !ވެށެގާނަ އްޓެޝޮ
Name[ee]=Da Tu Ðe Ame Ŋu! lé fesre alo screen
Name[el]=Πάρτε μια βολή! λήψης παραθύρου ή οθόνης
Name[eo]=Prenu Pafon! kapti fenestron aŭ ekranon
Name[et]=Tehke pilt! jäädvustage aken või ekraan
Name[eu]=Hartu tiro bat! harrapatzeko leihoa edo pantaila
Name[fa]=ﺶﯾﺎﻤﻧ ﻪﺤﻔﺻ ﺎﯾ ﻩﺮﺠﻨﭘ ﻦﺘﻓﺮﮔ !ﺮﯿﮕﺑ ﺕﺎﺷ ﮏﯾ
Name[fi]=Ota laukaus! kaapata ikkunaa tai näyttöä
Name[fj]=Taura e dua na Shot! katubaleka ni toboka se sikirini
Name[fo]=Tak/takið eitt skot! capture vindeygað ella skíggja.
Name[fy]=Nim in skot! capture finster of skerm
Name[ga]=Tóg lámhaigh! fuinneog nó scáileán a ghabháil
Name[gd]=Togaibh urchair! glacadh uinneag no sgrion
Name[gl]=Tire un tiro! xanela ou pantalla de captura
Name[gn]=¡Ejapo peteĩ Disparo! ventána térã pantalla captura rehegua
Name[gu]=એક શોટ લો! કેપ્ચર વિન્ડો અથવા સ્ક્રીન
Name[ha]=Dauki Harba! kama taga ko allo
Name[he]=ךסמ וא ןולח תדיכל !טוש חק
Name[hi]=एक शॉट लो! विंडो या स्क्रीन कैप्चर करें
Name[hr]=Pucaj! snimanje prozora ili ekrana
Name[ht]=Pran yon piki! kaptire fenèt oswa ekran
Name[hu]=Vegyél egy lövést! ablak vagy képernyő rögzítése
Name[hy]=Նկարիր: լուսանկարել պատուհանը կամ էկրանը
Name[id]=Mengambil gambar! menangkap jendela atau layar
Name[ig]=Were gbaa! weghara windo ma ọ bụ ihuenyo
Name[is]=Taktu skot! myndatökuglugga eða skjá
Name[it]=Prendi un colpo! cattura la finestra o lo schermo
Name[iu]=ᖁᑭᕆᐊᕐᓗᑎᑦ! ᐃᒐᓛᖅ ᐃᒐᓚᐅᔭᕐᓘᓐᓃᑦ ᐱᔭᕆᑐᕐᓗᒍ
Name[ja]=ショットしてみよう！ウィンドウまたは画面をキャプチャする
Name[jv]=Njupuk Shot! njupuk jendhela utawa layar
Name[ka]=Გასროლა! ფანჯრის ან ეკრანის გადაღება
Name[kk]=Түсіріңіз! терезені немесе экранды түсіру
Name[km]=បាញ់មួយ! ថតអេក្រង់ឬបង្អួច
Name[kn]=ಒಂದು ಶಾಟ್ ತೆಗೆದುಕೊಳ್ಳಿ! ಸೆರೆಹಿಡಿಯುವ ವಿಂಡೋ ಅಥವಾ ಪರದೆ
Name[ko]=샷을 찍어! 창 또는 화면 캡처
Name[ku]=Take a Shot! girtina pencereyê an dîmenderê
Name[ky]=бир атып ал! терезени же экранды тартуу
Name[la]=Sume a offa! captas fenestra vel screen
Name[lb]=Maacht e Schoss! erfaassen Fënster oder Écran
Name[lg]=Twala Essasi! okukwata eddirisa oba screen
Name[ln]=Zwá Lisasi! kokanga fenêtre to écran
Name[lo]=ຖ່າຍຮູບ! ບັນທຶກໜ້າຈໍ ຫຼືໜ້າຈໍ
Name[lt]=Pabandyk! užfiksuoti langą ar ekraną
Name[lv]=Izmēģiniet! uzņemt logu vai ekrānu
Name[mg]=Makà tifitra! fakana varavarankely na efijery
Name[mi]=Tangohia! hopu matapihi, mata ranei
Name[mk]=Фотографирајте! снимајте прозорец или екран
Name[ml]=ഒരു ഷോട്ട്! ക്യാപ്u200cചർ വിൻഡോ അല്ലെങ്കിൽ സ്u200cക്രീൻ
Name[mn]=Буудаарай! цонх эсвэл дэлгэц авах
Name[mr]=एक शॉट घ्या! विंडो किंवा स्क्रीन कॅप्चर करा
Name[ms]=Ambil Tembakan! tetingkap atau skrin tangkap
Name[mt]=Ħu Shot! tieqa jew skrin tal-qbid
Name[my]=ရိုက်ပါ။ ပြတင်းပေါက် သို့မဟုတ် မျက်နှာပြင်ကို ဖမ်းယူပါ။
Name[ne]=एक शट लिनुहोस्! क्याप्चर विन्डो वा स्क्रिन
Name[nl]=Neem een schot! venster of scherm vastleggen
Name[no]=Gjør et forsøk! fangstvindu eller -skjerm
Name[ny]=Jambulani! jambulani zenera kapena skrini
Name[om]=Dhukaasa Fudhadhu! foddaa ykn iskiriinii qabachuu
Name[or]=ଏକ ଗୁଳି ନିଅ! ୱିଣ୍ଡୋ କିମ୍ବା ସ୍କ୍ରିନ୍ କ୍ୟାପଚର୍ କରନ୍ତୁ |
Name[pa]=ਇੱਕ ਸ਼ਾਟ ਲਵੋ! ਵਿੰਡੋ ਜਾਂ ਸਕ੍ਰੀਨ ਨੂੰ ਕੈਪਚਰ ਕਰੋ
Name[pl]=Wykonać strzał! przechwyć okno lub ekran
Name[ps]=ﻝﻮﯿﻧ ﻦﯾﺮﮑﺳ ﺎﯾ ۍﮐړﮐ !ﺊﻠﺧﺍﻭ ټﺎﺷ ﻮﯾ
Name[pt]=Tire uma foto! Janela ou tela de captura
Name[qu]=¡Huk Disparota ruway! hap’iy ventana utaq pantalla
Name[ro]=Ia o lovitură! captură fereastră sau ecran
Name[ru]=Выстрелить! захват окна или экрана
Name[rw]=Fata Shoti! gufata idirishya cyangwa ecran
Name[sa]=एकं शॉट् गृह्यताम्! कैप्चर विण्डो अथवा स्क्रीन
Name[sd]=ﮠڙڪﭘ ﻲﮐ ﻦﻳﺮڪﺳﺍ ﺎﻳ ﻭڊﻧﻭ !ﻮﭠﻭ ٽﺎﺷ ڪﻫ
Name[si]=පහරක් ගන්න! ග්u200dරහණ කවුළුව හෝ තිරය
Name[sk]=Strieľajte! snímacie okno alebo obrazovku
Name[sl]=Posnemite strel! zajem okna ali zaslona
Name[sm]=Fai se fana! pue faamalama poo lau
Name[sn]=Tora Shot! tora hwindo kana skrini
Name[so]=Xabad qaado! daaqad ama shaashad qabso
Name[sq]=Bëj një gjuajtje! kapni dritaren ose ekranin
Name[st]=Nka Thunya! ho nka fensetere kapa skrineng
Name[su]=Candak Shot! newak jandela atawa layar
Name[sv]=Ta ett skott! fånga fönster eller skärm
Name[sw]=Piga Risasi! kukamata dirisha au skrini
Name[ta]=படமெடு! சாளரம் அல்லது திரையைப் பிடிக்கவும்
Name[te]=ప్రయత్నించు! విండో లేదా స్క్రీన్u200cని సంగ్రహించండి
Name[tg]=Як зарба занед! гирифтани тиреза ё экран
Name[th]=ใช้ยิง! จับภาพหน้าต่างหรือหน้าจอ
Name[ti]=ስእሊ ውሰድ! መስኮት ወይ ስክሪን ምቕራጽ
Name[tk]=Okaň! penjiräni ýa-da ekrany almak
Name[tl]=Kumuha ng isang Shot! window o screen ng pagkuha
Name[to]=Fanaʻi koe! maʻu ʻa e window pe screen
Name[tr]=Bir Çekim Yapın! pencere veya ekran yakalama
Name[ts]=Teka Xibalesa! fasitere ro khoma kumbe xikirini
Name[tt]=Атыгыз! тәрәзә яки экранны алу
Name[tw]=Fa Tuo Fa Tuo! capture window anaa screen
Name[ty]=A rave i te hoê hiopoaraa ! haru mai i te haamaramarama e aore râ te paruai
Name[ug]=ﻥﺍﺮﻜﯧﺋ ﻰﻛﺎﻳ ﻙەﻧﺯﯚﻛ !ﯔﯩﺗﺭﺎﺗ
Name[uk]=Зробіть постріл! зняти вікно або екран
Name[ur]=۔ﮟﯾﺮﮐ ﮧﻀﺒﻗ ﺮﭘ ﻦﯾﺮﮑﺳﺍ ﺎﯾ ﻭﮉﻧﻭ !ﮟﯿﺋﺎﮕﻟ ﭦﺎﺷ
Name[uz]=Suratga oling! oyna yoki ekranni suratga olish
Name[vi]=Chụp! chụp cửa sổ hoặc màn hình
Name[xh]=Thatha iShot! bamba ifestile okanye isikrini
Name[yi]=ןלעטשראַפ רעדאָ רעטצנעפֿ ןפּאַכ !סאָש אַ ןעמענ
Name[yo]=Ya shot! Yaworan window tabi iboju
Name[zh]=开枪吧！捕获窗口或屏幕
Name[zu]=Thatha iShot! thwebula iwindi noma isikrini
Name=Take a Shot! capture window or screen
Icon=/usr/share/pixmaps/puppy/photocamera.svg
Comment[de]=Screenshot-Dienstprogramm
Comment[es]=Utilidad de captura de pantalla
Comment[af]=Skermskoot nut
Comment[am]=የቅጽበታዊ ገጽ እይታ መገልገያ
Comment[ar]=ﺔﺷﺎﺸﻟﺍ ﺔﻄﻘﻟ ﺓﺪﺋﺎﻓ
Comment[as]=স্ক্ৰীণশ্বট সঁজুলি
Comment[ay]=Pantalla uñacht’ayaña utilidad
Comment[az]=Ekran görüntüsü yardım proqramı
Comment[ba]=Скриншот утилитаһы
Comment[be]=Ўтыліта скрыншотаў
Comment[bg]=Помощна програма за екранни снимки
Comment[bm]=Screenshot nafamafɛn
Comment[bn]=স্ক্রিনশট ইউটিলিটি
Comment[bo]=པར་རིས་སྤྱི་སྤྱོད་སྒྲིག་ཆས།
Comment[bs]=Uslužni program za snimanje ekrana
Comment[ca]=Utilitat de captura de pantalla
Comment[co]=Utilità di screenshot
Comment[cs]=Nástroj pro snímky obrazovky
Comment[cy]=Cyfleustodau sgrinlun
Comment[da]=Skærmbillede værktøj
Comment[dv]=ޓީލިޓިޔު ޓްޝޮންރީކްސް
Comment[ee]=Screenshot ƒe dɔwɔnu
Comment[el]=Βοηθητικό στιγμιότυπο οθόνης
Comment[eo]=Ekrankopio utileco
Comment[et]=Ekraanipildi utiliit
Comment[eu]=Pantaila-argazkiaren erabilgarritasuna
Comment[fa]=ﺕﺎﺷ ﻦﯾﺮﮑﺳﺍ ﺭﺍﺰﺑﺍ
Comment[fi]=Screenshot-apuohjelma
Comment[fj]=iYaya ni sikirini
Comment[fo]=Screenshot utility
Comment[fr]=Utilitaire de capture décran
Comment[fy]=Skermprint nut
Comment[ga]=Fóntais scáileáin
Comment[gd]=Goireas glacadh-sgrìn
Comment[gl]=Utilidade de captura de pantalla
Comment[gn]=Utilidad pantalla’i rehegua
Comment[gu]=સ્ક્રીનશોટ ઉપયોગિતા
Comment[ha]=Screenshot mai amfani
Comment[he]=ךסמ םוליצ ילכ
Comment[hi]=स्क्रीनशॉट उपयोगिता
Comment[hr]=Uslužni program za snimanje zaslona
Comment[ht]=Ekran sèvis piblik
Comment[hu]=Screenshot segédprogram
Comment[hy]=Սքրինշոթի օգտակար ծրագիր
Comment[id]=Utilitas tangkapan layar
Comment[ig]=Ngwa nseta ihuenyo
Comment[is]=Skjámyndaforrit
Comment[it]=Utilità screenshot
Comment[iu]=ᐃᒐᓚᐅᔭᐅᑉ ᐃᒐᓚᐅᔭᖓ
Comment[ja]=スクリーンショットユーティリティ
Comment[jv]=Utilitas screenshot
Comment[ka]=სკრინშოტის პროგრამა
Comment[kk]=Скриншот утилитасы
Comment[km]=ឧបករណ៍ប្រើប្រាស់រូបថតអេក្រង់
Comment[kn]=ಸ್ಕ್ರೀನ್u200cಶಾಟ್ ಉಪಯುಕ್ತತೆ
Comment[ko]=스크린샷 유틸리티
Comment[ku]=Alîkariya Screenshot
Comment[ky]=Скриншот утилитасы
Comment[la]=Screenshot utilitate
Comment[lb]=Screenshot Utility
Comment[lg]=Ekintu ekiyamba okukuba ekifaananyi ku screen
Comment[ln]=Utilitaire ya capture décran
Comment[lo]=ຜົນປະໂຫຍດພາບຫນ້າຈໍ
Comment[lt]=Ekrano kopijos įrankis
Comment[lv]=Ekrānuzņēmumu utilīta
Comment[mg]=Fampiasana pikantsary
Comment[mi]=whaipainga Whakaahuamata
Comment[mk]=Алатка за слики од екранот
Comment[ml]=സ്ക്രീൻഷോട്ട് യൂട്ടിലിറ്റി
Comment[mn]=Дэлгэцийн зургийн хэрэгсэл
Comment[mr]=स्क्रीनशॉट उपयुक्तता
Comment[ms]=Utiliti tangkapan skrin
Comment[mt]=Utilità screenshot
Comment[my]=Screenshot တွေရှိမှာပေါ့။
Comment[ne]=स्क्रिनसट उपयोगिता
Comment[nl]=Screenshot-hulpprogramma
Comment[no]=Skjermbildeverktøy
Comment[ny]=Screenshot zothandiza
Comment[om]=Faayidaa suuraa iskiriinii
Comment[or]=ସ୍କ୍ରିନସଟ୍ ଉପଯୋଗିତା |
Comment[pa]=ਸਕਰੀਨਸ਼ਾਟ ਸਹੂਲਤ
Comment[pl]=Narzędzie do zrzutów ekranu
Comment[ps]=ﺖﯾﺩﺎﻓﺍ ټﺎﺷ ﻦﯾﺮﮑﺳ ﺩ
Comment[pt]=Utilitário de captura de tela
Comment[qu]=Pantalla hapinapaq yanapakuy
Comment[ro]=Utilitar de captură de ecran
Comment[ru]=Утилита для скриншотов
Comment[rw]=Igikoresho cyerekana amashusho
Comment[sa]=स्क्रीनशॉट उपयोगिता
Comment[sd]=ﺖﻳﺩﺎﻓﺍ ٽﺎﺷ ﻦﻳﺮڪﺳﺍ
Comment[si]=තිරපිටපත් උපයෝගීතාව
Comment[sk]=Pomôcka na snímanie obrazovky
Comment[sl]=Pripomoček za posnetke zaslona
Comment[sm]=Faaoga ata
Comment[sn]=Screenshot utility
Comment[so]=Utility Screenshot
Comment[sq]=Shërbimi i pamjes së ekranit
Comment[st]=Sesebelisoa sa skrini
Comment[su]=Utiliti screenshot
Comment[sv]=Skärmdumpsverktyg
Comment[sw]=Huduma ya picha ya skrini
Comment[ta]=ஸ்கிரீன்ஷாட் பயன்பாடு
Comment[te]=స్క్రీన్షాట్ ప్రయోజనం
Comment[tg]=Утилитаи скриншот
Comment[th]=ยูทิลิตี้ภาพหน้าจอ
Comment[ti]=ስክሪን ሾት ዩቲሊቲ
Comment[tk]=Ekranyň suraty
Comment[tl]=Utility ng screenshot
Comment[to]=ʻUhila ʻo e ʻata
Comment[tr]=Ekran görüntüsü yardımcı programı
Comment[ts]=Xitirhisiwa xa xifaniso xa xikirini
Comment[tt]=Скриншот ярдәме
Comment[tw]=Screenshot a wɔde di dwuma
Comment[ty]=Screenshot
Comment[ug]=ﻰﺷﯜﻧﯛﺭﯚﻛ ﻥﺍﺮﻜﯧﺋ
Comment[uk]=Утиліта для скріншотів
Comment[ur]=ﺖﯾﺩﺎﻓﺍ ﯽﮐ ﭦﺎﺷ ﻦﯾﺮﮑﺳﺍ
Comment[uz]=Skrinshot yordam dasturi
Comment[vi]=tiện ích ảnh chụp màn hình
Comment[xh]=Usetyenziso lwekhusi
Comment[yi]=ןצונ טאָשנעערקס
Comment[yo]=IwUlO sikirinifoto
Comment[zh]=截图实用程序
Comment[zu]=Isisetshenziswa sesithombe-skrini
Comment=Screenshot utility
Exec=tas
Terminal=false
Type=Application
Categories=X-GraphicUtility
