[Desktop Entry]
Encoding=UTF-8
Name[bg]=ТВ панел
Name[da]=TV panel
Name[de]=TV-Panel
Name[el]=Πάνελ τηλεόρασης
Name[es]=panel de televisión
Name[fi]=TV-paneeli
Name[fr]=Panneau TV
Name[hu]=TV panel
Name[is]=Sjónvarpsborð
Name[it]=Pannello televisivo
Name[nl]=Tv-paneel
Name[pl]=Panel telewizyjny
Name[pt]=painel de tv
Name[ru]=ТВ-панель
Name[sv]=TV-panel
Name[af]=TV-paneel
Name[am]=የቲቪ ፓነል
Name[ar]=ﻥﻮﻳﺰﻔﻠﺗ ﺔﺣﻮﻟ
Name[as]=টিভি পেনেল
Name[ay]=Panel de TV ukax mä jach’a uñacht’äwiwa
Name[az]=Televiziya paneli
Name[ba]=Телевизор панелдәре
Name[be]=Тэлевізійная панэль
Name[bm]=Telewisɔn Panɛli
Name[bn]=টিভি প্যানেল
Name[bo]=བརྙན་འཕྲིན་ཚོ་ཆུང་།
Name[bs]=TV Panel
Name[ca]=Panell de TV
Name[co]=Panel TV
Name[cs]=TV panel
Name[cy]=Panel Teledu
Name[dv]=ލްނަޕެ ވީޓީ
Name[ee]=TV dzi Panel
Name[eo]=Televida Panelo
Name[et]=TV paneel
Name[eu]=Telebista Panela
Name[fa]=ﻥﻮﯾﺰﯾﻮﻠﺗ ﻞﻨﭘ
Name[fj]=Mataveivosaki ni TV
Name[fo]=sjónvarp Panel
Name[fy]=TV Panel
Name[ga]=Painéal Teilifíse
Name[gd]=Pannal Tbh
Name[gl]=Panel de TV
Name[gn]=Panel de TV rehegua
Name[gu]=ટીવી પેનલ
Name[ha]=Tashar Talabijin
Name[he]=היזיוולט לנאפ
Name[hi]=टीवी पैनल
Name[hr]=TV ploča
Name[ht]=Panel televizyon
Name[hy]=Հեռուստատեսային վահանակ
Name[id]=Panel TV
Name[ig]=Ogwe TV
Name[iu]=ᑕᓚᕕᓴᒃᑯᑦ
Name[ja]=テレビパネル
Name[jv]=Panel TV
Name[ka]=ტელევიზორის პანელი
Name[kk]=Теледидар панелі
Name[km]=បន្ទះទូរទស្សន៍
Name[kn]=ಟಿವಿ ಪ್ಯಾನಲ್
Name[ko]=TV 패널
Name[ku]=Panela TV
Name[ky]=ТВ панели
Name[la]=TV Panel
Name[lb]=TV Panel
Name[lg]=Ekipande kya TV
Name[ln]=Panneau ya TV
Name[lo]=ແຜງໂທລະທັດ
Name[lt]=TV skydelis
Name[lv]=TV panelis
Name[mg]=TV Panel
Name[mi]=Paewhiri pouaka whakaata
Name[mk]=ТВ панел
Name[ml]=ടിവി പാനൽ
Name[mn]=ТВ самбар
Name[mr]=टीव्ही पॅनेल
Name[ms]=Panel TV
Name[mt]=Panel tat-TV
Name[my]=TV Panel
Name[ne]=टिभी प्यानल
Name[no]=TV-panel
Name[ny]=TV Panel
Name[om]=Paanaalii TV
Name[or]=ଟିଭି ପ୍ୟାନେଲ୍ |
Name[pa]=ਟੀਵੀ ਪੈਨਲ
Name[ps]=ﻞﻨﯿﭘ ﻥﻮﯾﺰﯾﻮﻠﺗ ﺩ
Name[qu]=Panel de TV nisqa
Name[ro]=Panoul TV
Name[rw]=Ikibaho cya TV
Name[sa]=टीवी पैनल
Name[sd]=ﻞﻨﻴﭘ ﻱﻭ ﻲٽ
Name[si]=රූපවාහිනී පැනලය
Name[sk]=TV panel
Name[sl]=TV plošča
Name[sm]=TV Panel
Name[sn]=TV Panel
Name[so]=Guddiga TV-ga
Name[sq]=Paneli televiziv
Name[st]=Sehlopha sa TV
Name[su]=Panel TV
Name[sw]=Paneli ya TV
Name[ta]=டிவி பேனல்
Name[te]=టీవీ ప్యానెల్
Name[tg]=Панели телевизион
Name[th]=แผงทีวี
Name[ti]=ቲቪ ፓነል
Name[tk]=Telewizor paneli
Name[tl]=Panel ng TV
Name[to]=Penolo ʻo e TV
Name[tr]=televizyon paneli
Name[ts]=Panele ya TV
Name[tt]=Телевизор
Name[tw]=TV Panel so Panel
Name[ty]=Hohoa i roto i te afata teata
Name[ug]=TV Panel
Name[uk]=Телевізійна панель
Name[ur]=ﻞﻨﯿﭘ ﯼﻭ ﯽﭨ
Name[uz]=Televizor paneli
Name[vi]=Bảng điều khiển TV
Name[xh]=Iphaneli yeTV
Name[yi]=לענאַפּ עיזיוועלעט
Name[yo]=Igbimọ TV
Name[zh]=电视面板
Name[zu]=Iphaneli ye-TV
Name=TV Panel
Icon=tv.png
Comment[de]=nichts
Comment[fr]=vide
Comment[af]=geen
Comment[am]=ምንም
Comment[ar]=ﺪﺣﺃ ﻻ﻿
Comment[as]=একো নাই
Comment[ay]=janiwkhitisa
Comment[az]=heç biri
Comment[ba]=юҡ
Comment[be]=ні адзін
Comment[bg]=нито един
Comment[bm]=foɲisi
Comment[bn]=কোনটি
Comment[bo]=གཅིག་ཀྱང་མེད།
Comment[bs]=nijedan
Comment[ca]=cap
Comment[co]=nimu
Comment[cs]=žádný
Comment[cy]=dim
Comment[da]=ingen
Comment[dv]=ންނޫއްޗެއްއެ
Comment[ee]=ɖeke o
Comment[el]=κανένας
Comment[eo]=neniu
Comment[es]=ninguno
Comment[et]=mitte ühtegi
Comment[eu]=bat ere ez
Comment[fa]=ﮏﯾ ﭻﯿﻫ
Comment[fi]=ei mitään
Comment[fj]=sega
Comment[fo]=eingin
Comment[fy]=gjin
Comment[ga]=aon cheann
Comment[gd]=gin
Comment[gl]=ningún
Comment[gn]=avave
Comment[gu]=કોઈ નહીં
Comment[ha]=babu
Comment[he]=דחא ףא
Comment[hi]=कोई नहीं
Comment[hr]=nikakav
Comment[ht]=okenn
Comment[hu]=egyik sem
Comment[hy]=ոչ ոք
Comment[id]=tidak ada
Comment[ig]=onweghi
Comment[is]=enginn
Comment[it]=nessuno
Comment[iu]=ᐱᑕᖃᔮ
Comment[ja]=なし
Comment[jv]=ora ana
Comment[ka]=არცერთი
Comment[kk]=жоқ
Comment[km]=គ្មាន
Comment[kn]=ಯಾವುದೂ
Comment[ko]=없음
Comment[ku]=netû
Comment[ky]=эч ким
Comment[la]=nullus
Comment[lb]=keng
Comment[lg]=tewali
Comment[ln]=moko te
Comment[lo]=ບໍ່ມີ
Comment[lt]=nė vienas
Comment[lv]=neviens
Comment[mg]=tsy misy
Comment[mi]=kahore
Comment[mk]=ниеден
Comment[ml]=ഒന്നുമില്ല
Comment[mn]=аль нь ч биш
Comment[mr]=काहीही नाही
Comment[ms]=tiada
Comment[mt]=xejn
Comment[my]=မရှိ
Comment[ne]=कुनै पनि
Comment[nl]=geen
Comment[no]=ingen
Comment[ny]=palibe
Comment[om]=homaa
Comment[or]=କିଛି ନୁହେଁ |
Comment[pa]=ਕੋਈ ਨਹੀਂ
Comment[pl]=nic
Comment[ps]=ﻪﻧ څﯿﻫ
Comment[pt]=nenhum
Comment[qu]=mana mayqinpas
Comment[ro]=nici unul
Comment[ru]=никто
Comment[rw]=nta na kimwe
Comment[sa]=न कश्चित्
Comment[sd]=ﻪﺑ ﻮڪ
Comment[si]=කිසිවක් නැත
Comment[sk]=žiadny
Comment[sl]=nič
Comment[sm]=leai se tasi
Comment[sn]=hapana
Comment[so]=midna
Comment[sq]=asnje
Comment[st]=ha ho letho
Comment[su]=euweuh
Comment[sv]=ingen
Comment[sw]=hakuna
Comment[ta]=எதுவும் இல்லை
Comment[te]=ఏదీ లేదు
Comment[tg]=ҳеҷ
Comment[th]=ไม่มี
Comment[ti]=ዋላ ሓደ
Comment[tk]=hiç
Comment[tl]=wala
Comment[to]=hala ha taha
Comment[tr]=hiçbiri
Comment[ts]=hava
Comment[tt]=юк
Comment[tw]=ɛnyɛ ebiara
Comment[ty]=Te mau manao tauturu no te
Comment[ug]=none
Comment[uk]=немає
Comment[ur]=ﮟﯿﮩﻧ ﯽﺋﻮﮐ
Comment[uz]=yoq
Comment[vi]=không có
Comment[xh]=akukho nanye
Comment[yi]=טינראָג
Comment[yo]=ko si
Comment[zh]=没有任何
Comment[zu]=akukho
Comment=none
Exec=/root/noob/noob128_front_end
Terminal=false
Type=Application
Categories=X-Multimedia
GenericName=tvpanel
