[Desktop Entry]
Encoding=UTF-8
Name[de]=uGet Download-Manager
Name[fr]=Gestionnaire de téléchargement : Uget
Name[es]=uGet: gestor de descargas
Name[af]=uKry aflaaibestuurder
Name[am]=የማውረድ አስተዳዳሪን ያግኙ
Name[ar]=ﻞﻳﺰﻨﺘﻟﺍ ﺮﻳﺪﻣ ﻰﻠﻋ ﻞﺼﺣﺍ
Name[as]=uGet ডাউনলোড ব্যৱস্থাপক
Name[ay]=uGet descarga apnaqiri
Name[az]=uGet yükləmə meneceri
Name[ba]=uGet йөкләү менеджеры
Name[be]=Менеджэр загрузак uGet
Name[bg]=uGet мениджър за изтегляне
Name[bm]=uGet telesarse ɲɛmɔgɔ
Name[bn]=uGet ডাউনলোড ম্যানেজার
Name[bo]=uGet ཕབ་ལེན་སྤྱི་གཉེར་བ།
Name[bs]=uGet menadžer preuzimanja
Name[ca]=uGet gestor de descàrregues
Name[co]=uGet download manager
Name[cs]=uGet správce stahování
Name[cy]=uGet rheolwr lawrlwytho
Name[da]=uGet download manager
Name[dv]=uރޖަނޭމެ ޑްލޯންއުޑަ ޓްގޭ
Name[ee]=uGet download dzikpɔla
Name[el]=uGet download manager
Name[eo]=uGet elŝuta administranto
Name[et]=uGet allalaadimishaldur
Name[eu]=uGet deskarga kudeatzailea
Name[fa]=uGet ﺩﻮﻠﻧﺍﺩ ﺮﯾﺪﻣ
Name[fi]=uGet lataushallinta
Name[fj]=manidia ni lavetaki ni uGet
Name[fo]=uGet download manager
Name[fy]=uGet downloadbehearder
Name[ga]=uGet bainisteoir íoslódáil
Name[gd]=uGet manaidsear luchdachadh sìos
Name[gl]=Administrador de descargas uGet
Name[gn]=uOhupyty ñemboguejyha mohendaha
Name[gu]=uGet ડાઉનલોડ મેનેજર
Name[ha]=uGet download Manager
Name[he]=uGet תודרוה להנמ
Name[hi]=यू डाउनलोड प्रबंधक प्राप्त करें
Name[hr]=uGet upravitelj preuzimanja
Name[ht]=uGet manadjè telechaje
Name[hu]=uGet letöltéskezelő
Name[hy]=uGet ներբեռնման կառավարիչ
Name[id]=uDapatkan pengelola unduhan
Name[ig]=uNweta njikwa nbudata
Name[is]=uFá niðurhalsstjóra
Name[it]=uOttieni il download manager
Name[iu]=uGet ᒥᓇᕆᓂᐊᕐᓗᒍ ᐊᐅᓚᑦᑎᔨ
Name[ja]=uダウンロードマネージャーを入手
Name[jv]=uGet download manager
Name[ka]=u მიიღეთ ჩამოტვირთვის მენეჯერი
Name[kk]=u Жүктеу менеджерін алыңыз
Name[km]=uGet កម្មវិធីគ្រប់គ្រងការទាញយក
Name[kn]=uGet ಡೌನ್u200cಲೋಡ್ ಮ್ಯಾನೇಜರ್
Name[ko]=uGet 다운로드 관리자
Name[ku]=uGet gerînendeyê dakêşanê
Name[ky]=uGet жүктөө менеджери
Name[la]=uGet download procurator
Name[lb]=uGet Download Manager
Name[lg]=uFuna omuddukanya okuwanula
Name[ln]=uGet mokambi ya téléchargement
Name[lo]=uGet ຜູ້ຈັດການດາວໂຫຼດ
Name[lt]=uGet atsisiuntimų tvarkyklė
Name[lv]=uGet lejupielādes pārvaldnieks
Name[mg]=uGet mpitantana download
Name[mi]=uGet kaiwhakahaere tikiake
Name[mk]=uGet менаџер за преземање
Name[ml]=uGet ഡൗൺലോഡ് മാനേജർ
Name[mn]=Татаж авах менежерийг татаж авна уу
Name[mr]=uGet डाउनलोड व्यवस्थापक
Name[ms]=uDapatkan pengurus muat turun
Name[mt]=uGet download manager
Name[my]=uGet ဒေါင်းလုဒ်မန်နေဂျာ
Name[ne]=uGet डाउनलोड प्रबन्धक
Name[nl]=uGet downloadmanager
Name[no]=uGet nedlastingsbehandler
Name[ny]=uGet download manejala
Name[om]=uGet bulchaa buufannaa
Name[or]=uGet ଡାଉନଲୋଡ୍ ମ୍ୟାନେଜର୍ |
Name[pa]=uGet ਡਾਊਨਲੋਡ ਮੈਨੇਜਰ
Name[pl]=uPobierz menedżera pobierania
Name[ps]=ﺮﯾﺪﻣ ډﻮﻠﻧﻭﺍډ uGet ﺩ
Name[pt]=uGet gerenciador de download
Name[qu]=uGet descarga kamachiq
Name[ro]=uGet manager de descărcare
Name[ru]=uGet менеджер загрузок
Name[rw]=uGet umuyobozi
Name[sa]=uGet डाउनलोड प्रबन्धक
Name[sd]=uGet ﺮﺠﻴﻨﺌﻣ ڊﻮﻟ ﻥﻮﺋﺍڊ
Name[si]=uGet බාගැනීම් කළමනාකරු
Name[sk]=uZískajte správcu sťahovania
Name[sl]=uGet upravitelj prenosov
Name[sm]=uGet download manager
Name[sn]=Tora download maneja
Name[so]=uhel maamulaha soo dejinta
Name[sq]=uGet menaxher shkarkimi
Name[st]=Fumana mookameli oa download
Name[su]=uGet download manager
Name[sv]=uGet nedladdningshanteraren
Name[sw]=Pata meneja wa upakuaji
Name[ta]=uGet பதிவிறக்க மேலாளர்
Name[te]=uGet డౌన్u200cలోడ్ మేనేజర్
Name[tg]=uGet менеҷери зеркашӣ
Name[th]=รับตัวจัดการการดาวน์โหลด
Name[ti]=uGet ዳውንሎድ ማናጀር
Name[tk]=uGet ýükleme menejeri
Name[tl]=uGet download manager
Name[to]=uGet download e pule
Name[tr]=uGet indirme yöneticisi
Name[ts]=uKu kuma mufambisi wa ku dawuniloda
Name[tt]=йөкләү менеджеры
Name[tw]=uGet download sohwɛfo
Name[ty]=te taata faatere no te faauta-uira-raa
Name[ug]=uGet ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺵﯛﺭﯜﺷﯜﭼ
Name[uk]=uGet менеджер завантажень
Name[ur]=uGet ﺮﺠﯿﻨﯿﻣ ﮈﻮﻟ ﻥﺅﺍﮈ
Name[uz]=uGet yuklab olish menejeri
Name[vi]=uGet quản lý download
Name[xh]=Fumana umphathi wokukhuphela
Name[yi]=רעטלאַווראַפ עיפאקפארא טגו
Name[yo]=uGet download faili
Name[zh]=uGet下载管理器
Name[zu]=Thola umphathi wokulanda
Name=uGet download manager
Comment[de]=uGet Download-Manager
Comment[es]=uGet: gestor de descargas
Comment[af]=uKry aflaaibestuurder
Comment[am]=የማውረድ አስተዳዳሪን ያግኙ
Comment[ar]=ﻞﻳﺰﻨﺘﻟﺍ ﺮﻳﺪﻣ ﻰﻠﻋ ﻞﺼﺣﺍ
Comment[as]=uGet ডাউনলোড ব্যৱস্থাপক
Comment[ay]=uGet descarga apnaqiri
Comment[az]=uGet yükləmə meneceri
Comment[ba]=uGet йөкләү менеджеры
Comment[be]=Менеджэр загрузак uGet
Comment[bg]=uGet мениджър за изтегляне
Comment[bm]=uGet telesarse ɲɛmɔgɔ
Comment[bn]=uGet ডাউনলোড ম্যানেজার
Comment[bo]=uGet ཕབ་ལེན་སྤྱི་གཉེར་བ།
Comment[bs]=uGet menadžer preuzimanja
Comment[ca]=uGet gestor de descàrregues
Comment[co]=uGet download manager
Comment[cs]=uGet správce stahování
Comment[cy]=uGet rheolwr lawrlwytho
Comment[da]=uGet download manager
Comment[dv]=uރޖަނޭމެ ޑްލޯންއުޑަ ޓްގޭ
Comment[ee]=uGet download dzikpɔla
Comment[el]=uGet download manager
Comment[eo]=uGet elŝuta administranto
Comment[et]=uGet allalaadimishaldur
Comment[eu]=uGet deskarga kudeatzailea
Comment[fa]=uGet ﺩﻮﻠﻧﺍﺩ ﺮﯾﺪﻣ
Comment[fi]=uGet lataushallinta
Comment[fj]=manidia ni lavetaki ni uGet
Comment[fo]=uGet download manager
Comment[fr]=Gestionnaire de téléchargement uGet
Comment[fy]=uGet downloadbehearder
Comment[ga]=uGet bainisteoir íoslódáil
Comment[gd]=uGet manaidsear luchdachadh sìos
Comment[gl]=Administrador de descargas uGet
Comment[gn]=uOhupyty ñemboguejyha mohendaha
Comment[gu]=uGet ડાઉનલોડ મેનેજર
Comment[ha]=uGet download Manager
Comment[he]=uGet תודרוה להנמ
Comment[hi]=यू डाउनलोड प्रबंधक प्राप्त करें
Comment[hr]=uGet upravitelj preuzimanja
Comment[ht]=uGet manadjè telechaje
Comment[hu]=uGet letöltéskezelő
Comment[hy]=uGet ներբեռնման կառավարիչ
Comment[id]=uDapatkan pengelola unduhan
Comment[ig]=uNweta njikwa nbudata
Comment[is]=uFá niðurhalsstjóra
Comment[it]=uOttieni il download manager
Comment[iu]=uGet ᒥᓇᕆᓂᐊᕐᓗᒍ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=uダウンロードマネージャーを入手
Comment[jv]=uGet download manager
Comment[ka]=u მიიღეთ ჩამოტვირთვის მენეჯერი
Comment[kk]=u Жүктеу менеджерін алыңыз
Comment[km]=uGet កម្មវិធីគ្រប់គ្រងការទាញយក
Comment[kn]=uGet ಡೌನ್u200cಲೋಡ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=uGet 다운로드 관리자
Comment[ku]=uGet gerînendeyê dakêşanê
Comment[ky]=uGet жүктөө менеджери
Comment[la]=uGet download procurator
Comment[lb]=uGet Download Manager
Comment[lg]=uFuna omuddukanya okuwanula
Comment[ln]=uGet mokambi ya téléchargement
Comment[lo]=uGet ຜູ້ຈັດການດາວໂຫຼດ
Comment[lt]=uGet atsisiuntimų tvarkyklė
Comment[lv]=uGet lejupielādes pārvaldnieks
Comment[mg]=uGet mpitantana download
Comment[mi]=uGet kaiwhakahaere tikiake
Comment[mk]=uGet менаџер за преземање
Comment[ml]=uGet ഡൗൺലോഡ് മാനേജർ
Comment[mn]=Татаж авах менежерийг татаж авна уу
Comment[mr]=uGet डाउनलोड व्यवस्थापक
Comment[ms]=uDapatkan pengurus muat turun
Comment[mt]=uGet download manager
Comment[my]=uGet ဒေါင်းလုဒ်မန်နေဂျာ
Comment[ne]=uGet डाउनलोड प्रबन्धक
Comment[nl]=uGet downloadmanager
Comment[no]=uGet nedlastingsbehandler
Comment[ny]=uGet download manejala
Comment[om]=uGet bulchaa buufannaa
Comment[or]=uGet ଡାଉନଲୋଡ୍ ମ୍ୟାନେଜର୍ |
Comment[pa]=uGet ਡਾਊਨਲੋਡ ਮੈਨੇਜਰ
Comment[pl]=uPobierz menedżera pobierania
Comment[ps]=ﺮﯾﺪﻣ ډﻮﻠﻧﻭﺍډ uGet ﺩ
Comment[pt]=uGet gerenciador de download
Comment[qu]=uGet descarga kamachiq
Comment[ro]=uGet manager de descărcare
Comment[ru]=uGet менеджер загрузок
Comment[rw]=uGet umuyobozi
Comment[sa]=uGet डाउनलोड प्रबन्धक
Comment[sd]=uGet ﺮﺠﻴﻨﺌﻣ ڊﻮﻟ ﻥﻮﺋﺍڊ
Comment[si]=uGet බාගැනීම් කළමනාකරු
Comment[sk]=uZískajte správcu sťahovania
Comment[sl]=uGet upravitelj prenosov
Comment[sm]=uGet download manager
Comment[sn]=Tora download maneja
Comment[so]=uhel maamulaha soo dejinta
Comment[sq]=uGet menaxher shkarkimi
Comment[st]=Fumana mookameli oa download
Comment[su]=uGet download manager
Comment[sv]=uGet nedladdningshanteraren
Comment[sw]=Pata meneja wa upakuaji
Comment[ta]=uGet பதிவிறக்க மேலாளர்
Comment[te]=uGet డౌన్u200cలోడ్ మేనేజర్
Comment[tg]=uGet менеҷери зеркашӣ
Comment[th]=รับตัวจัดการการดาวน์โหลด
Comment[ti]=uGet ዳውንሎድ ማናጀር
Comment[tk]=uGet ýükleme menejeri
Comment[tl]=uGet download manager
Comment[to]=uGet download e pule
Comment[tr]=uGet indirme yöneticisi
Comment[ts]=uKu kuma mufambisi wa ku dawuniloda
Comment[tt]=йөкләү менеджеры
Comment[tw]=uGet download sohwɛfo
Comment[ty]=te taata faatere no te faauta-uira-raa
Comment[ug]=uGet ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺵﯛﺭﯜﺷﯜﭼ
Comment[uk]=uGet менеджер завантажень
Comment[ur]=uGet ﺮﺠﯿﻨﯿﻣ ﮈﻮﻟ ﻥﺅﺍﮈ
Comment[uz]=uGet yuklab olish menejeri
Comment[vi]=uGet quản lý download
Comment[xh]=Fumana umphathi wokukhuphela
Comment[yi]=רעטלאַווראַפ עיפאקפארא טגו
Comment[yo]=uGet download faili
Comment[zh]=uGet下载管理器
Comment[zu]=Thola umphathi wokulanda
Comment=uGet download manager
Exec=uget-gtk
Icon=uget-gtk.png
Terminal=false
Type=Application
Categories=X-Internet-transfer
