[Desktop Entry]
Encoding=UTF-8
Name[bg]=Изтеглете най-новия Vivaldi
Name[cs]=Stáhněte si nejnovější Vivaldi
Name[da]=Download den seneste Vivaldi
Name[nl]=Download de nieuwste Vivaldi
Name[fi]=Lataa uusin Vivaldi
Name[fr]=Télécharger le dernier Vivaldi
Name[de]=Laden Sie die neueste Version von Vivaldi
Name[el]=Κατεβάστε το τελευταίο Vivaldi
Name[hu]=Töltse le a legújabb Vivaldi
Name[it]=Scarica l'ultimo Vivaldi
Name[pl]=Pobierz najnowszego Vivaldi
Name[pt]=Baixar Vivaldi mais recente
Name[ru]=Скачать последнюю версию Vivaldi
Name[es]=Descarga la última versión de Vivaldi
Name[sv]=Ladda ner senaste Vivaldi
Name[af]=Laai die nuutste Vivaldi af
Name[am]=የቅርብ ጊዜውን ቪቫልዲ አውርድ
Name[ar]=Vivaldi ﻦﻣ ﺭﺍﺪﺻﺇ ﺙﺪﺣﺃ ﻞﻳﺰﻨﺗ
Name[as]=শেহতীয়া Vivaldi ডাউনলোড কৰক
Name[ay]=Qhipa Vivaldi ukar apkatañamawa
Name[az]=Ən son Vivaldi-ni yükləyin
Name[ba]=Иң һуңғы Вивальдиҙы йөкләгеҙ
Name[be]=Спампаваць апошнюю версію вівальдзі
Name[bm]=Vivaldi kura telesarse
Name[bn]=সর্বশেষ Vivaldi ডাউনলোড করুন
Name[bo]=ཆེས་གསར་བའི་ཝེ་ཨར་ཏི་ཕབ་ལེན་བྱས།
Name[bs]=Preuzmite najnoviji Vivaldi
Name[ca]=Descarrega lúltima versió de Vivaldi
Name[co]=Scarica lultima versione di Vivaldi
Name[cy]=Lawrlwythwch Vivaldi diweddaraf
Name[dv]=ވާއްލަށްކޮ ޑްލޯންއުޑަ ޑީލްވަވި ގެހުފަ މެންއެ
Name[ee]=Wɔ Vivaldi yeyetɔ ƒe kɔpi
Name[eo]=Elŝutu la plej novan Vivaldi
Name[et]=Laadige alla Vivaldi uusim versioon
Name[eu]=Deskargatu azken Vivaldi
Name[fa]=Vivaldi ﻦﯾﺮﺗﺪﯾﺪﺟ ﺩﻮﻠﻧﺍﺩ
Name[fj]=Lavetaka na Vivaldi vou
Name[fo]=Download latest Vivaldi
Name[fy]=Download lêste Vivaldi
Name[ga]=Íoslódáil an leagan is déanaí de Vivaldi
Name[gd]=Luchdaich a-nuas an t-òran Vivaldi.
Name[gl]=Descargar o último Vivaldi
Name[gn]=Emboguejy Vivaldi ipyahuvéva
Name[gu]=નવીનતમ વિવાલ્ડી ડાઉનલોડ કરો
Name[ha]=Zazzage sabon Vivaldi
Name[he]=רתויב תינכדעה Vivaldi תא דרוה
Name[hi]=नवीनतम विवाल्डी डाउनलोड करें
Name[hr]=Preuzmite najnoviji Vivaldi
Name[ht]=Telechaje dènye Vivaldi
Name[hy]=Ներբեռնեք Vivaldi-ի վերջին տարբերակը
Name[id]=Unduh Vivaldi terbaru
Name[ig]=Budata Vivaldi kacha ọhụrụ
Name[is]=Sækja nýjasta Vivaldi
Name[iu]=ᒥᓇᕆᓗᒍ ᓄᑖᖑᓛᖅ Vivaldi
Name[ja]=最新の Vivaldi をダウンロード
Name[jv]=Download Vivaldi paling anyar
Name[ka]=ჩამოტვირთეთ უახლესი Vivaldi
Name[kk]=Соңғы Vivaldi жүктеп алыңыз
Name[km]=ទាញយក Vivaldi ចុងក្រោយបង្អស់
Name[kn]=ಇತ್ತೀಚಿನ ವಿವಾಲ್ಡಿ ಡೌನ್u200cಲೋಡ್ ಮಾಡಿ
Name[ko]=최신 비발디 다운로드
Name[ku]=Vivaldi ya herî dawî dakêşin
Name[ky]=Акыркы Vivaldi жүктөп алыңыз
Name[la]=Download latest Vivaldi
Name[lb]=Luet déi lescht Vivaldi erof
Name[lg]=Wano wefunire Vivaldi eyasembyeyo
Name[ln]=Télécharger Vivaldi ya sika
Name[lo]=ດາວໂຫລດ Vivaldi ຫຼ້າສຸດ
Name[lt]=Atsisiųskite naujausią „Vivaldi“.
Name[lv]=Lejupielādēt jaunāko Vivaldi
Name[mg]=Ampidino ny Vivaldi farany
Name[mi]=Tangohia a Vivaldi hou
Name[mk]=Преземете го најновиот Vivaldi
Name[ml]=ഏറ്റവും പുതിയ വിവാൾഡി ഡൗൺലോഡ് ചെയ്യുക
Name[mn]=Хамгийн сүүлийн үеийн Vivaldi татаж авах
Name[mr]=नवीनतम विवाल्डी डाउनलोड करा
Name[ms]=Muat turun Vivaldi terkini
Name[mt]=Niżżel l-aħħar Vivaldi
Name[my]=နောက်ဆုံးထွက် Vivaldi ကိုဒေါင်းလုဒ်လုပ်ပါ။
Name[ne]=नवीनतम Vivaldi डाउनलोड गर्नुहोस्
Name[no]=Last ned nyeste Vivaldi
Name[ny]=Tsitsani Vivaldi yaposachedwa
Name[om]=Vivaldi isa haaraa buufadhaa
Name[or]=ସର୍ବଶେଷ ଭିଭାଲ୍ଡି ଡାଉନଲୋଡ୍ କରନ୍ତୁ |
Name[pa]=ਨਵੀਨਤਮ Vivaldi ਨੂੰ ਡਾਊਨਲੋਡ ਕਰੋ
Name[ps]=ﺉړﮐ ډﻮﻠﻧﻭﺍډ Vivaldi ﻲﺘﺳﻭﺭﻭ
Name[qu]=Qhipa kaq Vivaldi nisqamanta hurquy
Name[ro]=Descărcați cel mai recent Vivaldi
Name[rw]=Kuramo Vivaldi iheruka
Name[sa]=नवीनतम विवल्डी डाउनलोड करें
Name[sd]=ﻮﻳﺮڪ ڊﻮﻟ ﻥﻮﺋﺍڊ Vivaldi ﺪﻳﺪﺟ
Name[si]=නවතම Vivaldi බාගන්න
Name[sk]=Stiahnite si najnovšie Vivaldi
Name[sl]=Prenesite najnovejši Vivaldi
Name[sm]=Lau mai Vivaldi fou
Name[sn]=Dhawunirodha yazvino Vivaldi
Name[so]=Soo deji Vivaldi ugu dambeeyay
Name[sq]=Shkarkoni Vivaldi më të fundit
Name[st]=Khoasolla Vivaldi ea morao-rao
Name[su]=Unduh Vivaldi panganyarna
Name[sw]=Pakua Vivaldi ya hivi karibuni
Name[ta]=சமீபத்திய விவால்டியைப் பதிவிறக்கவும்
Name[te]=తాజా వివాల్డిని డౌన్u200cలోడ్ చేయండి
Name[tg]=Вивалди охиринро зеркашӣ кунед
Name[th]=ดาวน์โหลด Vivaldi.dll ล่าสุด
Name[ti]=Download latest ቪቫልዲ
Name[tk]=Iň soňky Wivaldi göçürip alyň
Name[tl]=I-download ang pinakabagong Vivaldi
Name[to]=Download e Vivaldi fakamuimuitaha
Name[tr]=En son Vivaldiyi indirin
Name[ts]=Download Vivaldi ya sweswinyana
Name[tt]=Соңгы Вивалди йөкләү
Name[tw]=Twe Vivaldi a aba foforo no
Name[ty]=Faauta uira mai i te Vivaldi
Name[ug]=ﯓﯛﺭﯜﺷﯜﭼ ﻰﻧ Vivaldi ﻰﯖﯧﻳ ﯓەﺋ
Name[uk]=Завантажте останню версію Vivaldi
Name[ur]=۔ﮟﯾﺮﮐ ﮈﻮﻟ ﻥﺅﺍﮈ Vivaldi ﻦﯾﺮﺗ ﮦﺯﺎﺗ
Name[uz]=Eng songgi Vivaldi yuklab olish
Name[vi]=Tải xuống Vivaldi mới nhất
Name[xh]=Khuphela iVivaldi yamva nje
Name[yi]=Vivaldi עטצעל יד עיפאקפארא
Name[yo]=Ṣe igbasilẹ Vivaldi tuntun
Name[zh]=下载最新的维瓦尔第
Name[zu]=Landa i-Vivaldi yakamuva
Name=Download latest Vivaldi
Icon=vv-dl-latest.png
Comment[af]=Laai die nuutste Vivaldi af
Comment[am]=የቅርብ ጊዜውን ቪቫልዲ አውርድ
Comment[ar]=Vivaldi ﻦﻣ ﺭﺍﺪﺻﺇ ﺙﺪﺣﺃ ﻞﻳﺰﻨﺗ
Comment[as]=শেহতীয়া Vivaldi ডাউনলোড কৰক
Comment[ay]=Qhipa Vivaldi ukar apkatañamawa
Comment[az]=Ən son Vivaldi-ni yükləyin
Comment[ba]=Иң һуңғы Вивальдиҙы йөкләгеҙ
Comment[be]=Спампаваць апошнюю версію вівальдзі
Comment[bg]=Изтеглете най-новия Vivaldi
Comment[bm]=Vivaldi kura telesarse
Comment[bn]=সর্বশেষ Vivaldi ডাউনলোড করুন
Comment[bo]=ཆེས་གསར་བའི་ཝེ་ཨར་ཏི་ཕབ་ལེན་བྱས།
Comment[bs]=Preuzmite najnoviji Vivaldi
Comment[ca]=Descarrega lúltima versió de Vivaldi
Comment[co]=Scarica lultima versione di Vivaldi
Comment[cs]=Stáhněte si nejnovější Vivaldi
Comment[cy]=Lawrlwythwch Vivaldi diweddaraf
Comment[da]=Download den seneste Vivaldi
Comment[de]=Laden Sie die neueste Version von Vivaldi herunter
Comment[dv]=ވާއްލަށްކޮ ޑްލޯންއުޑަ ޑީލްވަވި ގެހުފަ މެންއެ
Comment[ee]=Wɔ Vivaldi yeyetɔ ƒe kɔpi
Comment[el]=Κατεβάστε το τελευταίο Vivaldi
Comment[eo]=Elŝutu la plej novan Vivaldi
Comment[es]=Descarga la última versión de Vivaldi
Comment[et]=Laadige alla Vivaldi uusim versioon
Comment[eu]=Deskargatu azken Vivaldi
Comment[fa]=Vivaldi ﻦﯾﺮﺗﺪﯾﺪﺟ ﺩﻮﻠﻧﺍﺩ
Comment[fi]=Lataa uusin Vivaldi
Comment[fj]=Lavetaka na Vivaldi vou
Comment[fo]=Download latest Vivaldi
Comment[fr]=Télécharger le dernier Vivaldi
Comment[fy]=Download lêste Vivaldi
Comment[ga]=Íoslódáil an leagan is déanaí de Vivaldi
Comment[gd]=Luchdaich a-nuas an t-òran Vivaldi.
Comment[gl]=Descargar o último Vivaldi
Comment[gn]=Emboguejy Vivaldi ipyahuvéva
Comment[gu]=નવીનતમ વિવાલ્ડી ડાઉનલોડ કરો
Comment[ha]=Zazzage sabon Vivaldi
Comment[he]=רתויב תינכדעה Vivaldi תא דרוה
Comment[hi]=नवीनतम विवाल्डी डाउनलोड करें
Comment[hr]=Preuzmite najnoviji Vivaldi
Comment[ht]=Telechaje dènye Vivaldi
Comment[hu]=Töltse le a legújabb Vivaldit
Comment[hy]=Ներբեռնեք Vivaldi-ի վերջին տարբերակը
Comment[id]=Unduh Vivaldi terbaru
Comment[ig]=Budata Vivaldi kacha ọhụrụ
Comment[is]=Sækja nýjasta Vivaldi
Comment[it]=Scarica lultimo Vivaldi
Comment[iu]=ᒥᓇᕆᓗᒍ ᓄᑖᖑᓛᖅ Vivaldi
Comment[ja]=最新の Vivaldi をダウンロード
Comment[jv]=Download Vivaldi paling anyar
Comment[ka]=ჩამოტვირთეთ უახლესი Vivaldi
Comment[kk]=Соңғы Vivaldi жүктеп алыңыз
Comment[km]=ទាញយក Vivaldi ចុងក្រោយបង្អស់
Comment[kn]=ಇತ್ತೀಚಿನ ವಿವಾಲ್ಡಿ ಡೌನ್u200cಲೋಡ್ ಮಾಡಿ
Comment[ko]=최신 비발디 다운로드
Comment[ku]=Vivaldi ya herî dawî dakêşin
Comment[ky]=Акыркы Vivaldi жүктөп алыңыз
Comment[la]=Download latest Vivaldi
Comment[lb]=Luet déi lescht Vivaldi erof
Comment[lg]=Wano wefunire Vivaldi eyasembyeyo
Comment[ln]=Télécharger Vivaldi ya sika
Comment[lo]=ດາວໂຫລດ Vivaldi ຫຼ້າສຸດ
Comment[lt]=Atsisiųskite naujausią „Vivaldi“.
Comment[lv]=Lejupielādēt jaunāko Vivaldi
Comment[mg]=Ampidino ny Vivaldi farany
Comment[mi]=Tangohia a Vivaldi hou
Comment[mk]=Преземете го најновиот Vivaldi
Comment[ml]=ഏറ്റവും പുതിയ വിവാൾഡി ഡൗൺലോഡ് ചെയ്യുക
Comment[mn]=Хамгийн сүүлийн үеийн Vivaldi татаж авах
Comment[mr]=नवीनतम विवाल्डी डाउनलोड करा
Comment[ms]=Muat turun Vivaldi terkini
Comment[mt]=Niżżel l-aħħar Vivaldi
Comment[my]=နောက်ဆုံးထွက် Vivaldi ကိုဒေါင်းလုဒ်လုပ်ပါ။
Comment[ne]=नवीनतम Vivaldi डाउनलोड गर्नुहोस्
Comment[nl]=Download de nieuwste Vivaldi
Comment[no]=Last ned nyeste Vivaldi
Comment[ny]=Tsitsani Vivaldi yaposachedwa
Comment[om]=Vivaldi isa haaraa buufadhaa
Comment[or]=ସର୍ବଶେଷ ଭିଭାଲ୍ଡି ଡାଉନଲୋଡ୍ କରନ୍ତୁ |
Comment[pa]=ਨਵੀਨਤਮ Vivaldi ਨੂੰ ਡਾਊਨਲੋਡ ਕਰੋ
Comment[pl]=Pobierz najnowszego Vivaldiego
Comment[ps]=ﺉړﮐ ډﻮﻠﻧﻭﺍډ Vivaldi ﻲﺘﺳﻭﺭﻭ
Comment[pt]=Download mais recente Vivaldi
Comment[qu]=Qhipa kaq Vivaldi nisqamanta hurquy
Comment[ro]=Descărcați cel mai recent Vivaldi
Comment[ru]=Скачать последнюю версию Вивальди
Comment[rw]=Kuramo Vivaldi iheruka
Comment[sa]=नवीनतम विवल्डी डाउनलोड करें
Comment[sd]=ﻮﻳﺮڪ ڊﻮﻟ ﻥﻮﺋﺍڊ Vivaldi ﺪﻳﺪﺟ
Comment[si]=නවතම Vivaldi බාගන්න
Comment[sk]=Stiahnite si najnovšie Vivaldi
Comment[sl]=Prenesite najnovejši Vivaldi
Comment[sm]=Lau mai Vivaldi fou
Comment[sn]=Dhawunirodha yazvino Vivaldi
Comment[so]=Soo deji Vivaldi ugu dambeeyay
Comment[sq]=Shkarkoni Vivaldi më të fundit
Comment[st]=Khoasolla Vivaldi ea morao-rao
Comment[su]=Unduh Vivaldi panganyarna
Comment[sv]=Ladda ner senaste Vivaldi
Comment[sw]=Pakua Vivaldi ya hivi karibuni
Comment[ta]=சமீபத்திய விவால்டியைப் பதிவிறக்கவும்
Comment[te]=తాజా వివాల్డిని డౌన్u200cలోడ్ చేయండి
Comment[tg]=Вивалди охиринро зеркашӣ кунед
Comment[th]=ดาวน์โหลด Vivaldi.dll ล่าสุด
Comment[ti]=Download latest ቪቫልዲ
Comment[tk]=Iň soňky Wivaldi göçürip alyň
Comment[tl]=I-download ang pinakabagong Vivaldi
Comment[to]=Download e Vivaldi fakamuimuitaha
Comment[tr]=En son Vivaldiyi indirin
Comment[ts]=Download Vivaldi ya sweswinyana
Comment[tt]=Соңгы Вивалди йөкләү
Comment[tw]=Twe Vivaldi a aba foforo no
Comment[ty]=Faauta uira mai i te Vivaldi
Comment[ug]=ﯓﯛﺭﯜﺷﯜﭼ ﻰﻧ Vivaldi ﻰﯖﯧﻳ ﯓەﺋ
Comment[uk]=Завантажте останню версію Vivaldi
Comment[ur]=۔ﮟﯾﺮﮐ ﮈﻮﻟ ﻥﺅﺍﮈ Vivaldi ﻦﯾﺮﺗ ﮦﺯﺎﺗ
Comment[uz]=Eng songgi Vivaldi yuklab olish
Comment[vi]=Tải xuống Vivaldi mới nhất
Comment[xh]=Khuphela iVivaldi yamva nje
Comment[yi]=Vivaldi עטצעל יד עיפאקפארא
Comment[yo]=Ṣe igbasilẹ Vivaldi tuntun
Comment[zh]=下载最新的维瓦尔第
Comment[zu]=Landa i-Vivaldi yakamuva
Comment=Download latest Vivaldi
Exec=vv-dl-latest
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=VVDL
