[Desktop Entry]
Encoding=UTF-8
Name[de]=Wcpufreq CPU-Frequenz-Skalierungstool
Name[fr]=Ajuster la fréquence du CPU : Wcpufreq
Name[es]=Wcpufreq: ajustar la frecuencia de la CPU
Name[af]=Wcpufreq CPU-frekwensie-skaalinstrument
Name[am]=Wcpufreq ሲፒዩ ድግግሞሽ ልኬት መሣሪያ
Name[ar]=Wcpufreq ﺔﻳﺰﻛﺮﻤﻟﺍ ﺔﺠﻟﺎﻌﻤﻟﺍ ﺓﺪﺣﻭ ﺩﺩﺮﺗ ﺱﺎﻴﻗ ﺓﺍﺩﺃ
Name[as]=Wcpufreq CPU কম্পাঙ্ক স্কেলিং সঁজুলি
Name[ay]=Wcpufreq CPU frecuencia escalamiento ukax mä herramienta
Name[az]=Wcpufreq CPU tezliyi ölçmə vasitəsi
Name[ba]=Wcpufreq CPU йышлығын масштаблау ҡоралы
Name[be]=Інструмент маштабавання частоты працэсара Wcpufreq
Name[bg]=Инструмент за мащабиране на честотата на процесора Wcpufreq
Name[bm]=Wcpufreq CPU frequency sɛgɛsɛgɛli baarakɛminɛn
Name[bn]=Wcpufreq CPU ফ্রিকোয়েন্সি স্কেলিং টুল
Name[bo]=Wcpufreq CPU频率 ཆེ་ཆུང་གི་ཡོ་བྱད།
Name[bs]=Wcpufreq CPU alat za skaliranje frekvencije
Name[ca]=Eina descala de freqüència de la CPU Wcpufreq
Name[co]=Strumentu di scala di frequenza di u CPU Wcpufreq
Name[cs]=Wcpufreq nástroj pro škálování frekvence CPU
Name[cy]=Offeryn graddio amledd CPU Wcpufreq
Name[da]=Wcpufreq CPU-frekvensskaleringsværktøj
Name[dv]=Wcpufreq ލްޓޫ ގންލިކޭސް ސީންއެކުރީފް ޔޫޕީސީ
Name[ee]=Wcpufreq CPU ƒe ɣeyiɣi ƒe didimedzidzenu dɔwɔnu
Name[el]=Εργαλείο κλιμάκωσης συχνότητας CPU Wcpufreq
Name[eo]=Wcpufreq CPU-frekvenca skala ilo
Name[et]=Wcpufreq protsessori sageduse skaleerimise tööriist
Name[eu]=Wcpufreq CPU frekuentzia eskalatzeko tresna
Name[fa]=Wcpufreq ﻩﺪﻧﺯﺍﺩﺮﭘ ﺲﻧﺎﮐﺮﻓ ﺶﺠﻨﺳ ﺭﺍﺰﺑﺍ
Name[fi]=Wcpufreq CPU-taajuuden skaalaustyökalu
Name[fj]=iYaya ni scaling wasoma ni Wcpufreq
Name[fo]=Wcpufreq CPU frequency scaling tool
Name[fy]=Wcpufreq CPU frekwinsje skaalfergrutting ark
Name[ga]=Uirlis scálaithe minicíochta LAP Wcpufreq
Name[gd]=Inneal sgèileadh tricead CPU Wcpufreq
Name[gl]=Ferramenta de escalado de frecuencia da CPU Wcpufreq
Name[gn]=Wcpufreq CPU tembipuru escalado frecuencia rehegua
Name[gu]=Wcpufreq CPU ફ્રીક્વન્સી સ્કેલિંગ ટૂલ
Name[ha]=Wcpufreq CPU mitar sikeli kayan aiki
Name[he]=Wcpufreq דבעמ רדת לש הדימה הנק ילכ
Name[hi]=Wcpufreq CPU फ़्रीक्वेंसी स्केलिंग टूल
Name[hr]=Wcpufreq CPU alat za skaliranje frekvencije
Name[ht]=Wcpufreq CPU frekans dekale zouti
Name[hu]=Wcpufreq CPU frekvencia skálázó eszköz
Name[hy]=Wcpufreq CPU հաճախականության չափման գործիք
Name[id]=Alat penskalaan frekuensi CPU Wcpufreq
Name[ig]=Wcpufreq CPU ngwa nlegharị anya ugboro
Name[is]=Wcpufreq CPU tíðni mælikvarði tól
Name[it]=Strumento di ridimensionamento della frequenza della CPU Wcpufreq
Name[iu]=Wcpufreq CPU-ᒧᑦ ᐊᑯᓚᐃᑦᑕᖅᑎᒋᔪᒥᒃ ᖃᐅᔨᓴᕈᑦ
Name[ja]=Wcpufreq CPU周波数スケーリングツール
Name[jv]=Alat skala frekuensi CPU Wcpufreq
Name[ka]=Wcpufreq CPU სიხშირის სკალირების ინსტრუმენტი
Name[kk]=Wcpufreq CPU жиілігін масштабтау құралы
Name[km]=ឧបករណ៍ធ្វើមាត្រដ្ឋានប្រេកង់ស៊ីភីយូ Wcpufreq
Name[kn]=Wcpufreq CPU ಆವರ್ತನ ಸ್ಕೇಲಿಂಗ್ ಟೂಲ್
Name[ko]=Wcpufreq CPU 주파수 스케일링 도구
Name[ku]=Amûra pîvandina frekansa Wcpufreq CPU
Name[ky]=Wcpufreq CPU жыштыгын масштабдоо куралы
Name[la]=Wcpufreq CPU frequency scalas instrumentum
Name[lb]=Wcpufreq CPU Frequenz Skaléierungsinstrument
Name[lg]=Wcpufreq Ekintu ekipima frequency ya CPU
Name[ln]=Wcpufreq Esaleli ya kosala échelle ya fréquence ya CPU
Name[lo]=Wcpufreq ເຄື່ອງມືປັບລະດັບຄວາມຖີ່ CPU
Name[lt]=Wcpufreq CPU dažnio mastelio keitimo įrankis
Name[lv]=Wcpufreq CPU frekvences mērogošanas rīks
Name[mg]=Wcpufreq CPU fitaovana fanerena matetika
Name[mi]=Wcpufreq PTM taputapu tauine auau
Name[mk]=Wcpufreq Алатка за скалирање на фреквенцијата на процесорот
Name[ml]=Wcpufreq സിപിയു ഫ്രീക്വൻസി സ്കെയിലിംഗ് ടൂൾ
Name[mn]=Wcpufreq CPU давтамжийг масштаблах хэрэгсэл
Name[mr]=Wcpufreq CPU वारंवारता स्केलिंग साधन
Name[ms]=Alat penskalaan frekuensi CPU Wcpufreq
Name[mt]=Għodda għall-iskala tal-frekwenza tas-CPU Wcpufreq
Name[my]=Wcpufreq CPU ကြိမ်နှုန်း အတိုင်းအတာ ကိရိယာ
Name[ne]=Wcpufreq CPU फ्रिक्वेन्सी स्केलिंग उपकरण
Name[nl]=Wcpufreq CPU-frequentieschalingstool
Name[no]=Wcpufreq CPU-frekvensskaleringsverktøy
Name[ny]=Wcpufreq CPU frequency makulitsidwe chida
Name[om]=Meeshaa iskeelii friikuweensii CPU Wcpufreq
Name[or]=Wcpufreq CPU ଫ୍ରିକ୍ୱେନ୍ସି ସ୍କେଲିଂ ଟୁଲ୍ |
Name[pa]=Wcpufreq CPU ਬਾਰੰਬਾਰਤਾ ਸਕੇਲਿੰਗ ਟੂਲ
Name[pl]=Narzędzie do skalowania częstotliwości procesora Wcpufreq
Name[ps]=ﻪﻠﯿﺳﻭ ﻮﻟﻮﮐ ﻩﺯﺍﺪﻧﺍ ۍﺴﻧﻮﮑﯾﺮﻓ Wcpufreq CPU ﺩ
Name[pt]=Wcpufreq CPU ferramenta de escalonamento de freqüência
Name[qu]=Wcpufreq CPU frecuencia escalanapaq yanapakuy
Name[ro]=Instrument de scalare a frecvenței procesorului Wcpufreq
Name[ru]=Инструмент масштабирования частоты процессора Wcpufreq
Name[rw]=Wcpufreq CPU igikoresho cyo gupima
Name[sa]=Wcpufreq CPU आवृत्ति स्केलिंग उपकरण
Name[sd]=Wcpufreq CPU ﺭﺍﺯﻭﺍ ﻮﺟ ﮓﻨﻠﻴڪﺳﺍ ﻲﺴﻨﺋﻮﮑﯾﺮﻓ
Name[si]=Wcpufreq CPU සංඛ්u200dයාත පරිමාණ මෙවලම
Name[sk]=Wcpufreq nástroj na úpravu frekvencie CPU
Name[sl]=Orodje za skaliranje frekvence procesorja Wcpufreq
Name[sm]=Wcpufreq CPU mea faigaluega faasolosolo taimi
Name[sn]=Wcpufreq CPU frequency kuyera chishandiso
Name[so]=Wcpufreq qalabka cabbirida inta jeer ee CPU
Name[sq]=Mjet për shkallëzimin e frekuencës së CPU-së Wcpufreq
Name[st]=Sesebelisoa sa ho lekanya maqhubu a Wcpufreq CPU
Name[su]=Alat skala frékuénsi CPU Wcpufreq
Name[sv]=Wcpufreq CPU-frekvensskalningsverktyg
Name[sw]=Zana ya kuongeza masafa ya CPU ya Wcpufreq
Name[ta]=Wcpufreq CPU அதிர்வெண் அளவிடுதல் கருவி
Name[te]=Wcpufreq CPU ఫ్రీక్వెన్సీ స్కేలింగ్ సాధనం
Name[tg]=Воситаи миқёси басомади CPU Wcpufreq
Name[th]=เครื่องมือปรับขนาดความถี่ Wcpufreq CPU
Name[ti]=Wcpufreq CPU ፍሪኩዌንሲ ስኬሊንግ መሳርሒ
Name[tk]=Wcpufreq CPU ýygylyk ölçeg guraly
Name[tl]=Wcpufreq CPU frequency scaling tool
Name[to]=Wcpufreq CPU Scaling meʻangaue
Name[tr]=Wcpufreq CPU frekans ölçekleme aracı
Name[ts]=Wcpufreq Xitirhisiwa xo pima frequency ya CPU
Name[tt]=Wcpufreq үзәк эшкәрткеч җайланманың ешлыгын масштаблау коралы
Name[tw]=Wcpufreq CPU frequency scaling adwinnade
Name[ty]=Wcpufreq CPU frequency scaling tool
Name[ug]=Wcpufreq CPU ﻰﻟﺍﺭﻮﻗ ﺶﯩﺘﯩﻠﻜﯩﭽﯩﻛ ﺎﺗﻮﺘﺳﺎﭼ
Name[uk]=Інструмент масштабування частоти ЦП Wcpufreq
Name[ur]=Wcpufreq CPU ﻝﻮﭨ ﮓﻨﻠﯿﮑﺳﺍ ﯽﺴﻨﺋﻮﮑﯾﺮﻓ
Name[uz]=Wcpufreq CPU chastotasini olchash vositasi
Name[vi]=Công cụ mở rộng tần số CPU Wcpufreq
Name[xh]=Wcpufreq CPU isixhobo sokukala frequency
Name[yi]=Wcpufreq גיַיצעג גנילייקס טיַיקטפאָ ופּק
Name[yo]=Wcpufreq Sipiyu igbohunsafẹfẹ ohun elo igbelosoke
Name[zh]=Wcpufreq CPU频率缩放工具
Name[zu]=Ithuluzi lokukala imvamisa ye-Wcpufreq CPU
Name=Wcpufreq CPU frequency scaling tool
Icon=/usr/share/icons/devices/cpu.png
Comment[de]=Tool zur Skalierung der CPU-Frequenz
Comment[es]=Wcpufreq: ajustar la frecuencia de la CPU
Comment[af]=SVE-frekwensie-skaalinstrument
Comment[am]=የሲፒዩ ድግግሞሽ መለኪያ መሣሪያ
Comment[ar]=ﺔﻳﺰﻛﺮﻤﻟﺍ ﺔﺠﻟﺎﻌﻤﻟﺍ ﺓﺪﺣﻭ ﺩﺩﺮﺗ ﺱﺎﻴﻗ ﺓﺍﺩﺃ
Comment[as]=CPU কম্পাঙ্ক স্কেলিং সঁজুলি
Comment[ay]=CPU Frecuencia Escalamiento Herramienta ukaxa mä juk’a pachanakwa lurasi
Comment[az]=CPU Tezliyini Ölçmə Aləti
Comment[ba]=КПУ-ның йышлыҡтарҙы масштаблау ҡоралы
Comment[be]=Інструмент маштабавання частоты працэсара
Comment[bg]=Инструмент за мащабиране на честотата на процесора
Comment[bm]=CPU Frequency Scaling Baarakɛminɛn
Comment[bn]=CPU ফ্রিকোয়েন্সি স্কেলিং টুল
Comment[bo]=CPU频率 ཆེ་ཆུང་གི་ཡོ་བྱད།
Comment[bs]=Alat za skaliranje CPU frekvencije
Comment[ca]=Eina descalat de freqüència de la CPU
Comment[co]=Strumentu di scala di frequenza di CPU
Comment[cs]=Nástroj pro škálování frekvence CPU
Comment[cy]=Offeryn Graddio Amledd CPU
Comment[da]=CPU-frekvensskaleringsværktøj
Comment[dv]=ލްޓޫ ގންލިކޭސް ސީންއެކުރީފް ޔޫޕީސީ
Comment[ee]=CPU Frequency Scaling Dɔwɔnu
Comment[el]=Εργαλείο κλιμάκωσης συχνότητας CPU
Comment[eo]=CPU Frekvenca Skala Ilo
Comment[et]=Protsessori sageduse skaleerimise tööriist
Comment[eu]=CPU maiztasuna eskalatzeko tresna
Comment[fa]=CPU Frequency Scaling Tool
Comment[fi]=CPU Frequency Scaling Tool
Comment[fj]=iYaya ni Veivakarautaki ni CPU
Comment[fo]=CPU Frequency Scaling Tool
Comment[fr]=Outil de mise à léchelle de la fréquence du processeur
Comment[fy]=CPU Frequency Skaalfergrutting Tool
Comment[ga]=Uirlis Scála Minicíochta LAP
Comment[gd]=Inneal sgèileadh tricead CPU
Comment[gl]=Ferramenta de escalado de frecuencia da CPU
Comment[gn]=CPU Frecuencia Escalamiento Tembipururã
Comment[gu]=CPU ફ્રીક્વન્સી સ્કેલિંગ ટૂલ
Comment[ha]=Kayan aikin Mitar Mitar CPU
Comment[he]=דבעמ רדת לש הדימה הנק ילכ
Comment[hi]=सीपीयू फ्रीक्वेंसी स्केलिंग टूल
Comment[hr]=Alat za skaliranje CPU frekvencije
Comment[ht]=Zouti dekale frekans CPU
Comment[hu]=CPU frekvenciaskálázó eszköz
Comment[hy]=CPU հաճախականության չափման գործիք
Comment[id]=Alat Penskalaan Frekuensi CPU
Comment[ig]=Ngwá Ọrụ Ntụle Ugboro CPU
Comment[is]=Tól fyrir örgjörvatíðni
Comment[it]=Strumento di ridimensionamento della frequenza della CPU
Comment[iu]=CPU−ᒧᑦ ᖃᓄᖅ ᐊᑯᓚᐃᑎᒋᔪᒥᒃ ᖃᐅᔨᓴᕈᑦ
Comment[ja]=CPU周波数スケーリングツール
Comment[jv]=Alat Skala Frekuensi CPU
Comment[ka]=CPU სიხშირის სკალირების ინსტრუმენტი
Comment[kk]=CPU жиілігін масштабтау құралы
Comment[km]=ឧបករណ៍ធ្វើមាត្រដ្ឋានប្រេកង់ស៊ីភីយូ
Comment[kn]=CPU ಫ್ರೀಕ್ವೆನ್ಸಿ ಸ್ಕೇಲಿಂಗ್ ಟೂಲ್
Comment[ko]=CPU 주파수 조정 도구
Comment[ku]=Amûra Scaling Frequency CPU
Comment[ky]=CPU жыштыгын масштабдоо куралы
Comment[la]=CPU Frequency Scaling Tool
Comment[lb]=CPU Frequenz Skaléieren Tool
Comment[lg]=Ekintu ekipima Frequency ya CPU
Comment[ln]=Esaleli ya kosala échelle ya fréquence ya CPU
Comment[lo]=ເຄື່ອງມືປັບລະດັບຄວາມຖີ່ CPU
Comment[lt]=CPU dažnio mastelio keitimo įrankis
Comment[lv]=CPU frekvences mērogošanas rīks
Comment[mg]=Fitaovana fanamafisam-peo matetika CPU
Comment[mi]=Utauta Tauine Auautanga PTM
Comment[mk]=Алатка за скалирање на фреквенција на процесорот
Comment[ml]=സിപിയു ഫ്രീക്വൻസി സ്കെയിലിംഗ് ടൂൾ
Comment[mn]=CPU-ийн давтамжийг хэмжих хэрэгсэл
Comment[mr]=CPU वारंवारता स्केलिंग साधन
Comment[ms]=Alat Penskalaan Frekuensi CPU
Comment[mt]=Għodda għall-Iskala tal-Frekwenza tas-CPU
Comment[my]=CPU Frequency Scaling Tool
Comment[ne]=CPU आवृत्ति स्केलिंग उपकरण
Comment[nl]=Hulpprogramma voor het schalen van de CPU-frequentie
Comment[no]=CPU-frekvensskaleringsverktøy
Comment[ny]=CPU Frequency Scaling Chida
Comment[om]=Meeshaa Safartuu Firikuweensii CPU
Comment[or]=CPU ଫ୍ରିକ୍ୱେନ୍ସି ସ୍କେଲିଂ ଟୁଲ୍ |
Comment[pa]=CPU ਫ੍ਰੀਕੁਐਂਸੀ ਸਕੇਲਿੰਗ ਟੂਲ
Comment[pl]=Narzędzie do skalowania częstotliwości procesora
Comment[ps]=ﻪﻠﯿﺳﻭ ﻮﻟﻮﮐ ﻩﺯﺍﺪﻧﺍ ﯽﺴﻧﻮﮑﯾﺮﻓ CPU ﺩ
Comment[pt]=Ferramenta de escalonamento de freqüência da CPU
Comment[qu]=CPU Frecuencia Escalamiento Herramienta
Comment[ro]=Instrumentul de scalare a frecvenței procesorului
Comment[ru]=Инструмент масштабирования частоты процессора
Comment[rw]=Igikoresho cyo gupima CPU
Comment[sa]=CPU आवृत्ति स्केलिंग उपकरण
Comment[sd]=CPU ﺭﺍﺯﻭﺍ ﻮﺟ ﮓﻨﻠﻴڪﺳﺍ ﻲﺴﻨﺋﻮڪﻳﺮﻓ
Comment[si]=CPU සංඛ්u200dයාත පරිමාණ මෙවලම
Comment[sk]=Nástroj na škálovanie frekvencie CPU
Comment[sl]=Orodje za skaliranje frekvence procesorja
Comment[sm]=Meafaigaluega Faafuainumera ole PPU
Comment[sn]=CPU Frequency Kuyera Tool
Comment[so]=Qalabka Cabbirka Soo noqnoqda CPU
Comment[sq]=Mjeti i shkallëzimit të frekuencës së CPU
Comment[st]=CPU Frequency Scaling Tool
Comment[su]=CPU Frékuénsi Skala Alat
Comment[sv]=CPU Frequency Scaling Tool
Comment[sw]=Zana ya Kuongeza Masafa ya CPU
Comment[ta]=CPU அதிர்வெண் அளவிடுதல் கருவி
Comment[te]=CPU ఫ్రీక్వెన్సీ స్కేలింగ్ సాధనం
Comment[tg]=Асбоби миқёси басомади CPU
Comment[th]=เครื่องมือปรับขนาดความถี่ CPU
Comment[ti]=መሳርሒ ምዕባይ ፍሪኩዌንሲ ሲፒዩ
Comment[tk]=CPU ýygylyk ölçeg guraly
Comment[tl]=Tool sa Pagsusukat ng Dalas ng CPU
Comment[to]=CPU Scaling meʻangaue
Comment[tr]=CPU Frekans Ölçeklendirme Aracı
Comment[ts]=Xitirhisiwa xo Pfuxeta Frequency ya CPU
Comment[tt]=Uзәк эшкәрткеч җайланманың ешлык масштабы коралы
Comment[tw]=CPU Frequency Scaling Adwinnade a Wɔde Yɛ Adwuma
Comment[ty]=CPU Frequency Scaling Tool
Comment[ug]=CPU ﻰﻟﺍﺭﻮﻗ ﺵەﭽﻟﯚﺋ ﻰﻨﯩﺴﯩﺗﻮﺘﺳﺎﭼ
Comment[uk]=Інструмент масштабування частоти ЦП
Comment[ur]=CPU ﻝﻮﭨ ﮓﻨﻠﯿﮑﺳﺍ ﯽﺴﻨﺋﻮﮑﯾﺮﻓ
Comment[uz]=CPU chastotasini olchash vositasi
Comment[vi]=Công cụ điều chỉnh tần số CPU
Comment[xh]=Isixhobo se-CPU sokuCala ngokuphindaphindiweyo
Comment[yi]=גיַיצעג גנילייקס טיַיקטפאָ ופּק
Comment[yo]=Ọpa Igbohunsafẹfẹ Sipiyu
Comment[zh]=CPU 调频工具
Comment[zu]=Ithuluzi Lokukala Imvamisa ye-CPU
Comment=CPU Frequency Scaling Tool
Exec=wcpufreq
Terminal=false
Type=Application
Categories=System
GenericName=Wcpufreq
