[Desktop Entry]
Encoding=UTF-8
Name[fr]=Scanner d'images : Xsane
Name[de]=Xsane Bildscanner
Name[es]=Xsane: escanear imágenes
Name[ru]=Сканер изображений Xsane
Name[tr]=Xsane görüntü tarayıcı
Name[af]=Xsane beeld skandeerder
Name[am]=Xsane ምስል ስካነር
Name[ar]=ﺭﻮﺼﻠﻟ Xsane ﻲﺋﻮﻀﻟﺍ ﺢﺳﺎﻤﻟﺍ
Name[as]=Xsane ইমেজ স্ক্যানাৰ
Name[ay]=Xsane ukax mä uñacht’äwiwa
Name[az]=Xsane şəkil skaneri
Name[ba]=Xsane һүрәт сканеры
Name[be]=Сканер малюнкаў Xsane
Name[bg]=Скенер за изображения Xsane
Name[bm]=Xsane ja sɛgɛsɛgɛlikɛlan
Name[bn]=Xsane ইমেজ স্ক্যানার
Name[bo]=Xsane པར་རིས་བརྟག་དཔྱད་ཡོ་ཆས།
Name[bs]=Xsane skener slika
Name[ca]=Escàner dimatges Xsane
Name[co]=Scanner dimaghjini Xsane
Name[cs]=Skener obrázků Xsane
Name[cy]=Sganiwr delwedd Xsane
Name[da]=Xsane billedscanner
Name[dv]=ވެއެ ރނަކޭސް ޖްމޭއި ންސޭސްކްއެ
Name[ee]=Xsane nɔnɔmetatawo ɖeɖeɖamɔ̃
Name[el]=Σαρωτής εικόνας Xsane
Name[eo]=Xsane bildskanilo
Name[et]=Xsane pildiskanner
Name[eu]=Xsane irudi eskanerra
Name[fa]=Xsane ﺮﯾﻮﺼﺗ ﺮﻨﮑﺳﺍ
Name[fi]=Xsane-kuvaskanneri
Name[fj]=Sikini ni iyaloyalo ni Xsane
Name[fo]=Xsane image scanner
Name[fy]=Xsane ôfbylding scanner
Name[ga]=Xsane scanóir íomhá
Name[gd]=Xsane dealbh scanner
Name[gl]=Escáner de imaxes Xsane
Name[gn]=Xsane taꞌãngamýi jesarekoha
Name[gu]=Xsane ઇમેજ સ્કેનર
Name[ha]=Xsane Hoton naurar daukar hotan takardu
Name[he]=Xsane תונומת קרוס
Name[hi]=Xsane छवि स्कैनर
Name[hr]=Xsane skener slika
Name[ht]=Scanner imaj Xsane
Name[hu]=Xsane képszkenner
Name[hy]=Xsane պատկերի սկաներ
Name[id]=Pemindai gambar Xsane
Name[ig]=Ihe nyocha onyonyo Xsane
Name[is]=Xsane myndskanni
Name[it]=Scanner di immagini Xsane
Name[iu]=Xᓴᐃᓐ ᐊᔾᔨᙳᐊᓂᒃ ᐊᔾᔨᓕᐅᕈᑎ
Name[ja]=Xsane イメージ スキャナー
Name[jv]=Scanner gambar Xsane
Name[ka]=Xsane გამოსახულების სკანერი
Name[kk]=Xsane кескін сканері
Name[km]=ម៉ាស៊ីនស្កេនរូបភាព Xsane
Name[kn]=Xsane ಇಮೇಜ್ ಸ್ಕ್ಯಾನರ್
Name[ko]=Xsane 이미지 스캐너
Name[ku]=Skanera wêneyê Xsane
Name[ky]=Xsane сүрөт сканери
Name[la]=Xsane imaginem scanner
Name[lb]=Xsane Bildscanner
Name[lg]=Xsane ekyuma ekikebera ebifaananyi
Name[ln]=Scane ya bilili ya Xsane
Name[lo]=ເຄື່ອງສະແກນຮູບພາບ Xsane
Name[lt]=Xsane vaizdo skaitytuvas
Name[lv]=Xsane attēlu skeneris
Name[mg]=Xsane scanner sary
Name[mi]=Matawai whakaahua Xsane
Name[mk]=Xsane скенер за слики
Name[ml]=Xsane ഇമേജ് സ്കാനർ
Name[mn]=Xsane зураг сканнер
Name[mr]=Xsane प्रतिमा स्कॅनर
Name[ms]=Pengimbas imej Xsane
Name[mt]=Xsane image scanner
Name[my]=Xsane ရုပ်ပုံစကင်နာ
Name[ne]=Xsane छवि स्क्यानर
Name[nl]=Xsane-beeldscanner
Name[no]=Xsane bildeskanner
Name[ny]=Xsane image scanner
Name[om]=Xsane suuraa skaanara
Name[or]=Xsane ପ୍ରତିଛବି ସ୍କାନର୍ |
Name[pa]=Xsane ਚਿੱਤਰ ਸਕੈਨਰ
Name[pl]=Skaner obrazu Xsane
Name[ps]=ﺮﻨﯿﮑﺳ ﺲﮑﻋ Xsane ﺩ
Name[pt]=Scanner de imagem Xsane
Name[qu]=Xsane siqi qhawaq
Name[ro]=Scanner de imagini Xsane
Name[rw]=Xsane amashusho
Name[sa]=Xsane इमेज स्कैनर
Name[sd]=Xsane ﺮﻨﻴڪﺳﺍ ﻱﺮﻳﻮﺼﺗ
Name[si]=Xsane රූප ස්කෑනරය
Name[sk]=Skener obrázkov Xsane
Name[sl]=Skener slik Xsane
Name[sm]=Sue ata Xsane
Name[sn]=Xsane mufananidzo scanner
Name[so]=Sawirka sawirka Xsane
Name[sq]=Skaneri i imazhit Xsane
Name[st]=Sekena sa litšoantšo sa Xsane
Name[su]=Xsane scanner gambar
Name[sv]=Xsane bildskanner
Name[sw]=Kichanganuzi cha picha cha Xsane
Name[ta]=Xsane பட ஸ்கேனர்
Name[te]=Xsane ఇమేజ్ స్కానర్
Name[tg]=Сканери тасвири Xsane
Name[th]=เครื่องสแกนภาพ Xsane
Name[ti]=Xsane ምስሊ ስካነር
Name[tk]=Xsane şekil skaneri
Name[tl]=Xsane scanner ng imahe
Name[to]=Xsane Image scanner
Name[ts]=Xsane xikeni xa swifaniso
Name[tt]=Xsane рәсем сканеры
Name[tw]=Xsane mfonini scanner
Name[ty]=Xsane image scanner
Name[ug]=Xsane ﭺﯘﻐﯩﻠﯩﻳﺎﺳ ﻢﯩﺳەﺭ
Name[uk]=Сканер зображень Xsane
Name[ur]=Xsane ﺮﻨﯿﮑﺳﺍ ﺞﯿﻣﺍ
Name[uz]=Xsane tasvir skaneri
Name[vi]=Máy quét hình ảnh Xsane
Name[xh]=Iskena somfanekiso weXsane
Name[yi]=Xsane רעננאַקס דליב
Name[yo]=Xsane image scanner
Name[zh]=Xsane 图像扫描仪
Name[zu]=Isithwebuli sesithombe se-Xsane
Name=Xsane image scanner
Icon=scanner16.xpm
Comment[fr]=Scanner d'images : Xsane
Comment[de]=Xsane Bildscanner
Comment[es]=Xsane: escanear imágenes
Comment[ru]=Сканер изображений Xsane
Comment[tr]=Xsane görüntü tarayıcı
Comment[af]=Xsane beeld skandeerder
Comment[am]=Xsane ምስል ስካነር
Comment[ar]=ﺭﻮﺼﻠﻟ Xsane ﻲﺋﻮﻀﻟﺍ ﺢﺳﺎﻤﻟﺍ
Comment[as]=Xsane ইমেজ স্ক্যানাৰ
Comment[ay]=Xsane ukax mä uñacht’äwiwa
Comment[az]=Xsane şəkil skaneri
Comment[ba]=Xsane һүрәт сканеры
Comment[be]=Сканер малюнкаў Xsane
Comment[bg]=Скенер за изображения Xsane
Comment[bm]=Xsane ja sɛgɛsɛgɛlikɛlan
Comment[bn]=Xsane ইমেজ স্ক্যানার
Comment[bo]=Xsane པར་རིས་བརྟག་དཔྱད་ཡོ་ཆས།
Comment[bs]=Xsane skener slika
Comment[ca]=Escàner dimatges Xsane
Comment[co]=Scanner dimaghjini Xsane
Comment[cs]=Skener obrázků Xsane
Comment[cy]=Sganiwr delwedd Xsane
Comment[da]=Xsane billedscanner
Comment[dv]=ވެއެ ރނަކޭސް ޖްމޭއި ންސޭސްކްއެ
Comment[ee]=Xsane nɔnɔmetatawo ɖeɖeɖamɔ̃
Comment[el]=Σαρωτής εικόνας Xsane
Comment[eo]=Xsane bildskanilo
Comment[et]=Xsane pildiskanner
Comment[eu]=Xsane irudi eskanerra
Comment[fa]=Xsane ﺮﯾﻮﺼﺗ ﺮﻨﮑﺳﺍ
Comment[fi]=Xsane-kuvaskanneri
Comment[fj]=Sikini ni iyaloyalo ni Xsane
Comment[fo]=Xsane image scanner
Comment[fy]=Xsane ôfbylding scanner
Comment[ga]=Xsane scanóir íomhá
Comment[gd]=Xsane dealbh scanner
Comment[gl]=Escáner de imaxes Xsane
Comment[gn]=Xsane taꞌãngamýi jesarekoha
Comment[gu]=Xsane ઇમેજ સ્કેનર
Comment[ha]=Xsane Hoton naurar daukar hotan takardu
Comment[he]=Xsane תונומת קרוס
Comment[hi]=Xsane छवि स्कैनर
Comment[hr]=Xsane skener slika
Comment[ht]=Scanner imaj Xsane
Comment[hu]=Xsane képszkenner
Comment[hy]=Xsane պատկերի սկաներ
Comment[id]=Pemindai gambar Xsane
Comment[ig]=Ihe nyocha onyonyo Xsane
Comment[is]=Xsane myndskanni
Comment[it]=Scanner di immagini Xsane
Comment[iu]=Xᓴᐃᓐ ᐊᔾᔨᙳᐊᓂᒃ ᐊᔾᔨᓕᐅᕈᑎ
Comment[ja]=Xsane イメージ スキャナー
Comment[jv]=Scanner gambar Xsane
Comment[ka]=Xsane გამოსახულების სკანერი
Comment[kk]=Xsane кескін сканері
Comment[km]=ម៉ាស៊ីនស្កេនរូបភាព Xsane
Comment[kn]=Xsane ಇಮೇಜ್ ಸ್ಕ್ಯಾನರ್
Comment[ko]=Xsane 이미지 스캐너
Comment[ku]=Skanera wêneyê Xsane
Comment[ky]=Xsane сүрөт сканери
Comment[la]=Xsane imaginem scanner
Comment[lb]=Xsane Bildscanner
Comment[lg]=Xsane ekyuma ekikebera ebifaananyi
Comment[ln]=Scane ya bilili ya Xsane
Comment[lo]=ເຄື່ອງສະແກນຮູບພາບ Xsane
Comment[lt]=Xsane vaizdo skaitytuvas
Comment[lv]=Xsane attēlu skeneris
Comment[mg]=Xsane scanner sary
Comment[mi]=Matawai whakaahua Xsane
Comment[mk]=Xsane скенер за слики
Comment[ml]=Xsane ഇമേജ് സ്കാനർ
Comment[mn]=Xsane зураг сканнер
Comment[mr]=Xsane प्रतिमा स्कॅनर
Comment[ms]=Pengimbas imej Xsane
Comment[mt]=Xsane image scanner
Comment[my]=Xsane ရုပ်ပုံစကင်နာ
Comment[ne]=Xsane छवि स्क्यानर
Comment[nl]=Xsane-beeldscanner
Comment[no]=Xsane bildeskanner
Comment[ny]=Xsane image scanner
Comment[om]=Xsane suuraa skaanara
Comment[or]=Xsane ପ୍ରତିଛବି ସ୍କାନର୍ |
Comment[pa]=Xsane ਚਿੱਤਰ ਸਕੈਨਰ
Comment[pl]=Skaner obrazu Xsane
Comment[ps]=ﺮﻨﯿﮑﺳ ﺲﮑﻋ Xsane ﺩ
Comment[pt]=Scanner de imagem Xsane
Comment[qu]=Xsane siqi qhawaq
Comment[ro]=Scanner de imagini Xsane
Comment[rw]=Xsane amashusho
Comment[sa]=Xsane इमेज स्कैनर
Comment[sd]=Xsane ﺮﻨﻴڪﺳﺍ ﺮﻳﻮﺼﺗ
Comment[si]=Xsane රූප ස්කෑනරය
Comment[sk]=Skener obrázkov Xsane
Comment[sl]=Skener slik Xsane
Comment[sm]=Sue ata Xsane
Comment[sn]=Xsane mufananidzo scanner
Comment[so]=Sawirka sawirka Xsane
Comment[sq]=Skaneri i imazhit Xsane
Comment[st]=Sekena sa litšoantšo sa Xsane
Comment[su]=Xsane scanner gambar
Comment[sv]=Xsane bildskanner
Comment[sw]=Kichanganuzi cha picha cha Xsane
Comment[ta]=Xsane பட ஸ்கேனர்
Comment[te]=Xsane ఇమేజ్ స్కానర్
Comment[tg]=Сканери тасвири Xsane
Comment[th]=เครื่องสแกนภาพ Xsane
Comment[ti]=Xsane ምስሊ ስካነር
Comment[tk]=Xsane şekil skaneri
Comment[tl]=Xsane scanner ng imahe
Comment[to]=Xsane Image scanner
Comment[ts]=Xsane xikeni xa swifaniso
Comment[tt]=Xsane рәсем сканеры
Comment[tw]=Xsane mfonini scanner
Comment[ty]=Xsane image scanner
Comment[ug]=Xsane ﭺﯘﻐﯩﻠﯩﻳﺎﺳ ﻢﯩﺳەﺭ
Comment[uk]=Сканер зображень Xsane
Comment[ur]=Xsane ﺮﻨﯿﮑﺳﺍ ﺞﯿﻣﺍ
Comment[uz]=Xsane tasvir skaneri
Comment[vi]=Máy quét hình ảnh Xsane
Comment[xh]=Iskena somfanekiso weXsane
Comment[yi]=Xsane רעננאַקס דליב
Comment[yo]=Xsane image scanner
Comment[zh]=Xsane 图像扫描仪
Comment[zu]=Isithwebuli sesithombe se-Xsane
Comment=Xsane image scanner
Exec=xsaneshell
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=Xsane image scanner
