[Desktop Entry]
Encoding=UTF-8
Name[de]=YouTubeDL YouTube Downloader
Name[fr]=Télecharger sur YouTube : YouTubeDL
Name[es]=YouTubeDL: descargar video de YouTube
Name[af]=YouTubeDL YouTube-aflaaier
Name[am]=የዩቲዩብ ዲኤል ዩቲዩብ ማውረጃ
Name[ar]=ﺏﻮﻴﺗﻮﻳ ﻞﻳﺰﻨﺗ ﺏﻮﻴﺗﻮﻳ
Name[as]=ইউটিউবডিএল ইউটিউব ডাউনলোডাৰ
Name[ay]=YouTubeDL YouTube ukan uñt’ayata
Name[az]=YouTubeDL YouTube yükləyicisi
Name[ba]=YouTubeDL YouTube йөкләүсеһе
Name[be]=YouTubeDL Праграма для загрузкі YouTube
Name[bg]=YouTubeDL YouTube програма за изтегляне
Name[bm]=YouTubeDL YouTube telesarsebaga
Name[bn]=YouTubeDL ইউটিউব ডাউনলোডার
Name[bo]=YouTubeDL YouTube ཕབ་ལེན་འཕྲུལ་ཆས།
Name[bs]=YouTubeDL YouTube downloader
Name[ca]=YouTubeDL Descàrrega de YouTube
Name[co]=YouTubeDL YouTube downloader
Name[cs]=YouTubeDL Stahovač YouTube
Name[cy]=YouTubeDL lawrlwythwr YouTube
Name[da]=YouTubeDL YouTube downloader
Name[dv]=ވެކެޗެއްއެ ރާކު ޑްލޯންއުޑަ ބްއުޓިޔޫ ލްއެޑީބްއުޓިޔޫ
Name[ee]=YouTubeDL YouTube ƒe kɔpiwɔƒe
Name[el]=Πρόγραμμα λήψης YouTubeDL YouTube
Name[eo]=YouTubeDL YouTube-elŝutilo
Name[et]=YouTubeDL YouTubei allalaadija
Name[eu]=YouTubeDL YouTube deskargatzailea
Name[fa]=YouTubeDL YouTube ﺭﺩﻮﻠﻧﺍﺩ
Name[fi]=YouTubeDL YouTube-latausohjelma
Name[fj]=Dau lavetaki ni YouTubeDL
Name[fo]=YouTubeDL YouTube downloader
Name[fy]=YouTubeDL YouTube downloader
Name[ga]=Íoslódáil YouTubeDL YouTube Downloader
Name[gd]=Luchdaich a-nuas YouTube DL YouTube
Name[gl]=YouTubeDL Descargador de YouTube
Name[gn]=YouTubeDL YouTube ñemboguejyha
Name[gu]=YouTubeDL YouTube ડાઉનલોડર
Name[ha]=YouTubeDL mai saukar da YouTube
Name[he]=YouTubeDL תדרוה YouTube
Name[hi]=यूट्यूबडीएल यूट्यूब डाउनलोडर
Name[hr]=YouTubeDL YouTube downloader
Name[ht]=YouTubeDL YouTube downloader
Name[hu]=YouTubeDL YouTube letöltő
Name[hy]=YouTubeDL YouTube ներբեռնիչ
Name[id]=Pengunduh YouTube DL YouTube
Name[ig]=YouTubeDL ihe nbudata YouTube
Name[is]=YouTubeDL YouTube niðurhalartæki
Name[it]=Downloader di YouTubeDL YouTube
Name[iu]=YouTubedl YouTube-ᑯᑦ ᒥᓇᕆᓗᒍ
Name[ja]=YouTubeDL YouTube ダウンローダー
Name[jv]=YouTubeDL YouTube ngundhuh
Name[ka]=YouTubeDL YouTube Downloader
Name[kk]=YouTubeDL YouTube жүктеп алу құралы
Name[km]=កម្មវិធីទាញយក YouTubeDL YouTube
Name[kn]=YouTubeDL YouTube ಡೌನ್u200cಲೋಡರ್
Name[ko]=YouTubeDL YouTube 다운로더
Name[ku]=YouTubeDL dakêşana YouTube
Name[ky]=YouTubeDL YouTube жүктөөчүсү
Name[la]=YouTubeDL YouTube download
Name[lb]=YouTubeDL YouTube Downloader
Name[lg]=YouTubeDL Omuwanula ku YouTube
Name[ln]=YouTubeDL Moto oyo azali ko télécharger YouTube
Name[lo]=ຕົວດາວໂຫລດ YouTubeDL YouTube
Name[lt]=YouTubeDL YouTube downloader
Name[lv]=YouTubeDL YouTube lejupielādētājs
Name[mg]=YouTubeDL YouTube downloader
Name[mi]=YouTubeDL YouTube downloader
Name[mk]=YouTubeDL преземач на YouTube
Name[ml]=YouTubeDL YouTube ഡൗൺലോഡർ
Name[mn]=YouTubeDL YouTube татагч
Name[mr]=YouTubeDL YouTube डाउनलोडर
Name[ms]=Pemuat turun YouTube YouTubeDL
Name[mt]=YouTubeDL YouTube downloader
Name[my]=YouTubeDL YouTube ဒေါင်းလုဒ်လုပ်သူ
Name[ne]=YouTubeDL YouTube डाउनलोडर
Name[nl]=YouTubeDL YouTube-downloader
Name[no]=YouTubeDL YouTube-nedlaster
Name[ny]=YouTubeDL YouTube downloader
Name[om]=YouTubeDL YouTube buufachuu
Name[or]=YouTubeDL ୟୁଟ୍ୟୁବ୍ ଡାଉନଲୋଡର୍ |
Name[pa]=YouTubeDL YouTube ਡਾਊਨਲੋਡਰ
Name[pl]=YouTubeDL narzędzie do pobierania YouTube
Name[ps]=ﺭډﻮﻠﻧﻭﺍډ ﺏﻮﯿټﻮﯾ YouTubeDL ﺩ
Name[pt]=YouTubeDL YouTube downloader
Name[qu]=YouTubeDL YouTube nisqamanta uraykachiq
Name[ro]=YouTubeDL YouTube downloader
Name[ru]=YouTubeDL Загрузчик YouTube
Name[rw]=Youtube Youtube Youtube
Name[sa]=YouTubeDL YouTube डाउनलोडर
Name[sd]=YouTubeDL ڙﺪﻨڪ ڊﻮﻟ ﻥﻮﺋﺍڊ ﺏﻮﻴٽﻮﻳ
Name[si]=YouTubeDL YouTube බාගත කරන්නා
Name[sk]=YouTubeDL YouTube downloader
Name[sl]=YouTubeDL YouTube prenosnik
Name[sm]=YouTubeDL YouTube downloader
Name[sn]=YouTubeDL YouTube downloader
Name[so]=Soo dejiyaha YouTubeDL
Name[sq]=Shkarkues YouTubeDL YouTube
Name[st]=YouTubeDL YouTube downloader
Name[su]=YouTubeDL YouTube Downloader
Name[sv]=YouTubeDL YouTube-nedladdningsprogram
Name[sw]=YouTubeDL YouTube downloader
Name[ta]=YouTubeDL YouTube பதிவிறக்கி
Name[te]=YouTubeDL YouTube డౌన్u200cలోడ్
Name[tg]=Зеркашии YouTubeDL YouTube
Name[th]=ดาวน์โหลด YouTubeDL YouTube
Name[ti]=YouTubeDL ዩቱብ ዳውንሎደር
Name[tk]=YouTubeDL YouTube ýükleýji
Name[tl]=YouTubeDL YouTube downloader
Name[to]=YouTubeDL YouTube downloader
Name[tr]=YouTubeDL YouTube indiricisi
Name[ts]=YouTubeDL xitirhisiwa xo dawuniloda xa YouTube
Name[tt]=YouTubeDL YouTube йөкләүче
Name[tw]=YouTubeDL YouTube a wɔde twe nneɛma
Name[ty]=YouTubeDL YouTube downloader
Name[ug]=YouTubeDL YouTube ﻰﭼﯜﮔﺭﯜﺷﯜﭼ
Name[uk]=YouTubeDL Завантажувач YouTube
Name[ur]=ﺭﮈﻮﻠﻧﺅﺍﮈ ﺏﻮﯿﭨﻮﯾ ﻞﯾﺍ ﯼﮈ ﺏﻮﯿﭨﻮﯾ
Name[uz]=YouTubeDL YouTube yuklab oluvchi
Name[vi]=Trình tải xuống YouTubeDL của YouTube
Name[xh]=Umkhupheli weYouTubeDL kaYouTube
Name[yi]=YouTubeDL רעדאַאָלנוואָד עבוטואָי
Name[yo]=YouTubeDL YouTube olugbasilẹ
Name[zh]=YouTubeDL YouTube 下载器
Name[zu]=Isilandi se-YouTubeDL se-YouTube
Name=YouTubeDL YouTube downloader
Icon=youtubedl.png
Comment[de]=YouTubeDL YouTube Downloader
Comment[fr]=Télécharger des vidéo Youtube
Comment[es]=YouTubeDL: descargar video de YouTube
Comment[af]=YouTubeDL YouTube-aflaaier
Comment[am]=የዩቲዩብ ዲኤል ዩቲዩብ ማውረጃ
Comment[ar]=ﺏﻮﻴﺗﻮﻳ ﻞﻳﺰﻨﺗ ﺏﻮﻴﺗﻮﻳ
Comment[as]=ইউটিউবডিএল ইউটিউব ডাউনলোডাৰ
Comment[ay]=YouTubeDL YouTube ukan uñt’ayata
Comment[az]=YouTubeDL YouTube yükləyicisi
Comment[ba]=YouTubeDL YouTube йөкләүсеһе
Comment[be]=YouTubeDL Праграма для загрузкі YouTube
Comment[bg]=YouTubeDL YouTube програма за изтегляне
Comment[bm]=YouTubeDL YouTube telesarsebaga
Comment[bn]=YouTubeDL ইউটিউব ডাউনলোডার
Comment[bo]=YouTubeDL YouTube ཕབ་ལེན་འཕྲུལ་ཆས།
Comment[bs]=YouTubeDL YouTube downloader
Comment[ca]=YouTubeDL Descàrrega de YouTube
Comment[co]=YouTubeDL YouTube downloader
Comment[cs]=YouTubeDL Stahovač YouTube
Comment[cy]=YouTubeDL lawrlwythwr YouTube
Comment[da]=YouTubeDL YouTube downloader
Comment[dv]=ވެކެޗެއްއެ ރާކު ޑްލޯންއުޑަ ބްއުޓިޔޫ ލްއެޑީބްއުޓިޔޫ
Comment[ee]=YouTubeDL YouTube ƒe kɔpiwɔƒe
Comment[el]=Πρόγραμμα λήψης YouTubeDL YouTube
Comment[eo]=YouTubeDL YouTube-elŝutilo
Comment[et]=YouTubeDL YouTubei allalaadija
Comment[eu]=YouTubeDL YouTube deskargatzailea
Comment[fa]=YouTubeDL YouTube ﺭﺩﻮﻠﻧﺍﺩ
Comment[fi]=YouTubeDL YouTube-latausohjelma
Comment[fj]=Dau lavetaki ni YouTubeDL
Comment[fo]=YouTubeDL YouTube downloader
Comment[fy]=YouTubeDL YouTube downloader
Comment[ga]=Íoslódáil YouTubeDL YouTube Downloader
Comment[gd]=Luchdaich a-nuas YouTube DL YouTube
Comment[gl]=YouTubeDL Descargador de YouTube
Comment[gn]=YouTubeDL YouTube ñemboguejyha
Comment[gu]=YouTubeDL YouTube ડાઉનલોડર
Comment[ha]=YouTubeDL mai saukar da YouTube
Comment[he]=YouTubeDL תדרוה YouTube
Comment[hi]=यूट्यूबडीएल यूट्यूब डाउनलोडर
Comment[hr]=YouTubeDL YouTube downloader
Comment[ht]=YouTubeDL YouTube downloader
Comment[hu]=YouTubeDL YouTube letöltő
Comment[hy]=YouTubeDL YouTube ներբեռնիչ
Comment[id]=Pengunduh YouTube DL YouTube
Comment[ig]=YouTubeDL ihe nbudata YouTube
Comment[is]=YouTubeDL YouTube niðurhalartæki
Comment[it]=Downloader di YouTubeDL YouTube
Comment[iu]=YouTubedl YouTube-ᑯᑦ ᒥᓇᕆᓗᒍ
Comment[ja]=YouTubeDL YouTube ダウンローダー
Comment[jv]=YouTubeDL YouTube ngundhuh
Comment[ka]=YouTubeDL YouTube Downloader
Comment[kk]=YouTubeDL YouTube жүктеп алу құралы
Comment[km]=កម្មវិធីទាញយក YouTubeDL YouTube
Comment[kn]=YouTubeDL YouTube ಡೌನ್u200cಲೋಡರ್
Comment[ko]=YouTubeDL YouTube 다운로더
Comment[ku]=YouTubeDL dakêşana YouTube
Comment[ky]=YouTubeDL YouTube жүктөөчүсү
Comment[la]=YouTubeDL YouTube download
Comment[lb]=YouTubeDL YouTube Downloader
Comment[lg]=YouTubeDL Omuwanula ku YouTube
Comment[ln]=YouTubeDL Moto oyo azali ko télécharger YouTube
Comment[lo]=ຕົວດາວໂຫລດ YouTubeDL YouTube
Comment[lt]=YouTubeDL YouTube atsisiuntimo programa
Comment[lv]=YouTubeDL YouTube lejupielādētājs
Comment[mg]=YouTubeDL YouTube downloader
Comment[mi]=YouTubeDL YouTube downloader
Comment[mk]=YouTubeDL преземач на YouTube
Comment[ml]=YouTubeDL YouTube ഡൗൺലോഡർ
Comment[mn]=YouTubeDL YouTube татагч
Comment[mr]=YouTubeDL YouTube डाउनलोडर
Comment[ms]=Pemuat turun YouTube YouTubeDL
Comment[mt]=YouTubeDL YouTube downloader
Comment[my]=YouTubeDL YouTube ဒေါင်းလုဒ်လုပ်သူ
Comment[ne]=YouTubeDL YouTube डाउनलोडर
Comment[nl]=YouTubeDL YouTube-downloader
Comment[no]=YouTubeDL YouTube-nedlaster
Comment[ny]=YouTubeDL YouTube downloader
Comment[om]=YouTubeDL YouTube buufachuu
Comment[or]=YouTubeDL ୟୁଟ୍ୟୁବ୍ ଡାଉନଲୋଡର୍ |
Comment[pa]=YouTubeDL YouTube ਡਾਊਨਲੋਡਰ
Comment[pl]=YouTubeDL narzędzie do pobierania YouTube
Comment[ps]=ﺭډﻮﻠﻧﻭﺍډ ﺏﻮﯿټﻮﯾ YouTubeDL ﺩ
Comment[pt]=YouTubeDL YouTube downloader
Comment[qu]=YouTubeDL YouTube nisqamanta uraykachiq
Comment[ro]=YouTubeDL YouTube downloader
Comment[ru]=YouTubeDL Загрузчик YouTube
Comment[rw]=Youtube Youtube Youtube
Comment[sa]=YouTubeDL YouTube डाउनलोडर
Comment[sd]=YouTubeDL ڙﺪﻨڪ ڊﻮﻟ ﻥﻮﺋﺍڊ ﺏﻮﻴٽﻮﻳ
Comment[si]=YouTubeDL YouTube බාගත කරන්නා
Comment[sk]=YouTubeDL YouTube downloader
Comment[sl]=YouTubeDL YouTube prenosnik
Comment[sm]=YouTubeDL YouTube downloader
Comment[sn]=YouTubeDL YouTube downloader
Comment[so]=Soo dejiyaha YouTubeDL
Comment[sq]=Shkarkues YouTubeDL YouTube
Comment[st]=YouTubeDL YouTube downloader
Comment[su]=YouTubeDL YouTube Downloader
Comment[sv]=YouTubeDL YouTube-nedladdningsprogram
Comment[sw]=YouTubeDL YouTube downloader
Comment[ta]=YouTubeDL YouTube பதிவிறக்கி
Comment[te]=YouTubeDL YouTube డౌన్u200cలోడ్
Comment[tg]=Зеркашии YouTubeDL YouTube
Comment[th]=ดาวน์โหลด YouTubeDL YouTube
Comment[ti]=YouTubeDL ዩቱብ ዳውንሎደር
Comment[tk]=YouTubeDL YouTube ýükleýji
Comment[tl]=YouTubeDL YouTube downloader
Comment[to]=YouTubeDL YouTube downloader
Comment[tr]=YouTubeDL YouTube indiricisi
Comment[ts]=YouTubeDL xitirhisiwa xo dawuniloda xa YouTube
Comment[tt]=YouTubeDL YouTube йөкләүче
Comment[tw]=YouTubeDL YouTube a wɔde twe nneɛma
Comment[ty]=YouTubeDL YouTube downloader
Comment[ug]=YouTubeDL YouTube ﻰﭼﯜﮔﺭﯜﺷﯜﭼ
Comment[uk]=YouTubeDL Завантажувач YouTube
Comment[ur]=ﺭﮈﻮﻠﻧﺅﺍﮈ ﺏﻮﯿﭨﻮﯾ ﻞﯾﺍ ﯼﮈ ﺏﻮﯿﭨﻮﯾ
Comment[uz]=YouTubeDL YouTube yuklab oluvchi
Comment[vi]=Trình tải xuống YouTubeDL của YouTube
Comment[xh]=Umkhupheli weYouTubeDL kaYouTube
Comment[yi]=YouTubeDL רעדאַאָלנוואָד עבוטואָי
Comment[yo]=YouTubeDL YouTube olugbasilẹ
Comment[zh]=YouTubeDL YouTube 下载器
Comment[zu]=Isilandi se-YouTubeDL se-YouTube
Comment=YouTubeDL YouTube downloader
Exec=youtubedl-gui
Terminal=false
Type=Application
Categories=FileTransfer
GenericName=YouTubeDL
