[Desktop Entry]
Encoding=UTF-8
Name[af]=AlsaMixerGUI klankmenger
Name[am]=AlsaMixerGUI ኦዲዮ ቀላቃይ
Name[ar]=AlsaMixerGUI Audio mixer
Name[as]=AlsaMixerGUI অডিঅ' মিক্সাৰ
Name[ay]=AlsaMixerGUI ukax mä juk’a pachanakanwa
Name[az]=AlsaMixerGUI audio mikser
Name[ba]=AlsaMixerGUI аудио миксеры
Name[be]=Аўдыямікшар AlsaMixerGUI
Name[bg]=AlsaMixerGUI аудио миксер
Name[bm]=AlsaMixerGUI ka fɔlifɛnw ɲagaminen
Name[bn]=AlsaMixerGUI অডিও মিক্সার
Name[bo]=AlsaMixerGUI སྒྲ་ཕབ་མཉམ་བསྲེས་འཕྲུལ་ཆས།
Name[bs]=AlsaMixerGUI audio mikser
Name[ca]=Mesclador d'àudio AlsaMixerGUI
Name[co]=Mixer audio AlsaMixerGUI
Name[cs]=AlsaMixerGUI audio mixer
Name[cy]=Cymysgydd sain AlsaMixerGUI
Name[da]=AlsaMixerGUI lydmixer
Name[de]=AlsaMixerGUI-Audiomixer
Name[dv]=ރސަކްމި އޯޑިއޯ އިއަޖީރސަކްމިސާލްއަ
Name[ee]=AlsaMixerGUI odio ƒe tsakatsaka
Name[el]=Μίκτης ήχου AlsaMixerGUI
Name[en]=AlsaMixerGUI audio mixer
Name[eo]=AlsaMixerGUI sonmiksilo
Name[es]=Mezclador de audio AlsaMixerGUI
Name[et]=AlsaMixerGUI helimikser
Name[eu]=AlsaMixerGUI audio nahasgailua
Name[fa]=AlsaMixerGUI ﯽﺗﻮﺻ ﺮﺴﮑﯿﻣ
Name[fi]=AlsaMixerGUI äänimikseri
Name[fj]=AlsaMixerGUI vakarorogo mixer
Name[fo]=AlsaMixerGUI audio mixer
Name[fr]=Mélangeur audio AlsaMixerGUI
Name[fy]=AlsaMixerGUI audiomixer
Name[ga]=Meascthóir fuaime AlsaMixerGUI
Name[gd]=Measgadair claisneachd AlsaMixerGUI
Name[gl]=Mesturador de audio AlsaMixerGUI
Name[gn]=AlsaMixerGUI mezclador audio rehegua
Name[gu]=AlsaMixerGUI ઓડિયો મિક્સર
Name[ha]=AlsaMixerGUI audio mixer
Name[he]=AlsaMixerGUI עמש רסקימ
Name[hi]=AlsaMixerGUI ऑडियो मिक्सर
Name[hr]=AlsaMixerGUI audio mikser
Name[ht]=AlsaMixerGUI mixer odyo
Name[hu]=AlsaMixerGUI hangkeverő
Name[hy]=AlsaMixerGUI աուդիո խառնիչ
Name[id]=Pencampur audio AlsaMixerGUI
Name[ig]=AlsaMixerGUI audio igwekota
Name[is]=AlsaMixerGUI hljóðblöndunartæki
Name[it]=Mixer audio AlsaMixerGUI
Name[iu]=ᐊᓖᓴᒪᒃᓯᑯᒍᐃ ᓂᐱᒧᑦ ᐊᑯᑉᓕᖅᓯᔾᔪᑎ
Name[ja]=AlsaMixerGUI オーディオ ミキサー
Name[jv]=AlsaMixerGUI mixer audio
Name[ka]=AlsaMixerGUI აუდიო მიქსერი
Name[kk]=AlsaMixerGUI аудио араластырғышы
Name[km]=ឧបករណ៍លាយសំឡេង AlsaMixerGUI
Name[kn]=AlsaMixerGUI ಆಡಿಯೋ ಮಿಕ್ಸರ್
Name[ko]=AlsaMixerGUI 오디오 믹서
Name[ku]=Miksera dengî AlsaMixerGUI
Name[ky]=AlsaMixerGUI аудио аралаштыргыч
Name[la]=AlsaMixerGUI audio mixer
Name[lb]=AlsaMixerGUI Audiomixer
Name[lg]=AlsaMixerGUI omutabula amaloboozi
Name[ln]=AlsaMixerGUI mélangeur ya mongongo
Name[lo]=ເຄື່ອງປະສົມສຽງ AlsaMixerGUI
Name[lt]=AlsaMixerGUI garso maišytuvas
Name[lv]=AlsaMixerGUI audio mikseris
Name[mg]=AlsaMixerGUI mixer audio
Name[mi]=AlsaMixerGUI whakaranu ororongo
Name[mk]=Аудио миксер AlsaMixerGUI
Name[ml]=AlsaMixerGUI ഓഡിയോ മിക്സർ
Name[mn]=AlsaMixerGUI аудио холигч
Name[mr]=AlsaMixerGUI ऑडिओ मिक्सर
Name[ms]=Pengadun audio AlsaMixerGUI
Name[mt]=Mixer tal-awdjo AlsaMixerGUI
Name[my]=AlsaMixerGUI အသံရောနှောကိရိယာ
Name[ne]=AlsaMixerGUI अडियो मिक्सर
Name[nl]=AlsaMixerGUI audiomixer
Name[no]=AlsaMixerGUI lydmikser
Name[ny]=AlsaMixerGUI audio chosakanizira
Name[om]=AlsaMixerGUI makaa sagalee
Name[or]=AlsaMixerGUI ଅଡିଓ ମିକ୍ସର୍ |
Name[pa]=AlsaMixerGUI ਆਡੀਓ ਮਿਕਸਰ
Name[pl]=Mikser audio AlsaMixerGUI
Name[ps]=ﺮﺴﮑﻣ ﻮﯾډﺁ AlsaMixerGUI ﺩ
Name[pt]=Misturador de áudio AlsaMixerGUI
Name[qu]=AlsaMixerGUI uyarinapaq mezclador
Name[ro]=Mixer audio AlsaMixerGUI
Name[ru]=Аудиомикшер AlsaMixerGUI
Name[rw]=AlsaMixerGUI ivanga amajwi
Name[sa]=AlsaMixerGUI श्रव्यमिश्रकः
Name[sd]=AlsaMixerGUI ﺮڪﻴﻣ ﻮﻳڊﺁ
Name[si]=AlsaMixerGUI ශ්u200dරව්u200dය මික්සර්
Name[sk]=Zvukový mixér AlsaMixerGUI
Name[sl]=AlsaMixerGUI avdio mešalnik
Name[sm]=AlsaMixerGUI fa'afefiloi leo
Name[sn]=AlsaMixerGUI odhiyo musanganiswa
Name[so]=AlsaMixerGUI mixer maqal ah
Name[sq]=Mikser audio AlsaMixerGUI
Name[st]=Motsoako oa molumo oa AlsaMixerGUI
Name[su]=AlsaMixerGUI mixer audio
Name[sv]=AlsaMixerGUI ljudmixer
Name[sw]=Mchanganyiko wa sauti wa AlsaMixerGUI
Name[ta]=AlsaMixerGUI ஆடியோ கலவை
Name[te]=AlsaMixerGUI ఆడియో మిక్సర్
Name[tg]=Миксер аудио AlsaMixerGUI
Name[th]=เครื่องผสมเสียง AlsaMixerGUI
Name[ti]=AlsaMixerGUI ድምጺ መሕወሲ
Name[tk]=AlsaMixerGUI ses garyjy
Name[tl]=AlsaMixerGUI audio mixer
Name[to]=AlsaMixerGUI audio mixer
Name[tr]=AlsaMixerGUI ses karıştırıcı
Name[ts]=AlsaMixerGUI xihlanganisi xa mpfumawulo
Name[tt]=AlsaMixerGUI аудио миксеры
Name[tw]=AlsaMixerGUI ɔdio a wɔde frafra
Name[ty]=AlsaMixerGUI audio mixer
Name[ug]=AlsaMixerGUI ﭺﯘﻏﺭﯘﺘﺷﻼ﻿ﯨﺭﺎﺋ ﺯﺍﯞﺎﺋ
Name[uk]=Аудіомікшер AlsaMixerGUI
Name[ur]=AlsaMixerGUI ﺮﺴﮑﻣ ﻮﯾﮈﺁ
Name[uz]=AlsaMixerGUI audio mikser
Name[vi]=Bộ trộn âm thanh AlsaMixerGUI
Name[xh]=Umxube womsindo weAlsaMixerGUI
Name[yi]=AlsaMixerGUI רעסקימ אָידואַ
Name[yo]=AlsaMixerGUI iwe aladapo
Name[zh]=AlsaMixerGUI 音频混合器
Name[zu]=Ingxube yomsindo ye-AlsaMixerGUI
Name=AlsaMixerGUI audio mixer
GenericName=AlsaMixerGUI
Comment[af]=Eenvoudige mengerbeheerprogram
Comment[am]=ቀላል ድብልቅ መቆጣጠሪያ ፕሮግራም
Comment[ar]=ﻁﻼ﻿ﺨﻟﺍ ﻲﻓ ﻢﻜﺤﺘﻠﻟ ﻂﻴﺴﺑ ﺞﻣﺎﻧﺮﺑ
Comment[as]=সৰল মিক্সাৰ নিয়ন্ত্ৰণ প্ৰগ্ৰেম
Comment[ay]=Programa de control de mezclador sapuru ukaxa
Comment[az]=Sadə qarışdırıcı nəzarət proqramı
Comment[ba]=Ябай миксер менән идара итеү программаһы
Comment[be]=Простая праграма для кіравання міксерам
Comment[bg]=Проста програма за управление на миксера
Comment[bm]=Mixer control porogaramu nɔgɔman
Comment[bn]=সহজ মিশুক নিয়ন্ত্রণ প্রোগ্রাম
Comment[bo]=སྟབས་བདེའི་བསྲེས་མའི་ཚོད་འཛིན་འཆར་གཞི།
Comment[bs]=Jednostavan program za upravljanje mikserom
Comment[ca]=Programa de control de mesclador senzill
Comment[co]=Un prugramma simplice di cuntrollu di mixer
Comment[cs]=Jednoduchý program pro ovládání mixéru
Comment[cy]=Rhaglen rheoli cymysgydd syml
Comment[da]=Enkelt mixer kontrolprogram
Comment[de]=Einfaches Mixer-Steuerungsprogramm
Comment[dv]=އްމެރާގްރޮޕް ލްރޯޓްންކޮ ރސަކްމި ދާސާ
Comment[ee]=Mixer dziɖuɖu ƒe ɖoɖo bɔbɔe
Comment[el]=Απλό πρόγραμμα ελέγχου μείκτη
Comment[en]=Simple mixer control program
Comment[eo]=Simpla miksila kontrolprogramo
Comment[es]=Programa de control de mezclador simple
Comment[et]=Lihtne mikseri juhtimisprogramm
Comment[eu]=Nahastailea kontrolatzeko programa sinplea
Comment[fa]=ﻩﺩﺎﺳ ﺮﺴﮑﯿﻣ ﻝﺮﺘﻨﮐ ﻪﻣﺎﻧﺮﺑ
Comment[fi]=Yksinkertainen mikserin ohjausohjelma
Comment[fj]=Parokaramu rawarawa ni lewai ni mixer
Comment[fo]=Simple blandar control program
Comment[fr]=Programme de contrôle simple du mélangeur
Comment[fy]=Ienfâldich programma foar mixerkontrôle
Comment[ga]=Clár rialaithe meascthóir simplí
Comment[gd]=Prògram smachd measgachadh sìmplidh
Comment[gl]=Programa sinxelo de control do mesturador
Comment[gn]=Programa de control mezclador rehegua simple
Comment[gu]=સરળ મિક્સર નિયંત્રણ કાર્યક્રમ
Comment[ha]=Sauƙaƙe shirin sarrafa mahaɗa
Comment[he]=רסקימב הטושפ הטילש תינכות
Comment[hi]=सरल मिक्सर नियंत्रण कार्यक्रम
Comment[hr]=Jednostavan program za kontrolu miksera
Comment[ht]=Senp pwogram kontwòl mixer
Comment[hu]=Egyszerű keverővezérlő program
Comment[hy]=Պարզ խառնիչի կառավարման ծրագիր
Comment[id]=Program kontrol mixer sederhana
Comment[ig]=Mmemme njikwa igwekota dị mfe
Comment[is]=Einfalt stjórnunarforrit fyrir hrærivél
Comment[it]=Semplice programma di controllo del mixer
Comment[iu]=ᐊᔪᕐᓇᙱᑦᑐᖅ ᑲᑎᓯᒪᔪᓄᑦ ᐊᐅᓚᑦᑎᓂᕐᒧᑦ ᐱᓕᕆᐊᖅ
Comment[ja]=簡単なミキサー制御プログラム
Comment[jv]=Program kontrol mixer prasaja
Comment[ka]=მარტივი მიქსერის კონტროლის პროგრამა
Comment[kk]=Миксерді басқарудың қарапайым бағдарламасы
Comment[km]=កម្មវិធីគ្រប់គ្រងឧបករណ៍លាយសាមញ្ញ
Comment[kn]=ಸರಳ ಮಿಕ್ಸರ್ ನಿಯಂತ್ರಣ ಪ್ರೋಗ್ರಾಂ
Comment[ko]="간단한 믹서 제어 프로그램"
Comment[ku]=Bernameya kontrolkirina mîkserê hêsan
Comment[ky]=Жөнөкөй аралаштыргыч башкаруу программасы
Comment[la]=Simplex turpis imperium programma
Comment[lb]=Einfach Mixer Kontroll Programm
Comment[lg]=Enteekateeka ennyangu ey’okufuga mixer
Comment[ln]=Programme ya contrôle ya mélangeur simple
Comment[lo]=ໂຄງການຄວບຄຸມ mixer ງ່າຍດາຍ
Comment[lt]=Paprasta maišytuvo valdymo programa
Comment[lv]=Vienkārša miksera vadības programma
Comment[mg]=Programa fanaraha-maso mixer tsotra
Comment[mi]=He kaupapa whakahaere whakaranu ngawari
Comment[mk]=Едноставна програма за контрола на миксер
Comment[ml]=ലളിതമായ മിക്സർ നിയന്ത്രണ പ്രോഗ്രാം
Comment[mn]=Холигчийг удирдах энгийн програм
Comment[mr]=साधा मिक्सर नियंत्रण कार्यक्रम
Comment[ms]=Program kawalan pengadun mudah
Comment[mt]=Programm sempliċi ta 'kontroll tal-mixer
Comment[my]=ရိုးရှင်းသော mixer ထိန်းချုပ်မှုအစီအစဉ်
Comment[ne]=सरल मिक्सर नियन्त्रण कार्यक्रम
Comment[nl]=Eenvoudig mixerbesturingsprogramma
Comment[no]=Enkelt mikserkontrollprogram
Comment[ny]=Pulogalamu yowongolera yosakaniza
Comment[om]=Sagantaa to'annoo makaa salphaa
Comment[or]=ସରଳ ମିକ୍ସର୍ କଣ୍ଟ୍ରୋଲ୍ ପ୍ରୋଗ୍ରାମ୍ |
Comment[pa]=ਸਧਾਰਨ ਮਿਕਸਰ ਕੰਟਰੋਲ ਪ੍ਰੋਗਰਾਮ
Comment[pl]=Prosty program sterujący mikserem
Comment[ps]=ﻪﻣﺎﻧﺮﺑ ﻝﻭﺮټﻨﮐ ﺮﺴﮑﻣ ﻩﺩﺎﺳ
Comment[pt]=Programa de controlo simples do misturador
Comment[qu]=Programa de control de mezclador simple
Comment[ro]=Program simplu de control al mixerului
Comment[ru]=Простая программа управления миксером
Comment[rw]=Gahunda yoroshye yo kugenzura gahunda
Comment[sa]=सरलः मिश्रकः नियन्त्रणकार्यक्रमः
Comment[sd]=ﻡﺍﺮﮔﻭﺮﭘ ﻝﻭﺮٽﻨڪ ﺮڪﻴﻣ ﻱﺩﺎﺳ
Comment[si]=සරල මික්සර් පාලන වැඩසටහන
Comment[sk]=Jednoduchý program na ovládanie mixéra
Comment[sl]=Preprost program za upravljanje mešalnika
Comment[sm]=Polokalama fa'atonutonu fa'afefiloi faigofie
Comment[sn]=Rakareruka musanganiswa kudzora chirongwa
Comment[so]=Barnaamijka xakamaynta qasaha fudud
Comment[sq]=Program i thjeshtë i kontrollit të mikserit
Comment[st]=Lenaneo le bonolo la ho laola motsoako
Comment[su]=Program kontrol mixer basajan
Comment[sv]=Enkelt styrprogram för mixer
Comment[sw]=Programu rahisi ya kudhibiti mchanganyiko
Comment[ta]=எளிய கலவை கட்டுப்பாட்டு திட்டம்
Comment[te]=సాధారణ మిక్సర్ నియంత్రణ ప్రోగ్రామ్
Comment[tg]=Барномаи оддии идоракунии миксер
Comment[th]=โปรแกรมควบคุมมิกเซอร์อย่างง่าย
Comment[ti]=ቀሊል ናይ ሚክሰር ምቁጽጻር ፕሮግራም
Comment[tk]=Mixönekeý mikser dolandyryş programmasy
Comment[tl]=Simpleng mixer control program
Comment[to]=Polokalama ki hono puleʻi ʻo e mixer faingofua
Comment[tr]=Basit karıştırıcı kontrol programı
Comment[ts]=Nongonoko wo olova wa vulawuri bya mixer
Comment[tt]=Гади миксер белән идарә итү программасы
Comment[tw]=Mixer control nhyehyɛe a ɛnyɛ den
Comment[ty]=Faanahoraa ohie no te hi'opo'araa i te mau mea atoa
Comment[ug]=ﻰﺴﯩﻤﻣﺍﺮﮔﻭﺮﭘ ﻝﻭﺮﺘﻧﻮﻛ ﭺﯘﻏﺭﯘﺘﺷﻼ﻿ﯨﺭﺎﺋ ﻲﯨﺩﺩﺎﺋ
Comment[uk]=Проста програма управління міксером
Comment[ur]=ﻡﺍﺮﮔﻭﺮﭘ ﻝﻭﺮﭩﻨﮐ ﺮﺴﮑﻣ ﮦﺩﺎﺳ
Comment[uz]=Oddiy mikserni boshqarish dasturi
Comment[vi]=Chương trình điều khiển máy trộn đơn giản
Comment[xh]=Inkqubo yokulawula umxube olula
Comment[yi]=םאַרגאָרפּ לאָרטנאָק רעסקימ טושפּ
Comment[yo]=Eto iṣakoso alapọpo rọrun
Comment[zh]=简单的搅拌机控制程序
Comment[zu]=Uhlelo olulula lokulawula i-mixer
Comment=Simple mixer control program
Exec=alsamixergui
Icon=mini-sound.xpm
Categories=X-Multimedia-sound
Terminal=false
Type=Application
