[Desktop Entry]
Encoding=UTF-8
Name[af]=Gtkam kamera bestuurder
Name[am]=Gtkam ካሜራ አስተዳዳሪ
Name[ar]=Gtkam ﺍﺮﻴﻣﺎﻜﻟﺍ ﺮﻳﺪﻣ
Name[as]=Gtkam কেমেৰা মেনেজাৰ
Name[ay]=Gtkam cámara apnaqiri
Name[az]=Gtkam kamera meneceri
Name[ba]=Гткам камераһы менеджеры
Name[be]=Менеджэр камеры gtkam
Name[bg]=Gtkam мениджър на камерата
Name[bm]=Gtkam kamera ɲɛmɔgɔ
Name[bn]=Gtkam ক্যামেরা ম্যানেজার
Name[bo]=Gtkamཔར་ལེན་འཕྲུལ་ཆས་ཀྱི་སྤྱི་གཉེར་བ
Name[bs]=Menadžer Gtkam kamera
Name[ca]=Gestor de càmeres Gtkam
Name[co]=Gestore di càmera Gtkam
Name[cs]=Správce kamery Gtkam
Name[cy]=Rheolwr camera Gtkam
Name[da]=Gtkam kamera manager
Name[de]=GTKAM-Kameramanager
Name[dv]=ވެރެޖަނޭމެ ރާމެކެ މްކަޓީޖީ
Name[ee]=Gtkam fotoɖemɔ̃ dzikpɔla
Name[el]=Διαχείριση κάμερας Gtkam
Name[en]=Gtkam camera manager
Name[eo]=Gtkam fotila administranto
Name[es]=Administrador de cámaras Gtkam
Name[et]=Gtkam kaamera haldur
Name[eu]=Gtkam kamera kudeatzailea
Name[fa]=Gtkam ﻦﯿﺑﺭﻭﺩ ﺮﯾﺪﻣ
Name[fi]=Gtkam kameran johtaja
Name[fj]=Manidia ni itaba veilawa ni GTKAM
Name[fo]=Gtkam myndatól manager
Name[fr]=Gestionnaire de caméra Gtkam
Name[fy]=Gtkam kamera behearder
Name[ga]=Gtkam bainisteoir ceamara
Name[gd]=Gtkam camara manaidsear
Name[gl]=Xestor de cámaras Gtkam
Name[gn]=Gtkam cámara mohendaha
Name[gu]=Gtkam કેમેરા મેનેજર
Name[ha]=Gtkam kamara Manager
Name[he]=Gtkam תומלצמ להנמ
Name[hi]=Gtkam कैमरा प्रबंधक
Name[hr]=Gtkam upravitelj kamere
Name[ht]=Manadjè kamera Gtkam
Name[hu]=Gtkam kamera menedzser
Name[hy]=Gtkam տեսախցիկի մենեջեր
Name[id]=Manajer kamera Gtkam
Name[ig]=Onye njikwa igwefoto Gtkam
Name[is]=Gtkam myndavélarstjóri
Name[it]=Gestore della fotocamera Gtkam
Name[iu]=Gtkam ᐊᔾᔨᓕᐅᕈᑎᓄᑦ ᐊᐅᓚᑦᑎᔨ
Name[ja]=Gtkam カメラマネージャー
Name[jv]=Manajer kamera Gtkam
Name[ka]=Gtkam კამერის მენეჯერი
Name[kk]=Gtkam камера менеджері
Name[km]=អ្នកគ្រប់គ្រងកាមេរ៉ា Gtkam
Name[kn]=Gtkam ಕ್ಯಾಮೆರಾ ಮ್ಯಾನೇಜರ್
Name[ko]=Gtkam 카메라 관리자
Name[ku]=Rêveberê kamera Gtkam
Name[ky]=Gtkam камера менеджери
Name[la]=Gtkam camera procurator
Name[lb]=Gtkam Kamera Manager
Name[lg]=Omuddukanya kkamera ya Gtkam
Name[ln]=Gtkam mokambi ya kamera
Name[lo]=ຜູ້ຈັດການກ້ອງຖ່າຍຮູບ Gtkam
Name[lt]=Gtkam kameros tvarkyklė
Name[lv]=Gtkam kameras menedžeris
Name[mg]=Gtkam camera manager
Name[mi]=Kaiwhakahaere kāmera Gtkam
Name[mk]=Gtkam менаџер на камера
Name[ml]=Gtkam ക്യാമറ മാനേജർ
Name[mn]=Gtkam камерын менежер
Name[mr]=Gtkam कॅमेरा व्यवस्थापक
Name[ms]=Pengurus kamera Gtkam
Name[mt]=Maniġer tal-kamera Gtkam
Name[my]=Gtkam ကင်မရာမန်နေဂျာ
Name[ne]=Gtkam क्यामेरा प्रबन्धक
Name[nl]=Gtkam cameramanager
Name[no]=Gtkam-kamerabehandler
Name[ny]=Woyang'anira kamera wa Gtkam
Name[om]=Hogganaa kaameraa Gtkam
Name[or]=Gtkam କ୍ୟାମେରା ପରିଚାଳକ |
Name[pa]=Gtkam ਕੈਮਰਾ ਮੈਨੇਜਰ
Name[pl]=Menedżer kamery Gtkam
Name[ps]=ﺮﯾﺪﻣ ﯤﺮﻤﯿﮐ Gtkam ﺩ
Name[pt]=Gtkam gerenciador de câmera
Name[qu]=Gtkam kamara kamachiq
Name[ro]=Managerul camerei Gtkam
Name[ru]=Менеджер камеры Gtkam
Name[rw]=Umuyobozi wa kamera ya Gtkam
Name[sa]=Gtkam कॅमेरा प्रबन्धक
Name[sd]=Gtkam ﺮﺠﻴﻨﺌﻣ ﺍﺮﻴﻤﺌڪ
Name[si]=Gtkam කැමරා කළමනාකරු
Name[sk]=Správca kamery Gtkam
Name[sl]=Upravitelj kamere Gtkam
Name[sm]=Pule o le meapueata Gtkam
Name[sn]=Gtkam kamera maneja
Name[so]=Maareeyaha kamarada Gtkam
Name[sq]=Menaxheri i kamerës Gtkam
Name[st]=Motsamaisi oa khamera ea Gtkam
Name[su]=Manajer kaméra Gtkam
Name[sv]=Gtkam kamerahanterare
Name[sw]=Meneja wa kamera ya Gtkam
Name[ta]=Gtkam கேமரா மேலாளர்
Name[te]=Gtkam కెమెరా మేనేజర్
Name[tg]=Менеҷери камераи Gtkam
Name[th]=ผู้จัดการกล้อง Gtkam
Name[ti]=ግትካም ካሜራ ማናጀር
Name[tk]=Gtkam kamera dolandyryjysy
Name[tl]=Gtkam camera manager
Name[to]=Pule meʻafaita Gtkam
Name[tr]=Gtkam kamera yöneticisi
Name[ts]=Gtkam mufambisi wa khamera
Name[tt]=Gtkam камера менеджеры
Name[tw]=Gtkam mfoninitwa afiri sohwɛfo
Name[ty]=Gtkam ti'a faatere no te pataraa hoho'a
Name[ug]=Gtkam ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺍﺮﯧﻣﺎﻛ
Name[uk]=Менеджер камери Gtkam
Name[ur]=Gtkam ﺮﺠﯿﻨﯿﻣ ﮦﺮﻤﯿﮐ
Name[uz]=Gtkam kamera menejeri
Name[vi]=Trình quản lý máy ảnh Gtkam
Name[xh]=Umphathi wekhamera yeGtkam
Name[yi]=Gtkam רעטלאַווראַפ טאַראַפּאַ
Name[yo]=Oluṣakoso kamẹra Gtkam
Name[zh]=GTkam 相机管理器
Name[zu]=Umphathi wekhamera ye-Gtkam
Name=Gtkam camera manager
Comment[af]=Gtkam kamera bestuurder
Comment[am]=Gtkam ካሜራ አስተዳዳሪ
Comment[ar]=Gtkam ﺍﺮﻴﻣﺎﻜﻟﺍ ﺮﻳﺪﻣ
Comment[as]=Gtkam কেমেৰা মেনেজাৰ
Comment[ay]=Gtkam cámara apnaqiri
Comment[az]=Gtkam kamera meneceri
Comment[ba]=Гткам камераһы менеджеры
Comment[be]=Менеджэр камеры gtkam
Comment[bg]=Gtkam мениджър на камерата
Comment[bm]=Gtkam kamera ɲɛmɔgɔ
Comment[bn]=Gtkam ক্যামেরা ম্যানেজার
Comment[bo]=Gtkamཔར་ལེན་འཕྲུལ་ཆས་ཀྱི་སྤྱི་གཉེར་བ
Comment[bs]=Menadžer Gtkam kamera
Comment[ca]=Gestor de càmeres Gtkam
Comment[co]=Gestore di càmera Gtkam
Comment[cs]=Správce kamery Gtkam
Comment[cy]=Rheolwr camera Gtkam
Comment[da]=Gtkam kamera manager
Comment[de]=GTKAM-Kameramanager
Comment[dv]=ވެރެޖަނޭމެ ރާމެކެ މްކަޓީޖީ
Comment[ee]=Gtkam fotoɖemɔ̃ dzikpɔla
Comment[el]=Διαχείριση κάμερας Gtkam
Comment[en]=Gtkam camera manager
Comment[eo]=Gtkam fotila administranto
Comment[es]=Administrador de cámaras Gtkam
Comment[et]=Gtkam kaamera haldur
Comment[eu]=Gtkam kamera kudeatzailea
Comment[fa]=Gtkam ﻦﯿﺑﺭﻭﺩ ﺮﯾﺪﻣ
Comment[fi]=Gtkam kameran johtaja
Comment[fj]=Manidia ni itaba veilawa ni GTKAM
Comment[fo]=Gtkam myndatól manager
Comment[fr]=Gestionnaire de caméra Gtkam
Comment[fy]=Gtkam kamera behearder
Comment[ga]=Gtkam bainisteoir ceamara
Comment[gd]=Gtkam camara manaidsear
Comment[gl]=Xestor de cámaras Gtkam
Comment[gn]=Gtkam cámara mohendaha
Comment[gu]=Gtkam કેમેરા મેનેજર
Comment[ha]=Gtkam kamara Manager
Comment[he]=Gtkam תומלצמ להנמ
Comment[hi]=Gtkam कैमरा प्रबंधक
Comment[hr]=Gtkam upravitelj kamere
Comment[ht]=Manadjè kamera Gtkam
Comment[hu]=Gtkam kamera menedzser
Comment[hy]=Gtkam տեսախցիկի մենեջեր
Comment[id]=Manajer kamera Gtkam
Comment[ig]=Onye njikwa igwefoto Gtkam
Comment[is]=Gtkam myndavélarstjóri
Comment[it]=Gestore della fotocamera Gtkam
Comment[iu]=Gtkam ᐊᔾᔨᓕᐅᕈᑎᓄᑦ ᐊᐅᓚᑦᑎᔨ
Comment[ja]=Gtkam カメラマネージャー
Comment[jv]=Manajer kamera Gtkam
Comment[ka]=Gtkam კამერის მენეჯერი
Comment[kk]=Gtkam камера менеджері
Comment[km]=អ្នកគ្រប់គ្រងកាមេរ៉ា Gtkam
Comment[kn]=Gtkam ಕ್ಯಾಮೆರಾ ಮ್ಯಾನೇಜರ್
Comment[ko]=Gtkam 카메라 관리자
Comment[ku]=Rêveberê kamera Gtkam
Comment[ky]=Gtkam камера менеджери
Comment[la]=Gtkam camera procurator
Comment[lb]=Gtkam Kamera Manager
Comment[lg]=Omuddukanya kkamera ya Gtkam
Comment[ln]=Gtkam mokambi ya kamera
Comment[lo]=ຜູ້ຈັດການກ້ອງຖ່າຍຮູບ Gtkam
Comment[lt]=Gtkam kameros tvarkyklė
Comment[lv]=Gtkam kameras menedžeris
Comment[mg]=Gtkam camera manager
Comment[mi]=Kaiwhakahaere kāmera Gtkam
Comment[mk]=Gtkam менаџер на камера
Comment[ml]=Gtkam ക്യാമറ മാനേജർ
Comment[mn]=Gtkam камерын менежер
Comment[mr]=Gtkam कॅमेरा व्यवस्थापक
Comment[ms]=Pengurus kamera Gtkam
Comment[mt]=Maniġer tal-kamera Gtkam
Comment[my]=Gtkam ကင်မရာမန်နေဂျာ
Comment[ne]=Gtkam क्यामेरा प्रबन्धक
Comment[nl]=Gtkam cameramanager
Comment[no]=Gtkam-kamerabehandler
Comment[ny]=Woyang'anira kamera wa Gtkam
Comment[om]=Hogganaa kaameraa Gtkam
Comment[or]=Gtkam କ୍ୟାମେରା ପରିଚାଳକ |
Comment[pa]=Gtkam ਕੈਮਰਾ ਮੈਨੇਜਰ
Comment[pl]=Menedżer kamery Gtkam
Comment[ps]=ﺮﯾﺪﻣ ﯤﺮﻤﯿﮐ Gtkam ﺩ
Comment[pt]=Gtkam gerenciador de câmera
Comment[qu]=Gtkam kamara kamachiq
Comment[ro]=Managerul camerei Gtkam
Comment[ru]=Менеджер камеры Gtkam
Comment[rw]=Umuyobozi wa kamera ya Gtkam
Comment[sa]=Gtkam कॅमेरा प्रबन्धक
Comment[sd]=Gtkam ﺮﺠﻴﻨﺌﻣ ﺍﺮﻴﻤﺌڪ
Comment[si]=Gtkam කැමරා කළමනාකරු
Comment[sk]=Správca kamery Gtkam
Comment[sl]=Upravitelj kamere Gtkam
Comment[sm]=Pule o le meapueata Gtkam
Comment[sn]=Gtkam kamera maneja
Comment[so]=Maareeyaha kamarada Gtkam
Comment[sq]=Menaxheri i kamerës Gtkam
Comment[st]=Motsamaisi oa khamera ea Gtkam
Comment[su]=Manajer kaméra Gtkam
Comment[sv]=Gtkam kamerahanterare
Comment[sw]=Meneja wa kamera ya Gtkam
Comment[ta]=Gtkam கேமரா மேலாளர்
Comment[te]=Gtkam కెమెరా మేనేజర్
Comment[tg]=Менеҷери камераи Gtkam
Comment[th]=ผู้จัดการกล้อง Gtkam
Comment[ti]=ግትካም ካሜራ ማናጀር
Comment[tk]=Gtkam kamera dolandyryjysy
Comment[tl]=Gtkam camera manager
Comment[to]=Pule meʻafaita Gtkam
Comment[tr]=Gtkam kamera yöneticisi
Comment[ts]=Gtkam mufambisi wa khamera
Comment[tt]=Gtkam камера менеджеры
Comment[tw]=Gtkam mfoninitwa afiri sohwɛfo
Comment[ty]=Gtkam ti'a faatere no te pataraa hoho'a
Comment[ug]=Gtkam ﻰﭼﯘﻏﺭﯘﻘﺷﺎﺑ ﺍﺮﯧﻣﺎﻛ
Comment[uk]=Менеджер камери Gtkam
Comment[ur]=Gtkam ﺮﺠﯿﻨﯿﻣ ﮦﺮﻤﯿﮐ
Comment[uz]=Gtkam kamera menejeri
Comment[vi]=Trình quản lý máy ảnh Gtkam
Comment[xh]=Umphathi wekhamera yeGtkam
Comment[yi]=Gtkam רעטלאַווראַפ טאַראַפּאַ
Comment[yo]=Oluṣakoso kamẹra Gtkam
Comment[zh]=GTkam 相机管理器
Comment[zu]=Umphathi wekhamera ye-Gtkam
Comment=Gtkam camera manager
Exec=gtkam
Icon=gtkam.png
StartupNotify=true
Terminal=false
Type=Application
Categories=X-GraphicUtility
