[Desktop Entry]
Encoding=UTF-8
Name[af]=Chtheme GTK/Qt-temakieser
Name[am]=Chtheme GTK/Qt ገጽታ መራጭ
Name[ar]=Chtheme GTK / Qt ﻉﻮﺿﻮﻣ ﻲﻘﺘﻨﻣ
Name[as]=Chtheme GTK/Qt থিম নিৰ্বাচক
Name[ay]=Chtheme GTK/Qt uka tema ajlliri
Name[az]=Chtheme GTK/Qt mövzu seçicisi
Name[ba]=Chtheme GTK/Qt тематик һайлаусы
Name[be]=Выбар тэмы Chtheme GTK/Qt
Name[bg]=Chtheme GTK/Qt инструмент за избор на тема
Name[bm]=Chtheme GTK/Qt barokun sugandibaga
Name[bn]=Chtheme GTK/Qt থিম চয়নকারী
Name[bo]=Chtheme GTK/Qt བརྗོད་བྱ་གཙོ་བོ་བདམས་ཐོན་པ།
Name[bs]=Chtheme GTK/Qt birač tema
Name[ca]=Selector de temes Chtheme GTK/Qt
Name[co]=Selettore di tema Chtheme GTK/Qt
Name[cs]=Výběr motivu Chtheme GTK/Qt
Name[cy]=Dewisydd thema Chtheme GTK/Qt
Name[da]=Chtheme GTK/Qt temavælger
Name[de]=Chtheme GTK/Qt-Themenauswahl
Name[dv]=ރޒަޗޫ މްތީ ޓީއުކި/ކޭޓީޖީ މްތީޗް
Name[ee]=Chtheme GTK/Qt tanya tiatia
Name[el]=Επιλογέας θέματος Chtheme GTK/Qt
Name[en]=Chtheme GTK/Qt theme chooser
Name[eo]=Chtheme GTK/Qt-temo-elektilo
Name[es]=Selector de temas Chtheme GTK/Qt
Name[et]=Chtheme GTK/Qt teemavalija
Name[eu]=Chtheme GTK/Qt gai-hautatzailea
Name[fa]=Chtheme GTK/Qt ﻢﺗ ﺮﮕﺑﺎﺨﺘﻧﺍ
Name[fi]=Chtheme GTK/Qt -teeman valitsin
Name[fj]=Chtheme GTK/Qt itoko chooser
Name[fo]=Chtheme GTK/Qt theme veljar
Name[fr]=Sélecteur de thème Chtheme GTK/Qt
Name[fy]=Chtheme GTK / Qt tema kiezer
Name[ga]=Roghnóir téamaí Chtheme GTK/Qt
Name[gd]=Neach-taghaidh cuspair Chtheme GTK/Qt
Name[gl]=Selector de temas Chtheme GTK/Qt
Name[gn]=Chtheme GTK/Qt tema poravohára
Name[gu]=Chtheme GTK/Qt થીમ પસંદકર્તા
Name[ha]=Chtheme GTK/Qt mai zaɓen jigo
Name[he]=Chtheme GTK/Qt אשונ תוכרע רחוב
Name[hi]=Chtheme GTK/Qt थीम चयनकर्ता
Name[hr]=Chtheme GTK/Qt birač tema
Name[ht]=Chtheme GTK/Qt chwa tèm
Name[hu]=Chtheme GTK/Qt témaválasztó
Name[hy]=Chtheme GTK/Qt թեմայի ընտրիչ
Name[id]=Pemilih tema Chtheme GTK/Qt
Name[ig]=Nhọrọ isiokwu Chtheme GTK/Qt
Name[is]=Chtheme GTK/Qt þemavals
Name[it]=Selettore di temi Chtheme GTK/Qt
Name[iu]=Chtheme GTK/Qt-ᒥᒃ ᓂᕈᐊᖅᑐᖅ
Name[ja]=Chtheme GTK/Qt テーマセレクター
Name[jv]=Pamilih tema Chtheme GTK/Qt
Name[ka]=Chtheme GTK/Qt თემის ამომრჩევი
Name[kk]=Chtheme GTK/Qt тақырып таңдаушысы
Name[km]=កម្មវិធីជ្រើសរើសប្រធានបទ Chtheme GTK/Qt
Name[kn]=Chtheme GTK/Qt ಥೀಮ್ ಆಯ್ಕೆ
Name[ko]=Chtheme GTK/Qt 테마 선택기
Name[ku]=Hilbijêrê mijarê Chtheme GTK / Qt
Name[ky]=Chtheme GTK/Qt тема тандагыч
Name[la]=Chtheme GTK / Qt theme eligentis
Name[lb]=Chtheme GTK / Qt Thema Wieler
Name[lg]=Chtheme GTK/Qt omulonda omulamwa
Name[ln]=Chtheme GTK/Qt moponi ya motó ya likambo
Name[lo]=ຕົວເລືອກຮູບແບບສີສັນ Chtheme GTK/Qt
Name[lt]=Chtheme GTK/Qt temos parinkiklis
Name[lv]=Chtheme GTK/Qt motīvu izvēle
Name[mg]=Chtheme GTK/Qt mpifidy lohahevitra
Name[mi]=Chtheme GTK/Qt kaiwhiri kaupapa
Name[mk]=Избирач на тема Chtheme GTK/Qt
Name[ml]=Chtheme GTK/Qt തീം തിരഞ്ഞെടുക്കൽ
Name[mn]=Chtheme GTK/Qt загвар сонгогч
Name[mr]=Chtheme GTK/Qt थीम निवडकर्ता
Name[ms]=Pemilih tema Chtheme GTK/Qt
Name[mt]=Chtheme GTK/Qt li jagħżel it-tema
Name[my]=Chtheme GTK/Qt အပြင်အဆင် ရွေးချယ်ပေးသူ
Name[ne]=Chtheme GTK/Qt विषयवस्तु चयनकर्ता
Name[nl]=Chtheme GTK/Qt-themakiezer
Name[no]=Chtheme GTK/Qt-temavelger
Name[ny]=Chtheme GTK/Qt mutu wosankha
Name[om]=Chtheme GTK/Qt filannoo mata duree
Name[or]=Chtheme GTK / Qt ଥିମ୍ ଚୟନକର୍ତ୍ତା |
Name[pa]=Chtheme GTK/Qt ਥੀਮ ਚੋਣਕਾਰ
Name[pl]=Wybór motywu Chtheme GTK/Qt
Name[ps]=Chtheme GTK/Qt ﯽﮑﻧﻮﮐﺎټ ﻉﻮﺿﻮﻣ
Name[pt]=Seletor de temas Chtheme GTK/Qt
Name[qu]=Chtheme GTK/Qt tema akllaq
Name[ro]=Selector de teme Chtheme GTK/Qt
Name[ru]=Выбор темы Chtheme GTK/Qt
Name[rw]=Chtheme GTK / Qt uhitamo insanganyamatsiko
Name[sa]=Chtheme GTK/Qt विषय चयनकर्ता
Name[sd]=Chtheme GTK/Qt ڙﺪﻨﻳڊﻧﻮﭼ ﻉﻮﺿﻮﻣ
Name[si]=Chtheme GTK/Qt තේමා තේරීම
Name[sk]=Výber témy Chtheme GTK/Qt
Name[sl]=Chtheme GTK/Qt izbirnik teme
Name[sm]=Chtheme GTK/Qt filifilia autu
Name[sn]=Chtheme GTK/Qt theme yekusarudza
Name[so]=Chtheme GTK/Qt mawduuca doorta
Name[sq]=Zgjedhësi i temës Chtheme GTK/Qt
Name[st]=Mokhethi oa sehlooho oa Chtheme GTK/Qt
Name[su]=Pamilih téma Chtheme GTK/Qt
Name[sv]=Chtheme GTK/Qt temaväljare
Name[sw]=Kiteuzi cha mandhari ya Chtheme GTK/Qt
Name[ta]=Chtheme GTK/Qt தீம் தேர்வி
Name[te]=Chtheme GTK/Qt థీమ్ ఎంపిక
Name[tg]=Интихобкунандаи мавзӯъ Chtheme GTK/Qt
Name[th]=ตัวเลือกธีม Chtheme GTK/Qt
Name[ti]=Chtheme GTK/Qt ቴማ መምረጺ
Name[tk]=Chtheme GTK / Qt mowzuk saýlaýjy
Name[tl]=Tagapili ng tema ng Chtheme GTK/Qt
Name[to]=Chtheme GTK/Qt kaveinga chooser
Name[tr]=Chtheme GTK/Qt tema seçici
Name[ts]=Chtheme GTK/Qt muhlawuri wa nhlokomhaka
Name[tt]=Chtheme GTK / Qt тема сайлаучы
Name[tw]=Chtheme GTK/Qt asɛmti a wɔpaw
Name[ty]=Chtheme GTK/Qt parau tumu
Name[ug]=Chtheme GTK / Qt ﭺﯘﻐﯩﻠﻟﺎﺗ ﺎﻤﯧﺗ ﺵﺎﺑ
Name[uk]=Chtheme GTK/Qt вибір теми
Name[ur]=Chtheme GTK/Qt ﮦﺪﻨﻨﮐ ﺐﺨﺘﻨﻣ ﻢﯿﮭﺗ
Name[uz]=Chtheme GTK/Qt mavzuni tanlash
Name[vi]=Bộ chọn chủ đề Chtheme GTK/Qt
Name[xh]=Umkhethi womxholo we-Chtheme GTK/Qt
Name[yi]=רעלאָשט עמעט GTK / Qt עמעהטשט
Name[yo]=Chtheme GTK/Qt akori yiyan
Name[zh]=Chtheme GTK/Qt 主题选择器
Name[zu]=Isikhethi setimu ye-Chtheme GTK/Qt
Name=Chtheme GTK/Qt theme chooser
Icon=mini.window3d.xpm
Comment[af]=Chtheme GTK/Qt-temakieser
Comment[am]=Chtheme GTK/Qt ገጽታ መራጭ
Comment[ar]=Chtheme GTK / Qt ﻉﻮﺿﻮﻣ ﻲﻘﺘﻨﻣ
Comment[as]=Chtheme GTK/Qt থিম নিৰ্বাচক
Comment[ay]=Chtheme GTK/Qt uka tema ajlliri
Comment[az]=Chtheme GTK/Qt mövzu seçicisi
Comment[ba]=Chtheme GTK/Qt тематик һайлаусы
Comment[be]=Выбар тэмы Chtheme GTK/Qt
Comment[bg]=Chtheme GTK/Qt инструмент за избор на тема
Comment[bm]=Chtheme GTK/Qt barokun sugandibaga
Comment[bn]=Chtheme GTK/Qt থিম চয়নকারী
Comment[bo]=Chtheme GTK/Qt བརྗོད་བྱ་གཙོ་བོ་བདམས་ཐོན་པ།
Comment[bs]=Chtheme GTK/Qt birač tema
Comment[ca]=Selector de temes Chtheme GTK/Qt
Comment[co]=Selettore di tema Chtheme GTK/Qt
Comment[cs]=Výběr motivu Chtheme GTK/Qt
Comment[cy]=Dewisydd thema Chtheme GTK/Qt
Comment[da]=Chtheme GTK/Qt temavælger
Comment[de]=Chtheme GTK/Qt-Themenauswahl
Comment[dv]=ރޒަޗޫ މްތީ ޓީއުކި/ކޭޓީޖީ މްތީޗް
Comment[ee]=Chtheme GTK/Qt tanya tiatia
Comment[el]=Επιλογέας θέματος Chtheme GTK/Qt
Comment[en]=Chtheme GTK/Qt theme chooser
Comment[eo]=Chtheme GTK/Qt-temo-elektilo
Comment[es]=Selector de temas Chtheme GTK/Qt
Comment[et]=Chtheme GTK/Qt teemavalija
Comment[eu]=Chtheme GTK/Qt gai-hautatzailea
Comment[fa]=Chtheme GTK/Qt ﻢﺗ ﺮﮕﺑﺎﺨﺘﻧﺍ
Comment[fi]=Chtheme GTK/Qt -teeman valitsin
Comment[fj]=Chtheme GTK/Qt itoko chooser
Comment[fo]=Chtheme GTK/Qt theme veljar
Comment[fr]=Sélecteur de thème Chtheme GTK/Qt
Comment[fy]=Chtheme GTK / Qt tema kiezer
Comment[ga]=Roghnóir téamaí Chtheme GTK/Qt
Comment[gd]=Neach-taghaidh cuspair Chtheme GTK/Qt
Comment[gl]=Selector de temas Chtheme GTK/Qt
Comment[gn]=Chtheme GTK/Qt tema poravohára
Comment[gu]=Chtheme GTK/Qt થીમ પસંદકર્તા
Comment[ha]=Chtheme GTK/Qt mai zaɓen jigo
Comment[he]=Chtheme GTK/Qt אשונ תוכרע רחוב
Comment[hi]=Chtheme GTK/Qt थीम चयनकर्ता
Comment[hr]=Chtheme GTK/Qt birač tema
Comment[ht]=Chtheme GTK/Qt chwa tèm
Comment[hu]=Chtheme GTK/Qt témaválasztó
Comment[hy]=Chtheme GTK/Qt թեմայի ընտրիչ
Comment[id]=Pemilih tema Chtheme GTK/Qt
Comment[ig]=Nhọrọ isiokwu Chtheme GTK/Qt
Comment[is]=Chtheme GTK/Qt þemavals
Comment[it]=Selettore di temi Chtheme GTK/Qt
Comment[iu]=Chtheme GTK/Qt-ᒥᒃ ᓂᕈᐊᖅᑐᖅ
Comment[ja]=Chtheme GTK/Qt テーマセレクター
Comment[jv]=Pamilih tema Chtheme GTK/Qt
Comment[ka]=Chtheme GTK/Qt თემის ამომრჩევი
Comment[kk]=Chtheme GTK/Qt тақырып таңдаушысы
Comment[km]=កម្មវិធីជ្រើសរើសប្រធានបទ Chtheme GTK/Qt
Comment[kn]=Chtheme GTK/Qt ಥೀಮ್ ಆಯ್ಕೆ
Comment[ko]=Chtheme GTK/Qt 테마 선택기
Comment[ku]=Hilbijêrê mijarê Chtheme GTK / Qt
Comment[ky]=Chtheme GTK/Qt тема тандагыч
Comment[la]=Chtheme GTK / Qt theme eligentis
Comment[lb]=Chtheme GTK / Qt Thema Wieler
Comment[lg]=Chtheme GTK/Qt omulonda omulamwa
Comment[ln]=Chtheme GTK/Qt moponi ya motó ya likambo
Comment[lo]=ຕົວເລືອກຮູບແບບສີສັນ Chtheme GTK/Qt
Comment[lt]=Chtheme GTK/Qt temos parinkiklis
Comment[lv]=Chtheme GTK/Qt motīvu izvēle
Comment[mg]=Chtheme GTK/Qt mpifidy lohahevitra
Comment[mi]=Chtheme GTK/Qt kaiwhiri kaupapa
Comment[mk]=Избирач на тема Chtheme GTK/Qt
Comment[ml]=Chtheme GTK/Qt തീം തിരഞ്ഞെടുക്കൽ
Comment[mn]=Chtheme GTK/Qt загвар сонгогч
Comment[mr]=Chtheme GTK/Qt थीम निवडकर्ता
Comment[ms]=Pemilih tema Chtheme GTK/Qt
Comment[mt]=Chtheme GTK/Qt li jagħżel it-tema
Comment[my]=Chtheme GTK/Qt အပြင်အဆင် ရွေးချယ်ပေးသူ
Comment[ne]=Chtheme GTK/Qt विषयवस्तु चयनकर्ता
Comment[nl]=Chtheme GTK/Qt-themakiezer
Comment[no]=Chtheme GTK/Qt-temavelger
Comment[ny]=Chtheme GTK/Qt mutu wosankha
Comment[om]=Chtheme GTK/Qt filannoo mata duree
Comment[or]=Chtheme GTK / Qt ଥିମ୍ ଚୟନକର୍ତ୍ତା |
Comment[pa]=Chtheme GTK/Qt ਥੀਮ ਚੋਣਕਾਰ
Comment[pl]=Wybór motywu Chtheme GTK/Qt
Comment[ps]=Chtheme GTK/Qt ﯽﮑﻧﻮﮐﺎټ ﻉﻮﺿﻮﻣ
Comment[pt]=Seletor de temas Chtheme GTK/Qt
Comment[qu]=Chtheme GTK/Qt tema akllaq
Comment[ro]=Selector de teme Chtheme GTK/Qt
Comment[ru]=Выбор темы Chtheme GTK/Qt
Comment[rw]=Chtheme GTK / Qt uhitamo insanganyamatsiko
Comment[sa]=Chtheme GTK/Qt विषय चयनकर्ता
Comment[sd]=Chtheme GTK/Qt ڙﺪﻨﻳڊﻧﻮﭼ ﻉﻮﺿﻮﻣ
Comment[si]=Chtheme GTK/Qt තේමා තේරීම
Comment[sk]=Výber témy Chtheme GTK/Qt
Comment[sl]=Chtheme GTK/Qt izbirnik teme
Comment[sm]=Chtheme GTK/Qt filifilia autu
Comment[sn]=Chtheme GTK/Qt theme yekusarudza
Comment[so]=Chtheme GTK/Qt mawduuca doorta
Comment[sq]=Zgjedhësi i temës Chtheme GTK/Qt
Comment[st]=Mokhethi oa sehlooho oa Chtheme GTK/Qt
Comment[su]=Pamilih téma Chtheme GTK/Qt
Comment[sv]=Chtheme GTK/Qt temaväljare
Comment[sw]=Kiteuzi cha mandhari ya Chtheme GTK/Qt
Comment[ta]=Chtheme GTK/Qt தீம் தேர்வி
Comment[te]=Chtheme GTK/Qt థీమ్ ఎంపిక
Comment[tg]=Интихобкунандаи мавзӯъ Chtheme GTK/Qt
Comment[th]=ตัวเลือกธีม Chtheme GTK/Qt
Comment[ti]=Chtheme GTK/Qt ቴማ መምረጺ
Comment[tk]=Chtheme GTK / Qt mowzuk saýlaýjy
Comment[tl]=Tagapili ng tema ng Chtheme GTK/Qt
Comment[to]=Chtheme GTK/Qt kaveinga chooser
Comment[tr]=Chtheme GTK/Qt tema seçici
Comment[ts]=Chtheme GTK/Qt muhlawuri wa nhlokomhaka
Comment[tt]=Chtheme GTK / Qt тема сайлаучы
Comment[tw]=Chtheme GTK/Qt asɛmti a wɔpaw
Comment[ty]=Chtheme GTK/Qt parau tumu
Comment[ug]=Chtheme GTK / Qt ﭺﯘﻐﯩﻠﻟﺎﺗ ﺎﻤﯧﺗ ﺵﺎﺑ
Comment[uk]=Chtheme GTK/Qt вибір теми
Comment[ur]=Chtheme GTK/Qt ﮦﺪﻨﻨﮐ ﺐﺨﺘﻨﻣ ﻢﯿﮭﺗ
Comment[uz]=Chtheme GTK/Qt mavzuni tanlash
Comment[vi]=Bộ chọn chủ đề Chtheme GTK/Qt
Comment[xh]=Umkhethi womxholo we-Chtheme GTK/Qt
Comment[yi]=רעלאָשט עמעט GTK / Qt עמעהטשט
Comment[yo]=Chtheme GTK/Qt akori yiyan
Comment[zh]=Chtheme GTK/Qt 主题选择器
Comment[zu]=Isikhethi setimu ye-Chtheme GTK/Qt
Comment=Chtheme GTK/Qt theme chooser
Exec=gtk_chtheme_wrapper
Terminal=false
Type=Application
Categories=X-Desktop-appearance
GenericName=Chtheme
