[Desktop Entry]
Encoding=UTF-8
Name[af]=Xorg Video Wizard
Name[am]=Xorg ቪዲዮ አዋቂ
Name[ar]=Xorg ﻮﻳﺪﻴﻓ ﺞﻟﺎﻌﻣ
Name[as]=Xorg ভিডিঅ' উইজাৰ্ড
Name[ay]=Xorg Video Asistente ukax mä juk’a pachanakanwa
Name[az]=Xorg Video Sihirbazı
Name[ba]=Xorg Video Wizard
Name[be]=Майстар відэа xorg
Name[bg]=Видео съветник на Xorg
Name[bm]=Xorg Wideyo Wizard
Name[bn]=Xorg ভিডিও উইজার্ড
Name[bo]=ཞུས་ག་གེ་མོའི་བརྙན་འཕྲིན་ལྷ་བ།
Name[bs]=Xorg Video Čarobnjak
Name[ca]=Assistent de vídeo Xorg
Name[co]=Xorg Video Wizard
Name[cs]=Xorg Video Wizard
Name[cy]=Dewin Fideo Xorg
Name[da]=Xorg Video Wizard
Name[de]=Xorg-Video-Assistent
Name[dv]=ޑްރޒަވި އޯޑިވީ ގްރއޯސްކްއެ
Name[ee]=Xorg Video ƒe Dɔwɔnu
Name[el]=Xorg Video Wizard
Name[eo]=Xorg Video Sorĉisto
Name[es]=Asistente de vídeo Xorg
Name[et]=Xorgi videoviisard
Name[eu]=Xorg Bideo Morroia
Name[fa]=Xorg Video Wizard
Name[fi]=Xorg Video Wizard
Name[fj]=Xorg Wizard ni Vidio
Name[fo]=Xorg Video Wizard
Name[fr]=Assistant vidéo Xorg
Name[fy]=Xorg Video Wizard
Name[ga]=Xorg Treoraí Físeáin
Name[gd]=Draoidh bhidio Xorg
Name[gl]=Xorg Video Wizard
Name[gn]=Xorg Video Asistente rehegua
Name[gu]=Xorg વિડિઓ વિઝાર્ડ
Name[ha]=Mayen Bidiyo Xorg
Name[he]=Xorg לש ואדיווה ףשא
Name[hi]=Xorg वीडियो विज़ार्ड
Name[hr]=Xorg video čarobnjak
Name[ht]=Xorg Videyo Sòsye
Name[hu]=Xorg videó varázsló
Name[hy]=Xorg Video Wizard
Name[id]=Wisaya Video Xorg
Name[ig]=Ọkachamara vidiyo Xorg
Name[is]=Xorg Video Wizard
Name[it]=Procedura guidata video Xorg
Name[iu]=Xorg ᑕᕐᕆᔮᒃᓴᖅ Wizard
Name[ja]=Xorg ビデオ ウィザード
Name[jv]=Xorg Video Wisaya
Name[ka]=Xorg ვიდეო ოსტატი
Name[kk]=Xorg бейне шебері
Name[km]=អ្នកជំនួយវីដេអូ Xorg
Name[kn]=Xorg ವೀಡಿಯೊ ವಿಝಾರ್ಡ್
Name[ko]=Xorg 비디오 마법사
Name[ku]=Xorg Video Wizard
Name[ky]=Xorg видео устасы
Name[la]=Xorg Video Veneficus
Name[lb]=Xorg Video Wizard
Name[lg]=Xorg Omugezi wa Vidiyo
Name[ln]=Xorg Assistant ya video
Name[lo]=ຕົວຊ່ວຍສ້າງວິດີໂອ Xorg
Name[lt]=Xorg vaizdo vedlys
Name[lv]=Xorg video vednis
Name[mg]=Xorg Video Wizard
Name[mi]=Ruānuku Ataata Xorg
Name[mk]=Xorg Video Wizard
Name[ml]=Xorg വീഡിയോ വിസാർഡ്
Name[mn]=Xorg видео шидтэн
Name[mr]=Xorg व्हिडिओ विझार्ड
Name[ms]=Wizard Video Xorg
Name[mt]=Xorg Video Wizard
Name[my]=Xorg ဗီဒီယို Wizard
Name[ne]=Xorg भिडियो विजार्ड
Name[nl]=Xorg-videowizard
Name[no]=Xorg Video Wizard
Name[ny]=Xorg Video Wizard
Name[om]=Xorg Viidiyoo Wizard
Name[or]=Xorg ଭିଡିଓ ୱିଜାର୍ଡ |
Name[pa]=Xorg ਵੀਡੀਓ ਸਹਾਇਕ
Name[pl]=Kreator wideo Xorg
Name[ps]=ډﺭﺯﻭ ﻮﯾډﯾﻭ Xorg ﺩ
Name[pt]=Assistente de vídeo Xorg
Name[qu]=Xorg Video Asistente
Name[ro]=Xorg Video Wizard
Name[ru]=Мастер видео Xorg
Name[rw]=Xorg Video Wizard
Name[sa]=Xorg विडियो विज़ार्ड
Name[sd]=Xorg ﺭﺎﮔﺩﺪﻣ ﻮﻳڊﻭ
Name[si]=Xorg වීඩියෝ විශාරද
Name[sk]=Sprievodca videom Xorg
Name[sl]=Čarovnik za video Xorg
Name[sm]=Xorg Vitio Wizard
Name[sn]=Xorg Vhidhiyo Wizard
Name[so]=Xorg Video Wizard
Name[sq]=Xorg Video Wizard
Name[st]=Xorg Wizard ea Video
Name[su]=Xorg Video Wizard
Name[sv]=Xorg Video Wizard
Name[sw]=Mchawi wa Video wa Xorg
Name[ta]=Xorg வீடியோ வழிகாட்டி
Name[te]=Xorg వీడియో విజార్డ్
Name[tg]=Ёвари видеои Xorg
Name[th]=ตัวช่วยสร้างวิดีโอ Xorg
Name[ti]=Xorg ቪድዮ ዊዛርድ
Name[tk]=Xorg wideo ussady
Name[tl]=Xorg Video Wizard
Name[to]=Xorg vitio Wizard
Name[tr]=Xorg Video Sihirbazı
Name[ts]=Xorg Xitirhisiwa xa Vhidiyo
Name[tt]=Xorg Video Wizard
Name[tw]=Xorg Video Wizard a Wɔde Di Dwuma
Name[ty]=Xorg Video Wizard
Name[ug]=Xorg ﻰﺴﯩﭽﻛەﺘﯧﻳ ﻦﯩﺳ
Name[uk]=Майстер відео Xorg
Name[ur]=Xorg ﮈﺭﺯﻭ ﻮﯾﮉﯾﻭ
Name[uz]=Xorg video ustasi
Name[vi]=Trình hướng dẫn video Xorg
Name[xh]=Xorg Video Wizard
Name[yi]=Xorg דרעזיוו אעדיוו
Name[yo]=Xorg Video oluṣeto
Name[zh]=Xorg 视频向导
Name[zu]=I-Xorg Video Wizard
Name=Xorg Video Wizard
Icon=wizard16.xpm
Comment=Xorg Video Wizard
Exec=xorgwizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Xorg Video Wizard
