[Desktop Entry]
Encoding=UTF-8
Name[af]=Gexec voer 'n opdrag uit
Name[am]=Gexec ትዕዛዝ ያስፈጽማል
Name[ar]=ﺮﻣﺃ ﺬﻴﻔﻨﺘﺑ Gexec ﻡﻮﻘﻳ
Name[as]=Gexec এ এটা আদেশ এক্সিকিউট কৰে
Name[ay]=Gexec ukax mä kamachi phuqhañapawa
Name[az]=Gexec əmri yerinə yetirir
Name[ba]=Гексек командованиены үтәй
Name[be]=Gexec выканае каманду
Name[bg]=Gexec изпълни команда
Name[bm]=Gexec bɛ cikan dɔ waleya
Name[bn]=Gexec একটি কমান্ড চালান
Name[bo]=Gexecཡིས་བཀའ་རྒྱ་ཞིག་ལག་བསྟར་བྱས།
Name[bs]=Gexec izvršava naredbu
Name[ca]=Gexec executa una ordre
Name[co]=Gexec eseguisce un cumandamentu
Name[cs]=Gexec provede příkaz
Name[cy]=Gexec gweithredu gorchymyn
Name[da]=Gexec udføre en kommando
Name[de]=Gexec führt einen Befehl aus
Name[dv]=ވެއެރެކު ޓްކެޒެގްއެ އްޑެންމާކޮ ކްސެކްއެޖީ
Name[ee]=Gexec wɔ sedede aɖe
Name[el]=Το Gexec εκτελεί μια εντολή
Name[en]=Gexec execute a command
Name[eo]=Gexec plenumas komandon
Name[es]=Gexec ejecutar un comando
Name[et]=Gexec käivitab käsu
Name[eu]=Gexec-ek komando bat exekutatzen du
Name[fa]=Gexec ﺪﻨﮐ ﯽﻣ ﺍﺮﺟﺍ ﺍﺭ ﺭﻮﺘﺳﺩ ﮏﯾ
Name[fi]=Gexec suorittaa komennon
Name[fj]=Gexec vakayacora e dua na ivakaro
Name[fo]=Gexec execute a command
Name[fr]=Gexec exécute une commande
Name[fy]=Gexec in kommando útfiere
Name[ga]=Gexec ordú a fhorghníomhú
Name[gd]=Gexec cuir an gnìomh àithne
Name[gl]=Gexec executa un comando
Name[gn]=Gexec ojapo peteĩ tembiapoukapy
Name[gu]=Gexec આદેશ ચલાવો
Name[ha]=Gexec aiwatar da umarni
Name[he]=Gexec הדוקפ עצבת
Name[hi]=Gexec एक कमांड निष्पादित करता है
Name[hr]=Gexec izvrši naredbu
Name[ht]=Gexec egzekite yon lòd
Name[hu]=A Gexec parancsot hajt végre
Name[hy]=Gexec-ը կատարում է հրաման
Name[id]=Gexec menjalankan perintah
Name[ig]=Gexec mebie iwu
Name[is]=Gexec framkvæma skipun
Name[it]=Gexec esegue un comando
Name[iu]=Gexec−ᑯᑦ ᑲᔪᓯᑎᑦᑎᓗᑎᒃ
Name[ja]=Gexec コマンドを実行する
Name[jv]=Gexec nglakokake prentah
Name[ka]=Gexec ასრულებს ბრძანებას
Name[kk]=Gexec пәрменді орындайды
Name[km]=Gexec ប្រតិបត្តិពាក្យបញ្ជា
Name[kn]=Gexec ಆಜ್ಞೆಯನ್ನು ಕಾರ್ಯಗತಗೊಳಿಸಿ
Name[ko]="Gexec 명령 실행"
Name[ku]=Gexec fermanek pêk tîne
Name[ky]=Gexec буйрукту аткарат
Name[la]=Gexec mandatum
Name[lb]=Gexec e Kommando ausféieren
Name[lg]=Gexec kola ekiragiro
Name[ln]=Gexec kosala commande moko
Name[lo]=Gexec ປະຕິບັດຄໍາສັ່ງ
Name[lt]=Gexec vykdo komandą
Name[lv]=Gexec izpilda komandu
Name[mg]=Gexec dia manatanteraka baiko
Name[mi]=Ka mahia e Gexec he whakahau
Name[mk]=Gexec изврши команда
Name[ml]=Gexec ഒരു കമാൻഡ് എക്സിക്യൂട്ട് ചെയ്യുക
Name[mn]=Gexec тушаалыг гүйцэтгэнэ
Name[mr]=Gexec कमांड कार्यान्वित करा
Name[ms]=Gexec melaksanakan arahan
Name[mt]=Gexec tesegwixxi kmand
Name[my]=Gexec သည် command ကိုလုပ်ဆောင်သည်။
Name[ne]=Gexec आदेश कार्यान्वयन गर्नुहोस्
Name[nl]=Gexec voert een opdracht uit
Name[no]=Gexec utføre en kommando
Name[ny]=Gexec perekani lamulo
Name[om]=Gexec ajaja tokko raawwadhu
Name[or]=Gexec ଏକ କମାଣ୍ଡ୍ ଏକଜେକ୍ୟୁଟ୍ କର |
Name[pa]=Gexec ਇੱਕ ਕਮਾਂਡ ਚਲਾਓ
Name[pl]=Gexec wykonaj polecenie
Name[ps]=Gexec ﻱﻮﮐ ﺍﺮﺟﺍ ډﻧﺎﻤﮐ ﻮﯾ
Name[pt]=Gexec executar um comando
Name[qu]=Gexec huk kamachiyta hunt'achiy
Name[ro]=Gexec execută o comandă
Name[ru]=Gexec выполнить команду
Name[rw]=Gexec ikore itegeko
Name[sa]=Gexec एकं आदेशं निष्पादयति
Name[sd]=Gexec ﻮﻳﺮڪ ﻱﺭﺎﺟ ﻢڪﺣ
Name[si]=Gexec විධානයක් ක්u200dරියාත්මක කරන්න
Name[sk]=Gexec vykoná príkaz
Name[sl]=Gexec izvede ukaz
Name[sm]=Gexec faatino se poloaiga
Name[sn]=Gexec ita murairo
Name[so]=Gexec fuliya amar
Name[sq]=Gexec ekzekuton një komandë
Name[st]=Gexec etsa taelo
Name[su]=Gexec ngajalankeun paréntah
Name[sv]=Gexec kör ett kommando
Name[sw]=Gexec kutekeleza amri
Name[ta]=Gexec ஒரு கட்டளையை இயக்கவும்
Name[te]=Gexec ఆదేశాన్ని అమలు చేయండి
Name[tg]=Gexec фармонро иҷро мекунад
Name[th]=Gexec รันคำสั่ง
Name[ti]=Gexec ሓደ ትእዛዝ ይፍጽም
Name[tk]=Gexec buýrugy ýerine ýetirýär
Name[tl]=Ang Gexec ay nagsagawa ng isang utos
Name[to]=Gexec fai ha fekau
Name[tr]=Gexec bir komut yürütür
Name[ts]=Gexec yi tirhisa xileriso
Name[tt]=Gexec боерыгы
Name[tw]=Gexec yɛ ahyɛdeɛ bi
Name[ty]=Gexec i te hoê faaueraa
Name[ug]=Gexec ﯗﺪﯩﻠﯩﻗ ﺍﺮﺠﯩﺋ ﻰﻨﻗﯗﺮﻳﯘﺑ
Name[uk]=Gexec виконує команду
Name[ur]=Gexec ۔ﮟﯾﺮﮐ ﻞﻤﻋ ﺮﭘ ﮉﻧﺎﻤﮐ
Name[uz]=Gexec buyruqni bajaradi
Name[vi]=Gexec thực thi một lệnh
Name[xh]=I-Gexec yenza umyalelo
Name[yi]=Gexec לעפֿאַב אַ ןריפסיו
Name[yo]=Gexec ṣiṣẹ aṣẹ kan
Name[zh]=gexec 执行命令
Name[zu]=I-Gexec yenza umyalo
Name=Gexec execute a command
Icon=gexec.xpm
Comment[af]=Gexec voer 'n opdrag uit
Comment[am]=Gexec ትዕዛዝ ያስፈጽማል
Comment[ar]=ﺮﻣﺃ ﺬﻴﻔﻨﺘﺑ Gexec ﻡﻮﻘﻳ
Comment[as]=Gexec এ এটা আদেশ এক্সিকিউট কৰে
Comment[ay]=Gexec ukax mä kamachi phuqhañapawa
Comment[az]=Gexec əmri yerinə yetirir
Comment[ba]=Гексек командованиены үтәй
Comment[be]=Gexec выканае каманду
Comment[bg]=Gexec изпълни команда
Comment[bm]=Gexec bɛ cikan dɔ waleya
Comment[bn]=Gexec একটি কমান্ড চালান
Comment[bo]=Gexecཡིས་བཀའ་རྒྱ་ཞིག་ལག་བསྟར་བྱས།
Comment[bs]=Gexec izvršava naredbu
Comment[ca]=Gexec executa una ordre
Comment[co]=Gexec eseguisce un cumandamentu
Comment[cs]=Gexec provede příkaz
Comment[cy]=Gexec gweithredu gorchymyn
Comment[da]=Gexec udføre en kommando
Comment[de]=Gexec führt einen Befehl aus
Comment[dv]=ވެއެރެކު ޓްކެޒެގްއެ އްޑެންމާކޮ ކްސެކްއެޖީ
Comment[ee]=Gexec wɔ sedede aɖe
Comment[el]=Το Gexec εκτελεί μια εντολή
Comment[en]=Gexec execute a command
Comment[eo]=Gexec plenumas komandon
Comment[es]=Gexec ejecutar un comando
Comment[et]=Gexec käivitab käsu
Comment[eu]=Gexec-ek komando bat exekutatzen du
Comment[fa]=Gexec ﺪﻨﮐ ﯽﻣ ﺍﺮﺟﺍ ﺍﺭ ﺭﻮﺘﺳﺩ ﮏﯾ
Comment[fi]=Gexec suorittaa komennon
Comment[fj]=Gexec vakayacora e dua na ivakaro
Comment[fo]=Gexec execute a command
Comment[fr]=Gexec exécute une commande
Comment[fy]=Gexec in kommando útfiere
Comment[ga]=Gexec ordú a fhorghníomhú
Comment[gd]=Gexec cuir an gnìomh àithne
Comment[gl]=Gexec executa un comando
Comment[gn]=Gexec ojapo peteĩ tembiapoukapy
Comment[gu]=Gexec આદેશ ચલાવો
Comment[ha]=Gexec aiwatar da umarni
Comment[he]=Gexec הדוקפ עצבת
Comment[hi]=Gexec एक कमांड निष्पादित करता है
Comment[hr]=Gexec izvrši naredbu
Comment[ht]=Gexec egzekite yon lòd
Comment[hu]=A Gexec parancsot hajt végre
Comment[hy]=Gexec-ը կատարում է հրաման
Comment[id]=Gexec menjalankan perintah
Comment[ig]=Gexec mebie iwu
Comment[is]=Gexec framkvæma skipun
Comment[it]=Gexec esegue un comando
Comment[iu]=Gexec−ᑯᑦ ᑲᔪᓯᑎᑦᑎᓗᑎᒃ
Comment[ja]=Gexec コマンドを実行する
Comment[jv]=Gexec nglakokake prentah
Comment[ka]=Gexec ასრულებს ბრძანებას
Comment[kk]=Gexec пәрменді орындайды
Comment[km]=Gexec ប្រតិបត្តិពាក្យបញ្ជា
Comment[kn]=Gexec ಆಜ್ಞೆಯನ್ನು ಕಾರ್ಯಗತಗೊಳಿಸಿ
Comment[ko]="Gexec 명령 실행"
Comment[ku]=Gexec fermanek pêk tîne
Comment[ky]=Gexec буйрукту аткарат
Comment[la]=Gexec mandatum
Comment[lb]=Gexec e Kommando ausféieren
Comment[lg]=Gexec kola ekiragiro
Comment[ln]=Gexec kosala commande moko
Comment[lo]=Gexec ປະຕິບັດຄໍາສັ່ງ
Comment[lt]=Gexec vykdo komandą
Comment[lv]=Gexec izpilda komandu
Comment[mg]=Gexec dia manatanteraka baiko
Comment[mi]=Ka mahia e Gexec he whakahau
Comment[mk]=Gexec изврши команда
Comment[ml]=Gexec ഒരു കമാൻഡ് എക്സിക്യൂട്ട് ചെയ്യുക
Comment[mn]=Gexec тушаалыг гүйцэтгэнэ
Comment[mr]=Gexec कमांड कार्यान्वित करा
Comment[ms]=Gexec melaksanakan arahan
Comment[mt]=Gexec tesegwixxi kmand
Comment[my]=Gexec သည် command ကိုလုပ်ဆောင်သည်။
Comment[ne]=Gexec आदेश कार्यान्वयन गर्नुहोस्
Comment[nl]=Gexec voert een opdracht uit
Comment[no]=Gexec utføre en kommando
Comment[ny]=Gexec perekani lamulo
Comment[om]=Gexec ajaja tokko raawwadhu
Comment[or]=Gexec ଏକ କମାଣ୍ଡ୍ ଏକଜେକ୍ୟୁଟ୍ କର |
Comment[pa]=Gexec ਇੱਕ ਕਮਾਂਡ ਚਲਾਓ
Comment[pl]=Gexec wykonaj polecenie
Comment[ps]=Gexec ﻱﻮﮐ ﺍﺮﺟﺍ ډﻧﺎﻤﮐ ﻮﯾ
Comment[pt]=Gexec executar um comando
Comment[qu]=Gexec huk kamachiyta hunt'achiy
Comment[ro]=Gexec execută o comandă
Comment[ru]=Gexec выполнить команду
Comment[rw]=Gexec ikore itegeko
Comment[sa]=Gexec एकं आदेशं निष्पादयति
Comment[sd]=Gexec ﻮﻳﺮڪ ﻱﺭﺎﺟ ﻢڪﺣ
Comment[si]=Gexec විධානයක් ක්u200dරියාත්මක කරන්න
Comment[sk]=Gexec vykoná príkaz
Comment[sl]=Gexec izvede ukaz
Comment[sm]=Gexec faatino se poloaiga
Comment[sn]=Gexec ita murairo
Comment[so]=Gexec fuliya amar
Comment[sq]=Gexec ekzekuton një komandë
Comment[st]=Gexec etsa taelo
Comment[su]=Gexec ngajalankeun paréntah
Comment[sv]=Gexec kör ett kommando
Comment[sw]=Gexec kutekeleza amri
Comment[ta]=Gexec ஒரு கட்டளையை இயக்கவும்
Comment[te]=Gexec ఆదేశాన్ని అమలు చేయండి
Comment[tg]=Gexec фармонро иҷро мекунад
Comment[th]=Gexec รันคำสั่ง
Comment[ti]=Gexec ሓደ ትእዛዝ ይፍጽም
Comment[tk]=Gexec buýrugy ýerine ýetirýär
Comment[tl]=Ang Gexec ay nagsagawa ng isang utos
Comment[to]=Gexec fai ha fekau
Comment[tr]=Gexec bir komut yürütür
Comment[ts]=Gexec yi tirhisa xileriso
Comment[tt]=Gexec боерыгы
Comment[tw]=Gexec yɛ ahyɛdeɛ bi
Comment[ty]=Gexec i te hoê faaueraa
Comment[ug]=Gexec ﯗﺪﯩﻠﯩﻗ ﺍﺮﺠﯩﺋ ﻰﻨﻗﯗﺮﻳﯘﺑ
Comment[uk]=Gexec виконує команду
Comment[ur]=Gexec ۔ﮟﯾﺮﮐ ﻞﻤﻋ ﺮﭘ ﮉﻧﺎﻤﮐ
Comment[uz]=Gexec buyruqni bajaradi
Comment[vi]=Gexec thực thi một lệnh
Comment[xh]=I-Gexec yenza umyalelo
Comment[yi]=Gexec לעפֿאַב אַ ןריפסיו
Comment[yo]=Gexec ṣiṣẹ aṣẹ kan
Comment[zh]=gexec 执行命令
Comment[zu]=I-Gexec yenza umyalo
Comment=Gexec execute a command
Exec=gexec
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Gexec
