[Desktop Entry]
Name[af]=RipOff CD liedjie ripper, eenvoudig
Name[am]=RipOff ሲዲ ዘፈን መቅጃ፣ ቀላል
Name[ar]=RipOff CD Song ripper ، ﻂﻴﺴﺑ
Name[as]=RipOff চিডি গীত ৰিপাৰ, সহজ
Name[ay]=RipOff CD q’uchu ripper, sapuru
Name[az]=RipOff CD mahnı ripper, sadə
Name[ba]=RipOff CD йыр рипперы, ябай
Name[be]=Праграма для капіравання песень RipOff CD, простая
Name[bg]=RipOff CD програма за копиране на песни, проста
Name[bm]=RipOff CD dɔnkili ripper, nɔgɔman
Name[bn]=রিপঅফ সিডি গান রিপার, সহজ
Name[bo]=RIPOff CDགར་གྱི་གླུ་དབྱངས་འཐེན་མཁན་དང་། སྟབས་བདེ།
Name[bs]=RipOff CD riper pjesama, jednostavan
Name[ca]=RipOff CD destripador de cançons, senzill
Name[co]=RipOff CD ripper di canzone, simplice
Name[cs]=RipOff CD ripper písní, jednoduchý
Name[cy]=Ripper caneuon CD RipOff, syml
Name[da]=RipOff CD sang ripper, enkel
Name[de]=RipOff CD-Song-Ripper, einfach
Name[dv]=ދާސާ ،ރޕަރި ވަލަ ޑީސީ ފްއޮޕްރި
Name[ee]=RipOff CD hadzidzi ripper, bɔbɔe
Name[el]=RipOff CD ripper τραγουδιού, απλό
Name[eo]=RipOff KD-kantoripper, simpla
Name[es]=Destripador de canciones de CD RipOff, simple
Name[et]=RipOff CD laulude rippija, lihtne
Name[eu]=RipOff CD abestien deskribatzailea, sinplea
Name[fa]=RipOff ﻩﺩﺎﺳ ،ﮓﻨﻫﺁ ﺮﭙﯾﺭ ﯼﺩ ﯽﺳ
Name[fi]=RipOff CD-kappaleiden rippaaja, yksinkertainen
Name[fj]=RipOff CD sere ripper, rawarawa
Name[fo]=RipOff CD song ripper, simple
Name[fr]=Ripper de chansons de CD RipOff, simple
Name[fy]=RipOff CD-ferskeripper, ienfâldich
Name[ga]=Sracaire amhrán CD RipOff, simplí
Name[gd]=Ripper òran CD RipOff, sìmplidh
Name[gl]=RipOff CD destripador de cancións, sinxelo
Name[gn]=RipOff CD purahéi ripper, simple
Name[gu]=રીપઓફ સીડી ગીત રીપર, સરળ
Name[ha]=RipOff CD mai ripper, mai sauƙi
Name[he]=טושפ ,RipOff רוטילקת לש םיריש שטרמ
Name[hi]=रिपऑफ़ सीडी गाना रिपर, सरल
Name[hr]=RipOff CD program za kopiranje pjesama, jednostavan
Name[ht]=RipOff CD chante ripper, senp
Name[hu]=RipOff CD dal ripper, egyszerű
Name[hy]=RipOff CD երգի սղոցիչ, պարզ
Name[id]=Ripper lagu CD RipOff, sederhana
Name[ig]=RipOff CD egwu ripper, dị mfe
Name[is]=RipOff geisladisk lag ripper, einfalt
Name[it]=RipOff CD song ripper, semplice
Name[iu]=ᕆᑉᐋᕝ ᕿᓪᓕᖅᑐᖅ, ᐊᔪᕐᓇᙱᑦᑐᖅ
Name[ja]=RipOff CD ソング リッパー、シンプル
Name[jv]=RipOff CD song ripper, prasaja
Name[ka]=RipOff CD სიმღერის რიპერი, მარტივი
Name[kk]=RipOff CD ән рипер, қарапайым
Name[km]=RipOff CD ripper, សាមញ្ញ
Name[kn]=ರಿಪ್ಆಫ್ ಸಿಡಿ ಹಾಡು ರಿಪ್ಪರ್, ಸರಳ
Name[ko]="RipOff CD 노래 리퍼, 심플"
Name[ku]=RipOff CD strana ripper, sade
Name[ky]=RipOff CD ыр рипер, жөнөкөй
Name[la]=RipOff CD song ripper, simple
Name[lb]=RipOff CD Song Ripper, einfach
Name[lg]=RipOff CD oluyimba ripper, kyangu
Name[ln]=RipOff CD nzembo ripper, pete
Name[lo]=RipOff CD ເພງ ripper, ງ່າຍດາຍ
Name[lt]=RipOff kompaktinių diskų dainų raižyklė, paprasta
Name[lv]=RipOff CD dziesmu kaut kas lielisks, vienkāršs
Name[mg]=RipOff CD hira ripper, tsotra
Name[mi]=RipOff CD waiata ripper, ngawari
Name[mk]=RipOff CD-рипувач на песни, едноставен
Name[ml]=റിപ്പ്ഓഫ് സിഡി സോംഗ് റിപ്പർ, ലളിതം
Name[mn]=RipOff CD дууны хуулбар, энгийн
Name[mr]=RipOff सीडी गाणे रिपर, साधे
Name[ms]=RipOff CD lagu ripper, mudah
Name[mt]=RipOff CD kanzunetta ripper, sempliċi
Name[my]=RipOff CD သီချင်း ripper ရိုးရှင်းပါသည်။
Name[ne]=RipOff CD गीत रिपर, सरल
Name[nl]=RipOff CD-nummerripper, eenvoudig
Name[no]=RipOff CD-sangripper, enkelt
Name[ny]=RipOff CD nyimbo ripper, yosavuta
Name[om]=RipOff CD sirba ripper, salphaadha
Name[or]=RipOff CD ଗୀତ ରିପର୍, ସରଳ |
Name[pa]=RipOff CD ਗੀਤ ਰਿਪਰ, ਸਧਾਰਨ
Name[pl]=Zgrywanie piosenek RipOff CD, proste
Name[ps]=RipOff CD ﻩﺩﺎﺳ ،ﺮﭙﯾﺭ ﻩﺭﺪﻨﺳ
Name[pt]=RipOff CD ripper de música, simples
Name[qu]=RipOff CD taki ripper, simple
Name[ro]=RipOff CD-ul melodie, simplu
Name[ru]=RipOff CD риппер песен, простой
Name[rw]=Indirimbo ya RipOff CD ripper, yoroshye
Name[sa]=RipOff CD गीत रिपर, सरल
Name[sd]=RipOff CD ﻭﺩﺎﺳ ،ﺮﭙﻳﺭ ﺖﻴﮔ
Name[si]=RipOff CD ගීත රිපර්, සරලයි
Name[sk]=RipOff CD ripper skladieb, jednoduchý
Name[sl]=RipOff CD predvajalnik pesmi, preprost
Name[sm]=RipOff CD pese ripper, faigofie
Name[sn]=RipOff CD rwiyo ripper, nyore
Name[so]=RipOff CD ripper heesta, fudud
Name[sq]=RipOff RipOff këngë RipOff CD, i thjeshtë
Name[st]=RipOff CD song ripper, e bonolo
Name[su]=RipOff CD lagu ripper, basajan
Name[sv]=RipOff CD-låtripper, enkelt
Name[sw]=RipOff CD wimbo chombo hiki, rahisi
Name[ta]=ரிப்ஆஃப் சிடி பாடல் ரிப்பர், எளிமையானது
Name[te]=రిప్u200cఆఫ్ CD పాట రిప్పర్, సరళమైనది
Name[tg]=RipOff CD ripper суруд, оддӣ
Name[th]=RipOff ริปเปอร์เพลง CD ง่ายๆ
Name[ti]=ሪፕኦፍ ሲዲ ደርፊ ሪፐር፣ ቀሊል
Name[tk]=RipOff CD aýdym ripper, ýönekeý
Name[tl]=RipOff CD song ripper, simple
Name[to]=RipOff e hiva CD ripper, faingofua
Name[tr]=RipOff CD şarkı kopyalayıcı, basit
Name[ts]=RipOff CD risimu ripper, ro olova
Name[tt]=RipOff CD җыр рипперы, гади
Name[tw]=RipOff CD dwom ripper, ɛnyɛ den
Name[ty]=RipOff CD song ripper, simple
Name[ug]=RipOff CD ﻲﯨﺩﺩﺎﺋ ، ﻰﻤﯩﺘﯨﺭ ﺎﺸﺧﺎﻧ
Name[uk]=Простий копіювач пісень RipOff CD
Name[ur]=RipOff CD ﮦﺩﺎﺳ ،ﺮﭙﯾﺭ ﺎﻧﺎﮔ
Name[uz]=RipOff CD qo'shiq ripper, oddiy
Name[vi]=Trình trích xuất bài hát CD RipOff, đơn giản
Name[xh]=RipOff CD ingoma ripper, elula
Name[yi]=טושפּ ,רעפּיר דיל קסידטקאַפּמאָק ףפאָפּיר
Name[yo]=RipOff CD orin ripper, rọrun
Name[zh]=RipOff CD 歌曲翻录器，简单
Name[zu]=RipOff CD ingoma ripper, elula
Name=RipOff CD song ripper, simple
Comment[af]=Rip oudio van jou CD's af
Comment[am]=ኦዲዮን ከሲዲዎችዎ ያንሱ
Comment[ar]=ﻚﺑ ﺔﺻﺎﺨﻟﺍ ﺔﻃﻮﻐﻀﻤﻟﺍ ﺹﺍﺮﻗﻷ﻿ﺍ ﻦﻣ ﺕﻮﺼﻟﺍ ﺦﺴﻧ
Comment[as]=আপোনাৰ চিডিসমূহৰ পৰা অডিঅ' ৰিপ কৰক
Comment[ay]=CD-nakamat audio apsuñamawa
Comment[az]=CD-lərinizdən səsi çıxarın
Comment[ba]=Компакт-дискыларҙан рип аудиоһы
Comment[be]=Скапіруйце аўдыё са сваіх кампакт-дыскаў
Comment[bg]=Извличане на аудио от вашите компактдискове
Comment[bm]=Aw ye odio bɔ aw ka CDw kɔnɔ
Comment[bn]=আপনার সিডি থেকে অডিও রিপ
Comment[bo]=ཁྱོད་ཀྱི་CDཡི་ནང་ནས་སྒྲ་ཕབ་པ།
Comment[bs]=Rip audio sa svojih CD-ova
Comment[ca]=Extraieu l'àudio dels vostres CD
Comment[co]=Rip audio da i vostri CD
Comment[cs]=Ripujte zvuk z vašich CD
Comment[cy]=Ripio sain o'ch CDs
Comment[da]=Rip lyd fra dine cd'er
Comment[de]=Rippen Sie Audio von Ihren CDs
Comment[dv]=ވެށެރާކު ޕްރި އޯޑިއޯ ންކުތަޑީސީ
Comment[ee]=Ðe odio le wò CD-wo me
Comment[el]=Αντιγράψτε τον ήχο από τα CD σας
Comment[eo]=Ripu audio de viaj KD-oj
Comment[es]=Extrae audio de tus CD
Comment[et]=Kopeerige heli oma CD-delt
Comment[eu]=Erauzi audioa zure CDetatik
Comment[fa]=ﺩﻮﺧ ﯼﺎﻫ ﯼﺩ ﯽﺳ ﺯﺍ ﺍﺪﺻ ﭗﯾﺭ
Comment[fi]=Kopioi ääni CD-levyiltäsi
Comment[fj]=Ripi na vakarorogo mai na nomu CD
Comment[fo]=Rip ljóð frá tínum fløgum.
Comment[fr]=Extraire l'audio de vos CD
Comment[fy]=Rip audio fan jo CD's
Comment[ga]=Íosluchtaigh fuaime ó do CD
Comment[gd]=Luchdaich a-nuas fuaim bho na CDan agad
Comment[gl]=Extrae o audio dos teus CD
Comment[gn]=Emboguejy audio nde CD-kuéragui
Comment[gu]=તમારી સીડીમાંથી ઓડિયો રીપ કરો
Comment[ha]=Rip audio daga CD ɗin ku
Comment[he]=ךלש םירוטילקתהמ וידוא רסה
Comment[hi]=अपनी सीडी से ऑडियो रिप करें
Comment[hr]=Ripirajte audio sa svojih CD-ova
Comment[ht]=Rache odyo nan CD ou yo
Comment[hu]=Másoljon hangot a CD-kről
Comment[hy]=Պատռեք աուդիո ձեր ձայնասկավառակներից
Comment[id]=Rip audio dari CD Anda
Comment[ig]=Dọrọ ụda na CD gị
Comment[is]=Rífðu hljóð af geisladiskunum þínum
Comment[it]=Copia l'audio dai tuoi CD
Comment[iu]=ᓂᐱᓕᐅᖅᓯᒪᔪᑦ ᕿᓪᓕᖅᑐᓂᑦ
Comment[ja]=CD からオーディオを取り込む
Comment[jv]=Nyuwek audio saka CD sampeyan
Comment[ka]=დააკოპირეთ აუდიო თქვენი დისკებიდან
Comment[kk]=CD дискілерінен дыбысты көшіріп алыңыз
Comment[km]=ច្រៀកអូឌីយ៉ូពីស៊ីឌីរបស់អ្នក។
Comment[kn]=ನಿಮ್ಮ CD ಗಳಿಂದ ಆಡಿಯೋ ರಿಪ್ ಮಾಡಿ
Comment[ko]=CD에서 오디오 추출
Comment[ku]=Ji CD-yên xwe deng jê bikin
Comment[ky]=CD'лериңизден аудиону көчүрүп алыңыз
Comment[la]=Rip audio ex CDs
Comment[lb]=Rip Audio vun Ären CDen
Comment[lg]=Rip audio okuva ku CD zo
Comment[ln]=Rip audio na ba CD na yo
Comment[lo]=Rip ສຽງຈາກ CDs ຂອງທ່ານ
Comment[lt]=Nukopijuokite garsą iš kompaktinių diskų
Comment[lv]=Izvelciet audio no kompaktdiskiem
Comment[mg]=Rivotra feo avy amin'ny CD-nao
Comment[mi]=Ripiripia te ororongo mai i o CD
Comment[mk]=Рипувајте аудио од вашите ЦД-а
Comment[ml]=നിങ്ങളുടെ സിഡിയിൽ നിന്ന് ഓഡിയോ റിപ്പ് ചെയ്യുക
Comment[mn]=CD-нээсээ аудио хуулж ав
Comment[mr]=तुमच्या सीडीमधून ऑडिओ रिप करा
Comment[ms]=Koyakkan audio daripada CD anda
Comment[mt]=Rip awdjo mis-CDs tiegħek
Comment[my]=သင့် CD များမှ အသံကို ဆုတ်ဖြဲပါ။
Comment[ne]=तपाईंको सीडीबाट अडियो रिप गर्नुहोस्
Comment[nl]=Rip audio van uw cd's
Comment[no]=Rip lyd fra CD-ene dine
Comment[ny]=Kung'amba zomvetsera kuchokera ma CD anu
Comment[om]=CD keessan irraa sagalee rip godhaa
Comment[or]=ତୁମର CD ରୁ ଅଡିଓ ରିପ୍ କର |
Comment[pa]=ਆਪਣੀਆਂ ਸੀਡੀਜ਼ ਤੋਂ ਆਡੀਓ ਰਿਪ ਕਰੋ
Comment[pl]=Zgrywaj dźwięk z płyt CD
Comment[ps]=ﺉړﮐ ﭗﯾﺭ ﻮﯾډﺁ ﻪﺨڅ CDs ﻮﻠﭙﺧ ﻪﻟ
Comment[pt]=Copie áudio dos seus CDs
Comment[qu]=CDykikunamanta audiota llik’iy
Comment[ro]=Extrageți sunetul de pe CD-urile dvs
Comment[ru]=Копируйте аудио с ваших компакт-дисков
Comment[rw]=Kuramo amajwi muri CD yawe
Comment[sa]=स्वस्य सीडीभ्यः ऑडियो रिप् कुर्वन्तु
Comment[sd]=ﻮﻳﺮڪ ﭗﻳﺭ ﻮﻳڊﺁ ﻥﺎﻣ ﻱڊ ﻲﺳ ﻲﺟ ﻥﺎﻫﻮﺗ
Comment[si]=ඔබගේ CD තැටි වලින් ශ්u200dරව්u200dය ඉරා දමන්න
Comment[sk]=Kopírujte zvuk z vašich diskov CD
Comment[sl]=Kopirajte zvok s svojih CD-jev
Comment[sm]=Aveese leo mai au CD
Comment[sn]=Bvisa odhiyo kubva kumaCD ako
Comment[so]=Ka jeex cod CD-yadaada
Comment[sq]=Rip audio nga CD-të tuaja
Comment[st]=Hlakola molumo li-CD tsa hau
Comment[su]=Rip audio tina CD Anjeun
Comment[sv]=Rippa ljud från dina CD-skivor
Comment[sw]=Pasua sauti kutoka kwa CD zako
Comment[ta]=உங்கள் குறுந்தகடுகளிலிருந்து ஆடியோவை ரிப் செய்யவும்
Comment[te]=మీ CDల నుండి ఆడియోను రిప్ చేయండి
Comment[tg]=Овозро аз CD-ҳои худ кашед
Comment[th]=ริปเสียงจากซีดีของคุณ
Comment[ti]=ካብ ሲዲታትኩም ድምጺ ምቕንጣጥ
Comment[tk]=CD-leriňizden ses çykaryň
Comment[tl]=I-rip ang audio mula sa iyong mga CD
Comment[to]=Lipe ʻa e ongo mei hoʻo CD
Comment[tr]=CD'lerinizden ses kopyalayın
Comment[ts]=Rip audio eka ti CD ta wena
Comment[tt]=CD-лардан аудио өзегез
Comment[tw]=Rip audio fi wo CD ahorow no mu
Comment[ty]=Haruharu mai roto mai i ta outou mau CD
Comment[ug]=CD ﯓﯛﺯﯜﺋ ﺯﺍﯞﺎﺋ ﻦﯨﺩﺰﯩﯖﯨﺮﯩﻟ
Comment[uk]=Копіюйте аудіо з компакт-дисків
Comment[ur]=۔ﮟﯾﺩ ﺮﯿﭼ ﻮﮐ ﻮﯾﮈﺁ ﮯﺳ ﺰﯾﮈ ﯽﺳ ﯽﻨﭘﺍ
Comment[uz]=Ovozni kompakt disklaringizdan ko'chirib oling
Comment[vi]=Trích xuất âm thanh từ đĩa CD của bạn
Comment[xh]=Khupha iaudio kwiiCD zakho
Comment[yi]=סדק ןייד ןופ אָידואַ פּיר
Comment[yo]=Ripi ohun lati awọn CD rẹ
Comment[zh]=从 CD 中翻录音频
Comment[zu]=Khipha umsindo kuma-CD akho
Comment=Rip audio from your CDs
Exec=ripoff
TryExec=ripoff
Icon=ripoff.xpm
Terminal=false
Type=Application
Categories=AudioVideo
